[2016-09-12 18:02] buchgr commented on #5819
@vkostyukov so you want to use a pooled allocator for reading data off the wire and unpooled for everything else?

[2016-09-12 18:04] vkostyukov commented on #5819
@johnou Sorry I don't have a benchmark, but we did test/canary this change on one of the production services at Twitter. We reliably reproduced the results on different hardware platforms: ~10% less CPU and 25% less p99 latency (maintaining the same throughput).

[2016-09-12 18:05] normanmaurer commented on #5819
@vkostyukov I see... Just be aware that this may still "leak" pooled buffers to the user. As a received buffer may be received by the user.

[2016-09-12 18:07] vkostyukov commented on #5819
Yes, that's a very good point @normanmaurer. We're safe here since we copy everything to the unpooled heap in the very first handler. But this is a very different story and problem deserves a blog post of something. We can chat more when you're in HQ this week :)

[2016-09-12 19:57] vkostyukov commented on #5819
So what do people think? Can this be useful in general?

I totally get that our use case is somewhat special so not everybody mixing pooled/unpooled allocators in their pipelines/apps. That's why I decided to ask here is there are any other possible use cases for that so it deserves it's own channel option.

Even for the apps that end-to-end pooling/unpooling I can this distinction might be useful

[2016-09-12 23:42] ChuntaoLu commented on #5559
seems like the missing images issue is happening again?

[2016-09-12 23:49] #5809 closed

[2016-09-13 00:01] normanmaurer commented on #5805
@p0mp0k0 yes its not supported at all with ThreadPerChannelEventLoopGroup

[2016-09-13 00:01] #5805 closed

[2016-09-13 00:03] normanmaurer commented on #5799
@hbli I tried to even doing this in pure c and it seems like SO_REUSEPORT not works there. So are you sure its even possible ?

[2016-09-13 00:04] normanmaurer commented on #5775
@jokopitoyo please reopen with more infos once you are sure there is an issue

[2016-09-13 00:04] #5775 closed

[2016-09-13 00:10] normanmaurer commented on #5819
@vkostyukov I am not sure why you need any changes for this in netty. Why not just do something like this:

[code]

Then just set it via `ChannelOption. RCVBUF_ALLOCATOR`

[2016-09-13 00:14] #5813 closed

[2016-09-13 00:16] vkostyukov commented on #5819
Thanks @normanmaurer! This is nearly an exact copy of what I have right now (and it works just fine). I was just wondering if we need to have a generic way of doing that. Please, don't get me wrong, I'm totally happy to keep using this approach internally, but decided to check if people think this might be useful for a general case.

[2016-09-13 00:46] vkostyukov commented on #5819
Actually, this version is much more clear than mine! I forgot I can call `super.newHandler` and had to fork the implementation since `HandleImpl` is private. Thanks a lot for the help on this, @normanmaurer! I think I can live with having this wrapped `MaxMessageHandle` - the change is super small now and doesn't seem to cause any maintenance burden. Thanks again!

[2016-09-13 00:46] #5819 closed

[2016-09-13 00:54] normanmaurer commented on #5819
@vkostyukov yay... happy to help :)

[2016-09-13 04:40] AshwinJay commented on #4892
I guess I can answer my own question. I see here that the slice length is always at Short.MAX_VALUE:
https://github.com/netty/netty/blob/83c349ffa94d3992c4ee511d3625afc0c97c12bb/codec/src/main/java/io/netty/handler/codec/compression/SnappyFrameEncoder.java#L71

[2016-09-13 07:57] scadgek commented on #5559
@ChuntaoLu Not for me - just checked and they're all there.

[2016-09-13 10:00] p0mp0k0 commented on #5805
Do you mean that OioEventLoopGroup  does not support shcedule?

[2016-09-13 16:39] Scottmitch commented on #5125
@purpleknightleo - ping.

[2016-09-13 17:53] vkostyukov commented on #5819
Turns out (thanks @kevinoliver!), there `DelegatingHandle` that makes it a pure joy to implement this!

[2016-09-13 17:54] normanmaurer commented on #5819
@vkostyukov high-five to @kevinoliver

[2016-09-14 01:31] henrik-lindqvist opened #5821 "NetUtil.bytesToIpAddress broken for IPv4"
For textual IPv4 representation the method incorrectly performs bit shifts on the array bytes.

4.1.5.Final

[2016-09-14 01:31] normanmaurer commented on #5821
@henrik-lindqvist maybe you can provide a PR ?

[2016-09-14 01:52] Scottmitch commented on #5821
or provide a link to an RFC or specification which describes expected behavior and an input which doesn't produce the expected output.

[2016-09-14 02:10] henrik-lindqvist commented on #5821
NetUtil.bytesToIpAddress(new byte[] { 83, -1, -20, 16 }, 0, 4) returns "0.255.255.16" not "83.255.236.16" as expected. See initial post for cause.

[2016-09-14 02:24] Scottmitch commented on #5708
np ... thanks for following up!

[2016-09-14 02:35] Scottmitch commented on #5477
thanks for following up @ramtg!

BTW our friends at Twitter posted a blog post on this issue https://finagle.github.io/blog/2016/09/01/block-party/

[2016-09-14 02:50] xiepengchong opened #5822 "java.lang.IncompatibleClassChangeError issue happened in 4.x android device"
java.lang.IncompatibleClassChangeError: interface not implemented
	at org.jboss.netty.util.HashedWheelTimer$Worker.fetchExpiredTimeouts(HashedWheelTimer.java)
	at org.jboss.netty.util.HashedWheelTimer$Worker.fetchExpiredTimeouts(HashedWheelTimer.java)
	at org.jboss.netty.util.HashedWheelTimer$Worker.run(HashedWheelTimer.java:368)
	at org.jboss.netty.util.ThreadRenamingRunnable.run(ThreadRenamingRu

[2016-09-14 03:24] kevinoliver commented on #5819
no, but really, need a :beer: for @normanmaurer. thanks!

[2016-09-14 16:54] Spikhalskiy commented on #5631
Closed by https://github.com/netty/netty/pull/5676

[2016-09-14 16:54] #5631 closed

[2016-09-14 17:21] Scottmitch commented on #5819
late to the party ... but using `DelegatingHandle` sgtm. If we were to accept this upstream we would also need to ensure the "copy" semantics are also always used when this `AdaptiveRecvByteBufAllocator` is in use (to avoid leaks as mentioned by @normanmaurer) ... maybe easier / cleaner just to keep it at the higher level?

[2016-09-15 03:41] Scottmitch commented on #5822
Netty 3.x has been EOL. Please update to Netty 4 for support.

[2016-09-15 03:41] #5822 closed

[2016-09-15 03:58] Scottmitch commented on #5800
also FYI Netty 5.x has been discontinued.

[2016-09-15 03:59] Scottmitch commented on #2360
Netty 3 is EOL ... should we just close this as won't fix and upgrade to Netty 4.x is the answer?

[2016-09-15 04:20] Scottmitch commented on #5806
Yes there appears to be a cycle in the class loading. Can you explain why you have `NioEventLoopGroup group = new NioEventLoopGroup();` while you are initializing your logger?

[2016-09-15 04:26] juherr commented on #5806
It comes from io.netty.util.concurrent.DefaultPromise hierarchie.
I found it when I tried to understand the root cause of the exception.

[2016-09-15 04:40] Scottmitch commented on #4059
@normanmaurer - I just did a quick test and our EPOLL module on Linux appears to result in the OS cleaning the FDs after shutdown. I don't think we resolved this issue ... did you verify this no longer occurs on mac?

[2016-09-15 04:44] Scottmitch commented on #5806
What I'm wondering is why you have the following line in `getLoggerFactory()`:

[code]

It doesn't appear to be used and it is creating a cycle during class loading. If I remove this things work as expected.

[2016-09-15 04:49] juherr commented on #5806
I don't know. The logger I use is https://github.com/Graylog2/log4j2-gelf/issues/22 .

[2016-09-15 04:55] Scottmitch commented on #5779
IIRC wrapping the EventLoopGroups is not very practical for some of the issues mentioned by @rkapsi ... i think there are also some factory methods which use `this` that also cause problems...

[2016-09-15 07:29] juherr commented on #5806
Well, I checked the issue again and in my real life scenario the one which is creating `NioEventLoopGroup` is Apache CXF:

[code]

I'm using CXF 3.1.7.

I hope it will help.

[2016-09-15 16:07] Scottmitch commented on #5806
Have you reached out to the Apache CXF folks (I'm not familiar with this code base)?

[2016-09-15 16:26] Scottmitch commented on #5616
@Spikhalskiy - now that @normanmaurer fixed  #5817 ... do you still need to extend the behavior of this handler?

[2016-09-15 16:30] juherr commented on #5806
Not yet, but I'm not able to explain to them what they are doing wrong. They are just creating a `NioEventLoopGroup` and it is failing (what you can reproduce with my sample) in a very specific case: cxf -> netty -> slf4j -> slf4j-to-log2j2 -> log4j2-gelf -> netty (or more generic: cxf -> netty -> slf4j impl using netty -> netty).

If they are not supposed to use `NioEventLoopGroup` for any reason

[2016-09-15 17:49] Scottmitch commented on #5806
In the example code you provided above there is cyclic dependency bcz you are creating a `NioEventLoopGroup` while you are statically loading your logger, but as you indicated `NioEventLoopGroup` depends upon the logger at class load time (cycle). I'm not sure if `CXF` is doing the same thing ... but if so I would also expect a cyclic dependency.

Using [InternalLoggerFactory#setDefaultFactory(..)

[2016-09-15 18:35] CodingFabian commented on #5803
Depending on the scope of the object, they might be allocated on stack rather than on-heap. The backing array cannot be allocated on the stack.

[2016-09-15 18:47] buchgr commented on #5803
@CodingFabian

I think that's rather unlikely for most Netty use cases, where one eventually sends the ByteBuf through the pipeline.

[2016-09-15 18:53] juherr commented on #5806
You can have a look on CXF usage here: https://github.com/apache/cxf/blob/ac9b9b1898bbe0cc911b34cc3d32664ac59fdc34/rt/transports/http-netty/netty-client/src/main/java/org/apache/cxf/transport/http/netty/client/NettyHttpConduitFactory.java#L89

[2016-09-15 19:23] rkapsi opened #5827 "UnsatisfiedLinkError: org.apache.tomcat.jni.Library.version(I)I"
We're trying to upgrade to OpenSSL 1.0.2h it has started failing with the following error (see below). Not sure what has changed. I found a few recent tickets with the same or similar exception but we're not using OSGi.

[code]

[2016-09-15 20:03] juherr commented on #5806
But the problem occurs when `NioEventLoopGroup` is called before logger initialization.
See my sample on https://github.com/Graylog2/log4j2-gelf/issues/22
In my true life use case, CXF is just replacing the main.

Fyi, with log4j2-gelf logger impl, something like

[code]

will fail, with:

[code]

when

[code]

is working as expected

[code]

As workarroud, I may try to init logger on my side befo

[2016-09-15 20:41] rkapsi commented on #5827
Disregard, problem is on this side of the screen.

We run a fedora derivative but our previous OpenSSL libs were built the non-fedora way. The plain linux-x86_64.jar just happened to work. Switching to linux-x86_64-fedora.jar resolved the problem

[2016-09-15 20:41] #5827 closed

[2016-09-16 01:55] Scottmitch commented on #5693
@rkapsi - Humm I'm not so sure ... maybe best to re-visit when the next API breaking change opportunity comes up.

[2016-09-16 01:59] Scottmitch commented on #5787
@rkapsi - having the ability to reject sounds good to me

[2016-09-16 02:03] Scottmitch commented on #5770
I'm fine with making this change (with proper communication as @trustin said)

[2016-09-16 06:04] normanmaurer commented on #5800
Fixed by https://github.com/netty/netty/pull/5825

[2016-09-16 06:04] #5800 closed

[2016-09-16 08:08] ppatierno opened #5828 "MQTT codec : why will message is a "simple" String"
Hi,

why the choice to have the will message in the CONNECT message as a simple String in the MqttConnectPayload class and not a ByteBuf like the payload field in the MqttPublishMessage class ?

Thanks,
Paolo.

[2016-09-16 13:44] Scottmitch commented on #5774
+1. I'll pull together a PR.

[2016-09-16 15:59] rkapsi commented on #5693
@Scottmitch sounds good. Close?

[2016-09-16 16:17] rkapsi commented on #5787
@Scottmitch on closer look there appears to be also a bug. Notice how select's isDone() path throws an DecoderException which in turn goes down the non-SNI path (described above) and if the Future isn't done yet it's adding that listener which doesn't throw but rather sends it down the pipeline.

You'll basically get an inconsistent behavior where the non-SNI path sometimes executes and sometimes

[2016-09-16 16:31] bryce-anderson opened #5831 "HttpServerCodec annot encode a respons e to HEAD request with a 'content-encoding: chunked' header"
Netty versions: 4.x
### Context

It is valid to send a response to a HEAD request that contains a `transfer-encoding: chunked` header, but there is no way to do this using the netty4 `HttpServerCodec`.
### Root of the problem

The root cause is that the netty4 `HttpObjectEncoder` will [transition to the state](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/

[2016-09-16 16:48] normanmaurer commented on #5831
@bryce-anderson interested to provide a PR + unit test ?

[2016-09-16 16:56] bryce-anderson commented on #5831
@normanmaurer Do you mean PR to fix or PR to demonstrate? I'm happy to provide a PR either way, I just want to be clear on what PR we want. 😄

If we are talking about a fix, the easy solution is to adopt the netty3 behavior of resetting the encoder on every new `HttpMessage`, but before making the change I think it's worth quickly discussing if that is an acceptable solution: in my minds eye someo

[2016-09-16 17:31] zsxwing opened #5833 "Feature request: API to release pooled direct buffers in PooledByteBufAllocator"
Right now there is no way to release pooled `DirectByteBuffer`s in `PooledByteBufAllocator`. However, Netty uses no cleaner DirectByteBuffer by default since 4.0.37. Hence, if I create a client using `PooledByteBufAllocator`, then send some messages and shutdown the client, there will be some DirectByteBuffers still in `PooledByteBufAllocator` (they are just put back into the PoolChunkList) and I

[2016-09-16 23:12] normanmaurer commented on #5831
let me fix this...

[2016-09-16 23:18] normanmaurer commented on #5831
@bryce-anderson actually I not understand how this happens. Can you provide a unit test that shows it ?

[2016-09-17 01:45] normanmaurer commented on #5833
@zsxwing so you want to have a way to completely empty the pool ?

[2016-09-17 02:07] zsxwing commented on #5833
@normanmaurer yes.

[2016-09-17 02:10] normanmaurer commented on #5831
@bryce-anderson nevermind... I think I understand it now

[2016-09-17 02:16] normanmaurer commented on #5833
@zsxwing actually I think the more correct solution would be to ensure that all buffers in the `PooledByteBufAllocator` are released when the `PooledByteBufAllocator` is collected. Does this sound correct ?

[2016-09-17 02:24] bryce-anderson commented on #5831
Ah, and I just hacked together an example! Just in case, here it is: https://github.com/bryce-anderson/netty/commit/0fdfcacb67eff649699d266ea6425cb2b93b1218

I apologize in advance, there is probably a cleaner way to do it.

[2016-09-17 04:45] zsxwing commented on #5833
Sounds better :)

[2016-09-17 10:11] blueswhisper commented on #5770
close this issue ? @normanmaurer

[2016-09-17 15:13] normanmaurer commented on #5799
@hbli ping

[2016-09-17 16:09] jlouvel commented on #3902
@jroper We have started building the prototype of [Restlet Framework NG](https://github.com/restlet/restlet-framework) on top of Netty 4.1 and Reactive Streams using your library. So far it works nicely and looks like a perfect match for our needs!

@trustin @normanmaurer I would love to have it part of the Netty project to facilitate collaboration and contributions. Happy to contribute to make it

[2016-09-17 17:55] hbli commented on #5799
Looks like it is not possible. I can't get it to work neither... We may close this issue. Thanks a lot.

[2016-09-17 17:55] #5799 closed

[2016-09-18 03:00] damage85 opened #5835 "OpenSSL Issue"
I used netty4+netty-tcnative.fork16 on centos 6.5, openssl 1.0.2h was installed, and I found a problem as below, I had no idea how to fix this.  My question is I don't know why netty-tcnative try to find libcrypto.so.1.0.0 and how to change the ssl version it needs.

[2016-09-18 12:23] JuKu opened #5836 "Netty 4.0.41.Final io.netty.handler.codec.DecoderException: io.netty.util.IllegalReferenceCountException: refCnt: 0"
Hi,

I have an exception in my pipeline and i cannot really reproduce it.
All JUnit Tests with EmbeddedChannel works without problems.
We are using Netty version 4.0.41.Final.

Here is the full exception:
[code]

Because of "io.netty.handler.codec.ByteToMessageDecoder" in exception, i think the problem is in the decoder, or?

My pipeline:
[code]

The pipeline received an byte stream, convert it to

[2016-09-18 12:24] JuKu commented on #4686
@normanmaurer Is this issue resolved?

[2016-09-19 01:29] jroper commented on #3902
@jlouvel I assume you're using both the `netty-reactive-streams` module as well as `netty-reactive-streams-http`.  What's your opinion on whether `netty-reactive-streams-http` belongs in Netty or not?

[2016-09-19 05:48] fangqiao opened #5837 "io.netty.handler.codec.CorruptedFrameException: RSV != 0 and no extension negotiated, RSV:4"
Hi,

I am developing a simple Websocket messaging application using Netty.

I slightly modified the official Netty Websocket client example as front end testing tool, just added sending cookies at handshake for authorization.

The socket was able to open. But when TextWebSocketFrame was sent back from backend, the client thrown out the following excepton:

io.netty.handler.codec.CorruptedFrameExce

[2016-09-19 05:54] fangqiao commented on #5837
By commenting out the WebSocketClientCompressionHandler at frontend and WebSocketServerCompressionHandler at server side, the problem was solved.

I guess it is incompatibility between the two handlers.

[2016-09-19 06:48] sunng87 commented on #5837
When using websocket compression, you need to set `allowExtension` to `true` when adding WebSocketServerProtocolHandler and WebSocketClientProtocolHandler.

[2016-09-19 07:03] fangqiao commented on #5837
@sunng87  thanks. It works.

**The example code set allowExtension to false.**  even compression handler was added.

May I suggest to update the example?

[2016-09-19 11:28] evgenyvsmirnov commented on #5232
Hi @normanmaurer . I have additional information about the issue. In my case the problem occurs only with CombinedChannelDuplexHandlers.
See two versions of CCDH below. In both cases MyInboundHandler/MyOutboundHandler are stateless and access channel attributes. There was no such problem in 4.0.28. I have encountered it with 4.1.0.RC7 and it is still reproducible with 4.1.5.

Pipelines with such h

[2016-09-19 16:50] luengnat opened #5838 "DnsNameResolverBuilder does not instantiate InflightNameResolver"
wrt https://github.com/netty/netty/pull/5267, DnsNameResolverBuilder does not instantiate InflightNameResolver. The only place that InflightNameResolver is used is https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/DnsAddressResolverGroup.java#L73. The method is already marked as deprecated and the replaced method (https://github.com/netty/netty/blob/4.1/resol

[2016-09-19 23:10] #5787 closed

[2016-09-20 00:24] vkostyukov commented on #3467
Would also totally appreciate some comments there :)

[2016-09-20 15:00] Spikhalskiy opened #5839 "Unclear exception"
netty: 4.0.41.Final

Sometimes get exception with very unexplicit stacktrace and message:
io.netty.channel.AbstractChannel$AnnotatedConnectException: syscall:getsockopt(...): _<hostname>_/_<ip>_:_<port>_
	at io.netty.channel.unix.Socket.finishConnect(...)(Unknown Source)

Would be great to add more diagnostic to this exception what happened.

[2016-09-20 19:23] christhalinger opened #5840 "PlatformDependent0 array access methods all use BYTE_ARRAY_BASE_OFFSET"
While investigating a bug we are seeing I noticed that all array access methods in `PlatformDependent0` use the same `BYTE_ARRAY_BASE_OFFSET`:

https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/PlatformDependent0.java#L355

While this might work now it is wrong to assume this will be the case in future Java release or even other Java implementations.  The proper t

[2016-09-20 19:29] christhalinger commented on #5840
Never mind.  We just realized you are writing only to `byte[]`.

[2016-09-20 19:29] #5840 closed

[2016-09-20 23:47] douglasc-nflx opened #5841 "Regression: JVM crash in tcnative-boringssl during mutual TLS handshake with chain"
Netty version: 4.1.5.Final

Context:
Initiating client TLS negotiation with a certificate chain (client cert + trust chain) on netty 4.1.5.Final with netty-tcnative-boringssl-static 1.1.33.Fork21 on Ubuntu 14.04 causes the JVM to crash with SIGABRT / exit code 134.

This scenario worked with netty 4.1.3.Final / netty-tcnative-boringssl-static 1.1.33.Fork19 and prior.  It still succeeds when the cl

[2016-09-20 23:53] normanmaurer commented on #5841
@douglasc-nflx will check

[2016-09-20 23:54] normanmaurer commented on #5841
can you also try with 4.1.6.Final-SNAPSHOT which uses a new (netty-tcnative version) ?

[2016-09-21 02:01] jackoll8868 commented on #5836
do you release bufer both in MessageDecoder and MessageToSectorMessageDecoder?

[2016-09-21 13:00] JuKu commented on #5836
@jackoll8868 Thanks for your answer! :D
Yes. :D

But is it the same ByteBuf?
Code is here:
https://gist.github.com/JuKu/6035053d717d471a49b7a04e87a0abe1
https://gist.github.com/JuKu/31633535be18071e8570f18736eae7f8

[2016-09-21 13:11] JuKu commented on #5836
I have correct the answer above.
We dont release any buffers in MessageDecoder or MessageToSectorMessageDecoder.
We only retain (ByteBuf.retain) this messages.

@normanmaurer @jackoll8868 Maybe netty auto release this buffers or / and its an bug?

[2016-09-21 14:25] uglycow opened #5842 "Memory leak : java.lang.OutOfMemoryError “Direct buffer memory”"
you may encounter this problem when you are using
[code]
and configure your Encoder as “preferDirect = false”, so you are using  HeapBuf for encoding.
[code]

the problem is caused by the code below

[code]

- netty tried to convert the HeapBuf into a DirectBuf (filterOutboundMessage method)。The DirectBuf  is retrieved from RECYCLER
- RECYCLER  may hold a large amount of ThreadLocalDirectByteBuf.

[2016-09-21 15:51] normanmaurer commented on #5841
@douglasc-nflx can you provide me a full working reproducer ? I tried `gradle run` but this not works as a standalone

[2016-09-21 15:54] normanmaurer commented on #5837
This is fixed in 4.1 branch and will be part of the next release.

[2016-09-21 15:55] #5837 closed

[2016-09-21 16:21] douglasc-nflx commented on #5841
Where can I find 4.1.6.Final-SNAPSHOT, and which tcnative does it do I need to build it?  We tried using 4.1.5-Final with the latest netty-tcnative-boringssl-static 1.1.33.Fork22 and observe the same crash.

It runs as a standalone program on my Ubuntu 14.04 host:

$ sudo apt-get install gradle
$ sudo ln -s /usr/lib/jvm/java-8-oracle /usr/lib/jvm/default-java
$ gradle run

:compileJava
:processRes

[2016-09-21 17:27] normanmaurer commented on #5841
@douglasc-nflx where can I see the crash log ?

[2016-09-21 17:34] normanmaurer commented on #5841
@douglasc-nflx ah sorry I missed it will cause a "SIGABRT". Let me check whats wrong

[2016-09-21 18:09] luengnat commented on #5841
Looks like it crashes in CRYPTO_refcount_dec_and_test_zero method

[code]

[2016-09-21 18:19] douglasc-nflx commented on #5841
You may fork https://github.com/douglasc-nflx/netty-tcnative-crash-demo and/or include this code in netty if needed.  Thanks.

[2016-09-21 18:39] luengnat commented on #5841
Is it a double free bug somewhere caused by https://github.com/netty/netty/commit/7d774584c8fbf6652e1efbaf80afd64d6b82f324 ?

[2016-09-21 20:08] normanmaurer commented on #5841
@douglasc-nflx is that I think I know what causes the problem and currently writing a unit test.  Thanks for providing the code!

@luengnat no its not related.

[2016-09-21 21:28] normanmaurer commented on #5841
@douglasc-nflx this fixes the problem: https://github.com/netty/netty-tcnative/pull/190 ... Working on an self-contained test-case now.

[2016-09-21 21:55] normanmaurer commented on #5839
@Spikhalskiy basically this means the connection request failed. What infos you are looking for ?

[2016-09-21 21:56] normanmaurer commented on #5836
@JuKu `*Encoder` and `*Decoder` automatically release the inbound message (as stated in the javadocs) so this is expected. If you want to hold on the slice after the methods returns you need to retain it.

[2016-09-21 21:56] #5836 closed

[2016-09-21 21:57] normanmaurer commented on #5828
@ppatierno because we thought this is the most useful. Why you want it to be a `ByteBuf` ?

[2016-09-21 21:57] normanmaurer commented on #5796
@idelpivnitskiy did you have time yet ?

[2016-09-21 22:05] normanmaurer commented on #5831
@bryce-anderson PTAL at https://github.com/netty/netty/pull/5846

[2016-09-21 22:12] normanmaurer commented on #5833
@zsxwing I think this should fix it: https://github.com/netty/netty/pull/5847

[2016-09-22 00:41] Scottmitch opened #5850 "DefaultHttp2FrameWriter.writeGoAway leak"
[code]

[2016-09-22 00:43] Scottmitch commented on #5850
number of leak detector records increased in https://github.com/netty/netty/pull/5849 so the leak report will be more helpful in the future

[2016-09-22 01:08] jlouvel commented on #3902
@jroper Yes I'm using both modules and think it would make sense to have both of them in Netty at this stage. But I'm not very advanced in term of implementation as I haven't added support for HTTP body streaming yet (series of HttpContent events).

[2016-09-22 06:00] Scottmitch opened #5851 "SingleThreadEventLoopTest#scheduleLaggyTaskAtFixedRateB failure"
[code]

[2016-09-22 06:00] Scottmitch commented on #5851
Discovered while building PR https://github.com/netty/netty/pull/5844

https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=12611#_focus=84902&state=84902

[2016-09-22 07:03] ppatierno commented on #5828
The encoding for the payload of the MqttPublishMessage uses a ByteBuf and it's right because the payload of a published MQTT message (PUBLISH) must be considered as something binary (not necessary printable characters like for a String). For the same reason the will message inside CONNECT should be something binary; when the MQTT broker has to send the will message, it builds a PUBLISH message and

[2016-09-22 07:35] Scottmitch commented on #5739
we love PRs ... any interest in submitting one?

[2016-09-22 08:02] JuKu commented on #5836
@normanmaurer @jackoll8868  If you have looked to the code, you could see, that i retain the ByteBuf 2x.
But it doesnt works.

Code Example:
[code]

content.retain() increments the reference counter of ByteBuf.
It looks more like an bug for me.

[2016-09-22 09:38] jackoll8868 commented on #5836
@JuKu change the code

            in.skipBytes(length - Message.HEADER_LENGHT);

            // increment refcount since content is a slice of in and
            // ByteToMessageDecoder will release in
            content.retain();
to

   in.skipBytes(length - Message.HEADER_LENGHT);

[2016-09-22 12:19] JuKu commented on #5836
We have fixed the problem now.
Thanks to all answers in this issue!

But the problem wasnt the decoder, it was the encoder, there we had to add an content.retain().
This means also, that netty exception was wrong, because their is this log:
[code]

@jackoll8868 @normanmaurer Is this an bug?

[2016-09-22 13:51] aniketbhatnagar commented on #5647
Create PR #5852. Please have a look.

[2016-09-22 16:25] buchgr opened #5853 "h2childchan: Stream active and closed events"
The `Http2FrameCodec` emits `Http2StreamActive` and `Http2StreamClosed` events for whenever a stream becomes active or is closed.

I would argue that emitting an event on stream active is only useful when creating a new stream through a HEADERS frame, as it might fail due to e.g. stream id exhaustion or max concurrent streams. In the case of an incoming active stream, it does not seem useful as th

[2016-09-22 16:43] buchgr commented on #5853
Even in the case when creating an outgoing stream, one could just listen to the write future. So I think it can be removed completely.

[2016-09-22 18:05] igouss opened #5854 "Front page: improve wording in the performance section"
=== Performance===
- Better throughput, lower latency
- Less resource consumption
- Minimized unnecessary memory copy

Better and less appear to be weasel words. Maybe we should rephrase them:
- Better throughput, lower latency than ..
- Less resource consumption than ...

[2016-09-22 20:04] solutionsmint commented on #327
hi, any solutiion to this problem?

We are running on a linux server using , Java 8 and Netty 3.10.4.Final

[2016-09-23 00:06] #5821 closed

[2016-09-23 00:08] #5693 closed

[2016-09-23 05:58] Scottmitch commented on #4073
@mosesn - Sorry for the delay. I would recommend focusing efforts on the child channel API / implementation.

[2016-09-23 06:34] Scottmitch commented on #5838
@trustin - wdty?

[2016-09-23 09:20] juherr commented on #5806
The workaround is working.

[2016-09-23 15:08] buchgr opened #5855 "h2childchan: Support void promises"
The `Http2MultiplexCodec` and `Http2FrameCodec` should support void promises.

[2016-09-23 15:44] rkapsi opened #5856 "~2GB of objects tied up in SslHandler's pendingUnencryptedWrites"
We did some SSL/H2 testing yesterday and one of our servers crashed in a rather odd way. It seems one SslHandler instance's pendingUnencryptedWrites managed to create a linked-list of 21M PendingWrite instances.

The referenced `msg` object appears to be in all cases an `EmptyByteBuf` and the PendingWriteQueue is itself also reporting a size of 0.

At the same time there was a ton of IllegalRefere

[2016-09-23 15:46] normanmaurer commented on #5856
Interesting.... will have a look

[2016-09-23 15:53] mosesn commented on #4073
@Scottmitch yeah, I basically had to reimplement child channels to get something working on my end.  seems reasonable.

[2016-09-23 16:05] rkapsi commented on #5856
I'm not entirely sure the stack trace and dump correlate but oddly enough, SslHandler's two flush() method flavors reference that one EMPTY_BUFFER that appears to be the `msg` in the dump.

[2016-09-23 16:49] Scottmitch commented on #5856
@rkapsi - do you have any idea where the EmptyByteBuf's writes are originating from? Anything interesting with your use case that may generate these?

Can you clarify why the`bytes()` method returns, and what the `size()` method returns?

I guess there are buffers other than `EmptyByteBuf` involved? `EmptyByteBuf` cannot be released and always returns 1 for refCnt.

[2016-09-23 17:31] Scottmitch commented on #5806
good to hear you are making progress ... I'm not convinced this is a Netty issue yet. If you can provide a reproducer with just Netty that would help me understand the issue more.

[2016-09-23 18:00] rkapsi commented on #5856
@Scottmitch: Bad wording on my end. PendingWriteQueue's bytes is 0 and size is 21685346 which is approximately the number of `$PendingWrite` instances. Each `$PendingWrite` is reporting a size of 0 and has `EmptyByteBuf` for its msg.

https://github.com/rkapsi/sqsp-yk/blob/master/e.png

So it appears, it's 21M element linked list of `$PendingWrites` with `EmptyByteBufs`.

The affected connection i

[2016-09-23 18:25] rkapsi commented on #5856
Maybe one thing that is interesting... We have a generic ExceptionHandler at the end of our pipeline. It logs uncaught Exceptions and if the Channel reports it's `isActive()==true` it is trying to write an error message.

I'm wondering... Could it be a catch exception, write, flush throws Exception, catch exception, write, flush... death spiral? There is a `ctx#close()` in that Exception handler b

[2016-09-23 19:00] juherr commented on #5806
I've already provided the sample :)

The problem only occurs when a logger implementation and the business code use netty AND only if the logger is initialized after the first usage of netty.

I don't know if we can call it a "netty issue" but I think netty is the best place to make a fix.

[2016-09-23 20:38] mosesn opened #5857 "http/2 cleartext upgrade + prior knowledge"
http/2 cleartext has two mechanisms, the http/1.1 upgrade header, and the connection preface.  Netty supports inspecting the connection preface in Http2ConnectionHandler, and supports upgrading via the http/1.1 upgrade header in HttpServerUpgradeHandler + Http2ServerUpgradeCodec.  However, it's not obvious how to combine the two of these into a single piece.  One difficulty is that there are sever

[2016-09-23 20:57] slandelle opened #5859 "SSL hanshake failure"
Hi there,

Please consider [this sample](https://gist.github.com/slandelle/ff88f79d53bcae787a26ffb86ff600e7).

It always crashes when trying to connect to "https://netty.io".

Issue was originally reported against AHC, see https://github.com/AsyncHttpClient/async-http-client/issues/1252.

It doesn't seem to be actually related to SNI, as the sample works fine against "https://github.com" that has

[2016-09-23 21:01] slandelle commented on #5859
Additional comment: issue doesn't happen with ACH1 that runs on Netty 3 instead of 4.0.

[2016-09-23 21:54] Scottmitch commented on #5857
related to https://github.com/netty/netty/issues/4438

[2016-09-23 22:21] normanmaurer commented on #5833
Fixed by https://github.com/netty/netty/pull/5847

[2016-09-23 22:21] #5833 closed

[2016-09-24 00:23] Scottmitch commented on #5856
Are you able to reproduce this issue?

Have you tried removing this code?

[2016-09-24 00:25] Scottmitch commented on #5806
I've already explained what is wrong with the example in https://github.com/netty/netty/issues/5806#issuecomment-247400442.

[2016-09-24 13:05] juherr commented on #5806
Just apply the provided patch on the `4.1` branch and try to run `EchoServer`.
[Netty_issue__5806.txt](https://github.com/netty/netty/files/491122/Netty_issue__5806.txt)

Is it clear enough for you now?

[2016-09-24 17:15] normanmaurer commented on #5859
Will check

[2016-09-24 18:08] Scottmitch commented on #5806
Yes this is helpful. The initialization is a bit incestuousness in that the statically initialized logger is attempting to use Netty, and Netty statically needs to use the logger which is being initialized. However I think I can come up with a PR to prevent the exception ... standby

[2016-09-24 18:57] slandelle commented on #5859
Thanks. I had a quick look at the ssl debug log, it looked like the engine wasn't getting fed enough bytes. Sadly, I won't be able to investigate myself for quite some time :(

[2016-09-24 19:28] Scottmitch commented on #5806
I was able to push off the static exception for a bit, but I don't think the way `gelfclient` is being used will work because as previously stated there is a cycle during static initialization. After I was able to push off the first issue more issues related to static state used by netty will pop up. For example [AbstractGelfTransport](https://github.com/Graylog2/gelfclient/blob/master/src/main/ja

[2016-09-24 19:49] Scottmitch commented on #5859
I think it may be a server issue. Your example is able to connect to other well known hosts without issue. Also openssl's s_client also detects an error:

[code]

[2016-09-24 20:06] slandelle commented on #5859
But I have no problem with Chrome, Firefox and curl.

[2016-09-24 20:21] slandelle commented on #5859
@Scottmitch Actually, you could be right. I forced SSLEngine to use the same cipher suite as curl, `TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256` and it worked.

[2016-09-24 23:49] normanmaurer commented on #5859
So can we close this one ?

[2016-09-25 05:34] joymufeng commented on #5859
@slandelle This issue is indeed caused by the servers of CloudFlare, because they only support the following Cipher Suites:
[code]
This test result is reported by [ssllabs](https://www.ssllabs.com/ssltest/analyze.html?d=netty.io&s=104.28.8.44).

[2016-09-25 05:52] Scottmitch commented on #5859
I will close for now @slandelle please re-open if you feel there is a Netty component to this issue.

[2016-09-25 05:52] #5859 closed

[2016-09-25 06:45] juherr commented on #5806
In fact, they already have a shaded artifact: http://search.maven.org/#search%7Cga%7C1%7Clog4j2-gelf

And it looks working as expected with:

[code]

[2016-09-25 08:06] slandelle commented on #5859
Honestly, it bugs me that Netty fails by default where other user-agents (tested with Chrome, FireFox and curl) succeed.
By default, `JdkSslHandler` only enables the following cipher suites:
* TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
* TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
* TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
* TLS_RSA_WITH_AES_128_GCM_SHA256
* TLS_RSA_WITH_AES_128_CBC_SHA
* TLS_RSA_WITH_AES_256_CBC_SHA

[2016-09-25 13:17] Underbalanced opened #5860 "SSLHandler Removal Exceptions"
I use SSL as my form of server to server authentication in a back-end configuration. When I remove or close the SSL Handler so that I can make my connection unsecured once authenticated. I keep getting exceptions and I have tried this in multiple ways on both the client and server.  My handlers and pipeline...
[code]

- First I tried removing the handler on both ends after handshake success.

[cod

[2016-09-25 13:56] joymufeng commented on #5859
@normanmaurer Is it necessary for netty to support more cipher suites?

[2016-09-25 15:18] JuKu commented on #5836
This method doesnt exists in Netty 4.0.41.Final.

-----Original-Nachricht-----
Betreff: Re: [netty/netty] Netty 4.0.41.Final
io.netty.handler.codec.DecoderException:
io.netty.util.IllegalReferenceCountException: refCnt: 0 (#5836)
Datum: 2016-09-22T11:39:23+0200
Von: "AllenChen" <notifications@github.com>
An: "netty/netty" <netty@noreply.github.com>

@JuKu <https://github.com/JuKu> change the code

[2016-09-25 15:20] ewie opened #5861 "HttpUtil.getContentLength(HttpMessage, long) throws unexpected NumberFormatException"
The Javadocs of `HttpUtil.getContentLength(HttpMessage, long)` and its `int` overload state that the provided default value is returned if the Content-Length value is not a number. `NumberFormatException` is thrown instead [1] causing the method to behave like `HttpUtil.getContentLength(HttpMessage)` where the exception is explicitly documented for this case.

[1] https://github.com/netty/netty/bl

[2016-09-25 19:09] rkapsi opened #5862 "Http2EventAdapter's onUnknownFrame() is missing throws Http2Exception"
`Http2EventAdapter` implements the `Http2FrameListener` interface but implements the `#onUnknownFrame(...)` method without the interface's `throws Http2Exception`.

... causing compiler errors down the road if you're trying to implement a delegate or something like that.

[2016-09-26 01:42] Scottmitch commented on #5806
to clarify using the shaded jar resolved this issue?

[2016-09-26 01:59] Scottmitch commented on #5859
AFAIK there is no reason why we can't add a few more cipher suites to the default set. It has been a while since we have re-visited this. Any objections to the following approach for starters:

[code]

and removing (older cipher using 3des):

[code]

[2016-09-26 02:06] Scottmitch commented on #5859
Just to clarify @joymufeng you are free (and generally encouraged) to specify your own list of ciphers via [SslContextBuilder#cihpers(..)](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslContextBuilder.java#L337).

[2016-09-26 02:19] #816 closed

[2016-09-26 02:19] trustin commented on #816
Closing, then. :-)

[2016-09-26 03:49] joymufeng commented on #5859
@Scottmitch Great! Thanks for reminding!

[2016-09-26 03:51] normanmaurer commented on #5862
Let me fix it

[2016-09-26 12:20] adjsnlxx commented on #327
hi, any solutiion to this problem?
We are running on a linux server using , Java 8 and Netty 4.1.5.Final

"nioEventLoopGroup-3-2" #56 prio=10 os_prio=0 tid=0x0000000017f2b800 nid=0x46c7 runnable [0x00002af3fe020000]
   java.lang.Thread.State: RUNNABLE
	at sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)
	at sun.nio.ch.EPollArrayWrapper.poll(EPollArrayWrapper.java:269)
	at sun.nio.ch.EPollSele

[2016-09-26 12:21] adjsnlxx commented on #327
cpu 100%

"nioEventLoopGroup-3-2" #56 prio=10 os_prio=0 tid=0x0000000017f2b800 nid=0x46c7 runnable [0x00002af3fe020000]
java.lang.Thread.State: RUNNABLE
at sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)
at sun.nio.ch.EPollArrayWrapper.poll(EPollArrayWrapper.java:269)
at sun.nio.ch.EPollSelectorImpl.doSelect(EPollSelectorImpl.java:93)
at sun.nio.ch.SelectorImpl.lockAndDoSelect(SelectorImpl.j

[2016-09-26 12:46] adjsnlxx commented on #2465
netty 4.1.5
jdk 1.8.101
the CPU usage is almost 100%.

"nioEventLoopGroup-3-2" #56 prio=10 os_prio=0 tid=0x0000000017f2b800 nid=0x46c7 runnable [0x00002af3fe020000]
   java.lang.Thread.State: RUNNABLE
	at sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)
	at sun.nio.ch.EPollArrayWrapper.poll(EPollArrayWrapper.java:269)
	at sun.nio.ch.EPollSelectorImpl.doSelect(EPollSelectorImpl.java:93)
	at su

[2016-09-26 15:47] rkapsi commented on #5856
@Scottmitch I'll see if I can write a simple standalone version and hopefully repro it. It may take a few days.

We haven't re-run the previous test and aren't planning to due to some other unrelated reasons.

[2016-09-26 17:21] Underbalanced commented on #5842
- Do you have the full stack trace?
- What happens when you use Pooled && !preferDirect? Over Unpooled and && !preferDirect?
- Is this your handler? Where is your logic from Object with it being written to the channel or channel handler context with it passing through the pipline? The code you said that is causing the problem does not seem to have a problem and is acting on the msg as its intended

[2016-09-26 20:04] stickFigure1235 opened #5863 "Channels class in Netty 3."
In Netty 3, there is a Channels class. What is the equivalent of Channels class in Netty 4?

Thanks.

[2016-09-26 21:21] luengnat commented on #5838
@trustin nudge :)

[2016-09-26 22:02] kupci commented on #327
@adjsnlxx What exact version of the JDK are you using? Curious because we ran into a very similar issue, not with Netty but with Oracle Coherence, and turned out to be JDK bug. Our instances would lock up, hit max server threads and stop responding. What drew me to this thread was the epollWait calls in the thread dumps. Here was our thread stack trace:
java.lang.Thread.State: RUNNABLE
	at sun.nio

[2016-09-27 02:02] adjsnlxx commented on #327
@kupci I am using Java version is 1.8.0_101,netty 4.1.5

[2016-09-27 02:57] trustin commented on #5838
`DnsNameResolverBuilder`, by its name, is supposed to build a `DnsNameResolver`, not an `InflightNameResolver` that wraps a `DnsNameResolver`.

Perhaps we could:

- make `DnsNameResolver` an abstract class,
- move the implementation of `DnsNameResolver` to some other class such as `DnsNameResolverImpl`
- create a `DefaultDnsNameResolver` that 1) extends `DnsNameResolver` and 2) is composed of `Inf

[2016-09-27 03:35] normanmaurer commented on #5863
@stickFigure1235 what exactly you are looking for ? This utility class is not needed in Netty anymore. That said please use stackoverflow or our google group for questions.

[2016-09-27 03:35] #5863 closed

[2016-09-27 03:37] normanmaurer commented on #5860
Please share the code of you custom handlers. In general it seems like you do something bad in your handler. Also it seems like you use a very old version of netty. Please upgrade to latest 4.1 release.

[2016-09-27 03:37] normanmaurer commented on #5861
@ewie sounds like a bug... let me fix it.

[2016-09-27 03:53] luengnat commented on #5838
* I'm not sure about the benefit of using DnsNameResolver by default. The default behavior does not look appealing given that it already has a DNS caching implemented but it does not handle the in-flight requests well.
* Wouldn't it be simpler to wrap around DnsNameResolver with InflightNameResolver  by default in DnsAddressResolverGroup.java?

[2016-09-27 08:25] patrickseptem opened #5864 "io.netty.buffer.AbstractUnpooledSlicedByteBuf.getBytes(int index, ByteBuffer dst) bug"
The checkIndex0 method will throw java.lang.IndexOutOfBoundsException when I pass a dst which remaining greater than the buf's data size.

The 4.0.23 version doesn't have this issue, while 4.0.36 & above version all get this issue. Could you take a look? Thanks.

[2016-09-27 08:26] normanmaurer commented on #5864
@patrickseptem can you provide a reproducer ?

[2016-09-27 08:49] patrickseptem commented on #5864
import static org.junit.Assert.*;
import io.netty.buffer.ByteBuf;
import io.netty.buffer.Unpooled;

import java.nio.ByteBuffer;

import org.junit.Test;

public class NettyTest {

	@Test
	public void test() {
		ByteBuffer nioBuffer = ByteBuffer.allocate(1000);
		ByteBuf wrappedBuffer = Unpooled.wrappedBuffer("abcdefg".getBytes(), 1, 6);
		wrappedBuffer.getBytes(wrappedBuffer.readerIndex(), nioBuffe

[2016-09-27 10:09] spshukla commented on #473
I am using **Netty 4.1.5.Final** and observing following issue while using DefaultEventExecutorGroup.

The threads spawned from this event executor group is eating up all CPU. I took the thread dump of application and verified the thread count is same as defined as constructor param in **DefaultEventExecutorGroup**.

Initialize event executor group
`EventExecutorGroup eventExecutor = new DefaultEv

[2016-09-27 10:39] normanmaurer commented on #5864
@patrickseptem actually I think this is correct as stated in the javadocs:

[code]

[2016-09-27 12:55] dreamershl opened #5865 "netty epoll native throw java.lang.IllegalArgumentException in linux(debian)"
Netty version: 4.1.5.Final

When start application, the following exception is thrown from netty

    Caused by: java.lang.IllegalArgumentException
    at sun.misc.Unsafe.allocateMemory(Native Method)
    at io.netty.util.internal.PlatformDependent0.allocateMemory(PlatformDependent0.java:627)
    at io.netty.util.internal.PlatformDependent.allocateMemory(PlatformDependent.java:262)
    at io.netty

[2016-09-27 14:22] evgenyvsmirnov opened #5866 "HttpToHttp2ConnectionHandler ignores HttpConversionUtil.ExtensionHeaderNames.STREAM_DEPENDENCY_ID in write(ctx, msg, promise)"
Hello. I’m trying to open a dependent HTTP/2 stream but it seems that HttpToHttp2ConnectionHandler.write(ctx, msg, promise) ignores HttpConversionUtil.ExtensionHeaderNames.STREAM_DEPENDENCY_ID header in outbound message (and so all streams depend on connection). Isn’t it necessary to use the following version of writeHeaders version when the mentioned header is specified?
[code]
Netty version: 4.1

[2016-09-27 14:32] kupci commented on #327
@adjsnlxx Are you able to test the issue with the JDKs mentioned above, i.e. JDK before JDK1.7.0_80, or before JDK1.8.0_25? For example, we did not see issue with JDK1.7.0_25. I realize you may have Java 8 code, or they may be other bugs that prevent you from doing this, but it would help rule out the possibility that what you are seeing is a JDK bug.

[2016-09-27 14:54] Underbalanced commented on #5860
@normanmaurer

- My apologize I should have known to provide the tested versions as well as the code showing without my handlers.
- The code below is neutral and basic using only Netty and produces the same exception when removing the SSL handlers, the error happens on both ends and it happens on both `4.1.5.Final` and `4.0.41.Final`

[code]

[2016-09-27 15:09] normanmaurer commented on #5860
@Underbalanced awesome... will have a look later today.

[2016-09-27 15:11] Underbalanced commented on #5860
@normanmaurer

 I edited. Just added this...

•The exception is still thrown when I add  sslHandler.close();  before  ch.pipeline().remove(SSL_HANDLER);  in the Handshake Future Listener

•A better question might be what is the proper way to upon SSL handshake completion breakdown the SSL and remove the handlers and ensure the channels are ready for communications again?

[2016-09-28 01:55] radai-rosenblatt opened #5868 "Windows build fails as default hosts file is empty"
DefaultHostsFileEntriesResolverTest relies on DefaultHostsFileEntriesResolver parsing the hosts file on creation. on windows this file is C:\Windows\System32\drivers\etc\hosts and (at least on win7, probably others) its empty, while the test assumes the hosts file contains an entry for localhost.

see this ServerFault link for more details - http://serverfault.com/questions/4689/windows-7-localhos

[2016-09-28 05:59] normanmaurer commented on #5866
@evgenyvsmirnov I think you are right... let me fix it.

[2016-09-28 06:29] evgenyvsmirnov commented on #5866
Thanks. I think the same story with InboundHttp2ToHttpAdapter.onHeadersRead (the fact that streamDependency != 0 is ignored).

BTW. Why it is in 4.0.42.Final milestone? Shouldn't it be in 4.1.6.Final (I'm using 4.1.5.Final)?

[2016-09-28 06:31] normanmaurer commented on #5866
@evgenyvsmirnov yep... sorry milestone was wrong.

[2016-09-28 06:35] normanmaurer commented on #5866
@evgenyvsmirnov isn't this handled in `InboundHttp2ToHttpPriorityAdapter` ?

[2016-09-28 06:43] evgenyvsmirnov commented on #5866
I'm sure it is not (at least in 4.1.5.Final). A FullHttpResponse I got in subsequent handlers doesn't contain STREAM_DEPENDENCY (it is > 0 in onHeadersRead invocation).

I had to «fix» in following way:

[code]

[2016-09-28 06:46] normanmaurer commented on #5866
@evgenyvsmirnov ah sorry I see now :)

[2016-09-28 07:18] patrickseptem commented on #5864
If you mean the second exception condition met in the above test case, then I can provide another not failed which met the condition: index+des.remaining()>this.capacity also:
[code]

And this exception condition confuse me: why I transfer a ByteBuf's data to a bigger ByteBuffer which still has enough capacity will throw an IndexOutOfBoundsException.

[2016-09-28 07:20] normanmaurer commented on #5864
@patrickseptem is this exactly what the javadocs say ?

[code]

Just limit the ByteBuffer to the readableBytes of the ByteBuf.

[2016-09-28 07:51] patrickseptem commented on #5864
Yah, the doc just described the exception condition, no more. I meet the issue because I upgrade the netty version from 4.0.23 to 4.0.41, then I try to use the latest 4.1.5 to resolved, all failed.

If the implemention of getBytes() in latest netty is correct, then the issue should be in 4.0.23, and the second test case "test2" pasted above should failed too.

Test cases "test" and "test2" should

[2016-09-28 07:59] normanmaurer commented on #5864
@patrickseptem yep... let me ensure it is consistent.

[2016-09-28 08:38] normanmaurer commented on #5856
@rkapsi thanks!

[2016-09-28 09:22] floragunncom opened #5870 "OpenSSL with netty 4.1.5 and tcnative 1.1.33.Fork21/22 crash"
OpenSSL with netty 4.1.5 and tcnative 1.1.33.Fork21 and 1.1.33.Fork22 crash:

<pre>
[Dynamic-linking native method sun.nio.ch.SocketChannelImpl.checkConnect ... JNI]
[Dynamic-linking native method org.apache.tomcat.jni.SSL.readFromBIO ... JNI]
[Dynamic-linking native method sun.nio.ch.SocketChannelImpl.checkConnect ... JNI]
[Dynamic-linking native method sun.nio.ch.FileDispatcherImpl.preClose0 ...

[2016-09-28 09:23] normanmaurer commented on #5870
I think this is a duplicate of:

https://github.com/netty/netty-tcnative/pull/190

[2016-09-28 09:35] baiwfg2 commented on #3338
hi @steven-gao can you expain more more details? thanks

[2016-09-28 10:19] ppatierno commented on #5828
so @normanmaurer does it make sense to you ? Or do you have any concerns about it ?

[2016-09-28 11:20] normanmaurer commented on #5870
@floragunncom WDYT ?

[2016-09-28 11:23] normanmaurer commented on #5853
@buchgr isnt at least the "active" event useful as otherwise a user would have to check if the stream was active on each header processing to do something to init the stream one time.

[2016-09-28 12:53] buchgr commented on #5853
I have yet to open a PR, but I have reworked the `Http2FrameCodec` a bit and removed the active and closed event. Here is what it will eventually look like without events. I think that's much easier and netty-like.

[code]

WDYT?

[2016-09-28 15:16] dminkovsky opened #5871 "RFC: SMTP server codec"
A client codec was added by @normanmaurer in #4194. A server codec would be amazing.

Opening this issue to see what people think. Please comment regarding potential challenges or thoughts in general.

[2016-09-28 18:17] floragunncom commented on #5870
I'll test it with 1.1.33.Fork23-SNAPSHOT. Is this available somewhere in a public maven repo?

[2016-09-28 22:31] headius commented on #2448
jnr/jnr-unixsocket#31 is fixed and will be released in 0.13.
jnr/jnr-enxio#15 and jnr/jnr-enxio#16 are not yet fixed, but I'd appreciate help getting them into jnr-enxio 0.14.

Sorry these have sat for a while, folks. Let's fix 'em :-)

[2016-09-29 02:22] radai-rosenblatt opened #5874 "SniHandlerTest.testServerNameParsing() fails"
the test runs up to line 154:

[code]

but at that point, both `ch.inboundMessages` and `ch.outboundMessages` are null, so `ch.finish()` returns false and the test fails as it expects true.

this happens to me when building under windows 7 using the git shell:

[code]

[2016-09-29 09:26] spshukla opened #5881 "Using DefaultEventExecutorGroup leads to high CPU usage & low throughput in Netty 4.1.5"
I am using `Netty 4.1.5.Final` and observed the following issue while using **DefaultEventExecutorGroup**.

The threads spawned from this event executor group is eating up all CPU. I took the thread dump of application and verified the thread count is same as defined as constructor param in **DefaultEventExecutorGroup**.

**Observation:-**
If I assign more threads (greater than CPU cores) to Defau

[2016-09-29 11:07] spshukla commented on #5881
Please find the thread dump for few threads

[code]

[2016-09-29 12:06] uglycow opened #5882 "suggestion for NioEventLoop: make sure the task get chance to run"
In the NioEventLoop, if processSelectedKeys() keeps throwing Exception, Tasks get no chance to run.

My situation is  processSelectedKeys() keeps throwing OutOfMemoryError, and my TimeoutTask get no chance to run ...

Put runAllTasks() before processSelectedKeys() could resovle this.

[code]

[2016-09-29 12:22] normanmaurer commented on #5862
Fixes by https://github.com/netty/netty/pull/5876

[2016-09-29 12:22] #5862 closed

[2016-09-29 12:33] spshukla commented on #5881
<img width="762" alt="screenshot 2016-09-29 17 40 27" src="https://cloud.githubusercontent.com/assets/5301451/18953411/fe797254-866b-11e6-8141-b97908a0b333.png">

The graph for 100 concurrent requests.

[2016-09-29 12:43] normanmaurer commented on #5881
@spshukla attach a profiler to understand which thread ties up resources and what it does.

[2016-09-29 12:55] spshukla commented on #5881
@normanmaurer  Please find the details

<img width="1139" alt="screenshot 2016-09-29 18 18 32" src="https://cloud.githubusercontent.com/assets/5301451/18954680/b00b4bf0-8671-11e6-9063-710b51f98c2c.png">
<img width="1117" alt="screenshot 2016-09-29 18 19 23" src="https://cloud.githubusercontent.com/assets/5301451/18954684/b1ad645c-8671-11e6-8a8b-a87e5a981114.png">

https://github.com/spshukla/coded

[2016-09-29 12:58] normanmaurer commented on #5881
@spshukla as the screenshot shows all the threads related to the `EventExecutorGroup` are super busy. Check with a profiler why these are busy. I guess its the code you run in your handler that you use and have the EventExecutorGroup bound to. Nothing we can do here...

[2016-09-29 13:06] spshukla commented on #5881
Sure @normanmaurer I will have a look at that part.

Could you please verify once that I am correctly configuring the channel pipeline & else? (Code snippet attached above)

Is there any threshold count (recommended) for `EventExecutorGroup` threads like the number of CPU cores or could I assign as per the nature of application?

[2016-09-29 13:16] normanmaurer commented on #5881
@spshukla init looks good. No the number of threads you should use depends on what you do.

[2016-09-29 13:16] #5881 closed

[2016-09-29 14:30] normanmaurer commented on #5866
@evgenyvsmirnov can you check https://github.com/netty/netty/pull/5879 ?

[2016-09-29 14:30] normanmaurer commented on #5861
@ewie should be fixed by https://github.com/netty/netty/pull/5877

[2016-09-29 17:39] spshukla commented on #5881
Thanks @normanmaurer for pinpointing the probable cause. I was able to resolve the issue and now I am able to serve 450+ requests per second.

[2016-09-29 19:32] normanmaurer commented on #5861
Fixed by https://github.com/netty/netty/pull/5877

[2016-09-29 19:32] #5861 closed

[2016-09-30 09:05] normanmaurer commented on #5882
@uglycow runAllTasks() must be called after processSelectedKeys() to ensure scheduled tasks are run in time. That said I think we can do better by ensure we always run these. Let me do a pr.

[2016-09-30 09:50] normanmaurer commented on #5841
Fixed by https://github.com/netty/netty/pull/5875 and netty/netty-tcnative#190

[2016-09-30 09:50] #5841 closed

[2016-09-30 11:21] uglycow commented on #5882
@normanmaurer    cool but i'm confused here about  how the timeliness is related to the execution order of the two methods? is it about the ioRatio ?
 would u explain it a little bit  ;)

[2016-09-30 16:39] hoehrmann opened #5887 "Obsolete reference to ChannelHandler.beforeAdd in ChannelHandlerContext docs"
In https://netty.io/5.0/api/io/netty/channel/ChannelHandlerContext.html (also in 4.1, 4.0) a reference is made to ChannelHandler.beforeAdd which was removed in http://netty.io/news/2013/05/08/4-0-0-CR2.html as I understand it.

[2016-09-30 19:01] jeffpeiyt opened #5888 "SslContextBuilder build SslContext from javax.net.ssl.SSLContext"
the current SslContextBuilder seems cannot accept jks file input or construct from the java normal SSLContext.  Could anyone provide an example to load from the javax.net.ssl.SSLContext ?

We are migrating from async http client from 1.x to 2.0.15,  where latest version using netty 4.x for ssl context

thanks!

[2016-09-30 19:04] normanmaurer commented on #5888
@jeffpeiyt you can use `JdkSslContext(....)` to wrap an existing `SSLContext`. Does this help ?

[2016-09-30 19:19] luengnat commented on #5838
@Scottmitch / @normanmaurer what do you think about the proposal?

[2016-09-30 19:20] jeffpeiyt commented on #5888
@normanmaurer  yes it is comping now!  thanks for the prompt help !

[2016-09-30 19:20] #5888 closed

[2016-09-30 20:32] floragunncom commented on #5870
1.1.33.Fork23 (released today) works on linux (so it seems this issue is resolved).

But it fail completely on macos with "java.lang.AssertionError: OpenSSL not available: java.lang.IllegalArgumentException: Failed to load any of the given libraries: [netty-tcnative-osx-x86_64, netty-tcnative]" Should i open a new issue for this?

[2016-09-30 20:34] normanmaurer commented on #5870
@floragunncom yep... that said can you do "brew install apr" and see if it works after it ?

[2016-09-30 20:40] floragunncom commented on #5870
that fixed it, thx

[2016-09-30 20:40] #5870 closed

[2016-09-30 23:04] exell-christopher opened #5889 "DefaultHttp2HeadersDecoder undesirable behavior when oversized headers received?"
When oversized headers are received by the DefaultHttp2HeadersDecoder, a go away with the error code enhance your calm is sent. This appears to be an attempt to prevent attack traffic, however, this has a somewhat undesirable effect when multiple requests are streaming over a connection, as a single oversized request can kill all other requests on the connection.  The HTTP/2 spec indicates that a

[2016-09-30 23:45] radai-rosenblatt commented on #5874
also happens on OSX at commit 1c588ce7e9573a6327f0a8a86cf1d754fd10e775:
[code]

[2016-10-01 00:14] radai-rosenblatt opened #5890 "io.netty.testsuite.transport.socket.SocketSslEchoTest fails with a core dump"
[code]
ends with this:
[code]
machine details:
[code]
the complete crash log is up at http://hastebin.com/raw/gilomisuci

[2016-10-01 03:45] Scottmitch commented on #5890
possible duplicate of https://github.com/netty/netty/issues/3256. Please update your JDK and report back if you can still reproduce.

[2016-10-01 03:46] Scottmitch commented on #5874
@radai-rosenblatt - thanks for reporting. I also run into this issue this week ... I will submit a PR soon.

[2016-10-01 03:48] Scottmitch commented on #2448
Stand by for a PR! Volunteers wanted to help test and put some milage on the new transport!

[2016-10-01 03:49] Scottmitch commented on #5889
IIRC this should be resolved by https://github.com/netty/netty/pull/5845

[2016-10-01 04:01] Scottmitch commented on #5887
@normanmaurer - do we need to regenerate the docs?

[2016-10-01 04:13] Scottmitch commented on #5868
fixed by https://github.com/netty/netty/pull/5869

[2016-10-01 04:26] Scottmitch commented on #5865
The EPOLL transport assumes that all Linux platforms will support Unsafe. The `allocateMemory` method has no "non unsafe" alternative ... and it looks like your platform doesn't support Unsafe. To be safe we should likely check that Unsafe is supported in `Epoll.java` in order for the EPOLL transport to make itself available ... @normanmaurer - WDYT?

[2016-10-01 04:31] Scottmitch commented on #5806
@juherr - I will close this issue for now. Plz reopen if you feel there is something more we can do in Netty.

[2016-10-01 04:31] #5806 closed

[2016-10-01 04:48] Scottmitch commented on #5838
@trustin's suggestion keeps separation of concerns and we could still implement it such that the `inflight` behavior is clarified and users can get a good default. I agree that most folks will likely want to use the `inflight` by default (@trustin WDYT).

[2016-10-01 04:59] dreamershl commented on #5865
The mentioned issue is caused by the isAndroid() check. Because it check whether there is android app class in the class path. That is why, the hasUnsafe0() return false even my application is running in debian OS.

[2016-10-01 05:09] trustin commented on #5838
I'm not sure I understood your question. `DnsAddressResolverGroup` wraps `DnsNameResolver` with `InflightNameResolver` by default, unless you override the deprecated `newResolver()` method. You should override `newNameResolver()`, not `newResolver()`.

[2016-10-01 05:18] luengnat commented on #5838
@trustin sorry for not explaining the context. Vert.x seems to use DnsNameResolver instead of DnsAddressResolverGroup. That's why it did not use InflightNameResolver by default. I wonder whether it makes more sense to return InflightNameResolver by default from DnsNameResolverBuilder because of this implementation.

Thanks!

[2016-10-01 18:33] rkapsi commented on #5856
@Scottmitch @normanmaurer: I've pushed something to https://github.com/rkapsi/sqsp-yk

I didn't manage to repro exactly this issue but found a different behavior between Netty 4.1.4 and 4.1.5+ while I was trying to compel Netty into this error state.

To be clear, that ExceptionHandler class in the repro attempt is purposely buggy and should make the whole thing spin in a indefinite loop. The odd

[2016-10-02 23:22] Scottmitch commented on #5865
Based upon your description I'm not sure how `hasUsafe0()` has any impact on the exception being thrown .. can you elaborate? Actually looking a bit deeper we do already restrict the EPOLL module's availability based upon `Unsafe`'s availability [here](https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/channel/epoll/Epoll.java#L57). So it looks like `hasUnsafe()`

[2016-10-03 00:41] xceder commented on #5865
In the PlatformDependent class, the IS_ANDROID flag is result of this function. So it check whether the class "android.app.Application" is in the class path.

    private static boolean isAndroid0() {
        boolean android;
        try {
            Class.forName("android.app.Application", false, getSystemClassLoader());
            android = true;
        } catch (Throwable ignored) {

[2016-10-03 01:56] uglycow commented on #5842
@Underbalanced

With default configuration,  io.netty.buffer.ByteBufUtil.ThreadLocalUnsafeDirectByteBuf#RECYCLER could cache too many buffers.

[code]
the stack trace is
[code]
with some configuration, u could limit the amount of cached buffer.
so i wont say it's a memory  leak problem.

[2016-10-03 01:56] #5842 closed

[2016-10-03 09:25] maseev commented on #2381
@trustin FYI [Java-Thread-Affinity](https://github.com/OpenHFT/Java-Thread-Affinity) is [now licensed](https://github.com/OpenHFT/Java-Thread-Affinity/blob/master/LICENSE) under Apache 2.0.

[2016-10-03 10:05] maseev commented on #2381
Do you mind if I submit a PR?

[2016-10-03 10:06] normanmaurer commented on #2381
@maseev @trustin actually I am not sure why we even need to share it at all... Why we not just let users know that they can use it ? I mean there is no gain in shading it IMHO.

[2016-10-03 10:12] johnou commented on #2381
@maseev iirc you are free to edit the Wiki directly https://github.com/netty/netty/wiki

[2016-10-03 16:25] normanmaurer commented on #5866
Fixed by https://github.com/netty/netty/pull/5879

[2016-10-03 16:25] #5866 closed

[2016-10-03 17:41] normanmaurer commented on #5889
@exell-christopher ...

[2016-10-03 17:43] Spikhalskiy commented on #5839
@normanmaurer Problem is that netty doesn't wrap or handle it in any way. So, it's just inner AnnotatedConnectException without any javadoc with pretty strange stacktrace. So... I have no information to debug, understand and fix it.

And if name CONNECTION_RESET_EXCEPTION_SENDMSG, for example, tells me something, name FINISH_CONNECT_REFUSED_EXCEPTION is harder - does it means that it was general c

[2016-10-03 17:43] normanmaurer commented on #5856
@rkapsi will try to have a look the next days... Currently traveling so may need a few days.

[2016-10-03 17:54] exell-christopher commented on #5889
Sorry for the delayed reply.  I looked over the code, and assuming that I read it correctly, this change takes care of respecting/negotiating the header table size WOOT! However, when the header table size is exceeded, it produces a protocol error which results in a go away instead of a 431.

[2016-10-03 21:12] radai-rosenblatt commented on #5890
indeed, with jdk 1.8.0_102-b14 everything builds fine...

[2016-10-03 21:12] #5890 closed

[2016-10-03 21:16] normanmaurer commented on #5890
Thx for letting us know

[2016-10-04 05:22] evgenyvsmirnov commented on #5803
I think such implementation can be useful when it is necessary to pass some data to third party code or legacy code (not necessarily as ByteBuf itself but as Closable for example) and streaming is not possible.

I would rather think of moving data on disk as soon as a specified threshold is reached … HttpObjectAggregator would benefit from such BB version.

[2016-10-04 09:49] aneeshynot opened #5891 "Allow the SSL protocol to be configurable for JdkSslContext and OpenSslContext"
**Netty version: 4.1.5.Final**

**Netty target version: 4.1.6.Final** (If possible)

**Context:**
We want to be able to configure the SSL PROTOCOL version in JDK and OpenSSL SslContext.
We need this because we need to be able to limit the SSL protocol to TLSv1.2, however, this does not seem to be possible currently. Currently it is hard coded to allow TLS all versions in both cases.

**Java versio

[2016-10-04 11:23] doom369 commented on #5891
Did you try

[code]

?

[2016-10-04 13:05] normanmaurer commented on #5891
@aneeshynot what @doom369 suggested is exactly how you would do it. Please let us know if this works or not.

[2016-10-04 13:05] normanmaurer commented on #5889
@Scottmitch can you have a look buddy ?

[2016-10-04 13:06] normanmaurer commented on #5874
@Scottmitch thanks a lot!

[2016-10-04 17:19] maseev commented on #2381
[Here](https://github.com/netty/netty/wiki/Thread-Affinity), have a look.

[2016-10-04 22:41] exell-christopher commented on #5889
Thanks for investigating this!!

[2016-10-05 01:22] alkemist opened #5892 "EOF for variable length, non chunked, compressed HTTP response is incorrectly treated as premature channel closure"
The fundamental issue here (I think) is that HttpContentDecoder is modifying the incoming request headers to indicate the request is chunked when it might actually be variable length EOF terminated.

This happens here: https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpContentDecoder.java#L102

This then causes https://github.com/netty/netty/blob/4.1/c

[2016-10-05 01:22] alkemist commented on #5892
/cc @NiteshKant

[2016-10-05 01:27] alkemist commented on #5892
I've just confirmed that this issue isn't present with 4.1.1.

[2016-10-05 07:08] MagicDroidX opened #5893 "Server stops working after the exceptionCaught being called"
[code]
Using netty 4.
Protocol: UDP
Override the `exceptionCaught()` to print the stack trace.
Since then the server stops working.
What should I do to recover the server?

[2016-10-05 10:24] normanmaurer commented on #5893
What version of Netty exactly? Also is this an IOException?

[2016-10-05 10:36] maseev commented on #2381
Can we close it now?

[2016-10-05 10:43] MagicDroidX commented on #5893
I am using Netty 4.1.4.Final and it is a java.net.SocketException

[2016-10-05 10:55] normanmaurer commented on #5893
@MagicDroidX are you sure you not call `Channel.close()` in some handler ?

[2016-10-05 10:57] MagicDroidX commented on #5893
Yes, and it happens randomly. But whenever the exception was thrown, the server will stop working.

[2016-10-05 11:01] MagicDroidX commented on #5893
just a SocketException.

[2016-10-05 11:14] normanmaurer commented on #5893
@MagicDroidX ok thanks... let me look into it.

[2016-10-05 12:03] jknair opened #5895 "Huge increase in NativeIoExceptions after upgrade to 4.1.5.Final from 4.1.0.CR2"
After upgrade from netty version 4.1.0.CR2 to 4.1.5.Final we have started seeing a lot of
```NativeIoException syscall:read(...)() failed: Connection reset by peer```

I am not sure how to reproduce this as this seems to occur only on high load.

[code]

[2016-10-05 19:58] Scottmitch commented on #5895
This exception is expected if your peer sends a TCP RST. Can you verify that using a packet sniffer? Also is there an issue caused as a side effect of this behavior?

[2016-10-05 20:34] Scottmitch commented on #5865
As stated above if the platform is detected as android the epoll module shouldn't be available ('Epoll.isAvailable()'). You should check the result of this method before you try to use the epoll transport.

[2016-10-05 20:41] Scottmitch commented on #5889
IIRC a RST stream frame is sent in the referenced PR with a protocol error which provides a consistent approach between client and server. The 431 response is not required by the RFC but we can consider adding support for sending a 431 on the server in the future.

https://tools.ietf.org/html/rfc7540#section-10.5.1

   handle can send an HTTP 431 (Request Header Fields Too Large) status
   code [R

[2016-10-06 00:52] dreamershl commented on #5865
it is not android platform. it is debian, just my system get a android jar file in the class path. My point is the adroid detection is misled. Anyway, The issue is reported here to respond the recommendation in stackoverflow.

[2016-10-06 00:52] #5865 closed

[2016-10-06 09:00] jknair commented on #5895
I will try that out. But these issues did not come up in the older version and with the upgrade not much but a few classes that netty had deprecated have been changed with respect to the code.

[2016-10-06 10:18] FurmigaHumana opened #5896 "io.netty.channel.epoll.Native.epollWait0 high cpu usage"
I'm experiencing very high cpu load while using the native transport, the epollWait method is taking as much cpu as a while (true) { } loop

This is not much of an issue if you only have one netty server in the box, but while running multiple instances the cpu load can go as high as 100.0 while without using native transport it never reaches 10.0

Thread dump with native transport:
`
"Netty IO Thr

[2016-10-06 10:24] jknair commented on #5895
```tcpdump -ilo -n -v 'tcp[tcpflags] & (tcp-rst) != 0'```
a few RST packets are going across but that does not equal the rate of Exceptions. Both the server and client are netty based. Why would the RST packet be sent when a close is initiated ?

[2016-10-06 16:15] normanmaurer commented on #5893
@MagicDroidX PTAL https://github.com/netty/netty/pull/5899

[2016-10-06 20:37] Scottmitch commented on #5895
Setting SO_LINGER to `0` is one way to cause a `RST` (see [1] for some extra details).

Can you provide a reproducer?

[1] http://stackoverflow.com/questions/3757289/tcp-option-so-linger-zero-when-its-required

[2016-10-06 20:53] Scottmitch commented on #5896
@normanmaurer - wasn't there an issue reported that may be a duplicate of this? IIRC the tools aren't able to detect the CPU yield in native code or something like this?

[2016-10-06 21:04] FurmigaHumana commented on #5896
@Scottmitch yes, very old one and currently closed, but there was a jdk bug with the sun.nio.ch.EPollArrayWrapper.epollWait, the issue here is with io.netty.channel.epoll.Native.epollWait, dont know if they are the same tho.

#327 here

[2016-10-06 23:12] #4913 closed

[2016-10-07 03:31] paulhsu201605 opened #5901 "Is  Netty 5.x dead?"
Hi all,

Is  Netty 5.x dead?

[2016-10-07 05:05] MagicDroidX commented on #5893
Okay thanks. :)

[2016-10-07 05:17] mayflaver commented on #5901
Please see #4466

[2016-10-07 05:28] #5901 closed

[2016-10-07 12:46] aneeshynot commented on #5891
Thank you for that immediate response doom369 and Norman!
I have tested your suggestion and works properly for both JDK and OpenSSL.
Cheers!

And thanks Norman and all contributors for this amazing library!

[2016-10-07 12:46] #5891 closed

[2016-10-08 06:22] uglycow opened #5902 "too many io.netty.util.Recycler$WeakOrderQueue$Link caused memory problem"
our app is suffering from fullgc  and i analyzed the memory dump with MAT。
it turns out that we  got too many io.netty.util.Recycler$WeakOrderQueue$Link in memory。

![image](https://cloud.githubusercontent.com/assets/7302803/19210794/9fe1699a-8d5f-11e6-9d04-a4d5a491d827.png)

in our app, the WriteTask would be created at  thread  of our own and be recycled at netty's loop thread
so the RECYCLER wo

[2016-10-08 07:22] johnou commented on #5902
Are you running the latest 4.0 or 4.1? There have been recent improvements to the recycler. If you still wish to disable the recycler you can use this system property

-Dio.netty.recycler.maxCapacity.default=0

[2016-10-08 07:51] uglycow commented on #5902
@johnou
we are running 4.0.29 and  i think -Dio.netty.recycler.maxCapacity.default=0  won't help.

with -Dio.netty.recycler.maxCapacity.default=0  , handles wont get pushed into Stack  but they will be added into WeakOrderQueue when "if (thread == stack.thread) "

code related is shown below.

[code]

[2016-10-08 07:59] johnou commented on #5902
io.netty.recycler.maxCapacity.default=0 tells the Recycler to use a special no-op handler.

[code]

[2016-10-08 08:02] johnou commented on #5902
Your Netty version doesn't support disabling the recycler, it was added in 4.0.31.Final ( https://github.com/netty/netty/issues/4147  )

[2016-10-08 08:34] uglycow commented on #5902
time to upgrade  our netty   ; )

but spi to disable recycler by case would be better, i really want to keep recycler working for PooledBufAllocator

[2016-10-08 08:46] #5902 closed

[2016-10-10 05:50] normanmaurer commented on #5882
Fixed by https://github.com/netty/netty/pull/5898

[2016-10-10 05:50] #5882 closed

[2016-10-10 06:09] normanmaurer commented on #5896
@FurmigaHumana what does `top` show ? Is it really using so much cpu or is it just the `profiler` ? Profilers often miss-intepret native code, which may happen here.

[2016-10-10 06:11] normanmaurer commented on #5892
@alkemist sounds correct... Want to create a PR for it ?

[2016-10-10 06:23] normanmaurer commented on #5892
@alkemist actually can you confirm this is really caused by the commit you listed here ? I am a bit confused as you say you see a `PrematureChannelClosureException` which would be caused by the `HttpRequestDecoder` that sit in front of the `HttpContentDecoder` so what you do in `HttpContentDecoder` should have no impact here. Or do you think it happens because its used as proxy and so modify the s

[2016-10-10 07:36] alkemist commented on #5892
@normanmaurer sorry, I made a mistake in my description. No `PrematureChannelClosureException` is raised. The problem is that https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectDecoder.java#L441 does not happen, because `HttpObjectDecoder` thinks that the channel was prematurely closed. I thinks this, because it's seeing `Transfer-Encoding: chunk

[2016-10-10 07:37] normanmaurer commented on #5892
@alkemist no worries I think I have an idea how to easily fix it and write a test. stay tuned...

[2016-10-10 08:37] normanmaurer commented on #5893
Fixed by https://github.com/netty/netty/pull/5899

[2016-10-10 08:37] #5893 closed

[2016-10-10 09:07] normanmaurer commented on #5860
@Underbalanced this was a bug fixed by https://github.com/netty/netty/pull/5880. That said I am not sure why you would remove the SslHandler after the handshake.

[2016-10-10 09:07] #5860 closed

[2016-10-10 10:29] jknair commented on #5895
dont bother it was an HA proxy load balancing the netty servers which was on http mode that was eating up ```Connection: close``` headers and the clients were sending RSTs. Sorry about that :(

[2016-10-10 10:29] #5895 closed

[2016-10-10 10:37] normanmaurer commented on #5895
@jknair thanks for closing the loop! :)

[2016-10-10 10:39] normanmaurer commented on #5770
Fixed by https://github.com/netty/netty/pull/5792

[2016-10-10 10:39] #5770 closed

[2016-10-10 11:36] normanmaurer opened #5904 "Investigate / review Recycler usage"
This issue is to track the investigation and review of our Recycler usage.

The Recycler was introduced as a light-weight object pool, to reduce GC pressure. We use it in various places, like pooling ByteBuf objects (not the actual memory, just the container), write tasks (When you call write(...) from outside the EventLoop) and many more.

This usage gave us a lot of trouble in the past and also

[2016-10-10 11:38] normanmaurer commented on #5904
also @nitsanw @NiteshKant @mosesn

[2016-10-10 13:12] nitsanw commented on #5904
It is difficult to evaluate performance without workloads, which workloads do you test with? Since this is a GC optimization it is likely to only impact applications where the Netty garbage dominates, I don't know if these usecases are core to Netty.
As a prototype/deprecation approach perhaps start by putting it behind an option so that you can easily compare the impact.

[2016-10-10 13:38] buchgr commented on #5904
Two thoughts:

- The live times of instances of the beforementioned types is usually closely tied to the duration of requests. Usually it's a few hundred micros to millis from request to response, while usually young GCs are triggered every few hundred millis to seconds. So usually those objects should die between young GCs and thus be free to collect. I am saying usually, but obviously this is _c

[2016-10-10 15:32] normanmaurer commented on #5904
@buchgr @nitsanw I mean at smallest and safest change we could just disable the recycler by default and let users enable it when needed. Once we are sure there is no bad impact we could remove it completely.

[2016-10-10 15:39] mosesn commented on #5904
Disabling by default seems reasonable to me.  I'll see if we can see what our stuff looks like when it's disabled.

[2016-10-10 15:53] belliottsmith commented on #5904
I have to concede I was never quite sure of the value of the recycler in some places it is used.  For some of the larger objects (e.g. lists that may contain many elements), perhaps, but for very small objects...

But I recall complaints about the amount of garbage created by the recycler itself, which is a small fraction of the garbage it saved.  So I suspect there may be some unhappy campers.  I

[2016-10-10 15:56] normanmaurer commented on #5904
@belliottsmith yeah I think I would like to at least keep it for the `List` stuff in the codecs but thats it I think for now :)

[2016-10-10 15:58] FurmigaHumana commented on #5896
@normanmaurer I couldn't test on my busy boxes for obvious reasons, but I tested on some with around 30 connections each.

I collected this data by watching the top output for about 5 minutes.

This is with **epoll disabled** cpu usage goes all the way down to 7% and maximum of 27% with 35 connections, print represent the most average value.
![image](https://cloud.githubusercontent.com/assets/1264

[2016-10-10 16:00] FurmigaHumana commented on #5896
By the way... if any issue confirmed, i'm available for testing :)

[2016-10-10 16:31] vkostyukov commented on #5904
I've done some experiments in the past with recyclers. Disabling them completely (for all the use-cases) degraded GC times for us. I wonder if it actually makes some sense for one of its tree use cases. I'd put my money on `ChannelOutboundBuffer.Entry`.

Anyways, these experiments were done before we fixed out main GC problem so it might makes sense to do that again.

[2016-10-10 17:16] normanmaurer commented on #5904
@vkostyukov do you think you could wrote some canary with it disabled (via the system property) and report back ?

[2016-10-10 17:19] vkostyukov commented on #5904
@normanmaurer I'm happy to do that. Will run a couple of our Integ tests (an internal tool to test Finagle topologies) with recyclers disabled today or tomorrow.

[2016-10-10 17:19] normanmaurer commented on #5896
@FurmigaHumana can you share a reproducer ? Also what linux dist and what kernel version ?
Also even 2500 connections sounds super low.

[2016-10-10 17:19] normanmaurer commented on #5904
@vkostyukov thanks buddy!

[2016-10-10 18:30] buchgr commented on #5904
@normanmaurer

Yes, that seems like a good idea, and remove it eventually if there is no outcry from users. Is there overhead to having the recycler disabled?

[2016-10-10 18:52] normanmaurer commented on #5904
@buchgr no overhead compared with the recycler enabled. The only "overhead" you see is when you compare it with how it would be without an recycler implementation at all. Basically we could safe one field / object reference per object that supports the recycler.

[2016-10-10 22:26] Underbalanced commented on #5860
@normanmaurer I was watching you fix and discuss this and I reviewed the bug on source code. I use the handshake with client authentication required as a way for my company proxies to connect to each other. The main connection stays encrypted (administrative connection), but the other bulk data like file sending and specific messages go over a second non encrypted connection. Initially it starts o

[2016-10-11 01:42] Scottmitch commented on #5896
+1 .. reproducer would be very helpful

[2016-10-11 07:10] #5851 closed

[2016-10-11 07:24] 925941723 opened #5908 "Android Netty protobuf decode error"
I used python as server to send message,and Android phone received it.But it has something wrong in my Android code.It is:
    Caused by: com.google.protobuf.InvalidProtocolBufferException: Protocol message contained an invalid tag (zero).
   I used the same .proto file to create different file by --python and --java orders.
   The following is my code:

python:
entity = SubscribeRespProto_pb2.Sub

[2016-10-11 09:29] andyHa opened #5909 "Relax comparison of websocket URI in WebSocketServerProtocolHandshakeHandler"
With https://github.com/netty/netty/commit/68bbd4e9669aab4c29dcc1d23ef331aaa2aee333 a change was introduced, to verify the URI of the request in order to determine if an handshake should be tried.

This does however not work with requests containing a query string. Would it be possible to replace the equals with a startsWith, as this would permit to have individual query strings in the request URI

[2016-10-11 09:31] normanmaurer commented on #5909
Yes... can you provide a pr?

[2016-10-11 09:32] andyHa commented on #5909
Awesome, thx for the fast feedback! Sure...give me a minute...

[2016-10-11 12:57] normanmaurer commented on #5909
@andyHa thanks! Please be sure to sign the ICLA and use our commit message template:

http://netty.io/icla
http://netty.io/wiki/writing-a-commit-message.html

[2016-10-11 12:58] normanmaurer commented on #5908
@925941723 maybe the endianness is different on the systems ?

[2016-10-11 13:00] normanmaurer commented on #5892
@alkemist hopefully I can fit this in before I cut the release this week.

[2016-10-11 13:55] trustin opened #5910 "InsecureTrustManagerFactory is sometimes not insecure enough."
In some execution path, JDK seems to wrap `InsecureTrustManager` with a wrapper (`AbstractTrustManagerWrapper`, which is a _final_ class!?). Because the wrapper performs an additional DN comparison, a user will see certificate validation fails even if he or she specified `InsecureTrustManagerFactory.INSTANCE`.

To fix this problem, `InsecureTrustManager` has to extend `X509ExtendedTrustManager` in

[2016-10-11 14:00] trustin commented on #5910
We should make similar changes to `FingerprintTrustManagerFactory` as well.

[2016-10-11 14:53] Scottmitch commented on #5910
sgtm

[2016-10-11 15:43] andyHa commented on #5909
Hm, now that I'm having a close look I'm not sure if that'd be the right approach. If I change it to startsWith "/websocket" would also match "/websocket/something" - which might be quite suprising...

So there would be three choices:
1) Use startsWith anyway
2) Extract the "real URI" e.g. everything before ? or "#" and compare that
3) Don't change anything and call setUri on the request being pas

[2016-10-12 01:49] 925941723 commented on #5908
Thanks for your help.I find the reason.Because in Android code I add:
.addLast(new ProtobufVarint32FrameDecoder())
.addLast(new ProtobufVarint32LengthFieldPrepender()).
It means insert 32 integer field in the begin,and decode it same.
But I haven't do it in Python code.So just delete this two lines code is ok.

[2016-10-12 01:50] #5908 closed

[2016-10-12 06:25] normanmaurer opened #5913 "ReferenceCountedOpenSslContext.release() was not called before it's garbage-collected"
Leak:

[code]

See https://garage.netty.io/teamcity/viewLog.html?buildId=13056&buildTypeId=pulls_netty&guest=1

[2016-10-12 11:46] #5910 closed

[2016-10-12 12:38] normanmaurer commented on #5856
@rkapsi thanks again for the "reproducer". I had finally time to check it out. I think what you see with 4.1.5+ is the correct behaviour. So I think this is now handled correctly. That said this still not helps us with the "original" issue. Any more details there ?

[2016-10-12 12:47] normanmaurer commented on #5828
@ppatierno I think it makes sense that said I think we not really can change it without breaking the API. Or I am missing anything ?

[2016-10-12 13:09] ppatierno commented on #5828
@normanmaurer could we ....

- a new constructor for MqttConnectPayload with ByteBuf payload as parameter
- changing the backing field from String to ByteBuf
- the problem is that we can't change the willMessage() which returns a String (we brake the API). It should build the String from the backing ByteBuf; then we need another method willMessageAsBytes() or something like that to return the Byte

[2016-10-12 13:10] normanmaurer commented on #5828
@ppatierno I think this will not work as if we wrap a `ByteBuf` we also need a way to release it.

[2016-10-12 13:13] ppatierno commented on #5828
@normanmaurer does it mean to implement the ByteBufHolder interface for the MqttConnectPayload class ? so having new methods that today no people are using ... so we can't brake their software ?

I can be wrong ... I'm quite new to the awesome Netty :-)

[2016-10-12 13:19] normanmaurer commented on #5828
@ppatierno yes... The problem is once it implements `ByteBufHolder, the user is responsible to call `release()` so we can not add this later on.

[2016-10-12 13:21] normanmaurer commented on #5864
Fixed consistency issues in https://github.com/netty/netty/pull/5878

[2016-10-12 13:21] #5864 closed

[2016-10-12 13:22] ppatierno commented on #5828
@normanmaurer understood ... you are absolutely right (it couldn't be different ;)).
I understand the point to not brake the API but it's a big limitation on the will message.
It's sad that we can't change it forever ...

[2016-10-12 13:24] ppatierno commented on #5828
@normanmaurer is this the first time you have to handle such situation on Netty ?

[2016-10-12 16:36] buchgr commented on #5853
Will be removed by #5914

[2016-10-12 16:36] #5853 closed

[2016-10-12 16:36] buchgr commented on #5755
Implemented in #5853 via the `Http2FrameCodecBuilder`.

[2016-10-12 16:36] #5755 closed

[2016-10-12 19:50] rkapsi commented on #5856
@normanmaurer cool. As of yesterday I've been testing h2 again. Our code has scientifically changed and it's no longer using Netty's own `InboundHttp2ToHttpAdapter`.

I get a repro within seconds after deploying to production. With some new logging I'm able to correlate the refCnt exceptions with the YourKit snapshot.

Here are some new screenshots + stack traces. The latter should be all from the

[2016-10-13 11:50] normanmaurer commented on #5856
@rkapsi would it be be possible to see the content of `ProxyChannelHandler` ? You could even send me an email if you not want to attach it in public.

[2016-10-13 16:35] FurmigaHumana commented on #5896
I am leaving this ticket as the issue is not as big as I first diagnosticated. I left epoll running for 24 hours and then I disabled it for another 24 hours, this is the cpu graphic.

![image](https://cloud.githubusercontent.com/assets/1264257/19357566/9f8e68de-9148-11e6-8c62-b95cfa2c0ad9.png)

The first curve shows a little higher cpu usage with epoll enabled, but it also has higher throughput an

[2016-10-13 16:39] Scottmitch commented on #5896
Before you indicated that the concurrent connection count was much lower. Do you still have issues with lower concurrent connection count? Was the throughput/latency also lower before or did something change?

[2016-10-13 17:29] johnnyquestep opened #5916 "Not a WebSocket handshake request: missing upgrade"
I am running the websocket sample on solaris.
response data i see in chrome is eror 400 , OPCOCE(1)
when i inspected it using wireshark i see the below.

[code]

same jar file works in linux and windows.
i have tried jdk 6,7 and 8.

why doe is it say Upgrade is missing when we can see it in the headers ?

[2016-10-13 17:38] rkapsi commented on #5856
@normanmaurer shared a private Github repository with you.

[2016-10-13 18:09] normanmaurer commented on #5856
@rkapsi hmm.. the handler looks good. I somehow thing there is a retain() missing somewhere. Not sure yet where tho

[2016-10-13 18:47] normanmaurer commented on #5916
@johnnyquestep which netty version ?

[2016-10-13 19:17] johnnyquestep commented on #5916
netty version 4.1.5

[2016-10-13 20:43] rkapsi commented on #5856
I think I'll run YK with allocation recording turned on as next. Maybe tomorrow. I want to know where these empty ByteBuf are being produced.

In that regard, have you thought about replacing all `Unpooled#EMPTY` and similar things such as `LastHttpContent#EMPTY_LAST_CONTENT` with `T#empty()` and a system property to toggle between these singletons (default) and `new T()`?

[2016-10-14 05:43] normanmaurer commented on #5916
@johnnyquestep can you paste the output so that it is easier to see if there are any extra spaces on the end of lines etc ?

[2016-10-14 07:36] hbprotoss commented on #327
Same problem here. CentOS 7.2, kernel 3.10.0

[code]

[2016-10-14 07:53] normanmaurer commented on #327
@hbprotoss your stack shows tomcat and not netty, so its not really about netty. That said I think its a JDK / Kernel issue

[2016-10-14 17:25] Scottmitch commented on #5913
Possibly encountered while running `ReferenceCountedOpenSslEngineTest`

https://garage.netty.io/teamcity/viewLog.html?buildId=13056&buildTypeId=pulls_netty&tab=buildLog#_focus=13945

[2016-10-14 21:43] johnnyquestep commented on #5916
is there a way to enable additional logging ?
. In the ui i see socket closed and in the chrome console i see

In the chrome developer tools under the websoket frames i see

Below is all i have in the log. the section you see after the small gap in the logs is where the first http request for page comes in

[2016-10-16 21:27] FurmigaHumana commented on #5896
@Scottmitch thats probably because I ran out of cpu faster so I cant handle as many connections.

--

I did a lot of testing in the last days and I found my peace with netty 4.0.40 with epoll for external connections and nio for local (same network, not same machine), something feels very wrong with epoll, specially with netty 4.1.5 which gives me around 25ms of latecy with local connections versu

[2016-10-16 21:28] #5896 closed

[2016-10-17 21:14] rkapsi commented on #5856
@normanmaurer - some great news!

We're always running the latest SNAPSHOT of Netty and we have our own Nexus server proxying Sonatype. The last version we have in our cache is `netty-all-4.1.6.Final-20161013.121908-45` released on Thu Oct 13 12:19:08 GMT 2016. It's already purged from yours.

Anyways, you merged af8ef3e40cb8a4e7d9648fbd8f1574ce55eaa8be on Friday and released 4.1.6.Final shortly a

[2016-10-18 00:45] yogeshvedpathak opened #5920 "Channel.isWritable always returns false"
Hi, I upgraded netty from netty-4.0.30 to netty-4.0.41 because I was interested in getting fix for issue https://github.com/netty/netty/pull/5592. However after upgrading i ran into a serious issue. The entire IO request hangs because channel.isWritable returns false after sending some data. I noticed that if i send (writeAndFlush) tiny data on the channel isWritable continue to be true. But if I

[2016-10-18 09:19] snibug commented on #3778
I want to make a QUIC stub code for this issue.

[2016-10-18 12:29] johnnyquestep commented on #5916
I tried to compile on solaris,failed due to missing tcnative dependency. anything else i can try  ?

[2016-10-18 15:06] jianjin opened #5921 "Do we still use HashedWheelTimer in Netty?"
In Netty 4.X, i do not found any other class use it. If we do not use it anymore, should be remove it from codebase?

[2016-10-18 15:17] slandelle commented on #5921
FWIW, I use it in [AsyncHttpClient](https://github.com/AsyncHttpClient/async-http-client) for managing my timeouts. I seems legit to do so as it's both public and not in an "internal" package.

I would be fine if it were to be deprecated and removed in a future minor release, I would then fork it if needed. But please don't remove in a fix.

[2016-10-18 16:19] Anke-L opened #5922 "when sending a long HTTP Request, I get a TooLongFrameException, but would expect an HTTP code 413/414"
Vertx Core: 3.3.2
Netty: 4.1.3 Final

Context:
I'm sending a long HTTP request (e.g. GET or DELETE) using Vertx/Netty.
Before the request can be handled by the server I get an exception from Netty (see below).

When looking into the code I see a comment in HttpObjectDecoder.HeaderParser.process():
"TODO: Response with Bad Request....“
Is there a chance, that this ToDo will be implemented in the ne

[2016-10-18 16:34] ejona86 commented on #5753
Do consider the case where someone is using HTTP/1 messages and it is being converted to HTTP/2. I agree that the converter could convert the close() to a DATA(EOS=true), though. But it may be better to have the channel work "like normal". The half close part was not a big deal, but there were details that seemed like we should dig into them.

[2016-10-18 16:40] rkapsi commented on #5922
Not sure Netty should return a response on its own. You maybe want to return a fancy error page such as Github does for example (e.g. http://github.com/404).

Write a ChannelHandler that handles the TooLongFrameException and have it return a HTTP error of your liking.

[2016-10-18 17:02] johnou commented on #5921
It's also used in Redisson.

[2016-10-18 17:14] yogeshvedpathak commented on #5920
update: I don't think that the issue is caused by change to io.netty.channel.AbstractChannelHandlerContext.invokeChannelWritabilityChanged. That method was changed in 3.0.37 and the issue is only reproducible in 4.0.41. So it has to be something introduced in 4.0.41.

[2016-10-18 21:34] rz-itac commented on #5916
Hi. I'm having the same problem. Made a Websocket application, server running on Solaris 10. Websocket handshake always fails on Solaris (HTTP 400 Bad Request: not a WebSocket handshake request: missing upgrade).

After debbuging, I found that Netty is unable to find the header "Connection", the reason is that the return value of hashCode in AsciiString is not the same as PlatformDependent.hashCod

[2016-10-18 21:40] Scottmitch opened #5924 "SingleThreadEventLoopTest#scheduleTaskAtFixedRateB test failure"
https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=13169#_focus=85372
[code]

[2016-10-19 02:36] vonbarg opened #5925 "On Big Endian platforms, the FullHttpRequest object always has a zero length content because of inconsistent hash values in CASE_INSENSITIVE_HASHER"
Netty version: netty-all-4.1.5.Final.jar

On Big Endian platforms, the FullHttpRequest object always has a zero length content. I've been able to trace this in the debugger to the CASE_INSENSITIVE_HASHER in io.netty.util.AsciiString.java not returning consistent hashes for the "content-length" field on Big Endian platforms.

Some background: I'm using Netty to process REST requests from clients.
A

[2016-10-19 05:14] svnp10 commented on #3567
Hi, I find this issue 4.1.4.Final and 4.1.6.Final as well...

[2016-10-19 10:58] buchgr commented on #5753
@ejona86

Interesting. So you are saying that if `ALLOW_HALF_CLOSURE` is enabled and `close()` is called on a child channel, the child channel and stream shouldn't be closed but a `DATA(EOS=true)` should be sent?  If `ALLOW_HALF_CLOSURE` is disabled and `close()` is called, the stream should be closed via a `RST_STREAM`?

[2016-10-19 13:28] buchgr opened #5926 "Solve Clientside Blocking"
I find Netty pretty difficult to use on the client side if one wants to write from outside the eventloop and doesn't want to block at all.

Ideally I would like the below to just work:

[code]

There are a few problems though:

1. The `ch.write` could be executed before the `initChannel` is executed, thereby bypassing `MyHandler`.
2. Unless `MyHandler` implements it's own buffering logic, one need

[2016-10-19 14:00] johnou commented on #5926
Is there something wrong with the listeners?

[code]

[2016-10-19 15:56] NiteshKant commented on #5926
@buchgr this is a great question, thanks for the A2A.

I am assuming that the example you provided is trivial as opposed to reality where the writes comes from a separate source (netty channel or other sources) and needs to be written to a connection. Buffering in this scenario is unavoidable unless the source that produces the items to write is lazy.

I work in the [reactivex](http://reactivex.io

[2016-10-19 15:58] mosesn commented on #5926
I think the AbstractBufferingHandler would be useful.  We built something similar for [finagle][0].

[0]: https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/channel/BufferingChannelOutboundHandler.scala

[2016-10-19 17:42] rkapsi opened #5927 "Consolidate some of AbstractChannel's methods (and maybe deprecate a few of ChannelPIpeline's)?"
I'm experimenting with extending the LocalChannel class and am looking into overriding the `connect(...)` method for example. Ideally I'd have to override only one of the methods or maybe just the ones that have a `ChannelPromise` argument to intercept the user call and change the behavior of the returned future.

Each of AbstractChannel's methods is however calling straight out to the pipeline (l

[2016-10-19 19:05] svnp10 opened #5928 "sslhandler leaking direct buffer"
@normanmaurer  @trustin

I have tested it with both JDK SSL and OpenSSL(tomcat-tcnative). Issue is present in both cases:

JDK 8, netty version 4.1.6.Final, running on MAC OS X El Capitan

(Unfortunately, the log message is too long, keeping it for clarity)

[code]

[2016-10-19 19:07] svnp10 commented on #5928
See the earlier conversation here:

https://github.com/netty/netty/commit/2e509f7bb7a365741bdf79948c51b5e91fa3ce0a

[2016-10-19 19:22] rz-itac commented on #5925
Hi!
I think this is related to: #5916

[2016-10-19 20:20] yogeshvedpathak commented on #5920
I figured out that the change d79e5c594d2e50168da6877e7d4de05733a404c7 broke the isWritable. It however affect if ChannelConfig.writeBufferLowWatermark is set to 0. If it is set to zero the condition newWriteBufferSize < channel.config().getWriteBufferLowWaterMark() in transport/src/main/java/io/netty/channel/ChannelOutboundBuffer.java does not match and channel never becomes writable again.

Prop

[2016-10-19 23:21] johnou commented on #5920
@buchgr ping.

[2016-10-20 00:14] alkemist commented on #5892
@normanmaurer I hate to be that guy, but… any update on this? :)

[2016-10-20 09:07] johnou commented on #5920
@yogeshvedpathak out of curiosity, why have you chosen a low watermark of 0?

[2016-10-20 09:14] buchgr commented on #5920
@johnou thanks for pointing me to this! :)

@yogeshvedpathak

Thank you for digging in! Great job! Your are right, d79e5c5 changed the implementation to follow the API specification more closely [1]. The specification states that a channel is writable if the number of queued bytes `drops below the low write buffermark`. `0 < 0` is `false`, so the implementation seems correct.

However, I agree tha

[2016-10-20 09:33] normanmaurer commented on #5925
@Scottmitch PTAL

[2016-10-20 10:11] buchgr commented on #5926
@johnou

There is nothing wrong with listeners, however quite often the architecture makes structuring code this way impractical. For example  in gRPC, Netty is one of many transport implementations and its hidden behind several layers, while writes are issued much higher up. Also, you don't usually want to have different code paths for writes until the channel is ready, and writes after the chann

[2016-10-20 13:59] yogeshvedpathak commented on #5920
no particular reason. I was just thinking that the actual values for low and high watermark do not matter but just the difference between them.

[2016-10-20 14:21] buchgr commented on #5920
@yogeshvedpathak so if you increase the low watermark the "bug" is gone, correct?

[2016-10-20 16:30] almosthuman commented on #5920
It seems as though if 0 isn't a valid low watermark, it shouldn't be permitted (the code checks that lowWaterMark is >=0, implying 0 is a valid value and it does make logical sense; in the case where you don't want the channel to be writable until the outbound buffer is empty, it would make sense to specify 0 rather than 1).  This seems like a case where perhaps it makes sense for the lower bound

[2016-10-20 16:34] yogeshvedpathak commented on #5920
@buchgr yes setting low watermark to say, 1 resolves the issue.

[2016-10-20 17:09] liuhualh opened #5930 ""OutOfMemoryError: GC overhead limit exceeded" occurs while using HTTP2 based on netty-4.1.5"
Hi, dears

Our backend service using HTTP2 to send Apple push notification to APNS, but we may load many different SSL certificated in one process.  While testing we found Java execute GC and fail (OutOfMemoryError) after the service instance reaches 2000~

Anaylzed using jvisualvm, we found there are about:

io.netty.util.internal.shaded.org.jctools.queues.MpscArrayQueue 4.8919438505775705  224,3

[2016-10-20 21:50] johnou opened #5931 "OpenSslEngine.handshake() Failed to mark a promise as failure because it has succeeded already"
[code]

Haven't had a chance to investigate further yet but in the meantime I wanted to report the stacktrace.

[2016-10-20 23:21] Scottmitch commented on #5930
can you provide a heap dump while the memory leak is visible? Also are you able to isolate this issue into a minimal reproducer?

[2016-10-20 23:36] Scottmitch commented on #5931
@johnou - can you provide a reproducer? does your use case involve renegotation? If you are not able to provide a reproducer easily ... can you change [ReferenceCountedOpenSslEngine#HANDSHAKE_ENGINE_CLOSED](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/ReferenceCountedOpenSslEngine.java#L86) to not be statically defined so we can get a stack trace?

[2016-10-20 23:44] Scottmitch commented on #5921
We can consider this as part of future releases but it is currently part of the public API. IMO we should keep it for now ... potentially deprecate the existing one and move it in an internal package as it is still a useful utility in the context of network related timeouts.

[2016-10-20 23:54] Scottmitch commented on #5925
@rz-itac - thanks for reporting. I'm not surprised there is a bug here as I was not able to get my hands on a big endian machine, and emulating a big endian machine was very painful IIRC. Let me take a deeper look:

Just to confirm our unit tests would have picked up this failure if run on a big endian machine can you run the following and let me know if you get test failures on your Solaris machi

[2016-10-21 04:41] svnp10 commented on #5928
@Scottmitch - Thanks for fixing it. @trustin @normanmaurer

Referring the earlier fix, i fixed it in my local branch and tested again. I still see the leak issue.

Extra info, if that could be of any pointers:
1. This is happening when connecting to non-Netty based application. Don't know if it is relevant though.

2. Also, I am using ChannelPoolMap to acquire the channels. It unusually taking lon

[2016-10-21 11:14] liuhualh commented on #5930
This is overview of the heap dump,  java.lang.Object[] occupies 71.4% heap size, and MpsArrayQueue occupies 10.9% heap size

<img width="984" alt="netty-memory-leak-overview" src="https://cloud.githubusercontent.com/assets/3794741/19595961/e593f692-97be-11e6-99ad-633ac37a7d90.png">

From this picture,  manny java.lang.Object[] are referenced by MpsArrayQueue

<img width="992" alt="netty-memory-lea

[2016-10-21 11:37] normanmaurer commented on #5930
Can you try using:
-Dio.netty.recycler.maxCapacity=0

Please let us know if you still see problem

[2016-10-21 13:33] liuhualh commented on #5930
@normanmaurer
I just try again with parameters you mentioned, but it seams not work
The memory is still grow high

[2016-10-21 20:40] vkostyukov opened #5933 "ProxyHandler stalls the proxy handshake when auto-read=false"
We're (Finagle) using the N4 tooling around proxies and just discovered a bug in [`ProxyHandler`](https://github.com/netty/netty/blob/4.1/handler-proxy/src/main/java/io/netty/handler/proxy/ProxyHandler.java). When auto-read is disabled (our default) a connection established with the proxy server goes into a stall state waiting for a first response and never receives that (fires a handshake timeout

[2016-10-21 22:15] Scottmitch commented on #5928
looking more closely ... the leak trace looks similar to https://github.com/netty/netty/issues/5631 where the buffer is owned by the aggregator. Are you using auto read, are you applying back pressure, and does this memory get freed when the channel is closed?

[2016-10-21 22:18] Scottmitch commented on #5931
If you aren't required to support renegotiation I would be curious if the behavior changes when you explicitly disable it.

[2016-10-21 22:31] Scottmitch commented on #5922
We could make this more directly overridable ... but I agree with @rkapsi can you just override a `exceptionCaught` from a handler in your pipeline and handle the `TooLongFrameException` for your needs?

[2016-10-21 22:55] vkostyukov commented on #5933
Adding some new details. Turns out we only need to issue one read to trigger the handshake (no matter how many messages it takes to complete for HTTP and SOCKS5) given that [`ProxyHandler.readComplete()`](https://github.com/netty/netty/blob/4.1/handler-proxy/src/main/java/io/netty/handler/proxy/ProxyHandler.java#L387-L389) will keep reading for us.

[2016-10-22 01:55] Scottmitch commented on #5925
@rz-itac - Please verify PR #5935

[2016-10-22 15:26] liuhualh commented on #5930
This is callstack how my application thread (RcApnsService) called InternalThreadLocalMap.
If Netty has some constraint where can or cannot call netty's function?  or maybe there is something wrong for my usage?

<img width="589" alt="netty-memory-leak-callstack" src="https://cloud.githubusercontent.com/assets/3794741/19620346/2e5b82ce-98ae-11e6-81a6-b22f3dbbdb5d.png">

[2016-10-24 03:10] stepancheg commented on #4472
I tried to understand how to do it with `PooledByteBufAllocator` and I couldn't. It has dozen of methods like `int smallCacheSize()` or `List<PoolArenaMetric> directArenas()` with tens of methods inside, and without deep knowledge of netty internals I have not a clue, how to compute totals (especially, how to do it efficiently).

Simple methods like `usedMemory` and `cachedMemory` would be a big h

[2016-10-24 06:10] buchgr commented on #4472
@stepancheg The sum of all `PoolArenaMetric.numActiveBytes()` should correspond to jemallocs `cachedMemory`.

@normanmaurer I think simple methods like `usedMemory()` and `cachedMemory()` would indeed be helpful?

[2016-10-24 07:17] Anke-L commented on #5922
Thanks for your answers @Scottmitch and @rkapsi .

I will give your suggestions a try.

[2016-10-24 08:33] johnou commented on #5931
@Scottmitch I would be hesitant to disable renegotiation as we need to support multiple platforms and I doubt they all use the same parameters. Here is the full stacktrace from the client side, I imagine the server side stacktrace is the same.

[code]

[2016-10-24 08:49] honyee opened #5936 "java.io.IOException: Connection reset by peer ？"
@trustin
 Hi, trustin：
    My netty application have a exception ,please help me look the question , Thank you !

java.io.IOException: Connection reset by peer
        at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
        at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
        at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
        at sun.nio.ch.IOUtil.read(IOUtil.

[2016-10-24 09:23] fabienbk commented on #4638
Hello, sorry to jump in, I have this *exact* problem and `FastThreadLocal.destroy()` did nothing.

[2016-10-24 09:33] johnson-li opened #5937 "Incomplete Cipher Suits for ALPN"
Netty version
===
 4.1.6.Final

Context
===
I used [Http2Client](https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/http2/helloworld/client/Http2Client.java) to get page from [this site](https://instagramstatic-a.akamaihd.net/h1/bundles/en_US_Commons.js/27575146c4ea.js), and encountered an exception

java.lang.IllegalStateException: unknown protocol:
	at io.netty.exampl

[2016-10-24 09:39] slandelle commented on #5937
This is a duplicate of #5859 that has already been fixed (will be released in 4.1.6.Final).
Check this issue for instruction on how to explicitly set enabled cipher suites.

[2016-10-24 11:56] wu-xiang opened #5938 "non-daemon thread with DefaultThreadFactory"
Why  not set daemon to true in DefaultThreadFactory by default?
Our application will not terminate for this reason.

[2016-10-24 12:12] johnson-li commented on #5937
It seems I'm using the fixed version of Netty.

`.ciphers(Http2SecurityUtil.CIPHERS, SupportedCipherSuiteFilter.INSTANCE)`
[This line](https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/http2/helloworld/client/Http2Client.java#L74) calls SslContextBuilder.ciphers(). And Http2SecurityUtil.CIPHERS truely contains `AES_256_GCM`.

`cipherSuites = checkNotNull(cipherFilter,

[2016-10-24 12:17] slandelle commented on #5937
@johnson-li Missing [JCE strength policy files](http://www.oracle.com/technetwork/java/javase/downloads/jce8-download-2133166.html)?

[2016-10-24 12:30] johnson-li commented on #5937
@slandelle
java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

I don't think there is any problem of my JDK. How can I tell if JCE strength policy files are missing?

[2016-10-24 12:37] johnson-li commented on #5937
@slandelle US_export_policy.jar and local_policy.jar both exist on my system

[2016-10-24 12:52] slandelle commented on #5937
IIRC, they always do and the patch replaces them.

[2016-10-24 13:57] johnou commented on #5931
And here is the full server side stacktrace.

[code]

[2016-10-24 15:04] johnson-li commented on #5937
@slandelle That's great! AES_256_GCM works fine now.

But I was wrong about why this exception occurred, the root cause is that the server requires [SNI](https://en.wikipedia.org/wiki/Server_Name_Indication).

So I changed
`pipeline.addLast(sslCtx.newHandler(ch.alloc()));` to `pipeline.addLast(sslCtx.newHandler(ch.alloc(), host, port));` in [Http2ClientInitializer](https://github.com/netty/netty/b

[2016-10-24 15:04] #5937 closed

[2016-10-24 16:24] #5925 closed

[2016-10-24 16:26] Scottmitch commented on #5916
closed by https://github.com/netty/netty/pull/5935

[2016-10-24 16:26] #5916 closed

[2016-10-24 16:27] Scottmitch commented on #5922
@Anke-L - sounds good. I will close this issue for now. Feel free to re-open if things do not work as expected.

[2016-10-24 16:27] #5922 closed

[2016-10-24 16:29] Scottmitch commented on #5936
Can you describe your issue? `Connection reset by peer` is typically a result of your peer sending a TCP RST to you ... which without more context doesn't say much.

[2016-10-24 16:35] Scottmitch commented on #5938
I'm not sure if this has been considered but it would be a breaking change. Can you just use one of the [constructors](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/concurrent/DefaultThreadFactory.java#L62) that allows you to control if threads are daemons?

[2016-10-24 16:57] eun-ice commented on #5921
We rely on it too.

[2016-10-25 03:44] duongtx90 opened #5941 "How to clear the read buffer from outside handler?"
Hi,
I have a flow like this:
Device ---> [ByteMessageDecoder -> ChannelInboundHandler]
And here is my decoded method:

[code]

But if my connection has problem, some bytes has lost and the next request I will receive wrong data. How can I  clear the reading buffer from outside inbound handler?
Thank you for your help!!!

[2016-10-25 09:15] honyee commented on #5936
@Scottmitch  Thank you, This problem has been solved，Is due to the load balance caused by the exception !

[2016-10-25 11:16] creativeprogramming opened #5943 "OCSP Stapling"
Please read this article:
https://letsencrypt.org/2016/10/24/squarespace-ocsp-impl.html

Especially:

hoping you'll show that there's interest! my 2 cents

[2016-10-25 14:26] mxmind commented on #4068
Do you have some progress on this issue?

[2016-10-25 18:17] normanmaurer commented on #5937
What java version?

[2016-10-26 09:52] zhangweixin opened #5944 "About WebSocketServerCompressionHandler.class problem"
I use WebSocket function of netty(4.1.5) in my project. When  I add that handler to ChannelPipeline in
 server , the client(chrome/firefox) sends a message will fail, and then shut down automatically socket link.
 If I didn't do that, client can work normally. I  find server response building link has one field As shown
 in the figure below ,when server have that handler in  ChannelPipeline .
![im

[2016-10-26 13:25] ichaki5748 opened #5945 "OpenSslSession#initPeerCerts creates too long almost empty arrays"
netty 4.1.6

io.netty.handler.ssl.ReferenceCountedOpenSslEngine.OpenSslSession#initPeerCerts

[code]

But should probably be

`int len = chain.length + 1; // <------ so we have first entry as client cert + chain.length`

[2016-10-26 15:50] normanmaurer commented on #5945
Maybe want to provide a PR with a fix?

[2016-10-26 15:54] ichaki5748 commented on #5945
Yes, sure, will try to do it this week

[2016-10-26 20:48] doom369 opened #5946 "LineEncoder and StringEncoder are slower than naive java implementation"
Hello. I had a production code :

[code]

it was working fine, however I found that netty `LineEncoder` and `StringEncoder` using another code :

[code]

So i was expecting that those `ByteBufUtil.encodeString` will work faster (as netty uses it :)). So before any changes I made benchmark that showed me quite opposite.

Here is benchmark that show this difference :

[code]

Result :

[code]

So my

[2016-10-26 21:36] slandelle commented on #5946
Actually, the proper Netty way for UTF-8 should be `ByteBufUtil.writeUtf8(DEFAULT, average);`.

On my side, I tend to test charset, go with a fast path for UTF-8, which is the most common use case, and then fallback to a pooled CharsetEncoder based path.

[2016-10-26 21:59] doom369 commented on #5946
@slandelle nice. Thanks for pointing. Your approach seems the fastest possible way.

[2016-10-26 22:10] rkapsi commented on #5943
Hey there,

I'm the one who wrote that said library at Squarespace. The C code is really simple. Maybe 300 LoC with comments. Getting that plugged into Netty in the current incarnation is a bit more elaborate. It works for us but isn't something we'd want to support externally. Adding it straight to SslContext and SslEngine would condense it down to an enable/disable method and a add/remove callba

[2016-10-26 22:44] normanmaurer commented on #5945
Thx

[2016-10-26 23:11] doom369 commented on #5946
@slandelle do you have some code samples? Look like `ByteBufUtil.writeUtf8(DEFAULT, average);` allocates larger ByteBuf (string.length * 3) and I'm not sure how to correctly truncate it to writer index.

[2016-10-27 00:49] nhnFreespirit opened #5947 "Make it possible to specify initial settings for Http2Codec"
Currently, when instantiating an Http2Codec, there does not appear to be any way of specifying non default initial settings.

[2016-10-27 01:42] Scottmitch commented on #5936
@honyee - Thanks for confirming. I will close this for now. If you could be more descriptive about how you resolved the issue that also may help users who face similar issues in the future.

[2016-10-27 01:42] #5936 closed

[2016-10-27 08:48] ichaki5748 commented on #5946
I would say that perf difference happens because netty version eventually writes to ByteBuf like one 'char' at a time but in String.getBytes java writes everything to array and you just copy everything in one go to ByteBuf. So writing to byte array is cheaper than writing to bytebuf (http://stackoverflow.com/questions/18913001/when-to-use-array-buffer-or-direct-buffer)

But it would be interesting

[2016-10-27 14:23] creativeprogramming commented on #5943
Hi @rkapsi I'm no one to endorse Netty positions, just a user, but as still no reply I want to give another 'my 2 cents' to this cause, saying that an open source PR with C code will surely appreciated by many, if not in Netty also in other open source projects, e.g. VertX devs https://github.com/eclipse/vert.x/issues/1689 showed interest in having this feature in VertX that uses Netty's SslContex

[2016-10-27 15:02] creativeprogramming commented on #5796
@mstanescu interesting security issue, can you share a PR with your solution to that issue? This may improve approval time as they can test the PR ...

[2016-10-27 15:21] ichaki5748 commented on #5945
Also io.netty.handler.ssl.OpenSslJavaxX509Certificate#unwrap

[2016-10-27 15:26] ichaki5748 commented on #5945
Also io.netty.handler.ssl.OpenSslJavaxX509Certificate.*
could theoretically blow in concurrent usage because of lazy init in io.netty.handler.ssl.OpenSslJavaxX509Certificate#unwrap because
io.netty.handler.ssl.OpenSslJavaxX509Certificate#wrapped is not volatile (certificate would not be fully initialized)?

[2016-10-27 15:44] normanmaurer commented on #5943
Do you think we could merge it into netty-tcnative ?

[2016-10-27 18:03] hzariv opened #5948 "tcnative fails to load JNI library when embedded tomcat is in classpath"
I have a Spring Boot application that is using embedded Tomcat. I needed to use netty-tcnative-boringssl-static (1.1.33.Fork23) but I am finding that when tomcat-embedded-core artifact is in the classpath the org.apache.tomcat.jni.Library gets picked up from tomcat-embedded-core instead of  netty-tcnative-boringssl-static. The results in failing to load the JNI library. Here is the code in questio

[2016-10-27 19:54] doom369 commented on #5946
`I would say that perf difference happens because netty version eventually writes to ByteBuf like one 'char' at a time in for loop (for PooledDirectByteBuf) but in String.getBytes java writes everything to array and you just copy everything in one go to ByteBuf.`

That's not true. Netty version (except utf8Write) uses same code as JDK. Netty just does additional caching of Encoder + unnecessary wr

[2016-10-27 20:19] ichaki5748 commented on #5946
Stack trace would be like:
[code]
in encodeLoop for e.g. UTF-8 we will have `var1.hasArray() == false` for Direct buffers and it will loop

[code]

Please correct me if I am wrong

Also your point is that netty creates two additional objects but that should give constant overhead independent on string size but your benchmarks shows opposite every character write has it's own added cost.

Also I wo

[2016-10-27 20:43] doom369 commented on #5946
You are right. My bad, sorry.

[2016-10-27 20:50] ichaki5748 commented on #5946
No problem :) Please write if you try HeapBuffers or profile memory allocation - it would be interesting

[2016-10-27 22:18] Scottmitch commented on #5948
dup of https://github.com/netty/netty-tcnative/issues/151

We are planning to put netty-tcnative in its own namespace to avoid these conflicts.

[2016-10-27 22:18] #5948 closed

[2016-10-27 23:07] normanmaurer commented on #5943
@rkapsi Ping :)

[2016-10-28 01:48] rkapsi commented on #5943
@normanmaurer Pong

That would be the idea. Either adding the native code directly to netty-tcnative or leave it as a sidecar library. The important part is to move the "lifecycle" of the Java side of this stuff under SslContext's control. The user should be able to enable/disable OCSP straight on the context and every SslEngine that comes out of it is ready to pass along the staple (server) or ve

[2016-10-28 05:59] svnp10 opened #5950 "Netty performance goes worse after adding Netty epoll performance worse after netty-transport-native-epoll dependency"
Netty service that is written for low latency was performing with application latency of Avg: 2.285013.
Other percentiles:
99.99% - 25.61676
99.95%  - 19.22143
99.9% - 17.14491
99% - 7.51996

After the dependency netty-transport-native-epoll-*-linux-x86_64 has been added the performance went worse.
New numbers:
99.99% - 67.37476
99.95%  - 28.69037
99.9% - 16.86214
99% - 8.95284
Avg: 3.394375

Inst

[2016-10-28 06:02] svnp10 commented on #5928
@Scottmitch i went back to 4.1.4.Final. the issue isn't much though. The Leak message appears very initial part of sudden high throughput. I haven't checked if the memory is freed after channel is closed.

[2016-10-28 10:45] nitsanw opened #5951 "Upgrade to JCTools v2.0, use the Unbounded MPSC to replace Chunked"

[2016-10-28 21:20] polarctos commented on #4671
Any news on this issue?

I would prefer keeping `netty-all` available and just having it depend on everything else.

This has two advantages:
* most of the current users of `netty-all` can just keep updating their netty versions without having to adapt their POMs to new dependency names
* an additional 'jar-with-dependencies' could also easily be created to still offer a shaded JAR file for users

[2016-10-29 06:01] mosesn opened #5952 "Http2Codec fails silently when the server tries to send too big headers"
When the server tries to send a response with too big headers according to the negotiated SETTINGS_MAX_HEADER_LIST_SIZE, it only half-closes and fails silently.  I think it should instead fireExceptionCaught.

[2016-10-29 06:01] mosesn commented on #5952
This is easy to reproduce.  Spin up an http/2 server, and have it respond to a request with a header of size 10K.

[2016-10-29 07:10] mosesn commented on #5952
I'm having an awful time testing this, but I think the solution is simple:

[code]

[2016-10-29 19:31] mosesn commented on #5952
@normanmaurer do you have tips for how I should test this?

[2016-10-30 07:27] #5933 closed

[2016-10-30 07:28] normanmaurer commented on #5933
Fixed by https://github.com/netty/netty/pull/5939

[2016-10-31 02:25] mosesn opened #5954 "HttpClientUpgradeHandler waits for the fully buffered stream"
The HttpClientUpgradeHandler should only need the headers to decide whether to upgrade or not, but it waits for the entire response.  This means that servers that respond with infinite streams will never know that their clients are only buffering the response.

We should instead change it to only buffer once it has decided that it is switching protocols.

[2016-10-31 02:39] Hanson1129 opened #5955 "Do log the throwable while user handler's exceptionCaught() throws a exception"
[code]

@see io.netty.channel.AbstractChannelHandlerContext#invokeExceptionCaught

The throwable is missing...Netty my baby just log the true IO throwable...

[2016-10-31 04:11] normanmaurer commented on #5955
@Hanson1129 good idea!

[2016-10-31 04:27] normanmaurer commented on #5892
@alkemist sorry was on vacation... Please check https://github.com/netty/netty/pull/5957

[2016-10-31 04:50] normanmaurer commented on #5955
@Hanson1129 actually this is already the case in the latest 4.1 and 4.0 release. So please update your version.

[2016-10-31 04:50] #5955 closed

[2016-10-31 04:53] normanmaurer commented on #5952
@mosesn writes usually not results in `exceptionCaught(...)` calls but should just fail the promise. Let me think a bit about this.

[2016-10-31 04:54] normanmaurer commented on #5951
@nitsanw can you explain what the `advantages` of the new impl is ?

[2016-10-31 04:55] normanmaurer commented on #5947
@nhnFreespirit so just to ensure I understand you right you suggest that we should for example allow to pass it in into the constructor ?

[2016-10-31 04:57] normanmaurer commented on #5945
@iainmcgin please open separate PRs for the separate issues and ping me once you are ready. I will review then

[2016-10-31 04:57] normanmaurer commented on #5944
@zhangweixin can you show me the code ?

[2016-10-31 04:58] normanmaurer commented on #5943
@rkapsi please do a "dirty and quick" PR against netty-tcnative and we can discuss directly there :) Thanks!

[2016-10-31 05:05] normanmaurer commented on #5938
@wu-xiang if you correctly shutdown your resources (like the `EventLoopGroup`) there should be no problems. If it hangs you miss to shutdown stuff correctly which I consider a bad thing.

That said as @Scottmitch pointed out you can just use a different constructor and use a `ThreadFactory` which creates daemon threads if you really want to.

[2016-10-31 05:05] #5938 closed

[2016-10-31 05:11] iainmcgin commented on #5945
You probably meant to reference @ichaki5748

[2016-10-31 05:12] mosesn commented on #5952
@normanmaurer the problem I'm running into is that the promise isn't accessible.

[2016-10-31 05:12] normanmaurer commented on #5945
@iainmcgin ups yes... sorry I need more ☕️

[2016-10-31 05:32] normanmaurer commented on #5952
@mosesn yep which I think is the "core problem" and I think we need to make this happen ;)

[2016-10-31 05:40] normanmaurer commented on #5796
@idelpivnitskiy ping...

[2016-10-31 05:41] normanmaurer commented on #4068
@mxmind nope... that said we should have fallbacks if these are not accessible.

[2016-10-31 05:41] normanmaurer commented on #5921
I think we should just keep it as it is for now.

[2016-10-31 05:41] #5921 closed

[2016-10-31 05:43] normanmaurer commented on #4472
@buchgr yep that said I can not add these now as this would be a breaking change ( need to add methods to interface).

[2016-10-31 05:44] normanmaurer commented on #3567
@svnp10 please open a new issue and provide more infos

[2016-10-31 05:48] normanmaurer commented on #5930
@liuhualh could you upload the dump somewhere ?

[2016-10-31 05:53] mosesn commented on #5952
@normanmaurer should I post the diff I wrote in a comment before as a PR, or do you have another idea?

[2016-10-31 05:55] normanmaurer commented on #5952
@mosesn like I said I need to think a bit more about it. I think we need to refactor the whole child channel thing a bit to make it "better" and so allow to be notified

[2016-10-31 06:06] mosesn commented on #5952
oof, OK.  I'll just document the bug in our codebase for now.

[2016-10-31 06:34] Hanson1129 opened #5962 "Don't log the exception object while FD is full"
check this stack

[code]

while vm 's fd is full, if you try to log the object of throwable,the JVM may try to do some class loading.Because of fxxking "too many open files", my JVM she cannot load any class then.

see this:

![image](https://cloud.githubusercontent.com/assets/4310631/19845965/d3ddc5bc-9f76-11e6-9d24-2653fa6e0465.png)

So my boss worker is down...

Can we judge the throwable is so

[2016-10-31 06:45] normanmaurer commented on #5931
@johnou can I see your `ProxyHandler`. It looks like you do something wrong with the promise .

[2016-10-31 06:51] nitsanw commented on #5951
IIUC Netty originally had an unbounded linked queue here. It then moved to using Chunked which is bounded and just set a very very high boundary on max size. Unbounded should offer a slightly faster and simpler resize logic, and a more accurate representation of the original intention.
Also note that this release fixes an issue with the Growable variant, but I don't think Netty uses it.

[2016-10-31 06:57] svnp10 commented on #3567
@normanmaurer issue here #5928

[2016-10-31 06:57] svnp10 commented on #5928
@Scottmitch verified, there's back pressure as well.

[2016-10-31 07:13] normanmaurer commented on #5927
@rkapsi I am not sure if there is really some benefit to deprecate all of these :) Override each of these sounds ok to me.

[2016-10-31 07:15] normanmaurer commented on #5889
@Scottmitch let me know what you prefer. We could also just close this one and point to the PR as you said.

[2016-10-31 07:15] normanmaurer commented on #5874
@Scottmitch ping

[2016-10-31 07:17] normanmaurer commented on #5828
@ppatierno we could maybe add some new constructor param which allow to configure that a `ReferenceCounted` `MqttConnectPayload` is used. In this case the user would be aware that he needs to take special action.

This is the best that I can think of atm,

[2016-10-31 07:18] normanmaurer commented on #5777
@coderplay sorry for the late response... I am not sure this is really something most people need and would put some more "maintenance" burden on us. So I think I would suggest you just host it in a separate repository for now.

[2016-10-31 07:29] mhstnsc commented on #5796
@idelpivnitskiy  @normanmaurer  I looked deeper in the history. Actually the skipping was introduced by @trustin in this commit  9cdc4a959e913b823d59a65368ab1238e5386549

[2016-10-31 07:45] johnou commented on #5931
Sure, where shall I drop it, your googlemail?

[2016-10-31 07:47] normanmaurer commented on #5931
@johnou yep

[2016-10-31 08:09] Hanson1129 commented on #5962
[code]

[2016-10-31 09:22] ppatierno commented on #5828
@normanmaurer if I can help on that with a PR ... do you mean some new constructor param to the MqttConnectPayload class ? Should we derive this class from ReferenceCounted ? Should we change willMessage field from String to ByteBuf ?

Can you give me more information about your idea ? Thanks !

[2016-10-31 11:30] johnou commented on #5931
@normanmaurer sent, let me know if you need the pipeline or anything else.

[2016-10-31 13:50] cdancy opened #5963 "ByteBuf to its own library/project"
I swear I've seen this talked about before but can't seem to find the thread or remember what the outcome of the discussion was.

Any thoughts/ideas/opinions to separating out Netty's ByteBuf impl into its own generic library? We know netty can be used in this way already but doing so brings in all the rest of netty (which may/may-not be Ok) and could potentially (depending on your build/execution

[2016-10-31 13:54] slandelle commented on #5963
`ByteBuf` is already isolated into the `netty-buffer` module that only depends on `netty-commons`.

[2016-10-31 13:59] cdancy commented on #5963
@slandelle really? Huh ... I'll have to check that out. Thanks for pointing me in the right direction.

[2016-10-31 13:59] #5963 closed

[2016-10-31 14:36] freevest commented on #5278
@alvin-xu Rarely meet Chinese player...

[2016-10-31 14:38] freevest commented on #4466
Mark and support

[2016-10-31 17:26] nhnFreespirit commented on #5947
Yeah, having it in  a constructor of Http2Codec would solve my issues nicely.

When constructing an http/2 client, it is possible to specify non default initial settings by subclassing AbstractHttp2ConnectionHandlerBuilder and invoking the initialSettings method, but unless I am missing something, there is no reasonable way to accomplish the same when using Http2Codec to build an http/2 server.

[2016-10-31 17:39] tomjmul opened #5964 "Kernel Panic on Raspberry Pi 3"
Running Logstash in a docker container (as a swarm service) on a Raspberry Pi 3 and seeing a stacktrace in the logs, which seems to correlate with a kernel panic that takes the whole node down

[code]

Kernel logs:

[code]

[2016-10-31 20:34] exell-christopher commented on #5889
I'd love to have a 431 response, even if it was something that is enabled via configuration, we've added outbound handlers locally for this to work with the new code.

When working with the new change, we did notice one unusual behavior in the InboundHttp2ToHttpAdapter (this may have already been the behavior with the prior GO_AWAY behavior), the InboundHttp2ToHttpAdapter doesn't seem to translate

[2016-10-31 21:47] ichaki5748 commented on #5945
@normanmaurer Hi, please see PR https://github.com/netty/netty/pull/5965 and https://github.com/netty/netty/pull/5966

[2016-10-31 22:27] ichaki5748 commented on #5945
@normanmaurer Hi, please see https://github.com/netty/netty/pull/5967 https://github.com/netty/netty/pull/5966

[2016-11-01 05:32] #5954 closed

[2016-11-01 05:33] normanmaurer commented on #5954
Fixed by https://github.com/netty/netty/pull/5956

[2016-11-01 05:34] normanmaurer commented on #5964
Sorry but this has nothing todo with netty. You will need to investigate on the Raspberry side.

[2016-11-01 05:34] #5964 closed

[2016-11-01 05:35] normanmaurer commented on #5950
@svnp10 thats interesting... Do you have any reproducer that we could use ? Also are you sure its serving the same amount of traffic in both runs ?

[2016-11-01 08:36] LionelCons commented on #4448
One year has passed....

If Netty's STOMP support is not experimental then these compliance issues with the STOMP specifications should really be addressed.

[2016-11-01 10:25] normanmaurer commented on #5892
Fixed by https://github.com/netty/netty/pull/5957

[2016-11-01 10:25] #5892 closed

[2016-11-01 17:01] rkapsi commented on #5943
@normanmaurer pushed a PR with an UML diagram which will hopefully give some context down the road. Code will follow over the weekend or so.

[2016-11-01 18:13] meshcow opened #5969 "Epoll channel configs throw UnsatisfiedLinkError in getOptions()"
Netty version: `5.0.0.Alpha2`, maven artifact: `netty-all`

Operating system: Debian Linux 64-bit
[code]
Boss channel (due to `SO_REUSEADDR` gets queried)
[code]
Worker channel (due to `SO_KEEPALIVE` gets queried)
[code]

[2016-11-02 07:37] normanmaurer commented on #5969
@meshcow this is a very old version... Please use the latest 4.0 or 4.1 version

[2016-11-02 07:37] #5969 closed

[2016-11-02 07:39] normanmaurer commented on #5777
So let me close this for now

[2016-11-02 07:39] #5777 closed

[2016-11-02 07:40] normanmaurer commented on #5694
@beykery Let me close this for now. Once you made more progress you could open a PR. That said I am not sure we should really include it in netty itself.

[2016-11-02 07:40] #5694 closed

[2016-11-02 07:40] normanmaurer commented on #5232
@evgenyvsmirnov sorry this totally dropped from my to do list... Do you still see the problem ?

[2016-11-02 07:41] normanmaurer commented on #5254
Did mot see this for a long time now. Let me close this.

[2016-11-02 07:41] #5254 closed

[2016-11-02 07:43] normanmaurer commented on #4471
After thinking more about it I think there is not much we can do in terms of set a max limit.

[2016-11-02 07:43] #4471 closed

[2016-11-02 07:44] normanmaurer commented on #4286
@sigil66 I think we fixed this recently. Please test again with latest version and reopen if you still see the problem.

[2016-11-02 07:45] normanmaurer commented on #3907
There is no netty 5 anymore and we not plan to work on it soon. So let me close this

[2016-11-02 07:45] #3907 closed

[2016-11-02 07:47] normanmaurer commented on #3455
Let me close this for now.. I did some benchmarks and it seems to be "ok"

[2016-11-02 07:47] #3455 closed

[2016-11-02 07:47] normanmaurer commented on #3403
Let me close this

[2016-11-02 07:47] #3403 closed

[2016-11-02 07:49] normanmaurer commented on #3374
Let me close this for now until we get more infos.

[2016-11-02 07:49] #3374 closed

[2016-11-02 07:51] normanmaurer commented on #3166
I think we added a lot of things to be able to specify max limits etc. So we can close this now

[2016-11-02 07:51] #3166 closed

[2016-11-02 07:51] normanmaurer commented on #3061
Let me close this as I think we support it now.

[2016-11-02 07:51] #3061 closed

[2016-11-02 07:54] normanmaurer commented on #2759
@trustin @buchgr is this still something you think is worthwhile or can we close this one ?

[2016-11-02 07:55] normanmaurer commented on #2656
Let me close this for now..

[2016-11-02 07:55] #2656 closed

[2016-11-02 09:37] evgenyvsmirnov commented on #5232
Hi @normanmaurer , no problem. I haven't checked it with 4.1.6 yet (but with 4.1.5 I have). I have isolated it and it doesn't look urgent anymore. If you don't have an idea what could happen between 4.0.28 and 4.1.0.CR7 I suggest postponing it until I'll be able to provide you a test. Thanks.

[2016-11-02 09:44] normanmaurer commented on #5232
@evgenyvsmirnov ok let me close this with `needs info` label

[2016-11-02 09:44] #5232 closed

[2016-11-02 10:09] dimitarg opened #5970 "[discussion] how to arrive at good write watermark settings"
Netty version : 4.1.4.Final

We have an inhouse (to be opensourced soon) http2 server mostly focused at browser scenarios. It is capable of serving static content as well as rest services over http2+ssl, using FullHttpResponse only.
Recently we tried to implement simple backpressure support, like so:

[code]
(using settings of 8192 / 32768)

, and then

[code]

Our local tests with [h2load](https:

[2016-11-02 13:04] normanmaurer commented on #3387
I can not reproduce as well... @wsky if you still see the issues with latest netty version please reopen.

[2016-11-02 13:04] #3387 closed

[2016-11-02 17:36] garydgregory opened #5971 "Building 4.0 branch failures in SniHandlerTest.testServerNameParsing:113"
Building the 4.0 branch with:
[code]
I get:

[code]
Same with Java 8:
[code]

[2016-11-02 18:14] normanmaurer commented on #5971
@Scottmitch I think you were working on this... Any update ?

[2016-11-03 00:51] nmittler opened #5973 "Possible bug in OpenSslEngine"
Just looking at the code and it appears that we should be incrementing `bytesProduced` here: https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/ReferenceCountedOpenSslEngine.java#L623

@normanmaurer is this a bug or WAI?

[2016-11-03 02:49] johnou commented on #5973
@nmittler looks intentional, bytesProduced is passed into and incremented in readPendingBytesFromBIO.

[2016-11-03 05:03] normanmaurer commented on #5973
@nmittler yep as @johnou said.

[2016-11-03 05:03] #5973 closed

[2016-11-03 05:03] normanmaurer commented on #5973
@nmittler so to clarify its not a bug.

[2016-11-03 09:39] jrudolph opened #5975 "Openssl-based SSLEngine differs slightly in unwrap behavior"
We are experimenting with netty's openssl based SSLEngines as an alternative to the JDK one ([for our effort](https://github.com/akka/akka-http/tree/jr/http2-on-netty-openssl) to produce an HTTP/2 implementation for akka-http). We use
netty-tcnative-boringssl-static, version 1.1.33.Fork23. Thanks for providing that! When we talked at reactive summit you mentioned that you put much effort into maki

[2016-11-03 09:56] johnou commented on #5975
Related? https://github.com/netty/netty/pull/4254

[2016-11-03 10:27] jrudolph commented on #5975
Yes, seems so. Thanks for the pointer.

[2016-11-03 11:08] normanmaurer commented on #5975
@jrudolph would be possible to submit a small unit test that works with JDK SSLEngine and fails with the OpenSslEngine ?

[2016-11-03 11:25] normanmaurer commented on #5945
Fixed by https://github.com/netty/netty/pull/5967

[2016-11-03 11:25] #5945 closed

[2016-11-03 11:26] normanmaurer commented on #5970
@dimitarg actually you should stop reading if the channel becomes not writable. And continue reading once it becomes writable again.

[2016-11-03 13:23] nmittler commented on #5973
@johnou @normanmaurer *sigh* ... yep, sorry for the noise :P

[2016-11-03 14:19] jrudolph commented on #5975
@normanmaurer yes, will try to build one, shouldn't be too hard.

[2016-11-03 14:24] normanmaurer commented on #5975
@jrudolph also when you say "the JDK SSLEngine doesn't buffer encrypted data internally between calls to unwrap but "puts them back" into the src buffer" do you mean that if you not completely drain   stuff into the dst buffer it will just adjust the position of the src buffer and so try to process it on the next call again ?

[2016-11-03 15:54] jrudolph commented on #5975
Here's a test I added to SslEngineTest: https://github.com/jrudolph/netty/tree/w/5975-SslEngine-test

It seems I was wrong about my first point. The JDK SSLEngine also only decrypts only one frame per unwrap call. Still it doesn't consume data that it hasn't read so far.

Hmm, no, I originally don't meant to imply that case. But, indeed, the difference can be seen here as well. JDK returns BUFFER_

[2016-11-03 15:55] normanmaurer commented on #5975
@jrudolph let me look into it

[2016-11-03 16:07] dimitarg commented on #5970
Absolutely right. I've went ahead with something like this, I'm hoping it will do for now. h2load will show tomorrow how it behaves.
[code]
, and not bother at all with writability in channelRead().

Also please disregard the above info with the ubuntu server settings as useless, as it turned out not to be related to the particular machine.

The question remains - how to compute "sane" settings fo

[2016-11-03 16:08] jrudolph commented on #5975
I think the test case is not much different than @ijuma's [here](https://github.com/ijuma/netty/commit/0f6eff24885bfbe965d0cabd61115067d14feedc#diff-08da41869dfc1d842df441440b1c605bR232), so it might indeed just be a duplicate of #4238. Hi, @ijuma btw ;)

[2016-11-03 17:11] jrudolph opened #5976 "Openssl SSLEngine reports too little size in session.getPacketBufferSize"
It seems OpenSSLEngine needs more package buffer space than the JDK one. Both JDK and Openssl report for `session.getPacketBufferSize` 18713 bytes (16665 + 2048) but the OpenSSLEngine will in some cases only succeed with buffers of size 16665 + 2048 + 58 (I bisected the exact amount, 1 byte less will still fail) and will otherwise return a BUFFER_OVERFLOW.

This isn't a fatal problem as you can ju

[2016-11-03 18:13] normanmaurer commented on #5975
@jrudolph are you license the shared code as ASL2 so I can include it in netty when I have a fix ?

[2016-11-03 18:22] normanmaurer commented on #5976
@jrudolph thats interesting... I wonder where the 58 bytes come from. Any idea ?

[2016-11-03 19:15] normanmaurer commented on #5975
@jrudolph so after some digging I found out that the SSLEngineImpl (the JDK one) always only consume if a full packet is present while we even consume when it is only partly present. Both implementations correctly return `BUFFER_OVERFLOW` tho. I wonder if what we do is permitted.. I could not see details in the javadocs of `SSLEngine` which state that you can not consume a partial record. I am mis

[2016-11-03 19:37] normanmaurer commented on #5975
@jrudolph actually I think this sentence may state we are not allowed to consume and still return a `BUFFER_OVERFLOW`:

[code]
Agree ?

[2016-11-04 02:03] xiaoyaoweizi commented on #1578
Hi. Have the issue solved?I have met the same problem.and I use netty-4.0.34.jar.the execption show:
[code]
Now I know the only solution is to increase this limit of open files in Linux system.Is there any drawbacks for the file system, latency, performance for other running applications, or anything else? Or is it the ulimit -n with a high value is already the chosen solution? what is the highest

[2016-11-04 03:57] trustin commented on #2759
OK to close.

[2016-11-04 03:57] #2759 closed

[2016-11-04 05:32] xiaoshuang-lu opened #5977 "There may be resource leak in ChannelPool"
Affects Version: 4.0 4.1

Here is the scenario which can reproduce this issue.

[code]

All channels acquired from channelPool leak.

What about making SimpleChannelPool introduce a container to hold all the channels created from the pool?

[2016-11-04 05:35] normanmaurer commented on #5977
@xiaoshuang-lu so you say closing the pool should also close all channels ?

[2016-11-04 05:42] xiaoshuang-lu commented on #5977
@normanmaurer Exactly.

[2016-11-04 07:33] normanmaurer commented on #5962
@Hanson1129 I think there is not much we can do here as first of the message may be localized and also the user may use a logger which not use a file at all and so want to log in all cases.

[2016-11-04 07:33] #5962 closed

[2016-11-04 07:33] normanmaurer commented on #5976
@jrudolph also do you have a reproducer for this as well ? Would be interested to see when this happens.

[2016-11-04 07:34] normanmaurer commented on #5975
@jrudolph ok nevermind.. I think I know how to "fix" the problems stated here. Will need to check what performance impact this has and if it is too much I may introduce a "strict" and non "strict" mode for the `OpenSslEngine`. Will keep you posted.

[2016-11-04 08:07] qiaodaimadelaowang commented on #920
@carrot-garden I think it is [VisualVM](https://visualvm.github.io/).

[2016-11-04 08:59] alvin-xu commented on #5278
Haha, does my Chinese English sells me out? @freevest

[2016-11-04 13:34] GeorgeMatveev opened #5979 "getPayload() method returns nothing"
Hi, I am working on MQTT broker project based on Moquette
which in turn relies on netty_parser, (via netty/PublishDecoder).

When I try to get message data using msg.getPayload() I am getting NO data at all.
And if I "stuff" my message with my data using ByteBuffer then everything works fine (see below).

    //This code WORKS fine!
    byte [] ba = new byte [] {'G','e','o','r','g','e'};
    ByteB

[2016-11-04 13:50] rkapsi opened #5980 "IllegalArgumentException in io.netty.util.internal.PriorityQueue"
4.1.7-SNAPSHOT

It's always the same message: `e.priorityQueueIndex(): 0 (expected: -1)`. It's strange because I don't see `WeightedFairQueueByteDistributor$State#priorityQueueIndex(0)` ever being called (or the `priorityQueueIndex` field getting set).

[code]

[2016-11-04 14:00] normanmaurer commented on #5980
@Scottmitch @nmittler can you have a look ?

[2016-11-04 14:48] Scottmitch commented on #5928
@svnp10 - Please provide a reproducer, and answer the all questions above. The leak reports you provided in isolation don't provide enough context to debug this issue.

[2016-11-04 14:54] Scottmitch commented on #1578
`ulimit` may not provide the whole picture. Please see http://www.cyberciti.biz/faq/linux-increase-the-maximum-number-of-open-files/

[2016-11-04 15:10] Scottmitch commented on #4671
PR implementing https://github.com/netty/netty/issues/4671#issuecomment-173393054 sgtm

[2016-11-04 15:11] Scottmitch commented on #5980
sure

[2016-11-04 15:25] Scottmitch commented on #5980
@rkapsi - can you tell me what your priority tree looks like when flush is invoked, and also do you have a reproducer?

`priorityQueueIndex` is set by our `PriorityQueue` implementation as nodes are inserted/removed and is to avoid the traversal for removal from the queue.

[2016-11-04 15:36] rkapsi commented on #5980
@Scottmitch I don't have a reproducer but it happens pretty reliably in our production environment. There is an initial burst as soon as the server starts accepting connections and then one every once in a while.

How do I get the info for the priority tree? ToString or do you need something else?

[2016-11-04 15:38] rkapsi commented on #5980
Just throwing it out there but could it be a thread visibility thing because `priorityQueueIndex` is neither final nor volatile?!

[2016-11-04 15:39] Scottmitch commented on #5980
codec-http2 is not thread safe. You *always* have to be on the IO thread when ever you interact with it ... is this not the case?

[2016-11-04 15:44] rkapsi commented on #5980
Checking... Possible that my `Http2ConnectionEncoder` is called from a different thread.

[2016-11-04 15:48] Scottmitch commented on #5980
If you are sure you are always on the I/O thread then it would be great to see the string represetnation of the general priority tree, and the string representation of the `WeightedFairQueueByteDistributor`'s tree of queue's structure.  We don't have a means to serialize these to string now ... but they can be added if necessary.

[2016-11-04 16:16] Scottmitch commented on #5971
I got pulled onto other items. The behavior between OpenSslEngine and JdkSslEngine is not consistent, and I was investigating the cause of this. IIRC one was was related to generating an alert while the other was not.

[2016-11-04 16:18] Scottmitch commented on #5874
https://github.com/netty/netty/issues/5971#issuecomment-258476405

I got side tracked. Not sure when I will get back to this issue.

[2016-11-04 16:27] Scottmitch commented on #5889
`InboundHttp2ToHttpAdapter` is for reading application level data. IIUC in this case your local endpoint would be sending a RST. Are you saying your peer is not receiving a RST frame when they violate the header size?

[2016-11-04 16:29] Scottmitch commented on #5796
this does not sound like intentional behavior and sounds like a vulnerability.

[2016-11-04 18:06] rkapsi commented on #5980
@Scottmitch flush() and my interactions with the encoder are on the codec's IO thread.

Below are two `toStrings()` of the WeightedFairQueueByteDistributor's queue structure. I'm also attaching the code that was used to produce it. Where do I find the general priority queue?

[code]
[code]

[code]
[code]

[code]

[2016-11-04 18:25] Scottmitch commented on #5980
@rkapsi

Here is where it is created in `WeightedFairQueueByteDistributor.java`:
https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/WeightedFairQueueByteDistributor.java#L243

The root of the tree is here:
https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/WeightedFairQueueByteDistributor.java#L48

Here is the

[2016-11-04 18:28] rkapsi commented on #5980
@Scottmitch great. That's exactly what I toString'd.

Look for the two codeblocks right before the stacktraces. They're rendered as a single line. Copy & Paste them into some Text Editor.

[2016-11-04 18:35] Scottmitch commented on #5980
@rkapsi - can you show me the state before?

[code]

[2016-11-04 18:56] bryce-anderson opened #5982 "HttpObjectAggregator closes the http/1.x connection without a 'Connection: close' header"
Netty version: 4.1.6.Final

The [HttpObjectAggregator](https://github.com/netty/netty/blob/eb7f751ba519cbcab47d640cd18757f09d077b55/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectAggregator.java) will take it upon itself to return a 413 response when the message has too large of body [here](https://github.com/netty/netty/blob/eb7f751ba519cbcab47d640cd18757f09d077b55/codec-http/src/

[2016-11-04 19:10] rkapsi commented on #5980
[code]

[code]

[2016-11-04 19:17] rkapsi commented on #5980
The first before/after "nicely" formatted:

[code]

[2016-11-04 20:36] Scottmitch commented on #5980
@rkapsi - thanks! can you also tell me the `maxBytes` value for the initial call to `distribute`? It is derived from `DefaultHttp2RemoteFlowController#writableBytes()`.

[2016-11-04 20:50] rkapsi commented on #5980
@Scottmitch initial call as in the very first call or the value for before/after the exception is being thrown?

[2016-11-04 20:50] Scottmitch commented on #5980
@rkapsi - Just the value of the argument which triggers the call to `WeightedFairQueueByteDistributor#distribute(int, Writer)` when the exception occurs (shouldn't change before and after).

[2016-11-04 21:01] Scottmitch commented on #5980
@rkapsi - also are you using the default value for `WeightedFairQueueByteDistributor#allocationQuantum`, and if not can you tell me what value you use?

[2016-11-04 21:03] rkapsi commented on #5980
[code]

[code]

[2016-11-04 21:07] rkapsi commented on #5980
@Scottmitch I'm using the default value. The only non-default value I'm using is maxConcurrentStreams which is set to `1`.

[2016-11-04 21:10] Scottmitch commented on #5980
@rkapsi - I hacked together a unit test with one of your earlier state dumps and couldn't repo (I'm missing something), but I will try again now that you have provided the `writableBytes` and maybe it will become more clear...

[2016-11-04 22:11] rkapsi commented on #5980
@Scottmitch would it help if... You change the `PriorityQueue#offer()`'s exception to include the `System#indentityHashCode()` of the offending argument and I'll output the identity hashcode in the before/after dumps?!

[2016-11-04 22:23] Scottmitch commented on #5980
It looks like the structure of the queues/tree has changed before and after ... this is a bit surprising. I would expect at least 1 element to be missing (bcz of this exception), and the queues/tree structure to have a hole ... but it looks like you are still able to traverse from the root to the leaf. For example how does `27` get in `0`'s queue Only direct children should be in the queue, and I

[2016-11-04 22:54] Scottmitch commented on #5980
Its starting to come back to me now ... if the data frame has the `EOS` flag set, and the write completes synchronously, then we may close the stream, generate a priority event, notify the stream listeners via `onPriorityTreeParentChanging`, and WeightedFairQueueByteDistributor will adjust the queues ... so it may make sense that the queues are missing streams after and the links are still valid

[2016-11-05 06:37] xiaoshuang-lu opened #5985 "ChannelPool does not invoke futureListener as expected"
256 Channels were acquired from ChannelPool. But netty called FutureListener only 255 times.

Affects Version: 4.0 4.1

[code]

[2016-11-05 06:56] Scottmitch commented on #5980
@rkapsi - I was able to reproduce the issue locally ... stand by for a PR.

[2016-11-05 22:22] bylion opened #5986 "what if netty could deploy fat-war file"
I just wandering how easy could be to convert a tomcat war app to using netty, which run as a standalone application

[2016-11-06 02:58] beykery commented on #5986
[vertx](https://github.com/eclipse/vert.x)

[2016-11-06 03:08] beykery commented on #5941
the question is about how to slice the input bytebuf into 'frame' list . i think you should make a 'protocol'  to process this .  please refer to io.netty.handler.codec.LengthFieldBasedFrameDecoder

[2016-11-07 11:54] maseev commented on #3169
It looks like ```NonBlockingHashMap``` from Cliff Click has been [added](https://github.com/JCTools/JCTools/releases/tag/v2.0) to JCTools among other non-blocking collections. I'm not sure if it's wait-free, but it looks promising. Maybe it's worth checking this thing out. WDYT?

[2016-11-07 14:47] bogdanRada commented on #3534
any updates on this? I am struggling with SSLParameters.html#setEndpointIdentificationAlgorithm which is missing on Java 8 . Would appreciate any help with this. Thank you

[2016-11-07 15:52] rkapsi commented on #5977
I'd personally argue that it shouldn't close them right away but rather close all Channels that are being `release(...)` and it should fail all new `acquire(...)` requests.

But TBH, there are so many different use-cases that justify all kinds of different behaviors. Not sure an one-size-fits-all approach works here.

[2016-11-07 18:14] nhnFreespirit commented on #5947
I have a version of Netty with this added.

Only problem is I don't really like it, as to keep the initial settings optional, I have to add 2 new constructors to Http2Codec, so hesitant to create a pull request for this.

[2016-11-07 21:25] jellenelis opened #5987 "Unable to initialize PlatformDependent0 due to lack of sun.misc.Unsafe in classpath"
When trying to use [Vertx](http://vertx.io) in OSGi, I bumped into the following error. Initially I got:
[code]

I tried to debug the situation and found that the fact that sun.misc.Unsafe is not available could be an issue (see [#272](https://github.com/netty/netty/issues/272)), I tried to set the system property `io.netty.tryUnsafe` to `false`, to no avail (the stacktrace above has `io.netty.try

[2016-11-07 21:54] johnou commented on #5987
One of the fields in PlatformDependent references PlatformDependent0 directly without being guarded by hasUnsafe.

[2016-11-07 22:07] Scottmitch commented on #5987
Is the issue you don't want to see the warning message, or is this causing a functional issue?

@johnou - which field do you think is an issue?

[2016-11-07 22:10] Scottmitch commented on #5987
@johnou - your commit https://github.com/johnou/netty/commit/cff208eb2895134a487424b4b2dcd9c5cafc9f99 changes the initialization of `BYTE_ARRAY_BASE_OFFSET` ... is their a problem with just using the default as set by `PlatformDependent0` (currently `-1`)? IIRC it is assumed whenever this value is used it is guarded  by an unsafe check ... did we miss a case?

[2016-11-07 22:18] johnou commented on #5987
@Scottmitch BYTE_ARRAY_BASE_OFFSET is set to -1 in PlatformDependent0 if unsafe is unavailable, and if unsafe is unavailable, so is PlatformDependent0, therefore we need to use indirection when accessing it (cannot be directly how it is now otherwise PlatformDependent cannot be loaded)..

java.lang.NoClassDefFoundError: Could not initialize class io.netty.util.internal.PlatformDependent0
	at io.ne

[2016-11-07 22:19] jellenelis commented on #5987
@Scottmitch: this causes a functional issue in environments where sun.misc is not available, which is the default in OSGi frameworks
I can make a pull request tomorrow, extracting the BYTE_ARRAY_BASE_OFFSET initialization into a method like addressSize0 does for ADDRESS_SIZE. Would that be something you could consider including?

[2016-11-07 22:23] johnou commented on #5987
@jellenelis see https://github.com/netty/netty/pull/5988

[2016-11-07 22:26] jellenelis commented on #5987
Thanks for the quick responses, BTW!

[2016-11-08 02:37] Scottmitch commented on #5987
thanks for clarifying ... we want to avoid loading `PlatformDependent0` if the `Unsafe` interface is not available.

[2016-11-08 03:44] 925941723 opened #5989 "Clash With Android RecycleView"
The code in gradle is:
    compile files('libs/netty-all-4.1.6.Final.jar')
    compile 'com.android.support:recyclerview-v7:24.2.0'
And the error is:
 FATAL EXCEPTION: Thread-214
 java.lang.ExceptionInInitializerError at   com.qiaoqiao.qaoqaoapplication.socket.QAOLoginClient.connect(QAOLoginClient.java:49)
      at com.qiaoqiao.qaoqaoapplication.ui.activity.LoginActivity$2.run(LoginActivity.java:1

[2016-11-08 07:46] normanmaurer commented on #5982
Fixed by https://github.com/netty/netty/pull/5983

[2016-11-08 07:46] #5982 closed

[2016-11-08 12:48] normanmaurer commented on #5986
@bylion use stackoverflow for questions.

[2016-11-08 12:48] #5986 closed

[2016-11-08 12:51] dimitarg commented on #5970
This issue is too vague and low-quality. I will close this and try to open something more concrete, with a runnable code sample. Sorry.

[2016-11-08 12:51] #5970 closed

[2016-11-08 12:52] normanmaurer commented on #5979
@GeorgeMatveev it may be because the `ByteBuf` is not backed by heap memory but direct memory. Please report this to the `Moquette` project as I have no idea what exactly they are doing. Or provide an unit test that fails.

[2016-11-08 12:52] #5979 closed

[2016-11-08 12:53] normanmaurer commented on #5976
@jrudolph ping...

[2016-11-08 12:53] normanmaurer commented on #5930
@liuhualh ping

[2016-11-08 13:09] GeorgeMatveev commented on #5979
Hi,
good to hear from you.
You  have exactly repeated what developers from moquette project say:
"write test and look into their (netty) API" :-)

Here is more info with code, tech comments, as well as netty code from PublishDecoder where getPayload().array() is used:

https://github.com/andsel/moquette/issues/230

They used netty code originally but then removed it in July,
 see last comment on t

[2016-11-08 13:25] GeorgeMatveev opened #5990 "build fails with and without tests (-DskipTests)"
Hi,
I cloned netty sources from git repo and attempted building it.

But build fails both with tests (mvn clean install) and without tests (mvn clean install -DskipTests):

[INFO] Reactor Summary:
[INFO]
[INFO] Netty .............................................. SUCCESS [  8.208 s]
[INFO] Netty/Common ....................................... SUCCESS [ 24.477 s]
[INFO] Netty/Buffer ................

[2016-11-08 13:27] normanmaurer commented on #5990
@GeorgeMatveev because I want you to reopen if its really a netty bug with more infos.

For more details on the requirements for build see:
http://netty.io/wiki/native-transports.html#wiki-h2-2

[2016-11-08 13:28] normanmaurer commented on #5990
Please re-open if you still have trouble to build with the full console output included.

[2016-11-08 13:28] #5990 closed

[2016-11-08 13:29] normanmaurer commented on #5989
@925941723 this is more an android question (in terms how to setup the build). Be sure to include the classes in the netty-common jar in the classpath and all should be good.

[2016-11-08 13:29] #5989 closed

[2016-11-08 13:59] jrudolph commented on #5976
@normanmaurer sorry for the delay... Here's a reproducer: https://github.com/netty/netty/compare/4.1...jrudolph:5976-test-case

I couldn't reproduce the number above exactly. Instead, I found that the number of output buffer space depends on the number of input bytes. I guess the reason is that the openssl engine tries to output all outstanding data for several frames in one go.

[2016-11-08 14:00] normanmaurer commented on #5976
@jrudolph thanks a lot! I will open a PR with a fix for the other reported issue today. Maybe this will also fix this one :) Can you please confirm you grant me the right to include your test-code and so publish it under the ASL2 license as part of netty ?

[2016-11-08 14:01] jrudolph commented on #5976
Yes, I confirm that you can take the code under ASL2 license.

[2016-11-08 14:01] jrudolph commented on #5975
Yes, here as well ;)

[2016-11-08 14:12] normanmaurer commented on #5976
@jrudolph I think that it fails is kind of expected as `OpenSslEngine` will return `18668`and `SSLEngineImpl` will return `16921` from `session.getSession().getPacketBufferSize()`. The difference exists as the `OpenSslEngine` also supports compression (if openssl was compiled with support for it) while the JDK implementation does not so has no need to account for the maximum overhead of it for a r

[2016-11-08 14:16] 925941723 commented on #5989
I want to say that before I compile 'com.android.support:recyclerview-v7:24.2.0' all is good. And is netty-all jar is not enough?  Should I compile other netty jar?

[2016-11-08 14:20] jrudolph commented on #5975
Yes, exactly. (I quoted that sentence above as well.) Hard to say if this is a requirement or just a description of the implementation. It's probably impossible to take the javadoc as a water-tight specification (I guess you know best about that...).

IMO it's nice if you can rely on the openssl engine not to keep user data in internal buffers (if possible). I haven't looked into it in detail but

[2016-11-08 14:22] normanmaurer commented on #5975
I have a fix locally here so it works as the JDK impl :) will open a PR later today 👍

[2016-11-08 14:25] jrudolph commented on #5976
Hmm I thought `session.getSession().getPacketBufferSize()` would be about the output side, i.e. the second argument of the `wrap` call. The hard coded number in the test is the amount of data going into the `wrap` call.

So, the difference is that for `SslEngineImpl` the amount of output for a `wrap` call always be <= `getPacketBufferSize` while the `OpenSslEngine` will return `BUFFER_OVERFLOW` de

[2016-11-08 14:51] johnou commented on #5975
@normanmaurer with the strict / non-strict as you previously mentioned? or did you manage to keep it simple?

[2016-11-08 15:03] normanmaurer commented on #5975
Was able to keep it simple

[2016-11-08 15:19] normanmaurer commented on #5976
@jrudolph ah sorry I misread the test-code. Let me check again... Stay tuned.

[2016-11-08 15:51] normanmaurer commented on #5976
@jrudolph ok I think there is another "issue" which is not related to #5975 . Debugging now.

[2016-11-08 16:10] normanmaurer commented on #5987
Fixed by https://github.com/netty/netty/pull/5988

[2016-11-08 16:10] #5987 closed

[2016-11-08 19:04] nhnFreespirit commented on #5947
created https://github.com/netty/netty/pull/5991

[2016-11-08 19:47] nhnFreespirit commented on #5874
seeing this with on my MacBook Pro

uname -a
Darwin some_laptop_name 13.4.0 Darwin Kernel Version 13.4.0: Mon Jan 11 18:17:34 PST 2016; root:xnu-2422.115.15~1/RELEASE_X86_64 x86_64

java -version
java version "1.8.0_72"
Java(TM) SE Runtime Environment (build 1.8.0_72-b15)
Java HotSpot(TM) 64-Bit Server VM (build 25.72-b15, mixed mode)

mvn -version
Apache Maven 3.3.9 (bb52d8502b132ec0a5a3f4c09453c

[2016-11-08 19:48] normanmaurer commented on #5874
@nhnFreespirit can you test with latest java version and report if you still see the problem there ?

[2016-11-08 19:50] normanmaurer commented on #5952
@buchgr @ejona86 btw if you have any "good" idea let me know

[2016-11-08 20:31] nhnFreespirit commented on #5874
Not sure I have an easy way of upgrading java 8 on this laptop as that is part of a managed dev env.

[2016-11-08 20:34] normanmaurer commented on #5874
@nhnFreespirit ah ok... let me try to grab the same JDK version you have and see if I can reproduce it here. Will ping you if I need more infos from you.

[2016-11-08 20:50] buchgr commented on #5952
If I understand correctly, this problem is solved by #5914. That is, the promise will be "accessible" on the child channel and fail with the correct error. We introduced `ChannelOutboundBuffer#steal` and https://github.com/netty/netty/pull/5914/files#diff-1467546ce755a7d28826823167febd0fR370 to fix this.

[2016-11-09 02:10] liuhualh commented on #5930
@normanmaurer I have upload heapdump file to [here](https://drive.google.com/open?id=0B8UhAB_v1hsqTWxlTTZiMzMyM1U), you can download it

Additionally, we have changed our application thread model and remove application thread (RcApnsService), and then this issue disappears

But I still want to know why this case occurs and its root reason,  later I try write mini-code to reproduce this case and sh

[2016-11-09 05:09] christ258 opened #5993 "4.0.42.Final websocket syscall:read(...)"
hi，
I am using 4.0.42.Final.the websocket under some IP will appear the following error.When shaking hands with authorization server error display is in the back to the message wrong.

io.netty.channel.unix.Errors$NativeIoException: syscall:read(...)() failed: Connection reset by peer
        at io.netty.channel.unix.FileDescriptor.readAddress(...)(Unknown Source)

In 4.0.40.Final the still
Lookin

[2016-11-09 07:32] normanmaurer commented on #5947
Fixed by https://github.com/netty/netty/pull/5991#issuecomment-259270529

[2016-11-09 07:32] #5947 closed

[2016-11-09 07:32] normanmaurer commented on #5993
@christ258 this means the remote server has closed the connection forcibly. Nothing we can do about this in netty.

[2016-11-09 07:33] #5993 closed

[2016-11-09 07:46] normanmaurer commented on #5874
@radai-rosenblatt @nhnFreespirit @Scottmitch ok I can reproduce it when using `SslProvider.JDK`. Looking now.

[2016-11-09 08:56] normanmaurer commented on #5971
@garydgregory @Scottmitch working on a fix

[2016-11-09 08:57] normanmaurer commented on #5874
working on a fix

[2016-11-09 09:56] christ258 commented on #5993
After the test, I found the reason is the network is very poor. There is no such way？

[2016-11-09 10:05] normanmaurer commented on #5647
Fixed by https://github.com/netty/netty/pull/5852

[2016-11-09 10:05] #5647 closed

[2016-11-09 10:32] normanmaurer commented on #5977
@rkapsi @xiaoshuang-lu actually I think what @rkapsi suggested is the better option.

[2016-11-09 11:31] xiaoshuang-lu commented on #5977
Hi @normanmaurer, I think it will be much better if we remove the `final `qualifier for class `FixedChannelPool `since netty has no plan to fix issue. If so, customers can override `acquire`, `release`, and `close` of `FixedChannelPool`. What's your opinion?

[2016-11-09 11:50] refine36 commented on #5723
@wudizhanche1000 i have meet the same question, have you solve it yet?

[2016-11-09 12:52] flozano opened #5994 "Bill Of Materials (BOM) pom"
Many projects these days have a bill of materials (BOM) project that just allows to import all the managed dependencies for a project with a single entry in dependencyManagement.

It would be great to have such BOM in netty.

[2016-11-09 15:07] normanmaurer commented on #5976
I know why this happen now 👍 Let me think about a fix

[2016-11-09 17:24] ejona86 commented on #5952
This was a known deficiency caused by `ChannelOutboundBuffer`. The issue tracking it is #4941: "If we solve enough to make outbound flow control work, we should naturally end up fixing the premature child promise completion in the child's doWrite due to `ChannelOutboundBuffer`."

`steal()` or avoiding `ChannelOutboundBuffer` allows it to be resolved.

[2016-11-09 18:29] normanmaurer commented on #5975
@jrudolph  should be fixed by https://github.com/netty/netty/pull/5995

[2016-11-09 20:12] rkapsi opened #5999 "IllegalReferenceCountException with DefaultHttp2ConnectionEncoder#writeData() and PooledSlicedByteBuf"
I have a custom Channel class that treats each Http2Stream like a connection and it acts like a proxy to translate between H2 and HTTP/1.1. It looks something like this (very similar to Netty's own HttpToHttp2ConnectionHandler):

[code]

Please notice the `if (HACK) {}` condition. Everything works if I make a copy of the HttpContent's underlying ByteBuf which is a `PooledSlicedByteBuf`. It starts

[2016-11-09 20:47] Scottmitch commented on #2448
Please see #6000

[2016-11-09 20:47] Scottmitch commented on #4231
Please see #6000

[2016-11-09 20:57] rkapsi commented on #5999
The code has significantly changed on our end but I believe the IllegalReferenceCountException mentioned in #5856 is the same.

[2016-11-09 23:33] Scottmitch commented on #5980
See #6004

[2016-11-10 10:12] henrikno opened #6005 "Netty3 masks OutOfMemoryError: Direct buffer memory"
Netty version: 3.10.6.Final

We're running Elasticsearch 2.4.1, which uses netty, and get the following exception:

[code]

We're not setting any limits on direct memory size, so it probably happens because the machine is low on OS memory. However, netty catches this exception, and continues like everything is normal, but Elasticsearch is in a weird state.

We'd expect netty to bubble errors up wh

[2016-11-10 17:50] mosesn commented on #5952
OK, this makes sense to me.  @ejona86 @buchgr what do you think about cherry-picking that fix into netty so we don't have to wait on #5914?

[2016-11-10 20:29] normanmaurer commented on #5999
@Scottmitch @nmittler could you take a look please ?

[2016-11-10 22:05] Scottmitch commented on #5999
@rkapsi - Can you log the reference count of `content` right before the call to `encoder.writeData` just as a sanity check? It would also be help if we could wrap the buffer in something like `AdvancedLeakAwareByteBuf` that captures calls to `release`/`retain` so if we get a `IllegalReferenceCountException` we can track the reference count history for the object.

[2016-11-10 22:15] rkapsi commented on #5999
@Scottmitch Shouldn't be a problem, will do it tomorrow morning.

[2016-11-10 22:24] Scottmitch commented on #5999
@rkapsi - Great thanks. If possible wrapping the buffer at its creation that would be preferable as opposed to just wrapping in the write method here.  What I'm thinking is the release methods would be something like:

[code]

[2016-11-10 22:35] rkapsi commented on #5999
The creation point is HttpObjectDecoder or rather its super class ByteToMessageDecoder. I'll see how close to the creation point I can get. There was some logging I did prior to opening this ticket and the refCnt before (and after) `ecoder.writeData` was always >= 1. I didn't log the exact number but it was never 0.

[2016-11-10 22:44] rkapsi commented on #5999
@Scottmitch is it sufficient to use `-Dio.netty.leakDetection.level=advanced` (maybe with `-Dio.netty.leakDetection.acquireAndReleaseOnly=true`) or does writing a custom wrapper like above add some extra info?

[2016-11-11 01:27] Scottmitch opened #6007 "Lz4FrameDecoderTest buffer leak"
I'm not sure if the problem is just with tests or production code too.

https://garage.netty.io/teamcity/viewLog.html?buildId=13556&buildTypeId=pulls_netty&tab=buildLog
[code]

[2016-11-11 02:04] Scottmitch commented on #5999
@rkapsi - the issue is this isn't a "leak" but instead an "over release". The exception above is not accompanied by any history in terms of what call stacks were responsible for retaining/releasing priority to the point where the `IllegalReferenceCountException` condition occurs. So I don't think this approach will directly give us what we want.

[2016-11-11 03:03] fangqiao opened #6008 "value setContentLength is not a member of object io.netty.handler.codec.http.HttpUtil"
Hi, I am using SBT together with IDEA to work on a Scala project using Netty. Netty included in SBT configuration as a dependency to be downloaded from Maven.

I got this compilation error:  value setContentLength is not a member of object io.netty.handler.codec.http.HttpUtil

Within IDEA I checked HttpUtil's source code,which is as below, clearly not as described
in Netty API documentation for cl

[2016-11-11 10:43] buchgr commented on #5952
@mosesn I (as the author of that fix) am obviously fine with that :-). I believe @normanmaurer had some concerns about `ChannelOutboundBuffer#steal`.

[2016-11-11 18:40] rkapsi commented on #5999
@Scottmitch The wrapping didn't work which will be explained by the massive Stack Trace below. I recommend to Copy & Paste it into a Text Editor and look at it on a large screen.

Here's what I ended up doing. I had to augment `AdvancedLeakAwareByteBuf` and `AdvancedLeakAwareCompositeByteBuf` because the exception is happening on the "consumer side" rather than the "producer side". I hope the the

[2016-11-11 19:23] normanmaurer commented on #5975
Fixed by https://github.com/netty/netty/pull/5995

[2016-11-11 19:23] #5975 closed

[2016-11-11 19:24] normanmaurer commented on #4238
Fixed by https://github.com/netty/netty/pull/5995

[2016-11-11 19:24] #4238 closed

[2016-11-11 19:26] normanmaurer commented on #5976
@jrudolph please verify https://github.com/netty/netty/pull/6010 ... This should fix it

[2016-11-11 19:38] normanmaurer commented on #5874
@nhnFreespirit can you test https://github.com/netty/netty/pull/6011 ? Thanks!

[2016-11-11 20:46] rkapsi commented on #5999
@Scottmitch I think it's this...

[code]

[code]

That `ByteToMessageDecoder` is a `HttpObjectDecoder` and notice how the readerIndex==writerIndex in the log statement and the condition in `ByteToMessageDecoder` is to release the cumulator if it's not readable.

[2016-11-11 21:11] rkapsi commented on #5999
Disregard, that's not correct.

[2016-11-12 00:32] rkapsi commented on #5999
Ugh, this doesn't make no sense. I think I've stared too much at this but...

My `HttpToHttp2Handler` receives a `PooledSlicedByteBuf` with the identity hashCode of 1215655406. This is what gets passed into `encoder.writeData(...)`. That in turn gets added to CoalescingBufferQueue's internal list of ByteBuf/Listener pairs and we basically lose track of it. The `PooledSlicedByteBuf` is a retained s

[2016-11-12 01:13] nhnFreespirit commented on #5874
@normanmaurer so the SNI issue does seem to be fixed. seeing another issue now but that seems like it might be a network thing?

[2016-11-12 01:24] Scottmitch commented on #5999
@rkapsi - Thanks for providing some more info. Its a bit tough to follow but do you have any insight as to what exception is caught here:

[code]

There is an interesting `flush -> channel writability change -> flush` re-entry condition here but from the quick glance nothing popped out at me ... I need to look in more detail.

[2016-11-12 07:05] normanmaurer commented on #5874
@nhnFreespirit I think if you do a `mvn clean install` it will go away. Thanks for testing!

[2016-11-12 08:12] carryxyh opened #6014 "Why bytebuf1.readBytes (byteBuf2) byteBuf1 in the byteBuf1 readable data is less than the length of byteBuf2 will be an error: IndexOutOfBoundsException."
----------------------------------the method which throws exception-------------------
/**
     * Throws an {@link IndexOutOfBoundsException} if the current
     * {@linkplain #readableBytes() readable bytes} of this buffer is less
     * than the specified value.
     */
    protected final void checkReadableBytes(int minimumReadableBytes) {
        if (minimumReadableBytes < 0) {
            thr

[2016-11-12 17:18] rkapsi commented on #5999
@Scottmitch I've refined the logging a little bit and added a pseudo time stamp to each event (just a global atomic counter).

[code]

Timeline
168886: new PooledUnsafeDirectByteBuf -> refCnt should be 1
168887: PooledUnsafeDirectByteBuf.readRetainedSlice() -> PooledSlicedByteBuf -> refCnt should be 2
168888: PooledUnsafeDirectByteBuf.release() -> refCnt was 2, should be 1 now
169333: CoalescingBu

[2016-11-12 18:00] rkapsi commented on #5999
Added more logging to see whether PooledUnsafeDirectByteBuf.release() transitions from refCnt 2 to 1 or 0. It doesn't.

[code]

277140: new PooledUnsafeDirectByteBuf, refCnt=1
277141: PooledUnsafeDirectByteBuf.readRetainedSlice() -> PooledSlicedByteBuf, refCnt=2
277142: PooledUnsafeDirectByteBuf.release(), refCnt 2 to 1
279224: CoalescingBufferQueue.remove(), PooledSlicedByteBuf is freed
279282: P

[2016-11-12 19:26] rkapsi commented on #5999
I made an another experiment and everything works fine if I switch to `-Dio.netty.allocator.type=unpooled`. This is pointing towards PooledUnsafeDirectByteBuf (I also tried `-Dio.netty.noPreferDirect=true` which didn't make a difference in terms of outcome).

[2016-11-13 10:47] slandelle opened #6015 "PooledByteBufAllocatorTest#testThreadCacheToArenaMappings random failure"
Just happened on my machine: OSX, Hotspot 1.8.0_112

[code]

[2016-11-13 21:12] slandelle opened #6016 "ClientCookieDecoder doesn't support some valid RFC6265 expires fields"
`ClientCookieDecoder` currently uses `HttpHeaderDateFormat` underneath, which has a fallback strategy and tries the following patterns:
* `E, dd MMM yyyy HH:mm:ss z`
* `EEEE, d-MMM-y HH:mm:ss z`
* `EEE, MMM d HH:mm:ss yyyy`

The former is more or less RFC1123 (it accepts full days of week, while RFC1123 requires 3 letters), I don't know where the 2 others come from.
RFC1123 is [the spec for header

[2016-11-13 22:40] slandelle commented on #6016
Will send a PR tomorrow.

Side effect of custom impl:
[code]

[2016-11-14 07:54] maseev commented on #6016
@slandelle Can you tell me what tool you used to build such a benchmark?

[2016-11-14 07:56] normanmaurer commented on #6016
@maseev that is jmh:  http://openjdk.java.net/projects/code-tools/jmh/

[2016-11-14 08:58] normanmaurer commented on #6015
interesting... never saw this. Can you reproduce it in a regular fashion @slandelle ?

[2016-11-14 09:00] slandelle commented on #6015
I haven't investigated nor tried to reproduce yet. It happened while working on an unrelated PR on codec-http (so built downstream this failing test). I wanted to report before I might forget.

[2016-11-14 09:14] maseev commented on #6016
@normanmaurer nice! thanks!

[2016-11-14 10:22] TitleChen opened #6017 "when I received an unknown or have closed the TCP service, will collapse."
I use in the android netty implements a client, when I received an unknown or have closed the TCP service, will collapse.

[2016-11-14 10:38] normanmaurer commented on #6017
Not sure what issue you have... can you give more details?

[2016-11-14 12:40] slandelle commented on #6016
PR done: #6016

[2016-11-14 12:46] normanmaurer commented on #6008
@fangqiao this is not an netty question but about idea... Closing

[2016-11-14 12:46] #6008 closed

[2016-11-14 13:02] normanmaurer commented on #5985
@xiaoshuang-lu your test is not correct and is racy. The problem is that the future may be notified but the listeners are not ran yet. You will see it works correctly if you create a new `CountDownLatch` and block on it until it is countdown. The countdown should take place in the listener.

[2016-11-14 13:02] #5985 closed

[2016-11-14 13:03] normanmaurer commented on #6014
@carryxyh sorry I am not sure if I understand your question ? Are you asking why we method was specified like this on the `ByteBuf` abstract class ?

[2016-11-14 13:04] normanmaurer commented on #5994
@flozano not sure what you are asking for... isnt it enough for you to import netty-all ?

[2016-11-14 13:06] xiaoshuang-lu commented on #5985
My fault. Thanks @normanmaurer.

[2016-11-14 13:25] fenik17 commented on #5994
@normanmaurer

No. netty-all is not a bom.
http://howtodoinjava.com/maven/maven-bom-bill-of-materials-dependency/
http://stackoverflow.com/questions/38496022/maven-bom-bill-of-materials-dependency

[2016-11-14 15:49] rkapsi commented on #5999
@Scottmitch I finally found where the missing release() is. I'm not entirely sure what's happening but it seems:

1) We pass PooledSlicedByteBuf into `encoder.writeData`
2) It gets added to CoalescingBufferQueue
3) `FlowControlledData#write()` or `CoalescingBufferQueue#remove()` takes out the whole or some of PooledSlicedByteBuf
4) That gets passed to SslHandler where it gets released (event at 22

[2016-11-14 17:01] rkapsi commented on #5999
@Scottmitch Here's a reproducer.

[code]

[2016-11-14 17:53] normanmaurer commented on #5999
Awesome! @Scottmitch can you check?

[2016-11-14 18:21] Scottmitch commented on #5999
thanks @rkapsi ... yip @normanmaurer looking now

[2016-11-14 18:22] normanmaurer commented on #5999
@Scottmitch <3

[2016-11-14 18:33] nhnFreespirit commented on #5874
@normanmaurer Indeed, all green now. thanks!

[2016-11-14 18:53] ximyu opened #6019 "Clear-text http/2 upgrade not working when multiple "connection" headers provided"
According to https://tools.ietf.org/html/rfc7230#section-3.2.2, when multiple headers with same field name provided, the values should be concatenated, separated by comma.  However, at https://github.com/netty/netty/blob/eb7f751ba519cbcab47d640cd18757f09d077b55/codec-http/src/main/java/io/netty/handler/codec/http/HttpServerUpgradeHandler.java#L287 it's picking up only the value of the first "conne

[2016-11-14 21:19] Scottmitch commented on #5999
@rkapsi - Stand by for a PR.

[2016-11-14 23:09] rkapsi commented on #5999
@Scottmitch this maybe relevant since you're mentioning #6000. I ran into a similar exception with a plain HTTP/1 proxy setup.

// Consume HttpResponse via HttpObjectDecoder
189841: New PooledUnsafeDirectByteBuf
189842: PooledUnsafeDirectByteBuf.readRetainedSlice() -> PooledUnsafeDirectByteBuf
189843: PooledUnsafeDirectByteBuf.release()

// HttpObjectEncoder
189872: MessageToMessageEncoder#write()

[2016-11-14 23:53] Scottmitch commented on #5999
@rkapsi - the scope of this issue is not limited to codec-http2 and applies to pooled duplicated buffers (e.g. `retained[Slide|Duplicate]`). So it wouldn't surprise me if the new stack traces are caused by the same issue. I'm guessing if you use the `UnpooledByteBufAllocator` you won't see this issue?

[2016-11-15 00:10] rkapsi commented on #5999
@Scottmitch I can confirm that.

https://github.com/netty/netty/issues/5999#issuecomment-260142770

[2016-11-15 00:14] Scottmitch commented on #5999
@rkapsi - Thanks. Just wanted to make sure that the behavior using `Unpooled` was consistent in this new scenario (`Unpooled` shouldn't suffer from this issue).

[2016-11-15 00:24] #6007 closed

[2016-11-15 00:40] #5980 closed

[2016-11-15 01:23] johnnyquestep opened #6020 "AMQP"
hi any plans to support AMQP  in netty?

[2016-11-15 01:47] TitleChen commented on #6017
OK.thank you:
EventLoopGroup workerGroup = new NioEventLoopGroup();
                    try {
                        Bootstrap b = new Bootstrap(); // (1)
                        b.group(workerGroup); // (2)
                        b.channel(NioSocketChannel.class); // (3)
                        b.handler(new LoggingHandler(LogLevel.DEBUG));
                        b.option(ChannelOption.SO_KEEP

[2016-11-15 03:49] carryxyh commented on #6014
I am very sorry,but my English is not so well.
I have a piece of code.
ByteBuf testRW1 = Unpooled.buffer(16, 16);
ByteBuf testRW2 = Unpooled.buffer(16, 16);

These are two ByteBuf. Then , I write something into testRW1:

testRW1.writeInt(1);
testRW1.writeInt(2);
testRW1.writeInt(3);

After writing , there are 12 bytes in the testRW1.
Then I want to move the 12 bytes data from testRW1 to testRW2 an

[2016-11-15 05:50] qdaxb opened #6021 "jvm crashed during io.netty.channel.AbstractChannelHandlerContext$AbstractWriteTask.init"
Hi all,

Our service was randomly crashed after tomcat started, we found some information reference to netty in hs_err.log:

[code]

and some log by log4j:

[code]

The NPE is here:

[code]
 I think there's may something wrong in RECYCLER, but I can't find the bug.

Our netty version is `netty-all-4.0.41.Final`

Any thoughts? Thanks.

[2016-11-15 07:05] fenik17 commented on #6020
Maybe you want to look at HornetQ?

[2016-11-15 07:08] normanmaurer commented on #6020
@johnnyquestep nope nothing planed yet. That said should be not too hard to write an encoder / decoder for it

[2016-11-15 07:08] #6020 closed

[2016-11-15 07:10] normanmaurer commented on #6021
@qdaxb honestly I think this is an Java bug.  Your Java version is very old, so I would advice updating it and see if this still happens. Also it may be a good idea to upgrade netty as well, even if I not think this is related to netty at all.

[2016-11-15 07:11] normanmaurer commented on #6017
What you means with "collapse" ? The error you see here is that it basically can not connect to the remote host as it refused the connection attempt.

[2016-11-15 07:14] normanmaurer commented on #6014
@carryxyh ah ok... let me check. This may be a bug.

[2016-11-15 07:26] carryxyh commented on #6014
Thanks for listening ! If u have some new information about this , please tell me ~ Thanks !!!

[2016-11-15 07:38] normanmaurer commented on #6014
@carryxyh actually this is exactly what the java docs explains.

[code]

This is what you want to do to archive this tho:

[code]

[2016-11-15 07:38] #6014 closed

[2016-11-15 07:38] normanmaurer commented on #6019
@nmittler @Scottmitch can you have a look please ?

[2016-11-15 08:44] normanmaurer commented on #5976
Fixed by https://github.com/netty/netty/pull/6010

[2016-11-15 08:44] #5976 closed

[2016-11-15 20:42] Scottmitch opened #6023 "HTTP/2 LastInboundHandler queue behavior"
LastInboundHandler maintains 2 queues which may contain "inbound messages". 1 queue which just contains "inbound messages" (`inboundMessages` [1]) and another queue that contains "inbound messages" and "user events" (`inboundMessagesAndUserEvents` [2]). The `readInbound()` method attempts to de-dup from these 2 queues by assuming that if an event is on the  `inboundMessages` queue it will also be

[2016-11-15 20:42] Scottmitch commented on #6023
@ejona86 @buchgr - fyi

[2016-11-15 21:29] Scottmitch commented on #5999
see #6024

[2016-11-16 00:40] TitleChen commented on #6017
yes. but this exception throws in main/UI thread and app will exit. "collapse" is means “crash”。 thank you answer my question。

[2016-11-16 02:15] killjason opened #6027 "How to convert DefaultHttp2HeadersFrame object to byte(ByteBuf)?"
How to convert DefaultHttp2HeadersFrame object to byte(ByteBuf)?

[2016-11-16 05:42] craigwu9 opened #6029 "netty java.io.IOException: Connection reset by peer caused by RST,ACK"
We use haproxy to do load balance, and the netty server keep to rise "java.io.IOException: Connection reset by peer"
below is the exception stack:
`java.io.IOException: Connection reset by peer
        at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
        at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
        at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)

[2016-11-16 07:05] normanmaurer commented on #6017
@TitleChen this is because you call `sync()` which will throw the exception that you not catch. Call `get()` and catch the exceptions.

[2016-11-16 07:05] #6017 closed

[2016-11-16 07:07] normanmaurer commented on #5874
Fixed by https://github.com/netty/netty/pull/6011

[2016-11-16 07:07] #5874 closed

[2016-11-16 07:07] normanmaurer commented on #5971
Fixed by https://github.com/netty/netty/pull/6011

[2016-11-16 07:07] #5971 closed

[2016-11-16 07:18] normanmaurer commented on #6027
@killjason this will be done by the `Http2FrameCodec` in the http2 package

[2016-11-16 07:18] #6027 closed

[2016-11-16 09:31] killjason opened #6030 "http2 reverse proxy problem when execute writeAndFlush:unsupported message type"
I am creating a http2 reverse proxy , I copied the original example from : https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/proxy.
I change the `HexDumpProxyFrontendHandler ` to extend `Http2FrameCodec`;
Then in the `channelRead ` method, ` outboundChannel.writeAndFlush(msg)` throws an exception:
`DefaultChannelPromise@796d938f(failure: java.lang.UnsupportedOperationE

[2016-11-16 12:18] TitleChen commented on #6017
very good!!
 // Start the client.
                        b.connect(address).get();
//                        ChannelFuture f = b.connect(address).sync(); // (5)
                        // Wait until the connection is closed.
//                        f.channel().closeFuture().sync();

i changed to this is ok.

[2016-11-16 18:10] Scottmitch opened #6031 "Lzma Dependency No Longer Supported"
Our LZMA dependency is no longer maintained [1] and has outstanding issues. Should we fork it, or find another project?

[code]

[1] https://github.com/jponge/lzma-java/issues/14#issuecomment-260933387

[2016-11-16 18:14] normanmaurer commented on #6031
@Scottmitch I would prefer finding another one if we really need the fix

[2016-11-16 20:40] jponge commented on #6031
@Scottmitch @normanmaurer regarding jponge/lzma-java#14 the proposed fix should work (aka yes we should be closing the stream, there's a bug here).

I wasn't aware Netty made use of that library which I hacked a long time ago, but clearly I've moved on to other duties and I can't maintain it.

[2016-11-16 21:13] Scottmitch commented on #5850
Seen again while building PR https://github.com/netty/netty/pull/6009 on build https://garage.netty.io/teamcity/viewLog.html?buildId=13740&buildTypeId=pulls_netty&tab=buildLog

[code]

[2016-11-16 21:49] Scottmitch commented on #5850
The above stack trace confirms that release responsibility is on `LocalChannel` and it actually made it into the peer's `inboundQueue`

[2016-11-16 23:31] killjason commented on #6030
It seems that channel.writeAndFlush only support byte; so how to convert the DefaultHttp2HeadersFrame to byte? I googled a a lot but always failed with error: DefaultHttp2HeadersFrame is not serilizable...

[2016-11-17 02:14] Scottmitch commented on #6031
@normanmaurer - To clarify ... find another project ... with potentially new APIs ... find another fork ... or fork the code an maintain it in Netty?

[2016-11-17 02:24] killjason commented on #6027
@normanmaurer Http2FrameCodec doc describe as following:

So Http2FrameCodec just convert data to HTTP/2 format, not ByteBuf ?

[2016-11-17 02:30] Scottmitch commented on #6027
`Http2FrameCodec` is responsible for translating Http2 POJOs to/from Bytes. The `Http2FrameCodec` is currently in alpha and may not be feature complete. We have an alternative production grade API (which may be replaced some day by the `Http2FrameCodec` API) which does not use the same POJOs see https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/http2/helloworld/server

[2016-11-17 02:36] killjason commented on #6027
@Scottmitch Thank you for reply, actually this problem happened when I am trying to create a http2 reverse proxy, see :https://github.com/netty/netty/issues/6030

[2016-11-17 02:56] killjason commented on #6027
@Scottmitch the example you gave:
`    @Override
    public void onHeadersRead(ChannelHandlerContext ctx, int streamId,
                              Http2Headers headers, int padding, boolean endOfStream) {
        if (endOfStream) {
            ByteBuf content = ctx.alloc().buffer();
            content.writeBytes(RESPONSE_BYTES.duplicate());
            ByteBufUtil.writeAscii(content, " - via H

[2016-11-17 06:46] normanmaurer commented on #6031
@Scottmitch find another project or if we not be able to do we can also just `deprecate` the stuff that is using it. I don't think there are major users anyway.

[2016-11-17 17:34] Scottmitch opened #6034 "PooledByteBufAllocatorTest#testConcurrentUsage ByteBuf leak"
https://garage.netty.io/teamcity/viewLog.html?buildId=13755&buildTypeId=pulls_netty&guest=1
found while building https://github.com/netty/netty/pull/6024

[code]

[2016-11-17 17:35] #5999 closed

[2016-11-17 17:45] normanmaurer commented on #6034
Will have a look

[2016-11-17 17:48] rkapsi commented on #5856
@normanmaurer @Scottmitch - I think we can close this issue. I attribute it to a combination of these bugs:

1. https://github.com/netty/netty/commit/af8ef3e40cb8a4e7d9648fbd8f1574ce55eaa8be
2. https://github.com/netty/netty/pull/6004
3. https://github.com/netty/netty/pull/6024

[2016-11-17 17:50] Scottmitch commented on #5856
@rkapsi - Thanks for following up. Lets close for now ... plz let us know if you start seeing similar strange behavior.

[2016-11-17 17:50] #5856 closed

[2016-11-17 18:01] Scottmitch commented on #6027
Use `Http2ConnectionHandler#encoder()` to get the `Http2ConnectionEncoder` and then get the `Http2FrameWriter` via `Http2ConnectionEncoder#frameWriter()` then call `Http2FrameWriter#writeHeaders(...)`.

[2016-11-17 19:38] buchgr commented on #6023
IIRC `LastInboundHandler` got more "popular" within the test code than it was designed to. I believe `inboundMessagesAndUserEvents` is not even used anymore? The idea was for one test case to use either `inboundMessages` or `inboundMessagesAndUserEvents` but never both. It was initially a private inner class, but was then moved to it's own file as several tests used it.

[2016-11-17 19:42] normanmaurer commented on #6023
@Scottmitch @buchgr @nmittler let me investigate tomorrow

[2016-11-17 19:45] johnou commented on #5931
@normanmaurer did it come through? I should have time to look into it next week.

[2016-11-17 19:51] johnou commented on #5931
Looking at the stack trace it seems as though it is closing an idle socket and trying to complete the handshake..

[2016-11-17 19:52] johnou commented on #5931
I'll step through the code later tonight after I get the daughter to bed..

[2016-11-17 22:58] Scottmitch opened #6035 "Http2ConnectionRoundtripTest#flowControlProperlyChunksLargeMessage failure"
https://garage.netty.io/teamcity/viewLog.html?buildId=13713&buildTypeId=pulls_netty&tab=buildResultsDiv found while building PR https://github.com/netty/netty/pull/6018
[code]

[2016-11-18 00:30] Scottmitch opened #6036 "Http2FrameCodecTest use of spy for mocking"
Using `spy()` from mocking can cause exceptions to be thrown while stepping through and debugging a test. This can prevent from debugging and create a makings distinguishing between real issues and mocking framework issues difficult. We should consider not using `spy()` or work with the mocking folks to identify the root cause.

https://github.com/netty/netty/pull/5996#discussion_r87312045

[2016-11-18 00:30] Scottmitch commented on #6036
@buchgr @normanmaurer /cc

[2016-11-18 00:46] Scottmitch commented on #6019
https://tools.ietf.org/html/rfc7230#section-3.2.2

   name in a message unless either the entire field value for that
   header field is defined as a comma-separated list [i.e., #(values)]
   or the header field is a well-known exception (as noted below).

Strictly speaking Proxygen should not be generating multiple headers with the same name. However the updated HTTP/1.x maybe a bit too late to d

[2016-11-18 00:52] Scottmitch commented on #5931
sounds good @johnou ... ping with questions or if you find anything.

[2016-11-18 05:04] killjason commented on #6027
@Scottmitch Thank you.

[2016-11-18 06:07] Scottmitch commented on #6027
@killjason - np. Also make sure you are in the EventLoop thread while writing and generally interacting with the current HTTP/2 API as it is not thread safe.

[2016-11-18 07:33] Scottmitch commented on #6030
@killjason - the `Http2FrameCodec` portion of the API is in alpha

https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2FrameCodec.java#L44

 * this API. This API is targeted to eventually replace or reduce the need for the Http2Connection-based API.

Please use the currently supported HTTP/2 API or you may encounter some rough edges.

[2016-11-18 07:40] Scottmitch commented on #6005
Netty 3.x has been EOL for a while now [1]. Please try to update to Netty 4 and we will be able to provide support.

[1] http://netty.io/news/2016/06/29/3-10-6-Final.html

[2016-11-18 07:40] #6005 closed

[2016-11-18 07:50] Scottmitch commented on #4448
@LionelCons - I don't know who uses stomp /cc @sskachkov @silvaran. If you need support for this I think the best way would be to submit a PR.

[2016-11-18 07:53] Scottmitch commented on #6029
If your peer sends a RST the TCP socket will be closed. You can ignore the exception at the application level but that doesn't change the kernel's behavior. Please identify why HAProxy is sending a RST and re-open this issue if you feel it can be attributed to a bug related to Netty.