[2019-08-13 04:29] xqfu opened #9453 "An information leakage from ReferenceCountUtil to log"
Netty version 4.1.19.Final
JVM version 1.8.0_191

In io.netty.util.ReferenceCountUtil,

	private static final class ReleasingTask implements Runnable {
		......
        public void run() {
            try {
                if (!obj.release(decrement)) {
                    logger.warn("Non-zero refCnt: {}", this);
                } else {
                    logger.debug("Released: {}", this);

[2019-08-13 04:32] xqfu opened #9454 "An information leakage from ResourceLeakDetector to log"
Netty version 4.1.19.Final
JVM version 1.8.0_191

In io.netty.util.ResourceLeakDetector,

    static {
        final boolean disabled;
        if (SystemPropertyUtil.get("io.netty.noResourceLeakDetection") != null) {
            disabled = SystemPropertyUtil.getBoolean("io.netty.noResourceLeakDetection", false);
            logger.debug("-Dio.netty.noResourceLeakDetection: {}", disabled);

[2019-08-13 04:40] xqfu opened #9455 "An information leakage from NioEventLoop"
In io.netty.channel.Channel.NioEventLoop, statements logger.warn(....) don't have LOG configuration controls.

        private void select(boolean oldWakenUp) throws IOException {
            if (time - TimeUnit.MILLISECONDS.toNanos(timeoutMillis) >= currentTimeNanos) {
                    selectCnt = 1;
            } else if (SELECTOR_AUTO_REBUILD_THRESHOLD > 0 && selectCnt >= SELECTOR_AUTO_REBUI

[2019-08-13 06:01] medusar commented on #9455
There is no need to add extra log level check.

[2019-08-13 06:32] xqfu commented on #9455
Dear Jason Wong:

    In the source code (version 4.1.19), there are many log level checks.

    For example, in io.netty.channel.AbstractChannelHandlerContext,

 lines 286-298:

            } catch (Throwable error) {
                if (logger.isDebugEnabled()) {
                    logger.debug(
                        "An exception {}" +
                        "was thrown by a user handler's

[2019-08-13 06:54] medusar commented on #9455
In the code below, because the parameter in `logger.debug` is too long, and multiple strings are connected together by `+`,  add a log level check will save time and space when your log level is `info`.

For example, the parameter is a string, and the string is generated by connect multiple strings together.
[code]
As you can see, there is a `ThrowableUtil.stackTraceToString(error)`, which will ge

[2019-08-13 07:06] xqfu commented on #9455
In io.netty.channel.epoll.AbstractEpollStreamChannel,
lines 708-715:
    private static void safeClosePipe(FileDescriptor fd) {
        if (fd != null) {
            try {
                fd.close();
            } catch (IOException e) {
                if (logger.isWarnEnabled()) {
                    logger.warn("Error while closing a pipe", e);
                }
            }
        }
    }

T

[2019-08-13 07:25] medusar commented on #9455
Yes, i think so. I think it is not necessary do an extra check.

[2019-08-13 07:54] xqfu opened #9456 "Some log level checks (logger.isWarnEnabled()) should be removed"
Netty version 4.1.19.Final
JVM version 1.8.0_191

For the short parameter which is generated simply, logger.isWarnEnabled() check is not necessary.
For example, in io.netty.channel.epoll,AbstractEpollStreamChannel,

    private static void safeClosePipe(FileDescriptor fd) {
        if (fd != null) {
            try {
                fd.close();
            } catch (IOException e) {

[2019-08-13 08:05] amizurov commented on #9429
Hi, This is behavior can reproduced if send 0 byte via Chrome webSocket connection, received frame is marked as compressed but payload contain only 0 byte. I think we need add test case and check spec https://tools.ietf.org/html/rfc7692 point 7.2, @normanmaurer WDYT ?

[2019-08-13 08:45] normanmaurer commented on #9446
as @medusar is right...

[2019-08-13 08:45] #9446 closed

[2019-08-13 08:45] normanmaurer commented on #9454
There is no need to check for the log level as the log message is not expensive to create

[2019-08-13 08:45] #9454 closed

[2019-08-13 08:46] normanmaurer commented on #9447
There is no need to check for the log level as the log message is not expensive to create

[2019-08-13 08:46] #9447 closed

[2019-08-13 08:50] #9432 closed

[2019-08-13 09:15] medusar commented on #9455
@xqfu I think you'd better close all those issues you have created about log level check.

[2019-08-13 10:10] normanmaurer commented on #9456
@xqfu please open a pr with the changes in question.

[2019-08-13 10:10] #9456 closed

[2019-08-13 10:21] normanmaurer commented on #9453
Like mentioned in other issues this is fine as it is not expensive to create the log message

[2019-08-13 10:21] #9453 closed

[2019-08-13 10:21] normanmaurer commented on #9452
Like mentioned in other issues this is fine as it is not expensive to create the log message

[2019-08-13 10:21] #9452 closed

[2019-08-13 10:21] normanmaurer commented on #9449
Like mentioned in other issues this is fine as it is not expensive to create the log message

[2019-08-13 10:21] #9449 closed

[2019-08-13 10:22] normanmaurer commented on #9448
Like mentioned in other issues this is fine as it is not expensive to create the log message

[2019-08-13 10:22] #9448 closed

[2019-08-13 10:22] normanmaurer commented on #9451
Like mentioned in other issues this is fine as it is not expensive to create the log message

[2019-08-13 10:22] #9451 closed

[2019-08-13 10:22] normanmaurer commented on #9450
Like mentioned in other issues this is fine as it is not expensive to create the log message

[2019-08-13 10:22] #9450 closed

[2019-08-13 10:22] normanmaurer commented on #9455
Like mentioned in other issues this is fine as it is not expensive to create the log message

[2019-08-13 10:22] #9455 closed

[2019-08-13 11:03] normanmaurer commented on #9426
@fabienrenaud PTAL https://github.com/netty/netty/pull/9458

[2019-08-13 12:06] SmileChen518 commented on #9429
package websocketx;

import io.netty.channel.ChannelInitializer;
import io.netty.channel.ChannelPipeline;
import io.netty.channel.socket.SocketChannel;
import io.netty.handler.codec.http.HttpObjectAggregator;
import io.netty.handler.codec.http.HttpServerCodec;
import io.netty.handler.codec.http.HttpServerExpectContinueHandler;
import io.netty.handler.codec.http.websocketx.WebSocketServerProtocolHa

[2019-08-13 15:16] nictas opened #9459 "NPE while trying to invoke the method HttpMethod.name()"
Hi,

I'm using the Netty client through [Reactor Netty](https://github.com/reactor/reactor-netty/) and the [Cloud Foundry Java client](https://github.com/cloudfoundry/cf-java-client) in order to communicate with a Cloud Foundry controller. Usually everything works fine, but sometimes I get the following `NullPointerException`:
[code]
The exception occurs on different requests and it's also not tha

[2019-08-13 20:42] omgclouds opened #9462 "Vulnerabilities in HTTP/2"
### Expected behavior
One is unable to cause DoS conditions in HTTP/2 based communications.
Additional details on expected behaviors -  https://github.com/Netflix/security-bulletins/blob/master/advisories/third-party/2019-002.md

https://www.kb.cert.org/vuls/id/605641/

### Work around
Disable HTTP/2 support

### Actual behavior
DoS conditions in HTTP/2 based communications.  See expected behavior

[2019-08-13 21:06] normanmaurer commented on #9462
A new netty release was released today which fixes the problems https://netty.io/news/2019/08/13/4-1-39-Final.html

[2019-08-13 21:06] #9462 closed

[2019-08-13 21:48] vietj opened #9463 "WebSocketClientHandshakerFactory#newHandshaker method ignores mask parameters"
### Expected behavior

`WebSocketClientHandshakerFactory#newHandshaker` method overload does not ignore mask parameters

### Actual behavior

`WebSocketClientHandshakerFactory#newHandshaker` overload method ignores mask parameters

[code]

`performMasking` and `allowMaskMismatch` are not used instead `true` and `false` are used.

### Steps to reproduce

Use `WebSocketClientHandshakerFactory#newHan

[2019-08-14 05:47] xqfu commented on #9456
Dear  Norman:
    I want to open a pr but I cannot access github to create a branch.

$ git push origin Remove_loggerisWarnEnabledchecks
remote: Permission to netty/netty.git denied to xiaoqin-fu.
fatal: unable to access 'https://github.com/netty/netty.git/': The
requested URL returned error: 403

    How to apply to a contributor for Netty?

    Thank you very much!
    Yours sincerely
    Xiaoqi

[2019-08-14 06:51] normanmaurer commented on #9456
@xqfu you need to fork Netty and create the branch in your fork. Once done you can open a PR.

[2019-08-14 07:37] normanmaurer commented on #9463
Fixed by https://github.com/netty/netty/pull/9464

[2019-08-14 08:11] #7829 closed

[2019-08-14 09:52] normanmaurer commented on #9315
Closing as the reporter did not provide more infos. Please re-open with more infos

[2019-08-14 09:52] #9315 closed

[2019-08-14 09:53] normanmaurer commented on #9266
Closing as the reporter did not provide more infos

[2019-08-14 09:53] #9266 closed

[2019-08-14 09:55] normanmaurer commented on #9150
A patch was proposed for OpenJDK that should fix it:

https://mail.openjdk.java.net/pipermail/security-dev/2019-August/020535.html

Will close the issue as it is not a Netty issue but a openJDK one.

[2019-08-14 09:55] #9150 closed

[2019-08-14 11:29] nictas commented on #9459
Big thanks for the fix @normanmaurer!

[2019-08-14 11:29] #9459 closed

[2019-08-14 15:53] JulianFeinauer commented on #7552
Hi folks, I also jump in here. I'm also from the plc4x project and just hacked support for serial port communication. So I will try to move things forward here as well.
@F4k3rzZ I'll keep you updated with the progress so that you can join the work :)

Julian

[2019-08-15 06:33] #9463 closed

[2019-08-15 07:00] normanmaurer commented on #9365
@leotu please let me know if you ever find a query that will reproduce it ...

[2019-08-15 09:00] normanmaurer commented on #9365
@leotu finally understood what was wrong... See https://github.com/netty/netty/pull/9468

[2019-08-15 11:56] wqh17101 commented on #7699
[log.txt](https://github.com/netty/netty/files/3505414/log.txt)

[2019-08-15 17:03] xqfu commented on #9456
@normanmaurer
How to apply Netty contributor and then I will have the right to push my branch?
I  already set up my development environment and signed the contributor license agreement according to the document at https://netty.io/wiki/developer-guide.html,

[2019-08-15 19:18] SplotyCode commented on #9456
You need to fork over github then add the fork as remote in your ide. Create the branch on your fork and then create a pr over github and select the branch from your fork.

[2019-08-15 23:08] xqfu commented on #9456
I am very sorry that I had created the branch in my IDE. I need push right for the remote branch now.

[2019-08-16 06:24] kimifdw opened #9471 "java.lang.ClassCastException: io.netty.buffer.AdvancedLeakAwareByteBuf cannot be cast to io.netty.handler.codec.http.FullHttpRequest"
### Expected behavior
<details>
<summary>java.lang.ClassCastException: io.netty.buffer.AdvancedLeakAwareByteBuf cannot be cast to io.netty.handler.codec.http.FullHttpRequest</summary>
java.lang.ClassCastException: io.netty.buffer.AdvancedLeakAwareByteBuf cannot be cast to io.netty.handler.codec.http.FullHttpRequest
	at io.netty.handler.codec.http.websocketx.WebSocketServerProtocolHandshakeHandler.

[2019-08-16 06:29] normanmaurer commented on #9471
You will need to share more details...

[2019-08-16 06:38] shihongwei commented on #4466
mark

[2019-08-16 07:19] #9434 closed

[2019-08-16 07:41] normanmaurer commented on #9193
This will be fixed by https://github.com/netty/netty/pull/9468

[2019-08-16 07:50] normanmaurer commented on #9419
closing as no update by reporter

[2019-08-16 07:50] #9419 closed

[2019-08-16 07:55] kimifdw commented on #9471
@normanmaurer this is netty's config.when client connnect to the server,it will happen
<details>
<summary>netty config</summary>
ChannelInitializer<Channel> voiceChannelInitializerWebsocket = new ChannelInitializer<Channel>() {

                @Override
                protected void initChannel(Channel ch) throws Exception {
                    ChannelPipeline channelPipeline = ch.pipeline();

[2019-08-16 08:01] normanmaurer commented on #9471
Please show the full stacktrace.

[2019-08-16 08:37] normanmaurer commented on #9471
@kimifdw can you check if https://github.com/netty/netty/pull/9472 fixes the issue for you ?

[2019-08-16 08:38] kimifdw commented on #9471
ok.I will try it,thanks

[2019-08-16 13:18] #9426 closed

[2019-08-16 15:41] fabienrenaud opened #9474 "CVE-2019-951[1-8]: HTTP/2 implementations do not robustly handle abnormal traffic and resource exhaustion"
Investigate whether Netty's implementation of HTTP/2 is impacted by CVE-2019-9511 through CVE-2019-9518.

https://kb.cert.org/vuls/id/605641/

[2019-08-16 15:46] fabienrenaud commented on #9474
Dup of https://github.com/netty/netty/issues/9462

[2019-08-16 15:46] #9474 closed

[2019-08-17 02:29] atcurtis opened #9475 "AsciiString contentEqualsIgnoreCase fails when arrayOffset is non-zero"
### Expected behavior
AsciiString.contentEqualsIgnoreCase is expected to work.

### Actual behavior
AsciiString.contentEqualsIgnoreCase may return true for non-matching strings of equal length

### Steps to reproduce
Create AsciiString with non-zero offset.

### Minimal yet complete reproducer code (or URL to code)

Example of failure
`   @Test
    public void testContentEqualsIgnoreCase() {

[2019-08-17 02:33] atcurtis commented on #9475
[asciistring.diff.gz](https://github.com/netty/netty/files/3511592/asciistring.diff.gz)

[2019-08-17 02:47] njhill commented on #9475
Thanks @atcurtis, good catch! Could you submit a PR with your fix and unit test?

[2019-08-17 07:43] #8078 closed

[2019-08-17 07:56] #9475 closed

[2019-08-17 07:58] #9365 closed

[2019-08-17 07:59] #9193 closed

[2019-08-17 08:00] #9471 closed

[2019-08-17 14:06] chuntaojun opened #9478 "Recyclers in the source has a judge is not very understand"
I'm learning the Recyclers role in Netty source code, a state judgment of the source code is not very understanding. Two recycled range indicates that the object is to repeat the recycling, but this case has been didn't want to know what, don't know if you could explain a little?

[code]

[2019-08-17 14:30] chuntaojun commented on #9478
Is when an object twice recycle method will lead to the problem

[2019-08-18 14:14] chuntaojun commented on #9478
I understand

[2019-08-18 14:14] #9478 closed

[2019-08-19 08:07] nitsanw commented on #9105
@belliottsmith "Specifically, it is not non-blocking, and can lead to the EventLoop busy-spinning waiting for a task that may not be provided promptly because the offering thread's execution has been suspended by the operating system." - I assume you are referring to the following:
https://github.com/JCTools/JCTools/blob/58a08a14928ca966d55543d3e4f6f40a44a65518/jctools-core/src/main/java/org/jctoo

[2019-08-19 08:14] nitsanw commented on #9105
@belliottsmith @franz1981 reading through the discussion and the java doc I realize JCTools should do a better job documenting the progress guarantees on this and other queues. I've file a bug: https://github.com/JCTools/JCTools/issues/259

[2019-08-19 09:27] belliottsmith commented on #9105
It means the `eventLoop` (by using `relaxedPoll()`) would at least be able to proceed with other work such as reading/writing to a socket, or could stop if it had no other work to do, freeing up a thread for the producer to complete its work.

Obviously a preferable solution is to use a truly non-blocking queue, but blocking the `eventLoop` is worse than just blocking the external work queue.

[2019-08-19 09:27] SantoshMagdum opened #9479 "Test failures on ppc64le rhel 7.6 architecture"
### Expected behavior
	Build and test cases should succeed on ppc64le rhel 7.6

### Actual behavior
	Below modules test cases are failing -
		•	handler
		•	resolver
		•	testsuit
		•	transport-native-epoll

### Steps to reproduce

	1) Build the dependency packages hawtjni(1.17 SNAPSHOT) and netty-tcnative(2.0.26 SNAPSHOT).
	2) The 'netty' package builds fine without test case execution.

	However,

[2019-08-19 09:49] lwlee2608 opened #9481 "Setting IORatio to 100"
I was reading into netty-transport code and stumble across the ioRatio https://github.com/netty/netty/blob/873988676a2b1bb9cc6e5c1a80e5b27725b1d75c/transport/src/main/java/io/netty/channel/nio/NioEventLoop.java#L515

By the look of it, the smaller the ioRatio, the longer time any non-I/O tasks can spend in the event-loop. For example, given ioTime = 10us

ioRatio of 5 will yield timeout = 190us
io

[2019-08-19 10:00] nitsanw commented on #9105
I was referring in particular to: "using a **putVolatile** to set the item in the queue's backing array would suffice to avoid the busy-spin blocking of the EventLoop".
I agree that using a `relaxedPoll` will return control to the EventLoop, giving you more options in how to utilize time until an element is visible. I don't see how `putVolatile` makes a difference here.
Thanks.

[2019-08-19 10:23] belliottsmith commented on #9105
Well, in combination with #9109 you might appreciate my reasoning.  Long story short, it depends on the behaviour of the code that wraps it to provide blocking behaviour.  `putVolatile` instead of `putOrdered` would permit negotiating if a wake-up is _not_ necessary with only `LoadLoad` barriers.  However, _today_, Netty imposes a full CAS in each side of that transaction, so it wouldn't actually

[2019-08-19 10:37] nitsanw commented on #9105
Reading through the discussion, I understand you have some reservations regarding the semantics/guarantees of JCTools queues, but I can't see how they add up to anything actionable.

If you have a concern with a particular detail please file a bug with JCTools and I'll be happy to address it.

Making the element write a volatile write makes no difference to either ticket AFAICT. It imposes further

[2019-08-19 10:53] belliottsmith commented on #9105
I have no concerns about the semantics, that would imply I thought they were overall problematic.  Every concurrent structure's semantics matter only in the context they're used.

IMO, this project should be using a truly non-blocking queue, but that doesn't mean the algorithm employed by JCTools is of general concern.

[2019-08-19 11:04] nitsanw commented on #9105
"IMO, this project should be using a truly non-blocking queue" - The trade offs are between higher per-element costs (allocation + barriers) and the JCTools option which is lock-less but still risks blocking. The configurable queue impl solves this issue and offers choice, so I think this is solved.

"I consider the default spin-lock blocking behaviour to be a bug" - Would you prefer to put a yiel

[2019-08-19 11:14] franz1981 commented on #9105
Given that a relaxed poll can return NULL either due to emptiness and a "not yet" published element I believe that it can be improved by make these 2 cases explicit and let a user to choose what to do while awaiting element publication, but it would mean an additional xxxPoll method: it could be useful, but most JCtools users love and uses it because qs are "kinda" replacement for j.u.c. queues an

[2019-08-19 11:15] belliottsmith commented on #9105
I've been down enough of these rabbit holes to know any answer will only lead to another, so I hope you don't mind if I bow out for real for now.  I only provided that qualifier as a post-script because I felt I had been dishonest by disclaiming _any_ concerns about JCTools in response to your claim I had expressed general concerns (which I do not feel I had, I was only discussing their semantics

[2019-08-19 12:52] normanmaurer commented on #9481
@lwlee2608 Imho disable all non IO tasks is not going to work as there are situations when Netty need to run these. That said I would say we should most likely just use `99` if 100 is used to not make it behave like `0`.

[2019-08-19 13:06] lwlee2608 commented on #9481
Ah, all right. I'm not actually suggesting disabling non-IO tasks. But looking at the calculations, don't you think ratio of 0 makes more sense than 100 to disable the timeout?

[2019-08-19 13:09] #8575 closed

[2019-08-19 13:13] nitsanw commented on #9105
"JCTools is a great library, that you should be proud of" - Thanks :-)

"it would be surprising if nobody had any concerns or criticisms." - Indeed, and I am keen to address these concerns where I can. So please, if possible, make time to submit issues if appropriate. Even if they remain unresolved they will be informing other users of the risks/rewards/tradeoffs/decision making etc.

Thanks for y

[2019-08-19 13:19] lwlee2608 commented on #9481
My logic of thinking is as follows: The larger the ratio, the less amount of time non I/O tasks get. Therefore at the maximum ratio, it does not sound right to get an infinite amount of time.

[2019-08-19 13:26] lwlee2608 commented on #9481
But I guess it is too late for the change now. Perhaps we can update to the documentation to clarify on this?

[2019-08-19 13:52] normanmaurer commented on #9479
I an sorry but I have no access to ppc64le hardware and so can not help... That said our dev environment is usually x86

[2019-08-19 13:55] normanmaurer commented on #9481
yeah it is too late... prs welcome for docs

[2019-08-19 13:59] lwlee2608 commented on #9481
Okay sure :)

[2019-08-19 14:57] gustavonalle opened #9482 "Example HTTP/2 client uses extra bogus request"
The http/2 client in the examples section adds an [channel handler](https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/http2/helloworld/client/Http2ClientInitializer.java#L129)  to send a [bogus request](https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/http2/helloworld/client/Http2ClientInitializer.java#L140) just for the sake of initiating

[2019-08-19 17:27] njhill commented on #9481
The IORatio logic has just been removed in `EpollEventLoop` and I'd assume the intention is to bring `NioEventLoop` in line with this at some point (@normanmaurer correct me if I'm wrong). So it may end up being moot in any case.

[2019-08-19 17:27] normanmaurer commented on #9481
@njhill yes... at the end I think that would be the plan.

[2019-08-19 20:07] Bennett-Lynch opened #9483 "Consider programmatically exposing current Netty version"
Sometimes Netty makes behavioral/functional changes between minor releases. For example, a  recent PR, https://github.com/netty/netty/pull/9442, fixed a race condition with the HTTP/2 codecs. While this is a backwards compatible change from an API perspective, usage of these codecs could yield different results with different versions of Netty.

Visibility on the current Netty version could be ben

[2019-08-20 06:57] lwlee2608 commented on #9481
oic, I'm still going make the javadoc PR since it's just minimal effort

[2019-08-20 09:57] SantoshMagdum commented on #9479
Hi Norman,

Thanks for the response.

Can we bypass the 'conscript' dependency and still build netty with positive test case executions by using alternatives like jetty-alpn?

You can get access to the power VM (Power8) by raising a VM request at OSU - http://osuosl.org/services/powerdev/request_hosting/.
Please add Gerrit (gerrit@us.ibm.com) as IBM advocate for the request approval.

Thanks in ad

[2019-08-20 12:15] alexsergin commented on #9420
Hi. How did you do that? Could you please give some code example?

[2019-08-20 12:50] normanmaurer commented on #9420
@alexsergin  call `HAProxyMessage.release()`.

[2019-08-20 12:52] normanmaurer commented on #9483
@Bennett-Lynch I think you are correct that this would be useful. The only question I have here is would you do this for netty-common alone or for each jar as at the end it could be that someone has a mix of different jars. I think netty-common alone would be fine.

[2019-08-20 13:10] alexsergin commented on #9420
I've done with that already:) Thank you.

[2019-08-20 13:21] WhiteTrashLord opened #9485 "Recommended JDK / JVM for Netty"
Is there any JDK / JVM which should be the most stable for a Netty application?
Do your Netty testsuites only run with Oracle Java?
I read that Netty had some problems with OpenJ9 in the past so I would appreciate some advice.

[2019-08-20 13:23] normanmaurer commented on #9485
@WhiteTrashLord no there is none... We test with OpenJDK, OracleJDK, OpenJ9 and GraalVM on our CI tho. So it all comes down to preference and needs I guess.

[2019-08-20 13:34] #9485 closed

[2019-08-20 15:18] Bennett-Lynch commented on #9483
That’s a good point. Personally, I would be fine with netty-common, as I typically import Netty via netty-all, and it would probably be too complicated to do it for every jar. I suspect netty-common would probably be fine for most people with that specific caveat called out.

[2019-08-20 19:31] idelpivnitskiy opened #9486 "Change `DEFAULT_HEADER_SENSITIVITY_DETECTOR` for HPACK"
Netty exposes `SensitivityDetector` [1] that lets users define sensitive [2] header `<name, value>` pairs. The default value is `NEVER_SENSITIVE`:

https://github.com/netty/netty/blob/14607979f6db074247d764cc4583461bcd298719/codec-http2/src/main/java/io/netty/handler/codec/http2/AbstractHttp2ConnectionHandlerBuilder.java#L79

It means that netty will try to store all header entries in the dynamic

[2019-08-21 03:07] wuhoubing opened #9487 "Where does @sharable resolve？"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### 4.1.40

### 1.8

### windows

 Where does @sharable resolve？

[2019-08-21 03:15] wuhoubing commented on #9487
i am studing netty-4.1.40 and i want to know that where is the '@shareable' resolved.

[2019-08-21 03:33] #9487 closed

[2019-08-21 04:36] nichoding commented on #9419
@ninja-
It seems that it has not been fixed.
I removed so-keepalive and changed NIO to EPOLL.
Then it has been running for two weeks without any problem.
Yesterday I found that server-open file descriptor could'nt been released.
As your suggestion,I will try to batch your writes.

[2019-08-21 04:50] anuchandy opened #9488 "Question: Does PooledByteBufAllocator switch from DirectBuffer to Heap"
I was looking at PooledByteBufAllocator code, as part of its default initialization it seems to prefer [direct buffer](https://github.com/netty/netty/blob/922e4635240e1519d22edc0cb1ff9d2382464886/buffer/src/main/java/io/netty/buffer/PooledByteBufAllocator.java#L168). If this allocator starts with direct buffer and runs out of space, does it switch to heap?

[2019-08-21 07:13] #9481 closed

[2019-08-21 08:41] normanmaurer commented on #9488
@anuchandy no it does not.

[2019-08-21 08:41] #9488 closed

[2019-08-21 08:45] normanmaurer commented on #9479
@SantoshMagdum done...

[2019-08-21 09:21] hengyunabc commented on #5070
Version:  4.1.38.Final

Change

[code]

to

[code]

Resolved my problem.

[2019-08-21 13:54] anuchandy commented on #9488
thanks @normanmaurer. I've following code for ByteBuf to ByteBuffer conversion -

[code]

if I'm using PooledByteBufAllocator, under what cases `else` block can hit? I mean the circumstances in which PooledByteBufAllocator direct buffer preference could be rejected.

Also is there a configuration where users of my application could use to tell PooledByteBufAllocator to not to use direct buffer?

[2019-08-21 16:29] AnitaNayak opened #9491 "Logstash log showing "error:1e00007d:Cipher functions:OPENSSL_internal:INVALID_NONCE""
Hi, we are testing logstash 6.6.1 (netty-tcnative version: netty-tcnative-boringssl-static-2.0.17.Final-linux-s390_64.jar ) on s390x platform (Linux on Z/s390x).

After starting the ELK 6.6.1 stack, everything seems working fine and we can see logs on Kibana UI, but logstash log has following entries from time to time:
[code]
After turning on org.logstash.beats.BeatsHandler debug level tracing, we

[2019-08-21 17:09] AnitaNayak commented on #9491
After enabled, `log.level: debug` in logstash yaml file, got below additional message:
[code]
Please suggest ...

[2019-08-21 18:45] normanmaurer commented on #9491
Sorry but no idea.. you may want to research if boringssl even supports s390x at all. I am not sure about this.

[2019-08-21 18:47] normanmaurer commented on #9488
Some code may just wrap an `byte[]` so produce a non-direct buffer. Also even if you configure  `PooledByteBufAllocator ` to prefer heap buffers some code may still request a direct buffer (because it need it).

[2019-08-21 19:34] njhill commented on #9488
Also @anuchandy you can do `ByteBuffer bb = buffer.nioBuffer()` regardless of what kind of `ByteBuf` it is. It will perform similar logic to your example implicitly. Watch out though that the returned `ByteBuffer` will share the underlying data (not copy as in the latter part of your example) ... this is true for both direct/non-direct cases but not necessarily if it's a composite.

[2019-08-21 21:24] ejona86 commented on #9486
Of the headers to index, `Authorization` and `Cookie` are by far the most important to index, as far as gains from the compression. `Set-Cookie` could avoid the dynamic table, but just because it is unlikely to be reused later. If the RFC didn't expect encoders to encode `Cookie` then it wouldn't have special-cased the header field in [HTTP/2](https://tools.ietf.org/html/rfc7540#section-8.1.2.5).

[2019-08-21 21:55] idelpivnitskiy commented on #9486
@ejona86 Sounds reasonable, thank you for the feedback.
I think we will leave sensitivity setting for `Set-Cookie` up to the users' decision.

[2019-08-21 21:55] #9486 closed

[2019-08-21 23:23] anuchandy commented on #9488
Thanks @normanmaurer

Thanks @njhill, didn't know that `ByteBuf::nioBuffer()` works for both direct and heap based `ByteBuf`. This is great news, so this ensure less GC pressure then. Yes we've necessary logic to release the source `ByteBuf` instance to pool which we do only after we're done with derived `ByteBuffer`.

[2019-08-22 02:25] battleblow opened #9494 "Netty source jars don't contain C source code"
### Expected behavior

Giving an example for netty 4.1.39 (current release)

netty-transport-native-epoll-4.1.39.Final-linux-x86_64.jar contains the file META-INF/native/libnetty_transport_native_epoll_x86_64.so, but
netty-transport-native-epoll-4.1.39.Final-sources.jar only contains the Java source, not the C source that was used to create the shared library.  The same is true for the KQueue JARs

[2019-08-22 06:01] lby1992 commented on #5936
@honyee I want to know that too, thanks.

[2019-08-22 07:12] nizarm opened #9495 "NullPointerException during Client Side ClearText Upgrade with new Http2MultiplexHandler.java"
When cleartext upgrade is implemented in client side using **HttpClientUpgradeHandler** there is no way to pass the newly created **Http2MultiplexHandler**.

It seems like we need a way to correctly add Http2MultiplexHandler to the pipeline before calling Http2FrameCodec.onHttpClientUpgrade(...). Since this special case is not handled in HttpClientUpgradeHandler (but seems like this case is correc

[2019-08-22 09:32] Ward-Wang opened #9496 "Data Receiving Problem of Serial Port Connection"
Hello, I am currently trying to connect to the serial device using netty, and introduced the 4.1.39.Final version of the netty-transport-rxtx and netty-all packages via maven.
I used the RxtxChannel class and configured the parameters needed for the serial connection. When I successfully established a connection with the device,
I sent the request and the response data was returned by the device s

[2019-08-22 11:13] normanmaurer commented on #9495
@nizarm sounds like a bug yes... I would be happy to review a PR.

[2019-08-22 11:14] normanmaurer commented on #9496
@Ward-Wang I think there is no way to configure it to not split...

[2019-08-22 11:18] normanmaurer commented on #9494
@battleblow sounds like a bug... we should include these.

[2019-08-22 11:56] normanmaurer commented on #9496
@Ward-Wang PTAL https://github.com/netty/netty/pull/9497

[2019-08-22 11:57] normanmaurer commented on #9494
@battleblow PTAL https://github.com/netty/netty/pull/9497

[2019-08-22 14:01] OLPMO opened #9498 "Why netty does not use 'try-with-resource' statement?Is there any reason?"
### netty version 4.1
for example,in class CompatibleObjectEncoder
[code]

[2019-08-22 14:04] slandelle commented on #9498
Because Netty 4.1 is (mostly) compiled against Java 6, see https://github.com/netty/netty/blob/4.1/pom.xml#L275-L276

[2019-08-22 14:04] #9498 closed

[2019-08-22 14:24] comtel2000 opened #9499 "Unefficient use of io.netty.util.ByteProcessor$IndexOfProcessor"
### Expected behavior
ByteBufUtils.indexOf(..) or in my case ByteBuf$bytesBefore for any ByteBuf
should work as efficient as a simple for loop without object allocation for ByteProcessor$IndexOfProcessor

### Actual behavior
Usage of ByteBuf$indexOf or ByteBuf$bytesBefore stress the garbage collector by allocate ByteProcessor$IndexOfProcessor for each call

By replace all indexOf and bytesBefore w

[2019-08-22 15:04] OLPMO commented on #9498
oh,i knew.thanks for your reply.

[2019-08-22 15:09] normanmaurer commented on #9499
@comtel2000 that's a good one... we can definitely add some optimisation here.. Will open a pr shortly

[2019-08-22 15:15] TristanPerry commented on #9482
That particular examples uses the 'old' `InboundHttp2ToHttpAdapter`/`HttpToHttp2ConnectionHandler` approach for creating a HTTP/2 client  which actually uses the HTTP/1 objects (`FullHttpRequest`/`FullHttpResponse`) - in essence hiding away the underlying HTTP/2 functionality, which may account for the clunky approach in this client example.

`Http2MultiplexHandler` and `Http2FrameCodec` (`Http2Fr

[2019-08-22 16:02] battleblow commented on #9494
Thanks!

[2019-08-22 17:18] aaloise opened #9500 "Java 11 with Netty 4.1.39 - Illegal access DnsResolver (Windows only)"
Vert,x 3.8.1 depends on Netty 4.1.39. Created a simple app based on https://how-to.vertx.io/http-client-howto/

If the jar is runned on Windows, it says:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by io.netty.resolver.dns.DnsNameResolver (file:/C:/Users/1585988/Downloads/my-first-app/target/my-first-app-1.0.0-SNAPSHOT-fat.jar) to method sun.net

[2019-08-22 17:44] nizarm commented on #9495
Thanks for confirming @normanmaurer - PR is ready for your review !

[2019-08-22 17:56] normanmaurer commented on #9499
@comtel2000 PTAL https://github.com/netty/netty/pull/9502

[2019-08-23 01:59] eqzip opened #9504 "org.jboss.netty.channel.socket.nio.SocketSendBufferPool throw java.lang.OutOfMemoryError: Direct buffer memory"
### Expected behavior
The source code:
https://github.com/eqzip/eqchains/blob/master/EQchains%20Core/src/main/java/com/eqchains/rpc/client/MinerNetworkClient.java
public static long ping(String remoteIP) {
		Log.info("Begin ping: " + remoteIP);
		NettyTransceiver nettyTransceiver = null;
		MinerNetwork client = null;
		long time = System.currentTimeMillis();
		try {
			nettyTransceiver = new Netty

[2019-08-23 05:47] amizurov commented on #9429
Sorry for long wait, we incorrectly handle the section https://tools.ietf.org/html/rfc7692#section-7.2.3.6 for both situation encode/decode, I'll try to do pull request a soon as possible.

[2019-08-23 05:58] normanmaurer commented on #9429
Thanks a lot

[2019-08-23 06:45] xianshengzheng commented on #2308
niubi

[2019-08-23 07:09] AnitaNayak commented on #9491
Hi Logs are flowing. But getting this exception. Could you please let me know from code analysis, at which condition we get this `INVALID-NONCE` SSL_Write error.
Some hint would help a lot. Thank you for responding.

[2019-08-23 07:30] Nashatyrev opened #9505 "Any ways to supply custom ChanelPipeline?"
Hey Netty team,

Started to extend the `DefaultChannelPipeline` and found out that it is not possible due to:
- `AbsractChannel` relies on `DefaultChannelPipeline` class rather than `ChannelPipeline` interface
- `DefaultChannelPipeline` is 'effectively final' (all interface methods are implemented as `final`)

I would suggest either one of the following options:
1. Change `AbstractChannel` to depe

[2019-08-23 07:30] #9494 closed

[2019-08-23 07:32] normanmaurer commented on #9505
While I think in general this is a good idea I don't think we can make this happen with the suggestions you made without breaking the API. Which means this can not happen in 4.1.x

[2019-08-23 07:56] Nashatyrev commented on #9505
@normanmaurer thanks for prompt response!

May be you give any advice on how to track handlers add/remove with the current API?

[2019-08-23 08:01] normanmaurer commented on #9505
what exactly you need to track ? Just when a handler is added and removed ?

[2019-08-23 08:17] Nashatyrev commented on #9505
Yep.
The general idea is always add a tailing handler which should cache all events (which would be dropped by pipeline else) and replay them to a new handler upon addition

[2019-08-23 16:52] #9495 closed

[2019-08-23 17:27] normanmaurer commented on #9500
need to check...

[2019-08-23 20:09] njhill commented on #9505
@Nashatyrev I didn't digest your problem in detail but might `ChannelPipeline::replace` help here?

[2019-08-24 06:54] nizarm opened #9508 "Http2MultiplexHandler forces to provide an upgradeStreamHandler during client side cleartext upgrade"
When we use Http2MultiplexHandler along with a clear tex upgrade in client side using Http2ClientUpgradeCodec, it throws an exception when a ChannelHandler is not provided for upgradeStreamHandler as shown below.

[code]
It might make sense to force to provide the upgradeHandler when it is used in the server side. But when it is used in the client side the user can chose to create the outbound cha

[2019-08-24 07:05] normanmaurer commented on #9508
Sounds good

[2019-08-24 11:46] #9499 closed

[2019-08-24 14:05] Nashatyrev commented on #9505
@njhill Nope. I want to be notified on adding/removing handlers to pipeline

[2019-08-24 16:41] JulianFeinauer commented on #7552
Hi all, just a short update... We have a working implementation for raw sockets now in plc4x.
Only drawback is that it is based on deprecated OioEventLoop but works flawlessly, yet.

[2019-08-26 03:36] CrazySabri commented on #7319
when using redis, same behavior would appear because of nio after the project started and getting value from redis;
I want to asure that the problem have bean solved ever;

[2019-08-26 09:25] GitHubDongChen opened #9510 "Why does Netty have a default WebSocket frame size of only 65536 byte"
https://github.com/netty/netty/blob/7c5a3c5898b03e839fcbb8e2fd6e7203303b7dfa/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/WebSocketServerProtocolHandler.java#L144

The WebSocket protocol limits the size to 18,446,744,073,709,551,615 bytes. Is there a reason for that low frame size?

[2019-08-26 09:26] normanmaurer commented on #9510
@GitHubDongChen if the limit is too low it may allow the remote peer to exhaust the memory of the receiving end.

[2019-08-26 09:26] #9510 closed

[2019-08-26 09:28] normanmaurer commented on #9504
This basically means you need to use a larger limit for the direct memory. That Netty 3.x is EOL for years.

[2019-08-26 09:28] #9504 closed

[2019-08-26 09:38] normanmaurer commented on #9500
Fixed by https://github.com/netty/netty/pull/9511

[2019-08-26 13:40] rhythmdai opened #9513 "HttpPostStandardRequestDecoder memory leak"
String payload = "a=1&&b=2";
    ByteBuf byteBuf = Unpooled.directBuffer().writeBytes(payload.getBytes());
    FullHttpRequest request =new DefaultFullHttpRequest(HttpVersion.HTTP_1_1, HttpMethod.POST, "/",byteBuf);
    HttpPostStandardRequestDecoder decoder = new HttpPostStandardRequestDecoder(request);

### Expected behavior
throw ErrorDataDecoderException and free direct memory allocated in con

[2019-08-27 00:44] Ward-Wang commented on #9496
I tried to turn off the channel's autoRead option, set up the connection and send the data, waited for 5 seconds using Thread.sleep, and then actively read the data from the Channel, at which point all data was received at one time instead of being received in batches.
I decided to use the fixed length or delayed receiving method to process the data, thank you for your help.

[2019-08-27 00:44] #9496 closed

[2019-08-27 01:41] cstancu opened #9514 "The `netty-all.jar` is missing the `native-image.properties` files from sub-modules"
The GraalVM Native Image configuration files under `META-INF` are automatically included in the generated jar of the corresponding module, e.g., [`native-image.properties`](https://github.com/netty/netty/blob/4.1/codec-http/src/main/resources/META-INF/native-image/io.netty/codec-http/native-image.properties) is included in the `netty-codec-http.jar`, but not in `nety-all.jar`. I looked around the

[2019-08-27 07:25] pmlopes commented on #9514
I don't know the inner details of the `netty-all` build process. I guess it would be nice to have but I am at the same level as you here...

[2019-08-27 09:22] normanmaurer commented on #9514
I will have a look.

[2019-08-27 10:14] normanmaurer commented on #9514
Fixed by https://github.com/netty/netty/pull/9518... PTAL

[2019-08-27 12:29] normanmaurer commented on #9508
@nizarm you will provide a PR for this ?

[2019-08-28 06:08] #9500 closed

[2019-08-28 06:09] #9514 closed

[2019-08-28 06:21] #9429 closed

[2019-08-28 08:27] #9513 closed

[2019-08-28 09:21] tanjoc opened #9520 "HttpObjectAggregator can't split truck"
### Expected behavior
I used netty to proxy http request between inner network and internet, and the layout: netty proxy server in internet, inner proxy server and inner web server. I got response form inner web server via a channel has been create between  inner proxy server and netty server when I post a request with chrome client,  I can got http response success. but if I post more request qui

[2019-08-28 14:09] hyperxpro opened #9521 "Feature Request: TLS 1.3 0-RTT"
Add Feature for TLS 1.3 0-RTT in Netty.

[2019-08-28 19:51] zoewangg opened #9522 "Performance regression introduced in 4.1.35 and later"
While upgrading netty version from `4.1.33` to `4.1.39` in our application, we observed performance regression in the newer versions.

After narrowing down, the client performance seems gradually degraded since `4.1.35`. We are using JMH to measure throughput for our netty client code and starting from `4.1.37`, the throughput has been decreased by around 10%.  The degradation occurred for both H1

[2019-08-28 19:54] normanmaurer commented on #9522
@zoewangg I am not aware of anything and did not detect any regressions in our microbenchmarks. Can you share the benchmark / flamegraphs ?

[2019-08-28 20:02] franz1981 commented on #9522
Looking into https://netty.io/news/2019/06/28/4-1-37-Final.html I can't see stuff that could cause any perf hit @zoewangg there is anything on that list that recall you what you're doing in your JMH bench?

[2019-08-28 22:05] zoewangg commented on #9522
This is our benchmark code: https://github.com/aws/aws-sdk-java-v2/tree/master/test/sdk-benchmarks/src/main/java/software/amazon/awssdk/benchmark/apicall/httpclient/async

Background: AWS Java SDK v2 uses Netty client under the hood for async requests.  All the benchmark code does is to use netty http client to send sequential or concurrent requests to local mock h1 or h2 servers with openssl or d

[2019-08-29 08:32] SantoshMagdum commented on #9479
Hi Norman,
Did you get a chance to raise access request for guest OS for Power8 VM? Please let me know ticket/token ID. I shall followup for access.
Also, I had added ppc64le in below config to support ppc64le JDK.
        <regex>^(x86_64|aarch_64|ppcle_64)$</regex>
Now I see netty-handler test cases are failing due for conscript dependency.

[2019-08-29 08:58] normanmaurer commented on #9479
Yes I did but did not hear back yet

[2019-08-29 10:49] normanmaurer commented on #9522
@zoewangg I don't think so... can you please also share flamegraps ?

[2019-08-29 13:44] normanmaurer commented on #9479
To be more clear I filled the form but did never get an email ..

[2019-08-30 01:03] husttb opened #9524 "When do you support MQTT 5.0 in netty-mqtt-codec？"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-08-30 01:20] njhill commented on #9524
@husttb I'm sure folks would happily review a PR for this if you submit one

[2019-08-30 03:38] PCBzan opened #9526 "broker for android?"
hi

have you ever work on android broker such as moquette or something like that ?

do you have any practical code with Android manifest ?

[2019-08-30 05:08] SantoshMagdum commented on #9479
Hi Norman,
It seems like the access request is in the system and should get processed shortly.

[2019-08-30 06:48] normanmaurer commented on #9479
@SantoshMagdum cool thanks!

[2019-08-30 07:22] normanmaurer commented on #9483
@Bennett-Lynch you are fancy doing a PR ?

[2019-08-30 07:56] normanmaurer commented on #9526
Sorry but this is an issue tracker... closing

[2019-08-30 07:56] #9526 closed

[2019-08-30 07:56] normanmaurer commented on #9520
sorry but without more infos it will be impossible to help.

Please provide more infos / a reproducer.

[2019-08-30 07:57] normanmaurer commented on #9508
@nizarm ping... if you don't have time just let me know and I will look into it.

[2019-08-30 08:46] sunfriendli commented on #3539
I have the same problem with netty-4.1.34.Final:

io.netty.channel.unix.Errors$NativeIoException: syscall:read(..) failed: Connection reset by peer
	at io.netty.channel.unix.FileDescriptor.readAddress(..)(Unknown Source) ~[***.jar:?]

[2019-08-31 00:55] Bennett-Lynch commented on #9483
I can try to submit a PR for this. Do you have any suggestions for how to keep the version automatically up to date with builds/releases?

[2019-08-31 06:41] normanmaurer commented on #9483
@Bennett-Lynch cool... I think we may be able to just use some maven goal / plugin to replace it while the jar is packaged.

[2019-08-31 13:57] fuzhengwei commented on #2308
漂亮！

[2019-09-01 08:52] LightMingMing opened #9528 "Handler is not really removed form the pipeline, although the handlerState is 'REMOVE_COMPLETE'"
### Expected behavior
Handler should be really removed from the pipeline when they add failed.
### Actual behavior
Handler is not removed from the pipeline although the handlerState is 'REMOVE_COMPLETE'
### Minimal yet complete reproducer code (or URL to code)
[code]
test failed:
[code]
### Netty version
4.1.33.Final
### JVM version (e.g. `java -version`)
java version "11.0.4" 2019-07-16 LTS
Java(

[2019-09-01 17:50] #9521 closed

[2019-09-02 12:24] normanmaurer commented on #9528
@LightMingMing thanks for reporting... I think I know what is going on here which is very much unfortunate and may be very hard / expensive to fix for 4.1.x... This is fixed in master already.

[2019-09-02 13:01] normanmaurer commented on #9528
@LightMingMing actually I was wrong... here is the fix https://github.com/netty/netty/pull/9530 .. Thanks again for the idea for the unit test.

[2019-09-02 14:09] LightMingMing commented on #9528
@normanmaurer thanks for your reply, I took a look at your unit test, it's very graceful than mine...Thanks very much!

[2019-09-02 21:43] sgammon commented on #8129
@normanmaurer is it sufficient to set `TCP_QUICKACK` on channel create, or do you mean you must set that on the config after each TCP interaction?

[2019-09-03 06:35] #9528 closed

[2019-09-03 06:40] #8446 closed

[2019-09-03 07:50] normanmaurer commented on #9522
@zoewangg I am wondering if the cause is maybe:

https://github.com/netty/netty/pull/9274

It seems like you not bin a specific cipher which means it may pick `TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384` and so be slower ... Can you verify if this is the case ?

[2019-09-03 09:08] duaicxx opened #9532 "EventExecutor Design Questions"
Why does EventExecutor inherit from EventExecutor group？ What are the benefits?

[2019-09-03 09:17] #9532 closed

[2019-09-03 10:48] normanmaurer commented on #9508
@nizarm PTAL https://github.com/netty/netty/pull/9533

[2019-09-03 11:03] normanmaurer commented on #9349
@njhill lets do it for the master branch... you are fancy to do a PR ?

[2019-09-03 18:44] zoewangg commented on #9522
Sorry for the delay, we were able to identify the cause for the slowdown. Will report back the issue and possible fix.

[2019-09-03 18:47] njhill commented on #9349
@normanmaurer I'd be happy to though can't promise an ETA... already have a few things on my netty list like porting #9470 to master. So if you want to do it sooner I won't mind at all. I still think it would be nice/feasible to do in 4.1 too :)

[2019-09-03 19:55] normanmaurer commented on #9522
Thanks a lot! Looking forward to more details :)

[2019-09-03 21:42] dagnir commented on #9522
Hi @normanmaurer, after some profiling, it seems this is the change that is affecting us: https://github.com/netty/netty/commit/f17bfd0f64189d91302fbdd15103788bf9eabaa2. Spefically, it seems to be the change to stop using a static instance of `CancellationException` in `DefaultPromise#cancel()` that's taking up extra CPU in our case.

For context, in the SDK we use a new `WriteTimeoutHandler` that

[2019-09-04 07:03] normanmaurer commented on #9522
@dagnir thanks a lot for the details... This makes a lot of sense. @njhill is working on a fix already :)

[2019-09-04 12:46] elenagarrido opened #9537 "Netty communication failed in docker"
We've created an application that uses the Apache ActiveMQ Artemis in native mode. Which means that it uses netty.

The software is a java based application that should run in docker. We've tried with base docker image koosiedemoer/netty-tcnative-alpine  and openjdk:8-jdk-alpine and both cases we allways have the same error.

Here we add parts of the pom.xml  related to jetty
[code]

The exception

[2019-09-04 12:47] normanmaurer commented on #9537
@elenagarrido this is just a debug log that we could not load the native SSL lib.. This is expected as we do not ship a version that supports alpine atm. So either you need to use a base-image that is not based on alpine or just ignore it. The application should work never less .

[2019-09-04 13:09] elenagarrido commented on #9537
Ok, I see that artemis is not connecting to my server and the only log I have before is the exception related to netty. There is no other clue of why it is not able to establish the connection.
I've done other tests and there is no issue from the server side.

[2019-09-04 13:11] normanmaurer commented on #9537
@elenagarrido please followup with with the`Artemis` team

[2019-09-04 13:11] #9537 closed

[2019-09-04 13:12] elenagarrido commented on #9537
Thanks

[2019-09-04 17:02] dagnir commented on #9522
Thanks @normanmaurer, @njhill!

[2019-09-05 00:20] nizarm commented on #9508
Being on "onCall" last week didnt help me look in to this. Thanks for taking this up !

[2019-09-05 00:20] nizarm commented on #9508
LGTM

[2019-09-05 00:21] nizarm commented on #9508
Thanks for the fix. We may close this issue now !

[2019-09-05 06:56] #9362 closed

[2019-09-05 06:59] normanmaurer opened #9540 "Add support for Happy Eyeballs (rfc8305)"
https://tools.ietf.org/html/rfc8305

[2019-09-05 07:08] normanmaurer commented on #9505
@Nashatyrev I see... I mean what you could do is fire user events through the pipeline on each remove / add.

[2019-09-05 08:33] medusar commented on #9540
As IPv6 is becoming more and more popular...

[2019-09-05 08:54] SantoshMagdum commented on #9479
Hi Norman,
Your guest VM access request is complete now. Please give a try. Thanks.

[2019-09-05 09:07] #9522 closed

[2019-09-05 09:11] normanmaurer commented on #9522
@dagnir could you test with the change merged as part of https://github.com/netty/netty/pull/9534 ?

[2019-09-05 17:12] nizarm opened #9542 "SimpleChannelPool "POOL_KEY" attribute name is easy to get conflict from user code"
It is noticed that SimpleChannelPool's POOL_KEY attribute name "channelPool" is easy to get conflict with user code and throws an exception 'channelPool' is already in use. Being a generic framework - it would be great if we can name the attribute something unique - may be use UUID for the name since the name is not required later?

Create a channel attribute in user code with name 'channelPool' a

[2019-09-05 18:54] normanmaurer commented on #9542
@nizarm fancy to do a pr ?

I think we may even use something like this:

[code]

Just in case there are multiple SimpleChannelPool instances.

[2019-09-05 19:05] nizarm commented on #9542
Yes - on it !

[2019-09-05 19:53] dagnir commented on #9522
Thanks @normanmaurer. Running our benchmark suite now.

[2019-09-05 21:57] dagnir commented on #9522
@normanmaurer @njhill  Our numbers are back to baseline with this change (or slightly improved). Thanks for the quick turnaround!

When can we expect to see 4.1.40.Final released to Maven?

[2019-09-05 23:08] Scottmitch commented on #9486
The "sensitive" concept exposed here is somewhat overloaded and in practice is the only way to avoid indexing a header "don't index this header" (we currently don't expose [Literal Header Field without Indexing](https://tools.ietf.org/html/rfc7541#section-6.2.2) IIRC). This maybe useful for security reasons (e.g. what the spec refers to as sensitive headers) but also for header values that frequen

[2019-09-06 03:53] LUGYHAN opened #9543 "Netty should set request header host by default when http1.1 is used."
### Expected behavior
Netty should set request header host by default when http 1.1 is used if customer does not set the host header.

### Actual behavior
Get 400 response if do not set header host.

### Steps to reproduce
Use examples in the project, and delete set host header action in examples.

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.0.24.Final

### JVM v

[2019-09-06 05:43] rpkim commented on #6891
Hi,
I faced a similar issue when I try to set up the Micrometer with standalone tomcat(.war file)

the error message is,
[code]

I have a heapdump file. If you let me know the email address, I will share the heapdump file.

[2019-09-06 07:22] bipin-naggarro opened #9544 "Netty giving SSL handshaking error while connecting to SNI enabled end points"
### Expected behavior
I expect Netty to successfully complete SSL handshaking and establish HTTPS connection

### Actual behavior
Netty fails during SSL handshaking

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
		<netty.version>4.1.39.Final</netty.version>

### JVM version (e.g. `java -version`)
java version "1.8.0_211"
### OS version (e.g. `

[2019-09-06 07:24] bipin-naggarro commented on #9544
Netty client is working fine with server where SNI is not enabled . But gives SSL handshaking error with server where SNI is enabled .

Please help me to fix the issue.

[2019-09-06 07:25] normanmaurer commented on #9544
Please provide the code-snippet where you setup the SslHandler.

[2019-09-06 07:34] bipin-naggarro commented on #9544
thanks @normanmaurer  for quick reply . there is other framework (Charon ) which is using Netty . I just configure HTTPS url in config file . Charon using netty is performing all the communication with HTTPS url and returns the response to application . can you please give some hint , will Charon build the SSLHandler or Netty ?

[2019-09-06 07:36] normanmaurer commented on #9544
It will be `Charon`... I suspect they not use the correct overload of `SslContext` which takes a hostname as well which is used for SNI. Please open a bug there.

They need to use this one:

https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslContext.java#L988

[2019-09-06 08:32] normanmaurer commented on #9522
@dagnir thanks a lot to confirm this! I will release the next version mid next week.

[2019-09-06 08:51] bipin-naggarro commented on #9544
@normanmaurer  thanks for your response. So you are suggesting to use **newHandler(alloc, peerHost, peerPort, startTls)** to build SSLHandler , but https end point do not have port .
URL is https://api-ts.uat.apac.client.net/ . There is no port .

Also can you please share me sample demo project that I can use to test Netty with SSLHandler you are suggesting .

[2019-09-06 08:52] normanmaurer commented on #9544
if there is no port specified in the url and its https the port is 443 as it the standard port for https.

[2019-09-06 10:09] johnou commented on #6891
@rpkim please report it to the micrometer issue tracker.

[2019-09-06 10:29] #9544 closed

[2019-09-06 10:30] normanmaurer commented on #9543
I disagree.. the user should do it as it is not clear if a hostname / ip etc should be used.

[2019-09-06 10:30] #9543 closed

[2019-09-06 12:38] normanmaurer commented on #9542
@nizarm ok cool... let me know if you get to busy and so can not finish it as I want to release the next version of netty mid next week and it would be nice to have this as well.

[2019-09-06 12:38] normanmaurer commented on #9479
@SantoshMagdum will do once I have some cycles.

[2019-09-06 22:11] Bennett-Lynch commented on #9430
@normanmaurer What are your thoughts on using `LocalServerChannel` to implement something like this?  How would that compare to Netty's HTTP/2 child channel implementation?

[2019-09-07 10:52] brucelwl opened #9549 "netty nextReceiveBufferSize bug"
I think netty's dynamic memory computing may be a bug, please see netty source code ``AdaptiveRecvByteBufAllocator.HandleImpl#record``, if ``actualReadBytes`` is 2155, the final result of var ``nextReceiveBufferSize`` should be 4196, but the reality is that it will always 8192,
the reason is that var ``index``  is reduced by one, but if judged it will continue to be subtracted by one.
please see m

[2019-09-07 20:34] normanmaurer commented on #9479
@SantoshMagdum should be fixed by https://github.com/netty/netty/pull/9550. Please verify... Also it would be cool if we could keep the host and include it in our CI infrastructure to ensure we not regress :)

[2019-09-08 09:25] duaicxx opened #9552 "NonStickyOrderedEventExecutor source reading problem"
NonStickyOrderedEventExecutor What is the NonSticky definition?

[2019-09-08 09:26] duaicxx commented on #9552
Why is it NonSticky?

[2019-09-08 13:35] johnou commented on #9552
It implies that Threads may change between execution of tasks for an EventExecutor but ordering is still guaranteed.

[2019-09-09 03:58] duaicxx commented on #9552
Does it mean that the thread and the currently executing task are non-sticky

[2019-09-09 04:06] duaicxx commented on #9552
Does the thread switch during the execution of the thread? But when creating a group, the executor can't be an order, and there is an executor inside it. How to understand it? I saw an unorder group for an implementation of the jdk default task pool. Other groups use the executor's own task pool, so other group executions have no order and unorder is ordered. My understanding is whether ordering d

[2019-09-09 07:47] #9542 closed

[2019-09-09 08:31] wilkinsona opened #9553 "HttpContentEncoder does not handle multiple Accept-Encoding headers correctly"
### Expected behavior

When a request contains multiple `Accept-Encoding` headers, their values will be treated as if they had been sent as the comma-separated values of a single `Accept-Encoding` header.

### Actual behavior

Only the first `Accept-Encoding` header is considered and all subsequent `Accept-Encoding` headers are ignored.

### Steps to reproduce

Configure an HTTP server with `HttpC

[2019-09-09 08:37] normanmaurer commented on #9553
@wilkinsona sounds like a bug... are you interested in providing a PR ?

[2019-09-09 10:16] amizurov commented on #9553
@normanmaurer  Hi, problem that we handle only first `accept-encoding` header value, also we need to consider the q-value for each, or combine to one header-value by spec https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

[2019-09-09 10:17] normanmaurer commented on #9553
@amizurov @wilkinsona  I more then happy to review PRs ... Currently I am a bit busy so I will put this on my backlog if no-one else will fix it in the meantime

[2019-09-09 10:34] amizurov commented on #9553
@normanmaurer No problem if @wilkinsona don't mind I will do a pull request soon.

[2019-09-09 11:15] SantoshMagdum commented on #9479
Thanks Norman for checking.
I took the patch and tried building using below command.
	mvn clean -DbuildDirectory=/usr/netty/BUILD -Dmaven.repo.local=/usr/netty/BUILD install

But the netty-handler was till throwing multiple errors like below -
	[ERROR] Failures:
	[ERROR]   OpenSslEngineTest>SSLEngineTest.testGetCiphersuite:2800 expected:<TLS_[AES_128_GCM]_SHA256> but was:<TLS_[CHACHA20_POLY1305]_S

[2019-09-09 11:29] wilkinsona commented on #9553
@amizurov I you have the time then please go ahead. If not, I should have some cycles later this week once we've released Spring Boot 2.2 M6.

[2019-09-09 11:51] normanmaurer commented on #9479
Hmm I didn't do anything special and it just works with the PR applied:

[code]

[code]

[code]

[2019-09-09 11:54] normanmaurer commented on #9552
@duaicxx basically the guarantee is that everything is executed in the order it was submitted but it is not guaranteed that the same Thread will process it.

[2019-09-09 11:54] #9552 closed

[2019-09-09 14:40] jbaldassari opened #9556 "SocksAuthRequest constructor occasionally throws IllegalStateException on CharsetEncoder#canEncode(CharSequence) call"
### Expected behavior
The `SockAuthRequest` constructor call always completes successfully.

### Actual behavior
Occasionally the `SocksAuthRequest` constructor will throw `IllegalStateException` when checking whether the given username and password can be encoded as `US_ASCII`.  The following stack trace is observed:

[code]

`SocksAuthRequest` declares the following static member:

[code]

It it

[2019-09-09 16:48] jbaldassari commented on #9556
I think the issue may actually be the fact that this encoder is being declared as a `static` member.  When it is used this way, there is no guarantee that the thread that initialized the class is the same thread that is performing the `canEncode` check (and actually it's very unlikely).  I think that instead of using a single static encoder, the constructor should be calling `CharsetUtil.encoder(C

[2019-09-09 16:49] normanmaurer commented on #9556
@jbaldassari good catch... this sounds like it may be the case.

[2019-09-09 17:37] jbaldassari commented on #9556
PR posted: https://github.com/netty/netty/pull/9558

I think this is my first netty PR, so please let me know if I'm missing something.  Based on the other open PRs I found, it looks like this should go against the `4.1` branch rather than `master`, but let me know if I'm supposed to open a PR against `master` as well.  Thanks!

[2019-09-09 19:08] #9556 closed

[2019-09-09 22:14] gaut2112 commented on #7239
I see this error in 4.1.39FINAL version.
 pipeline.addLast(new HttpServerCodec());
        pipeline.addLast(new HttpObjectAggregator(65536));
        pipeline.addLast(new WebSocketServerCompressionHandler());
        pipeline.addLast(new WebSocketServerProtocolHandler("/wsA", null, true));
        pipeline.addLast(new WebSocketFrameHandlerA());
        pipeline.addLast(new WebSocketServerProtocolH

[2019-09-09 22:55] gaut2112 opened #9559 "Cannot add two WebSocketServerProtocolHandler at different URIs"
Pardon my knowledge of netty
I'm trying to setup Netty (4.1.39final) to implement a web server which serves two separate WebSocket services differentiated by the URI pattern:

/wsA : service 1 ,
/wsB : service 2

initChannel method in my ChannelInitializer looks like:

    pipeline.addLast(new HttpServerCodec());
    pipeline.addLast(new HttpObjectAggregator(65536));
    pipeline.addLast(new WebSo

[2019-09-10 08:36] alvinbush commented on #8269
@SharpMan are you able to resolve this issue when using netty in Spring WebClient, I have exact the same issue with our proxy, which don't allow CONNECT for http endpoints.

[2019-09-10 08:39] normanmaurer commented on #9559
As far as I can tell this will not work... What you could do is dynamically add the handler to the pipeline depending on the URI.

[2019-09-10 16:35] alexzyp commented on #8503
Please check if $JAVA_HOME is already set. Maybe you should do this, and post the detail error messages.
[code]

[2019-09-11 06:46] #9553 closed

[2019-09-11 20:08] dagnir commented on #9522
Hi @normanmaurer just checking in to see if this fix is still on track to be released this week. Thanks!

[2019-09-11 20:11] normanmaurer commented on #9522
Yes! On my to do list for tomorrow

[2019-09-12 12:43] mrniko opened #9562 "enormous amount of FastThreadLocal instances"
### Expected behavior

FastThreadLocal instances aren't growing

### Actual behavior

FastThreadLocal instances are growing - about 550K instances

### Minimal yet complete reproducer code (or URL to code)

Heap dump https://cmoviepic.bj.bcebos.com/production%2Foom%2Fwalle_api_bj-B-01_heap.hprof.tar.gz

### Netty version

4.1.39.Final

Can anybody help to realize why it's happening?

[2019-09-13 08:03] artemkulick opened #9563 "Random ConnectionClosedException exception on client side during calling netty with simple http server."
I'm using 4.1.39 netty version.
11 java http non blocking client.

In my ChannelHandler (extends ChannelInboundHandlerAdapter) http request is received, writeAndFlush is executed and resources are freed up.

[code]

My pipeline settings:
[code]

Im trying three http clients (AsyncHttpClient based on Netty, Java 11 Http Client, Apache Http Client, Gatling)

When I increase the load RPS my http clie

[2019-09-13 08:20] gkozyryatskyy commented on #8880
@m1schka
Seems like I have the same issue. Also using kubernetes + vertx + netty.
disabled IPv6 with ```ENV JAVA_OPTS="$JAVA_OPTS -Djava.net.preferIPv4Addresses=true -Djava.net.preferIPv4Stack=true"``` but still see the issue time to time (~ once a day for now).

Any suggestions? Did you fix the issue completely?

[2019-09-13 11:29] amizurov commented on #9563
@artemkulick Hi you close connection after each request
`channelFuture.addListener(ChannelFutureListener.CLOSE);` also if you use `ctx.writeAndFlush(...)` is no need to invoke `ctx.flush()` in `channelReadComplete()`

[2019-09-13 12:10] wakedeer commented on #6956
It's just a hack, but I didn't find any elegant solutions

[2019-09-13 20:18] #9479 closed

[2019-09-14 23:11] jbaldassari commented on #5201
@caillette @jboesl I opened a PR for this if you'd care to take a look.  I tried to follow the same approach you did: https://github.com/netty/netty/pull/9564

[2019-09-15 09:56] lihao5257 opened #9567 "Netty won't load OpenSSL"
Hello ,I am putting the TLS into a RPC project. I copied the Netty example source codes and run it. But I got an exception when I used the OpenSSL .
Exception:
java.lang.IllegalArgumentException: Failed to load any of the given libraries:
 [netty_tcnative_windows_x86_64, netty_tcnative_x86_64, netty_tcnative]

### Expected behavior
should work
### Actual behavior
I followed the official guide on t

[2019-09-15 10:09] lihao5257 commented on #9567
In the official document [https://netty.io/wiki/forked-tomcat-native.html](url), there are 3 ArtifactIds present.
Because I don't want to download OpenSSl or require APR , I choosed the netty-tcnative-boringssl-static-{os_arch} to use  and followed the "How to download netty-tcnative-boringssl-static" stuctions.
Read the stuctions, and I think all I need is adding  os-maven-plugin extension and th

[2019-09-15 15:45] johnou commented on #9567
Please provide full output of java -version

I suspect you are not running x64 JVM.

[2019-09-16 06:08] songjiesdnu commented on #9562
Actual behavior is "FastThreadLocal instances aren't growing"? In my app, the actual behavior is that,  FastThreadLocal is growing bigger and bigger.

[2019-09-16 06:42] lihao5257 commented on #9567
java -version

java version "1.8.0_221"
Java(TM) SE Runtime Environment (build 1.8.0_221-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.221-b11, mixed mode)

[2019-09-16 06:46] normanmaurer commented on #9567
Please show your pom.xml

[2019-09-16 06:55] lihao5257 commented on #9567
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <parent>
        <artifactId>sofa-rpc-extension-impl</artifactId>
        <groupId>com.alipay.

[2019-09-16 06:56] normanmaurer commented on #9567
What netty version you use ?

Also you should use the latest netty-tcnative-boringssl-static version:

[code]

[2019-09-16 06:59] lihao5257 commented on #9567
netty-all-4.1.25.Final.jar

I am now trying to use the  latest netty-tcnative-boringssl-static version and confirm the result.

[2019-09-16 07:00] normanmaurer commented on #9567
also please use latest netty version (4.1.42.Final)

[2019-09-16 07:02] lihao5257 commented on #9567
OK I 'll try it.

[2019-09-16 07:10] mrniko commented on #9562
@songjiesdnu

I fixed the description.

[2019-09-16 07:14] lihao5257 commented on #9567
Bingo.
Thank you very much! @normanmaurer
netty version : netty-all-4.1.25.Final.jar
latest netty-tcnative-boringssl-static version: 2.0.25.Final

[2019-09-16 07:19] lihao5257 commented on #9567
I appreciate your help.

[2019-09-16 07:21] normanmaurer commented on #9567
So can we close this ?

[2019-09-16 07:22] lihao5257 commented on #9567
Of course. Thank you

[2019-09-16 07:22] #9567 closed

[2019-09-16 10:14] wjjboy opened #9569 "how to get the result ByteBuf of MessageToByteEncoder.encode()"
We want to save every output ByteBuf communication log to db.
How to get the result ByteBuf of MessageToByteEncoder.encode() when using `channel.writeAndFlush(data)`
thanks for all.

[2019-09-16 10:16] normanmaurer commented on #9569
Just add a `ChannelOutboundHandlerAdapter` in the pipeline before the encoder and intercept the `write(...)` by overriding the method.

[2019-09-16 10:16] #9569 closed

[2019-09-16 10:27] wjjboy opened #9570 "how to get the result ByteBuf of MessageToByteEncoder.encode() as a callback"
We want to save every output ByteBuf communication log to db.
How to get the result ByteBuf of MessageToByteEncoder.encode() when using channel.writeAndFlush(data) as a callback.
We want to get the result ByteBuf and use it with some other information at the writeAndFlush caller function to make a db record.
like the pseudo code as follows:
[code]
thanks for all.

[2019-09-16 11:06] songjiesdnu commented on #9562
@mrniko
I read some source codes of redisson, and debug it for a while. Here is what I find about how  it's happening.
1. In class `org.redisson.client.handler.ConnectionWatchdog`，when method `channelInactive(ChannelHandlerContext ctx)` is invoked, `bootstrap.connect(SocketAddress remoteAddress)` is invoked.

[2019-09-16 17:55] axeBig opened #9571 "http request smuggling, cause by obfuscating TE header"
### Expected behavior
ignore obfuscating TE header("Transfer-Encoding : chunked" vs "Transfer-Encoding: chunked")
### Actual behavior
use Transfer-Encoding[space] as Transfer-Encoding
### Steps to reproduce
1、topology: client→elb→nettyServer
2、client send a request with both  content-length and trunked-encoded[space]
3、elb ignored trunked-encoded[space], but use content-length
4、netty use trunked-

[2019-09-17 00:53] bxqgit opened #9572 "Leak while creating a new HttpPostRequestDecoder"
### Expected behavior

No leak.

### Actual behavior

[code]

### Steps to reproduce

Create a new instance of HttpPostRequestDecoder

### Minimal yet complete reproducer code (or URL to code)

[code]

### Netty version

4.1.41.Final

### JVM version (e.g. `java -version`)

openjdk version "12.0.1" 2019-04-16
OpenJDK Runtime Environment (build 12.0.1+12)
OpenJDK 64-Bit Server VM (build 12.0.1+12,

[2019-09-17 02:36] LinShunKang opened #9573 "Http2 example not work well"
### Expected behavior
receive channelInactive() event

### Actual behavior
java.io.IOException: Connection reset by peer

### Steps to reproduce
* Run io.netty.example.http2.helloworld.server.Http2Server
* Run nghttp HTTP/2 client to HTTP/2 server: `nghttp -nvu http://127.0.0.1:8080`
* Or run curl client to HTTP/2 server: `curl --http2 http://127.0.0.1:8080 -vv`

### Minimal yet complete reproduce

[2019-09-17 06:49] normanmaurer commented on #9572
Did you call `decoder.destroy()` at the end ?

[2019-09-17 10:18] switchYello opened #9574 "Unpacking causes socks5proxy init failure"
### Netty version 4.1.39

### java8

### OS version window10

[code]

  if tcp Unpacking [5 2 0 1 ] -> [5 2 0] + [1] ,
 /io/netty/handler/codec/socksx/v5/Socks5InitialRequestDecoder.java:54
will Fail

[2019-09-17 10:30] bxqgit commented on #9572
Yes!

[2019-09-17 10:38] bxqgit commented on #9572
@normanmaurer

Seems like adding `data.release();` after processing data fixes the leak. Worked fine without `data.release();` in previous versions of netty though.

[code]

[2019-09-18 07:12] nikhilvavs opened #9576 "Content gets appended to Http Method if content-length header is not set."
### Expected behavior
I have a client and a server both using netty to send and receive requests. Both of them have HttpObjectAggregators and work on the FullHttpRequest/FullHttpResponse.
If content is set, but the content-length header is not set, the request sent from the client looks as expected, but the request received by the server has the content appended to the method.

**Expected:** Metho

[2019-09-18 08:17] AlexBischof commented on #6285
@normanmaurer Do you see a way to get PR above back to life? I would also offer to help.

[2019-09-18 09:46] amizurov commented on #9571
Hi, it think the "Transfer-Encoding : chunked" header name with trailing whitespace is incorrect, but I'm not sure, maybe @slandelle can help.

[2019-09-18 09:51] normanmaurer commented on #9571
Also generally speaking I would upgrade to the latest netty version first and try to reproduce with it. The version you are using is very old.

[2019-09-18 09:58] normanmaurer commented on #9574
Yes this seems like a bug... are you interested in providing a PR for this ?

[2019-09-18 10:03] normanmaurer commented on #9573
@LinShunKang there is nothing wrong with receiving a connection reset as long as you also get a `channelInactive`. What is the problem ?

[2019-09-18 10:04] slandelle commented on #9571
can not found proof in https://greenbytes.de/tech/webdav/rfc7230.html#header.fields.

Actual source: https://tools.ietf.org/html/rfc7230#page-22):

It looks clear to me that your header name must be parsed as "Transfer-Encoding " with a trailing white space, so it's expected to not be handled as "Transfer-Encoding" by Netty (or any other solution that follows standards).

IMHO, this is a bug in yo

[2019-09-18 10:05] normanmaurer commented on #9572
@bxqgit that was a bug that was fixed as before it was possible to release multiple times. So this is expected

[2019-09-18 10:05] #9572 closed

[2019-09-18 10:06] normanmaurer commented on #9520
Closing as no response from reporter.

[2019-09-18 10:06] #9520 closed

[2019-09-18 14:10] amizurov commented on #9576
Hi, it's expected behavior  see
https://github.com/netty/netty/blob/72716be648cce725590259305e63f39f12742c7e/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectAggregator.java#L230-L242

[2019-09-18 14:37] axeBig commented on #9571
4.1.32.Final is in my project, and 4.1.41.final(https://github.com/netty/netty/blob/netty-4.1.41.Final/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectDecoder.java) is the same like ch == ':' || Character.isWhitespace(ch))

[2019-09-18 14:41] axeBig commented on #9571
some guy attack elb by both having TE[space] and CL. elb decode request by CL but netty decoded by TE[space]. this case some tail of the attack request inflect the next request(https://portswigger.net/web-security/request-smuggling).

[2019-09-18 14:46] LinShunKang commented on #9573
@normanmaurer I mean that Http2Client already send `GOAWAY` frame with `NO_ERROR (0x0)` to indicate graceful shutdown of a connection, why Netty Http2Server still throw `Connection reset by peer` exception ?

[2019-09-18 15:04] slandelle commented on #9571
Ah OK!!! Sorry, I originally didn't get it.

So I agree Netty's HttpObjectDecoder shouldn't trim header name.

I don't know why it removes this whitespace, and I couldn't find way as things have been this way since the project has a git history.

I'm in favor of removing this ` || Character.isWhitespace(ch)`.

@normanmaurer WDYT? Have you even seen legit user agents crafting HTTP headers with a wh

[2019-09-18 15:06] normanmaurer commented on #9571
@slandelle nope... Can someone just do a PR with a unit test ? I currently super busy :(

[2019-09-18 17:08] mcanlas opened #9578 "Date header quoted under CombinedHttpHeaders"
Feels similar but probably not exactly the same as #6473. The theme being overly broad treatment to all header pairs as the same.

### Expected behavior

Provide a string literal value (with a comma, per spec) to setting a `Date` header, get that value back after serialization.

### Actual behavior

Date comes back quoted.

### Steps to reproduce

- Construct `DefaultFullHttpResponse` with `single

[2019-09-19 03:37] Bi3g0 commented on #9571
**In order to fix the problem easily, I drew a topology of vulnerability principle below.**
![image](https://user-images.githubusercontent.com/18691823/65211134-3e03cd00-dad0-11e9-94a5-b9f04ea18f38.png)
**And how did elb deal with Incorrect TE**
 1）Attack request
`POST /getusers HTTP/1.1
Host: www.backend.com
Content-Length: 64
Transfer-Encoding : chunked

0

GET /hacker HTTP/1.1
Host: www.hacker.

[2019-09-19 05:09] axeBig commented on #9571
after a attemp, keep the space will colfict the validate rule in defaultHttpHeader(like header can not contain s=,;: ...), and the left body will also inflect the next request.
simple change TE[space] to other name like(Illegal-TE) will help.

by the way, we(me and @Bi3g0) are a team, can we record this on CVE

[2019-09-19 05:34] slandelle commented on #9571
It looks to me having a trailing white space in the header name is legit as per RFC7230, so IMHO, it shouldn't be renamed.
The core issue is to leave such header name as is so it's not interpreted as the trimmed version.

[2019-09-19 06:16] normanmaurer commented on #9571
yeah... @slandelle can you provide a pr ?

[2019-09-19 06:19] Bi3g0 commented on #9571
[https://tools.ietf.org/html/rfc7230#section-3.2.4](url)
`No whitespace is allowed between the header field-name and colon.  In
   the past, differences in the handling of such whitespace have led to
   security vulnerabilities in request routing and response handling.  A
   server MUST reject any received request message that contains
   whitespace between a header field-name and colon with a res

[2019-09-19 06:21] normanmaurer commented on #9571
@Bi3g0 so what you think we should do ? I'm a bit confused atm :/

[2019-09-19 06:46] Bi3g0 commented on #9571
@normanmaurer
Hi,
I think Netty can identify `TE[space]: field value` as a Incorrect header or a custom header.

1）Netty can identify `TE[space]: field value`  as a custom header, Netty should sperate requests by CL and forward the whole header TE[space]: value, like elb.
https://github.com/netty/netty/issues/9571#issuecomment-532951379

2）Or Netty can identify`TE[space]: field value` as a Incorre

[2019-09-19 06:49] slandelle commented on #9571
@Bi3g0 I stand corrected, I wasn’t aware of this update :P.
So the thing is the expected behavior depends on if such header happens in request or response. Maybe leaving as is in the parser and handling in HttpHeaders validation would do the trick? The main thing is to be able to automatically reply with 400 for requests, not just silently ditch invalid header.
Will try to have a look later today.

[2019-09-19 08:57] switchYello commented on #9574
@normanmaurer
Very happy to do this，Already pull request。
Thanks。

[2019-09-19 09:14] trustin commented on #9571
We have a property (DcoderResult?) that indicates whether the decoding was successful or not IIRC. How about using that, instead of automatically responding with 400? That way, a user could choose to 1) send a custom 400 response page, 2) just disconnect, or 3) do something interesting (like looking into the bad headers).

[2019-09-19 11:16] Bi3g0 commented on #9571
I probably understand what you mean. This is a nice alternative with more options.  I think netty preferably has a default option to handle `incorrect TE`, such as forwarding the `incorrect TE` to the backend or  automatically returning 400,  because not all netty users can use the property (DcoderResult?) correctly and safely.

[2019-09-19 11:17] normanmaurer commented on #9571
I agree with @trustin ... I think we should just send a "InvalidMessage" down the pipeline... @slandelle WDYT ?

[2019-09-19 11:44] slandelle commented on #9571
Do you mean having a special MalformedHttpHeaderException passed through DecoderResult?
If so, lgtm.

[2019-09-19 11:46] normanmaurer commented on #9571
Yep something like this

[2019-09-19 17:03] normanmaurer commented on #9571
@slandelle can you take this one ?

[2019-09-19 17:36] slandelle commented on #9571
@normanmaurer Yes if you can wait a few days.

[2019-09-20 00:30] nikhilvavs commented on #9576
Hi @sprsquish ,
The problem is not that content length header is being set. It is that the content gets appended to the method type.
So, the method type becomes **coGET** instead of **GET**

[2019-09-20 02:35] Liyixin95 commented on #9562
Why not make the field `state ` static?

[2019-09-20 06:07] normanmaurer commented on #9508
Like explained in https://github.com/netty/netty/pull/9533#issuecomment-529390319 there are "better" ways to handle this.

[2019-09-20 06:07] #9508 closed

[2019-09-20 07:10] normanmaurer commented on #9571
@trustin @slandelle @axeBig @Bi3g0 please check https://github.com/netty/netty/pull/9585

[2019-09-20 07:50] mrniko commented on #9562
Fixed in Redisson lib

[2019-09-20 07:50] #9562 closed

[2019-09-20 07:54] normanmaurer commented on #9562
@mrniko can you link the commit ?

[2019-09-20 08:16] #9574 closed

[2019-09-20 08:25] mrniko commented on #9562
@normanmaurer

Sure. Here it is https://github.com/redisson/redisson/commit/3a47ed40c0e088937c839111ee062861bc0d21ec

[2019-09-20 09:28] amizurov commented on #9576
Oh, sorry missed `coGET`, could you please provide minimal reproducer, I wrote simple example and everything work properly if you not set manually `coGET` method.

[2019-09-20 13:36] Bi3g0 commented on #9571
We have tested it and the problem has been fixed.
When I sent an `incorrect TE`, netty returned 400 and disconnected the TCP connection.

[2019-09-20 13:43] normanmaurer commented on #9571
So just to clarify... with the proposed PR all works as expected?

[2019-09-20 13:57] axeBig commented on #9571
when decode fail,  we user decide what to do. looks fine to me.

[2019-09-20 14:29] Bi3g0 commented on #9571
We just did a test and the problem has been fixed. When I sent an `incorrect TE`, netty returned 400. But by default netty will not disconnect the TCP connection, which may cause other problems, such as denial of service.

When users of netty do not deal with 400, other requests within TCP connections will not be responded to, or may consume additional network connections from servers.

https://gi

[2019-09-20 14:33] slandelle commented on #9571
IMHO, Netty is a low level IO framework, not a web framework and it's the user's responsibility to deal with this situation.

[2019-09-20 14:44] Bi3g0 commented on #9571
Okay, then there's no problem.

[2019-09-20 15:44] #9571 closed

[2019-09-22 00:18] yay commented on #9016
Still an issue with Netty 4.1.39.Final used by latest vertx.

[2019-09-22 05:33] normanmaurer commented on #9016
We recently fixed another one as part of 4.1.41.Final

[2019-09-23 02:26] zhanfffmmm opened #9594 "the memory size of the channel increases When the channel is closed and connected again"
### Expected behavior

the memory size of the channel should remain unchanged When the channel is closed and connected again

### Actual behavior

the memory size of the channel increases When the channel is closed and connected again

### Steps to reproduce
the client  connect , i put the channel to map,
when the  client  close,i remove the channel for map,
i found this channel memory size to inc

[2019-09-23 06:56] brucelwl commented on #9549
@johnou @normanmaurer normanmaurer Why is no one confirming this issue?

[2019-09-23 07:03] normanmaurer commented on #9594
In Netty it is not possible to re-connect a Channel. Once it is closed it will remain closed, so I am not sure what you do... You will need to provide more details and a reproducer.

[2019-09-23 07:13] normanmaurer commented on #9570
please use stack overflow. This is an issue tracker

[2019-09-23 07:13] #9570 closed

[2019-09-23 07:50] johnou commented on #9549
@brucelwl to best honest I don't think the unit test is up to snuff, plus waiting for feedback from @trustin

[2019-09-23 08:38] zhanfffmmm commented on #9594
step 1: the server to start and the client to connect, this channel   memory size is 3255192
step 2: step 1 the client  close , and then the other client to connect to server, this channel memory size is 3826360

## test java tool
package com.zb.objectsizeof;

import java.lang.instrument.Instrumentation;
import java.lang.reflect.Array;
import java.lang.reflect.Field;
import java.lang.reflect.Modif

[2019-09-23 14:12] Kevinlyz commented on #7319
So did I, have you find the reason why this appear?

[2019-09-23 14:24] bobmcwhirter opened #9597 "codec-dns not usable in an mDNS scenario."
### Expected behavior

A pipeline containing both Question and Response decoders should work.  If you write your own mDNS responder, you're connected to to a multicast socket, and therefore see all traffic, both questions and responses.

### Actual behavior

The current implementation assumes that your pipeline only wants to consume questions and produce responses, xor ask questions and consume re

[2019-09-23 17:05] localstorm commented on #9248
We have nailed it.

So, the long story short, it doesn't have anything to do with Netty per se, but it's interesting enough, so I wanted to share it here.

So we traced these huge pauses back to JVM parameter -Xlog:safepoint. What happens there is that this parameter was making JVM print to STDOUT all GC-related info. On a surface of it, it doesn't cause any issue, but in our prod stacks we have S

[2019-09-23 17:05] #9248 closed

[2019-09-24 06:58] normanmaurer commented on #9563
Like @amizurov said.  Please address his comment and re-open if you still think there is an issue

[2019-09-24 06:58] #9563 closed

[2019-09-24 07:00] normanmaurer commented on #9430
@Bennett-Lynch sorry I did not have much time to think about all of this. That said I am leaning in the direction of only doing "child channels" if the protocol has these semantics (like streams etc).

[2019-09-25 06:55] abhishekagarwal87 commented on #8025
was this ever fixed? Linked PR is closed and doesn't have any commits.

[2019-09-25 09:21] doom369 commented on #8117
Haven't seen this error for a year. So closing.

[2019-09-25 09:21] #8117 closed

[2019-09-25 10:48] lutovich commented on #8398
Fixed in https://github.com/netty/netty/pull/9226.

[2019-09-25 10:48] #8398 closed

[2019-09-25 11:02] gfkobe commented on #8644
The code when the explain added is absolutely different from v4.1.Checkout that version then you will know everything.

[2019-09-25 14:45] boaks opened #9603 "FixedChannelPool close(Async) still blocks after rarely "An event executor terminated with non-empty task queue""
Since version 4.1.25 I observed in 4.1.26, 4.1.39, and 4.1.41, that using a
`FixedChannelPool` on the client side causes trouble, when it gets closed. That occurs randomly, if my test repeats to open and close connections. The same tests, but using `SimpleChannelPool` works proper (as expected by me).

The effect is reported with:

and after that, stopping the "groups" on shutdown hangs always.

I

[2019-09-25 14:53] boaks opened #9604 "Difference between FixedChannelPool and SimpleChannelPool"
Caused by my issue #9603 i try to understand the consequences of using `SimpleChannelPool` instead of a `FixedChannelPool`  (with `maxConnections` set to 1).

According the javadoc, `SimpleChannelPool` acquire

So, what does "healthy" mean? In which cases would I get an additional channel, if I use `SimpleChannelPool` instead of `FixedChannelPool`  (with `maxConnections` set to 1)?

[2019-09-25 18:40] jensgram commented on #8269
@alvinbush I ran into the same issue where a back-end system did not support the HTTP CONNECT verb (405.) The following hack appears to work:

[code]

[2019-09-25 18:47] Ravipatel401 commented on #7319
Please share Configuration of system and Library version and JAVAC version

[2019-09-25 21:43] hyperxpro commented on #3559
Same issue here too.

[2019-09-26 10:43] dcalap opened #9607 "Leak sending huge amount of x-protobuf (byte[]) in a request to an http controller"
### Expected behavior
When sending http requests to a Controller with huge data, no memory leak should happen.

### Actual behavior
When sending a huge amount of data as `application/x-protobuf` to a `@Controller` a memory leak happens and a log trace appears.

### Steps to reproduce
All of this has been tested in Linux (Ubuntu)
- Clone this project https://github.com/dcalap/micronaut-netty-leak-p

[2019-09-26 11:24] normanmaurer commented on #9607
This means that micronout not correctly release all buffers. You will need to open an issue there.

[2019-09-26 11:24] #9607 closed

[2019-09-26 11:41] marcosflobo commented on #9607
@normanmaurer just for me to understand, why are you so sure that it's micronaut's problem and not netty's problem?

[2019-09-26 12:01] normanmaurer commented on #9607
Because it looks like we read something in the buffer and then dispatched it to the pipeline.

[2019-09-26 12:05] marcosflobo commented on #9607
@normanmaurer thanks for your quick answer, but not sure if I understand correctly.

- With "we" you mean Netty?
- What is red in the buffer?

Thanks!

[2019-09-26 12:35] carryxyh opened #9608 "ArrayIndexOutOfBoundsException in Recycler"
### Exception

we just call like:  `channel.writeAndFlush(request);`, then exception occurs

can someone help to check if this has bean fixed at higher version?

[code]

### Netty version

4.1.7.Final

[2019-09-26 12:45] carryxyh commented on #9608
occurs twice. Hasn't find a way to reproduce it...

[2019-09-26 16:54] dcalap commented on #9607
Micronaut guys addressed us to netty. If you can check the referenced issue to see if maybe is netty stuff or you can talk to each other it would be great :) Thanks!

[2019-09-26 18:18] bobmcwhirter commented on #9597
fwiw, "working" variant of DNS codecs built out of band:

https://github.com/yokelhost/yokelhost-java

[2019-09-26 19:53] #9608 closed

[2019-09-27 06:33] marcosflobo commented on #9607
@normanmaurer I found more similar cases:
- https://github.com/reactor/reactor-netty/issues/422
- https://github.com/netty/netty/issues/9243

[2019-09-27 06:38] normanmaurer commented on #9607
@marcosflobo please run with `-Dio.netty.leakDetection.level=paranoid` and report back the logs.

[2019-09-27 06:38] marcosflobo commented on #9607
@normanmaurer here https://github.com/micronaut-projects/micronaut-core/issues/2158#issuecomment-535545590 you can find the resultant stack trace for setting `-Dio.netty.leakDetection.level=paranoid`

[2019-09-27 06:39] marcosflobo commented on #9607
[code]

[2019-09-27 06:42] normanmaurer commented on #9607
@dcalap @marcosflobo the log is truncated (as noted at the end). Please use a higher "io.netty.leakDetection.targetRecords" setting and report back. Something like `-Dio.netty.leakDetection.targetRecords=32`.

[2019-09-27 07:59] #9549 closed

[2019-09-27 08:16] normanmaurer commented on #9603
@boaks can you provide a test case ?

[2019-09-27 08:47] boaks commented on #9603
What I have, are test-cases within my open-source project [Californium - netty close issue](https://github.com/eclipse/californium/tree/netty_close_issue). The module "element-connector-tcp" contains unit test. The "TcpConnectorTest" is configured to repeat the 24 tests up to 100 times (2400 test in all). "On my machine" it hangs after 100 to 500.

What may get harder would be, to provide a isolat

[2019-09-27 08:53] abergmann commented on #9571
[CVE-2019-16869](https://nvd.nist.gov/vuln/detail/CVE-2019-16869) was assigned to this issue.

[2019-09-27 09:04] zhanfffmmm commented on #9594
Is there a problem with my calculation? @normanmaurer
i need to save the channel in my project. i hope can you help me?
thanks

[2019-09-27 09:06] normanmaurer commented on #9594
@zhanfffmmm sorry I am quite busy atm so did not have time yet to check. That said I would suggest taking heap-dumps and using some heap-dump analyzer to understand how much memory is used by an instance of a class.

[2019-09-27 10:13] dcalap commented on #9607
Here they are:

`[36m10:10:38.593[0;39m [1;30m[main][0;39m [34mINFO [0;39m [35mio.micronaut.runtime.Micronaut[0;39m - Startup completed in 1354ms. Server Running: http://562d5db8716d:8080
[36m10:11:03.041[0;39m [1;30m[nioEventLoopGroup-1-2][0;39m [1;31mERROR[0;39m [35mio.netty.util.ResourceLeakDetector[0;39m - LEAK: ByteBuf.release() was not called before it's garbage-collected. Se

[2019-09-27 10:22] normanmaurer commented on #9607
@dcalap from this log it looks like `http-streams-codec-body-publisher` did not release the message probably. Which I think is part of micronaut .

[2019-09-27 10:41] dcalap commented on #9607
Ok, reported (https://github.com/micronaut-projects/micronaut-core/issues/2158#issuecomment-535885732), let's see if they can fix it. Thanks!

[2019-09-27 13:02] sunweaver commented on #9571
@abergmann: I am currently investigating this CVE for Debian LTS, I found another location in the code that looks pretty similar. Does it need that fix, too?
https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/multipart/HttpPostMultipartRequestDecoder.java#L1451

[2019-09-27 17:06] njhill commented on #8278
@vkostyukov would be interesting to know if #9616 resolves this (assuming it still happens for you).

[2019-09-27 20:48] ddillard commented on #9571
Can someone explain why the [CVE](https://nvd.nist.gov/vuln/detail/CVE-2019-16869) description says this affects versions before 4.1.42, but the CPE says it affects versions before 4.1.36???

[2019-09-29 02:34] yzh1127116449 opened #9620 "accidental IndexOutOfBoundsException"
### Expected behavior
When receiving data sent by the client, occasionally there are exceptions: IndexOutOfBoundsException throw, this was not real.  I am very confused, I hope the technical masters can help me analyze.Thank you very much!  This is my email: yzh_jobs@163.com looking forward to your reply!
### Actual behavior
java.lang.IndexOutOfBoundsException: index: 0, length: 1 (expected: range

[2019-09-29 09:12] lanxia opened #9622 "How to release pooled direct buffer when it doesn't enter in channel pipline?"
We built up a very sophisticated proxy based on Netty. Considering the performance issue, we using pooled direct buffer to store user request and corresponding response. Unfortunately we have a memory leak and we hunt it for months. And finally we found it may be caused by this scenario:
when the request or response is too large, we will set channel.auto_read to false. And if the connection is los

[2019-09-29 14:20] johnou commented on #4958
@rkapsi are you using the OPENSSL_REFCNT ssl provider in production? I'm currently trying to wrap my head around the usage eg. every call to io.netty.handler.ssl.SslContext#newEngine(io.netty.buffer.ByteBufAllocator) must be matched with releasing it via io.netty.util.ReferenceCountUtil#release(java.lang.Object) or is it enough just to release the io.netty.handler.ssl.SslContext? equally from a cl

[2019-09-29 18:18] njhill commented on #9620
@yzh1127116449 there have been many changes and fixes to this part of the code since the version you are using (4.1.27.Final). Could you first update to the latest release (4.1.42.Final) and report back if the problem reoccurs?

[2019-09-30 00:43] njhill commented on #3812
This looks like the bug that was fixed in #9369.

[2019-09-30 00:43] #3812 closed

[2019-09-30 10:23] rkapsi commented on #4958
@johnou we do. In our case we match `newEngine(...)` to one `release(...)` upon the client's disconnect.

Management of the `SslContext` follows a similar pattern but there is a little twist. We try to re-use an `SslContext` instance for as long as possible (with constraints) by making use of a (heap) caching layer. The flow looks about like this:

A client connects and we go thru the SNI flow. Th

[2019-09-30 12:52] johnou commented on #4958
@rkapsi perfect, thanks! I am currently investigating implementing it for our server application as we have thousands and thousands of concurrent long lived SSL connections.. at first glance it looks like I don't even need to track the engine as releasing it is already taken care of here io.netty.handler.ssl.SslHandler#handlerRemoved0 :grinning:

[2019-09-30 13:29] rkapsi commented on #4958
Yea, we do something like this:

[code]

[2019-10-01 02:57] kdubb opened #9627 "How can we close gap on client performance vs blocking sockets?"
[pgjdbc-ng](https://github.com/impossibl/pgjdbc-ng) uses Netty in a client environment and when we compare performance with that of [pgjdbc](https://github.com/pgjdbc/pgjdbc) it can be any where from 100% slower (on localhost) to 15% slower (on any remote host).

After extensive investigation and many failed implementations, we're at a dead end with making it any faster using the currently provide

[2019-10-01 04:51] njhill commented on #4958
See also #9626

[2019-10-01 07:38] johnou commented on #9627
@kdubb how do you compare performance? do you have benchmarks that you can share?

[2019-10-01 08:59] marcosflobo commented on #9607
@normanmaurer at the end, people from Micronaut detected the problem and they fixed https://github.com/micronaut-projects/micronaut-core/issues/2158#issuecomment-536601494

Thanks for your time!

[2019-10-01 13:54] thomas-henley opened #9628 "Netty “cannot read uncompressed buffer” when decompressing certain zipped files"
### Expected behavior
Zip archives should transfer and decompress without issue.
### Actual behavior
If the archive contains a .tla file larger than ~300kb, during decompression this `DeflateDecoder` error occurs and the transfer fails.
[code]
### Steps to reproduce
Transfer the following file from one machine to another (transferring from one VM to another will hit the error, "transferring" on th

[2019-10-01 15:24] kdubb commented on #9627
For anybody examining the code:

### Bootstrap
The basic creation via `Bootstrap` is here:
https://github.com/impossibl/pgjdbc-ng/blob/735348296c148f93ad89f5007bdeca15965963f1/driver/src/main/java/com/impossibl/postgres/protocol/v30/ServerConnectionFactory.java#L289

SSL is dynamically added here
https://github.com/impossibl/pgjdbc-ng/blob/735348296c148f93ad89f5007bdeca15965963f1/driver/src/main/j

[2019-10-01 16:14] amizurov commented on #9628
Hi @thomas-henley could you please provide some reproducer. I'm interesting in how you split the content to continuation chain frames (BinaryFrame(not final),.. Continuation(not final).. Continuation(final)) and also `Sec-WebSocket_Extensions` header value.

[2019-10-02 06:28] kdubb commented on #9627
I've created a simple test project that displays the same issue. ehttps://github.com/impossibl/netty-test

`TestServer` is a simple server that responds to requests by sending a requested amount of data back to the client with an id. `TestClient` uses Netty to generate & send requests and wait for responses like `pgjdbc-ng` does.  `TestBlockingClient` uses a `Socket` to send the request then does

[2019-10-02 07:21] kukeap opened #9630 "Weird LEAK when many requests of application/json and multipart/form-data"
### Expected behavior
No LEAK

### Actual behavior
after many "Content-Type: application/json;charset=UTF-8" requests, and one or a very few "Content-Type: multipart/form-data; boundary= xxxxx" requests, there is LEAK as below :

(note: but no LEAK if just run one of that two, for example, only run many "Content-Type: application/json;charset=UTF-8" requests, there is no LEAK. only run many many "

[2019-10-02 12:18] mrniko opened #9632 "DNS resolver doesn't work some times"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.34.Final

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

Here the output:
[code]

[2019-10-02 13:35] hyperxpro opened #9633 "When Will Netty HTTP/2 Multiplexing Become Stable?"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
Netty 4.1.42.Final

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

Http2MultiplexHandler is still having @UnstableApi Annotation. When will Http2MultiplexHandler become Stable? Can I use Http2MultiplexHandler in Production Syste

[2019-10-02 16:46] bxqgit commented on #8439
Hi all and @normanmaurer in particular!
I have some questions :)

I may be wrong, but as far as I understand, the whole 'Reactive/Event Loop' thing, and *Netty* in particular, was invented as an answer to the *C10K+* problem. It has obvious drawbacks, as all your code now becomes *Async*, with ugly callbacks, stack traces, and therefore hard to maintain and to reason about.

*Go*'s language with g

[2019-10-02 17:00] lukehutch commented on #8439
My understanding after looking into this (I am not an expert) is that:

1. Most code will port very easily to fibers by just instantiating a fiber pool rather than a thread pool, and nonblocking async code should perform very well with this simple change.
2. Currently object monitors (synchronized locks) cannot yield properly, which can create a scalability issue, but none of Netty should use them

[2019-10-02 17:02] dziemba opened #9634 "DNS Resolver leaking direct memory"
### Expected behavior

DNS resolver does not leak direct memory when buffers are freed correctly.

### Actual behavior

Memory is leaked, JVM runs out of direct memory.

[code]
full stacktrace: https://gist.github.com/dziemba/ffeb8f2c3b131a74c042746151ac05c0

### Steps to reproduce

- Use `DnsNameResolver.resolveAll` to query SRV records for a name that contains a lot of answers (e.g. `hugedns.tes

[2019-10-02 18:19] bxqgit commented on #8439
@lukehutch Thanks for your opinion. Though you've answered to a different set of questions: "Can I use *Loom* right now in September 2019?", and "Will I be able to use my *Async* code and *Netty*, but also use *Fibers* and *Continuations* advatages?" , and "What can I do right now if I want to write *Sync* code that works with *C10K+*?" :)

Right now, I'm using *Netty* and my *Async* code works ju

[2019-10-02 18:43] lukehutch commented on #8439
I think I jumped ahead and answered the questions in your second message rather than the first :) It is not possible under Loom to magically turn sync code into async code. You need something like async/await to do that. Java does not support this, but it probably will *after* Loom is available (async/await is a non-goal for Loom currently). But Kotlin supports async/await on the JVM already, toda

[2019-10-02 18:44] njhill commented on #9634
@dziemba could you also try running it with `-Dio.netty.leakDetection.level=paranoid`?

[2019-10-02 20:21] njhill commented on #9634
@normanmaurer I think the problem might be here: https://github.com/netty/netty/blob/68673b652e422df6db462afb8c8f3ce9413c5c90/resolver-dns/src/main/java/io/netty/resolver/dns/DnsNameResolver.java#L1219

Unless I'm missing something, it doesn't look like there's any release corresponding to this retain in the later callbacks. Also it would in any case be better to replace this line with just `msg =

[2019-10-02 20:42] bxqgit commented on #8439
@lukehutch
I think that the subject we are talking about is enough difficult and it looks to me that we really differently understand how things work :)

So, as far as I understand:

0. **Sync** code is better than **Async**. **Reactive/Event Loop** model is complicated and is kinda ad-hoc solution to the **C10K+** problem. My personal preference would be to write plain straight simple **Sync** co

[2019-10-03 05:14] lukehutch commented on #8439
The exam code snippet you gave *is* async/await code. You apparently just don't have to use the keywords for async/await in Go, which is of course ideal.

Read up on CPS (Continuation Passing Style). This is semantically what is going on under the hood of async/await, although with fibers, this can be accomplished using a yield (which is really the same thing as cooperative multitasking) -- the co

[2019-10-03 12:43] dziemba commented on #9634
@njhill Here's a complete debug log with paranoid leak detection:

https://gist.github.com/dziemba/b55e1a5bea461d9ac6114cc0ae74b078

[2019-10-03 15:11] TristanPerry commented on #9633
`@UnstableApi` is on pretty much every class in the http2 codec (on `4.1` and `master` branches). But despite its name, it doesn't mean that it's not production ready.

YMMV but from my experience, `Http2MultiplexHandler` is fine to use in production.

In terms of when the annotation will be removed, I thought I read that it would be removed in Netty 5 but I can't find that now. https://github.com

[2019-10-04 07:18] sarveshtamba opened #9635 "Platform support for netty/netty on PowerPC64LE"
Hi,

I am trying to build/install opentracing-contrib/java-spring-jaeger on PPC64LE architecture with Red Hat Enterprise Linux 8.0, using the maven command `./mvnw clean install`.

However facing the below issues while loading library for PPC64LE.

[code]

Is there any way we can build the particular library for PPC64LE and use that in the build to proceed?

[2019-10-04 09:32] bxqgit commented on #8439
@lukehutch

1. The code I've written is not **Go**. It's **Java** using **Loom**.
2. I'm not sure what is 'async/await code without async/await keywords' you're talking about.
3. I think the correct term to talk about would be **Green threads**.
4. **Loom** brings **Green threads** to **Java**.
5. **Go** has **Green threads** as **goroutines**.
6. There're at least **two** approaches of bringing *

[2019-10-04 10:38] chengenzhao commented on #8439
‘async/await code without async/await keywords’
Is it some thing like Vert.x 4 doing?
from
`await webClient.send();`
to
`webClient.send().await();`
which doesn't require user to use await and async key words

[2019-10-04 14:29] chengenzhao commented on #8439
Kotlin is using coroutine scope way
Like in Vert.x
[code]
For Loom
[code]
The default dispatcher will dispatch the callback function to original thread which is eventloop in Vert.x, but still, we need await function even we don't use await key word

but also, Loom allows users to use Fork&Join Pool
Fiber == Continuation + Scheduler(dispatch to Fork&Join Pool)
so Vert.x could provide Fiber based wo

[2019-10-04 14:54] lukehutch commented on #8439
Not sure if I'm just taking troll bait, but why would Netty be doomed, whether or not it runs better on Loom than threads? It's an important library. If you don't like the API, use something else. If you simply don't like callbacks (I don't either), then as I mentioned earlier, use Kotlin coroutines or EA Async today.

[2019-10-04 18:58] carl-mastrangelo opened #9636 "Http2 Hang with AbstractHttp2StreamChannel"
### Netty version
4.1.42-Final

I am working on upgrading to Netty 4.1.42 from 4.1.27, and noticed a bug where HTTP/2 streams will sometimes hang.   I am pretty close to the bug, but wanted to get a second set of eyes on it.   We (Netflix/Zuul) are using the `Http2MultiplexCodecBuilder` to do Http/1.1 to Http2 connection upgrades.   When one of the H2 child channels tries to write a lot of data (>

[2019-10-04 21:26] carl-mastrangelo commented on #9636
After some more debugging, I think I know the change that caused this:  https://github.com/netty/netty/pull/9254 or https://github.com/netty/netty/pull/9235

One of those changes made Http2MultiplexCodec override `channelWritabilityChanged`, which prevents the parent class `Http2ConnectionHandler` method, prevents the `encoder.flowController()` writability from getting updated.   I think the child

[2019-10-05 08:03] hyperxpro commented on #9633
Thanks!

[2019-10-05 08:03] hyperxpro commented on #9633
Thanks!

[2019-10-05 08:03] #9633 closed

[2019-10-05 11:59] SteNicholas opened #9637 "ByteToMessageDecoder Optimization"
Netty provides a convenient decoding tool class ByteToMessageDecoder, this class has accumulate bulk unpacking capability, can read bytes from the socket as much as possible, and then synchronously call the decode method to decode the business object. And compose a List. Finally, the traversal traverses the List and submits it to ChannelPipeline for processing. Here we made a small change, as show

[2019-10-07 06:41] bxqgit commented on #8439
@chengenzhao
So, considering what you've just said, does the introduction of **green threads** into **Java** via project **Loom** makes **Netty** obsolete? If one has **green threads**, why would one write **Async** code using **Netty**, if he could write plain simple **Sync** code?

[2019-10-07 06:53] slandelle commented on #8439
@bxqgit No it doesn't. Green threads will help implement different and more efficient APIs than what's currently possible in Java. And you can be sure Netty will provide one once Loom is production ready.
But you'll still need an underlying non-blocking IO framework that plugs efficiently on OS primitives such as epoll, period.

[2019-10-07 06:57] bxqgit commented on #8439
@lukehutch
It's more a philosophical question than a practical one. Looks like you don't follow the whole chain of logical conclusions. You continue argue with individual statements, but don't see the whole picture of why **Netty** may be doomed and become obsolete in the near future, considering emergence of project **Loom**.

Kotlin's coroutines and other async/await libraries have all the downs

[2019-10-07 07:06] bxqgit commented on #8439
@slandelle
Looks to me that OS integration and interaction with **epoll/kqueue** - all of that is one of the main parts of project **Loom**. You will be able to write **Sync** code within **Fibers**, and JVM will use epoll/kqueue and **Async** **IO** underneath. Just like now you can do this with **Goroutines**.

[2019-10-07 07:12] bxqgit commented on #8439
Yeah, this probably mean a completely new API, fully **Sync**, nothing in common with the current one. Looks more like a new project, **Loometty** ;)

[2019-10-07 10:39] normanmaurer commented on #9637
@SteNicholas can you open a PR against `ByteToMessageDecoder` with the changes? Seems like `AbstractBatchDecoder` is mostly identically here so maybe we could just modify `ByteToMessageDecoder` directly.

[2019-10-07 10:43] normanmaurer commented on #9636
@carl-mastrangelo this sounds about right... Can you ope a PR ?

That said I think you should switch to use `Http2FrameCodec` + `Http2MultiplexHandler` :) See https://netty.io/news/2019/06/28/4-1-37-Final.html

[2019-10-07 10:58] hyperxpro opened #9638 "How to Specify SecureRandom in SslContext?"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.42.Final
### JVM version (e.g. `java -version`)
openjdk version "11.0.4" 2019-07-16 LTS
### OS version (e.g. `uname -a`)
Windows 10 Pro x64

I'm looking for way to integrate custom SecureRandom in SslContext of Netty but unable to find anyway. Can any

[2019-10-07 11:18] slandelle commented on #9638
AFAIK, providing your own SecureRandom would only make sense for JDK based SslContext implementation and not for OpenSSL based one.
Currently, SslContextBuilder is very generic and doesn't take parameters that are specific to a given implementation.
The only way would be to build your own `java.net.ssl.SSLContext` and pass your SecureRandom to `init` and then wrap into Netty's `JdkSslContext`.

[2019-10-07 11:21] hyperxpro commented on #9638
If I warp SSLContext to Netty JdkSslContext then I will lose OpenSSL Performance Benefits. Is my understanding correct?

[2019-10-07 11:29] sbstnc commented on #9571
@ddillard The description is correct. The bugfix is included in 4.1.42. See: https://github.com/netty/netty/commit/39cafcb05c99f2aa9fce7e6597664c9ed6a63a95

[2019-10-07 11:33] slandelle commented on #9638
I think @normanmaurer would agree this can be closed and such questions are better asked on StackOverFlow than on this bug tracker.

[2019-10-07 11:38] slandelle commented on #9571
Looks like CVE is incorrect and reports fixed in 4.1.36.

<img width="844" alt="cve" src="https://user-images.githubusercontent.com/849197/66308542-adb6ec00-e907-11e9-88b4-fafc099b6d1f.png">

[2019-10-07 11:50] normanmaurer commented on #9638
As @slandelle said... Closing

[2019-10-07 11:50] #9638 closed

[2019-10-07 12:43] normanmaurer commented on #9634
@njhill @dziemba imho the retain() is correct here. I will need to look into this in more detail.

[2019-10-07 13:33] hyperxpro commented on #9638
TBH, Support is really rude here. Never mind.

[2019-10-07 15:45] Tiller commented on #8285
@johnou
@normanmaurer
Could we re-open the ticket as the stack trace has been provided (and that I have the same (or very similar) stack trace)

netty: 4.1.39
reactor-netty: 0.9.0.RC1
reactor: 3.3.0.RC1
spring-boot: 2.2.0.M6

Maybe the issue should be opened in https://github.com/reactor/reactor-netty ?

[2019-10-07 15:48] normanmaurer commented on #8285
@Tiller yes please open in reactor-netty as this is caused by `Http2StreamBridgeHandler` that creates the request.

[2019-10-07 15:49] Tiller commented on #8285
@johnou @normanmaurer
Can we re-open the ticket as the stack trace was provided?

I ran into the same stack (or at least very similar)

Netty: 4.1.39
Reactor-netty: 0.9.0.RC1
Spring-boot: 2.2.0.M6
Reactor: 3.3.0.RC1

Maybe the ticket should be at https://github.com/reactor/reactor-netty ?

[2019-10-07 15:49] Tiller commented on #8285
@johnou @normanmaurer
Can we re-open the ticket as the stack trace was provided?

I ran into the same stack (or at least very similar)

Netty: 4.1.39
Reactor-netty: 0.9.0.RC1
Spring-boot: 2.2.0.M6
Reactor: 3.3.0.RC1

Maybe the ticket should be at https://github.com/reactor/reactor-netty ?

[2019-10-07 15:49] Tiller commented on #8285
@johnou @normanmaurer
Can we re-open the ticket as the stack trace was provided?

I ran into the same stack (or at least very similar)

Netty: 4.1.39
Reactor-netty: 0.9.0.RC1
Spring-boot: 2.2.0.M6
Reactor: 3.3.0.RC1

Maybe the ticket should be at https://github.com/reactor/reactor-netty ?

[2019-10-07 16:00] mosesn commented on #8439
@bxqgit I'm not sure what you're trying to achieve here–it feels like you've derailed a useful issue thread.  Most of the hard work of Netty is in protocol integrations, and making network stuff work properly.  The Promise API is an implementation detail, compared to the rest of what's in Netty.

[2019-10-07 17:37] arushi315 commented on #6125
@marfago @Scottmitch @igor-dmitriev @normanmaurer   I am seeing a similar stack trace when I have netty leak detection set to PARANOID in my load test.
I am using latest netty version 4.1.42.Final and littleproxy from https://github.com/adamfisk/LittleProxy

Here is the stacktrace:

Recent access records:
#1:
	io.netty.handler.codec.http.DefaultHttpContent.release(DefaultHttpContent.java:94)
	io.n

[2019-10-07 20:48] prakash-mannikeri commented on #5890
jdk 1.8.0_102 - worked fine for me

[2019-10-08 05:42] njhill commented on #9634
@normanmaurer apologies I was kind of conflating two different observations. I agree the retain() as currently stands is correct, it could just be replaced by `msg = null` as a small optimization (this is separate to the problem at hand). My other point was that there may not always be a corresponding release() but now agree that's not what's happening in this case.

I looked a bit closer and thin

[2019-10-08 06:49] carryxyh opened #9640 "NPE in Recycler"
### Behavior

[code]

NPE occurs when use `writeAndFlush`.

[2019-10-08 06:51] carryxyh commented on #9640
![image](https://user-images.githubusercontent.com/12047600/66373325-fbe8ef80-e9da-11e9-8e65-635610317ed9.png)

Root cause is `element.recycleId`, the `element` is null.

[2019-10-08 06:58] slandelle commented on #9640
Netty 4.1.7 is super old (January 2017), so there's a very good chance your issue has been fixed since then.
You should first upgrade to latest 4.1.42 and then report again if you still have an issue.

[2019-10-08 07:17] carryxyh commented on #9640
Hi, indeed, as you said, 4.1.7 is an older version. But I checked the commit record for Recycler after 2017, and no related commit is related to this issue.

Just a few days ago, we also had another exception about Recycler (https://github.com/netty/netty/issues/9608). It seems that Recycler's problem is not only in the old version.

According this NPE in 4.1.7, we may find some details we should

[2019-10-08 07:44] bxqgit commented on #8439
@mosesn

I would say **protocol encoders/decoders** are **50%**, and the other **50%** is **Async (Promise) API/Architecture**' to handle **C10K+** problem. And those **protocol encoders/decoders** are kinda locked on the **Async (Promise) API/Architecture**. So it still looks that a complete rewrite in required to leverage all of the features of **Loom**, to be able to write simple **Sync** code.

[2019-10-08 07:46] normanmaurer commented on #9640
@carryxyh like @slandelle said please upgrade and then report back with a stack trace if you still encounter the issue. This will at least ensure that the line numbers etc are correct etc.

[2019-10-08 07:50] carryxyh commented on #9640
Alright, this is an occasional exception, maybe we will need some time to reproduce it...

Temporarily turn it off. Reopen it when the NPE appears again.

[2019-10-08 08:07] normanmaurer commented on #9630
@kukeap we did fix various problems in `HttpPostRequestDecoder` lately. Please upgrade to 4.1.42.Final and reopen if you still see the issue with an updated stack trace

[2019-10-08 08:07] #9630 closed

[2019-10-08 08:08] normanmaurer commented on #9622
You will need to share some code before we can help. There should be no leaks.

[2019-10-08 08:09] normanmaurer commented on #9620
I will close this for now. Please update to latest version and reopen if you still see the problem. In this case also share code please as you may just not take fragmentation correctly into account .

[2019-10-08 08:09] #9620 closed

[2019-10-08 08:10] normanmaurer commented on #9594
@zhanfffmmm did you try my suggestions ?

[2019-10-08 08:23] carl-mastrangelo commented on #9636
@normanmaurer Yup, I was about to send out PR, but tried writing a unit test to replicate it.  It's surprisingly difficult to get the conditions just right to happen, but I do have an exact reproducer internally.  I patched in the change (calling super) and can confirm it works.

Definitely take your point about using the new thing (and already updated out code), but Since Http2MultiplexCodec is s

[2019-10-08 09:57] lukehutch commented on #8439
Again a rewrite is absolutely not necessary for Netty to make use of Loom, and no, Loom does not make Netty, its architecture or its async model obsolete -- Loom will just make Netty dramatically more scalable and efficient. The simplest way to use Loom with Netty is to schedule Netty threads from a fiber pool rather than a thread pool, which can be as simple as a one-line change, though may requi

[2019-10-08 11:51] hyperxpro opened #9643 "Netty SslContext Client SNI"
### Expected behavior
SslContext forClient Sending SNI to Server
### Actual behavior
SslContext forClient not Sending SNI to Server
### Steps to reproduce
Just create a normal Netty HTTPS Client and Capture TLS Client Hello Packet
### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.42.Final
### JVM version (e.g. `java -version`)
openjdk version "11.0.4" 2019-07-16 LTS

[2019-10-08 11:52] normanmaurer commented on #9643
How you create the `SslHandler` / `SslEngine` ? You need to use the method that will take a hostname / port as well as argument.

[2019-10-08 12:04] hyperxpro commented on #9643
I'm using typical SslContext with SslContextBuilder.
SslContext sslCtx = SslContextBuilder.forClient().build();

I don't wanna use SSLEngine (javax.net.ssl.SSLEngine) because of obvious reasons. Help, please?

[2019-10-08 12:05] normanmaurer commented on #9643
@hyperxpro I am interested in how you use the `SslContext` later on .

[2019-10-08 12:06] hyperxpro commented on #9643
System.setProperty("jsse.enableSNIExtension", "true");
        EventLoopGroup childGroup = new NioEventLoopGroup();

        SslContext sslCtx = SslContextBuilder.forClient().build();

        Bootstrap bootstrap = new Bootstrap();
        bootstrap.group(childGroup)
                .channel(NioSocketChannel.class)
                .handler(new SimpleChannelInboundHandler<>() {

[2019-10-08 12:14] SteNicholas commented on #9637
@normanmaurer I have already opened a PR against `ByteToMessageDecoder` with chanages.Please review these changes,thanks.

[2019-10-08 12:16] hyperxpro commented on #9643
I am able to send SNI using SSLParameters in SSL Engine. Is this the correct way? And Will I get OpenSSL Provider using this code?

        // EventLoop
        EventLoopGroup childGroup = new NioEventLoopGroup();

        // SSL Parameters to set SNI TLS Extension
        SSLParameters sslParameters = new SSLParameters();
        sslParameters.setServerNames(Collections.singletonList(new SNIHostN

[2019-10-08 12:18] normanmaurer commented on #9643
@hyperxpro yes this should work...  Alternative you can also use:

[code]

[2019-10-08 12:18] #9643 closed

[2019-10-08 12:42] hyperxpro commented on #9643
If I specify Host "google.com" instead of "facebook.com" in
[code]
but connect to "www.shieldblaze.com". Will SslContext respect Bootstrap connect or the Peer Host and Port which I specified in Handler?
[code]

I am building HTTPS Inspection Application so I need to customize SNI.

However, thanks a lot for the help so far!

[2019-10-08 12:42] hyperxpro commented on #9643
If I specify Host "google.com" instead of "facebook.com" in
[code]
but connect to "www.shieldblaze.com". Will SslContext respect Bootstrap connect or the Peer Host and Port which I specified in Handler?
[code]

I am building HTTPS Inspection Application so I need to customize SNI.

However, thanks a lot for the help so far!

[2019-10-08 12:43] hyperxpro commented on #9643
If I specify Host "google.com" instead of "facebook.com" in
[code]
but connect to "www.shieldblaze.com". Will SslContext respect Bootstrap connect or the Peer Host and Port which I specified in Handler?
[code]

I am building HTTPS Inspection Application so I need to customize SNI.

However, thanks a lot for the help so far!

[2019-10-08 12:43] hyperxpro commented on #9643
If I specify Host "google.com" instead of "facebook.com" in
[code]
but connect to "www.shieldblaze.com". Will SslContext respect Bootstrap connect or the Peer Host and Port which I specified in Handler?
[code]

I am building HTTPS Inspection Application so I need to customize SNI.

However, thanks a lot for the help so far!

[2019-10-08 13:34] dynawink commented on #7254
The error still occurs with netty 5.0.0.Alpha2. Please reopen the issue.

[2019-10-08 14:10] hyperxpro commented on #9643
Solved!

[2019-10-08 14:40] #9636 closed

[2019-10-09 00:20] njhill commented on #9634
@normanmaurer @dziemba please see #9479

FYI the main leak in the current code is here - the result of the future needs to be released, since the `finish` method that it's passed to does not take ref-count ownership: https://github.com/netty/netty/blob/4dc1eccf60252f8a690610c20495ed095e274d3a/resolver-dns/src/main/java/io/netty/resolver/dns/DnsNameResolver.java#L1302

[2019-10-09 00:51] azzahrah commented on #9637
Mybe this small code change, always check size before call fireChannelRead, correct me please
//Original
`int size = out.size();
                firedChannelRead |= out.insertSinceRecycled();
                fireChannelRead(ctx, out, size);
                out.recycle();
`
//Modified
`int size = out.size();
                if (size == 0) {
                    decodeWasNull = true;

[2019-10-09 03:34] xuanyimo commented on #3539
I have the same problem with netty-4.1.34.Final:

[code]

[2019-10-09 05:42] SteNicholas commented on #9637
@azzahrah Yeah, channelRead use batch way to improve performance.

[2019-10-09 07:47] fbacchella opened #9648 "HashedWheelTimer hides exception"
At this line:
https://github.com/netty/netty/blob/3a48010c42615e2f5403b89d631ca126fa068cfb/common/src/main/java/io/netty/util/HashedWheelTimer.java#L673

All throwable are catched and logged with an netty logger at warn level.
But throwable is a super class of Error and the javadoc says:

warn is a quite low level, that can hides more sever exceptions like NPE. I think a provided exception handler

[2019-10-09 12:11] normanmaurer opened #9651 "Add proper support for TCP Fast Open in native transport"
We currently support to set the TCP_FAST_OPEN `ChannelOption` in our native epoll transport.  While this is generally good enough for servers it is not good enough for client-side usage. Here we will need to introduce the usage of `sendto(...)` to replace the usage of `connect(...)` when TCP_FAST_OPEN is used.

See https://lwn.net/Articles/508865/

[2019-10-09 14:45] normanmaurer commented on #9635
You should be able to build netty-tcnative by yourself on the platform I guess:

https://github.com/netty/netty-tcnative/

[2019-10-09 14:46] normanmaurer commented on #9628
@thomas-henley ping

[2019-10-09 14:49] normanmaurer commented on #9578
@ddossot are you maybe interested in fixing this ?

Also alternative @mcanlas are you interested in trying to provide a PR ?

[2019-10-09 14:51] bobmcwhirter commented on #9597
Sure, next time I cycle back around to this, I'd be glad to.

You're prefer a PR as opposed to directly committing to the repo, yeah?

[2019-10-09 18:01] mrniko commented on #9632
Could anyone assist please?

[2019-10-10 08:42] normanmaurer commented on #9632
@mrniko please update to latest netty release (4.1.42.Final) and let us know if you still see the problems. Also a reproducer would be good.

[2019-10-10 08:42] normanmaurer commented on #9622
Closing for now... please reopen if you still think there is any issue.

[2019-10-10 08:42] #9622 closed

[2019-10-10 08:45] #9594 closed

[2019-10-10 10:53] TheJacobKim commented on #5936
How did you solve this issue.

[2019-10-11 08:16] #9628 closed

[2019-10-11 08:17] #9559 closed

[2019-10-11 08:18] #9482 closed

[2019-10-11 08:18] normanmaurer commented on #9491
Sorry but we just report back what BoringSSL gives us. Also I am not sure if your platform is even supported by BoringSSL.

[2019-10-11 08:18] #9491 closed

[2019-10-11 08:19] normanmaurer commented on #9445
Closing as no response from reporter

[2019-10-11 08:19] #9445 closed

[2019-10-11 08:20] normanmaurer commented on #9293
@anuraaga are you still interested ?

[2019-10-11 08:20] normanmaurer commented on #9281
@belliottsmith did you have time to look into it ?

[2019-10-11 08:22] #8659 closed

[2019-10-11 08:24] normanmaurer commented on #8554
@amizurov @nicmunroe any update here ?

[2019-10-11 08:24] normanmaurer commented on #8610
@carl-mastrangelo are you interested in working on this ?

[2019-10-11 08:26] zhanfffmmm commented on #9594
@normanmaurer  sorry, I Still analyzing the problem when i try your suggestions.

[2019-10-11 08:28] normanmaurer commented on #8537
@slandelle is this still on your to do list ?

[2019-10-11 08:31] slandelle commented on #8537
@normanmaurer Yes, but I'm super swamped these days, sorry for the delay.

[2019-10-11 08:34] normanmaurer commented on #8279
@rhenwood-arm ping..

[2019-10-11 08:34] normanmaurer commented on #8278
I think this should be fixed by #9616 . Closing.

[2019-10-11 08:34] #8278 closed

[2019-10-11 08:35] normanmaurer commented on #8199
I will close this for now... Please reopen if you still think there is a problem

[2019-10-11 08:35] #8199 closed

[2019-10-11 08:40] normanmaurer commented on #8537
@slandelle same :/

[2019-10-11 08:41] normanmaurer commented on #8172
Like I said I think people should just extend. Closing

[2019-10-11 08:41] #8172 closed

[2019-10-11 08:42] normanmaurer commented on #8169
Closing as no response from reporter

[2019-10-11 08:42] #8169 closed

[2019-10-11 08:43] normanmaurer commented on #8151
Closing as it seems like this is not a bug

[2019-10-11 08:43] #8151 closed

[2019-10-11 08:43] normanmaurer commented on #9633
Dup of https://github.com/netty/netty/issues/8185

[2019-10-11 08:44] normanmaurer commented on #8100
these days we publish

[2019-10-11 08:44] #8100 closed

[2019-10-11 08:45] normanmaurer commented on #8016
closing for now... please let us know if you still think there is an issue

[2019-10-11 08:45] #8016 closed, assigned to nobody

[2019-10-11 08:45] #8003 closed

[2019-10-11 08:47] normanmaurer commented on #7719
It is just how it works (sorry I missed this totally). That said We could make it a "ChannelOption" to allow to always have it move down the pipeline". WDYT ?

[2019-10-11 08:49] normanmaurer commented on #7582
@slandelle I am a bit concerned that this may break users code as some may use something like:

[code]

Sure this is not 100 % right but I can see that some users use this. What we may could do is to make it configure tho.

WDYT ?

[2019-10-11 08:49] normanmaurer commented on #7489
So what was the outcome here ? sorry I am a bit confused

[2019-10-11 08:50] normanmaurer commented on #7346
Let me just close this for now. @mosesn please re-open if you still think there is an issue.

[2019-10-11 08:50] #7346 closed

[2019-10-11 08:51] normanmaurer commented on #7133
didn't see this for a long time. Let me close it

[2019-10-11 08:51] #7133 closed

[2019-10-11 08:52] normanmaurer commented on #7080
Let us close this for now. I think writing a new datastructure just for this is overkill.

[2019-10-11 08:52] #7080 closed

[2019-10-11 08:55] normanmaurer commented on #7020
As of today we support offloading handshake stuff from the EventLoop by specify an `Executor` when creating the `SslHandler`. Closing this

[2019-10-11 08:56] normanmaurer commented on #7054
As OioSocketChannel was `@deprecated` and was removed from the master branch I will just close this as `won't fix`

[2019-10-11 08:56] #7054 closed

[2019-10-11 08:57] normanmaurer commented on #6768
Yes I missed to close this :/

[2019-10-11 08:57] #6768 closed

[2019-10-11 09:00] belliottsmith commented on #9281
Sorry @normanmaurer, O did not and since forgot.  It turns out it's harder to keep up with your regular responsibilities when you're distracted by a cute baby in your personal time.

I'd still be willing to take a look, but you might have to bear with me another few weeks.  Please don't feel like you're treading on my toes if you or somebody else wants to address it though.

[2019-10-11 09:09] slandelle commented on #7582
When you know for sure you don't have an HttpObjectAggregator in the pipeline, that's currently 100% correct. Or am I missing something?

I had Netty 5 in mind for this, but Netty 4 with opt-in could be a good idea so we can experiment on performance boost.
Pretty sure @vietj would be interested in this for Vert.x and TechEmpower benchmarks :P

[2019-10-11 09:10] slandelle commented on #7582
ping @vietj

[2019-10-11 10:17] hyperxpro commented on #9633
I hope it get stable soon. :-)

[2019-10-11 10:17] hyperxpro commented on #9633
I hope it gets stable soon. :-)

[2019-10-11 10:30] johnou commented on #7020
-Dio.netty.handler.ssl.openssl.useTasks=true must be passed into the JVM.

[2019-10-11 11:11] amizurov commented on #8554
Hi, @normanmaurer. Oh what the long story, i'll try to fix it soon if @nicmunroe is not opposed to check PR.

[2019-10-11 11:16] normanmaurer commented on #611
Lets just close this for now

[2019-10-11 11:16] #611 closed

[2019-10-11 11:16] normanmaurer commented on #815
Let me close this for now.

[2019-10-11 11:16] #815 closed

[2019-10-11 11:16] #893 closed, assigned to nobody

[2019-10-11 11:17] normanmaurer commented on #1129
This can be closed

[2019-10-11 11:17] #1129 closed

[2019-10-11 11:17] normanmaurer commented on #1559
Lets close this for now

[2019-10-11 11:17] #1559 closed

[2019-10-11 11:18] normanmaurer commented on #1966
Lets close this for now

[2019-10-11 11:18] #1966 closed

[2019-10-11 13:50] jameskleeh commented on #8640
@normanmaurer Sure thing

[2019-10-11 16:55] rhenwood-arm commented on #8279
Thanks for the reminder @normanmaurer . I think the plan to move forward is:

1. Add EPEL as a release dependency to this project. This will provide the cross compiler.
2.

[2019-10-11 20:27] thomas-henley commented on #9628
@amizurov @normanmaurer Our platform breaks up the file into chunks before handing those chunks to netty for compression and transfer. It seems like when the client receiving the transfer gets the small remainder chunk at the end of the file, it runs into this issue decompressing it. Using our platform, we've seen it with .tla files (like in the original report) and also more recently with a zippe

[2019-10-11 20:37] rschmitt commented on #7489
@normanmaurer It seems like no changes in the current behavior are necessary.

[2019-10-12 00:10] nicmunroe commented on #8554
Sorry it took a long time to get approval to do a PR, by then I was buried in other stuff, and I was never able to unbury my priority list enough to get to this. :(

Yeah, I'm happy to check a PR. And/or I still intend to get to this ... someday - I just can't guarantee when that would be.

[2019-10-12 03:51] CreateChance commented on #3778
Need official support for quic here.

[2019-10-12 07:29] normanmaurer commented on #9628
@thomas-henley i see ... please continue trying and share if you was able to

[2019-10-12 07:29] normanmaurer commented on #7489
Ok @rschmitt let me close this one then

[2019-10-12 07:29] #7489 closed

[2019-10-12 14:00] colinrgodsey commented on #9651
Going to take a crack at this today

[2019-10-12 15:22] colinrgodsey commented on #9651
I'm guessing we'll have to let the channel connect 'optimistically' succeed until data is first sent. Kind of necessary to allow the '0RTT' transmission there.

[2019-10-12 16:06] colinrgodsey commented on #9651
Now I'm getting all hung up trying to figure out how to handle TCP_FASTOPEN_CONNECT vs TCP_FASTOPEN... there doesn't seem to be any way to test for TCP_FASTOPEN_CONNECT support. I wonder if its worth just replacing the TCP_FASTOPEN_CONNECT functionality with the classic TCP_FASTOPEN? The _CONNECT form seems to just be boilerplate to make workflow with TCP_FASTOPEN easier. Netty users will be blind

[2019-10-12 17:40] colinrgodsey commented on #9651
I've got this far: https://github.com/netty/netty/compare/4.1...colinrgodsey:4.1

Code format clobbered some random things, so need to fix that... plus some other cleanup, and some new tests.

[2019-10-12 18:12] colinrgodsey commented on #9651
(sorry, just journaling things here...)

Yea, I really think hijacking TCP_FASTOPEN_CONNECT is the best option. There's not actually a socket flag for client fast open anyways, its just a special flag on "sendto". While it's kind of a "lie" that we're not actually using the new TCP_FASTOPEN_CONNECT flag, we are effectively doing the same thing (from what I can tell in the kernel code, the end effe

[2019-10-12 22:09] colinrgodsey commented on #9651
Works now, getting through tests.... seems to be some weirdness with LEVEL_TRIGGERED epoll, and one of the connect tests (doesnt like the empty local address)

[2019-10-12 23:16] colinrgodsey commented on #9651
Alright, so I added client fast open to the epoll permutations and.... lots of things are failing. The normal data transmission pattern stuff works, so thats good (overall write pattern works), but it seems to failing with some of the epoll trigger mechanics and connection mechanics. not surprising about the connection mechanics, this does ultimately change how all of that works. still working thr

[2019-10-13 10:18] brucelwl opened #9660 "Cache SelectorProvider is not suitable for NioServerSocketChannel"
I found the issue https://github.com/netty/netty/issues/2308 saying that calling ``SelectorProvider#provider`` for every new channel creation causes performance problems，So the ``SelectorProvider`` is cached. But cache ``SelectorProvider`` is not suitable for ``NioServerSocketChannel``, because ``NioServerSocketChannel`` will only be created once, it will not be created many times like ``NioSocket

[2019-10-13 12:51] RobinGG commented on #9578
At first, I'm going to fix this. But after some investigation I found this might be designed so.

With the help of Netty Java Doc, I found some related messages in RFC 7230.

In [RFC 7230, 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2), it says:

Then how could we deal with those values with comma? I think I found the answer at [RFC 7230, 3.2.6](https://tools.ietf.org/html/rfc7230#secti

[2019-10-13 13:01] johnou commented on #9660
How does it cause unnecessary memory overhead when it is a static field?

[2019-10-13 13:06] normanmaurer commented on #9660
Also an application may create multiple server channels

[2019-10-13 15:45] brucelwl commented on #9660
@normanmaurer Maybe it's not good enough for me to describe. Although an application can create multiple server channels, it is definitely not a lot of concurrent creation. So there is no need to use static fields to store ``SelectorProvider``, because static fields themselves need to occupy memory, even though this memory Occupied very small. But when the application is started, ``SelectorProvide

[2019-10-14 08:44] johnou commented on #9660
Unless it's a measurable difference in memory footprint I would leave it as is, consider the Netty test-suite which creates and tears down thousands of server channels..

[2019-10-14 09:03] Sevenops commented on #8439
I'd like to start loom branch is there any advice to how should i implement it ?

[2019-10-14 11:15] jinyingone commented on #7869
me too

[2019-10-14 13:54] #2509 closed

[2019-10-14 14:08] #9660 closed

[2019-10-14 14:08] normanmaurer commented on #9660
I agree with @johnou . Lets keep the code as it is.

[2019-10-14 14:10] #9634 closed

[2019-10-14 15:06] dziemba commented on #9634
Thank you for fixing this! ❤️

[2019-10-14 15:28] normanmaurer commented on #9648
@fbacchella why exception handler ?

[2019-10-14 18:30] paul-hammant commented on #8439
@Sevenops - https://github.com/lucav76/Fibry doesn't say anything about HTTP, but it is a super solid and buildable/testable demo of Loom for us non Oracle folks.

[2019-10-14 18:36] ti2ger92 opened #9663 "no WINDOW_UPDATE sent due to uncaught error in promise"
### Expected behavior
Server sends a WINDOW_UPDATE after the window is completed.

### Actual behavior
Server throws exceptions from: https://github.com/netty/netty/blob/4c64c98f348131e0792ba4a92ce3d0003237d56a/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2LocalFlowController.java#L431 after Delta grows perpetually, never being reset, and throws this exception upstream via a p

[2019-10-14 21:36] normanmaurer commented on #9663
@carl-mastrangelo @bryce-anderson can you have a look ?

[2019-10-14 23:15] normanmaurer commented on #9663
@ti2ger92 @carl-mastrangelo @bryce-anderson https://github.com/netty/netty/pull/9664 PTAL

[2019-10-14 23:49] rhernandez35 commented on #9663
@normanmaurer I do agree that closing the channel is the correct response to this exception. However, the larger issue is that we see this exception thrown many times per connection, even for requests that succeed. It seems like there's something wrong with how the flow control windows tracked in DefaultHttp2LocalFlowController and ABstractHttp2StreamChannel are calculated.

[2019-10-15 00:07] normanmaurer commented on #9663
I will try to investigate but I am not sure when exactly I will have the time yet :(

[2019-10-15 03:47] carryxyh opened #9665 "The expansion of the WeakOrderQueue$Link volume caused memory leaks."
Hi,
Recently we discovered that there is a similar memory overlap problem with one of our HTTP servers.

Our bootstrap is here:

![image](https://user-images.githubusercontent.com/12047600/66798164-bfb81080-ef3f-11e9-88dd-316e7435f9f6.png)

The memory looks like this(keep increasing until 90%):

![image](https://user-images.githubusercontent.com/12047600/66798187-cd6d9600-ef3f-11e9-8f27-9186f0fdd1

[2019-10-15 06:46] fbacchella commented on #9648
Something provided by the user of the library as a callback, to be notified of unexpected exceptions.

[2019-10-15 07:02] carryxyh commented on #9665
By the way, close `Recycler` will solve this problem:

![image](https://user-images.githubusercontent.com/12047600/66807949-c903a600-ef5c-11e9-8ed3-8bdbbb8c2f4f.png)

Memory usage is stable and won't increase.

[2019-10-15 09:59] ursaj opened #9667 "FlowControllerHandler swallows read-complete event when auto-read is disabled"
### Expected behavior

IdleStateHandler should trigger read-timeout events when registered after FlowControlHandler.

### Actual behavior

IdleStateHandler does NOT trigger read-timeout event.

### Steps to reproduce

Server pipeline:

    p.addLast("flow-control", new FlowControlHandler)
    p.addLast("keep-alive", new PingInactiveHandler(readTimeout))// extends IdleStateHandler
    p.addLast("ha

[2019-10-15 11:57] switchYello opened #9668 "remove handler cause ByteToMessageDecoder out disorder"
### remove handler cause ByteToMessageDecoder out disorder

	I input byte stream [1,2,3,4,5], when i read `4` then remove  ByteToMessageDecoder,
	 the out is stream [1,2,3,5,4]

	Here are the test cases，the cases will fail

[code]
### netty 4.1

### java8

### window10

[2019-10-15 11:58] switchYello commented on #9668
@normanmaurer thanks

[2019-10-15 12:23] loki1985 opened #9669 "IllegalStateException"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-10-15 13:40] normanmaurer commented on #9663
@rhernandez35 @ti2ger92 funny enough my PR did have the side-effect of what seems to be the same issue you reported here:

[code]
Does this sound right ?

Will dig into it :)

[2019-10-15 14:41] amizurov commented on #9668
Hi, @switchYello. I think this is expected behavior, see
 https://github.com/netty/netty/blob/2e5dd288008d4e674f53beaf8d323595813062fb/codec/src/main/java/io/netty/handler/codec/ByteToMessageDecoder.java#L432-L436

[2019-10-15 16:49] simonbasle commented on #8100
@normanmaurer I don't think the issue is fully resolved: the snapshots repository does contain a jar with `osx-x86_64` classifier for `4.1.43.Final-SNAPSHOT`, but only one.
Newer versions with a newer timestamp don't include the native library nor classifier 😢

Compare just the filenames of [kqueue](https://oss.sonatype.org/content/repositories/snapshots/io/netty/netty-transport-native-kqueue/4.1.

[2019-10-15 17:03] CodingFabian opened #9671 "HpackEncoder writing headers does constantTime lookup"
Looking at a profile of a client that sends a lot of http2 requests, I did notice that HpackEncoder spends some unnecessary time in encoding headers.

This is because in this place:
https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/HpackEncoder.java#L173
it does a lookup for an already existing header.

I do understand the idea of not leaking timing inf

[2019-10-15 18:02] jameskleeh commented on #8640
@normanmaurer Done https://github.com/netty/netty/pull/9672

[2019-10-15 19:07] ursaj opened #9673 "Origin header is always sent from WebSocket client"
### Expected behavior

No 'Origin' header sent by default.
A way to set custom 'Origin' header when it is needed.

### Actual behavior

'Origin' header is set.
'Origin' header is auto-resolved into meaningless value. In my case - IP of the intermediate proxy between client and server sides.
Enforced 'Origin' header leads to cors check failure on server side and denial of service for legitim client

[2019-10-15 19:09] ti2ger92 commented on #9663
That looks about right to me, yes. I appreciate that.

[2019-10-15 21:59] njhill commented on #9634
@dziemba no problem, thank you for reporting it with so much detail

[2019-10-16 00:56] joachern commented on #9573
@normanmaurer I find that when I write   httpTohttp2  client ,I use 10 threads to  send  http message ,server accept every Http2HeadersFrame message,and sometime  lost some Http2DataFrame message,Client log also dispaly that some outbound message is not write.

Would you please give some suggest? Thank you
### Thread code
         for(int i=0;i<10 ;i++)          **// 10 Tread**
            {

[2019-10-16 01:14] joachern opened #9675 "@normanmaurer I find that when I write httpTohttp2 client ,I use 10 threads to send http message ,server accept every Http2HeadersFrame message,and sometime lost some Http2DataFrame message,Client log also dispaly that some outbound message is not write."
@normanmaurer I find that when I write   httpTohttp2  client ,I use 10 threads to  send  http message ,server accept every Http2HeadersFrame message,and sometime  lost some Http2DataFrame message,Client log also dispaly that some outbound message is not write.

Would you please give some suggest? Thank you
### Thread code
         for(int i=0;i<10 ;i++)          // 10 Tread
            {

[2019-10-16 01:41] njhill commented on #7719
+1 for adding a ChannelOption for this

[2019-10-16 02:47] joachern commented on #9675
@normanmaurer  I see the code  HttpToHttp2ConnectionHandler not support muiltyThread 。
Is the reason？

    private int getStreamId(HttpHeaders httpHeaders) throws Exception {
        return httpHeaders.getInt(HttpConversionUtil.ExtensionHeaderNames.STREAM_ID.text(),
                                  connection().local().incrementAndGetNextStreamId());
    }

[2019-10-16 04:50] fredericBregier commented on #8640
@jameskleeh Indeed, that was intentional. Maybe wrongly, since you feel it should be included...
Your PR seems OK to change the behavior, but could you also fix the comments on the related "clean" methods, such that it does not explicitely stands for "disk" only (or mixed so mixed too) HttpData ?

[2019-10-16 05:08] jameskleeh commented on #8640
@fredericBregier Sure thing

[2019-10-16 05:13] jameskleeh commented on #8640
@fredericBregier I don't see what comments you are referring to. Can you point me in the right direction?

[2019-10-16 05:29] fredericBregier commented on #8640
Sure:

https://github.com/netty/netty/blob/c70254e3af242c6134063bbb3d6f4ade8775a4ff/codec-http/src/main/java/io/netty/handler/codec/http/multipart/HttpDataFactory.java#L75

https://github.com/netty/netty/blob/c70254e3af242c6134063bbb3d6f4ade8775a4ff/codec-http/src/main/java/io/netty/handler/codec/http/multipart/HttpDataFactory.java#L80

https://github.com/netty/netty/blob/c70254e3af242c6134063bbb3

[2019-10-16 06:47] carl-mastrangelo commented on #8610
@normanmaurer I was not, unless there is a push to optimize the Resource leaks recently.   We can close this out and reopen it later if there is need.

[2019-10-16 08:04] fuyitaoqqq opened #9676 "channelIdle in IdleStateHandler cant invoke if use nginx as a proxy"
### Expected behavior

### Actual behavior
Here's an iot project. When a client uses local net connect to netty server, the method channelIdle in IdleStateHandler can be triggered successfully, but when the client uses public net
connect to a nginx server, it's proxy of netty server, channelIdle cant invoke
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
netty ser

[2019-10-16 08:48] amizurov commented on #9676
HI, @fuyitaoqqq.  I think it's happen because NGINX close channel before IdleState.READER_IDLE triggered. Set NGINX `proxy_timeout` to 85s (e.g.) and you can see it.

[2019-10-16 09:04] joachern commented on #9675
Now I find that   write thread lose some message
It shows that some message are losed before writeflush.

[2019-10-16 09:08] fuyitaoqqq commented on #9676
@amizurov Yes, it worked! Thanks

[2019-10-16 09:49] joachern commented on #9675
I got Solution

 public   void  addRequest(String id, Channel channel, HttpRequest request,HttpPostRequestEncoder bodyRequestEncoder)
    {
    	try
		{
		lock.lock();
    	ChannelFuture future;
    	if(bodyRequestEncoder!=null)
    	{
    		 future = channel.writeAndFlush(request);
    		 channel.writeAndFlush(bodyRequestEncoder);
    	}else
    	{
    		  future = channel.writeAndFlush(request);

[2019-10-16 09:56] amizurov commented on #9673
Hi, @ursaj. I agree that `Origin` and  `Sec-WebSocket-Origin` is not required according the spec https://tools.ietf.org/html/rfc6455#section-1.3 `Origin/Sec-WebSocket-Origin header field is sent by browser clients; for non-browser clients, this header field may be sent if it makes sense in the context of those clients`.  But i'm not sure can we just delete them. WDYT @normanmaurer @slandelle

[2019-10-16 11:04] slandelle commented on #9673
I agree there's no way for an HTTP client to be able to infer Origin header and it can only be provided reliably by the user. IMHO, this is a bug, but fixing it would be a breaking change.
I say we should have an option to disable and deprecate sending Origin header for removal in Netty 5.

[2019-10-16 11:34] MrXionGe opened #9677 "Can we run perfectly on JDK13"
### Expected behavior
Perfect running on JDK13

### Actual behavior
Throw an IllegalAccessException

### Steps to reproduce
When using Vertx to create an HTTP client, netty-common throw an IllegalAccessException.
And the HTTP client cannot send the request.

### Minimal yet complete reproducer code (or URL to code)
Exception Message: "java.lang.IllegalAccessException: class io.netty.util.internal.

[2019-10-16 11:41] MrXionGe commented on #9677
#### java -version
java version "13" 2019-09-17
Java(TM) SE Runtime Environment (build 13+33)
Java HotSpot(TM) 64-Bit Server VM (build 13+33, mixed mode, sharing)

[2019-10-16 11:48] MrXionGe commented on #9677
The same code can run on JDK12. I tried to upgrade Vertx to 4.0.0, but I got the same result.
I guess that exception caused the problem.

[2019-10-16 12:06] vietj opened #9678 "EpollEventLoopGroup slow shutdown regression"
### Expected behavior
`EpollEventLoopGroup` regular shutdown takes a few millis to complete.

### Actual behavior
`EpollEventLoopGroup` takes about 1 second to shutdown. This only apply since 4.1.42.Final, it might be related to https://github.com/netty/netty/commit/76592db0bde9d4908191c2d7e54af3466ffd4673#diff-824cfcec3522343772416dd064658a83

### Steps to reproduce
Shutdown an `EpollEventLoopGro

[2019-10-16 13:50] normanmaurer commented on #9676
Closing then

[2019-10-16 13:50] #9676 closed

[2019-10-16 13:50] normanmaurer commented on #9675
Please use stackoverflow for questions

[2019-10-16 13:50] #9675 closed

[2019-10-16 13:51] normanmaurer commented on #9671
@carl-mastrangelo PTAL

[2019-10-16 13:51] normanmaurer commented on #9671
Also @bryce-anderson

[2019-10-16 15:55] colinrgodsey commented on #9651
Alright, so... some things to consider:

a) Should TCP_FASTOPEN_CONNECT be replaced with the more-compatible sendto/sendmsg form.
b) TCP_FASTOPEN_CONNECT doesn't seem to have been in any tests, and it likely exhibits the same behavior issues as the other form, but not sure.
c) Should the behavior changes be considered "expected", and a normal caveat of the feature? (it is after all a stateless con

[2019-10-16 16:04] njhill commented on #9678
@vietj would you be able to try with the latest 4.1.43 snapshot? Some fixes have already gone in which hopefully address this.

[2019-10-16 18:27] vietj commented on #9678
sure, do you have snapshots published in sonatype OSS repository ?

[2019-10-16 18:28] normanmaurer commented on #9678
@vietj yes

[2019-10-16 18:28] vietj commented on #9678
awesome will give a run soon.

[2019-10-16 19:09] vietj commented on #9678
it does not seem to work for me at the moment, I'll report later

[2019-10-16 21:50] ljnelson opened #9680 "Is it possible there is a NullPointerException in ChunkedWriteHandler.java?"
I am working with `ChunkedWriteHandler` and a `ChunkedInput` implementation.  I happened to notice this:

https://github.com/netty/netty/blob/3d7dba373fff33270a897a7de86f7311952301a2/handler/src/main/java/io/netty/handler/stream/ChunkedWriteHandler.java#L276-L288

The important lines are (in the permanent link above) 276 and 288.  Won't `currentWrite` at line 288 always be `null`?

I thought I wou

[2019-10-16 21:57] normanmaurer commented on #9663
@ti2ger92 can you check https://github.com/netty/netty/pull/9664 again ? I think it should fix your problem.

[2019-10-16 22:00] normanmaurer commented on #9680
@ljnelson no there is a different between `this.currentWrite` and `currentWrite`.

[2019-10-16 22:00] #9680 closed

[2019-10-16 23:08] bryce-anderson commented on #9671
I'd strongly suggest getting someone with a security background to weigh in, but here are my 2 cents.

It looks like there are comparison early-aborts for differences in length and key hashcode, so if you're benchmarking and using identical headers I doubt we'll get better performance. However, I suspect the line

[code]
would be roughly as safe and potentially faster if changed to
[code]
for head

[2019-10-16 23:13] normanmaurer commented on #9671
Maybe @Lukasa ....

[2019-10-16 23:14] rschmitt commented on #9663
@normanmaurer Speaking for @ti2ger92, commit d42aa468595054d1f4224d69a54813c9b7cfd2be from the `window_update_failure` branch appears to fix our integration tests.

[2019-10-16 23:41] Lukasa commented on #9671
Huh, I'm somewhat surprised to see a constant-time comparison for HPACK header fields in this case.

The reason to want to perform constant-time comparisons when querying the HPACK table is to prevent a side-channel leaking the value of sensitive headers, such as cookies or authorisation headers. The side-channel in question can only exist when running HTTP/2 in a coalescing configuration where th

[2019-10-16 23:45] Lukasa commented on #9671
The relevant counter argument comes from @jpinner's original comment [here](https://github.com/netty/netty/issues/5436#issuecomment-227928988):

[2019-10-16 23:46] Lukasa commented on #9671
I disagree with Jeff's argument: while the caution is understandable I think the timing side channel is no more vital to defend against than the sizing side channel, and the only defence against that side channel is never indexed headers. That's the correct solution to here. The performance gain of putting "sensitive" headers in the table is likely to be utterly dwarfed by the performance cost of

[2019-10-16 23:52] Lukasa commented on #9671
As some relevant context, neither of the two implementations I wrote perform constant-time comparisons here. Neither does [nghttp2](https://github.com/nghttp2/nghttp2/blob/d08c43951f5bf599dace882ed0e67ded2ff8519e/lib/nghttp2_hd.c#L501-L509) or [h2o](https://github.com/h2o/h2o/blob/1defc77a2243804d06401a9331ecf81735606f9c/include/h2o/memory.h#L476-L486) as two other prominent implementations.

[2019-10-17 00:15] ursaj commented on #9673
Actually it is already a breaking change between 4.1.31 and 4.1.39 - when 'Origin' header was forcibly injected. I'd spend quite a lot of effort to sort it out, when Singapore clients failed to connect to our backends during their upgrade. For me it was 4 a.m. on Sunday - quite an inconvenient time to solve such issues.

I'll better interpret it like a "temporary bug" and revert this behaviour to

[2019-10-17 02:27] normanmaurer commented on #9673
@slandelle I agree with @ursaj ... we should fix it.  @ursaj can you do a pr ?

[2019-10-17 02:29] normanmaurer commented on #9667
@ursaj sounds legit. Want to do a PR ?

[2019-10-17 02:57] normanmaurer commented on #9671
@Lukasa thanks again for all the thoughtful comments :) I knew why I pinged you here. 🍻 on me.

@bryce-anderson @CodingFabian WDYT ? Any takers ?

[2019-10-17 03:01] normanmaurer commented on #9678
@vietj let us know once you have any feedback to share

[2019-10-17 04:33] carl-mastrangelo commented on #9671
Jumping ahead without reading the thread.  I had  PR that mostly removes the overhead.  @CodingFabian   Would https://github.com/netty/netty/pull/9259  fix this for you?  Is there anyway you can patch in that PR and see if it helps?

[2019-10-17 08:17] MrXionGe commented on #9677
This problem does not seem to be caused by netty.
On JDK13. I tried to use other components that depend on netty. E.g. WebFulx. The exception information mentioned above was also thrown, but the program itself did not go wrong.

[2019-10-17 08:21] johnou commented on #9677
are you running the JVM with `--add-exports=java.base/jdk.internal.misc=ALL-UNNAMED`?

[2019-10-17 08:26] amizurov commented on #9668
@switchYello ohh missed, that is output list does not drain after handler removed.

[2019-10-17 08:52] jakub-dzon commented on #9483
@Bennett-Lynch It seems that `io.netty.util.Version` should do the trick.

[2019-10-17 08:53] johnou commented on #9677
Try setting your root logger log level to debug to see if there's another exception, currently Netty CI only builds against 8, 11 and 12.

It could also be an issue with Vertx, if changing the log level doesn't reveal anything please try creating a Netty only reproducer project you can share.

[2019-10-17 08:54] kcn1-71 opened #9683 "Throw an exception up"
Hello everyone! Is there any way to get exception out from initChannel(ch: SocketChannel) method from ChannelInitializer? Now all exceptions are handled by handlers or just logged (and converted in a warnings), but I want to handle it on application side.

[2019-10-17 09:01] #9677 closed

[2019-10-17 09:18] CodingFabian commented on #9671
@carl-mastrangelo The PR will pretty likely fix it for me. I will patch my current version and come back.

[2019-10-17 12:20] vietj commented on #9678
it works fine with latest 4.1..43.Final-SNAPSHOT https://travis-ci.org/vietj/vert.x/builds/599121826

[2019-10-17 13:42] normanmaurer commented on #9678
Ok cool then lets close this

[2019-10-17 13:42] #9678 closed

[2019-10-17 13:43] normanmaurer commented on #9683
The only thing you could do is to store it in an "external" reference. Like for example pass in an `AtomicReference` and store it there or you could also just a promise that you fail.

Please use stack overflow for questions in the future.

[2019-10-17 13:43] #9683 closed

[2019-10-17 13:51] normanmaurer commented on #9671
@CodingFabian thanks... please keep us posted.

[2019-10-17 18:00] CodingFabian commented on #9671
I had a look at the PR #9259 by @carl-mastrangelo and compiled 4.1.42 with it, to replace the same version I ran the original experiments / profiling with.

As expected all the calls disappeared (well the code no longer calls them, duh :))

The only really scientific statement I can do is that while previously header encoding showed up in the top list, it now does not anymore.

so in a sense #9259

[2019-10-17 20:28] shivabhalla opened #9684 "UnixResolverDnsServerAddressStreamProvider : unresolved DNS server address"
Getting Following exception when UnixResolverDnsServerAddressStreamProvider is trying to read from /etc/resolver.conf

`java.lang.ExceptionInInitializerError: null
	at io.netty.resolver.dns.UnixResolverDnsServerAddressStreamProvider.parseSilently(UnixResolverDnsServerAddressStreamProvider.java:72) ~[AdExchange%23%23redisson-upgrade_9557.jar:?]
	at io.netty.resolver.dns.DnsServerAddressStreamProvid

[2019-10-17 20:30] normanmaurer commented on #9684
@shivabhalla hmm.. why you have `nameserver nil` in there ? This sounds like an invalid entry.

[2019-10-17 20:35] shivabhalla commented on #9684
This is being created by some job, but I wasn't facing this issue with earlier versions of netty. Currently I shifted to 4.1.17 where I started facing this.

[2019-10-17 20:54] normanmaurer commented on #9684
@shivabhalla sure because we did not read this file in earlier releases (which was a bug). That said I wonder if we should just skip "corrupt" entries.

[2019-10-17 21:45] gmcatsf opened #9685 "Netty SSLHandler uses large buffer in memory pool for small response data size"
### Expected behavior
When server writes a lot of responses with small size to client though Netty, with SSLhandler in the pipeline, we would expect Netty memory pool would allocate size close to actual pending encrypted data size not sent to client yet.

### Actual behavior
Large number of native memory is allocated in Netty memory pool which is not proportional to actual response size. Looking a

[2019-10-18 03:29] LiujunjieALiling opened #9686 "why the code occurs Not Found Package class name?"
### Expected behavior
test DiscardClient, run  main method  expect build  passed
### Actual behavior
But Occurs Not Found Class  'LongObjectHashMap' in   'FixedRedisMessagePool'

### Steps to reproduce
![image](https://user-images.githubusercontent.com/42363259/67063719-5a139080-f19a-11e9-9798-2deeac0958de.png)

### Minimal yet complete reproducer code (or URL to code)

### Netty version
5.0.0.Fin

[2019-10-18 07:29] LiujunjieALiling commented on #9686
Is  anybody   here ?

[2019-10-18 09:15] LiujunjieALiling commented on #9686
@johnou  the same error  with  4.1 branch...   and  what's  wrong with this ?
![image](https://user-images.githubusercontent.com/42363259/67082037-e9d13300-f1ca-11e9-9219-a7b71c5cb2f4.png)

[2019-10-18 09:23] johnou commented on #9686
nothing, or the Netty CI builds would fail. IDE hints are not bullet proof and cannot resolve everything.

[2019-10-18 11:52] amizurov commented on #8554
@nicmunroe could you please check fix

[2019-10-18 15:25] simonbasle opened #9689 "Recent snapshots of netty-transport-native-kqueue don't include native libs nor classifier"
For 4.1.43, the snapshots repository does contain a jar with `osx-x86_64` classifier for `4.1.43.Final-SNAPSHOT`, but only one.
Newer versions with a newer timestamp don't include the native library nor classifier 😢

Compare just the filenames of [kqueue](https://oss.sonatype.org/content/repositories/snapshots/io/netty/netty-transport-native-kqueue/4.1.43.Final-SNAPSHOT/) vs [epoll](https://oss.so

[2019-10-18 16:35] pvub opened #9690 "netty: how to limit size of tcp packets (request for info) (netty 4.1.30)"
@normanmaurer This is not an issue, but need to figure out how to limit the size of tcp packets written by websocket servers using netty.

We are running a websocket server built on top of vert.x (3.6.2) which uses netty (4.1.30) using the native epoll transport enabled.

During periods of heavy traffic, looking at the capture, we see the size of tcp packets approaching 64k. The client (chrome bro

[2019-10-18 18:19] mcanlas commented on #9578
This RFC says the date value canonically has a comma in it.

https://tools.ietf.org/html/rfc7231#section-7.1.1.1

[2019-10-19 13:15] brucelwl opened #9694 "I don't think it's necessary to add currentTimeNanos and then subtract currentTimeNanos"
![image](https://user-images.githubusercontent.com/13413715/67145484-87546180-f2b4-11e9-9212-5658870a4e62.png)

I don't think it's necessary to add ``currentTimeNanos`` and then subtract ``currentTimeNanos``

[2019-10-19 15:02] normanmaurer commented on #9689
@simonbasle thanks a lot...

[2019-10-19 15:02] normanmaurer commented on #9686
Like @johnou says...

[2019-10-19 15:02] #9686 closed

[2019-10-19 15:12] normanmaurer commented on #9685
@gmcatsf unfortunately there is not much we can do here as the `SSLEngineImpl` that is part of the JDK will tell us to increase the buffer anyway until it matches the packet size:

https://github.com/AdoptOpenJDK/openjdk-jdk11u/blob/master/src/java.base/share/classes/sun/security/ssl/SSLEngineImpl.java#L207

So the only advice I can give you is to use our native implementation aka `
netty-tcnative

[2019-10-19 15:12] #9685 closed

[2019-10-19 15:25] normanmaurer commented on #9685
I think the only thing we could do is to allocate these as heap buffers to reduce the pressure on the native memory. Not sure this would help or not. You could already force this by creating your `ByteBufAllocator` which prefers heap buffers tho.

[2019-10-20 17:46] gmcatsf commented on #9685
@normanmaurer, thanks for the suggestion, yeah one solution I tried is to group bytes in heap before flushing to native memory, this avoids blowing up native memory. Native memory can get really big when there are a lots of fast and small writes, say 100K * 16K = 1.6GB.

[2019-10-20 17:59] normanmaurer commented on #9685
I have a change ready here... will cleanup and let you know once the PR is open

[2019-10-20 18:03] carl-mastrangelo commented on #9690
@pvub Your question doesn't make sense. IP packets are at most 0-1KB, and slightly larger if you do a ton of configuration.   I think you should ask your question on Stack Overflow instead.

[2019-10-21 02:11] #9694 closed

[2019-10-21 04:43] hyperxpro commented on #9690
Normally, TCP manages everything itself on your behalf. If you don't see any issue, do not worry much unless you're a Network Engineer.

Coming back to your issue of 64K Packet size. Are you sure you are getting 64K Payloads? How did you check this? Because most Networking Devices support 1500 bytes MTU and anything above will get dropped so TCP adjusts the packet size itself. Assuming you're on L

[2019-10-21 07:27] normanmaurer commented on #9663
@rschmitt can you re-test with the current code of the #9664 PR again ?

[2019-10-21 07:29] normanmaurer commented on #9685
@gmcatsf can you check https://github.com/netty/netty/pull/9696 ?

[2019-10-21 07:48] #9668 closed

[2019-10-21 08:46] normanmaurer commented on #9684
@slandelle what are your thoughts on this ?

[2019-10-21 08:51] slandelle commented on #9684
Agree, we should skip invalid entries.

[2019-10-21 09:19] normanmaurer commented on #9684
@slandelle @shivabhalla PTAL https://github.com/netty/netty/pull/9697

[2019-10-21 09:28] shivabhalla commented on #9684
Thanks @normanmaurer  😊

[2019-10-21 13:10] pvub commented on #9690
@carl-mastrangelo @hyperxpro We took a capture, and the TCP packets are maxing at 64k, as seen in wireshark. We tried using setSendBufferSize() on the channel options, to 4k to see if it makes any difference, but have seen no change in packet size.
I went through epoll native transport channel code, and found out that SND_BUF size is not being honoured, as it gets re-adjusted when writing to socke

[2019-10-21 13:50] hyperxpro commented on #9690
I see something is not right. Can you share the Wireshark Packet Capture file (.pcap)? And would you mind telling me a bit about your topology like LAN or Cloud.

[2019-10-21 14:55] pvub commented on #9690
@hyperxpro We are running this on a LAN. nginx fronting the server for ssl. Attached is a small capture snippet with the large packets.
[4k_sendBuffer_bigFrameExample.pcap.zip](https://github.com/netty/netty/files/3751460/4k_sendBuffer_bigFrameExample.pcap.zip)

[2019-10-21 19:23] rschmitt commented on #9663
@normanmaurer I've run the tests many times with the current code, everything is working great.

[2019-10-21 19:47] hyperxpro commented on #9690
I see that you're using Localhost (127.0.0.1) and 64K Packets are normal for it. Completely fine.

[2019-10-21 20:18] ti2ger92 commented on #9663
As I commented on the CR its self, my tests also show this solves the problem.

[2019-10-21 22:57] ursaj opened #9698 "Simplify WebSocket handlers constructor arguments hell"
### Expected behavior

a) I can specify **only** those parameters, I'm interested in. In any combination. E.g.:

    ctx.pipeline().addLast(new WebSocketClientProtocolHandler(
        URI.create("wss://my-domain/service"),
        WebSocketVersion.V13,
        customHeaders,
        handshakeTimeoutMillis
    ))

b) I can easily contribute new parameter without significant impact on API, e.g. `han

[2019-10-22 12:26] #9684 closed

[2019-10-22 12:40] #9663 closed

[2019-10-22 12:41] normanmaurer commented on #9663
@rschmitt @ti2ger92 thanks a lot... I just merged the change

[2019-10-22 13:39] #6542 closed

[2019-10-22 14:04] normanmaurer commented on #9669
@loki1985 can you show me how you use the pool in your code ?

[2019-10-22 14:12] normanmaurer commented on #9665
@carryxyh can you share the heap dump for when the problem encounters ?

[2019-10-22 14:18] #9632 closed

[2019-10-22 14:19] normanmaurer commented on #9576
@nikhilvavs please provide a re-producer and re-open if you still think there is an issue. I could not find any in the implementation by looking through it (which may still not mean there is none).

[2019-10-22 14:20] normanmaurer commented on #9576
Also please update to latest netty version as your version is very old.

[2019-10-22 14:20] #9576 closed

[2019-10-22 14:23] normanmaurer commented on #9540
Related to happy eyeballing there is the problem that `Bootstrap.connect(...)` would race different connect attempts and so a handler may be added to multiple pipelines. We need to guard against problems here.

[2019-10-22 14:24] normanmaurer commented on #9698
wouldn't it be cool if we had default values in java :/

[2019-10-22 14:25] GrayWind33 opened #9700 "maven install failed on netty-transport-native-kqueue"
### Expected behavior
install succeess
### Actual behavior

### Steps to reproduce
mvn clean install
### Minimal yet complete reproducer code (or URL to code)

[code]

### Netty version
4.1.43.Final-SNAPSHOT
### JVM version (e.g. `java -version`)
1.8.0_181
### OS version (e.g. `uname -a`)
macOS Darwin Kernel Version 18.5.0

[2019-10-22 14:45] GrayWind33 commented on #9700
`[INFO]
[INFO] ---------------< io.netty:netty-transport-native-kqueue >---------------
[INFO] Building Netty/Transport/Native/KQueue 4.1.43.Final-SNAPSHOT     [29/39]
[INFO] --------------------------------[ jar ]---------------------------------
Downloading from nexus-aliyun: http://maven.aliyun.com/nexus/content/groups/public/org/fusesource/hawtjni/maven-hawtjni-plugin/1.14/maven-hawtjni-plugin

[2019-10-22 14:48] normanmaurer commented on #9700
@GrayWind33:

[code]

You will need to install the needed tools / libs via brew:
https://netty.io/wiki/native-transports.html#building-the-macosbsd-native-transport

[2019-10-22 14:48] #9700 closed

[2019-10-22 14:50] normanmaurer commented on #9483
@jakub-dzon you are completely right! I honestly did completely forget we already have something like this 🤦‍♂ .

@Bennett-Lynch I will close the ticket now :)

[2019-10-22 14:50] #9483 closed

[2019-10-22 14:50] normanmaurer commented on #9408
I will close this now as the reporter did vanish :/

[2019-10-22 14:50] #9408 closed

[2019-10-22 14:59] normanmaurer commented on #8978
Like @belliottsmith said... lets discuss in #8052

[2019-10-22 18:49] ursaj commented on #9698
groovy has default values, but it doesn't really help, e.g.:

    public MyClass(int number = 1, boolean someFlag = false, boolean anotherFlag = true, ...)
    ...
    // no way to pass only 'anotherFlag'.
    def obj1 = new MyClass(??)

    // you can pass 'Map', but you will lose compile-time checks
    def obj2 = new MyClass([anotherFlag: true, irrelevantFlag: true])

kotlin is more mature in t

[2019-10-22 20:02] infynyxx opened #9702 "DatagramMulticastTest.testMulticast() not tagged as @Test"
### Expected behavior
[code]
### Actual behavior

Not tagged as `@Test`.

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

https://github.com/netty/netty/blob/netty-4.1.42.Final/testsuite/src/main/java/io/netty/testsuite/transport/socket/DatagramMulticastTest.java#L52

Not sure if its typo or intentionally ignored. If intentionally ignored, I will close the issue

[2019-10-23 00:54] egerardus opened #9703 "WebSocketServerProtocolHandshakeHandler can not be extended"
### Expected behavior

I need to provide a custom `isNotWebSocketPath` function (using endsWith) for `WebSocketServerProtocolHandshakeHandler` but the class is not publicly visible.

I'm not sure if this is a design decision or a typo.

### Steps to reproduce
[code]
### Minimal yet complete reproducer code (or URL to code)

The offending line [is here](https://github.com/netty/netty/blob/4.1/codec

[2019-10-23 05:38] egerardus commented on #9703
For now, as a workaround, I've done some copy/paste work to recreate the standard handlers changing this function. It might be good to make it visible for future efforts however.

[2019-10-23 05:56] WuYuansen opened #9704 "Hello, is there an example of code for the client house rtsp server?"
Hello, is there an example of code for the client house rtsp server?

[2019-10-23 06:56] normanmaurer commented on #9703
@egerardus can you explain why you need this ?

[2019-10-23 07:03] #8554 closed

[2019-10-23 07:10] normanmaurer commented on #9702
@infynyxx this is expected ... We annotate the method that has no arguments.

[2019-10-23 07:10] #9702 closed

[2019-10-23 08:47] #9667 closed

[2019-10-23 09:21] normanmaurer commented on #8548
@idelpivnitskiy I think you did some experiments that you may be able to share ?

[2019-10-23 12:46] normanmaurer commented on #8540
So far we did not find any requirement for Java 11 but can life with Java 8 as minimum requirement. Let me close this one and update the title to reflect that we use Java8 as a minimum

[2019-10-23 12:46] #8540 closed

[2019-10-23 12:53] normanmaurer commented on #9704
nope not as far as I know. That said it should be similar to the http1 examples

[2019-10-23 12:53] #9704 closed

[2019-10-23 12:54] normanmaurer commented on #9690
as explained here there is nothing wrong. Also please use stack overflow for questions next time. Closing....

[2019-10-23 12:54] #9690 closed

[2019-10-23 12:54] normanmaurer commented on #9637
Let me close this and lets discuss on the proposed PR.

[2019-10-23 12:54] #9637 closed

[2019-10-23 13:17] normanmaurer commented on #9665
@carryxyh ping :)

[2019-10-23 15:54] nicmunroe commented on #8554
Sorry I was out all last week, but your solution looks good to me! Thank you @amizurov !

[2019-10-23 16:46] egerardus commented on #9703
@normanmaurer this is for a migration from Tomcat to a more specialized netty server API that hosts many different contexts (like app namespaces) available at different paths.

All of the existing namespace websocket connection strings are done with relative paths, e.g.:
[code]
And _not_ absolute paths:
[code]

Rather than switching everything to absolute paths and adding some kind of path injecti

[2019-10-24 02:12] carryxyh commented on #9665
Hi, norman, sorry for late.
I keep sending http request for one night, it occurs again:

![image](https://user-images.githubusercontent.com/12047600/67447521-bd903900-f646-11e9-8eb7-6a68c7d79919.png)

I will send heap dump to u soon. Thx for your reply.

[2019-10-24 03:52] carryxyh commented on #9665
@normanmaurer

Hi, I sent an email to you(norman_maurer@apple.com) since the dump file is a little big.
Please pay attention to check.

[2019-10-24 05:30] normanmaurer commented on #9665
Will do... I suspect you can’t share the reproducer code ?

[2019-10-24 06:13] carryxyh commented on #9665
No, I can't...
This part of the code is internal to our company.

[2019-10-24 06:44] normanmaurer commented on #9671
Fixed by https://github.com/netty/netty/pull/9259

[2019-10-24 06:44] #9671 closed

[2019-10-24 06:44] #8855 closed

[2019-10-24 06:46] normanmaurer commented on #9665
@carryxyh ok ... that was what I suspected.

[2019-10-24 06:55] jasonstack opened #9706 "Netty SSL doesn't respect `-Djdk.tls.client.protocols`"
### Expected behavior
`-Djdk.tls.client.protocols` should control Netty's SSL protocols

### Actual behavior

Netty checks if `TLSv1, TLSv1.1, TLSv1.2` are [supported against JDK's supported protocols](https://github.com/netty/netty/blob/39cc7a673939dec96258ff27f5b1874671838af0/handler/src/main/java/io/netty/handler/ssl/JdkSslContext.java#L103) which are hardcoded.

### Steps to reproduce

### Min

[2019-10-24 06:57] normanmaurer commented on #9706
@jasonstack want to provide a PR against 4.1 branch ?

[2019-10-24 06:58] jasonstack commented on #9706
@normanmaurer  sure. I will submit a PR..

[2019-10-24 07:25] normanmaurer commented on #9706
@jasonstack cool... please also ensure you sign the ICLA: https://netty.io/s/icla

[2019-10-24 16:59] ljnelson opened #9709 "Javadocs disappeared"
### Expected behavior
I navigate to https://netty.io/4.1/api/index.html and see Javadocs.

### Actual behavior
I get the Netty-branded 404 page.

### Steps to reproduce
Go to https://netty.io/4.1/api/index.html and observe the missing javadocs.

### Minimal yet complete reproducer code (or URL to code)
N/A

### Netty version
4.1+

### JVM version (e.g. `java -version`)
N/A

### OS version (e.g. `u

[2019-10-24 18:50] ljnelson commented on #9709
Closing as they have reappeared.

[2019-10-24 18:50] #9709 closed

[2019-10-25 02:19] michaelmao999 opened #9710 "HashedWheelTimer cost too many CPU time on windows"
When tickDuration is set to 1, sleep time will be ignore in waitForNextTick on HashedWheelTimer, it  will waste CPU time to perform waitForNextTick again and agin.

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`) windows 10

Here, I just post workaround for your reference.
 if (Platform.isWindows()) {
                    sleepTimeMs = sleepTimeMs / 10 * 10;

[2019-10-25 06:19] #9706 closed

[2019-10-25 07:00] normanmaurer commented on #9710
@michaelmao999 can you provide a PR to fix this ?

[2019-10-25 12:57] #9293 closed

[2019-10-25 13:12] normanmaurer commented on #9710
@michaelmao999 can you check https://github.com/netty/netty/pull/9714... This should fix it.

[2019-10-25 18:14] #9710 closed

[2019-10-25 22:26] kjhedkjez commented on #9703
what is a easy
javascript or html

[2019-10-25 22:26] kjhedkjez commented on #9703
what is a easy
javascript or ### html****

[2019-10-26 07:47] carryxyh commented on #9665
After investigation, it was not a leak.

The program can perform GC normally to ensure that no OOM occurs. Regarding the memory usage of 6G, this is because the JVM applied for 6G memory but did not return them to the system.

Thanks to Norman for help and remind us to use a custom ThreadFactory. :)

[2019-10-26 07:47] #9665 closed

[2019-10-27 17:54] egerardus commented on #9703
@kjhedkjez sorry, I don't understand the question

[2019-10-27 23:03] #9703 closed

[2019-10-28 02:59] carryxyh commented on #9665
More details:

Run Full GC with jprofile remoting attach. Seems that the number of 'Link' decrease. That indicated this isn't a leak problem.

![image](https://user-images.githubusercontent.com/12047600/67647334-e711d300-f96c-11e9-854c-31a227e03266.png)

The 'top' command:

![image](https://user-images.githubusercontent.com/12047600/67647394-23ddca00-f96d-11e9-9e9e-a4b0314ecfe1.png)

Still cost 6G

[2019-10-28 04:23] liuzhuo-bj opened #9716 "Can't disable HTTP negotiation to send HTTP2 request"
Dear,

I am a new player for Netty. It may be not a really issue but only because I don't find correct method. Anyway it will be very appreciate if can get your answer.

When I tried use Netty to send HTTP2 request to server directlly. The client always trys to start HTTP Negotiation first, then start the waiting time.  Unfortunately the Server doesn't support negotiation process, it caused the Cl

[2019-10-28 08:37] normanmaurer commented on #8610
Ok closing

[2019-10-28 08:37] #8610 closed

[2019-10-28 08:41] normanmaurer commented on #8275
So what do we want to do about this now ?

[2019-10-28 08:46] normanmaurer commented on #8097
@njhill want to do a PR ?

[2019-10-28 08:48] normanmaurer commented on #7814
I think this should be fixed now... please reopen if you still see the issue once you upgraded to latest version

[2019-10-28 08:48] #7814 closed

[2019-10-28 08:48] normanmaurer commented on #7788
@Scottmitch so what did we need to do here at the end ?

[2019-10-28 09:45] normanmaurer commented on #3049
We did many improvements... Lets close this for now

[2019-10-28 09:45] #3049 closed

[2019-10-28 09:45] normanmaurer commented on #2838
Our resolver now supports TCP fallback... closing.

[2019-10-28 09:45] #2838 closed

[2019-10-28 09:46] normanmaurer commented on #2628
This was improved in our native transport... Lets close it

[2019-10-28 09:46] #2628 closed

[2019-10-28 09:47] normanmaurer commented on #3760
I think we should just drop it for 5.0

[2019-10-28 09:47] normanmaurer commented on #3719
This was fixed some time ago

[2019-10-28 09:47] #3719 closed

[2019-10-28 09:52] normanmaurer commented on #4625
Was done for 5.0

[2019-10-28 09:52] #4625 closed

[2019-10-28 13:31] honwhy commented on #4427
try to use tcpdump tool to get any clue, maybe the tcp slide window size is to blame

[2019-10-28 22:59] carl-mastrangelo opened #9723 "[Discussion] Support readv() on Linux"
I would like to get some feedback on some work I plan on doing for Netty that enable using the `readv` syscall.   Today, there is a `RecvByteBufAllocator` which is attached to the channel that is used to support reading in data.  It allocates a single buffer, keeping track of how much data to allocate.   I am considering making the following changes:

1.  Make a custom ByteBuf type akin to Composi

[2019-10-28 23:47] njhill commented on #8097
@normanmaurer AFAICT you can't do PRs for github wiki content, so I just edited that page directly. If there are any concerns/comments we can easily revert or update it, PTAL: https://github.com/netty/netty/wiki/Native-transports/_compare/3111bd83110138c5930666ccc948c39813847204...3692b87b30c6adc46c11c9e8d28762c303ca62d4

[2019-10-29 01:08] njhill commented on #9723
@carl-mastrangelo that's a interesting idea. Could you elaborate on why it would be beneficial? A "guess" still needs to be made for the cumulative capacity of the receiving buffer(s) for each read, and so why not just use a single contiguous buffer in that case (as is currently done)?

Is it to make over-guessing less costly, i.e. we can immediately release any unused buffers at the end of the ve

[2019-10-29 02:16] carl-mastrangelo commented on #9723
It's similar, but the opposite direction.  I want to try out a buffer allocator with vector of exponentially larger chunks.  For example, the buffer would contain a slice of: [64, 128, 256, 512, 1024, 2048, 4096, ...., 32768].  The behavior I have seen with the existing allocator is that it tries to guess how big the buffer should be, but gets into a degenerate state if the message size is slightl

[2019-10-29 05:35] arukshani opened #9724 "HTTP/1.1 performs better than HTTP/2 with smaller payloads"
### Expected behavior
Expected HTTP/2 to perform better than HTTP/1.1. I have written a small echo service with both HTTP/1.1 and HTTP/2. And the Jmeter perf results is better for HTTP/1.1 than HTTP/2.

### Actual behavior
When I run a simple perf test with Jmeter4, for 100 users with a payload of size 50bytes, HTTP/1.1 performs better than HTTP/2.0

### Steps to reproduce
1) Run HTTP/1.1 service

[2019-10-29 07:22] carl-mastrangelo commented on #9724
There's a lot of things that can make it slower.  Have you done any profiling of the code yet?   Without having data showing that the HTTP/2 code is slower, I don't think we can do anything.    Your code has a lot of other stuff going on, it isn't clear that it is HTTP/2 at fault.

Also, from reading the table, it looks like the HTTP/2 latency is much better.  I would call that faster.

[2019-10-29 07:43] arukshani commented on #9724
@carl-mastrangelo I have removed lot of the unwanted code snippets.

Basically this is a simple echo service written purely with netty and handlers just echo back the content. SSL is used since cleartext is not supported by HTTP/2 with Jmeter.

HTTP/1.1 handler >> https://github.com/arukshani/httpbenchmark/blob/master/src/main/java/com/http/perf/EchoHttpServerHandler.java
HTTP/2.0 handler >> https

[2019-10-29 08:14] arukshani commented on #9724
Hi @carl-mastrangelo,
Please find the flamegraphs for HTTP/1.1 and HTTP/2.
[http1-http2-flamegraphs.zip](https://github.com/netty/netty/files/3782329/http1-http2-flamegraphs.zip)

[2019-10-29 09:18] MrYangxf opened #9725 "A redundant comparison operation"
Hi, when I read the source code, I happened to notice this
https://github.com/netty/netty/blob/ff2a7929235257642d8f63edb1c580347307f3ee/transport/src/main/java/io/netty/channel/nio/NioEventLoop.java#L669-L674
The `eventLoop == null` is unnecessary. Although the c2 compiler optimizes it, c1 doesn’t seem to optimize it. Though it’s a small problem，it doesn’t look elegant enough.

equivalent
[code]

[2019-10-29 09:24] franz1981 commented on #9725
processSelectedKey should be an hot path and very likely to be compiled at C2 level so I don't think it would make any difference perf-wise. For readability is fine, agree :)

[2019-10-29 11:22] normanmaurer commented on #9725
@MrYangxf sounds good... Can you please submit a PR ?

[2019-10-29 18:51] #8068 closed

[2019-10-29 19:24] normanmaurer commented on #9723
@carl-mastrangelo couldn't you do something like https://github.com/netty/netty/pull/9509 ?

[2019-10-29 19:48] #9698 closed

[2019-10-30 00:28] amcrn opened #9728 "Direct Buffer Used Despite Parameters Indicating Not To"
### Expected behavior

If `-Dio.netty.allocator.numDirectArenas=0` and `-Dio.netty.noPreferDirect=true`, that Direct Buffers are not used when a Heap Buffer is possible.

### Actual behavior

Instead, Direct Buffers are always used as shown in this Stacktrace:

[code]

Why? See `io.netty.buffer.AbstractByteBufAllocator.ioBuffer(AbstractByteBufAllocator.java:135)` aka https://github.com/netty/netty

[2019-10-30 02:30] MrYangxf commented on #9725
@normanmaurer Of course :)

[2019-10-30 06:13] njhill commented on #9723
#9509 was beneficial because we were otherwise constrained to a single packet per read, but in the TCP case there's just a single contiguous recv buffer. Wouldn't the the combined size of your array of buffers just be equivalent to the existing max read size (== "guess"), and so still need to be determined somehow? The larger ones towards the end will still need to be allocated (if I understand co

[2019-10-30 07:05] Maxdamantus opened #9730 "Ability to automatically split Websocket data frames larger than max length"
`WebSocket08FrameDecoder` currently requires the user to set a limit on the payload size, and an error will be thrown if it encounters a frame with a larger payload:
https://github.com/netty/netty/blob/8d99aa1235d07376f9df3ae3701692091117725a/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/WebSocket08FrameDecoder.java#L286

As explained in RFC6455 (https://tools.ietf.org/html/rfc64

[2019-10-30 07:58] normanmaurer commented on #9730
@slandelle @vietj WDYT ?

[2019-10-30 08:02] normanmaurer commented on #9728
@trustin @ejona86 @carl-mastrangelo WDYT ? I am a bit on the fence for this one... I guess it would be fine to adjust to work more like `buffer` as NIO implementation will use a local ThreadLocal cache anyway.

[2019-10-30 11:24] #9725 closed

[2019-10-30 12:04] carryxyh commented on #9665
Another pull request that maybe optimize this situation:
https://github.com/netty/netty/pull/9727

[2019-10-30 12:58] Tiller opened #9733 "Http2 Client with H2C prior knowledge"
### Expected behavior
Being able to create an http2 client that uses h2c prior knowledge (no http1 upgrade)

### Actual behavior
I fail to see a way to do so using the existing classes, and the lack of example / documentation doesn't help

### Steps to reproduce
I tinkered with a lot of classes / handlers sequences to end-up with:

[code]
With
[code]

And there 2 things that I can't wrap my head a

[2019-10-30 13:27] normanmaurer commented on #9733
I think you want to use `Http2StreamChannelBootstrap` if you use `Http2MultiplexHandler`.

[code]

Or alternative you may want to use `Http2ChannelDuplexHandler` when only use `Http2FrameCodec`. (I would recommend you use `Http2MultiplexHandler `.

[code]

[2019-10-30 14:34] Tiller commented on #9733
@normanmaurer thanks, it seems to work, however just one question: in your example, I replaced "yourHandler" by a new ChannelInboundAdapter which on handleAdded registers my different handlers into the channel's pipeline.
However, the constructor of Http2MultiplexHandler also take a channel handler as parameter. Do you know what I'm supposed to give? I gave a random ChannelInboundAdapter that does

[2019-10-30 14:51] normanmaurer commented on #9733
@Tiller yep alternative you may just use `ChannelInitializer` and add your handlers there.

The handler used in `Http2MultplexHandler` constructor is used for new "inbound" streams. Which in case of a client would be a stream created via push promise. I think for your use-case you may not need to do anything special here .

[2019-10-30 14:51] #9733 closed

[2019-10-30 18:47] ninja- commented on #9723
This is an interesting idea.
![1299612647186](https://user-images.githubusercontent.com/5637961/67888829-16336a80-fb4e-11e9-98ce-c551394752c1.jpg)

[2019-10-30 20:44] carl-mastrangelo commented on #9728
From the code:

[code]

I think the "prefer" is when the caller doesn't care about the type, specifically in the case of `buffer()`.  `ioBuffer()` does care that the buffer is direct, because a direct buffer is **required** to do Io. (the JDK will do this automatically for you, but it does eventually have to be direct).

Can you explain your usage pattern more?   I.e why can you not pass in `Prefe

[2019-10-30 21:15] franz1981 commented on #3413
I don't see any activity on this from a long time, but it's happening the same on our application using Netty (ActiveMQ Artemis): we writeAndFlush a huge number of small ByteBufs and ChunkedNioFiles outside of the event loop and we allow to be back-pressured by checking channel::isWritable.
It happens that we never get back-pressured but we continue to enqueue buffers/files into ChunkedWriteHandle

[2019-10-31 09:44] normanmaurer opened #9738 "NettyBlockHoundIntegrationTest.testBlockingCallsInNettyThreads fails with JDK 13"
[code]

[2019-10-31 09:44] normanmaurer commented on #9738
@bsideup can you have a look ? It works with all other JDK version that we use on the CI :/

[2019-10-31 09:57] franz1981 commented on #3413
I've make some progress on this: as soon as pending writes are being added to ChunkedWriteHandler.queue outside the EventLoop, the estimated size of such items are already incremented and decremented from `ChannelOutboundBuffer` and not accounted anymore until they won't be written and flushed from within the event loop on `ChunkedWriteHandler::doFlush`.
Such accounting involves `ChannelOutboundBu

[2019-10-31 10:23] normanmaurer commented on #9738
@bsideup I see... I will add these to the java13 profile then for now.

[2019-10-31 11:01] normanmaurer commented on #9738
@bsideup this did not work :(

[code]

[2019-10-31 11:09] bsideup commented on #9738
@normanmaurer on it, trying locally

[2019-10-31 11:10] normanmaurer commented on #9738
@bsideup thanks... PRs welcome :)

[2019-10-31 12:14] bsideup commented on #9738
@normanmaurer interesting. It works when I run BlockHound's tests with Java 13 but fails in Netty.
I will continue the investigation and eventually send a PR.

Trying to find how to check that the flag is actually set in the tests' JVM...

[2019-10-31 12:20] LQZYC opened #9741 "bootstrap connect has a large possibility return incomplete"
### Expected behavior
my code  like this
[code]

when system works  one or two day, exceptions suddenly come up.but the network is fine
like this:
[code]

anyone give some tips for this ?

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
netty-all-4.0.42.Final.jar

### JVM version (e.g. `java -version`)
java8

### OS version

[2019-10-31 14:02] bsideup commented on #9738
status update:
I am still unable to fix it in Netty, although it seems to work in isolation:
https://gist.github.com/bsideup/02d09c5723d956b27c958fa881de5495

Checking whether it is a problem with BlockHound or with the whitelisting we do in the integration, so that the call is instrumented but not reported

[2019-10-31 14:58] bsideup commented on #9738
Ok, it seems that Maven was using an old SNAPSHOT from pre-BlockHound era, this is why running it with IDEA was giving me a positive result but with Maven I was getting errors.

I submitted #9742 with a simple profile-based fix, and will submit another one with a test checking that `ServiceLoader` can load the integration

[2019-10-31 17:14] ejona86 commented on #9728
I don't think those configuration options imply "no direct buffers." They mean "no pooling for direct buffers" and "given a choice between direct and heap, whether direct should be used."

I think "don't use any direct buffers" is more of a feature request. Right now any code that calls alloc.directBuffer() should get a direct buffer. And it seems fair that ioBuffer also is a direct buffer, given

[2019-10-31 18:09] franz1981 commented on #3413
@normanmaurer I've a question re `ChunkedWriteHandler.queue`: why we don't account the items into it as pending writes like we do when we submit `writeAndFlush`s from outside the event loop?
Maybe there is something I'm missing there

[2019-11-01 01:37] cyxpdc opened #9746 "I think some changes can be made to the pointer in "ChannelOutboundBuffer#addMessage"?"
[code]

[2019-11-01 06:05] #9738 closed

[2019-11-01 06:08] normanmaurer commented on #9746
@cyxpdc can you explain which this would be better ?

[2019-11-01 06:10] normanmaurer commented on #9741
This is a super old version of netty that is EOL for a long time. Please update to the latest 4.1.x release and report back if you still see the issue. Also please ensure that you really can connect to the remote peer with telnet at the same time

[2019-11-01 06:10] #9741 closed

[2019-11-01 18:33] lvfangmin opened #9747 "OOM due to SSL key materials cached every time when there is new connection when using OpenSslCachingX509KeyManagerFactory"
### Expected behavior
Recently, we found the OOM issue when switching from JDK Ssl to OpenSsl in netty.

We're using OpenSslCachingX509KeyManagerFactory explicity, so Netty will use OpenSslCachingKeyMaterialProvide to cache and reduce the overhead of parsing the chain and the key for generation of the material.

We expect to see performance optimization but shouldn't see OOM issue.

### Actual beh

[2019-11-01 18:39] normanmaurer commented on #9747
Which version of netty? Also can you share a heap dump ?

[2019-11-01 18:44] lvfangmin commented on #9747
@normanmaurer thanks for the quick response, I'm not able to sharing the heap dump due to the security reason, but I can share the issue I saw in the heap and the stack and ssl log.

Let me get those, will update it here.

[2019-11-01 18:52] lvfangmin commented on #9747
Here is the main thing I saw in the heap dump, which holds 67M of cached OpenSsl key materials in
OpenSslCachingKeyMaterialProvide:

![Screen Shot 2019-10-31 at 2 00 59 PM](https://user-images.githubusercontent.com/2357288/68048139-33c31a00-fc9d-11e9-9dee-77894b8c079d.png)

I changed the OpenJDK with more logs like adding the stack trace when chooseAlias happened:

`
ssl: Printing stack trace:

ss

[2019-11-01 18:54] lvfangmin commented on #9747
One thing I'm trying to figure out is if this is a Netty issue or it's due to how our cert is being generated and we shouldn't use caching Key metarial provider.

Given we'll generate new alias id even the cert is perfect matching here [here](https://github.com/AdoptOpenJDK/openjdk-jdk11/blob/master/src/java.base/share/classes/sun/security/ssl/X509KeyManagerImpl.java#L391), it seems to me there is

[2019-11-01 19:02] normanmaurer commented on #9747
@lvfangmin yeah you should not use the caching one then. That said I think we should most likely bound the maximum number of cached entries.

[2019-11-01 19:04] lvfangmin commented on #9747
@normanmaurer I'm wondering if the cache helps or not, since new alias id with unique id will be generated even the cert is perfect matching in [X509KeyManagerImpl](https://github.com/AdoptOpenJDK/openjdk-jdk11/blob/master/src/java.base/share/classes/sun/security/ssl/X509KeyManagerImpl.java#L391).

[2019-11-01 19:06] normanmaurer commented on #9747
@lvfangmin also who is "we" here ? I know a lot of different users who use the cache with great benefit. Maybe they just not use so many certs ? Can you  share some sort of reproducer ?

[2019-11-01 19:07] normanmaurer commented on #9747
Also this is on the client side or server side ?

[2019-11-01 19:11] lvfangmin commented on #9747
@normanmaurer when I mentioned "we" I meant the [JDK X509KeyManagerImpl](https://github.com/AdoptOpenJDK/openjdk-jdk11/blob/master/src/java.base/share/classes/sun/security/ssl/X509KeyManagerImpl.java#L391), internally we only have a single cert, so I don't think it's a cert number issue.

And this code is on server side.

That's why I'm still wondering if it's because we're not using it in a corre

[2019-11-01 19:15] normanmaurer commented on #9747
@lvfangmin interesting... can you please share a simple reproducer for this ? I would like to also see how you bootstrap everything etc.

[2019-11-01 19:32] lvfangmin commented on #9747
We added openssl implementation in ZooKeeper, which we haven't upstreamed yet, but you can find a general idea how we set it up here: [diff.txt](https://github.com/netty/netty/files/3799335/diff.txt)

The method to create SslContext is createNettyOpenSslContext.

[2019-11-01 20:13] carl-mastrangelo commented on #9724
@arukshani Sorry, nothing stands out to me on those graphs.   If you can narrow down the scope of why it's slow, we can probably help, but I don't think we can proceed without more precise info.

[2019-11-01 20:16] lvfangmin commented on #9747
I'll try and see if I can set up a minimal reproducer, meanwhile, @normanmaurer can you give me more context how the OpenSslCachingX509KeyManagerFactory and OpenSslCachingKeyMaterialProvide works, which will help me understand how it improves the performance during handshake.