[2017-07-25 16:28] normanmaurer commented on #7021
Interesting... will the same error happen when you try to bind to an IPv6 address?

[2017-07-25 17:12] normanmaurer commented on #7021
@dschobel can you check if this fixes it for you: https://github.com/netty/netty/pull/7022

[2017-07-25 19:35] dschobel commented on #7021
`bind` looks like it succeeds. when running this https://gist.github.com/dschobel/0af22b79179c6f4fd3aa5267d87f7d3f in the same aurora container it prints out:

[code]

[2017-07-25 19:52] normanmaurer commented on #7021
@dschobel and if you add a `connect` to the address it fails ?

[2017-07-25 20:13] dschobel commented on #7021
@normanmaurer creating the ipv6 socket + then connecting is what failed to begin with, did you mean that I should try bind before connect?

[2017-07-25 20:17] normanmaurer commented on #7021
@dschobel I asked you if you could try to do the connect and so give me a c reproducer so I can see what is going on :)

[2017-07-25 20:22] dschobel commented on #7021
https://gist.github.com/dschobel/e9f29aa318304d2192d4357a02653da1 was my test case which is basically inlining netty's native socket code when the ip address is 0.0.0.0 or ::/0

[2017-07-25 20:27] normanmaurer commented on #7021
@dschobel hmm this looks not correct to me as you use wild card addresses and try to connect to these here:
https://gist.github.com/dschobel/e9f29aa318304d2192d4357a02653da1#file-connect-c-L66

Are you sure this works with ipv4 ? Can you try to not use a wildcard address when connect with ipv6 like `::1`

[2017-07-25 21:09] dschobel commented on #7021
@normanmaurer alright, updated to connect to ::1  in https://gist.github.com/dschobel/e9f29aa318304d2192d4357a02653da1  but please check my work because this the most C I've written in a decade  :)

the result in our aurora cluster is: `connect: Cannot assign requested address` when it's the AF_INET6 domain.

AF_INET however, succeeds.

[2017-07-25 23:01] carl-mastrangelo commented on #7009
FYI, I am going to start working on a patch.  Please let me know asap if I shouldn't.

[2017-07-26 04:43] juanmao123 commented on #3338
hi @steven-gao can you expain more more details? thanks

[2017-07-26 05:05] normanmaurer commented on #3338
I think there is most likely netty 4.0 and 4.1 on the class path. Only one of these can exists

[2017-07-26 06:23] sundarms opened #7024 "ChannelFuture not completed when "java.net.BindException: Address already in use" is thrown"
### Expected behavior
When ServerBootstrap.bind(port) fails ChannelFuture returned by bind should be failed with exception
### Actual behavior
Top level BindException is thrown and ChannelFuture never completes.

### Steps to reproduce

1. Run `nc -l <port>`
2. Run `telnet localhost <port>`
3. Find client side port used by telnet and make Server to bind to that port.

ChannelFuture returned by bin

[2017-07-26 06:45] normanmaurer commented on #7024
@sundarms I can not reproduce with a pure netty test-case:

[code]

[2017-07-26 06:47] normanmaurer commented on #7024
Also the future is notified correctly and only throws because I call `syncUninterruptibly()` which is expected.

[2017-07-26 06:47] #7024 closed

[2017-07-26 11:17] normanmaurer commented on #7021
@dschobel can you let me know what happens if you use the NIO transport ?

[2017-07-26 12:48] Gordiychuk opened #7025 "Http2FrameLogger to many char[] allocation when logger disabled"
### Expected behavior
No char[] allocation when logger disabled

### Actual behavior
The logger always performing a hex dump of the ByteBufs regarless whether or not the log would take place. I faced with huge allocation during run grpc benchmarks
![screenshot from 2017-07-26 15 40 17](https://user-images.githubusercontent.com/10699594/28621281-17ec8cfa-7219-11e7-8579-d51b7489072d.png)

### Netty

[2017-07-26 12:48] Gordiychuk commented on #7025
Check enable or not logger before encode already was introduced in #3492 but then lost in #6877

[2017-07-26 13:00] normanmaurer commented on #7025
Will fix ...

[2017-07-26 13:02] Gordiychuk commented on #7025
@normanmaurer sorry, I already prepare PR #7026

[2017-07-26 13:13] normanmaurer commented on #7025
Ha! Even better

[2017-07-26 15:25] dschobel commented on #7021
test case: https://gist.github.com/dschobel/b5d1d0f4b8c1c90733002c018e01d5c4

NIO:

[code]

native:
[code]

[2017-07-26 15:26] normanmaurer commented on #7021
Thx will check in detail

[2017-07-26 15:44] Scottmitch commented on #7014
+1 @johnou.

@Sammers21 - it is relatively easy to switch between transports ... so assuming you have some existing mechanism to measure performance of your application you can just swap the transports and observe any differences.

[2017-07-26 16:42] Sammers21 commented on #7014
@Scottmitch, @johnou, thank you, I got your point

[2017-07-26 16:46] sundarms commented on #7024
Sorry, may be I am missing something here because of I am trying to avoid try catch in my Scala code.
1. Do I have to call syncUninterruptibly() always with bind()?
2. I cannot always depend on ChannelFuture returned by bind to determine the status? For ex: if I don't have try block for bind() only the outer block gets called and ChannelFuture is never updated.
3. I will try to write my logic java

[2017-07-26 17:08] Scottmitch commented on #7020
ChannelInboundHandlers will execute on the EventLoop thread by default. Here are general recommendations to work through this performance issue:

- If the handshakes are generating too much load you can offload processing to another thread.
- Use netty-tcnative and OpenSSL to reduce the overhead of SSL and handshakes
- Upgrade your version of Netty (4.1.6 is old and much has changed since then).

[2017-07-26 19:22] #7025 closed

[2017-07-26 19:22] normanmaurer commented on #7025
Fixed by https://github.com/netty/netty/pull/7026.

[2017-07-26 22:39] anshuman-osc commented on #7020
Hi @Scottmitch

- If the handshakes are generating too much load you can offload processing to another thread.

- Upgrade your version of Netty (4.1.6 is old and much has changed since then).

- Use netty-tcnative and OpenSSL to reduce the overhead of SSL and handshakes.

[2017-07-27 05:01] normanmaurer commented on #7020
@anshuman-osc I did not say its unexpected I just said I would be interested to see a profiler snapshot ;)  Can you share the snapshot ?

[2017-07-27 05:33] Scottmitch commented on #5430
### Investigate
- (Prompted by https://github.com/netty/netty/pull/7027) During the channel initialization sequence the user may change the configuration of the channel via set* methods or via channel options. This means that we often have to lazily load items from the configuration. This interface contract is implicit, can be easy to forget in implementations, and not clear when changes to the co

[2017-07-27 05:45] anshuman-osc commented on #7020
Hi @normanmaurer
Thanks for replying. I have attached the snapshots from MissionControl which shows the CPU/Memory Thread states and Connection count. Apart from these what exactly are you interested in, and I can try and get them.

Thanks

[2017-07-27 05:47] Scottmitch commented on #7020
If you are using Java for SSL I would also recommend updating your version of java.

Where are these attached? Can you provide a link?

[2017-07-27 05:50] anshuman-osc commented on #7020
Hi @Scottmitch

I have attached the screenshots to the issue itself, are you not able to view them?

https://user-images.githubusercontent.com/7992699/28565800-9868cc76-7170-11e7-9f4e-55b4780a5c71.png

https://user-images.githubusercontent.com/7992699/28565823-aaa3600e-7170-11e7-9173-36a44f5c3095.png

Thanks

[2017-07-27 05:51] Scottmitch commented on #7009
I don't yet understand the implication of `the socket option needs to be set before the initial connection` relative to setting custom socket options ... its not clear when you would need/expect this new API to be used.

[2017-07-27 05:52] Scottmitch commented on #7020
I can see the screenshots. What we would like is the actual profile snapshot files themselves to understand what is going on in more detail.

[2017-07-27 07:11] anshuman-osc commented on #7020
HI @Scottmitch
I have attached the flight [recording.zip](https://github.com/netty/netty/files/1179112/recording.zip) from Mission Control. You can open it using Mission Control and take a look.
Does this work ?

Thanks

[2017-07-27 20:38] doom369 opened #7029 "Creating of SslContext in paranoid mode takes too long"
I have ~400 integration tests. Every test creates `SslContext` and destroys it at the end. Recently I switched my tests from JDK provider to OpenSSL provider and now my tests are executed forever :).

I found that the reason is in SslContext creation with Paranoid mode.

### Expected behavior

OpenSsl context creation performance should be close to JDK ssl context creation.

### Minimal yet comple

[2017-07-28 00:40] carl-mastrangelo commented on #7009
@Scottmitch

When connecting, I need to be able to do this:

1.  Create Socket
2.  Set custom socket options
3.  `connect()`

With the API today, I think I can only set existing socket options, or set them after connect().   Is this clear?    I may not be understanding the existing API well enough.   If there is an easy work around, I'd much prefer that!

[2017-07-28 01:50] Scottmitch commented on #7009
Got it. You will be able to execute code in `channelRegistered` which is invoked before we call `connect`.

I'm fine with exposing the a method which lets you call `setsockopt` ... but the interesting thing is there is typically some defines you need to get from JNI/c to properly interact with the `setsockopt` method. You can redefine these values in java, but this is fragile and subject to change

[2017-07-28 05:41] normanmaurer commented on #7029
@doom369 its a "known" issue as we need to call `Base64.*` methods when creating the `OpenSsl*Context` instances and this is heavy on buffer operations.

[2017-07-28 06:02] doom369 commented on #7029
Ok. I can switch to `advanced` mode. However - this page http://netty.io/wiki/reference-counted-objects.html recommends to use `paranoid`, but it really slow with OpenSSL...

[2017-07-28 06:06] normanmaurer commented on #7029
@doom369 that is because usually its not expected to have these created and destroyed very frequently. That said I think I could improve it for java8 use case... Stay tuned...

[2017-07-28 07:42] normanmaurer commented on #7029
@doom369 PTAL https://github.com/netty/netty/pull/7030 and test

[2017-07-28 07:51] doom369 commented on #7029
@normanmaurer much better now! Thanks.

Now
OpenSSL takes 40 ms;
JDK take 2ms;

[2017-07-28 08:02] normanmaurer commented on #7029
@doom369 reopen till merged.

[2017-07-28 13:59] rkapsi commented on #7020
+1 on this ticket.

We have theorized about this attack vector and it'd be great to be able to offload the handshaking to a different thread pool that doesn't interfere with the normal worker threads.

[2017-07-29 18:23] normanmaurer commented on #6929
Let me close this for now.. please re-open and provide more infos if you still think this is a netty issue.

[2017-07-29 18:23] #6929 closed

[2017-07-29 19:43] normanmaurer commented on #6881
@rschmitt @Scottmitch @chhsiao90 https://github.com/netty/netty/pull/7035 is a better fix imho... PTAL

[2017-07-30 05:04] normanmaurer commented on #6894
Fixed by https://github.com/netty/netty/pull/6897

[2017-07-30 05:04] #6894 closed

[2017-07-31 20:48] brandond commented on #6813
@Scottmitch @floragunncom I'm a bit disappointed this got closed. I am unable to use the native bindings on our ElasticSearch cluster with SearchGuard SSL because it results in Java getting OOM killed within a few minutes of startup. A JRE that normally consumes 27GB of 32GB of RAM quickly runs up to about 36GB (all available swap) and is then killed. We're taking a pretty big perf hit without it,

[2017-07-31 20:52] floragunncom commented on #6813
With ES 5.5.1 (and later) this issue should be resolved because https://github.com/elastic/elasticsearch/pull/25759 removes `-XX:+DisableExplicitGC` from the ES default config ([commit details]( https://github.com/elastic/elasticsearch/pull/25759/commits/8429c6841d02718649d6c7f6596e9ff58942dbdc)). If you are on earlier versions just remove `-XX:+DisableExplicitGC` manually from jvm.options

[2017-07-31 22:12] brandond commented on #6813
@floragunncom Even without DisableExplicitGC it still seems to behave poorly. Running ES 5.5.1 it got OOM killed while assigning shards, before the cluster even went green (I have about 5TB of data in ~8k shards). I added MaxDirectMemorySize=512m to try to limit it, but it still seems to leak memory and eventually get stuck in GC hell. Note the VM size:

[code]

[2017-07-31 22:52] humzaazam commented on #3657
Hi,
I'm experiencing the same issue using netty-all 4.1.5.Final, where, when multiple messages are received simultaneously or in quick succession, some or all of the json objects/frames sent will be chunked together and piped to next handler in the pipeline, instead of one at a time. The first time it happened, this was the json I received (I changed the values/properties because some of the data

[2017-08-01 04:37] normanmaurer commented on #3657
Please upgrade to latest 4.1 release and see if it still happens

[2017-08-01 07:24] ssheng opened #7040 "Http2ConnectionHandler#resetStream does not refund unconsumed bytes to the connection flow control window"
### Expected behavior
HTTP/2 reset stream through Http2ConnectionHandler#resetStream should refund unconsumed bytes to the connection flow control window. Otherwise, call has to explicitly invoke #incrementWindowSize with #unconsumedBytes to update the connection flow control window.

### Actual behavior
HTTP/2 reset stream through Http2ConnectionHandler#resetStream does not seem to trigger the lo

[2017-08-01 10:22] normanmaurer commented on #7040
Sounds legit... @ssheng maybe you want to provide a PR to fix this ?

[2017-08-01 10:31] floragunncom commented on #6813
@brandond Which tcnative versions?

[2017-08-01 16:22] brandond commented on #6813
@floragunncom
http://repo1.maven.org/maven2/io/netty/netty-tcnative/2.0.1.Final/netty-tcnative-2.0.1.Final-linux-x86_64-fedora.jar
https://bintray.com/floragunncom/netty-tcnative/download_file?file_path=netty-tcnative-openssl-1.0.2l-static-2.0.1.Final-fedora-linux-x86_64.jar
http://central.maven.org/maven2/io/netty/netty-tcnative-boringssl-static/2.0.1.Final/netty-tcnative-boringssl-static-2.0.1.F

[2017-08-01 16:38] Scottmitch commented on #7040
We need to be careful about auto-returning bytes to flow controller. If the user does later return these bytes we could end up violating flow control. If a user is asynchronously returning bytes to the flow control window we may get into trouble by doing something behind there back.

[2017-08-01 18:35] normanmaurer commented on #6881
Nevermind let me pull this one in for now...

[2017-08-01 19:36] floragunncom commented on #6813
2.0.0, 2.0.1 and 2.0.2 have known memory leaks, 2.0.3 should work, 2.0.4 is a broken release and 2.0.5 should also work. boringssl may work but we do not test it.

So we recommend to use our 2.0.5 static openssl build together with ES 5.5.1 and Search Guard 14. Currently i try if i can reproduce it on aws with esrally. But so far no problems yet.

[2017-08-01 20:54] brandond commented on #6813
Do you have a static OpenSSL build of a known stable release? The only static build I could find on maven was the BoringSSL build. I'm referencing this document, which it sounds like should be updated to mention the fact that massive memory leaks are to be expected unless you have the right versions of elasticsearch and netty-tcnative.

https://github.com/floragunncom/search-guard-docs/blob/master

[2017-08-01 21:01] floragunncom commented on #6813
We will update the docs soon. See http://dl.bintray.com/floragunncom/netty-tcnative/

[2017-08-01 21:13] brandond commented on #6813
Result:
[code]

jvm.options for es:
[code]

[2017-08-01 21:18] floragunncom commented on #6813
With ES 5.5.1?
What is your java version and vendor?
Do you make big bulk requests?

[2017-08-01 21:29] brandond commented on #6813
Here's the startup log, with ES and Java versions.

[code]

With netty-tcnative installed, I've never been able to get the cluster to stay up long enough to actually start making any queries. It OOMs while assigning shards.

[2017-08-01 21:39] brandond commented on #6813
Just for the heck of it, I tried adding: `-XX:MaxDirectMemorySize=512m` to jvm.options. If I do this, it does not immediately get OOM killed. It does however chew through a ton of VM and eventually end up stalled in GC hell before I have to shut it down manually.
[code]

[2017-08-01 21:43] floragunncom commented on #6813
Ok, so with Java SSL it works basically?
Have you set "bootstrap.memory_lock: true" in elasticsearch.yml?
Have you disabled hostname verification?

I am currently testing on AWS with the following parameters and it works without any hassle:
- 3 x r3.2xlarge, 30 GB heap, Ubuntu 16.04 (Kernel 4.4.0)
- ES 5.5.1, SG 14, Oracle JVM 1.8.0_131/25.131-b11, memory_lock true
- max file desc = 1000000
- Inst

[2017-08-01 21:43] floragunncom commented on #6813
@Scottmitch @normanmaurer any ideas?

[2017-08-01 21:49] brandond commented on #6813
memory lock and hostname verification are both off. You're running with 30GB heap with 61GB of RAM; I'm running with 20 of 31. I'll try dropping it down to 15GB with no MaxDirectMemorySize and memory_lock on and see if it makes any difference.

[2017-08-01 21:56] brandond commented on #6813
15GB heap and no MaxDirectMemorySize: OOM killed.

[code]

[2017-08-01 22:03] brandond commented on #6813
10GB heap: no OOM kill, but started chewing through VM and went into GC hell, similar to how it behaved with MaxDirectMemorySize.

[code]

[2017-08-01 23:25] Scottmitch commented on #3138
Observed while building https://github.com/netty/netty/pull/7041 built on CI https://garage.netty.io/teamcity/viewLog.html?buildId=22852&buildTypeId=pulls_netty&guest=1 (centos6-1)

[code]

[2017-08-02 04:59] #6881 closed

[2017-08-02 04:59] normanmaurer commented on #6881
Fixed by https://github.com/netty/netty/pull/6952

[2017-08-02 15:47] Scottmitch commented on #6881
@normanmaurer - can you explain this change in opinion?

[2017-08-02 15:50] Scottmitch commented on #6813
@floragunncom - no ideas and limited cycles at the moment.

@brandond - can you provide a reproducer similar to https://github.com/netty/netty/issues/6813#issuecomment-315210573?

[2017-08-02 15:50] normanmaurer commented on #6881
@Scottmitch see what @ejona86 said in https://github.com/netty/netty/pull/7035... We may want to reconsider even remove `replace(...)` in next major release. But I need to think more about this...

[2017-08-03 08:18] a-a-davydov opened #7045 "Sharing event loop group on client side"
On jetty 4.1.11 I try to share same eventLoopGroup between some clients using following code

`public class SimpleClientFactory implements AutoCloseable {

    private final EventLoopGroup workerGroup;
    private final HandlerFactory clientHandlerFactory;

    public SimpleClientFactory(HandlerFactory clientHandlerFactory) {
        this(clientHandlerFactory, 1);
    }

    public SimpleClientFac

[2017-08-03 11:43] a-a-davydov commented on #7045
I'm sorry. I found bug in my server logic implementation. So code in my message is valid example of sharing EventLoopGroup between clients.

[2017-08-03 11:43] #7045 closed

[2017-08-03 11:52] dimitarg commented on #2105
@normanmaurer Thanks! It is as you say, and that is a good approach. The user should fork explicitly if they so desire.

Well, then, the monadic interface should follow the exact same semantics. Here is an initial implementation:

[code]

Let's put it to use:
[code]

This outputs (ordering aside):
[code]

Nothing surprising here. Simple semantics - thread context never changes unless user states i

[2017-08-03 12:23] johnou commented on #2105
Future is awful, requires the user to continually poll for when it is ready.

[2017-08-03 12:28] dimitarg commented on #2105
This is io.netty.util.concurrent.Future ?

[2017-08-03 12:32] slandelle commented on #2105
The awfully complex thing with Future composition is cancellation.
Lightbend people discarded the problem and dropped cancel from Scala Future and use `CompletionStage` from their Java APIs.
IIRC, Finagle Future has composite cancel support, might be worth getting Twitter people in the loop.

[2017-08-03 13:03] dimitarg commented on #2105
I've updated the failOrEffect implementation to handle cancellation in a more sensible manner. If the upstream future is cancelled, the result returned by map and flatMap will be cancelled, too.

[code]
This outputs:
[code]

[2017-08-03 13:06] dimitarg commented on #2105
@slandelle I'm not sure I completely understand your comment. Just to reiterate, what at least I am aiming for here, is monadic interface for n.u.c.Future, and not a complete overhaul of the netty concurrency facilities. That's way past my capabilities.

[2017-08-04 05:22] rschmitt opened #7047 "KQueue shutdownGracefully behavior oddity"
### Expected behavior

When running the example code below, the behavior should match that of Nio and Epoll:

[code]

### Actual behavior

The socket is left open, resulting in the second bind() call failing:

[code]

### Minimal yet complete reproducer code (or URL to code)

[code]

### Netty version

Latest 4.1 branch

### JVM version (e.g. `java -version`)

java 8u144

### OS version (e.g. `una

[2017-08-04 06:11] Scottmitch commented on #7047
This is "expected"/"known" behavior at the moment. The KQueueEventLoop doesn't keep a collection of all registered file descriptors to reduce memory and avoid a map lookup for each notification from `kevent`. I will need to think about approaches here ... not sure if there is an alternative to keeping an additional `Set` just for cleanup purposes. It would be ideal if there was a way to retrieve/i

[2017-08-04 10:00] normanmaurer commented on #6798
@fredericBregier ping

[2017-08-04 18:44] Scottmitch opened #7053 "Writing outside the event loop generates multiple writability change notifications"
It has been observed that writing outside the event loop can generate multiple writibaility change notifications even when only a single notification would be expected [1]. We should investigate if there are race conditions or sequencing issues.

https://github.com/netty/netty/pull/7041#discussion_r130725503

[2017-08-04 18:45] normanmaurer commented on #7053
@Scottmitch thanks ? 🤣  Joking aside will look into it once I have some cycles.

[2017-08-04 18:45] Scottmitch opened #7054 "OioSocketChannel writability change notifications"
OioSocketChannel does not notify of writability changes in the same way as the other transport types [1].

[1] https://github.com/netty/netty/pull/7041#discussion_r130725832

[2017-08-04 18:46] Scottmitch commented on #7054
I'm not sure if this is an issue but lets investigate.

[2017-08-04 18:46] normanmaurer commented on #7054
@Scottmitch +1... Let me assign this to myself for now

[2017-08-04 18:47] Scottmitch commented on #7053
https://github.com/netty/netty/pull/7041#discussion_r131238579

You asked for it :)

[2017-08-04 18:48] normanmaurer commented on #7053
@Scottmitch hehe damn it 👍

[2017-08-04 18:49] normanmaurer commented on #7040
@Scottmitch @ejona86 so what to do about this ? Closing as `won't fix` ?

[2017-08-04 20:32] Scottmitch commented on #7040
I would need to investigate but when a stream is closed we implicitly return bytes to flow control so it is not clear this requires action.

[2017-08-04 20:35] Scottmitch opened #7055 "SslHandlerTest.compositeBufSizeEstimationGuaranteesSynchronousWrite failure"
Observed while building PR https://github.com/netty/netty/pull/7052

https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=23001#_focus=40648

[code]

[2017-08-05 17:29] Scottmitch opened #7056 "SocketStringEchoTest timeouts"
Observed on CI while building https://github.com/netty/netty/pull/7042

https://garage.netty.io/teamcity/viewLog.html?buildId=23014&buildTypeId=pulls_netty&tab=buildLog#_focus=109655

[code]

https://garage.netty.io/teamcity/viewLog.html?buildId=23014&buildTypeId=pulls_netty&tab=buildLog#_focus=110456

[code]

[code]

Possibly related:
https://github.com/netty/netty/pull/7041

[2017-08-06 13:03] normanmaurer commented on #6899
@bfritz ping...

[2017-08-06 13:04] normanmaurer commented on #6860
@doom369 I think it is ok how it is atm as it allows us to do some optimisations in some cases. That said you can create a `SslHandler` and five an SSLEngine by yourself if you like to.

[2017-08-06 13:04] #6860 closed

[2017-08-06 13:04] normanmaurer commented on #6815
Let me close this for now and please reopen if you think there is an issue with the latest release

[2017-08-06 13:04] #6815 closed

[2017-08-06 13:30] normanmaurer commented on #6695
@mskaric sorry I totally forgot about this... I added two test-cases for what you describe and all works:

https://github.com/netty/netty/pull/7057

can you please let me know what I missed ?

[2017-08-06 13:31] normanmaurer commented on #6678
We did this but forgot to close the issue...

[2017-08-06 13:31] #6678 closed

[2017-08-06 13:32] normanmaurer commented on #6666
@rkapsi I just tried with this maven version on two different machines and all works :( Let me close this for now as I think its an issue with the env setup

[2017-08-06 13:32] #6666 closed

[2017-08-06 13:32] normanmaurer commented on #6649
@trustin ping

[2017-08-06 13:33] normanmaurer commented on #6578
@fsareshwala @nhnFreespirit ping...

[2017-08-06 13:35] normanmaurer commented on #6437
I will close this for now... please re-open if the issue still exists in the latest release

[2017-08-06 13:35] #6437 closed

[2017-08-06 13:36] normanmaurer commented on #5930
I will close this for now... please reopen if you think there is still an issue

[2017-08-06 13:36] #5930 closed

[2017-08-06 13:37] normanmaurer commented on #5920
@buchgr can you take care ?

[2017-08-06 13:39] normanmaurer commented on #5857
I think this was fixed by https://github.com/netty/netty/issues/6496 . Please reopen if this is not the case

[2017-08-06 13:39] #5857 closed

[2017-08-06 13:39] normanmaurer commented on #5789
This was fixed...

[2017-08-06 13:39] #5789 closed

[2017-08-06 13:41] normanmaurer commented on #5460
I will close this for no.. Please re-open if you still think there is something needed to be changed in netty

[2017-08-06 13:41] #5460 closed

[2017-08-06 13:41] normanmaurer commented on #5396
@carl-mastrangelo ping

[2017-08-06 13:43] normanmaurer commented on #5296
I think we can close this as  #5399 was merged

[2017-08-06 13:43] #5296 closed

[2017-08-06 13:44] normanmaurer commented on #4943
@ejona86 actually I think this is fine and expected. What is the issue ?

[2017-08-06 13:45] normanmaurer commented on #4941
This is implemented as part of #6896

[2017-08-06 13:48] normanmaurer commented on #4585
@Scottmitch @nmittler was this fixed ?

[2017-08-06 13:49] normanmaurer commented on #4346
@Scottmitch is this still needed ?

[2017-08-06 13:49] normanmaurer commented on #4302
This was not seen for a long time... let me close it

[2017-08-06 13:49] #4302 closed

[2017-08-06 13:50] normanmaurer commented on #4232
Let me close this as the UDT transport is ´@deprecated´

[2017-08-06 13:50] #4232 closed

[2017-08-06 13:52] normanmaurer commented on #4210
@trustin @nmittler @Scottmitch any takers ?

[2017-08-06 14:10] normanmaurer commented on #3737
I think this is done... @louiscryan please reopen if this is not the case.

[2017-08-06 14:10] #3737 closed

[2017-08-06 14:15] normanmaurer commented on #3349
@megahall this is not the case anymore as we support handling TTL now. Closing it

[2017-08-06 14:15] #3349 closed

[2017-08-06 15:42] bfritz-zed commented on #6899
@normanmaurer Did you mean @bgleib ?

[2017-08-06 15:45] bfritz commented on #6899
@normanmaurer did you mean @bgleib ?

[2017-08-06 16:05] normanmaurer commented on #3075
Actually I did some work here and now its a lot better... let me close this

[2017-08-06 16:05] #3075 closed

[2017-08-06 16:07] normanmaurer commented on #2381
This can be closed now. See https://github.com/netty/netty/wiki/Thread-Affinity

[2017-08-06 16:07] #2381 closed

[2017-08-06 16:08] normanmaurer commented on #2141
I think we can just close this now as we deprecated the UDT transport and it will be removed in next major release

[2017-08-06 16:08] #2141 closed

[2017-08-06 16:11] normanmaurer commented on #1460
Let me close this as we not do any changes for SPDY anymore as HTTP/2 is out

[2017-08-06 16:11] #1460 closed

[2017-08-06 16:12] normanmaurer commented on #892
UDT was deprecated and will be removed. Let me close this

[2017-08-06 16:12] #892 closed

[2017-08-06 18:02] mskaric commented on #6695
Sorry Norman,
At the moment I am unable to recall where the problem was. I think I
managed to circumvent it somehow but at the moment I am not sure how.

Srdačan pozdrav,

*Milan*

On Sun, Aug 6, 2017 at 3:31 PM, Norman Maurer <notifications@github.com>
wrote:

[2017-08-07 05:29] normanmaurer commented on #6695
Ok let me close this then for now..

[2017-08-07 05:29] #6695 closed

[2017-08-08 03:40] Deen12520 opened #7061 "writeAndFlush() doesn's work."
### Expected behavior
I want to send a large Json (about 150kb) string to server_B.
My code is in server_C.
### Actual behavior
It doesn's work.

**logs for server_B**

11:08:20.822 [nioEventLoopGroup-11-1] DEBUG io.netty.buffer.PoolThreadCache - Freed 1 thread-local buffer(s) from thread: nioEventLoopGroup-11-1
11:10:17.862 [nioEventLoopGroup-3-4] DEBUG io.netty.channel.nio.NioEventLoop - Selecto

[2017-08-08 03:59] Scottmitch commented on #6578
Let me close this for now. @nhnFreespirit will report back if there is an issue https://github.com/netty/netty/pull/6806#issuecomment-311515819.

[2017-08-08 03:59] #6578 closed

[2017-08-08 04:01] Scottmitch commented on #4585
I don't think so ... still lower priority though.

[2017-08-08 04:02] Scottmitch commented on #4346
Yes. Lower priority from my perspective though.

[2017-08-08 04:04] Scottmitch commented on #4210
no cycles at the moment

[2017-08-08 04:13] Scottmitch opened #7062 "EpollDomainSocketGatheringWriteTest#testGatheringWriteBig failure"
Observed while building PR https://github.com/netty/netty/pull/7060

https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=23077#_focus=132185&state=132185

[code]

[2017-08-08 04:13] Scottmitch commented on #3138
Possibly related https://github.com/netty/netty/issues/7062

[2017-08-08 04:21] Scottmitch commented on #7061
You are calling `writeAndFlush` and then immediately closing the channel (`ctx.close()`). You are also closing the channel after your write completes (`.addListener(ChannelFutureListener.CLOSE)`) ... I'm not sure what you are trying to do but waiting until the write completes typically makes more sense.

If you think there are more issues please provide a complete reproducer (that we can be run to

[2017-08-08 04:21] #7061 closed

[2017-08-08 05:08] Scottmitch opened #7063 "HTTP/2 limit reserved streams"
There exists some ambiguity in the HTTP/2 RFC related to if the number of streams in the pushed promise state count toward any predefined limits. To avoid memory exhaustion on the client and protect against malicious/overpowered servers we should consider implementing a limit on the number of streams in the pushed state at least on the client. The client would generate a RST_STREAM if this limit w

[2017-08-08 07:07] normanmaurer commented on #3756
Fixed by https://github.com/netty/netty/pull/7058

[2017-08-08 07:07] #3756 closed

[2017-08-08 07:38] Deen12520 commented on #7061
Thank you.
The problem is what you said. I solved.

[2017-08-08 12:19] lmsatel opened #7067 "option(RxtxChannelOption.AUTO_READ, false) doesn't not work"
### Expected behavior
Every read operation should "start timer" to eventually throw ReadTimeoutException.

### Actual behavior
Write operation does not cancels "start timer" for previous operation mentioned above.

### Netty version
4.1.12

### JVM version (e.g. `java -version`)
java version "1.8.0_112"
Java(TM) SE Runtime Environment (build 1.8.0_112-b15)
Java HotSpot(TM) 64-Bit Server VM (build

[2017-08-08 17:20] KillerMaster184 commented on #6220
I can't Play murderer In this sever in minecraft mc.pigparty.eu so if you can fix i will be super happy

[2017-08-08 20:54] eun-ice opened #7069 "Loading epoll transport from java.library.path fails"
### Expected behavior

On restricted linux systems I want to use epoll transport without the JVM being able to write an .so and load it into JVM. For example grsecurity hardened systems do only allow this if the JVM is running as a trusted user (usually root)

### Actual behavior

Putting libnetty-tcnative-linux-x86_64.so in java.library.path works fine, but libnetty_transport_native_epoll.so fail

[2017-08-08 21:09] Scottmitch commented on #7069
IIRC @normanmaurer you were going to submit a followup PR to only support the `_` names as a followup to @carl-mastrangelo's PR https://github.com/netty/netty/pull/6884 (see https://github.com/netty/netty/pull/6884#issuecomment-310574798). Once this is done I would imagine this quirk will go away?

[2017-08-08 21:27] #5435 closed

[2017-08-08 21:41] eun-ice commented on #7069
@Scottmitch due to the way the C code currently works it is either `_` or `-`, and currently epoll is loaded from /tmp using a `-` name but from java.library.path it is only loaded using the `_` name.

The PR https://github.com/netty/netty/pull/7068  makes the libraries work with both  (`_` and `-` names), although it fells a littly hacky.

[2017-08-09 00:56] Scottmitch commented on #7069
IIRC we determined that the `_` variant should would for all use cases. We have control over all the variables here (the library deployments are coupled to the new versions of software, and we don't guarantee older JNI libraries run with newer Java as this is internal API) so if there is no objection I would prefer to keep it simple and support `_`.

[2017-08-09 04:58] normanmaurer commented on #7069
Yep totally forgot about this... let me do a pr quickly.

That said we will need another tcnative release as well.

Bye
Norman

[2017-08-09 05:40] normanmaurer commented on #5430
We should change the return type of `OioDatagramChannel.config()` to `OioDatagramChannelConfig`:

See https://github.com/netty/netty/commit/f8b495b2f248ac9c908664c3ff1a7236a483b3cc

[2017-08-09 08:19] eun-ice commented on #7069
Thank you @normanmaurer

I have no opinion on how the libs schould be named, as long as I can load them from java.library.path.

On Linux the _ names seem to be more typical though.

[2017-08-09 09:23] normanmaurer commented on #7069
yeah _ sounds good.

[2017-08-09 10:07] Hema-Chandra opened #7070 "Netty client not receiving full response"
I wrote a simple Netty client that connects to a Server designed using QuickFix/J library. Now the problem is whenever the Server sends Strings at a very high speed the client sometimes not receiving the full strings. That means generally, Server sends a string starting with "8=FIX.4.2 | 9=123 | ....| 10=21 |" Every string starts with '8=' and ends with tag '10='. Now at high speed the client is s

[2017-08-09 10:37] normanmaurer commented on #7070
@Hema-Chandra this is expected as TCP may transmit data in fragments. This means its not guaranteed that you will receive the whole String in one ByteBuf.

[2017-08-09 10:37] #7070 closed

[2017-08-09 10:50] AlmogBaku opened #7071 "DnsNameResolverBuilder doesn't work on android"
### Expected behavior
DnsNameResolverBuilder should build a resolver also for Android.

### Actual behavior
`DnsNameResolverBuilder` builds a default DNS Stream Provider `DefaultDnsServerAddressStreamProvider` which uses `com.sun.jndi.dns.DnsContextFactory`.

com.sun.jndi.dns.DnsContextFactory is not supported on Android.

### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty

[2017-08-09 11:00] normanmaurer commented on #7071
@AlmogBaku but doesn't it still work ? What addresses does `DefaultDnsServerAddressStreamProvider` return for android ?

[2017-08-09 11:48] normanmaurer commented on #7063
See also:
https://github.com/netty/netty/pull/6896#discussion_r132095551

[2017-08-09 17:54] Scottmitch opened #7072 "h2childchan: Write Window Update Promise completion"
The Http2FrameCodec synchronously completes the promise associated with the window update write. However the underlying connection codec may write a WINDOW_UPDATE frame, and in this case we should complete the promise when the write completes.

https://github.com/netty/netty/pull/6896#discussion_r132104440

[2017-08-09 19:37] Scottmitch opened #7073 "h2childchan: Investigate usage of RecvByteBufAllocator"
The `RecvByteBufAllocator` API doesn't make much sense in the context of child channels. It was designed to help control the process of reading bytes from a socket, size the buffer when a read is done, and determine if we should keep reading. In this case the child channel is handed objects after this point. I think we should revisit this as a followup. Consider putting a TODO and creating a follo

[2017-08-09 20:31] Scottmitch opened #7074 "DefaultFileRegion calling open on the EventLoop thread"
`DefaultFileRegion#transferTo` may create a `new RandomAccessFile` to get the `FileChannel`. However the creation of `RandomAccessFile` will open the file descriptor ([1] -> [2] -> [3]). I don't see any attempt to set the `O_NONBLOCK` for the mode, and even if it was set for traditional files this may not even be honored by linux [4]. We should investigate the impacts of this potential blocking an

[2017-08-09 23:35] dschobel opened #7075 "should HttpObjectAggregator strip 'expect' header after sending 100 continue response?"
There is a behavior difference in how [HttpObjectAggregator](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectAggregator.java#L162) and [HttpServerExpectContinueHandler](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpServerExpectContinueHandler.java#L92)
deal with requests which set 'expect: 100

[2017-08-10 00:08] michaelandrepearce opened #7076 "MQTT NPE if password or willMessage is null."
### Expected behavior
methods should return null not NPE

### Actual behavior
throws NPE

### Steps to reproduce
Send MQTT connect message, with a null password, and then call .password or .willMesage
https://github.com/netty/netty/pull/6817
This is caused by the following change where null byte[] for these two fields is not being null handled.

Work around is to use new methods and null check man

[2017-08-10 00:42] Scottmitch opened #7078 "h2childchan: Asynchronously return bytes to flow control"
Http2MultiplexCodec currently returns all bytes bytes to flow control synchronously when reading data. We should investigate adding support to return bytes asynchronously.

[2017-08-10 08:31] dimitarg commented on #2105
I've started working on the approach I described above in this repo:

https://github.com/novarto-oss/netty-future-monad

What I have so far is the monad implementation, as well as property tests that check the implementation obeys left identity, right identity and associativity.

What is coming up is JMH benches that show how this performs to an identical approach with guava futures, and java std

[2017-08-10 09:23] zjupure opened #7079 "http2 cleartext upgrade, server not support first POST request to upgrade protocol"
send a initial upgrade request with POST method and header content-length > 0, the server will not upgrade to HTTP/2.

### Expected behavior
upgrade the HTTP/1.1 to HTTP/2 and response the request rather than 413.
as the rfc http://httpwg.org/specs/rfc7540.html, it is not mandatory that frist upgarde request must be GET or OPTIONS method. just need to modify the header "Connection", "Upgrade", "HT

[2017-08-10 09:51] normanmaurer commented on #7079
@zjupure seems legit... want to contribute a PR to fix it ?

[2017-08-10 12:24] normanmaurer commented on #7075
@dschobel agree.. want to do a pr ?

[2017-08-10 14:20] dschobel commented on #7075
Sure, happy to do it.

On Aug 10, 2017 6:24 AM, "Norman Maurer" <notifications@github.com> wrote:

[2017-08-10 14:21] Scottmitch opened #7080 "h2childchan: Child channel read queue initial size"
Http2MultiplexCodec currently uses an `ArrayDeque` with an initial size of `4`, but the implementation of `ArrayDeque` limits the smallest initial size to `8`. We should investigate if it makes sense to adjust our initial size or use an alternative data structure to trade initial memory vs. resize/copy operations.

https://github.com/netty/netty/pull/6896#discussion_r132092019

[2017-08-10 14:34] Scottmitch opened #7081 "h2childchan: Investigate Http2FrameCodec supporting Http2DataFrame + Http2WindowUpdateFrame as a single object"
To reduce object allocation and simplify the process of returning bytes to flow control we should investigate `Http2FrameCodec` supporting an object which is of type `Http2DataFrame` and `Http2WindowUpdateFrame`.

https://github.com/netty/netty/pull/6896#discussion_r132103205

[2017-08-10 15:01] Scottmitch opened #7082 "h2childchan: DefaultHttp2StreamChannel initial writability"
Currently the initial writability of `DefaultHttp2StreamChannel` is false if we have not yet created the underlying `Http2Stream` object. Typically a channel is default writability is true, unless conditions otherwise prohibit this. In the case of `DefaultHttp2StreamChannel` we should investigate if the following policy makes sense: the default state is writable unless the connection window has co

[2017-08-10 15:21] amizurov opened #7083 "StompSubframeDecoder.redHeaders no any notification when parsed line that contains multiple colon"
### Expected behavior
By STOMP 1.2 specification - header name or value include any octet except CR or LF or ":".

I understand that we can not just change the current behavior because of compatibility, but maybe we can add some kind of error notification ?

### Actual behavior
We can built stomp frame that contain invalid header. And also when decoder parsed line it simply skips it without any no

[2017-08-10 16:20] eun-ice commented on #7069
Is there any news on this, should I provide a different pull request?

[2017-08-10 16:24] martin3361 commented on #6576
I came to a point in our game project where we need this and we cannot use it

+1

[2017-08-10 16:28] normanmaurer commented on #7069
@eun-ice I reached out the the folks that maintain the maven plugin we use and see if we can jus set some config or if we need to add some ant task or such:

https://github.com/fusesource/hawtjni/issues/38

[2017-08-10 16:28] normanmaurer commented on #6576
@martin3361 if you want to you could provide a pr for this.

[2017-08-10 16:40] eun-ice commented on #7069
@normanmaurer thanks. If they do not have a quick solution, maybe you could accept my PR #7068 so at least functionality is restored until a more permanent solution is achieved.

[2017-08-10 16:43] martin3361 commented on #6576
I'm not sure if I can since I'm not familiar with endianness and how to implement it

[2017-08-10 17:30] ejona86 commented on #7078
I think the "all at once" is fine, as it behaves the same as Netty normally does (e.g., over TCP). To "push back" your only option is to stop reading. The only thing this depends on is making sure not to "read" DATA frames that are too large.

[2017-08-10 17:36] Scottmitch commented on #7078
good point. relying on the read behavior of the channel is what we should do. Have to shift my mindset to the channel based API :)

[2017-08-10 17:36] #7078 closed

[2017-08-10 17:41] ejona86 commented on #7073
The `RecvByteBufAllocator` API could address inbound flow control (like in #7078) more precisely on a subchannel. The parent's reads will probably be "good enough" already, but I'd be prone to using `RecvByteBufAllocator` simply to reduce number of special cases ("oh, the child channel ignores X").

[2017-08-10 23:34] ejona86 commented on #4943
We're not actually gaining anything from the ByteBuf. It seems better to use byte[]. The sizes involved here are _really_ small.

(In the same way, I think `long` may be better for Ping)

[2017-08-11 00:53] ssheng commented on #7040
Actually the DefaultHttp2LocalFlowController handles this quite elegantly. I will verify my test again. For now I will close this issue.
https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2LocalFlowController.java#L111

[2017-08-11 00:53] #7040 closed

[2017-08-11 02:58] okou19900722 opened #7087 "Wrong order with httpObjectAggregator and HttpResponseEncoder"
I catch a exception message:unsupported message type: DefaultFullHttpResponse(expected: ByteBuf, FileRegion)
I know if a message(not ByteBuf or FileRegion) write to AbstractNioByteChannel without Encoder, it will throw exception,but a add the HttpResonseEncoder to the ChannelPipeline. so i read the source find the code in MessageAggregator at line 227,
`final ChannelFuture future = ctx.writeAndFlu

[2017-08-11 05:14] #7076 closed

[2017-08-11 09:38] martin3361 opened #7089 "WebSocketServerHandshaker user event not triggered"
### Expected behavior
As written in docs of `WebSocketServerProtocolHandler`:
/**
 * To know once a handshake was done you can intercept the
 * {@link ChannelInboundHandler#userEventTriggered(ChannelHandlerContext, Object)} and check if the event was instance
 * of {@link HandshakeComplete}, the event will contain extra information about the handshake such as the request and
 * selected subprotoco

[2017-08-11 09:58] martin3361 commented on #6576
Here is what I use for workaround:

	private void writeFloat(ByteBuf in, float value) {
		in.writeBytes(ByteBuffer.allocate(4).order(ByteOrder.LITTLE_ENDIAN).putFloat(value).array());
	}

[2017-08-11 11:30] amizurov commented on #7089
Hi @martin3361,  i think it's not framework problem, please look carefully in example: https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/http/websocketx/server

[2017-08-11 12:16] normanmaurer commented on #7089
@martin3361 @amizurov is right... you will only get the behaviour if you use `WebSocketServerProtocolHandler`. Please check the examples

[2017-08-11 12:16] #7089 closed

[2017-08-11 16:19] alobodzki opened #7092 "InternalThreadLocalMap recent change is causing increased GCs"
### Expected behavior
InternalThreadLocalMap.stringBuilder() method is returning thread local java.lang.StringBuilder() object without causing too much of GC overhead. Implementation before 4.1.13 had thread-local large builders, that basically were always reused, in most cases without being collected. I would expect the 1024 limit that is currently on the stringBuilder could be bigger, as 1K for

[2017-08-11 18:57] fenik17 commented on #7092
+1
I added #7093.

[2017-08-11 19:34] eun-ice commented on #7069
I think I have to clarify one of my statements.

That statement seems to imply that libs with `-` can't be loaded at all on grsecurity, but that is not the case. Grsecurity doesn't care what the name of the lib is, it just has to be owned by a trusted user (root) and must not be writable for the user. libnetty-tcnative-linux-x86_64.so loads fine if placed in java.library.path.

The reason why libn

[2017-08-11 19:38] normanmaurer commented on #7069
@eun-ice so just to make sure I understand correctly you renamed it to use underscores and it failed while when just use it as it is with dashes it just works?

[2017-08-11 19:49] eun-ice commented on #7069
@normanmaurer  here is the full table:

libnetty-tcnative-linux-x86_64.so works fine with `-`. If renamed to `_` netty tries to load it but loading fails with  `unsupported JNI version 0xFFFFFFFF `

Netty doesn't even try to load libnetty-transport-native-epoll.so it only tries to load libnetty_transport_native_epoll.so . Loading libnetty_transport_native_epoll.so fails with  `unsupported JNI vers

[2017-08-11 19:53] eun-ice commented on #7069
@normanmaurer I tried to fix Native.java but it already says:

        String []libraryNames = new String[] {
          "netty-transport-native-epoll",
          "netty_transport_native_epoll"
        };
        NativeLibraryLoader.loadFirstAvailable(PlatformDependent.getClassLoader(Native.class), libraryNames);

Still it only tries to load netty_transport_native_epoll and not netty-transport-nati

[2017-08-11 20:57] normanmaurer commented on #7087
@okou19900722 thats an error in your ChannelPipeline setup.  You need to put `HttpResponseEncoder` before `HttpObjectAggregator`. Its even stated in the javadocs:

https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectAggregator.java#L43

[2017-08-11 20:57] #7087 closed

[2017-08-11 20:57] rkapsi opened #7094 "Potentially breaking change in regards to default OpenSSL/JDK cipher suites"
See 43ae9748d0d2e33813b2d5e13cca951ab04dd033

We use an explicit cipher list in conjunction with a CipherSuiteFilter (code included in the unit test) which' purpose it is to ignore Netty's default ciphers.

To put it differently, we have a list of ciphers and we want to drop everything from that list that isn't supported. We don't want include netty's defaults in the output.

The additional twist

[2017-08-11 20:58] normanmaurer commented on #7094
@rkapsi looking into it...

[2017-08-11 21:00] rkapsi commented on #7094
That was quick :)

[2017-08-11 21:14] rkapsi commented on #7094
I'm fine switching to JDK naming convention if that's deep down the intention of the change and maybe our ability to use OpenSSL names was a bug in the first place.

[2017-08-11 21:15] normanmaurer commented on #7094
@rkapsi PTAL https://github.com/netty/netty/pull/7095 ... I am not sure if we should not support both... @Scottmitch wdyt ?

[2017-08-11 21:25] rkapsi commented on #7094
Ah yea, I think there is value in being able to use either.

[2017-08-12 01:29] Scottmitch commented on #7094
my preference would be not to leak the OpenSSL cipher names in our public API. I would prefer to handle that as an implementation detail. That way folks don't have to switch cipher suites just because they switch their engine. The only hesitation would be if our RFC<->OpenSSL cipher name algorithm didn't support some cipher(s) ... but I think the better approach is to fix our algorithm.

[2017-08-12 10:09] eun-ice commented on #7069
Fix for NativeLibraryLoader is based on @normanmaurer https://github.com/netty/netty/pull/7091 is here: https://github.com/netty/netty/pull/7097

[2017-08-12 11:18] AlmogBaku commented on #7071
it just crash

On Wed, Aug 9, 2017 at 2:00 PM Norman Maurer <notifications@github.com>
wrote:

--

<http://www.rimoto.net/>

www.rimoto.com <http://www.rimoto.net/>

*Almog Baku*

*CTO & Cofounder *
Mobile: +972.50.2288.744
Social:  * <http://www.facebook.com/AlmogBaku>
<http://www.linkedin.com/in/almogbaku>*

[2017-08-12 13:07] rkapsi commented on #7094
@Scottmitch - I'll give the RFC names a try. If I read the code correctly then `availableJavaCipherSuites()` returns a list of JDK+OpenSSL ciphers in RFC naming convention?

[2017-08-12 15:20] normanmaurer commented on #7075
Fixed by https://github.com/netty/netty/pull/7086

[2017-08-12 15:20] #7075 closed

[2017-08-12 17:49] Scottmitch commented on #7094
`availableJavaCipherSuites()` should return a set which includes:
- the set of RFC cipher names which are supported
- that same set, substituting the `TLS_` prefix with `SSL_` (a workaround for IBM's JDK ... see https://github.com/netty/netty/pull/6941 for additional details).

[2017-08-12 17:54] Scottmitch commented on #7071
Please provide more details. For example we catch a `NamingException`, but is there some other type of exception thrown in your case? Can you narrow it down to which line throws (is it throwing from [2])?

[1] https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/DefaultDnsServerAddressStreamProvider.java#L92
[2] https://github.com/netty/netty/blob/4.1/resolver-d

[2017-08-12 18:07] Scottmitch commented on #7056
Observed with EPOLL for `testStringEcho` and `` while building PR https://github.com/netty/netty/pull/7091 (see https://garage.netty.io/teamcity/viewLog.html?buildId=23251&buildTypeId=pulls_netty&guest=1).

[code]

[2017-08-12 18:50] Scottmitch commented on #7069
@eun-ice - there are a few PRs which must be pulled in before `netty-transport` native will work. @normanmaurer will have to submit a PR for Netty which makes the loading after PR https://github.com/netty/netty-tcnative/pull/295 in netty-tcnative is pulled in ... stand by until the dust settles related to renaming changes.

[2017-08-12 19:19] eun-ice commented on #7069
@scottmitch thanks for the update. i have been following the whole story and tried my best to assist, since @normanmaurer s PRs didn't work in my environment. It tried to add a patch but failed at GIT

[2017-08-14 07:59] Songsayit opened #7100 "How to import all source code using android studio?"
I don't want to use  IntelliJ IDEA while I work with android studio.
Is there a way to satisfy me?
thanks!

[2017-08-14 08:00] normanmaurer commented on #7100
@Songsayit I have no expirience with android studio but in generally just import it as maven project.

[2017-08-14 08:00] #7100 closed

[2017-08-14 08:07] normanmaurer commented on #7083
@amizurov maybe you want to submit a PR and just make it configurable via a constructor argument (and using the current behaviour by default) ?

[2017-08-14 14:29] rkapsi commented on #7094
:+1: - I've switched to RFC names and everything works.

[2017-08-14 14:58] #7094 closed

[2017-08-14 15:37] johnou commented on #7094
@rkapsi so you're passing in a custom list of RFC cipher names into SslContextBuilder.ciphers(..)?

[2017-08-14 15:51] rkapsi commented on #7094
@johnou correct. We were using OpenSSL names which resulted in...

[code]

We have now switched to RFC names.

[2017-08-14 16:21] rkapsi opened #7101 "mvn compile fails on netty-transport-native-epoll"
The following happens with Maven 3.3 as well as 3.5.

`mvn compile` fails with the following error when it run it from the root of the project. It succeeds when I run `mvn -pl transport-native-epoll compile` or run `mvn compile` from inside the transport-native-epoll directory. `mvn install` always works.

The same error happens when I compile Netty in the IDE (Eclipse).

[code]

### Expected beha

[2017-08-14 16:23] normanmaurer commented on #7101
Thanks will check

[2017-08-14 16:24] carl-mastrangelo commented on #5396
I'm going to close this issue.  After looking at this about a month ago, I came to the conclusion that Netty Needs to be able to load itself.  When I was doing this I was calling `System.loadLibrary` myself, which does't work.  Netty handles the init cycle itself properly, but outside code doesn't.  (It depends on where in the cycle you start!)

This isn't an issue for me any more since I understa

[2017-08-14 16:24] #5396 closed

[2017-08-14 18:05] normanmaurer commented on #7101
@rkapsi it just works here :(

[code]

[code]

[code]

I just used a docker image to test it

[2017-08-14 18:09] rkapsi commented on #7101
@normanmaurer `mvn -pl transport-native-epoll compile` works here as well. Try `mvn compile` from the root of the project.

[2017-08-14 18:15] normanmaurer commented on #7101
@rkapsi ah sorry... I did misread your comment. Let me check

[2017-08-14 18:34] normanmaurer commented on #7101
@rkapsi ok I can reproduce it 👍

[2017-08-14 19:24] Scottmitch commented on #7094
We can if you think this is useful however I think it would be unexpected if we didn't, and also unexpected if we accepted non-RFC cipher names (e.g. OpenSSL custom cipher names at the `SslContextBuilder` level). The JDK generally accepts RFC cipher names [1] and we try to be consistent with this approach.

[1] http://docs.oracle.com/javase/8/docs/technotes/guides/security/SunProviders.html

[2017-08-15 04:24] normanmaurer commented on #6576
Fixed by https://github.com/netty/netty/pull/7099

[2017-08-15 04:24] #6576 closed

[2017-08-15 04:25] normanmaurer commented on #7092
Was fixed by https://github.com/netty/netty/pull/7093

[2017-08-15 04:25] #7092 closed

[2017-08-15 04:30] normanmaurer commented on #7079
@zjupure can you tell me which exact example code you are talking about ? We have multiple :)

[2017-08-15 04:32] normanmaurer commented on #7067
@lmsatel I am not sure I understand what exactly the issue is. Can you please provide a reproducer ?

[2017-08-15 05:01] normanmaurer commented on #7101
@rkapsi after looking more into it and also check some maven issues I think there is not much we can do here... The problem is that transport-native-epoll depends on transport-native-unix-common to be packaged as it will try to unpack the jar and copy over some files. The problem here is that the jar was not build yet and so it fails. When you use -pl this is not an issue as it will search fro the

[2017-08-15 06:03] normanmaurer commented on #6663
@mkw did you want to do a PR ?

[2017-08-15 06:03] normanmaurer commented on #6646
@jprante @davidben ^^

[2017-08-15 06:05] normanmaurer commented on #6127
This was fixed by https://github.com/netty/netty/pull/7099

[2017-08-15 06:05] #6127 closed

[2017-08-15 07:14] MKudo opened #7103 "This DirectMemory should be released"
I faced the huge direct memory usage in my application (using Netty). I research it and found this ReadOnlyByteBufferBuf copy method.

https://github.com/netty/netty/blob/eb7f751ba519cbcab47d640cd18757f09d077b55/buffer/src/main/java/io/netty/buffer/ReadOnlyByteBufferBuf.java#L419

It seams to create DirectByteBuffer and put it to UnpooledDirectByteBuf constructor. In this constructor, 'doNotFree f

[2017-08-15 07:19] jprante commented on #6646
By typing the command

Macs will return the CPU flags and will print if SSE4.1 is supported. Example:

[2017-08-15 07:42] quickn opened #7104 "Post an empty message to raise an exception"
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 117440519, max: 134217728)
	at io.netty.util.internal.PlatformDependent.incrementMemoryCounter(PlatformDependent.java:615)
	at io.netty.util.internal.PlatformDependent.allocateDirectNoCleaner(PlatformDependent.java:569)
	at io.netty.buffer.PoolArena$DirectArena.allocateDirect(PoolArena.java:7

[2017-08-15 07:47] ninja- commented on #7103
ByteBuffers are cleaned by JVM on garbage collection.
doNotFree is true, but since it's UnpooledDirectByteBuf they will both be garbage collected properly.
So my analysis here is that the code is correct.

You should use netty's ByteBufs whenever possible.

[2017-08-15 08:26] MKudo commented on #7103
Thank you your advice. Unfortunately I only using Cassandra driver (which using Netty). If I can find out fix point, I will send the request it for Cassandra driver developer.

But, UnpooledDirectByteBuf seams to try to free the memory directory. (I know if there are no Cleaner, it will do nothing and GC will free the memory.) And my hope is simply try this free.

In realloc case(capacity(int, int

[2017-08-15 08:42] #7104 closed

[2017-08-15 08:49] MKudo commented on #7103
In my understand. The problem came from ReadOnlyByteBufferBuf's miss use of UnpooledDirectByteBuf constructor. The UnpooledDirectByteBuf's constructor is used by Unpooled#wrappedBuffer.
https://github.com/netty/netty/blob/b662afeece60faf349e82c8a624f6bfd7cfe7b1f/buffer/src/main/java/io/netty/buffer/Unpooled.java#L205
In this case, set doNotFree to true is important to save original Buffer. But in

[2017-08-15 10:23] normanmaurer commented on #7103
@MKudo let me check

[2017-08-15 10:48] eun-ice commented on #7069
Current PR to test this: https://github.com/netty/netty/pull/7102

[2017-08-15 11:41] normanmaurer commented on #7103
@MKudo please check https://github.com/netty/netty/pull/7107 ...

[2017-08-15 12:07] MKudo commented on #7103
It looks good. It will help me. Thank you for your quick fix!

[2017-08-15 21:35] rkapsi commented on #7101
Hmm hmm - I see. I can live with it that I can't compile `transport-native-epoll` in my IDE (on the CLI I'm usually going the install route) but conceptually I'd say it's a bad dependency in the sense that `transport-native-unix-common` should use the output of `transport-native-epoll` and not depend on the packaged artifact?!

Not sure the above makes sense. I forgot everything about maven years

[2017-08-15 23:57] vkedia commented on #6646
This is the output of that command on my machine:
[code]

[2017-08-16 05:36] normanmaurer commented on #7103
Fixed by https://github.com/netty/netty/pull/7107

[2017-08-16 05:36] #7103 closed

[2017-08-16 05:39] zjupure commented on #7079
@normanmaurer  the http2 examples under `netty/example/src/main/java/io/netty/example/http2/helloworld`, the server examples in package `server`, `multiplex.server`, `frame.server` would response 413 code and not upgrade to HTTP/2.

I digest the source and find the default consturct function with two params of class `'io.netty.handler.codec.http.HttpServerUpgradeHandler` with set super class `Http

[2017-08-16 05:43] normanmaurer commented on #7079
@zjupure ah makes sense... Then its not a bug. Let me close this

[2017-08-16 05:43] #7079 closed

[2017-08-16 06:01] superminipig opened #7112 "socket fd leak"
### Expected behavior

### Actual behavior

### Steps to reproduce
shell : watch -n 1 "ls -l /proc/24141/fd|grep socket:"
service start: By default there are three socket fd.

More than 20 clients connect to the server.
Run for a while.
close all clients.
shell : watch -n 1 "ls -l /proc/24141/fd|grep socket:"
More than 3 socket fd.

I found that these socket fd just created not used.

### Minimal

[2017-08-16 06:06] normanmaurer commented on #7112
@superminipig you will need to provide more infos here (like a reproducer) . Also note your netty and java version are quite old so please upgrade and test again

[2017-08-16 06:06] superminipig commented on #7112
watch -n 1 'cat /proc/net/tcp|grep 1F90>>tcp.log'

watch -n 1 "ls -l /proc/24141/fd|grep socket:>>socket.log"

In the tcp.log,I can not find these socket fd that is not released.

[2017-08-16 06:10] superminipig commented on #7112
Which version do I use to be better?

[2017-08-16 06:12] normanmaurer commented on #7112
@superminipig well the latest 4.1 release and the latest java 8 release. Also I will need to have a small reproducer, like a netty server that shows the problem.

[2017-08-16 06:21] superminipig commented on #7112
Sorry, the project relies too much and there is no way to provide the smallest procedure.

[2017-08-16 06:22] superminipig commented on #7112
I first upgrade netty, try it.

[2017-08-16 15:01] Scottmitch commented on #7055
duplicate of https://github.com/netty/netty/issues/6755

[2017-08-16 15:01] #7055 closed

[2017-08-16 15:02] Scottmitch commented on #6946
duplicate of https://github.com/netty/netty/issues/6755

[2017-08-16 15:02] #6946 closed

[2017-08-16 15:02] Scottmitch commented on #6755
Observed again https://garage.netty.io/teamcity/viewLog.html?buildId=23392&buildTypeId=pulls_netty&guest=1

[2017-08-16 15:18] jianglai opened #7115 "Multiple Set-Cookie HTTP headers should not be folded into one"
According to [RFC 6265](https://tools.ietf.org/html/rfc6265#section-3):

   a single header field.  The usual mechanism for folding HTTP headers
   fields (i.e., as defined in [RFC2616]) might change the semantics of
   the Set-Cookie header field because the %x2C (",") character is used
   by Set-Cookie in a way that conflicts with such folding.

However `ServerCookieEncoder` [Javadoc](http://net

[2017-08-16 15:22] Scottmitch commented on #7112
Please extract out the necessary parts which reproduce the issue in order to get support.

[2017-08-16 15:43] Scottmitch commented on #7101
The goal was that `transport-native-unix-common` builds a static JNI library for the current platform (in addition to the java code which isn't platform dependent), then `transport-native-epoll`/`transport-native-kqueue` can include that static compiled code in its shared JNI library. It looks like I may have got some wires crossed here but hopefully we can correct the issue and declare the depend

[2017-08-16 15:47] normanmaurer commented on #7101
I will have a look again soon.

[2017-08-16 16:03] slandelle commented on #7115
My fault :(

`ServerCookieEncoder` javadoc is wrong (implementation and behavior are correct), should be:

 // Example
 HttpResponse resp = ...;
 resp.setHeader("Set-Cookie", ServerCookieEncoder.encode("JSESSIONID", "1234"));

I'm off for the next 10 days and won't be able to provide a PR until then. Feel free to provide one.

[2017-08-16 20:30] carl-mastrangelo opened #7116 "GC can cause unexpected selector timeout"
I was comparing Netty's NioEventLoop to another event loop to see if there were any behavioral differences.  One difference I found was a bug fix that doesn't seem to be in Netty.  It is possible that Netty is not affected.  Consider the following scenario:

A client is connected to a server, and periodically sends keep alives, or health checks.   The server records these health checks, and has a

[2017-08-16 20:47] ejona86 commented on #7116
I think it's fine without the "fix"? Whose to say what's happening in the scheduled tasks? Maybe the timeout is to _send_ a watchdog keepalive, and so the extra I/O delays sending even further.

Any time something like keepalives and super-long GC are combined, things will be "interesting" and you'll have to deal with it.

Note that this change would only really help if the scheduled task was the

[2017-08-16 21:13] carl-mastrangelo commented on #7116
+ @zhangkun83  who originally made the fix.

[2017-08-16 23:18] zhangkun83 commented on #7116
The original fix (more like a hack) on our internal system was deemed necessary because the delay was annoying enough -- it stopped an integration test from starting up. Another factor to consider is that our internal system heavily relies on timely health-checking, which is not the case for gRPC.

[2017-08-17 01:29] Scottmitch commented on #7116
Note that PR https://github.com/netty/netty/pull/7042 changes this timeout handling approach for EPOLL.

I agree with @ejona86 that timers + GC (which may block the current thread) may lead to unexpected results.

[2017-08-17 05:28] normanmaurer opened #7117 "Netty 4.1.14.Final fails to load on android"
From the comments of our release announcement:

[code]

http://netty.io/news/2017/08/03/4-0-50-Final-4-1-14-Final.html#comment-3472176139

[2017-08-17 05:28] normanmaurer commented on #7117
@nitsanw can you check ? We upgraded to a new version of jctools ...

[2017-08-17 06:34] normanmaurer commented on #7069
This was fixed by #7102

[2017-08-17 06:34] #7069 closed

[2017-08-17 10:37] doom369 opened #7120 "Strange warning when running on Raspberry PI (armv7l)"
One of our users reported this warning when running server based on Netty:

In code I'm using this check:

`Epoll.isAvailable()`

And provided jar has native library only for linux-x86_64.

[code]

I think this is because of armv7l architecture that is 32 bit. But shouldn't `Epoll.isAvailable()` skip the library loading in that case?

Netty 4.1.14.Final

[code]

[2017-08-17 14:12] nitsanw commented on #7117
Bugger :-(, will add a safe version and cut a release ASAP.

[2017-08-17 15:14] normanmaurer commented on #7117
@nitsanw <3... Let me know once ready or even better just provide a pr to update the version we are using once it is ready...

[2017-08-17 16:39] maseev commented on #6983
Spotted the following exceptions while running the build. Is this expected?

[code]

[2017-08-17 16:43] normanmaurer commented on #6983
Yep a jython bug while unload classes but harmless

[2017-08-17 20:37] MedicOP opened #7123 "direct memory leak"
### Netty version
4.1.13-Final

### JVM version (e.g. `java -version`)
1.8.0_144"

### OS version (e.g. `uname -a`)
CentOS 6.8

### Screenshot of YourKit profiler:
![screenshot_1](https://user-images.githubusercontent.com/18251099/29432504-3d944fbc-839c-11e7-8a41-595739643e7c.png)

Memory snapshot shows 27 million instances of ChannelOutboundBuffer$Entry. GC path points it to being a Netty issue?

[2017-08-17 22:19] Scottmitch commented on #7123
This typically means you aren't applying back pressure and are writing faster than your peer is reading.

[2017-08-18 02:22] Janmm14 commented on #7123
@Scottmitch What is back pressure? flush()?

[2017-08-18 04:47] maseev commented on #7123
@MedicOP, @Janmm14 Back pressure means that you have to stop sending data (and, probably, stop reading but it again depends on your application protocol) if your peer can't keep up with your message rate.

Basically, it means that your server sending data faster than a client can read and process. Because of that you fill your TCP SO_SNDBUF pretty quickly and start queuing messages.

Instead of th

[2017-08-18 05:18] carl-mastrangelo commented on #7009
@Scottmitch thanks for your response.  I think updating the socket options from channelRegistered will work for me and not need any api changes.

Two things though:

1.  Is every Nio/Epoll/Oio Channel **guaranteed** to have a socket (or FD)?  From looking at all of them, they create it in the constructor.  If so, I can just cast the Channel to a UnixChannel, or grab the SelectableChannel.
2.  I'd

[2017-08-18 11:14] Janmm14 commented on #7123
An attempt was made by the owner of the project to fix this issue.
I guess this can be closed.
If anyone is interested into what needs to be changed, here is the commit: https://github.com/SpigotMC/BungeeCord/commit/bd5a7e5b26b698c57e6f99933452bfc0659269f9

[2017-08-18 11:29] sujoykr1 commented on #2084
Threads are going to be renewed over time to try and avoid a probable memory leak...............Please help.

[2017-08-18 12:14] #7123 closed

[2017-08-18 12:15] normanmaurer commented on #7116
Agree with @ejona86 here as well. I would suggest we close this issue for now

[2017-08-18 15:51] Scottmitch commented on #7009
Currently yes.

This would be how we typically do it, but we are able to modify the config APIs if necessary. There is the generic `getOption/setOption` that maybe useful but we currently don't allow you to create your own `SocketChannelConfig` ... I would need to investigate if we depend upon our internal implementations anywhere which would prevent us from making this more extensible.

[2017-08-18 20:08] Sammers21 opened #7128 "Unexpected exception in the selector loop(EpollEventLoop)"
### Steps to reproduce
* in pom
[code]

* code:

[code]

* run the example
* execute code:
[code]
and then exception appears:
[code]

### Netty version
4.1.14.Final

### JVM version (e.g. `java -version`)
openjdk version "1.8.0_131"
OpenJDK Runtime Environment (Zulu 8.21.0.1-linux64) (build 1.8.0_131-b11)
OpenJDK 64-Bit Server VM (Zulu 8.21.0.1-linux64) (build 25.131-b11, mixed mode)

### OS versi

[2017-08-18 20:12] normanmaurer commented on #7128
@Sammers21 do you maybe have multiple netty versions on your class path ?

[2017-08-18 20:13] Sammers21 commented on #7128
@normanmaurer , it seems that you are right. I have vertx.io dependency in my class path

[2017-08-18 20:14] normanmaurer commented on #7128
Ensure you only have one version and all should be fine

[2017-08-18 20:14] #7128 closed

[2017-08-18 20:17] Sammers21 commented on #7128
@normanmaurer, thank you for lightning fast help!

[2017-08-19 04:04] gavenpeng opened #7130 "netty http HttpObjectAggregator handler not support no body response for example http head request"
### Expected behavior

### Actual behavior

HttpResponseDecoder decode only one message(response line and header) ,pass to HttpObjectAggregator , HttpObjectAggregator process as start message and wait content message
but no body,so HttpObjectAggregator can not do finishAggregation, so  HttpObjectAggregator out list
size is 0 ,can not fire to my handler

### Steps to reproduce

### Minimal yet comp

[2017-08-19 12:13] Sammers21 opened #7131 "io.netty.util.IllegalReferenceCountException: refCnt: 0, increment: 1"
I have following things in pipeline
[code]
and in MyServerInboundhandler I have:
[code]

This code produces an error
[code]
### Expected behavior
I m expect that all should be okay :)
### Actual behavior
An error occur
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.8.Final
### JVM version (e.g. `java -version`)
openjdk_8_131
### OS version

[2017-08-19 12:15] Sammers21 commented on #7131
It seems that the buffer I use is already released by the decoder, how I can reuse them?

[2017-08-19 12:18] normanmaurer commented on #7131
@Sammers21 remove the `super.channelRead(...)` call and ensure you call release() on the `FullHttpRequest` once you are done. Also remove the `retain()` call.

[2017-08-19 12:18] #7131 closed

[2017-08-19 12:25] Sammers21 commented on #7131
@normanmaurer, thank you! It helped!

[2017-08-19 17:08] Scottmitch commented on #7131
See http://netty.io/wiki/reference-counted-objects.html for additional context too

[2017-08-20 11:05] yangsj19870829 opened #7132 "MemoryRegionCache leak"
Hi,
We are using Netty 4.0.28.Final as http server, in the past few days the service had three times same problem. the cpu grow crazy, FGC runs high frequencly，but the memory can't recover. we have to restart servcie.  netty MemoryRegionCache maybe leak.
![gc](https://user-images.githubusercontent.com/19920538/29494305-c086ba74-85d9-11e7-9313-b12dd9a6f055.png)

![jmap](https://user-images.githubus

[2017-08-20 20:38] Scottmitch commented on #7132
Are you aware of reference counting [1] and have you enabled leak detection and ruled out the possibility for a reference count leak?

Have you taken a heap dump to determine the GC routes? If there is a lot of allocation off of the EventLoop threads it is possible that the `Recycler`/pool is retaining a lot of objects. You can disable pooling on non-EventLoop threads via a system property [2] or

[2017-08-21 05:43] normanmaurer opened #7133 "EpollSocketShutdownOutputBySelfTest.testWriteAfterShutdownOutputNoWritabilityChange failure"
[code]

[2017-08-21 05:44] normanmaurer commented on #7133
Found while build https://github.com/netty/netty/pull/7126.

@Scottmitch ^^

[2017-08-21 06:25] normanmaurer commented on #7130
Just use the `HttpClientCodec` and it will be handled correctly.

[2017-08-21 06:25] #7130 closed

[2017-08-21 06:47] gavenpeng commented on #7130
thanks

[2017-08-21 10:18] lgengsy commented on #7117
I found this  bug  on  Android device 魅蓝M5，the  netty-all-4.1.15.Final-20170819.120514-18.jar   is not   fix  .

[2017-08-21 14:41] normanmaurer commented on #7132
@yangsj19870829 as @Scottmitch said you may just need to size the cache differently. That said you may also want to upgrade to a more recent version of netty. The version you are using is very old already.

[2017-08-21 15:01] Scottmitch commented on #7117
*should* be fixed by https://github.com/netty/netty/pull/7134

[2017-08-21 15:32] caillette commented on #6980
I got it too after a fresh checkout of Netty.

I tried to fix it by copying manually the `signature.txt` file from the blob mentioned by @Scottmitch and running `mvn install` instead of `mvn clean install` and the build goes a bit further, but eventually fails with the same error. I'm just copying what I get with `mvn clean install` because it's shorter.

[code]

[2017-08-21 15:34] Scottmitch commented on #7133
I fixed the format ... couldn't read the output all on one line

[2017-08-21 15:39] Scottmitch commented on #7133
Related to https://github.com/netty/netty/issues/7053 ... Writability behavior became more predictable when moving the writes on the EventLoop thread ... but the behavior still seems unexpected.

[2017-08-21 16:41] Scottmitch commented on #7053
I'm starting to understand some of issues here:

`AbstractChannelHandlerContext` immediately increments the pending bytes when a `AbstractWriteTask` is initialized [1] (out side the EventLoop), and then it decrements the bytes when the `Runnable` is executed before a write is done [2].  When the write is done this will add the message the `AbstractChannel` will add the message to the `ChannelOutbo

[2017-08-21 16:45] Scottmitch commented on #6980
Here is where that file comes from:
https://github.com/netty/netty/blob/4.1/dev-tools/src/main/resources/forbidden/signatures.txt

It should be copied to `target` of each sub-module during the build.

[2017-08-21 17:23] #7117 closed

[2017-08-21 17:23] normanmaurer commented on #7117
Fixed by https://github.com/netty/netty/pull/7134

[2017-08-21 18:09] Scottmitch commented on #6755
Observed again https://garage.netty.io/teamcity/viewLog.html?buildId=23623&buildTypeId=pulls_netty&guest=1

[code]

[2017-08-21 18:24] Scottmitch commented on #6755
Even more visibility: https://github.com/netty/netty/pull/7136

[2017-08-21 19:46] caillette commented on #6980
Each submodule, OK, thanks.

[2017-08-22 05:17] Divx001 opened #7137 "Apex minecraft hosting server "failed to mark promise as success because it has succeeded""
Renting a server from apex and installed few mods was running great but then the console started filling with the error above and everytime it appeared it lagged the whole server. Just looking for a fix so i can play on the server with friends tried updating netty on the server by replacing the one in both the com and io folders with the latest jar on the netty site and i still get the errors that

[2017-08-22 05:36] normanmaurer commented on #7137
@Divx001 this sounds like a bug in the system that is using netty. Which basically means they complete a `ChannelPromise` but also forward it through the pipeline. Please report the issue to the software creator itself

[2017-08-22 05:36] #7137 closed

[2017-08-23 03:33] alvinlin123 commented on #3924
I am closing this issue because I no longer work at the company when I open this issue :)

[2017-08-23 03:33] #3924 closed

[2017-08-23 09:08] anshuman-osc commented on #7020
Hi @Scottmitch , @normanmaurer

Did the flight recording help?

Thanks

[2017-08-23 11:03] binakot commented on #6576
I'm working on gps devices server and I really need this asap 🚜

+1

[2017-08-23 11:53] normanmaurer commented on #7021
Fixed by https://github.com/netty/netty/pull/7022

[2017-08-23 11:53] #7021 closed

[2017-08-23 15:12] darinhoward commented on #6125
io.netty.bootstrap.NettyDispatcher doesn't seem to be a standard Netty class, possible you are running w/ a javaagent declared that is making alterations.

[2017-08-23 15:28] Scottmitch commented on #7020
sorry I have not had cycles to investigate this yet

[2017-08-23 15:36] normanmaurer commented on #7020
Same but still on my to do list

[2017-08-23 16:35] om26er opened #7139 "WebSockets on Android"
Hi!

I work for Crossbar.io, the main sponsor of Autobahn libraries. We are working on [autobahn-java](https://github.com/crossbario/autobahn-java). For headless our autobahn-java is based on Netty's websocket APIs that works fine as it should.

For Android I want to know if Netty is the right choice i.e. is Netty's WebSocket implementation officially supported on Android ? I ask this because I fo

[2017-08-24 00:49] dineshappavoo commented on #2668
@normanmaurer  I am getting the same error while building for Mac OSX 10.11.6.  Any update on this issue?

`[ERROR] Failed to execute goal org.fusesource.hawtjni:maven-hawtjni-plugin:1.11:build (build-native-lib) on project netty-tcnative: build failed: org.apache.maven.plugin.MojoExecutionException: ./configure failed with exit code: 1 -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionExce

[2017-08-24 06:15] normanmaurer commented on #2668
@dineshappavoo can you please show me the full error ?

[2017-08-24 06:17] #6933 closed

[2017-08-24 06:28] normanmaurer commented on #6933
Fixed by https://github.com/netty/netty/pull/7126

[2017-08-24 06:55] dineshappavoo commented on #2668
@normanmaurer here is the full error,

`[INFO] configure: error: the --with-apr parameter is incorrect. It must specify an install prefix, a build directory, or an apr-config file.
[INFO] checking for APR...
[INFO] rc: 1
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] Netty/TomcatNative [Parent] ........................ SUCCESS

[2017-08-24 06:57] normanmaurer commented on #2668
@dineshappavoo never saw this one... Did you follow these steps:

http://netty.io/wiki/forked-tomcat-native.html#building-on-mac-os-x

[2017-08-24 07:35] dozer47528 opened #7142 "Got lots of `SSLException` `SSLEngine closed already` error when restart the server"
### Expected behavior
Without `SSLException` `SSLEngine closed already` error

### Actual behavior
Got lots of `SSLException` `SSLEngine closed already` error

### Steps to reproduce
Restart the server.
And more than 20k clients will connect to the server at the same time.

### Minimal yet complete reproducer code (or URL to code)
This is a WebSocket server with SSL.

### Netty version
4.1.12.Fina

[2017-08-24 07:36] dozer47528 commented on #7142
That's so wired, because the SSL handshake is done, and the server received the WebSocket handshake request from the client.

[2017-08-24 08:06] johnou commented on #6933
@normanmaurer did you by chance run the benchmarks to compare Java 9 ALPN to the other engines?

[2017-08-24 08:14] normanmaurer commented on #6933
@johnou nope... that said I expect it to be slow still as SSL perf in JDK is still a way worse compared to netty-tcnative or conscrypt.

[2017-08-24 08:23] mayflaver commented on #6459
@normanmaurer   @Scottmitch We can create new CombinePromise(a special promise which monitors other future) by combine PromiseCombiner with PromiseAggregator,  it's executor guards thread-safe issues(thread confinement).

[2017-08-24 09:05] #7142 closed

[2017-08-24 13:12] WhiteTrashLord opened #7145 "ChannelProgressiveFuture should be changed"
I did some tests with the example HttpStaticFileServer.
I downloaded a file and canceled the connection before completion.
In order to better handle such an abort, I have 2 ideas:

1)

Adding a new method to ChannelProgressiveFutureListener

operationCanceled(ChannelProgressiveFuture future, long progress, long total) which will be called instead of the operationComplete in such a case.

or

2)

C

[2017-08-24 16:53] exell-christopher commented on #6524
I just ran into the need for this functionality when attempting to get delay timing out of tasks submitted to the event loops. Due to the fact that the channels have isCompatible that check the type of the event loop, it's not possible to just subclass the event loop to introspect submitted tasks.  It would be super nice to have this functionality for metric generation.  I'd be willing to take a c

[2017-08-24 17:00] Scottmitch commented on #6524
@exell-christopher - I would like to make the `EventLoop` and related APIs less coupled to implementations and more extensible (see https://github.com/netty/netty/issues/5430#issuecomment-284551318) in future releases.

I haven't had time to think about this for the current APIs ... a bit busy at the moment but PRs are welcome. Obviously we want this to be low/zero overhead if not enabled.

[2017-08-24 18:03] dineshappavoo commented on #2668
@normanmaurer I followed that wiki. I did the same steps.

[code]
To checkout the branch, I tried with master and netty-tcnative-parent-2.0.6.Final. I got the same error :(

[2017-08-24 18:05] johnou commented on #7132
@yangsj19870829 how many threads are you running?

[2017-08-24 20:29] Jezza opened #7147 "ObjectEncoder and ObjectDecoder support within DatagramPacketEncoder and DatagramPacketDecoder"
Bit of an addition to #1350:
The `DatagramPacketEncoder` and `DatagramPacketDecoder` can't support any encoders or decoders built on top of the `MessageToByteEncoder`/`ByteToMessageDecoder` such as the `ObjectEncoder` or `ObjectDecoder` set.

Due to the object structure of the `MessageToByteEncoder`/`ByteToMessageDecoder`, the current workaround is to manually implement either the content codecs o

[2017-08-25 07:50] dozer47528 commented on #7142
Fixed, not a Netty issue.
The JDK SSL engine is very slow, the clients are time out, this is the root cause.

[2017-08-25 13:34] lmsatel commented on #7067
Here is fragment of code:

bootstrap.group(group)
                    .channel(RxtxChannel.class)
                    .option(RxtxChannelOption.AUTO_READ, false)
                    .option(RxtxChannelOption.BAUD_RATE, baudRateLocal)
                    .option(RxtxChannelOption.DATA_BITS, dataBits)
                    .option(RxtxChannelOption.STOP_BITS, stopBits)
                    .option(Rxtx

[2017-08-25 17:06] michaelandrepearce opened #7150 "Netty Epoll.isAvailable() check doesn't handle lib loading issue on 32bit JVM"
### Expected behavior
Method should check os and jvm variables if it can safely load the libs expected and return false and not cause JVM warning by loading incompatible libs

https://issues.apache.org/jira/browse/ARTEMIS-1099

### Actual behavior
using a 32 bit JVM:
Java HotSpot(TM) Server VM warning: You have loaded library /tmp/libnetty-transport-native-epoll7550636318037030956.so which might h

[2017-08-25 17:20] michaelandrepearce commented on #7150
This seems similar to (possible duplicate ) https://github.com/netty/netty/issues/7120

[2017-08-25 17:20] johnou commented on #7150
@michaelandrepearce are you packaging your own epoll artifact? There is currently no 32 bit support for epoll. Iirc detecting actual architecture from jvm is not straightforward.

[2017-08-25 19:01] dineshappavoo commented on #2668
@normanmaurer I appreciate your help. I created a separate issue with netty-tcnative repo. It would be really helpful if you could give some lead on that one.

[2017-08-25 19:25] michaelandrepearce commented on #7150
@johnou No we're not, the isAvailable() check needs to take this into account though in its checks to detect if it is available, before trying to load the native libs.

[2017-08-25 23:57] liuhualh commented on #5930
@normanmaurer Thank you very much 👍

[2017-08-26 04:24] daenius opened #7154 "ByteToMessageDecoder NullPointerException"
### Netty version
4.1.13 FINAL

### JVM version (e.g. `java -version`)
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

and

java version "1.8.0_141"
Java(TM) SE Runtime Environment (build 1.8.0_141-b15)
Java HotSpot(TM) 64-Bit Server VM (build 25.141-b15, mixed mode)

### OS version (e.g. `uname -a`)
O

[2017-08-26 05:05] Scottmitch commented on #7154
This assertion indicates either:
1. `ChannelHandlerContext` has not been set. Which would point to a configuration/initialization bug.
2. The HTTP/2 codec is not thread safe. You must only interact with it from the EventLoop thread.

[2017-08-26 05:06] johnou commented on #7150
@michaelandrepearce but I am running a custom packaged epoll artifact which runs on 32 bit architecture so the suggested changes will break our application :(

[2017-08-26 05:19] Scottmitch commented on #7150
@michaelandrepearce - can you describe the implication of the "Actual Behavior"? I would like to understand what the impacts of this issue are. For example is one of the following happening:
- Is it that the library is loaded and later crashes or does something unexpected?
- Does the load fail, and the error message is printed out, and you just don't want to see the error message?

[2017-08-26 06:04] Scottmitch commented on #7139
We generally don't target the Android platform, so I wouldn't say its officially supported. However we do get issues from time to time related to Netty on Android and when reasonable we fix them and may file issues if appropriate. We have a few contributors that maybe able to say more on the topic (/cc @ejona86 @carl-mastrangelo @nmittler).

[2017-08-26 12:35] Apache9 opened #7155 "Move methods declared in SliceableFileRegion to FileRegion"
This is a follow on work for #6997 which aims to add slice support for `FileRegion`. For keeping compatible, we can not add new methods directly to `FileRegion` as it is an interface, so a `SliceableFileRegion` interface is introduced. We should move all the methods declared in `SliceableFileRegion` to `FileRegion` when we are allowed to do incompatible changes, for example, when releasing netty 4

[2017-08-27 10:53] fredericBregier commented on #6798
Maybe the reset is a normal situation in most cases, but not in high number of connections...

So I could suggest to add an option to the constructor of the `GlobalChannelTrafficShapingHandler` or a specific method to set a different behaviour such that this reset is not called.

Note however that `GlobalChannelTrafficShapingHandler` should be created ONCE and not for each pipeline creation (so re

[2017-08-27 13:21] ShawnZK commented on #6798
@fredericBregier

That's exactly what we did to solve(or work around) the problem, we dump the code, create our own class and remove the reset part. And in the following tests, it seemed to work.
Really thanks for your advice.

[2017-08-27 14:07] fredericBregier commented on #6798
@ShawnZK Maybe you could submit a patch to allow this through a special method to disallow reset in high connections rate ?

[2017-08-27 14:23] ShawnZK commented on #6798
@fredericBregier
Sure, I'd love to.
I'll submit after I make sure the code is running without any problems.

[2017-08-27 18:44] axtavt opened #7156 "DefaultSocks5CommandRequest incorrectly rejects SOCKS5 commands with dstPort=0"
### Expected behavior
According to [SOCKS 5 spec](https://www.ietf.org/rfc/rfc1928.txt), dstPort = 0 is a valid value in case of UDP ASSOCIATE command:

### Actual behavior
However, constructor of DefaultSocks5CommandRequest rejects this value as invalid:

    if (dstPort <= 0 || dstPort >= 65536) {
            throw new IllegalArgumentException("dstPort: " + dstPort + " (expected: 1~65535)");

[2017-08-27 23:46] daenius commented on #7154
Thank you very much for the quick reply!

It would be difficult to provide a reproducer as of now since it deals with a specific server that has some specific setups, but I'll certainly try my best to see if I can rule out the above scenarios.

Do you think the NPE in the decoder is likely due to the fact that it isn't threadsafe then?

[2017-08-28 09:00] normanmaurer commented on #7156
@axtavt please check https://github.com/netty/netty/pull/7157

[2017-08-28 09:17] slandelle commented on #7115
I just sent a PR for fixing the javadoc

[2017-08-28 09:41] amizurov commented on #7083
Ok, with great pleasure.

[2017-08-28 16:32] gemmellr opened #7159 "AssertionError error thrown during Epoll channel cleanup"
We received a bug report [1] that our client which uses Netty 4.1.14, was failing some user tests due to throwing an assertion error:

        at io.netty.channel.epoll.EpollEventLoop.remove(EpollEventLoop.java:159)
        at io.netty.channel.epoll.AbstractEpollChannel.doDeregister(AbstractEpollChannel.java:142)
        at io.netty.channel.epoll.AbstractEpollChannel.doClose(AbstractEpollChannel.j

[2017-08-28 18:21] #7115 closed

[2017-08-28 18:24] normanmaurer commented on #7115
Fixed by https://github.com/netty/netty/pull/7158

[2017-08-28 18:25] normanmaurer commented on #7159
@gemmellr let me check

[2017-08-28 23:39] ejona86 commented on #7139
I've seen it work without much hassle. Android is quite different from OpenJDK in terms of I/O, allocations, and TLS, so Netty is sort of tuned opposite of what is best for Android. It seems like WebSockets are supported with OkHttp; that's probably what I'd be more inclined to go with on Android.

[2017-08-29 02:46] michaelandrepearce commented on #7150
@scottmitch
It loads the lib but due to the bit complied on invocation (used by is available) it causes a native stack error and then the jvm has to unload i gracefully. It does continue, but this reliance that the jvm can catch this safely unload really should be avoided.

[2017-08-29 02:50] michaelandrepearce commented on #7150
Re 32 bit custom builds, I think personally what is delivered in tested distributed build is what should be checked, if you have a custom build then you can custom update the check also.

Once/if netty provides a bundled/distributed 32 bit build then this would change but to deliver that a better native lib foldering and loading should be done like JNR project does with jffi.
Eg right now if a 32

[2017-08-29 03:06] Scottmitch commented on #7139
Let me close this since this is not a Netty issue ... feel free to continue discussion though

[2017-08-29 03:06] #7139 closed

[2017-08-29 03:14] Scottmitch commented on #7150
I would prefer to avoid getting into the "filtering what we support game" and instead rely upon the linker/architecture to detect these issues. Is there an option to modify the link/build commands to fail in a manner that is cleaner, or some other approach to improve detection?

[2017-08-29 03:50] daenius commented on #7154
Upon much more digging I was able to arrive at the place that's disconnecting in my client whenever it tries to read DATA frames:

In **DefaultHttp2LocalFlowController**, the **private static final DefaultHttp2LocalFlowController.FlowState REDUCED_FLOW_STATE** implementation of FlowState

[code]
Regardless of the state of endOfStream, it'll ALWAYS throw UnsupportedOperationException, causing the c

[2017-08-29 04:17] michaelandrepearce commented on #7150
As noted JNR uses a nice foldering structure and loading mechanism to support multiple bit builds and is specific builds. Maybe this could be adopted instead

[2017-08-29 06:28] michaelandrepearce commented on #7150
I note there is some override in the current hawtjni plugin that means it drops the platform folder, any specific reason? I ask as this is similar way that JNR does this, and if used would help this issue.

[2017-08-29 07:59] normanmaurer commented on #7159
@gemmellr fixed by https://github.com/netty/netty/pull/7162. Please check

[2017-08-29 10:47] johnou commented on #7150
One could also argue it's a deployment issue (incorrect jar on the classpath), the classifier for the jar is  linux-x86_64..

[2017-08-29 11:04] gemmellr commented on #7159
I gave #7162 a try out from the branch and it indeed looks to fix the issue, previously the originating client test showing the problem would fail first time for me, with the updated artifact it ran successfully in a loop for some time.

I noticed while doing so that the instructions at http://netty.io/wiki/native-transports.html#building-the-linux-native-transport could be outdated, as they menti

[2017-08-29 11:19] michaelandrepearce commented on #7150
As noted dependency is on netty all (contains epoll and kqueue), and surely this is the point of the isAvailable check so code can see if it can safely use and then if not failback, aka back onto nio.

[2017-08-29 11:20] michaelandrepearce commented on #7150
Back to resolving this, is there any particular reason why overriding the default hawtjni and not use its loader?

[2017-08-29 13:03] normanmaurer commented on #7156
Fixed by https://github.com/netty/netty/pull/7157

[2017-08-29 13:03] #7156 closed

[2017-08-29 13:04] normanmaurer commented on #7154
@ejona86 PTAL as well

[2017-08-29 20:08] normanmaurer commented on #7083
Fixed by https://github.com/netty/netty/pull/7160

[2017-08-29 20:08] #7083 closed

[2017-08-29 20:46] takeseem commented on #5950
@svnp10 ping

[2017-08-29 20:51] takeseem commented on #3897
waiting epoll support in vert.x :)

[2017-08-29 23:30] Bennett-Lynch opened #7164 "SimpleChannelEventHandler"
`SimpleChannelInboundHandler<I>` is a nice convenience.

Would it make sense to offer the same utility for UserEvents?

[2017-08-30 11:11] irunika opened #7166 "Should not allow multiple Subprotocols for WebSocket Client Handshake"
According to the specification of WebSocket sub-protocols in [RFC 6455 section 1.9](https://tools.ietf.org/html/rfc6455#section-1.9) even though the server could have multiple subprotocols which can be allowed, a client can only ask for a specific subprotocol in the handshake. But in Netty even the client comes with multiple subprotocols, the server accepts it. IMHO this is not the way which the h

[2017-08-30 11:12] normanmaurer commented on #7166
@irunika would you be interested in providing a PR for a fix with a unit test ?

[2017-08-30 11:14] irunika commented on #7166
@normanmaurer I'm busy with my work until next week and I'm using WebSocket and in the testing, I found this issue. If you guys are not in a hurry. I will send a PR ASAP.

[2017-08-30 11:21] irunika commented on #7166
K sure. I will send a PR.

[2017-08-30 11:46] normanmaurer commented on #7145
@WhiteTrashLord the problem is we can not change this as it would be a API breaking change for now :(

[2017-08-30 11:46] #7145 closed

[2017-08-30 11:46] normanmaurer commented on #7116
Let me close this for now... @carl-mastrangelo if you still think we need to do anything please reopen.

[2017-08-30 11:46] #7116 closed

[2017-08-30 11:47] normanmaurer commented on #7071
@AlmogBaku ping

[2017-08-30 11:48] normanmaurer commented on #7166
@irunika thanks!

[2017-08-30 11:55] irunika commented on #7166
@normanmaurer I looked into your code. I think I was wrong about the behavior. I checked with Wireshark and found out that netty is responding with the first found compatible sub protocol. Not all. So that is fine. <br>
But even though the supported sub protocols are null in the server and if client comes asking some sub protocol handshake is happening without **sec-websocket-protocol** header in

[2017-08-30 12:23] irunika commented on #7166
Closing PR since the given issue is not valid anymore. Will open issue for null issue.

[2017-08-30 12:23] #7166 closed

[2017-08-30 12:39] irunika opened #7167 "WebSocket server accept handshake without Subprotocols"
### Expected behavior
When client sends a WebSocket handshake request with subprotocols to negotiate, if server does not support any subprotocol (subprotocols = null) server should close the connection since even though client asks for subprotocols server does not have any subprocol to negotiate. Please check [RFC6455 Section 1.9](https://tools.ietf.org/html/rfc6455#section-1.9). If server support

[2017-08-30 12:40] AlmogBaku commented on #7071
Hi, sorry.. but I ended up using a different library for the DNS.
Unfortunately, I don't have the time to continue investigating it...

[2017-08-30 12:43] maseev commented on #6983
Sorry, I don't have enough free time to work on this ticket. Feel free to reopen if you think it's worth the effort.

[2017-08-30 13:11] irunika commented on #7167
Your decision is correct. Sorry for interrupting. That is how the Server should work.

[2017-08-30 13:11] #7167 closed

[2017-08-31 03:42] weijietong commented on #3539
@normanmaurer @trustin apache Drill use the 4.0.27.Final version , got the similar fail error infos :  "Caused by: java.io.IOException: syscall:write(...)() failed: Broken pipe"  、 " syscall:read(...)() failed: Connection reset by peer" when the system was suffering high concurrency query. And we substiuted epoll by nio ,the errors disappeared.

So I want to know which version this bug is finally

[2017-08-31 11:57] wooi opened #7169 "There is Something wrong with NioEventLoop in Android 7.1.1"
### Expected behavior
The closeFuture's ChannelFutureListener  callback when the phone network change from enable to disable
### Actual behavior
I got the callback in other android version when  I build up socket connetion and trun off the network others version except for Android 7.1.1.
### Netty version
4.1.6.Final
### JVM version
java version "1.8.0_141"
### OS version
Android 7.1.1

[2017-08-31 17:15] ejona86 commented on #4941
#6896 is merged. It seems fixed.

[2017-08-31 17:15] #4941 closed

[2017-08-31 18:35] mtaylor commented on #6285
@andsel Did you make any progress with this?  Is there something I can do to help out?

[2017-08-31 20:22] omarkilani opened #7170 "Possibly incorrect changes with Expect/Continue handling in 4.1.14"
Hi Norman,

I'm one of the developers on unfiltered (https://github.com/unfiltered/unfiltered)

I'm not an expert on Expect/Continue, but this commit:
https://github.com/netty/netty/commit/52e19d5c631d9cbe6cc41b5ea34d7493160f26ee

Introduces a regression to one of our tests:

https://github.com/unfiltered/unfiltered/blob/374eaa908cff4bac51c83f68a2ba5880edbc02c0/library/src/test/scala/HeadersSpec.s

[2017-08-31 21:58] Bennett-Lynch opened #7171 "New HTTP/2 child-channel API lacks InboundHttp2ToHttpAdapter"
The new HTTP/2 child-channel API is great, but it appears to lack support for something equivalent to InboundHttp2ToHttpAdapter (and outbound as well).

Is there anything planned for the new API to support this?  HTTP/2 is largely focused on multiplexing, and having the support to treat requests as HTTP/1-like is very helpful.

[2017-08-31 22:39] mosesn commented on #7171
@Bennett-Lynch on the server-side, there's https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ServerDowngrader.java, you might be able to do something analogous on the client-side.

[2017-08-31 22:52] mosesn opened #7172 "too many releases in Http2FrameCodec in cleartext upgrade"
### Expected behavior
No refcounting issues

### Actual behavior
io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1

### Steps to reproduce
Try to use HttpServerUpgradeHandler with Http2MultiplexCodec.  The request will come in, and netty writes an upgrade response to the wire.  After that succeeds, netty turns the request into a user event, with a ref count of 1.  Its ref count

[2017-08-31 23:15] mosesn opened #7173 "NPE in cleartext upgrade"
### Expected behavior
No null pointer exceptions

### Actual behavior
When an HTTP/1.1 upgrade request comes in, we call `onHttpServerUpgrade` in Http2ConnectionHandler.  This makes us create a stream, which eventually calls `new DefaultHttp2StreamChannel`, which is fine, except that it assumes that handlerAdded has already been called on Http2MultiplexCodec . . . which is always true except when

[2017-09-01 00:01] mosesn commented on #7173
Digging a little deeper, the exactly problem here is because we call `prepareUpgradeResponse` before we call `upgradeTo` in Http2ServerUpgradeCodec.

[2017-09-01 00:25] mosesn commented on #7173
I was able to get around this problem by setting two private fields in HttpMultiplexCodec (both named ctx).  @normanmaurer if I merge a fix into netty, what's the ETA on a release?

[2017-09-01 01:36] Bennett-Lynch commented on #7171
Thanks. I wasn't aware of this class. Is there a client-side solution other than writing my own?

[2017-09-01 05:30] normanmaurer commented on #7173
@mosesn end of next week sounds doable... so yeah please provide a pr if you already have one

[2017-09-01 06:36] normanmaurer commented on #7170
@dschobel thoughts ?

@omarkilani I will check in detail over the next days, sorry I am super busy atm.

[2017-09-01 07:10] andsel commented on #6285
@mtaylor I've read the specification, and I have an idea on how to implement the new features introduced in the protocol.

The v5 introduce a type of fields on each message, I was just thinking on how to implement this in existing implementation inside Netty. I find 2 possible ways:
- add these collection of attributes to every message, but this drives me to a series of "if" in the codec part
- us

[2017-09-01 10:14] songxin1990 opened #7175 "in junit test can EmbeddedChannel bind a port and accept other http client's request ?"
in junit test can EmbeddedChannel  bind a port and accept other http client's request ?

[2017-09-01 10:14] songxin1990 commented on #7175
@mosesn@normanmaurer

[2017-09-01 10:28] normanmaurer commented on #7175
@songxin1990 no... if you want to bind you need to use `LocalServerChanel` or a real `SocketChannel`

[2017-09-01 10:28] #7175 closed

[2017-09-01 10:55] hepin1989 commented on #7175
@songxin1990 read the book or doc

[2017-09-01 12:22] weijietong commented on #3539
@normanmaurer I read the related fixed parts codes .It seems to solve the EPOLLRDUP problem which will cause the syscall:read() to fail by your descripted uncorrectly handling. Does this can protect the syscall::write() from throw exception ?At our scenario ,the syscall::write() failed more times than the syscall::read()

[2017-09-01 14:13] mosesn commented on #7171
@Bennett-Lynch not that I'm aware of.  The client-side API is still relatively fresh.

[2017-09-01 14:29] normanmaurer commented on #7171
@Bennett-Lynch @mosesn is correct... If you end up rolling your own please consider providing a PR for netty so we can include it :)

[2017-09-01 14:47] mosesn commented on #7173
@normanmaurer I don't have one yet, but I'm happy to take a stab today.  Where do you think we should fix this?  HttpServerUpgradeHandler seems pretty stable (hasn't been changed in a year) so I'm more inclined to do it in Http2ServerUpgradeCodec.

Looks like maybe we could try dumping all the code from prepareUpgradeResponse into upgradeTo?

https://github.com/netty/netty/blob/4.1/codec-http2/src

[2017-09-01 18:24] triggerants commented on #3897
+1

[2017-09-01 23:36] dschobel commented on #7170
Since the spec allows either behavior I don't think it's a regression. I defer to @normanmaurer if netty cares about behaving the same way as jetty.

[2017-09-02 14:24] takeseem commented on #3897
@purplefox

Thank you for your test, it usefull for me.
Where can I find the test code?

[2017-09-03 17:32] normanmaurer commented on #7173
@mosesn sounds reasonable to me.

[2017-09-04 11:35] binakot commented on #6841
I have the same problem 👍
Even with alpine 3.6
@saamalik Can you show me your Dockerfile? Or give me some advice hot to fix it? Please...

The main problem:

[code]

Should I pass some path to `-Djava.library.path=<...>`? And why? I already added `netty-transport-native-epoll` in my dependencies and built jar artifact with all dependencies inside.

build.gradle:

[code]

Dockerfile:

[code]

Logs

[2017-09-04 12:06] #7172 closed

[2017-09-04 12:07] normanmaurer commented on #7169
@wooi please try use a more recent version of netty and if the issue still exists please provide more details and maybe even a minimal reproducer

[2017-09-04 12:07] #7169 closed

[2017-09-04 12:07] normanmaurer commented on #7164
@Bennett-Lynch I think we could not sure it worth it tho.

[2017-09-04 12:08] normanmaurer commented on #7150
Fixed by #7163

[2017-09-04 12:08] #7150 closed

[2017-09-04 12:09] normanmaurer commented on #7120
Fixed by https://github.com/netty/netty/pull/7163

[2017-09-04 12:09] #7120 closed

[2017-09-04 13:09] normanmaurer commented on #7173
@mosesn actually I think we need another fix... let me come back to you asap.

[2017-09-05 06:32] normanmaurer commented on #7173
@mosesn actually I think the real "problem" is that `Http2ConnectionHandler.on*Upgrade` is called before the handler is actually added to the pipeline. IMHO this is not very consistent with everything else as I think we should only call methods on handlers after these are part of the pipeline. The catch here is that its at the moment not possible to add the `Http2ConnectionHandler` to the pipeline

[2017-09-05 07:24] mosesn commented on #7173
Hmm . . . we might just need to supply something that's aware on creation that it's speaking h2c.  We need to effectively do this anyway on the client-side to make sure clients start on stream id 3 instead of stream id 1, so I don't think this is too heinous.

[2017-09-05 07:53] Apache9 opened #7178 "The ChannelHandler which is used to construct Http2MultiplexCodecBuilder will also be added to out bound streams"
### Expected behavior
The `ChannelHandler` which is used to construct `Http2MultiplexCodecBuilder` should only be added to remotely-created streams.
### Actual behavior
It is also added to out bound streams.
### Steps to reproduce
Modify `Http2MultiplexCodecBuilderTest`, replace the code in `setUp`

[code]
to
[code]
Then `createOutboundStream` and `multipleOutboundStreams` will both fail.
### Mini

[2017-09-05 08:05] Apache9 commented on #7178
The stracktrace of the exception when running modified `Http2MultiplexCodecBuilderTest`.
[code]
Seems in `Http2MultiplexCodec.DefaultHttp2StreamChannel.Http2ChannelUnsafe.register`
, we always add the `inboundStreamHandler` to the pipeline of the `Http2Stream`, no matter it is inbound or not.

https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2Multi

[2017-09-05 08:09] normanmaurer commented on #7178
Yep.. not sure if this is a bug or not tho as you will need to have an handler that handles inbound frames as well here. @ejona86 WDYT?

[2017-09-05 08:46] Apache9 commented on #7178
Yeah we need this handler to handle the inbound streams. But for outboud streams, we will provide one by calling  `Http2StreamChannelBootstrap.handler`.

[2017-09-05 13:44] Apache9 opened #7179 "Http2MultiplexCodec can not work together with ChunkedWriteHandler"
### Expected behavior
When used at server side, the `ChunkedWriteHandler` should be able to write out data chunk by chunk(multiple `Http2DataFrame`s)
### Actual behavior
The `ChunkedWriteHandler` always finds out that the channel is not writable so nothing can be written out.
### Steps to reproduce
Use `ChunkedWriteHandler` at server side.
### Minimal yet complete reproducer code (or URL to code)

[2017-09-05 13:54] Apache9 commented on #7179
The problem is that the `writable` field for server side `DefaultHttp2StreamChannel` is always `false`.

At client side, the `writable` will be changed after calling the `onStreamActive` in the `Http2ConnectionAdapter` of `DefaultHttp2RemoteFlowController`. It will finally reach the `DefaultHttp2StreamChannel.writabilityChanged`.

But at server side, the calling trace is broken up at `Http2FrameCo

[2017-09-05 16:10] ejona86 commented on #7178
I agree that outbound streams should have their channel initializer specified via `Http2StreamChannelBootstrap.handler()`. `Http2MultiplexCodecBuilder`'s handler is only for inbound streams.

[2017-09-05 16:27] normanmaurer commented on #7178
Got it... let me do a fix quickly

[2017-09-05 17:37] normanmaurer commented on #7178
Should be fixed by https://github.com/netty/netty/pull/7180 . Please check

[2017-09-05 18:14] normanmaurer commented on #7179
@Apache9 can I reuse some of your test-code within netty and include it as part of the project under the AL2 license ?

[2017-09-05 21:39] xptree commented on #5936
@honyee how did you solve this problem? could you be more descriptive about the load balance issues?

[2017-09-05 23:12] Apache9 commented on #7179
Sure.

[2017-09-06 06:37] normanmaurer commented on #7178
Fixed by https://github.com/netty/netty/pull/7180

[2017-09-06 06:37] #7178 closed

[2017-09-06 11:55] normanmaurer commented on #7173
@mosesn sounds reasonable to me... let me try to finish a pr later today or tomorrow.

[2017-09-06 11:55] normanmaurer commented on #7173
@ejona86 any concerns ?

[2017-09-06 18:47] normanmaurer commented on #7173
@mosesn PTAL https://github.com/netty/netty/pull/7184

[2017-09-06 18:57] takeseem opened #7186 "log incorrect output use Log4J2Logger-FQCN in PatternLayout (%F:%L)%c.%M"
### Expected behavior
log4j2 PatternLayout (%F:%L)%c.%M

`2017-09-07 02:20:43,500 DEBUG [main] -Dio.netty.noUnsafe: false (PlatformDependent0.java:361)io.netty.util.internal.PlatformDependent0.explicitNoUnsafe0`

### Actual behavior

`2017-09-07 01:46:24,109 DEBUG [main] -Dio.netty.noUnsafe: false (Log4J2Logger.java:73)io.netty.util.internal.PlatformDependent0.debug`

### Steps to reproduce

* con

[2017-09-06 20:22] wltjr opened #7189 "Drop Googles horrible conscrypt"
I have no idea why this was added to a patch release. Google makes horrible stuff and their repos are a mess. Now netty depends on conscrypt, which in turn depends now on Google's boringssl. Which [they recommend](https://github.com/google/boringssl) others not use.

"BoringSSL is a fork of OpenSSL that is designed to meet Google's needs.

Although BoringSSL is an open source project, it is not in

[2017-09-07 06:24] normanmaurer commented on #7189
@wltjr its a optional dependency so you are free to just not use it by not put it on your class path. Netty will still work and just either use netty-tcnative if its on the class path or JDK SSL impl.

[2017-09-07 06:24] #7189 closed

[2017-09-07 11:36] normanmaurer opened #7190 "DatagramUnicastTest.testSimpleSendWithConnect test failure"
[code]

[2017-09-07 11:37] normanmaurer commented on #7190
Was triggered here https://garage.netty.io/teamcity/viewLog.html?buildId=24114&buildTypeId=pulls_netty&tab=buildLog#_focus=84596 while building https://github.com/netty/netty/pull/7162

[2017-09-07 11:53] normanmaurer commented on #7190
Openend PR to log more infos:

https://github.com/netty/netty/pull/7191

[2017-09-07 12:52] takeseem opened #7192 "about InternalLogger test case problems."
## InternalLoggerFactoryTest - I think these test cases is invalid, it can not really test effective.

* [@Before InternalLoggerFactoryTest.init()](https://github.com/netty/netty/blob/4.1/common/src/test/java/io/netty/util/internal/logging/InternalLoggerFactoryTest.java#L33) **the "mock" InternalLogger always the same mockLogger instance.**
[code]
* so in any test case the **logger** must be === "

[2017-09-07 13:45] wltjr commented on #7189
@normanmaurer maybe optional runtime but not build time. This is regarding my efforts in [packaging Netty](https://github.com/Obsidian-StudiosInc/os-xtoo/tree/master/dev-java/netty-handler) on Gentoo. I do not have a choice in packaging conscrypt. Unless I delete the optional code using it.

A user may still want to, and then I will have to see about packaging boringssl which is a build and runtim

[2017-09-07 14:01] normanmaurer commented on #7189
@nmittler any idea how to "fix this"...

[2017-09-07 14:04] normanmaurer commented on #7189
@wltjr btw I think you would be better of to be less "aggressive" with your issue titles etc otherwise people may feel not really motived to help you.  Netty itself receive a lot of contributions from google and we even have google engineers in the core team...

Just my 2 ' cents ....

[2017-09-07 14:05] normanmaurer commented on #7189
And just to clarify I am not saying there is no issue with how conscrypt is packaged / build and how it is integrated with netty its just not the "nicest" way to report an issue... Anyway let us wait for @nmittler and see if he can help here...

[2017-09-07 14:13] wltjr commented on #7189
One thought it  netty-handler could be split further, netty-handler-conscrypt etc. Though I really think you all should look into how conscrypt is build. If it was using openssl it would be one thing. Google needs to decide on what they are going to do with boringssl. Both conscrypt and boringssl are Google projects and tightly coupled, as conscrypt needs live headers from boringssl. Thus it reall

[2017-09-07 18:51] normanmaurer commented on #7190
This was actually a valid one as #7162 had a bug.

[2017-09-07 18:51] #7190 closed

[2017-09-08 00:54] carl-mastrangelo opened #7194 "useCacheForAllThreads no longer seems to work."
While playing with jvm flags to control memory pooling, I noticed `io.netty.allocator.useCacheForAllThreads`.  From reading the source, it seems to control whether or not buffers are cached per thread.

However, setting it to false and using the default allocator causes lots of exceptions to be thrown:

[code]

Here is the debug output for start up
[code]

### Netty version
4.1.15

### JVM version

[2017-09-08 06:29] maseev opened #7196 "[Proposal] Consider separating the inbound and outbound channel handlers"
At the moment, Netty calls [these](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/AbstractChannelHandlerContext.java#L934) [two](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/AbstractChannelHandlerContext.java#L942) methods in order to find an appropriate channel handler to pass the data through the pipeline. Wouldn't it be bette

[2017-09-08 08:21] #7194 closed

[2017-09-08 08:22] normanmaurer commented on #7194
Fixed by https://github.com/netty/netty/pull/7195... Thanks @carl-mastrangelo

[2017-09-08 08:33] normanmaurer commented on #7196
@maseev this sounds like a good idea in general ... I think you could validate this by creating an instanceof `DefaultChannelPipeline` by yourself and passing an Channel implementation into it.

[2017-09-08 09:07] maseev commented on #7196
@normanmaurer Ok, thanks. I'll have a look.

[2017-09-08 10:38] dimitarg commented on #7189
https://github.com/fantasylandinst/fcop or some of the ideas might be of use.

[2017-09-08 13:42] wltjr commented on #7189
Something that kills innovation -> [Google I/O 2008 - Open Source Projects and Poisonous People ](https://www.youtube.com/watch?v=-F-3E8pyjFo)

Something that breeds innovation -> [Steve Jobs - Beautiful Polished Rocks](https://www.youtube.com/watch?v=K-Yv-UdsmSo)

Proof
https://www.infoworld.com/article/3109830/linux/why-did-gentoo-linux-fade-into-obscurity.html
http://distrowatch.com/table.php?d

[2017-09-08 14:35] jeffjirsa commented on #7189
For someone who claims to harbor no ill will towards google, you sure do love piling on unnecessary commentary that adds nothing new to the (closed) issue. Your assertion that you conduct yourself professionally is laughable. The project marked the issue as closed. If you have nothing new to contribute, no new commentary is needed. Irrelevant rants about CoC belong on your blog, not github.

[2017-09-08 14:49] wltjr commented on #7189
@jeffjirsa What are you adding that is on topic? Or @dimitarg

Judging and making comments such as ones conduct is not professional and laughable is a direct insult. That is something covered by CoC. Why I said interpretation, as I am sure @jeffjirsa you think your comments are pertinent to this issue, while calling me out for my comments on an issue I opened. While you proceed to add nothing of v

[2017-09-08 21:58] normanmaurer opened #7199 "Mark transport-rxtx as `@deprecated`"
https://github.com/netty/netty/pull/7198 just reminded me that I wanted to bring up the topic of mark transport-rxtx as `@deprecated` for some time.

This is mainly driven because I think there is really no-one that maintain this one and there is no easy way for us to even test it. I think we should better concentrate and spend our time on the "real" core transports that are part of netty.

@Scott

[2017-09-08 22:15] carl-mastrangelo commented on #7199
I don't believe Google is using it.  No concerns here.

[2017-09-08 23:33] ejona86 commented on #7199
Sounds fine to me. Searching around it seems like there may be some small projects using it on the Raspberry Pi or to talk to a wireless modem. They probably wouldn't be served fine using RXTX directly (says the person who hasn't looked at RXTX at all).

[2017-09-09 08:32] yangsj19870829 commented on #7132
@johnou  300 threads running,  before tow day, this problem happens again,  we have taken a heap dump, it cause by a  common component developed by ourself.   the same time, we have upgrade from 4.0.28 to 4.1.10.

[2017-09-09 08:37] yangsj19870829 commented on #7132
@johnou  300 threads running, before three days, this problem happens again, we have taken a heap dump, **it cause by a common component developed by ourself**. the same time, we have upgrade netty from 4.0.28 to 4.1.10.  Thank you all @normanmaurer @Scottmitch @johnou .

[2017-09-09 08:37] #7132 closed

[2017-09-10 07:10] normanmaurer commented on #7082
This is "fixed" by https://github.com/netty/netty/pull/7181 ... To make it short no it makes no sense.

[2017-09-10 13:29] Sammers21 commented on #3538
Any updates here?

[2017-09-10 13:51] slandelle commented on #3538
1) API breaking
2) would be worth having a benchmark with AsciiString vs Java 9's new String implementation

[2017-09-10 15:21] Sammers21 commented on #3538
@slandelle could you point me out about benchmarks?

[2017-09-10 16:27] slandelle commented on #3538
I don't think there's any benchmark yet.

[2017-09-10 17:05] Sammers21 commented on #3538
I mean that I could work on that so i'd like to create them. Could you point me out what they should to compare

[2017-09-11 12:23] pveentjer commented on #5976
In which 4.1.x branch is this fixed?

[2017-09-11 12:33] normanmaurer commented on #5976
When you click on the commit you can see this... 4.1.7.Final

[2017-09-13 07:46] alek-sys commented on #6679
Another issue is that `netty-transport-native-epoll` (and any other native transport) cannot be added to the module path as an *automatic module*. This is because generated module name includes `native` which is a Java keyword and cannot be used as a module name.

[2017-09-13 13:01] shanling2004 opened #7204 "Potential ByteBuf Leak"
Our RPC application fully relies on netty solution to reach extreme performance & throughput
We encounter bytebuf issue under low frequency, but it's hard to identify the root cause.
During netty source code reading, I wonder any potential  action for`ReferenceCountUtil.release()` needed to introduced at [AbstractChannelHandlerContext#invokeWrite0(Object, ChannelPromise) error handle](https://gith

[2017-09-13 15:46] ppatierno opened #7205 "MQTT encode doesn't complain if password is set but username not"
### Expected behavior

The MQTT decoder should raise an exception trying to build a CONNECT packet where password field is set but not the username one (as by MQTT 3.1/3.1.1 spec).

### Actual behavior

The CONNECT packet is built and hasUsername and hasPassword aren't handled in the right way.

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

#

[2017-09-13 20:29] ejona86 opened #7207 "Http2FrameCodec interacts poorly with StreamBufferingEncoder"
Http2FrameCodec currently assumes [streams are created immediately](https://github.com/netty/netty/blob/379ac89/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2FrameCodec.java#L349). However, when MAX_CONCURRENT_STREAMS limits creating new streams, `encoder().writeHeaders()` will [just buffer the headers](https://github.com/netty/netty/blob/379ac89/codec-http2/src/main/java/io/netty/ha

[2017-09-13 20:32] nhnFreespirit opened #7208 "Are there any plans to start publishing the netty-tcnative-openssl-static-{os_arch} packages to Maven Central?"
The new netty-tcnative-openssl-static-{os_arch} packages seem very useful to us but currently we have to build them ourselves. Are there any plans to start publishing pre built versions of these packages?

Thanks

[2017-09-14 05:38] quidryan opened #7210 "ServerCookieDecoder does not support duplicate cookies"
### Expected behavior

According to [RFC-6265 (section 4.2.2)](https://tools.ietf.org/html/rfc6265#section-4.2.2), multiple cookie pairs with the same name are not explicitly excluded from happening. It is even hinted that it should be expected,

   In particular, if the Cookie header contains two cookies with the same name (e.g.,
   that were set with different Path or Domain attributes), servers

[2017-09-14 05:48] quidryan commented on #7210
The fix can't just be to use a different Set implementation, the current equals/hashCode of io.netty.handler.codec.http.cookie.DefaultCookie will prevent any Set from ever holding multiple Cookies with the same name, because there is no path or domain to differentiate on. Ideally ServerCookieDecoder::decode would return a List<Cookie>, but that would be a breaking interface change.

I would recomm

[2017-09-14 08:33] johnou commented on #7208
uber jar ftw? cc @Scottmitch

[2017-09-14 10:58] slandelle commented on #7210
Maybe provide a different set of decode methods and deprecate existing ones. Thoughts?

We could also pass a Comparator to the TreeSet constructor that would account for the value.

[2017-09-14 11:00] slandelle commented on #6706
My bad, this is invalid HTTP behavior.

[2017-09-14 13:03] jasontedor commented on #6096
Here's a gem from today:

[code]

This is from these lines in `ByteToMessageDecoder`: https://github.com/netty/netty/blob/netty-4.1.11.Final/codec/src/main/java/io/netty/handler/codec/ByteToMessageDecoder.java#L268-L270

[code]

[2017-09-14 13:19] mrtechit opened #7211 "Discarded inbound message that reached at the tail of the pipeline with ByteToMessageDecoder"
### Netty version
4.1.9.Final

### JVM version (e.g. `java -version`)
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

### OS version (e.g. `uname -a`)
Windows 10

### Steps to reproduce
This does not reproduce every single time, however still is very evident.
1. Close the netty server (NioServerSocketC

[2017-09-14 13:25] s1monw commented on #6096
@normanmaurer I can't imagine this is good for anybody. I see this as a serious issue that is now open for quite some time. I am happy to help getting rid of this but it seems we are not all on the same page? Errors are not recoverable I think we should just never catch throwable?

[code]
this is equivalent to:
[code]

[2017-09-14 13:29] johnou commented on #6096
@s1monw no? LinkageError extends Error which extends Throwable.

[2017-09-14 13:35] s1monw commented on #6096
oh I misread your example...  nevermind

[2017-09-14 14:43] normanmaurer commented on #6096
@s1monw sorry I am super busy atm but I will come up with some ideas over the weekend. So we can discuss this next week.

[2017-09-14 15:24] normanmaurer commented on #7173
Fixed by https://github.com/netty/netty/pull/7184

[2017-09-14 15:24] #7173 closed

[2017-09-14 15:26] normanmaurer commented on #7179
Fixed by https://github.com/netty/netty/pull/7181

[2017-09-14 15:26] #7179 closed

[2017-09-14 16:27] johnou commented on #6096
@s1monw I think catching Exception would be fine but I know for a fact there are a couple of corner cases in Netty where a subclass of LinkageError will be thrown so that needs to be taken into account. iirc it had something todo with PlatformDependent / Unsafe and NoClassDefFoundError (the code was changed to Exception from Throwable and it caused a regression on some platforms / environments.

[2017-09-14 16:34] jasontedor commented on #6096
Well that's a problem with catching the top-level `Throwable`. It catches way more than the error cases that can be dealt with (if they can be dealt with) so that when you try to clean these up you end up removing guards for those sorts of cases that were maybe in the head of the person that originally added the catch instead of catching at a more granular level.

[2017-09-14 16:40] normanmaurer commented on #7205
Fixed by https://github.com/netty/netty/pull/7206#pullrequestreview-62812166

[2017-09-14 16:40] #7205 closed

[2017-09-14 21:20] normanmaurer commented on #7199
Fixed by https://github.com/netty/netty/pull/7200

[2017-09-14 21:20] #7199 closed

[2017-09-14 22:04] normanmaurer commented on #7186
Fixed in https://github.com/netty/netty/pull/7185

[2017-09-14 22:04] #7186 closed

[2017-09-15 00:45] normanmaurer commented on #7082
Fixed by #7181

[2017-09-15 00:45] #7082 closed

[2017-09-15 08:28] durigon opened #7214 "NPE in InboundHttp2ToHttpAdapter When a HTTP/2 PUSH_PROMISE comes in"
### Expected behavior
No null pointer exceptions

### Actual behavior
When a HTTP/2 PUSH_PROMISE comes in, we call **onPushPromiseRead** in InboundHttp2ToHttpAdapter.
This makes us create a FullHttpMessage, which eventually calls "HttpConversionUtil.parseStatus", which occurs always NPE because status is null.

io.netty.handler.codec.http2.Http2Exception: Unrecognized HTTP status code 'null' encou

[2017-09-16 06:19] zyxist opened #7218 "Add 'Automatic-Module-Name' to MANIFEST for forward compatibility with JDK9"
When a non-modular library (e.g. built for JDK8 or JDK9) is used within a modular JDK9 application, Java creates an automatic module for it. Modules should be named from the root packages they own, but the default algorithm uses JAR file name instead. If Netty migrates to JDK9 and Jigsaw one day, this may cause serious dependency issues (JVM will refuse to start, if the same module is required wit

[2017-09-16 13:08] normanmaurer commented on #7218
Interesting... can you open a PR for this?

[2017-09-16 19:37] timboudreau commented on #2131
I'm running into this issue in a pretty legitimate situation:  Adding a feature to [Acteur](https://github.com/timboudreau/acteur) to be able to respond to a `POST` with a redirect **before** `HttpObjectAggregator` is called - i.e. no `100 Continue` response is sent, just a redirect immediately upon receiving the headers.  I.e. someone has a large upload, and I want to redirect them to a server fo

[2017-09-16 22:26] Scottmitch commented on #7082
@normanmaurer - Can you explain why the policy suggested here "makes no sense"? The policy implemented in #7181 seems incomplete and may incorrectly report writability in a few cases:
- depending on initial settings for outbound streams (https://github.com/netty/netty/pull/7181#discussion_r139296524)
- depending on connection window
- depending on channel writability

[2017-09-16 22:47] Scottmitch commented on #7204
Please provide a minimal/complete reproducer. Code snippets with limited context not help us reproduce.

Please see http://netty.io/wiki/reference-counted-objects.html for addition details on reference counting. If you don't write the buffer to a channel or release it you will likely have a leak.

[2017-09-17 07:20] zyxist commented on #7218
I need to take a closer look, how Netty Maven project structure is organized. If it turns out to be straightforward, I can try to create a PR.

[2017-09-17 08:47] KiritoKun90 opened #7219 "Last Stable BungeeCord Build {issue]"
I tried to update my BungeeCord with the last stable build, but when I run the server I get this error in the console now, and I can't join my server:

`06:59:34 [SEVERE] Sep 16, 2017 6:59:34 AM io.netty.util.internal.MacAddressUtil defaultMachineId WARNING: Failed to find a usable hardware address from the network interfaces; using random bytes: 03:7d:bc:0c:de:a9:fd:23`

I read it was a common bu

[2017-09-17 11:11] johnou commented on #7219
Netty does not provide BungeeCord support. The message you pasted is a warning, not something that would prevent Netty itself from working. There were some recent improvements to MacAddressUtil in the latest releases so you could try pushing Netty updates upstream. That said you might want to try BungeeCord forums / mailing lists for support.

[2017-09-17 11:36] KiritoKun90 commented on #7219
Actually I first wrote into Bungee Hub and they told me that it isn't a Bungee issue and that I was suppose to write here, look the post I made:

https://github.com/SpigotMC/BungeeCord/issues/2257

Second of all it's not only a warning, it says [SEVERE] and I'm still not understanding what it is asking. How I said before, I looked around a lot and I've found some older posts that talks about it an

[2017-09-17 13:54] johnou commented on #7219
@KiritoKun90 it's a warning, https://github.com/netty/netty/blob/01eb428b39156e61624dae303ae9772ba3424b36/common/src/main/java/io/netty/util/internal/MacAddressUtil.java#L143 and as stated here https://github.com/netty/netty/pull/6308#issuecomment-292053749 harmless.

I recommend checking your server firewall rules / port forwarding and if problems persist reopen your https://github.com/SpigotMC/B

[2017-09-17 16:15] normanmaurer commented on #7214
Fixed

[2017-09-17 16:15] #7214 closed

[2017-09-17 19:16] Scottmitch commented on #7219
As stated above I wouldn't expect a failure to detect a default network interface as the root cause to an issue. Are you using a SecurityManager, and is the server able to bind to the anticipated load address/port?

You will have to provide us with more information and details as to why you think this is a Netty issue that is preventing you from connecting to your server. I would suggest you troub

[2017-09-18 05:24] maseev commented on #6983
I'm just curious, the CI server you use, is it a dedicated server (bare metal) or a virtual one? Can you also share some specs (total amount of RAM, number of cores) of this server box please?

[2017-09-18 07:18] onderaycicek opened #7220 "Error: Unable to load the library 'netty_transport_native_epoll' in CENTOS 6"
### Expected behavior
it is netty run error. We cannot run Netty project in Centos/Red-Hat 6.7
### Actual behavior
it throws "`Unable to load the library 'netty_transport_native_epoll'`"
`java.lang.UnsatisfiedLinkError: no netty_transport_native_epoll in java.library.path
        at java.lang.ClassLoader.loadLibrary(ClassLoader.java:1867) ~[?:1.8.0_91]
        at java.lang.Runtime.loadLibrary0(Run

[2017-09-18 08:18] vietj opened #7221 "Check the minimum OSX version or Darwin Kernel for KQueue native transport"
### Expected behavior

KQueue native transport should check the min version of OSX to check availability

### Actual behavior

KQueue native transport does not check on OSX

### Steps to reproduce

Run KQueue native transport on El Capitan, it fails with

[code]

It seems related to El Capitan because running on Sierra works fine.

### Minimal yet complete reproducer code (or URL to code)

none

#

[2017-09-18 08:42] vietj opened #7222 "NativeLibraryLoader should check the result of ClassLoader#getResource method"
### Expected behavior

`NativeLibraryLoader` uses `ClassLoader#getResource` method that can return nulls when the resource cannot be found. The returned `url` variable should be checked for nullity and fail in a more usable manner than a `NullPointerException`

### Actual behavior

`NativeLibraryLoader` fails with a `NullPointerException` (wrapped in `UnsatisfiedLinkError`) which does not give muc

[2017-09-18 11:21] maseev commented on #6773
On second thought, I think it would be a good idea to share this feature. I'll create a PR soon.

[2017-09-18 12:57] mrtechit commented on #5881
Hi,

How did you resolve this ?

My eventloopgroup keeps on increasing on each and every request to NioServerSocketChannel

[2017-09-18 13:04] cosmingodeanu commented on #6540
After some re-testing on the production environment the issue reappeared even with the option added.

[2017-09-18 17:16] javastu commented on #3657
I am using the latest 4.1.15.Final and I am experiencing the same thing. I have a server process that is sending me lots of small json objects in rapid succession. I imagine that some of them are being lumped together in one TcpIP packet. Some might be split across two packets. I don't know for sure because I haven't looked that closely at what is happening.

But I do know this. If I have the Json

[2017-09-19 00:15] mosesn opened #7226 "h2c cleartext upgrades fail every time"
### Expected behavior

Clients should successfully upgrade.

### Actual behavior

Clients fail to upgrade, and instead throw the exception:

[code]

### Steps to reproduce

Try to use the Http2ClientUpgradeCodec with the h2c upgrade.

### Minimal yet complete reproducer code (or URL to code)

Try 4.1.16.Final-SNAPSHOT with finagle.

### Netty version
nightlies

[2017-09-19 00:16] normanmaurer commented on #7226
will try soon.

[2017-09-19 00:16] mosesn commented on #7226
I think we can fix this by swapping these two lines: https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ClientUpgradeCodec.java#L104-L107

[2017-09-19 00:17] normanmaurer commented on #7226
@mosesn sounds good! Can you do the change ? Extra point if you can also add a unit test.

[2017-09-19 00:29] mosesn commented on #7226
@normanmaurer I don't have time to add the unit test tonight, but I can take a stab at it tomorrow.

[2017-09-19 00:30] normanmaurer commented on #7226
@mosesn yes please do... that said the changes LGTM.

[2017-09-19 04:21] normanmaurer commented on #7221
@Scottmitch didnt you fix this lately ?

[2017-09-19 04:21] normanmaurer commented on #7171
@Bennett-Lynch stay tuned I think we should have something pretty soon.

[2017-09-19 04:34] normanmaurer commented on #7222
@vietj please check https://github.com/netty/netty/pull/7228

[2017-09-19 04:38] manish-panwar opened #7229 "Is it possible to wrap "connection forcibly closed" error into a exception of its own"
### Expected behavior

Connection error should be wrapped in a specific class instead of IOException. IOException is too raw to put a check on and do error handling. "connection forcibly closed" are expected and harmless for us, so we need to know which error to ignore.

### Actual behavior

We are using Vertx, which internally uses Netty for HTTP requests. We are using keep-alive connection, and

[2017-09-19 04:40] normanmaurer commented on #7229
@manish-panwar  its what the JDK gives us so there is not much we can do... Maybe you should open a bug in the openjdk tracker.

[2017-09-19 04:40] #7229 closed

[2017-09-19 06:27] BillyYccc opened #7230 "Method setHandshakeTimeout of SslHandler does not work in server side"
### Expected behavior
I want to enable `setHandshakeTimeout()` in server side. I call the method setHandshakeTimeout() like this `sslHandler.setHandshakeTimeout(1,TimeUnit.MILLISECONDS);` The value of HandshakeTimeout is set to a very small value so that the client and server can not complete the handshake since the handshake is timeout.

### Actual behavior
But it can not work when I use this in

[2017-09-19 10:25] johnou commented on #7208
openssl static uber jar ftw? cc @normanmaurer @Scottmitch the disclaimer on the boringssl website isn't reassuring "Although BoringSSL is an open source project, it is not intended for general use, as OpenSSL is.".

[2017-09-19 15:49] normanmaurer commented on #7208
@johnou thats why we have google folks on the team like @nmittler @ejona86 and @carl-mastrangelo  ;)

@nhnFreespirit back in the days @Scottmitch and myself discussed this and decided against publishing openssl static builds as we didnt want to be responsible to publish new releases everytime there is a CVE reported with openssl (which sadly happens often enough 😢 ). I am not super strong here tho

[2017-09-19 16:56] ejona86 commented on #7208
Is the main drive for this the disclaimer on the boringssl website, or something else? We've been working closely with the BoringSSL team and accept the API instability. So for the purposes of Netty's users I'm not aware of any big deficiency with using BoringSSL, unless you want a feature it dropped.

[2017-09-19 18:02] johnou commented on #7208
@ejona86 so the disclaimer is specific to the library API and not compatibility with other devices and implementations?

[2017-09-19 21:15] rockwotj opened #7231 "ClassCastException in PooledByteBuf"
Getting this error in our netty client.

[code]

### Netty version
4.0.50.Final

### JVM version (e.g. `java -version`)
java version "1.8.0_71"
Java(TM) SE Runtime Environment (build 1.8.0_71-b15)
Java HotSpot(TM) 64-Bit Server VM (build 25.71-b15, mixed mode)

### OS version (e.g. `uname -a`)
Linux hostname 3.10.0-514.16.1.el7.x86_64 #1 SMP Wed Apr 12 15:04:24 UTC 2017 x86_64 x86_64 x86_64 GNU/Li

[2017-09-19 22:04] rockwotj commented on #7231
Also seeing:

[code]

[2017-09-19 23:29] ejona86 commented on #7208
It is wire compatible with other implementations. Now, it may more aggressively remove old/broken ciphers and such. But since it provides TLS support to Chrome and Android, it has to work with a wide variety of implementations.

The main thing is that it doesn't support as many old/minority features to reduce attack surface. It also threw away problematic APIs. Comparing the OpenSSL vulnerability

[2017-09-20 00:21] normanmaurer commented on #7231
interesting... what happens if you disable Unsafe ?

`-Dio.netty.noUnsafe=true`

Also is it easy to reproduce and can you provide a reproducer at all ?

[2017-09-20 00:46] normanmaurer commented on #7222
Fixed by https://github.com/netty/netty/pull/7228

[2017-09-20 00:46] #7222 closed

[2017-09-20 01:21] rockwotj commented on #7231
It is not easy to reproduce, and I don't have a reproducer at all, this started happening on our servers after many days, and seemingly at random.

I switched to UnpooledBuffers which has fixed the problem, but I can try with disabling unsafe.

[2017-09-20 01:29] rockwotj commented on #7231
If I disable the unsafe, then we cannot use Epoll sockets which we need to set `EpollChannelOption.TCP_USER_TIMEOUT`

[2017-09-20 05:13] normanmaurer commented on #7231
Got it… I will need to have a deeper look :(

[2017-09-20 05:20] maseev commented on #6983
It looks like that Clinker provided the CI server for 12 months according to [this](http://netty.io/sponsor/thanks.html) page. But it was in 2014. Before that, it [cost](https://netty.io/news/2014/11/08/new-build-server.html) about $80 a month.

Maybe it'd be a good idea to get one of [these](https://www.scaleway.com/baremetal-cloud-servers/) servers. They are dedicated/bare metal (so there are no

[2017-09-20 11:42] mp911de commented on #7218
@zyxist See https://git1-us-west.apache.org/repos/asf?p=maven-resolver.git;a=commit;h=d1724eb7. That's a nice approach without too much hassle in the particular modules.

[2017-09-20 14:56] normanmaurer commented on #7231
@rockwotj can you give some more details about what GC you are using etc ?

[2017-09-20 15:03] rockwotj commented on #7231
Here are some of the important GC related flags:
[code]

[2017-09-20 15:08] vietj commented on #7222
awesome!

[2017-09-20 15:18] vietj commented on #7221
can you confirm that Sierra and above only are supported ?

[2017-09-20 15:19] normanmaurer commented on #7221
@vietj yes

[2017-09-20 18:29] normanmaurer commented on #7231
@rockwotj can you also tell me what is logged in startup of the app for unaligned access ? Like here:

[code]

[2017-09-20 18:44] normanmaurer commented on #7231
Seems related to https://github.com/netty/netty/issues/6133

[2017-09-20 19:43] normanmaurer commented on #7226
Fixed by https://github.com/netty/netty/pull/7227

[2017-09-20 19:43] #7226 closed

[2017-09-20 22:05] rockwotj commented on #7231
It does seem related, here is the output:

[code]

[2017-09-20 23:38] normanmaurer commented on #7231
@rockwotj ok I hoped it would log false. So back to trying to find something in our code :( Would it be possible to get a heap dump once this happens or not (I kind of guess I know what the answer will be).

[2017-09-20 23:46] rockwotj commented on #7231
Yeah thank you for looking :/ I can't give you a heap dump, but I'll see if I can get this to happen in our staging environment. If I can I'll take a heap dump and maybe I can find something. I'll ask for pointers if I get there however.

[2017-09-21 06:44] Authorlove opened #7237 "netty-tcnative-boringssl-static-{os_arch} requires apr to be installed and updated to version 7.0.0"
### Expected behavior
netty-tcnative-boringssl-static-{os_arch} doesn't require apr as the [wiki](http://netty.io/wiki/forked-tomcat-native.html) says

### Actual behavior
netty-tcnative-boringssl-static-{os_arch} requires apr to be installed and updated to version 7.0.0

### Steps to reproduce
Here is the boringssl-static version
[code]
### Minimal yet complete reproducer code (or URL to code)

#

[2017-09-21 06:46] Authorlove commented on #7237
the error message:
Reason: Incompatible library version: libnetty_tcnative716738964507841247.dylib requires version 7.0.0 or later, but libapr-1.0.dylib provides version 5.0.0

[2017-09-21 07:03] Scottmitch commented on #7221
The artifact we publish in maven central will only work for 10.12+. You can build your own for older versions of MacOS (source should be compatible) but we do not plan on publishing versions for older versions.

I did make a change which IIRC was tested on 10.11 [1] to avoid lazy linking which should fail at link time, and therefore the transport should not be available. Perhaps this doesn't work

[2017-09-21 10:54] endrigoshi opened #7238 "Adding decoder results in broken pipeline"
Hello all!

I've recently started using netty for a project of mine. I implemented the HexDumpProxy example in order to understand how netty works. I am facing a problem when i add a StringDecoder and StringEncoder in the channel pipeline which results in a broken pipeline. If the decoder/encoder is not present the program works as it should. Can someone explain me why does this happen? Any help i

[2017-09-21 11:34] seamlik commented on #7071
I do not think it is a good idea to just close this issue even if it is not confirmed nor resolved.

[2017-09-21 11:35] Lahiru-J opened #7239 "Multiple Channels with Different Service Paths - WebSocket"
I have a use case where channels with different service paths should be connected to the same port.
I followed the WebSocket example and the example provided in the _Netty In Action_ book but in those cases there is a hard coded String ( `"/websocket"` ) for the `WebSocketServerProtocolHandler`.
Since `ServerBootstrap` class won't allow to add multiple `ChannelHandler`s how should I get this work

[2017-09-21 14:59] jchambers opened #7240 "API documentation references to Java 8 features, but links to Java 7 API docs"
The latest [Netty API docs](http://netty.io/4.1/api/index.html) sometimes include references to Java 8 features, but link to the Java 7 API docs, which don't include those features. For example, the docs for [`IntObjectMap`](http://netty.io/4.1/api/io/netty/util/collection/IntObjectMap.html) include a list of methods inherited from `java.util.Map`. That list includes methods like [`computeIfPresen

[2017-09-21 16:54] normanmaurer commented on #7238
Please add some more informations about what is broken etc... Without more informations we can not really help. Also this is an issue tracker so please use stack overflow or the netty mailinglist for questions.

[2017-09-21 16:54] #7238 closed

[2017-09-21 22:30] mosesn opened #7242 "http2 settings information should be centralized"
There are many different places to configure the `settings` information, which means that what clients and servers advertise and how they model their settings internally can differ.

In particular, if you call `AbstractHttp2HandlerBuilder#initialSettings` it updates some of the settings with what you've set, but not all of them.

I have two good examples of where the current system falls down.

1.

[2017-09-22 03:32] lgengsy opened #7243 "how to fix this java.lang.IllegalStateException:failed to create a child event loop err"
java.lang.IllegalStateException:failed to create a child event loop
2 io.netty.util.concurrent.MultithreadEventExecutorGroup.<init>(SourceFile:99)
3 ......
4 Caused by:
5 java.io.IOException:Too many open files
6 sun.nio.ch.IOUtil.makePipe(Native Method)
7 sun.nio.ch.PollSelectorImpl.<init>(PollSelectorImpl.java:57)
8 sun.nio.ch.PollSelectorProvider.openSelector(PollSelectorProvider.java:36)
9 io.

[2017-09-22 05:46] builder79 opened #7244 "StackOverflowError when create NioEventLoopGroup"
when jvm options  -Xss128k then stackoverflow
remove jvm option then ok

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
  4.1.15.Final

### JVM version (e.g. `java -version`)
 jdk1.8.0_144

### OS version (e.g. `uname -a`)
  windows server 2012 r2

** server env
2017-09-22 14:36:44.390 [R0] - -Dio.net

[2017-09-22 06:22] Liqifan commented on #7243
Maybe you have opened too many connecitons.  try `lsof -n | grep pid` to see if your app has too many open file, and increase the limitation by ulimit -n

[2017-09-22 06:26] Scottmitch commented on #7243
5.0 has been abandoned. Please use the latest 4.1 release.

[2017-09-23 18:44] johnou commented on #7244
Not sure what you are asking for but by setting the thread stack size so low that exception is expected if the stack size exceeds the configured value. Our jvms usually run with -Xss256k without any problems.

[2017-09-23 21:26] carl-mastrangelo commented on #7244
@builder79 does the problem go away if you spawn a new thread to run ClientBootstrap?   IIRC, the JVM  uses a ton of stack at start up.

Also I agree with @johnou, 128K stack is too little.

[2017-09-24 09:09] KiritoKun90 commented on #7219
I think is about a Netty issue for two reasons:
1) because I found a lot of old threads that discuss about it like:
https://github.com/netty/netty/issues/6406
2) I've already wrote to Bungee section, but they told me is probably an issue more on your side rather than his.

[2017-09-24 09:10] KiritoKun90 commented on #7219
You say is not really important and that I can ignore it, but is it possible to hide/delete it in a certain way?

[2017-09-24 13:11] johnou commented on #7219
@KiritoKun90 what version of Netty are you using? It should be fixed with 4.1.9 or above but I recommend using the latest version available.

Scott and I are still waiting for you to reply to our previous comments / questions.

[2017-09-25 08:49] #7159 closed

[2017-09-25 21:35] opinali opened #7247 "Avoidance of CVE-2011-3389 vulnerability"
Hi,

My Netty 4.1.15-based server is being detected as potentially vulnerable to [CVE-2011-3389](http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2011-3389). One simple fix, if I understand this correctly, is filtering out all ciphers with _CBC_ in their name, in the `SslContextBuilder`. But this wouldn't be necessary if the implementation of these ciphers is fixed for this vulnerability (which I

[2017-09-26 04:57] carl-mastrangelo opened #7249 "Epoll static loading broken in 4.1.16"
### Expected behavior
Be able to load Epoll statically

### Actual behavior
Loading fails because the shared object can't be found.

[2017-09-26 05:09] normanmaurer commented on #7249
@carl-mastrangelo what you mean with loading "statically" ?

[2017-09-26 05:13] carl-mastrangelo commented on #7249
In my case, we have a java launcher, which has all native deps linked in.  Essentially, everything from the JNI code is linked into a single binary, whose entry point is the JVM.

[2017-09-26 05:38] normanmaurer commented on #7249
got it...

[2017-09-26 08:14] vietj opened #7251 "ApplicationProtocolNegotiationHandler does not use fallback when with Java 9 and extension ignored"
### Expected behavior

The fallback given to the `ApplicationProtocolNegotiationHandler ` is provided in the `configurePipeline` method.

### Actual behavior

The `configurePipeline` method is called with an empty string instead of the given fallback protocol. This is because the engine returns an empty string and the `ApplicationProtocolNegotiationHandler ` checks the nullity of the protocol stri

[2017-09-26 09:30] vainly commented on #5208
Hi, you can use that instead
`new String(ByteBufUtil.getBytes(buf), Charset.forName("UTF-8"))`

[2017-09-26 12:08] normanmaurer commented on #7247
@opinali while we may be able to filter out this stuff I am not sure we should as some people may want these for whatever reason. Also at the end I really think this is the job of the SSL implementation itself like openssl or JDK one.

[2017-09-26 12:08] normanmaurer commented on #7244
Let me close this as like @johnou and @carl-mastrangelo said this is not a bug.

[2017-09-26 12:08] #7244 closed

[2017-09-26 12:10] normanmaurer commented on #7242
@Scottmitch @nmittler WDYT ?

[2017-09-26 12:11] normanmaurer commented on #7237
This may be caused by a problem we had in netty 4.1.15.Final. Can you please test with 4.1.16.Final and report back ?

[2017-09-26 12:24] normanmaurer commented on #7251
@vietj I am not sure I really understand the issue :( Can you point me to the code you are talking about. For example which `configurePipeline` method ?

[2017-09-26 12:24] normanmaurer commented on #7243
You will need to increase your open file limit if you already closing the connections probably.

[2017-09-26 12:24] #7243 closed

[2017-09-26 12:25] normanmaurer commented on #7231
@rockwotj any update ? also do you "transfer" the ownership of a `ByteBuf` from one Thread to another or is everything just happening one one thread ?

[2017-09-26 12:25] normanmaurer commented on #7220
can you try again with 4.1.16.Final ?

[2017-09-26 12:26] normanmaurer commented on #7219
You could adjust the logging configuration to not log for this class. How this is done really depends on the logging framework you use.

[2017-09-26 14:03] opinali commented on #7247
@normanmaurer agree, I guess I'll just do this filtering then.

Meanwhile, I fond out about this problem via internal Google systems that probe open ports in GCE instances our systems and detect all sorts of vulnerabilities. This seems to be specific to instances owned by corp users at this point, but if it goes public for all GCP users you may get lots of people being notified that their Netty co

[2017-09-26 14:03] #7247 closed

[2017-09-26 14:07] rockwotj commented on #7231
No update. I haven't yet reproduced this, but still trying.

I serialize the byte buf on one thread pool then pass it off to an event loop to be sent. I am marking, resetting reader indexes and calling retain so I can preform retries without reserializing.

I'll try to get a minimal example of what I'm doing in a gist

[2017-09-26 14:10] Authorlove commented on #7237
Yeah, it's good with 4.1.16.Final, thanks!

[2017-09-26 14:10] #7237 closed

[2017-09-26 15:39] sergey-sw opened #7252 "Remove final keywords from basic pipeline handlers"
It's not the first time I need to customize logic in handler classes but they are final.
Examples: io.netty.handler.proxy.HttpProxyHandler, io.netty.handler.codec.http.HttpClientCodec, sure there are more.

Classes should be open for extension, no need to prevent developers from shooting in the leg if they want to.

Netty-version: 4.1.15.Final

[2017-09-26 15:40] normanmaurer commented on #7252
@AdamSkywalker well.. as soon as we make these non-final we need to guarantee to not break stuff which means we are very care fun to do this. Can you explain what you need to change and why ?

[2017-09-26 16:13] AdamSkywalker commented on #7252
My case: for proxy handler I needed to analyse response headers from proxy server (first authorization request to proxy server) to allow/interrupt further request, today I needed to add marker interface to some handlers in pipeline to tweak them between requests in one connection.

Also, didn't understand how you can break something by allowing class inheritance

[2017-09-26 17:25] normanmaurer commented on #7237
Just for the record this was fixed by https://github.com/netty/netty/pull/7224

[2017-09-26 18:12] normanmaurer commented on #7231
@rockwotj thanks

[2017-09-27 01:10] Apache9 commented on #7231
You can try upgrading your java version. When testing HBase with G1GC, we found that under heavy load the JVM will crash randomly, at least for 1.8.0_91. It seems that the heap is corrupted. When upgrading to 1.8.0_111 the problem is gone. So I think there must be something wrong with the G1GC implementation before 1.8.0_111.

[2017-09-27 08:56] normanmaurer commented on #6096
so I had a few hours to think about all of this and I think what I would propose is to add a new system property which can be specified to NOT catch `Error`s and just let them escape. This way the "old" behaviour will be the same and so we will not break any user code that depends on it while it also allows to fail in other cases. @jasontedor @s1monw @Scottmitch @johnou @carl-mastrangelo @ejona86

[2017-09-27 08:56] normanmaurer commented on #7231
@Apache9 interesting... Do you have any jira issues for this ? Would be interested to read up on it.

[2017-09-27 09:14] s1monw commented on #6096
@normanmaurer to be quite honest with you I don't understand why you would want to catch error in general. There might be selected places like when you deal with initialization or if you wanna try to load a class if it's there or so but can't you just special case these? I don't follow your reasoning about a system property.

[2017-09-27 09:25] carl-mastrangelo commented on #6096
@normanmaurer gRPC catches throwable, but that's a special case due to our callback heavy architecture.  My own preference is to let the exception bubble up unwrapped if possible.  That means not wrapper errors or runtimeexceptions.  We have a helper method that looks like:

[code]

This function makes it much easier to let throwables propagate.  (especially assertion errors, which are used in tes

[2017-09-27 09:59] s1monw commented on #6096
catching Throwable should be the exception not the rule. So the answer is _all of them_. Then you can go and add exception and add a comment why you are doing this. We did this in elasticsearch and we have a lot of catch statements. It makes your live much easier. My approach would be to simple `s/catch(Throwable e)/catch(Exception e)` and then go and add specific catch statements for places that

[2017-09-27 10:24] carl-mastrangelo commented on #6096
I picked an example of AbstractNioMessageChannel.   Here's the snippet:
[code]

if there is an exception in there, my guess would be nothing in the pipeline gets notified.  Norman probably knows what the right option is; my guess is that updating all of them would require a lot of site specific work.

I don't have a strong opinion, just my experience.

[2017-09-27 12:54] rockwotj commented on #7231
@normanmaurer I have compiled an example of almost exactly what we're doing. I can't put it on GitHub without going though hoops so I'm going to email it to you.

[2017-09-27 12:55] rockwotj commented on #7231
We're upgrading to Java9 soon, so I might try it again after that's rolled out.

[2017-09-27 13:13] Apache9 commented on #7231
@normanmaurer Sorry, we just tested it inside our company and as long as the problem is gone after we upgrade the java version, we had not post it out.

One of the crash log is
[code]

There is a similar issue here:
https://bugs.openjdk.java.net/browse/JDK-8143310

But was closed as Cannot reproduce as the developer said that it is really hard to debug...

[2017-09-27 13:15] rockwotj commented on #7231
I feel like these are difference issues. I didn't get any segfaults.

[2017-09-27 13:22] Apache9 commented on #7231
As long as the heap is corrupted then everything is possible I think. I had seen it crashed at other place. Though I haven't seen any ClassCastException...

[2017-09-27 14:38] doom369 commented on #7150
@normanmaurer issue is still there with latest netty version.

[2017-09-27 14:46] normanmaurer commented on #7150
@doom369 thats super strange as the lib itself should have _x86_64 in its name which should only be true on a 64 bit architecture. Can you please check ?

[2017-09-27 14:50] doom369 commented on #7150
@normanmaurer in jar I see

[code]

[2017-09-27 14:50] normanmaurer commented on #7150
in which jar ?

[2017-09-27 14:51] normanmaurer commented on #7150
ah ok.. this is for tcnative... We may need to have a fix in tcnative as well as this was fixed for the native transport of netty only imho

[2017-09-27 14:53] doom369 commented on #7150
I suppose it comes from

[code]
Am I rgiht?

[2017-09-27 15:11] doom369 commented on #7150
Will you reopen this ticket or should I create the corresponding issue for tcnative repo?

[2017-09-27 15:12] normanmaurer commented on #7150
please open one for tcnative 👍

[2017-09-27 15:22] matthewbelisle-wf opened #7253 "CorsHandler not responding with Content-Length"
### Expected behavior

* `CorsHandler` responds with `Content-Length: 0` when origin is allowed
* `CorsHandler` responds with `Content-Length: 0` when origin is not allowed

### Actual behavior

* `CorsHandler` responds with `Content-Length: 0` when origin is allowed
* `CorsHandler`  does not respond with a `Content-Length` header when origin is not allowed

### Steps to reproduce

* Run an `NioEv

[2017-09-27 16:34] doom369 opened #7254 "Illegal reflective access warnings when running Netty with Java 9"
### Expected behavior

No warnings.

### Actual behavior

Warnings when starting netty with java 9:

[code]

with `--illegal-access=warn` enabled :

[code]

### Steps to reproduce

Run any netty server with Java 9.

### Netty version

4.1.16.Final

### JVM version (e.g. `java -version`)

[code]

Maybe it would be better to do not access above classes in case of java 9 to avoid warning?

[2017-09-27 18:16] khitrin opened #7255 "A lot of ChannelInputShutdownReadComplete events fired for NIO channel with ALLOW_HALF_CLOSURE"
### Expected behavior
Single `ChannelInputShutdownReadComplete` event will be fired for closed socket.

### Actual behavior
`ChannelInputShutdownReadComplete` event fired on each NIO event loop run.
`NioEventLoop` begin consuming a lot of CPU.

### Steps to reproduce
Create upstream connection channel with enabled `ALLOW_HALF_CLOSURE` and disabled `AUTO_READ`, do a single HTTP keep-alive request a

[2017-09-27 19:00] s1monw commented on #6096
so there are a couple of concerns here I think. In the case of an Error you can't really recover from this and in such a case the JVM is basically in a broken state. Think of OOM, StackOverflow etc. The only reasonable action here it to rethrow and exit no? I mean for this particular case I think we can just rethrow and call the pipeline in a finally bock? There are case by case decisions  to be m

[2017-09-27 19:07] carl-mastrangelo commented on #6096
Maybe, but it is conceivably recoverable.  If I decoder tries to allocate a 1GB buffer based on the message size header, that might throw OOME, but it wouldn't bring down the whole binary.  If the program was close to the memory limit and a small buffer was allocated, the OOME would show up somewhere else, and it wouldn't be recoverable.

I guess the thing is there are some Errors that are recover

[2017-09-27 19:19] jasontedor commented on #6096
@carl-mastrangelo That is hugely unfair since that next part of what @s1monw said after that is:

[2017-09-27 20:15] matthewbelisle-wf commented on #7253
Nevermind, I read more about http 1.0 vs 1.1 and keep-alive vs close connections and see this behavior is intended. The reason the connection was closing for the valid origin was because it adds `Content-Length: 0`.

https://github.com/netty/netty/commit/ecd6e5ce6d82756475e88ae69d2bfef1082edb68#diff-9cc075ed08ebc635ad5afcdb82bd449b

Here is the proper way to test:

[code]

[code]

[2017-09-27 20:41] carl-mastrangelo commented on #6096
@jasontedor I do agree with @s1monw  says about changing them from Throwable to Exception.  That said, running sed over Netty and fixing the ones that are different, which is what I interpreted from @s1monw 's post, is not going to work.  We don't know ahead of time which are the simple cases, and which are the non-simple ones.

[2017-09-27 20:53] matthewbelisle-wf commented on #7253
@normanmaurer This looks related to https://github.com/netty/netty/commit/ecd6e5ce6d82756475e88ae69d2bfef1082edb68#diff-9cc075ed08ebc635ad5afcdb82bd449b I think we just need to add the `Content-Length` header for all cases, including when consumers use `preflightResponseHeader()` too.

[2017-09-27 23:52] jasontedor commented on #6096
I think you’re taking @s1monw’s suggestion a little too literally. I admit your interpretation is reasonable based on what he said, yet I think it’s lost in translation and I have the advantage of two pieces of information that help me interpret what he meant:
 - in elastic/elasticsearch#19231 we did not literally go through with find and replace, instead went through each catch/throwable carefull

[2017-09-28 00:03] carl-mastrangelo commented on #6096
@jasontedor Ah, ok.  I also did not read the whole chain, so I was missing some background.

@normanmaurer Personally, I don't view the type of exception thrown to be as strong of an API guarantee, unless it is explicitly called out in the Javadoc or a throws statement.  You might consider exercising this flexibility if you change over the catching behavior, rather than optionally preserving exist

[2017-09-28 03:39] shenjingGitHub opened #7256 "About bottom implementation of netty"

[2017-09-28 03:43] shenjingGitHub opened #7257 "About bottom implementation of netty"
Hey！I have to change the underlying communication of netty to RDMA，is it feasible?

[2017-09-28 05:59] normanmaurer commented on #7257
@shenjingGitHub yes... You will need to write your own transport implementation.

[2017-09-28 05:59] #7257 closed

[2017-09-28 05:59] #7256 closed

[2017-09-28 06:15] vietj commented on #7251
here : https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/ApplicationProtocolNegotiationHandler.java#L92

I think `protocol != null` should be replaced by `protocol != null && protocol.length() > 0`

[2017-09-28 07:47] normanmaurer commented on #7251
Ok got it... I think we need a different fix but I will take care today

[2017-09-28 12:59] khitrin commented on #7255
Thank you for fast response and this nice and similar fix for all channel implementations.

But, after checking code for every four affected classes, I afraid that this problem can hurt non-NIO implementations and channels with auto-read.

[2017-09-28 13:01] khitrin commented on #7255
Thank you for fast response. It will fix issue for non-autoread channels (original issue), but after looking at affected code I'm afraid that channels with `AUTO_READ` can be hurt with this wakeups.

[2017-09-28 13:16] Scottmitch commented on #5430
Some FileRegion API rework: https://github.com/netty/netty/issues/7155

[2017-09-28 13:16] Scottmitch commented on #7155
thx for reporting! we should consider this for the next API breaking release.

[2017-09-28 13:36] Scottmitch opened #7260 "Slice support for FileRegion in JNI transports"
Recently `slice` support was added to file region `FileRegion` for `NIO` and `OIO` https://github.com/netty/netty/pull/6997. We should do the same for `KQueue` and `EPOLL`. There are some challenges related to how `FileRegion` and `FileChannel` are handled in these JNI transports. There are assumptions made about the type of `FileRegion` made in order to get the integer file descriptor [1][2]. The

[2017-09-28 13:36] Scottmitch commented on #7260
@Apache9 @normanmaurer - FYI

[2017-09-28 13:54] normanmaurer commented on #7255
@khitrin so you are saying it is not fixed with the PR ?

[2017-09-28 14:58] matthewbelisle-wf commented on #7253
Pull request for the fix, including unit tests: https://github.com/netty/netty/pull/7261

[2017-09-28 15:43] khitrin commented on #7255
I've built netty with the PR and can confirm that original issue is fixed.

But I think we need further investigation of this case.

1. For 4.1.16.Final (from Maven central) event spam begins immediately when upstream break the connection. Also I checked that setting `readPending` to `false` by debugger helps, so the PR clearly must fix the issue.

2. For 4.1.17.Final-SNAPSHOT (with the PR) single

[2017-09-28 16:29] Scottmitch commented on #6096
Just to jump back into the situation ... I agree we need to go through each `catch(Throwable)` statement and consider the points listed in https://github.com/netty/netty/issues/6096#issuecomment-264574221 on each one. A "safe"/"conservative" approach is to always make a best effort to propagate async notification and cleanup local resources in cases where we re-throw (instead of letting the except

[2017-09-28 16:47] Scottmitch commented on #7242
IIUC you are referring to `SETTINGS_MAX_HEADER_LIST_SIZE`? This is an interesting area of the specification where implementations are actually allowed to enforce a lower limit than advertised maybe enforced (see below). We are exploiting this fact to avoid committing to an unbounded limit, as otherwise if the peer doesn't send a settings ACK we may have to accept an unlimited size header (or enfor

[2017-09-28 16:57] mosesn commented on #7242
@Scottmitch

I can see the argument, but this also means that there's no way to unset 8KB.  If this is the case (which I think is fine!) we should still send an 8KB SETTINGS_MAX_HEADER_LIST_SIZE, and expose an API that does not provide a way to unset it.  It was completely mysterious to me why I could see that I wasn't setting the setting, and it wasn't sent in the SETTINGS frame, but it was still

[2017-09-28 17:11] normanmaurer commented on #7255
also @Scottmitch ....

[2017-09-28 22:31] Jianzhu91 opened #7262 "Get ClosedChannelException when close channel before SSL handshake"
Hi, recently I encounter a problem when using `Netty` and its `SlsHandler`. I would like to close a channel before SSL handshake based on my throttling configuration. I try to implement as below, but I will receive `ClosedChannelException` when I close the channel.

I add my `ThrottleHandler` before `SslHandler` in my `ChannelInitializer` . It overrides the `channelActive` method in order to deter

[2017-09-29 03:35] Apache9 commented on #7260
Thanks @Scottmitch , nice writing up.

I think for FileChannelBasedFileRegion, we an try to get the FileChannel and then the FD, and then pass it to JNI.

[2017-09-29 09:40] normanmaurer commented on #7262
@Jianzhu91 before looking into this can you please upgrade your netty version to the latest 4.1 release and let me know if you still see the issue ?

[2017-09-29 09:41] normanmaurer commented on #7252
@AdamSkywalker you can break things if people start to override methods that are either `protected` or `public` and we need to change these later on.

[2017-09-29 11:14] onderaycicek commented on #7220
Problem solved. Thanks.

`2017-09-29 13:59:37,223 DEBUG [main] io.netty.util.internal.NativeLibraryLoader [] - -Dio.netty.native.workdir: /tmp (io.netty.tmpdir)

2017-09-29 13:59:37,225 DEBUG [main] io.netty.util.internal.NativeLibraryLoader [] - Unable to load the library 'netty_transport_native_epoll_x86_64', trying other loading mechanism.

2017-09-29 13:59:37,238 DEBUG [main] io.netty.util.int

[2017-09-29 11:14] #7220 closed

[2017-09-29 12:19] crinaboitor commented on #6540
@jasontedor (regarding the issue presented by @cosmingodeanu )
We tried seting the system property io.netty.recycler.maxCapacityPerThread to 0 but the issue reappeared even with the option added.

Currently working on running with -Dio.netty.leakDetectionLevel=PARANOID to get to the root of it.

Any ideas as to additional io.netty properties we should add or if purge=”true” in the cash-container c

[2017-09-29 12:29] johnou commented on #6540
I forget which Netty version it was but at some point the property name changed, you might want to verify you are setting the correct one or set them all.

-Dio.netty.recycler.maxCapacity=0
-Dio.netty.recycler.maxCapacity.default=0
-Dio.netty.recycler.maxCapacityPerThread=0

[2017-09-29 12:43] crinaboitor commented on #6540
@johnou
Thanks, will change these too (the Netty version is 4.1.6 for the Infinispan instance, where the leak appears).
For now we are trying to simulate the leak on the test environment (because in production it takes many weeks to manifest). I will let you guys know.

[2017-09-29 16:28] rkapsi opened #7264 "SSL failures Netty 4.1.13 -> 4.1.14"
I have fallen a little bit behind in the Netty releases and am in the process of upgrading from Netty 4.1.13 w/ netty-tcnative 2.0.5 (linux, openssl, custom static build) to Netty 4.1.14 with same netty-tcnative version.

We're observing a failure where SSL is slowly failing and becoming more unreliable over a course of a couple of hours. Unreliable as in handshakes failing/hanging. It's a degradi

[2017-09-29 19:30] johnou commented on #7264
@rkapsi any exceptions or thread dumps to share?

[2017-09-30 06:19] Jianzhu91 commented on #7262
@normanmaurer I just try again with the Netty 4.1.16.Final version. That issue still happens.

[2017-09-30 10:40] doom369 opened #7266 "Unable to use Netty native transports in modularized Java 9 projects"
Due to automatic name generation in Java 9 it is impossible to use Netty native transports - Epoll, KQueue in modularized Java 9 projects. For example, automatic module name for the epoll transport would be :

`netty.transport.native.epoll`

And `native` is the reserved keyword which doesn't allow the module to be exported to any other module. I created also [question in SO](https://stackoverflow.

[2017-09-30 17:37] johnou commented on #7266
@doom369 ptal https://github.com/netty/netty/issues/7218

[2017-09-30 17:52] doom369 commented on #7266
@johnou thanks. I saw that. My PR just fixes the concrete issue with epoll and kqueue. I think there is no need right now to give precise names for other modules until netty will provide `module-info.java` files.

[2017-10-02 06:28] normanmaurer commented on #7251
Fixed by https://github.com/netty/netty/pull/7258

[2017-10-02 06:28] #7251 closed

[2017-10-02 06:28] normanmaurer commented on #7253
Fixed by https://github.com/netty/netty/pull/7261

[2017-10-02 06:28] #7253 closed

[2017-10-02 12:38] rkapsi commented on #7264
@johnou there are no exceptions (I have `INFO` level enabled for the `io.netty.handler.ssl` and `io.netty.internal.tcnative` packages). I haven't bothered with thread dumps (yet). My bisect may take a few days (some non Netty things that I need to do first).

[2017-10-02 13:27] khitrin commented on #7255
Finally confirmed on Linux.

[2017-10-02 13:41] normanmaurer commented on #7255
@khitrin when you say confirmed... what do you mean ? Confirmed as this pr fix it or what ?

[2017-10-02 14:37] steveniemitz opened #7272 "If using more than one shaded netty-tcnative library in a JVM, only the first loads successfully"
Now that netty can automatically detect the package prefix ( #6995 ), I attempted to shade netty into two different packages, lets call them `A` and `B`.

Package `A` loaded tcnative successfully (lets say it was shaded to `A.repackaged.io.netty`).

However, when package `B` attempted to load, I got an `UnsatisfiedLinkError` invoking `aprMajorVersion()` in `io.netty.internal.tcnative.Library`.

Di

[2017-10-02 15:04] grossws commented on #7255
@normanmaurer, I've checked against @khitrin's source with 4.1.16.Final where issue is present on Linux and with 4.1.17.Final-SNAPSHOT from your PR #7259 which behaves same as on MacOSX.

[2017-10-02 17:11] normanmaurer commented on #7264
@rkapsi unfortunately there is nothing that comes into my mind :(

[2017-10-02 17:12] normanmaurer commented on #7239
You can add multiple handlers by using `ChannelInitializer` and populate the pipeline in its `initChannel` method. There are multiple examples doing this included in netty.

[2017-10-02 17:12] #7239 closed

[2017-10-02 17:13] normanmaurer commented on #7262
@Jianzhu91 ok will check once I find some cycles.

[2017-10-03 06:04] johnou commented on #7272
cc @ejona86

[2017-10-03 11:43] KiritoKun90 opened #7273 "How To Upgrade Netty into a VPS"
How can I upgrade the latest version of netty into my vps so I can try to fix an old "issue"?
Didn't find any tutorial on internet

[2017-10-03 14:11] KiritoKun90 opened #7274 "Suddenly Kicked From The Server And Can't Join Back {netty issue?}"
Players suddenly were kicked from the server and they can't join back.
This is the error I see when I try to log in:

**io.netty.channel.abstracts channel$annotated connectexception**

What is that mean? Cause I didn't find any ERROR into the console, except this message in game.

[2017-10-03 14:26] johnou commented on #7273
Probably because Netty isn't something you install or upgrade on a VPS, it is an event-driven asynchronous network application framework used in other applications, based on your issue history I am going to go out on a limb and guess you are referring to BungeeCord.. If your VPS provider installed BungeeCord for you, you will need to contact them for support wrt updating BungeeCord or the BungeeCo

[2017-10-03 14:30] johnou commented on #7274
Check your server logs and provide the full stacktrace to the BungeeCord forum / maintainer, if they spot it's an issue with Netty I am sure they will follow up on this issue tracker with specifics eg. reproducer, thread dumps, heap dump etc. Please stop reporting BungeeCord specific issues without first verifying it is an issue with Netty.

[2017-10-03 21:08] KiritoKun90 commented on #7274
Probably you didn't read well... I already said 0 error message in the log.
Also please stop acting like a professional when people out there are not.
Forum exists for this, at least I suppose.... I wrote here cause the only message I see is:

**io.netty.channel.abstracts channel$annotated connectexception**

I googled it and all the older posts that I've found talke about netty, also the messages

[2017-10-03 21:09] KiritoKun90 commented on #7273
I installed BungeeCord into the VPS by myself. So what can I do to upgrade it?

[2017-10-03 21:10] KiritoKun90 commented on #7273
Sorry first time for me and I dunno what should I do.. I didn't found any information about it around the web

[2017-10-03 21:44] johnou commented on #7274
I'm acting like a professional because that's my job. The Netty issue tracker is dedicated for issues, you might try stackoverflow or netty@googlegroups.com for questions. When creating an issue here do your best to fill out the template https://github.com/netty/netty/blob/4.1/.github/ISSUE_TEMPLATE.md instead of deleting it and giving vague desciptions, also keep in mind that someone replying her

[2017-10-03 21:47] johnou commented on #7219
@KiritoKun90 ping.

[2017-10-03 21:53] johnou commented on #7273
It entirely depends on how Netty was bundled with the application, if it's shaded, you'd probably need to fork the project and build it yourself from source after bumping the Netty version, if it's in a "libs" or other folder which is on the application classpath you might be able to monkey patch it by dropping in replacement jars.

Before going to the trouble of trying to update Netty you should

[2017-10-04 05:39] normanmaurer commented on #7273
@KiritoKun90 if its part of `BungeeCord` you should ask them how to upgrade it (and if its even possible).

[2017-10-04 05:39] #7273 closed

[2017-10-04 05:41] normanmaurer commented on #7274
As @johnou mentioned this should be reported to the BungeeCord team. The exception you are seeing is because we could not connect to the server which may be because of network problems or bad configuration. Nothing Netty can do here as Netty itself is just a framework that is used by others, like BungeeCord.

[2017-10-04 05:41] #7274 closed

[2017-10-04 06:51] normanmaurer commented on #7249
Fixed by https://github.com/netty/netty/pull/7250

[2017-10-04 06:51] #7249 closed

[2017-10-04 06:52] normanmaurer commented on #7272
also @carl-mastrangelo

[2017-10-04 07:05] carl-mastrangelo commented on #7272
@steveniemitz to clarify, you mean the *shaded* version of `io.netty.internal.tcnative.Library` right?  At leats on OpenJDK, most of the interesting Native library loading logic is in ClassLoader.  Have you tried stepping through it in a debugger yet?

[2017-10-04 11:13] ranjankumar03 opened #7275 "java.lang.ClassNotFoundException: jdk.internal.misc.Unsafe at com.datastax.driver.core.Cluster$Manager.init(Cluster.java:1446)"
Encountering mentioned issue on app startup.

2017-10-03 05:18:13,854 DEBUG APP=697 COMP=1661 [main] netty.util.internal.PlatformDependent0:351 - -Dio.netty.noUnsafe: false
2017-10-03 05:18:13,855 DEBUG APP=697 COMP=1661 [main] netty.util.internal.PlatformDependent0:102 - sun.misc.Unsafe.theUnsafe: available
2017-10-03 05:18:13,856 DEBUG APP=697 COMP=1661 [main] netty.util.internal.PlatformDepende

[2017-10-04 11:17] slandelle commented on #7275
That's not an issue. That's just a DEBUG log being too verbose (that's been fixed but you're running an older version without the fix) that you just see because you have DEBUG logging level enabled.

[2017-10-04 11:39] jackiilong commented on #6980
try:
cd dev-tools
mvn clean install

[2017-10-04 11:50] steveniemitz commented on #7272
Sorry, yeah my post was confusing there.  I do mean the shaded version of `Library`.

Working from memory right now, I have stepped through.  The call to (native) `System.loadLibrary` succeeds, and it does pass the expected correct shaded lib name.  I haven't stepped though the native code though.

[2017-10-04 12:03] normanmaurer commented on #7275
As @slandelle said... Closing

[2017-10-04 12:03] #7275 closed

[2017-10-04 12:08] normanmaurer commented on #7204
@shanling2004 ping

[2017-10-05 06:54] normanmaurer commented on #7262
@Jianzhu91 can you give me a few more details about this. I inspected the code and I think we should only fire and `SslHandshakeCompletionEvent` event in this case and notify the pending writes. Where exactly do you see the error ? Is it in an `exceptionCaught(...)` callback or a `ChannelFutureListener` ?

[2017-10-05 08:24] normanmaurer commented on #7230
@BillyYccc please check https://github.com/netty/netty/pull/7277

[2017-10-05 08:26] normanmaurer commented on #7211
@mrtechit please share all the code of your custom handlers.

[2017-10-05 08:27] normanmaurer commented on #7208
@nhnFreespirit I think for now we will not publish other static builds then the boringssl version on maven central for the reason stated above.

[2017-10-05 08:27] #7208 closed

[2017-10-05 08:28] normanmaurer commented on #7196
@maseev did you ever got around doing this? I am very interested in the outcome :)

[2017-10-05 10:08] maseev commented on #7196
@normanmaurer sorry for not responding for too long, I'm on vacation right now. I'll definitely take a look when I get back home.

[2017-10-05 18:15] rockwotj commented on #7254
Can we re-open this to actually solve the issue, I'd hate for things to break later on because this never got fixed?

The warning is quite clear this will break later on.

[2017-10-05 18:32] doom369 commented on #7254
@rockwotj Actually when reflection access will be removed from Java 9 - netty will be ready. As fixed was already applied.

Netty was tested on EA builds were reflective access was removed and right now netty handles this case.

[2017-10-05 19:35] mosesn opened #7280 "throwing exception on h2c upgrade"
I occasionally see a failure when I'm doing an h2c upgrade, although not very frequently.

The exception looks like:

[code]

And it comes from [here](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2LocalFlowController.java?utf8=%E2%9C%93#L432-L433):

[code]

Any idea what's going on here?  Is the issue that the client isn't respecting flo

[2017-10-05 19:38] mosesn commented on #7280
Also what stream has stream id 0?

[2017-10-05 19:55] mosesn commented on #7280
It looks like `ConnectionStream` has stream id 0 trying to figure out what that means in context of everything else.

[2017-10-05 20:09] mosesn commented on #7280
OK, so it looks like that means it's not an error specific to a single stream, but instead an error with the overall connection?

[code]

[2017-10-05 20:34] rockwotj commented on #7254
I see what version of netty has these changes?

[2017-10-05 20:40] mosesn commented on #7280
I think I've figured out the problem.  In the http/2 upgrade, we upgrade the http/1.1 message to http/2

[code]

However, I don't think the h2c upgrade message, which is an http/1.1 message with the upgrade:h2c header, should not be eligible for flow control.  The spec isn't super clear here however.

@normanmaurer @Scottmitch @ejona86 any idea what we should do here?

[2017-10-05 20:47] doom369 commented on #7254
It was many months ago - https://github.com/netty/netty/issues/6345

[2017-10-05 21:13] ejona86 commented on #7280
Yeah, the request is fully received (half closed) and so doesn't need any flow control. The response follows flow control like normal.

This problem would happen reliably with PUT/POST, but wouldn't be triggered by the GET/OPTIONS that we typically see.

This seems to be a problem with the InboundHttpToHttp2Adapter abstraction: it doesn't work with consumeBytes, but it does correctly [throw away t

[2017-10-06 11:18] quyetpv opened #7282 "##Cannot call initChannel"
### Expected behavior
I setup server as below:
EventLoopGroup bossGroup = new NioEventLoopGroup(1);
		EventLoopGroup workerGroup = new NioEventLoopGroup(50);
		try {
			ServerBootstrap b = new ServerBootstrap();
			b.group(bossGroup, workerGroup).channel(NioServerSocketChannel.class)
					.handler(new LoggingHandler(LogLevel.ERROR)).childHandler(new ChannelInitializer<SocketChannel>() {
						@Ove

[2017-10-06 14:59] mosesn commented on #7280
Cool, what do you think the next step should be?  Adding this hack?  And right now the only work-around I can think of is extending Http2MultiplexCodecBuilder . . . anything else I could plausibly do?

[2017-10-06 15:04] johnou commented on #7020
@doom369 pretty sure you have a bit of experience in this area but correct me if I am wrong, isn't it possible to move a Netty client between event loops?

[2017-10-06 15:37] rkapsi commented on #7020
In my mind... Split SslHandler into two classes. Let there be a new SslHandshakeHandler and some class that does everything but the handshake portion. Wrap these two into a codec style class for the convenient path and give people to use the handlers separately.

Then use `ChannelPipeline#add(EventExecutorGroup, SslHandshakeHandler)` if you want the handshakes to happen on a different thread than

[2017-10-06 15:43] normanmaurer commented on #7020
I still have this issue on my to do list but just had not cycles yet :( In general we should just “correctly” support an Executor here as SSLEngine.getTask() already allow doing this.

[2017-10-06 17:24] Jianzhu91 commented on #7262
@normanmaurer  I add a handler before `SslHandler` to close the channel when necessary.  What we want to do is to close the channel before `SSL` handshake. However, when you close the channel, the `channelInactive()` method is invoked and throws the `java.nio.channels.ClosedChannelException` (logs in the Actual Behavior section above). it's not in the `exceptionCaught(...)` or `ChannelFutureListen

[2017-10-06 21:03] mosesn commented on #7280
I've also found

[code]

Which makes it seem like we should be stripping more headers here.  The only valid TE header is "trailers".

[2017-10-06 21:28] ejona86 commented on #7280
Adding the hack sounds good to me. It's quick and easy. We can fix it up better if/when we figure out an alternative.

As far as workarounds... If patching Netty isn't an option, then yeah, extending Http2MultiplexCodecBuilder is probably about the only option.

[2017-10-07 08:57] zyxist commented on #7266
@doom369 -> actually, there is a need to give them now: http://blog.joda.org/2017/05/java-se-9-jpms-automatic-modules.html

I'll remove the `native` word from my PR.

[2017-10-07 12:22] #6100 closed

[2017-10-07 16:11] normanmaurer commented on #7117
Fixed by https://github.com/netty/netty/pull/7284

[2017-10-08 10:54] doom369 opened #7285 "Improve "Discarded inbound message" warning"
Right now, when the message reaches the end of the pipeline I can see a message:

However, in case of multiple pipelines, you can't find exact "wrong" pipeline. As above warning doesn't have any info regarding the flow channel.

I think it would be a good idea to add something like :

 `logger.debug("Handlers : {}.", Arrays.toString(ctx.pipeline().names().toArray()));`

 to the warning above, so e

[2017-10-09 07:58] amorillotraxens opened #7287 "When the client closes the connection, if the server attempt to write on the socket, the read buffer is lost."
My use case is :
- The client opens the connection, write more than 1Kb of data and closes the connection
- The server reads 1024b from the buffer, writes a response that fails because the socket is closed, and then do not read anymore data.
Though all the data has been written (checked with tcpdump).

Here is my ChannelInitializer :

`
@Override
    protected void initChannel(final SocketChannel

[2017-10-09 22:27] rkapsi commented on #7264
Hey there, sorry for the slow progress. Here's what I have so far as I'm homing in with git bisect. I believe df568c739e2a73b4a1aea533a4fea934fdf9d0f7 is the last good commit and 7cfe4161823dec6192543e916b927e7de40190be ended rather catastrophically because it was missing commit 74140dbf53456c30600d7870316c5ac79878a003. I'll very tomorrow the last good commit but the bisect for the next few will b

[2017-10-10 01:25] dengly opened #7289 "Failed to submit a listener notification task. Event loop shut down? java.util.concurrent.RejectedExecutionException: event executor terminated"
### 4.1.9.Final

### java version "1.7.0_71"
Java(TM) SE Runtime Environment (build 1.7.0_71-b14)
Java HotSpot(TM) 64-Bit Server VM (build 24.71-b01, mixed mode)

### Linux iZwz90hmidzgm3gf09poy0Z 2.6.32-642.13.1.el6.x86_64 \#1 SMP Wed Jan 11 20:56:24 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### Exception
[code]

[2017-10-10 04:13] juebanlin opened #7290 "ThreadDeathWatcher causes custom classLoader script memory leaks"
### Expected behavior

### Actual behavior

### Steps to reproduce
`package net.jueb.redAlert.script.game.serverScript.sys;

import io.netty.buffer.ByteBufAllocator;
import net.jueb.redAlert.core.base.message.AppByteMessage;
import net.jueb.redAlert.core.base.message.MsgCode;
import net.jueb.redAlert.game.ServerConfig;
import net.jueb.redAlert.game.ServerMain;
import net.jueb.redAlert.game.factory

[2017-10-10 04:14] juebanlin commented on #7290
I hope you can initialize manually

Or pre initialization ThreadDeathWatcher

[2017-10-10 06:34] dengly commented on #7289
GC log
[code]

[2017-10-10 06:35] Xeli commented on #7272
Sorry to add noise to this issue, but how did you manage to shade netty with tcnative at all? I run into the problem that netty cannot load the native library (for details: [)](https://stackoverflow.com/questions/46650776/after-shading-io-netty-tcnative-stops-working)

[2017-10-10 10:26] johnou commented on #7264
@rkapsi silly question (just to rule something out), are you using the new naming scheme with your custom static build?

http://netty.io/news/2017/09/25/4-0-52-Final-4-1-16-Final.html

Native library naming
This releases changed the naming scheme of the native .so and .dynlib files that are includes in the native jars to also include the architecture on which these were compiled. This was done as

[2017-10-10 10:27] KiritoKun90 commented on #7273
Ok I'll do it for sure and if I see that I still have a problem I'll let you know.

Cheers

[2017-10-10 10:28] KiritoKun90 commented on #7273
@normanmaurer Already done and they told me it's a netty issue and to write here lel :)
Np I'll find it out by myself. Thx

[2017-10-10 10:30] KiritoKun90 commented on #7274
They told me that it isn't their issue and that I was supposed to contact you and that's what I did. Btw np, I'll find it out by myself. Thx

[2017-10-10 10:35] johnou commented on #7274
Another tip, try running the JVM with ```-Djava.net.preferIPv4Stack=true``` network setup on the VPS / application might not be configured correctly and this property sometimes works around that.

[2017-10-10 13:05] rkapsi commented on #7264
@johnou oh that is way later. This issue is strictly about some bug introduced between 4.1.13 (works) and 4.1.14 (doesn't work).

[2017-10-10 13:55] johnou commented on #7264
@rkapsi okay just to clarify though, have you tested 4.1.16 as well?

[2017-10-10 14:26] philrykoff commented on #5070
@normanmaurer any chance to merge your solution to this issue - was it commit  https://github.com/netty/netty/commit/387bb09f9a97c4c2e6a3c461bed0666f5cd59277 ?

[2017-10-10 16:08] ejona86 commented on #7272
@Xeli, you also need to rename the .so's, .jnilib, and .dll. See #6995 for some more information.

[2017-10-10 20:27] rkapsi commented on #7264
I have updated my original comment to better reflect the result of the bisect (please see above). Bug is in commit f7b3caeddc5bb1da75aaafa4a66dec88ed585d69.

@johnou I have not but I'll give it a spin as next.

[2017-10-10 20:38] johnou commented on #5070
@philrykoff he is off on holiday now, if you take that commit, rebase it, and address the comments Trustin left I think that would help a lot.

[2017-10-11 16:25] rkapsi commented on #7264
@johnou issue is present in 4.1.16 as well

[2017-10-12 06:29] timboudreau commented on #2616
Also seeing this with a custom kernel 4.13.3 on Gentoo.  Any idea if this is a kernel *configuration* issue, not a kernel bug?

[2017-10-12 08:37] allan00 opened #7292 "Many tcp conections in ESTABLISHED, while all the client has closed the connections."
When doing stress test in my server ( EpollEventLoopGroup), i met this situation after 8 hour(90000 TPS by 18000 connections).
The server has a slow reponse. There exists many tcp connection in  **ESTABLISHED**(using netstat) in my server,  while all the clients has closed the connections. Many bytes are blocked in Recv-Q of these channels(using netstat to see ).

Proto Recv-Q          Send-Q

[2017-10-12 08:40] allan00 commented on #7292
`this.eventLoopGroupBoss = new EpollEventLoopGroup(1, new ThreadFactory() {
                private AtomicInteger threadIndex = new AtomicInteger(0);

                public Thread newThread(Runnable r) {
                    return new Thread(r, String.format("NettyBossEpoll_%d", this.threadIndex.incrementAndGet()));
                }
            });

            this.eventLoopGroupSelector = new

[2017-10-12 15:14] pkolaczk opened #7293 "HttpClientCodec cannot upgrade to TLS according to RFC2817"
### Expected behavior
1. Client sends an OPTION request with `Connection: Upgrade` and `Upgrade: TLS/1.2` headers.
2. The server installs an `SslHandler`, responds with `HTTP 101 Switching Protocols` and is ready to handle TLS handshake.
3. The client receives `HTTP 101`, installs `SslHandler` which initiates TLS handshake.
4. TLS handshake completes.
5. The server sends the remaining final HTTP 2

[2017-10-12 16:12] NiteshKant commented on #7292
Data sitting in the Recv-Q maybe because of eventloop being slow/busy/blocked or AUTO_READ off and no read request made. You may want to check that first. For debugging, you can add a `io.netty.channel.LoggingHandler` which will give you insights into what is happening on the channel.

[2017-10-12 16:57] pkolaczk commented on #7293
I read through the code and the culprit seems to be this fragment of `HttpObjectDecoder`:
[code]

The problem is that it assumes that every Upgrade will cause replacement of `HttpClientCodec` with something else (e.g. HTTP 2 handler). Unfortunately with TLS this is not the case, because the protocol switch happens at a different layer.

Maybe it would be ok if `HttpClientCodec` entered UPGRADED st

[2017-10-12 17:33] NiteshKant commented on #7287
By default `AUTO_CLOSE` [1] is `true` for a channel, which means a write failure closes the channel. IIUC, you do not want write failures to close the channel and continue reading till read fails. If so, then you can turn `AUTO_CLOSE` to false for the child channel, which will allow to read more data if available.

AFAICT, using `AdaptiveRecvByteBufAllocator` may trigger `readComplete()` earlier w

[2017-10-12 18:30] johnou commented on #7264
cc @Scottmitch

[2017-10-13 03:58] lgengsy commented on #7243
yeah , limit create instance fix  it .I will update  to  4.1 release.

[2017-10-13 06:12] erelsgl commented on #4893
If netty 5 is not available, then you should also remove this page: http://netty.io/wiki/user-guide-for-5.x.html

[2017-10-13 07:08] ted-wq-x commented on #5070
@philrykoff i use vertx 3.4.2 also has this problem ,do you have any idea to fix this?

[2017-10-13 07:27] philrykoff commented on #5070
I have never worked "in" netty, so I am a bit hesitant to rebase that PR myself. I am currently wrapping up a project and get back to this afterwards.

[2017-10-13 08:28] mytang0 opened #7294 "Too many open files"
My Applications:

		bossGroup = new NioEventLoopGroup();
		workerGroup = new NioEventLoopGroup();
		ServerBootstrap b = new ServerBootstrap();
		b.group(bossGroup, workerGroup).channel(NioServerSocketChannel.class)
				.childHandler(new ChannelInitializer<SocketChannel>() {
					@Override
					public void initChannel(SocketChannel ch) throws Exception {
						ChannelHandler[] handlers = createHand

[2017-10-13 08:48] ctron opened #7295 "JVM warnings running Netty 4.0.52 on Java 9"
### Expected behavior

No warnings from the JVM.

### Actual behavior

The following warnings get written to STDERR when launching an application using Netty 4.0.52:

[code]

### Steps to reproduce

Run a Netty 4.0.52 application on Java 9.

### Minimal yet complete reproducer code (or URL to code)

https://github.com/ctron/milo-ece2017/blob/master/client-examples/src/main/java/de/dentrassi/ece201

[2017-10-13 08:52] shindonghyeok opened #7296 "Sometimes netty doesn't flush data to client"
My netty server is http  relay server.
My process is like this..

1. client A ->(request) -> netty server -> (request) -> client B
2. client A <-(response) <- netty server <-(response) <- client B

The problem is that process '1' always success. however  when netty server relay response which is from client B to client A, netty doesn't flush data to client A in  process '2'.

    protected void ch

[2017-10-13 09:47] johnou commented on #7296
`writeAndFlush` returns a future, you might want to wait for that to complete before removing the response encoder.

[2017-10-13 09:49] johnou commented on #7295
Duplicate of https://github.com/netty/netty/issues/7254

[2017-10-13 10:08] allan00 commented on #7292
@NiteshKant  Tks. This situation happens occasionally.  I've add LogginHandler in my netty server, so i can know what happens in netty when meeting this situation next time.

[2017-10-13 10:08] allan00 commented on #7292
This is my jstack
[18554.zip](https://github.com/netty/netty/files/1382224/18554.zip)

[2017-10-13 10:48] ted-wq-x commented on #5070
The default value is http so i set the type to socks5,hahaha,but I don’t know why netty doesn’t support https?

在 2017年10月13日，下午3:28，Phil Rykoff <notifications@github.com<mailto:notifications@github.com>> 写道：

hesitant

[2017-10-13 10:58] mytang0 commented on #7294
I found the problem as a result of the following code：

 protected boolean closeOnReadError(Throwable cause) {
        // ServerChannel should not be closed even on IOException because it can often continue
        // accepting incoming connections. (e.g. too many open files)
        return cause instanceof IOException &&
                !(cause instanceof PortUnreachableException) &&

[2017-10-13 16:08] NiteshKant commented on #7292
There are a few threads which look like eventloops that do not look happy:

[code]

Looks like you do not have enough direct memory.

[2017-10-13 20:33] smaldini commented on #2752
@Scottmitch @normanmaurer it does seem a regression has been introduced recently and defeat this fix due to SslHandler now using CoalescingBufferQueue from this commit https://github.com/netty/netty/commit/86e653e04fb452c92154e39cd7189615dc0ec323.
As a result, backpressured based flush flow using isWriteable are broken and streams are getting aggregated forever until manual flush. Since there is n