[2015-10-21 21:25] #4379 closed

[2015-10-21 21:28] normanmaurer commented on #4379
@dustismo thanks!

[2015-10-22 00:40] merlimat commented on #4198
I'm seeing the same exact NPE stack trace on netty-4.0.32 (and on previous versions).

[code]

Multiple times, I've been getting a NPE with empty stack trace, that I've been finally able to track down to the same `allocator.directBuffer()` call.

From comments above, I cannot understand how an error in handling these buffer could result in this NPE.

I know that if I have some thread holding on a

[2015-10-22 06:08] normanmaurer commented on #4198
@merlimat can I somehow reproduce it ?

[2015-10-22 07:45] normanmaurer commented on #4302
@Scottmitch @nmittler another leak. Not sure it's the same:

https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=2558#_focus=34912

[2015-10-22 08:28] normanmaurer commented on #4373
@fratboy yeah failing the exception would be fine as well. Let me fix it.

[2015-10-22 09:34] demonhunterg opened #4385 "Write byte arrays to Netty server without using Netty lib in client."

[2015-10-22 10:19] ctron commented on #4087
I do think this change added a rather strange behavior to netty.

Assuming you have chain of:
* LengthFieldBasedFrameDecoder
* MyCodec -> based on ByteToMessageCodec
* ...

In the past once the channel got closed, nothing happened. Which is somewhat expected.

With this change "MyCodec" gets it's `decode` method called with an empty buffer. Thus the initial idea of adding a `LengthFieldBasedFrameD

[2015-10-22 10:21] normanmaurer commented on #4198
@merlimat do you run with assert's enabled ?

[2015-10-22 10:26] ctron commented on #4087
Maybe a solution would be to only fire `decode` when there is actual data in the buffer.

[2015-10-22 10:27] normanmaurer commented on #4087
Maybe we should only forward if it's not caused by a close of a Channel?

[2015-10-22 10:36] ctron commented on #4087
I am just digging through the source.

So `ByteToMessageDecoder` has `decodeLast` which is especially for this case. Defaulting to a call to `decode`. Same for the `ByteToMessageCodec`. So I would say, this is the same behavior now for both classes, which this issue is actually about.

However IMHO this is not what it should be in the first place looking at the idea in the javadoc of the `ByteToMe

[2015-10-22 10:43] fratboy commented on #4373
@normanmaurer =)

[2015-10-22 10:45] ctron opened #4386 "ByteToMessageDecoder have to watch out for empty buffers"
Netty version: 4.0.31

Context:
Unexpected behavior when implementing a `ByteToMessageDecoder`. Following up in issue #4087.

The Javadoc of `ByteToMessageDecoder` urges the implementer to let another filter handle the actual frame detection, so that the implementation of `ByteToMessageDecoder` can focus on decode the content of the frame. Which is a good idea.

However will the `decode` method al

[2015-10-22 11:40] normanmaurer commented on #4386
@ctron I wonder why you even implement a ByteToMessageDecoder and not a MessageToMessageDecoder<ByteBuf> ?

I think this would be the correct thing for you and also result in the desired behavoir.

[2015-10-22 12:27] normanmaurer commented on #4198
@merlimat also could you tell me what previous versions you tried ?

[2015-10-22 13:09] normanmaurer commented on #4198
@merlimat @ninja- good news (well at least kind of) ! I'm able to reproduce it with a unit test. Looking into fixing it now.

[2015-10-22 14:25] demonhunterg commented on #4385
Nobody can help me?

[2015-10-22 15:27] ctron commented on #4386
Well I do have the intention of converting between bytes and messages. So the `ByteToMessageDecoder` with its Javadoc sounded like a good idea.

[2015-10-22 15:42] merlimat commented on #4198
@normanmaurer great! Tell me if I can help testing it

[2015-10-22 15:45] ninja- commented on #4198
@normanmaurer oh that's nice. from what I remember the issue was improper reference counting on my side, but after fixing it I don't think I encountered it again

[2015-10-22 16:04] normanmaurer commented on #4198
Sure will do :)

[2015-10-22 16:26] demonhunterg commented on #4386
@ctron can we send byte array to netty server without using netty lib? I want to write byte array byjava OutputStream, Ios NSInputStream.

[2015-10-22 17:09] #4385 closed

[2015-10-23 00:25] Scottmitch commented on #4302
@normanmaurer - Thanks ... yes it does look like the same (allocated by `writePing`).

[2015-10-23 10:25] normanmaurer commented on #4372
@doom369 sounds good... @Scottmitch @nmittler WDYT ?

[2015-10-23 13:33] normanmaurer commented on #4355
@freels nevermind... working on a fix, stay tuned :)

[2015-10-23 14:16] freels commented on #4355
Awesome, thanks!

[2015-10-23 14:32] nmittler commented on #4372
LGTM

[2015-10-23 20:02] normanmaurer commented on #4355
@freels please check https://github.com/netty/netty/pull/4387

[2015-10-23 20:04] normanmaurer commented on #4198
@merlimat can you please verify https://github.com/netty/netty/pull/4388 ?

[2015-10-23 20:04] normanmaurer commented on #4373
@fratboy @stau should be fixed by https://github.com/netty/netty/pull/4389. Please check

[2015-10-24 09:57] normanmaurer commented on #4373
Fixed

[2015-10-24 09:57] #4373 closed

[2015-10-25 10:01] #4355 closed

[2015-10-26 03:56] Scottmitch commented on #4372
Concept sounds good.  Do you plan on submitting a pr @doom369? We should consider handling the case if the first `deregister` call fails.

[2015-10-26 03:57] Scottmitch commented on #4317
@ninja- - Any updates? Were your comments on the commit included in #4336 holding you up from trying to reproduce...if so sry they are fixed now :)

[2015-10-26 04:16] Scottmitch commented on #4302
Another leak observed.

https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=2656#_focus=19725
[code]

[2015-10-26 08:10] sunqb opened #4392 "netty5 don't support jdk6?"
when i use jdk 6 ,there is a error bellow
the exception is :
java.lang.NoClassDefFoundError: java/lang/AutoCloseable

[2015-10-26 10:08] demonhunterg opened #4393 "Find channel in Netty 4.0.32"
How to get  target channel from ChannelGroup in Netty 4.0.32? I want to write message to target channel.
I have to implement ConcurrentHashMap to store Channel with generate uuid key? Have some good solution?

[2015-10-26 10:09] normanmaurer commented on #4393
@demonhunterg please use stack overflow for questions. This is for bugs only.

[2015-10-26 10:09] #4393 closed

[2015-10-26 10:49] normanmaurer commented on #4392
use 4.1 or 4.1 if you want to use jdk6

[2015-10-26 10:49] #4392 closed

[2015-10-26 19:04] normanmaurer commented on #4386
@ctron well the ByteToMessageDecoder will "buffer" data until you are ready to consume them. Which is not needed as you already cut out the frames. So MessageToMessageDecoder<ByteBuf> sounds right to me.

[2015-10-26 19:23] merlimat commented on #4198
@normanmaurer Sorry for delay. Tested with real-ish traffic, 48 threads hitting a single arena for many hours and looks like everything worked great. Thanks!

[2015-10-26 19:24] normanmaurer commented on #4198
@merlimat :tada: thanks!

[2015-10-26 20:00] serphacker commented on #3972
DNS txid space is limited to 0-65535, like @trustin suggested we can use a txid pool per server, but maybe we could do a txid pool per source port ?

I think a dns query identifier is `source port` + `transaction id` we can send the same transaction id to a same server, but using a different source port. This way we have a far bigger query id space.

[2015-10-26 22:12] maxwindiff opened #4395 "StackOverflowError when adding listener to DefaultPromise w/ ImmediateEventExecutor"
This will produce a `StackOverflowError`:

[code]

The error may not show up in console but if you add an exception breakpoint in IntelliJ / Eclipse you'll see it.

Reproduces on 4.1.0.Beta7

[2015-10-26 22:47] Scottmitch commented on #4395
thanks for reporting @maxwindiff!

[2015-10-27 02:01] sunqb commented on #4392
thank you !  i use jdk7 instead of jdk6 now,it works.

[2015-10-27 03:53] demonhunterg commented on #4386
Same confused.

[2015-10-27 06:42] fratboy commented on #4377
@normanmaurer I'll think about it again. Thanks.

[2015-10-27 06:42] #4377 closed

[2015-10-27 06:43] #4198 closed

[2015-10-27 10:26] doom369 commented on #4372
@Scottmitch yeah. I'll do. Give me pls few days. I'm busy a bit at the moment.

[2015-10-27 12:57] normanmaurer commented on #4376
@Gadreel I think we not provide this anymore. You should just build APR yourself like explained here:

http://netty.io/wiki/forked-tomcat-native.html#wiki-h3-6

[2015-10-27 12:57] #4376 closed

[2015-10-27 15:37] normanmaurer commented on #4318
@houdejun214 check if the write was successful. Even if a server is killed it may take some time to detect it.

[2015-10-27 15:37] #4318 closed

[2015-10-27 18:36] ninja- opened #4397 "[perf] epoll - try vmsplice+splice instead of writev?"
As I misunderstood what is the splice(...) support in netty (it's for something else entirely) I propose to try replacing write syscall with a pipe + vmsplice and see what happens. As far as I am aware write(...) causes memory pages to be copied from user-space to kernel-space.

We would keep our pipe which would be vmspliced to when writing. The second part would be easier as already implemented

[2015-10-27 18:58] normanmaurer commented on #4397
@ninja- no, replacing write / writev with pipe + vmsplice makes no sense. The only thing we could do in theory which may lead to performance gains would be to bypass the kernel network stack completely. But this is a different story...

[2015-10-27 18:58] #4397 closed

[2015-10-28 07:21] sandarenu opened #4399 "FixedChannelPool for Netty Client get stuck after server restart"
I'm using netty-all 4.0.32-final and I've used `FixedChannelPool` to create a connection pool for a simple http client. I created the pool with maxCount = 2. But when a server restart happens, pool do not return a new connection when I call `connectionPool.acquire()`. It get stuck at that point. Even the timeout doesn't happen.

I create the channel pool as follows.
[code]

And accuire channel as

[2015-10-28 08:37] ninja- opened #4400 "[perf] cache inbound/outbound invoker"
![](https://camo.githubusercontent.com/3606bec29730b96b3199fe7aab5132ce69c8b573/68747470733a2f2f73632d63646e2e7363616c65656e67696e652e6e65742f692f6134313161623939643835623337643566663231633262316632386535363663312e706e67)

anything against adding cached variables to findInbound/findOutbound ? they would be looked for only once and stored in a variable. triggering handler addition/removal should cl

[2015-10-28 14:03] normanmaurer commented on #4400
@ninja- I'm not convinced it is really a performance bottleneck currently. Adding a cached variable introduce more complexity to ensure it is correct in multi-threaded environments.

[2015-10-28 14:04] normanmaurer commented on #4399
@sandarenu could you submit a unit test that demonstrate the issue ?

[2015-10-28 14:58] ninja- opened #4401 "Epoll event loop not a fast thread local thread?"
[code]

why is this a thing? isn't epoll event loop thread supposed to be a FastThreadLocalThread?
weird considering that the thread factory code looks correct...should create fast thread local threads.
I hope that's not something that was broken by using the profiler?

[2015-10-28 15:10] ninja- commented on #4401
hm that was something "broken" at app level and not netty level (new EpollEventLoopGroup(...) ) ...nice catch for me, I guess :smiley:

[2015-10-28 15:10] #4401 closed

[2015-10-28 17:33] ninja- opened #4402 "FastThreadLocal slower than jdk"
[code]

it's slower for a number of reasons including casts, instanceof etc. but why is it here if jdk's one is faster on java 8?
<s>Maybe the current benchmark isn't exactly fair because it doesn't use the "fast threads" to test...but still it's off in "real tests"</s>
surprisingly the test executor is using fast threads so nevermind above line

[2015-10-28 18:02] Scottmitch commented on #4402
Thanks for reporting @ninja- !

@normanmaurer - assigned to you.

[2015-10-28 18:11] ninja- commented on #4402
@Scottmitch :smiley: I am squashing every last bit of top hot methods and found lots of interesting things already.
btw. recycler.get() was something like 6% for the work and 94% for the thread local madness...

[2015-10-28 20:22] ninja- commented on #4402
I have a commit that removes the "fast" internals(but keeps the "fast" threads, they may be useful later) while keeping the API and wrapping around java's ThreadLocal...can PR.

[2015-10-28 20:50] normanmaurer commented on #4402
@ninja- please hold of for now... I want to investigate a bit more

[2015-10-28 20:57] #4363 closed

[2015-10-28 21:29] nmittler opened #4403 "Consider forking twitter's hpack"
In order to be able to more easily incorporate performance improvements going forward, we should consider forking twitter's hpack implementation and just making it part of Netty.

@normanmaurer @louiscryan @Scottmitch WDYT?

[2015-10-28 21:46] buchgr commented on #4402
@ninja- could you run it on Java 7 as well please? Maybe it's just a change in the runtime that makes FastThreadLocalBenchmark regress. Also looking at the commit 7d37af5dfb33c9ca67c596, it seems like this change was justified due to improved performance in `ByteBufAllocatorBenchmark` and `RecyclableArrayListBenchmark`. So it would be interesting to see if that's still true for those two benchmark

[2015-10-28 21:49] ninja- commented on #4402
@buchgr Regarding byte buf allocator I have some other (quite simple) ideas so I'll test it as a whole

[2015-10-28 21:51] normanmaurer commented on #4402
@ninja- please if you do any benchmarks do it with "isolated" changes and not change multiple things at the same time.

[2015-10-28 21:53] normanmaurer commented on #4403
@nmittler I'm not sure yet... trying to find out at the moment who is maintaining it @ twitter atm.

[2015-10-28 21:53] ninja- commented on #4402
@normanmaurer @buchgr's question is easy to test: either these two benchmarks with jdk's threadlocal will regress or not. So that's not a problem to test too

[2015-10-28 21:57] buchgr commented on #4402
looking at your first post, numbers seem significantly different between the runs.

[2015-10-28 21:59] ninja- commented on #4402
@buchgr pc load I think. It would be 2x faster in every attempt to test

[2015-10-28 22:02] nmittler commented on #4403
@normanmaurer ok, although the fact that you have to do that suggests it to be a problem :).

The project hasn't had a commit since June (and < 60 commits total) ... not a good sign :/

[2015-10-28 22:28] buchgr commented on #4403
afaik none of the guys works at Twitter anymore, and Twitter Open Source got killed recently as well.

[2015-10-28 23:46] louiscryan commented on #4403
Jeff is still doing reviews.

e.g. https://github.com/twitter/hpack/pull/28

it may just be that they haven't done anything because no one asked them to (they have no open issues after all) so it's by no means dead. I think what would be most useful would be to list out what we think the primary benefits of having an internal impl might be vs using twitters aside from project health issues:

- Usi

[2015-10-28 23:47] louiscryan commented on #4403
@jpinner Hey Jeff, should we worry about your bus no. ?

[2015-10-29 02:00] jpinner commented on #4403
There are no maintainers of the library at Twitter anymore. I still have commit access but would need to ask my contacts at twitter to publish a new release.

In terms of bus factor, there's still @wgallagher but that's about it. The more people familiar with the code the better.

As for number and timing of commits, velocity was higher back when we were designing hpack/http2 and trailed off once

[2015-10-29 08:32] slandelle opened #4407 "OpenSSL client side "renegotiation unsupported" issue"
* Netty 4.0.32.Final
* netty-tcnative 1.1.33.Fork10
* OSX El Capitan
* Hotspot 1.8.0_66

I'm trying to play with OpenSSL support on the client side.

In this [gist](https://gist.github.com/slandelle/5fbda68093273fcff3b8), the first sample works fine, but the second one crashes with a "renegotiation unsupported" SSLException.

Everything works fine with JDK SslProvider.
I checked the SSL logs, and

[2015-10-29 08:35] slandelle commented on #4407
Note that I had the following warning when installing OpenSSL with homebrew:

[code]

I don't know how much of an impact this has.

[2015-10-29 09:11] normanmaurer commented on #4402
@ninja- can reproduce it... looking :)

[2015-10-29 10:25] buchgr opened #4409 "Build fails on OSX"
just wanted to build Netty master (mvn clean install) on a clean machine and building `microbench` fails

[code]

I am running on El Capitan, Java 1.8u60 and Maven 3.3.3.

I am not familiar enough with Maven to fix this quickly, but can look into it if none if you know of a quick resolution either.

[2015-10-29 10:28] slandelle commented on #4409
I guess all the native transport related stuff should only be built/triggered when a Linux only maven profile is enabled.

[2015-10-29 10:31] buchgr commented on #4409
yes, that's also how the pom file seems to be set up, but idk how this "conditional dependency" stuff works in maven.

[2015-10-29 10:39] slandelle commented on #4407
FYI, I have the same issue on Ubuntu 14.0.4.

[2015-10-29 10:46] buchgr commented on #4409
aww i think I have a fix.

[2015-10-29 11:35] ninja- commented on #4402
@normanmaurer I have a patch that removes thread-local recycler stack lookups(lookup once) in places where the object is either thread local already (like the PoolThreadCache) or called only inside the event loop so: PoolThreadCache(memory regions),PooledByteBufAllocator(pooled buffer objects),ChannelOutboundBuffer(outbound buffer entries). No chance to break anything and benchmarks should like th

[2015-10-29 11:37] normanmaurer commented on #4402
Like I said please hold off

[2015-10-29 11:37] ninja- commented on #4402
@normanmaurer ...it's barely related

[2015-10-29 11:49] slandelle commented on #4407
Mmm, things work when I move setting the SslHandler into `channelActive` instead of in the Listener in the connect Future. I noted that the listener is being called before channelActive. Does this make sense?

[2015-10-29 11:51] normanmaurer commented on #4407
Thanks for the info... Both ways should work. Will provide a fix soon

[2015-10-29 12:28] slandelle commented on #4409
@buchgr @normanmaurer CI build was successful and I just squashed the 2 commits.

[2015-10-29 15:23] #4409 closed

[2015-10-29 15:24] normanmaurer commented on #4409
Fixed

[2015-10-29 17:05] Scottmitch commented on #4403
My vote is to fork. Seems like the project maintenance path is in limbo and we have been kicking around the idea (https://github.com/netty/netty/issues/3597) of changing the APIs for a while.

[2015-10-29 17:15] louiscryan commented on #4403
@jpinner Who are the direct users of the library these days aside from Netty and OkHttp?

[2015-10-29 18:11] #4395 closed

[2015-10-29 19:03] normanmaurer commented on #4407
@slandelle just checked... this was fixed in 4.0.33.Final-SNAPSHOT already. Running it with current 4.0 branch not shows the problem (yay).

[2015-10-29 19:03] #4407 closed

[2015-10-29 19:05] #4400 closed

[2015-10-29 19:06] normanmaurer commented on #4400
Closing this for now

[2015-10-29 19:06] normanmaurer commented on #4386
Closing this as explained above.

[2015-10-29 19:06] normanmaurer commented on #4315
@slandelle ping :)

[2015-10-29 19:10] slandelle commented on #4407
Great, I confirm that it work, thanks!!!

Is it this one? #4355

I feel stupid for not having checked the snapshot first...

[2015-10-29 20:40] #4402 closed

[2015-10-29 20:47] buchgr commented on #4395
@Scottmitch Does this also fix https://github.com/netty/netty/issues/3450?

[2015-10-29 20:49] normanmaurer commented on #4395
@buchgr yes I think so.

[2015-10-29 20:53] buchgr opened #4418 "Improve performance of FastThreadLocal slow path"
Issues #4402 and #4417 gave some indication that there might be room for performance improvement on the slow path of `FastThreadLocal`.

The performance on the slow path might be critical if a user of Netty plugs in an `Executor` that does not use `FastThreadLocalThreads`.

[2015-10-29 21:53] louiscryan commented on #4403
Actually it looks like okhttp forked too. Given that I'm OK with forking too

[2015-10-29 22:01] slandelle commented on #4407
@normanmaurer Any idea when you might release 4.0.33?

[2015-10-29 23:34] ninja- commented on #4418
tip for you: current slow-path calls 2x Thread.currentThread(). have fun

[2015-10-30 00:43] jpinner commented on #4403
@louiscryan only other thing i know of is https://github.com/twitter/netty-http2 -- i'm fine with you guys forking it btw

[2015-10-30 07:42] dmk23 commented on #3972
I'd support any solution that would extend the query ID space...

[2015-10-30 11:51] trustin commented on #3972
Busy at work - will fix when I have time. PR welcome.

[2015-10-30 18:58] Scottmitch commented on #4403
/cc @yschimke @madster26 ... looks like they are still contributing to twitter's netty-http2 implementation.  Do you guys plan to move toward Netty's codec-http2?

[2015-10-30 19:45] tolbertam commented on #4357
Oddly I started encountering this issue while upgrading from jdk 8u60 to 8u65.  Not really sure why that would explain this.  I was just curious @luengnat do you happen to remember what JDK you were on when you were encountering this?    We've been on 4.0.26/4.0.27 for about 6 months or and I hadn't seen this issue once until we recently upgraded JDKs in our CI environment and it seems to happen o

[2015-10-30 20:47] yschimke commented on #4403
I think it makes a lot of sense to fork the hpack project and make it part of the broader Netty project.

Regarding Twitter's maintenance of the netty-http2 library, the recent changes I made are a stepping stone to using netty 4.1.  When we are on 4.1 then we will be able to adopt Netty's codec-http2. AFAIK no-one in Twitter plans to actively maintain the netty-http2 library considering Netty's o

[2015-10-30 20:47] normanmaurer commented on #4403
@yschimke thanks for the info!

[2015-10-31 09:50] TinyZzh commented on #3319
Hi guys.
Fist is My english is pool. sorry about that.
Then i think maybe i can reproduce it.

 *  The reproduce step:
 *  Step 1: Bootstrap {@link OutOfMemoryServer} , then Bootstrap {@link OutOfMemoryClient}.
 *  Step 2: Do nothing just wait a minute.
 *  Step 3: The client shutdown the OutOfMemoryClient.
 *
 *  The java visualVM show The io.netty.util.Recycler$DefaultHandle instance count is la

[2015-10-31 10:35] stoneCrystal opened #4425 "tomcat jni class not found when compile"
For example, these clasess in OpenSsl(4.1 branch)
import org.apache.tomcat.jni.Library;
import org.apache.tomcat.jni.Pool;
import org.apache.tomcat.jni.SSL;
import org.apache.tomcat.jni.SSLContext;

my IDE is IDEA(maven 2.2.1)

[2015-10-31 10:47] normanmaurer commented on #4425
What OS ?

[2015-10-31 10:50] stoneCrystal commented on #4425
macbook pro

[2015-10-31 10:52] normanmaurer commented on #4425
What version of osx?

[2015-10-31 10:55] stoneCrystal commented on #4425
10.10.5

[2015-10-31 11:10] stoneCrystal commented on #4425
![Uploading 屏幕快照 2015-10-31 下午7.03.06.png…]()

[2015-10-31 11:11] stoneCrystal commented on #4425
Maven: io.netty:netty-tcnative:${os.detected.classifier}:1.1.33.Fork10   seem this jar not import successful

[2015-10-31 11:15] stoneCrystal commented on #4425
*/.m2/repository/io/netty/netty-tcnative/1.1.33.Fork10/netty-tcnative-1.1.33.Fork10-javadoc.jar

[2015-10-31 11:48] normanmaurer commented on #4425
Does 'mvn clean package' in tge terminal work?

[2015-10-31 12:56] stoneCrystal commented on #4425
not work

[2015-10-31 13:50] stoneCrystal commented on #4425
I solve this issue by modify idea project file, I think the root cause is IDEA parse ${os.detected.classifier} varable have problem.

[2015-11-01 09:02] krzyk opened #4426 "Random "connection refused" when using unix sockets"
In Netty version 4.0.32.Final, jdk1.7.0_72 (x64) below test has a chance of about 40% to fail with `java.net.ConnectException: connect() failed: Connection refused: /tmp/junit881399853847232179/test.sock`.

Doing the same on jdk1.8.0_60 (x64) results in about 3% of failures with the same error.

When I downgraded to 4.0.31.Final and jdk1.7.0_72 (x64) I get again 3% of failures.

Sorry for the long

[2015-11-02 07:44] Fidel-L opened #4427 ""SYN_SENT" when reconnecting NettyServer"
Hi all:
  I used 3 VM(RHEL 6.4) to simulated RPC communication (Netty-all-4.0.28.Final)。
  192.168.1.1  (server listen 4000 port)
  192.168.1.2/192.168.1.3 (client  4006 connect server 4000)
  In my netty client ,i  added a listener on connecting event. When it can not connect to server,client will connected server after 10 second until channel connected.
  I run my client then run server ,it work

[2015-11-02 09:58] trustin opened #4429 "Log the current channel when logging HTTP/2 frames"
When running concurrent HTTP/2 connections, it's hard/impossible to tell which frame is from which connection. `Http2FrameLogger` should log the current connection as well.

Also, please consider aesthetics. The first line with the hyphens and the last line with the hyphens end at the different column for example. Could we get something nicer such as we have with `LoggingHandler`?

[2015-11-02 10:03] antarasi opened #4430 "SslHandler is trying to send over 500MB message itself at handshake"
LengthFieldBasedFrameDecoder maxFrameLength is set to 512000 bytes
Before any of my masseges is passed to pipeline, The SSLHanlder throws the following exception (in client side):

io.netty.handler.codec.TooLongFrameException: Adjusted frame length exceeds 512000: 529205252 - discarded
	at io.netty.handler.codec.LengthFieldBasedFrameDecoder.fail(LengthFieldBasedFrameDecoder.java:499)
	at io.netty.

[2015-11-02 10:39] antarasi commented on #4430
ZIP handler was not present on the server side, so length field was corrupted.

[2015-11-02 10:39] #4430 closed

[2015-11-02 13:55] normanmaurer commented on #4425
@stoneCrystal if you just import it as a new "maven" project it should just work, as least this is how it works here.

[2015-11-02 13:55] #4425 closed

[2015-11-03 06:17] mikepii commented on #1706
I was unable to get the epoll+`SO_REUSEPORT` solution working with netty 4.0 and 5.0 on Ubuntu 14.04. Has anyone ever actually seen that work? I see the same snippet in a message board and the technique referenced in other places but no confirmation that it worked for anyone. I put a `Thread.sleep(5000)` and some logging in the handler and fired a bunch of datagrams at it, and it processed them al

[2015-11-03 06:21] normanmaurer commented on #1706
@mikepii it worked for me before... what kernel version also can you show the code ?

[2015-11-03 12:38] mielientiev opened #4433 "Problem with custom FeedableBodyGenerator."

[2015-11-03 12:40] #4433 closed

[2015-11-03 15:07] mikepii commented on #1706
@normanmaurer that's great to hear, I'm putting together some demo source so I can show you the code. The kernel version according to `uname -r` is 3.13.0-48-generic. `SO_REUSEPORT` became available in 3.9, right?

[2015-11-03 15:52] mikepii commented on #1706
I've put together a demo of what I'm seeing here: https://github.com/mikepii/netty-reuseport-demo

Hopefully I'm just doing something wrong

[2015-11-03 17:31] nmittler commented on #4403
Ok great, thanks everyone! Sounds like we've agreed to move forward.

@buchgr would you have bandwidth and/or interest in taking a crack at this?

[2015-11-03 17:55] buchgr commented on #4403
@nmittler yes if it's not high priority i.e. can't guarantee that I ll have it done by christmas. working on my thesis right now and trying to stay on top of classes. so can't guarantee fast delivery, only eventual delivery :).

[2015-11-03 17:57] earthling commented on #1706
I came across this issue sometime ago and made a little echo server for testing different netty configurations. It records the names of utilized threads in a set and prints them on the console periodically. I just pushed the code here: https://github.com/earthling/configurable-echo-server. It works for me, but it looks similar enough to yours that I'm sorry to say I can't see why your demo doesn't

[2015-11-03 18:20] Scottmitch commented on #4395
@buchgr - Based upon your description (exactly the same scenario that is described in this issue), I would think this should take care of #3450. Is it possible to verify?

[2015-11-03 18:21] Scottmitch commented on #3450
@buchgr - Thanks for pointing out that https://github.com/netty/netty/issues/4395 looks like a duplicate of this issue. Is it possible for you to verify the fix for https://github.com/netty/netty/issues/4395 also takes care of this issue? If it does not, please re-open this issue.

[2015-11-03 18:21] #3450 closed

[2015-11-03 18:22] mikepii commented on #1706
@earthling thanks! This is very helpful, I ran your code on my test box and it didn't work, so it must be an issue with my system configuration. I'll update here when I figure out what's wrong.

[code]

[2015-11-03 19:12] mikepii commented on #1706
Figured it out -- the receiving OS chooses which thread's socket receive buffer to put the datagram on based on the peer IP and port number (and its own). Altering the Python script to create and close a new socket for each datagram sent allowed the echo server to use all threads because each new sending socket gets a new peer port number. This was a newbie mistake on my part but I hope this infor

[2015-11-03 19:17] earthling commented on #1706
Cool, was going to point you here: https://lwn.net/Articles/542629/

[2015-11-03 19:25] buchgr commented on #4395
@Scottmitch I don't have the code anymore, but yeah it looks like it fixes both issues. I think it's a perfectly valid fix as it makes it work with Netty all provided Executors. However, it doesn't work with Guava's `DirectExecutor` or Developer Joes `SelfBakedDirectExecutor` :). I couldn't think of fix for those scenarios myself either ...

[2015-11-03 19:52] earthling commented on #1706
Although using epoll does support multithreaded handling of datagram channels, I would still love to see a solution for other channel types. Particularly for the "Oio" datagram channels - as the 'old io' sockets are the only ones where setting the traffic class actually has any effect on the IP headers.

[2015-11-03 21:15] Scottmitch commented on #4395
@buchgr - I also couldn't think of a good way to generalize the behavior of `the executor will always (or on the next execute call) use the same thread to execute tasks.` ... and just punted for the near term :(

[2015-11-03 21:31] Scottmitch commented on #4426
@normanmaurer - assigned to you for now.

[2015-11-03 21:46] Scottmitch commented on #3319
@TinyZzh - I just took a brief look and have a few questions:

1. I don't know much about Disruptor but is `BlockingWaitStrategy` going to cause you to block on an I/O thread?
2. OutOfMemoryServer - Looks like you are creating a new `Executors.newCachedThreadPool()` for each Netty I/O thread? Can you just have 1 thread pool?
3. OutOfMemoryClient - Is is necessary to create so many `NioEventLoopGro

[2015-11-03 21:59] Scottmitch commented on #4429
no objection here. were you going to submit a pr @trustin? The unknown frame type may require a bit more than just a set lookup.

[2015-11-03 23:18] doom369 opened #4435 "Strange IllegalReferenceCountException"
Hello. 4.0.32.Final, Ubuntu 14.04. I have a production system running for few weeks. Was reviewing logs and found this:

[code]

Not sure is that netty bug or my own. Decoder code - https://github.com/blynkkk/blynk-server/blob/master/common/src/main/java/cc/blynk/common/handlers/common/decoders/MessageDecoder.java

[2015-11-04 02:00] TinyZzh commented on #3319
@Scottmitch
1. the BlockingWaitStrategy just use in disruptor's handler logic when we need do something one-by-one. Never block netty's  I/O thread.
2. remove disruptor to simplify the example. just dependency netty now.
3. The OutOfMemoryClient  imitate multiple user. The product enviement usually have many user will connect to server and do some action. The {@link OutOfMemoryClient} imitate 100

[2015-11-04 08:53] normanmaurer commented on #4435
@doom369 can you show me all the handlers you have in your pipeline ?

[2015-11-04 09:26] doom369 commented on #4435
@normanmaurer sure. pipeline initialization - https://github.com/blynkkk/blynk-server/blob/master/server/tcp-server/src/main/java/cc/blynk/server/core/hardware/HardwareServer.java#L31

handlers - https://github.com/blynkkk/blynk-server/tree/master/server/tcp-server/src/main/java/cc/blynk/server/handlers/hardware

[2015-11-04 12:49] ninja- commented on #4435
@doom369 I am pretty sure you broke the refcnt somewhere in your handlers

[2015-11-04 13:02] doom369 commented on #4435
@ninja- how could that be if in pipeline where error happen there is no code that manages refcnt at any way. Netty code itself manages this. Also server was running for a weeks with load ~700 req/sec and this is only such error I found.

[2015-11-04 16:06] Scottmitch opened #4438 "HTTP/2 connection and pipeline initialization"
Initializing a HTTP/2 connection and pipeline can go through a few different paths:

1. TLS upgrade. Http2ConnectionHandler in the pipeline must be delayed until after the TLS handshake has completed (extending `ApplicationProtocolNegotiationHandler` is the preferred way to do this).
2. Cleartext
  - http/1.x 101 upgrade - done by Http2ClentUpgradeCodec and Http2ServerUpgradeCodec
  - Prefaced bas

[2015-11-04 16:06] Scottmitch commented on #4438
@nmittler @trustin - FYI

[2015-11-04 16:42] Scottmitch commented on #4210
somewhat related to https://github.com/netty/netty/issues/4438

[2015-11-04 17:33] Scottmitch commented on #3319
@TinyZzh - Every time the server establishes a connection you add it to a group. Then every time the server reads a message you write it back to all channels in that group. Each client will turn around and echo any message it reads back to the server.  Won't the amount of traffic continue to grow without bound if the number of clients > 1? Is this example representative of a real world scenario?

[2015-11-04 18:30] doom369 opened #4439 "Migration from 4.0.32.Final to 4.0.33.Final breaks my tests"
Hello. I have a bunch of tests for my main scenarios. I made this tests 8 months ago and was successful in migration from 4.0.18 until now. But after migration to 4.0.33 some of my tests failed. They look like that :

[code]

Scenario is very simple. I start locally netty server (before test start) and connect ```clientPair.appClient``` and ```clientPair.hardwareClient``` to it. Than I send 100 co

[2015-11-04 18:36] ninja- commented on #4439
the defaults watermarks could've been changed since, they are the values used for determining isWritable(). maybe you want to set them explicitly?

[2015-11-04 18:38] normanmaurer commented on #4439
@doom369 I think this is most likely the result of :

https://github.com/netty/netty/pull/4380

So yes it is expected as the calculation before was not good enough and so the risk of getting a OOME was higher then it should have been.

[2015-11-04 18:42] Scottmitch commented on #4439
@doom369 - Looks like you already have the message allocated in `send` why don't you just write it?  Netty will provide queuing for you and write when channel becomes writable again.  Generally the writability is useful if you haven't already allocated the object (you can slow your peers down), but if you already have an object allocated the only options are to queue it and send later, or drop it

[2015-11-04 18:44] doom369 commented on #4439
@normanmaurer Ok, thank you. Just want to be sure this is something you aware of and this change expected.

@Scottmitch thank you for advise. Will change it.

[2015-11-04 18:44] #4439 closed

[2015-11-04 19:21] normanmaurer commented on #3319
@Scottmitch +1 ... I agree ... Also in your screenshot it looks you have a lot of instances of DefaultChannelPromise which indicate you are calling write a lot.

[2015-11-04 19:55] nmittler commented on #4403
@madongfly FYI

[2015-11-04 21:47] nmittler commented on #4403
FYI, I've made a PR to import fork hpack under netty: https://github.com/netty/netty/pull/4440

[2015-11-05 00:41] caarlos0 commented on #2448
Same here.

[code]

Any workarounds?

[2015-11-05 10:57] TinyZzh commented on #3319
@Scottmitch @normanmaurer
Sorry guys. i think i make a misunderstanding. my english is pool.  :(

The problem is io.netty.util.Recycler$DefaultHandle instance can not release by GC after the connected client  shutdown suddenly.

First the logic is “wrong”. the logic just use to create many DefaultHandle instance fast.
The source code just using to reproduce the question.  :) .
1. bootstrap server

[2015-11-05 13:11] pjulien opened #4441 "Recyclable FileRegion"
I have the following use case

- Single ring buffer per incoming request queue
- Multiple ring buffers can be used to write to a fairly static set of ``Channel``s, i.e., one to many relationship between ring buffers and channels
- A single ring buffer is backed by a memory mapped ``ByteBuffer`` file
- I keep the ``FileChannel`` of the ring buffer open
- To queue up data to the socket, I write to t

[2015-11-05 14:47] doom369 commented on #4435
One more
[code]

[2015-11-05 17:22] Scottmitch commented on #4435
@doom369 - It seems that buffer which is owned by `ByteToMessageDecoder` is being "double" released. However the decoder you linked to ([MessageDecoder](https://github.com/blynkkk/blynk-server/blob/master/common/src/main/java/cc/blynk/common/handlers/common/decoders/MessageDecoder.java)) copies the input buffer into a string, and does not release the input buffer, so that shouldn't create problems

[2015-11-05 17:40] Scottmitch commented on #3319
@TinyZzh - Not sure. What is the state of the server at this time? What are the state of the sockets on the server (e.g. netstat)? Is `channelInactive` being called? What does a stack dump on the server look like (jstack)? What does the heap look like relative to max allowed memory?

[2015-11-05 17:41] doom369 commented on #4435
No. I deal with netty buffers only in MessageDecoder and MessageEncoder. In all other handlers I work with MessageBase that those classes produce.

No. It is just appearing in production system.

I have 4 different pipelines. 3 of them using SSL handlers. 1 of them (HardwareServer) doesn't. First stack I posted in ticket is without SSLHandler. So that means that exception came from pipeline of Har

[2015-11-05 17:51] ninja- commented on #2448
You need to specify the Linux suffix in your project's POM xml

[2015-11-05 18:30] caarlos0 commented on #2448
@ninja- understood...

[2015-11-05 20:55] ninja- commented on #2448
@caarlos0 so did you fix your problem? If you add the Linux suffix to epoll artifact id it would stop inserting osx instead and breaking build

[2015-11-05 21:01] louiscryan opened #4442 "4.0 HttpHeader.set(HttpHeader) will cause itself to be emptied when passed self"
public HttpHeaders set(HttpHeaders headers) {
        if (headers == null) {
            throw new NullPointerException("headers");
        }
        clear();
        for (Map.Entry<String, String> e: headers) {
            add(e.getKey(), e.getValue());
        }
        return this;
}

this is in conflict with DefaultHttpHeaders which will throw an exception when doing the same thing so there is

[2015-11-05 21:33] louiscryan opened #4444 "DefaultHttp2Headers has memory leak when being cleared"
When calling DefaultHttp2Headers.clear the firstNonPseudoHeaders reference holds onto data that has just been cleared

[2015-11-05 22:31] louiscryan opened #4446 "Headers.set(self) and Headers.setAll(self) are inconsistent"
The former will throw, the latter is a no-op.

[2015-11-06 09:09] LionelCons opened #4448 "STOMP codec does not comply with STOMP 1.2 spec"
The Netty STOMP codec does not fully comply with the STOMP 1.2 specification (https://stomp.github.io/stomp-specification-1.2.html).

The most important violation is about header value encoding (see https://stomp.github.io/stomp-specification-1.2.html#Value_Encoding) which is completely missing. As a consequence, a header value with a colon (such as foo:bar) will be decoded by Netty as a value wit

[2015-11-06 10:17] caarlos0 commented on #2448
@ninja- yes, thank you very much!

[2015-11-06 13:55] TinyZzh commented on #3319
@Scottmitch
every channel called channelInactive function when client lost its connection.
VM options : -server -d64 -Xms2G -Xmx2G

the server will gone away after the many client shutdown. Too much Promise instance and DefaultHandler instance.

![10](https://cloud.githubusercontent.com/assets/5763397/10998544/c5b5f4b2-84d0-11e5-907c-2780bd18fb9c.jpg)

![11](https://cloud.githubusercontent.com/ass

[2015-11-06 14:27] ninja- commented on #3319
you are writing too fast for 100% and that's your problem. the fact that these receycler handles are there doesn't mean that the object is recycled

[2015-11-06 14:34] jiangguilong2000 commented on #3319
@ninja I Think so.
@normanmaurer How to avoid writing too fast,can you give us an example?

[2015-11-06 15:30] ninja- commented on #3319
@jiangguilong2000 in general you shouldn't write to channel if isWritable() returns false. you should also try to flush more frequently. could you tell more about your use-case like is it http proxy, game server etc.?

[2015-11-06 17:27] ashish-tyagi opened #4449 "High CPU usage with SO_LINGER and sudden connection close (4.0.26.Final+)"
We are using Netty 4.0.29.Final in one of our services. We are seeing high CPU usage (~100%) in certain periods and almost negligible CPU usage in remaining periods. Though there is no change in request rate. The request rate itself is very small (less than 100 per second per box). The service mostly does an inmemory cache lookup. The CPU and memory graph is below:
![bad1](https://cloud.githubuser

[2015-11-06 18:04] ninja- commented on #4449
soo you have a lot of DirectByteBuffers and MemoryRegionCache entries, but no channel outbound buffer entries there? what exactly are you doing with these buffers? **what's your usecase like http proxy etc.**?
in general I would assume you are writing too fast to the channel skipping isWritable(), and maybe latest netty versions made that more visible. the reason why you have 500 mil instances is

[2015-11-06 18:29] ashish-tyagi commented on #4449
Thanks Ninja. Replies follow.

No this is not a HTTP proxy but a typical request/response model service. We are checking for channel active before writing. I don't think, it is related to that though, because the same should be producible with older Netty version also (may be not in form of too many objects but atleast in CPU usage).

[2015-11-06 18:47] ashish-tyagi commented on #4449
Accidently closed. Reopening.

[2015-11-06 19:03] ninja- commented on #4449
so verify this with leak profiler on paranoid first, because that's how it looks from the screenshot

[2015-11-06 19:43] ashish-tyagi commented on #4449
Just ran the leak detector with PARANOID level. Was expecting logs from class  io.netty.util.ResourceLeakDetector. However, no leak related logs found in 5 min. Though, I will redo the test with bigger period.
Btw had it been a memory leak, the buffer memory and the heap memory would have increased with time. However, we have found no such thing even when servers ran for 10 days straight.

[2015-11-06 20:02] ninja- commented on #4449
@ashish-tyagi could you check whether these "leaked" buffers have any references or are left with no references for gc?

[2015-11-06 20:09] normanmaurer commented on #4449
@ashish-tyagi can you try to adjust the cache sizes of the PooledByteBufAllocator ?

[2015-11-06 20:54] normanmaurer commented on #4446
@louiscryan I think this can be closed ?

[2015-11-06 20:54] normanmaurer commented on #4444
@louiscryan can be closed ?

[2015-11-06 20:56] #4446 closed

[2015-11-06 20:56] #4444 closed

[2015-11-06 21:16] normanmaurer commented on #4435
very strange... Currently I have no idea what's wrong :/

[2015-11-07 03:45] ashish-tyagi commented on #4449
@ninja- These buffers (DirectByteBuffer) get collected by GC within a second or two. During high CPU periods, the memory churn is really high. Millions of buffers get created and destroyed in couple of seconds. When we hit the low CPU periods, we can hardly notice presence of DirectByteBuffer objects.

The high memory churn is evident in the screen shots attached. During high churn (high CPU also)

[2015-11-07 03:46] ashish-tyagi commented on #4449
@normanmaurer We are using the default cache sizes. Can you please suggest test values for the  cache sizes?

[2015-11-07 05:32] TinyZzh commented on #3319
@ninja-
write so fast to reproduce the problem.  :).

@Scottmitch
The code modify underground. i found out using isWritable() just relieve the condition.  when the network is heavy. the message always can't writeAndFlush() (this means the server has gone away).
[code]
I think the problem is **DefaultHandler instance can not release by GC** . when the client close connect. do you have any other ide

[2015-11-07 05:54] TinyZzh commented on #3319
sorry guys..i make a misstake.
i update my netty version to
[code]
The isWritable() i s working very well.  DefaultHandler instance count is less than before.
but too many message can't response to client.

By the way. The netty 4.1.0Beta7 is also hava the same question.
[code]

[2015-11-07 15:53] vitaliy-kuzmich opened #4450 "memory leak netty version : 4.1.0.Beta7"
here it is log

[code]

[2015-11-07 16:59] Scottmitch commented on #4444
@louiscryan - Thanks for the fix!

[2015-11-07 17:00] Scottmitch commented on #4446
@louiscryan - thanks!

[2015-11-07 17:40] Scottmitch commented on #4442
@louiscryan - I think we can close this now?

[2015-11-07 17:40] #4442 closed

[2015-11-07 17:48] Scottmitch commented on #4435
It is interesting that the original leak report you posted stems from the condition if your application code consumes all data in the `culmination` buffer then `ByteToMessageDecoder` will release the buffer ... that may explain why you only see it rarely.  @doom369 - Can you verify how often you enter the below code block in `ByteToMessageDecoder`?

[code]

[2015-11-07 18:00] Scottmitch commented on #4450
@vitaliy-kuzmich - Can you explain why you feel this leak is in Netty?  The buffer appears to be allocated in `com.mastfrog.netty.http.client.MessageHandlerImpl$ResponseState.init(MessageHandlerImpl.java106)`.  Can you explain the expected use case and interaction for this particular buffer, and where in your view things go wrong?

[2015-11-07 18:57] vitaliy-kuzmich commented on #4450
this error shows when I am reusing one bootstrap... with many connection as client, also I am using this lib: https://github.com/timboudreau/netty-http-client, but I changed netty version also added proxy handler to the pipeline. I just saw that message and was think that there is a memory leak, because as I remember netty uses Unsafe, so unsafe buffers should releases manually... PS Unsafe would

[2015-11-07 19:09] vitaliy-kuzmich commented on #4450
I'm sorry it seems http client issue...

[2015-11-07 19:09] #4450 closed

[2015-11-07 19:30] Scottmitch commented on #4450
@vitaliy-kuzmich - Where do you get this information from? Check out http://openjdk.java.net/jeps/260.

[2015-11-07 19:38] Scottmitch commented on #4449
@ashish-tyagi - It depends on which size buffers you allocate the most. You can also use the [PoolArenaMetric exposed by PooledByteBufAllocator](https://github.com/netty/netty/blob/master/buffer/src/main/java/io/netty/buffer/PooledByteBufAllocator.java#L337) to get more insight.

[2015-11-07 19:52] Scottmitch commented on #3319
@jiangguilong2000 @TinyZzh @ninja- - Even if `isWritable()` is false it may be OK to write (depending on your use case). The alternatives are either queue the data your self and send it later (why wouldn't you just write and let netty queue if for you), or drop the data on the floor.  If your use case supports dropping data on the floor, then do this as it is a simple approach. If you cannot drop

[2015-11-07 23:09] doom369 commented on #4435
@Scottmitch I'll do new deployment (that is planned) of 0.33 version. And will monitor it. If no error I'll close issue, otherwise will add more debug.

[2015-11-08 03:15] trustin commented on #3130
Should be fixed by @normanmaurer 's recent work.

[2015-11-08 03:15] #3130 closed

[2015-11-08 03:17] #3973 closed

[2015-11-08 03:32] trustin commented on #3761
Should be fixed already - the cache in `DnsNameResolver` does not cache a `DnsResponse` anymore. It just caches the resolved `InetAddress` only.

[2015-11-08 03:32] #3761 closed

[2015-11-08 03:34] trustin commented on #3971
DefaultDnsRecordDecoder does not attempt to decode a truncated record anymore.

[2015-11-08 03:34] #3971 closed

[2015-11-09 05:58] blucas opened #4457 "HttpConversionUtil - Incorrect conversion of Cookie header"
Netty Version: master (latest snapshot: a6816bd59ef2923d82af5b7a7f3b722507a56a3a)

The browser (I used Chrome 46.0.2490.80 for testing) sent an HTTP/2 request containing multiple cookies to a netty service, the ```HttpConversionUtil``` generated multiple ```Cookie``` header entries in the HTTP/1.x request. According to [one stackoverflow post](http://stackoverflow.com/questions/16305814/are-multip

[2015-11-09 06:03] blucas opened #4458 "DefaultFullHttp(Request|Response).hashCode() throws IllegalRefCountException"
Netty Version: master (latest snapshot a6816bd59ef2923d82af5b7a7f3b722507a56a3a)

I've notice that if a ```DefaultFullHttpRequest``` or ```DefaultFullHttpResponse``` have been released, then calls to ```hashCode()``` will throw an ```IllegalRefCountException``` [here](https://github.com/netty/netty/blob/master/codec-http/src/main/java/io/netty/handler/codec/http/DefaultFullHttpRequest.java#L167) a

[2015-11-09 14:46] normanmaurer commented on #4458
No this is a bug

[2015-11-09 15:06] normanmaurer commented on #4457
@Scottmitch @nmittler please have a look guys :)

[2015-11-09 15:23] nmittler commented on #4457
I wonder if `HttpConversionUtil` should just group all multi-valued headers into single entries (i.e. not treat `Cookie` as special here). It wouldn't be invalid and I suspect would perform better end-to-end.

@Scottmitch WDYT?

[2015-11-09 15:25] normanmaurer commented on #4457
@nmittler +1

[2015-11-09 15:52] johnou opened #4459 "SSL handshake fails with Android client"
We are currently using the JDK SSL provider for testing (will switch over to OpenSsl when it is working on all devices).

Our game establishes an SSL connection without problems on PC / IOS but on Android the handshake fails.. Server side is using a self signed certificate created with SelfSignedCertificate, client source between all devices is the "same", simple SslStream with "untrusted" Validat

[2015-11-09 15:59] lixusign opened #4460 "EPollArrayWrapper.interrupt"
cpu all exhaust . cpu switch 250k . netty 4.0.25-final , jdk 1.7.0 76   linux 64x86

"pool-13-thread-1" prio=10 tid=0x00007f2f313b1000 nid=0x2d58 runnable [0x00007f2f2acca000]
   java.lang.Thread.State: RUNNABLE
	at sun.nio.ch.EPollArrayWrapper.interrupt(Native Method)
	at sun.nio.ch.EPollArrayWrapper.interrupt(EPollArrayWrapper.java:274)
	at sun.nio.ch.EPollSelectorImpl.wakeup(EPollSelectorImpl.j

[2015-11-09 16:37] blucas commented on #4458
Is it just a matter of returning 0 if the content has been freed? If so I could provide a PR for it.  I wonder what would happen to lookups for entries in a hash-based container (such as a HashMap<DefaultFullHttpRequest, SomeObject>)?

[2015-11-09 16:45] blucas commented on #4457
@nmittler - As far as I can tell, that won't work.  What is true for one header is not necessarily true for others. Specifically I can think of the ```Set-Cookie``` header.  In this case (depending which version/browser you use) sending each cookie in a separate ```Set-Cookie``` header is actually the correct thing to do (log into or out of facebook to see an example of this).

[2015-11-09 16:55] johnou commented on #4459
As suggested by http://stackoverflow.com/questions/13390964/java-ssl-fatal-error-80-unwrapping-net-record-after-adding-the-https-en I have tried setting the host and port of the server in the ssl engine but receive the same exception.

[2015-11-09 17:27] nmittler opened #4462 "Consider swapping to the nghttp2 priority algorithm"
https://docs.google.com/presentation/d/1x3kWQncccrIL8OQmU1ERTJeq7F3rPwomqJ_wzcChvy8/edit

[2015-11-09 17:27] nmittler commented on #4462
FYI @normanmaurer @Scottmitch @louiscryan

[2015-11-09 17:29] Scottmitch commented on #4458
@blucas - Semantics would change (the lookup may fail the second time) if we use an arbitrary constant if the content has been released.  Perhaps we should cache some (or all) of the hash code that is considered "imitable". I can submit a PR to cleanup.

[2015-11-09 17:38] normanmaurer commented on #4458
@Scottmitch @blucas not sure what is the best way to fix this but I think we should not throw for equals(....), toString() and hashCode().

[2015-11-09 18:21] nmittler commented on #4457
Yup, looking at https://tools.ietf.org/html/rfc7230#section-3.2.2 ...

`Set-Cooke` is the exception.  It also sounds for Netty to function as a proxy, it should not merge headers.

And as described in http://tools.ietf.org/html/rfc6265#section-5.4: `the user agent MUST NOT attach more than one Cookie header field`.

@blucas Are you saying that Chrome is sending multiple `Cookie` headers, or that i

[2015-11-09 19:37] blucas commented on #4458
@Scottmitch - To give you some background, I discovered this issue when attempting to clear out data stored in a ```DefaultHttpDataFactory``` for a given request which had already been freed. It threw the ```IllegalRefCountException``` when attempting to lookup a value which was keyed by ```DefaultFullHttpRequest``` [here](https://github.com/netty/netty/blob/master/codec-http/src/main/java/io/nett

[2015-11-09 19:50] blucas commented on #4457
+1 for not merging headers :smiley:

@nmittler I haven't checked that yet. My assumption is that it is a Netty related issue, as Firefox is also affected by this.  I will check now and get back to you

[2015-11-09 20:00] Scottmitch commented on #4458
@blucas - In general the hashCode and equals were added for testing purposes.  However it is not unreasonable to use these items as keys in a map. For example maybe a cache may use a request as a key into a map. You have to be aware of with the current implementation is that the content is used in the hash code generation, and it may be an expensive operation.

We can discuss the `DefaultHttpDataF

[2015-11-09 20:02] Scottmitch commented on #4458
See https://github.com/netty/netty/pull/4463

[2015-11-09 20:16] blucas commented on #4457
Ok, so I still don't know if it is the browser's or netty's (possibly twitter hpack's) fault.  All I can tell you is
* Both Firefox and Chrome exhibit the issue
* Single call to [addFragment](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameReader.java#L669) which has ```endOfHeaders``` set to true.

Maybe @Scottmitch could shed som

[2015-11-09 20:20] blucas commented on #4458
@Scottmitch - thanks for the quick PR.  With regards to ```DefaultHttpDataFactory``` I was just curious. No need to raise another issue unless you think it warrants one.

[2015-11-09 23:26] normanmaurer commented on #3972
Fixed by #4455

[2015-11-09 23:26] #3972 closed

[2015-11-09 23:47] Scottmitch commented on #4458
@blucas - If you are happy then I am happy :). Honestly I would need to look into `DefaultHttpDataFactory` in more detail to see if it is necessary to use the entire `Full` message or not.

[2015-11-10 00:11] doom369 commented on #4459
@johnou so maybe problem in Android code? Please post your code. I'm using both JDK provider and openSSL with Android clients and all is fine. (java 1.8)

[2015-11-10 00:41] Scottmitch commented on #4457
@blucas - Can you post your server code somewhere (or some reduced set of it)? I just modified the example http2 helloworld server and client to both use the HTTP/1.x translation layer and added a cookie from the client (`request.headers().add(HttpHeaderNames.COOKIE, "foo1, foo2");`) and this is what I see on the server side:

[code]

It looks like CSV headers are preserved (`cookie`), and multipl

[2015-11-10 00:53] Scottmitch commented on #4458
Fixed by https://github.com/netty/netty/pull/4463. Thanks for reporting @blucas !

[2015-11-10 00:53] #4458 closed

[2015-11-10 00:56] Scottmitch commented on #4462
@nmittler - Yes I need to think about slide 10 a bit more...haven't had cycles but seems different than what we do.

[2015-11-10 01:55] Scottmitch commented on #4459
What version of netty, java, and android are you using?

[2015-11-10 03:03] Scottmitch commented on #4460
Can you describe the issue a bit more? Can you provide a reproducer?

[2015-11-10 03:04] Scottmitch commented on #4448
@LionelCons - We love PRs :) Would you be interested in submitting one?

[2015-11-10 06:17] LionelCons commented on #4448
I could probably submit something but the problem is not straightforward to solve since the exact decoding/encoding to perform is linked to the version of the STOMP protocol negotiated one level up, outside of the codec.

One possibility would be to have three different codecs (STOMP 1.0, 1.1 and 1.2) and to switch to the right codec once the version has been negotiated.

Another possibility would

[2015-11-10 09:33] johnou commented on #4459
Netty 4.0.33.Final
Java 1.8.0_25 x64
Android 6.0

I am working on putting together a repro project.

[2015-11-10 10:07] blucas commented on #4457
@Scottmitch - I don't have a reproducer handy for you to test with, but all you need to do is make your HTTP/2 client send multiple ```cookie``` headers to your netty HTTP/2 -> HTTP/1.x translation server.

No. We shouldn't force everything to use single CSV.

I took a look at the HTTP/2 spec, and finally think I've found what I'm trying to explain.

So, according to the [spec](https://http2.githu

[2015-11-10 12:24] johnou commented on #4459
Server side project can be found here https://github.com/johnou/ssl-server-test I will report back here when the client side is done.

[2015-11-10 18:43] louiscryan opened #4465 "HTTP2 stream can create log spam on server"
@nmittler @Scottmitch

HTTP2 stream resets are not sent as part of flow-control, they are sent immediately and any pending writes in the flow-controller for the stream are suppressed. In the case where the initial headers for a stream have not yet been flushed the server is unaware of the streams existence when it receives the reset and outputs a warning.

It should be possible for reset stream to

[2015-11-10 21:15] Scottmitch commented on #4465
sgtm

[2015-11-11 01:21] normanmaurer commented on #4441
@pjulien why you can't just extend `DefaultFileRegion` and override the `deallocate()` method ? This way it will not close the `FileChannel`.

[2015-11-11 01:21] normanmaurer commented on #4426
Will look into it

[2015-11-11 01:23] normanmaurer commented on #4399
@sandarenu ping

[2015-11-11 02:44] doom369 commented on #4435
4.0.33 didn't help. But I was able to reproduce issue on QA server. Will try to prepare some simple setup for you.

[2015-11-11 02:47] normanmaurer opened #4466 "Remove master branch"
After talking with @Scottmitch and also with @nmittler I would like to propose "dropping" current master and so not release any new 5.0 version for now.

The major change of using a ForkJoinPool increases complexity and has not
demonstrated a clear performance benefit. Also keeping all the branches in sync is quite some work without a real need for it as there is nothin in current master which I t

[2015-11-11 02:47] normanmaurer commented on #4466
/cc @trustin @nmittler @Scottmitch @ejona86 @louiscryan

[2015-11-11 02:48] normanmaurer commented on #4466
Also I should have mentioned that we should create a new branch from current master that we keep for "backup" reasons. So we can port code if the need arise later.

[2015-11-11 04:01] trustin commented on #4466
+1. I'd like to keep the handler type hierarchy simplification for later cherry-pick (?) though.

[2015-11-11 07:02] johnou commented on #4459
Not a bug in Netty! Turns out there was an undocumented exception being thrown in the SSL authenticated callback which was being swallowed..

11-11 01:12:50.858 25012 25139 I Unity   : NullReferenceException: Object reference not set to an instance of an object
11-11 01:12:50.858 25012 25139 I Unity   :   at Mono.Security.X509.X509Certificate.get_Hash () [0x00000] in <filename unknown>:0
11-11 01:

[2015-11-11 07:02] #4459 closed

[2015-11-11 10:03] blucas commented on #4466
A few questions:
* So what do you propose creating exactly, for example where would these changes (deprecating ```exceptionCaught```, exposing ```EventExecutorChooser```, etc.) be applied - 4.1, 4.2, or a new 5.0 branch?
* If I remember correctly, 5.0 merged ```ChannelInboundHandler``` and ```ChannelOutboundHandler``` as well as introducing ```messageReceived``` as a replacement for ```channelRead

[2015-11-11 12:45] ninja- commented on #4466
That's a bit sad but I would support this change D: wasn't the major feature of 5.0 fixed eventloop migrations or something like that?

[2015-11-11 18:26] normanmaurer commented on #4460
Closing as we need more info. Please reopen with more infos if you think there is an issue.

[2015-11-11 18:26] #4460 closed

[2015-11-11 18:26] normanmaurer commented on #4449
@ashish-tyagi ping

[2015-11-11 18:27] normanmaurer commented on #4448
I think different codecs sounds like a good way to handle it

[2015-11-11 18:27] normanmaurer commented on #4435
@doom369 thanks!

[2015-11-11 18:34] blucas commented on #4457
@Scottmitch - gentle ping :)

[2015-11-11 19:43] Scottmitch commented on #4466
@blucas - Unless there are objections I think the proposal is to apply these changes to 4.1. The discussion resolves around there not being enough API changes/core features to justify maintaining a different fork. Any deprecated methods/interfaces would also be marked accordingly in 4.0.

Are you thinking of 4.1 [SimpleChannelInboundHandler.channelRead0](https://github.com/netty/netty/blob/4.1/tra

[2015-11-12 07:33] ashish-tyagi commented on #4449
Sorry guys, it is a lot of time without an update. This was holiday season in India. Will give you an update by tomorrow.

[2015-11-13 02:24] pjulien commented on #4441
@normanmaurer  sure for the first use case but the object still can't be reused

[2015-11-13 03:40] normanmaurer commented on #4441
@pjulien I guess we could provide a recycle implementation, that said I think most users not need it. Maybe just implement it by your own for now ?

[2015-11-13 14:04] normanmaurer commented on #4466
@blucas what @Scottmitch said.

[2015-11-13 14:04] normanmaurer commented on #4466
@ninja- event loop migration works in 4.0 as well.

[2015-11-13 15:33] pbostrom opened #4467 "NioClientSocketChannelFactory.releaseExternalResources() hangs"
I have a long running process that uses AsyncHttpClient with Netty 3.10.4.Final. I've noticed that after the process has been running for a few days I will see a call to NioClientSocketChannelFactory.releaseExternalResources() hang indefinitely. Unfortunately I don't have much more detail as it happens so rarely. Here is the stack trace and system info:
[code]

[2015-11-13 16:16] ifesdjeen opened #4468 "Type safe Middlewares"
Hi,

I'd like to suggest a change that may make building middlewares a bit more intuitive and help to avoid ordering problems and ease development.

Right now, in order to create a pipeline, you use `addLast` on `ChannelPipeline`, and the code that involves actual processing usually has a lot of `instanceOf` and casts to the particular type.

Having a typed pipeline, for example:

[code]

And same

[2015-11-13 17:33] pjulien commented on #4441
@normanmaurer

Sure.

[2015-11-13 20:03] ashish-tyagi commented on #4449
I was able to produce the issue by replaying recorded traffic. Problem produces when I kill the client suddenly. The CPU usage shoots to ~100% and remains there for a long time even, when though there are no incoming requests. At this stage, the CPU profiling shows these results.
![image](https://cloud.githubusercontent.com/assets/8695441/11155887/6d958b8c-8a6e-11e5-9516-63b9c0f9ad83.png)

The mem

[2015-11-13 20:04] ashish-tyagi commented on #4449
Will try to produce in a standalone test case.

[2015-11-13 21:26] normanmaurer commented on #4449
Thanks!

[2015-11-13 23:05] ninja- commented on #4449
@ashish-tyagi yeah looks like there might be a bug involved, could you consider moving to epoll for now?

[2015-11-13 23:17] normanmaurer commented on #4449
I’m sure if there is a bug it has nothing to do with using epoll or not …

[2015-11-13 23:47] ninja- commented on #4449
well if there is it seems to come from nio backend at least

[2015-11-14 00:07] ninja- commented on #4467
doesn't look like latest 3.10, please use 3.10.6.Final-SNAPSHOT. quick googling reveals that problem was a netty bug that should be fixed by updating so I hope that should also help your case

[2015-11-14 01:55] pbostrom commented on #4467
I found a bug in our response handling code for AsyncHttpClient that causes an onCompleted handler to hang. This prevents the CountDownLatch from ever being released, which then prevents the client from being closed.

[2015-11-14 01:55] #4467 closed

[2015-11-14 02:54] xiajunhust opened #4469 "Wrong words in comments of class EventLoop"
the comment of class EventLoop is:
`
Will handle all the I/O operations for a {@link Channel} once registered.
One {@link EventLoop} instance will usually handle more then one {@link Channel} but this may depend on implementation details and internals.
`

the word "then" should be "than".
version:
netty-all-5.0.0.Alpha2

thank you.

[2015-11-14 08:22] ashish-tyagi commented on #4449
Tried to figure out the exact version between 4.0.18.Final and 4.0.29.Final, where the problem started producing. It seems that it started producing with 4.0.26.Final (changing this issue title to reflect that). However, the behavior of 4.0.26.Final is different from 4.0.29.Final in that 4.0.26.Final is heavy on GC too, because of this issue: https://github.com/netty/netty/issues/3913, which got f

[2015-11-14 14:22] ifesdjeen commented on #3209
Hi, is anyone working on that one? I could pitch in, if there was no recent progress on it.

[2015-11-14 16:02] ashish-tyagi commented on #4449
Produced the issue in a standalone test case.

**Server Environment**
OS: Ubuntu 14.04 LTS
Java: Sun JRE 1.8.0_66

**Steps to produce**

1. Setup the server with the code give below.
2. From another physical box, hit the server using the apache-bechmarker. Hitting the server from same box does not produce it. `ab -c 50 -n 100000 -k http://<server-ip>:4000/`
3. Kill ab after 5-10 secs by pressing C

[2015-11-14 16:30] normanmaurer commented on #4449
@ashish-tyagi will try to reproduce and fix... thanks! Did you also try using netty 4.0.33.Final ?

[2015-11-14 16:32] normanmaurer commented on #4449
@ashish-tyagi btw what is a little bit confusing is that in your original report you was talking about PoolThreadCache while in your reproducer you are using not the PooledByteBufAllocator. Is this by mistake or not ?

[2015-11-14 18:14] nmittler commented on #4403
Closing via #4440

[2015-11-14 18:14] #4403 closed

[2015-11-14 18:30] ashish-tyagi commented on #4449
Hi @normanmaurer, We use PooledByteBufAllocator.DEFAULT in production. The reproducer works both with or without PooledByteBufAllocator. I originally believed that there are too many instances getting created, and that is what is causing the CPU load. With this reproducer, I think the root cause lies somewhere else (may be a infinite loop).

Also, the issue produces only when SO_LINGER is set.

[2015-11-14 18:40] ashish-tyagi commented on #4449
@normanmaurer The issue of high CPU usage remain in 4.0.33.Final also. The memory profile is different though from 4.0.29.Final. I am changing the title again to put high CPU as the main issue,

[2015-11-15 00:12] rkapsi opened #4470 "Questions/Suggestions: OpenSslContext#finalize() and SniHandler"
We have a rather unique situation here that we may need to provide SSL for 1M+ Domains using SNI (not all at once). While digging through Netty 4.1-latest-SNAPSHOT code I came across a few things that I'd like to change (and contribute back). But before I do I'd like to sanity check some stuff.

1. OpenSslContext should implement ReferenceCounted. The dependence on the finalizer to free native res

[2015-11-15 02:16] stepancheg opened #4471 "PooledByteBufAllocator simple constructor for max used memory"
Suppose, user wants to have `PooledByteBufAllocator` which cache size 500M. Currently it is not possible to do it without deep understanding of how `PooledByteBufAllocator` works.

So, requesting `PooledByteBufAllocator` with with max memory parameter. Something like this:

[code]

Using netty 4.0.33.Final.

[2015-11-15 02:19] stepancheg opened #4472 "PooledByteBufAllocator API access allocated memory size"
I need to output amount of memory used by netty to monitoring.

It would be nice if `PooledByteBufAllocator` had methods like:

[code]

So `PooledByteBufAllocator` could be later tuned.

[2015-11-15 03:10] normanmaurer commented on #4449
@ashish-tyagi thanks for the clarification.

[2015-11-15 17:44] normanmaurer commented on #3209
@ifesdjeen that would be awesome! I planed to do this but I'm super busy atm :(  So the plan was to actually add a new variant of each "affected" method (so a new method for LE and a new for Be) to ByteBuf so a user can do LE and BE without call `order(...)`. Makes sense ? Another possibility is to just add a new overload like:

[code]
This would at least make the abstract class "less width".

WDY

[2015-11-16 06:09] ejona86 commented on #4462
That scheduler looks good, and is the approximate form of what I would expect most priority-aware schedulers for HTTP/2 to look like. We may want to tweak some details though.

That scheduler design is well-known to networking: it is "weighted fair queuing" (WFQ). However, normal WFQ is based on packets (with already-determined size), so it does have some modifications. With HTTP/2, CPU schedulers

[2015-11-16 06:45] dmk23 commented on #4208
Was this addressed in beta8 ?

[2015-11-16 08:52] trustin commented on #4208
No.  Didn't have time to evaluate the proposed change carefully yet.
I'm using it in production already, so I might have time for this
later though.

[2015-11-16 10:50] dmk23 commented on #4208
Thanks. Could you at least tag this to a milestone so it does not get lost? These are serious deficiencies in the API making it harder to implement the resolver most efficiently...

[2015-11-16 12:06] trustin commented on #4208
No problem. Thanks for your patience.

[2015-11-16 18:14] ashish-tyagi commented on #4449
@normanmaurer Could you produce the issue? In case not, see if using a slow network helps. I observed that the reproducer does not work if the server and the client are on same LAN. I can produce the issue always, when my server and my client use a slow internet connection for transportation.

[2015-11-16 18:15] normanmaurer commented on #4449
@ashish-tyagi had no time yet :(

[2015-11-16 21:24] ifesdjeen commented on #3209
@normanmaurer I've started a #4477 PR to keep track of the discussion about the API. Just let me know if you're fine with the suggested. If yes - I'm just going to finish the rest shortly :)

[2015-11-17 17:15] jchambers opened #4480 "ALPN API dependency should have `provided` scope"
According to [Jetty's ALPN docs](http://www.eclipse.org/jetty/documentation/current/alpn-chapter.html#alpn-understanding):

I know Netty's doing some slightly fancier things in its POM, but I *think* that advice still applies here. In both [4.1.0.Beta8](https://github.com/netty/netty/blob/6a93f331d3b12bbebcb2b6c2f65fd4ee00a134ea/pom.xml#L694) and [master](https://github.com/netty/netty/blob/bfac74

[2015-11-17 17:31] esfomeado opened #4481 "ReadString()"
Is there any plans in implementing a simple readString to the ByteBuf class?

Thanks

[2015-11-18 08:06] Tochemey opened #4482 "Netty 4.0.30.Final channel write hangs"
Please refer to issue on stackoverflow : http://stackoverflow.com/questions/33773643/netty-4-0-30-final-channel-write-issue?noredirect=1#comment55314235_33773643

[2015-11-18 17:24] SUNILKAITHA commented on #3462
we have upgrade to 4.0.33 then we started seeing High CPU Utilization and server unresponsive . We are using same SimpleChannelInboundHandler for WebSocket and Http Requests . Any help on this greatly appreciated.

we are seeing weird behavior , We are running some Load Test with 400 to 500 websocket connections open and sendign 100-200k messages . Load Testing is going perfectly well but actually

[2015-11-18 18:08] Scottmitch commented on #3462
@SUNILKAITHA - please open a new issue and provide a reproducer if possible

[2015-11-18 22:01] slandelle opened #4484 "ChannelOption.AUTO_CLOSE javadoc default value incorrect"
* Netty 4.0.33 (client)
* Jetty 9.3 (server)
* OSX 10.11.1
* Hotspot 1.8.0_66

Hi,

I ran into an issue while trying to upgrade AsyncHttpClient test suite to Jetty 9.3, see https://github.com/AsyncHttpClient/async-http-client/issues/1035.

The test is about sending a small `ChunkedStream` to a Jetty server expecting Basic auth, without providing the Authorization header. In this case, Jetty will r

[2015-11-19 03:58] normanmaurer commented on #4484
Will check soon

[2015-11-19 07:48] slandelle commented on #4484
@normanmaurer Thanks!

Note: I removed the auto_read disabling comment and updated the code as I can reproduce without.

[2015-11-19 08:06] pieteradejong commented on #4469
@normanmaurer I only read that you'd self-assigned after I'd fixed it and submitted a PR #4485 - hope it helps!

[2015-11-19 08:14] pieteradejong commented on #4096
You could start here, even though it's an older version user guide:

http://netty.io/3.5/guide/#architecture

[2015-11-19 08:15] pieteradejong commented on #2887
@normanmaurer not sure this can be fixed via source code on GitHub?

[2015-11-19 09:50] #4482 closed

[2015-11-19 15:34] #4469 closed

[2015-11-19 15:34] normanmaurer commented on #4469
@pieteradejong thanks a lot

[2015-11-19 23:23] nmittler opened #4489 "HTTP/2 headers should not be flow controlled (outbound)"
We've discussed this in the past for a variety of reasons. Trailers definitely have to go through the flow controller since they can't be sent until after the last DATA frame. However, there isn't a good reason that I'm aware of that we shouldn't just send HEADERS immediately.

Adding HEADERS to outbound flow control will add work to the new `UniformByteDistributor` (#4464) since it has to keep tr

[2015-11-19 23:37] nmittler commented on #4489
@normanmaurer I think this should go into the next release ... would you mind holding off on the release until next week? I'll cook up a PR shortly.

[2015-11-19 23:44] normanmaurer commented on #4489
@nmittler deal

[2015-11-19 23:54] nmittler commented on #4489
:+1:

[2015-11-20 00:01] #4331 closed

[2015-11-20 00:20] Spikhalskiy commented on #4331
Will prepare method to parse mime-type too in separate pull request. So, let's still leave it opened.

[2015-11-20 01:21] Scottmitch commented on #4489
Thanks for reporting @nmittler!

[2015-11-20 07:11] shawn11ZX opened #4493 "io.netty.util.Recycler.WeakOrderQueue.Link.next may needs to be synced"
As I read through the source code of Recycler.java, I understand the WeakOrderQueue is used when a resource is recycled in a thread other than the one from which it's allocated.

Each 16 items of resource is put in a Link item, which itself has a read pointer and writer pointer. The writer pointer is based on AtomicInteger because it's need to be read by a different thread that write it.

Since th

[2015-11-20 17:39] rfielding commented on #3559
HttpPostRequestDecoder is at fault.  The whole point of the interface is to iterate the metadata/data for each part in upload order, and to get a ChannelBuffer for the part rather than a byte array.  But the way that the object is constructed defeats the purpose of this interface.  Even for gigabyte sized files, there is no need to buffer more than a few kilobytes during the upload.  i.e.: Memory

[2015-11-20 17:47] nmittler commented on #4489
Just chatted with @louiscryan and @ejona86 about this offline.  We're thinking that keeping HEADERS in the flow controller as we do now lends itself to better goodput due to data locality.  If we send HEADERS for all streams way before data is actually sent, they're consuming bandwidth for those streams that are sending real data.

I think we should abandon this issue in favor of two changes:

1.

[2015-11-20 18:12] normanmaurer opened #4497 "io.netty.util.IllegalReferenceCountException in CoalescingBufferQueueTest"
Just got this while running the tests on master:

[code]

@nmittler @louiscryan could you have a look ?

[2015-11-20 18:47] nmittler commented on #4489
Closing this for now ... we can re-open as necessary.

[2015-11-20 20:27] Scottmitch commented on #4489
@nmittler - A few thoughts/discussion points:

1. Sending empty frames may help to advise of a priority/weight change (priority change of headers, maybe less significant if both ends ignore priority) or alleviate resource constraints on the remote end (END_STREAM in empty data frame).
2. `they're consuming bandwidth for those streams that are sending real data.` -> it does not seem obvious that a

[2015-11-20 20:58] nmittler commented on #4489
@Scottmitch

True, but the spec doesn't really require that both endpoints be all that in sync WRT priority. We're favoring goodput/throughput over correctness. The oddball here is that the PRIORTY frame is not flow controlled.  I think it should be consistent with whatever we're doing with HEADERS frames.

Empty frames are not special WRT the `UniformStreamByteDistributor`, as it's just focused o

[2015-11-20 23:37] Scottmitch commented on #4489
@nmittler -

Agreed. The focus here is not on what the other end does with the data, but how soon we get it to them (to allow them to potentially do something useful with it).

Agreed...and we may need to consider other frame types. Seems like only queuing what we need will simplify things here.

I guess the exception would be that 0 length frames don't consume flow control window and don't *have*

[2015-11-20 23:47] Scottmitch commented on #4489
I will reopen to continue discussion

[2015-11-21 03:09] Scottmitch commented on #4459
Thanks for clarifying the issue @johnou!

[2015-11-21 15:18] nmittler commented on #4489
@louiscryan @ejona86 @Scottmitch @normanmaurer

The idea of flow controlling `HEADERS` frames adds a reasonable amount of complexity to the HTTP/2 logic and is probably worthy of further discussion.

The first thing that comes to mind is that `HEADERS` frames **must** be sent in the same order in which they were created by the local side (e.g. 3 followed by 7). The current flow controller seems to

[2015-11-21 15:58] normanmaurer commented on #4481
@esfomeado why not use `ByteBuf.toString(....)` ?

[2015-11-23 07:37] ejona86 commented on #4489
Short-term (for the release), it seems we should focus on doing as few changes as possible, and just those changes necessary for correctness for major cases. It seems #4465 should be fixed because it _should_ cause the connection to be terminated and apparently is easy to hit if you are doing benchmarking.

Thus I propose we do one of these two options, based on whichever is most-obvious/smallest/

[2015-11-23 08:12] trustin opened #4504 "IllegalReferenceCountException from HttpObjectDecoder when switching a protocol"
I found `HttpObjectDecoder.decode()` raises an `IllegalReferenceCountException` at the `case UPGRADED` block.  After pulling my hairs, I found that it can happen when a user removes the `HttpObjectDecoder` from the pipeline via `HttpClientUpgradeHandler`.  The following buffer access trace should be a good hint:

[code]

It basically means:

1. HttpObjectDecoder decodes the upgrade response from t

[2015-11-23 10:05] ifesdjeen commented on #4293
@Scottmitch fi you haven't yet started working on that one, I could help / contribute, WDYT?

[2015-11-23 10:09] trustin commented on #4504
I guess the root cause of this issue is at `HttpClientCodec.upgradeFrom()`, which removes the `Decoder` immediately. Perhaps we should remove it using `ctx.executor().execute()`?

[2015-11-23 10:25] normanmaurer commented on #4293
Yes please! I know Scott has not started yet :)

[2015-11-23 10:30] ifesdjeen commented on #4293
OK, gotta start with that one :)

[2015-11-23 11:39] rbi opened #4505 "Spaces in WebSocket URIs not handled correctly"
Websocket connections to URIs that have spaces in the path can not be established in Netty 4.0.21.

The problematic code seams to be [this line](https://github.com/netty/netty/blob/master/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/WebSocketClientHandshaker13.java#L129). If the URI contains a space encoded as %20, the [getPath](http://docs.oracle.com/javase/8/docs/api/java/net/

[2015-11-23 11:47] rbi commented on #4505
[This is the Workaround](https://github.com/saxsys/SynchronizeFX/blob/9789b889a160051c4f74097446a4bc563f2beabb/transmitter/netty-transmitter/src/main/java/de/saxsys/synchronizefx/netty/websockets/WhiteSpaceInPathWebSocketClientHandshaker13.java) i use. I basically use [getRawPath()](http://docs.oracle.com/javase/8/docs/api/java/net/URI.html#getRawPath--) instead of `getPath()`.

[2015-11-23 12:34] trustin commented on #4504
To add a bit more, I'm using 101 to upgrade from HTTP/1 to HTTP/2. I sometimes get an `IllegalReferenceCountException`, a `First received frame was not SETTINGS.` error, or both. After removing the decoder using `ctx.executor().execute()`, the problem(s) went away.

The 'first received frame was not SETTINGS' error seems to be because the `channelRead` event that contains the first `SETTINGS` fram

[2015-11-23 13:30] normanmaurer commented on #4504
@trustin sounds like a valid fix.

[2015-11-23 16:19] nmittler commented on #4489
@ejona86 thanks for the breakdown ... the proposal looks good!

One thought is that we might just *always* send a `PRIORITY` frame before sending our first `HEADERS` frame, even if no priority was specified. That way we ensure that the remote side knows about the stream in advance and the RST_STREAM/GO_AWAY effectively *goes away*.

[2015-11-23 16:29] ejona86 commented on #4489
PRIORITY _doesn't_ change the state, it simply can be sent at any time. If you send PRIORITY for an idle stream it is still idle.

And that means that a RST_STREAM before the headers would be a connection error:

[2015-11-23 16:49] nmittler commented on #4489
Yup agreed.  I think the right thing to do here would be to always create streams in the `IDLE` state and not open them until we write the first `HEADERS` frame. In addition, we would never send `RST_STREAM for `IDLE` streams, we would simply close them (which would perform all necessary cleanup on the local side).  I think that would be much more aligned with the spec.

[2015-11-23 18:29] Scottmitch opened #4506 "DefaultPromise and ImmediateEventExecutor synchronization issues"
There is a potential synchronization issue in DefaultPromise if `ImmediateEventExecutor` is used. DefaultPromise uses a pattern for synchronization which relies upon all processing happening in the EventLoop thread to avoid the need for other synchronization primitives.  When the `ImmediateEventExecutor` is used it is possible that `notifyLateListener` will be invoked in a different calling thread

[2015-11-23 18:29] Scottmitch commented on #4506
@normanmaurer - FYI

[2015-11-23 18:34] normanmaurer commented on #4506
@Scottmitch I wonder if we may should better `@deprecated` the `ImmediateEventExecutor`because of this issues. @trustin @nmittler WDYT ?

[2015-11-23 18:47] Scottmitch commented on #4489
To summarize a discuss with @nmittler and @ejona86... We generally agreed to continue queuing the initial headers frames and proceed with @ejona86's proposal above. Here is some rational...

The current enforcement of `MAX_CONCURRENT_STREAMS` has a few issues:
1. We should not be enforcing this restrictions on IDLE streams, but instead when streams become "active". (this will be fixed in `DefaultH

[2015-11-23 18:48] Scottmitch commented on #4506
@normanmaurer - What about folks that have their own version of "an executor that always executes in the calling thread"?

[2015-11-23 18:50] nmittler commented on #4506
Yeah I agree with @Scottmitch, I don't think we can just ignore "immediate" executors.

[2015-11-23 18:53] normanmaurer commented on #4506
@Scottmitch these should write their own `Promise` implementation. Honestly I think the implementation may not be "valid" if `inEventLoop` is not implemented probably.

[2015-11-23 19:27] Scottmitch commented on #4293
+1. Help would be much appreciated here @ifesdjeen!

[2015-11-23 19:38] Scottmitch commented on #4302
Observed again on another unrelated PR https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=3464#_focus=23905

[code]

[2015-11-23 20:30] Scottmitch commented on #4504
sounds reasonable to me too

[2015-11-23 20:33] Scottmitch commented on #4505
@rbi - Thanks for reporting. Would you mind submitting a PR?

[2015-11-23 20:34] Scottmitch commented on #4493
@normanmaurer - Assigned to you :smile:

[2015-11-23 20:50] Scottmitch commented on #4480
@jchambers - Thanks for reporting!

[2015-11-23 20:53] #4480 closed

[2015-11-23 20:57] Scottmitch commented on #4468
less instanceof checks sounds good to me... were you considering submitted a PR @ifesdjeen ?

[2015-11-23 20:59] ifesdjeen commented on #4468
I'll work on a PR for HTTP2, as it's something I happen to use the most.

[2015-11-23 21:00] Scottmitch commented on #4448
if you feel that there is minimal overlap or sharing with the existing STOMP codec then new codec sounds good. How much overlap would there be between 1.2 and what is supported in Netty now?

[2015-11-23 21:03] Scottmitch commented on #4468
@ifesdjeen - How do you use HTTP/2 w.r.t to the channel pipeline? Can you provide an example? HTTP/2 in general (with the exception of the HTTP/1.x translation layer) is a bit of an outlier in how it interacts with the pipeline.

[2015-11-23 21:06] Scottmitch commented on #4399
@sandarenu - Can you also show the code that demonstrates how you are releasing the channels back tot he pool?

[2015-11-23 21:41] ifesdjeen commented on #4468
I thought it'd be rather standard: `SslHandler -> HttpChooser -> HttpServerCodec -> HttpServerUpgradeHandler -> endHander`

Pretty much the same exact way it was in examples and in the code we've seen publically available, so nothing very special in our setup.

My thinking was that middlewares such as routing, cookies etc are mostly headed out to the `endHandler` code. Having everything typed it'd

[2015-11-23 23:02] Scottmitch commented on #4468
@ifesdjeen - I would be intereseted to see a POC (you don't have to fully implement, but just to get a better idea)

[2015-11-24 03:49] normanmaurer commented on #4468
same here :+1:

[2015-11-24 03:59] normanmaurer commented on #4449
@ashish-tyagi working on a fix. I think I may know what the problem is

[2015-11-24 04:19] trustin commented on #4468
Specifying the type of the outbound message of a handler was considered at the early stage of Netty 4 API design phase, but I ended up removing it because a subclass of a handler might want to transform the encoded/decoded object. A good example is the `extractFrame()` methods in some decoders.

[2015-11-24 04:24] normanmaurer commented on #4468
@trustin yeah I remember that we considered it and not did it at the end. That said we may be able to provide some "type-safe" builders.

[2015-11-24 07:36] Scottmitch commented on #4484
@slandelle - I took a look at the Netty unit test you linked above. Let me describe the behavior I am seeing and you can confirm if this is what you are seeing:

`testUnauthenticatedGetThenChunkedPostWtf` test behavior:
1. Client sends GET request
2. Server responds with 401 (with some body)
3. Client reads 401.
 3.1 MyHandler.read() called with `DefaultHttpResponse`
 3.2 Myhandler.read() called w

[2015-11-24 08:15] normanmaurer commented on #4484
@Scottmitch just so I understand it correctly... Jetty closes the channel before we are done writing ?

[2015-11-24 08:41] slandelle commented on #4484
@Scottmitch @normanmaurer Thanks for taking a look.

I've just pushed a new commit on the issue demo, to make sure I don't try to recreate a Jetty server.

Beware that every request creates a new client instance with its own event loop and bootstrap.

I should have been more explicit:
* `testUnauthenticatedGet` and `testUnauthenticatedChunkedPost` are only there to show that, taken separately, tho

[2015-11-24 08:55] trustin opened #4508 "HttpClientUpgradeHandler.setUpgradeHeaders() append a wrong 'upgrade'."
See [here](https://github.com/netty/netty/blob/92dee9e500bc141162e6c3a6ef91d8d22e50c449/codec-http/src/main/java/io/netty/handler/codec/http/HttpClientUpgradeHandler.java#L231).

It has to be `HttpHeaderValues.UPGRADE` instead. Most servers should be OK with `HttpHeaderNames.UPGRADE` because they do case-insensitive comparisons, but some (e.g. Jetty) requires it to be `Upgrade` (no lowercase u).

[2015-11-24 09:02] trustin opened #4509 "Relax the sanity check in HttpClientUpgradeHandler"
See [here](https://github.com/netty/netty/blob/92dee9e500bc141162e6c3a6ef91d8d22e50c449/codec-http/src/main/java/io/netty/handler/codec/http/HttpClientUpgradeHandler.java#L182).

`HttpClientUpgradeHandler` currently throws an `IllegalStateException` when the server sends a `101 Switching Protocol` response that has no `Upgrade` header. Perhaps we could relax this sanity check for the servers that

[2015-11-24 10:18] slandelle commented on #4506
FWIW, I use `ImmediateEventExecutor` to adapt currently blocking implementations to non blocking APIs, until I can change them. For example, I want a non blocking hostname resolution API, but can't switch to Netty 4.1 yet, so I wrap my blocking implementation so it returns a Future.

If `ImmediateExecutor` isn't the proper way to do that, please advise. IMHO, there's 2 uses cases that would need i

[2015-11-24 11:13] trustin commented on #4506
`ImmediateExecutor` and `ImmediateEventExecutor` have their own uses when their users who know what they are doing. Perhaps we should add some warning sign in our API documentation?

[2015-11-24 11:59] LionelCons commented on #4448
@Scottmitch There would be a lot of overlap.

The existing codec looks good. The problem I reported (header value decoding/encoding) is quite easy to fix in the existing code. What is not easy is to have different codec behaviours based on the negotiated STOMP version. For instance, for STOMP 1.0, there should be no header value decoding/encoding.

FWIW, I wrote a Perl STOMP implementation (http:/

[2015-11-24 13:13] LionelCons commented on #4448
Looking deeper in the existing codec implementation, there might be problems adding STOMP heart-beat support.

The protocol spec contains: "if the sender has no real STOMP frame to send, it MUST send an end-of-line (EOL)". The EOLs are currently read in StompSubframeDecoder's skipControlCharacters() and I don't know how to update a "last data receive time" to allow the program to detect an absence

[2015-11-24 14:32] LionelCons commented on #4448
Since the STOMP 1.0 specification leaves many details unspecified and since most clients and servers anyway support STOMP 1.1 or greater, I would propose to officially restrict the Netty implementation to STOMP 1.1 and higher (i.e. 1.1 and 1.2). This way, Netty would not have to deal with backward compatibility hacks such as how to parse a header like "a:b:c" or whether or not to trim spaces in a

[2015-11-24 14:35] nmittler commented on #4504
@trustin sgtm

[2015-11-24 15:27] davidpelfree commented on #3778
@SH4DY any progress with Java QUIC implementation yet? Any repository you already have so we can fork?

[2015-11-24 19:43] #3966 closed

[2015-11-24 20:19] nmittler commented on #4246
Closing this, since it's submitted now (https://github.com/netty/netty/commit/ebfe3d2ba737b55ab770d6385786586ef0858203)

[2015-11-24 20:19] #4246 closed

[2015-11-24 21:38] Scottmitch commented on #4484
@slandelle - Yip. The details you added are the same I'm seeing on my end.

Can you add `.option(ChannelOption.AUTO_CLOSE, false);`  to your bootstrap and let me know if this gives the expected behavior?

[2015-11-24 21:40] Scottmitch commented on #4484
@slandelle - Also I know this is just an example but I also changed your `channelRead` to make sure there was no premature close.

[code]

[2015-11-24 21:45] Scottmitch commented on #4466
@normanmaurer - Also as a reminder we should revisit deprecated items in 4.1. If things have been deprecated in 4.1 in favor of a change in 5.0, we may want to un-deprecate these items.

[2015-11-24 21:46] Scottmitch commented on #4466
@normanmaurer - For example `AUTO_CLOSE` channel option may be a candidate.

[2015-11-24 21:58] slandelle commented on #4484
@Scottmitch Bull's eye, explicitly setting `AUTO_CLOSE` to false did the trick! I run 30 times without being able to reproduce.

Then, I don't get it. `AUTO_CLOSE`'s javadoc says `false` is the default value.

[2015-11-24 23:17] Scottmitch commented on #4484
@slandelle - Thanks for pointing out the javadoc error. The "real" default is [true](https://github.com/netty/netty/blob/4.0/transport/src/main/java/io/netty/channel/DefaultChannelConfig.java#L62) :wink:. Let me update the docs so they are not misleading. We can debate what the default should be as part of another issue if necessary.

[2015-11-24 23:22] Scottmitch commented on #4484
See https://github.com/netty/netty/pull/4510

[2015-11-24 23:28] Scottmitch commented on #4484
@slandelle - I'll close this for now. Please re-open (or open another issue) if the issue pops back up.

[2015-11-24 23:28] #4484 closed

[2015-11-24 23:33] Scottmitch commented on #4506
@trustin - Agreed at a minimum we should update APIs to clarify the limitations.  Maybe also some assert statements?

[2015-11-24 23:38] slandelle commented on #4484
@Scottmitch Isn't there anything to do to respect temporality?
I mean that the response was received BEFORE the socket got closed and the next chunk write failed.

Then, what's the behaviour when AUTO_READ is disabled? I mean that it doesn't seem that `exceptionCaught` is notified.

And, I'd really like to hear your opinion on what the default should be. What's the impact if I make AUTO_READ the d

[2015-11-24 23:40] Scottmitch commented on #4448
@sskachkov @trustin - WDYT?

If stomp is only in 4.1+ there may not be as strong a case to maintain 1.0 for backwards compatibility reasons. We could just call stomp experimental for now?

@normanmaurer - Who generally drives the stomp development these days?

[2015-11-24 23:58] Scottmitch commented on #4484
For "outbound" operations generally the promise associated with that operation is failed and `fireExceptionCaught` is not called.  This behavior was recently "clarified" in PR https://github.com/netty/netty/pull/4498.

I wouldn't expect the behavior to change, other than you must explicitly call `read()`.  When you call `read()` you should get the data, and if the socket is "not suitable for readi

[2015-11-25 00:00] slandelle commented on #4484
Sorry, late here: I meant AUTO_CLOSE, not AUTO_READ...

[2015-11-25 00:01] Scottmitch commented on #3778
@davidpelfree - I don't believe anyone has started work on this yet.

/cc @nmittler @louiscryan @ejona86

[2015-11-25 00:07] Scottmitch commented on #4484
@slandelle - Thanks for clarifying. Changing `AUTO_CLOSE` to false will just mean that failures to write will not automatically close the transport (for situations like these). This can be useful for "half closed" situations like the one uncovered in your unit test.  I would imagine AHC would want `AUTO_CLOSE` set to `false` to handle this type of scenario and avoid potentially losing data.

[2015-11-25 00:11] slandelle commented on #4484
@Scottmitch But does this mean that I then am in charge of closing the channel?

[2015-11-25 00:16] Scottmitch commented on #4508
Seems like we should use `HttpHeaderValues` here. The specification calls out the lowercase variant [1]. Should we change `HttpHeaderValues.UPGRADE` to lowercase, and should/are we using case insensitive compare when evaluating this header value?

[1] https://tools.ietf.org/html/rfc7230#section-6.7

   field (Section 6.1) that contains an "upgrade" connection option

[2015-11-25 00:19] Scottmitch commented on #4484
@slandelle - As a result of write failures yes. However you will still get notified if problems are detected on the read side.

[2015-11-25 00:43] slandelle commented on #4484
@Scottmitch Thanks a lot for your explanations

[2015-11-25 06:07] trustin commented on #4508
We are using case-insensitive comparison, which is fine in my opinion. (more tolerating)

Jetty uses case-sensitive comparison and expects `Upgrade`, which seems incorrect. (They just do `.contains()` on a `List<String>` IIRC.)

So, we could:

- Use `HttpHeaderValues.UPGRADE` instead,
- Change it from `Upgrade` to `upgrade`, and
- Ping the Jetty folks about this so they fix this or they have a cha

[2015-11-25 06:11] trustin commented on #4508
Here's the code that uses `.contains("Upgrade")`:

https://github.com/eclipse/jetty.project/blob/65d33f8b49bd51140d9fe9b024c5dd42ad7571d8/jetty-server/src/main/java/org/eclipse/jetty/server/HttpChannelOverHttp.java#L373

`git blame` tells @gregw could help us here.

[2015-11-25 06:23] LionelCons commented on #4448
FWIW, there is another area where Netty does not comply to the STOMP >=1.1 spec: string encoding. The current codec has `buf.append((char) nextByte)` while the specs indicate UTF-8 encoding. In this area too, the STOMP 1.0 spec is silent...

[2015-11-25 06:25] SH4DY commented on #3778
I played around with netty and the example QUIC server from their project
but nothing came out of it. At the time there were only 2 GDocs with
documentation floating around, documentation in code was very sparse too.
Gave up on it :/
On Wed, 25 Nov 2015 at 01:02, Scott Mitchell <notifications@github.com>
wrote:

[2015-11-25 09:58] gregw commented on #4508
@trustin Ooops that looks wrong.  Fixing now..... standby.....

[2015-11-25 11:51] Scottmitch commented on #4497
@louiscryan - Can you take a look?

[2015-11-25 12:05] Scottmitch commented on #4508
@trustin Thanks for confirming we use case-insensitive compare. I agree we should change `HttpHeaderValues.UPGRADE` to lowercase, and use it here.

@gregw - Thanks for the fix!

[2015-11-25 13:32] ifesdjeen commented on #4293
@Scottmitch i've started working on test suite, and ran accross some deprecated constructors in https://github.com/netty/netty/blob/master/handler/src/test/java/io/netty/handler/ssl/JdkSslEngineTest.java do you think it'd make sense to use an SslContextBuilder there, too?

I may be missing something but it looks like ContextBuilder is only used in `OpenSsl` version for now.

[2015-11-25 13:54] normanmaurer commented on #4293
Using SslContextBuilder is the way to go

[2015-11-25 14:27] nmittler commented on #4497
I'll take a look

[2015-11-25 15:15] #4497 closed

[2015-11-25 15:48] ashish-tyagi commented on #4449
@normanmaurer
This is good. Did the issue produce in your environment?

[2015-11-25 18:03] Scottmitch commented on #4293
@ifesdjeen @normanmaurer +1

[2015-11-25 20:10] gregw commented on #4508
@trustin @Scottmitch   Fix is committed to jetty 9.3 and master branches: https://bugs.eclipse.org/bugs/show_bug.cgi?id=483039

[2015-11-25 20:24] normanmaurer commented on #4508
@gregw thanks!

@Scottmitch should I take care ?

[2015-11-25 21:36] Scottmitch commented on #4508
@normanmaurer - Sure. Thanks!

[2015-11-25 21:41] #4465 closed

[2015-11-26 04:52] Scottmitch opened #4514 "FullHttp[Request|Response].hashCode() handles refCnt == 0 but equals() does not"
hashCode() and equals() should be consistent. FullHttp[Request|Response].hashCode() tolerates the content reference count being 0 and does not throw an IllegalRefCountException, but FullHttp[Request|Response].equals() makes no attempt to account for reference count of 0.

Related Issues: https://github.com/netty/netty/issues/4458 https://github.com/netty/netty/pull/4503#discussion_r45944251
Relate

[2015-11-26 04:54] Scottmitch commented on #4514
If we want to continue to tolerate reference counts of 0 in these methods then I wonder if equals() could use a policy like the following:

- If both reference counts are non zero, compare as normal
- If one reference count is 0 and the other is not -> false
- If both reference counts are 0 -> true (for the content compare)

The implementation may be a bit hacky because the reference counts could

[2015-11-26 04:55] Scottmitch commented on #4514
/cc @ejona86 @normanmaurer @blucas

[2015-11-26 06:06] normanmaurer commented on #4514
equals(...) should never throw. Good catch!

[2015-11-26 06:37] ejona86 commented on #4514
If it will be tolerated, I disagree with the last case. I think it should be:
 * If both reference counts are 0 -> false

I do follow that that will break the HashMap. The HashMap usage is broken because the hash code will change when the refcnt goes to 0. Yes, that was fixed by caching the previous hash code, except then that will break if the content changes. And all of that doesn't mean the Has

[2015-11-26 08:04] normanmaurer commented on #4449
@ashish-tyagi I think this should fix it: https://github.com/netty/netty/pull/4516 Could you confirm ?

[2015-11-26 09:47] sangyun-han opened #4517 "BlockingServer Error"

[2015-11-26 09:47] #4517 closed

[2015-11-26 11:42] normanmaurer commented on #4508
Ok working on a fix

[2015-11-26 11:42] normanmaurer commented on #4509
@trustin sounds good... you will take care or should I do ?

[2015-11-26 12:01] ashish-tyagi commented on #4449
Hi @normanmaurer, Took your code changes, applied them to Netty 4.0.29.Final I still see a high CPU usage. The method is called but the catch block is not even called as no exception happens.

Will try with 4.0.33.Final.

[2015-11-26 12:03] normanmaurer commented on #4449
@ashish-tyagi hmm that is strange... can you do me the favour and just alter the code to always return `null` from the `closeExecutor()` block. I would be interested if this helps or not.

[2015-11-26 13:44] normanmaurer commented on #4449
@ashish-tyagi let me know once you were able to try the suggested change.

[2015-11-26 14:36] Scottmitch commented on #4514
If the object changes then wouldn't that breaks the contract of `hashCode()`?

`Whenever it is invoked on the same object more than once during an execution of a Java application, the {@code hashCode} method must consistently return the same integer,`

We could have a `ByteBufUtil.equalsRefCntSafe(ByteBuf b, ByteBuf a)` or something equivalent which does the work.

Can you expand upon this? The pr

[2015-11-26 14:49] ashish-tyagi commented on #4449
@normanmaurer Sure would try this by tonight.

[2015-11-26 17:09] ejona86 commented on #4514
It would break the contract of HashMap, but not `hashCode()`. From the user's perspective, retain/release doesn't mutate the object, and in general it doesn't impact the `hashCode()`. But with these changes we are saying it can change, unless you hold a reference (so again, holding a reference seems to be the solution).

`Object.hashCode()` only requires consistent return value if the object isn't

[2015-11-26 17:23] ashish-tyagi commented on #4449
@normanmaurer Yes returning null fixed the issue.

[2015-11-26 17:35] normanmaurer commented on #4449
Interesting... Will habe a look now

[2015-11-26 19:21] normanmaurer commented on #4449
@ashish-tyagi I now tried to reproduce it for 2 hours without any luck :( As you can reproduce it quite easily can you give me some more infos about the client that runs ab ? like what version, what os etc ?

[2015-11-26 19:26] msimon opened #4518 "f"

[2015-11-26 19:26] #4518 closed

[2015-11-26 19:31] normanmaurer commented on #3209
Fixed by https://github.com/netty/netty/pull/4477

[2015-11-26 19:31] #3209 closed

[2015-11-26 19:37] Scottmitch commented on #4514
+1

sgtm. Thanks for providing more details! We may want to revert the commits from https://github.com/netty/netty/pull/4463. @normanmaurer - WDYT?

[2015-11-26 19:38] lukehutch opened #4519 "Please consider relicensing (unlicensing) example code into public domain"
The code in netty/example is licensed under the Apache license v2. Since this code forms the starting point for many projects, the Apache license is probably overly restrictive, because it requires that derivative works retain copyright, license and authorship information. It's not that credit shouldn't be given when it's due, but the purpose of these examples is just to show basic usage patterns,

[2015-11-26 19:50] slandelle commented on #4519
Another example: HdrHistogram from Gil Tene: https://github.com/HdrHistogram/HdrHistogram/blob/master/LICENSE.txt

[2015-11-26 19:52] normanmaurer commented on #4449
@ashish-tyagi are you talking about a "short spike" a.k.a 1 sec or a long time of high cpu usage ?

[2015-11-26 21:11] normanmaurer commented on #4505
Working on a fix...

[2015-11-26 21:15] normanmaurer commented on #4504
@trustin will you submit a PR for this ?

[2015-11-26 21:16] normanmaurer commented on #4481
Closing as we need more info

[2015-11-26 21:16] #4481 closed

[2015-11-26 21:17] normanmaurer commented on #4457
@Scottmitch ^^

[2015-11-26 21:48] normanmaurer commented on #4441
Let me close this for now

[2015-11-26 21:48] #4441 closed

[2015-11-26 21:54] Scottmitch commented on #4462
I will throw together a PR for this.

[2015-11-26 21:54] normanmaurer commented on #4462
@Scottmitch w000t!

[2015-11-27 04:39] ashish-tyagi commented on #4449
Hi @normanmaurer, I looked at the code and it seemed that the CPU spike should remain for a time equal to the SO_LINGER. However, in my setup, I have seen that sometimes the CPU usage comes down in 3-4 seconds, but most of the times it stays high even after 15 minutes. There is no new traffic.

[2015-11-27 04:46] ashish-tyagi commented on #4449
Client details:
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.2 LTS
Release:	14.04
Codename:	trusty

As far as I know, all software are standard available, and there are no custom patches.

[2015-11-27 07:52] normanmaurer commented on #4449
@ashish-tyagi can you do me a last favour and alter NioSocketChannel.closeExecutor like this:

[code]

Would be interesting to know if this helps at all.

[2015-11-27 09:16] normanmaurer commented on #3297
@trustin did not see this for a long time now. I think we should close this for now. WDYT ?

[2015-11-27 10:01] iuliandolceanu opened #4521 "HTTP Proxy support in Netty client 4.0."
Hello,

I see that proxy support is implemented for Netty 4.1, but not for Netty 4.0. an you please add the functionality in the 4.0 version's future release, too, please? We cannot use Netty 4.1 at the time, because of its Beta status.

Thank you,
Iulian

[2015-11-27 11:42] ashish-tyagi commented on #4449
Hi @normanmaurer, Tried the new code. It is still the same.

Btw you can ask me for testing a code as many times as you like. I really appreciate your effort for this issue in particular and for open source in general.

I can not share the environment where this issue produces easily, as that belong to corp network. I am trying to produce the issue in Google cloud. If that works I will share the m

[2015-11-27 11:52] johnou commented on #4449
@ashish-tyagi you could also try sampling CPU with VisualVM to confirm where the busy loop is.

[2015-11-27 13:17] ashish-tyagi commented on #4449
@johnou The CPU profile is already attached in the comment dating  Nov 14, 2015. The busy loop is NioEventLoop which keeps on reading the same key, which keeps on failing because of underlying connection being closed, which causes Netty to schedule a close() in an executor.

[2015-11-27 13:36] ashish-tyagi commented on #4449
The executor which issues a close() gets stuck. I see these stack traces. These are not recovering either. Ideally the close() should block max for 1 sec (=SO_LINGER).

[code]

[2015-11-27 14:05] ashish-tyagi commented on #4449
I measure the time for which the threads were stuck in close(), it was equal to SO_LINGER. I was under the assumption that SO_LINGER is in milliseconds, turns out that it is in seconds.

[2015-11-27 14:28] ashish-tyagi commented on #4449
@normanmaurer The problem is that if the channel is not closed in IO thread, the IO thread goes in an infinite loop, issuing close() again and again.

You can easily produce this issue even without SO_LINGER. Just comment out the code in `close()` method of `AbstractChannel` class. Open a connection and close it from the client side. The IO thread will go in infinite loop. I have put the reproduce

[2015-11-27 16:44] normanmaurer commented on #4449
@ashish-tyagi thanks a lot for all the infos. I now know what is wrong and started working on a fix. Without all your help I would never found the issue!

[2015-11-27 19:24] #2936 closed

[2015-11-28 22:36] jchambers opened #4522 "Explicitly document system requirements for HTTP/2 (ALPN and ciphers)"
I'll stop short of asserting it won't work for anybody, but I was unable to get Netty's HTTP/2 implementation to work with Java 7. In particular, the problem seems to be that the ciphers specified in [`Http2SecurityUtil`](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2SecurityUtil.java) aren't available in Java 7, which leads to exceptions that

[2015-11-29 04:20] trustin commented on #4519
+1

[2015-11-29 06:22] #4504 closed

[2015-11-29 06:23] #4508 closed

[2015-11-29 11:35] rbi commented on #4505
Sorry for not answering but thank you for fixing it. I'm looking forward to Netty 4.0.34. 👍

[2015-11-29 14:08] blucas commented on #4522
@jchambers - HTTP/2 requires ciphers that are not included in Java 7. This is not a "netty" thing, so much a a Java thing. If you use native ssl in your service, then you can use netty's HTTP/2 codec with Java 7.

[2015-11-29 17:02] jchambers commented on #4522
Right. Totally understood. I'm not saying it's a defect, but I am saying it might make things easier for newcomers if it were documented somewhere (since it's a non-obvious exception to the "core" system requirements). Your point about using native SSL and Java 7 seems worthy of mention, too!

[2015-11-30 02:40] jroper commented on #2545
I've noticed this a few times, both on Linux and OSX, it can have a massive impact on the performance of tests, where it's not uncommon to start an event loop group and shut it down for each test.  The work around is to simply not wait for the event loop to shutdown, but it just seems very unreasonable that this should take longer than a second, and not waiting for shutdown is not very hygienic, e

[2015-11-30 02:52] jroper commented on #2545
Ok, I just read the javadocs for `shutdownGracefully(int, int, TimeUnit)`, and the reason for the long shutdown in my benchmark makes complete sense. I changed my code above to do a shutdown with zero quiet period, and the difference between waiting and not waiting is in the microseconds, which is what you would expect.

[2015-11-30 09:25] blucas commented on #4522
I agree with you.  I think the documentation could do with some updates and general improvements.  It would be good to see codec specific documentation, such as an (HTTP/1.x || WebSocket || HTTP/2 || STOMP) section outlining the requirements, examples, and optional goodies (compression for example).

The documentation section is all available on GitHub, so I'm sure Norman and Trustin would appreci

[2015-11-30 10:17] johnou commented on #4449
@normanmaurer any chance the fix for this will make it into netty-4.0.34.Final?

[2015-11-30 15:41] nmittler commented on #4522
Yeah, we should probably expand the docs in the readme. Perhaps we should even break out details of using TLS (as we did for grpc: https://github.com/grpc/grpc-java/blob/master/SECURITY.md).

@normanmaurer @Scottmitch WDYT?

[2015-11-30 15:43] nmittler commented on #4462
@Scottmitch, you may want to chat with @ejona86 about this ... he had some ideas for the implementation that may just involve a slight tweak of the algorithm used for the uniform distributor.

[2015-11-30 17:30] jchambers commented on #4522
That sounds like a good idea to me. Since I'm writing a thing that uses HTTP/2, it'd be great to have somewhere to point end users that explains both the broader requirements (HTTP/2 requires ALPN and some ciphers that aren't in Java 7) and the specifics of addressing those requirements with Netty (including native SSL).

Relatedly, I'll update the summary of this issue to be less about Java 8 and

[2015-11-30 18:02] normanmaurer commented on #4522
Sounds good

[2015-11-30 22:16] julienledem commented on #2545
@jroper In Drill we're using ```shutdownGracefully(0, 0, TimeUnit.SECONDS)``` and still see a 1 second wait time for the shutdown to complete.
See code there:
https://github.com/apache/drill/blob/7a151d691979acb12f1d9b5fac54f1179a4b095b/exec/rpc/src/main/java/org/apache/drill/exec/rpc/BasicServer.java#L223
It sounds like this is not the case for you, are you doing anything different?

[2015-11-30 22:34] jroper commented on #2545
At the moment I'm just doing `shutdownGracefully(0, 10, TimeUnit.SECONDS)` in my code, and my tests are taking same amount of time to run whether I wait for the returned future or not.  I haven't looked into it any further than that.

[2015-12-01 00:20] julienledem commented on #2545
For me there is no difference between ```shutdownGracefully(0, 0, TimeUnit.SECONDS)``` and ```shutdownGracefully(0, 10, TimeUnit.SECONDS)```. The Future takes 1s to return.

[2015-12-01 02:09] vsabella opened #4526 "Netty 4.1 Proxy"
I noticed that when using the Netty 4.1 HttpProxy it will resolve the hostname and set the ip/port as the
PROXY-CONNECT-HOSTNAME http header. A library we are using via netty bootstrap does "doResolveAndConnect" on an InetAddress - so the HttpProxyHandler is always getting a resolved InetAddress.

For example, if I connect to foo.cdn.mydomain.com, the PROXY-CONNECT-HOSTNAME will be the IP address

[2015-12-01 03:10] ejona86 opened #4527 "h2childchan: support for sending PUSH_PROMISE"
`PUSH_PROMISE`s send 'fake' client headers from the server to the client. The server sends such frames on a client-initiated stream when the server expects the client will need another resource (say javascript) in addition to the current response (say, some HTML) and wants to remove the RTT necessary for the client to send the request itself.

Important things to note: the push promise is sent on

[2015-12-01 07:32] slandelle commented on #4074
FYI, we've implemented hosts file resolution in Gatling (in a private branch atm).
We'll contribute at some point when we'll switch to 4.1 (using 4.0 + dnsjava for now).

[2015-12-01 08:17] lukehutch commented on #2984
@chrisprobst, did you ever get this implemented? This would be useful for a project I'm working on. How to properly use .resumeTransfer() is not at all clear to me, and it would be a lot nicer if this all worked asynchronously with no intervention.

[2015-12-01 08:21] lukehutch commented on #2984
PS I see a LazyChunkedInput in Play 1.x that might be helpful: https://github.com/playframework/play1/blob/master/framework/src/play/server/PlayHandler.java#L1024

[2015-12-01 08:36] normanmaurer commented on #4074
Thanks!

[2015-12-01 08:38] normanmaurer commented on #4526
/cc @trustin

[2015-12-01 08:44] chrisprobst commented on #2984
I die über get a response for my proposal. Im not Wirkung with netty anymore so i have no plans to implementiert this currently. Sry.

[2015-12-01 11:12] Scottmitch commented on #4462
@nmittler - Sgtm. I was planning on coordinating when I got back tommorow. The tips above are helpful too.

[2015-12-01 12:47] slandelle opened #4528 "WebSocketClientHandshakers are too restrictive on handshake response status"
Netty 4+

From [RFC6455](https://tools.ietf.org/html/rfc6455#section-4.1):

       client handles the response per HTTP [RFC2616] procedures.  In
       particular, the client might perform authentication if it
       receives a 401 status code; the server might redirect the client
       using a 3xx status code (but clients are not required to follow
       them), etc.  Otherwise, proceed as foll

[2015-12-01 14:29] slandelle opened #4529 "DnsNameResolver design questions"
Hi there,

Please advice if the bug tracker is not the right place to discuss this.

I'm eager to use the new DnsNameResolver from 4.1, but I have a few questions and hit a few limitations.

First, why does it resolves a `SocketAddress` instead of just a String? It looks to me that the sole purpose of passing a `SocketAddress` is to pass a port, so it can return a `InetAddress`. Isn't this the use

[2015-12-01 15:15] nmittler commented on #4527
`h2childchan` :)

Should the server application have some way of knowing that the `PUSH_PROMISE` was not sent (e.g. a promise failure)?

So delaying sending of the `PUSH_PROMISE` until we can create the new stream.  I suspect this might cause issues if the state of the parent stream changes. It might be better to just send the `PUSH_PROMISE` immediately, but delay "creation" of the new stream chan

[2015-12-01 15:37] ejona86 commented on #4527
I'm not sure if it is _necessary_ to inform the server application. I feel that we could eventually just have a way for the application to query whether PUSH_PROMISES are supported before "wasting the CPU" to produce headers for a client that prohibits PUSH_PROMISES.

Failing the write promise sounded like a good idea at first (upon reading it right now), but now I'm thinking that will interact po

[2015-12-01 16:12] nmittler commented on #4527
@ejona86 OK I think I understand ... it seems that there's a subtle point you're making that wasn't obvious at first. IIUC you're suggesting that we send an "empty" `PUSH_PROMISE` immediately, but defer sending the separated headers until the stream is actually created (i.e. send a `HEADERS` frame). Did I get that right?

[2015-12-01 16:25] besief opened #4530 "QueryStringDecoder: plus sign in query strings ('+' as well as '%2B') corrupts unrelated non-ascii characters (netty 3.9)"
Using netty 3.9.9.Final.

QueryStringDecoder replaces unescaped non-ascii characters with other characters, if a plus sign is part of the parameter’s value as well.
For example, the ™ character gets replaced with " (that's an ASCII double-quote).

Consider these simple test cases:
`new QueryStringDecoder("/s?q=+foo™").getParameters().get("q").get(0);`
Produces `" foo\""`.

`new QueryStringDecoder(

[2015-12-02 06:56] trustin commented on #4526
@vsabella Perhaps you (or the library you are using) forgot to set the resolver to `NoopNameResolverGroup.INSTANCE`?

    bootstrap.resolver(NoopNameResolverGroup.INSTANCE);
    bootstrap.connect(InetSocketAddress.createUnresolved(...));

[2015-12-02 07:47] trustin commented on #4529
+1. I should change the API.

+1. Do you have any additional request wrt DNS resolver cache? e.g. pluggable cache policy

[2015-12-02 08:06] slandelle commented on #4529
Hey @trustin

Regarding caching, what I'm trying to do is have each Gatling virtual user have its own cache. I have to check if each having its own DnsNameResolver/cache (and share eventloop) is affordable, or if I have to find another solution, like one global DnsNameResolver but custom key strategy. I'll come up with suggestions.

[2015-12-02 08:10] trustin commented on #4529
@slandelle Alright. Looking forward to your ideas. Feed back matters. ;-)

[2015-12-02 08:11] slandelle commented on #4529
Sure. Then, because of Gatling, I usually come up with non standard use cases :)

[2015-12-02 09:08] p0mp0k0 opened #4531 "RuleBasedIpFilter can not reject connection"
I used RuleBasedIpFilter to reject some remote IP's connection, but sometimes the reject action do not success. I create a class MyIPFilter extends from RuleBasedIpFilter and override the channelRejected to print some information like "channelRejected", and I found the "channelRejected" was printed, so I think accept function tested the reject rule and return false, but the decoder in pipeline aft

[2015-12-02 23:16] jroper opened #4533 "WebSocketHandshaker.finishHandshake could result in recursive channelRead event"
I'm not sure if this behaviour is by design or not, but if it is by design, I think it's not very good, because it leads to a very hard to debug race condition, and quite difficult state management.

So, here's the logic of my websocket client handler:

1. Handler receives response
2. `WebSocketClientHandshaker.finishHandshake()` is invoked
3. If that is successful, I setup the pipeline to start h

[2015-12-03 01:33] vsabella commented on #4526
@trustin Thank you. Yes they didn't :)

[2015-12-03 08:40] randak commented on #4526
Hey @trustin,

I have tried applying this to the aforementioned client library. Unfortunately it results in an `UnresolvedAddressException`. Any thoughts on how to avoid this? Obviously if we are trying to keep the address from resolving, this exception is not particularly helpful...

[code]

[2015-12-03 09:35] wolftobias commented on #3900
I am using Netty (version 4.0.27-final) with OpenSSL implementation provided by Netty. What i have observed that shutdown behavior in bad case is not clean. For example netty acting as Server have to verify the peer certificate and verification is failed e.g. unknown_certificate. OpenSSL sets a handshake error with an alert message "unknown_certificate". But this alert is not sent to the peer. I t

[2015-12-03 11:22] normanmaurer commented on #3900
I will have a look once back from vacation

[2015-12-03 22:55] Scottmitch commented on #4533
I can see how this may be problematic. To clarify you are using the `WebSocketClientProtocolHandler.ClientHandshakeStateEvent.HANDSHAKE_COMPLETE` user event as the trigger point to setup your pipeline with application level websocket handlers? I guess we could add another user which is fired before the [WebSocketClientHandshaker calls replace](https://github.com/netty/netty/blob/4.0/codec-http/src

[2015-12-03 23:07] Scottmitch commented on #4522
+1 for better docs.

@nmittler - The link you provided looks like a great start! I wonder if we could "borrow" the non-gRPC specific stuff. Either promote it to Netty somewhere and link from it from gRPC, or just duplicate it for now. WDYT?

[2015-12-03 23:12] Scottmitch commented on #4521
With 4.1's release being relatively near term I'm not sure this is worth the effort. @normanmaurer @trustin - WDYT?

[2015-12-03 23:23] jroper commented on #4533
Actually no I didn't know that event existed, I started my code by copying the Netty websocket samples to know how to implement websockets in Netty, which don't use these events:

https://github.com/netty/netty/blob/master/example/src/main/java/io/netty/example/http/websocketx/client/WebSocketClientHandler.java

Looking at that code, there seems to be a similar race condition as was in my code, th

[2015-12-03 23:32] Scottmitch commented on #4457
@blucas - Sorry for the delay and thank you for the reference to the specification. Let me see if I can put together a PR.

[2015-12-04 02:24] Scottmitch commented on #4527
@ejona86 - Will the "promised stream" id be exposed to the user when created, and would it be useful to have this? For example this may allow the user to take action on the stream if necessary (reset/cancel it, prioritize it (if this makes sense), etc...), and also maybe give better situational awareness.

[2015-12-04 07:34] iuliandolceanu commented on #4521
What would the term be? I didn't find anything related to it anywhere on the Netty page.

[2015-12-04 09:22] normanmaurer commented on #4521
This year.

[2015-12-04 09:53] normanmaurer commented on #4521
Nope let us just release 4.1

[2015-12-04 11:58] iuliandolceanu commented on #4521
OK. I'll keep my eyes open for the stable release of 4.1.

Thanks!
Iulian

[2015-12-04 12:09] ramahmoo commented on #3900
In case if error is there and Network bio has pending data(in this case alert data), i tried just return with NEED_WRAP and in next wrap() the pending data was consumed and written to wire. I can see the Alert data in Wireshark trace. This was just a quick test. We have to consume the pending bio data and afterwards exception must be thrown to inform SSLHandler about the problem.
[code]

[2015-12-04 13:54] normanmaurer commented on #3900
If you can provide a fix as pr I'm more then happy to review

[2015-12-04 14:03] doom369 opened #4534 ""handlerRemoved" method not ivoked when ReadTimeoutHandler is removed from pipeline"
Hello. Netty 4.0.33. Use case :

I'm creating pipeline with new ReadTimeoutHandler(15). Also I have a logic in pipeline, so when user want yo change 15 sec to something else :

[code]

The problem is - after removing old handler timeout is still 15 sec and my connection is dropped. While new interval I'm passing is 60 secs.

Question is - does remove from pipeline should call "handlerRemoved", I r

[2015-12-04 14:37] #4534 closed

[2015-12-04 14:55] nmittler commented on #4522
@Scottmitch I'm fine with duplicating for now ... we can refactor the grpc docs later.

[2015-12-04 15:27] normanmaurer commented on #4522
+1

[2015-12-04 15:27] normanmaurer commented on #4534
Did you close this by mistake?

[2015-12-04 15:50] doom369 commented on #4534
No. Problem was in my code.

[2015-12-04 15:51] normanmaurer commented on #4534
Thx for clearify!

[2015-12-04 18:56] Scottmitch commented on #4522
I'll submit a PR.

[2015-12-04 19:02] normanmaurer commented on #4522
Thx!

[2015-12-04 20:20] Scottmitch opened #4539 "HTTP/2 remove PriorityStreamByteDistributor"
The responsibilities of the `PriorityStreamByteDistributor` have been absorbed by the new `StreamByteDistributor` in PR https://github.com/netty/netty/pull/4538.  We should analyze doing the following after this PR is resolved:

1. Remove `PriorityStreamByteDistributor`.
2. Remove [Http2Stream.totalChildWeights](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/

[2015-12-04 20:20] Scottmitch commented on #4539
@nmittler @ejona86 - FYI

[2015-12-06 07:01] trustin commented on #4529
@slandelle That's where excitement comes. :-)

[2015-12-06 07:02] trustin commented on #4466
Meanwhile, let me change the default branch from 'master' to '4.1'.

[2015-12-06 07:13] normanmaurer commented on #4466
Thanks! Will take care of the rest once back from vacation

[2015-12-06 10:15] hepin1989 commented on #4466
As *Netty In Action* cover 4.x,I think this should be fine.

[2015-12-07 20:24] homer-j opened #4543 "Netty 4.0 - separate thread pool async message processing + outbound handler = 1s latency"
Hi, I was trying to use netty 4.0 in a project along with disruptor as processing queue and faced an issue when without input IO response time is ~1s per request (while I was expecting ~1-2 ms and it is really feasible).
According to my investigation all the time is spent in `NioEventLoop.select` on blocking call to `selector.select(timeoutMillis)` which waits for input IO and is not awaken when n

[2015-12-07 22:57] slandelle opened #4544 "Inconsistent pooled memory usage (can lead to OOM)"
Netty 4.0.33.Final
OSX 10.11.1
Hotspot 1.8.0_66

I have a custom `ChunkedInput` that can get fed externally. I found out that memory usage can be pretty different depending on the queue used between the single producer and the single consumer (the Netty IO thread). Native memory usage can be as low as the initial 16Mb, or skyrocket to several 100Mb, or even crash with OOM.

Please check [this pure

[2015-12-09 02:25] Scottmitch opened #4545 "HTTP/2 UniformStreamByteDistributor stream window ignored"
UniformStreamByteDistributor will write to a stream even if the stream's flow control window is negative. This is not allowed by the rfc.

https://tools.ietf.org/html/rfc7540#section-6.9.2

   space in a flow-control window to become negative.  A sender MUST
   track the negative flow-control window and MUST NOT send new flow-
   controlled frames until it receives WINDOW_UPDATE frames that cause

[2015-12-09 02:25] Scottmitch commented on #4545
@nmittler - FYI

[2015-12-09 03:36] nmittler commented on #4545
@Scottmitch good catch! ... do you want to throw together a PR with the updated test?

[2015-12-09 03:57] Scottmitch commented on #4545
@nmittler - Yes. I can handle this. However the new interfaces are introduced and used in PR #4538. Would you mind if I fixed after this PR is resolved?

[2015-12-09 04:00] #4457 closed

[2015-12-09 07:15] ThomasLau opened #4546 "Netty 4.1 generates the XxxObjectHashMapTest.java to the wrong package?"
hi,when i update my branch to netty4.1,i get some compile errors:

<img width="171" alt="netty-4-1-2015-12-09" src="https://cloud.githubusercontent.com/assets/5381740/11678939/62fa71a6-9e87-11e5-9ea7-0e57f908768d.png">

(i  use maven 3.3.3, Mac OS)

i guess that is because we should move "templates/io.netty.util.collection/KObjectHashMapTest.template"
to
"templates/io/netty/util/collection/KObject

[2015-12-09 07:34] trustin opened #4547 "NPE in PooledByteBufAllocator.newDirectBuffer"
4.1.0.Beta8. It seems to me this should never occur but..

[code]

[2015-12-09 08:08] normanmaurer commented on #4547
Hmm... Is this maybe related to:
https://github.com/netty/netty/pull/4388
https://github.com/netty/netty/issues/4198

Looks a bit different though...

[2015-12-09 08:09] normanmaurer commented on #4547
Let me try to find out whats wrong....  @trustin I guess this is hard to reproduce?

[2015-12-09 08:17] mauhiz commented on #4547
We saw it appear during a JVM shutdown. Wasn't able to reproduce so far

[2015-12-09 14:23] nmittler commented on #4545
@Scottmitch sgtm, thanks!

[2015-12-10 00:43] Scottmitch commented on #4546
@ThomasLau - Thanks for reporting! Sounds reasonable to me.

@nmittler - Would you mind taking care of this one?

[2015-12-10 07:54] normanmaurer commented on #4449
@ashish-tyagi @johnou was on vacation... here is the proper fix: https://github.com/netty/netty/pull/4548 :)

[2015-12-10 12:53] normanmaurer commented on #4505
Fixed via https://github.com/netty/netty/pull/4552

[2015-12-10 12:53] #4505 closed

[2015-12-10 12:55] RobertBorg opened #4555 "Protobuf codec Nano runtime support"
I adopted the protobuf codec for protobuf nano runtime and i'm just wondering if you'd be interested in an PR for it.

[2015-12-10 12:56] normanmaurer commented on #4555
@RobertBorg of course... please open a PR once you are ready and let me close this for now.

Thanks!

[2015-12-10 12:56] #4555 closed

[2015-12-10 15:18] PatrickHuetter commented on #2616
I've the same problem with linux kernel 4.2 and 3.16. (Debian Jessie)

[2015-12-10 15:51] ashish-tyagi commented on #4449
Nice. I would test and verify.

[2015-12-10 21:32] CodingFabian opened #4558 "ByteBufUtil allocates significant memory for hey dump facilities even when not used"
About 200k of memory are allocated for the various hexDump helpers in ByteBufUtil, even when the application doesn't use them, because they are static in ByteBufUtil which is more likely to be used.

Could we move the actual dump preparation to separate class, so that it is only initialized if actually used?
so like:
[code]

This will delay the static initializer.

[2015-12-10 21:32] CodingFabian commented on #4558
I can submit a PR if the idea is approved

[2015-12-10 21:33] normanmaurer commented on #4558
@CodingFabian yes please :) Thanks a lot!

[2015-12-10 22:21] CodingFabian commented on #4558
whoopsie, wrong target :-) Feel free to let me know what you think. I could also move it to separate class, but wanted to keep API identical.

[2015-12-11 07:23] kevinarpe opened #4561 "Question: ReferenceCounted.retain(void/int) have nearly identical impls"
Hello,

I assume there is some history behind this code.  At first blush, a developer / reader says: "Hey, that's duplicated code."  Can you explain why `ReferenceCounted.retain(void)` and `retain(int)` have nearly identical impls in `AbstractReferenceCounted` and `AbstractReferenceCountedByteBuf`?

(There is similar overlap for `ReferenceCounted.release(void)` and `release(int)`.)

Sample code fr

[2015-12-11 09:13] ninja- commented on #4561
@kevinarpe this is to ensure maximum perf. and don't depend on inlining

[2015-12-11 10:19] slandelle commented on #4529
Here's a list of what I'd like to change. Please advice.

1. NameResolver taking a SocketAddresses

I get NameResolver takes a port so it can cache the resolved SocketAddresses.
But I don't see why it takes a full SocketAddress. And the overloads that take a hostname and port actually delegate to the one taking a SocketAddress, creating an unresolved InetSocketAddress, hence an internal InetSocket

[2015-12-11 10:21] slandelle commented on #4529
@trustin I can tackle this ASAP if you agree. Then, I can work on the Hosts file resolver and the composite one (I have to port from my own API and from Scala).

[2015-12-11 11:54] trustin commented on #4529
I don't think it should require a port. How about just removing the port part from the `NameResolver` API completely? i.e. replace `SocketAddress address` with `String name` and change the result of resolution to `InetAddress`. What do you think?

When a user attempts to connect to a remote peer, a user may pass a `SocketAddress` that's resolved already. e.g. a user can simply use `new InetSocketA

[2015-12-11 12:21] trustin commented on #4529
I spoke too soon. It's been a while since I wrote this API obviously. :-)

As you know `SocketAddress` itself does not have the notion of 'port'. I intended to use `SocketAddress` so that some implementations use a dedicated address type, and that address type might not have the notion of 'port' at all.

`Bootstrap` itself cannot assume the type of the `SocketAddress` a user specified as a remote

[2015-12-11 12:51] slandelle commented on #4529
It's a bit of a pity that InetSockAddresses and InetSocketAddressHolders will have to be instanciated over and over again downstream while the InetAddress will be cached, but I agree that's way cleaner and generic from an API pov.

I will provide a PR for this, and then build on top of it.

Thanks!

[2015-12-11 13:38] slandelle commented on #4529
I have the feeling that NameResolver is trying to do too many things: resolve names (methods that take a String) and resolve addresses (methods that take a SocketAddress).
Shouldn't it be split in 2: NameResolver and AddressResolver?

[2015-12-11 13:47] normanmaurer commented on #3900
@wolftobias what version of netty this is ?

[2015-12-11 14:42] ramahmoo commented on #3900
This is 4.0.27-final  but we have tested with 4.0.33-fonal and same behavior.

[2015-12-11 14:46] trustin commented on #4529
+1

Perhaps NameResolver should return T? There's no common type for this unfortunately.. Alternatively, we could name it `InetNameResolver`?

+1

[2015-12-11 15:37] pylight commented on #4096
I've bought [Netty in action](https://www.manning.com/books/netty-in-action) which is from my point of view a very nice starting point. If I didn't had this book I would most probably not have choosen netty as connectivity framework for my software. I think the "free" documentation could be a better, but of course I understand that features/functionality have a higher priority in the project.

[2015-12-11 17:51] normanmaurer commented on #4544
@slandelle I will try to have a look soon.

[2015-12-11 18:00] slandelle commented on #4544
@normanmaurer Thanks.

[2015-12-11 19:00] normanmaurer commented on #4558
Fixed by https://github.com/netty/netty/pull/4560

[2015-12-11 19:00] #4558 closed

[2015-12-12 00:03] slandelle commented on #4529
OK. I'll try to send a PR this week-end.

[2015-12-12 01:02] trustin commented on #4529
@slandelle Thanks a bunch! :+1:

[2015-12-12 15:02] jchambers opened #4562 "`org.tukaani.xz` should have `test` scope"
[`org.tukaani.xz`](https://github.com/netty/netty/blob/dc13a10e7783dfb461a58e431098617a191afd1e/pom.xml#L913) appears to be a test dependency, but is included in the default (`compile`) scope in `master`, `4.0`, and `4.1.`

[2015-12-12 15:09] slandelle commented on #4562
You're referring to the dependencyManagement block, not the dependencies one.
`org.tukaani/xz` is only fetched from the test-suite module, so Netty runtime artifacts don't fetch it.

[2015-12-12 15:54] jchambers commented on #4562
Oops—my mistake!

[2015-12-12 15:54] #4562 closed

[2015-12-12 16:07] ninja- commented on #4547
I feel like https://github.com/netty/netty/pull/4548 - a fix for other issue(?), could also solve this. That's because based on what @mauhiz said, nio event loop tries to read from a channel in shutdown() (in a task after shutdown... ) while it already destroyed the allocator.

[2015-12-12 16:35] kevinherron opened #4563 "ByteBuf#writeBytes(java.nio.ByteBuffer) can fail when ByteBuffer is read-only."
If you try writing a read-only `java.nio.ByteBuffer` into a certain implementations of `ByteBuf` using `ByteBuf#writeBytes(java.nio.ByteBuffer)` a `java.nio.ReadOnlyBufferException` is thrown.

It seems at the very least `PooledUnsafeDirectByteBuf` is susceptible:

[code]

Results in:

[code]

It looks like `UnsafeByteBufUtil` assumes `java.nio.ByteBuffer#array()` will always succeed, rather than

[2015-12-12 16:38] normanmaurer commented on #4563
Thanks for reporting, will fix 👍

[2015-12-12 16:49] normanmaurer commented on #4547
@ninja- this is in no way related at all

[2015-12-12 17:16] kevinherron commented on #4563
It seems this was fixed in f3f49c91fd3a72f6f7049023c276f6772ebbf159 in November... Sorry for the un-necessary report!

[2015-12-12 17:27] kevinarpe commented on #4561
Ok, thanks.

[2015-12-12 17:27] #4561 closed

[2015-12-12 17:34] blucas opened #4564 "AsciiString.contentEqualsIgnoreCase does not work correctly for AsciiString comparison"
Netty Version: master (6c0fef133baa4afce11953110a6947732d87ec8e)

```AsciiString.contentEqualsIgnoreCase``` fails when checking for equality between two ```AsciiString``` objects. For example
[code]
The issue is due to [the following line](https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/AsciiString.java#L533)

I think I've tracked this down to the following commit: ht

[2015-12-12 17:43] normanmaurer commented on #4563
@kevinherron thanks... working on a fix as we speak.

[2015-12-12 17:51] normanmaurer commented on #4563
@kevinherron that said `UnsafeByteBufUtil#getBytes(...)` will act correctly as it will throw an java.nio.ReadOnlyBufferException on array(). But there is another problem as we may allow to write to the buffer if its direct even if its read-only....

[2015-12-12 18:56] normanmaurer commented on #4564
Fixed by https://github.com/netty/netty/pull/4565

[2015-12-12 18:56] #4564 closed

[2015-12-13 17:29] RoganDawes commented on #3531
Is SslContextBuilder going to be added to 5.0? As far as I can tell, this has not yet been forward ported.

[2015-12-13 17:57] cpw commented on #2302
*milestone bump* Nice..

[2015-12-14 08:09] trustin commented on #2302
TL;DR - Closing, because it's a user error.

According to the original report from @twilek, marking the promise as success has failed because the promise has been failed already due to `IllegalReferenceCountException`. As the exception signifies, it means a user (or some component of Netty) attempted to decrease (or increase) the reference count of a buffer in an unexpected way.

What @lexand shar

[2015-12-14 08:09] #2302 closed

[2015-12-14 12:34] buchgr commented on #4561
@kevinarpe i wouldn't take ninjas word for it :). might just be duplicated code that evolved over time.

For such questions I would recommend sending them to the mailing list or opening a PR to fix it and see what people respond in code review. :-).

[2015-12-14 12:40] slandelle commented on #4074
@trustin @normanmaurer Where do you want the hosts file parser? Which module? Static methods in NetUtil or own class?

[2015-12-14 12:42] normanmaurer commented on #4074
hmm... just put it where you think makes most sense.

[2015-12-14 15:50] slandelle opened #4568 "Monitor DnsNameResolver actual resolutions"
I'd like to be able to monitor every actual resolution: when an uncached resolution happened, which host and how long it took.

I see 2 possibilities:
- make some DnsNameResolver internals protected instead of private or package private so it can be extended
- make DnsNameResolver take an optional Listener

Please let me know which option you'd like and I'll provide a PR.

Thanks!

[2015-12-14 16:04] sqlboy commented on #1589
I too have the same issue...no way to tie a process back to a channel without iterating all the channels.

[2015-12-14 16:38] nmittler commented on #4546
doh! yeah I'll send a PR shortly...

[2015-12-14 16:50] nmittler commented on #4546
Just created #4569

[2015-12-14 18:09] #4546 closed

[2015-12-14 20:48] normanmaurer commented on #4528
@slandelle couldn't you use HttpClientCodec.decoder() ?

[2015-12-14 21:07] guilhermecl opened #4570 "Using "global" class instances"
I just started the implementation of a TCP server, and this is my first experience with Netty.

I want to instance a class and use it in the entire Netty aplication, sharing it between the connection threads.
Is it correct to do this in Netty? Or, at every new client connected at the server, I must instantiate new classes?
If it is OK to do this, then where should I put the code to instance the cl

[2015-12-14 21:20] slandelle commented on #4528
@normanmaurer Sorry, I don't follow.

Here's how I've been doing things prior to 4.1:
* Channel initially have a HttpClientCodec
* Send initial upgrade request
* If status is different from 101, perform standard HTTP operations such as redirect or auth, and perform upgrade request again
* Otherwise, add the WebSocketEncoder and Decoder in the pipeline, based on HttpClientCodec position, and remove

[2015-12-14 23:18] richdougherty opened #4571 "NPE in AbstractNioChannel.doBeginRead"
I occasionally see an NPEs in Netty 4.0.33.Final when running a [Play Framework](https://github.com/playframework/playframework) performance test. The error appears to be random. It happens about once every two minutes under load of 50,000 requests/second.

[code]

Machine info:
[code]
Java info:
[code]

[2015-12-15 01:20] ThomasLau commented on #4546
@nmittler yeah , got it! Maven will compile **io.netty.util.collection/A.java** into **io/netty/util/collection/A.class** correctly, but eclipse-jdt will take it as a compile error.
this may because **javac** compiles io.netty.util.collection/A.java into io.netty.util.collection/A.class, but running **java io.netty.util.collection.A** may lead to a rumtime error.

[2015-12-15 04:07] trustin opened #4572 "Http2ConnectionHandler builder API design issues"
I see the following design issues with the builder API of `Http2ConnectionHandler`.

- A user might want to extend `Http2ConnectionHandler` and define his/her own static inner `Builder` class that extends `Http2ConnectionHandler.BuilderBase`. This introduces potential confusion because there's already `Http2ConnectionHandler.Builder`. Your IDE will warn about this name duplication as well.
- `Buil

[2015-12-15 04:08] trustin commented on #4572
If there's no objection, I'll come up with a fix PR for this.

[2015-12-15 05:55] Scottmitch commented on #4572
@trustin - Improvements are always welcome. Any details for how you will improve the last 2 bullet points?

[2015-12-15 06:29] normanmaurer commented on #4571
Let me have a look

[2015-12-15 06:42] richdougherty commented on #4571
Thanks. In case it helps, here's the class that's calling Netty: https://github.com/typesafehub/netty-reactive-streams/blob/master/netty-reactive-streams/src/main/java/com/typesafe/netty/HandlerPublisher.java

[2015-12-15 08:14] ramahmoo commented on #3900
@normanmaurer Any update on this issue?

[2015-12-15 08:14] normanmaurer commented on #3900
@ramahmoo I think I will open a PR today.

[2015-12-15 09:22] ramahmoo commented on #3900
I saw a similar thing in last week commit at
https://github.com/apache/tomcat/blob/trunk/java/org/apache/tomcat/util/net/openssl/OpenSSLEngine.java

They have used the sendHandshakeError flag to mark that there is some pending BIO data when handshake error occurred and explicitly return NEED_WRAP from getHandshakeStatus() if sendHandshakeError was true and set this flag to false. i.e. they try to

[2015-12-15 09:31] trustin commented on #4572
@Scottmitch I'd like to remove the build methods or to make them protected in BuilderBase so that Builder implementations choose to expose what/which build methods. Let me take a quick stab on this some time this week.

[2015-12-15 09:50] normanmaurer commented on #3900
@ramahmoo just one thing... how did you check if the alert data was send back ? Wireshark and if so how ? Just looked at the bytes ?

[2015-12-15 09:50] normanmaurer commented on #4570
Just create it and inject it to the ChannelHandler in the constructor ?

[2015-12-15 09:50] #4570 closed

[2015-12-15 09:53] normanmaurer commented on #4547
@trustin the NPE would only happen if a final field would be null which should never happen. I think this is a Java bug, or could you think of anything else ?

[2015-12-15 09:56] ramahmoo commented on #3900
Just looked the Bytes inside the Wrap, as per rfc5246 first byte found was 21 which indicates that it is alert data.

[2015-12-15 09:58] normanmaurer commented on #3900
@ramahmoo I was more interested to understand how you detected you not received the alert data.

[2015-12-15 10:04] ramahmoo commented on #3900
traced with wireshark, see the following wireshark trace screenshot
![fin without tls alert](https://cloud.githubusercontent.com/assets/16151092/11807679/95eb15fa-a31b-11e5-8cb7-8e6435e28e70.png)

[2015-12-15 10:11] ramahmoo commented on #3900
here is the result with Java socket based impl
![image](https://cloud.githubusercontent.com/assets/16151092/11807804/885e37fe-a31c-11e5-9aad-acc89b49b38f.png)

[2015-12-15 10:14] normanmaurer commented on #3900
@ramahmoo thanks!

[2015-12-15 10:25] mauhiz commented on #4547
Per Java specs, the only way for such a final field to be null is if an incomplete object is leaked like [here](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/AbstractByteBufAllocator.java#L71). Now, to understand the exact race condition that led to the error... :angel:

[2015-12-15 10:27] normanmaurer commented on #3900
@ramahmoo one last question... you are using OpenSslEngine on the server or client side when you see the issue ?

[2015-12-15 10:35] ramahmoo commented on #3900
As client, but i think is also as server.

[2015-12-15 11:21] normanmaurer commented on #3900
@ramahmoo when you said "using the JDK one" you are refer to use SslProvider.JDK and still netty right ?

[2015-12-15 11:28] ramahmoo commented on #3900
No, just a simple java ssl socket based handshake test without netty.

[2015-12-15 11:32] normanmaurer commented on #3900
can you share the code ?

[2015-12-15 12:16] ramahmoo commented on #3900
Test Client based on socket
[code]

Alias Selector Key Manager
[code]

[2015-12-15 12:38] m3ltaw4y commented on #4116
Is there any solution to this?  I believe I have the same problem.  Described here: http://stackoverflow.com/questions/34214768/netty-4-decoder-error-with-ssl

[2015-12-15 12:45] normanmaurer commented on #4116
Unfortunaly I have no android to debug and test it :(

[2015-12-15 12:51] slandelle commented on #4116
Ask your employer for one!

[2015-12-15 12:56] normanmaurer commented on #4116
@slandelle I guess I'm working for the wrong company for an android device ;)

[2015-12-15 12:57] m3ltaw4y commented on #4116
The errors occur on Android emulators as well

[2015-12-15 12:58] normanmaurer commented on #4116
If you can give me some infos how to setup all of this I will have a look. I’m using intellij …

[2015-12-15 13:03] m3ltaw4y commented on #4116
I'm using Netty 4.0.30, problems occur with Android 5.02 on real devices and emulators, but not earlier versions.  I believe the sample code here will expose this: https://github.com/netty/netty/tree/4.0/example/src/main/java/io/netty/example/securechat
I use Android Studio's emulator, haven't used intellij

[2015-12-15 13:52] normanmaurer commented on #3900
@ramahmoo thanks again for all your help. With your help I was able to reproduce it and fix it :+1: (at least it seems so). I want to do some more tests here but expect a PR today or tomorrow.

[2015-12-15 14:28] DaAllexx commented on #4116
I can confirm this issue. It is not just Android 5.0.2, it is Android 5.0.X in general. With all Android versions before and after 5.0.X all SSL connections are working fine. For now we are using Netty 4.0.25 in our app as a workaround.

To reproduce this you just have to try to establish a SSL connection with Netty. In Android Studio you just have to create a virtual device using the AVD Manager.

[2015-12-15 14:29] normanmaurer commented on #4116
Will try sometime this week

[2015-12-15 16:21] Scottmitch commented on #4572
@trustin - So multiple builders each with 1 `build` method, instead of 1 builder with multiple `build` methods?

[2015-12-16 01:06] trustin commented on #4572
@Scottmitch I think it depends on the builder implementation. What I mean is it's just not what BuilderBase has to enforce.

[2015-12-16 02:53] louiscryan opened #4573 "HTTP2 padding merging breaks flow control"
@Scottmitch
@nmittler

In DefaultHttp2Controller.enqueueFrame we increment the pendingBytes based on the size of the frame passed regardless of whether it was merged. Since merging uses padding = max(padding, new.padding) the number of bytes added to the merged frame may be less than newFrame.size().

This eventually leads to the flow controller allocating bytes to write when there are no frames w

[2015-12-16 03:48] dengyuankai272 commented on #1836
There are two way to register interested events:

1.Channel.register()
2.SelectionKey.interest(int)

netty use 2.

After binding channel to selector(that is, register the channel to selector with 0), netty will invoke fireChannelActive()->fire a read event->HeadContext.unsafe.doBeginRead()->SelectionKey.interestOps(int) to set interestOps.

protected void doBeginRead() throws Exception {
        i

[2015-12-16 05:31] trustin commented on #4572
@Scottmitch Ended up with 1 builder with 1 build() method with some state validation - #4574

[2015-12-16 06:51] Scottmitch commented on #4573
@louiscryan - makes sense. I guess we should only be incrementing by the frame size change in the event we merged frames (otherwise we will be double counting the bytes before the merge)?

[2015-12-16 06:57] normanmaurer commented on #3900
@ramahmoo can you please verify if the fix works for you as well:
https://github.com/netty/netty/pull/4578

After I apply it I can see everything in wireshark :)

[2015-12-16 11:54] ramahmoo commented on #3900
@normanmaurer
Unfortunately, we can't take this fix from version 4.0.3x while there was a high CPU usage(maybe somewhere a Race condition) reported with OpenSSLEngine implementation from this version. We are still using 4.0.27-final. Is there any chance of porting the fix to 4.0.27 version?

[2015-12-16 12:12] normanmaurer commented on #3900
@ramahmoo unfortunally no... we will not back port the fix as a lot of internal changed. Any chance to open an issue with the details of the race ? also are you sure it is related to the OpenSslEngine ?

[2015-12-16 12:16] dzagorovsky commented on #4571
Currently we migrated our product to Play 2.5.0-M1 and notices the same behaviour with a regular requests (no load).

[2015-12-16 12:17] normanmaurer commented on #4571
@dzagorovsky could you provide a reproducer somehow ? Using play would be good enough

[2015-12-16 12:23] normanmaurer commented on #3900
@ramahmoo btw you could try to port the change by yourself but OpenSslEngine has other problems in 4.0.27.Final

[2015-12-16 12:23] normanmaurer commented on #3900
@SutarSuhas maybe you could have a look as well.

[2015-12-16 19:14] richdougherty commented on #4571
Here is a ZIP file that can be used to reproduce the problem.

https://drive.google.com/file/d/0B0SP9EBGIOe5aUFWYzNOZFBKX0k/view?usp=sharing

Once you've unzipped the file, the command to start the application is:

[code]

The command to test the application is:

[code]

I can reproduce this on a Linux test machine but not on my Mac OS laptop. I usually see 1-3 errors every 5 minutes of load testi

[2015-12-16 19:26] normanmaurer commented on #4571
@richdougherty thanks will have a look tomorrow :)

[2015-12-16 19:34] normanmaurer commented on #4571
@richdougherty awesome ... I was able to reproduce after giving it a quick try :+1: Will look into it

[2015-12-16 21:08] richdougherty commented on #4571
Thanks @normanmaurer!

[2015-12-16 21:22] normanmaurer commented on #4571
@richdougherty but to make it short yes it is kind of bad usage of netty... You should only call `read()` once `isRegistered()` returns true or the `ChannelFuture` of `register(...)` is notified. That said we should never throw a NPE, so I will fix this

[2015-12-16 21:29] richdougherty commented on #4571
OK, I'll fix Play, thanks a lot for tracking down the problem. Are you going to change Netty to throw an `IllegalStateException` instead?

[2015-12-17 10:24] nezhazheng opened #4583 "Unexpected exception in the selector loop"
Version: netty-all-5.0.0.Alpha2
What happend..

18:23:06.850 109893 [nioEventLoopGroup-1-545] WARN i.n.c.nio.NioEventLoop  Unexpected exception in the selector loop.
java.nio.channels.ClosedSelectorException: null
	at sun.nio.ch.SelectorImpl.lockAndDoSelect(SelectorImpl.java:84) ~[na:1.7.0_91]
	at sun.nio.ch.SelectorImpl.selectNow(SelectorImpl.java:106) ~[na:1.7.0_91]
	at io.netty.channel.nio.NioE

[2015-12-17 12:28] normanmaurer commented on #4563
Not an issue as explained before

[2015-12-17 12:28] #4563 closed

[2015-12-17 12:29] normanmaurer commented on #4466
master branch was rename to master_deprecated. Changes only need to go to 4.0 and 4.1 now.

[2015-12-17 12:29] #4466 closed

[2015-12-17 12:30] normanmaurer commented on #3900
Fixed via https://github.com/netty/netty/pull/4578

[2015-12-17 12:30] #3900 closed

[2015-12-17 12:31] normanmaurer commented on #3900
@ramahmoo if you find another issue in the latest version of `OpenSslEngine` please open another issue.

[2015-12-17 12:32] normanmaurer commented on #4583
@nezhazheng Please use latest 4.1.0 release (4.1.0.Beta8) or 4.0.33.Final. There should be no issue there.

[2015-12-17 12:32] #4583 closed

[2015-12-17 12:34] normanmaurer commented on #4531
Can you show us the exact code ?

Also the connection close by peer can happen if the remote peer closed the exception in between.

[2015-12-17 12:36] normanmaurer commented on #4509
@trustin didn't you fix this already ?

[2015-12-17 12:50] normanmaurer commented on #4528
@slandelle so the real problem is more or less that HttpClientCodec is not working as before in the terms that it just "stays" in the pipeline ?

[2015-12-17 12:52] slandelle commented on #4528
Yes.

[2015-12-17 12:53] normanmaurer commented on #4528
@slandelle gotcha... I think this is more or less a breaking change so I'm wondering if we should just make it work as before. Does this sound good ?

[2015-12-17 12:58] slandelle commented on #4528
That would be awesome and make upgrading a bliss!

[2015-12-17 12:58] normanmaurer commented on #4528
@trustin WDYT ? I can take care of this

[2015-12-17 14:15] #4074 closed

[2015-12-17 14:16] normanmaurer commented on #4074
closed by https://github.com/netty/netty/pull/4567

[2015-12-17 18:33] Scottmitch commented on #4466
Woot! thanks @normanmaurer!

[2015-12-17 18:34] normanmaurer commented on #4528
Also @Scottmitch  :)

[2015-12-17 19:14] Scottmitch opened #4585 "HTTP/2 StreamByteDistributors allowing headers to be written when no data can be written"
When the discussing the design of the UniformStreamByteDistributor (https://github.com/netty/netty/issues/4489#issuecomment-158472088) the intention was to only send the initial headers frame if we could also send data for that stream. The rational being that this would lead to better data locality.  However the current implementation may not achieve this under all circumstances.

[UniformStreamBy

[2015-12-17 19:14] Scottmitch commented on #4585
@nmittler - FYI

[2015-12-17 19:17] #4462 closed

[2015-12-17 19:46] normanmaurer commented on #4528
@trustin @Scottmitch @slandelle another thing we could do is change the `HttpClientCodec` and others to basically still keep itself in the pipeline and remove the encoder/decoder once itself was removed. That said I think maybe we should just remove `ChannelHandlerAppender` and undeprecate `ChannelDuplexHandler`. It just sounds like this one will give the user less surprises as the handler that th

[2015-12-17 20:24] Scottmitch commented on #4545
pr pending ...

[2015-12-17 20:57] AlainRoy opened #4586 "State of Alpha 5.0alpha3 release?"
Hi,

I'm working on a project that is using Netty 5.0alpha2: https://github.com/vmware/xenon

We're adding HTTP/2 support, and I hit a bug that is pretty serious for us. Fortunately it was fixed in alpha3. I verified that the latest snapshots of alpha3 work for us. The bug is:
https://github.com/netty/netty/commit/44ee2cac433a6f8640d01a70e8b90b70852aeeae

We'd love to use Netty 5.0alpha3, but I'm

[2015-12-17 20:58] normanmaurer commented on #4586
@AlainRoy we not plan to do any new 5.0alpha releases at any time soon. Please use 4.1.0.Beta8.

[2015-12-17 20:58] #4586 closed

[2015-12-17 21:13] normanmaurer commented on #4586
@AlainRoy btw you may also want to add vmware to the adopters page :)

http://netty.io/wiki/adopters.html

[2015-12-17 21:27] Scottmitch commented on #4539
I have a PR pending for this, but I discovered an issue with the writability detection. To avoid having to iterate over all streams multiple times the writability detection was relying on the stream byte distributor to call write in certain situations. This means that with that writability detection is broken, and I need to fix this before the cleanup can be completed.

[2015-12-17 21:40] Scottmitch opened #4587 "HTTP/2 DefaultHttp2RemoteFlowController Stream writability notification broken"
`DefaultHttp2RemoteFlowController.ListenerWritabilityMonitor` no longer reliably detects when a stream's writability change occurs. `ListenerWritabilityMonitor` was implemented to avoid duplicating iteration over all streams when possible and instead was relying on the `PriorityStreamByteDistributor` to call `write` for each stream during its iteration process. However the new `StreamByteDistribut

[2015-12-17 22:19] AlainRoy commented on #4586
Sure, I can do that.

Is the HTTP/2 support in 4.1alpha 8 stable?

[2015-12-17 22:31] normanmaurer commented on #4586
yes

[2015-12-17 23:22] Scottmitch opened #4588 "HTTP/2 UniformStreamByteDistributor can get into an infinite loop"
UniformStreamByteDistributor loops over a queue until empty. It is possible for a stream state to continuously be added to a the queue and cause this loop to continue indefinitely.

A state is popped off the queue, and written. During that write process the `updateStreamableBytes` method is called by the flow controller. If `hasFrame()` returns true, then the state is enqueued. If the connection w

[2015-12-17 23:24] Scottmitch commented on #4588
I ran into this issue while attempting to use `UniformStreamByteDistributor ` in `DefaultHttp2RemoteFlowControllerTest`...which was done as part of the PR for #4587.

[2015-12-17 23:38] AlainRoy commented on #4586
Excellent, thanks. I updated the adopters page on the Github wiki--that seemed like the right place to do it.

I'll give Netty 4.1a8 a shot.

[2015-12-17 23:58] jroper commented on #4571
@normanmaurer Is it similarly invalid to invoke `Channel.close()` before `isRegistered()` returns true?  Because that's another call that it's possible that we will invoke after `handlerAdded()` is received but before `channelActive()` is received.

[2015-12-18 00:00] Scottmitch commented on #4587
@nmittler - FYI

[2015-12-18 00:00] Scottmitch commented on #4588
@nmittler - FYI

[2015-12-18 00:03] Scottmitch commented on #4522
@jchambers - Check out https://github.com/netty/netty/wiki/Requirements-for-4.x

[2015-12-18 00:03] #4522 closed

[2015-12-18 02:50] jchambers commented on #4522
Thank you! Sorry I wasn't able to devote attention to this in a timely manner, but I look forward to contributing to the wiki soon.

[2015-12-18 03:16] caiiiycuk opened #4591 "Epoll does not handle all events correctly"
Netty version: 4.0.28.Final

I have a server that based on Netty (I'm using xitrum framework). This server is working fine for a long amount of time. But after some moment server randomly stops respond to some clients. Another strange thing is that open socket count growths. lsof prints:
[code]

I does not have a test to reproduce the problem on 'fresh' started server. But I can reproduce the prob

[2015-12-18 04:38] caiiiycuk commented on #4591
I found problem. The problem was in my code that hang ups in one of epollEventLoop thread.

[2015-12-18 04:38] #4591 closed

[2015-12-18 04:58] ngocdaothanh commented on #4591
:+1:

[2015-12-18 08:27] normanmaurer commented on #4528
@trustin ping...

[2015-12-18 08:34] trustin commented on #4528
Didn't have time to think about this.. As you know duplex handler has a design flaw, so I'm not sure if it's a good idea.

[2015-12-18 08:38] normanmaurer commented on #4528
@trustin yeah... it has. What you think about my other proposal like keep the 'codec' in the pipeline and ensure the contained encoder/decoder is removed as well if pipeline.remove(codec) is called. This could be done via the handlerRemoved(....) method in the codec itself.

[2015-12-18 08:38] p0mp0k0 commented on #4531
Thank for your reply.
I wrote a question at stackoverflow, but there was nobody answer from then on. There had detail code and echo information, url is http://stackoverflow.com/questions/34026784/same-ip-block-code-using-netty-rulebasedipfilter-but-one-is-success-another-fai

[2015-12-18 08:46] p0mp0k0 commented on #4531
The exceptionCaught is not occur everytime. Besides, not all of the pipeline, which has DelimiterBasedFrameDecoder, work fine, some reject and stop fire to next decoder, others reject but still fire to next decoder.

[2015-12-18 08:52] normanmaurer commented on #4212
Fixed by https://github.com/netty/netty/pull/4584

[2015-12-18 08:52] #4212 closed

[2015-12-18 14:01] normanmaurer commented on #4528
I'm working on a fix for this... should be ready soon . Stay tuned :+1:

[2015-12-18 14:21] slandelle commented on #4528
@normanmaurer I think there's 2 distinct issues:

* WebSocketClientHandshaker shouldn't crash when response status code is different from 101. It should pass the response downstream and the the user retry the handshake later. This way, users could handle redirects, auth schemes that can't be performed preemptively (Kerberos...)
* HttpClientCodec behavior change. What I do w/ Netty 4.0:

[code]

Me

[2015-12-18 14:41] normanmaurer commented on #4528
Yep... First I want to fix the behavior change. Then the rest :)

[2015-12-18 14:48] slandelle commented on #4528
Thanks. Please ping me when you want me to test.

[2015-12-18 15:21] nmittler commented on #4588
@Scottmitch good find!  Do you have a PR pending?

[2015-12-18 15:22] nmittler commented on #4587
@Scottmitch good find! Any thoughts on a fix?

[2015-12-18 15:26] nmittler commented on #4585
@Scottmitch agreed! This is lower priority, but should still probably be fixed.

It seems that we should give the distributor the raw data (stream window, numBytes, hasFrame) so it can make a better decision. WDYT?

[2015-12-18 16:54] normanmaurer commented on #4528
will do

2015-12-18 15:49 GMT+01:00 Stephane Landelle <notifications@github.com>:

[2015-12-18 19:05] Scottmitch commented on #3852
@louiscryan - I think this is already done. Re-open if there is more work needed here.

[2015-12-18 19:05] #3852 closed

[2015-12-18 19:07] Scottmitch opened #4600 "HTTP/2 RemoteFlowController$Listener.streamWritten"
We should evaluate whether [Http2RemoteFlowController$Listener.streamWritten](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2RemoteFlowController.java#L151) is necessary. If not we should remove it.

[2015-12-18 19:08] Scottmitch commented on #4600
@louiscryan @nmittler @ejona86 - I checked in gRPC and it looks like this is still not being used? Is the plan still to use this or eventually consume the stream writability changes?

[2015-12-18 19:59] louiscryan commented on #4600
So far it has not proven critical to performance and there are other perf improvements I would prioritize in GRPC above the use-case for this, particularly with the improvements in flow-control write allocations and frame merging.

Im OK with getting rid of this

[2015-12-18 20:55] Scottmitch commented on #4585
@nmittler - +1. This is what I ended up doing.

[2015-12-18 21:01] Scottmitch commented on #4587
@nmittler - Yes. See https://github.com/netty/netty/pull/4599

[2015-12-18 21:02] Scottmitch commented on #4588
@nmittler - Yes. #4599.

[2015-12-18 21:27] Scottmitch commented on #4600
after we get PR https://github.com/netty/netty/pull/4599 pulled in I'll submit a PR for this.

[2015-12-18 22:02] vrozov opened #4604 "isKeepAlive is not supported by Epoll"
Calling isKeepAlive throws an exception

[code]

[2015-12-18 22:03] normanmaurer commented on #4604
Sounds like an issue with loading the jni stuff. Can you show me how you specify the dependencies ?

[2015-12-18 22:05] louiscryan commented on #4600
Thanks Scott

On Fri, Dec 18, 2015 at 1:27 PM, Scott Mitchell <notifications@github.com>
wrote:

[2015-12-18 22:15] vrozov commented on #4604
[code]
it works if I comment out isKeepAlive() call. I think the problem is that isKeepAlive is missing in io_netty_channel_epoll_Native.h

[2015-12-18 22:28] normanmaurer commented on #4604
@vrozov please use 4.0.33.Final or 4.1.0.Beta8. It should work there. If not re-open

[2015-12-18 22:33] normanmaurer commented on #4604
Actually It seems like there is still the bug. Reopen now

[2015-12-19 02:21] trustin commented on #4529
@slandelle Are you working on the cache improvements? I was wondering if we need a dedicated cache interface so that a user can plug it in easily.

[2015-12-19 07:14] slandelle commented on #4529
@trustin I've started giving it a thought, yes.
My use case is a bit complex and unusual. I need to segregate resolutions depending on who's asked for a resolution. I think creating a `DnsNameResolver` for each would be really expensive (one UDP connection each). So I think I need to overload `resolve` and `resolveAll` so I can a cache instance to  that would be used instead of the global one.

I'

[2015-12-20 12:46] kyankovski opened #4608 "Http gzip/deflate compression rules on the server side"
Hi Norman!

We are using/developing netty4.0-based high-load http server in our project and now we need to add gzip and deflate compression/decompression. That was easy to add such a feature (so it's working pretty well), but I have a question and would like to discuss it.

The question is about _io.netty.handler.codec.http.HttpContentCompressor#determineWrapper_ implementation. This method takes

[2015-12-20 12:58] slandelle commented on #4608
ASAIK, Netty doesn't support request compression, neither on the client side, nor on the server one.

[2015-12-20 13:33] kennethjor opened #4609 "Possible leak in FixedChannelPool"
I've been trying to debug a very odd problem we're seeing in our use of `FixedChannelPool`. I can acquire and release channels from the pool just fine, but eventually a situation occurs where the internal `acquiredChannelCount` does not match what has actually been released and acquired. This leads to a situation where the pool thinks it's got the maximum amount of channels outstanding, even thoug

[2015-12-20 13:38] normanmaurer commented on #4609
Let me have a look

[2015-12-20 14:03] mikomarrache commented on #344
Hi,

Any news regarding this feature?

Thanks!

[2015-12-20 14:12] mikomarrache commented on #1706
Hi,

I'm using the EPOLL workaround for a long time but I now wonder if this workaround may have a negative impact on performance because of the way the OS distributes incoming datagrams to the sockets.

For example, if a lot of datagrams are received from the same transport address, will all these datagrams be handled by the same Channel (socket - one Channel is created per socket)?

Any idea?

T

[2015-12-20 14:38] kyankovski commented on #4608
@slandelle of course it does.
io.netty.handler.codec.http.HttpContentDecompressor - unpacks gzip/deflate compressed request
io.netty.handler.codec.http.HttpContentCompressor - compresses response using gzip/deflate algorithm

[2015-12-20 15:35] slandelle commented on #4608
ok, so that's just client side request compression that's not implemented.

[2015-12-20 17:10] normanmaurer commented on #4609
@kennethjor can you also include which version of netty?

[2015-12-20 17:32] ninja- commented on #4609
@normanmaurer his fork is 4.0.34.Final-SNAPSHOT

[2015-12-20 19:39] normanmaurer commented on #4609
@kennethjor hmm I think your test is not correct and so it will show the error. The problem is that you completely exit the for loop on an error while acquire and not wait for the latch to be completely countdown.

Please try this test code and see if you still see the issue (I not see it with this):

[code]

To make it easier I just adjusted the code you provided and not did any more changes ther

[2015-12-20 19:41] doom369 commented on #4435
@normanmaurer sorry for huge delay. So finally I had a time to play with that.
I'm currently using epoll (4.0.33.Final) + native open SSL via netty-tcnative (1.1.33.Fork8). I made a test that reproduces issue locally. Changing open SSL to JDK makes issue not reproducible, but I saw another error with JDK ssl (may be related) :

[code]

So regarding reproducing. [Here is](https://www.dropbox.com/s/

[2015-12-20 19:42] normanmaurer commented on #4435
@doom369 thanks will check!

[2015-12-20 20:30] normanmaurer commented on #4435
@doom369 can you provide me with a version as well where I could include a different netty version to test ? Like not an "all in one jar".

[2015-12-20 20:48] doom369 commented on #4435
@normanmaurer sure, server.jar I provided is build from those project with ```SimplePerformanceTest.java``` test. You may build a project by yourself. Just change ```tcp-server/src/main/resources/server.properties``` to

[code]

And you may run

[code]

All netty versions are in [main pom file](https://github.com/blynkkk/blynk-server/blob/master/pom.xml#L84).

[2015-12-20 20:55] normanmaurer commented on #4435
@doom369 this only happens with epoll ?

[2015-12-20 20:55] doom369 commented on #4435
epoll + open ssl

[2015-12-20 20:57] normanmaurer commented on #4435
ok gotcha!

[2015-12-20 21:14] normanmaurer commented on #4435
@doom369 ok can reproduce with your stuff... will come back to you :)

[2015-12-20 21:15] doom369 commented on #4435
nice =)

[2015-12-21 01:57] kennethjor commented on #4609
@normanmaurer Thank you for the very quick reply. I did see that as well and modified the test. Newest version is pushed to my fork, but I'm still seeing the error. Full test output:

[code]

I also see quite a few "connection refused" exceptions, but I'm not sure they are related to the bug so I've filtered them out. While it didn't happen this time, usually the discrepancy is exactly equal to th

[2015-12-21 03:42] kennethjor commented on #4609
@normanmaurer Sorry I completely missed your point about properly waiting for the latch. You are quite right, that was an oversight on my part. I will close this issue and continue to look for the error in my own code, I must be using the channel pools wrong or something.

[2015-12-21 03:42] #4609 closed

[2015-12-21 08:22] igreenfield commented on #344
Didn't have time to finish it.

[2015-12-21 09:01] #4587 closed

[2015-12-21 09:51] kyankovski commented on #4608
I had a meeting with our system architect (in my company) just an hour ago. He disagrees with my positition and agrees that the current _io.netty.handler.codec.http.HttpContentCompressor#determineWrapper_ implementation fully covers http/1.1 specification and my suggestion to look at _"Content-Encoding"_ request's header is based only on assumptions what the client wants. So the best behavior is t

[2015-12-21 09:51] #4608 closed

[2015-12-21 13:44] normanmaurer commented on #4572
@trustin I think this can be closed ?

[2015-12-21 13:47] normanmaurer commented on #4435
@doom369 so good thing is I know what happens... the bad, I just not understand why :-1:

[2015-12-21 15:48] doom369 commented on #4435
=) Let me know if I can help somehow.

[2015-12-21 16:54] Scottmitch commented on #4588
Resolved with https://github.com/netty/netty/issues/4599

[2015-12-21 16:54] #4588 closed

[2015-12-21 18:14] normanmaurer commented on #4449
This was fixed

[2015-12-21 18:14] #4449 closed

[2015-12-21 19:57] normanmaurer commented on #4435
@doom369 I now know what happens and also why (yay). Working on a fix... to make it short it has to do with the register/deregister that you do in your handler.

[2015-12-21 20:18] doom369 commented on #4435
@normanmaurer Hm... I had a feeling regarding that. Should tell you before. Glad you found problem.

[2015-12-21 22:21] mgrandi commented on #3193
Has any work been done on fixing this? We are currently experiencing this exact issue and wondering if there are any workarounds

[2015-12-22 02:06] Scottmitch commented on #3193
@mgrandi - Not that I'm aware of. Do you have a reproducer or any additional details you can share?

[2015-12-22 03:19] trustin commented on #4572
@normanmaurer hell yeah :-)

[2015-12-22 03:19] #4572 closed

[2015-12-22 10:00] technocoreai opened #4615 "Message size estimation issues"
#4380 introduced message size estimation for messages written outside the event loop. However, the implementation is problematic and leads to more problems than it solves. For example, our software uses writability checks to determine if it should start dropping events, and after updating to 4.0.33 we've got massive drops even though the TCP send buffer never goes above 10–20% of the configured `h

[2015-12-22 11:44] esfomeado commented on #4481
ByteBuf.toString(...) works fine however you need to do the following steps in order to read a string from a ByteBuf:
1 - Read (U16) string length.
2 - Read the string itself.
3 - Move the readerIndex of the ByteBuf.

In you create a function to do this steps but it would look "ugly" when this could be integrated in Netty.
So i was thinking that would be great if was possible to encapsulate this s

[2015-12-22 14:07] skyao opened #4617 "Javadoc documentation of class ChannelInitializer in version 4.1 is out for two years?!"
In the javadoc of netty 4.1, I found that the content is not up to time.

You can check current public page:
http://netty.io/4.1/api/io/netty/channel/ChannelInitializer.html

It says: "Implementations are most often used in the context of AbstractBootstrap.handler(ChannelHandler) , AbstractBootstrap.handler(ChannelHandler) and ServerBootstrap.childHandler(ChannelHandler) to setup the ChannelPipeli

[2015-12-22 19:18] mgrandi commented on #3193
@Scottmitch we might. We ran into a problem with our app that is using netty with running out of file handles, and when we ran lsof, we found that it had 3200+ connections in CLOSE_WAIT, and they were connections from our Varnish load balancer, and upon googling we found this issue, and were wondering if this could be the same thing

We have not confirmed that it isn't a fault of our own that this

[2015-12-22 19:33] normanmaurer commented on #4604
@vrozov fixed via https://github.com/netty/netty/pull/4619

[2015-12-23 00:59] #4600 closed

[2015-12-23 01:08] Scottmitch commented on #3193
@mgrandi - Thanks for the details. Does your "upgrading netty" plan include going to a 4.x version?

[2015-12-23 01:14] Scottmitch commented on #4481
This feels like a duplicate of https://github.com/netty/netty/issues/2936? @esfomeado - Can you describe how this request differs from the previous request?

[2015-12-23 01:16] Scottmitch commented on #4615
@technocoreai - Would a pluggable size estimator as suggested in https://github.com/netty/netty/pull/4380#discussion_r42958184 address your concerns?

[2015-12-23 01:19] Scottmitch commented on #4617
@trustin @normanmaurer - Any idea?

[2015-12-23 01:47] trustin commented on #4617
When releasing a new version, netty-website/version/{api, xref} must be updated as well. Perhaps @normanmaurer forgot that?

[2015-12-23 01:57] trustin commented on #1706
@earthling I thought the epoll transport provides IP_TOS option. Please let us know if it does not.

[2015-12-23 02:00] trustin commented on #1706
@mikomarrache That's an interesting point. I didn't have a chance to review how Linux distributes datagram packets honestly. I believe it completely depends on how SO_REUSEPORT is implemented. Did you have a chance to check the kernel source code?

[2015-12-23 07:19] technocoreai commented on #4615
@Scottmitch: The user-provided size estimator assigned to the channel is already used in the size calculation. Netty then uses *another* estimation algorithm to figure out the size of its internal classes and this one is off by ~20x. I don't think it's a good idea to have such a broken implementation by default and make the users override it with something pluggable if they want to avoid this, bes

[2015-12-23 07:55] normanmaurer commented on #4604
Fixed

[2015-12-23 07:55] #4604 closed

[2015-12-23 08:56] mikomarrache commented on #1706
@trustin I'm really not familiar with linux kernel sources. Is there work planned to allow multi threading of UDP server?

[2015-12-23 09:29] sirmax commented on #4615
Also note that the whole `if (o instanceof …)` block in [`estimateSize(o, classSizes)`](https://github.com/netty/netty/blob/netty-4.0.33.Final/transport/src/main/java/io/netty/channel/AbstractChannelHandlerContext.java#L895) is a no-op. This method has two invocations: one is [recursive](https://github.com/netty/netty/blob/netty-4.0.33.Final/transport/src/main/java/io/netty/channel/AbstractChannel

[2015-12-23 09:47] normanmaurer commented on #4615
We love PRs so if you guys can think of a better implementation feel free to provide a PR. I will review them for sure :)

Thanks!

[2015-12-23 09:48] vitaliy-kuzmich commented on #1133
it is good to have transparent requests support(possibly some boolean vriable in constructor), currently io.netty.handler.proxy.HttpProxyHandler has just "CONNECT" method support, in some cases connect does not working with proxies....
HINT:
io.netty.handler.proxy.ProxyHandler:
   @Override
    public final void channelActive(ChannelHandlerContext ctx) throws Exception {
       // sendInitialMessa

[2015-12-23 10:01] sirmax commented on #4615
@normanmaurer the point is #4380 does much more harm than good. I'd revert it, to start with, and then wait for a better PR.

Personally I think Netty shouldn't impose this kind of task size estimation at all. Netty _might_ provide ways to make it easier, but ultimately it should be up to the client code to use it or not.

[2015-12-23 10:03] normanmaurer commented on #4615
@sirmax I think we need to provide at least some kind "estimation" as otherwise it is very easy for people to OOME if they write from outside of the EventLoop. But maybe it would be just good enough to use the size of the MessageSizeEstimater +  some fixed size for each task. So basically what @technocoreai suggested.

[2015-12-23 11:05] esfomeado commented on #4481
@Scottmitch Is a duplicated.

In my opinion it makes some sense to have a readString(), writeString() directly in the ByteBuf because sometimes there is the need to send strings in the ByteBuf.
I can't use a decoder because i don't wanna convert all the ByteBuf to a string. I'm developing a MMO in my free time and this would be a great helper to simplify some stuff.

Regards

[2015-12-23 12:09] technocoreai commented on #4615
@normanmaurer Another issue I see with the whole approach is that it breaks code that puts the various coalescing/dropping logic into Netty handlers. For example, our code currently sends updates using `channel.write()` and the handler inside switches between write-through and coalescing mode based on `channelWritabilityChanged` callbacks on the assumption that channels only become unwritable if t

[2015-12-23 12:24] normanmaurer commented on #4615
@technocoreai no this sounds fine... Could you come up with a PR ?

[2015-12-23 12:25] normanmaurer commented on #4615
@technocoreai just to be clear the system property thing + static size.

[2015-12-23 15:17] earthling commented on #1706
I posted a link and a quote describing epoll behavior in an [earlier comment](https://github.com/netty/netty/issues/1706#issuecomment-153459393), but yes - if you have only one client of your udp server, netty will use only one thread. The multithreading will kick in with multiple clients (i.e., multiple source addresses).

Regarding IP_TOS, the netty API does support setting the traffic class, bu

[2015-12-23 15:24] normanmaurer commented on #4435
@doom369 could you please verify this as well: https://github.com/netty/netty/pull/4621

[2015-12-23 16:05] doom369 commented on #4435
@normanmaurer reproducible.

[code]

[2015-12-23 16:57] doom369 commented on #4435
@normanmaurer I was not able to build epoll module, maybe you have ready build somewhere?

[2015-12-23 17:29] normanmaurer commented on #4435
Nope :( what is the error?

[2015-12-23 18:14] #4545 closed

[2015-12-23 18:16] doom369 commented on #4435
@normanmaurer It was issue with JDK. Fixed, made new build, tested with it, seems not reproducible any more. Thanks!

[2015-12-23 21:56] slandelle commented on #4529
@trustin ping :)

[2015-12-23 22:06] normanmaurer commented on #4615
Fixed by https://github.com/netty/netty/pull/4620

[2015-12-23 22:06] #4615 closed

[2015-12-23 22:37] normanmaurer commented on #4547
@trustin @mauhiz I wonder if it could be related to this:

https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/PooledByteBufAllocator.java#L194

[2015-12-24 02:01] trustin commented on #4529
@slandelle Sounds good to me. Looking forward to your PR. :-)

[2015-12-24 02:21] trustin commented on #4547
@normanmaurer I guess not..

[2015-12-24 06:34] trustin opened #4625 "Deprecate SimpleChannelPool and introduce a replacement"
`SimpleChannelPool` has a few design issues:

It is tightly coupled with `Bootstrap`. `Bootstrap` does provide a way to perform post-`channelActive` operations like TLS handshake and protocol upgrades via `ChannelInitializer` and `Bootstrap.handler()`. However, a user cannot use this facility because `SimpleChannelPool` overrides `Bootstrap.handler()`. Instead a user is expected to implement the c

[2015-12-24 06:35] trustin commented on #4625
/cc @normanmaurer

[2015-12-24 07:21] normanmaurer commented on #4617
@trustin @skyao hmm I think I did this... let me check and re-publish.

[2015-12-24 07:55] normanmaurer commented on #4529
+1

[2015-12-24 08:11] slandelle commented on #4529
Will do in 1-2 weeks. Thanks!

[2015-12-24 13:21] normanmaurer commented on #4435
Fixed via https://github.com/netty/netty/pull/4621. @doom369 thanks again for all the help to reproduce it and track down :+1:

[2015-12-24 13:21] #4435 closed

[2015-12-24 14:36] mikomarrache commented on #1706
@trustin I'm trying to implement the alternative i.e. single channel with only one handler that dispatch incoming datagrams to multiple threads using a ThreadPoolExecutor. I can understand how everything integrates until a response is ready to be sent to the remote address. At this stage, the response is prepared by the worked thread (not the single listening thread) and is ready to be sent. Howev

[2015-12-26 19:32] lafual opened #4628 "Documentation"
Hi , the user guide only has one chapter, but refers, with out links to other chapters. Where is the full user guide?

On the document home pages http://netty.io/wiki/index.html the code example links are to "local host".. For example localhost:4242/4.0/xref/io/netty/example/telnet/package-summary.html

[2015-12-27 13:11] normanmaurer commented on #4529
Awesome! Thanks 👌

[2015-12-28 18:17] Scottmitch opened #4632 "TeamCity CI not building"
It seems like the rename of the `master` branch has confused the TeamCity CI server. Last build was 11 days ago.

[code]

[2015-12-28 18:17] Scottmitch commented on #4632
@trustin - Can you take a look?

[2015-12-28 18:34] normanmaurer commented on #4632
I will check

[2015-12-28 18:44] Scottmitch commented on #4632
thanks @normanmaurer

[2015-12-28 18:44] normanmaurer commented on #4632
@Scottmitch I think I fixed it... let us see :)

[2015-12-28 18:46] Scottmitch commented on #4628
Docs may be a bit limited, but we appreciate contributions.

Also I hear there was a book published recently related to this topic ... @normanmaurer maybe you have also heard this :wink:

[2015-12-28 18:49] Scottmitch commented on #1706
@mikomarrache - Writing to a channel can be done safely from different threads.

[2015-12-28 19:17] ifesdjeen commented on #4293
Should we close it after #4627? If anything is missing please let me know.

[2015-12-28 20:18] Scottmitch commented on #4632
@normanmaurer - Humm it seems like the PR builds is not running yet

[code]

The `sonarqube` and `nightly` builds are also not running yet, but I'm not sure if it is because there is some fixed time they are configured to run at.

[2015-12-28 20:19] Scottmitch commented on #4293
@ifesdjeen - I think we can close this now. I also have a cleanup PR pending https://github.com/netty/netty/pull/4633 ... sorry I missed this during review.

[2015-12-28 20:19] #4293 closed

[2015-12-29 06:54] ihor-mielientiev-epam commented on #4544
@normanmaurer do you have any updates about this issue?

[2015-12-29 06:56] mielientiev commented on #4544
@normanmaurer Do you have any updates about this issue?

[2015-12-29 06:57] normanmaurer commented on #4544
@slandelle @mielientiev to make it short, no :( I had no time yet.

[2015-12-29 13:26] lexek opened #4635 "Weird websocket client behaviour with pooled allocator"
A few days ago I noticed that my websocket clients are being disconnected in weird way. I found that, when upgrade is complete, exception below is being thrown from HttpResponseDecoder and WebSocketClientProtocolHandler just closes connection on exception. And this happens only if i use pooled allocator for channels.

[code]

System info
[code]
Java version
[code]

This happens only when first web

[2015-12-29 13:32] normanmaurer commented on #4635
@lexek will have a look

[2015-12-29 13:33] normanmaurer commented on #4635
@lexek what websockets version ?

[2015-12-29 13:37] lexek commented on #4635
@normanmaurer v13

[2015-12-29 17:46] jchambers opened #4637 "PemReader chokes on headers in private key block generated by old versions of OpenSSL"
I have a certificate/key in a .p12 file. I exported the key to a .pem file as follows:

[code]

…and wound up with a file that looks like this:

[code]

I'm trying to load the key using `SslContextBuilder#keyManager(File, File, String)`, but `PemReader` is failing to find the key in the file because `KEY_PATTERN` doesn't match. It appears to be stumbling on the headers (`Proc-Type` and `DEK-Info`,

[2015-12-29 17:50] normanmaurer commented on #4637
Will have a look

[2015-12-29 18:22] kdubb opened #4638 "ThreadDeathWatcher watching threads it shouldn't"
When using netty, via the pgjdbc-ng PostgreSQL driver, inside Tomcat it doesn't shutdown properly.  The driver has a cleanup method and we are calling.  It both shuts down the thread pool and calls ```ThreadDeathWatcher.awaitInactivity(5, TimeUnit.SECONDS)```.  The pool threads shutdown fine but ThreadDeathWatcher persists.

After inspection of the "watchees" list in ```ThreadDeathWatcher.Watcher`

[2015-12-29 18:25] kdubb commented on #4638
Experienced with netty 4.0.32/33 & 4.1.0.Beta8.

Also, here's what the debugger is showing me for the ThreadDeathWatcher at the time it cannot shutdown... (all three entries are the same)
<img width="551" alt="screen shot 2015-12-29 at 11 10 37 am" src="https://cloud.githubusercontent.com/assets/787655/12039533/9e1eb8b8-ae1e-11e5-9510-e1178ebeceb9.png">

[2015-12-29 18:52] normanmaurer commented on #4637
@jchambers hmm not sure we can support this easily. Seems like this is an "old non standard technique
":

https://www.openssl.org/docs/manmaster/crypto/pem.html#PEM_ENCRYPTION_FORMAT

@Scottmitch WDYT ?

[2015-12-29 18:57] jchambers commented on #4637
Yep—definitely acknowledged. If it can't be fixed, I wonder if it can be documented, or maybe the exception can be more verbose. I think my main concern is that El Capitan still ships with OpenSSL 0.9.8zg, and it's not really obvious from the stack trace what's going wrong.

One option: we could look for a `BEGIN PRIVATE KEY` and an `END PRIVATE KEY`, and complain about unexpected characters if th

[2015-12-29 18:58] normanmaurer commented on #4635
@lexek so far not luck reproduce it with your code on linux and OS X :(

[2015-12-29 19:14] normanmaurer commented on #4632
Fixed now for real... at least it seem so

[2015-12-29 19:14] #4632 closed

[2015-12-29 19:16] normanmaurer commented on #4544
@slandelle can you give some more infos on how I should run this etc ?

[2015-12-29 19:18] lexek commented on #4635
@normanmaurer is channel getting closed right with first websocket frame? I had to put logging handler before websocket handler to see the exception itself, because webscocket handler closes channel silently on any exception, sorry I din't mention that. Updated gist too.

[2015-12-29 19:24] Scottmitch commented on #4632
@normanmaurer - Also noticed a warning that we are using most of the available memory for `PS Old Gen` ... should/can we tweak some knobs here?

[2015-12-29 19:29] normanmaurer commented on #4635
@lexek was able to reproduce it one time now. I think I know what the issue is... let me try to write a unit test and a fix.

[2015-12-29 19:46] slandelle commented on #4544
`mvn test`, https://github.com/slandelle/netty-native-mem-usage/blob/master/src/test/java/io/gatling/issues/NativeMemUsageTest.java is a JUnit based test.

[2015-12-29 19:48] slandelle commented on #4544
I tend to run the different tests in this class separately in my IDE.

[2015-12-29 20:01] Scottmitch commented on #4637
@normanmaurer - I would prefer not to support the "old ... non standard technique". However I have no strong objections if someone wants to submit a PR and maintain it.

[2015-12-29 20:54] Scottmitch commented on #4638
@normanmaurer - Ping :)

[PoolThreadCache](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/PoolThreadCache.java#L121) will create a thread local associated with threads that do ByteBuf allocations ([thread = Thread.currentThread()](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/PoolThreadCache.java#L60)). It looks like this should be clean

[2015-12-29 22:37] kdubb commented on #4638
Yep.

UnpooledByteBufAllocator solves the problem

Since the threads are called from any thread started by Tomcat I have no control over this.

Not sure how I would use this.

[2015-12-30 17:56] normanmaurer commented on #4353
Fixed

[2015-12-30 17:56] #4353 closed

[2015-12-30 17:56] normanmaurer commented on #2973
Fixed

[2015-12-30 17:56] #2973 closed

[2015-12-30 18:24] Scottmitch commented on #4638
Responses below ... however can you clarify the problem a bit?

Can you describe the 'thread pool' and its relationship to ByteBuf allocations (e.g. do they do any)? Are any threads from this pool still "watched" by `ThreadDeathWatcher` after they have been shutdown? The behavior you describe from `ThreadDeathWatcher` sounds correct if it is still watching threads (Tomcat threads in this case) it

[2015-12-30 19:04] kdubb commented on #4638
The "thread pool" is the pool owned by the JDBC driver to facilitate communication with the database. DB Requests are built on whatever thread is originating the DB statement. This can be any thread actively running DB code; including the HTTP request threads owned by Tomcat.

I think the key takeaway here is that the netty “thread pool” isn’t doing the allocation of any ByteBufs specifically beca

[2015-12-30 22:00] ifesdjeen commented on #4429
Do you think something like Channel Id might be helpful there?..

[2015-12-31 02:17] ninja- commented on #4317
this has been properly fixed since...you can remove the milestone, @normanmaurer

[2015-12-31 02:17] #4317 closed

[2015-12-31 06:24] trustin commented on #4429
Just passing the channel itself to the logger should work:

    logger.debug("{}", channel);

[2015-12-31 07:54] normanmaurer commented on #4315
Fixed by https://github.com/netty/netty/pull/4639

[2015-12-31 07:54] #4315 closed

[2015-12-31 08:54] ifesdjeen commented on #4429
I can work on the patch of nobody has it in the  pipeline.

[2015-12-31 09:18] normanmaurer commented on #4429
Yes please. Thanks buddy!

[2015-12-31 10:32] normanmaurer opened #4641 "Replace MessageDigest usage"
See
https://github.com/netty/netty/pull/4594

[2015-12-31 13:07] trustin commented on #4632
@Scottmitch Added `-Xmx768m' and restarted the server. Please let me know if this doesn't help. :-)

[2016-01-01 17:17] JuKu opened #4644 "Netty 4.0.33Final UDT Transport doesnt work"
Hi,

Maybe this is only an problem with our server and client, but it can also be an bug in netty.

We have written an server and client with netty 4.0.33Final, but connection doesnt work, it says ERROR_READ and ERROR_WRITE.
Server and client are like netty examples.

[code]

Server:

[code]

[2016-01-04 08:22] normanmaurer commented on #4638
@kdubb sorry for the slow response ...

Can you just try to call `FastThreadLocal.destroy()` as part of your shutdown process ? I think this should fix your problem:

https://github.com/netty/netty/blob/4.0/common/src/main/java/io/netty/util/concurrent/FastThreadLocal.java#L93
http://netty.io/4.0/api/io/netty/util/concurrent/FastThreadLocal.html#destroy()

[2016-01-04 08:44] normanmaurer commented on #4637
@trustin agree ?

[2016-01-04 09:14] trustin commented on #4637
@normanmaurer Sounds good to me. But we could somehow detect the old format and produce some helpful exception message? (e.g. you are using non-standard format. use `<some unix command>` to convert your private key)

[2016-01-04 09:14] JuKu opened #4647 "Netty needs more than 1 minute to detect udt connection was closed"
Hi,

Is this an feature or an bug?
Currently, in your netty UDT message echo example, netty server calls channelInactive() after > 1 minute, channel was closed by client.
Is this configurable?

[2016-01-04 11:07] iuliandolceanu commented on #4521
Hi,

Sorry to bother, but it's 2016 and 4.1 is not marked as stable yet. Do you have a better estimate, or a way for us to track progress?

Thanks!

[2016-01-04 11:50] jiangguilong2000 commented on #3319
@Scottmitch @TinyZzh  @ninja- I cannot drop data when the channel 's isWritable() is false.
here is my dump file:
![Image of Yaktocat](http://img.blog.csdn.net/20160104194852924)

My way now is that setting the value of io.netty.recycler.maxCapacity.default=65,536 which the default value is 262144

[2016-01-04 13:28] normanmaurer commented on #4637
@jchambers can you check if you can convert the generated file via:
[code]
And then use the new generated file with netty ?

So basically like explained here:
http://help.globalscape.com/help/secureserver3/Converting_a_PEM_Encoded_PKCS_8_Format_Encrypted_private_key_to_a_compatible.htm

[2016-01-04 19:03] earthling commented on #1706
@trustin, I [submitted a pull request](https://github.com/netty/netty/pull/4650) to configure the DSCP bits for IPv6 when using the Epoll channel. Thanks!

[2016-01-04 19:38] normanmaurer commented on #4635
@lexek please test https://github.com/netty/netty/pull/4651

[2016-01-04 21:45] lexek commented on #4635
@normanmaurer tested and looks like it is fixed

[2016-01-04 21:47] normanmaurer commented on #4635
@lexek thanks for verify!

[2016-01-05 04:19] jchambers commented on #4637
I just ran through those steps, and just converting to a PKCS#8-formatted key is enough to clear those headers (i.e. it doesn't look like we necessarily need to explicitly call out an algorithm).

That said, I think there may be another (masked?) issue at play here. From the [OpenSSL release notes](https://www.openssl.org/news/openssl-1.0.0-notes.html) (emphasis added):

So that means that the key

[2016-01-05 08:20] normanmaurer commented on #4637
@jchambers ok cool. Let me just come up with some more useful exception message  then :)

[2016-01-05 09:48] trustin commented on #4637
or we can also create a wiki page and put the link to it in the exception message :-)

--
https://twitter.com/trustin
https://twitter.com/trustin_ko
https://twitter.com/netty_project

On Tue, Jan 5, 2016, at 05:20 PM, Norman Maurer wrote:

Links:

  1. https://github.com/jchambers
  2. https://github.com/netty/netty/issues/4637#issuecomment-168932413

[2016-01-05 09:53] normanmaurer commented on #4637
Actually that is the master-plan ;)

[2016-01-05 10:09] normanmaurer commented on #4635
Fixed by https://github.com/netty/netty/pull/4651

[2016-01-05 10:09] #4635 closed

[2016-01-05 11:48] ifinver opened #4656 "IOException(File descriptor closed) occurred when we called EventLoopGroup#shutdownGracefully()"
Today our team release a new version in a small scope(A/B test), almost 3000 users updated. Then our error reporting system collected this error just for one time within 3 hours.

here is stack trace:

    java.io.IOException: File descriptor closed
	at libcore.io.Posix.writeBytes(Native Method)
	at libcore.io.Posix.write(Posix.java:223)
	at libcore.io.BlockGuardOs.write(BlockGuardOs.java:313)
	at

[2016-01-05 13:36] normanmaurer commented on #4644
@JuKu did you try the examples that come with netty and see if these work at all for you ?

[2016-01-05 16:10] normanmaurer commented on #4656
@ifinver do you by any chance call shutdownGracefully multiple times on the EventLoop concurrently ?