[2022-07-20 11:41] yawkat commented on #12627
MixedAttribute probably has the same issue

[2022-07-20 13:57] ronisec commented on #11815
Any update on this? Our setup is similar to the one described by @vpanta - we have Bazel running on CircleCI pulling its remote cache from GCS.

Example error:

[code]

[2022-07-20 14:33] normanmaurer commented on #11815
Is there a way you could share a reproducer ?

[2022-07-20 14:53] ronisec commented on #11815
Unfortunately, as @vpanta stated above this is a transient issue for us as well, we aren't encountering it consistently.

[2022-07-21 10:30] gm100861 opened #12634 "DefaultChannelPromise@62d50811(failure: io.netty.handler.codec.EncoderException: java.lang.IllegalStateException: unexpected message type: PooledUnsafeDirectByteBuf, state: 0)"
I use netty as my gateway. One scenario is to forward the files uploaded by the client to a third party for storage But when I forwarded the packet, an exception occurred.

[code]
the code just like this

[code]

help!!!

[2022-07-21 15:53] hyperxpro commented on #12634
The encoder (handler) is expecting a different type of object in its current state but you're passing `ByteBuf` instead. You must pass the correct object to the handler to be able to process.

Provide pipeline configuration and more data so it's easier for us to tell what you're doing wrong.

[2022-07-22 01:11] gm100861 commented on #12634
pipeline
[code]
and oss handler like this
[code]

![未命名文件 (1)](https://user-images.githubusercontent.com/3993839/180340390-d84cd957-40e8-4013-8775-69614acffdec.png)

[2022-07-22 07:57] hyperxpro commented on #12634
Move `SslHandler` to the top. Also, you can share the `SslContext` instance.
Use `HttpClientCodec` instead of `HttpRequestEncoder` and `HttpResponseDecoder`.
Move the `OssTransferResponseHandler` to the bottom.

[2022-07-22 09:06] gm100861 commented on #12634
WOW, All right, THX, BRO!

[2022-07-22 09:06] #12634 closed

[2022-07-24 09:28] wplong11 commented on #11020
workaround

[code]

[2022-07-24 14:58] hyperxpro commented on #8547
Should I give this a try?

We can have an abstract implementation which is then extended by various implementations like File-based configuration or Builder pattern?

[2022-07-25 20:00] oreoluwa-xyz opened #12643 "Direct buffers not supported when setting up SSL handler channel for Elasticsearch cluster"
Hello everyone,

I am working on a project to setup an SSL handler channel for an elasticsearch cluster.
Everything works fine except in a few cases when a user requests a large amount of data from the cluster.
Smaller queries respond quite well, but when the response is large, the response to the user truncates without sending a portion of the data back, and we see the error below in our logs.

[

[2022-07-26 01:57] leonardwoo commented on #12575
please update netty 5 jdk to 17

[2022-07-26 06:32] hyperxpro commented on #12619
This issue should be filed with Spring team.

[2022-07-26 13:16] prem1er commented on #12619
Hi thanks for the update. I can post there. Is there a reason it should go to Spring, just so I have more context? The stack trace is from netty packages.

[2022-07-26 13:23] prem1er commented on #12619
Is it simply because I'm using the Spring Data Redis when the issue occurred

[2022-07-26 15:18] hyperxpro commented on #12619
So Spring is trying to decode something which is not valid for DNS response as per Netty.

So Spring Data have to handle this.

[2022-07-26 17:55] jcallin opened #12646 "transport-native-epoll 4.1.79-Final does not include OSGI processor directive fix"
### Expected behavior
https://mvnrepository.com/artifact/io.netty/netty-transport-native-epoll/4.1.79.Final contains an artifact

https://repo1.maven.org/maven2/io/netty/netty-transport-native-epoll/4.1.79.Final/netty-transport-native-epoll-4.1.79.Final-linux-aarch64.jar

As fixed in https://github.com/netty/netty/pull/12498

### Actual behavior
https://mvnrepository.com/artifact/io.netty/netty-tr

[2022-07-26 18:01] chrisvest commented on #12646
The processor directive is correct in the `MANIFEST.MF`. Isn't that what matters?

[2022-07-26 18:33] #4448 closed

[2022-07-26 19:23] jcallin commented on #12646
I guess I don't fully understand what is happening under the hood, but shouldn't something like the following be added like was added in `netty-tcnative`? https://github.com/netty/netty-tcnative/pull/733/commits/97e1e0e66f5b2ae640dbc8c622bc1fd02a8a94ac

[code]

Again, I don't really know how this works, but the resolver (Coursier) on my system is trying to resolve https://repo.maven.apache.org/mav

[2022-07-26 20:48] chrisvest commented on #12619
The DNS server sent an empty datagram packet, and the exception comes from trying to decode a DNS response out of that.
We can't really do anything about that in Netty. Sounds like it's just AWS being weird from time to time.

[2022-07-26 20:48] #12619 closed

[2022-07-26 20:50] MightyElemental opened #12647 "SEVERE: LEAK: ByteBuf.release() was not called before it's garbage-collected"
### Expected behavior
There shouldn't be any leak

### Actual behavior
Randomly receive a severe leak error during normal operation. The code works just fine most of the time, but it occasionally throws an error for seemingly no reason.

### Steps to reproduce
Unknown what steps are required as it appears randomly.

### Minimal yet complete reproducer code (or URL to code)

[code]

### Error messa

[2022-07-26 21:08] chrisvest commented on #12627
Oof! Yes, they should maintain their own independent reference counts, and in turn the references they have to their internal resources should only count as one reference.

I'll be happy to review a PR that fixes this!

[2022-07-26 21:29] chrisvest commented on #8547
@hyperxpro we probably want to attack it on a case-by-case basis. We have quite a number of things - logger factories, default buffer allocators, PlatformDependent - that are accessed statically and presumed to be statically configured, and it's not clear to me if we can really move away from that pattern on those.

[2022-07-27 02:30] LinHuiG opened #12648 "【偶现】服务器多次重启后客户端的FixedChannelPool有概率卡死"
使用FixedChannelPool.acquire()获取channel链接卡死
将服务端多次重启（几十次）后，出现每次获取链接必然报java.util.concurrent.TimeoutException: Acquire operation took longer then configured maximum time，即使此时服务端已经恢复正常。
若将FixChannelPool的超时行为设置为FixedChannelPool.AcquireTimeoutAction.NEW，则多次重启后不再报上面错误，而是每次acquire后必然要等待到超时时间后才能获取到channel。

怀疑：服务端多次重启后，客户端的acquire或者addListener出现异常，导致无法进入listenser释放该channel，此时该acquire操作给FixChannelPool的acquir

[2022-07-27 02:31] LinHuiG commented on #12648
该问题与https://github.com/netty/netty/issues/10224 可能有关联

[2022-07-27 14:23] ag250615 commented on #7154
exceptionCaught
io.netty.handler.codec.DecoderException: java.lang.NullPointerException
	at io.netty.handler.codec.ByteToMessageDecoder.callDecode(ByteToMessageDecoder.java:480)
	at io.netty.handler.codec.ByteToMessageDecoder.channelRead(ByteToMessageDecoder.java:279)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext.java:379)
	at io.netty.channel.A

[2022-07-27 16:49] chrisvest commented on #12643
`4.1.41.Final` is pretty old. Can you try a more recent version? It would also be helpful if you can change your code to log the stack trace of that `java.lang.UnsupportedOperationException` (the promise `cause()`).

[2022-07-27 17:07] hyperxpro commented on #12648
English please.

[2022-07-27 17:23] chrisvest commented on #12648
Are you really using Netty 4.1.6? That version is very old. I recommend upgrading to the latest version, and then call `asStage()` on the netty future, instead of creating your own completable future.

[2022-07-27 17:29] chrisvest commented on #12646
Maybe raise the issue with the OSGi project, because we don't really have the expertise in Netty to tell what part is wrong.

[2022-07-27 18:08] hyperxpro commented on #12647
Release the `ByteBuf`

[2022-07-27 18:14] prem1er commented on #12619
Hi thank you. I created an issue on Spring https://github.com/spring-projects/spring-data-redis/issues/2373 and they told me the problem is in Netty and to raise something here. Not sure how to proceed. TIA

[2022-07-27 18:47] mp911de commented on #12619
Neither Spring Data Redis doesn't configure any netty components. The only thing that the Lettuce driver configured is a `AddressResolverGroup` via https://github.com/lettuce-io/lettuce-core/blob/main/src/main/java/io/lettuce/core/resource/AddressResolverGroupProvider.java

That one seems not to have any means to cause the mentioned buffer underrun.

[2022-07-27 18:59] chrisvest commented on #12619
You can try to use packet capture on the host to either confirm or falsify that we get empty UDP packets as response from the DNS server. If the packets are originally non-empty, then their associated netty buffers become truncated, or something like that, somewhere. The stack trace says there's nothing else in the pipeline, though, so that's why I don't think this is the case.

[2022-07-27 19:11] chrisvest commented on #12647
The javadocs for `readBytes(int)` says it returns a `newly created buffer`, which you then have to either release or put in the `out` list.

[2022-07-27 19:11] #12647 closed

[2022-07-27 19:39] prem1er commented on #12619
Thank you. I will try to capture the network packets when this issue occurs. I will mention one other thing. We have used the same Redis cluster in AWS for quite some time now and just recently switched from Spring MVC/Tomcat to Webflux/Netty/Reactive Redis Template. It was only after switching did we see this problem.

[2022-07-27 19:57] #12646 closed

[2022-07-27 21:28] chrisvest commented on #12410
I've updated https://github.com/netty/netty/wiki/Forked-Tomcat-Native

[2022-07-27 21:28] #12410 closed

[2022-07-27 21:30] chrisvest commented on #12389
[code]

You need to use a JDK for building.

[2022-07-27 21:30] #12389 closed

[2022-07-28 00:47] LinHuiG commented on #12648
I use FixedChannelPool in client，when server restart  scores of times ，FixedChannelPool.acquire will cause "java.util.concurrent.TimeoutException: Acquire operation took longer then configured maximum time",even though server has been restored.
if we set FixedChannelPool.AcquireTimeoutAction.NEW, after restart server  scores of times ,FixedChannelPool.acquire  wont cause ' Acquire operation took l

[2022-07-28 00:49] LinHuiG commented on #12648
let me try ，the  latest stable version is 4.1.80.Final？

[2022-07-28 01:31] LinHuiG commented on #12648
how to call asStage() ,could u give me a demo ,i cant find this method

[2022-07-28 04:58] oreoluwa-xyz commented on #12643
@chrisvest Using a more recent version worked, thanks.
For my case Netty 4.1.49.Final was required.

[2022-07-28 04:58] #12643 closed

[2022-07-28 05:38] hyperxpro commented on #12648
`asStage` is a Netty 5 feature.

[2022-07-28 05:55] LinHuiG commented on #12648
ok，i update version to 4.1.79.Final now，netty5 not for the moment，is there anything wrong with the above method of getting channel

[2022-07-28 07:47] xhrg commented on #12544
@amizurov Thank you very much

[2022-07-28 08:10] gm100861 opened #12654 "Suppressed: java.lang.UnsatisfiedLinkError: could not load a native library: netty_tcnative_windows_x86_64"
i want to use openssl instead  jdk ssl, because jdk ssl to slow. but when i add netty-tcnative-boringssl-static to my gradle , start the project and got error.
[code]
and my SslContext is
[code]

my netty and openssl version
[code]

i google it, and got issue-331, but can't find how do resolve it.

https://github.com/netty/netty-tcnative/issues/331

[2022-07-28 15:45] hoat4 opened #12655 "WebSocketServerHandshaker::handshake returns a Promise that is never completed if HTTP request is not a FullHttpRequest"
### Expected behavior
The FutureListener should be invoked when the WS handshake is done.

### Actual behavior
The handshake completes successfully, but the FutureListener associated with handshaking is not invoked (but my ChannelHandlerAdapter receives the WS message correctly).

### Steps to reproduce
Run the code below. If you connect to it, the "Handshake done" string won't print, but the rece

[2022-07-28 15:51] hoat4 commented on #12655
A workaround is to put a HttpObjectAggregator to the channel's initial pipeline. If it is added in the channel initializer, then the handshaking future will be completed after the handshake is done.

[2022-07-28 16:47] chrisvest commented on #12654
Netty 4.1.79.Final use tcnative 2.0.53.Final: https://github.com/netty/netty/blob/aa59245955f5121c4230d46c41a4b7f55e0c9ba7/bom/pom.xml#L68

Try that and see if it helps.

[2022-07-28 21:48] #12627 closed

[2022-07-29 01:07] gm100861 commented on #12654
not works,
Using OpenSSL, does windows need to install other software or add other dependencies to gradle?

[2022-07-29 02:00] gm100861 commented on #12654
help!!!
the demo git repo: https://github.com/gm100861/netty-openssl

[2022-07-29 10:17] amizurov commented on #12655
@hoat4 Hi, i'll take a look.

[2022-07-29 15:49] chrisvest commented on #12654
What commands do you use to run that?

[2022-07-29 16:45] gmseed opened #12658 "module-info version of Netty?"
I recently posted a question on stackoverflow and a user suggested also posting my oriiginal question here. The stackoverflow link is:

https://stackoverflow.com/questions/73166474/module-info-for-netty

First, it took me a while to figure out the difference between the jar naming such as netty-all-4.1.43.Final and the use of "io.netty.all" in the requires statement. The two are not the same and i

[2022-07-29 16:56] chrisvest commented on #12658
Netty 4.1 uses automatic module names so they are not checked by the compiler. 4.1 cannot move to explicit modules because it maintains binary compatibility with Java 6, and we also have duplicate packets in our modules that cannot be fixed as it would break backwards compatibility.

Netty 5 is an opportunity to move to explicit modules, but we haven't started on it yet.

As far as we can tell, th

[2022-07-29 19:43] gmseed commented on #12658
Thanks for your reply.
Maybe now that official LTS for Java8 has ended, modules will become more important.
I see there are injection techniques:
https://stackoverflow.com/questions/47222226/how-to-inject-module-declaration-into-jar
There is also a Maven plugin.
And this was my question in that I'm sure there is a need for it.
Thanks again.

[2022-07-30 14:08] Patanouk opened #12660 "Http2 connection is detected as Idle with the IdleStateHandler even when receiving Http2 frames"
Hello!
I'm not sure if this is an issue. Feel free to close the ticket if netty behaves as expected

If the behavior is as expected, I am also looking for another way to detect idleness in an http2 connection from the client side
I couldn't find anything in the documentation, but there might be a better way than using the `IdleStateHandler`?

### Expected behavior
An http2 client with an `IdleStat

[2022-08-01 01:10] gm100861 commented on #12654
use maven instead gradle, it works.

With gradle, some dependencies are not passed

[2022-08-01 01:10] #12654 closed

[2022-08-01 02:50] Patanouk commented on #12660
I actually fixed this shorty after opening the issue, by using the `doOnChannelInit` method, as described in the below

[code]

As far as I can tell, the `IdleStateHandler` should always be the first handler in a pipeline
If that's the case, it might be worth to update the javadoc for this class?
I would be happy to open a PR if you agree with this

In the meantime I will close this issue
Thanks a

[2022-08-01 02:50] #12660 closed

[2022-08-01 10:01] gspadotto commented on #12646
As far as OSGi is concerned, [this line](https://github.com/netty/netty/blob/netty-4.1.79.Final/transport-native-epoll/pom.xml#L342) is correct and that's all that's required for dependency resolution at runtime in an OSGi container, regardless of the name of the containing jar file.

I don't know Coursier and how it resolves what it has to resolve, but it seems that [here](https://github.com/nett

[2022-08-01 16:03] chrisvest commented on #12654
You need to depend on `netty-tcnative-boringssl-static` with a classifier. Maven can compute the classifier automatically, but Gradle has to be told what classifier to use.

[2022-08-01 16:14] chrisvest commented on #12660
The IdleStateHandler will monitor the location in the pipeline where it's placed. So it's depends on what you're trying to do; e.g. do you want it to see pings or handshakes, or do you want it to monitor a higher-level protocol.

With that in mind, I'm not sure if the javadocs need to be updated.

[2022-08-02 13:55] joyfulnikhil commented on #12360
Hi @chrisvest ,
We have mix of GET & POST in the traffic. We are performing load testing on our application(1500 TPS. for 42 hours)
Things work fine for 42 hours(All requests are processed). Suddenly the application starts dropping the request with following exception
**[8c5489df, L:/10.233.114.202:8443 - R:/10.233.90.102:56316] EXCEPTION: io.netty.util.IllegalReferenceCountException: refCnt: 0, d

[2022-08-02 22:32] chrisvest commented on #12360
@joyfulnikhil Looks like the same thing. The bug is likely in the `ByteToMessageDecoder` subclass. I've put up a PR to make the error message more helpful.

[2022-08-03 03:34] KeithTt commented on #9419
I have the same issue.

Any update...?

[2022-08-03 09:44] sjw2547 opened #12663 "Parsing multipart/form-data requests with form-data content-type including optional parameters uses last parameter as content-type"
### Expected behavior
When passed a content type header with optional parameter, content type should be correctly set and optional parameters should be attributes.

e.g.

contnet-type: audio/ogg; codecs=opus should have content type of audio/ogg and a codecs attribute of opus

### Actual behavior

content type is currently set to codecs=opus

### Steps to reproduce

Create a request with a content

[2022-08-03 17:32] #12360 closed

[2022-08-04 03:10] bigT commented on #12171
First off, thanks for making Netty. Don't take it a complaint but as a heads up.

This a braking change. It regresses expected behaviour of the LengthFieldBasedFrameDecoder.

The `protected long getUnadjustedFrameLength(ByteBuf buf, int offset, int length, ByteOrder order)` is marked `protected` it is deemed a point of extension and therefore is a part of the public API. Nothing in the documentati

[2022-08-04 03:42] NickleHuang commented on #12171
maybe you can revert  frameLengthInt  to -1 ，read your new frame , But at the moment, there is no such mechanism，you can override getUnadjustedFrameLength  and revert frameLengthInt  to -1

[2022-08-04 03:58] bigT commented on #12171
I've decided that I will override `protected Object decode(ChannelHandlerContext ctx, ByteBuf in) throws Exception` instead and re-use as much of the base class as possible. However most of the static utility methods are private so it makes it hard.

If you decide to keep the change, it may be worth updating the documentation to let folks know what is the expected behaviour of the protected method

[2022-08-04 04:35] NickleHuang commented on #12171
@normanmaurer man，I've added an method that allows users to repeatedly read frames by overwriting getUnadjustedFrameLength

[2022-08-04 05:02] NickleHuang commented on #12171
i add resetFrameLengthInt method，you can call it to repeat read frame

[2022-08-04 05:15] bigT commented on #12171
See my comments on the pull request.

[2022-08-04 08:47] joeyleeeeeee97 commented on #12348
@matt-snider
 Hi, sorry for not replying sooner.
- How it works with loom?
With this patch and the content I included in this patch.
https://github.com/openjdk/loom/pull/166

- Why I am closing this?
1. Seems netty community is waiting for the right time to support this, so I will close this for now.
2. No I have not  accomplished my goal, but I am assuming Blocking IO thread with loom virtual thr

[2022-08-04 10:00] dejankos opened #12669 "Netty tcnative segmentation error when running on linux/arm64 with glibc compat layer"
### Expected behavior

`io.netty.handler.ssl.OpenSsl` should load native libraries packaged with `netty-tcnative-boringssl-static` when running on linux/arm64.

### Actual behavior

JVM crashed with a segmentation error.

Full error log available at:
https://github.com/dejankos/netty-tcnative-m1-issue/blob/main/hs_err_pid1.log

### Steps to reproduce

Run `io.netty.handler.ssl.OpenSsl. isAvailable

[2022-08-04 17:09] chrisvest commented on #12669
The `libc6-compat` package provide these libraries: https://pkgs.alpinelinux.org/contents?file=&path=&name=libc6-compat&branch=edge&repo=main&arch=aarch64
But if you look at the `Dynamic libraries` section of the `hs_err`, you don't find any of those.
So I think that's where the issue is. You need to get the compatibility layer to stick somehow. I don't know enough to say what's required. I specul

[2022-08-05 20:25] ap00rv commented on #8537
@normanmaurer  can you please confirm if the following statement is true ?

Thank you in advance !

[2022-08-06 08:50] adetiamarhadi commented on #11020
this works for me
`implementation 'io.netty:netty-all'`
`implementation(group: "io.netty", name: "netty-resolver-dns-native-macos", version: "4.1.72.Final", classifier: "osx-aarch_64")`

[2022-08-06 17:58] derklaro opened #12671 "[netty 5] ByteToMessageDecoder tries to allocate from a closed allocator"
### Expected behavior
ByteToMessageDecoder shouldn't try to allocate a buffer from a closed allocator.

### Actual behavior
ByteToMessageDecoder tries to call decode when a channel becomes inactive which tries to allocate a buffer from a closed buffer allocator: https://gist.github.com/derklaro/38899e5d645adc058785e2197da0cdc6

Not sure if I am using something wrong (wrong call order?)... This see

[2022-08-06 23:01] franz1981 opened #12673 "Replace stdlib write/read with send/recv"
See https://github.com/fredrikwidlund/libreactor/issues/5 for more info;

I've verified (thanks to async-profiler using dwarf stack walking) that indeed the write/read code paths are a bit more "involved" then plain send/recv with FLAG == 0

I'll run some benchs in our labs, but the issue I've mentioned (and the super nice blog posts on https://talawah.io/blog/extreme-http-performance-tuning-one-p

[2022-08-06 23:16] franz1981 commented on #12673
I believe that we have used write/read due to what the JDK does, but JDK is handling general file descriptors (meaning files too!!) while on Netty we can benefit from being specialized

[2022-08-08 06:22] normanmaurer commented on #12673
@franz1981 yep thats a good one.. I remember reading about that as well but totally forgot to open a PR / issue:)

[2022-08-08 06:22] normanmaurer commented on #12671
@chrisvest PTAL

[2022-08-08 07:53] dejankos commented on #12669
Thanks for the hint.
As mentioned in the linked example, running the same thing on Alpine with glibc installed `bellsoft/liberica-openjdk-alpine:11.0.16` works fine.
I was hoping to get to the bottom of this issue but so far no luck - seems like I'll have to switch versions.

[2022-08-08 08:01] franz1981 commented on #12673
I can open one, it should be 2 lines of code I suppose

[2022-08-08 21:24] chrisvest commented on #12671
Quite the mystery, here… 🤔

I'll take a look.

[2022-08-09 16:59] chamil321 opened #12685 "channelInactive() getting called twice during h2load benchmarking"
### Expected behavior
An HTTP framework([Ballerina HTTP library](https://github.com/ballerina-platform/module-ballerina-http)) which uses netty as it's transport framework recently found while h2load benchmarking that requests hang intermittently at 80% completion. As per the logs, channelInactive() has called twice per connection.

[code]

What are the occasions where channelInactive can be calle

[2022-08-09 18:14] #12671 closed

[2022-08-10 09:52] hyperxpro commented on #12685
Can you share reproducer code?

[2022-08-10 10:21] #12473 closed

[2022-08-10 13:58] #7323 closed

[2022-08-11 05:25] #12663 closed

[2022-08-12 02:13] Zhouguangfa123 commented on #3801
I solved the problem like the following example
`SSLEngine engine = sslContext.createSSLEngine();
engine.setUseClientMode(true);
pipeline.addLast("sslHandler", new SslHandler(engine));`
instead of:
``SSLEngine engine = sslContext.createSSLEngine(“host”, "port");
engine.setUseClientMode(true);
pipeline.addLast("sslHandler", new SslHandler(engine));``

[2022-08-12 04:23] chamil321 commented on #12685
Closing the issue as it's related to invalid server pipeline closure in the implementation

[2022-08-12 04:23] #12685 closed

[2022-08-14 11:19] ShlomiRex opened #12698 "Pipeline configuration: Decoder, Handler, Encoder - throws: UnsupportedOperationException: unsupported message type: DefaultHttpResponse (expected: ByteBuf, FileRegion)"
### Expected behavior
The pipeline configuration:
* Decoder
* Handler
* Encoder
should not throw exception when a client sends HTTP request.

![image](https://user-images.githubusercontent.com/17744127/184534308-aca8b47a-134e-4eb1-8b60-29d9ad91d7cf.png)

By reading the documentation, the order should be executed like so:

Inbound:
Decoder, Handler

Outbound:
Encoder

### Actual behavior
The pipeli

[2022-08-15 09:53] hyperxpro commented on #12698
Move `MyHandler` to the bottom. That's it.

[2022-08-15 16:50] chrisvest commented on #12698
@hyperxpro is right.

The logic is that inbound data flows down the pipeline, and outbound data flows up the pipeline.

[2022-08-15 16:50] #12698 closed

[2022-08-15 21:05] ShlomiRex commented on #12698
I know. But this is a bug. Don't you agree?

Which is exactly what my pipeline does. You disagree? If so, can you explain?

[2022-08-15 21:18] chrisvest commented on #12698
`MyHandler` reads a `HttpRequest` and writes a `DefaultHttpResponse`, but it sits _before_ the `HttpResponseEncoder` in the pipeline, so the response is never converted to a `ByteBuf` that the transport can send.

[2022-08-15 21:53] jackwurj commented on #12648
后来查出直接原因了吗？

[2022-08-16 08:35] ShlomiRex commented on #12698
Reading the official documentation of interface `ChannelPipeline`:
![image](https://user-images.githubusercontent.com/17744127/184834313-268bfdf7-7e67-43e1-a39d-2008a795b663.png)

It says that the outbound starts from the end and goes up the pipeline. As we know, the encoder is outbound handler. But from my understanding, what your saying, is that outbound flows from `MyHandler` and upwards, and n

[2022-08-16 15:29] chrisvest commented on #12698
If your handler does a write to the `ChannelHandlerContext` it's passed in, say, `channelRead`, then the write will propagate up from the handlers position in the pipeline. Otherwise handlers wouldn't have a way to pass the write through.

If you do a write to the `Channel`, then it'll propagate from the bottom of the pipeline.

[2022-08-17 08:12] youjile opened #12706 "the method channelRead0 block the method channelInactive in class SimpleChannelInboundHandler"
当类SimpleChannelInboundHandler中的channelRead0方法正在执行的时候，客户端突然退出了，这时候channelInactive方法一定要等到channelRead0执行完成后才能被触发，这种情况会导致客户端 退出的时候一些缓存得不到及时释放，我不知道netty的机制是不是本身就是如此，是否有机制使channelInactive方法不受channelRead0方法的影响。
When the class SimpleChannelInboundHandler channelRead0 method is executed, the client suddenly quit, then channelInactive method must wait until channelRead0 after completion of execution can be

[2022-08-17 08:47] ShlomiRex commented on #12698
Thanks a lot!
If I change `ctx.write()` to `ctx.channel.write()` it propogates to the next pipeline as expected! And so the code:
[code]
works! (it didn't work before because I was writing to context, and not channel).

Your a life savior!

[2022-08-17 11:14] flupec commented on #11885
Faced same issue with Spring WebClient that's based on Netty. DNS suffixes cannot be resolved on Windows and Java 9+. I think this [hack](https://github.com/netty/netty/blob/9cd94547d0211c04b610878e5e267c8de2342b97/resolver-dns/src/main/java/io/netty/resolver/dns/DnsNameResolver.java#L189:L202) is responsible for such behaviour.

Why is reflection used here? You can acquire instance of ResolverCon

[2022-08-17 12:16] franz1981 opened #12708 "HttpObjectEncoder scalability issue due to instanceof checks"
Due to https://bugs.openjdk.org/browse/JDK-8180450 the chain of instanceof checks on `HttpObjectEncoder` competes to update `Klass::secondary_super_cache field` causing a scalability issue (very relevant with many cores and NUMA topologies).

Detection of such issue isn't easy for 3 reasons:
1. performance hit won't happen in any Java code (ie having any BCI - byte code index)
2. updates on `Klass

[2022-08-17 12:34] slievrly opened #12710 "IllegalArgumentException: writeBufferLowWaterMark cannot be greater than writeBufferHighWaterMark"
### Expected behavior

### Actual behavior

writeBufferLowWaterMark cannot be greater than writeBufferHighWaterMark (65535)

### Steps to reproduce

1. set channel option:   .option(ChannelOption.WRITE_BUFFER_LOW_WATER_MARK, 131072)).option(ChannelOption.WRITE_BUFFER_HIGH_WATER_MARK, 1048576))
![image](https://user-images.githubusercontent.com/8758457/185121015-ef84b621-82e2-47e8-91c1-7af6252a47e6

[2022-08-17 13:09] slievrly commented on #12710
`ChannelOption.WRITE_BUFFER_LOW_WATER_MARK/ChannelOption.WRITE_BUFFER_HIGH_WATER_MARK` are Deprecated API. When I set  ChannelOption.WRITE_BUFFER_LOW_WATER_MARK=128K first, it compare with the newer API `WriteBufferHighWaterMark.Default(32k, 64k)`, so it is illegal. One way to circumvent this is to set `ChannelOption.WRITE_BUFFER_HIGH_WATER_MARK` first and then set `ChannelOption.WRITE_BUFFER_LOW_

[2022-08-17 15:52] #12710 closed

[2022-08-18 07:45] flupec opened #12712 "Hosts with DNS suffixes cannot be resolved in Windows 10 and Java 9+"
I am using Spring WebClient based on netty and it cannot resolve hosts with DNS suffixes on Windows and Java 9+. I think this [hack](https://github.com/netty/netty/blob/9cd94547d0211c04b610878e5e267c8de2342b97/resolver-dns/src/main/java/io/netty/resolver/dns/DnsNameResolver.java#L189:L202) is responsible for such behaviour.

Why is reflection used here? You can acquire instance of ResolverConfigur

[2022-08-18 09:10] ss183 opened #12714 "java program has Not responding"
### Expected behavior
our gateway program shuold have respond to normal requests

### Actual behavior
programm hasn't responding,i check dump,find about netty thread endlessly wait before getting shut down.
"reactor-http-epoll-2" #36 daemon prio=5 os_prio=0 tid=0x0000559ae593c000 nid=0x2e runnable [0x00007fdc3a6b0000]
   java.lang.Thread.State: RUNNABLE
	at io.netty.channel.epoll.Native.epollWait0

[2022-08-18 09:39] hyperxpro commented on #12714
Please use latest version of Netty and try again.

[2022-08-18 12:51] amirhadadi opened #12716 "microbench module is subject to API compatibility validations"
### Expected behavior
All changes in the `microbench` module should not be subjected to API compatibility validations.
### Actual behavior
Some changes in the `microbench` module are subjected to API compatibility validations.

### Steps to reproduce
Remove a method from a benchmark class that's not in the `io.netty.microbench` package and run `mvn clean install -am -pl microbench`. This will fail

[2022-08-18 12:54] normanmaurer commented on #12716
@amirhadadi that sounds like a bug...

[2022-08-18 13:07] amirhadadi commented on #12716
@normanmaurer sounds like a bug to me too.
There are a couple of ways to fix it:

1. Move all existing classes into the `io.netty.microbench` package.
2. Override `japicmp-maven-plugin` and `revapi-maven-plugin` for the microbench module.

Which do you think is better?

[2022-08-18 13:11] normanmaurer commented on #12716
@amirhadadi lets add the override

[2022-08-18 18:07] #12716 closed

[2022-08-19 10:51] breun commented on #11020
It looks like this is an issue in [io.projectreactor.nettt:reactor-netty-http:1.0.22](https://search.maven.org/artifact/io.projectreactor.netty/reactor-netty-http/1.0.22/jar), because that has a hardcoded dependency on `io.netty:netty-resolver-dns-native-macos` with classifier `osx-x86_64`.

[2022-08-20 11:44] devzwy opened #12721 "LEAK: ByteBuf.release() was not called before it's garbage-collected."
I was use LengthFieldBasedFrameDecoder;

log like this
[code]

[2022-08-20 14:57] hyperxpro commented on #12721
Release the `ByteBuf` properly.

[2022-08-21 08:44] LinHuiG commented on #12648
没查出来，不过我们升级到4.1.79.Final后暂时没有再遇到类似问题了。

[2022-08-21 08:48] LinHuiG commented on #12648
旧版本还有另一个地方，使用bootstrap.connect(ip, port).sync().await().sync().channel()这行代码重连服务端，在服务端频繁重启，客户端频繁重连的时候也有概率直接卡死，怀疑可能和这个问题有点关联。

[2022-08-21 10:18] #12609 closed

[2022-08-22 07:21] floating-cat opened #12723 "Able to wrap the byte array or ByteBuffer without copying in the new Buffer API in the Netty 5"
In Netty 4, there are `Unpooled.wrappedBuffer` APIs below which could wrap the `byte[]` or `ByteBuffer` without copying.
In Netty 5, it seems we need to use the `DefaultBufferAllocators.xxxAllocator().copyOf()` now which copies the data once.
I have some direct ByteBuffers and some byte arrays and now I need to copy them once when using the Buffer API, which is not needed in Netty 4.

[code]

Woul

[2022-08-22 08:14] deepsikhak commented on #7675
Netty bom worked for me

[2022-08-22 08:16] #12673 closed

[2022-08-22 08:20] franz1981 commented on #12673
@normanmaurer
Famous last words

eheh

[2022-08-22 09:54] asantare opened #12725 "Native builds using GraalVM 22.2 throw NoSuchMethodException at runtime"
### Expected behavior
Server/Client using netty reply to requests/gets responses.

### Actual behavior
Native binaries built with GraalVM 22.2 results in Server/Client freeze and many `NoSuchMethodException` are logged for different classes and methods, here below one of them:
[code]

### Steps to reproduce
- download the 'reproducer' project from the link below
- open a shell in the project direc

[2022-08-22 09:57] asantare commented on #12725
Using the following `reflect-config.json` in the test project fixes it but I'm not sure it covers all the possible handlers/code and I think some of the classes here are already in other configs.

[code]

[2022-08-22 14:13] amizurov commented on #12714
@ss183 hello, could you please report this problem to the https://github.com/reactor/reactor-netty. It doesn't seem to be a Netty problem.

[2022-08-22 16:14] chrisvest commented on #12723
It's available but hidden, because it's unsafe in the sense that we'll have to take the programmers word that the array won't be shared.

What you need is in `MemoryManager.instance().unsafeWrap(byte[])`. That will create an unpooled buffer with the given array inside.

[2022-08-22 16:14] #12723 closed

[2022-08-22 16:22] chrisvest commented on #12725
I guess you mean `4.1.79.Final`.

@gradinac Any ideas?

[2022-08-22 16:29] asantare commented on #12725
oops, yes indeed, is 4.1.79.Final

It is something very weird, probably graalvm compiler related, if I comment the micronaut redis depedency, it works fine.

[2022-08-22 17:28] violetagg commented on #12725
@asantare Is it possible that you see this issue https://github.com/oracle/graal/issues/4809

[2022-08-22 17:48] asantare commented on #12725
hi @violetagg , indeed it seems to be the case for the `NoSuchMethodException`

Although regarding the 'works fine when removing the `micronaut-redis-lettuce` dependency' could be something else :confused:

[2022-08-23 04:06] floating-cat commented on #12723
@chrisvest Thanks for the info.
May I ask one more question? Is there any way to wrap a direct `ByteBuffer` too? So when sending, it only needs to copy the `ByteBuffer` to the kernel once. Otherwise, I need to copy this into the off-heap `Buffer`, and then it needs to copy into the kernel which uses two copies here.

[2022-08-23 04:49] chrisvest commented on #12723
@floating-cat No, there's no way to wrap a direct ByteBuffer. You can allocate off-heap netty buffers from the start, and get direct buffers from them.

[2022-08-23 07:21] vietj opened #12729 "HttpPostMultipartRequestDecoder does not decode correctly attribute split after between CR and LF"
### Expected behavior

The attribute value is decoded correctly

### Actual behavior

The attribute value is decoded with a trailing CR

### Steps to reproduce

Send an HTTP multipart post request in several steps, one of them will send a part with a CRLF before the next attribute delimiter and the first part ends with the CR / the next part start with LF.

With Vert.x (4)

[code]

### Minimal yet

[2022-08-23 07:23] scx567888 commented on #12729
Thank you.

[2022-08-23 07:30] normanmaurer commented on #12723
@chrisvest imho we should provide one..

[2022-08-23 11:03] floating-cat commented on #12723
@chrisvest Unfortunately, this way doesn't solve my use case. I have a framework that uses Netty and it gets all buffers produced from the Netty and wraps it in some `byte[]` and `ByteBuffer` or a composite wrapper (wrap multi `byte[]`, `ByteBuffer`) to provide a high-level API (because these types are more common to use with other libraries and in JVM ecosystem). Then we could check these bytes d

[2022-08-24 02:54] CanYouGiveMeAName opened #12731 "Why trustManager set some certs when trustCertCollection is null"
### code
in `ReferenceCountedOpenSslClientContext` and `ReferenceCountedOpenSslServerContext`

[code]

[code]

### Expected behavior

result of ` manager.getAcceptedIssuers()` is `[]` and service not trust any signature.

### Actual behavior

Dozens of certs

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

4.1.52.Final

### JVM version (e.g. `j

[2022-08-24 13:00] gradinac commented on #12725
As noticed by the Spring team also (cc @violetagg), one of the reasons for hitting https://github.com/oracle/graal/issues/4809 is that there is metadata missing on the Netty side - in particular, reflection metadata for implementations of the `ChannelHandler`.

I think 4.1.79 didn't have the metadata related changes that I introduced, but the same issue will happen on the latest Netty release - wh

[2022-08-24 13:21] ShlomiRex opened #12734 "Embedded Channel inside Embedded Channel - writeInbound fails - Multiplex 2 protocols on the same port"
### Expected behavior
The test should pass.

### Actual behavior
The test doesn't pass. It fails at:
[code]

### Steps to reproduce
1. Clone my repository (or just view the code): https://github.com/ShlomiRex/netty-multiplex-two-protocols
2. Run all the tests
3. The test: `testProtocolHandlerTCP` fails

### Minimal yet complete reproducer code (or URL to code)
https://github.com/ShlomiRex/netty-mu

[2022-08-25 09:15] liyouxina opened #12737 "(jdk17.0.4)Could not initialize class io.netty.util.internal.PlatformDependent0"
### Expected behavior
same code works with jdk8
### Actual behavior
Caused by: java.lang.NoClassDefFoundError: Could not initialize class io.netty.util.internal.PlatformDependent0
  at io.netty.util.internal.PlatformDependent.getSystemClassLoader(PlatformDependent.java:694)
  at io.netty.channel.nio.NioEventLoop$4.run(NioEventLoop.java:171)
  at java.base/java.security.AccessController.doPrivilege

[2022-08-25 16:14] chrisvest commented on #12737
Please show the whole stack trace.

[2022-08-25 16:34] floating-cat commented on #12723
Just found it is easy to just wrap `Buffer` via an adapter pattern in my code and expose it into a high-level API so I don't need to wrap/extract the baked `btyte[]` and `ByteBuffer` to/from `Buffer` anymore and I also don't need to care the `Buffer` backed implementation (or even `MemorySegment` in the future) which is more elegant. Thanks for all your's help!

[2022-08-26 02:48] CanYouGiveMeAName commented on #12731
Even if I set up certificates, these certificates will still be added to the list of trusted certificates.

[2022-08-26 03:54] liyouxina commented on #12737
no java.lang.ExceptionInInitializerError

[2022-08-26 05:19] coding2world commented on #12737
@liyouxina  how to reproduce? can produces this exception when  I run the `io.netty.example.echo.EchoServer` in the netty-example module?

[2022-08-26 06:15] normanmaurer commented on #12731
@CanYouGiveMeAName it mimics the "default" that is done in the JDK..

[2022-08-26 09:35] mark4z commented on #11059
tks

[2022-08-26 12:05] normanmaurer commented on #12721
@devzwy you most likely forgot to call `release()`. You might want to increase the leak detector level to paranoid to get a better understanding of the leak

[2022-08-26 12:05] #12721 closed

[2022-08-26 12:06] normanmaurer commented on #12712
@flupec the problem is that this is a "private" api that you can only access via reflection which will fail in java9+ or at least produce an error log. So there is not much we can do about it .

[2022-08-26 12:44] franz1981 opened #12742 "Improve HttpObjectEncoder's content ownership change"
#12708 has caused a massive rewrite of `HttpObjectEncoder`, that requires sync Netty 5 version of it.
@chrisvest has made already some useful changes to Netty 5's `HttpObjectEncoder` in order to work with the new ownership model of `Buffer`s eg no need to release/close each buffer (owned by `HttpContent` instances, that won't requires been closed as well) if their ownership change.
These changes,

[2022-08-26 23:07] argha-c opened #12745 "Fallback to PemReader fails when BouncyCastlePemReader encounters an unsupported type"
While I'm not completely certain this is a common scenario, we observed this failure on upgrading to Netty `4.1.80` and when using a custom bundle for a private key.

From a quick glance, it looks like it should be resolved by ensuring that the input stream passed to the `BouncyCastlePemReader` is a copy, and processed independently of the original stream processed by `PemReader`

### Netty versio

[2022-08-26 23:59] chrisvest commented on #12745
Thanks for the report. This should be fixed by https://github.com/netty/netty/pull/12746

[2022-08-27 00:22] argha-c commented on #12745
Thank you for the quick fix!

[2022-08-27 10:02] #12745 closed

[2022-08-28 16:23] hpple opened #12749 "Usage of PooledByteBufAllocator from resizable thread pools may lead to memory leaks"
### Expected behavior
No memory leaks

### Actual behavior
Memory is leaking in the presence of resizable thread pools

### Steps to reproduce
### Minimal yet complete reproducer code (or URL to code)
see below
(all reproducers were tested with `-XX:MaxDirectMemorySize=1G`)

### Netty version
I'm using 4.1.63.Final in prod, but it is still reproducible for 4.1.80.Final too

### JVM version (e.g. `

[2022-08-29 05:09] xuwei-k commented on #12024
- https://repo1.maven.org/maven2/com/aayushatharva/brotli4j/native-osx-aarch64/1.8.0/
- https://github.com/hyperxpro/Brotli4j/releases/tag/v1.8.0

[2022-08-29 13:28] franz1981 opened #12750 "HttpMessages implementing HttpContent types too aren't handled correctly"
Changes due to #12709 have added a code path where `HttpMessage` types that implement `HttpContent` types too are handled in their separate code paths while handled as just `HttpMessage` right after too.

The fact that CI doesn't fail there means that there are no types like that (and it's not impacting existing users using default types too).

[2022-08-29 16:56] uzador commented on #8702
Hi @riyafa @amizurov I've faced the similar issue and I'm curious if you found any solution for that could you advise what you did?

[2022-08-29 17:26] argha-c commented on #12745
@chrisvest : Are we planning on an early patch release for `4.1.81` or would it be the usual cadence? The former would help us fix forward, but we can downgrade otherwise.

[2022-08-30 09:10] 1148973713 opened #12753 "Example of Netty integrating Stomp protocol"
In the example of Netty integrating Stomp protocol, the source code lets the client use Netty, and the front-end page is set as the server to integrate Stomp protocol.
How to use Netty to set the server and set the Endpoint connection point, let the front-end page bind the Endpoint connection point configured in the server through SockJS, and create a stompClient through stomp.over() to complete t

[2022-08-30 12:09] rockeshub commented on #12360
Hi @chrisvest , After taking changes from your PR, we found that the IllegalReferenceCountException was thrown by SSlHandler.  Can you help us understand in which scenario this might happen.

Log
`{"instant":{"epochSecond":1659945933,"nanoOfSecond":570231204},"thread":"ingress-h2-epoll-4","level":"DEBUG","loggerName":"reactor.netty.http.server.HttpServer","message":"[48bc3437, L:/10.233.109.48:844

[2022-08-30 15:00] Mango2020 commented on #11213
@hyperxpro is Netty 5 released now? Thanks.

[2022-08-30 18:55] hyperxpro commented on #11213
Netty 5 Alpha is out but TLS certificate validation is not enabled yet.

I'll do PR for it in next few days for this feature so next in Alpha release, we'll have this feature.

[2022-08-31 03:01] yutianlong520 opened #12756 "Hello, I can't send a message (writeandflush) to the server in the LAN. What should I do, please?"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2022-08-31 03:11] liyouxina commented on #12737
problem solved !!
--add-opens java.base/jdk.internal.misc=ALL-UNNAMED

[2022-08-31 03:13] liyouxina commented on #12737
when you use rocketmq and jdk17, probably you can reproduce this

[2022-08-31 03:16] liyouxina commented on #12737
use rocketmq and jdk17, probably you can reproduce this

[2022-08-31 03:17] liyouxina commented on #6632
try this

[2022-08-31 03:17] liyouxina commented on #6632
try this

[2022-08-31 03:17] liyouxina commented on #6632
try this
--add-opens java.base/jdk.internal.misc=ALL-UNNAMED

[2022-08-31 03:18] liyouxina commented on #6548
I fix it by adding this to JVM args
--add-opens java.base/jdk.internal.misc=ALL-UNNAMED

[2022-08-31 10:54] pderop opened #12757 "CompositeBuffer.extendWith seems slower than CompositeByteBuf.addComponent"
### Expected behavior

I may wrongly use the API, but it seems that the performance of the Netty5 CompositeBuffer _extendWith_ method is quite slower than the _addComponent_ method from old CompositeByteBuf 4.1 API.

Indeed, In the context of the new netty5 based multipart codec from netty contrib, I see that the codec performance is lower than the previous one from Netty 4.x. So, while investigat

[2022-08-31 11:19] liyouxina commented on #12737
add -Dsun.reflect.debugModuleAccessChecks=access to JVM args and run your application
you will know how to fix this problem

[2022-08-31 17:17] chrisvest commented on #12757
I updated the benchmark to be more purely focused on `extendWith`/`addComponent`.

For sure the list collecting can be optimized.

[code]

[2022-08-31 17:56] chrisvest commented on #12757
If I change the benchmark to immediately compose the whole list, instead of adding one component at a time:

[code]

Then the performance is much closer:

[code]

With the difference being dominated by the use of `Cleaner`s to prevent leaks. If I do a hack to disable the `Cleaner`, then the two are on par:

[code]

However, that's a change to the behaviors and I'll have to think more about if that

[2022-08-31 21:11] pderop commented on #12757
I have tested #12759 with the **Multipart codec** benchmark, and it indeed addresses some of the performance issues I'm currently investigating:

without the PR, here is the Multipart benchmark result:
[code]
and with the PR:
[code]

thanks Chris.

[2022-08-31 23:48] Mango2020 commented on #11213
@hyperxpro Thanks for your rapid response.
As we need a list of tasks to associate with the vulnerability issue fix, can you share the target date for the release of Netty 5? Thanks in advance.

[2022-09-01 09:27] azhsmesos commented on #8164
Do you have any proposal? I want to know how to realize it

[2022-09-01 13:09] geoand opened #12761 "Make MessageFormatter and FormattingTuple public"
Classes `io.netty.util.internal.logging.FormattingTuple` and `io.netty.util.internal.logging.MessageFormatter` are `public` classes, but the latter's `format` methods are package-private while the former's `constructor` is package-private making their use in custom in `InternalLoggerFactory` implementations impossible.

We ran into this issue in Quarkus and had to resort to copying them.

[2022-09-01 15:38] chrisvest commented on #12761
Looks weird that these classes were public in the first place, but that's what we decided to do in #12131.

@geoand do you want to submit a PR to fix the remaining visibility restrictions in those two?

[2022-09-01 15:51] geoand commented on #12761
@chrisvest sure thing! I opened https://github.com/netty/netty/pull/12763

[2022-09-01 19:02] #12750 closed

[2022-09-01 19:35] hyperxpro commented on #12756
More info needed.

[2022-09-02 08:26] normanmaurer commented on #8164
there is no proposal

[2022-09-02 08:32] #12761 closed

[2022-09-02 09:24] normanmaurer commented on #12749
@chrisvest thoughts ?

[2022-09-02 09:29] abelsromero opened #12769 "Unable to capture DecoderException (`TooLongHttpLineException`)"
### Expected behavior

Be able to capture DecodeExceptions (example `TooLongHttpLineException`) in a similar way other exceptions can be captured, like `ChannelInboundHandler.exceptionCaught`.

### Actual behavior

Based on what I 've seen, exceptions happening in `HttpObjectDecoder` like this https://github.com/netty/netty/blob/5256f3628c553081e674f7b27e93a97350141715/codec-http/src/main/java/io/

[2022-09-02 09:51] hyperxpro commented on #12769
You should report this on Spring repository because Spring passes 4096 max length parameter to `HttpObjectDecoder`.

[2022-09-02 09:59] abelsromero commented on #12769
To me the issue is not the value, but not been able to track the exception. For other exceptions like `io.netty.resolver.dns.DnsResolveContext` we can capture that easily and log the information of the request to take actions, but not for this one since there's no (or I was not abel to find in code and docs) a method to do so.

[2022-09-02 10:11] violetagg commented on #12769
@abelsromero I'll encourage you to ask your question here https://gitter.im/reactor/reactor-netty

[2022-09-02 14:58] chrisvest commented on #12749
Definitely worth investigating. Wouldn't hold back 4.1.81 for it, though, since whatever is going on must have been an issue for a while.

[2022-09-03 08:27] Transfusion commented on #12052
I believe I'm facing this issue too, trying to access one telepresence-intercepted service from inside another using Spring's `WebClient`.
![image](https://user-images.githubusercontent.com/3119646/188262690-49a87433-f7a3-406d-8a90-8caaa90a56f0.png)

[2022-09-04 03:06] lcdzhao opened #12771 "why netty don't use mmap to map socket fd in to directbytebuffer ?"
why netty don't use mmap to map socket fd in to directbytebuffer ?

I know this question has been asked, but there is no answer.

[2022-09-04 06:59] chrisvest commented on #12771
Because you can't mmap a socket except for packet capture purpose.

[2022-09-04 08:15] lcdzhao commented on #12771
@chrisvest But according to the following documentation, the second usage scenario can also be a non-tracking package scenario.

https://docs.kernel.org/networking/packet_mmap.html

[2022-09-05 04:50] chrisvest commented on #12771
The simple answer is no one built it. These days there's io_uring, which we do have a transport for, and which provides a more approachable API.

[2022-09-05 04:50] #12771 closed

[2022-09-05 08:01] lcdzhao commented on #12771
@chrisvest Thanks～

[2022-09-05 10:35] amizurov commented on #12753
@1148973713 Hi, could you please add more info about  you problem? If we speaking about this [example](https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/stomp/websocket) it's just an example of how the WS and STOMP integration might look.

[2022-09-05 10:43] amizurov commented on #8702
@uzador Hello, I didn't look deeply what can be done on the Netty side.

[2022-09-05 13:41] abelsromero commented on #12769
Updated issue with reproducer https://github.com/abelsromero/netty-runner

[2022-09-05 14:35] abelsromero commented on #12769
Thanks a lot! I could finally make it work with (updated the reproducer with a new commit with it)
[code]

[2022-09-05 14:35] #12769 closed

[2022-09-05 17:07] thekalinga commented on #12621
I read elsewhere that thread pinning happens where java stack has native frames. Since netty uses native code, will it have any impact on virtual threads?

[2022-09-06 07:38] #12753 closed

[2022-09-06 08:42] dmercuriali commented on #12564
We saw the same error today

[code]

The exception seems to occour while allocating a new direct buffer. From what we can see the application was not out of direct memory (we had several free GBs).

Any hints for things to check?

[2022-09-07 03:02] hyperxpro commented on #11213
There are no absolute dates but maybe in Q1 of 2023.

[2022-09-07 08:08] rockeshub opened #12777 "'io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1'"
After taking the changes suggested in #12360. We found that the exception thrown from the SSLHandler

`{"instant":{"epochSecond":1659945933,"nanoOfSecond":570231204},"thread":"ingress-h2-epoll-4","level":"DEBUG","loggerName":"reactor.netty.http.server.HttpServer","message":"[48bc3437, L:/10.233.109.48:8443 - R:/10.233.121.74:33256] EXCEPTION: io.netty.util.IllegalReferenceCountException: SslHandle

[2022-09-07 12:17] silencewen opened #12779 "io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 7449083911, max: 7460618240)"
### Expected behavior
normal running

2G of heap memory, 2G of off-heap memory

### Actual behavior
In the case of normal requests everything is fine without oom, but when we have a large batch of requests (request body is a base64 string) the memory usage is incrementing until there is an OOM
error Info：

o.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct

[2022-09-07 15:24] normanmaurer commented on #12779
We will need more info... Also enable the leak detector to see if there are any leaks

[2022-09-09 01:24] zymap opened #12785 "Question about FlushConsolidationHandler and writeAndFlush.await"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

4.1.77.Final

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

---

This is a question about the FlushConsolidationHandler and writeAndFlush.await.

After adding FlushConsolidationHandler, I found the writeAndFlush.await will get

[2022-09-09 05:59] silencewen commented on #12779
netty version：4.1.48.final
![image](https://user-images.githubusercontent.com/30278151/189281502-3e0c4076-9e33-48fe-9d4b-b56af642084f.png)

[2022-09-09 06:42] normanmaurer commented on #12785
from which thread you call `writeAndFlush()` ? Also did you check with a thread dump ?

[2022-09-09 13:06] mederel opened #12787 "NPE with Paranoid leak detector and using a ByteProcessor on a CompositeBuffer of CompositeBuffer"
### Expected behavior

No exception

### Actual behavior

Getting a NullPointerException

[code]

### Steps to reproduce

* set ResourceLeakDetector in Paranoid mode
* create a CompositeBuffer of CompositeBuffer of Buffers
* run a ByteProcessor on the ByteBuf

### Minimal yet complete reproducer code (or URL to code)

[netty-paranoid-leak.zip](https://github.com/netty/netty/files/9535586/netty-par

[2022-09-09 17:02] chrisvest commented on #12564
This isn't fixed in 4.1.81.Final, but the error in that version _should_ have slightly more detail.

[2022-09-09 18:54] chrisvest commented on #12787
Thanks for the report.

[2022-09-09 22:14] #12787 closed

[2022-09-10 00:18] chrisvest commented on #12779
Your netty version is pretty old. I recommend upgrading to a more recent version before investigating this further.

[2022-09-13 00:57] glennosss opened #12798 "Chrome/Firefox send `upgrade-insecure-requests` header"
https://github.com/netty/netty/pull/12755 is unfortunately breaking Chrome and Firefox which both (rightly or wrongly) send the `upgrade-insecure-requests` header:

[code]

With Netty 4.1.80 and below I was able to run with `validateHeaders(true)` (the default). However with Netty 4.1.81 the only work around I've found is;
[code]

@chrisvest My thanks for implementing these extra validations. And

[2022-09-13 01:20] chrisvest commented on #12798
Just verified that the validation is fine for Safari but fails with Firefox.

[2022-09-13 03:00] silencewen commented on #12779
ok，thank you for your suggestion
let me try update netty version.

[2022-09-13 04:33] #12798 closed

[2022-09-13 13:15] ShlomiRex opened #12800 "No ChannelOption.SO_REUSEPORT"
### Expected behavior
Have option Channel.SO_REUSEPORT
SO_REUSEPORT can be better understood here:
https://lwn.net/Articles/542629/

I want to enable this option to be able to re-use the same port over and over again (because of stress tests - running the test over and over again, the test creates server, and so I encountered this issue).

### Actual behavior
Do not have this options

### Steps to

[2022-09-13 15:11] agusevas opened #12801 "Compound message creation performance"
Hi all,

I was analyzing the `rsocket-java` performance and found out, that it uses `CompositeByteBuf` for creating compound messages and allocates additional memory for `CompositeByteBuf` and its `Component`s. It also needs to duplicate `DirectByteBuffer` objects for sending those messages (because of `CompositeByteBuf.nioBuffers()` call). It doesn't allocate a lot of memory, but sending many mes

[2022-09-13 17:05] chrisvest commented on #12800
It's in `UnixChannelOption`, yeah.

[2022-09-13 17:05] #12800 closed

[2022-09-13 17:08] chrisvest commented on #12801
They have pros and cons, and which one comes out ahead depends on your use case.

I suggest you try both and benchmark them.

[2022-09-14 04:28] tilkinsc opened #12802 "AbstractTrafficShapingHandler null pointer dereference"
https://github.com/netty/netty/blob/2f4beae8ecfec25d0504119a7c4881092872e16a/handler/src/main/java/io/netty/handler/traffic/AbstractTrafficShapingHandler.java#L558
In this function trafficCounter can potentially be null and WriteTimeToWait() could crash.

[2022-09-15 04:44] tilkinsc commented on #12802
Extend it myself

[2022-09-15 16:54] presenth7s opened #12807 "How does netty quickly warm up and allocate direct memory"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2022-09-15 16:56] #12807 closed

[2022-09-15 16:56] presenth7s opened #12808 "How does netty quickly warm up and allocate direct memory"

[2022-09-15 16:57] #12808 closed

[2022-09-16 01:40] EvanMi opened #12812 "Question about unsafe used in processSelectedKey in 4.1"
![image](https://user-images.githubusercontent.com/43713766/190537971-d5d46654-2106-4069-9ffa-6511c9b839af.png)

why the OP_WRITE branch do not use unsafe directly?

the code url is https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/nio/NioEventLoop.java

[2022-09-16 09:18] normanmaurer commented on #12812
Yep this can be changed.

[2022-09-16 09:21] normanmaurer commented on #12812
https://github.com/netty/netty/pull/12813/files

[2022-09-16 09:22] normanmaurer commented on #12802
Generally speaking you should ensure its set before processing of messages start.

[2022-09-16 09:22] #12802 closed

[2022-09-16 09:26] normanmaurer commented on #12801
+1 to what @chrisvest said... Also `Unpooled.wrappedBuffer(...)` might make sense as it creates a `FixedCompositeByteBuf` which has some advantages. Beside this you can reduce the GC by using the native epoll transport as with this we often don't need to duplicate the underlying nio buffers.

[2022-09-16 09:26] #12801 closed

[2022-09-16 09:27] normanmaurer commented on #12777
Please share all your custom handler in your pipeline...

[2022-09-16 09:28] normanmaurer commented on #12777
Also /cc @violetagg

[2022-09-16 16:19] #12812 closed

[2022-09-16 17:15] microhardsmith opened #12816 "Will netty use virtual threads in EventLoop?"
Since Jdk 19 is going to release, will netty using virtual threads or changing current thread model in the following versions?

[2022-09-16 17:22] chrisvest commented on #12816
We have no plans to change the threading model. Netty 4.1 has a compatibility baseline with Java 6, and Netty 5 will have a compatibility baseline with Java 11.

[2022-09-16 17:22] #12816 closed

[2022-09-18 03:56] bolingling8 opened #12820 "Multiple calls writeAndflush at the same time will delay 3-5 seconds"
There is no problem when there are not many users. When there are about 2000 users online（call writeAndFlush 2000 times per second） at the same time, the response will be delayed for a few seconds.

This is my code
Main Thread:

         ResourceLeakDetector.setLevel(ResourceLeakDetector.Level.ADVANCED);
         EventLoopGroup bossGroup = new NioEventLoopGroup();
         EventLoopGroup workGroup

[2022-09-18 04:02] bolingling8 commented on #12820
using netty-all-4.1.6.Final.jar

[2022-09-18 04:07] bolingling8 commented on #12820
http://normanmaurer.me/presentations/2014-facebook-eng-netty/slides.html#10.0
I saw this PPT
I only use ChunkedWriteHandler, also checked channel.isWritable()

[2022-09-18 04:40] hyperxpro commented on #12820
Please upgrade to the latest version of Netty 4.1.

[2022-09-18 06:20] bolingling8 commented on #12820
already found the issue and repaired?

[2022-09-18 14:30] bolingling8 commented on #12820
I try the latest version , but it also the same.

[2022-09-19 02:50] bolingling8 commented on #12820
hello,  no one help me

[2022-09-19 04:28] hyperxpro commented on #12820
Are you blocking any Event loop?

[2022-09-19 09:21] dlehammer commented on #11885
I've experienced the symptom similarly to @flupec in a Spring Boot context, albeit in a Linux environment (Fedora 36 & Java 17).
I.e. Netty unable to resolve the local machine alias ~ `$HOSTNAME`.

I found a **workaround**; explicitly adding the machine alias to `/etc/hosts` seemed to appease Netty (no other services has needed this, and `ping` etc. resolved the machine alias fine before I made an

[2022-09-19 19:44] yomr opened #12825 "Binding ChannelHandler instance to an EventLoop"
### Netty version
4.1

### JVM version
OpenJDK 11

#### Background:

For the project I am working on, we have an underlying resource(let's say, `class ExpensiveResource`) that is not thread safe and does IO intensive stuff. In order to scale out, we will have 3-4 instances of `ExpensiveResource` in our application, and each instance will be bound to a particular `SingleThreadedEventLoop` from `Exp

[2022-09-21 11:12] yawkat opened #12827 "Expose `AbstractScheduledEventExecutor.getCurrentTimeNanos`"
It would be useful to expose the `getCurrentTimeNanos` method to channel handlers, so that they can use it instead of calling `System.nanoTime` directly. The main purpose would be to make handlers work predictably with the EmbeddedEventLoop time manipulation methods (advance, freeze).

A good example is IdleStateHandler. It uses both event loop scheduling, and then nanoTime to confirm the timeout.

[2022-09-21 14:33] srctar opened #12829 "Netty Direct Memery LEAK"
### Actual behavior

Memery Counter:
`io.netty.util.internal.PlatformDependent#DIRECT_MEMORY_COUNTER`

It grow up when http 499, at last be `io.netty.util.internal.OutOfDirectMemoryError`

### Steps to reproduce

a sping cloud project, user netty for server;  reactor-netty version 0.8.5.RELEASE.
use netty http client。

Spring Controller only for translate http request:
[code]
use `curl` for http c

[2022-09-21 18:12] chrisvest commented on #12829
Try with `-Dio.netty.leakDetection.level=PARANOID` and see if your app is leaking memory.

[2022-09-21 18:47] xkzhao opened #12831 "File descriptor leaking issue"
### Expected behavior
We expected the fd will be released after netty channel is closed.
### Actual behavior
fd usage keep increasing.  There are lots of `closed` sockets.

[code]

### Netty version
4.1

### JVM version (e.g. `java -version`)
jdk 11

### OS version (e.g. `uname -a`)
linux

[2022-09-21 19:31] chrisvest commented on #12831
Can you add more detail? What is the app doing; how do you recreate this issue? What specific Netty version are you using, or have tried?

[2022-09-21 20:30] normanmaurer commented on #12829
Beside this you should also upgrade... 4.1.33.Final is really old.

[2022-09-21 20:48] yomr commented on #12825
Just a gentle check to see if someone can help with this. Thank you in advance 😊

[2022-09-22 02:43] srctar commented on #12829
Yes， Netty tould me there is memery leak(https://netty.io/wiki/reference-counted-objects.html):
[code]

I tried pmap for looking up the java memery, and I found a block almost 800MB(my http response is 10MB), contains my http response, but only 2 block(20MB), the other is 00000000...(780MB)

[2022-09-22 02:53] srctar commented on #12829
I know what you say， but you konw:
1. Product environment, the most important is stabilization， if it`s ok, it should be run;
2. Java lib depenency, web dependency almost regular, each dependency upgrade may couse Product not stabilization, or cost a lot of time

[2022-09-22 05:34] srctar commented on #12829
My version:  4.1.33.Final

I found the place cause memery leak(I don`t know if the higher version fixed this)：
[code]
the boolean value close(**line 790**):
[code]

my project is like this:
[code]
when curl get http response and data is transfering, cancel the curl (`curl -m 1 http://xxx`);

the netty-client is recevicing (othes http server) http data,  into direct memery, but `allocHandle.lastByt

[2022-09-22 14:12] normanmaurer commented on #12829
I am sure there is no leak in the place in the lates release. Please upgrade

[2022-09-23 06:47] hamadodene commented on #12564
Thanks @chrisvest , We have updated netty to version 4.1.81.Final.
We will update you as soon as we have more details on the problem.

Thanks,

[2022-09-24 15:09] #12831 closed

[2022-09-25 14:57] andreasdc opened #12835 "An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception."
How to avoid this spam from the console?
An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.

[2022-09-25 15:05] hyperxpro commented on #12835
To avoid this spam from the console, you need to handle the exceptions raised in the last handler. :')

[2022-09-25 15:06] andreasdc commented on #12835
Ok, which handler and how to handle the exception?

[2022-09-25 15:12] hyperxpro commented on #12835
The last handler in the pipeline and the exception can be handled in `exceptionCaught()`.

[2022-09-25 15:12] andreasdc commented on #12835
How to find the last handler?

[2022-09-25 15:13] hyperxpro commented on #12835
Show your pipeline code.

[2022-09-25 15:15] andreasdc commented on #12835
I added exceptionCaught in the last handler and it's the same.

[2022-09-25 21:47] hyperxpro commented on #12835
Show code of `exceptionCaught`.

[2022-09-26 00:40] andreasdc commented on #12835
`    public void exceptionCaught(ChannelHandlerContext channelhandlercontext, Throwable throwable) throws Exception {
    }`
And couple checks inside of the method.

[2022-09-26 06:24] rockeshub commented on #12777
[code]

[2022-09-26 06:28] rockeshub commented on #12777
2.ConnectionAcceptHandler
[code]

[2022-09-26 13:52] joafalves opened #12837 "Unable to create Channel from class class io.netty.channel.sctp.nio.NioSctpChannel"
### Expected behavior

SCTP channel is initialized successfully and connection is established to the configured remote peer.

### Actual behavior

SCTP channel initialization fails when attempting to establish the remote connection (when executing `bootstrap.connect()`).

**Reported cause** when calling 'bootstrap.connect()':
`io.netty.channel.ChannelException: Unable to create Channel from class

[2022-09-26 14:08] hyperxpro commented on #12835
Show complete code.

[2022-09-26 14:16] joafalves commented on #12837
I've just discovered that this error is happening because 'sctp' wasn't properly configured in the OS. Please consider enhancing the reported cause (in the Future.cause()) in events such as this. Thanks.

[2022-09-26 14:16] #12837 closed

[2022-09-26 15:09] hyperxpro commented on #12835
If you'd have done it correctly then you shouldn't be getting those error. :)

[2022-09-26 15:10] andreasdc commented on #12835
I think I debugged it and there was nothing in this method, but I can do it again. I think the error is somewhere else.

[2022-09-26 15:11] hyperxpro commented on #12835
Also, this is not Netty bug but rather a general question so consider using Stackoverflow for this.

[2022-09-26 15:11] andreasdc commented on #12835
Do I have the handler? Yes. Does the error appear? Yes.
So it is seems like the bug for me.

[2022-09-26 15:14] andreasdc commented on #12835
I added throwable.printStackTrace(); in the exceptionCaught method and nothing appears.

[2022-09-26 15:32] normanmaurer commented on #12835
@andreasdc just show us the handler, how you setup the pipeline. If you want help then you also need to provide us the data we need.

[2022-09-26 15:46] andreasdc commented on #12835
`        channel.pipeline()
                .addLast("timeout", new ReadTimeoutHandler(30))
                .addLast("legacy_query", new LegacyPingHandler(this.serverConnection))
                .addLast("splitter", new PacketSplitter())
                .addLast("decoder", new PacketDecoder(EnumProtocolDirection.SERVERBOUND))
                .addLast("prepender", PacketPrepender.INSTANCE)

[2022-09-26 18:09] andreasdc commented on #12835
I suppose the error/warning happens when sending a packet to a closed channel (I don't want to check if the channel is opened btw.)

[2022-09-26 23:37] #12725 closed

[2022-09-27 03:35] rockeshub commented on #12777
We Have TraceIdPopulator  which is a ChannelInboundHandlerAdapter  and we also use it as a Util class to populate traceId
ex.
[code]

@Component
public class TraceIdPopulator extends ChannelInboundHandlerAdapter {

	private static Logger logger = LogManager.getLogger(TraceIdPopulator.class);

	private static final String LOG_ID = "LogId";

    @Value("${logging.traceIdGeneration.enabled}")
    pri

[2022-09-27 03:53] rockeshub commented on #12777
We enabled debug log and found that out of 4 epoll threads, we get this exception for all the request handled by 3 threads

log
[code]

[2022-09-27 11:06] manojpunde91 opened #12840 "Unable to build using 4.1.82.Final version jar"
We are using netty-all-4.1.46.Final version in our project and want to upgrade to 4.1.82.Final.

[https://mvnrepository.com/artifact/io.netty/netty-all/4.1.82.Final
](https://mvnrepository.com/artifact/io.netty/netty-all/4.1.82.Final
)
[https://repo1.maven.org/maven2/io/netty/netty-all/4.1.82.Final/
](https://repo1.maven.org/maven2/io/netty/netty-all/4.1.82.Final/
)

But this artifact doesn't have

[2022-09-27 11:09] slandelle commented on #12840
netty-all is now a Bill Of Material that pulls all the netty individual modules transitively, not a fatjar that merges all of them.

[2022-09-27 11:21] manojpunde91 commented on #12840
tried to consume BOM library as :
'netty-bom'               : 'io.netty:netty-bom:4.1.82.Final',

But no luck. getting same error:
error: package io.netty.handler.ipfilter does not exist
import io.netty.handler.ipfilter.IpFilterRuleType;

It would be great if you provide any netty-bom example for gradle build.

[2022-09-27 11:24] slandelle commented on #12840
I think that's a question for gradle experts on a gradle forum.

[2022-09-27 11:42] manojpunde91 commented on #12840
Sure. Will refer gradle document.
Just want to confirm we cant use netty-all version directly, we should use netty-bom for dependency management?

[2022-09-27 14:25] Frank591 opened #12842 "DNS resolving issue for AWS Elsticache nodes"
### Actual behavior
We use Redisson client to work with to several big Elasticache clusters(up to 150 nodes). Under the hood, Redisson uses netty for work with DNS resolving.
We get a lot of errors like this:
`io.netty.resolver.dns.DnsResolveContext$SearchDomainUnknownHostException: Failed to resolve 'test-elasticache-cluster-0003-002.test-eslaticache-cluster.nfbjaw.euw1.cache.amazonaws.com' and s

[2022-09-27 18:55] yomr commented on #12825
I went with `ThreadLocal` solution for now, but still curious to know the thoughts. Thank you.

[2022-09-28 01:26] sergiitk opened #12844 "`CompositeByteBuf.component()` returns ByteBuf duplicates without adjusting the indexes"
### Expected behavior
Removing a component from a CompositeByteBuf, and adding it back to the same place does not change the content of the  CompositeByteBuf.

### Actual behavior
In certain cases, removing a component from the CompositeByteBuf, and adding it back results in the CompositeByteBuf with the content different from before the removal. In such cases, `CompositeByteBuf.component()` retur

[2022-09-28 01:53] wangy325 commented on #12119
Same issue with `OpenJDK Runtime Environment (8.0_302) (build 1.8.0_302-bre_2021_08_14_21_34-b00)` on MacOS Big Sur. Switching to OpenJDK 16 can also evade the issue.

[2022-09-28 03:21] joeyleeeeeee97 commented on #8439
@normanmaurer @franz1981 @chrisvest
Any updates on this?

I believe io_uring with virtual thread(blocking read/write each thread) will bring the best performance.

I did some experiments before #12348 with virtual thread selector , and there are some visible improvements.

[2022-09-28 04:25] normanmaurer commented on #12119
@wangy325 do you have a reproducer ?

[2022-09-28 05:56] wangy325 commented on #12119
It happens when I invoke a Restful service (get request) after spring-server initialized every time. A `hs_err_pid.log` was generated just quite the same as replied by @qinghui-xu :

[code]
Here is the pid file:
[hs_err_pid74454.log](https://github.com/netty/netty/files/9661833/hs_err_pid74454.log)

By the way, I go to IDEA`project settings -> project ->sdk`, select jdk16(another openjdk installed

[2022-09-28 06:35] Nick-The-Uncharted commented on #12750
All subclasses of `io.netty.handler.codec.http.FullHttpMessage` was affected. In our case it is `AggregatedFullHttpRequest`.

[2022-09-28 08:59] TengHuo commented on #12119
Switched to Temurin OpenJDK 8, and it can work

[code]

[2022-09-28 09:01] slandelle commented on #12119
Then, it's most likely not a matter of switch vendor but of upgrading from `1.8.0_302` to `1.8.0_345`.

[2022-09-28 19:13] normanmaurer commented on #11959
Let me close this ... Please reopen again if you see this in the latest release

[2022-09-28 19:16] normanmaurer commented on #12842
I will have a look

[2022-09-28 19:54] rajcspsg opened #12846 "java.lang.UnsupportedOperationException at io.netty.channel.socket.nio.NioServerSocketChannel.doConnect(NioServerSocketChannel.java:178)"
### Expected behavior
connect(hostname, port) is throwing java.lang.UnsupportedOperationException

### Actual behavior
I'm expecting connect(hostname, port) to connect to the server.

### Steps to reproduce

I'm working on Netty tutorials in [youtube](https://www.youtube.com/watch?v=7hGEIICBPNI&list=PLdHlBihmVRiao02p7BfK9OyhaQfKgnCTg&index=1).

I've below server code -

[code]

The Client Code is

[2022-09-28 20:57] hyperxpro commented on #12846
Remove `InetSocketAddress` from `remoteAddress` and pass that to `connect` in Bootstrap.

[2022-09-28 22:14] rajcspsg commented on #12846
@hyperxpro  I updated the code per your suggestion. I still get same error

[code]

[2022-09-29 02:26] hyperxpro commented on #12846
Sorry my bad.

You're using ServerSocketChannel in Bootstrap instead of SocketChannel.

Use EpollSocketChannel and NioSocketChannel.

[2022-09-29 05:30] cdongtao commented on #6969
hello, I still facing the issue with using latest version io.netty:4.1.82: io.netty.handler.codec.CorruptedFrameException: invalid JSON received at byte position 523: 00

[2022-09-29 05:34] rajcspsg commented on #12846
Thanks @hyperxpro . Now your suggestion worked!!!

[2022-09-29 05:34] #12846 closed

[2022-09-29 05:35] cdongtao commented on #6208
hello, I still facing the same issue with using latest version io.netty:4.1.82: io.netty.handler.codec.CorruptedFrameException: invalid JSON received at byte position 523: 00,.Could you help for this and how can I fix this problem?

[2022-09-29 07:24] Frank591 commented on #12842
@normanmaurer , pls let me know if you require any additional information from my side for investigation

[2022-09-29 08:04] jessielesbian opened #12847 "Netty + IKVM.NET = crash"
C:\Users\jessi\Desktop\ikvmtest>ikvm -jar 1.12.2.jar nogui
[15:02:12] [Server thread/INFO]: Starting minecraft server version 1.12.2
[15:02:12] [Server thread/INFO]: Loading properties
[15:02:12] [Server thread/INFO]: Default game type: CREATIVE
[15:02:12] [Server thread/INFO]: Generating keypair
[15:02:12] [Server thread/INFO]: Starting Minecraft server on *:25565
[15:02:13] [Server thread/INFO]:

[2022-09-29 09:41] hyperxpro commented on #12847
More details are needed.

[2022-09-29 09:47] slandelle commented on #12847
I would argue that IKVM (a Java implementation in .Net) is not a supported platform.
You have to use a real JVM.

[2022-09-29 13:22] azhsmesos opened #12848 "Adapt Virtual threads for JDK19"
Jdk19 has launched a virtual thread similar to Golang's Goroutine, does Netty need to adapt？

[2022-09-29 19:25] chrisvest commented on #12844
As I understand it, the essence of the issue is that `CompositeByteBuf.component(int)` returns a duplicate of the component as it was originally given, rather than as a projection through the composite buffer index ranges.

We can ask ourselves if getting a component buffer out of a composite buffer is the dual of adding, or if it's only the readable contents of the buffers that matters.

As far a

[2022-09-29 20:06] chrisvest commented on #12847
The exception is coming out of JCTools code. Either JCTools has a bug, or IKVM.NET has a bug (perhaps in their JMM implementation), but in either case I don't think it's a Netty issue per se. It can also be that both are buggy. We've seen similar exceptions from running on Arm, but too rare to diagnose as far as I understood.

Pinging @nitsanw in case he has insights.

[2022-09-29 20:21] sergiitk commented on #12844
Hey @chrisvest. Yes, I was going to make the PR soonish. Regarding what approach to choose - I'll follow up later, need to dig a bit more first.

[2022-09-29 21:05] chrisvest commented on #12848
The pooled byte buf allocator has a thread-local cache. You'll want to turn that off, or not use the pooling allocator, as otherwise you could end up with a lot of thread-local caches.

[2022-09-30 04:46] joyfulnikhil opened #12850 "Code check to prevent IllegalReferenceCountException to occur"
Can a check for **cumulation.refCount() >0** be placed here? This will ensure that only those bytebuf are released whose refCount>0 and if bytebuf already has a refcount of 0, it is already deallocated or can be returned to the object pool. This will prevent IllegalReferenceCount from occurring.
Not sure about the implication on memory (Whether this check will cause a memory leak ?)

_Originally p

[2022-09-30 09:34] yawkat commented on #12827
Project reactor has a similar idea in its Scheduler class: https://projectreactor.io/docs/core/release/api/reactor/core/scheduler/Scheduler.html#now-java.util.concurrent.TimeUnit-

[2022-09-30 09:36] normanmaurer commented on #12827
I need to think a bit more about it

[2022-09-30 11:13] liming19964 opened #12852 "How can I reproduce the "event executor terminated" error through netty"
### Expected behavior
when i use lettuce to operate redis,i got this error! I can only get this result through terminal the eventloop by myself ！but  I want to know when it will terminate by itself!
java.util.concurrent.RejectedExecutionException: event executor terminated
	at io.netty.util.concurrent.SingleThreadEventExecutor.reject(SingleThreadEventExecutor.java:926)
	at io.netty.util.concurrent

[2022-10-01 06:56] hyperxpro commented on #12852
Report this on the `Lettuce` repository as this is not a Netty bug.

[2022-10-01 15:59] liming19964 commented on #12852
thank you,i will take a try!

[2022-10-01 15:59] #12852 closed

[2022-10-01 16:00] liming19964 commented on #12852
i will report this on the Lettuce

[2022-10-01 17:37] jchrys opened #12856 "Proposal)Netty5)Remove Apache commons logging related classes"
Apache commons logging has not been updated since 2014.
and Netty's classes that support for it was marked as deprecated in 2016. (#5615)
I think now is a good time to get rid of deprecated classes and their dependencies.

Please let me know If I can create a PR.

[2022-10-01 18:06] normanmaurer commented on #12856
Yes please 🙏

[2022-10-01 18:09] jchrys commented on #12856
Thank you for your reply. Let me create a PR soon 👍

[2022-10-02 16:15] #12856 closed

[2022-10-02 20:59] MobiusDevelopment commented on #12721
Shouldn't the writeAndFlush handle the release?

[2022-10-02 22:06] chrisvest commented on #12721
It handles one release. If there are retain calls in the buffers life, then those need to be paired with release calls through other means.

[2022-10-03 10:06] tsegismont commented on #10991
Hi, this is Thomas from the Vert.x team. I would like to try contributing support for Unix Domain Sockets for users of JDK16+.
Our users would benefit from it when deploying apps to clouds that simplify secure DB connectivity by providing a Domain Socket (e.g. Google Cloud with PostgreSQL or MySQL).
As part of the JDK, the API is also available to applications compiled with GraalVM's `native-image

[2022-10-03 16:51] chrisvest commented on #10991
@tsegismont We already have support in the Netty 5 alphas, because we've streamlined the channel types. The annoying thing with Netty 4.1 is how domain sockets have their own set of channel types per transport, so presumably this would be a new pair of channels for the Nio transport that only work on JDK 16+, but it would also be a lot of changes to the interfaces to make the domain socket APIs av

[2022-10-03 19:41] violetagg opened #12861 "Netty5 artifacts for MacOS have wrong natives libraries names"
`netty5-resolver-dns-native-macos-5.0.0.Alpha5-osx-x86_64.jar`
Has a wrong native library name - `libnetty_resolver_dns_native_macos_x86_64.jnilib`
- It should be `netty5` not `netty`

`netty5-transport-native-kqueue-5.0.0.Alpha5-osx-x86_64.jar`
Has a wrong native library name - `libnetty_transport_native_kqueue_aarch_64.jnilib`
- It should be `netty5` not `netty`
- The classifier should be `x86_6

[2022-10-03 19:44] normanmaurer commented on #12861
Will checkAm 03.10.2022 um 21:41 schrieb Violeta Georgieva ***@***.***>:﻿
netty5-resolver-dns-native-macos-5.0.0.Alpha5-osx-x86_64.jar
Has a wrong native library name - libnetty_resolver_dns_native_macos_x86_64.jnilib

It should be netty5 not netty

netty5-transport-native-kqueue-5.0.0.Alpha5-osx-x86_64.jar
Has a wrong native library name - libnetty_transport_native_kqueue_aarch_64.jnilib

It shou

[2022-10-04 05:25] jchrys commented on #12527
Hello All.
I'm interested in this issue.
May I make some PRs that applies the JetBrains annotations mentioned above?

[2022-10-04 06:28] normanmaurer commented on #12850
@joyfulnikhil this would just "hide" bugs.

[2022-10-04 06:28] #12850 closed

[2022-10-04 06:59] normanmaurer commented on #12527
@jchrys yes please :) We love contributions

[2022-10-04 07:10] jchrys commented on #12527
Thanks very much for your reply. Let me create PRs. 👍

[2022-10-07 08:49] MichalKotecki opened #12872 "Netty dependency not found for Gatling (via Gradle in Spring project)"
I get an error
`Could not find netty-transport-native-epoll-4.0.51.Final-linux-aarch_64.jar (io.netty:netty-transport-native-epoll:4.0.51.Final).`
when trying to include Gatling (`id "io.gatling.gradle" version "3.8."`) into my Spring Gradle project, because it uses Netty.
It seems like it could not been found in any repository, because the name is actually wrong. There is a JAR called
netty-trans

[2022-10-07 08:51] normanmaurer commented on #12872
We don't support native epoll lib on aarch64 when using netty 4.0.x. You either need too upgrade to 4.1.83.Final or remove the dependency

[2022-10-07 08:51] #12872 closed

[2022-10-07 09:00] MichalKotecki commented on #12872
After changing the  Netty version to ` 4.1.83.Final`, I get similar error about another dependency
`Could not find netty-tcnative-boringssl-static-2.0.34.Final-linux-aarch_64.jar (io.netty:netty-tcnative-boringssl-static:2.0.34.Final).`

[2022-10-07 09:44] slandelle commented on #12872
Same thing: you're using an old `netty-tcnative-boringssl-static` version from 07-Nov-2019 that doesn't have aarch64 support. You have to upgrade to `2.0.54`.

[2022-10-08 04:36] ragner opened #12874 "javax.net.ssl.SSLException: java.io.EOFException: Read error"
I am testing  https://github.com/adamfisk/LittleProxy plus https://github.com/ganskef/LittleProxy-mitm with Netty 4.1.82
and the "tls handshake"/"https request" looks working but I am always getting  java.io.EOFException: Read error

I have found a similar issue at: https://github.com/koush/AndroidAsync/issues/594

### Netty version
4.1.82.Final

### JVM version (e.g. `java -version`)
openjdk 11.0

[2022-10-08 10:20] wysnxzm commented on #12848
Also need to wait for ThreadLocal and Synchronized to be resolved

[2022-10-09 16:43] horizonzy opened #12877 "[Enhancement] PlatformDependent support the metrics of the direct memory real used."
In PlatformDependent, it records the `DIRECT_MEMORY_COUNTER` to trace the direct memory.
In fact, direct memory maybe not supply to the user fully, the PoolChunk default size is 4M, and it maybe just supply to the user 0.1M, leaving 3.9M direct memory. I want to record the real used direct memory in netty, it can help user to know the direct memory detail info.
@normanmaurer please take a look, co

[2022-10-09 16:50] horizonzy commented on #12877
Example:
The PoolChunk: 4M, the user supply 1k. The real direct memory usage is 1k. Then release it to ThreadLocalCache, although not free memory to PoolChunk, the real direct memory usage is 0.

[2022-10-10 14:27] horizonzy commented on #12749
Nice catch.

[2022-10-10 18:07] chrisvest commented on #12877
Perhaps what you're after is the `PooledByteBufAllocator.pinnedDirectMemory()`? Though it'll only tell you about memory in that specific allocator; no unpooled memory, and no memory from other allocators.

[2022-10-11 01:59] horizonzy commented on #12877
It's a little difficult to export the metrics. In JVM, it may create many `PooledByteBufAllocator`s, and the third lib may also create it, it's hard to trace. So I suppose shall we export the total `PooledByteBufAllocator.pinnedDirectMemory` in the `PlatformDependent`.

[2022-10-11 05:25] hm8818 opened #12882 "io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1 occurred for random requests"
Hello,
I'm facing the confused issue on spring cloud gateway, which throw io.netty.util.IllegalReferenceCountException on random request with 2~3 times for each day, i took much time and method on this issue to try to find the solutions, but failed. i have no idea how to resolve this issue, so please help me to take a look at it, i will very appreciate it.
below is the detail of exception:
[code]

[2022-10-11 06:26] iyappan opened #12883 "Netty Http 2 server does not provide any option to ignore http2 request without response"
### Requirement:

    Our application runs on Springboot with embedded Netty server(enabled http2). And it exposes services via Rest Apis.
    On Rest Api call, we have a scenario where we wanted to ignore the http2 request without sending any response.

### Expected behavior
     Netty server need to expose a API or any other visible provision to ignore a request without sending a response.
### A

[2022-10-11 06:33] normanmaurer commented on #12883
Please open an issue with spring. /cc @violetagg

[2022-10-11 06:33] #12883 closed

[2022-10-12 10:18] mrniko commented on #12842
@normanmaurer

Here is the solution I use to resolve the issue https://github.com/redisson/redisson/blob/2d83ebdf64bde8793b8c3b24be81ad23e72119d5/redisson/src/main/java/org/redisson/connection/SequentialDnsAddressResolverFactory.java

[2022-10-12 16:47] needmorecode opened #12886 "Improve the performance of expireTimeouts() in HashedWheelTimer"
The original logic relies on a variable `remainingRounds` and in order to maintain it,  all timeouts in the bucket have to be traversed.

In fact, the complete traversing of the linked list is not necessary.

My idea is to introduce a new variable `currRound` which represent the current round of the timer, and `execRound` for the execution round of each timeout. `currRound` is added by 1 when the

[2022-10-12 16:52] needmorecode commented on #12886
I made a PR  in #12887

[2022-10-13 02:22] wuzhj1 opened #12889 "SctpMessageCompletionHandler refer io.netty.util.collection.IntObjectMap, but can't find"
### Expected behavior

### Actual behavior

class SctpMessageCompletionHandler refer to the io.netty.util.collection.IntObjectHashMap, but it isn't exist. because of module common already deleted the collection?

### Minimal yet complete reproducer code (or URL to code)
![image](https://user-images.githubusercontent.com/43143470/195483474-c254d1b9-4e21-496c-b213-4f6fa9619f93.png)

### Netty versio

[2022-10-13 02:43] wuxuanqicn commented on #12889
generated during build, run `mvn clean package`, see #12208

[2022-10-13 06:56] #12889 closed

[2022-10-13 06:56] normanmaurer commented on #12882
Please open an issue with spring. /cc @violetagg

[2022-10-13 06:56] #12882 closed

[2022-10-13 06:57] #12861 closed

[2022-10-13 06:57] normanmaurer commented on #12847
Closing this as there is not much we can do here.

[2022-10-13 06:57] #12847 closed

[2022-10-13 06:58] normanmaurer commented on #12842
@mrniko can you be more explicit on what exactly fixes it ? Is it about to limit the concurrent DNS queries ?

[2022-10-13 06:58] #12840 closed

[2022-10-13 06:58] normanmaurer commented on #12840
netty-bom is usually a good way to ensure you use the right versions

[2022-10-13 07:01] normanmaurer commented on #12835
Do you by any chance add a `ChannelFutureListener.FIRE_EXCEPTION_ON_FAILURE` to the `ChannelFuture` of you write ? I think what happens is that you added this listener (or a listener which calls `fireExceptionCaught()` which will be executed after all handlers are removed from the pipeline due of channel closure.

[2022-10-13 07:03] normanmaurer commented on #12825
I think either a `Map` or `ThreadLocal` can work.

[2022-10-13 07:03] #12825 closed

[2022-10-13 07:03] #12829 closed

[2022-10-13 07:04] normanmaurer commented on #12820
Let me close this for now... Please re-open if the problem still shows up after you applied the suggestions

[2022-10-13 07:04] #12820 closed

[2022-10-13 07:05] normanmaurer commented on #12785
Closing this as there was no response anymore. Please re-open with more details if you still think there is a problem

[2022-10-13 07:05] #12785 closed

[2022-10-13 07:05] normanmaurer commented on #12731
Closing this

[2022-10-13 07:05] #12731 closed

[2022-10-13 07:05] #12756 closed

[2022-10-13 07:07] normanmaurer commented on #12655
@amizurov what is the status of this one ?

[2022-10-13 07:09] normanmaurer commented on #12503
`AutoRead` is just a hint and there might still be situations where even tho autoRead is false we might pass data through the pipeline.

[2022-10-13 07:09] #12503 closed

[2022-10-13 07:10] normanmaurer commented on #12418
Closing as no response

[2022-10-13 07:10] #12418 closed

[2022-10-13 07:10] #12294 closed

[2022-10-13 07:10] #12259 closed

[2022-10-13 07:11] #11986 closed

[2022-10-13 07:12] normanmaurer commented on #11750
Lets close this one

[2022-10-13 07:12] #11750 closed

[2022-10-13 07:13] #11416 closed

[2022-10-13 07:13] normanmaurer commented on #11285
We dont see this problems anymore... lets close this

[2022-10-13 07:13] #11285 closed

[2022-10-13 07:14] normanmaurer commented on #11247
Please update to latest version and check

[2022-10-13 07:14] #11247 closed

[2022-10-13 07:14] normanmaurer commented on #11153
Lets close for now

[2022-10-13 07:14] #11153 closed

[2022-10-13 07:15] normanmaurer commented on #10991
I agree with @chrisvest ... I think the best bet is netty 5.

[2022-10-13 07:15] #10991 closed

[2022-10-13 07:15] #10996 closed

[2022-10-13 07:15] normanmaurer commented on #11082
Didn't see this for a while... lets close it.

[2022-10-13 07:17] normanmaurer commented on #3485
We did do this for netty 5. /cc @chrisvest

[2022-10-13 07:17] #3485 closed

[2022-10-13 07:17] normanmaurer commented on #3705
I think we fixed everything here. Lets close this

[2022-10-13 07:17] #3705 closed

[2022-10-13 07:18] #3667 closed

[2022-10-13 07:18] normanmaurer commented on #3169
I think we can close this

[2022-10-13 07:18] #3169 closed

[2022-10-13 07:19] normanmaurer commented on #3334
With the up coming netty 5 we decided to only support "core protocols" by ourself. This kind of stuff could be added to the netty-contribs repo tho

[2022-10-13 07:19] #3334 closed

[2022-10-13 07:20] normanmaurer commented on #3760
This was dropped for 5.0

[2022-10-13 07:20] #3760 closed

[2022-10-13 07:20] normanmaurer commented on #3538
@chrisvest did rework the `cookie` APIs. Lets close this

[2022-10-13 07:20] #3538 closed

[2022-10-13 07:21] normanmaurer commented on #3902
Let's close this. We could have users contrib it to netty-contribs tho.

[2022-10-13 07:21] normanmaurer commented on #3824
ChannelPool was removed for 5.0

[2022-10-13 07:21] #3824 closed

[2022-10-13 07:22] normanmaurer commented on #3938
This was fixed in 5.0 duets removal of moving Channels between EventLoops.

[2022-10-13 07:22] #3938 closed

[2022-10-13 07:22] normanmaurer commented on #4808
This was done by adding the netty bom

[2022-10-13 07:22] #4808 closed

[2022-10-13 07:23] #4886 closed

[2022-10-13 07:24] normanmaurer commented on #5303
I think we will never find the time for this and also its not a hight priority imho

[2022-10-13 07:24] #5303 closed

[2022-10-13 07:42] Polve commented on #5303
I suppose in time this becomes obsolete as newer JDKs are able to use low level zero-copy buffers and APIs, but I could be mistaken

[2022-10-13 08:03] amizurov commented on #12655
I think this one we can close, but we have similar issue for client handshaker i'll prepare PR. @hoat4 any concerns ?

[2022-10-13 08:16] tsegismont commented on #10991
Thank you both for the update.

[2022-10-13 08:24] #12445 closed

[2022-10-13 10:40] nitsanw commented on #12847
I think this is similar to this one: https://github.com/netty/netty/issues/8916
Essentially, IKVM has a weird Unsafe impl. which messes up JCTools. This was fixed in Netty at some point, but maybe OP is using an old Netty?

[2022-10-13 14:39] andreasdc commented on #12835
Yes I add this, should I remove it when closing the channel?

[2022-10-13 16:56] chrisvest commented on #5303
KCM doesn't sound like a zero-copy thing, but rather some niche messaging over TCP. If we want zero-copy, it'd be better to leverage the features that epoll and (eventually) io_uring provide for that.

[2022-10-13 17:20] #12239 closed

[2022-10-13 17:43] andreasdc commented on #12239
How is it not actionable? It is related to every project based on Netty.

[2022-10-13 18:18] chrisvest commented on #12239
There's no hypothesis for how things could be faster, no specific issue identified and no goal for what is fast enough. We have to call `writev(2)` to put data on the network; if we don't recycle objects or pool buffers, we'll have to allocate more; if we don't do reference counting of buffers, we'll have memory leaks, and so on.

Meanwhile, @franz1981 has been working on identifying and fixing ta

[2022-10-13 20:08] andreasdc commented on #12239
Are you talking about https://github.com/netty/netty/pull/12806?
It needs changes for the code, correct?

[2022-10-13 20:39] Opayne93 opened #12894 "DnsResolveContext$SearchDomainUnknownHostException error on M1 Mac"
### Expected behavior

I have a service that calls out to other services within our VPN network. When this happens, I expect the calls to return successfully.

### Actual behavior

The call results in the following error:
[code]

### Netty version
4.1.78.Final

### JVM version (e.g. `java -version`)
openjdk version "11.0.16" 2022-07-19 LTS
OpenJDK Runtime Environment Corretto-11.0.16.8.1 (build 11

[2022-10-14 09:33] franz1981 opened #12895 "Turn hot/common JNI calls into Critical Native"
JNI calls can be faster by respecting the JDK definition of Critica Native functions:
see https://github.com/franz1981/jdk11/blob/a060be188df894ed5c26fc12fc9e902f9af32bd3/src/hotspot/share/prims/nativeLookup.cpp#L277

and SO at https://stackoverflow.com/questions/36298111/is-it-possible-to-use-sun-misc-unsafe-to-call-c-functions-without-jni/36309652#36309652

Many of our epoll JNI methods (writev/

[2022-10-14 15:15] Opayne93 commented on #12894
Turns out it was an issue with my VPN. Closing

[2022-10-14 15:15] #12894 closed

[2022-10-14 21:52] chrisvest commented on #12895
I'm skeptical about how much of a difference it'll make, since the system calls into the kernel have overhead already. We could try with one of the transports and see what the benchmarks say.

[2022-10-15 10:11] #12886 closed

[2022-10-15 19:08] franz1981 commented on #12239
@andreasdc yep and not only.
It doesn't need any code change to benefit from it.
It both benefit http 1.1 users and others

[2022-10-15 21:52] slandelle commented on #12895
FYI: https://github.com/apangin/nalim

[2022-10-16 04:52] franz1981 commented on #12895
@slandelle yep I believe @apangin has followed our conversations on twitter about it :)
That guy is incredible 🤣

[2022-10-16 13:20] andreasdc commented on #12239
I think I see improved performance, nice job! 🚀 You know when it comes to competition in gameplay, everyone has some ping to the server, every ms is important also small changes can do a lot in terms of smoothness and general speed. ❤️ Do you think it's possible to improve something more?

[2022-10-17 09:08] cavallium opened #12904 "Exception when using other "1xx Informational Response" codes"
Issue #4079 fixed a bug with 100 continue, but that workaround should be applied to all 1xx codes, not just 100.

This is the problematic code:
https://github.com/netty/netty/commit/f8019ba481e014ffcd8b58cac52d09bfaf1f7ed8#r87007654

[2022-10-17 12:02] franz1981 commented on #12239
I've pushed few changes, including replacing `read` and `write` syscalls with faster ones, but TBH I've no idea re your use case

ie
- you run with many cores?
- do you have `DuplexChannelHandler`s in your pipeling?
- are you using HTTP?
- which machine you run the benchmark(s)?
- which load generator?

Happy that has worked for you anyway ;)

[2022-10-17 22:54] andreasdc commented on #12239
I use netty in Minecraft servers, fork of Spigot and fork of BungeeCord https://github.com/SpigotMC/BungeeCord.
you run with many cores?
Yes, I run with many cores.
do you have DuplexChannelHandlers in your pipeling?
I don't think so.
are you using HTTP?
I don't think so.
which machine you run the benchmark(s)?
Which profiler you mean? I use https://spark.lucko.me/
which load generator?
I don't un

[2022-10-18 08:23] jie-yang-java opened #12907 "UnpaddedInternalThreadLocalMap nextIndex issues"
为什么UnpaddedInternalThreadLocalMap静态变量nextIndex不变成成员变量？静态变量导致了多个线程中有部分线程中的indexedVariables空间浪费情况。
translation：
Why does the UnpaddedInternalThreadLocalMap static variable nextIndex not become a member variable? Static variables lead to the waste of indexVariables space in some threads of multiple threads

[2022-10-18 14:42] #12749 closed

[2022-10-18 14:49] tomvandenberge opened #12908 "Blocking call in MacOSDnsServerAddressStreamProvider"
### Expected behavior
No blocking calls reported by BlockHound
### Actual behavior
[code]
### Steps to reproduce
Make an http request

### Netty version
4.1.82.Final
### JVM version (e.g. `java -version`)
openjdk version "11.0.13" 2021-10-19 LTS
OpenJDK Runtime Environment Zulu11.52+13-CA (build 11.0.13+8-LTS)
OpenJDK 64-Bit Server VM Zulu11.52+13-CA (build 11.0.13+8-LTS, mixed mode)
### OS versio

[2022-10-18 20:59] chrisvest commented on #12907
Because the meaning of each index needs to be the same across all threads, in order to maintain a 1:1 mapping between FastThreadLocal objects, and slots in the thread-local maps.

[2022-10-18 20:59] #12907 closed

[2022-10-18 22:03] fshp opened #12909 "Broken BrotliDecoder"
### Expected behavior
Transparent stream compression
### Actual behavior
<details>
  <summary>io.netty.handler.codec.compression.DecompressionException: Brotli stream corrupted</summary>

[code]
</details>

### Steps to reproduce
Just run example. It work with zlib, lz4 and others codecs. But not with brotli.

### Minimal yet complete reproducer code (or URL to code)
https://github.com/fshp/brotli

[2022-10-19 07:27] normanmaurer commented on #12909
@hyperxpro  can you have a look ?

[2022-10-19 11:54] hyperxpro commented on #12909
Thanks for the heads up. There is a major bug in Encoder.

PR coming soon.

[2022-10-19 19:53] #12908 closed

[2022-10-20 01:00] Ghatage opened #12915 "netty-all v4.1.77 pulling in netty-transport-native-epoll jar for 2 different architectures at the same time."
### Expected behavior
Since upgrading to `netty-all 4.1.77.Final`, we've been seeing this error show below.
We used `mvn dependency:tree` to map out what transitive dependencies `netty-all` is pulling in.
It showed that `netty-transport-native-epoll` jar for 2 different architectures is being pulled in.
Our understanding is that this is probably causing a conflict and hence we see the error below.

[2022-10-20 07:01] normanmaurer commented on #12915
No thats expected... the problem seems like you either have multiple different versions on the class path

[2022-10-20 10:44] jessielesbian commented on #12847
So you guys admitted to me that JCTools did this?
![image](https://user-images.githubusercontent.com/55774978/196927715-afce0d21-2e0c-496b-8007-50ccfbb8bd85.png)
This is allowed in OpenJDK, but crashes with ArrayIndexOutOfBondsException on IKVM.NET. My solution = relax array safety checks so that this behavior won't throw ArrayIndexOutOfBondsException.

[2022-10-20 12:30] Ghatage commented on #12915
![image](https://user-images.githubusercontent.com/3139649/196948738-c35b4c9d-ecb3-4acb-8eae-8065f058dd27.png)

Specifically these two.

If we bump the version down to v4.1.68.Final, it ends up importing only one of the epoll dependencies. If we go to 4.1.77, it imports these two.
Quite confusing.

[2022-10-20 12:31] normanmaurer commented on #12915
This is correct... please paste the full dependency tree.

[2022-10-20 12:39] jstuyts opened #12917 "Writing to channel closed by server hangs the client"
I found this while using Vert.x, and was able to create a reproducer for it. The Vert.x issue explains the expected and actual behavior, and the reproduction steps: https://github.com/eclipse-vertx/vertx-sql-client/issues/1226

The summary is: if the server closes a connection, the client waiting on a response from the server gets interrupted, and then the client hangs when it tries to write (roll

[2022-10-20 15:27] afelino commented on #8698
I've met the same problem on Android on 4.1.82.Final. Do you need such a reproducer?

[2022-10-20 21:26] xitizzzz commented on #12432
@chrisvest @ashertarno did you come to any conclusion why we are having this error ? I see the same error for netty 4.1.79.Final with tcnative to 2.0.53.Final

[2022-10-21 07:55] vietj opened #12919 "ByteBuf slice duplicates are not slices"
### Expected behavior

A `ByteBuf` duplicated slice remains a slice.

### Actual behavior

A `ByteBuf` duplicated slice is a duplicate and not a slice anymore.

### Steps to reproduce

Duplicating a sliced `ByteBuf` is enough.

### Minimal yet complete reproducer code (or URL to code)

[code]

### Netty version

Most I'd say

### JVM version (e.g. `java -version`)

N/A

### OS version (e.g. `uname

[2022-10-21 07:56] NewProjectOC opened #12920 "netty post with urlencoded may write an extra duplicate key with null value"
io.netty.handler.codec.http.multipart.HttpPostRequestEncoder
nextChunk() -> encodeNextChunkUrlEncoded()

it will read this.currentData.getName() as key and then read this.currentData.getChunk() as value, but when "key=value&".size() == chunkSize(default 8096), it won't clean this.currentData, then next round it will read this.currentData.getName() as key and put it into this.currentBuffer, then re

[2022-10-21 07:59] franz1981 commented on #12919
I would expect as well that It won't be expanded too

[2022-10-21 10:18] rodwiddowson opened #12923 "Odd signing key for netty-transport-classes-epoll and netty-transport-native-kqueue(linux-x86_64)"
### Expected behavior
I would expect released artifacts to be signed by a person, not a robot.  All the other jars are signed by
[code]

### Actual behavior
These jars are signed by
[code]
### Steps to reproduce
* Download the jar and asc file from wherever
* Check the signature

### Netty version
4.1.75

[2022-10-21 10:43] rodwiddowson commented on #12923
So does that mean that the
* The bot key is kept as securely as your personal key ?
* That you will (the user who identifies as normanmaurer) will vouch for the bot key? I can then check that this normanmaurer has commit privs to this project and then I can trust that key.

Best still will be to discover your trusted keys listed on your website (I looked but may well have overlooked them) or to fi

[2022-10-21 10:44] normanmaurer commented on #12923
Yes... also the bot has commit access.

[2022-10-21 17:16] jattisha opened #12925 "ServerCookieDecoder should treat comma or semicolon as cookie value separator per RFC2965 Spec"
### Expected behavior
Netty's [ServerCookieDecoder](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/cookie/ServerCookieDecoder.java) should treat both `,` and `;` as separators for the cookie values, since the decoder [claims](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/cookie/ServerCookieDecoder.java#L32

[2022-10-21 18:45] jattisha commented on #12925
Actually, I may be inherently incorrect here about how many presences of $Version should exist.

[2022-10-21 18:49] jattisha commented on #12925
Closing as I misread spec.

[2022-10-21 18:49] #12925 closed

[2022-10-21 20:00] chrisvest commented on #12919
It might be illogical or unexpected, but it is specified to behave this way. The javadocs for `duplicate()` say that it returns…

[code]

So `duplicate()` always gives you duplicates, and `slice()` always gives you slices.

[2022-10-22 09:44] hello-piper opened #12928 "Frame cannot be reused"
### Expected behavior
 Memory does not grows over time

### Actual behavior
 frame cannot be reused. So Memory grows over time .

### Steps to reproduce
broadcast msg

### Minimal yet complete reproducer code (or URL to code)

        TextWebSocketFrame frame = new TextWebSocketFrame(msg.toString());

        // 1 This is correct! But frame cannot be reused. So Memory grows over time .
        //

[2022-10-23 14:29] Scottmitch commented on #11542
[code]

[2022-10-24 07:45] vietj commented on #12919
@chrisvest I hear that, however it is not possible from the user code perspective to determine whether the ByteBuf is a duplicate or a slice, if it needs to gets a duplicate of a slice with the same semantic.

[2022-10-25 04:41] BrentDouglasB1 opened #12931 "InternalThreadLocalMap initialisation order means FastThreadLocal cannot be used in logging infrastructure"
### Expected behaviour

It would be nice to be able to use FastThreadLocal in a custom log4j2 appender.

### Actual behaviour

FastThreadLocal tried to initialise the static `logger` field before it initialises the `nextIndex` field which leads to this:

[code]

### Steps to reproduce

Hopefully the stack trace captures the issue here without a reproducer, if the logger was initialized after the o

[2022-10-25 05:37] normanmaurer commented on #12931
PRs welcomeAm 25.10.2022 um 06:42 schrieb BrentDouglasB1 ***@***.***>:﻿
Expected behaviour
It would be nice to be able to use FastThreadLocal in a custom log4j2 appender.
Actual behaviour
FastThreadLocal tried to initialise the static logger field before it initialises the nextIndex field which leads to this:
2022-10-20 16:09:40,415 main ERROR Unable to invoke factory method in class whatever.Cust

[2022-10-25 05:54] BrentDouglasB1 commented on #12931
@normanmaurer I'll send one this evening

[2022-10-25 10:22] andrewmyersyapily opened #12932 "Netty failing to send client certificate in MTLS handshake"
### Expected behavior
Certificates are attached during MTLS call to server for successful authentication.

### Actual behavior

Client certificate is not attached when making a call from reactor netty, this is visible when capturing the handshake with Wireshark. The server first requests our certificate but we send Certificates Length = 0 which results in 401 unauthorised.

When making this same c

[2022-10-26 06:16] heixiaoma opened #12933 "WebSocketClientHandshaker java.lang.NullPointerException"
WebSocketClientHandshaker
![1666764902075](https://user-images.githubusercontent.com/10923974/197948891-0bc9490a-8b02-4d0f-bc49-506fcb1a0d11.png)

[2022-10-26 06:22] heixiaoma commented on #12933
Missing: header-> origin

[2022-10-26 08:55] needmorecode commented on #12928
Let's analyse the memory leak logic:
We assume the original RC(reference count) of the frame is 1, and the number of channels is N.
1. retainedDuplicate() makes RC++.
2. writeAndFlush() triggers RC-- at the end of the pipeline.
3. At last RC = 1 + N - N = 1, so it will not be released.

I think the right code should be:
[code]

[2022-10-26 12:45] linghengqian opened #12934 "Maybe the GraalVM reachability metadata generated by Netty 4.1 is placed in the wrong path"
- When I'm using GraalVM 23.0 CE Dev For JDK17 and GraalVM Native Build Tools 0.9.16 to build a GraalVM Native Image related to `Netty 4.1.84.Final`, https://github.com/apache/shardingsphere/actions/runs/3322527648/jobs/5491672262 's logs have been seen some Netty related  warning logs.

[code]

- The view at https://github.com/oracle/graalvm-reachability-metadata/issues/89#issuecomment-1288911522

[2022-10-26 16:06] hyperxpro commented on #12933
Please explain in more detail.

[2022-10-26 20:12] chrisvest commented on #12934
@gradinac can you take a look?

[2022-10-26 23:58] heixiaoma commented on #12933
When the websocketclient connection request header is missing the origin, a null pointer problem will occur

[2022-10-27 05:17] novice88 commented on #9803
Connection closed also not freeing memory，I create 40,000 connections, each connection sends a TextWebsocketFrame when it is established, and these memory are not released when it is closed

[2022-10-27 11:22] ct-tzarouali commented on #10820
After upgrading to Netty 4.1.84.Final I'm also seeing that leading whitespaces inside the header value produce the following error:
`java.lang.IllegalArgumentException: a header value contains prohibited character 0x20 at index 0.`

[2022-10-27 12:48] horizonzy opened #12936 "Some question about the JVM param `-Dio.netty.maxDirectMemory=0`"
### Expected behavior
`-Dio.netty.maxDirectMemory=0` means the netty didn't record the direct memory occupation, `java.nio.Bits` will take over the work.
It looks better, If some code creates `java.nio.ByteBuffer` directly, and then clear the GC root. and then netty creates some direct memory, if the total direct memory is over the limit, JVM will do System.GC() to help to free the not reachable `

[2022-10-28 02:27] RealMuDao opened #12937 "io.netty.util.collection is not exist in source code"
### Expected behavior

### Actual behavior
![image](https://user-images.githubusercontent.com/19743480/198467472-51617756-48d3-478a-ad63-0d6b405be19e.png)

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1
### JVM version (e.g. `java -version`)
java version "1.8.0_321"
Java(TM) SE Runtime Environment (build 1.8.0_321-b07)
Java HotSpot(TM) 64-B

[2022-10-28 03:40] chrisvest commented on #12937
It's generated at build time. Do a test-compile with Maven, and Intellij should be able to pick up the generated sources.

[2022-10-28 15:16] chrisvest commented on #12936
The cleaner adds a bit of overhead when freeing memory, but not much, and it won't impact the system if you use the pooling allocator.
Ideally you want to avoid frequent calls to `System.gc()` - it's either disabled in the JVM (so whatever it's hoping to fix, likely won't be), or it incurs a big cost to the system performance.

[2022-10-28 18:28] chrisvest commented on #12933
@amizurov What's your take? Do we need validation to check for the origin header somewhere?

[2022-10-28 18:36] chrisvest commented on #12737
We run builds with Java 17, so this doesn't make much sense.

Also, both `PlatformDependent` and `PlatformDependent0` are in the same package, same module, same jar file, so why can one be found but not the other?

[2022-10-28 18:39] chrisvest commented on #12915
Closing since we didn't hear back (and the `NoSuchMethodError` is likely a _version_ mismatch, not an arch mismatch)

[2022-10-28 18:39] #12915 closed

[2022-10-28 18:40] #12757 closed

[2022-10-28 18:43] chrisvest commented on #12779
Guessing this got resolved. Otherwise we can reopen.

[2022-10-28 18:43] #12779 closed

[2022-10-28 18:47] chrisvest commented on #12648
Sounds like the problem is not showing up after a version upgrade. Closing.

[2022-10-28 18:47] #12648 closed

[2022-10-28 22:04] chrisvest commented on #12432
Yeah, you need to either create a `libssl.so.1.0.0` symlink for your openssl so tcnative can find it, or use the boringssl variant of tcnative.

[2022-10-28 22:04] #12432 closed

[2022-10-29 00:36] heixiaoma commented on #12933
Now he throws a null pointer. I think we can give some warning logs

[2022-10-30 01:33] andreasdc commented on #12239
@franz1981 did you look into that by any chance?

[2022-10-30 10:48] franz1981 commented on #12239
Please open a new issue if there is any real concern on a specific subject and not a generic moving target ie be faster.
FYI your app using duplex handlers under the hood ( see https://netty.io/4.1/api/io/netty/handler/timeout/ReadTimeoutHandler.html) hence it already benefit of the latest improvements (no idea if yet in a released version)

[2022-10-30 13:43] amizurov commented on #12933
Hi @heixiaoma , @chrisvest. Let me take a look.

[2022-10-30 18:18] andreasdc commented on #12239
Do you have an idea on how to describe it?

[2022-10-31 08:32] amizurov commented on #12933
@heixiaoma  Could you please clarify, did you set `webSocketURL` -> "/ws" via constructor and `customHeaders` which contains `Host` but does not contain `Origin` header ?

[2022-10-31 09:08] heixiaoma commented on #12933
yes

[2022-10-31 11:56] gradinac commented on #12934
It seems like the generated metadata is put into a directory that doesn't follow the recommended metadata directory layout, I'll create a PR for that creates the expected metadata directory layout and move the generated metadata there

[2022-10-31 12:40] #12937 closed

[2022-10-31 12:55] normanmaurer commented on #12931
Fixed by https://github.com/netty/netty/pull/12942 ... @BrentDouglasB1 PTAL

[2022-10-31 14:16] jhareuk opened #12943 "Does Netty Support Injection of an Additional Proxy before an HTTP Message Reaches the Server?"
### Expected behavior

We are currently using Zuul `2.1.9` which uses Netty `4.1` under the hood. Since Zuul doesn't seem to have support for an additional proxy call between Zuul and an upstream Service, I'm exploring if it would be possible to override the behavior at the Netty layer. Taking Zuul out of the equation, does Netty 4.1 support setting an additional hop to a proxy server before a mes

[2022-11-01 02:15] BrentDouglasB1 commented on #12931
Oh, thank you @normanmaurer. I accidentally deleted /boot/EFI on my laptop the other day which is why I didn't follow through with that PR.

[2022-11-01 04:24] hyperxpro commented on #12943
Add `HttpRequestDecoder` at top, modify the header, remove the `HttpRequestDecoder` and pass the message to `HttpProxyHandler`.

[2022-11-01 07:25] simon28li opened #12948 "Failed to execute mvn test on aarch64"
### Expected behavior
Hope that the execution of `mvn test` will be successful on aarch64.

### Actual behavior
I saw the error
/tmp/com_aayushatharva_brotli4j_2094286067179980/libbrotli.so: / lib64/libm.so.6: version GLIBC_2.29 not found (required by /tmp/com_aayushatharva_brotli4j_2094286067179980/libbrotli.so),
 whether it was caused by a lower version of libm, but on x86 machines, I checked th

[2022-11-01 09:16] amizurov commented on #12933
So the main problem here, that if we pass the webSocketURL without host (e.g. '/ws') we faced with NPE even when we will build the `Host` header value. But if we pass the `Host` header value via `customHeaders` everything should works fine, but now we got the NPE on the building `Origin` header value (see https://github.com/netty/netty/issues/9673).

I created the PR which should fix the `Origin`

[2022-11-01 18:00] helios2k6 commented on #10916
This issue is also blocking us as well. Is there any timeline or thought going into this issue?

[2022-11-01 18:10] chrisvest commented on #12933
@amizurov Sounds good.

[2022-11-01 18:26] jhareuk commented on #12943
Thanks @hyperxpro . What would the header name be in this case? Can you elaborate more in a code example?

[2022-11-01 20:39] chrisvest commented on #12948
@hyperxpro what's your take?

[2022-11-01 21:08] chrisvest commented on #10820
@ct-tzarouali That is correct. Header values cannot start with a whitespace.

[2022-11-01 21:13] chrisvest commented on #10820
Header value validation was overhauled in 4.1.84.Final to follow the RFCs to the letter:

[code]

According to the above, the characters mentioned in this issue are not valid characters in header values:

* '\u000B', U+000B VERTICAL TABULATION
* '\f', U+000C FORM FEED
* '\u001C', U+001C FILE SEPARATOR
* '\u001D', U+001D GROUP SEPARATOR
* '\u001E', U+001E RECORD SEPARATOR
* '\u001F', U+001F UNIT SE

[2022-11-01 21:13] #10820 closed

[2022-11-01 23:09] MatthewLieber opened #12956 "Spack support"
Netty having support for Spack would extremely useful for some users.

This can be done by cloning the Spack repo from github https://github.com/spack/spack
cd spack
source share/spack/setup-env.sh
spack create https://github.com/netty/netty/archive/refs/tags/netty-4.1.84.Final.tar.gz

Then completing the FIXME items in the package file.  Mostly just adding who the maintainers for the package are

[2022-11-02 03:19] hyperxpro commented on #12948
Brotli4j aarch64 is compressed for Ubuntu 20.04 GLIBC. I will add backward compatibility like x86_64 binary by next week probably.

[2022-11-02 05:40] jhpark0912 opened #12957 "Sometimes (not always) decoder.hasnext() throws EndOfDataDecoderException"
I upload files with netty server but, sometimes failed to upload.
When failed to upload, I could always check the same log.

io.netty.handler.codec.http.multipart.HttpPostRequestDecoder$EndOfDataDecoderException: null
           at io.netty.handler.codec.http.multipart.HttpPostMultipartRequestDecoder.hasNext(HttpPostMultipartRequestDecoder.java:366) ~[netty-all-4.0.24.Final.jar:4.0.24.Final]

[2022-11-02 07:00] amizurov commented on #12933
Added to https://github.com/netty/netty/pull/12941

[2022-11-02 07:44] hyperxpro commented on #12957
Netty 4.0.X has reached EPL. Please upgrade to latest 4.1.X version.

[2022-11-02 07:46] #12934 closed

[2022-11-02 14:07] jrhee17 opened #12959 "Netty's BlockHound integration assumes `FastThreadLocalThread` is always non-blocking"
### Expected behavior

The motivation is similar to https://github.com/netty/netty/issues/12125 which has already been reported and closed.

I'm wondering if `FastThreadLocalThread` can be used for executing blocking tasks while integrating with Netty's `BlockHound` integration.

### Actual behavior

Some libraries utilize `FastThreadLocalThread` not only for event loops but also for blocking task

[2022-11-02 23:43] jhpark0912 commented on #12957
I want to upgrade 4.1.x but, it has aws upload issues. So, I used this version, and upgrade 4.0.56. I'll find another way. thx.

[2022-11-02 23:43] #12957 closed

[2022-11-03 04:22] linghengqian commented on #11369
- Considering that the 4.1 branch already has quite a few submodules actively maintaining GraalVM reachability metadata, what should we do for this issue?

[2022-11-03 07:35] normanmaurer commented on #11369
@gradinac any idea ?

[2022-11-03 07:42] #12904 closed

[2022-11-03 10:30] simon28li commented on #12948
Does this mean that other aarch64 systems other than ubuntu, such as centos and suse, do not support testing?

[2022-11-03 10:38] simon28li commented on #12948
I repeated the consistent error in the ubuntu 18.04.5 test

[2022-11-03 10:42] hyperxpro commented on #12948
Nope. It's just compiled with a newer version of GLIBC. Just have the GLIBC_2.29 or above and you're good to go

[2022-11-03 10:44] hyperxpro commented on #12948
That's because Ubuntu 18.04 is below GLIBC_2.29.

[2022-11-03 16:13] jcornejoga opened #12963 "Suffering from memory leaks due "org.jboss.netty.channel.socket.nio.NioAcceptedSocketChannel""
### Expected behavior

Netty attending requests with no issues.

### Actual behavior

After some requests we're getting the error "java.lang.OutOfMemoryError: native memory exhausted"

Here is a portion of the stack trace:

java.lang.OutOfMemoryError: native memory exhausted
        at sun.misc.Unsafe.allocateDBBMemory(Native Method)
        at java.nio.DirectByteBuffer.<init>(DirectByteBuffer.jav

[2022-11-03 18:15] chrisvest commented on #12963
First, 3.10.6 is 8 years old, and we don't support the 3.x line anymore.

Second, you're running out of _native_ memory, not heap memory. Eclipse MAT is only telling you where your heap memory is going.
You need to figure out where the native memory is going.
You can turn on leak detection.
If you use a pooling allocator, you can also try switching to a non-pooling one.
You could try switching to

[2022-11-03 18:15] #12963 closed

[2022-11-04 02:52] vajaw commented on #12820
spark shuffle has the same problem when using netty

[2022-11-04 07:13] xia-fei commented on #12119
`          <dependency>
                <groupId>io.netty</groupId>
                <artifactId>netty-bom</artifactId>
                <version>4.1.36.Final</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>`
I reduced the Netty version and solved the problem. The previous Netty version was "4.1.82"

[2022-11-04 19:14] gradinac commented on #11369
I can take a look into this :)
@linghengqian, do you by any chance have a minimal example where BouncyCastle ALPN breaks an image build but works on Java? If yes, that would greatly help trying this out and seeing where the problem is

[2022-11-06 04:55] RapperCL opened #12966 "PoolSubpage enhance to avoid the ArrayIndexOutOfBoundsException of bitmap"
PoolSubpage uses a bitmap to manage subPage usage. On creation, the bitmap is assigned a length of runSize >>> 6 + LOG2_QUANTUM. When elemSize is not null, The bitmapLength is computed and the bitmap is assigned.
But only elementSize is judged here! = 0, in correct case, elemSize >= 16, but I think we can enhance this method to keep the context logic consistent, so as to avoid the ArrayIndexOutOfB

[2022-11-07 07:15] oskarwiksten opened #12968 "ReferenceCountedOpenSslEngine on jdk without TLSv1.3 should set SSL_OP_NO_TLSv1_3"
### Expected behavior
Using an older jdk such as 1.8.0_172 without support for TLSv1.3 should set the `SSL_OP_NO_TLSv1_3` bit in openssl options.

### Actual behavior
The `SSL_OP_NO_TLSv1_3`-bit ("do not use TLSv1.3"-bit) is only set if the list of protocols is explicitly specified, even if the jdk lacks support for TLSv1.3.

The consequence of this bit not being set is that tls handshakes for a s

[2022-11-07 11:16] normanmaurer commented on #12956
As @chrisvest said... let me close this one

[2022-11-07 11:16] #12956 closed

[2022-11-08 05:20] freedom1b2830 opened #12973 "Question about default encoding"
I know that with the release of java 17, the default encoding has become utf8. But how will this affect the version below?

`` find -type f -name *java -exec grep -HinE --color "defaultCharset\(\)" {} \;|grep -v "src/test"``
[code]
### Netty version
current version is a4c37bc06d16ba2267a3f8cac151f29bd9118aad
### JVM version (e.g. `java -version`)
java <17

[2022-11-08 07:52] novice88 commented on #9803
same problem

[2022-11-08 11:00] normanmaurer commented on #12820
@vajaw please open a new issue and provide details

[2022-11-08 16:39] vietj opened #12974 "Incorrect behavior when an HTTP/2 server receives an unknown stream id"
### Expected behavior

The server will send a GO_AWAY frame with a PROTOCOL_ERROR and close the connection (as per RFC 7540).

### Actual behavior

The server sends a RST_STREAM instead.

### Steps to reproduce

1. establish an HTTP/2 connection2.
2. send a header frame with a valid identifier, e.g 5
3. send a header frame with a lower identifier, e.g 34.
4. observe the serve response5.

The `Http

[2022-11-08 16:39] vietj commented on #12974
I can contribute a fix of course.

[2022-11-08 19:08] hyperxpro commented on #12974
Please do a PR. :)

[2022-11-08 22:02] mpeddada1 opened #12977 "Performing native image compilation with netty and slf4j results in UnsupportedFeatureException"
### Expected behavior
Native image compilation succeeds at build-time without the need for extra configurations.

### Actual behavior
Performing native image compilation on a project that contains just `io.netty:netty-all` and `slf4j` results in UnsupportedFeatureException at build-time.

### Steps to reproduce
Reproducer: https://github.com/BenWhitehead/graalvm-netty-slf4j-repro
1) Clone the repo

[2022-11-09 07:26] #12959 closed

[2022-11-09 12:44] vietj commented on #12974
will do soon

[2022-11-09 15:22] vietj opened #12981 "HPACK dynamic table size update must happen at the beginning of the header block"
### Expected behavior

HPACK decoder accepts dynamic table size update at the beginning of the block.

Cf RFC 7531, section 4.2

### Actual behavior

HPACK decoder tolerates dynamic table size update anywhere in the block

`io.netty.handler.codec.http2.HpackDecoder` can be modified to only allow setDynamicTableSize to be called only if that is the first of the block processing and fail otherwise w

[2022-11-09 15:22] vietj commented on #12981
I can contribute a fix for this.

[2022-11-09 22:46] chrisvest commented on #12973
All of those have overrides that allow the charset to be specified, except `DefaultHostsFileEntriesResolver` which on Windows is trying something on multiple different charsets, of which the default is one. I don't think we have a problem here.

[2022-11-09 22:46] #12973 closed

[2022-11-10 02:07] gradinac commented on #12977
The core problem here lies in the way class initialization happens on native-image: if a class is marked for build time initialization, it's class initializer will run during the native-image build. If that class initializer then touches classes that are not marked for build time initialization, those classes will accidentally be initialized and native-image will report an error.
The reason this h

[2022-11-10 11:28] #9673 closed

[2022-11-13 11:16] Fdemo123 opened #12994 "ohttpresponse"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2022-11-13 15:09] hyperxpro commented on #12994
????????????????????????????????????????????????????????????????????????????????????????????????????

[2022-11-13 18:50] chrisvest commented on #12994
Looks like this was opened by mistake.

[2022-11-13 18:50] #12994 closed

[2022-11-13 18:52] chrisvest commented on #12933
I think this was fixed by #12941

[2022-11-13 18:52] #12933 closed

[2022-11-14 04:41] jr981008 opened #12995 "accidental JVM crash occurs in large clusters."
In 600 VM nodes microservice clusters. After upgrading som jars(not netty), jvm crash occurs occasionally. About one times a day, the crash stack points are associate netty.
The crash point is different each time and in different VM node。We are a little helpless about these jvm crashes. thank you provide idea about these jvm crash.
### Netty version
Netty 4.1.74.Final
### JVM version (e.g. `java -

[2022-11-14 08:30] normanmaurer commented on #12995
Please upgrade to a more recent JVM version. The version you are using is really old

[2022-11-14 08:32] #12981 closed

[2022-11-14 08:57] yuanzhixiang opened #12996 "Websocket opens serverNoContext, eventloop will block, which will seriously affect performance"
### Expected behavior

Turning on serverOnContext doesn't affect performance

### Actual behavior

when websocket opens serverNoContext, eventloop will block on `at jdk.internal.ref.PhantomCleanable.remove(PhantomCleanable.java:103)`, in the example below, blocking on the lock at 0x912

[code]

### Steps to reproduce

reproduce project: https://github.com/yuanzhixiang/websocket-performance-bug

St

[2022-11-14 13:12] linghengqian commented on #11369
- Sorry for the late reply, as I have been plagued by some issues that are happening on my device for a long time.

- I can't seem to build a simple unit test to get the GraalVM Trace Agent to capture the GraalVM reachability metadata that is needed.  I'm trying to capture GraalVM reachability metadata for the vertx component covered by this issue.

[2022-11-14 14:43] jr981008 commented on #12995
same isuue in 1.8.0_341 aarch64

[2022-11-14 17:13] chrisvest commented on #12995
A couple of things you can try:

* Set the system property `io.netty.recycler.blocking` to `true`.
* Set the system property `io.netty.noUnsafe` to `true`.

Do these one at a time, and then together, to see what does and does not help.

[2022-11-15 03:32] persistInHacker opened #12999 "Why does the server respond with a 5-second delay"
server:
`import io.netty.bootstrap.ServerBootstrap;
import io.netty.buffer.Unpooled;
import io.netty.channel.*;
import io.netty.channel.nio.NioEventLoopGroup;
import io.netty.channel.socket.SocketChannel;
import io.netty.channel.socket.nio.NioServerSocketChannel;
import io.netty.handler.codec.string.StringDecoder;
import io.netty.handler.codec.string.StringEncoder;
import lombok.extern.slf4j.Slf4j

[2022-11-15 05:53] jr981008 commented on #12995
ok,i will try

[2022-11-15 09:37] chenatgit opened #13000 "netty dubbojson read timeout"
### Expected behavior
my project rpc frame isdubbo 2.7.0, use dubbo protocol sent json data, request and response without timeout
### Actual behavior
i has dev and test two env that delpoy with k8s cluster.

dev:
rpc frame : dubbo 2.7.0
protocol:dubbo JVM
version:open jdk1.8
operate system : redhat 8.5

kernel config:
kernel.sysrq=1
vm.swappiness=10
net.ipv4.ip_forward=1
net.bridge.bridge-nf-call-

[2022-11-15 19:04] #12909 closed

[2022-11-16 01:39] LinHuiG opened #13001 "How to configure low latency"
I came across a scene like this. Ten TCP connections received a large number of requests and responses. We decode from the netty-work thread, submit the task to another thread, and call writeAndFlash when the task is completed. task has a 30us delay.

I found through tcpdump packet capture that the latency between request and response is very erratic. The delay ranges from 70us to 3000000us, and t

[2022-11-16 01:42] LinHuiG commented on #13001
[data.xlsx](https://github.com/netty/netty/files/10017373/data.xlsx)

[2022-11-16 01:59] xiaoyifang commented on #13001
I guess the delay was caused the you business logic .

submit the task to another thread,  **takes the delayed time to execute the task **  and call writeAndFlash when the task is completed.

[2022-11-16 04:47] LinHuiG commented on #13001
I tested the task submission delay and execution delay, and they add up to 30us. That is to say, it is about 30us between receiving the request from netty and the writeAndFlash response

[2022-11-16 04:53] LinHuiG commented on #13001
submit task takes delay about 1us

[2022-11-16 07:14] LinHuiG commented on #13001
Maybe I know the reason, the client is not bound to the CPU, resulting in pulse traffic, and the server receives a large number of packets in an instant

[2022-11-16 07:14] #13001 closed

[2022-11-16 07:32] LinHuiG opened #13002 "Netty latency optimization"
I used netty-work-thread bound cpu（affinity），but I found that the cpu occupies 0% when idle, is there a spin option for netty-work-thread to reduce the delay，I don't want thread sleep, I can let it monopolize a cpu-core

### Netty version 4.1.79.Final

### JVM version (e.g. `java -version`) 1.8

### OS version (e.g. `uname -a`) centos7.8

[2022-11-16 07:37] franz1981 commented on #13002
I suggest to turn on TCP napi poll instead, if you have a kernel-space TCP stack. I'll take a look at your request when I am back to my desk, maybe implementing a custom select strategy is possible to spin wait on select

[2022-11-16 10:45] lytccc commented on #7869
<input type="file" name="filename"  value="" />
name cannot null

[2022-11-16 11:20] lytccc commented on #7869
`<input type="file" name="filename" />`
name cannot be null

[2022-11-16 12:08] hyperxpro opened #13003 "Release Handler-Ssl-Ocsp"
Netty [Handler-Ssl-Ocsp](https://github.com/netty/netty/commit/09ac33766f6c30d445dcdfb4285f589aedf5d7fe) was merged but the module is not present in bom.xml. Hence, snapshots are not being deployed.

[2022-11-16 15:15] valfirst opened #13005 "New HTTP header validation rules introduce backward compatibility issues"
Should the same validation rules be applied for both HTTP/1 and HTTP/2? This change introduces backward compatibility issues:

_Originally posted by @valfirst in https://github.com/netty/netty/pull/12760#discussion_r1024140480_

[2022-11-16 15:56] sqddk opened #13006 "A problem was encountered during the process of learning the source code"
In "io.netty.util.internal.ReferenceCountUpdater # retain0", I can 't understand how this place was written.
`if ((oldRef <= 0 && oldRef + rawIncrement >= 0) || (oldRef >= 0 && oldRef + rawIncrement < oldRef))`
Can anyone told me the reason? Or is this place written by fault?

[2022-11-16 17:49] chrisvest commented on #13005
Header validation being too relaxed has been a liability on a few occasions. Those tests are trying to add invalid header values, and since the correct default approach for a low-level library like Netty is to follow the standards closely, you get validation errors. Stripping out invalid header value characters is something you can do on a higher level, or in a `DefaultHttpHeaders` subclass, so yo

[2022-11-16 18:02] chrisvest commented on #13006
It deals with integer overflow.

[2022-11-17 01:39] #13006 closed

[2022-11-18 07:34] #13003 closed

[2022-11-18 17:24] WhiteTrashLord opened #13011 "Upgrade 4.1.77 -> netty-all-4.1.85 shows java.lang.NoSuchMethodError: io.netty.internal.tcnative.SSL.bioSetFd"
I upgraded the Netty version from 4.1.77 to netty-all-4.1.85 and SSL stopped working. I didn't do any code changes.
This is the exception:

io.netty.channel.ChannelPipelineException: io.netty.handler.ssl.SslHandler.handlerAdded() has thrown an exception; removed.
	at io.netty.channel.DefaultChannelPipeline.callHandlerAdded0(DefaultChannelPipeline.java:624)
	at io.netty.channel.DefaultChannelPipeli

[2022-11-18 17:30] normanmaurer commented on #13011
You need to also upgrade the netty-tcnative version

[2022-11-18 19:47] #13011 closed

[2022-11-18 19:48] WhiteTrashLord commented on #13011
Sorry I really used an old version of netty-tcnative

[2022-11-19 08:47] trustin commented on #12093
Sounds like it's safe to close now that it's not reproducible anymore since the upgrade, correct?

[2022-11-19 08:48] trustin commented on #12842
Let me take a look early next week unless someone does before I do.

[2022-11-20 02:13] panlw commented on #11369
My solution is:

[code]

[2022-11-20 04:52] linghengqian commented on #11369
@panlw Hi, can you build a unit test for netty or vertx ? I can verify the runtime reflection problem directly here.

[2022-11-20 19:00] linghengqian commented on #11369
- I saw this issue while preparing a PR for https://github.com/oracle/graalvm-reachability-metadata/issues/117 . I tweaked `user-code-filter.json` unexpectedly can not solve this problem.
- ![image](https://user-images.githubusercontent.com/20187731/202919438-55df149c-22e0-4645-9899-561377d5e6ab.png)
- The unit tests for vertx-core are too big, and I am still thinking about how to build the smalle

[2022-11-20 20:42] linghengqian commented on #11369
- For non-public internal classes, I really don't know how to make unit tests outside. I will try to submit a PR for netty to supplement the unit tests of BouncyCastleAlpnSslUtils.🫠

[2022-11-20 20:58] linghengqian commented on #11369
- For non-public internal classes, I really don't know how to make unit tests outside.
- But I noticed an even weirder problem.
- `io.netty.handler.ssl.BouncyCastleAlpnSslUtils` is only used by `io.netty.handler.ssl.BouncyCastleAlpnSslEngine`.
- `io.netty.handler.ssl.BouncyCastleAlpnSslEngine` is only used by `io.netty.handler.ssl.JdkAlpnApplicationProtocolNegotiator`.
- `io.netty.handler.ssl.JdkA

[2022-11-21 03:58] qqhai007 opened #13013 "udp socket leek"
### Expected behavior
udp socket not leek
### Actual behavior
udp socket   leek
### Steps to reproduce
Use lettcue to connect to the Redis,
when use  io.netty.resolver.dns.DnsAddressResolverGroup  ,there is  udp socket  leek .

but  when I use io.netty.resolver.DefaultAddressResolverGroup ，there is no udp socket leek

[code]
### Minimal yet complete reproducer code (or URL to code)

[code]
### Net

[2022-11-21 04:00] qqhai007 commented on #13013
the  jar   is   netty-resolver-dns.4.1.76.Final

[2022-11-21 07:46] hyperxpro commented on #13013
Try the latest Netty version.

[2022-11-21 10:03] linghengqian commented on #11369
- @pmlopes When I turned on central repository support for GraalVM reachability metadata, `./gradlew -Pagent nativeTest` worked fine. This means that the metadata has reached the central warehouse.
- @normanmaurer  Shouldn't this issue be marked as resolved? **And closed?**
[code]
- ![image](https://user-images.githubusercontent.com/20187731/203022167-3600a591-0093-432f-ba12-e2c72141c8e7.png)

[2022-11-21 10:44] tommyulfsparre commented on #12842
We are hitting the same or a similar issue replacing a DNS resolver with Netty DNS. Comparing the two resolver it seems like Netty DNS will reuse a local source port for the UDP socket for multiple lookups:

[code]

This sound like Netty is setting `SO_REUSEADDR` on the UDP socket but the only reference I have found is here: [DnsNameResolver.java](https://github.com/netty/netty/blob/9cd94547d0211c

[2022-11-21 14:48] trustin commented on #12842
I sent out #13014 that adds a new construct called `ConcurrencyLimit` which abstracts how we should limit concurrent actions, with one simple implementation that's similar to @mrniko's `AsyncSemaphore`. Please let me know what you think. Once approved and merged, I'll send out a follow-up PR that uses `ConcurrencyLimit` for limiting DNS queries.

[2022-11-21 15:34] tommyulfsparre commented on #12842
@trustin this seem to be a good thing in general to support but im curious; would this be required to not get timeouts when doing a large amount of concurrent DNS request with Netty?

[2022-11-22 00:42] qqhai007 commented on #13013
thank you

[2022-11-22 00:42] #13013 closed

[2022-11-22 12:33] trustin commented on #12842
@tommyulfsparre I think we have two problems that need to be dealt with. One is to rate-limit outgoing DNS queries as @mrniko suggested, and the other is using more than one source port as you suggested. I'm currently looking into the former at the moment, although we also are interested in yours.

Did you make sure using different source ports (e.g. using more than one resolver to distribute the

[2022-11-22 12:48] tommyulfsparre commented on #12842
@trustin Agree!

No I haven't found a way to make the Netty `DnsNameResolver` use multiple ports instead of using multiple resolvers as im not familiar enough with the Netty codebase yet. Will see if I manage to figure it out and will report back unless someone else does it before me.

[2022-11-23 05:40] mrniko commented on #11364
Hello All. Is there any solution for this issue?

[2022-11-23 19:58] nmonsees opened #13015 "EpollDatagramChannel NullPointerException when sending to unresolved address leading to ChannelOutputShutdown"
### Expected behavior

`EpollDatagramChannel` remains open after writing to unresolved address, similarly to `NioDatagramChannel`

### Actual behavior

`EpollDatagramChannel` shuts down with a `NullPointerException`, while `NioDatagramChannel` remains open after throwing an `UnresolvedAddressException`

### Steps to reproduce

`EpollDatagramChannel.write` to unresolved address

### Minimal yet com

[2022-11-23 20:25] nmonsees commented on #13015
This commit looks relevant, but I'm not sure the fix made its way to `EpollDatagramChannel` - https://github.com/netty/netty/commit/4f5f4cdc9df6e8c3bf65d3f72ef7cf5a8404fdd4

[2022-11-25 14:42] johannww commented on #10916
This is also affecting my pull request for Hyperledger Fabric [here](https://github.com/hyperledger/fabric/pull/3343).

The Fabric Java [gateway](https://github.com/hyperledger/fabric-gateway) cannot communicate with a peer when the peer uses an ed25519 TLS certificate.

[2022-11-25 19:20] lhotari opened #13018 "HashedWheelTimer task scheduling behavior changed in 4.1.85"
### Expected behavior

The expectation is that task scheduling behavior of HashedWheelTimer doesn't change significantly between Netty 4.1.x releases.

### Actual behavior

The HashedWheelTimer behavior changed in some way that makes multiple integration tests to fail in Apache Pulsar. The only change in HashedWheelTimer in 4.1.85.Final is the PR #12888 .

### Steps to reproduce

There are steps t

[2022-11-25 20:32] lhotari commented on #13018
@chrisvest I investigated the issue and didn't find a behavior change in HashedWheelTimer. I used HashedWheelTimerTest and made several variations of testExecutionOnTime.

There might be some subtle change that causes the issue, and we'll just have to deal with that in Pulsar.

[2022-11-26 06:41] xuwanle opened #13019 "包缺失异常"
<img width="604" alt="image" src="https://user-images.githubusercontent.com/37920211/204075911-9d05f25f-09a3-410c-89e4-43f7107d1492.png">

[2022-11-26 18:14] RodinDenis opened #13020 "Update Netty to Java 17"
Is it possible to update Netty to the last features of Java 17?

Spring 6 require a minimum of JDK 17 at runtime now.
I want to contribute this changes to Netty too, but I don't find a suitable branch.

[2022-11-26 23:29] needmorecode commented on #13019
See [this link](https://blog.csdn.net/weixin_42765516/article/details/105767951) for reference.

[2022-11-27 01:12] needmorecode commented on #13018
@lhotari After reading your comment, I reviewed my code and realised I made a mistake in #12888.
My optimisation based on the assumption that the tasks in a bucket are originally in the order of execution time, which are in fact not.
So breaking the loop at `execRound > currRound` may cause latter tasks not respond in time.

[2022-11-27 01:17] needmorecode commented on #13018
Sorry for making that trouble. I already made a PR #13021 to revert it.  @lhotari @chrisvest

[2022-11-27 03:06] hyperxpro commented on #13020
Not happening.

[2022-11-27 13:38] RodinDenis commented on #13020
The "main" branch is build against JDK 11. It's a good news. I hope that Netty 6 will be released with supported minimal version of JDK 17...

[2022-11-27 13:38] #13020 closed

[2022-11-27 18:09] chrisvest commented on #13020
We routinely test with newer Java versions. We just can't make use of any new APIs or language features. But downstream projects are free to use newer Java.

[2022-11-27 18:56] lhotari commented on #13018
@needmorecode Thanks for the quick confirmation and investigation. Your explanation makes sense. I missed that case when I was trying to add a unit test that would prove an issue.

[2022-11-28 02:08] LinHuiG commented on #13002
how can i select strategy is possible to spin wait on select，has netty provided api

[2022-11-28 14:55] icankeep opened #13023 "Why is LineBasedFrameDecoder not trying to reuse DelimiterBasedFrameDecoder implementation?"
Hello!

### My question

When I read the source code, I found that LineBasedFrameDecoder is not based on DelimiterBasedFrameDecoder, but other additional codes.

According to my understanding, when obtaining the LineBasedFrameDecoder object, it will be more concise to directly return a DelimiterBasedFrameDecoder object whose delimiters are \n and \r\n.

Why not, are there any additional considerat

[2022-11-28 14:56] icankeep commented on #13023
I don't know if it is appropriate to put this question here, if not, I will close this issue

[2022-11-28 15:47] chrisvest commented on #13019
As the link says, you just need to run a "generate sources" step with maven, e.g. via `mvn compile`, to get those classes.

[2022-11-28 15:47] #13019 closed

[2022-11-28 16:14] #13018 closed

[2022-11-28 19:38] #13015 closed

[2022-11-28 20:55] normanmaurer commented on #13015
@nmonsees thanks... fix was merged

[2022-11-28 20:58] conteit opened #13024 "Missing netty-transport-native-epoll for Apple Silicon"
Configured Maven Project for trying to create a Channel with Netty and UnixDomainSocket.

<dependency>
            <groupId>io.netty</groupId>
            <artifactId>netty-transport-native-epoll</artifactId>
            <version>4.1.85.Final</version>
            <classifier>${os.detected.classifier}</classifier>
</dependency>

### Expected behavior
Dependency successfully downloaded.

### Actual

[2022-11-28 23:30] chrisvest commented on #13024
Epoll is linux specific, hence we don't make MacOS binaries for it. On Mac, you want to use KQueue. The `Domain*Channel` classes are in `netty-transport-native-unix-common`.

[2022-11-28 23:30] #13024 closed

[2022-11-28 23:53] chrisvest commented on #11369
@linghengqian, the class is deprecated to steer people toward using `ApplicationProtocolConfig`. We can't remove them because they are public API in 4.1.

[2022-11-28 23:57] chrisvest commented on #11369
@pmlopes @panlw Ling says recent versions of Netty include correct Graal metadata so this should just work (which matches my expectation from @gradinac's recent work in that area) – can you confirm?

[2022-11-29 09:45] nesokreso commented on #11020
For Maven the workaround looks like following:

`
      <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-webflux</artifactId>
            <exclusions>
                <exclusion>
                    <groupId>io.netty</groupId>
                    <artifactId>netty-resolver-dns-native-macos</artifactId>
                </exclusion>

[2022-11-29 12:02] pmlopes commented on #11369
@chrisvest I believe we can close this issue, I've updated vert.x how to the latest versions (netty, vertx and graal):

https://github.com/vertx-howtos/graal-native-image-howto/commit/21b898f9069f7c38222b9ed2a917cb65eabfbd8a

And the build works fine!

[2022-11-29 14:21] zageyiff opened #13027 "Header values not validated after 4.1.82.Final"
### Expected behavior
Netty `4.1.82.Final` and previous versions were validating header names and values.
Which disables attacks such as cache-poisoning, cross-site scripting, cross-user defacement, page hijacking, cookie manipulation or open redirect. After `4.1.84.Final` no header value validation. (Had issues testing with `4.1.83.Final`)

The problem this method `io.netty.handler.codec.DefaultH

[2022-11-29 16:54] #11369 closed

[2022-11-29 18:09] chrisvest commented on #12968
The `ReferenceCountedOpenSslEngine` implements `SSLEngine` by using OpenSSL via JNI. Whether or not the JDK implementation of `SSLEngine` supports TLSv1.3 should not impact what you can do with OpenSSL. In fact, using OpenSSL is the work-around for lack of TLSv1.3 support in older JDKs, no?

[2022-11-29 18:16] hyperxpro commented on #13027
Interested in doing a PR?

[2022-11-29 19:04] gmuth commented on #11020
If you don't want to include native support properly (arm & intel) you should remove the scope the dependency not as "implementation" but rather "compileOnly" - (talking gradle slang :-)

[2022-11-30 19:13] zageyiff commented on #13027
@hyperxpro if I get some free time in between tasks I'll work on the PR, no promises :)