[2021-05-17 13:16] sachinkumarshetty commented on #272
We are facing a native memory increase when using 4.1.59.Final version of netty and JDK 8 + vertx.
This increase is gradual. Via jemalloc we saw Unsafe#allocateMemory usage is on a higher side.
As we are using vertx + netty, we see high usage of Unsafe by netty. So what kind of impact will disable Unsafe do? i.e setting -Dio.netty.tryUnsafe=false. How much will be a performance impact?

[2021-05-17 17:26] hyperxpro commented on #11258
Well, the latest version of Netty is 4.1.64.Final.

[2021-05-17 22:05] Stwissel opened #11263 "Remove dependency on log4J 1.x branch"
Netty, and thus all downstream projects (e.g. vert.x, Quarkus etc) show a dependency on log4j-1.2.17 which as been flagged with CVE: 20-12-2019. From a vulnerability scan:

There are 2 occurrences that need upgrade:

https://github.com/netty/netty/blob/ccca3959fd64b133edca855925fb68d077c3a8a2/common/src/main/java/io/netty/util/internal/logging/Log4JLoggerFactory.java#L18

Replace with:

[code]

ht

[2021-05-18 00:57] xiaoxiaoshudeshu commented on #11258
Tried this version and still the same will cause problems

[2021-05-18 00:58] xiaoxiaoshudeshu commented on #11258
It is the heartbeat message defined by yourself, sent on the same channel

[2021-05-18 01:30] tzssangglass commented on #11254
I built this myself

[2021-05-18 01:30] #11254 closed

[2021-05-18 04:02] Ghatage opened #11268 "Performance degradation in SslContextBuilder.build() on Java 11 for mTLS connections"
### Expected behavior
When we build an SslContext for a Client using SslContextBuilder, no matter the parameters we set for the builder, running it on Java 11 takes 2x or 3x more time than on Java 8.

An average of 30 runs of the below code on Java 8 shows an average of 500 ms, when the same is run on JDK11, it takes up to 1500 ms.

### Actual behavior
Ideally Java 11 and Java 8 performance should

[2021-05-18 06:20] normanmaurer commented on #11268
@Ghatage Did you profile where the time is spent ? Also please upgrade to the latest Java8 and Java11 version. It may be that this is related to the fact that TLSv1.3 was only added in later releases.

[2021-05-18 07:38] fredericBregier opened #11272 "netty-all 4.1.64 has a broken dependency graph"
### Expected behavior
When maven compile (or install) runs on a maven project using both dependencies below, it should not generate errors with dependencies cannot be resolved.

### Actual behavior
It generates errors such as:

`ERROR] Failed to execute goal on project testNetty64: Could not resolve dependencies for project
org.example:testNetty64:jar:1.0-SNAPSHOT: The following artifacts could no

[2021-05-18 08:29] normanmaurer commented on #11272
@fredericBregier one thing... can you verify what the outcome is when your add `netty-handler` in both cases ? Do both fail ?

[2021-05-18 08:35] fredericBregier commented on #11272
@normanmaurer When I removed `netty-all` and replaced it by `netty-handler` (same version 4.1.64-Final), it goes well.

[2021-05-18 08:36] fredericBregier commented on #11272
@normanmaurer Both Java 8 and Java 11

[2021-05-18 08:36] fredericBregier commented on #11272
@normanmaurer Sorry for the "spam", if I let `netty-all` in addition to `netty-handler`, it still has the error of course.

[2021-05-18 08:40] normanmaurer commented on #11272
Ah wait ... I may have an idea... can you try what happens when you do:

[code]

[2021-05-18 08:48] normanmaurer commented on #11272
@fredericBregier if this helps I am sure the issue will go-away with https://github.com/netty/netty/pull/11273

[2021-05-18 08:53] fredericBregier commented on #11272
@normanmaurer Still not enough:

      [ERROR] Failed to execute goal on project testNetty64: Could not resolve dependencies for project
      org.example:testNetty64:jar:1.0-SNAPSHOT: Could not find artifact io.netty:netty-transport-native-epoll:jar:${os.detected.name}-${os.detected.arch}:4.1.64.Final
      in MavenCentral (https://repo.maven.apache.org/maven2) -> [Help 1]

But less dependencies

[2021-05-18 09:00] fredericBregier commented on #11272
@normanmaurer When I compare (through IntelliJ) the Dependency Analyzer, it seems (is it correct ?) that:
- version 4.1.63-Final of `netty-all` has no specified dependency (alone), and same for `netty-tcnative`
- version 4.1.64-Final of `netty-all` has plenty of dependencies but error seems to be on `netty-tcnative` (not shown)

[2021-05-18 09:10] fredericBregier commented on #11272
@normanmaurer

I run `mvn dependency:tree -Dverbose` against 4.1.63-Final

      [INFO] --- maven-dependency-plugin:2.8:tree (default-cli) @ testNetty64 ---
      [INFO] org.example:testNetty64:jar:1.0-SNAPSHOT
      [INFO] +- io.netty:netty-all:jar:4.1.63.Final:compile
      [INFO] \- io.netty:netty-tcnative:jar:2.0.39.Final:compile

It failed using 4.1.64-Final. I tried to remove `netty-tcnative

[2021-05-18 09:37] normanmaurer commented on #11272
@fredericBregier let me investigate... here are multiple problems into play.

[2021-05-18 09:48] fredericBregier commented on #11272
@normanmaurer Just for information, I tried to exclude all "test" part, but no success yet:

    <dependency>
      <groupId>io.netty</groupId>
      <artifactId>netty-all</artifactId>
      <version>4.1.64.Final</version>
      <exclusions>
        <exclusion>
          <groupId>io.netty</groupId>
          <artifactId>netty-example</artifactId>
        </exclusion>
        <exclusion>

[2021-05-18 10:42] #11263 closed

[2021-05-18 12:23] normanmaurer opened #11275 "Update the wiki for the current the release process"
Our docs related for releases are out of date. We need to adjust these

[2021-05-18 13:57] candrews commented on #11272
The variables within `jni.classifier` aren't being resolved. The value used for it is literally `${os.detected.name}-${os.detected.arch}`.

I think the problem is that `os-maven-plugin` isn't running in this situation so those variables (`os.detected.name` and `os.detected.arch`) aren't set.

I wonder if using `os-maven-plugin` as a plugin in the parent pom, instead of as an extension, will allow

[2021-05-18 14:17] njhill commented on #11272
@candrews @normanmaurer actually the correct thing would be to not use `os-maven-plugin` at all for these. This gives you information about the OS/arch of the build system which is irrelevant to the artifacts being published. The classifier for the epoll and tcnative dependencies should just be explicitly set to `linux-x86_64`. See https://github.com/netty/netty/issues/8097.

[2021-05-18 15:13] fredericBregier commented on #11272
@candrews If it fixes the dependencies, great !!!

[2021-05-18 15:45] candrews commented on #11272
Here's the result of running `mvn dependency:tree` on the pom.xml from the description against netty with #11278:
[tree.txt](https://github.com/netty/netty/files/6502577/tree.txt) As far as I can tell, the tree output looks good.

[2021-05-18 16:32] NiteshKant commented on #11258
Ok I don't think I follow, which heartbeat? If you feel this is a memory leak then please provide an explanation of your use case, up to date reproducer and a heap dump demonstrating the problem.

[2021-05-18 17:10] boris-unckel commented on #11272
@normanmaurer Can you estimate when a 4.1.64.1 or 4.1.65 will be released?

[2021-05-18 17:11] normanmaurer commented on #11272
@boris-unckel hopefully this week

[2021-05-18 17:41] hyperxpro commented on #11275
I can help in this but might need your help sometimes when I'm stuck. Is that okay?

[2021-05-18 17:52] normanmaurer commented on #11275
I will do it when doing the next release . This will ensure I don't miss anything

[2021-05-19 02:27] laosijikaichele opened #11279 "Docs of method 'io.netty.util.internal.MathUtil#isOutOfBounds' needs to be modified"
### Expected behavior
the docs about the 'retun value' of the method `io.netty.util.internal.MathUtil#isOutOfBounds`is not correct.
It shoud be:

### Actual behavior
Actually it is the opposite:

The original doc and code as following:

### Steps to reproduce
see above.
### Minimal yet complete reproducer code (or URL to code)
see above.
### Netty version
4.1.
### JVM version (e.g. `java -version`

[2021-05-19 02:28] laosijikaichele opened #11280 "Method 'io.netty.util.internal.MathUtil#isOutOfBounds' needs to check the 'capacity' parameter"
### Expected behavior
As `io.netty.util.internal.MathUtil#isOutOfBounds` is a public utility method, it should pass all kinds of test cases. Like:
[code]
It should print `true`, which means it is out of bound.

### Actual behavior
It printed `false`, which means it is NOT out of bound.
### Steps to reproduce
see code above.
### Minimal yet complete reproducer code (or URL to code)
see code above.

[2021-05-19 03:43] #11258 closed

[2021-05-19 09:12] #11272 closed

[2021-05-19 10:24] hyperxpro commented on #11268
[code]

Output: 1515

[2021-05-19 10:24] hyperxpro commented on #11268
100 runs on Java 11 took 1515ms.

[2021-05-19 10:29] normanmaurer commented on #11268
You should use `openjmh` for benchmarks otherwise these are not representative.

[2021-05-19 10:30] normanmaurer opened #11283 "UnorderedThreadPoolEventExecutorTest.testNotEndlessExecute(...) failure during build"
[code]

[2021-05-19 11:22] hyperxpro commented on #11268
[code]

Output:
[code]

[2021-05-19 13:14] #11275 closed

[2021-05-19 13:15] hyperxpro commented on #11275
Cool.

[2021-05-19 13:42] Ghatage commented on #11268
@hyperxpro Can you also please do a diff with JDK8 ?

[2021-05-19 14:01] hyperxpro commented on #11268
[code]

openjdk version "1.8.0_292"
OpenJDK Runtime Environment Corretto-8.292.10.1 (build 1.8.0_292-b10)
OpenJDK 64-Bit Server VM Corretto-8.292.10.1 (build 25.292-b10, mixed mode)

[2021-05-19 14:02] hyperxpro commented on #11268
Well, Java 11 is almost 3x slower.

@normanmaurer Is it some sort of regression or something?

[2021-05-19 14:08] normanmaurer commented on #11268
@hyperxpro no idea... I will check that said I have some other more pressing things to do atm and as the context should not build frequently I don'T think its a super urgent thing. If you feel like it attach a profiler and check where the time is spent.

[2021-05-19 14:09] hyperxpro commented on #11268
Cool, Lemme try to tackle this.

[2021-05-19 14:12] Ghatage commented on #11268
@normanmaurer we uncovered this through a use case where a client that uses netty to connect to a large number of clusters. We started to see SSL connection timeouts and further debugging led to finding this.

@hyperxpro Thanks for benchmarking. Do let me know if you need assistance, we're keen on getting this as performant on JDK11 as it is on JDK8.

[2021-05-19 14:15] normanmaurer commented on #11268
@Ghatage even with this use case you should create one `SslContext` and share it between the clients.

[2021-05-19 14:24] slandelle commented on #11268
@normanmaurer In Gatling, we simulate lots of virtual users and each must have its own SslContext to generate the correct number of SSLSessions. So there's a use case :)

[2021-05-19 14:26] normanmaurer commented on #11268
@slandelle I am not saying there is no use-case but that it is limited :) And if there is an issue its not a regression but something that exists "forever". That said I agree we should try to fix it but I am not sure how fast I can spend time on this.

[2021-05-19 14:38] slandelle commented on #11268
My use case is super exotic. I'll try to investigate as soon as I can find some time to.

[2021-05-19 15:56] Ghatage commented on #11268
Actually there is another use case noticed by @mpnikhil.
In most places for security purposes, certificates are rotated on a routine basis.
Each one of those would require re-loading the new certs and building a new context. So it's not like once we create a context we're *done*.
Although not as intensive, its still a drag which would apply to most non-specific use cases IMO.

[2021-05-19 16:00] normanmaurer commented on #11268
@Ghatage yep... that said I think I would do this with a `KeyManager` implementation that can reload certs.

[2021-05-19 16:34] fredericBregier commented on #11272
@normanmaurer Thanks !
I will try to go to explicit dependencies, such that I will not too much depends on Netty-All. I guess it is better, since I don't need each and every codec or modules (even if I used a lot of them).

[2021-05-19 18:33] normanmaurer opened #11285 "Windows test-failures"
[code]

[2021-05-19 18:35] normanmaurer commented on #11285
Another one:

[code]

[2021-05-19 19:33] #11279 closed

[2021-05-19 19:33] #11280 closed

[2021-05-20 06:44] shakuzen commented on #6737
To add a concrete use case for this, in Micrometer we support publishing metrics to dogstatsd (Datadog-flavor of StatsD daemon) over UDP using reactor-netty currently. We have had requests to support publishing metrics to dogstatsd via unix domain sockets in micrometer-metrics/micrometer#792, and I was excited to see that reactor-netty has support for unix domain sockets built on top of the suppor

[2021-05-20 06:48] normanmaurer commented on #6737
@shakuzen I am currently super busy but I would be happy to review a PR and provide feedback. So if you want to give it a go I am happy to help

[2021-05-20 07:53] vietj commented on #6679
any plans to address the use of `OpenJdkSelfSignedCertGenerator` ?

[2021-05-20 07:59] normanmaurer commented on #6679
@vietj what you mean ? Just put `BouncyCastle` on the classpath and call it a day ?

[2021-05-20 15:33] andreypfau opened #11288 "[Question] Is Netty 5 dead?"

[2021-05-20 16:11] normanmaurer commented on #11288
No its not... in fact I am about to pick up some tasks again together with @chrisvest and @NiteshKant

[2021-05-20 17:43] hyperxpro commented on #11288
@normanmaurer Can I work on Kernel Bypass thing? (DPDK)

[2021-05-20 18:41] terrarier2111 commented on #11288
is it still planned to only support java 11 or are than any plans to support java 8 in any way shape or form?

[2021-05-20 19:54] vietj commented on #6679
that adds a new dependency where before we didn't need one

[2021-05-20 20:16] svaithia opened #11289 "ByteBuf Leak in SslHandler when running in paranoid mode"
### Expected behavior
No leak

### Actual behavior
[code]

### Steps to reproduce
Unknown - seeing this log printed in our service with PARANOID leakDetection enabled

### Minimal yet complete reproducer code (or URL to code)
Unknown

### Netty version
4.1.25

### JVM version (e.g. `java -version`)
[code]

### OS version (e.g. `uname -a`)
[code]

-----

Not seeing any of our application code in th

[2021-05-20 22:41] NiteshKant commented on #11289
I think you are going by the fact that the buffer was created by the `SslHandler`. If a handler creates and sends a buffer on the pipeline, it has passed the liability of release to the handlers after it in the pipeline.

Do you add a handler with the name `httpServerCodec`? Perhaps check in your pipeline if you are releasing all buffers.

[2021-05-20 23:02] svaithia commented on #11289
@NiteshKant:
Yes, we do have a handler with that name. It's actually just:

We are only calling `retain()` when we add the `ByteBuf` to the `List<Object> out`. Example:
[code]

Correct me if I'm wrong, we are calling `retain()` and then passing the liability to the next `Handler` in the pipeline. This usage should not result in any leaks, right?

Do you have any other suggestions to go about debug

[2021-05-21 00:55] NiteshKant commented on #11289
If the contents of `out` are sent on the pipeline such that they are released by another handler, then adding a `retain()` here is essentially calling the leak unless each frame created here is released at least twice.

[2021-05-21 06:26] normanmaurer commented on #6679
@vietj sure but a self signed cert should only be used in tests anyway so I am not sure why this is a problem

[2021-05-21 06:52] chrisvest commented on #11288
@terrarier2111 Netty 4.1 would still be supported for some time after Netty 5 is out, so you can use that on Java 8. I expect it'll take a long time for Netty 4 usage to drop away.

[2021-05-21 07:55] vietj commented on #6679
yes that's a fair point

[2021-05-21 11:28] andreypfau opened #11291 "channelInactive shouldn't call before channelActive"
### Expected behavior
prints only "Closing channel..."

### Actual behavior
prints "Closing channel..." and "Channel now inactive!"

### Steps to reproduce
https://gist.github.com/andreypfau/27f7a5616a4d5bbe19526d87928482a3

### Netty version
4.1.65

### JVM version (e.g. `java -version`)
Java(TM) SE Runtime Environment GraalVM EE 21.1.0 (build 16.0.1+9-jvmci-21.1-b05)

### OS version (e.g. `uname

[2021-05-21 15:01] #11257 closed

[2021-05-21 16:36] NiteshKant commented on #11291
Just for context; a handler in a pipeline is not guaranteed to receive all events on the channel because handlers may be added after certain events have already been processed by the pipeline. The only event ordering that is guaranteed is the order of events that happen on the pipeline, eg: `channelActive()` should not be called after it is closed.

In this case, the channel was closed during regi

[2021-05-21 16:46] NiteshKant commented on #11257
If you want to use a specific `EventLoop` for a channel you can specify it in the `Bootstrap` using `bootstrap.group()`. As `EventLoop` also implements `EventLoopGroup` an `EventLoop` instance can directly be passed in the `group()` method. As a reference you can see [servicetalk](https://servicetalk.io) code [here](https://github.com/apple/servicetalk/blob/main/servicetalk-tcp-netty-internal/src/

[2021-05-21 20:45] hervegirod opened #11292 "It seems that the 4.1.65 final release is source only"
### Expected behavior
The content of the release should contain the jar files for Netty

### Actual behavior
The content of the release contain the source code and the pom.xml files

### Steps to reproduce
look in the release zip file

### Minimal yet complete reproducer code (or URL to code)
N/A

### Netty version
4.1.65.final

### JVM version (e.g. `java -version`)
1.8

### OS version (e.g. `una

[2021-05-21 20:46] hervegirod commented on #11292
The 4.1.65 final release sees to be source only (src and pom.xml content). The zip content is very different from the previous ones

[2021-05-22 07:43] chrisvest commented on #11292
Because Bintray shut down, so the download page now links to Github tag archives. Most people would use some sort of dependency management tool and download the binaries from Maven Central.

[2021-05-22 10:39] andreypfau commented on #11291
This sounds logical, but judging by the documentation, channelInactive should only be called if the channel **WAS** active

[2021-05-23 08:21] fantow opened #11295 "Is there a better way to allocate memeory for ByteBuf when we use the ChunkList?"
In my humble opinion,we can maintain a sorted chunk list to optimize the process that Netty find a better chunk to use.

If it's necessory,may I pull a request to fix it?

[2021-05-23 08:36] normanmaurer commented on #11295
We love pull requests... I would be happy to review

[2021-05-23 08:53] fantow commented on #11295
Thx,but I don't know is it a good change?
  In my opinion,a chunk is used to optimize the memory allocation problem,that may case memory fragmentation.In the code,we will allocate a byetBuf memory in traverse,also this way can't assure that we get a current best chunk to allocate memeory.
  Can y give me some advices?

[2021-05-23 22:14] hervegirod commented on #11292
Ah ok!

[2021-05-23 23:10] #11292 closed

[2021-05-24 08:41] laosijikaichele opened #11297 "The doc of methods:io.netty.buffer.ByteBuf#setBytes(int, io.netty.buffer.ByteBuf) is not correct"
There are wrong docs of the two methods:

The two methods above DO CHANGE the {@code readerIndex} of the source buffer, but the doc said:

Please check the implementation method 'io.netty.buffer.AbstractByteBuf#setBytes(int, io.netty.buffer.ByteBuf, int)', which change the readerIndex by: `src.readerIndex(src.readerIndex() + length)`.
[code]

[2021-05-24 08:42] laosijikaichele commented on #11297
There was a PR but been mis-closed: https://github.com/netty/netty/pull/11290.

[2021-05-24 08:48] #11297 closed

[2021-05-24 16:19] bxqgit opened #11298 "FullHttpRequest doesn't return proper content anymore"
It is server code. Server receives HTTP POST request, which contains body content. Server converts the request to `FullHttpRequest`and gets its content as a buffer. For some unknown reason buffer became not readable in versions `4.1.64.Final` and `4.1.65.Final`, but up to version `4.1.63.Final` everything worked just fine. Pipeline contains just `HttpServerCodec` and `HttpObjectAggregator`.

### E

[2021-05-24 16:31] NiteshKant commented on #11291
You are correct but there is a distinction between channel being active and a handler receiving `channelActive()` callback. Here is the code which invokes `channelInactive()` during close:

https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/AbstractChannel.java#L765

You can see that it only sends `channelInactive()` if the channel was active. So in this case, channel

[2021-05-24 16:40] NiteshKant commented on #11298
The reproducer code does not really provide any context around what is the code that produces the `FullHttpRequest` and whether the request is supposed to have any content. Please provide more details about the scenario where this happens? Does it happen for all requests, specific requests? Does it happen for the client or the server? What is the pipeline setup for the same?

[2021-05-24 16:43] bxqgit commented on #11298
My guess it is somehow related to this [commit](https://github.com/netty/netty/commit/93f021141d93e6529215601ba6b5938e44f499c8)

[2021-05-24 16:47] bxqgit commented on #11298
@NiteshKant It is server code. Server receives HTTP POST request, which contains body content. Server converts the request for `FullHttpRequest`and get its content as buffer. For some unknown reason buffer became not readable, in version  4.1.64.Final and 4.1.65.Final, but up to version 4.1.63.Final everything worked just fine.

[2021-05-24 17:16] NiteshKant commented on #11298
Can you provide a complete reproducer?

[2021-05-24 18:26] bxqgit commented on #11298
@NiteshKant What's a complete reproducer? You mean create a complete client/server project which reproduces this issue?

[2021-05-24 18:29] bxqgit commented on #11298
It's worth to note that buffer contains data. if I call `bb.readerIndex(0);` and then convert it to `String` - everything works fine. But I it looks more like a hack or workaround. So it seems that the issue still exists and should be fixed. 🤷‍♂️

[2021-05-24 18:31] bxqgit commented on #11298
It's something related to parsing Multipart POST request. Something has changed in `4.1.64.Final` and this issue was introduced.

[2021-05-25 05:41] fredericBregier commented on #11298
@bxqgit Hi, could you elaborate a bit ?
If I understand, your code is doing something like:

1. the server uses `HttpServerCodec `and `HttpObjectAgregator`
2. it receives one body data only, so not multipart, using standard codec only
3. it creates from the buffer given by `HttpObjectAgregator` a `FullHttpRequest`: does it done manually?
4. when it is done, the buffer seems empty but it is not (ch

[2021-05-25 09:23] ghanshyam2 opened #11299 "i am unable to create api for custom count."
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2021-05-25 10:25] hyperxpro commented on #11299
Please elaborate on the issue in more detail and use the issue template.

[2021-05-25 16:24] bxqgit commented on #11298
@fredericBregier

Yes, the server uses `HttpServerCodec` and `HttpObjectAgregator`.

I mentioned term 'Mutlipart' just because some classes are from `io.netty.handler.codec.http.multipart` package and I could not find anything else _possibly relevant_ in commits of versions `4.1.64.Final` and `4.1.65.Final`.

At first `HttpRequest` is processed using `HttpPostRequestDecoder`, something like:

[cod

[2021-05-25 17:00] bxqgit commented on #11298
Maybe the problem is that `HttpPostRequestDecoder` now somehow modifies `HttpRequest` and now `FullHttpRequest` can not process modified `HttpRequest`.

To me it looks like that `HttpRequest` should be _immutable_, so that it could be processed by various processors several times in a chain. 🙄

[2021-05-25 17:28] fredericBregier commented on #11298
@bxqgit OK, I understand.

So you are indeed using a Multipart decoding.
I have found several issues in the way you using it:

- **In general, it is not recommended to use the `HttpObjectAgregator` in your pipeline when facing Multipart**. The reason is that it will fully load everything in memory. But as you're using a Multipart, it might be "too much" for the JVM. So you might change this as fol

[2021-05-25 19:30] kashike commented on #10757
I have started working on this in #11301.

[2021-05-25 20:51] bxqgit commented on #11298
@fredericBregier Thanks for the detailed answer! 👍🏻

I want to use `HttpObjectAgregator` and `FullHttpRequest` to keep the code simple, even though it may not be the most efficient. Sometimes I think that _Netty_ is too low level for my needs. 😄 But since everything works just fine, I have no reason to rewrite code to some other high level framework. 🤷‍♂️

I want to extract all the possible repres

[2021-05-26 02:27] mariaccc opened #11302 "Setting up development environment failed on Windows"
### Expected behavior
Setting up development environment on Windows
### Actual behavior
Failure to find io.netty:netty-tcnative:jar:windows-x86_64:2.0.39.Final
maven clean install failed
### Steps to reproduce
maven clean install -X
### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version
netty-4.1.65.Final
### JVM version (e.g. `java -version`)
adopt-openjdk-11
### OS ve

[2021-05-26 04:32] kashike commented on #10757
- [ ] all
- [ ] bom
- [ ] buffer
- [ ] codec
- [ ] codec-dns
- [ ] codec-haproxy
- [ ] codec-http
- [ ] codec-http2
- [ ] codec-memcache
- [ ] codec-mqtt
- [ ] codec-redis
- [ ] codec-smtp
- [ ] codec-socks
- [ ] codec-stomp
- [ ] codec-xml
- [ ] common
- [ ] dev-tools
- [ ] example
- [ ] handler
- [ ] handler-proxy
- [ ] microbench
- [ ] resolver
- [ ] resolver-dns
- [ ] resolver-dns-native-macos

[2021-05-26 05:53] fredericBregier commented on #11298
@bxqgit OK, I understand the reason and how you handle it.
The question still is, if you know it is a regular form, and you retrieve all data from String from buffer directly, why do you use Multipart decoder then? For what usage?
You can still create your map from the HttpData by getting the name and the value for each, without going to parse the String yourself?

But that's another story.
So I t

[2021-05-26 07:25] bxqgit commented on #11298
@fredericBregier I use `HttpPostRequestDecoder` because I also want to handle file uploads.

If you think all the changes in behavior are right and modifications of request work as intended, then I guess yes, we can close the issue. But I think I won't be the only one, who relied on behavior of versions up to `4.1.63`. 🤷‍♂️

[2021-05-26 10:17] normanmaurer commented on #11302
@mariaccc let me fix this ...

[2021-05-26 10:22] normanmaurer commented on #11302
Fixed by https://github.com/netty/netty/pull/11317 ... You can workaround it by using:

[code]

[2021-05-26 10:36] fredericBregier commented on #11298
@bxqgit OK, I will close then.
If you plan to have File upload, then I stringly recommend to not use `HttpObjectAgregator` neither a `String` from `ByteBuf` from the request, since you could have memory issue.
Take care also when using `FileUpload` (extends `HttpData`) to not do something like `byte[] bytes = fileUpload.get()` or `ByteBuf buf = fileUpload.getByteBuf()` since this will load all con

[2021-05-26 10:37] fredericBregier commented on #11298
Closing issue since wrong assumption on usage of decoder was the reason (decoder reads the ByteBuf so at the end, the ByteBuf is no more readable, even if still in memory).

[2021-05-26 10:37] #11298 closed

[2021-05-26 12:10] #11302 closed

[2021-05-26 12:29] kashike commented on #10757
I hope that's a good start for now! I have pushed all my progress so far, and I will probably pick up on this again later today.

[2021-05-26 13:14] bxqgit commented on #11298
@fredericBregier By the way, after I have changed the order in the chain of processing, the memory started to leak. First get `content` from `FullHttpRequest` and second I use `HttpPostRequestDecoder` to extract form data. Just changed the order and now it's a leak. 🤷‍♂️ Am I supposed to release the buffer of request?

[2021-05-26 14:50] fredericBregier commented on #11298
@bxqgit
So you do now something like:

       if (req instanceof FullHttpRequest) {
         final FullHttpRequest fhr = (FullHttpRequest) req;
         // Does not modify the ByeBuf, neither its start and writer Indexes
         final String s = fhr.content().toString(UTF_8);
       }
       // Does modify the start index
       final HttpPostRequestDecoder decoder = new HttpPostRequestDecoder(re

[2021-05-26 15:57] bxqgit commented on #11298
@fredericBregier

I use `SimpleChannelInboundHandler<HttpRequest>` and again, from memory leaking point of view, everything worked fine until changes in codec behavior in version `4.1.64`.

[2021-05-26 18:31] fredericBregier commented on #11298
@bxqgit Did you try to log the `refCnt()` to see if this related to this part of code?
Indeed, the fix in 4.1.64 fix such memory leaking, so my question to see what are the numbers from each HttpData and for the request.content() ByeBuf at the end of the `channelRead0()`.

[2021-05-26 18:33] fredericBregier commented on #11298
Also another point, could you try to run with the `java -Dio.netty.leakDetection.level=paranoid ...` option such that Netty prints out any leaking ByBuf detections, where it was created and where it was used ?

[2021-05-27 02:40] mariaccc commented on #11302
It works!

[2021-05-27 12:58] alekol opened #11324 "ChannelFuture never gets resolved, resulting in an application deadlock"
### Actual behavior
I am creating a sockjs-based application with spring-messaging which involves heavy/intense message excange. When testing the app though, every now and then the entire app freezes.

I've debugged the issue and it seems the culprit is in netty which never resolves the ChannelFuture that's returned to spring-messaging.

The issue is tracked and discussed here: https://github.com/

[2021-05-27 13:02] kashike opened #11325 "transport-sctpmodule tests are not in a working state"
The `transport-sctp` module tests are in the wrong directory (`src/main/test/io/...` instead of `src/test/java/io/...`) and are thus not being ran - they also do not compile, due to classes they use being removed and other validations.

[2021-05-27 15:05] kashike commented on #11233
#11306 covered the migration to JUnit 5 for `AbstractDecoderTest`.

[2021-05-27 15:11] slandelle commented on #11233
Closing, then. Thanks!

[2021-05-27 15:11] #11233 closed

[2021-05-27 15:26] kashike commented on #8838
It looks like #11057 covered this?

[2021-05-27 16:51] bxqgit commented on #11298
@fredericBregier Actually I run the server with `paranoid` option, that is exactly how I was informed about a leak. Exception was caught in `public void exceptionCaught(final ChannelHandlerContext ctx, final Throwable cause) throws Exception` method, saying something about `refCnt` and something else. One number was `0` and another number was `1`, it was the message of `cause` exception. I can't f

[2021-05-27 17:57] NiteshKant commented on #11324
Since there are multiple layers (spring framework, reactor, etc) between netty and your application, I would suggest first making sure this is not an issue with those layers. Typical issues are that the callbacks are not correctly wired through all layers and results in eventual `Future` not getting completed.

[2021-05-27 18:02] alekol commented on #11324
If you look at the bug I linked above, spring-messaging certainly has an issue in the way they await the future without timeouts or anything, so they should fix that.

However, I find it hard to believe that it's a wiring problem because
- it works most of the times and reproduces in very specific scenarios
- i debugged it to the point it made it into the channel, future created and returned and w

[2021-05-27 19:34] kashike commented on #10757
The `handler` module is proving problematic to migrate - it heavily uses class-scoped parameterized tests.

[2021-05-27 20:55] fredericBregier commented on #11298
@bxqgit  If there was an exception about refCnt, it means there is a ByteBuf that probably was trying to be released while already done (refCnt = 0 before calling release).
But it might be something else.
If you can regenerate the log and copy paste here, that would be helpful.

[2021-05-27 21:08] fredericBregier commented on #11324
I don't know if it's possible, since this seems far away from your code (netty react), but generally, I add the `LoggingHandler` in the pipeline to trace from Netty points of view what's happening (network vision from Netty vision down and up).
You may try to override the class with the very same class path and name such that's initiate the pipeline such to add this handler on top of it ?

[2021-05-28 06:25] normanmaurer commented on #11325
Actually these should be in `src/test/java`... let me fix this . Good catch!

[2021-05-28 06:51] kashike commented on #10996
@normanmaurer What do you think about this? I've had a few questions I want to ask before working on some things, and the IRC channel is dead (and Slack (#5493) never took off).

GitHub Discussions seems like a good choice to me, since we can easily reference issues and pull requests.

[2021-05-28 10:09] alekol commented on #11324
I couldn't quite follow your suggestion. Can you clarify a bit (or could you share some sample where this has been done)?

[2021-05-28 10:16] hyperxpro commented on #11325
Do we really need SCTP in Netty 5?

[2021-05-28 10:18] normanmaurer commented on #11325
@hyperxpro maybe... maybe it will be moved out of the core netty branch.

[2021-05-28 10:22] hyperxpro commented on #11325
In my opinion, we should drop SCTP i. We've QUIC #rfc9000 which is superior to SCTP.

[2021-05-28 11:21] kashike opened #11332 "SecurityManager is planned to be deprecated for removal"
[JEP 411](https://openjdk.java.net/jeps/411) ([JDK-8264713](https://bugs.openjdk.java.net/browse/JDK-8264713)), currently proposing to target Java 17, plans to deprecate the Security Manager system for removal - this includes `java.security.AccessController` and `java.security.PrivilegedAction` which are used in quite a few locations (50+).

[2021-05-28 13:03] #11325 closed

[2021-05-28 16:18] cgibble opened #11333 "Scanner reports security flaw in netty-handler-4.1.65.Final"
### Expected behavior
The successful download and use of netty-handler-4.1.65.Final

### Actual behavior
Our Nexus Sonatype server is denying access to netty-handler-4.1.65.Final, saying the following:

"The netty-handler package is vulnerable to Improper Certificate Validation. The newHandler methods in SslContext.class do not verify hostnames by default when generating a new SSLEngine. An attack

[2021-05-28 18:19] hyperxpro commented on #11333
@normanmaurer I'm really sick of this issue now. Every month, someone opens this issue. Feels more like a troll. XD

@cgibble Please check the backlog of issues before creating one. This is a duplicate issue and it's not a security flaw. Certificate validation can be enabled easily, it's just disabled by default. Netty 5 will have certificate validation turned on by default. Hope this clears your

[2021-05-28 19:17] cgibble commented on #11333
My apologies - no intent to troll, I guess I just missed it. Thanks for the quick reply!

[2021-05-28 19:17] #11333 closed

[2021-05-28 19:27] fredericBregier commented on #11324
Sorry, it seems that you try already (looking at the issue on spring-framework.
Spring-framework is based on reactor-netty, and it seems that is possible to add to the pipeline init a logger (such as the LoggerHandler I quote already from Netty directly).

https://github.com/reactor/reactor-netty/blob/3ecd06c52263a61fb06a21fada7174f05a0d1173/reactor-netty-core/src/main/java/reactor/netty/transport

[2021-05-29 02:21] liubao68 opened #11334 "HttpPostMultipartRequestDecoder IndexOutOfBoundsException error with netty 4.1.65.Final"
The problem happens when using latests vert.x version. see https://github.com/eclipse-vertx/vert.x/issues/3949
But I guess is a problem with netty.

### Expected behavior
Uploading multiple form datas/files will success.

### Actual behavior
Fails ramdomly.

### Steps to reproduce
See original issue. I have a project test case, but not have a minimal test case with netty yet.

### Minimal yet comp

[2021-05-29 10:26] fredericBregier commented on #11334
@liubao68 I think I have found the reason.

@normanmaurer except a check that was missing in the multipartDecoder, i've found a possible issue while debugging within `UnpooledUnsafeDirectByteBuf` (at least there).
The reason we did not get this issue before in the Junit test was because the underlying check of access to the `undecodedChunk` while using `buffer.getByte(fullPosition)` is only checki

[2021-05-29 11:18] fredericBregier opened #11336 "Issue while read access using getByte(specificReadIndex) not checking that going over writerInder"
### Expected behavior

While using e ByteBuf with a capacity greater than writerIndex, trying to access a specific index position that is over writerIndex does not raized an exception such as `IndexOutOfBoundsException`, while it should.

### Actual behavior

The only values checked are within `MathUtil`:

    /**
     * Determine if the requested {@code index} and {@code length} will fit within {

[2021-05-29 11:20] fredericBregier commented on #11336
@normanmaurer I believe fixing this issue could be too wide. But however I belkieve that opening an issue is the right way.
I'm not sure about the impact if we try to fix this.

[2021-05-29 12:53] fredericBregier commented on #11336
@normanmaurer I tried to create a pull request but I strongly suggest to think about twice: see #11337

1. I'm not sure to cover everything
2. More important, what could be the impact on external project (or even within Netty) since they could rely on bad usage on read access not throwing `IndexOutOfBoundsException` while it should

[2021-05-29 14:40] chrisvest commented on #11299
Closing because we haven't heard back. Feel free to reopen once the issue report has been filled out.

[2021-05-29 14:40] #11299 closed

[2021-05-29 14:53] chrisvest commented on #11332
I _think_ there are still platforms that use this, so we can't remove them until we bump the minimum required Java version to 17.

[2021-05-29 16:46] fredericBregier commented on #11336
@normanmaurer I bielieve we can close this issue since it seems not an issue (see proposition and comments)

[2021-05-29 17:51] fredericBregier commented on #11336
I close this issue since it seems to me there is no need to change anything (except maybe the Javadoc for `getCharSequence()` which says that it takes care about "writerIndex" while it only take cares about "capacity".

[2021-05-29 17:51] #11336 closed

[2021-05-30 15:28] chenzhiguo commented on #6285
What happened about `codec-mqtt`? Why cant support mqttv5?

[2021-05-30 15:41] chenzhiguo commented on #8303
MQTT V5 has support by this PR: #10483

[2021-05-31 06:43] #11334 closed

[2021-05-31 06:49] normanmaurer commented on #11295
/cc @chrisvest thoughts ?

[2021-05-31 06:50] normanmaurer commented on #11289
please provide a reproducer...

[2021-05-31 07:22] fantow commented on #11295
If it is necessory ,I will fix it.

[2021-05-31 16:26] hyperxpro commented on #11332
Agree with @chrisvest

[2021-05-31 18:02] chrisvest commented on #11295
@fantow You're thinking like a TreeMap of available capacity to PoolChunk? I think that sounds interesting if there are a lot of chunks, but it could also be that most systems only have a few number of chunks since each one is 16 MiB by default. In other words, we probably don't want to add too many indirections when the number of chunks is low. Perhaps it'll make sense to special-case when there'

[2021-06-01 09:51] normanmaurer opened #11345 "Fix test-failures in master"
https://github.com/netty/netty/pull/11344

[2021-06-01 13:32] fantow commented on #11295
@chrisvest
  Thx for your reply.I'm trying to use netty's memory allocation strategy to solve my problem,because I am working on development of middleware recently.The following are my options on memory allocation issues.
  The purpose of optimization is that how to better reuse the memory in the Chunk to reduce the operation of creating Chunk objects during the running of the program.Then we shou

[2021-06-01 21:35] elazarski opened #11349 "IpSubnetFilterRule with IPv6 Default Route does not accept all IPv6 addresses"
### Expected behavior
I would expect that creating an accepting IpSubnetFilterRule with the IPv6 default route ("::/0")  should accept any IPv6 address, just like it does for IPv4.

### Actual behavior
Any IPv6 address higher than 7FFF:FFFF:FFFF:FFFF:FFFF:FFFF:FFFF:FFFF is rejected, however anything below that address and including it appears to be valid.

### Steps to reproduce
Create an IpSubnet

[2021-06-01 22:26] NiteshKant commented on #11289
Closing this issue as it looks like the additional retain as discussed in https://github.com/netty/netty/issues/11289#issuecomment-845536923 is causing the leak. Please reopen if this isn't true.

[2021-06-01 22:26] #11289 closed

[2021-06-02 00:56] fantow opened #11350 "[ByteBuf]May be there are something wrong about memory allocation strategy of PoolChunkList"
Is this a wrong order when a ByteBuf wants to allocate memory.**I think the right order is that 75 -> 50 -> 25 -> 00 -> init，this order may be a perfer memory allocation strategy.**

![maybeamistake](https://user-images.githubusercontent.com/18530950/120407757-5be69380-c380-11eb-9391-9a0cc943a9b7.png)

May I pull a PR to fix it?

[2021-06-02 03:53] pjzhong opened #11353 "Recycler.WeakOrderQueue drop Object hasBeenRecycled"
https://github.com/netty/netty/blob/d34212439068091bcec29a8fad4df82f0a82c638/common/src/main/java/io/netty/util/Recycler.java#L399

I am confuse why drop Object that already hasBeenRecycled？ It's didn't test the DefaultHandler.hasBeenRecycler field.

should apply the same rule as this method?
https://github.com/netty/netty/blob/d34212439068091bcec29a8fad4df82f0a82c638/common/src/main/java/io/netty

[2021-06-02 09:07] laosijikaichele opened #11354 "Counterintuitive behavior of method io.netty.buffer.AbstractByteBuf#readBytes(int)"
### Expected behavior
The following code should print both `true` or both `false`:
[code]

### Actual behavior
`buffer_a.isDirect()` printed `true` ,
`buffer_b.isDirect()` printed `false`.

### Steps to reproduce
See above
### Minimal yet complete reproducer code (or URL to code)
See above
### Netty version
4.1
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)
MacOS

[2021-06-02 09:32] theodore414 opened #11355 "Null pointer occurs in ctx.channel.remoteAddress() in high concurrency scenarios"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.50

### JVM version (e.g. `java -version`)
JDK1.8

Null pointer occurs in ctx.channel.remoteAddress() in high concurrency scenarios

our handler extends SimpleChannelInboundHandler<>{}

[2021-06-02 09:35] normanmaurer commented on #11355
You will need to share the code and the stack trace at least

[2021-06-02 09:47] theodore414 commented on #11355
I can only take a screenshot for you for some reason sorry for that

![WechatIMG475](https://user-images.githubusercontent.com/35146274/120459083-70e81480-c3ca-11eb-9aa1-0ae254c227f5.jpeg)

[2021-06-02 18:28] NiteshKant commented on #11354
Usage of empty buffers (capacity = 0) in netty is optimized to return a static immutable buffer instance.  `heapBuffer.readBytes(0)` utilizes this optimization as the returned buffer has to be empty (reading 0 bytes).

Netty also does further optimizations if it sees an empty buffer instance. So, although I agree that the behavior is not ideal but it may not be weird enough to require fixing.

[2021-06-03 00:36] heixiaoma opened #11356 "NoSuchMethodError checkNonEmptyAfterTrim"
Exception in thread "main" java.lang.NoSuchMethodError: io.netty.util.internal.ObjectUtil.checkNonEmptyAfterTrim(Ljava/lang/String;Ljava/lang/String;)Ljava/lang/String; at io.netty.handler.codec.http.HttpMethod.<init>(HttpMethod.java:124) at io.netty.handler.codec.http.HttpMethod.<clinit>(HttpMethod.java:37)

<netty.version>4.1.65.Final</netty.version>

[2021-06-03 01:41] laosijikaichele commented on #11354
@NiteshKant the immutable empty buffer instance is OK, but I wonder why the empty buffer always use a direct alloc, for example, the following code printed `true` ,which is more weird:
[code]
The code wanted to create a heap buffer:`new PooledByteBufAllocator(false).heapBuffer(0, 0)` , but actually it gave a direct buffer?

[2021-06-03 02:39] stuartwdouglas opened #11357 "IllegalReferenceCountException with compression enabled but not used if HttpResponse implements HttpContent and not LastHttpContent"
Turns out my fix for https://github.com/netty/netty/issues/11092 was incomplete. It fixes the case where the content is compressed, but it will also fail if the client does not specify an Accept-Encoding.

[2021-06-03 02:47] njhill commented on #11354
See https://github.com/netty/netty/issues/2373#issuecomment-41648562 for the philosophical explanation :)

[2021-06-03 02:58] laosijikaichele commented on #11354
@njhill  Thanks for the referring, as quoted from Trustin(https://github.com/netty/netty/issues/2373#issuecomment-41648562):

If the empty buffer is neither heap not direct, then I think `emptyBuffer.isDirect()` should throw an `Exception` or something else? It is confusing to return a `true`/`false` for the method`emptyBuffer.isDirect()`, IMO.

[2021-06-03 05:11] kushalagrawal opened #11360 "Support for "RSASSA-PSS" algorithm"
Hi,

While we are trying to validate a user certificate that is generated using the RSASSA-PSS algorithm. Netty OpenSSL engine is throwing an exception "sun.security.validator.ValidatorException: Certificate signature algorithm disabled"

### Actual behavior
As the OpenSSL is supporting this algorithm now. So in Netty also should allow this algorithm.

### Netty version
4.1.65.Final
Netty-tcnative

[2021-06-03 05:12] kushalagrawal commented on #11360
IMO,

The reason of the RSASSA-PSS validation issue is the hardcoded list of supported signature algorithms in the netty.io library :
https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/ExtendedOpenSslSession.java#L39

LOCAL_SUPPORTED_SIGNATURE_ALGORITHMS is used in the getLocalSupportedSignatureAlgorithms() method:
https://github.com/netty/netty/blob/4.1/handler/src

[2021-06-03 11:15] auxor commented on #7101
Got the same issue.
"mvn -pl transport-native-kqueue" and "mvn clean install" do not work.

My env info:
Apache Maven 3.5.4 (1edded0938998edf8bf061f1ceb3cfdeccf443fe; 2018-06-18T02:33:14+08:00)
Maven home: /usr/local/Cellar/maven/3.5.4/libexec
Java version: 11.0.11, vendor: AdoptOpenJDK, runtime: /Library/Java/JavaVirtualMachines/jdk-11.0.11+9/Contents/Home
Default locale: zh_CN_#Hans, platform en

[2021-06-03 13:45] vietj opened #11361 "MqttDecoder incorrectly skip bytes when max message size is reached"
### Expected behavior

The MqttDecoder uses `ByteToMessageDedoder#actualReadableBytes()` to compute the amount of bytes to skip

### Actual behavior

The MqttDecoder uses `ByteBuf#readableBytes()` to compute the amount of bytes to skip

### Steps to reproduce

Run MqttCodecTest but call `channelRead` method instead of calling `decode` directly.

### Minimal yet complete reproducer code (or URL to

[2021-06-03 13:45] vietj commented on #11361
I'll provide a PR shortly.

[2021-06-03 20:13] gliwka opened #11364 "Recursive lookup of CNAME value not possible"
Let's suppose I have the following DNS zone:

subdomain.example.com. 3600 IN CNAME cname.example.org
subdomain.example.com. 3600 IN MX mx.example.org

I now want to make a recursive query (starting from the root zone) and lookup the values for MX and CNAME in this zone.

Looking up the MX value using resolve() works fine - it returns the MX record containing hostname and priority.

Which API can I

[2021-06-03 23:25] NiteshKant commented on #11356
Most likely you have mismatched versions of `common` and `http` module. This method was added recently.

[2021-06-04 00:00] heixiaoma commented on #11356
Thank you for your help. At present, I am using Netty-All Maven dependency. At present, it is used with the redisson framework, and it will report an error on startup.

[2021-06-04 00:11] heixiaoma commented on #11356
Netty all Maven dependencies should have the same module version, but compared with previous versions, some files, such as examples, are missing

[2021-06-04 00:53] heixiaoma commented on #11356
hi

[2021-06-04 09:55] xiaoyuyidai commented on #8179
why print the Exception Log
if this is never something important， the best way is not to print it
we expend too many time to location error！！

[2021-06-04 14:20] arunp1990 commented on #1912
Hi @trustin , @normanmaurer  ,

Could you please let me know if there is any example / documentation on how to uptake this new approach? Even I have an use-case where I want to execute time-consuming tasks in a DefaultEventExecutorGroup as mentioned in https://groups.google.com/g/netty/c/1kAS-FJWGRE (thread based on which these changes were initially started). I understand that one alternative is

[2021-06-05 05:27] trustin commented on #1912
@Knight-Wu wrote:

Correct!

Yes.

Exactly. It should be as simple as calling `Executor.execute()` with your task. I guess it's so obvious that it doesn't need an example, but please let me know if you really need one.

[2021-06-05 05:33] trustin commented on #1912
@arunp1990 wrote:

Using a separate `Executor` for long-running tasks is officially recommended way in Netty. We tried to introduce something that lets a user handle such tasks without leaving the boundary of `ChannelHandler`, but we chose not to do it because:

- It complicates the execution path for more common cases, i.e. an application with no/few long-running tasks;
- It's hard to maintain; a

[2021-06-05 05:36] trustin commented on #8179
@xiaoyuyidai wrote:

we expend too many time to location error！！

As @normanmaurer said, we log the error at DEBUG level. You should not set `DEBUG` to the log level of `io.netty.*`. If so, you should reconfigure your logging framework properly, unless you want the detail only Netty devs will be interested in.

[2021-06-05 06:20] trustin commented on #11356
Could you try to dump the complete class path of your application? I bet you'll have both `netty-all` and `netty-common` with different version for example.

[2021-06-05 06:24] trustin commented on #11364
If I understood correctly, if you try to send a DNS query for `CNAME subdomain.example.com`, you expect it to return `CNAME cname.example.org`, right? I guess in that case you can use `DnsNameResolver.query()` which never follows any redirection.

[2021-06-05 06:36] trustin commented on #11354
Nope. An empty buffer is both heap and direct. :laughing: It has a real `byte[0]` and a direct memory address. Although the actually memory region will never be accessed. The array's reference itself and its length field is accessible though.

[2021-06-05 06:37] trustin commented on #11354
So, if we had `ByteBuf.isHeap()`, an empty buffer could have returned `true` for both.

[2021-06-05 08:03] #11356 closed

[2021-06-05 08:04] heixiaoma commented on #11356
https://mvnrepository.com/artifact/io.netty/netty-all/4.1.65.Final
Netty/All In One » 4.1.65.Final

[2021-06-05 08:04] heixiaoma commented on #11356
https://mvnrepository.com/artifact/io.netty/netty-all/4.1.65.Final
Netty/All In One » 4.1.65.Final

[2021-06-05 09:14] laosijikaichele commented on #11354
@trustin, Thanks a lot for the explanation, it really makes sense someway. Maybe I can add this explanation to the doc of method `io.netty.buffer.EmptyByteBuf#isDirect`, so that more people can better understand it.

[2021-06-05 09:47] trustin commented on #11354
Great. Looking forward to your pull request :bow:

[2021-06-07 05:15] fantow commented on #11350
@chrisvest @normanmaurer

[2021-06-07 06:06] #11349 closed

[2021-06-07 06:52] #11357 closed

[2021-06-07 07:30] pmlopes opened #11369 "BouncyCastle ALPN seems to break native image builds"
See: https://github.com/eclipse-vertx/vert.x/issues/3960

Apparently the newly added feature: https://github.com/netty/netty/commit/56ef371676ed48262a46ce827d5462cd6f218a6d

Introduced support to BC, however, it relies on reflection to detect the presence of BC. This will fail native image builds. My assumption is that extra graalvm metadata should be added to ensure that the class is explicitly a

[2021-06-07 12:23] gliwka commented on #11364
This doesn't work for recursive lookups. The authoritative name server for subdomain.example.com is not yet known to me, so I cant query it directly. That's why I'm currently using resolveAll() to benefit from the recursive lookup - this works for all record classes except CNAME.

What do you think about a new resolveAll() method with the option to disable following the CNAME? Would you be willing

[2021-06-07 13:15] normanmaurer commented on #11369
I would be happy to review a PR... I don'T have a lot of knowledge with Graal. Not sure if @chrisvest can help

[2021-06-07 13:20] jerrinot opened #11370 "HttpUtil.getCharset() fails for charset in double-quotes"
I understood from [RFC 7231](https://datatracker.ietf.org/doc/html/rfc7231#section-3.1.1.1) the content-type header can have charset value in double-quotes.
[code]

### Expected behaviour
When the content-type header is set to `text/html; charset="utf-8"` then the charset is parsed correctly as utf-8.

### Actual behaviour
When the content-type header is set to `text/html; charset="utf-8"` then th

[2021-06-07 13:41] andreypfau opened #11371 "[Question] How to send ICMP packets?"

[2021-06-07 14:48] chrisvest commented on #11355
Are you sure the NPE doesn't occur in your own code? `Channel.remoteAddress` can sometimes return `null`.

The stack trace you show doesn't have any `remoteAddress` call in it that we can see.

[2021-06-07 14:56] chrisvest commented on #8179
@xiaoyuyidai Adding to what Trustin said, the stack trace will now also only be logged when TRACE or FINEST level logging is enabled. Use a logging framework that has finer levels than DEBUG, and then only use DEBUG level. Then you won't get these stack traces.

[2021-06-07 15:06] chrisvest commented on #11350
I don't know why it's like that, actually. It's been like that since @trustin added the initial pooled buffer allocator. Perhaps jemalloc does, or did do, something like that.

[2021-06-07 15:43] normanmaurer commented on #11370
@NiteshKant can you please take a look ?

[2021-06-07 15:48] fantow commented on #11350
But this is really a wrong order of allocating memory.

@trustin Hello Trustin,how do you think about this allocate memory order?

[2021-06-07 17:50] pmlopes commented on #11369
This one is a tricky (at least for me), if you just go wild and "make it compile" you may end up removing important classes out of the analysis that could compromise the overall security of BC. :man_shrugging:

[2021-06-07 22:16] NiteshKant commented on #11370
@jerrinot thanks for reporting!

Here is the PR to fix it: https://github.com/netty/netty/pull/11373

[2021-06-08 03:59] hyperxpro commented on #11371
You cannot send ICMP packets with Netty. As of now, Netty only supports TCP, UDP, and SCTP.

[2021-06-09 04:10] jvican commented on #10376
FWIW it looks like `-Dio.netty.noUnsafe` is not necessary to get a performant Netty-based application compiled by GraalVM. I've been using this flag in production and recently discovered that I could remove it and Netty would behave just fine.

[2021-06-09 04:14] jvican commented on #11122
@chrisvest The folks over at the quarkus project seem to be able to get away without initializing those whole packages at runtime. Instead, they just whitelist some classes that should be run there. I've tried in my big vertx-based application whether this approach works and it does. See https://github.com/quarkusio/quarkus/blob/main/extensions/netty/deployment/src/main/java/io/quarkus/netty/deplo

[2021-06-09 05:34] chrisvest commented on #11122
@jvican We don't have much graal expertise, so any help with that would be greatly appreciated. Do you want to open a PR?

[2021-06-09 06:33] #8519 closed

[2021-06-09 10:37] #11370 closed

[2021-06-09 16:33] chrisvest commented on #6679
I think we're past the original issue, and new Java 9+ problems that pop up should be reported in separate issues. How about we close this one, @doom369 ?

[2021-06-09 17:04] doom369 commented on #6679
@chrisvest yes. all problems were solved.

[2021-06-09 17:04] #6679 closed

[2021-06-10 11:09] hylkevds opened #11379 "[codec-mqtt] Netty tries to interpret QOS level on CONNECT package"
The MQTT CONNECT package FIXED header contains only the MQTT Control Packet type in the first 4 bits. The remaining bits in the first byte are reserved. ([SPEC](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/errata01/os/mqtt-v3.1.1-errata01-os-complete.html#_Toc442180841))
Currently, the MqttDecoder parses the fixed header the same for all packet types, and thus tries to interpret the reserved bits o

[2021-06-10 11:21] NicklasWallgren opened #11380 "[Question] DNS native resolver for Apple Silicon M1"
Hey,

Are there any available DNS resolvers for the new M1 processor?

[code]

[2021-06-10 11:26] normanmaurer commented on #11379
@hylkevds sounds like a bug... are you able to provide a PR with a fix and unit test ?

[2021-06-10 13:22] #11371 closed

[2021-06-10 14:51] hylkevds commented on #11379
Digging a bit deeper, it seems the problem is both in HiveMQ and Netty. The [spec](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/errata01/os/mqtt-v3.1.1-errata01-os-complete.html#_Toc442180835) states:

So technically, in this case Netty does the correct thing, for the wrong reason. Netty should complain if any of the reserved bits are non-zero, not only if it detects a QOS of 3.

[2021-06-10 16:22] nshustov opened #11381 "io.netty.util.HashedWeelTimer holds on the task object after task completion"
I am using AsyncHttpClient 2.12.3 with Netty 1.4.60.Final.
In the application I develop I found that the instance of object that I give to AsyncHttpClient to handle on-http-request-completed event is still held alive for awhile after the HTTP request was completed.
It hogs the resources and creates some bad side effects specific for my application (particularly, it holds onto objects that are supp

[2021-06-10 16:30] NiteshKant commented on #11381
Perhaps the timeout set by the request is not cleared by AsyncHttpClient immediately on response complete? As Netty's `HashedWheelTimeout` object is held by an AsyncHttpClient object (`RequestTimeoutTimerTask`), it does not immediately look like a netty problem, but more of AsyncHttpClient cleanup problem.

[2021-06-10 23:55] NiteshKant commented on #11381
Looking at the image you provided, my understanding is that `TimeoutsHolder` is an `AsyncHttpClient` class.

[2021-06-11 06:46] normanmaurer commented on #11381
/cc @slandelle

[2021-06-11 13:33] nshustov commented on #11381
I must have misunderstood what you meant then. Is `task` something that is under `HashedWheelTimer` control?
I thought `task` is something that worker is given to process and it is supposed to be thrown away (set to `null`) after worker is done?

[2021-06-12 03:43] November22 opened #11386 "io.netty.util.HashedWheelTimer.HashedWheelBucket#expireTimeouts"
Should I first judge that the task has been cancelled?
——————from Google Translate
### Expected behavior
![image](https://user-images.githubusercontent.com/26109828/121763997-cfec1d00-cb72-11eb-975a-fbd01b4042d9.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/26109828/121763929-4b010380-cb72-11eb-96d1-56dc41dd505b.png)

### Steps to reproduce

### Minimal yet complete

[2021-06-12 14:11] hylkevds commented on #11379
The values of the bits of the fixed header depend on the messageType, as seen in [Table 2.2](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/errata01/os/mqtt-v3.1.1-errata01-os-complete.html#_Toc442180835). I could implement the validation in two ways:
- with a `switch(messageType)`, has the advantage that the entire check is contained in MqttDecoder.decodeFixedHeader
- by adding a `checkHeader()` met

[2021-06-14 11:55] hbelmiro opened #11388 "Test SslHandlerTest.testHandshakeFailureCipherMissmatchTLSv12OpenSsl failing on macOS"
### Expected behavior
Test pass.

### Actual behavior
[ERROR]   SslHandlerTest.testHandshakeFailureCipherMissmatchTLSv12OpenSsl:1422->testHandshakeFailureCipherMissmatch:1510
Expected: an instance of javax.net.ssl.SSLException
     but: <java.nio.channels.ClosedChannelException> is a java.nio.channels.ClosedChannelException

08:44:32.597 [nioEventLoopGroup-2-3] WARN  i.n.channel.DefaultChannelPipe

[2021-06-14 12:17] normanmaurer commented on #11388
@hbelmiro  what openssl version is installed ?

[2021-06-14 12:19] hbelmiro commented on #11388
@normanmaurer
    openssl version
    LibreSSL 2.8.3

[2021-06-14 12:22] normanmaurer commented on #11388
Ok that might be the problem... we are currently really only support BoringSSL / OpenSSL

[2021-06-14 12:24] hbelmiro commented on #11388
Ok, @normanmaurer.
I'll check it later and tell you if solved.
Thank you very much for your help.

[2021-06-14 14:37] fantow commented on #11350
@chrisvest @normanmaurer @trustin Hello,Is this a problem to be optimized?I found that in previous version,Netty didn't have a ChunkList to indicate 75% usage.So I am more likely understood it as a mistake when netty do something version iteration.
    I have completed and already test it.If it is not necessory,I will close this issue.

[2021-06-14 15:20] trustin commented on #11350
It's heuristic from the original jemalloc. When a chunk is already 75% full, it's likely that it may fail to find a run that fits. It is programmed to try 50% and others first because they have better chances.

[2021-06-14 15:20] trustin commented on #11350
Thanks for asking, though. :smile: Closing!

[2021-06-14 15:20] #11350 closed

[2021-06-14 22:29] hbelmiro commented on #11388
Same error, @normanmaurer.

Now with:
[code]

[2021-06-15 11:36] normanmaurer commented on #11386
This is fine as it is as if it is cancelled `timeout.expire()` will just return.

[2021-06-15 11:36] #11386 closed

[2021-06-15 13:25] normanmaurer commented on #8810
After thinking more and more about this I think the best what we can do is just not add something like this. I detailed the motivation for this in our wiki. Just to make it easier here is it:

[code]

[2021-06-15 13:25] #8810 closed

[2021-06-15 18:22] mostroverkhov opened #11391 "Tail tasks queue: configure separately from tasks queue"
IO transports (primarily epoll, but this also applies to kqueue, nio) cant be configured with separate `tail tasks` queue factory -
instead single queue factory is used for both normal tasks and tail tasks.

Their parent [SingleThreadEventLoop](https://github.com/netty/netty/blob/0d5774a82b470833c5f8a84fa4708142a4801f52/transport/src/main/java/io/netty/channel/SingleThreadEventLoop.java#L63) does

[2021-06-15 23:23] NiteshKant commented on #11391
@mostroverkhov SGTM, would you like to send a PR?

[2021-06-15 23:26] NiteshKant commented on #10046
Netty does not switch threads but if you have an async processing chain then outside of netty you may see different threads. Higher level frameworks do provide some ways to carry this "request context", one such example is [ServiceTalk](https://github.com/apple/servicetalk/tree/main/servicetalk-log4j2-mdc)

[2021-06-15 23:33] mdj1342 commented on #10046
@NiteshKant thank you for the suggestion.
What i meant was I believe in Netty one request will be handled by multiple threads, in that case the mdc (map) values, which are a ThreadLocal, get lost when a different thread starts working on a given request. So at times we see blank contexts in logs (meaning the mdc context is lost).
So i'm wondering if there is a way to retain the MDC context while s

[2021-06-16 00:21] Bennett-Lynch commented on #10046
@mdj1342 I could not find a great solution for this in Netty 4. Here is what I (very reluctantly) did instead:
1. Create a class that wraps & delegates to your logger interface (yikes, I know)
2. Duplicate the desired logger interface methods, but make every method signature require either a `Channel` or `ChannelHandlerContext` as the first argument
3. Create a `Map<String, String>` to replicate t

[2021-06-16 08:26] waterWang commented on #7699
DataBufferUtils.release(buffer);

[2021-06-16 12:59] #11379 closed

[2021-06-16 14:13] normanmaurer commented on #11380
not at the moment... But I think we will provide one soonish

[2021-06-16 14:13] #11361 closed

[2021-06-16 15:52] danielbaniel opened #11393 "No constant for ssl protocol selection"
This is a minor issue but one that I think would be easy to fix. Please educate me if there's a complexity or nuance that I'm not seeing.

Netty lets the user choose the tls version.

[code]

There's no constant/enum defined for this that I can find in netty. Should there be a public string/enum for customers to use when making this selection?

The only definition I can find is this constant but i

[2021-06-17 04:10] hyperxpro commented on #11393
Enum sounds like a good idea.

@normanmaurer WDYT? I can do a PR.

[2021-06-17 14:04] ykalay opened #11396 "[Question] Why does my netty is unresponsible after two blocked request?"
### Expected behavior
I expect I/O Threads to keep consuming requests.
### Actual behavior
After 2 blocked requests. It starts to not accepting requests. Even If I am using 16 Threads as a child worker Thread
### Steps to reproduce
1-) Send open the websocket request
2-) On the Server side block the in the coming event before handshake for 20 Secs (In My real case, It is a blocked JDBC call before

[2021-06-17 17:17] hyperxpro commented on #11396
You should never block I/O threads else you'll end up with weird problems. Better use `ExecutorService` for costly operations.

[2021-06-17 17:32] ykalay commented on #11396
Yes. I am doing that. I am running my blocking logics from a separate thread except for the Handshake phase.
For handshake pahse: Is there any way to handle the handshake phase from another thread with asynchronously?

[2021-06-17 17:40] hyperxpro commented on #11396
Well, if you wanna control WebSocket handshake then you should extend the implementation class and do it.

[2021-06-17 17:41] hyperxpro commented on #11396
If you can explain in little more detail about use case and all, I can help.

[2021-06-17 17:53] ykalay commented on #11396
Sure, Below I shared the sample code. When I do the handshake like this (async without blocking I/O Thread). It does not work. Is there an option to not block the I/O thread and doing blocked business logic before the handshake for example JDBC call?.
'''
@Override
    protected void channelRead0(ChannelHandlerContext channelHandlerContext, HttpRequest httpRequest) {
		Thread handshakeWorker = new

[2021-06-17 18:00] ykalay commented on #11396
so what I want to do
- I do not want to block IO Thread
- I want to do some blocking logics(JDBC call) before handshake
- with the result of the blocking call I wan to do handshake or not

[2021-06-17 18:01] hyperxpro commented on #11396
Well, the business logic looks good. As far I can understand, when you block and wait for database operation to complete, the client is getting times out.

Like this:
12:00:00 - Client fired WebSocket handshake request
12:00:01 - Your app makes call to database.
12:00:05 - Client didn't get any response, times out.
12:00:07 - Your database call is finished
12:00:08 - You try to complete handshake

[2021-06-17 18:07] ykalay commented on #11396
Yes. but even if I switch the JDBC call with Thread.sleep(500). The above code does not work.

[2021-06-17 18:09] ykalay commented on #11396
But when I do the process without creating a new thread. It works. Even If, I sleep It for 10 secs or more than 10. but The I/O Threads are pausing and stop consuming

[2021-06-17 18:11] hyperxpro commented on #11396
Aaaaaaaaaaaaa, I gotcha. You're using 'SimpleChannelInboundHandler'. It'll release Http Request as soon as it finishes processing channelRead0. (Even before your logic finishes in 500ms).

Use ChannelInboundHandler.

[2021-06-17 18:42] ykalay commented on #11396
Wow. but how do we do the handshake without FullHttpRequest? Is there any documentation/resource about that?

[2021-06-17 23:03] dapengzhang0 opened #11398 "Netty depends on GraalVM which is under GPL license"
### Netty version
4.1.63.Final

Because Netty started to [depend](https://github.com/netty/netty/blob/netty-4.1.63.Final/common/pom.xml#L42) on [GraalVM](https://search.maven.org/artifact/com.oracle.substratevm/svm/19.2.1/jar) under GPL license, although only annotations are used, we can not update netty version in our internal repository with exactly the same source code and its dependency's sour

[2021-06-18 07:03] ykalay commented on #11396
Thanks for the help @hyperxpro It was about to retain/release the message as you said. Very thanks for the answer to my question

[2021-06-18 07:03] #11396 closed

[2021-06-18 07:08] heixiaoma opened #11399 "FullHttpRequest content"
### Netty

     <dependency>
            <groupId>io.netty</groupId>
            <artifactId>netty-all</artifactId>
            <version>4.1.64.Final</version>
        </dependency>
4.1.64+
Content cannot be obtained
![image](https://user-images.githubusercontent.com/10923974/122520891-c5d08f80-d046-11eb-84ed-d4e70373ad38.png)

[2021-06-18 08:28] normanmaurer commented on #11399
@heixiaoma this makes sense... you should obtain the content before you pass it to the decoder and destroy it .

[2021-06-18 08:31] #11399 closed

[2021-06-18 08:32] normanmaurer commented on #11398
@dapengzhang0 ouch... that slipped through. Let me take care.

[2021-06-18 10:07] boris-unckel commented on #11332
@kashike Thanks for this link. I'm a bit sad because we invested ~2years to get the SecMan run productive on enterprise level with a huge app.

From the JEP:

[2021-06-18 13:27] normanmaurer commented on #11398
@pmlopes @vietj any idea on how to remove the usage of the annotations and just do everything with config files etc ?

[2021-06-18 13:31] normanmaurer commented on #11398
Also @trustin

[2021-06-18 13:47] normanmaurer commented on #11355
Closing as this not seems to be a netty issue at all

[2021-06-18 13:47] #11355 closed

[2021-06-18 13:48] normanmaurer commented on #11353
@pjzhong not sure I follow... do you want to provide a PR with the idea ?

[2021-06-18 13:49] #11288 closed

[2021-06-18 13:50] normanmaurer commented on #11268
Anyone did investigate this yet ?

[2021-06-18 13:50] normanmaurer commented on #11131
Let me close this for now

[2021-06-18 13:50] #11131 closed

[2021-06-18 13:51] normanmaurer commented on #10895
Can you retry with the latest release ?

[2021-06-19 08:21] RumoEL opened #11401 "[Netty 4] How do I work with attributes?"
### Netty version
4

how to create a connection property?
how to check that there is a property?
How do I get the value of a property?
how to remove a property?

what need to store:

enum hostType; // worker, client
Double healthStatus

[2021-06-19 08:23] RumoEL commented on #11401
public class ServerHandler extends ChannelInboundHandlerAdapter {

public void channelRead(ChannelHandlerContext ctx, Object msg) throws Exception {
//todo
}

}

[2021-06-19 19:11] peterdettman commented on #10822
FYI, in an interesting twist, the ALPN methods were backported as of JDK 8u251. From release 1.69, the BCJSSE provider adds runtime checks to support those methods when they are present in JDK 8, in addition to the multi-release jar support in JDK 9+.

[2021-06-20 09:48] pmlopes commented on #11398
@normanmaurer Oracle changed the artifact coordinates of the artifacts to https://search.maven.org/artifact/org.graalvm.nativeimage/svm/21.1.0/jar it seems these ones are licensed under GPL2 + Classpath Exception.

And the sdk one is licensed under the Universal Permissive Licence 1.0.

I'm not sure which one would be best. The annotations are only needed for substitution classes, the remaining co

[2021-06-20 14:25] pjzhong commented on #11353
Here is my test_case
[recycler_test.zip](https://github.com/netty/netty/files/6682498/recycler_test.zip)

[2021-06-21 07:00] normanmaurer commented on #11398
@pmlopes I have basically 0 % knowledge of graal / svm so I am a bit lost what to do... I think if we cant figure stuff out we may just need to remove the whole substitution stuff.

That said I was also wondering if it is a license problem at all as it is a "provided" dependency and so 100 % optional, but I am not a lawyer so 🤷

[2021-06-21 07:18] hyperxpro opened #11403 "Netty cannot handle HTTP/2 (h2) Prior Knowledge correctly"
### Expected behavior
Netty should be capable of handling HTTP/2 (h2) Prior Knowledge which happens even before ALPN.

### Actual behavior
HTTP/2 (h2) Prior Knowledge Preface message is being discarded because it was received even before the ALPN pipeline was configured.

### Steps to reproduce
Use Java 11 HttpClient with HTTP version set to 2.

### Minimal yet complete reproducer code (or URL to

[2021-06-21 07:19] hyperxpro commented on #11403
Some log:
[code]

[2021-06-21 07:21] hyperxpro commented on #11403
Same results with `OkHttp` using HTTP/2 Prior Knowledge.

[2021-06-21 07:49] pmlopes commented on #11398
So, I had a look at the usages and if we were to apply the patch:

[code]

This would make the change the license from GPL2 to GPL2+CE http://openjdk.java.net/legal/gplv2+ce.html (which by the way is the same as the OpenJDK, but I make your words, mine too, I'm not a lawyer).

About going the extra mile and get rid of the annotations, it would be possible but it means some (maybe large) refactorin

[2021-06-21 09:16] normanmaurer commented on #11398
@pmlopes this sounds like all we need (I think)... Can you open a PR for it so we get the attribution right ?

[2021-06-21 12:56] violetagg commented on #6737
@shakuzen @normanmaurer I'm gonna look at this and will try to provide a PR for a discussion.

[2021-06-21 14:10] #11398 closed

[2021-06-21 15:05] hyperxpro commented on #11403
@normanmaurer I have a solution in mind, should fire a draft PR?

[2021-06-21 15:34] normanmaurer commented on #11403
@hyperxpro yes please...

[2021-06-21 16:39] NiteshKant commented on #11401
`ctx.channel()` gives you the associated `Channel` instance which implements [`AttributeMap`](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/AttributeMap.java). You can use the `AttributeMap` interface to get/set attributes for the channel. Here is an example of setting attributes:

https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec

[2021-06-21 16:50] NiteshKant commented on #11393
Following the pattern of `ApplicationProtocolNames`[1] will keep it consistent, i.e. define a class containing the constants for the names instead of a java enum.

[1] https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/ApplicationProtocolNames.java

[2021-06-21 16:51] hyperxpro commented on #11393
@NiteshKant Sounds a good idea.

[2021-06-21 18:18] NiteshKant commented on #11364
A special method that is a special case to skip CNAME resolve seems less preferable than a generic way to stop resolutions, perhaps at each step. Anyways, happy to review if you have a PR

[2021-06-22 00:35] mdj1342 commented on #10046
@Bennett-Lynch thank you for the response. The solution we have currently applied is something similar. But the problem of this approach is it only works for new code, but not for existing client code.
Our end goal is to provide a generic library that will swap the MDC without changing the log interface hence make this logging compatibility library more or less transparent to existing client libra

[2021-06-22 08:57] wujimin opened #11406 "[feature request] support GMSSL"
openssl already support GMSSL algorithm:
https://www.openssl.org/docs/man1.1.1/man7/SM2.html

to support GMSSL, need to modify https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslUtils.java#L279
* add code: `|| buffer.getShort(offset + 1) == 0x101`
* add comments: or GMSSLv1.0 or GMSSLv1.1

[code]

[2021-06-22 08:59] normanmaurer commented on #11406
I would be happy to review a PR

[2021-06-22 09:02] chrisvest commented on #11388
Just tried this and I see the same `error:1417A0C1:SSL routines:tls_post_process_client_hello:no shared cipher` issue with OpenSSL 1.1.1k.

[2021-06-22 09:07] normanmaurer commented on #11388
Same

[2021-06-22 10:34] trustin commented on #11364
@gliwka I see. I agree with @NiteshKant on accepting some `Predicate` that determines when to stop. Thanks for exploring this option. :bow:

[2021-06-22 12:38] cloudyunfan commented on #6029
I also want to know how to capture it

[2021-06-22 13:30] fudaohui commented on #6029
Hope it works！

`      String message = cause.getMessage();
        try {
            if (!message.contains("Connection reset by peer")) {//tcp  rst
                log.error("do something");
                ctx.channel().close();
            }
        } catch (Exception e) {
               log.error("do something");
        }`

[2021-06-22 16:06] hyperxpro commented on #11406
Would you explain how it'll be beneficial to use `GMSSL` and how it's better than `TLSv1.3`?

[2021-06-22 19:16] togetsukyo opened #11408 "StringIndexOutOfBoundsException caused by empty content value"
### Actual behavior

A recent [commit](https://github.com/netty/netty/commit/89c241e3b1795ff257af4ad6eadc616cb2fb3dc4) causing [this line](https://github.com/netty/netty/blob/netty-4.1.63.Final/codec-http/src/main/java/io/netty/handler/codec/http/HttpUtil.java#L600) to throw exception if we've got empty content-length header:

[code]

Stack trace:

[code]

### Expected behavior

It should graceful

[2021-06-22 22:27] NiteshKant commented on #11408
Thanks for the report @togetsukyo , here is the PR for the fix: https://github.com/netty/netty/pull/11409

[2021-06-23 00:39] wujimin commented on #11406
Sorry, i didn't research this, just because a specific customer requires this feature.

[2021-06-23 00:39] wujimin commented on #11406
Ok, i'll try

[2021-06-23 10:07] #11408 closed

[2021-06-23 10:20] #11353 closed

[2021-06-23 14:12] normanmaurer commented on #11388
@chrisvest @hbelmiro can you verify if https://github.com/netty/netty/pull/11412 fixes the problem for you ?

[2021-06-23 21:19] chrisvest commented on #11388
@normanmaurer Yes, that works. Makes the test pass.

[2021-06-24 07:30] normanmaurer commented on #11388
alright... let me pull it in

[2021-06-24 08:05] #11388 closed

[2021-06-24 10:49] hbelmiro commented on #11388
Sorry for the delay.
The test pass now for me too.
Thank you very much for your help @normanmaurer and @chrisvest.

[2021-06-24 14:09] hliao opened #11416 "SslProvider.OPENSSL on file trunk transfer not beat SCP"
### Expected behavior
SslProvider.OPENSSL performance similar as SCP on file transfer
### Actual behavior
SslProvider.OPENSSL is five times slower than SCP

### Steps to reproduce
Simply using the a slightly modified version of FileServer from example folder

### Minimal yet complete reproducer code (or URL to code)
https://drive.google.com/file/d/1VWE706Z9HI9u9iShWjb-rv1IygyHlNH8/view?usp=sharing

[2021-06-24 16:59] valodzka opened #11418 "Issue with https proxy & http 2.0 / hardcoded SslHandler reference / unsupported multiple SSLHandlers"
### Expected behavior

I'm trying to implement https proxy client with netty and it works well with http/1.1 but not 2.0. Pipeline looks like:

    SSLHandler // for proxy
    HttpProxyHandler
    SSLHandler // for http
    Http Codes

### Actual behavior

It fails with http/2.0 due hardcoded reference to SslHandle `io.netty.handler.ssl.ApplicationProtocolNegotiationHandler`:

          SslHandler

[2021-06-24 22:04] NiteshKant commented on #11418
Can you explain more why do you need 2 `SSLHandler` instances for the same channel?

[2021-06-25 07:53] valodzka commented on #11418
It's how https proxies works (see here for example http://dev.chromium.org/developers/design-documents/secure-web-proxy). One SslHandler encrypts communication from client to (https) proxy, second SslHandler encrypt communication to (https) site.

[2021-06-25 15:27] valodzka commented on #11418
Example how it's done in curl. Note how multiple ssl connections established:

[code]
ssl connection **1**
[code]
ssl connection number **2**
[code]

[2021-06-26 09:26] hyperxpro commented on #11418
HTTP/2 proxies are complex to deal with. I've worked on Netty-based Proxy in past so I got some experience. Can you show the code if it's open source?

[2021-06-26 10:33] valodzka commented on #11418
Basic reproducer is fairly simple, see below (some checks omitted for brevity) . You can switch  isHttp2/withProxy to see different modes, it works in all modes except isHttp2=true/withProxy=true, in this case it `throw new IllegalArgumentException("Must switch to http2")` because of mentioned below `SslHandler` hardcode.

[code]

[2021-06-26 21:27] reka18 commented on #11020
Doesn't fix the issue anymore.

[2021-06-28 10:07] #11024 closed

[2021-06-28 10:07] #8601 closed

[2021-06-28 10:07] #8543 closed

[2021-06-28 10:08] #8542 closed

[2021-06-28 10:08] #8534 closed

[2021-06-28 10:08] #3306 closed

[2021-06-28 10:09] #3358 closed

[2021-06-28 14:47] chrisvest commented on #8515
It's possible to do this _if_ Future is generic over its implementation.
However, that in turn makes it hard to declare a generic type of Future without using subclassing to terminate the type recursion that comes from futures generalising over themselves:

[code]

The `a()`, `b()`, and `c()` methods are used to prove that the correct future-types flow through.
Also, ignore all the `null` values;

[2021-06-28 17:19] NiteshKant commented on #8515
I am wondering if we should have a result type at all for our `Future`s. The fact that all data flow through the pipeline and the primary usage is `ChannelFuture` which carries no result, I feel supporting anything apart from `Future<Void>` is an overhead. WDYT?

[2021-06-29 10:53] sevenscorpio commented on #11356
我把4.1.65换成4.1.48就没有这个问题了

[2021-06-29 11:24] heixiaoma commented on #11356
你redission用最新版本也可以了

[2021-06-29 15:37] violetagg commented on #6737
I opened a PR #11423 for a discussion. I'll appreciate your feedback.

[2021-06-29 19:31] pitagoras3 commented on #11020
For Gradle (with Kotlin syntax) it is:
[code]

Where `XXX` is version of [netty-resolver-dns-native-macos](https://mvnrepository.com/artifact/io.netty/netty-resolver-dns-native-macos)

[2021-06-30 10:55] gradinac opened #11427 "Native-image build failure when using codec-http on GraalVM 21.2 dev"
### Description of the issue
Including `codec-http` in the project and building a native-image out of it using a GraalVM 21.2 nightly can result in:
[code]
Usage of `Brotli` is hidden behind this check (https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpContentDecompressor.java#L70):
[code]
However, while parsing the bytecode of this method, native-ima

[2021-06-30 11:06] sdeleuze commented on #11427
We had to do a similar update on Spring side so +1 from my POV.

[2021-06-30 14:19] #11401 closed

[2021-07-01 01:58] benevans opened #11434 "DNS cache for non-address record types"
Hi, this is just a question about caching in netty-resolver-dns. I can see that A/AAAA and CNAME records are cached, but others are not. It looks like there are hooks for this, e.g. in `DnsRecordResolveContext`:

    @Override
    void cache(String hostname, DnsRecord[] additionals, DnsRecord result, DnsRecord convertedResult) {
        // Do not cache.
        // XXX: When we implement cache, we

[2021-07-01 06:15] normanmaurer commented on #11434
Sure if you would like to contribute I am happy to review. It was just nothing important for me yet :)

[2021-07-01 06:17] #11406 closed

[2021-07-01 08:51] #11391 closed

[2021-07-01 08:56] normanmaurer commented on #8515
I think we definitely need to have a result type as we also want to use our futures for example in `DnsNameResolver` etc.

[2021-07-01 12:10] #11403 closed

[2021-07-01 13:08] #11427 closed

[2021-07-01 13:25] philsmart commented on #11020
I still get this issue on an Apple M1. I guess there needs to be a DnsServer provider that supports the M1?

[2021-07-01 13:27] normanmaurer commented on #11020
@philsmart we currently not support M1.

[2021-07-01 13:29] philsmart commented on #11020
OK, thanks for the update.

[2021-07-01 15:03] BBartosz commented on #8801
@trajano Had the same problem, you have to set idleTimeout in grpcJava. I think also keepAlive might help you but in my case idleTimeout set to 2 minutes was better approach. Differences between them you can find in this answer: https://stackoverflow.com/questions/57930529/grpc-connection-use-keepalive-or-idletimeout

For people non using grpcJava and having this issue in netty: set the idleTimeou

[2021-07-01 16:25] ChristopherWirt opened #11441 "Support aarch64 sendmmsg, recvmmsg and YIELD"
### Expected behaviour
Equivalent network performance on aarch64

### Actual behaviour
Slower than I was hoping when under load.

We deploy a high network throughput application using Netty w/Epoll on x86. I’ve been testing out arm/aarch64 as a possible replacement as we’ve seen great results with some of our compute intensive applications. Sadly, I’ve been having some performance issues in doing

[2021-07-01 16:28] normanmaurer commented on #11441
@ChristopherWirt this is a good catch... You want to open a PR to add:

[code]
 ?

I would be happy to review it.

I would do this first and then look into the volatile as a followup

[2021-07-01 16:37] ChristopherWirt commented on #11441
Will do. Thanks

[2021-07-01 18:39] AGSaidi commented on #11441
With the `SYS_sendmsg` i don't believe the code would work at all if they weren't defined. I'm guessing these existed on x86 to enable building on platforms with very old libc/headers versions that didn't define these constants. Given the age of the system calls and that they've probably been around before 64b Arm was defined these defined aren't needed.

The change in spin behavior might improve

[2021-07-01 18:45] normanmaurer commented on #11441
Actually @AGSaidi is right ... @ChristopherWirt so this can't be the reason really

[2021-07-01 18:50] AGSaidi commented on #11441
@ChristopherWirt is there a small reproducer you see the problem with you can share?

[2021-07-02 11:20] ChristopherWirt commented on #11441
@AGSaidi Do you mean that without `SYS_sendmsg` defined for aarch64, it's fine because it does the right thing anyway? we just spend a little longer in Javacode and call a different Socket method? So unlikely the cause of my troubles. Which I think makes sense.

RE: the explicit pause in cpu_relax() - It seems like it's still worth trying 'isb' still?

I don't have a reproducer at the moment.

[2021-07-02 12:52] normanmaurer commented on #11441
Yes even without this definition it should do the correct thing.

[2021-07-02 13:26] AGSaidi commented on #11441
Yes, it might make a difference.

[2021-07-03 10:31] Mairuis opened #11447 "Potentially fatal bug in InternalThreadLocalMap.java"
### Expected behavior

return the power of two

### Actual behavior

return a negative number by overflow

### Steps to reproduce

when ThreadLocal count greater than 2^30

this is InternalThreadLocalMap.expandIndexedVariableTableAndSet implement
[code]

should implement like HashMap, let the max ThreadLocal instance count to be 2^30

### Minimal yet complete reproducer code (or URL to code)

[cod

[2021-07-03 11:00] chrisvest commented on #11447
Did you see this bug in the wild? I'm curious about the use case for that many thread locals.

There might be a check missing to give a nicer error message, but I don't think this issue is "fatal".

[2021-07-03 11:14] chrisvest commented on #11447
Also, we love contributions if you want to have a go at fixing this.

[2021-07-04 11:04] jjz921024 opened #11449 "Support RESP3 for codec-redis"
### Expected behavior
Hi, all

Do we have any plans to support Redis Serialization Protocol 3 [RESP3](https://github.com/antirez/RESP3/blob/master/spec.md) for codec-redis?

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2021-07-04 14:06] BaurzhanSakhariev commented on #6428
Hi @johnou , thx for implementing OptionalSslHandler!

Let me clarify one thing - it doesn't read handshake bytes but gets them (doesn't increase readerIndex) right?

I was trying to do something like OptionalSslHandler but for client side, and did just  sslHandker - handshake - remove from pipeline in case of failure and got error `Pending write on removal of SslHandler`. My use case [details](ht

[2021-07-04 14:15] Mairuis commented on #11447
thank you for your reply. I will do that if I have time.

[2021-07-04 14:15] #11447 closed

[2021-07-05 16:26] j-tooyoung commented on #10992
@xiaoheng1 how do you solve this problem. where idea need to configure

[2021-07-05 21:03] BaurzhanSakhariev opened #11454 "Can't remove SSLHandler after failed handshake"
I'm trying to implement something like `OptionalSslHandler` but for a client side. i.e if server supports SSL, connect with SSL and use plaintext otherwise.

To do that I added an SslHandler to pipeline, added listener to delete handler in case of handshake failure or do nothing and keep sslhandler in case of success.  This approach works when server has SSL=on (SSlHandler on server side), optiona

[2021-07-06 02:06] jvican commented on #11122
I hope to be able to dig some time to help out @chrisvest. It'd be ideal if the GraalVM team actually gave us better direction in how we could set up Netty with GraalVM Native to work effectively, perhaps working hand-to-hand with us for a few weeks. Another fruitful collaboration would be to engage with the Quarkus team. I might open a ticket in their repository to try to build more alignment.

[2021-07-06 02:09] jvican commented on #11122
By the way, do keep us posted on the work you're doing to add epoll native support. I'll borrow whatever configuration you put together and can help test it in production. The JNI configuration is the hardest to get right.

[2021-07-06 05:29] normanmaurer commented on #11454
Let me think about this for a bit and see if we can fix this or not

[2021-07-06 07:50] chrisvest commented on #11122
@jvican I was working on this back in April: https://github.com/netty/netty/pull/11163 - it stalled back then because I couldn't get the build to pass. You're welcome to pick it up and see if you can make it work. The trouble is that interactions with JNI seems to hide the cause of some Graal native image build failures.

[2021-07-06 11:47] Jerry29 opened #11456 "Websocket connections fails when headers are case sensitive"
Trying to access a third party web  application having websocket connections through spring cloud gateway

All http requests are success but websocket connections fails with **_`io.netty.handler.codec.http.websocketx.WebSocketClientHandshakeException: Invalid handshake response getStatus: 404`_**

While examining the packets observed that request headers are sent in lower case letters (upgrade, co

[2021-07-06 12:09] normanmaurer commented on #11441
That said this is only for "fast poll" which is not used by default so I think that is not what affect you.

[2021-07-06 12:57] hyperxpro commented on #11456
HTTP Headers are case-insensitive, as per RFC. If the third-party is make it case-sensitive then it's an RFC violation and you should use custom `WebSocketClientHandshake` to achieve it.

[2021-07-06 13:22] normanmaurer commented on #11454
Actually I am not sure if its so easy as we would also need to "replay" the already "read" bytes on the client side.

[2021-07-06 13:55] Jerry29 commented on #11456
@hyperxpro Can you please provide me a reference?  I am trying to create a custom class by extending WebSocketClientHandshaker13. Is it what u meant ?

[2021-07-06 13:58] slandelle commented on #11456
@Jerry29 You should report this issue to the broken third party application so they fix it instead of trying to fork the valid implementation in Netty.

[2021-07-06 14:01] hyperxpro commented on #11456
Yeah, extending is also 1 way. I'm not familiar with Spring Cloud Gateway so I cannot provide an exact solution. But you should add a handler above `WebSocketClientHandshake`.

But as @slandelle said, reporting broken RFC implementation is an ideal solution.

[2021-07-06 14:04] Jerry29 commented on #11456
@slandelle @hyperxpro I had reported it to their technical team. In my scenario this third party application can be from vendors. So just want to make sure it doesn't break even if it is not fixed in their end.

[2021-07-06 14:23] j-tooyoung commented on #10992
@xiaoheng1 i also meet the same problem. how do you solve it.

[2021-07-06 14:29] xiaoheng1 commented on #10992
You can search illegal-access=deny in pom.xml and comment this out and try

[2021-07-06 14:48] violetagg commented on #11456
In my opinion the third party component that violates the RFC should be fixed

[2021-07-06 19:43] resresd opened #11458 "[question] getting all sessions"
how to get all sessions (connected to the server / connected by the client)

by analogy in apache mina:

### in handlers:
public class MyHandler extends IoHandlerAdapter {

@Override
public void messageReceived(IoSession session, Object message) throws Exception {
Map<Long, IoSession> sessionsExc = session.getService().getManagedSessions();
}

}
### in handlers acceptor:
Map<Long, IoSession> sessi

[2021-07-06 20:09] NiteshKant commented on #11458
I am not sure about apache mina's terminology but what you are saying seems like a `Channel` in netty. By default, netty does not store all created channels (implicitly by accepting a server channel or explicitly by creating a channel from the client) but it provides a utility of [`ChannelGroup`](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/group/ChannelGroup.ja

[2021-07-06 20:25] resresd commented on #11458
In which places can track connection and disconnection of the session?
needed to save to the list

[2021-07-06 20:35] resresd commented on #11458
![clientHandler](https://user-images.githubusercontent.com/86285598/124663529-bef4aa00-de99-11eb-88dc-ea36e7af6291.png)
![clientInit](https://user-images.githubusercontent.com/86285598/124663533-c025d700-de99-11eb-8641-3882b9b750de.png)
![serverInit](https://user-images.githubusercontent.com/86285598/124663535-c0be6d80-de99-11eb-9f93-3931d7928e25.png)

[2021-07-06 20:37] resresd commented on #11458
yes, you got it right about IoSession and Channel

[2021-07-06 20:44] resresd commented on #11458
here is another 1 question: netty doesn't see classes from other maven dependencies, I have to specify at least 1 classloader from my library
see serverInit && clientInit :
ch.pipeline().addLast(new ObjectDecoder(ClassResolvers.softCachingConcurrentResolver(CheckPacket.class.getClassLoader())));

[2021-07-06 20:45] NiteshKant commented on #11458
For client you will do something like this to establish a channel:

https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/qotm/QuoteOfTheMomentClient.java#L49

So tracking creation is associated with the call to `bind()`

Fo server you can you do that in the `initChannel()` method of the handler [you provided](https://github.com/netty/netty/issues/11458#issuecomment-875064

[2021-07-06 20:46] NiteshKant commented on #11458
Netty does not do anything special here. This sounds like some problem with your local setup.

[2021-07-06 20:47] #11458 closed

[2021-07-07 05:06] xj524598 opened #11459 "How about netty soupport channelOption:SO_MARK?"
How about netty soupport channelOption:SO_MARK?
i want mark the socket，but i can not find this channelOption

[2021-07-07 06:03] hyperxpro commented on #11459
You cannot find it because it doesn't exist.
But we love contributions, you can do PR to support it.

[2021-07-07 06:13] xj524598 commented on #11459
Err...，its hard for me to make it，im not good at c

[2021-07-07 06:21] Jerry29 commented on #11456
@slandelle @hyperxpro @violetagg observed another issue, for websocket requests alone Authorization header is missing .

[2021-07-07 06:23] hyperxpro commented on #11456
Can you show the code?

[2021-07-07 06:57] Jerry29 commented on #11456
spring:
  main:
    web-application-type: reactive
  profiles:
    active: dev
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
              allowedOrigins: "*"
              allowedMethods: "*"
              allowedHeaders: "*"
      httpclient:

[2021-07-07 06:58] Jerry29 commented on #11456
@hyperxpro Have pasted my application.yml. Do you need any other details ?

[2021-07-07 07:35] violetagg commented on #11456
@Jerry29 May be check this one https://docs.spring.io/spring-cloud-gateway/docs/current/reference/html/#building-a-simple-gateway-by-using-spring-mvc-or-webflux

[code]

However I think that this second question is not related to the original issue and you should continue that second discussion with SCG :)

[2021-07-07 08:17] Jerry29 commented on #11456
@violetagg I raised a different issue for that https://github.com/spring-cloud/spring-cloud-gateway/issues/2289

[2021-07-07 10:06] BaurzhanSakhariev commented on #11454
Thanks for your reply! Yep, looks complicated - and I just realized that StartTls [described in SslHandler](https://github.com/netty/netty/blob/ac91eaaae8b06b8954e4a5f4c68d4e17548af142/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L118-L150) can help in my case.

Could you please clarify, is that protocol available as SslHandler's API (sending startTLS request/response) or it's instru

[2021-07-07 18:38] lukjel commented on #11020
@normanmaurer do you have any workaround?

[2021-07-07 19:15] #11393 closed

[2021-07-08 09:51] #6899 closed

[2021-07-08 12:08] aakejiang opened #11465 "io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Operation timed out"
### Expected behavior
I'm facing an exception from Netty. My app is running and it happens randomly.
### Actual behavior
io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Operation timed out
at io.netty.channel.unix.Errors.newIOException(Errors.java:122)
at io.netty.channel.unix.Errors.ioResult(Errors.java:146)
at io.netty.channel.unix.FileDescriptor.readAddress(FileDescripto

[2021-07-08 13:02] mendorf-ebf opened #11466 "netplan and resolv.conf"
With netplan on Ubuntu, we do not have /etc/resolv.conf on our systems, so the changes in #8319  lead to a fallback to Google hardcoded DNS servers, which is not accessible in our environment.

https://www.cloudsavvyit.com/4240/how-to-set-dns-search-order-in-ubuntu-18-04-using-netplan/

### Expected behavior
utilize the system defined DNS servers

### Actual behavior
falls back to hardcoded Google

[2021-07-08 13:57] hyperxpro commented on #11465
Please specify Netty, JVM, and OS versions.

[2021-07-08 15:14] aakejiang commented on #11465
Netty: 4.1.36.Final
Java 8
OS: Linux 3.10.0-1062.9.1.el7.x86_64
Running on Docker

[2021-07-08 15:25] hyperxpro commented on #11465
Please upgrade to the latest Netty version and see if the issue still persists.

[2021-07-08 18:15] NiteshKant commented on #11466
I don't think the issue you pointed to is causing to use hardcoded name servers, that issue just changed how we initialize default search domains. The default name servers are initialized [here](https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/DefaultDnsServerAddressStreamProvider.java#L94) and used by default if there is no `etc/resolv.conf` present.

I do

[2021-07-08 19:02] mendorf-ebf commented on #11466
Thanks @NiteshKant for your feedback + clarification, much appreciated, will be fine with it for the time being I guess.

[2021-07-09 02:35] Rishabh-Handa commented on #9768
Hi @njhill, what are the drawbacks of setting `Dio.netty.allocator.numHeapArenas=0` ?

We are using `JMS`, which internally, to create connection makes use of `org.apache.qpid.jms.provider.amqp.AmqpProvider`
which by deafult instantiates `PooledByteBufAllocator`, hence, PoolChunks are retained in the heap memory

Could there be any issues while sending/receiving messages if we set `Dio.netty.alloc

[2021-07-09 07:30] Jerry29 commented on #11456
@violetagg @hyperxpro any help on https://github.com/spring-cloud/spring-cloud-gateway/issues/2289

[2021-07-09 07:35] hyperxpro commented on #11456
Drop me an email. Lemme help you of-the-track. :)

[2021-07-09 07:45] #6737 closed

[2021-07-09 07:49] Jerry29 commented on #11456
@hyperxpro Done.

[2021-07-09 07:51] normanmaurer commented on #11456
I think this can be closed now.

[2021-07-09 07:51] #11456 closed

[2021-07-09 08:50] aakejiang commented on #11465
This is how i handle the exception:

[code]

and the output log:
[code]

The remoteAddr R:/10.5.2.31 is now not existing. It is destroyed one hour ago.

[2021-07-09 09:24] doom369 opened #11471 "QueryStringDecoder doesn't parse encoded question mark"
URL like this is not parsed:

`https://host/path%3Fparam=1`

This one works:

`https://host/path?param=1`

[code]

[2021-07-09 12:58] chrisvest commented on #10992
Commenting it out should not be necessary. Sounds like a Java 9 (or greater) profile is somehow enabled. Could be Maven is running with a mix of Java versions, e.g. `java` command invoking one version and `JAVA_HOME` pointing to another version. Or something else is wrong with the environment. So that's what people need to investigate if they run into this issue.

[2021-07-09 13:07] chrisvest commented on #11454
@BaurzhanSakhariev Random note: when TLS is optional for the client, the servers must be either TLS on or TLS off – they cannot also have TLS be optional, since a 3rd party adversary could then cause a downgrade attack by sabotaging the handshake.

[2021-07-09 13:49] normanmaurer commented on #11454
+1 to what @chrisvest said... You may be able to implement some sort of `STARTTLS` protocol.

[2021-07-09 15:48] murphye commented on #10991
Just as FYI, I have been running benchmarks of Netty (with WebFlux) using Unix Domain Sockets with Netty. I am observing a slight **decrease** in performance compared to HTTP2 for the same load tests. If there is a better way to implement Unix Domain Sockets with Java 16, it may have significant performance improvements.

[2021-07-09 16:56] BaurzhanSakhariev commented on #11454
@chrisvest, thanks for bringing it up!

@normanmaurer on STARTTLS - as far as I understand [description](https://netty.io/4.0/api/io/netty/handler/ssl/SslHandler.html)  in SslHandler docs, it would need initial plaintext exchange of StartTLS request/response, even with SslHandler on server side applying `create a new SslHandler instance with startTls flag set to true,` would let first message from

[2021-07-10 22:33] perezd opened #11477 "GraalVM Native Image compilation fails related to BrotliDecoder"
I know Netty recently supported integrating with GraalVM native images and I think the recent Brotli has silently broken the native image support.

This class needed to be added to the `--initialize-at-run-time` stanza for netty, but I don't know where it belongs:
[code]

When I did that manually as a workaround everything compiled as expected.

[2021-07-11 09:19] huibinliupush opened #11478 "Complie transport-native-unix-common subproject encounter fatal error: 'netty_jni_util.h' file not found"
### Expected behavior

build success

### Actual behavior

[INFO] --- maven-antrun-plugin:1.8:run (build-native-lib) @ netty-transport-native-unix-common ---
[INFO] Executing tasks

main:
     [exec] mkdir -p /myNettyHome/netty/transport-native-unix-common/target/native-objs-only
     [exec] clang -o /myNettyHome/netty/transport-native-unix-common/target/native-objs-only/netty_unix_buffer.o -c src

[2021-07-11 10:27] shemminga opened #11479 "java.util.zip.DataFormatException: invalid block type in JdkZlibDecoder for large gzip stream"
When downloading a large gzip stream, Inflater throws a DataFormatException when using HttpContentDecompressor, but not when using a GZIPInputStream.

### Expected behavior

No exception.

### Actual behavior

[code]

Full logs: [logs.txt](https://github.com/netty/netty/files/6796744/logs.txt)

### Steps to reproduce

* Install a handler that overrides the `Content-encoding` header to `gzip`, and

[2021-07-11 11:01] #11478 closed

[2021-07-11 16:12] hyperxpro commented on #11477
Check: https://github.com/netty/netty/pull/11428

[2021-07-11 17:57] perezd commented on #11477
Ha! yay, fixed at head. I'll just wait for the next version to be released, thanks!

[2021-07-11 17:57] #11477 closed

[2021-07-12 10:14] chrisvest commented on #9768
@handaj If you set `-Dio.netty.allocator.numHeapArenas=0` then heap buffers won't be cached and reused. You'll have more allocation going on, and thus more GC work. On the other hand, max heap size might in theory be smaller since there's no cache that'll hold on to memory that isn't used.

[2021-07-12 10:29] franz1981 commented on #9768
If you feel that qpid JMS should just use off heap buffers for that use
case I suggest to open an issue on qpid JMS too :)

Il ven 9 lug 2021, 04:36 rishabh ***@***.***> ha scritto:

[2021-07-12 11:06] hyperxpro commented on #11418
Okay, I am able to reproduce this.

@valodzka  Do you've any solution in mind?

[2021-07-12 11:58] normanmaurer commented on #11471
@slandelle can you have a look ?

[2021-07-12 12:03] valodzka commented on #11418
I'm not netty internals expert, but I see two issues in `ApplicationProtocolNegotiationHandler`:
1. Hardcoded `SshHandler.class` reference: `ctx.pipeline().get(SslHandler.class)`
2. Hardcoded `SslHandshakeCompletionEvent` check: `evt instanceof SslHandshakeCompletionEvent`

It can be resolved by passing ssl handler object in `ApplicationProtocolNegotiationHandler` and storing ssl handler in `SslHa

[2021-07-12 12:04] normanmaurer commented on #11418
@hyperxpro

[2021-07-12 12:10] VladimirKempik opened #11481 "Possible bug in PoolThreadCache"
### Expected behavior
no jvm crash
### Actual behavior
jvm crash
### Steps to reproduce
no reproducer
### Netty version
4.1.51
### JVM version (e.g. `java -version`)
Zulu11.43+22-SA (11.0.9+11) (build 11.0.9+11-LTS)
### OS version (e.g. `uname -a`)
OS:CentOS Linux release 7.8.2003 (Core)
uname:Linux 3.10.0-1127.18.2.el7.x86_64 #1 SMP Sun Jul 26 15:27:06 UTC 2020 x86_64

I was working on a JVM cras

[2021-07-12 13:20] hyperxpro commented on #11481
Please use the latest version of Netty and see if the issue still persists.

[2021-07-12 17:50] NiteshKant commented on #11479
@shemminga looks like your reproducer uses reactor. In order to make sure that the issue is with netty code and not possibly some configuration in reactor, can you provide a netty only reproducer?

[2021-07-12 20:57] slandelle commented on #11471
@doom369 This is the expected result.

`https://host/path%3Fparam=1` is an URI with a `/path?param=1` path and no query parameter.

Then, `QueryStringDecoder`'s javadoc is wrong in many places, eg `Splits an HTTP query string into a path string and key-value parameter pairs.` while it actually expects a relative URL. In particular, in the above example, `queryDecoder.path()` will return `https://h

[2021-07-13 03:37] hyperxpro commented on #11418
Maybe you should extend `SslHandler` and `ApplicationProtocolNegotiationHandler` and give it another try?

[2021-07-13 08:49] valodzka commented on #11418
I already have workaround but it's still bug in Netty.

[2021-07-13 11:03] doom369 commented on #11471
I see. Ok. No problem.

[2021-07-13 11:03] #11471 closed

[2021-07-13 11:27] hyperxpro commented on #11418
Can I have a look at the workaround?

[2021-07-13 13:54] normanmaurer commented on #11481
Also this might be a JVM bug.

[2021-07-13 13:58] valodzka commented on #11418
Unfortunately I cannot provide full code because it's coupled to other internal classes.

[2021-07-13 23:32] shemminga commented on #11479
Sure.

I'm not entirely confident that I got the details right on the following, but it shows the same behaviour as the version with reactor-netty.

[code]

Stacktrace:
[code]

[2021-07-14 09:55] gemmellr commented on #9768
Did you miss the bit where it is apparently Netty itself that is deliberately creating the on-heap buffers @franz1981? :)

[2021-07-14 10:26] franz1981 commented on #9768
@gemmellr yep, don't have my laptop with me ATM, but yep, if the heap buffer has been allocated in some Netty handler qpid jms cannot do anything to help

[2021-07-14 14:43] normanmaurer opened #11489 "JdkOpenSslEngineInteroptTest.testMutualAuthSameCerts() needs investigation"
We disabled `JdkOpenSslEngineInteroptTest.testMutualAuthSameCerts()` as the test was quite flaky. We need to investigate.

See also https://github.com/netty/netty/pull/11488

[2021-07-14 20:46] NiteshKant commented on #11479
This does look like a bug, the provided reproducer, reproduces for me locally too. It seems to always happen after we finish reading a footer but not every time we finish reading a footer 😭

@idelpivnitskiy any idea?

Not related to this issue, but it seems like `JdkZlibDecoder` does not clear state when it itself throws an `Exception` and hence tries to keep decoding even though a previous decode

[2021-07-15 12:30] chrisvest commented on #11481
@VladimirKempik What Netty settings are you using? Since you're on Java 11, I guess you don't have Unsafe enabled, correct? Do you use NIO channels or something else?

If Unsafe usage is disabled, and that you're using NIO channels, and still see the problem then it's very likely to be a JVM bug.
I recommend you try upgrading your JVM first and see if that fixes it.

[2021-07-15 13:32] normanmaurer commented on #11479
@NiteshKant imho the only sane thing todo in case of an exception would be to close the channel. WDYT ?

[2021-07-15 14:42] hyperxpro commented on #11481
Java 11 has Unsafe enabled.

[code]

[2021-07-15 15:56] chrisvest commented on #11481
@hyperxpro On Java 11, you need an `--add-opens` command line flag to access Unsafe. Not sure how many do that in prod.

[2021-07-15 16:36] normanmaurer commented on #11481
@chrisvest as far as I know this is not true... you only need it for `jdk.internal.misc.Unsafe` but not for `sun.misc.Unsafe`.

[2021-07-15 16:43] franz1981 commented on #11481
I can confirm what @normanmaurer and @hyperxpro said here: on JCTools Jdk 11 just work with sun misc Unsafe OOTB

[2021-07-15 16:49] hyperxpro commented on #11268
Well, this one fell off my radar. I will get back by this weekend with some updates.

[2021-07-15 16:52] VladimirKempik commented on #11481
netty came as part of aluxio, the only netty related option in args was
-Dorg.apache.ratis.thirdparty.io.netty.allocator.useCacheForAllThreads=false
will try to check if -Dio.netty.noUnsafe=true will change anything ( I don't have a reproducer locally)
the issue is reproducable and always happens with netty's object of type WeakRefence<Thread> ( "next" field), and it's always  - proper oop pointer

[2021-07-15 17:21] NiteshKant commented on #11479
@normanmaurer yes and set the internal state to `finished` such that we just discard all subsequent bytes.

[2021-07-15 17:23] normanmaurer commented on #11479
@NiteshKant sounds like a plan

[2021-07-15 17:24] NiteshKant commented on #11479
Just to be clear, that isn't the cause of this issue, I just noticed it during debugging as it threw multiple times due to the same issue.

[2021-07-16 12:07] hyperxpro commented on #11268
After some JMH based debugging, I'm confident enough to say something is wrong with Java KeyStore and TrustManager modules.

Without specifiying `TrustManager`:
[code]
[code]

` --------------------------- `

Using `InsecureTrustManagerFactory`:
[code]
[code]

@normanmaurer PTAL

[2021-07-16 12:22] normanmaurer commented on #11268
Well we just set the TrustManagerFactory and thats it in this scenario. You will need to attach a profiler to understand where all the time is spent. I suspect its inside some JDK internals.

[2021-07-18 13:31] kevinten10 opened #11491 "Decorate Runnable / Callables Task."
Hello netty team.

As mentioned by #2759, #6524 and #8680.

Does the netty community plan to implement the feature “_decorate Runnable / Callables when submitted to the EventExecutor / EventLoop_“?

I currently use netty4 and I hope to expand the `Runnable`.

If it makes sense, I can achieve this PR.

Thanks.

[2021-07-18 16:43] mouse500 opened #11492 "netty doesn't use maximum cpu even though it has room and things to do, much waiting at epollWaitNoTimerChange"
I'm writing a network intensive WebFlux application. When receiving request, application requests and recieves something with another external server and then reply to original requester. I'm talking about the WebFlux application, and I'm using WebClient when call to external server.

Application's performance is not that satisfiable. I think it should touch the maximum of CPU resource, maximum TP

[2021-07-19 10:48] lawnight opened #11493 "epollEventLoop no way to set ioRatio"
cause send data far more than read data in my server, so  i want to set ioratio in epollEventLoop，but i find no way to do it。setIoRatio method in EpollEventLoopGroup.java is deprecated.

[code]

after some dig, this pull #7834 "decouple schedule tasks from epoll_wait life cycle " really helps，but sadlly this change reverted in #9561 @normanmaurer

i wonder if there were some ways to set IoRatio or

[2021-07-19 20:27] NiteshKant commented on #11492
Since this is using WebFlux/reactor have you tried asking that community where the bottleneck could be?

[2021-07-19 20:33] NiteshKant commented on #11493
The `setIoRation()` method on the `EpollEventLoopGroup` is deprecated but it is [present](https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/channel/epoll/EpollEventLoop.java#L267) and applicable on the `EpollEventLoop` class.

[2021-07-19 20:37] NiteshKant commented on #11491
The way to achieve this today is by extending/delegating the existing eventloop implementations. Although, doing so makes it harder to use as channel types are coupled with eventloop types. If you do control all your usages of EventLoop it may be doable. Netty 5 makes such extensions easier and AFAIK we do not intend to improve this for 4.x version.

[2021-07-19 23:01] lawnight commented on #11493
thank you for reply , i found the way to set ioRatio. though EpollEventLoop class not public , i only can put my class in io.netty.channel.epoll package to invoke this method.a litter tricky.

[2021-07-20 00:36] mouse500 commented on #11492
I didn't ask that community but I can try.
----

The reason why I'm trying to talk about this here.
When I capture a thread dump when situation going on(low cpu, low tps),
I can see 70~80% of all worker threads show above stacktrace,  not any other point of WebClient or reactor thing.

  io.netty.channel.epoll.Native.epollWait
  ...
  io.netty.channel.epoll.EpollEventLoop.epollWaitNoTimerChange

[2021-07-20 00:39] NiteshKant commented on #11492
Netty is an EventLoop based library, so it waits for I/O or other tasks to be available to process. If you see eventloop threads waiting in netty's internal stacks, it most likely because there is no I/O work available to do.

[2021-07-20 05:52] mouse500 commented on #11492
Thank you for your opinion~

Yes,  that is exactly what I expected too.
It can be thought that it because there is no I/O work available to do.

That's why I prepare a very simple backend server and get it on local network with the WebFlux application.
(I also tried with many backend server,  and simple backend server in local env.  all is same result)
The application use cpu 30% while backend ser

[2021-07-20 06:31] normanmaurer commented on #11493
@lawnight just do it on the `EpollEventLoopGroup`. This will apply the setting for all the `EpollEventLoop` instances it contains.

[2021-07-20 07:02] Neustradamus commented on #10905
@hyperxpro, @normanmaurer: Can you update to 1.69?

[2021-07-20 07:03] hyperxpro commented on #10905
Sure, will do PR.

[2021-07-20 07:25] Neustradamus commented on #10184
@normanmaurer, @ihanyong: Can you update to 1.69?

[2021-07-20 08:15] violetagg commented on #11492
@mouse500 I will encourage you to upgrade as this version Spring Boot 2.3.4.RELEASE is pretty old.

[2021-07-20 08:51] normanmaurer commented on #11493
Closing...

[2021-07-20 08:51] #11493 closed

[2021-07-20 08:52] normanmaurer commented on #11481
@VladimirKempik keep us posted

[2021-07-20 08:53] hyperxpro commented on #10905
@Neustradamus PTAL #11495

[2021-07-20 09:27] abcdelf commented on #4466
https://bugstack.cn/itstack-demo-netty/itstack-demo-netty.html
链接也更新一下呐

[2021-07-20 10:35] mouse500 commented on #11492
@violetagg Ok,  Thank you,  I will try.
Actaully, I already tried with various version of Spring Boot, and JDK version, Linux Distribion.
Anway,  will try with the latest version.

Now, I think this is not about some other issue.
I will look around something else more.

Thank you very much.

[2021-07-20 12:54] lawnight commented on #11493
in fact , `EpollEventLoopGroup` just check parameters not apply the setting
[code]

[2021-07-20 13:45] #11492 closed

[2021-07-20 13:45] mouse500 commented on #11492
Thank you for all

[2021-07-21 03:20] ITzhangqiang commented on #327
so  how to slove this issue？

[2021-07-21 03:59] newstarjones commented on #10992
it’s ok when i uncheck the java11 profile.
![image](https://user-images.githubusercontent.com/3959734/126428716-f1262f8c-e6c6-4f34-904d-5bf15cf734d7.png)

[2021-07-21 08:40] techdeba901 opened #11497 "Adding actuator prefix path to readiness and liveness probe"
### Expected behavior
I am using webflux and netty in my spring boot app. I tried with the following line in my application.properties file
management.endpoints.web.base-path=/secure

And expecting readiness and liveness probe to be

livenessProbe:
  httpGet:
    path: /secure/actuator/health

readinessProbe:
  httpGet:
    path: /secure/actuator/health

### Actual behavior
But during runtime live

[2021-07-21 08:44] normanmaurer commented on #11497
this sounds more like a spring issue to me... @violetagg thoughts ?

[2021-07-21 09:09] bclozel commented on #11497
@techdeba901 Please avoid creating duplicate issues across projects.
@normanmaurer You can close this issue as a duplicate of spring-projects/spring-boot#27423

[2021-07-21 09:22] #11497 closed

[2021-07-21 10:41] kevinten10 commented on #11491
Thanks for your reply, I already understand the community’s plan.

[2021-07-21 11:09] VladimirKempik commented on #11481
I will try, I don't possess the reproducer tho.

[2021-07-22 07:28] chanmufeng opened #11501 "How to find all channels bound to a specific eventloop？"

[2021-07-22 07:51] npdbleak opened #11502 "ERR - LEAK: ByteBuf.release() was not called before it's garbage-collected."
### Expected behavior
Below error should not come:
'ERROR ResourceLeakDetector:319 - LEAK: ByteBuf.release() was not called before it's garbage-collected.'

### Actual behavior

2021-07-21 15:45:00 ERROR ResourceLeakDetector:319 - LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access record

[2021-07-22 08:57] hyperxpro commented on #11502
[code]

Release the `Bytebuf` by yourself If you've got the option else report the issue to ASF. It's not a Netty bug.

[2021-07-22 09:56] npdbleak commented on #11502
Hi hyperxpro,

Thanks for the prompt revert.

Could you please guide me on how and where to release the Bytebuf? as there is no application class showing up in the logs, so we are not sure which part of the code is to be fixed / where to release the Bytebuf?

and what is ASF?

[2021-07-22 09:59] hyperxpro commented on #11502
Just call `Bytebuf#release` method. If you don't have access to that `Bytebuf` then you should report this issue to ASF (Apache Software Foundation) on their issue tracker because `org.apache.sshd.netty.NettySupport$1.getRawBytes(NettySupport.java:44)` this class is responsible for releasing `Bytebuf`.

[2021-07-22 12:12] xixingya commented on #2341
hello，you shoud use NioSocketChannel.class in the channel

[2021-07-22 17:00] NiteshKant commented on #11501
Netty does not provide you with such information out of the box, but you can easily keep that registry by yourself if you add a `ChannelHandler` that implements `channelRegistered()` and `channelUnregistered()`.

[2021-07-22 19:57] slandelle opened #11505 "BoringSSL + TLSv1.2 client side stateful session resumption doesn't work"
### Expected behavior

TLSv1.2 state session resumption should work when using BoringSSL just like it does when using Java's SSLContext.

When sending a subsequent ClientHelllo, netty should send the previous Session ID.

### Actual behavior

When using BoringSSL, Netty always send `Session ID Length: 0`.

### Steps to reproduce

* Send 2 requests with Netty based client to google.com (enforce TLS

[2021-07-22 23:57] idelpivnitskiy commented on #11479
After a quick look my guess is that we mess with indexes when we set more input for inflator. There is a risk that we push the same bytes twice if indexes are moved incorrectly between multiple `decode` invocations.

I did check that `JZlibDecoder` works fine with this input. So, the workaround will be to use `-Dio.netty.noJdkZlibDecoder=true` system property. `JdkZlibDecoder` requires deeper debu

[2021-07-23 06:36] juebanlin opened #11506 "set autoRead(true), sometimes Can't recover by myself"
### Netty version
4.1.65
### JVM version (e.g. `java -version`)
openjdk-11.0.11+9
### OS version (e.g. `uname -a`)
ubuntu 18.04

### desc
This problem is not easy to reproduce,
I have 8 clients connected to an exchange node for traffic interaction. After a few hours, there was a client connection that could not be read automatically, and the client could not be sent to the exchange node.

###  cod

[2021-07-23 10:25] hyperxpro commented on #11506
The information which you provided is very little to help.

[2021-07-23 17:30] hyperxpro commented on #11489
I think we should disable the entire `JdkOpenSslEngineInteroptTest` class test because of repetitive test failures.

Should I do a PR?

[2021-07-24 00:16] juebanlin commented on #11506
Because the business code is complex, no more details can be provided, but the general process is similar. At present, epoll mode has been set to level mode. It seems that there is no problem

[2021-07-24 04:07] NiteshKant commented on #11506
Without getting into autoRead specifics, can you describe what are you trying to achieve?

[2021-07-24 07:12] chanmufeng commented on #11501
get it! Thanks

[2021-07-24 07:12] #11501 closed

[2021-07-25 01:48] juebanlin commented on #11506
I have a service node and some clients, some of which send messages to the node, and the node forwards the client message to other clients. The service node uses the business queue to forward the message and judges isWriteAble. If it is false, sleep And wait in a loop. When the service node receives the message and prepares to be sent to the queue, it will set autoRead according to the capacity of

[2021-07-25 04:52] #11506 closed

[2021-07-25 10:18] slandelle commented on #11505
I've created a pure netty reproducer.

[2021-07-25 10:19] slandelle commented on #11505
@normanmaurer Do you have any idea about what's going on? Am I doing something wrong?

[2021-07-26 06:33] normanmaurer commented on #11505
I had no time yet to check... will check and come back to you.

[2021-07-26 09:00] slandelle commented on #11505
Thanks. Please let me know if I can be of any help.

[2021-07-26 09:48] normanmaurer commented on #11489
@hyperxpro see https://github.com/netty/netty/pull/11513

[2021-07-26 09:50] #11502 closed

[2021-07-26 09:51] normanmaurer commented on #11479
Let me have a look.

[2021-07-26 11:32] emosrb commented on #7675
@dingrui37 Can you share the code using which u resolved this issue?

[2021-07-26 12:03] debinaik opened #11515 "Netty unable to handle multiple messages on same TCP session"
Hi,

I am using netty server for TCP communication.  I could see , netty tcp server is unable to handle multiple messages on same session.

[2021-07-26 17:28] hyperxpro commented on #11515
Please provide more detailed information of the issue.

[2021-07-27 01:28] AngryMills opened #11519 "netty doesn't support DNS refresh"
### Expected behavior
We use spring-boot-starter-data-redis to connect redis with domain name，when redis server down, we switch DNS of domain name，but it doesn't work
### Actual behavior
I check the code,whether io.netty.netty-resolver-dns or io.netty.netty-resolver save dns cache after successful parsing.
When will cache refresh? Maybe try for a few times or make a schedule timer to update the ca

[2021-07-27 02:57] skyguard1 commented on #11519
@normanmaurer How about adding a method to manually clear `resolveCache`, `authoritativeDnsServerCache` and `cnameCache`?

[2021-07-27 06:44] hyperxpro commented on #11519
This is expected because a DNS query response should be cached till TTL. Lowering TTL is a good way to ensure the freshness of cached responses.

[2021-07-27 07:26] normanmaurer commented on #11519
@skyguard1 it is already possible via `dnsCache().clear()` etc.

[2021-07-27 07:26] #11519 closed

[2021-07-27 14:21] normanmaurer commented on #11479
This is fixed by https://github.com/netty/netty/pull/11521 ... I am currently looking into writing a test-case for it.

[2021-07-27 14:38] debinaik commented on #11515
Thanks Aayush for the quick reply.  I am planning to build a async TCP server , which is supposed accept multiple TCP connections from multiple clients and _on each TCP connection, TCP client is supposed to exchange multiple messages_  .

Note: Communication medium between client and server is plane vanilla TCP binary protocol communication.

Below Steps are being executed as follows...

1. TCP cl

[2021-07-27 14:39] normanmaurer commented on #11479
Ok testcase was added as well

[2021-07-27 15:41] hyperxpro commented on #11515
Here is a snippet from your code:
[code]

You're closing the connection from the server after writing first response back to client. `future.addListener(ChannelFutureListener.CLOSE);` closes the connection as soon as first response is sent out. So you should remove it from the code to make sure the connection is open for 2nd request and further more.

[2021-07-27 16:25] linking12 opened #11522 "Http2 ReferenceCountUtil.release(request, refCount) can not real release"
### Expected behavior
  when cpu use 100%, directBufer will release success when I'm sure have called ReferenceCountUtil.release
### Actual behavior
  not release
### Steps to reproduce
 none
### Minimal yet complete reproducer code (or URL to code)
 none
### Netty version
4.1.52.Final
### JVM version (e.g. `java -version`)
JDK8
### OS version (e.g. `uname -a`)
CenterOs

Log:
![image](https://user

[2021-07-27 16:35] hyperxpro commented on #11522
Yes, `ReferenceCounted#release` will work under any circumstance regardless of system load.

No way.

[2021-07-27 16:42] linking12 commented on #11522
Thanks for your reply @hyperxpro

can you check my screenshot log?  I'm sure have call  ReferenceCountUtil.release, But the log tell me " LEAK: ByteBuf.release() was not called " , The only explanation when system cpu is use 100%, The  ByteBuf.release() is not normal.

[2021-07-27 16:56] hyperxpro commented on #11522
As per the screenshot, ByteBuf is released at 21:59 and exception was thrown at 22:06, there are 7 minutes approx and as per my experience, it is enough for ByteBuf to be released even under extreme system load.

I'd suggest doing something like this:
[code]

You should show the code for more detailed review.

[2021-07-27 17:11] linking12 commented on #11522
Thank you again @hyperxpro

Step1:  copy and save

[code]

HttpFiltersAdapter.class
[code]

Step2: find httpFiltersAdapter and call releaseHttpRequest

[code]

Troubleshoot step：
    By x-trace-id to find which request；

![image](https://user-images.githubusercontent.com/4882172/127197911-fbc09f90-d73b-4e79-aeca-6e5332f3b507.png)

![image](https://user-images.githubusercontent.com/4882172/12719807

[2021-07-28 04:52] JavLock opened #11524 "[Question][4.1.66.Final] [JSON{DECODER/ENCODER}]"
### Netty version
4.1.66.Final
how to send objects as json

JavaObject(Serializable)->Encoder(to Json)->network->Decoder(to JavaObject) ->JavaObject

server:
![aaa](https://user-images.githubusercontent.com/87483305/127265676-8fff82fc-af97-4ee7-a195-624272134bb0.png)

client:
![aaa2](https://user-images.githubusercontent.com/87483305/127265754-1003d0db-9af9-45f9-8f65-795b7d5bb07a.png)

[2021-07-28 04:53] JavLock commented on #11524
trace:
![aaa3](https://user-images.githubusercontent.com/87483305/127265846-93df4f96-2797-49af-99b8-88dbc4b14bf2.png)

[2021-07-28 05:08] debinaik commented on #11515
Thanks Aayush. Yesterday I had replaced future.addListener(ChannelFutureListener.CLOSE) with below future callback and started receiving the second request with full data. But response is not being sent to the client. Also I had debugged further and found out below sysout inside channelFuture.isSuccess() is never reached. It means write to client is still pending and not yet successful.

Again I a

[2021-07-28 06:51] hyperxpro commented on #11515
You're writing a `String` back to the client. If you don't convert `String` to `ByteBuf` using your custom handlers in the pipeline then you don't be able to write data back to the client successfully.

Try this instead:
[code]

[2021-07-28 06:54] fredericBregier commented on #11524
As far as I understand the decoder implemented in Netty:
- There is only the decoder, used without any other handler before: the assumption is that the received stream is a string
- It is up to the sender part to decide which implementation is needed (Jackson, Google...) to transform an object to Json string
- ObjectEncoder and ObjectDecoder are not concerned: they (de)serialize objects, not in Js

[2021-07-28 07:21] #11479 closed

[2021-07-28 11:00] sjskjs opened #11527 "How we can solve server issue oo Netty in pojavlauncher"
Ko

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2021-07-28 11:01] normanmaurer commented on #11527
closing this as there is no details at all what this is all about.

[2021-07-28 11:01] #11527 closed

[2021-07-28 13:10] linking12 commented on #11522
![image](https://user-images.githubusercontent.com/4882172/127327346-ae7fd931-8e3e-4b04-a1f6-d441de347924.png)

@hyperxpro I can not understand this phenomenon， I make sure have call release, but log say fail to release, and then memory leak;

[code]

[2021-07-28 15:27] hyperxpro commented on #11522
I can't tell exactly what is wrong with your code but from a quick look, it looks like the way you're making a copy and storing it.

[2021-07-29 08:49] michalgazda opened #11528 "DnsResolveContext.internalResolve() resolves just by CNAME which may be problematic."
### Expected behavior
For some DNS name like `xxx.test.com` it would resolve DNS address for the name and its CNAME like `yyyy.elb.us-west-2.amazonaws.com`.
### Actual behavior
For further queries (when cache is filled) IPs are resolved just by CNAME if there is one. So on the initial resolve additional IP for actual name `xxx.test.com` is obtained on the first position in `DnsResolveContext.final

[2021-07-29 15:57] slandelle opened #11529 "BoringSSL + TLSv1.2 client side SSL renegociation fails"
### Expected behavior

BoringSSL based SSLEngine should support SSL renegociation out of the box like the JDK one.

### Actual behavior

SSLEngine and connection crashes during renegociation.

This issue was originally reported against Gatling, see https://github.com/gatling/gatling/issues/4120 for more details.

### Steps to reproduce

See pure Netty reproducer below.

### Minimal yet complete re

[2021-07-29 16:10] normanmaurer commented on #11529
As far as I remember we don't support renegotiation when using the OpenSSL / BoringSSL based engines   because these are considered not secure anymore.

https://boringssl.googlesource.com/boringssl/+/refs/heads/master/include/openssl/ssl.h#4056

[2021-07-29 16:28] slandelle commented on #11529
Here, Netty is client side and the initiator is the server. Also, this request works fine with Chrome, whose TLS implementation is BoringSSL.

Doesn't renegotiation only bring security issues when the initiator is the client, not the server?

[2021-07-29 19:22] ejona86 commented on #8515
Taking from https://github.com/netty/netty/pull/11517#discussion_r679297862, the generic isn't verified at all so mostly just hides an implicit cast.

[2021-07-30 10:03] normanmaurer commented on #11529
I suspect we would need to enable it explicit for BoringSSL:

https://boringssl.googlesource.com/boringssl/+/6b6e0b20893e2be0e68af605a60ffa2cbb0ffa64/PORTING.md#tls-renegotiation

[2021-07-30 10:55] slandelle commented on #11529
Indeed.

Does it looks feasible to you to introduce a new option to be passed through `SslContextOption` to configure the underlying BoringSSL?

[2021-07-30 12:34] normanmaurer commented on #11529
Yeah I guess something like this. That said I think we will also need to add some changes to `ReferenceCountedOpenSslEngine`

[2021-07-30 12:38] slandelle commented on #11529
I'm off on vacation tonight, so I'll only be able to have a look in a few weeks. Thanks for your insights!

[2021-07-30 12:39] normanmaurer commented on #11529
@slandelle no worries... I will also be on vacation soon 😆

[2021-07-30 12:45] slandelle commented on #11529
Again??? You're just back! 😆

[2021-07-30 12:48] linking12 commented on #11522
I think this is netty http2 bug

![image](https://user-images.githubusercontent.com/4882172/127654909-ff7567d2-5e84-4aa9-aa1e-1560a4de112b.png)

call code:

[code]
releaseHttpRequest code
[code]

I'm call  ReferenceCountUtil.release(request, refCount) and return success, but cause memory leak..

[2021-07-30 16:00] linking12 commented on #11522
My fault, is something wrong happened PooledByteBufAllocator

[2021-07-30 16:01] #11522 closed

[2021-07-30 16:02] hyperxpro commented on #11522
Good to know that the issue is resolved. :)

[2021-07-31 03:39] wwzuizz opened #11531 "netty no cipher suites in common"
public static SSLContext createSSLContext(String path, String password) throws Exception {
        logger.error(path + "====" + password);
        KeyStore ks = KeyStore.getInstance("JKS"); /// "JKS"
        InputStream inputStream = NettyServer.class.getClassLoader().getResourceAsStream(path.replace(ResourceUtils.CLASSPATH_URL_PREFIX, "/"));
        ks.load(inputStream, password.toCharArray());

[2021-07-31 06:13] wjm0729 opened #11532 "Why not use directbuffernocleaner by default in JDK 11."
Why Platformdependent.usedirectbuffernocleaner()  is false by default in JDK 11. in other word why the default value is false of function PlatformDependent0.explicitTryReflectionSetAccessible0() in jdk11. the function code is :

`
 PlatformDependent0.java

    private static boolean explicitTryReflectionSetAccessible0() {
        // we disable reflective access
        return SystemPropertyUtil.ge

[2021-07-31 06:37] chrisvest commented on #11532
If the try set accessible is enabled, but then fails at runtime due to the increased protections in JDK 11, you will just get a message printed to the log.

[2021-07-31 17:14] #11524 closed

[2021-07-31 18:29] wjm0729 commented on #11532
Thank for your answer !  @chrisvest

As we all know, "directbuffernocleaner" has higher performance than GC. I enabled it in the my netty application (jdk11). At present, everything seems to be fine, but I'm worried about whether the default setting of netty (using GC but using directbuffernocleaner) means other errors, not just avoiding jdk11's enhanced security access exceptions.

[2021-07-31 20:55] chrisvest commented on #11532
It should not cause any trouble as long as you are fine with log messages that might contain stack traces.

[2021-08-01 02:31] NicoTitanPro opened #11533 "An illegal reflective access operation has occurred"
### Actual behavior
Friends can't join the server

### JVM version
Java 8, JDK 15

### OS version
Windows 10
`I'm having a problem with a forge server, yesterday it was running perfectly, but today I added some mods and the server didn't start. After some time I realized it was the optifine the mod which was causing problems. I deleted it and the server starts, but now my friends can't join the se

[2021-08-01 03:06] wjm0729 commented on #11532
OK, Thank you very much !

[2021-08-01 03:07] wjm0729 commented on #11532
OK, Thank you very much !

[2021-08-01 03:07] #11532 closed

[2021-08-01 04:48] hyperxpro commented on #11533
????????????????????????????????????????????????????????????????????

What do you mean? This is Netty repository not Minecraft Support channel.

[2021-08-01 08:42] #11533 closed

[2021-08-02 06:10] techdeba901 opened #11536 "Multipart(one part is JSON and other part is binary) data is getting truncated while reading it by using Flux<DataBuffer>"
I am using Webflux and Netty in my spring boot application.  I am sending the multipart data as a request to my controller class.  Flux<DataBuffer> is the request body from ServerHttpRequest in my controller class. We are trying to get the data as byte[] format from Flux<DataBuffer> and then constructing the data as string format. The issue we are facing is the data is truncated.

Please find the

[2021-08-02 09:15] chrisvest commented on #11528
I don't think I follow the problem description.

RFC 1034 says

So if we look up a name and find it in our CNAME cache, that's what we should follow, no?

[2021-08-02 10:25] hyperxpro commented on #11536
I think you should create an issue on WebFlux or Reactor Netty repositories.

[2021-08-02 11:57] chrisvest commented on #11531
Please use the issue template, describe the problem in English, and use markdown to format any code examples.

[2021-08-02 20:43] violetagg commented on #11536
@techdeba901 Please create an issue here https://github.com/spring-projects/spring-framework/issues

[2021-08-02 20:45] NiteshKant commented on #11536
Closing this one, plz reopen if you feel otherwise.

[2021-08-02 20:45] #11536 closed

[2021-08-03 13:46] chrisvest commented on #8516
I've been looking through the remaining uses of `ChannelFuture`, and specifically its `channel()` method, which is the one thing that makes them stand out. We're currently able to enjoy potentially allocation-free callbacks like the constants in `ChannelFutureListener`.

To replicate that, including the allocation-freedom, we'd need to attach not only a listener but also a context that will be pas

[2021-08-03 14:05] chrisvest commented on #8515
Considering #8516, if we end up not having `ChannelFuture`, then I think we won't need to ever abstract over the implementation of `Future`. They should just all behave the same. And then we'll only generalise over the result type.

[2021-08-03 14:40] debinaik commented on #11515
Thanks Aayush. Apologies for late response as I was off. Above solution works correctly. We can close the issue.

Thanks Again!!!

[2021-08-03 14:40] #11515 closed

[2021-08-03 17:09] vietj opened #11541 "DatagramChannel join without a network interface could use the channel option multicast interface instead of guessing from the local address"
### Expected behavior

`DatagramChannel#joinGroup(multicastAddress)` calls `DatagramChannel.joinGroup(multicastAddress, networkInterface, source)` with the same network interface set on the channel options.

The code would look like

[code]

### Actual behavior

`DatagramChannel#joinGroup(multicastAddress)` calls `DatagramChannel.joinGroup(multicastAddress, networkInterface, source)` with `Network

[2021-08-03 17:18] NiteshKant opened #11542 "Flaky test on windows: Http2MultiplexTransportTest"
Test failure observed on CI[1] for PR: #11539

[code]

[1] https://pipelines.actions.githubusercontent.com/obCqqsCMwwGme5y2aRyYOiZvWeJK4O0EY5AYRUDMSELILdqEjV/_apis/pipelines/1/runs/6426/signedlogcontent/19?urlExpires=2021-08-03T17%3A12%3A26.1539722Z&urlSigningMethod=HMACV1&urlSignature=jwbIl3OCMtUkfYSWqfwP3qOgeYp%2BxyOuCtJJ9srs8SM%3D

[2021-08-03 18:42] NiteshKant commented on #11541
this sounds reasonable to me, @vietj you want to send a PR, I am happy to review.

[2021-08-03 18:43] NiteshKant commented on #11542
Also observed on #11517 (https://github.com/netty/netty/pull/11517#issuecomment-891881343)

[2021-08-03 20:37] NiteshKant commented on #8516
I would say having a custom `Future` type which carries the "context" isn't entirely bad if it is used at an appropriate place. Specially if we have to add a new API for propagating this context, I would start questioning the removal of the custom type. Having said that, I think pursuing low allocations for listeners is a good goal to have.

[2021-08-03 22:24] ejona86 commented on #8516
I've argued before that the `ChannelFutureListener` callbacks should have limited use, as using them from handlers is improper. Handlers should use `ctx` instead of `channel`. So less convenient access to `channel()` from the future may be a blessing.

It seems GenericFutureListenerCtx works equally for `ctx` as `channel`, which is good.

[2021-08-04 08:35] hyperxpro opened #11543 "Make `PcapWriteHandler` support files bigger than 2 GB"
### Expected behavior
`PcapWriteHandler` should support large files, say 10 GB or 1 TB.

### Actual behavior
Currently, `PcapWriteHandler` can only support files up to 2 GB because it uses 32-bit Integer.

### Steps to reproduce
N/A

### Minimal yet complete reproducer code (or URL to code)
Just capture data big enough to exceed 2 GB.

### Netty version
4.1.66.Final

### JVM version (e.g. `java -v

[2021-08-04 14:30] hyperxpro commented on #11542
Happened on #11547 also.
[17.txt](https://github.com/netty/netty/files/6931998/17.txt)

[2021-08-04 14:31] hyperxpro commented on #11542
Should we disable this test for the time being? @NiteshKant

[2021-08-04 17:47] NiteshKant commented on #11543
@hyperxpro are the fields in question `sendSegmentNumber` and `receiveSegmentNumber`[1]?

I see that we do not guard against integer overflow while accumulating bytes in these fields[2], perhaps we can do that before supporting larger payloads?

[1] https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/pcap/PcapWriteHandler.java#L97-L103
[2] https://github.com/netty/netty/

[2021-08-04 17:50] hyperxpro commented on #11543
Yes, we need to guard them against overflow. Norman did share swift-nio pcap where they fixed larger payloads and overflow. Lemme try to find it.

[2021-08-04 17:57] hyperxpro commented on #11543
Here: https://github.com/apple/swift-nio-extras/pull/85

[2021-08-04 18:36] NiteshKant commented on #11542
I am not sure how to disable it only for windows.

[2021-08-05 05:26] hyperxpro opened #11551 "Flaky test: io.netty.channel.ThreadPerChannelEventLoopGroupTest"
### Expected behavior
There are multiple instances when the build stalled at `io.netty.channel.ThreadPerChannelEventLoopGroupTest` test and kept running forever until it was interrupted by GitHub Actions for consuming 6 hours of runtime.

### Actual behavior
The test should pass or fail but not stall.

### Steps to reproduce
Run `io.netty.channel.ThreadPerChannelEventLoopGroupTest` test.

### Log

[2021-08-05 05:27] hyperxpro commented on #11551
Happened here too: https://github.com/netty/netty/pull/11539

[2021-08-05 10:26] hyperxpro commented on #11542
This is how Norman did: https://github.com/netty/netty/commit/8af59e4b401470c6435def0063654d0372626506

We should do the same.

[2021-08-05 23:10] NiteshKant commented on #11542
Sweet, you want to send a PR?

[2021-08-05 23:40] NiteshKant opened #11553 "Stuck `windows-x86_64-java11-boringssl` build"
We have been noticing CI build cancellations as a result of build timeouts for `windows-x86_64-java11-boringssl`. This issue is to track the instances of such cancellations

[2021-08-05 23:40] NiteshKant commented on #11553
/cc @hyperxpro

[2021-08-05 23:42] NiteshKant commented on #11553
Failed for #11549 with the following interesting time difference in the logs:

[code]

Raw build logs: https://pipelines.actions.githubusercontent.com/obCqqsCMwwGme5y2aRyYOiZvWeJK4O0EY5AYRUDMSELILdqEjV/_apis/pipelines/1/runs/6476/signedlogcontent/17?urlExpires=2021-08-05T23%3A41%3A52.1456545Z&urlSigningMethod=HMACV1&urlSignature=%2BKW6ExaF2qu%2FUFccLFm5A5sNR4%2BOldUAvO6QumxJuIo%3D

[2021-08-06 04:02] hyperxpro commented on #11542
Sure

[2021-08-06 06:26] hyperxpro opened #11555 "[Netty 5] Discussion - Remove SCTP Support"
Currently, Netty supports SCTP (transport-sctp). However, SCTP is kind of dead. The documentation of the `transport-sctp` module is also not up to the mark. We should consider removing it from Netty 5 onwards.

So this is a discussion thread to find whether we should support it or not in Netty 5.

[2021-08-06 07:24] 15989206052 opened #11556 "Why are two tasks submitted to UnorderedThreadPoolEventExecutor's queue ? Even if the previous handler returns, there will still be a task submitted to UnorderedThreadPoolEventExecutor's queue?"
Why are two tasks submitted to UnorderedThreadPoolEventExecutor's queue ? Even if the previous handler returns, there will still be a task submitted to UnorderedThreadPoolEventExecutor's queue?

This confused me and affected the overload protection of the system. Is there a way to ensure that no task is submitted when the previous handler return?

I would be very grateful if you could reply.

[2021-08-06 07:43] chrisvest commented on #11555
I wonder if we could split it out into its own repo, and let it be maintained by whatever parties might be interested in it, if any.
There are also a number of codecs that look questionable in the main repo, like redis, memcache, xml.

[2021-08-06 07:52] chrisvest commented on #11556
If the first handler calls the `context.fire*` methods, the event will propagate down the pipeline.

[2021-08-06 08:36] 15989206052 commented on #11556
actually, If the first handler calls the "fire*“ method, 2 event / task will be submitted.  if the first handler not calls the "fire*" method, 1 event / task will be submitted. i don't know what is the extra task

[2021-08-06 10:43] seth-priya opened #11557 "2 test failures in Epoll in ppc64le docker container"
### Expected behavior
All unit tests should pass

### Actual behavior
2 test failure in Netty/Transport/Native/Epoll inside UBI 8.4 container on ppc64le
[INFO]
[ERROR] Failures:
[ERROR]   EpollDatagramUnicastTest.testSendAndReceiveSegmentedDatagramPacketComposite:101->AbstractComboTestsuiteTest.run:52->testSendAndReceiveSegmentedDatagramPacketComposite:110->testSegmentedDatagramPacket:158 expected

[2021-08-06 10:56] chrisvest commented on #11557
Are you consistently getting this test failure on repeated runs? Some of our tests are flaky and fail on occasion.

[2021-08-06 11:13] seth-priya commented on #11557
@chrisvest yes these are consistent. I am seeing flakiness in some of the others , especially when running in container vs VM host environment but these 2 seem to stick. I also see these with previous stable versions like netty-4.1.63.Final where everything else is passing consistently, these almost seem like networking issue but I am not sure what would be the best place to debug / things to chec

[2021-08-06 11:24] chrisvest commented on #11557
You're saying things broke in 4.1.64? There are some epoll changes, but not many: https://github.com/netty/netty/compare/netty-4.1.63.Final...netty-4.1.64.Final

[2021-08-06 11:37] seth-priya commented on #11557
Sorry, no I meant these epoll tests are failing consistent even in netty-4.1.63.Final  (that's where I started)

[2021-08-06 15:45] hyperxpro commented on #11555
I have the same opinions on those modules (or codecs). In the main repo, we should only support widely used protocols like HTTP/2, WebSocket, etc.

[2021-08-06 15:45] hyperxpro commented on #11555
@NiteshKant I'd love to hear your feedback on this too.

[2021-08-07 19:37] tmulle opened #11563 "MacOS IPv6 UDP - No Route to Host (Works on Linux and Windows)"
Hi,

I initially created this ticket over on Vert.x, but thought I'd also post it here just in case it is a Netty issue.

I'm sorry for cross posting, since the stack trace shows both Netty and Vert.x I thought I'd share it in both places
in case it turns out to be both frameworks needing a fix.

Please feel free to move or close the issue if this isn't the correct place.

This bug is preventing m

[2021-08-09 15:21] NiteshKant commented on #11556
Can you elaborate on which `ChannelHandler` methods are you tracking? Netty invokes different lifecycle methods on the pipeline and since your handler uses a different executor than the pipeline, all methods that are to be invoked on the second handler will submit a task to the executor.
If you want to understand the event flow on the pipeline, add a `LoggingHandler` at the start of the pipeline.

[2021-08-09 16:27] NiteshKant commented on #11555
Yeah I would agree with both of you, we should not migrate deprecated protocols to netty 5. If and when we see interest we can help folks migrate by creating separate repos, reviewing PRs etc

[2021-08-09 17:23] NiteshKant commented on #11563
cc @vietj

[2021-08-10 18:35] jameskleeh opened #11567 "Module compatibility"
Netty 4.1.66 introduced a requirement on tc-native 2.0.40 with this commit https://github.com/netty/netty/commit/40fb6026efd2a9fc67049b437e4db5d6d81d688c

This led to a user being confronted with an error after upgrading Micronaut (which includes 4.1.66) https://github.com/micronaut-projects/micronaut-core/issues/5920

Can we get the tc-native modules added to the netty bom so we can avoid this?

[2021-08-11 07:01] dpy1123 opened #11568 "HttpServerUpgradeHandler causing StringIndexOutOfBoundsException"
We are using netty as a proxy server. And added HttpServerUpgradeHandler incase client wants to talk in h2c.
But with a normal http1 request, we see the following exceptions.

[code]

As far as I can see, it seems like the if conditon should also add isEmpty().
[code]

https://github.com/netty/netty/blob/3f8dab5ad00a718dc8ad6c00e27b740783ea23c5/codec-http/src/main/java/io/netty/handler/codec/http/

[2021-08-11 07:14] dpy1123 commented on #11568
It seems related to #11267

[2021-08-11 08:04] chrisvest commented on #11568
@dpy1123 Yeah, a missing `isEmpty()` looks about right. Would you like to make a PR for this?

[2021-08-11 12:37] VladimirKempik commented on #11481
-Dio.netty.noUnsafe=true on netty 4.1.51 haven't helped, next is netty upgrade.

[2021-08-11 13:12] morvael opened #11573 "Compilation failure"
We have a setup to compile epoll library for ppc64le. It worked up to Netty 4.1.63.Final and tcnative 2.0.39. Trying to compile it now with Netty 4.1.66.Final and tcnative 2.0.40 I get:

successful compilation of tcnative
[code]

and failure during compilation of netty:
[code]

The file that exists in maven repo is `netty-tcnative-2.0.40.Final-linux-ppcle_64-fedora.jar` - I guess os name suffix is

[2021-08-11 13:23] hyperxpro commented on #11573
Please share the complete build log.

[2021-08-11 13:52] morvael commented on #11573
[netty-tcnative.txt](https://github.com/netty/netty/files/6968948/netty-tcnative.txt)
[netty.txt](https://github.com/netty/netty/files/6968951/netty.txt)

[2021-08-11 14:25] hyperxpro commented on #11573
We don't support `ppcle_64` out of the box. You should compile tcnative and install it in local maven repository and then compile Netty.

[code]

[2021-08-11 14:37] morvael commented on #11573
Yes I know, that's why we compile it ourselves. But in this case compilation fails (I've already reported 2 such issues, where your out-of-the-box pom fails to compile on our machine).

[2021-08-11 14:38] morvael commented on #11573
As I pointed out netty looks for
[code]
while tcnative compiled and created in local repository
[code]

[2021-08-11 14:39] morvael commented on #11573
So either tcnative should not add "-fedora" or netty should add "-fedora".

[2021-08-11 15:18] chrisvest commented on #11481
Is the `-Dio.netty.noUnsafe=true` configuration actually picked up, though?
What does the log say?

You said the only other Netty option is `-Dorg.apache.ratis.thirdparty.io.netty.allocator.useCacheForAllThreads=false` and that looks like Netty has been shaded and package names have been modified.
So that makes me wonder if the `noUnsafe` option needs to be modified too.

[2021-08-11 15:22] chrisvest commented on #11481
Also, we don't have any code in Netty that touches the `WeakReference.next` field, so to me it sounds more likely to be a JVM bug related to weak reference handling.

[2021-08-11 15:37] chrisvest commented on #11573
Both build logs have `[INFO] os.detected.release.like.fedora: true` near the beginning, which should be trigger to add `-fedora` to the classifier. 🤔

[2021-08-11 15:44] chrisvest commented on #11573
The way our build does this is that it sets the tcnative classifier directly, like:

[code]

[2021-08-12 07:55] morvael commented on #11573
I guess these lines point out to special treatment of "fedora". And we actually build on centos.
[code]

[2021-08-12 08:01] morvael commented on #11573
Of the generated tcnative jars in .m2 repository only one has no "fedora":
[code]

[2021-08-12 08:05] morvael commented on #11573
Some explanation why this happens in libressl pom:
[code]
So somehow the tcnative libs think my centos is fedora, but netty doesn't think so and thus looks for wrong dependency.

[2021-08-12 12:23] morvael commented on #11573
Indeed adding `-Dtcnative.classifier=linux-x86_64-fedora` to netty mvn call helped. Good that a simple workaround exists.

[2021-08-12 16:04] #11568 closed

[2021-08-13 15:21] jameskleeh opened #11576 "Missing documentation for io.netty.leakDetection.acquireAndReleaseOnly"
Stumbled across the property reading source code and its not clear to me what it does and I can't find any documentation about it

[2021-08-14 07:12] xiaoheng1 opened #11577 "Some questions about Http2MultiplexHandler"
### Expected behavior

Can Http2MultiplexHandler handle different streams concurrently

### Actual behavior

When a stream is blocked, other sreams cannot be processed

### Steps to reproduce

I am using io.netty.example.http2.helloworld.multiplex.server.Http2Server. But the code of HelloWorldHttp2Handler is modified, as follows:

[code]

Client core code：

[code]

If the http2 server processes th

[2021-08-14 08:22] hyperxpro commented on #11577
If you block a stream in EventLoop then you'll definitely not be able to process other streams concurrently.

[2021-08-14 08:32] xiaoheng1 commented on #11577
If this is the case, what is the difference between using Http2MultiplexHandler and not using it? I understand that Http2MultiplexHandler helps users process streams in parallel. If you don’t use them, then the server will process them on a first-come, first-served basis.

[2021-08-14 08:40] hyperxpro commented on #11577
Well, this is completely wrong. `Http2MultiplexHandler` creates a new channel for each stream from the client. If you use `Http2MultiplexHandler` and you receive streams id 3, 5, 7 then `Http2MultiplexHandler` will create 3 channels to handle it. However, since it's multiplexing, if you block any channel, it'll block the entire TCP connection and no other channels will receive data.

You can still

[2021-08-14 09:02] xiaoheng1 commented on #11577
Is it understood that Http2MultiplexHandler simplifies the user's programming model?

By the way, if we create a channel for the stream, if we recreate the eventLoop to process the request, instead of registering the channel to the corresponding channel at the bottom of the tcp, would it be more appropriate?

[2021-08-14 10:09] hyperxpro commented on #11577
Yes, that's the job of Multiplex Handler.

EventLoop will be registered on TCP handshake completion. All stream channels will share the same EventLoop.

[2021-08-15 14:04] xiaoheng1 commented on #11577
Ok, i understand it. thanks.

[2021-08-15 14:05] #11577 closed

[2021-08-16 01:23] arranlomas opened #11578 "QueryStringEncoder encodes tilde"
As per [the comment](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/QueryStringEncoder.java#L235-L249) tile is unreserved and doesn't need encoded. But is encoded.

[RFC3986](https://datatracker.ietf.org/doc/html/rfc3986#section-2.3)

### Expected behavior
tilde shouldn't be escaped.

### Actual behavior
tilde is escaped

### Steps to reproduce
var enc

[2021-08-16 01:36] MartinQAQ opened #11579 "Android11高并发请求会间隔5秒"
###Android11

On Android11 devices, the default interval for high concurrent requests is 5 seconds. On devices below Android11。

[2021-08-16 03:17] hyperxpro commented on #11579
Please use the issue template and provide detailed information.

[2021-08-16 03:24] hyperxpro commented on #11578
Sounds good, Would you like to provide a PR?

[2021-08-16 10:20] normanmaurer commented on #11576
@jameskleeh see https://github.com/netty/netty/pull/11580

[2021-08-16 10:41] michalgazda commented on #11528
Thank you for the response and referring RFC. Netty works OK and I am closing this ticket. Thank you for your help.

[2021-08-16 10:41] #11528 closed

[2021-08-16 12:43] normanmaurer commented on #11567
@jameskleeh I am currently not sure how to do this as the user can either use `netty-tcnative` or `netty-tcnative-boringssl-static`. Or you are saying we should add both ?

[2021-08-16 13:09] jameskleeh commented on #11567
Yeah I think both

[2021-08-16 13:12] normanmaurer commented on #11567
@jameskleeh want to provide a PR ?

[2021-08-16 13:13] jameskleeh commented on #11567
Sure

[2021-08-16 14:19] jkuhn1 opened #11581 "HttpContentCompressor doesn't handle optional encoders"
Hi,

Following #11480 and the use of `CompressionOptions` it appears the `HttpContentCompressor` doesn't handle optional encoders such as Brotli and Zstd properly when using `CompressionOptions`.

For instance, if brotli4j is missing at runtime, Http compression is actually  completely broken as the constructor always tries to create `BrotliOptions` even if not specified which result in an `Illega

[2021-08-16 14:29] hyperxpro commented on #11581
Can you do a PR? Or I should go ahead with that?

[2021-08-16 14:31] jkuhn1 commented on #11581
I'm on it!

[2021-08-16 14:31] hyperxpro commented on #11581
Perfect! Thanks a lot :)

[2021-08-16 14:44] jkuhn1 commented on #11581
Please let me know if I missed something.

[2021-08-16 17:26] VladimirKempik commented on #11481
will try to see if -Dorg.apache.ratis.thirdparty.io.netty.noUnsafe helps

it's not common for JVM to have object pointer shifted left by 8 bits ( I haven't seen such in my 6 years of jvm bugs analyzing experience). And this always happens with netty's object. Hence my guess is some deserialization issue in netty (if there is any)

[2021-08-17 07:00] MartinQAQ commented on #11579
// Connection code
synchronized (NettyTcpClient.this) {
	ChannelFuture channelFuture = null;
	if (!isConnect) {
		isConnecting = true;
		group = new NioEventLoopGroup(2);
		Bootstrap bootstrap = new Bootstrap().group(group)
				.option(ChannelOption.SO_SNDBUF, 1024 * 1024)
				.option(ChannelOption.SO_RCVBUF, 1024 * 1024)
				.option(ChannelOption.SO_KEEPALIVE, true)
				.channel(NioSocketChannel.

[2021-08-17 07:09] #11576 closed

[2021-08-17 08:33] normanmaurer commented on #11541
@vietj PTAL https://github.com/netty/netty/pull/11585

[2021-08-17 08:35] normanmaurer commented on #11529
Let me pick this up this week again

[2021-08-17 08:35] normanmaurer commented on #11567
@jameskleeh ping me once something is ready for review

[2021-08-17 08:40] normanmaurer commented on #11529
This is also related to https://github.com/apple/swift-nio-ssl/pull/111

[2021-08-17 11:21] normanmaurer commented on #11529
tcnative change that is needed: https://github.com/netty/netty-tcnative/pull/654

[2021-08-17 11:45] andreypfau opened #11586 "[QUESTION] finishConnect(..) failed: Protocol not available"
what does this mean and how to fix it?

[code]

[2021-08-17 11:49] hyperxpro commented on #11586
Please use issue template and provide detailed information.

[2021-08-17 11:54] andreypfau commented on #11586
There are not template for questions. It's not bug report

[2021-08-17 15:57] mormegil-cz opened #11589 "Netty tries to use TLSv1.3 on WebSphere where it is not supported"
### Expected behavior
On IBM WebSphere with Java 8 with no TLS 1.3 support, Netty should connect using TLS 1.2.

### Actual behavior
Netty tries to connect using TLS 1.3 and dies with _java.lang.IllegalArgumentException: TLSv1.3_ (with client certificates used).

### Steps to reproduce
We are using pushy (0.14.2) which connects to APNS’s API (authorized using a client certificate) using netty. Whe

[2021-08-17 16:02] hyperxpro commented on #11589
You can choose what protocols you want to use in `SslContextBuilder`.

[2021-08-17 16:10] mormegil-cz commented on #11589
Well, yes, but I don’t call `SslContextBuilder`, Pushy does (so I might fork/patch Pushy instead of Netty… same difference). That’s why I said “from the outside” – I’d need some global flag, environment variable, JVM parameter, etc.

[2021-08-17 19:30] PabloFiori commented on #11125
For using Netty on Android where [epoll doesn't seem to work](https://github.com/netty/netty/issues/10029), is there any way to work around this @normanmaurer? We repro this with 100% consistency right now. Im also double checking to make sure that there aren't any memory leaks.

[2021-08-18 02:13] ikhoon opened #11591 "`DatagramDnsQueryDecoder.newQuery()` raises `IndexOutOfBoundsException`"
### Actual behavior

I tried to upgrade Netty 4.1.66 to 4.1.67, but our CI tests produced the following error when resolving a DNS query.
[code]

When `DatagramDnsQueryDecoder.newQuery(packet, but)` was called, the `buf` had been already fully consumed by `DnsMessageUtil.decodeDnsQuery()`.
https://github.com/netty/netty/blob/794c45fd590ffc51b16bb4b8af87556c0d2025fb/codec-dns/src/main/java/io/netty

[2021-08-18 04:35] hyperxpro commented on #11589
Unfortunately, that's not possible. You probably have to fork or extend the class which builds `SslContextBuilder`.

[2021-08-18 06:39] normanmaurer commented on #11589
I guess we could at least respect `jdk.tls.client.protocols` and `jdk.tls.server.protocols`, @mormegil-cz would this solve the problem ?

[2021-08-18 06:52] normanmaurer commented on #11591
Doh! Yeah let me fix this

[2021-08-18 07:31] normanmaurer commented on #11591
@ikhoon PTAL https://github.com/netty/netty/pull/11592

[2021-08-18 07:40] mormegil-cz commented on #11589
Sure, that would be a good workaround, exactly what I had in mind.

(Note that I still believe there is a bug in Netty: it should not try to connect using TLS 1.3 and throwing exception in the process, if connecting using TLS 1.2 would work fine. So either Netty should autodetect TLS 1.3 won’t work and use 1.2, or reimplement the missing pieces by itself, so that TLS 1.3 would work even without JR

[2021-08-18 07:49] normanmaurer commented on #11589
@mormegil-cz honestly I think its a bug in `IBM J9`. It should not throw... Anyway let me see if we can make it a bit more robust and handle even this case. Can you do me a favour and let me know what this code prints out of IBM J9 ?:

[code]

[2021-08-18 07:53] normanmaurer commented on #11586
It means that the protocol you tried to use is not supported (like for example TCP or UDP).

[2021-08-18 07:53] #11586 closed

[2021-08-18 08:30] normanmaurer commented on #11563
I wonder if this is related to https://github.com/netty/netty/pull/11585 and so https://github.com/netty/netty/issues/11541

[2021-08-18 10:11] #11541 closed

[2021-08-18 12:57] #11591 closed

[2021-08-18 14:20] mormegil-cz commented on #11589
@normanmaurer It prints `false`. I tested it using a [small console app](https://gist.github.com/mormegil-cz/47623382432f5d5415fa66e6ecd27eea) running on IBM Java (i.e. not as an enterprise application inside the WebSphere), which printed:

[code]
(Yeah, segmentation fault, no idea what is wrong, but hopefully, for such a simple test, this does not matter, dunno.)

[2021-08-18 15:29] chrisvest commented on #8518
`VoidChannelPromise` was removed in #11348.
Shall we close this, or wait for the proposed replacement API, such as in #11378 ?

[2021-08-18 15:32] normanmaurer commented on #8518
I think we can close this .

[2021-08-18 15:32] #8518 closed

[2021-08-18 19:58] hunter2046 opened #11595 "SslHandler handlerRemoved0 method doesn't always release the SSLEngine"
### Expected behavior
When `ReferenceCountedOpenSslEngine` is used the SslHandler's `handlerRemoved0` method should release the SSLEngine

### Actual behavior
When `ReferenceCountedOpenSslEngine` is used the SslHandler's `handlerRemoved0` method doesn't release the SSLEngine if it fails in the middle

### Steps to reproduce

* made some modifications to the `handlerRemoved0` for more logging and c

[2021-08-18 23:10] NiteshKant commented on #11595
Putting the `release` in a `try-finally` block does make sense to me. Do you want to send a PR?

[2021-08-18 23:26] hunter2046 commented on #11595
Thanks for checking. I will find some time this week to get a PR out.

[2021-08-19 06:38] MartinQAQ commented on #11579
@hyperxpro

// Connection code
synchronized (NettyTcpClient.this) {
	ChannelFuture channelFuture = null;
	if (!isConnect) {
		isConnecting = true;
		group = new NioEventLoopGroup(2);
		Bootstrap bootstrap = new Bootstrap().group(group)
				.option(ChannelOption.SO_SNDBUF, 1024 * 1024)
				.option(ChannelOption.SO_RCVBUF, 1024 * 1024)
				.option(ChannelOption.SO_KEEPALIVE, true)
				.channel(NioSo

[2021-08-19 06:40] #11581 closed

[2021-08-19 08:36] HelloVonLea opened #11598 "CauseHolder"
I have a question about CauseHolder in DefaultPromise. What I want is, it should be a member variable,
### private final Throwable cause;
but actual behavior is  a nested class.
### private static final class CauseHolder{...}
Why? What advantage it is?

[2021-08-19 08:43] #11579 closed

[2021-08-19 08:48] MartinQAQ opened #11599 "Android11 Communication does not begin to interact until heartbeat feedback is established and should begin to interact after the connection is established"
### Expected behavior
After the connection is established, the interaction begins , Not after the heartbeat

### Actual behavior
On Android 11 devices, heartbeat feedback is required before network communication,
The connection should be established after the network communication.
This issue does not occur on Android10 or below

### Steps to reproduce

### Minimal yet complete reproducer code (or

[2021-08-19 12:14] chrisvest commented on #11598
It allows the promise implementation to distinguish a failed future/promise from one that succeeded and produced an exception as a result.

[2021-08-19 12:16] chrisvest commented on #11598
It also means we only need one field for the result, making promise objects smaller since succeeding is the most common outcome.

[2021-08-19 12:23] #11598 closed

[2021-08-20 07:59] #8515 closed

[2021-08-20 08:00] #8516 closed

[2021-08-20 09:41] #11589 closed

[2021-08-20 16:52] #11529 closed

[2021-08-20 16:53] hunter2046 commented on #11595
PR has been merged - closing this issue

[2021-08-20 16:53] #11595 closed

[2021-08-20 17:18] normanmaurer commented on #11505
@slandelle so this is expected as we disable session caching when using the native SSL implementation by default due a JDK bug that was only be fixed recently. If we would enable it by default it would most likely make things very hard to debug as the bug is triggered on the remote peer when the JDK implementation for SSL is enabled. More details can be found here:

https://github.com/netty/netty/

[2021-08-22 19:07] slandelle commented on #11505
@normanmaurer Indeed, session resumption is properly triggered once the System prop is enabled, thanks a lot!

Do you have a reference to the JDK ticket? Your thread on the JDK mailing list suddenly comes to a halt and the JDK issue you referenced (https://bugs.openjdk.java.net/browse/JDK-8241248 that was indeed fixed in the last update batch) doesn't exactly have the same stacktrace.

[2021-08-22 19:11] normanmaurer commented on #11505
@slandelle it is in fact the one you linked.

[2021-08-23 11:51] slandelle commented on #11505
Awesome, thanks!

[2021-08-23 11:51] #11505 closed

[2021-08-23 12:37] #8512 closed

[2021-08-23 13:34] normanmaurer commented on #11567
@jameskleeh https://github.com/netty/netty/pull/11609

[2021-08-23 20:55] mnm364 commented on #11125
@PabloFiori this seems concerning, especially considering that Netty 4.1 [claims to support Android >4.0](https://netty.io/wiki/new-and-noteworthy-in-4.1.html#android-support). I wonder if there are grounds here to [file an issue](https://github.com/netty/netty/issues) branching off of this discussion; this is also something I have run into. I would be happy to help in putting up a minimal Android

[2021-08-23 21:10] oznus commented on #11125
plus one.

[2021-08-24 10:28] chenmeng1994 commented on #11555
The sctp protocol was abandoned, when did it happen?

[2021-08-24 11:40] hyperxpro commented on #11555
Something can't be abandoned if it was never fully adopted. So is SCTP, adopted by a very few percentage of users.

[2021-08-24 14:36] NicklasWallgren commented on #11380
Ah, great to hear.

Has there been any progress on this, or are we still forced to run using rosetta? Thanks.

[2021-08-24 14:50] normanmaurer commented on #11380
unfortunally not yet.

[2021-08-25 06:54] #11567 closed

[2021-08-25 09:43] ostdms opened #11612 "NPE in CompositeByteBuf.addComponents0"
Hi team,

In scope of https://github.com/netty/netty/issues/10194

addComponents0 has been changed by adding the folowing line:
`readableBytes += buffers[i].readableBytes();`
https://github.com/netty/netty/pull/10197/commits/5e7fcc2d581d8c03f4f7a2bcec0a42c3ad984591#diff-226f3ca4dcaa02e4fb8a865876fb4fc448eb66f7064467e2a8b6c6721b8a7f86R373

according to the next few lines:
`for (ci = cIndex; arrOffs

[2021-08-25 09:44] normanmaurer commented on #8507
This was done

[2021-08-25 09:44] #8507 closed

[2021-08-25 09:45] normanmaurer commented on #8511
This was mostly done.

[2021-08-25 09:45] #8511 closed

[2021-08-25 19:00] violetagg opened #11618 "Memory leak in HttpPostMultipartRequestDecoder#loadDataMultipartOptimized"
### Expected behavior
No memory leak

### Actual behavior
There is a memory leak in `io.netty.handler.codec.http.multipart.HttpPostMultipartRequestDecoder#loadDataMultipartOptimized` when the size exceeds `maxLimit`.
Or the issue might be related to `io.netty.handler.codec.http.multipart.AbstractMemoryHttpData#addContent` when checking the size limit.

### Minimal yet complete reproducer code (or

[2021-08-26 09:26] #2105 closed, assigned to nobody

[2021-08-26 15:22] tristantarrant opened #11622 "IllegalStateException: recycled already with ApplicationProtocolNegotiationHandler"
Since Netty 4.1.66.Final, my TLS tests are failing with:
[code]

The actual ALPN handler is https://github.com/infinispan/infinispan/blob/main/server/rest/src/main/java/org/infinispan/rest/ALPNHandler.java

[2021-08-26 15:32] #11622 closed, assigned to nobody

[2021-08-28 10:04] yessimida commented on #9284
cool

[2021-08-31 00:15] #11360 closed

[2021-08-31 02:07] shallwetalkge commented on #4466
mark

[2021-08-31 20:26] JamesChenX opened #11637 "Add support getting the pooled memory size for each PooledByteBufAllocator instance"
### Motivation
Our server has its own implementation to decide whether to provide service for users according to the real-time total free memory of the heap memory and the direct memory (mainly the memory used by `io.netty.buffer.PooledByteBufAllocator` for our server). If our server detects it's running out of physical memory, it will just respond with the client requests with something like `Ser

[2021-09-01 00:18] perezd opened #11638 "graal native-image build ClassNotFoundException for org.bouncycastle.jsse.BCSSLEngine"
Stack from graalvm native-image build:

[code]

We've seen these kinds of issues before w/ BrotliDecoder for example, I think this must need to be added to a native-image.properties resource, but I don't know which one.

Here's the Vertx bug related to this:
https://github.com/eclipse-vertx/vert.x/issues/3960

Vertx 4.1.3 just updated it's version of netty to 4.1.67.Final

[2021-09-01 11:12] chrisvest commented on #11637
For the heap _in general_, the free memory on the heap is not the same as the amount of memory that could be freed if the GC was to do a run, so we can only realistically do this for direct memory where we have precise accounting of what memory is in use and what is not. But then there's also fragmentation; having X free bytes doesn't necessarily mean there's room for an X-sized allocation.

But t

[2021-09-02 05:56] ravik-github opened #11645 "Veracode Flaw - Insecure Temporary File is identified -"
### Expected behavior
A veracode flaw has been reported from Netty thirdparty

### Actual behavior

### Steps to reproduce
Scanned a Cassandra JDBC driver in veracode

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.63

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)
Windows

[2021-09-02 08:52] chrisvest commented on #11645
Hi @ravik-github, can you share more details, like where the problematic code is and how it's problematic? Also, if you think there's a security issue, we have a security policy for how to report such issues: https://github.com/netty/netty/security/policy

[2021-09-02 14:25] #8522 closed

[2021-09-02 18:41] normanmaurer commented on #11369
@pmlopes I wonder why we don't have the problem with conscrypt where we also use reflection for that.... Any idea ? I am far from being a Graal guru :)

[2021-09-02 20:59] #11618 closed

[2021-09-02 23:10] ran-su opened #11652 "Issues on UDS path binding"
I think there are couple issues relate to the UDS path binding logic:

1. In the JNI `netty_unix_socket_bindDomainSocket` method, when the upper level passes in a [longer-than-limit UDS path](https://github.com/netty/netty/blob/d58d8a1df832a5185193368e589cb4a488709ffe/transport-native-unix-common/src/main/c/netty_unix_socket.c#L768).
a. the `unlink()` is called on a different [path](https://github

[2021-09-03 05:13] normanmaurer commented on #11652
Sounds good . Will provide more feedback on the PR

[2021-09-03 07:05] martin-g commented on #11369
You need to whitelist the classes (+ methods) which use reflection [here](https://github.com/netty/netty/blob/d34212439068091bcec29a8fad4df82f0a82c638/transport/src/main/resources/META-INF/native-image/io.netty/transport/reflection-config.json) or similar file if it is for another Maven module.

[2021-09-03 14:39] hyperxpro commented on #11551
Happened on #11653
[code]

@normanmaurer @NiteshKant Should we disable this test too?

[2021-09-03 16:33] perezd commented on #11638
workaround, if I add `io.netty.handler.ssl.BouncyCastleAlpnSslUtils` to the `--initialize-at-run-time` flag, this goes away.

[2021-09-03 16:36] perezd commented on #11638
This is a dupe of https://github.com/netty/netty/issues/11369

[2021-09-03 16:36] #11638 closed

[2021-09-03 16:36] perezd commented on #11369
workaround, if I add io.netty.handler.ssl.BouncyCastleAlpnSslUtils to the --initialize-at-run-time flag, this goes away.

I'm not sure if that's actually better for end users, or if they should use reflect-config approach.

[2021-09-04 10:57] kushalagrawal opened #11655 "ability to CipherSuitesConverter outside of the io.netty.handler.ssl"
In our use case, we are required to convert the java cipher suites are required to be converted to Openssl. I found that netty already has a `CipherSuitesConverter`. As we are already using netty, we could have reused the class if it was not made the package private. IMO it would be no harm if we make it public to be used for the project using netty already.

I will raise a pull request for the sa

[2021-09-05 17:32] tlf30 opened #11657 "Netty 4.1.64+ netty-all package does not upgrade transitive deps of netty-* packages"
### Expected behavior
When building with gradle, with the `netty-all` package, any `netty-*` transitive dependencies should get upgraded to the version of netty-all.

### Actual behavior
Starting with netty 4.1.64, a mix of netty versions become present on the runtime classpath.
[code]

### Steps to reproduce
See: https://github.com/tlf30/netty-test-1

### Netty version
4.1.64+

### JVM version (e

[2021-09-06 06:39] normanmaurer commented on #11657
Not sure I get it..  Can you provide a reproducer ?

[2021-09-06 07:56] fredericBregier commented on #11657
Migh it be related to #11272 already fixed in 4.1.65 ?

[2021-09-06 12:57] #11655 closed

[2021-09-06 13:10] chrisvest commented on #8704
At this point, a couple of things:

1. We removed the "progressive" futures from Netty 5. It's less complexity on our side, and less magic, to let integrators manage future-per-IO and make their own progress accounting. This also makes it more obvious what gets cancelled, and what managed to complete.

2. To the original issue, I think it'd be a bad idea to add more methods to the listeners, becau

[2021-09-06 13:12] normanmaurer commented on #8704
Let'S close this one... I think @chrisvest explained everything :)

[2021-09-06 13:12] #8704 closed

[2021-09-06 15:05] chrisvest commented on #8524
If the idea is to make `ChannelOutboundInvoker` return a different kind of future that doesn't have the `cancel()` method, then we would see the return of the complexity we got rid of by removing `ChannelFuture`. We won't have a single `Future` type anymore.

I think that complexity would be worse than the current complexity of having various `*Channel.*Unsafe` implementations check for and deal w

[2021-09-06 15:34] tlf30 commented on #11657
I have tested up to 4.1.67. When I get a second today I will post an example. But basically if you are using the `netty-all` package, and a library you are using is using separate netty packages, such as `netty-common`, then you will have both jars on the runtime classpath at whatever versions are specified. So if the library is using 4.1.63, and you are using 4.1.67, then `netty-common` 4.1.63 an

[2021-09-06 16:38] tlf30 commented on #11657
OK, I put together a example this morning: https://github.com/tlf30/netty-test-1

[2021-09-06 16:42] slandelle commented on #11657
You shouldn't have `netty-all` and netty-* modules in the classpath altogether. Any build tool, be it gradle or maven, would see them as unrelated artifacts.

You must exclude one or the other with exclusion rules.

[2021-09-06 16:49] tlf30 commented on #11657
While in this small example that is possible, but when dealing with many libraries adding hundreds of exclusions is not a maintainable option. If `netty-all` was only a pom artifact this would not be an issue. Take note of how groovy does their `groovy-all` package, it does not have this problem.

[2021-09-07 03:31] skyguard1 opened #11658 "Why not provide a way for users to get directArenas?"
### Expected behavior
Users can get directArenas by themselves

### Actual behavior
Users cannot get directArenas by themselves

In many cases, users want to obtain memory allocation bytes by themselves. `PooledByteBufAllocator` is a public class, but directArenas is private, and there is no way to obtain directArenas directly, so users can only obtain directArenas in this way

[code]

What is the

[2021-09-07 09:26] chrisvest opened #11659 "[Netty 5] Remove ReplayingDecoder"
I propose we remove `ReplayingDecoder` in Netty 5.

The code might look convenient, but it's relying on simulating continuations with exceptions - a constant, but still.
It also needs to modify how `ByteBuf` behaves, while in the new `Buffer` API we wish to have maximally consistent behaviours.

If we remove the `ReplayingDecoder`, then the following decoders will have to be rewritten in terms of

[2021-09-07 09:51] normanmaurer commented on #11659
big +1 from me.

[2021-09-07 11:38] chrisvest commented on #11658
@skyguard1 Why would you want access to the internal arenas, rather than calling something like `newDirectBuffer()`? If the allocator internals where publicly accessible, we would be restricted in what changes we can make to them. For instance, the pooled allocator for the new `Buffer` API in Netty 5 does not know if it's allocating heap or direct buffers: https://github.com/netty/netty/blob/main/

[2021-09-07 13:38] gbrdead opened #11661 "The resolver does not re-read /etc/hosts upon change"
### Expected behavior
When /etc/hosts is changed, the netty resolver should re-read it.

### Actual behavior
io.netty.resolver.DefaultHostsFileEntriesResolver parses /etc/hosts only once, upon creation.

### Netty version
4.1.67

### JVM version (e.g. `java -version`)
any

### OS version (e.g. `uname -a`)
any

The WatchService (https://docs.oracle.com/javase/tutorial/essential/io/notification.html

[2021-09-07 15:19] hyperxpro commented on #11661
Sounds good! Can you do a PR?

[2021-09-07 17:45] NiteshKant commented on #11659
SGTM

[2021-09-07 18:25] NiteshKant commented on #8524
I agree with @chrisvest here, I do not think removing `cancel()` is worth the hassle.

[2021-09-08 02:35] skyguard1 commented on #11658
This is a different scene
Some users only want to use `newDirectBuffer()` to allocate memory. Considering that many users are using direct memory a lot, some users may want to know the details of memory allocation, so they will extend `PooledByteBufAllocator`, but `directArenas` is private and cannot be accessed directly. Have to use reflection to do this, which is a bit inconvenient
See https://g

[2021-09-08 06:32] #11652 closed

[2021-09-08 07:32] forchid opened #11664 "ByteBuf leaks in ChunkedWriteHandler when using apache ab test"
### Expected behavior
No leak info in apache ab test
### Actual behavior
LeakCount 1, refCnt 1
LeakCount 2, refCnt 1
...
If removing the code fragment in HttpServerHandler.java,  ResourceLeakDetector reports tracedLeak:
[code]
ResourceLeakDetector reports tracedLeak when test by executing "ab -n 10000 -c 100 http://localhost:8888/":
[code]
### Steps to reproduce
In console-1
[code]
In console-2
[c

[2021-09-08 08:20] forchid commented on #11664
In my test netty-4.1.63.Final, and netty-4.1.67.Final is OK. In issue #8875, this issue had been fixed since netty-4.1.34.Final.

[2021-09-08 08:20] #11664 closed

[2021-09-08 08:46] chrisvest commented on #11658
So you use it to implement a `getNumberOfAllocatedBytes()`. Is the computed value different from what you get with `metric().usedDirectMemory()`?
I'm wondering if what you really want is similar to what was ask for on #11637?

[2021-09-08 09:15] skyguard1 commented on #11658
Not really. The scope of discussion here is broader than that of pr. Users may get directArenas to do some different things, such as multi-dimensional memory allocation statistics. In most cases, this is not necessary, but some users may do some complicated calculations, thanks

[2021-09-08 10:06] amizurov commented on #11659
+1 can help with STOMP

[2021-09-08 16:25] zentol opened #11668 "Multipart upload splits CRLF across 2 chunks"
### Expected behavior

CLRF is always part of a single chunk.

### Actual behavior

CRLF _can_ be split across 2 chunks (in some super rare exotic circumstances), causing the first CR to be considered part of the multipart payload and being offered to the Decoder, causing

[code]

This is **very much** a _theory_. Any hints to figure out whether something else could cause this would be appreciated

[2021-09-08 17:46] NiteshKant commented on #11668
cc @fredericBregier

[2021-09-08 17:50] NiteshKant commented on #11668
This code does look suspicious for cases when CRLF are split across buffer boundaries:

https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/multipart/HttpPostBodyUtil.java#L164-L168

[2021-09-08 19:58] fredericBregier commented on #11668
IMHO, it is the contrary:
- when the CR is there but not LF, then it returns -1 since it does not found the boundary ending
- when it gets the next buffer, then LF will be found
However, I think I can do a reproducer as you described (very easy). It will then show the bug, if any, and finally I will propose a fix (of course, if I found the root cause).

[2021-09-09 07:30] chrisvest commented on #8524
Talked with Norman off-line, and he was also in agreement. I'll go ahead and close thi. It can be revived if there's more to discuss.

[2021-09-09 07:30] #8524 closed

[2021-09-09 11:05] #11658 closed

[2021-09-09 11:37] fredericBregier commented on #11668
Just to let you know that I can reproduce with the following scenario (could you confirm that this one is the same as yours):
- Last-1 buffer contains last chunk + CR only (no LF)
- Last buffer contains LF and separator (with LF/CRLF at the end, but even with a n+1 buffer containing LF or CRLF it's the same)
- Issue is on Last-1 buffer: CR is included in the final data (which should not)

If the f

[2021-09-09 12:49] zentol commented on #11668
yep, this sounds like the issue we're having.

I haven't confirmed this detail yet (because well, things crash when processing Last-1 buffer), but I can try to do that if that would help.

[2021-09-09 13:41] zentol commented on #11668
The last buffer did indeed contain `\n--9dd083c5bacd1377--\r\n`

[2021-09-09 13:42] fredericBregier commented on #11668
OK, thanks ! I'm trying to find out the best way to fix it (with no new issue of course)...

[2021-09-09 14:36] normanmaurer commented on #11380
This was fixed in 4.1.68.Final

[2021-09-09 14:36] #11380 closed

[2021-09-09 15:21] NicklasWallgren commented on #11380
Thanks

[2021-09-10 05:40] Scottmitch opened #11673 "Github Actions failing to build docker image"
https://github.com/netty/netty/pull/11672/checks?check_run_id=3564051927

[code]

[2021-09-10 08:48] gemmellr opened #11674 "The 4.1.68 milestone still contains open/unreleased issues"
4.1.68 has been released and listed on the website etc, but while the related [milestone](https://github.com/netty/netty/milestone/243) has been closed it still contains many open/unreleased issues.

[2021-09-10 09:00] normanmaurer commented on #11674
Fixed... thanks!

[2021-09-10 09:00] #11674 closed

[2021-09-10 09:55] gemmellr opened #11675 "4.1.68 security advisories use floating links for code references"
The security reports for 4.1.68, [GHSA-9vjp-v76f-g363](https://github.com/netty/netty/security/advisories/GHSA-9vjp-v76f-g363) and [GHSA-grg4-wf29-r9vv](https://github.com/netty/netty/security/advisories/GHSA-grg4-wf29-r9vv), contain a few reference links to their related code areas. However they use links to the 4.1 branch which may float over time, and so while they may be correct now they will

[2021-09-13 12:45] normanmaurer commented on #11441
Any updates here ?

[2021-09-13 12:52] normanmaurer commented on #11599
You will need to add more details here. Also if the connect future is not successful you should check the `cause()`

[2021-09-13 18:20] rs017991 opened #11678 "ByteBufUtil ClassCastException in 4.1.66+"
`ByteBufUtil.indexOf` was rewritten recently in https://github.com/netty/netty/pull/11367.

That change introduced a cast of the passed parameter to **AbstractByteBuf**
https://github.com/netty/netty/blob/43f3956030dbb0e6e6cca9b6ceee6812f11c5a4b/buffer/src/main/java/io/netty/buffer/ByteBufUtil.java#L250

The consequence of this is that a ClassCastException is now thrown whenever other **ByteBuf**

[2021-09-13 18:51] normanmaurer commented on #11678
yep... This is a regression. @skyguard1 want to have a look ?

[2021-09-14 01:40] skyguard1 commented on #11678
Sure. Should also skip using `firstIndexOf()` when `haystack` is not `AbstractByteBuf`@normanmaurer ,I can fix this

[2021-09-14 04:47] forchid opened #11681 "ByteBuf very poor sequential read/write performance compared with ByteBuffer or byte[]"
### Expected behavior
ByteBuf better performance

### Actual behavior
ByteBuf seq R/w is the worst

### Steps to reproduce
[code]
### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version
netty-4.1.67.Final

### JVM version (e.g. `java -version`)
java version "1.8.0_231"
Java(TM) SE Runtime Environment (build 1.8.0_231-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.231-b

[2021-09-14 08:59] hyperxpro commented on #11681
@franz1981

Looks like I have found more friends who do benchmark in a lazy way. Hahahahaha...

[2021-09-15 14:22] #11637 closed

[2021-09-15 14:35] hyperxpro commented on #11551
Happened on #11680

[code]

[2021-09-15 14:36] hyperxpro commented on #11551
@chrisvest I think it is the time to disable this test?

[2021-09-15 14:58] PostIt59 commented on #11020
@normanmaurer still no update 3 months later ?

[2021-09-15 14:59] normanmaurer commented on #11020
Sorry missed this one. We added supported in the last release (4.1.68.Final).

[2021-09-15 15:46] kristian opened #11686 "`SingleThreadEventExecutor.shutdownGracefully` starts thread to shut it down?"
### Expected behavior

If `shutdownGracefully` is called on a `SingleThreadEventExecutor` that has not created a thread yet, the executor should shutdown without creating a thread.

### Actual behavior

If `shutdownGracefully` is called on `SingleThreadEventExecutor`, `ensureThreadStarted` will be called in line [#660](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/conc

[2021-09-15 19:18] NiteshKant commented on #11551
@hyperxpro sure thing, please send a PR

[2021-09-15 19:25] NiteshKant commented on #11686
@kristian is there a use case where this is causing an issue for you or you are just trying to reason about the code?

[2021-09-15 19:38] kristian commented on #11686
Hey @NiteshKant, we are currently heavily stuck in an issue where our Vert.x-based unit tests keep getting stuck. We are meanwhile in [so deep](https://github.com/SAP/neonbee/pull/69) that we orchestrated all `VertxThread`s with a custom Java agent, in order to find out where they are created. We noticed two things:

1. The bsehaviour above, that depending on the size of the EventPool hundrets of

[2021-09-16 16:52] NiteshKant commented on #11686
I understand what you are saying but this statement isn't really true. Threads are not created "on shutdown", but the code ensures that the associated thread per eventloop is created before shutdown, optimistically assuming that if an eventloop is created the intent is to use it. The downside is that if this optimistic assumption is violated, as in your case, then it seems unnecessary to create th

[2021-09-16 20:50] kristian commented on #11686
Hey @NiteshKant, thanks for the elaborate explanation of actually _why_ the threads are created in the first place and I fully support your viewpoint of favouring a more robust / less complex implementation over covering an edge case that should next to never cause major side effects in the first place. As you say: in most (especially productive) applications, all executors should be well in use,

[2021-09-17 07:01] eitzenbe commented on #11531
I can jump onto the bandwaggon here ;)  When using Netty in Mockserver the SSLContext provides only 11 Ciphersuites and I didnt find any way to configure Netty to use more /other cipher suites. Is this a known issue and if so why did you restrict the set of ciphersuites accepted to those 11?

[2021-09-17 08:57] kristian commented on #11686
Hey @NiteshKant, I think I have some good news to share, all thanks to your reply, as it got me thinking, so thanks for that!!

I believe I found out the root cause of my assumption, why Vert.x is not "completing" as I thought it would: Calling `vertx.close()` will shut down all the event loop threads, created by Vert.x, gracefully, as I mentioned, by calling the `shutdownGracefully` method on all

[2021-09-17 10:34] sourabhsparkala opened #11691 "tcnative.version property is not set in 4.1.68.Final version"
### Expected behavior
There seems to be a compilation issue with Netty release `4.1.68.Final`. The reason being you failed to set the property

[code]
in https://github.com/netty/netty/blob/netty-4.1.68.Final/bom/pom.xml

Hence due to this, please find the screen shot from Maven repository
<img width="1440" alt="Screenshot 2021-09-17 at 12 31 47" src="https://user-images.githubusercontent.com/1061

[2021-09-17 10:35] sourabhsparkala commented on #11691
@trustin could you please have a look?

[2021-09-17 15:16] hyperxpro commented on #11691
@normanmaurer PTAL

[2021-09-17 17:49] NiteshKant commented on #11686
great news @kristian .. your explanation makes sense. I agree, let us close this issue, thanks for reporting your findings back

[2021-09-17 17:49] #11686 closed

[2021-09-17 22:48] ejona86 commented on #9578
I accidentally looked at CombinedHttpHeaders, and it just looks busted. No, you can't go around quoting strings with commas, and no, you can't go around assuming things are CSV. It is so busted I worry it can't be fixed in-place and should be deprecated instead.

Starting "from the top," [RFC 7230 §3.2.2](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.2) says:

   name in a message unle

[2021-09-19 10:14] lars-lewerenz commented on #11020
I still have the same issue.

`2021-09-19 12:11:56.115 ERROR 4560 --- [undedElastic-11] i.n.r.d.DnsServerAddressStreamProviders  : Unable to load io.netty.resolver.dns.macos.MacOSDnsServerAddressStreamProvider, fallback to system defaults. This may result in incorrect DNS resolutions on MacOS.

java.lang.reflect.InvocationTargetException: null
	at java.base/jdk.internal.reflect.NativeConstructorAc

[2021-09-19 10:19] lars-lewerenz opened #11693 "[Question] DNS native resolver for Apple Silicon M1 still not working?"
DNS native resolver for Apple Silicon M1 still doesn't work for me.

Same issue as mentioned here: https://github.com/netty/netty/issues/11020#issue-806940633

### Netty version

netty-resolver-dns-native-macos-4.1.68.Final.jar

### JVM version (e.g. `java -version`)

openjdk version "16.0.2" 2021-07-20
OpenJDK Runtime Environment Zulu16.32+15-CA (build 16.0.2+7)
OpenJDK 64-Bit Server VM Zulu16.32

[2021-09-19 10:47] lars-lewerenz commented on #11693
Resolved by adding io.netty:netty-all:4.1.68.Final.

[2021-09-20 13:08] praveen97uma opened #11695 "Epoll consuming lot more CPU than Nio"
I am building a websocket based broker. During load testing, we found that Epoll transport uses around 55% CPU compared to around 20% for Nio, just for maintaining the connections without doing any business specific IO on those connections. Is this expected? What could I be doing wrong?  Happy to share any more info required around this.

Total concurrent connections: Around 27K
Boss Threads: 1
Wo

[2021-09-20 13:13] hyperxpro commented on #11695
More information needed.

[2021-09-20 13:15] #11678 closed

[2021-09-20 13:23] praveen97uma commented on #11695
@hyperxpro I have added some code. Please let me know if anything specific info would help.

[2021-09-20 13:31] franz1981 commented on #11695
@praveen97uma
The load and performance result is the same for both the tests?

eg
NIO perform the test in X seconds.
EPOLL perform the test in Y seconds.

[2021-09-20 13:38] praveen97uma commented on #11695
@franz1981 Yes, The ramp up to 27K connections is same for both NIO and EPOLL. The graph I shared are in steady state after the ramp up with nothing being written to the connections, except the websocket ping/pongs  every 5 sec, which again happens for both the transports.

[2021-09-20 13:46] franz1981 commented on #11695
It would worth to capture some profiling using https://github.com/jvm-profiling-tools/async-profiler

1. https://github.com/jvm-profiling-tools/async-profiler#basic-usage
2. add `-XX:+UnlockDiagnosticVMOptions -XX:+DebugNonSafepoints` as JVM flags
3. run the profiler with `-t -d 10` (or whatever `d`uration you think is ok)

And share the flamegraphs (`-f nio.html` and `-f epoll.html`) somehow

qq

[2021-09-20 14:19] praveen97uma commented on #11695
@praveen97uma @hyperxpro Here are the files. Profiled for 30s.

https://raw.githubusercontent.com/praveen97uma/experiments/main/epoll.html
https://raw.githubusercontent.com/praveen97uma/experiments/main/nio.html

Screenshots of the same files if convenient.

<img width="1783" alt="Screenshot 2021-09-20 at 7 48 10 PM" src="https://user-images.githubusercontent.com/586275/134018326-295d1ca6-fc02-414

[2021-09-20 14:26] franz1981 commented on #11695
there are an insane amount of samples on epollWait0 due to timerset.
What's this instrumented runnable? can be disabled?

Another thing: I won't suggest to set affinity with netty threads > number of cores...is a BAD idea :)

[2021-09-20 14:30] hyperxpro commented on #11695
Also, try this: `ServerBootstrap#option(EpollChannelOption.EPOLL_MODE, EpollMode.EDGE_TRIGGERED)`

[2021-09-20 14:31] franz1981 commented on #11695
Good point, it could be that wakeup is spuriously happening or that there are scheduled tasks that cause epoll to awake and go asleep continuosly

[2021-09-20 14:38] praveen97uma commented on #11695
@franz1981  @hyperxpro  Thank you both for the help . So, I am doing the following changes and will keep you guys posted.

1) Remove the InstrumntedThreadFactory which instruments threads created/running/terminated created by a thread factory.
2) Reduce the worker threads to 8 (equal to no of cores). I am anyway using separate event loop group for blocking channel handlers. Found out the hard way

[2021-09-20 15:33] praveen97uma commented on #11695
@franz1981 I made the changes. The CPU has dropped to 40% but, IMO, it is still high.

<img width="1201" alt="Screenshot 2021-09-20 at 9 01 15 PM" src="https://user-images.githubusercontent.com/586275/134029747-b3d2d8f2-2632-45ee-9265-51a98e6c69f9.png">

<img width="1778" alt="Screenshot 2021-09-20 at 8 59 43 PM" src="https://user-images.githubusercontent.com/586275/134029648-656a30b2-5145-4a99-9a