[2016-05-07 00:51] liutaohua commented on #5217
oh, it's not encoder problem .
i you can follow next code to repetition :

1.create an class
[code]

2.
[code]
i think i'm not to new the A[] array, so,
next send is come when the last time send not to begin .
then the same memory address value will be change ,right ?
my english is very poor,thanks !

[2016-05-07 01:12] Scottmitch commented on #5180
@dschobel - Yes this is what I had in mind ... looks like you guys already figured it out :)  Are you interested in contributing this to Netty?

best to avoid this if we can IMO

[2016-05-07 01:22] dschobel commented on #5180
sounds good, I'll take a crack at the PR next week.

[2016-05-07 02:02] nayato opened #5223 "question on DefaultChannelPipeline.executorSafe - why indirection?"
Is there a particular reason to access channel-assigned executor like so `channel.unsafe().invoker().executor()` vs `channel.eventLoop()`?

[2016-05-07 22:28] JuKu commented on #4897
@normanmaurer @Scottmitch Today i have get this error with Netty 4.0.34 again.

I have searched an little bit on Google about this problem and i think, the problem is very well known on netty and other netty based libraries:
  - https://samebug.io/exceptions/149460/java.io.IOException/eine-bestehende-verbindung-wurde-softwaregesteuert
  - https://samebug.io/exceptions/340613/java.io.IOException/ei

[2016-05-08 08:49] vietj commented on #5052
@normanmaurer any ETA on Fork16 release ?

[2016-05-09 04:22] Techcable opened #5224 "UnsafeDirectByteBuf should use realloc() to expand and contract its buffer"
UnsafeDirectByteBuf expands its capacity be allocating a new block of memory and copying from the old memory to the new memory.
Its more efficient to use `Unsafe.reallocateMemory(pointer, newSize)`, as it may just expand the size and not need to copy, and shrinking definitely won't need to copy.
I assume you're doing this to get a new ByteBuffer object, since it's capacity is fixed.
However this i

[2016-05-09 04:53] Scottmitch commented on #4897
@JuKu - Sorry this issue came back, but we are still going to need more information. In general the `Discarded inbound message <msg> that reached at the tail of the pipeline. Please check your pipeline configuration.` means a `channelRead()` event reached the end of the [pipeline](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/DefaultChannelPipeline.java#L1356) an

[2016-05-09 05:07] Scottmitch commented on #5224
thanks @Techcable !

@normanmaurer - IIRC we discussed this at some point... I'll assign to you for now.

[2016-05-09 05:22] normanmaurer commented on #5224
@Scottmitch yep :) I have another idea in this area.... Just need to find the time to implement it, but stay tuned ;)

[2016-05-09 06:24] ejona86 commented on #4914
Inbound Flow Control
-----

[Today](https://github.com/netty/netty/blob/e24a5d8/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2MultiplexCodec.java#L447), this uses the callbacks of the non-h2childchan API and overriding to plumb the consumption notifications back to the remote flow controller. This means inbound flow control was implemented without any messages being passed. That won'

[2016-05-09 08:01] normanmaurer commented on #5218
Fixed by https://github.com/netty/netty/pull/5220

[2016-05-09 08:01] #5218 closed

[2016-05-09 08:30] normanmaurer commented on #5223
@nayato there is no good reason... let me fix it.

[2016-05-09 08:32] normanmaurer commented on #5215
@JuKu ping :)

[2016-05-09 08:32] normanmaurer commented on #5183
Please reopen with more details if you think there is a netty bug.

[2016-05-09 08:32] #5183 closed

[2016-05-09 08:34] normanmaurer commented on #5174
Yeah I think the synchronisation is an issue. That said maybe we could just expose a copy of the attributes / options. Let me cook up something...

[2016-05-09 09:18] normanmaurer commented on #5180
@dschobel thanks buddy!

[2016-05-09 12:23] cmoulliard opened #5225 "io.netty.handler.codec.DecoderException: java.lang.NoSuchMethodError: io.netty.util.internal.AppendableCharSequence.charAtUnsafe(I)C"
This error is reported by Netty 4.0.27 when a GET HTTP request is processed

[code]

[2016-05-09 12:27] slandelle commented on #5225
Are you sure you're not mixing artifacts with different versions?

[2016-05-09 12:34] cmoulliard commented on #5225
No.

[code]

[2016-05-09 12:37] slandelle commented on #5225
Yes you do: io.netty:netty-codec-http:jar:**4.0.32**.Final:compile

[2016-05-09 12:39] normanmaurer commented on #5225
@cmoulliard as @slandelle pointed out you must not mix different version of netty.

[2016-05-09 12:39] #5225 closed

[2016-05-09 13:17] normanmaurer commented on #5088
Fixed by https://github.com/netty/netty/pull/5145

[2016-05-09 13:17] #5088 closed

[2016-05-09 15:27] Scottmitch opened #5226 "HttpObjectAggregator.replace headers may enforce validation when they should not"
`HttpObjectAggregator.replace` creates a new `DefaultFullHttpRequest` and does not specify a value for the `validateHeaders` during construction. This would mean that header validation is not consistent from the user's perspective and may enforce validation when the user does not want validation ... which may throw unexpected/undesired errors.

This issue also exists in other implementations of `r

[2016-05-09 16:55] Scottmitch opened #5227 "PooledByteBufAllocatorTest.testNumThreadCachesWithNoDirectArenas test failure"
Discovered on a build of PR https://github.com/netty/netty/pull/5204

https://garage.netty.io/teamcity/viewLog.html?buildId=8205&buildTypeId=pulls_netty&tab=buildLog#_focus=5836

[code]

[2016-05-09 16:56] Scottmitch commented on #5227
@normanmaurer - can you take a look?

[2016-05-09 17:10] normanmaurer commented on #5227
@Scottmitch yep yep

[2016-05-09 17:33] #5185 closed

[2016-05-09 17:48] carl-mastrangelo opened #5228 "AssertionError in Hpack Decoder"
[code]

This causes an error to be thrown from: [Decoder](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/internal/hpack/Decoder.java#L505)

The reason is because of the two 0xFF bytes in the input, which are interpretted as trailing padding in a huffman encoded value.  From reading the [spec](https://http2.github.io/http2-spec/compression.html#string

[2016-05-09 17:52] normanmaurer commented on #5228
@carl-mastrangelo good catch!

@nmittler @Scottmitch @jpinner WDYT ?

[2016-05-09 17:59] carl-mastrangelo commented on #5228
In case it matters, the Golang HPACK Decoder also treats the input as a zero length string, but I think that is a coding mistake; it should result in an error.  It isn't entirely clear to me what to do since the spec, netty, and Go all behave slightly differently.

[2016-05-09 18:00] nmittler commented on #5228
Agreed, `IOException` is more appropriate here.  @carl-mastrangelo do you want to send a PR?

[2016-05-09 18:19] carl-mastrangelo commented on #5228
Well, as I said, I am not entirely sure if my interpretation is right.  Zero length strings *are* allowed right?  Throwing an exception would make the situation better, but not compliant.  Does your reading of the spec match mine?

[2016-05-09 18:59] Scottmitch commented on #5228
@carl-mastrangelo -

I think we can reference the HTTP RFC in this case...

https://tools.ietf.org/html/rfc7230#section-3.2

field-name     = token

The definition for token is defined here ...
https://tools.ietf.org/html/rfc7230#section-3.2.6 (and here https://tools.ietf.org/html/rfc7230#appendix-B)

 tchar          = "!" / "#" / "$" / "%" / "&" / "'" / "*"
                    / "+" / "-" / "." /

[2016-05-09 19:03] carl-mastrangelo commented on #5228
@Scottmitch

That is true for HTTP, but is it true for pure HPACK?  HPACK also allows binary values which http forbids.

[2016-05-09 19:25] normanmaurer commented on #5226
@Scottmitch I will take care.

[2016-05-09 19:25] JuKu commented on #5215
@normanmaurer I currently have an other problem, so i cannot see this bug, while this problem wasnt resolved. I will upload an reproducer an little bit later, if possible.

But i have seen, that channels will be also inactive, if you dont send any message in for example 5 seconds.

[2016-05-09 19:28] MilosFabian commented on #5119
I am sorry for a delay...finally I found some time take a look at it.
I managed produce bundle (include manifest in jar) for netty-transport-native-epoll-*-linux-x86_64
However, when I was trying to use the bundle in OSGi (Apache Karaf) I hit a problem when loading native library.
The Epoll.isAvailable() returns false with following unavailability cause.

java.lang.ClassNotFoundException: io.netty

[2016-05-09 19:38] JuKu commented on #4897
@Scottmitch I think this error message isnt the same for this problems, it seems to be that this was 2 different problems.

The current error message:
[code]

Because i am from Germany, the first message is in german.
In english:
[code]

I think the exception is thrown while reading from socket - but why?

@Scottmitch We are using an binary protocol.
ProxyClientMessage:
[code]

ProxyMessageEncoder

[2016-05-09 19:59] JuKu commented on #4897
Also other projects have this bug:
  - https://github.com/jirutka/spring-rest-exception-handler/issues/13 (an Tomcat module)

Because the error message was thrown by socket dispatcher and netty handles these sockets, i think its an netty bug. Maybe netty tries to read from Socket, but it crashes.

EDIT:
I have found an really interesting information about this bug:
http://stackoverflow.com/questio

[2016-05-09 20:06] Scottmitch commented on #5228
@carl-mastrangelo - I see your point. I don't see anywhere in HPACK that explicit forbids empty headers.  Perhaps it is more appropriate to modify the header validation code for the specific codecs. (e.g. [DefaultHttp2Headers.HTTP2_NAME_VALIDATOR](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2Headers.java#L37), [DefaultHttpHeaders.HttpNa

[2016-05-09 20:24] #5199 closed

[2016-05-09 21:18] Scottmitch commented on #5198
re-opening ... PR #5205 resolved one potential way to get into this state ... however I have a followup PR which should address the issue actually causing the NPE referenced in this issue.

[2016-05-10 01:16] jdc2172 opened #5229 "request: future aggregator"
There is a promise aggregator already, but there really needs to be a future aggregator as well

[2016-05-10 01:30] jimmiebfulton commented on #2105
I'm currently building a fairly sophisticated messaging system (Kafka-esque) with CompletableFuture as part of the interface.  Nothing fancy.  My protocol includes a correlationId that gets stored in a map with a ComletableFuture.  The future gets completed on the return response.  Works quite nicely.   I didn't want to expose a 3rd-party library as part of it's public API, and I want the API to f

[2016-05-10 07:04] normanmaurer commented on #5182
Fixed by #5189

[2016-05-10 07:04] #5182 closed

[2016-05-10 15:21] nmittler commented on #5228
@Scottmitch SGTM

[2016-05-10 15:47] Scottmitch commented on #5228
i'll throw together a PR

[2016-05-10 16:11] normanmaurer commented on #5228
Thx!

[2016-05-10 19:37] carl-mastrangelo commented on #5228
FWIW I also filed this issue against [Golang](https://github.com/golang/go/issues/15614), and will probably be fixing the same bug there.

[2016-05-10 19:38] JuKu commented on #4897
I could reproduce the exception an little bit:
If i remove overriden channelActive() method, the exception isnt thrown.

EDIT:
[code]

But why? And if they are some problems in encoder / decoder, why netty doesnt throws an special exception?

[2016-05-10 20:03] JuKu commented on #4897
I could resolve the problem with using the eventloop, and sending this message after 50ms:
[code]

Code of channelActive() method:
[code]

But its an netty bug, i think. Before this fix the method tried to write into channel, but channel wasnt initialized yet, i think. Netty doesnt have any queue for this event, so netty tries to write into channel and the exception is thrown.

[2016-05-10 21:29] Scottmitch commented on #2105
The master branch (and what was Netty 5) has been deprecated and is no longer supported. See https://github.com/netty/netty/issues/4466

[2016-05-10 21:31] Scottmitch commented on #5125
@purpleknightleo - ping

[2016-05-10 23:05] carl-mastrangelo commented on #5228
@Scottmitch  Are you sure that is the right change?  I think the problem is actually in overlong padding being accepted in https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/internal/hpack/HuffmanDecoder.java#L89

[2016-05-10 23:21] Scottmitch commented on #5228
@carl-mastrangelo - There may be multiple issues, we don't explicitly prohibit empty names in the http header validation. I will need to look more closely at the HPACK spec for the padding issue ... but in the mean time if you are confident about this and are comfortable submitting a PR please do :)

[2016-05-11 04:46] evgenyvsmirnov opened #5232 "channel.attr(…) behaviour in Netty 4.1.0.CR7"
Hi! Could you please comment on the following: as it is said [here](http://netty.io/wiki/new-and-noteworthy-in-4.1.html#channelhandlercontextattr--channelattr) ChannelHandlerContext.attr(…) == Channel.attr(…) since Netty 4.1.

My application which uses channel attributes in order to share a data across all handlers of a pipeline (implemented originally with 4.0.28) started to fail after transition

[2016-05-11 05:06] evgenyvsmirnov opened #5234 "AbstractDerivedByteBuf.deallocate() method in Netty 4.1"
Netty versions 4.1, 4.0.29

Context: AbstractDerivedByteBuf since 4.0.29 has «deallocate» method which is invoked after a backing ByteBuf is released. Same class in 4.1 (at least 4.1.0.CR7) doesn't have this method. Are you going to add it before the 4.1.0.Final release (I would like to use it in a subclass of ReadOnlyByteBuf)?

Thanks.

[2016-05-11 05:13] normanmaurer commented on #5234
@evgenyvsmirnov what you need it for ? Why not just use `release(...)` ?

[2016-05-11 05:18] evgenyvsmirnov commented on #5234
Need to bind additional actions with the moment when the bytebuf is released. Release in AbstractDerivedByteBuf is final so can not customise it.

[2016-05-11 07:05] normanmaurer commented on #5229
@jdc2172 can you tell us what exactly you would expect to have it do ? Also we love PR's so maybe you could just throw a PR together ?

[2016-05-11 07:07] normanmaurer commented on #5232
@evgenyvsmirnov I'm not sure I understand correctly.. Do you say you can access attributes that belong to another `Channel` when the `ChannelHandler` is annotated with `@Sharable` ?

[2016-05-11 07:13] evgenyvsmirnov commented on #5232
Yes, exactly. If I work with my server (it is a http1.1 gateway) using two clients I see that channel created for the second one accesses and modifies data which belongs to channel created for the first one (using nio). And as I told before problem vanishes after removing sharable and creating separate handler instances for every channel.

[2016-05-11 07:14] normanmaurer commented on #5232
@evgenyvsmirnov interesting... let me have a look.

[2016-05-11 07:19] normanmaurer commented on #5232
@evgenyvsmirnov what you describe is not possible... The Attributes are stored in the Channel instance, are you really sure this is what happening ?

https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/DefaultAttributeMap.java

This one is extended by AbstractChannel.

Maybe you can point me to your code ?

[2016-05-11 07:36] evgenyvsmirnov commented on #5232
Unfortunately I can't. Let me make more experiments probably I'll be able to provide you more information or just close the issue. What is interesting – I can reproduce it in every test with two concurrent clients if I use the same instance of sharable handler for each pipeline and can't reproduce it if I create new sharable handlers for new clients.

Scenario is quite ordinary for gateway: first

[2016-05-11 08:26] evgenyvsmirnov commented on #5232
So @normanmaurer since I can not provide more information right now and you are sure the described behaviour is impossible let us think its a propagated error. I will close the issue and create another one as soon as I can tell something new. Thank you for your attention.

[2016-05-11 12:03] floragunncom opened #5235 "Memoryleak when using OpenSSL/netty-tcnative on openjdk7"
Using SSLHandler with OpenSSL provider and the following environment result in a MemoryLeak

* Ubuntu 12.04 / Linux amd64 3.13.0-86-generic
* Java Version: 1.7.0_95 Oracle Corporation
* JVM Impl.: 24.95-b01 Oracle Corporation OpenJDK 64-Bit Server VM
* netty-tcnative-1.1.33.Fork15-linux-x86_64
* Netty 4.0.36
* OpenSSL 1.0.1 14 Mar 2012

With other JVM like the following one its working without any

[2016-05-11 12:04] normanmaurer commented on #5235
@floragunncom a native memory leak or heap memory leak ? Also do you have a heap dump for us ?

[2016-05-11 15:00] ttonelli commented on #2132
Hi, I need this feature and am about to implement it (and potentially contribute), but wanted to check the design first.

The suggested refactoring will have a breaking change, because code currently using HttpContentEncoder will not work anymore. Granted, they will just have to rename to HttpResponseContentEncoder, but is it OK to have do this type of breaking change?

[2016-05-11 18:02] carl-mastrangelo commented on #5181
Friendly ping.

[2016-05-11 18:03] normanmaurer commented on #5181
@carl-mastrangelo working on getting everything done for the release...

[2016-05-11 18:04] carl-mastrangelo commented on #5181
Awesome, thanks!

[2016-05-11 20:03] carl-mastrangelo commented on #5228
@Scottmitch You're PR is good, it just need to also reject bad Huffman encodings too.  I believe the only difference is checking that `bits` is <= 7 just before returning in the function I linked above.

[2016-05-11 20:16] floragunncom commented on #5235
Sorry, can't get a heap dump out of my CI container. But after more investigation it seems that leak was introduced with netty-tcnative 1.1.33.Fork12. 1.1.33.Fork11 does use (in my use case) 8 time less memory than Fork12. It seems is not really a leak (in terms of memory grows an get not garbage collected) but i can say that i see Fork12 (and newer) uses 8 times more memory than Fork11. Looking i

[2016-05-11 20:20] normanmaurer commented on #5235
@floragunncom thats interesting... I will check if I can spot something. So you say it is native memory but is also freed later on ?

[2016-05-11 20:21] normanmaurer commented on #5235
@floragunncom also this is only true with the specific java version that you told be fore or does it happen with all of them ?

[2016-05-11 21:32] floragunncom commented on #5235
need to investigate futher, report back tomorrow

[2016-05-11 22:55] jimmiebfulton commented on #2105
Oh, wow.  Sorry about that.  Thanks for the response, @Scottmitch.  I understand the motivation for removing the branch as a maintained version, and I've wondered myself how onerous it was maintaining that branch long term.  At the same time, I was really looking forward to the simplified handler hierarchy, as well as other small fixes.  I've been interested in Netty for a quite some time, but nev

[2016-05-12 00:39] jimmiebfulton commented on #2105
And just playing around... as a transition/refactoring strategy?  This allows the outward-facing APIs to be introduced before reworking internals...

AbstractBootstrap:

    public CompletableFuture<Channel> bind() {
        validate();
        SocketAddress localAddress = this.localAddress;
        if (localAddress == null) {
            throw new IllegalStateException("localAddress not set");

[2016-05-12 04:21] normanmaurer commented on #5235
Thx!

[2016-05-12 06:40] normanmaurer commented on #5235
@floragunncom also what you report is strange I just reviewed all the changes in tcnative between Fork11 and Fork12 and I can not find anything that could produce something like that. Could you provide a way to reproduce this ?

[2016-05-12 08:29] normanmaurer commented on #5234
@evgenyvsmirnov actually `AbstractDerivedByteBuf ` is marked as `@Deprecated` in 4.1. So no we will not

[2016-05-12 08:29] #5234 closed

[2016-05-12 08:33] normanmaurer commented on #5151
@ifesdjeen the `EventExecutor` is only used to notify the `ChannelGroupFuture`. I will do a javadoc update to clarify it.

[2016-05-12 09:29] evgenyvsmirnov commented on #5234
Now I see it in git. In CR7 released on 10.IV.2016 it was not deprecated. Thanks.

[2016-05-12 12:13] ifesdjeen commented on #5151
Yup, I know. It's just a bit counter-intuitive. I should've said that documenting it could be a better idea.

[2016-05-12 12:13] #5151 closed

[2016-05-12 13:55] Jire opened #5237 "Why does clearing a ByteBuf cause it to be reference collected?"
Why does clearing a `ByteBuf` cause it to be reference collected?

In `ByteBuffer`, clearing allows me to reuse the same buffer by essentially resetting its index. I wish to do the same with Netty's `ByteBuf`.

[2016-05-12 15:56] Scottmitch commented on #5228
@carl-mastrangelo - I think there may be a bit more to it, but I have a PR pending for you to review.

[2016-05-12 15:56] normanmaurer commented on #5151
@ifesdjeen actually it is already in the javadocs:

`Creates a new group with a generated name and the provided {@link EventExecutor} to notify the {@link ChannelGroupFuture}s.`

[2016-05-12 16:04] Scottmitch commented on #5237
@Jire - can you clarify what you are talking about when you say `clearing a ByteBuf cause it to be reference collected`?

[ByteBuf.clear()](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/ByteBuf.java#L445) does not release the `ByteBuf`.

[2016-05-12 16:41] Scottmitch commented on #2105
Yes we were also bummed to give up some of these improvements, but in the end we came to the conclusion that the improvements did justify maintaining a new major version.

The threading characteristics between `ChannelPromise` and `CompletableFuture` in general are quite different. Also the order in which listeners are notified is also different (`ChannelPromise` = fifo, `CompletableFuture` = lifo

[2016-05-12 17:00] phemmer commented on #2668
Getting the same thing trying to build on FreeBSD:

[code]

I really just need boringssl-static, and attempting to build just it results in a similar error:

[code]

[2016-05-12 17:09] Jire commented on #5237
@Scottmitch Sorry I am mistaken. I believe it is write/writeAndFlush that releases the buf, then my subsequent clear call throws ala ref count is 0 error.

[2016-05-12 17:22] ifesdjeen commented on #5151
Oh... somehow I have missed that. Sorry and thanks!

[2016-05-12 17:57] carl-mastrangelo commented on #5228
@Scottmitch I think there are actually two issues rather than 1:  Name length validation in the layers above HPACK, and the treatment of padding inside of HPACK.  Your fix addresses the former, and is still needed.  I can submit a fix for the latter, since I am already in the process of doing so for.

You should still submit your fix.  I don't see anything in my mailbox, did you mean you have a PR

[2016-05-12 18:31] Scottmitch commented on #5228
Yip. I think I have both covered ... stand by

[2016-05-12 19:05] Jire commented on #5237
Yes, retaining before write works. Code used here if anybody is interested: https://github.com/Jire/Acelta/blob/master/src/main/kotlin/com/acelta/net/Session.kt

[2016-05-12 19:05] #5237 closed

[2016-05-12 19:15] Scottmitch commented on #5237
Yes retaining will avoid getting an exception in this case. However make sure you understand the following:

1. lifetime of the `content()`, and the responsibility to release (and re-use) is clear. Checkout http://netty.io/wiki/reference-counted-objects.html.
2. If you clear the indexes before the buffer is actually written (the write operation is asynchronous) ... then your data will not actually

[2016-05-12 19:39] floragunncom opened #5238 "CI server not reachable"
The CI server http://clinker.netty.io/jenkins/view/TCNative/ which is mentioned in http://netty.io/wiki/forked-tomcat-native.html is not reachable (at least not for me)

[2016-05-12 19:49] floragunncom commented on #5235
I cannot provide a reproducer for this and it seems the issue is indeed not related to 1.1.33.Fork12 (seems this was a misacception, sorry for that). What remains is that i see high memory footprint in very specific circumstances when OpenSSL is used. For Java-only SSL there are no such problems.

In general: Should the memory footprint of netty/SSLHandler with OpenSSL compared to Java-only SSL be

[2016-05-12 19:51] Scottmitch commented on #5238
try https://garage.netty.io/teamcity/

[2016-05-12 19:53] ttonelli commented on #2132
Any comments on this? @Scottmitch @trustin @normanmaurer ?

[2016-05-12 19:58] Scottmitch commented on #5238
wiki updated

[2016-05-12 19:58] #5238 closed

[2016-05-12 20:08] floragunncom commented on #5238
thx, but looking for apr build for windows (originally here http://clinker.netty.io/jenkins/job/apr-windows/lastSuccessfulBuild/artifact/dist/bin/). Any ideas where i can find this now?

[2016-05-13 01:52] ayanamist opened #5239 "http2 cleartext server example not working"
I tested 3 server examples under https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/http2
`./run-example.sh http2-server|http2-tiles|http2-multiplex-server`
None of them works correctly with `nghttp` (pure h2) or `curl --http2` (http1.1 upgrade to h2) to provide h2c service.
Does it matter?

[2016-05-13 06:43] normanmaurer commented on #5223
Fixed by https://github.com/netty/netty/pull/5251

[2016-05-13 06:43] #5223 closed

[2016-05-13 07:02] normanmaurer commented on #5227
Fixed by https://github.com/netty/netty/pull/5241

[2016-05-13 07:02] #5227 closed

[2016-05-13 07:03] normanmaurer opened #5254 "io.netty.handler.ssl.JdkSslRenegotiateTest.testRenegotiateServer test failure"
Found while building a PR:

[code]

[2016-05-13 09:33] yanns opened #5256 "NPE in HttpObjectAggregator"
With Netty `4.0.36.Final`.

The code:
[code]

Stack trace:
[code]

What I want to achieve:
I'd like to slow down incoming requests if there are too many requests.
This code only tests the slowing down of requests.

[2016-05-13 10:18] normanmaurer commented on #5256
@yanns that is because you not delay `HttpContent` as well and so produce out of order sequence of messages.

This will fix it:
class DelayHandler extends ChannelInboundHandlerAdapter {
  override def channelRead(ctx: ChannelHandlerContext, msg: AnyRef): Unit = {
    msg match {
      case request: HttpObject ⇒
        ctx.executor().schedule(new Runnable {
          override def run(): Unit = ctx

[2016-05-13 10:18] #5256 closed

[2016-05-13 11:00] SerCeMan opened #5257 "JVM crashed in io.netty.util.internal.PlatformDependent#getByte"
Hi!

* Netty version 4.1.0.Beta8
* It has happened only once
* JDK: 1.8.0_72-b15

All the relevant information in hs_err log
[hs_err_pid13125.txt](https://github.com/netty/netty/files/263060/hs_err_pid13125.txt)

[2016-05-13 11:03] normanmaurer commented on #5257
@SerCeMan this was fixed... Please upgrade to 4.1.0.CR7

[2016-05-13 11:03] #5257 closed

[2016-05-13 11:15] yanns commented on #5256
Thx it is working!

[2016-05-13 11:44] buchgr commented on #4914
@ejona86 start with this, is that what you meant?

[2016-05-13 13:39] normanmaurer commented on #5235
@floragunncom the context may take more memory. Do we talk about per `SSLEngine` instance memory  here ?

[2016-05-13 13:40] normanmaurer commented on #5239
@Scottmitch @nmittler can you have a look

[2016-05-13 15:50] carl-mastrangelo commented on #5228
@Scottmitch If it makes it any easier, the fix for the Go implementation (which is extremely similar to Netty's) is here:  https://go-review.googlesource.com/#/c/23067/

I also added a bunch of cases to their tests if you want to add them to your PR.

[2016-05-13 15:59] ejona86 commented on #4914
@buchgr, yeah, this is the one I'd start with, since it will make testing all the other changes easier. It will also simplify things caused by #5252, since we would no longer need to call the handler itself and could use ctx.write, ctx.flush, and ctx.exceptionCaught directly.

[2016-05-13 16:37] Scottmitch commented on #5228
@carl-mastrangelo - Thanks for the heads up ... seems like our fixes are very similar and I also added a few of tests ... there was actually already a test that was basically commented out :)

[2016-05-13 21:34] nmittler opened #5263 "Rename Netty project to "Netty McNetface""
@trustin @normanmaurer @Scottmitch @louiscryan  @ejona86 @carl-mastrangelo @buchgr :)

[2016-05-14 00:55] trustin commented on #5263
!?

[2016-05-14 01:16] Scottmitch commented on #5263
Happy Friday :beers: (unless @nmittler 's account was hacked)

[2016-05-14 01:19] Scottmitch commented on #5238
I'm not sure if we have a job which independently builds this any more (@nmittler @normanmaurer?)

However we build and deploy tcnative in a standalone static library now.

[2016-05-14 01:50] nmittler commented on #5263
I say this issue can't be closed until @trustin gets the joke! :stuck_out_tongue_closed_eyes:

[2016-05-14 04:59] normanmaurer commented on #5238
Yeah we not have it anymore... Let me update the docs

[2016-05-14 18:54] normanmaurer commented on #3127
Fixed by https://github.com/netty/netty/pull/5255

[2016-05-14 18:54] #3127 closed

[2016-05-14 19:17] maseev opened #5264 "IdleStateHandler does not account for voidPromise"
Netty version: 4.1.0.CR7

Context:
I'm trying to use `ctx.write(msg, ctx.voidPromise());` approach in order to avoid creating unnecessary objects. It's not working because I have IdleStateHandler in my pipeline.
Placing IdleStateHandler in the pipeline makes using `ctx.voidPromise `in `ctx.write` method absolutely useless because of [this](https://github.com/netty/netty/blob/89eae94542ae3d522a78e1

[2016-05-15 05:33] normanmaurer commented on #5264
That is expected and there is nothing we can do about it. As a void promise not allows to add listeners to the promise

[2016-05-15 07:24] maseev commented on #5264
This 'expected behaviour' should be mentioned in the IdleStateHandler's documentation. How is anyone supposed to know that their `ctx.voidPromise()` won't make any difference in terms of generated garbage?
By the way, IdleStateHandler causes an exception to be thrown in Netty 4.0.36.Final, because somebody [decided](https://github.com/netty/netty/blob/4.0/handler/src/main/java/io/netty/handler/tim

[2016-05-15 13:09] fbettag commented on #5263
lol

[2016-05-16 01:02] trustin commented on #5263
Noooooo! Please explain :-)

[2016-05-16 14:04] nmittler commented on #5263
Ha!

Here's the origin: http://www.nytimes.com/2016/03/22/world/europe/boaty-mcboatface-what-you-get-when-you-let-the-internet-decide.html?_r=0

And then Google's contribution: http://www.androidauthority.com/google-parsey-mcparseface-open-source-692352/

:)

[2016-05-16 18:31] CodingFabian commented on #5263
comes right in time before 4.1 ships. i think this justifies a new rc.

[2016-05-17 07:49] normanmaurer opened #5266 "Make usage of mocking frameworks consistent"
We are currently using a bunch of different mocking frameworks in our tests. We should just choose one and use it and not use multiple.

[2016-05-17 07:51] normanmaurer commented on #4200
Fixed by https://github.com/netty/netty/pull/5265

[2016-05-17 07:51] #4200 closed

[2016-05-17 09:17] normanmaurer commented on #4333
Fixed by https://github.com/netty/netty/pull/5144

[2016-05-17 09:17] #4333 closed

[2016-05-17 12:32] normanmaurer commented on #5104
Fixed by https://github.com/netty/netty/pull/5110

[2016-05-17 12:32] #5104 closed

[2016-05-17 13:08] normanmaurer commented on #5179
Fixed by https://github.com/netty/netty/pull/5267

[2016-05-17 13:08] #5179 closed

[2016-05-17 20:42] #5228 closed

[2016-05-18 02:33] longlong524 opened #5271 "Connection reset exception then netty's buffer's content lost"
Version:5.0.0.Alpha2

I write a httpclient with netty. If I disconnect network then  connection reset exception happens and netty's channel become  inactive and the data in the channel's buffer lost. I use wireshark to confirm data has arrived my conputer.
 Is this right? How can I received the lost data when  connection reset exception happens and channel inactive?

[2016-05-18 07:09] LisonLiou commented on #2127
This is my solution for android use netty 4.0.36Final. It achieve text send and receive and image transfer.
http://lison.cc/508.html
And the demo on github: https://github.com/LisonLiou/netty-learning

[2016-05-18 07:13] normanmaurer commented on #5175
Fixed by https://github.com/netty/netty/pull/5269

[2016-05-18 07:13] #5175 closed

[2016-05-18 08:54] normanmaurer commented on #4211
Fixed by https://github.com/netty/netty/pull/5270

[2016-05-18 08:54] #4211 closed

[2016-05-18 11:11] idelpivnitskiy commented on #81
Check [aircompressor](https://github.com/airlift/aircompressor), according to the @slandelle's suggestion: https://github.com/netty/netty/pull/4607#issuecomment-208310679

[2016-05-18 11:27] normanmaurer commented on #5174
Fixed by https://github.com/netty/netty/pull/5243

[2016-05-18 11:27] #5174 closed

[2016-05-18 12:02] normanmaurer commented on #4571
Not happens in 4.0.37.final anymore :)

[2016-05-18 12:02] #4571 closed

[2016-05-19 06:11] IsuruLiyanage commented on #2953
Is this closed. I still get the error when I'm using websocket server and client from the examples. I tried several branches all have the error. But it works when we i enable ssl.

[2016-05-19 10:34] SvetlinZarev opened #5274 "Statically-linked boringssl netty-tcnative does not load"
I've been following the [wiki](http://netty.io/wiki/forked-tomcat-native.html#wiki-h2-3), but statically linked netty-tcnative does not load. I can see the DLL being successfully extracted from the JAR, but System.load() (NativeLibraryLoader:214) fails with:

[code]

Dependencies:

        <dependency>
            <groupId>io.netty</groupId>
            <artifactId>netty-all</artifactId>

[2016-05-19 15:36] buchgr commented on #4914
Eric,

I started working on this. Here is a small summary of my understanding. Essentially we want to create two handlers, `Http2FramingCodec` and `Http2StreamChannelCodec` (naming to be discussed). The `Http2FramingCodec` uses the callback-based HTTP/2 API to essentially convert each callback into a `Http2Frame` object (and vice versa when writing). Pipeline setup would be

[code]

In the inbound

[2016-05-19 19:46] ejona86 commented on #4914
@buchgr, yes, that sums it up. Note that the WINDOW_UPDATE would not be special cased in the `Http2StreamChannelCodec`, but instead be handled within the child channel itself. `Http2StreamChannelCodec` should only have multiplexing logic.

I imagined `Http2StreamChannelCodec` would keep the current name `Http2MultiplexCodec`. `Http2FramingCodec` could eventually be named something like `Http2Codec

[2016-05-19 20:14] buchgr commented on #4914
Yes that's how I have it.

My current work in progress implementation has a `Http2MultiplexCodec` that bootstraps the pre-existing HTTP/2 API in the constructor and on `handlerAdded` adds `Http2FramingCodec` and `Http2StreamChannelCodec` to the pipeline and then removes itself. That is because the `Http2StreamChannelCodec` needs the `PropertyKey` from the `Http2Connection`.

[code]

So in order to

[2016-05-19 21:39] codekrolik opened #5275 "Netty 4 PooledByteBufAllocator returns incorrect information about allocations/deallocations"
The following test outputs numbers from PooledByteBufAllocator arenas, and when I run it the numbers don't match the actual allocations/deallocations.
Actual allocations: 50000
Actual deallocations: 50000
Active buffers: 0

the output shows the following:
directActive 1 directAlloc 1 directDealloc 0
heapActive 0 heapAlloc 0 heapDealloc 0

    import io.netty.buffer.ByteBuf;
    import io.netty.buf

[2016-05-19 21:40] codekrolik opened #5276 "NioServerSocketChannel.doReadMessages() creates a NioSocketChannel instance ignoring user ChannelOptions"
**NioServerSocketChannel.doReadMessages()** creates a NioSocketChannel instance ignoring user-defined ChannelOptions.

*ServerBootstrap* and *Bootstrap* classes create channels by calling *AbstractBootstrap.initAndRegister()* method.
Methods like *Bootstrap.connect()* and *ServerBootstrap.bind()* call method *AbstractBootstrap.initAndRegister() - AbstractBootstrap.init()* which ends up setting use

[2016-05-19 21:44] codekrolik opened #5277 "Netty 4/5 LACK OF deterministic buffer leak detection that can be used in unit tests"
I read a lot about buffer leak detection in Netty4 and to me it looks like there is no deterministic way to detect such leaks in unit tests.

However, the importance of such feature for unit testing is so great that it feels very wrong that there are no clear guidelines on how to do it.

Moreover, most of the sources including the original document
http://netty.io/wiki/reference-counted-objects.ht

[2016-05-20 02:13] alvin-xu opened #5278 "High cpu usage when up to about 500 connections."
This is a really strange problem which happened only in a specific computer.

Computer: Dell Latitude E5520, 4G memory, Windows 7 32bit.
netty-version: 5.0.0.Alpha1, 5.0.0.Alpha2

When the connection to the netty server up to about 500 (there is a threshold value, but not certainly).  A new connection will cause one thread use cpu 25%, and always print the following message. And another new connec

[2016-05-20 04:05] taojiaenx commented on #5275
When you remove the code "b.release();" the program will show this:
Recent access records: 0
Created at:
	io.netty.buffer.PooledByteBufAllocator.newDirectBuffer(PooledByteBufAllocator.java:280)
	io.netty.buffer.AbstractByteBufAllocator.directBuffer(AbstractByteBufAllocator.java:177)
	io.netty.buffer.AbstractByteBufAllocator.buffer(AbstractByteBufAllocator.java:113)
	TestAllocator.main(TestAllocato

[2016-05-20 07:09] alvin-xu commented on #5278
After the test, i found that the threshold value of the problem (high cpu usage) is related to the threads number directly, which can be set by '-Dio.netty.eventLoopThreads'.

If -Dio.netty.eventLoopThreads=8, then threshold value is about 500 ~~ 8*64;
If -Dio.netty.eventLoopThreads=8, then threshold value is about 250 ~~ 4*64;

So, I guess the problem happens only when most of the threads is up t

[2016-05-20 07:09] #4906 closed

[2016-05-20 08:17] taojiaenx commented on #5276
Have you configured the channel by this way ?
serverBootstarp = new ServerBootstrap()
				.group(bossGroup, workerGroup)
				.channel(EpollServerSocketChannel.class)
				.option(ChannelOption.SO_TIMEOUT, sockTimout)
				.option(ChannelOption.ALLOCATOR, PooledByteBufAllocator.DEFAULT)
				.option(ChannelOption.TCP_NODELAY, true)
				.childOption(ChannelOption.ALLOCATOR,
						PooledByteBufAllocator

[2016-05-20 08:18] normanmaurer commented on #5276
@codekrolik as @taojiaenx you need to use `childOption(...)` to configure the accepted channels.

[2016-05-20 08:18] #5276 closed

[2016-05-20 08:20] normanmaurer commented on #5277
@codekrolik I guess we could add some custom `@Rule` for junit that can be used. Need to think a bit more about this tho.

[2016-05-20 08:25] johnou commented on #5275
Isn't that the point of the _pooled_ allocator that bytebufs are reused?

[code]

[code]

[2016-05-20 08:32] normanmaurer commented on #5275
@codekrolik the problem is that you not "disabled" the caches so it makes perfect sense to see the numbers you are reporting as the cache is still holding the buffers. If you use something like this it will work:

[code]

[2016-05-20 08:32] #5275 closed

[2016-05-20 08:48] normanmaurer commented on #5274
@nmittler any idea ?

[2016-05-20 08:48] normanmaurer commented on #5271
Please use 4.1.0.CR7 and let us know if you still see the issue there.

[2016-05-20 08:48] #5271 closed

[2016-05-20 08:49] normanmaurer commented on #5239
@nmittler ping

[2016-05-20 08:49] normanmaurer commented on #5235
@floragunncom ping

[2016-05-20 09:05] maseev opened #5280 "Feature request: Optimized versions of LengthFieldBasedFrameDecoder and FixedLengthFrameDecoder"
Netty version: 4.1.0.CR7.

Context:
It turns out that `LengthFieldBasedFrameDecoder` and `FixedLengthFrameDecoder` produce quite a lot of garbage by creating ByteBuf per message. This is especially true in the context where the client sends data at a very high-speed rate. As a result, we've got a lot of GC pauses which significantly drop throughput and increase latency.

Instead of slicing an inco

[2016-05-20 09:08] normanmaurer commented on #5280
@maseev I think you should try latest 4.1 branch and see how it behaves as we now also pool Slices if you use the PooledByteBufAllocator here.

[2016-05-20 09:11] normanmaurer commented on #5274
This may be related to https://github.com/netty/netty-tcnative/issues/141

[2016-05-20 09:46] maseev commented on #5280
@normanmaurer I just tried latest 4.1 branch. GC's started working less frequently, but throughput didn't change at all. I can see from YouKit profiler that writing to the channel is performing in the very small chunks (around 100kb), whereas in optimized mode I'm able to send up to 300-400kb per call. It seems there's a some limitation that relates to how many times `channelRead` can be called.

[2016-05-20 10:08] normanmaurer commented on #5280
@maseev maybe you want to send a PR which implements an "optimised" `LengthFieldBasedFrameDecoder` and `FixedLengthFrameDecoder` ?

[2016-05-20 10:16] #5263 closed

[2016-05-20 10:23] maseev commented on #5280
@normanmaurer I would love to. But I'd like to make sure that I'm not missing anything important. I mean, maybe I somehow misused Netty's frame decoder or something? The only thing I did is added FixedLenghtFrameDecoder which turned out to cause the major throughput drop.
I'll definitely send a PR when I have more free time. :disappointed:

[2016-05-20 13:37] nmittler commented on #5274
Yes, this is a dup of netty/netty-tcnative#141.  I'm working on a fix and will hopefully have a PR out shortly.

[2016-05-20 13:38] normanmaurer commented on #5274
Ok then let me close this for now and let continue there.

[2016-05-20 13:38] #5274 closed

[2016-05-20 16:16] vietj commented on #5198
just observed this in load testing HTTP/2 :-)

[2016-05-20 18:17] buchgr commented on #4914
will open a PR tomorrow. the devil is in the detail! 😄

[2016-05-20 20:18] codekrolik commented on #5277
So I managed to make unit tests work for me.

The mechanism is like the following:
1)	Create a PooledBufferAllocator with disabled cache, as was suggested in https://github.com/netty/netty/issues/5275

    PooledByteBufAllocator alloc = new PooledByteBufAllocator(true, 1, 1, 8192, 11, 0, 0, 0);

2)	Make sure all the Bootstraps use this allocator

a.	Client

    Bootstrap clientBootstrap = new Boot

[2016-05-21 15:42] Jire opened #5292 "Why are ArrayList$Itr created when write and flushing to a channel?"
It seems `ArrayList$Itr` are created whenever I use `writeAndFlush` on a channel. I even pass in channel's `voidPromise`. There are also `MpscLinkedQueue$DefaultNode` that are created.

How can I avoid this?

Screenshot from VisualVM profiler: http://i.imgur.com/jkb2gGL.png

[2016-05-21 15:54] normanmaurer commented on #5292
Can you share the profiler snapshot?

[2016-05-21 15:59] Jire commented on #5292
@normanmaurer Here is the VisualVM memory profiler snapshot: https://www.dropbox.com/s/s3brzn2zepsch6l/snapshot.xml?dl=0

[2016-05-21 16:30] normanmaurer commented on #5292
@Jire hmmm... this is a .xml ? Shouldn't this be .nps or such ?

[2016-05-21 16:31] Jire commented on #5292
@normanmaurer Sorry, here is an nps: https://www.dropbox.com/s/izk54wt7oz8wgvt/profile.nps?dl=0

[2016-05-21 16:36] normanmaurer commented on #5292
@Jire hmmm... how can I see what holds the references of the ArrayList$itr ? Can you maybe just take a heap dump and share it so I can use yourkit or mat for this ?

[2016-05-21 16:40] #2422 closed

[2016-05-21 16:41] normanmaurer commented on #2422
Fixed by https://github.com/netty/netty/pull/5231

[2016-05-21 16:41] normanmaurer commented on #4906
Fixed by https://github.com/netty/netty/pull/5289

[2016-05-21 16:44] Jire commented on #5292
@normanmaurer First time using YourKit, here is a memory snapshot (.snapshot): https://www.dropbox.com/s/gsrjinl6uqr2vqy/Acelta-2016-05-21%281%29.snapshot?dl=0

And here is the memory snapshot idiom (.idiom): https://www.dropbox.com/s/hhwub7uuflov0z2/Acelta-2016-05-21%281%29.snapshot.idom?dl=0

[2016-05-21 16:50] normanmaurer commented on #5292
@Jire you need to enable allocation recording so I can see where stuff is allocated:
https://www.yourkit.com/docs/java/help/allocations.jsp

[2016-05-22 02:46] dschobel opened #5294 "configurable ChannelConfig for EmbeddedChannel"
Hi, I'd like configure `EmbeddedChannel` instances directly to configure their `ChannelConfig` byte buf allocator instances. Currently I'm  using the ` io.netty.allocator.type` system property but that won't let me vary the allocator type between distinct clients and server when they run in the same VM since the `DefaultChannelConfig` evaluates the static `ByteBufUtil.DEFAULT_ALLOCATOR` to pick be

[2016-05-22 04:30] Jire commented on #5292
@normanmaurer I noticed that in the stable Netty version the problem is significantly less. With 4.1.0.CR7 there are a lot of `MpscLinkedQueue$DefaultNode`. Also, lowering the amount of threads for `NioEventLoopGroup` significantly helps write/flush speeds.

https://www.dropbox.com/s/jucpptg530grqoc/Acelta-2016-05-21%288%29.snapshot?dl=0
https://www.dropbox.com/s/d29krolf5dm5xtx/Acelta-2016-05-21%

[2016-05-22 05:03] normanmaurer commented on #5292
Can you share a reproducer?

[2016-05-22 05:07] normanmaurer commented on #5294
Why not using Channel.config().setOption(....) ?

[2016-05-22 06:58] dschobel commented on #5294
Ah, I didn't realize I could modify the allocator after the channel is created, thanks for the pointer!

A follow up question, the reason I'm asking about allocator configuration of `EmbeddedChannel` is because I found the `HttpContentCompressor` handler allocating pooled byte buffers when I installed it in a server pipeline where the bootstrap was configured with the unpooled allocator.

The sour

[2016-05-22 07:16] normanmaurer commented on #5294
Nope thats a bug.... Can you provide a fix?

[2016-05-22 15:48] normanmaurer commented on #5294
Let me fix this here and in some other places.

[2016-05-22 23:40] Scottmitch commented on #5198
@vietj - are you testing with 4.1 HEAD and do you have a reproducer, or any additional details?

[2016-05-22 23:42] Scottmitch commented on #5198
@vietj - Also did you rebuild all of Netty? This fix was not limited to codec-http2

[2016-05-23 00:06] trustin commented on #5263
[![LGTM](http://lgtm.in/p/qJaaDdxOp)](http://lgtm.in/i/qJaaDdxOp)

[2016-05-23 00:14] kfallah opened #5295 "ThreadPerChannelEventLoopGroup protected constructor"
Hello,

I apologize if I am doing this wrong but I could not find any resources online. I am trying to use ThreadPerChannelEventLoop instances for my workerGroup and tried this:

`EventLoopGroup workerGroup = new ThreadPerChannelEventLoopGroup(100);`

Since ThreadPerChannelEventLoopGroup has all its constructors as protected, this is not possible.

Thanks,
Kion

[2016-05-23 00:18] trustin commented on #5295
`ThreadPerChannelEventLoopGroup` is not meant to be used directly. What are you trying to achieve exactly?

[2016-05-23 00:30] kfallah commented on #5295
I'm trying to get each client to have its own thread.

[2016-05-23 00:32] #5295 closed

[2016-05-23 01:09] windie commented on #5217
@liutaohua `writeAndFlush` is  asynchronous. You should send an immutable object. Otherwise, the consumer may see wrong datas.

[2016-05-23 01:15] windie commented on #5278
@alvin-xu Netty 5 has been deprecated (See #4466). Could you try 4.1.0.CR7 and see if the bug is still there?

[2016-05-23 01:34] liutaohua commented on #5217
@windie  yes,  thanks!

[2016-05-23 01:34] #5217 closed

[2016-05-23 01:57] Jire commented on #5292
@normanmaurer My actual project is: https://github.com/Jire/Acelta

But I have written a minimal version in Java for your team: https://github.com/Jire/NettyExample

[2016-05-23 03:35] xiaoshuang-lu opened #5296 "WriteTimeoutHandler does not work as stated"
The code hints that if there are no write operations this handler will never issue WriteTimeoutException.

In fact, this handler has the similar functionality like socket option SO_SNDTIMEO.

It is far away from "Raises a WriteTimeoutException when no data was written within a certain period of time".

[2016-05-23 04:41] normanmaurer commented on #5198
@Scottmitch I think @vietj saw it with CR7 , so w can close this again

[2016-05-23 04:41] #5198 closed

[2016-05-23 04:54] windie commented on #5296
The doc was fixed in #4631. It should be `Raises a WriteTimeoutException when a write operation cannot finish in a certain period of time.`

[2016-05-23 05:18] xiaoshuang-lu commented on #5296
Hi windie, thanks for your comments.

From my perspective, it is not a good idea to revise the doc because users will be confused if ReadTimeoutHandler and WriteTimeoutHandler have different meaning.

Why not offer a WriteTimeoutHandler that will raise a WriteTimeoutException when no data was written within a certain period of time?

[2016-05-23 06:11] vietj commented on #5198
no, still on CR7, sorry I did want to make a wrong alarm.

But I when I load test, I've seen plenty of these under high load.

[2016-05-23 06:16] shawn11ZX opened #5297 "Livelock issue in MpscLinkedQueue.java"
@normanmaurer We still experience the same issue as: Livelock issue in MpscLinkedQueue.java #3675
Our version is netty-all-4.1.0.CR7.jar, which already contains the fix : cf66edb3a10fa2bb60802e91f14565b551c08f97

The call stack is:

`
"GameLoginScheduledThread" prio=10 tid=0x00007f01d15f1800 nid=0xa2ed runnable [0x00007effdf4f3000]
   java.lang.Thread.State: RUNNABLE
        **at io.netty.util.int

[2016-05-23 06:41] normanmaurer commented on #5297
@shawn11ZX are you sure that you really call size() from the same EventLoop as it is assigned too ?

[2016-05-23 07:05] normanmaurer commented on #5297
That said I think I can make it safe from any thread....

[2016-05-23 08:35] normanmaurer commented on #5292
@Jire can you hop of irc and ping me... irc.freenode #netty

[2016-05-23 08:38] Jire commented on #5292
@normanmaurer Yes, what's your nickname?

[2016-05-23 10:03] normanmaurer commented on #5292
This was fixed in 4.1.0.Final snapshot and the Itr stuff was created by java.util.logging

[2016-05-23 10:03] #5292 closed

[2016-05-23 10:26] Jire commented on #5292
@normanmaurer Thank you for all the help, cheers!!

[2016-05-23 15:40] nmittler commented on #5239
Just tried nghttp and this is what I'm seeing in the netty example server:

[code]

It seems that something may have broken WRT allowing null names.

@normanmaurer Any ideas?

[2016-05-23 15:43] normanmaurer commented on #5239
@nmittler yep will fix...

[2016-05-23 15:46] nmittler commented on #5239
SGTM ... thanks @normanmaurer!

[2016-05-23 17:58] windie commented on #5296
Acutally, what you are looking for is IdleStateHandler. The ReadTimeoutHandler doc is wrong too. I'm working on fixing it.

[2016-05-23 18:15] Jire commented on #5297
I am having the same issue occur at random.

[2016-05-23 18:16] normanmaurer commented on #5239
https://github.com/netty/netty/pull/5298

[2016-05-23 18:28] Jire opened #5299 "Object allocation concerns"
If Netty is to be used for high-performance, the object allocations must stay minimal. My experience with Netty so far has revealed unfortunate garbage allocations. All of my tests are on the latest 4.1.0.Final-SNAPSHOT from SonaType.

---

**io.netty.util.internal.MpscLinkedQueue$DefaultNode** is one of the biggest sources of pain. These objects are created very often as a result of `MpscLinkedQu

[2016-05-23 18:44] normanmaurer commented on #5299
@Jire this means you will most likely schedule stuff on the `EventLoop` from outside. Is this true ? Like calling `writeAndFlush(...)` from outside a `ChannelHandler`. What you mean with "nodes have duplicate values" ? Can you give some more details ?

Once I have more info I will look into how to reduce these.

Thanks for the report!

[2016-05-23 18:52] Jire commented on #5299
@normanmaurer My application only makes use of the thread's provided to the event loop group. For example, I maintain the reference to the group and schedule tasks here: https://github.com/Jire/Acelta/blob/master/src/main/kotlin/com/acelta/task/Tasks.kt#L16

As for calling `writeAndFlush`, I used your advice to improve performance and grab the channel's event loop to submit the preallocated flushi

[2016-05-23 18:57] normanmaurer commented on #5299
@Jire I would be interested to know from where the DefaultNode allocations happen. Like the stack trace of it. Can you provide it ?

[2016-05-23 19:00] Jire commented on #5299
@normanmaurer This is the stack dump that occurs very often:

[java.lang.Exception: Stack trace
	at java.lang.Thread.dumpStack(Thread.java:1329)
	at io.netty.util.internal.MpscLinkedQueue.offer(MpscLinkedQueue.java:139)
	at io.netty.util.internal.MpscLinkedQueue.add(MpscLinkedQueue.java:252)
	at io.netty.util.concurrent.SingleThreadEventExecutor.addTask(SingleThreadEventExecutor.java:283)
	at io.n

[2016-05-23 19:33] normanmaurer commented on #5299
Most of these issue can prolly fixed by https://github.com/netty/netty/pull/5051 . I will look into it later this week in more detail.

[2016-05-23 20:11] Jire commented on #5299
@normanmaurer That link was very helpful! I patched my Netty to use the new JCTools like this: https://github.com/Jire/Acelta/blob/master/src/main/java/io/netty/util/internal/PlatformDependent.java#L601

[2016-05-24 01:38] Scottmitch commented on #5264
@maseev - Void promise can be tricky as it requires multiple layers to account for it ... would you be interested in submitting a PR to clarify docs and fix this issue you discovered?

[2016-05-24 01:41] Scottmitch commented on #5266
thanks for opening an issue ... I recall discussing this at one point but guess I didn't open an issue (shame on me)

[2016-05-24 01:47] xiaoshuang-lu commented on #5296
"The ReadTimeoutHandler doc is wrong too." I am afraid not. The code indicates that functionality is compliant with doc.

[2016-05-24 01:47] Scottmitch commented on #5278
+1 @windie - Also great to see you are a Netty contributor now! Welcome aboard!!

[2016-05-24 01:51] Scottmitch commented on #4914
sounds great guys ... looking forward to a PR!

[2016-05-24 02:00] shawn11ZX commented on #5297
No, I call pendingTasks from a third thread which is used to monitor netty status. The code is as following:
[code]

[2016-05-24 03:11] normanmaurer commented on #5299
@Jire could you share how the impact of the change looks like? Are the GC issues mostly gone?

[2016-05-24 03:25] Jire commented on #5299
@normanmaurer They are actually COMPLETELY gone with the patch, I can't find a single reminiscence of any of the mentioned objects! :smiley:

[2016-05-24 03:35] maseev commented on #5264
@Scottmitch Ok, no problem. I'll submit a PR a little bit later.

[2016-05-24 03:37] normanmaurer commented on #5299
Wooot! /cc @nitsanw @trustin @nmittler @Scottmitch

[2016-05-24 04:17] Scottmitch commented on #5198
@vietj - had me worried for a bit there .... Let me know if it still exists after you upgrade.

[2016-05-24 04:23] normanmaurer commented on #5239
Fixed via https://github.com/netty/netty/pull/5298

[2016-05-24 04:23] #5239 closed

[2016-05-24 04:23] normanmaurer commented on #5239
@nmittler @ayanamist can you try again ?

[2016-05-24 04:38] windie commented on #5296
@xiaoshuang-lu you are right. I was wrong about `ReadTimeoutHandler`. ReadTimeoutHandler does what the doc says. So nothing needs to be fixed :).

[2016-05-24 04:43] normanmaurer commented on #4914
Same here!

[2016-05-24 04:46] windie commented on #5278
@Scottmitch - Thanks :)

[2016-05-24 05:14] ayanamist commented on #5239
I test with 2618c2a6
Still not work with nghttp

[2016-05-24 06:16] taojiaenx commented on #5275
@normanmaurer Would you tell me that  what is the role of "cache" ?

[2016-05-24 06:25] normanmaurer commented on #5239
Can you give me the exact steps to reproduce?

[2016-05-24 08:36] ayanamist commented on #5239
I modify pom.xml to loosen enforcer rules which force me to use centos.
![2016-05-24_163207](https://cloud.githubusercontent.com/assets/406779/15497461/70b35b04-21cd-11e6-97e3-eff0317b31ef.png)

[2016-05-24 14:28] nmittler commented on #5299
@normanmaurer Woot! :)

[2016-05-24 15:01] nitsanw commented on #4960
@normanmaurer welcome back! _nudge nudge_

[2016-05-24 15:19] nmittler commented on #5239
Hmm ... it's working for me with the latest 4.1 branch (thanks, @normanmaurer!).

Server:
`./run-example.sh http2-server`

Client:
[code]

What version of Netty are you using?

[2016-05-24 15:29] normanmaurer commented on #4960
@nitsanw looking into it as we speak

[2016-05-24 15:37] normanmaurer commented on #5299
Working on this....

[2016-05-24 15:44] vietj opened #5301 "HTT/2 upgrade NPE when performing an upgrade with initial settings window size > 65535"
I'm currently seing an NPE when doing an HTTP/2 upgrade with initial settings with a window size > 65535 when calling `onHttpServerUpgrade` after the `Http2ConnectionHandler` is created.

As the window size is greater than the default value, it tries to write pending bytes, however the handler is not yet in the pipeline as `onHttpServerUpgrade ` must happen before the `Http2ConnectionHandler` is i

[2016-05-24 15:49] vietj commented on #5301
to me it seems that setting the initial window size should not try to send frames, i.e the part in `initialWindowSize` :

[code]

should not be called is this situation

[2016-05-24 16:26] normanmaurer commented on #5301
@nmittler @Scottmitch @ejona86 WDYT ?

[2016-05-24 16:43] normanmaurer commented on #5299
@belliottsmith WDYT about the idea of reusing `Link` objects here ?

[2016-05-24 16:59] belliottsmith commented on #5299
It's a while since I thought about this, but I do recall at the time considering recycling the Links, so I'm sure it's possible.  But it's worth considering that the reason I chose not to introduce the complexity at the time was that these Links *aren't meant to be used* - they're for misbehaving users.  Recycling was (at the time) meant to happen only on the allocating thread, as the prior behavi

[2016-05-24 17:12] normanmaurer commented on #5299
Yep recycling can happen if the user weites from outside the EventLoop so would be nice to refuce the GC here if possible

[2016-05-24 18:56] normanmaurer commented on #5264
Thx a lot!

[2016-05-24 18:56] normanmaurer commented on #5292
No worries :)

[2016-05-24 18:56] normanmaurer commented on #5266
No worries... I somehow remembered and was also suprised we not openen up an issue already :)

[2016-05-24 18:56] normanmaurer commented on #5275
These are thread local caches which allow to do allocations without any synchronization if something is in the cache. If there are a lot of unused buffers in the caches these will be freed up at an interval.

For more details about it please see the jemalloc paper.

[2016-05-24 19:15] nitsanw commented on #5299
@normanmaurer looked briefly at the recycler, so may not be getting this straight, but it looks like an SPSC queue, if that's the case you could replace with the unbounded SPSC array queue maybe?

[2016-05-25 01:25] ayanamist commented on #5239
@nmittler i use 2618c2a which is shown both in above comments and in the screenshot `git rev-parse HEAD`
I find that, i use `nghttp -v http://127.0.0.1/` which does not do upgrade request (no HTTP/1.1 request) and fail, you use `nghttp -u -v http://127.0.0.1/` which will do upgrade request, so it succeeds.
I use netty to build a RPC server like gRPC, so upgrade request is useless, and i see that e

[2016-05-25 02:02] alvin-xu commented on #5278
@windie There is also the same problem with 4.1.0.CR7 in the aforementioned computer.  It's really difficult for me to make sure what in the computer causes the bug. Do you have any idea?

[2016-05-25 05:20] normanmaurer commented on #5301
@nmittler @Scottmitch ping :)

[2016-05-25 06:07] normanmaurer commented on #5299
@nitsanw maybe.... let me check.

[2016-05-25 06:08] johnou commented on #5278
@alvin-xu what JDK? are you able to take a cpu snapshot with VisualVM or another profiling tool?

[2016-05-25 06:53] Polve opened #5303 "Support for native linux KCM"
I don't know if it's possible to create some sort of "driver" detecting when linux kernel 4.6 or higher is running, but that latest kernel feature could help performance a lot, if it is possible to exploit them.

References:
https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/plain/Documentation/networking/kcm.txt
https://lwn.net/Articles/657999/

[2016-05-25 07:12] neeraj20gupta commented on #5104
@normanmaurer Is this issue only present in 4.1.0 CR6 release or in 4.0.36 as well? We are facing a similar scenario with 4.0.36.

[2016-05-25 07:44] normanmaurer commented on #5104
@neeraj20gupta in 4.0.36 as well. Will release 4.0.37.Final this week.

[2016-05-25 08:14] JatinderSingh opened #5304 "Rejected Execution Exception under load"
I am getting below exception when the netty based server is under high load.

 ERROR io.netty.util.concurrent.DefaultPromise.rejectedExecution - Failed to submit a listener notification task. Event loop shut down?
java.util.concurrent.RejectedExecutionException: event executor terminated
        at io.netty.util.concurrent.SingleThreadEventExecutor.reject(SingleThreadEventExecutor.java:672) ~[nett

[2016-05-25 08:25] neeraj20gupta commented on #5104
cool, thanks.

[2016-05-25 09:55] neeraj20gupta commented on #5104
@normanmaurer
However in my case the threads do recover back. While running benchmarks on the server we observed that for most duration EventLoopGroup worker threads are in wait state.

Please see the attached snapshot from visual VM. Netty Worker threads
![nettywait](https://cloud.githubusercontent.com/assets/13968394/15535821/9ef28854-228c-11e6-92c0-a49786b5561e.png)

I am not sure that if this

[2016-05-25 10:11] maseev commented on #5304
@JatinderSingh It looks like you're using the beta version of Netty 4.1. Have you tried [this](http://mvnrepository.com/artifact/io.netty/netty-transport-native-epoll/4.1.0.CR7) one? Also, it would be helpful if you include the application code you're trying to run.

[2016-05-25 10:20] belliottsmith commented on #5299
It is indeed an SPSC, but one that issues fewer memory barriers than even the SpscArrayQueue - although glancing at it, that doesn't seem to be an inherent limitation with SpscArrayQueue, and perhaps it could simply be modified.  I haven't digested BaseSpscLinkedArrayQueue nor SpscGrowableArrayQueue, as they're a little less friendly on the eyes, but one assumes they're similar in that respect.

O

[2016-05-25 10:23] normanmaurer commented on #5299
@belliottsmith thanks for having a look. I think really the biggest problem is the "not shrinking" thing that you mention. @nitsanw any idea if you could make it work to shrink ?

[2016-05-25 10:24] belliottsmith commented on #5299
@normanmaurer @nitsanw bear in mind any shrinking would need to be performed by the _consumer_ as we cannot guarantee producers continue to furnish anything

[2016-05-25 10:26] normanmaurer commented on #5299
@belliottsmith true... maybe just "reallocate" a new queue once the percent of internal storage and usage becomes to low would be a compromise here. /cc @nitsanw

[2016-05-25 10:35] belliottsmith commented on #5299
Well... we expect the queue to regularly empty itself, since the consumer drains in batches (which could do with optimising in jctools, as an aside), so we can't simply resize it when it gets low else we'll do it all the time and probably be worse for garbage than we are now.

Recycling links has the advantage of self-tuning, and producing no garbage globally once a steady state is reached.  Resiz

[2016-05-25 11:28] normanmaurer commented on #5299
@belliottsmith true... So maybe using the `Link` is not really a bad thing at all. That said we may want to increase the size of the array that is stored in the `Link`. Any reason you choose `16` originally ? Just to mimize the memory overhead ?

[2016-05-25 11:36] JatinderSingh commented on #5304
@maseev I had tried CR7 version twice but ran into some lock issues on same which resulted in massive throughput drop so i reverted to Beta4. The app is built on top of server https://github.com/JatinderSingh/http-server which abstracts interaction with netty.

[2016-05-25 11:50] normanmaurer commented on #5304
@JatinderSingh from the exception it looks like the EventLoopGroup was shutdown too early. Also would be interesting to know what "these lock issues" are. Can you provide some more infos ?

[2016-05-25 12:19] belliottsmith commented on #5299
That, and because it is large enough to amortise the costs associated with it well, yet small enough that a majority of accesses will involve only one cache miss.  Certainly nothing stopping making it bigger.

[2016-05-25 12:31] JatinderSingh commented on #5304
@normanmaurer  I ran perf-java-top on my process and raw_spin_unlock was eating up about 30% cpu and causing app to crash again and again for CR7 version.

App was not given a kill signal, or any internal shutdown was not called in this case. It happened on 3 app servers out of 34 while load was very high.

[2016-05-25 12:43] Jire commented on #5299
@normanmaurer @belliotsmith I think there should be a way to programmatically configure these changes, including changing the MPSC, SPSC, link array size, etc.

Sometimes users want something other than the defaults, and the only way to do that right now is by masking the desired class with a copy and paste containing your changes.

[2016-05-25 12:52] normanmaurer commented on #5299
@belliottsmith gotcha... So maybe at least we should allow change the size via a System property.

@Jire I think make everything changeable programmatically is not feasible and even not makes a lot of sense. What we should allow is to adjust some of the parameters tho.

[2016-05-25 12:53] normanmaurer commented on #5303
@Polve will have a look once I have some spare time.

[2016-05-25 12:54] normanmaurer commented on #5304
@JatinderSingh if you can share some of the debug info I may be able to help. Without it its hard.

[2016-05-25 12:56] normanmaurer commented on #5301
@vietj sounds like a valid assumption. Could you provide a PR ?

[2016-05-25 12:57] belliottsmith commented on #5299
@normanmaurer sounds reasonable, yeah

@jire gotta agree with @normanmaurer here; making absolutely everything configurable over time introduces significant burdens, and in this specific case at least the mpsc queue is tightly coupled, and we would lose some of its power by untying them, unless we introduced a new interface for others to implement - but really, who would?  it's a lot of work, and

[2016-05-25 13:07] JatinderSingh commented on #5304
@normanmaurer Could you guide me what info shall i share with you?

The Exception occurs only under peak production load on some days only.

[2016-05-25 13:30] normanmaurer commented on #5299
@belliottsmith btw after looking again at the `Recycler` implementation I agree with you that once the Stack has "auto tuned" itself it should not produce more `Link` objects and so be mostly GC free. I think this was also what you referred to.

[2016-05-25 15:10] nmittler commented on #5239
@ayanamist ok, I had misunderstood what you were trying to do. So you want to talk [HTTP/2 directly, without an upgrade] (http://httpwg.org/specs/rfc7540.html#known-http). Our examples don't support that currently.

@trustin IIRC you had brought this up a while back. Did we ever implement a way to support both direct HTTP/2 as well as HTTP 1->2 upgrade?

[2016-05-25 15:12] Scottmitch commented on #5301
Will take a look soon sry for the delay

[2016-05-25 15:18] nmittler commented on #5301
vietj@ why are there pending bytes on the server before the connection is established?

[2016-05-25 15:34] vietj commented on #5301
@nmittler there are no pending bytes I think.

the issue happens because it asks if there are pending bytes on DefaultRemoteFlowController#writableBytes() that calls DefaultHttp2RemoteFlowController#maxUsableChannelBytes() that tries to access the ChannelHandlerContext that is not set yet because the handler is not yet in the pipeline.

@normanmaurer I can provide a PR (that would fix what I obser

[2016-05-25 16:02] nmittler commented on #5301
@vietj hmm, ok ... in that case, it's surprising that our server upgrade handler has been working to this point.

I've created #5305

[2016-05-25 16:09] Scottmitch commented on #5239
@nmittler - I don't think there has been any movement on this yet https://github.com/netty/netty/issues/4210#issuecomment-204098033

[2016-05-25 16:13] #5301 closed

[2016-05-25 16:23] vietj commented on #5301
@nmittler it does not fail if you send initial settings with a window size =< 65535, that may explain this

[2016-05-25 20:38] belliottsmith commented on #5299
Yes, at least once we start recycling them - at the moment the Link objects are discarded by the consumer (the owning thread), but if producers were to reuse them we would reach a steady state pretty rapidly.

It just occurred to me that the issues with the array approach are worse than I had thought, as actually we have one of these queues likely per (application thread * event loop thread) - i.e

[2016-05-25 21:06] normanmaurer commented on #5299
Thanks for all the comments. I think for now we should not over-engineer it :) So we should a for a simple solution that gives us less GC but still not make too many trade-offs. Do you think you will have some time looking into it? If not I may will do it over the next few weeks...

[2016-05-25 21:58] belliottsmith commented on #5299
Yes, I should have clarified I was mostly riffing for the long term there, if this garbage mitigation were to become seen as a performance cost centre.

My preference is for the simplest possible approach: enlarging the Link to perhaps 64 items by default (or 4 * core count if higher, say), and recycling them via a single shared MPMC queue.  We can then steadily improve it from there if the MPMC q

[2016-05-25 22:14] nitsanw commented on #5299
Consider using, or just scavenging for good ideas, stormpot:
https://github.com/chrisvest/stormpot
@chrisvest

[2016-05-25 23:05] #5181 closed

[2016-05-25 23:08] belliottsmith commented on #5299
Thanks for the suggestion - that particular library is a little detailed for me to have time to digest right now, but it looks costlier, as it is a more general purpose centralised pool that seems to primarily utilise blocking queues.

I am a little disappointed to see there is no MPMCLinkedArrayQueue in JCTools ;)

I wrote one a while back, but it's much too complex to want to dust off just for t

[2016-05-26 02:02] Scottmitch opened #5307 "Http2ConnectionHandler always sends GO_AWAY when channel is closed"
If the channel is active `Http2ConnectionHandler` will always send a GO_AWAY when the channel is closed. This may be unnecessary, and even confusing to the remote peer, if the local peer is attempting to do a [graceful shutdown](https://tools.ietf.org/html/rfc7540#section-6.8). For example if the local peer manually sends a GO_AWAY to indicate the connection is closing with some `Additional Debug

[2016-05-26 02:02] Scottmitch commented on #5307
@nmittler @ejona86 - WDYT?

[2016-05-26 04:36] windie commented on #5278
@alvin-xu I cannot reproduce it. Do you have a simple reproducer?

[2016-05-26 05:02] normanmaurer commented on #5299
Cool :) it's not super urgent so that's fine. If I will find time before I will let you know

[2016-05-26 06:43] JatinderSingh commented on #5304
@normanmaurer  could the lock issue in CR7 be caused by [](https://github.com/netty/netty/issues/5104) in case pipeline for http server is started with separate boss and worker event loops?

[2016-05-26 10:34] rnorth commented on #2448
Is somebody actively working on implementing this? It seems to be reasonably significant given the changes in Docker for Mac, and there are many downstream projects that depend on this (many via docker-java/docker-java#537).

I'm not in a position to commit to working on this right now, but as maintainer of one of the affected downstream projects I'm thinking about rolling up my sleeves! If somebo

[2016-05-26 10:40] floragunncom commented on #5235
yes, think we talk about ``SSLEngine instance memory``. This is a really strange thing here, maybe its somehow related to when java is running within a docker container. Will try to provide a reproducer ...

[2016-05-26 10:45] normanmaurer commented on #2448
There is noone working at it as far as I know atm

[2016-05-26 10:45] normanmaurer commented on #5235
Thx

[2016-05-26 13:33] vietj commented on #2545
@julienledem where you using a `Bootstrap` with a `DnsAddressResolverGroup`

[2016-05-26 14:11] nmittler commented on #5307
@Scottmitch Yeah I think that seems reasonable. I suspect we'll want to set some sort of timeout on how long we wait for all of the streams to close before sending a `hard` `GOAWAY` and just closing the connection. Having all of this "pluggable" in some way might be handy.

[2016-05-26 16:53] vietj opened #5308 "NioEventLoopGroup deadlocks 1 second on close when using a DnsAddressResolverGroup"
With Netty 4.1.0.CR7 (probably also with Final)

The NioEventLoop deadlocks 1 second in NioEventLoop#select, at:

[code]

where `timeoutMillis` is 1000.

The deadlock seem to ahppen when using the `DnsAddressResolverGroup` opens indirectly an `NioDatagramChannel` that remains connected since it is closed in a promise of the NioEventLoop.shutdown() - hence the deadlock.

Reproducer:

[code]

There

[2016-05-26 17:58] ejona86 commented on #5307
@Scottmitch SGTM

[2016-05-26 18:17] normanmaurer commented on #5297
Fixed via: https://github.com/netty/netty/pull/5309

[2016-05-27 11:57] atellwu commented on #4311
@novos40
 “Therefore when WRITTEN_AMOUNT event comes after CHANNEL_CLOSED event”

In the same tcp connection, event is serially sent or received, why WRITTEN_AMOUNT event could comes after CHANNEL_CLOSED event？

[2016-05-27 14:20] lburgazzoli opened #5313 "Netty 4.1.0.Final : IllegalStateException: executor not accepting a task"
I have a test in an application that check for proper release of promises upon shutdown that was workig as expected with 4.1.0.CR7 but not more on 4.1.0.Final, I've isolated Netty's code from the application :

[code]

If I run it with Netty 4.1.0.Final, the test never ends blocking on ```p.await()``` and an exception is thrown:

[code]

When running with CR7, the test ends properly and without an

[2016-05-27 14:21] buchgr commented on #4914
@ejona86

I just noticed one problem with using `Http2Stream` over integers. That is, the lifecycle methods aren't useful and might lead to errors, i.e. calling `stream.closeLocalSide()` in a child channel. It's also not clear to me that any other information but the stream id is useful for someone working with child channels ... priorities, parent stream ... hmm? There might also be threading iss

[2016-05-27 15:05] floragunncom commented on #5235
this should reproduce it https://github.com/floragunncom/netty-memleak

[2016-05-27 15:11] maseev commented on #5280
@normanmaurer Finally found some free time to work on this issue. I've just made an interesting observation. It turns out that you can speed things up 'a little bit' by doing batching yourself rather than using ` ctx.write + ctx.flush` approach. Here's what I found out:

- You can use the `ctx.write + ctx.flush` approach that I mentioned earlier by doing something like [this](https://github.com/ma

[2016-05-27 15:51] normanmaurer commented on #5313
Will check

[2016-05-27 16:19] novos40 commented on #4311
Only external events are sent serially. Events generated by the system itself (e.g. WRITTEN_AMOUNT) can be sent out of order. Besides this only happens under heavy load when, apparently, thread generating this event got preempted for a long enough time to be "late". I don't know if it was changed/fixed in netty 4 as, I think, there is a message queue and assigned [same] thread to process it, but i

[2016-05-27 16:36] normanmaurer commented on #5235
Will check soon

[2016-05-27 17:44] normanmaurer commented on #5313
Ok I think I know what the problem is... working on it

[2016-05-27 19:14] geri-m opened #5317 "java.lang.management Missing on Android"
Netty version: netty-all 4.1.0-final

Context:
Using netty-all 4.1.0-final  on Android (SDK Level 23) causes an Issue when compiling the project. io.netty.build.junit.TimedOutTestsListener requires  java.lang.management which is not present on Android. (RC5 worked fine). This requires a workaround in lint, which makes it more complext to use.

Steps to reproduce:
1. add to dependencies of an Andro

[2016-05-28 01:29] kupci commented on #327
We ran into very similar issue with Coherence (not Netty) where our app instances would lock up, hit max server threads, and stop responding.

We also saw the epollWait calls in the thread dumps which is what drew me to this Netty item:
  java.lang.Thread.State: RUNNABLE
	at sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)
	at sun.nio.ch.EPollArrayWrapper.poll(EPollArrayWrapper.java:269)
	at

[2016-05-28 02:14] windie commented on #5317
@geri-m Thanks for reporting it. I submitted #5318 to fix it. You can just exclude all classes in `io.netty.build` right now.

[2016-05-28 06:07] windie commented on #5317
Fixed in #5318.

[2016-05-28 06:07] #5317 closed

[2016-05-28 08:19] floragunncom opened #5320 "OpensslEngine throws "session id context uninitialized" when used with client authentication"
I use netty to implement a webserver. With JDK ssl provider all work well but with open ssl provider i see the following errors when connection is made from a firefox browser and client authentication (mutual ssl) is requested. Without client authentication the error does not occur.

<pre>
javax.net.ssl.SSLHandshakeException: error:140D9115:SSL routines:ssl_get_prev_session:session id context unin

[2016-05-28 09:03] floragunncom commented on #5320
PR https://github.com/netty/netty/pull/5321

[2016-05-28 19:23] normanmaurer commented on #5297
fixed by https://github.com/netty/netty/pull/5309

[2016-05-28 19:23] #5297 closed

[2016-05-28 19:30] normanmaurer commented on #5320
Fixed by https://github.com/netty/netty/pull/5321

[2016-05-28 19:30] #5320 closed

[2016-05-28 22:20] Scottmitch commented on #5307
When close is called we already have a timeout mechanism [gracefulShutdownTimeoutMillis](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L73) which attempts to wait for all streams to be closed before the connection is actually closed. Can you clarify if you think we need more than this?

[2016-05-28 22:37] Scottmitch commented on #2448
I also don't know of anyone working on this.

[2016-05-28 22:39] Scottmitch commented on #5308
@trustin - Can you take a look?

[2016-05-29 22:54] johnou commented on #5280
I don't think your handler can be Sharable with that buffer bytebuf.

[2016-05-30 02:28] maseev commented on #5280
@johnou You're right, it can't. Neither [LengthFieldBasedFrameDecoder](https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/LengthFieldBasedFrameDecoder.java) nor [FixedLengthFrameDecoder](https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/FixedLengthFrameDecoder.java) can be shareble because [ByteToMessageDecoder](https://github.com/ne

[2016-05-30 03:38] taojiaenx commented on #5313
@lburgazzoli Maybe the reason is that you have shutdown the EventPool and all SingleThreadeventLoops are closed And if you add a new task, there whill be an IllegalStateException.I

[2016-05-30 04:22] normanmaurer commented on #5313
Yep this is the issue... That said we need to notify the promise. I have a fix in the works for this.

[2016-05-30 05:44] normanmaurer commented on #5235
@floragunncom so from the README are you saying that the problem is "bigger" with 3.x compared to 4.x ?

[2016-05-30 06:00] sunqb opened #5322 "why github do not have netty5 branch?"
like title said

[2016-05-30 08:58] chenxiuheng commented on #5278
I've had this problem too.  The problem will disappear if I use `netty-transport-native-epoll` instead.

[2016-05-30 09:02] chenxiuheng commented on #5322
Netty 5 has been deprecated (See #4466).

[2016-05-30 09:12] normanmaurer commented on #5308
Will fix...

[2016-05-30 09:31] #5322 closed

[2016-05-30 09:32] normanmaurer commented on #5304
@JatinderSingh without more infos I can not tell you much. The exception you pasted means that EventLoop or EventExecutor was shutdown while there are still tasks to handle.

[2016-05-30 09:32] normanmaurer commented on #5229
Closing... Please re-open once you can provide the info I requested.

[2016-05-30 09:32] #5229 closed

[2016-05-30 09:39] floragunncom commented on #5235
looks like that.

We do a little bit uncommons things which should however work:
Netty version is 3.10.5 but the SSLHandler gets a SSLEngine constructed by Netty 4.0.36

[2016-05-30 11:23] likebean opened #5325 "Loop in IdleStateHandler.channelInactive"
Hi,In my javacore,I found the thread dump:

"nioEventLoopGroup-5-10":
	at java.lang.ClassLoader.loadClass(ClassLoader.java:404)
	- waiting to lock <0x000000060101bac8> (a com.simontuffs.onejar.JarClassLoader)
	at com.simontuffs.onejar.JarClassLoader.loadClass(JarClassLoader.java:630)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:357)
	at ch.qos.logback.classic.spi.PackagingDataCalculator.lo

[2016-05-30 11:25] normanmaurer commented on #5325
@likebean please upgrade to 4.0.36.Final and let us know if the problem still happens.

[2016-05-30 11:26] likebean commented on #5325
Is this known Issue?

[2016-05-30 17:13] normanmaurer commented on #5325
@likebean I can't remember anything like this but this would at least give us the "up-to-date" line numbers if it happens there as well.

[2016-05-30 19:05] normanmaurer commented on #5299
@Jire @belliottsmith see https://github.com/netty/netty/pull/5327

[2016-05-30 20:07] normanmaurer commented on #5119
Fixed by https://github.com/netty/netty/pull/5326

[2016-05-30 20:07] #5119 closed

[2016-05-30 20:12] normanmaurer commented on #5235
@floragunncom so how you detected the leak ? Will it just OOME at some point ?

[2016-05-30 20:19] floragunncom commented on #5235
if you watch the memory the java process took (with 'top' or similar) it does only increase (never decrease) and then there is a OOME some point in time. I see also that this is not heap problem (heap looks fine and gets gc'ed from time to time) - so i assume it native memory which gets not freed.

[2016-05-31 00:56] Jire opened #5328 "Disabling auto-read doesn't seem to work?"
I am using 4.1.0.Final from Maven central.

In my application, I disable auto-read after a certain point like this:

`channel.config().setIsAutoRead(false);`

I do not make any calls to `read`, yet my application still reads. In my pipeline there is only one `ByteToMessageDecoder`, and my (sharable) initializer is my server bootstrap's child handler.

Why is this? Can auto-read not be disabled on-

[2016-05-31 04:03] normanmaurer commented on #5328
I will need more infos to help... All I can say is that it works here with the provided info

[2016-05-31 06:21] marcuslinke commented on #2448
@normanmaurer @Scottmitch What do you guys think of https://github.com/softprops/unisockets? It depends on https://github.com/jnr/jnr-unixsocket which doesn't make use of the event based methods like epoll and kqueue. Would it make sense to integrate this into netty for basic unix domain socket support somehow, so the user could use epoll or this one?

[2016-05-31 06:25] normanmaurer commented on #2448
@marcuslinke honestly I did not know these and would prefer to add "real" non-blocking support if we do it as part of Netty. For this we will need to write some jni code like we did for the epoll one.

[2016-05-31 06:29] normanmaurer commented on #2448
@marcuslinke actually https://github.com/jnr/jnr-unixsocket/ may work... Let me do some research.

[2016-05-31 06:40] normanmaurer commented on #5235
@floragunncom I now running the netty 4 only version for more then 4 hours... no leak visible. Are you sure its there as well ?

[2016-05-31 07:00] normanmaurer commented on #5328
Answered on stack overflow... please reopen if you think there is a bug

[2016-05-31 07:00] #5328 closed

[2016-05-31 07:27] normanmaurer commented on #5294
Fixed by https://github.com/netty/netty/pull/5311

[2016-05-31 07:27] #5294 closed

[2016-05-31 08:17] floragunncom commented on #5235
what about netty3+4 version?

[2016-05-31 11:42] ensirius opened #5331 "WrappedByteBuf"
Using 5.0 alpha version i was extending WrappedByteBuf to add methods that i offten use for write  or read. For example:

[code]

After downgrading to 4.1 this class now private. I would like to not write boilerplate or use static helper. Please make it public.

[2016-05-31 12:02] normanmaurer commented on #5331
@ensirius why not just have static helper methods ?

[2016-05-31 12:45] ensirius commented on #5331
@normanmaurer Because it's much cleaner and understandable.

[code]
[code]

[2016-05-31 13:54] normanmaurer commented on #5235
No leak so far... running for 4 hours.

[2016-05-31 14:38] johnou commented on #5331
How about wrapping the buffer instead of extending it?

[2016-05-31 14:46] ensirius commented on #5331
@johnou This may be a solution, but it's produce a lot of boilerplate :|

[2016-06-01 04:35] ztellman opened #5334 "Feature Request: expose metrics for EventExecutor and ByteBufAllocator"
Ideally, EventExecutor should expose some sort of HdrHistogram-ish metrics for queue length, queue latency, and event latency.  My basis for comparison is my own library, [Dirigiste](https://github.com/ztellman/dirigiste), which implements a highly instrumented Java executor.  At the very least, having some way to get the length of the queue would be helpful.

As for ByteBufAllocator, it's possibl

[2016-06-01 05:29] aphyr commented on #5334
Seconded--even just being able to query queue depth would be a terrific metric--Riemann users really miss this from Netty 3.

[2016-06-01 05:40] normanmaurer commented on #5334
@ztellman @aphyr at least for the queue depth you can do this:

`((SingleThreadEventExecutor) eventLoop).pendingTasks()`.

[2016-06-01 07:06] ztellman commented on #5334
@normanmaurer Thanks, I'm not sure how I missed that.  Looking at the implementation, it looks like this assumes `pendingTasks()` is always called from within the event loop, correct?

[2016-06-01 07:10] normanmaurer commented on #5334
@ztellman this will be fixed in 4.0.37.Final and 4.1.1.Final. See https://github.com/netty/netty/pull/5309

[2016-06-01 13:09] matanster commented on #3419
This issue is really painful. One day you deploy with ease, the other you simply can't.
Is there something definite that works around this? some of the shell commands above look a bit / mysterious.

[2016-06-01 13:17] mhgrove commented on #3419
@matanster we have been using the system properties, not the shell commands, and it seems to avoid the issue.

[2016-06-01 13:38] johnou commented on #3419
@vikulin would you please remove your shell commands which replaces /dev/random with /dev/urandom the two are separated for a reason (for security).

[2016-06-01 13:41] normanmaurer commented on #3419
Let me actually fix this by porting code from:
http://gee.cs.oswego.edu/cgi-bin/viewcvs.cgi/jsr166/src/main/java/util/concurrent/ThreadLocalRandom.java?view=markup

[2016-06-02 01:28] samjegal opened #5335 "Netty 4.1.0.Final : testSoLingerZeroCausesOnlyRstOnClose failed"
Testsuite module failed on my env, windows 10, but osx is good work for test case.

[code]

[2016-06-02 02:25] #5335 closed

[2016-06-02 06:16] normanmaurer commented on #5335
Fixed by https://github.com/netty/netty/pull/5336

[2016-06-02 15:54] ejona86 commented on #4914
Yeah, none of that is useful and we'd probably eventually replace it with something that mainly had properties.

The child channel would not interact with the Http2Stream. At that level the streamId is forced to `null` (although we could make it be the child channel instead).

However, it is true there would be threading concerns if various _handlers_ were using different event loops. So that migh

[2016-06-02 17:03] Scottmitch commented on #4506
There have been a few PRs to address this issue ... the latest is https://github.com/netty/netty/pull/5312

[2016-06-02 17:03] #4506 closed

[2016-06-02 17:07] Scottmitch commented on #3641
fixed by https://github.com/netty/netty/pull/3846

[2016-06-02 17:07] #3641 closed

[2016-06-02 17:08] Scottmitch commented on #3138
I will close this ... haven't observed this in a while.

[2016-06-02 17:09] Scottmitch commented on #3082
Haven't observed this in a while ... closing for now

[2016-06-02 17:09] #3082 closed

[2016-06-02 17:09] Scottmitch commented on #2853
master branch is dead ... and haven't observed this in a while so closing...

[2016-06-02 17:09] #2853 closed

[2016-06-02 17:10] Scottmitch commented on #2859
Haven't observed this in a while ... closing.

[2016-06-02 17:10] #2859 closed

[2016-06-02 23:55] nmittler commented on #5307
@Scottmitch ah right, I had forgotten about that :).  SGTM

[2016-06-03 05:53] Scottmitch opened #5338 "TLS Renegotiation and Handshake Timeout"
We currently support a timeout for the initial TLS handshake, and if a renegotiation is initiated from the local peer. However this timeout does not apply if renegotiation are initiated by the remote peer. Should we also apply the timeout for remote initiated renegotiation?

Worth considering:
- TLS 1.3 removes renegotiation https://tools.ietf.org/html/draft-ietf-tls-tls13-13#section-1.2
- Given w

[2016-06-03 06:05] Scottmitch commented on #5338
@normanmaurer @trustin @ejona86 @nmittler - WDYT. Is it worth it ... I'm leaning toward punting on this one but at least wanted to discuss.

[2016-06-03 06:35] normanmaurer commented on #5338
@Scottmitch I guess it is ok to just "not fix it"

[2016-06-03 06:35] alvin-xu commented on #5278
JDK version is as following: @johnou

Java(TM) SE Runtime Environment (build 1.7.0_79-b15)
Java HotSpot(TM) Client VM (build 24.79-b02, mixed mode, sharing)

![snapshot-1464934821453-cpu-combined](https://cloud.githubusercontent.com/assets/4851286/15770574/5e0cc234-2997-11e6-84c1-5ca3773293a3.png)

This is the VisualVM Snapshot， you should change the suffix to “nps”，then you can read it.
[snapshot

[2016-06-03 06:47] alvin-xu commented on #5278
In the above result, I just start a common server received connection and do nothing, with the init configuration,  -Dio.netty.eventLoopThreads==2.

I think the code is not the reason, but the specific platform.  @windie

`
private EventLoopGroup bossGroup;
    private EventLoopGroup  workerGroup;
    private ServerBootstrap bootstrap;
    private int             port;

    public EapManageServer(

[2016-06-03 12:14] buchgr commented on #4913
looking into this next.

[2016-06-03 12:52] jmason commented on #5334
Likewise, it'd be great to be able to get deque.size as a metric out of SimpleChannelPool.

[2016-06-03 15:51] ejona86 commented on #5338
If it's a pain and it's not been shown to be a problem, I'd not bother. In my understanding, lots can go wrong in initial negotiation because of all the broken implementations out there. I'd expect less to go wrong during renegotiation that would just cause a hang. And renegotiation has been on the chopping block for a while now.

[2016-06-03 16:24] daschl commented on #4134
could https://github.com/netty/netty/commit/14cbf65762fcdc357a3b11a9cb49b398b02c21dd be a fix for this, maybe? just stumbled across it

[2016-06-03 16:29] normanmaurer commented on #4134
Yes maybe

[2016-06-03 17:14] Scottmitch commented on #5278
can you provide a few stack traces while in this condition (use `jstack`)?

[2016-06-03 17:19] Scottmitch commented on #5338
Thanks for the feedback guys ... Lets consider this a "won't fix" for now

[2016-06-03 17:19] #5338 closed

[2016-06-03 18:05] johnou commented on #4134
@ninja- out of interest what settings did you settle with?

[2016-06-03 19:15] normanmaurer commented on #5313
Should be fixed by https://github.com/netty/netty/pull/5339

[2016-06-03 19:19] marcuslinke commented on #2448
@normanmaurer Any news on this?

[2016-06-03 19:22] normanmaurer commented on #2448
@marcuslinke not yet... gimme a few more days.

[2016-06-03 19:41] normanmaurer commented on #5308
Fixed by https://github.com/netty/netty/pull/5341

[2016-06-03 19:41] #5308 closed

[2016-06-04 07:13] normanmaurer commented on #5313
Fixed by https://github.com/netty/netty/pull/5339

[2016-06-04 07:13] #5313 closed

[2016-06-04 11:29] matanster commented on #3419
@mhgrove thanks for up-to-date response. I think this made things work for me in combination with installing haveged, which derives entropy from within CPU activity not relying on device drivers. This made my server start on a quiet and dedicated cloud machine which obviously has very little entropy coming from device drivers or anything else.

I have come to believe that the decision of whether t

[2016-06-04 11:30] matanster commented on #3419
Actually my netty server now unexpectedly shuts down right after starting to listen, for no apparent reason now, so maybe it is still the same underlying reason and I've not solved the entropy matter after all.

all the logs provide, is this ―

[code]

[2016-06-04 11:30] normanmaurer commented on #3419
I actually just opened a PR to change it to use the same technique as the JDK implementations does: https://github.com/netty/netty/pull/5345

[2016-06-04 17:24] normanmaurer commented on #5224
Fixed by https://github.com/netty/netty/pull/5350

[2016-06-04 17:24] #5224 closed

[2016-06-04 19:40] mickare opened #5351 "[4.1] Futures removeListener: JavaDoc and implementation are inconsistent - duplicate listeners"
#### Netty version: 4.1.0.CR7

#### Context:
I encountered an inconsistency between the JavaDoc description and implementation of the [Future](http://netty.io/4.1/api/io/netty/util/concurrent/Future.html).
I want to add multiple times (e.g. x 1000) the same close listener to a channel but I don't want this listener to be called multiple times.
Also I don't want to remove the listener prior to addi

[2016-06-04 20:41] mickare opened #5352 "Proposal: Future addListenerIfAbsent"
#### Netty version: 4.1.0.CR7

#### Context:
Currently [addListener](http://netty.io/4.1/api/io/netty/util/concurrent/Future.html#addListener(io.netty.util.concurrent.GenericFutureListener)) appends the listener to an array. There can be duplicates.

In my case, I want to add multiple times (e.g. x 1000) the same close listener to a channel but I don't want this listener to be called multiple time

[2016-06-04 20:42] mickare commented on #5351
Splitted the proposal to new issue: https://github.com/netty/netty/issues/5352

[2016-06-05 00:31] liboLiao commented on #4449
@ashish-tyagi Could I ask what is the monitoring tool in the picture?

[2016-06-05 07:08] johnou commented on #4449
@liboLiao VisualVM

[2016-06-05 22:02] rasellman opened #5354 "Netty User Guide Refers to Chapter 2, Architectural Overview - Does it exist?"
I originally posted this on Stack Overflow [here](http://stackoverflow.com/questions/37637991/netty-user-guide-refers-to-chapter-2-architectural-overview-does-it-exist).  It's unclear that this a bug in the documentation.

I was reading the User's Guide for 4.x and in the Getting Started section it reads:

I've looked through the other documentation that I could find and don't see anything the see

[2016-06-06 02:00] alvin-xu commented on #5278
There are three files with jstack.  Jstack_0 is captured when server started up and no connections, jstack_124 is up to 124 connections but normal, the last one is the error one up to 128 connections, CPU usage is up to 50% by the netty server at this time.

However, I can't find any problem, May be you could. : )  @Scottmitch

[jstack_0.txt](https://github.com/netty/netty/files/299617/jstack_0.tx

[2016-06-06 07:23] normanmaurer commented on #5325
@likebean any update ?

[2016-06-06 07:32] normanmaurer commented on #3419
Finally fixed..

[2016-06-06 07:32] #3419 closed

[2016-06-06 09:05] normanmaurer commented on #1230
Fixed by https://github.com/netty/netty/pull/5279

[2016-06-06 09:05] #1230 closed

[2016-06-06 09:57] alvin-xu commented on #5278
@chenxiuheng The “**netty-transport-native-epoll**”  is only supported in Linux, but my problem is occured in windows. Thank you for you help anyway.

[2016-06-06 12:01] normanmaurer commented on #5334
@ztellman working on some more metrics to expose... stay tuned.

[2016-06-06 14:09] mnowrot opened #5356 "[4.1] "Too many open files" exceptions when using the new DNS resolver"
To recreate, try to connecting ca 10.000 - 20.000 times using `Bootstrap` instances that have the new DNS Resolver set (with default configuration). After switching back to Java/OS DNS resolver, these exceptions are gone.

[2016-06-06 14:10] normanmaurer commented on #5356
Can you share a reproducer?

[2016-06-06 15:02] ndeloof commented on #2448
for your information, we plan to rely on this for jenkins' [docker-slaves](https://wiki.jenkins-ci.org/display/JENKINS/Docker+Slaves+Plugin).

[2016-06-06 15:57] mnowrot commented on #5356
For the time being, I can provide a stacktrace:
[code]

[2016-06-06 16:43] normanmaurer commented on #5356
Sorry but the stack trace is not really helpful to trouble shoot this :(

[2016-06-06 16:49] slandelle commented on #5356
@mnowrot How many different names are you trying to resolve and at which rate?
If you're trying to just resolve a few, but many times, `InflightNameResolver` is supposed to take care of this.
Otherwise, if you're trying to resolve 10.000 different names concurrently without any kind throttling, I think it's no surprise you run out of open files, the resolver doesn't have any kind of built-in queue

[2016-06-06 17:16] mnowrot commented on #5356
@slandelle in a failing example I'm trying to resolve only one name ("localhost") and the concurrency level is ca. 25.
@normanmaurer It won't be easy to extract a reproducer, as it is a part of a larger solution, but I'll try my best below:

[code]

The above code is being invoked from a inbound pipeline (you can imagine a reverse-proxy for your intuition) which is in turn invoked by a load tester

[2016-06-06 17:47] Scottmitch opened #5357 "HPACK Encoder.java data structure improvements"
Encoder.java's data structure looks very similar to the data structure used in `DefaultHeaders`. We should investigate making some of the same improvements in Encoder.java as were made in `DefaultHeaders`:
- The underlying array should be a power of 2. Then we can use a mask `&` operation to index into the array.
- The `hash(CharSequence)` function ~~should just use the `name.hashCode()`~~ could r

[2016-06-06 18:04] Scottmitch opened #5358 "HPACK HeaderField implements Comparable"
Does HPACK's HeaderField need to implement Comparable? The `equals` comparison utilizes a equality function which "doesn't leak timing info" , but the `compareTo` function makes no such effort. It also does not appear that the `compareTo` method is used in operational code. Can we just remove it?

[2016-06-06 18:04] Scottmitch commented on #5358
@jpinner - WDYT?

[2016-06-06 18:18] #5307 closed

[2016-06-06 18:29] Scottmitch commented on #5278
@alvin-xu - Thanks for the stack dumps. It would be useful if you could provide a few stack traces while in the CPU is at a persistent elevated usage. IIUC only the last stack trace was at elevated CPU usage. I would like to compare the stack traces to see if there is any interesting pattern. Lets start with 4 stack traces while CPU is elevated.

[2016-06-06 18:46] Scottmitch commented on #5354
I'm not sure this content exists yet ... @normanmaurer @trustin - any ideas?

[2016-06-06 18:49] Scottmitch commented on #5351
@mickare - Thanks for bringing this to our attention. The javadocs should be updated. Let me take care.

[2016-06-06 18:51] ejona86 commented on #5357
For `hash(CharSequence)`, it's a bit dangerous to use `hashCode()`. In `CharSequence`'s Javadoc:

[2016-06-06 19:15] Scottmitch commented on #5357
@ejona86 - Great point. `name.hashCode()` would not work. I've updated the issue description to reflect this.

[2016-06-06 19:19] Scottmitch commented on #5352
It sounds like you are concerned with performance. If you rely upon the `Future` implementation this may incur some overhead (synchronization, array iteration, etc..) that could be otherwise avoided if it was tracked at a level above the future where more information is known about the threading model. Would handling it at the application layer be a good work-around (while this feature does not ye

[2016-06-06 22:27] mickare commented on #5352
Yes, I handled it simple. I am adding now the listener one time in advance as soon as the connection is active, even if it does not matter. In retroperspective this may be better than my initial design because addListener is not called.

I am writing a simple RPC framework. All pending response futures should be cancelled if the connection closes. The initial implementation was quick and dirty so

[2016-06-06 23:08] Scottmitch commented on #5352
I don't have all the details but doing the single add does seem preferable in this case.

[2016-06-07 01:20] carl-mastrangelo opened #5360 "Slow http2 framer when under heavy load"
I have had this on my plate for a while but it is getting too far behind and I dont want to forget it.

When sending a lot of http requests, there are a lot of tiny buffers created for the http2 frame headers.  While allocation is fast, writing them is very slow when under load.  Writes to the network eventually end up as syscalls to writev, but that can only write at most 1024 (IOV_MAX) buffers p

[2016-06-07 01:53] alvin-xu commented on #5278
I'm sorry for that I can't understand your intent clearly. I used jstack barely. I think the following stack dumps may what you want. @Scottmitch . They are all captured while CPU is elevated.
[jstackl_1.txt](https://github.com/netty/netty/files/301690/jstackl_1.txt)
[jstackl_2.txt](https://github.com/netty/netty/files/301691/jstackl_2.txt)
[jstackl_3.txt](https://github.com/netty/netty/files/3016

[2016-06-07 04:17] normanmaurer opened #5361 "Discontinue support for Netty 3.x"
Hey guys,

what you think about discontinue support for Netty 3.x ? This would mean we will not do any more releases etc. I think its about time to do this now.

@trustin @Scottmitch @nmittler WDYT ?

[2016-06-07 09:34] hustfxj opened #5362 "initialize unreadable chanel with ServerBootstrap"
I are using netty 3.9. Now I want to create an unreadbable chanel with serverBootstrap. I won't make the chanel become readable until a event trigger. So how can i  do it?

[2016-06-07 10:35] johnou commented on #5361
@normanmaurer after one last 3.x release? race condition fix by huguesb was pretty impressive.

[2016-06-07 14:12] nmittler commented on #5361
@normanmaurer +1

[2016-06-07 15:20] zizigooloo opened #5363 "Lack of support ChunkedInput for WebSocket protocol"
Hi Dears
I was needed to ChunkedInput for WebSocket frame, that not found it into repository,   so i developed WebSocketChunkedInput class for that.

Please check it, if it's OK then put into repository . . .

thx

[WebSocketChunkedInput.java.zip](https://github.com/netty/netty/files/302930/WebSocketChunkedInput.java.zip)

[2016-06-07 16:46] jknack commented on #3559
Also ran into this problem with a 1.8GB file.

[2016-06-07 17:10] danadam commented on #3892
JDK SSL Engine supports TLS resumption using cache.

There was a bug in nassl used by sslyze. It didn't properly shutdown TLS connection before closing a socket and the result was that the TLS session was being invalidated. The bug is already [fixed](https://github.com/nabla-c0d3/nassl/pull/43).

[2016-06-07 17:23] rfielding commented on #3559
@jknack I had run into not only this problem last year, but all the dependents on this code that *also* make this assumption (netty -> Finagle/Finatra -> user apps).  I gave up on the framework eventually.  This issue was closed, so you can assume that it will never be fixed.

http4s downloaded a 47GB file - though I didn't try uploading such a large file.  Or you can use a raw http connection and

[2016-06-07 18:29] Scottmitch commented on #3559
I'm not familiar with the multipart decoder but it is concerning that we must hold so much in memory ... @normanmaurer @trustin - any thoughts?

[2016-06-07 18:32] Scottmitch commented on #5361
@normanmaurer +1

[2016-06-07 18:57] Scottmitch commented on #5363
@zizigooloo - Hey thanks for reaching out and providing some code! Please open a PR so you can get credit for your work. Plus this means we don't have to open a `.zip` file :)

[2016-06-07 19:09] Scottmitch commented on #5278
@alvin-xu - Thanks for the info. It appears that you are using Netty 5.x? Can you provide the same information running with Netty 4.1.0.Final (5.x has been deprecated as @windie mentioned https://github.com/netty/netty/issues/5278#issuecomment-220868964).

[2016-06-07 19:45] jknack commented on #3559
Here is the stacktrace for 4.1.x

[code]

The HttpPostRequestDecoder was created like:

[code]

Where ```req``` is a ```FullHttpRequest```

[2016-06-07 20:12] rfielding commented on #3559
@Scottmitch it's the general issue of holding things in byte arrays.  I spent quite a few days debug-stepping through Netty+Finagle, trying to troubleshoot large file uploads and downloads.  Increasing max size allowed just expands memory usage so that we run out of memory.

The first problem was trying to read entire request (head and body) into byte arrays, and the other problem was serializing

[2016-06-07 20:47] zizigooloo commented on #5363
thx for hints

[2016-06-07 20:47] #5363 closed

[2016-06-07 20:53] Scottmitch commented on #3559
@rfielding @jknack - Thanks for the additional info. I understand the issue but I don't have time to dig in at the moment. @rfielding - Did you come up with alternative approaches though your investigation into Netty+Finagle and do you have interest in submitting a PR?

[2016-06-07 20:55] WonderfulWorlds opened #5366 "Netty cannot build SSL Context on Android"
Using: netty-all:4.1.0.Final, Android 4.4.2.

Running the following code

[code]

produces the following rather long printouts in logcat (dates and package names omitted from beginning for clarity). Note that the code works perfectly when run from a Windows environment.

[code]

[2016-06-07 21:01] rfielding commented on #3559
@Scottmitch I had made a change to Netty that fixed the problem for myself in Netty, but then higher layers that used Netty also presumed that they could access uploaded items in any order (which therefore presumes that they are sitting in a hashtable), which caused Finagle to crash before it even reached my handler.

So, I unfortunately had to switch frameworks to meet my requirements.    I can n

[2016-06-07 21:03] Scottmitch commented on #5366
This may be a duplicate of https://github.com/netty/netty/issues/4824

Can you try to run with `-Dio.netty.noUnsafe=true`?

[2016-06-07 21:20] WonderfulWorlds commented on #5366
How?

[2016-06-07 21:38] Scottmitch commented on #5366
This should be defined as a java system property. What I specified above is how you can define the system property on the command line.

[2016-06-07 22:06] WonderfulWorlds commented on #5366
Tried it, did the exact same thing. No exception caught.

[2016-06-07 22:21] jknack commented on #3559
@rfielding agreed. My app uses http://jooby.org which has support for multiple servers including undertow, jetty and netty (netty is the default web server).

As a workaround, I switched to undertow and had no problem with big uploads.

[2016-06-07 23:47] jpinner commented on #5358
@Scottmitch I don't really remember why initially made HeaderField extend Comparable. The class is package-private and I don't see it used anywhere so it seems safe to remove.

As for timing attacks, it wasn't necessary to have a constant-time `compareTo` function since it isn't called during decoding.

[2016-06-08 00:35] hismichael opened #5368 "Why http and http2 have inconsistent APIs"
I've looked around undertow-core, which provides one common API for HTTP/1.x and HTTP/2. I guess that is exactly what the HTTP protocol versioning is supposed to do.

[2016-06-08 01:18] Scottmitch commented on #5358
thanks @jpinner ! I'll clean this up.

[2016-06-08 03:14] HappyHopeSnow opened #5370 "Could not found org.apache.tomcat.jni.SessionTicketKey"
I use the netty-4.1.2.Final,when I running the module of example,there have occur a dependency error.
can not import org.apache.tomcat.jni.SessionTicketKey,please check it,thank you .

[2016-06-08 08:00] alvin-xu commented on #5278
@Scottmitch  I used 4.1.0.Final, and also has the same problem on that computer. The following is stack trace.  I closed  the last 2 connections in "jstackl_4.1.0_10_normal.txt" and "jstackl_4.1.0_11_normal.txt", which will make cpu usage normal. Then, I opened another 2 connections in the latter tester and problem show again.

[jstackl_4.1.0_1.txt](https://github.com/netty/netty/files/304257/jsta

[2016-06-08 08:11] bojke2000 opened #5371 "netty - corrupted messages with netty multi-client"
The pretty typical netty client in the multithreaded environment gets corrupted messages randomly. Let's say 20-30 corrupted messages on 30-40k transferred  messages.

The communication protocol is simple - packet contains a message of following format:
 | length | string |

We create ten netty connections (FeedCommunicatorImpl class given below) to the same server. We instantiate ten Fetcher clas

[2016-06-08 11:25] WonderfulWorlds commented on #5366
For everyone who wants to reproduce this, simply run [netty's secure chat example](https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/securechat)'s client on Android. No server needed. After further investigation it seems that netty's documentation is incorrect, neglecting to mention a dependency on log4j (and perhaps others), causing the errors.

[2016-06-08 11:39] normanmaurer commented on #5358
@Scottmitch actually I will do this as part of https://github.com/netty/netty/pull/5355 . This allows me to also not port some code ;)

[2016-06-08 11:39] normanmaurer commented on #5370
How do you run it ? Sounds like a class-path problem to me.

[2016-06-08 13:37] ylgrgyq opened #5372 "Leak in OpenSslContext"
[OpenSslContext](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/OpenSslContext.java) (I mean OpenSslClientContext or OpenSslServerContext exactly) object hold some resources (like custom verification callback to verify ssl certificate) which need to be released when this OpenSslContext object is GC. This is done by JVM calling [`finalize`](https://github.com/net

[2016-06-08 13:38] normanmaurer commented on #5372
@ylgrgyq good catch! Let me fix this.

[2016-06-08 14:10] eolivelli commented on #1966
I'm really interested in this feature (for http://majordodo.org and http://blazingcache.org) projects)

[2016-06-08 14:12] daschl commented on #1966
@eolivelli if you want to see a client implementation, check out: https://github.com/couchbase/couchbase-jvm-core/blob/master/src/main/java/com/couchbase/client/core/endpoint/kv/KeyValueAuthHandler.java

[2016-06-08 18:58] rkapsi opened #5374 "Let OpenSslContext take pre-encoded pkcs#8 private key/cert bytes"
Netty 4.1.1-SNAPSHOT

It would be great if it was possible to pass pre-encoded pkcs#8 private key and certificate bytes into OpenSslContext and skip some of the stuff that is happening in OpenSslContext's `toBIO(...)` methods (namely the Base64 encoding and appending of the "---- BEGIN/END ----" markers).

[2016-06-08 19:22] Scottmitch commented on #5374
@rkapsi - Would you be interested in submitting a PR?

[2016-06-08 19:25] rkapsi commented on #5374
@Scottmitch On it...

... but `io.netty.util.collection.*` seem to be missing on the 4.1 branch?!

[2016-06-08 19:27] normanmaurer commented on #5374
@rkapsi its generated ... run mvn clean compile in the common module

[2016-06-08 19:29] rkapsi commented on #5374
@normanmaurer thanks!

[2016-06-08 20:15] npordash opened #5375 "DelegatingDecompressorFrameListener doesn't support deferral of processed bytes"
`Http2FrameListener.onDataRead` states that reporting of processed bytes to the local flow controller can be deferred by returning something less than `data + padding` and then later doing something equivalent to `connection().local().flowController().consumeBytes(Http2Stream, int)`.

This works fine until you start using a `DelegatingDecompressorFrameListener` because once you call `consumeBytes`

[2016-06-08 22:25] mosesn opened #5376 "4.1.0-CR7 => 4.1.1.Final introduced regressions"
This [test](https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/test/scala/com/twitter/finagle/netty4/ssl/Netty4SslHandlerTest.scala#L52-L60) in finagle started failing when we moved to 4.1.1.Final.  The fix was to change from extending a `ChannelHandlerAdapter` to extending a `ChannelInitializer` in [Netty4SslHandler](https://github.com/twitter/finagle/blob/develop/finagle-netty4/s

[2016-06-08 22:27] mosesn commented on #5376
Here's the full stacktrace:

[code]

[2016-06-08 22:48] #5351 closed

[2016-06-08 22:57] mosesn commented on #5376
As I continue fixing tests, here's another big swath of them.  It looks like the way EmbeddedChannel works changed?  I was able to fix ChannelTransportTest by removing [this line][0].

[0]: https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/test/scala/com/twitter/finagle/netty4/transport/ChannelTransportTest.scala#L29

[2016-06-08 23:06] mosesn commented on #5376
I'm also seeing problems with [HttpContentCompressor][0].  Almost all of the [tests][1] for [TextualContentCompressor][2] failed.  Here's a representative stack trace:

[code]

[0]: https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpContentCompressor.java
[1]: https://github.com/twitter/finagle/blob/develop/finagle-netty4-http/src/test/scala/com/twitte

[2016-06-08 23:10] Scottmitch commented on #5375
Thanks for reporting @npordash! Are you in a situation where `listener.onDataRead` is called multiple times in `DelegatingDecompressorFrameListener`, and you are trying to call `consumeBytes(..)` which were not returned by previous calls to `Http2FrameListener.onDataRead`?

[2016-06-08 23:21] Scottmitch commented on #5375
Do you have a unit test which you would be willing to contribute? I have a PR but it would be nice to verify against a unit test if you already have one.

[2016-06-08 23:22] mosesn commented on #5376
I figured out the `HttpContentCompressor`.  It didn't require that you called `handlerAdded` before `beginEncode` before, but now it does.  I added it to an EmbeddedChannel and it works now.

[2016-06-08 23:46] mosesn commented on #5376
@dschobel figured out why we didn't have to remove that dummy ChannelHandler anymore, we were working around the bug that was fixed here: https://github.com/netty/netty/commit/a2040a2e481e0981eadcf016edae63e756ce5d13

So the only mystery is why I had to switch from ChannelHandlerAdapter to ChannelInitializer.

[2016-06-09 01:10] npordash commented on #5375
Thanks for the quick response!

I'm not in a situation where `onDataRead` is being called multiple times, at least I have yet to observe that happening. The exception gets thrown on the first data frame received.

My use-case is that I'm exposing inbound data frames as an `rx.Observable<ByteBuf>` and I only want to report the processing of the bytes when a `ByteBuf` has been sent to a subscriber o

[2016-06-09 01:23] Scottmitch commented on #5375
As long as you are not double releasing the bytes you should be OK. I think I found the issue and I'll ask you to verify with the PR when its ready.

[2016-06-09 01:35] npordash commented on #5375
Awesome, thanks again!

[2016-06-09 02:31] Scottmitch commented on #5278
@alvin-xu - Thanks again for the stack traces. Most of the stack traces look like we are waiting on the poll mechanism.  However the 12th stack trace shows an interesting sign that we are being interrupted [1]. It is possible that the polling mechanism is behaving in a way we don't expect and we are just spinning calling poll ... can you verify which threads are consuming unusually high amount of

[2016-06-09 04:40] normanmaurer commented on #5376
So this change is still needed ?

[2016-06-09 05:36] mosesn commented on #5376
The ChannelHandlerAdapter to ChannelInitializer?  Yes, it's still needed as far as I can tell.  We'll open source the change I made soon.

[2016-06-09 05:37] normanmaurer commented on #5372
@ylgrgyq can you check https://github.com/netty/netty/pull/5380

[2016-06-09 05:37] normanmaurer commented on #5376
@mosesn thanks... please ping me once you did so I can reproduce and have a look.

[2016-06-09 18:53] normanmaurer commented on #2448
@marcuslinke I had a look but unfortunately the KQSelector implementation and the channel implementations are not working conform to the nio API. I opened a few issues. Once these are fixed I may have another look. Also @ndeloof

[2016-06-09 19:06] slandelle commented on #2448
@normanmaurer FWIW, I recently faced an issue with [sshd](https://issues.apache.org/jira/browse/SSHD-666) where `sun.nio.ch.AsynchronousSocketChannelImpl#close()` blocks in infinitely on OSX (but always works properly on Linux). Could be related.

[2016-06-09 19:43] normanmaurer commented on #2448
@slandelle nope not related.

[2016-06-09 19:45] slandelle commented on #2448
bummer

[2016-06-09 20:40] normanmaurer commented on #5372
Fixed by https://github.com/netty/netty/pull/5380

[2016-06-09 20:40] #5372 closed

[2016-06-10 02:21] mrokitka opened #5382 "HttpContentCompressor/HttpContentEncoder should not set chunked transfer-encoding for HTTP 1.0"
Netty version: 4.1.0.Final

Context:
When using HttpContentCompressor and the HttpResponse is protocol version 1.0, HttpContentEncoder.encode() should not set the transfer-encoding header to chunked.  Chunked transfer-encoding is not valid for HTTP 1.0 - this causes ERR_CONTENT_DECODING_FAILED errors in chrome and similar failures in IE.

This is the snippet I'm referring to:

// Make the response

[2016-06-10 04:39] normanmaurer commented on #5382
@mrokitka wow there are still people using HTTP/1.0 ? You are right we are currently only support it with HTTP/1.1, not sure if we will ever support HTTP/1.0. But at least we should "skip" HTTP/1.0 messages. Let me come up with a PR for this

[2016-06-10 05:26] marcuslinke commented on #2448
@normanmaurer Thanks! Just found https://github.com/jnr/jnr-unixsocket/issues/31. Are there more issues?

[2016-06-10 05:32] marcuslinke commented on #2448
OK. Found. For reference:

https://github.com/jnr/jnr-unixsocket/issues/31
https://github.com/jnr/jnr-enxio/issues/15
https://github.com/jnr/jnr-enxio/issues/16

[2016-06-10 05:35] normanmaurer commented on #2448
@marcuslinke there may be even more... Once these are fixed I will have another look

[2016-06-10 12:12] mrokitka commented on #5382
@normanmaurer - I've run into this since we're using Squid as a caching proxy to handle caching of content for outbound proxy requests from a Netty based proxy server I'm implementing.  Squid doesn't fully support HTTP 1.1, so although it handles HTTP compression properly responses are always HTTP 1.0.

Kind of a drag, but if the compressor could handle the compression for HTTP 1.0 without the nee

[2016-06-10 12:50] normanmaurer commented on #5382
@mrokitka the problem with this is that we would need buffer the full content in memory as we will need to set the "Content-Length" header. We could do this but not sure if this is really good :)

[2016-06-10 15:22] mrokitka commented on #5382
@normanmaurer perhaps a flag that could be programmatically set on the compressor to indicate if we want to support HTTP 1.0?  A true value would compress and buffer to set the content-length header for 1.0 responses, false would just skip 1.0 messages?

[2016-06-10 15:24] buchgr commented on #4913
Eric, I am starting to write some code for this. Here are some thoughts to your thoughts. Please let me know what you think.

1) The `Http2FrameCodec` simply fails the promise when exceeding MAX_CONCURRENT_STREAMS. We could use the `StreamBufferingEncoder` to work around this issue. That would interact quite nicely with the current code, as the `Http2FrameCodec` emits a `Http2StreamActiveEvent` fo

[2016-06-10 15:50] normanmaurer commented on #5382
@mrokitka maybe... let me see what I can come up with.

[2016-06-10 16:08] normanmaurer commented on #5374
Fixed by https://github.com/netty/netty/pull/5377

[2016-06-10 16:08] #5374 closed

[2016-06-10 16:14] ejona86 commented on #4913
It makes adapting to HTTP/1 hard. In HTTP/1 you would create a channel, wait for it to go active, and then send the headers. Creating the channel could be done in a helper (application-specific) utility, but waiting for active and sending the headers would be behavior of the Handler, and we would hope to be able to use the same Handler for HTTP/1 and HTTP/2 (with an adapter somewhere) with minimal

[2016-06-10 17:08] buchgr commented on #4913
I understand. That makes sense.

Yes, brain-fart on my side. Sorry 😅

I think that is a good option. I should be done in the bootstrap.

I am not sure I understand. I was suggesting to go back to attaching the channel as a property on the Http2Stream (which I removed in #5324) and not maintaining a map in `Http2MultiplexCodec`. The `Http2StreamFrames` would then have the channel attached. I think

[2016-06-10 18:30] buchgr opened #5383 "Running unit tests from within IntelliJ no longer works after JCTools change."
I can no longer run unit tests from within IntelliJ, after the JCTools #5316 change. I get

[code]

I assume it has something to do with the JCTools dependency being shaded. Does anyone else have this problem? I tried to run the `Http2MultiplexCodecTest` tests.

[2016-06-10 18:34] Scottmitch commented on #5383
+1. I just mentioned this to @normanmaurer .

I commented out the line which marks jctools as an optional dependency as a workaround
https://github.com/netty/netty/blob/4.1/common/pom.xml#L51

[2016-06-10 18:37] Scottmitch commented on #5383
@guidomedina - Can you also take a look?

[2016-06-10 18:42] normanmaurer commented on #5383
Will check

[2016-06-10 18:48] guidomedina commented on #5383
Let me check what my IntelliJ (2016.1.3) does, one sec.

[2016-06-10 19:07] guidomedina commented on #5383
Got it working with `<shadeTestJar>true<shadeTestJar>` option set at the shade plugin section.

[2016-06-10 19:09] guidomedina commented on #5383
Will commit and PR, simple commit message OK? :)

[2016-06-10 19:10] guidomedina commented on #5383
Or you can stuff it into some commit and force push?

[2016-06-10 19:11] normanmaurer commented on #5383
@guidomedina nope need an extra pr... simple message is ok. Just reference that it fix this commit.

[2016-06-10 19:11] guidomedina commented on #5383
oki dokey

[2016-06-10 19:21] guidomedina commented on #5383
making sure they really run inside IntelliJ, at first they were not running outside IntelliJ by issuing a `mvn install`, once that change added Maven does it properly, but still failing on IntelliJ, give me some more time to get to the root of it.

[2016-06-10 19:23] normanmaurer commented on #5383
@guidomedina thanks! Be sure that `mvn clean package` still works in `testsuite-osgi` after `mvn clean install` in common.

[2016-06-10 20:18] ejona86 commented on #4913
I'm fine with the property being there. The problem is, as phrased, it sounded like you would set the property immediately (from whatever thread was doing the creation). That means that you must have Http2Stream immediately. That's what I'm worried about, especially when using `StreamBufferingEncoder`. The code maintaining Http2Streams is not something I think we can easily make multi-threaded. If

[2016-06-10 20:49] guidomedina commented on #5383
Messy one, with `<scope>provided</scope>` at main pom.xml it compiles but testsuite-osgi errors saying that it is missing when I know it was packaged.

I'll continue tomorrow, brain dead after long day.

[2016-06-10 20:51] buchgr commented on #4913
oh now I understand. yeah, that was the plan.

[2016-06-11 05:16] normanmaurer commented on #5383
Fixe by https://github.com/netty/netty/pull/5385

[2016-06-11 05:16] #5383 closed

[2016-06-11 05:39] Scottmitch commented on #5383
@normanmaurer - Were the concerned in https://github.com/netty/netty/issues/5383#issuecomment-225291986 addressed? Still seems like `provided` is in the main pom.

[2016-06-11 06:09] normanmaurer commented on #5383
Yes I think so... The key is to gave it provided while override to compile in the common module (and also mark it as optional). All works now

[2016-06-11 06:32] buchgr commented on #5383
thanks @guidomedina !

[2016-06-11 09:30] guidomedina commented on #5383
Oh man, I was so tired that overslept, but after state of brain-dead and frustration found the trick that pleases all: tests, shade and OSGI

Date: Fri, 10 Jun 2016 23:32:57 -0700
From: notifications@github.com
To: netty@noreply.github.com
CC: lic_gma@hotmail.com; mention@noreply.github.com
Subject: Re: [netty/netty] Running unit tests from within IntelliJ no longer works after JCTools change. (#5

[2016-06-11 10:08] guidomedina commented on #5383
@normanmaurer @Scottmitch there was another way, to make it `<scope>test<scope>` at the main pom but then for any other Maven module that doesn't run as test; say some JMH would not see the dependency so I guess `provided` is the least intrusive while covering most cases.

[2016-06-11 19:19] Scottmitch commented on #5383
sgtm thanks for taking care @guidomedina !

[2016-06-12 02:02] alvin-xu commented on #5278
@Scottmitch I took 3 snapshot with cpu profiler as following:

1. normal state:
![cpu-live](https://cloud.githubusercontent.com/assets/4851286/15988433/1a8cf914-3083-11e6-9dad-9cc2ffe9576d.png)

2. cpu usage up to 50%:
![cpu-live2](https://cloud.githubusercontent.com/assets/4851286/15988431/19d63b48-3083-11e6-8c38-a510464e05b2.png)

3. after closed last 2 connections, cpu was normal, I restarted p

[2016-06-12 05:21] normanmaurer commented on #5278
Yes it is...

Can you tell us what 'SelectorProvider.provider()' returns on this system?

[2016-06-12 06:16] alvin-xu commented on #5278
@normanmaurer  It's  `sun.nio.ch.WindowsSelectorProvider` which has no difference with other computer.

I used
[code]

[2016-06-12 06:31] johnou commented on #5278
Is the other computer running 1.7.0_79 too?

[2016-06-12 06:38] alvin-xu commented on #5278
No, It's `1.8.0_60` .

[2016-06-12 06:43] normanmaurer commented on #5278
So it not happens on 1.8.0_60? If so can you uprade on the system where you see the problem and check again?

[2016-06-12 06:44] johnou commented on #5278
Are you able to upgrade to 1.8 to rule out a bug in 1.7 JRE?

[2016-06-12 08:20] alvin-xu commented on #5278
It seems the problem has no direct relation with JDK.  I have uninstalled JDK1.7 and installed JDK1.8, however, the problem still there.

[code]

[2016-06-12 08:58] alvin-xu commented on #5278
I try to debug the library.  And I found that the select function [1] does not block for the specify `timeoutMillis` . In another word, the function [1] block in a very short time then return,  which will cause the following problem [2] think that something is wrong and it has to rebuild the selector to fix the problem. Unfortunately, rebuild selectors can not fix the problem, so it will always  r

[2016-06-12 09:24] normanmaurer commented on #5278
It soubds like either a OS or JDK bug

[2016-06-12 09:34] alvin-xu commented on #5278
@normanmaurer I only found the problem with one computer I mentioned at beginning. This is also really strange.  So I doubt that some hardware of the computer cause the problem ...

[2016-06-13 03:29] zhangkan1983 commented on #4466
@normanmaurer @trustin:
My major concern is that in 4.X, when implement a UDP server, there is only one channel and Eventloop to handle all the IO operation by design(as far as i understand). This would definitely introduce a performance issue when many devices are try to connect to the server at the same time. And unfortunately, we cannot utilize the Linux epoll as the kernel version is only 2.6.

[2016-06-13 09:27] vietj opened #5386 "io.netty.resolver.dns.DnsNameResolver does not resolve localhost on Windows"
On Windows localhost is not in hosts file and the DNS server does not resolve this address either, i.e it is handled by the Windows API. So using a `Bootstrap` (among others) with the resolver based on `DnsNameResolver` will not resolve localhost.

http://serverfault.com/questions/4689/windows-7-localhost-name-resolution-is-handled-within-dns-itself-why

[2016-06-13 09:44] normanmaurer commented on #5386
@vietj so what ? I think there is not much we can do without doing some crazy jni stuff :(

[2016-06-13 09:49] vietj commented on #5386
now in Vert.x we simply resolve localhost to `127.0.0.1` on Windows. Perhaps doing the same would make sense in Netty too.

[2016-06-13 09:53] normanmaurer commented on #5386
Yeah maybe… and logging a warning. Let me do this.

[2016-06-13 10:10] vietj commented on #5386
a workaround is to add this to the list of parsed hosts when it does not exists using the blocking API (which is not a problem usually as this is done in the resolver itself)

[2016-06-13 10:10] vietj commented on #5386
i.e you can still get the localhost value once and cache it in a static.

[2016-06-13 10:10] vietj commented on #5386
[code]

[2016-06-13 11:48] slandelle opened #5387 "AbstractBootstrap#initAndRegister crash doesn't notify promise"
`initAndRegister` can possibly crash, eg:

[code]

The problem is that the `newSocket` isn't monitored with a try/catch, so promise isn't notify and the caller crash.

IMHO, such Exception should be dealt with in the promise. Users shouldn't have to combine 2 different Exception handling mechanisms and both wrap the call with a try/catch AND check the future.

[2016-06-13 11:49] normanmaurer commented on #5387
@slandelle you are right... let me fix.

[2016-06-13 11:54] slandelle commented on #5387
Awesome, thanks!
I can provide a PR if you want, but I first wanted to be sure it was a bug and not intended behavior.

[2016-06-13 12:00] normanmaurer commented on #5387
@slandelle a pr would be awesome! Please also add a test that we catch when `ChannelFactory.newChannel(...)` throws and notify the promise.

[2016-06-13 12:39] slandelle commented on #5387
Actually, having a look at `BootstrapTest#testLateRegistrationConnect` makes me think that `connect` is expected to possibly throw exceptions.

I can't say I like this behavior, but it is what it is, and IMHO can't be changed/fixed outside a new version.

WDYT?

[2016-06-13 12:41] slandelle commented on #5387
Should Exception be thrown AND listener notified?

[2016-06-13 12:48] normanmaurer commented on #5387
@slandelle I think you misread the test case. It only throws because we do `syncUninterruptibly()`.

[2016-06-13 12:52] slandelle commented on #5387
My bad...

[2016-06-13 12:55] normanmaurer commented on #5387
@slandelle no worries!

[2016-06-13 13:11] slandelle commented on #5387
Done, see #5388

[2016-06-13 16:05] caillette commented on #5201
I'm glad to see commits for this issue. Passing a `Set` of `ChannelPipeline`s looks much more handy than the `Predicate` I suggested.

I've written an ugly workaround, here it is in case somebody needs a quick fix:
https://gist.github.com/caillette/cd05ed3b9a7bc273bafe957084e40940
The `WebSocketClientHandshaker` keeps doing its job, except when it comes to Pipeline reconfiguration, which is delega

[2016-06-13 16:59] #5387 closed

[2016-06-13 17:05] normanmaurer commented on #5387
Fixed by https://github.com/netty/netty/pull/5388

[2016-06-13 18:32] vietj opened #5391 "DnsNameResolver does not resolve property A+CNAME answer"
The current DnsNameResolver fails to resolve an A+CNAME answer. For example:

[code]

The resolver constructs a map of cnames but forgets the trailing "." in the values which lead to not resolve the A record: the DnsNameResolverContext#buildAliasMap returns a singleton map `moose.rmq.cloudamqp.com.->ec2-54-152-221-139.compute-1.amazonaws.com` without the trailing "." .

Then the `onResponseAorAAAA

[2016-06-13 18:33] normanmaurer commented on #5391
will check...

@vietj thanks for reporting!

[2016-06-13 18:35] vietj commented on #5391
it made my day epic :-)

[2016-06-13 18:35] vietj commented on #5391
DNS epic day

[2016-06-13 18:35] normanmaurer commented on #5391
lol

[2016-06-13 20:28] eolivelli commented on #1966
Thank you. I saw in the code you pointed that it is very easy and I successfully integrated support to SASL in one on my netty based projects. I think that actually a basic support for SASL would be feasible in netty but it is not needed as this integration is quite trivial

[2016-06-14 17:59] johnou commented on #5331
I disagree, in fact by extending DefaultByteBufHolder you end up with reference-counting for free
and​ release resources out-of-the-box!

[code]

[2016-06-14 20:32] ensirius commented on #5331
@johnou There are no `writeLong` and etc. method

[2016-06-14 21:12] johnou commented on #5331
@ensirius updated code snippet.

[2016-06-15 00:48] carl-mastrangelo opened #5396 "Initialization cycle in epoll native"
I am trying to make changes to the native epoll library to allow static linking, like those made previously here: https://github.com/netty/netty-tcnative/commit/cf8d01b1ec6872c5ae2530cc40cecdd2caa37ff8

One problem that came up is that the epoll library as written doesn't use the auto names that JNI uses to auto register native methods, and instead uses a a special table made for jar shading.  In

[2016-06-15 00:48] carl-mastrangelo commented on #5396
cc: @Scottmitch @nmittler

[2016-06-15 03:54] windie commented on #5370
Did you add the following dependency?
[code]
It's optional and should be added explicitly.

[2016-06-15 04:17] windie commented on #5296
Closing since the doc has been fixed in #4631

[2016-06-15 04:41] maseev commented on #5362
If I understand you correctly, you can set `AUTO_READ` to false, like so `.childOption(ChannelOption.AUTO_READ, false)`. By doing so you'd prevent Channel to read data automatically. After that you can override `userEventTriggered` method in your ChannelInboundHandler and do something like this:

[code]

You have to call the ChannelHandlerContext.fireUserEventTriggered method at some point in orde

[2016-06-15 05:55] xiaoshuang-lu commented on #5296
This issue was not fixed.

[2016-06-15 06:18] windie commented on #5296
The behavior you want has been implemented in `IdleStateHandler`. I don't see any strong reason why we need to duplicate the same feature in `WriteTimeoutHandler`.

Secondly, `WriteTimeoutHandler` is a public API so we cannot change its behavior right now as it will break existing applications. Some applications may depend on the current behavior.

Since there is nothing to do, I just closed it.

[2016-06-15 06:20] xiaoshuang-lu commented on #5296
Why we need to duplicate the same feature in ReadTimeoutHandler?

[2016-06-15 06:27] windie commented on #5296
`ReadTimeoutHandler` was added before `IdleStateHandler`.

@normanmaurer - What do you think that deprecating `ReadTimeoutHandler`?

[2016-06-15 12:36] normanmaurer commented on #5334
Please check https://github.com/netty/netty/pull/5397/files

[2016-06-15 14:36] normanmaurer commented on #5296
@windie actually I think we could even mark `ReadTimeoutHandler` and `WriteTimeoutHandler` `@deprecated`. @Scottmitch @trustin WDYT ?

[2016-06-15 16:55] Scottmitch commented on #5296
@normanmaurer - I'm fine with deprecating both ... seems like `IdleStateHandler` can be used for either or both use cases.

[2016-06-15 17:19] Scottmitch commented on #5396
@carl-mastrangelo - Yip you are correct. One negative of using the `RegisterNatives` is that you must do `FindClass` to satisfy the interface ... and this call will try to load the class ... which can get you into trouble. The workaround I used in the past was that any class which is loaded as a result of a JNI call must not have any static initialization which depends upon a JNI call. Practically

[2016-06-15 17:40] carl-mastrangelo commented on #5396
That would work.

An alternative I started working on after posting this issue was proposed by someone on our java team:  use the Class.forName overload which doesn't do initialization from the JNI Code.  It's more complicated, and I haven't finished checking if it works, but would easy changing the java code.

In general, static initialization seems to be problematic.  Personally I'd prefer a laz

[2016-06-15 17:46] Scottmitch commented on #5396
@carl-mastrangelo - Looking forward to seeing what you come up with ... however I wonder if this is as simple as not overloading `offsetofEpollData()` to check if the library is loaded ... and just adding another method (or use an existing "side effect free" method) into `NativeStaticallyReferencedJniMethods` to accomplish the same goal would solve the issue?

[2016-06-16 01:53] zhaoxi1988 commented on #5208
I upgrade netty-all-4.0.36.Final to 4.1.0.Final so that meet the problem.

[2016-06-16 04:53] windie commented on #5296
See #5399

[2016-06-16 08:07] mertjuh opened #5401 "[v4.1.1]Customizing DH-params is no longer possible when using openSSL"
Currently, it is not possible to customize the DH-params when using openSSL.
This feature would be useful since the default key size is only 1024 bits which is considered weak according to SSLlabs.
However, the original SslProvider.JDK does support this feature by setting the `jdk.tls.ephemeralDHKeySize` JVM property to the desired key size.

Also, tomcat-native seems to use:
`SSLContext.setTmpDH(

[2016-06-16 10:03] normanmaurer commented on #5401
I will have a look as I will do some OpenSSLEngine changes anyway.

[2016-06-16 17:34] caillette opened #5402 "sec-websocket-origin should mention HTTPS"
I'm using Netty WebSockets with HTTPS. When performing the handshake, the header field `sec-websocket-origin` is set to a value starting with `http://`, which looks weird.
There is nothing about `sec-websocket-origin` in the RFC.
The string `http` is set inconditionnally in `io.netty.handler.codec.http.websocketx.WebSocketClientHandshaker13`, line 165.
I'm using Netty-4.1.0.CR7.

[2016-06-16 19:02] normanmaurer commented on #5402
@caillette yet that sounds not right... let me come up with a fix quickly.

[2016-06-17 01:55] Spikhalskiy opened #5421 "Closing alive channels in case if OP_READ triggered with no data available"
Hi,

I use http client based on netty in project. (Actually just a basic Bootstrap + FixedChannelPool + ChannelPoolMap). I added a handler that recording channel open and close counts and found that client close and open new connection on almost each request while connections should be keep-alive. My research of the problem below.

I made one request using client (so, connection created and should

[2016-06-17 04:39] normanmaurer commented on #5382
Fixed by https://github.com/netty/netty/pull/5405 .

@mrokitka I may come up with a follow up to support compression for http 1.0 as well but currently very busy. If you like you can also contribute a PR.

[2016-06-17 04:39] #5382 closed

[2016-06-17 04:40] normanmaurer commented on #5382
https://github.com/netty/netty/pull/5405

[2016-06-17 08:19] normanmaurer commented on #5401
@mertjuh PTAL at https://github.com/netty/netty/pull/5427

[2016-06-17 13:36] victornoel commented on #5170
@normanmaurer is it possible to have the CCLA officially referenced on the netty website? Thanks :)

[2016-06-17 16:40] Scottmitch commented on #5421
`OP_READ` should be set by Netty if you have called `read()` or if `AUTO_READ` is enabled. This just broadcasts interest in read activity on a particular FD to the selector mechanism. Read activity may also include detecting a remote close of the socket. If there is no read activity the selector should not notify on that FD.

So you are saying [in.read(tmpBuf)](https://github.com/netty/netty/blob/

[2016-06-18 06:45] Spikhalskiy commented on #5421
Hm... looks like in java SocketChannelImpl has open, isInputOpen, isOutputOpen=true with non-closed file descriptor. On the same time socket is in CLOSE_WAIT state in netstats on this breakpoint. So... need to find why do this socket closing almost after each request.

[2016-06-18 13:43] Spikhalskiy commented on #5421
I will spend more time for investigation. This issue could be closed for now, will back when having more info.

[2016-06-18 13:43] #5421 closed

[2016-06-19 10:14] maseev commented on #2381
Why not just adding information about thread affinity and [Java-Thread-Affinity](https://github.com/OpenHFT/Java-Thread-Affinity) library to the Netty's documentation? This particular library works just perfectly out of the box and can be easily integrated with Netty:

[code]

It supports plenty of, so called, [affinity strategies](https://github.com/OpenHFT/Java-Thread-Affinity/blob/master/affini

[2016-06-19 14:01] jroper opened #5428 "HttpContentDecompressor should change decompressed requests to chunked encoding"
In Netty, how do I know if an incoming HTTP request message has a body or not immediately without waiting for subsequent content messages?

If the answer to that is you can't, then there is no bug here, you can close this issue.

If the answer to that is by following the HTTP spec - ie, if the request has a `Content-Length` or `Transfer-Encoding` header, then you know it has a body, otherwise, you

[2016-06-19 17:30] NiteshKant commented on #5428
Looks like a bug to me as `HttpContentEncoder` does add `Transfer-Encoding` header [here](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpContentEncoder.java#L169) but `HttpContentDecoder` [does not](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpContentDecoder.java#L101).

[2016-06-19 18:42] normanmaurer commented on #5428
@NiteshKant agreed. want to submit a PR with a fix and unit test ?

[2016-06-20 01:24] NiteshKant commented on #5428
@normanmaurer sure! I would be able to do this soon.

[2016-06-20 02:26] trustin commented on #2381
It switched to LGPLv3 some time ago. We'd better get the AL2 version and shade it.

[2016-06-20 03:41] NiteshKant commented on #5428
[Here](https://github.com/netty/netty/pull/5429) is the PR

[2016-06-20 05:13] normanmaurer commented on #5391
Fixed by https://github.com/netty/netty/pull/5413

[2016-06-20 05:13] #5391 closed

[2016-06-20 05:24] slandelle commented on #5428
Sorry if I get it wrong, but why does `HttpContentDecompressor ` remove the `Content-Length` header in the first place? `Content-Length` is the decompressed length, not the compressed one.

[2016-06-20 05:36] normanmaurer commented on #82
Fixed by https://github.com/netty/netty/pull/5422

[2016-06-20 05:36] #82 closed

[2016-06-20 05:47] normanmaurer commented on #5428
@slandelle I don't think so... Do you have a link to a the RFC that state this ?

[2016-06-20 05:48] normanmaurer commented on #5428
Fixed by https://github.com/netty/netty/pull/5429

[2016-06-20 05:48] #5428 closed

[2016-06-20 06:26] slandelle commented on #5428
@normanmaurer My bad...

[2016-06-20 07:24] normanmaurer opened #5430 "TODO-List for next major version"
This issue is a TODO list for things to do for next major version.

[2016-06-20 09:30] normanmaurer commented on #5402
Fixed https://github.com/netty/netty/pull/5419

[2016-06-20 09:30] #5402 closed

[2016-06-20 14:09] fchevassu opened #5431 "Incorrect protocol version & "host" header in HttpProxyHandler"
[ netty-4.1.1.Final ]

There seem to be a couple of things in HttpProxyHandler that do not comply with [RFC 2817](http://www.faqs.org/rfcs/rfc2817.html) (Upgrading to TLS Within HTTP/1.1)

- The HTTP version required to support the CONNECT method is 1.1,
whereas Netty's HttpProxyHandler class specifies a 1.0 version (line 123)

- The "Host" header should apparently hold the name of the target host

[2016-06-20 15:16] Scottmitch commented on #5421
@Spikhalskiy - thanks for the additional details. plz report back when you get more details.

[2016-06-20 15:33] Scottmitch commented on #5430
- drop support for JDKs older than jdk8 (or w/e the latest supported JDK version is at the time)
- combine `ChannelInboundHandler` and `ChannelOutboundHandler`
- Investigate classes which override finalizer and see if we can make them implement `ReferenceCounted` instead (e.g. `OpenSslEngine`).
- Fix generics for the `Promise` related interfaces (e.g. `GenericFutureListener`).
- Investigate `Defau

[2016-06-20 16:18] jchambers opened #5432 "Add a mechanism for waiting for multi-step connection processes to compelte"
When a connection closes, it's possible for various handlers in a pipeline to perform some work and delay the completion of a shutdown `Promise`. `Http2ConnectionHandler` is a [good example](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L427); when it's time for a context to close, it waits for open streams to close befor

[2016-06-20 21:24] #5375 closed

[2016-06-20 21:46] Scottmitch commented on #5432
@jchambers - Yes this is useful feature and currently Netty delegates this responsibility to the next layer up in the software stack. Do you have a proposal in mind for a protocol agnostic approach?

[2016-06-20 21:55] jchambers commented on #5432
Nothing baked enough to propose with confidence, but it's definitely on my mind. My current VERY ROUGH idea would be to accept a `Promise` as an argument to `Bootstrap#connect`, but I haven't really worked through the implications of doing so.

[2016-06-21 13:37] nremond commented on #5428
Thank you guys ! I had a hard time analyzing the issue in Play.

[2016-06-21 15:51] ejona86 opened #5434 "http2: Off-by-one accounting with flow control and padding"
Per [the spec](http://httpwg.org/specs/rfc7540.html#DATA):

However, it seems the pad length isn't being accounted for.
https://github.com/netty/netty/blob/netty-4.1.1.Final/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameReader.java#L397
https://github.com/netty/netty/blob/netty-4.1.1.Final/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionDecode

[2016-06-21 15:56] ejona86 commented on #5434
We also need to audit outbound path.

[2016-06-21 16:26] ejona86 commented on #5434
cc: @Scottmitch, @normanmaurer, @nmittler

[2016-06-21 16:35] Spikhalskiy commented on #5421
Found that it was a connection closing by the remote peer, so issue closed and is not netty problem. Thanks.

[2016-06-21 17:01] buchgr commented on #5434
@ejona86 should I take this?

[2016-06-21 21:04] eun-ice opened #5435 "Security question: DiskAttribute uses user provided filename for temp file name"
Hi there,

maybe I'm paranoid, but I have a security concern.

If you use DiskFileUpload the temp file name is partly the user provided file name, only validation is this:

[code]

This catches the most obvious security gotchas (like /../../../somethingEvil) but almost everything else I tried is passed directly to the file system.

Is this safe? Why not simply use some random string?

Thanks
Aron

[2016-06-22 00:04] ejona86 commented on #5434
@buchgr, please do.

This will also need to be updated:
https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2DataFrame.java#L72

[2016-06-22 00:56] trustin commented on #5431
@fchevassu Care to send a PR? I don't have enough bandwidth these days.

[2016-06-22 06:26] Scottmitch opened #5436 "HpackUtil.equals performance improvement"
PR https://github.com/netty/netty/pull/5355 modified interfaces to reduce GC related to the HPACK code. However this came with an anticipated performance regression related to `HpackUtil.equals` due to `AsciiString`'s increase cost of `charAt(..)`. We should mitigate this performance regression.

[2016-06-22 06:29] Scottmitch commented on #5436
`HpackUtil.equals` currently implements an equality comparison which "doesn't leak timing information" [1]. @jpinner - can you provide some motivation for why this type of comparison is necessary in this specific case?

[1] https://github.com/twitter/hpack/commit/84e3438ae60efad587c7058c87b04064d7d6a536#diff-d23f44552b6381004428efb52e1667baR26

[2016-06-22 07:08] normanmaurer commented on #5386
Fixed by https://github.com/netty/netty/pull/5410

[2016-06-22 07:08] #5386 closed

[2016-06-22 12:27] normanmaurer commented on #5358
Fixed by https://github.com/netty/netty/pull/5355

[2016-06-22 12:27] #5358 closed

[2016-06-22 12:27] normanmaurer commented on #3597
Fixed by https://github.com/netty/netty/pull/5355

[2016-06-22 13:56] buchgr commented on #5436
@Scottmitch I think it has something to do with security http://httpwg.org/specs/rfc7541.html#Security

[2016-06-22 14:27] normanmaurer commented on #5431
Fixed by https://github.com/netty/netty/pull/5437

[2016-06-22 14:27] #5431 closed

[2016-06-22 14:39] vietj commented on #4665
Hi,

we do need this feature in Vert.x 3.3 and we have implemented search domains resolution.

It implements according to the rules above - however it is implemented only for `doResolveUncached` and not for `doResolveAllUncached` (as we don't need it yet and we don't have time right now - it was implemented yesterday over night for upcoming 3.3.0).

The Vert.x codebase contains a temporary fork of

[2016-06-22 15:04] jpinner commented on #5436
@buchgr that's correct
@Scottmitch it's to help prevent timing-based side-channel attacks on header field values

[2016-06-22 15:18] Scottmitch commented on #5436
Understood it is to prevent timing side-channel attacks. I guess the compromise was made to leak when the length is correct, but not how many characters are matching.

[2016-06-22 18:19] Scottmitch commented on #5434
If we add 1 to readPadding() we will have be sure to account that the byte is already read and the [int dataLength = payload.readableBytes() - padding;](https://github.com/netty/netty/blob/netty-4.1.1.Final/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameReader.java#L403) must account for this (and also for the other usages of `readPadding()`). An alternative would be to ju

[2016-06-22 19:02] buchgr commented on #5436
Thanks for looking into this Scott! I believe this is quite an urgent issue for gRPC that would be great to have in the next Netty 4.1.2. So please do let us know if you don't have enough cycles, we are happy to help out!  cc: @carl-mastrangelo

[2016-06-22 19:04] Scottmitch commented on #5436
@buchgr - Np. PR is pending.

[2016-06-22 20:07] Scottmitch commented on #4665
@vietj - Thanks for reporting back ... +1 to submitting a PR when you have time

[2016-06-22 20:09] vietj commented on #4665
@Scottmitch should have time within a couple of weeks

[2016-06-22 20:21] buchgr commented on #5434
ok i ll take this. will see what turns out best in code. can discuss on the pr.

[2016-06-22 20:33] Scottmitch commented on #5434
thanks @buchgr !

[2016-06-22 20:37] carl-mastrangelo commented on #5436
This might be a dumb question, but does the constant time compare really need to be used for non-security sensitive headers?  HPACK provides a means to not use indexing and never indexing, which seems like it implies they sensitive.  Most of the time we do want the fast, time-leaking compare.

[2016-06-22 20:41] slandelle commented on #4665
Salut @vietj! Sorry, I don't have the cycles for this atm, so I'll gladly let you do the hard work ;-)

[2016-06-22 21:09] buchgr commented on #5434
A quick look at the outbound path seems to indicate, that the pad length field is also not counted towards flow control there.

Interestingly, the spec seems to allow zero length padding, that is the pad field is present with a value of zero.

I have to take a more detailed look tomorrow morning (11pm here), but this might indicate that we are doing padding wrong as when padding is 1, we really ad

[2016-06-22 21:21] Scottmitch commented on #5436
@carl-mastrangelo - +1

@jpinner - WDYT?

[2016-06-23 01:54] jpinner commented on #5436
I'd have to take a pass through the code and see exactly how it's used. The compare does predate the inclusion of the "never index" flag. That being said I can certainly think of "sensitive" headers that you might want to index for performance in the table (e.g. domain cookies sent on every request).

I personally would be cautious here.

Sent from my iPhone

[2016-06-23 03:33] chadianshigeshuaige opened #5447 "io.netty.util.collection.LongObjectHashMap not found at branch 4.1"
import io.netty.util.collection.LongObjectHashMap;
import io.netty.util.collection.LongObjectMap;

these two classes are not found，what should I do？

[2016-06-23 10:20] jsbd commented on #2558
@normanmaurer @trustin thanks, i meet the same problem before i upgraded to maven 3.3.9

[2016-06-23 22:47] Scottmitch commented on #5447
these files are generated as part of the build. run a full build (`mvn clean install`) or build the common module (`cd common && mvn clean install`)

[2016-06-23 22:47] #5447 closed

[2016-06-24 10:46] buchgr commented on #5360
Did this happen under a real workload?

[2016-06-24 15:27] carl-mastrangelo commented on #5360
Yes, it happens under the same load that caused https://github.com/netty/netty/issues/5186 .  The characteristics are very similar (slow down to a crawl, basically get nothing done).  The example code (which I cannot find) that was used to find that bug is the same one that causes this.   basically just make a ton of small http2 calls as fast as you can to force the problem. (over a local tcp link

[2016-06-24 16:13] Scottmitch commented on #5360
@carl-mastrangelo - Is this the repro discussed here https://github.com/netty/netty/pull/5191#issuecomment-215952785 (https://github.com/carl-mastrangelo/grpc-java/commit/786a96f6bf14035ca81849285ad5a65a4fe2dd91) what you are looking for?

[2016-06-24 16:16] carl-mastrangelo commented on #5360
@Scottmitch  yes!  Removing the cancellation makes the bug happen much more quickly.  Whether or not that is a realistic workload is debateable, but it is basically what our load tests/ benchmarks do.

On a side note, while profiling our benchmarks, the majority of the time is spent in the `writev` syscall, which I attribute to writing too many small buffers.  Even if Netty doesn't get backed up,

[2016-06-24 16:35] Scottmitch commented on #5360
This issue seems related to https://github.com/netty/netty/issues/3998 but for egress.

[2016-06-25 10:30] buchgr commented on #5360
I ll get on it :-)

[2016-06-25 16:51] #5434 closed

[2016-06-25 17:12] Scottmitch commented on #5360
@buchgr - great! what is your plan to mitigate this issue?

[2016-06-26 02:23] Kangmo opened #5452 "OOM Direct buffer memory from SslHandler.flush"
## Problem description
First of all thanks for the library.
I am a newbie in Netty, so this might be happening because of my lack of knowlege on Netty.

ScaleChain, a private blockchain implementation in Scala uses Netty for (1) peer to peer networking and (2) HTTP json rpc service.

As I did not call any json rpc during my test I am assuming that the OOM exception is raised on the P2P communicati

[2016-06-26 02:33] Kangmo commented on #5452
### Question

I have another exception connection getting reset.
Could this happened because of the above memory allocation failure?

[code]

[2016-06-26 07:03] Kangmo commented on #5452
After upgrading Netty from 4.0.37.Final to 4.1.1.Final, I see the following call stack.

[code]

[2016-06-26 07:47] NiteshKant commented on #5452
@Kangmo you are giving the VM just 1M of Direct memory:

[code]

How much data is read/written on the connections?

[2016-06-26 11:25] Kangmo commented on #5452
@NiteshKant, the following is the list of tcp connections on five java processes without the MaxDirectMemorySize option. Now I am running Netty 4.1.1.Final, so the limit on the direct memory is same to the heap, which is 2GB.

Because it took almost a day to reproduce the issue, I have set MaxDirectMemorySize to 1m for the reproduction to finish in an hour.

Here is the netty settings logged with

[2016-06-26 11:28] Kangmo commented on #5452
A question :
If I do not release the message in chanelRead method of the channel handler, is there any possibility that the direct memory can leak?

[2016-06-26 11:41] normanmaurer commented on #5452
Yes!

You must release it

[2016-06-26 11:53] Kangmo commented on #5452
Using BufferPools plugin of visualvm, found that Netty only uses 2,455 B for the direct memory.
Looks like the issue happened because I did not release the message on channel handler.

A quick question :
I copied my code from the securechat example. Do handlers in the securechat example require to release messages? If yes,  I would be happy to contribute to release messages in channelRead0.

[code

[2016-06-26 12:23] Kangmo commented on #5452
I will close the issue as the issue seems to be caused because I did not release message.

[2016-06-26 12:23] #5452 closed

[2016-06-26 13:10] normanmaurer commented on #5452
Nope as SimpleChannelInboundHandler does it for you

[2016-06-26 15:19] Kangmo commented on #5452
I see. Thanks. What happens if the sub class of SimpleChannelInboundHandler releases the incoming message? I am using -Dio.netty.leakDetectionLevel=paranoid but no exception is thrown even though I am releasing message in the sub class of SimpleChannelInboundHandler.

[2016-06-27 11:27] normanmaurer commented on #5054
Fixed by https://github.com/netty/netty/pull/5451

[2016-06-27 11:27] #5054 closed

[2016-06-27 13:02] Spikhalskiy opened #5455 "Channels leak in FixedChannelPool or javadoc for all recommended release calls required"
Netty version: 4.0.37.Final

Context:
I try to use ChannelPool in simple netty http client. Especially FixedChannelPool implementation with 0 acquiring timeout to get fast fail in case if no connections are available.

I call ```ChannelPool#release()``` for channel in my main handler (which is last in the pipeline) in methods
1) ```channelRead()``` (with HttpObjectAggregator in the pipeline before

[2016-06-27 16:00] tspoison commented on #2522
Now I'm having the same problem...

[2016-06-27 19:01] buchgr commented on #5360
@Scottmitch don't know yet ... thankful for any suggestions! :-)

@carl-mastrangelo

Hmm ... hundreds of thousands `WINDOW_SIZE` and `SETTINGS`? I would expect all of that to be `HEADERS` frames?

I also ran that code, removed cancel and the semaphore and found that ~2/3 of the live heap are command objects in grpc's `WriteQueue` and 1/3 is the `ChannelOutboundBuffer` totaling about 4 million obje

[2016-06-27 19:47] ejona86 commented on #5360
gRPC's [WriteQueue](https://github.com/grpc/grpc-java/blob/v0.14.0/netty/src/main/java/io/grpc/netty/WriteQueue.java) should auto-coalesce writes when under load. The cancel in that test was important for saturating the channel outbound, otherwise the bottleneck may be due to latency and outbound will be consistently drained.

How is it possible for over a million objects to be in `ChannelOutbound

[2016-06-27 19:53] buchgr commented on #5360
@ejona86

I modified the test to just create new calls in an endless loop.

that's what I don't understand 😅

[2016-06-27 19:56] normanmaurer commented on #5360
@buchgr are you really sure about the 2 / 4 buffers at a time ? addFlush() should mark everything ready to be flushed that exists in the `ChannelOutboundBuffer`. The only way it could end up writing less would be if writev would do a partial write and so the channel becomes unwritable. Then the channel becomes writable again and we try to pass all buffers again to writev which again does a partial

[2016-06-27 19:56] buchgr commented on #5360
@ejona86 ohhh I am an idiot. I ran an outdated jar ...

[2016-06-27 20:59] bdnettleton opened #5456 "Remove final from EpollEventLoopGroup"
Netty version: 4.1.0.CR7

Feature request: Please remove final from EpollEventLoopGroup for consistency with NioEventLoopGroup

Context:
We've been using NioEventLoopGroup in part of our project where we extend it and override the various submit, schedule and invoke methods to log any exceptions which occur when the tasks (Runnable/Callable) execute.

We're working on an extension to our project w

[2016-06-27 21:37] #5436 closed

[2016-06-27 21:58] Scottmitch commented on #5456
@bdnettleton - In the end the change was never actually committed because there would be more interface changes required and the scope of changes to accomplish my initial goal (full wrapping of the EventLoopGroup) increased substantially, and in the end I found another way to approach the problem. I think was also a feeling that `NioEventLoopGroup` should have been final from the start, but we can

[2016-06-27 22:29] bdnettleton commented on #5456
Thanks for the quick response.

Here's a little more about our use case as background.

We're extending NioEventLoopGroup with code below.  Our goal is to catch basic coding errors in tasks we submit to the EventLoopGroup and get them into our logging framework (basic but unfortunately still common things like NullPointerExceptions).

    public static final Logger LOG = LoggerFactory.getLogger(Is

[2016-06-27 23:52] vietj opened #5457 "DnsNameResolver should not bind locally"
Netty version: 4.1.1.Final (and master)

Context:
Dns resolution failures when using the `DnsNameResolver` and the JVM is not authorized to bind datagram channels.

Steps to reproduce:
Use the `DnsNameResolver` with an environment that does not allow to bind datagram channels.

The current `DnsNameResolver ` binds locally a `DatagramChannel` which is not necessary (and not always permitted).

The

[2016-06-28 04:20] normanmaurer commented on #5457
@vietj +1 ... Want to provide a pr?

[2016-06-28 04:59] NiteshKant commented on #5456
@bdnettleton `SingleThreadEventExecutor` does [log](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/concurrent/SingleThreadEventExecutor.java#L370) any `Throwable` from `task.run()`.

Recently, there is also a way to log/handle rejected tasks via [this PR](https://github.com/netty/netty/pull/5441) if that interests you.

[2016-06-28 05:10] normanmaurer commented on #5401
Fixed by https://github.com/netty/netty/pull/5427

[2016-06-28 05:10] #5401 closed

[2016-06-28 05:50] vietj commented on #5457
will do soon @normanmaurer

[2016-06-28 05:57] normanmaurer commented on #5457
@vietj thanks a lot!

[2016-06-28 05:57] CodingFabian opened #5458 "PlatformDependent doesn't prefer JDK8 LongAdder"
I am running Netty on Java 8.

[code]

On a normal modern Java8, where HAS_UNSAFE is true, this will always use the c&p LongAdderV8, otherwise the JDK Shipped AtomicLongCounter. Assuming that the JDK8 contained LongAdder is "better" (e.g. it might use intrinsics) I was wondering why there is no Java >=8 check which will directly use the JDK8 LongAdder (wrapped to comply to netty interface)

(also

[2016-06-28 06:34] #5280 closed

[2016-06-28 07:42] #5264 closed

[2016-06-28 08:59] vietj commented on #5457
I'm seing an issue in tests because the channel is not yet initialized on registration, i.e the code:

[code]

does not guarantee that the `initChannel` is invoked when the `channelFuture` is succeeded. As consequence sometimes during tests the `DatagramDnsQuery` are not encoded as the `ENCODER` is not yet added to the pipeline.

One solution is to use a promise that is resolved after the pipeline

[2016-06-28 09:20] normanmaurer commented on #5457
@vietj sounds good.

[2016-06-28 09:20] normanmaurer commented on #5457
@vietj I think even better would be to have the promise be notified once channelActive is called.

[2016-06-28 09:26] lshmouse opened #5460 "Memory Wasting in Netty chanel read byeBuf"
When testing the memory usage of spark shuffle which uses Netty for data communication, we found that the memory used by Netty usually are more than 2x of the size of data transferred. The reason is that the ByteBuf fired by the channel is no fully used. For an example, the capacity of the ByteBuf is 16K, but the size of readable bytes is 2K sometimes, 14K memory is wasted.

If the handler reuse t

[2016-06-28 09:29] normanmaurer commented on #5460
@lshmouse what netty version you are using ?

[2016-06-28 12:59] buchgr commented on #5360
I investigated a bit more. I added code to track the max number of buffers passed to `SocketChannel.write`, as well as logging to find when and why a write fails. Running the `NoiseClient`, we at most pass 256 buffers to `SocketChannel.write` (limited by grpc's write queue). We fail cause, `SocketChannel.write` returns `0` (it returns the number of bytes written). It's then when the `ChannelOutbou

[2016-06-28 13:25] normanmaurer commented on #5458
@CodingFabian I will fix this.

[2016-06-28 13:38] normanmaurer commented on #3548
@timboudreau @trustin I will revert this one as it seems like it was fixed in java some time ago

[2016-06-28 13:39] #5457 closed

[2016-06-28 13:40] normanmaurer commented on #5457
Fixed by https://github.com/netty/netty/pull/5461

[2016-06-28 14:57] radimch commented on #5460
As far as I can see, they're using
Netty 4.0.29.Final
https://github.com/eBay/Spark/blob/master/pom.xml#L657

[2016-06-28 16:16] Scottmitch commented on #5456
@bdnettleton - Agreed it seems like what you want can be accomplished (or is already accomplished) via other means. Is there anything else you need that cannot be done?

[2016-06-28 16:34] normanmaurer commented on #5460
Can you guys point me to the code where they bootstrap the server ?

[2016-06-28 16:43] normanmaurer commented on #5456
+1 ... I would prefer to keep it final

[2016-06-28 18:34] Spikhalskiy opened #5462 "FixedChannelPool concurrency issue"
Netty 4.0.37.Final

Context:
[code]

Problem:
I found concurrency issue with FixedChannelPool in case if we pass bootstrap configured with EventLoopGroup with more than 1 thread.

In case of above configuration we will have channel leaking in FixedChannelPool because code below will be executed in eventLoops of passed channels. Different channels from same pool could be bound to different eventLoo

[2016-06-28 18:37] normanmaurer commented on #5462
@Spikhalskiy hmm ... The `ChannelFutureListener` should be executed in the executor thread. So it should be thread-safe. Do you have a test-case that can demonstrate this ?

[2016-06-28 18:48] Spikhalskiy commented on #5462
Yep, sorry, you are right, still have the same channels leak with one eventLoop. So, this part works correctly inside one event loop and doesn't require synchronization.

[2016-06-28 18:48] #5462 closed

[2016-06-28 21:51] Spikhalskiy commented on #5455
So, what I found for now. My main handler (last in pipeline), which extends ChannelDuplexHandler has this sequence of calls:
channelReadComplete(ctx), read(ctx), write(ctx, msg, promise), writeCompleted success: true, channelReadComplete(ctx), read(ctx) -> channelInactive after that.
So, I don't return channel to pool, because no ```channelRead``` or ```exceptionCaught``` called. So, I get channel

[2016-06-28 23:35] carl-mastrangelo commented on #4827
I know this is long closed, but this is a kind of interesting read on benign races becoming not benign:

https://software.intel.com/en-us/blogs/2013/01/06/benign-data-races-what-could-possibly-go-wrong

There's even an example of ref counting not being guarded, same as this issue.

[2016-06-29 01:22] lshmouse commented on #5460
@normanmaurer

The server is bootstrap at
https://github.com/eBay/Spark/blob/master/network/common/src/main/java/org/apache/spark/network/server/TransportServer.java#L88

and the pipeline is built at
https://github.com/eBay/Spark/blob/master/network/common/src/main/java/org/apache/spark/network/TransportContext.java#L131

[2016-06-29 03:14] Scottmitch commented on #4827
@normanmaurer - any objection to trying `AtomicLongFieldUpdater` (or AtomicLong) and see if performance is negatively impacted?

[2016-06-29 05:22] #4914 closed

[2016-06-29 05:50] windie commented on #3586
Fixed by #5437

[2016-06-29 05:50] #3586 closed

[2016-06-29 06:15] schmitch commented on #4509
Is there a status update on that?

[2016-06-29 06:15] schmitch commented on #4528
Is this fixed in Netty 4.1.2?

[2016-06-29 07:29] normanmaurer commented on #4528
@schmitch  nope.. Had no time yet 😞 . But we love contributions ....

[2016-06-29 09:54] lijunyong opened #5470 "When I deployed to linux and start, after a while netty throws a warn"
[ WARN ] [2016-06-29 17:35:04] io.netty.channel.DefaultChannelPipeline [151] - An exception was thrown by a user handler's exceptionCaught() method while handling the following exception:
java.io.IOException: Connection reset by peer
        at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
        at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
        at sun.nio.ch.IOUtil.readI

[2016-06-29 13:49] Spikhalskiy commented on #5455
Ok, here is an example of such session
<img width="1436" alt="session" src="https://cloud.githubusercontent.com/assets/532108/16454222/89e7a4b0-3e18-11e6-8798-d9d627f7b505.png">
Host with netty client is 10.201.13.48
So, remote host got request and respond with FIN-ACK instead of normal response. In this case, netty's handler will get channelInactive with the flow described above.
I can't estimate

[2016-06-29 15:47] Scottmitch commented on #5470
what version of Netty? What is your expected behavior?

[2016-06-29 15:51] Scottmitch commented on #5455
I haven't look in too much detail at this issue but this behavior sounds expected to me. A "FIN" type shutdown initiated by the peer will *not* generate `exceptionCaught` but instead will just call `channelInactive`. A "RST" shutdown initiated by the peer should call both `exceptionCaught` and then `channelInactive`.

[2016-06-29 15:57] normanmaurer commented on #5455
+1

That said we should handle the case for the user. Let me come up with a fix.

[2016-06-29 19:41] normanmaurer commented on #5361
did the last 3.10.x release today.

[2016-06-29 19:41] #5361 closed

[2016-06-29 19:42] normanmaurer commented on #5435
@eun-ice we love PRs ... Maybe you want to submit one with a "fix" ?

[2016-06-29 19:43] normanmaurer commented on #5362
@hustfxj you could call `channel.setReadable(false)` in the `channelOpen(...)` callback

[2016-06-29 19:43] #5362 closed

[2016-06-29 19:44] normanmaurer commented on #5356
@mnowrot do you reuse the "resolverGroup" ? Or create a new one overtime ?

[2016-06-29 19:45] normanmaurer commented on #5235
@floragunncom ping ...

[2016-06-29 19:45] normanmaurer commented on #5180
@dschobel ping

[2016-06-29 19:46] normanmaurer commented on #4960
Was merged

[2016-06-29 19:46] #4960 closed

[2016-06-29 21:46] buchgr opened #5472 "netty 4.1-dev breaks gRPC master"
Running gRPC's helloworld-client with the current 4.1 branch fails with
<img width="1120" alt="screen shot 2016-06-29 at 10 55 44 pm" src="https://cloud.githubusercontent.com/assets/1388179/16469209/0623cdba-3e50-11e6-97e6-08b0e3108f7e.png">

When building gRPC the following tests fail:
[code]

I made an educated guess, and it seems like things stop working with the HPACK changes b4d4c0034d .

@no

[2016-06-29 21:48] buchgr commented on #5472
I don't (yet) know whether it's grpc or netty at fault here, but reporting this already so to maybe hold off releasing 4.1.2 until this is resolved?

[2016-06-29 23:27] Scottmitch commented on #5472
@buchgr +1 ... lets hold off on the release until we know whats going on ... and fix it if its a Netty issue.

[2016-06-30 01:49] lijunyong commented on #5470
@Scottmitch the version is netty-all-4.0.27.final

[2016-06-30 07:03] Scottmitch commented on #5470
@lijunyong - I would prefer to find the origin of this exception instead of turning the log statement off ... this is unexpected behavior.

Can you please put a breakpoint at [1] and provide the stacktrace for `t`?

[1] https://github.com/netty/netty/blob/netty-4.0.27.Final/transport/src/main/java/io/netty/channel/AbstractChannelHandlerContext.java#L278

[2016-06-30 07:07] normanmaurer commented on #5472
@buchgr looking into atm.

[2016-06-30 07:18] mnowrot commented on #5356
@normanmaurer I was creating a new one for each client connection. What is the suggested practice here, creating a new resolverGroup each time or reusing a single one across the application?

[2016-06-30 07:21] normanmaurer commented on #5472
@buchgr @Scottmitch update... it's definitely a netty bug I introduced. Working on a fix now, stay tuned :)

[2016-06-30 08:06] normanmaurer commented on #5472
@buchgr @Scottmitch ok I take this back... after poking around a bit I notice its a grpc bug as grpc just assumes that `AsciiString` is always using the whole array. To fix this it should take into account the condition when just a limited range of the array is used. This was no problem before as we always just created AsciiString instances that used the complete backing array. This was changed to

[2016-06-30 09:11] buchgr commented on #5472
thanks @normanmaurer ! fixed by https://github.com/grpc/grpc-java/pull/1995

[2016-06-30 09:11] #5472 closed

[2016-06-30 09:30] lijunyong commented on #5470
this stacktrance is: java.lang.NullPointerException
[http://i1.piimg.com/4851/3440f0e19350df09.png]

[2016-06-30 09:37] normanmaurer commented on #5470
@lijunyong please show us the stack of the NPE then.

[2016-06-30 09:55] johnou commented on #5470
@lijunyong if no stacktrace is present you may need to run your JVM with the -XX:-OmitStackTraceInFastThrow flag.

[2016-06-30 13:59] ramtg opened #5477 "CLOSE_WAITs with Netty 4.0.35 or higher."
I'm using a Netty based in a TCP socket server app that serves slow clients connecting over cell modems.

With Netty 4.0.35 or higher or 4.1, the server app comes to a grinding halt  after a few hours .
and netstat shows too many sockets in the CLOSE_WAIT OR SYN_RECV states.

With 4.0.34, I've never seen this issue, even after many weeks.. without a restart.

Google search suggests CLOSE_WAIT is a

[2016-06-30 14:49] bfiorini opened #5478 "NullPointerException in HttpPostRequestEncoder"
Hello,

There is a bug in the `nextChunk()` algorithm of the `HttpPostRequestEncoder`. When chunking a big request or multipart data, if the size of the resulting query is a multiple of the chunk size, `isLastChunkSent` is not set to `true` at the end, resulting in a NullPointerException.

This bug is present in version 3.10 as well as 4.x

Here is a unitest that shows this problem:

[code]

[2016-06-30 14:51] normanmaurer commented on #5478
Can you provide a PR with the test and a fix?

[2016-06-30 15:56] Scottmitch commented on #5472
good work @normanmaurer !

[2016-06-30 16:00] #5357 closed

[2016-06-30 16:16] Scottmitch commented on #5477
@ramtg - To clarify you are observing this issue with the latest Netty release? Can you provide a reproducer for this issue? Are you using autoRead? It would be interesting to see a heap dump and how many channels are still kicking around and also compare this against what channel's Netty has notified with channelInactive. What does a stack trace look like (are any EventLoop threads blocked)?

[2016-06-30 16:33] dschobel commented on #5180
@normanmaurer I'm going on leave for 6 weeks as of today so I won't get to this before I'm back but I'd still like to contribute this back from finagle.

[2016-07-01 02:29] lijunyong commented on #5470
@johnou I add it in my JVM
[http://i2.piimg.com/4851/486c44325301c2da.png](url)

[2016-07-01 03:54] lijunyong commented on #5470
I already know the cause of the problem, It's not the netty bug.Thanks

[2016-07-01 04:47] normanmaurer commented on #5470
Ok let me close it then

[2016-07-01 04:47] #5470 closed

[2016-07-01 09:47] o-pechenyi opened #5480 "Wrong report regarding leak records on load test"
Netty version: 4.0.37.Final

Context:
during load test get wrong report regarding leak records

Steps to reproduce:
1. Implement ByteToMessageDecoder that calls ByteBuf.retain to increase reference count during decoding. Later ByteBuf.release is called from another thread, not io.
2, Set -Dio.netty.leakDetectionLevel=paranoid
3. Run load testing

Result: huge amount of leak records is reported, ho

[2016-07-01 10:03] eun-ice commented on #5435
Here it is: https://github.com/netty/netty/pull/5481

[2016-07-01 15:18] Scottmitch commented on #5125
@purpleknightleo - any update?

[2016-07-01 15:44] Scottmitch commented on #5480
The debug statement you provided `WARNING: 7258 leak records were discarded ...` does not exist in 4.0.17.Final. Can you clarify what version you are using and update to the latest version (4.0.38.Final) to see if the issue still exists?

[2016-07-01 16:07] o-pechenyi commented on #5480
Sorry, made a misprint. I was using 4.0.37.Final version

[2016-07-01 16:27] Spikhalskiy opened #5483 "channelReadComplete calls without channelRead in handler cinfigured after HttpObjectAggregator"
Netty version: 4.0.38.Final

Context:
Flow of ChannelInboundHandler's methods channelRead and channelReadComplete invocations after HttpObjectAggregator looks meaningless.

Steps to reproduce:

1) Create netty http client bootstrap with pipeline:
HttpClientCodec
OurLoggingHandler

After one request-response thru this client and shutting down we get something like this in log :
[code]

This flow lo

[2016-07-01 18:52] Scottmitch commented on #5480
- Do you see the same behavior with `-Dio.netty.recycler.maxCapacity.default=0` system property?
- What do the stack traces look like if you increase the amount of stack traces in the leak record `-Dio.netty.leakDetection.maxRecords=32`?

[2016-07-01 19:12] JeremiahDJordan opened #5486 "netty 4.0.37 causes hangs in Apache Cassandra"
Ever since we updated Apache Cassandra to using netty 4.0.37 from netty 4.0.36 we have been seeing random hangs on our OSS test suite where a response from the server to the client seemingly is getting lost or something (the client just hangs) until the test times out.  With the OSS test suite it only happens sometimes, it isn't super easy to reproduce (right now I can only reproduce it using a 1.

[2016-07-01 19:24] normanmaurer commented on #5486
Hmm ... Can you also try 4.0.38.Final?

Also is it using nio or epoll? Can I run the testsuite locally somehow?

[2016-07-01 19:26] JeremiahDJordan commented on #5486
I tried 4.0.38.Final and it still has the problem.  I tried both nio and epoll show the problem.

[2016-07-01 19:30] JeremiahDJordan commented on #5486
Sadly you can't run the "reliably fails" test suit locally.  The straight cassandra-testall tests show it sometimes.  These runs of our OSS all hung:
http://cassci.datastax.com/job/trunk_testall/975/
http://cassci.datastax.com/job/trunk_testall/982/
http://cassci.datastax.com/job/trunk_testall/985/

@jkni may have something that you can use to reproduce it, he is checking right now if the hang he

[2016-07-01 19:32] tjake commented on #5486
Looking at that patch....  Is the issue handlerState isn't volatile?

[2016-07-01 19:37] JeremiahDJordan commented on #5486
Good idea @tjake I'll try that and see if it does the trick.

[2016-07-01 19:41] normanmaurer commented on #5486
@tjake @JeremiahDJordan as far as I remember this is only ever accessed / modified from the same thread. Do I miss something ?

[2016-07-01 19:57] normanmaurer commented on #5486
@JeremiahDJordan also do you modify the pipeline from outside the EventLoop at all ?

[2016-07-01 19:58] tjake commented on #5486
Not the pipeline but the ChannelHandlerContext can be called from outside the event loop I think.

[2016-07-01 20:00] normanmaurer commented on #5486
@tjake ok... can you tell me why you think the handlerState should be volatile ?

[2016-07-01 20:23] tjake commented on #5486
I'm not sure tbh. Just looked like a racy condition.

[2016-07-01 20:25] JeremiahDJordan commented on #5486
4.0.38 with that changed to volatile still has the problem, so that isn't it.

[2016-07-01 20:35] tjake commented on #5486
@normanmaurer

If the pipeline isn't called from inside the eventloop you hit this

https://github.com/netty/netty/commit/f984870ccca133d6056e8b0df0b2352f8f90b0fe#diff-6b8633f415085302023f47004357891aR192

That calls callHandlerAdded0() from a random thread which calls ctx.setAdded()

[2016-07-01 20:41] tjake commented on #5486
Also the fact that that section used to waitOnFuture and now it doesn't is different.

[2016-07-01 20:47] tjake commented on #5486
Also, callHandlerAdded0 is no longer being called under a synchronized block in that scenario whereas before it was calling synchronized (DefaultChannelPipeline.this) in the Runnable

[2016-07-01 20:56] jkni commented on #5486
At the moment, we think we're seeing this fairly regularly on [cassandra-dtest](https://github.com/riptano/cassandra-dtest) runs against [trunk](http://cassci.datastax.com/job/trunk_dtest), which is running 4.0.37. The same dtests do not reproduce against 4.0.36 (yet). It's a little bit tedious, but it might give you an option to reproduce.

Any test from this [run](http://cassci.datastax.com/job/

[2016-07-01 21:05] floragunncom opened #5487 "Netty 4.0.38 with openssl causes application hang"
Netty 4.0.38 with openssl causes application hang. If i revert commit https://github.com/netty/netty/commit/8ed9953f361639d910141b4a839cb4c07c0bed68 then it works again.

[2016-07-01 23:32] vietj commented on #4665
hi,

here is a first implementation of search domains : https://github.com/vietj/netty/tree/dns-search-domains

- the default search domains uses the `sun.net.dns.ResolverConfiguration` search list
- the default ndots value is `1`

can you do an initial review before doing a more formal PR ?

[2016-07-02 01:28] Scottmitch commented on #5487
@floragunncom - What version of tcnative? Can you provide a reproducer? If not can you provide some debug information like a few jstack captures while in this condition? Is an EventLoop thread spinning or is it dead locked? If the thread is spinning can you describe the state of variables, and provide other useful information?

Maybe add some debug statements would be useful too (maybe not safe in

[2016-07-02 01:39] carl-mastrangelo commented on #4832
I looked into this again when rerunning the race detector.  I see the issue clearly now:  The Buffer being modified is Unpooled.EMPTY_BUFFER.  The empty buffer has a nioBuffer attached which is concurrently modified in two places by the SSLEngine.  I think this is benign, but it adds noise to the race detector output, and could possibly be used to frighten small shildren.

Is there any reason EMPT

[2016-07-02 06:22] normanmaurer commented on #4832
It needs to be backed by one as SSLEngine works on ByteBuffer.

[2016-07-02 06:23] normanmaurer commented on #5486
Thanks!

I will investigate and ping you guys...

[2016-07-02 06:34] normanmaurer commented on #5486
@tjake it will not call `callHandlerAdded0(...)` from a random thread as it schedule it on the EventLoop and then return.

 See https://github.com/netty/netty/commit/f984870ccca133d6056e8b0df0b2352f8f90b0fe#diff-6b8633f415085302023f47004357891aR192 .

Or is there anything Im missing ? All the `callHandlerAdded0(...)` /  `callHandlerRemoved0(...)` should always happen in the EventLoop. That was one

[2016-07-02 06:37] normanmaurer commented on #5486
@JeremiahDJordan @tjake @jkni one thing I would be interested in is if you ever see a condition in your `AbstractChannelHandlerContext` methods where `isAdded()` returns false. Could you test this and if so print the stacktrace ? Basically for all methods in there, like for example:
https://github.com/netty/netty/commit/f984870ccca133d6056e8b0df0b2352f8f90b0fe#diff-5d5eb2c10e26184226a4f493481bcf87

[2016-07-02 08:14] snazy commented on #5486
@normanmaurer, based on @tjake and @JeremiahDJordan findings, I *think* I found a way to reproduce this in a utest - pushed to gh in [this branch](https://github.com/apache/cassandra/compare/trunk...snazy:12072-utest-trunk?expand=1). Hope this helps.

Wondering whether it makes a difference that the [old version](https://github.com/netty/netty/commit/f984870ccca133d6056e8b0df0b2352f8f90b0fe#diff-6

[2016-07-02 08:58] johnou commented on #5486
@snazy did you manage to get a thread dump?

[2016-07-02 09:32] normanmaurer commented on #5486
So just running the unit test ?

[2016-07-02 09:43] snazy commented on #5486
Yup, seems like just the new utest helps to reproduce it.

[2016-07-02 09:50] normanmaurer commented on #5486
@snazy do I need to somehow install / configure cassandra first or is it self-containing ?

[2016-07-02 09:56] snazy commented on #5486
self-containing - just execute the utest with `ant test -Dtest.name=NativeTransportStressTest` or in an IDE. It complains with `com.datastax.driver.core.exceptions.NoHostAvailableException: All host(s) tried for query failed (tried: localhost/127.0.0.1:53043 (com.datastax.driver.core.exceptions.OperationTimedOutException: [localhost/127.0.0.1] Operation timed out))` with 4.0.37

[2016-07-02 09:56] normanmaurer commented on #5486
@snazy awesome! Will look into it later today.

[2016-07-02 09:58] snazy commented on #5486
Or use `generate-idea-files` and run the utest in IDEA - similar for Eclipse.

[2016-07-02 10:03] floragunncom commented on #5487
tcnative is 1.1.33.Fork18 (all other are not compatible with netty 4.0.38 IMHO). Logs are here: https://gist.github.com/floragunncom/3e3d7adede4737d5fc15672b16290a4a
The code which produced this logs is here: https://gist.github.com/floragunncom/f1844eb46d49a90e1eaca12a795dc7fb

[2016-07-02 11:22] buchgr opened #5489 "Race in Netty's DefaultPromise"
As reported on the grpc issue tracker https://github.com/grpc/grpc-java/issues/2015

There seems to be a race between `DefaultPromise.trySuccess()` and `DefaultPromise.addListener(...)`. It looks like the offending line is [`if (listeners == null)` ](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/concurrent/DefaultPromise.java#L421).

Now, `listeners` is written in a `s

[2016-07-02 12:23] normanmaurer commented on #5486
@snazy @JeremiahDJordan @tjake ok I took the time to debug the issue and thanks to @snazy it was quite easy to understand whats going on :) I would have taken me a lot longer without the unit test.

To make it short, its a cassandra bug IMHO and you was just "lucky" that it never broke before.

So here is the problem.... In Cassandra you are using your own `EventExecutor` implementation which brea

[2016-07-02 12:25] normanmaurer commented on #5489
Sounds good

[2016-07-02 12:58] normanmaurer commented on #5486
If you guys like I can fix it in cassandra... I think I have an idea how to fix it there while still give you the same behaviour as before. Just let me know

[2016-07-02 15:18] JeremiahDJordan commented on #5486
If you have an idea of how to fix it that would be great.

[2016-07-02 15:19] normanmaurer commented on #5486
Alright stay tuned :)

[2016-07-02 16:24] normanmaurer commented on #4832
How is it modifing it? Its empty with a limit and capacity of 0. there is techical no way to modify it

[2016-07-02 16:30] carl-mastrangelo commented on #4832
The call to `java.nio.Buffer.limit(I)Ljava/nio/Buffer; (Buffer.java:276)` is mutating the buffer, while `    #0 java.nio.Buffer.remaining()I (Buffer.java:391)
` is reading from it.  The race is that these are not synchronized.

[2016-07-02 16:32] carl-mastrangelo commented on #4832
Alternatively, Buffer and ByteBuffer are not final.  It would be easy to make a "empty" noop Buffer to just ignore all calls and have that be the empty buffer.

[2016-07-02 17:00] normanmaurer commented on #4832
These are not final but constructor is package private so nope this is not possible

[2016-07-03 06:19] normanmaurer commented on #5486
@JeremiahDJordan @tjake @snazy so @belliottsmith made a good point on twitter that if the requirement of serial execution is not documented in the `EventExecutor` interface the change I made could be considered as a breaking API change in a bug-fix release. So I checked our docs and it seems like we never documented this 😭 .

I am currently looking into a way to change netty to work again with you

[2016-07-03 07:43] johnou commented on #5486
http://netty.io/4.1/api/io/netty/util/concurrent/DefaultEventExecutor.html "execute all submitted task in a serial fashion"

[2016-07-03 07:46] johnou commented on #5486
@normanmaurer would you mind sharing the Cassandra patch anyway?

[2016-07-03 07:50] normanmaurer commented on #5486
This is on the implementation but not on the interface...

[2016-07-03 07:50] normanmaurer commented on #5486
Once its complete yes

[2016-07-03 08:26] belliottsmith commented on #5486
I would suggest revisiting the decision to impose this constraint.

In a system where requests have differing costs (and time to serve), forbidding out-of-order execution is debilitating, as it forbids QoS (long tasks block all short tasks to all clients being served by the same thread).  It also ensures a higher memory watermark that is harder to manage.

In Cassandra this would also pretty much

[2016-07-03 08:34] normanmaurer commented on #5486
@belliotsmith thanks for chiming in :) Like I said I think you have a point here and after investigate a bit I think I can remove this constraint easily while still preserve the fix that the original patch did. So let me do this:

Write a netty patch and a cassandra patch and then let us check both of them to see which one is preferable. Cassandra will still work the same with my cassandra patch b

[2016-07-03 09:08] belliottsmith commented on #5486
Sure - just giving my 2c (that, as you say, a more flexible netty is a good thing)

[2016-07-03 14:59] JeremiahDJordan commented on #5486
I think the netty patch is preferable if possible. There may be other projects out there which will have mysterious bugs after updating netty otherwise.

For Cassandra a netty patch would mean that users of older versions of Cassandra could update netty if they hit some problem without having to update to a newer version of Cassandra itself.

[2016-07-03 15:07] JuKu opened #5492 "Netty 4.0.37.Final: Exception while changing pipeline"
Hi,

My application message handler replaces one decoder of pipeline, like this:
[code]

But the following exception is thrown:
[code]

What is the cause of this exception?
Thanks!

EDIT:
Sry, I havent seen "java.lang.NoClassDefFoundError: com/pentaquin/proxy/lib/message/SectorMessageDecoder" before...
But why can he find this class sometimes and sometimes not?

[2016-07-04 05:30] johnou commented on #5492
Instead of remove / add could you use replace? wrt to NoClassDefFoundError has your JVM thrown OOM?

[2016-07-04 07:06] normanmaurer commented on #4665
@vietj could you just open a PR... its easier to leave comments there. Thanks buddy!

[2016-07-04 07:08] trustin opened #5493 "Slack?"
With [Slackin](https://github.com/rauchg/slackin) and Slack's IRC integration, it shouldn't be very hard to migrate from IRC.

[2016-07-04 07:09] normanmaurer commented on #5493
@trustin whats wrong with IRC ?

[2016-07-04 07:11] trustin commented on #5493
IRC isn't wrong. Slack is just better. Easier to:

- share images and files
- add pinned post
- use markdown in a message
- can have multiple channels (could have dedicated channel for github and teamcity notifications?)

It also has a nice official client and web application.

[2016-07-04 07:13] trustin commented on #5493
.. and a free plan allows us to archive up to 10000 messages.

[2016-07-04 07:14] trustin commented on #5493
Now I feel like I'm a salesman, dude. :-) (We can try Gitter as well, but people around me seem to have one or two Slack groups already, so..)

[2016-07-04 07:21] normanmaurer commented on #5492
@JuKu this looks like a class-loader issue. Nothing related to netty.

[2016-07-04 07:21] #5492 closed

[2016-07-04 07:34] normanmaurer commented on #5460
@lshmouse usually Netty uses a `AdaptativeRecvByteBufAllocator` which will adjust the used `ByteBuf` to match the ByteBuf to the data that is received. So do you always see 16k buffers or does it sometimes user different sizes ?

[2016-07-04 07:34] normanmaurer commented on #5458
@CodingFabian seems like there is no way to fix this as we still need to support java6 :(

[2016-07-04 08:19] buchgr commented on #5489
I don't think writes of a field from within a synchronized block guarantee ordering and visiblity for reads of the field outside of a synchronized block. My reasoning is that the compiler might place the `listeners` field in a register and thus concurrent updates to `listeners` might not be populated between threads.

Worst case that could happen is Thread 0executes `DefaultPromise.addListener(...

[2016-07-04 08:23] johnou commented on #5489
Release early, release often :+1:

[2016-07-04 08:24] johnou commented on #5487
@floragunncom I don't see any thread dumps in your logs?

[2016-07-04 08:27] CodingFabian commented on #5458
Huh? Cant you keep the current if else and just wrap with an if else that checks version and if >=8 delegates to the JDK  Version? You might need an indirection to avoid classloading in <8

[2016-07-04 08:37] vietj commented on #4665
@normanmaurer @slandelle done a PR here https://github.com/netty/netty/pull/5496

[2016-07-04 08:40] normanmaurer commented on #5489
@nitsanw would you mind checking as well mister concurrent wizard!

[2016-07-04 08:44] vietj commented on #5493
one issue with slack / IRC I found (when trying the integratio,) is that you don't have authenticatation on IRC via Slack (at least when we tried it).

So when user "foo" send a message on IRC from slack it appears as:

[code]

on IRC.

[2016-07-04 09:35] floragunncom commented on #5487
dumps are here https://github.com/floragunncom/files/tree/jstacks-netty

[2016-07-04 10:40] johnou commented on #5487
@floragunncom just to confirm the application which is hanging is an openssl client, not server?

[2016-07-04 12:46] floragunncom commented on #5487
Not sure what you mean. The application has a server and a client side and therefore uses:
* ``SslContextBuilder.forServer(...)`` and
* ``SslContextBuilder.forClient()``

[2016-07-04 13:11] o-pechenyi commented on #5480
- tried to set -Dio.netty.recycler.maxCapacity.default=0, behavior is the same
- when increase number of records in the stack trace can observe repeated records as if same object is used for storing records for different bytebufs:

#22:
	io.netty.buffer.AdvancedLeakAwareByteBuf.readInt(AdvancedLeakAwareByteBuf.java:419)
	com.playtech.openapi.core.codec.MessageFrameDecoder.decode(MessageFrameDecode

[2016-07-04 13:14] buchgr commented on #5489
Here seems to be one explanation of why this is not correct: http://shipilev.net/blog/2016/close-encounters-of-jmm-kind/#pitfall-semi-sync

[2016-07-04 13:52] nitsanw commented on #5489
Using the "write in syncronized block, read outside of it" requires the field to be volatile to be correct at all and even then it's an error prone optimization usually used for simple value fields and not references to potentially complex objects.
I'm not sure the DefaultFutureListeners is thread safe, but if it isn't that would be further trouble.

[2016-07-04 14:25] johnou commented on #5487
The thread dumps you provided have the org.jboss.netty package.. which would indicate Netty 3.x?

[2016-07-04 14:37] floragunncom commented on #5487
yes, i use netty3 code, but the SSLEngine is created with netty4:

[code]

*(Pls. dont ask why. Cannot change completely to netty4 yet)*

With netty 3.10.5 and netty 4.0.37/Fork17 it works like a charm!

[2016-07-04 14:45] johnou commented on #5487
@Scottmitch I'll leave this one to you!

[2016-07-04 15:43] normanmaurer commented on #5489
@nitsanw `DefaultFutureListeners` is not thread-safe, what other issue you see here ?

[2016-07-04 15:51] buchgr commented on #5489
@normanmaurer that should not be a problem as the listeners are all executed in the event loop thread.

[2016-07-04 17:01] #5489 closed

[2016-07-04 17:02] normanmaurer commented on #5489
@buchgr thanks... Merged your PR. I think the rest should be fine. Let me cut another release at the end of this week as there are a few others things I want to fix as well.

[2016-07-04 18:43] nitsanw commented on #5489
@buchgr @normanmaurer IIUC because notifyListeners0 is not in synchronized block you can add/remove listeners concurrently resulting in NPE/AIOOBE

[2016-07-05 02:08] lshmouse commented on #5460
@normanmaurer
Yes, i saw the buffer size changed.

But according the code of AdaptiveRecvByteBufAllocator, the buffer size is adapted when the actual read bytes is less than a **quarter** of the current buffer size for two times continually. In the worst case, the memory used may be **8 times** of the memory actually needed.

https://github.com/netty/netty/blob/83c349ffa94d3992c4ee511d3625afc0c97c

[2016-07-05 02:33] Apache9 commented on #5460
@normanmaurer In spark we may receive GBs data and keep them in memory, so this is a big problem. Now we can only consolidate the `ByteBuf`s if we found that we have already wasted enough memory, otherwise we will be killed by the container...

Is there a way to let the handlers give a hint to the `RecvByteBufAllocator`? For example, `LengthFieldBasedFrameDecoder`, in the handler we can get the ex

[2016-07-05 10:15] buchgr commented on #5489
@nitsanw @normanmaurer hmm. the `listeners` field is only modified within a synchronized block. We don't iterate over the `listeners` field, but over a local variable [1]. So that should be fine?

That being said, since the promise has recently been rewritten, I wouldn't vouche for its correctness and maybe we should just make it simple and wrap stuff in synchronized blocks.

[1]https://github.com

[2016-07-05 10:35] nitsanw commented on #5489
@buchgr @normanmaurer OK, what I missed there is the fact that the field is nulled out in the synchronized block. That should work then. I find the code quite confusing, listeners is a variable/field/method name, different names for different things would help here.

[2016-07-05 11:36] buchgr commented on #5489
thank you @nitsanw!

[2016-07-05 12:15] normanmaurer commented on #5489
+1 .. Thanks @nitsanw . 🍻 on me next time :)