[2015-08-27 02:36] ninja- commented on #4134
"normal" traffic (snakebot) + emptying the server afterwards

   3:        792848       50742272  io.netty.channel.ChannelOutboundBuffer$Entry
   1:        792873       69772824  io.netty.buffer.PooledUnsafeDirectByteBuf
   2:       1608897       51484704  io.netty.util.Recycler$DefaultHandle

+ forcing gc + using histo:live

-Dio.netty.eventLoopThreads=12 \
-Dio.netty.recycler.maxCapacity=10000 \

[2015-08-27 02:48] trustin opened #4146 "Choose better defaults for the properties related with memory consumption"
Netty seems to choose the default values of the properties related with memory consumption too aggressively/greedly, according to the recent reports related with `Recycler`. (See: https://github.com/netty/netty/issues/4134#issuecomment-135205920) Perhaps it's time to choose a better default? /cc @tea-dragon

[2015-08-27 02:48] trustin commented on #4134
@tea-dragon It sounds like we need to change Netty so it does not choose too greedy default. Do you have any suggestion in mind? I opened a new issue dedicated for this: #4146 so let's continue the discussion there.

[2015-08-27 02:50] ninja- commented on #4134
@trustin the default ones are another topic...I have set a max and it grows to infinity @trustin...clearly a bug not a wrong default

[2015-08-27 02:52] trustin commented on #4134
@ninja- Yeah, that's why I created a different issue not to distract you. I'm sorry!

[2015-08-27 02:53] ninja- commented on #4146
first things first... why are the settings _ignored_?

[2015-08-27 03:01] trustin commented on #4146
@ninja- We would have fixed it already if we knew why. :-) It takes time because the devs cannot reproduce the problem. We all run Netty in production and didn't have such a problem. It means a certain usage pattern is triggering this. I'm not necessarily saying it's a bug in your code, though.

[2015-08-27 03:05] trustin commented on #4145
Because 1) it can worsen your JVM's GC performance, 2) JVM never calls `finalize()` when we want (i.e. immediately when object became unreachable); it calls it only when it wants. What you're gonna see is quick OOME.

[2015-08-27 03:05] #4145 closed

[2015-08-27 03:05] ninja- commented on #4146
@trustin I would just disable this pooling, if I could.

[2015-08-27 03:11] trustin opened #4147 "Provide a way to disable recycling completely"
It seems like some users are observing an edge case where the `WeakOrderQueue` and `Stack` grow beyond its max capacity. Although we should fix it, there should be a way for a user to disable recycling completely so that he or she can perform with-recycler vs. without-recycler comparison.

/cc @ninja-

[2015-08-27 03:11] trustin commented on #4146
@ninja- I believe we can add that option, too. See #4147.

[2015-08-27 03:14] ninja- commented on #4146
@trustin what I am observing now on  a testing server is that ~ every bot leaks a io.netty.channel.ChannelOutboundBuffer$Entry + buffer combo per second...maybe _this time_ it's unrelated to the Recycler, but netty leak detector would notify if it was a logic error inside the app...

[2015-08-27 03:37] trustin commented on #4133
I'm not sure what it buys? Could you elaborate?

[2015-08-27 03:38] ninja- commented on #4133
well nevermind I guess

[2015-08-27 03:53] ninja- commented on #4146
@trustin hm could that be my fault this time unfortunately blamed on the recycler instead + netty leak detector being unhelpful :(
wasn't Channel#write supposed to be decrease reference count after writing the packet?

[2015-08-27 03:54] isbo commented on #4135
Hi @trustin why is this not considered a bug? I can repro it on the latest netty 4.0 stable and tcnative as  suggested by @normanmaurer.

[2015-08-27 04:24] ninja- commented on #4146
@trustin what's the proper way to enable netty's debug mode I can't find a way? what useful data I can get for you? it seems really really use to reproduce but I don't want to waste your time trying to run Minecraft

[2015-08-27 04:32] normanmaurer commented on #4147
@trustin should I take care?

[2015-08-27 05:03] Scottmitch commented on #3166
It seems there is some confusion, let me clarify:

[Channel.write](https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/channel/Channel.java#L446) (the interface and Netty implementations) will ensure `release()` is called on any [ReferenceCounted](https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/ReferenceCounted.java) object after it is complete

[2015-08-27 05:08] trustin commented on #4147
Do you have spare cycles? Then please feel free to take it. :-)

[2015-08-27 05:12] trustin commented on #4146
@ninja- My daughter is a Minecraft fan, and I played it with her every day during her summer vacation, although it was PS Vita version. How easy is it to set it up and reproduce with a single player?

[2015-08-27 05:14] ninja- commented on #3166
@Scottmitch you are right about this part, sorry. let me see if this will fix the leaks on production?

[2015-08-27 05:14] trustin commented on #4135
Ugh, I misread the thread. Let me relabel it.

[2015-08-27 05:21] Scottmitch commented on #4135
@isbo - Thanks for upgrading and verifying the issue still exists. Could you share a reproducer?

[2015-08-27 05:21] jazdw commented on #4145
I was thinking more in terms of putting it in an object which holds a ByteBuf rather than in the Netty code. Save's managing the lifecycle of an object in applications where performance is not so critical such as clients. Would it really cause quick OOME? How so when compared to an object which holds the same data in a byte array?

[2015-08-27 05:26] trustin commented on #4121
I'm not exactly sure when we started to think spdy is not experimental anymore, although it's considered pretty stable these days. I must admit I did not care much about API changes in spdy until very recently. Given that the future of SPDY is unclear, I'm not sure what we are supposed to do about it to be honest.

Perhaps we should keep it experimental given that:

* it's a proprietary protocol w

[2015-08-27 05:30] trustin commented on #4145
Ah, I see. It is a question, not a bug. I thought you are suggesting to implement ByteBuf.finalize().

Nonetheless, the idea of using `finalize()` to release a `ByteBuf` in your application is not a good idea. It might work OK if the traffic is not very high and the client application is short-living. I believe you won't get OOME faster than ordinary object that holds a byte array.

[2015-08-27 05:33] normanmaurer commented on #4146
@trustin ha i see a possible first contribution from a little girl coming ;)

[2015-08-27 05:34] jazdw commented on #4145
Yeah sorry, more a question about using Netty. There doesn't seem to be anywhere else to ask. Thanks for your feedback.

[2015-08-27 05:51] ninja- commented on #4146
@trustin

The testcaste for the OutboundBuffer$Entry problem consists of:
- a bungeecord instance
- any local minecraft server so the proxy can connect to something
- a snakebot which creates bots, and the bots are following your movements
- a minecraft client _just to join the snakbot port_
- a script that monitors instancesof $Entry via jmap -histo:live

[2015-08-27 06:00] trustin commented on #4145
A better place to ask would be StackOverflow.com. We answer questions tagged with 'netty'. :-)

[2015-08-27 06:14] Scottmitch commented on #3166
Based upon a quick glance calls to `ChannelWrapper.write(..)` from `HandlerBoss.channelRead(..)` should not leak based upon the following:

When `ChannelWrapper.write(..)` encounters a `PacketWrapper` it [marks it as released](https://github.com/SpigotMC/BungeeCord/blob/81d1c46a0dd5505ab8b78c1f54b13f5353e36b41/proxy/src/main/java/net/md_5/bungee/netty/ChannelWrapper.java#L45) before passing the bu

[2015-08-27 06:18] ninja- commented on #3166
@Scottmitch in my own version I removed all .copy() but the problem but the $Entry problem also appears there.

Regarding your questsions about releasing the buffer, I have added
[code]
it's always 0 + netty leak detector is silent, isn't that enough proof that the .release() mechanism works correctly here?

[2015-08-27 06:43] Scottmitch commented on #3166
@ninja- - I gave a pretty detailed analysis in https://github.com/netty/netty/issues/3166#issuecomment-135304391 and came to the conclusion for what appears to be the "common" case there should not be any buffer leaks (with some followup questions and caveats).

Can you try to use the [UnpooledByteBufAllocator](https://github.com/netty/netty/blob/master/buffer/src/main/java/io/netty/buffer/Unpoole

[2015-08-27 06:45] ninja- commented on #3166
@Scottmitch great idea I'll try the allocator.

[2015-08-27 06:47] ninja- commented on #3166
they aren't released because they aren't detained so the balance stays the same (0)

[2015-08-27 06:51] #4131 closed

[2015-08-27 06:56] ninja- commented on #3166
1:        597079       42989688  io.netty.buffer.UnpooledUnsafeDirectByteBuf
   6:        597080       19106560  java.nio.DirectByteBuffer$Deallocator
   4:        597081       23883240  sun.misc.Cleaner
   3:        597088       38213632  java.nio.DirectByteBuffer
   2:        597089       38213696  io.netty.channel.ChannelOutboundBuffer$Entry
   5:        597378       19116096  io.netty.util.Rec

[2015-08-27 07:02] Scottmitch commented on #3166
Can you clarify? Do mean to say the are never of type `ReferenceCounted` in this case?

Sry...just found a few more RECYCLERs being used. Have you done a heap dump analysis? Can you tell me what the "strong" GC root references to the `UnpooledUnsafeDirectByteBuf` are (just a few samples)

[2015-08-27 07:05] ninja- commented on #3166
1. They output buffers are normally detained/released by other handler such as decoders etc. and the app only needs to keep it's balance to zero.

2. yeah the only strong ref to DirectByteBuf is Recycler$DefaultHandle via OutboundBuffer$Entry

[2015-08-27 07:07] #4127 closed

[2015-08-27 07:10] normanmaurer commented on #4110
Fixed javadocs

[2015-08-27 07:10] #4110 closed

[2015-08-27 07:11] normanmaurer commented on #4147
@trustin spare cycles not really but let me fix it anyway =P

[2015-08-27 07:18] ninja- commented on #3166
weird, when looking at the heap dump the DirectByteBufs are gone.
just the io.netty.channel.ChannelOutboundBuffer$Entry leaking - 3 million of them.

[2015-08-27 07:31] ninja- commented on #3166
@Scottmitch I think that I know what's wrong with netty's recycler. but first, I can't get netty debug to print. how do I turn it on from the start?

[2015-08-27 07:38] normanmaurer commented on #3166
@ninja- you mean enable debug logging from the start ?

[2015-08-27 07:39] ninja- commented on #3166
yeah
    static {
        InternalLoggerFactory.setDefaultFactory(new JdkLoggerFactory());
        Logger.getGlobal().setLevel(Level.ALL);
        Logger.getLogger("io.netty").setLevel(Level.ALL);
    }

doesnt do much

[2015-08-27 07:43] normanmaurer commented on #3166
@ninja- you have a logging.properties file that tells where to log ?

[2015-08-27 07:43] ninja- commented on #3166
@normanmaurer no, is it for the java logger?

[2015-08-27 07:48] normanmaurer commented on #3166
@ninja- yes... that said I never used jdk logger. Anyway here seems to be an example:
http://stackoverflow.com/questions/960099/how-to-set-up-java-logging-using-a-properties-file-java-util-logging

[2015-08-27 08:07] ninja- commented on #3166
@normanmaurer  :\ I was looking at wrong property because I was checking out on master and they differ. so it ignored my property...

[2015-08-27 08:12] normanmaurer commented on #4135
@isbo once I have a reproducer I can look into it.

[2015-08-27 08:12] #4133 closed

[2015-08-27 08:12] normanmaurer commented on #4133
Closing for nw

[2015-08-27 08:22] normanmaurer opened #4150 "Http2ConnectionHandler leak"
@Scottmitch @nmittler could anyone of you please have a look:

https://garage.netty.io/teamcity/viewLog.html?buildId=794&buildTypeId=pulls_netty&tab=buildLog&state=&expand=all#_

[2015-08-27 08:25] normanmaurer commented on #4150
[code]

[2015-08-27 14:05] lokeshhctm opened #4151 "unable to compile branch 4.0"
00:33:09.425 [main] WARN  o.o.p.u.m.i.AetherBasedResolver - Error resolving artifactio.netty:netty-transport-sctp:jar:4.0.31.Final-SNAPSHOT:Could not find artifact io.netty:netty-transport-sctp:jar:4.0.31.Final-SNAPSHOT
shaded.org.eclipse.aether.resolution.ArtifactResolutionException: Could not find artifact io.netty:netty-transport-sctp:jar:4.0.31.Final-SNAPSHOT
	at shaded.org.eclipse.aether.inte

[2015-08-27 14:20] nmittler commented on #4150
Looks like a leak in Http2FrameRoundtripTest and HttpToHttp2ConnectionHandlerTest.  I'll take a look.

[2015-08-27 14:31] chrisprobst opened #4152 "Make DefaultChannelGroupFuture public"
I really miss the possibility, to handle multiple futures at once.
Of course, many use cases are covered by the ChannelGroup, but even simple things like sending a different message to all channels in a ChannelGroup can not easily be done.

We already have a ChannelMatcher abstraction, so that you can decide to not use _all_ channels during a query.

For me this is a but redundant, because it's ba

[2015-08-27 14:40] nmittler commented on #4150
@Scottmitch @normanmaurer I ran both tests in my IDE and could not reproduce with paranoid.  I just did some code inspection and I don't see any leaks in the HTTP/2 code. Is it possible the leak is happening lower in the channel? Perhaps something changed in `LocalChannel` recently?

[2015-08-27 14:48] chrisprobst commented on #2105
How actively is this topic considered for Netty 5 ?
Obviously, Java 8 provides interesting capabilities (CompletionStage...) which somehow replace certain things in Netty (Almost futures in general).

Or to put it another way: Will Netty 5 be based on Java 8 ?

[2015-08-27 16:15] #4120 closed

[2015-08-27 16:24] ninja- commented on #4146
@trustin my problem was that my recycler settings were ignored...I looked up the property on _master_ and it's different on 4.0. I guess it should work correctly now.

Maybe we can discuss ideas for a new Recycler backend which isn't exactly fixed size?
For example: recycle() would only recycle the object if there are ~ 0 recycled objects, otherwise ignore. Something like that. wdyt?

[2015-08-27 16:25] ninja- commented on #4134
solved: I was trying to use the _recycler property_ from master while it's key is different on 4.0. It should stop being greedy now!

[2015-08-27 16:25] #4134 closed

[2015-08-27 16:29] Scottmitch commented on #3166
@ninja- Can you clarify? Are you saying you are no longer believe there is a leak in `Recycler`, and the behavior you are seeing was just the `maxCapacity` was configured to be to high?

[2015-08-27 16:32] ninja- commented on #3166
@Scottmitch yup.
it changed from
[code]
to
[code]

and I never expected this

[2015-08-27 16:33] Scottmitch commented on #4134
@ninja- - I'm glad you figured this out!  Next time it would be appreciated if you could provide a reproducer because otherwise it burns a bunch of our time trying to track things down.  We are happy to help...it just that time is a limited resource.

[2015-08-27 16:34] Scottmitch commented on #4147
Given https://github.com/netty/netty/issues/4134#issuecomment-135484445 do we feel this is still worth it?  I think we should push to diagnose / solve issues rather than disable features.

[2015-08-27 16:36] normanmaurer commented on #4147
@Scottmitch I think it still make sense to allow it for people that have limited memory constraints etc.

[2015-08-27 16:38] ninja- commented on #4147
@normanmaurer @Scottmitch looking at Recycler, isn't setting the size to 0 giving that effect?

[2015-08-27 16:41] Scottmitch commented on #3166
@ninja- - Yes that is unfortunate :( 9fe9710315bb89b015a3de0fbf4c1019a10e5c85

@tea-dragon - Would you mind providing a re-producer? We may want to move the discussion to another issue too...

[2015-08-27 16:46] Scottmitch commented on #4147
@ninja- - We currently don't allow the property to be set to 0 (see https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/Recycler.java#L51). However doesn't seem like it would hurt if we did allow 0... @normanmaurer - Is this what you had in mind?

[2015-08-27 16:50] Scottmitch commented on #4150
@nmittler - I have a PR for a *bug* in local channel causing out of order events https://github.com/netty/netty/pull/4143. I haven't fully evaluated if this could lead to missed events / leaks.  Lets re-evaluate after this PR gets pulled in?

[2015-08-27 16:51] nmittler commented on #4150
sgtm

[2015-08-27 17:15] Scottmitch commented on #4151
Have you configured your build to pull from sonatype's snapshot repo?

https://oss.sonatype.org/content/repositories/snapshots/io/netty/netty-transport-sctp/4.0.31.Final-SNAPSHOT/

[2015-08-27 17:16] isbo commented on #4135
thanks guys, i will try to get a repro program in a day or two.

[2015-08-27 17:23] #3884 closed

[2015-08-27 17:29] Scottmitch commented on #4121
I have no objection to this. @jpinner ?

@trustin - Would you mind cleaning up the deprecated approach in HttpHeaders / DefaultHttpHeaders as you see fit?

[2015-08-27 17:30] lokeshhctm commented on #4151
Can you please describe where i can configure and how?

[2015-08-27 17:41] Scottmitch commented on #4151
@lokeshhctm - It depends upon your build tool. We generally support maven and checkout http://stackoverflow.com/questions/7715321/how-to-download-snapshot-version-from-maven-snapshot-repository for 1 way to configure maven to pull from sonatype snapshot repo.

[2015-08-27 19:55] r2DoesInc opened #4153 "Licenses structure breaks Android Studio"
Full issue and images posted on SO for image hosting.
http://stackoverflow.com/questions/32258219/gradle-case-insensitive-file-management

Basically, OSX is not case sensitive, and having your licenses in /meta-inf/license conflicts with many others who have a /meta-inf/license file for their licenses.

My thought is that it would be as simple as changing /meta-inf/license to /meta-inf/licenses

N

[2015-08-27 21:06] ninja- commented on #4147
@Scottmitch it's fine when set to 1 [per thread]. I think we can keep it like that.

[2015-08-27 22:43] Scottmitch commented on #4147
@ninja- - I don't fully understand your request. Are you asking for a way to be able to "purge" entries and reduce the size of the stack?  Maybe submit a PR so we can get a better idea?

[2015-08-27 23:50] ninja- commented on #4147
@Scottmitch not purging but the logic should include shrinking also. I am saying that the _current logic_ doesn't suit _any_ type of the app. I proposed a new type of logic for Recycler that would cache the objects, but to a reasonable extent.

[2015-08-28 02:28] jroper commented on #3902
A further update on this, this support is now in the Play master branch, handling request bodies, response bodies, and WebSockets using reactive streams.  Additionally, we've done some initial work in putting support for this into async-http-client, and the good news is that it was very easy to integrate - this I think validates the API design, since now we have two separate libraries using it suc

[2015-08-28 05:19] normanmaurer commented on #3902
Thanks James!

[2015-08-28 06:59] xiaoerlyl opened #4161 "Netty in android"
When I used netty 4.0.29 in my android app to connect my server,  I ran into this bug. Firstly I pressed the "off" button of my android phone to make my phone blank screen. and then press "off" button to light my phone screen
It seems that the exception closed my NIOEventLoopGroup. I don't know what should i do .

08-28 14:47:16.289: W/AbstractChannel(8434): Force-closing a channel whose registrat

[2015-08-28 09:04] hepin1989 commented on #3902
@jroper for the accept connection,I think foreachParallel should help.

[2015-08-28 12:19] trustin commented on #4121
@Scottmitch Will try.. My internal project is near its end, so it's getting a little bit busy here though..

[2015-08-28 13:08] normanmaurer commented on #4147
Fixed

[2015-08-28 13:08] #4147 closed

[2015-08-28 13:37] normanmaurer commented on #4093
@mubarak over the next few days

[2015-08-28 13:37] #4093 closed

[2015-08-28 15:49] Scottmitch commented on #4147
@ninja- - Please open another issue for a feature request for your "purging" / "shrinking" Recycler entries

[2015-08-28 16:17] #4118 closed

[2015-08-28 18:56] normanmaurer commented on #3005
You can now use it with netty-tcnative-1.1.33.Fork6 using linux-x86_64_debian classifier

[2015-08-28 18:56] #3005 closed

[2015-08-28 18:57] normanmaurer commented on #3140
@trustin I think we can close this now as we allow to configure SslContext via a PrivateKey and Certificate and how these are build is up to the user.

[2015-08-28 18:57] #3140 closed

[2015-08-28 18:57] normanmaurer commented on #3374
@systemtrap did you see @trustin 's question ?

[2015-08-28 18:58] #4020 closed

[2015-08-28 19:00] trustin commented on #3005
You had to use hyphen as a separator, though. :-)

[2015-08-28 19:01] normanmaurer commented on #3005
@trustin honestly this is just a "hack" and I plan to do a better way to do this in the next release.

[2015-08-28 19:10] normanmaurer commented on #2677
Let me fix this

[2015-08-28 21:15] #2677 closed

[2015-08-28 21:42] tea-dragon commented on #4146
it's been a while since I tinkered with these, and that was probably on an older version than the one I'm using now -- which is in turn only 4.0.28. It might be fair to interpret those as signs in their favor though since "tinkering" usually means "fixing something causing problems". Anyway, here are (probably at least most) of the system properties currently used in prod (along with their origina

[2015-08-28 21:54] ninja- commented on #4146
@tea-dragon that looks useful. does it also limit PoolSubpage by any chance?

[2015-08-28 22:36] tea-dragon commented on #4146
possibly indirectly. They work well enough for my purposes, but as you can see, they might be a little conservative for a program that primarily does netty biz. For instance, in some cases, i'm just using the buffer pooling to do disk i/o.

[2015-08-28 23:15] ninja- opened #4168 "[Improvement] Fix multiple issues around PoolSubpage / PoolArena"
now after I disabled recycler, it looks like there are few things left to left the application _fresh_ without restarting
(currently the process's RES is around 6GB while the used heap is around 70mb, while the app has no traffic + 1 day uptime)

   2:        142122        9095808  io.netty.buffer.PoolSubpage

I would guess that the PoolSubpage doesn't take a lot in jvm heap, but retains quite a b

[2015-08-28 23:55] Scottmitch opened #4169 "Leak in BinaryMemcacheDecoderTest"
[code]

[2015-08-28 23:55] Scottmitch commented on #4169
@normanmaurer - I discovered this leak while testing my fix to https://github.com/netty/netty/issues/4150.  @trustin - Do the build servers still consider a "leaky" build a failed build?

[2015-08-28 23:57] Scottmitch commented on #4150
I believe I found at least one cause for leaks. PR is pending.

[2015-08-29 00:04] ninja- opened #4170 "epoll force closes connection"
a small (visual) regression when doing nio vs epoll:

When _proxy_ is running on epoll, and the connection to backend is disconnected, the backend server shows a message:
Player lost connection: Internal Exception: java.io.IOException: Error while read(...): Connection reset by peer

instead of "Player lost connection: disconnected"

Any idea of what could be the cause?
(I'll update when I find th

[2015-08-29 01:49] trustin commented on #4169
@Scottmitch Only for pull requests I guess. We could add a dedicated job for leak checks, but maybe PR jobs should find them? (piggyback ftw)

[2015-08-29 02:56] trustin commented on #4169
Fixed in e556958abc61f487ae2d3a7f1d813f429e9f0ccc (4.1) and 52bec9726ff89a5d1223de4fa9474f1222f1a609 (master)

[2015-08-29 02:56] #4169 closed

[2015-08-29 03:12] trustin opened #4171 "ThreadProperties test failure"
https://garage.netty.io/teamcity/viewLog.html?guest=1&buildId=951&tab=buildResultsDiv&buildTypeId=netty_build_oraclejdk8#testNameId3461555976749362710

/cc @normanmaurer

And maybe you could also rename `testThreadDetails` to `testThreadProperties`?

[2015-08-29 03:25] trustin commented on #4153
We do not support 3.5 anymore. Please upgrade to 3.10.x and let us know if the problem still exists.

[2015-08-29 03:27] trustin commented on #2105
@chrisprobst It's in the back burner, but it would be awesome if someone leads this effort.

[2015-08-29 03:28] trustin commented on #2105
We are not sure about Java 8 requirement of Netty 5 yet, but we can at least make sure it works well with lambda expressions and it adopts all the goodies introduced in Java 8 such as `CompletionStage` and more, while ensuring future API compatibility.

[2015-08-29 04:53] normanmaurer commented on #4171
Urgh... Will check

[2015-08-29 10:31] normanmaurer commented on #4171
Fixed

[2015-08-29 10:31] #4171 closed

[2015-08-30 01:08] lonenol commented on #3319
meet the same problem .. the heap is almost the same .
use 4.0.30 final

[2015-08-30 04:50] jiangguilong2000 commented on #3319
@caipanjin I think what you meet is that I met,anyway,the count of WriteAndFlushTask and DefaultHandle in heap is still increased whatever the pressure is very tiny.

pls see my another comment as follows
"here is the log after some players playing game.I find out some problem,
for instance.at 13:35:33~13:35:34 ,that Moment 140 numbers of io.netty.util.Recycler$DefaultHandle been created suddenly,

[2015-08-30 21:53] tomasol opened #4174 "Introduce ability to set TCP_USER_TIMEOUT in transport-native-epoll"
Context:

Netty 4.0.31.Final-SNAPSHOT

I am using ChannelOption.SO_KEEPALIVE together with EpollChannelOption.TCP_KEEP* in order to detect connection problems. Works as expected however when I keep writing to that connection e.g. every second, the connection will not become idle and will not be torn down by the OS.
I've modified transport-native-epoll to add setting for TCP_USER_TIMEOUT  which all

[2015-08-31 09:11] normanmaurer commented on #4170
Without any infos what your code does it's hard to say.

[2015-08-31 09:12] normanmaurer commented on #4161
I have no knowledge of android so I can not help. But maybe as the people who wrote "com.tencent.wetestcontroller.util.NettyClient" ?

[2015-08-31 12:10] #4174 closed

[2015-08-31 15:09] taojiaenx commented on #4040
sorry I have not see this. I cause leak beacuse I set a to big timeoutValue, sorry

[2015-08-31 15:41] Scottmitch commented on #4170
I don't believe this would be an exception generated by Netty.

[2015-08-31 15:50] Scottmitch commented on #3319
@jiangguilong2000 @lonenol @caipanjin  - Please provide a reproducer so we can get to the root cause of the issue.

[2015-08-31 15:52] Scottmitch commented on #4168
@ninja- - Can you share your rational for closing this issue?  Did you find a resolution?

[2015-08-31 15:54] Scottmitch commented on #4169
Thanks for taking care @trustin!

@trustin - PR builds treating leaks as build failures should be sufficient. Although it would be *nice* to have a relatively infrequent spot check leak build on the release branches just incase something slips by.

[2015-08-31 18:07] ninja- commented on #4170
i never said "disconnected" was an exception! It's an _lack_, of exception. Regarding code we are talking just about channel.close() here. I am 90% sure that adding shutdown syscall would make it match behaviour with nio.

[2015-08-31 19:47] Scottmitch commented on #4170
@ninja- - It would be helpful if you describe your issue in terms of Netty expected behavior vs Netty observed behavior.  Your description mixes in application concepts that don't exist in Netty.  We generally don't have knowledge of your application running on top of Netty or what it is doing in these circumstances.

Like for example (I'm trying to guess based upon what you have provided thus far

[2015-09-01 02:42] bobwenx commented on #4127
@normanmaurer after upgrade to latest netty version, there is no exception be thrown!
seems the commit fix the problem.

[2015-09-01 14:23] ninja- commented on #4168
@Scottmitch yeah adding allocator settings works fine for poolsubpage

[2015-09-01 14:29] ninja- commented on #4170
@Scottmitch I will try adding shutdown() and then update this bug with results.

[2015-09-01 17:10] Scottmitch commented on #4168
@ninja- Thanks for the feedback!

[2015-09-01 18:20] dgrabows opened #4180 "HttpProxyHandler has runtime dependency on Java 1.7"
As of 4.1.0.Beta5, io.netty.handler.proxy.HttpProxyHandler has a runtime dependency on Java 1.7+. The download page (http://netty.io/downloads.html) indicates that Java 1.6 is the minimum version supported for Netty 4.X.

The issue appears to be references to java.net.InetSocketAddress.getHostString() in HttpProxyHandler ([here](https://github.com/netty/netty/blob/4.1/handler-proxy/src/main/java/i

[2015-09-01 19:31] Scottmitch commented on #4180
@trustin - Would you mind taking this one?

[2015-09-02 05:18] timboudreau opened #4181 "HttpResponseEncoder removes itself prematurely (?)"
In the [netty-5 branch of Acteur](https://github.com/timboudreau/acteur/tree/netty-5), some tests are failing, with the stack trace entirely in Netty code, claiming that `DefaultFullHttpResponse` is not a message type that can be decoded.

Is the HttpResponseEncoder somehow getting removed from the pipeline prematurely?

Interestingly, HTTP POSTs seem to work, but GETs do not (I am not 100% sure a

[2015-09-02 07:36] longkerdandy opened #4182 "netty-codec MqttDecoder should validate CONNECT reserved flag in variable header"
The MQTT 3.1.1 Protocol Specification says:

MqttDecoder should validate and throw a exception if it not zero.

[2015-09-02 07:36] normanmaurer commented on #4182
@longkerdandy we love contributions... Maybe you could submit a PR with a fix ?

[2015-09-02 12:43] #4150 closed

[2015-09-02 15:59] Scottmitch commented on #4181
Is this for a client or server use case?  Are there any protocol upgrades anticipated?

@timboudreau - Would you be able to verify if this is the case?

[2015-09-02 18:11] timboudreau commented on #4181
Server use case, no protocol upgrades.

Re removal from the pipeline - I suppose I could implement a wrapper Pipeline that logs adds/removes, but that might not be trivial.

[2015-09-02 22:00] timboudreau commented on #4181
The root of the problem is the `100-CONTINUE` response from HttpObjectAggregator.  Workaround is to change it `newContinueResponse()` to return a ByteBuf, not a DefaultFullHttpResponse.

So maybe the problem is the order of the aggregator in the pipeline?  But then, what changed, since it worked before?

[2015-09-02 22:07] Scottmitch commented on #4121
@trustin - I have a PR pending for this. I found another breakage related to this for EMPTY_HEADERS so I'll just address both together.

[2015-09-02 22:25] timboudreau commented on #4181
Workaround [diff here](https://github.com/timboudreau/acteur/commit/d8b6cb3c2fd8def902a210a4161e385577070a46#diff-db7d1b77c0239cf610c56a059a0ee459R209)

[2015-09-02 22:55] mubarak opened #4183 "Netty-4.1.0-Beta6: OpenSSL seems broken (NoSuchMethodError: org.apache.tomcat.jni.SSL.newMemBIO())"
Netty version: Netty-4.1.0-Beta6

Context: When i use Netty-4.1.0-Beta6 with OpenSSL as SSL engine, i am getting

[code]

[code]

Operating system:
[code]

There is a shared library at `/tmp`:
[code]

[2015-09-03 05:44] normanmaurer commented on #4183
@mubarak you need to use netty-tcnative version 1.1.33.Fork6.

[2015-09-03 05:44] #4183 closed

[2015-09-03 06:55] normanmaurer commented on #4151
@lokeshhctm ensure you use maven >= 3.2.1. This should work....

[2015-09-03 06:55] #4151 closed

[2015-09-03 15:03] JuKu opened #4184 "Example securechat is outdatet and doesnt work with the current netty version"
The example securechat is outdatet.
SslContextFactory doesnt exists anymore.

[2015-09-03 15:18] Scottmitch commented on #4181
@timboudreau - Thanks for pointing this out and demonstrating a work around. It appears the `HttpObjectAggregator` has been writing a `FullHttpMessage` since 2013 https://github.com/netty/netty/commit/3444c0665490bfbd3fd100146a11736de9d58d36.

Makes sense since the write operation is going to walk backwards in the pipeline.  Have you tried putting `HttpResponseEncoder` (or `HttpServerCodec`) befor

[2015-09-03 15:23] Scottmitch commented on #4184
@JuKu - What version of Netty are you using?  Can you provide a link as to where `SslContextFactory` is used?

[2015-09-03 17:08] timboudreau commented on #4181
Yup, changing the order of the HttpResponseEncoder solves the problem.

The mystery is why it ever worked.

[2015-09-03 17:08] #4181 closed

[2015-09-03 18:20] ninja- commented on #4168
hm, looks like after more "tests" the settings don't apply to the PoolSubpage...
   2:        176220       11278080  io.netty.buffer.PoolSubpage

any idea what would be the correct setting to keep it fresh?

[2015-09-03 19:54] blucas opened #4185 "SpdyHttpEncoder fails to convert HttpResponse to SpdyFrame"
Netty Version: Latest master (f1eddd6117f5e3109257f911d51b80250e17e11d)

When ```SpdyHttpEncoder``` attempts to create an ```SpdyHeadersFrame``` from a ```HttpResponse``` an ```IllegalArgumentException``` is thrown if the original ```HttpResponse``` contains a header that includes uppercase characters.  The ```IllegalArgumentException``` is thrown due to the additional validation check introduced

[2015-09-03 20:26] ninja- commented on #4168
btw. seems like DEFAULT_CACHE_TRIM_INTERVAL is not used anywhere. was it left not implemented?

[2015-09-03 20:57] benmccann commented on #3907
To give an example from my own project, Play Framework, Avro, Ning async HTTP client, and the MongoDB driver all depend on Netty. So I have 4 different dependencies on Netty. If one of them upgrades their Netty dependency to Netty 5 then I won't be able to use any future releases of that project unless the other three all upgrade as well.

[2015-09-03 21:06] slandelle commented on #3907
* AHC 2.0 (no, it's not named Ning, please) will come with both Netty 3 and Netty 4 support (different modules). I'll probably drop Netty 3 support for 2.1 if bringing HTTP2 support makes keeping a common API impossible.
* Play 2.5 will sit on top of Netty 4 and AHC 2.0 w/ Netty 4.
* I'm pretty confident ReactiveMongo will quickly follow

[2015-09-03 21:26] benmccann commented on #3907
There's no problem with mixing Netty 3 and 4 because the package names are different. The problem is what happens when you try to mix Netty 4 and 5 and can we avoid that being a problem and make it easier for users. I just gave one example and whether that specific example turns out to be problematic or not, there certainly will be combinations of libraries that people use that are indeed problema

[2015-09-03 22:22] garydgregory commented on #3907
We deal with this in Apache Commons projects all the time. Our solution is that when binary compatibility is broken, we change the package name and Maven coordinates. For example org.apache.commons.lang3.

[2015-09-03 22:36] Scottmitch commented on #4185
@blucas - Sorry for breaking you :(. I guess we have at least 2 options:

1. Add a constructor to `DefaultSpdyHeaders` which takes a `boolean validateHeaders` argument which can make header name validation optional.  We would then need to carry this through the SPDY codec to pass along the `boolean` where ever the `DefaultSpdyHeaders` are created.
2. Your suggestion, plus a `boolean convertHeaderN

[2015-09-03 23:26] yeroc commented on #2597
Is this change not being considered at all even for Netty 5?  I don't see any change made to the Javadoc. I agree with others that this is extremely bad practice for Java API.

[2015-09-04 12:05] blucas commented on #4185
@Scottmitch - no problem, it happens to all of us :).

I have made the necessary changes for 1. above (although I've followed the way it was done for HTTP such that if the ```validateHeaders``` is set to ```true``` (default), header names **and** values will be validated)

Do we really need to add a ```boolean convertHeaderNamesToLowerCase``` to ```SpdyHttpEncoder```? We don't do this for HTTP to

[2015-09-04 12:30] JungMinu opened #4186 "Can I request a seminar related to netty?"
@trustin Well, I'm a korean student majoing software engineering who are really into netty and open-source.

For those who want to be involed in netty and open-source, if possible, can I request a seminar or a meeting in person?
Thanks in advance!

[2015-09-04 13:07] ninja- commented on #4168
ok I analyzed it aand the math behind the number of PoolSubpages is 4096 * numDirectArenas

[2015-09-04 13:49] normanmaurer commented on #4180
@dgrabows actually only the "core" has java 1.6 as minimum. Codecs may needed higher java versions. Closing this.

[2015-09-04 13:49] #4180 closed

[2015-09-04 14:02] lkoszanski commented on #4186
Sent from my BlackBerry 10 smartphone on the Bell network.                                                                                                                                                                                                                From: Minwoo JungSent: Friday, September 4, 2015 08:31To: netty/nettyReply To: netty/nettySubject: [netty] Can I request a seminar rel

[2015-09-04 14:06] normanmaurer commented on #4168
@ninja- DEFAULT_CACHE_TRIM_INTERVAL is used:

https://github.com/netty/netty/blob/4.0/buffer/src/main/java/io/netty/buffer/PooledByteBufAllocator.java#L329

Or what branch you are talking about ?

[2015-09-04 14:06] normanmaurer commented on #4170
@ninja- any news ?

[2015-09-04 16:30] ninja- commented on #4168
@normanmaurer I think I am looking up too much on master instead of 4.0...

[2015-09-04 17:25] ninja- commented on #4146
@trustin I analyzed the topic to give you some better defaults. My conclusion is that something like 32-512 per thread would be really fine as a default even for some weird http apps. Additionally you could implement my idea about tracking the "balance" of recycled and used objects.

[2015-09-04 17:27] ninja- opened #4193 "[Improvement] Cache io.netty.buffer.PoolThreadCache$MemoryRegionCache$Entry"
Background:
The mentioned object is commonly created but isn't recycled, causing gc pressure.

Improvement idea:
Recycle the mentioned object using the recycler.

[2015-09-04 17:29] ninja- commented on #4193
Oops! It looks like I wasn't the first one to catch it and it's correct on 4.0 "master" :)

[2015-09-04 17:29] #4193 closed

[2015-09-04 19:59] Scottmitch commented on #4185
It is not strictly necessary. Just a potential fast path or optimization if your environment is controlled.  Feel free to leave it out...we can always add it later.

[2015-09-04 20:05] ninja- commented on #4168
instance of io.netty.buffer.PooledHeapByteBuf@0x6f3f985df278 (108 bytes)
maxCapacity (I) : 2147483647

References to this object:
io.netty.util.Recycler$DefaultHandle@0x6f3f985df258 (40 bytes) : field value

doesn't want to shrink etc. that's one example

[2015-09-04 20:07] Scottmitch commented on #4185
Fixed by https://github.com/netty/netty/pull/4190

[2015-09-04 20:07] #4185 closed

[2015-09-04 21:56] ninja- commented on #4071
this caused a regression that large buffers are kept forever.....you aren't deallocating the buffer before recycling it.

[2015-09-04 23:37] vravish opened #4197 "Netty HTTP/2 Configuration"
I'm trying to set up a Netty client to communicate with Jetty's H2C (HTTP/2) server. I have the server running on localhost at port 8080. I was able to communicate just fine with it using Jetty H2C Client, but am unable to exchange meaningful data between client and server using Netty. I have a bootstrap with NioSocketChannel, keep alive connection, and a handler I made that sends *PRI (asterisk)

[2015-09-06 02:22] ninja- opened #4198 "NullPointer @ at io.netty.buffer.PoolChunk.initBufWithSubpage"
out of nowhere...

Caused by: java.lang.NullPointerException
    at io.netty.buffer.PoolChunk.initBufWithSubpage(PoolChunk.java:381)
    at io.netty.buffer.PoolChunk.initBufWithSubpage(PoolChunk.java:369)
    at io.netty.buffer.PoolArena.allocate(PoolArena.java:194)
    at io.netty.buffer.PoolArena.allocate(PoolArena.java:132)
    at io.netty.buffer.PooledByteBufAllocator.newDirectBuffer(PooledByt

[2015-09-06 06:02] normanmaurer commented on #4198
Will check... Any special setting?

[2015-09-06 14:30] allenzhu commented on #3938
@normanmaurer , is there such a problem ?

[2015-09-06 16:31] normanmaurer commented on #4198
@ninja- ^^

[2015-09-06 16:39] normanmaurer commented on #4198
@ninja- also very strange as this means the `buf` was null. I see no way how this can happen :/

[2015-09-06 16:43] ninja- commented on #4198
@normanmaurer :/ have I written a null by any chance?

[2015-09-06 18:39] tttomat19 opened #4199 "Netty deadlock with custom OIO transports"
Netty version: 5.0.0-Alpha2

I have an application that uses Android Bluetooth as transport. Looking into code for netty-rxtx it happened to be possible to adopt Android Bluetooth API as a transport for Netty.

here's the source for BluetoothChannel: https://gist.github.com/flirtomania/42d0d36668e4176ae2f7

The only issue was some kind of deadlock, when I called `ctx.writeAndFlush()` in handlers n

[2015-09-07 08:20] normanmaurer commented on #4198
@ninja- no... Let me think a bit about it but at the moment I'm not sure how this ever could happen.

[2015-09-07 14:37] ninja- commented on #4198
@normanmaurer that was my fault, sorry for the problem. if you are wondering I had my reference counted object and the counter wasn't thread safe (volatile wasn't enough, needed to change to AtomicInteger...)

[2015-09-07 14:53] trustin opened #4200 "Allow retrieving the domain match lists in DomainNameMapping"
Currently, there's no way to retrieve the list of all domain name patterns and their mapped values. It would be very useful when you have to build another `DomainNameMapping` (or an arbitrary `Mapping`) based on that list. e.g.

[code]

[2015-09-07 14:57] trustin opened #4201 "Consider using builder pattern to construct DomainNameMapping"
`DomainNameMapping.add()` makes `DomainNameMapping` look like it's safe to call `add()` anytime, and this is never true. It's probably better deprecate `add()` and introduce `DomainNameMappingBuilder`.

[2015-09-07 20:26] normanmaurer commented on #4201
+1

[2015-09-08 14:50] nmittler commented on #4197
Jetty's H2C likely doesn't support connections that immediately talk h2.  You probably need to use the [upgrade codec](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ClientUpgradeCodec.java).  You can see an example of how to configure the pipeline [here](https://github.com/netty/netty/blob/c4d861844c8821c1810b20d890f7858f874546e8/example/src

[2015-09-09 00:57] Scottmitch commented on #4197
@vravish - Did that solve your issue?

[2015-09-09 01:04] Scottmitch commented on #4198
@ninja- - Is this a custom `ReferenceCounted` object, or one of Netty's?

[2015-09-09 01:23] vravish commented on #4197
Hi nmittler and Scottmitch,

Thank you for your responses. I was unable to solve the issue because Jetty is not expecting an HTTP/2 Settings header or h2c upgrade header. Based on what I understand from Jetty's H2C client, it needs the PRI HTTP/2.0 message without standard HTTP/2 headers.

I had already looked at the example, but unfortunately Jetty server does not support that type of cleartext u

[2015-09-09 01:40] Scottmitch commented on #4197
Your pipeline looks OK for a HTTP/2 client to talk to a HTTP/2 server not using any TLS/SSL with prior knowledge of HTTP/2 support.

Based on your analysis it seems like the client is doing what is expected [rfc7540, 3.4](https://tools.ietf.org/html/rfc7540#section-3.4), but the server is misbehaving?  Have you verified that the serve is actually receiving the connection preface (via its logs, or

[2015-09-09 10:52] ninja- commented on #4198
@Scottmitch a custom one

[2015-09-09 11:59] normanmaurer commented on #3943
@erimatnor we not do a dns lookup anymore when an ip is used.

[2015-09-09 11:59] #3943 closed

[2015-09-09 11:59] normanmaurer commented on #3900
@SutarSuhas ping

[2015-09-09 12:13] normanmaurer commented on #3781
@almibe did you ever manage to find time ?

[2015-09-09 12:14] normanmaurer commented on #3782
@jknair please reopen if you still see this

[2015-09-09 12:14] #3782 closed

[2015-09-09 12:14] normanmaurer commented on #3796
So I think this was fixed

[2015-09-09 12:14] #3796 closed

[2015-09-09 12:15] normanmaurer commented on #3924
@alvinlin123 it's more or less in maintenance mode and we only fix bugs there atm.

[2015-09-09 12:15] normanmaurer commented on #3914
@louiscryan is this fixed ?

[2015-09-09 12:16] #3895 closed

[2015-09-09 12:17] normanmaurer commented on #3911
@bobwenx sorry this totally fell off my to do list :/ Do you still have problems and if so what are these exactly ?

[2015-09-09 12:18] normanmaurer commented on #3824
@fantayeneh ping... :)

[2015-09-09 12:18] normanmaurer commented on #3814
@trustin I think you fixed this... closing now

[2015-09-09 12:18] #3814 closed

[2015-09-09 12:18] normanmaurer commented on #3813
@trustin I think you fixed this... closing now

[2015-09-09 12:18] #3813 closed

[2015-09-09 12:29] normanmaurer commented on #3657
Closing for now... Please re-open with more details if still an issue

[2015-09-09 12:29] #3657 closed

[2015-09-09 12:30] normanmaurer commented on #3590
I think we fixed this

[2015-09-09 12:30] #3590 closed

[2015-09-09 12:30] normanmaurer commented on #3511
Let us close this ...

[2015-09-09 12:30] #3511 closed

[2015-09-09 12:33] normanmaurer commented on #3292
Closing ... if the issue still exists let me know

[2015-09-09 12:33] #3292 closed

[2015-09-09 12:33] normanmaurer commented on #4186
This is for issues only.. closing

[2015-09-09 12:33] #4186 closed

[2015-09-09 12:34] normanmaurer commented on #4184
@JuKu please reopen if you still see an issue. examples in 4.0, 4.1 and master branch looking good

[2015-09-09 12:34] #4184 closed

[2015-09-09 12:34] normanmaurer commented on #4135
@isbo any news ?

[2015-09-09 12:35] ninja- opened #4203 "flush sometimes ignored, growing outbound entries"
I have experimented with various things, my primary concern is CPU usage.
What I found is that the demand for the buffers is quite high - knowing the Recycler's logic, the needed number of instances at the same time, at peak is:

   1:       5051237      444508856  io.netty.buffer.PooledUnsafeDirectByteBuf
   4:       5050085      323205440  io.netty.channel.ChannelOutboundBuffer$Entry

Obviously

[2015-09-09 12:35] normanmaurer commented on #4116
@grgvineet could you try to find out which specific commit is guilty here ? I have no android for testing.

[2015-09-09 12:37] normanmaurer commented on #4067
@Unisay basically this means you try to register no channels to a EventLoopGroup after it was shutdown. There is nothing we can do about this. It's kind of the same like shutdown a ExecutorService and calling execute(Runnable) after it.

[2015-09-09 12:37] #4067 closed

[2015-09-09 12:39] normanmaurer commented on #4055
@gfrison I still not understand what the problem is... @trustin you ?

[2015-09-09 12:41] normanmaurer commented on #3974
I think this was fixed. Please try with 4.1.0.Beta6 and let us know if you still see problems

[2015-09-09 12:41] #3974 closed

[2015-09-09 12:41] normanmaurer commented on #3973
I think this was fixed... @trustin closing this now

[2015-09-09 12:42] normanmaurer commented on #3972
I think this was fixed by @trustin ... @trustin WDYT ?

[2015-09-09 15:06] LukasWysocki opened #4204 "Broken support of SCTP_INIT_MAXSTREAMS in *SctpServerChannel"
Netty version: 4.0.12.Final (but the suspected code is the same in the current 4.0 branch).

The SCTP_INIT_MAXSTREAMS property is ignored on NioSctpServerChannel (and judging by the source on OioSctpServerChannel too).

JUnit test to reproduce:
[code]

The effect is that directly setting the SCTP_INIT_MAXSTREAMS on NIO SctpServerChannel in Testcase testSctpInitMaxstreamsNioDirect **succeeds**,
whi

[2015-09-09 15:41] normanmaurer commented on #4204
Do you want to provide a pr to fix it?

[2015-09-09 15:42] normanmaurer commented on #4204
Do you want to provide a pr to fix it?

[2015-09-09 15:55] LukasWysocki commented on #4204
I'm on company time - I'll ask (+day of turnaround).

Supposing that I get an OK to fix/re test.
Do you want to:
* have the DefaultSctpServerChannelConfig brought to match DefaultSctpChannelConfig (where the static import is `import static io.netty.channel.sctp.SctpChannelOption.*;`)
* just add ChannelOption to SCTP_INIT_MAXSTREAMS

?

[2015-09-09 15:56] normanmaurer commented on #4204
Yes sounds good

[2015-09-09 16:11] ninja- commented on #4203
A quick pattern which shows how it grows larger than it should/could be...https://gist.github.com/ninja-/5dd5d1f264b21092a15c

[2015-09-09 16:22] louiscryan commented on #3914
yup

[2015-09-09 16:22] #3914 closed

[2015-09-09 17:03] gtomassi commented on #3657
@normanmaurer @buchgr
I'm fairly sure this code is broke and you want to reopen this issue..

I took a brief look at the JsonObjectDecoder. Am I incorrect that lines 172-176 make the state of the "idx" variable used for reading indeterminable since the input buffer (in) is at an unknown writer index determined somewhere upstream in the incoming pipeline? As I said I'm not 100% clear on the working

[2015-09-09 17:04] ninja- commented on #4203
I am pretty sure that it's forceFlush getting in my way...I'll post the stacktraces in a sec

[2015-09-09 17:56] ninja- commented on #4203
it's a mess to analyse so I am sorry if I messed something up...but it seems like the original problem is caused that flush() doesn't ALWAYS flush as desired and sometimes just adds the message to queue and ignores.

[2015-09-09 19:22] ninja- commented on #3657
@gtomassi regarding part about slices and idx, it's safe because ByteToMessageDecoder makes sure not to "move" the buffer IF a slice has been created. so you would need to look deeper for the problem. If your custom decoder works with the protocol and you just consider it slow it's fairly easy to optimize from this point so I can have a look tomorrow.

[2015-09-09 19:52] normanmaurer commented on #3721
@ejona86 @Scottmitch @nmittler @louiscryan is this something we need to fix before 4.1.0.Final ?

[2015-09-09 19:53] normanmaurer commented on #3715
Was fixed via https://github.com/netty/netty/pull/3753

[2015-09-09 19:53] #3715 closed

[2015-09-09 19:53] normanmaurer commented on #3711
@louiscryan @Scottmitch @ejona86 @nmittler is there anything we need to do before 4.1.0.Final ?

[2015-09-09 19:54] normanmaurer commented on #3699
I think this was fixed

[2015-09-09 19:54] #3699 closed

[2015-09-09 19:55] normanmaurer commented on #3597
@Scottmitch is this still on your to do list ?

[2015-09-09 19:55] normanmaurer commented on #3523
Was merged as part of https://github.com/netty/netty/pull/3620

[2015-09-09 19:55] #3523 closed

[2015-09-09 19:55] gtomassi commented on #3657
@ninja-
I'm sure we could dive in and figure it out but not worth the effort, the whole thing needs to be replaced.

A few comments:
 - No I don't consider it slow, and even if I did I wouldn't really care about that. I care that it doesn't fail!
 - It would need the additional support of all possible string characters as buchgr mentioned above.
 - It would also need the "streamArrayElements" opti

[2015-09-09 19:56] #3486 closed

[2015-09-09 19:56] normanmaurer commented on #3432
@marcottedan I think without a reproducer it will be impossible to help here :(

[2015-09-09 19:58] normanmaurer commented on #3301
Was fixed.. by https://github.com/netty/netty/commit/56148832816a6f215abd553c8ef4728189571474

[2015-09-09 19:58] #3301 closed

[2015-09-09 19:59] normanmaurer commented on #3196
@Scottmitch is this still on your to do list ? I think we need this for 4.1.0.Final

[2015-09-09 20:04] louiscryan commented on #3711
Let me do a little digging but hopefully not

[2015-09-09 20:07] normanmaurer commented on #3105
@Scottmitch I just looked through the code and at least intellij did not show me any warnings regarding `@deprecated` usage. Are you sure this still applies ?

[2015-09-09 20:09] nmittler commented on #3721
I don't think so. We seem to be conforming to the spec since we're checking the size on the inbound frame.

[2015-09-09 20:10] normanmaurer commented on #3059
Closing it... @shevek-nebula if you still think there are problems please reopen.

[2015-09-09 20:10] #3059 closed

[2015-09-09 20:12] normanmaurer commented on #2975
@g-eorge sorry for the delay but I think this is fixed in 4.1.0.Beta6. If the issue still exists please reopen.

[2015-09-09 20:12] #2975 closed

[2015-09-09 20:16] normanmaurer commented on #2806
This was fixed by #2834

[2015-09-09 20:16] #2806 closed

[2015-09-09 20:18] normanmaurer commented on #3721
@nmittler so closing ?

[2015-09-09 20:18] #2474 closed

[2015-09-09 20:19] normanmaurer commented on #1980
@flozano I will close this for now ... please re-open if it still happens with the latest release and provide infos how to reproduce

[2015-09-09 20:19] #1980 closed

[2015-09-09 20:20] normanmaurer commented on #1799
I think it is supported already now since some time

[2015-09-09 20:20] #1799 closed

[2015-09-09 20:21] normanmaurer commented on #562
@trustin let us close this for now... I think there is no interest

[2015-09-09 20:21] #562 closed

[2015-09-09 20:21] buchgr commented on #3657
@gtomassi

I am happy to write you the JSON decoder of your dreams and explain to you why there is no race condition in the current implementation. I am not saying there might not be a bug. My best guess would be that it could be a character encoding issue, since we are operating on bytes and the JSON Spec actually requires Unicode, with different allowed encodings i.e. UTF-8, UTF-16, ...

Feel fr

[2015-09-09 20:21] nmittler commented on #3721
@ejona86 thoughts on closing?

[2015-09-09 20:24] Scottmitch commented on #3721
wouldn't hurt to check the write size...make it harder for people to put bad stuff out on the network.

[2015-09-09 20:25] normanmaurer commented on #3721
@Scottmitch care to submit a pr ;) ?

[2015-09-09 20:29] Scottmitch commented on #3721
@normanmaurer - Will do.

@nmittler - Any objections?

[2015-09-09 20:34] normanmaurer commented on #3721
@Scottmitch :heart_eyes:  ;)

[2015-09-09 20:40] Scottmitch commented on #3721
pr pending

[2015-09-09 20:46] Scottmitch commented on #3105
@normanmaurer - Yes it looks like it is still an issue. `com.jcraft.jzlib.Inflater` extends `ZStream` which has been deprecated. The majority of the usages of the `Inflater` in [JZlibDecoder](https://github.com/netty/netty/blob/master/codec/src/main/java/io/netty/handler/codec/compression/JZlibDecoder.java) are deprecated, and `Deflater` in [JZlibEncoder](https://github.com/netty/netty/blob/master

[2015-09-09 20:47] normanmaurer commented on #3105
@Scottmitch strange enough intellij shows no warnings... I will check again tomorrow and fix it

[2015-09-09 20:48] Scottmitch commented on #3105
@normanmaurer - Thanks!

[2015-09-09 20:53] Scottmitch commented on #3597
@normanmaurer - I don't think we have diagnosed twitter's hapck as a bottleneck that warrants optimization as of now. I think there is an opportunity for improvement, but not sure this is a high priority issue.  I think most of the usages of twitter's hpack and so we should be able to improve this in the future if necessary.

@nmittler - Thoughts?

[2015-09-09 20:54] nmittler commented on #3721
@Scottmitch no objections ... thanks for taking care

[2015-09-09 20:55] nmittler commented on #3597
@Scottmitch Yeah I think we can just close this.  @buchgr had done some profiling and hpack was not on his radar.

[2015-09-09 20:59] lukehutch commented on #3301
Thanks!

[2015-09-09 21:00] #3597 closed

[2015-09-09 21:01] normanmaurer commented on #3597
Ok cool... Trying to cleanup a bit the issue tracker ;)

[2015-09-09 21:02] Scottmitch commented on #3597
@normanmaurer +1. Thanks for scrubbing the issues!

[2015-09-09 21:14] marcottedan commented on #3432
@normanmaurer I totally understand. Sorry for not having able to help more.

[2015-09-09 21:14] #3432 closed

[2015-09-09 22:38] vravish commented on #4197
I believe that the problem is the way I'm sending the request. When I use the above code (with the connection preface), Jetty is saying that it's not a proper request but just a message, and that it wants an actual request. Do you know how to send a request from the handler once the connection has been established?

[2015-09-09 22:42] vravish commented on #4197
Also, am I adding the correct class to the pipeline? I'm not sure if there's another class I'm supposed to use in the pipeline (in the code I gave above) besides Twitter's HttpConnectionHandler.

I tested with Telnet that the Jetty server behaves just fine when it receives a Get HTTP/2 request prefaced with PRI HTTP/2.0. I don't believe that the problem is with Jetty. Please let me know.

[2015-09-10 02:15] buchgr commented on #3657
I strongly advise against anyone working with @gtomassi on a professional basis. After talking with him for ~10 minutes over the phone about how Netty works and how the code works, I told him that I am happy to set up a contract (as he claimed in his previous comment) and provide him with support. He then immediately changed tone and told me that "I clearly don't understand how Netty works" and th

[2015-09-10 08:54] normanmaurer commented on #3105
@Scottmitch I may be confused but for me it looks like they only deprecated `ZStream` in terms of make it "package-private" later. So I think we are good in terms of API usage.

See also:
https://github.com/ymnk/jzlib/blob/1.1.3/src/main/java/com/jcraft/jzlib/ZStream.java#L43

[2015-09-10 08:58] normanmaurer commented on #4203
@ninja- the problem is that you are not stop "writing" if Channel.isWritable() return false. Even if you call `flush()` the flush will only happen once the underlying socket will be come writable again.

[2015-09-10 08:59] normanmaurer commented on #4170
@ninja- ping...

[2015-09-10 09:02] normanmaurer commented on #3939
@zhenyu-zhou we not do any controlling by our own. What we have is the ability to get notified when a Channel becomes non writable and writable again. It's up to the user to back-up and continue in this cases-

[2015-09-10 09:02] #3939 closed

[2015-09-10 09:04] normanmaurer commented on #3936
@fireinmyveins you may want to adjust the max number of objects that are cached by the Recycler if you need to ensure the memory foot print is lower.

see:
https://github.com/netty/netty/blob/4.0/common/src/main/java/io/netty/util/Recycler.java#L51

[2015-09-10 09:04] #3936 closed

[2015-09-10 09:06] normanmaurer commented on #3938
@allenzhu sorry still had no time... but from what I read here there may be some race possible.

[2015-09-10 09:08] normanmaurer commented on #3700
@nmittler is this still needed or can we close this ?

[2015-09-10 09:11] normanmaurer commented on #3697
@GoffPaoli you seem to write the same ByteBuf instance multiple times without calling `retain()`

[2015-09-10 09:11] #3697 closed

[2015-09-10 09:12] normanmaurer commented on #3568
@lime62 this should be fixed now

[2015-09-10 09:12] #3568 closed

[2015-09-10 14:13] nmittler commented on #4197
@vravish See my https://github.com/netty/netty/issues/4197#issuecomment-138590464. I still believe your problem is that Jetty H2C only supports the [HTTP/2 upgrade protocol](https://httpwg.github.io/specs/rfc7540.html#discover-http). The way you're configuring the pipeline, it will just start talking HTTP/2 right away (without upgrading from HTTP/1.1 first) ... which won't work.

[2015-09-10 14:16] nmittler commented on #3700
@normanmaurer I think we can close this for now.  Again, hpack doesn't seem to be a hotspot ATM.

[2015-09-10 14:17] #3700 closed

[2015-09-10 14:24] ninja- commented on #4170
@normanmauer i can test it today. It's just one line od code

[2015-09-10 14:25] ninja- commented on #4203
@normanmauer so I am supposed to cache them by myself? Isn't the solution to set the channel marks in some way so it would be writable?

[2015-09-10 16:30] ninja- commented on #4170
@normanmaurer it got more complicated because I now see shutdown() syscall is used in some places. so I am not sure where to insert it.

[2015-09-10 16:40] ninja- commented on #4170
here's your fix, I tested it and it closes the connection properly now (no ugly message!)

[code]

[2015-09-10 16:42] normanmaurer commented on #4170
Thanks ... Looking

[2015-09-10 16:58] ninja- commented on #4203
@normanmaurer I created a debug in writePacket() before channel.writeAndFlush that shows if Channel.isWritable() returns false. It always returns true while the "flush ignore" behaviour still applies. Are you sure that isWritable() could be the only cause here?

[2015-09-10 17:48] ninja- commented on #4203
@normanmaurer I did a working fix inside netty internals :D I'll open you a bug without all this nonsense :-)

[2015-09-10 17:59] normanmaurer commented on #4170
@ninja- do you use spliceTo(...) ?

[2015-09-10 18:01] ninja- commented on #4170
@normanmaurer no I don't think so, I don't even know what's that

[2015-09-10 18:02] normanmaurer commented on #4170
@ninja- ups sorry... I meant `spliceIn(...)`... If you not use it I think this can not have anything to do with this as pipeIn and pipeOut are only != -1 if `spliceIn(...) is called at some point.

[2015-09-10 18:04] ninja- commented on #4170
@normanmaurer yea I guess I could quickly get rid of this fix to get a 100% confirmation that it's doing it's job...

[2015-09-10 18:09] ninja- opened #4205 "[FIX INCLUDED] Improrer use of the "write" flag causes flush() to be ignored, increasing used resources"
Scenario:
netty 4.1
user calls writeAndFlush(packet)

Expected behaviour:

the packet is ALWAYS written and flushed...
(want a unit test in the future? stress writeAndFlush() + check that outbound buffer is empty)

What can happen:

the explict flush can be ignored because of improrer use of the OP_WRITE/EPOLLOUT flag.......
(it only gets called later on by the event loop)
it's a pretty serious bu

[2015-09-10 18:11] ninja- commented on #4203
filtered nonsense and created #4205

[2015-09-10 18:12] normanmaurer commented on #4203
Let me close this first....

[2015-09-10 18:12] #4203 closed

[2015-09-10 18:18] Scottmitch commented on #3105
@normanmaurer - Yes it seems that is their intention. However that doesn't change the fact that we are using deprecated code. Are you suggesting we should take no action and continue to use deprecated code?

[2015-09-10 18:24] ninja- commented on #4205
I confirmed on production that this brings the number of $Entrys back to ~ 1 per thread instead of thousands,millions etc...

[2015-09-10 18:28] ninja- commented on #4170
@normanmaurer I can't get it to uncleanly close connection without the fix......that's weird, I doubt you have recently fixed this by accident. I'll get back to this bug when I could get it to show unclean disconnect. Maybe it would be easier to spot the difference on production, so I'll test it there.

[2015-09-10 18:30] Scottmitch commented on #3105
@normanmaurer - After further investigation I agree with you. Eclipse is not being "smart" in this case and the methods should be fine to use. Sorry for the noise (+1 for IntelliJ :cry:).

[2015-09-10 18:30] #3105 closed

[2015-09-10 18:32] normanmaurer commented on #3105
@Scottmitch thanks... I almost thought I'm crazy =P

[2015-09-10 18:38] Scottmitch commented on #3105
@normanmaurer - Nope its just me :stuck_out_tongue_winking_eye: (and Eclipse)

[2015-09-10 18:52] normanmaurer commented on #4205
@ninja- actually the fix is not correct as this will cause unnecessary cpu usage. That said there is a bug and I'm working on a fix as we speak

[2015-09-10 18:53] ninja- commented on #4205
:yellow_heart:

[2015-09-10 18:53] Scottmitch commented on #4205
@ninja- - Thanks for reporting and pointing us in this right direction!

[2015-09-10 18:55] ninja- commented on #4205
@Scottmitch :-) punching every bug on my way, I hope it's going to be the last one for some time!

[2015-09-10 19:04] vravish commented on #4197
Hi nmittler,
By upgrade, do you mean through upgrade headers or through the connection preface? I double checked with people from Jetty and by using Telnet that if I transmit the preface, I receive HTTP/2 settings properly but Jetty does not currently support upgrade through the headers. As far as I know, Netty's provided documentation and examples only discuss the header approach but not the conn

[2015-09-10 19:10] nmittler commented on #4197
@vravish Yep, looks like Jetty does support directly using HTTP/2.

From https://webtide.com/introduction-to-http2-in-jetty/

From what you describe, it sounds like the initial handshake succeeds and Jetty/Netty are talking HTTP/2.

However, I'm confused by your code, which appears to be using a `HttpConnectionHandler` ... is that a type-o?

[2015-09-10 19:17] nmittler commented on #4197
@vravish I missed your comment https://github.com/netty/netty/issues/4197#issuecomment-139064924.

We don't know the state of or maintain Twitter's HTTP/2 implementation.  I suggest you either migrate to our `Http2ConnectionHandler` or ping the twitter folks for help.

[2015-09-10 19:17] Scottmitch commented on #4197
Good point @nmittler my https://github.com/netty/netty/issues/4197#issuecomment-138749504 was made in error. I though `Http2ConnectionHandler` was being used.

[2015-09-10 19:21] vravish commented on #4197
@nmittler @Scottmitch HttpConnectionHandler is the handler that takes each HttpFrame and writes it out to the stream using an encoder. When I use it, I notice that Jetty does receive the request in the right format, but it won't send the response, either because I'm missing the handler from the pipeline or because the client is not sending some other piece of data that the server wants.

What is t

[2015-09-10 19:24] ninja- commented on #4205
@normanmaurer note that I wasn't able to get flush() to break outside the first few seconds after a player connects. maybe that will give you some tip.

[2015-09-10 19:27] nmittler commented on #4197
@vravish could you provide some or all of the code for `HttpConnectionHandler`? It's still not clear how or when you're sending HTTP/2 frames.

[2015-09-10 19:29] vravish commented on #4197
HttpConnectionHandler is designed for HTTP/2, even though its name does not have HTTP/2.

Here is the link on Github to the source: https://github.com/twitter/netty-http2/blob/master/src/main/java/com/twitter/http2/HttpConnectionHandler.java

[2015-09-10 19:38] nmittler commented on #4197
@vravish ok, so you *are* using Twitter's handler. So whatever problem you're having isn't with Netty, it's between the twitter handler and Apache H2C.  We don't maintain this handler ... I suggest you contact the Twitter folks for help.

[2015-09-10 19:40] #4197 closed

[2015-09-10 19:43] vravish commented on #4197
@nmittler I was unable to use Netty's Http2ConnectionHandler to exchange data between client and server beacuse Http2ConnectionHandler tries to do the proper h2c upgrade which Jetty won't support. Which handler would you recommend for this purpose? Or is there a different way I should be using Http2ConnectionHandler besides the way mentioned in the example?

[2015-09-10 19:52] nmittler commented on #4197
@vravish actually it doesn't.  If you use `Http2ConnectionHandler` directly (without `Http2ClientUpgradeCodec.java`) it won't attempt the HTTP/1.1->HTTP/2 upgrade. So basically just replace your current usage of `HttpConnectionHandler` with our `Http2ConnectionHandler`.

[2015-09-10 19:59] vravish commented on #4197
@nmittler And then should I just send the request the same way that it's sent in the Netty http2 example? Is there anything else I should do to my code to make it work?

[2015-09-10 19:59] Scottmitch commented on #4205
@ninja- - @normanmaurer has a PR pending approval. It will be pushed upstream soon. When it is upstream we will ask you to verify the fix :)

[2015-09-10 20:00] ninja- commented on #4205
@Scottmitch :heart_eyes: it's 1 minute for me to verify the fix after it's commited somewhere

[2015-09-10 20:01] nmittler commented on #4197
Yeah I assume that should work.

[2015-09-10 20:14] ninja- commented on #4205
Honestly I would just wrap doWriteSingle and doWriteMultiple with a while(...). It's not like there is a better way - we can't just return the function before everything is written. No idea what Norman did because I guess you guys are handling this PR on a private repo or something?

[2015-09-10 20:16] normanmaurer commented on #4205
@ninja- just have a bit patience... a pr with a fix will be upstream soon.

[2015-09-10 20:41] vravish commented on #4197
So should I use any other Http2FrameListener in the constructor of Http2ConnectionHandler, or is Http2FrameAdapter enough? What is the purpose of this class in general?

[2015-09-10 20:53] nmittler commented on #4197
`Http2FrameListener` is how you listen to inbound frames. For example: https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/InboundHttp2ToHttpAdapter.java, receives inbound HTTP/2 frames and converts them to HttpMessages.

[2015-09-10 21:18] ninja- commented on #4170
ok I confirm the difference with and without the fix

[code]

[2015-09-10 23:34] vravish commented on #4197
Would you please let me know how to set it up then? I'm trying to change the handler passed into the handler method of Bootstrap, but it's not working. I'm not able to initialize the handler properly even when I do something like
[code]
for my handler that I pass into the bootstrap. Please let me know.

[2015-09-11 06:50] Scottmitch commented on #4197
@vravish - Please post questions on stack overflow in the future. Github is to report issues or request features.

`InboundHttp2ToHttpAdapter` is designed to turn HTTP/2 frame events into HTTP/1.x objects and fire them as events up the Netty pipeline so you can use a pipeline that is built for HTTP/1.x.  It is not required to in order to use the HTTP/2 codec. However if you like this approach then

[2015-09-11 11:10] rlz opened #4206 "netty-4.0.31.Final crash with SIGSEGV under load (-Dio.netty.noUnsafe=true is used)"
Hello,

We are using netty for king of proxy server under heavy load. In our test netty crash with SIGSEGV. I found similar bug here and recommendation to run with -Dio.netty.noUnsafe=true in it. We try this solution. First of all we have found that our code run faster. The second - it continue to crash with SIGSEGV:

[code]

[2015-09-11 11:17] normanmaurer commented on #4206
Could you share a reproducer? Also I'm understanding it correctly that with noUnsafe it runs faster?

[2015-09-11 11:28] rlz commented on #4206
Yes, it was surprise for us, but with 30000 QPS and unsafe code we have 50% CPU usage. With no-unsafe we archive same CPU load with 60000 QPS.

It is hard to share reproducer. It is very specific for us. I can try to create something similar, but we very limited in time.

[2015-09-11 11:46] normanmaurer commented on #4206
@rlz that is very surprising for me... without a reproducer I'm not sure I can figure out what is wrong :/

[2015-09-11 12:18] ninja- commented on #4206
I have investigated this long time ago and found that it's because it's out of memory even if it doesn't look like it is.

[2015-09-11 12:21] ninja- commented on #4206
@rlz I would go for epoll.

[2015-09-11 12:22] ninja- commented on #4206
here's your proof :)

[code]

[2015-09-11 17:03] grgvineet commented on #4116
@normanmaurer The commit causing issue is this "f46a3d74d0637aeb51326cceccfbee950d9e6838 Reduce memory copies when using OpenSslEngine with SslHandler". I will say it again, the issue is only in Android 5.0 and in only client mode but still it will be nice if it work in that too :) . Let me know if any further help is needed.

[2015-09-11 20:06] WhiteTrashLord commented on #4205
Does it affect also 4.0? I have a too high CPU usage with 4.0 :(

[2015-09-11 20:17] ninja- commented on #4205
@WhiteTrashLord yeah it's a very old bug actually. I tried fixing it myself but I increased cpu usage 2x (while fixing outbound entry count) so I quickly reverted.

@normanmaurer any news or are you going to finish this after weekend?

[2015-09-11 20:25] ninja- commented on #4206
@rlz

[2015-09-11 20:34] Scottmitch commented on #4205
@WhiteTrashLord - Yes it impacts 4.0. This bug is more focused on making sure Netty registers for a channel writable event (if the channel is unable to accept all data we try to write...1 case was missed). This bug would likely manifest it self first as memory issues rather than CPU.  If you are able to diagnose unexpected Netty behavior feel free to open another issue.

[2015-09-11 20:35] normanmaurer commented on #4206
@ninja- @rlz this does not look like it's related to an out of memory error.

[2015-09-11 20:44] ninja- commented on #4206
Event: 988.932 Thread 0x00007f06507c4000 Exception <a 'java/lang/OutOfMemoryError'> (0x0000000779e47aa8) thrown at [/HUDSON/workspace/8-2-build-linux-amd64/jdk8u51/3951/hotspot/src/share/vm/prims/unsafe.cpp, line 602]

[2015-09-11 21:01] ninja- commented on #4206
it's quite clear to me what happened when reading the crash report.
the needed part of the heap - paroldgen - was full at the time this native function was called. If it were to try garbage collection in that moment, it would be able to get some free memory to continue. But it got _just_ into the moment when it's full and where the garbage collector would collect garbage first, if it wasn't native

[2015-09-11 21:06] ninja- commented on #4205
@Scottmitch so you guys are working on it outside of the public repo or something?

[2015-09-12 01:00] WhiteTrashLord commented on #4206
Can somebody else check if io.netty.noUnsafe=true is really better with Java 8?

I just made some tests on my Raspberry test server. I couldn't see big differences.
But I got this information:

INFO: Your platform does not provide complete low-level API for accessing direct buffers reliably. Unless explicitly requested, heap buffer will always be preferred to avoid potential system unstability.

:

[2015-09-12 01:15] WhiteTrashLord opened #4207 "Netty + Linux ARM 32 bit JVM"
Anybody here uses Netty with a Linux ARM 32 bit JVM?

Can I get epoll working when I compile it myself?

[2015-09-12 01:53] trustin commented on #3972
Not fixed yet

--
https://twitter.com/trustin
https://twitter.com/trustin_ko
https://twitter.com/netty_project

On Wed, Sep 9, 2015, at 09:42 PM, Norman Maurer wrote:

Links:

  1. https://github.com/trustin
  2. https://github.com/trustin
  3. https://github.com/netty/netty/issues/3972#issuecomment-138896842

[2015-09-12 02:11] Scottmitch commented on #4206
@WhiteTrashLord - Please ask questions on stackoverflow (more likely others will see and benefit from them).

This log line comes from [PlatformDependent](https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/internal/PlatformDependent.java#L96) and is because [hasUnsafe()](https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/internal/PlatformDepend

[2015-09-12 02:16] Scottmitch commented on #4207
@WhiteTrashLord - As stated in https://github.com/netty/netty/issues/4206#issuecomment-139702516 please ask questions on stack overflow.  If/When you do attempt to compile your self and discover issues, or would like to request a feature feel free to re-open with more info.

[2015-09-12 02:16] #4207 closed

[2015-09-12 03:40] dmk23 opened #4208 "inconsistencies of DnsNameResolver.query() APIs in 4.1-beta6"
I had a chance to migrate my code to the latest API (per https://github.com/netty/netty/pull/3979) and would like to share some feedback on using it in practice on a large scale.

With this mind I've implemented my own retry logic, retrying all DNS codes other than NOERROR or NXDOMAIN up to a certain number of times and reporting the final code. I've also collected stats on how many queries finish

[2015-09-12 03:52] allenzhu commented on #3938
@normanmaurer yeah, it looks like that

[2015-09-12 04:05] dmk23 commented on #3974
So far, so good. If the problem re-occurs I'll report it.

[2015-09-12 04:09] dmk23 commented on #3973
I agree this original issue can be closed, but there are some "spillover" questions in terms of API design, that I just filed separately https://github.com/netty/netty/issues/4208

[2015-09-12 04:25] dmk23 commented on #3976
I think this is now superceded by https://github.com/netty/netty/issues/4208 and can be closed

[2015-09-12 04:25] #3976 closed

[2015-09-12 11:40] WhiteTrashLord commented on #4206
@Scottmitch

I just tested it again on a 64 bit Linux system. I also see the warning there:

INFO: Your platform does not provide complete low-level API for accessing direct buffers reliably. Unless explicitly requested, heap buffer will always be preferred to avoid potential system unstability.

But only with this flag: -Dio.netty.noUnsafe=true

It would be good if there would be a different warn

[2015-09-12 18:18] ninja- opened #4209 "[Improvement] Recycle channel promises for write ?"
I have changed the model of my proxy app to work with AUTO_READ = false hoping to save some CPU(I am yet to test, if it's worth it).
This introduced need to partially remove usage of voidPromise and use a real promise along with a listener that triggers a read, after write finished. Now that was creating one promise per write and I didn't quite like it. I used a very pretty hack to workaround this

[2015-09-14 03:32] trustin opened #4210 "Http2ConnectionHandler does not close the stream 1 (HTTP_UPGRADE_STREAM_ID)"
`Http2ConnectionHandler` creates the stream 1, but it doesn't seem to close it anywhere. As a result, a cleartext HTTP/2 connection is never closed even if all streams but the upgrade stream have been closed.

If I understood correctly, the upgrade stream should be closed as soon as the upgrade response is sent/received. Am I correct?

[2015-09-14 03:48] trustin commented on #4210
Given that the upgrade stream can't be used for any other purpose then receiving the upgrade response and we send the upgrade response without going through the HTTP/2 code path, it's perhaps just fine not to create it at all?

[2015-09-14 03:49] trustin commented on #4210
/cc @Scottmitch @nmittler

[2015-09-14 06:16] ninja- commented on #4205
@normanmaurer @Scottmitch any update after the weekend?

[2015-09-14 10:07] gfrison commented on #4055
using the NoopNameResolver the problem is over.
Closing issue.

[2015-09-14 10:07] #4055 closed

[2015-09-14 15:55] jfarcand opened #4211 "[ForkJoinPool] Thread Local Leak detected"
The Atmosphere Framework bundles the [ForkJoinPool](https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/internal/chmv8/ForkJoinPool.java) implementation of Netty. It seems there is a Thread Local leak as reported [here](https://github.com/Atmosphere/atmosphere/issues/2048)
[code]
When using the JDK7/8 implementation the leak doesn't occurs (no error message) so I suspect

[2015-09-14 16:01] slandelle commented on #4211
Note that those `Submitter` are just `int` wrappers, so I think the leak is more of an annoying warning than a severe issue.

[2015-09-14 16:06] jfarcand opened #4212 "[RFE][Backport to 4.1] Add WebSocket Extension handlers for client and server."
Backport https://github.com/netty/netty/commit/282d6e73b82ec943a739201f7be1985c45ef032b so `permessage-deflate` can be used in production once `4.1` is released.

[2015-09-14 19:04] normanmaurer commented on #4205
@ninja- https://github.com/netty/netty/pull/4216 should fix it

[2015-09-14 19:13] ninja- commented on #4205
@normanmaurer i'll deploy it tomorrow and check. I tried somthing similar and CPU usage rocketed...is your fix correct in this matter?

[2015-09-14 22:50] drtimwright commented on #2597
It would be really good if the Netty API declares all the checked exceptions that are thrown. Throwing undeclared checked exceptions is considered very bad practice. And, probably like many other people here, I've just wasted several hours trying to figure out WTF was happening.

[2015-09-15 06:14] Scottmitch commented on #4205
@ninja- - I think the expectation is that we should only be registering for the write event from epoll when necessary. I wouldn't expect CPU to spike.  Please try and report back.

[2015-09-15 06:19] Scottmitch commented on #4212
@jfarcand - We love PRs :smile: Any interest in helping on with this one?

[2015-09-15 06:40] Scottmitch commented on #4210
@trustin - I think we need the stream as it is supposed to carry a response [1][2]. However it looks like we have a bug in that we create the stream in the half closed state on the server. I think it should only be half closed on the client [2]. Also note that you can protect against a "mis-behaving" peer that does not close all streams by using [gracefulShutdownTimeoutMillis](https://github.com/n

[2015-09-15 06:48] Scottmitch commented on #4210
@trustin - I originally said there may be a bug because the server's stream is half closed. I though it was half closed local...which it is not...so disregard this.

Do you have a unit test that demonstrates the issue? Are you sending a response back with the EOS flag set?

[2015-09-15 07:00] trustin commented on #4210
@Scottmitch I'm using it via `HttpToHttp2ConnectionHandler` and just writing a plain `FullHttpResponse`. Is there a way to set the EOS flag in this case?

[2015-09-15 07:07] trustin commented on #4210
Actually the upgrade response is sent by [`HttpServerUpgradeHandler`](https://github.com/netty/netty/blob/c4d861844c8821c1810b20d890f7858f874546e8/codec-http/src/main/java/io/netty/handler/codec/http/HttpServerUpgradeHandler.java#L313)

[2015-09-15 07:10] trustin commented on #4210
So.. the right fix would be:

- Make server close the stream 1 in `HttpServerUpgradeHandler` once the upgrade response is sent.
- Make client close the stream 1 in `HttpClientUpgradeHandler` once the upgrade response is received.

[2015-09-15 07:13] trustin commented on #4210
But.. IIRC, `HttpClientUpgradeHandler` handles the response and *then* configures the pipeline for HTTP, so it seems to me that the stream 1 is supposed to be closed already when upgraded from HTTP/1 cleartext?

[2015-09-15 07:18] trustin commented on #4210
So.. the even righter fix would be:

- Make server close the stream 1 in `HttpServerUpgradeHandler` once the upgrade response is sent.
- Do not create the stream 1 in `Http2ClientUpgradeCodec.upgradeTo()`.

However, I'm not sure if this will affect the preface-based upgrade, which is defined in https://tools.ietf.org/html/rfc7540#section-3.5 (Do we ever support this?)

[2015-09-15 07:20] trustin commented on #4208
Thanks. Will take a look during weekends.

[2015-09-15 07:30] normanmaurer commented on #4209
@ninja- your implementation may be good for your use-case but very problematic for a general usage as you never know how long the user will hold a reference to the ChannelPromise.

[2015-09-15 07:30] #4209 closed

[2015-09-15 07:56] #3687 closed

[2015-09-15 07:56] normanmaurer commented on #3687
@gbrd sorry that it took so long... I somehow missed it :(

[2015-09-15 12:02] moyiguket commented on #3458
step1、update maven
step2、update m2 setting.xml (http://stackoverflow.com/questions/8885680/failed-to-build-latest-netty-snapshot)

[2015-09-15 12:30] ninja- commented on #4209
@normanmaurer ok

[2015-09-15 13:56] CodingFabian opened #4224 "Spdy Server Push fails to work"
After upgrade to 4.1.0.Beta6 server push no longer works.

initially nothing worked anymore, but after backporting the fixes from #4185 and the header validation, it worked again

[2015-09-15 14:13] CodingFabian commented on #4224
ok, this has been resolved on our side, we were using an uppercase header in our push response which failed validation

[2015-09-15 14:13] #4224 closed

[2015-09-15 14:34] CodingFabian commented on #4185
Just a heads up: SpdyHttpHeaders.Names are still uppercase, is that correct?

[2015-09-15 16:58] buchgr commented on #4211
Also the Netty `ForkJoinPool` is just a copy of the OpenJDK FJP. So maybe a simple up date to the latest OpenJDK version would resolve this.

[2015-09-15 17:13] slandelle commented on #4211
@buchgr I wonder if it's actually a fork of Doug Lea's initial work for JSR166-e, before it was merged into OpenJDK and modified again.

Netty's version has this [ThreadLocal<Subscriber>](https://github.com/netty/netty/blob/netty-4.0.31.Final/common/src/main/java/io/netty/util/internal/chmv8/ForkJoinPool.java#L1082) than [OpenJDK hasn't](http://hg.openjdk.java.net/jdk8/jdk8/jdk/file/687fd7c7986d/s

[2015-09-15 17:50] buchgr commented on #4211
@slandelle good point. I am not exactly sure. Just saying that updating it might resolve such things.

[2015-09-15 17:58] slandelle commented on #4211
@buchgr I'm not sure you guys will want to fork OpenJDK as it's GPLv2. You might want to use [Doug Lea's JSR166](http://g.oswego.edu/dl/concurrency-interest/) work that's Creative Commons - public domain.

[2015-09-15 17:59] slandelle commented on #4211
But I agree, upgrading should fix the issue as Tomcat doesn't reported against regular CHMv8.

[2015-09-16 07:44] timothyjward opened #4228 "Netty's Default Executor requires Unsafe, even on platforms that don't support it"
The DefaultExecutorServiceFactory class creates a netty ForkJoinPool -> https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/concurrent/DefaultExecutorServiceFactory.java#L75

This ForkJoinPool requires sun.misc.Unsafe ->
https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/internal/chmv8/ForkJoinPool.java#L1048

This breaks on systems without Unsa

[2015-09-16 07:57] literadix commented on #2332
How can I catch this exception so I can handle it and remove this message from the log file ? Could you please provide an example? I need to free ressources an user connection has claimed. Actually

[2015-09-16 08:22] literadix opened #4229 "How can I handle an ireglary closed connection ?"
Could you please help us and show how to handle IO exceptions? I have taken the TelnetServer example. It is working just fine. But if I close the client by killing the client connection, I get an error thrown which I can not catch:

java.io.IOException: Connection closed by remote client
    at sun.nio.ch.SocketDispatcher.read0(Native Method)
    at sun.nio.ch.SocketDispatcher.read(SocketDispatche

[2015-09-16 08:27] ninja- commented on #2332
You're supposed to ignore exceptons when channel is inactive(exceptionCaught). Unless you're interested in them.

[2015-09-16 08:27] ninja- commented on #2332
Just add an empty exceptioncaught method to your handler

[2015-09-16 08:39] literadix commented on #4229
Bricks and Mortality: I have found a solution which was already there:

in TelnetServerHandler.java

    @Override
    public void exceptionCaught(final ChannelHandlerContext ctx, final Throwable cause) {
        // cause.printStackTrace(); THIS WAS SHOWING THE EXCEPTION
        ctx.close();
    }

:+1:

[2015-09-16 08:39] #4229 closed

[2015-09-16 09:01] #4205 closed

[2015-09-16 17:25] #3721 closed

[2015-09-16 18:31] Scottmitch commented on #4228
thanks for reporting @timothyjward !

[2015-09-16 18:31] Scottmitch commented on #4228
@normanmaurer - I'll assign to you for now :wink:

[2015-09-16 18:34] normanmaurer commented on #4228
@Scottmitch :kiss:

[2015-09-16 18:43] Scottmitch commented on #4185
@CodingFabian - Not that is a bug. Fixed with https://github.com/netty/netty/pull/4226

[2015-09-16 18:46] Scottmitch commented on #4211
@slandelle - Thanks for the heads up!

@normanmaurer - I'll assign to you for now...pending discussion about 5.0.

[2015-09-16 18:46] Scottmitch commented on #4224
@CodingFabian - Good to know :)

[2015-09-16 19:14] nmittler commented on #4210
@trustin no, we currently don't support `preface-based upgrade`, but we probably should.  It a recent discussion, it turns out that [Jetty H2C supports this](https://webtide.com/introduction-to-http2-in-jetty/).

@Scottmitch WDYT?

[2015-09-16 19:46] CodingFabian commented on #4224
lets cross fingers for beta7 :)

[2015-09-16 20:46] Scottmitch commented on #4224
@CodingFabian - Turn around time should be faster for beta7...just a few more PRs we want to get in :)

[2015-09-16 21:57] Scottmitch opened #4230 "StreamBufferingEncoderTest ByteBuf leak"
As discovered in https://github.com/netty/netty/pull/4218#issuecomment-140809226:

I saw a leak report in the first build which was reported during `StreamBufferingEncoderTest`. I'm building locally and kicked off another build on the build servers to see if I can reproduce before I pull this in...

https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buil

[2015-09-16 22:24] Scottmitch opened #4231 "Unix domain sockets coupled to epoll"
Currently the only implementation of `DomainSocketChannel` is coupled to the epoll module. It would be nice to have this decoupled so other unix distributions could take advantage of this.

[2015-09-16 22:31] nmittler commented on #4231
+1

[2015-09-16 23:15] Scottmitch commented on #4210
@nmittler @trustin - I would have to look in more detail but it sounds like our upgrade code may be a bit off. We should be responding to the upgrade request in the "new protocol" [1].

Here is what I think the upgrade sequence should be roughly like (some steps may be OK out of order).
1. Client HTTP/1.x Upgrade request (see [2] if body present) ->
2. Assume server accepts upgrade...
3. Server cr

[2015-09-17 06:09] trustin commented on #4210
If I understood correctly, the stream 1 is a special stream which represents the pre-upgrade phase HTTP/1 connection. What server writes to the stream 1 is not an HTTP/2 frame but an HTTP/1 response; no translation or whatsoever is needed.

The beauty of `HttpServerUpgradeHandler` is that it works for any protocols. We might want to write a special upgrade handler for HTTP/2, but I guess we don't

[2015-09-17 06:10] trustin commented on #4210
@nmittler What would be a good place to decode the preface? Our HTTP/1 decoder?

[2015-09-17 06:19] mubarak commented on #4212
If no one is working on this issue, can i work on it? @Scottmitch @normanmaurer

[2015-09-17 06:33] normanmaurer commented on #4212
Go ahead

[2015-09-17 06:34] normanmaurer commented on #4231
I csn add a kqueue transport

[2015-09-17 07:09] Scottmitch commented on #4210
Can you explain why you think this (see [3] below). Also [1] from https://github.com/netty/netty/issues/4210#issuecomment-140922890 calls out the upgrade mechanism as defined by the HTTP/1.x RFC specifies the response to the actual request is completed in the "new protocol".

[3] https://tools.ietf.org/html/rfc7540#section-3.2

   the client toward the server (see Section 5.1), since the request i

[2015-09-17 07:15] Scottmitch commented on #4212
+1 @mubarak

[2015-09-17 08:47] peterRd opened #4232 "Connect Netty UDT Client to C/C++ server"
I am trying to integrate netty's UDT client example with Netty 4.0.31 but I am hitting a wall after initially connecting to my UDT C++ server. The client is on Android 5.1, Galaxy S6

The C++ server is the basic one as provided on the UDT manual http://udt.sourceforge.net/udt4/index.htm. I am printing packets at either end to confirm receipt/dispatch of packets. The initial connection comes throug

[2015-09-17 12:27] jfarcand commented on #4212
@Scottmitch @mubarak I don't have the cycle to backport it as I'm completely swamped with my own [projects](https://github.com/jfarcand), but I do have the cycle and setup to test it via the Nettosphere project. So ping me if you need production testing...and big thanks.

[2015-09-17 14:35] nmittler commented on #4210
I think @Scottmitch's [interpretation of the HTTP/1.x->HTTP/2 upgrade](https://github.com/netty/netty/issues/4210#issuecomment-140922890) is correct.

@trustin (regarding https://github.com/netty/netty/issues/4210#issuecomment-140977943) I think HTTP/2 preface decoding should still be done by the Http2 handler as it is today.  However, in the case of cleartext, the server's HTTP/1.x->HTTP/2 upgrad

[2015-09-17 15:22] migralito commented on #3824
ping! we use apache HC because our load balancing will lack of stats if we were to use netty :(

[2015-09-17 15:45] normanmaurer commented on #4135
@isbo ping

[2015-09-17 15:47] normanmaurer commented on #4116
@grgvineet thanks... Will check if I can find out what's wrong

[2015-09-17 19:01] normanmaurer commented on #4116
@grgvineet do you use the OpenSslEngine ?

[2015-09-17 19:37] Scottmitch commented on #4231
kqueue would be nice, but maybe we don't need to go that far just yet. Do you think it is possible just to extract the EPOLL specific stuff out of the channel implementations currently in the `transport-native-epoll` module? The end goal being we have shared channel implementations (where is it possible and make sense) across unix like ditros?

[2015-09-17 19:51] normanmaurer commented on #4231
@Scottmitch that was actually the plan :)

[2015-09-18 04:34] d-t-w commented on #4079
Thanks @normanmaurer I just came across this issue while using 4.0.29. Updated to 4.0.31 and can confirm 100-continue behaves correctly again.

[2015-09-18 07:13] normanmaurer commented on #3900
@SutarSuhas any news here ?

[2015-09-18 07:13] normanmaurer commented on #3781
@almibe ping

[2015-09-18 07:39] kjniemi opened #4234 "building netty 4.1.0 beta 6 on jdk 6?"
I apologize in advance but I couldn't figure out how to disable the building of sections which require npn/alpn to get netty 4.1.0b6 built under JDK6. :)

As far as I can tell all the profiles for `npn-boot.jar` or `alpn-boot.jar` require at least JDK7.

[code]

[code]

Is this supposed to work?

[2015-09-18 07:39] normanmaurer commented on #4234
@kjniemi you need java7 to build but can run the built jar on java6.

[2015-09-18 07:39] #4234 closed

[2015-09-18 11:21] normanmaurer commented on #4231
@Scottmitch related to #2448

[2015-09-18 11:25] normanmaurer commented on #3209
@trustin let me do this before 4.1 :)

[2015-09-18 11:41] rlz commented on #4206
Hello everybody!

Finally I resolve all problems I have. You were right: it was memory issue. To resolve this I implement custom traffic shaper. And at the same time I have switched to Epoll. The last step was a mistake. With Epoll transport my shaper can't work well because Epoll transport is edgeTriggered and can continue to read for a long time when reading triggered just once. When I found thi

[2015-09-18 11:52] normanmaurer commented on #4206
@rlz you can also use LT mode with the epoll transport:
https://github.com/netty/netty/blob/4.0/transport-native-epoll/src/main/java/io/netty/channel/epoll/EpollChannelOption.java#L39

[2015-09-18 11:52] #4206 closed

[2015-09-18 12:08] rlz commented on #4206
@normanmaurer Thank you! Will try it later.

[2015-09-18 13:07] ijuma opened #4235 "OpenSslEngine returns NOT_HANDSHAKING instead of FINISHED"
Netty version: commit 6daf3246365a1c035249583d752e19474293a89f

Context:

I was trying to use `OpenSslEngine` instead of JDK's `SslEngine` in Kafka and I noticed that the former returns a SSLEngineResult with handshakeStatus of `NOT_HANDSHAKING` instead of `FINISHED` from wrap and unwrap right after the handshake finishes. `SslHandler` has a workaround for this (`setHandshakeSuccessIfStillHandshak

[2015-09-18 13:21] normanmaurer commented on #4235
@ijuma so you have a patch?

[2015-09-18 13:28] ijuma commented on #4235
@normanmaurer My initial attempt caused `OpenSslEngineTest` to fail, so I thought I'd file the issue in case I was missing some detail.

[2015-09-18 13:30] normanmaurer commented on #4235
@ijuma ok gotcha... will look into it. So I understand right that the problem is that unwrap/unwrap will never return "FINISHED" but just "NOT_HANDSHAKING" ?

[2015-09-18 13:33] ijuma commented on #4235
@normanmaurer Thanks, that's indeed what I was seeing.

[2015-09-18 13:35] normanmaurer commented on #4235
@ijuma is this server or client side ?

[2015-09-18 13:41] ijuma commented on #4235
@normanmaurer Both server and client.

[2015-09-18 14:25] normanmaurer commented on #4235
Have a fix almost ready...

[2015-09-18 16:46] ijuma commented on #4235
Great! I found another potential issue, filing it now.

[2015-09-18 16:52] normanmaurer commented on #4235
@ijuma awesome... keep em coming :)

[2015-09-18 17:22] ijuma opened #4238 "OpenSslEngine: `unwrap` sets the position of the source buffer incorrectly if it follows more than one `wrap` call"
_Note that the description below has been updated to describe the actual problem after more investigation._

Netty version: commit 94bf412edbea73c0b1dbac4ada8919708c4f369e

Context:

I was trying to use `OpenSslEngine` instead of JDK's `SSLEngine` in Kafka and I ran into an issue where `unwrap` sets the position of the source buffer incorrectly if the `unwrap` call happens after two or more `wrap`

[2015-09-18 17:24] normanmaurer commented on #4238
@ijuma thanks will check

[2015-09-18 17:24] ijuma commented on #4235
Here it is: https://github.com/netty/netty/issues/4238. As I said there, it may be a feature instead of a bug. In any case, you will let me know one way or another. :)

[2015-09-18 18:29] normanmaurer commented on #4238
@ijuma is it fine to include your test-code into netty ?

[2015-09-18 18:32] ijuma commented on #4238
@normanmaurer of course!

[2015-09-19 12:30] blucas opened #4240 "Http2ConnectionHandler.onStreamError NullPointerException"
Netty Version: latest master (94bf412edbea73c0b1dbac4ada8919708c4f369e)

/cc @Scottmitch @nmittler

The NPE is being generated because the ```ctx``` is ```null```.  I believe this is happening because ```Http2ConnectionHandler``` is setting ```ctx``` to ```null``` before triggering the ```onStreamClosed()``` and ```writeError()``` methods.  See below

1. Netty triggers ```Http2ConnectionHandler.ch

[2015-09-19 15:57] ninja- commented on #4205
This is insane...the bug is clearly FIXED in the first case, where it grows entries during first few seconds of connection only. For that case the fix was clearly testable and easy to test.
It doesn't fix the second case at all ("long uptime, high number of connections") where given CONSTANT workload, it would grow the demand for [entries+buffer linked with them] to millions with uptime...
(7 mill

[2015-09-19 18:46] normanmaurer commented on #4238
@ijuma I just tried to run your test-code against the JDK SSLEngine end it fails here. Is this expected ? I thought you said the SSLEngineImpl does unwrap both records.

[2015-09-19 18:48] normanmaurer commented on #4240
@Scottmitch @nmittler any takers ;) ?

[2015-09-19 18:52] normanmaurer commented on #4238
@ijuma actually fails is the wrong word here... it just runs forever :)

[2015-09-19 19:07] ninja- commented on #4205
OK so in the end...
point 1: the needed netty bugfix was only a part of what needed
point 2: autoread=false everywhere was needed, but my first take at it(manually manipulating read() ) was being too optimistic on when the read() should be called as a fallback when it's not scheduled in another place(a write task), so it was more like autoread=true

With all probability I can now say goodbye to mi

[2015-09-19 23:11] ijuma commented on #4238
@normanmaurer, I extracted the test case after debugging why the Kafka code worked fine with JDK's SSLEngine, but not OpenSslEngine. I took some shortcuts on the handshake code for the test though, it doesn't run delegated tasks for example (which is OK for OpenSslEngine). I would guess that's the reason why it's not working for you. I can fix those issues if that helps.

[2015-09-20 03:29] alkemist opened #4241 "NioEventLoop takes 1 second to shutdown if there are open connections"
Given the following:

[code]

Termination will take a second. This is problematic as it slows down testing.

The use of keep alive is significant.

I've tracked this down to being due to the event loop being “blocked” in a select here: https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/nio/NioEventLoop.java#L621

It looks to me like the problem is that `selector.selec

[2015-09-20 04:53] almibe commented on #3781
Sorry for some reason I didn't see the notifications on this issue.  I only ran into this issue with ratpack and since filing this issue I've started using vertx-web which doesn't use this feature of netty.  I've also started building "fat bundles" in OSGi which avoids this issue entirely so I'm no longer having this issue.  I'll close this since I can't really test it anymore and if someone else

[2015-09-20 04:53] #3781 closed

[2015-09-20 07:10] normanmaurer commented on #4238
I will check thanks :) so does this mean kafka is using netty?

[2015-09-20 07:58] isbo commented on #4135
@normanmaurer apologies for the late reply. I was unable to repro this issue with a reproducer that tries to mimic what we do in production: https://gist.github.com/isbo/f36de422ac4b661cb689.

Which strongly suggests to me that the problem must have been somewhere in our code. Anyway, this is a non-issue for us since we are now terminating one of the ssl endpoints further upstream. Please feel fre

[2015-09-20 11:00] ijuma commented on #4238
Kafka doesn't use Netty at the moment. I'm trying to quantify the benefit of using OpenSslEngine in Kafka after seeing your slides stating that it performed better and seeing some impressive results in a simple benchmark. To do this I'm using netty-tcnative and Netty's classes to build the appropriate SSLEngine. I haven't changed the rest (so I'm not using SslHandler for example, it would have bee

[2015-09-20 11:45] blucas opened #4242 "HTTP/2 FlowController allocated write and flush"
Netty Version: lastest master (94bf412edbea73c0b1dbac4ada8919708c4f369e)

/cc @Scottmitch @nmittler

I have a serious issue (it is actually a blocker) that is preventing me from releasing the next version of our product (which will support HTTP/2 traffic).  I would really appreciate it if this could be resolved quickly.  I am more than willing to help out with this (submit a PR) as long as someone

[2015-09-20 18:16] normanmaurer commented on #4238
@ijuma I was not able to spent much time on it today but just an update even if I run the delegating tasks on the client and server engine its always is "NEEDS_UNWRAP" when using the JDK impl.

[2015-09-21 04:57] normanmaurer commented on #4206
@rlz one thing I forgot to ask... when you said it performed better without unsafe did you test with epoll or nio transport ?

[2015-09-21 08:40] ijuma commented on #4238
Thanks for the update. Let me take a stab at making the test work with both implementations.

[2015-09-21 11:04] ijuma commented on #4238
I got the test to work with the JDK provider, but it fails in the same way as the OpenSSL one. So, it looks like the issue is more complicated than I initially described. I'm investigating and will update the issue with more information as soon as I have it. In the meantime, please don't spend your time on this. And sorry for the noise.

[2015-09-21 11:35] ijuma commented on #4238
@normanmaurer I updated the test:

https://github.com/ijuma/netty/commit/8fa80c045e5c0b4989688536801a2ebbb2a95a68

The problem is actually simpler, it's just that the position of the source buffer is not updated correctly if there are two wrap calls followed by an unwrap one.

[2015-09-21 11:40] kjniemi commented on #4234
agreed, my bad. I should have read the documentation better. I will repent. :-)

[2015-09-21 12:02] normanmaurer commented on #4238
@ijuma can you jump into the #netty irc channel on free node ?

[2015-09-21 12:05] ijuma commented on #4238
@normanmaurer sure, joining now.

[2015-09-21 12:22] alexandrnikitin commented on #3419
We've also encountered with the issue. We are using `4.0.30` version on CentOS 7.1 and 3.10.0 kernel. I don't know reasons yet.

[2015-09-21 14:03] fratboy opened #4244 "HttpConversionUtil.toHttp2Headers converts uri to path header unproperly"
Netty version: 4.1.0.Beta6

Context:

When we use HttpConversionUtil.toHttp2Headers, if uri has urlencoded values, they are decoded unproperly in `:path` header.

I could't find any spec but below in https://httpwg.github.io/specs/rfc7540.html#HttpHeaders

This pseudo-header field MUST NOT be empty for http or https URIs; http or https URIs that do not contain a path component MUST include a value

[2015-09-21 14:41] normanmaurer commented on #4244
@Scottmitch @nmittler can you check?

[2015-09-21 15:02] nmittler commented on #4242
@blucas Thanks for the report!

Regarding the [writeBytes method](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2RemoteFlowController.java#L633), I believe the comment is wrong.  I suspect it should be re-worded to something like "The frame has data but none of it can be written".  @Scottmitch, does that sound right to you?

[2015-09-21 15:08] nmittler commented on #4242
@Scottmitch So it sounds like the problem may be that we're using an estimate of the channel writable bytes, and not actually writing until the channel is not writable. With the current code, if our write doesn't actually cause an `unwritable event`, then data will get stuck since we'll never get the `writable event` to cause us to flush.  Does that sound right to you?

[2015-09-21 15:48] grgvineet commented on #4116
@normanmaurer I used the default engine, but from Android 5.0 onwards, Android internally uses OpenSSL for security purposes

[2015-09-21 16:17] nmittler opened #4246 "Support an HTTP/2 flow controller that ignores priority"
Many applications (such as gRPC) do not make use of priority. By ignoring priority we can significantly increase the performance of the flow controller. We should consider either making a new flow controller, or factoring out the allocation algorithm.

Here's a sketch of the proposed algorithm:

1. Maintain a queue of streams with data to write.
2. When a stream has new pending bytes added:
    *

[2015-09-21 16:24] nmittler commented on #4240
Yeah, I think we should just not set them to `null` ... ever :).  Especially not in `channelInactive`, that's just too early.  If we wanted to set them to `null`, `handlerRemoved` might be more appropriate.  @Scottmitch  WDYT?

[2015-09-21 17:41] silvaran opened #4247 "StompHeaders constants can no longer be used to fetch headers from DefaultHeaders"
A change between 4.1.0 beta5 and 4.1.0 beta6 changed the way keys are compared in DefaultHeaders:

https://github.com/netty/netty/blame/4f204009dedac6104f67188348b1cfc27e358109/codec/src/main/java/io/netty/handler/codec/DefaultHeaders.java#L113

ByteString.equals() always fails when given a String (and vice versa).  beta5 used keyComparator.compare() which would accommodate a mixture of Strings an

[2015-09-21 18:20] silvaran opened #4248 "StompSubframeDecoder fails to decode a STOMP frame whose content is split across multiple packets (buffers)"
I implemented a simple STOMP server and occasionally receive frames with no content-length header that include a body.  According to the STOMP 1.2 specification, "If a frame body is present, the SEND, MESSAGE and ERROR frames SHOULD include a content-length header to ease frame parsing." (https://stomp.github.io/stomp-specification-1.2.html#Header_content-length)

The StompFrameDecoder fails at th

[2015-09-21 18:39] n06 opened #4249 "Make LengthFieldBasedFrameDecoder extensible"
The ```LengthFieldBasedFrameDecoder``` is an awesome decoder class. It is quite common to use customer frames to transmit data between client and server. It would be nice if this class were easily extensible however.

The ```decode(ChannelHandlerContext ctx, ByteBuf in, List<Object> out)``` method is, for some reason, ```final``` making it hard to properly extend. If, for instance, I would like to

[2015-09-21 18:48] normanmaurer commented on #4249
@n06 it returns Object so people can override it and so change the return type which sounds like what you would like to do from your example.

[2015-09-21 20:10] Scottmitch commented on #4240
Agreed. This is not necessary, and if is causing problems can be removed.

[2015-09-21 20:30] isbo commented on #4135
I forgot that I only tried to repro on my laptop (mac) not on Linux. Let me try it there just to be sure since tcnative is involved.

[2015-09-21 20:57] Scottmitch commented on #4242
+1. The same comment appears 2 times in that method, and is wrong both times.

[2015-09-21 21:06] nmittler commented on #4240
Ok cool ... I'll send a PR out shortly.

[2015-09-21 21:06] Scottmitch commented on #4240
I have one pending now...but feel free to submit one if you want

[2015-09-21 21:07] nmittler commented on #4242
@Scottmitch I think we just need to loop while the channel is writable.  WDYT?

[2015-09-21 21:08] nmittler commented on #4240
@Scottmitch seems easy enough ... might be faster if I do it (no legal involved) ... your call.

[2015-09-21 21:58] Scottmitch commented on #4242
@nmittler - Looking now. The intention is to have the allocation algorithm be allowed to use as many bytes as possible to transition `isWritable()` to false...then `Http2ConnectionHandler` should be notified when writibiliity changes back to true and we should finish writing... This was done to avoid the need to loop.

[2015-09-21 22:25] Scottmitch commented on #4242
@nmittler - I agree with looping until the channel is not longer writable. The issue with my above assumption was that there may be `ChannelHandlers` that manipulate the size of the data (`SslHandler`, compression, etc...) so that the number of bytes written from the flow controller is not necessarily the number of bytes written to the channel, and thus the writabilty change is not gaurenteed to c

[2015-09-21 22:30] Scottmitch commented on #4240
@nmittler - Please feel free to remove the lines where the flow controller's channel handler context is set to null. Thanks!

[2015-09-21 22:33] Scottmitch commented on #4242
@blucas - I have verified with https://github.com/netty/netty/pull/4227 that FireFox is able to download a 2Mb file.  Before this PR I was also observing the issue you reported where the entire file would not be downloaded. Can you verify with this PR?

[2015-09-21 23:03] Scottmitch commented on #4247
@silvaran - Can you provide a string dump of all the headers when you attempt to do `frame.headers().get( StompHeaders.ACCEPT_VERSION )` and get `null`?

[2015-09-21 23:18] Scottmitch commented on #4247
@silvaran - I think I see the issue. I will have a PR for you to verify in the next couple days.

[2015-09-21 23:25] Scottmitch commented on #4248
@silvaran - The `content-length` portion of this issue should be verified with the PR for https://github.com/netty/netty/issues/4247

[2015-09-21 23:33] Scottmitch commented on #4244
fixed by https://github.com/netty/netty/pull/4245

[2015-09-21 23:33] #4244 closed

[2015-09-21 23:36] Scottmitch commented on #4205
@ninja- SGTM. Thanks again for reporting. Please be sure to report if you see more bad behavior.

[2015-09-21 23:39] n06 commented on #4249
@normanmaurer thanks for the quick reply! Yeah that was kind of a stupid question. Strip the ByteBuf of its type so that you can more easily cast it. What do you think of the rest of my suggestion? If the top-level ```decode``` method weren't final then users with more advanced use-cases might be able to make changes more easily. If there's a reason for the final method, I'd love to learn why (sor

[2015-09-21 23:53] Scottmitch commented on #4241
@normanmaurer - Would you mind taking this one?

[2015-09-22 00:36] alkemist commented on #4241
Forgot to mention that the code is based on the 4.1 branch.

[2015-09-22 00:53] Scottmitch commented on #4246
@nmittler - Just to be sure we are starting from the same place we will also be ignoring the `SHOULD` statement in https://tools.ietf.org/html/rfc7540#section-5.3.2?

   proportionally based on their weight.

Just to clarify some other statements:

Queue of streams with non-empty data frames?

Are we still talking about evaluating the allocation amount on a flush operation, or on each write operat

[2015-09-22 11:15] ninja- opened #4251 "java.io.IOException: readAddress() failed: Transport endpoint is not connected"
(suddenly)

java.io.IOException: readAddress() failed: Transport endpoint is not connected
    at io.netty.channel.epoll.Native.newIOException(Native.java:133)
    at io.netty.channel.epoll.Native.ioResult(Native.java:149)
    at io.netty.channel.epoll.Native.readAddress(Native.java:290)
    at io.netty.channel.epoll.AbstractEpollChannel.doReadBytes(AbstractEpollChannel.java:244)
    at io.netty.c

[2015-09-22 11:30] ninja- commented on #4205
@Scottmitch in past few days I audited all the epoll, the recycler, and the outbound buffer. They are 100% fine in their logic. But what I found at this point...few things, maybe you will find that interesting.

a) a batch of small tiny packets is a killer for a proxy (in one read from ByteToMessageDecoder until ChannelReadComplete), to the number of outbound entries (growing eventually to million

[2015-09-22 11:32] normanmaurer commented on #4251
Yes it is expected to fire an exception and the close the channel if auto close is used.

[2015-09-22 11:32] #4251 closed

[2015-09-22 11:33] ninja- commented on #4251
ok thanks

[2015-09-22 11:38] hepin1989 commented on #4251
I encounter NPE sometimes,and don't know why,the version is 4.1.0-beta6

[2015-09-22 11:39] normanmaurer commented on #4251
@hepin1989 please not hijack the issue but create a new one showing the NPE and add as much infos as possible.

[2015-09-22 11:49] hepin1989 commented on #4251
ok,then should we delete the comment here,for the NEP I really can not come up with some detail,it triggered channelActive,and before channelInactive,but when you call remoteAddr,it just return null.

[2015-09-22 12:51] normanmaurer commented on #4249
@n06 I'm still not sure I understand why you would need the "top-level" decode method to be non final to full-fill anything here. I mean the implementation just adds stuff to the list and nothing more. So can you give me an example what you would do there that can not be done in the "overridable" decode method ?

[2015-09-22 12:52] normanmaurer commented on #4241
@Scottmitch @alkemist will take a look this week...

[2015-09-22 12:53] normanmaurer commented on #4170
@ninja- I think I not understand what you suggest here. For me I think the provide patch makes no sense in terms of a fix if you not use splicing.

[2015-09-22 12:53] normanmaurer commented on #4161
Let me close this and reopen with more info if you feel its a bug

[2015-09-22 12:53] #4161 closed

[2015-09-22 12:56] normanmaurer commented on #4153
Let me close this for now.. if you still have the problem with 3.10.x please reopen

[2015-09-22 12:56] #4153 closed

[2015-09-22 13:41] ninja- commented on #4170
@normanmaurer well it's about a difference in how nio vs epoll forces connection. nio in every case calls shutdown() before close and epoll doesn't which is visible to other side of the connection as a connection reset etc.

[2015-09-22 13:49] normanmaurer commented on #4170
@ninja-  so you say nio basically does:
[code]

While epoll does:
[code]

Is this what you trying to say here ?

[2015-09-22 13:52] ninja- commented on #4170
@normanmaurer exactly. I am also unsure where would be a correct place for shutdown() to match nio.

[2015-09-22 14:25] #4240 closed

[2015-09-22 14:31] nmittler commented on #4242
@Scottmitch would you mind separating this change out from #4227? I think this is a separate issue and would make reviewing a bit easier.  If it's too much of a pain then don't worry about it.

[2015-09-22 14:38] nmittler commented on #4246
Generally Yes, although in the implementation we'll have to make sure everything behaves properly for empty frames as well.  We've been bitten by that before :).

I was referring to when a new write is received from the application (i.e. new pending bytes have been added for a stream).  I've updated the text.

Possibly. We may want to start out with something simple and see if that's good enough.

[2015-09-22 15:09] normanmaurer commented on #4170
@ninja- ok gotcha... let me check

[2015-09-22 17:12] ganskef commented on #3978
@Scottmitch ping

[2015-09-22 18:28] Scottmitch commented on #3978
@ganskef - I think we can make the NOT_BEFORE and NOT_AFTER dates configurable via system properties. Will that work for you?

[2015-09-22 18:35] Scottmitch commented on #4246
@nmittler - Your suggestion sounds reasonable to me. However can you comment on my first question from https://github.com/netty/netty/issues/4246#issuecomment-142148841 (about ignoring weights too)?

Agreed. This was just meant to call out that streams that only have empty data frames to send shouldn't have to be queued.

+1

[2015-09-22 18:41] blucas commented on #4242
@Scottmitch - I checked out your branch for #4227 and can confirm that it does not suffer from this issue.  I assume it is because of the ```do...while``` loop you have added to ```writePendingBytes```.

I agree with @nmittler, if you could separate that change from the bulk of the work done in #4227 that would be great, as I assume it will take some time before #4227 is merged.

[2015-09-22 18:45] Scottmitch commented on #4205
@ninja- - Would you mind opening a new issue so it is easy to keep thing separated?

[2015-09-22 18:48] Scottmitch commented on #4242
@blucas @nmittler - Yes I will pull out the relevant pieces from this PR #4227 to fix this issue.

@blucas - Thanks for verifying...I'll ping you when the new PR is ready.

[2015-09-22 19:02] nmittler commented on #4246
Yes, exactly ... we're taking advantage of the `SHOULD` :). We're ignoring priority and weights altogether.

[2015-09-22 19:03] nmittler commented on #4242
@Scottmitch SGTM ... thanks!

[2015-09-22 19:19] n06 commented on #4249
Yeah, I guess that's fair. I think I just wanted to avoid making a super() but now that I've had a chance to step back and think about it, you're absolutely right. Sorry for the entirely useless issue, I'm closing this. Thanks for taking the time to discuss it with me!

[2015-09-22 19:19] #4249 closed

[2015-09-22 19:42] normanmaurer commented on #4249
@n06 no problem... happy to help!

[2015-09-22 22:24] ninja- commented on #4205
@Scottmitch actually, I finally solved the problem in 100% so I am "out of netty bugs".
The more low-level cumulator wasn't needed. Do you know what FINALLY brings the number of entries from UNLIMITED to just ~ 200? Writing a cumulator that instead of adding a new entry to outbound buffer, writes it to a cummulator buffer and only writes the cummulated buffer when flush() is triggered. With this e

[2015-09-23 05:41] normanmaurer commented on #4238
@ijuma can you check this: https://github.com/netty/netty/pull/4254 ?

[2015-09-23 05:45] normanmaurer commented on #4170
@ninja- please check https://github.com/netty/netty/pull/4256

[2015-09-23 15:15] Scottmitch commented on #4205
@ninja- - What was your write/flush strategy before the `MessageSquasher`? Were you using `writeAndFlush` for every entry? Where you always using `write` and then at some later point invoking `flush`?  How did your applications behavior change when you starting using `MessageSquasher` in this respect?

[2015-09-23 16:47] ninja- commented on #4205
@Scottmitch it was flushing in a batch that was equal to what came from the ByteToMessageDecoder. That is - if it received 1000 packets (from the frame decoder), it has then written these 1000 packets to the downstream. Then @ channelReadCompleted it would flush it. Getting rid of batching wasn't any help to the $Entry spam.

When using MessageSquasher the number of $Entries stopped growing under

[2015-09-23 17:26] normanmaurer commented on #4235
@ijuma https://github.com/netty/netty/pull/4263 can you check

[2015-09-23 19:47] serioussam opened #4264 "EpollSocketTcpMd5Test.testKeyMismatch failing consistently"
Does anyone knows why this test would fail? If there is no quick fix I can dig into it. I am running this on 4.0 branch

Machine details
[code]

Failure trace
[code]

[2015-09-23 19:48] normanmaurer commented on #4264
@serioussam strange enough it not fails here :/

[2015-09-23 19:58] serioussam commented on #4264
Maybe because I am running on Java 8? I will give it a try with java 7 and see if it works. Else I will dig in and see why it fails just on my box.

[2015-09-23 20:52] willisblackburn opened #4265 "Adding DefaultHttpHeaders to itself creates infinite loop"
Example:

    public void test() {
        HttpHeaders headers = new DefaultHttpHeaders();
        headers.add("foo", "bar");
        headers.add(headers);
        // This will never end
        headers.forEach(entry -> {});
    }

[2015-09-23 21:49] serioussam commented on #4264
java version is not an issue. I will investigate whats happening.

[2015-09-23 22:44] ninja- commented on #4265
...why would you even do that

[2015-09-23 23:39] #4242 closed

[2015-09-23 23:43] Scottmitch opened #4266 "DefaultHttp2RemoteFlowController not re-visiting nodes that still have streamable bytes"
The allocation algorithm may not distributed all the available bytes even though the streams may be able to use all the bytes. This is caused by the children that have streamable bytes not being considered hungry because the `nextConnectionWindow` has collapsed.

Also related to [DefaultHttp2RemoteFlowController](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler

[2015-09-23 23:44] Scottmitch commented on #4266
@nmittler - FYI

[2015-09-23 23:46] Scottmitch commented on #4266
This is also related to https://github.com/netty/netty/issues/4242

[2015-09-23 23:47] #4247 closed

[2015-09-23 23:50] #4230 closed

[2015-09-23 23:54] serioussam commented on #4264
Found it and added PR with fix.

[2015-09-24 00:04] #3978 closed

[2015-09-24 00:06] Scottmitch commented on #3978
Fixed by https://github.com/netty/netty/pull/4257

[2015-09-24 04:37] normanmaurer commented on #4265
@willisblackburn thanks for the report. Will add a guard against this

[2015-09-24 07:44] blucas commented on #4266
@Scottmitch - Could you give an example for when this would happen? I haven't had this happen to me yet when testing HTTP/2 with Chrome/FF.

[2015-09-24 08:53] normanmaurer commented on #4264
@serioussam thanks again... Fixed by  #4267

[2015-09-24 08:53] #4264 closed

[2015-09-24 15:04] thiagoneves opened #4270 "How the best way to reconnect after lost a socket connection?"
[code]

[2015-09-24 15:21] Scottmitch opened #4271 "HTTP/2 Throughput/QPS Microbenchmark"
In order to have a better understanding our changes to the HTTP/2 codec have on performance we should have a benchmark(s) that measures throughput and/or QPS.

[2015-09-24 15:21] Scottmitch commented on #4271
@nmittler - FYI

[2015-09-24 15:43] nmittler commented on #4271
+1

[2015-09-24 15:45] nmittler commented on #4266
+1

@Scottmitch as discussed offline, the first thing we need is a new test in [DefaultHttp2RemoteFlowControllerTest](https://github.com/netty/netty/blob/master/codec-http2/src/test/java/io/netty/handler/codec/http2/DefaultHttp2RemoteFlowControllerTest.java) that demonstrates this.

[2015-09-24 19:37] Scottmitch commented on #4266
@nmittler - On it.

[2015-09-24 20:13] Scottmitch commented on #4266
@blucas - This issue was really the root cause of the issue https://github.com/netty/netty/issues/4242 you reported. However the fix for https://github.com/netty/netty/pull/4258 (which is also necessary for other reasons) should mask the negative effects which may result from this issue. I think the only "visible" effects from this should be extra tree traversal(s) to make sure all bytes are writt

[2015-09-24 21:56] #4270 closed

[2015-09-24 22:06] loolooyyyy opened #4272 "un-catchable IOException when client hangs too early."
## Environment:
- netty 5.0.0 Alpha3
- use case: A socks server (from the examples, a little modified).
- Client is google-chrome-beta, latest on Fedora

## Scenario:
Chrome connects to netty's socks server, ask for a web page. the page begins loading but before it's fully loaded, chrome process is killed on the OS (or simply the tab in the browser is closed!) so the connection to netty from googl

[2015-09-25 00:28] Scottmitch opened #4274 "HTTP/2 Fake Exception"
We often generate fake exceptions in the HTTP/2 unit tests. We should add a utility method to make sure the exceptions are consistently generated.

[2015-09-25 00:28] Scottmitch commented on #4274
@nmittler - FYI

[2015-09-25 00:42] Scottmitch commented on #4265
@willisblackburn - I'm assuming you are using Netty 4.0?

[2015-09-25 00:57] Scottmitch commented on #4205
@ninja- - Any way you can provide a reproducer for the original problem?

What are you referring to when you say "calling them"?

continue decoding

What was the mechanism you used to do this?

[2015-09-25 01:01] Scottmitch commented on #4272
@loolooyyyy - Can you provide more details as to what you think the issue is and what you would expect in this situation? This sounds like expected behavior.

[2015-09-25 01:40] loolooyyyy commented on #4272
I think maybe there should be a way to catch that IOException, do something with it rather than having it raised. For instance have it delegated to a handler in channel's pipeline, and log it like "connection closed: .....".

Right now, only the stacktrace is printed, nothing is being logged and the work around is to modify netty itself: `io.netty.channel.nio.AbstractNioByteChannel$NioByteUnsafe`

[2015-09-25 01:45] Scottmitch commented on #4272
@loolooyyyy - My mistake. I took a quick glance and thought this was getting propagated to `exceptionCaught` handler. Let me take another look :smile:

[2015-09-25 01:52] Scottmitch commented on #4272
@loolooyyyy - What commit are you on? Seems like the exception should be caught in [AbstractNioByteChannel$NioByteUnsafe.read](https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/channel/nio/AbstractNioByteChannel.java#L136) and propegated up the pipeline in [AbstractNioByteChannel$NioByteUnsafe.handleReadException](https://github.com/netty/netty/blob/master/transport/src/m

[2015-09-25 02:14] loolooyyyy commented on #4272
I am terribly sorry for taking up you time for this! a had reviewed all my code, I really did! and didn't find anything. till now, that you pointed to the `catch` thing in the code it sounded strange if it wasn't working. (don't know why **now** but) ran a `grep stacktrace -iR * ' and yes it was one of my handlers.
(guilty as charged).

[2015-09-25 02:14] #4272 closed

[2015-09-25 04:55] Scottmitch commented on #4272
@loolooyyyy - No problem. Thanks for reaching out and glad all is well in the world :wink:

[2015-09-25 05:12] Scottmitch commented on #4210
@nmittler - Agreed we could support preface-based upgrade. Seems like an additional decoder in codec-http that looks for the explicit preface and if detected hands off call some abstract method/factory that can return a `Http2ConnectionHandler` (or just delegate to handoff the pipeline). This decoder would also remove itself.

@trustin - Would this solve the use case you are looking for (initializ

[2015-09-25 07:08] ninja- commented on #4205
"calling them" to channelRead() in this meaning. allow the buffers to be reused more quickly AS it's usually released afer handling. But that's something that completes the way MessageSquasher work otherwise there would be no improvement

Well the reproducer....I wouldn't call that a bug. Just a simple proxy + a frame decoder that decodes frames into buffers + a spam of small Packers in one read

[2015-09-25 08:06] normanmaurer commented on #4235
Was fixed

[2015-09-25 08:06] #4235 closed

[2015-09-25 08:26] myroch opened #4275 "OutOfMemoryError: Direct buffer memory when using EPOLL transport"
Netty version: 4.0.31.Final

Context:
I encountered an exception when using EPOLL transport on my server. Other transports are not affected. Removing MaxDirectMemorySize JVM option won't resolve the issue (it will just take longer to get it). I'm using simple extended ByteToMessageDecoder which just checks for enough of bytes and creates my proprietary Object from them. Another handler in flow con

[2015-09-25 08:28] normanmaurer commented on #4275
@myroch to make it easy can you please share your ByteToMessageDecoder implementation and the ChannelPipeline setup ?

[2015-09-25 08:28] myroch commented on #4275
tested also with JDK 8, it doesn't resolve the issue
[code]

[2015-09-25 08:33] myroch commented on #4275
[code]

[2015-09-25 08:37] normanmaurer commented on #4275
@myroch can you do me a favour and test if using LT mode will fix this:

[code]

[2015-09-25 08:42] myroch commented on #4275
pipeline is very simple:
[code]

myConsumer can just be ChannelInboundHandlerAdapter with empty channelRead method

[2015-09-25 08:47] myroch commented on #4275
@normanmaurer it seems to be stable like never before :+1:

[2015-09-25 08:50] normanmaurer commented on #4275
@myroch awesome... I think this gives me a good idea... Stay tuned.

[2015-09-25 10:04] VivekBohra opened #4276 "Avoid adding same pipeline"
I am using Port unification example, I  had customize the program in a way that stream comes and with to new handler based on stream input. Then new string comes then it again add same pipeline . actually didn't remove P.remove(this). Because  my stream are continuously coming and with to different  pipeline based on that.

@Override
	protected Object decode(ChannelHandlerContext ctx, Channel chan

[2015-09-25 16:08] normanmaurer commented on #4275
@myroch can you check https://github.com/netty/netty/pull/4281 and see if it fixes it when using epoll without level triggered mode ?

[2015-09-25 16:29] Scottmitch commented on #4205
@ninja- - See https://github.com/netty/netty/issues/4275

[2015-09-25 16:48] ninja- commented on #4205
@Scottmitch hm I don't think it's related, @normanmaurer found the #4275 problem somewhere else. But if you decided to change ByteToMessageDecoder so it would fire channelRead(msg) each by one instead of doing it in a batch maybe it would also help in #4275.

[2015-09-25 18:06] #4170 closed

[2015-09-25 18:12] #4266 closed

[2015-09-25 18:14] Scottmitch commented on #4266
Fixed by https://github.com/netty/netty/pull/4282

[2015-09-25 18:25] nmittler opened #4283 "Allow writing long-length objects in HTTP/2 flow control"
This is just to capture the data byte we use for `streamableBytes`.  It should be changed to `long` to support very large objects (e.g. FileRegion).

@Scottmitch FYI

[2015-09-25 18:32] Scottmitch commented on #4205
@ninja- - What I was wondering was how did you call `fireChanellRead` after each decoded message?  The API just exposes a list to `decode` which users are free to add as many message as they want. Did you change the interfaces, put a max capacity on the list, or something else?  Would you care to submit a PR so it will be easier to visualize?

[2015-09-25 18:36] Scottmitch commented on #4283
@nmittler - So your thinking that each stream's `pendingBytes` should be of data type `long` (and then what ever else needs to change to accommodate this)?

[2015-09-25 18:39] ninja- commented on #4205
@Scottmitch I copied original ByteToMessageDecoder to io.netty.channel package under new name while the package was inside the application.

[2015-09-25 18:51] Scottmitch commented on #4205
I'm a bit slow on this one... the line you reference is called after each `callDecode`? Like I said submit if you submit a PR (if only to clarify the idea) it should help me understand.

[2015-09-25 18:59] ninja- commented on #4205
POC

[code]

[2015-09-25 19:02] normanmaurer commented on #4205
@Scottmitch not care I will check and come back to you.

[2015-09-25 19:05] ninja- commented on #4205
@Scottmitch yeah actually I pointed a bad place. At the moment I am using a hack that fires it inside decode() so more like:

[code]

[2015-09-25 19:10] nmittler commented on #4283
@Scottmitch yeah that's basically it (for now). The `writableBytes` would still be an int, but streams may have more than `MAX_INT` to send.

[2015-09-25 23:41] Scottmitch commented on #4205
@ninja- - Thanks for clarifying. Please open a new issue so we can track.

[2015-09-25 23:49] Scottmitch opened #4284 "ByteToMessageDecoder to call fireChannelRead more frequently"
If a large amount of objects are added to the `out` list in [ByteToMessageDecoder.decode](https://github.com/netty/netty/blob/master/codec/src/main/java/io/netty/handler/codec/ByteToMessageDecoder.java#L373) for a single channelRead operation then this can result in a large amount of  `ByteBuf` objects to be allocated. There may be an opportunity for improvement in terms of `ByteBuf` reuse and red

[2015-09-25 23:49] Scottmitch commented on #4284
@ninja- Feel free to add more description.

[2015-09-25 23:49] Scottmitch commented on #4205
@ninja- @normanmaurer - FYI https://github.com/netty/netty/issues/4284

[2015-09-26 02:56] ninja- commented on #4284
looks good to me.

[2015-09-26 03:01] ninja- opened #4285 "Implement some kind of squashing outbound buffer entries"
Following discussion in #4205 we could implement some less hacky way to squash things that has been written, but not yet flushed, maybe per-transport(the outbound buffer entries).
The need for such a thing shows for example when creating a proxy that handles a lot of small packets and then proxes them, that could result in both $Entry + the number of buffers taken with such entries growing the cac

[2015-09-26 07:54] ninja- commented on #4285
a quick example of a simple imp. at channel outbound buffer:

private ByteBuf internalBuf;
private long pending = 0;
addMessage(msg) {
internalBuf.markWriterIndex();
pending += internalBuf.readableBytes();
internalBuf.writeBytes(msg);
internalBuf.resetWriterIndex();
}

current() { return internalBuf;}

addFlush() {
internalBuf.writerIndex(internalBuf.writerIndex() + pending)
}

[2015-09-26 16:38] sigil66 opened #4286 "SmartOS io.netty.channel.ChannelException"
Trying to track this down on SmartOS:

[code]

truss shows the failure here:

[code]

JVM info:
java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) 64-Bit Server VM (build 25.60-b23, mixed mode)

JVM started with:
-Djava.net.preferIPv4Stack=true

Netty Version:
4.0.28.Final

[2015-09-26 16:47] normanmaurer commented on #4286
We just use the jdk api here. Not much we can do... Maybe setting the traffic class is not supported on smartos?

[2015-09-26 17:18] sigil66 commented on #4286
Well there is IPV6 support in SmartOS. In this instance I don't have an IPV6 interface plumbed. I guess I am wondering why the option is still passed  when I "disable" IPV6 via the JVM Opt.

[2015-09-26 22:19] ninja- commented on #4285
before continuing the work on this it's important to explain why this commented out code piece corrupted streams when triggered few times in a row? https://gist.github.com/ninja-/91a13b2630210891d429#file-messagesquasher-java-L116

[2015-09-26 22:54] ninja- commented on #4285
OK, I think I have implemented this in 10 LOC :) leaving old ideas for reference

and requesting a review of this ChannelOutboundBuffer.java: https://gist.github.com/ninja-/f1d741ea31cd37f1e324

But I couldn't sleep well after deploying this without knowing why the old MessageSquasher fast-path corrupted buffers randomly :(

[2015-09-27 00:19] Scottmitch commented on #4285
@ninja- - Would you mind submitting a PR? Much easier to review. Thanks!

[2015-09-27 00:25] ninja- commented on #4285
@Scottmitch yeah working on it, you could see some commits above so I'm nearly done along with a PR for #4284!

[2015-09-27 01:13] ninja- commented on #4284
done @ PR #4288

[2015-09-27 01:13] ninja- commented on #4285
done @ PR #4287

[2015-09-27 02:03] Scottmitch commented on #4246
Yes as previously discussed I think this makes sense. I think we should strive to have https://github.com/netty/netty/issues/4271 in place so we can evaluate these changes.  Any interest in migrating gRPC benchmarks :grin:?

[2015-09-27 05:42] Scottmitch opened #4289 "Mock DNS server for automated unit tests"
The DNS unit tests frequently fail because they are relying on external DNS servers. We should work to make them more reliable and ideally decouple their reliance on external DNS servers.

[2015-09-27 05:42] Scottmitch commented on #4289
@trustin @normanmaurer - FYI

[2015-09-27 05:45] normanmaurer commented on #4289
Already working on it :)

[2015-09-27 06:19] Scottmitch commented on #4289
Thanks @normanmaurer !

[2015-09-27 07:14] trustin commented on #4289
Thank you guys!

[2015-09-27 21:18] myroch commented on #4275
@normanmaurer confirmed, works as charm, thx!

[2015-09-28 07:01] codepython opened #4290 "Is it possible to convert a mina project to netty ?"

[2015-09-28 10:13] chandu1988 commented on #87
??????

[2015-09-28 10:13] chandu1988 commented on #87
Description Resource	Path	Location	Type
Mapping file orm.xml does not have supported content for this JPA platform.	orm.xml	/spring-social-tutorial/src/main/java/META-INF	 JPA Problem

[2015-09-28 15:38] Scottmitch commented on #4290
Please ask questions of stackoverflow. Github is for reporting issues or requesting features.

[2015-09-28 15:38] #4290 closed

[2015-09-28 19:52] #4275 closed

[2015-09-29 15:00] doom369 opened #4292 "Is there any way to reassign Channel to another working thread?"
Hi guys. As I know Netty Event Loop assigns a Thread to newly created channel via Round Robin. Is that possible to reassign this channel to another thread? My use case is next :

I have an App. channel and Hardware channel. They perform totally different logic but using same shared data. Right now I have to use volatile in order to have correct and up to date data within both channels. But in case

[2015-09-29 15:13] ninja- commented on #4292
Sure, that's easy. When doing the second connection just call bootstrap.eventloop(firstChannel.eventloop())

[2015-09-29 15:14] normanmaurer commented on #4292
@doom369 it's possible as @ninja- said. Also please use stack overflow or the google group for questions.

[2015-09-29 15:14] #4292 closed

[2015-09-29 15:46] doom369 commented on #4292
@normanmaurer Sorry. Maybe I asked it wrong. My question is something like that http://stackoverflow.com/questions/22559272/netty-4-channel-eventloop-mapping-in-the-nioeventloopgroup is that available in 4.0.x?

[2015-09-29 19:57] Scottmitch opened #4293 "OpenSsl NPN/ALPN unit tests"
We should have NPN/ALPN tests for the OpenSsl provider like we do for the Jdk provider.  See [JdkSslEngineTest](https://github.com/netty/netty/blob/master/handler/src/test/java/io/netty/handler/ssl/JdkSslEngineTest.java)

[2015-09-30 06:39] normanmaurer commented on #3022
@Scottmitch I think all the dependencies can be found in the pom.xml of the modules. So let me close it

[2015-09-30 06:39] #3022 closed

[2015-09-30 06:41] normanmaurer commented on #2950
@jknair let me close this and please re-open if you still encounter the problem with latest code

[2015-09-30 06:41] #2950 closed

[2015-09-30 07:00] #4265 closed

[2015-09-30 10:21] jenskordowski opened #4296 "SslHandler misses to store all queued MessageEvents on channel closed"
org.jboss.netty.handler.ssl.SslHandler on line 1765 (Netty 3.9):
There seems to be a typo: Instead of checking futures != null, the list should only be instantiated if futures == null. As an effect, all previously stored entries are lost and in many cases, only the last encryptedWrite is kept in mind.
In other constellations (no unencryptedWrites, but encryptedWrites existing), this would even lea

[2015-09-30 10:40] ninja- commented on #4296
Netty 3 isn't actively maintained and SSL recently had lots of fixes in netty 4. What stops you from migrating?

[2015-09-30 10:44] jenskordowski commented on #4296
Camel 2.14.x using AHC 1.8.5 using Netty 3.9.x. At some point, we will update of course, but not for now.

[2015-09-30 10:48] jenskordowski commented on #4296
Only the not-yet-released AHC 2.x will use Netty 4. So we need to wait for this release first, then for the Camel AHC component to incorporate that. Seems this will take a while.

[2015-09-30 10:50] normanmaurer commented on #4296
@ninja- this is not true. Critical stuff is still fixed in 3.10

[2015-09-30 10:52] jenskordowski commented on #4296
Ah ok, sounds good then. From your previous post I understood that Netty 3 will not receive the fixes.

[2015-09-30 11:06] normanmaurer commented on #4296
@jenskordowski btw we love PR's ... if you could do a PR with the fix I would be more then happy to review.

[2015-09-30 11:31] slandelle commented on #4296
Coming... Doing my best :)

[2015-09-30 11:33] normanmaurer commented on #4296
@slandelle <3

[2015-09-30 11:42] jenskordowski commented on #4296
Pull request: https://github.com/netty/netty/pull/4297

[2015-09-30 16:14] normanmaurer commented on #4296
@jenskordowski thanks again... Fixed by de16cfe3537246d916ea966b2c9380f84d8113e8

[2015-09-30 16:14] #4296 closed

[2015-09-30 18:01] normanmaurer commented on #4276
@VivekBohra not sure I understand the actually problem. Can you explain ?

[2015-09-30 18:08] normanmaurer commented on #4248
Was fixed

[2015-09-30 18:08] #4248 closed

[2015-10-01 03:38] balsukrishna opened #4301 "Cannot add Channel handlers to EmbeddedChannel after created"
Context: Writing unit tests for my channel handlers and Using EmbeddedChannel.

I want to add ChannelHandlers with name (my handlers have logic to change pipeline and  I identify existing handlers with name).  So I am using EmbeddedChannel.pipeline.addLast().

I saw EmbeddedChannel source code and it is because of LastInboundHandler that it is not triggered.

Can we have a work around/fix  for thi

[2015-10-01 03:39] balsukrishna commented on #4301
On the other note, Can I actually use EmbeddedChannel for Unit testing Netty code, any other library suggestions?

[2015-10-01 04:56] normanmaurer commented on #4301
@balsukrishna need to think about it. As a workaround you can use "addFirst(....)" .

[2015-10-01 05:29] balsukrishna commented on #4301
Thanks. addFirst method is enough for me now.

[2015-10-01 05:44] VivekBohra commented on #4276
Here i explain my problem :
1. I have 10 different GPS devices . Each will be configured to send at one port like 5022.
2. I use port unification example where each incoming  string first parse to identify the the device where it come from and then forwarded to appropriate parsing handler . Then save to database. So that i add ed pipeline for each device string.

3. my problem is that first time a

[2015-10-01 07:23] LukasWysocki commented on #4204
I've never got an answer back about it (working on this issue on company time).
If I where to guess that means NO.
Sorry.

[2015-10-01 07:24] LukasWysocki commented on #4204
God damn, so that's what "close and comment".
Reopening.

[2015-10-01 07:40] Scottmitch opened #4302 "Http/2 write ping (in response to reading a ping) Unit Test Leak"
The following leaks were discovered during build for PR https://github.com/netty/netty/pull/4299. They should be investigated.

https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=1906#_focus=39159

[code]

https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=1910#_focus=28305&state=28305

[code]

[2015-10-01 16:34] doom369 commented on #4183
@normanmaurer sorry, was a bit busy. Tried latest 4.0.32.Final and 1.1.33.Fork8 - works like a charm. Thank you!

[2015-10-02 05:40] julienledem commented on #2545
Any workaround to this?

[2015-10-02 06:08] julienledem commented on #2545
I think I've found a workaround:
[code]
I've noticed a bunch of ```if inEventLoop()``` so I tried that ;)

[2015-10-02 06:29] Scottmitch commented on #4302
ran a bunch of times locally ... but unable to reproduce. Also did a code inspection of everywhere we send ping frames in unit tests and couldn't find any leaks...

[2015-10-02 23:05] nmittler opened #4310 "Http2ConnectionHandler should handle all exceptions"
In the [current HTTP/2 exception handling logic](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L625), if a lower-level error occurs (e.g. the socket breaks), we can get into this scenario: https://github.com/grpc/grpc-java/issues/1097. The first stack trace is due to the fact that the http2 handler ignores the exceptio

[2015-10-02 23:34] Scottmitch commented on #4310
@nmittler - I'm not yet convinced that `Http2ConnectionHanler` handler should unconditionally treat an unrecognized exception as a fatal one. Seems like we should not make assumptions about what else is or is not in the pipeline. I agree that the exception handling needs some work (to be finished in https://github.com/netty/netty/pull/4291) in terms of ensuring exceptions that occur while processi

[2015-10-03 00:15] ejona86 commented on #4310
I'm not excited about Http2ConnectionHandler handling all exceptions. It seems the application using Netty is the best place to handle such things. What is fundamentally broken with the application handling this case as well?

[2015-10-03 01:18] novos40 opened #4311 "FairOrderedMemoryAwareThreadPoolExecutor has severe memory leak under heavy load"
Netty version 3.10.4 Final

As per your own documentation the order of events on the pipeline is not guaranteed which is definitely the case under heavy load. Therefore when WRITTEN_AMOUNT event comes after CHANNEL_CLOSED event, executor re-registers already closed channel in it's internal map **again** thus producing a memory leak as these channels will not be ever removed from the map and theref

[2015-10-03 09:45] scf37 opened #4312 "HttpRequestDecoder fires channelReadComplete on every network read"
Expected: HttpRequestDecoder  should  fire channelReadComplete event when last available HttpMessage have been consumed

Observed: channelReadComplete on every network packet received.

How to reproduce:

[code]

When connected to such server using Windows telnet (IMPORTANT because it flushes on every keystroke), channelReadComplete fires on every keystroke instead of once - when I finish entering

[2015-10-03 09:49] scf37 commented on #4312
Some background: I'm using HttpRequestDecoder with AUTO_READ=false and need to know when to call ChannelContext.read()

[2015-10-03 11:26] scf37 opened #4313 "ByteBufUtil.writeUtf8 and WrappedByteBuf"
There is interesting comment:

    // Maybe we could also check if we can unwrap() to access the wrapped buffer which
    // may be an AbstractByteBuf. But this may be overkill so let us keep it simple for now.

But - simple HTTP server under load (like 5k req/sec) uses 38% time on String.getBytes. I use ByteBufUtil.writeUtf8 to write HTTP response (about 10Kb).

Please consider adding that check.

[2015-10-03 13:17] normanmaurer commented on #4313
Will check

[2015-10-04 02:42] ninja- opened #4314 "[Improvement idea] Implement read model optimized for frame decoders"
In my opinion the read model isn't really optimized for frame decoders.
There should be a way to read directly a frame into a new buffer without both slice() and copy() etc. more like in C

So a frame decoder should read a header directly from the socket, then decide the frame's length, and then read exactly X bytes into new buffer (or keep trying).

The current model has following problems:
- for

[2015-10-04 03:13] Scottmitch commented on #4314
@ninja- - Are you familiar with [RecvByteBufAllocator](https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/channel/RecvByteBufAllocator.java) (also see the interfaces / types that inherit from this class)? You can use this to control how to allocate `ByteBuf`s while preforming reads from the underlying transport mechanism. In 4.1+ you can use this to control the read loop t

[2015-10-04 03:22] ninja- commented on #4314
@Scottmitch thanks for a tip. do you think it can be useful to create a more low-level decoder? Is it worth the time at all?

for example:
I consider the header to be max 10 bytes including all the pipeline things decryption etc.
would it make sense if I read these 10 bytes and denied reading more if there isn't at least X bytes in the buffer to avoid read cumulations?

But the read cumulations ar

[2015-10-04 03:35] Scottmitch commented on #4312
@scf37 - I'm not sure that `channelReadComplete` behaves like you are expecting.

See [ChanneHandler](https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/channel/ChannelHandler.java#L221):
[code]

`channelReadComplete()` is not designed to signify any specific protocol event, but instead notifies you that no more reads will be performed on a particular channel before return

[2015-10-04 05:18] ninja- commented on #4314
I switched to level triggered, it works fine but with one regression: it will starting missing last packets when the remote end disconnects, even if autoread=true. Problem goes away when epoll mode is back to edge triggered. is this a bug?

[2015-10-04 06:37] normanmaurer commented on #4314
That woukd be a bug... Let me investigate

[2015-10-04 07:33] scf37 commented on #4312
I'm not talking about LastHttpContent. Imagine I'm receiving long POST body. which can contain many HttpContent-s. I override channelRead and process every message asynchronously to do not interfere with Netty thread. When there is no more messages to read, I call channelContext.read().

Problem here is I can't find out when "no more messages to read" occurs! HttpRequestDecoder can parse single ne

[2015-10-04 20:01] Scottmitch commented on #4312
Maybe you can explain where you feel messages are pending in memory?  `if there are pending messages in previous handler` do you have other handlers in the pipeline that do aggregation, or are you experiencing difficulties because your application is multi-threaded?

`HttpRequestDecoder`'s job is to take network data and translate this into `HttpMessage` or `HttpContent` objects. It should not be

[2015-10-04 20:50] scf37 commented on #4312
1. Pending messages.

Code from ByteToMessageDecoder.channelRead

    for (int i = 0; i < size; i ++) {
        ctx.fireChannelRead(out.get(i));
    }

I.e. if single incoming `ByteBuf` have been decoded into multiple messages, they will be kept until fed to downstream handler. Thanks, I understand now :-) I can safely invoke read() on every invocation of channelRead in downstream handler - actual

[2015-10-05 05:50] normanmaurer commented on #4311
@novos40 maybe you want to submit a PR that we can review and just merge to fix it ?

About package private and private scoped things... This is mainly to limit the "public apis" as otherwise it may become very hard to do changes later on without break the API.

[2015-10-05 08:16] novos40 commented on #4311
@normanmaurer

I'm not sure if PR will do you any good as my implementation is rather different from yours in almost every aspect (i.e. coding style, name conventions, variable names, etc.). It would not merge easily if at all.
On the other hand, the idea of the fix is very simple: instead of pipeline events (which are unreliable in terms of their order), look for closeFuture to be done (which can

[2015-10-05 09:04] normanmaurer commented on #4313
@scf37 can you show me your code and how this change would help you ?

[2015-10-05 12:12] spinscale commented on #3857
@normanmaurer @virtman how can changing the epoll setting have any effect if this is only supposed to work under Linux? Does the epoll workaround do more than its name claims?

[2015-10-05 12:50] virtman commented on #3857
@pinscale
When I got this problem for first time reported (i use Netty heavily in my project), I got access to this problematic WINDOWS server, I have than created many dumps and have analyzed them.
Than I have noticed the issue happens inside NIO select function, where Netty waits for selector until being available, but on some Windows systems in rare cases happening sporadically Java did not blo

[2015-10-05 12:55] spinscale commented on #3857
@virtman thx so much for taking the time to write up this explanation, owing you are beer for that one. Very helpful! I'll test and report back.

[2015-10-05 13:05] Iker-Jimenez commented on #3247
Hi, we are blocked on 4.0.23.Final and cannot upgrade because of this. Any chance it can be looked at soon enough?

[2015-10-05 14:56] nmittler commented on #4310
@Scottmitch @ejona86 I guess it just seems strange to me to let a `RuntimeException` or `IOException` just squeak by though the handler unnoticed.  Maybe it's fine, but I suspect this will lead to many applications going into a sort of zombie mode where they don't receive any more data but it's not clear as to why.  Perhaps we just need to add some documentation WRT exception handling?

[2015-10-05 15:36] slandelle opened #4315 "Add DefaultHttpMessage constructor that takes a HttpHeaders instance"
Netty version: 4.0.32.Final

Context:
In AHC, we have our own builder for requests, where we internally store headers into a `HttpHeaders` instance.

Sadly, there's no way to directly pass a `HttpHeaders` instance to `DefaultHttpMessage` hierarchy and we have to set our instance into the `DefaultHttpMessage`'s internal one that's been eagerly created.

This results is an excessive allocation that

[2015-10-05 16:01] normanmaurer commented on #4315
If you can make it with breakage use 4.0

[2015-10-05 16:04] slandelle commented on #4315
Will do :)

[2015-10-05 16:49] nmittler commented on #4310
After doing some more investigation I realized that gRPC is already handling this, but only for the client side: https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/netty/NettyClientHandler.java#L262

Unfortunately this isn't done for the server-side currently.  I'm working on a PR to address.

In the meantime, I think we can just close this issue.  Sorry for the noise.

[2015-10-05 16:49] #4310 closed

[2015-10-05 16:59] ninja- commented on #4314
@normanmaurer any news on this?

[2015-10-05 17:01] normanmaurer commented on #4314
@ninja- nope not yet... had no time today. Would you mind open a bug-report for this and mention me in it ?

[2015-10-05 17:56] nmittler opened #4316 "EmbeddedChannel does not fireInactive when closing"
`AbstractChannel` will `fireChannelInactive` when closed: https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/channel/AbstractChannel.java#L662.

However, this is not done for the `EmbeddedChannel`, so pipelines using `EmbeddedChannel` will not behave the same way as with other channels.

@Scottmitch @normanmaurer WDYT?

[2015-10-05 18:15] ninja- opened #4317 "Epoll level-triggered discards last packets when remote end disconnects"
This is a regression that doesn't happen when the default edge-triggered mode is used.

Assigned for investigation: @normanmaurer

[2015-10-05 18:15] ninja- commented on #4314
#4313

[2015-10-05 18:19] ninja- commented on #4316
is it because closeExecutor is null for EmbeddedChannel...

[2015-10-05 18:21] Scottmitch commented on #4314
`denied reading more if there isn't at least X bytes in the buffer to avoid read cumulations?`

How will you `deny` reading more data? You are using encryption so how do you know how many total clear text bytes there are after decryption (without reading and doing the decryption)?

[2015-10-05 18:27] Scottmitch commented on #4317
@ninja- - What version of netty?

Are any exceptions being fired in the pipeline? Can you include the stack traces if so?

[2015-10-05 19:50] ninja- commented on #4314
@Scottmitch I could get the first 10 bytes, get the 10 bytes through the pipeline to get the header decoded and then decide. But maybe it's too crazy to optimize anything with a visible CPU difference.

[2015-10-05 19:52] ninja- commented on #4317
netty 4.1 and no exceptions fired. as the remote end sends the last "kick" packet and closes the connection, the kick packet isn't received before channelInactive is fired.

[2015-10-05 20:10] timboudreau commented on #3247
Looking at the code in question, it seems like (to my uncaffeinated brain at the moment), there are a few potential problems:

 * It assumes there are enough bytes for decode() to decode something (otherwise decoding no bytes and leaving it alone is sane - wouldn't this be the case if you had, say, partial bytes of a chunk incoming?) - is that really true?
 * It assumes nothing else can possibly w

[2015-10-05 20:25] normanmaurer commented on #4317
Thanks will investigate...

[2015-10-05 20:28] ninja- commented on #4317
#3709 related or not?

[2015-10-05 21:09] ninja- commented on #4317
ok @normanmaurer I have a fix. I'll paste the patch now and maybe PR later.

[2015-10-05 21:19] ninja- commented on #4317
[code]

[2015-10-05 22:07] ninja- commented on #4317
@RemyLebeau it does. I have an application which used to check for RDHUP and IN in that order. It had the bug that if the peer sends something (such as a termination reason) and immediately closes, my app was not receiving that data because it checked for RDHUP first and killed the connection. From what I've seen, this happens when both endpoints are on the same machine, not sure it happens on dif

[2015-10-06 01:34] Scottmitch commented on #4317
@ninja- - What is the value of `isActive()` in `epollRdHupReady()` where you have the print statement?

[2015-10-06 02:00] Scottmitch commented on #4314
@ninja- - I'm still not sure I understand. Are your header and body encrypted? How do you correlate number of encrypted bytes (what you read off the wire) to decrypted bytes (what the application sees)?

I guess general advise is to only optimize if there is a need, and analyze your bottlenecks with tools to know where to focus your efforts.

[2015-10-06 03:34] aikar commented on #3166
Maybe a more sane Recycler default capacity could be implemented? Why in the world is it so high anyways?

Pool reasonably low then let people tweak higher if they really believe itll help their application.

[2015-10-06 05:09] ninja- commented on #4317
AS I mentioned earlier its active in every case

[2015-10-06 05:12] ninja- commented on #3166
@aikar you don't want this trust me...don't deploy it on prod

[2015-10-06 05:16] aikar commented on #3166
@ninja- what do you mean?
Are you saying limiting the recycler is bad? I really hope that something isn't depending on a super large object pool.

Surely 5k instances of something should be enough to handle per thread...

[2015-10-06 05:20] ninja- commented on #3166
@aikar I spent few months fixing this...take patches from my branch and it will be down to ~300

[2015-10-06 05:29] ninja- commented on #4314
@Scottmitch  yeah I dont think that was a good idea but I am hoping for some improvements after fixing epoll

[2015-10-06 06:09] ninja- commented on #4317
BTW it seems correct on 5.0

[2015-10-06 06:13] ninja- commented on #4317
Git blame goes tohttps://github.com/netty/netty/commit/d2683c391149332733017aed2aece6ff6de7c4f6 @Scottmitch

[2015-10-06 09:56] vikulin commented on #3419
Look at https://code.google.com/p/selenium/issues/detail?id=1301 that is cause the issue

[2015-10-06 09:59] vikulin commented on #3419
Helped me:
$ sudo mv /dev/random /dev/random.real
$ sudo ln -s /dev/urandom /dev/random

[2015-10-06 11:34] normanmaurer commented on #4316
@nmittler... yes its a bug. working on it, stay tuned.

[2015-10-06 11:36] normanmaurer commented on #4316
@ninja- and no its not because of closeExecutor is null.

[2015-10-06 15:13] houdejun214 opened #4318 "Client send message hangs"
Hi there,

I am try to implements a reverse proxy server with loadbalancer support,  our service will send the http request to our backend servers with round-robin strategy, all going well if the backend server is work well.
But in stress testing, the proxy server will hangs on send the message when I kill the current connected backend service manually

[code]

Any one can help me?

[2015-10-06 19:52] Scottmitch commented on #4317
@ninja- - Humm I'm surprised you don't see the issue on 5.0...code is largely the same.  Do you mean you ran with 5.0 and did not observe the issue?

I the problem you are experiencing pre-dates this commit....code paths and timing may just mask it. Have you verified you do not observe the issue before this commit?

[2015-10-06 19:53] Scottmitch commented on #4317
@ninja-

Thanks for providing explanation. Looks like you updated your messages after initial post?  Explanation was not initially present in my browser.

[2015-10-06 19:55] ninja- commented on #4317
I the problem you are experiencing pre-dates this commit....code paths and timing may just mask it. Have you verified you do not observe the issue before this commit?

you just didn't pull your d2683c3 to master keeping it to 4.0 and 4.1 so that's an accident.
I didn't really test 5.0 but I am pretty sure the problem is workarounded by removing the shutdown() line added by this commit which would

[2015-10-06 20:08] Scottmitch commented on #4317
@ninja- - https://github.com/netty/netty/commit/bb3b637b70535e6741903521e9ed32b4243abb0e is the merge of https://github.com/netty/netty/commit/d2683c391149332733017aed2aece6ff6de7c4f6 to master. Were you looking before this commit?

[2015-10-06 20:09] ninja- commented on #4317
@Scottmitch oh, I missed it. Nevermind that comments yet. Every branch would be correct now with your recent fixes.

[2015-10-06 20:09] Scottmitch commented on #4317
@ninja- - No problem. Thanks for clarifying.

[2015-10-07 04:24] Scottmitch commented on #4316
@normanmaurer - Thanks for taking this one!

[2015-10-07 04:29] Scottmitch commented on #3166
can we move discussion to https://github.com/netty/netty/issues/4146?

@ninja- - I thought the issues you were observing related to this issue were because of setting the wrong system property https://github.com/netty/netty/issues/3166#issuecomment-135485992? Lets open a new issue if there are other issues...becomes too tough to track otherwise.

[2015-10-07 04:44] Scottmitch commented on #3247
`ByteToMessageDecoder` is not thread safe (its main use case is to be invoked from the event loop thread)....but it does expose a few protected methods (`callDecode`  is one of them) which may be a problem if it is invoked from outside the event loop. Are you calling `callDecode()` (or other protected methods) from a non event loop thread @timboudreau @Iker-Jimenez @ddossot?

[2015-10-07 05:07] Scottmitch commented on #4315
Just to clarify ... If you can make it **without** breaking use 4.0. @normanmaurer ?

[2015-10-07 05:08] normanmaurer commented on #4315
lol.. yes. Fat fingers :D

[2015-10-07 05:51] timboudreau commented on #3247
Would having more than one thread in the `EventLoopGroup` for events have that result?

[2015-10-07 05:53] Scottmitch commented on #4312
If autoRead is false this is generally true.

Understood. Hense https://github.com/netty/netty/issues/4312#issuecomment-145315165.  Are you suggesting changing behavior of [ByteToMessageDecoder.channelReadComplete](https://github.com/netty/netty/blob/master/codec/src/main/java/io/netty/handler/codec/ByteToMessageDecoder.java#L285) such that `channelReadComplete` is only propagated if messages were

[2015-10-07 05:56] Scottmitch commented on #3247
@timboudreau - Not unless there is a bug in Netty :) For 4.x the same thread should be used to processes I/O events.

[2015-10-07 06:29] slandelle commented on #4315
Yeah, that made me smile, but I got it right, no worries ;-)

[2015-10-07 06:31] timboudreau commented on #3247
Consider the possibility that there is one :-)

The netty-3247 branch of acteur (link above) offers a 100% reproducible test case.

[2015-10-07 06:41] normanmaurer commented on #3247
Will check today

[2015-10-07 07:33] #4316 closed

[2015-10-07 12:25] jroper opened #4327 "A number of toString() methods on classes that implement ByteBufHolder can throw IllegalReferenceCountException"
Two examples that I've found include `WebSocketFrame.toString()` and `DefaultByteBufHolder.toString()`.  `toString()` implementations should always try to avoid throwing exceptions, since they're used for things like creating exception messages and arbitrary logging of inputs/outputs.  Consequently, if `toString()` does throw an exception, this will often hide another real problem, a typical examp

[2015-10-07 12:29] normanmaurer commented on #4327
@jroper sounds like a bug... let me fix it.

[2015-10-07 12:32] #4284 closed

[2015-10-07 14:02] ninja- commented on #3166
@Scottmitch there's no issues right now really as I am trying to explain this to @aikar...

[2015-10-07 14:20] wajda opened #4328 "[New I/O worker #xyz] failed to stop"
Tomcat 8, Java 8.
When shutting down the Tomcat or undeploying the WAR I have the following in logs and the process doesn't stop.

[code]

Thread dump:

[code]

[2015-10-07 14:50] aikar commented on #3166
I understand that, I just noticed discussion on the maxCapacity setting that was used to I'm assuming to minimize impact that this issue was rising, and I was stating a desire for a more sane limit. As regardless of the underlying issues being fixed or not, it still makes sense for a sane limit for future cases that could cause the recycler to grow large for a temporary spike.

But I see now there

[2015-10-07 15:26] ninja- commented on #3166
the current 266k*threads limit is sane...unless you want to allocate 200mb to java and have 1000% cpu usage

[2015-10-08 01:17] Scottmitch commented on #3247
@timboudreau - I tried to build real quick...had issues with the maven compiler plugin defaulting to 1.7 instead of 1.8 and getting compiler errors.... lets see if @normanmaurer has better luck.

[2015-10-08 01:26] timboudreau commented on #3247
I think Acteur is all set up to use my Maven repository (there are a bunch of related projects that use git submodules and a remote parent - which is needed to fetch the parent for building one in isolation).  In a pinch:

[code]

The init script will checkout submodules and do the initial build.

Yeah, I have some users who insist on OpenJDK which is still at 1.7 - causes some frustration for me

[2015-10-08 08:14] normanmaurer commented on #3247
Looking at it now.

[2015-10-08 09:15] normanmaurer commented on #3247
@timboudreau I'm confused.. I used the steps you posted and needed to do some small adjustments to have it build. Anyway I can not reproduce the exception here :(

I guess I will need a bit more help here.

[2015-10-08 09:39] normanmaurer commented on #3519
@Iker-Jimenez sorry I totally missed this.

I think this was fixed by @trustin in netty 4.0.27.Final by this:
https://github.com/netty/netty/commit/2c14406b55e2879a6acef051049eccca24ed0202#diff-bf7a179a319b29e0262d5badaf3770e0

Could you please try to use netty 4.0.32.Final and see if the issue is still there ?

[2015-10-08 11:20] scf37 commented on #4313
Code is qute complex, but profiling via jmc states that `writeUtf8` is the bottleneck.

How 20-30% improved performance would help me? Good question. Not even sure what to answer. May be I should stick with unwrap() hack, at least it is fast.

    override def read(): Future[HttpContent] = {
      //reading by blocks of default socket buffer size
      val len = str.length

      if (readDone) {

[2015-10-08 11:26] normanmaurer commented on #4313
@scf37 ah got it! May I ask what  level for the leak detector you use ?

[2015-10-08 11:44] scf37 commented on #4313
Default level. ResourceLeakDetector is on SIMPLE

[2015-10-08 11:47] normanmaurer commented on #4313
@scf37 thanks... working on a patch.

[2015-10-08 19:28] Spikhalskiy opened #4331 "Suggestion to support Content Type parsing in HttpHeaders"
HttpHeaders already has specific methods for such popular and simple headers like "Host", but if I need to convert POST raw body to string I need to parse complex [ContentType](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.17) header in my code.

Would be great to add two methods to HttpHeaders class to parse values from content-type header of message
[code]

[2015-10-08 19:44] nmittler opened #4332 "Make buffer module stand-alone"
Many other projects might benefit from the buffer API in Netty.  To better enable this, the buffer module should be made as lightweight as possible, preferably stand-alone.

We'll need to investigate whether this is feasible and what would need to change in order to facilitate the change.

@normanmaurer @Scottmitch  FYI

[2015-10-08 20:58] ninja- opened #4333 "Re-add pooled sliced buffers?"
https://github.com/netty/netty/commit/77ff24b66b726638385a65509532635e72a608e6 has deleted the sliced pooled buffer.
@Scottmitch could you re-evaluate this decision. I really liked using slices here and there but I got rid of them to reduce garbage creation after this was reverted.

I am aiming to get rid of copy() etc. again and have another strategy for rewriting packets that would need to expan

[2015-10-08 20:59] ninja- commented on #4333
not to mention the composite buffers :D

[2015-10-08 21:08] NiteshKant commented on #4332
:+1: Although I thought it is standalone (no deps)

[2015-10-08 21:21] ninja- commented on #4332
as long as "no deps" equals "depends on netty-internal" I think it's a realistic goal

[2015-10-09 09:32] houdejun214 commented on #4318
@normanmaurer  Can you help me ?

When I write the message, but the server is killed, no any response and no any timeout event.

[2015-10-09 12:16] normanmaurer commented on #4331
We love contributions. What about submitting a PR?

[2015-10-09 12:51] Spikhalskiy commented on #4331
@normanmaurer yep, if you confirm that it would be good to have this in netty and it's not implemented yet, I will prepare PR in a week or two.

[2015-10-09 15:11] Scottmitch commented on #4333
@ninja- - I considered fixing the pooling code for derived buffers but it boiled down to having feedback from the `PooledByteBuf` to all derived buffers when the reference count when to 0. This would require keeping some sort of collection in `PooledByteBuf` that must be thread safe. I did not go through this exercise because it seemed like overhead of maintaining this thread safe collection may o

[2015-10-09 15:46] ninja- commented on #4333
Well whether replacing most copy()s with slice() is a premature optimization is an another topic. But what I mean by copy is, well, I forgot to mention that I am not using directly copy().

        ByteBuf dst = ctx.alloc().directBuffer( length );
        in.readBytes( dst );

here's the "copy" as copy() would also use unpooled buffers or something like that.

So using slices avoids memory copies

[2015-10-09 16:09] Scottmitch commented on #4333
@ninja- - If you can make it work without API changes or change in expected behavior then that would be good :)  Also be sure to consider the case where there are slice objects of other slice objects.

[2015-10-09 16:10] ninja- commented on #4333
@Scottmitch what do you think about the proposed model? the part when I mention that it's hard not to break buf.slice().copy()?

[2015-10-09 20:44] Scottmitch commented on #4231
PR https://github.com/netty/netty/pull/4335 starts the decouple process.

[2015-10-09 20:47] nmittler commented on #4332
Just looked at the size of buffer and common modules ... they total nearly 1MB (355,607B, and 580,552B respectively as of 4.0.1.Beta7).  It's probably worth breaking things down a bit so that other projects can depend only on the parts they need.  One obvious way to start down this path would be to define a `buffer-api` module.  I'll start putting some thought into this.

[2015-10-09 20:48] Scottmitch commented on #2448
PR #4335 starts to decouple Linux code from Unix code.

[2015-10-09 23:42] rdicroce commented on #2869
Opened PR #4338 to address these issues.

[2015-10-10 06:56] normanmaurer commented on #4313
@scf37 see #4345

[2015-10-10 07:22] scf37 commented on #4313
@normanmaurer Assuming you are asking me to review. Done.

[2015-10-10 07:37] normanmaurer commented on #4313
@scf37 replied to your comments

[2015-10-10 15:50] Scottmitch opened #4346 "HTTP/2 StreamBufferingEncoder in server mode"
The `StreamBufferingEncoder` currently only supports operating in client mode. `StreamBufferingEncoder` should be able to function for both client (request/response) and server (server-push). The server must also respect the SETTINGS_MAX_CONCURRENT_STREAMS.

https://tools.ietf.org/html/rfc7540#section-8.2.2

   the number of responses that can be concurrently pushed by a server.

See https://githu

[2015-10-10 15:50] Scottmitch commented on #4346
@trustin @normanmaurer @nmittler - FYI

[2015-10-10 18:14] normanmaurer commented on #4327
Fixed by https://github.com/netty/netty/pull/4341

[2015-10-10 18:14] #4327 closed

[2015-10-10 18:26] normanmaurer opened #4347 "Cleanup proxy example"
http://stackoverflow.com/questions/33030331/whats-the-purpose-of-ctx-writeunpooled-empty-buffer-in-netty-proxy-example/33057466#33057466

[2015-10-10 18:35] #4289 closed

[2015-10-10 22:33] ninja- commented on #4333
@Scottmitch @normanmaurer ok I see now how it worked. I have an idea how to re-add it, but under another function like rslice() while slice() would stay without ref-counting.
I am struggling to make a class structure that will make both a sliced and reference-counted buffer. any help?

[2015-10-10 23:11] ninja- commented on #4333
ok I think I got it...the class structure is quite ugly but it works. basically the derived buffer is refCnted by default and UnpooledSlicedByteBuf contains erasure for refCnting that forwards to parent. PooledSlicedByteBuf extends directly over AbstractSlicedByteBuf

[2015-10-11 01:07] ninja- commented on #4333
@normanmaurer @Scottmitch fyi https://github.com/ninja-/netty/commits/ninja

[2015-10-11 01:56] ninja- commented on #4317
@Scottmitch why it isn't in 4.1?

[2015-10-11 02:35] ninja- commented on #4317
maybe you should remove that shutdownInput() like I did in first version ?

[2015-10-11 08:46] normanmaurer commented on #4317
@ninja- so you say it is still not working for you ?

[2015-10-11 12:47] ninja- commented on #4317
@normanmaurer works most of the tikme now, but still a 5-10% chance. I blame the shutdownInput() which wasn't in my original patch.

[2015-10-11 13:48] oscar-broman opened #4348 "Sending an empty ArrayBuffer causes an error"
Netty 5.0.0.Alpha2

Client (browser):
[code]

Server log:
[code]

[2015-10-12 08:57] slandelle opened #4350 "ByteBufUtil.decodeString allocates too much when using UTF-8"
Netty version: 4.0.32.Final

`ByteBufUtil.decodeString` always use `Charset.maxCharsPerByte` to allocate the `CharBuffer`.

So if you're using UTF-8, maxCharsPerByte is 3.
But there's a very good chance that most chars are actually encoded in 1 byte, so the allocated buffer is oversized.

Why not allocate first based on `averageCharsPerByte` (or something like 80% averageCharsPerByte + 20% maxChar

[2015-10-12 08:59] normanmaurer commented on #4350
@slandelle sounds good. What about submitting a PR :) ?

[2015-10-12 09:07] slandelle commented on #4350
@normanmaurer Of course. I just wanted to make sure you agreed before submitting.

[2015-10-12 09:23] ninja- commented on #4350
I hate ByteBufUtil.decodeString as it uses the jdk charset decoders which are spamming object allocation so here's an alternative...

[code]

[2015-10-12 09:25] normanmaurer commented on #4350
@slandelle @ninja- actually I have a replacement in work of progress which should be even faster and has almost no allocation :)

[2015-10-12 09:32] slandelle commented on #4350
Ah ah ah, looks like I can stop coding on my side and let you guys do the hard work ;-)

BTW, I actually need something for building a String from multiple ByteBuffers. This use case looks so common to me (like building a String body from multiple chunks) that I'm pretty sure everybody has something like this of his own, and that's something that Netty could provide a built-in for.

WDYT?

[2015-10-12 09:37] normanmaurer commented on #4350
@slandelle something like StringBuilder that takes multiple ByteBufs ?

[2015-10-12 09:43] slandelle commented on #4350
@normanmaurer Sorry, I don't get you. I was thinking `decodeString(ByteBuffer* bufs)`.

[2015-10-12 09:47] normanmaurer commented on #4350
@slandelle ah so you really want ByteBuffer and not ByteBuf ?

[2015-10-12 09:51] ninja- commented on #4350
@normanmaurer there's not much to optimize in this version unless you can hack the string not to copy the char[]

[2015-10-12 09:58] slandelle commented on #4350
@normanmaurer `ByteBufUtil.readableBytes` currently takes a `ByteBuffer`, not a `ByteBuf`. I guess I could use ByteBufs too (instead of calling nioBuffers), but IIRC, I had issues with CompositeByteBuf where readableBytes is not properly computed.

[2015-10-12 10:02] slandelle commented on #4350
@ninja- Yes, you could save the char copy by injecting it directly into the String with Unsafe. I can already hear some people screaming.
And this would only work when the allocated length matches the actual one (US-ASCII, or UTF-8 that actually only contains 1 byte chars). Otherwise, you need to copy to trim down the char array, as String no longer has an offset and a length.

[2015-10-12 12:54] normanmaurer commented on #4328
@wajda seems like you missed to call shutdown:

https://github.com/netty/netty/blob/3.10/src/main/java/org/jboss/netty/channel/socket/nio/NioServerSocketChannelFactory.java#L208

[2015-10-12 12:54] #4328 closed

[2015-10-12 23:46] Scottmitch opened #4351 "DefaultAttributeMap unexpected behavior"
The relationship between [DefaultAttributeMap](https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/DefaultAttributeMap.java#L28) and [DefaultAttributeMap.Attribute](https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/DefaultAttributeMap.java#L142) is such that methods on the `DefaultAttributeMap.Attribute` can impact their presence in the `Defaul

[2015-10-12 23:46] Scottmitch commented on #4351
@normanmaurer - WDYT?

[2015-10-13 07:45] sweetest commented on #1706
Are there any updates regarding this?

[2015-10-13 09:00] normanmaurer commented on #4351
@Scottmitch I think the current behaviour is correct. Once you remove an Attribute it is expected that even if you call set on the Attribute it will not be in the map again.

[2015-10-13 09:05] normanmaurer commented on #1706
@sweetest no work was done here as far as I know...

[2015-10-13 10:02] #4313 closed

[2015-10-13 19:10] andrelanka opened #4353 "Sending a large FileRegion breaks the WriteTimeoutHandler"
Sending a big file with only one FileRegion triggers only one write in the pipeline. That breaks the WriteTimeoutHandler that was added to the pipeline.

Affected version: 4.0.29.Final

Current behavior: It closes the channel, when the transfer takes longer than the handler's threshold.
Expected  behavior: It closes the channel,  when no data was written within a certain period of time.

In case t

[2015-10-13 19:19] andrelanka opened #4354 "DefaultMessageSizeEstimator gives '0' for FileRegion"
In the DefaultMessageSizeEstimator the size of a FileRegion message is estimated with 0. By this, the WriteBufferHighWaterMark has no effect, when sending a file chunk-wise using channel.writeAndFlush.

Chunk-wise sending of the file is mandatory for us: Sending the file using a single FileRegion doesn't work in combination with a WriteTimeoutHandler because of issue #4353.

Affected version: 4.0.

[2015-10-13 23:35] Scottmitch commented on #4351
@normanmaurer - Seems like strange behavior that only some methods of [Attribute](https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/Attribute.java) would modify the state of the map ... but it is documented in the javadocs. Do you feel having some sort of disclaimer is necessary to call out the discrepancy of behavior w.r.t to modifying the map that contains the Attribu

[2015-10-14 00:38] freels opened #4355 "OpenSslServerContext reinitializes the provided TrustManagerFactory with the key cert chain."
AFAICT, this is incorrect behavior, as the provided trust manager factory should already be initialized.

[2015-10-14 03:42] freels opened #4356 "Unpooled CompositeByteBufs log leak detection errors"
If you create a CompositeByteBuf via Unpooled.wrappedBuffer(buffers...) or via Unpooled.compositeBuffer that itself wraps unpooled buffers, the resulting buffer will log a leak error on GC.

This seems like incorrect behavior...I'd expect only pooled buffers within a CompositeByteBuf or a CompositeByteBuf created via a pooled allocator to log leak errors.

[2015-10-14 04:16] luengnat opened #4357 "Assertion error in globalEventExecutor"
I am using Vertx 3.1 with Netty 4.0.31. Every once in a while, I got an assert on this line:

     protected final Runnable pollScheduledTask(long nanoTime) {
        assert this.inEventLoop();

        Queue scheduledTaskQueue = this.scheduledTaskQueue;
        ScheduledFutureTask scheduledTask = scheduledTaskQueue == null?null:(ScheduledFutureTask)scheduledTaskQueue.peek();
        if(scheduledT

[2015-10-14 05:11] ninja- commented on #4356
Unpooled != not reference counted

[2015-10-14 07:07] sweetest commented on #1706
Recently, I'm working on implementing multi-threaded UDP handler. Since it seems like that there's no way to do this in netty way, I tried to implement publisher-subscriber pattern in handling UDP datagram.
(by using LMAX disruptor, https://lmax-exchange.github.io/disruptor/)

On channelRead function of inbound handler, it just pushes datagram to a buffer, and multiple threads are consuming from t

[2015-10-14 07:26] freels commented on #4356
Regardless of how many unpooled bytebufs "leak", the error is never logged, only with unpooled composite bytebufs. So either all unpooled bytebufs should warn, or unpooled composite bytebufs should not.

[2015-10-14 08:48] normanmaurer commented on #2869
@rdicroce thanks again for the fix :)

[2015-10-14 08:48] #2869 closed

[2015-10-14 12:08] normanmaurer commented on #4348
Fixed

[2015-10-14 12:08] #4348 closed

[2015-10-14 12:12] normanmaurer commented on #4354
@andrelanka actually this works like it should. The pending bytes should only be adjusted for stuff that is hold in memory. FileRegion is expected to be not in memory so it makes no sense to increase these.

[2015-10-14 12:12] #4354 closed

[2015-10-14 12:12] normanmaurer commented on #4357
Will check

[2015-10-14 12:13] normanmaurer commented on #4347
Fixed

[2015-10-14 12:13] #4347 closed

[2015-10-14 13:36] ninja- commented on #4350
@slandelle that's correct. So I doubt @normanmaurer can do any magic to this version of readUTF8

[2015-10-14 13:37] normanmaurer commented on #4351
@Scottmitch with some methods you are talking about "remove()" here ?

[2015-10-14 13:41] normanmaurer commented on #4350
@ninja- I'm not saying your impl is bad or such... But did you actually benchmark it against using a CharDecoder ?

[2015-10-14 13:51] normanmaurer commented on #4355
@freels hmmm... s you would argue that either the user provides a full initialised TrustManagerFactory and not certs or none and the certs ?

[2015-10-14 14:08] ninja- commented on #4350
my goal was just to get rid of object allocation but I don't think it would be slower than CharDecoder. my readUTF8

[2015-10-14 14:23] Akarshit commented on #2127
@trustin Hello, i am using Netty for developing a library that is compatible with both android and java, can you please confirm that Netty will be compatible with Android, and also which version is most compatible with Android.

[2015-10-14 15:01] freels commented on #4355
Yes. This would match the behavior of JdkSslServerContext as well.

In my case, I am trying to provide a trust manager initialized with a root CA cert that a server context will use to validate client certs. However, because OpenSslServerContext reinitializes the provided trust manager w/ the server's cert, it drops the root cert and trusts only its own server cert.

[2015-10-14 15:07] freels commented on #4355
Also, if neither a trust manager or trusted cert are provided, I'm pretty sure it should be able to use a default trust manager (w/o the call to init) in order to use the system provided trust store. (I'm looking at https://github.com/netty/netty/blob/4.0/handler/src/main/java/io/netty/handler/ssl/OpenSslServerContext.java#L370-L380 )

[2015-10-14 15:11] normanmaurer commented on #4355
Alright... Looking or if you like you could also do a pr ;) ?

[2015-10-14 15:13] freels commented on #4355
I'd be happy to provide a PR sometime in the next few days... just wanted to make sure this was something to fix before spending more time on it. :)

[2015-10-14 15:18] normanmaurer commented on #4355
If it is how it is done in Jdk one yes :)

[2015-10-14 16:24] normanmaurer commented on #2127
@Akarshit use 3.x or 4.0.x

[2015-10-14 16:35] Akarshit commented on #2127
@normanmaurer thanks :smile:

[2015-10-14 17:28] normanmaurer commented on #4357
@luengnat ok I think i know where the problem is... working on a fix now :+1:

[2015-10-14 23:25] julienledem commented on #2545
@normanmaurer @trustin Do you have an idea what's happening? This is making the Drill test suite quite slow has it takes 1 sec every time we close one of those.

[2015-10-15 09:28] prange opened #4363 "DefaultMessageSizeEstimator should have a default unknown size of 1"
A size of 1 would prevent the task queue of the  eventLoop in the client from growing indefinitely in cases where the client is producing data faster than when the server can consume them.

[2015-10-15 09:31] normanmaurer commented on #4363
@prange that is actually a very good idea! Let me do a PR or you want to do it ?

[2015-10-15 10:15] prange commented on #4363
@normanmaurer If you could do that it would be great.

[2015-10-15 10:25] normanmaurer commented on #4363
Will do...

[2015-10-15 21:16] Scottmitch commented on #4317
@ninja- - Can you try to reproduce with https://github.com/netty/netty/pull/4336? If you could describe what the state looks like in `AbstractEpollChannel.epollRdHupReady` that would be much appreciated.

Some of the things of interest:
- value of `isActive()`
- (assuming `isActive()` is true) how does the `epolInReady()` loop terminate? This will depend upon what type of Channel you are using. Ho

[2015-10-15 21:38] Scottmitch commented on #4351
@normanmaurer - Yes I was referring to `remove()` and `getAndRemove()`. These methods already document the map will be modified...the unexpected part is the setter methods don't reciprocate this behavior. The disclaimer would be something along the lines of (on each setter method):

[code]

[2015-10-15 22:13] ninja- commented on #4317
I was about to remind you about this :D
the case you left me with is hard to test to see if properly fixed but I doubt anything at #4336 could change it. do you have anything against removing that shutdownInput @ RDHUP so it would work as my original version did? 99% that's it

[2015-10-16 09:21] gaoyuxin1 opened #4365 "MMM you should be here！"
在mmm这个大平台里可以帮助很多的人 这是个互助友爱诚信的友好平台。我们要一起维护好这个

[2015-10-16 09:33] #4365 closed

[2015-10-16 18:57] normanmaurer commented on #4357
Fixed

[2015-10-16 18:57] #4357 closed

[2015-10-16 19:15] Scottmitch commented on #4317
@ninja- - Yes I would like to check with the "newest" code just to remove any doubt.

Can you explain why you think removing the [shutdownInput](https://github.com/netty/netty/blob/master/transport-native-epoll/src/main/java/io/netty/channel/epoll/AbstractEpollChannel.java#L360) call is correct?  We are assuming that once we get notified of `EPOLLRDHUP` that the data queued in the OS buffers is al

[2015-10-16 19:25] Scottmitch commented on #4350
You heard me :smile: http://openjdk.java.net/jeps/254

[2015-10-16 21:07] ninja- commented on #4317
that isn't always true in some scenarios that can cause the issue...mostly on localhost

[2015-10-16 21:13] ninja- commented on #4317
here's the "spec"

are you sure it breaks only when 0 is returned and not -1? is it even possible to detect when using splice...?

[2015-10-16 21:55] ninja- commented on #4317
I think that even without shutdownInput() it's 100% guaranteed to close when next EPOLLIN triggers.

[2015-10-16 22:33] Scottmitch commented on #4317
Can you provide a reproducer in which EPOLLRDHUP is triggered, and then at some later point EPOLLIN triggers?  It seems like the definition of EPOLLRDHUP is that the peer has shutdown their write end of the socket, and thus will not be writing any more data.

http://man7.org/linux/man-pages/man2/epoll_ctl.2.html:

              Stream socket peer closed connection, or shut down writing

[2015-10-16 22:39] Scottmitch commented on #4302
Observed again https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=2355#_focus=36816&state=36816
[code]

[2015-10-16 22:49] ninja- commented on #4317
so @Scottmitch  how about we get back to the first case without your changes(when I fixed it just by getting rid of shutdownInput) and from that point I am going to debug you the epoll events and "read" return values. this version was easy to trigger(90%)

[2015-10-16 23:44] Scottmitch commented on #4317
@ninja- - If you think this will helpful, although I'm more interested in the conditions that make https://github.com/netty/netty/pull/4325 not work.

[2015-10-18 16:52] doom369 opened #4372 "[Impovement] Better way for channel re-registering"
Hi. At the moment I have to use next code in order to re-register channel to another EventLoop :

[code]

Maybe it would be better to add one more "reRegister" method for ChannelHandlerContext like this :
[code]

What do you think?

[2015-10-18 23:32] stau opened #4373 "FixedChannelPool race condition when closed during acquire"
An AssertionError is thrown when FixedChannelPool is being closed, while somewhere at the same time an acquire occurs.
The acquire triggers FixedChannelPool::decrementAndRunTaskQueue(), while FixedChannelPool::close() sets                 acquiredChannelCount = 0;

This only happens when objects using the pool are not terminated prior to calling close.

[2015-10-19 09:01] hnrkp opened #4375 "Multi-threaded multi-channel EpollDatagramChannel memory leak"
Trying to work around the issue in #1706 where NioDatagramChannel would only use one worker thread for all IO we ended up with something like this for our service that proxies data packets for an VPN-like service that we run. It's pretty simple, we bind to one external udp socket which will receive the data packets, decrypt them and throw them at another service at localhost which will push it to

[2015-10-19 09:12] normanmaurer commented on #4375
@hnrkp only had a very quick look but i think you forgot to release the message if the channel is not writable anymore:

[code]

[2015-10-19 09:22] hnrkp commented on #4375
Ah, old version of the code. It doesn't matter since isWritable() has never returned false unless I'm shutting the channel down, which I never do unless ctrl-c:ing the server, since it's UDP. Even with the else-release added, same behavior.

And large amount of never-released io.netty.channel.AbstractChannelHandlerContext$WriteAndFlushTask objects also are still there, which I would not expect to

[2015-10-19 10:18] hnrkp commented on #4375
@normanmaurer Is there anything in my setup that seems off? Using netty for datagram is usually a bit harder since most examples and discussion about how to optimize usually are targeted towards tcp and http, so I might have done something strange. But I still feel that it smells of a bug, that the AbstractChannelHandlerContext$WriteAndFlushTask seems to leak. The rest of the leaks I guess are exp

[2015-10-19 15:21] ninja- commented on #4375
you shouldn't call msg.retain() there. get rid of it

[2015-10-19 15:38] hnrkp commented on #4375
@ninja- Well, I'll try to get around it but since the buffer will be written to another channel with another context netty will release the message after I return from that read0(), so either I clone it before writing it or I'll just add the retain() and it won't be released until written to the next channel. Thought we'd save a few allocations that way.

[2015-10-19 15:45] Scottmitch commented on #4373
@normanmaurer - Can you take a look?

[2015-10-19 16:20] nmittler commented on #4302
@Scottmitch any luck reproducing?

[2015-10-19 16:50] hnrkp commented on #4375
Ok, so I started to not use PooledByteBufAllocator and now the need for the external executor seems to be gone. And during the afternoon and countless times of watching the GC do nothing at all, I think I might start to consider the fact that since it requires some amount of memory allocation to write() to my handlers (DTLS encrypt/decrypt via JNI, don't ask, or maybe do..), once the app hits the

[2015-10-19 17:00] ninja- commented on #4375
umm @hnrkp you are entirely on a bad track. just delete that .retain() and that's all

[2015-10-19 17:05] hnrkp commented on #4375
@ninja- No, it's needed since it's proxying that message to another channel and different handlers, and the refcount is decremented once I return from the MessageToMessageCodec.write(). So to retain that message for the next channel i need to .retain() it, right? Anyway, it works now and is running along happily with a few tens of thousands of simultaneous connections throwing quite the number of

[2015-10-19 17:07] ninja- commented on #4375
so I am telling you that autoread = false is what you want

[2015-10-19 17:16] hnrkp commented on #4375
@ninja- Yeah, I've looked into it but since the datagramchannel is only one channel for all your clients then it's a bit hard to decide when you should disable read and enable it again. If there was any way of detecting if the queues for the eventloopgroup(s) start to build, then it would be nice to be able to kill the reads for that channel until the queue situation looks a bit better. But I'm no

[2015-10-19 17:32] Scottmitch commented on #4302
@nmittler - Nope. Haven't looked into since before we released beta7... I just noticed this popped up on the build server. It seems to be related to the buffer allocated in `DefaultHttp2FrameWriter.writePing`. Last time I checked it seemed like we were releasing this in unit tests (if it is received)...however we don't always care to wait for it. I wonder if there is some race condition in LocalCh

[2015-10-19 20:32] Gadreel opened #4376 "tcnative Windows build"
The tcnative page says:

"If you are on Windows, you have to:
Build APR by yourself (or get the 64-bit DLL from our CI server),"

But the link to the CI server fails every time, been trying every day for the last 4 days.  It would be very valuable to have the Windows 64 bit binary for those of us without much Windows functionality, but who have customers using Windows.  thanks!

[2015-10-20 00:22] fratboy commented on #4373
@stau Can you show me the test code you made?
I suspect `AssertionError` occurs when `FixedChannelPool::decrementAndRunTaskQueue()` is called after `FixedChannelPool::close()`.

[2015-10-20 00:45] fratboy opened #4377 "Make ChannelPool::close to accept Promise"
Sometimes I have to wait until `ChannelPool::close` ends, but there is no way right now.
I think it would be useful if I can pass a `Promise` to `ChannelPool::close`.
@normanmaurer What do you think about it?

[2015-10-20 08:31] hnrkp commented on #4375
I implemented some throttling of incoming traffic (which generates outbound traffic) by flipping autoread true and false in a not so pretty but very well functioning fashion. Since this is obviously not the bug I initially described I'll just close it. Thanks, everyone.

[2015-10-20 08:31] #4375 closed

[2015-10-20 17:26] stau commented on #4373
Yes, this occurs when an acquired Channel is released after the FixedChannelPool has been closed:
[code]

[2015-10-20 18:02] normanmaurer commented on #4373
@fratboy @stau I think in this case we may want to just close the Channel ?

[2015-10-20 18:02] normanmaurer commented on #4377
@fratboy actually maybe ChannelPool::close should only return once it is done ?

[2015-10-20 18:05] dustismo opened #4379 "Http2 StreamBufferingEncoder does not write data frame for client initialized streams"
Using the http2 example in in netty 4.1.0.Beta7 (both the tiles example nor the helloworld example)

Steps to reproduce:
1. start helloworld server example
2. start helloworld client example
--> client shows headers received, but no data.

more details:
Client issues get request with streamId 3
Response sent from server:
1. Headers are correctly sent via StreamBufferingEncoder#writeHeaders

[2015-10-20 18:43] normanmaurer commented on #4379
@Scottmitch @nmittler can you check ?

[2015-10-20 19:12] stau commented on #4373
@normanmaurer By closing subsequent Channels, would it mean that the FixedChannelPool will remain in the "closed" state forever? The current implementation seems to be resetting the FixedChannelPool rather than closing it permanently.

[2015-10-20 19:13] normanmaurer commented on #4373
@stau yes it should stay closed forever

[2015-10-20 20:50] fratboy commented on #4373
@stau I think we should not call `pool.release(ch)` after call `pool.close()`.
@normanmaurer  Is it better to set promise failed when a user call `pool.acquire` or `pool.release` after call `pool.close` ?

[2015-10-20 21:03] fratboy commented on #4377
@normanmaurer It is but I think it would be better we can be notified when underlying channel closing is done.

[2015-10-20 21:17] stau commented on #4373
@fratboy This shouldn't occur in normal circumstances, however when attempting to (best effort) clean up after an Exception, the pool may be closed before an acquired Channel is released. For example having a handler which releases a Channel after an operation is complete.

[2015-10-21 16:41] nmittler commented on #4379
I'm able to reproduce with `4.1.0.Beta7` but `master` seems fine.  @dustismo can you confirm?

[2015-10-21 16:43] normanmaurer commented on #4379
Maybe it is related to the enforcing of max streams that I changed lately?

[2015-10-21 16:53] nmittler commented on #4379
Yup ... @Scottmitch, @normanmaurer  it looks the builder for Http2ConnectionHandler is broken in 4.1.0.Beta7: https://github.com/netty/netty/blob/netty-4.1.0.Beta7/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L188

Where as this is disallowed in master: https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2Conne

[2015-10-21 17:03] normanmaurer commented on #4379
@nmittler yeah I think the patch was cherry-picked after the release.

[2015-10-21 17:03] normanmaurer commented on #4379
@dustismo please test with 4.1.0.Beta8-SNAPSHOT (current 4.1 branch).

[2015-10-21 21:25] dustismo commented on #4379
@normanmaurer yep, seems to be fixed in Beta8-SNAPSHOT.  thanks