[2019-11-01 23:36] arukshani commented on #9724
Thanks @carl-mastrangelo for taking a look at the graphs.

I'll get a JFR and see whether I could spot anything. Please don't close the issue yet.

[2019-11-04 06:45] ZhenLian commented on #7862
@normanmaurer

Hello Norman, thanks for the excellent work! I've noticed that you had several following PRs to solve this problem, but I am still not super clear after reading the codes and comments in those PRs. May I know what exactly do I need to do in order to offload the work if I am using my custom TrustManager and KeyManager, and some of the operations such as peer cert selection or trust c

[2019-11-04 15:11] normanmaurer commented on #9747
@lvfangmin I think the fact that it works for others is that they have their own KeyManager implementations that have "stable" alias between connections. So yes I think for you it is correct to not use `OpenSslCachingX509KeyManagerFactory`.  That said there should be no performance hit when using `BoringSSL` as it allows us to not parse the key / cert and just use the bytes directly internally.

I

[2019-11-04 16:14] johnou commented on #9747
@lvfangmin how big is your keystore exactly? not some autogenerated thing with thousands of obsolete / duplicate certificates I hope?

[2019-11-04 16:41] normanmaurer commented on #9746
@cyxpdc if you feel strong about it please open a pr.

[2019-11-04 16:41] #9746 closed

[2019-11-04 16:42] normanmaurer commented on #9728
I think I agree with @ejona86

[2019-11-04 17:24] amcrn commented on #9728
Thanks for the quick replies @ejona86 @carl-mastrangelo @normanmaurer , I really appreciate it.

(Note: I'm going to be very explicit with flags and such so that other people with the same issue can find it in a Google search)

My attempt to avoid direct buffers arose out of trying to triage `OutOfDirectMemoryError`s being thrown repeatedly in a high throughput application.  Turning on `-Dio.netty

[2019-11-04 17:41] njhill commented on #8097
@normanmaurer updating the doc wiki doesn't appear to have updated the pages yet. Assuming you agree with the changes, is there something which needs to run to regenerate?

[2019-11-04 18:03] normanmaurer commented on #8097
I will need to re-generate these... doing as we speak.

[2019-11-04 18:03] #8097 closed

[2019-11-04 19:44] smillies opened #9754 "Should netty threads be daemonized?"
This links back to issue #2832, which was closed in August 2014 with a comment that Netty 5 would use daemon threads. However, 5 years later, the current version is 4.1.43 and Netty still uses non-daemon threads, which is a bit of a pain with regard to shutdown behavior, and differs from the default behavior of other embedded servers, like Tomcat.

Do you think this should be changed in Netty 4.x

[2019-11-04 19:47] normanmaurer commented on #9754
@smillies I don't think we want to change this in a non major release. You can specify your own `ThreadFactory` if you like tho

[2019-11-04 20:02] smillies commented on #9754
I see. Could you explain in a few words how I could configure my own thread factory (which I guess I should back by the DefaultThreadFactory and just change the daemon property of the threads). I haven't been able to find anything about it in the User Guide or API docs. Preferably, this should be by external configuration, not programmatic, because I am using the Netty server that is embedded in H

[2019-11-05 05:56] MyGodIT opened #9755 "no netty_transport_native_epoll_x86_64 in java.library.path"
![image](https://user-images.githubusercontent.com/29084833/68182142-04f4be80-ff91-11e9-96bd-4fb902e2beba.png)

<dependency>
      <groupId>io.netty</groupId>
      <artifactId>netty-all</artifactId>
      <version>4.1.42.Final</version>
</dependency>

java version "1.8.0_172"
Java(TM) SE Runtime Environment (build 1.8.0_172-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.172-b11, mixed mode)

Ce

[2019-11-05 06:10] #9755 closed

[2019-11-05 07:48] lvfangmin commented on #9747
@normanmaurer @johnou we have a single keystore, which returns a 'key' alias every time, the problem is that the alias chose from the [JDK X509KeyManagerImpl](https://github.com/AdoptOpenJDK/openjdk-jdk11/blob/master/src/java.base/share/classes/sun/security/ssl/X509KeyManagerImpl.java#L239) is unique every time.

I spent a day to abstract our openssl code and put it into a file here:

[NettySslTes

[2019-11-05 09:45] kapsterio commented on #9716
It is not an issue indeed. Netty support establishing  HTTP/2 connections over cleartext TCP by http1.1 upgrade or prior Knowledge, and also support ALPN when using HTTP2 over TLS.  If you are sure about your server support  http2, your client code should use the `Http2ConnectionHandler` to send connection preface directly.  Seems you use `Http2ClientInitializer` to initialize your client Netty pi

[2019-11-05 10:06] normanmaurer commented on #9747
@lvfangmin thanks will have a look

[2019-11-05 16:35] ursaj opened #9758 "Epoll native library does NOT load after upgrade between 4.1.39 and 4.1.40"
### Expected behavior

Native epoll support keeps working after upgrade.

### Actual behavior

Server apps fail on startup with the following stack trace:

    ...
	Caused by: java.lang.UnsatisfiedLinkError: failed to load the required native library
		at io.netty.channel.epoll.Epoll.ensureAvailability(Epoll.java:80)
		at io.netty.channel.epoll.EpollEventLoop.<clinit>(EpollEventLoop.java:52)
		at

[2019-11-05 16:56] normanmaurer commented on #9758
What is the Linux distro and Version ?

[2019-11-05 20:41] ursaj commented on #9758
Updated description

[2019-11-06 00:34] Bennett-Lynch commented on #8298
I think this could be solved somewhat elegantly in Netty 4 by simply introducing overloaded constructors that replace `boolean validateHeaders` with an enum for RFC header validation compliance *or*  a custom `NameValidator`. The RFC enum could map to the relevant `NameValidators` that Netty maintains and be easy to discover for users.

[2019-11-06 01:17] carl-mastrangelo commented on #9758
Can you give the exact maven / gradle dependency you are using?    I think you need to depend on the os specific version.

[2019-11-06 09:27] ursaj commented on #9758
% mvn --projects api\serverapi dependency:tree | grep netty | tee build.log
	5697 [BuilderThread 0] [INFO] |  +- io.netty:netty-transport:jar:4.1.43.Final:compile
	5698 [BuilderThread 0] [INFO] |  |  \- io.netty:netty-resolver:jar:4.1.43.Final:compile
	5698 [BuilderThread 0] [INFO] |  +- io.netty:netty-handler:jar:4.1.43.Final:compile
	5698 [BuilderThread 0] [INFO] |  |  \- io.netty:netty-codec:ja

[2019-11-06 09:34] normanmaurer commented on #9758
@ursaj can you show me your libc version ?

[2019-11-06 11:23] normanmaurer commented on #9754
@smillies the only way is to construct the `*EventLoopGroup` with your own `ThreadFactory`. You will need to ask the Helidon maintainers to expose this to you.

[2019-11-06 11:23] #9754 closed

[2019-11-06 11:23] normanmaurer commented on #9716
Like @kapsterio said... closing.

[2019-11-06 11:23] #9716 closed

[2019-11-06 11:26] normanmaurer commented on #9747
@lvfangmin can you also share the `testKeyStore.jks` and `testTrustStore.jks ` files ?

[2019-11-06 13:34] normanmaurer commented on #9747
@lvfangmin after some debugging I think I also know why people usually not see this problem.

By default we use "SunX509" as algorithm when creating the KeyManagerFactory. When this is used the JDK uses [SunX509KeyManagerImpl](https://github.com/AdoptOpenJDK/openjdk-jdk11/blob/master/src/java.base/share/classes/sun/security/ssl/SunX509KeyManagerImpl.java). This one uses "stable" aliases and so the

[2019-11-06 14:08] normanmaurer commented on #9747
@lvfangmin added the bound https://github.com/netty/netty/pull/9759...

[2019-11-06 17:27] lvfangmin commented on #9747
@normanmaurer thanks for help debugging the issue here, the improvements you suggested to add protection in Netty to avoid using OpenSslCachingX509KeyManagerFactory if the key manager algorithm is using X509KeyManagerImpl sounds reasonable to me, otherwise it will add overhead instead of making it more efficient. If this is not easy to achieve, maybe we should update the doc of OpenSslCachingX509K

[2019-11-06 18:18] ursaj commented on #9758
sure, if you tell me, what should I be looking for. I'm not familiar with native libraries...

[2019-11-06 18:21] normanmaurer commented on #9758
Just run ldd-v

[2019-11-06 22:40] ursaj commented on #9758
% ldd -v /lib64/libc.so.6
			/lib64/ld-linux-x86-64.so.2 (0x00007f175f4c5000)
			linux-vdso.so.1 =>  (0x00007fff373d5000)

			Version information:
			/lib64/libc.so.6:
					ld-linux-x86-64.so.2 (GLIBC_2.3) => /lib64/ld-linux-x86-64.so.2
					ld-linux-x86-64.so.2 (GLIBC_PRIVATE) => /lib64/ld-linux-x86-64.so.2

[2019-11-07 01:32] carl-mastrangelo commented on #9758
glibc 2.3 was released in 2002.  I think you need to upgrade.

[2019-11-07 05:20] kiki1992 opened #9761 "Thread safety"
https://github.com/netty/netty/blob/af532d2b7ec2c151e5327a34c0b7e581d4dad2ab/transport/src/main/java/io/netty/channel/DefaultChannelPipeline.java#L143

it seems that addFirst0 method not thread safe here, can somebody kindly tell me why it's OK here.

[2019-11-07 06:46] #9747 closed

[2019-11-07 07:38] normanmaurer commented on #9758
@ursaj huh... 2.3 ? That is super strange and I don't think we changed anything in how we build stuff. Can you try to upgrade one version after the other and let me know in which version it exactly broke ?

[2019-11-07 08:51] normanmaurer commented on #9747
@lvfangmin please check https://github.com/netty/netty/pull/9762...

yes `OpenSslCachingX509KeyManagerFactory` is a bit faster as it can cache the generated "native" key material while for `OpenSslX509KeyManagerFactory` we will need to re-generate it on each invocation.

[2019-11-07 09:09] normanmaurer commented on #9761
@kachayev it actually  is  as prev and next is volatile

[2019-11-07 09:09] #9761 closed

[2019-11-07 09:10] normanmaurer commented on #9689
There is something we need to fix here with a macOS CI slave. Will dig into it.

[2019-11-07 11:15] ursaj commented on #9758
Checker:

    package test;

    import io.netty.channel.epoll.Epoll;

    /**
     * Dependencies:<pre>
     *     io.netty:netty-transport-native-epoll:${project.version}:linux-x86_64
     * </pre>
     */
    public class NettyEpollChecker {
        public static void main(String[] args) {
            System.out.println("Epoll.isAvailable: " + Epoll.isAvailable());
            Throwable cause =

[2019-11-07 11:39] kiki1992 commented on #9761
Thanks for your reply, but I found that prev and next in DefaultChannelHandlerContext is not marked as volatile in master branch

[2019-11-07 13:17] normanmaurer commented on #9758
ok interesting... let me try to find out what changed

[2019-11-07 13:34] normanmaurer commented on #9758
@ursaj can you paste the output of : `ldd --version` ?

[2019-11-07 14:01] normanmaurer commented on #9761
@kiki1992 that's correct as in the master branch all these modifications are done in the same Thread (EventLoop thread).

[2019-11-07 14:02] normanmaurer commented on #9730
@slandelle @vietj ping...

[2019-11-07 20:21] #9524 closed

[2019-11-07 20:21] normanmaurer commented on #9376
No response from the reporter... let me close it

[2019-11-07 20:21] #9376 closed

[2019-11-07 20:22] #8978 closed

[2019-11-07 20:24] normanmaurer commented on #8426
- `Recycler.WeakOrderQueue.Head.finalize` was removed

[2019-11-07 20:28] normanmaurer commented on #8345
This can be closed as the OOM was fixed as said in https://github.com/ballerina-platform/ballerina-lang/issues/11368

[2019-11-07 20:28] #8345 closed

[2019-11-07 20:29] normanmaurer commented on #8337
Seems like this was fixed by a newer version. See https://github.com/googleapis/google-cloud-java/issues/3455. Closing it

[2019-11-07 20:29] #8337 closed

[2019-11-07 20:30] normanmaurer commented on #8303
The code was moved to https://github.com/moquette-io/netty-mqtt5-codec

[2019-11-07 20:30] #8303 closed

[2019-11-07 20:30] normanmaurer commented on #8298
@Bennett-Lynch sure if there is someone who wants to do the work ... **hint**

[2019-11-07 20:32] normanmaurer commented on #8103
Closing as it seems like all is working as designed

[2019-11-07 20:32] #8103 closed

[2019-11-07 20:33] normanmaurer commented on #8077
@leventov interested in providing a PR ?

[2019-11-07 20:46] normanmaurer commented on #9401
Please use stack overflow for questions.

[2019-11-07 20:46] #9401 closed

[2019-11-07 21:30] infoLightspace commented on #8011
Am up for the challenge. Am going through the draft.

[2019-11-07 23:25] ursaj commented on #9758
% ldd --version
	ldd (GNU libc) 2.11.3
	Copyright (C) 2009 Free Software Foundation, Inc.
	This is free software; see the source for copying conditions.  There is NO
	warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
	Written by Roland McGrath and Ulrich Drepper.

[2019-11-08 01:14] kiki1992 commented on #9761
@normanmaurer if I call addFirst method from thread other than EventLoop thread, addFirst0 will be executed later by EventExecutor, it seems not thread safe here.

if (!inEventLoop) {
                try {
                    executor.execute(() -> addFirst0(newCtx));
                    return this;
                } catch (Throwable cause) {
                    handlers.remove(0);

[2019-11-08 02:05] njhill commented on #9761
@kiki1992 `executor` here _is_ the event loop (there is only one per pipeline unlike 4.1).

[2019-11-08 02:48] kiki1992 commented on #9761
what about use a multiThread EventLoop implementation rather than SingleThreadEventLoop here.

[2019-11-08 02:59] njhill commented on #9761
@kiki1992 event loops are always single-threaded  `EventLoop extends OrderedEventExecutor` (technically could be multiple threads but tasks would still be serialized in that case)

[2019-11-08 03:11] kiki1992 commented on #9761
got it! this means that we have to rely on a correct implementation of EventLoop,Right?

[2019-11-08 03:43] njhill commented on #9761
@kiki1992 that’s correct. and you could also replace “EventLoop” in that sentence with “any interface that we might ever use”, that is kind of the definition of an interface :)

[2019-11-08 04:14] kiki1992 commented on #9761
Thanks a lot!

[2019-11-08 05:10] gopal229 commented on #5201
I m hitting the same issue with Netty 4.1.42.Final. 'ws-decoder' and 'ws-encoder' handlers got inserted in the wrong place.

Handler order prior to the handshake

HttpClientCodec#0=io.netty.handler.codec.http.HttpClientCodec@20c73c43,
proxy=io.netty.handler.proxy.HttpProxyHandler@459697d7,
websocketClientCodec=io.netty.handler.codec.http.HttpClientCodec@19deaa68,
aggregator=io.netty.handler.codec.

[2019-11-08 06:11] gopal229 commented on #5201
I found a workaround for this.  Instead of adding HttpClientCodec handler, add HttpResponseDecoder/HttpRequestEncoder to the channel pipeline.

[2019-11-08 08:12] normanmaurer commented on #9758
hmm that's super strange. We use centos 6 to compile our native epoll transport which uses `glibc. 2.12` since forever. I fail how there could be any difference :(

[2019-11-08 10:09] leventov commented on #8077
No such plans

[2019-11-08 10:58] normanmaurer commented on #5456
This is "fixed" in the master branch where its possible to extend this stuff

[2019-11-08 10:58] #5456 closed

[2019-11-08 11:01] normanmaurer commented on #5125
No update so closing

[2019-11-08 11:01] #5125 closed

[2019-11-08 11:03] normanmaurer commented on #3747
unfortunately there is nothing we can do I think :(

[2019-11-08 11:03] #3747 closed

[2019-11-08 11:04] normanmaurer commented on #3207
Let me close this for now... There was no-one that seems to be interested to work on it

[2019-11-08 11:04] #3207 closed

[2019-11-08 11:05] normanmaurer commented on #2668
smartOS is not a "supported" build platform for us. So let me close this

[2019-11-08 11:05] #2668 closed

[2019-11-08 11:17] normanmaurer commented on #2352
@benevans this is fixed in the master branch. There you should not observe this race anymore

[2019-11-08 11:17] #2352 closed

[2019-11-08 12:33] normanmaurer commented on #3534
Netty 5 will be

[2019-11-08 12:33] #3534 closed

[2019-11-08 12:34] normanmaurer commented on #3702
This should be fixed in master as all of this is done in the EventLoop.

[2019-11-08 12:34] #3702 closed

[2019-11-08 12:38] normanmaurer commented on #5855
We do now...

[2019-11-08 12:38] #5855 closed

[2019-11-08 12:38] normanmaurer commented on #6285
This was moved to an alternative project

[2019-11-08 12:38] #6285 closed

[2019-11-08 12:40] normanmaurer commented on #6459
As far as I can tell we ensure it is used correctly now

[2019-11-08 12:40] #6459 closed

[2019-11-08 17:44] ZhenLian opened #9767 "[Discussion] API Support for TrustManager and KeyManager in SslContext"
Hello Netty team,

I am part of the Production Security team at Google. Our team wants to implement a utility library that can support [SPIFFE](https://spiffe.io/) on top of gRPC, and we need to pass in a custom **TrustManager** and **KeyManager** when creating **SslContext**. However, since **SslContext** only supports **TrustManagerFactory** and **KeyManagerFactory** as its building blocks, we c

[2019-11-08 17:55] ejona86 commented on #9767
To be clear, the main change would be to add overloads to `SslContextBuilder` to receive the managers instead of manager factories. It could immediately convert the managers into factories and let factories continue to pass through Netty. Or it could try to pass the managers directly into the deeper parts of the SslContext handling.

[2019-11-08 18:53] millems opened #9768 "Increased memory footprint in 4.1.43.Final"
### Expected behavior

Memory usage should not largely increase between Netty versions.

### Actual behavior

Memory usage increased in user application tests, and `io.netty.testsuite.transport.socket.SocketSslEchoTest#testSslEcho()` netty test.

**4.1.42.Final**

Heap Usage: 59 MB
Non-Heap Usage: 41 MB

![Screen Shot](https://user-images.githubusercontent.com/24903526/68501642-73e14a00-0213-11ea-

[2019-11-08 19:12] njhill commented on #9768
@millems it looks like you meant 4.1.43.Final in the title (rather than 1.4.34.Final)?

[2019-11-08 19:41] ursaj commented on #9758
--- % ldd -v libnetty_transport_native_epoll_x86_64_4.1.39.so
	---         linux-vdso.so.1 =>  (0x00007ffd53dc5000)
	---         librt.so.1 => /lib64/librt.so.1 (0x00007fa7c037d000)
	---         libc.so.6 => /lib64/libc.so.6 (0x00007fa7bfffd000)
	---         libpthread.so.0 => /lib64/libpthread.so.0 (0x00007fa7bfddd000)
	---         /lib64/ld-linux-x86-64.so.2 (0x00007fa7c07a5000)
	+++ % ldd -v li

[2019-11-08 20:05] millems commented on #9768
Good call, will fix.

[2019-11-08 20:41] ursaj commented on #9758
Maybe there are some logs from build, that could clarify this (new) dependency on GLIBC_2.12 ?

[2019-11-08 21:39] ursaj commented on #9758
% strings /lib64/libc.so.6 | grep "^GLIBC_" | sort | uniq
	GLIBC_2.10
	GLIBC_2.11
	GLIBC_2.2.5
	GLIBC_2.2.6
	GLIBC_2.3
	GLIBC_2.3.2
	GLIBC_2.3.3
	GLIBC_2.3.4
	GLIBC_2.4
	GLIBC_2.5
	GLIBC_2.6
	GLIBC_2.7
	GLIBC_2.8
	GLIBC_2.9
	GLIBC_PRIVATE

[2019-11-08 23:14] millems commented on #9768
Testing of application-level code shows a different picture of things...

**4.1.42**

<img width="1053" alt="Screen Shot 2019-11-08 at 3 11 43 PM" src="https://user-images.githubusercontent.com/24903526/68516899-3c39c880-023a-11ea-8da4-e62ee31524ba.png">

**4.1.43**

<img width="1056" alt="Screen Shot 2019-11-08 at 3 11 55 PM" src="https://user-images.githubusercontent.com/24903526/68516913-4bb911

[2019-11-08 23:15] millems commented on #9768
GC root of these retained pool chunks are the same...

<img width="992" alt="Screen Shot 2019-11-08 at 3 14 46 PM" src="https://user-images.githubusercontent.com/24903526/68517003-8de25300-023a-11ea-82d9-e806b1205b3c.png">

[2019-11-08 23:23] njhill commented on #9768
Without looking too closely it seems quite likely to be related to #9696. @millems presumably you are using JDK SSL provider for your test - would you be able to try it with the OpenSSL provider if so (using `netty-tcnative`)?

[2019-11-08 23:23] millems commented on #9768
@njhill Will give it a shot with netty-tcnative.

[2019-11-08 23:31] millems commented on #9768
@njhill Yep, switching to openssl fixed it for me. Good call. I believe this is a total memory increase, not just an increase in heap memory with an equal, corresponding decrease in direct memory.

I'll double check that, unless the ~16 MB * event loop size memory footprint increase is by design?

[2019-11-08 23:58] njhill commented on #9768
My assumption is that heap buffers were not previously used and so the heap pools never grew. I think the idea of the change is that transient heap allocations would be done anyhow by the JDK SSL impl otherwise.

But yes I guess at least with the default configuration, going from not using pooled heap buffers to using them means a minimum of ~16MB * EL thread count increase in "static" allocations

[2019-11-09 00:01] millems commented on #9768
Just verified that your assumption seems correct. There's no difference in direct memory usage, and this is the first use of heap buffers in our particular case.

Let me see what the throughput differences looks like on our end...

[2019-11-09 00:13] camron-johnson opened #9769 "DefaultHttpHeaders contains(CharSequence name, CharSequence value, boolean ignoreCase) does not ignore case"
### Expected behavior
DefaultHttpHeaders contains(CharSequence name, CharSequence value, boolean ignoreCase) should not ignoreCase when third param is false.

### Actual behavior
DefaultHttpHeaders contains(CharSequence name, CharSequence value, boolean ignoreCase) does ignoreCase when third param is false.

### Steps to reproduce
Run the test below.
`headers.contains("someNAME", "value", false)`

[2019-11-09 00:20] SirMaster commented on #9571
Question, will / could there be fix for the 3.10.6 version coming out as well?

[2019-11-09 00:49] njhill commented on #9769
@camron-johnson HTTP header names are always case-insensitive per the RFC. The `ignoreCase` arg here applies to the value, not the name.

[2019-11-09 01:00] millems commented on #9768
The throughput seems a little better for our netty in 4.1.43, but not 16 MB * EL thread count better:

**4.1.42.Final**

NettyClientH1NonTlsBenchmark.concurrentApiCall                 N/A  thrpt   10  11250.608 ± 289.318  ops/s
NettyClientH1NonTlsBenchmark.sequentialApiCall                 N/A  thrpt   10   3406.554 ± 257.252  ops/s
NettyHttpClientH1Benchmark.concurrentApiCall                   jd

[2019-11-09 06:04] normanmaurer commented on #9571
No... 3.x is end of Life forever

[2019-11-10 11:27] sakshamverma opened #9770 "Websoket frame failes if the frame content is deflated partial EOM (0,0,-1,-1) from Tomcat."
Scenario is when the tomcat communicates to netty with websocket connection. The frmae size is 8192 bytes.
Tomcat sends the compressed websocket data frames to netty.
When tomcat sends the websocket frames to netty, every frame ends with the EOM byte sequence which is 0,0,-1,-1.
There are four conditions now:
1. The compressed data is small enough that the complete content and the EOM is contained

[2019-11-10 18:00] brucelwl opened #9771 "Unwritable event triggered only once"
1. In the ``ChannelOutboundBuffer``, if the ``totalPendingSize`` exceeds 65536, ``setUnwritable (invokelater)`` method will be triggered, but only once the ``fireChannelWritabilityChanged(invokeLater)`` method will be triggered. I feel that this is unreasonable. Is this a bug?

The problem is that when ``setUnwritable`` is called for the first time, ``unwritable`` is set to 1, and only when the ol

[2019-11-11 07:58] lvfangmin commented on #9747
Cool, thanks for improvement made in [9762](https://github.com/netty/netty/pull/9762/).

[2019-11-11 09:14] akefirad opened #9772 "Write an empty message to the channel"
(I already asked the [question](https://stackoverflow.com/questions/58399274) on SO but nobody answered. I suspected that is a bug or something.)
I'm trying to send an empty message over the channel using:
`channelHandlerContext.writeAndFlush(Unpooled.EMPTY_BUFFER)`
### Expected behavior
An empty message (some TCP packet) to be sent over the channel.
### Actual behavior
Nothing happens. Using wire

[2019-11-11 12:30] normanmaurer commented on #9772
Thats expected… writing an empty buffer will not result in any sys call.

[2019-11-11 12:33] normanmaurer commented on #9747
@lvfangmin no worries... thanks for reporting :)

[2019-11-11 12:53] akefirad commented on #9772
@normanmaurer thanks for the reply. So you mean [this](https://github.com/adamfisk/LittleProxy/search?q=EMPTY_BUFFER&unscoped_q=EMPTY_BUFFER) code is useless?

[2019-11-11 13:09] normanmaurer commented on #9772
@akefirad I did not check in detail but often an empty buffer is written down the pipeline to do something once all previous writes are complete (like closing the channel). For example people use this to close the channel once all previous data was written

[2019-11-11 13:49] normanmaurer commented on #9767
@ZhenLian @ejona86 I think we could support to just pass in `TrustManager / KeyManager` but I am not sure how much this really buys people. I mean implement the factory is kind of trivial. That said I am not against the change, so I am happy to review a PR :)

[2019-11-11 15:18] #9772 closed

[2019-11-11 16:59] njhill commented on #9768
@normanmaurer WDYT about only using pooled heap buffer here if they are already in use?

[2019-11-11 17:18] rschoultz-wl commented on #7254
Did not get warning in 4.1.43.Final.

5.0.0.Alpha2 is from 2015.  Anything from 4.0.56.Final should be fine.

[2019-11-11 17:29] ejona86 commented on #9767
@normanmaurer, the SPI stuff is probably the biggest issue, which I think makes it non-trivial or at least scary. We'll send out a PR!

[2019-11-11 17:31] normanmaurer commented on #9768
@njhill how would you know ?

[2019-11-11 17:32] normanmaurer commented on #9767
@ejona86 sounds good

[2019-11-11 17:44] ZhenLian commented on #9767
Thanks for the discussion going on here @ejona86 and @normanmaurer ! I will close this issue and send out a PR accordingly.

[2019-11-11 17:45] #9767 closed

[2019-11-12 02:53] wangxiyuan commented on #8279
We have the same requirement about netty on aarch64 as well. Any progress? Anything I can do to help with the ARM release?

[2019-11-12 17:32] njhill commented on #9768
@normanmaurer I hadn't considered the "how" much yet, but can give it some more thought :) was just contemplating what the ideal balance might be given the new behaviour seems undesirable in this (presumably not uncommon) case...

[2019-11-13 08:32] arukshani commented on #9724
Hi @carl-mastrangelo ,
I've got the JFR's . Please find the attached files.

HTTP/1.1
![Screenshot from 2019-11-13 13-51-31](https://user-images.githubusercontent.com/12377918/68745769-47676c80-061d-11ea-9381-ce28635b9005.png)

HTTP/2
![Screenshot from 2019-11-13 13-51-24](https://user-images.githubusercontent.com/12377918/68745785-4e8e7a80-061d-11ea-9a9f-35e618452c64.png)

[HTTP-JFRs.zip](https:/

[2019-11-13 08:46] wangxiyuan commented on #8279
@rhenwood-arm @normanmaurer Can I take over this issue? I'd like to do the work that @rhenwood-arm pointed.

[2019-11-13 08:54] normanmaurer commented on #8279
Sure 🙏

[2019-11-13 10:00] coolbeevip opened #9775 "Unsupported cipher suite: ECDHE-ECDSA-AES128-SHA256(ECDHE-ECDSA-AES128-SHA256)"
### Expected behavior

I have this problem when I upgraded netty 4.1.24.Final and netty-tcnative-boringssl-static 2.0.7.Final  to netty 4.1.43.Final and netty-tcnative-boringssl-static 2.0.27.Final

Error Stack：

[code]

The SSL.getCiphers(ssl)  in the 4.1.24.Final and 4.1.43.Final versions of the OpenSsl.java class return different data.

4.1.24.Final SSL.getCiphers(ssl)  return the following dat

[2019-11-13 11:25] atoom opened #9776 "Epoll native library timeout on WSL after upgrade from 4.1.42.Final to 4.1.43.Final"
### Expected behavior
Http client requests issued via Spring WebTestClient should handle responses properly and not time out.

### Actual behavior
WebTestClient times out after default 5 seconds
[code]

### Steps to reproduce
`git clone https://github.com/atoom/reactor-netty-timeout-example.git && mvn test` in WSL Windows 10 build <= 16299

### Minimal yet complete reproducer code (or URL to code)

[2019-11-13 11:30] atoom commented on #9776
If we downgrade netty-transport-native-epoll to version 4.1.42.Final everything works as expected. We have also tried on newer versions of WSL (Windows 10 Build 17763) and that also solves this problem - however it will be quite a task for us to try to get an update of our corporate version of Windows 10 on all the developer machines.

Not sure how easy it is for a Netty developer to reproduce thi

[2019-11-13 15:03] rhenwood-arm commented on #8279
@wangxiyuan : please do! :)

[2019-11-13 16:13] normanmaurer commented on #9775
@coolbeevip its expected... BoringSSL not supports this cipher anymore /cc @davidben

[2019-11-13 16:13] #9775 closed

[2019-11-13 16:31] normanmaurer commented on #9768
@njhill I see... its a good question and sadly the answer is "I dont know"... :(

[2019-11-13 16:37] normanmaurer commented on #9769
@camron-johnson as @njhill said... Let me make it more clear in the java docs tho.

[2019-11-13 16:39] normanmaurer commented on #9769
Actually it is already called out in the java docs. Closing this one

[2019-11-13 16:39] #9769 closed

[2019-11-13 16:49] davidben commented on #9775
You want TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256, which OpenSSL calls ECDHE-ECDSA-AES128-GCM-SHA256. The version without the "GCM" is a legacy CBC mode cipher which was constructed wrong (see the Lucky 13 attack). AES-GCM is more secure and faster. Most chips have hardware support for GHASH, and the workarounds necessary to mitigate Lucky 13 cost a significant slowdown. This cipher suite also have

[2019-11-13 16:52] normanmaurer commented on #9775
Thanks @davidben 🎉

[2019-11-13 16:54] coolbeevip commented on #9775
@normanmaurer @davidben Thank both of you!!!

[2019-11-13 23:43] ninja- commented on #9776
If you're willing to work on it, it would be fairly easy to setup a `git bisect` that tests with a given netty commit and finds the commits that breaks WSL :)

[2019-11-13 23:47] ninja- commented on #9776
also, consider blocking epoll backend on your developer setup...
seriously, in dev environment it won't benefit you much...

[2019-11-14 00:06] normanmaurer commented on #9771
@brucelwl can you come up with a PR and unit test ?

[2019-11-14 01:45] brucelwl commented on #9771
I can come up with a PR and unit test. In this issue, I raise two questions, but I don't know which scheme the original author intended to adopt.

[2019-11-14 02:07] brucelwl commented on #9771
Here are two options:
1. As long as the length of the write queue is exceeded, event ``Unwritable`` will be triggered. If  continue to write data to the queue, this event will be triggered every time .
2. Only one ``Unwritable`` event is triggered, but the change of state value should be optimized

Both of them are reasonable. I hope I can get the author's response so that I can know the author's

[2019-11-14 06:11] atoom commented on #9776
I have done a bisect based on commits below and the commit that introduces the breaking change is https://github.com/netty/netty/commit/166caf96ef87cf1d7ebfb43141939e596486928e

Unfortunately I don't have the knowledge to analyze the code change in order to determine what could be the cause. I could add some debug logging if someone can give me pointers on suitable code blocks / lines ?

[code]

[2019-11-14 06:37] njhill commented on #9776
@atoom this is a WSL bug, I think you just need to update to the newer build: https://github.com/Microsoft/WSL/issues/2462

[2019-11-14 06:44] atoom commented on #9776
@njhill Thanks for the information - I will close this issue and try to push for an update of Windows on our developer machines!

[2019-11-14 06:44] #9776 closed

[2019-11-14 08:48] daschl opened #9780 "Support TCP Keepalive Idle Timeout for KQueue?"
I've noticed that we can enable keepalive on all platforms, but it looks like the keepalive interval right now is only configurable on epoll. I think there is still no way to do this on Nio directly (https://bugs.openjdk.java.net/browse/JDK-8203194) but some research showed that it might be possible at least for kqueue?

From (https://stackoverflow.com/questions/15860127/how-to-configure-tcp-keepa

[2019-11-14 12:04] mrniko commented on #9632
@normanmaurer

Here is the log output for this issue:

[code]

[2019-11-15 01:06] jiafu1115 commented on #9771
thus I am not the author for the design. But I think current design trigger once is more better due to if you can't catch the event. then you won't catch it even it trigger more and more times.

[2019-11-15 08:31] MrYangxf opened #9781 "Use pointer bumping to improve operations of CodecOutputLists"
#### Motivation:

`CodecOutputList` has an internal recycler called `CodecOutputLists`. This recycler maintains elements index with mask operations and an extra `count` field. I think the mask operations are unnecessary in this case. And we should use pointer bumping instead of the mask operations.

#### Modifications:

Replace `(idx + 1) & mask` with `idx + 1` and `(currentIdx - 1) & mask` with `

[2019-11-15 10:44] m0wfo commented on #2646
@madgnome happy to pick up the branch you were working on if you don't have any capacity? Seems like a good approach

[2019-11-16 14:51] jffree opened #9782 "Why is the wakeup flag still checked after NioEventLoop.select is executed?"
### Netty version
4.1

### Description
In `NioEventLoop.run` function:

[code]

Why is the `wakeup` flag still checked after `NioEventLoop.select` is executed?In `NioEventLoop.select` function, already use `hasTasks` func to check if there are new tasks joined. I don't think this step is necessary.

[2019-11-18 03:07] wangxiyuan commented on #8279
I tested locally with java_1.8.0_222 and maven 3.6.0 on an ARM machine. The build and tests for 4.1.44 are passed at all. I'll test cross-compile next. I'll create the PR for it if everything works well.

[2019-11-18 03:46] king-john opened #9783 "Is there a decoder like LengthFieldBasedFrameDecoder here, but LengthField is a String type?"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.9

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-11-18 04:01] wbo4958 opened #9784 "ResourceLeakDetector: LEAK: ByteBuf.release() was not called before it's garbage-collected."
### Expected behavior

No leak info

### Actual behavior

19/11/13 12:19:15 ERROR ResourceLeakDetector: LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
Created at:
	io.netty.buffer.PooledByteBufAllocator.newDirectBuffer(PooledByteBufAllocator.java:349)
	io.netty.buffer.Abstra

[2019-11-18 04:03] wbo4958 commented on #9784
I've found a similar issue https://github.com/netty/netty/issues/8878

[2019-11-18 13:47] normanmaurer commented on #9784
@wbo4958 this looks like a spark bug... I will have look soon.

[2019-11-19 01:44] wbo4958 commented on #9784
@normanmaurer  thx very much

[2019-11-19 10:01] morvael opened #9788 "CorruptedFrameException in LengthFieldBasedFrameDecoder when using Epoll with AdaptiveRecvByteBufAllocator"
Been using this code for years:
[code]
It worked with NIO for a long time, and with EPOLL for several Netty versions. But now it fails with the exception seen below.

### Expected behavior
Frames are read correctly.

### Actual behavior
Exception is thrown when using EPOLL mode:
[code]
### Steps to reproduce
Unable to provide access to private data stream.

### Netty version
4.1.43.Final

### JVM

[2019-11-19 10:04] morvael commented on #9788
Similar code works for another stream (not UDP though):
[code]

[2019-11-19 10:51] normanmaurer commented on #9788
Can you show me how you bootstrap your Channel ?

[2019-11-19 11:15] morvael commented on #9788
In a class extending `ChannelInitializer<Channel>` in the `void initChannel(Channel ch) throws Exception` method, I'm creating ChannelHandlers and add them like this:
[code]
in case of UDP clients factory code is:
[code]
where DatagramPacketDecoder is:
[code]
As I said this code is used quite a lot (~15 million messages per day, 5 days per week, for many years). It was always using NIO and had no

[2019-11-19 11:16] normanmaurer commented on #9788
@morvael I want to see what you do related to using `Bootstrap` ...

[2019-11-19 11:31] normanmaurer commented on #9784
Yes this is a spark bug... let me work on a fix for them and contribute it.

[2019-11-19 11:55] morvael commented on #9788
I think this is the relevant code. Maybe AdaptiveRecvByteBufAllocator wasn't correctly initialized? I have passed maxPacketSize 1400. That's indeed a fragment that differs for EPOLL vs NIO.
[code]
and
[code]

[2019-11-19 12:11] morvael commented on #9788
I guess there's a mistake in AdaptiveRecvByteBufAllocator constructor, but it means it's actually set to non-adaptive mode (1400,1400,1400). 65536 / maxPacketSize should be multiplied by maxPacketSize again (so that maximum is equal to multiple of maxPacketSize).

[2019-11-19 12:45] morvael commented on #9788
I can now see that bootstrapSrc.clone() may cause reuse of the same instance of AdaptiveRecvByteBufAllocator. My bad.

[2019-11-19 12:57] morvael commented on #9788
Didn't help. The problem is only gone when I will remove usage of RCVBUF_ALLOCATOR and MAX_DATAGRAM_PAYLOAD_SIZE.

[2019-11-19 15:50] valerauko commented on #3778
http/3 support is now going into browsers and nginx is adding support as well. would love to see it in netty as well.

[2019-11-19 15:55] normanmaurer commented on #9783
No there is not.. You can hand-roll one if you need it tho

[2019-11-19 15:55] #9783 closed

[2019-11-19 20:52] normanmaurer commented on #3778
@valerauko I would love to see it too... Its just a matter of time and priorities. That said we love contributions

[2019-11-19 21:45] ramtellams opened #9789 "Netty drops the connection approximately every 10 minutes"
### Expected behavior
Connection should have been up for hours.
### Actual behavior

Connection gets dropped every 10 minutes.
Error seen while writing to the socket, and then the connections gets reset.
2019-11-19 21:21:21,377 [INFO ][Timer-23718:SendHeartbeatTask.writeHeartbeatCommand():177] - Channel id=6d7a8a5f Remote address=/40.128.37.2:51320 Serial=18B169E6B14C Done writing Heartbeat comman

[2019-11-20 04:02] wbo4958 commented on #9784
@normanmaurer amazing work. When done, could you paste your PR in this thread

[2019-11-20 06:09] normanmaurer commented on #9784
@wbo4958 I will link the PR here once it is done...

[2019-11-20 07:49] wangxiyuan commented on #8279
@rhenwood-arm @normanmaurer I tested cross compile locally. The official yum package for `gcc-aarch64-linux-gnu` doesn't work. It missed lots of files. I used linaro ones instead. The minimum version is 4.9: https://releases.linaro.org/components/toolchain/binaries/4.9-2016.02/aarch64-linux-gnu/ and it relies on glibc 2.14 which CentOS 6.9 doesn't support by default. So I bumped glibc from `2.13`

[2019-11-20 08:44] normanmaurer commented on #9784
@wbo4958 https://github.com/apache/spark/pull/26609

[2019-11-20 08:59] normanmaurer commented on #8279
@wangxiyuan unfortunately bumping up GLIBC is not an option imho. So what we could do is to only support it on centos7 and newer for arm.

[2019-11-20 09:16] wangxiyuan commented on #8279
@normanmaurer Using CentOS 7 is a better way of cause.

I'm not sure how `transport-native-epoll` jar is released to Maven Repo. But I find that it relies on CentOS 6.9 if I'm correct. https://github.com/netty/netty/blob/4.1/transport-native-epoll/pom.xml#L96
Is it possible to bump to 7?

[2019-11-20 09:18] normanmaurer commented on #8279
Nope it is not possible to require centos7 in general. I wonder if we can just build on both and release

[2019-11-20 09:31] wangxiyuan commented on #8279
@normanmaurer make sense. Let me try 7 now.

BTW, I'm not sure how to support both 6 and 7 in netty. Will there be two jar, one for 6 and another for 7?

[2019-11-20 09:40] normanmaurer commented on #9784
Closing this one as this will be fixed in spark

[2019-11-20 09:40] #9784 closed

[2019-11-20 10:05] normanmaurer commented on #8279
@wangxiyuan there would be one jar for arm and one for x86 I guess . And the one for arm would be centos7 ?

[2019-11-20 10:36] wbo4958 commented on #9784
thx very much .

[2019-11-20 13:04] wangkaish opened #9791 "Connection count not correct on client side or server side"
Hi, this situation was amost 100% appear in my environment, if it does not appear in your environment, try the bigger number instead of 8192(1024 * 8) in client side.

### Expected behavior
Connection count equal between server and client

### Actual behavior
The server connection count always less than client

### Steps to reproduce
Run TestServer and TestClient will see the `server active` count

[2019-11-20 17:29] ya0yy commented on #8503
I have same error
[code]

[2019-11-20 19:47] njhill commented on #9768
@millems I have not thought of a good "automatic" solution yet but realized you can do what I suggested [above](https://github.com/netty/netty/issues/9768#issuecomment-552036485) without any code change, just set system property `-Dio.netty.allocator.numHeapArenas=0`. This should fix the memory issue and perf should hopefully still be similar to or slightly better than before.

The downside I gues

[2019-11-20 20:06] millems commented on #9768
@njhill Unfortunately as a fellow client library, we can't set system properties on behalf of our customers. We have to keep our use of netty self-contained so that they can do whatever they want outside of the use of the SDK.

Is it possible for us to provide a different byte buffer allocator that uses unpooled memory instead? I don't see a way, since it looks like multiple parts of the code base

[2019-11-20 20:09] johnou commented on #9768
@millems did you confirm https://github.com/netty/netty/pull/9696 is to blame for the increase in heap?

[2019-11-20 21:09] millems commented on #9768
@johnou I haven't directly verified by reverting just that one commit locally. I could try that out when my bandwidth opens up again in a few weeks, if we're unsure whether that's the cause.

[2019-11-20 21:58] gurudatta11 opened #9792 "javax.net.ssl.SSLException: handshake timed out"
### System Architecture
We as client can communicate to different devices (servers) with different ip addresses.
All the servers share a common root certificate to expose it as TLS, but unique key/ keystore per device.

### Expected behavior
No Handshake time out should occur.

When making a call to few devices concurrently (let say less than some threshold 4) error will not occur, but if we invok

[2019-11-20 23:09] gurudatta11 commented on #9792
is it related to worker count ?  some how the error as handshake time out is misleading.
-Dreactor.netty.ioWorkerCount=16

[2019-11-20 23:29] njhill commented on #9768
@millems yes that was my original suggestion - you can provide a custom allocator to the channel bootstrap, e.g.
[code]

[2019-11-21 00:16] johnou commented on #9768
@millems be warned that will most likely come with a negative performance hit..

[2019-11-21 10:39] normanmaurer commented on #9792
@gurudatta11 you will report it with project-reactor as I have no real inside how they queue things etc. Also you may want to check that you not block the IO thread.

[2019-11-21 10:39] #9792 closed

[2019-11-21 12:31] ankitkothana opened #9793 "UDP client observing packet loss"
### Expected behavior
UDP client should receive all the responses for all the requests.

### Actual behavior
Client is unable to get responses for all the requests sent.

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
`
       EventLoopGroup workerGroup = new NioEventLoopGroup();

        bootstrap = new Bootstrap();
        bootstrap.group(workerGroup);

[2019-11-21 12:33] ankitkothana commented on #9793
Tried with other clients from same host to the same host and no response loss is observed. However with the above client we are getting almost 50% response loss with **bulk requests**.

[2019-11-21 12:49] dipengfei commented on #8269
@alvinbush @jensgram @kleinron
I also met issue in my project and the proxy returned 403 Forbidden, May I know is there any progress in your side for deal with such issue? Is there any solution or workaround?

Thank you in advance.

[2019-11-21 13:08] alvinbush commented on #8269
Hi 👋 yes the trick from @jensgram helped me to resolve my issue. Thank you so much.

The following worked for me.

url: "http://<proxy:port>/<urlpath>"

 this.header(HttpHeaders.HOST, < Host and Port Part of the actual server address

Now the trick, add the proxy itself into the bypass list of URL’s so that there is no round trips.

If you’re proxy needs username and password you need add the belo

[2019-11-21 13:27] normanmaurer commented on #9793
@ankitkothana first of you should upgrade your netty version as it is super old. Second you may need to use a different `FixedSizeRecvByteBufAllocator` and set the buffer size bigger.

[2019-11-21 13:32] dipengfei commented on #8269
Thank you for responding me so quickly, actually I already tried this solution, but it didn't work for me. Please see below code, sorry I can't put the real server information here as it's confidential.

Assuming I want to GET http://stg-dest.com:7105/testuri/xxxxxxx through proxy http://dev-proxy.com:9502, and I confirmed there is no authorization required, the code looks like below,

`
    @Test

[2019-11-21 13:50] ankitkothana commented on #9793
As per https://mvnrepository.com/artifact/io.netty/netty-all 4.1.43.Final is the latest version and that is what we are using. The buffer size is already set to 16 MB. Do we need to increase it further?

[2019-11-21 13:52] normanmaurer commented on #9793
@ankitkothana now I am confused... in the issue you said `4.1.13` ?

[2019-11-21 13:55] normanmaurer commented on #9793
@ankitkothana I think you want to do:

[code]

That said 16MB over UDP will never work so I am not sure why you set this. Even with Jumbo packets I have a hard time believing you will ever see bigger packets then 9kb.

[2019-11-21 14:09] ankitkothana commented on #9793
Sorry for adding a wrong version number in the issue. I have updated the issue.

`private static final int UDP_BUF_SIZE = 9216;`

Reduced buffer size to 9KB and updated the bootstrap options:

`
        bootstrap.option(ChannelOption.SO_RCVBUF, UDP_BUF_SIZE);
        bootstrap.option(ChannelOption.SO_SNDBUF, UDP_BUF_SIZE);
        bootstrap.option(ChannelOption.SO_BROADCAST, true);
        bootstr

[2019-11-21 14:15] normanmaurer commented on #9793
Without a reproducer it is hard to help ... sorry

[2019-11-21 14:57] ankitkothana commented on #9793
Here is the complete code:

https://github.com/ankitkothana/client.git

Please have a look into it.

[2019-11-21 15:56] alvinbush commented on #8269
I think had this issue as well. Let me check your code and get back to you.

Alvin

Von meinem iPhone gesendet

[2019-11-22 07:40] normanmaurer commented on #9791
This is expected as this is how linux works.

From `man 2 listen`(https://linux.die.net/man/2/listen):

[code]

This basically means the "remote peer" (client" will see the connection as "established" as soon as it is put in the backlog queue.

[2019-11-22 07:40] #9791 closed

[2019-11-22 07:42] normanmaurer commented on #9789
This looks more like a problem of the remote peer closing the connection when no interactions happens for some time or something related. Netty itself will not close any connection by itself.

[2019-11-22 07:42] #9789 closed

[2019-11-22 07:42] normanmaurer commented on #9782
@njhill can you have a look as you worked on this stuff ?

[2019-11-22 07:45] wangkaish commented on #9791
Thanks for explain.

[2019-11-22 07:47] normanmaurer commented on #9781
@MrYangxf you are right as it is not an `Queue` :)

[2019-11-22 07:49] #9781 closed

[2019-11-22 07:52] normanmaurer commented on #9758
@ursaj Let me try to build 4.1.39.Final on the docker image. That said I am pretty sure it is linked the same way.

[2019-11-22 08:01] franz1981 commented on #9782
For different reasons I've come at a similar conclusion some time ago: linking the issue here hoping will help https://github.com/netty/netty/issues/9112

[2019-11-22 09:02] MrYangxf commented on #9781
@normanmaurer thanks for you reply.
In fact,I think it's more like a stack than a queue.
It looks like a ring buffer but it is not actually...
Am I missing something?

[2019-11-22 10:04] anuraaga opened #9796 "DNS Servers on Windows include unreachable servers"
### Expected behavior

All DNS servers that are used by netty resolver are mostly reachable

### Actual behavior

On Windows, netty resolver will use a DNS server that will never be reachable because the network card is not actually enabled.

### Steps to reproduce

Not sure, but I think it would happen with Wifi and a LAN adapter on a laptop that both have DNS servers configured, one of them to a

[2019-11-22 10:08] anuraaga commented on #9796
Found an implementation that uses JNA for reference - https://github.com/dnsjava/dnsjava/pull/82/files#diff-e137f002162c6b5db83de8abf8977376

[2019-11-22 10:22] morvael commented on #9788
[code]
Same code with AdaptiveRecvByteBufAllocator doesn't work, with FixedRecvByteBufAllocator works. Migration instructions were taken from https://netty.io/news/2019/09/12/4-1-41-Final.html

[2019-11-22 10:24] normanmaurer commented on #9788
@morvael I will investigate. Seems like something is wrong with our "slicing" here.

[2019-11-22 10:40] alvinbush commented on #8269
public void test3() {

    final String destHost = "stg-dest.com";
    final Integer destPort = 7105;

    final String proxyHost = "dev-proxy.com";
    final Integer proxyPort = 9502;

    final WebClient wc = WebClient.builder()
                                  .build();
    wc.header(HttpHeader.HOST, destHost + ":" + destPort )
    final Mono<String> response = wc.get()

[2019-11-22 11:06] anuraaga commented on #9796
Went ahead and implemented the JNA version in Armeria as a strawman's proposal - https://github.com/line/armeria/pull/2280

[2019-11-22 13:15] ankitkothana commented on #9793
Any updates on this?

[2019-11-22 13:30] normanmaurer commented on #9758
Alright I know what the problem is and I think I have a fix :) Stay tuned.

[2019-11-22 13:39] normanmaurer commented on #9758
@ursaj PTAL https://github.com/netty/netty/pull/9797

[2019-11-22 20:47] rhenwood-arm commented on #8279
The glibc version seems to be the critical factor in providing architecture support. I suggest separate multiple releases of the same code-base are distinguished with that in-mind. One obvious approach is to include the glibc version in the release name. So far, I personally think will be the simplest way to avoid confusion and gives a good path to future-proofing new architectures.

I can also se

[2019-11-23 00:19] njhill commented on #9782
I actually had not really dug into the `NioEventLoop` impl too much, prior focus was on streamlining `EpollEventLoop`. But from what I'd seen it was really in need of an equivalent overhaul.

The latest structure of `EpollEventLoop` should actually be mostly applicable to the other async transports including NIO so I took a quick stab at refactoring `NioEventLoop` along those lines, will open a PR

[2019-11-23 02:20] njhill commented on #9782
@normanmaurer @franz1981 @jffree PTAL #9782

[2019-11-23 07:37] anuraaga commented on #9796
For reference, openjdk bug from 2010 - https://bugs.openjdk.java.net/browse/JDK-7006496

[2019-11-23 20:12] #9758 closed

[2019-11-24 09:46] panpanbaby opened #9801 "the instrution of how to package the netty source code into a jar file like files in Release"
I download the sources to the local,and  compile successfully.
 now I want to package the project into a jar file to be a library in an other project,
 just like the releases.
how can I do?

The version of source is 4.1 and my IDE is Intellij IDEA

[2019-11-24 09:48] anuraaga commented on #9796
Went ahead and sent patch for OpenJDK, though we'd probably still need a solution for pre-Java 14 even if it gets accepted.

https://mail.openjdk.java.net/pipermail/net-dev/2019-November/013339.html

[2019-11-24 16:44] zman2013 opened #9802 "When set AUTO_READ = false, the netty lost some data"
### Expected behavior
I tried to implement backpressure by invoking channel.read() manually. But it seems client will miss some data.

### Actual behavior
**Example**:
Server sends an incremental integer per 1s, and print the integer.
Client read from the socket per 5s, then writes the integer to console log.

**Result**
Server side:
[code]

Client Side:
[code]

**Question**:
The socket read buffe

[2019-11-24 17:29] ninja- commented on #9802
it took me a while to figure what the hell happened here...
so the problem is that you're not draining the buffer in channelRead, only reading the first 4 bytes...

[2019-11-25 01:16] zman2013 commented on #9802
@ninja- Great!

I didn't realized this apparent mistake and was going a wrong way to dig it.

Fixed the test case by draining the buffer in channelRead.
[code]

[2019-11-25 01:16] #9802 closed

[2019-11-25 01:21] dipengfei commented on #8269
Thank you a lot, let me have a try!

[2019-11-25 02:17] ursaj commented on #9758
@normanmaurer thanks a lot!

[2019-11-25 04:19] jcohen opened #9803 "Apparent memory leak when writing a TextWebSocketFrame on websocket connect."
### Expected behavior

I'm trying to write a Netty based Web Socket server that expected to receive high load. The basic reproducible case involves simply opening a web socket connection and the server sending back a welcome message to the client.

### Actual behavior

While load testing during development, I'm seeing excessive memory utilization by the process that cannot be attributed to any ide

[2019-11-25 06:54] wangxiyuan commented on #8279
@rhenwood-arm @normanmaurer I just added a new profile `linux-aarch64` for `transport-native-epoll` and its dependents `transport-native-unix-common` to build the aarch64 packge. Here is the step to cross compile:
1. Make sure the OS is CentOS 7.6 (which contains glibc>=2.14  by default )
2. Download aarch64-gcc toolchin  https://releases.linaro.org/components/toolchain/binaries/4.9-2016.02/aarch6

[2019-11-25 08:01] #8025 closed

[2019-11-25 08:04] normanmaurer commented on #8279
@wangxiyuan left a comment on the PR. I think we should add a docker file for this and then we can make it happen as part of the release process.

[2019-11-25 08:14] normanmaurer commented on #9803
I will have a look.

[2019-11-25 08:14] normanmaurer commented on #9801
This is a netty issue tracker. Please ask questions on stack overflow

[2019-11-25 08:14] #9801 closed

[2019-11-25 08:15] wangxiyuan commented on #8279
sure, Let me add one. Thanks for your quick response.

[2019-11-25 08:35] kapilmaheshwari commented on #9793
Facing the same issue.

[2019-11-25 09:15] normanmaurer commented on #9793
@ankitkothana I wonder if you are just writing too fast and so the remote peer will just drop stuff. Can you add some `Thread.sleep(50);` in your for / while loop ? It is not uncommon for DNS servers to rate limit clients.

[2019-11-25 09:26] ankitkothana commented on #9793
Usually DNS servers have a QPS of min 50K over UDP. I have tried hitting the DNS server with dnsperf (C++ utility for performance testing of DNS servers) and observed no packet loss even at a higher request rate per second. This is not a server side issue.

Event tried to add a sleep of 50 ms after 100 requests. Packet loss was still > 40% of actual requests.

The only workaround that worked for u

[2019-11-25 14:16] normanmaurer commented on #9803
@jcohen I tried to use your reproducer but so far it did not end up running out of memory. Is this expected ?

[2019-11-25 14:35] normanmaurer commented on #9788
@morvael can you now show me your full code where you configure the `Bootstrap` ? I just want to ensure I understand what exactly you configure for the case when it works and also for the case when it not works.

[2019-11-25 14:47] morvael commented on #9788
Currently the code is:

constructor:
[code]
start method:
[code]

UPDChannelFactory implements ChannelFactory and returns new EpollDatagramChannel(family) in newChannel() in this case
getInitializer() returns implementation of ChannelInitializer which adds various handlers in initChannel(Channel), like IdleStateHandler, ReadTimeoutHandler, WriteTimeoutHandler plus extra handlers for given case (al

[2019-11-25 14:48] normanmaurer commented on #9788
@morvael and what is `maxPacketSize` ?

[2019-11-25 14:49] morvael commented on #9788
1400 in this case

[2019-11-25 15:00] morvael commented on #9788
Yes, copied from https://netty.io/news/2019/09/12/4-1-41-Final.html, but with dynamic packet size. In this case formula results in 64400 max buffer size.

[2019-11-25 15:02] morvael commented on #9788
Maybe I misunderstood minimum parameter? Smallest possible packet is 16 bytes, but buffer should never go below 1400, as this is maximum packet size of a single packet.

[2019-11-25 15:26] normanmaurer commented on #9788
And I understand it right that the maximum datagram packet size you would expect is `1400` ?

[2019-11-25 15:33] morvael commented on #9788
Yes, that's what the protocol documentation says, and experience confirms. Is there something extra in UDP itself that may increase packet size beyond what the protocol states? I only know that what goes into LengthFieldBasedFrameDecoder will be never larger than 1400 bytes. I don't know if it's the same value AdaptiveRecvByteBufAllocator and MAX_DATAGRAM_PAYLOAD_SIZE think about.

[2019-11-25 15:48] jcohen commented on #9803
@normanmaurer I was concerned that the problem would be harder to reproduce locally. For me when I run it I'm pretty reliably to get it to run out of memory on the way to 10k connections but it has occasionally been able to reach that peak. Here's a sample of a local run that died around ~8700 conns.

https://gist.github.com/jcohen/d9ae6bb86d8b362999194702efb952e8

[2019-11-25 15:51] jcohen commented on #9803
I think in part it's difficult to reproduce locally because the service and the load generator are competing for resources. When this occurs in a more realistic scenario, the service is running with more resources and the load generation is coming from 10 separate load test generators.

Let me know if there's anything in particular I can do to capture more details under that scenario?

[2019-11-25 15:53] normanmaurer commented on #9803
Could you try to see what happens when you remove the compression stuff ?

[2019-11-25 16:26] jcohen commented on #9803
Well *that* was an easy fix! Memory utilization is *fine* with `WebSocketServerCompressionHandler` removed from the pipeline!

[2019-11-25 16:29] normanmaurer commented on #9803
Ok thanks ... looking into it now

[2019-11-26 01:02] garyschulteog commented on #8880
We had this same issue and found it was related to a linux kernel udp bug, detailed here:
https://blog.quentin-machu.fr/2018/06/24/5-15s-dns-lookups-on-kubernetes/

What we ended up doing was adding a `single-request-reopen` dnsC=onfig for our deployments to ensure we had sequential lookups.  This 100% fixed our problem, e.g.
[code]
Incidentally the alpine linux base images we were using use libmu

[2019-11-26 05:51] xiangwangcheng commented on #7220
@onderaycicek Did you solve this problem by just changing to version  4.1.16.Final.
I also encountered this problem and I'm using 4.1.25.Final.
![image](https://user-images.githubusercontent.com/8049014/69592282-71af2600-1030-11ea-9867-16479e6ca39d.png)

I'm using centos-release-7-3.1611.el7.

[2019-11-26 07:26] #9112 closed

[2019-11-26 07:27] #9782 closed

[2019-11-26 07:27] #8644 closed

[2019-11-26 07:27] #4543 closed

[2019-11-26 07:28] normanmaurer commented on #8698
@xzzh999 can you retest with latest 4.1 branch and see if it is still a problem ?

[2019-11-26 07:31] normanmaurer commented on #9770
@sakshamverma can you please upgrade to 4.1.43.Final and see if the problem still exists ? @amizurov did some fixes related to this as far as I remember.

[2019-11-26 08:00] normanmaurer commented on #9803
@jcohen alright I did spent some time to look into it and sadly there is not much we can do on our side in netty...

The problem is that with compression enabled it will use `permessage-deflate` with `server_no_context_takeover` not used. For more infos on what this actual means check:
See https://tools.ietf.org/html/rfc7692#section-7.1.1.1.

So with the configuration we need to create a new `Defl

[2019-11-26 08:02] normanmaurer commented on #9803
@jcohen also you should add some sort of timeout that will close connections after they are inactive for some amount of time.

[2019-11-26 08:05] normanmaurer commented on #9780
this is super confusing for sure :D I will need some time to read up here and I am super busy atm :/

[2019-11-26 08:34] normanmaurer commented on #9788
@morvael can you do me a favour and try if you see the same issue with:

[code]

[2019-11-26 08:40] doom369 commented on #9803
@normanmaurer hm... interesting.
@jcohen maybe you can plug in other compression codec into `WebSocketServerCompressionHandler`. From the code I see it should be possible.

[2019-11-26 09:35] morvael commented on #9788
It's working without problems.

[2019-11-26 09:40] morvael commented on #9788
Here's log:
[log.txt](https://github.com/netty/netty/files/3891094/log.txt)

[2019-11-26 09:42] amizurov commented on #9803
Hi, @jcohen also you can try use selective compression approach https://github.com/netty/netty/pull/8910, (e.g. compress only message more than threshold) we use this feature on production. Or optimize extension configuration described on this old, but very interesting [post](https://www.igvita.com/2013/11/27/configuring-and-optimizing-websocket-compression/).

[2019-11-26 09:47] wangxiangyu opened #9809 "Is it possible to return a 429 http response instead of closeForcibly when task rejected by task queue?"
If task queue is full and task is rejected  then channel is closeForcibly, connection is reset.
[code]
So Is it possible to return a 429 http response instead of closeForcibly?

Thank you

[2019-11-26 09:50] amizurov commented on #9770
Hi @sakshamverma , @normanmaurer, will look as soon as possible, also it will be great to have some reproducer or steps (websocket handshake request and sequence of frames). As well I try to check compression on latest autobahn testsuite.

[2019-11-26 09:53] Sridhar-1987 opened #9810 "NoClassDefFoundError: Could not initialize class io.netty.util.ReferenceCountUtil"
### Expected behavior
NoClassDefFoundError shouldn't be thrown from netty.

### Actual behavior

`java.lang.NoClassDefFoundError: Could not initialize class io.netty.util.ReferenceCountUtil

	at io.netty.channel.DefaultChannelPipeline.touch(DefaultChannelPipeline.java:116)
	at io.netty.channel.AbstractChannelHandlerContext.write(AbstractChannelHandlerContext.java:785)
	at io.netty.channel.Abstract

[2019-11-26 09:54] normanmaurer commented on #9810
@Sridhar-1987 this sounds more like class loader issue. Ensure you not have multiple netty version on the class path

[2019-11-26 09:55] morvael commented on #9788
Different length packets incoming on a longer run:
[log2.txt](https://github.com/netty/netty/files/3891163/log2.txt)

[2019-11-26 14:54] normanmaurer commented on #9788
@morvael and does this work as well?:

[code]

[2019-11-26 14:58] jcohen commented on #9803
Thanks so much everyone for the investigation and the details. I'm so glad to know I wasn't going mad for the past week 😂. I'll have control over both clients and the server, so I think I can live without globally enabled compression and instead rely on compressing individual messages on an as-needed basis.

[2019-11-26 15:05] morvael commented on #9788
This works, I guess it isn't much adaptive with such settings.

[2019-11-26 15:46] martinfurmanski opened #9812 "Weak error handling in ByteToMessageDecoder?"
I have this stack trace from 4.1.32 for a leak report, but the code is not significantly changed in this area in 4.1.43 as far as I can see.

[code]

My contention is that the error handling is weak around `expandCumulation` because for example:

[code]

if this fails after `alloc.buffer` then that buffer gets completely lost. Even up the stack in `ByteToMessageDecoder$1.cumulate` (MERGE_CUMULATOR

[2019-11-26 17:51] njhill commented on #9812
@martinfurmanski I think you are right. How about using a `newCumulation` var instead of `oldCumulation` like this:
[code]

[2019-11-26 19:44] shahriarsust opened #9813 "Lower rpc throughput with more channels"
### Actual behavior
Rpc Throughput drops 1/3 when the number of incoming channels is increased from 60 to 3000. Is it expected behavior?

### Netty version
4.1.6
### JVM version (e.g. `java -version`)
OpenJDK Runtime Environment (build 1.8.0_222-8u222-b10-1ubuntu1~16.04.1-b10)
OpenJDK 64-Bit Server VM (build 25.222-b10, mixed mode
### OS version (e.g. `uname -a`)
Linux  4.15.0-65-generic #74~16.04

[2019-11-27 02:41] bishwenduk029 opened #9815 "Netty Http2 client in example not connecting to all h2 servers which browsers can connect to(SSL problem)"
### Expected behavior
Creating a client with InsecureTrustManagerFactory should allow connection to any h2(Http2 over TLS) web server like webtide.com or deckofcardsapi.com.

### Actual behavior
Encountering an exception "Received fatal alert: handshake_failure".

### Steps to reproduce
The Netty example project for http2 client can be re-used for reproducing the by just changing the host to decko

[2019-11-27 07:50] normanmaurer commented on #9788
@morvael yep... I still don't get why it would make any difference tho. As at the end we should always try to read into buffers of size `1400` :/

Can you please use the following again:

[code]
and log what `datagramPacket.content().capacity()` returns before passing it to `DatagramPacketDecoder()` (Basically adding a handler in front of it and log the capacity).
Something like:

[code]
The capac

[2019-11-27 07:51] normanmaurer commented on #9812
Sounds like a plan... @martinfurmanski do you want to provide a PR ?

[2019-11-27 07:51] #9810 closed

[2019-11-27 07:52] normanmaurer commented on #9803
Ok let me close this then as there is nothing we can do

[2019-11-27 07:52] #9803 closed

[2019-11-27 07:54] normanmaurer commented on #9771
@brucelwl @jiafu1115 after thinking more about it I think the current design is the correct one. We should only notify once. This will also ensure we keep the overhead low.

@brucelwl if you feel like we can improve 2) I would be happy to review a pr :)

[2019-11-27 07:59] martinfurmanski commented on #9812
@njhill @normanmaurer Thanks for confirming the issue. I'll attempt a PR shortly!

[2019-11-27 09:31] morvael commented on #9788
Seems like first packet is arriving, and then the corruption starts:
[code]
Without forwarding in "LogHandler" (calling super.channelRead(ctx, msg) after logging), I get a sequence of "capacity 2048" messages.

[2019-11-27 09:32] morvael commented on #9788
As you can see capacity is not equal to MAX_DATAGRAM_PAYLOAD_SIZE.

[2019-11-27 09:35] normanmaurer commented on #9788
can you also log `buffer.toString()` ?

[2019-11-27 09:41] morvael commented on #9788
And what is buffer?

[2019-11-27 09:41] normanmaurer commented on #9788
@morvael ups sorry... `(DatagramPacket) msg).content().toString()`

[2019-11-27 09:49] morvael commented on #9788
[code]

[2019-11-27 09:52] normanmaurer commented on #9788
@morvael can you show me the last log line before when the problem happens ? I want to see if widx is 1400 as well in this case

[2019-11-27 10:08] morvael commented on #9788
[code]
Now it looks to me like the problems happen after decoding? It's happens at the same time as first packet read, not when the second comes. Also, I don't remember now why I had to use manual retain/release mechanism by adding MessageToMessageDecoder to the pipeline which does:
[code]
Maybe this causes issues? It's been working for more than 6 years now, mostly on NIO, and now with EPOLL, onl

[2019-11-27 10:20] morvael commented on #9788
Skipping my MessageToMessageDecoder and LengthFieldBasedFrameDecoder, and accessing DatagramPacket.content() directly results in no bug. I guess those intermediate steps (conversion of DatagramPacket to ByteBuf, and decoding frames) are not needed at all in UDP, where packets come at full size. Right?

[2019-11-27 10:21] morvael commented on #9788
The only difference is that ByteBuf.readableBytes() returns 1400, not packet length, so I would have to make sure not to use this method.

[2019-11-27 10:24] normanmaurer commented on #9788
@morvael right... with UDP you should receive everything at once... I am still a bit confused tho why it would not show up with `FixedRecvByteBufAllocator`.

So can you please use this again + logging and paste the logs:

[code]

[2019-11-27 10:26] morvael commented on #9788
I think I wanted to use retained ByteBuffers, because I feed them into Akka actor system, and they will be processed by different thread and at different time, so they may not be reused by Netty before that.

[2019-11-27 10:27] normanmaurer commented on #9809
No it is not possible as if the registration fails there is no way for use to handle any IO for the Channel

[2019-11-27 10:27] #9809 closed

[2019-11-27 10:27] normanmaurer commented on #9788
@morvael they will not be re-used as long as you not call `release()`.

[2019-11-27 10:30] morvael commented on #9788
[code]

[2019-11-27 10:32] morvael commented on #9788
So one has widx 1400, and one has widx 16 (correct size of incoming packet). That must be the difference, that causes problems in LengthFieldBasedFrameDecoder, it tries to find another packet after the first one, but buffer is empty, and size turns out as 0.

[2019-11-27 10:34] normanmaurer commented on #9788
so widx `16` is correct ? Can you show me the order of the handlers in the pipeline ? You still use `EpollChannelOption.MAX_DATAGRAM_PAYLOAD_SIZE, 1400` ?

[2019-11-27 10:42] morvael commented on #9788
For this packet (it's a heartbeat packet), 16 is correct. It's important that widx is correct for LengthFieldBasedFrameDecoder, so it doesn't try to look for other packets in long but empty buffer.

Pipeline is:
io.netty.handler.timeout.IdleStateHandler
my capacity / content logging handler
my datagram packet decoder (MessageToMessageDecoder: DatagramPacket to ByteBuf)
io.netty.handler.codec.Lengt

[2019-11-27 10:46] morvael commented on #9788
By changing my datagram packet decoder to:
[code]
I'm setting correct writer index from packet header, and I'm able to fool LengthFieldBasedFrameDecoder and bypass the problem caused by AdaptiveRecvByteBufAllocator.

[2019-11-27 10:49] normanmaurer commented on #9788
Can you run with debugger attached ? I would be interested to know if this method is called with all of the `*RecvByteBufAllocators`: https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/channel/epoll/EpollDatagramChannel.java#L596

Also I would be interested to know if we hit this line:

https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/

[2019-11-27 10:55] morvael commented on #9788
Never entering into scatteringRead as it seems numDatagram is <= 1 and connected is false always:
[code]

[2019-11-27 10:56] morvael commented on #9788
I guess it would require heavier traffic to get more than one datagram, and it's pretty hard to achieve this on test system.

[2019-11-27 10:57] morvael commented on #9788
I'll let it run for a longer time, in the log buffer only version, maybe it will stop at breakpoint at some time.

[2019-11-27 10:58] morvael commented on #9788
But I would look for a bug in setting writerIndex in
[code]

[2019-11-27 10:59] normanmaurer commented on #9788
this is strange... What `RecvByteBufAllocator` you are using here ? Also how you init it ?

[2019-11-27 11:02] morvael commented on #9788
The buggy one:
[code]
I think I will never get into that "else", there are now about 50 packets per second, as much as it's likely to get on test system.

[2019-11-27 11:03] normanmaurer commented on #9788
ok I may have spotted something... let me test something

[2019-11-27 11:05] morvael commented on #9788
When it's calculating writable at start of read function byteBuf.writableBytes() is 2048, maxDatagramPacketSize is 1400, so it selects 1400 (when using Adaptive).

With Fixed it actually gets into scatteringRead!

[2019-11-27 11:07] normanmaurer commented on #9788
Yeah I think this line is not correct: https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/channel/epoll/EpollDatagramChannel.java#L689

[2019-11-27 11:08] morvael commented on #9788
But why is Fixed getting into scatteringRead, and Adaptive not?

[2019-11-27 11:09] normanmaurer commented on #9788
it should at some point... I will have a look but let me first fix this bug.

[2019-11-27 11:42] normanmaurer commented on #9788
@morvael thanks a lot for all the help to track this down... Fix is https://github.com/netty/netty/pull/9819

[2019-11-27 11:52] morvael commented on #9788
Thanks, will wait for 4.1.44.Final release to test it.

[2019-11-27 12:40] brucelwl commented on #9771
@normanmaurer hope you can review this pr https://github.com/netty/netty/pull/9821

[2019-11-27 13:52] normanmaurer commented on #9813
There is no way to help without more infos. This also sounds more like a question as a bug so please use stack overflow and provide more details

[2019-11-27 13:52] #9813 closed

[2019-11-27 13:53] normanmaurer commented on #9788
@morvael I can also provide you with a snapshot jar to test if you like. Just let me know if you need netty-all or netty-transport-native-epoll jar

[2019-11-27 14:29] normanmaurer commented on #9770
@sakshamverma I think this is fixed by https://github.com/netty/netty/commit/491b1f428b00bba45a2c51d171cf819704b0fbe6#diff-30ed3b7e954d7e7b8509e71945b53430 . Please upgrade and report back if you still see the issue.

[2019-11-27 14:46] morvael commented on #9788
I'm using netty-all with extra epoll .so compiled under and for ppc64le.

[2019-11-27 14:48] normanmaurer commented on #9788
@morvael maybe you can then just use my branch(https://github.com/netty/netty/tree/epoll_writer_index)  and compile and test with it ?

[2019-11-27 14:51] morvael commented on #9788
Ok, but that will have to wait for tomorrow.

[2019-11-27 15:08] amizurov commented on #9770
@normanmaurer it was another problem, I checked compression with latest autobahn testsuite and some test not passed, that depends on some last fragmented frames, i'll try to dig deeper and fix it.

[2019-11-28 02:23] wangxiangyu commented on #9809
@normanmaurer what  if I change the netty code and  write http response raw bytes body to channel?

[2019-11-28 02:53] MrYangxf opened #9823 "Use CAS instead of sync in Recycler.Stack"
Consider the following `Recycler.Stack` code snippet:
https://github.com/netty/netty/blob/4a6f5b19b7f51a7016b7b659a549b5b3b34ad35c/common/src/main/java/io/netty/util/Recycler.java#L510-L514
I guess there is little or no contend here...only happens when object recycle at different threads.
Direct cas more effective than sync spins(or bias) in this case.
Like following `setHead` method
[code]

[2019-11-28 08:03] #9788 closed

[2019-11-28 08:15] morvael commented on #9788
I think the branch is gone now?

[2019-11-28 08:17] normanmaurer commented on #9788
Yes just use latest 4.1 branch (I merged it)

[2019-11-28 10:12] morvael commented on #9793
Maybe my observations will help you:
1) UDP is giving no guarantee about all packets reaching target
2) Writing without any limits leads to filling network socket buffers (this may not be an accurate term). I have an app that pushes messages to clients as fast as it can (it's on TCP though), and it has to detect that buffers are full, and stop writing until buffers are free again. You have to writ

[2019-11-28 11:17] #9812 closed

[2019-11-28 11:23] normanmaurer commented on #9812
@martinfurmanski thanks again for the patch

[2019-11-28 11:49] martinfurmanski commented on #9812
Thank you both for the review and acceptance!

[2019-11-28 13:17] normanmaurer commented on #9823
I think a `synchronized` is good enough here and it only happens very rarely anyway. Let's close this

[2019-11-28 13:17] #9823 closed

[2019-11-28 13:18] normanmaurer commented on #9770
Alight let me reopen it then @amizurov

[2019-11-28 14:58] morvael commented on #9788
Not so easy, first hit a problem requiring CMake upgrade from 2.8.12.2 to 3.0+, and now this: https://github.com/netty/netty-tcnative/issues/512

[2019-11-29 15:30] morvael commented on #9788
Turns out to be too complicated. #512 was fixed, but not in the release used by netty 44 snapshot. Also, when compiled under ppc64le, I get a netty-all version that I can't test on my x86_64 machine (for that I would use your x86_64 so), because there is no epoll .so for me. I don't want to setup another compilation environment on my machine, so I guess I'll have to wait for 44 release :)

[2019-11-29 19:17] amit2103 opened #9828 "Example for Proxy with Http2"
Is there a simple example which shows Proxy with Http2 ? Even a simple example or guide will do.
Sorry for the naive question and thanks in advance

[2019-11-30 03:51] LinShunKang opened #9829 "Netty HttpPostStandardRequestDecoder has memoty leak"
### Expected behavior
Invoke `HttpPostStandardRequestDecoder.destroy()`  to release memory when catch `Exception` in `HttpPostStandardRequestDecoder` constructor.

### Actual behavior
Now, Netty only catch the `HttpPostRequestDecoder.ErrorDataDecoderException` in `HttpPostStandardRequestDecoder` constructor. So, when `IllegalArgumentException` occur at  `HttpPostStandardRequestDecoder` constructor

[2019-11-30 13:29] anuraaga commented on #9796
Didn't get any input and admittedly it's quite the corner case. Going to go ahead and close this, and hope it's better in Java14+

[2019-11-30 13:29] #9796 closed

[2019-11-30 20:57] mihalyr commented on #8238
Hi @normanmaurer, sorry for being late with this, too many things come up. I see that @divijvaidya added already a `closeAsync` function to `FixedChannelPool` (#9226), that's half of what I wanted to do.

I've put together something right now that fixes this issue by moving `closeAsync` to the `ChannelPool` interface and then using the async calls in `AbstractChannelPoolMap`.

[2019-12-02 01:42] gengu opened #9831 "Websocket communication received data is incomplete"
### Expected behavior

Full reception even when one frame of data exceeds 128KB

### Actual behavior

When one frame bigger than 121072，The rest will be discarded

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

[code]

### Netty version

[code]

### JVM version (e.g. `java -version`)

➜  ~ java -version
java version "1.8.0_101"
Java(TM) SE Runtime Environment (b

[2019-12-02 02:11] #9831 closed

[2019-12-02 08:08] echojuliett commented on #5936
Anyone who solved this issue?

[2019-12-02 10:05] ankitkothana commented on #9793
Thanks @morvael  for providing useful observations. Can you provide an example of how to use IdleStateHandler and handle the WRITER_IDLE event.

[2019-12-02 11:56] morvael commented on #9793
Yes, it should be used for heartbeats, but it also works for me as a way to know when to start writing again. Extend io.netty.channel.ChannelInitializer<Channel> and write something like that:
[code]
...then add your other handlers after (or experiment with other add methods to put it higher upstream than your code checking channelWritabilityChanged). Then give your ChannelInitializer to bootstrap

[2019-12-02 11:59] morvael commented on #9793
Sorry, it seems I have confused two things. IdleStateHandler is indeed better used to heartbeats. You don't need it. Just overrride channelWritabilityChanged in your ChannelInboundHandlerAdapter, as in my first example.

[2019-12-02 12:03] morvael commented on #9793
In your case you can start writing as the client connects, pausing when channel is no longer writable, and starting again when it's writable again. As for using IdleStateHandler, now that it's in your pipeline you can use:
[code]
in your ChannelInboundHandlerAdapter.

[2019-12-02 13:47] ankitkothana commented on #9793
Thanks @morvael . Incorporating these suggestions didn't help though.

DNSClientIntializerTemp.java

[code]
MessageHandler.java

[code]
Is there something else I am missing. I still see a huge packet loss on increasing concurrency and number of requests.

Even tried to add logger in channelWritabilityChanged method. It seems like writability is never changed and we are able to push the messages wi

[2019-12-03 17:07] bishwenduk029 commented on #9828
@amit2103 , you refer this git repo for Netty based Proxy, it is experimental but you can get some conceptual understanding...
https://github.com/chhsiao90/nitmproxy

[2019-12-03 20:57] normanmaurer commented on #9829
@LinShunKang sounds like a bug... I am allowed to use your provide reproducer (slightly modified) as part of my patch to fix it ?

[2019-12-03 21:14] normanmaurer commented on #9829
@LinShunKang actually nevermind there is not much I can reuse here but I will be able to write a test from scratch. Thanks for reporting.

[2019-12-03 21:28] urferr opened #9834 "rest service call with ssl blocks reactive thread"
I opened this issue in already  in reactor-netty project but there they recommended to open it here in the netty project.

when using Spring webflux with reactor-netty i get a blocking exception when calling another rest service using ssl. Adding allowBlockingCallsInside("io.netty.handler.ssl.SslHandler", "handshake") to the Blockhound builder can be used as workaround

Stack trace:
at reactor.blo

[2019-12-04 05:25] LinShunKang commented on #9829
@normanmaurer Of course, you can use it if you want.

[2019-12-04 06:07] webdemon1 commented on #3539
I have the same problem with netty-4.1.28.Final:

2019-12-04 at 02:08:16.005 UTC [NettyServerWorkThread_7] ERROR   - @WebSocketHandshakeHandler.exceptionCaught io.netty.channel.unix.Errors$NativeIoException: syscall:read(..) failed: Connection reset by peer at io.netty.channel.unix.FileDescriptor.readAddress(..)(Unknown Source) ~[netty-all-4.1.28.Final.jar!/:4.1.28.Final]

[2019-12-04 07:44] normanmaurer commented on #9829
@LinShunKang PTAL https://github.com/netty/netty/pull/9837

[2019-12-04 07:51] normanmaurer commented on #9834
@urferr you can specify an `Executor` when building your `SslHandler` / `SslContext` that will be used to offload such operations. Not sure if this is expected by `project-reactor` tho.

[2019-12-04 09:14] cytnju opened #9839 "ChannelOption SO_SNDBUF and SO_RCVBUF don't take effect when initialize ServerBootStrap and BootStrap"
### Expected behavior
Value of the ChannelOption SO_SNDBUF and SO_RCVBUF is the same with which I set.
### Actual behavior
do not take effect, the value is same with which of OS
### Steps to reproduce
- initialize the BootStrap&ServerBootStrap with specific SO_SNDBUF and SO_RCVBUF
- startup server.
- client connect server
- compare the actual SO_SNDBUF and SO_RCVBUF with the specifc value
### Mini

[2019-12-04 09:20] cytnju commented on #9839
I debugged and found that the value of ChannelOption will be set to the newly created Channel  when invoke ```Bootstrap#init```, but after I get the ChannelFuture through the method ```Bootstrap#connect```, the configuration in the Channel is not the value expected.

[2019-12-04 09:50] LinShunKang commented on #9829
@normanmaurer It looks good to me.

[2019-12-04 12:48] normanmaurer commented on #9839
@cytnju can you tell me what the value is you set and what the value is that is returned ?

[2019-12-04 12:58] #9829 closed

[2019-12-04 13:30] cytnju commented on #9839
@normanmaurer I set both of them 8912 and they returned 65328

[2019-12-04 14:48] rdss12345 opened #9841 "US Export control rating (ECCN) for netty-handler-4.1.29.Final.jar"
Sorry to add this as an issue but I couldn't see where else to raise it.

Ref: netty-handler-4.1.29.Final.jar

We are conducting export control checks on software that uses this library and have identified it as potentially containing cryptography.

As the download links for this library are hosted by github can the developers please confirm whether the required notification under the EAR related

[2019-12-04 14:54] ankitkothana commented on #9793
@normanmaurer @morvael any updates would be helpful here. We are seeing lots of issues due to packet loss.

[2019-12-04 15:00] carryxyh commented on #9627
Mark.
This is an interesting issue. I haven't researched your code, but I will try some in the near future...

[2019-12-04 15:15] vietj opened #9842 "DefaultHttp2ConnectionEncoder writeHeaders method always send an header frame with a priority"
### Expected behavior
The `DefaultHttp2ConnectionEncoder` sends an header frame without priority when the `writeHeaders(ChannelHandlerContext ctx, int streamId, Http2Headers headers, int padding, boolean endStream, ChannelPromise promise)` method is used

### Actual behavior
The current implementation delegates to `writeHeaders(ChannelHandlerContext ctx, int streamId, Http2Headers headers, int str

[2019-12-04 15:19] johnou commented on #9839
shouldn't it be childOption?

[2019-12-04 15:20] vietj commented on #9842
See also https://httpwg.org/specs/rfc7540.html#rfc.section.6.2

[2019-12-04 15:20] johnou commented on #9839
[code]

[2019-12-04 16:20] normanmaurer commented on #9842
@vietj sounds about right... interested in doing a PR ?

[2019-12-04 16:43] vietj commented on #9842
yes I will try soon.

[2019-12-04 18:37] kdubb commented on #9627
@carryxyh I'm willing to help all I can.  I have hacked together a number of alternatives in the driver and ended up throwing them away as they didn't change much.

[2019-12-04 18:42] normanmaurer commented on #9842
/cc @bryce-anderson @ejona86

[2019-12-04 19:12] normanmaurer commented on #9841
@rdss12345 we just use crypto libraries like `OpenSSL` or what is provided by the `JDK` itself. So I think there needs to be nothing done by us itself ?

[2019-12-04 21:11] headius commented on #9841
@normanmaurer This account appears to be filing the same issue against several projects, including some like jnr-constants that have zero crypto-related code.

[2019-12-04 22:30] tetheber commented on #2887
I think there is a link now. However, the page: https://netty.io/wiki/user-guide-for-4.x.html, which is the starter's guide for netty-4.x now refers to https://netty.io/3.8/guide/#architecture, which seems to be related with an older netty version.

[2019-12-05 04:54] cytnju commented on #9839
@johnou The codes I provide is in client side. The server Side just like your codes.

[2019-12-05 06:50] johnou commented on #9839
@cytnju please provide a full reproducer, bonus points for a unit test.

[2019-12-05 08:10] #6640 closed

[2019-12-05 08:14] #8238 closed

[2019-12-05 08:14] normanmaurer commented on #9603
Can you check if latest 4.1 branch fixes it for you ?

[2019-12-05 08:42] carryxyh commented on #9627
@kdubb

Hi, unfortunately, I'm not familiar with the gradle project. I have built it in my idea for a long time and haven't built it successfully.
But I still have some findings that might help.

It looks like your pipeline is very simple, there is only a `LengthFieldBasedFrameDecoder` and a handler (as you said: MessageDispatchHandler). Can you try to use `ThreadPoolExecutor` to process the messa

[2019-12-05 08:46] carryxyh commented on #9627
Another thing, it seems that the `flushTrace` method does not need to be sync called in the `channelReadComplete`. Can u try to put it in the `ThreadPoolExecutor`?

[2019-12-05 09:26] cytnju commented on #9839
[code]
[code]

[2019-12-05 09:27] cytnju commented on #9839
@normanmaurer  @johnou
And I find the vlaue change happened after running ```future.awaitUninterruptibly();``` line.

[2019-12-05 10:00] normanmaurer commented on #9839
@cytnju sure this is expected as only then the connect is complete.

[2019-12-05 10:14] cytnju commented on #9839
326640
65328

I wonder why the value is not which I optioned ? you can replay it with the codes above.

[2019-12-05 10:15] normanmaurer commented on #9839
@cytnju well it is just a "hind" to the OS what you want to use. For example on various Linux systems it will use double the amount you specified. We jut pass it down to the OS and then its up to the OS to handle it.

[2019-12-05 10:37] normanmaurer commented on #9839
@cytnju for example: https://stackoverflow.com/questions/21146955/getsockopt-so-recvbuf-after-doing-a-set-shows-double-the-value-in-linux

[2019-12-05 11:17] cytnju commented on #9839
@normanmaurer Thank you and I think I understand the reason for this change that the operating system has set a reasonable value for it.

[2019-12-05 13:11] boaks commented on #9603
I checked it with 4.1.44.Final-SNAPSHOT, commit 63d33b390a.
My first result is, now the `SimpleChannelPool` also blocks on shutdown (but much less).

14:08:52.383 WARN [SingleThreadEventExecutor]: An event executor terminated with non-empty task queue (1) (i.n.u.c.SingleThreadEventExecutor$4.run:1043)

[2019-12-05 13:27] boaks commented on #9603
Just to mention:
4.1.43.Final
SimpleChannelPool - works reliable
FixedChannelPool - hangs on shutdown

But the above commit (4.1.44 ...) hangs on both, with the SimpleChannelPool much less frequently (about 8 times less).

[2019-12-05 13:46] normanmaurer commented on #9841
@headius thanks for the headsup... let me just close it.

[2019-12-05 13:46] #9841 closed

[2019-12-05 14:13] #9839 closed

[2019-12-05 14:58] boaks commented on #9603
Would it help, to enable more logging?
If yes, please advice :-).

[2019-12-05 15:23] rdss12345 commented on #9841
Thank you for your quick response. In summary, we need a US export control licence for our product. In order to gain that we need a rating for the FOSS libraries used by it. We either need to find a rating already provided by a library's authors or get a statement from the authors. As you can imagine there are going to be false positives where we need the author to state that there is no cryptogra

[2019-12-05 16:20] IrishkA13 opened #9849 "Blockhound finds blocking code at java.io.RandomAccessFile#readBytes"
### Expected behavior
Blockhound does not find any blocking code

### Actual behavior
Blokchound fails with blocking call

### Steps to reproduce
Test fails

### Minimal yet complete reproducer code (or URL to code)
BlockHound: blocking call in method java.io.RandomAccessFile#readBytes

[code]

### Netty version
4.1.39.Final

### JVM version (e.g. `java -version`)
java 11.0.3 2019-04-16 LTS
Java(T

[2019-12-06 08:56] rstoyanchev commented on #9849
This does not seem to have anything to do with Netty. As far as I can tell it's a WebFlux server writing a zipped resource? You might want to report that in https://github.com/spring-projects/spring-framework/issues but you'll need to provide more details about what the application code is doing.

[2019-12-06 09:40] normanmaurer commented on #9849
@rstoyanchev is right... closing this one.

[2019-12-06 09:40] #9849 closed

[2019-12-06 13:18] normanmaurer commented on #9842
@vietj don't worry... working on it

[2019-12-06 13:23] normanmaurer commented on #9842
@vietj PTAL https://github.com/netty/netty/pull/9852

[2019-12-06 13:25] tsegismont opened #9853 "No reply from Postgres domain socket on Google App Engine"
Hi, this is Thomas from the Vert.x team.

While upgrading the [Vert.x + Postgres example for Google App Engine](https://github.com/tsegismont/samples/blob/vertx-updates/java11/vertx-cloudsql-postgres/README.md) to the latest Vert.x release (3.8.4, based on Netty 4.1.42.Final), I found that we were no longer receiving Postgres data.

On GAE, you can connect to a Google Cloud SQL instance through a

[2019-12-06 13:26] normanmaurer commented on #9853
@njhill can you have a look ?

[2019-12-06 13:27] normanmaurer commented on #9853
@tsegismont just to ensure it is not fixed already can you try to use 4.1.43.Final as well ?

[2019-12-06 13:39] tsegismont commented on #9853
@normanmaurer thanks for the quick reply!

I tried with 4.1.43.Final without success. However, if you checkout 4.1 branch and revert 2b9f69ac38, it works again.

[2019-12-06 16:47] njhill commented on #9853
@normanmaurer sure I will take a look but expect I will need to try and repro locally, may not have enough time until later next week.

@tsegismont any chance you could try it out with non-domain socket epoll?

[2019-12-06 17:24] tsegismont commented on #9853
Hi @njhill , thanks for helping!

I can't try with non-domain socket epoll, GAE only supports domain socket connection for Cloud SQL.
Do you mean trying on my laptop with epoll and Postgres TCP?

[2019-12-06 18:07] njhill commented on #9853
@tsegismont ah, I assumed they might support regular socket connection too.

Yes the next step I guess would be to try some permutations locally, maybe starting just with the unit tests of the postgres client standalone https://github.com/eclipse-vertx/vertx-sql-client/tree/3.8/vertx-pg-client/src/test/java/io/vertx/pgclient. I can try this too but as I said may not get to it for a bit.

[2019-12-07 09:23] mihalyr commented on #9603
Hi,

I was wondering if this was related to my changes in #8238, it doesn't seem to be the cause of it, but it exaggerated this due to how the pools and loops are closed here.

The issue seems to be with closing the worker group before a channel from the pool is closed, so `the SimpleChannelPool#close` is blocking the `GlobalEventExecutor` which in turn seems to be standing in the way of the signa

[2019-12-07 09:36] mihalyr commented on #9603
Added a thread dump and some logs from the above reproducer when it hung.

[netty-close-hang-threaddump.txt](https://github.com/netty/netty/files/3934925/netty-close-hang-threaddump.txt)
[netty-close-hang-test.log](https://github.com/netty/netty/files/3934926/netty-close-hang-test.log)

[2019-12-07 16:57] mihalyr commented on #9603
I think I found the root cause of the hanging on exit. It happens when a SimpleChannelPool#close executes on GlobalEventExecutor while the EventLoop is shutting down.
1. Schedule SimpleChannelPool#close on GlobalEventExecutor (FixedChannelPool#close does that)
1. Initiate EventLoop shutdown
1. GlobalEventExecutor schedules channel#close() on EventLoop which is in ST_SHUTTING_DOWN state and still a

[2019-12-08 01:31] gileth opened #9859 "A http post protobuf netty request problem"
I have a netty server already, and now I want to send a protobuf request to this server, the request data type is byte[], the front 4 byte is the real data length, but there is a problem when the server decode the request. Can anyone help me? This is the related server code:
ChannelInitializer code

`channelPipLine.addLast(new LengthFieldBasedFrameDecoder(Integer.MAX_VALUE, 0, 4, 0, 4));
channelPi

[2019-12-08 06:43] #9842 closed

[2019-12-08 07:01] normanmaurer commented on #9853
@njhill I wonder if we should in the meantime just revert the commit for the next commit and then reapply to investigate ? I am thinking of this as I think a new release is about to happen this PR is really just an "optimisation" so its not critical and can be reverted without much pain. WDYT ?

[2019-12-08 07:40] xpengb opened #9860 "java.nio.channels.ClosedChannelException"
I had this exception:
java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.newClosedChannelException(AbstractChannel.java:958)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:866)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1379)
	at io.netty.channel.AbstractChannelHandlerContext.in

[2019-12-08 07:43] xpengb commented on #9860
Is this because memory leak , how to solve it, Please!

[2019-12-08 10:48] tsegismont commented on #9853
@njhill I believe the Pg client has integration tests for local domain socket transport with epoll, but I'll double-check and keep you informed

@normanmaurer releasing would be nice but don't do it just for Vert.x Pg client because I'm not sure we'll have another 3.8.x soon anyway, right @vietj ?

[2019-12-09 06:09] njhill commented on #9853
@normanmaurer fine with me, agree it would be prudent. Maybe hold off for a couple more hours though if possible, I may have a little time right now so will see if I can repro/debug quickly.

[2019-12-09 18:54] ZeddYu opened #9861 "Non-proper handling of Content-Length and Transfer-Encoding: chunked headers"
### Expected behavior
1.Only accept one Content-Length.RFC 7230 says `duplicate Content-Length header fields have been generated or combined by an upstream message processor, then the recipient MUST either reject the message as invalid or replace the duplicated field-values with a single valid Content-Length`.
2.Only accept identity and chunked Transport-Encoding
In this implementation, the order

[2019-12-09 20:27] Bennett-Lynch opened #9862 "[Netty 5] Make Channel.flush() return ChannelFuture"
Would it be possible to make `Channel.flush()` return a `ChannelFuture`, so that the following idiom is not needed?

https://github.com/netty/netty/blob/0cde4d9cb4d19ddc0ecafc5be7c5f7c781a1f6e9/example/src/main/java/io/netty/example/proxy/HexDumpProxyFrontendHandler.java#L97-L104

This idiom is cumbersome to write and can be bug-prone in requiring special case handling in code that should be mostl

[2019-12-10 10:18] normanmaurer commented on #9861
@ZeddYu I fixed 1) https://github.com/netty/netty/issues/9861 but I am not sure about 2) as netty is just a library so I think the user should verify the transfer-encoding as it also depends on what handlers are in the pipeline.

[2019-12-10 10:32] #7210 closed

[2019-12-10 10:36] normanmaurer commented on #9860
This just means a write was failed because the channel was closed before.

[2019-12-10 10:36] #9860 closed

[2019-12-10 10:37] normanmaurer commented on #9859
You will at least tell use what exactly the problem is that you see.

[2019-12-10 10:38] normanmaurer commented on #9834
Like I mentioned this kind of stuff can be offloaded.

[2019-12-10 10:38] #9834 closed

[2019-12-10 10:38] normanmaurer commented on #9828
closing as this is an issue tracker

[2019-12-10 10:38] #9828 closed

[2019-12-10 11:49] ZeddYu commented on #9861
@normanmaurer But I test it with following code:
[code]
Use this request headerto test:
[code]
Only get one TE header is 'some'.
And for the 1), why I use two CL header to test is still accepted?

[2019-12-10 11:51] normanmaurer commented on #9861
@ZeddYu sorry I don't understand your question... Can you please try to rephrase ? As shown in the test-case of #9865 multiple `Content-Length` headers are not allowed anymore .

[2019-12-10 11:56] ZeddYu commented on #9861
@normanmaurer All right. I paste an img.
![](https://zeddyuimg.oss-cn-shanghai.aliyuncs.com/20191210195522.png)
Using two CL header is still accepted. Netty version is 4.1.43 Final.

[2019-12-10 11:57] normanmaurer commented on #9861
@ZeddYu sure as this is not merged yet and will be part of netty 4.1.44.Final.

[2019-12-10 12:00] ZeddYu commented on #9861
@normanmaurer All right. But it seems it has got another question.
![](https://zeddyuimg.oss-cn-shanghai.aliyuncs.com/20191210195815.png)
You see. It allows CRLF after the colon. But RFC7230 says not only allow CRLF + 1*(SP/HTAB).
And for the 2) and this , I am sure it will cause problems.

[2019-12-10 12:03] ZeddYu commented on #9861
Here it is, the obs-fold.
[code]
According to https://tools.ietf.org/html/rfc7230#section-3.3.2.

[2019-12-10 12:25] normanmaurer commented on #9861
@ZeddYu If you think there is an other issue related to multi-line headers please open another issue. IHMO this is not related to this one.

[2019-12-10 12:29] ZeddYu commented on #9861
@normanmaurer What about the 2)?

[2019-12-10 12:38] ZeddYu opened #9866 "Netty shouldn't allow the invalid fold."
### Expected behavior
Netty shouldn't allow the invalid fold. According to RFC7230, https://tools.ietf.org/html/rfc7230#section-3.2.
[code]
A Sp or HTAB should follow the CRLF. But Netty allow a CRLF without a SP or HTAB.
<img width="989" alt="2019-12-10下午7 58 09" src="https://user-images.githubusercontent.com/29536474/70529731-411ccf80-1b8c-11ea-9668-e1064d7009bc.png">

### Actual behavior
Netty

[2019-12-10 13:20] normanmaurer commented on #9861
@ZeddYu again I am not sure why we should do anything about 2) as what is supported depends on what the user is doing with the pipeline etc. Netty is just a library and not a server implementation itself. For example http_parser is not doing anything about 2) as well.

[2019-12-10 13:41] normanmaurer commented on #9853
@njhill sure... that said I would like to get https://github.com/netty/netty/pull/9850 sorted as a priority

[2019-12-10 13:42] ZeddYu commented on #9861
@normanmaurer But just like

@normanmaurer But just like what I said just now. I can't seem to get the first TE header. I use the code which is from  https://netty.io/4.1/xref/io/netty/example/http/snoop/HttpSnoopServer.html.

[2019-12-10 13:43] normanmaurer commented on #9861
@ZeddYu please can you provide a few reproducer I can run... This back and forth just eats up a lot of time on both of our ends.

[2019-12-10 14:08] ZeddYu commented on #9861
Sorry for that.
Application.class:
[code]
HttpServer.class:
[code]
HttpServerInitialize.class
[code]
HttpRequestHandler.class
[code]

[2019-12-10 14:43] dvlato opened #9867 "Make content compression configurable per content type"
### Expected behavior
Content compression can be enabled for specific content types. This mean we would like to configure ContentCompressor so we can define what content types should be compressed; in this case we wouldn't compress JPEG or GIF files as those formats are already compressed.

This PR tried to fix the issue: https://github.com/netty/netty/pull/3847 but it seems it was abandoned.

###

[2019-12-10 16:22] ZeddYu commented on #9861
@normanmaurer And can I request a CVE for 1)?

[2019-12-10 17:02] njhill commented on #9853
@normanmaurer sorry I didn't get too far with debugging and may not have time for a few days so please feel free to revert for the release.

Re #9850, am waiting for next response from @Scottmitch ... unless there's something I still haven't understood (entirely possible), the change seems unnecessary.

[2019-12-10 17:58] boaks commented on #9603
Sorry for the delay.
For me the fix mitigates the issue very good. Not 200%, but good enough.
Thanks a lot!

[2019-12-10 19:31] caicarabruno commented on #8880
https://pracucci.com/kubernetes-dns-resolution-ndots-options-and-why-it-may-affect-application-performances.html

[2019-12-10 20:00] carl-mastrangelo opened #9868 "Revisit Cookie equality"
Based on complication brought up in https://github.com/netty/netty/issues/7210 , and worked around in https://github.com/netty/netty/pull/9856 , I believe it would be a good idea to modify cookies in Netty 5.

 I think it would be a good idea to revisit if cookies with the same name but different values are really equal. Also, I doubt that TreeSet is a reasonable choice, and would instead suggest

[2019-12-10 21:30] mihalyr commented on #9603
@boaks When you say not 200% I guess you mean that you still see some occasional hangs, is that right? If that is the case, could you perhaps give a try against netty with commits from both #9857 and #9858?

It might still not be 200% since you also do some async closes (or remove that makes an async close after #8238) from a callback that might exhibit the edge case I described in https://github.

[2019-12-11 06:16] ZeddYu commented on #9861
Fix my description of 2).
I use this http request.
[code]
And netty use CL header because of 'something' in TE header. And I get the '0' data successfully.

[2019-12-11 07:30] carryxyh opened #9870 "How do we control compression behavior?"
Recently we tried to add compression support to our RPC framework. I found that Netty already has a variety of compressed encoders and decoders(support lzf, snappy, zlib and so on).

However, because the length of the data in the channel is inconsistent, in general, we want to compress the longer data and not the shorter data. So I submitted a pull request to control whether the compress encoder w

[2019-12-11 07:46] doom369 commented on #9867
Very good idea. Recently I had the same thoughts. Also, it would be cool to have size limited compression. So for small messages like < 20 bytes you don't need compression.

[2019-12-11 08:04] njhill commented on #9867
@dvlato @doom369 if I'm not mistaken this should be already possible by just subclassing `HttpContentCompressor` and overriding `acceptOutboundMessage(Object)`.

[2019-12-11 08:12] doom369 commented on #9867
@njhill you are right. Also, `HttpContentCompressor` already has `contentSizeThreshold`. However, there is no such option for WebSockets. And it is not that trivial there :).

[2019-12-11 08:48] boaks commented on #9603
Yes, if I repeat my tests 10000 times (x24 single tests), it still hangs. But on rather high numbers of successful tests.

I will check it.

Oh, yes, I can adapt this (I overseen that hint before, sorry).

[2019-12-11 09:43] normanmaurer commented on #9866
@ZeddYu while I agree that there is an issue I can't see how this could lead to http smuggling as netty will just create a header name with value 6 here.

[2019-12-11 09:47] normanmaurer commented on #9866
Should be fixed by https://github.com/netty/netty/pull/9871

[2019-12-11 09:48] #9603 closed

[2019-12-11 09:55] ZeddYu commented on #9866
@normanmaurer This maybe a little complex. According to the end of https://portswigger.net/research/http-desync-attacks-request-smuggling-reborn, we can use a invalid CRLF to bypass some situation like this.
![截屏2019-12-11下午5 50 42](https://user-images.githubusercontent.com/29536474/70610591-ce206100-1c3e-11ea-9056-59dc1ae180ad.png)

[2019-12-11 09:58] normanmaurer commented on #9866
@ZeddYu IHMO how we currently handling it (which is a bug) does not have the same effect as explained there and so I can't see how it would result in smuggling

[2019-12-11 10:14] ZeddYu commented on #9866
@normanmaurer I think we can use this bug to do like this.
[code]

And I get 2 responses. :P

[2019-12-11 11:02] normanmaurer commented on #9861
@ZeddYu yes please request a CVE for incorrectly handling Content-Length and Transfer-Encoding: chunked headers.

[2019-12-11 12:46] amizurov commented on #9870
@carryxyh hi, websocket selective compression is work how you want but this is on protocol level (RSV1 mark it is compressed payload or not).

[2019-12-11 12:53] normanmaurer commented on #9862
@Bennett-Lynch while I agree that it is quite strange that `flush()` don't return a `ChannelFuture` I am not sure what the exact semantics of this would be.

[2019-12-11 13:52] normanmaurer commented on #9853
@njhill yeah lets do this for now...

[2019-12-11 13:56] normanmaurer commented on #9853
Reverted via 9fa8b02

[2019-12-11 13:56] #9853 closed

[2019-12-11 14:00] #9770 closed

[2019-12-11 14:20] tsegismont commented on #9853
@njhill @normanmaurer sorry for the late reply, I checked the `vertx-sql-client` test suite and we do have an test for Pg with domain socket connection and epoll. It works fine locally. So it's only reproducible on GAE so far.

@normanmaurer do you want me to give a try to the latest snapshot?

[2019-12-11 14:27] normanmaurer commented on #9853
Latest 4.1 branch

[2019-12-11 14:48] normanmaurer commented on #9866
I see ... I would use the same CVE for all of the reported things as these are all related tho @ZeddYu

[2019-12-11 14:49] #9866 closed

[2019-12-11 17:00] njhill commented on #9853
@tsegismont I'd also verified that test works locally, however I don't think it actually exercises the connection in this case. As a next step it may be good to modify the rest of the test suite to also use the domain socket if possible.

[2019-12-11 17:13] njhill opened #9872 "Reinstate EPOLL_CTL_MOD syscall avoidance optimization"
#9397 was reverted for the 4.1.44.Final release because of a possible regression reported in #9853 - where there are problems with the vert.x Postgres client running on Google App Engine, which uses a domain socket.

However we have not yet found a bug and don't have a local reproducer. I've re-scrutinized the change itself and can't spot anything. The bug _might_ be in the vert.x client for examp

[2019-12-11 18:51] boaks commented on #9603
With a small quietperiod it works now more than 40000 times! Great!

[2019-12-11 21:36] zzmao commented on #7908
@normanmaurer   I am thinking to implement a http2 message aggregator, since our project https://github.com/linkedin/ambry needs it.(Ambry plan is to handle http2 request only)
Do you have any tips before I implement it?

[2019-12-12 02:57] carryxyh commented on #9870
Thank you very much for your answer. :)

Currently, our rpc framework uses a proprietary protocol built on the TCP protocol. The overall cost of protocol switching is very high. Did not meet our requirements...

[2019-12-12 08:16] amizurov commented on #9870
@carryxyh I meant if you can expand your protocol then do like websocket or another way, because I'm not sure that is good idea to read some first bytes from payload and try to guess is it snappy or zlib without any agreement.

[2019-12-12 08:23] carryxyh commented on #9870
Got it. It's a good way to extend the protocol for us.

It seems that in this way, we can't make good use of the existing compression encoder/decoder provided by Netty, but need to perform the compression / decompression operation ourselves, right?

Or we have other way to use provided encoder/decoder?

[2019-12-12 08:42] amizurov commented on #9870
You can extend or aggregate existing compression encoder/decoder and write your handler with logic that will be make design should be compression apply or not e.g. https://github.com/netty/netty/blob/a7c18d44b46e02dadfe3da225a06e5091f5f328e/codec-http/src/main/java/io/netty/handler/codec/http/HttpContentCompressor.java#L135-L141
The similar approach we use in WebSocket compression extension `PerMe

[2019-12-12 08:59] amizurov commented on #9867
@dvlato @doom369 guys this is already exist see #8910 we use this functionality on production.

[2019-12-12 09:05] amizurov commented on #9867
You can implement something like this:
[code]
and pass it to `PerMessageDeflateServerExtensionHandshaker` for example.

[2019-12-12 09:06] carryxyh commented on #9870
Solved my confusion, I think I should study your example.
Thank you very much for your reply.

[2019-12-12 09:06] #9870 closed

[2019-12-12 09:10] doom369 commented on #9867
@amizurov cool, thanks for hint!

[2019-12-12 11:32] dkomanov opened #9873 "NPE in CompositeByteBuf.forEachByte with ResourceLeakDetector enabled"
### Expected behavior
No exception.

### Actual behavior
Throws NullPointerException:
[code]

### Minimal yet complete reproducer code
[code]

### Netty version
4.1.35-Final

### JVM version
[code]

### OS version
[code]

[2019-12-12 11:42] doom369 commented on #9867
@dvlato @njhill here the code that allow to skip certain content types:

[code]

[2019-12-12 12:49] normanmaurer commented on #9867
@dvlato as @doom369 said you can easily implement this. So closing this issue

[2019-12-12 12:49] #9867 closed

[2019-12-12 12:52] normanmaurer commented on #9873
@dkomanov this issue does not exists in latest netty release. I added a unit test as prove as well in https://github.com/netty/netty/pull/9875

[2019-12-12 13:40] #9873 closed

[2019-12-12 15:34] tsegismont commented on #9853
@normanmaurer I can confirm that latest 4.1 branch build fixes the issue

@njhill I'll find some time to do this asap and keep you informed

[2019-12-12 17:20] violetagg commented on #9834
@normanmaurer I'm evaluating how I can add this configuration by default in Reactor Netty.
I tested your proposal by adding an Executor, but it is still blocking. I don't think that this `io.netty.handler.ssl.SslHandler#delegatedTaskExecutor` is used for the handshake.

The stack trace:

[code]

I'm using the following API:
`io.netty.handler.ssl.SslContext#newHandler(io.netty.buffer.ByteBufAllocat

[2019-12-12 17:39] normanmaurer commented on #9834
@violetagg if you use the native implementation you will also need to add "-Dio.netty.handler.ssl.openssl.useTasks=true" otherwise it should offload this stuff.

[2019-12-12 18:00] hepin1989 commented on #9862
Why not just call the `writeAndFlush` instead?

[2019-12-12 19:04] violetagg commented on #9834
@normanmaurer I'm testing with this https://github.com/violetagg/netty/commit/e24767c5d894978b0861e3e2a104395cb45a97a3

[2019-12-13 07:53] #9861 closed

[2019-12-13 08:18] izeye opened #9880 "java.lang.NoSuchMethodError: java.nio.ByteBuffer.position(I)Ljava/nio/ByteBuffer;"
### Expected behavior
No error is thrown.

### Actual behavior
The following error is thrown:

[code]

### Steps to reproduce
Run the provided reproducer code.

### Minimal yet complete reproducer code (or URL to code)
https://github.com/izeye/spring-boot-throwaway-branches/blob/netty-nsme/src/test/java/com/izeye/throwaway/HomeControllerWebTestClientTests.java#L34

### Netty version
4.1.43.Final

[2019-12-13 10:19] gerdriesselmann opened #9881 "IllegalArgumentException when sorting cookies in ClientCookieEncoder"
We use Netty to crawl a lot of websites, and from time to time get the following exception:

[code]

I tried to write a testcase to reproduce the behavior, but since TimSort only throws this exception under some circumstance, I failed.

However, I think I can spot the cause. The code in question uses this comparator (io/netty/handler/codec/http/cookie/ClientCookieEncoder.java:91):

[code]

If I pa

[2019-12-13 10:29] gerdriesselmann opened #9882 "io.netty.util.IllegalReferenceCountException on random HTTP requests"
We crawl a lot of websites and from time to time get the following exception:

[code]

It happens randomly. That is: The exception may be thrown when crawling some URL, but it will not occur when crawling the URL again.

### Expected behavior

References are counted correctly

### Actual behavior

References are counted incorrectly, which causes an exception to be thrown.

### Steps to reproduce

[2019-12-13 10:35] normanmaurer commented on #9881
@gerdriesselmann this sounds about right... Are you interested in providing a PR to fix it ?

[2019-12-13 10:37] dvlato commented on #9867
Hi,
I'd already tried the beginEncode() solution and now I've added some support in 'acceptOutboundMessage'  but I still see high spikes in the latency of our application (in the 99% percentile) when the compression filter has been added even though the client does not send any 'accept-encoding' header! Has anyone experienced this issue previously?

[2019-12-13 11:01] doom369 commented on #9867
@dvlato it could be anything. You need to profile in order to make correct conclusions that the problem in `HttpContentCompressor`. According to the code in `HttpContentCompressor.beginEncode()` it does nothing if no encoding header was provided.

[2019-12-13 12:43] normanmaurer commented on #9880
@izeye I suspect there was an "mistake" while building the jar that picked-up Java11 :( I will fix this as part of the next release (which should be out soon).

[2019-12-13 23:55] ejona86 opened #9884 "DnsNameResolver leaks memory through FastThreadLocal"
DnsNameResolver uses a non-static FastThreadLocal:

https://github.com/netty/netty/blob/ee7027288ec5f3d688be3cee45a521a5786ccf71/resolver-dns/src/main/java/io/netty/resolver/dns/DnsNameResolver.java#L233-L239

If the user creates many DnsNameResolvers over the lifetime of a process, the InternalThreadLocalMap.nextVariableIndex() will grow large which will cause UnpaddedInternalFastThreadLocal.inde

[2019-12-14 08:47] #9771 closed

[2019-12-14 11:59] caison opened #9885 "io.netty.allocator.maxCachedBufferCapacity is 32 kb unreasonable"
in class io.netty.buffer.PooledByteBufAllocator

[code]
it will cause the normal cache in PoolThreadCache only support 3 sizes：1*pageSize、2*pageSize、3*pageSize

in article from facebook [Scalable memory allocation using jemalloc](https://engineering.fb.com/core-data/scalable-memory-allocation-using-jemalloc/)

so i sugget that the  the normal cache in PoolThreadCache should contain more sizes, and

[2019-12-16 13:33] kyussfia opened #9888 "Leak detection on http-epoll-1 thread in Spring with Spring Client"
Hi,

I got the following exception during my Spring app.
I use Spring-boot-starter 2.2.1, with spring-boot-starer-reactor-netty 2.2.1. (Reactory netty 0.9.1 in it.)
I use spring-boot-admin-starter-client 2.2.0 within my application.
Can u give me ANY advicve why is it throwing. It is not throwed sequentially, and i can't see any pattern on the occuernces. I've just start my application as a unix s

[2019-12-16 16:06] gilgamesjh opened #9889 "java.lang.NumberFormatException: For input string in UnixResolverDnsServerAddressStreamProvider"
### Expected behavior
Not to throw exception

### Actual behavior
Throws exception.

2019-12-16 16:49:18.358  WARN [fetchwoolfe,,,,] 16054 --- [ntloop-thread-2] ixResolverDnsServerAddressStreamProvider : Could not parse entry. Ignoring line: nameserver 10.230.20.9 #test

java.lang.NumberFormatException: For input string: "9 #test"
	at java.base/java.lang.NumberFormatException.forInputString(Number

[2019-12-16 18:26] otterc opened #9890 "Delay observed in netty to read a request from a channel"
### Summary
We run Spark 2.3 on Yarn. In Spark, we use netty as the network communication framework.
We have been facing issues with the netty server in our Spark External Shuffle service. During peak load, SASL requests submitted by the clients to this service timeout after 30 seconds.

We investigated the SASL timeouts from different angles. We took a tcp dump and could see that there is no netw

[2019-12-16 20:10] Bennett-Lynch commented on #9862
`writeAndFlush()` requires writing a `msg`, and there are cases where you don't want to write anything new, but just ensure a channel is flushed before, e.g., closing it.

The current idiom for handling this is to write a `Unpooled.EMPTY_BUFFER`, but this requires some handlers and codecs being aware of that idiom and permitting a write to pass through when it otherwise may not allow it. This is a

[2019-12-17 11:55] carryxyh commented on #9229
@Bennett-Lynch @normanmaurer
I submit a simple pull request for this issue.
Could u pls help to check it.. ?

[2019-12-18 07:31] normanmaurer commented on #9673
Sorry but I have to never this as this needs more thoughts.

[2019-12-18 14:17] #9880 closed

[2019-12-18 14:28] izeye commented on #9880
@normanmaurer Thanks! I confirmed that Netty 4.1.44.Final works with the sample.

[2019-12-18 15:13] violetagg commented on #9834
@normanmaurer Should we reopen this issue?

[2019-12-18 16:14] Scottmitch opened #9895 "NioEventLoopTest.testChannelsRegistered test failure"
https://ci.netty.io/job/netty-centos6-java12-prb/1692/testReport/junit/io.netty.channel.nio/NioEventLoopTest/testChannelsRegistered/

[code]

[2019-12-18 20:07] #9889 closed

[2019-12-19 07:37] eolivelli commented on #5943
For future reference, if have found this interesting example that tells how to effectively use OSCP with Netty

https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/ocsp/OcspServerExample.java

[2019-12-19 11:16] #9881 closed

[2019-12-20 07:15] carryxyh commented on #9648
Hi, how is this going?

Maybe don't need an exceptionHandler, you only need to handle exceptions that require special handling in the `run` method of `TimerTask`:

[code]

The role of `hashedwheeltimer` is actually the same as `scheduledexecutor`, which periodically triggers tasks. The specific exception logic should also be handled by the user. (`Scheduledexecutor` also does not provide `exceptio

[2019-12-20 07:48] normanmaurer commented on #8525
This was done for the decoder side now.

[2019-12-20 07:59] fbacchella commented on #9648
That's the way I solved this problem. But if you don't know how netty behave, you can miss that. And again I'm not sure that catching throwable is a good idea.

[2019-12-20 08:07] SebastienTr commented on #7220
Same issue with the 4.1.43.Final

[2019-12-20 08:24] hedefalk opened #9898 "JdkSslContext deprecated constructor with no clear alternative."
I'm creating a JdkSslContext with this constructor that I got from some tutorial:

https://github.com/netty/netty/blob/2f32e0b8adb63decd9031e26fa5dd4154d93ce97/handler/src/main/java/io/netty/handler/ssl/JdkSslContext.java#L185

However, that constructor is deprecated and refers to the expanded constructor with a default param that are unfortunately package private:

`jdkDefaultApplicationProtocolN

[2019-12-20 08:34] slandelle commented on #9898
Use [this one](https://github.com/netty/netty/blob/2f32e0b8adb63decd9031e26fa5dd4154d93ce97/handler/src/main/java/io/netty/handler/ssl/JdkSslContext.java#L219) and pass the extra parameters as null.

[2019-12-20 15:31] IrishkA13 opened #9899 "Blockhound detects blocking call: SingleThreadEventExecutor.confirmShutdown"
Netty version
4.1.39.Final

JVM version (e.g. java -version)
java 11.0.3 2019-04-16 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.3+12-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.3+12-LTS, mixed mode)

OS version (e.g. uname -a)
macOS Mojave 10.14.5

[code]

[2019-12-21 15:05] wlqing opened #9901 "Honor local cipher suites preference with netty"
In `SSLParameters`, [setUseCipherSuitesOrder](https://docs.oracle.com/javase/8/docs/api/javax/net/ssl/SSLParameters.html#setUseCipherSuitesOrder-boolean-) allows to configure honoring local cipher suites preference, in netty [SslContextBuilder](https://netty.io/4.1/api/index.html?io/netty/handler/ssl/SslContextBuilder.html), `setEnabledCipherSuites` is provided, what's the correct way to configure

[2019-12-22 10:11] bertjwregeer commented on #9866
This example includes two requests... so that makes sense.

You set the Content-Length to 41, which is the length of the following (with CRLF)

[code]

So that's the body of the first request.

Then

[code]

Is simply pipelined because it's not part of the body of the first request.

This is because your example includes invalid header folding for the `chunked` part of the header.

Header folding

[2019-12-22 10:14] ZeddYu commented on #9866
Yeah. So this can used to smuggle http requests.

在 2019年12月22日星期日，Bert JW Regeer <notifications@github.com> 写道：

[2019-12-22 10:19] bertjwregeer commented on #9866
Please explain how this allows a request to be smuggled.

[code]

Is an empty header named `Transfer-Encoding`, and a bad header named `chunked`. However according to the HTTP standard those are not invalid folds, nor should they cause any issues since at this point the `Content-Length` will be used instead to parse the request.

[2019-12-23 05:10] amizurov commented on #9899
Hi @IrishkA13, this is allowed behavior see
https://github.com/netty/netty/blob/687308b4de56ff77a03d731d67153947497271f5/common/src/main/java/io/netty/util/internal/Hidden.java#L63-L65

[2019-12-23 07:47] normanmaurer commented on #9899
Like @amizurov said

[2019-12-23 07:47] #9899 closed

[2019-12-23 07:48] normanmaurer commented on #9898
@hedefalk usually you should use the `SslContextBuilder` to create `SslContext` instances

[2019-12-23 07:48] #9898 closed

[2019-12-23 07:50] normanmaurer commented on #9888
@kyussfia seems like you not release the `WebSocketFrame` instance after usage. This may be a project-reactor / spring issue depending on what they do with the `WebSocketFrame`. If the `WebSocketFrame` object is not exposed via project-reactor / spring open an issue there.

[2019-12-23 07:50] #9888 closed

[2019-12-23 09:12] carryxyh commented on #9882
Seems this issue's solution will help u:
https://github.com/netty/netty/issues/9229

I submitted a pull request to implement this idea:
https://github.com/netty/netty/pull/9892

In the future, `IllegalReferenceCountException` will be able to record the recent access records like leak detection.. But currently maybe there is no good way to easily find the root cause...

[2019-12-23 20:12] mostroverkhov opened #9903 "Support creating http2 stream frames with given streamId"
### Expected behavior
Create outbound http2 streams with given streamId
### Actual behavior
Looks like there is no public api to create http2 stream frames with provided streamId
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.44.Final
### JVM version (e.g. `java -version`)
openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment (bui

[2019-12-23 20:25] mostroverkhov commented on #9903
I tried add one locally with https://github.com/mostroverkhov/netty/commit/e164d723c2d401fd3555156f32f7013b0576ac36, but then there is `Stream object required for identifier: 3` on https://github.com/netty/netty/blob/bc026ef8ba70ab4f1be20ee4a768f16d834a4382/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2FrameCodec.java#L595, happening because https://github.com/netty/netty/blob/bc026e

[2019-12-23 20:30] normanmaurer commented on #9903
@mostroverkhov why you want to supply your own stream id ? Is this for push promise ?

[2019-12-23 20:35] mostroverkhov commented on #9903
@normanmaurer I use http2 streams to carry another protocol frames which have their own ids

[2019-12-23 20:42] normanmaurer commented on #9890
@otterc I wonder if you could add a `LoggingHandler` as the first handler to your pipeline and verify that the bytes are not seen by it when you hit the timeout.

[2019-12-24 06:15] zhihao1996 opened #9904 "why netty don't use mmap to map socket fd in to directbytebuffer ?"
why netty don't use mmap to map socket fd in to directbytebuffer to avoid additional memory copy ?

[2019-12-24 06:25] zhihao1996 commented on #9904
do you guys think if java support mmap to  socket , it will be benificial to netty performance?

[2019-12-24 08:10] liudinghua commented on #9904
mmap has lower performance then sendfile

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"zhihao1996"<notifications@github.com&gt;;
发送时间:&nbsp;2019年12月24日(星期二) 下午2:26
收件人:&nbsp;"netty/netty"<netty@noreply.github.com&gt;;
抄送:&nbsp;"Subscribed"<subscribed@noreply.github.com&gt;;
主题:&nbsp;Re: [netty/netty] why netty don't use mmap to map socket fd in to directbytebuffer ? (#9904)

do

[2019-12-24 12:39] lyj-eternity opened #9905 "writeAndFlush(message) can't flush out in an ChannelInboundHandlerAdapter."
### Description：
I use "ctx.pipeline().writeAndFlush(message);" to send message in an inboundHandler's channelRead method.  But the message can't send out.The location of inboundHandler in the pipeline as below:
![image](https://user-images.githubusercontent.com/37172335/71413117-af34bc80-268b-11ea-96c3-16de86263182.png)
When I use writeAndFlush in one outboundHandler(such as ResourceLogHandler),t

[2019-12-25 13:01] kamma-cc opened #9906 "Memory leak when receiving invalid UTF-8 TextWebsocketFrame"
### Expected behavior
No Memory leak
### Actual behavior
Memory leak when receiving invalid UTF-8 TextWebsocketFrame
### Steps to reproduce
https://github.com/kamma-cc/netty-websocket-memory-leak
Run Server with -Dio.netty.leakDetection.level=PARANOID
then run Client
you cloud see Leak Warning like below:
`Dec 25, 2019 8:59:57 PM io.netty.util.ResourceLeakDetector reportTracedLeak
SEVERE: LEAK: By

[2019-12-25 13:24] kamma-cc commented on #9906
I think the problem is
Utf8Validator.java:
`
    public void finish() {
        checking = false;
        codep = 0;
        if (state != UTF8_ACCEPT) {
            state = UTF8_ACCEPT;
            throw new CorruptedWebSocketFrameException(
                WebSocketCloseStatus.INVALID_PAYLOAD_DATA, "bytes are not UTF-8"); // when throw this Exception. The frame is validating will leak.
        }

[2019-12-26 01:36] gileth commented on #9859
The data received by the server is HTTP header information and content together. Do I have to parse the content into header information and content by myself? Why isn't netty automatic?

[2019-12-26 08:18] mostroverkhov commented on #9903
At least can this line https://github.com/netty/netty/blob/bc026ef8ba70ab4f1be20ee4a768f16d834a4382/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2FrameCodec.java#L677 access level  change from `private` to `package-private` so I can workaround outside of netty codebase (would make things more consistent as a bonus point)?

[2019-12-26 10:17] Tinet-lizy commented on #9905
I hava the same Question.you can write like this and it worked,but i dont konw why.
` future.channel().writeAndFlush(byteBuf).sync();`

[2019-12-26 11:26] lyj-eternity commented on #9905
It really confuses me.Why the message can't flush out in an inboundHandler......

[2019-12-26 16:33] alan-tang-tt opened #9908 "How can netty server send a message immediately to client when the connection established?"
How can netty server send a message immediately to client when the connection established? At this time, the client hasn't send any message to server but only establishing the connection. I tried to add a handler to the ServerBootstrap, and write message when channelRead0(), but it failed because of 'channel not registered to an event loop'. I read the source code, and then found that the handler

[2019-12-27 02:45] carryxyh commented on #9908
[code]

this way maybe help u..

[2019-12-27 03:12] carryxyh commented on #9906
reproduced..
Feel free to come up with a pull request... Good catch. :)

[2019-12-27 07:28] normanmaurer commented on #9906
@carryxyh @kamma-cc fixes by https://github.com/netty/netty/pull/9909... PTAL

[2019-12-27 08:14] #9906 closed

[2019-12-27 10:21] normanmaurer commented on #9908
What @carryxyh said

[2019-12-27 10:21] #9908 closed

[2019-12-27 10:28] #9904 closed

[2019-12-27 10:29] normanmaurer commented on #9905
@lyj-eternity check if the future is failed after it completes.

[2019-12-27 10:29] #9905 closed

[2019-12-27 10:29] normanmaurer commented on #9885
@caison I would be happy to review a pr.

[2019-12-27 10:32] normanmaurer commented on #9901
@wlqing if you want to call `setUseCipherSuitesOrder` just do it on the SslParameters and pass these down to the `SslEngine` as you would do normally. There is nothing special in netty here.

[2019-12-27 10:32] #9901 closed

[2019-12-27 10:32] normanmaurer commented on #9884
@ejona86 I would be happy to review a PR .

[2019-12-27 14:18] alan-tang-tt commented on #9908
Thank you very much. I read the source code again, and found that sub handler's active method will be called when accepted. @carryxyh 谢谢，大佬很厉害。

[2019-12-27 20:17] ejona86 commented on #9884
@normanmaurer, you think we should just start with a documentation change, since most other things are considerably more invasive? Do you think it is practical to say that DnsNameResolvers instances should only be created and not destroyed? I would _imagine_ that is fine, but wanted to confirm.

[2019-12-27 20:36] ninja- commented on #9884
regarding the allocator and related classes, this was designed to be tunable using system properties

[2019-12-27 20:43] ejona86 commented on #9884
@ninja-, system properties and globals don't help a library much; we were needing different defaults in grpc and have to create our own allocator to do so. Creating the instance isn't that big of a deal, but it is a big surprise that the instance will leak itself.

[2019-12-27 20:48] ninja- commented on #9884
@ejona86 was the problem caused by heap buffers by any chance?

[2019-12-27 20:49] ninja- commented on #9884
anyway even if these allocator caches look annoying in the heapdump, I very much doubt they could take your app to OutOfMemory

[2019-12-27 21:27] ninja- commented on #9884
@ejona86 ah sorry I think I understand now, that your problem is not the cache being there but cache leaking when you create multiple allocators?

anyway even using global allocator as most people do, some complain about the pool cache taking any heap at all, and that's what these system properties were for to tune.

for example I am disabling heap buffer cache entirely as I found it to be buggy a

[2019-12-27 21:32] ejona86 commented on #9884
@ninja-, there were direct/unsafe buffers in addition to heap, but that doesn't matter. We were creating our own allocator to reduce memory usage for light users of grpc (like a server running just for stats collection), since the increased memory usage was causing apps to exceed their memory (which isn't helped by direct memory not being accounted for in -Xmx). These servers we don't control; we

[2019-12-28 17:08] onderaycicek commented on #7220
@xiangwangcheng This issue was solved by upgrade to version 4.1.16.

[2019-12-29 19:30] cilki opened #9911 "BufferOverflowException with specific buffer sizes"
When Netty reallocates pooled buffers that are approximately 256 to 1024 bytes, a `BufferOverflowException` can be thrown. **Furthermore, the exception is swallowed** and is not printed by `LoggingHandler` (I was only able to find it by capturing it from a debugger).

I'm on JDK 13 and therefore `Unsafe` isn't available.

### Expected behavior
Buffers that are between 256 and 1024 bytes should be

[2019-12-29 19:32] cilki commented on #9911
Is there any other information I can give that would be helpful?

[2019-12-29 19:56] njhill commented on #9911
@cilki thanks for reporting, is this something that started in 4.1.44.Final?

[2019-12-29 20:18] cilki commented on #9911
@njhill Yes. I just tested 4.1.40.Final through 4.1.43.Final and they all work as expected.

[2019-12-29 21:12] njhill commented on #9911
Thanks @cilki, sorry this is my bad, I should have time to submit a fix later today but you may need to stay on 4.1.43.Final until 4.1.45 is released.

The exception swallowing is likely unrelated but we should probably investigate that separately.

[2019-12-29 21:14] cilki commented on #9911
Thanks. I can confirm that reverting b0feb5a81fd03f35b9e26108efc71070d0a52288 fixes the issue.

[2019-12-30 12:21] doom369 opened #9913 "WS403Responder always stays in the pipeline"
After handshake is done `WS403Responder` handler stays within the pipeline. I think this is wrong and `WebSocketServerProtocolHandler` should remove it as it is not needed anymore.

WDYT?

[2019-12-30 15:10] linasm opened #9914 "ByteBufUtil.indexOf inefficient for substring search (can do a PR)"
We have found out that `ByteBufUtil.indexOf` is inefficient for substring search, both in terms of algorithm complexity (worst case `O(needle.readableBytes * haystack.readableBytes)`, and in constant factor (esp. on Composite buffers).

We have solved the issue on our end by implementing more performant search algorithms (the improvement is on the order of magnitude), and I wanted to ask maintaine

[2019-12-30 20:34] njhill commented on #9911
I've opened #9912 to fix the main bug, but haven't looked at the exception swallowing yet.

[2019-12-31 02:35] normanmaurer commented on #9914
Yes! Please include a benchmark as well

[2019-12-31 03:04] njhill commented on #9914
+1

[2020-01-01 08:35] jamesdbloom commented on #8698
If it helps I have noticed as I increase the number of event loop threads the number of error I see goes up roughly in proportion.
As I increase
threads: 25 to 65 (2.6x)
errors increase: 10 to 20 (2.1x)
As I increase
threads: 65 to 80 (1.23x)
errors increase: 21 to 28 (1.3x)

I am seeing these error while running the MockServer build, for example, https://buildkite.com/mockserver/mockserver/builds

[2020-01-01 11:15] astei opened #9917 "Extremely bizarre leak from EpollRecvByteAllocatorHandle?"
### Expected behavior

No memory leak, application is stable over time.

### Actual behavior

Small memory leak that eventually causes our application to be OOMed by the kernel after 11 days of continous uptime. We have captured this leak, running our application with `-Dio.netty.leakDetection.level=advanced`:
[code]

### Steps to reproduce

1. Start application
2. Let it run for a few hours with

[2020-01-01 11:28] astei commented on #9917
Apparently I do not have full information needed to get a full report to you all (mistakenly have logs only from the default `simple` level). Closing this for now and reopening when I have more information.

[2020-01-01 11:28] #9917 closed

[2020-01-03 08:59] tovbinm opened #9918 "Native image generation fails with Netty 4.1.44.Final"
### Expected behavior

A working native image

### Actual behavior

When I am trying to generate a native image on a project with Netty dependency I get the following error:

[code]

### Steps to reproduce

"Hello world" server with 4.1.44.Final dependency

### Minimal yet complete reproducer code (or URL to code)

N/A

### Netty version

`4.1.44.Final`

### JVM version (e.g. `java -version`)

[co

[2020-01-03 09:58] igor-lukyanov opened #9919 "Event loop threads hang in SniHandler for SSL records with majorVersion != 3"
Under some unknown and rare circumstances 2 worker threads started to consume 100% CPU time of a single core each, permanently and indefinitely. It didn't prevent the app from its normal functioning, nevertheless excessive consumption of cpu is not a normal behaviour.
Noticed this behaviour once by now.

### Actual behavior
Epoll transport enabled. Two threads (out of four) burn 100% CPU time, eac

[2020-01-05 15:36] romanblachman commented on #9669
@normanmaurer we have the same problem reproducing with spring 2.1.6 / netty 4.1.36:

Opened TRACE logs for "reactor.netty":

`
2020-01-05 15:21:13,614 DEBUG 10520 [ctor-http-nio-2] r.n.resources.PooledConnectionProvider   : [id: 0xff6fc2ad, L:/127.0.0.1:48476 - R:localhost/127.0.0.1:5151] Channel acquired, now 3 active connections and 397 inactive connections
2020-01-05 15:21:13,614 DEBUG 10520 [

[2020-01-05 15:46] romanblachman commented on #9669
@normanmaurer we have the same issue reproducing:

`2020-01-05 15:21:32,891  WARN 10520 [ctor-http-nio-5] io.netty.util.concurrent.DefaultPromise  : An exception was thrown by io.netty.channel.pool.FixedChannelPool$AcquireListener.operationComplete()

java.lang.IllegalStateException: complete already: DefaultPromise@1724b3c9(failure: java.util.concurrent.CancellationException)
	at io.netty.util.co

[2020-01-06 21:10] asolntsev commented on #6610
@ldaley Have you now an idea how to avoid such errors in logs? I can provide a test for reproducing the problem.

[2020-01-07 07:33] fabienrenaud commented on #8540
@normanmaurer https://github.com/netty/netty/issues/8838 is slated for Netty 5 and requires Java 11

[2020-01-07 11:25] ejona86 commented on #8838
Seems this could be done within the current implementation transparently.

[2020-01-07 12:50] medusar commented on #9540
Is there any plan or a deadline for this?

[2020-01-07 19:15] Delorien84 opened #9923 "FlushConsolidationHandler does not flush when write during flush"
Hi, I have found unexpected behavior when using `FlushConsolidationHandler` in proxy like application (eg. similar to https://netty.io/4.1/xref/io/netty/example/proxy/package-summary.html ).

I have two channels and I "resend" data between channels. When I write some data to outbound channel with `FlushConsolidationHandler` the data is not flushed properly in some case.

When write to channel base

[2020-01-07 19:53] amizurov commented on #9913
Hi @doom369 for me your suggestion looks reasonable, also I'm not sure if we need to keep `WebSocketServerHandshaker` for each channel in attribute only for close websocket handshake.
https://github.com/netty/netty/blob/06a5173e8d700f5f431557f21f647f2199bb3d52/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/WebSocketServerProtocolHandler.java#L238-L251

[2020-01-07 20:14] otterc commented on #9890
@normanmaurer thanks for the suggestion. I will try that.

[2020-01-07 21:14] doom369 commented on #9913
@amizurov sorry, I did a mistake. I actually mean `WS403Responder` handler. After handshake is done WS403Responder handler is still within a pipeline.
Also, additional `WebSocketCloseFrameHandler` probably could be merged into `WebSocketServerProtocolHandler` to minimize the pipeline.

[2020-01-07 21:37] soumeny2k opened #9926 "Not able to add multipart http response"
### Expected behavior
I'm creating a REST service which returns some computed values back to the client. Netty is very performant at doing this. However, there are cases, when I need to return multiple values for the same URI (query). Here are the approaches we considered: i) Package all the values into a custom format which the clients must know how to decode. ii) Use MIME multipart support.

App

[2020-01-08 06:56] Liesport758 commented on #3539
I have the same problem with netty-4.1.31.Final:

[2020-01-08 07:18] johnou commented on #9890
You should also try taking thread dumps, sounds like you may have some blocking IO operations on Netty event loop threads.

[2020-01-08 07:35] shakarelic commented on #9860
me too,
and i look server not exception

[2020-01-08 07:55] shakarelic opened #9927 "I had this exception : java.nio.channels.ClosedChannelException: null"
- java.nio.channels.ClosedChannelException: null
at io.netty.channel.AbstractChannel$AbstractUnsafe.newClosedChannelException(AbstractChannel.java:958)
at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:866)
at io.netty.channel.DefaultChannelPipeline$HeadContext.write(DefaultChannelPipeline.java:1379)
at io.netty.channel.AbstractChannelHandlerContext.invokeWrite0(Abstrac

[2020-01-08 08:19] amizurov commented on #9927
Hi, could you please provide more info, at the current moment I see that you channel already closed and you trying write some data to it in this case this is expected behavior.

[2020-01-08 08:52] shakarelic commented on #9927
no having other info
------
client use async-http-client Make http request,
server not have any exception , but client had this exception
-----

[2020-01-08 10:54] petermd opened #9928 "Problem with Connect timeout and Graal generated native-image"
I've been researching an issue  ([micronaut-core#2335](https://github.com/micronaut-projects/micronaut-core/issues/2335)) with running micronaut apps as graal native-image on AWS Lambda, and think there might be a problem with the current settings.

### Expected behavior
Netty Connect Timeout works in a Graal Native Image

### Actual behavior
Generated NativeImage does not work on some ephemeral e

[2020-01-08 16:28] vibin22 opened #9930 "Security Vulnerability - Common Weakness Enumeration (CWE) CWE-295"
### Expected behavior

###  is there a fix for
Common Weakness Enumeration (CWE)
CWE-295 - Improper Certificate Validation
The software does not validate, or incorrectly validates, a certificate.

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### 4.1.44

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2020-01-08 16:34] vibin22 commented on #9930
![bd-vulns](https://user-images.githubusercontent.com/3473841/71996815-dacab180-320a-11ea-950f-9636fe34e66a.png)

[2020-01-08 18:27] johnou commented on #9930
Are you passing the host and port into https://netty.io/4.0/api/io/netty/handler/ssl/SslContext.html#newEngine-io.netty.buffer.ByteBufAllocator-java.lang.String-int- ?

[2020-01-08 18:38] slandelle commented on #9930
This refers to https://github.com/netty/netty/issues/8537.

In Java, hostname verification is not enabled by default, you have to set the protocol to "HTTPS" in the SSLParameters of the SSLEngine, see https://github.com/netty/netty/issues/8537 and https://docs.oracle.com/javase/8/docs/api/javax/net/ssl/SSLParameters.html#setEndpointIdentificationAlgorithm-java.lang.String-

[2020-01-08 18:41] slandelle commented on #9930
You indeed need to see the hostname and port when creating the SSLEngine but that alone doesn’t suffice, it only enables SNI. You also need to configure the algorithm.

[2020-01-08 22:43] otterc commented on #9890
@normanmaurer Added the `LoggingHandler` as the first handler in the pipeline.
Looks like even the channel `REGISTERED` and `ACTIVE` events are recorded after 30 seconds.
Client log:
[code]
Server log:
[code]

[2020-01-08 22:52] otterc commented on #9890
@johnou We are not blocking the default Server IO netty event loop group. In the handler analysis (problem description), the handling of the requests within a millisecond.

[2020-01-09 07:37] carryxyh commented on #9923
I'd like try to fix this.
https://github.com/netty/netty/pull/9931

[2020-01-09 08:07] normanmaurer commented on #9540
@medusar its on the to do list... this is all I can say atm. That said I will not have time to work on this any time soon.

[2020-01-09 09:03] johnou commented on #9540
@medusar is you are in a rush pull requests are welcome :)

[2020-01-09 11:59] johnou commented on #8540
@fabienrenaud doesn't require Java 11, it can be optional.

[2020-01-09 13:51] #9923 closed

[2020-01-09 14:10] normanmaurer commented on #9669
@romanblachman which version ?

[2020-01-09 14:12] normanmaurer commented on #9928
@petermd yes this like an issue... can you submit a pr ?

[2020-01-09 14:13] normanmaurer commented on #9930
@vibin22 like @slandelle said. I would argue this is not an issue with netty but with the configuration that the user applies.

[2020-01-09 14:34] normanmaurer commented on #9918
@tovbinm we love contributions. If you have any idea how to fix this I am happy to review a pr.

[2020-01-09 14:39] romanblachman commented on #9669
reactor-netty-0.8.9.RELEASE.jar
netty-common-4.1.36.Final.jar

[2020-01-09 18:15] Delorien84 commented on #9923
Thanks for quick fix.

[2020-01-09 18:41] tovbinm commented on #9918
I have been told here - https://github.com/oracle/graal/issues/2050 that it should be possible, but I failed to confirm yet.

[2020-01-09 20:23] johnou commented on #9890
@otterc did you try taking multiple thread dumps when you are seeing the timeouts? could be something like the SASL handshake blocking the event loop or maybe something like the server has run out of entropy.

[2020-01-09 21:43] igor-lukyanov commented on #9919
Same problem repeated once again on the same server.

"epollEventLoopGroup-7-3" #22 prio=10 os_prio=0 cpu=67508345.04ms elapsed=617139.89s tid=0x00007f5b68006000 nid=0x3de5 runnable  [0x00007f5b59674000]
   java.lang.Thread.State: RUNNABLE
        at io.netty.buffer.AbstractByteBuf.checkIndex0(AbstractByteBuf.java:1432)
        at io.netty.buffer.AbstractByteBuf.checkIndex(AbstractByteBuf.java:141

[2020-01-09 21:55] otterc commented on #9890
@johnou I didn't take thread dumps yet. After looking at the result of `LoggingHandler`, I realized that even the channel registration is delayed by 30 seconds. In our Spark External Shuffle service, the boss event group and the worker event group are same.
[code]
Since the boss thread is also the worker thread, channel registration may get delayed?

I ran another experiment with a dedicated event

[2020-01-09 23:14] njhill commented on #9919
Thanks @igor-lukyanov, I think I found the problem (introduced in 4.1.44.Final) - see #9933. I have renamed this issue to better reflect the bug, hope that's ok.

[2020-01-10 04:21] normanmaurer commented on #9890
@otterc it should one be delayed if the `EventLoop` is too busy. Whatever this means depends.. While you may not block you may run "cpu intense" workload on it and so it will not be able to accept and register new connections in time. I would do what @johnou said and take multiple thread-dumps + use a profiler to see what is going on.

[2020-01-10 04:24] normanmaurer commented on #9903
@mostroverkhov I need to think about this a bit... I am not really liking the idea of have people adjust the id this way as it is super easy to mess up etc.

[2020-01-10 04:42] normanmaurer commented on #9884
@ejona86 yeah a documentation change is a good start.

[2020-01-10 05:05] normanmaurer commented on #9913
@doom369 yeah we should remove WS403Responder.

[2020-01-10 05:23] normanmaurer commented on #9913
@doom369 @amizurov actually after thinking more about it I wonder what's the matter of the `WS403Responder` at all. This handler makes no sense to me at all and I think we should just remove it. WDYT ?

[2020-01-10 05:43] fabienrenaud commented on #8838
@johnou How do you suggest doing this with Java 8? deflate/inflate/setInput etc. methods that accept `ByteBuffer` are only available since Java 11:
 - https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/zip/Deflater.html#deflate(java.nio.ByteBuffer)
 - https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/zip/Deflater.html#setInput(java.nio.ByteBuffer)

I starte

[2020-01-10 07:49] #9919 closed

[2020-01-10 08:43] doom369 commented on #9913
@normanmaurer I think you are right. I believe it was added in order to skip the duplicated "upgrade"  query while the handshake is not finished.

[2020-01-10 08:58] hyperxpro commented on #9815
TLS Handshake is failing because to SNI is not specified in TLS Client Hello request. Just change this code: https://github.com/netty/netty/blob/41c47b41bf0caa2f0faffec901a374516fbd19f7/example/src/main/java/io/netty/example/http2/helloworld/client/Http2ClientInitializer.java#L101

pipeline.addLast(sslCtx.newHandler(ch.alloc())); -> pipeline.addLast(sslCtx.newHandler(ch.alloc(), Http2Client.HOST,

[2020-01-10 08:59] hyperxpro commented on #9815
TLS Handshake is failing because to SNI Extension is not specified in TLS Client Hello request. Just change this code: https://github.com/netty/netty/blob/41c47b41bf0caa2f0faffec901a374516fbd19f7/example/src/main/java/io/netty/example/http2/helloworld/client/Http2ClientInitializer.java#L101

pipeline.addLast(sslCtx.newHandler(ch.alloc())); --> pipeline.addLast(sslCtx.newHandler(ch.alloc(), Http2Cl

[2020-01-10 09:06] amizurov commented on #9913
@normanmaurer, @doom369 hi guys, i agree looks like a guard. Also without it we will throw `io.netty.handler.codec.http.websocketx.CorruptedWebSocketFrameException` and handle this case.

[2020-01-10 09:10] normanmaurer commented on #9815
@hyperxpro can you do a PR ?

[2020-01-10 09:11] normanmaurer commented on #9913
@doom369 @amizurov imho throwing is more correct as as soon as you started the upgrade you should not send any HTTP anymore.

[2020-01-10 09:16] hyperxpro commented on #9815
Sure

[2020-01-10 09:39] medusar commented on #9540
@normanmaurer ok, thanks.
@johnou I would love to, but i am not sure if i can do it well. I will try to implement this in my own projects and then let's see if i can make a pull request.

[2020-01-10 14:27] sureshkrishnamoorthy opened #9938 "Man-in-the-Middle vulnerability"
###  Man-in-the-Middle vulnerability
Software vulnerability checker(Veracode) reports that netty-handler is vulnerable to Man-in-the-Middle attack. Issue description is provided below. Please let us know how to address this.

"_netty-handler is vulnerable to man-in-the-middle attacks. The library uses an SSLEngine that does not verify certificate hostnames when establishing connections with client

[2020-01-10 14:36] hyperxpro commented on #9938
Duplicate of https://github.com/netty/netty/issues/9930

[2020-01-10 14:57] ejona86 commented on #8838
@fabienrenaud, at the very least you could use reflection to call those two methods. It would also be possible to have literal calls to the methods in a separate method/class that you only use if on Java 8+ (look for usages of `PlatformDependent.javaVersion()` for examples).

[2020-01-10 15:03] #9938 closed

[2020-01-10 15:06] johnou commented on #9930
cc @stevebillings

[2020-01-10 15:10] normanmaurer commented on #9913
Let me remove this code all together.

[2020-01-10 15:11] amizurov opened #9939 "WebSocketServerExtensionHandler not removed from pipeline if client has not selected any extensions"
### Expected behavior
After successful WebSocket handshake `WebSocketServerExtensionHandler` should be removed from pipeline to keep it short as possible.

### Actual behavior
If client has not selected any extensions (e.g compression)`WebSocketServerExtensionHandler` still present in pipeline after upgrade.

### Netty version
4.1.44.Final

[2020-01-10 15:33] normanmaurer commented on #9913
@doom369 @amizurov PTAL https://github.com/netty/netty/pull/9941

[2020-01-10 15:34] #9815 closed

[2020-01-10 15:46] doom369 commented on #9913
@normanmaurer looks good. I also checked the specification, error 403 should be returned only when server doesn't want to accept the origin. So look like those handler was a really unnecessary thing.

[2020-01-10 15:49] doom369 commented on #9913
@normanmaurer just one thing. I personally don't care, but removal of this handler can cause back compatibility issue in case someone expects this handler to be in the pipeline.

[2020-01-10 20:51] amizurov commented on #9913
LGTM, also i don't think that package-private API is a good chose to build logic on top of it.

[2020-01-11 05:04] #9911 closed

[2020-01-11 11:32] doom369 opened #9944 "Merge WebSocketCloseFrameHandler into WebSocketProtocolHandler in order to minimize pipeline"
`WebSocketCloseFrameHandler` could be easily merged into `WebSocketProtocolHandler` and thus we don't need to add/hold an additional handler in the websockets pipeline. I think it would nice improvement for websockets pipeline.

@normanmaurer @ursaj @amizurov WDYT?

[2020-01-11 11:38] normanmaurer commented on #9944
Sounds Good

[2020-01-12 06:10] JulyJunWu opened #9945 "Can we use thread variables instead of global variables, such as UnpaddedInternalThreadLocalMap.nextIndex?"

[2020-01-12 06:16] JulyJunWu commented on #9945
When we use FastThreadLocal, we know that this is to get the variable from the current thread according to the index, but if the index becomes large, such as 10000, then when different threads use the new FastThreadLocal, the capacity needs to be expanded, causing unnecessary waste of space.

[2020-01-12 14:27] Unrestriction opened #9946 "io.netty.channel.abstractchannel$annotatedconnectexception connection timed out no further informa"
### Expected behavior
My friends and I can connect to my server
### Actual behavior
The only way to connect is by typing my ipv4:25565 which means my friends cant join
### Steps to reproduce
Launch the server and try to connect
### Minimal yet complete reproducer code (or URL to code)
No code
### Netty version
I don't know, I'm a noob.
### JVM version (e.g. `java -version`)
1.8.0_231
### OS versio

[2020-01-12 14:27] Unrestriction commented on #9946
I did the port forwarding and the port is open

[2020-01-12 16:29] SplotyCode commented on #9946
I assume you are running a minecraft server because of port 25565. I gues it would be better to go to minecraft forums and ask. You can connect to the server with localhost and your public ip address?

[2020-01-12 21:47] decoded4620 commented on #8309
@arukshani Which dependency did you add there? I'm using a self signed Cert from a self created CA, and I'm getting this exception. Yet i have the latest netty-tcnative dependency in my classpath. What was the dependency you added (and version)?

[2020-01-13 00:45] Cybermaxke commented on #9945
Yeah, when constructing a lot of a `FastThreadLocal`s (and gc cleaning old ones up) eventually you'll get a very large backing array because of the constantly increasing index. To prevent this, the index should be "recycled" in some way.

Alternatively, after a certain threshold, fallback to an `IntObjectMap` instead of an array.

[2020-01-13 17:04] Milinai opened #9949 "Attempting to open a websocket throws NPE"
### Expected behavior
The websocket connection should succesfully be established.
### Actual behavior
The server throws an exception
[code]
### Steps to reproduce
1. Start a websocket server using the code below.
2. Attempt to connect a websocket client to the server at `/websocket` (tested on Firefox on the same device, using `new WebSocket("ws://localhost:8080/websocket")`).
3. The server throws

[2020-01-13 20:30] johnou commented on #9930
cc @gkillough

[2020-01-13 20:42] Milinai commented on #9949
A little side note is that this code is mostly copied from the example code, which is supposed to work as intended.

[2020-01-13 20:49] slandelle commented on #9930
Side node : SSLParameters#setEndpointIdentificationAlgorithm doesn't exist on Android... When Google implemented Java 7, they choose to not add this method and instead automatically enable HTTPS algorithm. So if Netty was to enable HTTPS algorithm by default in a future release, it would have to test PlatformDependent.isAndroid.

[2020-01-14 09:39] amizurov commented on #9949
Hi @Milinai you cannot use both `HttpServerCodec` and `HttpRequestDecoder` in pipeline, because `WebSocketServerHandshaker` trying to remove http's handler on handshake, so if it found the `HttpRequestDecoder` then it also expect `HttpResponseEncoder`. Remove `p.addLast(new` HttpRequestDecoder());` from your channel initializer.

[2020-01-14 09:55] normanmaurer commented on #9946
as @SplotyCode said... Closing

[2020-01-14 09:55] #9946 closed

[2020-01-14 09:59] hbprotoss opened #9951 "Suspicious NioSocketChannel leak"
### Expected behavior
Memory release correctly

### Actual behavior
We have 3.5G heap in dump, and one of the `NioSocketChannel` consumes 2.4G retained heap.

It seems `NioSocketChannel` refers to each other via `SelectionKeyImpl.attachment`

![image](https://user-images.githubusercontent.com/2310905/72333785-59d25500-36f7-11ea-8d75-7c2a1b4c8a69.png)

dominator tree, 461793 `EpollSelectorImpl` ins

[2020-01-14 10:36] normanmaurer commented on #9903
@mostroverkhov I still don't get why you can't just use your own `Http2FrameStream` and provide a "valid" stream id. It should only cast in the case of it being not valid. Can you give some more details ?

[2020-01-14 18:55] Milinai commented on #9949
Thanks! That was not clear, I probably didn't read enough about the `? extends ChannelHandler` classes. I would expect a more clear error message than a NPE without any reference to my code. Now that I know an `HttpResponseEncoder` is expected to exist, the error makes more sense, but without that knowledge, a user can be totally clueless as to what the cause could possibly be. I'm going to close

[2020-01-14 18:55] #9949 closed

[2020-01-14 20:56] mostroverkhov commented on #9903
@normanmaurer if I just use `Http2FrameStream` like
[code]
I get `Stream object required for identifier: 3` on https://github.com/netty/netty/blob/bc026ef8ba70ab4f1be20ee4a768f16d834a4382/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2FrameCodec.java#L595.  The same result is with `DefaultHttp2FrameStream`, reason is only one of `Http2FrameStream` and `Http2Stream` have said ID set (i

[2020-01-14 21:22] mostroverkhov commented on #9903
I dont know if `http2codec` is intended for people to send streams directly to It (still It looks odd not to), if so - most probably would prefer to just provide streamId alone.

I found It is not easy to mess as http2 codec is rather strict (out-of-order ids, frames for closed streams and so on)

[2020-01-15 09:38] normanmaurer commented on #9903
@mostroverkhov PTAL https://github.com/netty/netty/pull/9953

[2020-01-15 09:49] #9939 closed

[2020-01-15 13:33] normanmaurer commented on #9951
Please update to latest netty version and report back if there is still the problem. The version you are using is super old

[2020-01-15 13:33] #9951 closed

[2020-01-15 13:34] normanmaurer commented on #9890
Closing this now... @otterc please reopen if you still thing this is a netty bug.

[2020-01-15 13:34] #9890 closed

[2020-01-15 13:35] normanmaurer commented on #9428
Closing as no response from original reporter

[2020-01-15 13:35] #9428 closed

[2020-01-15 13:36] normanmaurer commented on #9349
This was fixed

[2020-01-15 13:36] #9349 closed

[2020-01-15 15:26] wuhulala opened #9954 "Source Code junit test is error"
when i pull this code,build in intellij idea, some junit test is error
such as

![image](https://user-images.githubusercontent.com/10361981/72446125-e95a2f80-37ed-11ea-99f3-949ee298250b.png)

i use `Long.valueOf` can fixed this.

[code]

but it is so many

i need help

### Netty version
4.1.x
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)
windows 10

[2020-01-15 22:32] joaodias14 commented on #8317
We are also getting the same exception when we make a lot of concurrent requests to a Spring Boot WebFlux REST API running on a Netty Server (version 4.1.38).

`io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 222298112 byte(s) of direct memory (used: 318767111, max: 536870912)
at io.netty.util.internal.PlatformDependent.incrementMemoryCounter(PlatformDependent.java:726) ~[netty-c

[2020-01-16 04:43] Liyixin95 commented on #9627
I have read your simple test, and I found your TestClient is actually a synchronous request-response pattern.
Why not try the pipeline pattern? Such as :

[code]

But if the protocol doesn't allow the pipeline, please forget those above...

[2020-01-16 06:25] normanmaurer commented on #8317
@joaodias14 this looks different... seems like Luttece tries to write `222298112` bytes in a buffer in its `CommandHandler` and we can not allocate so much memory due memory limit constraints

[2020-01-16 13:25] fabianedlceiba commented on #9571
Hi,

I am using spring webflux 2.2.2.RELEASE with netty 4.1.43.Final, in an application that has 2 instances and is deployed in kubernetes and I have found this vulnerability when the TE is the first header and this header has a blank before the header name for example [space] Transfer-Encoding: chunked; reviewing the source code on the next line https://github.com/netty/netty/blob/8494b046ec7e4f2

[2020-01-16 13:27] fabianedl777 commented on #9571
Hi,

I am using spring webflux 2.2.2.RELEASE with netty 4.1.43.Final, in an application that has 2 instances and is deployed in kubernetes and I have found this vulnerability when the TE is the first header and this header has a blank before the header name for example [space] Transfer-Encoding: chunked; reviewing the source code on the next line
https://github.com/netty/netty/blob/8494b046ec7e4f2

[2020-01-16 13:28] normanmaurer commented on #9571
@fabianedl777 can you please try to update to latest netty version (4.1.45.Final) and if you still be able to reproduce the issue send me a reproducer to my email (you can find it via GitHub).

[2020-01-16 19:47] normanmaurer commented on #9954
not sure what is up with IntelliJ here but it works here without problems and also compiles via the cmd line

[2020-01-17 10:46] zhenjunMa opened #9957 "transfer socket(FD) between two java process"
### Expected behavior

now，i want to transfer existed sockets to a new process when the old process who accepted this socket must be killed.

i have known this can be done by call linux function like `sendmsg`.
more info please see: https://stackoverflow.com/questions/1997622/can-i-open-a-socket-and-pass-it-to-another-process-in-linux

i found related method in `io.netty.channel.unix.Socket`, whic

[2020-01-17 11:37] normanmaurer commented on #9957
@zhenjunMa yes this is possible... We have a unit test for this which should give you some ideas:

https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/test/java/io/netty/channel/epoll/EpollDomainSocketFdTest.java#L38

[2020-01-17 11:37] #9957 closed

[2020-01-21 09:20] medusar commented on #9954
Maybe you need `./mvnw install` before do anything else.

[2020-01-21 21:42] rishika728 opened #9961 "Error flushing and closing an idle Connection"
The normal mechanism to close a connection seems to be: (from: https://github.com/netty/netty/blob/master/example/src/main/java/io/netty/example/http/snoop/HttpSnoopServerHandler.java#L129)

[code]
Here is what is happening  -

Channel established with a client goes idle after a successful HttpRequest/Response exchange.
On detecting idle event after the configured idle timeout period, we attempt t

[2020-01-21 22:22] njhill commented on #9961
@rishika728 thanks for reporting. Is this new behaviour? Would you be able to try to reproduce using version 4.1.43.Final?

[2020-01-21 23:01] njhill commented on #9961
And if that has the problem then 4.1.34.Final...

I wonder if could somehow be related to #9020... see https://github.com/elastic/logstash/issues/11517

[2020-01-22 05:43] rishika728 commented on #9961
@njhill , The issue is to be seen in  4.1.43.Final as well.
For the posts you linked, the issue seems to be for slow clients processing huge requests. For my scenario, that is not the case. Its an idle channel left intact after successful request/response. It just stays idle for some time and when an attempt is made to evict this channel with the close utility above for which the channel future fo

[2020-01-22 09:10] rushsky518 opened #9962 "Why WeakOrderQueue extends WeakReference<Thread>?"
Why does WeakOrderQueue class extend WeakReference[Thread], but doesn't implement a run method.
[code]

[2020-01-22 18:18] normanmaurer commented on #9962
@rushsky518 because we want to be able to collect the `Thread` that is hold by it if `WeakOrderQueue` is the only reference to it.

[2020-01-22 18:18] #9962 closed

[2020-01-22 19:18] rishika728 commented on #9961
What I suspect is, if there is no more data left in the kernel buffers to be flushed, as in the case above, ctx.writeAndFlush(Unpooled.EMPTY_BUFFER) will not complete. Also, EMPTY_BYTE_BUF is a theoritical concept, where we are not writing anything  to the customer really. So i am not sure if this writeAndFlush succeeds after FullHttpResponse has been successfully flushed  and the channel has been

[2020-01-23 10:24] jsvd commented on #9961
I added some more details to the scenario we're seeing in Logstash (see [here](https://github.com/elastic/logstash/issues/11517#issuecomment-577538163)). Having the IdleStateHandler in the pipeline causes outbound messages to get stuck there until a write idle event is triggered, or something comes inbound.
This causes synchronous clients that perform `send(message); get(ack)` to get stuck, while

[2020-01-23 14:07] arjenzhou opened #9964 "Question about user guide."
Hi community,
after reading the user guide https://netty.io/wiki/user-guide-for-4.x.html I have the question about the example:
[code]
As the doc said that

What makes me confused is`when the method flush() was called?`
I notice in `New and noteworthy in 4.0`https://netty.io/wiki/new-and-noteworthy-in-4.0.html#write-does-not-flush-automatically  said that `write() does not flush automatically` so

[2020-01-23 15:17] bergerst commented on #8998
Why is there a null parameter for setting the client keystore type?

https://github.com/netty/netty/commit/5a27f2f78b4f9630ca71ba46e75332009fb5f785#diff-71806bf8745a8afbcc579df0168dd5a6R289

I'm experiencing errors right now because the wrong keystore is created for client authentication. They only workaround I have found so far is creating my own KeyManagerFactory.

[2020-01-23 15:55] normanmaurer commented on #8998
@bergerst if you think there is a bug or there is something that can be improved please provide a pr.

[2020-01-23 17:01] bergerst commented on #8998
@normanmaurer Done.

[2020-01-23 20:28] grinbvi commented on #2465
"it is quite normal that epollWait(...) blocks... It will only unblock if the Selector is waken up or there is something to handle. So I think it is all good." Here is the  result of epollWait() blocking:
![image](https://user-images.githubusercontent.com/57609916/73020947-3ccf0d80-3dec-11ea-980b-515c7206e3d3.png)
The above data is from the New Relic Thread Profiler taken every 100 milliseconds du

[2020-01-24 18:10] petermd commented on #9928
Fixed by https://github.com/netty/netty/pull/9963

[2020-01-24 18:10] #9928 closed

[2020-01-27 09:12] hyperxpro commented on #9793
I am sure that it's not Netty problem. My Company has created its own DNS Resolver and Authoritative Server on top of Netty.

Resolver can easily process 500K RPS and Authoritative hits upto 1.2M RPS with 0% Packet Loss (10G LAN). We did face packet loss issue on Linux but easily fixed it with few Kernel tuning hacks.

I'd suggest testing your Client and Server using iperf3 and check for possible

[2020-01-27 09:19] hyperxpro commented on #9859
Without having a look at code, it's hard to tell anything.

[2020-01-27 10:09] amizurov commented on #9964
Hi, i think that main idea that you override `public void write(ChannelHandlerContext ctx, Object msg, ChannelPromise promise)` and don't call `flush()`, because on your upstream handler (e.g. `TimeServerHandler`) you do something like this `ctx.writeAndFlush(UnixTime obj)`  and `flush()` will be invoked automatically.

[2020-01-27 12:35] violetagg commented on #9834
@normanmaurer I tested the proposed solution and I'm still not able to test it successful. Any other suggestions how to test it and make it running? (https://github.com/violetagg/netty/commit/e24767c5d894978b0861e3e2a104395cb45a97a3)

[2020-01-27 13:34] arjenzhou commented on #9964
@amizurov Thanks for your reply, I wonder if the buffer will used by different handler or not.
And I suggest changing the way of expression for we newbie to understand, thanks again.

[2020-01-27 16:20] johnou commented on #9834
@violetagg try with `.sslProvider(SslProvider.OPENSSL)` and make sure you set the system property `io.netty.handler.ssl.openssl.useTasks` to `true`.

[2020-01-27 16:22] johnou commented on #9834
@normanmaurer probably makes sense to anyway adjust the Netty config to include allowBlockingCallsInside("io.netty.handler.ssl.SslHandler", "handshake") given the default is JDK..

[2020-01-27 21:19] atcurtis opened #9971 "SslHandler.flush throws IllegalArgumentException on upstream write exception"
### Expected behavior

Did not expect flush to throw IllegalArgumentException

### Actual behavior
[code]

### Steps to reproduce

Occurs when an upstream handler throws an exception in write()

### Minimal yet complete reproducer code (or URL to code)

### Netty version

4.1.22-current

### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)
linux

[2020-01-27 21:22] atcurtis commented on #9971
https://github.com/netty/netty/pull/9972/commits/69b3089cd6fd173c0ea9348033ee3919af14ab15

[2020-01-28 05:04] #9913 closed

[2020-01-28 13:57] #9944 closed

[2020-01-28 14:59] wuwenbin555 opened #9975 "AbstractChannel.java :AbstractUnsafe: inFlush0 should be volatile"
**private boolean inFlush0**   in    **AbstractChannel.java**   class    **AbstractUnsafe**
the inFlush0 in  private void close(...)  and   **protected void flush0()**, Two method maybe in two threads, but two method depend the variable inFlush0，So i think it should be declare：

**private volatile boolean inFlush0**；

[2020-01-28 21:42] bryce-anderson commented on #8161
With the imminent changes to [Chrome](https://blog.chromium.org/2019/10/developers-get-ready-for-new.html) (and it sounds like Firefox and Edge will follow) is there now a stronger case for supporting `SameSite` attributes in Netty4? I haven't looked into the details, but we could lend a hand if it's just a matter of getting it done.

[2020-01-28 23:12] slandelle commented on #8161
@bryce-anderson I think the issue is not a lack of manpower but a semver one as `io.netty.handler.codec.http.cookie.Cookie` is considered a stable public API. I can't think of a way to add a new attribute without breaking it (no Java 8 default methods). Maybe introduce a CookieV2?
Generally speaking, I think there's a risk new attributes might be added to Cookies at a faster pace than Netty major

[2020-01-29 07:46] #9971 closed

[2020-01-29 07:50] normanmaurer commented on #9975
@wuwenbin555 nope... all methods in `AbstractUnsafe` are only called from within the `EventLoop` and so will be single threaded

[2020-01-29 07:50] #9975 closed

[2020-01-30 10:13] chixuan777 commented on #9419
did it work？i have the same issue

[2020-01-30 16:45] joshbressers commented on #9861
It appears this was assigned a CVE ID
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7238

[2020-01-30 17:22] VaughnVernon commented on #327
Hi All, We have hit this problem in a different project (not using Netty) and are looking for a fix/workaround. This only happens on Linux. We would really appreciate some help in learning how you solved this. Would someone please summarize the solution and source files involved? Sorry, it's difficult to piece together what finally worked given all the related discussions/issues.

https://github.c

[2020-01-31 02:51] LinShunKang opened #9981 "DEFAULT_CACHE_TRIM_INTERVAL_MILLIS debug log is incorrect"
### Expected behavior
Print debug log `-Dio.netty.allocation.cacheTrimIntervalMillis: {}`

### Actual behavior
Print debug log `-Dio.netty.allocator.cacheTrimIntervalMillis: {}`.

In `PooledByteBufAllocator.java` use `io.netty.allocation.cacheTrimIntervalMillis` to get system property value for `DEFAULT_CACHE_TRIM_INTERVAL_MILLIS` rather than `io.netty.allocator.cacheTrimIntervalMillis`, this can

[2020-01-31 11:11] #6168 closed

[2020-01-31 12:02] BigGitWorld opened #9983 "increase MQTT decoder maximum size"
I'd like to send a mqtt message so that its length is larger than ``DEFAULT_MAX_BYTES_IN_MESSAGE = 8092``.
Now I get the below error:
[code]
what is best way to handle it?
1. Should I break my mqtt message and send it several times with lower size?
2. Should I increase allowable maximum size of the mqtt decoder?

[2020-01-31 14:05] rdicroce commented on #6168
This should probably be reopened. My PR only fixes this for subclasses of ZlibDecoder; it does not fix this for any other compression algorithms.

[2020-01-31 15:52] spencergibb opened #9984 "BlockHound integration causes blocking on netty FastThreadLocalRunnable"
### Expected behavior

Other applications with BlockHound integration shouldn't fail with internal netty blocking on `FastThreadLocalRunnable`.

### Actual behavior
BlockHound integration added the following https://github.com/netty/netty/pull/9687/files#diff-2652ecd7677e7e42648c274b05543377R75 marking `FastThreadLocalRunnable` as blocking. Spring Cloud Gateway also has BlockHound integration and

[2020-01-31 22:50] bryce-anderson commented on #8161
@slandelle, that's true, and I suppose a risk of making much of the API open interfaces that anybody can extend. Are you aware of any projects making their own implementations of `Cookie`? Not that it matters in the context of the semver question, but in future iterations if it doesn't make senses to let users implement a specific API, most commonly data only API's like cookies, maybe they'd be be

[2020-01-31 23:01] slandelle commented on #8161
No I'm not.

I completely agree. I fail to see a use case for wanting to bring a different implementation.

[2020-01-31 23:26] bryce-anderson commented on #8161
Well, one hack around this would be to enhance the `DefaultCooke` implementation and downcast. It's definitely not pretty though and I don't know if anybody else is suffering from the same pain as we are. Following a few links from above it looks like others are just writing their own cookie parsers to address this.

[2020-01-31 23:26] bryce-anderson commented on #8161
Just so you know, I feel dirty about the above suggestion so no need for extra judgement. 😉

[2020-01-31 23:37] slandelle commented on #8161
Well, DefaultCookie is non final, so the semver rule applies too.
Sadly, if we can’t break semver here, several people (including myself, super sad, all the more as I contributed some of this code) will end up forking until this get fixed in Netty 5.

[2020-01-31 23:42] slandelle commented on #8161
Hence my suggestion of having the new implementation live next to the existing one in Netty 4.1 in a different package, and possibly Cookie implement for compatibility.

[2020-02-01 01:05] bryce-anderson opened #9986 "DefaultHttp2ConnectionDecoder triggers stream channel closes more eagerly than it should"
### Expected behavior
When a Http2FrameCodec receives a GOAWAY the stream channels with ID's greater than the last seen will get notified of the GOAWAY so they can bubble up a retryable signal.

### Actual behavior
The connection is notified first which eagerly closes the streams. This happens [here](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Def

[2020-02-01 05:12] ali-bagheri opened #9987 "Can limit speed on upload status?"
Hi, can limit speed (band transfer) when user send a file to server?
for netty very tanks.

[2020-02-01 05:14] ali-bagheri commented on #9987
Hi, can limit speed (band transfer)  when user send a file to server?
for netty very tanks.

[2020-02-01 06:06] kachayev commented on #9983
@BigGitWorld `MqttDecoder` has public constructor that accepts `maxBytesInMessage` as an argument: https://github.com/netty/netty/blob/a9863f8128189098263ebfe42359d8c6d53f4b4e/codec-mqtt/src/main/java/io/netty/handler/codec/mqtt/MqttDecoder.java#L66-L69

[2020-02-01 06:45] #9983 closed

[2020-02-01 21:09] smoell opened #9988 "No instances of java.net.Inet6Address are allowed in the image heap as this class should be initialized at image runtime."
Hi all,

currently, I'm trying to build a native image woth GraalVM and Vert.x and I get the following Netty-related issue, do you know how a working configuration looks like?

Using 19.3.1, my args are:

[code]

Here is the error output:

[code]

Thank you for your time,
Sascha

[2020-02-02 07:02] mostroverkhov commented on #9903
I ended up doing things in codec expected way: create `FrameStream` with `Http2ChannelDuplexHandler.newStream()` and reuse It until stream completion. Instead of setting stream id explicitly I wait until It is set by codec and verify It has expected value.

[2020-02-02 07:02] #9903 closed

[2020-02-02 23:13] rajjav123 commented on #8317
Hi ,
I got the similar OutOfDirectMemory issue while trying to retrieve a 2MB size object from Redis cache using a Springboot application . Spring data redis uses the Lettuce connection . I also raised the same issue in Stack Overflow and Spring data redis . Stackflow url : https://stackoverflow.com/questions/60031295/o-lettuce-core-redisexceptionio-netty-util-internal-outofdirectmemoryerror-whi

[2020-02-03 09:35] normanmaurer commented on #8317
@rajjav123 as mentioned in stack overflow this looks like a bug in lettuce: https://stackoverflow.com/a/60036459/1074097

[2020-02-03 09:35] #8317 closed

[2020-02-03 11:22] normanmaurer commented on #9986
@bryce-anderson will you look into a proper fix ?

[2020-02-03 11:25] normanmaurer commented on #9981
@LinShunKang sorry but I dont get the problem... Can you explain it more or just open a PR to fix it ?

[2020-02-03 11:25] #9954 closed

[2020-02-03 16:11] LinShunKang commented on #9981
@normanmaurer Compare these two lines of code:
https://github.com/netty/netty/blob/922e4635240e1519d22edc0cb1ff9d2382464886/buffer/src/main/java/io/netty/buffer/PooledByteBufAllocator.java#L128

https://github.com/netty/netty/blob/922e4635240e1519d22edc0cb1ff9d2382464886/buffer/src/main/java/io/netty/buffer/PooledByteBufAllocator.java#L160

[2020-02-03 18:23] BigGitWorld commented on #9983
@kachayev Thank you man for the response. I know that constructor exist.
I mean is it good to use an **infinite** value for this parameter?In fact I want to remove this constraint to avoid getting the above exception.
Because it's possible that my mqtt subscriber wants to subscribe to a lot topics.
Attachment:
If you are familiar with **Paho mqtt library**, there is a ``subscribe(String[] topics,

[2020-02-03 18:57] bryce-anderson commented on #9986
@normanmaurer, yes. I suspect it will be either really easy or really hard.

[2020-02-03 23:59] raner opened #9991 "Is there a need to release unpooled heap buffers?"
I am aware that it is best practice to `release()` locally created buffers in a `finally` block.
However, is this strictly necessary for unpooled heap buffers (i.e., buffers obtained via `Unpooled.buffer()`)?
My understanding is that unpooled heap buffers are entirely allocated on the Java heap, and their lifecycle is managed by the garbage collector, but I could be wrong on this.
BTW, this questi

[2020-02-04 07:20] BigGitWorld opened #9992 "Document for Mqtt codec"
Is there any document about MQTT codec?

[2020-02-04 13:09] normanmaurer commented on #9991
@ran-su generally speaking no... that said by default we will still report it as leak to make it easier for people to switch between allocators. Even if the GC manage the unpooled buffers we will ensure to give the direct memory back in a fast fashion when calling release. So all in all it is preferred to do so.

[2020-02-04 13:09] #9991 closed

[2020-02-04 14:11] normanmaurer commented on #9981
@LinShunKang ah I see... let me fix this

[2020-02-04 14:38] normanmaurer commented on #9981
@LinShunKang FYI https://github.com/netty/netty/pull/9994

[2020-02-04 14:43] normanmaurer commented on #9988
@michael-simons @pmlopes @cescoffier can you have a look as you are far more knowledgeable here then I am.... Help :)

[2020-02-04 14:52] tcataldo commented on #8537
I guess I might be doing something wrong but hostname verification seems enabled for me
[code]
I want to check the cert but disable hostname verification and I cannot figure out how to do that with AsyncHttpClient & SslContextBuilder.

[2020-02-04 15:17] Akshathhm commented on #8537
@slandelle , @normanmaurer : any timelines for the fixes?

[2020-02-04 15:28] michael-simons commented on #9988
I would add `-H:+ReportExceptionStackTraces` and especially `-H:+TraceClassInitialization` to your build, to see at which point `java.net.Inet6Address` get's initialised.

If any class leading to it is initialised at build time, `java.net.Inet6Address` will be initialized at build time, too. So you basically have to add them to the list of runtime initialised classed, too.

Regarding the ones you

[2020-02-04 16:17] dvlato commented on #8161
I would think that adding a field to DefaultCookie would not be a breaking change (as opposed to an interface without default methods).

However, I would be happy with your suggestion of having a new implementing class for cookies (maybe ResponseCookies as per trustin's comment?)   that would include the attribute.

This works seems quite important considering Chrome's timeline: https://www.chromi

[2020-02-04 16:21] slandelle commented on #8161
@normanmaurer it's up to you, we just need a decision :)

[2020-02-05 02:19] keddie commented on #9918
I saw exactly this symptom in a different project. The cause was that my agent-generated reflect.config contained:

[code]

... which was causing the `AbstractReferenceCounted` to initialize.

[2020-02-05 03:12] yuanrw opened #9995 "SmtpCommand lacks AUTH"
### Expected behavior
I'm writing a smtp client based on netty. SmtpCommand lacks the AUTH command. It is used to login to an SMTP server.

See it in https://www.ietf.org/rfc/rfc4954.txt

Is it possible to add it ?
### Actual behavior
Can not create an AUTH command.

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.45.Final

### JVM version (

[2020-02-05 06:52] normanmaurer commented on #9995
We love love contributions so feel free to submit a PR if you have time. Otherwise it may take a bit before I will have a chance to do it

[2020-02-05 07:20] yuanrw commented on #9995
@normanmaurer  ok. I will do it :-)

[2020-02-05 07:35] yuanrw commented on #9995
After send AUTH, the client need to send encoded username and password without any command, but SmtpCommand is a required field for SmtpRequest. So I think it's necessary to add an EMPTY command which means a request with only parameters. WDYT? @normanmaurer

[2020-02-05 08:23] amizurov commented on #9992
I'm not sure about specific for Netty MQTT docs, but you can look to example  [MQTT](https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/mqtt/heartBeat)

[2020-02-05 08:32] artem-smotrakov commented on #9861
@joshbressers If I understand correctly, this was assigned CVE-2019-20445 (according to the CVE description)

https://nvd.nist.gov/vuln/detail/CVE-2019-20445

@normanmaurer Do you know if your pull request #9865 addresses both CVE-2019-20445 and CVE-2020-7238?

[2020-02-05 09:02] normanmaurer commented on #9861
@artem-smotrakov yes

[2020-02-05 09:05] artem-smotrakov commented on #9861
@normanmaurer Thanks for confirming that!

I just wrote a couple of tests based on https://github.com/jdordonezn/CVE-2020-72381/issues/1 which is mentioned in CVE-2020-7238. The test passed although I am not 100% sure if they are sufficient

[code]

[2020-02-05 09:08] normanmaurer commented on #9861
@artem-smotrakov thanks... would you be willing to submit these tests as a PR so we can include them and ensure we not regress ?

[2020-02-05 09:12] artem-smotrakov commented on #9861
@normanmaurer No problem, I'll open a pull request.

[2020-02-05 13:39] #9981 closed

[2020-02-06 06:59] kachayev commented on #9983
@BigGitWorld In practice, you can't process infinitely large message as far as your RAM is limited. MQTT protocol defines max size for topic string (16kb, [here](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718016)) and for message payload (256mb, [here](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718023)).

[2020-02-06 11:35] sanjeevbis opened #10000 "I have a peer to peer (client/server on one host) setup (over a local LAN), this is using Netty, a Java networking framework. I use raw TCP/IP (as in, no HTTP) for communication and transfers. Now if i changes only on server side for TLS communication. It will accept only TLS connection or TLS and TCP/ip both"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2020-02-06 13:41] normanmaurer commented on #10000
Please use stack overflow for questions

[2020-02-06 13:41] #10000 closed

[2020-02-06 13:42] normanmaurer commented on #9986
@bryce-anderson ok cool... let me know once you have something to review.

[2020-02-06 13:43] normanmaurer commented on #9992
@BigGitWorld only the javadocs and the examples as mentioned

[2020-02-06 13:43] #9992 closed

[2020-02-06 13:48] bsideup commented on #9984
@normanmaurer

`GlobalEventExecutor#takeTask` is blocking. Since it is required to run the event loop, you should whitelist it. Here are some tips on how and what to whitelist:
https://github.com/reactor/BlockHound/blob/85a1bcfb2ea41035474a50f92ac0c050597335aa/docs/tips.md#how-to-select-what-to-whitelist

[2020-02-06 13:55] normanmaurer commented on #9984
@bsideup can you provide a PR ? Sorry I am super busy atm and not sure when I will have time to look into more details of block hound.

[2020-02-06 14:25] bsideup commented on #9984
@normanmaurer a bit busy as well, but I'll see what I can do 👍

[2020-02-06 22:57] bryce-anderson commented on #9986
@normanmaurer https://github.com/netty/netty/pull/10002

[2020-02-07 10:12] gliwka opened #10006 "IO_URING as epoll alternative"
Since Linux 5.1 there’s a new mechanism for high-performance batched asynchronous IO called io_uring. While it was primarily designed for disk io, it also works for network requests: https://blog.cloudflare.com/io_submit-the-epoll-alternative-youve-never-heard-about/

Is this something that would make sense for netty?

[2020-02-07 10:13] normanmaurer commented on #10006
@gliwka yes! In fact its something I plan to do if its not done as part of GSOC:

https://github.com/netty/netty/wiki/Google-Summer-of-Code-Ideas-2020#add-io_uring-based-transport

[2020-02-07 13:29] #9995 closed

[2020-02-07 13:35] normanmaurer commented on #9984
@bsideup cool... I think @spencergibb said that whitelist `GlobalEventExecutor#takeTask` did not work in his report.

[2020-02-07 14:57] normanmaurer commented on #9987
you can stop reading via `config.setAutoRead(false)` for example. That said this is an issue tracker, use stack overflow for questions

[2020-02-07 14:57] #9987 closed

[2020-02-08 19:40] smoell commented on #9988
Unfortunately, I don't see this information, even if I use ReportExceptionStackTraces  and TraceClassInitialization

[code]

[2020-02-08 20:27] carnil commented on #9866
CVE-2019-20444 was assigned for this issue apparently.

[2020-02-08 21:03] jchambers opened #10011 "Termination future listeners can accumulate when resolver groups outlive executors"
[`AddressResolverGroup`](https://github.com/netty/netty/blob/4.1/resolver/src/main/java/io/netty/resolver/AddressResolverGroup.java) appears to be designed with the expectation that resolver groups will be few in number and will generally have the same lifecycle as the executors that make address resolution requests. In cases where that expectation doesn't hold, though (for example, a case where m

[2020-02-08 21:17] jchambers commented on #10011
Pull request in progress.

[2020-02-10 06:40] #10011 closed

[2020-02-10 06:45] normanmaurer commented on #10011
@jchambers merged... thanks !

[2020-02-10 09:26] #9986 closed

[2020-02-10 12:55] normanmaurer commented on #9945
@Cybermaxke @Cybermaxke I am happy to review a PR.

[2020-02-10 15:23] normanmaurer commented on #9988
@smoell can you check if https://github.com/netty/netty/pull/9989 fixes your problem ?

[2020-02-10 19:28] #9895 closed

[2020-02-10 21:05] violetagg opened #10015 "In some use cases the execution hangs when HTTP/2 response is returned from an arbitrary thread"
### Expected behavior
Data is served successfully when HTTP/2 with prior knowledge.

### Actual behavior
In some use cases when HTTP/2 with prior knowledge only headers are returned and the execution hangs.
Below you can find a reproducible scenario.
However the use case is the following:
1. The response will be returned from an arbitrary thread.
2. `ctx.writeAndFlush` is used in order to write th

[2020-02-10 21:22] normanmaurer commented on #10015
@violetagg thanks a lot ... I will have a look tomorrow.

[2020-02-11 08:44] asalamon74 opened #10017 "java.security.AccessControlException: access denied ("java.io.FilePermission" "/etc/os-release" "read")"
### Expected behavior

Netty 4.1.39 added #9411 where netty checks for the `/etc/os-release` file. It's not a problem if this file is missing, but netty gives an error if we don't have right to read this file. I think it should be treated the same.

### Actual behavior

[code]

### Steps to reproduce

Bump netty version in [lucene-solr](https://github.com/apache/lucene-solr) and run unit tests (e.

[2020-02-11 08:51] pmlopes commented on #9988
I believe the issue is related to https://github.com/oracle/graal/issues/1902 A lot of extra config is needed to get it to work as noted by the graal team on https://github.com/oracle/graal/issues/1902#issuecomment-561103514

However @vjovanov wrote that he was planning to fix it upstream in a different issue but I cannot track it, maybe @vjovanov can share the issue number?

Until then I'm not su

[2020-02-11 08:58] normanmaurer commented on #9988
@pmlopes if there will be an upstream fix I agree we should just wait.

[2020-02-11 09:00] normanmaurer commented on #9988
@pmlopes also are you saying that  #9989 will not be needed anymore ?

[2020-02-11 09:23] normanmaurer commented on #10017
@asalamon74 PTAL https://github.com/netty/netty/pull/10018

[2020-02-11 09:43] pmlopes commented on #9988
No, #9989 is deeper and solves a different issue. When I proposed the initial PR it was biased towards the issues that were triggered for a vert.x app. That issue is more generic as it covers cases from other frameworks/tools I did not test, so I think it should be nice to have, but i let all the participants in the thread to discuss what is needed.

This issue, the inet4/6Address issue, affects e

[2020-02-11 09:43] normanmaurer commented on #10015
@violetagg thank again for the report and reproducer. Your "fix" also looks correct. I am working on a unit test now and will hopefully be able to open a PR later today.

[2020-02-11 12:04] gaurav-4g commented on #3983
Hi @normanmaurer , any plan for SCTP over epoll now? We got significant performance gain for TCP over epoll.

[2020-02-11 13:43] #10015 closed

[2020-02-11 14:15] normanmaurer commented on #3983
nope not really

[2020-02-11 16:52] violetagg commented on #9984
@spencergibb I tried spring-cloud-gateway build with https://github.com/netty/netty/pull/10020/files#diff-2652ecd7677e7e42648c274b05543377R78-R85
and I think it is OK now. Can you check with this configuration?

@normanmaurer @bsideup Can you check PR #10020

[2020-02-11 19:24] #9984 closed

[2020-02-12 07:51] seogyeongseob opened #10021 "Problem: difference between the below example code and Writing an Echo Server(User guide for 4.x)"
### Problem: difference between the below example code and Writing an Echo Server(User guide for 4.x)

I tried Echo and succeed but i have one doubt that is same results with (ctx.flush();) in EchoServerHandler.java and without (ctx.flush();) in EchoServerHandler.java.

{(io.netty.example.echo) - EchoClientHandler.java }
[code]
[code]
1. A ChannelHandlerContext object provides various operations t

[2020-02-12 09:40] smoell commented on #9988
Tried the suggested list of initializations, but unfortunately that didn't work for me.

[2020-02-12 11:16] shallowinggg opened #10023 "Problems about document and its impl in class SingleThreadEventExecutor"
### Expected behavior

[code]
In this constructor method, param `addTaskWakesUp` declares that if it is true, invocation of addTask(Runnable) will wakeup thread.

But in method `execute(Runnable)`, if `addTaskWakesUp` is false, it will invoke `wakeup(inEventLoop)` method.

[code]

Also, blow is method `beforeScheduledTaskSubmitted(long)`'s document:

[code]

If it returns `true`, the thread needs

[2020-02-12 11:22] normanmaurer commented on #10023
@shallowinggg not sure why you think there is a problem... It basically says that if you declare `true` then you guarantee that calling of `addTask` will result in a wakeup.

[2020-02-12 11:27] shallowinggg commented on #10023
Well, I know. You're right. thanks!

[2020-02-12 11:27] #10023 closed

[2020-02-12 16:35] hyperxpro opened #10025 "EC support in SelfSignedCertificate"
Should we add support for EC in SelfSignedCertificate? EC is faster and smaller and might be a good choice for the testing environment.

I can do PR for it too.

### Minimal yet complete reproducer code (or URL to code)
https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/util/SelfSignedCertificate.java

### Netty version
4.1.45.Final

[2020-02-12 18:33] ejona86 opened #10026 "PromiseTask.isCancelled performs an unsynchronized read"
In #9744 @njhill changed PromiseTask.isCancelled to:

https://github.com/netty/netty/blob/fcf55fcf718af1e4cae85eb86cdb679094186aed/common/src/main/java/io/netty/util/concurrent/PromiseTask.java#L180-L182

But `task` is just a plain field:

https://github.com/netty/netty/blob/fcf55fcf718af1e4cae85eb86cdb679094186aed/common/src/main/java/io/netty/util/concurrent/PromiseTask.java#L65

A race detector

[2020-02-12 19:02] njhill commented on #10026
@ejona86 it's just a small optimization to avoid a volatile read in the cancelled case - if `CANCELLED` is seen as the value of `task` then the promise _must_ be cancelled since it is a terminal state. It was motivated by the fact that cancellation is checked more frequently after the #9744 changes (see [here](https://github.com/netty/netty/pull/9744/files#diff-a6871cf1d78dcb4ff1db3d6bb5e117b9R161

[2020-02-12 19:06] ejona86 commented on #10026
@njhill, okay, that's good to know. I'll look in to seeing if there's a way to whitelist this thread-safety failure.

Do we know if that optimization actually provides any benefit? I see you made benchmarks for the change overall, but I'd expect that optimization to provide ~zero benefit since it only speeds up the `cancelled == true` case and the volatile is still within the normal flow (so the c

[2020-02-12 19:11] ejona86 commented on #10026
Looks like there is no way to whitelist it, or it will be a headache. (The tools work in Java properly but the tooling people are C++ folks and wouldn't be used to the relatively high safety guaranteed to data races in Java.) If we can show it doesn't benefit much, then we may try to remove the optimization.

[2020-02-12 19:13] normanmaurer commented on #10026
Let’s just remove it ...

[2020-02-12 19:20] ejona86 commented on #10026
@creamsoup can do the removal, but it will probably be a week or so. If anyone beats us to the punch we wouldn't be bothered :smile:.

[2020-02-12 19:27] njhill commented on #10026
My point was that case would now be more common. AFAIK timeouts are commonly implemented by scheduling a task for every request then immediately cancelling it when the response is received. And for those cases this may become the "normal" flow.

I didn't think (careful) use of intentionally-racy logic was uncommon in high-performance java concurrency... so am surprised there aren't other places fl

[2020-02-12 19:37] ejona86 commented on #10026
There used to be more failures in Netty, but many of them have been fixed. I did find a whitelist and it appears the only Netty race whitelisted is from io.netty.util.Recycler$WeakOrderQueue.transfer (not saying such a race still exists). But I do see a reasonable number of races ignored for the java standard library. That might be to just allow the tool to be used; stop new issues from being intr

[2020-02-13 10:48] #10017 closed

[2020-02-13 18:32] ddjones-fss commented on #8161
While you decide, our applications are about to fail in production due to our inability to move forward... !!

[2020-02-13 21:13] normanmaurer commented on #10025
@hyperxpro sure why not 👍

[2020-02-13 21:17] hyperxpro commented on #10025
Should I add a Builder design pattern along with constructor?

[2020-02-14 08:54] LMig2k opened #10029 "Does netty-transport-native-epoll support android?"
### My android apk/service want to connect to an unix domain socket on android, i tried EpollDomainSocketChannel but failed

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version
4.1.43.Final
<classifier>linux-x86_64</classifier>
### JVM version (e.g. `java -version`)
jdk7+
### OS version (e.g. `uname -a`)
android 9.0