[2015-02-10 18:19] jpinner opened #3415 "HttpRequest utility method getPath()"
Feature request to add a utility method that returns just the path segment of the HttpRequest URI:

[code]

[2015-02-10 18:42] normanmaurer commented on #3415
@jpinner sure why not.. Care to submit a PR :) ?

[2015-02-10 20:23] semoro opened #3416 "HttpPostRequestDecoder boundary split bug"
Netty  4.1.0.Beta3
When i trying to send multipart forms by Qt to Netty

I found that this bug is based on wrong use of StringUtil.split

String[] boundary = StringUtil.split(headerContentType[mrank], '=');
            if (boundary.length != 2) {
                throw new ErrorDataDecoderException("Needs a boundary value");
            }

Here a check for count of split result not equal to 2
but,

[2015-02-10 21:12] nmittler commented on #3390
@Scottmitch ignore my comment about moving the header around ... that wouldn't work.  I think we can only combine the frame header and data into a single buffer on the first write.  Any further splitting of the data will require an additional buffer and write operation for the header.

[2015-02-11 00:27] krisjin opened #3417 "do not understand the class of translation problems"
do not understand the LineBasedFrameDecoder 、DelimiterBasedFrameDecoder class that of translation problems  ,What is frame, Is understood to fragment?

[2015-02-11 01:15] Scottmitch commented on #3390
@nmittler I don't understand the following:

Why do we have to write the header differently when splitting occurs or need an additional buffer?

Let me lay out my mental model and get your thoughts:

1. User asks for the first payload buffer for a stream for frame type `x` to be allocated from our allocator (lets assume payload size is supplied).
2. We allocate a buffer `payload size + frame type

[2015-02-11 01:44] Scottmitch commented on #3358
I am all for getting rid of the special code paths in Netty code.  If streams can provide this then +1.  Is the expectation that once the stream interface is developed that a good portion of netty code will be modified to take advantage of this?  What is your expectation for time frame and version these changes would target?

[2015-02-11 05:31] Scottmitch commented on #3417
@krisjin - Thanks for reaching out!  Could you please post these types of questions on stack overflow?  github is for bug reports and feature requests.  Stackoverflow is generally more accessible for the community to learn from incase anyone else has a similar question.  Feel free to post the link to the stack overflow question here (for this question) if you don't get a response.

[2015-02-11 05:31] #3417 closed

[2015-02-11 16:31] nmittler commented on #3390
@Scottmitch I think we might be talking about slightly different things.  Let me see if I can clarify what I was saying.  The problem I was trying to address was that of writing DATA frames, since they are the only frames that are flow controlled and can thus be split after the initial allocation.

## New Frame Construction Pattern
My strategy for this optimization was going to change the encoder

[2015-02-11 16:57] Scottmitch opened #3418 "HTTP/2 Draft 17 and HPACK 12"
New drafts are out.  We should evaluate and make necessary updates.

https://tools.ietf.org/html/draft-ietf-httpbis-http2-17
~~https://tools.ietf.org/html/draft-ietf-httpbis-header-compression-11~~
https://tools.ietf.org/html/draft-ietf-httpbis-header-compression-12

We should coordinate with https://github.com/twitter/hpack if necessary.

[2015-02-11 16:58] Scottmitch commented on #3418
@nmittler @jpinner FYI.

[2015-02-11 18:45] mhgrove opened #3419 "normal usage can yield entropy warning messages"
I originally mentioned this on [SO](http://stackoverflow.com/questions/28173570/conditions-for-lack-of-entophy-in-threadlocalrandom)

We've had users report seeing this from time to time, and we've been able to find a way to get it to occur in our test environment.

The gist of the bash script which can reliably reproduce this in our system is basically:

[code]

[2015-02-11 21:26] Scottmitch commented on #3390
@nmittler - Yes thanks for clarifying, and I agree with your diminishing returns under load analysis.  I was leaving out the part where the frame header for frames after the "split" (duh :) ).

You description on allocations and writes seems reasonable, but let me reiterate/summarize.

Initial Frame (before split condition is known):
- 1 allocation 2 writes (header,data + padding).  Space for head

[2015-02-11 21:32] nmittler commented on #3390
@Scottmitch yes, exactly.  So if our analysis of the benchmarks shows that removing the extra buffer allocation for the frame header is a possible win, this may still be something to consider.  Otherwise it's probably not worth doing.

[2015-02-11 22:44] Scottmitch commented on #3390
+1.

[2015-02-12 00:25] krisjin commented on #3417
thanks

[2015-02-12 13:07] normanmaurer commented on #3419
Can you tell us what performOperation does ?

[2015-02-12 13:48] mhgrove commented on #3419
the protobuf codec is used for the client/server communications.  it's just taking some user input, creating the relevant protobuf object and writing that over the channel to the server.

Here's a capture from the terminal where we're repeatedly sending a very small request to the server and we hit the issue:

[code]

[2015-02-13 02:44] jroper commented on #3193
One small update, though I'm dubious as to whether it's the cause - these connections are actually SSL connections using the SslHandler (this is Netty 3.9.3, no openssl here), and there seems to be a number of `Failed to clean up SSLEngine.
javax.net.ssl.SSLException: Inbound closed before receiving peer's close_notify: possible truncation attack?` logged by the `SslHandler` when Netty attempts to

[2015-02-13 08:25] normanmaurer opened #3422 "DefaultSocks5CommandResponseTest produce buffer leak"
See here:
http://clinker.netty.io/jenkins/job/netty-leak/branch/master/96/consoleFull

[2015-02-13 08:25] normanmaurer commented on #3422
@trustin please check :)

[2015-02-13 09:40] waylau opened #3423 "Here is Chinese translation of the Netty 4.x User Guide 《Netty 4.x 用户指南》中文翻译"
https://github.com/waylau/netty-4-user-guide

thanks Netty ,make we better!

[2015-02-13 10:24] zcourts commented on #3193
I missed the notification on this @Scottmitch - auto_read appears to be off. "appears" because the issue has been observed when the user's connection was rate limited.

[2015-02-13 13:41] yuyijq commented on #3246
Agree with @trustin , Application developer should guarantee the order, not the framework.Write from different thread should have "happen before".

[2015-02-13 16:20] CodingFabian opened #3424 "OSGi Bundle Manifest broken"
The declared Import-Package is wrong (here from netty-common)

[code]

the first few are correct "resolution:=optional" the jetty ones however are incorrect: "resolution=optional"

This is caused by the parent-pom:
[code]

It needs to be:
[code]

[2015-02-13 16:24] CodingFabian commented on #3424
I provide a patch for 4.1 branch, let me know how i could provide it for others, or if you backport it yourself

[2015-02-13 18:40] Scottmitch commented on #3193
@zcourts - Thanks for confirming auto_read is off (false).  What are your thoughts about https://github.com/netty/netty/issues/3193#issuecomment-67002103?  I'm not sure if you can programmatically detect when you are in this scenario, but what happens when you call `channel.read()`?  If the socket is closed up (exception may be thrown) then this is expected behavior.

@jroper - Thanks for the addi

[2015-02-13 18:42] Scottmitch commented on #3193
@zcourts - Are you using an SslHandler when this issue is observed?  Have you updated your netty version?

[2015-02-13 19:45] normanmaurer commented on #3424
Fixed.. thanks

[2015-02-13 19:45] #3424 closed

[2015-02-13 22:23] CodingFabian commented on #3424
used snapshot build, works. thanks for the quick turn around.

[2015-02-14 02:54] bwzhang2011 commented on #3023
I think it's time to close such issue as @ngocdaothanh  has set up such support while others check the review continuously . thanks for any one could pay more attention to those.

[2015-02-14 02:54] #3023 closed

[2015-02-14 06:05] normanmaurer commented on #3424
Awesome. Thanks!

[2015-02-14 11:19] rovarga commented on #3302
Would switching to maven-bundle-plugin help? That could auto-generate the manifest, which mostly prevents simple typos, but could end up adding things that are not strictly necessary.

pax-exam can be used to write UTs to check if things resolve as bundles (https://git.opendaylight.org/gerrit/gitweb?p=bgpcep.git;a=blob;f=integration-tests/src/test/java/org/opendaylight/protocol/integration/Abstrac

[2015-02-15 06:00] smwikipedia opened #3429 "Netty 4.0.24 Final doc bug for ServerBootstrap.group(). [bug]"
The javadoc for ServerBootstrap.group() in 4.0.24.Final is incorrect.

![netty doc bug](https://cloud.githubusercontent.com/assets/999318/6202298/76248d8a-b51b-11e4-914f-9e8860d0625b.png)

The SocketChannel should be ServerChannel.

This bug is first reported in this stackoverflow thread:
http://stackoverflow.com/questions/28473116/netty-doc-bug-for-serverbootstrap-group

[2015-02-15 13:13] zcourts commented on #3193
@Scottmitch SSL isn't involved, SslHandler isn't in the pipeline.

In response to https://github.com/netty/netty/issues/3193#issuecomment-67002103 the app is automatically turning auto read on and off per connection.
Going over the code just now it actually doesn't account for that edge case.  I'll add that in and see if it makes a difference.

[2015-02-16 03:40] bwzhang2011 commented on #3319
@jiangguilong2000 , thanks for such issue and as @trustin  pointed out, how about your conclusion when reducing the default recycler stack size (solve such problem or remains the ever before)

[2015-02-16 11:49] purplefox commented on #649
I don't see any issue here. It's normal for browsers not to send cookie attributes back to the server. Only the name: value goes from client to server.

From http://en.wikipedia.org/wiki/HTTP_cookie:

"They will only send the cookie’s name-value pair. Cookie attributes are used by browsers to
determine when to delete a cookie, block a cookie or whether to send a cookie (name-value pair) to the ser

[2015-02-16 13:26] formalizator commented on #649
Problem is that I can't determine if the browser sent me only name-value pair or I got the expired cookie.
This cookie handler should return null for received cookies. Not the Integer.MIN_VALUE.

[2015-02-16 16:54] marcottedan opened #3432 "Multiple writeAndFlush cause a race condition that sometimes leak buffers"
Netty version: 4.0.9.Final && 4.0.25.Final
- Netty started with PARANOID mode

java version "1.7.0_40"
Java(TM) SE Runtime Environment (build 1.7.0_40-b43)
Java HotSpot(TM) 64-Bit Server VM (build 24.0-b56, mixed mode)

Operating system: Windows 7, 8 and CentOS 6

Context:
We had an error in our code base that was flushing the socket twice for every write (we only write once per request). There se

[2015-02-17 09:40] jiangguilong2000 commented on #3319
@sunng87 ,I'm so sorry to reply so later,Happy china new year!
I use SimpleChannelInboundHandler in my pipeline not SslHandler .

[2015-02-17 10:58] jiangguilong2000 commented on #3319
@trustin @bwzhang2011 I'm so sorry to reply so later,Happy china new year!
In fact ,I decide not to reduce the default max recycler stack at last,because I don't want to cover up the root cause.
here is my recently  results of the research.I append some log in io.netty.util.Recycler as follows:
package io.netty.util;

import io.netty.util.concurrent.FastThreadLocal;
import io.netty.util.internal.S

[2015-02-17 11:04] jiangguilong2000 commented on #3319
here is the log as follows for above comment's analyze.
/data/log/game/1/game.2015-02-02-00.log:2015-02-02 00:35:58.238 WARN [nioEventLoopGroup-3-5][Recycler.java:344] - stack=io.netty.util.Recycler$Stack@182c331e,thread=Thread[nioEventLoopGroup-3-5,10,main],maxCapacity=262144
/data/log/game/1/game.2015-02-02-00.log:2015-02-02 00:35:58.238 WARN [nioEventLoopGroup-3-5][Recycler.java:151] - stack=io

[2015-02-17 11:05] jiangguilong2000 commented on #3319
here is the log as follows for above comment's analyze.
/data/log/game/1/game.2015-02-02-00.log:2015-02-02 00:35:58.238 WARN [nioEventLoopGroup-3-5][Recycler.java:344] - stack=io.netty.util.Recycler$Stack@182c331e,thread=Thread[nioEventLoopGroup-3-5,10,main],maxCapacity=262144
/data/log/game/1/game.2015-02-02-00.log:2015-02-02 00:35:58.238 WARN [nioEventLoopGroup-3-5][Recycler.java:151] - stack=io

[2015-02-17 15:10] jiangguilong2000 commented on #3319
here is the reference stack:
java.rmi.ServerException: test
        at io.netty.util.Recycler$DefaultHandle.<init>(Recycler.java:153) ~[game.jar:4.0.25.Final]
        at io.netty.util.Recycler$Stack.newHandle(Recycler.java:477) ~[game.jar:4.0.25.Final]
        at io.netty.util.Recycler.get(Recycler.java:90) ~[game.jar:4.0.25.Final]
        at io.netty.buffer.PooledUnsafeDirectByteBuf.newInstance(P

[2015-02-17 18:39] Scottmitch commented on #3418
HPACK-11 didn't last very long :)  We now have draft 12.

Note that the issue description and links have been updated.

[2015-02-17 19:00] nmittler commented on #3418
@Scottmitch ha! ... thanks for keeping on top of this!

[2015-02-18 05:25] jroper commented on #3193
Ok, I've managed to get a packet capture, and I think (though am yet to confirm) that the issue I'm having is identical to @zcourts.  The SslHandler issue seems irrelevant, though is likely caused by the same thing.

In most cases, connections are closed using FIN, but in some cases, an RST is sent, and then nothing is done after that.  I believe these cases are the ones that are leaking connectio

[2015-02-18 06:40] jroper commented on #3193
I've tried to reproduce the issue, but so far have been unsuccessful.  What I have seen is connection reset by peer exceptions reported by Netty, which is what I expect to see.  I have only been testing on the loopback port, which may be special.

[2015-02-18 08:04] danbev opened #3435 "Add unescapeCsv method to StringUtil."
For the solution for #3237 involved adding a method named ```escapeCsv``` to StringUtil. We should also add the counter part of this, ```unescapeCsv```, to StringUtil.

[2015-02-18 16:14] Scottmitch commented on #3435
Thanks for capturing this issue @danbev!

Just as #3271 added the ability to automatically combine and CSV escape values associated with the same header name; we should also add the ability to automatically unescape values returned by the accessor methods.  For example `CharSequence get(Charsequence name)` in `DefaultTextHeaders` should be unescaping the values that are returned (under some condit

[2015-02-18 17:50] normanmaurer commented on #3429
Was fixed by #3430

[2015-02-18 17:50] #3429 closed

[2015-02-18 17:51] normanmaurer commented on #3429
Was fixed be #3430

[2015-02-18 17:51] normanmaurer commented on #3422
@trustin ping

[2015-02-18 19:17] jpinner commented on #3418
Will release hpack-1.0.0 once the spec gets published as an RFC. There will likely be minor API breaking since "Header Table" has been renamed in the spec to "Dynamic Table" (i.e. maxHeaderTableSize -> maxDynamicTableSize).

[2015-02-18 19:44] mhgrove commented on #3419
I'm not sure if anything mentioned here (http://stackoverflow.com/questions/27173833/slow-service-response-times-java-securerandom-dev-random/27178322#27178322) would help alleviate the issue.

[2015-02-18 23:11] jroper commented on #3193
Hi all,

Ignore everything I said about RST - I can now confirm that wasn't the issue, and I have now definitely captured some packet captures.

What I'm seeing is the client (Netty) making a connection, then not using it, then the remote end closing it after 10 minutes (presumably a timeout) with a FIN ACK, and then client responds with ACK.  See attached screenshot of the capture:

![capture_png

[2015-02-18 23:31] Scottmitch opened #3437 "memcache client library discussion"
@daschl - I wanted to talk to you a bit about your java memcache client experience.  I see you have contributed the binary protocol to netty 4 about a year ago.  However I also see you have contributed to  other java based clients more recently (https://github.com/couchbase/spymemcached and https://github.com/dustin/java-memcached-client).  My questions are:

1. Are you using Netty's codec-memcach

[2015-02-18 23:42] jroper commented on #3193
I haven't been able to reproduce it, but something interesting to note here - the client is using SSL, but never attempts to make an SSL handshake.  That's probably where the problem is - the client is never finding out that the connection is open.  So that could well mean that the bug is in the opening of connections.

[2015-02-18 23:51] Scottmitch commented on #3193
@jroper - Thanks for all the hard work tracking this down!  Sound like your are narrowing in...I wonder is your connect future completing successfully on the client. If so is the `ChannelPipelineFactory.getPipeline()` being called and initializing your pipeline. If good so far is then what is happening in `SslContext` that prevents the ClientHello from going out?

[2015-02-18 23:57] jroper commented on #3193
Note that the only place we've been able to reproduce this is on a high load production system - knowing whether getPipeline is being called is not simple (and the implementation of ChannelPipelineFactory is in async-http-client, so hard for us to put logging in there).

I do have a little more information here though - when these connections were created, there were many (5-15) connections connec

[2015-02-19 01:37] keteracel commented on #3416
This is a dupe of https://github.com/netty/netty/issues/3004 and has already been addressed in https://github.com/netty/netty/commit/d6e7997f8dfd0a9b7dfa7c2b9ab0bdbf17e46712

[2015-02-19 05:28] #3416 closed

[2015-02-19 07:52] daschl commented on #3437
Hi @Scottmitch,

alright, first up some clarifications: I'm working for Couchbase where I maintain both the old and new Couchbase JVM SDK. I tell you this because: the "old" uses and extends spymemcached while the new one is built exclusively on netty and uses codec-memcache.

re 1: We are using codec-memcache in production in the new Couchbase Java SDK (which is currently in version 2.1.0). I've

[2015-02-19 09:27] fredericBregier commented on #3416
@semoro I confirm this should be fixed already. It is already in the 4.1.0 repository (but not release yet since the 4.1.0 Beta 4 is not already out).
Could you check ?

[2015-02-19 09:31] slandelle commented on #3193
@jroper I know you can't upgrade easily and that @wsargent is investigating migration, but please note that [pipelines customization is available in AHC 1.9](https://github.com/AsyncHttpClient/async-http-client/blob/1.9.x/src/main/java/com/ning/http/client/providers/netty/NettyAsyncHttpProviderConfig.java#L107-L110) ;)

[2015-02-19 12:28] besief opened #3438 "Maybe pre-instance CONNECTION_RESET_EXCEPTION_READ too?"
Hi everybody,

we have been using netty 3.9 in the past and are looking to move to 4.0 now.
Because we are running our servers behind an haproxy, and due to the way haproxy balances connections, there are a lot of connection resets (~10k per minute) on our backend servers. With the NIO transport, we just ignored them. With the EPOLL transport, we are going to do the same, but I noticed that each o

[2015-02-19 12:29] normanmaurer commented on #3438
@besief which version are you using ?

[2015-02-19 12:37] besief commented on #3438
Upgrading to 4.0.25.Final, but from skimming the sources here on github, behaviour doesn't seem to have changed in the other versions. (?)
Upgrading from 3.9.0.Final.

[2015-02-19 12:38] normanmaurer commented on #3438
I'm asking because CONNECTION_RESET_EXCEPTION_READ should be used already. Can you show me the stack trace you are seeing ?

[2015-02-19 12:48] besief commented on #3438
java.io.IOException: readAddress() failed: Connection reset by peer
[code]

I'm talking about the following part of Native.java. As far as I understand it, certain exceptions are always reused (they are static final), while other get new instances via calls to newIOException.
[code]
Of course, resetCause will always be the same CONNECTION_RESET_EXCEPTION_READ object (that is also static final), bu

[2015-02-19 13:01] normanmaurer commented on #3438
@besief ah I see... it's a bug. Let me fix it.

[2015-02-19 13:15] besief commented on #3438
Cool, thanks.

ps: Sorry for not including all the details in the initial posting, I thought everything might be clear enough by just referring to that comment. :)

[2015-02-19 14:32] Scottmitch commented on #2845
@buchgr - FYI. This may be the last piece of the puzzle for HTTP/2 OpenSSL drop in.

Here is an example of OpenSSL ALPN usage:

https://github.com/tatsuhiro-t/nghttp2/blob/master/src/h2load.cc#L429
https://github.com/tatsuhiro-t/nghttp2/blob/master/src/h2load.cc#L1208

Let me know if you have any questions.

[2015-02-19 14:33] normanmaurer commented on #2845
@Scottmitch cool... Let me work on it :)

[2015-02-19 14:35] normanmaurer commented on #3438
@besief no worries... Thanks again to open the bug report!

[2015-02-19 16:48] Scottmitch commented on #3437
@daschl - Thanks for the very thorough response!  I think I have all the info I need for now.  I will let you know if I have any further questions.

[2015-02-19 16:48] #3437 closed

[2015-02-19 16:57] Scottmitch commented on #3193
@zcourts - Did the call to `read()` correct the behavior you were seeing (when `auto_read` was off)?

@jroper - Agreed.  I think we have enough info where we can open as a separate issue.  Not sure if it makes more sense to file with AHC and then we can jump in if necessary?  This may help ensure that the issue is fixed all the way through the stack. @slandelle - Does this sound appropriate?

[2015-02-19 17:45] slandelle commented on #3193
Well, the problem is that Play uses the previous generation of AHC and the code base as completely changed in between. So I'm afraid I couldn't do much as long as the Play team doesn't provide a reproducer targeting 1.9... But I would of course gladly ship and release a new 1.8 if they were to provide a fix.

[2015-02-19 23:45] jroper commented on #3193
For me, I just appreciate having a place to report my findings so that any experts that happen to be following along can spot anything obvious that I've missed or can provide pointers of where I might look next - I'm not expecting anyone other than myself to put any serious effort in, so I don't mind where this lives.  Perhaps the mailing list may be a better place?

[2015-02-20 07:54] trustin commented on #3422
Thanks for the heads up! Fixed in 6d822195b0a59514b8fbeee15b0466735efb2289 (master) and 7aeafb9c09c55a001b92975ea8fb895554757aa5 (4.1)

[2015-02-20 07:54] #3422 closed

[2015-02-20 14:06] hithendra commented on #2997
Hello trustin, I have implemented write timed out in my application , but this is not working.
Meanwhile read timed out is working fine, I even tried IdleStateHandler , but no use.

Can I know when writeTimedout will fire ?

[2015-02-21 03:42] trustin commented on #2997
@hithendra Wrong thread. What made you think it's the right place to ask that question? I don't see any relevance to the original discussion.

[2015-02-21 03:43] trustin commented on #2997
Let me close and lock this issue for now. Please open a new issue if you find something new.

[2015-02-21 03:43] #2997 closed

[2015-02-21 03:48] trustin commented on #3193
@jroper, @zcourts - I appreciate that you guys come here to provide more information hoping for future resolution on this issue, and I'm somewhat sad that we couldn't help a lot.  Please feel free to keep the relevant information coming. We are listening. :-)

[2015-02-21 03:50] Scottmitch commented on #3418
@jpinner - That shouldn't be a problem.  Thanks for the heads up.

I have seen a lot of chatter on the email thread about fixing static tables...do you think there is a draft 13 on the horizon?

[2015-02-21 19:55] semoro commented on #3416
I had updated to 4.1.0 Beta 4, Now all works fine) Thank you!

[2015-02-21 19:58] fredericBregier commented on #3416
Thanks to report this works now !

[2015-02-21 20:36] normanmaurer commented on #3438
Fixed...

[2015-02-21 20:36] #3438 closed

[2015-02-22 11:32] blucas opened #3443 "Invalid FileDescriptor causing infinite loop"
Netty version: 5.0.0-Alpha2-SNAPSHOT

Attention: @normanmaurer

When my netty client attempts to connect to a server that is currently shut down, the client is correctly informed that a connection could not be established, but the following error occurs infinitely in the pipeline.  I believe there is a continuous loop occurring in ```AbstractEpollStreamChannel$EpollStreamUnsafe.epollInReady``` [he

[2015-02-23 16:41] normanmaurer commented on #3443
will check

[2015-02-23 18:11] normanmaurer commented on #3443
Fixed in 4.0 (960a486f13c6101ed76dfb99959501995697a01e), 4.1(5bb1377072d762f446048943f201c68b64161a30) and master (c90137f1c4859ec90e073c1b62e12844d8228d42)

[2015-02-23 18:11] #3443 closed

[2015-02-23 19:56] normanmaurer commented on #3419
@trustin could you check ?

[2015-02-24 02:51] angxu opened #3445 "HttpObjectDecoder throws TooLongFrameException when it should not"
Netty version: 4.0.25.Final

It seems the `HttpObjectDecoder` does not behave correctly when receiving large HTTP header whose data is across multiple `ByteBuf`s. Specifically, the following method in `HeaderParser` does not reset its `size` or update buffer's `readerIndex` when it returns `null`. So the next time it's called with an accumulated buffer that contains the previous one, the `size` of

[2015-02-24 06:03] normanmaurer commented on #3414
@gurudk could you please try latest 4.0.26.Final-SNAPSHOT ?

[2015-02-24 19:09] devsunny opened #3447 "sshandle still have memory leak, tested with 4.0.24, 4.0.25 and 4.0.17."
java.lang.OutOfMemoryError: Direct buffer memory
	at java.nio.Bits.reserveMemory(Unknown Source)
	at java.nio.DirectByteBuffer.<init>(Unknown Source)
	at java.nio.ByteBuffer.allocateDirect(Unknown Source)
	at io.netty.buffer.UnpooledUnsafeDirectByteBuf.allocateDirect(UnpooledUnsafeDirectByteBuf.java:108)
	at io.netty.buffer.UnpooledUnsafeDirectByteBuf.<init>(UnpooledUnsafeDirectByteBuf.java:69)
	a

[2015-02-24 19:11] devsunny commented on #3447
Sun JDK 1.7
OS: RHEL 6.4

[2015-02-24 19:11] normanmaurer commented on #3447
@devsunny we need more infos.. can you submit a reproducer ? Also maybe you just write to fast ?

[2015-02-24 21:30] nmittler opened #3448 "Get rid of Http2StreamRemovalPolicy"
The `DefaultHttp2StreamRemovalPolicy` by default waits 5 seconds after a stream has been closed before removing it from the connection.  The reason for this is to support the following case from the HTTP2 spec (From [Section 5.1](https://tools.ietf.org/html/draft-ietf-httpbis-http2-17#section-5.1)):

    "WINDOW_UPDATE or RST_STREAM frames can be received in this state
     for a short period afte

[2015-02-24 21:31] nmittler commented on #3448
@Scottmitch WDYT?

[2015-02-24 22:19] jpinner commented on #3448
We ignore the frames for non-existent streams if they are for stream Ids below the lastGoodStreamId

[2015-02-24 23:43] louiscryan commented on #3448
That seems like a reasonable default policy.

I guess the question here is whether we need to continue to allow for a pluggable policy or just bake this behavior in.

[2015-02-25 01:02] devsunny commented on #3447
I retrieved about thirteen thousand records from JDBC and send through SSLHandler, then I got OOM. Digging through the code, I set io.netty.tryUnsafe to false to force it to use heap instead of direct memory, then it works fine. I will try to create a simple reproducer. I think you were right. It could be too fast; on the other hand, if direct memory buffer could not support fast write, what is th

[2015-02-25 01:24] Scottmitch commented on #3448
@jpinner - What is `lastGoodStreamId`?  Does this relate to the stream id from a [GOAWAY](https://tools.ietf.org/html/draft-ietf-httpbis-http2-17#section-6.8)?

@nmittler - I would like to understand the implications of this statement:

Does `DefaultHttp2StreamRemovalPolicy` itself have a problem, or the way the interfaces are designed make memory leaks likely?

My first thought are at a minimum w

[2015-02-25 01:36] Scottmitch commented on #3447
@devsunny - Reproducer would be very helpful.  What are your JVM args, system memory details, and which Netty allocator are you using?  Are your 13k JDBC query responses in direct buffers?

[2015-02-25 01:47] jpinner commented on #3448
@Scottmitch sorry, should have been more explicit -- yes, it's the stream id that would go in a goaway frame if you were to start shutting down the connection

[2015-02-25 01:57] Scottmitch commented on #3448
@nmittler - I re-read your issue description and looked at the interfaces a bit more...I think I came to the same conclusion as you did :)

Just call [DefaultHttp2Connection.removeStream](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2Connection.java#L192) from [DefaultHttp2Connection.deactivateInternal](https://github.com/netty/netty/

[2015-02-25 02:30] Scottmitch commented on #3448
@jpinner - Thanks for clarifying, and this makes sense.

@nmittler - Could we just use (https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L377) for this purpose.  I'm hesitant because the application has the ability to send a go away with what ever stream id they want.  We may need to consider providing an extension point

[2015-02-25 10:37] tbocek opened #3449 "channelFuture.addListener() throws exception if channel is closed"
Hi,

I get the following error when I want to add a listener, but the channel is closed. I expect that the listener is added and the operationComplete() is called with a future in a failed state. However, I get this exception:

[code]

A workaround for me is to use try-catch, but I was expecting that when adding a listener, that operationComplete() is called.

[2015-02-25 10:40] normanmaurer commented on #3449
@tbocek this will only happen once you shutdown the EventLoop that belongs to the Channel.

[2015-02-25 10:47] tbocek commented on #3449
I checked the netty code again, and it seems that in such a case, the error is just logged. The operationComplete() is never called and no exception is thrown back to the user. So I cannot react on it.

That means I need to make sure beforehand that the EventLoop is still alive. Wouldn't it make sense that instead of logging the exception, notifying the listener with a failed state?

[2015-02-25 11:48] jiangguilong2000 commented on #3319
@trustin @Scottmitch @bwzhang2011
I find a some point, thread named nioEventLoopGroup-X-XX  can't recycle any io.netty.util.Recycler$DefaultHandle,and then ,it increase peak to more and more DefaultHandles in the io.netty.util.Recycler$Stack,after some intervals.the DefaultHandles all recycles by following way：
  at io.netty.util.Recycler$DefaultHandle.recycle(Recycler.java:186) ~[game.jar:4.0.25.

[2015-02-25 16:55] nmittler commented on #3448
@Scottmitch I think we should just get away of everything related to stream "removal" and just have "closed" be the end state.

I think for now we can just use `connection.remove().lastStreamCreated()` ... this would maintain the current behavior.  We can look for a way of allowing the application to override this in the future, but I think that's beyond the scope here.  WDYT?

[2015-02-25 18:04] Scottmitch commented on #3448
@nmittler - I think we are mostly in agreement and we can work out the details in the PR.

This is not obvious to me yet. [onWindowUpdateRead](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionDecoder.java#L531) and [onRstStreamRead](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http

[2015-02-25 21:01] nmittler commented on #3448
@Scottmitch agreed, that's a good point.  Do you have any thoughts on what the API might look like?

[2015-02-25 21:29] Scottmitch commented on #3448
Hmm I can't really dig too deep yet but here is an option:

Add something like `int lastGoodStream()` to `Http2Connection.EndPoint` or `Http2Connection`. Then either:
1. just return `connection.remote().lastKnownStream()` from the default classes (extension point is  extend the class and override method). OR;
2. create an interface which can be extended (see below) and call this interface to do th

[2015-02-25 21:42] Scottmitch commented on #3448
We should also consider how to reconcile any potentially new interfaces with the stream id parameter on `Http2LifecycleManager.writeGoAway`, `Http2ConnectionHandler.writeGoAway`, `DefaultHttp2ConnectionEncoder.writeGoAway`, etc... Should we not allow a stream ID here, and just use the stream ID from this new interface?  Is there a more straightforward way to present this?

[2015-02-25 22:02] nmittler commented on #3448
That seems reasonable.  I might suggest some name changes (this can probably be improved as well):

[code]

[2015-02-25 22:28] Scottmitch commented on #3448
@nmittler - SGTM.  Should have added a caveat: names are for demo purposes only...use at your own risk ;)

[2015-02-25 22:38] nmittler commented on #3448
Ha! We should have that disclaimer on all of our .java files :)

[2015-02-27 02:40] buchgr opened #3450 "Endless recursion in DefaultPromise"
If the following conditions hold the `DefaultPromise` goes into endless recursion.

1 . The `DefaultPromise` is used with an `ImmediateEventExecutor`
2 . The `DefaultPromise` is completed.
3 . Within a listener another listener is added (aka LateListeners in DefaultPromise)

The line responsible for the endless recursion is ultimately https://github.com/netty/netty/blob/master/common/src/main/java

[2015-02-27 03:01] Scottmitch commented on #3450
Similar problem in https://github.com/netty/netty/pull/3392. Need to investigate but I was going to look into it. One suggedtion was for AbstractChannel.newPromise() to delegate to EventExecutor.

[2015-02-27 03:39] buchgr commented on #3450
I don't have a `Channel` and `EventExecutor` in my tests :-). Currently working around it with different Executor.

[2015-02-27 18:22] nmittler opened #3451 "Clean up HTTP/2 MAX_CONCURRENT_STREAMS logic"
There are several methods on `Http2Connection.Endpoint` that involve this parameter:

`acceptingNewStreams`
`createStream`
`reservePushStream`
`maxStreams` (getter and setter)

It is not always clear which direction the value applies to.  It's probably worth a pass to:

1) Make sure we're actually using it correctly in all places.
2) See if we can make the interface more clear as to the directiona

[2015-02-27 20:07] #3230 closed

[2015-02-27 20:24] ceeaspb opened #3455 "latency significantly worse in http://www.techempower.com/ benchmark 10 preview"
It could be the benchmark or netty....
The plaintext latency is significantly worse from round 9 to 10.
http://www.techempower.com/benchmarks/previews/round10/#section=data-r10&hw=peak&test=plaintext

May be of interest to review whilst it is in preview, before the final test is run.

[2015-02-27 20:30] normanmaurer commented on #3168
Fixed by  #3263

[2015-02-27 20:30] #3168 closed

[2015-02-28 04:50] trustin commented on #3455
Comparing to the round 9, the throughput has been increased from 2.7M reqs/sec to 3.8M reqs/sec, while the average latency has been increased from 233ms to 3460ms. Standard deviation has been increased by 2x, but II'm not sure if it is possible to get 10x worse average latency with 40% more throughput.  Thoughts?

[2015-02-28 14:54] normanmaurer commented on #3066
Fixed... sorry for the delay.

[2015-02-28 14:54] #3066 closed

[2015-02-28 17:11] JatinderSingh commented on #3455
@ceeaspb  Can we benchmark latency using https://github.com/LatencyUtils/LatencyUtils.
Latency does not follow normal distribution which makes averaging it out pointless.  This tool stores all values of latency and can help in visualizing the percentiles where latency starts increasing.

[2015-03-01 17:26] blucas opened #3457 "(Another) Invalid FileDescriptor causing infinite loop"
Netty version: 5.0.0-Alpha2-SNAPSHOT (28/02/2015 jar)

Attention: @normanmaurer
Related issue: #3443
Event Loop: Epoll ET (issue would also occur on LT)

Hi guys,
I've found another case whereby an Invalid file descriptor exception can occur, which triggers an endless loop of ```epollInReady()```calls.

The stack trace is exactly the same as in issue #3443 (if I could have re-opened that issue, I

[2015-03-01 17:57] normanmaurer commented on #3457
Thanks for reporting.... The fix should be different but will fix it asap

[2015-03-01 18:42] normanmaurer commented on #3457
Fixed

[2015-03-01 18:42] #3457 closed

[2015-03-02 03:36] catinred2 opened #3458 "Maven build error"
env:debian/x64
steps:
1.git clone repo
2.mvn compile

and I got this:

Exception in thread "main" java.lang.NoClassDefFoundError: org/eclipse/aether/RepositorySystemSession
	at kr.motd.maven.os.DetectExtension.injectSession(DetectExtension.java:115)
	at kr.motd.maven.os.DetectExtension.afterProjectsRead(DetectExtension.java:92)
	at org.apache.maven.DefaultMaven.doExecute(DefaultMaven.java:274)
	at

[2015-03-02 05:04] normanmaurer commented on #3458
@catinred2 you need maven >= 3.2.1.

[2015-03-02 05:04] #3458 closed

[2015-03-02 21:51] Scottmitch commented on #3451
@nmittler - Do you have any suggestions to improve clarity?  By `direction` do you mean local/remote? The only thing that may be tough is the Endpoint interface is agnostic to direction due to it serving as both remote/local.

[2015-03-02 22:10] nmittler commented on #3451
@Scottmitch I haven't put much thought into it yet :).  For push, we do clarify direction with the method name `endpoint.allowPushTo()`.  Perhaps something like `endpoint.maxConcurrentStreamsFromPeer()` or `endpoint.maxRemotelyInitiatedConcurrentStreams`?

This would more clearly map to the `SETTINGS_MAX_CONCURRENT_STREAM` parameter from the spec.  It would, however, invert our current logic which

[2015-03-02 22:50] angxu commented on #3445
I wrote an unit test that can reproduce this bug against HEAD.

[code]

Can someone please take a look? This is blocking us from adopting Netty 4 - which we are eagerly looking forward to because it looks all great otherwise.

Thanks!

[2015-03-03 08:43] dimitris01 opened #3459 "Latency between a writeAndFlush call and the actual data transportation."
I have a thread that writes and flashes, with a frequency of 10 Hz, a message of 92 bytes using a netty(4.1.0.Beta) DatagramChannel, bootstraped for multicast. Using wireshark I don't verify the desired result, since instead of one message per 100 ms, I see 10 (ten) messages, all send at the same time, every second. The content of the message contains the timestamp and I can verify that each messa

[2015-03-03 09:09] trustin commented on #3459
That's not an expected behavior. Could you share the reproducer?

[2015-03-03 09:38] normanmaurer commented on #3459
I wonder if this is for OIO and id the SO_TIMEOUT..

[2015-03-03 09:42] dimitris01 commented on #3459
Yes I have to use OioEventLoopGroup and OioDatagramChannel, because our java version <1.7. Is there a way to fix this without going to java 1.7?

[2015-03-03 09:53] normanmaurer commented on #3459
Do you need multicast? everything else should work with NIO even < java7

[2015-03-03 10:00] dimitris01 commented on #3459
I have to use multicast, since it is required. By the way how can I use NIO with java < 7, because I always have runtime errors

Date: Tue, 3 Mar 2015 01:54:27 -0800
From: notifications@github.com
To: netty@noreply.github.com
CC: djdimakos@hotmail.com
Subject: Re: [netty] Latency between a writeAndFlush call and the actual data transportation. (#3459)

Do you need multicast? everything else should

[2015-03-03 10:02] trustin commented on #3445
@angxu #3460 should fix this problem.

[2015-03-03 10:04] trustin commented on #3459
It's the limitation of OIO transport. I don't have a good idea to fix it.

[2015-03-03 17:00] Scottmitch commented on #3451
@nmittler - Seems a bit overloaded/confusing if the `remote` (or `local`) endpoint has a `remote` method.  In this context it already takes a second to get oriented when the "local" settings uses the "remote" endpoint's `maxStreams` [here](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionDecoder.java#L146)...and if we add more

[2015-03-03 18:51] daschl commented on #3455
I bet if they cap the throughput at ~3M req/s you'll see the same percentiles. As @JatinderSingh  pointed out, averages and std. deviation on latency benchmarks are a joke. Only percentiles and max'es count at a specific throughput.

[2015-03-03 18:53] nmittler commented on #3451
@Scottmitch yes, the idea would be to invert the relationship so that the "local" settings use the local endpoint for everything. I think this would help to make things more clear for everyone wading through that code.

Naming is always tricky and I agree with all of your comments.  Suggestions are definitely welcome! :)

[2015-03-03 21:13] Scottmitch commented on #3451
@nmittler - Ok thanks for clarifying.  I think I understand the scope of your suggestion...thought we were just changing names and keeping existing structure.  Sounds like we are in agreement...I will think on it.

[2015-03-04 06:56] JatinderSingh commented on #3455
I use a mod of wrk (https://github.com/giltene/wrk2) which is integrated with above tool to measure latency percentiles, It provides option to cap the throughput and measure latency. I guess it might help in comparing frameworks.

[2015-03-04 07:44] dimitris01 commented on #3459
Ok, thanks for the response. I will try java 7 for multicast.

[2015-03-04 07:44] #3459 closed

[2015-03-04 08:44] hepin1989 commented on #3328
@normanmaurer
after I try netty4.1.0-beta4 with native transport epoll netty4.1.0-beta4 at centos with
[code]
can not get the localAddress and remoteAddress ,witch just return null.
but it's OK on my desktop.
with ```
Linux kerr 3.13.0-35-generic #62-Ubuntu SMP Fri Aug 15 01:58:42 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[code]

[2015-03-04 08:48] mingfai opened #3462 "Memory leak when multiple network interface is used"
I have a netty server that accept connections and broadcast messages to clients. The server listens to 0.0.0.0 . Recently, I realize when there are connections from both 127.0.0.1 and the server's IP address, there are serious memory leak and basically every outgoing Direct ByteBuffer were strongly referenced and cannot be gc'd. When only one network interface is used, there is no such problem.

T

[2015-03-04 08:50] normanmaurer commented on #3328
@hepin1989 that's strange... can you tell me more about the centos host.. like exact centos version, java version, ipv4 or ipvv6 etc.

[2015-03-04 09:22] normanmaurer commented on #2933
Released

[2015-03-04 09:22] #2933 closed

[2015-03-04 11:49] normanmaurer commented on #3328
@hepin1989 also a simple reproducer which works on one and fails on the other would help a lot :)

[2015-03-04 12:06] hepin1989 commented on #3328
It's CentOS release 6.3 (Final), java version "1.8.0_25",IPv4.
I am tracking it.

[2015-03-04 13:12] hepin1989 commented on #3328
@normanmaurer
the problem is that
[code]
when call ```channel.localAddress()``` after the channel is connected to the remote port.which just return null.we could read the ```channel.remoteAddress()```.but not the ```localAddress()```

[2015-03-04 13:13] normanmaurer commented on #3328
@hepin1989 so remote works but local sometimes not. right ?

[2015-03-04 13:22] hepin1989 commented on #3328
@normanmaurer yes,that's it.

[2015-03-04 13:23] normanmaurer commented on #3328
@hepin1989 will check. Thanks!

[2015-03-04 14:48] normanmaurer opened #3463 "EpollSocketChannel.localAddress() returns always null if Native.connect() was not able to connect directly"
See:
https://github.com/netty/netty/issues/3328#issuecomment-77117377

[2015-03-04 14:51] normanmaurer commented on #3463
This Regression was introduce by myself (sigh) : https://github.com/netty/netty/commit/b898bdda846a4cc4ae5d6261406b138f5393d018

[2015-03-04 16:02] Scottmitch commented on #3462
@mingfai - Thanks for reaching out and reporting this issue.  Do you observe this problem only when these 2 connections are present?  For example if you have 2 connections from other interfaces is the problem still present?  Is there an interesting combination of 2 connections that isn't exactly what you reported where the issue still exists?

[2015-03-04 19:03] #3445 closed

[2015-03-04 19:07] normanmaurer commented on #3463
Fixed... /cc @hepin1989

[2015-03-04 19:07] #3463 closed

[2015-03-04 19:42] hepin1989 commented on #3463
btw,I notice that when this issue occur,It was connect to the localhost address.
Like 10.11.0.147 try to connect to 10.11.0.147.
I will try the snapshort tomorrow.

[2015-03-05 02:06] aaronriekenberg opened #3464 "Netty 4.0.26: no channelUnregistered callback for failed connection"
With 4.0.25 and earlier, if initiating a client connection to the server fails I get SimpleChannelInboundHandler.channelRegistered called when the channel is created, then SimpleChannelInboundHandler.channelUnregistered is called because the connect fails.

With 4.0.26, if initiating a client connection to the server fails I get SimpleChannelInboundHandler.channelRegistered called when the channel

[2015-03-05 02:28] mingfai commented on #3462
@Scottmitch there are two connections from remote and one connection to the loopback address.

With further investigation, my initial assessment that suggest using two different interfaces is may probably be wrong. instead, the non-loopback interface is busy and not able to flush the bytes to the network fast enough. by not to use the loopback address and also reduce network activity the leak seem

[2015-03-05 06:18] trustin commented on #3464
Fixed in 5d15e18 (4.0), 068132f (4.1), e9d1aa2 (master)

[2015-03-05 06:18] #3464 closed

[2015-03-05 06:18] trustin commented on #3464
Thanks for reporting, @aaronriekenberg!

[2015-03-05 06:36] trustin commented on #859
https://github.com/jpinner/http2

[2015-03-06 02:03] virtman opened #3466 "Netty 3.9.6 > 3.10.0 degradation in AbstractChannel/AbstractNioChannel"
Hello,

just got crazy last days when trying to understand why my program stopped to shovel data correctly between two nio tcp channels.
It may be reproduced with actual HexDumpProxyInboundHandler example +  some webserver supporting multi part serving to start part downloads parallely + try to downlod some big file with download manager.
I tried to download 500mb big file with Downalod Manager vi

[2015-03-06 05:00] noclayto commented on #249
:+1:

[2015-03-06 05:20] rxin opened #3467 "Add more inline documentation/comment for PooledByteBufAllocator/PoolArena/PoolChunkList"
Netty internals are in general very well documented (one of the best I've seen). However, the aforementioned 3 classes barely have any comment. Would be great to improve them.

[2015-03-06 05:25] normanmaurer commented on #3467
@trustin as you wrote most of it maybe something for you :) ?

[2015-03-06 05:33] trustin commented on #3467
@normanmaurer Sure. It's basically an implementation of jemalloc + some optimization, but yeah, I can add some comments.

[2015-03-06 06:09] normanmaurer commented on #3467
@trustin thanks buddy!

[2015-03-06 18:48] normanmaurer opened #3468 "Use epoll_ctl_batch(...) if avaible for batch update ops."
epoll_ctl_batch(...) can be used to batch update ops in new kernels. This will allow us to update everything after each event processing in the EventLoop. This can make a big difference when we need to touch a lot of channels, for example when enable/disable auto-read
https://lwn.net/Articles/633422/

[2015-03-06 18:49] Scottmitch commented on #3468
+1. Good find!

[2015-03-06 19:02] nmittler opened #3469 "Rename HTTP/2 Stream methods indicating writability"
The remoteSideOpen() and localSideOpen() are a little confusing.  It would be clearer to have isWritable and isReadable.

[2015-03-07 02:30] chzhuo opened #3470 "When Channel connect failure,Channelbecome invalid;"
when Channel connect failure,Channel should give a method to replace the socket,not replace Channel.

[2015-03-07 02:43] buchgr commented on #3469
+1

[2015-03-07 04:07] rockagen commented on #3470
I think that's not a good idea.

[2015-03-07 07:25] normanmaurer commented on #3470
Same here... Can you explain why you think it makes sense?

[2015-03-07 19:27] normanmaurer commented on #3466
@virtman could you please submit a reproducer that shows the problem ?

[2015-03-07 19:28] normanmaurer commented on #3462
@mingfai also if you could share the heap dump and / or provide a reproducer it would be easier to help. Thanks!

[2015-03-07 19:30] normanmaurer commented on #3449
@tbocek the problem is that this would not full-fill the contract that the listeners will be notified with the EventLoops thread. Maybe what we should do is throw an IllegalStateException on addListener(...)

@trustin wdyt ?

[2015-03-08 12:41] virtman commented on #3466
Just question since I am not familiar with, what kind of reproducer do you want, because no exception gets thrown, the stream just stops and gets unwritable for webserver..
Or do you want compiled version of HexDumpProxyInboundHandler from 3.10.0?

[2015-03-08 13:49] tbocek commented on #3449
@normanmaurer I don't mind if the listener is called or an exception thrown. Currently, the call is silently (ok, there is logging) dropped and any kind of feedback to the API user where the API user can react on it would be good.

[2015-03-08 15:13] virtman commented on #3466
[URL=http://www.file-upload.net/download-10392766/error_reproducer.zip.html]error_reproducer.zip[/URL]
I have also uploaded full archive with reproducer.
It is already precompiled, but you can compile it by your self, sources are available.
When you wish to compile or to start
Adjust path to jdk, actually preset
C:\Program Files (x86)\Java\jdk1.8.0_25\

The batch file 1_start.bat starts as two sep

[2015-03-08 23:58] unicomp21 opened #3474 "client side websocket doesn't work w/o sync()"

[2015-03-09 00:33] doom369 opened #3475 "Memory leak during high load. 4.0.25.final, 4.0.26.final."
Hi guys. First of all, thank you, for great project!
I think I found memory leak during my performance testing.

I launched a server on VM with 2 CPUs (Xeon E5-2660 2.20GHz) under Ubuntu 14.04.1 LTS with java 1.8.0_31. And started performing load testing from another machine.

Test scenario is pretty simple:
1) Create 100 pairs of channels (1 pair is app and hard channels);
2) In loop send message

[2015-03-09 03:40] trustin commented on #3475
Note that sending a message in Netty is asynchronous, which means you'll get `OutOfMemoryError` or the VM will enter GC spiral if you write many messages without making sure they are really sent out to the socket. `Thread.sleep(10)` is not a good idea because your write request can take more than 10 milliseconds.

[2015-03-09 03:41] trustin commented on #3474
No description provided.

[2015-03-09 03:41] #3474 closed

[2015-03-09 04:04] ngocdaothanh opened #3476 "Make TrafficCounter more general again"
About a change in Netty 4.0.25:

I'm writing a **UDP** packet sender and I need to control the number of packets per second to send out.

I'm using TrafficCounter to control the rate to create packets. This rate controller doesn't use Netty's handler pipeline architecture. It's just a normal Java thread that loops forever. It:
* Sends a packet.
* Asks TrafficCounter how much time it should sleep.

[2015-03-09 05:28] trustin commented on #3476
How about retaining the current behavior (disallow null handler) and adding a new constructor that does not require a handler parameter? That should make your life much easier.

[2015-03-09 06:21] trustin commented on #3476
See #3477

[2015-03-09 08:18] daschl commented on #3470
Same here, the problem is that this will render lots of handler events useless and ambiguous (like channel active and so forth), since you very often need to bind them to implicit socket events. I'm sure your use case can be handled with our current semantics as well :)

[2015-03-09 09:40] junjiemars opened #3478 "java.lang.IllegalAccessError in io.netty:netty-all:4.1.0.Beta4 on jdk1.6"
I'd the following issue (run HttpSnoopClient under jdk1.6):
[code]

on jdk1.8 it's ok, so what problem? need help.

[2015-03-09 09:43] doom369 commented on #3475
I understand it is asynchronous and what does that mean. But why memory never released after I stopped performing test?

[2015-03-09 10:32] ngocdaothanh commented on #3476
Thanks Trustin :+1:

[2015-03-09 10:32] #3476 closed

[2015-03-09 11:28] theiceguy opened #3479 "4.1.0.Beta5"
need a snapshot build

[2015-03-09 11:54] trustin commented on #3479
Not an issue really.

[2015-03-09 11:54] #3479 closed

[2015-03-09 12:15] trustin commented on #3475
OK. Then please:

- fix your test
- fix your leaks in your code (read [this](http://netty.io/wiki/reference-counted-objects.html))
- rerun your test with higher JVM max memory

.. so that I can make sure this is really a bug in Netty.

[2015-03-09 12:25] trustin commented on #3478
And your Netty version is? I guess it's 4.1, right?

[2015-03-09 12:26] trustin commented on #3478
IIRC, it's mainly because the default name resolver uses the API that's unavailable in Java 6. `InetSocketAddress.getHostString()`

[2015-03-09 12:44] doom369 commented on #3475
Trustin,

1. My test is correct. It consuming only few resources and has no problem with CPU, memory or software interrupts; If you want me to wait response from server after every write operation I'll be not able to make high load;
2. I profiled both server and clients and didn't find any memory leaks in my code. Moreover - all resource management is done by ReplayingDecoder and MessageToByteEnco

[2015-03-09 13:38] junjiemars commented on #3478
Yeath, the nettty version is 4.1.0.Beta4

[2015-03-09 15:40] doom369 commented on #3307
Hi, maybe it is too late. But yes, this is possible, but not simple enough. Here is my code :
[code]
and finally

[code]

[2015-03-10 02:17] trustin commented on #3307
@doom369 Thank you! It somehow slipped out.

[2015-03-10 02:17] #3307 closed

[2015-03-10 02:49] trustin commented on #3478
Fixed in 4aa10db9c5d6f5f8bd83f04b6fe9fc979752d92c (master) and 99c4043 (4.1)

[2015-03-10 02:49] #3478 closed

[2015-03-10 02:59] junjiemars commented on #3478
It's awesome.

[2015-03-10 03:03] trustin commented on #3475
Instead of sleep(10), you have to do this:

[code]

Also, your server-side decode has a leak. Are you sure it was not logged? Try to run at paranoid level.  Specifically, this has a leak:

[code]

`ByteBuf.readBytes(int)` returns a newly created buffer and thus you must release it. In this case, you could just use `readSlice(int)` because you do not need to release:

[code]

I didn't spent a lot o

[2015-03-10 03:05] trustin commented on #3470
No proper rationale

[2015-03-10 03:05] #3470 closed

[2015-03-10 03:08] trustin commented on #3449
I think it might be useful for users to specify some catch-all callback for rejected executions.  By default, we just log, and you could override that behavior.

[2015-03-10 03:12] trustin commented on #3449
@tbocek Interested in sending a pull request? It should be pretty straightforward:

* Add a dedicated listener interface that handles a rejected task + the default implementation.
* Add the getter/setter of the rejected task listener to `EventExecutorGroup` and implement them properly.

[2015-03-10 06:46] junjiemars commented on #2558
I'd the following maven output, after run: mvn -X -U clean package under the transport-native-epoll dir:
[code]

My Ubuntu box with Linux K27 3.2.0-69-generic-pae #103-Ubuntu SMP Tue Sep 2 05:15:53 UTC 2014 i686 i686 i686 GNU/Linux,
and netty branch is : 4.1,
needs help.

[2015-03-10 06:53] trustin commented on #2558
Please upgrade your Maven to the latest stable version. 3.0 is way too old.

[2015-03-10 06:55] junjiemars commented on #2558
mvn -version:
[code]

[2015-03-10 09:13] junjiemars commented on #3332
I'd same the problem, my env is
[code]

I try to compile transport-native-epoll, but got the following output:
[code]

[2015-03-10 10:24] normanmaurer commented on #2558
@junjiemars like @trustin said you need to upgrade. 3.2.1 or later works great

[2015-03-10 13:08] trustin commented on #3332
You need to build on 64-bit Linux, because we do not distribute the native library JARs for 32-bit operating systems. Are you sure you want to run Netty on 32-bit OS?

[2015-03-10 14:15] doom369 commented on #3475
Trustin,

before I read your message I tried 4.1.0.Beta4 version and run 10 hours long night test with 12k req/sec load. No leaks.

But, after applying proposed changes I switched back to 4.0.26.final and seems you're right. It was a memory leak in my code.

Thank you and sorry for taking your time.

[2015-03-10 14:15] #3475 closed

[2015-03-10 14:51] normanmaurer commented on #3475
@doom369 thanks for the feedback!

[2015-03-10 15:01] junjiemars commented on #2558
@normanmaurer yes, I'd upgraded to maven 3.2.x, the issue gone, but I can not resolve this [issue](https://github.com/netty/netty/issues/3332#issuecomment-78018290)

[2015-03-10 15:03] junjiemars commented on #3332
@trustin Oh, it really bad news, I just want to build/test it on developing box, then deploy it to 64bits box.

[2015-03-10 22:21] anfeng opened #3484 "epoll throws an "Invalid Argument" error in writev()"
I am using Netty 4.0.19.Final, and got the following exception when a server handler is writing a response buffer. Any suggestions?

18:09:41 2015-03-10 18:09:36,149 [epollEventLoopGroup-68-1] WARN  server.ServerHandler - Server 8080 got an exception:
18:09:41 java.io.IOException: Error while writev(...): Invalid argument
18:09:41 	at io.netty.channel.epoll.Native.writev(Native Method)
18:09:41 	a

[2015-03-10 22:23] normanmaurer commented on #3484
@anfeng please upgrade to 4.0.26.Final... The version you are using is quite old. If you still have problems reopen

[2015-03-10 22:23] #3484 closed

[2015-03-10 22:41] Scottmitch opened #3485 "Unify Promise interfaces"
The signatures don't line up between [AbstractChannel.newPromise](https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/channel/AbstractChannel.java#L292) and [EventExecutor.newPromise](https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/concurrent/EventExecutor.java#L79). Return type difference and no argument to take the channel into account. This

[2015-03-10 22:42] Scottmitch commented on #3485
PR https://github.com/netty/netty/pull/3392 would benefit from this.

[2015-03-10 23:42] Scottmitch commented on #3485
@trustin @louiscryan - FYI.

[2015-03-11 01:51] trustin commented on #3485
Assuming this will introduce some breaking changes, shoudn't it should be for 5.0?

[2015-03-11 01:51] normanmaurer commented on #3485
@trustin +1

[2015-03-11 06:04] junjiemars commented on #3332
@trustin I resolved io.netty:netty-tcnative:jar:linux-x86_32:1.1.32.Fork1 can not be found on 32-bit Linux,
1) git clone [netty-tcnative.git](git@github.com:netty/netty-tcnative.git)
2) run ```mvn -X compile```, it will be failed on 32-bit Linux
3) found the Makefile under the ./target/native-build, insert ```-DLARGEFILE64_SOURCE``` into ```CFLAGS``` section nearly 262 line
4) comment 2 <forceAuto

[2015-03-11 06:39] futurely opened #3486 "Fix the critical multithreaded correctness issues discovered by Clinker Sonarqube"
http://clinker.netty.io/sonar/drilldown/issues/io.netty:netty-parent:master?severity=CRITICAL

Multithreaded correctness - Inconsistent synchronization	7
Multithreaded correctness - Incorrect lazy initialization of static field	1

[2015-03-11 06:43] futurely opened #3487 "Remove the 13,058 duplicated lines of 545 duplicated blocks in 172 duplicated files"
http://clinker.netty.io/sonar/drilldown/measures/3670?highlight=duplicated_lines_density&metric=duplicated_lines

http://clinker.netty.io/sonar/drilldown/measures/3670?metric=duplicated_lines

http://clinker.netty.io/sonar/drilldown/measures/3670?metric=duplicated_blocks

http://clinker.netty.io/sonar/drilldown/measures/3670?metric=duplicated_files

[2015-03-11 16:12] Scottmitch commented on #3487
@futurely - We love pull requests :) Any interest in contributing a PR?

[2015-03-11 16:13] Scottmitch commented on #3486
@futurely - Thanks for bringing out attention to this.  @jpinner has already commented on these and indicated they were false positives.  @trustin - Is there any way to mark them as such in sonar?

[2015-03-11 16:30] futurely commented on #3487
I've no idea if the open source committee of my company would permit.

[2015-03-11 16:33] hepin1989 commented on #3487
you could send a pr in your free time :P

[2015-03-11 17:19] nmittler opened #3488 "Remove Frame class from DefaultHttp2RemoteFlowController."
The Frame now just contains the payload and doesn't maintain any other state.  To reduce GC pressure, we should probably discard this class and move it's methods to the FlowState.

[2015-03-12 02:35] trustin commented on #3486
I marked all but the `OpenSslEngine` one as false positives. @normanmaurer, could you confirm if it's a false positive or not?

[2015-03-12 02:38] normanmaurer commented on #3486
@trustin actually I think this one is fixed as part of https://github.com/netty/netty/pull/3481

[2015-03-12 02:45] trustin commented on #3332
@junjiemars Filed an issue for you: netty/netty-tcnative#29 Let's continue discussion there.

[2015-03-12 02:57] trustin commented on #3450
It's because you used `ImmediateExecutor`? :-)

DefaultPromise keeps the depth of the current call stack in a thread local variable, and if it exceeds a certain threshold, it will spawn a new `Runnable` so that the invocation continues at lower stack depth.  However, `ImmediateExecutor` is not a real executor, so the stack will overflow eventually. Where do you have to use `ImmediateExecutor`?

[2015-03-12 03:04] trustin commented on #3419
My guess is that the application loads Netty multiple times with different class loaders. To work around this problem, we could store the initial seed in a System property.  @mhgrove Could you confirm?

[2015-03-12 11:29] mhgrove commented on #3419
Sort of.  What the example output from the CLI from my previous message is doing is starting java on each invocation of the loop.  So, yes, each of those different invocations of java is a new Netty client & classloader.  But there's only a single classloader in any one invocation.

Where we've commonly noticed the issue is as shown where we're trying to put together some scripts that will get the

[2015-03-12 14:50] kubes opened #3490 "DefaultChannelId - Failed to find a usable hardware address on EC2"
Running 5.0.0.Alpha2 on EC2 I get the following warning:

WARN  DefaultChannelId - Failed to find a usable hardware address from the network interfaces; using random bytes: xxxxxxxxxxxxxxx

The system has two network interfaces:

eth0      Link encap:Ethernet  HWaddr 22:00:0B:7A:47:BD
          inet addr:10.61.194.198  Bcast:10.61.194.255  Mask:255.255.255.0
          inet6 addr: fe80::2000:bff:fe

[2015-03-12 16:09] Scottmitch commented on #3488
+1.  Thanks @buchgr for taking this one on!

[2015-03-12 21:48] nmittler commented on #3451
@Scottmitch @buchgr here are my proposed changes to the `Endpoint` interface:

`createStream` (no change)

`acceptingNewStreams` becomes `canCreateStream`, and is documented to say that it compares against the `maxConcurrentStreams` of the opposite endpoint.

`numActiveStreams` becomes `concurrentStreams` and is documented to say the number of concurrent streams created by this endpoint.

`maxStre

[2015-03-12 21:51] nmittler commented on #3488
@Scottmitch @normanmaurer shall I cherry-pick?

[2015-03-13 04:12] buchgr commented on #3450
@trustin I wanted to use it in a test, as I wanted listeners attached to the promise to execute immediately. I am not sure if this is worth fixing, however I would say ideally the `DefaultPromise` should work with any kind of `EventExecutor`.

[2015-03-13 15:42] normanmaurer commented on #3490
@kubes sounds good... could you submit a PR ?

[2015-03-13 22:54] #3488 closed

[2015-03-14 16:11] nmittler commented on #3451
@Scottmitch any thoughts on this?  I think this change may be less controversial than the #3491 :)

[2015-03-14 17:54] Scottmitch commented on #3451
@nmittler - I'm sorry for the delay :(  +1 to your most recent suggestions.

[2015-03-16 15:38] Scottmitch opened #3500 "Use java requireNotNull instead of netty's checkNotNull"
Netty's [checkNotNull](https://github.com/netty/netty/blob/master/common/src/main/java/io/netty/util/internal/ObjectUtil.java#L29) method is a duplicate of java's [requireNonNull](http://docs.oracle.com/javase/7/docs/api/java/util/Objects.html#requireNonNull(T,%20java.lang.String)) provided by jdk7.  We should use the JDK method instead of duplicating functionality.

[2015-03-16 15:51] nmittler commented on #3500
+1!

[2015-03-16 16:19] nmittler opened #3501 "Investigate exception handling WRT Http2Connection.Listener notifications"
We should take a closer look at how we notify the listeners of connection events and consider the proper course of action if a listener callback throws.

[2015-03-16 16:22] normanmaurer commented on #3500
@Scottmitch @nmittler just be sure we need to keep java 6 and 7 for netty 4.0 an 4.1

[2015-03-16 17:07] Scottmitch commented on #3501
+1. Thanks for reporting!

[2015-03-16 17:14] Scottmitch commented on #3500
@normanmaurer - Good point...that is more painful.

[2015-03-16 17:17] #3451 closed

[2015-03-16 18:29] nmittler commented on #2512
@trustin @normanmaurer is there any action that I can take on this currently? And if so, will it be backward compatible with 4.1?

[2015-03-16 19:03] nmittler commented on #3448
@Scottmitch I'm just getting back to this.  I think in general, we can get away with removing streams as we close them. In all the inbound frame handler methods, we could more-or-less ignore frames for streams that have been closed (i.e. existing-and-closed or the streamId <= `lastKnownStream` created by either `Endpoint`).

We could be more picky and maintain some history of streamIds for which w

[2015-03-17 05:57] trustin commented on #2512
@nmittler The thing is `InternalLogger` and `InternalLogLevel` are internal API and thus a user or an example should not use and should not be exposed to them.  My suggestion was to use `LogLevel` in the `io.netty.handler.logging` package instead and let user pass the name of the logger instead of `InternalLogger`, but I'm fine if there's a better idea.

[2015-03-17 06:05] Scottmitch opened #3503 "http/2 headers updates discussion"
1. Investigation is needed into the usage of the `String` class with respect to headers.  For example [sensitiveHeaders](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2HeadersEncoder.java#L41) is using `String` but may be better off using `AsciiString`.

2. It may be best to provide an interface to determine if the header should be `se

[2015-03-17 06:05] Scottmitch commented on #3503
@nmittler - FYI

[2015-03-17 06:30] Scottmitch commented on #3448
+1. Yes seems reasonable to me.

Perhaps we don't maintain history by default....but it may be worth it to provide an interface which supports this?  Kinda like we have today....humm

Yes this may be problematic.  Lets handle this as a separate issue.  I think we need to think about this because `WINDOW_UPDATES` are only accepted for a `short period after a DATA or HEADERS frame containing an END_

[2015-03-17 07:59] petardp opened #3504 "Privacy violation in io.netty.handler.codec.socks.SocksAuthRequest"
There are two places in the SocksAuthRequest constructor where an IllegalArgumentException is thrown with a password as part of the exception message.
This constitutes mishandling of confidential information, which can compromise user privacy and is flagged as critical by security scanners.

[2015-03-17 08:26] trustin commented on #3504
Thanks for reporting. Fix has been pushed to all affected latest branches:

faf1d90 (3.10), 9091e66 (4.0), 1d061bb (4.1)

Please note the new `socksx` package is not affected by this issue.  Please consider migrating to `socksx`.

[2015-03-17 08:26] #3504 closed

[2015-03-17 11:19] petardp commented on #3504
Thanks for the quick fix!

[2015-03-17 15:46] mhgrove commented on #3419
We've noticed that setting the system property `-Djava.security.egd=file:/dev/./urandom` seems to resolve the issue, or at least, makes it much less likely to occur

[2015-03-17 16:08] nmittler commented on #3448
It seems reasonable to me that we always except WINDOW_UPDATES for streams that are still in the priority tree.  Assume stream A is closed and has children B and C. If we receive a `WINDOW_UPDATE` for A, I would expect it to still impact the data written for B and C. After  B and C are closed (and removed), we can then remove A. From that point forward we ignore WINDOW_UPDATES for stream A.

[2015-03-17 16:39] Scottmitch commented on #3448
I agree.  However the specification may not allow sending of WINDOW_UPDATES in these states.  Just need to think about this I guess....

[2015-03-17 17:54] rkapsi opened #3507 "Future of EventLoopGroup#shutdownGracefully() does't get notified."
Netty version: 4.1.0.Beta4+5-SNAPSHOT

The Future returned by EventLoopGroup#shutdownGracefully() seems to never get notified (i.e. listeners never fire) and blocks indefinitely on the Future#get() call.

This used to work in Netty 4.0.

[code]

[2015-03-17 18:59] Climax777 commented on #1759
Perhaps what would satisfy this problem is having an optional periodic flush? But please enlighten me, why is it necessary to flush the channel? Does the internal socket implementation rely on external flushing to pass data to the transport layer? Most (if not all) network stacks rely on buffers internally and use algorithms such as nagle to improve batch sending.

Coming from C++ with boost's asi

[2015-03-17 19:07] stepancheg commented on #1759
@Climax777 `write` call just enqueues message in process memory, and `flush` is an operation that does `send` syscall.

BTW, better name for `write` could be `enqueue` and better name for `flush` could be `write`.

[2015-03-17 19:19] Climax777 commented on #1759
Thanks for clarifying @stepancheg

I would suggest a periodic flusher, with a selectable period.

[2015-03-17 19:50] stepancheg commented on #1759
@Climax777 periodic flusher is unsuitable for the most tasks: it either flushes too rarely, or consumes too much CPU.

[2015-03-17 19:59] etaty commented on #1759
We can make a nagle in netty.
We need to know when the OS has flushed (or ready for more data),
so we can send the next batch of data to be flushed
or raise a flag telling that we can writeFlush next time

[2015-03-17 20:13] stepancheg commented on #1759
@etaty you seems not to understand the issue.

The problem is that if user quickly calls `writeAndFlush` several times when network buffer is full, and then after socket is available for writing, netty will call `send` syscall several times instead of filling the buffer and calling `send` once.

It is unrelated to nagle. It is about sending the whole queue in single batch instead of sending with m

[2015-03-17 20:17] Climax777 commented on #1759
If not a periodic flushing task, what about defining thresholds? Perhaps
flush when the queue reaches a certain limit? Perhaps even a combination?
Actually I think this should be done on application level. Netty won't be
able to get it right for all use cases in my opinion.

On Tue, Mar 17, 2015 at 10:13 PM Stepan Koltsov <notifications@github.com>
wrote:

[2015-03-17 20:28] stepancheg commented on #1759
@Climax777

Problem with threshold, if is that if you network traffic is not constant, then some messages may hang in the queue indefinitely.

Please explain drawbacks of solution I proposed.

[2015-03-17 20:46] Climax777 commented on #1759
@stepancheg I've been looking at your repository. It seems you're onto something here. Your solution will guarantee that all writes sent before the scheduler starts running the flush task, will get flushed with once. That includes calls from different concurrent threads?

Also just a question, the listener you add to the write future, does it get called after flushing or after queuing in netty (I

[2015-03-17 20:47] rkapsi commented on #3507
It seems I'm not waiting for long enough.

[2015-03-17 20:47] #3507 closed

[2015-03-17 21:59] #2512 closed

[2015-03-17 22:04] stepancheg commented on #1759
@Climax777

Yes. With one `send` syscall to be correct.

Better implementation could flush when chunks reach like 64k to avoid excessive memory allocations on network stalls.

Sorry, I don't remember, and don't have and IDE right now to look.

[2015-03-18 07:10] trustin commented on #3419
I see. Netty tries to get the initial seed uniquifier from /dev/random via `SecureRandom`. We see the timeout warning because /dev/random can block for indefinite amount of time when there are not enough entrophy in the system.

Instead of using `-Djava.security.egd` option, I'd like to recommend using the `-Dio.netty.initialSeedUniquifier` option so that other parts of your code that uses `Secure

[2015-03-18 07:11] trustin commented on #3419
One thing to discuss is, should we use `SecureRandom` really? Perhaps we could get the pseudo-random data from `/dev/urandom` or use `nanoTime()` if `/dev/urandom` is unavailable.

[2015-03-18 07:12] trustin commented on #3419
I'm fine with pulling the random value from `/dev/urandom` and `System.nanoTime()`. What do you think, @normanmaurer ?

[2015-03-18 07:37] trustin commented on #3500
We can still do think for master. :-)

[2015-03-18 16:39] Scottmitch commented on #3418
I am reviewing the draft 17 specification.  There are a few changes to the spec which appear to be made for clerical purposes but may have unintended implications.  I have opened issues on the http2-spec to get more clarity.
https://github.com/http2/http2-spec/issues/726
https://github.com/http2/http2-spec/issues/727
https://github.com/http2/http2-spec/issues/730

[2015-03-18 16:44] nmittler commented on #3418
@Scottmitch great work ... thanks for doing this!

[2015-03-18 18:00] jiangguilong2000 opened #3511 "how to avoid direct memory peak up and channel isWritable =false"
I find the  direct memory peak up whenthe channel's isWritable attribute is false, and I continue to send message using this channel.and the message can't sent at once.
I send message using as follows:channel.writeAndFlush(msg);
my question is how to avoid that the channel change to isWritable =false status,
whether I need to use write some messages and at last use flush to send message  at regula

[2015-03-18 18:07] Scottmitch commented on #3418
@nmittler - What are your thoughts on the following addition in [section 8.2](https://tools.ietf.org/html/draft-ietf-httpbis-http2-17#section-8.2):

   which the server is authoritative (see Section 10.1).  A client MUST
   treat a PUSH_PROMISE for which the server is not authoritative as a
   stream error (Section 5.4.2) of type PROTOCOL_ERROR.

Should we be providing an additional interface used

[2015-03-18 18:29] Scottmitch commented on #3511
What transport protocol are you using?  If the channel is not writable for TCP this can mean you are writing faster than your peer is consuming the data.  If this is the case then you may not be able to avoid the change in channel writability because it is not directly under your control, but instead is a function of your peer (and maybe networking/environment conditions).  You instead may want to

[2015-03-18 18:41] jiangguilong2000 commented on #3511
@Scottmitch  TCP   transport protocol

[2015-03-18 18:55] Scottmitch commented on #3511
Does my previous comment make sense?  Do you think that you are sending faster than the peer can consume, and then as a result allocating more buffers because they are not being sent immediately, and eventually you get backed up and start running out of memory (aka back pressure).

[2015-03-18 19:11] nmittler commented on #3418
+1 for a simple interface.  Something like:

[code]

And they provide a default that always allows the authority.

I suppose we could do something similar for cacheability, but let's leave it as-is for now.

WDYT?

[2015-03-18 20:46] Scottmitch commented on #3418
@nmittler - Yes I like making it explicit...comments are too easy to miss.

[2015-03-19 13:25] kenro commented on #3511
@Scottmitch, I also meet the same problem.  I need send a lot of message . and wait some time .  when I send too much, its memory will become larger and larger . when the client closed, the memory is still large.

[2015-03-19 13:26] kenro commented on #3511
@Scottmitch, I also meet the same problem.  I need send a lot of message . and wait some time .  when I send too much, its memory will become larger and larger . when the client closed, the memory is still large.

[2015-03-19 17:24] Scottmitch commented on #3503
@jpinner - Perhaps we can chat offline but I am wondering what your use case for  https://github.com/twitter/hpack is and if for example you would be open to the idea of allowing the interfaces to be more friendly to Netty :) (using ByteBuf, etc...). @nmittler - I'm assuming if there is a discussion you would also be interested?

[2015-03-19 17:47] nmittler commented on #3503
@louiscryan may also be interested

+1 it would be great to support `ByteBuf`

[2015-03-19 22:48] louiscryan commented on #3503
interfaces would be useful for a number of reasons though we might need a more refined interface than just bytebuf. A good start would be to get some JMH benchmarks written up for hpack to exercise it

[2015-03-19 22:52] Scottmitch commented on #3048
We should also be able to avoid `verifyPrefaceReceived` in each `onXXXRead` with this change too.

[2015-03-20 00:53] Scottmitch opened #3515 "backport http/2 codec to 4.0"
I am exploring back porting codec-http2 to the ~~4.1~~ 4.0 branch.

[2015-03-20 00:56] Scottmitch commented on #3515
@trustin - Areas I see trouble are the headers, compression stuff, and some other http codec hooks.  Any guidance.  I'm of the mindset to deprecate interfaces in an effort to use more of the "newer" stuff.  Any guidance, suggestions, recommendations, or things you don't want to see?

[2015-03-20 01:19] jpinner commented on #3515
@Scottmitch mostly an FYI -- finally got around to updating the version we used internally at Twitter for 4.0 -- of note is the 'StreamedHttpMessage' interface -- https://github.com/jpinner/http2

[2015-03-20 01:56] kenro commented on #3511
@Scottmitch, I also meet the same problem.  I need send a lot of message . and wait some time .  when I send too much, its memory will become larger and larger . when the client closed, the memory is still large.

[2015-03-20 01:57] kenro commented on #3511
@Scottmitch, I also meet the same problem.  I need send a lot of message . and wait some time .  when I send too much, its memory will become larger and larger . when the client closed, the memory is still large.

[2015-03-20 02:25] buchgr opened #3517 "DefaultHttp2ConnectionEncoder.writePriority is broken."
If trying to change the priority of a stream that has been closed and removed ("http2 gced") already, the `DefaultHttp2ConnectionEncoder.writePriority(...)` method will attempt to create a new stream and fail, because the stream id will be smaller than the next expected stream id.

I don't have the time right now to think of a good way to fix this, as I also expect that this might have to come wit

[2015-03-20 04:23] normanmaurer commented on #3515
@Scottmitch I think you mean 4.0 ;) /cc @trustin

[2015-03-20 05:17] Scottmitch commented on #3515
@normanmaurer - Yip...typo corrected.

[2015-03-20 06:34] Scottmitch opened #3518 "HTTP/2 Priority Tree Management"
We are currently removing streams from the priority tree as they are closed (maybe subject to a stream removal policy which is being removed as part of https://github.com/netty/netty/issues/3448).  However we should not remove streams from the priority tree at least until they have no dependencies which are in states eligible for data transfer (i.e. OPEN, HALF_CLOSED, ...), or may be eligible for

[2015-03-20 06:34] Scottmitch commented on #3448
Created new issue for the priority tree management https://github.com/netty/netty/issues/3518.

[2015-03-20 06:34] Scottmitch commented on #3518
@nmittler - FYI.

[2015-03-20 06:47] buchgr commented on #3448
ahh there is already an issue for this, I was thinking about opening one myself this afternoon :-). +1

[2015-03-20 07:35] Scottmitch commented on #3517
@buchgr - Thanks for reporting! Care to elaborate on the bigger changes you anticipate?  This may depend on the resolution of https://github.com/netty/netty/issues/3518 but I'm hoping we can just write the frame and not create the stream (not track in priority tree).

[2015-03-20 07:36] Scottmitch commented on #3518
We associate priority with the flow control window.  Therefore we rely on both peers sharing a common view of the priority tree.  However there seems to be some confusion (on my part or in the spec) with how to provide feedback when we don't accept a priority frame.  We can't rely upon sending a RST_STREAM to the other end because in [section 5.1](https://tools.ietf.org/html/draft-ietf-httpbis-htt

[2015-03-20 07:41] Scottmitch commented on #3511
You can use the `WRITE_BUFFER_HIGH_WATER_MARK` and `WRITE_BUFFER_LOW_WATER_MARK` to control when `isWritable()` and `channelWritabilityChanged(..)` change.  If the data being sent to these peers is being generated off a socket (or something read on a netty event loop) you can also use `setAutoRead(false)` to stop reading automatically so you put the queueing on the transport instead of the applica

[2015-03-20 07:44] Scottmitch commented on #3363
@trustin - Marked these as false positives.  Closing.

[2015-03-20 07:44] #3363 closed

[2015-03-20 07:45] Scottmitch commented on #3258
My investigation didn't provide anything meaningful on linux for these....looks like it is not supported.

[2015-03-20 07:45] #3258 closed

[2015-03-20 07:57] Scottmitch commented on #3256
@trustin @normanmaurer - I can't remember my login credentials to the open JDK site (or if I even have one).  It looks like a few engineers are having trouble building netty, but I can't reach out to them to help.  Would you mind posting a link to this issue in the openjdk bug?

[2015-03-20 08:29] bwzhang2011 opened #3519 "HttpRequestDecoder decode() problem (rarely but occured)"
@normanmaurer , I encoutered httpRequestDecoder problem in my prod environment. here comes the stacktrace from the log (hope if you have spare time, please take a look and feed back) :

io.netty.handler.codec.DecoderException: HttpRequestDecoder.decode() did not read anything but decoded a message.
	at io.netty.handler.codec.ByteToMessageDecoder.callDecode(ByteToMessageDecoder.java:335)
	at io.net

[2015-03-20 14:56] nmittler commented on #3048
Just to update the original link, I think this is the line we're talking about: https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L397

@Scottmitch IIRC, this is actually how we used to have things arranged a while back, but it probably makes sense to consider looking at it again.  Were you thinking of putting a PR togethe

[2015-03-20 16:34] Scottmitch commented on #3048
@nmittler - Thanks for providing an updating link...code moved around a bunch :)

I can pull something together.

[2015-03-20 17:00] jiangguilong2000 commented on #3511
@scottmitch,sorry,I cant understand, can you show me a example code? thank you!

[2015-03-20 17:28] nmittler commented on #3517
@Scottmitch @buchgr some thoughts on this...

If the stream does not exist but MAY have existed, we could just ignore the parent altogether and re-prioritize the stream such that it has no parent.

Otherwise, we try to create the stream. If creating the parent fails in this case, it's a legitimate failure since we're trying to create a new stream that has not yet existed.

WDYT?

[2015-03-20 23:09] leogomes commented on #3515
+1 for this, but isn't 4.1 about to be released (i.e. final)?

[2015-03-20 23:15] md-5 opened #3522 "4.0.10-Final: CancelledKeyException"
I've got a user on a legacy version reporting this error:
![3cwgkcf](https://cloud.githubusercontent.com/assets/1007849/6762375/1b54bbfc-cfb3-11e4-8a2d-3044cd82d1a4.png)

I know the version is old and it may be fixed, but I'd appreciate a look be taken. Apparently it happens to many connections to the server simultaneously.

[2015-03-20 23:21] leogomes opened #3523 "HTTP/2 tiles example"
I've put together a Netty version of the [gophertiles](https://http2.golang.org/gophertiles?latency=0) HTTP/2 example here: https://github.com/leogomes/http2-netty. If you think it's worth adding this to Netty's examples set, let me know and I can prepare a PR.

Would also be nice if someone could host the example. I probably won't have time to set that up.

[2015-03-21 00:09] normanmaurer commented on #3522
Yeah its fixed

[2015-03-21 10:04] #3522 closed

[2015-03-21 10:04] md-5 commented on #3522
Alright, I might try a backport.

Any idea which version it was fixed in @normanmaurer ?

[2015-03-21 10:14] md-5 commented on #3522
Doesn't really matter, I've backported the 4.0.23 upgrade

[2015-03-21 15:09] normanmaurer commented on #3519
@bwzhang2011 please upgrade to 5.0.0.Alpha3-SNAPSHOT and re-open if it still persist

[2015-03-21 15:09] #3519 closed

[2015-03-22 01:13] Scottmitch commented on #3511
@jiangguilong2000 - Check out http://stackoverflow.com/questions/19720956/get-oom-exception-when-sending-message-with-a-high-speed-with-netty/19721250#19721250 and http://stackoverflow.com/questions/25281124/netty-4-high-and-low-write-watermarks.

[2015-03-23 05:54] bwzhang2011 commented on #3519
@normanmaurer, I did find the same log while upgraded to 5.0.0.Alpha3-SNAPSHOT and it occurred rarely.

[2015-03-23 12:40] normanmaurer commented on #3519
Any reproducer?

[2015-03-23 12:45] trustin commented on #3523
@nmittler @Scottmitch What do you think? Perhaps we could merge it into our HTTP/2 example?

[2015-03-23 12:49] normanmaurer commented on #3523
+1

[2015-03-23 12:58] trustin commented on #3256
@Scottmitch Do you know where I can sign up for an account? I'm not sure I have an account, but I don't seem to get any password reset messages.

[2015-03-23 12:58] leogomes commented on #3523
I've seen this morning that Akamai put on the same example to showcase HTTP/2: https://http2.akamai.com/demo

It would be nice to have one running for Netty, wouldn't it? Can't we run it on netty.io?

[2015-03-23 13:47] trustin commented on #3523
We currently rely on Github Pages to host the site, but yeah, it will be awesome if Netty serves netty.io. :-)

[2015-03-23 17:27] Scottmitch commented on #3256
@trustin - Yah I'm in the same boat...

@netty/contributors - Anyone have a openjdk account which they can login with?  I'm going to reach out to discuss@openjdk.java.net in the mean time to see if we can get someone's attention.

[2015-03-23 23:42] bwzhang2011 commented on #3519
@normanmaurer, like this(part of the pipeline):
// 压缩与否自动支持
pipeline.addLast(DEFLATOR_TAG,new HttpContentCompressor());

// http编码支持
pipeline.addLast(ENCODER_TAG,new HttpResponseEncoder());

// http解码支持
pipeline.addLast(DECODER_TAG,new HttpRequestDecoder());

[2015-03-24 05:56] hyangtack opened #3529 "When auto read is false, SslHandler should invoke Channel.read() if whole encrypted packets are not coming yet."
Netty version: 4.0.26.Final (auto read option is false)

I'm using Netty as HTTP/SPDY file server. My server turns off auto read option in order to control incoming request traffic.

I found that sometimes the final handler's channelRead() method was not called even it called Channel.read() before. It's caused by the following codes, when the whole encrypted packets didn't coming yet. SslHandler c

[2015-03-24 18:31] nmittler opened #3530 "Clean up use of builders in Http2ConnectionHandler"
Currently Http2ConnectionHandler takes builders for the encoder and decoder, which makes it difficult to decorate them.  We should look at getting rid of this.

[2015-03-24 19:26] ejona86 opened #3531 "SslContext construction is unwieldy"
SslContext construction is very unwieldy. 18 methods with up to 12 arguments, and all but 2 on server side are optional (so lots of nulls and zeros for some usages). It is also incompatible with helper methods (e.g., with reasonable HTTP/2 defaults), unless they too are as unwieldy.

Would it make sense for it to be a builder instead? Even if we needed separate builders for client and server, it w

[2015-03-24 22:32] Scottmitch commented on #3531
+1. SslContext is a beast that has grown to keep up with backwards compatibility.  There should be a better way :)

[2015-03-25 00:58] Scottmitch commented on #3048
@nmittler - I have a PR for this.  Notable changes:

1. `Http2ConnectionHandler` does not directly inherit from `ByteToMessageDecoder` and instead delegates the decoding to an internal member variable.  The actual instance is switched between a `pre initialed decoder` and a `post initialized decoder` depending on connection state (preface sent etc...).
2. [DefaultHttp2ConnectionDecoder.internalFra

[2015-03-25 02:18] timboudreau commented on #3247
Another report of this in [the netty google group](https://groups.google.com/forum/#!topic/netty/2yotqLsrUBY)

[2015-03-25 03:54] trustin commented on #3531
+1 :-)

[2015-03-25 06:13] normanmaurer commented on #3531
+1 ... Btw we love PRs ;)

[2015-03-25 06:38] ejona86 commented on #3531
Fresh off the presses, this is the sort of Builder I was imaging: https://github.com/ejona86/grpc-java/blob/netty-tls/netty/src/main/java/io/grpc/transport/netty/SslContexts.java . Yes, I'll need to replace the Preconditions and figure out which file it seems most appropriate.

I'll make a PR for it, but it will probably be Thursday/Friday before that happens.

[2015-03-25 06:41] ejona86 commented on #3531
I expect people will have opinions on whether to have two builders (one client, one server) and the overloading of keyManager/trustManager.

[2015-03-25 07:52] trustin commented on #3529
That's interesting. We thought we address this issue in 4.0.26. (See `AbstractChannelHandlerContext.fireChannelReadComplete()` calls `ctx.read()` automatically to prevent the stall like you mentioned.)

Would you mind if I ask you to write a simple reproducer?  You could take a look at `SocketSslEchoTest` and write something similar.

[2015-03-25 08:59] chzhuo opened #3533 "HELP! why log a warn when Channel connect failure . version:netty-4.0.26.Final"
version:netty-4.0.26.Final

when connect failure that not log anything in netty-4.0.25.Final.  But in netty-4.0.26.Final that will log warn "io.netty.channel.ChannelException: java.net.SocketException: Socket is closed".

I don't kown why and  how to shutdown  this warn.

![qq 20150325164907](https://cloud.githubusercontent.com/assets/10919124/6821021/3134359c-d30f-11e4-85fd-faca65fbd4ee.png)

[2015-03-25 09:01] trustin commented on #3533
I guess I have fixed this in 4.0.27.Final-SNAPSHOT. Could you try the snapshot build, @chzhuo ?

[2015-03-25 09:05] chzhuo commented on #3533
No,where is 4.0.27.Final-SNAPSHOT?   I think i need  come back to 4.0.25.Final

[2015-03-25 09:18] trustin commented on #3533
http://clinker.netty.io/jenkins/job/netty-oraclejdk7/branch/4.0/lastSuccessfulBuild/artifact/

[2015-03-25 10:28] WhiteTrashLord opened #3534 "Java 8"
You have already plans when you will make a new Netty version which requires Java 8 or newer?
Or it's very clear that all Netty versions will work with Java 7 for the next years?

[2015-03-25 16:05] Scottmitch commented on #3418
Draft changes have been cherry-picked. I'm going to open a separate issue for updating HPACK.

[2015-03-25 16:05] #3418 closed

[2015-03-25 16:07] Scottmitch opened #3535 "HPACK 12"
[HPACK-12](https://tools.ietf.org/html/draft-ietf-httpbis-header-compression-12) is out.

We should coordinate with https://github.com/twitter/hpack if necessary.

[2015-03-25 16:07] Scottmitch commented on #3418
See https://github.com/netty/netty/issues/3535 for HPACK updates.

[2015-03-25 16:14] Scottmitch commented on #3388
@louiscryan - Sounds good.  The PR https://github.com/netty/netty/pull/3392 provides the 2 highest profile frame writer methods.  This PR may also provide good building blocks for many of the other benchmarks.  Are you interested in submitting PRs?

[2015-03-25 16:49] Scottmitch commented on #3372
Benchmarking PR https://github.com/netty/netty/pull/3392 benchmarks the changes.

[2015-03-25 16:52] Scottmitch commented on #2947
This may not be needed if we are able to make twitter's HPACK more Netty friendly, or fork twitter's HPACK.  See https://github.com/netty/netty/issues/3503.

[2015-03-25 16:54] Scottmitch commented on #3515
Just an update on this...We are currently exploring just using 4.1 to avoid the downfalls of back porting and additional maintenance overhead this will introduce.

[2015-03-25 18:19] Scottmitch commented on #3518
I'm working on a PR for this.  I think I was confused in my late night thought process :)  The window of the individual node doesn't particularly matter because we are considering how much the whole subtree *wants* to send, and any individual node which is not eligible to send will not contribute to this number.

[2015-03-25 20:33] Scottmitch commented on #2861
This issue may be related to (and superseded by) issue https://github.com/netty/netty/issues/3448.

[2015-03-25 20:36] Scottmitch commented on #2909
@trustin @nmittler - If we do introduce an additional class `ByteString` into the hierarchy as discussed. Would this be eligible for 4.1 (assuming we can keep the external `AsciiString` interface the same)?  If so would we target this to before the 4.1 release?

[2015-03-25 20:37] Scottmitch commented on #2809
Updated code link: https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2HeadersDecoder.java#L70

[2015-03-25 22:28] Scottmitch commented on #3517
@nmittler - Can you clarify what ignoring the parent buys us and where that leaves us?  Seems like this would change the semantics of the method call.  I agree that for streams that MAY have previously existed (based upon `nextStreamId()` and `createdStreamId(...)`) we should handle this (at least not throw an error), and otherwise just propagate the error.  I'm trying to think of a way to avoid c

[2015-03-25 22:45] Scottmitch commented on #3531
@ejona86 - Care to submit this as a PR against 4.0?  It is easier to review that way.

[2015-03-25 23:10] Scottmitch opened #3536 "HTTP/2 write interface clarifications"
We should investigate clarifying the interfaces that have `writeXXX` in the name with respect to the return status they provide.  For example some `writeXXX` methods (i.e. `Http2ConnectionHandler`) return "success" even if nothing is actually written.  Should we clarify the interfaces to indicate the return status behavior.  I can think of a few approaches:

1. Do nothing...they are fine as is.
2.

[2015-03-25 23:10] Scottmitch commented on #3536
@nmittler @buchgr - FYI.

[2015-03-26 01:53] killerforfun commented on #3403
@blucas
Look at
[RepoIntro](https://maven.apache.org/guides/introduction/introduction-to-repositories.html)

Default central repo is specified in maven super pom:
[SuperPom](https://maven.apache.org/ref/3.0.4/maven-model-builder/super-pom.html)

So usage for sonatype is correct.

And if you look through first log - jar's downloaded only in single instance. Cause of version indifference between art

[2015-03-26 02:37] trustin commented on #2909
We didn't release the final version of 4.1 yet, so we are free from the changes.

[2015-03-26 02:43] trustin commented on #3515
+1 for 4.1. Porting to 4.0 is way too much work in my opinion.

[2015-03-26 02:50] trustin commented on #3534
I'm considering to bump the minimum requirement for Netty 5 from Java 6 to Java 8. Any objections? /cc @nmittler @normanmaurer @Scottmitch

[2015-03-26 03:11] trustin commented on #3256
@Scottmitch Yeah, I guess that's the way to go.

[2015-03-26 06:54] normanmaurer commented on #3534
+1

[2015-03-26 07:01] danbev commented on #3534
+1

torsdag 26 mars 2015 skrev Norman Maurer <notifications@github.com>:

[2015-03-26 07:06] hepin1989 commented on #3534
+1

[2015-03-26 07:11] normanmaurer commented on #2909
+1 let us just hurry up ;)

[2015-03-26 08:07] WhiteTrashLord commented on #3534
Let's set the minimum requirement for Netty 3 and 4 to Java 8 as well.
Fuck all the banks and insurance companies who don't like new technologies :D

[2015-03-26 08:36] normanmaurer commented on #3531
+1 ...

Just ensure you not break the API

[2015-03-26 09:20] timboudreau opened #3538 "Cookie should probably use AsciiString"
Updating Acteur for Netty 5, AsciiString is now heavily used.  However, Cookie and related classes still use String - it would be more intuitive for this to be consistent.

[2015-03-26 09:49] junjiemars commented on #3360
The good guide is better than nothing, but why we trying to use netty?:
more faster code, more cleaner API, more understandable/maintainable code, not just the better guides.
We need more practical oriented example code not just toy code for fine. Under the netty/example directory I can't   find the practical oriented code, so I can't diff
```sync or. syncUninterruptibly, PooledByteBufAllocator or

[2015-03-26 12:35] kyankovski opened #3539 "Netty 4.0.26 - java.io.IOException: syscall:read(...)() failed: Connection reset by peer"
We use netty as a high-load http-server with native linux epoll transport. I tried to update version from 4.0.23 to 4.0.26, but have got a lot of exceptions like this one (IP is hidden by me):

[2015-03-25 09:10:24,448] ERROR - .n.ChannelInboundHandler2ExchangeAdapter - exception when handling request from /54.xxx.xxx.xxx:63512
java.io.IOException: syscall:read(...)() failed: Connection reset by p

[2015-03-26 12:38] normanmaurer commented on #3539
Do you have a full stacktrace? Also do you have a reproducer which you can share?

[2015-03-26 12:40] normanmaurer commented on #3539
Also could you try 4.0.24 and 4.0.25 so we can get a better idea when this was introduced

[2015-03-26 12:55] kyankovski commented on #3539
We tried to investigate this exception on prod servers, caught it in debug mode in ChannelInboundHandler2ExchangeAdapter#exceptionCaught. The exception had no cause, exc.getStackTrace() returned an empty array, and line 151 of this class (logger.error(messageBuilder.toString(), throwable);) simple printed an exception above.

As I previously said, I can reproduce this exception locally (at least f

[2015-03-26 15:55] hyangtack commented on #3529
@trustin I read the codes you mentioned and found steps of this problem.

1. SslHandler decodes packets and call next.fireChannelRead()
 - At this time, invokeNextChannelRead of SslHandler context is true, and invokePrevRead is false.

2. The next handler handles channelRead() and call Channel.read() before returning it.
 - At this time, invokePrevRead of SslHandler context becomes true.

3. SslHa

[2015-03-26 17:51] Scottmitch commented on #3360
@junjiemars - If you feel you have some good examples to contribute please feel free to open a PR.  Things can always be approved and we appreciate all the help we can get :)

[2015-03-26 17:52] Scottmitch commented on #3531
@normanmaurer - I was thinking to deprecate existing SslContext interfaces in 4.0 and 4.1.  Then perhaps get rid of it in 5.0. WDYT?

[2015-03-26 17:54] normanmaurer commented on #3531
Yep sure as long as we not break stuff in 4.x

[2015-03-26 17:54] Scottmitch commented on #3534
@trustin - +1.  We may want to discus usages of Lambdas and other functional programming or address these in the style guide.

[2015-03-26 17:56] Scottmitch commented on #2909
@trustin - You took the assignment for this one a while back.  Do you still want to handle this?

@normanmaurer +1. The naming of `AsciiString` has already confused a few folks who are using the http/2 codec relative to how we are using it.

[2015-03-26 18:11] doom369 commented on #3534
Have in mind that lamdas may have some performance impact depending on you use it. See for instance http://www.oracle.com/technetwork/java/jvmls2013kuksen-2014088.pdf

[2015-03-26 18:34] Scottmitch commented on #3538
Sounds like a good idea.  Would you be interested in submitting a PR?

[2015-03-26 18:39] normanmaurer commented on #3360
+1

[2015-03-26 19:11] junjiemars opened #3540 "Why it slow? final Channel c = b.connect().sync().channel();"
Why my code slow, I wrote tiny app [NHttpClient](https://github.com/junjiemars/NHttpClient)
The env: ```Linux K27 3.2.0-69-generic-pae #103-Ubuntu SMP Tue Sep 2 05:15:53 UTC 2014 i686 i686 i686 GNU/Linux```

run it with ``` java -jar build/libs/NHttpClient-1.0.jar -p -d"Hello" -uhttp://cn.bing.com```
[code]

Blocked at ```final Channel c = b.connect().sync().channel();```
[code]

[2015-03-26 19:58] grossjonas commented on #3534
+1

[2015-03-26 20:07] Scottmitch commented on #3540
@junjiemars - Thanks for reaching out for help!  This github repository is primarily to report issues and feature requests.  If you would like support on using netty please use stackoverflow.com.  Other users  of netty may have the same questions as you and it is more likely they will find it on stackoverflow.  For this instance feel free to post a link to your question on stackoverflow but for fu

[2015-03-26 20:07] #3540 closed

[2015-03-26 20:54] junjiemars commented on #3540
@Scottmitch ok, thanks

[2015-03-26 21:52] #3360 closed

[2015-03-27 05:58] trustin commented on #2909
Assigning to you, @Scottmitch :-)

[2015-03-27 14:29] nmittler commented on #3518
ignored :)

[2015-03-27 14:30] nmittler commented on #2861
@Scottmitch yup, my thoughts exactly!

[2015-03-27 14:54] nmittler commented on #3517
@Scottmitch sorry I think I must have poorly communicated the thought, let me try again ...

Sending PRIORITY for a removed stream:
I wasn't suggesting that we create/add a new stream to simulate the removed stream.  Now that I think about it, this case can probably be simplified to essentially letting the receiving-side deal with it.  On the sending side, we should only create a new stream if it

[2015-03-27 14:56] nmittler commented on #3536
@Scottmitch What are your thoughts on how to rename the methods?

[2015-03-27 17:00] Scottmitch commented on #3517
@nmittler - Yes this is what I was originally hoping for :)  I don't want to get into the re-creating streams business.

[2015-03-27 18:40] Scottmitch commented on #3048
See PR #3542

[2015-03-27 20:05] Scottmitch commented on #2909
@trustin - humm wasn't aware that I just volunteered :)  I'll see if I have bandwidth for this...something tells me this one is going to hurt....

[2015-03-28 00:35] huguesb opened #3546 "3.9: AbstractNioChannel.WriteRequestQueue fires INTEREST_OPS event from wrong thread"
My understanding is that for NIO socket channels all upstream events should be fired from the io thread.

However it appears that `WriteRequestQueue.poll()` and `WriteRequestQueue.offer()` are both called from arbitrary threads and proceed to call `fireChannelInterestChanged` instead of checking `isIoThread` and calling `fireChannelInterestChangedLater` accordingly.

This causes race conditions in

[2015-03-28 04:17] trustin commented on #2909
Ah, I thought you were interested. Unassigning at the moment.

[2015-03-28 04:18] trustin commented on #2909
(Not that I'm uninterested. Just lack of time at the moment.0

[2015-03-28 07:46] timboudreau opened #3548 "Cannot subclass HttpHeaders and build with JDK 7 with maven build of 4.0.26.Final"
It seems the build of Netty 4.0.26.Final from Maven is built with JDK 8, which adds default methods to collections classes that reference classes that don't exist in JDK 7.  That's binary compatible, but not source compatible, as follows:

I am stuck with JDK 7 for a while longer (thanks @schue ) for Actuer.  As of Netty 4.0.26.Final my [build is broken](http://timboudreau.com/builds/job/mastfrog-

[2015-03-28 16:36] Scottmitch commented on #3548
@timboudreau - Thanks for reporting!

@normanmaurer - Building the releases from jdk7 sounds reasonable...WDYT?

[2015-03-28 18:42] Scottmitch commented on #2909
@trustin - Same mindset on my end.  Any one else have bandwidth?

[2015-03-28 19:22] nmittler opened #3550 "Avoid copying in DefaultHttp2RemoteFlowController"
We should identify all of the places in the flow controller that we're copying and try to eliminate/reduce the total amount of copying for each call to ~~`writePendingStreams`~~ `writePendingBytes`.

[2015-03-28 19:59] Scottmitch commented on #3550
@nmittler - Thanks for filing this!

[2015-03-28 20:00] Scottmitch commented on #3550
I'll take a stab at this after https://github.com/netty/netty/pull/3549 is pulled in.

[2015-03-28 20:49] Scottmitch commented on #3550
We should also investigate if maintaining a separate collection for the streams that have bytes allocated is worth it.  For example if the number of streams that have bytes allocated is small relative to the total number of active stream it may be beneficial to maintain a separate set that tracks which streams have allocations.

[2015-03-28 21:13] nmittler commented on #3550
+1

[2015-03-29 07:51] trustin commented on #3548
Sounds good to me. See the `restricted-release` profile to enforce JDK version when a release is made.

[2015-03-29 08:08] trustin commented on #3548
Should be fixed on 0222f412336f87909ff71494e5af8e2b221945da (4.0) and bdf0bddc8544666ce73b0e7e486ddccf214e79ef (4.1)

[2015-03-29 08:09] #3548 closed

[2015-03-29 08:10] trustin commented on #3548
Should be fixed on 0222f412336f87909ff71494e5af8e2b221945da (4.0) and bdf0bddc8544666ce73b0e7e486ddccf214e79ef (4.1)

[2015-03-29 11:16] doom369 opened #3551 "JVM crashes when closing server."
I have a shutdown hook on which I try to close netty server and sometimes during close() I'm getting JVM crashes.
[code]

Here is full crash log : https://www.dropbox.com/s/u47fzlnk2mj861n/hs_err_pid38261.log?dl=0
Close method : https://github.com/blynkkk/blynk-server/blob/master/server/tcp-server/src/main/java/cc/blynk/server/core/BaseServer.java#L63

Netty version - 4.0.26.Final

[2015-03-30 00:13] SubJunk commented on #3368
Any updates on this? :)

[2015-03-30 06:24] ThomasLau commented on #3523
cool,really impressive

[2015-03-30 07:03] bwzhang2011 opened #3552 "PoolThreadCache memory consumption ?"
When I dumped the process of the project in my production env, with the help of eclipse memory analyzer, I got some report as follows
![image](https://cloud.githubusercontent.com/assets/749788/6891384/295bc7e0-d6ed-11e4-988b-ec442921cc9c.png)

by the way, the ByteBufAllocator implementation is PartialPooledByteBufAllocator derived from vert.x written by normanmaurer. for the report, I've got to kn

[2015-03-30 14:37] nmittler commented on #3515
+1 for 4.1

[2015-03-30 14:45] nmittler commented on #3517
@Scottmitch is this resolved by #3544?

[2015-03-30 14:49] nmittler commented on #3503
@Scottmitch I think you have the benchmarks for twitter's hpack now ... can you summarize your findings in this issue?

[2015-03-30 15:39] normanmaurer commented on #3515
Ok then lets close this...

[2015-03-30 15:48] #3515 closed

[2015-03-30 15:48] Scottmitch commented on #3515
+1 for 4.1 :)

[2015-03-30 15:59] benmccann commented on #3515
Will there be another 4.1 beta release soon? Quite eager to use the HTTP 2 stuff, but need the latest code to be released

[2015-03-30 16:23] nmittler commented on #3469
Closing this since we decided to keep the current naming for the time being (in #3491)

[2015-03-30 16:23] #3469 closed

[2015-03-30 16:52] normanmaurer commented on #3551
@doom369 looks like a jdk bug... Can you try to upgrade your jdk version ?

[2015-03-30 16:54] normanmaurer commented on #3539
@kyankovski hmm... this is strange... I'm just not sure how to start trying to track this down atm without more infos :/

[2015-03-30 16:57] doom369 commented on #3551
@normanmaurer It a latest one =). 1.8.0_40.

[2015-03-30 17:04] normanmaurer commented on #3551
@doom369 then I think your best bet is to open a openjdk bug-report :/

[2015-03-30 17:09] doom369 commented on #3551
@normanmaurer look like you are right. Found exactly same issue https://bugs.openjdk.java.net/browse/JDK-8013062.

[2015-03-30 17:09] #3551 closed

[2015-03-30 17:47] Scottmitch commented on #3517
@nmittler +1.  Thanks!

[2015-03-30 17:47] #3517 closed

[2015-03-30 17:57] Scottmitch commented on #3523
@leogomes - This seems interesting!  I agree with @trustin a good first step would be to submit a PR integrating this into our examples.  We can then look at running it on netty.io.

[2015-03-30 18:22] #3530 closed

[2015-03-30 18:24] buchgr commented on #3517
@Scottmitch thanks!

[2015-03-30 18:31] Scottmitch commented on #3503
@nmittler @louiscryan - The results I collected from the benchmark can be viewed here: https://github.com/netty/netty/pull/3392#issuecomment-83735958. I think we could have a more comprehensive benchmark of the headers with the following:
1. The headers sizes were more or less "randomly" chosen. We should do some analysis of what are "representational" sizes of headers.  This includes how many nam

[2015-03-30 21:34] leogomes commented on #3523
Great, I will look into it by the end of week and will fit everything into Netty's examples. I'm a bit busy right now.

[2015-03-31 02:09] trustin commented on #3552
It doesn't look like a leak from a glance. You might want to specify the following system properties when you launch a JVM:

* io.netty.allocator.tinyCacheSize (default: 512)
* io.netty.allocator.smallCacheSize (default: 256)
* io.netty.allocator.normalCacheSize (default: 64)
* io.netty.allocator.maxCachedBufferCapacity (default: 32768)

At worst case, you will have 64 32K thread-local buffers per

[2015-03-31 02:37] #3368 closed

[2015-03-31 02:38] trustin commented on #3368
Fixed: f1f7f92 (master), f4e527c (4.1), 28caa873 (4.0)

[2015-03-31 03:14] SubJunk commented on #3368
@trustin thanks!

[2015-03-31 04:00] mfulgo commented on #3368
@trustin Thanks!

[2015-03-31 05:34] normanmaurer commented on #3546
Fixed in 3.10 branch

[2015-03-31 05:34] #3546 closed

[2015-03-31 09:28] leogomes commented on #3523
@nmittler @Scottmitch I haven't had the time to dig into the specs and see if it's backward compatible, couldn't we support previous versions of the HTTP/2 spec with the current implementation? Basically, without hacking the version supported by Netty, we won't be able to run HTTP/2 examples with any current versions of Chrome or FF, except for "unstable" versions, because Chrome is currently h2-1

[2015-03-31 09:58] trustin commented on #3523
+1 for supporting only the latest HTTP/2 spec version. The browsers should catch up soon.

[2015-03-31 10:17] normanmaurer commented on #3523
@trustin @leogomes +1

[2015-03-31 13:18] doom369 commented on #3447
4.0.26.Final
Just got same issue on my server. Server had small load ~30 req/sec.

Here is my stack :
[code]

I'll try to create reproducer and will update issue.

[2015-03-31 15:31] Scottmitch commented on #3523
@leogomes - Don't worry about hacking the version.  The spec is in the finalization process and will be released *soon*.  I think most browsers support mostly the same features/drafts...some have been hesitant to update their draft numbers because 14 was the last "binary incompatible" version.

[2015-03-31 15:56] benmccann commented on #3534
+1 at least drop Java 6

[2015-03-31 16:14] Scottmitch opened #3557 "HTTP/2 Data Frame Error Case Handling"
We should investigate how we behave when we receive a DATA frame and the stream state is not OPEN or HALF CLOSED.  We are currently sending a connection error if we fail to find the stream object [DefaultHttp2ConnectionDecoder.java#L190](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionDecoder.java#L190) which may not be correc

[2015-03-31 16:18] Scottmitch commented on #3557
From PR #3516:

@buchgr in reference to [DefaultHttp2ConnectionDecoder.java#L190](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionDecoder.java#L190):

@scottmitch:

   stream is not in "open" or "half closed (local)" state, the recipient
   MUST respond with a stream error (Section 5.4.2) of type
   STREAM_CLOSED.

   for any

[2015-03-31 17:21] Scottmitch commented on #3536
@nmittler - I think the `writeXXX` terminology make sense for the `Http2FrameWriter`.  The `Http2FrameWriter` interface is at the level where it is directly writing, and the return status indicates the results of that write operation.  However interfaces that sit on top of `Http2FrameWriter` and provide conditional logic above and beyond the write operation are a bit less clear as to what their re

[2015-03-31 17:45] nmittler commented on #3536
@Scottmitch +1.  Maybe we could rename `Http2LifeCycleManager.writeRstStream` to `resetStream` and `writeGoAway` to something like `shutdown` or `close`?

I agree that the encoder names should probably change as well although I don't think it will be as simple to select a good name.  Probably needs more thought.

[2015-03-31 17:49] Scottmitch commented on #3372
@nmittler @louiscryan - Sooo what are your thoughts?  Should we close this?  Benchmarking is done and results have been posted.  My take away is the current benchmark didn't reveal any clear gain or loses when the real transports were used. If we are aiming at an "isolated" benchmark of the DefaultHttp2FrameWriter the current benchmark gives us a "writes are just immediately release buffers, and r

[2015-03-31 17:50] #3048 closed

[2015-03-31 17:52] nmittler commented on #3372
+1 I think we can close this

[2015-03-31 17:54] Scottmitch commented on #3372
Closing.  Lets open a new issue if we want more changes :)

[2015-03-31 17:54] #3372 closed

[2015-03-31 18:04] nmittler commented on #3550
@Scottmitch were you going to look into this or shall I?

[2015-03-31 18:11] Scottmitch commented on #3550
@nmittler - I updated the issue description to `writePendingBytes`.  I have a PR pending approval which avoids the copy operation and also prevents concurrent modification.  Stay tuned :)

[2015-03-31 18:13] Scottmitch commented on #3550
@nmittler - I have not investigated if creating a separate collection which includes only the nodes that need writing is beneficial...but lets handle that after we avoid the copy.

[2015-03-31 18:17] nmittler commented on #3550
@Scottmitch sgtm, thanks!

[2015-03-31 18:25] Scottmitch commented on #3501
@nmittler - I'll take this one.  As part of the resolution to https://github.com/netty/netty/issues/3550 I needed to do additional iteration over methods which use listeners and so I had to do something about this issue.  My approach was to catch `RuntimeExceptions` and only throw the last one:

[code]

Does this make sense?  The goal being 1 listener's exception shouldn't cause other listener's f

[2015-03-31 18:37] nmittler commented on #3501
@Scottmitch yep that sgtm ... that's sort of what I was thinking as well.  Make it so!

[2015-03-31 19:07] Scottmitch commented on #3501
@nmittler - Fair warning...it is ugly to ensure we process all events and complete all tree operations and also handle the `RuntimeExceptions` :(

[2015-03-31 19:14] Scottmitch commented on #3501
@nmittler - An alternative approach could be that we document the `Http2Connection.Listener` interface will result in the connection being closed.  This way we don't have to worry about tracking exceptions in recursive calls, and making sure state (stream state, priority tree, etc...) is maintained in the presence of exceptions.

[2015-03-31 19:18] Scottmitch commented on #3448
@nmittler - Is this still on your plate?

[2015-03-31 19:34] nmittler commented on #3448
@Scottmitch I'm was waiting for the dust to settle on some of the other changes to flow control.  I think everything is in now so I can take a look ... or were you looking to take this on?

[2015-03-31 19:42] nmittler commented on #3501
@Scottmitch yeah, that actually sounds better to me.  Let's keep it simple and just update the docs.

[2015-03-31 20:41] Scottmitch commented on #3448
@nmittler - Nope I haven't touched this.

[2015-03-31 20:42] Scottmitch commented on #3501
@nmittler - I have to investigate but there may be code changes to ensure this always results in a GO_AWAY.  For example the removal policy stuff makes this a bit more complicated.  Perhaps we should handle this issue after https://github.com/netty/netty/issues/3448?

[2015-03-31 20:47] nmittler commented on #3501
@Scottmitch yeah that's fine.

[2015-03-31 21:05] Scottmitch commented on #3503
@nmittler - I'm working on a PR for the first 2 points of this issue.  I may move modifying/forking twitter's HPACK to a separate issue...

[2015-03-31 21:48] bwzhang2011 commented on #3552
@trustin, thanks for view. for the buffer setting, I just set sndbuffer to 64k while the recev buffer is 32k  for ChannelOption configuration (I don't know whether it was the reason for that). here comes the dump file if it does not matter about its size. please pay a visit to such link: http://yun.baidu.com/share/link?shareid=1946887138&uk=1631968089&third=15 (I just upload the file to baidu  yun

[2015-03-31 22:06] Scottmitch commented on #3448
@nmittler - Do you want https://github.com/netty/netty/pull/3543 to be pulled in before this?

[2015-03-31 22:10] nmittler commented on #3448
@Scottmitch yeah I think that makes sense.

[2015-03-31 22:16] Scottmitch commented on #2909
@trustin - I'll take this assignment back.  If we are treating as a blocker for a 4.1 release I would like to make sure this gets done.  Stand by for a review.

[2015-03-31 23:26] Scottmitch commented on #3518
@nmittler - Humm this didn't get auto closed like we had hoped...closing manually.

[2015-03-31 23:26] #3518 closed

[2015-03-31 23:27] Scottmitch commented on #3448
@nmittler - #3543 has been cherry-picked...you should now be unblocked.

[2015-03-31 23:30] buchgr commented on #3448
Nice to see this being fixed! We have seen some very large object allocations (several megabytes per object) due to the removal policy i.e. when opening and closing ~20,000 streams per second.

[2015-04-01 00:00] Scottmitch commented on #3448
@buchgr - Cool to see numbers and that you are pushing the codec hard...not cool that they appear to be less then optimal :)  I think we are in a better place to tackle this and I hope it simplifies things and helps with the number too.  Have you tried using the ImmediateRemovalPolicy instead?  Do you see any other areas for improvement that we are not currently working on?

[2015-04-01 03:55] Scottmitch commented on #3536
@nmittler I like your suggestion for the lifecycle manager.

I will investigate more tomorrow but the encoder methods may not have to be renamed if they are upholding the 'writeXXX' interface contract. I took a quick look and most encoder write methods (besides life cycle related ones perhaps) seem to be upholding the return status indicates if and when a write is done. Do you see any problems wit

[2015-04-01 06:27] bwzhang2011 commented on #3552
@trustin , how does this going on ? I've got to know that @normanmaurer has done something to enhance the process for that. hope the master branch could be merged into that for support.

[2015-04-01 06:37] normanmaurer commented on #3552
@bwzhang2011 my changes have nothing to do with this...

[2015-04-01 06:44] normanmaurer commented on #2909
@Scottmitch thanks!

[2015-04-01 09:49] bwzhang2011 commented on #3552
@normanmaurer , would you mind leaving me more message for that or pointed out if I were wrong with my configuration, now I just set the buffer to the same size either 32k or 64k, I wonder whether the poolThreadCache would lead to memory leak and how. as only poolthreadcache occupied more heap.

[2015-04-01 11:23] vivekTKV opened #3558 "Unable to process Http Request Get method"
I am using the following class to access http request. netty/example/src/main/java/io/netty/example/portunification/PortUnificationServerHandler.java

while accessing the request
the request is in this format "ET /websocket HTTP/1.1"
expected "GET /websocket HTTP/1.1"

with that unable to process the http request.

[2015-04-01 11:24] karuturi opened #3559 "OutOfMemory error while doing a file upload of size 7GB through Netty"
This is the exception I see

[code]

I see that its trying to allocate bytes for new capacity.

[code]

But, why is this happening only for big files? Is it not releasing the existing memory?
Is there any max file size limit?

[2015-04-01 12:18] normanmaurer commented on #3558
@vivekTKV which version ?

[2015-04-01 12:29] vivekTKV commented on #3558
in netty 4.0.26

[2015-04-01 12:55] vivekTKV commented on #3558
@normanmaurer
I have identified the reason for the problem, if we put any system trace, the character is getting removed, I am not sure why it is happening.

In my code I did
System.out.println("readByte::> "+in.readByte());

final int magic1 = in.getUnsignedByte(in.readerIndex());
final int magic2 = in.getUnsignedByte(in.readerIndex()+1);

so the http request is in the "ET /websocket HTTP/1.1" fo

[2015-04-01 13:31] normanmaurer commented on #3558
@vivekTKV because in.readByte() advance the readerIndex by one. And so the getUnsignedByte(...) starts on the wrong index.

[2015-04-01 13:31] #3558 closed

[2015-04-01 14:18] nmittler opened #3560 "HTTP/2 disallows non-standard settings"
Currently the `Http2Settings` class disallows setting non-standard settings, which goes against the spec.

[2015-04-01 14:45] junjiemars opened #3561 "What's going on when I do a outbound pass a ByteBuf object"
[code]
I'd extends DefaultFullHttpRequest and the calling code NEW a ByteBuf object from a string then ```channel.writeAndFlush(it)``` such like:
[code]

[2015-04-01 14:50] junjiemars opened #3562 "What's going on when I do a outbound pass a ByteBuf object"
[code]
I'd extends DefaultFullHttpRequest and the calling code NEW a ByteBuf object from a string then call ```channel.writeAndFlush(it)``` such like:
[code]

JVM options: -Dio.netty.leakDetectionLevel=paranoid
The [netty guide](http://netty.io/wiki/reference-counted-objects.html) suggested don't to care about the outbound ByteBuf object, but I don't know when and how to release it.

[2015-04-01 14:54] #3561 closed

[2015-04-01 14:59] nmittler commented on #3518
@Scottmitch hmm ... maybe updates don't count and the original description has to have the "Fixes: " text?

[2015-04-01 15:01] nmittler commented on #3536
@Scottmitch I'm fine with leaving the encoder as-is

[2015-04-01 15:24] normanmaurer commented on #3562
Thats because you do:

[code]

This allocates 2 buffers...

You want this:

[code]

[2015-04-01 15:24] #3562 closed

[2015-04-01 15:36] kyankovski commented on #3539
Hi! Sorry for delay...
Just checked the server with different netty versions:
4.0.25 - no errors
4.0.26 - a lot of errors as described above

[2015-04-01 15:41] normanmaurer commented on #3539
@kyankovski thanks... let me try to find the root cause.

[2015-04-01 15:58] doom369 commented on #3539
Same for me. 4.0.26.Final. Java 1.8_40, Ubuntu 14.04.
I'm able to reproduce issue every time during performance tests when generating load ~5k req/sec. Usually this happens right after I interrupt tests without closing sockets correctly.

Also periodically I'm getting
[code]

Hope this info helps.

[2015-04-01 16:19] nmittler opened #3564 "HTTP/2 GOAWAY logic doesn't support graceful shutdown"
From [section 6.8](https://tools.ietf.org/html/draft-ietf-httpbis-http2-17#section-6.8):

   connection SHOULD send an initial GOAWAY frame with the last stream
   identifier set to 2^31-1 and a NO_ERROR code.  This signals to the
   client that a shutdown is imminent and that no further requests can
   be initiated.  After waiting at least one round trip time, the server
   can send another GOAWA

[2015-04-01 16:37] normanmaurer commented on #3539
@doom369 you see this with 4.0.25.Final as well ?

[2015-04-01 17:31] doom369 commented on #3539
"Connection reset by peer" - yes. I see this in 4.0.25.Final also. But I'm not sure that this is bug... The only problem I see here is that exception doesn't have cause and stacktrace.

[2015-04-01 17:49] doom369 commented on #3447
A started performing load test and got same stacktrace on client side and wasn't able to reproduce on server. So your suggestion regarding "you just write to fast" could be true...
But this means netty SSLHandler not able to handle sudden increase in load, even those sudden increase is few dozens of requests in my case.

[2015-04-01 18:30] cloudbow opened #3565 "Channel writability change notification failed to fire"
Although there is a similar issue I am able to reproduce this in 4.1.0-Beta code base. I was waiting for the channel writability and never got back a notification.

[2015-04-01 18:37] normanmaurer commented on #3565
@arungeorge81 can you share a reproducer ?

[2015-04-01 18:39] normanmaurer commented on #3539
@doom369 this is expected as this will be "thrown" when the remote peer just "crashes".

[2015-04-01 18:59] Scottmitch commented on #3564
@buchgr's PR https://github.com/netty/netty/pull/3516 will handle this I think.

[2015-04-01 19:01] Scottmitch commented on #3518
@nmittler I wonder if a link has to be in the git commit too?

[2015-04-01 19:11] nmittler commented on #3518
@Scottmitch ah yeah that would make sense.

[2015-04-01 19:14] buchgr commented on #3564
@Scottmitch yes. It will allow sending multiple GOAWAY frames as long as the last stream identifier is less than the last stream identifier of the previous GOAWAY frame. So this should work.

[2015-04-02 03:10] trustin commented on #3529
Didn't have time for taking a close look yet, but I didn't forget about this.

[2015-04-02 03:37] dkartaschew opened #3567 "Excessively large cumulation ByteBuf in SslHandler"
Hi,

Upon upgrading from netty 4.0.23 to netty 4.0.26, we've found that during large/fast data transfers via TLS 1.2, the "cumulation" ByteBuf in the SslHandler grows to over 1GB in direct buffer usage, leading to OOM errors. The growth of the "cumulation" ByteBuf does appear to correspond with the amount of data received.

This growth occurs only the receiving side, irrespective of which side ini

[2015-04-02 03:56] trustin commented on #3567
Thanks for reporting. I guess there might be some edge case we didn't handle correctly. Would you mind if I ask to share the heap dump with us?

[2015-04-02 03:57] trustin commented on #3567
Alternatively, you could just share the readerIndex and writerIndex of the cumulative buffer.

[2015-04-02 04:25] dkartaschew commented on #3567
Hi Trustin,

I've attached a screen shot from a heap dump using netty 4.0.25 and 4.0.26 showing the effect, a screenshot of the direct buffer usage from jvisualvm.

![netty_4 0 25](https://cloud.githubusercontent.com/assets/2052368/6957753/fd35d2ce-d943-11e4-9882-3f20ad028fe0.png)
![netty_4 0 26](https://cloud.githubusercontent.com/assets/2052368/6957755/083fe27c-d944-11e4-8281-702e8cdc6649.png)
!

[2015-04-02 05:29] trustin commented on #3567
@dkartaschew Thanks! It seems like the reader/writerIndex of the cumulative buffer is: 556527170/556581723, which seems way too large.

[2015-04-02 05:41] trustin commented on #3567
@dkartaschew Could you tell me which `SSLEngine` implementation you are using? (OpenSslEngine vs the one from JDK)

[2015-04-02 05:43] trustin commented on #3567
@dkartaschew I'm also interested in the vaule of the `SslHandler.first` (boolean)

[2015-04-02 05:56] #3567 closed

[2015-04-02 05:56] trustin commented on #3567
Should be fixed now: 4d8f824 (4.0), 2e509f7 (4.1), cdd2e1c8c1d42b596652a7030213b9084a12fc15 (master)

[2015-04-02 05:58] trustin commented on #3567
Perhaps we should make the handler method implementations in `ByteToMessageDecoder` final and provide protected hook methods. What do you think, @normanmaurer?

[2015-04-02 05:58] trustin commented on #3567
@dkartaschew Please feel free to reopen this issue if you still observe the problem with the SNAPSHOT build.

[2015-04-02 07:26] normanmaurer commented on #3567
@trustin ouch.... We should aim for release 4.0.27.Final very soon.

About your question: I agree we should probably do this but this is a breaking change so we will need to do it in master only.

[2015-04-02 07:43] normanmaurer commented on #3539
@kyankovski can you give us more details like show the pipeline etc ? Even better would be to share the code that reproduce it. I'm currently feeling a bit helpless in terms of reproduce it here :/

[2015-04-02 07:56] arungeorge81 commented on #3565
I am in the process of opensourcing my netty library for APNS/GCM/ADM as a single platform. I currently fixed it by having a timeout in my code -  codVar.await(1,TimeUnit.SECONDS). I will share you both a dummy server and a client where we can reproduce it.

[2015-04-02 08:10] trustin commented on #3539
@doom369 It does not have stack trace or cause because we create an exception for 'connection reset' and reuse it over and over, to remove the instantiation cost.

[2015-04-02 09:19] lime62 opened #3568 "UnsupportedOperationException of some examples when using ssl"
Some client examples don't specify ssl provider when initializing SslContext.
And the default ssl provider is openssl if OpenSsl is available.
So, those clients have UnsupportedOperationException when adding ssl handler because OpenSslContext.newEngine() throws it.

WDYT?

[2015-04-02 12:46] normanmaurer commented on #2996
@Harry5573 is this still an issue ? Seems like everything works as expected here.

[2015-04-02 14:58] Scottmitch commented on #3568
@lime62 - What commit are you on?

[2015-04-02 15:38] lime62 commented on #3568
@Scottmitch I'm on cdd2e1c8c1d42b596652a7030213b9084a12fc15.

[2015-04-02 17:55] Scottmitch opened #3569 "More complete native collection support"
We have some support for primitive type collection via https://github.com/netty/netty/tree/master/common/src/main/java/io/netty/util/collection.  However it would be nice to have more complete support for the primitive collections.  This would allow a reduction in memory requirements and provide the opportunity to avoid boxing/unboxing.

[2015-04-02 17:58] Scottmitch commented on #3569
@nmittler - I assigned you to this and put it at 4.1.0.Beta5 for now.  Feel free to change.

[2015-04-02 17:59] fredericBregier commented on #3567
@normanmaurer Do you mind to release "exceptionnaly" 4.1 too ?

[2015-04-02 18:10] #3560 closed

[2015-04-02 18:12] Scottmitch commented on #3569
Just a reminder that we should fix the types being exposed by HTTP/2 settings object to be inline with the specification after this is resolved. See https://github.com/netty/netty/pull/3563#issuecomment-88664968.

[2015-04-02 20:35] Scottmitch commented on #3557
From @nmittler in https://github.com/netty/netty/pull/3516#discussion_r27603491

class StreamHistory {
   enum CloseState {
       CLOSED_NORMALLY,
       RESET_SENT,
       RESET_RECEIVED
   }
   int id;
   long time;
   CloseState closeState;
}
[code]

[2015-04-02 21:27] dkartaschew commented on #3567
@trustin, we're using the JRE's SSLEngine as the OpenSSL implementation isn't feature complete for our needs (#3005 and #3220).

And `SslHandler.first` is `false` in all cases we observed this issue.

[2015-04-02 21:44] buchgr opened #3570 "Performance of Http2Stream.setProperty(...) / .getProperty(...)."
I have been doing some benchmarking and profiling on the HTTP/2 codec. One of the pain points is that the codec is spending too much time and memory on `Http2Stream.setProperty(...) / .getProperty(...)`. In my benchmarks we spend roughly 11% of the CPU time on retrieving and putting "properties" and use just over 22% of the heap for `HashMaps`.

The main reason that we spend so much time on the pr

[2015-04-02 22:00] nmittler commented on #3570
@buchgr good find ... yeah, @Scottmitch and I sort of punted on this in favor of a flexible API :)

I'll just recap my idea that we discussed earlier as a way to keep the flexibility but not sacrifice performance:

Instead of a map, each `Stream` could maintain generic properties as an array, indexed by a unique property key. This key could be obtained via the connection:

[code]

The stream inter

[2015-04-02 22:07] Scottmitch commented on #3536
PR is pending for this...

[2015-04-02 22:32] buchgr commented on #3570
@nmittler

With my suggestion we would maintain the same flexibility (see point 2, it's different than what we discussed).

Also I can see two things that will likely have a performance impact (Don't know how much though):
 1.  `(local|remote)FlowState()` and `(set|get)UserProperty()` can and will be inlined easily. The array approach not so much.
 2. One does pay a (smaller) memory overhead becau

[2015-04-02 22:47] Scottmitch commented on #3570
@buchgr
+1 on this find! I think we can optimize/cleanup up here :)
+1 on making `remoteFlowState()` and `localFlowState()` directly accessible.  These are part of the codec...not sure if it makes sense to be accessible outside the codec but we should have quick access to them.  The read only members maybe fine but we should be careful about if we are exposing the write interfaces...

I wonder if

[2015-04-02 23:02] Scottmitch commented on #3570
@nmittler @buchgr - I updated the above code....the idea is pretty "fresh" right now...so it is just to demonstrate an idea of allowing decoration to keep our "core" interfaces small...and let the user decorate/extend to provide other methods they need....the compressor/decompressor could use this too.

[2015-04-02 23:05] Scottmitch commented on #3570
It would be much simpler just to allow the user to extend `DefaultStream` to some degree (and use a more typical factory pattern)...because when the user (or anyone relying on this mechanism) wants to get the "decorator" object they may have to go through the "parent" links to get the right type.

[2015-04-02 23:54] buchgr commented on #3570
@Scottmitch

I think the "chain of decorators" suggestion is quite complex and cumbersome. It would also make accessing the property bascially a linked list iteration.

 Allowing someone to provide a `Http2StreamFactory` to the connection constructor and making `DefaultStream` public is a possibility. However, that would also mean that we need a different `Http2Stream` class for whenever we want t

[2015-04-03 00:30] Scottmitch commented on #3570
@buchgr - Good points. I would like to avoid the array/map interface entirely. It is flexible but I don't think the overhead is justified...I would favor an object that the user can manually control (and make it a map if they want). Let me recall what we had at one point to rationalize where we are now.... (@nmittler correct me if I misremember):

[code]

We moved away from this I think because:
1

[2015-04-03 00:51] buchgr commented on #3570
Thanks @Scottmitch!

I agree with you in points 1 and 3. Let's see what @nmittler thinks about it. (I will implement those two points quickly and see how it affects performance.).

This seems like the best option :sob:

[2015-04-03 01:07] Scottmitch commented on #3570
@nmittler +1.  I think 2.1 is the lesser of the evals so far.

[2015-04-03 14:12] jeffreyji666 commented on #3490
I have encountered the same error, I refactor the scoreAddress method  as follows:

        if (addr.isAnyLocalAddress() || addr.isLoopbackAddress()) {
             return 0;
         }

I did add the loop back address check, however I still have the same error after I build the netty.

Anyone has a solution?

[2015-04-03 15:59] normanmaurer commented on #3569
@Scottmitch @nmittler if this is only for http2 and not the core of netty we may also could just depend on something and so not need to maintain it. Just saying....

[2015-04-03 16:06] Scottmitch opened #3572 "HTTP/2 HEADERS stream dependency stream state"
The specification does not provide explicit direction as how to what state the `Stream Dependency` stream is expected to be in, and how implementations should react if it is not in the OPEN (or other "created" states).  The decoder may have to be updated by:
1. Move the `setPriority` above notification of the listener.
2. Potentially check the stream state of the `Stream Dependency` stream before

[2015-04-03 16:11] Scottmitch opened #3573 "HTTP/2 RST_STREAM frame for an IDLE stream should result in connection error"
http://http2.github.io/http2-spec/index.html#RST_STREAM

[2015-04-03 16:32] Scottmitch commented on #3569
@normanmaurer - I think HTTP/2 will take advantage of it...but it is generic enough that other codecs (and users of netty potentially) should be able to take advantage.

[2015-04-03 16:58] Scottmitch commented on #3573
PR pending for this....

[2015-04-03 18:27] bobwenx opened #3575 "HttpContentCompressor: Skip Compress process when Content-Encoding:identity was set."
The beginEncode method of HttpContentCompressor(io.netty.handler.codec.http.HttpContentCompressor#beginEncode) try to compress the content even if CONTENT_ENCODING header set to 'identity':

[code]

For my understanding, when Content-Encoding set to 'identity', the server should send content without encoding. see: http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html

[2015-04-03 18:55] normanmaurer commented on #3575
@bobwenx can you paste the "sentence" that let you believe what we do is wrong ?

[2015-04-03 18:55] normanmaurer commented on #3575
Also @Scottmitch wdyt ?

[2015-04-03 19:07] bobwenx commented on #3575
i used to set the Content-Encoding = 'identity' to skip compressing process. and the io.netty.handler.codec.http.HttpContentDecompressor (pairing with HttpContentCompressor) skip the decompress processing when client set Content-Encoding = 'identity'.

[code]

[2015-04-03 19:12] bobwenx commented on #3575
http://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html

3.5 section says:
[code]

[2015-04-03 19:38] Scottmitch commented on #3572
The behavior should be the same as the PRIORITY frame.  We should create the stream.  So we need to move the set priority above the notification.

[2015-04-03 21:29] Scottmitch commented on #3501
Reminder to me...also fix https://github.com/netty/netty/pull/3577/files#r27757163.

[2015-04-03 21:40] nmittler commented on #3570
@Scottmitch good discussion!

As it stands, a codec configured for compression would require 2 additional properties of its own (one for compression and one for decompression).  So I'm not sure that `T codecProperty()` would quite cut it here.  I think we need something a little more flexible.

In general, I'm fine with the flow control states being top-level properties of `Http2Stream`. I'm also

[2015-04-03 21:44] nmittler commented on #3569
@normanmaurer it's in the common module.  See #3576

[2015-04-03 21:51] Scottmitch commented on #3570
Agreed. The suggestion in https://github.com/netty/netty/issues/3570#issuecomment-89092942 was to use an array that the codec would manage to account for this:

Noted.  I'm still of the camp that things in the codec (in the `io.netty.handler.codec.http2` package) could do things internally via DefaultStream (or something like it...), and then users external to the codec can maintain their own prop

[2015-04-03 22:32] nmittler commented on #3570
And as the codec grows and requires new properties? Do we just keep adding fields to `DefaultStream`? ... I'm not sure that's a good path for us.  The same applies for the user property ... maybe they need multiple.  I guess I'm not quite sure what is causing you heartburn about that idea? It's not wasting space and lookup time will be O(1).

[2015-04-03 22:51] #3572 closed

[2015-04-03 22:54] #3573 closed

[2015-04-03 23:20] Scottmitch commented on #3570
If it is internal to codec I don't think that is the worst thing. My mental model for these types of changes are internal to the package. I agree not as flexible in terms of API, but I'm not sure if it is worth putting stuff in the public API that the users also have to worry about coordinating with the codec (sizes of arrays, types of object is which indices, etc...).

I guess I'm envisioning the

[2015-04-04 01:20] buchgr commented on #3570
@Scottmitch @nmittler

FYI with the flowstate and the userproperty directly attached to the object I am seeing a consistent 6% increase in throughput, 50percentile latency is down also 6%, 90percentile latency is down 7%. `HashMap` disappears from the hot allocations.

[2015-04-04 07:22] Scottmitch opened #3585 "Http/2 DefaultFrameWriter allocation reduction"
The DefaultHttp2FrameWriter currently allocates a buffer for most frame types. There may be an opportunity to allocate the buffers ahead of time in ThreadLocal variables (as un releasable buffers) to avoid repeatedly allocating and releasing these buffers. We should investigate if this may provide memory allocation and/or performance benefits.

[2015-04-04 07:24] Scottmitch commented on #3585
@nmittler @buchgr WDYT? I can pull together a PR if we think this makes sense.

[2015-04-04 07:28] Scottmitch commented on #3570
@buchgr sounds good...just to confirm from https://github.com/netty/netty/issues/3570#issuecomment-89095795 this test scenario excludes code for the compressor and decompressor?

[2015-04-04 12:01] bwzhang2011 commented on #3552
@trustin, any update with such issue. I will be going to close it as you pointed out it's not the case.as we care about the memory use cases and @normanmaurer did some enhancement for poolthreadcache so once it's merged into the master, it should be closed.

[2015-04-04 12:02] bwzhang2011 commented on #3552
@trustin, any update with such issue. I will be going to close it as you pointed out it's not the case.as we care about the memory use cases and @normanmaurer did some enhancement for poolthreadcache so once it's merged into the master, it should be closed.

[2015-04-04 12:22] virtman commented on #3466
Ok, the issue seems to be fixed with 3.10.1, it does not anymore happen, so I assume that was the cause of to early fired change notification.
However that is a pity, I can not figure out, if the change was fired because it was set to setReadable true/false, or because the channel changed it's writability state
May be I do not know hidden details, or is there a way? (except throwing error inside i

[2015-04-04 13:08] rhart opened #3586 "HTTPProxyHandler Keep-alive"
Netty version: 4.1.0.Beta4

I think there is a bug with `io.netty.handler.proxy.HttpProxyHandler`. When the CONNECT request is sent to the proxy server, `HTTPProxyHandler#newInitialMessage`, it is sent as HTTP 1.0 without a Connection: Keep-alive request header. Then, when any pending writes are subsequently sent you get a Connection reset by peer because the connection has been closed by the serv

[2015-04-04 18:07] huguesb opened #3587 "4.1.0-Beta4: Regression in HttpRequestDecoder"
We recently noticed that one of our Netty services was intermittently ignoring requests, causing the caller to timeout. Adding LoggingHandlers all over the place revealed that the failing request was received but never made it out of HttpRequestDecoder.

The connection is reused by the client and saw multiple similar requests before the server somehow choked on the last one. The server uses autoRe

[2015-04-04 23:39] benmccann opened #3588 "Release 4.1.0.Beta5"
Google's [grpc-java](https://github.com/grpc/grpc-java) depends on changes only available in 4.1.0.Beta5. We can't publish anything to Maven central until there's a new Netty release. I was wondering if it'd be possible to cut a 4.1.0.Beta5 soon and address any other items scheduled for 4.1.0.Beta5 in 4.1.0.Beta6 instead?

Thanks!

[2015-04-05 06:23] normanmaurer commented on #3587
Can you share a reproducer?

[2015-04-05 07:32] huguesb commented on #3587
I wish I could but extracting a small reproducer from our codebase would take a lot of work and that's not a worthwhile time investment at this point since 4.1.0-Beta3 works for us.

However if you can provide a diff to add extra verbose logging I'd be happy to run the full reproducer with that and report the results here.

[2015-04-05 18:02] huguesb commented on #3587
@normanmaurer I went ahead and added the logging myself and I zeroed in on the issue.

 1. The channel is set to autoRead=false.
 2. upstream handler calls read()
 3. a fragmented HTTP request is received (in this case the packet is fragmented before the last \n separating headers and content).
 4. HttpObjectDecoder doesn't fire any channelRead because decoding isn't complete
 5. HttpObjectDecoder

[2015-04-05 19:15] manee1982 opened #3589 "ChannelInboundMessageHandlerAdapter cannot be resolved to a type"
I am just trying to apply the web socket example, this error appears:

<code>ChannelInboundMessageHandlerAdapter cannot be resolved to a type</code>

i am new to netty i successfully add netty to class-path, i use eclipse.

[2015-04-05 20:01] Scottmitch opened #3590 "[Socket|Epoll]SslEchoTest failures (unexpected cipher and heap space error)"
Builds for PRs on 4.1 have resulted in the following errors:

## PR https://github.com/netty/netty/pull/3579
[clinker report](http://clinker.netty.io/jenkins/job/netty-pullreqs/io.netty$netty-testsuite/655/testReport/junit/io.netty.testsuite.transport.socket/SocketSslEchoTest/testSslEcho_74__serverEngine___io_netty_handler_ssl_JdkSslServerContext_3e7b0986__clientEngine___io_netty_handler_ssl_JdkSs

[2015-04-05 21:48] huguesb commented on #3587
The more I think about it the more convinced I become that the correct solution would be to move read() to ChannelInboundHandler and propagate it down the *inbound* context (as opposed to down the *outbound* context as is currently the case)

Similarly I think it would make more sense for channelWritabilityChanged() to be moved to ChannelOutboundHandler and propagated up the *outbound* context.

R

[2015-04-06 00:05] #3552 closed

[2015-04-06 01:01] buchgr commented on #3570
@Scottmitch yes. I left the `(set|get)Property` untouched and just didn't use them.

@nmittler

As @Scottmitch said a user is free to plug in whatever, be it his own "property object" or a map.

I think the API is just way too complex with having to request property keys and such. In terms of performance, I don't know. While fields and arrays are both constant time access, my guess would be that t

[2015-04-06 01:10] buchgr commented on #3585
@Scottmitch Could you point to the places in the framewriter? Why thread local?

[2015-04-06 11:51] bobwenx opened #3592 "HttpStaticFileServerHandler Example: Fail to download file in ssl mode"
The netty http-file-server example are unable to download file if ssl mode is enabled:

[code]
when i try to download file(https://localhost:8443/pom.xml) with chrome, the browser will hang there:
HTTP Request:
[code]
HTTP Response:
[code]

i check the example code, and find the comment(line 200) say:
[code]
However, it didn't write HTTP end marker(that's why the browser hang).

if i change the co

[2015-04-06 14:42] nmittler commented on #3588
@benmccann we're currently working on some fixes/improvements that we're finding in our benchmarking of grpc-java.  We're getting pretty close and I think this will be wrapped up soon.

@Scottmitch @normanmaurer do we have a target for when we'd like to get 4.1.0.Beta5 out the door?

[2015-04-06 14:44] normanmaurer commented on #3588
@nmittler actualy I would like to cut 4.1.0.Final very soon :)

[2015-04-06 14:52] hyangtack commented on #3529
https://github.com/hyangtack/netty/commit/b52bac04c0f8b49cb10079783132dabf1768ad99

@trustin Could you take a look at this commit? Should I call ctx.read at channelReadComplete?  When I moved it to channelReadComplete, tests succeeded. Please let me know if I'm wrong.

[2015-04-06 15:12] nmittler commented on #3570
@Scottmitch @buchgr I have some ideas for how we might be able to keep the API clean and still be generic.  I'll try to put together a PR today.

[2015-04-06 15:16] nmittler commented on #3585
@Scottmitch definitely worth investigating.  I'm curious how much thread affinity we'll have when we have a lot of connections using the same `EventLoopGroup`.

[2015-04-06 19:50] normanmaurer commented on #3589
@manee1982 where you have the example from ? This class does not exists since 4.0.0.Final was released for sure

[2015-04-06 19:50] #3589 closed

[2015-04-06 19:50] normanmaurer commented on #3586
@trustin can you check ?

[2015-04-06 19:58] nmittler commented on #3570
@Scottmitch @buchgr I've put together a sketch of my idea in #3593

[2015-04-06 21:35] #3536 closed

[2015-04-06 21:36] Scottmitch commented on #3536
PR https://github.com/netty/netty/pull/3580 addressed this.

[2015-04-06 21:42] Scottmitch commented on #3585
@buchgr - For example all/most of the frame types do:

1. Allocate small fixed size buffer for headers
2. Populate headers buffer
3. Write headers buffer.
4. (Dependent on frame type) write payload.
5. (Dependent on frame type) write padding.

See https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameWriter.java#L136 for the headers allo

[2015-04-06 21:52] buchgr commented on #3585
@Scottmitch

I am pretty sure that I am missing something, so please be patient :P ... I don't see it. If you reuse the same buffer for the frame header, how can you handle multiple calls to `writeData(...)`?

[2015-04-06 22:08] Scottmitch commented on #3585
@buchgr - If the access pattern is such that `multiple calls to writeData(...)` are each on different threads then the thread local variable for that frame type can be used (if the same thread will not call `writeData` concurrently).  So we would pre-allocate and reserve (practically not-release) 1 buffer for each frame type , for each thread to use across all `DefaultHttp2FrameWriter` instances.

[2015-04-06 22:28] Scottmitch commented on #3588
@nmittler - No promises but a review of https://github.com/netty/netty/pull/3579 may make the release happen sooner ;)

[2015-04-06 22:30] buchgr commented on #3585
@Scottmitch

Let's forget about threads for a second. How would you handle two consecutive calls to `frameWriter.writeData(...)`?

[code]

You can't overwrite the `FIXED_BUFFER` in the second call until the first write is complete.

[2015-04-06 22:36] Scottmitch commented on #3585
@buchgr +1. Needing to add listeners to know when we can re-use buffers would make pre-allocating a bit impractical....lets forget that this happened :)

[2015-04-06 22:36] #3585 closed

[2015-04-06 23:23] Scottmitch commented on #3570
@nmittler - Thanks! I left a comment there for discussion.

[2015-04-06 23:30] Scottmitch commented on #3575
Not that this necessarily invalidates what you have posted but FYI that RFC 2616 has been superseded by https://tools.ietf.org/html/rfc7230.

[2015-04-06 23:43] Scottmitch commented on #3575
https://tools.ietf.org/html/rfc7231#section-3.1.2.1

   registered within the "HTTP Content Coding Registry", as defined in
   Section 8.4.  They are used in the Accept-Encoding (Section 5.3.4)
   and Content-Encoding (Section 3.1.2.2) header fields.

   specification:
      compress (and x-compress): See Section 4.2.1 of [RFC7230].
      deflate: See Section 4.2.2 of [RFC7230].
      gzip (and x-

[2015-04-07 01:38] Scottmitch opened #3594 "HTTP/2 Priority Tree circular link"
There is an issue with the HTTP/2 priority tree algorithm where circular links can be created.  The issue is if an exclusive dependency event described as `stream B should be an exclusive dependency of stream A` is requested and stream `B` is already a child of stream `A`...then we will add `B` to `B`'s own `children` map and create a circular link in the priority tree.  This leads to an infinite

[2015-04-07 01:38] Scottmitch commented on #3594
@nmittler @buchgr - FYI...I have a fix for this.  Standby.

[2015-04-07 20:26] nmittler commented on #3588
@Scottmitch oof, sorry this fell beneath my radar ... just took a first pass!

[2015-04-07 20:40] Scottmitch opened #3596 "HTTP/2 associating state with streams"
Use cases currently exist within the codec (compression, decompression, http translation) which need to associate state with streams.  These use cases are not part of the core HTTP/2 functionality, and thus may not make sense to bake into HTTP/2 interfaces.  It is also assumed that users will have similar use cases where they will also need to associate state with streams.  `Http2Stream` currently

[2015-04-07 20:47] buchgr commented on #3596
Just so that we don't forget, this has also been discussed in #3570 and
#3593.

[2015-04-07 20:52] nmittler commented on #3596
+1 thanks for opening this, @Scottmitch!

[2015-04-07 22:29] Scottmitch commented on #3596
@nmittler - I'll take the assignment for now just so we don't lose track....feel free to re-assign (your PR is likely a good start) if you want.

[2015-04-08 01:13] trustin commented on #3588
I also want my DNS refactor to be in 4.1 before release candidate phase. Just need a little bit of .. time.  That should be probably all I need for 4.1. I need streaming construct for 5.0 but that's another story.

[2015-04-08 04:06] Scottmitch commented on #3550
Closing.  Should be covered by https://github.com/netty/netty/pull/3577.

[2015-04-08 04:19] Scottmitch commented on #3503
PR for https://github.com/netty/netty/pull/3578 addresses parts 1 and 2 of this issue. Closing this issue and we can track HPACK updates under another issue.

[2015-04-08 04:19] #3503 closed

[2015-04-08 05:13] Scottmitch opened #3597 "Twitter HPACK updates"
Since HPACK is almost an RFC it may be worth investigating the [twitter/hapck](https://github.com/twitter/hpack) dependency we leverage as our HPACK implementation.  The following areas are of interest:

1. API
  - The current interface exposes byte[], InputStream, OutputStream, and other java native types ([Decoder.decode](https://github.com/twitter/hpack/blob/master/src/main/java/com/twitter/hpa

[2015-04-08 05:14] Scottmitch commented on #3503
See https://github.com/netty/netty/issues/3503 for HPACK investigation.

[2015-04-08 05:14] Scottmitch commented on #3597
Previous discussion related to this matter can be found in https://github.com/netty/netty/issues/3503.

[2015-04-08 05:15] Scottmitch commented on #3597
@louiscryan @nmittler @buchgr - FYI. Has there been any movement on this on your end?

[2015-04-08 05:17] Scottmitch commented on #2947
See https://github.com/netty/netty/issues/3597 for potential HPACK updates.

[2015-04-08 05:20] Scottmitch commented on #3448
@nmittler - A few PRs have been cherry-picked since we last visited this.  Let me know if this is still blocked, or you are too busy to handle this.  I would like to get this in before https://github.com/netty/netty/issues/3501.

[2015-04-08 05:29] Scottmitch commented on #3570
@nmittler - Assigned to you bcz you have been actively working in this area with https://github.com/netty/netty/pull/3593 ...but @buchgr said in https://github.com/netty/netty/pull/3593#issuecomment-90727726 that he is working on a PR to resolve this issue.  Feel free to re-assign to me.

[2015-04-08 05:30] Scottmitch commented on #3564
Closing PR https://github.com/netty/netty/pull/3516 has been cherry-picked.

[2015-04-08 05:30] #3564 closed

[2015-04-08 05:31] Scottmitch commented on #3435
@danbev - Any updates on this issue?

[2015-04-08 05:34] Scottmitch commented on #3388
@louiscryan - I will be submitting a simple benchmark which exercises the priority tree.

[2015-04-08 05:36] Scottmitch commented on #3380
@louiscryan - Can you let me know if you still think this is valid?

[2015-04-08 05:39] #3259 closed

[2015-04-08 05:40] Scottmitch commented on #3133
Closing issue. I believe this was resolved by #3134.

[2015-04-08 05:40] #3133 closed

[2015-04-08 05:42] Scottmitch commented on #3388
I'll take this assignment for now...just so it doesn't get left behind.  No immediate plans to work on this however.

[2015-04-08 05:46] Scottmitch commented on #2888
taking assignment to keep track...nothing immediately planned on this...

[2015-04-08 06:53] buchgr commented on #3570
@Scottmitch yeah. will submit tomorrow!

[2015-04-08 06:54] buchgr commented on #3448
@Scottmitch I talked to @nmittler and I ll submit a PR for this.

[2015-04-08 08:16] trustin commented on #3575
This isn't really related with what RFC says.  Note that the role of `HttpContentCompressor` is to 'compress' the content when not compressed yet. Setting `Content-Encoding` to `identity` will make it compress the content, because it's compressable.  If you don't really want compression you'd just better removing the `HttpContentCompressor` from the pipeline?

[2015-04-08 08:54] trustin commented on #3529
@hyangtack Thanks for the detailed analysis. The expected user behavior was to call `ctx.read()` at `channelReadComplete()`, but it should work even if `ctx.read()` was called at `channelRead()`. So, yeah, the workaround in your case would be to move `ctx.read()` from `channelRead()` to `channelReadComplete()`.

[2015-04-08 08:55] trustin commented on #3529
@hyangtack Please stay tuned. I'm working on a fix.

[2015-04-08 09:02] trustin commented on #3587
Related: #3529

[2015-04-08 09:13] trustin commented on #3529
Related commits:
https://github.com/netty/netty/commit/375b9e1307c83a648329711c02237b360d8e3cd5
https://github.com/netty/netty/commit/8b2fb2b985cd969719f23da689eb3dc67282070a
https://github.com/netty/netty/commit/a41b46ff430369112bdc9ab2474cb40667c289a3
https://github.com/netty/netty/commit/5fca3de09869b168586b6ab6fc3e2d05b2b9ecba

[2015-04-08 09:28] normanmaurer commented on #3592
@bobwenx nope the code of the example is wrong. Could you try to replace:

[code]

with
[code]

and let me know if it works ?

[2015-04-08 09:47] bobwenx commented on #3575
Setting ```Content-Encoding``` to ```identity``` allowing user to skip encoding process. And yes, i can remove ```HttpContentCompressor``` from pipeline to get around my problem if the means of ```identity``` only make sense for ```HttpContentCompressor```.

[2015-04-08 10:08] normanmaurer commented on #3588
@trustin hurry up =P

[2015-04-08 10:20] trustin commented on #3529
@normanmaurer Given:

* the complexity of the commits that affects this issue and #3587, and
* potential performance hit by accessing volatile fields,

I guess it's better reverting the changes mentioned above and think again. WDYT?

[2015-04-08 10:22] normanmaurer commented on #3529
@trustin hmm... can you give me some more details on why the issue is there ? I'm not sure I understood the issue. Once I better understand it I would like to think about it before do any action.

[2015-04-08 10:33] bobwenx commented on #3592
after change code to use ```writeAndFlush```, it works as expected! Chrome can download file correctly.

One more thing, the documents of HttpChunkedInput says:
[code]

However, the HTTP response didn't contains such header:

[code]

do we need manually add such header?

[code]

[2015-04-08 11:27] trustin commented on #3529
@normanmaurer Read @hyangtack 's comment - especially [this one](https://github.com/netty/netty/issues/3529#issuecomment-86587767)

[2015-04-08 11:28] trustin commented on #3529
@normanmaurer and [this one](https://github.com/netty/netty/issues/3587#issuecomment-89821570)

[2015-04-08 11:46] jurmous opened #3599 "ServerCookieDecoder can't handle attributes without values"
Netty version: 4.1.0.beta4

I want to decode a cookie with the Secure and HTTPOnly attributes but it won't be decoded by the ServerCookieDecoder.

The cookie to decode:
[code]

It crashes with the following stack trace while it is decoding Secure
[code]

It works perfectly with the deprecated io.netty.handler.codec.http.CookieDecoder

Link to the standard: http://tools.ietf.org/html/rfc6265#sectio

[2015-04-08 11:58] slandelle commented on #3599
Your cookie header is not valid. A cookie pair must be name=value.

[2015-04-08 12:06] danbev commented on #3435
Sorry this parenting thing was more time consuming than I expected. I don't
think I'll be of much use before I return to work in July I'm afraid.

onsdag 8 april 2015 skrev Scott Mitchell <notifications@github.com>:

[2015-04-08 12:58] jurmous commented on #3599
Are you sure? It is not a pair on wikipedia:
http://en.wikipedia.org/wiki/HTTP_cookie#Domain_and_Path

From RFC6265:

Even here on github they are not sending them as pairs:
[code]

[2015-04-08 13:59] slandelle commented on #3599
The NPE is on the cookie value, not an attribute value.
I'm on mobile now, I'll check asap.

[2015-04-08 14:26] slandelle commented on #3599
OK, I get it.

The attributes ("Max-Age", "Expires", etc) have NOTHING to do in a `Cookie` header (sent from the client to the server) being parsed by `ServerCookieDecoder`.

They belong to the `Set-Cookie` header (sent from the server to the client). Such header should then be parsed by `ClientCookieDecoder`.

What happens here is that, as ";" is the cookie pairs (name=value) separator in the `Co

[2015-04-08 14:36] jurmous commented on #3599
Ah yes thanks! I was indeed doing something wrong mixing up server and client side cookies in my test setup. This was not visible with the previous generic CookieDecoder. They now decode perfectly! A descriptive warning would be great if possible. :)

Thanks for the quick responses!

[2015-04-08 15:45] nmittler commented on #3550
@Scottmitch there is still [this copy](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2RemoteFlowController.java#L280) that we may want to think about. If we decide it's necessary, that's fine.

[2015-04-08 15:48] nmittler commented on #2947
@Scottmitch I feel like this is a dup of #3597.  Should we just close this?

[2015-04-08 15:57] nmittler commented on #2888
@Scottmitch is this an old issue? I would think the topic of stream lifecycle management has been overtaken by #3448 and #3544

[2015-04-08 15:57] nmittler commented on #3570
@buchgr you go, girl! :)

[2015-04-08 16:17] normanmaurer commented on #3570
@nmittler @buchgr is for sure a strange looking girl, at least from what I remember him looking like ;)

[2015-04-08 16:30] louiscryan commented on #3597
Sorry, not much yet, hoping to get back to it this week

[2015-04-08 16:35] buchgr commented on #3570
@normanmaurer whaaat? It's the beard isn't it? 😜

[2015-04-08 16:43] louiscryan commented on #3380
I think it's obsolete now with all the changes in the flow controller.

[2015-04-08 16:43] #3380 closed

[2015-04-08 16:44] nmittler commented on #3570
@buchgr, @normanmaurer told me that's how you know an Austrian woman is extra "sassy", no? :)

[2015-04-08 17:35] Scottmitch commented on #3597
@louiscryan - No problem.  I took a brief look last night and couldn't find the synchronized blocks we talked about....but listed some areas that I though looked interesting in the issue description.  Feel free to append more areas of interest as you dive in.

[2015-04-08 17:37] Scottmitch commented on #2888
@nmittler - Yes this is an old issue, but I think it is still valid.  This is more about providing "aliveness" checks on individual streams.  I updated the title of the issue to clarify.

[2015-04-08 17:37] Scottmitch commented on #2947
Done.

[2015-04-08 17:37] #2947 closed

[2015-04-08 17:39] Scottmitch commented on #3550
@nmittler +1.  I thought about that briefly....now that we are not sorting it may be more feasible to remove.  The only hangup is how we are using this array to "re-visit" children that still want to send....we could maintain an alternative collection for this type of thing....but may make the loop a bit more complicated to handover to a secondary collection after the first iteration....WDYT?

[2015-04-08 17:42] Scottmitch commented on #3435
@danbev - O wow I had no idea...congratulations!  Take care of your family and forget about this ;)

[2015-04-08 17:45] nmittler commented on #2888
ah ok, do we really think this is important enough to target for 4.1.0.Beta5? Is it something you have an immediate need for?

[2015-04-08 17:46] nmittler commented on #3550
@Scottmitch Yeah I was thinking something similar ... let me take a crack at this.

[2015-04-08 17:53] Scottmitch commented on #2888
@nmittler - Nope. Thanks for pointing that out...just habit...went on a click spree.

[2015-04-08 18:45] buchgr opened #3600 "Excessive memory usage of DefaultHttp2Headers and overall slowness."
When running load tests for GRPC I have noticed that we are spending a lot of time in `DefaultHttp2Headers` and use very large amounts of memory, contributing to high allocation rates and lots of garbage collections. In one of my recent benchmarks we allocated roughly 500MB worth of `AsciiString` objects and their corresponding `byte[]` (representing the actual headers) over the time of the benchm

[2015-04-08 18:51] normanmaurer commented on #3600
@buchgr this is a very good find! /cc @trustin

[2015-04-08 19:29] Scottmitch commented on #3600
@buchgr - +1. There is definitely some fat to trim off the bones in [DefaultHeaders](https://github.com/netty/netty/blob/master/codec/src/main/java/io/netty/handler/codec/DefaultHeaders.java) and up the headers heriarchy.  It would be interesting to see if `IntObjectHashMap` could be optimized/improved also, or if the [DefaultHeaders](https://github.com/netty/netty/blob/master/codec/src/main/java/

[2015-04-08 19:39] buchgr commented on #3600
@Scottmitch yeah definitely. Looking at all of those classes. Will see :-)

[2015-04-08 19:43] Scottmitch commented on #3600
@buchgr - Do you have a sample/profile from the above benchmarks you mentioned (not necessarily run in JMH but just in general)?

[2015-04-08 19:59] louiscryan commented on #3600
Good source for optimized collections...

https://github.com/real-logic/Agrona/tree/master/src/main/java/uk/co/real_logic/agrona/collections

On Wed, Apr 8, 2015 at 12:44 PM, Scott Mitchell <notifications@github.com>
wrote:

[2015-04-08 21:39] nmittler commented on #3600
@normanmaurer what our your thoughts on taking that dependency?

[2015-04-08 21:48] louiscryan commented on #3597
I think the biggest item would be the ability to cache parsed representations of received header values and propagate that up through the stack.

[2015-04-08 22:47] ejona86 commented on #3600
@louiscryan, those Agrona collections appear to be for Int/Long→Object. It seems we need Object→Object here.

I don't really follow how using a IntObjectMap could be productive for a String→String map, as the benefits of the IntObjectMap come from the key being a primitive.

[2015-04-08 23:02] Scottmitch commented on #3600
@ejona86 - Netty has its own primitive keyed map code (contributed by @nmittler I think?).  We are using that in the [DefaultHeaders.java#L84](https://github.com/netty/netty/blob/master/codec/src/main/java/io/netty/handler/codec/DefaultHeaders.java#L84) IIRC to decouple the array size from the number of buckets.  This may be beneficial when the spread of hash values is sparse amongst the total has

[2015-04-08 23:23] Scottmitch commented on #3600
Now that we are using this fancy `IntObjectMap` we should be able to lift the somewhat arbitrary `bucketSize` limitation...

[2015-04-09 01:29] Scottmitch commented on #3501
@nmittler - I have looked at this a bit more.  When events occur as a result of read operations I think we ultimately catch the `RuntimeExceptions` and translate these to GO_AWAY frames.  However on the send side we don't do this, but instead we sometimes (depending on if try/catch blocks are placed appropriately) fail the promise that was provided in the `writeXXX` call.  My concern is that we ar

[2015-04-09 12:25] normanmaurer commented on #3599
@fredericBregier @jurmous I think the exception is the right thing to do.

[2015-04-09 12:25] #3599 closed

[2015-04-09 12:27] normanmaurer commented on #3533
@chzhuo let me close this... Please re-open if you still see the issue after upgrade to 4.0.27.Final.

[2015-04-09 12:27] #3533 closed

[2015-04-09 12:31] normanmaurer commented on #3529
@trustin so with reverting you say we should "just" handle it again in the ByteToMessageDecoder explicit as before, right ?

[2015-04-09 12:51] Iker-Jimenez commented on #3519
we can reproduce this. Started happening when we upgraded from 4.0.23.Final to 4.0.26.Final.

[2015-04-09 12:57] normanmaurer commented on #3519
@Iker-Jimenez can you share an app and steps to reproduce this with me ? Or a unit test that reproduce this ?

[2015-04-09 12:58] Iker-Jimenez commented on #3519
I think this is the same as https://github.com/netty/netty/issues/3247

[2015-04-09 14:54] nmittler commented on #3501
@Scottmitch yeah, I think that makes sense.  So fail the promise and send RST_STREAM/GO_AWAY.  Are you thinking of just adding this as try/catch logic to each encoder.writeXXX method?

[2015-04-09 15:45] Scottmitch commented on #3501
@nmittler - I will investigate more but I think so....it is not ideal to handle these events up the pipeline because then the classes which invoke the listeners are implicitly depending on those higher level classes to be present to clean up....I think the other options are to track exceptions at the call sites and either log them or throw the last one...but as I said this gets ugly...especially i

[2015-04-09 15:47] Scottmitch commented on #3501
@nmittler - A "cleaner" alternative (from us tracking the exceptions perspective) is just to "log and swallow" these types of exceptions at the call site.  We won't have to worry about tracking/propagating the exceptions...but swallowing exceptions is terrible too....

[2015-04-09 15:50] Iker-Jimenez commented on #3247
as I said in #3519 , this has been introduced post 4.0.23.Final. Based on @timboudreau comment above, it was either introduced in 4.0.24 or 4.0.25. We noticed it when we upgraded to 4.0.26. We had to rollback to 4.0.23 because of this.

[2015-04-09 18:54] #3466 closed

[2015-04-09 18:55] normanmaurer commented on #3447
I think this was fixed in #3567. Please re-open if still present with 4.0.27.Final

[2015-04-09 18:55] #3447 closed

[2015-04-09 18:57] normanmaurer commented on #3432
@marcottedan can you share your full code, or is it closed-source ?

[2015-04-09 18:58] normanmaurer commented on #3414
@gurudk I think it was fixed in 4.0.26.Final, please reopen if still a problem

[2015-04-09 18:58] #3414 closed

[2015-04-09 18:59] normanmaurer commented on #3393
@mxk1235 like @trustin said this seems like a RestEasy bug. Please re-open if you still think it is a netty bug

[2015-04-09 18:59] #3393 closed

[2015-04-09 19:07] marcottedan commented on #3432
Unfortunately it's closed-source and I moved to a new organization since the creation of this issue.

[2015-04-09 19:08] normanmaurer commented on #3357
After talking with others it seems like it makes not big difference. Closing it

[2015-04-09 19:08] #3357 closed

[2015-04-09 19:10] normanmaurer commented on #3332
Let us close this and just continue in  netty/netty-tcnative#29 as @trustin suggested

[2015-04-09 19:10] #3332 closed

[2015-04-09 19:18] normanmaurer commented on #3229
@gbehrmann are you still interested in providing a PR ?

[2015-04-09 19:20] #3100 closed

[2015-04-09 19:21] gbehrmann commented on #3229
@normanmaurer, yes I am - just happen to be very busy lately (LHC startup for run two means everybody around here is trying to get all systems back into production mode).

[2015-04-09 19:21] normanmaurer commented on #3097
It hangs on the sync on a DefaultChannelPromise. This looks more like an user error than a bug.

[2015-04-09 19:21] #3097 closed

[2015-04-09 19:26] normanmaurer commented on #3060
@shevek At least in current netty versions the exception is correctly propagated.

Please reopen if you still think there is an issue

[2015-04-09 19:26] #3060 closed

[2015-04-09 19:29] normanmaurer commented on #3059
This is still valid.. Need to be fixed

[2015-04-09 19:58] normanmaurer commented on #3059
@shevek-nebula actually I just spend some time here and I think there is no risk to miss something here. Each pipeline.fire* call will take care of catch and propagate the exception by itself. So I think it is fine... Still I guess we should make it more consistent. WDYT ?

[2015-04-09 20:00] normanmaurer commented on #2925
Totally forgot about this. Will look into it or would you want to submit a pr @garretwu ? We love contributions :)

[2015-04-09 20:01] normanmaurer commented on #2845
PR for this: https://github.com/netty/netty/pull/3481

[2015-04-09 21:30] nmittler commented on #3501
@Scottmich actually, I think I like logging (WARN?) better. Do you want to throw a PR together?

[2015-04-09 21:44] Scottmitch commented on #3501
@nmittler - I'm glad you said that because I just finished a PR for this..and just added a unit test for it ;)

[2015-04-09 21:45] Scottmitch commented on #3501
@nmittler - I updated the javadocs to describe this behavior (and logged it as an error).

[2015-04-09 22:29] Scottmitch commented on #3196
@nmittler - Do you feel that this should be a candidate for 4.1? It looked like you had things pretty well isolated in gRPC but what is your exposure to this?

[2015-04-09 23:17] nmittler commented on #3196
@Scottmitch this could be a significant effort. I'm not sure I understand the motivation for this given the nature of the Netty pipeline in 4.0+.

[2015-04-09 23:20] Scottmitch commented on #3196
@nmittler - IIRC this issue is less about the pipeline and channels and more about the public interfaces we expose and how that relates to the state we keep.  For example I recall making some variables `volatile` in the [DefaultHttp2LocalFlowController](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2LocalFlowController.java#L47) becaus

[2015-04-10 02:51] trustin commented on #3529
@normanmaurer Yes. Currently, our change affects all handlers and some of them don't really need it.  Perhaps it's better for us to provide a superclass that ByteToMessageDecoder and other aggregating handlers can extend.  If that's impossible, we should go back to the bad old days.

[2015-04-10 02:53] trustin commented on #3587
In 5, a handler always have handler methods for both directions. We are discussing about reworking the internal behavior we introduced to fix this in a better way.  See #3529

[2015-04-10 03:53] trustin commented on #3435
@danbev Congratulations! :-D

[2015-04-10 04:22] normanmaurer commented on #3529
@trustin I see :) you want to work on it or should I do?

[2015-04-10 04:48] danbev commented on #3435
Thanks guys!

fredag 10 april 2015 skrev Trustin Lee <notifications@github.com>:

[2015-04-10 05:01] trustin commented on #3529
You can take it if you want :-)

[2015-04-10 05:17] normanmaurer commented on #3529
@trustin so what you think about revert first and work in a proper fix after? So at least it's not broken in the meantime.

[2015-04-10 05:18] trustin commented on #3529
@normanmaurer We could just issue a pull request with a revert commit and a fix.

[2015-04-10 05:26] normanmaurer commented on #3529
@trustin ok... Let me see if I can come up with a good fix today.

[2015-04-10 07:32] normanmaurer commented on #2996
@yinfeifan @Harry5573 let me close this. If the problem still exists let me know and re-open.

[2015-04-10 07:32] #2996 closed

[2015-04-10 09:55] kyankovski commented on #3539
Hi, sorry for so big delay. I've looked through the changes 4.0.25->4.0.26 and found a lot of changes in io.netty.channel.epoll package. So I tried to switch the server from 'epoll' to 'nio' mode and all errors disappeared. (But we still want to work in 'epoll' mode.) So I believe is somewhere around epoll changes in 4.0.26.

There is a simplified part of our code where pipeline is initialized:
[c

[2015-04-10 10:15] normanmaurer commented on #3565
@arungeorge81 thanks.. just let me know once you did.

[2015-04-10 10:16] normanmaurer commented on #3539
@kyankovski thanks will check in detail

[2015-04-10 11:31] normanmaurer commented on #3529
@trustin actually can you take this as I'm investigate in #3539 atm :/

[2015-04-10 12:22] garretwu opened #3604 "potential memory leak in 4.0.19.final"
I am using netty pooledByteBufAllocator as memory pool of my service.
The pattern is 1000+ front-end threads allocate ByteBuf to store the incoming data, and back end thread will use these ByteBuf and reclaim them.

However, I found that my service memory size keep increasing. Even when I stop all load, memory size does not shrink.(after PoolChunk be GCed the overall memory size will decrease, rig

[2015-04-10 13:06] normanmaurer commented on #3604
No the memory usage will not go down once gc'ed. Why you think this would be the case?

[2015-04-10 13:41] normanmaurer commented on #3604
@garretwu but anyway we should dereference the chunk to allow faster GC. I think it will not help you though

[2015-04-10 14:15] garretwu commented on #3604
Thanks @normanmaurer ,  I may not express myself clearly.
What I see is that there are 100+ PoolChunk in heap dump even I stop the load, each of them is referenced by PooledHeapByteBuf which stay in Recycler's threadlocal stack.
Given all pooledByteBufs are released, I should not see so much PoolChunk in heap, right?

[2015-04-10 14:17] normanmaurer commented on #2925
@garretwu what you think about provide a PR for this ? I'm still not 100 % sure I understand the issue correctly, so maybe it would be the easiest to just have you fix it ;)

[2015-04-10 14:30] kyankovski commented on #3539
Unfortunately I still can't reproduce this bug locally, but if you have any ideas I can try some patched jar  on prod. So if it will help please provide a patch or a jar.

[2015-04-10 14:34] normanmaurer commented on #3539
Working on it. Should have a jar soon :)

[2015-04-10 14:53] nmittler commented on #3196
@Scottmitch Yeah I recall that, although I'm not sure I entirely agree with the rationale. What is the use case for this? Would it be sufficient to document these interfaces as not thread-safe?

[2015-04-10 15:53] nmittler commented on #3550
Remaining copy resolved by #3603.

[2015-04-10 15:53] #3550 closed

[2015-04-10 16:05] Scottmitch commented on #3196
@nmittler - I think we need some story for this.  Whether it is making thread safe...or documenting that it is not.  I think most of Netty takes the approach that public interfaces (outside of pipeline stuff) are thread safe.

[2015-04-10 16:10] nmittler commented on #3196
@louiscryan @normanmaurer any thoughts on this?

[2015-04-10 16:41] normanmaurer commented on #3196
@Scottmitch @nmittler I think not have them thread-safe is fine as long as it is clear. So whatever makes more sense.

[2015-04-10 17:03] normanmaurer commented on #2845
Fixed by #3481

[2015-04-10 17:03] #2845 closed

[2015-04-10 17:13] louiscryan commented on #3196
Documentation seems like the right approach unless we want to add significant delay to releasing 4.1.

[2015-04-10 18:26] virtman commented on #3604
-XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=10
you can try to run any java program with the parameters above, hard to say, if that is good way to go, but your program will give back memory to system after gc.

[2015-04-10 18:35] Scottmitch commented on #3196
+1 for documenting...and I think we can get rid of volatile variables now :)

[2015-04-10 18:52] normanmaurer commented on #3196
+1 :)

[2015-04-10 18:53] nmittler commented on #3196
+1

[2015-04-10 19:20] normanmaurer commented on #3592
Fixed.. Thanks for reporting

[2015-04-10 19:20] #3592 closed

[2015-04-10 19:24] Scottmitch opened #3608 "PrimitiveCollections template support"
Recently a template system was introduced to support more primitive type collections.  We should update `PrimitiveCollections` to reflect our broader support for primitive typed collections. This will likely involve making `PrimitiveCollections` templated in some fashion.

[2015-04-10 19:24] Scottmitch commented on #3608
@nmittler - FYI.

[2015-04-10 19:45] normanmaurer commented on #3539
@kyankovski could you try to build a jar from the PR #3611 and use it ? This should hopefully fix your problem. Please let me know

[2015-04-10 19:51] normanmaurer commented on #3608
+1

[2015-04-10 20:56] nmittler opened #3613 "Performance comparison of Agrona"
Just starting a discussion of performance of the [Agrona](https://github.com/real-logic/Agrona/tree/master/src/main/java/uk/co/real_logic/agrona/collections) [Int2ObjectHashMap](https://github.com/real-logic/Agrona/blob/master/src/main/java/uk/co/real_logic/agrona/collections/Int2ObjectHashMap.java) vs our IntObjectHashMap.

At first look, they blow us away:

| Benchmark |  (size) | Mode | Cnt | S

[2015-04-10 21:02] normanmaurer commented on #3613
@nmittler wow :) I guess we have to fix this ;)

[2015-04-10 21:03] nmittler commented on #3613
@normanmaurer agreed! Any thoughts on just taking Agrona as a dependency? It's pretty small.

[2015-04-10 21:06] normanmaurer commented on #3613
@nmittler we can't take it for "common" as we want to stay zero-dependency for the core. If its for http2 only I have no problem with it to be honest. @trustin wdyt ?

[2015-04-10 21:54] garretwu commented on #3604
Thanks @virtman ,  I will try.
However, what I met is that PoolChunk can not be GCed. Seems it is not the correct behavior for PooledByteBufAlloctor, right?

Even we need pool some chunks to reduce memory allocation, but 100+ unused PoolChunk in heap does not sounds good...

It is more like object pool(PooledByteBuf pool) prevent memory pool(PoolChunk pool) to shrink because we do not dereference

[2015-04-10 21:56] normanmaurer commented on #3604
@garretwu I just pushed a commit that will ensure these can de-referenced but like I said I'm not sure this is really the fix for the problem you see.

[2015-04-10 22:02] garretwu commented on #2925
sure, I could create a PR:)

[2015-04-10 22:06] normanmaurer commented on #2925
This would be awesome!

[2015-04-10 22:24] ejona86 commented on #3613
Agrona requires Java 8, FWIW. I don't know why, but both the README.md and gradle.build say 1.8.

[2015-04-10 23:15] nmittler commented on #3613
@ejona86 yeah I saw that ... worst case we could replace our implementation with theirs.

[2015-04-10 23:27] buchgr commented on #3613
@nmittler thanks for the benchmark! Very interesting results!

I ll extend the benchmark to
 1. See how we compare to other collection libraries esp. JDK, fastutil and Koloboke. I have no idea if Agrona is particularly fast.
 2. Retrieval perf will be interesting
 3. Different number distributions. Random numbers are fine, but I would argue that they are the best case for hash maps as they natural

[2015-04-10 23:30] Scottmitch commented on #3613
@nmittler - Thanks for sharing!  Room for improvement for sure :)

@buchgr - +1 for your extension cases.  Also what about inserting the same key multiple times.

[2015-04-11 00:15] Scottmitch commented on #3608
We should hold off on this until we decide what to do about https://github.com/netty/netty/issues/3613.  No sense doing the work if we aren't going to keep our collections :)

[2015-04-11 00:19] Scottmitch opened #3619 "HTTP/2 HTTP translation layer state tracking"
The HTTP translation layer currently maintains its own map to track stream state.  This may be more overhead that is necessary and issue https://github.com/netty/netty/issues/3596 is investigating improving the state to be associated with streams.  After this issue is resolved we should update the HTTP translation layer to take advantage of it.

[2015-04-11 00:22] Scottmitch commented on #3613
@ejona86 - Thanks for pointing that out.  I think java 8 is a deal breaker.  We need java 7 (and I think java 6) for 4.x.

@nmittler - If there is java8 stuff...maybe we could port over to supplement these with older JDK stuff?  Either way we should wait until @buchgr adds other libraries to see if there is a better one before we adopt one....

[2015-04-11 01:09] leogomes commented on #3523
Created PR here: https://github.com/netty/netty/pull/3620

[2015-04-11 04:29] garretwu commented on #3604
Hi @normanmaurer, looks like the commit breaks following tests of netty/buffer:

 PooledLittleEndianHeapByteBufTest.testEnsureWritableAfterRelease »  Unexpected...
  PooledLittleEndianDirectByteBufTest.testEnsureWritableAfterRelease »  Unexpect...
  PooledBigEndianHeapByteBufTest.testEnsureWritableAfterRelease »  Unexpected ex...
  PooledBigEndianDirectByteBufTest.testEnsureWritableAfterRelease »

[2015-04-11 04:29] #3604 closed

[2015-04-11 04:39] normanmaurer commented on #3604
Doh! Let me fix asap

[2015-04-11 04:53] normanmaurer commented on #3604
Commit reverted.

[2015-04-11 04:53] normanmaurer commented on #3604
Commit reverted.

[2015-04-11 04:55] normanmaurer commented on #3613
+1

[2015-04-11 09:40] WhiteTrashLord commented on #3600
I also don't understand why you did what you did. The class DefaultHttpHeaders is very complicated as well. Probably it makes sense for HttHeaders which come from a server. But I think it
s by far too much code for HttHeaders which you want to send to a client from a Netty HTTP server.
Therefor I suggest that we make a second much simpler HttpHeader class for Headers which are always sent from the

[2015-04-11 14:42] nmittler commented on #3613
@Scottmitch +1

[2015-04-12 05:12] trustin commented on #3613
If their (the fastest one for our use cases) license is compatible we could fork the necessary portion only after doing a backport if necessary.

We'll have to keep track of the forked works from time to time though, so we athe fixed from the upstream.

Alternatively, we could consider changing our policy about the core dependencies in 5. Ideas?

[2015-04-12 05:24] trustin commented on #3600
My guess about perf difference between `AsciiString` and `String` is `String.equals()` is an intrinsic function. Didn't have time to dig deeper though.

[2015-04-12 07:26] buchgr commented on #3600
@trustin yes, got a PR regarding this on Monday.

[2015-04-12 11:34] normanmaurer opened #3623 "CompositeByteBuf.iterator() should do no memory copy"
CompositeByteBuf.iterator() currently creates a new ArrayList and fill it with the ByteBufs, which is more expensive then it needs to be.

[2015-04-12 11:37] normanmaurer commented on #3373
Fixed by ##3609

[2015-04-12 11:37] #3373 closed

[2015-04-13 05:57] garretwu commented on #2925
Hi @normanmaurer.
PR: https://github.com/netty/netty/pull/3624 is created for such issue.

mvn test pass.

end to end test:
Dumped heap to check.
with Dio.netty.allocator.maxCachedBufferCapacity: 32768 (cache max 32K),
NormalMemoryRegionCache size is 3(8k, 16k, 32k), rather than previous 4.

[2015-04-13 07:03] normanmaurer commented on #2925
Fixed by #3624

[2015-04-13 07:03] #2925 closed

[2015-04-13 10:31] krasa commented on #327
@cbatson I have this problem now too, it seems related to YourKit. My app goes nuts when sampling is enabled and eats cpu with the agent enabled.
![image](https://cloud.githubusercontent.com/assets/1160875/7113944/f4ac4b5e-e1d8-11e4-81bc-b11823197efa.png)

[2015-04-13 12:07] balparslan opened #3625 "Netty IdleStateHandler finalize"
How is IdleStateHandler closed on Android? I tried to use finalize() method but thread referred to IdleStateHandler is continue to work.

[2015-04-13 12:13] normanmaurer commented on #3625
@balparslan which version ?

[2015-04-13 12:43] balparslan commented on #3625
@normanmaurer  4.0.27

[2015-04-13 12:48] normanmaurer commented on #3625
@balparslan the IdleStateHandler uses the EventLoop of the Channels itself. So as long as the EventLoopGroup which is used by the Channels is alive you will see the threads.

[2015-04-13 12:48] #3625 closed

[2015-04-13 13:34] normanmaurer commented on #3539
@kyankovski ping :)

[2015-04-13 13:48] kyankovski commented on #3539
Could you please send me a netty-all jar file? It will be much easier for me not to set up and build the project...

[2015-04-13 14:29] tea-dragon commented on #3534
+1 -- put those new unsafe methods to work

[2015-04-13 15:23] nmittler commented on #3608
@Scottmitch +1

[2015-04-13 15:32] nmittler commented on #3613
If we did decide to take an extra dependency, it wouldn't need to be on the common module.  I believe that the map is used mostly by the http2 module at present. The HTTP headers also uses it, but depending on the aftermath of #3600, this may change as well.

[2015-04-13 15:57] Scottmitch commented on #3501
#3615 cherry-picked

[2015-04-13 15:57] #3501 closed

[2015-04-13 18:26] normanmaurer commented on #3539
@kyankovski send me an email to norman dot maurer at googlemail dot com and I will respond with the jars :)

[2015-04-13 19:06] Scottmitch commented on #3623
Thanks for reporting!

[2015-04-13 19:18] #3448 closed

[2015-04-13 21:50] nmittler commented on #3613
FYI, I just changed (locally) the map template to use masking rather than mod for generating the hash index and our performance is now on par with Agrona.  Bear in mind these numbers were generated on my laptop :)

Benchmark                         (keyDistribution)  (mapType)  (size)   Mode  Cnt         Score         Error  Units
IntObjectHashMapBenchmark.lookup              HTTP2     AGRONA

[2015-04-13 23:41] buchgr commented on #3613
@nmittler thanks looks good. With a size of 100k elements we will have roughly 400k of data. So we have a ~30% chance of hitting L1, and depending on your processor it might all fit in L2. That way collisions don't really hit us that hard. It would be interesting to see how everything performs with 1M or 10M elements.

[2015-04-14 00:06] Scottmitch commented on #3613
@nmittler - masking for the win!  Looks great... I'll take a look at https://github.com/netty/netty/pull/3627

BTW I wrapped your post in 3 ticks so it is a bit easier to read.

[2015-04-14 04:40] normanmaurer commented on #3529
@trustin you can check or you have no time ?

[2015-04-14 05:45] buchgr commented on #3596
I did some thinking on this issue today and after having seen a few approaches (#3602, #3616, #3593), I came to the conclusion that we will likely not find a "clean" approach for this issue that will satisfy everyone.

Given that I think it's better to make some progress than none, I think we should go with @nmittler's solution #3593. The reason being that in my opinion it's likely the solution th

[2015-04-14 05:51] #3531 closed

[2015-04-14 06:17] normanmaurer commented on #3531
Fixed by #3541

[2015-04-14 18:55] buchgr opened #3630 "Case sensitivity in HTTP/2 Headers."
This is to clarify some of the comments made in #3626 regarding case sensitivity of HTTP/2 Headers. (See https://github.com/netty/netty/pull/3626#issuecomment-92495119 and below).

Right now the HTTP/2 Headers have a feature to convert header names to lower case whenever they are inserted. It's turned on by default. Furthermore, all the equals comparisons when looking up names are always done case

[2015-04-14 19:07] Scottmitch commented on #3630
@buchgr I'm assuming when you say `HTTP/2 Headers` you mean `header names in HTTP/2`, and if so +1 for HTTP/2 but -1 for HTTP/1.x.  [HTTP/1.x does not have the same restrictions](https://tools.ietf.org/html/rfc7230#section-3.2) as HTTP/2 w.r.t to header names and I think we still must do case insensitive comparisons / hash code generation.

[2015-04-14 19:13] Scottmitch commented on #3630
@buchgr - That being said if we are planning on diverging the implementations again (which I would prefer if we didn't have to) I think it would be useful to analyze the impact `HashCodeGenerator` has on performance / memory.

[2015-04-14 22:20] buchgr commented on #3630
@Scottmitch ok thanks. I am not planning on having completely separate implementations again. I think I have a plan on how to do with one without all this stuff. Will know more tomorrow, hope it works out :-). Wish me luck!

[2015-04-14 23:28] Scottmitch commented on #3630
@buchgr - That would be awesome! Good luck :)

[2015-04-14 23:33] Scottmitch commented on #3630
@buchgr - I'm going to pull in https://github.com/netty/netty/pull/3579.  I think it will make merging / re-work easier for your efforts in the headers re-work area.  Note you will have a small merge to resolve for your https://github.com/netty/netty/pull/3626 PR (just move your equals method changes from `AsciiString` to `ByteString`).

[2015-04-15 01:36] Scottmitch commented on #3596
I would like to have an improvement in the properties map (@nmittler's https://github.com/netty/netty/pull/3593) but I would also like to have the feature (top level flow controller interface...flow control is a required part of the spec...I'm not convinced making it accessible is a problem) / potential improvements (only allocate the "full" state for flow control when it is actually needed...othe

[2015-04-15 02:03] Scottmitch commented on #3557
@nmittler - I'm reading the spec the same way you are.  I have opened https://github.com/http2/http2-spec/issues/743 to see if perhaps we can get some additional clarity before implementing this historical closure feature.

[2015-04-15 04:28] odbuser2 opened #3632 "SSL fails on example in 4.0.27.Final"
io.netty:netty-all:4.0.27.Final
io.netty:netty-example:4.0.27.Final
Example: io.netty.example.http.file.HttpStaticFileServer
JavaSE: Oracle 8u40 on OSX

This example fails to serve a file when you use SSL (-Dssl=true).  Directory listing works fine.

[2015-04-15 05:37] trustin commented on #3632
Duplicate of #3592

[2015-04-15 05:37] #3632 closed

[2015-04-15 14:45] kyankovski commented on #3539
@normanmaurer The bug is not reproduced with the provided jar.

[2015-04-15 15:28] benmccann commented on #3588
https://github.com/netty/netty/pull/3579 has been merged now. Not sure if that'd unblock us from cutting an RC? Or maybe we're waiting for the DNS refactor (https://github.com/netty/netty/pull/3499) still as well?

[2015-04-15 15:56] nmittler commented on #3557
@Scottmitch sgtm ... thanks!

[2015-04-15 16:27] huguesb opened #3633 "EmbeddedChannel and autoRead=false"
While working on a fix for #3529 and #3587 I was discovered that the behavior of EmbeddedChannel doesn't accurately reflect that of a real channel when autoRead is false.

The fix I came up with breaks DefaultChannelPipelineTest.testChannelReadNotTriggeredWhenLast and upon reading, the test code looks wrong, in the sense that the expected behavior is not consistent with what I would expect from a

[2015-04-15 16:31] huguesb commented on #3633
To further clarify, `EmbeddedChannel.writeInbound` always fire `channelRead` even when:
  - the channel is not configured for auto-read
  - `read()` hasn't been called since the last `channelReadComplete`

I believe this is incorrect and the inbound messages should instead be buffered until `doBeginRead` is called.

[2015-04-15 16:43] normanmaurer commented on #3539
Awesome thanks... closing :+1:

[2015-04-15 16:43] #3539 closed

[2015-04-15 16:53] nmittler commented on #3613
@Scottmitch  thanks, much better! :)

[2015-04-15 18:58] nmittler commented on #3596
@Scottmitch if we can get #3593 to the point where performance is no longer an issue, I'm not sure I see the point also exposing the flow control states in the API.  Unless you have a compelling reason, this seems like interface bloat and added complexity with no real benefit.

[2015-04-15 20:43] Scottmitch commented on #3596
@nmittler - Can we move the comments to their respective PRs?  Helps to have context.

[2015-04-15 21:27] Scottmitch commented on #3594
https://github.com/netty/netty/issues/3618 fixed this

[2015-04-15 21:27] #3594 closed

[2015-04-15 21:45] rhart opened #3634 "HTTPProxyHandler CONNECT"
Netty version: 4.1.0.Beta4

Is it right that HTTPProxyHandler always sends a CONNECT request?  As I understand the spec, I think this is only applicable when you want to do tunneling?

[2015-04-16 02:49] trustin commented on #3634
Yes. Netty cannot assume you want to issue an HTTP request in your proxied connection, so it always opens a tunnel with a CONNECT request.

[2015-04-16 02:54] trustin commented on #3588
I'd prefer having a couple more betas just in case we've made some mistakes in API design / package organization, etc. Will try to finish the DNS refactor soon.

[2015-04-16 08:06] normanmaurer commented on #3633
@huguesb +1... Want to submit a PR ? We love contributions :+1:

[2015-04-16 08:07] normanmaurer commented on #3588
@trustin fine by me... What you think about cut another beta early next week ? I would volunteer to do the whole release dance ;)

[2015-04-16 08:24] karuturi opened #3636 "When using netty for a large file upload, how can I get uploaded size while upload is in progress?"
I am running the sample code from https://github.com/netty/netty/blob/master/example/src/main/java/io/netty/example/http/upload/HttpUploadServerHandler.java

I would like to get the upload percentage in writeHttpData if the datatype is FileUpload

StackOverflow post: http://stackoverflow.com/questions/29507687/

[2015-04-16 08:58] trustin commented on #3588
@normanmaurer Sure. Fine by me!

[2015-04-16 09:31] rhart commented on #3634
Ok thanks.  I just noticed that if I create my own crude proxy and set it as the proxy for a browser then I do not get a CONNECT so was just checking.

What you're saying is that all proxies will (should) be able to deal with being sent a CONNECT even for a HTTP request.

[2015-04-16 09:31] #3634 closed

[2015-04-16 09:54] trustin commented on #3634
@rhart Yes. The proxies that do not allow CONNECT will not work with Netty's HTTP proxy support implementation. In such a case, you'd better use the proxy support provided by the HTTP client libraries such as async-http-client. /cc @slandelle

[2015-04-16 10:05] rhart commented on #3634
The problem is, we are using Netty to create a HTTP client and therefore need this support in Netty :)  It sounds like from what you're saying we would need to roll our own proxy support?

[2015-04-16 10:12] trustin commented on #3634
[AsyncHttpClient](https://github.com/AsyncHttpClient/async-http-client) has Netty-based backend, so I guess it might be possible to use your existing event loop to send an HTTP request with AsyncHttpClient. I didn't take a close look though.

[2015-04-16 11:22] rhart commented on #3634
Thanks @trustin, I will look into this