[2016-11-18 07:53] #6029 closed

[2016-11-18 07:57] Scottmitch commented on #3534
No update. We haven't discussed any concrete plans for Netty 5 (in general). Also no concrete plans of changing the existing JDK support for Netty 4.

[2016-11-18 08:06] Scottmitch commented on #5941
Can you clarify exactly what this means? What type of problem, and is the socket ultimately closed as a result of this problem?

Please clarify why bytes are lost and what you expect Netty to do in these cases.

[2016-11-18 08:08] killjason commented on #6030
OK, got it.

[2016-11-18 08:08] #6030 closed

[2016-11-18 08:48] johnou commented on #5931
I thought it might be related to a hung connection which didn't init the SSL handshake and then was cleaned up by the IdleStateHandler but I wasn't able to reproduce it yet.

[2016-11-18 09:24] bogdanRada commented on #3534
I feel sad  :(  I managed to fix my issue....i was using scribejava for Oauth2 ...and their http client ( which is based on this library)  is working well for Android API Level >= 23, but for lower levels it had that issue with SSLParameters.html#setEndpointIdentificationAlgorithm which is missing, so i ended up  writing my own client which implements their interface HttpClient , and using a diffe

[2016-11-18 09:33] johnou commented on #5994
I don't think this makes sense at all, Netty is "zero" dependency.

[2016-11-18 11:22] #6016 closed

[2016-11-18 11:25] normanmaurer commented on #6016
Fixed by https://github.com/netty/netty/pull/6018

[2016-11-18 11:45] normanmaurer commented on #6023
looking into now... stay tuned

[2016-11-18 14:57] derbylock opened #6037 "Make FixedChannelPool non final"
We use **FixedChannelPool**  in our project. But we have some problems adopting it to our needs. For example, we want to override methods **_pollChannel_** and **_offerChannel_** for monitoring purposes. We want to monitor count of channel objects in the pool. But it is difficult because **FixedChannelPool** is final. Could you consider removing final keyword from it, please?

[2016-11-18 15:04] nmittler commented on #6019
SGTM ... @ximyu do you want to throw together a PR?

[2016-11-18 16:06] jesperpedersen opened #6038 "4.0.42: java.lang.NoClassDefFoundError: Could not initialize class io.netty.util.internal.PlatformDependent0"
In WildFly (a JavaEE server) I get the following during init using Netty 4.0.42
[code]

The jar contains
[code]

Previous version (Netty 4.0.32) gave no NCDFE, but logged
[code]
during startup.

WildFly is using an isolated classloader environment based on JBoss Modules.

[2016-11-18 16:15] jesperpedersen commented on #6038
Netty 4.0.40 works

[2016-11-18 16:36] Scottmitch commented on #6038
what OS and JVM?

[2016-11-18 16:38] jesperpedersen commented on #6038
[code]
on Fedora 24

[2016-11-18 16:57] Scottmitch commented on #6038
Looks like we just need to be more careful about exceptions here.

[2016-11-18 19:48] normanmaurer commented on #6036
@Scottmitch I will take a crack on this....

[2016-11-18 20:12] ximyu commented on #6019
Sure
On Fri, Nov 18, 2016 at 7:09 AM Nathan Mittler <notifications@github.com>
wrote:

[2016-11-18 20:17] normanmaurer commented on #6019
@ximyu thanks!

[2016-11-18 20:35] normanmaurer commented on #6037
Sounds ok to me... @Scottmitch ?

[2016-11-18 20:35] normanmaurer commented on #6021
Let me close this and please re-open if you think there is anything wrong in netty

[2016-11-18 20:35] #6021 closed

[2016-11-18 20:36] normanmaurer commented on #6015
will check

[2016-11-18 20:39] normanmaurer commented on #5950
@svnp10 ping

[2016-11-19 07:34] Scottmitch commented on #6034
Happened again while building PR https://github.com/netty/netty/pull/6042

https://garage.netty.io/teamcity/viewLog.html?buildId=13825&buildTypeId=pulls_netty&tab=buildLog

[code]

[2016-11-19 07:41] Scottmitch commented on #6034
The test took longer than usual on this particular build too, and the previous build we got a OOME

https://garage.netty.io/teamcity/viewLog.html?buildId=13825&buildTypeId=pulls_netty&tab=testsInfo

[2016-11-19 07:44] normanmaurer commented on #6034
@Scottmitch I will look into it today.

[2016-11-19 17:23] #6038 closed

[2016-11-19 17:25] Scottmitch commented on #6034
Here is a link to the OOME while executing the same test while building PR https://github.com/netty/netty/pull/6041

https://garage.netty.io/teamcity/viewLog.html?buildId=13824&buildTypeId=pulls_netty&guest=1

[2016-11-19 17:31] Scottmitch opened #6048 "SocketTest#testPeerCreds failure"
https://garage.netty.io/teamcity/viewLog.html?buildId=13836&buildTypeId=pulls_netty&guest=1 while building PR https://github.com/netty/netty/pull/6044#pullrequestreview-9349114

[code]

[2016-11-19 17:33] Scottmitch commented on #6048
This should be fixed by https://github.com/netty/netty/pull/6000

[2016-11-19 18:49] normanmaurer opened #6049 "Testfailure in ClientCookieDecoderTest"
https://garage.netty.io/teamcity/viewLog.html?buildId=13846&buildTypeId=netty_build_oraclejdk7

java.lang.AssertionError: expected: 50, actual: -9223372036854775808
    at io.netty.handler.codec.http.cookie.ClientCookieDecoderTest.testDecodingSingleCookieV0(ClientCookieDecoderTest.java:50)

@slandelle can you have a look?

[2016-11-19 20:05] slandelle commented on #6049
I haven't been able to reproduce so far.

I even turned the test into a JMH benchmark with no avail:
[code]

[2016-11-19 20:08] slandelle commented on #6049
@normanmaurer Could you please merge my pending PR, before I send another one to improve the test and try to figure out what's going on?

[2016-11-20 20:16] slandelle commented on #6049
@normanmaurer Actually, I wonder if this failure really happened on the version that got finally merged. This failure might have been caused by an intermediate version that got fixed before final cherry-pick.

<img width="539" alt="teamcity" src="https://cloud.githubusercontent.com/assets/849197/20465795/6e062ec8-af66-11e6-9386-820e49b5d945.png">

[2016-11-20 23:33] flozano commented on #5994
In the simplest use-case for a BOM, it's just very convenient to import it in the dependencyManagement version and be able to depend on any individual netty artifact without declaring a version. That capability by itself is useful and makes sense.

But there's more. Netty may be "zero dependency", but projects a project depends on may depend on netty themselves. This is not only about what netty d

[2016-11-21 00:48] radai-rosenblatt commented on #6049
happens to me, at 782b7bcf4a1db5f33078fe8f7ded8059770f7fc4
`cookieString="myCookie=myValue;expires=Mon, 21 Nov 2016 00:36:11 GMT;path=/apathsomewhere;domain=.adomainsomewhere;secure;"`

it eventually fails to find the time part out of that expired string.

[2016-11-21 00:54] radai-rosenblatt commented on #6049
after some further investigation the issue is parsing time stamps around midnight - "00:**:**".
this triggers the following code in HttpHeaderDateFormatter:
[code]
00  means currentPartValue is 0, but the code thinks this means an error (which is wrong)

[2016-11-21 01:10] radai-rosenblatt commented on #6049
i've put up a PR to try and resolve this - https://github.com/netty/netty/pull/6050

[2016-11-21 06:50] normanmaurer commented on #6023
Fixed by https://github.com/netty/netty/pull/6044

[2016-11-21 06:50] #6023 closed

[2016-11-21 07:22] normanmaurer commented on #6015
Ok I think what is wrong... But no worries its just a race in the test. Looking into it now.

[2016-11-21 07:26] slandelle commented on #6015
cool :)

[2016-11-21 10:00] normanmaurer commented on #5616
@Spikhalskiy let me close this as #5817 was fixed. Please reopen if you still need this

[2016-11-21 10:00] #5616 closed

[2016-11-21 10:39] CodingFabian opened #6051 "Sporadic dns reverse lookup failures "name has out-of-range pointer""
Found this in the log, not sure how to reproduce, as the same ip sometimes resolves correctly. maybe a race condition?

[code]

[2016-11-21 10:47] CodingFabian commented on #6051
oh this might be https://github.com/netty/netty/pull/5923 - i thought that was fixed in 4.1.6 already

[2016-11-21 13:39] normanmaurer commented on #5930
@liuhualh can you check if this still happens with latest 4.1 code ?

[2016-11-21 14:19] normanmaurer commented on #5930
@liuhualh also what I think happens is that you allocate from "non-io" threads `ByteBuf` and have a lot of these "non-io" threads. Can this be the case ? I am asking as each thread will hold various caches for allocations.

[2016-11-21 19:45] normanmaurer commented on #6049
Fixe by #6050

[2016-11-21 19:45] #6049 closed

[2016-11-21 19:48] Scottmitch commented on #6037
sgtm

[2016-11-21 19:48] normanmaurer commented on #6037
@derbylock could you provide a PR ?

[2016-11-21 20:55] normanmaurer commented on #5868
Fixed by https://github.com/netty/netty/pull/5869

[2016-11-21 20:55] #5868 closed

[2016-11-21 21:12] normanmaurer commented on #327
@hbprotoss @kupci can any of you share a reproducer maybe ?

[2016-11-22 02:35] liuhualh commented on #5930
@normanmaurer, you get the case and I also think so, from the above call stack, RcApnsService$2.run is a "non-io" thread, in my application there maybe have
hundreds of this kind thread (one per certificate). Also from the above call stack, the "non-io" thread calls SslContextBuilder.build() which eventually calls TheadLocal cache needed by OpenSslClientContext.

But my question is if it is constr

[2016-11-22 03:48] Hanson1129 commented on #1328
It seems not work with my test...
When "Too many open files" happens,the great URLClassLoader cannot do any classloading because URLClassLoader need a FD to findClass.
So the anonymous inner class , new Runnable(){} will cause a problem.
The stack is like this:

[code]

And even log.warn may cause NoClassDefFoundError,see the issue [issue 5962](https://github.com/netty/netty/issues/5962).We want t

[2016-11-22 07:41] normanmaurer commented on #6051
@CodingFabian yep looks related. Will release 4.1.7.Final this week.

[2016-11-22 09:43] normanmaurer commented on #5930
@liuhualh usually only a very limited number of threads allocate `ByteBuf` and so the default value for caches is ok. That said once you start to allocate from a ton of different non-IO threads the default value for caches may be too high. So there are multiple things you can do:

- Use a separate `PooledByteBufAllocator` instance with caches disabled for allocation that is done from outside the I

[2016-11-22 22:51] Scottmitch commented on #6034
Another OOME while building https://github.com/netty/netty/pull/6000.

@normanmaurer - has something changed recently here?

https://garage.netty.io/teamcity/viewLog.html?buildId=13929&buildTypeId=pulls_netty&guest=1
[code]

[2016-11-22 23:15] Scottmitch opened #6057 "SslHandlerTest#testTruncatedPacket ByteBuf leak"
Leak uncovered while building PR https://github.com/netty/netty/pull/6054

https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=13958#_focus=69576
[code]

[2016-11-22 23:15] Scottmitch commented on #6057
@normanmaurer - FYI

[2016-11-23 02:11] lightningMan opened #6058 "Question of ioRatio in NioEventLoop and two backed array in SelectedSelectionKeySet"
Hi,
I was reading netty source code these days, netty is really a great project and the source code is so beautiful！

Now I have two questions to ask for your help：
## purpose of ioRatio in [NioEventLoop](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/nio/NioEventLoop.java#L452).

Does ioRatio mean the elapsed time of io operation?As the method`processSelectedKey`

[2016-11-23 05:30] normanmaurer commented on #6034
Nope

[2016-11-23 10:08] normanmaurer commented on #6034
@Scottmitch woooot... I think I found the bug. Let me open a PR shortly

[2016-11-23 12:38] normanmaurer commented on #6037
Fixed by https://github.com/netty/netty/pull/6059

[2016-11-23 12:38] #6037 closed

[2016-11-23 13:21] slandelle commented on #4528
@normanmaurer Finally trying to take a stab at this one.
I have a question: what is `WebSocketClientHandshaker#processHandshake` about? It doesn't seem to be used anywhere.

[2016-11-23 20:15] Scottmitch commented on #6058
This provides a rough mechanism to control how much time is spent processing IO related tasks (socket reads, connects, closed, hangups, etc..) vs "non-IO" related tasks. The "non-IO" the Executor related events the IO thread has queued. The lower the number the more time will be spent on "non-IO" tasks, and currently 100 disables the timeout all together and runs all pending "non-IO" tasks.

Some

[2016-11-23 20:24] Scottmitch commented on #6058
let me take a stab at this...

[2016-11-23 23:50] lightningMan commented on #6058
@Scottmitch thank you for eliminating my doubts, this is my first time to create an issue in github. I am so happy for receiving your reply^^

[2016-11-24 19:23] normanmaurer commented on #6048
@Scottmitch why is this fixed by #6000 ?

[2016-11-24 19:32] normanmaurer commented on #5977
@xiaoshuang-lu its not final anymore... See https://github.com/netty/netty/commit/f6b37a38bac6dbea5dd2282c68a0f41c456f67a2. Let me close this one

[2016-11-24 19:32] #5977 closed

[2016-11-24 19:32] normanmaurer commented on #5946
@doom369 do I understand right that we can close this one now ?

[2016-11-24 19:33] normanmaurer commented on #5941
@beykery let me close this as this seems more like a question for which you should use our google group to stack overflow. This is an issue tracker

[2016-11-24 19:33] #5941 closed

[2016-11-24 19:33] normanmaurer commented on #5931
@johnou any news ?

[2016-11-24 19:34] normanmaurer commented on #5928
@svnp10 ping

[2016-11-24 19:34] normanmaurer commented on #5927
@rkapsi like I said I don't think it is worth it... Let me close this for now

[2016-11-24 19:34] #5927 closed

[2016-11-24 19:35] normanmaurer commented on #5920
@buchgr ping

[2016-11-24 19:38] normanmaurer commented on #5789
@jayv sorry I totally lost track here... Will try to debug tomorrow

[2016-11-24 19:39] normanmaurer commented on #4982
netty 3.x is EOL. Please upgrade to 4.x.

[2016-11-24 19:39] #4982 closed

[2016-11-24 19:40] normanmaurer commented on #4932
Netty 3 is EOL. Please upgrade to 4.x

[2016-11-24 19:40] #4932 closed

[2016-11-24 19:44] normanmaurer commented on #3711
@louiscryan can we close this one ?

[2016-11-24 19:47] normanmaurer commented on #3077
Netty 3 is EOL please upgrade

[2016-11-24 19:47] #3077 closed

[2016-11-24 19:48] normanmaurer commented on #2545
I think I fixed this one some time ago. Please re-test and reopen if still an issue

[2016-11-24 19:48] #2545 closed

[2016-11-24 19:49] normanmaurer commented on #2478
After thinking more about it this is not worth it... closing

[2016-11-24 19:49] #2478 closed

[2016-11-24 19:51] normanmaurer commented on #2023
I think we should just close this for now. If we find out this is a real problem we can re-visit

[2016-11-24 19:51] #2023 closed

[2016-11-24 19:51] normanmaurer commented on #1698
Ler me close this for now as there is not much we can do

[2016-11-24 19:51] #1698 closed

[2016-11-24 19:52] normanmaurer commented on #966
Let me close this as there seems to be no time for this

[2016-11-24 19:52] #966 closed

[2016-11-24 20:27] johnou commented on #5931
@normanmaurer unfortunately not, I wasn't able to reproduce it with any unit test I came up with. Silly question though, why is it trying to handshake when closing the channel?

[2016-11-24 20:31] normanmaurer commented on #5931
@johnou yeah I don't think it should try... that said I think it should also not try to fail a promise that was marked as success before.

[2016-11-24 20:35] johnou commented on #5931
@normanmaurer maybe I could store the stack of where the promise is marked as success and then log it if the promise cannot be marked..?

[2016-11-24 20:36] normanmaurer commented on #5931
@johnou yes... I will check why it tries to do a handshake in the meantime

[2016-11-24 21:05] doom369 commented on #5946
I think yes. `StringEncoder` is still slower, however there are pull request -https://github.com/netty/netty/pull/5532 with possible fix. So I'll wait for it. As within own code I did optimization.

[2016-11-24 21:05] #5946 closed

[2016-11-24 21:18] johnou commented on #5931
@normanmaurer I added a small debug hack into our next RC build, will let you know the results when it goes live.

io.netty.channel.DefaultChannelPromise

[code]

[2016-11-24 21:44] normanmaurer commented on #5931
Thx

[2016-11-25 03:45] byoengguk opened #6061 "EpollServerDomainSocketChannel.isActive() return false after bind operation succeed"
Netty version: 4.1.0.Final

Context: I found bug on EpollServerDomainSocketChannel class. Its isActive() method always return false. It is required to set isActive = true in doBind() operation like EpollServerSocketChannel.

Steps to reproduce:
1. Use EpollServerDomainSocketChannel class to server bootstrap's channel class
2. Bind any unix domain socket.
3. Server Channel's channelActive() is not

[2016-11-25 05:48] normanmaurer commented on #6061
Will check later today

[2016-11-25 07:10] normanmaurer commented on #6061
@byoengguk thanks for reporting... you are right. Let me fix this

[2016-11-25 11:50] normanmaurer commented on #3849
Did not see this for a long time... let me close

[2016-11-25 11:50] #3849 closed

[2016-11-25 13:36] normanmaurer commented on #5789
@jayv good news... I think I found the problem now looking into fixing it.

[2016-11-25 14:17] normanmaurer commented on #5931
@johnou good news... I think I have at least some idea about the handshake error. That said still interested in the stacktrace ;)

[2016-11-25 14:22] johnou commented on #5931
@normanmaurer awesome! Yeah no problem, the canary build version is in master branch now, although I might end up creating a hotfix package..

[2016-11-25 15:06] dimitarg commented on #2105
I don't think that Netty needs to implement CompletionStage in order to provide ```map```, ```bind```, and ```unit```. As long as the combinators are there, as a user I personally don't care at all if they are the JDK ones.
Maybe it makes sense to split the issue in two.

Such wrappers always create GC pressure though. Nice to have it in Netty - no extra objects needed.

[2016-11-25 15:46] dimitarg commented on #2105
Something I drafted up really quickly, might help as a very rough idea to whoever might take up implementing the canonical monadic operations for netty.Future:
https://gist.github.com/dimitarg/0d14f4b28719a8e5138198de9a551656

[2016-11-26 17:41] pfpmeijers opened #6062 "Memory leak with ThreadDeathWatcher"
We are suffering from a memory leak:
At certain point in time ~200 M instances of MemoryRegionCache$Entry objects, retained by ~5000 of ThreadDeathWatcher$Entry objects. These ThreadDeathWatcher$Entry objects are all connected into a linked list.
The ThreadDeathWatcher$Watcher's watchees array only contains 96 of direct references to ThreadDeathWatcher$Entry objects. In normal cases the size of th

[2016-11-26 17:50] normanmaurer commented on #6062
Can you share a heapdump?

[2016-11-26 18:03] normanmaurer commented on #6062
Also which Version of meets you are using @pfpmeijers

[2016-11-26 18:08] pfpmeijers commented on #6062
Its very big (10 GB) and because of security rules I am not allowed to share a complete heap dump. I am really sorry. I still hope there is some help possible without.
I can share specific views if you indicate what you want to see in the dump.

We use following version:
        <version.netty>3.2.6.Final</version.netty>

[2016-11-26 18:29] normanmaurer commented on #6062
Sorry but 3.x is EOL ... please Upgrade to 4.x

[2016-11-26 18:29] normanmaurer commented on #6062
That said you could also try upgrading to latest 3.x version. Yours is super old

[2016-11-26 19:17] normanmaurer commented on #6062
@pfpmeijers actually you must be using netty 4.x as 3.x has no `MemoryRegionCache`. So please share some screenshots which show the references. Also I wonder what linked-list you are talking about as we not use a linked list in `ThreadDeathWatcher `

[2016-11-26 20:07] pfpmeijers commented on #6062
I mean the ThreadDeathWatcher$Entry, see following picture. The MpscLinkedQueue refers to the head and the tail.
![image](https://cloud.githubusercontent.com/assets/8824711/20642889/724fad7e-b41b-11e6-8a2c-ca33933b2125.png)
Path to PoolThreadCache and MemoryRegionCache entries:
![image](https://cloud.githubusercontent.com/assets/8824711/20642896/96a225a8-b41b-11e6-9bb2-b0d499b9b1f0.png)
![image](h

[2016-11-26 20:35] normanmaurer commented on #6062
Do you use a lot of different threads that allocate buffers?

[2016-11-26 21:30] pfpmeijers commented on #6062
Could be, actually don't know the exact context. Not looked into that yet.
Started with Jprofiler to analyse the heap dump

On Nov 26, 2016 9:36 PM, "Norman Maurer" <notifications@github.com> wrote:

[2016-11-26 22:36] johnou commented on #5931
@normanmaurer

[code]

[2016-11-26 23:09] radai-rosenblatt commented on #6031
@jponge seems to recommend https://commons.apache.org/proper/commons-compress/

[2016-11-27 07:49] normanmaurer commented on #6031
This one only supports decoding but not encoding

[2016-11-27 22:30] ColadaFF opened #6063 "RxTx delay on echo (?)"
Hi there,

I'm implementing an iot project and I'm facing something that to me seems a little strange, I'm using RxTx protocol with netty and an arduino, and implementing and echo server-client data takes to long to get received by netty on the `channelRead0` method.

I know it is slow because I tried the same in python with pySerial and got around 23 messages per second, but in java with netty I

[2016-11-27 23:26] pfpmeijers commented on #6062
I had a look at the ThreadDeathWatcher code (4.0 version). Now have little better understanding.
The problem seems to be that I have ~5000 items in the pendingEntries queue, with a huge amount of retained memory.
Its the Watcher's fetchWatchees() function that polls the items out of this queue and puts them into the watchees list.
In the dump I can see the ThreadDeathWatcher.started field is true.

[2016-11-28 02:43] sorheart opened #6064 "How to control tls session ticket lifetime in netty?"
Hi there,

We can use session ticket can improve the performance of tls.
According to RFC5077:The TLS server controls the lifetime of the ticket.

But I cannot not find the way to control it, there is so few information about this.
I find the class OpenSslSessionTicketKey, but there is no timeout stuff in the class.
So how can we use session ticket in netty, to control the lifetime or change the k

[2016-11-28 03:24] sshling opened #6065 "netty-common-4.1.6.Final.jar \io\netty\util\collection"
The source of the lack of “io.netty.util.collection” package, I do not know whether to migrate, or other circumstances.

from  http://mvnrepository.com/artifact/io.netty/netty-common/4.1.6.Final
Jar package contains that  package

[2016-11-28 06:28] normanmaurer commented on #6062
@pfpmeijers a lot of items in the `pendingEntries` queue does not sound correct. Let me check the code if i can spot something

[2016-11-28 06:43] normanmaurer commented on #6065
@sshling its generated during the build from a template. Just run mvn clean compile and it will appear.

[2016-11-28 06:43] #6065 closed

[2016-11-28 07:11] normanmaurer commented on #6062
@pfpmeijers also please tell me the "exact" version you are using.

[2016-11-28 07:18] normanmaurer commented on #6062
@pfpmeijers after looking into your diagrams again I think you use an old 4.0.x version which had an issue in `MpscLinkedQueue`. Could you please upgrade to latest 4.0.x release and let me know if you still see the problem ?

[2016-11-28 07:18] normanmaurer commented on #6063
do you call `Channel.write*(...)` from outside the `EventLoop` ?

[2016-11-28 07:35] sshling commented on #6065
@normanmaurer
Thanks。Yes, mvn clean compile 。
In the target directory to generate the corresponding .class file ,but src/main/java/io/netty/util not generate the corresponding .java file.

I am using IntelliJ IDEA, transport-native-epoll module io.netty.channel.epoll.EpollEventLoop.java cann't resolve symbol IntObjectMap, maybe need special settings idea, do you know?

[2016-11-28 07:37] normanmaurer commented on #6065
Just do man compile and the reimport the module

[2016-11-28 09:36] wikimore commented on #3193
hey, @jroper @zcourts  @Scottmitch
I reproduce this when writing a redis proxy use netty.

My redis client is [jedis](https://github.com/xetorthio/jedis), when I closing the connection from client like below

[code]
![wireshark](https://cloud.githubusercontent.com/assets/1697662/20662151/2aeb1482-b58d-11e6-92ff-1f9bfdcd289e.jpeg)

Netty server receive the RST packet and then throw exception

[code

[2016-11-28 11:50] pfpmeijers commented on #6062
We are using version 4.0.26.
Unfortunately an upgrade is not something easily done. We are using netty for many years now. First time we see this mem leak issue. It might be hard to reproduce, unless we know better what could be triggering the problem.
Do you have more info about the issue in MpscLinkedQueue (issue number)?

I also checked whether one of the items close to the head might contain a

[2016-11-28 12:08] normanmaurer commented on #6062
These are somehow related I think.

https://github.com/netty/netty/pull/3684 <https://github.com/netty/netty/pull/3684>
https://github.com/netty/netty/pull/5309 <https://github.com/netty/netty/pull/5309>

Basically calling isEmpty() from multiple threads can result in a live-lock:
https://github.com/netty/netty/blob/netty-4.0.28.Final/common/src/main/java/io/netty/util/internal/MpscLinkedQueue.jav

[2016-11-28 12:32] normanmaurer commented on #6062
@pfpmeijers also could tell me if all the threads are active or not ?

[2016-11-28 12:48] smaldini opened #6066 "HTTP Form Multipart encoder does not support optional filename"
According to the RFC and as shown in Mozilla examples (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition), filename should not be a mandatory "blindly set" content-disposition argument.

[2016-11-28 13:47] johnou commented on #5931
@normanmaurer is this enough to go on or is there more information I can provide? We are about to deploy another hotfix for an unrelated issue and could push some more debugging if required.

[2016-11-28 13:54] normanmaurer commented on #5931
@johnou sorry had no time yet to check... Will ping you once I have :)

[2016-11-28 14:05] pfpmeijers commented on #6062
You mean the threads that are referred to by the ThreadDeathWatch$Entry items?
There are ~5000 of these threads. Don't know how to check for being active easily within JProfiler.

See the overview:
![image](https://cloud.githubusercontent.com/assets/8824711/20670970/bbabdf72-b57b-11e6-9f40-90565b0eb901.png)

Typical names of the java.lang.Thread instances: “Thread-12345 (HornetQ-client-global-thre

[2016-11-28 14:13] normanmaurer commented on #6062
`threadStatus = 2` means its terminated : http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/8u40-b25/sun/misc/VM.java?av=f .

And these are the `Entry`s that are in the pendingEntries queue ?

[2016-11-28 14:27] pfpmeijers commented on #6062
Mostly. I have 5157 ThreadDeathWatch$Entry items:
![image](https://cloud.githubusercontent.com/assets/8824711/20671648/73c8efbc-b57e-11e6-90bb-d5e2491abeb0.png)
91 items in the watchees list:
![image](https://cloud.githubusercontent.com/assets/8824711/20671761/f0c1eca8-b57e-11e6-8a31-4b6133021abf.png)
Need to check for the overlap, but from the code I would assume there isn't. In fetchWatchees() t

[2016-11-28 14:43] pfpmeijers commented on #6062
Hum strange, the head entry seems to be in the queue as well as in the array:
![image](https://cloud.githubusercontent.com/assets/8824711/20672201/a6f0eb18-b580-11e6-9e09-f8bbac8d4d33.png)
Its thread is terminated. I checked a few others in the queue and these are termined as well.
Also checked a few items in the watchees array, which are not terminated (high status number, e.q. 1025)

[2016-11-28 15:41] ColadaFF commented on #6063
In a nutshell this is what I have:
[code]

[2016-11-28 18:38] normanmaurer commented on #6062
@pfpmeijers I am afraid but I am suspect its a bug caused by what I linked you before, so you will need to upgrade. Also without a heap-dump and without you running the latest version its not easy to help and debug. Your version is 1,5 years old....

[2016-11-28 18:44] louiscryan commented on #3711
Yeah given the low level of interest given that it's EmbeddedChannel feel free to close.

[2016-11-28 18:44] #3711 closed

[2016-11-28 19:16] pfpmeijers commented on #6062
OK. We will try to find a scenario to reproduce the problem within our context.
Thanks for the help.

[2016-11-28 21:10] pfpmeijers commented on #6062
I had another close look at the code.
(I now understand why the head node is in the queue, as well as in the array. This is by design. The head is the previously polled node and not the next one being polled out.)

For the ThreadDeadWatcher's MpscLinkQueue usage:
isEmpty() (which does a peekNode()) is only used in the consumer thread. Not in the producer threads.
The producer threads only use the

[2016-11-29 07:03] normanmaurer commented on #6062
@pfisterer `isEmpty()` may be called by multiple threads at the same time as it can happen that more then one Thread is running the Watcher task at the same time. Just check the code.

I suspect it is caused by this that said I can't be 100 % sure without a reproducer. This is the only thing that really looks like it could cause a problem.

[2016-11-29 11:51] johnou commented on #5931
fwiw I updated the comment above to include both the success and failure stacktraces.

[2016-11-29 11:56] johnou commented on #5931
Here's the pipeline.

[code]

[2016-11-29 13:13] pfpmeijers commented on #6062
Check. In between the `stopped = started.compareAndSet(true, false);` and the `if (!started.compareAndSet(false, true))` the original watcher thread itself is still running (this code) but also a new thread can be started when a new watch request is done.

[2016-11-29 13:20] normanmaurer commented on #6062
Yep so it can be executed concurrently

[2016-11-29 13:47] pfpmeijers commented on #6062
One scenario that causes live lock (if I read/understood the code correctly):

[code]

This pattern can repeat itself. (Don't know whether this has been solved with the newer version. )
But anyhow this is not the scenario that we ran into, because in our case there are no dangling entries with next = null.
So have to continue puzzling ... ;-)

[2016-11-29 13:48] normanmaurer commented on #5931
@johnou can you show me again the diff of your "DefaultChannelPromise" ?

[2016-11-29 13:49] normanmaurer commented on #6062
@pfpmeijers sorry but without more infos / thread-dump / profiler snapshot / heap dump I can not help you :(

[2016-11-29 14:00] normanmaurer commented on #5931
@johnou ha! I think I know why you get the error... Stay tuned

[2016-11-29 14:23] johnou commented on #5931
@normanmaurer you tease.

[2016-11-29 14:31] johnou commented on #5931
https://gist.github.com/johnou/4b8d0d82cc80b0efd48a1882f24e8db7

[2016-11-30 00:29] ColadaFF opened #6071 "Websocket handshake canceled when using SSL"
Hi there,

I'm trying to set a ssl websocket server with netty, but when I try to connect the browser says that the handshake was cancelled, no other errors and even I put netty in debug mode but there are no exceptions.

Anyone knows what might be wrong ?

[code]

[2016-11-30 06:43] stayfool opened #6072 "Server always waiting when client throws OutOfDirectMemoryError"
After channel active, server sends a huge data to client, and then client throws OutOfDirectMemoryError,  then call  channel.close(), but the server doesn't  receive this event and still waiting, version is 4.0.33 .
This is the main code :
server:
[code]
client:
[code]

[2016-11-30 14:26] pfpmeijers commented on #6062
@normanmaurer, I sent message to your gmail account (norman.maurer@googlemail.com).

[2016-11-30 15:18] liuhualh opened #6073 "operationComplete of ChannelFuture is not called"
My application calls channel.writeAndFlush to send a HTTP2 request and then get a ChannelFuture, then calls addListener in order to be noticed while the writing procedure complete,  but from log there are some case that the operationComplete is not called, actually at that time the HTTP2 response has been received,

I want to know if there are some cases that operationComplete could not be called

[2016-11-30 15:19] normanmaurer commented on #6073
it must be always called..

Can you share your code.

[2016-11-30 18:33] amit2103 commented on #327
Hey Guys, we are having the same problem, however in our case the threads keep increasing and reaches even 6000. We are using Netty 3.10.5 Final and JDK 1.8.101.

Do you guys have any work around for this?

[2016-11-30 22:16] maseev opened #6074 "Consider using an issue template"
I've noticed that despite the fact there are the [guidelines for contributing](https://github.com/netty/netty/blob/4.1/CONTRIBUTING.md), people still keep creating issues that contain so little information that is sometimes absolutely impossible to do anything without asking additional questions like:

- What Netty's version is a person using?
- What steps do I have to perform in order to reproduc

[2016-12-01 01:10] Scottmitch commented on #327
@amit2103 - Netty 3.x has been EOL a while ago I would recommend updating to 4.1. Also I don't think we have been able to reproduce this issue, and no reproducer has been supplied. Can you provide a reproducer based upon 4.1 (or 4.x)?

[2016-12-01 01:25] Scottmitch commented on #6074
@maseev - I had not heard about this ... but this sounds great thanks!

[2016-12-01 01:37] Scottmitch commented on #6073
this sounds like an issue please share a reproducer

[2016-12-01 01:39] Scottmitch commented on #6072
@stayfool - Please provide a complete reproducer. It is not clear what type of object is expected in the client's `channelRead` and what type of handler this is. For example are you expecting `ReferenceCounted` objects in this method?

[2016-12-01 02:05] Scottmitch commented on #6071
I would recommend starting with the [Websocket server example](https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/http/websocketx/server) and modify it to suite your needs. Please try this and re-open if the example doesn't work for you. Include your Netty version.

[2016-12-01 02:05] #6071 closed

[2016-12-01 02:48] Scottmitch commented on #6031
@normanmaurer - OK there is a bug so we should either fix it somehow or remove our code that uses it. Due to backwards compatibility concerns I'm assuming the "easiest" way may be to fork this code ... maintain it as internal code ... fix the issue ... deprecate all public netty code which uses this dependency ... WDYT?

[2016-12-01 03:15] ColadaFF commented on #6071
Hi there, I solved my issue today.

If anyone is using Letsencrypt certificated to build a secure chat, remember to use the fullchain.pem  and the privkey.pem to build SslContext.

Thanks for the help. (:

[2016-12-01 03:20] Scottmitch commented on #6071
glad to hear it. thanks for the followup and explanation.

[2016-12-01 04:42] stayfool commented on #6072
@Scottmitch object type is `ByteBuf` ,I didn't do anything with it, handler is a subtye of `ChannelInboundHandlerAdapter`.

Server:
`
public class OutBufferServer {
    private Logger log = LoggerFactory.getLogger(getClass());

    public static void main(String[] arg) {
        new OutBufferServer().start();
    }

    public void start() {
        ServerBootstrap b = new ServerBootstrap();

[2016-12-01 05:51] #6057 closed

[2016-12-01 05:55] #6066 closed

[2016-12-01 06:03] normanmaurer commented on #6066
Fixed by https://github.com/netty/netty/pull/6067

[2016-12-01 06:25] sorheart commented on #6064
All right, after days of researching, I think I've made some progress, But I'm not sure whether I get things right.
Here is what I've found in 4.1.6.final:
Class ReferenceCountedOpenSslContext line 275: SSLContext.setOptions(ctx, SSL.SSL_OP_NO_TICKET),
This line indicates that by default netty do not use session ticket.
So we can use SSLContext.clearOptions(context.ctx, SSL.SSL_OP_NO_TICKET) to us

[2016-12-01 06:34] killjason opened #6076 "http2 reverse proxy: how to reduce connections with backend server?"
imagine there are 10k http2-clients, they established 10k http2 connections(TCP-connections) with the http2 reverse proxy; then http2 reverse proxy create 10k http2 connections(TCP-connections) to the origin(backend) server.
**Is it possible to reduce the 10k connections between proxy and origin(backend) server?**
for example, can a connection pool be used in reverse proxy to reduce connections wi

[2016-12-01 08:09] normanmaurer commented on #6031
@Scottmitch isnt the bug something we can work around or did I miss understood you ?

[2016-12-01 09:18] normanmaurer commented on #6015
@slandelle fixed by https://github.com/netty/netty/pull/6077

[2016-12-01 09:18] #6015 closed

[2016-12-01 09:24] slandelle commented on #6015
@normanmaurer Yeah, I saw that :) Great job!

[2016-12-01 10:08] jimdragongod opened #6092 "First Close File Stream in NativeLibraryLoader's Load Method"
When I used [pushy](https://github.com/relayrides/pushy) which  depends on the netty-handler 4.1.5.Final lib, and ran the Sample Code in README.md on Windows 7 x64, I got the lock exception of the netty-tcnative-windows-x86_64.dll file: “Another program is using this file, the process can not access”.
Finally I found the cause in the class' load method:
......
            out.flush();

[2016-12-01 10:33] johnou commented on #6092
It was fixed with 4.1.6.Final. See https://github.com/netty/netty/pull/5776

[2016-12-01 10:37] #6092 closed

[2016-12-01 17:54] dlmarion opened #6093 "Building native transport epoll linux-x86_64_fedora"
Trying to build the native epoll transport. I cloned the repo, checked out the 4.0.38.Final tag, and issuing 'mvn clean install' in the netty/transport-native-epoll directory. It detects the operating system as:
[code]

However, the artifact is not named with the fedora classifier, it is simply named `netty-transport-native-epoll-4.0.38.Final-linux-x86_64.jar`. What am I missing?

[2016-12-01 18:59] killjason commented on #6076
feed back:
there are some discusstions on:
https://groups.google.com/forum/#!topic/grpc-io/fvS1ZkhikaQ

[2016-12-01 19:08] buchgr commented on #5920
I agree, however that would in a sense be a breaking change :\.

As mentioned before, the current implementation seems to follow the specified interface. Is this still a problem @yogeshvedpathak ?

Maybe we should add an extra sentence to the documentation, explictly stating the implied meaning of `0`?

[2016-12-01 20:08] normanmaurer commented on #5920
@buchgr yep we can not break stuff... Please just add some more javadocs to make it clear.

[2016-12-01 20:27] normanmaurer commented on #6061
Fixed by https://github.com/netty/netty/pull/6078

[2016-12-01 20:27] #6061 closed

[2016-12-01 22:20] Scottmitch commented on #6076
I don't see anything which would prevent this. I'll defer to discussions on the google form since this doesn't appear to be a Netty bug.

[2016-12-01 22:20] #6076 closed

[2016-12-01 22:41] Scottmitch commented on #6093
Can you clarify the issue? Is it that you want to build the `transport-native-epoll` module on a fedora based system (see [1]), or that you are expecting a `linux-x86_64-fedora` to exist in maven central?

[1] http://netty.io/wiki/native-transports.html#building-the-native-transport

[2016-12-01 22:49] Scottmitch commented on #6072
I'm not sure if this is intentional to demonstrate the OOME but `DonotAcceptAnythin#channelRead` must release the `msg`. See [1] for more details.

`OutBufferHandler` blocks the IO thread in a few different ways:

1. calling `sync` in the IO thread.
2. infinite loop

So if you don't return control back to the IO thread for that socket than that IO thread will not be able to detect any socket event

[2016-12-01 22:49] #6072 closed

[2016-12-01 23:22] dlmarion commented on #6093
@Scottmitch The issue is that the built artifact is named linux-x86_64, not linux-x86_64-fedora. So, if I specify the dependency in my project as directed in [1], it won't find it in my local maven repo. Is there something I am missing to get the classifier added to the artifact name during the build process, or do I need to rename it manually?

[1] http://netty.io/wiki/native-transports.html#buil

[2016-12-01 23:24] dlmarion commented on #6093
That would be great. For now I am trying to build it myself.

[2016-12-01 23:29] Scottmitch commented on #6048
if a name collision occurs then we still may fail, however the existing test doesn't delete temp files and #6000 does ... this may make a collision less likely to occur. So "fixed" isn't the right word but it should help ... in addition to cleaning out temp directories on the build servers.

[2016-12-01 23:33] Scottmitch commented on #6093
try to use the same classifier as netty does [<epoll.classifier>${os.detected.name}-${os.detected.arch}</epoll.classifier>](https://github.com/netty/netty/blob/4.1/pom.xml#L229) for your dependency. The wiki may need to be updated as I don't think we need a different `epoll` artifact for fedora.

[2016-12-01 23:39] dlmarion commented on #6093
Thanks, I will try that tomorrow.

[2016-12-02 02:28] jimdragongod commented on #6092
I see, Thanks!

[2016-12-02 21:17] s1monw opened #6095 "EventLoop.java shouldn't catch ConcurrentModificationException and just move on."
[EventLoop.java ](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/nio/NioEventLoop.java#L368) catches CME and simply continues to do what it was doing. I am not sure if that's intentional I mean if you hit this exception something really bad is going on. I wonder if this can happen due to concurrent close of the selector etc. There is also some really questionable

[2016-12-02 21:36] jasontedor opened #6096 "Netty should stop swallowing"
I've raised this issue [before](https://github.com/netty/netty/pull/5552/files/03f70037c0652e8a24ec2edb721ea4d479ba8a6b#r71620816) and it has come up [subsequently](https://github.com/netty/netty/pull/6047/files#r88775483), but I think a serious conversation needs to be had about it.

The Netty code base is filled with catch throwable blocks and far too many of these blocks swallow the caught thro

[2016-12-02 21:38] s1monw commented on #6096
+1 - we went through all this effort in elasticsearch too and it was very much worth it. I mean there is no point of catching an Error you can't recover anyhow.

[2016-12-02 21:39] jasontedor commented on #6005
This should not have been closed, Netty 4 does the same thing. I opened #6096 to re-raise the broader issue that I've raised before of catching and swallowing throwable.

[2016-12-02 21:42] jasontedor commented on #6096
Relates elastic/elasticsearch#19231, relates elastic/elasticsearch#19272

[2016-12-02 22:01] Scottmitch commented on #6096
agreed "swallowing" exceptions should be avoided.  As you pointed out catching throwable is not necessarily a bad thing and we should consider the following issues:

- Cleaning up local state. We should not cause "resource leaks" (e.g. `ReferenceCounted`, `Closable`, etc...) if we allow the control flow to unexpectedly exit the local scope where "resource ownership" responsibilities lie. We can re

[2016-12-02 22:05] Scottmitch commented on #6005
Netty 3 is EOL, we no longer support Netty 3, and this is why the issue was closed.

Lets continue discussion on #6096 for 4.x.

[2016-12-02 22:09] jasontedor commented on #6096
@Scottmitch Thanks for a very reasonable reply; what you write makes perfect sense and is exactly the types of situations I had in mind in my initial post. For a low-level library like Netty, it is critical these cleanups happen in case the application *does* want to continue after something like an `OutOfMemoryError` is thrown; what has to stop though is hiding bugs, and hiding errors from the ap

[2016-12-03 00:03] JackOfMostTrades opened #6098 "Regression: SSL session contains extraneous NULL extries in peer certificate chain."
Netty version: 4.1.6.Final

Context:
Initiating client TLS negotiation with a certificate chain (client cert + trust chain) on netty 4.1.6.Final (with grpc-netty 1.02 and netty-tcnative-boringssl-static 1.1.33.Fork23) results in the SSLSession presenting a peer certificate chain array that is longer that the actual peer certificate chain, though the extra entries are all NULL. In the example below

[2016-12-03 06:31] normanmaurer commented on #6098
@JackOfMostTrades i think this was fixed by https://github.com/netty/netty/commit/4ee361e3024b33ac3a160e8124ee7f0e5a1f4b42#diff-a1fda854eff0bab9ba7a0975852e7ed6 And so will be fixed in the next release

[2016-12-03 06:41] normanmaurer commented on #6096
Just woke up to join the party 😜

Let me do a POC and take a stab on this in the next two weeks

[2016-12-03 08:08] normanmaurer opened #6100 "Upgrade ASM dependency to 6.0.0 final once released"
We need to upgrade our ASM dependency to 6.0.0 final once its released to also support compiling on java9.

See  https://issues.apache.org/jira/browse/MSHADE-242

[2016-12-03 12:24] normanmaurer commented on #6095
@s1monw I am looking into the first issue ATM.

The second thing you brought about is more about reduce garbage and unfortunately is needed. Other high perf libraries like for example Aeron are doing basically the same for the same reason (reducing garbage).

[2016-12-03 12:25] normanmaurer commented on #6095
@s1monw also you can disable the optimization via a system property if it makes you feel uneasy

[2016-12-03 18:00] #6098 closed

[2016-12-03 18:06] normanmaurer commented on #6095
@s1monw https://github.com/netty/netty/pull/6101 PTAL

[2016-12-03 18:10] normanmaurer commented on #6093
@dlmarion did it work ? ( I think it should )

[2016-12-03 18:44] dlmarion commented on #6093
@normanmaurer I got sidetracked with other issues. I will be able to try it mid week

[2016-12-04 08:00] normanmaurer commented on #5931
Fixed

[2016-12-04 08:00] #5931 closed

[2016-12-04 17:56] normanmaurer commented on #6034
Fixed by https://github.com/netty/netty/pull/6087

[2016-12-04 17:56] #6034 closed

[2016-12-04 18:01] normanmaurer commented on #6095
Fixed by https://github.com/netty/netty/pull/6101

[2016-12-04 18:01] #6095 closed

[2016-12-05 08:34] s1monw commented on #6095
I think there is way more to this than you considered in your reply. Lemme give you some opinions and questions.

* I really disagree with making crazy optimizations like the default behavior the fact that X% of people need to opt out of something that only  Y% use (I assume this is not necessary for the majority of users) is concerning.

* You are replacing an internal datastrucutre with a highly

[2016-12-05 08:35] normanmaurer commented on #6095
@s1monw can you please open another issue for this so we can discuss there ?

[2016-12-05 08:37] s1monw opened #6105 "Discuss `SelectedSelectionKeySet` optimization in `NioEventLoop`"
Spin-off from  #6095

I think there is way more to this than you considered in your reply. Lemme give you some opinions and questions.

* I really disagree with making crazy optimizations like the default behavior the fact that X% of people need to opt out of something that only  Y% use (I assume this is not necessary for the majority of users) is concerning.

* You are replacing an internal data-

[2016-12-05 08:38] normanmaurer commented on #6095
@s1monw thanks! And don't get me wrong I am really happy that you take the time and energy to bring up these things.

[2016-12-05 08:40] s1monw commented on #6095
don't worry I opened #6105

[2016-12-05 08:59] normanmaurer commented on #6105
Maybe its not necessary for all of them but often people use netty to write high perf stuff and for these  it makes a difference. We had more then once issues reported which are about GC.

I think you are right it is not a real Set, so I can agree with this one.

You are right and this should be fixed. Its tested through the test suite tho, but I agree this is not good enough.

We have different j

[2016-12-05 09:12] normanmaurer commented on #6105
@s1monw also this was the other Set used by Aeron  for the same reasons as netty is doing it /cc @mjpt777

[2016-12-05 16:35] nchammas commented on #3419
@trustin @normanmaurer - These posts claim that `/dev/urandom` should be the preferred source of randomness, even for cryptographic applications:
* http://www.2uo.de/myths-about-urandom/
* http://security.stackexchange.com/questions/3936/is-a-rand-from-dev-urandom-secure-for-a-login-key/3939#3939
* https://sockpuppet.org/blog/2014/02/25/safely-generate-random-numbers/

Have you considered just usi

[2016-12-05 23:05] EclecticEngineer opened #6108 "Memory leak path in MessageToByteEncoder.write"
In MessageToByteEncoder.write, if the allocateBuffer method is overridden to return a direct buffer, there is a potential for a memory leak. Here is the implementation of the write method:

Notice that if buf.isReadable() returns false, buf.release will get called, but if it's true, it won't get called. Then, buf is set to null which causes the finally block to not release the buf.

Normally, it's

[2016-12-06 02:21] liuhualh commented on #6073
These days I have extracted HTTP2 related code from my application, but unfortunately I can not reproduce this case. But I still can reproduce it in our testing application.

Additionally, while trying to reproduce this case , only one time I reproduce this case, at that time I sent some HTTP2 POST request before HTTP2 SETTING negotiation finished, I don know if this the reason for lost of ** oper

[2016-12-06 05:44] normanmaurer commented on #6108
If ctx.write(...) is called the ownership of the buffer is transferred to the next handler in the pipeline and if there is no other to the transport itself. Once the buffer is written to the OS it will automatically be released. So there is no leak

[2016-12-06 05:44] #6108 closed

[2016-12-06 10:42] maseev commented on #5803
@buchgr Why not simply pool `ByteBuf` objects? You can definitely allocate a chunk of memory through `sun.misc.Unsafe`, but you would need an enclosing object in order to make it possible to use (set fields, get fields of your 'object' etc.) anyway.
The idea itself is great. It would be especially useful for people who care about GC pauses (low-latency network applications).

[2016-12-06 10:54] maseev commented on #5803
Just checked it. You're right. According to YourKit `java.nio.DirectByteBuffer` objects are the ones which cause GC to pause. At least `java.nio.DirectByteBuffer` is at the top of the allocation table :disappointed:

[2016-12-06 10:56] normanmaurer commented on #5803
@maseev can you share the profiler snapshot?

[2016-12-06 11:05] maseev commented on #5803
@normanmaurer Should I attach the profiler snapshot to this issue or send it to you by email?

[2016-12-06 11:08] normanmaurer commented on #5803
if you can attach it do it... if not send via email or upload it somewhere :) Thanks again

[2016-12-06 11:19] maseev commented on #5803
@normanmaurer Here you go: [EchoServer-2016-12-06.snapshot.zip](https://github.com/netty/netty/files/633661/EchoServer-2016-12-06.snapshot.zip)

[2016-12-06 11:50] normanmaurer commented on #5803
@maseev can I see the code of the server as well ?

[2016-12-06 11:53] maseev commented on #5803
@normanmaurer Here [it](https://github.com/maseev/echo) is. And [here's](https://github.com/maseev/echo/blob/master/server/src/main/java/io/github/maseev/echo/EchoServer.java#L68) the pipeline I collected the memory profiler snapshot for.

[2016-12-06 11:55] normanmaurer commented on #5803
@maseev makes sense.. I think if you would use the epoll transport on linux it will eliminate these allocations. Can you try ?

[2016-12-06 12:08] maseev commented on #5803
@normanmaurer It did the trick. Now there are only 28 `java.nio.DirectByteBuffer` object that have been GCed. Here's the profiler snapshot in case you're interested: [EchoServer-2016-12-06-1.snapshot.zip](https://github.com/netty/netty/files/633792/EchoServer-2016-12-06-1.snapshot.zip)

[2016-12-06 12:11] normanmaurer commented on #5803
@maseev you are welcome ;)

The reason is that in our native transport we not need to create a new `ByteBuffer` for a write and just act directly on the memory addresses.

[2016-12-06 12:15] maseev commented on #5803
@normanmaurer That's great! Kudos to you guys! :smile:

[2016-12-06 13:39] imiranda opened #6109 "can´t process a .cgi file in page handler"
I can't run a .cgi file in my page handler (extends from SimpleChannelInboundHandler <FullHttpRequest>), I understand that I can not treat it like a .html file, but there must be a process before responding with .cgi file, right? help me please

[2016-12-06 14:23] dlmarion commented on #6093
@Scottmitch  @normanmaurer  changing the classifier as suggested works and all of my tests pass. Is it the case that I don't need a fedora-flavored native epoll jar? I will test further in the next day or so.

[2016-12-06 14:32] normanmaurer commented on #6093
@dlmarion yes that is the case... We will update the wiki.

[2016-12-06 14:33] johnou commented on #6093
@dlmarion iirc the only fedora-flavored Netty jar is netty-tcnative and that's because the shared libraries have a different naming convention..

tmp $ ldd linux-x86_64-fedora/META-INF/native/libnetty-tcnative.so
ldd: warning: you do not have execution permission for `linux-x86_64-fedora/META-INF/native/libnetty-tcnative.so'
linux-vdso.so.1 =>  (0x00007ffcb0966000)
libssl.so.10 => /usr/lib64/libss

[2016-12-06 17:15] yogeshvedpathak commented on #5920
After setting non-zero watermarks everything works fine for me. So a documentation change will suffice. Thanks.

[2016-12-07 00:39] Scottmitch commented on #6093
I updated the wiki @normanmaurer PTAL.

[2016-12-07 06:47] normanmaurer commented on #6093
@Scottmitch thanks! LGTM :)

Let me close this one now

[2016-12-07 06:47] #6093 closed

[2016-12-07 07:09] normanmaurer commented on #6109
@imiranda please use stackoverflow for questions. This is for issues.

[2016-12-07 07:09] #6109 closed

[2016-12-07 07:12] normanmaurer commented on #6064
@sorheart there is no way to influence the lifetime other then setting new tickets. I am not aware of any methods in openssl to do this in another way. If you know of any let me know.

[2016-12-07 07:13] normanmaurer commented on #6051
Yes this looks like a duplicate of  #5923. Let me close this as a duplicate.

[2016-12-07 07:13] #6051 closed

[2016-12-07 09:11] anuphalarnkar opened #6111 "Netty fails to build on ppc64le platform"
**OS:** Ubuntu 14.04
**Arch:** Power (ppc64le)

**Command to build:**
mvn clean install -DskipTests

**Failure message:**
[INFO]
[INFO] --- maven-enforcer-plugin:1.2:enforce (enforce-tools) @ netty-parent ---
[WARNING] Rule 2: org.apache.maven.plugins.enforcer.RequireProperty failed with message:
x86_64 JDK must be used.

Any inputs on above will be greatly appreciated.

Thanks in advance,
Anup Ha

[2016-12-07 09:48] normanmaurer commented on #6111
@anuphalarnkar does this work ?:

`mvn clean install -DskipTests=true -Denforcer.skip=true`

[2016-12-07 10:01] liuhualh commented on #6073
Have found root reason, this is a bug in my application, sorry for disturbing

[2016-12-07 10:01] #6073 closed

[2016-12-07 10:09] normanmaurer commented on #6073
@liuhualh thanks for closing the loop :)

[2016-12-07 19:40] #6074 closed

[2016-12-07 20:47] s1monw commented on #6105
I strongly recommend this, they should be equivalent thought. We @ elasticsearch use the Lucene test framework which adds a bunch of nasty utils on top of randomized runner. It's a game changer but be prepared to spend weeks until your codebase is ready to run. it's very very picky.

I am convinced that there is no demand because nobody uses it, but it's like a chicken egg problem. If you really w

[2016-12-08 00:24] Scottmitch opened #6114 "ResourceLeakDetectorTest.testConcurentUsage failure"
### Expected behavior
ResourceLeakDetectorTest.testConcurentUsage should always pass.

### Actual behavior
ResourceLeakDetectorTest.testConcurentUsage failed while building on the CI server.
[code]

https://garage.netty.io/teamcity/viewLog.html?buildId=14412&buildTypeId=pulls_netty&tab=buildLog

### Steps to reproduce
Build on the CI server

### Minimal yet complete reproducer code (or URL to code

[2016-12-08 00:24] Scottmitch commented on #6114
@normanmaurer - PTAL

[2016-12-08 01:19] stayfool commented on #6072
I'm simulating if client can not deal with the data what will be happen

[2016-12-08 01:41] Scottmitch commented on #6072
@stayfool - Gotcha. Does the `OutBufferHandler` part make sense? It sounds like eventually the writes on the server will not be "completed" (the future will not be completed) because your peer is not reading the data, and therefore you are blocking the IO thread.

[2016-12-08 02:12] z529192557 opened #6115 "What's the different between the serverbootstrap 's handler and childhandler ?"
EchoServer can not work right, because the logginghandler was instantiated in serverbootstrap‘s handler， so when EchoClient send request， the server just print the request，do not reponse the request。
     But when I commented out logginghandler and add it in childHandler ， it works，response to the
request
     so，Is the Echo Demo in github wrong？

[2016-12-08 02:19] z529192557 commented on #6115
My false, I writeAndFlush wrong type data

[2016-12-08 02:19] #6115 closed

[2016-12-08 02:25] xdy2001 opened #6116 "Discard PooledByteBuf on demand"
### Expected behavior
Add a method `PooledByteBuf.discard()`. This method will discard the object instead pooling it again.
Scenario: When a DirectByteBuf or HeapByteBuf is too large, the application can release memory. This is a complementary method to `PooledByteBuf.release()`

### Actual behavior
Pool all objects only limited by Recycler.maxCapacity
### Steps to reproduce
1. Out Product process

[2016-12-08 03:12] Scottmitch commented on #6116
Can you try Netty 4.1.6.Final and see if you can reproduce?

Also have you tried using a smaller default value (it is per thread).

[2016-12-08 05:43] normanmaurer commented on #6114
Will check

[2016-12-08 09:19] normanmaurer commented on #6114
@Scottmitch from the thread dump it seems like it was just not complete yet as it still created new leaks etc. I will increase the timeout .

[2016-12-08 10:57] normanmaurer opened #6121 "o.netty.handler.codec.http2.Http2ConnectionRoundtripTest.flowControlProperlyChunksLargeMessage test failure"
[code]

See https://garage.netty.io/teamcity/viewLog.html?buildId=14438&buildTypeId=pulls_netty&guest=1

[2016-12-08 10:57] normanmaurer commented on #6121
@Scottmitch @nmittler can you have a look ?

[2016-12-08 12:11] xdy2001 commented on #6116
Looks this parameter,  io.netty.threadLocalDirectBufferSize, is to limit the max size of pooling ByteBuf. this is exactly what this issue proposed. We will try to set this parameter and verify. Thanks @Scottmitch .

[2016-12-08 12:18] normanmaurer commented on #6114
Fixed by https://github.com/netty/netty/pull/6120

[2016-12-08 12:18] #6114 closed

[2016-12-08 17:22] nmittler commented on #6121
@normanmaurer when did this start happening? Do we have any recent changes that might be causing this?

[2016-12-08 17:30] normanmaurer commented on #6121
@nmittler it only happened one time... so I think it's a Race somewhere

[2016-12-08 18:51] Scottmitch commented on #6121
I've run the test 10,000 times locally and have not been able to repro yet. We have also seen other "first time" timeouts recently on the build servers (https://github.com/netty/netty/pull/6122). Not sure if these are related...

[2016-12-08 18:51] normanmaurer commented on #6121
@Scottmitch maybe... Let us just watch this for now I guess...

[2016-12-08 18:57] normanmaurer commented on #6105
@s1monw let me do some research and come back to you. Thanks for the offer!

[2016-12-10 15:56] marfago opened #6125 "Possible direct memory leak"
### Expected behavior
Working normally with constant memory consumption
### Actual behavior
Memory keep growing and eventually ends out of memory
### Steps to reproduce
I have an application which creates 1500 connections every seconds. Memory consumption keep increasing and eventually ends out of memory.
I monitored the heap whith many tools (jvisualvm, jmap, jcmd) and it looks ok. Insetad, java

[2016-12-10 17:06] normanmaurer commented on #6125
Can you share a reproducer?

[2016-12-11 11:27] AcceptedBoy opened #6126 "EPollArrayWrapper.epollWait 100% CPU load"
### Description
I wrote a program to simulate data, which sent to our project using netty to receive, and then when the end of the transmission, CPU has remain 100% rather than decline.

### Actual behavior
a part of command `jstack`:
[code]

command `top` shows:
![2016-12-11 19-14-06](https://cloud.githubusercontent.com/assets/15062819/21079735/10fd7e7c-bfd6-11e6-9c80-444bd07cd69b.png)

the jvisu

[2016-12-11 11:43] normanmaurer commented on #6126
Can you share a full reproducer ?

[2016-12-11 12:03] normanmaurer commented on #6126
@AcceptedBoy like something I can run myself locally

[2016-12-11 13:27] AcceptedBoy commented on #6126
tht github:`https://github.com/AcceptedBoy/dongjun`.
And the step:
* in `dongjun-hardware`, run command `mvn spring-boot:run`: start project
* in `dongjun-simulate` run the java class  `com.gdut.symon.getMessageSource`: send data
* after some minutes, stop the java main class, and monitor the dongjun-hardware, which use netty to receive data.

[2016-12-11 13:47] normanmaurer commented on #6126
@AcceptedBoy what exact ubuntu Version you are using and also do you use openjdk or oracle JDK?

[2016-12-11 13:51] AcceptedBoy commented on #6126
@normanmaurer
ubuntu version:16.04
and Oracle jdk

[2016-12-11 14:00] normanmaurer commented on #6126
@AcceptedBoy ok cool... will try to reproduce

[2016-12-11 14:01] AcceptedBoy commented on #6126
@normanmaurer
thanks so much

[2016-12-12 06:20] normanmaurer commented on #6111
@anuphalarnkar let me close this ... if it still not works let me know

[2016-12-12 06:20] #6111 closed

[2016-12-12 08:43] normanmaurer commented on #6126
@AcceptedBoy can you also provide me with the tables for the database ?

[2016-12-12 10:39] mrniko opened #6127 "Add readDoubleLE and readFloatLE methods to ByteBuf"
ByteBuf.order methods are deprecated now and getShortLE, getIntLE .. methods should be used instead. But such important methods like `readDoubleLE` and `readFloatLE` are not implemented.

### Netty version
Netty 4.1.6

[2016-12-12 10:40] AcceptedBoy commented on #6126
@normanmaurer I push SQL script file to the github, so please pull it. and I am sorry that it's the first step to run `mvn spring-boot:run` in module `dongjun-website` if you don't want to see the exception occur in module `dongjun-hardware`.

[2016-12-12 11:09] balsukrishna commented on #5304
Hello,
I encountered similar issue which is happening  sometimes but cannot reproduce.

Setup: A server and client(both netty) communicating.

Client Sending to Server:
[code]
I haven't closed event loop. I can still see keep-alive messages and other messages being sent/receive.
Java Version
java version "1.8.0_77"
Java(TM) SE Runtime Environment (build 1.8.0_77-b03)
Java HotSpot(TM) 64-Bit Server

[2016-12-12 11:14] normanmaurer commented on #6126
@AcceptedBoy where did you put the sql script ? I don't see it :(

[2016-12-12 11:19] AcceptedBoy commented on #6126
@normanmaurer https://github.com/AcceptedBoy/dongjun.Its name is elecon.sql, and the database name is elecon.

[2016-12-12 11:32] normanmaurer commented on #6126
@AcceptedBoy I tried it now multiple times but I can not reproduce it... I did run the server and client via intellij. Anything else I need to do ?

[2016-12-12 11:39] AcceptedBoy commented on #6126
@normanmaurer . I reproduced it through steps:
* run website
* run hardware(server)
* run simulate(client)
and the problem occured.

[2016-12-12 12:05] normanmaurer commented on #6126
@AcceptedBoy this is not a netty bug...

What happens is that your program end up in an endless loop in:

[code]

This is easily spottable using a profiler like yourkit and see where all the cycles are burned.

[2016-12-12 12:05] #6126 closed

[2016-12-12 12:10] normanmaurer commented on #6125
@marfago ping

[2016-12-12 12:20] marfago commented on #6125
Hi @normanmaurer unfortunately I cannot provide a test case so quickly since, as said, my application creates 1500 different connections downloading gigabytes of data  every second. Anyway I keep monitoring the application, and I can now confirm that the leak has gone, simply setting io.netty.tryUnsafe to false.

[2016-12-12 12:21] normanmaurer commented on #6125
@marfago can you share a heapdump ?

[2016-12-12 12:29] marfago commented on #6125
@normanmaurer : I need to stop my application and turn on again the direct memory allocation. It will require 2-3 days I think. And big place where to put the file.....

[2016-12-12 21:55] svnp10 commented on #5928
When the **static block for initializing the SSL in the inner class moved to the class outside** the problem no longer occurred.

PS - Leak report still occurred in the first GC cycle but not as bad as earlier.

public class ServiceClientInitializerWithOptions {

    private static final Logger LOG = LoggerFactory
	    .getLogger(ServiceClientInitializerWithOptions.class);

    private boolean ini

[2016-12-13 08:04] IgorAlelekov opened #6128 "HttpObjectDecoder is unable to decode messages on AIX and Solaris (Big Endian platforms)"
HttpObjectDecoder makes mistake calculating hash codes of AsciiString objects on Big Endian platforms (AIX and Solartis, please see test results below).
As the result it can't get "Content-Length" header from the incoming message and is unable to extract message's body.

**Test to reproduce issue:**

import io.netty.util.AsciiString;

public class Test {
	private static final String CONTENT_LENGTH

[2016-12-13 08:05] normanmaurer commented on #6128
@IgorAlelekov  this was fixed in 4.1 branch and will be part of 4.1.7.Final release.

[2016-12-13 08:05] #6128 closed

[2016-12-13 09:32] normanmaurer commented on #6125
@marfago let me know once you have something to share.

[2016-12-13 13:22] rhatlapa opened #6129 "HTTP/2 client in examples fails for https://http2.akamai.com/demo/h2_demo_frame.html"
When using HTTP/2 client example like this `./run-example.sh -Dport=443 -Dhost=http2.akamai.com -Dssl -Durl=/demo/h2_demo_frame.html -DlogLevel=debug http2-client` it fails with [1]. Note, curl --http2 works just fine and uses properly HTTP/2.0 for this site.

So the issue is that netty fails to initialize connection for HTTP/2 and fallbacks to defined protocol, any idea why it doesn't succeed usi

[2016-12-13 13:23] normanmaurer commented on #6129
@nmittler @Scottmitch PTAL

[2016-12-13 18:01] JatinderSingh commented on #5304
The issue here is one of event loop worker has stopped accepting all requests passed to it and is throwing above exception, while other worker threads keep on processing requests normally. Exception pasted above are follow up exceptions of `java.lang.InternalError: a fault occurred in a recent unsafe memory access operation in compiled Java code at java.lang.ref.ReferenceQueue.poll(ReferenceQueue.

[2016-12-14 02:27] balsukrishna commented on #5304
I am using SingleThreadEventExecutor.

[2016-12-14 13:40] jo-kin opened #6132 "Wrong regular expression to check MACAdresses in DefaultChannelId"
Using Netty on a Java-VM running on IBM z/OS it occurs, that creating a unique channel-id leads to problems.
It seems to me, that this process bases at least on the MAC-Address of networking hardware.  On IBM z/OS this information is not available with the usual JAVA-methods in NetworkInterface.  Netty logs always a warning to System.err running on z/OS that it fell back to a random MAC.
So I deci

[2016-12-14 18:41] Scottmitch commented on #6132
@jo-kin - Thanks for reporting. Stand by for a PR.

[2016-12-14 21:28] ppersad opened #6133 "ClassCastException while accessing PooledHeapByteBuf array"
### Context

After our server has been running for a few weeks, we notice that some TCP connections are broken in one direction (we can receive messages, but not send them).  From looking at the stack traces, it seems like the "memory" byte[] field of the PooledHeapByteBuf has been replaced by something else.  After this exception appears on a particular worker thread, that thread then remains bro

[2016-12-14 22:44] Scottmitch commented on #6129
The example [helloworld client](https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/http2/helloworld/client) currently requires that the remote peer use ALPN to negotiate the HTTP/2 protocol. It looks like the web server at the above address not selecting the `h2` protocol which is [advertised by the helloworld client](https://github.com/netty/netty/blob/4.1/example/src/

[2016-12-14 23:17] Scottmitch commented on #6133
Hum this is strange. Can you update your JDK and Netty to the latest released versions?

If this issue persists it would be nice to put a check that the memory must be of type `byte[]` or `ByteBuffer` when it is initialized [1][2] and dump the stack if not.

[1] https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/PooledByteBuf.java#L50
[2] https://github.com/netty/netty/bl

[2016-12-15 00:16] ppersad commented on #6133
Unfortunately, due to how long a system must be running to reproduce the issue, we currently only see it with any reliability on a production server.  As a result, our ability to upgrade is limited.  We're currently trying to reproduce in a performance testing environment where we have more freedom to make arbitrary changes.  However, again due to soak time required to reproduce, I can't promise a

[2016-12-15 08:02] normanmaurer commented on #5831
Fixed by https://github.com/netty/netty/pull/5846

[2016-12-15 08:02] #5831 closed

[2016-12-15 08:51] jo-kin opened #6134 "DefaultChannelID : valid ProcessID is not accepted"
Running Netty on a Java-VM on IBM z/OS leads to unnecessary warnings.

You have to know that Unix System Services of IBM z/OS offers PIDs greater than 2^22, as assumed in DefaultChannelID (see Issue 2706)

`   Welcome to  Unix System Services ZOSU of`
          ` z / O S   Version 2 Release 2`
`$ ps`
      `PID TTY       TIME CMD`
     `   41 ttyp0000  0:00 /bin/sh`
 ` 50332311 ttyp0000  0:00 /bin

[2016-12-15 09:13] normanmaurer commented on #6134
Sounds good... you want to do a PR?

[2016-12-15 14:59] normanmaurer commented on #6134
@jo-kin actually let me take care

[2016-12-16 01:40] wangqianfront opened #6138 "Netty only support the following 4 http method"
![default](https://cloud.githubusercontent.com/assets/692238/21248688/adc4d458-c373-11e6-858b-d4b478ecb5ee.png)

There are other types like DELETE, HEAD need support.

[2016-12-16 04:20] #6116 closed

[2016-12-16 09:06] rhatlapa commented on #6129
I've tried to connect via curl [1] `curl -Iv --http2 https://http2.akamai.com/demo/h2_demo_frame.html` and I can see in the verbose output `ALPN, server accepted to use h2` also when trying okhttp client (its okcurl) and checking the transported packets via wireshark, I can see that ALPN is successfully negotiated.

When using netty and its example, I can see Client Hello packet requesting via ALP

[2016-12-16 11:49] konsultaner opened #6139 "SSLHandler slows down large file transfer"
I try to send a file larger then 5MB over the following pipeline:

1. SSLHandler
2. ByteToMessageCodec
3. IdleStateHandler
4. SimpleChannelInboundHandler

Sending a 10MB file takes arround 3Sekonds. When I remove the SSLHandler the file is transferred within 800ms. I found out that the SSLHandler Chunks the bytebuffer into very tiny pieces, that take forever to be sent.

I use the `UnpooledByteBuf

[2016-12-16 15:25] jchambers commented on #4625
I was halfway writing a separate proposal for some incremental changes to `SimpleChannelPool` (which I may still do if it seems like this is still a long way off). Instead, please let me throw my support behind this idea.

One half-baked suggestion I can throw in (lazily skipping the part where I read up on best practices from other implementations): I wonder if pools should return some kind of `P

[2016-12-16 20:01] Scottmitch commented on #6133
@ppersad - Can you instrument the code as I request above in the test environment (also in the prod environment if possible)? It would be helpful to know the condition which causes the unexpected type to be put into the pool.

[2016-12-16 20:46] Scottmitch commented on #6138
IIRC `HEAD` requests are not supposed to have a BODY.

It looks like `OPTIONS` is supported, no?

I would need to investigate if there is anything interesting for `DELETED` and why it wasn't supported. @fredericBregier - any thoughts, here is the last commit to touch this section of code https://github.com/netty/netty/commit/651c7b056a386254165303a23fc9d4d917477ffb#diff-6c2ed3f1910d6227cdb16bd5782

[2016-12-16 20:57] johnou commented on #6138
Fwiw the correct spelling is ```DELETE```.

[2016-12-16 22:10] Scottmitch commented on #6129
The ALPN extension in the Client Hello from Netty and from curl are identical. The issue is that the server requires the SNI extension to be enabled and the server name to be `http2.akamai.com`, or it will not negotiate ALPN. The Netty example does not configure SNI. See below for a quick and dirty hack to enable SNI for this specific case:

[code]

Can you explain why this is significant? The ALP

[2016-12-16 22:10] #6129 closed

[2016-12-16 22:14] Scottmitch commented on #6139
Thanks for reaching out @konsultaner. Please provide a minimal reproducer so we can take a closer look.

[2016-12-16 22:24] ppersad commented on #6133
@Scottmitch If we are able to reproduce the issue in our perf testing environment, then I can try with a forked version of netty that has the changes you mentioned.  Unfortunately our prod environment is too tightly controlled to allow that kind of change there.

[2016-12-16 22:33] konsultaner commented on #6139
@Scottmitch Do you want me to write a demo project? Or just more of my code?

[2016-12-16 22:46] johnou commented on #6139
@konsultaner demo project would be excellent.

[2016-12-16 23:16] Scottmitch commented on #6133
@ppersad - I'll defer to your judgment as you are more aware of your setup but if it takes weeks to reproduce maybe its best to instrument now. When/if it does occur you will have information to report as opposed to having to wait and hope you are able to reproduce again.

Keep us posted if you get any more info!

[2016-12-17 00:16] Scottmitch commented on #6127
Although this wouldn't be consistent with `readDouble` and `readFloat` (which abstract and implemented in `AbstractByteBuf`) we could add these methods and default implementations to `ByteBuf` ... @normanmaurer WDYT?

[2016-12-17 22:37] bm3780 opened #6141 "OpenSSLContext Mutual Auth Not Returning Acceptable CAs"
### Expected behavior
Openssl provider should behave same as JDK provider when mutual authentication is required and a specific set of trusted Certificate Authorities are specified.  The SSL handshake should return back to the connected peer the same list of configured Certificate Authorities.

[code]

[code]

### Actual behavior
Openssl provider does not return a list of acceptable Certificate Au

[2016-12-18 13:43] normanmaurer commented on #6139
@konsultaner can you also please test with latest code from 4.1 branch ?

[2016-12-18 13:43] normanmaurer commented on #6141
@bm3780 can you please re-test with latest 4.0 code and let us know if you still see this ?

[2016-12-18 13:53] konsultaner commented on #6139
@normanmaurer Ok I'll test that as well. I already build the usecase but I can't get it running, maybe you can take a look at it. It does not send the file to the receiver. I don't know what I'm doing wrong in the example code - embarrassing :see_no_evil:
[ssldemo.zip](https://github.com/netty/netty/files/659446/ssldemo.zip)

[2016-12-18 17:43] Scottmitch commented on #6139
@konsultaner - Why do you need to create new threads? Consider starting with [the echo example](https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/echo) as a template and provide your reproducer on top of this.

[2016-12-18 19:30] bm3780 commented on #6141
@normanmaurer same behavior with 4.0.43.Final-SNAPSHOT.

[2016-12-18 19:30] normanmaurer commented on #6141
@bm3780 thanks... will investigate ?

[2016-12-18 19:48] konsultaner commented on #6139
@Scottmitch thank you for the hint. I also figured out what I did wrong. I attatched a demo based on the echo server. @normanmaurer It also appears in netty 4.1.6

The demo contains the exact stack that I used in my original stack. To swap from SSL to non-SSL change ´EchoClient.SSL´ the pom.xml is currently set to netty 4.1.6. you may change it to 4.0.x and see the same result. I added a 10MB File

[2016-12-19 09:08] wangqianfront opened #6143 "netty framework only support the following 4 http post"
### Expect: better to support DELETED, HEADER method.

### Actual: only support POST, PUT, PATCH, OPTIONS

### netty version: 4.1

![default](https://cloud.githubusercontent.com/assets/692238/21306811/d12c5f8c-c60d-11e6-95f5-5b8817f3092b.png)

[2016-12-19 09:18] fredericBregier commented on #6138
DELETE could be supported too since it is allowed, even if there is a big warn on the RFC that most of the implementations could not support this.

Currently in my project, we do use BODY with POST, PUT, PATCH, DELETE but also with **GET**.

Only HEAD is not allowed to have a body in request part (RFC 7231). So we might allow any methods except HEAD.

[2016-12-19 12:03] normanmaurer commented on #6127
@Scottmitch yeah... not sure about it... Let me think about it :)

[2016-12-19 13:25] normanmaurer commented on #6143
@wangqianfront as @fredericBregier noted we could most likely change this to only "throw" if the method is `HEAD`. Interested in providing a PR ?

[2016-12-19 19:22] normanmaurer commented on #6143
actually this is a duplicate of #6138

[2016-12-19 19:22] #6143 closed

[2016-12-20 09:32] normanmaurer commented on #6134
Fixed by https://github.com/netty/netty/pull/6144

[2016-12-20 09:32] #6134 closed

[2016-12-20 23:27] rkapsi opened #6150 "Detecting actual Channels idleness vs. slowness"
I don't know if you'd consider it a missing feature or a bug but there appears to be no effective way of measuring write idleness. The natural choice is to use Netty's own `IdleStateHandler` but it may not work as expected for `write()`. For the sake of simplicity I'm providing a HTTP example but we encountered it with H2.

Basically... The user's (our) intention is to close an idle connection. Th

[2016-12-21 01:06] #6132 closed

[2016-12-21 01:56] wangqianfront commented on #6138
@johnou update to DELETE.

[2016-12-21 02:07] Scottmitch commented on #6150
Whether this is a bug or missing feature is open to interpretation ... however if we do want to provide this functionality I don't think we should change the existing default behavior for `IdleStateHandler` for backwards compatibility reasons.

`ChannelOutboundBuffer` may be able to provide the tools we need...here are some random thoughts:
- The ChannelOutboundBuffer provides a counter of "pendin

[2016-12-21 02:13] Scottmitch commented on #6138
@fredericBregier - I'm not sure about GET or DELETE either.  I guess we can allow them but your milage may vary. If we do want to support these methods we should put a disclaimer to the effect of "the semantics are undefined" with a link to the RFC in comments.

https://tools.ietf.org/html/rfc7231#section-4.3.1

   sending a payload body on a GET request might cause some existing
   implementation

[2016-12-21 07:13] normanmaurer commented on #6150
@rkapsi @Scottmitch why can't this be fixed by using a `ChannelProgressivePromise` ?

[2016-12-21 08:52] jo-kin commented on #6132
Thanx a lot.
Deeply impressed by speed and thoroughness. Will report how it works for me soon.
Wishing you a very Happy Christmas and New Year 2017.

[2016-12-21 08:57] jo-kin commented on #6134
Thanks a lot. Will report how it works for me soon.
Wishing you a very Happy Christmas and New Year 2017.

[2016-12-21 10:16] fredericBregier commented on #6138
@Scottmitch for most of REST application, where a single request through uri parameter is not enough, a body is mandatory. It is not refused, contrary to HEAD, as noticed: "might cause some existing implementations to reject the request".

It is not standard and not fully supported, I agree, but even the RFC said that it could be useful. And as I note (my current project use this), in REST interfa

[2016-12-21 10:29] slandelle commented on #6138
AFAIK, the first app to make heavy use of request bodies with all HTTP methods, even GET, was ElasticSearch. So GET requests with a body is definitely something very common nowadays.

And then, there's the case of custom HTTP methods, e.g. WebDav, Varnish's PURGE and whatever people might come up with.

I originally had this kind of restrictions in AHC where I would only allow some methods to have

[2016-12-21 14:02] rkapsi commented on #6150
@normanmaurer it'd work at the expense of garbage. `IdleStateHandler` (or some other class) would have to create and swap out the promise in the `write(...)` method and a listener that will notify the original promise that was passed into `write(...)`. A technique I'd be fine using in my project where I know the nature of the ChannelPipeline. Adding something like that to Netty could be risky. Ide

[2016-12-21 18:49] Scottmitch commented on #6150
@rkapsi - does the approach I mentioned in https://github.com/netty/netty/issues/6150#issuecomment-268414509 work for you?

[2016-12-21 18:52] Scottmitch commented on #6138
I'm not against it and we generally don't impose limitations on these methods it in the core of Netty, so adding a disclaimer with a link to the RFC sgtm.

[2016-12-21 19:06] rkapsi commented on #6150
@Scottmitch - I think No. 1 wouldn't work for the reason you described. No. 2 should work. We'd get the `ChannelOutboundBuffer` via `Channel#unsafe()`?

[2016-12-21 19:29] Scottmitch commented on #6150
Yip. Yah the second bullet is the approach I was referring to ... the first bullet was just to clarify that only using the existing "pending bytes" counter won't be sufficient.

[2016-12-21 19:35] normanmaurer commented on #6138
+1

[2016-12-21 19:38] Scottmitch commented on #6139
I have not looked at the code yet ... but have you tried [netty-tcnative](http://netty.io/wiki/forked-tomcat-native.html#how-to-download-netty-tcnative-boringssl-static)? It directly uses OpenSSL which generally is more performant than JDK's SSL.

[2016-12-21 19:47] ZuluForce opened #6152 "HttpProxyHandler incorrectly formats IPv6 host and port in CONNECT request"
### Expected behavior
The HttpProxyHandler is expected to be capable of issuing a valid CONNECT request for a tunneled connection to an IPv6 host. In this case we are passing an IPv6 address (eg fd00:c0de:42::c:293a:5736) rather than a host name.

### Actual behavior
The HttpProxyHandler does not properly concatenate the IPv6 address and port. The resulting error after we fail to connect will show

[2016-12-21 19:50] normanmaurer commented on #6152
@ZuluForce maybe you can come up with a PR that fixes the issue for you ?

[2016-12-21 20:00] #6141 closed

[2016-12-21 20:14] Scottmitch commented on #6152
We should consider using [toAddressString](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/NetUtil.java#L948) which follows the RFC 5952 formatting (last time I checked java didn't). We could also add a method to correctly format a address+port which handles ipv6 and ipv4 correctly ... this is common enough.

[2016-12-21 20:15] normanmaurer commented on #6152
@Scottmitch +1 Want to take a stab ?

[2016-12-21 20:21] ZuluForce commented on #6152
Thanks for the replies @normanmaurer  and @Scottmitch. I would need to get the time from my employer to work on this and I currently don't have the Netty development environment setup or approval for the CCLA. If I could submit something it wouldn't be until after the holidays (ie early to mid January).

[2016-12-22 01:32] zsxwing opened #6153 "Potential endless loop in Recycler.Stack.scavengeSome"
### Expected behavior

Recycler.Stack.scavengeSome should never run forever.

### Actual behavior

Recycler.Stack.scavengeSome may not stop and it prevents the event loop from running other tasks.

### Steps to reproduce

I cannot reproduce it. But I found out a cycle linked list of `io.netty.util.Recycler.WeakOrderQueue` when I was investigating an issue that a netty client was hung forever.

![s

[2016-12-22 03:31] rxin commented on #6153
Note that this is found in Spark.

[2016-12-22 06:44] normanmaurer commented on #6153
Interesting.... never saw this :( will have a look

[2016-12-22 06:54] rxin commented on #6153
Thanks Norman.

[2016-12-22 06:58] normanmaurer commented on #6153
@zsxwing @rxin if you find anything else in the meantime that you can share which may help please let me know. Would it also be possible to get the heap-dump itself or does it contain sensitive data ?

[2016-12-22 07:41] konsultaner commented on #6139
@Scottmitch I took a look a netty-tcnative which sound pretty interesting, but it seems like it is not platform indepandent or the VM needs extra sources. This is something I do not really want in my project. I'm happy to have a out of the box solution.

I will give it a try anyway to optionally provide extra performance.

Seems like you think this is an expected behaviour?

[2016-12-22 07:50] hylddd opened #6154 "EventLoopGroup.shutdownGracefully() may produce thread leak"
### Expected behavior
All threads in EventLoopGroup closed.

### Actual behavior
Some threads still alive after `EventLoopGroup.shutdownGracefully()` returned.

Leak thread stack:
[code]

Something in stderr output:
[code]

This `IOException` always happen together with one thread leak.

Netty Code:
[code]

I traced some code and found that `SingleThreadEventExecutor.state` of the leak thread was

[2016-12-22 07:59] normanmaurer commented on #6154
@hylddd sorry but your version of netty is super old. Please upgrade to 4.0.42.Final and let us know if the problem still exists.

[2016-12-22 08:38] normanmaurer commented on #6152
@ZuluForce @Scottmitch let me take care.

[2016-12-22 09:49] hylddd commented on #6154
@normanmaurer I tried with Netty-4.0.42.Final, and the problem still exists.

[2016-12-22 09:50] normanmaurer commented on #6154
@hylddd did you actually make sure you called:

[code]
?

As this is an async operation.

[2016-12-22 11:39] hylddd commented on #6154
@normanmaurer I called `EventLoopGroup.shutdownGracefully().await(20L, TimeUnit.SECONDS)`, await returned `true` in about 2 seconds.

[2016-12-22 12:52] normanmaurer commented on #6153
@zsxwing @rxin I tried to reproduce it via a test-case but so far no luck :(

One question do you often create new threads which will die later ?

[2016-12-22 12:56] fredericBregier commented on #6138
+1 too. Who is taking this one?

[2016-12-22 12:57] normanmaurer commented on #6138
@fredericBregier the one who asks ;) ?

[2016-12-22 13:02] fredericBregier commented on #6138
Hey, I was sure you're going to tell that... ;-) I will try (holiday time but some time however)

So allowing all except HEADER with a link to the RFC with warning on usage is enough ?

[2016-12-22 14:07] rkapsi commented on #6150
@Scottmitch want me to look into this? I think it can be added to `IdleStateHandler` with a configuration option (i.e. default will retain the current behavior).

[2016-12-22 15:31] fredericBregier commented on #6138
Just for 100% sure, reading the RFC 7231, it seems only the following is not allowed to have a body:

- TRACE : "A client MUST NOT send a message body in a TRACE request." (4.3.8)

while others are either explicitely allowed:
- POST
- PUT
- OPTIONS

Or with the following warning: where you can replace XXX by GET, HEAD, DELETE, CONNECT
"A payload within a XXX request message has no defined semantic

[2016-12-22 17:17] fredericBregier commented on #6138
Here is my first proposal (working on Windows right now, even if using IntelliJ, so there might be syntax issue).

You are welcome to say if it is ok for you or not...

[2016-12-22 18:19] zsxwing commented on #6153
@normanmaurer Thanks for taking a look. Sorry that I'm not allowed to share the heap-dump as it's a production job.

We don't call NioEventLoop directly. Here are the codes creating the EventLoopGroup: https://github.com/apache/spark/blob/v2.1.0-rc5/common/network-common/src/main/java/org/apache/spark/network/client/TransportClientFactory.java#L104
and the codes set up the client: https://github.c

[2016-12-22 18:33] normanmaurer commented on #6153
@zsxwing but do you ofthen create new "TransportClientFactory" instances and destroy them ?

[2016-12-22 18:36] zsxwing commented on #6153
@normanmaurer We create several `TransportClientFactory`s for different modules but never destroy them until stopping the whole application.

[2016-12-22 18:50] normanmaurer commented on #6153
And you you allocate buffers only from within EventLoop threads or also from outside ?

[2016-12-22 19:05] zsxwing commented on #6153
Only within EventLoop thread. We also use Unpooled to allocate buffers outside. By the way, is it safe to release a ByteBuf outside the EventLoop thread? This may happen in our codes.

[2016-12-22 19:13] normanmaurer commented on #6153
Yes it is allowed... may these threads die frequently?

[2016-12-22 19:56] zsxwing commented on #6153
I don't think, unless Netty kills them internally.

[2016-12-23 08:42] stayfool commented on #6072
@Scottmitch I did't try that. I think retain a number of buffer for control maybe better。

[2016-12-23 09:35] fredericBregier commented on #6138
Tests passed. I let you review it ;-)

[2016-12-23 21:09] andrewmccall opened #6156 "Calls to discardSomeReadBytes() causes the JsonDecoder to get corrupted."
### Expected behavior
JsonDecoder should keep reading bytes even if the call to discardSomeReadBytes() is made.

### Actual behavior
JsonDecoder internal idx value is not reset, so the reader can no longer read bytes.

### Steps to reproduce
Send lots of data to a connection with a JsonDecoder, when a call to discardSomeReadBytes() is made the readerIndex will be reset. The internal idx of the Jso

[2016-12-23 21:11] normanmaurer commented on #6156
@andrewmccall may want to contribute a PR with a fix ?

[2016-12-23 21:12] andrewmccall commented on #6156
Needed the issue before I could create one. :)

[2016-12-23 21:25] normanmaurer commented on #6156
@andrewmccall actually you can even create a PR without  creating an issue first ;)

[2016-12-26 11:34] marfago commented on #6125
@normanmaurer Try this link: https://goo.gl/q4TxhH

[2016-12-27 17:26] Scottmitch commented on #6125
I get a 404 on this link ... can you share a reproducer project on GitHub?

[2016-12-27 18:15] Scottmitch commented on #6139
Yes the JAR contains a JNI library which varies for different platforms. `netty-tcnative-boringssl-static` includes libraries pre-built for the "most used" platforms (e.g. windows/osx/linux).

It is generally expected that using TLS/SSL will incur a performance penalty vs no TLS/SSL. It is generally expected that the penalty will be less when using `netty-tcnative` vs JDK. How much slower depends

[2016-12-27 18:25] Scottmitch commented on #6154
@hylddd - Can you include a complete code reproducer? The above code is not sufficient to reproduce.

[2016-12-27 18:26] Scottmitch commented on #6150
@rkapsi - Sounds good to me. Thanks!

[2016-12-28 06:10] killjason opened #6159 "http2-reverse-proxy error when bench marking:Frame length: 393509 exceeds maximum: 16384"
### Expected behavior
http2-reverse-proxy works with no error
### Actual behavior
bench mark client(grpc-client) throws error as following:

Encountered an error in unaryCall. Status is Status{code=INTERNAL, description=null, cause=io.netty.handler.codec.http2.Http2Exception: Frame length: 393509 exceeds maximum: 16384}
io.grpc.StatusRuntimeException: INTERNAL
	at io.grpc.Status.asRuntimeException

[2016-12-28 13:20] konsultaner commented on #6139
@Scottmitch @normanmaurer If this is the case, you may as well close this issue. A little hint in the docs would probably help others, because 1/5 of the performance was quite unexpected to me. Thank you for the netty-tcnative hint. I will give it a try 👍.

[2016-12-28 13:27] fredericBregier commented on #6139
From my own experience, 1/5 is quite huge. Generally I observed 10 to 20% of reduction of bandwidth , but with high cpu usage using standard java implementation, not jni ones.

[2016-12-28 18:06] konsultaner commented on #6139
@fredericBregier Thats what I thought! Thats why I added a [demo](https://github.com/netty/netty/files/659613/ssldemoEcho.zip). Maybe I did something completely wrong. Would be nice if there was a solution to it.

[2016-12-28 20:06] Scottmitch commented on #6139
@konsultaner - I took a quick look at your example. Here is a general tip:

- The SSL engines generally need a direct ByteBuffer to do encryption. So they will copy to a direct byte buffer if your data is not in a direct byte buffer. In your example you parse the data into a `byte[]` (`fileInputStreamReader.read(bytes);`),  then copy this data into a `String` (`new String(bytes, StandardCharsets.U

[2016-12-28 20:14] Scottmitch commented on #6159
@killjason - Please describe how you reproduce this error, and provide any additional code if necessary to repro. Assume we don't know how to run grpc-java code (this is not the grpc-java repo).

/cc @nmittler

[2016-12-28 22:00] Scottmitch opened #6161 "Sonarqube failure on CI server"
### Expected behavior
CI server should be able to run sonarqube and post results for each PR.

### Actual behavior
https://garage.netty.io/teamcity/viewLog.html?buildId=14967&buildTypeId=pulls_netty&tab=buildLog#_focus=190197

[code]

I get a 502 bad gateway when requesting this URL from my browser.

### Steps to reproduce
Seen during 2 builds of PR https://github.com/netty/netty/pull/6155

### Mi

[2016-12-29 05:58] killjason commented on #6159
http2-reverse-proxy is a proxy I wrote using netty based on http2 protocol for reverse proxy using. in my case, the scenario is :
http2-client(grpc-java-client) make grpc request to http2-reverse-proxy, then http2-reverse-proxy pass the request to backend service which is based on grpc-service. There are two handlers being used: Http2FrontendHandler and TcpBackendHandler:

the Http2FrontendHandler

[2016-12-29 06:19] killjason commented on #6159
the related issue is also in grpc-java repo:
https://github.com/grpc/grpc-java/issues/2558

[2016-12-29 08:09] marfago commented on #6125
@Scottmitch Unfortunately it is quite hard for me to reproduce the project, but I can share a new link (needs a gmail account): https://goo.gl/BpcfoY

Also, I have enabled advanced memory leak detection, and got some errors like:

`05:46:21.893 [nioEventLoopGroup-3-17] ERROR io.netty.util.ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.

[2016-12-29 10:26] fredericBregier commented on #6139
@konsultaner In addition to the very good points from @Scottmitch I would suggest you to use the stream support from Netty, since your title is containing "large file", which means for me "not able to stay in memory" (either as a byte array, string or whatever buffer).

See https://github.com/netty/netty/tree/4.1/handler/src/main/java/io/netty/handler/stream

Doing this way will prevent to load fi

[2016-12-29 11:04] konsultaner commented on #6139
@Scottmitch Thank you for those usefull tips! This will improve my software a lot!

Actually not, I think I saw it somewhere an added it to prevent errory that I didn't yet know about. Is it not needed?

I use it because this is just a code that reproduces my problem that I have with a more complex project.

I assume you want to hint me to the streaming possibilies that netty offers and that @fred

[2016-12-29 13:08] rgolangh commented on #5806
@Scottmitch I am seeing the same error
`java.lang.NoClassDefFoundError: Could not initialize class io.netty.util.concurrent.DefaultPromise`

But the underlying issue is within https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/PlatformDependent0.java#L107 - if for some reason you can't load Unsafe, ClassNotFoundException will be thrown, and that will propagate all

[2016-12-29 16:08] jasontedor commented on #5806
If you can never load unsafe, you should just disable it: `-Dio.netty.noUnsafe=true` or otherwise add the necessary configuration as you've done.

[2016-12-29 18:38] normanmaurer commented on #6161
Let me check

[2016-12-29 19:18] normanmaurer commented on #6161
should be fixed... service died.

[2016-12-29 19:55] Scottmitch commented on #6161
Thanks @normanmaurer !

[2016-12-29 20:01] Scottmitch commented on #5806
@rgolangh - What is your JDK version and OS details?

Yes it seems like we should catch CNFE in this case (and potentially others where we do similar reflection based operations). @jasontedor - any objection to catching `Exception` here ... or just keep adding individual exceptions as we discover them?

[2016-12-29 21:20] rkapsi opened #6163 "NPE in DefaultHttp2Connection$DefaultStream.takeChild(DefaultHttp2Connection.java:629)"
First and only time I've seen this.

[code]

[2016-12-30 01:32] benjaminliu20 opened #6164 "This package about io.netty.util.collection not found...."
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2016-12-30 01:47] zmyer opened #6165 "Netty HTTP2 Request is timeout"
### Expected behavior
When I run Netty Http2 helloworld example, it happened timeout request, How to do that, the example all run in localhost, and timeout set 5 seconds. It seem Netty Http2 codec module not too stable.

### Actual behavior
Message received for unknown stream id 864103
Exception in thread "main" java.lang.IllegalStateException: Timed out waiting for response on stream id 864103
	a

[2016-12-30 04:04] uglycow opened #6166 "limit the connections accepted in"
we can't limit the connections accepted in.
too many connections may exhaust our fds and lead to wield error.
would u please support this?  here is my solution #6162

[2016-12-30 07:10] normanmaurer commented on #6164
Run 'mvn clean compile' in the common module. It's generated during build

[2016-12-30 07:10] #6164 closed

[2016-12-30 11:57] fredericBregier commented on #3559
DefaultHttpDataFactory has a specific argument:

- https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/multipart/DefaultHttpDataFactory.java#L95 where the max size could be set (or using the other constructor that will set useDisk to true).

If setting this, you shall not have any memory issue (except if there is a bug in coding), that's why there are 3 imp

[2016-12-30 11:59] fredericBregier commented on #3559
Quick note: I note that you set "true" so meaning using disk based, so if there is such a memory issue, it means that there is a bug.

[2016-12-30 12:28] fredericBregier commented on #1753
I believe this issue could be closed once #6155 is cherry-picked.

[2016-12-30 16:46] Scottmitch commented on #6164
also please provide more details next time you report an issue. There are no details provided.

[2016-12-30 17:16] Scottmitch commented on #6165
@zmyer - Can you please list the steps to reproduce this issue? Are you running the `http2-server` and `http2-client` on the same host? If so how are you running them and with what arguments?

[2016-12-30 17:26] Scottmitch commented on #6159
thanks for the additional details. Describing generally what your are doing doesn't provide too much context here. Can you share a minimal reproducer for this issue?

Do you have any idea what frame type is written which violates the max frame size?

[2016-12-30 17:39] Scottmitch commented on #6125
We are not seeing the complete picture here (`WARNING: 55 leak records were discarded because the leak record count is limited to 4. Use system property io.netty.leakDetection.maxRecords to increase the limit.`) ... can you increase the limit as suggested? Note this may impact memory footprint and CPU usage.

From what is present it looks like on frame 4 `org.springframework.http.client.Netty4Clie

[2016-12-30 18:00] Scottmitch commented on #6139
What is your fallback if the buffer is not writable? Currently the data is dropped, is this what you want? Also the buffer may be able to expand to accommodate the additional data (see `ByteBuf#ensureWritable`).

Understood. If this same pattern exists in the other project you may want to reconsider how this case is handled there too.

In general as files get larger then loading them completely in

[2016-12-30 18:08] markdascher opened #6167 "OpenSslEngine doesn't respond to close_notify"
### Expected behavior

When a Netty server receives a TLS close_notify, it should respond with a close_notify.

### Actual behavior

Netty's [OpenSslEngine](https://github.com/netty/netty/blob/netty-4.1.6.Final/handler/src/main/java/io/netty/handler/ssl/OpenSslEngine.java) (actually [ReferenceCountedOpenSslEngine](https://github.com/netty/netty/blob/netty-4.1.6.Final/handler/src/main/java/io/netty

[2016-12-30 18:12] normanmaurer commented on #6167
@markdascher I think this is fixed in 4.1.7.Final-SNAPSHOT (current 4.1 branch). Can you please test and let us know ?

[2016-12-30 18:14] Scottmitch opened #6168 "Compression/Decompression Codecs should enforce memory allocation size limits"
### Expected behavior
To protect against OOME the compression and decompression codecs should explicitly limit the amount of data they compress and decompress. We may be vulnerable to OOME from large or malicious input.

### Actual behavior
In light of https://github.com/netty/netty/pull/5997 most of the compression/decompression codecs don't enforce limits on buffer allocation sizes.

### Steps t

[2016-12-30 18:15] Scottmitch commented on #6168
@normanmaurer @jasobrown - FYI.

[2016-12-30 19:01] markdascher commented on #6167
Wow, wasn't expecting an answer so fast.  👍

I just downloaded [netty-all-4.1.7.Final-20161230.120821-77.jar](https://oss.sonatype.org/content/repositories/snapshots/io/netty/netty-all/4.1.7.Final-SNAPSHOT/netty-all-4.1.7.Final-20161230.120821-77.jar), but the behavior is the same.

[2016-12-30 19:13] normanmaurer commented on #6167
Ok thx will have a look

[2016-12-30 19:18] Scottmitch commented on #6163
thanks for reporting @rkapsi. I'm not sure how the `children` map can contain `null` values ... seems like we should get a NPE at an earlier point because when we `put` a new entry we already dereference the object. Potentially an issue in `KObjectHashMap.template`...

[2016-12-30 19:26] killjason commented on #6159
@Scottmitch , the frame type is DATA frame.
 I debug the DefaultHttp2FrameReader when violates max frame size, the 'frameType' is 0.

[2016-12-30 20:00] #6138 closed

[2016-12-30 20:09] Scottmitch commented on #1753
@fredericBregier - PR #6155 has been cherry-picked. Feel free to close if you are satisfied since you reported the original issue.

[2016-12-30 20:16] Scottmitch commented on #6167
thanks for the detailed issue description @markdascher! seems reasonable to me and very helpful.

[2016-12-30 21:07] Scottmitch commented on #6161
@normanmaurer - CI servers are still having issues with sonarqube.

PR
https://github.com/netty/netty/pull/6160

Build Slave
debian7-1

Build Log
https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=14996#_focus=195434

[code]

[2016-12-30 21:21] fredericBregier commented on #1753
#6155 respond to this request so closing this one too

Thanks

[2016-12-30 21:21] #1753 closed

[2016-12-30 21:51] normanmaurer commented on #6161
Will Check tomorrow

[2016-12-30 23:03] markdascher commented on #6167
Yay!

The best workaround I've found, for the moment, is to add a listener to `SslHandler.sslCloseFuture()` to close the TCP connection immediately.  For example, replace [line 47](https://github.com/netty/netty/blob/netty-4.1.6.Final/example/src/main/java/io/netty/example/securechat/SecureChatServerInitializer.java#L47) of SecureChatServerInitializer.java with:

[code]

That at least prevents the

[2016-12-31 01:22] #6150 closed

[2016-12-31 04:45] killjason commented on #6159
@Scottmitch
**Th reproducer jars:**
[proxy.zip](https://github.com/netty/netty/files/679450/proxy.zip)
[grpc-benchmark-server.zip](https://github.com/netty/netty/files/679452/grpc-benchmark-server.zip)
[grpc-benchmark-client.zip](https://github.com/netty/netty/files/679453/grpc-benchmark-client.zip)
**Steps to reproduce:**
(run the following commands in the same server, **please use a good perform

[2016-12-31 17:39] Scottmitch commented on #6159
@killjason - Few question:

`Http2ChannelHandler`:
1. I don't see any coordination between sending the connection preface to `outBoundContext` and sending other frames. Is it possible other data may be sent before the connection preface?
2. You are directly using the `Http2FrameWriter` via `encoder.frameWriter()`. You should be using the`Http2ConnectionEncoder` to write which enforces flow control

[2017-01-01 00:32] Scottmitch commented on #6163
@rkapsi - after some more investigation I think I see an issue which may result in this NPE. Stay tuned for a PR.

[2017-01-02 11:42] zmyer commented on #6165
@Scottmitch, yes, in the same host and all in default.  I run http2 example repeatedly. My IDE is IDEA 2016.

[2017-01-02 13:28] jasontedor commented on #5806
@Scottmitch Rather than adding exceptions, I'd go the other direction. Consider how this could have gone down had `ClassNotFoundException` been handled the way that the required checked exceptions are handled. The developer here would not know that unsafe was unavailable unless they happened to have enabled debug logging and were reading debug log messages. Because of the non-silent failure, the d

[2017-01-02 19:22] rkapsi opened #6169 "ByteBuf#compareTo() "violates its general contract""
### Expected behavior

`ByteBuf` implements the Comparable interface but it appears to not work correctly.

### Actual behavior

The following exception occurs:

[code]

### Steps to reproduce

See below.

### Minimal yet complete reproducer code (or URL to code)

[code]

### Netty version

4.1.7.Final-SNAPSHOT

### JVM version (e.g. `java -version`)

[code]

### OS version (e.g. `uname -a`)

Linu

[2017-01-03 02:16] endlesstian commented on #327
We have the same problem. Netty 4.1.0.CR7, Jdk 1.8
`"nioEventLoopGroup-13832-2" #501109 prio=10 os_prio=0 cpu=0.00 [reset 0.00] ms elapsed=31.50 [reset 31.50] s allocated=259840 B (253.75 KB) [reset 259840 B (253.75 KB)] defined_classes=0
io= file i/o: 0/0 B, net i/o: 215/140 B, files opened:0, socks opened:-1  [reset file i/o: 0/0 B, net i/o: 215/140 B, files opened:0, socks opened:-1 ]
tid=0x000

[2017-01-03 09:42] Viyond commented on #1759
I focus on it, too.

[2017-01-03 17:09] Scottmitch commented on #5806
`Unsafe` is optional and does not have to be considered a fatal failure on startup (in general it is intended to be an optimization). We take measures to ensure the startup sequence can continue on if `Unsafe` is not present and CNFE happens to be a hole. If the user wants to make `Unsafe` mandatory and fail the start up sequence the user is free to impose this restriction at a higher level.

For

[2017-01-03 17:12] Scottmitch commented on #6165
I am unable to reproduce this issue. Please explicitly list the steps required to reproduce this issue.

[2017-01-03 17:44] jasontedor commented on #5806
I know it's optional, but that doesn't negate anything that I said about silent failures.

[2017-01-03 17:53] Scottmitch commented on #6169
Thanks for reporting @rkapsi ... standby for a PR.

[2017-01-03 17:56] Scottmitch commented on #327
@endlesstian - Can you provide a reproducer? Also can you update to the latest version of Netty (4.1.6) and list your version of JDK (also update to latest version if necessary).

[2017-01-03 18:06] Scottmitch commented on #5806
Exception handling seems to be a reoccurring theme in our discussions :) In general I agree that "silent failures", "swallowing exceptions", and otherwise reducing visibility for issues that the user must deal with is a not a good idea. In this specific case the user does not necessarily have to know/care that we use `Unsafe` under the hood. Using `Unsafe` is an internal implementation detail of N

[2017-01-03 18:34] Scottmitch commented on #6161
Another failure during CI build

PR
https://github.com/netty/netty/pull/6171

Build Slave
pulls-1

Build Log
https://garage.netty.io/teamcity/viewLog.html?buildId=15058&buildTypeId=pulls_netty&tab=buildLog#_focus=36

[2017-01-03 19:20] igor-dmitriev commented on #6125
Hi @normanmaurer @marfago any updates??? I got the same issues:
[code]

[2017-01-03 20:48] Scottmitch commented on #6125
@igor-dmitriev - Can you provide a reproducer? Also what version of Netty, and can you update to the latest released version? What version of JDK, and can you update to the latest version?

[2017-01-03 22:56] igor-dmitriev commented on #6125
@Scottmitch Netty version - 4.0.36.Final, jdk - 1.8. I think I can update, but it's a bit risky in my opinion, I am wondering to have a stable version, but if it fix memory leak issue I think it makes sense.
Unfortunately I can't provide the reproducer, cause I am working for private project, and right now it's not easy to simulate it.

[2017-01-03 23:36] marfago commented on #6125
@Scottmitch Here comes a complete frame stack:

[code]

[2017-01-04 02:02] zmyer commented on #6165
en, Ok, now I show such example below, and you can run it much more time.
at such example, I run in local, exception still happen,
Message received for unknown stream id 1857213
Exception in thread "main" java.lang.IllegalStateException: Timed out waiting for response on stream id 1857213
	at io.netty.example.http2.helloworld.client.HttpResponseHandler.awaitResponses(HttpResponseHandler.java:81)

[2017-01-04 02:40] Scottmitch commented on #6125
@igor-dmitriev - 4.0.36 is relatively old (April 2016). We are currently on 4.0.42 and should soon release 4.0.43. Each release typically includes many bug fixes and improvements that you are likely missing on your older version. What does `java -version` display?

@marfago - Thanks for the updated leak trace. It is difficult to tell because of some issue we recently fixed with the leak detector a

[2017-01-04 03:00] Scottmitch commented on #6165
I was able to reproduce with 4.1.6.Final (on stream id `697`) but I made it past stream id `5,000,000` with `HEAD` on the 4.1 branch. Can you reproduce with `HEAD` on the 4.1 branch?

[2017-01-04 03:21] zmyer commented on #6165
@Scottmitch , yes, When I change with HEAD on the 4.1 branch, it still happen.

[2017-01-04 05:19] vongosling commented on #6165
I've had a similar problem :-)

[2017-01-04 06:20] igor-dmitriev commented on #6125
@Scottmitch `java -version "1.8.0_111"`
OK, thank you, I will update the Netty to the latest version

[2017-01-04 10:12] marfago commented on #6125
@Scottmitch @igor-dmitriev I suspect that the issue with the LEAK messages and the real memory leak are not related. In my case, memory consumption keeps growing continuously with `-Dio.netty.noUnsafe=false` whereas is steady with `-Dio.netty.noUnsafe=true` and does not seem to be related to the LEAK messages in the log. Furthermore, enabling the LEAK log to advanced with a high record level slows

[2017-01-04 19:48] RevvyDevvyDoo opened #6172 "Wrong link in documentation"
### Expected behavior
Clicking on the link takes me to http://localhost:8080/

### Actual behavior
Clicking on the link takes me to http://localhost:8080/, (Note the comma at the end)

### Steps to reproduce
Click on the link in http://netty.io/4.1/xref/io/netty/example/http/websocketx/server/WebSocketServer.html#34

### Minimal yet complete reproducer code (or URL to code)
Irrelevant

### Netty v

[2017-01-04 21:50] wazhar opened #6173 "Native epoll transport should honor AUTO_READ flag"
### Expected behavior
Data should only be read when requested, if AUTO_READ option is set to false
### Actual behavior
When using Epoll transport, netty calls handler's channelRead0 without requesting read, even if AUTO_READ option is set to false. NIO Transport on the other hand works as expected.
This could be a problem if you are acting as a proxy.
### Steps to reproduce
This is reproducible us

[2017-01-05 01:45] carl-mastrangelo opened #6174 "Request for 4.1.7 release?"
It seems netty has not had a point release for several months now.  Would it be possible to make a point release soonish in order to take advantage of all the commits that have happened since 4.1.6 ?

[2017-01-05 02:21] zsxwing commented on #6153
Saw this issue again today. Since I only saw this after Spark upgraded Netty from 4.0.41.Final to 4.0.42.Final, it's likely because of some change between these two versions. Hope this is helpful.

[2017-01-05 02:50] blueswhisper commented on #6173
may be you should use Epoll level trigger, default Epoll Mode is edge trigger,  [see this](https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/channel/epoll/EpollChannelConfig.java#L127)

[2017-01-05 06:46] adrian-w-liu opened #6176 "HttpObjectDecoder discards trailer headers in chunked mode"
### Expected behavior
Suppose the last http content is as bellows:
Foo-Header: foo/r/n/r/n
And as TCP is a stream protocol, netty receives two ByteBuf object:
Foo-Header: foo/r/n and /r/n
In this case, netty shouldl return a DefaultLastHttpContent with the header in the content.

### Actual behavior
In this case, netty returns an empty last content.
I read the code and think that netty should retu

[2017-01-05 07:02] normanmaurer commented on #6174
Next week once I am back from vacation 🎉👍

[2017-01-05 08:41] normanmaurer commented on #6176
Let me check

[2017-01-05 12:03] mrniko commented on #5723
Same issue with Netty: 4.1.6.Final and memory leak detection doesn't help

[2017-01-05 18:36] wazhar commented on #6173
Setting LEVEL_TRIGGERED bootstrap option did not help.

[2017-01-05 19:33] doom369 commented on #5723
Same issue, also Netty: 4.1.4.Final.

I was able to make dump diff.

![4e628062-cd2f-11e6-9d4f-8df914157cb9](https://cloud.githubusercontent.com/assets/1536494/21694551/8bd52746-d38e-11e6-91a3-f30f2022c52c.png)

[2017-01-06 04:13] wangyuntao opened #6177 "Comment error"
[AbstractChannelHandlerContext.invokeHandler](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/AbstractChannelHandlerContext.java#L981)'s comment perhaps should be: "If this method returns {@code **_FALSE_**} we will not..." ?

[2017-01-06 08:44] mp911de opened #6178 "SSL handshake fails with Received fatal alert: internal_error"
### Expected behavior

Successful SSL handshake should work with `SslHandler`. Using Java's `URLConnection` works.

### Actual behavior

`javax.net.ssl.SSLException: Received fatal alert: internal_error` thrown

[code]

### Steps to reproduce

1. Connect to `randomuser.me`, Port 443
2. Initiate SSL handshake

### Minimal yet complete reproducer code (or URL to code)

[code]

[code]

### Netty vers

[2017-01-06 08:58] slandelle commented on #6178
Have you tried enabling SSL/TLS debug (`-Djavax.net.debug=ssl`)?
This could be caused by Netty disabling unsecured protocols and cipher suites by default, while those are enabled with HttpsUrlConnection.

Without more information and without a way to reproduce your problem (as you hide your actual url), I don't expect anyone to be able to help and investigate.

[2017-01-06 09:07] slandelle commented on #6178
Also:
* AFAIK, `SslContext.newHandler` doesn't configure the `HTTPS` `EndpointIdentificationAlgorithm` on the `SSLEngine` it creates, so things like SNI might not work.
* You use the `newHandler` overloaded version that doesn't take the hostname and port.

[2017-01-06 09:44] mp911de commented on #6178
Using `newHandler(ByteBufAllocator, String, int)` did the trick.

https://randomuser.me/ is the real URL, even if it does not look like. In this case, TLSv1.2 with ECDHE_ECDSA with P-256 and AES_128_GCM was used, so I could exclude the weak protocols as a possible cause.

Thanks a lot for your support.

[2017-01-06 09:44] #6178 closed

[2017-01-06 09:52] slandelle commented on #6178
Great!

[2017-01-06 12:05] InfoSec812 opened #6179 "PortUnreachableExceptions thrown without detail message"
### Expected behavior
When a PortUnreachableException is thrown, calling exception.getLocalizedMessage() should return a non-null String.

### Actual behavior

PortUnreachableException has an available empty constructor which is being used by the underlying Netty library... Here's the call stack which leads to the Exception being created:

[code]

So, this appears to be a JDK or a Netty problem, n

[2017-01-06 13:12] normanmaurer commented on #6179
@InfoSec812 this is thrown by the JDK impl itself so not much we can do here

[2017-01-06 13:43] InfoSec812 commented on #6179
That's unfortunate! What about catch8ng and rethrowing?

Deven

On Jan 6, 2017 8:13 AM, "Norman Maurer" <notifications@github.com> wrote:

[2017-01-06 15:29] normanmaurer commented on #6179
Yep that is a good idea.. let me do this

[2017-01-06 17:17] InfoSec812 commented on #6179
Awesome! Thanks!

On Jan 6, 2017 10:29 AM, "Norman Maurer" <notifications@github.com> wrote:

[2017-01-06 20:05] InfoSec812 commented on #6179
The Vert.x project is also tracking this as https://github.com/eclipse/vert.x/issues/1755

[2017-01-06 21:30] zsxwing commented on #6153
@normanmaurer NVM. I figured it out. Please take a look at #6180

[2017-01-07 04:17] dingwpmz opened #6181 "Netty关于内存泄露检测，SIMPLE级别时，默认检测频率为113时，只会跟踪一个的直接内存"
您好，我发现内存检测时，如果检测等级Level为SIMPLE时，检测频率为默认的113时，每创建113个直接内存（堆外内存）时，才会跟踪一次，为什么基于这样的设计呢？
既然是为了检测内存泄露，应该是每产生一个直接内存（堆外内存）时，就应该加入到引用链中进行跟踪，为了考虑性能问题，可以没创建113个时，再调用reportLeak方法，
/**
     * Creates a new {@link ResourceLeak} which is expected to be closed via {@link ResourceLeak#close()} when the
     * related resource is deallocated.
     *
     * @return the {@link ResourceLeak} or {@code null}
     */

[2017-01-07 08:36] Scottmitch commented on #6173
IIRC if we get a EPOLLRDHUP then we must read until we get a socket error for stream sockets [1] while in ET mode as we may not be notified of activity on that FD again. This may not be necessary in LT mode, and especially if NIO transport is still able to deliver all data. I will need to investigate more.

[1] https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/c

[2017-01-07 09:04] mayflaver commented on #6181
@dingwpmz 请使用英文， 方便交流

[2017-01-07 09:13] Scottmitch commented on #6181
@mayflaver @dingwpmz - Can you translate to English please?

[2017-01-07 20:03] normanmaurer commented on #6153
Fixed by https://github.com/netty/netty/pull/6180

[2017-01-07 20:03] #6153 closed

[2017-01-07 20:05] normanmaurer commented on #6177
@wangyuntao yes... let me fix this.

[2017-01-07 20:12] Scottmitch commented on #6165
I found some issues in the client example ... standby for a PR.

[2017-01-07 20:15] normanmaurer commented on #6176
@adrian-w-liu actually I think it will never have anything stored in `trailer` when it uses an empty last content. Can you share a reproducer or unit test ?

[2017-01-07 20:21] normanmaurer commented on #6172
Let me fix it

[2017-01-07 20:22] normanmaurer commented on #6179
@InfoSec812 one question.. what you would link to have in the exception message ?

[2017-01-07 20:31] Scottmitch commented on #5723
@refine36 - Why do you think the leak is in `HttpPostMultipartRequestDecoder `? Do you have a leak report?

[2017-01-07 20:31] InfoSec812 commented on #6179
Received Port Unreachable when attempting to send to <socket addr>?

Something like that.

And thanks again!

Deven

On Jan 7, 2017 3:23 PM, "Norman Maurer" <notifications@github.com> wrote:

[2017-01-07 20:36] normanmaurer commented on #6167
Looking now...

[2017-01-07 20:46] Scottmitch commented on #6179
Can't the rethrowing be done at a higher level? I just wonder if this will be useful for all use cases, or maybe some won't care about the message ... or can derive their own if necessary? Maybe not a big deal but just want to make sure the extra object allocation / wrapping is more generally useful.

[2017-01-07 20:58] InfoSec812 commented on #6179
I would suggest that the error should be useful at the lowest level
possible so the all downstream users benefit. Also, adding the message will
not break existing implementations which currently handle the value being
null.

Deven

On Jan 7, 2017 3:47 PM, "Scott Mitchell" <notifications@github.com> wrote:

[2017-01-07 21:18] normanmaurer commented on #6179
@Scottmitch I think it make sense to add it to netty as its basically the same as we do with out "ConnectException" stuff. I will also do an openjdk patch so we may get it fixed in openjdk at some point  tho 👍

[2017-01-07 21:31] normanmaurer commented on #6161
sonaqube died because of OOME ... Increased the max heap space. let us see if this is good enough

[2017-01-07 23:32] InfoSec812 commented on #6179
Woot! Thanks all!

On Sat, Jan 7, 2017 at 4:18 PM, Norman Maurer <notifications@github.com>
wrote:

[2017-01-08 07:55] normanmaurer commented on #6167
Stay tuned for a PR... I think I know the best way to fix this.

[2017-01-08 10:26] Hcely opened #6182 "bug of AbstractByteBuf.readBytes(int),the method can not increases the readerIdx."
### Netty version:
4.0.33.Final ,4.1.6.Final
### source code of AbstractByteBuf.writeBytes
[code]
writeBytes(ByteBuf,int,int) do not call src.readerIndex(int);

[2017-01-08 10:33] Hcely commented on #6182
this bug will causes "io.netty.util.IllegalReferenceCountException: refCnt: 0" when use Pipeline.replace.
source code of ByteToMessageDecoder
[code]

[2017-01-08 10:39] normanmaurer commented on #6182
@Hcely can you provide a unit test ?

[2017-01-08 12:23] Hcely commented on #6182
@normanmaurer Forgive my rudeness. I found the real reason of error"io.netty.util.IllegalReferenceCountException: refCnt: 0".It's amazing
#example
[code]

[2017-01-08 13:21] normanmaurer commented on #6182
@Hcely I am not sure what you try to explain here. If you think there is a bug please provide a unit test that fails or another complete reproducer

[2017-01-08 13:58] YuvalItzchakov commented on #6133
I am seeing the same exception occur in Spark Streaming with an uptime of 3 days.

The stacktrace seems similar, only I see that `PooledHeapByteBuf._setLong` is trying to can an `Object[]` to a `byte[]` and failing:

[code]

Environment details:

## Java:
[code]

## OS:
[code]

## Netty:
[code]

[2017-01-08 14:00] normanmaurer commented on #6133
@ppersad can you try upgrading java and report back if you still see it ?

[2017-01-08 15:07] Hcely commented on #6182
@normanmaurer
#version
4.0.33.final
#server code:
[code]
client code:
[code]
1. run server.
2. run client first time, log(make be server speeds time load class,so client's buf just contains resp data when client handles handshake.):
[code]
3.run client second time,log('hello world' before 'connected'.it mean client's buf contains resp data and binary data when client handles handshake.):
[code]

b

[2017-01-09 02:41] #6177 closed

[2017-01-09 08:42] normanmaurer commented on #6161
Fixed...

[2017-01-09 08:42] #6161 closed

[2017-01-09 08:49] YuvalItzchakov commented on #6133
@normanmaurer We've updated from 8u66 to 8u112 in production, I'll update in the following days if the issue was resolved.

[2017-01-09 08:51] normanmaurer commented on #6133
@YuvalItzchakov thanks! Also please let me know if there is any "easy" way for me to reproduce.

[2017-01-09 08:53] YuvalItzchakov commented on #6133
@normanmaurer I'm trying to create a minimal reproduce. If anything comes up, I'll be sure to update.

[2017-01-09 08:59] wangyuntao opened #6184 "About ByteBuf.internalNioBuffer"
Hi guys,

Why  [ChannelOutboundBuffer.nioBuffers()](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/ChannelOutboundBuffer.java#L412) use **internalNioBuffer** instead of **nioBuffer** ?

If i have a **DIRECT** byteBuf to write to two channels, and i forgot to slice or duplicate when write, because of the using of **internalNioBuffer**, the two channels (or two chan

[2017-01-09 09:00] normanmaurer commented on #6184
@wangyuntao its to reduce object allocation.

[2017-01-09 09:00] #6184 closed

[2017-01-09 09:20] rgolangh commented on #5806
@Scottmitch I'm using openjdk 1.8.0_111-b16 on Fedora 25

Can we couple the check of Unsafe with epoll/kqueue usage? if that's clean enough to do then I think its the best of both worlds, explode netty if you have a core dependency missing or just a WARN msg in case its not there.

[2017-01-09 13:16] wangyuntao commented on #6184
@normanmaurer , thank you for your reply!

But if using internalNioBuffer, there's a chance to lead to EventLoop thread enter endless loop, is't too dangerous ?

After I‘v read the code, I have another question.

If I write a HeapByteBuf, netty will copy it to a DirectByteBuf, and if I write a DirectByteBuf, netty will use it,
then netty will write these DirectByteBufs to socket.

In this process,

[2017-01-09 19:47] ppersad commented on #6133
Currently where I'm at on my side is that we've found that we cannot reproduce the issue if we set the `-Dio.netty.noUnsafe=true` flag.  Next up is to get a build to our perf testing environment without that flag, with the latest version of the JDK and with a forked version of netty containing additional logging.  I'll update again once I have more information.

[2017-01-10 04:55] wangyuntao opened #6185 "Spelling mistake"
[DefaultEventExecutorChooserFactory.PowerOf**Tow**EventExecutorChooser](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/concurrent/DefaultEventExecutorChooserFactory.java#L46)

Should be PowerOf**Two** ?

[2017-01-10 07:22] normanmaurer commented on #6167
@markdascher https://github.com/netty/netty/pull/6189 should fix it... Can you check ?

[2017-01-10 07:28] normanmaurer commented on #6185
yep... fixing

[2017-01-10 07:29] normanmaurer commented on #6185
@wangyuntao fixed by https://github.com/netty/netty/pull/6191

[2017-01-10 07:34] wangyuntao commented on #6185
OK!

[2017-01-10 07:34] #6185 closed

[2017-01-10 07:40] wangyuntao opened #6192 "Add some warn log about unknown channel option?"
Should add some WARN log [at this point](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/DefaultChannelConfig.java#L109) ? like [this one](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/bootstrap/ServerBootstrap.java#L242) ?

[2017-01-10 08:58] igor-dmitriev commented on #6125
Hi everybody, bad news, I got this bug after upgrade to the latest version - 4.1.6.Final.
[code]

[2017-01-10 08:59] normanmaurer commented on #6125
@igor-dmitriev is there anyway to share a reproducer I can run locally ?

[2017-01-10 09:23] igor-dmitriev commented on #6125
@normanmaurer unfortunately no, but I think this is a single way to figure out why the leak is occurred.

[2017-01-10 09:31] normanmaurer commented on #6125
@igor-dmitriev seems like this happens with little shot proxy doesn't this mean I could just run it and see the leak ?

[2017-01-10 09:36] igor-dmitriev commented on #6125
@normanmaurer I am not sure, actually I posted it to little proxy - https://github.com/adamfisk/LittleProxy/issues/313

[2017-01-10 11:07] normanmaurer commented on #6177
Fixed by https://github.com/netty/netty/pull/6188

[2017-01-10 12:35] normanmaurer commented on #6172
Fixed by https://github.com/netty/netty/pull/6190

[2017-01-10 12:35] #6172 closed

[2017-01-10 12:50] normanmaurer commented on #6185
Fixed by https://github.com/netty/netty/pull/6191

[2017-01-10 12:58] normanmaurer commented on #6182
@Hcely please upgrade to netty 4.0.42.Final. I can not reproduce it there.

[2017-01-10 12:58] #6182 closed

[2017-01-10 13:22] normanmaurer commented on #6152
@ZuluForce PTAL https://github.com/netty/netty/pull/6195

[2017-01-10 13:46] jasontedor commented on #5806
@Scottmitch Yes. I think silent or late failures are a scourge that just lead to harder-to-debug problems down the line.

I hear you, but I'm unswayed. In addition to the places you list where unsafe is required, it is also used as an optional performance optimizations in various places. Netty has presumably deemed these optimizations important enough that unsafe is enabled by default. Not explici

[2017-01-10 13:50] normanmaurer commented on #5806
@jasontedor @Scottmitch sorry for joining late but my vacation was too good ;)

@jasontedor I disagree with you to some extend here. I think if netty can be used (and in fact it does) without Unsafe it is good enough to just log and move on. I think require the user to explicit set a system property on some systems and on some systems not is worse then "automatically" handle it.

[2017-01-10 19:44] #6169 closed

[2017-01-10 20:41] Scottmitch commented on #5806
@rgolangh - Unsafe should already be required to use kqueue and epoll native transports. If we are not enforcing this correctly feel free to file an issue.

[2017-01-10 21:10] Scottmitch commented on #5806
@jasontedor - Netty strives to provide "good performance" in "most use cases". Netty is widely used for many different protocols, and in many different use cases. Generally when using `Unsafe` is a reasonable option it can provide a performance boost (unless intrinsics come into play), but we can't speak for every JDK and every platform that folks may use. If we suspect (or are told) this is not t

[2017-01-10 21:11] #6173 closed

[2017-01-10 21:39] Scottmitch commented on #6125
@igor-dmitriev - As described in https://github.com/netty/netty/issues/6125#issuecomment-269799633 this leak record is incomplete. Can you provide a complete leak record?

[2017-01-10 21:49] Scottmitch commented on #6125
@marfago - The rational you provide does not completely rule out this being related to a `ByteBuf` leak. If unsafe is enabled Netty may allocate direct memory without using the `ByteBuffer.allocateDirect` interface. This may mean that the GC will not reclaim the direct memory. Try setting the system property `io.netty.maxDirectMemory=0` (instead of `-Dio.netty.noUnsafe=false`) and see if you still

[2017-01-11 06:47] YuvalItzchakov commented on #6133
@normanmaurer After running for two days, the issue has reproduced. I still haven't had the time to try and work on a reproduce, so I'm just dropping this here so you'll know updating to 8u112 doesn't help.

[2017-01-11 07:00] normanmaurer commented on #6133
@ppersad @YuvalItzchakov thanks a lot for the comments... I will start digging in the meantime.

[2017-01-11 09:29] mrsWangxing opened #6202 "use ssl protocol send file failed"
I write 2 demo test netty ssl.
The first demo, I didn't use the SSL protocol.The second demo I use the SSL protocol.
this is the client code.Send the file to the server

This is my handler:
[code]
[code]
When I use the SSL protocol ,I found that sending a large file to server.The server receives the file handler will only trigger channelActive and channelInactive without triggering channelRead eve

[2017-01-11 09:31] mrsWangxing opened #6203 "Using SSL protocol to send large file failed"
I write 2 demo test netty ssl.
The first demo, I didn't use the SSL protocol.The second demo I use the SSL protocol.
this is the client code.Send the file to the server

This is my client handler:
[code]
[code]
When I use the SSL protocol ,I found that sending a large file to server.The server receives the file handler will only trigger channelActive and channelInactive without triggering channelR

[2017-01-11 10:38] killjason commented on #6159
@Scottmitch I think the problem is that I use encoder().writeHeader(context)/writeData(context) in the server type http2connectionhandler, and the context parameter is the backed handler context

[2017-01-11 10:42] #6159 closed

[2017-01-11 17:38] rfielding commented on #3559
That's good that at least the large files can be written to disk.  (Go's framework actually works like this by default.... where files over 10MB spill out to disk to free up memory.)  There is still a problem if the file is being written to disk.  If the file comes in over SSL, you don't want to spill the beans by leaving the plaintext version of it sitting in a cache on the filesystem.  If you ju

[2017-01-11 19:07] #6163 closed

[2017-01-11 19:52] markdascher commented on #6167
Looks like that does the trick!  I built netty from the `fix_close_notify` branch, and now see the close_notify whether or not I use `netty-tcnative-boringssl-static-1.1.33.Fork25.jar`.

Thanks!

[2017-01-11 19:52] normanmaurer commented on #6167
@markdascher boom! Thanks for reporting back :)

[2017-01-11 19:53] normanmaurer commented on #6167
@markdascher and thanks again for the detailed description how to reproduce it easily. Without this it would have take a lot longer.

[2017-01-11 20:11] normanmaurer opened #6205 "Investigate performance of Base64"
`Base64.encode(...)` / `Base64.decode(...)` is quite slow as it acts on byte-level. We may want to look into optimise this.

See also:
https://github.com/netty/netty/pull/6145#issuecomment-271899281

[2017-01-11 20:16] Scottmitch commented on #6205
thanks for reporting!

[2017-01-11 20:23] #6165 closed

[2017-01-11 20:30] Scottmitch commented on #6159
@killjason - thanks for reporting back. so some wires got crossed ... that will do it :)

[2017-01-11 20:34] Scottmitch commented on #6202
netty 5.0 is not supported. please use netty 4.1 and report back with any updates.

[2017-01-11 20:36] Scottmitch commented on #6203
this looks like a duplicate of https://github.com/netty/netty/issues/6202. Please clarify the differences if this is not a duplicate.

[2017-01-11 20:36] #6203 closed

[2017-01-11 22:53] Scottmitch opened #6206 "HTTP/2 RFC compliance for stream state involving "Priority Only Streams""
### Expected behavior

https://tools.ietf.org/html/rfc7540#section-5.1.1

   streams in the "idle" state that might have been initiated by that
   peer with a lower-valued stream identifier.

Streams which are in IDLE but have had frames exchanged (e.g. PRIORITY frames) should be transitioned to CLOSED when a frame with a numerically higher stream ID is used (for the respective endpoint).

Care mu

[2017-01-11 22:54] Scottmitch commented on #6206
@nmittler - FYI. IIRC we have discussed this in the past, but it fell off my radar for a while. I want to make sure I track it here so it isn't lost. We should address this for the 4.1.8 release.

[2017-01-11 23:06] Scottmitch commented on #6206
A case such as the following should result in an error (stream ID 3 is closed when the headers are sent)

[code]

[2017-01-11 23:42] nmittler commented on #6206
@Scottmitch sgtm.  Did you have a PR for this that you were working on?

[2017-01-12 02:39] jasontedor commented on #6174
Is this going to materialize? We are impacted by https://github.com/netty/netty/commit/ee63d01cb15b0d3b29edf1b7345b52e225adc781.

[2017-01-12 02:53] Scottmitch commented on #6174
The plan is still to release this week. @normanmaurer is back and itching to pull the release trigger ... just trying to do some validation and make sure everything is in good order.

[2017-01-12 02:54] Scottmitch commented on #6206
@nmittler - I haven't started yet no, but I can fit it into my schedule in the next couple weeks ... unless you are volunteering to do it sooner :)

[2017-01-12 05:50] normanmaurer commented on #6174
Yes! Today or tomorrow latest

[2017-01-12 05:57] mrsWangxing commented on #6202
Yse , You are right. I use  netty-all-4.1.6.Final.jar  can upload large file。but I find that the file is not  incomplete， missing 8 KB。I try to upload small file also miss 8Kb。if I do not  use the SSL protocol, there is no this problem。

[2017-01-12 06:25] mrsWangxing commented on #6202
https://github.com/mrsWangxing/netty-ssl-send-large-file/tree/master   is my test demo

[2017-01-12 06:51] normanmaurer commented on #6152
Fixed by https://github.com/netty/netty/pull/6195

[2017-01-12 06:52] #6152 closed

[2017-01-12 06:59] normanmaurer commented on #6167
Fixed by https://github.com/netty/netty/pull/6189

[2017-01-12 06:59] #6167 closed

[2017-01-12 07:08] normanmaurer commented on #6141
Fixed by https://github.com/netty/netty/pull/6145

[2017-01-12 09:32] lioasdfghjkl opened #6207 "HttpContentCompressor is not working?"
Oh, I need some help...I have some question for build a HTTP Server on Netty. Thank you help first!

### Expected behavior
HttpContentCompressor should to compression HTTP content....

### Actual behavior
But my HTTP client get plain text, not byte stream after compression. Oh, I make sure this client have no Decompressor.

### Steps to reproduce
Ehh...I just run my simple server, see <b>Minimal y

[2017-01-12 09:50] slandelle commented on #6207
This is a user error.

`Content-Encoding` describes the encoding currently the HTTP entity currently uses (if it doesn't match, your entity is invalid). When you're manually setting the `Content-Encoding` response header to `gzip`, you're telling "my response body is already compressed", and `HttpContentCompressor` will leave it untouched as expected.

Don't set the `Content-Encoding` response hea

[2017-01-12 09:52] normanmaurer commented on #6207
@slandelle thanks for taking care buddy

[2017-01-12 09:52] #6207 closed

[2017-01-12 10:08] slandelle commented on #6207
@normanmaurer Glad to help so you can focus on releasing 4.1.7 😄

[2017-01-12 10:08] normanmaurer commented on #6207
@slandelle working on it as we speak ;)

[2017-01-12 11:14] slandelle commented on #6207
Can't wait for it so we can upgrade all our stack to Netty 4.1 ;)

[2017-01-12 11:24] #6174 closed

[2017-01-12 12:22] mmcguill opened #6208 "JsonObjectDecoder incorrect CorruptedFrameException?"
I have come across some strange behaviour while using the JsonObjectDecoder class. It is very intermittent but I managed to reproduce and provide a unit test below to demonstrate the issue. It appears from some initial investigation that the problem lies with the use of different ByteBufs, but I'll leave that for your analysis. Perhaps I'm not using the class correctly?

The 2 below JSON Strings a

[2017-01-12 15:33] nmittler commented on #6206
@Scottmitch the general approach sgtm. I suspect we'll need to add information to the nodes to speed up the processing (e.g. option 2).

[2017-01-12 16:19] normanmaurer commented on #6208
maybe related to https://github.com/netty/netty/pull/6157 ?

[2017-01-12 18:20] exell-christopher opened #6209 "HTTP/2 HPACK decoder oversized header handling causes client/server Dynamic Table inconsistencies"
### Problem Description
When a client sends oversized headers that causes the decoder to exceed the MAX_HEADER_LIST_SIZE setting, the decoder stops processing headers, and throws a HeaderListSizeException which causes a 431, and a RST_STREAM. If the incoming request had additional headers after the header that caused the HeaderListSizeException to be thrown that would have been incrementally index

[2017-01-12 18:29] normanmaurer commented on #6209
@Scottmitch @nmittler can you take a look ?

[2017-01-12 18:40] nhnFreespirit commented on #6209
I've been helping @exell-christopher with debugging this.

Our current understanding is that there really is no safe way to recover from an exception thrown in the Decoder except for tearing down the connection as the index tables in client and server can have gotten out of synch with no way to safely bring them back in sync.

[2017-01-12 18:56] exell-christopher commented on #5889
I'm going to close this given that 431 handling is now present.

[2017-01-12 18:56] #5889 closed

[2017-01-12 22:19] Scottmitch commented on #6202
I don't have time to dig into this code at the moment. If you could reduce it to a Netty unit test that would be very helpful.

[2017-01-12 22:41] Scottmitch commented on #6209
This is even called out in the RFC. Makes sense since HPACK is stateful.

https://tools.ietf.org/html/rfc7540#section-10.5.1

   connection state, unless the connection is closed.

Introducing a "limit for how much we allow exceeding another limit" is starting to get intense.  To make things interesting we enforce the limit at 2 levels (during accumulating the header blocks, and during the decompr

[2017-01-12 22:54] exell-christopher commented on #6209
For our use case, sending a go-away as the behavior for any overflow is not desirable.  The client in our case is a proxy and the inbound connection is heavily multiplexed. With what you are suggesting, one request that exceeds the limit by even one byte causes all other requests to be dropped. Having a reasonable overflow amount allows us to continue servicing the other requests and reject just t

[2017-01-12 22:58] Scottmitch commented on #6209
@exell-christopher - Yes I understand the implications. Just requires a bit more effort to implement, and the memory upper bound would not be bound by `SETTINGS_MAX_HEADER_LIST_SIZE` but some other implementation dependent limit. This is not necessarily a bad thing but just needs to be communicated clearly (via javadocs, docs, etc...).

Just curious in your scenario what do you anticipate your "ma

[2017-01-12 23:04] exell-christopher commented on #6209
I would likely use MAX_HEADER_LIST_SIZE + (MAX_HEADER_LIST_SIZE * .25)  I would expect that the .25 would be user configurable

[2017-01-13 01:30] exell-christopher opened #6210 "Unexpected behavior for MAX_HEADER_TABLE_SIZE"
### Issue Description
I ran into some unexpected behavior when playing with MAX_HEADER_TABLE_SIZE, and the HTTP/2 Encoder/Decoder, and I figure it's worth noting.

The constant MAX_HEADER_TABLE_SIZE indicates that the largest value for the table size is the largest unsigned 32 bit int. Because of this the values that could be passed in are larger than Java int. However, when the encoder encodes th

[2017-01-13 01:54] Scottmitch commented on #6210
Are you sure about this? I think the issue is more likely that the `decodeULE128` returns an `int`(inherited from Twitter's hpack [1]) and the integer encoding cannot completely be representing in an 31 bit unsigned value (max value documented as [2]).

I agree this is an issue though. There are some cases that can tolerate a 32 bit unsigned value and in general reporting a decompression error due

[2017-01-13 02:05] Scottmitch commented on #6210
`MAX_HEADER_TABLE_SIZE` is meant to limit [SETTINGS_HEADER_TABLE_SIZE](https://tools.ietf.org/html/rfc7540#section-6.5.2) as defined by the HTTP/2 RFC and that is where the limit comes from. Just because java's int type can't represent the decoded representation doesn't mean we shouldn't support encoding it.

[2017-01-13 02:28] mrsWangxing commented on #6202
ok ,I close this issues。

[2017-01-13 03:01] Lomad opened #6211 "unresolve dependency"
### Netty version 4.1

### JVM version 1.7

this is my os version  :A 64 bit operating system, based on x64 processor

error: netty/example unresolve dependency : io.netty:netty-tcactive:windows-x86_32:1.1.33.Fork25

because of my os?   I think this is not reasonable...

[2017-01-13 03:27] chhsiao90 commented on #6206
Hi @Scottmitch ,

I just find this interesting issue and want to provide my opinion related to this!
I had some similar issue recently and had seen discussion about this at some http2 implementation.
related issue https://github.com/h2o/h2o/pull/1136

In https://tools.ietf.org/html/rfc7540#section-5.1.1 that there is another paragraph said

So I preferred the conclusion ```priority frame won't inc

[2017-01-13 03:37] jasontedor commented on #6174
Thank you @normanmaurer.

[2017-01-13 03:38] Lomad commented on #6211
another error which appers in handler/ssl /ReferenceCountedOpenSslClientContext.java , all about "import org.apache.tomcat.jni.*  cannot resolve symbol

[2017-01-13 05:10] mrsWangxing commented on #6202
I tested several times. If I send a 8 KB TXT file,the server  will receive is an empty file .
I also  find that the first 8Kb bytes will send failure.
I hope you will have time to determine if this is the program I wrote problem or a problem with netty

[2017-01-13 05:10] mrsWangxing commented on #6202
Thank you!

[2017-01-13 07:03] johnou commented on #6202
@mrsWangxing is it still an issue with 4.1.7?

[2017-01-13 07:05] johnou commented on #6211
There is no 32 bit tcnative in Maven, check you are running 64-bit Java and OS.

[2017-01-13 07:10] Lomad commented on #6211
ok,thanks.please check the comment which I submit before,it's the another error I have no idea about

[2017-01-13 07:11] Lomad commented on #6211
@johnou
ok,thanks.please check the comment which I submit before,it's the another error I have no idea about

[2017-01-13 07:27] johnou commented on #6211
Both errors are because Maven is trying to resolve 32 bit tcnative artifact which doesn't exist in central Maven.

[2017-01-13 07:28] mrsWangxing commented on #6202
@johnou yes

[2017-01-13 07:29] Lomad commented on #6211
@johnou
Got it. So thanks!

[2017-01-13 07:37] #6211 closed

[2017-01-13 07:44] mrsWangxing commented on #6202
If you have time,  you can look at my demo. thanks.
https://github.com/mrsWangxing/netty-ssl-send-large-file/tree/master is my test demo

[2017-01-13 08:18] maseev commented on #5950
@svnp10 Is there any chance to get a reproducer for this problem? Because in my particular case Netty native transport performs two times better in terms of latency.

[2017-01-13 17:17] johnrengelman opened #6212 "Slf4jLoggerFactory masks all output when using slf4j-simple"
### Expected behavior
Normal logging occurs to the console when using slf4j-simple

### Actual behavior
Output is hidden.

### Steps to reproduce
Initialize the Slf4jLoggerFactory before any Slf4jLogger (.e.g SimpleLogger)

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.5.FINAL

### JVM version (e.g. `java -version`)
java version "1.8.0_112"
Java(TM) SE Runtime En

[2017-01-13 21:33] Scottmitch commented on #6202
If you still believe this is a Netty issue then lets leave it open. Have you narrowed down the problem to be on the client or the server via tcpdump or Wireshark?

[2017-01-13 21:40] Scottmitch commented on #6206
@chhsiao90 - Can you use the same format as in https://github.com/netty/netty/issues/6206#issuecomment-272024705 so it is clear the order of frames and which endpoint is sending/receiving?

[2017-01-13 21:42] Scottmitch commented on #5950
@maseev - Good to know. Just curious are your throughput numbers any different, and anything interesting in terms of GC?

[2017-01-13 21:52] Scottmitch commented on #6206
@chhsiao90 - The issue you reference seems to be unrelated.

number of open streams.

This issue is not about accounting for the number of open streams. I believe we already do this correctly.

PROTOCOL_ERROR when a PRIORITY frame for stream id 3 was followed by
a HEADER frame for stream id 1.

We don't have this issue.

[2017-01-13 22:12] chhsiao90 commented on #6206
@Scottmitch ,

I start netty http2-server from example and run h2spec with https://github.com/summerwind/h2spec/pull/67
And got the result
[code]

The example with format
[code]
That h2spec expected it's a passed case, but it seems that netty would failed the test.

My idea is that [DefaultHttp2ConnectionDecoder](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/co

[2017-01-13 22:20] svnp10 commented on #5950
Sorry guys, i thought i had replied to this thread. Will get back soon. I will have to dig that code and reproduce it again. thanks :)

[2017-01-13 23:02] Scottmitch commented on #6206
@chhsiao90 - Interesting. This actually seems like it violates the RFC. I commented on the PR to discuss in more detail.

[2017-01-13 23:59] Scottmitch commented on #6209
I'll take a stab at this...

[2017-01-14 00:22] exell-christopher commented on #6209
Thanks. Happy to submit a PR as well.

[2017-01-14 00:25] Scottmitch commented on #6209
@exell-christopher - Already in progress :) I'll ping you for review when I have a PR ready.

[2017-01-14 00:36] chhsiao90 commented on #6206
That the rfc seems not defined it very clearly, different people would have different explanation. :)

[2017-01-14 04:17] chhsiao90 commented on #5761
May I ask that if I could help on this issue?
I will pick up some simple case to fix and create issue and PR for that.
It seems that most failed test are occurred at http2 validation.
Thanks!

[2017-01-14 04:21] maseev commented on #5950
@Scottmitch With netty-native-transport GC works much less because it (netty-native-transport) [produces so little garbage](https://github.com/netty/netty/issues/5803#issuecomment-265134666).

Throughput numbers became much more consistent. GC pressure with the netty-native-transport enabled is quite low compared to the default version of transport. Because of that, the stdev value is significantl

[2017-01-14 07:32] normanmaurer commented on #5761
@chhsiao90 sure just open PRs, we love contributions

[2017-01-14 08:32] exell-christopher opened #6213 "HTTP2 Encoder Failure on encode of oversized headers corrupts dynamic table consistency"
### Problem Description
When the HTTP/2 encoder fails to encode headers due to headers that exceed the MAX_HEADER_LIST_SIZE during an encode where new headers are added, the dynamic on the sending side is updated, but the dynamic table on the receiving side is not. This can cause subsequent encodes of headers that already exist in the dynamic table to map to an incorrect index on the receiving sid

[2017-01-14 08:33] exell-christopher commented on #6213
@Scottmitch You may already be looking at this with #6209. I'm opening another bug to track this issue. Let me know if you need additional info, the test case is a bit convoluted, but demonstrates the issue.

[2017-01-14 08:35] exell-christopher commented on #6213
One other thing worth noting. With the current behavior, if headers fail to encode, but the request/response has headers and data, the headers won't send, but the data frame will. Likely sending a GO_AWAY will prevent this.

[2017-01-14 10:04] marfago commented on #6125
**@Scottmitch** - Adding `-Djdk.nio.maxCachedBufferSize=1485760 -Dio.netty.maxDirectMemory=0` still generates the memory leak.

[2017-01-14 15:11] mrsWangxing commented on #6202
192.168.0.102  is client,192.168.0.101 is server .I use wireshark to monitor their card respectively.Their monitoring data are the same.I do not know much about network knowledge, I don't know whether it can determine the netty issue.
![server11](https://cloud.githubusercontent.com/assets/8254733/21955857/8f4fd188-daae-11e6-89f2-69260e482409.png)

[2017-01-15 14:30] rschmitt opened #6217 "Clarification requested: Netty 4.0 vs 4.1"
A [SO answer](http://stackoverflow.com/a/30477520) from a few years ago states the following:

Is this generally correct? Is it accurate to describe Netty 4.1 as a generally experimental branch, and Netty 4.0 as the "default" major version?

[2017-01-15 17:37] doom369 opened #6218 "DecoderException: setMasterSecret() error"
Hello. I recently updated to latest netty version 4.1.7.Final and now from time to time I see next error in logs :

[code]

What does it mean?

[code]

Ubuntu

[2017-01-15 18:05] Scottmitch commented on #6213
@exell-christopher thanks for reporting. I actually already fixed this as part of the fix for PR https://github.com/netty/netty/issues/6209 and added a unit test.

[2017-01-15 18:47] Underbalanced commented on #344
@trustin @normanmaurer I think this issue would be best resolved by adding a simple UDP Channel Factory that you would pair with a existing TCP server. UDP Factory will take a new tcp channel and return a UDP channel using the same resources. This would allow persons to be able to seamlessly use UDP or TCP with their own further implementation. They would still have to have a UDP server on the oth

[2017-01-15 20:57] Underbalanced commented on #344
Something like this?

[code]

[2017-01-16 08:11] chhsiao90 commented on #6209
Some information about summarize the header length,
In [rfc7540](https://tools.ietf.org/html/rfc7540#section-6.5.2)

      peer of the maximum size of header list that the sender is
      prepared to accept, in octets.  The value is based on the
      uncompressed size of header fields, including the length of the
      name and value in octets plus an overhead of 32 octets for each
      header f

[2017-01-16 08:17] chhsiao90 commented on #6209
Sorry, there is a better reference [rfc7541](https://tools.ietf.org/html/rfc7541#section-4.1)
[code]

[2017-01-16 10:05] zmyer opened #6219 "java.lang.NoSuchMethodError: org.apache.tomcat.jni.SSLContext.setCACertificateBio(JJ)Z"
### Expected behavior

### Actual behavior
java.lang.NoSuchMethodError: org.apache.tomcat.jni.SSLContext.setCACertificateBio(JJ)Z
	at io.netty.handler.ssl.ReferenceCountedOpenSslServerContext.newSessionContext(ReferenceCountedOpenSslServerContext.java:162)
	at io.netty.handler.ssl.OpenSslServerContext.<init>(OpenSslServerContext.java:349)
	at io.netty.handler.ssl.OpenSslServerContext.<init>(OpenSs

[2017-01-16 10:23] slandelle commented on #6219
This information you provided is incorrect.Your stacktrace says there's a call to `org.apache.tomcat.jni.SSLContext.setCACertificateBio` in `ReferenceCountedOpenSslServerContext` on line 162, but there's [no such call in Netty 4.1.6](https://github.com/netty/netty/blob/netty-4.1.6.Final/handler/src/main/java/io/netty/handler/ssl/ReferenceCountedOpenSslServerContext.java#L162) that you claim to be

[2017-01-16 11:33] normanmaurer commented on #6219
Exactly like @slandelle said :)

[2017-01-16 11:33] #6219 closed

[2017-01-16 11:37] normanmaurer commented on #6218
@doom369 hmm that is strange... are you sure you not also upgrade the jdk ?

[2017-01-16 12:07] doom369 commented on #6218
What do you mean by that?

Usually I'm using epoll +openSSL enabled. However this time I'm turned off openSSL after upgrade to 4.1.7.Final. So during this period I saw this error on different servers where I deployed 4.1.7 with turned off openSSL. Now I made a build of tcnative-parent-FORK-25 and switched back to openSSL no such errors anymore.

[2017-01-16 12:24] normanmaurer commented on #6218
@doom369 I was asking if you maybe also have upgrade Java itself to another version. Honestly I never saw this error before :/

[2017-01-16 12:41] doom369 commented on #6218
@normanmaurer

I updated recently all my envs from 1.8.0_96 to 1.8.0_111 if that what are you asking.

Same here :).

[2017-01-16 12:44] normanmaurer commented on #6218
@doom369 yes... let me dig a bit.

[2017-01-16 15:19] maybhi opened #6220 "io.netty.channel.AbstractChannel$AnnotatedConnectException: Connection refused: no further information: /127.0.0.1:11235 when established 2000 connections from netty client program at netty client side"
### Expected behavior
No Error
### Actual behavior
As i am making 2000 concurrent connections(TLS Connections) from java netty client program to netty server which is running on same host. But after 500 or 1000 connections i am getting below error at netty client side,

Jan 16, 2017 8:30:28 PM io.netty.util.concurrent.DefaultPromise notifyListener0
WARNING: An exception was thrown by veni.client.C

[2017-01-16 15:35] normanmaurer commented on #6220
@maybhi maybe some sort of firewall ? This error comes from the jdk classes directly so there is nothing we can do here in netty.

[2017-01-16 16:14] doom369 opened #6221 "Memory leak in latest netty version."
After recent update to 4.1.7-Final (from 4.1.4-Final) my servers started dying with OOM within few hours. Before they were running for weeks with no issues.

Error :

[code]

Or :

[code]

I did restart and made heap dump before abnormal memory consumption and after first error messages from above :

![memory](https://cloud.githubusercontent.com/assets/1536494/21990541/dff6dd2e-dc17-11e6-86e5-1055

[2017-01-16 17:56] johnou commented on #6221
@doom369 interesting find, keep us updated.

[2017-01-16 18:14] normanmaurer commented on #6221
@doom369 just a guess... can you try set: `-Dio.netty.maxDirectMemory=0` ?

[2017-01-16 18:19] doom369 commented on #6221
@normanmaurer

I started 3 different servers with different params :

1 (epoll + no openssl) - `java -Dio.netty.noPreferDirect=true -Dio.netty.allocator.type=unpooled -jar server-0.21.7-3.jar`
2 (epoll + no openssl) - `java -Dio.netty.noPreferDirect=true -Dio.netty.allocator.type=unpooled -Dio.netty.maxDirectMemory=0 -jar server-0.21.7-3.jar`
3 (rpoll + no openssl) - `java -Dio.netty.noPreferDirec

[2017-01-16 19:03] andrewmccall commented on #6208
I think you're right - I've added this test to my PR because this seems to fix it and is far simpler than the tests I was trying to write.

[2017-01-16 19:36] doom369 opened #6222 "io.netty.handler.codec.DecoderException: java.lang.IllegalArgumentException: Bad arguments"
One more strange exception in latest 4.1.7-Final. I'm don't think this netty specific. However it never appeared before :

[code]

[code]

Ubuntu

[2017-01-16 19:47] jplock opened #6223 "Client initiated renegotiation supported when using OpenSSL?"
### Expected behavior

Renegotiation is supported

### Actual behavior

[code]

The server is advertising that renegotiation is supported `Secure Renegotiation IS supported` but when using `netty-tcnative-boringssl-static`, `openssl s_client` is returning an error when triggering renegotiation.

If I remove the boringssl-static dependency and fall back on the JDK, it works fine.

I noticed in http

[2017-01-16 20:18] Scottmitch commented on #5950
I understand the general benefits. I was asking for specific numbers if you are willing to share them. Be good to know general use case and differences you observe between NIO and EPOLL (sounds like you have done some evaluation).

[2017-01-16 20:24] Scottmitch commented on #6217
4.1 is considered stable and mostly conforms to 4.0 APIs while adding some features and improvements in some areas. If you are starting a new project you should use 4.1. If your project has been using 4.0 with no issues and you don't need any new features from 4.1 then stick with 4.0.

[2017-01-16 20:24] #6217 closed

[2017-01-16 20:37] normanmaurer commented on #6223
@jplock as far as I know boringssl does not support renegation by default and so we not support it when using netty-tcnative-boringssl-static. @nmittler @davidben please correct me if I am wrong.

[2017-01-16 20:37] Scottmitch commented on #6125
@marfago I get a 403 on the last link you provided. Can you please create a minimal reproducer on github as requested and provide the link here?

[2017-01-16 20:44] Scottmitch commented on #6223
IIRC server initiated renegotiation is supported (maybe a compiler flag is necessary) but client initiated renegotiation isn't supported (for boringssl).

FYI renegotiation is removed in TLS 1.3.

[2017-01-16 20:49] jplock commented on #6223
if it's not supported, should netty respond that it's not available though?

[2017-01-16 20:53] normanmaurer commented on #6223
@jplock yes...Thats why I included the boringssl people (@davidben @nmittler ) to ensure this is really the case ;)

[2017-01-16 20:59] davidben commented on #6223
That's right. BoringSSL only implements renegotiation in limited circumstances:
https://boringssl.googlesource.com/boringssl/+/HEAD/PORTING.md#TLS-renegotiation

What the server is advertising is the renegotiation indication extension (RFC 5746). It's not especially relevant for a non-renegotiating server, but is still advertised for features and clients that require servers be patched against the

[2017-01-16 21:08] davidben commented on #6223
I forget where the thread was, but RI for non-renegotiating servers came up at IETF at some point and the conclusion was it would be simpler to have non-renegotiating servers implement a trivial form of RI rather than complicate every feature to say "RI must be implemented unless renego doesn't end up being used."

[2017-01-16 21:09] Scottmitch commented on #6220
It sounds like slowing down the rate at which the client attempts to establish new connections make the issue go away and you are able to open the desired amount of sockets? If so you may want to check your SO_BACKLOG parameter is large enough to handle the burst of connection attempts.

[2017-01-16 21:20] Scottmitch commented on #6222
Can you provide a reproducer? Do you see a similar issue when using OpenSSL?

[2017-01-16 21:22] mmcguill commented on #6208
This is a possible fix. I'm not sure if it will introduce other issues, I've built my own decoder in the meantime, which resolved the issues I was seeing. Thanks!

[2017-01-16 21:23] doom369 commented on #6222
`Do you see a similar issue when using OpenSSL?`

No.

`Can you provide a reproducer?`

Reproducible only on production servers with many different traffic.

[2017-01-17 00:03] jplock commented on #6223
Thanks for the explanation everyone.  I'm going to close this out for now and try the netty-tcnative version (not boringssl).

[2017-01-17 00:03] #6223 closed

[2017-01-17 01:04] jroper opened #6225 "ResourceLeakDetector on HashWheeledTimer instance threshold too low?"
As I understand it, if you have 1 processor, the resource leak detector will complain if you create more than 4 instances of a HashedWheelTimer.

In the JVM world, it's becoming very easy to need more than 4 instances of this.  Consider an app that has a database driver that uses and manages its own Netty instance, a message broker client that uses and manages its own Netty instance, an HTTP clien

[2017-01-17 03:17] yiguolei opened #6226 "it is too slow when using loopback interface"
I write a simple ping pong code. the client send a long value to server and the server reply the long value to the client and then the client send the value again....

the client and server are on the same machine and tcp_nodelay=true.

I found netty could only send and receive only about 60k ping pong messages.  while thrift could send and receive about 600k ping pong messages in the same environ

[2017-01-17 04:26] maybhi commented on #6220
@normanmaurer as i am running both client and server on same host and Can you please tell me about this exception from your io.netty.channel.AbstractChannel implementation?

[2017-01-17 04:36] maybhi commented on #6220
@Scottmitch I have already set backlog= 5000 in ServerBootstrap option. and i am attempting only 2000 connections simultaneously. is there anything else?

[2017-01-17 05:25] Scottmitch commented on #6225
Thanks for reporting @jroper! The following is not clear to me:

- why in general is the creation of leak records is related to the lifetime of the objets being tracked [1]
- why tripping this threshold is logged as an error
- why the initial choice of `Runtime.getRuntime().availableProcessors() * 4L` was made [2]

At one point the sample rate was governed by a counter and some modulo arithmetic [

[2017-01-17 05:29] Scottmitch commented on #6226
I would recommend starting with the [echo example](https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/echo) and ensure you understand the mechanics of sending/receiving messages and flushing. Please re-open if you still feel there is an issue attributed to Netty.

[2017-01-17 05:29] #6226 closed

[2017-01-17 05:32] Scottmitch commented on #6222
You also reported https://github.com/netty/netty/issues/6218. Is the environment and scenario (upgraded java and Netty, don't usually use Java SSLEngine but did during the upgrade process) the same for this issue too?

[2017-01-17 05:35] doom369 commented on #6222
Correct.

[2017-01-17 05:48] doom369 commented on #6221
Just now server 3 died (11 hours passed). The funny thing is - it has 4 times less load than server 1 and 2 times less load than server 2. Netty LEAK detection doesn't show anything.

Error :

[code]

I did quick restart of this server with only :

`-Dio.netty.noPreferDirect=true -Dio.netty.allocator.type=unpooled `

and it died again within 5 minutes.

So I turned off openSSl and run again with `

[2017-01-17 05:59] Scottmitch commented on #6222
just for additional context ... you are using JDK based SSLEngine because you are seeing other issues which may be related to the OpenSSL based SSLEngine https://github.com/netty/netty/issues/6221?

[2017-01-17 06:01] normanmaurer commented on #6221
@doom369 so what exact confit not produce the problem and what does ? I am a bit confused... also could you please try to upgrade in more intectemental steps so we can find out at which version this starts to happen?

[2017-01-17 06:02] normanmaurer commented on #6221
@doom369 and a heap dump would be nice

[2017-01-17 06:05] doom369 commented on #6221
`-Dio.netty.noPreferDirect=true -Dio.netty.allocator.type=unpooled`
and
`-Dio.netty.noPreferDirect=true -Dio.netty.allocator.type=unpooled -Dio.netty.maxDirectMemory=0`

works fine, but only with openSSL turned off.

I'll try in case of next failure, hope it will not appear soon :).

[2017-01-17 06:05] Scottmitch commented on #6208
😢. I'm glad things are working for you now ... but if you are able to contribute back that would be much appreciated.

[2017-01-17 06:11] normanmaurer commented on #6221
Interesting... so whenever you use OpenSSL it blows up? And whenever you use JDK SSL it never does?

[2017-01-17 06:18] Scottmitch commented on #6220
Where do you put this `sleep` call?

I'm not very familiar with Windows but I would check your backlog queue lengths as you run your scenario to make sure your configuration is being applied as expected. I would also check if there are any max file descriptor limits or other limits imposed by your environment.

[2017-01-17 06:19] Scottmitch commented on #6221
This is what it looks like to me too ... https://github.com/netty/netty/issues/6222#issuecomment-273029544

[2017-01-17 06:22] doom369 commented on #6222
Initially I switched to JDK based SSLEngine in order to build openSSL on same machine. So I updated netty version, turned off openSSL and started new server where those errors become to appear. After that I made a build of tcnative, turned openSSL on and restarted server again. And memory leaks started.

[2017-01-17 06:31] doom369 commented on #6221
Correct. (Latest netty and fork25 of tcnative).

With `-Dio.netty.noPreferDirect=true -Dio.netty.allocator.type=unpooled ` all is fine so far. However there is also issue with pooled allocator I had before with 4.1.4-Final. This is related ticket - https://github.com/netty/netty/issues/5723. I can't say is it releated to openSSL (fork15) or to pooled allocator. Maybe this is different issues.

[2017-01-17 06:34] maseev commented on #5950
@Scottmitch I'm pretty sure I can't talk about this stuff (NDA, you know :smile:).

[2017-01-17 06:42] Scottmitch commented on #6221
So you are also using Netty's SOCKS code? Is it possible to try a test scenario w/out SSL to rule that out (don't do this in production or with real use data if that doesn't make sense for your scenario)?

[2017-01-17 06:55] doom369 commented on #6221
@Scottmitch no. #5723 seems very similar to issue I had.

Few more details. I migrated from 4.0.37 to 4.1.4-Final - 6 months ago (epoll + openSSL). All was fine (servers were running for weeks). However ~1 month ago one of servers went down with OOM. This is where I found this #5723 and it was very similar to what I saw in logs. Look like some new scenarios on my servers pulled some triggers. Serv

[2017-01-17 07:11] doom369 commented on #6221
Hm... I just remembered that I did all my tests without openSSL. Let check again.

[2017-01-17 07:12] maybhi commented on #6220
@Scottmitch  please find below client code,

package veni.client;

import java.io.BufferedReader;
import java.io.FileInputStream;
import java.io.IOException;
import java.io.InputStreamReader;
import java.net.InetAddress;
import java.net.InetSocketAddress;
import java.net.SocketAddress;
import java.security.KeyStore;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Date;
import

[2017-01-17 08:18] normanmaurer commented on #6192
@wangyuntao we warn in `ServerBootstrap` and `Bootstrap`. The rest is up to the user when the methods return false.

[2017-01-17 08:36] normanmaurer commented on #6133
@ppersad any news ?

@YuvalItzchakov can you also try using `-Dio.netty.noUnsafe=true` and see if this fixes the problem for you ?

[2017-01-17 08:37] wangyuntao commented on #6192
@normanmaurer , I checked the code and found that [Bootstrap](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/bootstrap/Bootstrap.java#L272) has warn logs, but [ServerBootstrap](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/bootstrap/ServerBootstrap.java#L144) does't.

[2017-01-17 08:41] normanmaurer commented on #6192
@wangyuntao ups... let me fix this then.

[2017-01-17 09:05] YuvalItzchakov commented on #6133
@normanmaurer I'm currently running with `-Dio.netty.noUnsafe=true` and the problem hasn't reproduced since.

[2017-01-17 09:19] normanmaurer commented on #6133
@YuvalItzchakov thx! If I would provide you with a custom jar could you run with it and see if the problem still shows ? I am just trying to get a better idea where exactly I need to debug.

[2017-01-17 09:40] YuvalItzchakov commented on #6133
@normanmaurer I can't really run custom JARs in production like that :) Perhaps I can enable some debug flags?

[2017-01-17 09:41] igor-dmitriev commented on #6125
Guys, new logs info after upgrade to the latest netty version, maybe it can help:
LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
WARNING: 10 leak records were discarded because the leak record count is limited to 4. Use system property io.netty.leakDetection.maxRecords to increase the limit.
Recent

[2017-01-17 09:49] wangyuntao opened #6227 "Is it necessary to add ServerBootstrapAcceptor handler to the pipeline in a delayed fashion?"
Here is the [souce code](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/bootstrap/ServerBootstrap.java#L182), and the following are the part of it:

[code]
In the above code, the ServerBootstrapAcceptor handler was added to pipeline in a delayed fashion, the reason for this according to the comments  is that "**the user may have used a ChannelInitializer as handler**", bu

[2017-01-17 09:59] maybhi opened #6228 "Netty javax.net.ssl.SSLException: SSLEngine closed already error"
### Expected behavior
No Error
### Actual behavior
I am getting error when i write data at client side using

ChannelFuture future=channel.writeAndFlush(uMessage);
				future.addListener(new GenericFutureListener<Future<? super Void>>() {

					@Override
					public void operationComplete(Future<? super Void> future) throws Exception {
						// TODO Auto-generated method stub
						if(future.isSuc

[2017-01-17 10:16] johnou commented on #6225
@jroper thanks for opening this, we are running into the same problem with normal usage of our application (I think during shutdown) we see messages like this..

[code]

[2017-01-17 10:22] johnou commented on #6228
@maybhi I think this was fixed with netty-4.1.7.Final

[2017-01-17 11:02] normanmaurer commented on #6133
@YuvalItzchakov basically I would like you to run a build that not use PooledUnsafeHeapByteBuf and see if this fixed it. I can even push it in a branch so you can build it by yourself if this would help. WDYT ?

[2017-01-17 11:02] maybhi commented on #6228
@johnou I checked it. Its not working in netty 4.1.7.Final. I am gettting same error.

[2017-01-17 11:03] normanmaurer commented on #6228
@maybhi I suspect that your handshake failed and so the Channel is closed.

did you check `sslHandler.handshakeFuture()` ?

[2017-01-17 11:09] normanmaurer commented on #6221
@doom369 please report back...

[2017-01-17 11:16] maybhi commented on #6228
@normanmaurer I checked with below code
                 SSLEngine sslEngine = client.getSslEngine();
		socketChannel.pipeline().addFirst("handler", new SslHandler(sslEngine, false));
               Future f1=sslHandler.handshakeFuture();
		f1.addListener(new GenericFutureListener<Future<?>>() {

			@Override
			public void operationComplete(Future<?> future) throws Exception {
			  if(future.isSu

[2017-01-17 11:17] normanmaurer commented on #6228
@maybhi what is the exception ?

[code]

[2017-01-17 11:25] maybhi commented on #6228
now handshake is ok. It gives me Success output but when i write to the channel i got the same error the code is as per below

if (channel.isActive()) {
				System.out.println("before write "+input);
				ChannelFuture future=channel.writeAndFlush(uMessage);
				future.addListener(new GenericFutureListener<Future<? super Void>>() {

					@Override
					public void operationComplete(Future<? super V

[2017-01-17 11:43] normanmaurer commented on #6228
@maybhi please share a complete reproducer that I can run locally

[2017-01-17 12:48] YuvalItzchakov commented on #6133
@normanmaurer But doesn't the flag `noUnsafe` cause it *not* to use the unsafe heapbyteubf?

[2017-01-17 12:49] normanmaurer commented on #6133
@YuvalItzchakov yes put also in other areas of the code-base. I would like to validate that it is only related to `PooledUnsafeHeapBytBuf`. Also another thing I would like to know is if it also happens if you use `UnpooledByteBufAllocator`.

[2017-01-17 12:50] normanmaurer commented on #6212
@johnrengelman let me check...

[2017-01-17 12:51] YuvalItzchakov commented on #6133
@normanmaurer The problem is that I'm not using Netty directly, but rather indirectly through Spark. Getting netty with the custom build will require to jump some hoops to get working with all the dependencies.

[2017-01-17 12:53] normanmaurer commented on #6133
@YuvalItzchakov I see... what spark version is this ?

[2017-01-17 12:55] YuvalItzchakov commented on #6133
2.0.1. It uses:
[code]

[2017-01-17 12:59] YuvalItzchakov commented on #6133
@normanmaurer [`MessageEncoder`](https://github.com/apache/spark/blob/39e2bad6a866d27c3ca594d15e574a1da3ee84cc/common/network-common/src/main/java/org/apache/spark/network/protocol/MessageEncoder.java) is the class that handles writing to the underlying message.

[2017-01-17 12:59] normanmaurer commented on #6133
@YuvalItzchakov thats super interesting as 4.0.29.Final does not even contain `*UnsafeHeapByteBuf`.  So the search goes on :/

[2017-01-17 13:04] maybhi commented on #6228
@normanmaurer I got the point and solved it. As i had not written ctx.flush(); in channelReadComplete method of server handler. When i did, it works. and if i remove that line again i get the same error. so need to write ctx.flush in channelReadComplete method.

[2017-01-17 14:19] doom369 commented on #6222
One more but a bit different :

[code]

[2017-01-17 14:20] normanmaurer commented on #6133
@ppersad also just to double check... you are not using spark correct ?

[2017-01-17 14:21] normanmaurer commented on #6222
@doom369 could you also try to use JDK SSLEngine with the "previous" netty version and see if this happens there as well ? Sorry to ask you for all of this but I try to find out if it was recently introduced or not.

[2017-01-17 14:43] doom369 commented on #6221
@normanmaurer @Scottmitch So here is my findings so far :

I made a simple test that creates 400 users (opens 400 SSL keep-alive connections) and 400 hardwares (opens 400 plain tcp/ip keep-alive connections). 800 in total. All hardware connections send 1 message in loop. Pipeline on server delivers those message to corresponding user. So this is like 1 to 1 chat for 400 users.

I run same test on

[2017-01-17 14:47] normanmaurer commented on #6221
@doom369 super strange... can I have a heap dump now :) ? I will also fix the NPE as this is not expect. In fact the epoll transport requires unsafe and should fail with another exception if unsafe is not present

[2017-01-17 14:51] doom369 commented on #6222
@normanmaurer no problem. I'll see what I can do here.

[2017-01-17 15:03] doom369 commented on #6221
Sure :). This is thread dumps for test case 1 (epoll + openssl) :

https://www.dropbox.com/s/efytgymi202u81k/start.bin?dl=0 (70mb)
https://www.dropbox.com/s/05okdmgl1qr8mls/finish.bin?dl=0 (330mb)

One more thing. All tests were done with :

[code]

Ubuntu 14.04 64x
Digital Ocean instance for 20$ - 2GB RAM, 2 Cores.

[2017-01-17 15:05] normanmaurer commented on #6221
@doom369 I gutes there is no way to provide an reproducer ?

[2017-01-17 15:06] ppersad commented on #6133
@normanmaurer Correct, I am not using spark.  We are directly using netty-all 4.1.5

[2017-01-17 15:07] normanmaurer commented on #6133
@ppersad thanks... Any way you could provide a reproducer ?

[2017-01-17 15:09] ppersad commented on #6133
@normanmaurer Unfortunately I've got some competing priorities keeping me out of our performance environment at the moment.  Dedicating time to reproducing is planned, however I'm not sure when I'll get the chance to do it.

[2017-01-17 15:11] normanmaurer commented on #6133
@ppersad I see... just not sure how to continue here without a reproducer :(

[2017-01-17 15:22] doom369 commented on #6221
@normanmaurer

1. Download - https://github.com/blynkkk/blynk-server/releases/download/v0.21.7/server-0.21.7-3.jar
2. Download - https://www.dropbox.com/s/f5hno4k0omcqj3g/server.properties?dl=0
3. Put them in 1 folder; (`server.properties` enables epoll and openssl)
4. Build tcnative (`git checkout netty-tcnative-parent-1.1.33.Fork25`);
5. Run with `java -jar server-0.21.7-3.jar &`;
6. Checkout `h

[2017-01-17 15:25] normanmaurer commented on #6221
@doom369 awesome let me try :)

[2017-01-17 16:30] mmcguill commented on #6208
@Scottmitch Unfortunately it's not quite as general a solution as you guys have here. For example I know I won't receive top/root level arrays, so I don't need to worry about that. I also don't need to consider "streaming" array items. It also doesn't place limits on input size. I've posted my version below, but I think it will be of limited use for your more general requirements. Perhaps it's use

[2017-01-17 16:53] Scottmitch commented on #6125
@igor-dmitriev - Did you see https://github.com/netty/netty/issues/6125#issuecomment-271706091 and `WARNING: 10 leak records were discarded because the leak record count is limited to 4. Use system property io.netty.leakDetection.maxRecords to increase the limit.`? Please increase this limit as suggested.

[2017-01-17 16:57] #6228 closed

[2017-01-17 17:06] Scottmitch commented on #6220
As I assumed in https://github.com/netty/netty/issues/6220#issuecomment-272962548 the `sleep` is slowing the rate at which connection attempts are made.

As @normanmaurer suggested above in https://github.com/netty/netty/issues/6220#issuecomment-272893409 this condition is encountered by the JDK so we don't have much visibility into it. If I had to guess it would be related to environment issues.

[2017-01-17 17:10] Scottmitch commented on #6221
@normanmaurer - IIRC the kqueue PR does this already

[2017-01-17 17:13] Scottmitch commented on #6208
@mmcguill - Thanks for sharing, but as you indicated I don't think a less general solution will help most folks. I was hoping we could work toward fixing the more general solution (assuming this is the only issue preventing your use of it).

[2017-01-17 17:13] normanmaurer commented on #6221
@Scottmitch cool, anyway let us fix this as a separate PR (working on it)

[2017-01-17 18:21] normanmaurer commented on #6222
Thx! A reproducer would be even better 😜

[2017-01-17 18:49] normanmaurer commented on #6225
Honestly I have no idea why @trustin did it this way... @trustin can you comment ?

What else would you do ? Or do you think error level is too high ?

Again no idea... @trustin any comments ?

Honestly I think we could just remove this limit if we like, but still not break API ;)

Yeah in practice this should be ok as it should not grow a lot. That said limit it somehow makes sense imho. Let me p

[2017-01-17 18:57] Scottmitch commented on #6225
I wanted to see what the rational for this was but my thought process is to just remove this entirely. From what I'm seeing there isn't a relationship between leak record creation and object lifetime being tracked by the leak record, and therefore I would like to remove the mechanism (`maxActive`) all together.

Unless there is some way to justify `maxActive` making sense I would vote for breaking

[2017-01-17 18:58] normanmaurer commented on #6225
I disagree... We should not break the API, but just ignore it IMHO

[2017-01-17 19:02] normanmaurer commented on #6221
@doom369 what else do I need to install ? Seems like at least redis... anything else ?

[2017-01-17 19:25] doom369 commented on #6221
@normanmaurer no need in redis. Sorry, my bad. Please replace string `real` with `local` in Holder class.

[2017-01-17 19:27] Scottmitch commented on #6225
Agree to disagree on the API change. However I think we agree the `maxActive` concept and related code doesn't make sense and can be removed?

[2017-01-17 19:31] normanmaurer commented on #6225
@Scottmitch yes I think we do... but let give @trustin a bit of time to chime in as he wrote it.

[2017-01-17 19:34] normanmaurer commented on #6221
@doom369 ok.. I see lot of these `WARN` lines:

[code]

Is this something that is expected ?

[2017-01-17 19:35] doom369 commented on #6221
Yeah, that's fine.

[2017-01-17 19:36] normanmaurer commented on #6221
@doom369 ok its running now... so the OOME should happen on the server I guess ?

[2017-01-17 19:36] mmcguill commented on #6208
@Scottmitch I believe the fix from #6157 should do the trick.

[2017-01-17 19:37] doom369 commented on #6221
Correct.

[2017-01-17 19:42] normanmaurer commented on #6221
@doom369 how long does this usually take ? Its running now for 15 minutes without any OOME

[2017-01-17 19:43] doom369 commented on #6221
@normanmaurer it takes 1-2 minutes on VM with 2 cores and 2 GB RAM.

[2017-01-17 19:49] normanmaurer commented on #6221
Not able to reproduce yet on a vm with 4gb of ram and 2 cores… I even used -Xmx2g to try limit it more :/

[2017-01-17 19:52] doom369 commented on #6221
Hm. Please try to increase `clientNumber = 400;` or decrease interval in `sleep(20);`

[2017-01-17 20:03] normanmaurer commented on #6221
@doom369 doubled the clients but memory stays stable. No OOME after another 10 mins of testing.

[2017-01-17 20:21] doom369 commented on #6221
@normanmaurer what cores do you have and OS? Latest java? No errors on `/logs/blynk.log`?

[2017-01-17 20:22] normanmaurer commented on #6221
2 cores, ubuntu 16.10, latest java 8 and no errors. Also I see stats.log for example is updating and cpu is loaded.

[2017-01-17 20:27] doom369 commented on #6221
That's interesting. Did you build tcnative? OpenSSL enabled?

Meanwhile I'll try with Ubuntu 16.10 too.

[2017-01-17 20:30] normanmaurer commented on #6221
@doom369 I have it installed in maven repos... Is this not good enough ? I can see it uses ReferenceCountedOpenSslEngine in yourkit. Yes 64 bit.

[2017-01-17 20:32] doom369 commented on #6221
I don't know. I always did build with :

[code]

As without build I wasn't able to use openSSL. Don't remember already what was exactly problem.

[2017-01-17 20:34] normanmaurer commented on #6221
@doom369 what os you are on ?

[2017-01-17 20:36] doom369 commented on #6221
All my envirnoments + home PC are on Ubuntu 16.04

[2017-01-17 20:40] doom369 commented on #6221
Sorry, all envs. 14.04.4

[2017-01-17 20:42] normanmaurer commented on #6221
I wonder what OpenSSL versions they use and also what happens if you use netty-tcnative-boringssl-static.

[2017-01-17 20:44] doom369 commented on #6221
[code]

[2017-01-17 20:48] doom369 commented on #6221
I see 16.10 uses `OpenSSL 1.0.2g  1 Mar 2016`
Do you think this could be a reason?

[2017-01-17 21:02] normanmaurer commented on #6221
Yes maybe... let me check and also please try with netty-tcnative-boringssl-static and see if this fix it

[2017-01-17 21:15] doom369 commented on #6221
I did upgrade to `OpenSSL 1.0.2g` and rebuild tcnative. This scenario :

epoll + opensll - failed with OOM (1-2 minutes).

turned to "consumes memory quickly, within 2 minutes. After it grabs 40% of available memory all most of connections dropped". But no OOM anymore.

Will try boring ssl now.

[2017-01-17 21:21] normanmaurer commented on #6221
How did you detect that connections dropped ?

[2017-01-17 21:26] doom369 commented on #6221
CPU from 180% went down to 20-30%, stats logs shows "1 Connected", "onlineApps : 10", "onlineHards : 30" (those numbers - active channels, and I have tracking events `onClose` and `onActive` so this very precise stats) and errors on logs "Error sending push. Reason InvalidRegistration" that triggered on "channelInactive" of `ChannelInboundHandlerAdapter`

[2017-01-17 21:58] johnou commented on #6221
@doom369 do you have the recycler enabled or disabled? fwiw we updated to the latest 4.0.x but haven't seen any leaks in our application, the GC time jumping a few ms but I am yet to confirm whether or not that is related to any Netty changes.

Our configuration is (epoll + openssl + pooledbytebufallocator + disabled recycler).

[code]

[2017-01-17 22:01] exell-christopher commented on #6209
@Scottmitch Let me know if there's anything you need on this.

[2017-01-17 22:04] doom369 commented on #6221
I haven't any configs regarding recycler.

@normanmaurer tried boring ssl - situation much better. Memory still goes up quickly however after it reaches 45% - server drops 30% of connections and continue working.

I just wonder how it is works in your case... What value in "oneMinRate" field of `stats.log` do you have? After drop I have :

[code]

[2017-01-17 22:20] doom369 commented on #6221
Added

[code]

Situation again much better. 50% only dropped (it could be my router issue and not necessary server drops connections).

[code]

No OOM, no memro blow up.

[2017-01-17 22:44] johnou commented on #6221
@doom369 custom openssl uber jar.. 1.1.33.Fork25-uber

Linux (Fedora) dynamic SSL (64 bit) production
OSX static SSL (64 bit) buildmac (integration tests / development)
Linux (Fedora) static SSL (32 bit) nagios (test client)
Windows static SSL (64 bit) (development)
Default (Linux static SSL 64 bit) (fallback)

[2017-01-17 22:49] doom369 commented on #6221
@johnou nice. Thanks! I'll do more tests with no recycler for now.

[2017-01-17 23:07] johnou commented on #6221
@doom369 fyi the reason for the double java system property is because they are named differently between 4.0 and 4.1 branch.

[2017-01-17 23:18] Scottmitch commented on #6209
@exell-christopher - All good for now thanks. I will ping you once the PR is pushed (should be soon).

[2017-01-18 00:34] CodingFabian commented on #6221
What OOM are we talking about? native memory?
maybe this is related: https://github.com/netty/netty/issues/6125

We also have reports of higher than normal & leaking native memory usage we try to hunt down.
I have heap dumps i could share, but I do not want to distract this discussion.
We use Nio with JDK SSL however.
We started experiment with settings, e.g. io.netty.recycler.maxCapacityPerThread

[2017-01-18 00:40] doom369 commented on #6221
Yes.

Pooled or unpooled buffers?

[2017-01-18 02:32] Scottmitch commented on #6209
@chhsiao90 - We can consider this as a followup PR if you want. The `SETTINGS_MAX_HEADER_LIST_SIZE` is not required to be strictly enforced. We account for the `32` bits of overhead on the `encoding` size, but not on the decode size. So we are currently following the "be liberal in what you accept and conservative in what you send" principle which I'm not yet convinced is a problem in this case.

[2017-01-18 02:38] chhsiao90 commented on #6209
@Scottmitch
Sure, I will rebase once the PR is merged.

About the 32 bytes overhead,
I found that encoder will calculate the header size by add 32 bytes for each header. [Encoder](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/internal/hpack/Encoder.java#L122)
But the decoder didn't add the 32 bytes in current 4.1 branch.
Or maybe I missed that the 3

[2017-01-18 02:47] Scottmitch commented on #6209
Yip this reflects the current state. This is what I described in https://github.com/netty/netty/issues/6209#issuecomment-273365577.

[2017-01-18 02:50] chhsiao90 commented on #6209
OK, sorry, I missed read that.... :(
So, the 32 bytes overhead could implement or not depends on need!
Thanks for your clarify!

[2017-01-18 06:18] trustin commented on #6225
I have no strong opinion on this. I felt it's not very natural for `ResourceLeakDetector` to handle two cases (leak detection and too many timer instances) together at the time of writing but I just left it as it is because they were sharing some common logic and I didn't have much interest improving it further at that moment (usual priority thing, you know.)

Because I thought it is very very lik

[2017-01-18 06:37] jroper commented on #6225
I think it makes sense to have the check in there, in our support channels it is incredibly common to see people creating resources that create threads and not cleaning them up, often the issue isn't exposed until they deploy to production and their server runs out of memory.  The javadocs for HashedWheelTimer explains the situation exactly - saying it's a common mistake to instantiate one per req

[2017-01-18 07:19] normanmaurer commented on #6192
Should be fixed by https://github.com/netty/netty/pull/6235

[2017-01-18 08:31] CodingFabian commented on #6221
default from NioSocketChannel, thus pooled.

[2017-01-18 08:37] johnou commented on #6221
@CodingFabian you didn't specify 4.0 or 4.1 iirc unpooled is default in 4.0.

[2017-01-18 08:38] normanmaurer commented on #6221
in 4.0 its unpooled yes.

[2017-01-18 08:38] CodingFabian commented on #6221
4.1 :)

[2017-01-18 09:17] normanmaurer commented on #6221
@doom369 thanks for the info with boringssl... I may have an idea. Stay tuned.

[2017-01-18 09:49] normanmaurer commented on #6221
@doom369 could you do me one more favour.. could you use netty 4.1.4.Final (as before) but upgrade to netty-tcnative-1.1.33.Fork25 (not use the boringssl-static jar) and see what happens ?

[2017-01-18 09:50] doom369 commented on #6221
@normanmaurer sure. starting...

[2017-01-18 10:03] normanmaurer commented on #6221
@doom369 also server-0.21.7-3.jar only created server side SslContext instances correct ?

[2017-01-18 10:12] doom369 commented on #6221
In tests - yes.

Result seems ok. Same as with boring SSL. No OOM, not memory blow up.

[code]

[2017-01-18 10:14] normanmaurer commented on #6221
@doom369 ok cool... only two more things :) Run it with 4.1.5.Final as well and see what happens and then again with 4.1.6.Final. So I have a better understanding in which release it started to happen (still using netty-tcnative-1.1.33.Fork25 tho).

Also I am correct that you use client auth ?

[2017-01-18 10:17] doom369 commented on #6221
Was using many days ago, but in code I turned off it with `.clientAuth(ClientAuth.NONE)` ~1 year ago.

[2017-01-18 10:19] normanmaurer commented on #6221
@doom369 so client auth is NOT USED in the reproducer ?

[2017-01-18 10:20] doom369 commented on #6221
@normanmaurer correct.

[2017-01-18 10:25] normanmaurer commented on #6221
@doom369 ok... then let me just wait for your results with different netty versions. Also where exactly would I see the "OutOfMemoryError" ? Which log file ?

[2017-01-18 10:25] doom369 commented on #6221
`./logs/netty.log`

[2017-01-18 10:37] normanmaurer commented on #6221
@doom369 ok... was not able to see anything in the log yet (it is always empty).

[2017-01-18 10:48] doom369 commented on #6221
@normanmaurer

4.1.4 - ok (slowly gworing to some limit ~30% RAM, short-term run 5 min)
4.1.5 - ok (slowly gworing to some limit ~30% RAM, short-term run 5 min)
4.1.6 - ok (slowly gworing to some limit ~30% RAM, short-term run 5 min)
4.1.7 - OOM (quick grow to 35% RAM, OOM, connections dropped, 1-2 min run)

Error in `blynk.log`

[code]

I'll recheck with 4.1.6 one more time to be sure.

[2017-01-18 10:49] normanmaurer commented on #6221
@doom369 thanks a lot! And this is with the "reproducer" you shared with me ?

[2017-01-18 10:50] doom369 commented on #6221
@normanmaurer yes. Also found this

`2017-01-18 10:41:48.925 ERROR - SSL exception. error:140D00CF:SSL routines:SSL_write:protocol is shutdown.`

Didn't see this on prod so.

[2017-01-18 10:53] normanmaurer commented on #6221
@doom369 hmm... honesty I am not sure if this could cause the problem but this one is fixed by
https://github.com/netty/netty/pull/6238 (which I opened today). Can you try to apply the patch and run again ?

[2017-01-18 11:20] doom369 commented on #6221
Tried. All the same.

[2017-01-18 11:21] normanmaurer commented on #6221
@doom369 ok thanks... then just retest with 4.1.6.Final again to double check. We will then hopefully know that it only happens in 4.1.7.Final

[2017-01-18 11:24] doom369 commented on #6221
Already did. 4.1.6 works fine. No issues.

[2017-01-18 11:24] normanmaurer commented on #6221
@doom369 ok thanks this helps... so only 4.1.7.Final. Start digging again.

[2017-01-18 11:27] doom369 commented on #6221
@normanmaurer later today I'll do few build with excluded commits starting from 4.1.6 I'll let you know about my findings.

[2017-01-18 11:28] normanmaurer commented on #6221
@doom369 thanks... I am also looking in the meantime.

[2017-01-18 12:34] doom369 commented on #6221
@normanmaurer I think I found problem. I started from reviewing commits in 4.1.7. And found this commit - https://github.com/netty/netty/commit/e3cb9935c0b63357e3d51867cffe624129e7e1dd it seems suspicious for me, because here :

![possible_leak](https://cloud.githubusercontent.com/assets/1536494/22064114/c71da976-dd8a-11e6-8919-50d7e8f22e04.png)

2 classes from above commit are present. So I made

[2017-01-18 12:38] normanmaurer commented on #6221
@doom369 if this is really the cause of it then you are not correctly handle back-pressure. So just to double check that is really the case can you please run 4.1.7.Final with '-Dio.netty.transport.pendingWriteSizeOverhead=0' and see if its back to normal ? Also it not explains why it only happens with openssl and not boringssl.

[2017-01-18 12:46] doom369 commented on #6221
No. Again memory blow up.

[2017-01-18 12:49] normanmaurer commented on #6221
@doom369 this makes no sense at all... setting it to 0 basically reverts the functionality added by `e3cb993`. Are you really 100 % sure you only revert `e3cb993` and not anything else from 4.1.7.Final ?

[2017-01-18 12:54] normanmaurer commented on #6221
@doom369 ups actually it is `-Dio.netty.transport.outboundBufferEntrySizeOverhead=0 -Dio.netty.transport.pendingWriteSizeOverhead=0` ... Sorry missed one property before

[2017-01-18 12:56] jesperpedersen opened #6246 "4.1.7: java.lang.NoClassDefFoundError: Could not initialize class io.netty.util.internal.PlatformDependent0"
### Expected behavior

No error

### Actual behavior

[code]

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

Same as https://github.com/netty/netty/issues/6038

### Netty version

4.1.7

### JVM version (e.g. `java -version`)

[code]

### OS version (e.g. `uname -a`)

[code]

[2017-01-18 12:57] jesperpedersen commented on #6246
@Scottmitch  Looks like an upport of https://github.com/netty/netty/commit/e5ac9d3c9e753008c9fa13f3631b06a45a182096 is needed

[2017-01-18 12:59] doom369 commented on #6221
@normanmaurer tried

`java -Dio.netty.transport.outboundBufferEntrySizeOverhead=0 -Dio.netty.transport.pendingWriteSizeOverhead=0 -jar server-0.22.0-SNAPSHOT-4.1.7.jar`

no change. blow up and OOM.

My commit - https://github.com/doom369/netty/commit/abc8a59ef7e948b0e532b2ca6cb7c26e237bbbbb

[2017-01-18 13:02] normanmaurer commented on #6221
@doom369 please only add this one commit on top of the 4.1.7.Final release. You also included 911736dc994067c49ab5b9613e26d1561c346fff and c590e3bd63c43e9c1104ce2ab3a5307f14bee960

[2017-01-18 13:03] normanmaurer commented on #6221
I really can't see how only  doom369@abc8a59 could make a difference

[2017-01-18 13:05] doom369 commented on #6221
I did in IDE and didn't included above commits. I created this branch just to show what I changed in HEAD from maven 4.1.7 tag.

[2017-01-18 13:05] doom369 commented on #6221
I have to go right now. I'll double check later.

[2017-01-18 13:06] normanmaurer commented on #6221
@doom369 this makes no sense. Do I miss anything here ? Please check the commit  you reverted, if you set the properties to 0 it is working the exact way it did before.

[2017-01-18 13:26] normanmaurer commented on #6221
@doom369 also I installed an ubuntu 14 vm and can still not reproduce here with the program you provided :/

[2017-01-18 13:34] doom369 commented on #6221
@normanmaurer you're right. My last test was with wrong dependency. Let me recheck.

[2017-01-18 15:30] doom369 commented on #6221
@normanmaurer this is https://github.com/netty/netty/commit/fc3c9c9523150190760801dd0fbf014909519942

Now for sure :).

[2017-01-18 15:40] normanmaurer commented on #6221
Interesting... and only with OpenSSL and not BoringSSL? Also were you able to test on ubuntu 16 as well?

[2017-01-18 15:48] doom369 commented on #6221
@normanmaurer just did one more test with boring-ssl. Boring too has OOM and eats memory very quickly.

No. However I updated openSSL to latest version.

[2017-01-18 15:50] normanmaurer commented on #6221
Ok so it Happens whenever you use SslProvider.OpenSsl .... and you are 100 % sure it's the commit you listed? Please double check and once confirmed I will investigate

[2017-01-18 15:52] doom369 commented on #6221
Yes. I double checked before posting this time.

[2017-01-18 17:47] normanmaurer commented on #6221
@doom369 its running now for over 4 hours and no OOME still here... Any idea how to reproduce it ?

[2017-01-18 17:49] normanmaurer commented on #6246
@Scottmitch can you take a look ?

[2017-01-18 17:51] Scottmitch commented on #6225
If the intention is to limit the amount of `HashedWheelTimers` (presumably because each one creates its own thread) then I would prefer to explicitly do that in `HashedWheelTimers` instead of trying to build something into `ResourceLeakDetector` just because each `HashedWheelTimers` happens to use a single leak record. As previously stated this limit doesn't make sense in `ResourceLeakDetector`  b