[2018-07-11 14:00] normanmaurer commented on #8127
@doom369 can you show me how you configure your `SslContextBuilder` ?

[2018-07-11 14:01] normanmaurer commented on #8127
also what version you used before ?

[2018-07-11 14:03] doom369 commented on #8127
@normanmaurer updated ticket with prev version. I build it with this - https://github.com/blynkkk/blynk-server/blob/master/server/core/src/main/java/cc/blynk/server/SslContextHolder.java

[2018-07-11 14:09] normanmaurer commented on #8127
I wonder if you can try to run the tests with `SslProvider.JDK` and if you can try to run it with `SslProvider.OPENSSL` but not use a key file but use a `KeyManagerFactory` ?

[2018-07-11 14:14] doom369 commented on #8127
@normanmaurer tried `SslProvider.JDK`, issue still present.

[2018-07-11 14:17] doom369 commented on #8127
`SslProvider.JDK` doesn't help.

[2018-07-11 14:17] normanmaurer commented on #8127
interesting... Would it be possible get a heap dump ?

[2018-07-11 14:20] normanmaurer commented on #8127
Also I wonder if you could try to just revert `5b1fe611a637c362a60b391079fff73b1a4ef912` and see if you still see the issue. At the moment I am not sure what the cause is really :(

[2018-07-11 14:25] doom369 commented on #8127
I thinks this should give you some clues:

![screenshot from 2018-07-11 17-24-37](https://user-images.githubusercontent.com/1536494/42578629-62ba6214-852f-11e8-87b7-8fe3dbfee4d1.png)

[2018-07-11 14:28] normanmaurer commented on #8127
hmm... can you tell me what holds the reference to the `byte[]` and also how many `EventLoop` instances you have ? It seems you may have 500k+ of these ?

[2018-07-11 14:48] doom369 commented on #8127
@normanmaurer ok, narrowed down the issue to

[code]

After setting `.setUseNativeTransport(false)` all is ok. Probably issue is because `AsyncHttpClient` uses prev. netty version. Sorry for false alarm.

[2018-07-11 14:48] #8127 closed

[2018-07-11 14:51] normanmaurer commented on #8127
@doom369 ok... I wonder if the async http client not tears down the event loop correctly and so its possible the native memory is not released.

[2018-07-11 14:52] doom369 commented on #8127
@normanmaurer could it be because of changed native bindings to epoll transport?

[2018-07-11 14:55] normanmaurer commented on #8127
@doom369 I don't think so... The only reason I can think of is because of this change:

https://github.com/netty/netty/commit/05e5ab1ecb98963604d686c1f59b2196cf73e244#diff-824cfcec3522343772416dd064658a83

As now we reserve the native memory on `EventLoop` creation directly while before it was only reserved on first usage via `EpollDatagramChannel`. This memory will be released once you call `Epol

[2018-07-11 14:56] doom369 commented on #8127
Ok. Thanks I'll move this to AsynClient Report.

[2018-07-11 14:56] normanmaurer commented on #8127
@doom369 having `500k+` instances does not look right to me, or I am reading it wrong in the screenshot ?

[2018-07-11 15:03] doom369 commented on #8127
I don't know what `IovArray` is, so I can't tell :). The thing is - I never closed explicitly the `asyncHttpClient` between my tests run and seems like that's a reason for a leak. I thought that when it GCed it should release all things it holds, but seems like this is not true anymore. Adding `asyncHttpClient.close();` fixes the issue.

[2018-07-11 15:10] normanmaurer commented on #8127
@doom369 it was also not true before it just leaked less as it only leaked IovArray before and now it also leaks NativeDatagramPacket ;)

[2018-07-11 15:11] normanmaurer commented on #8127
@doom369 thanks for the help to debug this :)

[2018-07-11 15:24] doom369 commented on #8127
@normanmaurer thank you too! Will do digging before posting next time :).

[2018-07-11 15:45] slandelle commented on #8127
I released AHC 2.5.1 w/ Netty 4.1.26 earlier today :)

[2018-07-11 23:17] hc-codersatlas commented on #8122
Thanks for the PR. Looks good.

[2018-07-13 02:29] Broadroad opened #8129 "TCP_QUICKACK need to setoption after each recv()"
this flag is not permanent, it only enables a switch to or from quickack mode. Unlike disabling Nagle’s Algorithm, disabling Delayed ACKs on Linux is not a one-time operation: processing within the TCP stack can cause Delayed ACKs to be re-enabled. As a result, to use TCP_QUICKACK effectively requires setting and unsetting the socket option during the life of the connection.

So I doubt whether it

[2018-07-13 03:57] hc-codersatlas opened #8130 "Only create exceptions on demand"
In many of Netty's classes, e.g. HpackDecoder there's a set of Exceptions cached (I assume for performance reasons). However during normal operations most of these exceptions aren't used. We can save some memory and startup time by creating them on demand? As it's rarely used it shouldn't be a performance hit as much (and only the 1st time).

It's minor memory per instance but there are literally

[2018-07-14 06:37] YangZhuoNJ commented on #7518
@Quantriple  like with you , but i find the way : using high version maven , i change my idea maven setting , using the 3.5.3 version , someone tell me , you can try it.
 In addition， I am from China, bad English ......

[2018-07-14 07:40] Quantriple commented on #7518
@YangZhuoNJ   嗯   已经解决了  不过还是 谢谢你  都是国人 我就  不说 蹩脚的英文了

[2018-07-16 07:38] zhaojigang opened #8131 "Why options not use ConcurrentHashMap but synchronized"
It's a not an issue. But some doubts

    private final Map<ChannelOption<?>, Object> options = new LinkedHashMap<ChannelOption<?>, Object>();

![image](https://user-images.githubusercontent.com/14085645/42747186-e4a5f8a6-890d-11e8-9905-2cae1fd39de9.png)

Why options not use ConcurrentHashMap but synchronized？
Hope you could give a hand. Really appreciate.

[2018-07-16 11:09] johnou commented on #8130
@hc-codersatlas they are static which means only one instance is created and the stacktraces have no stack, I don't see any benefit to creating them lazily, it would only introduce complexity and may hurt performance.

[2018-07-16 13:01] johnou commented on #8122
b109, should we be checking build too?

[2018-07-16 19:36] rkapsi commented on #8089
@normanmaurer just to close the loop, I can confirm that it was a 2.0.12 w/ 4.1.25 incompatibility.

What are your thoughts on semver'ing TCN? Would the incompatibly warranted a TCN release of 2.1.0 instead of 2.0.12?

[2018-07-17 13:56] hc-codersatlas opened #8132 "Do not use TLS renegotiation if TLS >= 1.3"
TLS 1.3 disables renegotiation . Need to check and guard against running the renegotiation code in the SSLHandler and other? places.

Noticed there's a pull request on Java 11 testing and TLS 1.3 is part of 11 (so might as well test it too).

[2018-07-17 18:44] caoli5288 opened #8133 "Request UdpServerSocketChannel"
### Expected behavior
We need UdpServerSocketChannel just works like Tcp's.

### Actual behavior
No UdpServerSocketChannel here.

### Steps to reproduce
No UdpServerSocketChannel here.

### Minimal yet complete reproducer code (or URL to code)
No UdpServerSocketChannel here.

### Netty version
git-latest

### JVM version (e.g. `java -version`)
all

### OS version (e.g. `uname -a`)
all

[2018-07-17 19:25] rkapsi commented on #8133
You're looking for `DatagramChannel`

[2018-07-17 19:33] caoli5288 commented on #8133
@rkapsi It's not works like TcpServerSocketChannel
I means it cannot accept by ServerBootstrap and init client channel auto
I think this is a disagreement in behavior
Why Tcp server use ServerBootstrap but Udp use Bootstrap and must handle client manually?

[2018-07-17 21:53] rkapsi commented on #8133
I see. I wouldn't think of `Bootstrap` as a factory for clients but rather as the general factory and `ServerBootstrap` is a special case for Server Socket based things.

Datagram (UDP) is that it's connectionless and you just send/receive packets (modeled as `DatagramPacket`). Each packet holds the sender's and recipient's IP along with the payload. It's a client/server all at the same time.

[2018-07-18 02:50] caoli5288 commented on #8133
@rkapsi Many udp based protocol impl serverchannel itself(UDT in netty or https://github.com/szhnet/kcp-netty)
Why not offer an more generic interface?

[2018-07-18 05:21] luengnat commented on #7020
SSL handshake is really the bottleneck, especially on Oracle JSSE as it processes a lot of algorithm constraint and generates a lot of garbage and CPU intensive.

[2018-07-18 08:59] dshatov opened #8134 "Incorrect use of timerfd_settime system call in epoll-based backend."
### Expected behavior
The work of EpollEventLoop without the appearance of any exceptions in the log.
### Actual behavior
Occasionally, this exception is logged:
[code]

Moreover, the application's performance slows down, because in the EpollEventLoop.run() the specified exception causes the thread to sleep for a second. Then, the exception is thrown again, and so on.

I consider this behavior a b

[2018-07-18 09:10] zhaojigang opened #8135 "Should if statement add result == UNCANCELLABLE of DefaultPromise#getNow()"
![image](https://user-images.githubusercontent.com/14085645/42871479-12c03e4a-8aad-11e8-954d-398c70b5aad7.png)

Should if statement change to below:

![image](https://user-images.githubusercontent.com/14085645/42871586-46691500-8aad-11e8-920f-7ad24c467782.png)

[2018-07-18 10:37] zhaojigang commented on #8135
and if result==null,  setUncancellable() return true?
![image](https://user-images.githubusercontent.com/14085645/42876484-613fa130-8ab9-11e8-9b10-c7d6fdaceeed.png)

[2018-07-18 11:59] dshatov opened #8137 "JUnit tests failure in Netty 4.0.56.Final"
### Expected behavior
Successful tests passing when build latest 4.0.x (4.0.56.Final) release.
### Actual behavior
Tests failure.
[code]
### Steps to reproduce
[code]
Furthermore, it looks like the same problem (at least the number of failed tests is the same) occurred on the CI-server when I tried to open a pull-request for merging into the 4.0 branch: [see here.](https://garage.netty.io/teamcity

[2018-07-18 15:29] stanpalatnik commented on #3604
@normanmaurer @garretwu  @virtman  I don't see any labels or associated commits for this ticket. I'm also experiencing the exact same issue. Is this resolved in newer releases?

[2018-07-18 17:36] felixunivers commented on #8103
Norman's explanation and further experiencing the design shows that one really has to pay attention to how buffers are used in the code and complement with .retain() where needed.

Unpooled.unreleasableBuffer(...) appears also useful for similar situations. However, it raises a question regarding potential memory leak:

If I declare in my class:
`    ByteBuf fixedBuf = Unpooled.unreleasableBuffer(

[2018-07-18 18:50] ignasi35 opened #8138 "Backport #7806 to 4.0 to improve behavior on IOException"
https://github.com/netty/netty/pull/7806 improved the handling of Exception and specially the logic in the particular case of `IOException`

That PR is only merged on the `4.1` branch. Would it be possible to backport it to `4.0`?

[2018-07-18 20:00] felixunivers opened #8139 "Is there a need to free memory of Unpooled.unreleasableBuffer"
Say, we declare in MyClass:

`    ByteBuf fixedBuf = Unpooled.unreleasableBuffer(PooledByteBufAllocator.DEFAULT.directBuffer(64, 64));
`

This should reserve a 64 bytes chunk of off-heap memory. As documented, Netty ignores here the 'release()' and 'retain()' functionality, therefore, the chunk remains allocated throughout the life of MyClass. What will happen to the allocated off-heap memory chun

[2018-07-19 00:39] normanmaurer commented on #8138
4.0 is EOL for over an year please upgrade to 4.1

[2018-07-19 02:22] wanlxp commented on #8094
@normanmaurer Thank you very much， the problem happens occasionally，I will update and retry.

[2018-07-19 13:20] yangRy opened #8140 "LengthFieldBasedFrameDecoder LEAK"
I use LengthFieldBasedFrameDecoder  in my server. When the load is heavy(the client send so many Strings), some leaks occurred.

### Netty version
4.1.24.Final

### JVM version
java version "1.8.0_65"
Java(TM) SE Runtime Environment (build 1.8.0_65-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.65-b01, mixed mode)

### OS version
Linux deb79143d178f427-000.docker.py 3.10.0-514.16.1.el7.x86_64 #1

[2018-07-19 13:37] ignasi35 commented on #8138
Thanks @normanmaurer for the quick response. Will do.

Closing.

[2018-07-19 13:37] #8138 closed

[2018-07-19 17:36] prayagupd commented on #4981
And https://github.com/netty/netty/issues/6523 from Mar 2017, not JMX support yet?

[2018-07-19 17:42] ctykwz opened #8141 "Netty server decoder readInt() value incorrect"
### Expected behavior
1.     using socket to send message
[code]
2.   decode message by ByteToMessageDecoder
[code]
while " in.readInt() " returns 66051  and progam will never print 'read finish'

### Actual behavior
when I used netty client , something different occured . "in.readInt()" changes to 2048(likes real message length)

[code]

### Steps to reproduce
using socket or netty to create clie

[2018-07-19 17:47] ctykwz commented on #8141
I have no idea to deal with this issues ; and also I can not use netty to create my client ;therefore who can give me idea to deal with this problem?

[2018-07-20 13:01] kachayev commented on #8131
@zhaojigang If we're talking about `Http2StreamChannelBootstrap`, `options` are packed into [`LinkedHashMap`](https://github.com/netty/netty/blob/74f24a5c19f8f351e9c6a7a84bdd9fbcc7a07ada/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2StreamChannelBootstrap.java#L43). `ConcurrentHashMap` does not provide you the same semantic (e.g. predictable iteration order). Potentially, it's possib

[2018-07-20 17:46] Bennett-Lynch opened #8142 "Http2UnknownFrames being written out of order w/ Http2MultiplexCodec"
### Expected behavior

I would expect/like for `Http2MultiplexCodec` to write both `Http2DataFrame`s and `Http2UnknownFrame`s in the same order that they are written to the Codec from a child channel.

### Actual behavior

`Http2DataFrame`s and `Http2UnknownFrame`s are written potentially out of order.  Presumably this has something to do with flow control only applying to `Http2DataFrame`s. This

[2018-07-22 07:01] #8141 closed

[2018-07-22 22:52] ssheng opened #8143 "Http2Codec.class not included in the netty-all or netty-codec-http2 jars"
### Expected behavior
Http2Codec class to be included in the jars because the 4.1 source branch includes it and has classes depending on it.

### Actual behavior
The Http2Codec class is missing and the classes directly depends on Http2MultiplexCodec class instead. Is this intentional?

### Steps to reproduce
Expand netty-all-4.1.27.jar and netty-codec-http2-4.1.27.jar

### Minimal yet complete rep

[2018-07-22 23:01] ssheng commented on #8143
Had a stale version of netty source code. Closing issue.

[2018-07-23 10:15] r9liucc opened #8144 "Using underscore character('_') as part of SNI leads JVM crash"
Hello guys, we use Netty as our network implementation of microservices framework. We plan to support https and thus enable authentication on both client side and server side. But we encounter a problem when we want to use underscore character('_') in TLS SNI.

### Steps to reproduce
#### 1. Netty Server implementation:
[code]

#### 2. Openssl Client test:
[code]
As we can see from the command, we

[2018-07-24 00:07] Bennett-Lynch opened #8146 "Http2MultiplexCodec's usage of ConnectionPreface does not adhere to the spec"
### Expected behavior

Section [3.5 HTTP/2 Connection Preface](https://http2.github.io/http2-spec/#rfc.section.3.5) of the HTTP/2 spec states that:

I expect for a client to be able open a new HTTP/2 connection with a server and immediately begin writing HEADER and DATA frames.

### Actual behavior

Netty's usage of the [Http2ConnectionPrefaceAndSettingsFrameWrittenEvent](https://netty.io/4.1/api/

[2018-07-24 06:13] normanmaurer commented on #8146
@Scottmitch @ejona86 @bryce-anderson @mosesn thoughts?

[2018-07-24 09:22] AlanBateman commented on #6105
JDK 11 adds selection operations that invoke an action on the keys whose corresponding channels are ready for I/O operations rather than adding the keys to the selected-key set. Could Netty these select methods instead of hacking to the private fields of sun.nio.ch.SelectorImpl? The hack will break once java.base is fully encapsulated or the implementation changes.

[2018-07-24 09:23] normanmaurer commented on #6105
@AlanBateman could you point me to the code that was added for it ?

[2018-07-24 09:39] normanmaurer commented on #8146
Also @Lukasa for input :)

[2018-07-24 09:46] normanmaurer commented on #8144
interesting... Let me investigate

[2018-07-24 10:07] AlanBateman commented on #6105
The javadoc is here:
https://download.java.net/java/early_access/jdk11/docs/api/java.base/java/nio/channels/Selector.html

[2018-07-24 10:57] normanmaurer commented on #6105
@AlanBateman from a quick look this looks like a good „replacement“. Will try to find some time and verify it over the next weeks

[2018-07-24 13:46] #8143 closed

[2018-07-24 13:46] normanmaurer commented on #8140
please show us your handlers in the pipeline. I suspect you are not correctly release the buffer in a following handler

[2018-07-24 13:47] normanmaurer commented on #8137
works here without problems. That said 4.0 is EOL please upgrade

[2018-07-24 13:47] #8137 closed

[2018-07-24 13:47] #8134 closed

[2018-07-24 13:48] normanmaurer commented on #8125
Sorry but I don't get the question.. Can you please try to re-phrase it ?

[2018-07-24 13:58] Scottmitch commented on #8146
The H2 codec doesn't attempt to queue any data nor delay sending until after the preface has been sent. Instead it uses pipeline events (`channelActive` and/or `handlerAdded`) to [trigger sending the preface](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L360-L383). The `Http2ConnectionPrefaceAndSettingsFrameWrittenEvent`

[2018-07-24 14:39] Scottmitch opened #8148 "HttpMultiplexCodec writability"
There are a number of TODO statements related to writability in the h2 child channel implementation. We should investigate how to make the existing channel API's writability (isWritable(), writabilityChanged(), bytesBeforeWritable(), bytesBeforeUnwritable(), writing outside the event loop) with flow control and other restrictions of the existing implementation.

[2018-07-24 14:56] Lukasa commented on #8146
Yup, @Scottmitch seems to be right: the event seems to be a sequencing requirement, nothing more.

[2018-07-24 15:04] bryce-anderson commented on #8146
My understanding is the same as @Scottmitch described: the event is only to let the pipeline know that the preface/settings have been encoded and placed in the outbound queue (but not necessarily sent across the connection) and that the h2 session is ready to be used for dispatches.

[2018-07-24 15:22] r9liucc commented on #8144
@normanmaurer I have tested this case on netty 4.1.27.Final and netty-tcnative-boringssl-static 2.0.12.Final, the process would not crash any more. It seems that the latest version of boringssl have fixed this issue. Then the validation actually takes place in the io.netty.handler.ssl. ReferenceCountedOpenSslEngine#checkSniHostnameMatch() and it blocks me since underscore character is not allowed

[2018-07-24 15:33] Underbalanced commented on #8139
I am looking into this now as well because I use a bit of cached buffers for repetitive IO. A temporary solution until we find out by reading the API documentation, github code and writing some test; one would create a "disposal method " and use [ByteBuf.unwrap()](https://netty.io/4.1/api/io/netty/buffer/ByteBuf.html#unwrap--) to unwrap the buffer and then release it.

[2018-07-24 15:35] monkey1993 commented on #8125
private void write(Object msg, boolean flush, ChannelPromise promise) {
		AbstractChannelHandlerContext next = findContextOutbound();
		final Object m = pipeline.touch(msg, next);
		EventExecutor executor = next.executor();
		if (executor.inEventLoop()) {
			if (flush) {
				next.invokeWriteAndFlush(m, promise);
			} else {
				next.invokeWrite(m, promise);
			}
		} else {
			AbstractChannelHandle

[2018-07-24 15:38] monkey1993 commented on #8125
line 808 at AbstractChannelHandlerContext.java

[2018-07-24 16:50] Bennett-Lynch commented on #8146
Thanks for the replies.

I think I was misled by the Javadoc, which sort of makes it sound like a client/server handshake:

Closing this out.

[2018-07-24 16:50] #8146 closed

[2018-07-24 17:02] Underbalanced commented on #8139
(JVM only) It appears that the Direct Buffer will be cleaned up if no references are to it by default in the JVM or during the heap GC but not effected by heap pressure so manual cleaning may be required as per previous stack overflow questions. [Stack Overflow 1](https://stackoverflow.com/questions/1854398/how-to-garbage-collect-a-direct-buffer-java), [Stack Overflow 2](https://stackoverflow.com/

[2018-07-24 17:14] Underbalanced commented on #8125
Are you receiving an exception? How is it failing or not working?

[2018-07-24 17:33] Underbalanced commented on #8103
They take contributions FYI. They probably hardly get bored. 😄

[2018-07-24 18:02] normanmaurer commented on #8125
@monkey1993 well its a non-blocking framework so you can just keep on writing.That said you will get a `channelWritableChanged` event that you can inspect and then do some stuff for backpressure

[2018-07-24 18:03] normanmaurer commented on #8146
@Bennett-Lynch if you can think of any way to make this clearer please open a PR with doc enhancements.

[2018-07-24 18:40] Underbalanced commented on #8133
Why should it except a server bootstrap? It does not have any child sockets.

I do see where its problematic when abstracting Clients and Servers. I just wrote a cached event loop class to hold the event loop, then wrote a few Bootstrap Generator that take a few parameters and spits out a ready to use channel for udp; or if a server then a server channel. I use a separate channel for receiving tho

[2018-07-24 19:55] ejona86 commented on #8146
Seems everything is handled.

I would just point out that "clients are permitted" does not mean that clients _must_ support avoiding the RTT. The spec does _not_ require clients to avoid the RTT. So Netty would still be in spec-compliance if it waited for the HTTP/2 SETTING handshake to complete.

But yes, Netty does allow issuing other frames before the initial handshake is complete.

[2018-07-25 04:25] MUNHWANBAE opened #8149 "SSL HANDSHAKING ERROR (elliptic curve routines)"
### Expected behavior
No SSLHandshakingException
### Actual behavior
io.netty.handler.codec.DecoderException: javax.net.ssl.SSLHandshakeException: error:1006706B:elliptic curve routines:ec_GFp_simple_oct2point:point is not on curve
	at io.netty.handler.codec.ByteToMessageDecoder.callDecode(ByteToMessageDecoder.java:459)
	at io.netty.handler.codec.ByteToMessageDecoder.channelRead(ByteToMessageDecod

[2018-07-25 04:32] #8072 closed

[2018-07-25 10:12] normanmaurer commented on #8144
@r9liucc can you please verify https://github.com/netty/netty/pull/8150 ?

[2018-07-25 10:42] normanmaurer commented on #8142
@ejona86 @bryce-anderson @mosesn @Scottmitch can you chime in ?

[2018-07-25 14:56] Underbalanced commented on #8125
@monkey1993 You can change the watermarks. Its listed in that Power Point I linked as well as; in-case you have not tried that.

Method One:

***Server***
[code]

***Client***
[code]

Method Two:

***Server***
[code]

***Client***
[code]

[Netty Channel Options](http://netty.io/4.0/api/io/netty/channel/ChannelOption.html)

[2018-07-25 15:35] normanmaurer commented on #8125
@monkey1993 I still not understand what your issue is. Can you maybe just provide a failing unit test ?

[2018-07-25 15:55] monkey1993 commented on #8125
@normanmaurer OK, is 23:55 in China, tomorrow!

[2018-07-25 15:57] monkey1993 commented on #8125
@normanmaurer how can I send it to you?

[2018-07-25 16:00] ejona86 commented on #8142
The problem is these are unknown frame types. We don't know how to handle them. We'd have to have some sort of knowledge of whether they should be in-line with flow controlled frames. I've always questioned the usefulness of unknown frame handling in Netty, because of things like this.

Note that receive-side is especially tricky. If Netty _receives_ one of these unknown frames, how does it know t

[2018-07-25 16:18] manish-panwar opened #8151 "Query parameter name is encoded while it shouldn't be"
### Expected behavior

Query parameter name shouldn't be encoded.

### Actual behavior

Query parameter name is encoded.

### Steps to reproduce

If we go to following code, you will notice that we are encoding the query parameter name as well. I am wondering why would query parameter name needed to be encoded.

[QueryStringEncoder.java](https://github.com/netty/netty/blob/4.1/codec-http/src/main/

[2018-07-25 16:34] nitsanw opened #8152 "Leak detection combined with composite buffers results in incorrectly handled writerIndex"
This is a nasty bug, which only manifests with leak detection, so would be very confusing in the wild. It was discovered in a test suite which validated with a range of buffer types and resulted in a flaky test. Fortunately composite buffers are not in common use, and leak detection is not permanently on, so the bug should not effect most people most of the time. This also made it harder to hunt d

[2018-07-26 05:21] monkey1993 commented on #8125
@normanmaurer @Underbalanced @johnou I'm so sorry, I have find my problem.

	public void flush() {
		ChannelHandlerContext ctx;
		while (running) {
			try {
				while ((ctx = ctxs.take()) != null) {
					if (ctx.channel().isWritable()) {
						ctx.flush();
					}
				}
			} catch (Exception e) {
				LogService.log(e);
			}
		}
	}

I was used `ctx.channel().isWritable()` before flush, and if I remo

[2018-07-26 05:31] monkey1993 commented on #8125
input at NettyServer I send 51200  bytes used LoginThread write to ctx then trigger Writability Changed Event and the ChannelHandlerContext.channel().isWritable() will be true, so I will send bytes to client.

but in event loop I send 157 bytes will trigger Writability Changed Event and the ChannelHandlerContext.channel().isWritable() will be false, so I will don't send bytes to client.

Why does

[2018-07-26 06:07] monkey1993 commented on #8125
@Underbalanced @normanmaurer @johnou OK, I find something.
line 325 at SingleThreadEventExecutor.java
When I used thread is not in event loop, the `ctx.write()` will be packing to a task, but not execute now, when I `ctx.flush()` it will be execute. Before `ctx.flush()` I used `ctx.channel().isWritable()` is always true.
So, If I need to judge it can writable how can I to do, and is this design re

[2018-07-26 07:59] normanmaurer commented on #8135
@zhaojigang good catch.. See https://github.com/netty/netty/pull/8154.

[2018-07-26 10:00] yangRy commented on #8140
@normanmaurer Thanks for your replay, There are just two handlers in my programe, one is LengthFieldBasedFrameDecoder, the other is ServerHandler writhen by myself. and I have check the ServerHandler so many times and I do release the buffer.
**the pipline is as follows:**
protected void initChannel(SocketChannel socketChannel) throws Exception {
     socketChannel.pipeline().addLast(new LengthFie

[2018-07-26 10:56] r9liucc commented on #8144
@normanmaurer I have verified this on branch `sni_underscore` and the results seems ok.
Openssl Client test:
[code]

I have also verified outbound data and the client sni has successfully been sent out for negotiation.
Client code snippets:
[code]

[2018-07-26 15:06] bryce-anderson commented on #8142
I don't think this is specific to `Http2MultiplexCodec`, is it?

as @ejona86's pointed out, there is not any way for Netty to know auto-magically, but the interface `Http2RemoteFlowController.FlowControlled` may be helpful. It's used in the `FlowControlledHeaders` class for exactly this purpose: to preserve order.

According to the h2 spec unknown or unsupported extension frames should be ignored.

[2018-07-26 15:46] Underbalanced commented on #8125
I am not sure what you are asking. Have you been able to read the tutorials and documentation on netty? Are you new to using netty?

[2018-07-26 17:53] monkey1993 commented on #8125
I also think that you can't understand what I said.
look at your code. you can't use ctx.writeAndFlush(), please use ctx.write() and other thread execute ctx.flush().It is different, because ctx.write() just make a task and not send to socket. ctx.flush() will execute the task and send to socket.
Before ctx.flush() the ctx.channel().isWritable() while be true.so the watermaker is not use in other

[2018-07-26 17:55] #8135 closed

[2018-07-26 17:56] #8152 closed

[2018-07-26 17:56] #8144 closed

[2018-07-26 17:58] monkey1993 commented on #8125
Do you know if the thread not in event loop, when we use ctx.write(), is not execute, just make a task. when we call ctx.flush(), the task will be execute.

[2018-07-26 18:05] Underbalanced commented on #8125
@monkey1993 I did say I do not understand what you are asking.

Should work the way it does in the EventLoop. You can change the writeAndFlush to write. I am unsure why you would need to do this as having a extra thread to flush seems like it would be pretty pointless.

[2018-07-26 18:07] monkey1993 commented on #8125
beacuse I have some task used a long time. so I also think I should use other thread

[2018-07-26 18:09] monkey1993 commented on #8125
before ctx.flush() the task only can be add 5 times. like ST_SHUTDOWN,
look 59 line at SingleThreadEventExecutor.java, I also can't understand

[2018-07-26 18:10] Underbalanced commented on #8125
@monkey1993 My method is running in another thread

1. Gets the login data
2. Checks to writeability
3. Writes and flushed or Que

The qued data is only being added writeAndFlushed when the channel is writable in both the Login Thread I created in the read0(); as well as in the channelWritabilityChanged();

[2018-07-26 18:16] monkey1993 commented on #8125
and this ?
before ctx.flush() the task only can be add 5 times. like ST_SHUTDOWN,
look 59 line at SingleThreadEventExecutor.java, I also can't understand

[2018-07-27 04:15] suzunshou opened #8155 "When does Netty support TLS1.3"
When does Netty support TLS1.3？

[2018-07-27 05:07] Bennett-Lynch commented on #8142
Thanks for the replies, @ejona86 and @bryce-anderson.

I admit some of my issues and feature requests are probably pushing the boundaries for what Netty ought to offer in terms of supporting "unknown" frames.  As you both accurately pointed out, these frames are -- by their very definition -- "unknown" and Netty does not know how to handle them.

However, I think Netty is in compliance with the [s

[2018-07-27 05:07] #8142 closed

[2018-07-27 08:55] nprhust commented on #7369
so, is it means that we can ignore the warning like this "Can not resolve symbol "jacoco.argLine"?

[2018-07-27 09:01] johnou commented on #7369
yes, unless it's actually causing Maven mojos to fail.

[2018-07-27 19:32] trondarild-lode-tobiassen-heidelberg opened #8158 "initChannel results in System.err (two way ssl authentication)"
### Expected behavior: SSL request as coded

### Actual behavior: No SSL Request - System err.

### Steps to reproduce: Copy code in https://stackoverflow.com/questions/51431692/w-system-err-at-io-netty-channel-abstractchannelabstractunsafe-ensureopen to initChannel

### Minimal yet complete reproducer code (or URL to code):
https://stackoverflow.com/questions/51431692/w-system-err-at-io-netty-cha

[2018-07-28 02:37] Underbalanced commented on #8158
would help to see a stacktrace

[2018-07-28 07:11] rschmitt commented on #8011
The latest draft of the spec is available [here](https://datatracker.ietf.org/doc/draft-ietf-httpbis-h2-websockets/).

[2018-07-28 17:49] trondarild-lode-tobiassen-heidelberg commented on #8158
Unfortunately, all that is available is the System.err.

[2018-07-28 19:20] Underbalanced commented on #8158
I looked at your stackoverflow and I feel like something is missing. Netty normally using a logging framework sl4j. I have not seen a printout as you have shown. Can you provide you code in a complete test case. Providing the source without the complete picture (doesn't have to be your private code) you can mock the private stuff); will allow us to help run and actually re-produce the bug on our s

[2018-07-28 19:41] trondarild-lode-tobiassen-heidelberg commented on #8158
This is the output  get:
07-28 21:34:15.832 30729-30749/xx.xxxxx.sipclient W/System.err: java.nio.channels.ClosedChannelException
07-28 21:34:15.832 30729-30749/xx.xxxxxxx.sipclient W/System.err:     at io.netty.channel.AbstractChannel$AbstractUnsafe.ensureOpen(...)(Unknown Source)

I have used slf4j and log4j in my lib used on Android but not been able to make it work. Requires some gradle fiddli

[2018-07-28 22:54] trondarild-lode-tobiassen-heidelberg commented on #8158
Before I post the project with the JUnit test I want to know if this stacktrace helps (I had to try-catch the contents of initChannel):

java.lang.IllegalArgumentException: Duplicate handler name: ssl
	at io.netty.channel.DefaultChannelPipeline.checkDuplicateName(DefaultChannelPipeline.java:1101)
	at io.netty.channel.DefaultChannelPipeline.filterName(DefaultChannelPipeline.java:302)
	at io.netty.c

[2018-07-28 23:59] trondarild-lode-tobiassen-heidelberg commented on #8158
This is line 91:
`							ch.pipeline().addLast("ssl", new SslHandler(engine, false));`

[2018-07-29 00:12] Underbalanced commented on #8158
Yes that helps a lot. Found your issue already. So something is up because your handler is being added twice it appears `java.lang.IllegalArgumentException: Duplicate handler name: ssl`

[2018-07-29 00:20] trondarild-lode-tobiassen-heidelberg commented on #8158
Is it not legal to add both keyManager and trustManager to sslBuilder? That's the only way I can see I have added something twice. Line 91 is the only place I add a channel named "ssl".

[2018-07-29 00:36] njhill opened #8159 "Significant epoll native memory usage jump in 4.1.26.Final"
### Expected behavior

Native memory use is stable between releases.

### Actual behavior

Significant jump in native memory usage when using epoll transport between 4.1.25.Final and 4.1.26.Final.

### Steps to reproduce

Observe process native memory usage when using `EpollEventLoopGroup`(s) between the above versions. Usage is comparable between NIO and epoll in version 4.1.25.Final, and also be

[2018-07-29 01:06] Underbalanced commented on #8158
Use "```" before and after or highlight your code and select code so everyone can see it. I know you put it on stack overflow; kinda of a pain in the ass to go back and fourth.

[code]

[2018-07-29 01:10] Underbalanced commented on #8158
Try this...

[code]

[2018-07-29 04:38] trondarild-lode-tobiassen-heidelberg commented on #8158
Hmmm ... using the test itself as the  inbound handler was not a  good idea. The test ran twice and the exception resulted. Now, with the inbound handler a separate class the test runs fine. I am able to connect.

[2018-07-29 04:41] Underbalanced commented on #8158
Cool then see you on the flip side; if all is working.

[2018-07-29 05:42] njhill commented on #8159
#8062 changed things so that `NativeDatagramPacketArray` and associated mem gets allocated on event loop construction, rather than first use of `EpollDatagramChannel` (which may often not be used at all). Opened #8160 with a simple fix for this.

[2018-07-29 05:43] normanmaurer commented on #8159
@njhill thanks... left a few comments but mostly nits :)

[2018-07-29 10:22] #8159 closed

[2018-07-30 14:43] fuyou001 commented on #7255
@khitrin   how do you find the Suspicious code?

[2018-07-30 20:26] bduisenov commented on #5936
+1

[2018-07-30 23:31] trustin opened #8161 "SameSite attribute support for response cookies"
From: https://github.com/spring-projects/spring-framework/commit/09d9450154be796349dabdc606ade57beae08724

[2018-07-30 23:56] trondarild-lode-tobiassen-heidelberg commented on #8158
Maybe you could fix that no output/stacktrace print is shown from inside initChannel? Anonymous class?

[2018-07-31 00:37] acharis commented on #7272
While others in my organization running OSX have run into this issue, I can confirm that on linux this works for me.

[2018-07-31 03:05] MarsYoung commented on #5936
any one can post this solution?  catch the exception in java or forbidden these request?

[2018-07-31 03:08] MarsYoung commented on #6029
how to ignore this log @kiransunkari

[2018-07-31 03:10] jhaber commented on #7272
To expand on what Alex said, we ran into this issue in our apps that were using a mix of grpc-netty-shaded as well as another copy of shaded netty under a different package prefix (both copies are version 4.1.22.Final). This was the minimal reproducible example we came up with:

[code]

On OSX, whichever OpenSsl class is invoked first returns true, and the second always returns false. But it's not

[2018-07-31 05:32] normanmaurer commented on #7272
@acharis yes please... Can you also explain "this works for me" means ? Does it mean that everything "just works" as it is for you on linux ?

[2018-07-31 06:35] slandelle commented on #8161
Dup of #6509, planned for next major version where we can break API.

[2018-07-31 06:51] trustin commented on #8161
Oh, that's true. I guess it's time to split Cookie into RequestCookie and ResponseCookie?

[2018-07-31 06:59] slandelle commented on #8161
How would this help? We have different encoders and decoders for client and server side.

[2018-07-31 07:04] slandelle commented on #8161
I don’t think it’s very common to craft client side cookies. On the client side, you either have a CookieStore or you’re writing a proxy and just want to transfer. I suspect having distinct APIs would make things more comfortable complicated.

[2018-07-31 07:10] trustin commented on #8161
I thought `samesite` attribute is only applicable to `ServerCookieEncoder`? We could just add it to `Cookie` and document properly to mention it's only useful for response cookies, though.

[2018-07-31 07:11] trustin commented on #8161
Alternatively, we could introduce some type hierarchy like `ResponseCookie` being a subtype of `Cookie`.

[2018-07-31 07:26] slandelle commented on #8161
We’ll have to find a good balance between clarity and performance. If we have 2 hierarchies, client side will have to allocate more when converting ResponseCookies from the CookieStore into ClientCookies for the client encoder. Maybe the better design is worth it.
Can’t wait for the work on next gen Netty to start :)

[2018-07-31 07:54] trustin commented on #8161
Yes, sir! Looking forward to seeing an awesome PR :-D

[2018-07-31 10:04] acharis commented on #7272
Yes, sorry, I was far too terse.
Running jhaber's minimal example above prints
[code]
on my linux machine.

Additionally, members of my team have gotten that example to run on OSX by running OSX's `install_name_tool` to change the id of the dylib for our differently shaded netty.

[2018-07-31 10:05] normanmaurer commented on #7272
@acharis can you give some more details on what exactly they did with `install_name_tool` ?

[2018-07-31 11:37] acharis commented on #7272
`install_name_tool -id my_id <path to dylib>`

[2018-07-31 14:01] Underbalanced commented on #8158
I am not a active participant to the code base; just try to read through the source code to help those who do not know how or take the time themselves and answer questions that are not necessary and issue with the library itself. This may be related to [Issues 6096](https://github.com/netty/netty/issues/6096). You would have to check and if it is merge this with that issue.

[2018-07-31 16:44] trondarild-lode-tobiassen-heidelberg commented on #8158
Thanks. Seems [6096](https://github.com/netty/netty/issues/6096) is the same thing.

[2018-07-31 18:25] Underbalanced commented on #6096
I am late to the conversation: did not pay much attention until I realized the time I have spent many hours trying to track down why things would not work and the causes in Netty. The root is always something I coded; while knowing java and netty pretty well now has not been as bad but still was not fun as a beginner to Netty a couple years ago.

I think the solution where performance is not an is

[2018-07-31 22:34] trondarild-lode-tobiassen-heidelberg commented on #8158
And comment: This happens onAndroid.

[2018-07-31 22:44] trondarild-lode-tobiassen-heidelberg opened #8163 "setDefaultHostnameVerfier"
Feature request

### Expected behavior: ```
SSLEngine sslEngine = ....
sslEngine.setDefaultHostnameVerfier(new HostnameVerifier(){@Override
                        public boolean verify(String arg0, SSLSession arg1) {
                            return true; //or other test
                        }});
[code]

[2018-07-31 22:52] slandelle commented on #8163
`javax.net.ssl.SSLEngine` is a JDK API, not a Netty one!

SSLEngine doesn't have a notion of HostnameVerifier atm, only `javax.net.ssl.HttpsURLConnection` has.
Since Java 7, it's possible to turn hostname verification and other features on, see `SSLParameters#setEndpointIdentificationAlgorithm`.
But it's not possible to plug your own implementation.

[2018-07-31 22:57] trondarild-lode-tobiassen-heidelberg commented on #8163
Sorry, should have checked the package before I posted. Maybe somehow via Bootstrap. But I will Check SSLParameters.

[2018-07-31 23:26] trondarild-lode-tobiassen-heidelberg commented on #8163
Trying something like this to avoid check of server name (FQDN) against certificate CN:

`										SSLParameters params = new SSLParameters();
										List<SNIMatcher> matchers = new LinkedList<>();
										SNIMatcher matcher = new SNIMatcher(0) {

											@Override
											public boolean matches(SNIServerName serverName) {
												return true;
											}
										};
										ma

[2018-08-01 00:45] jasontedor commented on #8017
Thanks @normanmaurer. We have successfully upgraded to 4.1.28.Final with none of the issues we had previously. 🙏

[2018-08-01 08:51] jboesl commented on #5201
Is there any progress with this issue? I'm facing the same problem that I need to use HttpProxyHandler and WebSocketClientProtocolHandler together.

[2018-08-01 20:27] Underbalanced commented on #8163
Contributions are welcome. These guys are very busy like everyone else. [Commit Your Code Section](https://netty.io/community.html).

In regards to the FQDN. There are many thing you may have to write your own abstraction on. Unless its a very common use case and the whole group will benefit from or you write the code yourself to contribute to the library. I.E.

[2018-08-01 23:44] trustin opened #8164 "Pluggable event loop task scheduler"
Netty currently only provides a priority queue based task scheduler. We could add a small abstraction layer between EventExecutor and a task scheduler implementation so that a user can choose his or her favorite scheduler algorithm, most notably, hashed wheel timer, which is more scalable.

(Inspired by an e-mail question by Mac Atre.)

[2018-08-02 00:51] rkapsi opened #8165 "TCN is failing with error:14179044:SSL routines:tls_construct_server_key_exchange:internal error"
We're seeing some ciphers such as `TLS_DHE_RSA_WITH_AES_128_GCM_SHA256` (a.k.a. `DHE-RSA-AES128-GCM-SHA256`) failing with TCN 2.0.12.

Here is a very crude repro.

[code]

[code]

Notice this error in the above output, and `Cipher    : 0000` and the client exists on its own.

[code]

[code]

The same test when switching to previous TCN version w/ OpenSSL 1.0.2 works as expected.

[code]

Notice th

[2018-08-02 02:37] koo-taejin opened #8166 "In netty-4.1.28.Final version, an error occurs when running on jdk6."
### Actual behavior
[code]

### Steps to reproduce
[code]

### Netty version
netty-4.1.28.Final

### JVM version (e.g. `java -version`)
1.6.0_45

### OS version (e.g. `uname -a`)
Windows10,  CentOS 6.6

I think this issue is problem, but I'm not sure.
If this issue is problem, May I make a correction?

[2018-08-02 09:55] normanmaurer commented on #8166
@koo-taejin PTAL https://github.com/netty/netty/pull/8168

[2018-08-02 09:57] normanmaurer commented on #8165
@rkapsi can you try to downgrade the openssl version used to build the static openssl artefact to 1.0.2 and try what happens ?

Basically revert this one https://github.com/netty/netty-tcnative/commit/e9913cb73d6942964c8bbf00ede6478d8f4050d6.

[2018-08-02 10:29] ssheng commented on #7599
Same here. @lusong64 could you share the example you have found?

[2018-08-02 10:43] ssheng opened #8169 "Http2MultiplexCodec must be in the ChannelPipeline of Channel"
Hi Folks,

I'm hitting this exception when using Http2StreamChannelBootstrap to create outbound stream channels on the client side. The exception message is very clear on what was missing. But my question is how to use Http2StreamChannelBootstrap and ApplicationProtocolNegotiationHandler on the client side.

ApplicationProtocolNegotiationHandler adds Http2MultiplexCodec upon a successful SslHandsh

[2018-08-02 13:08] rkapsi commented on #8165
@normanmaurer TCN 2.0.12 with reverted commit works.

[code]

[2018-08-02 13:09] normanmaurer commented on #8165
@rkapsi seems like openssl 1.1.x may have removed these ciphers or disabled these by default then ?

[2018-08-02 13:19] rkapsi commented on #8165
On the client side it's there. I'll continue digging...

[code]

[code]

[2018-08-02 15:35] rkapsi opened #8170 "NPE with BoringSSL when trying to init with unsupported Cipher"
Trying to run the code from #8165 will NPE when a client attempts to connect.

[code]

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-08-02 15:39] rkapsi commented on #8165
@normanmaurer repeated the test also with BoringSSL and LibreSSL. Libre works and BoringSSL NPEs but for a different reason (it doesn't support the cipher and `isCipherSuiteAvailable(...)` does return `false`).

[2018-08-02 15:57] normanmaurer commented on #8170
Will try to check later today.

[2018-08-02 16:29] rkapsi commented on #8165
Same `main()` and hitting it with nmap's ssl-enum-ciphers script indicates in the ServerHello that it's supported:

[code]
Confirm with Wireshark:

![screenshot from 2018-08-02 12-27-48](https://user-images.githubusercontent.com/191635/43597291-ada58b38-964f-11e8-9025-01248c6fe723.png)

[2018-08-02 17:00] lusong64 commented on #7599
I developed our code based on http://codegists.com/snippet/java/multiplexcodeccleartexthttp2testjava_jprante_java

[2018-08-02 19:18] normanmaurer commented on #8165
@rkapsi very strange that it works with an earlier version of openssl but not with the latest... I will need to debug this but unfortunately I am very busy atm. So it may take some time.... Any help is welcome :)

[2018-08-02 19:42] #8170 closed

[2018-08-03 05:07] #8166 closed

[2018-08-03 09:12] jboesl commented on #5201
I was able to get it working for my by updating the WebSocketClientHandshaker to first search for HttpClientCodec by a fixed name and if the name is not defined fall back to the old behaviour.

[2018-08-03 09:33] Avvari590 commented on #4632
Failed for the root '"Medworxx-PF Master" {instance id=50, parent internal id=2, parent id=Medworxx_MedworxxPfMaster, description: "http://rdtfs01:8080/tfs/BackOffice/Medworxx/_git/PF#refs/heads/master"}: List remote refs failed: Unknown host: rdtfs01

[2018-08-03 14:39] jianglai opened #8172 "Can hex dumping in LoggingHandler be disabled?"
Hex dump is nice when one wants to look at each byte carefully, but sometimes I just want the content itself (maybe we can specify an encoding in the constructor to decode the bytes correctly).

More importantly, hex dump interferes with the ability to effectively search the content. For example I have some service that uses LoggingHandler to log all messages that it processes. When something goes

[2018-08-03 14:57] mulderbaba opened #8173 "Connection closed prematurely while using netty under the hood."
In our gateway implementation we are handling ~500k req/hour and from time to time we are getting "Connection closed prematurely" exception with the stack trace given below.
[code]

Our gateway implementation is based on Spring Cloud Gateway / Reactor Netty and Netty under the hood.

### spring cloud gateway version
[code]
### reactor netty version
[code]
### netty version
[code]

### jvm version

[2018-08-03 22:00] ssheng commented on #7142
@dozer47528 Could you please how you discover the problem. We're seeing the same error but would like to confirm if they are the same cause.

[2018-08-04 05:27] stanleyyang1987 commented on #922
Hi,I can not file the io.netty.monitor package in Netty 4.1. stuff.May know the reason of the change？and
 how can I achieve the  monitor function in Netty 4?

[2018-08-06 07:34] BrokenDream commented on #8172
@jianglai  i don't think it's a problem.

if we look at the method 'format(ChannelHandlerContext ctx, String eventName, Object arg)' of LoggingHandler, we will find that it just do hex dumping if the type of **arg** is **ByteBuf** or **ByteBufHolder**,
so i think if you put the LoggingHandler  in the different position of the pipeline, you may get the different forms of log, it depends on the TYPE

[2018-08-06 08:47] zhoufeilongjava opened #8175 "mqtt decoder not support version3.1.1"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-08-06 08:58] zhoufeilongjava commented on #8175
SUBACk fixHeader=0x92, but in version3.1.1 doc, the fixHeader is 0x90

[2018-08-06 16:49] jianglai commented on #8172
Thanks, but I do want to keep my `LoggingHandler` where it is right now in the channel pipeline. More specifically I am logging HTTP requests and response objects and I like it that the `LoggingHandler` prints out the headers nicely. The content of the HTTP objects are stored in `ByteBuf` so they are hex dumped.

I'm willing to do the work to optionally disable the hex dump maintainer is open to s

[2018-08-08 02:08] Mrchenli opened #8179 "java.lang.UnsatisfiedLinkError: no netty_transport_native_kqueue_x86_64 in java.library.path"
### Minimal yet complete reproducer code (or URL to code)
when use redisTemplate
here is maven pom.xml
<dependency>
            <groupId>io.netty</groupId>
            <artifactId>netty-transport-native-kqueue</artifactId>
            <version>${netty.version}</version>
            <classifier>${os.detected.name}-${os.detected.arch}</classifier>
</dependency>
<extensions>
            <extension>

[2018-08-08 14:05] meshcow opened #8182 "AssertionError in Channel.config().getOptions() when nio is used"
After migrating from 4.1.27.Final to 4.1.28.Final the following error appeared
### Expected behavior
no errors
### Actual behavior
[code]
### Steps to reproduce
run below test
### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version
4.1.28.Final
### JVM version (e.g. `java -version`)
[code]
### OS version (e.g. `uname -a`)
OS X El Capitan 10.11.6
`Darwin xxx 15.6.0 Darwin

[2018-08-08 14:16] normanmaurer commented on #8182
Will check

[2018-08-08 16:04] amizurov commented on #8182
Same issue on my environment:
- JVM:
   ``java version "1.8.0_161"``
   ``Java(TM) SE Runtime Environment (build 1.8.0_161-b12)``
   ``Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)``
-  OS:
   ``macOS High Sierra``
   ``17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-     4570.71.2~1/RELEASE_X86_64 x86_64``

The option ``IP_TOS`` in the class ``Server

[2018-08-08 16:07] normanmaurer commented on #8182
i had no time yet to look into t but at the end I think it’s a JDK bug that we just not triggered before. Will know more soon

[2018-08-08 17:04] amizurov commented on #8182
@normanmaurer You are right, small reproducer:

[code]

[2018-08-08 17:36] meshcow commented on #8182
I've made a quick check with same code on Ubuntu 14.04.5 & 16.04.3, same error:

Ubuntu 14.04.5 LTS, java 1.8.0_101:
[code]
Ubuntu 16.04.3 LTS, java 1.8.0_144:
[code]

[2018-08-08 17:42] normanmaurer commented on #8182
Here is a PR with a workaround: https://github.com/netty/netty/pull/8183

[2018-08-08 18:42] normanmaurer commented on #8172
@jianglai I am kind of confused... What exactly you propose ? Maybe you can show it with a PR ?

[2018-08-08 19:16] jianglai commented on #8172
@normanmaurer My intention is be able to turn off hexdump and just have the `LoggingHandler` output the raw data in a ByteBuf. Like in the example I have in the original post, there's no way to search for the string `P8gn6kcKQtS7ZtFdYAvehQ==-69` (name of the tag `<svTRID>`) in the output of `LoggingHandler` because it was cut off to three parts.

Will make a PR.

[2018-08-09 01:53] jianglai opened #8185 "When will HTTP/2 API be stabilized?"
We are interested in using HTTP/2 but the unstable API makes it hard for us to get internal approval to use it. Are there plans to make the API stable?

[2018-08-09 01:58] carl-mastrangelo commented on #8185
cc: @ejona86

[2018-08-09 07:36] normanmaurer commented on #8185
Also @Scottmitch @trustin @mosesn @bryce-anderson

[2018-08-09 07:36] normanmaurer commented on #8179
Please share the full debug log.

[2018-08-09 08:41] meshcow commented on #8182
I've just tried 4.1.28.Final with #8183 applied -> LGTM

[2018-08-09 08:45] normanmaurer commented on #8182
@meshcow thanks!

[2018-08-09 11:11] normanmaurer commented on #8182
Fixed by https://github.com/netty/netty/pull/8183

[2018-08-09 11:11] #8182 closed

[2018-08-09 11:33] normanmaurer commented on #8163
Like @slandelle said this is part of the JDK not netty. Closing

[2018-08-09 11:33] #8163 closed

[2018-08-09 12:01] normanmaurer commented on #8158
I added a test for this to show it works as expected in the latest netty release: https://github.com/netty/netty/pull/8188

Closing the issue

[2018-08-09 12:01] #8158 closed

[2018-08-09 12:11] normanmaurer commented on #8149
Please update to the latest version of netty and try again. Also you will need to share more informations if you want any help.

[2018-08-09 12:13] normanmaurer commented on #8151
@manish-panwar we love PRs... also @slandelle any thoughts ?

[2018-08-09 12:17] normanmaurer commented on #8140
@yangRy sorry I totally forgot about this one... Can you run with Paranoid leak detection and share the details here ?

[2018-08-09 12:18] normanmaurer commented on #8155
We should be able to support it as soon as Java11 is out (which supports it).

[2018-08-09 12:18] #8155 closed

[2018-08-09 12:46] slandelle commented on #8151
On vacation :)

@manish-panwar Actually, you're wrong, and parameter names must be encoded, just like parameter values.
The problem is that Netty's QueryStringEncoder uses URLEncoder for encoding query params, which is wrong as, as its javadoc states, is for `application/x-www-form-urlencoded` encoding!

From RFC3986:

so `/` shouldn't be percent encoded.

Sadly, JDK lacks a tool for building URIs

[2018-08-09 15:10] manish-panwar commented on #8151
Thanks a lot for the response guys! Looks like I might need help from Vertx guys to not use QueryStringEncoder.java, or some workaround. I will look into Java 11 HTTP Client as well, in case it has anything.

[2018-08-09 15:11] manish-panwar commented on #8151
@arushi315 - Can you please look into Java 11?

[2018-08-09 17:32] aman28061994 commented on #4897
Hello @normanmaurer @Scottmitch
I am facing the same issue.
in my case the clients disconnects on every request and suddenly after 15 mins.
i receive this error java.io.IOException: An established connection was aborted by the software in your host machine

[2018-08-09 19:04] Mystiflow commented on #8120
I figured it was a hacky workaround and non future proof.

[2018-08-09 21:29] ejona86 commented on #8185
@jianglai, I'll note that Http2ConnectionHandler is unlikely to be stabilized. The API around Http2MultiplexCodec is more feasible. It's unclear to me how close it is. The semi-recent stuff with HTTP/1.1 plaintext upgrade makes me feel like parts of it aren't ready yet. But maybe the majority is.

[2018-08-09 23:15] jianglai commented on #8185
Thanks for the update. Is there an ETA in mind? I also saw that Netty’s HTTP/2 hello world client example is 2 years old. Maybe the client side of things are more or less stable?

[2018-08-10 02:27] Mrchenli commented on #8179
DEBUG io.netty.util.internal.NativeLibraryLoader 71 DEVICE_ID: - -Dio.netty.native.workdir: /var/folders/k5/7_ykq_sn3dx16yjjjmrygj_m0000gn/T (io.netty.tmpdir)
2018-08-10 10:24:58.574 [main] DEBUG io.netty.util.internal.NativeLibraryLoader 81 DEVICE_ID: - Unable to load the library 'netty_transport_native_kqueue_x86_64', trying other loading mechanism.
java.lang.UnsatisfiedLinkError: no netty_trans

[2018-08-10 02:30] Mrchenli commented on #8179
but the last three logs shows successfully loaded the library  and starting with kqueue library

[2018-08-10 07:39] normanmaurer commented on #8179
@Mrchenli yeah we do try different loading strategies. So this is just fine... Thats why we log it in debug mode.

[2018-08-10 07:39] #8179 closed

[2018-08-10 09:22] TongxiJi opened #8190 "How to get a filedescriptor？"

[2018-08-10 10:06] sdeleuze opened #8192 "GraalVM native image support"
GraalVM now offers an official way to detect its presence via the [`org.graalvm.nativeimage.imagecode` system property](https://github.com/oracle/graal/blob/master/sdk/src/org.graalvm.nativeimage/src/org/graalvm/nativeimage/ImageInfo.java). We use that in Spring to adapt to Graal (see [GraalDetector](https://github.com/spring-projects/spring-framework/blob/master/spring-core/src/main/java/org/spri

[2018-08-10 16:47] normanmaurer commented on #8190
If you use the native epoll/kqueue transport you can use `channel.fd()` to get the file descriptor. Otherwise its impossible as there is not public API in the JDK

[2018-08-10 16:47] #8190 closed

[2018-08-10 16:49] normanmaurer commented on #8175
@zhoufeilongjava we love PRs... please consider open one with a fix + test if you think there is anything wrong.

[2018-08-10 16:52] normanmaurer commented on #8139
@felixunivers to release such a buffer you would need to unwrap it first. And yes you definitely want to do this as otherwise you will leak it.

So something like:

[code]

[2018-08-10 16:52] #8139 closed

[2018-08-10 16:54] normanmaurer commented on #8122
@johnou honestly I think we either should either just assume its ok if people use java8 (and if its not they should really upgrade) or only not use it for java9 and higher. /cc @hc-codersatlas WDYT ?

[2018-08-11 03:11] hc-codersatlas commented on #8122
@normanmaurer agree

[2018-08-11 08:09] bglmmz commented on #344
Hi, all
Any updates regarding this feature in Netty 4.1.x?
@Mr00Anderson's approach is great,  so Please @Mr00Anderson keep moving on. (BTW, the links provided by him are out of date.)

[2018-08-12 21:43] Mr00Anderson commented on #344
@bglmmz Yes they are very old links. I should have made a github gist. Was newer to using github at the time. I am not working on this feature for netty. I do not have the time to implement it in such a way that it would be usable as a standard case. I updated though my channel factory to simplify it and just made some gist for you to take a look at if you need a sample for a way to do it.  I use

[2018-08-13 10:46] huchuanling commented on #8185
hello

[2018-08-14 09:36] mfma opened #8194 "how catch all exception in netty"
i wanna know how to can handler all exceptions inbound or outbound

[2018-08-14 14:56] jknack opened #8195 "File upload memory usage with HttpObjectAggregator"
Hi,

Netty ran out of memory when uploading large files using `HttpObjectAggregator`.

The `HttpObjectAggregator` keeps the entire request in memory, then while parsing the request with `HttpPostMultipartRequestDecoder` a new **copy** of the request is made causing OOM issues.

It doesn't matter if `HttpPostMultipartRequestDecoder` was configured to use disk when there is a `HttpObjectAggregator`

[2018-08-14 17:07] vkostyukov opened #8196 "(Nio|Epoll)EventLoop.pendingTasks should not block when called outside of event loop"
### Expected behavior

`EventLoop.pendingTasks` should be (reasonably) cheap to invoke so it can be used within observability.

### Actual behavior

We've been experimenting with overriding `EventExecutorChooserFactory` with more superior load balancing algorithms and found out that it might be quite non-trivial to support pending-tasks load metric (pick the least loaded event loop).

After poking

[2018-08-14 17:33] normanmaurer commented on #8196
@vkostyukov thats a good point... We may want to "replace" the current implementation with an `AtomicInteger` that is updated . WDYT ?

[2018-08-14 18:12] vkostyukov commented on #8196
@normanmaurer Yeah, that seems reasonable to me. Even if we won't be able to guarantee certain prevention it should be totally fine for the sake of observability (provided we document it).

I'd be happy to contribute a fix for this unless somebody else want to work on this.

[2018-08-14 18:16] normanmaurer commented on #8196
@vkostyukov that would be awesome... Like you already stated we should just make this "as cheap as possible".

[2018-08-14 20:25] normanmaurer commented on #8196
Perfect... let her know I am always happy to help 👍

[2018-08-14 21:38] Wingfril commented on #8196
I'm not really sure why we even need to do that? Can't we just get the super.size() itself without worrying if it is in the event loop? It seems `MpscQueue` is no longer in the code, and so live locking shouldn't be an issue anymore? `SingleThreadEventExecutor` uses a `LinkedBlockingQueue` which has a size variable which is an `atomicInteger` already?

[2018-08-14 22:10] johnou commented on #8196
@Wingfril it's still in the code, see `io.netty.channel.nio.NioEventLoop#newTaskQueue`, `io.netty.channel.epoll.EpollEventLoop#newTaskQueue` and `io.netty.channel.kqueue.KQueueEventLoop#newTaskQueue`

[2018-08-15 08:06] netyjq commented on #7474
I have a same problem , the ssl handshake was not complete ,but the channel was closed

[2018-08-15 08:08] normanmaurer commented on #7474
@netyjq which version ?

[2018-08-16 01:49] netyjq commented on #7474
5.0.0.Alpha1

[2018-08-16 01:55] netyjq commented on #7474
here is my log
[code]
@normanmaurer

[2018-08-16 02:37] netyjq commented on #7474
now i changed my netty version to 4.1.19.Final , but i still got error message , here is my log
[code]

[2018-08-16 03:16] #8194 closed

[2018-08-16 03:21] mfma opened #8198 "How to capture all inbound and outbound exceptions"
### Expected behavior
        Capturing all inbound and outbound exceptions
### Actual behavior
       The exceptionCaught method only captures inbound exceptions
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version 4.1.28

### JVM version (e.g. `java -version`) 1.8.0_181

### OS version (e.g. `uname -a`) win10

[2018-08-16 06:10] normanmaurer commented on #7474
Use 4.1.28.Final please ...

[2018-08-16 09:01] selop opened #8199 "Use netty 4.1+ TLS with Android 6"
My project currently uses a modified version of `4.0.28.Final` which runs on Android 6.0.1. The diff is basically removing all classes which are not existent on Android 6.0.1 to be able to compile netty as a shared library for our Android build.
To use TLS with the parameters needed we construct the `SSLEngine` ourself and hand it over to the netty `SslHandler(SSLEngine engine)`.

We wanted to upg

[2018-08-16 10:48] njhill commented on #8196
@johnou actually I think @Wingfril is right, the original issue from which the run-in-eventloop workaround stemmed was based on a livelock issue (https://github.com/netty/netty/issues/3675, https://github.com/netty/netty/issues/5297) encountered with the old netty internal `MpscLinkedQueue` implementation used at the time

This was since replaced by the shaded jctools impl in https://github.com/ne

[2018-08-16 11:43] johnou commented on #8196
@nitsanw is it safe to invoke MpscQueue.size() from multiple threads?

[2018-08-16 13:12] normanmaurer commented on #8199
@selop maybe you could provide a PR ? We love contributions :)

[2018-08-16 14:00] normanmaurer commented on #8199
@selop maybe you just need to have an extra instanceof check ?

[2018-08-16 14:26] nitsanw commented on #8196
Yes

On Thu, Aug 16, 2018, 13:44 Johno Crawford <notifications@github.com> wrote:

[2018-08-16 14:48] normanmaurer commented on #8196
Then please just remove the code 👍🔥

[2018-08-16 14:55] johnou commented on #8196
@nitsanw was the yes for safe or risk producing a livelock? :)

[2018-08-16 15:17] njhill commented on #8196
@johnou I'm pretty sure the livelock issue wasn't inherently related to the single-consumerness. Looking at the history it appeared to be more likely linked to the custom modifications made (e.g. possibly `RecyclableMpscLinkedQueueNode`).

Of course the reported size may not be "precise" due to the lazy semantics but should hopefully be "safe".

[2018-08-16 15:35] nitsanw commented on #8196
You asked if it was safe, right?

[2018-08-16 16:10] johnou commented on #8196
@nitsanw and also asked if it was unsafe and posed risks ie. livelock, but given your comment now I will assume it's safe to invoke size() from multiple threads, thanks!

[2018-08-16 19:09] nitsanw commented on #8196
@johnou I apologize if I sounded impatient :-) I was reading your question from the GitHub email. Here's what I got:

It appears that further edits do not get sent as further e-mails.

So, yes, it's safe to call size on any queue in jctools from any thread, no issue. Furthermore, current queue being used is either the MpscChunkedArrayQueue or MpscUnboundedArrayQueue:
https://github.com/netty/netty

[2018-08-16 19:11] normanmaurer commented on #8196
@nitsanw maybe consider doing a PR ? :)

[2018-08-17 07:05] normanmaurer commented on #8199
@selop so I did some digging and I think the problem here is that Android uses a "different conscrypt" implementation than what we use here. So I think it is not really "that" easy.  Can you tell me what problem you have because of the current implementation ? I think even with JDK it should "just work".

/cc @nmittler @ejona86 @carl-mastrangelo

[2018-08-17 07:28] selop commented on #8199
The current situation is that netty accepts the given `OpenSSLEngineImpl` without complaints and a channel is beeing established. Tracing with Wireshark I don't see any Handshake messages at all until the other endpoints (also netty server, version 4.1.27) runs into the default Handshake timeout after 10s.

Agreed. I read about the PR provided by @nmittler which added support for Conscrypt. Netty

[2018-08-17 08:02] jprante opened #8201 "CleanerJava9 instantiation fails under SecurityManager"
### Expected behavior

When instantiating `io.netty.util.internal.CleanerJava9`, it should be possible when running under a SecurityManager.

### Actual behavior

`io.netty.util.internal.CleanerJava9` fails with `java.lang.ExceptionInInitializerError`

[code]

The method call `PlatformDependent0.UNSAFE.getClass().getDeclaredMethod("invokeCleaner", ByteBuffer.class)` and `INVOKE_CLEANER.invoke(Plat

[2018-08-17 08:15] normanmaurer commented on #8201
@jprante can you provide a PR ?

[2018-08-17 08:26] johnou commented on #8201
Method handles works just fine in Java 11, see https://github.com/apache/lucene-solr/blob/master/lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java#L339

[2018-08-17 08:28] normanmaurer commented on #8201
@johnou @jprante I think we should look into using handles... Can you open an issue ?

[2018-08-17 10:16] normanmaurer commented on #8199
@selop it should definitely also work with the JDK stuff.... Please let me know once you find out whats wrong.

[2018-08-17 10:17] normanmaurer commented on #8173
As stated in https://github.com/spring-cloud/spring-cloud-gateway/issues/473 I think this is really an reactor issue and not netty. Let me close this and please re-open if you find out I am wrong

[2018-08-17 10:17] #8173 closed

[2018-08-17 11:44] issararab opened #8203 "java.lang.ClassNotFoundException: io.netty.util.internal.OneTimeTask"
### Expected behavior
I am trying to create a connection from a java producer to amazonMQ broker using amqps wiring through the port 5671 but the connection fails and the exception raised is as follows.

### Actual behavior
13:26:42.897 [main] ERROR org.apache.qpid.jms.JmsConnection - Failed to connect to remote at: amqps://XXXXXXX-XXXXX-XXXX.amazonaws.com:5671
13:26:42.913 [nioEventLoopGroup-2-1]

[2018-08-17 12:02] normanmaurer commented on #8203
@issararab you are most likely still have another netty version on the class path. Ensure you only have 4.1.28.Final in there. At the end I would say its a qpid bug as they should not depend on internal classes (as these can be removed / changed) at any time.

[2018-08-17 12:02] #8203 closed

[2018-08-17 13:39] normanmaurer commented on #8198
@mfma you will need to add `ChannelFutureListener`s to the ChannelFuture that is returned by each outbound operation.

[2018-08-17 13:39] #8198 closed

[2018-08-18 00:48] vidhyasriramulu commented on #6891
Iam also having the same issue

 SEVERE [localhost-startStop-2] org.apache.catalina.loader.WebappClassLoaderBase.checkThreadLocalMapForLeaks The web application [apprity] created a ThreadLocal with key of type [java.lang.ThreadLocal] (value [java.lang.ThreadLocal@1994ff12]) and a value of type [io.netty.util.internal.InternalThreadLocalMap] (value [io.netty.util.internal.InternalThreadLocalMap@7d6

[2018-08-18 05:28] #8196 closed

[2018-08-18 05:30] normanmaurer commented on #8196
@vkostyukov fixes via https://github.com/netty/netty/pull/8197 by @Wingfril :)

[2018-08-18 08:50] DestinyWang commented on #7518
[code]

Reason in the common module `common/src/main/templates/io/netty/util/collection` directory.

The `.template` file.

[2018-08-18 11:56] normanmaurer commented on #8201
Fixed in https://github.com/netty/netty/pull/8204. @jprante PTAL

[2018-08-18 19:09] #8122 closed

[2018-08-19 23:08] bingo-asif commented on #6767
I have same issue i am trying to add custom header as an example below, it doent work

`.addInterceptor(
                    { chain ->
                        val request = chain.request().newBuilder()
                                //.url(SERVER_URL)
                                .header("Accept", "application/json")
                                //.header("Content-Type", "application/json"

[2018-08-20 07:02] lovers36 opened #8205 "[Question] Can I restore merged http/2 stream?"
I want to make a server for proxy.

client  ------> proxy server ------> origin server (http/2)
                                               |
                                               ---> origin server (http 1.1)

client send to proxy server HTTP/2 stream data (ex : 3 payloads)
and check HTTP header by proxy server.
if there is special header, send to origin server(http/2)

I made simple

[2018-08-20 12:40] bestans opened #8206 "Does netty support java 10? If not, when?"
I have tried to compile netty in jdk 10,but there are to many erros. Then i change to jdk1.6, it worked.

[2018-08-20 12:43] slandelle commented on #8206
You're confusing compiling with a given JDK, and supporting one as a runtime.
Netty can run with Java 10.

[2018-08-20 13:25] normanmaurer commented on #7272
Please see https://github.com/netty/netty/pull/8207 ... I will do the same changes for tcnative as well.

Also I really think about writing a maven and gradle plugin to do all of the needed steps to shade netty / netty-tcnative so people will not need to mess with all of this. Thoughts ?

[2018-08-20 13:29] ramtech123 opened #8208 "Support hosts file encoded in unicode format"
### Expected behavior
Netty should be able to resolve IP address from hosts file when the file is encoded in unicode format.

Java is able to resolve hostname from unicode encoded hosts file. Disabling Vertx (Netty) hostname resolution using `-Dvertx.disableDnsResolver=true` flag in our application was the workaround that we used, until we finally identified root cause.

### Actual behavior
`Hosts

[2018-08-20 15:07] Mr00Anderson commented on #8206
The errors you speak of (Logging) have been posted as issues likely. You can find them in the close and open issues with the search box. This question in general is overly broad and probably is already answered.

[Java 9 Issues Open/Closed](https://github.com/netty/netty/issues?utf8=%E2%9C%93&q=is%3Aissue+java+9)

[Javga 10 Issues Open/Closed](https://github.com/netty/netty/issues?utf8=%E2%9C%93&q

[2018-08-20 23:38] ejona86 commented on #7272
:-/. Needing to run `install_name_tool` means we must do the shading on OS X. That's going to be annoying. I _really_ hope no Windows- or Linux-specific issue pops up where we must run commands on those platforms as well.

[2018-08-21 01:34] rschmitt opened #8209 "Follow-up question for #8147"
I had a question regarding #8147. On previous versions of Netty, I noticed a problem with the `FlowControlHandler` on HTTP/2 streams with `Http2MultiplexCodec` being used and auto read set to off. The sequence of events I observed was:

1. A handler downstream of the `FlowControlHandler` would call `read`
2. `FlowControlHandler` would look in its queue, find it empty, and call `read` upstream
3. T

[2018-08-21 04:40] normanmaurer commented on #7272
@ejona86 yeah it is a mess :( I am investigate if there is any way to just do it manually . I guess it’s a matter of rewriting the Mach-o header

[2018-08-21 10:26] normanmaurer commented on #7272
@ejona86 PTAL https://github.com/netty/netty/pull/8210 :)

[2018-08-21 16:28] normanmaurer commented on #8208
@ramtech123 thanks.. Check https://github.com/netty/netty/pull/8211. This allows you to specify the charset to use while decoding.

[2018-08-21 20:33] rkapsi commented on #8165
@normanmaurer I finally had some time to look myself. It appears it's contained to ciphers that use DH key exchange (i.e. `DHE-*`). Other such as `RSA-*` and even `ECDHE-*` do work.

I can't find anything relevant regards to that in the [OpenSSL changelog](https://www.openssl.org/news/changelog.html). The error:

[code]
... points to this LoC but it doesn't provide much info.

https://github.com/o

[2018-08-22 00:27] ejona86 commented on #8208
Based on my own testing with Windows Server 2016, it seems like Windows auto-detects the encoding. I tried with ANSI (ASCII), Unicode (UTF-16), and UTF-8 and they all worked. I saved a trash hostname in `hosts` (different for each test) and then did a ping. Ping noticed my trash hostname configuration each time.

[2018-08-22 00:34] ejona86 commented on #8208
https://serverfault.com/a/452269 seems to think that the encoding should be UTF-8. I wonder if Windows became more permissive in a later version of Windows. I wasn't able to find any official documentation as to the encoding.

[2018-08-22 03:23] SplotyCode opened #8212 "Linux syscall error when Client Fails to connect"
Linux and Windows get diffrent Exceptions one is a normal Java Eception(Windows) and on linux it is like a im-killing-your-thread-and-i-am-ignoring-your-try-catch.
### Expected behavior
This happen on Windows:
`io.netty.channel.AbstractChannel$AnnotatedConnectException: Connection refused: no further information: localhost/127.0.0.1:30000
    at sun.nio.ch.SocketChannelImpl.checkConnect(Native Met

[2018-08-22 05:59] normanmaurer commented on #8208
@ejona86 I mean what we could do is test UTF-8, ASCII, Unicode (in this order) until we were able to parse something when on windows... WDYT ?

[2018-08-22 06:13] normanmaurer commented on #8165
@rkapsi ok cool.. I will try to find some time... That said I am currently so busy that I had no time to even think about this issue :(

[2018-08-22 08:25] matfil opened #8213 "SUBACK fixed header, 1st byte"
### Expected behavior
fixed header should be 0x90
### Actual behavior
it is 0x92
### Steps to reproduce
connect, subscribe to any topic
### Netty version
4.1
### JVM version (e.g. `java -version`)
1.7
### OS version (e.g. `uname -a`)
ubuntu 18.04 bionic beaver LTS

[2018-08-22 08:26] normanmaurer commented on #8213
@matfil would you be interested in providing a PR ?

[2018-08-22 09:45] ramtech123 commented on #8208
@ejona86 , I also could not find any standards around hosts file encoding. The comment here https://serverfault.com/questions/926706/is-there-any-ietf-rfc-standard-defined-for-hosts-file-encoding indicates it never had a formal standard.

@normanmaurer just curious about "...until we were able to parse something when on windows" - don't we expect this situation in non-Windows machine?

[2018-08-22 09:46] normanmaurer commented on #8208
@ramtech123 I never heard of using something linux unicode for `/etc/hosts`.

[2018-08-22 09:47] ramtech123 commented on #8208
ok

[2018-08-22 11:25] christ258 opened #8214 "Obsolete attribute"
hi, I find this:

/**
     * @deprecated Use {@link MaxMessagesRecvByteBufAllocator}
     */
    @Deprecated
    public static final ChannelOption<Integer> MAX_MESSAGES_PER_READ = valueOf("MAX_MESSAGES_PER_READ");

I used to use this ‘MAX_MESSAGES_PER_READ’, Now use this 'MaxMessagesRecvByteBufAllocator', how can I use this?

[2018-08-22 15:21] ejona86 commented on #8208
@normanmaurer, that sounds like it would work. Note that ASCII doesn't get you anything over UTF-8. Although Latin-1 or similar would, which may be the system's default encoding (dunno). And to be precise, "Unicode" would be "UTF-16" (probably UTF-16LE).

Linux has been using UTF-8 for a really, really long time now. I did dig through glibc a very quick amount and it looks like it just used the sy

[2018-08-22 17:54] vkostyukov commented on #8196
@normanmaurer We've been getting pretty mixed results so far (@Wingfril can probably speak more about it) as we weren't really able to employ the `pendingTask` method.

[2018-08-23 02:52] zhaojigang opened #8215 "why use lazySet instead set in WeakOrderQueue#add?"
It's a not an issue. Instead, I'm asking for help. I cant understand why use lazySet instead set in WeakOrderQueue#add? and I also cant understand why "we lazy set to ensure that setting stack to null appears before we unnull it in the owning thread"?

[2018-08-23 09:07] normanmaurer commented on #7272
Last missing part https://github.com/netty/netty-tcnative/pull/382 :)

[2018-08-23 11:50] normanmaurer commented on #8208
@ejona86 PTAL https://github.com/netty/netty/pull/8211 again

[2018-08-23 15:34] frutak opened #8216 "HTTP 1.1 Header working in all browsers throws an error"
Hi,

I am issues parsing an HTTP response from my IP cam - the header that is parsed correctly by ie, firefox and chrome is throwing an error in netty.

The header:
[code]

I assume the issue is the date coming without "Date:" tag, but somehow the response works in all browsers I tested it in.
1. Are you able to confirm it is the date that is causing the issue?
2.Is there any chance the modificati

[2018-08-23 16:15] jerrinot opened #8217 "Log4J2LoggerFactory depends on a log4j2 version which does not work on Java 6"
### Expected behavior
Netty logging works via log4j2 while on Java 6

### Actual behavior
Log4j2 2.4+ depends on Java 7. Netty depends on log4j2 methods which are present only in newer versions. When older log4j2 version is on a classpath then Netty fails to initialize itself due `AbstractMethodError` while logging.

### Steps to reproduce
Have Netty 4.1.27 and log4j2 on a classpath and run `Inter

[2018-08-23 21:42] rkapsi commented on #8165
@normanmaurer I think I found it...

The [OpenSSL changelog](https://www.openssl.org/news/changelog.html) says:

[code]

There are two cases in TCN that utilize it (both DHE related)...

https://github.com/netty/netty-tcnative/blob/master/openssl-dynamic/src/main/c/ssl.c#L449-L456

https://github.com/netty/netty-tcnative/blob/master/openssl-dynamic/src/main/c/sslutils.c#L233-L362

When I go ahead

[2018-08-24 00:10] ejona86 commented on #4527
We would 1) reserve the stream id 2) send the PUSH_PROMISE (with the "request" headers) on-the-wire. We would wait until that stream passes through MAX_CONCURRENT_STREAMS before creating the child channel, because the "response" HEADERS are limited by MAX_CONCURRENT_STREAMS.

I was hoping not. I think most cases don't make sense... but being able to cancel the stream does make some sense. I can't

[2018-08-24 04:34] normanmaurer commented on #8165
@rkapsi awesome... let me try to fix it

[2018-08-24 07:41] #7272 closed

[2018-08-24 11:00] jerrinot commented on #8217
fwiw - we use OpenSSL in some integration tests. They have to run on Java 6. I end-up with implementing this nasty hack (test-code only):
[code]

[code]

Basically it delegates methods `debug(String msg, Obect o)` into `debug(String msg, Object[] o)`. This creates some extra litter but that's fine for functional-only tests.

[2018-08-24 13:07] normanmaurer commented on #8165
@rkapsi ok started to work on a fix

[2018-08-24 13:12] zhaojigang opened #8220 "Recycler will produce npe error when multiple recycled at different thread"
Netty version: 4.1.29.Final-SNAPSHOT

    public void testMultipleRecycleAtDifferentThread() {
        Recycler<HandledObject> recycler = newRecycler(1024);
        final HandledObject object = recycler.get();
        final Thread thread1 = new Thread(new Runnable() {
            @Override
            public void run() {
                object.recycle();  // stack=null
            }
        });

[2018-08-24 13:41] zhaojigang opened #8223 "Why convert set to array in FastThreadLocal#removeAll()？"
hi，I have a doubt why we need convert set to array in FastThreadLocal#removeAll()
![image](https://user-images.githubusercontent.com/14085645/44587724-61cde400-a7e6-11e8-82fb-3feff5b31821.png)

[2018-08-24 15:00] normanmaurer commented on #8165
@rkapsi this should be fixed by https://github.com/netty/netty-tcnative/pull/383. Can you verify ?

[2018-08-24 15:32] rkapsi commented on #8165
On it.

[2018-08-24 16:20] rkapsi commented on #8165
@normanmaurer works and pushed a PR for a new unit test.

[2018-08-24 16:59] rkapsi commented on #8165
... confirming also that LibreSSL continues to work after this. BoringSSL doesn't seem to advertise any DHE suites.

[2018-08-24 17:10] normanmaurer commented on #8165
@rkapsi yeah I think `BoringSSL` just not support it.

[2018-08-24 17:48] #8208 closed

[2018-08-24 17:49] normanmaurer commented on #8216
yeah I think its the date but I would need to test it.. I dont think we would support this tho as it completely wrong in terms of the RFC

[2018-08-24 17:50] normanmaurer commented on #8215
I think @belliottsmith can explain it better as he wrote the original version. But I think `lazySet` gives us enough "guarantees" and is cheaper is the answer.

[2018-08-24 17:53] normanmaurer commented on #8217
@jerrinot can you show me the stack trace please ?

[2018-08-24 17:54] normanmaurer commented on #8214
Use `MaxMessagesRecvByteBufAllocator#maxMessagesPerRead`

[2018-08-24 17:54] #8214 closed

[2018-08-24 18:08] normanmaurer commented on #8223
Actually I dont think we need... @trustin any recollection why you added this ?

That said this will not be called very frequently so I am not really concerned about the extra copy.

[2018-08-24 18:09] normanmaurer commented on #8212
@SplotyCode actually it is basically the same as the errors is reported by the sys call also for NIO we just log it different.y

[2018-08-24 18:09] #8212 closed

[2018-08-24 18:09] normanmaurer commented on #8205
I am not sure what exactly you try to do... @ejona86 @mosesn @bryce-anderson any idea ?

[2018-08-24 18:10] normanmaurer commented on #8199
@selop please let me know once you know more .

[2018-08-24 18:50] bryce-anderson commented on #8205
I'm also not sure what the goal is. _Maybe_ the goal is to preserve the payload chunk structure? It's not clear to me if this represents one request sent with 3 chunks or 3 requests each sent with 1 chunk that are merged into a single request.

[2018-08-24 20:54] ejona86 commented on #8205
If this is talking about data frame payloads, then this is 100% expected and nothing would really change it. Flow control makes it impossible to retain the original chunks.

But in the "payload" it looks like commas are being inserted, so this may be about RFC 7230 allowing merging values:

   name into one "field-name: field-value" pair, without changing the
   semantics of the message, by append

[2018-08-24 21:30] ejona86 commented on #4527
Another option: if we exceed MAX_CONCURRENT_STREAMS we could just throw away the PUSH_PROMISE. Then there's no need for cancellation of the stream.

[2018-08-24 23:47] belliottsmith commented on #8215
Right.  It only guarantees write-ordering wrt previous writes, and the immediately preceding write is the nulling of the handle's `stack` property.  So we are guaranteeing (cheaply) that the null `stack` value will be seen by other threads prior to anyone witnessing that `tail == writeIndex + 1`

It's a long time since I looked at the code, but it looks like this is simply to ensure that when the

[2018-08-25 04:43] Shany100 opened #8228 "PortUnreachableException thrown in different"
Have a doubt,
The same wrong **port**,
The location where the two send exceptions are thrown is different?
as follows:
[code]
[code]

[2018-08-25 08:58] zhaojigang commented on #8223
hi, @normanmaurer I know why we need! because if we use set, for-remove will occurs java.util.ConcurrentModificationException, but array will not!
I closed this issue.

[2018-08-25 08:58] #8223 closed

[2018-08-25 10:10] zhaojigang commented on #8215
ok, thanks!!! @belliottsmith @normanmaurer

[2018-08-25 10:10] #8215 closed

[2018-08-26 15:56] jerrinot commented on #8217
hi @normanmaurer, here is it:
[code]

[code]

[code]

I was quite confused by the stacktrace, it took me a while to realize what is going on: `io.netty.util.internal.logging.Log4J2Logger` is a subclass(!) of `org.apache.logging.log4j.spi.ExtendedLoggerWrapper`.

The Netty logging abstraction (`io.netty.util.internal.logging.InternalLogger`) has methods such as `debug(String format, Object arg)`. T

[2018-08-27 04:04] lovers36 commented on #8205
@bryce-anderson @ejona86
Thank you for your answer. and I'm sorry for Explanation is not clear.
I'm starter about netty.
My goal is making proxy server for gRPC like a zuul 2. (or using zuul 2)
process what I want is below.

1. support bi-direction streaming of gRPC.
2. there is a few filters using http/2 header.
3. proxy server can't have proto files for gRPC.

grpc client - (netty server - netty

[2018-08-27 06:42] selop commented on #8199
@normanmaurer I was on vacation for the last week. Have not forgotten the issue, no worries.

[2018-08-27 07:03] #8220 closed

[2018-08-27 08:03] ssheng commented on #7142
Earlier I mentioned that we encountered the same problem and let me share our findings here.

We found out that the "javax.net.ssl.SSLException: SSLEngine closed already"is caused by creating the SSLEngine with a host and port.

  sslEngine = sslContext.createSSLEngine(host, port);

If we were to create the SSLEngine without the host and port, the error no longer occurs. The reason we create the S

[2018-08-27 08:09] slandelle commented on #7142
Note that if you don't specify he host and port, SNI won't work.

[2018-08-27 09:36] johnou commented on #8165
@normanmaurer do you have time for a tcnative release this week?

[2018-08-27 14:58] ejona86 commented on #8205
@lovers36, I think the answer is "everything's fine;" don't worry about the merging. The merging could have actually happened on the grpc client. If the grpc client/server is producing an actual error, I could look at that and try to figure out what's wrong. But if you aren't getting an error, then I think everything's working normally.

[2018-08-27 18:22] normanmaurer opened #8229 "transport-native-* should be usable when sun.misc.Unsafe can not be used."
As JDK11 is on its way (which will be the LTS release) we should ensure that our native transports can be used even when sun.misc.Unsafe is not present.

[2018-08-27 18:41] Mr00Anderson commented on #8228
This i vague. Also this is not a netty.io issue at all.

This exception both time is thrown by `sun.nio.ch ...` package.

[sun.nio.ch.DatagramChannelImpl.receive0](http://www.docjar.com/html/api/sun/nio/ch/DatagramChannelImpl.java.html) is using a native method so the exception is likely thrown by the Operating System.

[sun.nio.ch.DatagramDispatcher.write0](http://www.docjar.com/docs/api/sun/nio/

[2018-08-27 20:46] amizurov commented on #8213
@matfil Can you please provide more information for example which broker you are used ?  I checked test and it's look properly with SUBACK(9).

[2018-08-27 21:02] #8205 closed

[2018-08-28 01:41] chtyim opened #8230 "Race condition in the NonStickyEventExecutorGroup class"
### Expected behavior
All `Runnable` tasks submitted through `NonStickyEventExecutorGroup` should get executed.

### Actual behavior
Occasionally the last task submitted is not getting executed.

### Steps to reproduce
The following unit-test has a non-zero chance of failure (about 1/2 of the time fail on my laptop).

[code]

### Bug Description
In the `NonStickyOrderedEventExecutor` class inside

[2018-08-28 14:32] #8201 closed

[2018-08-28 14:33] normanmaurer commented on #8201
@jprante this will allow to use the native transports without unsafe:

https://github.com/netty/netty/pull/8231

[2018-08-29 12:14] normanmaurer commented on #8165
@johnou @rkapsi I will release a new version of netty-tcnative end of the week.

[2018-08-29 17:36] #8229 closed

[2018-08-29 17:42] #8230 closed

[2018-08-29 18:36] mihalyr opened #8238 "FixedChannelPool.close deadlock"
This bug was discovered during testing Netty as both server and client sharing the same worker EventLoopGroup. The Netty client used AbstractChannelPoolMap with FixedChannelPool with persistent HTTP/1.1 connections.

During the test we saw an increasing number of not closed sockets for connections closed by the remote side. We discovered that the Netty client was blocking I/O threads that kept rec

[2018-08-29 18:41] normanmaurer commented on #8217
@jerrinot could you validate https://github.com/netty/netty/pull/8239 ?

[2018-08-30 05:56] normanmaurer commented on #8217
@jerrinot https://github.com/netty/netty/pull/8240 this one is better.

[2018-08-30 09:00] jerrinot commented on #8217
hi @normanmaurer, I tried #8240 and I can confirm the test passes and Netty fallbacks to j.u.l.

This effectively means it's impossible to use Netty with Log4j2 on Java 6. That's not great for embedded use-cases. From this perspective the #8239 is nicer.

I understand if you do not want to to pollute log4j2 logger with the branching for the sake of Java 6. Perhaps it could be a separate logger cla

[2018-08-30 12:17] normanmaurer commented on #8165
I will close this once we have a new netty-tcnative version

[2018-08-30 12:42] monkey1993 opened #8242 "SelectedSelectionKeySet.java throw UnsupportedOperationException"
### Expected behavior
When I use reflection to get a obejct that contains all fields, and then, I input it's info when I iterate it . But,I find an error that is UnsupportedOperationException

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
class SelectedSelectionKeySet.java
at line 62

### Netty version
4.1.27
### JVM version (e.g. `java -ver

[2018-08-30 13:13] normanmaurer commented on #8242
@monkey1993 please share the code that you used.

[2018-08-30 13:30] monkey1993 commented on #8242
No code. Just see SelectedSelectionKeySet.java at line 62

[2018-08-30 16:01] khanhlv93 opened #8243 "sctp not running in some version linux"
sctp echo sample not runing in ubuntu 16.04lts, 18.04 lts but work well in centos 7 or ubuntu 17.10. because Server send ABORT chunk as response on INIT .but  command sctp_darn is working normal.  Can someone please help me [`file pcap`](https://drive.google.com/file/d/17ALBWsVT_gZBjrU4kTyNsUgJmx3AACdr/view)

[2018-08-30 18:53] normanmaurer commented on #8243
@khanhlv93 we just use what the JDK includes so I think you will need to fill an openjdk bug.

[2018-08-30 18:53] #8243 closed

[2018-08-30 20:57] KowalczykBartek commented on #8129
as far as I understand, this is similar behaviour that TCP_QUICKACK in ExtendedSocketOptions expose :)

[2018-08-30 21:12] ejona86 commented on #8217
Yes, but that's never worked. I took this issue to be a bug report that Netty breaks (which it shouldn't). But it sounds like you're thinking of this more of a feature request to support log4j2 on Java 6?

I was not as concerned at the branching, but with the "why are we investing this much?" It seemed weird to go so far out of our way to add a new feature to Netty to support a 3-year-dead release

[2018-08-30 22:39] khanhlv93 commented on #8243
i tried both oracle jdk7 and orack jdk8 but it same result "abort init" .

[2018-08-31 05:44] normanmaurer commented on #8129
Yes that’s right

[2018-08-31 06:53] normanmaurer commented on #8243
@khanhlv93 again I think you need to open an issue for openjdk with a reproducer.

[2018-08-31 06:55] normanmaurer commented on #8242
@monkey1993 sure but why you even access this `SelectedSelectionKeySet` ? I mean its internal and we not expose it at all.

[2018-08-31 07:57] Broadroad commented on #8129
So I need to re-enable this flag after each recv, right? How to do it in netty? Because as I know, netty set it when configure channel, how to continually enable this flag in the connection lifecycle?

[2018-08-31 08:37] monkey1993 commented on #8242
Reflection to get a object that contains all fields.Analyze memory footprin.

[2018-08-31 08:40] normanmaurer commented on #8228
As @Mr00Anderson said this is just how it works in NIO... There is nothing we can do about it. If you write something in DatagramChannel it may be reported on read or write

[2018-08-31 08:40] #8228 closed

[2018-08-31 08:43] monkey1993 commented on #8242
Calculate each ChannelHandlerContext to occupy memory.

[2018-08-31 09:10] normanmaurer commented on #8242
@monkey1993 I still dont get why you need this... just take an heap-dump and use a heap-dump analyser. I mean I can implement `iterator` but I am really not sure why you try to hand-roll this stuff.

[2018-08-31 09:15] monkey1993 commented on #8242
Calculate objects and their subobjects to occupy memory.

[2018-08-31 09:16] normanmaurer commented on #8242
yeah and this is exactly what a heap-dump will give you and can be accessed via a heap-dump analyser like eclipse mat.

[2018-08-31 09:30] monkey1993 commented on #8242
it's will be---> _make(8) + long(8) + int(4) + boolean(1) + boolean(1) + padding(2) + ref(4) + padding(4) = 32byte. But no ChannelHandlerContext object is calculated.

[2018-08-31 11:50] normanmaurer commented on #8242
@monkey1993 while I still not understand why you bother handrolling a memory profiler I did the changes as it was trivial to fix:

https://github.com/netty/netty/pull/8244

PTAL

[2018-08-31 11:56] monkey1993 commented on #8242
I need to estimate the memory footprint of each object to make sure how many people my system can hold, and how it can expand when it expands.

[2018-08-31 12:02] monkey1993 commented on #8242
As you said, that's trivial, and I can still circumvent it to figure out how much memory an object occupies.

[2018-08-31 15:08] #8165 closed

[2018-08-31 15:38] MarkTiedemann opened #8248 "OpenJDK 10 OpenJ9 OutOfMemoryError"
### Description

After switching from OpenJDK 10 with Hotspot to Eclipse OpenJ9, every request seems to cause an `OutOfMemoryError`.

[code]

### Netty version

[code]

### JVM version (e.g. `java -version`)

[code]

### OS version (e.g. `uname -a`)

[code]

[2018-08-31 16:19] normanmaurer commented on #8248
Can you also share the program that reproduce this ? Or maybe a small subset ?

[2018-08-31 22:15] mstickel opened #8250 "Netty Processes Either X-Forwarded-For or X-Forwarded-Host, but not Both"
### Expected behavior
Netty will set both remoteAddress and hostAddress on the ConnectionInfo object if both X-Forwarded-For and X-Forwarded-Host headers are present on the request.

### Actual behavior
Only remoteAddress is set; the X-Forwarded-Host header is ignored.

### Steps to reproduce
Send a request to Netty with both X-Forwarded-For and X-Forwarded-Host headers.

### Minimal yet complete

[2018-08-31 23:56] MarkTiedemann commented on #8248
@normanmaurer I cannot share the whole program, but I created a minimal reproduction. Please checkout [https://github.com/MarkTiedemann/netty-repro-8248](https://github.com/MarkTiedemann/netty-repro-8248).

Many thanks in advance! Hope the reproduction helps.

[2018-09-02 04:06] gaurav-4g commented on #8185
Hello community, we are excited with the release of Netty 4.1.x to support HTTP/2 and it is expected to make this flawless as compared to other HTTP/2 libraries in the market. As we can see, lots of alternatives are available to implement HTTP/2 based communication using Netty APIs, can we have a consolidated example to showcase various use cases.

[2018-09-02 11:27] #8242 closed

[2018-09-02 11:27] #8216 closed

[2018-09-02 11:55] stateIs0 opened #8251 "IdleStateHandler#hasOutputChanged doubt"
https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/timeout/IdleStateHandler.java  426 line：

[code]

Can excuse me what circumstance can return true？

[2018-09-02 11:56] stateIs0 commented on #8251
从代码上看，这里似乎永远不会进入 if 块

[2018-09-03 06:55] lijiawen opened #8252 "exceptionCaught DecoderException: javax.net.ssl.SSLHandshakeException: error:1000009c:SSL routines:OPENSSL_internal:HTTP_REQUEST at random time"
### Expected behavior
the exception throws from the exceptionCaught method,which extends SimpleChannelInboundHandler;

[code]
the initializer is:

[code]
### Actual behavior
[code]
### Netty version
      <dependency>
        <groupId>io.netty</groupId>
        <artifactId>netty-all</artifactId>
        <version>4.1.22.Final</version>
      </dependency>
      <dependency>
        <groupId>io.nett

[2018-09-03 06:57] normanmaurer commented on #8252
@lijiawen this version is very old... Please upgrade to the latest one and report back if the problem still persist.

[2018-09-03 07:00] lijiawen commented on #8252
<dependency>
    <groupId>io.netty</groupId>
    <artifactId>netty-all</artifactId>
    <version>4.1.22.Final</version>
  </dependency>

@normanmaurer , you mean this 4.1.22.Final is old? which version should i use，please give me a suggest,thanks a lot.

[2018-09-03 07:04] normanmaurer commented on #8252
Yes... the latest. 4.1.29.Final

[2018-09-03 07:46] stateIs0 commented on #8251
@normanmaurer hi，Could you tell me what this line of code does, please? I think this line of code can be removed because it's misleading, although it won't be bug. Thank you very much

[2018-09-03 07:54] normanmaurer commented on #8251
@stateIs0 why you think it will never hit the if block ? You may schedule multiple idle events for example in which after the first one was scheduled it will always hit the if block.

[2018-09-03 08:01] stateIs0 commented on #8251
@normanmaurer But each time you write, you call the writeListener#operationComplete() method to update the values of lastWriteTime and firstXXXXdleEvent.
Also, if lastChangeCheckTimeStamp! = lastWriteTime condition holds, so the value of first must be true.

[2018-09-03 08:03] stateIs0 commented on #8251
[code]

[code]

[2018-09-03 08:06] stateIs0 commented on #8251
Second case: if the write event does not occur after the first write event, then lastChangeCheckTimeStamp! = lastWriteTime condition will not hold, and the if block below will not execute.

[2018-09-03 12:01] normanmaurer commented on #8248
@MarkTiedemann I actually think this is an openj9 bug.

See:
https://github.com/eclipse/openj9/issues/2604
https://github.com/pdbain-ibm/openj9/commit/961cf752da7ef8ae0de1ac0c824d9d9dab7bd42b

WDYT ?

[2018-09-03 12:06] normanmaurer commented on #8195
@jknack You would need to write your own aggregator. We are currently not plan to offload to disk.

[2018-09-03 12:06] #8195 closed

[2018-09-03 12:07] normanmaurer commented on #8169
Can you share the code ?

[2018-09-03 12:07] normanmaurer commented on #8149
Closing due inactivity

[2018-09-03 12:07] #8149 closed

[2018-09-03 12:08] normanmaurer commented on #8129
@Broadroad you can just call `channel.config().setOption(...)`.

[2018-09-03 12:08] #8129 closed

[2018-09-03 12:08] normanmaurer commented on #8140
@yangRy ping

[2018-09-03 12:11] normanmaurer commented on #8003
@hc-codersatlas can you also point me to the intrinsics you are talking about ?

[2018-09-03 12:11] normanmaurer commented on #7876
I will close this for now... Please re-open if you think there is a netty issue.

[2018-09-03 12:11] #7876 closed

[2018-09-03 12:13] normanmaurer commented on #7733
@azagniotov could you please try upgrading to the latest version of netty / netty-tcnative and report back ?

[2018-09-03 12:13] normanmaurer commented on #7593
Will close this as there was no more activity. Please re-open if you still want to do it.

[2018-09-03 12:13] #7593 closed

[2018-09-03 12:31] MarkTiedemann commented on #8248
Yep, this is indeed an OpenJ9 bug.

Thanks a lot, @normanmaurer!

[2018-09-03 12:31] #8248 closed

[2018-09-03 16:07] #8217 closed

[2018-09-03 17:35] normanmaurer opened #8254 "Check if `*Unsafe*ByteBuf` makes still sense in java9+"
Java9 added more intrinsics for unaligned access which are part of `jdk.internal.misc.Unsafe` and so normally not accessible (note this is _NOT_ sun.misc.Unsafe). With all of these new intrinsics its not clear anymore if having `Unsafe` `ByteBuf` implementations really give us any gain beside be able to access the memory address. We should do benchmarks and check if when using Java9 and later we s

[2018-09-03 17:36] normanmaurer commented on #8254
jdk.internal.misc.Unsafe

[2018-09-03 17:36] normanmaurer commented on #8254
Related to https://github.com/netty/netty/issues/8003

[2018-09-03 17:36] normanmaurer commented on #8254
@mosesn @bryce-anderson @ejona86 @carl-mastrangelo @trustin @Scottmitch FYI

[2018-09-04 01:13] stateIs0 opened #8256 "LineBasedFrameDecoder#findEndOfLine method exception"
### Expected behavior
decode
### Actual behavior
throw IndexOutOfBoundsException

[code]

### Steps to reproduce
0. pipeline.addLast LineBasedFrameDecoder, and maxLength == 2.
1. Start the EchoServer
2. Start the EchoClient
3. throw IndexOutOfBoundsException

### Minimal yet complete reproducer code (or URL to code)

EchoServer:
[code]
EchoClient:
[code]
### Netty version
master
### JVM version (e

[2018-09-04 01:15] stateIs0 commented on #8256
This was discovered by my friend @YunaiV.

[2018-09-04 01:50] stateIs0 commented on #8256
@normanmaurer may need a counter to fix this bug.

[2018-09-04 08:00] normanmaurer commented on #8256
@stateIs0 thanks for reporting :) Fixed in https://github.com/netty/netty/pull/8257.

[2018-09-04 08:27] normanmaurer commented on #8252
@lijiawen maybe I dont get what problem you think you have...

It seems like there is an SSL error which is propagated thought the `ChannelPipeline` until it is handled in `WebSocketChannelInboundHandler`. This all looks correct to me. Can you try to explain in more detail what issue you think is there ?

[2018-09-04 08:41] lijiawen commented on #8252
@normanmaurer ，the error is occured at random time, and it is not thrown from my business code,but
 caused by sslhandshake? i dont know why this exception will occur，what situation can cause this problem? what should i do to avoid this exception? this is very strange. can you understand?

[2018-09-04 08:42] normanmaurer commented on #8252
@lijiawen there is not much you can do here as it is caused by a malfunction remote peer. So really nothing to worry about. From the error message itself it seems like they try to use a SSL protocol version that you not support

[2018-09-04 08:42] #8252 closed

[2018-09-04 08:56] lijiawen commented on #8252
@normanmaurer ,but there is no other users to access my code，only myself to access this function，and the error is not occured during my request，it just occured at random time

[2018-09-04 09:03] normanmaurer commented on #8252
if you can share a reproducer I will have a look... Without that I have no idea.

[2018-09-04 11:44] normanmaurer opened #8259 "Consider switching minimum JDK support to 1.8 and release 4.2.0"
Opening this for discussion...

What are others thoughts of releasing netty 4.2.0.Final where we move to Java8 as minimum requirement ? This would allow us to get rid of some nasty reflection hacks and replace these with method handles etc.

We could still support 4.1.x for a while in parallels.

Once we start next major (a.k.a netty 5) we should consider even moving to java11 I think but thats fo

[2018-09-04 11:47] normanmaurer commented on #8259
And just to be clear 4.2.0 would be completely identical in terms of API etc with 4.1.0. The only difference would be the minimum java version requirement for now

[2018-09-04 11:49] normanmaurer commented on #8259
/cc @ejona86 @mosesn @trustin @jasobrown @jasontedor @johnou @Scottmitch @carl-mastrangelo @bryce-anderson

[2018-09-04 12:49] jasobrown commented on #8259
+1. The minimum jdk version for cassandra is java 8, with cassandra version 3.0 and higher.

[2018-09-04 13:08] normanmaurer commented on #8259
Also @smaldini and @vietj

[2018-09-04 13:59] ijuma commented on #8259
Most open-source projects now require Java 8 so I think that's a good idea. With regards to 4.2.x versus 5.0.0, it seems like you're suggesting the former since the Netty APIs will remain the same even if some will see this as a breaking change.

A number of people in the Kafka community were opposed to bumping the Java version requirement without a major version bump in Kafka itself. We bumped Ka

[2018-09-04 14:01] normanmaurer commented on #8259
@ijuma yeah the former... That said I want to start working on netty 5 soon as well, which will contain API breakage of course.

[2018-09-04 14:45] normanmaurer commented on #8254
That said we can also just use what is provided by `jdk.internal.misc.Unsafe` . This will only work of course if the user allows access to it (which means some cmdline flag).

[2018-09-04 15:04] mp911de commented on #8259
I like the idea of having an artifact that can be used as a compatible drop-in for 4.1.x with improved performance in exchange for a higher JDK. With Lettuce requiring Java 8 anyways and the broad Java 8 requirements as of Project Reactor and Spring Framework, this should be a nice alignment.

[2018-09-04 16:26] normanmaurer commented on #8259
Yes that would be my plan

[2018-09-04 17:13] #8256 closed

[2018-09-04 17:55] nicktrav commented on #8259
+1 from us!

[2018-09-04 18:47] johnjaylward opened #8261 "DNS resolver failing to find valid DNS record"
### Expected behavior
The DNS resolver should find valid DNS records.

### Actual behavior
Exception thrown:
[code]
### Steps to reproduce

1. Configure a top level domain `someDomain` on a DNS server you own
1. Configure a host under the new top level domain `someHost.someDomain`
1. Configure multiple resolvers  on the DNS client machine that will run the Netty code. i.e. 8.8.8.8, 192.168.1.1, an

[2018-09-04 18:53] normanmaurer commented on #8261
@johnjaylward would it be possible to try different netty versions and see at which point it breaks ? This would help me a lot.

[2018-09-04 18:55] johnjaylward commented on #8261
Are there any breaking points in the API between 4.1.13 and 4.1.20? If not, I don't see an issue with trying on my end.

[2018-09-04 19:01] normanmaurer commented on #8261
@johnjaylward as the dns resolver is marked as unstable there were a few, but I think most people should not be affected as the scope is small. So I would give it a try.

[2018-09-04 19:15] normanmaurer commented on #8254
Did a few benchmarks and it seems like it still makes a lot of sense. We may be able to do some improvements tho. So let us keep this open.

[2018-09-04 19:44] johnou commented on #8259
Green from us.

[2018-09-04 19:49] johnjaylward commented on #8261
well, now that I've played around with the versions a little more, I'm not sure what's up.
Using Redisson 3.5.0 with any version of Netty and the DNS query seems to work.

However using Redisson 3.6.0 with any version of Netty, the query fails. I'm guessing Redisson must have changed some configuration option that it is passing to the Netty resolver? Is that a possibility? If so, I'll open this on

[2018-09-04 22:58] stateIs0 commented on #8251
![image](https://user-images.githubusercontent.com/24973360/45061740-62188a00-b0d8-11e8-938f-7ffb6fd5325d.png)

![image](https://user-images.githubusercontent.com/24973360/45061755-6d6bb580-b0d8-11e8-939d-0d6c5fe275ed.png)

@normanmaurer I tested `lastChangeCheckTimeStamp == lastWriteTime` and `lastChangeCheckTimeStamp! = lastWriteTime `in both cases, it is found that the if block cannot be hit. I

[2018-09-04 23:57] stateIs0 commented on #8251
@normanmaurer Sorry, I can't tell when this if block is going to be hit. Because when free for the first time after the incident, if ` lastChangeCheckTimeStamp! = lastWriteTime ` condition was established, ` first ` must be true, then it will not hit the if block. If you can, please give the test case to prove that can hit the if block. Thank you very much. :)

[2018-09-05 09:08] KING754 opened #8263 "Linux use Epoll"
### Expected behavior
at the linux os netty use epoll
### Actual behavior
but have a excpetion when i start the netty:
`2018-09-05 16:06:35,635 [main] DEBUG io.netty.util.internal.NativeLibraryLoader - Unable to load the library 'netty_transport_native_epoll_x86_64', trying other loading mechanism.
java.lang.UnsatisfiedLinkError: no netty_transport_native_epoll_x86_64 in java.library.path

[2018-09-05 09:26] normanmaurer commented on #8263
Please share the full log

[2018-09-05 09:48] KING754 commented on #8263
2018-09-05 17:34:34,278 [main] DEBUG io.netty.channel.MultithreadEventLoopGroup - -Dio.netty.eventLoopThreads: 16
2018-09-05 17:34:34,338 [main] DEBUG io.netty.util.internal.PlatformDependent0 - -Dio.netty.noUnsafe: false
2018-09-05 17:34:34,338 [main] DEBUG io.netty.util.internal.PlatformDependent0 - Java version: 8
2018-09-05 17:34:34,339 [main] DEBUG io.netty.util.internal.PlatformDependent0 -

[2018-09-05 09:53] normanmaurer commented on #8263
What does `Epoll.isAvailable()` tell you ? Also are you sure thats the full log ?

[2018-09-05 10:09] KING754 commented on #8263
sorry.is not full.
---
2018-09-05 18:07:05,234 [main] INFO  com.dm.netty.NettyServer - OS is LINUX Use EPOLL
2018-09-05 18:07:05,239 [main] DEBUG io.netty.util.internal.logging.InternalLoggerFactory - Using SLF4J as the default logging framework
2018-09-05 18:07:05,241 [main] DEBUG io.netty.channel.MultithreadEventLoopGroup - -Dio.netty.eventLoopThreads: 16
2018-09-05 18:07:05,299 [main] DEBUG io.

[2018-09-05 10:16] amizurov commented on #8259
Cool, +1 from us.

[2018-09-05 10:56] KING754 commented on #8263
this is full
---
2018-09-05 18:07:05,234 [main] INFO com.dm.netty.NettyServer - OS is LINUX Use EPOLL
2018-09-05 18:07:05,239 [main] DEBUG io.netty.util.internal.logging.InternalLoggerFactory - Using SLF4J as the default logging framework
2018-09-05 18:07:05,241 [main] DEBUG io.netty.channel.MultithreadEventLoopGroup - -Dio.netty.eventLoopThreads: 16
2018-09-05 18:07:05,299 [main] DEBUG io.netty.u

[2018-09-05 11:27] normanmaurer commented on #8263
All is good as you can see here:

[code]

We try different loading strategies until we succeed. So the first few logs are because these were not successful.

[2018-09-05 15:03] rkapsi opened #8265 "OOME in SslHandlerCoalescingBufferQueue"
I just had an instance of our Netty app OOME. It seems the SslHandlerCoalescingBufferQueue of one connection filled up with `<EmptyByteBuf, ChannelPromise>` pairs.

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

4.1.29 w/ TCN 2.0.15 (OpenSSL 1.1.0i, linux, static)

### JVM version (e.g. `java -versio

[2018-09-05 15:29] normanmaurer commented on #8265
Can you share the heap dump ?

[2018-09-05 15:41] rkapsi commented on #8265
Unfortunately no due to private keys being in there and such. But I'll poke around and share screenshots/values if you have ideas what to look at in particular.

The connection appears to be HTTP/2. This seems very similar to #7659.

[2018-09-05 15:45] rkapsi commented on #8265
Possibly same cause (me) :thinking:

[2018-09-05 16:27] #8263 closed

[2018-09-05 17:27] rkapsi commented on #8265
Closing for now, probably exactly the same as #7659.

[2018-09-05 17:27] #8265 closed

[2018-09-05 17:51] normanmaurer commented on #8261
@johnjaylward sure thats possible... I dont know enough about Redission to tell you what they do.

[2018-09-05 18:18] adhesivee commented on #7790
I still have this issue on windows. I am using the following
[code]
I use [Ktor](https://github.com/ktorio/ktor) with Netty as the engine. My implementation:
[code]
It only happens when I test it with apache benchmark with Keep-Alive option enabled.
[code]

All the results seem to be passing, so the following error seems to happen after the connection closes:
[code]

Also when I limit `connectionG

[2018-09-05 18:38] adhesivee commented on #7790
I created a setup which causes the issue on my machine: https://github.com/adhesivee/ktor-hello-sample

[2018-09-05 23:27] KING754 commented on #8263
so the app is run succeed?
the exception is debug msg.
i am not need care the exception?

[2018-09-06 09:07] kleinron opened #8269 "Feature request: simple HTTP proxy handler"
Currently, the class HttpProxyHandler supports only proxy-ing through a TCP tunnel, established by a `CONNECT` command.
This implementation would make it hard to cache the results, since the actual request and response are being transferred within the established TCP tunnel.
This means that well known proxy servers, such as Squid, might not function at all as proxies (they might refuse to establis

[2018-09-06 09:56] normanmaurer commented on #8269
@kleinron we love contributions...

[2018-09-06 11:42] normanmaurer commented on #7790
@adhesivee I can not reproduce on windows server 2012. Can you tell me which ab version you use ?

[2018-09-06 11:48] kleinron commented on #8269
@normanmaurer as a newcomer, this is not a trivial task, especially when the project is quite complex. Maybe I'm wrong and it is a trivial task?

[2018-09-06 11:51] adhesivee commented on #7790
I am using:
[code]

[2018-09-06 11:56] normanmaurer commented on #7790
hmm ... I am using

[code]

All just works :(

[2018-09-06 12:01] adhesivee commented on #7790
One note though I did not get these exception while the debugger was enabled.
And it only happened with Keep-Alive. Still I don't think it causes to much harm, because it seems to happen after the connection closes.

[2018-09-06 12:03] normanmaurer commented on #7790
@adhesivee does it happen all the time ?

[2018-09-06 12:04] normanmaurer commented on #7790
Also do I need to setup any logging etc to see it ?

[2018-09-06 12:07] adhesivee commented on #7790
The default logging (info level) is enough to see it.
It does not always happen on the first ab run, but on the second run I always have quite some messages.

[2018-09-06 12:08] normanmaurer commented on #7790
very odd... I am running it in a loop at the moment and did not see it yet ...

[2018-09-06 12:32] normanmaurer commented on #7790
It would also be good if you could try to run with `-Dio.netty.selectorAutoRebuildThreshold=100000000` and check the cpu usage. In this case when the "problem" happens you should see a very high cpu usage. Once this happens I would like to see a thread dump / heap dump.

[2018-09-06 12:32] adhesivee commented on #7790
Is this format ok?
[heapdump-1536236928163.zip](https://github.com/netty/netty/files/2357016/heapdump-1536236928163.zip)

[2018-09-06 12:36] adhesivee commented on #7790
I think it is captures but I am not sure. Sometimes the logger writes a moment later then when the event really happens, to make things more complicated ofcourse.

[2018-09-06 12:37] normanmaurer commented on #7790
@adhesivee thats why I asked to run with "-Dio.netty.selectorAutoRebuildThreshold=100000000". This way you should detect the CPU usage goes up and then you can take the dump... That said it will not log then.

[2018-09-06 12:44] adhesivee commented on #7790
Ok I have done as you said. I have done 2 dumps in the same process while processor being at 100%.
I also change the benchmark a bit, this gives me the most of the messages:
[code]
[heapdump-1536237736820.zip](https://github.com/netty/netty/files/2357053/heapdump-1536237736820.zip)

[2018-09-06 13:30] normanmaurer commented on #7790
@adhesivee cool thanks! Can I also have a few thread-dumps using `jstack` of the time it happens ?

[2018-09-06 13:40] coinary1 opened #8271 "Question about space usage of InternalThreadLocalMap.indexedVariables?"
The InternalThreadLocalMap.indexedVariables is per-thread.
But the FastThreadLocal.index value is thread-shared form  InternalThreadLocalMap.nextVariableIndex().

After create some FastThreadLocal:

Thread A:
![ed74bd4bf0ff4d559cf74a9fa7714adc_4dad1c75a7afd61641b9e2f664630458](https://user-images.githubusercontent.com/43037618/45160773-d5c3af80-b21c-11e8-8f2d-2ba728b51bd3.jpg)

Thread B:
![20694ba

[2018-09-06 13:59] adhesivee commented on #7790
I am not that familiar with `jstack` I ran it like this
[code]

The output I got is this:
[code]

[2018-09-06 14:16] normanmaurer commented on #7790
@adhesivee please use `jstack <pid>`.

[2018-09-06 14:38] normanmaurer commented on #8263
@KING754 yes... thats why its debug and not warn or error.

[2018-09-06 14:49] rkapsi commented on #8259
@normanmaurer two :+1: from us

[2018-09-06 15:30] adhesivee commented on #7790
This is printed:
[code]

[2018-09-06 16:02] johnjaylward commented on #8261
Thanks, I'll check with them.

[2018-09-06 16:04] normanmaurer commented on #8261
@johnjaylward please let me know how it goes :)

[2018-09-07 03:19] KING754 commented on #8263
Ok,thank you very much

[2018-09-07 05:48] normanmaurer commented on #8271
@coinary1 sorry but I dont get what exactly you propose... could you maybe do a pr and show the change that you think that makes sense ?

[2018-09-07 07:04] coinary1 commented on #8271
@normanmaurer  InternalThreadLocalMap.indexedVariables will waste space. Because the FastThreadLocal use a global index between thread.
I don't know that this is an optimization or a bug.

[2018-09-07 13:43] ibm701 opened #8273 "Resolve charset from ContentType header for SOAP 1.2 requests"
Hello, there is a problem with charset resolution from `ContentType` header for SOAP 1.2 using `io.netty.handler.codec.http.HttpUtils` class. SOAP 1.2 could have action parameter in `ContentType` header and method `getCharsetAsSequence(CharSequence contentTypeValue)` from `io.netty.handler.codec.http.HttpUtils` class just finds charset word and take whole string from this word end to the end.

###

[2018-09-07 14:36] normanmaurer commented on #8254
Let me close this... I will re-open another one for improvements if needed.

[2018-09-07 14:36] #8254 closed

[2018-09-07 17:43] normanmaurer commented on #8238
@mihalyr I will try to have a look soon.

[2018-09-07 17:43] normanmaurer commented on #8238
@mihalyr btw if you have a good idea how to fix this I would be more then happy to review.

[2018-09-07 17:45] normanmaurer commented on #8196
@Wingfril I would very interested to hear more.

[2018-09-07 17:55] Wingfril commented on #8196
@normanmaurer
Heyo.
So we tried several different load metrics to try and apply power of 2 choices (and also a heap when using number of channels as a load metric), such as keeping track of the amount of channels in each eventloop, looking at the pending tasks per eventloop, and also I modified a local copy of netty to look at the awake time/alive time of the eventloop.

In staging and in simulati

[2018-09-07 18:06] normanmaurer commented on #8196
@Wingfril interesting.. Let me know if you find anything interesting in the future.

[2018-09-07 21:16] creamsoup opened #8275 "Server should send RST_STREAM(NO_ERROR) after trailers if client is not half-closed"
copied message from [issue on gRPC](https://github.com/grpc/grpc-java/issues/2162)

The HTTP/2 spec [calls out this case specifically](https://httpwg.org/specs/rfc7540.html#rfc.section.8.1) saying that servers MAY send the RST_STREAM. For gRPC, we are going to consider it more of a SHOULD, although clients still have to assume it is a MAY because intermediaries may in be play.

---

We think netty

[2018-09-07 21:38] ejona86 commented on #8275
CC @Scottmitch, @normanmaurer. I dug through the APIs a bit, and it seems this may be best solved in Netty itself.

The basic problem is that without a RST_STREAM the stream remains open and can be in a limbo state for the rest of the connection lifetime.

We need to send the `RST_STREAM` after the `END_STREAM=1` frame. However, the frame with `END_STREAM=1` is likely a `DATA` frame (or a trailers

[2018-09-08 06:15] Shany100 commented on #8228
thanks.

[2018-09-08 13:37] mihalyr commented on #8238
@normanmaurer Hi Norman, thank you for looking into. I was testing with simply making the close async and adding a closeFuture similar to what you do in Channel, so we can wait for the completion on shutdown etc, the future could be also returned from close. However, that would break customers already relying on the sync behaviour. An alternative to preserve compatibility could be a new closeAsnyc

[2018-09-10 10:14] trustin commented on #8259
+1. Migrated to Java 8 loooong time ago. Just curious if we should call this new version 4.2 or 5.0. By choosing 5.0, 1) we can emit a strong signal that it's not a drop-in replacement and 2) we can finally hide the ancient 5.0.0.AlphaX releases from search.maven.org, but I'm just fine with 4.2 as well.

[2018-09-10 13:16] normanmaurer commented on #6664
Ok I think I know what the problem is as I spotted it while doing some other work... Let me re-open

[2018-09-10 14:18] mrniko commented on #8261
I would reopen this issue. Issue appeared once Redisson switched to netty based resolver from JDK's `InetAddress.getByName` method.

[2018-09-10 15:17] johnjaylward commented on #8261
Thanks for looking @mrniko .

@normanmaurer  looks like it's an error in how netty is resolving.

[2018-09-10 15:18] johnjaylward commented on #8261
Updated title since it's not a regression.

[2018-09-10 15:19] normanmaurer commented on #8261
Can we somehow have a testcase to reproduce which does not involve setup an own dnsserver etc?

[2018-09-10 15:28] johnjaylward commented on #8261
I'm not sure if it's environment related or not. It appears to be environment related as it seems to resolve some host names just fine, it's just this custom top level domain one it has issues with (i.e. not localhost/.com/.edu etc).

The TLD is just "companyname" not "companyname.com" . The resolver appears to be looking at "host.companyname" and not liking the TLD, so it appends the DNS Search D

[2018-09-10 15:31] johnjaylward commented on #8261
Maybe you can test against a public TLD like .amazon or .google or something? I'm not sure if there would be a difference there though as I have 3 resolvers configured, but only 1 will return a valid result for the custom TLD.

[2018-09-10 15:35] normanmaurer commented on #8261
So you say it only happens for custom TLDs?

[2018-09-10 17:14] Wingfril opened #8276 "Feature request: Exposing Number of Channels per Eventloop"
Netty doesn't expose the number of channels per event loop for Kqueue|Epoll|Nio. It might be helpful for monitoring performances to expose this.
Could also be useful for a better way of assigning channels to event loops as well. (My results on this were inconclusive, but the simulations I wrote might not be good).

[2018-09-10 18:16] smlance opened #8277 "HashedWheelTimer allows sub-ms tickDurations"
`waitForNextTick` [converts the sleep time to ms](https://github.com/netty/netty/blob/00afb19d7a37de21b35ce4f6cb3fa7f74809f2ab/common/src/main/java/io/netty/util/HashedWheelTimer.java#L547), so when the HWT constructor is passed a tickDuration shorter than 1 ms, `waitForNextTick` doesn't sleep. This is misleading since HWT's tickDuration [seems to have nanosecond granularity](https://github.com/ne

[2018-09-10 18:16] vkostyukov commented on #8276
Perhaps [`EventLoopGroup.registeredChannels`](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/EventLoopGroup.java) could be a good API to expose?

[2018-09-10 18:26] vkostyukov commented on #8269
@kleinron I'm not sure I follow your reasoning. What would a proxy handler you propose do? If you don't need a CONNECT semantic (usually you want it for SSL/TLS connections), you can just omit `HttpProxyHandler` and talk directly to a proxy server, which will forward your requests based on what in the `Host` header.

[2018-09-10 18:33] vkostyukov opened #8278 "Native epoll channels/sockets take longer to shutdown/close?"
This is neither a bug report nor feature request. I figured I use Github issues to solicit peoples experience and knowledge about Netty's native epoll transports. We've been running Finagle with native epoll (on Linux) for quite a while internally and finally decided to switch our OSS version to it.

To our surprise, switching over to a native epoll caused out showdown tests to fail. Turns out, ou

[2018-09-10 18:46] smlance commented on #8277
Agreed that throwing an exception seems dangerous.

[2018-09-10 19:05] normanmaurer commented on #8277
@smlance @vkostyukov couldn't we just fix it by replace `Thread.sleep(..)` with `LockSupport.parkNanos(...)` ?

[2018-09-10 19:05] normanmaurer commented on #8277
Also @mosesn

[2018-09-10 20:13] rhenwood-arm opened #8279 "aarch64 native bits."
Hi,

It is valuable for me to have native aarch64 bits included in the release artifacts. I see there has been interest in a cross-compile previously: https://github.com/netty/netty/issues/7459

It appears that the release is made on a RHEL 6 x86_64 compatible and I would like to explore making the necessary changes to the project to add in a cross-compile step for aarch64.

Assuming this is accur

[2018-09-10 20:45] bryce-anderson commented on #8275
As @ejona86 noted, the spec isn't prescriptive. I think it makes sense to have this as configurable behavior though I'd probably default to it being off since I don't like surprises, though that depends on the details. I could see modeling Http2 streams as a `DuplexChannel` in `Http2MultiplexCodec` where this behavior would fit in nicely. I don't know if a similar pattern exists for the non-`Http2

[2018-09-10 22:35] ejona86 commented on #8275
In the HTTP/1 world, I think the common usage of doing `addListener(ChannelFutureListener.CLOSE)` on the last write is equivalent to issuing the `RST_STREAM(NO_ERROR)`.

[2018-09-10 22:41] vkostyukov commented on #8277
I might definitely miss some context around HWT, but to me it sounds like it doesn't necessarily have to provide sub-millisecond granularity. It's good for what's it's designed for - high throughput at the cost of certain precision.

The only problem with the HWT (in my minds eyes) is that it accepts pretty much anything in its constructor despite rounding up the tick interval to 1ms.

[2018-09-11 04:17] DATuan91 commented on #3910
As jemalloc release version 5, can you take a look and review netty's implementation.
[](https://github.com/jemalloc/jemalloc/releases)

[2018-09-11 07:57] normanmaurer commented on #6664
Alright... I did some more checking but unfortunally it will be kind of impossible for us to do the same here easily as the wrapping is done in the `SSLContextImpl` (which is package-private) and there is no way for us to easily access the wrapper itself (and also the hostname checking that is used here). So with this in mind this is more an implementation detail then anything else. I will close t

[2018-09-11 07:57] normanmaurer commented on #8278
I am not aware of anything like this @vkostyukov

[2018-09-11 07:58] normanmaurer commented on #8279
@rhenwood-arm if we can easily cross-compile there we could do it I guess.

[2018-09-11 08:35] normanmaurer commented on #8261
@johnjaylward could you test to only include the dnsserver that handles the custom domainname and see if it resolves in this case ?

Also would it be possible to run the following command against each of the servers (using the domain you want to resolve) and add the output here:

[code]

[2018-09-11 09:28] normanmaurer commented on #8277
@johnou sure but a spurious wakeup will not hurt here.

@vkostyukov sure it does not but at the end using `parkNanos` should not be any more expensive then `Thread.sleep` while allow it. So I wondered why not just do it.

[2018-09-11 09:45] normanmaurer commented on #8277
@smlance @vkostyukov @johnou https://github.com/netty/netty/pull/8282 this should "fix" the issue without any negative impact.

[2018-09-11 10:33] normanmaurer commented on #6664
Asked on the openjdk mailinglist if there is any plan to expose it in the future:

http://mail.openjdk.java.net/pipermail/security-dev/2018-September/018160.html

[2018-09-11 11:41] normanmaurer commented on #8275
@creamsoup @ejona86 interesting in doing a PR ?

[2018-09-11 11:43] normanmaurer commented on #8279
@rhenwood-arm btw if you do so you may also be interested in providing a pr for netty-tcnative.

[2018-09-11 14:40] rhenwood-arm commented on #8279
Thanks for the prompt response and guidance @normanmaurer !

I'll spend some time looking into this in detail.

[2018-09-11 16:57] vkostyukov commented on #8269
@kleinron You should be able to keep the original HTTP request unchanged assuming you're adding a HOST header, [which you normally include anyway](https://tools.ietf.org/html/rfc7230#section-5.4).

[2018-09-11 19:10] johnjaylward commented on #8261
Personal local network:
[code]

Global public network:
[code]

Company DNS over VPN
[code]

[code]

[2018-09-11 19:13] johnjaylward commented on #8261
@normanmaurer I'm not sure I can configure Redis to use a specific DNS server...

[2018-09-11 21:00] kleinron commented on #8269
@vkostyukov IIUC, what you say is that I can do it myself using Netty.
Even if this is true, I think that the proxy related classes are somewhat missing the "regular" and quite common proxy pattern.
This is why I suggest this new feature.
Please don't get me wrong about it, I totally respect Netty project, I just thought it would be nice to recommend on a new feature.

[2018-09-12 01:36] creamsoup commented on #8275
@normanmaurer I can work on the PR, but it sounds like we need to finalize the discussion.
should it be configurable? if yes, what should be the default behavior?

[2018-09-12 01:38] lilaizhencn commented on #8259
+1. expect since jdk 11

[2018-09-12 06:03] normanmaurer commented on #8275
@creamsoup I think it should be configurable... I am not strong on what the default should be. @ejona86 @bryce-anderson @mosesn @Scottmitch WDYT ?

[2018-09-12 08:58] LaoZhongGu commented on #8259
+1.Good。And JDK11 coming soon。

[2018-09-12 09:34] normanmaurer commented on #8261
@johnjaylward interesting so at least one server returns `NXDOMAIN`. This is on what OS ? Can you also show me the contents of /etc/resolv.conf

[2018-09-12 12:09] johnjaylward commented on #8261
it's on windows 10 in this instance. When I was stepping through the calls the server list contained all 3 servers primary servers. I can't remember if it contained the secondary over the VPN. If I have time today, I'll try to step through again and see which servers were listed.

[2018-09-12 14:52] bryce-anderson commented on #8275
I'd personally default to disabled since this is optional behavior that the server 'MAY' exhibit and not doing so is the current behavior.

[2018-09-12 15:11] ejona86 commented on #8275
"Configurable" seems a simplistic label. In an h2childchan world each stream would need different configuration. If the "configuration" is disabled, how should a handler clean up such a stream? I guess it should RST the stream after the write for the END_STREAM=1 frame completes.

What if we apply flow control to a RST_STREAM(NO_ERROR) after an END_STREAM=1, in the same way we manage trailers? Tha

[2018-09-13 02:44] coinary1 commented on #8271
@normanmaurer Thank you.  👍

[2018-09-13 03:05] x7LoveLin opened #8284 "class not found"
### Expected behavior
found class
### Actual behavior
not found
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
lastest

### JVM version (e.g. `java -version`)

1.8

### OS version (e.g. `uname -a`)

![image](https://user-images.githubusercontent.com/11347393/45464809-d8566580-b744-11e8-842a-c1096ef50de3.png)

[2018-09-13 06:33] SharpMan commented on #8269
So if I well understand you want a simple HTTPProxyHandler that adds the HOST header ?

[2018-09-13 11:36] doribd opened #8285 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
### Expected behavior
no exception
### Actual behavior
io.netty.util.ResourceLeakDetector       : LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
### Steps to reproduce
code exists on my github, you can download and reproduce it.
### Minimal yet complete reproducer code (or URL to code)
### Technolo

[2018-09-13 12:34] amizurov commented on #8273
@normanmaurer, please verify it or somebody else.

[2018-09-13 12:41] johnou commented on #8285
@doribd code exists where? stacktrace would be helpful too.

[2018-09-13 15:29] rschmitt commented on #8185
@normanmaurer @Scottmitch Any updates?

[2018-09-14 02:06] wenweihu86 opened #8287 "Failed to mark a promise as success because it has failed already: DefaultChannelPromise@1f8f7703(failure: io.netty.handler.codec.EncoderException: io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1)"
### Expected behavior
should not appear reference counting exception.

### Actual behavior

2018-09-14 00:54:48,492 WARN [client-io-thread-7]	Failed to mark a promise as success because it has failed already: DefaultChannelPromise@1f8f7703(failure: io.netty.handler.codec.EncoderException: io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1), unnotified cause:
io.netty.handler.cod

[2018-09-14 05:02] YangruiEmma opened #8288 "Epoll: NativeDatagramPacketArray allocate much native memory when multiport"
### Expected behavior
no much native memory are allocated , it is normal with netty version <= 4.1.25
### Actual behavior
much native memory are allocated when the initialization of service and cannot be garbage collected, it leads to memory overflow.
The problem is found when version is changed from 4.1.25 to 4.1.27. (I am not sure if it is a bug, but I want to know why do this change, please see

[2018-09-14 05:12] normanmaurer commented on #8288
Yes it was fixed in 4.1.29.Final
https://github.com/netty/netty/pull/8160

[2018-09-14 05:12] #8288 closed

[2018-09-14 06:53] YangruiEmma commented on #8288
Thank you very much! ^_^

[2018-09-14 07:50] johnou commented on #8284
@x7LoveLin run `mvn clean compile`, the classes are auto-generated.

[2018-09-14 10:34] #8284 closed

[2018-09-14 19:39] #8273 closed

[2018-09-14 19:39] normanmaurer commented on #8273
@amizurov merged... thanks

[2018-09-14 19:40] normanmaurer commented on #8287
@wenweihu86 please share your code... I suspect you miss to retain a buffer before writing it

[2018-09-15 02:16] Aitozi commented on #3002
I think `ChannelHandlerContext.fireUserEvent` will try to invoke the `invokeUserEventTriggered(findContextInbound(),event)` and the `findContextInbound` will find the most closely inbound ctx from the current ctx, may be the next one. But the `ctx.pipeline().fireUserEvent()` will finally fireUserEvent on the `pipeline.next` which is `HeadContext`. Maybe this is the difference.

[2018-09-15 05:04] wenweihu86 commented on #8287
@normanmaurer I fix the problem by add "ReferenceCountUtil.retain(fullRequest);" before sending request. But I confuse that why it's no need to retain request buf when sending tcp request.

[2018-09-15 05:45] kleinron commented on #8269
@SharpMan no, that's not what I mean.
I assume that the request already has a Host header (and even if it doesn't, it can be easily extracted).
All I want is a proxy handler, which would hold an endpoint: a combination of {host|ip} + port.
So that it would execute the original http request against this endpoint, regardless of the host declared in the original http request.

[2018-09-16 22:10] doribd commented on #8285
have a look here, https://github.com/doribd/hgw

[2018-09-17 00:41] johnou commented on #8285
And the stacktrace?

[2018-09-17 07:49] unlimitedsola commented on #8259
+1, please :) , and JDK 11 support as well.

[2018-09-18 01:48] jtjsir opened #8294 "can not reopen tcp connection on the netty 4.1.19.Final"
### Expected behavior
Just want to make any connection,but it does't work.

### Actual behavior
1. make a connection
2. close the connection
3. make a connection again
4. fail with exception

### Steps to reproduce
look above

### Minimal yet complete reproducer code (or URL to code)
**QuoteClient#onConnect(String hostname,int port)**
[code]

**close()**
[code]

**ClientMain.java**
[code]
the resu

[2018-09-18 01:58] jtjsir commented on #8294
Anyone can help me?I just can't understand what's wrong with my code

[2018-09-18 02:30] #8294 closed

[2018-09-18 13:16] ursaj opened #8295 "WebSocket is closed without an error on protocol violations"
When client sends a message exceeding server restrictions, web socket should be closed with correct error code and message.

### Expected behavior
response frame is sent: CloseWebSocketFrame(1002, "Max frame length of ... has been exceeded")

### Actual behavior
response frame is sent: CloseWebSocketFrame(1000, null)

### Steps to reproduce
Limit single message size accepted by server.
[code]

Sen

[2018-09-18 15:49] normanmaurer commented on #8295
@ursaj would you be interested in providing a PR and include a test case there ?

[2018-09-18 23:05] normanmaurer commented on #8287
@wenweihu86 can you show the code ?

[2018-09-19 01:10] vkostyukov commented on #8276
@normanmaurer How do you feel about exposing this API (see above)? I might have time to contribute this little improvement if you find that useful.

[2018-09-19 12:02] amizurov commented on #8295
@ursaj @normanmaurer Guys, be careful, the specification has a specific code (1009) indicates that an endpoint is terminating the connection  because it has received a message that is too big for it to
process. https://tools.ietf.org/html/rfc6455#section-7.4.1

[2018-09-19 14:09] chenshun00 commented on #7814
@doom369 hi ,  i get exception when running netty's example about upload file ,as shown below.
[code]

so i debug  and found some code like this

[code]
[DefaultHttpDataFactory#cleanRequestHttpData](https://git.io/fA9rg)

[2018-09-19 17:07] normanmaurer commented on #8276
@vkostyukov yeah I think it is a good one... That said we will need to implement it without breaking other impls so it will need to go into an implementation of EventLoopGroup I guess.

[2018-09-19 17:12] vkostyukov opened #8298 "Allow users to plug in their own HTTP headers validator"
We've been looking into ways to ensure a better support to HTTP header names as defined in [RFC7230, Section 3.2.6](https://tools.ietf.org/html/rfc7230#section-3.2.6) in Finagle. Today's header validation rules in Netty (as per `DefaultHttpHeaders.java`) don't prohibit ASCII delimiters (e.g., `[]`), and, unfortunately, there is no easy to to configure it otherwise.

One way to do that would be mak

[2018-09-19 17:13] normanmaurer commented on #8298
Sounds reasonable to me... @ejona86 @Scottmitch @carl-mastrangelo @trustin WDYT ?

[2018-09-19 17:27] vkostyukov commented on #8276
Sounds good! Let me give a try.

[2018-09-19 19:44] ejona86 commented on #8298
I'm not familiar with the mentioned change in the characters permitted. Which BNF rule is now different? I see `token` excludes `[]`, but that was true in RFC 2616 as well.

[2018-09-19 20:08] vkostyukov commented on #8298
Oh I think you're right, @ejona86. Token is defined identically in both RFCs:

RFC7230:

[code]

RFC2616:

[code]

The feature request about allowing users to override header validator still makes sense though as today, we're neither RFC2616 nor RFC7230 compliant:

[code]

[2018-09-19 20:12] carl-mastrangelo commented on #8298
@vkostyukov Why don't you just disable it and verify the headers in your application?

[2018-09-19 21:01] ejona86 commented on #8298
@vkostyukov, yeah, that looks like a bug. Seems we should fix Netty.

It [looks like](https://github.com/netty/netty/blob/942b993/codec-http/src/main/java/io/netty/handler/codec/http/DefaultHttpHeaders.java#L356) Netty is missing quite a bit of punctuation and virtually all the control characters (yet prohibits obs-text). I did check, the [HTTP parser](https://github.com/netty/netty/blob/401b196/c

[2018-09-19 21:10] vkostyukov commented on #8298
@ejona86 With all my passion to fixing things that are broken, I'm somewhat skeptical we could pull this sizable behavior change in Netty, at least in 4.x. We're (Finagle) still getting beaten by Netty 3 allowing null-characters in header names today, after completing the Netty 3 -> Netty 4 migration nearly 2 years ago.

Perhaps a compromise, to allow users (us) to override the behavior via a cust

[2018-09-20 03:09] swrdlgc opened #8299 "Infinite loop in JdkZlibEncoder.deflate()"
<pre>
private void deflate(ByteBuf out) {
    int numBytes;
    do {
        int writerIndex = out.writerIndex();
        numBytes = deflater.deflate(
                out.array(), out.arrayOffset() + writerIndex, out.writableBytes(), Deflater.SYNC_FLUSH);
        out.writerIndex(writerIndex + numBytes);
    } while (numBytes > 0);
}
</pre>
if out.writableBytes() is ZERO and numBytes>0, the functio

[2018-09-20 03:26] normanmaurer commented on #8299
Are you interested in providing a PR?

[2018-09-20 03:54] shanbhagsv opened #8300 "LEAK: ByteBuf.release() was not called before it's garbage-collected. Enable advanced leak reporting to find out where the leak occurred. To enable advanced leak reporting, specify the JVM option '-Dio.netty.leakDetection.level=advanced' or call ResourceLeakDetector.setLevel() See http://netty.io/wiki/reference-counted-objects.html for more information."
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-09-20 03:58] shanbhagsv commented on #8300
Stack Trace
Created at:
	io.netty.buffer.UnpooledByteBufAllocator.newDirectBuffer(UnpooledByteBufAllocator.java:55)
	io.netty.buffer.AbstractByteBufAllocator.directBuffer(AbstractByteBufAllocator.java:155)
	io.netty.buffer.AbstractByteBufAllocator.directBuffer(AbstractByteBufAllocator.java:146)
	io.netty.buffer.AbstractByteBufAllocator.buffer(AbstractByteBufAllocator.java:83)
	io.netty.handler.ssl

[2018-09-20 13:57] normanmaurer commented on #8299
@swrdlgc

[2018-09-20 21:01] mingyu89 opened #8302 "Deadlock caused race between adding SslHandler and disconnecting a channel"
Hello, we were using Netty version 4.0.41 and almost all our threads were blocked at "wakeup" method. It seems a deadlock between adding a handler and destroy the pipeline.

[code]
Is this a known issue? We recently upgraded to use Netty version 4.1.28. Is it fixed?
Thank you.

[2018-09-20 22:45] normanmaurer commented on #8302
I remember we fixed some deadlocks when doing pipeline operations. So I think it should be fixed. If not please re-open

[2018-09-20 22:45] #8302 closed

[2018-09-21 00:18] ejona86 commented on #8298
@normanmaurer, @Scottmitch, thoughts? It looks like Netty is permitting characters disallowed by all the HTTP specs, but it's been broken for a while...

[2018-09-21 08:32] enricosecondulfo opened #8303 "Mqtt v5 support"
Hello guys,
thanks for the great work. I'd like to know, if it's possible,  if and when support for version 5 of mqtt will be introduced.

Thanks

[2018-09-21 08:41] slandelle commented on #8303
Dup of #6285.
I'm afraid Netty core committers team lacks an MQTT expert for reviewing #7342.

[2018-09-21 08:47] enricosecondulfo commented on #8303
Thank you very much for the quick reply

[2018-09-21 08:50] slandelle commented on #8303
That's just my personal opinion here, I'm not a committer.

[2018-09-21 15:12] normanmaurer commented on #8299
@swrdlgc actually this can never happen as `deflate(...)` will return the number of bytes written to the output buffer which will be 0 if it was not writable.

[2018-09-21 15:12] #8299 closed

[2018-09-21 15:26] normanmaurer commented on #8299
The good thing is because of this bug report I think I spotted a bug which is unrelated to the reported problem tho ;)

[2018-09-21 18:06] mingyu89 commented on #8302
@normanmaurer Thank you!

[2018-09-21 23:45] prakash-premkumar opened #8306 "Netty Epoll Bug occurs again (WorkAround Not working)"
I'm using Netty 4.1.29.Final.
Java Version  1.8.0_181-b13
Amazon AMI Linux 4.9.119-44.140.amzn1.x86_64 (2017.09)

I' using lafaspot imapnio client which uses netty. [(https://github.com/lafaspot/imapnio)]
I'm running my Java App in Tomcat 8.5.29.

I get the following exception while shutting down the tomcat server.
The NIO threads are not being killed, causing a memory leak.

 sun.nio.ch.EPollArra

[2018-09-22 17:28] normanmaurer commented on #8306
That’s strange... can you share a reproducer with me that I can run ?

[2018-09-22 17:30] prakash-premkumar commented on #8306
May I know what you mean by reproducer ? It's actually a web app where netty runs inside tomcat.
Which snippet of the code do you want to see ?

[2018-09-22 17:36] normanmaurer commented on #8306
I want you to create a small app that reproduces it that I can run myself

[2018-09-22 17:39] prakash-premkumar commented on #8306
Okay. I will write it up and post it here !

[2018-09-23 04:47] hc-codersatlas commented on #8003
Sorry for the delay, it's in jdk.internal.misc.Unsafe class

[2018-09-23 09:45] andsel commented on #8303
Hi guys, I'm the promoter of that PR, it's still there for one year and half :-( probably it has to be updated to the MQTTv5 is GA and Moqsuitto and Paho are updated to it (or is updating to it)

[2018-09-23 11:13] arukshani opened #8309 "HTTP/2 over TLS example throws an exception"
I was following HTTP/2 hello world sample and I get the following exception
[code]

Curl output is as follows
`curl -k -v --http2 https://localhost:9090
* Rebuilt URL to: https://localhost:9090/
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to localhost (127.0.0.1) port 9090 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!

[2018-09-23 14:14] arukshani commented on #8309
Closing this since I was able to get this working by adding the proper netty-tcnative dependency.

[2018-09-23 14:14] #8309 closed

[2018-09-24 01:58] houbic opened #8310 "Netty create temp file and add deleteOnExitHook hit memory leak"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-09-24 02:04] houbic commented on #8310
I use netty to develop an HTTP server, netty will create temp file if request body over setting size when decode.But netty will create temp file  add path to DeleteOnExitHook, it will hit memory leak.

Netty code:

/**
     * @return a new Temp File from getDiskFilename(), default prefix, postfix and baseDirectory
     */
    private File tempFile() throws IOException {
        String newpostfix;

[2018-09-24 10:03] normanmaurer commented on #8310
@houbic which class is this from ?

[2018-09-24 12:28] hepin1989 commented on #8007
@normanmaurer Should this be closed too?

[2018-09-24 13:49] hepin1989 commented on #5430
IIRC ,ByteBuf was interface and changed to abstract class for performance boost.

[2018-09-24 20:16] jarmoni opened #8311 "Netty cannot handle encrypted (pkcs8-) private-key"
### Expected behavior
Private-Key should be be decrypted properly.
### Actual behavior
Using an encrypted private-key throws:
[code]
Unencrypted private-key works fine.
I tested the key in several (non-Java-) applications (Nginx, Mosquitto, ...) and it worked well.
### Steps to reproduce
See below
### Minimal yet complete reproducer code (or URL to code)
[code]
[code]

### Netty version
4.1.29.Fin

[2018-09-24 20:38] jarmoni commented on #8311
It seems that the real problem is not on Netty's but on JDK's side. I know, Java and TLS is sometimes a bit weird... Is there a workaround? In my current project unencrypted PK's are no option....

[2018-09-24 22:28] sudheerv opened #8312 "Netty's HTTP Decoder doesn't seem to allow CRLF in the HTTP Request line."
### Expected behavior

Per RFC 7230 (https://tools.ietf.org/html/rfc7230#section-3.1.1) CRLF (\r\n) included in the Request Line should be honored.

request-line   = method SP request-target SP HTTP-version CRLF

For e.g.

GET / HTTP/1.1 \r\n

### Actual behavior

It seems like Netty's HTTP decoder is throwing an IllegalArgumentException (invalid HTTP version) when CRLF is included.

### Steps to

[2018-09-24 22:31] sudheerv commented on #8312
https://github.com/netty/netty/blob/00afb19d7a37de21b35ce4f6cb3fa7f74809f2ab/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectDecoder.java#L212

*splitInitialLine* doesn't seem to exclude CRLF in parsing the request line.

Wondering if there's a reason for not honoring CRLF or am I mis interpreting something.

[2018-09-24 23:37] prakash-premkumar commented on #8306
@normanmaurer  , Unfortunately, I will not be able to share the reproducer with you, since it invloves some proprietary code.

Tomcat is being shutdown although, it complains of failure to stop threads. Will there by any memory leak in this case ?

Is there a way to fix this problem ?

[2018-09-25 05:28] Dom-Wang opened #8313 "How do I unbind a server socket once I call bind()?"

[2018-09-25 06:06] normanmaurer commented on #8313
@Dom-Wang this is an issue tracker... please use stack overflow for question.

That said just use `channel.close()`

[2018-09-25 06:06] #8313 closed

[2018-09-25 06:12] Dom-Wang commented on #8313
It's just a connection close, but the port that socket bind is still listening,

[2018-09-25 06:14] normanmaurer commented on #8313
No if you call close on the Channel returned from bind it will close the listing socket. Just remember its an async method call so it will only completed after the `ChannelFuture` was completed.

[2018-09-25 06:33] Dom-Wang commented on #8313
OK, thanks, I will have a try

[2018-09-25 07:19] Dom-Wang commented on #8313
I have a try as you said, my issue gets fix.
Thank you very much, Norman.

[2018-09-25 10:18] arukshani commented on #7101
I ran into the same issue. Would be great if this can be updated here. https://netty.io/wiki/developer-guide.html#checklist

[2018-09-25 10:54] mrniko commented on #8261
@normanmaurer

Could this error https://github.com/redisson/redisson/issues/1646 related to this issue either?

[2018-09-25 11:06] normanmaurer commented on #8261
@johnjaylward @utsavchanda any more details ?

[2018-09-25 14:15] johnjaylward commented on #8261
I don't at this time. I was mainly looking at upgrading the libraries as part of a larger task and have since put down the upgrade due to this issue and moved onto the rest of the task. I'm not sure when I'll have time to investigate it further.

[2018-09-25 17:58] normanmaurer commented on #8261
Sorry but without more infos I suspect I will not be able to help :(

[2018-09-25 18:00] normanmaurer commented on #8311
@jarmoni .p12 definitely works (encrypted and unencrypted). We even use it in tests.

[2018-09-25 18:00] #8311 closed

[2018-09-25 18:38] sazbad opened #8317 "Memory Leak: Netty UsedMemory does not go down when sending large HTTP messages"
### Expected behavior
No Memory leak for sending large HTTP messages

### Actual behavior
Recently, we came to a situation where our app is going OutOfDirectMemory under load.

"io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 65536 byte(s) of direct memory (used: 3129351, max: 3145728)
	at io.netty.util.internal.PlatformDependent.incrementMemoryCounter(PlatformDependent.java:640)

[2018-09-25 19:00] normanmaurer commented on #8317
@sazbad I think that has more to do with the fact of using multiple threads and how the `PooledByteBufAllocator` works. Can you just use `NioEventLoopGroup(1)` and try again ?

[2018-09-25 19:15] sazbad commented on #8317
Sorry, did you mean to say "use NioEventLoopGroup()" instead? Anyway, I tried without thread and with thread and the result is the same. The usedMemory keep going up as soon as OutOfDirectMemory is hit.

[2018-09-25 19:19] normanmaurer commented on #8317
@sazbad yes with `new NioEventLoopGroup(1)`. Also I suspect the memory is just not returned to the system as the `PooledByteBufAllocator` is used which will allocate in chunks and not return the first allocation (to reduce pressure). Can you also try to use `UnpooledByteBufAllocator` ? From what I see it works as expected

[2018-09-25 19:27] sazbad commented on #8317
Ok, I have used -Dio.netty.allocator.type=unpooled in the sample netty server and the behavior remains the same. The usedMemory keeps piling up.

[2018-09-25 21:13] sudheerv commented on #8312
Additional Reference:

https://httpwg.org/specs/rfc7230.html#rfc.section.3.5

In the interest of robustness, a server that is expecting to receive and parse a request-line SHOULD ignore at least one empty line (CRLF) received prior to the request-line.

_Although the line terminator for the start-line and header fields is the sequence CRLF, a recipient MAY recognize a single LF as a line terminato

[2018-09-26 01:41] swrdlgc commented on #8299
thanks for replay, you are right, this can never happen.

[2018-09-26 01:47] mattayres opened #8318 "Illegal reflective access using Netty with Java 11"
### Expected behavior
No warning about illegal reflective access.

### Actual behavior
[code]

### Steps to reproduce
Run any code that references the `DnsNameResolver` class.

### Minimal yet complete reproducer code
[code]

### Netty version
4.1.29.Final

### JVM version (e.g. `java -version`)
[code]

### OS version (e.g. `uname -a`)
[code]

[2018-09-26 08:03] normanmaurer commented on #8306
@prakash-premkumar sorry without a way to reproduce here I can not really help. For me it looks like you not correctly shutdown all the `EventLoopGroup`s.

[2018-09-26 09:14] johnou commented on #8306
`-Dio.netty.epollBugWorkaround=true` also has nothing to do with the stacktrace you pasted. How are you invoking `shutdown()`?

[2018-09-26 09:51] prakash-premkumar commented on #8306
@johnou, Thanks a lot for your reply.

I'm invoking shutdown in the contextDestroyed() of tomcat (which will be called when tomcat shuts down)

This is the shutdown method of the IMAPClient.

[code]

This is how I initialize the EventLoopGroup

[code]

[2018-09-26 10:02] johnou commented on #8306
Are you sure that you are tracking all IMAPClient instances and invoking shutdown on all of them in contextDestroyed()?

[2018-09-26 10:05] johnou commented on #8306
It's important to note that if you are terminating the JVM there won't be a memory leak. The message you are seeing is only a problem if you are redeploying webapps without shutting down Tomcat.

[2018-09-26 10:14] normanmaurer commented on #8277
@smlance @vkostyukov @johnou https://github.com/netty/netty/pull/8322

[2018-09-26 12:00] normanmaurer commented on #8312
@sudheerv I am no sure I understand you ... Are you including `\r\n` (typed) in the line ? This does not sound correct to me....

[2018-09-26 12:38] normanmaurer commented on #8317
@sazbad hmm... I tried to reproduce with current 4.1 branch but was not able to do so...  Can you check if you see the same with current 4.1 and if so create a reproducer, put it on GitHub so I can run it and be sure I do the same as you do.

[2018-09-26 13:10] normanmaurer commented on #8317
@sazbad the only "issue" I can think of atm is this:

https://github.com/netty/netty/pull/8325

[2018-09-26 13:49] sudheerv commented on #8312
@normanmaurer

Thanks for the response. yes, I’m including <\r\n> appended at the end of the request line (after <HTTP/1.1>).

We ran into this while setting up an AWS NLB to in our production environment. The HTTP based Health checks performed by AWS NLB seems to include those extra CRLF in the request line. Reading the RFC 7230, it seems like CRLF should be valid in the request line (references

[2018-09-26 13:52] normanmaurer commented on #8312
Hmm \r\n as a carriage return yes but as typed directly I don’t think so

[2018-09-26 15:19] sudheerv commented on #8312
Hmm..just to clarify the health check from the NLB is not including <\r\n> as 4 ASCII characters '\' 'r' '\' 'n'). It is including them as 2 control characters 0x0D (for CR) 0x0A (for LF). And that seems to be failing.

[2018-09-26 16:35] normanmaurer commented on #8312
@sudheerv ah ok... then I misunderstood you... Are you interested in providing a PR for this ?

[2018-09-26 16:35] #8312 closed

[2018-09-26 17:17] sudheerv commented on #8312
@normanmaurer Yeah, reading back my description, I could tell it was somewhat misleading. Sorry for the confusion. Yeah, I'll dig in some more to confirm there is nothing else strange in the NLB's health check request and then will provide a PR if needed. (Sorry to open an issue to just ask a somewhat random question like this, but, I didn't know how else to contact you). Thanks!

[2018-09-26 17:35] sazbad commented on #8317
Here is the reproducer project

https://github.com/sazbad/nettyleaker

[2018-09-26 18:55] #8318 closed

[2018-09-26 21:04] smlance commented on #8298
Pinging this again in case it fell through the cracks: @ejona86, @normanmaurer, @Scottmitch

[2018-09-26 21:46] lakeskysea commented on #8298
+1 would love to see this happen

[2018-09-27 06:51] normanmaurer commented on #8312
@sudheerv ah good it :) Not sure if this is of any interest for you but we also support proxy protocol: https://github.com/netty/netty/tree/4.1/codec-haproxy

[2018-09-27 06:53] normanmaurer commented on #8298
@vkostyukov @smlance @ejona86 I would be totally up for allowing to pass in a validator but I am not strong on it... About fixing the parser I am not sure... maybe we could do it by adding a new "strict" mode. I am a bit afraid if we just fix it it may break things for users in an unexpected way.

[2018-09-27 07:12] normanmaurer commented on #8300
You will need to share your code to help you further. That said you most likely forgot to call `release()` on a `ReferenceCounted` object.

See
https://github.com/netty/netty/wiki/Reference-counted-objects

[2018-09-27 09:14] liuhanjim opened #8328 "endless loop"
### Netty version（4.1.23.Final-SNAPSHOT）
![image](https://user-images.githubusercontent.com/11403678/46135512-f610e800-c277-11e8-953b-61cbb6ba9fa5.png)
it in io.netty.util.Recycler.Head.run(), I think it will endless loop!

[2018-09-27 09:14] normanmaurer commented on #8328
@liuhanjim this was reported before and was fixed. Update to latest 4.1.x release (4.1.29.Final).

[2018-09-27 09:14] #8328 closed

[2018-09-27 09:19] liuhanjim commented on #8328
thanks

[2018-09-27 14:06] ejona86 commented on #8298
I'm fine with adding a new strict mode. I don't want to add a validator if the primary use-case is to make Netty conform to the HTTP spec, as then that logic needs to be copied into each application.

[2018-09-27 15:44] vkostyukov commented on #8298
I like the strict mode idea. As long as users would be able to opt-in for "more valid" headers (either by writing their own validator or switching over to strict) I'm happy.

[2018-09-27 16:27] MikeBlink opened #8329 "java.lang.ClassCastException: io.netty.bootstrap.FailedChannel cannot be cast to io.netty.channel.socket.DatagramChannel"
### Expected behavior

Some kind of information about underlying issue.

### Actual behavior

Class cast exception is being thrown from the DnsNameResolver as it's trying to hard cast a FailedChannel to DatagramChannel.

### Steps to reproduce

Not sure, what I'm doing is using a library that utilises Netty underneath (Redisson). It's trying to open a connection to localhost redis instance, but be

[2018-09-27 16:39] sudheerv commented on #8312
@normanmaurer Thanks! Yeah, we do already support PPV1 and PPV2 in Zuul using Netty's HAProxy decoders. This was a problem caused by receiving unexpected PPV2 packets on the ports setup for processing Health Check (which were not configured with the appropriate channel handlers that handle the PP octets).

[2018-09-27 16:44] normanmaurer commented on #8329
Was fixed and will be in 4.1.30.Final https://github.com/netty/netty/pull/8280. That said it only happens if there is something wrong during registration which is a bit unexpected.

[2018-09-27 16:44] #8329 closed

[2018-09-27 17:16] benishak opened #8330 "IllegalStateException Vertx with OpenJDK 11"
I'm using latest version of Vert.x 3.5.x
and compiled successfully my application with OpenJDK 11+28

My application start fine but as soon Vert.x received a request it shows that warning and the whole Vertx server get restarted and returns Server Internal Error

Same code runs fine when compiled and run with Java 8 (Oracle)

### Expected behavior
Should be able to register channel

### Actual beh

[2018-09-27 17:18] normanmaurer commented on #8330
@benishak this is thrown in Vert.x you need to open an issue there:

[code]

[2018-09-27 17:21] benishak commented on #8330
it is thrown in Vertx but it is originating from Netty
Vertx just caught it and logged it as warning
or am I missing something?

[2018-09-27 17:30] normanmaurer commented on #8330
@benishak its thrown from vertx code which is called from netty code:

[code]

So it must be a vert.x bug in `VertxEventLoopGroup.next`

[2018-09-27 17:32] benishak commented on #8330
ok thanks

[2018-09-27 17:53] rkapsi opened #8331 "EpollSocketChannelConfig is repeating the channel field 3x"
The`EpollSocketChannelConfig` class is repeating the `channel` field 3x through inheritance. The field has also protected and package-private visibility in the super classes which is potentially bug-prone.

![screenshot from 2018-09-27 13-46-22](https://user-images.githubusercontent.com/191635/46164564-542fd200-c25c-11e8-988b-0fa7f3d14eea.png)

### Expected behavior

### Actual behavior

### Steps

[2018-09-27 18:04] normanmaurer commented on #8331
@rkapsi doh... Want to send over a pr ?

[2018-09-27 20:11] rkapsi commented on #8331
@normanmaurer consider it done (hopefully tomorrow morning)

[2018-09-28 07:19] #6664 closed

[2018-09-28 08:14] #8330 closed

[2018-09-28 09:51] houbic commented on #8310
https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/multipart/AbstractDiskHttpData.java

This class, could you review it please?Thanks!

[2018-09-28 14:00] slandelle opened #8334 "Make DnsNameResolver constructor public again"
### Expected behavior

DnsNameResolver can be extended.

### Actual behavior

Since 4.0.30, non-deprecated constructor is now package protected.

### Netty version

4.0.30.Final

[2018-09-28 14:05] normanmaurer commented on #8334
@slandelle why exactly you need to extend it ? I would have hoped we can remove all the public constructors at some point as it just take so many args.

[2018-09-28 14:55] slandelle commented on #8334
I have a pluggable resolve cache logic, so I extend DnsNameResolver so I can plug onto `doResolveAll`.

[2018-09-28 14:56] normanmaurer commented on #8334
Can you show me the code ? I would love to find a way without extending

[2018-09-28 15:02] slandelle commented on #8334
* https://github.com/gatling/gatling/blob/master/gatling-http/src/main/scala/io/gatling/http/resolver/ExtendedDnsNameResolver.scala
* https://github.com/gatling/gatling/blob/master/gatling-http/src/main/scala/io/gatling/http/resolver/CacheOverrideNameResolver.scala#L49

[2018-09-28 15:37] #8331 closed

[2018-09-29 08:02] wkgcass commented on #8259
+1 for 8
But most enterprise users might stick to java version <= 8 for a very long time (I guess they will not consider switching to higher version until Project Loom releases).

[2018-10-01 19:07] sazbad commented on #8317
Were you able to reproduce this issue? We are reeling from this in our production environment. Any suggestion is appreciated.

[2018-10-01 19:14] SharpMan commented on #8317
This happened to me before on a regular tcp server. I added a memory check to clear dead cached buffers on the PooledByteBufAllocator

[2018-10-01 19:57] sazbad commented on #8317
Can you elaborate more? Any example that you can share?

[2018-10-02 01:32] SharpMan commented on #8317
My case used PooledByteBufferAllocator and some codecs with Apache Mina, I don't think that my code would be relevant here. But part of the issue is here https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/PlatformDependent.java#L607-617

The OutOfDirectMemoryError is not caught here, and thus the memory counter stay set to an invalid number.

<img width="767" alt="

[2018-10-02 02:29] normanmaurer commented on #8317
I am currently on vacation so will it have time to look into it for a bit. That said the counter should only be updated if we do not cause an OOME so I am not sure why you think this is not the case
https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/PlatformDependent.java#L659

You could also just disable our usage of the internal limit and defer to the JDK in the

[2018-10-02 13:48] swoky opened #8336 "set localaddress on DnsNameResolver"
### Expected behavior
my computer has two ethernet cards, so what's the right way to specify an ethernet card when i do dns query ?

### Actual behavior

no localAddress(......) method  found on DnsNameResolverBuilder

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.30
### JVM version (e.g. `java -version`)
jdk8
### OS version (e.g. `uname -

[2018-10-03 10:39] tsbonev opened #8337 "Netty crashes when used by google cloud's logback"
### Expected behavior
Logback to call netty and make a connection with a google service account in order to send a log.

### Actual behavior
JRE crashes.

### Steps to reproduce
Create a google ServiceAccountCredentials

### Minimal yet complete reproducer code (or URL to code)
https://gist.github.com/tsbonev/1b2dcd1023e0178b9e995b0533d202a4

error:
https://gist.github.com/tsbonev/39de9ad8d786a307

[2018-10-03 10:49] normanmaurer commented on #8337
Please show the crash dump / stacktrace

[2018-10-03 10:53] tsbonev commented on #8337
Crash stacktrace:
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fe477a014c0, pid=3581, tid=0x00007fe4aee96700
#
# JRE version: OpenJDK Runtime Environment (8.0_181-b13) (build 1.8.0_181-8u181-b13-0ubuntu0.16.04.1-b13)
# Java VM: OpenJDK 64-Bit Server VM (25.181-b13 mixed mode linux-amd64 compressed oops)
# Problematic frame:
# C  0x00007fe477a

[2018-10-03 11:01] tsbonev commented on #8337
I've provided the hs_err log in the gist link after "error:"

[2018-10-03 11:06] normanmaurer commented on #8337
Looks like a shading issue to me... @ejona86 can you check?

[2018-10-03 13:27] tsbonev commented on #8337
Tracking it down with the debugger leads to a check in a class named Library, package io.grpc.netty.shaded.io.netty.internal.tcnative.

There's an if check in the initialize() method that uses aprMajorVersion() and it cannot get past that without crashing.

[2018-10-04 12:50] mrniko commented on #8261
@normanmaurer

Here is yet another case with AWS https://github.com/redisson/redisson/issues/1486#issuecomment-426783405

[2018-10-05 08:15] doom369 commented on #8259
@normanmaurer is there any planned dates for this?

[2018-10-05 11:09] normanmaurer commented on #8259
Not yet

[2018-10-05 12:35] mrniko commented on #8261
@normanmaurer @johnjaylward

Bingo! Finally managed to reproduce the issue. Below is the test code:
[code]

MaraDNS (http://maradns.samiam.org/) running on 127.0.0.1:53
Here is the config for it https://github.com/netty/netty/files/1941275/maradns-config.zip

If server stands first in list of dns then all works fine:

Default DNS servers: [/127.0.0.1:53, /8.8.8.8:53, /87.98.175.85:53, /51.254.25.1

[2018-10-05 12:45] normanmaurer commented on #8261
Will check once back at work

[2018-10-05 12:47] mrniko opened #8341 "set log level to INFO for Default DNS servers output of DefaultDnsServerAddressStreamProvider"
### Expected behavior
`Default DNS servers` printed with log level INFO
### Actual behavior
`Default DNS servers` printed with log level DEBUG
### Netty version
4.1.30.Final

This would help to realize which dns servers currently used by netty.

[2018-10-05 15:51] rmohta opened #8342 "Performance: Netty HTTP/1.1 and HTTPS/2 server in one or two cpu Docker container"
### Expected behavior

**I would have expected 95 and 99 percentile latency to be around 600 microsecond, and always less than 1ms.**

### Actual behavior
Running multiple tests shows similar latency when running Netty server with one cpu, and EPoll available.

[code]
### Steps to reproduce
I have a simple microservice that exposes */health* end point, and always returns the below response. JSON o

[2018-10-05 17:02] rmohta commented on #8342
Another related question, how does IO ratio impact task execution? If I have a separate thread that is 100% IO, would that be good or bad for ChannelPipeline execution?

[code]

[2018-10-05 17:24] caorong opened #8343 "WriteBufferWaterMark's TOTAL_PENDING_SIZE_UPDATER leak when limit the io.netty.eventexecutor.maxPendingTasks(taskQueue) size."
### Expected behavior

In production env, we meet huge small request need to writeAndFlush, in order to avoid oom, reduce large memory to old area, and limit the network flow.

I both set `System.setProperty("io.netty.eventLoop.maxPendingTasks", "2048");`  and

`bootstrap.option(ChannelOption.WRITE_BUFFER_WATER_MARK, new WriteBufferWaterMark(8 * 1024 , 32 *  1024));`

but I found that, someTime, w

[2018-10-06 08:05] mrniko commented on #8261
@normanmaurer

Here is workaround I implemented in Redisson
https://github.com/redisson/redisson/commit/14eeed15f6b7b508dd206d40dec7c80377e6c9db

[2018-10-06 08:15] normanmaurer commented on #8261
So you basically create one resolver per dns server address and try all of them before fail the query ?

[2018-10-06 08:17] mrniko commented on #8261
@normanmaurer

That's correct

[2018-10-06 09:08] mosesn commented on #8259
+1 from us too.

[2018-10-09 09:30] ldclakmal opened #8345 "Netty HTTP/2 OutOfDirectMemoryError"
### Description
It is observed that following OOM error get occurred when testing with a load test with HTTP/2 connection. Load test is done with the following setup.

_Jmeter HTTP1 Client -> HTTP2 passthrough service -> HTTP2 service._

This issue get occurred after 30 mins of run with 100 concurrency in average throughput of 3000/sec.

[code]

### Steps to reproduce
Original issue is reported at

[2018-10-09 18:46] cipri7329 opened #8346 "json body not decoded correctly"
### Expected behavior
my request is the following

[code]

I expect the get the content from the Request on the server side the complete json.
Scala code
[code]

I expect the requestBody to be
[code]
### Actual behavior
The actual requestBody is an incomplete JSON string
[code]

### Steps to reproduce
see above CURL command
### Minimal yet complete reproducer code (or URL to code)
see above CURL c

[2018-10-10 08:18] quaff commented on #4671
I'm not opposed to produce empty netty-all.jar for maven repository, but a dedicated netty-all.jar is necessary for downloading at somewhere like github releases, some people or some projects manage dependence manually.

[2018-10-10 18:44] steveniemitz commented on #8337
I've run into this as well, interestingly enough I can only reproduce it in google dataflow (which sadly makes this way harder to debug), not on my own servers (or locally).  I initially thought it might be the JVM version, but I've tried it on 1.8.0_181 locally as well and couldn't reproduce the crash.

I'm using gRPC 1.13.2 (not shaded!), netty 4.1.28, and tcnative 2.0.12.  As far as I can tell

[2018-10-11 07:01] normanmaurer commented on #8346
Sorry but 3.x is EOL for a long time (over a year).

[2018-10-11 07:01] #8346 closed

[2018-10-11 07:03] normanmaurer commented on #8343
@caorong good catch... let me fix it.

[2018-10-11 07:34] normanmaurer commented on #8337
@steveniemitz can you share your dependency graph and the core dump ?

[2018-10-11 09:43] simonbasle opened #8348 "epoll_wait produces an EINVAL error since 4.1.30"
### Expected behavior
epoll_wait should work in 4.1.30 like it did in 4.1.29

### Actual behavior
Since switching to 4.1.30, `EpollEventLoop`'s `handleLoopException` is triggered with
 `io.netty.channel.ChannelException: timerfd_settime() failed: Invalid argument`, which points to `timerfd_settime`. This causes an epoll thread to be "blocked" sleeping.

The issue is visible in a Spring Boot test d

[2018-10-11 09:48] wilkinsona commented on #8348
I can fill in some of the blanks about the environment where we've seen the issue:

### JVM version (e.g. java -version)

[code]

### OS version (e.g. name -a)

[code]

[2018-10-11 09:54] normanmaurer commented on #8348
@wilkinsona this sounds right... would you be able to submit a PR to fix it with a unit test included.

/cc @simonbasle

Also @carl-mastrangelo as he did the pr...

[2018-10-11 09:57] simonbasle commented on #8348
I'm releasing reactor-netty today and will submit a PR for the fix right after, once I got a Linux VM set up to reproduce and verify the fix

[2018-10-11 09:58] normanmaurer commented on #8348
@simonbasle thanks a lot!

[2018-10-11 09:58] johnou commented on #8348
@simonbasle I can lend a hand, stamdby.

[2018-10-11 10:12] johnou commented on #8348
@normanmaurer there's something funky with the caught exception, IDE doesn't show anything, and when you try and access it, it throws another exception..

[2018-10-11 10:13] johnou commented on #8348
![screenshot from 2018-10-11 12-13-30](https://user-images.githubusercontent.com/323497/46797313-20ba7080-cd4f-11e8-8326-ae7d34081c25.png)

[2018-10-11 10:16] johnou commented on #8348
oh wait it uses the compiled class from the jar iirc, need to reinstall the artifact each time changes are made for the debugger to work correctly.

[2018-10-11 10:49] normanmaurer commented on #8343
@caorong PTAL https://github.com/netty/netty/pull/8349

[2018-10-11 10:50] normanmaurer commented on #8345
@ldclakmal you will need to provide more informations... This may be the result of not correctly implementing back-pressure (a.k.a writing too fast). Also please note that 4.1.19.Final is really old so you should upgrade as well.

[2018-10-11 10:51] normanmaurer commented on #8341
@mrniko actually I am not sure if this is really something we want to change. IMHO it really belongs to debug level. @Scottmitch @trustin @carl-mastrangelo @ejona86 @bryce-anderson WDYT ?

[2018-10-11 10:59] johnou commented on #8348
Created PR https://github.com/netty/netty/pull/8350 but unit test isn't working as expected..

[2018-10-11 11:17] normanmaurer commented on #8336
@swoky there is currently no way... but I suspect we could allow this.

[2018-10-11 11:36] trustin commented on #8341
+1 for DEBUG. As a library, I'd like to keep non-DEBUG messages minimal.

[2018-10-11 11:43] ldclakmal commented on #8345
@normanmaurer Thanks for your response.

This is the setup of the load test scenario.
**Jmeter HTTP1 Client  ->  HTTP2 passthrough service  ->  HTTP2 service.**

In this case, there is a HTTP/1.1 connection between the _'Jmeter HTTP1 Client'_  and _'HTTP2 passthrough service'_. There is a HTTP/2 connection between the _'HTTP2 passthrough service'_ and _'HTTP2 service'_.

_'HTTP2 servic'e_ doesn't

[2018-10-11 15:02] ejona86 commented on #8341
+1 for DEBUG.

[2018-10-11 16:21] steveniemitz commented on #8337
hmm, I can get you the log, the core dump might be trickier since there'll be some proprietary stuff in there.  Lemme see if I can craft up a repro case that has less "stuff" in it.

Also I opened a case with Beam, I'm trying to figure out which version of tcnative they're bundling with their dataflow image.

My current theory looks something like this:
- We load the 2.0.12 tcnative jar from our c

[2018-10-11 16:37] normanmaurer commented on #8261
@mrniko ok I just returned from vacation and looking at this again... I am still trying to wrap my head around this.

From my understanding of the logs what we do is correct. The nameservers we query first returns `NXDOMAIN` which indicates that the domain does not exist and so we bail out. I need to check what exactly the JDK implementation does tho. But from my understanding this is a "sane thin

[2018-10-11 16:42] normanmaurer commented on #8341
Ok let me close as "won't fix" then

[2018-10-11 16:42] #8341 closed

[2018-10-11 16:42] caorong commented on #8343
thanks to fix this!

[2018-10-11 16:42] normanmaurer commented on #8285
@doribd please share the stack trace..

[2018-10-11 16:43] normanmaurer commented on #8279
@rhenwood-arm any update ?

[2018-10-11 16:43] normanmaurer commented on #8276
@vkostyukov any update ?

[2018-10-11 16:44] normanmaurer commented on #8287
Closing this as no follow was provided.

[2018-10-11 16:44] #8287 closed

[2018-10-11 16:45] normanmaurer commented on #8306
Sorry but without a reproducer I can run I will not be able to help any further. As explained before I think you miss to call shutdown in some cases. Please re-open with more details if you still think there is a bug.

And yes if you restart tomcat there will be no leak

[2018-10-11 16:45] #8306 closed

[2018-10-11 16:45] normanmaurer commented on #8278
@vkostyukov did you find out anything ?

[2018-10-11 16:46] #8343 closed

[2018-10-11 16:48] normanmaurer commented on #8348
@simonbasle @wilkinsona could you verify https://github.com/netty/netty/pull/8350 ?

[2018-10-11 17:02] johnjaylward commented on #8261
Hmm, no, that is the opposite of what you want to do. By bailing early you are preventing any internal/private domains from ever resolving. That's the entire point of allowing multiple resolvers, if one fails or can't find the domain, you try others. Not every domain name or sub domain is on a public resolver. If 8.8.8.8 returns first with "no result" and that's the only result you use, then priva

[2018-10-11 17:14] trustin commented on #8261
I'm curious if there is any RFC section that tells us what to do in this case, i.e. try other name server on NXDOMAIN. Such a behavior would increase the load on secondary name server and total lookup time for a non-existent domain name, and it doesn't sound like a good idea to me.

[2018-10-11 17:28] normanmaurer commented on #8261
@mrniko sure we could but I would first like to better understand the whole thing before adding anything. Thats why I want to do more research here before taking any action

[2018-10-11 17:28] trustin commented on #8261
13 years ago: https://bugzilla.redhat.com/show_bug.cgi?id=160914#c6

[2018-10-11 17:32] johnjaylward commented on #8261
I know what you mean, but the entire point of private domains is that a public query would return NXDOMAIN.

Here's my setup:
* Ethernet connection: IP Address in the 192.168.55.X single DNS Resolver at 192.168.55.5
* VPN IP Address in the 10.X.X.X range, Primary DNS 10.x.x.3 Secondary DNS 10.x.x.2

The regular ethernet connections DNS resolver is a standard recusive resolver with cache. It will n

[2018-10-11 17:32] trustin commented on #8261
The case of musl resolver (this year) https://github.com/gliderlabs/docker-alpine/issues/402

[2018-10-11 17:35] normanmaurer commented on #8261
@trustin thanks for digging these up...  This is also interesting : https://bugzilla.redhat.com/show_bug.cgi?id=162625

@johnjaylward just to confirm all works when you use the JDK based resolver with netty tho ?

[2018-10-11 17:36] trustin commented on #8261
When you are connected to VPN, the VPN software should update the resolve.conf so that only the internal DNS servers are used. On disconnection, the VPN software should update the resolve.conf again back to the public DNS servers. You should not mix public and internal DNS server. If you would, you have to put the private ones *before* the public ones.

Is your VPN connection established *after* y

[2018-10-11 17:38] normanmaurer commented on #8261
@trustin yeah I wonder if the problem is that we not "watch" for updates of resolve.conf and so may get into trouble when it is altered afterwards.

[2018-10-11 17:39] normanmaurer commented on #8261
@trustin as far as I know the JDK implementation does have a background thread that takes care of taking updates into account.

[2018-10-11 17:39] johnjaylward commented on #8261
@normanmaurer correct. It was working fine in the old version of Redisson that was using the JDK resolver. It wasn't until the switch to the Netty resolver that it became an issue.

Also, this is running from windows. There is no resolve.conf. Windows binds the DNS resolver configurations to the interfaces, so the standard Ethernet connection keeps it's resolver, and the new VPN connection gets it

[2018-10-11 17:40] normanmaurer commented on #8261
@johnjaylward you should be able to verify by using Wireshark here and see what resolvers it uses.

[2018-10-11 17:41] trustin commented on #8261
I guess this is when the first server disallows a recursive query.

[2018-10-11 17:45] trustin commented on #8261
This comment explains the difference between glibc and Windows resolver: https://bugzilla.redhat.com/show_bug.cgi?id=160914#c5

[2018-10-11 17:47] normanmaurer commented on #8261
Also I checked the JDK impl again and it reloads the dns server config from time to time. We may should do the same...

[2018-10-11 17:53] trustin commented on #8261
Given that JDK uses OS's native resolver, it makes sense that @johnjaylward is seeing different behavior between JDK and Netty resolver on Windows. However, the original report mentions that this issue appears on OS X and Linux as well. Could someone confirm if it really affects OS X and Linux?

I'm curious if we should tune our resolver so it matches the behavior of the Windows resolver, although

[2018-10-11 18:00] johnjaylward commented on #8261
@trustin the initial report may have been misleading. My development machine I saw this issue on is Windows. The final application runs on Ubuntu and CentOS, but I did not get to testing that far down the cycle since it was failing in DEV.

[2018-10-11 18:02] johnjaylward commented on #8261
TBH though, I don't expect this to every be an issue in **my** production environments since there is no VPN there, and the only DNS resolvers configured are the company owned ones. I'm not sure I have a linux machine available I can test this on myself.

[2018-10-11 18:11] johnjaylward commented on #8261
Also, here's a good explanation of the Windows resolver path: https://serverfault.com/questions/84291/how-does-windows-decides-which-dns-server-to-use-when-resolving-names#84293

[2018-10-11 19:37] johnjaylward commented on #8261
So, I ran a wireshark on port 53 as suggested.

Looks like the preferred order for nslookup when using git-bash on windows is to use the VPN DNS first. It appears that the priority is correct at the OS level. I only see  queries against "default" server (since nslookup only uses a single server).

I then tested it using Firefox and it used all 3 DNS servers. It actually tried resolving against the

[2018-10-11 20:18] simonbasle commented on #8348
@normanmaurer any easier way of obtaining a snapshot of that branch other than building locally? (knowing that the issue manifested in CI)

[2018-10-11 21:33] vkostyukov commented on #8278
@normanmaurer Nope - we haven't really made any progress there yet. We've only seen this problem in our tests and were keeping an eye on complains coming from out users. Nobody really complained about slower shutdown yet thus we haven't really invested into it.

[2018-10-11 21:36] vkostyukov commented on #8276
@normanmaurer Yes - I was looking into where to expose this and the best I can come up with is concrete implementations of event-loops, `NioEventLoop`, `EpollEventLoop`.

I wish we could put this under `SingleThreadEventLoop` (by analogy with `pendingTasks`) but we don't really have access to the underlying channel-map from there. My vote would probably be start with `Nio|Epoll` classes and see ho

[2018-10-12 03:02] #8348 closed

[2018-10-12 03:13] normanmaurer commented on #8334
@slandelle I may not understand your code correctly but I wonder why you can not archive the same by just using the `DnsNameResolverBuilder` and use a `NoopDnsCache`. Can you give me some pointers ?

[2018-10-12 03:57] normanmaurer commented on #8278
k ok :)

[2018-10-12 06:04] normanmaurer commented on #8276
@vkostyukov the problem here is that `EpollEventLoop` is not public but I guess we could change this.

[2018-10-12 07:31] normanmaurer commented on #8348
@simonbasle I just pushed a snapshot with the fix included to oss.sonatype.org. 4.1.31.Final-SNAPSHOT should have it.

[2018-10-12 07:33] normanmaurer commented on #8310
@houbic when you say "hit memory leak" you mean you run out of memory because it adds the hooks ?

[2018-10-12 07:44] johnou commented on #8310
@houbic you might consider setting deleteOnExit to false, then running your own cleanup strategy on the configured tmp directory.

[2018-10-12 08:13] simonbasle commented on #8348
outstanding, thanks @normanmaurer we'll look at the snapshot to validate the fix

[2018-10-12 12:17] slandelle commented on #8334
I'm trying to have Gatling virtual users share a single DnsNameResolver instance, but with each having its own DnsCache.

So far, I'm hacking my (ugly) way and directly call doResolveAll and pass the DnsCache instance for this resolution instead of using the global one.

I can't build a wrapper that would take care of the caching logic and delegate to the DnsNameResolver because the caching logic

[2018-10-12 12:30] slandelle commented on #8334
Even if I share the same EventLoop, I'd be creating tons of channels.

[2018-10-12 12:42] normanmaurer commented on #8334
Ok so what about if you could share the Channel and EventLoop ?

[2018-10-12 12:43] slandelle commented on #8334
Also, I use my DnsCache instances to figure out if a given resolution was a cache hit or a cache miss. I need per resolution DnsCache instances to deal with concurrent resolutions with the same DnsNameResolver instance.

In an ideal world, caching and resolution would be separate concerns, with caching being a wrapper of resolution.

[2018-10-12 12:48] slandelle commented on #8334
Not sure about this: https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/DnsNameResolver.java#L408-L416

[2018-10-12 12:55] slandelle commented on #8334
The most simple solution for me would be to have resolve/resolveAll overloads that let one pass a custom DnsCache. Would that be fine with you?

[2018-10-13 10:33] sosoeo opened #8381 "new method for ByteBufUtil Expected: compare(use equal) ByteBuf with a static final byte[]"
### new method/function Expected for ByteBufUtil
I need strongly a new method in ByteBufUtil which works like this:
 boolean equals(ByteBuf a, int aStartIndex, **byte[]** b, int bStartIndex, int length)
I want to compare a ByteBuf with a static final byte array, now I without this,I have to create a new ByteBuf to hold the static final array,doesn't it?

[2018-10-13 11:02] sosoeo commented on #8381
now I have to use Unpooled wrappedBuffer to prepare a ByteBuf for later ByteBufUtil.equals():
    private static final ByteBuf heartBeatMessage =
Unpooled.wrappedBuffer(new byte[]{(byte)0x88,(byte)0x88,(byte)0x88,(byte)0x88,0x01});

is this the only or designed way?

[2018-10-14 05:11] SharpMan commented on #8317
Well the optimized code, doesn't look like to set back the Memory Counter back to its value during the occurrence of an OOME after a multiple of iterations.

[2018-10-14 05:15] normanmaurer commented on #8317
But it will break when it was able to set the new value. So as soon as it was able to update the value it breaks. Please note it use a compareAndSet here.

What I am missing ?

[2018-10-14 06:18] SharpMan commented on #8317
I tried to dig a little more over the source. It looks likes when the memory is exceeded, the channel tries to release its previous ByteBuffer(s) allocated (via ByteBuf.release()). The release fails because the ResourceLeakDetector is triggered during the release. Following the trigger, this Leak allocates memory space to also report the RessourceLeakHint which stops here.

<img width="904" alt="s

[2018-10-14 06:42] normanmaurer commented on #8317
@SharpMan at least in the latest 4.1 releases the release of the native memory happens before the close of the actual `ReleaseLeakTracker`, so this should be not the case here. Also the OOME that would happen here would be because of heap memory while in the original report was about direct memory.

[2018-10-14 06:42] normanmaurer commented on #8317
@SharpMan that said if you want to propose a change I am more then happy to review a PR with a change set.

[2018-10-14 06:54] normanmaurer commented on #8261
@trustin I am still not 100 % sure what to do about this in general but that said what you think about refresh the DNS servers / search domains on regular basis just as the JDK is doing:

http://hg.openjdk.java.net/jdk/jdk11/file/76072a077ee1/src/java.base/unix/classes/sun/net/dns/ResolverConfigurationImpl.java#l124

 ?

[2018-10-14 07:01] trustin commented on #8261
I think there are two action items:

- Refreshing the System DNS resolver configuration periodically
  - This may or may not be relevant to this issue, but we should fix this.
- Changing the behavior of our DNS resolver so that it's behavior is on par with that of the host OS.
  - This probably will fix this issue but I'm not 100% sure if it's worth fixing it given the complexity and its platform-

[2018-10-14 07:09] normanmaurer commented on #8261
Ok let me do a pr for the refresh in the meantime

[2018-10-14 18:04] yangyi438 opened #8382 "shutdownOutput may loss read ops ? just a doubt"
0, netty 4.1.19.Final
1, set the SoLinger() > 0
2, config().isAutoClose() = false
3, writeAndFlush(msg)
4, doWrite happen exception, with io  .
run  code in
io.netty.channel.AbstractChannel
line 644

Executor closeExecutor = prepareToClose()

`private void shutdownOutput(final ChannelPromise promise, Throwable cause) {
       if (!promise.setUncancellable()) {
                return;
            }

[2018-10-15 08:58] normanmaurer commented on #8381
@sosoeo yep you should just create a `ByteBuf` to compare to. You can also make it readOnly.

[2018-10-15 08:58] #8381 closed

[2018-10-15 11:31] slandelle opened #8384 "Feature request: let one pass a SecureRandom instance when building SslContext"
### Expected behavior

When spawning multiple `JdkSslContext`, it should be possible to reuse a single SecureRandom instance and save allocations.

### Actual behavior

`SslContextBuilder` won't let one pass a SecureRandom instance.
Both `JdkSslServerContext#newSSLContext` and `JdkSslClientContext#newSSLContext` pass a null random value to `SSLContext#init` that allocates a new `SecureRandom` inst

[2018-10-15 11:31] slandelle commented on #8384
@normanmaurer please let me know if I can send a PR

[2018-10-15 12:06] normanmaurer commented on #8384
@slandelle I wonder if you would not be better of to just create your `SSLContext` (the java one) directly and then construct the JdkSslContext from it ?

[2018-10-15 12:18] slandelle commented on #8384
Oh right, I didn't notice you were keeping the `JdkSslContext` constructor public.
Yes, that would work for me, thanks!

[2018-10-15 14:06] slandelle commented on #8384
Actually, the "full" constructor is package protected, so there's no way to pass my own `SSLContext` and disable old protocols such as SSLv3.

[2018-10-15 14:32] normanmaurer commented on #8384
@slandelle what about adding another public constructor that allows this ?  Also in the meantime you can also just wrap the `JdkSslContext` that you created via a `DelegatingSslContext` and override `initEngine` where you can just set the protocols etc.

[2018-10-15 18:29] normanmaurer commented on #8285
Closing due of lack of response

[2018-10-15 18:29] #8285 closed

[2018-10-15 18:30] normanmaurer commented on #8279
@rhenwood-arm ping

[2018-10-15 18:32] normanmaurer commented on #8132
I dont think so... if the user requests renegotiation but the protocol does not allow it it should fail (which it does atm).

[2018-10-15 18:32] #8132 closed

[2018-10-15 18:32] normanmaurer commented on #8199
@selop ping

[2018-10-15 18:34] normanmaurer commented on #8068
@trustin @ejona86 @carl-mastrangelo @Scottmitch ping...

[2018-10-15 18:35] normanmaurer commented on #7838
@Vampire we would love a PR for documentation on all of this... That said I think it even works without all of this atm.

[2018-10-15 18:36] normanmaurer commented on #7754
Its not clear yet why this would be useful. Closing this issue

[2018-10-15 18:36] #7754 closed

[2018-10-15 22:59] carl-mastrangelo commented on #8068
Looks like a typo.  The blame line shows that being present for a while.  I'm not sure what the docs mean:  Does it clear the header if it doesnt exist?  Does it clear it if it doesn't apply (such as in a response header)?  I would support making the doc take no position on the matter.

[2018-10-15 23:31] ejona86 commented on #8068
The doc does seem wrong. Null doesn't even make sense in that context. Seems it should be "Sets the {@link PseudoHeaderName#METHOD} header".

[2018-10-15 23:51] r-joshi commented on #7754
The original use case that I had in mind is to be able to update the value of targetRecords at run time without the need to restart the application. For example, initially the application can have default values for level and target records. However, if a resource leak is encountered in logs, for further investigation, the values could be updated at run time (e.g. using JMX) without process restar

[2018-10-16 11:34] mawenyu opened #8387 "rawPath(wsURL) causes encoded query string be decoded，causing the wrong request to be sent"
https://github.com/netty/netty/blob/04001fdad1ca3c72625cddb1b1c7789381cb5f30/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/WebSocketClientHandshaker13.java#L129

My original URL is：http://192.168.1.5/v1/test?info=test%40abc%23def
String path = rawPath(wsURL);  ==>    http://192.168.1.5/v1/test?info=test@abc#def

Am I doing anything wrong? or this is a bug?

[2018-10-16 12:32] slandelle commented on #8384
PR sent: #8389

[2018-10-16 13:54] rhenwood-arm commented on #8279
Hi @normanmaurer
I am working with a colleague on this activity, so I've reached out to them to see where they are. Still waiting for an update.

NOTE: I am assuming that this is a 'nice to have' for the project today. Please let me know if you have observed other interest in this work which will help me prioritize it.

[2018-10-16 16:02] franz1981 opened #8390 "Support Channels batch writes"
This is a proposal to allow Netty to:
- encapsulate user intents in a proper API
- leverage the batch fill APIs of "some" concurrent queues (eg JCtools)
- (maybe) allow batch traversing of the pipeline

As a reference, the batch fill API of JCtools is:
https://github.com/JCTools/JCTools/blob/master/jctools-core/src/main/java/org/jctools/queues/MessagePassingQueue.java#L283
Probably will need some

[2018-10-16 18:17] normanmaurer commented on #8387
@mawenyu this may be a bug... would you be able to provide a pr to fix this ?

[2018-10-17 04:13] mawenyu commented on #8387
This bug has fixed。 I am using netty 4.1.5-Final，so the problem exist
![image](https://user-images.githubusercontent.com/1763479/47061840-e0069f80-d205-11e8-91b7-155a41934043.png)
![image](https://user-images.githubusercontent.com/1763479/47061861-fd3b6e00-d205-11e8-8f26-b3f49afd1827.png)

[2018-10-17 04:13] #8387 closed

[2018-10-17 06:28] #8384 closed

[2018-10-17 15:02] lutovich opened #8398 "FixedChannelPool#close() can return before idle channels are closed"
### Expected behavior
`FixedChannelPool#close()` should return only after all idle channels are closed. Such behavior is expected after https://github.com/netty/netty/pull/7927. Before this PR, method was asynchronous and provided no such guarantees.

### Actual behavior
`FixedChannelPool#close()` offloads actual closing of idle channels to `GlobalEventExecutor` and can return before the submitted

[2018-10-17 15:47] lutovich commented on #8398
Here is a tentative fix for the described problem: https://github.com/lutovich/netty/commit/bb6b371f0e974814ce1175283c0c06e660180202. I can make it into a PR if the change is acceptable.

[2018-10-17 22:58] ejona86 commented on #8337
This looks similar to https://github.com/netty/netty/issues/7272. It seems fixed in tcnative 2.0.14+.

The logback issue seems to be because logback is bringing in grpc as well. `io.grpc` is excluded for logging, but not logback. Logback brings in logging (again) which eventually brings in grpc 1.13.1 (grpc-netty _and_ grpc-netty-shaded) and netty-tcnative-boringssl-static 2.0.7.Final. So this is

[2018-10-18 04:37] atcurtis opened #8400 "CompositeByteBuf.decompose() doesn't work as expected."
### Expected behavior
It is expected that the arguments to CompositeByteBuf decompose() are the same as for slice()

### Actual behavior
We get random garbage at the start.

### Steps to reproduce

Call decompose with valid arguments.

### Minimal yet complete reproducer code (or URL to code)

    ByteBufAllocator alloc = PooledByteBufAllocator.DEFAULT;
    ByteBuf buf = alloc.directBuffer(16384).

[2018-10-18 05:40] dkartaschew opened #8401 "Clarification of Little Endian support with SwappedByteBuf"
After some clarification on the expected result of using get&lt;type>LE() methods on a SwappedByteBuf. (related to #3209 )

The javadoc indicates that the read from the ByteBuf should return type as if read LittleEndian. However does not clarify expected behaviour when used on a SwappedByteBuf where the byte order has been set, nor expected behaviour on CompositeByteBuf when underlying buffers are