[2015-04-16 11:45] d-t-w opened #3637 "AggregatedFullHttpMessage toString() behaviour"
This is related to #3019, the previous problem persists:

Prior to v4.0.24-FINAL you could call .toString on the output of HttpObjectAggregator regardless of whether the resulting HttpMessage has been released or not, from v.4.0.24-FINAL onwards you will encounter an error similar to:

[code]

This is due to the fact that AggregatedFullHttpMessage overrides .copy, .duplicate, and .retain from the

[2015-04-16 12:30] jingene opened #3639 "SSLHandler may incur performance degradation."
Netty version : 4.0.26.Final
JDK : 1.7.0_25(HotSpot)

Hello, I'm using Netty as a HTTP file server(and also using TLS).
I ran some performance tests(bulk HTTPS GET requests), and I found IOThread block concurrently(using visualVM).
This affects critical performance degradation on my server.

As you can see below, java.security.SecureRandom.nextBytes method "BLOCKED" in IOThread.
##################

[2015-04-16 12:46] normanmaurer commented on #3637
Fixed by #3638

[2015-04-16 12:46] #3637 closed

[2015-04-16 12:46] normanmaurer commented on #3019
Fixed by #3638

[2015-04-16 15:41] nmittler commented on #3596
@Scottmitch done: https://github.com/netty/netty/pull/3616#issuecomment-93766867

[2015-04-16 16:52] Scottmitch opened #3641 "TLS Application Protocol Accessor"
In order for the application to get access to the negotiated application protocol we currently require that a string `.split(":");` operation be done.  We should provide a more "standard" interface to access this information which does not require users to do string manipulation.

[2015-04-16 17:29] nmittler commented on #3613
@buchgr @Scottmitch now that #3627 is in, I think we can close this.  WDYT?

[2015-04-16 19:20] fredericBregier commented on #3636
@normanmaurer @trustin @Scottmitch
Before starting anything, I would like to propose you the general idea:

Motiviations:
Currently, while adding the next buffers to the decoder (`decoder.offer()`), there is no way to access to the current HTTP object being decoded since it can only be available currently once fully decoded by `decoder.hasNext()`.
Some could want to have a '%' of progression on th

[2015-04-16 20:19] Scottmitch commented on #3613
I'm satisfied.  Not sure if @buchgr  was interested in a follow-up issue comparing other "high performance" native type collections?

[2015-04-16 20:23] buchgr commented on #3613
@Scottmitch yeah I already did a few days ago. Haven't had time to share them publicly yet, but discussed results with @nmittler . Hope I ll be able to share them over the next few days, but looks good. So it's fine to close this.

[2015-04-16 20:23] nmittler commented on #3613
ok great... closing. Thanks guys!

[2015-04-16 20:23] #3613 closed

[2015-04-16 20:35] #3630 closed

[2015-04-16 20:43] buchgr commented on #3613
@nmittler @Scottmitch here are the results I got a few days back. I made some changes to the benchmarking code and I didn't have time to clean up the code which is why I didn't wanna share the results yet (without the code) https://gist.github.com/buchgr/6461a7e4836c37894014

[2015-04-16 20:49] nmittler commented on #3613
@buchgr thanks!  Looks like FastUtil is the winner overall, but we're definitely in much better shape.

[2015-04-16 20:55] Scottmitch commented on #3613
@buchgr Thanks!  I left a comment on the gist https://gist.github.com/buchgr/6461a7e4836c37894014#comment-1434988.

[2015-04-16 21:50] ejona86 commented on #3557
If we need to maintain old streams: I propose that we keep two IntObjectHashMaps: recentlyClosed and aging. They would map from stream id to @nmittler's CloseState. When an unexpected stream's frame is found we would look in both maps. When a stream is closed it is added to recentlyClosed.

Every time a timer would expire, we would clear aging and then swap recentlyClosed and aging. This prevents

[2015-04-16 21:56] buchgr commented on #3557
@ejona86 +1

@ejona86 +1 for clearing it. Even for very big maps the memory usage would only be in the low megabytes.

[2015-04-16 22:15] ejona86 opened #3643 "Immediate HTTP/2 stream removal kills connection for HEADERS"
Issue #3557 seeks to improve handling of DATA frames now that streams are immediately removed. DATA frame handling is "okay" now, but could be improved. However, HEADERS frames are handled very poorly.

I'm seeing exceptions like:
[code]

If a client sends RST_STREAM (for one of its streams) while a server-sent HEADERS frame is en route, then the client would cause the above error and reset the _c

[2015-04-17 01:16] trustin commented on #3641
Thanks, @Scottmitch :-)

[2015-04-17 01:30] trustin commented on #3639
It seems like the system has run out of entrophy, although it's not very usual for busy systems.

You can feed `/dev/random` using daemons like:

* haveged - http://www.issihosts.com/haveged/
* timer_entropyd - http://www.vanheusden.com/te/
* audio_entropyd - http://www.vanheusden.com/aed/

[2015-04-17 02:23] #3639 closed

[2015-04-17 05:03] jingene commented on #3639
@trustin
Thank you for your reply, but I attached another thread-dump when io.netty.handler.ssl.SslHandler.wrap() BLOCKed in IOThread(using PooledByteBufAllocator)
###############################################################################
"nioEventLoopGroup-3-14" prio=10 tid=0x00007fed1c0b3800 nid=0x3484 waiting for monitor entry [0x00007fec35228000]
   java.lang.Thread.State: BLOCKED (on obj

[2015-04-17 06:14] trustin commented on #3639
Is is blocked there indefinitely? If so, it deserves a new issue, because it seems unrelated to this issue.

[2015-04-17 07:18] CodingFabian opened #3645 "optional netty dependency "jetty-alpn" is non-valid osgi artifact"
I am currently lobbying on the jetty bugtracker to release a fixed up version of alpn-api which is identical to the one netty uses, but has a valid OSGi manifest
https://github.com/netty/netty/blob/master/pom.xml#L599

I am opening this issue to track this from here and to upgrade the dependency to make sure the netty pom does not poison the transitive dependency version once its fixed.

[2015-04-17 08:55] jingene commented on #3639
@trustin
No. IOThread wasn't freezed, but blocking occurs frequently.
During the perf-test, " /proc/sys/kernel/random/entropy_avail" value was not dropped below 100.
I think drained-entropy is not an issue.

[2015-04-17 09:02] trustin commented on #3639
Alright. Did you try the OpenSSL-based SSLEngine we provide, then?

[2015-04-17 09:05] normanmaurer commented on #3639
@trustin not really related to the original issue but maybe we should review our PooledByteBufAllocator and how it synchronize on the PoolArena's. Maybe we could do something smart here... WDYT ? Should I open another issue for this ?

[2015-04-17 09:06] normanmaurer commented on #3639
@jingene for more infos about our OpenSSL-based SSLEngine check this:

http://netty.io/wiki/forked-tomcat-native.html#wiki-h2-1

[2015-04-17 13:23] nmittler commented on #3557
@ejona86 sgtm

[2015-04-17 13:28] nmittler commented on #3643
IIUC, [this is the problem](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionDecoder.java#L268).  We just blindly try to create the stream without first checking if it's for a previously existing stream (by checking the streamId).  I think this should be easy to fix.  I'll try to throw together a PR.

[2015-04-17 13:37] huguesb commented on #3633
@normanmaurer I'd be happy to submit a PR but it's not clear to me what to do about this failing test. Should I just change it to reflect the current behavior or should the behavior be changed such that the test pass?

[2015-04-17 16:17] ottuzzi opened #3646 "Error compiling 4.1Beta5 on Windows"
Hi,

   I would like to play with Google RPC (grpc) and to install it you need netty 4.1.
Instructions from grpc report the following:
$ git submodule update --init
$ cd lib/netty
$ mvn install -pl codec-http2 -am -DskipTests=true

And last step fails with:
[code]
As you can guess:
[code]

Bye
Piero

[2015-04-17 16:40] nmittler commented on #3557
@Scottmitch @buchgr @ejona86 actually in the interest of keeping things simple ...

What if we brought back the `Http2StreamRemovalPolicy` in some fashion? It seems like a cleaner solution in general since there will only ever need to be a single map for the streams ... they all stay there until they're officially removed (say after ~5 seconds of being closed or until they're allowed to be removed

[2015-04-17 16:50] louiscryan commented on #3643
I see the same issue manifest in a different way.

Clients can send WINDOW_UPDATE to a server that has already closed it's stream. This occurs when the server sends a sequence of DATA frames and then immediately closes the stream. The client after processing some of the received DATA frames decides it needs to release more flow control and sends WINDOW_UPDATE.  This races with the server.

The cli

[2015-04-17 16:55] Scottmitch commented on #3557
@ejona86 @nmittler @buchgr  This sounds like a reasonable approach if we have to keep history.  I'm pushing toward not keeping history though.  This would increase complexity and potentially hurt performance / memory metrics.  Most importantly I'm not sure what additional value keeping the history would provide.  The specification may "technically" require it, but there may be other ways to react

[2015-04-17 17:01] Scottmitch commented on #3643
@nmittler - +1. This code doesn't look right to me.

@louiscryan -

The `immediately closes` portion of this statement.  It seems like you are implying the ["half closed (local)" state transition](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionEncoder.java#L451) is skipped on the server side?  Is a "RST_STREAM" being generate

[2015-04-17 17:05] Scottmitch commented on #3646
@normanmaurer - Care to take a look?

[2015-04-17 17:08] normanmaurer commented on #3646
@ottuzzi this is because we not deploy netty-tcnative versions for 32bit windows. If you want to compile on windows 32bit you will need to compile and install your own version of netty-tcnative before try to build netty.

See http://netty.io/wiki/forked-tomcat-native.html#wiki-h3-6

[2015-04-17 17:08] #3646 closed

[2015-04-17 17:10] buchgr commented on #3557
It's not as a big deal as I initial thought because we had a memory leak :-). It's still a big deal in terms of latency, because it helps keep the heap several times smaller (depending on your app ofc) and thus your GC pauses are a lot shorter (have seen up to 10x on avg GC time).

I don't think keeping additional state around would be a big deal (just not the stream object itself). If we can get

[2015-04-17 17:10] ejona86 commented on #3643
@Scottmitch, in the case @louiscryan is referring to the client already sent END_STREAM in the past; it was the server who was keeping the stream in half closed state. This would very easily happen with a GET request if the response is > 32 KB and < 64 KB (also if > 64 KB, but it becomes more complex then).

[2015-04-17 17:18] louiscryan commented on #3643
Yes, its exactly as Eric described. The client has already half-closed before the server starts responding which is the case for pretty much all of HTTP.

[2015-04-17 17:22] Scottmitch commented on #3643
@ejona86 @louiscryan - Thanks for clarifying.  This makes sense.  I think this is a bug in the window update code [here](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionDecoder.java#L486).  We should not require the stream....

[section 6.9](https://tools.ietf.org/html/draft-ietf-httpbis-http2-17#section-6.9):

   END_STREAM f

[2015-04-17 17:23] nmittler commented on #3643
@Scottmitch +1 .. would you mind throwing a PR together to fix that? I'm working on bringing back stream history ATM.

[2015-04-17 17:27] Scottmitch commented on #3643
@nmittler - I will.  Before you work on history can you take a look at https://github.com/netty/netty/issues/3557#issuecomment-94026540?

[2015-04-17 17:29] Scottmitch commented on #3643
@nmittler - Do you want me to fix https://github.com/netty/netty/issues/3643#issuecomment-93985930 in my PR too?

[2015-04-17 17:34] nmittler commented on #3557
@buchgr I'm not sure that keeping around the `Http2Stream` would necessarily be all that bad.  It won't have any children (and in fact before removal we can swap it's map out for an empty one). The only thing of significance are the properties (it may be possible to further reduce this data after closure as well, on a per-property basis).  Plus we can play around with the garbage collection interv

[2015-04-17 17:37] nmittler commented on #3643
@Scottmitch Yeah, if it's not too much trouble go ahead and fix the HEADERS problem as well.  Unfortunately, I think we need to fix this for virtually all frames on the receiving side. :/ ... having some sort of history would make this a lot simpler.

I'm currently bringing back a garbage collector concept (in a hopefully cleaner way) as a backup solution if we can't find a good way to deal withou

[2015-04-17 17:51] Scottmitch opened #3653 "HTTP/2 send goaway with error condition must close tcp connection"
[section 5.4.1](https://tools.ietf.org/html/draft-ietf-httpbis-http2-17#section-5.4.1):

   the endpoint MUST close the TCP connection.

We should update the life cycle manager's `goAway` documentation such that upon successful go away the channel must be closed.  The `Htto2ConnectionHandler` should also be updated to implement this.

[2015-04-17 17:52] Scottmitch commented on #3653
@ejona86 - Thanks for brining my attention to this!

@nmittler - FYI.

[2015-04-17 17:53] Scottmitch commented on #3653
@nmittler - I think this means we can get away without keeping history for https://github.com/netty/netty/issues/3557.  We can just send a connection error in these "bad" conditions and it is OK if state is "invalid" because we are closing the connection. WDTY?

[2015-04-17 17:54] Scottmitch commented on #3643
@nmittler - See https://github.com/netty/netty/issues/3653

[2015-04-17 17:57] buchgr commented on #3557
@nmittler As I said above, in our benchmarks we see GC times roughly 10x higher and heaps being 5x bigger with the 5 second policy.

Doing a top of the envelop calculation tells me that the `DefaultStream` object is roughly 50 bytes in size without the map. Eric's stream history proposal would take 4 bytes per stream (the stream id) with zero allocations as after some start up time the hash maps w

[2015-04-17 18:00] normanmaurer commented on #3633
Which test is failing ?

[2015-04-17 18:01] normanmaurer commented on #3645
@CodingFabian thanks! You guys rock....

[2015-04-17 18:04] Scottmitch commented on #3645
cool! let us know if you have any questions :)

[2015-04-17 18:04] normanmaurer opened #3654 "Review synchronization in PooledByteBufAllocator"
@jingene reported:
[code]

We should review if we can improve this.

This was first mentioned in https://github.com/netty/netty/issues/3639

[2015-04-17 18:25] nmittler commented on #3653
@Scottmitch I'm not sure this gets us out of the woods.  Consider this scenario:

1. Client sends HEADERS
2. Client sends RST_STREAM
3. Server receives HEADERS
4. Server sends response HEADERS
5. Client receives response HEADERS and throws a connection error since the stream no longer exists.

This doesn't involve GO_AWAY at all.

[2015-04-17 18:29] nmittler commented on #3557
@buchgr yup agreed ... if we need to preserve history that sounds like the best alternative.

@Scottmitch are you currently investigating whether or not we can do this without history? If so, I'll hold off implementing anything until you report back.

[2015-04-17 18:35] Scottmitch commented on #3557
@nmittler - Yes hold off.  For this issue I don't think we will need it...a misbehaving peer is a misbehaving peer....we may not want to complicate our logic to try to compensate.  Unless there is a legitimate race condition we need to account for, and we can't get by with a simple `streamId < nextStreamId && streamId is a legit peer stream id` lets not do history.

[2015-04-17 18:45] Scottmitch commented on #3653
Yes there will be legitimate race conditions to deal with however I would like to explore if the following code is "sufficient" to ignore a frame due to these sequencing / race condition scenarios:

[code]

If we feel that we should be returning errors after some "time" then we should keep some form of history.  Possible just in a limited capacity as suggested by @buchgr https://github.com/netty/n

[2015-04-17 18:47] CodingFabian commented on #3645
I actually wanted to leave the jetty bugzilla link here for tracking:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=459908

[2015-04-17 18:49] nmittler commented on #3653
@Scottmitch wouldn't you need to check both endpoints, not just remote?

[2015-04-17 20:13] buchgr commented on #3653
@Scottmitch +1

[2015-04-17 20:20] Scottmitch commented on #3653
@nmittler - That is a good point.  I will think through the details but I'll submit a PR with this type of "simple" checks...and also explore "simple history" for problem streams.

[2015-04-17 20:35] huguesb commented on #3633
`DefaultChannelPipelineTest.testChannelReadNotTriggeredWhenLast` as mentioned in the first message.

[2015-04-17 20:42] buchgr opened #3655 "Discuss headers class hierarchy"
While working on improving the performance and memory usage of Netty's headers, I couldn't help but notice that in my opinion the headers API is quite "fat" and maybe at times a bit too generic.

One of those very generic parts is the `DefaultConvertibleHeaders` class. As far as I can tell the reason to have the `DefaultConvertibleHeaders` is to maintain compatibility with `String` class after int

[2015-04-17 20:50] buchgr commented on #3653
@Scottmitch since you seem to have looked into the details of the spec regarding this issue, could you please summarize in a short post what's the required behavior for every case and what's no required (just in like 5 bullet points). I have kinda lost track of when we have to send a RST_STREAM frame, when we have to close the connection and when we have to ignore a frame and such ... thanks!

[2015-04-17 21:36] gtomassi opened #3656 "Close future hangs in ChannelFuture.close().sync()"
Netty version: 5.0.0.Alpha2

Context:
Changing from 4.1.0.Beta1 to 5.0.0.Alpha2, holding ALL else constant. I am positively using independent threads to call close() vs handle channel activity. Our "connection cleaning" job fails now as a result of close().sync() blocking forever. It happens to any socket channels that never actually connected. The channel close future remains false for isDone() f

[2015-04-17 21:44] Scottmitch commented on #3655
@buchgr - You got it.  The idea was to unify the class hierarchy and make it clear when type conversions were happening (i.e. `AndConvert` nomenclature). Now that the dust has settled `DefaultConvertibleHeaders` may be overkill and I agree we could simplify the hierarchy and remove some of the translation helper types associated with this.  So in summary it sounds reasonable to me!

[2015-04-17 21:48] buchgr commented on #3655
@Scottmitch sgtm, I won't touch it in my perf update for the headers as it comes with enough code changes already. Don't wanna change API's in this PR.

[2015-04-17 21:56] gtomassi opened #3657 "JsonObjectDecoder Race Condition(s)"
Netty version: 4.1.0.Beta1 (All I think)

Context:
The JsonObjectDecoder started improperly grouping frames together in our pipeline when a lot of data was being quickly piped through it. Normally, it should spit out a frame at a time, but it was chunking them together and piping out multiple at once in the same stream. The number of frames was arbitrary, and it would occur at random times through

[2015-04-18 07:51] buchgr commented on #3657
@gtomassi

thanks for reporting! I don't understand the reasoning on how there is a race condition. This is all happening within an `EventLoop`. Would it be possible for you to share some of the JSON data where the errors occurred?

Regarding the array streaming, it's optional and you can disable it in the constructor. Also your "fix" doesn't work for JSON objects containing `{` or `}` in a string

[2015-04-18 08:07] buchgr commented on #3654
@normanmaurer @jingene +1, we are seeing the same locks causing some contention in GRPC.

[2015-04-18 08:44] longlong524 opened #3659 "Netty HttpClient send connect method request block!"
I write a simple httpclient like this:
[code]

and I send a connect request to a proxy like this
[code]

But netty cann't  get the response after more than 120 seconds. It is wrong.
The response is :
[code]
I think the reason is there is no header.

[2015-04-18 09:05] fredericBregier opened #3660 "Http Codec not handling 7BIT/8BIT but only BINARY TransferEncodingMechanism?"
@normanmaurer @trustin @Scottmitch
While working on issue related to knowing the current decoded size of the current FileUpload and trying to figure out how to mitigate the issue in 7BIT/8BIT/BINARY announced size in Content-Length, I may be wrong, but while looking at the decoder/encoder, it looks like only Binary TransferEncodingMechanism is taken into account since no codec is in place to trans

[2015-04-18 12:23] fredericBregier commented on #3660
I correct my analysis:
- 7bit, 8bit and Binary means no encoding has been performed but a clue on the type of data transfered (meaning almost exact size):

RFC2046 chapter 5 (in reference by RFC 2045 chapter 4.3)

    As stated in the definition of the Content-Transfer-Encoding field [RFC 2045], no encoding other than "7bit", "8bit", or "binary" is permitted for entities of type "multipart".

And

[2015-04-18 12:23] #3660 closed

[2015-04-18 16:03] nmittler commented on #3653
@Scottmitch @ejona86 @buchgr I was thinking how we might add the concept of `history` to the current design.  It seems like `Http2LifecycleManager` might be a good landing place for this.  It could have a `streamHistory` method that returns an interface that can be queried:

[code]

The implementation will be in the `Http2Connection` which can use @ejona86's scheme for swapping maps, described in

[2015-04-18 19:03] krasa opened #3662 "ChannelFuture is not done after shutdown - causing deadlocks"
netty version: 4.1.0.Beta4, 4.0.27.Final, 4.0.25.Final

causes: https://github.com/twitter/cloudhopper-smpp/issues/92

testcase:
[code]

thread dump:
[code]

[2015-04-18 19:05] normanmaurer commented on #3662
@krasa thanks will check

[2015-04-18 20:39] nmittler commented on #3643
@Scottmitch @ejona86 see my comment in another thread regarding history: https://github.com/netty/netty/issues/3653#issuecomment-94176994

[2015-04-18 20:41] nmittler commented on #3557
@Scottmitch we've got at least 3 different bugs discussing history ATM :). Just as a point of reference here is some discussion related to a lightweight history: https://github.com/netty/netty/issues/3653#issuecomment-94176994

[2015-04-19 08:51] buchgr commented on #3653
@nmittler that all sounds good to me. No allocations yay :-). don't have a good solution for the flow controller atm either. all a bit hacky :\

[2015-04-19 19:02] normanmaurer commented on #3662
@krasa thanks for reporting.. I know the root-cause. Working on a fix.

[2015-04-19 19:35] buchgr opened #3664 "JDK 9 might ship with a more space efficient String implementation"
I stumbled across this issue on the openjdk bug tracker https://bugs.openjdk.java.net/browse/JDK-8054307 . It seems like JDK9 might ship with a more space efficient implementation for Strings, similar to what `ByteString` / `AsciiString` are trying to achieve. This is just meant as an FYI :-).

[2015-04-20 03:46] ThomasLau commented on #3659
i tried with curl ,it returns "400 The plain HTTP request was sent to HTTPS port",i guess you should use "https://www.baidu.com:443" or "https://www.baidu.com",still,this will returns 405,methord not allowed.

    <html>
    <head><title>405 Not Allowed</title></head>
    <body bgcolor="white">
    <center><h1>405 Not Allowed</h1></center>
    <hr><center>bfe/1.0.8.2</center>
    </body>
    </htm

[2015-04-20 05:08] normanmaurer commented on #3656
checking....

[2015-04-20 05:23] longlong524 commented on #3659
Sorry I cannot paste the proxy address because it belongs to my company. But you can use this proxy:
97.77.104.22: 80.

[2015-04-20 08:44] normanmaurer commented on #3529
Fixed by:

2e1325aa9de21b7fd10f2ac56b49fd5a3bbaa189
f35158f40206c8fa22ec30cf581216184314fb35
76dcda8259d60a822a2617cab6ebdd4e12d3fcb5
b35f2b4cb4dd82a174c64c3d38486cb0b33c8c18
3b1bf6348a563ecc23ccd4f1b651141f33fff1a9
5cd541c537bbf5f3faa6cf2dbceac5f1e4d75af9

[2015-04-20 08:44] #3529 closed

[2015-04-20 08:44] normanmaurer commented on #3587
Fixed by:

2e1325aa9de21b7fd10f2ac56b49fd5a3bbaa189
f35158f40206c8fa22ec30cf581216184314fb35
76dcda8259d60a822a2617cab6ebdd4e12d3fcb5
b35f2b4cb4dd82a174c64c3d38486cb0b33c8c18
3b1bf6348a563ecc23ccd4f1b651141f33fff1a9
5cd541c537bbf5f3faa6cf2dbceac5f1e4d75af9

[2015-04-20 08:44] #3587 closed

[2015-04-20 13:57] nmittler commented on #3653
@Scottmitch I'd could try throwing together a PR for this to see what it looks like ... WDYT?

[2015-04-20 17:37] ejona86 opened #3667 "h2childchan: Model streams in HTTP/2 as child channels"
Progress to feature parity with current HTTP/2 API (please add entry if you notice something missing):
- [x] #4503 Child channels
- [ ] #4914 Separate frame-based message passing from child channels
- [x] #4503 Inbound flow control
- [x] #4941 Outbound flow control
- [x] #4503 RST_STREAM propagated to child channel
- [x] #4503 GOAWAY propagated to child channel
- [x] #4941 No premature child promi

[2015-04-20 17:42] buchgr commented on #3667
first! @ejona86 +1

[2015-04-20 18:03] normanmaurer commented on #3667
@ejona86 I really like the idea. :+1:

[2015-04-20 19:33] nmittler opened #3668 "Removed HTTP/2 streams should consume all bytes"
When a stream is removed from the connection, we should mark all of it's bytes as consumed so that the local flow controller will restore those bytes to the connection window. We'll also need to protect against the application trying to consume those bytes as well (probably just make it a no-op for closed streams).

[2015-04-20 21:17] Scottmitch commented on #3664
Thanks for the heads up.  Perhaps we can utilize this some day :)

[2015-04-20 21:18] Scottmitch commented on #3668
Thanks @nmittler.  I see you left this as a comment in https://github.com/netty/netty/pull/3616.  Are you pulling together a separate PR for this?

[2015-04-20 21:38] nmittler commented on #3668
I'm working on a PR to address this and history ... should have something ready shortly.

[2015-04-20 21:59] buchgr opened #3669 "Improve synchronization in obtainActiveTransport() and SerializingExecutor."
We are seeing some contention in `ChannelImpl.obtainActiveTransport()` and `SerializingExecutor`.

![serializing](https://cloud.githubusercontent.com/assets/1388179/7241437/c9678748-e76d-11e4-8c6a-8604223688e7.png)

![obtain](https://cloud.githubusercontent.com/assets/1388179/7241450/dc87a7ea-e76d-11e4-9ac1-7e91aca98c6b.png)

[2015-04-20 21:59] buchgr commented on #3669
uuuppps wrong project :D

[2015-04-20 21:59] #3669 closed

[2015-04-20 22:04] Scottmitch commented on #3653
@nmittler - Sorry for the delayed response.  I'm still wondering if we need the history.  I'm going to switch gears back into this topic shortly but I think keeping history for every stream may be overkill. Is the primary motivator for keeping history to be able to know when receiving a frame associated with a stream we don't have an object allocated for an error or not?  If so I would still like

[2015-04-20 22:06] Scottmitch commented on #3668
@nmittler - OK. I would like to get a consolidated understanding as to why we need to keep stream history before you invest a lot of time in it.  See https://github.com/netty/netty/issues/3653#issuecomment-94580186.  Should we open another issue for stream history...or do you want to just list the rational here?

[2015-04-20 22:21] ejona86 opened #3670 "HTTP/2 shouldn't flush automatically"
HTTP/2 flushes for [WINDOW_UPDATES](https://github.com/netty/netty/blob/da01902ea2216f6cbf9d1b2e0cd80d3b879af06b/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2LocalFlowController.java#L376), [RST_STREAM](https://github.com/netty/netty/blob/9c4af6af7e59edf063c92b1d1eb7fddc432de586/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L503), [GOAWAY]

[2015-04-20 22:28] Scottmitch commented on #3667
@ejona86 - Sounds like a good idea to me.  As you pointed out there is a risk of object allocation and associated GC costs increasing but may be a nice compromise for a lot of use cases.

[2015-04-20 22:28] #3664 closed

[2015-04-20 22:32] Scottmitch commented on #3670
+1 for reducing flush calls.

[2015-04-20 22:38] leogomes opened #3671 "SSLContextBuilder builds client context for server and vice-versa"
Introduced with: https://github.com/netty/netty/issues/3531

SslContextBuilder constructor has a [boolean parameter ``forServer``](https://github.com/netty/netty/blob/4d56028df5a7be31561442f45bc2141eb84aa5ad/handler/src/main/java/io/netty/handler/ssl/SslContextBuilder.java#L75), which is set to ``false`` in the [``forServer(...)`` static factory method](https://github.com/netty/netty/blob/4d56028d

[2015-04-20 22:50] Scottmitch commented on #3671
@leogomes - Can you be more specific?  I looks like you are implying the context that is generated by `build()` is reversed.  However it looks to be correct https://github.com/netty/netty/blob/4d56028df5a7be31561442f45bc2141eb84aa5ad/handler/src/main/java/io/netty/handler/ssl/SslContextBuilder.java#L206.

[2015-04-20 22:51] ejona86 commented on #3671
Doh!

The value [is propagated](https://github.com/netty/netty/blob/216d5ee5836f9c879de3831ab034c50b6eb9ea17/handler/src/main/java/io/netty/handler/ssl/JdkSslContext.java#L193) to the JDK's [SSLEngine](http://docs.oracle.com/javase/7/docs/api/javax/net/ssl/SSLEngine.html#setUseClientMode(boolean)).

@Scottmitch, the [wrong value is passed to the contructor](https://github.com/netty/netty/blob/4d56

[2015-04-20 22:53] Scottmitch commented on #3671
@ejona86 - Heh...we flipped the variable name from `forClient` but missed these cases...oops...care to submit a PR?

We can address unit tests after we have it patched.

[2015-04-20 22:56] ejona86 commented on #3671
@Scottmitch, sure, I can do the PR.

[2015-04-20 23:12] nmittler opened #3673 "Investigate resurrecting HTTP/2 stream history"
There has been a lot of discussion recently due to breaking commit c6cfb68, which removed the stream removal policy.  This is the root cause of #3643. Other threads include #3653 and #3557.

@Scottmitch has suggested that we may be able to get by without bringing back some sort of stream history. We should investigate whether this is possible ... if not, we'll need to look into bringing back a lig

[2015-04-20 23:14] nmittler commented on #3668
@Scottmitch I've put together #3672 to address this.

I have been putting together a PR for stream history, but you're right we should finish our discussion on this: #3673.  Let's sort this out quickly ... grpc needs this.  @Scottmitch can you provide a dump of your thoughts on how we can avoid history on a case-by-case basis in the decoder?

[2015-04-20 23:16] Scottmitch commented on #3673
@nmittler - Thanks for reporting.  Here is your https://github.com/netty/netty/issues/3668#issuecomment-94590158

[2015-04-21 00:26] Scottmitch commented on #3671
Fixed with https://github.com/netty/netty/issues/3674.

Thanks for reporting @leogomes!

[2015-04-21 00:26] #3671 closed

[2015-04-21 01:02] gsoltis opened #3675 "Livelock issue in MpscLinkedQueue.java"
Hi,

We've been running netty 4.0.27 in production for ~1 week, and recently we started noticing cases where calls to `SingleThreadEventExecutor.pendingTasks()` were never completing. We traced the issue down to `MpscLinkedQueue.peekNode()`, which appears to be just spinning.

Reading the contract at the top of the file seems to indicate that calling `MpscLinkedQueue.size()` should be ok from mult

[2015-04-21 01:12] stoneCrystal opened #3676 "netty-4.0.27.Final compile error for cannot import netty-tcnative lib"
I download the netty-4.0.27.Final version by git, but after build project, the netty-handler project has compile error, like following:
![default](https://cloud.githubusercontent.com/assets/7323503/7243911/540f2840-e806-11e4-9573-db82933470c8.PNG)

is my local mavne repository setting problem or others problem??

[2015-04-21 04:49] normanmaurer commented on #3676
What OS ?

[2015-04-21 04:50] normanmaurer commented on #3675
@gsoltis so it only happens when you call size() ? I

[2015-04-21 05:00] gsoltis commented on #3675
So far, yes, that's the only place I've seen it. We have each event loop hooked up to a stats reporting module that reports the size of the task queue every few seconds. We noticed it because the stats stopped being reported, and it turns out the reporting thread was blocked on the call to `.size()`, which in turn was spinning on `peekNode()`.

Here's the last few lines of the stacktrace:

[2015-04-21 05:01] normanmaurer commented on #3675
@gsoltis will check... Thanks for the report buddy!

[2015-04-21 05:04] gsoltis commented on #3675
No problem. Let me know if there's anything else I can provide. I realize
it's not a lot to go on :)

On Mon, Apr 20, 2015, 10:02 PM Norman Maurer <notifications@github.com>
wrote:

[2015-04-21 05:20] normanmaurer commented on #3675
@gsoltis what I can tell you is that size() is now allowed to be called by another thread then the EventLoop. Thinking about a proper fix.

[2015-04-21 07:59] ened opened #3679 "Netty on Android will not transfer a complete file through NIO .transferTo"
Also as outlined on SO: http://stackoverflow.com/questions/29739276/netty-fileregion-transfer-fails, this issue is what happens on my phone when using Netty 4.1-B4 on Android 4.4.
The problem manifests itself when doing curl downloads:

[code]

I tracked this to the `AbstractNioByteChannel` class, around here:

[code]

The loop will run through, and then proceed to inCompleteWrite as written.
Howe

[2015-04-21 09:48] leogomes commented on #3671
@Scottmitch Wouldn't it be good to keep this one open or create another one to make sure we add unit tests to avoid regression on this area?

[2015-04-21 11:31] #3575 closed

[2015-04-21 11:32] spinscale opened #3680 "Enabled SecurityManager results in ClassNotFoundError during io.netty.util.NetUtil initialization"
Hey,

Netty version used: 4.0.27

Setup: An application that has the security manager enabled, spits an not really helpful `ClassNotFoundError` in case that the application is not allowed to read a file due to the security manager. The reason for this is the try to read the file `/proc/sys/net/core/somaxconn` in https://github.com/netty/netty/blob/4.0/common/src/main/java/io/netty/util/NetUtil.jav

[2015-04-21 11:39] normanmaurer commented on #3680
@spinscale thanks for reporting. Let me fix this.

[2015-04-21 12:20] normanmaurer commented on #3680
Actually the scope of this needs to be broaden as we need to also ensure property access works in the static initializer. So this will be a bigger change.

[2015-04-21 12:21] normanmaurer commented on #3680
@trustin @Scottmitch FYI

[2015-04-21 13:35] nmittler commented on #3667
@ejona86 +1 very cool!

[2015-04-21 16:38] stoneCrystal commented on #3676
windows7

[2015-04-21 16:40] normanmaurer commented on #3676
@stoneCrystal 64bit or 32bit ?

[2015-04-21 16:45] stoneCrystal commented on #3676
import org.apache.tomcat.jni.Library;
import org.apache.tomcat.jni.Pool;
import org.apache.tomcat.jni.SSL;
import org.apache.tomcat.jni.SSLContext;

[2015-04-21 16:45] stoneCrystal commented on #3676
64

[2015-04-21 16:48] stoneCrystal commented on #3676
it seems like netty-tcnative  not import in project succesfully

[2015-04-21 19:33] #3668 closed

[2015-04-21 19:37] nmittler commented on #3673
Just to recap some discussion between myself, @Scottmitch, and @buchgr ...

We're going to look into a no-history implementation.  The only snag is what to do about inbound flow control.  The current thought is that the local flow controller could somehow support missing (null?) streams.  When data is received for these streams, flow control is applied to the connection only and then immediately c

[2015-04-21 19:50] normanmaurer commented on #3662
@krasa this should be fixed by #3683. Can you verify ?

[2015-04-21 19:53] normanmaurer commented on #3675
@gsoltis can you please check if #3684 fixes the problem for you ? Thanks!

[2015-04-21 20:12] buchgr commented on #3673
@nmittler I think that's a very pragmatic solution. SGTM.

[2015-04-21 20:57] krasa commented on #3662
@normanmaurer works fine, thanks!

[2015-04-21 21:00] normanmaurer commented on #3662
@krasa awesome thanks!

[2015-04-21 21:12] gsoltis commented on #3675
I'll give it a shot. It may be a few days before I can both get it in production and verify that it's working, since it took so long to show up previously.

[2015-04-21 21:14] normanmaurer commented on #3675
Ok just let me know once you have results

[2015-04-21 22:20] Scottmitch commented on #3673
@nmittler +1. Link to your PR https://github.com/netty/netty/pull/3685.

[2015-04-21 22:34] Scottmitch opened #3686 "SslContextBuilder unit tests and replace deprecated usage in examples"
1. https://github.com/netty/netty/issues/3671 was related to a simple mistake which built the opposite SslContext object type and this was not caught with unit tests.

2. The SslContextBuilder deprecated the old static factory methods but didn't replace all usages of these in the examples.

[2015-04-21 22:35] Scottmitch commented on #3686
@ejona86 - Would you mind taking care of this?

[2015-04-21 22:35] Scottmitch commented on #3671
@leogomes - Thanks for the reminder... https://github.com/netty/netty/issues/3686.

[2015-04-21 22:58] ejona86 commented on #3686
Sure, I can take care of it.

For 1, I'm not sure exactly what should be in such tests. There aren't any existing tests for SslContext creation. I can make a single test for server vs client pretty easily though.

For 2, I fixed all the usages I saw, but that only included 4.0. I'll need to look at 4.1 and 5.0 to see what other usages there are.

[2015-04-22 00:43] Scottmitch commented on #3686
@ejona86 - Thanks.  If we have nothing then something should be better :)  I trust your judgement.

Yah 4.1 has http/2 that I noticed was not updated...maybe that is it?

[2015-04-22 01:11] stoneCrystal commented on #3676
@normanmaurer  how to fix is problem?

[2015-04-22 03:46] #3643 closed

[2015-04-22 03:48] nmittler commented on #3673
Fixed by #3685

[2015-04-22 03:48] #3673 closed

[2015-04-22 03:52] nmittler commented on #3557
@Scottmitch now that #3685 is in, can we close this?

[2015-04-22 06:03] leogomes commented on #3686
There's also:
https://github.com/netty/netty/blob/d1a9a08f36c4b5c830f57fb9c032707ec309c3ae/example/src/main/java/io/netty/example/memcache/binary/MemcacheClient.java#L56

And I believe these unused imports are leftovers of the refactoring, so should be removed as well:
https://github.com/netty/netty/blob/4d56028df5a7be31561442f45bc2141eb84aa5ad/example/src/main/java/io/netty/example/spdy/client/Sp

[2015-04-22 07:19] normanmaurer commented on #3676
@stoneCrystal does `mvn clean package` works for you on the cmd line ?

[2015-04-22 10:09] leogomes commented on #3686
Actually, the whole HTTP/2 thing in the MemCacheClient example seems a copy and paste mistake :)
I saw that it was [introduced here](https://github.com/netty/netty/commit/3f8194557b5fe14e8f3313570ef28f29cbbef150#diff-0026312c5ac1bba34c5cdfdc2d1dc0bb) by @trustin, but imho since it's demoing memcache binary protocol there shouldn't be an ALPN there, only plain TLS/SSL as an option.

[2015-04-22 15:09] stoneCrystal commented on #3676
@normanmaurer   mvn clean pakcage not work, following is the error message
![1](https://cloud.githubusercontent.com/assets/7323503/7277817/ab73f46e-e944-11e4-95b9-bc79256c81cd.PNG)

[2015-04-22 17:58] normanmaurer commented on #3676
I need the full output to see why it fails.

[2015-04-22 19:09] Scottmitch commented on #3680
@normanmaurer - Lets fix this one and any others we can think of.  If we suspect this is a systemic problem lets open another issue.

[2015-04-22 19:10] normanmaurer commented on #3680
@Scottmitch +1 @spinscale fine with this ?

[2015-04-22 19:11] Scottmitch commented on #3686
I agree...not sure why ALPN is needed in memcache... @trustin ?

[2015-04-22 19:13] normanmaurer commented on #3686
+1

[2015-04-22 19:19] Scottmitch commented on #3557
@nmittler - Yes sir!  Thanks again for the fix!

[2015-04-22 19:19] #3557 closed

[2015-04-22 20:09] ejona86 commented on #3686
Okay, while I'm there I'll clean up the memcache example's usage of TLS.

[2015-04-22 22:20] Scottmitch commented on #3653
I have a PR pending for this...

[2015-04-22 22:20] Scottmitch commented on #2909
This was done.  Follow up PRs in progress.

[2015-04-22 22:20] #2909 closed

[2015-04-22 22:49] benmccann commented on #3588
@normanmaurer another beta cut sounds great! i'd be very excited by that

[2015-04-22 23:33] Scottmitch commented on #3619
This will begin after @nmittler's https://github.com/netty/netty/pull/3593 PR.

[2015-04-22 23:38] Scottmitch commented on #3655
@nmittler - FYI. We discussed this earlier today.  Seemed like you were interested in seeing this removed.

[2015-04-23 00:07] ddossot commented on #3247
After seeing this issue in one of our Aleph based project (backed by Netty `4.1.0.Beta3`), we realized that our production systems on `4.0.26.Final` suffer from the same problem (~40 occurences per million requests).

[2015-04-23 00:19] ddossot commented on #3519
@Iker-Jimenez Did you downgrade back to `4.0.23.Final` or did you try with `4.0.24.Final` ? `4.0.25.Final` seems have the issue per https://github.com/netty/netty/issues/3247#issuecomment-69491567 so I'm trying to see how far back we need to downgrade...

[2015-04-23 01:04] nmittler commented on #3655
@Scottmitch yeah, I was looking at the headers hierarchy when reviewing @buchgr's PR https://github.com/netty/netty/pull/3681#issuecomment-95244520.  It seems somewhat out of place in the hierarchy and may be better as a set of utility methods that operate on a `Headers` object.

[2015-04-23 07:16] spinscale commented on #3680
@normanmaurer sure!

[2015-04-23 07:56] normanmaurer commented on #3680
@spinscale cool! Was this the only problem you needed to fix to get it run with a SecurityManager ?

[2015-04-23 08:27] spinscale commented on #3680
yes, mainly due to having specific permissions on how to access files, we dont do any property based security. You can see our policy file at https://github.com/elastic/elasticsearch/blob/master/dev-tools/tests.policy

[2015-04-23 09:33] Iker-Jimenez commented on #3519
@ddossot we didn't try 4.0.24, we knew 4.0.23 was good and we went back to it. We cannot reproduce this easily in non-prod systems so we took the safe approach.

[2015-04-23 10:20] normanmaurer commented on #3680
@spinscale thanks!

[2015-04-23 13:44] ddossot commented on #3519
@Iker-Jimenez Gotcha, we have the same problem: this issue only shows in prod so we'll probably follow your path and play it safe...

[2015-04-23 14:02] gbrd opened #3687 "websocket server does not send close frame"
Netty version = 4.0.27.Final

In WebSocketServerProtocolHandler getHandshaker and setHandshaker, storing in channel context instead of ChannelHandlerContext helped to make server answer to client close frame.

ctx.channel().attr(HANDSHAKER_ATTR_KEY)
instead of ctx.attr(HANDSHAKER_ATTR_KEY)

Without that,  handshaker is null at line 106 of WebSocketServerProtocolHandler (decode method and frame is

[2015-04-23 16:04] lumone commented on #3319
Any resolution to this?

I can reproduce this quite quickly and thus expect that I'm doing something daft - i.e. not releasing something.  It seems that there is an accumulation of ChannelhandlerContext object but I will however need to delve a bit deeper into the heap to understand why.

![netty-problem](https://cloud.githubusercontent.com/assets/3966887/7301390/bc3c6094-e9e2-11e4-8cdc-94142144e0

[2015-04-23 18:21] ddossot commented on #3247
We've tested with `4.0.24.Final` and see the issue there too. We're downgrading to `4.0.23.Final`.

[2015-04-23 19:42] nmittler commented on #3596
Fixed by #3593

[2015-04-23 19:42] #3596 closed

[2015-04-23 19:55] buchgr commented on #3570
Fixed by c98195714d393a71

[2015-04-23 19:55] #3570 closed

[2015-04-23 20:17] ejona86 commented on #3670
@louiscryan, you want to pick this up?

[2015-04-23 20:17] ejona86 commented on #3670
Or Scott, have you already started working on it?

[2015-04-23 20:43] louiscryan opened #3688 "HTTP2 remote flow controller flushing is too eager"
@nmittler @Scottmitch

The flow controller will always flush when data is added to it. This prevents higher layers from coalescing flushes when more data is known to follow. For example headers and payload for HTTP POST will cause a minimum of two flushes to the channel.

I suggest we remove flushing from the flow controller and make the encoder responsible for it and add an explicit flush param t

[2015-04-23 21:00] nmittler commented on #3688
+1

[2015-04-23 21:01] louiscryan commented on #3688
.. actually looking at the contract for Http2FrameWriter I think the flow-controller is in violation of it.

"All of the write methods in this interface write to the context, but DO NOT FLUSH. To perform a flush, you must separately call {@link ChannelHandlerContext#flush()}"

[2015-04-23 21:54] ejona86 commented on #3688
@louiscryan, I strongly disagree. Neither the encoder nor the flow controller should handle it. Instead, it should be handled later in the channel pipeline. Doing so removes the need for passing flush parameters at all. See #3670.

[2015-04-23 21:57] louiscryan commented on #3688
Right, hence my earlier comment about being in violation of the documented contract in Http2FrameWriter.

[2015-04-23 22:07] youngm opened #3689 "Host spot in decoding memcache key"
Hi,

LOVE the new memcache codec!

I'm building a server and while doing some profiling found one of my biggest hot spots was decoding the memcache key:

https://github.com/netty/netty/blob/master/codec-memcache/src/main/java/io/netty/handler/codec/memcache/binary/AbstractBinaryMemcacheDecoder.java#L107

In my server I don't actually need the key to be a String and could make my server faster by n

[2015-04-23 22:10] ejona86 commented on #3688
I don't understand what the flow controller has to do with Http2FrameWriter; I don't see it implementing that interface. But it is true that Http2RemoteFlowController [explicitly states that it will flush](https://github.com/netty/netty/blob/c884847af993fe5bf2cace1dfd9e219b348c7047/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2RemoteFlowController.java#L30).

So @louiscryan, at the p

[2015-04-23 22:40] jieqian opened #3690 "Netty 4.1.0.Beta4 chunk reading incomplete in customer http server handler"
This is my Http Server Main method

    //.....
    EventLoopGroup bossGroup = new NioEventLoopGroup(1);
    EventLoopGroup workerGroup = new NioEventLoopGroup();
    final HttpBackendMgr httpBackendMgr = new HttpBackendMgr();
    try {
        ServerBootstrap b = new ServerBootstrap();
        b.group(bossGroup, workerGroup)
         .channel(NioServerSocketChannel.class)
         .handler(new Ch

[2015-04-23 23:44] louiscryan commented on #3688
DefaultHttp2ConnectionEncoder which implement Http2FrameWriter delegates it's writes to the flow-controller which flushes so it's the encoder that is in violation of its contract.

[2015-04-24 00:54] Scottmitch commented on #3670
@ejona86 - Sorry for the delay...I have not started working on this...just took the assignment so it didn't get lost.

[2015-04-24 00:56] Scottmitch commented on #3689
@youngm - Thanks for reporting!  Are you interested in submitting a PR?  This codec may be getting some updates soon...but not sure when....

[2015-04-24 00:58] Scottmitch commented on #3688
Some one is flushing too much :)  We can also change the contracts to which ever makes more sense....if that helps :)

[2015-04-24 01:20] youngm commented on #3689
@Scottmitch I'd be happy to submit a PR for this if you think the concept is worthy of being accepted.

[2015-04-24 02:12] Scottmitch commented on #3689
Using Strings is not ideal. I can't think of a reason why the binary codec should be using strings at all.  I would need to investigate the codec more to know what is the right way to go about it....but less reliance on strings seems like an improvement.

[2015-04-24 02:26] youngm commented on #3689
@Scottmitch The spec for the binary protocol is somewhat vague but implies in a couple of places that the keys should be text based.  Perhaps I should simply use an AsciiString instead.  That would be simple and would probably solve my hot spot.

Do you think I need to maintain API compatibility with String?  I'm not familiar with Netty's API backwards compatibility standards.

[2015-04-24 03:03] Scottmitch commented on #3689
We keep API compatibility across "major" versions.  So 4.x should be API compatible with 4.1.  A nice exception to this is new stuff doesn't break anything.  The memcache codec is not in 4.0 (which is released) and so it is therefore eligible for API changes.  This codec is targeting the binary protocol https://github.com/memcached/memcached/blob/master/doc/protocol-binary.xml.  I think the majori

[2015-04-24 03:12] youngm commented on #3689
@Scottmitch Sounds good ByteBuf it is.  I'll put together a PR.  Thanks for talking me through this.

[2015-04-24 04:59] alexzk1 opened #3692 "Android SslHandler (4.0.27)"
Basically this one explains:
https://github.com/restlet/restlet-framework-java/issues/852

This one piece of netty code continuously drains memory in server mode until complete phone stuck:
[code]
Log prints:
4689-15730/net.over.paste W/System.err﹕ Android total fix, code: NOT_HANDSHAKING, consumed: 0, status: OKproduced: 37
04-24 07:57:40.842  14689-15730/net.over.paste W/System.err﹕ Android tota

[2015-04-24 06:13] Scottmitch commented on #3692
@alexzk1 - Thanks for reporting! I'm assuming you are referring to this section of code [SslHandler.java#L614](https://github.com/netty/netty/blob/master/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L614)?  It sounds like you have a patch...would you care to submit a PR?

[2015-04-24 06:28] Scottmitch commented on #3692
However it seems like based upon your issue description this may be more of an Android bug?

[2015-04-24 07:03] normanmaurer commented on #3692
@Scottmitch @alexzk1 I guess even if it is just a "workaround" for an Android bug we maybe should include it if it not gives us a performance impact on non-android usage.

[2015-04-24 13:30] alexzk1 commented on #3692
well...it do not work...that was what I tried.
It stops drain memory but...no connection yet. But by log it seems like that guy described.

[2015-04-24 15:57] nmittler commented on #3597
Just started an issue to create benchmarks for hpack: https://github.com/twitter/hpack/issues/23

[2015-04-24 16:27] alexzk1 commented on #3692
Ok guys....android looks completely broken :/ I think need to re implement and provide own SSLEngine fixed ...I was able to bypass shake, but next android consumes 1 byte more than SE and shows checksum error. If I fix consumed by -1 byte it gets infinite loop again...

if (OsHelper.getOS() == Landiscovery.Platform.plANDROID)
                {
                    if (consumed > 0)

[2015-04-25 00:17] buchgr commented on #3655
Let's broaden this issue to talk about the whole headers hierachy.

I would argue we should get rid of `DefaultTextHeaders`, `DefaultBinaryHeaders` and `DefaultConvertibleHeaders` and their respective interfaces. The useful code in text and binary headers can be moved to utility classes and the methods in convertible headers should be part of the HttpHeaders interface and be specific to `String`.

[2015-04-25 00:45] ejona86 commented on #3670
@Scottmitch, np, I wasn't trying to rush you. @louiscryan was just working on some related flushing and if you weren't working on it it might have made sense for him to pick it up.

[2015-04-25 01:51] Scottmitch commented on #3655
+1. I think that the Headers implementation is centralized in DefaultHeaders these are no longer needed.  Used to be that they all has separate implementations....probably should have taken care of this when the headers class hierarchy and APIs were brought together...  These implementations mostly just change return types (just extra code that has to be maintained) and provide utilities already s

[2015-04-26 16:27] nmittler commented on #3655
+1

[2015-04-26 20:13] GoffPaoli opened #3697 "Netty 5 multiple clients"
I've just converted my Netty 3 software to 5 and I've come across a problem. With one client everything is absolutely fine. I can use both decoders (they switch properly) and allow me to login.

The issue arrises when I try to connect another client, regardless if the first client is still connected or not. The first client stays connected absolutely fine but the second client cannot connect at al

[2015-04-27 16:04] #3690 closed

[2015-04-27 18:03] normanmaurer commented on #3680
Fixed

[2015-04-27 18:03] #3680 closed

[2015-04-27 18:05] normanmaurer commented on #3662
Fixed

[2015-04-27 18:05] #3662 closed

[2015-04-27 18:07] normanmaurer commented on #3679
@ened that is exactly the point... it register the OP_WRITE which should wake-up the Selector again once it is writable again. I kind of suspect this is an android bug.

[2015-04-27 18:08] normanmaurer commented on #3676
Closing as this need more info... Please ensure you have:

maven 3.1.1+
java 7+

[2015-04-27 18:08] #3676 closed

[2015-04-27 18:46] normanmaurer commented on #3692
@alexzk1 ok so let us close this as won't fix then

[2015-04-27 18:46] #3692 closed

[2015-04-27 18:46] normanmaurer commented on #3689
@daschl wdyt ?

[2015-04-27 19:15] benmccann commented on #3588
Any update on this? :-)

[2015-04-27 19:45] nmittler commented on #3588
+1 gRPC would like to get this out the door :)

[2015-04-27 19:53] normanmaurer commented on #3588
@benmccann @nmittler let me do it this week for sure!

[2015-04-27 20:08] nmittler commented on #3588
@normanmaurer SGTM ... thanks!

[2015-04-28 05:47] daschl commented on #3689
@normanmaurer thanks for pinging me, I didn't see that one coming in.

The vanilla memcached instances basically require the key to be 250 bytes. In practice people use ASCII or UTF-8 encoded strings, which of course might translate to less than 250 characters given that a character can occupy more bytes.

The main reason to use a string back when I wrote it is that I wanted to have an overlap wit

[2015-04-28 10:10] benevans opened #3698 "Cannot use SCTP unordered flag"
Some applications, e.g. SIP over SCTP ([RFC4168](https://tools.ietf.org/html/rfc4168#section-5.1)), require the use of SCTP's unordered delivery flag.

Currently in Netty there is no way to set the unordered flag on an outgoing message. I assume the place to do this would be in `io.netty.channel.sctp.SctpMessage`, alongside the payload protocol ID and stream ID.

I'm happy to submit a PR but just

[2015-04-28 12:07] jestan commented on #3698
@benevans Current io.netty.channel.sctp.SctpMessage is hiding some controls and, it could have been done better. Initially  it was designed to  work with SIGTRAN protocols and I didn't include ordering/completeness flags, which were not used at that time. Please feel free to send your pull request.

[2015-04-28 13:07] fantayeneh opened #3699 "EventloopGroup shutdownGracefully closes the connections right away."
Trying to implement a graceful shutdown of a netty server.  using version `4.0.21`
As described in the docs we are using

[code]

This is actually shutting down all the connection in the worker group right a way.
Looking into the code it seems that in the `NioEventLoop` the following code seems incorrect

[code]

Making the `closeAll()` call only after the confirmShutdown call  did seem to work. (

[2015-04-28 13:15] mikkokar commented on #3699
At the same token, the documentation for `shutdownGracefully()` can be improved. If our understanding is correct, the intended behaviour is:

[code]

Currently it says:

[code]

[2015-04-28 16:26] nmittler opened #3700 "Compare HPACK encoder/decoder with Twitter implementation"
As discussed in https://github.com/twitter/hpack/pull/24#issuecomment-96905226, Twitter has their own HTTP/2 codec with their own hpack [encoder](https://github.com/twitter/netty-http2/blob/master/src/main/java/com/twitter/http2/HttpHeaderBlockEncoder.java) and [decoder](https://github.com/twitter/netty-http2/blob/master/src/main/java/com/twitter/http2/HttpHeaderBlockDecoder.java).  We should comp

[2015-04-28 18:30] normanmaurer commented on #3698
@benevans @jestan just be sure we need to keep API compat if you want to modify it for 4.0

[2015-04-28 18:31] normanmaurer commented on #3698
@jestan I assigned it to you ;)

[2015-04-28 18:32] nmittler commented on #3390
@Scottmitch where do we currently stand with this? Are we satisfied with the current performance? Should we close this?

[2015-04-28 18:32] normanmaurer commented on #3699
@fantayeneh @mikkokar both sound good to me... @trustin WDYT ?

[2015-04-28 18:38] nmittler commented on #2861
@Scottmitch I think we can close this since we now gracefully handle this case.  WDYT?

[2015-04-28 18:40] nmittler commented on #3569
Fixed by #3576

[2015-04-28 18:40] #3569 closed

[2015-04-28 18:43] nmittler commented on #3700
Related to issue #2809

[2015-04-28 19:30] Scottmitch commented on #3700
+1

[2015-04-28 19:34] Scottmitch commented on #2861
I would expect this to be fixed.  We can open a new issue if necessary.

[2015-04-28 19:34] #2861 closed

[2015-04-28 19:36] Scottmitch commented on #3390
@nmittler - You guys are doing more production benchmarking and if you are satisfied that make me satisfied :)  We can re-visit later if necessary.

[2015-04-28 19:36] #3390 closed

[2015-04-28 19:39] nmittler commented on #2861
@Scottmitch SGTM,  thanks!

[2015-04-28 23:08] Scottmitch commented on #3670
I'll take a stab at this.

[2015-04-29 00:24] buchgr opened #3702 "Race condition in the ChannelPipeline."
We are experiencing a race condition related to the `ChannelPipeline`. The following code has a subtle race that @ejona86 and I found earlier today.

[code]

[code]

So the registration of the channel and the initialization of the pipeline will be done as a task inside the event loop. Also the write to the channel will be done as a task inside the event loop. What's not done inside the event loop

[2015-04-29 06:44] normanmaurer opened #3704 "Remove memory copy when extract frame in LengthFieldBasedFrameDecoder …"
Motivation:

We are currently doing a memory cop to extract the frame in LengthFieldBasedFrameDecoder which can be eliminated.

Modifications:

Use buffer.slice(...).retain() to eliminate the memory copy.

Result:

Better performance.

[2015-04-29 06:45] normanmaurer commented on #3704
Fixed by 4.0 (4c70a99e5a5761d0574f4308be4b6dc371f747df) , 4.1 (891be30a28c6dc5a1edf1cb5a3690644cf4ff66e) and master (4c70a99e5a5761d0574f4308be4b6dc371f747df)

[2015-04-29 06:45] #3704 closed

[2015-04-29 06:54] Scottmitch opened #3705 "Usage of nanoTime"
The recommended usage to compare two instances of [nanoTime](https://docs.oracle.com/javase/7/docs/api/java/lang/System.html#nanoTime%28%29) is `t1 - t0 < 0` instead of `t1 < t0`.  It has been [suggested](https://github.com/netty/netty/pull/3607#discussion_r29312963) there may be instances where we are not using the recommended approach and may be vulnerable to overflow.  Usage of `nanoTime` needs

[2015-04-29 06:56] Scottmitch commented on #3705
@normanmaurer - FYI.

[2015-04-29 07:00] slandelle commented on #3704
:+1:

[2015-04-29 08:48] jestan commented on #3698
@normanmaurer sure, we will do it without breaking the API.

[2015-04-29 09:22] normanmaurer commented on #3705
@Scottmitch thanks will take care!

[2015-04-29 09:23] normanmaurer commented on #3698
@jestan @benevans thanks! Looking forward to a PR !

[2015-04-29 09:59] doom369 opened #3707 "Mutual SSL with OpenSSL"
Hi guys,

I tried to use OpenSSL provider for mutual SSL auth and getting error :

[code]

With JDK provider everything seems fine, with OpenSSL provider without mutual SSL also everything is working. Does OpenSSL provider mutual auth requires some additional configuration?
My code is almost same as in JdkSslEngineTest.class specially in mySetupMutualAuth method.

[2015-04-29 10:01] normanmaurer commented on #3707
@doom369 can you show me the code ?

[2015-04-29 10:05] doom369 commented on #3707
Sure.

Server :

[code]

Client:

[code]

[2015-04-29 10:14] normanmaurer commented on #3707
@doom369 thanks will check.

[2015-04-29 10:14] normanmaurer commented on #3707
@doom369 also which version? :)

[2015-04-29 10:15] doom369 commented on #3707
@normanmaurer 4.0.27.Final

[2015-04-29 14:18] rkapsi opened #3709 "Channel gets closed before response is consumed"
Netty version: 4.1.0-Beta5-SNAPSHOT

Context:

There appears to be a race condition in Netty 4.1.0-Beta w/ Epoll on Linux where Netty (acting as HTTP client) is closing the connection before it's consuming the response from the server that is waiting for it on the wire.

A very simple self-contained repro is available here:

https://github.com/Squarespace/netty-http-client-test

[2015-04-29 15:20] ganskef commented on #3534
-1 Sorry, what's about Android? Is RoboVM a solution here?

[2015-04-29 15:27] slandelle commented on #3534
@ganskef IMHO, Android devs should be using libraries tailored for their needs (ie platform fragmentation). Android's Java is already different from standard one. E.g., I was horrified to discover that Android's "JDK7" purposefully didn't introduce/removed `SSLParameter.setEndpointIdentificationAlgorithm`.

+1 for targeting JDK8

[2015-04-29 15:28] normanmaurer commented on #3534
For Android you will need to stay on 4.1 or lower

[2015-04-29 16:47] ganskef commented on #3534
Ok, I would like the shiny new Java features, too - and I'm failed to
use SSL with Netty on Android - and I would like to use Lucene (depends
on JDK8) instead of SQLite FTS via JNI - and I would like to support
Android and iOS devices. RoboVM seems to provide a JDK8 to do so. The
core is open-source.

Am 29.04.2015 um 17:27 schrieb Stephane Landelle:

[2015-04-29 17:15] chrisprobst commented on #2984
Ok, I finally found some time. I think, I'll start with making the ChunkedWriteHandler async, since writing files asynchronously seems to be more useful for now.

We should discuss the best way of implementing it.
I see two options:

### Option 1:
Create an abstract class implementing ChunkedInput (lets call it ChunkedAsyncInput), which wraps the mechanics of using a future. An abstract implementa

[2015-04-29 18:16] louiscryan commented on #3670
Scott, If you haven't gotten to this already I can pick this up today.

On Tue, Apr 28, 2015 at 4:08 PM, Scott Mitchell <notifications@github.com>
wrote:

[2015-04-29 18:16] #3653 closed

[2015-04-29 18:18] Scottmitch commented on #3670
@louiscryan - Up to you. I just started looking at it.  If you want it then it is yours.

[2015-04-29 18:25] louiscryan commented on #3670
Ill take it if you don't mind. I'm working on some benchmarks in GRPC which
I can use to help validate...

On Wed, Apr 29, 2015 at 11:19 AM, Scott Mitchell <notifications@github.com>
wrote:

[2015-04-29 18:29] normanmaurer commented on #3670
@louiscryan cool :)

[2015-04-29 18:29] Scottmitch commented on #3670
@louiscryan - You got it. Would you mind closing https://github.com/netty/netty/pull/3691?

[2015-04-29 21:10] louiscryan commented on #3670
Closed #3691

[2015-04-29 23:05] ganskef commented on #3534
Sorry, I had a closer look. RoboVM is based on Android code base, not OpenJDK 8 und Lucene depends on JDK7 (but therefore I've used sqlite4java).

[2015-04-30 00:05] louiscryan opened #3711 "CompressorHttp2ConnectionEncoder is flushing in writeData"
@Scottmitch @ejona86

Use of EmbeddedChannel in the compressor causes writes to the channel to become flushed immediately to the wire.

See EmbeddedChannel.writeOutbound

at io.netty.channel.AbstractChannelHandlerContext.flush(AbstractChannelHandlerContext.java:474)
    at io.netty.channel.ChannelHandlerAdapter.flush(ChannelHandlerAdapter.java:277)
    at io.netty.channel.ChannelHandlerInvokerUtil

[2015-04-30 00:12] Scottmitch commented on #3711
@louiscryan - We may be able to avoid using embedded channel (especially if it is causing heart-ache). It was just used to be consistent with the codec-http.

[2015-04-30 00:23] louiscryan commented on #3688
Closing. Work will now be tracked in https://github.com/netty/netty/issues/3670

[2015-04-30 00:23] #3688 closed

[2015-04-30 00:56] ejona86 commented on #3711
@louiscryan, I don't think that flush actually matters. The flush occurs, but isn't going to actual I/O. Instead, the buffers wait until [nextReadableBuf()](https://github.com/netty/netty/blob/c98195714d393a71acd315d989887c97c217d389/codec-http2/src/main/java/io/netty/handler/codec/http2/CompressorHttp2ConnectionEncoder.java#L280). All the buffers returned from `nextReadableBuf()` seem to just go

[2015-04-30 02:11] Scottmitch commented on #3711
Yes it should not be going out to I/O directly, it will go through a `writeData`.  The EmbeddedChannel is a bit of a convenience / hack to re-use the compression libraries because they are setup to use channels.

[2015-04-30 06:10] buchgr commented on #3705
@Scottmitch ahh that's a very good point. I have just this week been bitten by this and wondered why I got negative deltas :-)

[2015-04-30 06:46] #3698 closed

[2015-04-30 07:24] slandelle commented on #3705
@buchgr You can also have negative deltas because you're measuring start on one core, and end on another one (typically in a callback running in another thread) and cores are not always sync'ed. This is more likely to happen under load.

[2015-04-30 10:27] normanmaurer commented on #3218
Now in 4.0, 4.1 and master :)

[2015-04-30 10:27] #3218 closed

[2015-04-30 10:28] normanmaurer commented on #3709
@rkapsi will check...

[2015-04-30 13:12] naude-r opened #3715 "HTTP HEAD response generates a body with compression"
Hi,

This is a similar situation as resolved with #3121. Issue was found with netty 4.0.27, although earlier versions may also have the same issue.

The use case is as follows:
1. netty based http proxy server
2. netty client performs HTTP HEAD
3. back-end (tomcat) returns HTTP HEAD response
4. proxy (HttpClientCodec) generates two response objects:
  - DefaultHttpResponse (with HEAD response), fo

[2015-04-30 13:29] normanmaurer commented on #3623
Fixed

[2015-04-30 13:29] #3623 closed

[2015-04-30 17:36] nmittler commented on #3597
FYI, the benchmarks have been committed for hpack. See https://github.com/twitter/hpack/pull/24#issuecomment-96060432 for preliminary results.

[2015-05-01 14:10] rkapsi commented on #3709
Any luck to repro it?

[2015-05-01 14:41] normanmaurer commented on #3709
Soory had no time yet to try it

[2015-05-01 15:46] nmittler commented on #3588
@normanmaurer is this still on your radar?

[2015-05-01 15:51] normanmaurer commented on #3588
Yes :)

[2015-05-01 19:54] louiscryan opened #3717 "Http2LocalFlowController.consumeBytes should indicate if write occurred"
Calls to Http2LocalFlowController.consumeBytes can trigger the generation of a WINDOW_UPDATE to the remote side. Callers of this method need to know if they should flush because an update was sent

[2015-05-01 20:19] nmittler commented on #3717
+1

[2015-05-01 20:26] Scottmitch commented on #3717
SGTM. @louiscryan - are you working on a PR?

[2015-05-01 21:26] louiscryan commented on #3717
Not yet but feel free to assign to me.

On Fri, May 1, 2015 at 1:27 PM, Scott Mitchell <notifications@github.com>
wrote:

[2015-05-01 21:40] Scottmitch commented on #3256
I didn't hear anything back from the first email...sending another email.

[2015-05-01 22:03] Scottmitch commented on #3717
@louiscryan - I guess I can't assign to you...I'll just keep the assignment for now.

[2015-05-02 10:42] oracleocm commented on #447
@hepin1989 哥们,还是用数t据说话..你看上面 youtobe 里面那俩老外 表现的多好，你好厉害。89年的 就熟悉的这么多

[2015-05-02 15:23] hepin1989 commented on #447
@oracleocm netty will not dependent on other project ,you can see it right?

[2015-05-03 19:54] normanmaurer commented on #3709
@rkapsi will check tomorrow morning!

[2015-05-03 19:55] normanmaurer commented on #3707
@doom369 working on it...

[2015-05-03 22:59] doom369 commented on #3707
Cool, thanks. I haven't yet a time to investigate by myself.

[2015-05-04 05:58] normanmaurer commented on #3702
@trustin thoughts ? Maybe we could defer the findContextOutbound() if the Channel is not registered yet. WDYT ?

[2015-05-04 07:24] rjbhewei opened #3718 "netty close client connection"
Netty version: 5.0.0.Alpha2
use this for server test

bossGroup = new NioEventLoopGroup(1);
        workerGroup = new NioEventLoopGroup();
        ServerBootstrap bootstrap = new ServerBootstrap();
        bootstrap.option(ChannelOption.SO_BACKLOG, 1024);
        bootstrap.option(ChannelOption.SO_REUSEADDR, true);
        bootstrap.option(ChannelOption.TCP_NODELAY, true);
        bootstrap.option(

[2015-05-04 09:31] bobwenx commented on #3718
maybe related to issue: https://github.com/netty/netty/issues/3709#issuecomment-98141356

[2015-05-04 09:37] slandelle commented on #3718
@bobwenx Could be. The client is AHC but the user didn't provide enough information, like the version. There was a [bug](https://github.com/AsyncHttpClient/async-http-client/issues/848) that could produce such failure, but it was fixed and release a month ago.

[2015-05-04 09:54] rjbhewei commented on #3718
![image](https://cloud.githubusercontent.com/assets/8099839/7451722/96e91ce0-f286-11e4-9f93-c56cd340ac3f.png)

[2015-05-04 09:56] rjbhewei commented on #3718
i find the red frame don't deal the real ，for example client sent 150 request but in the red frame only get the 137

[2015-05-04 09:59] slandelle commented on #3718
@rjbhewei Do you 150 frames on the server side with Wireshark?

[2015-05-04 10:00] rjbhewei commented on #3718
AHC version
<dependency>
            <groupId>com.ning</groupId>
            <artifactId>async-http-client</artifactId>
            <version>1.9.17</version>
        </dependency>

use  like this
![image](https://cloud.githubusercontent.com/assets/8099839/7451788/6b276cd2-f287-11e4-8dbe-72097ad7d5c7.png)

AHC use 5 thread and one thread loop send async http request  30 count

[2015-05-04 10:01] rjbhewei commented on #3718
i get the red frame deal num used intellij breakpoints like this
![image](https://cloud.githubusercontent.com/assets/8099839/7451807/a33c7f40-f287-11e4-8149-32a28548ab6d.png)

[2015-05-04 10:02] trustin opened #3719 "testsuite-osgi fails on 'mvn package' with no snapshot JARs installed."
When your local Maven repository has no SNAPSHOT build of Netty installed and you run `mvn package`, testsuite-osgi will fail at the test phase.  It is because the paxexam's `mavenBundle` refers to the bundle as the JAR in the local Maven repository, which was never installed.  The build will fail until 1) a user runs `mvn install` to install the JARs to the local Maven repository, or 2) a user ru

[2015-05-04 10:03] slandelle commented on #3718
@rjbhewei A Java debugger won't tell you what's on the wire.

Then, please read my above comment: there was an issue that was fixed in AHC 1.9.18 (latest is 1.9.20)!

[2015-05-04 10:04] rjbhewei commented on #3718
but the LoggingHandler only 137 same with the debugger

[2015-05-04 10:05] rjbhewei commented on #3718
![image](https://cloud.githubusercontent.com/assets/8099839/7451840/13ad2f22-f288-11e4-9692-4b544dd0691c.png)

[2015-05-04 10:05] trustin commented on #3719
/cc @rovarga Any suggestions?

[2015-05-04 10:06] trustin commented on #3719
Another big problem of `testsuite-osgi` is that it tests against the wrong build when a user runs `mvn package`.  It will test with the *old* JARs installed in the local M2 repo.

[2015-05-04 10:07] slandelle commented on #3718
So what? The client only sent 137 requests because of the mentioned issue.

[2015-05-04 10:08] rjbhewei commented on #3718
my project server use netty5  which version is 5.0.0.Alpha2
i use AHC test the server  for pressure test
i use 10 thread and one thread loop 10000 ,i find the netty5 server sametimes had same request, and take exception
so AHC config builder.setMaxRequestRetry(0); find  "│java.io.IOException: Remotely closed" exception

[2015-05-04 10:09] rjbhewei commented on #3718
client sent 150 and only get 137

[2015-05-04 10:11] slandelle commented on #3718
You're getting me nuts. Giving up. Bye.

[2015-05-04 10:26] rjbhewei commented on #3718
issue example is client send 100  and server get 97
my poject is client send 10 *10000
and just now i said client send 5*30 and server get 137

[2015-05-04 11:45] normanmaurer commented on #3709
@rkapsi thanks! I can reproduce locally :)

[2015-05-04 12:11] normanmaurer commented on #3718
@rjbhewei please can you move this to the AHC project as this looks more like an AHC bug (if any) then a Netty one.

[2015-05-04 12:11] #3718 closed

[2015-05-04 12:12] normanmaurer commented on #3715
@naude-r can you provide a test-case ?

[2015-05-04 12:12] oracleocm commented on #447
@hepin1989 wo jue de tamen shi zai xiagao

[2015-05-04 12:13] normanmaurer commented on #447
@oracleocm please speak english in our issue tracker.

[2015-05-04 12:13] daschl commented on #447
@hepin1989 that is true, there are no plans to have a dependency on a third party project any time soon.

[2015-05-04 12:14] daschl commented on #447
@normanmaurer that guy is a bot I think (https://github.com/oracleocm?tab=activity)

[2015-05-04 12:18] rjbhewei commented on #3718
@normanmaurer   https://github.com/AsyncHttpClient/async-http-client/issues/872 is close by @slandelle
he said mybe server bug  and you said is AHC client bug
both issues are closed

[2015-05-04 12:27] slandelle commented on #3718
@normanmaurer @rjbhewei No, I first said that this was a possible normal HTTP behavior because I assumed you properly did some basic checks before reporting an issue:
* check latest version
* check release notes

When you finally provided the version of AHC you were using, I told you [here](https://github.com/netty/netty/issues/3718#issuecomment-98651442) and [in the issue you opened in AHC](https

[2015-05-04 13:33] hepin1989 commented on #447
@normanmaurer what he said in chinese PINYIN is that :"what they are doing is stupid."shame of that!

[2015-05-04 14:12] rkapsi commented on #3709
@normanmaurer great, glad to hear that it's reproducible.

[2015-05-04 14:12] rjbhewei commented on #3718
@slandelle  check out the latest AHC (2.0.0-SNAPSHOT) version ,the bug still appear

[2015-05-04 14:13] rjbhewei commented on #3718
i will still find why tomorrow

[2015-05-04 14:36] normanmaurer commented on #3709
Would you grant us rights to include your testcode in Netty ? Or some code based on it?

[2015-05-04 14:38] rkapsi commented on #3709
Yea, just remove the com.squarespace from the pkg name.

[2015-05-04 14:50] normanmaurer commented on #3709
Awesome :) expect a fix and nee release soon

[2015-05-04 14:54] slandelle commented on #3709
@normanmaurer Do the other branches experience the issue too?

[2015-05-04 14:58] normanmaurer commented on #3709
Yes but only SNAPSHOTS with epoll

[2015-05-04 15:00] slandelle commented on #3709
Ok, thanks!

[2015-05-04 16:51] trustin commented on #447
This thread went way too far. Closing and locking.

So far, nobody is known to have attempted to replace Netty's internal event queue with Disruptor. I guess it's because it's impossible to do that in a single simple short-term task.  If you are interested, please consider to propose the necessary internal changes in a new pull request or a new discussion issue.

[2015-05-04 16:51] #447 closed

[2015-05-04 16:52] normanmaurer commented on #447
@trustin +1

[2015-05-04 17:34] ejona86 opened #3721 "http2: writePing does not verify data.readableBytes() == 8"
When [writing the ping frame](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameWriter.java#L238), we aren't verifying that the length is 8, as required by the spec:

The check [is being performed](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameReader.java#L332) for

[2015-05-04 18:06] lkoszanski opened #3722 "OpenSSL zlib compression (DEFLATE) broken in Netty 4.0.27.Final and netty-tcnative-1.1.32.Final"
When using Netty with OpenSSL and zlib compression enabled I get the following error:

io.netty.handler.codec.DecoderException: javax.net.ssl.SSLException: error:1408F119:SSL routines:SSL3_GET_RECORD:decryption failed or bad record mac
    at io.netty.handler.codec.ByteToMessageDecoder.callDecode(ByteToMessageDecoder.java:346)
    at io.netty.handler.codec.ByteToMessageDecoder.channelRead(ByteToMe

[2015-05-04 18:51] buchgr commented on #3702
@normanmaurer even after the pipeline is set up, the race remains: If a handler is removed, it might not exist anymore at the time the write task is executed, or more general the pipeline might be different at the time the write is executed and new handlers might have been added or removed since the task has been created.

Again, I am not sure if this is a bug or expected behaviour.

[2015-05-04 22:21] Scottmitch opened #3724 "HTTP/2 headers with END_STREAM writes a RST_STREAM"
If a headers frame is written with the END_STREAM flag sent we send a RST_STREAM frame.  The remote flow controller should not generate a RST_STREAM in this case.

[2015-05-04 22:21] Scottmitch commented on #3724
@nmittler @buchgr - I have a pending PR for this.

[2015-05-04 22:51] Scottmitch commented on #3717
@nmittler Merged https://github.com/netty/netty/issues/3723.  I will close this issue.

[2015-05-04 22:51] #3717 closed

[2015-05-05 02:39] clebertsuconic opened #3726 "[discussion] libaio implementation on the native layer"
Linux has a nice kernel module to write and read native files called libaio

This patch will use open(O_direct), Use Native buffers and callbacks on writing files.

[2015-05-05 02:40] clebertsuconic commented on #3726
I'm looking into doing this, and first thing I noticed is that there is FileDescriptor which will open files, but I need an extra flag (O_DIRECT) on the open.

So, I'm thinking about adding a new native method to FileDescriptor and use the same class.

Any objectios or ideas?

[2015-05-05 02:43] Scottmitch commented on #3726
@normanmaurer - Can you address this one?

[2015-05-05 02:47] clebertsuconic commented on #3726
Also: another question I have is... libaio is only available on Linux. is the native module being compiled in other systems other than Linux, and if so, is there a selective compilation option on the scripts? I looked over and I didn't find it.

[2015-05-05 03:10] normanmaurer commented on #3726
@clebertsuconic yeah this sounds fine to me (about FileDescriptor). I would just put it in the transport-native-epoll module for now which will only be compiles on linux.

[2015-05-05 07:00] naude-r commented on #3715
@normanmaurer please see the modified HttpStaticFileServer gist https://gist.github.com/naude-r/1fd5861743fbc2812650

test scenario is as follows:
* ./run-example.sh http-file-server
* curl -0 -v -X HEAD -H 'Accept-Encoding: gzip' http://localhost:8080/pom.xml
* view result with wireshark (output as above)

[2015-05-05 07:21] naude-r commented on #3715
from http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html:

[2015-05-05 14:53] nmittler commented on #3717
@Scottmitch thanks, I forgot to close this :)

[2015-05-05 20:07] nmittler opened #3731 "Investigate implementation of HTTP/2 graceful shutdown"
The HTTP/2 spec calls out a suggested sequence for a graceful shutdown: https://tools.ietf.org/html/draft-ietf-httpbis-http2-17#section-6.8.

The idea being that a graceful shutdown consists of 2 GOAWAYs, where the first is NO_ERROR with lastKnownSream = MAX_INT.  After a RTT, a second GOAWAY is sent with the actual last known stream.

[2015-05-05 22:04] rovarga commented on #3719
I am drawing blanks right now, as I will need to delve more deeply into the workings maven/exam to understand how we can refer to the reactor artifacts rather than .m2 ones. I am afraid I won't be able to do that in the next two weeks, though :-(

[2015-05-05 23:59] louiscryan opened #3736 "Http2 flow controller should implement adaptive stream window sizes"
Stream window size should increase to a larger proportion of the available connection window size in response to the processed window crossing the window update threshold.

By default the initial window size for a stream is 64k which when processing a large stream of data can cause a significant no. of window updates to be written. If we make the assumption that we've exhausted it once then we're

[2015-05-06 01:11] louiscryan opened #3737 "HTTP2 should coalesce contiguous received DATA frames"
For larger payloads they are often split into 16k chunks based on the max allowed frame size setting. Even if these chunks are contiguous for a stream we report them individually to Http2FrameListener which can cause sub-optimal interactions with the flow-controller if the application returns bytes based on each chunk individually.

Given a flow-control window of 64k, a caller could immediately is

[2015-05-06 01:40] ThomasLau opened #3738 "[typo]it seems to be a typo 'reyclable' in RecyclableArrayList"
in line 28,it writes '* A simple list which is reyclable.' ,i guess here should be recyclable. :p

[2015-05-06 01:58] trustin commented on #3719
@rovarga No worries. Please take your time. I'll move the test to the `install` phase meanwhile.

[2015-05-06 03:43] normanmaurer commented on #3738
We love PR's ;)

[2015-05-06 04:23] normanmaurer commented on #3675
@gsoltis I think the change fixed it... Please re-open if you still see the issue.

[2015-05-06 04:23] #3675 closed

[2015-05-06 04:32] gsoltis commented on #3675
Will do, thanks for your help!

On Tue, May 5, 2015 at 9:23 PM, Norman Maurer <notifications@github.com>
wrote:

[2015-05-06 05:17] ejona86 commented on #3737
@louiscryan, in your example, did you intend to say the sender initially sends 3x 16k + 16k-1 ? In your current example as soon as the initial 64k is processed locally WINDOW_UPDATES return the entire 64k, albeit in two 32k WINDOW_UPDATES.

From my current understanding, the request seems misguided and maybe even a mis-feature. You don't want WINDOW_UPDATES to be batchy, as that means you are unde

[2015-05-06 05:56] ThomasLau commented on #3738
thanks @normanmaurer  i just pulled it.:)

[2015-05-06 05:56] #3738 closed

[2015-05-06 07:15] normanmaurer commented on #3707
@doom369 fixed via #3732

[2015-05-06 07:15] #3707 closed

[2015-05-06 09:12] doom369 commented on #3707
Just checked it with latest SNAPSHOT. It works! Thank you for quick fix!

[2015-05-06 14:17] nmittler commented on #3736
Just to keep things simple, would it make sense to just always expand the stream windows to the `max(initialConnectionWindow, initialStreamWindow)`? Since the initial stream window size can theoretically be made larger than the connection window size via `WINDOW_UPDATE`.

[2015-05-06 16:30] louiscryan commented on #3737
I think there is still significant benefit here.

If returning bytes to the flow-controller is being done on the network thread then with the current behavior we will delay the flush of the window update until channelReadComplete so that is already batched. Not only that but consumption of the data frames following the trigger to window update which has now occurred is not acknowledged back to the

[2015-05-06 16:31] louiscryan commented on #3736
Yup, I would be happy with that.

[2015-05-06 16:41] ejona86 commented on #3737
It seems you are conflating a problem we have in gRPC with a problem in Netty. That seems like it should be solved by our code, and I see nothing that would prevent us from doing so (buffer until channelReadComplete(), then send frames to other thread).

[2015-05-06 16:51] Scottmitch commented on #3736
@louiscryan - I see the potential benefit here but I'm a bit hesitant to put these types of heuristics in the flow controller. Not against it but just want to explore our options. Is it possible to implement this on top of the flow controller, or provide more hooks into when window updates are sent to be able to react (increment initial window size for the stream)?

[2015-05-06 17:12] normanmaurer opened #3746 "Create SPSC queue"
To even more optimise the LocalChannel we may want to write our won SPSC queue.

See https://github.com/netty/netty/pull/3742/files#r29778620

[2015-05-06 18:09] nelsnelson opened #3747 "JRuby subclass of SimpleChannelInboundHandler erases generics information; no other way to specify I"
Netty version: 4.0.27.Final

Context:
Because JRuby erases generics information, the `TypeParameterMatcher` instance for `SimpleChannelInboundHandler` cannot appropriately determine how to handle an inbound message.  Instead, the inbound message parameter apparently defaults to an instance of `SimpleLeakAwareByteBuf`.

Even if I override `SimpleChannelInboundHandler#acceptInboundMessage(...)` to u

[2015-05-06 19:12] normanmaurer commented on #3747
@nelsnelson can you show us how you init your ChannelPipeline ?

[2015-05-06 20:32] normanmaurer commented on #3709
Fixed

[2015-05-06 20:32] #3709 closed

[2015-05-06 20:40] nelsnelson commented on #3747
DECODER = StringDecoder.new
    ENCODER = StringEncoder.new

    def initChannel(ch)
      pipeline = ch.pipeline()

      ssl_handler = @sslCtx.newHandler(ch.alloc()) if @sslCtx
      pipeline.addLast(ssl_handler) if ssl_handler
      # Add the text line codec combination first,
      pipeline.addLast(DelimiterBasedFrameDecoder.new(8192, Delimiters.lineDelimiter()))
      # the encoder and decode

[2015-05-07 00:48] ejona86 commented on #3737
@louiscryan and I discussed offline. He is interested in combining DATA frames when 1) they are contiguous in the same ByteBuf, 2) for the same stream, and 3) later frames are complete. The primary goal is to promote smaller frames into larger frames to gain the lower overhead advantages of larger frames without actually negotiating them. This sounds fine to me, with the above restrictions.

I was

[2015-05-07 01:51] benmccann commented on #3588
@normanmaurer friendly weekly reminder ping :-)

[2015-05-07 01:53] trustin commented on #3588
No pressure, but I am also waiting for you as well now. Good time to
write an automatic release note generator? ;-)

[2015-05-07 05:43] normanmaurer commented on #3588
@trustin please review
https://github.com/netty/netty/pull/3750 . After this is merged I will release. Already in process if releasing netty-tcnative-1.1.33.Fork2

[2015-05-07 07:09] naude-r commented on #3715
@normanmaurer  have submitted PR #3753 as fix for the problem. the fix feels hackish but could not find a better solution.

[2015-05-07 09:23] whybe opened #3755 "LEAK: ByteBuf.release()"
I made a simple tcp server using `rxnetty 0.4.8` like below source code.

[code]

On advanced leak mode.
[code]

[2015-05-07 09:37] lime62 opened #3756 "Duplicate code in NativeLibraryLoader"
`NativeLibraryLoader` has some functions which are similar to `PlatformDependent`'s.

For example,
- tmpdir()
- toDirectory()
- isWindow()

I wonder if these can be replaced with functions of `PlatformDependent`.
WDYT?

[2015-05-07 10:21] normanmaurer commented on #3755
@whybe please ask on the rxnetty project. O guess you need to setup some handler or such.

[2015-05-07 10:21] #3755 closed

[2015-05-07 20:44] ejona86 opened #3758 "HTTP/2 examples don't work with JDK SslProvider"
The examples make an effort to swap to OpenSsl if it supports ALPN. However, if the JDK SslProvider is selected, then it will fail with (server-side):
[code]

And on client-side:
[code]

Swapping to a JDK-supported behavior, like FATAL_ALERT, succeeds.

[2015-05-07 22:51] Scottmitch commented on #3758
@ejona86 - Thanks for reporting. I'll pick something that is supported by both JDK and OpenSSL.

[2015-05-07 23:19] Scottmitch commented on #3758
I have a PR pending for this...

[2015-05-08 04:49] WhiteTrashLord opened #3760 "Bad design of AbstractEpollStreamChannel spliceTo"
The new spliceTo functions seem to be cool but I don't like the current design.
The offset and len parameters should be long instead of int. Some crazy dudes might want to transfer several GB of data, or not?
I also don't like the use of Integer.MAX_VALUE to copy infinitely. You might create a new constant EpollStreamChannel.INFINITE_TRANSFER which is -1 or something like that. Or maybe a spliceTo

[2015-05-08 08:21] whybe commented on #2412
I'm using netty-4.0.25-final, but it appeared the WARNNIG unfortunately.
I don't know what is the name of machine running app, but the result of its `uname -a` is `HP-UX nateifsd B.11.11 U 9000/800 3537491374 unlimited-user license`.
And java version is
[code]

How can I avoid this warning?

[2015-05-08 10:31] dmk23 opened #3761 "errors decoding cached records in DNS resolver/codec (IP address from A records)"
#### Netty Version
4.1.0.Beta5 (using latest code/API per https://github.com/netty/netty/commit/63a02fc04e6ce45aee38b0437ae0279880e5fe40 @trustin )

#### Context
I've been trying to use the new DNS resolver on a mix of MX and A records together. While there is a great example for MX resolution (in here https://github.com/netty/netty/blob/netty-4.1.0.Beta5/resolver-dns/src/test/java/io/netty/resolv

[2015-05-08 12:04] jesperpedersen opened #3762 "Buffered streams for OIO"
Currently OioSocketChannel doesn't make use of buffered streams which could benefit performance (https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/channel/socket/oio/OioSocketChannel.java#L80 and https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/channel/socket/oio/OioSocketChannel.java#L200).

However, just wrapping these method calls causes test

[2015-05-08 14:47] nmittler commented on #3490
I've encountered this as well.

@kubes were you going to throw together a PR?

[2015-05-08 14:50] kubes commented on #3490
@nmittler I haven't had time to yet.  In the middle of a big project.  I may have some time in a couple weeks, if so I can put something together.  Let me know if you have time to do it before then.

[2015-05-08 15:41] nmittler commented on #3490
Created PR #3764

[2015-05-08 15:48] bobymicroby opened #3765 "HTTP/2 examples doesn't work with Chrome 42.0.2311.135 (64-bit) on OSX 10.10.3 , Java 1.8.0_45-b14 , Netty 5.0.0.Alpha3-SNAPSHOT"
The request stays as "pending"  forever

![image](https://cloud.githubusercontent.com/assets/927575/7539825/5457c9ba-f5b2-11e4-96d0-a5620b54ef8b.png)

The debug output:
May 08, 2015 6:45:27 PM io.netty.handler.logging.LoggingHandler channelRead
INFO: [id: 0x4d9163c8, /0:0:0:0:0:0:0:0:8080] RECEIVED: [id: 0x2e91accb, /127.0.0.1:64231 => /127.0.0.1:8080]

--------------------------------------------

[2015-05-08 16:41] Scottmitch commented on #3758
Addressed by https://github.com/netty/netty/issues/3767

[2015-05-08 16:41] #3758 closed

[2015-05-08 16:51] Scottmitch commented on #3765
@bobmcwhirter - Thanks for reaching out!

What flags are you starting chrome with?  Are you starting the example with the `-Dssl` flag?

[2015-05-08 16:54] normanmaurer commented on #3765
@Scottmitch it's @bobymicroby ;)

[2015-05-08 16:55] Scottmitch commented on #3765
In order for the example to work with chrome you will have to change Netty's http2 ALPN token from [h2-17](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2CodecUtil.java#L39) to `h2-14`.

[2015-05-08 17:08] bobymicroby commented on #3765
@Scottmitch No ssl,  the netty build is from master. I was expecting that Http2OrHttpHandler to select http 1 protocol if unable to upgrade.  Where do  you suggest me to implement the  fallback logic ?

[2015-05-08 18:28] Scottmitch commented on #3765
@bobymicroby - I observe the same behavior without `-Dssl` option when starting the `http2-server` example. However with the `-Dssl` option I am able to negotiate to `HTTP_1_1` (if I change nothing) and able to negotiate to `HTTP_2` if I change the version to `h2-14`.  I'm not sure that chrome or firefox support clear text mode for HTTP/2.  I think the reason why you are seeing the client example

[2015-05-08 18:36] bobymicroby commented on #3765
@Scottmitch Don't you think its best always to revert to http 1 if you cannot negotiate 2 ?

[2015-05-08 18:41] Scottmitch commented on #3760
@normanmaurer - I will assign to you...just some thoughts...

1. length data type we expose - [splice](http://man7.org/linux/man-pages/man2/splice.2.html) supports a `size_t` length and for linux we *should* be able to use a `jlong` for this.
2. Using `Integer.MAX_VALUE` for indefinite splice -  I agree we should not use a legitimate value from the input domain as special meaning.

[2015-05-08 18:47] nibuen opened #3768 "HttpPostRequestEncoder incorrect "charset=charset" definition on Android"
When using HttpPostRequestEncoder and trying to set an attribute if a charset is defined it attempts to set the definition of charset like so:

                internal.addValue(HttpHeaderNames.CONTENT_TYPE + ": " +
                        HttpPostBodyUtil.DEFAULT_TEXT_CONTENT_TYPE + "; " +
                        HttpHeaderValues.CHARSET + '='
                        + localcharset + "\r\n");

wh

[2015-05-08 19:22] Scottmitch commented on #3765
@bobymicroby - Good point. Even though the example is to demonstrate HTTP/2 functionality I guess we should send some kind of response for http only clients.  I'll put together a PR.

[2015-05-08 19:28] bobymicroby commented on #3765
@Scottmitch Something like  " Hello old world. I was unable to negotiate a good protocol upgrade, but at least your request got served "   :)

[2015-05-08 20:14] #3490 closed

[2015-05-10 15:57] fantayeneh opened #3770 "SimpleChannelPool is not using the bootstrap channel intializer"
The newly added SimpleChannelPool in version `(4.0.28)` overrides the handler set by the user with a new one.
[code]

This means the `ChannelInitializer` i set into the `Bootstrap` will not be used to initialize the channel. Is this by design?

Fanta

[2015-05-10 18:22] normanmaurer commented on #3770
@fantayeneh yes this is by design. You would implement your pipeline setup login in your ChannelPoolHandler

[2015-05-10 18:22] #3770 closed

[2015-05-10 18:22] normanmaurer commented on #3768
@fredericBregier could you check ?

[2015-05-10 21:41] fredericBregier commented on #3768
@normanmaurer I propose a fix (master branch, but all branches concerned).
@nibuen Nice catch !

[2015-05-11 04:38] normanmaurer commented on #3768
Fixes merged in

[2015-05-11 04:38] #3768 closed

[2015-05-11 15:14] rkapsi opened #3775 "SslContextBuilder has conflicting conditions in keyManager(...)"
The `keyManager(File, ...)` and `keyManager(KeyManagerFactory)` methods have conflicting conditions for the server SslContextBuilder.

Or SslContextBuilder is missing an argument-less `forServer()` method.

[code]

[code]

[2015-05-11 16:36] normanmaurer commented on #3775
@ejona86 can you check ?

[2015-05-11 16:48] ejona86 commented on #3775
There should be a `SslContextBuilder.forServer(KeyManagerFactory)` but it is missing. Workaround is to provide any `File` (doesn't need to exist) to `forServer()` and then change the configuration.

[code]

I'll create a PR to add the missing method.

[2015-05-11 16:49] normanmaurer commented on #3775
@ejona86 :beers: on me ;)

[2015-05-11 17:39] ejona86 commented on #3775
@normanmaurer, I have discovered the method of getting :beers:: introduce bugs, then fix the bugs. :-)

[2015-05-11 17:40] normanmaurer commented on #3775
@ejona86 lol

[2015-05-11 18:47] normanmaurer commented on #3761
@trustin can you check ?

[2015-05-11 20:12] #3775 closed

[2015-05-12 03:44] trustin commented on #3761
Will take a look.

[2015-05-12 03:52] trustin commented on #3761
A workaround could be to use `ByteBuf.getInt()` instead of `readInt()`:

    InetAddresses.fromInteger(recordContent.getInt(recordContent.readerIndex()))

@dmk23, could you try it and let me know if this fixes your problem?

[2015-05-12 04:01] dmk23 commented on #3761
How would ByteBuf.getInt() find the right index to read? Seems to me once the buffer has been read once it is stuck at the end and needs to be reset somehow before the cached record is re-read?

Sorry, if I am missing something I just started working with Netty this week :)

[2015-05-12 06:19] trustin commented on #3761
Because we specified the index? - recordContent.getInt(**recordContent.readerIndex()**)

Also, please note that `getInt()` does not update the reader index of the buffer. So, unless you changed the reader index of the content, it should not change.

[2015-05-12 08:50] normanmaurer commented on #3760
@WhiteTrashLord thanks for the feedback. I think it makes sense, let me come up with something :)

[2015-05-12 10:28] aotgc opened #3778 "Support Google's QUIC protocol"
Since it supports the UDT protocol, why not support QUIC protocol?

[2015-05-12 10:31] normanmaurer commented on #3778
@aotgc because nobody wrote it yet ;) We love contributions though...

[2015-05-12 11:36] trustin commented on #3778
Changed the title.

[2015-05-12 21:51] benmccann commented on #3588
@normanmaurer looks like https://github.com/netty/netty/pull/3750 was merged. Wanted to check in again to see if a release might be possible now. Thanks again!

[2015-05-13 09:17] doom369 opened #3779 "Strange error when using OpenSSL with Netty and mutual SSL"
Hello,

I have service with hundreds of mobile users and all works fine during long term run, but sometimes I see in logs

[code]

Do you aware of what that could be?  The all info I have - users connected through 3g. So maybe slow connection could be an issue?

Netty 4.0.28.Final.

[2015-05-13 09:24] doom369 commented on #3760
I also have a question here :
Why "Both channels need to be registered to the same EventLoop"? Is that because of performance reasons or because of netty design?

I have a scenario in which I have a proxy that forwards messages between two event loops...

[2015-05-13 10:00] normanmaurer commented on #3779
@doom369 this most likely means that the user either send bad data or dropped the connection during handshake.

[2015-05-13 10:00] #3779 closed

[2015-05-13 11:32] jknair commented on #3779
@normanmaurer is the following exception also when the user has sent bad data or dropped the connection
[code]

there seems to be a bug reported : https://bugs.launchpad.net/ubuntu/+source/openssl/+bug/861137

Tried using only ```"RC4-SHA"``` as the cipher as suggested in the posts in the above link but have not been able to rectify this

[2015-05-13 16:21] Scottmitch commented on #3588
Release has been cut.

http://netty.io/news/2015/05/07/4-1.html

[2015-05-13 16:21] #3588 closed

[2015-05-13 16:37] benmccann commented on #3588
Thanks you guys!

[2015-05-13 17:53] zoowar opened #3780 "ChannelInitializer does not propagate Exceptions"
Netty version: 5.0.0.Alpha2 (but others as well)

Context:
When an exception occurs in a user defined initChannel, it is not propagated through the framework so that it can be handled with exceptionCaught. Instead, channelRegistered logs a warning and dumps a stack trace.

Steps to reproduce:
Throw a generic exception in an initChannel from the netty examples should do the trick.

[2015-05-13 21:30] ejona86 commented on #3670
Does it seem like this can be closed now?

[2015-05-13 23:05] Scottmitch commented on #3670
@ejona86 - I think so.  If we need to reduce flushing more we can open another issue.

@louiscryan - You mentioned you were doing performance testing in this area.  Do you have any results to report?

[2015-05-13 23:05] #3670 closed

[2015-05-13 23:18] louiscryan commented on #3670
Scott

See benchmark notes in https://github.com/grpc/grpc-java/pull/431 for
before / after impact of write & flush coalescing in grpc

On Wed, May 13, 2015 at 4:05 PM, Scott Mitchell <notifications@github.com>
wrote:

[2015-05-14 02:04] clebertsuconic commented on #3726
@normanmaurer I need to add -laio to the linker on this hawtjni thing.. I will talk to Hiram tomorrow, but meanwhile do you know how to do it? I had to hack the autoconf.ac inside hawtjni to do it... not very easy.

Besides.. it looks like this would be better as a separate package, since it requires libaio.so as a dependency

[2015-05-14 05:13] almibe opened #3781 "netty-transport-native-epoll-VERSION-linux-x86_64.jar isn't an OSGi bundle"
Hello, I've noticed that the linux-x86_64 versions of the netty-transport-native-epoll jar isn't an OSGi bundle while the regular jars are.  This seems to be the case for all versions of this jar.

[2015-05-14 07:58] jknair opened #3782 "Openssl internal error:14077438 when using client mode"
Openssl handshake exceptions when using client mode netty master @ 153a9c3
[code]
There seems to be a bug reported : https://bugs.launchpad.net/ubuntu/+source/openssl/+bug/861137
Tried using only ```"RC4-SHA"``` as the cipher as suggested in the posts in the above link but have not been able to rectify this .
This was also seen when used with curl but the curl seems to be working without any ciphe

[2015-05-14 13:49] clebertsuconic commented on #3726
some conversation I had on netty irc:

[09:45am] clebert: normanm: ping
[09:46am] clebert: normanm: I’m having trouble on changing the build … and do you want to change that build? libaio requires a new lib as a dependency… I’m feeling like this should be another native module
[09:46am] clebert: normanm: I will write this as a new module, using maven-nar that is simpler to tweak… if you want to me

[2015-05-14 16:08] louiscryan commented on #3737
1 - I was looking at implementing something like a sliced buffer except
that it could represent more than one subsection of the underlying buffer
as CompositeBuffer is a little heavyweight and has different retention
behavior to slice which we are currently using. The alternative as you say
is to broaden the listener interface to receive more than one slice. If
we're open to that API change I coul

[2015-05-14 16:14] ejona86 opened #3783 "DefaultHttp2RemoteFlowController should observe Channel.isWritable"
HTTP/2 flow control is useful for the remote to indicate how much memory they are willing to spend on a connection or stream. It is not a good indicator of how much memory the local side is willing to spend or how much is necessary to spend. In many cases the ideal flow control window would be the size of the bandwidth-delay project and _neither_ side would need to buffer, as the data packets are

[2015-05-14 21:28] Scottmitch commented on #3783
@ejona86 - Agreed this should be done at some level. I need to think if it makes sense to put directly in the flow controller or have it at a higher level. I think for most protocols this mechanism and auto_read are done outside the codec.  Let me think...and thanks for bringing this up!

[channelWritabilityChanged](https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/channe

[2015-05-14 21:30] Scottmitch commented on #3737
@louiscryan - Can you pseudo code the API change(s) you are proposing?

[2015-05-14 21:32] Scottmitch commented on #3782
@normanmaurer - I'll assign to you for now.

[2015-05-14 21:33] Scottmitch commented on #3781
@almibe - Thanks for reaching out.  Do you have any interest in submitting a PR to resolve this issue?  We love PRs :)

[2015-05-14 22:29] ejona86 opened #3784 "Certificate hostname verification with OpenSSL"
Since `newEngine(ByteBufAllocator, String, int)` [isn't implemented for OpenSSL](https://github.com/netty/netty/blob/master/handler/src/main/java/io/netty/handler/ssl/OpenSslContext.java#L291) it seems that OpenSSL can't do hostname verification.

Is that correct? Is the hostname supposed to be provided some other way?

If so, that seems a major issue for client-side usage. It seems like SslContex

[2015-05-14 22:36] ejona86 commented on #3783
@Scottmitch, I don't see a good way to do it except in the flow controller. If we receive a WINDOW_UPDATE of 1 GB, then only the flow controller is consulted...

Other codecs don't have flow control and don't have multiplexing, so it seems hard to learn what is most appropriate.

[2015-05-15 05:27] normanmaurer commented on #3784
@ejona86 seems like it possible with openssl 1.0.2 and later:

https://wiki.openssl.org/index.php/Hostname_validation

Is this what you are looking for ?

[2015-05-15 05:30] normanmaurer commented on #3784
@ejona86 also look at the link, there is even a version which can be used pre- 1.0.2 versions, but not support wildcards. WDYT ?

[2015-05-15 12:24] dmk23 commented on #3761
Thanks for the solution/explanation - your fix worked for the A record.

**However** the same fix **WON'T** work for cached MX records which require two separate reads of the MX pref and the hostname. One way to deal with this issue would be to manually move the index back after the hostname read, but this really complicates the application code.

I think this issue should be at the very least abo

[2015-05-15 14:03] normanmaurer commented on #3784
@ejona86 actually the hostname check stuff should be done as part of the X509TrustManager. So this should be relative easy to fix ... Stay tuned.

[2015-05-15 14:14] rkapsi opened #3785 "Epoll client's connect future with ALLOW_HALF_CLOSURE enabled reports success on failed connection"
The connect ChannelFuture of an Epoll client that has ALLOW_HALF_CLOSURE enabled reports success and doesn't raise an Exception. The Channel says it's active and even the ChannelHandler's methods such as channelActive() get called.

There is an exception under the hood (see below) but it's not getting exposed to the user. An unit test is attached (see below).

[code]

### Exception

[code]

### Un

[2015-05-15 14:27] trustin commented on #3761
Thank you for the confirmation. Let me come up woth a proper fix.

--
https://twitter.com/trustin https://twitter.com/trustin_ko
https://twitter.com/netty_project

On Fri, May 15, 2015, at 09:24 PM, dmk23 wrote:

Links:

  1. https://github.com/netty/netty/issues/3761#issuecomment-102385459

[2015-05-15 16:51] Scottmitch commented on #3785
@normanmaurer - I'll give this to you :)

[2015-05-15 16:51] normanmaurer commented on #3785
@Scottmitch you are so good too me ;)

[2015-05-15 16:55] Scottmitch opened #3787 "HTTP/2 and HPACK published as RFCs (proposed standards)"
HTTP/2 - https://tools.ietf.org/html/rfc7540
HPACK - https://tools.ietf.org/html/rfc7541

We should investigate the deltas and update code as necessary.

[2015-05-15 18:22] Scottmitch commented on #3765
@bobymicroby - See #3793

[2015-05-15 19:50] normanmaurer commented on #3784
@ejona86 please check https://github.com/netty/netty/pull/3794

[2015-05-15 20:43] jxtps opened #3796 "Cookie EXPIRES encoding subject to int overflow for reasonable maxAge"
Currently, [line 96 in ServerCookieEncoder.java](https://github.com/netty/netty/blob/fb6eae15911790f2af89254b16765c33b05515a5/codec-http/src/main/java/io/netty/handler/codec/http/cookie/ServerCookieEncoder.java#L96) reads:

`Date expires = new Date(cookie.maxAge() * 1000 + System.currentTimeMillis());`

However, cookie.maxAge() is an int, and multiplying it by 1000 risks integer overflow (when, fo

[2015-05-15 21:04] slandelle commented on #3796
Seems legit

[2015-05-15 21:11] jxtps commented on #3796
Some math to save people the trouble:

`30*24*60*60 = 2592000`
`30*24*60*60*1000 = -1702967296`

`30*24*60*60*1000L = 2592000000`

The longest duration cookie you can currently encode is about 24 days into the future: `2^31 / (24*60*60*1000) = 24.855`

[2015-05-15 21:13] slandelle commented on #3796
Actually, no, this issue can be rejected: maxAge is a long since 4.0.
It's only an int in older versions, and this was already fixed as of #3777.

[2015-05-15 21:22] jxtps commented on #3796
Ah. Ok. Well, v3.9.8 that is used by Play v2.3.9 most unfortunately has the problem.

[2015-05-15 21:23] jxtps commented on #3796
(Also, adding the L to the 1000 is probably not a bad idea regardless)

[2015-05-16 00:23] louiscryan commented on #3737
Instead of coalescing the DATA frames how would folks feel about coalescing the window-updates on flush? i.e. returning bytes to the flow-controller doesn't trigger a write of a window update immediately, instead the controller is marked stale, if more bytes are returned then it just accumulates until its told to flush a window update.

In the typical case where we process all reads (and return of

[2015-05-16 06:35] dmk23 opened #3797 "IllegalReferenceCountException in DNS resolver"
#### Netty Version
4.1.0.Beta5 (using latest code/API per https://github.com/netty/netty/commit/63a02fc04e6ce45aee38b0437ae0279880e5fe40 @trustin )

#### Context
Continuing to test the DNS resolver, now trying a very high volume of queries. We have experienced a reference counting exception while submitting queries to the resolver:

[code]

The line submitting the query is quite straightforward an

[2015-05-16 12:20] flirtomania opened #3798 "Change access level of LoggerHandler.formatByteBuf() to public"
##### Netty version: 5.0.0.Alpha2

When using as a generic library (especially ByteBufs) to see the contents of it it'd be nice to have some  convenient API to print out ByteBuf's content like LoggingHandler does.

Also it seems that Unppoled.java has incorrect javadoc about hex dumps.
...This class also provides various utility methods to help implementation
of a new buffer type, generation of he

[2015-05-16 14:40] rzorzorzo opened #3799 "proposal: rename package for netty 5"
given that code written for netty 4 will not run with netty 5 i recommend to rename the package to io.netty5. Similarly to apache commons lang.

[2015-05-16 14:45] rzorzorzo commented on #3534
@normanmaurer  there are quite some java 5/6 and android projects using netty out there. Requiring us to stay with 4.1 is ok. The question is, how long dwill 4.1 be maintained/supported  ?

[2015-05-16 22:46] odbuser2 opened #3800 "SSL Protocols needs similar configuration as Ciphers via SslContextBuilder"
With the new SSLContextBuilder, we need to be able to set the protocols as well.  For example, I'd like to enable TLSv1.2 only.  To do that in the Java 8 recommended way is to setEnabledProtocols on the SSLEngine or the SSLSocket but Netty does not expose this.

I recommend adding a protocols property to the SslContextBuilder and propogating that through to where SSLEngine and OpenSslEngine create

[2015-05-17 17:07] ganskef opened #3801 "Netty based client fails with Server Name Indication enabled server"
Requesting a server with SNI enabled, like https://netty.io/ or https://kitematic.com/ for example, with a netty based client fails with an internal_error, received after TLS Handshake. An URLConnection based client sends a server_name extension. This seems to be missed in the handshake from the netty client.

It's reproducable simply by launching ```java io.netty.example.http.snoop.HttpSnoopClien

[2015-05-17 17:20] normanmaurer commented on #3800
@odbuser2 isn't this what you can already do with OpenSslEngine.setEnabledProtocols(...) just the same way as you can die the stock jdk SSLEngine implementation?

See:
https://github.com/netty/netty/blob/4.0/handler/src/main/java/io/netty/handler/ssl/OpenSslEngine.java#L887

[2015-05-17 18:23] normanmaurer commented on #3801
will check

[2015-05-18 04:54] dmk23 commented on #3797
More findings to report.

We confirmed that the error happens only for repeatedly queried domains that re-occurred in our input (e.g. hotmail.com, gte.com) - so this has to be a bug in the cache. The errors happened within the timeframe way under DNS record's TTL - when these records should be looked up....

With duplicates removed from the input or the cache disabled (with ```resolver.setTtl(0, 0

[2015-05-18 04:57] trustin commented on #3797
@dmk23 Thank you very much for reporting. Let me take care of this.

[2015-05-18 05:42] dmk23 opened #3804 "DNS resolver loses ADDITIONAL records"
#### Netty Version
4.1.0.Beta5 (using latest code/API per https://github.com/netty/netty/commit/63a02fc04e6ce45aee38b0437ae0279880e5fe40 @trustin )

#### Context
Additional records section is important for cutting down the number of necessary DNS questions - mainly to avoid follow-up queries for resolving hostnames (MX, CNAME or NS) to A / AAAA records. Unfortunately we've discovered that these re

[2015-05-18 06:28] normanmaurer commented on #3784
Fixed.

[2015-05-18 06:28] #3784 closed

[2015-05-18 07:57] jknair commented on #3782
@normanmaurer ping

[2015-05-18 15:44] Scottmitch commented on #3765
Fixed 4.1 (04c0d77, c6d61f9) master(37e6fd0)

[2015-05-18 15:44] #3765 closed

[2015-05-18 16:51] normanmaurer commented on #3782
@jknair can you provide a unit test or a reproducer ?

[2015-05-18 16:53] normanmaurer commented on #3780
@zoowar the question is how we should propagate here as if initChannel(...) throws an exception chances are good that you will not have an handler in the pipeline that can handle the exception.

[2015-05-18 17:45] zoowar commented on #3780
@normanmaurer When there is no exceptionCaught implemented by any of the pipeline handlers, the framework handles the exception by logging the following message:

It seems to me that ChannelInitializer/channelRegistered could log the specialized message ""Failed to initialize a channel." and throw the exception, which will be handled by the default handler or the user defined handler.

I'm not a j

[2015-05-18 17:56] Scottmitch commented on #3737
@louiscryan - Sounds reasonable.  So are you suggesting adding another method onto the flow controller which does something like `writeAndFlushAccumulatedWindowUpdates`?  Then we will allow users to call this, and we will call it by default when we are flushing?

[2015-05-18 20:18] louiscryan commented on #3737
Yup, something along those lines. I want to run some benchmarks first to
see if that kind of change has any meaningful benefit vs varying the window
update ratio.

On Mon, May 18, 2015 at 10:56 AM, Scott Mitchell <notifications@github.com>
wrote:

[2015-05-19 01:38] badnotes commented on #327
I think it is short of network resource

[2015-05-19 03:39] clebertsuconic commented on #3726
Update: I had some personal issues so I couldn't work over the weekend.. but doing great progress today.

I'm at the io_submit call already. so I would say 50%/60% done.

I'm doing basically a refactoring of what I had at artemis, but at a lower level.. much cleaner.. and still surviving anything I had as experience (things that I banged my head back then).

will keep updating this as I go.

[2015-05-19 04:25] normanmaurer commented on #3726
@clebertsuconic thanks for the update!

[2015-05-19 12:51] FunJp opened #3805 "Contradictory documentation in io.netty.util.internal.PlatformDependent"
Netty 4.0.28.final

While working with Direct/Heap buffer, I've encountered this situation in the java doc.

On line 74 in io.netty.util.internal.PlatformDependent, the property loaded for Direct or Heap buffer for the used Allocator is like this

    private static final boolean DIRECT_BUFFER_PREFERRED =
            HAS_UNSAFE && !SystemPropertyUtil.getBoolean("io.netty.noPreferDirect", false);

[2015-05-19 18:33] rkapsi opened #3806 "Setting WRITE_BUFFER_LOW_WATER_MARK before WRITE_BUFFER_HIGH_WATER_MARK results in an internal Exception"
Setting the WRITE_BUFFER_LOW_WATER_MARK before WRITE_BUFFER_HIGH_WATER_MARK results in an internal Exception (appears only in the logs) if the value is larger than the default high water mark value. The WRITE_BUFFER_HIGH_WATER_MARK call appears to have no effect in this context.

Setting the values in the reverse order works.

[code]

[code]

[code]

[2015-05-19 20:11] tsholmes opened #3807 "OutOfMemoryError causes spin on cpu"
On 3.9.4, when an `OutOfMemoryError` occurs while creating an `NioClientSocketChannelFactory`, the epoll thread spins consuming 100% of a core. When we get an error creating this, we call `shutdownNow` on the provided `ExecutorService`s which interrupts the spinning thread, but it does not respond.

The OOM error:
[code]

jstack with the remaining threads (only others left are internal jvm threads

[2015-05-19 20:51] Scottmitch commented on #3535
Closed in favor of https://github.com/netty/netty/issues/3787

[2015-05-19 20:51] #3535 closed

[2015-05-19 20:53] Scottmitch commented on #3724
Fixed by https://github.com/netty/netty/pull/3733

[2015-05-19 20:53] #3724 closed

[2015-05-19 20:54] Scottmitch commented on #3686
@ejona86 - I think we can close this. Do you agree?

[2015-05-19 21:36] Scottmitch commented on #3787
@nmittler - I just reviewed the HTTP/2 RFC and didn't find any changes. I have a PR pending which just updates the version info.  Have you looked at the RFC?  The only section that looks like "changes" were made was the GO_AWAY section, but I don't think there were any real changes after our last discussions with the spec maintainers.

[2015-05-19 22:18] sksamuel commented on #3799
It will certainly be useful when you look at examples in the future to know which version they were written for.

[2015-05-20 03:15] trustin commented on #3686
Thanks for pointing that out. It was obviously my fault. :-/

[2015-05-20 03:19] trustin commented on #3806
We probably need a new option that accepts a pair of integers.

[2015-05-20 03:36] trustin commented on #3780
I like the idea of letting `ChannelInitializer.channelRegistered()` propagate the exception so that `ChannelInitializer.exceptionCaught()` closes the connection by default.  That way, a user can override the default behavior.

[2015-05-20 03:53] trustin commented on #3804
On my radar although I don't have enough time at the moment. Will visit this soon.

[2015-05-20 04:25] normanmaurer commented on #3806
@trustin should I take care?

[2015-05-20 05:26] trustin commented on #3806
@normanmaurer Go ahead. :-)

[2015-05-20 05:28] trustin commented on #3798
It's probably a good idea to add a similar method to `ByteBufUtil`?

[2015-05-20 05:34] normanmaurer commented on #3798
@trustin @flirtomania +1

[2015-05-20 07:36] odbuser2 commented on #3800
@normanmaurer  Sure.  But setEnabledProtocols is not being used and it's not exposed via the SslContextBuilder.

[2015-05-20 08:01] normanmaurer commented on #3800
@odbuser2 maybe I just not understand what the problem is:

[code]

[2015-05-20 12:22] hepin1989 commented on #2034
I want to override the ```void init(Channel channel) throws Exception``` too.

[2015-05-20 12:30] normanmaurer commented on #2034
@hepin1989 can you tell me why ?

[2015-05-20 12:53] hepin1989 commented on #2034
@normanmaurer thanks,I want to using netty to implement an akka-io-extension.and I finally come up with one way to implement it.
https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/bootstrap/ServerBootstrap.java#L181

suppose I have ```TcpManager``` and ```TcpListener``` which is created by the ```TcpManager``` when the manager received the ```Bind(handler:ActorRef,localAdd

[2015-05-20 20:49] nmittler commented on #3787
@Scottmitch I just scanned through the RFC and my take-away is the same as yours.  I think we're good.

[2015-05-21 02:13] hepin1989 commented on #2034
@normanmaurer any suggestion?

[2015-05-21 02:27] trustin commented on #2034
That will defeat the original purpose of bootstrap - providing common behaviors (automatic registration is one of them). What you really want is *not* to use bootstrap.  Please keep in mind that bootstrap is just a utility class that's close to the builder pattern. Nothing prevents you from creating a new channel by yourself and register it at your convenient time.

[2015-05-21 02:28] trustin commented on #2034
Also, please note that your request is not directly related with the original issue reported here. You should have filed a new issue.

Let me lock this issue.

[2015-05-21 03:32] hepin1989 opened #3810 "extends the ServerBootstrap class?"
I want to using netty to implement an akka-io-extension.and I finally come up with one way to implement it.
https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/bootstrap/ServerBootstrap.java#L181

suppose I have TcpManager and TcpListener which is created by the TcpManager when the manager received the Bind(handler:ActorRef,localAddress:InetSocketAddress ...) command.

1,It

[2015-05-21 03:33] hepin1989 commented on #3810
from the trustin:
[code]

[2015-05-21 03:33] #3810 closed

[2015-05-21 06:55] odbuser2 commented on #3800
You are correct.  I was creating the SslHandler using the context.newHandler(...) method per the examples.  I didn't know about the SslHandler(SslEngine engine) constructor and didn't think to look b/c the builder provides a way to setEnabledCipherSuites via builder.ciphers but not the protocols.  Maybe it's something that should be added to the builder and the examples updated to show it?

[2015-05-21 07:06] normanmaurer commented on #3800
@odbuser2 let me think about it... that said you could also have it done when creating the SslHandler:

[code]

[2015-05-21 07:31] catchsudheera opened #3812 "empty file created when spliceTo (in EpollSocketChannel) used with non zero offset"
when spliceTo (in EpollSocketChannel) used with non zero offset it doesn't write anything to the file, when zero is used it writes from the beginning of the request. No exceptions caught in the catch block too.

[code]

[2015-05-21 07:34] normanmaurer commented on #3812
@catchsudheera is the future failed by any chance ?

[2015-05-21 08:00] catchsudheera commented on #3812
@normanmaurer  future.isDone() and future.isSuccess() returns false even if the offset is set to zero(content written in to the file)

        try{
            final FileDescriptor fd = FileDescriptor.from(file);

            future = ch.spliceTo(fd, 1, 10);
            ch.flush();
        }catch (IOException e) {
            e.printStackTrace();
        }

        future.addListener(ChannelFuture

[2015-05-21 08:02] trustin opened #3813 "Http2OrHttpChooser API design issue"
When setting up an HTTP/1 or HTTP/2 pipeline, a user usually ends up with adding arbitrary set of handlers.

`Http2OrHttpChooser` has two abstract methods (`createHttpNRequestHandler`) that expects a user to return a single handler, and `addHttpNHandlers()` method adds it to the pipeline as well as the pre-defined set of handlers.

The problem is, some users (read: I) don't need all of them or the

[2015-05-21 08:04] normanmaurer commented on #3812
@catchsudheera this means it is failed... check the exception:

future.cause().printStackTrace();

[2015-05-21 08:08] trustin opened #3814 "Allow lazy instantiation of HTTP/2-related types"
I'm writing an h2c server, and my pipeline currently looks like the following:

[code]

It does what it's supposed to do, but it creates quite a few HTTP/2-related objects from the beginning of the connection.  Since we can't determine if the connection is HTTP/2 or HTTP/1 yet, I'd like to defer the instantiation of `HttpToHttp2ConnectionHandler`, `Http2Connection`, `Http2FrameReader`, `Http2Frame

[2015-05-21 08:11] catchsudheera commented on #3812
@normanmaurer  `future.cause()` returns a null.

`java.lang.NullPointerException
	at example.SpliceHandler.channelActive(SpliceHandler.java:68)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelActive(AbstractChannelHandlerContext.java:183)
	at io.netty.channel.AbstractChannelHandlerContext.fireChannelActive(AbstractChannelHandlerContext.java:169)
	at io.netty.channel.DefaultChannelP

[2015-05-21 08:13] trustin opened #3815 "Do not use hard-coded handler names in HTTP/2"
Our HTTP/2 implementation sometimes uses hard-coded handler names when adding/removing a handler to/from a pipeline.  It's not really a good idea because it can easily result in name clashes.

Unless there is a good reason, we need to use the reference to the handlers:

[code]

[2015-05-21 08:14] trustin commented on #3815
/cc @nmittler  @Scottmitch

[2015-05-21 08:14] normanmaurer commented on #3812
@catchsudheera can you please paste your full example ?

[2015-05-21 08:16] normanmaurer commented on #3815
@trustin makes sense.

[2015-05-21 08:16] normanmaurer commented on #3814
@trustin sounds legit .

[2015-05-21 08:23] catchsudheera commented on #3812
Server
[code]

Initializer

[code]
Handler
[code]

[2015-05-21 09:16] ganskef commented on #3801
Hello Norman, some additional informations and a workaround:

Many of the Google services are using SNI too. Connecting
https://developer.chrome.com with the Netty client, retrieve a
Certificate CN=*.appspot.com with no matching SubjectAlternativeName.

  (!)This wrong certificate is accepted (it's valid signed) which means,
there is no Host Name Verification happened.

It's been fixed simply by u

[2015-05-21 09:26] normanmaurer commented on #3801
@ganskef using the `InsecureTrustManagerFactory` is only for example / demo purposes. As it is "insecure" as the name should implies.

So can we close this one ?

[2015-05-21 09:50] normanmaurer commented on #3813
@trustin sounds good to me :)

Only comment I have is that I would call it `initHttp1Pipeline(...)` and `initHttp2Pipeline(...)`. Or if we want to make it consistent with `ChannelInitializer` we could also name it `initHttp1Channel(Channel)` and `initHttp2Channel(Channel)`.

[2015-05-21 10:39] ganskef commented on #3801
Thank you, but sorry, there is no workaround. I've must been messed up with my tests or logs.

    Nettys based clients fails with https://netty.io/ and other SNI enabled sites.

Missed Host Name Verification vulnerability could be a missusage of the APIs by me. :-/

[2015-05-21 13:15] ganskef commented on #3801
Now I've found the solution in the example WebSocketClient. Such a client is working with SNI sites:
[code]
instead of:
[code]

[2015-05-21 13:15] #3801 closed

[2015-05-21 14:38] nmittler commented on #3813
@trustin yeah that sounds much cleaner! :)

[2015-05-21 14:40] nmittler commented on #3814
@trustin sounds good ... Are you throwing together a PR? Would be good to see what the new code looks like.

[2015-05-21 14:41] nmittler commented on #3815
@trustin SGTM

[2015-05-21 16:28] nmittler commented on #3784
@normanmaurer what is the release plan going forward for the 4.1 branch? Are you expecting to release new betas more regularly? I'd love to see this fix in a beta release.

[2015-05-21 16:30] normanmaurer commented on #3784
@nmittler yep :) Let me try to do one over the next week,

[2015-05-21 16:47] nmittler commented on #3784
awesome! :)

[2015-05-22 00:00] clebertsuconic commented on #3726
@normanmaurer  how do you want to go about this:

io_submit, required posix_memalign for ByteBuffer allocations.

It's exactly how I'm doing at Artemis. In the past ByteBuffer.allocateDirect was aligned but for some reason they stopped doing that.

I have written two method on my testcase for that:

public static native ByteBuffer newAlignedBuffer(int size, int alignment);
public static native voi

[2015-05-22 00:01] clebertsuconic commented on #3726
a simple SOF answer on this:
https://stackoverflow.com/questions/15605553/read-file-using-libaio-with-o-direct-flag/18760796#18760796

[2015-05-22 09:21] trustin opened #3817 "SingleThreadEventLoopTest failure on Windows 7 x64"
[code]

[2015-05-22 09:22] trustin commented on #3817
Reliably reproduceable on my home PC

[2015-05-22 14:28] marcusant opened #3818 "Failed to open a socket on Android"
When testing one of my projects that uses netty on Android, I received the following exceptions after trying to connect to a remote server.

I'm using netty 5.0.0.Alpha2 on Android 5.0.2

This is my first time testing on Android (it's typically a desktop project), so I'm unsure of the version that this started at.

Here's the stacktrace
[code]

And this is how I connect
[code]

[2015-05-22 14:36] normanmaurer commented on #3818
@marcusant please try netty 4.0 or 4.1 as 5.0 is not android compatible as far as I know.

[2015-05-22 14:57] marcusant commented on #3818
Getting the same exception with 4.1.0.Beta5

[code]

[2015-05-22 15:12] marcusant commented on #3818
Seems to work well with 4.0 and INTERNET permissions. Thank you for your suggestion.

[2015-05-22 15:12] #3818 closed

[2015-05-22 15:16] Scottmitch commented on #3813
@trustin - +1.

Your 2nd and 3rd top level bullet point would benefit from (or may overlap with) issue https://github.com/netty/netty/issues/3641.  Any interest in taking this on too?

[2015-05-22 15:21] Scottmitch commented on #3814
@trustin - I wonder if this factory could be used by https://github.com/netty/netty/issues/3813 too?  Seems like both classes *may* end up needing the HTTP/2 pipeline classes, but you may be able to delay creating these classes in both instances.

[2015-05-22 16:09] Scottmitch commented on #3817
May be related to https://github.com/netty/netty/issues/3231

[2015-05-22 16:10] Scottmitch commented on #3815
+1

[2015-05-22 16:11] Scottmitch commented on #3815
@trustin - Are you taking the assignment on this one?

[2015-05-22 23:23] almibe commented on #3781
I like making pull requests but I haven't been able to make netty build at all.  If I check out netty and do "mvn install" shouldn't that work?

[2015-05-22 23:30] trustin commented on #3815
I'm on a short travel right now, but will take care of the 3
HTTP/2-related issues I filed once I'm back on Monday.

[2015-05-23 14:02] normanmaurer commented on #3815
Thanks @trustin

[2015-05-23 18:16] fantayeneh opened #3820 "HttpRequestDecoder generates FullHttpRequest in case of error."
In netty 4.0.28 `HttpRequestDecoder` generates a `FullHttpRequest` message in case of error.

[code]

Which confused me a little bit as i was seeing `DefaultFullHttpRequest(decodeResult: failure(java.lang.IllegalArgumentException...` as error message and  didn't have `HttpObjectAggregator` in the pipeline.

It used to be in 4.0.21 just a HttpRequest

[code]
Is it not better to do have it as 4.0.21

[2015-05-25 02:08] ejona86 commented on #3783
For more info about the issue, I came across an article about [the need for TCP_NOTSENT_LOWAT](https://insouciant.org/tech/prioritization-only-works-when-theres-pending-data-to-prioritize/) and the importance of disassociating the network flow control window from the buffering necessary to get performance for a protocol like HTTP/2. It is basically the identical problem I am concerned with here, b

[2015-05-25 11:40] hepin1989 opened #3823 "could not read anything after the client disconnected and reconnected again on windows"
I write a server ,and it works well for the first accepted connection,but it read nothing for the second connected in channel.
and the client side,witch's write in java.trigger this exception.
for linux,which using epoll  native transport,doesn't have this issue.
[code]

[2015-05-25 12:14] hepin1989 commented on #3823
okay,this issue is caused by the pipeline corruption,and then I comes to this issue.fixed have.

[2015-05-25 12:14] #3823 closed

[2015-05-25 13:43] SH4DY commented on #3778
I would love to start working on this feature. Do you guys think it's doable for a first contribution?

[2015-05-25 13:45] normanmaurer commented on #3778
Sure :)

[2015-05-25 15:01] fantayeneh opened #3824 "Expose more stats for channel pool"
Currently there is no easy way to find
- the number of available channels in the pool. (those that can be acquired immediately without having to make a new connection to the remote server)
- the number of pending acquires

This two stats can be used by a load balancing algo to make decisions.

[2015-05-25 15:16] normanmaurer commented on #3824
We love contributions ;)

[2015-05-25 15:27] fantayeneh commented on #3824
will do. :)

[2015-05-25 15:40] normanmaurer commented on #3824
awesome !

[2015-05-25 15:41] SH4DY commented on #3778
Research started =)

[2015-05-25 15:44] normanmaurer commented on #3778
Let us know if you have any questions.

[2015-05-25 15:45] SH4DY commented on #3778
Thank you Norman, I will!

[2015-05-25 19:43] normanmaurer commented on #3805
Fixed the javadocs... Thanks!

[2015-05-25 19:43] #3805 closed

[2015-05-26 06:34] NiteshKant commented on #3820
The change was discussed in issue #3362, which also explains the reason for the change.

[2015-05-26 06:57] normanmaurer commented on #3820
Thanks @NiteshKant for chime in... Closing.

[2015-05-26 06:57] #3820 closed

[2015-05-26 07:23] #3800 closed

[2015-05-26 13:35] normanmaurer commented on #3785
@rkapsi do you grant us to include your test-case into netty ?

[2015-05-26 14:58] rkapsi commented on #3785
@normanmaurer - yes of course.

[2015-05-26 15:08] normanmaurer commented on #3785
Thanks!

Working on a fix

[2015-05-26 17:48] Scottmitch commented on #3781
Yes. If you provide more details perhaps we can help.  Make sure you are using a "recent" version of maven.  See http://netty.io/wiki/setting-up-development-environment.html for details.

[2015-05-26 23:14] Scottmitch commented on #3783
@ejona86 - Sorry I've been busy lately.

How do you use auto_read? I'm wondering if auto_read should be turned off (if it is on) temporarily if the channel is not writeable.  No sense in reading data to do more stuff, until the peer is ready to receive some data.

[2015-05-27 00:42] ejona86 commented on #3783
auto_read _must_ be on for the connection. This is [explicitly stated in the HTTP/2 spec](https://httpwg.github.io/specs/rfc7540.html#rfc.section.5.2.2.p.4). Basically, without reading there is no way to get `WINDOW_UPDATE`s and other control messages, which results in deadlock.

[2015-05-27 01:22] clebertsuconic commented on #3726
Great news.. got everything working...

will need some testing to make sure there are no leaks... and some exception handling (cleanup some TODOs on my code)...

but all the basics are working... the API is already defined (maybe needs some tidy up).

@normanmaurer let me know when it would be good to make a code review.

[2015-05-27 02:10] hepin1989 commented on #3485
https://github.com/reactive-streams/reactive-streams-jvm/issues/268

maybe this help,for the Promise.

[2015-05-27 04:45] normanmaurer commented on #3785
@rkapsi please check the fix https://github.com/netty/netty/pull/3832

[2015-05-27 04:54] normanmaurer commented on #3726
@clebertsuconic just do a pr and we can start :)

[2015-05-27 08:23] trustin opened #3835 "Remove the Unsafe delegation methods in PlatformDependent"
So far, we did not let the classes that need `Unsafe` use `Unsafe` directly. Instead, we exposed all the unsafe operations in `PlatformDependent` (and also `PlatformDependent0`).

To be honest, I'm not sure if it really adds something to us.  We should:
- Remove the Unsafe delegation methods from `PlatformDependent` and `PlatformDependent0`.
- Keep the boolean-returning methods that tells the avai

[2015-05-27 11:39] dmk23 opened #3836 "channel connect listener order guarantee & passing args"
I am implementing a protocol that requires passing args into a handler after connecting (TCP).

In my current approach I am using connect() method of a client Bootstrap to retrieve ChannelFuture, immediately calling addListener to pass these args to channel / context via AttributeKey. Then channel's read callbacks retrieve these args from the context and use them in our protocol logic.

**QUESTION

[2015-05-27 12:11] normanmaurer commented on #3836
@dmk23 please use out mailinglist or stackoverflow for questions.

To answer your question you can use Bootstrap.attr(...) to specify which attributes should be set on the Channel before connect it.

[2015-05-27 12:11] #3836 closed

[2015-05-27 12:37] normanmaurer commented on #3785
@rkapsi should be fixed now... Please reopen if you still think it is an issue. Thanks again for reporting and the test-case!

[2015-05-27 12:37] #3785 closed

[2015-05-27 13:43] rkapsi commented on #3785
@normanmaurer: confirm. My canary test started passing (or rather failing) as soon as the new SNAPSHOT went live. Thanks!

[2015-05-27 13:53] normanmaurer commented on #3785
Awesome. Thanks!

[2015-05-27 14:47] bwzhang2011 commented on #2023
@Scottmitch, any update with the issue ? we're caring about the HttpResponseEncoder  performance.

[2015-05-27 14:57] normanmaurer commented on #3654
Should be a lot better now.

[2015-05-27 14:57] #3654 closed

[2015-05-27 16:39] Scottmitch commented on #2023
@bwzhang2011 - No update on my end. Do you have benchmarking to indicate that this is a problem for `HttpResponseEncoder`?

[2015-05-27 17:38] Scottmitch commented on #3783
@ejona86 - Good point.  However this leaves us vulnerable to resource exhaustion.  A peer could send an infinite amount of data and not read anything (or read much slower than writing).  I think we need to account for situations where peer consumption/production rates are different such that we don't allow for resource exhaustion.

The situation we would be accounting for with toggling auto_read i

[2015-05-27 20:33] ejona86 commented on #3783
The only way you can push back is via HTTP/2's flow control. If you ignore it, then yes, you can run out of memory, but that would be true with plain TCP as well.

They would actually have to read, in order to get the WINDOW_UPDATES. They could just assume they will have enough window, but if they ever exceed the window then the connection will be killed.

That still deadlocks. If both sides buffe

[2015-05-28 04:34] dmk23 commented on #3836
Thanks for the response.

Just to be safe I looked at the Bootstrap.attr(...) code and it seems to me to get the Channel without concurrency issues the code for setting attr and opening channel needs to be synchronized. Ideally on private attrs field, but since it is not externally visible then on the bootstrap object itself.

Does this make sense? In any case, seems like attrs and passing / manag

[2015-05-28 08:39] suyanNone opened #3837 "Did ChannelOutBoundBuffer need to remove NIOBUFFER threadLocal while the message is done"
I found DirectBufferR is reference by ThreadLocal in the sender side even the message is already received by the receiver for a long time.
this problem is occurs in SPARK, which use netty to send block.
I not familiar with netty, or there have other solution to resolve that problem

[2015-05-28 08:46] suyanNone commented on #3837
[code]

[2015-05-28 11:52] dmk23 opened #3838 "flushing delays with TCP_CORK ?"
I am exploring the use of TCP_CORK as a way of reducing packet fragmentation and thus bandwidth.

The flip side seems to be the increased latency (up to 200ms) in case of not having enough data for a full packet - which is a common scenario. The solution is to "uncork" and "recork" a corked connection to force sending, as described here: http://baus.net/on-tcp_cork/

Looking at Epoll package code

[2015-05-28 13:19] flirtomania commented on #2771
Reproduced on 5.0.0-Alpha2

didn't work:

    EmbeddedChannel ch = new EmbeddedChannel();
    ch.pipeline().addLast(
      new LoggingHandler(LogLevel.TRACE),
      //new LengthFieldBasedFrameDecoder(2048, 0, 2, 0, 0),
      new ReceiptDecoder(),
      receiptHandler
    );

worked ok:

    EmbeddedChannel ch = new EmbeddedChannel(
      new LoggingHandler(LogLevel.TRACE),
      //new LengthFieldB

[2015-05-28 13:59] clebertsuconic commented on #3726
@normanmaurer  PR sent: https://github.com/netty/netty/issues/3726

[2015-05-28 18:12] normanmaurer commented on #3838
@dmk23 there is nothing high-level implemented via us.

[2015-05-29 01:40] dmk23 commented on #3838
Should this be marked as a possible feature suggestion?

[2015-05-29 02:11] trustin commented on #3838
At least we could expose that operation somewhere in `EpollSocketChannel`?

[2015-05-29 04:43] hepin1989 opened #3840 "wrong file FileDescriptor when set the config of epoll socket channel"
I encounter this when I try to set the config of the socket channel.
and after I restart again the app,it don't show up.

[code]

I am trying to set the config after the channel is connected to remote server.

[2015-05-29 05:02] normanmaurer commented on #3838
@trustin you can already doing this by just cal it during flush()

[2015-05-29 05:02] #3838 closed

[2015-05-29 06:29] dmk23 commented on #3838
Is it actually done right now? I saw the calls to Native.setTcpCork only on initial channel setup when I searched through the code - not in any place related to flushing...

It also seems to me it ought to be just an option of flush vs. something that is always enforced?

[2015-05-29 07:26] normanmaurer commented on #3838
@dmk23 I may be confused but you can just do `channel.config().set*` for changing socket options on the fly. What issue you have ?

[2015-05-29 08:28] dmk23 commented on #3838
Yes, this can be done manually right now.

Just was wondering if it should/could be made an explicit option in the flushing API(s)... Since there is not much docs on TCP_CORK option the existing behavior / solution was not readily findable...

This is not a major thing, but might be an enhancement for clarity purposes...

[2015-05-29 11:55] trustin commented on #3641
@Scottmitch Taking over :-)

[2015-05-29 11:56] trustin commented on #3813
@normanmaurer I still prefer `configure*()` to `init*()`, because we do not initialize the pipeline but re-configure the pipeline.

[2015-05-29 15:40] Scottmitch commented on #3641
@trustin - Cool! Looking forward to a PR.

[2015-05-29 16:47] normanmaurer commented on #3840
@hepin1989 can you translate the error to english ?

[2015-05-29 16:51] Scottmitch commented on #3783
@ejona86 - Agreed.  HTTP/2 flow control should be sufficient to prevent deadlock and resource exhaustion.  I'll pull together a PR.

[2015-05-29 22:22] Scottmitch commented on #3783
I have a PR pending for this....

[2015-05-30 00:48] hepin1989 commented on #3840
错误的文件描述符 => wrong fd(FileDescriptor)

[2015-05-31 20:04] SH4DY commented on #3778
Quick update on progress: QUIC is pretty much only used at Google, there is almost no official documentation (besides some shared docs). I got the example client/server from the Chromium project running. I started writing a simple Java client (with the Netty UDP layer) which communicates with the example server (running it in verbose mode helps ). Currently I'm, figuring out how the sequence of me

[2015-06-01 06:03] trustin commented on #3817
Fixed by 49988a68212939423ae5e98d8b4ff60aeea0e980

[2015-06-01 06:03] #3817 closed

[2015-06-01 06:03] trustin commented on #3231
Fixed by 49988a68212939423ae5e98d8b4ff60aeea0e980

[2015-06-01 06:03] #3231 closed

[2015-06-01 06:11] trustin opened #3848 "Fix build stability issues with the epoll transport"
- http://clinker.netty.io/jenkins/job/netty-oraclejdk7/branch/4.1/412/
- http://clinker.netty.io/jenkins/job/netty-oraclejdk8/branch/4.1/412/

We might have more. Please go through the failures and fix the epoll-related ones.

[2015-06-01 06:14] trustin opened #3849 "Sporadic autobahn testsuite failure"
We keep seeing the failure in autobahn testsuite.

Sometimes it fails with assertion failure. Sometimes it just times out.

Could we please fix it?

[2015-06-01 06:24] normanmaurer commented on #3848
@trustin will check... can't reproduce so far here :/

[2015-06-01 06:56] trustin commented on #3848
It seemed to fail on the both centos6 slaves and one of them is yours. :-)

[2015-06-01 07:01] normanmaurer commented on #3848
@trustin will find out

[2015-06-01 19:08] hepin1989 commented on #3778
quic would help for p2p works,but from http://blog.chromium.org/2015/04/a-quic-update-on-googles-experimental.html seems like you need wait awhile for the RFC.

I think quic may be implemented as udt,as an native binding,or you want to implement it on java side.

[2015-06-01 20:05] SH4DY commented on #3778
I haven't thought about that because I'm still struggling to understand how the protocol works. Do you have any insights @hepin1989 ?

[2015-06-02 00:40] louiscryan opened #3852 "HTTP2 should coalesce small writes into a single DATA frame"
@Scottmitch @nmittler

This is the analog of

https://github.com/netty/netty/issues/3737

but is probably more useful in general though possibly more complicated to implement. The goal is to allow for more small data writes to fit into a single DATA frame. Given that we already implement a queue of DATA & HEADER frames in the outbound flow-controller we could just merge contiguous DATA frames in w

[2015-06-02 11:06] normanmaurer commented on #3840
@hepin1989 This error is most likely thrown as the channel itself is already closed. Is this possible ?

[2015-06-02 11:07] normanmaurer commented on #3787
@Scottmitch I think this can be closed, right ?

[2015-06-02 11:16] hepin1989 commented on #3840
@normanmaurer I will keep eyes on that,I just encountered this once.

[2015-06-02 12:58] markuskd opened #3854 "Netty Servers SSLEngine blocks on high number of parallel incoming connections"
Netty (4.0.21) is used in a vert.x (2.1.5) environment, here it shows that for a massive parallel SSL connection requests threads are blocking due to synchronized locking in the underlying SSLEngine instance.
See the original vertx thread here: https://groups.google.com/forum/#!topic/vertx/0w-4ct0Q0NQ
One thread is blocking, waiting for another to finish:
"vert.x-eventloop-thread-0" - Thread t@20

[2015-06-02 15:51] bagdemir opened #3855 "LEAK warning after Java 8 Migration with Netty 4.0.25-Final."
We see occasionally this message "LEAK: ByteBuf.release() was not called before it's garbage-collected." as warning in the log files since the migration to Java 8 JRE. We have also switched to G1 GC. We are using Netty 4.0.25-Final in our backend service. Is there any known issue regarding Netty + Java 8 ?

We are currently monitoring our system since the production deployment, and there is no lea

[2015-06-02 16:01] normanmaurer commented on #3855
@bagdemir yep this means there is a "real" leak. So most likely you forgot to release an buffer in your ChannelInboundHandler implementation. Why it only shows up since java8 is not clear, maybe you was just more lucky before ?

Here are some docs to troubleshoot leaks:
http://netty.io/wiki/reference-counted-objects.html#wiki-h2-10

[2015-06-02 16:11] Scottmitch commented on #3852
@louiscryan - Let me summarize the face value tradeoffs and follow up with some questions.  Feel free to elaborate.  It seems like goal is to potentially reduce the amount of data frames written (less data frame header overhead on the wire) at the cost of an extra iteration step before writing out data frames (until a different frame type, or a frame for a different stream is encountered).

Questi

[2015-06-02 16:13] Scottmitch commented on #3787
@normanmaurer - Yip.

[2015-06-02 16:13] #3787 closed

[2015-06-02 17:18] louiscryan commented on #3852
Thats a fair summary of the goal with the associated benefit of larger DATA frame reads on the receiving side.

I don't know that we necessarily need to 'flush' DATA for a stream if a different frame type or stream output is encountered. Enqueueing data should consume flow-control which would prevent ordering problems in the consumption of flow-control on eventual write. In the case of RST_STREAM

[2015-06-02 18:15] louiscryan commented on #3852
I should point out that a perfectly reasonable option is that we don't want to do any of this and applications are responsible for making their writes chunky.

See parallel discussion in GRPC about doing just that
https://github.com/grpc/grpc-java/issues/502

[2015-06-02 19:59] Scottmitch commented on #3852
I think it may make sense.  Just a bunch of things to think about :)  For example does this negatively impact responsiveness (see below), is it possible users would want the different data frames (different application layer semantics), etc...  I can't think of anything but seems like you have thought about this a bit more than I have.

Does this negatively impact a lossy channel (i.e. cellular)?

[2015-06-02 22:12] nmittler commented on #3852
@louiscryan looking at the [current API](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2RemoteFlowController.java#L44), this would be a fairly significant redesign, since `FlowControllable`s would need to support merging. This gets a bit hairier when considering that `HEADERS` are `FlowControllable` too, and we wouldn't support merging them w

[2015-06-02 22:18] louiscryan commented on #3852
Something like

boolean merge(FlowControllable next)

if return is true then they were merged successfully, if false they werent and 'next' should be added to the queue

[2015-06-02 22:45] nmittler commented on #3852
@louiscryan right, that's pretty much what my initial thought was as well. Were you thinking of cooking up a PR to see what this would look like?

[2015-06-02 23:47] louiscryan commented on #3852
I started hacking on something, primarily so I can compare the performance of implicit merging vs explicit merging at the application layer. If implicit is close then it's probably a good idea, if it's not then perhaps explicit application merging is the recommendation and Netty remains unchanged other than adding doc.

[2015-06-03 02:20] nmittler commented on #3852
SGTM

[2015-06-03 03:51] TigranTsat commented on #592
Was this issue resolved or not? I am hitting same issue that number of IO threads is going extremely high (currently, I having 60 IO Workers)

[2015-06-03 07:16] CodingFabian commented on #3645
you fixed it by upgrading to 1.1.2 in https://github.com/netty/netty/commit/e4af176be7e5049b5ae55525cb50bedf1437889b
I missed the point when thy released 1.1.1 which only contained the osgi fix.

[2015-06-03 07:16] #3645 closed

[2015-06-03 09:00] trustin commented on #3849
I have disabled the autobahn testsuite from our CI temporarily. Please re-enable after fixing it.

[2015-06-03 09:31] trustin commented on #3804
I tried `dig` with and without `+noedns` (which removes the OPT record you said), but most DNS servers seem to omit the ADDITIONAL section no matter what I do:

[code]

Are you sure you specified the same DNS servers when you create a `DnsNameResolver`?

If you are in doubt, you could set a breakpoint in `DatagramDnsResponseDecoder.decode()` and step into `decodeRecords(..., DnsSection.ADDITIONAL,

[2015-06-03 09:49] dmk23 commented on #3804
Interesting, I've just run the same command lines and seen the same results as you.

It may be that my local ISP resolver is including additional records on its own initiative and I've been taking it for granted. However, I've seen the same behavior of including additional records in this online DNS lookup tool (resolver not accessible publicly): http://network-tools.com/nslook/Default.asp?domain=

[2015-06-03 10:19] trustin commented on #3797
Should be fixed by 311532f (4.1) and c72082e (master).  Could you please check, @dmk23?

[2015-06-03 10:24] trustin commented on #3804
I'm not sure - not a DNS expert either. :-/ My guess though is we are at the mercy of the DNS server we are talking to.  If you are fine, I'd like to close this issue until we find something more.  WDYT?

[2015-06-03 10:26] trustin commented on #3761
I encountered a little bit of complexity problem while trying to fix this issue. Will try again soon.

[2015-06-03 10:32] dmk23 commented on #3804
Yes, I cannot find any ready solutions by Googling and this is probably not the most urgent item to drop everything and go read raw DNS specs to try and find out :)

The issue probably should be closed for now, but perhaps with a label of "needs more info".

Hopefully someone might come along with fresh insight.

[2015-06-03 10:35] trustin commented on #3804
Cool. Thanks.

[2015-06-03 10:35] #3804 closed

[2015-06-03 10:40] dmk23 commented on #3797
I'll take a look at some point.

But based on the sum of our testing, we've disabled the Netty DNS cache in favor of our own, application-specific, that only keeps the data we need it tighter data structures

The object creation / memory consumption seems just too much - we got a very big boost in both resolver speed, memory footprint and reliability by simply turning the cache off...

[2015-06-03 10:57] trustin commented on #3797
Thanks for sharing your story.  That's helpful and it's always good to hear the bad news sooner.  And, it's also great to know it at least meets your expectation once cache is off. :-)  Would you mind if I ask you some numbers related with the resolver? E.g. dns queries / sec, # of event loop, machine & environment .. and maybe use cases

The current cache implementation caches the whole DNS quest

[2015-06-03 12:20] dmk23 commented on #3797
Let me answer in the order of easiness / definiteness :)

1. The issue with DNS protocol API is lack of ready-to-go methods for extracting records. So implementing it was all about looking up the examples and copying code from there (and running into issues like discussed here https://github.com/netty/netty/issues/3761). We still have not tried to extract other types of records (TXT for example) -

[2015-06-03 22:12] trustin commented on #3797
@dmk23 Thanks for sharing your story! Record extraction should be implemented before the final release, and let's see if I can fix the cache before then. :-)

[2015-06-03 22:13] #3797 closed

[2015-06-04 00:40] louiscryan commented on #3852
Just an update on this. I have most of this working but at the moment it performs worse than before in GRPC. This is largely due to the fact that for each DATA write we attach a listener to the future and use that to return flow-control to the application. This causes flow-control to be returned to a stream for each small message rather than as a block for the coalesced write.

To fix this we need

[2015-06-04 03:36] trustin commented on #3854
Does vert.x provides an option to use OpenSslEngine we provide? If so, your problem might just go away.

[2015-06-04 03:38] hotbain commented on #3799
maybe ,the comments will be more useful than that way

[2015-06-04 09:35] spinscale opened #3857 "Netty 3.9.3: 100% CPU usage under windows"
Hey,

I have one system (not reproducible so far), that got stuck with 100% CPU usage without doing anything. What got stuck was a `ClientBootstrap`. This is a `hot_threads` output of elasticsearch

[code]

Dont wonder about the `org.elasticsearch.common.netty` package prefix, this is just netty being shaded.

I dont think this is an epoll issue, but I found this JDK bug at http://bugs.java.com/bu

[2015-06-04 10:31] spinscale commented on #3857
This issue looks similar but has been marked as fixed https://github.com/netty/netty/issues/302

[2015-06-04 10:35] normanmaurer commented on #3837
Fixed

[2015-06-04 10:35] #3837 closed

[2015-06-04 12:39] christophe-blettry opened #3858 "Discussion of import external library"
Hello

Since using netty I did not need to import external libraries.
But since I want to use HTTP2.0 I found some import like this
 in : `netty/handler/src/main/java/io/netty/handler/ssl/OpenSsl.java`
[code]
Is'it a new way for netty ?

although it is noted in the main page
Ease of use
    Well-documented Javadoc, user guide and examples
    **No additional dependencies, JDK 5 (Netty 3.x) or 6 (N

[2015-06-04 16:44] ivanpopelyshev opened #3859 "SslHandler still have memory leak, 4.0.28.Final"
My game servers at gameofbombs.com are crashing too often. Most of clients use simple ws://, but every time part of stacktrace shows that someone uses websockets through SSL:

[code]

That's how I close connection in case of error in com.bm.server.AbstractWebSocket:

[code]

BTW, sometimes server survives through this problem. All players have big lag and game continues.
I have memory dump and sta

[2015-06-04 17:14] ivanpopelyshev commented on #3859
Ok, I'm an idiot. Just googled http://netty.io/wiki/forked-tomcat-native.html .

[2015-06-04 17:23] doom369 commented on #3859
You also may be interested in enabling native epoll transport http://netty.io/wiki/native-transports.html. It gave me 30% performance boost, while openSSL is only ~15%.

I have currently server on production for about 1 month with average load 50 req-sec and no issues so far.

[2015-06-04 19:04] louiscryan commented on #3852
OK. Fixed performance issues by allowing for more granular notifications out of the flow-controller.

In GRPC I see about a 2x throughput improvement for streams of small messages.

[2015-06-04 20:31] rkapsi opened #3861 "Change in the minimum requirements for using Epoll?"
Hello,

has there been any change in the minimum requirements for using Epoll? We're keying everything off of `Epoll#isAvailable()` and it went almost unnoticed but my hard-coded Epoll test for issue https://github.com/netty/netty/issues/3709 started suddenly failing on our build machines.

[code]

[code]

[code]

[2015-06-04 20:46] normanmaurer commented on #3861
I wonder if we publish snapshots via our ubuntu ci by mistake. We should only do this via our centos slaves. I will check tomorrow if @trustin not beats me

[2015-06-04 20:59] rkapsi commented on #3861
I've narrowed the build down to `netty-all-4.1.0.Beta6-20150604.173400-69` (published on Thu Jun 04 17:34:00 UTC 2015 to your snapshot repository). Prior builds work fine.

[2015-06-04 23:44] trustin commented on #3859
Looking from the thread dump, you seem to be using an unpooled allocator which might be the culprit.  Did you try to use the pooled allocator?

    serverBootstrap.childOption(ChannelOptions.ALLOCATOR, PooledByteBufAllocator.DEFAULT);

For more information, take a look into @normanmaurer's slides - http://normanmaurer.me/presentations/2014-facebook-eng-netty/slides.html

[2015-06-04 23:51] trustin commented on #3861
The job `netty-deploy` was not pinned to any slaves, so it was always possible to deploy from non-CentOS6.  I've changed the job so that it's always run on CentOS 6 slaves and re-run the for all branches. Please wait for about an hour to see if the problem persists after updating to the latest snapshot.  If so, please reopen.

[2015-06-04 23:51] #3861 closed

[2015-06-05 14:58] galderz opened #3862 "OutOfMemoryError: Direct buffer memory"
Hi, while running some performance tests with Netty 4.0.18, we're seeing this exception:

[code]

We're passing in `-XX:MaxDirectMemorySize=256m`. If we increase it we get some other timeouts.

In terms of allocations, in one place we're currently using Java's NIO `ByteBuffer.allocate` to allocate a short lived buffer, but that should be resolved from the heap. I can probably do this with a simple

[2015-06-05 15:41] brodier opened #3863 "CompositeByteBuf.removeComponent deallocate another CompositeBuffer instance"
Netty version: 4.0.28.Final

Context:
Removing component of a CompositeByteBuf composed from sliced element of an other CompositeByteBuf result in an unexpected state of this other CompositeByteBuf

I have a code that throws an io.netty.util.IllegalReferenceCountException when accecssing on a component of CompositeByteBuf

Steps to reproduce:

Failing JUnit test :

[code]

[2015-06-05 15:41] brodier commented on #3863
Tested on 4.0.12.Final and 4.0.28.Final

[2015-06-05 15:45] rkapsi commented on #3861
Confirm, fixed.

[2015-06-05 15:45] normanmaurer commented on #3863
@brodier thanks for reporting. Do you grant us rights to include the unit test in netty ? I will work on a fix

[2015-06-05 15:49] brodier commented on #3863
Of course I grant you rights to include this unit test.
Thank's for the quick reply

[2015-06-05 19:15] edwinchoi commented on #3049
I ran into this issue as well. Attaching a profiler showed the majority of the time being spent in Snappy.findMatchingLength (specifically calls to getInt, which does a boundary check and volatile read in refCnt). Changing the code to use Unsafe with ByteBuf.array and ByteBuf.memoryAddress improved the performance significantly in my case.

[2015-06-05 19:16] normanmaurer commented on #3049
Can you show us the code?

[2015-06-05 20:09] edwinchoi commented on #3049
Sure, I'll work on coming up with an example demonstrating the changes over the weekend (can't share the actual code).

[2015-06-05 21:16] normanmaurer commented on #3049
Thanks!

[2015-06-05 22:37] Scottmitch commented on #3783
@ejona86 - See PR #3864.

I think this approach will be sufficient for flow controlled frames.  However we are still vulnerable to resource exhaustion for non flow controlled frames.  I think we can handle this in a followup PR though.  Let me know if you agree with this or if you don't think it is an issue.

[2015-06-06 08:33] normanmaurer opened #3871 "Buffer leak in HTTP2"
06:54:56 02:54:56.245 [nioEventLoopGroup-47-0] ERROR io.netty.util.ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
06:54:56 Recent access records: 5
06:54:56 #5:
06:54:56 	io.netty.buffer.AdvancedLeakAwareByteBuf.release(AdvancedLeakAwareByteBuf.java:722)
06:54:56 	io.netty.ha

[2015-06-06 08:33] normanmaurer commented on #3871
See also http://clinker.netty.io/jenkins/job/netty-pullreqs/1226/consoleFull

@nmittler @Scottmitch could you check ?

[2015-06-06 15:12] Scottmitch commented on #3871
@normanmaurer - Will check

[2015-06-06 15:32] Scottmitch commented on #3871
I have a PR pending for this.

[2015-06-06 19:47] Scottmitch commented on #3686
@ejona86 - I'm going to close this. Feel free to re-open if you feel more work needs to be done.

[2015-06-06 19:47] #3686 closed

[2015-06-06 19:55] Scottmitch commented on #3597
@nmittler - After the benchmarks have been added do you see any need for improvement?

I have noticed there is a bytes -> string conversions to do lookups into data structures on what appears to be a "hot" code path.  We may be able to avoid this with `ByteString`:

https://github.com/twitter/hpack/blob/master/hpack/src/main/java/com/twitter/hpack/StaticTable.java#L114

[2015-06-06 19:56] Scottmitch commented on #3388
@louiscryan - Is this on your radar still?

[2015-06-07 16:05] edwinchoi commented on #3049
Modified Snappy.java:
https://gist.github.com/edwinchoi/160167e063a3d671a24e

Original:
https://github.com/netty/netty/blob/5725e804bcfbd0c76e0f11e7911a76970eb06c8c/codec/src/main/java/io/netty/handler/codec/compression/Snappy.java

Changes were only made to `findMatchingLength`, which is where `getInt` showed up as a hot spot.

[2015-06-07 22:04] flirtomania commented on #3534
-1 We use Netty 5 on Android
Most of interfaces supposed to be implemented by client I've seen are not single-method interfaces.

[2015-06-08 03:51] trustin commented on #3858
It's an optional dependency.  When the tcnatice is unavailable, Netty will not use it.

[2015-06-08 03:52] #3858 closed

[2015-06-08 08:02] markuskd commented on #3854
Hi Trustin,
Thanks for your hint, but the original problem was a forgotten system property -Djavax.net.debug to be removed before starting the load tests. All this print stream stuff is related to the debug logging.
After removing the system property, there is no blocking anymore.

So this issue can be closed.

[2015-06-08 08:02] #3854 closed

[2015-06-08 08:08] trustin commented on #3854
Great to know! Thanks for coming back. :-)

[2015-06-08 08:18] trustin commented on #3049
@edwinchoi Do you have some numbers, like before/after vs. other Snappy impls (Dain's for example)?

[2015-06-08 08:18] trustin commented on #3049
@edwinchoi Oh, and would you mind if I ask you to sign the ICLA? http://netty.io/s/icla

[2015-06-08 12:40] bagdemir commented on #3855
Thanks for the link @normanmaurer . I had already had a look at the wiki and set the leakDetectionLevel to see more and have been waiting for the next leak warning.

However, in our implementation, everything looks actually OK and there had been no change in the source code since months before the deployment. Until Java 8 migration, I hadn't seen such a warning with JRE7. The instances have been r

[2015-06-08 12:48] normanmaurer commented on #3863
@brodier actually I think this is expected... You will need to call cb2.addComponent(cb.slice(...).retain()). As slice(...) will not increment the reference count and removeComponent(...) will call release() on the components that are removed.

[2015-06-08 12:48] #3863 closed

[2015-06-08 12:50] normanmaurer commented on #3855
@bagdemir how huge the leak really is is impossible to say. If it reports a leak I would bet there is one. IF you run with the "default" resource leak detection level this reports may only be logged very rarely if it happens only on rare cases in your app. So better enable advanced or paranoid level and see what shows up. Be aware these will put some noticeable perf overhead on your app..

[2015-06-08 12:51] normanmaurer commented on #3859
So I think we can close this... @trustin WDYT ?

[2015-06-08 12:54] normanmaurer commented on #3862
@galderz is there any chance the the encode(...) method throws an exception ? It seems like you not release the buffer in the cases. Also you may want to consider extend MessageToByteEncoder which would handle this for you.

[2015-06-08 12:56] normanmaurer commented on #3848
I think this should be fixed now

[2015-06-08 12:56] #3848 closed

[2015-06-08 12:58] bagdemir commented on #3855
@normanmaurer yeah, that was actually what I am afraid of. I think It is better to run our load tests on Stage and try to reproduce the issue with leakDetectionLevel=paranoid.

[2015-06-08 12:58] #3855 closed

[2015-06-08 13:06] ivanpopelyshev commented on #3859
Yep, you can close this. Thank you for advices, it helped :+1:

[2015-06-08 13:07] #3859 closed

[2015-06-08 13:27] normanmaurer commented on #3857
@spinscale this can not be an epoll issue as epoll is only used on linux ;) That said I have no idea what this is about :/

[2015-06-08 13:29] normanmaurer commented on #3857
@spinscale the jdk bug kind of looks promising.. Unfortunately I have no windows at all and so it may be hard to reproduce here

[2015-06-08 14:24] thanhnguyen commented on #3722
Confirmed this on Windows using the latest Netty 5 code as well. It shows the same error.

[2015-06-08 14:35] nmittler commented on #3597
@Scottmitch I definitely think something like this should be investigated and the benchmarks now provide a basis for comparison. The need for gRPC isn't that high, however, since we typically don't include very many headers so this has not been showing up as a "hot" code path in our testing thus far.

I'm probably not going to have the bandwidth to get to this any time soon.  If it's a priority fo

[2015-06-08 19:55] louiscryan commented on #3388
Sort of. We wrote a bunch for GRPC which cover a great deal of what would be needed for HTTP2 so they act as a pretty good proxy. Its not a high priority for me right now to port those into Netty itself though.

[2015-06-08 20:30] normanmaurer commented on #3388
@louiscryan slacker :beer: =P

Do you have a link to benchmarks or are these internal ?

[2015-06-08 21:32] johnou commented on #3799
And what happens with Netty 6? That guarantees breaking changes every major release. Examples should be well documented / mention what version it was written for.

[2015-06-08 22:34] louiscryan commented on #3388
They're all public

https://github.com/grpc/grpc-java/tree/master/benchmarks/src/jmh/java/io/grpc/benchmarks/netty

[2015-06-08 23:24] edwinchoi commented on #3049
@trustin no, I have not run any microbenchmarks. For my specific case, I measured based on the application throughput (overall improvement was ~33% on highly compressible data). So these changes are biased against my workload. I expect there to be little to no improvement if the data were completely random.
I'll look into measuring and optimizing this more generally when I have some free time (and

[2015-06-09 04:22] normanmaurer commented on #3798
Fixed

[2015-06-09 04:22] #3798 closed

[2015-06-09 05:27] trustin commented on #3871
Ugh, I didn't know you had a fix. Just pushed my own fix: e72d04509f7d04d2a0a0e96cc5555728ac03aa29

[2015-06-09 05:27] #3871 closed

[2015-06-09 06:10] trustin commented on #3815
@nmittler @Scottmitch PR created: #3873

[2015-06-09 10:34] trustin commented on #3814
Please see #3876

[2015-06-09 21:43] Scottmitch commented on #3871
@trustin - No problem. Just got it approved and saw that I had a merge conflict :)  Sorry for the slow turn around :(  I was just using `ReferenceCountUtil` to avoid explicit `a instanceof ByteBuf` and cast, but leak fixed either way.

[2015-06-10 02:49] #3815 closed

[2015-06-10 03:17] trustin commented on #3871
@Scottmitch I used `ReferenceCountUtil.release()` first, but wanted to make sure I release ByteBufs only. If the objects of other types are released, it's probably something we didn't really expect, so...

[2015-06-10 03:18] trustin commented on #3871
Anyways, sorry that I didn't notice you already have fixed it on your side. :facepalm:

[2015-06-10 17:52] nmittler opened #3880 "Need better error when first HTTP/2 frame is not SETTINGS"
Right now if the protocol upgrade to HTTP/2 fails, the server may send an HTTP 1.1 response leading to a frame parsing error at the client (due to frame length). It would be helpful for receipt of the first frame to verify that the frame type is SETTINGS, if not fail with a better error.

[2015-06-11 03:40] fratboy opened #3881 "FixedChannelPool creates 1 more channel than maxConnections"
Netty version: 4.0.10.Beta5

Context:
1 more channel was created, when I tried to acquire channel via `FixedChannelPool.acquire`

Steps to reproduct:
1. Create a `FixedChannelPool` with `N`  `maxConnections`
2. Call `FixedChannelPool.acquire` from enough many thread
3. `N+1` channels is created.

Opinion:
It looks like

https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/ch

[2015-06-11 05:38] cleverpig commented on #3303
mark~we have fixed in 4.0.26?

[2015-06-11 12:43] zhouxianjun opened #3882 "LengthFieldBasedFrameDecoder Stick package"
Server   LengthFieldBasedFrameDecoder(4096, 0, 2, 0, 0);

Client send Msg:
dos.writeShort(2); //length
dos.writeShort(0x0001); //cmd
It's right.

but this:
Client send Msg:
dos.writeShort(3); //length
dos.writeShort(0x0001); //cmd
dos.writeShort(5); //code length
That is wrong.
way?

send first right,but loop send wrong

[2015-06-11 19:14] Scottmitch commented on #3881
@normanmaurer - Seems legit. WDYT?

[2015-06-11 19:15] normanmaurer commented on #3881
@Scottmitch yep, will fix

[2015-06-12 00:22] edwinchoi opened #3883 "OpenSSL SSLSession returns incorrect peer principal"
According to the docs for `javax.net.ssl.SSLSession` (http://docs.oracle.com/javase/7/docs/api/javax/net/ssl/SSLSession.html#getPeerPrincipal()), `getPeerPrincipal` should be returning the identity of the peer.

The OpenSSL based implementation for Netty, however, is returning the identity of the issuer:
https://github.com/netty/netty/blob/netty-4.0.28.Final/handler/src/main/java/io/netty/handler/

[2015-06-12 01:30] zhouxianjun commented on #3882
I know the problem. total length should be 4.

[2015-06-12 01:30] #3882 closed

[2015-06-12 04:03] normanmaurer commented on #3883
@edwinchoi thanks for the report... Will fix it

[2015-06-12 04:21] danhyun commented on #1230
Hello, I'm trying to find the status of this work but last I see it seems that @buchgr is no longer legally allowed to continue work on this effort. Is this something that's still planned for release?

[2015-06-12 12:20] #3636 closed

[2015-06-12 19:32] Scottmitch opened #3884 "OioSctpChannel read iterating over selected keys"
I'm curious why the [OioSctpChannel](https://github.com/netty/netty/blob/4.1/transport-sctp/src/main/java/io/netty/channel/sctp/oio/OioSctpChannel.java#L187) is iterating over `readSelector.selectedKeys()` but not using the `SelectionKey`.  It seems like the assumption is the number of keys that are active is an indication of how many read operation should be done?

[2015-06-12 19:34] Scottmitch commented on #3884
@benevans @trustin - Any thoughts?

[2015-06-12 21:18] fredericBregier commented on #3636
@karuturi Just to note that the fix was not pushed to 4.0 and 3.X since it would have add some public methods, therefore impacting the interface by additions, which is not allowed for those releases (stability of interfaces).

[2015-06-14 11:58] FeiWongReed opened #3886 "OSGi manifests in javadocs/sources jars"
This problem affected many people more than year ago, but it's still here: https://stackoverflow.com/questions/23149966/classnotfoundexception-for-a-type-that-is-available-to-the-osgi-runtime-io-net

You are including OSGi manifests in sources/javadocs jars, so osgi container treats them as correct dependencies when resolving from OBR repository. So runtime fails with non-descriptive ClassNotFound

[2015-06-14 11:59] FeiWongReed commented on #3886
Problematic jar example: https://search.maven.org/remotecontent?filepath=io/netty/netty-transport/5.0.0.Alpha2/netty-transport-5.0.0.Alpha2-sources.jar

[2015-06-14 18:43] normanmaurer commented on #3886
@FeiWongReed We love contributions. Maybe submit a PR ?

[2015-06-14 18:49] FeiWongReed commented on #3886
Ok, will try.

[2015-06-14 19:06] FeiWongReed commented on #2058
Actually, adding manifests into source jars is completely wrong: https://github.com/netty/netty/issues/3886

[2015-06-14 19:07] FeiWongReed commented on #3886
It's easy to fix this, but it was not accidentally mistake. Look at #2058. So I don't know what to do.

[2015-06-15 06:49] karuturi commented on #3636
Thanks a lot @fredericBregier for fixing this and driving it to completion.
Will upgrade to 4.1 when its released.

[2015-06-15 13:21] enisher opened #3887 "Netty's Channel.write() reorders messages"
I've read an answer on stack overflow where @normanmaurer said that messages written with Channel.write() will get transferred in the same order the method was called. And I think I might found a case where this is not true.

Suppose we have 2 concurrent writes:
 - The first one is done from some external thread (e.g. application main thread)
 - The second one is done from event loop thread (e.g.

[2015-06-15 16:31] purplefox commented on #2639
Interesting. I just stumbled upon this issue doing some profiling for Vert.x 3 - looks like the exact same issue is present in VisualVM in JDK 8 :(

[2015-06-15 21:57] Scottmitch commented on #3887
@enisher - Thanks for reaching out!  Would you mind providing a link to the stack overflow answer you are talking about?

[2015-06-15 23:32] NiteshKant commented on #3887
If the actions are concurrent then by definition there is no order, rite?

[2015-06-16 07:12] normanmaurer commented on #3887
@earthling yeah that is a know "limitation", but we thought it is ok as if you do something like this you will need some kind of external synchronisation / ordering anyway.

[2015-06-16 07:24] #3887 closed

[2015-06-16 11:09] enisher commented on #3887
@Scottmitch Here is [the link](http://stackoverflow.com/questions/9082101/do-messages-sent-via-nettys-channel-write-preserve-their-order-when-begin-sen)

@NiteshKant @normanmaurer the issue here is that I have external synchronization, but it doesn't help.

I use Netty as a transport for a client to external service. And trying to do a sort of pipelining. I get responses in the same order I send r

[2015-06-16 12:10] normanmaurer opened #3888 "Number of PoolArena's should be 2 * cores"
We use 2 * cores as the default number of EventLoop's for NIO and EPOLL, so we should do the same for the numbers of PoolArena's. This will reduce conditions.

jemalloc itself even use 4 * cpus:
http://www.canonware.com/download/jemalloc/jemalloc-latest/doc/jemalloc.html

Related to:

https://groups.google.com/d/msg/netty/J78updTXPTU/T6-i_O6Hxu4J

[2015-06-16 12:10] normanmaurer commented on #3888
@purplefox FYI

[2015-06-16 18:06] normanmaurer commented on #3883
@edwinchoi can you verify the fix:

https://github.com/netty/netty/pull/3889

Thanks!

[2015-06-16 18:13] normanmaurer commented on #3881
Fixed

[2015-06-16 18:13] #3881 closed

[2015-06-16 19:35] Scottmitch commented on #3887
Netty can provide "ordering" in the following situations:

1. You are doing all writes from the EventLoop thread; OR
2. You are doing no writes from the EventLoop thread (i.e. all writes are being done in other thread(s)).

If you fall into situation 2, and have multiple threads doing writes, then you will have to provide additional "ordering" mechanism on top (if applicable).  If your situation i

[2015-06-16 19:39] normanmaurer commented on #3887
@Scottmitch +1

[2015-06-16 22:02] virtman commented on #3857
Had same issues by some users on Windows(2012 etc) as server with Java 8.0.45 and  -Dorg.jboss.netty.epollBugWorkaround=true definetively fixes issue because it stops to happen, I do not think it is contingent probability, but seems to be the Java issue. More over when bug happens, it affects not only Netty, but any Java NIO based implementation even when the Java programs are running in separate

[2015-06-16 22:15] virtman opened #3892 "SSL server side session resumption with Netty - issue or no support by Java?"
Hello,

tests were done with https://github.com/iSECPartners/sslyze
Checked already all Netty basic version as example with HttpSnoopServer example.
Java claims to support it transparently, but even when I use instead .createSSLEngine(); the version with hints .createSSLEngine("localhost", 443); etc.. this does not help.
Therefore the questions to smart guys in this forum, did ever anyone get sess

[2015-06-17 03:02] edwinchoi commented on #3883
@normanmaurer works as expected now, thanks!

[2015-06-17 04:37] normanmaurer commented on #3883
Fixed

[2015-06-17 04:37] #3883 closed

[2015-06-17 05:55] fratboy commented on #3881
:+1:

[2015-06-17 21:18] ejona86 opened #3895 "OpenSslEngine is public, but Jdk*SslEngine is package-private"
Is there a reason for the different visibility between the SslEngine implementations? I couldn't find usages of OpenSslEngine within Netty outside of io.netty.handler.ssl. Was this on purpose, or accidental?

[2015-06-17 21:24] Scottmitch commented on #2809
@nmittler - I'll take this issue. There is interest in being able to protect applications from being over-loaded with data. For this reason I'm thinking the default behavior will be to close the connection (with some sort of error), and allow this behavior to be overridable. WDYT?

[2015-06-17 22:14] nmittler commented on #2809
@Scottmitch SGTM

[2015-06-17 22:33] Scottmitch commented on #2809
@nmittler - FYI this may also come with other updates to the `DefaultHttp2FrameReader` to protect against accumulating too much data before we dispatch the `Http2Headers` to the `Http2FrameListener` too.

[2015-06-18 01:05] Scottmitch commented on #3895
Here is a related PR for the JDK stuff https://github.com/netty/netty/pull/2966. Names previously used to include `Jetty`.  Scope of classes was keep package private because there was no need to expose them.  `OpenSslEngine` appears to have been `public` from its inception https://github.com/netty/netty/commit/a72230061df5ebee2d1a9f595c9f9ae5ee9868fc.

Do you have a need to extend the engines?

[2015-06-18 04:44] normanmaurer commented on #3895
It's by purpose to expose some Openssl specific stuff

[2015-06-18 04:59] sefler1987 opened #3896 ""ByteBuf copiedBuffer(ByteBuffer buffer)" in Netty 4.0.24 is NOT thread safe"
I'm not sure why this static method is not thread safe, but it bothers me a lot during the development. As the following code shows, the method firstly copy the position out and then set it back after copying. If there are two threads doing the same thing, the position may be stained.

[code]

[2015-06-18 05:01] normanmaurer commented on #3896
@sefler1987 I think you are right... We should call duplicate on the buffer first. Let me fix it

[2015-06-18 06:56] purplefox opened #3897 "Please make EpollSocketChannel non final"
Hi folks,

In Vert.x 3 HTTP each Netty channel is associated with our Vert.x ServerConnection object which represents our HTTP connection.

As an optimisation to avoid looking up the ServerConnection each time a channelRead is fired for the channel, we store a reference to the connection on a subclass of the NioSocketChannel object:

https://github.com/eclipse/vert.x/blob/perf5/src/main/java/io/ve

[2015-06-18 07:57] trustin commented on #3897
How about `Channel.attr()`?

[2015-06-18 09:33] purplefox commented on #3897
Hi Trustin-

I ran a comparative benchmark to compare three different approaches:

1. Using a simple concurrent hashmap
2. Using Netty attributes
3. Using simple reference on subclass

This is on two 16 core servers with 10GbE, one acting as server, one as client.

Using wrk on the client side with command line:

./wrk -c 1000 -t20 http://192.168.123.25:8080/foo -d60s -s vpipeline.lua -- 200

I ra

[2015-06-18 10:06] normanmaurer commented on #3897
@purplefox honestly I would like to keep it final.

If you really want to not use this optimization you could just wrap the EpollSocketChannel.

Something like:

[code]

[2015-06-18 10:16] purplefox commented on #3897
We also have to override ServerSocketChannel so we can change where the server side SocketChannels are created.

Not sure a delegation approach like this will work there? ..

[2015-06-18 11:58] normanmaurer commented on #3897
@purplefox hmm you right... that said like I said I would prefer to not change this but better make the attribute stuff perform better ;) Let me see what I can do for you.

[2015-06-18 12:17] purplefox commented on #3897
Cool, thanks Norman :)

BTW, this is not urgent, as I actually found the epoll transport to be somewhat slower than the Nio transport in my tests, so we don't really have an important need to use a transport other than Nio at the moment.

[2015-06-18 12:40] normanmaurer commented on #3897
@purplefox gotcha :) I love low-priority stuff ;)

[2015-06-18 19:20] justinjhendrick opened #3899 "Example code in ByteBuf 4.0 javadoc uses 3.x API"
https://netty.io/4.0/api/io/netty/buffer/ByteBuf.html

 // Iterates the readable bytes of a buffer.
 ByteBuf buffer = ...;
 while (buffer.readable()) {
     System.out.println(buffer.readByte());
 }

But readable() was changed to isReadable() in 4.0

[2015-06-18 19:21] normanmaurer commented on #3899
@justinjhendrick yep... We love PR's, maybe you want to submit one ?

[2015-06-18 20:17] SutarSuhas opened #3900 "SslHandler does not send SSL close notify after receiving an invalid client certificate"
Our server application implements a simple SSLHandler by extending SslHandler, and implements another handler (ServerHandler) for application message/exception handling. We are trying to get Netty SSLHandler to send an SSL close notify message before closing the channel.

However, whenever our client application sends an invalid SSL certificate, it never receives ssl close notify message before TC

[2015-06-18 22:58] #3880 closed

[2015-06-19 05:00] mubarak commented on #3778
Internet-draft: https://tools.ietf.org/html/draft-tsvwg-quic-protocol-00
C++ impl: https://github.com/devsisters/libquic

[2015-06-19 05:19] sefler1987 commented on #3896
Thank you so much~

[2015-06-19 09:08] FeiWongReed commented on #3886
Anybody?

[2015-06-19 13:07] jroper opened #3902 "Reactive Streams"
Netty should provide a reactive streams implementation.

My reason for creating this issue is because very soon we're going to need this for Play, and I want to make sure that any efforts we make to do it ourselves are not duplicating any efforts that anyone else has started. Also, if any Netty devs want to be involved in the design/implementation, this is your chance, otherwise if you're not inte

[2015-06-19 13:43] hepin1989 commented on #3902
@jroper make sense,vert.x implement reactive stream too.so cc @purplefox.

[2015-06-19 13:54] normanmaurer commented on #3902
@jroper while I like the idea I'm currently a bit short in time to tackle this and it is not the highest priority here. But contributions welcome of course!

[2015-06-19 13:58] normanmaurer commented on #3888
Fixed

[2015-06-19 13:58] #3888 closed

[2015-06-19 13:59] normanmaurer commented on #3886
@FeiWongReed unfortunaly I'm not really an OSGI user and so have no idea what the right behaviour is. @trustin @Scottmitch  maybe you ?

[2015-06-19 14:00] normanmaurer commented on #3840
@hepin1989 I will close this for now... Please re-open once you have more infos

[2015-06-19 14:00] #3840 closed

[2015-06-19 15:45] trustin commented on #3886
So, which is the right thing? @ChristianSchwarz and @FeiWongReed ?

[2015-06-19 15:46] trustin commented on #3886
Which = OSGi manifest in the source/javadoc JAR or not

[2015-06-19 16:32] justinjhendrick commented on #3899
I'd like to but my company doesn't want to go through the analysis required for me to contribute to netty for such a small PR. Sorry.

[2015-06-19 16:33] normanmaurer commented on #3899
@justinjhendrick no worries... I will fix it

[2015-06-19 16:48] justinjhendrick commented on #3899
Thanks!

[2015-06-19 17:01] hepin1989 commented on #3840
@normanmaurer sure :)

[2015-06-19 19:01] normanmaurer commented on #3782
I wonder if this may be related to #3893

[2015-06-19 19:38] normanmaurer commented on #3780
Let me fix this

[2015-06-19 20:32] FeiWongReed commented on #3886
I'm sure that OSGi manifests must not be in javadocs/jars. Such approach breaks OSGi container from correct dependency resolution and leads to undescriptive NoClassDefFound exceptions. So, I think you should turn off such manifests (or, maybe, move them into maven profile for some strange freaks).

[2015-06-20 03:38] jroper commented on #3902
@normanmaurer of course, I wouldn't expect you to drop everything to do this, we're fully prepared to do this ourselves.  But do you have any time to review the design or implementation?  My thoughts for the design are this (note, this is all Netty 3 terminology, I don't know how similar it is to Netty 4, but we'll probably upgrade to Netty 4 first so our impl will target Netty 4):

* Publishing -

[2015-06-20 06:19] NiteshKant commented on #3902
At the risk of sounding like a sales pitch, let me introduce two libraries that are in the same space (netty + reactive streams):

- [RxNetty](https://github.com/ReactiveX/RxNetty/tree/0.5.x) This layers [RxJava](https://github.com/ReactiveX/RxJava) over netty to provide client and server abstractions for various protocols. Reactive streams effort was started by developers from RxJava and hence th

[2015-06-20 07:08] hepin1989 commented on #3902
@jroper I think you should start with netty4,in fact the netty4's thread model is more flexible ,and you could control the read/accept ,which means back pressure.and you could trigger a next read/accept when there is a request from downstream.

I just implement akka-io-netty using netty4.1 and it nearly implement all the command of akka-io,so I think  it would be better to using netty4 as a start.

[2015-06-20 07:31] hepin1989 commented on #3902
@jroper I push our code here
https://github.com/qgame/engine/tree/master/framework/akka-io-netty/
you may want to take a look.

[2015-06-20 09:24] grgvineet opened #3904 "Out of memory error"
Netty version: 4.0.23.Final

I am using Netty in an Android application KDE connect. KDE Connect is a project that aims to communicate all your devices. It has both server and client implementation and it depends how it will behave. When a new device enter in a network it broadcasts an identity package and other other device can can connect to it on receiving that identity package.
The application

[2015-06-20 10:14] ChristianSchwarz commented on #3886
Right, the manifest must not be in the javadoc.jar but in the source bundle
to be able to compile it in your own.
Am 19.06.2015 10:33 nachm. schrieb "Fei Wong Reed" <notifications@github.com

[2015-06-20 10:21] normanmaurer commented on #3886
Thanks ... Will see if I can fix it or if someone else will beat me

[2015-06-20 19:58] enisher commented on #3887
@Scottmitch thanks for the explanation!

[2015-06-21 08:46] jroper commented on #3902
Actually the reason we want this is that Play is moving to Akka streams for the IO library that we're exposing in our API. So we need something to bridge Akka streams on to Netty, and a direct reactive streams implementation is the most logical choice, since Akka streams of course already supports reactive streams. My concern about layering something like RxJava in between is that performance may

[2015-06-21 08:52] hepin1989 commented on #3902
@jroper So still have netty based server there?I think only akka-http based one will contains in the next Play release,and you will left the netty one to the community.

Seems like you have to implement the directly one.

[2015-06-21 12:10] trustin commented on #3886
So, does that mean, it's fine to have OSGi manifest in the source JARs?

[2015-06-21 12:38] FeiWongReed commented on #3886
I'm sure that NO. Christian, could you show me any artifact in Central, having manifest in source bundle?

Christian, are you understand that manifests in source bundles ruins dependency resolution when we are using OBR repositories?

Trustin, I think you should not add manifests into any jars, which are not containing classes, this is incorrect- you say, that your jar "provides" some package, but

[2015-06-21 12:40] FeiWongReed commented on #3886
Also, please read this again: https://stackoverflow.com/questions/23149966/classnotfoundexception-for-a-type-that-is-available-to-the-osgi-runtime-io-net

[2015-06-21 13:01] ChristianSchwarz commented on #3886
All OSGi Bundes at eclipse orbit with source jars contain a manifest, see
http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/.
It is also valid to have jars without classes, eclipse does this eg for
native libs and images. Can you link a OSGi spec that define that this is
illegal? I guess you face a special problem with your build enviroment.
Am 21.06.2015 2:41 nachm. schrieb

[2015-06-21 13:17] FeiWongReed commented on #3886
Eclipse != OSGi. In case of OBR repository and OBR dependency resolving such manifests will break it.

Ok, I've followed your link. I've downloaded sources jar: http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/plugins/ch.qos.logback.core.source_1.0.7.v20121108-1250.jar

Here is manifest.mf from it:
[code]

Could you show me any Export-Package or Import-Package dir

[2015-06-21 19:09] normanmaurer opened #3905 "Buffer leak in HTTP2"
exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
18:20:38 io.netty.channel.ChannelPipelineException: io.netty.handler.codec.http2.Http2ConnectionRoundtripTest$9.handlerAdded() has thrown an exception; removed.
18:20:38 	at io.netty.channel.DefaultChannelPipeline.callHandlerAdded0(DefaultCh

[2015-06-21 19:09] normanmaurer commented on #3905
@louiscryan @Scottmitch @nmittler @ejona86 could you please check... Thanks!

[2015-06-22 06:20] jroper commented on #3902
@hepin1989 The roadmap has been updated, Play 2.5 is now going to use Akka streams, and will still use Netty.

[2015-06-22 14:36] benmccann opened #3907 "Allow Netty 4 and 5 to be used simultaneously"
I'm starting to have a lot of different libraries in my project which use Netty. That shows how successful Netty has been! The downside here is that I'm worried they depend on different versions of Netty. Right now that's not a problem because Netty 3 and Netty 4 have different package names. But I'm worried when Netty 5 comes out that if it gets pulled in, it will evict Netty 4 and cause my libra

[2015-06-22 15:26] grgvineet opened #3908 "Channel closed on one device but not closed on other"
Netty version : 4.0.23.Final

I am using Netty on Android, both server and client are on Android, different device. If there is a sudden network failure, like switching wifi on/off, all channels on that device are closed automatically and channelInactive is fired, while on other device channel is open, active and writable. Even writing on this channel leads to writing success and writing done.
Is

[2015-06-22 16:53] kkuehl commented on #3761
I have a related DnsRecord decoding question.
I am attempting to decode PTR record responses.

The DnsRecord does not expose rlength or rdata (yet) which would allow me to know how to read the ByteBuf content.

[2015-06-22 17:53] louiscryan commented on #3852
@Scottmitch @ejona86 @nmittler

An update on whether to support window update coalescing....
In short I'm inclined not to make the change as it only seems to help when the flow-control window is improperly sized to the network.

I've started using netem with our benchmarks so we can better simulate real network behaviors over loopback. For 1gb links we can saturate them pretty easily, for 10gb lin

[2015-06-22 19:21] hepin1989 commented on #3907
really?!based on netty5,the alpha one ?okay big move.
I think there will not have a rename,but I can see your problem we just stick on the netty 4.1 betas.

[2015-06-22 22:40] nmittler commented on #3905
@normanmaurer, created #3909 to fix.

[2015-06-22 23:07] NiteshKant commented on #3907
Issue #3799 discusses the same thing. I certainly see this as an issue when netty 5.0 is ready for prime time. It wasn't an issue with the move from 3.x to 4.x as the package names changed from org.jboss to io.netty.

The negative of this would be a big overhead for maintaining various versions w.r.t bug fixes, as I assume a simple cherry-pick would not work.

@trustin @normanmaurer et al., what a

[2015-06-23 02:54] fratboy commented on #3907
There are so many popular open source projects needs Netty module, and I'm already suffering from this issue.

[2015-06-23 07:08] normanmaurer commented on #3208
Fixed by https://github.com/netty/netty/pull/3802

[2015-06-23 07:08] #3208 closed

[2015-06-23 07:09] normanmaurer commented on #3419
@trustin sounds good (Sorry for the late response).

[2015-06-23 13:35] normanmaurer opened #3910 "Review PooledByteBufAllocator in respect of jemalloc 4.x changes"
There are some interesting changes in jemalloc. We should review our PooledByteBufAllocator and see if we can incorporate some stuff as it was written with jemalloc 3 in mind.

See also:
https://www.youtube.com/watch?v=RcWp5vwGlYU
https://github.com/jemalloc/jemalloc/blob/dev/ChangeLog
https://github.com/jemalloc/jemalloc/milestones/4.0.0

[2015-06-23 13:35] normanmaurer commented on #3910
@trustin FYI as you write the initial impl :)

[2015-06-23 13:36] normanmaurer commented on #3910
@Scottmitch also FYI :)

[2015-06-23 15:15] Scottmitch commented on #3905
thanks @nmittler!

[2015-06-23 15:17] Scottmitch commented on #3910
@normanmaurer - Thanks for reporting.

[2015-06-23 16:57] benmccann commented on #3907
I imagine there should be a good idea of how much work to handle backports of bug fixes since we're have to do it for bug fixes being backported from 4.x to 3.x

[2015-06-23 17:00] normanmaurer commented on #3907
Yeah the maintaining is an issue... Let me think a bit about this, but I would at least hope to drop "support" for 3.x at some point and so lighten the pain a bit.

[2015-06-24 02:17] ywengineer commented on #3910
I found another malloc (tcmalloc) from google similar to jemalloc. it includes some useful tools (heap checker and heap profiler) as well. safari and chrome using tcmalloc.

[2015-06-24 03:35] bobwenx opened #3911 "netty 4.1.0.Beta5 with Epoll Channel: accept() failed: Too many open files"
In my environment, i build a TCP server base on netty(4.1.0.Beta5) and using native-epoll socket  transport. before last week, it works very well。
But after i increase system memory from 4GB -> 32GB at yesterday, the server repeating report IOException:
[code]
the config of my OS:

[code]

Right now, i switch socket transport from native-epoll to NIO, and it seems work fine.
How can i debug such p

[2015-06-24 07:09] trustin commented on #3761
@kkuehl Down-cast it to `DnsRawRecord` and get the content.

[2015-06-24 12:47] ashish-tyagi opened #3913 "Too many instances of AbstractUnsafe$5 (ChannelFutureListener). Possible memory leak."
We are using Netty 4.0.27-final and this issue produces in our prod setup only. The service goes out of memory after some hours. The heapdump shows too many instances of AbstractUnsafe created. My application does not attach any listeners to CloseFuture. The heap analysis is posted below:

![0](https://cloud.githubusercontent.com/assets/8695441/8330161/13a340c4-1a9d-11e5-93cb-fd9b53106e4f.png)
![1

[2015-06-24 12:49] normanmaurer commented on #3913
Can you upload the heapdump somewhere?

[2015-06-24 12:55] ashish-tyagi commented on #3913
Uploaded here: https://drive.google.com/file/d/0By_31xcSOtE5NEtFVFZadHFfdVU/view?usp=sharing
Thanks!

[2015-06-24 15:28] normanmaurer commented on #3911
That's interesting and sounds like a bug. Could you provide a simple reproducer ?

[2015-06-24 15:40] normanmaurer commented on #3913
@ashish-tyagi can you show me the ChannelFutureListener that you added via:

[code]
?

[2015-06-24 16:06] ashish-tyagi commented on #3913
Hi @normanmaurer

We do not use any listeners on closeFuture in any form:

channel.closeFuture().addListener(...) or
channel.close().addListner().

We just do ChannelContext.close() when the request is finished.

[2015-06-24 16:13] normanmaurer commented on #3913
Can you show me how you init your ChannelPipeline?

[2015-06-24 16:42] ashish-tyagi commented on #3913
The Netty channel initializer code is spread over many classes in our project. However this is what is looks like:
[code]
ServerTimingHandler.class
[code]
ServiceChannelHandler
[code]

[2015-06-24 19:10] #3905 closed

[2015-06-24 21:02] normanmaurer commented on #3913
@ashish-tyagi thanks will have a closer look tomorrow. Could you share a reproducer by any chance ?

[2015-06-25 03:01] bobwenx commented on #3911
I will try to reproduce this on similar environment. If there is any progress, i will update it here.

[2015-06-25 05:23] ashish-tyagi commented on #3913
Hi @normanmaurer ,

This issue does not produce in a test. In fact it does not produce in our dev environment. It produces only in production. The OOM problem has been seen to occur with a network glitch. I observed that another service saw a breakage of connection, and that same time this service started building up memory.

[2015-06-25 08:03] normanmaurer commented on #3913
@ashish-tyagi actually I think this is fixed in 4.0.29.Final. Could you upgrade and tell me if you still see the issue ?