[2016-01-05 16:45] JuKu commented on #4644
Thanks for your answer!
The example works, but with the same error messages.
Data will be sended, but ERROR_READ is also shown.

[2016-01-05 16:46] JuKu commented on #4644
By the way, @normanmaurer is UDT also explained in your netty book?

[2016-01-05 18:28] normanmaurer commented on #4493
@belliottsmith WDYT ? (as the code was contributed by you :))

[2016-01-05 18:29] normanmaurer commented on #4228
Can be closed as the master branch was deprecated and we are not doing this anymore in 4.1 and 4.1

[2016-01-05 18:29] #4228 closed

[2016-01-05 18:30] normanmaurer commented on #3911
Let me close this for now and please reopen if the issues still exists with latest 4.1.0 release.

[2016-01-05 18:30] #3911 closed

[2016-01-05 18:30] normanmaurer commented on #3317
@valodzka can you still reproduce this with 4.0.33.Final ?

[2016-01-05 18:31] normanmaurer commented on #3220
Actually it is supported on the server-side. Let me close this for now

[2016-01-05 18:31] #3220 closed

[2016-01-05 18:57] belliottsmith commented on #4493
// a queue that makes only moderate guarantees about visibility: items are seen in the correct order,
    // but we aren't absolutely guaranteed to ever see anything at all, thereby keeping the queue cheap to maintain

The general idea of the WeakOrderQueue is that behaviour can piggyback on the many other "volatile" work done in the system, since we don't care about promptness, and even in a biza

[2016-01-05 18:58] normanmaurer commented on #4116
@DaAllexx can you somehow create a github project that I just can clone and only run to reproduce it ? I never used the android studio thing and I'm completely clueless. This would help me a lot.

[2016-01-05 19:00] normanmaurer commented on #4493
@belliottsmith makes sense and thanks for the fast reply! @shawn11ZX so I think we can close this.

[2016-01-05 19:00] #4493 closed

[2016-01-05 19:22] normanmaurer commented on #4544
@slandelle you missed to release a `ByteBuf` here:

https://github.com/slandelle/netty-native-mem-usage/blob/master/src/test/java/io/gatling/issues/bodyfeed/BodyChunkedInput.java#L34

After I added a release() I never was able to reproduce a OOME. This was easy to discover by using `ResourceLeakDetector.setLevel(Level.ADVANCED)` btw ;)

[2016-01-05 19:55] slandelle commented on #4544
Thanks a lot!

[2016-01-05 19:55] #4544 closed

[2016-01-05 20:25] DaAllexx commented on #4116
Here it is: https://github.com/DaAllexx/netty-android-example
Just run it on a Virtual Device (with API Level 21) and you will get the error, if you need any additional information just message me.

[2016-01-05 20:39] cdancy opened #4658 "netty-transport-native-epoll pom.xml has encoding ISO-8859-15"
Any particular reason why we are not UTF-8 encoding here? Putting together a project with Netty I'm unable to resolve this particular artifact (using ivy/gradle) due to its encoding. Is this something that can be changed?

[2016-01-05 20:41] normanmaurer commented on #4658
@cdancy no... can you just issue a PR with a fix ?

[2016-01-05 20:55] normanmaurer commented on #4116
@DaAllexx I only see:

[code]
What error I should see ?

[2016-01-05 21:00] cdancy commented on #4658
Sure. Give me a minute to send it in. Thanks.

[2016-01-05 21:02] normanmaurer commented on #4658
@cdancy awesome. Please sign also the icla:
http://netty.io/s/icla

And also respect the commit message template:
http://netty.io/wiki/writing-a-commit-message.html

[2016-01-05 21:07] normanmaurer commented on #4116
@DaAllexx never mind used API version 22 by mistake. Thanks will take it from here :)

[2016-01-05 21:11] cdancy commented on #4658
@normanmaurer sent in. Signed your ICLA and refactored the commit message to conform to your projects standards.

[2016-01-05 22:07] cdancy commented on #4658
Not sure if you guys can easily backport and/or generate a new release (4.0.35 ?) but would be great if you could.

[2016-01-05 22:28] normanmaurer commented on #4658
Yes will take care this week

[2016-01-06 02:37] ifinver commented on #4656
SocketThread:

    public class IMSocketThread extends Thread {

    private final String mAddress;
    private final int mPort;
    private Bootstrap mBootstrap;
    private ChannelFuture mChannelFuture;
    private Channel mChannel;
    private EventLoopGroup mEventLoopGroup;
    private ChannelHandlerAdapter mChannelHandlerAdapter;

    public IMSocketThread(String address, int port, ChannelHan

[2016-01-06 07:12] normanmaurer commented on #4658
Fixed by https://github.com/netty/netty/pull/4659

[2016-01-06 07:12] #4658 closed

[2016-01-07 01:27] jiafu1115 opened #4662 "when when netty's io.netty.channel.nio.SelectedSelectionKeySet hold too much selectionkeyimpl can't be gced?"
http://stackoverflow.com/questions/34645752/when-nettys-io-netty-channel-nio-selectedselectionkeyset-hold-too-much-selectio

I don't understand.  I check the code it never occur due to io workder try catch the throwable so that not encounter skip the seletionkeyimpl of processkeys.

[2016-01-07 01:39] zsxwing commented on #4656
Looks like an Android special issue. Can `selector.wakeup` be called after `selector.close` on Android? It's fine in Mac OS X.

[2016-01-07 03:05] ifinver commented on #4656
We don't clear about that. It's difficult to recur this exception manually, so we care about a problem : we use `try-catch` to hide this `IOException` ,can netty connect server again when create a new IMSocketThread?

[2016-01-07 07:26] 879913935 opened #4664 "Why use SocketChannel.write(ByteBuffer[] srcs, int offset, int length) ? not other?"
![ksidxm xif p_05qsw ox7](https://cloud.githubusercontent.com/assets/6321538/12164493/de05cbe0-b550-11e5-900f-5434ab142302.png)

In my applet,I write some code like this:
while(true){
    channel.writeAndFlush(msg);
}

Server-side received slow and network traffic is the same.

When I use nio,not netty,code like this:
while(true){
    socketChannel.write(ByteBuffer.wrap(byte[] bytes));
}
Server-si

[2016-01-07 07:35] normanmaurer commented on #4664
@879913935 sorry no I don't understand :( If you ask why we are doing gathering writes than the answer is that it's because you have more then one ByteBuf in your outbound buffer. Also calling channel.writeAndFlush(...) in an endless loop is never a good idea as you will OOME your app if the remote host is not able to keep up

[2016-01-07 07:45] 879913935 commented on #4664
calling channel.writeAndFlush(...) in an endless loop is really not a good idea,I just for test

I‘m confused:
![image](https://cloud.githubusercontent.com/assets/6321538/12165043/545549fc-b555-11e5-921d-d10ba544e215.png)

console print ret=160

It means that only 16 packet has bean written.I expected 50*10=500 bytes

[2016-01-07 08:38] anuraaga opened #4665 "Netty's DNS resolution should take into account system domain name"
On linux, a system's default domain name is configured in /etc/resolv.conf, and most OS's have a similar concept. This allows addresses to omit the default domain name and still resolve.

For example, if in /etc/resolv.conf includes

[code]

Then both of the following will succeed
[code]

In general, I think a good rule of thumb is any address that can be reachable with ping should be resolvable b

[2016-01-07 08:45] mauhiz commented on #4665
Does it work fine now on JDK anyways ? http://bugs.java.com/bugdatabase/view_bug.do?bug_id=6427214

[2016-01-07 09:13] slandelle commented on #4665
[dnsjava](http://www.dnsjava.org/) does honor `/etc/resolv.conf` on Unix so it would be pretty easy to do the same.
It also honors `ipconfig/winipcfg` on Windows, but warms that [the parsing might fail on non English systems](https://github.com/dnsjava/dnsjava/blob/6b86c9f72a849feb35f6d646ecde45dcbd8b5d6a/org/xbill/DNS/ResolverConfig.java#L20-L21), so I think we'd better forget about it.

Question

[2016-01-07 09:15] trustin commented on #4665
I'd like to see this resolved. :-) Will take a look if @slandelle doesn't beat me.

[2016-01-07 09:17] slandelle commented on #4665
Today is Netty day for me, but I first want to give a stab at my caching thing. :)

[2016-01-07 09:25] trustin commented on #4665
![tumblr_ml87q0tkrp1re3x32o1_](https://cloud.githubusercontent.com/assets/173918/12166831/fb4e923e-b56b-11e5-80e0-7eb8a97e2e9b.gif)

[2016-01-07 09:29] normanmaurer commented on #4665
LOL

[2016-01-07 12:25] normanmaurer commented on #4664
Actually if you would be able to write everything in one try it would print 450 (each buffer has 9 bytes in it as you only write 9 bytes).

That said it is completely legal in terms of implementations that is only partial write stuff and let you try to write the rest laster. On my laptop it writes all in one try though.

[2016-01-07 12:41] slandelle commented on #1406
Someone forgot to close this :)

[2016-01-07 12:41] #1406 closed

[2016-01-07 15:05] ramahmoo commented on #3900
@normanmaurer tested today with the revision where fixed. But could not see the alert(s) in wireshark. In handshake() NEED_WRAP is returned if something is pending in BIO. In next handshake() call the last stored exception is thrown if there is not more pending data. Can you attach your wireshark trace, test case and any java log file?

[2016-01-07 16:59] slandelle commented on #4529
@trustin @normanmaurer Sorry for the delay. PTAL at #4668.

[2016-01-07 20:10] normanmaurer commented on #4664
Closing as this is not really a netty question

[2016-01-07 20:10] #4664 closed

[2016-01-07 23:55] slandelle commented on #4665
I can work on this as soon as #4668 get merged :)

It's a bit tricky, because you have to fallback when standard resolution fails, and try the different search domains recursively. It would be great to be able to limit extra allocations (exceptions, promises and failed futures), but that might prove difficult.

[2016-01-08 05:05] jroper opened #4671 "netty-all causes classpath problems"
I'm not sure if you remember the junit classpath nightmare prior to junit 4.11, basically, junit bundled all its dependencies, including hamcrest.  So, if you wanted to use a newer hamcrest version, you were at the mercy of classpath ordering as to whether you'd get it or not.  So they introduced a new artifact called junit-dep, which didn't bundle dependencies, that you could depend on.  But as s

[2016-01-08 06:30] hepin1989 commented on #4671
@jroper I see your point.
http://mvnrepository.com/artifact/io.netty/netty-all/4.1.0.Beta8 which have all the classes in it.a better way as you said,it should be an aggerate project.

[2016-01-08 08:44] jiafu1115 commented on #4662
fix it by : https://github.com/netty/netty/pull/4673

[2016-01-08 08:44] #4662 closed

[2016-01-08 11:10] gl-works commented on #3911
I'm experiencing the same error with netty-all-4.1.0.Beta6.jar. The error stack is as follows

[code]

The error happens after about 4xxx connections have been established.

[code]

The ulimit should be enough

[code]

Appreciate for any help!

[2016-01-08 13:16] ferrybig opened #4676 "Spelling mistake at EmbeddedChannel#readOutbound()"
Netty 5.0.0.Alpha2

Context:
Javadoc of EmbeddedChannel#readOutbound(),
"from" is mistakenly spelled "froum"

https://github.com/netty/netty/blob/43ebbc3fa065155fa67732b0cbd7c12843b0f3f7/transport/src/main/java/io/netty/channel/embedded/EmbeddedChannel.java#L190

[2016-01-08 14:03] normanmaurer commented on #4676
@ferrybig how about doing a PR against the 4.1 branch ?

[2016-01-08 14:04] normanmaurer commented on #4641
@CodingFabian is this still on your to do list ?

[2016-01-08 14:46] CodingFabian commented on #4641
yes :) But not sure how worth it actually is.

[2016-01-08 15:04] cpf624 opened #4677 "HttpObjectEncoder can not encode chunked response"
I'm tring HttpStaticFileServer with netty `5.0.0.Alpha2`, but not work, and I find that has two issues.

1. the `DefaultFullHttpResponse` implements `LastHttpContent`, after encode any of `DefaultFullHttpResponse` msg, `HttpObjectEncoder#encodeChunkedContent` will reset `state` to `ST_INIT`, then rest msg can not be encoded.
[code]

2. the sample code not set `transfer-encoding` header to `chunked

[2016-01-08 20:32] normanmaurer commented on #4116
@DaAllexx @grgvineet this workaround fixes it: #4678

[2016-01-08 21:31] valodzka opened #4679 "IndexOutOfBoundsException for CompositeByteBuf"
This code worked up to netty 4.0.32, but stopped in 4.0.33.Final

        ByteBufAllocator alloc = ByteBufAllocator.DEFAULT;
        CompositeByteBuf cBuff = alloc.compositeDirectBuffer();
        cBuff.addComponent(alloc.buffer(8).writeLong(0));
        cBuff.addComponent(alloc.buffer(8).writeLong(0));

        // work as expected
        System.err.println("str="+ cBuff.toString(0, 16, StandardC

[2016-01-08 21:36] valodzka commented on #3317
Unfortunately I cannot test it thoroughly, issue #4679 blocks it deployment on our servers without significant modifications.

[2016-01-08 22:05] normanmaurer commented on #4679
will have a look

[2016-01-08 23:15] jchambers opened #4680 "Should `EventExecutorGroup#terminationFuture()` return a `Future<Void>` instead of `Future<?>`?"
It looks to me like the termination future for `EventExecutorGroups` always succeeds with a value of `null`. Would it make sense to make [`terminationFuture()`](http://netty.io/4.1/api/io/netty/util/concurrent/EventExecutorGroup.html#terminationFuture()) return `Future<Void>` instead of `Future<?>`? The latter leaves callers wondering what could possibly be returned, while the former makes it clea

[2016-01-09 00:07] windie commented on #4679
Fixed in #4681

[2016-01-09 00:34] ferrybig commented on #4676
Pull request made: https://github.com/netty/netty/pull/4682 did not know how to add the pull request to this issue

[2016-01-09 01:06] trustin commented on #4680
SGTM. Care to send a PR? :-)

[2016-01-09 01:56] Scottmitch commented on #4573
@louiscryan - Any updates on this. It would be nice to get this in before the next release. I can take over this if you don't have cycles.

[2016-01-09 02:13] Scottmitch commented on #4676
Fixed by https://github.com/netty/netty/pull/4682

[2016-01-09 02:13] #4676 closed

[2016-01-09 02:17] Scottmitch commented on #3911
@gl-works - can you try to reproduce with the latest snapshot off the 4.1 branch?

[2016-01-09 02:32] Scottmitch commented on #4632
@trustin - thanks ... warning seems gone for now.

[2016-01-09 02:39] Scottmitch commented on #4317
@ninja- - Thanks for confirming the issue has been resolved!

[2016-01-09 03:07] jchambers commented on #4680
I'll get on it. Cheers!

[2016-01-09 03:09] Scottmitch commented on #4638
This was just informative ... I was just trying to narrow in on what potential causes of threads being watched were. If you aren't using it now don't worry about it.

[2016-01-09 03:13] #4679 closed

[2016-01-09 03:31] gl-works commented on #3911
@Scottmitch Actually, I encounter exact the same error with latest beta (4.1.0.Beta8) version. I did switch to 4.1.0.Beta6 after reading previous comments. Unfortunately it didn't help anyway :(

[2016-01-09 07:32] windie commented on #4677
I think this is the expected behaviour since it's a completed http message.

[2016-01-09 07:54] cpf624 commented on #4677
in `HttpStaticFileServer` only the response header was encoded, but the `chunked` file content can not be encoded.
And I think this will also cause `Keep-Alive` not work.

[2016-01-09 07:57] windie commented on #4677
Just sent #4683 to fix it.

[2016-01-09 08:00] windie commented on #4677
HttpStaticFileServerHandler uses DefaultHttpResponse to send the file:
https://github.com/netty/netty/blob/b6a4f5de9d213cdbe32ff7772be4bcf6a1ba9094/example/src/main/java/io/netty/example/http/file/HttpStaticFileServerHandler.java#L177

`DefaultFullHttpResponse` is used to send the file list and doesn't use HttpChunkedInput.

[2016-01-09 08:14] normanmaurer commented on #4679
@valodzka could you test with latest 4.0 branch:

This test works for me:

[code]

[2016-01-09 08:41] normanmaurer commented on #4679
@valodzka doh! I did not notice @windie fixed it and @Scottmitch pulled it in. @windie @Scottmitch you rock!

[2016-01-09 17:23] CodingFabian commented on #4641
Hi @normanmaurer,
please find 2 proposals for using bouncycastle code.
Actually I would vote for a third one: take the optimized one and replace byte[] with ByteBuf (it then also brings its on Pack.* methods).
But because i  am not versed in writing ByteBuf code, I thought Ill first check if that could be the way to go and ask for advice how to best change the methods to use ByteBuf

[2016-01-09 20:06] DaAllexx commented on #4116
@normanmaurer Thank you!

[2016-01-09 20:09] ifesdjeen commented on #4429
It's going to look something like that:

[code]

Do you think it's helpful?
Although I assume it's undesireable to change an API of `Http2FrameLogger`, right? Should we just duplicate the methods or is it assumed to be used only in `Inbound`/`Outbound` frame loggers? WDYT?

[2016-01-09 20:19] normanmaurer commented on #4116
@DaAllexx let me know if it works

[2016-01-09 22:12] ifesdjeen commented on #4671
@jroper I've sent a patch to Cassandra to update their deps, although you know that you can use transitive dependencies with exclusions, right?

In any case, if something is _used_ in the transitive dependency with a different version, you just have to match their version for binary compatibility. If it's not _used_ but only referenced (e.g. the mega-jar is used but only handful of classes are act

[2016-01-09 23:23] JuKu opened #4686 "java.lang.IllegalStateException: channel not registered to an event loop"
I get the following error message with Netty 4.0.33.Final if an client connect to server:

[code]

The handler also implements method exceptionCaught(ChannelHandlerContext ctx, Throwable cause).
Whats the cause of this issue?

[2016-01-10 00:30] jchambers commented on #4680
As promised, #4687 is now open for your consideration.

[2016-01-10 06:41] cpf624 commented on #4677
HttpStaticFileServerHandler uses `DefaultHttpResponse` to send the `header`:
https://github.com/netty/netty/blob/b6a4f5de9d213cdbe32ff7772be4bcf6a1ba9094/example/src/main/java/io/netty/example/http/file/HttpStaticFileServerHandler.java#L186

and uses `HttpChunkedInput` to send the `content`:
https://github.com/netty/netty/blob/b6a4f5de9d213cdbe32ff7772be4bcf6a1ba9094/example/src/main/java/io/netty

[2016-01-10 07:11] windie commented on #4677
When I ran `HttpStaticFileServer` with ssl and downloaded a file, I did see `HttpObjectEncoder` processes `DefaultHttpResponse` and the following `DefaultHttpContent`s. Did you see any unexpected behaviour?

[2016-01-10 08:38] grgvineet commented on #4116
@normanmaurer Thanks! What is the expected date for release with this fix ?

[2016-01-10 08:56] normanmaurer commented on #4116
Next week

[2016-01-10 09:48] cpf624 commented on #4677
`IllegalStateException` will be throwed in `HttpObjectEncoder`  both http and https:
https://github.com/netty/netty/blob/netty-5.0.0.Alpha2/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectEncoder.java#L92

because after the `DefaultHttpResponse  header` was encoded, the `state` has been reset to `ST_INIT `:
https://github.com/netty/netty/blob/netty-5.0.0.Alpha2/codec-http/src/main/j

[2016-01-10 15:17] ifesdjeen commented on #4686
@JuKu it's a bit hard to say waht exactly might be the cause for the issue without the actual code. Could you try to extract the minimum snippet that would reproduce it?

[2016-01-10 15:34] ifesdjeen commented on #4647
`channelInactive` is called only when the channel is closed.

Usually, in order to have some sort of contract/SLA, the `ReadTimeoutHandler`/`IdleStateHandler` is used that detects that there was no activity on the channel. You can use some sort of heatbeats that are exchanged between server and client. That's pretty much the only reliable way to detect the disconnects.

Although usually I would ad

[2016-01-10 22:15] windie commented on #4677
Sorry, I was testing the branch 4.1. Yes, `HttpStaticFileServer` is broken in `5.0.0.Alpha2`. However, since 5.0 has been dropped (#4466), could you test branch 4.1 and see if it still doesn't work?

[2016-01-11 03:17] cpf624 commented on #4677
I tried `4.1` and got the same error.

[2016-01-11 08:09] JuKu commented on #4647
Hello,

Thank you for your answer!

UDT doesnt support this heatbeats by default, or?

-----Original-Nachricht-----

Betreff: Re: [netty] Netty needs more than 1 minute to detect udt
connection was closed (#4647)

Datum: 2016-01-10T16:34:51+0100

Von: "αλεx π" <notifications@github.com>

An: "netty/netty" <netty@noreply.github.com>

channelInactive is called only when the channel is closed.

Usual

[2016-01-11 08:36] normanmaurer commented on #4116
Fixed via https://github.com/netty/netty/pull/4678

[2016-01-11 08:51] normanmaurer commented on #4677
@cpf624 can you please tell us the exact steps you did. Tried with 4.1 branch with and without ssl and it "just works".

[2016-01-11 09:33] cpf624 commented on #4677
Sorry, it's my fault, I write wrong `HttpResponse` as `FullHttpResponse`:
[code]
it should be:
https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/http/file/HttpStaticFileServerHandler.java#L177

[2016-01-11 09:37] normanmaurer commented on #4677
Ok closing...

[2016-01-11 09:37] #4677 closed

[2016-01-11 13:13] normanmaurer commented on #4638
@kdubb did you try my suggestion ?

[2016-01-11 13:17] normanmaurer commented on #4543
@homer-j can you just alter:

https://github.com/homer-j/slowpoke-server/blob/master/src/main/java/netty/slowpoke/server/SlowpokeInboundHandler.java#L45

And replace `write` with `writeAndFlush(...)` + removing your ChannelOutboundHandler implementation ?

[2016-01-11 13:18] normanmaurer commented on #4529
@slandelle can this be closed now ?

[2016-01-11 13:19] slandelle commented on #4529
Yes

[2016-01-11 13:19] #4529 closed

[2016-01-11 13:24] normanmaurer commented on #4528
@slandelle for the restrictive handshake problem would something like be able to validate a FullHttpResponse without throwing exceptions good enough ?

[2016-01-11 13:26] slandelle commented on #4528
Yes, I think so.

[2016-01-11 13:30] ferrybig opened #4690 "StringDecoder cannot read fragmented packets containing UTF-8 characters"
StringDecoder cannot handle fragmented packets if the boundary of a bytebuf falls on the bytes from a UTF-8 character.

For example: when StringDecoder recieves 0xE2 0x98 0xA2 as 1 ByteBufs, it correctly decodes this to the "\u2622" character, but when StringDecoder recieves this as 3 seperate ByteBufs, it will convert it to 3 invalid code points.

Tested on 5.0.0-Alpha2 & 4.1.0.Beta8 & 4.0.33.Fin

[2016-01-11 13:33] normanmaurer commented on #4690
@ferrybig actually I would say this is expected as it will just convert anything in the `ByteBuf` to a `String`. If you need to handle fragmented data you will need another handler in front of it that takes care of this.

[2016-01-11 13:38] ferrybig commented on #4690
@normanmaurer If this was expected, I would have it throw a exception then, instead of silently corrupting data

[2016-01-11 13:42] normanmaurer commented on #4690
@ferrybig maybe we could add some javadoc that is will only "convert" byte[] to "String" without any state-keeping. Like I said if you need something more complex you will need to implement by yourself, as this would also be a lot different depending on the actual charset.

[2016-01-11 17:19] JuKu commented on #4686
I have reproduced the problem and could solve it.
The ZLib compression has an bug, without zlib, it works fine, but with zlib compression at begin of the pipeline, it throws this exception.

[2016-01-11 17:23] normanmaurer commented on #4686
Can you give a simple reproducer so we can fix it?

[2016-01-11 20:18] AlainRoy opened #4691 "State of 4.1 release?"
Hi,

We're using Netty 4.1b8. For the most part, it's been great. However, we're running into one issue with 4.1b8 where HTTP/2 connections will fail to open--the server claims we sent data before a SETTINGS frame. As best I can tell, it's a Netty bug.

Fortunately, the latest 4.1.CR-SNAPSHOT builds don't show this symptom. So instead of worrying about a bug fix, I'm curious when the next non-SNAP

[2016-01-11 20:18] normanmaurer commented on #4691
@AlainRoy this week :)

[2016-01-11 20:18] #4691 closed

[2016-01-11 20:22] AlainRoy commented on #4691
Sweet, thanks!

[2016-01-11 22:27] jroper commented on #4671
Yes I've worked around the problem easily enough.

[2016-01-12 03:59] trustin commented on #4429
@ifesdjeen Yes, it's gonna be helpful. I think the log message could look similar to that of `LoggingHandler` for consistency though. Also, we never released HTTP/2 in 4.0, so it's OK to make a breaking change.

[2016-01-12 05:33] slandelle opened #4692 "Have an all-in-one tcnative jar"
AFAIK, the java code in the tcnative jars for the different platforms is identical and only the native one changes.

Instead of relying on the build system to pick the proper platform, which only works with maven and tightly binds the binaries (think building and deploying a zip of an all-in-one jar) to one target platform, wouldn't it be better to pick the proper native code to load at runtime?

[2016-01-12 05:40] shawn11ZX commented on #4493
thanks for the explanation:)

[2016-01-12 05:41] tham123 opened #4693 "EchoServer received corrupted data under high load"
Hi,

Here is my EchoServer code.

[code]

[code]

I created a simple TCP client in a TimerTask to send strings, the client send without closing the socket. With just one timer object, no problem, the server received correctly and echo came back to client. However if I ran 3 timers simultaneously, the server received concatenated strings. Example.

Client1 send 'A'
Client2 send 'B'
Client3 send 'C'

[2016-01-12 05:46] trustin commented on #4693
That's an expected behavior. TCP/IP is a stream-oriented protocol.

http://netty.io/wiki/user-guide-for-4.x.html#wiki-h3-11

[2016-01-12 05:46] #4693 closed

[2016-01-12 08:06] slandelle commented on #4665
@trustin Do you have any idea about how OSs typically resolve names when there's some search domains configured?
dnsjava uses them as a fallback, but that might be wrong, and I guess it doesn't care about performance as it's a blocking library.
Should search domain based resolution be a fallback, or should it be performed concurrently, just like when searching against multiple DNS servers?
The for

[2016-01-12 09:30] manu-m opened #4694 "Problem with building on Ubuntu 14.04 LTS 32-Bit"
Hi!

I would like to use netty for communication with a native application via Unix Domain Sockets and I tried to use transport-native-epoll module but only artifacts for 64-Bit systems are officially provided at the moment.

So I tried to build netty-tcnative and transport-epoll-module on my own, but I got an error while building tcnative c sources:

How to fix this error correctly? I added an ad

[2016-01-12 11:10] normanmaurer commented on #4017
Taking so we get this fixed before the next release (which will be this week!) :)

[2016-01-12 13:08] Qix- commented on #1247
Sorry to gravedig here, but would incorporating a constructor overload to take a `Class<E>` be suitable? Running into this incredibly vague exception, and I'm not entirely sure why or what I need to do.

Does this mean child classes of `ChannelHandler` cannot be generic? That seems like a serious limitation.

I wouldn't mind having to pass down a `Class<E>` object if a resolution needs to occur. I

[2016-01-12 13:18] johnou commented on #4692
+1 our build environment, production environment and test client environments run different OS / architecture.

[2016-01-12 13:26] kenro commented on #1461
private static Object safeDuplicate(Object message) {
 +        if (message instanceof ByteBuf) {
 +            return ((ByteBuf) message).duplicate().retain();
 +        } else if (message instanceof ByteBufHolder) {
 +            return ((ByteBufHolder) message).copy();
 +        } else {
 +            return ReferenceCountUtil.retain(message);
 +        }
 +    }

when brocast ByteBuff， duplica

[2016-01-12 20:13] normanmaurer commented on #4694
Looking into it.

[2016-01-13 07:04] abhayavis opened #4698 "SSL handshake issue"
We are facing a issue with netty 4.0.33 in https ssl handshake issue where server receives a CLIENT HELLO responds with ACK but never sends SERVER hello back . Once this happens then the only option is to kill the service and start again and it continue to work fine for few hours .

When the problem comes the wireshark file of that time is attached which shows the problem . Pls let me know as to h

[2016-01-13 07:05] normanmaurer commented on #4698
Can you share a reproducer?

[2016-01-13 08:16] johnsonma opened #4699 "Snappy.java's decodeLiteral method implemention"
[code]
I was wondering to know why there's a 'case 64' here. Should 'tag >> 2 & 0x3F' never will be equal to '64'?

[2016-01-13 08:19] normanmaurer commented on #4699
@lw346 could you please comment ?

[2016-01-13 11:50] abhayavis commented on #4698
We have not been able to simulate it , it comes on the production server and how it is triggered is unknown but the problem comes almost everyday .

[2016-01-13 11:57] normanmaurer commented on #4698
When it happens can you also get a thread-dump ?

[2016-01-13 12:48] alexstaytuned commented on #4386
@normanmaurer,

I also agree with @ctron that this behavior is non-intuitive and hope this issue can be revisited.

Are you saying that for two-way conversion, MessageToMessageCodec<MyMessageType, ByteBuf> is recommended over ByteToMessageCodec<MyMessageType>? The latter seems more intuitive. Both are mentioned in Netty In Action as valid alternatives.

Also, by sending an empty buffer to decode,

[2016-01-13 12:53] abhayavis commented on #4698
Yes i have that from visual VM and it uses three different engine for normal socket , http and https . We had switched over to native epoll and the tump is with native epoll.
[ThreadDumpHang.txt](https://github.com/netty/netty/files/88850/ThreadDumpHang.txt)

[2016-01-13 13:20] kenro opened #4700 "Is there a problem in safeDuplicate of DefaultChannelGroup.java"
[code]
duplicate() -just copy its inner byte[], and will not modify reader index and write index.

So if I send a ByteBuf to many channel, everything I call duplicate() , but its readerIndex is still old.

Will there be a problem? It seems that reader index has been change by many channel write.

I think we should also reset reader index to 0 after invoke duplicate()

[2016-01-13 13:28] normanmaurer commented on #4700
@kenro nope... duplicate not copy the inner byte[] but just creates another "view" on this buffer. So it's correct to call duplicate() and not modify the indexes.

[2016-01-13 13:28] #4700 closed

[2016-01-13 13:36] kenro commented on #4700
thank normanmaurer ！I still confused： When a channel write a ByteBuf, it will change the ByteBuf's index. and next channel duplicate the ByteBuff,its index is the same as pre ByteBuf？  next channel write the copy ByteBuff ，should first reset the index？

[2016-01-13 17:54] JuKu commented on #4686
You only have to add the zlib encoder and decoder to pipeline.

[code]

[2016-01-13 19:05] AlainRoy opened #4704 "Netty 4.1.CR-SNAPSHOT reusing HTTP/2 stream IDs when maxConcurrentStreams is set"
I'm using Netty 4.1.CR-SNAPSHOT from January 12, 2016. We're trying to use Netty's HTTP/2 implementation as part of a distributed system that replicates large amounts of state. When a node joins a system, we can send large quantities of data in a small amount of time. When we configure HTTP with maxConcurrentStreams() and we exceed that concurrency by sending too many requests, Netty will re-use s

[2016-01-13 20:32] AlainRoy commented on #4704
I just noticed the encoderEnforceMaxConcurrentStreams() option. That didn't make any difference, unfortunately.

[2016-01-13 20:46] normanmaurer commented on #4704
@nmittler @Scottmitch can you have a look ?

[2016-01-13 22:13] nickmbailey opened #4705 "Race condition in SslHandler"
Originally a thread on the mailing list: https://groups.google.com/forum/#!topic/netty/h2ulbfw3uF8

(using Netty 4.0.33, via jython 2.7.1)

I'm wondering if this is a race condition/bug within netty itself or perhaps just a misuse of netty. I'm seeing the following stack trace intermittently when dealing with ssl sockets via jython:

[code]

You can ignore the 'org.python' prefix on the stack trac

[2016-01-13 22:53] windie commented on #4705
Fixed in #4706

[2016-01-13 23:30] jimbaker commented on #4705
Corresponding Jython bug: http://bugs.jython.org/issue2401 - we should be able to build shortly, then Nick can see if he reproduce in his environment

[2016-01-14 00:55] zsxwing commented on #4699
I guess he meant any number `&` with `0x3F` (63) must be less than 64.

[2016-01-14 01:19] nickmbailey commented on #4705
Can we also merge this into 4.0?

[2016-01-14 06:12] normanmaurer commented on #4705
This will need a more general fix... Looking into it now.

As workaround you can add a task o the EventLoop that will actually add the handler to the pipeline

[2016-01-14 15:08] nmittler commented on #4704
@AlainRoy You definitely need `encoderEnforceMaxConcurrentStreams`, since it adds the `StreamBufferingEncoder`, the purpose of which is to buffer due to `MAX_CONCURRENT_STREAMS`.

It looks like the bug is in `HttpToHttp2ConnectionHandler` (and your copy of its code).  This class doesn't know that buffering is occurring and just blindly calls `connection().local().nextStreamId()`. The problem is th

[2016-01-14 17:12] slandelle opened #4707 "ZlibCodecFactory enforces JZlib decoder by default"
From [this line](https://github.com/netty/netty/blob/dc615ecaaf9749edd227413c32c2f288dfc1309e/codec/src/main/java/io/netty/handler/codec/compression/ZlibCodecFactory.java#L36:

[code]

JZlib is supposed to be an optional dependency and it should default to false when using JDK7+.

[2016-01-14 18:28] nmittler opened #4710 "Use Http2GoAwayException consistently"
The HTTP/2 codec handles GO_AWAY differently depending on when it occurs.

1. If you have a buffered stream and receive a GO_AWAY, the buffered stream is terminated with a StreamBufferingEncoder.Http2GoAwayException that contains the details.
2. If you were to create a stream after a GO_AWAY was received, we will invoke the default encoder logic, which will cancel the stream with an Http2Exception

[2016-01-14 20:13] #4707 closed

[2016-01-14 20:14] normanmaurer commented on #4707
Fixed by https://github.com/netty/netty/pull/4709

[2016-01-14 20:20] ztellman opened #4715 "High latency on FixedChannelPool when used from other EventLoops"
I was going to try to provide some tests that demonstrate this behavior, but I thought maybe it would be better to first check if I was using it wrong.

My application is a router, which for each incoming request will make a request to an authentication service and then forward the request to the appropriate backend service.  In the initial implementation, each backend host had a single `FixedChan

[2016-01-15 09:55] normanmaurer commented on #4694
Fixed by https://github.com/netty/netty/pull/4712 and https://github.com/netty/netty-tcnative/pull/83

[2016-01-15 09:55] #4694 closed

[2016-01-15 13:19] manu-m commented on #4694
Did you try run it on a 32-Bit machine? Building now works, but some unit tests fail as it was the case after I fixed the problems in a very similar way.

All errors are in the context of SSL. If I don't use SSL for communication via Unix Domain Sockets, can I ignore for the short time?

I attached the reports:
[io.netty.channel.epoll.EpollDomainSocketSslEchoTest.txt](https://github.com/netty/nett

[2016-01-15 13:19] normanmaurer commented on #4694
@manu-m yes ... I used oracle jdk 8 and it worked

[2016-01-15 13:34] normanmaurer commented on #4705
This is a big tricky... so may take some time.

[2016-01-15 13:42] manu-m commented on #4694
Which Linux Distro and which version?

[2016-01-15 13:43] normanmaurer commented on #4694
@manu-m exactly what you used... 'Ubuntu 14.04 LTS 32-Bit' . I set it up to reproduce .

[2016-01-15 13:59] manu-m commented on #4694
Hmm... strange. How did you build tc-native and netty and which branch do I have to checkout? Current netty 4.0 branch has not a dependency to tcnative-fork11 snapshot. Why?

I checked out tcnative 1.1.33 branch and built it with `mvn clean install`. Then I checked out netty 4.0 branch, changed tcnative dependency to version 1.1.33.Fork11-SNAPSHOT and built transport-native-epoll also with `mvn cl

[2016-01-15 14:06] abhayavis commented on #4698
I tried to change from JDK to openssl with netty-tcnative and still have the problem . So took a tcpdump of the server and found that the server (192.168.1.202) is busy sending sever hello and FIN,ACK to a client 192.168.1.22 and on receiving RST from client goes on to send the same server hello and FIN,ACK again to the same client on different ports which is weird .
[dump.pcap.zip](https://github

[2016-01-15 15:33] nickmbailey commented on #4705
So I applied the fix from #4706 by subclassing SslHandler and setting ctx in channelActive. That fixed the race condition for me and I don't see any other negative effects, at least so far. Would you recommend against actually utilizing that as a fix until it can be fixed more generally?

[2016-01-15 17:29] normanmaurer commented on #4705
@nickmbailey could you try to use netty 4.1 and use this patch ? :

https://github.com/netty/netty/pull/4716

I hope this is a fundamental fix.

[2016-01-15 17:52] nickmbailey commented on #4705
I'll have to set up another environment for reproducing the issue, but I'll try to get to that sometime today and verify the issue.

Since we need a fix in Jython and won't be able to upgrade netty to 4.1 in the immediate future, is the approach I described above relatively safe in your opinion?

[2016-01-15 17:54] normanmaurer commented on #4705
It is a workaround and should work…

That said once I know it works I will backport the fix to 4.0 as well.

[2016-01-15 19:19] Scottmitch commented on #4710
@nmittler - Are thinking about expanding  [connection().goAwayReceived()](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/StreamBufferingEncoder.java#L146) to other frame types?

[2016-01-15 20:17] #4680 closed

[2016-01-15 22:13] nmittler commented on #4710
@Scottmitch err no ... I suspect that this just requires a change to `StreamBufferingEncoder`.  Were you thinking that some sort of expansion to the connection interface is needed?

[2016-01-15 22:28] ganskef opened #4718 "Exception: Handshake has already been started on Android 5+"
With https://github.com/ganskef/LittleProxy-mitm I use SSL on all Java platforms. Android devices up to 4.4 are supported well since #3904 is fixed. With Android 5.0 it's been better since #4116 is fixed, but there is still one concern with Android 5+. All connection attempts are interrupted with this:
[code]

This hint is figured out by @MediumOne: After commenting out this line it's mostly worki

[2016-01-16 14:36] abhayavis commented on #4698
There is some analysis that is done . I am attaching a pcap file and starting from packet number 3983 looks like the client ip 192.168.1.98 is trying to tell the server 192.168.1.202 about the window full to which netty server probably not understanding the packet sends "Ignore unknown record" . Once the client recovers and is ready to receive it sends a "TCP Wondow Update" and netty still do not

[2016-01-16 22:19] slandelle opened #4720 "DnsNameResolverTest.testResolveIp failure"
I backported DNS related code to AHC as I can't directly jump from 3.10 to 4.1.

This test crashed on Travis that runs on EC2:

[code]

[2016-01-17 00:35] nickmbailey commented on #4705
So since I'm hitting the error running through jython on 4.0.33, I can't easily test out this fix.. I tried switching out 4.0.33 with 4.1 but apparently there are big enough changes that it isn't a drop in replacement.

[2016-01-17 11:21] normanmaurer commented on #4705
Can you share the project?

[2016-01-17 11:24] slandelle commented on #4705
https://bitbucket.org/jython/jython/src

[2016-01-17 11:27] slandelle commented on #4705
Jython seems to be using Netty: https://bitbucket.org/jython/jython/src/6855fa289d48cf741a3daed2a0bb9c9c87cdf07f/build.xml?at=default&fileviewer=file-view-default#build.xml-181:185

[2016-01-17 14:38] Qix- opened #4721 "Netty 5.0 swallowing exceptions"
Perhaps this is user error, but this is completely unintuitive in my opinion. Just sat here debugging something for a few hours; turns out Netty has been swallowing a bunch of exceptions, even when `exceptionCaught` was overridden.

The following code produces no output, and the server being connected to gets no data (it does, however, receive a connection).

[code]

Am I missing something here? A

[2016-01-17 15:34] normanmaurer commented on #4721
exceptionCaught(...) is only called for inbound exceptions. All outbound exceptions must by handled in a listener by design. If you always want to have exceptions handled in exceptionCaught(...) just add a ChannelOutboundHandler that will an listener for every outbound operation

[2016-01-17 15:34] #4721 closed

[2016-01-17 15:36] Qix- commented on #4721
@normanmaurer `ChannelOutboundHandler` was deprecated in 5.0.

[2016-01-17 16:06] normanmaurer commented on #4721
And 5.0 was deprecated completly atm. Use 4.1 in which ChannelOutboundHandler was not deprecated. (In 5.0 you would have used ChannelHandler directly)

[2016-01-17 16:37] Qix- commented on #4721
How is 5.0 "deprecated completely"? Is it not the next Alpha version?

[2016-01-17 16:59] normanmaurer commented on #4721
No we not plan to work on 5.0 any time soon but concentrate on 4.0 and 4.1. All none breaking changes were backported to 4.1

[2016-01-17 17:05] Qix- commented on #4721
Sad, I liked the changes that occurred in 5.0.

[2016-01-17 17:25] normanmaurer commented on #4721
Can you list which ones and for what reason?

[2016-01-17 17:32] Qix- commented on #4721
The refactoring to use Java's Executor APIs a little more. Allows better interoperability between different libraries. That was a big one.

Call me crazy, but pipeline nodes should be agnostic to whether the data they're working on is inbound/outbound. Netty 5.0 started to move towards that I feel like.

One step further would be to explicitly specify which part of the duplex stream a pipeline han

[2016-01-17 17:43] floragunncom opened #4722 "SSLPeerUnverifiedException: peer not verified when using OpenSSL provider"
When using netty with JDK SSL Provider all works well, if i use Open SSL Provider i always get a <pre>javax.net.ssl.SSLPeerUnverifiedException: peer not verified at io.netty.handler.ssl.OpenSslEngine$OpenSslSession.getPeerCertificateChain(OpenSslEngine.java:1644)
</pre>
although the client sends a valid client certificate with cert chain included (cause with JDK SSL Provider its working fine). Ope

[2016-01-17 18:04] normanmaurer commented on #4722
Interesting... Can you give us a reproducer?

[2016-01-17 19:03] normanmaurer commented on #4722
@floragunncom I tried to reproduce with 4.0 branch but no luck. Please provide a reproducer or preferable a testcase. Maybe you can adjust https://github.com/netty/netty/blob/4.0/handler/src/test/java/io/netty/handler/ssl/SSLEngineTest.java to show the problem ?

[2016-01-17 20:16] nickmbailey commented on #4705
Yeah jython uses netty under the hood. I'm hitting the issue using jython, I have a script that reproduces the issue and I can provide that. I only see the issue on ubuntu 14.04 and not on OSX for whatever reason.

[2016-01-17 20:29] nickmbailey commented on #4705
Here's the script I can reproduce with and an example run:

https://gist.github.com/nickmbailey/f80ad965a048c1d4df22

[2016-01-17 20:53] normanmaurer commented on #4705
@nickmbailey thanks.. what are the setup steps for jython ?

[2016-01-17 20:58] nickmbailey commented on #4705
There isn't any. You can download the jar from here: http://mvnrepository.com/artifact/org.python/jython-standalone/2.7.1b2

I commented on the gist with how to run that script, so once you download that jar and script, that should be all you need.

[2016-01-17 21:00] normanmaurer commented on #4705
@nickmbailey got it... will check

[2016-01-18 08:37] normanmaurer commented on #4720
Fixed by https://github.com/netty/netty/pull/4723

[2016-01-18 08:37] #4720 closed

[2016-01-18 09:51] #4017 closed

[2016-01-18 09:52] ramahmoo commented on #3900
I found that Netty was flushing the TLS alert data filled by last wrap() call if subsequent wrap() call throws an SSLException. In catch case of the following method of SSLHandler, i just added ctx.flush() and i can see the now TLS alert data in wireshark trace as expected. @normanmaurer any comment?

[code]

[2016-01-18 09:57] normanmaurer commented on #3900
@ramahmoo ah makes sense! I think it always worked here as I called `ctx.flush()`in `channelReadComplete(...)`. Could you do a quick PR for this after sign our ICLA (if you not done this already):

http://netty.io/s/icla

Also please ensure you respect our commit message template:
netty.io/wiki/writing-a-commit-m…

[2016-01-18 10:49] normanmaurer commented on #3900
@ramahmoo actually let me take a stab. There are a few other places which needs some attention.

[2016-01-18 10:58] sinlang opened #4724 "slowly down if i set the socket read/write buffer"
netty io will slowly down if i set the socket buffer. it only occurs in linux(centos5).  but normally in windows!

am i make a mistake or 'ChannelOption.SO_RCVBUF & SO_SNDBUF' is actually not the standard  socket option that i think?
[code]
the full code on init boostrap
[code]

[2016-01-18 16:58] floragunncom commented on #4722
reproduce with that: https://github.com/floragunncom/netty/commit/fe2d3acc8faa59044132b89f8278c34f5aa12543

If you set SSLProvider in Main.java to JDK then it works

[2016-01-18 17:02] floragunncom opened #4725 "OpenSSL provider allows null cert chain even if client authentication is required"
Expected javax.net.ssl.SSLException: Received fatal alert: bad_certificate because of javax.net.ssl.SSLHandshakeException: null cert chain but no such exception is thrown when using OpenSSL as provider:
https://github.com/floragunncom/netty/commit/fc8c77e61ec799a90e5b253a6ebb301ce1d19dd2

With JDK provider it fails correctly:
https://github.com/floragunncom/netty/commit/8ff146bd8738a9b1e85d1625e90

[2016-01-18 17:04] floragunncom commented on #4725
Env is: Netty 4.0.33 with netty-tcnative 1.1.33.Fork10 on osx-x86_64 and OpenSSL 1.0.2d 9 Jul 2015

Maybe related to #4722

[2016-01-18 17:08] normanmaurer commented on #4722
Looking

[2016-01-18 19:43] normanmaurer commented on #4725
@floragunncom but it still fails the handshake right ? At least that is what I see here.

[2016-01-18 19:50] normanmaurer commented on #4725
@floragunncom actually I think it only fails in the 4.0 branch and did not in 4.0.33.Final. Could you run again with latest 4.0 branch. That said there is still a small bug which cause the SslHandshakeException have not the correct message. Working on a fix now

[2016-01-18 19:53] normanmaurer commented on #4722
@floragunncom I think this is fixed in 4.0 branch already. Please try to reproduce with 4.0 branch and let me know.

[2016-01-19 12:15] floragunncom commented on #4725
latest 4.0 branch gives:

<pre>
13:11:50.897 [nioEventLoopGroup-3-1] DEBUG io.netty.handler.ssl.OpenSslEngine - SSL_read failed: OpenSSL error: error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure
13:11:50.897 [nioEventLoopGroup-2-1] DEBUG io.netty.handler.ssl.OpenSslEngine - SSL_read failed: OpenSSL error: error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake fail

[2016-01-19 12:21] floragunncom commented on #4722
With 4.0 branch i get the error below (which is not the expected behavior):

<pre>
13:18:30.041 [nioEventLoopGroup-5-2] DEBUG io.netty.handler.ssl.OpenSslContext - verification of certificate failed
sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
	at sun.sec

[2016-01-19 12:27] normanmaurer commented on #4722
What would be expected? From the exception it seems like it rejected the cert as it was not known.

[2016-01-19 12:29] normanmaurer commented on #4725
What is wrong with this? You send no cert so a handshake dailure sound right...

[2016-01-19 13:13] floragunncom commented on #4725
nothing really wrong, just a bit a vacuous error message

[2016-01-19 13:14] floragunncom commented on #4722
Expected is that it work (as the certificates are trusted, and it works well with JDK provider)

[2016-01-19 13:29] normanmaurer commented on #4725
A fix for a better exception error message is in the making. Stay tuned...

[2016-01-19 13:35] floragunncom commented on #4725
thanks :-)

[2016-01-19 20:32] mgrandi commented on #3193
@Scottmitch sorry for the delay, no we don't plan to upgrade to 4.x (at least for this project) at the moment.

turns out it was our fault (as i was suspecting). We were waiting for the result of a NettyFuture on an IO thread, and even though the ChannelFuture class says "don't do this" in the class javadoc, it is not mentioned in any of the javadoc for the 'wait()' methods, which hindered our fig

[2016-01-19 21:24] Scottmitch commented on #4724
SO_RCVBUF and SO_SNDBUF should be "standard definition" of these socket options (see how they are used in [DefaultSocketChannelConfig](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/socket/DefaultSocketChannelConfig.java#L230)).

Can you provide what version of Netty you are using, and what transport type (e.g. `NIO`, `EPOLL`, etc..)?

What is the default value fo

[2016-01-19 21:59] m3ltaw4y opened #4730 "Initializer Error Using Netty 4 with RoboVM"
Netty version: 4.0.25

Context:
I encountered an exception trying to use Netty with RoboVM

Steps to reproduce:
1.  Simulate IOS via RoboVM
2.  Call new on an SimpleChannelInboundHandler

$ java -version
java version "1.8.0_66"
Java(TM) SE Runtime Environment (build 1.8.0_66-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.66-b17, mixed mode)

Operating system: OSX El Capitan 64-bit

$ uname -a
Da

[2016-01-19 22:27] Scottmitch commented on #4718
@ganskef - What version of netty are you using?

`com.android.org.conscrypt.OpenSSLEngineImpl.beginHandshake` does not permit multiple calls to `beginHandshake()`. I wonder if the assumed logic between handlerAdded and channelActive is being violated ... can you try with PR https://github.com/netty/netty/pull/4716? If you are using Netty 4.0 just cherry-pick the change back on top of the 4.0 branc

[2016-01-19 22:40] Scottmitch commented on #4730
Can you try with the latest Netty 4.0.33 version and step through the static initialization in [PlatformDependent](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/PlatformDependent.java#L72)? Seems we missed to catch an exception somewhere along the way, but not likely directly related to the `Javassist`. I can tighten up the exception processing but it would be

[2016-01-19 22:48] ganskef commented on #4718
@Scottmitch - I use the Netty 4.1 branch and I've checked out bf24ffd3354123a7a8602046462973f74963639c but this happens with 4.1.0.Beta8 and before too.
I'll give #4716 a try.

[2016-01-19 23:14] m3ltaw4y commented on #4730
Error is exactly the same in 4.0.33.Final.  I'm not sure exactly how to step through as you are asking, as I seem to have problems getting the debugger to run at all with robovm...
Error running iPhone-6s-Plus: Unable to open debugger port (127.0.0.1:53897): java.net.SocketException "Socket closed"

[2016-01-19 23:27] windie commented on #4699
Fixed in #4731

[2016-01-19 23:34] ganskef commented on #4718
@Scottmitch - now I've built commit e578e92bd51095828dde62ae9cca69609ca3dac8
Author: Norman Maurer <norman_maurer@apple.com>
Date:   Fri Jan 15 14:23:41 2016 +0100

And I depend on `netty-handler-4.1.0.CR1-SNAPSHOT.jar` but there's no difference:

[code]

[2016-01-20 00:01] Scottmitch commented on #4730
@m3ltaw4y - Can you try to run with https://github.com/netty/netty/pull/4733?

[2016-01-20 00:05] m3ltaw4y commented on #4730
Forgive my ignorance, how would I do this via gradle?
(as oppsed to this)
compile 'io.netty:netty-all:4.0.33.Final'

[2016-01-20 00:07] johnou commented on #3256
@Scottmitch you could try reaching out to Nils directly? nils.eliasson@oracle.com

[2016-01-20 00:13] Scottmitch commented on #4730
@m3ltaw4y - No problem. You want to build/install my branch into your local maven repo, and depend upon this new code. The version will be `io.netty:netty-all.4.0.34.Final-SNAPSHOT`. Here are the steps (do this on the same machine you will build your project with):

See http://netty.io/wiki/setting-up-development-environment.html to get ready to build.
1. git clone https://github.com/netty/netty.g

[2016-01-20 00:33] Scottmitch commented on #3256
@johnou - Thanks for brining my attention back to this. I generated an email directly to Nils.

[2016-01-20 00:36] Scottmitch commented on #4718
@ganskef - Thanks for trying. Will dig deeper and get back to you.

[2016-01-20 00:49] Scottmitch commented on #4718
To reiterate/clarify what I mentioned before ... [jdk's SSLEngineImpl](http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/8u40-b25/sun/security/ssl/SSLEngineImpl.java#756) tolerates multiple calls to `beginHandshake()` and just proceeds if already in the process of doing a handshake but [android's OpenSSLEngineImpl](https://android.googlesource.com/platform/external/conscrypt/+

[2016-01-20 01:03] m3ltaw4y commented on #4730
This did not seem to fix the problem, still seems to be crashing at the same point.  I followed your steps and then I pointed my compiler to netty/all/target/netty-all-4.0.34.Final-SNAPSHOT.jar which seemed to be right file.

[2016-01-20 01:08] Scottmitch commented on #4718
@nmittler - What are your thoughts? I would be curious to see if Android devs would be willing to make behavior consistent with OpenJdk SSLEngineImpl (as indicated above). `IllegalStateException` is a generic exception but it is defined as `IllegalStateException - if the client/server mode has not yet been set.` on the JDK's interface.  The [Android JDK API for SSLEngine.beginHandshake](http://dev

[2016-01-20 01:11] m3ltaw4y commented on #4730
May have made some progress.  The application does not crash when I add this line to my robovm.xml
<forceLinkClasses><pattern>java.util.logging.ConsoleHandler</pattern></forceLinkClasses>
Though I still see this:
java.util.logging.ErrorManager: GENERIC_FAILURE
The app does not immediately crash

[2016-01-20 01:19] Scottmitch commented on #4730
Can you provide a reproducer, and steps you used to setup the emulator and RoboVM?

[2016-01-20 01:37] Scottmitch commented on #4730
@m3ltaw4y - I'm not familiar with RoboVM, but sounds like there may be a problem with the logging configuration? Are you able to log anything at all (with `info` level or higher)?

[2016-01-20 01:42] m3ltaw4y commented on #4730
The robovm setup was generated by the newest version of libgdx's setup tool.  You could generate your own project via that possibly, and then try to do new to SimpleChannelInboundHandler somewhere in the default project it creates.  You would need to simulate on robovm as well.  After I forced the linking of the logger, things seemed to work fine, I think it is only the logging within netty that f

[2016-01-20 01:57] Scottmitch commented on #4730
What logging implementation are you using, and how are you configuring it for Netty? Is your emulation environment configured correctly for console logger?

[2016-01-20 02:04] Scottmitch commented on #4710
@nmittler - Nope. Seems like `StreamBufferingEncoder` already does account for not allowing new streams via the link I provided above, and existing streams are cleaned up via a connection listener [onGoAwayReceived](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/StreamBufferingEncoder.java#L115). I'm just curious as to what cases were missed, or what

[2016-01-20 02:21] m3ltaw4y commented on #4730
I'm not doing anything intentionally to setup or change logging.  It seems that robovm is missing the class  java.util.logging.ConsoleHandler and forcing it to link doesn't really solve the problem exactly, becausing the logging still throws the error I mentioned, but at least the app doesn't crash and I am able to continue running from there.  I'm not really sure the proper way to configure such

[2016-01-20 02:31] Scottmitch commented on #4715
@ztellman - Thanks for explaining the issue and your approach to mitigate. In the past I have accounted for this as you suggested (key identifies EventLoop). However your suggestion to make the Executor used for the pool more visible sounds reasonable to me. @normanmaurer @trustin - WDYT?

[2016-01-20 02:39] Scottmitch commented on #4730
See http://tutorials.jenkov.com/java-logging/configuration.html for java.util logging. We also support slf4j and log4j (see [InternalLoggerFactory](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/logging/InternalLoggerFactory.java#L54)). If you are sure the logging is setup correctly (you are able to log as expected using the logging framework of your choice ind

[2016-01-20 03:17] Scottmitch commented on #4704
@nmittler - Yip something needs to change. However it seems to make sense for the codec implementation to provide generation of the next stream ID so the protocol details (increment by 2, start at even or odd, reserved upgrade stream, etc...) do not have to leak out into the application. The "nextStreamId" mechanism (queueing or not) will be required at some level and may make sense to have this i

[2016-01-20 03:44] Scottmitch commented on #4686
@JuKu - Thanks for reporting. Could you provide a more complete example so we can fix the issue? What do `MessageEncoder`, `MessageDecoder`, and `instance` do?

[2016-01-20 03:51] Scottmitch commented on #4429
@ifesdjeen - I think you submitted a PR for this ... can this be closed?

[2016-01-20 03:59] Scottmitch commented on #4543
@homer-j - ping

[2016-01-20 04:20] Scottmitch commented on #4718
Opened an an issue to discuss with Android folks https://code.google.com/p/android/issues/detail?id=199204

[2016-01-20 04:23] Scottmitch commented on #4647
@JuKu - Please reopen if @ifesdjeen's suggestions are not sufficient.

[2016-01-20 04:23] #4647 closed

[2016-01-20 04:45] Scottmitch commented on #3911
@gi-works - What does `cat /proc/sys/fs/file-max` output? Can you try with `4.1.0.RC1-SNAPSHOT`? What state are most of the sockets in (netstat)? Can you provide a stack trace and heap dump?

[2016-01-20 04:46] Scottmitch commented on #3317
@valodzka - https://github.com/netty/netty/issues/4679 is now fixed, can you test now?

[2016-01-20 05:10] Scottmitch commented on #3319
@jiangguilong2000 - Can you provide a heap dump? Also what action are you taking to prevent send buffers get filling up?

[2016-01-20 05:15] Scottmitch commented on #4671
@normanmaurer - WDYT? Any strong reason for needing `netty-all` to repackage?

[2016-01-20 05:19] Scottmitch commented on #4521
Soon :smile:. Have you gone through the process of upgrading yet? I expect interfaces should be relatively stable in codec-http.

[2016-01-20 07:12] ifesdjeen commented on #4429
@Scottmitch the issue with channel is solved. I'll work on the patch for the second part @trustin suggested during the week, but it's more of a separate issue I think.

[2016-01-20 08:32] iuliandolceanu commented on #4521
No, not yet. We want to be sure before upgrading, so we decided to wait on it. Hopefully, it will not be too long. :smile:

[2016-01-20 09:46] leogomes commented on #4301
It may become an issue if the handler you're trying to test dynamically adds another handler to the pipeline using ``addLast(..)`` :/

[2016-01-20 12:37] normanmaurer commented on #4725
Fixed error message via https://github.com/netty/netty/pull/4729

[2016-01-20 12:37] #4725 closed

[2016-01-20 14:35] Scottmitch commented on #4521
@iuliandolceanu - Since the plan has not changed (release of 4.1 should satisfy this issue) I will close for now. Stay tuned for 4.1!

[2016-01-20 14:35] #4521 closed

[2016-01-20 14:38] Scottmitch commented on #909
@normanmaurer - Can this be closed with the introduction of the ByteBufUtil methods?

[2016-01-20 14:40] Scottmitch commented on #4429
@ifesdjeen - I see this is kinda a 2 part issue. Lets leave it open until `Http2FrameLogger` is consistent with `Http2FrameLogger`. Thanks for taking this on!

[2016-01-20 14:44] Scottmitch commented on #4692
@slandelle - Is this a duplicate of https://github.com/netty/netty-tcnative/issues/24? If not could you move this issue to the tcnative repo?

[2016-01-20 14:54] slandelle commented on #4692
@Scottmitch Absolutely. Sorry, I failed to realize you didn't centralize all Netty related issues there, and didn't check if netty-tcnative had a bug tracker.

Close as a duplicate of netty/netty-tcnative#24.

Thanks.

[2016-01-20 14:54] #4692 closed

[2016-01-20 15:24] nmittler commented on #4704
@Scottmitch that sounds reasonable to me.  So maybe in addition to `nextStreamId`, we have `takeNextStreamId`?

[2016-01-20 15:31] nmittler commented on #4718
@Scottmitch I would not expect that we would be calling `beginHandshake()` more than once ... is there any reason that we do that? Would it be hard to fix? Without getting too far into the details, I wouldn't rely on lenient behavior of some implementations if we can avoid it.

[2016-01-20 16:37] nmittler commented on #4710
@Scottmitch I think the problem here is that `GO_AWAY` is handled differently depending on when it occurs.

1. If you have a buffered stream and receive a `GO_AWAY`,  the buffered stream is terminated with a `StreamBufferingEncoder.Http2GoAwayException` that contains the details.
2. If you were to create a stream after a `GO_AWAY` was received, we will invoke the default encoder logic, which will

[2016-01-20 16:41] Scottmitch commented on #4718
@ganskef - Can you provide the following to help with the android issue?

[code]

[2016-01-20 16:47] Scottmitch commented on #4718
@nmittler - We currently may call it from `handlerAdded` and `channelActive`. I'm guessing we don't guard against this because it is not defined to be a problem in the SSLEngine interface, and the current implementations we support (JDK SSL engine, Netty OpenSslEngine) handle this gracefully.

We can avoid this if necessary (which will have to do if we want to support currently released versions o

[2016-01-20 16:59] Scottmitch commented on #4710
@nmittler - I see. If you depend upon this exception and its contents then perhaps it does make sense to promote this exception type.

Can you point me to where this is used in gRPC? I just did a grep on master for `Http2GoAwayException` and didn't find anything.

[2016-01-20 17:02] Scottmitch commented on #4704
@nmittler - Stand by for PR :)

Currently I changed `Endpoint.nextStreadId()` -> `Endpoint.incrementAndGetNextStreamId()`. However we can change to `takeNextStreamId` if you prefer. So what was provided by `nextStreamId()` is no longer a public method.

[2016-01-20 17:05] nmittler commented on #4718
Agreed :)

So it sounds like we need to fix Netty regardless, correct? That would mean that this bug is not dependent on resolving https://code.google.com/p/android/issues/detail?id=199204.

[2016-01-20 17:08] nmittler commented on #4710
We currently have our own copy of `StreamBufferingEncoder` and have an [open bug](https://github.com/grpc/grpc-java/issues/1060) to migrate to Netty's version.  Our logic for handling the GO_AWAY exception is [here](https://github.com/grpc/grpc-java/blob/be6008666e9012a35f77defaab8e95730b81b838/netty/src/main/java/io/grpc/netty/NettyClientHandler.java#L375).

[2016-01-20 17:09] nmittler commented on #4704
@Scottmitch no need to change ... I'm fine with your name :)

[2016-01-20 17:56] Scottmitch commented on #4718
Yes if we want to support existing Android releases (5+ and 6+) then Netty code needs to change. I have a PR pending.

[2016-01-20 18:16] ganskef commented on #4718
@Scottmitch - I've seen it on a Nexus 5 device too but it's not my own. So I have to use the emulator, by Genymotion my choice:
-  5.0 LRX21M
-  5.1 LMY47D
-  6.0 MRA58K

Handshaking works well with:
-  4.4.4 KTU84Q CyanogenMod on a Samsung i9300
-  4.1.1 JRO03S Genymotion emulator...

[2016-01-20 18:44] normanmaurer commented on #909
Yeah let us close this.

[2016-01-20 18:44] #909 closed

[2016-01-20 18:53] Scottmitch commented on #4718
@ganskef - Thanks for the info. Yes 4.0 appears to use a different implementation of [SSLEngineImpl](https://android.googlesource.com/platform/libcore/+/38375a4d0b3d34e2babbd2f6a013976c7c439696/crypto/src/main/java/org/conscrypt/SSLEngineImpl.java) which behaves the same way as the OpenJDK's SSLEngineImpl, and so I wouldn't expect to see this issue.

[2016-01-20 18:57] normanmaurer commented on #4718
@Scottmitch @nmittler I can take a stab on this once back from vacation (next week).

[2016-01-20 19:04] Scottmitch commented on #4710
@nmittler - Can you clarify this issue title and description (or open a new issue)? The current title/description doesn't really represent the issue. `StreamBufferingEncoder` does account for `GO_AWAY` it is just that the behavior of the codec (including `StreamBufferingEncoder`) is not always consistent w.r.t to GOAWAY.

[2016-01-20 19:05] Scottmitch commented on #4718
@normanmaurer - I have a PR pending, which you will be on the hook for reviewing :wink:

[2016-01-20 20:07] blucas opened #4736 "OpenSslEngine.setEnabledProtocols fails to enable protocols that are currently disabled"
Netty Version: master (I know... :frowning: )

The ```OpenSslEngine.setEnabledProtocols()``` will not allow the user to enable a protocol that has already been disabled.  For example, netty (by default) disables ```SSLv3```. If you wish to enable ```SSLv3``` you should be able to call ```OpenSslEngine.setEnabledProtocols()``` including ```SSLv3``` as one of the parameters of the array.  Unfortunat

[2016-01-20 20:26] homer-j commented on #4543
Hi, sorry for delay. Actually it's what I've done to make it work.
Now I have another problem - a lot of small write and flush tasks appear and take a while to execute (most time is spent on direct buffer allocation from pool and actual flush).

The reason I asked about outbound handler is because from my actual protocol I know in advance how many parallelable tasks I'll get and I can stack replie

[2016-01-20 20:29] nmittler commented on #4710
@Scottmitch Agreed ... done.

[2016-01-20 20:30] Scottmitch commented on #4736
https://www.openssl.org/docs/manmaster/ssl/SSL_CTX_set_options.html

These options turn off the SSLv3, TLSv1, TLSv1.1 or TLSv1.2 protocol versions with TLS or the DTLSv1, DTLSv1.2 versions with DTLS, respectively. As of OpenSSL 1.1.0, these options are deprecated, use SSL_CTX_set_min_proto_version and SSL_CTX_set_max_proto_version instead.

Looks like we should investigate using [SSL_CTX_set_min_p

[2016-01-20 20:31] Scottmitch commented on #4736
@blucas - Thanks for reporting. I'll submit a PR for tcnative and Netty.

[2016-01-20 21:15] Scottmitch commented on #4736
@blucas - Your approach described sounds reasonable.

[2016-01-20 21:16] Scottmitch commented on #4736
@normanmaurer - On a related note I wonder if we should be more careful about `SSL_OP_ALL`. See https://github.com/bagder/curl/blob/master/lib/vtls/openssl.c#L1730 and http://daniel.haxx.se/blog/2012/01/27/sloppily-using-ssl_op_all/.

[2016-01-20 21:56] blucas commented on #4736
@Scottmitch - On another related note (but outside the scope of this issue), it might be worth adding a ```setEnabledProtocols``` method to ```SslContextBuilder``` so that users do not have to call that method on the ```SslEngine``` implementation directly.

[2016-01-20 22:45] ejona86 commented on #4671
@Scottmitch, one option is to keep the netty-all package, but no longer make it a repackage: just have simple dependencies on the other packages. That doesn't provide the "jumbo jar" anymore though, which is convenient when not using maven central for dependencies.

@nmittler, FYI

[2016-01-20 23:03] Scottmitch commented on #4671
Yip I'm wondering if there are any known use cases we are trying to support with the repackage, or opposition to `netty-all` just being a "reference other packages".  I take it you are OK with making this change?

Also /cc @trustin.

[2016-01-20 23:05] Scottmitch commented on #4736
sgtm

[2016-01-20 23:15] ejona86 commented on #4710
I'm not really for `Http2GoAwayException` being used for case 2, _especially_ if it requires `Http2GoAwayException` to be promoted outside of `StreamBufferingEncoder`.

The application needs to be in the loop for go-away processing. If the application is trying to create new streams after it is been notified of the goaway, then that seems like the application needs to be fixed. I feel like this ca

[2016-01-20 23:53] Scottmitch commented on #4710
I agree with @ejona86 .... if there is another more generic way lets seek that out.

I wonder if it makes sense to propagate `Http2Connection.Listener` events for these "future streams". We would have to be sure the listeners can differentiate these streams as "future streams", but then we may not have to have an alternative interface to notify for "future stream lifecycle" events. @nmittler - WDY

[2016-01-21 00:30] m3ltaw4y commented on #4116
Unfortunately I still see the same issue in io.netty:netty-all:4.0.34.Final-SNAPSHOT and io.netty:netty-all:4.1.0.Beta8
Am I grabbing the wrong version or something?  io.netty:netty-all:4.0.25.Final still works fine.

[2016-01-21 00:47] ejona86 opened #4738 "Add ChannelHandlerContext.invoker() to 4.1"
The now-defunct 5.0 had a [ChannelHandlerContext.invoker()](https://github.com/netty/netty/blob/master_deprecated/transport/src/main/java/io/netty/channel/ChannelHandlerContext.java#L148) method. I found it to be useful, and the method is already implemented; it just needs to be exposed on the interface. It's my understanding of Netty API stability policy that new methods can be added to interface

[2016-01-21 01:11] Scottmitch commented on #4573
@louiscryan - I'll take this over for now. We can improve tests later.

[2016-01-21 01:34] m3ltaw4y commented on #4730
With
compile 'io.netty:netty-all:4.0.34.Final-SNAPSHOT' //not a local copy
and these two lines added to my robovm.xml
    <forceLinkClasses><pattern>java.util.logging.ConsoleHandler</pattern></forceLinkClasses>
    <forceLinkClasses><pattern>java.util.logging.SimpleFormatter</pattern></forceLinkClasses>
I no longer have issues.  Logging works properly with these two lines, and no errors are genera

[2016-01-21 02:32] Scottmitch commented on #4116
This issue still existing in `4.0.34.Final-SNAPSHOT` sounds problamtic but `4.1.0.Beta8` does not include #4678 so can you instead try `4.1.0.CR1-SNAPSHOT`?

@DaAllexx - Can you verify the issue still exists for you too?

@m3ltaw4y - Can you also provide a reproducer project like @DaAllexx? It would be nice if we could just run a unit test (the less non-netty stuff we have to figure out the more l

[2016-01-21 02:33] Scottmitch commented on #4730
@m3ltaw4y - Great thanks for confirming all is well! I also put in some cleanup code to ensure we catch any stray exceptions in the static exceptions on this code path.

[2016-01-21 02:33] #4730 closed

[2016-01-21 02:37] Scottmitch commented on #4738
@normanmaurer @trustin - Any objections?

[2016-01-21 02:39] Scottmitch commented on #2809
This has been resolved since we started supporting a max size for headers.

[2016-01-21 02:39] #2809 closed

[2016-01-21 02:40] Scottmitch commented on #3927
@nmittler - I'll assign to you for now ... it seems like you have been following this more closely with your POCs PRs.

[2016-01-21 02:41] Scottmitch commented on #4005
5.x has been deprecated. Please try again with the latest 4.1 release and reopen if this still exists.

[2016-01-21 02:41] #4005 closed

[2016-01-21 02:44] Scottmitch commented on #4037
ByteString is now dead in favor of AsciiString. We have not moved to String, and I don't think this is planned for 4.1.

@buchgr - Are you still interested in this, or should we close?

[2016-01-21 02:46] Scottmitch commented on #4121
Deprecation policy in 4.1 should now be improved to only deprecate methods with alternatives.

[2016-01-21 02:46] #4121 closed

[2016-01-21 02:47] Scottmitch commented on #4048
@buchgr - Ping. It may be work re-visiting this as the hash algorithm has changed since this issue was reported.

[2016-01-21 02:51] Scottmitch commented on #4312
@normanmaurer - Ping. IIRC you made some changes to `channelReadComplete` in one of the generic handlers ... is this still applicable?

[2016-01-21 02:52] Scottmitch commented on #4539
PriorityStreamByteDistributor has been removed!

[2016-01-21 02:52] #4539 closed

[2016-01-21 06:08] louiscryan commented on #4573
Sorry Scott. Let me dig up my PR tomorrow and at least send that over so
you can take it over. It's pretty small

On Wed, Jan 20, 2016 at 5:12 PM, Scott Mitchell <notifications@github.com>
wrote:

[2016-01-21 07:07] normanmaurer commented on #4738
@ejona86 works for me. Please open a pr

[2016-01-21 08:25] buchgr commented on #4048
@Scottmitch Hey! I don't have cycles at the moment, and likely neither in the next few months. I think we can close this.

[2016-01-21 08:25] #4048 closed

[2016-01-21 08:27] buchgr commented on #4037
@Scottmitch you can close :).

[2016-01-21 09:15] m3ltaw4y commented on #4116
Sorry if this is overly complicated to run, but it was simplest for me to make this:
https://github.com/m3ltaw4y/MyGdxGame
To get it to work:
1. In MyGdxGame.java change the parameter for SSLServerThread to be an available port.
2. In MyGdxGame.java change the parameters for the SSLClientThread to your desktop IP and the same port.
3.  Run two copies of this, one as a desktop application, one as a

[2016-01-21 09:41] normanmaurer commented on #4116
I will take a look

[2016-01-21 13:48] DaAllexx commented on #4116
I just tried 4.0.34.Final-SNAPSHOT and it seems to be fixed for me. I only tested it on a Virtual Device, but I try to get a physical device with Android 5.0 (API 21) to test it there too.

[2016-01-21 14:08] 2underscores-vic opened #4741 "AsciiString.EMPTY_STRING.trim() fails in v.5.0.0.Alpha2"
Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException

[2016-01-21 14:14] normanmaurer commented on #4741
Will have. a look

[2016-01-21 15:13] nmittler commented on #4710
I don't think that we can really change `Http2Connection.Listener` since the `StreamBufferingEncoder` is a plug-in and `Http2GoAwayException` is not part of the API contract in any way.

I think for now, we just leave the Netty code as-is and possibly revisit when we get to child-channels.

[2016-01-21 15:13] #4710 closed

[2016-01-21 18:36] normanmaurer commented on #4116
@DaAllexx thanks for the feedback. That was exactly what I did... just used android studio and tested it with all different version when I wrote the fix.

[2016-01-21 18:56] floragunncom commented on #4722
After a little bit more research i figured out that if i set ClientAuth.NONE or ClientAuth.OPTIONAL then it works (client certificates are present as expected)

<pre>
final SslContext sslCtx = SslContextBuilder
    .forServer(File, File)
    .clientAuth(ClientAuth.NONE)
     ...
</pre>

If i set ClientAuth.REQUIRED than (despite that client certificates are present) the above mentioned error occur

[2016-01-21 19:07] normanmaurer commented on #4722
I will be back from vacation tomorrow and will check. Thanks again for your report and help

[2016-01-21 20:07] floragunncom commented on #4722
great. here is now a first working example

https://github.com/floragunncom/netty/commit/b6e064a06d15a77b3573538a76e6e4813473a0ec

[2016-01-21 21:29] m3ltaw4y commented on #4116
I get the failing behavior on a real device (HTC One with Android 5.0.2) and on an emulator (Nexus 5 api 21 x86)
I get the passing behavior on a real device (Nexus 4 with android 4.4.4) and on an emulator (Nexus 5 api 19)

[2016-01-21 23:15] grgvineet commented on #4116
I downloaded 4.0.34.Final-SNAPSHOT from garage.netty.io/teamcity. It is working fine for me. Tested on a real device with Android 5.0.2.

[2016-01-22 01:36] Scottmitch commented on #4048
@buchgr - sgtm! Also hope all is well! I see you have been looking into jemalloc recently ... any of that knowledge going to make its way into Netty :wink:?

[2016-01-22 01:37] #4037 closed

[2016-01-22 02:10] Scottmitch commented on #4573
@louiscryan - No problem. I have a PR pending, but if you push yours I can make sure I covered everything. I'll also ping you for a review of my PR.

[2016-01-22 02:23] Scottmitch commented on #4625
@trustin - Reworking these pools and making a more generic object pool base sgtm. We may also want to consider https://github.com/netty/netty/issues/4715 at some level too.

[2016-01-22 02:24] Scottmitch commented on #4741
@2underscores-vic - Thanks for reporting. I think it is still broken in 4.1.0 but important to note that the 5.0 branch is currently deprecated.

[2016-01-22 03:28] #4699 closed

[2016-01-22 06:15] 2underscores-vic commented on #4741
Should I use 4.1 instead? What happend to 5.0 branch? Any links with more information?

[2016-01-22 07:34] windie commented on #4741
@normanmaurer fixed in #4743. Could you take a look? Thanks!

[2016-01-22 09:35] johnou commented on #4718
@Scottmitch internal PR?

[2016-01-22 13:00] normanmaurer commented on #4718
@johnou yes should be upstream soon.

[2016-01-22 13:04] #4738 closed

[2016-01-22 13:07] normanmaurer commented on #4741
Fixed by https://github.com/netty/netty/pull/4743 .

@windie thanks again :)

[2016-01-22 13:07] #4741 closed

[2016-01-22 13:30] normanmaurer commented on #4671
@Scottmitch @ejona86 @jroper I think have netty-all just depend on everything else should be fine.

@trustin WDYT ?

[2016-01-22 14:10] buchgr commented on #4048
@Scottmitch all good. bed bugs are dead :smile: . yep I ll definitely want to look into netty's allocator :) interesting stuff!

[2016-01-22 14:20] normanmaurer commented on #4048
@buchgr lol :)

[2016-01-22 16:08] jknair opened #4746 "Enabling SNI, OpenSSL client from netty does not work"
Netty version : 4.1 - ff11fe8 also tried with netty-4.1.0.Beta8
When trying to connect to a host with SNI enabled from the netty openssl client, handshake fails as :
[code]
same issue when you use the openssl s_client :
[code]
and works well for :
[code]
The following code fails with Openssl and gives the same error but works fine with Openssl disabled (removed netty-tcnative)
[code]

[code]

[2016-01-22 16:16] normanmaurer commented on #4746
@jknair I think this is the same issue as :

https://github.com/netty/netty/issues/4722

Looking into it atm.

[2016-01-22 16:33] normanmaurer commented on #4736
Fixed by https://github.com/netty/netty/pull/4737

[2016-01-22 16:33] #4736 closed

[2016-01-22 17:37] jestan commented on #4204
@normanmaurer I will do the fix. In which branch I have to open a PR?

[2016-01-22 18:04] normanmaurer commented on #4204
4.1 would be best

[2016-01-22 18:47] Scottmitch commented on #4741
@2underscores-vic - https://github.com/netty/netty/issues/4466

[2016-01-23 00:40] grgvineet commented on #4116
I tested using one phone and openssl cli on my laptop. It worked fine, but for a connection between two phones its giving same error.

[2016-01-23 00:48] clebertsuconic commented on #3726
this should probably be closed.. unless there's still interest around it?

@normanmaurer ?

[2016-01-23 11:40] CodingFabian opened #4748 "Cannot use HttpContentCompressor for outgoing requests"
I want to gzip an outgoing requests. Therefore my I add a HttpContentCompressor handler:

[code]

this crashes with an exception due to the following:

HttpContentEncoder will accept my DefaultFullHttpRequest
[code]
because a FullHttpMessage is a LastHttpContent which is HttpContent.

now when the code enters the encode method
[code]
This will throw an exception:
[code]

Am I missing something imp

[2016-01-23 12:20] slandelle commented on #4748
@CodingFabian Indeed, HttpContentCompressor doesn't work on the client side, the name is very misleading.

[2016-01-23 20:11] normanmaurer commented on #4746
@jknair can you share a "full" reproducer ?

[2016-01-23 20:23] normanmaurer commented on #4656
@ifinver @zsxwing yeah looks like an android "bug". Selector.wakeup should never throw an IOException

[2016-01-23 20:24] normanmaurer commented on #4656
@ifinver so yes just catch and ignore should be safe.

[2016-01-23 21:14] normanmaurer commented on #4638
@kdubb will close now... Please reopen if my suggestion not works

[2016-01-23 21:14] #4638 closed

[2016-01-23 21:16] kdubb commented on #4638
Apologies, I have been quite busy with other things.  I will do as requested if it does not work.  Thanks for the help.

[2016-01-24 18:48] normanmaurer commented on #4705
@nickmbailey can you give me any pointers how I can use a custom netty jar with jython ?

[2016-01-25 00:06] jroper commented on #4671
That's fine by me :)

[2016-01-25 10:50] johnou commented on #4705
@nickmbailey @normanmaurer I assume adding it to the classpath first should be ok? Unfortunately I am still seeing issues with 27df0cc6945d43e20d6469ce2bf2fa3a9b8f61dd

[johno@habbo-dev-1 netty]$ git log --name-status HEAD^..HEAD
commit 27df0cc6945d43e20d6469ce2bf2fa3a9b8f61dd
Author: Norman Maurer <norman_maurer@apple.com>
Date:   Fri Jan 15 14:23:41 2016 +0100

    [#4705] Ensure ChannelHandler.

[2016-01-25 10:54] normanmaurer commented on #4705
@johnou I don't think so as it seems like they shadow the netty version /cc @nickmbailey

[2016-01-25 11:00] johnou commented on #4705
@normanmaurer ah I see what you mean, it's in the jar as io/netty and org/python/netty.

[2016-01-25 11:42] johnou commented on #4705
@normanmaurer looking at their build.xml it's just an uber jar created with jarjar, I took the pipeline_race branch, built the artifacts, then I unzipped the all artifact then replaced all files in jython-standalone-2.7.1b2.jar with that, created a simple jarjar ant script to rewrite the package and then replaced all files in the jython jar with those, I can no longer reproduce the errors I pasted

[2016-01-25 15:04] johnou commented on #4718
@Scottmitch think the fix for this will make 4.0.34.Final?

[2016-01-25 15:06] normanmaurer commented on #4718
Yes

[2016-01-25 16:44] nickmbailey commented on #4705
Yeah, when I tried to run the pipeline branch previously I copied the updated netty jars into the jython checkout and updated build.xml to use those instead. I think the approach @johnou took should work as well.

[2016-01-25 22:59] mickare opened #4752 "Javadoc Fail: ChannelOutboundHandlerAdapter - deregister (4.1)"
The description of the method `deregister` in the class ChannelOutboundHandlerAdapter says:

Should it not be the following?

Greetings from Germany,
mike

[2016-01-26 09:13] #4752 closed

[2016-01-26 10:25] normanmaurer commented on #4748
@CodingFabian check our httpsnoop example.

[2016-01-26 10:25] #4748 closed

[2016-01-26 10:26] normanmaurer commented on #4705
@nickmbailey @johnou ok cool. Let me backport the change to 4.0 as well.

[2016-01-26 10:34] slandelle commented on #4748
@normanmaurer Sorry, I think there's a misunderstanding. The question was about COMPRESSING REQUESTS, not compressing or decompressing responses.

The Snoop client sure sets up a [decompressor](https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/http/snoop/HttpSnoopClientInitializer.java#L45), but not a compressor.

This question here is actually a duplicate of #2131, an

[2016-01-26 11:07] mrniko opened #4754 "WebSocketServerCompressionHandler doesn't work properly"
Netty version: netty-4.1.0.CR1

Hi! I connected the `io.netty.handler.codec.http.websocketx.extensions.compression.WebSocketServerCompressionHandler` to my project ant it can't detect websocket upgrade request properly.

`WebSocketExtensionUtil.isWebsocketUpgrade` is always returns false at WebSocketServerExtensionHandler:71 due to client sends `Connection` header with value `keep-alive, Upgrade`

[2016-01-26 11:19] mrniko opened #4755 "Add @Sharable annotation to WebSocketClientCompressionHandler"
Netty version: netty-4.1.0.CR1

Unable to use WebSocketServerCompressionHandler and WebSocketServerCompressionHandler handlers as single instances. Because of absence of @Sharable annotation.

[2016-01-26 13:40] chhegar opened #4756 "Update Netty internal Cleaner0 to reflect the new location of the OpenJDK Cleaner in JDK 9"
There are upcoming changes in JDK 9 that will require, at least, a small update to common/src/main/java/io/netty/util/internal/Cleaner0.java.

OpenJDK issue no. 8148117: "Move sun.misc.Cleaner to jdk.internal.ref" [1], will move the Cleaner class from sun.misc to jdk.internal.ref. There is ongoing discussion about the possibility of providing a public supported API, maybe in the JDK 9 timeframe, f

[2016-01-26 13:48] normanmaurer commented on #4756
I will check

[2016-01-26 13:57] chhegar commented on #4756
This bug has been filed as an early heads-up. The OpenJDK changes have not been integrated into JDK 9 yet, but are due to land in the next couple of weeks.

[2016-01-26 14:04] normanmaurer commented on #4755
@mrniko you are right... I will fix it. In the meantime just create a new instance everytime.

[2016-01-26 14:13] normanmaurer commented on #4754
@mrniko I will need to re-check the rfc but are you sure it is valid to have both values in the "Connection:" header on an upgrade ?

[2016-01-26 14:24] Lewik commented on #2597
Now I know about Unsafe class. Thx a lot.
You know, it's not a bad idea to make Netty 4` or Netty 4-1 or smth like that with out ninja-execeptions-that-suddenly-thrown-from-nowhere at all. For example - even with BC I'd spent several hours for refactor code for that.

Or may be you can wrapped it with real stacktrace or link to here

[2016-01-26 14:38] mrniko commented on #4754
socketio client used in FireFox works by this way. It sends `Upgrade` value only in Chrome browser. And socketio javascript server handles this correctly. Also websocket upgrade logic could be extracted to `protected` method for further extension.

[2016-01-26 14:45] racorn opened #4757 "CompositeByteBuf.toString(int index, int length, Charset charset) fails when the buffer has more than two components"
Using Netty 4.0.33:

CompositeByteBuf.toString(int index, int length, Charset charset) ultimately ends up in ByteBufUtil.decodeString(ByteBuf src, int readerIndex, int len, Charset charset):
[code]

in the last line we try to decode from readerIndex on the newly allocated buffer, but we should decode from 0.

A small test to reproduce the bug:
[code]
This test thows an IndexOutOfBoundsException.

[2016-01-26 14:48] normanmaurer commented on #4757
I think this was fixed already. Can you try 4.0.34-SNAPSHOT ?

[2016-01-26 15:03] johnou commented on #4757
@normanmaurer verified it does not throw IndexOutOfBoundsException with 4.0 branch.

[2016-01-26 15:06] normanmaurer commented on #4757
@johnou thanks!

[2016-01-26 15:06] #4757 closed

[2016-01-26 15:10] johnou commented on #4705
@normanmaurer are you actively working on this? If not I have some time to backport your commit to 4.0.

[2016-01-26 15:13] normanmaurer commented on #4705
Yep should have it done later today.

[2016-01-26 15:16] johnou commented on #4705
![yourock](https://cloud.githubusercontent.com/assets/323497/12584518/266863d8-c448-11e5-9e76-932373ab5410.jpg)

[2016-01-26 15:27] racorn commented on #4757
Yes, verified that it is fixed in 4.0.34.SNAPSHOT. Any idea of when 4.0.34 will be released?

[2016-01-26 15:28] normanmaurer commented on #4757
This week

[2016-01-26 15:29] racorn commented on #4757
@normanmaurer Great!

[2016-01-26 16:35] Scottmitch opened #4758 "WeightedFairQueueByteDistributor headers can be written out of order"
It is possible for the WeightedFairQueueByteDistributor to write headers out of order, and thus violate the "new stream ids must always be increasing" clause of the RFC.

https://tools.ietf.org/html/rfc7540#section-5.1.1

   greater than all streams that the initiating endpoint has opened or
   reserved.  This governs streams that are opened using a HEADERS frame
   and streams that are reserved u

[2016-01-26 16:44] Scottmitch commented on #4758
/cc @ejona86 @nmittler

Possible approaches to resolve this issue:

1. Don't queue headers in flow controller.
 - We have previously discussed this and agreed that queueing the headers in the flow controller provides some benefits / conveniences. https://github.com/netty/netty/issues/4489.
2. Implement a "previous stream id look back". Whenever an allocation is done we must "look back" at the "pre

[2016-01-26 16:52] nmittler commented on #4758
Queuing headers in the flow controller keeps coming up as a source of issues/added complexity and we have no metrics suggesting that it's helping performance. Certainly, the first options seems a lot simpler.

[2016-01-26 16:56] Scottmitch commented on #4758
+1.

I forgot to mention that another option is to allow the distributor to have access to the `Writer` is more places. So the distributor can decide if it wants to queue header frames or not. For example if we pass the `Writer` into `updateStreamableBytes` the distributor could immediately send 0 length frames to avoid this situation if it doesn't want to deal with the complexity.

[2016-01-26 17:37] Scottmitch commented on #4754
I don't see anything preventing an `upgrade` co-existing with other options.

https://tools.ietf.org/html/rfc7230#section-6.7

   field (Section 6.1) that contains an "upgrade" connection option, in
   order to prevent Upgrade from being accidentally forwarded by
   intermediaries that might not implement the listed protocols.

[2016-01-26 17:40] RAMYAREDDYKETHIRI commented on #656
today we have seen this issue again .

 not a WebSocket request: missing key

[2016-01-26 17:44] normanmaurer commented on #4754
Got it... Let me fix it

[2016-01-26 17:44] Scottmitch commented on #4754
Perhaps we should have a utility method to detect upgrade which uses [containsIgnoreCase](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/AsciiString.java#L1385)

[2016-01-26 17:46] Scottmitch commented on #656
@RAMYAREDDYKETHIRI - what version of netty, and can you include a new stack trace?

[2016-01-26 17:49] RAMYAREDDYKETHIRI commented on #656
We are using 4.0.26.Final , we will be upgrading very soon but version not yet finalized.

Actually as of now we dont have stacktrace as it happened in PRODUCTION and we dont have stacktrace enabled. We have seen this error for 5 connections only.

[2016-01-26 18:03] CodingFabian commented on #4748
Furthermore, I think the existing (de) compressor should be better checking what to do. but maybe its hard to implement on the current type system where both are HttpContent.

[2016-01-26 19:36] Scottmitch opened #4760 "CompositeByteBuf.addComponent ownership clarification"
If all goes well `CompositeByteBuf.addComponent` will take "ownership" (will call `release()`) of the parameter. However there are cases where this is not the case. For example if the `CompositeByteBuf` has been released `addComponent` may throw an `IllegalReferenceCountException` and not release the parameter. At the very least the interface should be clarified so that the caller can understand e

[2016-01-26 19:37] Scottmitch commented on #4760
/cc @normanmaurer @nmittler @trustin

[2016-01-26 19:38] Scottmitch commented on #4756
thanks for the heads up @chhegar !

[2016-01-26 22:10] Scottmitch commented on #656
Just to clarify the first exception originally reported in this issue (`not a WebSocket handshake request: missing upgrade`) has been superseded by https://github.com/netty/netty/issues/4754.

@RAMYAREDDYKETHIRI - I would need to consult the RFC to understand if what Netty is doing is correct. However if your case is the same as the second exception reported in this issue it is because the `sec-we

[2016-01-26 22:20] Scottmitch commented on #3726
I'll close for now and @normanmaurer can re-open if necessary.

[2016-01-26 22:20] #3726 closed

[2016-01-26 22:58] clebertsuconic commented on #3726
@normanmaurer libaio is doing very well at Artemis BTW. 30% faster than what it used to be on HornetQ. If you ever reconsider this let me know.

[2016-01-26 23:26] JuKu commented on #4686
MessageEncoder converts message object to byte stream.
For example:

public class MessageEncoder extends MessageToByteEncoder<Message>
{
	@Override
	protected void encode(ChannelHandlerContext ctx, Message msg, ByteBuf out) throws Exception
	{
		try {
			out.writeInt(Message.HEADER_LENGHT + msg.content().readableBytes());
			out.writeByte(msg.getType());
			out.writeByte(msg.getVersion());
			out.

[2016-01-26 23:36] JuKu commented on #4644
@normanmaurer @Scottmitch With log4j you will see the error log.

Hier mal der Code für den Server:
[netty-udt-example.zip](https://github.com/netty/netty/files/105874/netty-udt-example.zip)

Here is the log:
[code]

[2016-01-27 00:08] Scottmitch commented on #4686
@JuKu - Can you show me the complete initialization of the `ServerBootstrap` (especially the `childHandler` implementation)? As requested by @ifesdjeen in https://github.com/netty/netty/issues/4686#issuecomment-170358928 it would make it easier if you make a complete reproducer available. Is it possible just to create a small github project we can use to reproduce?

[2016-01-27 00:41] JuKu commented on #4686
@Scottmitch Its not so easy, because its an large project and i cannot open source all this code, so i have to rewrite all the code to do this.

Code from Server Start:
[code]
Here is ChannelInitHandler:
[code]

[2016-01-27 01:33] Scottmitch commented on #4686
@JuKu - while using `ChannelInitHandler` what do you see in the logs when this exception occurs? From the original stack trace It looks like at some point an expected originates from the child handler's `handlerAdded` method, but this exception fails to propagate through the pipeline because the associated channel has not yet been registered to an event loop (this seems like an issue).

[2016-01-27 07:25] ifinver commented on #4656
oh thanks

[2016-01-27 07:25] #4656 closed

[2016-01-27 07:56] normanmaurer commented on #4722
@floragunncom could you verify this:
https://github.com/netty/netty/pull/4767

For me it seems to work correctly now :)

[2016-01-27 08:06] normanmaurer commented on #4755
@mrniko PTAL https://github.com/netty/netty/pull/4769

[2016-01-27 08:17] mrniko commented on #4755
PTAL ? Sorry, what? :)

[2016-01-27 08:18] normanmaurer commented on #4755
@mrniko Please take a look ;)

[2016-01-27 08:44] jknair commented on #4746
sorry for the delay, I will try to make one. Problem is I cant find any SNI enabled public host that will fail the handshake

[2016-01-27 08:50] serphacker opened #4771 "DnsNameResolverContext infinite loop"
Got stuck there :
https://github.com/netty/netty/blob/netty-4.1.0.Beta8/resolver-dns/src/main/java/io/netty/resolver/dns/DnsNameResolverContext.java#L280

I think I did receive a response to another query but with the same id.

[code]

[2016-01-27 08:58] normanmaurer commented on #4771
@trustin PTAL ....

[2016-01-27 09:04] slandelle commented on #4771
I can help if @serphacker shares a reproducer.

[2016-01-27 09:56] normanmaurer commented on #4755
@mrniko actually only WebSocketClientCompressionHandler can be `@Sharable` as the other is keeping state. Fixed the PR.

[2016-01-27 10:08] mrniko commented on #4755
@normanmaurer OK, I got you!

[2016-01-27 12:59] nemecec commented on #4628
Yeah, also noticed that http://netty.io/wiki/ links to http://localhost:4242/ for all the examples.

[2016-01-27 13:25] normanmaurer commented on #4746
@jknair maybe there is no need at all. Let me check if I can write one myself

[2016-01-27 13:43] normanmaurer commented on #4746
@jknair can you show me a basic client setup that works with JDK version ?

Do you do the same as here:
https://www-01.ibm.com/support/knowledgecenter/#!/SSYKE2_8.0.0/com.ibm.java.security.component.80.doc/security-component/jsse2Docs/sni_extension.html
 ?

[2016-01-27 16:57] nmittler commented on #4332
Not sure this is really worth doing ATM ... closing for now.

[2016-01-27 16:57] #4332 closed

[2016-01-27 17:00] normanmaurer commented on #4332
+1

[2016-01-27 17:01] nmittler opened #4773 "HTTP/2 encoder frame merge does not handle integer overflow"
The `DefaultHttp2ConnectionEncoder` does not handle integer overflow when merging frames.  Merge attempts should fail when integer overflow of the total size will occur: https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionEncoder.java#L360

[2016-01-27 17:01] nmittler commented on #4773
FYI @Scottmitch @louiscryan

[2016-01-27 17:55] ejona86 commented on #4758
Hmm... yeah, it'd be a bit of a pain to fix `WeightedFairQueueByteDistributor` for questionable gain. Yeah, bypassing flow controller for initial headers seems to be the way to go. Well, I guess it was worth a try to have everything go through the flow controller...

[2016-01-27 18:05] Scottmitch commented on #4773
@nmittler - I will take care in https://github.com/netty/netty/pull/4763 as you suggested.

[2016-01-27 18:08] nmittler commented on #4773
@Scottmitch Thanks!

[2016-01-27 18:18] Scottmitch commented on #4758
Thanks for the feedback @ejona86 and @nmittler. I'll pull together a PR which takes option 1 (headers no longer queued in flow controller).

[2016-01-27 22:52] #4573 closed

[2016-01-28 07:56] normanmaurer commented on #4722
Fixed by https://github.com/netty/netty/pull/4767

[2016-01-28 07:56] #4722 closed

[2016-01-28 09:21] jknair commented on #4746
the following code does **NOT** work with Openssl client
[code]
and for the JDK version this works perfectly dont need to add any ```SNIServerName``` :
[code]

[2016-01-28 09:22] normanmaurer commented on #4746
@jknair and peerHost and peerPort are anything public that I can hit ?

[2016-01-28 09:28] normanmaurer commented on #4755
Fixed by https://github.com/netty/netty/pull/4769

[2016-01-28 09:28] #4755 closed

[2016-01-28 10:41] normanmaurer commented on #4746
@jknair ok I think I know whats wrong.. working on a fix.

[2016-01-28 12:27] #4718 closed

[2016-01-28 12:28] normanmaurer commented on #4718
Fixed by https://github.com/netty/netty/pull/4764. Please re-open if you still see issues.

[2016-01-28 13:42] normanmaurer commented on #4705
Fixed

[2016-01-28 13:42] #4705 closed

[2016-01-28 15:48] valodzka commented on #3317
I tested snapshot build for a few hours and seems bug is fixed.

[2016-01-28 15:48] #3317 closed

[2016-01-28 15:57] normanmaurer commented on #3317
@valodzka thanks!

[2016-01-28 18:04] Scottmitch opened #4777 "PooledByteBufAllocatorTest.testConcurrentUsage test failure"
I have seen this from 2 PRs with unrelated changes thus far.

https://garage.netty.io/teamcity/viewLog.html?buildId=5167&buildTypeId=pulls_netty&guest=1
[code]

[2016-01-28 18:09] Scottmitch opened #4778 "DnsNameResolver behaves differently than DefaultNameResolver with VPN"
When on a VPN the `DnsNameResolver` is not able to resolve addresses that the `DefaultNameResolver` is able to resolve. In this particular case the ultimate call doing the resolution for `DefaultNameResolve` is `getaddrinfo` in JNI.  Should `DnsNameResolver` be able to mimic this behavior? If not it is problematic for testing purposes and the current workaround is to fall back to the `DnsNameResol

[2016-01-28 18:10] Scottmitch commented on #4778
/cc @trustin @slandelle

[2016-01-28 20:24] ganskef commented on #4718
I've integrated it [here](http://ganskef.github.io/MoCuishle/mocuishle-binary-preview/mocuishle-testing-1.0-20160128.apk) but I haven't got an Android 5+ device. It works well :-) in emulator. Will try it with desktop platforms too.

Sorry, it's binary only, see http://ganskef.github.io/MoCuishle/license/.

[2016-01-28 21:01] Scottmitch opened #4780 "HTTP/2 InboundHttp2ToHttpAdapter Leak"
PR https://github.com/netty/netty/pull/4774 uncovered a leak in the HTTP/2 codec.

[code]

[2016-01-28 21:28] blucas commented on #4780
@Scottmitch - I know where and why this leak is occurring, I just don't know what the preferred netty solution is to fixing this.

Where:

[InboundHttp2ToHttpAdapterTest.clientRequestSingleHeaderNonAsciiShouldThrow()](https://github.com/netty/netty/blob/4.1/codec-http2/src/test/java/io/netty/handler/codec/http2/InboundHttp2ToHttpAdapterTest.java#L231)

Why:

It is happening because ```addHttp2ToHt

[2016-01-28 21:31] normanmaurer commented on #4780
@blucas I think the former is the right solution. @Scottmitch ?

[2016-01-28 21:49] blucas commented on #4780
@normanmaurer Agreed. It makes more sense this way.

As an example of the former solution, [lines 393-396](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/spdy/SpdyHttpDecoder.java#L393) would have to be wrapped in a ```try/catch``` block to ensure the buffer is released if an exception (such as validation of a header) occurred.

[2016-01-29 01:28] jiafu1115 commented on #2944
@normanmaurer @trustin I think we don't need to express the directions due to we can't make sure the directions, even we know, if we only want to print the channel info instead to express the directions. the direction will confuse us again.

so I fix it by； https://github.com/netty/netty/pull/4782
<->  <!>
or  <=> <:> what's better?

[2016-01-29 06:09] Scottmitch commented on #4780
@blucas - I have a PR which reworks a bunch of the logic in `InboundHttp2ToHttpAdapter` and the unit test. Lets review and make sure I have it covered when I push upstream.

[2016-01-29 07:17] trustin commented on #2944
@jiafu1115 Thanks! Left a comment in the PR.

[2016-01-29 07:41] trustin commented on #4778
@Scottmitch That's interesting. I wonder why `DnsNameResolver` fails to resolve a name when on VPN. Is it because your `/etc/resolv.conf` has `domain` or `search` option?

[2016-01-29 07:44] trustin commented on #4777
I wonder if this failure is simply due to the CI machine is out of memory temporarily. As you know, there's a chance of running 3+ builds in a single CI machine in our configuration.

[2016-01-29 07:44] normanmaurer commented on #4777
@trustin yeah I guess so... maybe we want to disable the test for now as it is super heavy ?

[2016-01-29 07:52] trustin commented on #4777
@normanmaurer Perhaps we should just reduce the number of concurrent jobs on the machine? If this keeps happening we might have to investigate further. We lose the chance of doing so by just ignoring it.

[2016-01-29 07:53] normanmaurer commented on #4777
to 2 ?

[2016-01-29 07:55] trustin commented on #4777
We currently have 3 containers in the machine and TeamCity just thinks we have 3 machines. I wonder if we can tell TeamCity that they are actually a same machine and jobs should not run concurrently. Didn't have time to take a close look..

[2016-01-29 07:56] trustin commented on #4777
Yeah, let's start from reducing to 2.

[2016-01-29 07:58] normanmaurer commented on #4777
@trustin can you do as I can not find it :/

[2016-01-29 08:09] trustin commented on #4777
@normanmaurer will try today. :-)

[2016-01-29 08:10] Scottmitch commented on #4514
@normanmaurer - Ping.

[2016-01-29 08:35] Scottmitch commented on #4777
@trustin thanks for taking care!

[2016-01-29 08:41] Scottmitch commented on #4778
@trustin - I can provide more details and Netty debug dumps of the dns requests/respones offline. Please email me if this would be useful and let me know what I can provide.

[2016-01-29 09:24] trustin commented on #4777
Configured so that more than two concurrent builds cannot run. However, we will need more sophisticated mechanism to utilize the machines more efficiently. Asked a question to Jetbrains:

https://teamcity-support.jetbrains.com/hc/en-us/community/posts/206403679-Restricting-concurrent-builds-between-multiple-agents

 We currently just use a global shared resource, as described here:

https://conflu

[2016-01-29 09:46] trustin commented on #4778
@Scottmitch Sure! Could you send me:

- your `/etc/resolv.conf`
- Wireshark dump of successful lookup via `getaddrinfo` on VPN
- Wireshark/`LoggingHandler` dump of unsuccessful lookup via `DnsNameResolver` on VPN

to my personal e-mail address?

[2016-01-29 10:55] erimatnor opened #4787 "HTTP/2 leak when processsing GoAway messages"
It appears Netty 4.1.0.RC1 leaks ByteBufs when processing GoAway messages. From quick analysis it seems the GoAway exception is converted to a ByteBuf (debugData) and never released. This should be easy to reproduce by simply trying to continuously connect to a port that has no listener.

It might help to know that this happened with [gRPC](https://github.com/grpc/grpc-java) v0.12.0 which is using

[2016-01-29 11:05] SerCeMan commented on #3297
Same error occured
[code]

[2016-01-29 11:08] normanmaurer commented on #3297
Can you always reproduce and what version?

[2016-01-29 11:09] SerCeMan commented on #3297
[code]
Error isn't reproducible

[2016-01-29 13:14] normanmaurer commented on #4787
@erimatnor are you sure this happens with CR1 as well ? If so please add a trace for CR1.

[2016-01-29 15:48] floragunncom commented on #4722
confirmed that its fixed, thanks a lot

[2016-01-29 17:37] Scottmitch commented on #4787
@nmittler - Can you comment? Does gRPC use the debug data at all? I took a look at Netty's `Http2ConnectionHandler.goAway` method and it does do a `retain` but it then releases in `processGoAwayWriteResult` (after it is potentially used for a log statement).

[2016-01-29 18:14] Scottmitch commented on #4778
@trustin - Thanks a bunch for the help! Check you email.

[2016-01-29 18:37] nmittler commented on #4787
@Scottmitch gRPC doesn't seem to be retaining.  In fact the gRPC code never sees the `ByteBuf` - it's all done within the parent `Http2ConnectionHandler`.

I wonder if the fact that we're [closing the context before we release the buffer](https://github.com/netty/netty/blob/72accceeacf15d13358d5c46d5c414fc49f6c38d/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L

[2016-01-29 18:41] normanmaurer commented on #4787
@nmittler nope... closing the context has no effect here.

[2016-01-29 18:43] IgorAlelekov commented on #2944
@jiafu1115 @normanmaurer @trustin
Certainly, you should know who is the server and who is the client and print it in the channel info
This info might be usefull in log files analysis in multi channel environment

[2016-01-29 18:50] nmittler commented on #4787
Hmm .. if [`Http2CodeUtil.toByteBuf`](https://github.com/netty/netty/blob/72accceeacf15d13358d5c46d5c414fc49f6c38d/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2CodecUtil.java#L155) were to throw for some reason, we would leak.  Perhaps that's happening for some edge cases?

[2016-01-29 19:37] #4704 closed

[2016-01-29 21:07] robeden opened #4793 "Certificate failing set in OpenSslServerContext on Linux under CR1"
Netty version: 4.1.0.CR1

Context:
I have at least one certificate that fails to initialize in OpenSslServerContext ("javax.net.ssl.SSLException: failed to set certificate chain") under Linux that used to work under beta8.

Here is output from my test app when the failure occurs:

    Netty:
       netty-buffer = netty-buffer-4.1.0.CR1.c681a40
       netty-codec = netty-codec-4.1.0.CR1.c681a40

[2016-01-29 21:09] normanmaurer commented on #4793
@robeden I guess you can't share the cert that fails ?

[2016-01-29 21:11] robeden commented on #4793
@normanmaurer It's in the sample code in the Gist. It's just a test cert, so of no real value.

[2016-01-29 21:12] normanmaurer commented on #4793
@robeden ah cool! Thanks will have a look.

[2016-01-29 23:24] jiafu1115 commented on #2944
when one app server use netty as server and client . swap the address may help to provide more infos. so what about just keep swap logical. such as if local address is first address.it is client connection.if it is second.it is client connection. so what about just add < before the => and keep the swap logical.

[2016-01-29 23:59] Scottmitch commented on #4787
@nmittler - Good point. `ByteBufUtil.writeUtf8` could actually [throw](https://github.com/netty/netty/blob/72accceeacf15d13358d5c46d5c414fc49f6c38d/buffer/src/main/java/io/netty/buffer/ByteBufUtil.java#L403) if the input is not valid UTF16 encoded version of UTF8. Let me make this path tolerant of exceptions.

[2016-01-30 00:09] Scottmitch commented on #4787
@nmittler - However I don't think that is what is happening in this case. Step `#2:` above confirms that the buffer did not "escape" and did actually make it into the `goAway` function and `retain()` was called.

[2016-01-30 00:28] Scottmitch commented on #4787
@nmittler - Interesting ... step 3 confirms that `DefaultHttp2FrameWriter.writeGoAway` actually wrote the buffer to the underlying context (`AbstractChannelHandlerContext.write`). Then step 4 confirms that the write operation has failed (`Http2ConnectionHandler.java:904`). The question here is if the buffer was written why was it not released? @normanmaurer - Thoughts?

@erimatnor - There should b

[2016-01-30 18:33] kaendfinger opened #4794 "WebSocket Compression for client not working"
I helped implement WebSocket compression the Dart VM (https://www.dartlang.org/)

However, when I try to connect to it via Netty 5.0.0-Alpha-2:

[code]

The WebSocket server and client pass all WebSocket compression tests for Autobahn, and works in all major browsers.

I could be wrong, but I believe this is a problem with Netty's implementation.

[2016-01-30 20:20] erimatnor commented on #4787
One reason for this issue might be conflicting Netty versions. My own code depends on Netty 4.1.0.CR1 while gRPC imports some Netty packages (HTTP/2) from Netty 4.1.0.Beta8. I will investigate this issue further.

[2016-01-30 21:56] mbaturov opened #4796 "Using Socks4/5 Proxy Handlers in Netty Client (4.1b8)"
Netty 4.1.0 Beta8
Tried a lot of proxies from free socks lists (like www.socks-proxy.net, http://sockslist.net/ etc) with no luck:
[code]

The connection hangs, resets or getting some strange exceptions.
What's wrong? How to use it?

[2016-01-30 22:02] AlainRoy commented on #4704
Thank you!

[2016-01-31 04:42] windie commented on #3411
Add a reusable ArrayList to InternalThreadLocalMap in #4798.

For `byte[]`, since it has a fixed length, we need a object pool for some commonly used `byte[]`. Not sure if it's worth.

[2016-01-31 15:33] Harry5573 opened #4800 "Native transport package prefix not working."
It appears that the native transport package prefix property that was added in (https://github.com/netty/netty/commit/53323530c1b47e225c28fc4e3a4a4f9de1b7a0e3) is not working.

Netty build: 4.0.34.Final
Error:

[06:07:43] [Server thread/ERROR]: Exception stopping the server
java.lang.UnsatisfiedLinkError: failed to load the required native library
        at net.minecraft.util.io.netty.channel.epo

[2016-01-31 21:35] richdougherty commented on #4571
@jroper, this should be fixed now, right?

[2016-01-31 23:45] jroper commented on #4571
Yep.

[2016-02-01 02:14] jchambers opened #4802 "Out-of-order streams with `StreamBufferingEncoder`"
I've noticed behavior in testing with 4.1.0 CR1 where streams are sent out of order when the client is enforcing a stream limit (and the server has actually set a limit). I haven't yet nailed down the precise cause.

What I'm trying to do is send a thousand messages from a client to a server. Each of those messages gets written by my `Http2ConnectionHandler` subclass as a `HEADER`/`DATA` frame pai

[2016-02-01 02:42] jchambers commented on #4802
I lied! This totally happens with my minimal test case! I just had the number of frames too low to notice. You can find the minimal test case at https://gist.github.com/jchambers/3a1eb112c205cd4ad125.

[2016-02-01 02:48] jchambers commented on #4802
Oops—looks like this is a duplicate of #4758.

[2016-02-01 02:48] #4802 closed

[2016-02-01 05:46] trustin commented on #4796
You should add the proxy handler before all other handlers?

[2016-02-01 05:54] trustin commented on #2944
@IgorAlelekov Let's continue the discussion from [here](https://github.com/netty/netty/pull/4782#issuecomment-177782683)

[2016-02-01 08:23] mbaturov commented on #4796
@trustin seems OK if first, thanks!

[2016-02-01 09:54] #4796 closed

[2016-02-01 11:35] doom369 opened #4805 "All tests for channel re-registering stop working after migration 4.0.33 -> 4.0.34"
Hello. I have a lot of different tests for testing channel re-register. After update to latest version all of them started failing. The scenario is pretty simple.

Client1 logins. Cleint2 logins.
[code]
Client1 send message, Client2 checks it get message.

My findings so far - after channel is re-registered it stops receive messages (no handlers within pipeline is invoked). I have a feeling all in

[2016-02-01 14:50] normanmaurer commented on #3411
Fixed by https://github.com/netty/netty/pull/4798

[2016-02-01 14:50] #3411 closed

[2016-02-01 15:00] normanmaurer commented on #4800
@Harry5573 @Scottmitch is working on it.

[2016-02-01 15:01] normanmaurer commented on #4805
@doom369 thanks will have a look. I have kind of the feeling that it may be related to:
https://github.com/netty/netty/commit/ba381f1a27c3251fa13725f09dd0cb771326f113

[2016-02-01 15:11] normanmaurer commented on #4794
will have a look

[2016-02-01 15:22] normanmaurer commented on #4805
@doom369 tried to reproduce with a unit test but no luck :( Could you try to write a small unit test for it ? Maybe have a look at `DefaultChannelPipelineTest` and add something in there which shows the problem with netty only ?

[2016-02-01 15:32] kaendfinger commented on #4794
@normanmaurer It seems I had to enable the client max window bits flag for WebSocket compression.

[code]

This really should be enabled by default. All other implementations of WebSockets work fine.

[2016-02-01 15:39] normanmaurer commented on #4794
@kaendfinger this is because specify a custom window size is only possible with jdk7 or if jzlib is used so we are playing safe here. I wonder if we should maybe use true if jdk7 is used or if jzlib is used. WDYT ?

[2016-02-01 16:56] doom369 commented on #4805
@normanmaurer here you go :

[code]

This code will print for 4.0.33
`Retrieved message from `

But you'll get nothing for 4.0.34

[2016-02-01 17:36] kaendfinger commented on #4794
That sounds like the best way to do it :)

[2016-02-01 17:58] normanmaurer commented on #4805
@doom369 awesome! I know where the problem is and work on a fix. For a workaround just call `ctx.read()` or `channel.read()` in the ChannelFuture that is added to `eventLoop.register`.

[2016-02-01 18:14] doom369 commented on #4805
@normanmaurer good.

Hm, doesn't help, tried to add in few places. Maybe I didn't understood you correctly.

[2016-02-01 19:03] Scottmitch commented on #4800
@Harry5573 - Yes this previous commit was only part of the puzzle. Standby for a new PR which completes the picture.

[2016-02-01 19:10] normanmaurer commented on #4794
@kaendfinger ok let me take a stab.

[2016-02-01 20:08] Scottmitch commented on #4802
@jchambers - Yes looks like a duplicate of #4758 ... sorry I know this one can take a bunch of time to track down ... the PR that resolves the issue (https://github.com/netty/netty/issues/4788) attempts to increase visibility in this area too.

[2016-02-01 20:24] Scottmitch commented on #4571
@richdougherty @jroper - I'll close this then ... feel free to re-open or file another issue if it still exists.

[2016-02-01 20:25] normanmaurer commented on #4571
@Scottmitch this is only "fixed" in play not in need yet.

[2016-02-01 20:27] Scottmitch commented on #4571
@normanmaurer - Woops sry about that

[2016-02-01 20:38] #3619 closed

[2016-02-01 21:21] normanmaurer commented on #4760
@trustin ping again

[2016-02-01 21:22] normanmaurer commented on #4724
Closing... please reopen with more infos if you think it's a netty bug

[2016-02-01 21:22] #4724 closed

[2016-02-01 21:23] normanmaurer commented on #4698
@abhayavis sorry but without a way to reproduce I'm not able to help much atm :/

[2016-02-01 21:37] #4758 closed

[2016-02-01 21:56] normanmaurer commented on #4533
@jroper let me fix this.

[2016-02-01 23:39] Scottmitch commented on #4800
@Harry5573 - Also a side note ... currently `io.netty.native.epoll.nettyPackagePrefix` will change to `io.netty.packagePrefix` (we can discuss in the PR). You will also have to append this same prefix to the native library packaged in the Netty jar (to ensure the correct native library is being used).

Assuming `-Dio.netty.packagePrefix=net.minecraft.util."

Then rename `META-INF/native/libnetty-t

[2016-02-01 23:55] rkapsi opened #4807 "AppendableCharSequence#append(char) uses IOOBE for expansion"
Hello,

I did some profiling in our production environment and noticed that `AppendableCharSequence#append(char)` catches `IndexOutOfBoundsException` to expand its internal `char[]` (in our case called via HTTP header parser, see linked screenshot).

I don't know if it's on purpose (there used to be a pattern around that) but
throwing+catching exceptions is in my experience more expensive than som

[2016-02-02 00:09] Scottmitch commented on #4807
This change was introduced by https://github.com/netty/netty/pull/4039. Please see the profiling results included in this PR, and also let me know if you are not able to reproduce these results.

`AppendableCharSequence` is a hot spot during HTTP profiling, and a few different things were tried (including rewriting portions of `HttpObjectDecoder` to avoid copying, and also using a `AppendableByteS

[2016-02-02 00:13] Scottmitch commented on #4807
IIRC I did run this change in isolation to see if it had any impact, but looking back at this PR there were a few other changes introduced too.  Let me re-run profiles with this change isolated and see what the impacts are.

[2016-02-02 00:23] Scottmitch commented on #4807
Now I remember [AppendableCharSequenceBenchmark](https://github.com/netty/netty/blob/4.1/microbench/src/main/java/io/netty/microbenchmark/common/AppendableCharSequenceBenchmark.java) does isolate the two different approaches. As requested in https://github.com/netty/netty/issues/4807#issuecomment-178267877 let me know if you think there is something wrong with this benchmark.

[2016-02-02 01:51] Scottmitch opened #4808 "Make tcnative version dependency more clear"
Now that we are updating tcnative more frequently we should consider having a version compatibility check explicitly run to ensure the correct version is being loaded. Perhaps this would make sense to have when we load openssl in [OpenSsl.java](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/OpenSsl.java#L58).

[2016-02-02 01:51] Scottmitch commented on #4808
@normanmaurer @trustin @nmittler - FYI.

[2016-02-02 15:40] johnou commented on #3256
@Scottmitch if you don't hear back from Nils you could also try Rory at rory.odonnell[at]oracle.com (he is active).

[2016-02-02 16:48] nmittler commented on #4808
@Scottmitch SGTM

[2016-02-02 16:52] slachiewicz commented on #3534
So for Netty 4.0/4.1 we will stay at minimum java 6 and for Netty 5.0 will be Java 8 ?

[2016-02-02 17:03] normanmaurer commented on #3534
That is the idea atm

[2016-02-02 17:50] normanmaurer commented on #4794
@kaendfinger Please check https://github.com/netty/netty/pull/4813

[2016-02-02 17:53] normanmaurer commented on #4805
@doom369 please check https://github.com/netty/netty/pull/4814. This fixes the problem here.

[2016-02-02 17:56] normanmaurer commented on #4533
@jroper https://github.com/netty/netty/pull/4815 should fix it. PTAL

[2016-02-02 18:18] normanmaurer commented on #4754
@mrniko should be fixed by https://github.com/netty/netty/pull/4817. Please take a look...

[2016-02-02 18:19] CodingFabian opened #4818 "Expose defaultMachineId from DefaultChannelId"
would it be reasonable to expose the defaultMachineId somehow?
Maybe moving it to a helper and making public?

I need such a functionality at the moment, and when looking "on the internet", there are plenty of really bad or sub-par implementations of what I think is actually solved pretty nicely in Netty code.

What you think?

[2016-02-02 18:20] normanmaurer commented on #4818
@CodingFabian where is it currently located ?

[2016-02-02 18:25] CodingFabian commented on #4818
It is an internal in DefaultChannelId, where it is used as "base" to compute ChannelIds from (using the machineid, processid, counter and random time stuff)

[2016-02-02 18:27] CodingFabian commented on #4818
io.netty.channel.DefaultChannelId.MACHINE_ID
and the static initializer part creating it.

I understand that this is not core business of netty, and maybe netty doesnt want to support this, but the code is very elaborate, and it reads out all network interfaces, so it is somehow netty related :)

As it is used as "helper" inside netty, I just thought it would be possible to open it up a bit.

[2016-02-02 18:37] doom369 commented on #4805
@normanmaurer Above example works. Most of tests fine also. But still there are few that doesn't work. I'm using tcp, http, websockets and SSL versions of them. And all of them has pipelines with reregister logic. Http reregister tests not work anymore. I'll try to make a reproducer for HTTP, but a bit later. Maybe tomorrow.

[2016-02-02 18:53] jroper commented on #4571
Sorry, the bad behaviour in Play that triggered this issue is fixed, the better error reporting is not.

[2016-02-02 18:58] Scottmitch commented on #3256
@johnou - Thanks, I emailed Rory as well.

[2016-02-02 19:14] normanmaurer commented on #4805
@doom369 thanks!

[2016-02-02 19:38] #4760 closed

[2016-02-02 20:33] ztellman commented on #4625
If we're adding feature requests for a new pool implementation, I'd like to request better support for metrics, too.  While the implementation at https://github.com/ztellman/dirigiste isn't a good drop-in solution, I think all of the metrics provided there have a high degree of utility.  I was forced to effectively rewrite the channel pool to get any visibility into queue lengths or utilization.

[2016-02-02 20:44] #2944 closed

[2016-02-02 23:26] Scottmitch commented on #4800
@Harry5573 - Please try PR #4820.

[2016-02-03 00:15] rkapsi commented on #4807
Hey Scott,

I'm having trouble getting that Benchmark running (I seem to have a newer version of JMH and it doesn't like the absence of a `@State` annotation and if I do add it then it's running in an infinite loop).

But the first thing that comes to my mind is the potential impact of the stack depth. JMH's call stack is probably shallow. Something along the lines of this (below) may change thing

[2016-02-03 01:01] Scottmitch commented on #4807
@rkapsi - You can run the benchmark with maven:
`mvn clean test -DskipTests=false -Dtest=AppendableCharSequenceBenchmark`.  Let me do some analysis on stack depth. It is also possible if you only use the connection for a single request that the exception being thrown will be more costly than the duplicate index checking...

[2016-02-03 08:15] normanmaurer commented on #4808
@Scottmitch sounds good. I can take care.

[2016-02-03 09:44] normanmaurer opened #4823 "java.lang.AssertionError during CI run"
[code]

[2016-02-03 09:51] normanmaurer commented on #4746
Fixed by https://github.com/netty/netty/pull/4791

[2016-02-03 09:51] #4746 closed

[2016-02-03 09:59] normanmaurer commented on #4823
not sure yet how this can happen though....

[2016-02-03 10:20] nmnhero commented on #2127
Hi, when I use io.netty I get this errors:

Could not find method sun.misc.Unsafe.addressSize, referenced from method io.netty.util.internal.PlatformDependent0.addressSize
02-03 17:10:08.775 22747-22747/com.nmn.industrialapp W/dalvikvm: VFY: unable to resolve virtual method 54886: Lsun/misc/Unsafe;.addressSize ()I
02-03 17:10:08.775 22747-22747/com.nmn.industrialapp D/dalvikvm: VFY: replacing opco

[2016-02-03 10:22] nmnhero opened #4824 "Errors in using netty 4.0.33.Final about sun.misc.Unsafe methods"
Hi, when I use io.netty-codec and io.netty-buffer I get this errors:

[code]

[2016-02-03 14:16] doom369 commented on #4805
@normanmaurer started this morning with coffee and reproducer for you =). Here you go (hope I didn't make any mistake) :

[code]

[2016-02-03 14:38] normanmaurer commented on #4823
Actually I think I know what is the problem... working on a fix, which is tricky...

[2016-02-03 16:15] Scottmitch commented on #4824
What version of JDK and what OS are you running on?

[2016-02-03 16:15] Scottmitch commented on #4808
thanks @normanmaurer !

[2016-02-03 16:32] CodingFabian commented on #4818
I have illustrated my idea with a PR. Naming is not final of course. Feedback welcome.

[2016-02-03 18:44] carl-mastrangelo opened #4827 "Possible race condition in ResourceLeakDetector"
Context: I work on the gRPC project, which uses netty.

I ran a race detector on our code and found a possible race condition in ResourceLeakDetector.  The relevant part of the stack trace is:

    #0 io.netty.util.ResourceLeakDetector.open(Ljava/lang/Object;)Lio/netty/util/ResourceLeak; (ResourceLeakDetector.java:207)
    #1 io.netty.buffer.AbstractByteBufAllocator.toLeakAwareBuffer(Lio/netty/buf

[2016-02-03 18:47] floragunncom opened #4828 "OpenSslContext throws UnsupportedOperationException when Unsafe not available"
Netty 4.0.34.Final on OS X, Unsafe not available due to SecurityManager and restrictive policy file.

So this warning is issued: "[io.netty.util.internal.PlatformDependent] Your platform does not provide complete low-level API for accessing direct buffers reliably. Unless explicitly requested, heap buffer will always be preferred to avoid potential system unstability."

OpenSslContext constructor

[2016-02-03 18:50] normanmaurer commented on #4828
@floragunncom which java version and java brand ?

[2016-02-03 19:00] floragunncom commented on #4828
Oracle 1.8.0_45 on Mac OS Yosemite

java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.45-b02, mixed mode)

I need to create a new Open SSL Engine and i do it with:
<pre>
sslContext.newEngine(PooledByteBufAllocator.DEFAULT);
</pre>

Maybe this is the flaw?

[2016-02-03 19:00] normanmaurer commented on #4828
is it osgi ?

[2016-02-03 19:07] carl-mastrangelo opened #4829 "Race in PoolArena.allocate"
It appears there might be a race in `io.netty.buffer.PoolArena.allocate`, where `allocationsTiny` is incremented.  While the value is incremented under a lock, it also appears to be mutated elsewhere in the file without a lock.  A race detector suggested the two places where the class accesses this field in an unsynchronized way:
[code]
and
[code]
cc: @nmittler & @normanmaurer

[2016-02-03 19:14] normanmaurer commented on #4828
@floragunncom that said I think we should use JDK provider if Unsafe is not present. I will come up with a patch

[2016-02-03 19:17] normanmaurer commented on #4829
Will check...

[2016-02-03 19:17] normanmaurer commented on #4827
@carl-mastrangelo will check...

[2016-02-03 19:25] carl-mastrangelo opened #4830 "Possible Race condition in io.netty.util.Recycler"
While running a race detector on our project, it seems to think that there is a race in Recycler.  I looked at it and I am not quite sure how it is happening, but here are the conflicting accesses:

[code]

and

[code]

Those access methods are actually private variables, but I can't figure out which one by looking at the source.

cc: @nmittler & @normanmaurer

[2016-02-03 19:46] normanmaurer commented on #4828
@floragunncom actually I think we not need unsafe for OpenSsl. Working on a fix

[2016-02-03 19:49] normanmaurer commented on #4830
@carl-mastrangelo I think this is a false-positive as the whole idea of the WekOrderQueue is to have this stuff made visible because of other volatile access.

[2016-02-03 19:52] normanmaurer commented on #4830
@carl-mastrangelo btw what race-detector you use ?

[2016-02-03 20:00] normanmaurer commented on #4827
@carl-mastrangelo that is expected as we not care much about correctness and trade it for performance. It is only used to detect if we want to sample for a leak or not.

[2016-02-03 20:00] #4827 closed

[2016-02-03 20:00] #4830 closed

[2016-02-03 20:19] carl-mastrangelo commented on #4830
I am using tsan.

[2016-02-03 20:23] normanmaurer commented on #4830
@carl-mastrangelo this one: https://github.com/google/java-thread-sanitizer ? Never heard of it but looks interesting.

[2016-02-03 20:32] carl-mastrangelo commented on #4830
Not sure if it is the same one, since I am using an internal version (which may be different than the public one).    Of the issues it did find they look like they are probably legitimate (though possibly surreptitious).  That said, if you are preferring performance to correctness, I guess there isn't much else to discuss.

[2016-02-03 20:34] normanmaurer commented on #4830
yeah for these we prefer performance (not be 100% correct not harm here). But keep em coming there may be others that are a problem (for real). Thanks!

[2016-02-03 20:43] carl-mastrangelo opened #4832 "Possible Race in JdkSslEngine"
Following from my previously filed issues, the conflicting thread access stack traces:

[code]

and

[code]

Hazarding a guess looks like it might be SslHandler.singleBuffer

cc: @nmittler & @normanmaurer

[2016-02-03 20:45] normanmaurer commented on #4832
@carl-mastrangelo I'm a bit confused for this one as the same SslHandler instance should only be called from the same Thread. So how could this be a race ?

[2016-02-03 20:47] carl-mastrangelo commented on #4832
Oops, forgot the header of the second one:
```Previous write of size 4 at 0x7fad488432e8 by thread T44:```

It is actually being hit from another thread.

[2016-02-03 20:49] normanmaurer commented on #4832
And it's the same SslHandler ? Are you sure ? Also is this the full stacktrace ?

[2016-02-03 20:52] carl-mastrangelo commented on #4832
[code]

Which is spawned from:

[code]

The second thread (T44) is:

[code]

which is spawned by

[code]

[2016-02-03 20:56] normanmaurer commented on #4832
@carl-mastrangelo sorry for all the question but how can I see that it is the same instance of SslHandler ? From the stacktraces it is always called because of `NioByteUnsafe.read()` which can only be called from one Thread per Channel.

[2016-02-03 21:03] carl-mastrangelo commented on #4832
It may be that the description of this bug is wrong, and the bug is somewhere else.  The memory address is the same in both cases, and looks to be triggered by a write followed by a read on separate threads.

[2016-02-03 21:05] normanmaurer commented on #4832
@carl-mastrangelo hmm... both traces have `io.netty.channel.nio.NioEventLoop.processSelectedKeys ` with means it is a read. Why you think it is a write ?

[2016-02-03 21:10] carl-mastrangelo commented on #4832
In the top most stack trace, it has the header:

[code]

Which is why I suspect it is a RaW hazard.

[2016-02-03 21:11] carl-mastrangelo commented on #4832
Also, it

[2016-02-03 21:34] carl-mastrangelo opened #4833 "Race in OpenSslContext"
This one seems more hygienic than anything.  I have not included stack traces as I fear they may be internal details, but I did some looking and it seems that OpenSslCtx causes a data race in the JNI tcnative library.  It appears that the `ctx` variable is gaurded most of the time by OpenSslContext.class, but a race can arise where the context is used by two threads creating and shutting down an O

[2016-02-03 21:44] carl-mastrangelo opened #4834 "Race in AddressResolverGroup"
https://github.com/netty/netty/blob/4.1/resolver/src/main/java/io/netty/resolver/AddressResolverGroup.java

Here, `resolvers` is synchronized when calling .get(), but not in the future callback `resolvers.remove(executor);`

[2016-02-03 21:45] carl-mastrangelo commented on #4833
cc: @nmittler & @normanmaurer

[2016-02-03 21:45] carl-mastrangelo commented on #4834
cc: @nmittler & @normanmaurer

[2016-02-03 22:09] slandelle commented on #4834
Why not use a CHMv8 here? It seems the original concern was `AddressResolver` instantiation cost, but that's what computeIfAbsent is for. This would let us remove all the synchronized blocks.

[2016-02-03 22:40] #4800 closed

[2016-02-04 00:59] nmnhero commented on #4824
I'm using JDK 8 and Windows 7 Pro

[2016-02-04 06:18] odbuser2 opened #4835 "CorsConfigBuilder allowNullOrigin method should be public instead of package private"
Netty version: 4.1.0-CR1

Class:
io.netty.handler.codec.http.cors.CorsConfigBuilder

Method:
method "allowNullOrigin" should be public but it is package private (no modifier)

[2016-02-04 07:02] normanmaurer commented on #4834
Because it's java8 only... Will fix the race though

[2016-02-04 07:08] slandelle commented on #4834
@normanmaurer I'm referring to your internal fork: https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/chmv8/ConcurrentHashMapV8.java

[2016-02-04 07:33] normanmaurer commented on #4834
@trustin WDYT?

[2016-02-04 08:26] malaikuangren opened #4836 "Build error in the JDK 1.8 and Windows 7 x64"
I just download the whole project . tried to run `mvn eclipse:eclipse`. Got an error said below. Please help to review it .Thanks.

[code]

I also asked a question in the [StackOverflow](http://stackoverflow.com/questions/35194395/how-to-make-the-netty-example-works). Thanks.

[2016-02-04 08:32] slandelle commented on #4836
Are you sure you're running the Windows 7 64 bits flavor? Because here, maven is looking for the version of tcnative for 32 bits, which doesn't exist.

Then, yes, Netty can currently be built on a 32 bit Windows.

[2016-02-04 08:59] malaikuangren commented on #4836
Yes . I am sure my OS is Windows 7 64bits. I just double checked it .

[2016-02-04 09:13] ferrybig commented on #4836
@slandelle Arcording to the StackOverflow post, maven is running `OS name: "windows 7", version: "6.1", arch: "x86", family: "dos"`, so it's probably 32 bit maven and 64 bit windows.

[2016-02-04 09:13] slandelle commented on #4836
This looks like a bug in os-maven-plugin. Is uses the "os.name" System property, but this one will detect a 32 bit architecture when you're running a 32 bit JVM, even though you're running on a 64 bit OS, see https://blogs.oracle.com/DieterDeramoudt/entry/beware_when_detecting_32_and.

Check your JVM, and switch to a 64 bit one if you're running a 32 bit one.

cc @trustin

[2016-02-04 09:18] slandelle commented on #4836
@ferrybig Maven isn't 32 or 64 bit, it's just Java code. The JVM is.

[2016-02-04 09:20] malaikuangren commented on #4836
Yes .Right . Currently the my JVM  is 32 bit. Any reason I should switch to the 64bit JDK? @slandelle

[2016-02-04 09:23] malaikuangren commented on #4836
BTW.

What if Nettry can be working on the 32 bit Windows with 32 bit JVM? Thanks.

[2016-02-04 09:25] slandelle commented on #4836
Because Netty's build depends on some maven dependencies whose classifier is based on the OS arch, and who only exist for 64 bit archs. Those dependencies are optional at runtime, but required for the built.

IMO, trying to support building Netty on a 32 bit arch would be a PITA. My best choice would be to enforce a "require 64 bit for building rule" with something like maven-enforcer-plugin. But

[2016-02-04 11:48] Scottmitch commented on #4773
Was fixed in #4763

[2016-02-04 11:48] #4773 closed

[2016-02-04 11:50] Scottmitch commented on #4777
@trustin - I'll assign to you for now since you took some action regarding this issue ... feel free to close if you feel the CI changes addressed the failures.

[2016-02-04 11:53] Scottmitch commented on #4686
@normanmaurer - I believe your PR https://github.com/netty/netty/pull/4812 is designed to resolve this issue?

[2016-02-04 11:55] Scottmitch commented on #4489
Queuing the initial headers caused some practical issues and added additional complexity as discussed in https://github.com/netty/netty/issues/4758. For now initial headers are not being run through the flow controllers.

[2016-02-04 11:55] #4489 closed

[2016-02-04 11:56] Scottmitch commented on #4418
@normanmaurer - Any updates on this issue? Didn't have have a PR related to this?

[2016-02-04 12:06] normanmaurer commented on #4418
Nope lost track on this one. Should pock it up again

[2016-02-04 12:38] buchgr commented on #4829
yep that's a possible race, but it doesn't really happen in practice and I think if it does nobody will notice or care :).

It may happen if two threads have the same arena's assigned to them, and those two threads need to concurrently allocate from two different tiny size classes and there must not be any free regions available in the thread caches for both of those two tiny size classes (same is

[2016-02-04 12:40] normanmaurer commented on #4829
@buchgr I agree... I'm not sure if it really worth to care here and take the performance hit. That said maybe we should and just allow to disable recording metrics. WDYT ?

[2016-02-04 12:53] normanmaurer commented on #4686
@Scottmitch yes

[2016-02-04 13:01] normanmaurer commented on #4533
Fixed by https://github.com/netty/netty/pull/4815

[2016-02-04 13:01] #4533 closed

[2016-02-04 13:02] normanmaurer commented on #4794
Fixed by https://github.com/netty/netty/pull/4813

[2016-02-04 13:02] #4794 closed

[2016-02-04 13:16] buchgr commented on #4829
@normanmaurer up to you :-). I think correctness goes over performance and options for disabling/enabling is just adding unnecessary complexity. That being said, I think if the thread caches work correctly (>99.9% hit rate), there will not be a performance impact.

You can also leave this open for me to have a look at in ~4 weeks. I am planning to add some stat reporting to the allocator, to bette

[2016-02-04 13:18] normanmaurer commented on #4829
@buchgr let me maybe just fix it for now and we can revisit later. WDYT ?

[2016-02-04 13:22] buchgr commented on #4829
@normanmaurer sgtm

[2016-02-04 13:26] normanmaurer commented on #4754
Fixed by https://github.com/netty/netty/pull/4817

[2016-02-04 13:26] #4754 closed

[2016-02-04 13:52] Scottmitch commented on #4780
A leak still exists (as seen in PR https://github.com/netty/netty/pull/4831). I suspect it may be related to the HTTP//2 codec not necessarily calling `streamRemoved` if a channel is not active.

[code]

[2016-02-04 13:58] Scottmitch opened #4838 "HTTP/2 codec may not always call Http2Connection$Listener.onStreamRemoved"
If `Http2Connection$Listener.onStreamAdded` is called it is not always the case that `Http2Connection$Listener.onStreamRemoved` will be called. Some use cases (including `InboundHttp2ToHttpAdapter`) depend upon the `onStreamRemoved` method to be called in order to clean up allocated buffers.

[Http2ConnectionHandler.channelInactive](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java

[2016-02-04 13:58] Scottmitch commented on #4838
@nmittler - FYI

related to https://github.com/netty/netty/issues/4780#issuecomment-179849253

[2016-02-04 14:24] normanmaurer commented on #4805
@doom369 thanks again. This is actually another bug :( https://github.com/netty/netty/pull/4839 . With this pulled in all works now.

[2016-02-04 14:28] nmittler commented on #4838
@Scottmitch yikes! Are you working on a patch?

[2016-02-04 14:33] johnou commented on #4824
@nmnhero what JRE / OS is running the application code? Looks like Android..?

[2016-02-04 14:40] normanmaurer commented on #4805
Fixed by #4814 and #4839

[2016-02-04 14:40] #4805 closed

[2016-02-04 15:28] carl-mastrangelo commented on #4829
@buchgr fwiw the race detector found this when running our unit tests, which I believe are not atypical users of netty.  The race detector is similar to valgrind, which reports suspicious memory accesses.  To this end, I don't believe the race is hypothetical.

[2016-02-04 16:12] buchgr commented on #4829
@carl-mastrangelo do you know which unit test it was? If my understanding of the code is correct, a necessary condition for the race to happen would be that this test uses more than `2 * ncores` many event loops? You are right in saying that it's not hypothetical, it can happen, but if it happens nothing happens so to say :). it's just an unused stat counter. I am all for fixing it.

[2016-02-04 16:29] buchgr commented on #4829
@carl-mastrangelo that would actually be really helpful. If it happens with lte `2 * ncores` threads, then this might point at the logic assigning arenas to threads having a bug, which would be important to fix.

[2016-02-04 16:33] carl-mastrangelo commented on #4829
@buchgr I found it in this test: https://github.com/grpc/grpc-java/blob/master/interop-testing/src/test/java/io/grpc/testing/integration/Http2NettyLocalChannelTest.java  but It happens for most of the other tests in the same directory.

If it is infact a harmless race, then its probably okay.  I don't think I can configure my race detector to ignore particular races, so fixing this would help de-n

[2016-02-04 16:46] buchgr commented on #4829
@carl-mastrangelo thanks! I ll take a look. I assume the race detector is google internal?

[2016-02-04 16:48] doom369 commented on #4805
@normanmaurer Now situation is much better. But I still have failing tests and seems this is related with your fix.

[2016-02-04 16:56] normanmaurer commented on #4805
Any more reproducers?

[2016-02-04 16:57] doom369 commented on #4805
@normanmaurer Will do tomorrow. Have to go now.

[2016-02-04 17:16] carl-mastrangelo commented on #4829
Yeah, sadly.  Otherwise I would be more forthcoming with details.

[2016-02-04 17:22] normanmaurer commented on #4829
Any chance to opensource it ? **hint**

[2016-02-04 20:30] blucas opened #4840 "EpollEventLoop fails to initialize"
Netty Version: 4.1 latest snapshot

I get the following exception when attempting to use Epoll.  None of my code has changed, I just grabbed the latest snapshot jars.  Could it have anything to do with 075a54af3e607c20eeaf7809a2a08602abd5d735 ??? I have not shaded my app or anything.
[code]

[2016-02-04 20:31] blucas commented on #4840
@Scottmitch @normanmaurer - Any ideas guys? this is kinda worrying me, especially considering Norman tagged CR2

[2016-02-04 20:48] blucas commented on #4840
On a related note, I get the following exception when attempting to start and SSL service:

[code]

[2016-02-04 20:51] tmihalcin opened #4841 "JVM crash when websocket is closed from client"
I'm using vert.x 3.2.0 with Netty 4.0.33.Final(tried 4.0.34.Final as well).

Whenever I close browser window, which has active websocket connection to server, JVM crashes.

These are last lines from application log:
`2016-02-04 20:33:41.151 [vert.x-eventloop-thread-1] DEBUG io.netty.handler.codec.http.websocketx.WebSocket08FrameDecoder - Decoding WebSocket Frame opCode=8
2016-02-04 20:33:41.153 [v

[2016-02-04 21:04] normanmaurer commented on #4840
@blucas the second is because you need to use netty-tcnative-1.1.33.Fork12. The other maybe @Scottmitch has an idea ?

[2016-02-04 21:07] normanmaurer commented on #4841
@tmihalcin can you share the app that allows to reproduce this ?

[2016-02-04 21:14] normanmaurer commented on #4841
Actually I think I see where the problem is... Let me fix it

[2016-02-04 23:28] Scottmitch commented on #4793
This may be related to https://github.com/netty/netty/pull/4595

[2016-02-05 00:58] nmnhero commented on #4824
Yes I'm running it on Android

[2016-02-05 06:01] normanmaurer commented on #4793
I dont think so

[2016-02-05 06:16] tmihalcin commented on #4841
If you still need sample app, just let me know

[2016-02-05 06:19] normanmaurer commented on #4841
No all should be good. I'm right that you can only reproduce it on the PI?

[2016-02-05 06:52] normanmaurer commented on #4841
@tmihalcin also can you share which raspberrypi and which linux you are using ? Would be interested to  know.

[2016-02-05 07:07] normanmaurer commented on #4841
@tmihalcin this should fix it: https://github.com/netty/netty/pull/4845

[2016-02-05 07:16] tmihalcin commented on #4841
Yes you're right. No issues on Windows machine.
I'm using RPI2 with Raspbian.
Thank you for quick fix.

[2016-02-05 08:07] tmihalcin commented on #4841
@normanmaurer I have patched netty-buffer with your fix and I confirm that it works.
Thank you.

[2016-02-05 08:07] #4841 closed

[2016-02-05 08:26] normanmaurer commented on #4828
Fixed...

[2016-02-05 08:26] #4828 closed

[2016-02-05 08:29] normanmaurer commented on #4834
Fixed by https://github.com/netty/netty/pull/4844

[2016-02-05 08:29] #4834 closed

[2016-02-05 08:30] normanmaurer commented on #4840
@blucas is the same happen with CR2 ? (non snapshot)

[2016-02-05 08:38] normanmaurer commented on #4818
Fixed... thanks @CodingFabian

[2016-02-05 08:38] #4818 closed

[2016-02-05 09:23] blucas commented on #4840
Same thing happens.  I just noticed another stack trace higher up that might give us a better clue:

[code]

This makes me think it definitely has something to do with @Scottmitch's changes to support shading. FYI, I'm using Java 7 runtime, I don't know if that makes a difference for JNI support

[2016-02-05 09:28] normanmaurer commented on #4793
@Scottmitch actually you are right and it is related.. Working on a fix.

[2016-02-05 10:09] johnou commented on #4805
@doom369 you rock!

[2016-02-05 12:15] blucas commented on #4840
*Update:* If I revert 075a54af3e607c20eeaf7809a2a08602abd5d735 the issue is no longer present and everything works as expected

[2016-02-05 12:54] doom369 commented on #4805
@johnou =). Thank you!
@normanmaurer Look like everything fine. Those tests that failed were wrong. Now I'm confused as do not understand how did they work with 4.0.33 =). But anyway thank you for quick fixes!

[2016-02-05 13:22] normanmaurer commented on #4805
Yay thx!

[2016-02-05 16:35] Scottmitch commented on #4840
@blucas - Sorry for the snag ... let me dig in here

[2016-02-05 17:36] blucas commented on #4840
@Scottmitch - sent you an email (via your gmail account) with some more info

[2016-02-05 18:08] rkapsi commented on #4807
@Scottmitch - I've run a few scenarios with that benchmark. The occasional exception being thrown vs. constant double checking is very difficult for the latter to make up. I can fabricate scenarios where the two start showing similar Op/s but it does feel very fabricated. It's hard to quantify the memory cost from these StackTraceElements that need to be created and thrown away.

I think the key t

[2016-02-05 19:19] Scottmitch commented on #4840
@blucas - I was able to reproduce locally stay tuned for a PR.

[2016-02-05 20:12] normanmaurer commented on #4793
@robeden Please check https://github.com/netty/netty/pull/4846

[2016-02-05 22:25] Scottmitch commented on #4807
@rkapsi +1. Is it fair to treat this issue as a feature request to enhance `HttpObjectDecoder`?

[2016-02-05 22:33] rkapsi commented on #4807
@Scottmitch sounds good.

[2016-02-05 22:57] Scottmitch commented on #4824
Can you provide a reproducer? Are you directly using `netty-buffer` when you experience this error, or is it the error triggered some where else in Netty?

[2016-02-05 22:58] Scottmitch commented on #4838
@nmittler - I was planning on it, but haven't got around to it yet.

[2016-02-06 00:46] Scottmitch commented on #4833
@normanmaurer - I looks like the synchronization of `ctx` in OpenSslContext is to ensure that multiple operations use the same `ctx` object (where it is necessary). I'm guessing the rational for no synchronization on the `newEngine` is `ctx` is volatile and it is expected `SSL.newSSL` will throw an exception if the operation fails (`tcn_ThrowException(e, "cannot create new ssl");`) ... WDYT?

[2016-02-06 00:53] Scottmitch commented on #4835
sgtm

[2016-02-06 01:01] jchambers commented on #4802
Sounds good. Thanks! FWIW, I updated to 4.1 CR2 and can verify that this issue is fixed.

[2016-02-06 03:56] Scottmitch commented on #4838
pr pending

[2016-02-06 05:28] windie commented on #4835
Fixed in #4852

[2016-02-06 08:57] normanmaurer commented on #4793
Fixed by https://github.com/netty/netty/pull/4846

[2016-02-06 08:57] #4793 closed

[2016-02-06 18:44] normanmaurer commented on #4840
Fixed by https://github.com/netty/netty/pull/4851

[2016-02-06 18:44] #4840 closed

[2016-02-06 22:23] robeden commented on #4793
Thanks, I'll check it out on Monday.

[2016-02-07 07:37] trustin commented on #4438
@Scottmitch +1. It's been quite some pain in my butt recently.

[2016-02-07 18:25] Scottmitch commented on #4835
Thanks for the patch @windie !

[2016-02-07 18:25] #4835 closed

[2016-02-07 18:33] Scottmitch opened #4854 "SocketStartTlsTest.testStartTls test failure due to timeout"
https://garage.netty.io/teamcity/viewLog.html?buildId=5561&buildTypeId=pulls_netty&tab=buildLog#_

[code]

[2016-02-07 18:33] Scottmitch commented on #4854
@normanmaurer @trustin - FYI

[2016-02-08 05:23] #4807 closed

[2016-02-08 22:39] Scottmitch opened #4855 "CombinedHttpHeaders unescape csv values"
From https://github.com/netty/netty/issues/3435#issuecomment-74892285 (unescape was added by https://github.com/netty/netty/pull/4853) we should add unescape methods to [CombinedHttpHeaders](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/CombinedHttpHeaders.java).

[2016-02-08 22:40] Scottmitch commented on #3435
Thanks @windie for taking care of this! The second part of this issue was moved to https://github.com/netty/netty/issues/4855.

[2016-02-08 22:40] #3435 closed

[2016-02-09 03:20] nmnhero commented on #4824
Yes I am directly using netty-buffer since I put its dependency on my gradle file.
` compile 'io.netty:netty-buffer:4.0.33.Final'`
Here is a sample code:
` public static MessageRouterResponse decode(ByteBuf buffer) {
        int serviceCode = buffer.readUnsignedByte();
        buffer.skipBytes(1); // reserved
        int generalStatus = buffer.readUnsignedByte();

        int count = buffer.readUn

[2016-02-09 19:52] ejona86 opened #4856 "http2: f990f99 broke sending RST_STREAM"
In f990f99 (for #4758), Http2ConnectionHandler was changed from:

[code]

To:
[code]

However, the logic is now invalid, in that if the stream is created the RST_STREAM _won't_ be sent. Instead, the second part of the condition should be removed entirely and only base on `stream.state() == IDLE`.

This makes it hard to update to CR2.

@Scottmitch
@nmittler

[2016-02-09 22:54] Scottmitch commented on #4856
@ejona86 - Thanks for reporting! See https://github.com/netty/netty/pull/4857

[2016-02-10 17:02] normanmaurer commented on #4302
Happened again:

[code]

[2016-02-10 21:48] #4856 closed

[2016-02-11 10:00] trustin commented on #4777
We don't see the CI failures related with this anymore. TeamCity shared resource seems to work. However, it seems like there's no perfect solution to our setup, according to the response from JetBrains.

[2016-02-11 10:00] #4777 closed

[2016-02-11 16:38] Scottmitch commented on #4824
What version of android? if you turn on debug logging for Netty what does the log line that a starts with `sun.misc.Unsafe.theUnsafe:` look like?

[2016-02-11 16:41] robeden commented on #4793
I can confirm that the fix worked for us. Thanks! (Tested with 4.1.0.CR3-20160211)

[2016-02-11 22:29] windie commented on #4628
Saw a complaint about the links here: http://stackoverflow.com/questions/35220628/netty-server-client-framework-is-it-really-serious-project

[2016-02-12 01:26] nmnhero commented on #4824
I'm running it on a Samsung Note10.1-IT with Android version 4.4.2

[2016-02-12 11:08] ramahmoo opened #4866 "Increased number of IP packets, Segmentation by TLS layer below the MTU size."
We are using Netty as HttpServer and also HTTP client.

It was observed that IP packets which contains the TLS Application Data, are segmented in the TLS layer, significantly lower than the MTU size of 1500 octets.

This significantly increases the number of outgoing IP packets. Typically, a hardware-based segmentation is done by the network adapter on the IP layer. Therefore, a software-based seg

[2016-02-12 11:17] ramahmoo commented on #4866
we are using Netty version 4.0.33.Final with OpenSSL.

[2016-02-12 12:33] maseev opened #4867 "[Question] ChannelHandlerInvoker - example of usage"
I noticed that starting from Netty 4.1 [ChannelHandlerInvoker](http://netty.io/4.1/api/io/netty/channel/ChannelHandlerInvoker.html) can be specified in ChannelPipeline by calling one of the [addLast](http://netty.io/4.1/api/io/netty/channel/ChannelPipeline.html#addLast(io.netty.channel.ChannelHandlerInvoker,%20io.netty.channel.ChannelHandler...)) methods.

If I understood correctly (this question

[2016-02-12 15:57] mrniko commented on #4754
it works

[2016-02-12 17:31] nhnFreespirit opened #4868 "DefaultHttp2ConnectionEncoder tries to create new stream for ids that was reset by client"
Hi,

I'm prototyping using Netty's codec.http2 as a replacement for a home spun http2 codec in a very high traffic environment.

So far so good. Using 4.1.0-CR2, I'm currently testing in a test environment with upwards of 40 RPS and the clients are happy, but I am seeing a number of exceptions like the following:

[code]

Ignoring for now the issue with the double completed promise (that is likely

[2016-02-12 22:33] normanmaurer commented on #4823
Fixed by https://github.com/netty/netty/pull/4863

[2016-02-12 22:33] #4823 closed

[2016-02-12 23:00] nhnFreespirit opened #4869 "NullPointerException causing connection shutdown"
Hi again

This _might_ be caused by me dosing something wrong, but having debugged it for a while it feels more like a race condition in Netty itself.

Running a test server for a while, I have gotten a couple of exceptions like this one:

[code]

This causes my clients to time out.

I am not that familiar with the Netty code but stepping through that backtrace, I did wonder if in DefaultHttp2Remo

[2016-02-13 00:01] #4838 closed

[2016-02-13 00:03] normanmaurer commented on #4869
@nmittler @Scottmitch PTAL

[2016-02-13 07:13] Scottmitch commented on #4824
@nmnhero -  Thanks. What about the debug log statements I asked about?

[2016-02-13 07:18] Scottmitch commented on #4869
@nhnFreespirit - Thanks for reporting. What version of Netty are you using?

We limit the amount of bytes we are willing to write based upon how many bytes the channel is able to accept upfront (see [DefaultHttp2RemoteFlowController](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2RemoteFlowController.java#L260))

[2016-02-13 07:27] Scottmitch commented on #4869
@nhnFreespirit - Is all of your interaction with the http2 codec on the event loop thread? For example what thread do you use the `Http2ConnectionEncoder` interface's write methods from?

[2016-02-13 07:40] nhnFreespirit commented on #4869
@Scottmitch Thanks for looking at this.

 I'm on 4.1.0-CR2, should have remembered to add that

I filed issue 4868 earlier today, It has a bit more context about what I'm doing.

I don't have the code right here and it's a relatively new code base for me, so will need to check exactly which treads call write when I have a chance.

It's worth mentioning that while running a test server for more tha

[2016-02-13 07:45] Scottmitch commented on #4868
@nhnFreespirit - Thanks for reporting. When the client resets the stream, are you getting the reset stream read event (`Http2FrameListener.onRstStreamRead`)? If so what do you do when being notified that the stream is reset?  The error may be a bit misleading given the scenario you described but it seems strange to be writing to a stream after it has been closed.

[2016-02-13 07:51] Scottmitch commented on #4868
@nhnFreespirit - Also can you try your scenario with `4.1.0.CR3-SHAPSHOT`? There was an issue (56e6e07) related to sending RST_FRAMES in CR2 which was fixed.

[2016-02-13 17:16] Karry opened #4872 "netty-resolver-dns: Building and parsing DNS Records"
Hi, netty-resolver-dns is great component for requesting information from DNS servers. It provide nice and simple api for name resolving, but when user want more information, he needs create DnsQuestion, optionally add some additional DNS records, call query and then parse the result. It is necessary to write many lines of code for that simple thing like get all IP addresses from DNS response (not

[2016-02-13 17:54] Scottmitch commented on #4867
Not sure if this will work. In addition to all of the `ChannelOutboundHandler`s in your pipeline must be able to handle this threading model (Netty's handler most likely won't) the [ChannelOutboundBuffer used by AbstractChannel.Unsafe.write()](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/AbstractChannel.java#L795) is not thread safe. Even if the `ChannelOutbound

[2016-02-14 00:09] Scottmitch commented on #4628
@normanmaurer @trustin - It seems the links are not translated from the development address to the production address

https://github.com/netty/netty-website/blob/master/wiki/index.html.haml#L61
[code]

Where `example_url` is in [pipeline.rb](https://github.com/netty/netty-website/blob/master/_ext/pipeline.rb#L74) and I'm assuming some how the [base_url: http://netty.io/](https://github.com/netty/

[2016-02-14 00:12] Scottmitch commented on #4866
Can you show us some code demonstrating how are you configuring your socket/TLS options? How often do you call `flush` on the channel?

[2016-02-14 09:39] gl-works commented on #3911
@Scottmitch Thanks for you help. We finally found it was caused by OS fd limitation. The *ulimit* check didn't help because we started the process using 'systemctl' utility, which brought different fd limitation than *ulimit* check.

[2016-02-14 19:57] ramahmoo commented on #4866
Our application is acting as proxy.
The side accepting client requests extends SimpleChannelInboundHandler and has following pipeline
[code]
The side forwarding requests and writing back responses also extends the SimpleChannelInboundHandler and has following
[code]
SSL setup is per JSSE standard.

Both side handlers override the method
[code]

The msg object which could be HttpRequest/HttpRespons

[2016-02-15 04:39] normanmaurer commented on #3229
Fixed by https://github.com/netty/netty/pull/4842

[2016-02-15 04:39] #3229 closed

[2016-02-15 06:59] gbehrmann commented on #3229
Thanks a lot, @windie! I have been perpetually pushing this ahead of me without finding time to do this.

[2016-02-15 10:04] maseev commented on #4867
Ok. So calling ChannelOutboundHandler.write isn't thread safe because of the ChannelOutboundBuffer. Let's look at this approach from a different point of view. What about adding another ring buffer, which would be used by the first ring buffer worker threads in order to publish messages that are ready to be sent to the clients? So we've got something like this:

- N IO threads (Netty IO threds) ar

[2016-02-15 12:09] ramahmoo commented on #4866
If i use the HttpObjectAggregator in pipeline then in channelRead0() i get the FullHttpRequest/FullHttpResponse and in wireshark trace i can see the application data is not segmented.

But problem with HttpObjectAggregator() is max. size should be known (which is not possible as in proxy application we have to handle theoretically unlimited size post data) and also i am doubtful that it would effe

[2016-02-15 18:59] Scottmitch commented on #3911
@gl-works - Thanks for the followup ... glad to hear you figured out the issue!

[2016-02-15 20:24] Scottmitch commented on #4866
Instead of calling `writeAndFlush` can you call `write` and then `flush` at some later time (e.g. in `channelReadComplete`)?

I'm a bit confused. It sounds like you would be OK with aggregating data, but because you have to accept unlimited amount of data this is not practical, and then you draw the conclusion that aggregating (potentially unlimited) data would not impact "resource utilization". C

[2016-02-15 20:55] ramahmoo commented on #4866
Sorry, here i meant memory utilization e.g when 1000's of requests with large data set have to be served in parallel.

[2016-02-15 21:11] ramahmoo commented on #4866
Thanks for suggesstion.

[2016-02-15 23:27] #4855 closed

[2016-02-16 09:09] sczerwinski commented on #3534
−1
Android is still mostly Java 6.

[2016-02-16 17:34] nhnFreespirit commented on #4868
I have an overridden Http2EventAdapter. Then only custom processing I do in onRstStreamRead is to tear down whatever constructs I had in place for managing the Http1 request writer for that stream. I don't do anything else that relates to the Http2 pipeline in there.

I'm happy to try CR3.

[2016-02-16 17:39] nhnFreespirit commented on #4869
We are using multiple worker threads but for each stream, the handling of Http2 frames, writing http1 requests and converting those responses back into Http2 frames should be localized to one event loop thread.

[2016-02-16 19:27] Scottmitch commented on #4869
@nhnFreespirit - The reason why I ask is because the http2-codec only supports being interacted with from the I/O thread and is not thread safe. The exception stack trace you presented points to:

1. [PriorityQueue](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/PriorityQueue.java#L106) has a bug. It doesn't allow null entries in offer, it checks if size is 0 i

[2016-02-16 19:32] Scottmitch commented on #4868
@nhnFreespirit - You mention you are implementing a proxy. Does the peer you are proxying understand HTTP/2, and are you forwarding on the reset? Also you may want to account for race conditions when your peer sends a frame which you normally would send to the request initiator because it hasn't yet received the reset frame you have already sent.

[2016-02-16 20:00] nhnFreespirit commented on #4869
I don't have a repro at this time as I have seen this happen exactly once after filing this bug, and that occurrence was several days ago on a server that is taking constant traffic. I do plan on testing with significantly more load some time this week, so it is possible this will show up more frequently then and I can add some debugging around it.

I'm happy to try running with the assertions ena

[2016-02-16 20:59] nhnFreespirit commented on #4868
yes, the peer being proxied (it is a bit of a simplification, but as much as I can reveal here) and my service communicate exclusively via HTTP2.

I'm really just swapping out one Netty based http2 codec (https://github.com/twitter/netty-http2) for another, and although they are implemented very differently, they rely on the same underlying Netty constructs.

[2016-02-16 22:22] Scottmitch commented on #4869
`-ea` command line arg to the JVM. This is expected to add overhead so be cautious about running under production load.

Is the ChannelOutboundHandlerAdapter's write method always invoked on the I/O thread, or do you have some code like the following:

[code]

[2016-02-16 22:29] Scottmitch commented on #4868
I'm not intimately familiar with Twitter's http2 codec but it has more consideration for multi-threaded environments (e.g. [HttpConnection uses a ConcurrentLinkedQueue](https://github.com/twitter/netty-http2/blob/master/src/main/java/com/twitter/http2/HttpConnection.java#L292)). Netty's http2 codec currently assumed all operations on on the same thread (the I/O thread).

[2016-02-16 22:33] Scottmitch commented on #3608
@nmittler - I think you took care of this. Please re-open if you feel there is work still left to be done.

[2016-02-16 22:33] #3608 closed

[2016-02-16 22:43] nhnFreespirit commented on #4869
I do not have anything like that check.

Digging a little deeper, I do actually think there is a chance that other code is calling

ctx.writeAndFlush(response)
or
ctx.getChannel().write(response)

From a thread other than the I/O thread which I guess would eventually enter the pipeline and hit my ChannelOutboundHandlerAdapter.

('response' here being an http1 responses from a backend that i'm prox

[2016-02-16 22:46] nmittler commented on #3608
@Scottmitch yup this is done ... thanks!

[2016-02-16 23:34] nickmbailey commented on #327
I think I may be seeing this issue on netty 4.0.33, java 8. Was the workaround for this issue removed in the 4.0 series?

[2016-02-17 09:04] trustin commented on #4872
@Karry That's a great question. The plan is to:

- Add more `DnsRecord` implementations so that it's much easier to represent various DNS records.
- Improve `DnsRecordDecoder/Encoder` so that it can decode/encode well known DNS records instead of letting a user decode them.

If you are interested, please take a look into @timboudreau's PR which contains great work which could be used for this: #31

[2016-02-17 09:41] trustin commented on #2597
The thing is changing the behavior of `sync()` is going to introduce another set of surprises to an existing user because their code will stop to compile as soon as `sync()` has a throws clause. We might want to add a `throws` clause to `sync()` or find a better way to solve this issue, but there's nothing much we can do but documenting this behavior until we release a new major version.

[2016-02-17 09:47] drtimwright commented on #2597
Personally, I would happily have my code stop compiling due to this change.  Easy to fix my code :)

Tim
Sent from phone.

On Wed, Feb 17, 2016 at 1:42 AM -0800, "Trustin Lee" <notifications@github.com> wrote:

The thing is changing the behavior of sync() is going to introduce another set of surprises to an existing user because their code will stop to compile as soon as sync() has a throws clause

[2016-02-17 10:00] trustin commented on #2597
Alternatively, we could deprecate `sync*()` and add replacement methods that throws a `RuntimeExecutionException` which is similar to `ExecutionException` but is a `RuntimeException` in 4.1. I guess we need a good name for the new method.

BTW, you can always use `get()` instead of `sync()` which throws `ExecutionException`.

@normanmaurer @Scottmitch @nmittler Thoughts?

[2016-02-17 10:35] ramahmoo commented on #4866
What about if i compare the aggregated size of bytes being written and if they are smaller than predefined MTU size then do only write() and if bigger or equal to MTU size the writeAnFlush? Don't know how can i get the size in byte of HttpRequest/HttpResponse object(containing only meta information)

Here is snippet from my thought
[code]

[2016-02-18 03:54] #3256 closed

[2016-02-18 03:54] normanmaurer commented on #3256
Fixed https://github.com/netty/netty/pull/4875

[2016-02-18 15:45] marcuslinke opened #4881 "4.1.0.CR2: Missing shutdownOutput() method for EpollDomainSocketChannel"
I wonder why there is no such public method? Is there any reason for that? I'm looking for an equivalent for `((NioSocketChannel)channel).shutdownOutput();`

See: https://github.com/docker-java/docker-java/issues/471

[2016-02-18 15:47] normanmaurer commented on #4881
@marcuslinke because we not implemented it yet ;) I will take care... Thanks for reporting

[2016-02-18 15:54] rtimush opened #4882 "shutdownOutput for EpollDomainSocketChannel"
I see a protected `shutdownOutput0` method in `AbstractEpollStreamChannel` but there is no public `shutdownOutput` in `EpollDomainSocketChannel`.

I suppose `shutdownOutput` implementation from `EpollSocketChannel` can be moved to  `AbstractEpollStreamChannel`:
[code]
I expect this change to help with https://github.com/docker-java/docker-java/pull/472. If you consider this to be a valid solution

[2016-02-18 15:55] normanmaurer commented on #4882
@rtimush yes!

[2016-02-18 17:19] marcuslinke commented on #4882
Duplicates https://github.com/netty/netty/issues/4881

[2016-02-18 23:47] Scottmitch commented on #4869
@nhnFreespirit - Please report back when you can confirm one way or another. Thanks!

[2016-02-19 00:03] Scottmitch commented on #2597
@trustin - Although not ideal API can't be changed.  As you indicate `get()` can be used and I'm not convinced adding another method is justified in this case.

Another option is just to document `sync` that it can throw a `Throwable` (or `Exception`).

[2016-02-19 00:08] Scottmitch commented on #4882
Lets close this in favor of #4881 (reported first).

[2016-02-19 00:08] #4882 closed

[2016-02-19 00:24] Scottmitch commented on #4866
@ramahmoo - If that policy works for your use case then go for it :) Seems like it would be nice to not have to worry about MTU and instead write as much as you can before control is returned to the event loop (channelReadComplete can be used as a trigger point for this). If you are writing from threads other than the event loop thread you may have to have another policy.

[2016-02-19 01:00] nhnFreespirit commented on #4869
I working on getting some more info.

I'm currently testing the code in a much higher traffic environment, ~500 RPS on a large 24 worker thread box.

I have added something akin to

[code]

in the function wrapping all writes, and even though I see a number of the exceptions of the kind originally posted, I have not seen this log message or stat trigger at all.

[2016-02-19 03:07] trustin commented on #2597
@Scottmitch I'm with you. Just wondering what the community really wants..

[2016-02-19 03:43] Scottmitch commented on #4881
Fixed by #4883

[2016-02-19 03:43] #4881 closed

[2016-02-19 03:54] Scottmitch commented on #4869
You mention having multiple threads going on ... does `ctx` correlate to the channel reading the `http1 responses` or the channel which represents the `proxying http2` connection?

[2016-02-19 05:45] ramahmoo commented on #4866
Closing this issue. This can be handled at application level and seems not an issue in Netty.

[2016-02-19 05:45] #4866 closed

[2016-02-19 08:06] jasonrogena opened #4886 "Release Notes"
Could you please include release notes in the release tags. It's pretty hard tracking what's changed (and what's deprecated for example). 😉

[2016-02-19 08:15] jknair commented on #4746
sorry for the delay but this worked perfectly. Thanks @normanmaurer

[2016-02-19 08:26] trustin commented on #4886
We currently publish a release note on our blog, but yeah, it's probably a good idea to keep our blog post short and point the readers to here: https://github.com/netty/netty/releases WDYT, @normanmaurer ?

[2016-02-19 08:42] trustin commented on #4671
@normanmaurer Fine by me, but how about just removing netty-all completely?

[2016-02-19 14:54] johnou commented on #3938
@allenzhu you might want to try 4.0.35.Final when it is released. @normanmaurer end of month? sooner?

[2016-02-20 10:35] yankuncheng opened #4889 "Don't Call handlerRemoved and channelUnregistered When "java.net.ConnectException""
When failure(java.net.ConnectException: Connection refused,don't call "handlerRemoved","channelUnregistered"
The Console only output(Without handlerRemoved and channelUnregistered):
"handlerAdded
channelRegistered
DefaultChannelPromise@f4721c7(failure(java.net.ConnectException: Connection refused: www.163.com/106.120.180.42:81)"

The Source Code:

import java.net.InetSocketAddress;

import io.nett

[2016-02-20 16:11] normanmaurer commented on #4780
I think this was fixed

[2016-02-20 16:11] #4780 closed

[2016-02-21 10:31] maseev opened #4890 "Custom ChannelHandlerInvoker doesn't get invoked"
According to [this](https://github.com/netty/netty/issues/2398#issuecomment-40589341) comment, starting from Netty 4.1 I can specify my custom ChannelHandlerInvoker in order to emulate legacy thread model. I created a simple [echo server](https://github.com/maseev/cci) in order to demonstrate that the custom ChannelHandlerInvoker isn't used in case the channel pipeline has only one outbound Channe

[2016-02-21 15:26] maseev commented on #4867
I think, I was able to figure it out. So, the custom ChannelHandlerInvoker now looks like the following:

[code]

And the batching logic was moved to a ring buffer handler which is responsible for writing messages back to the network.

It works ok as long as I write and flush each message right away without creating a batch in the ring buffer handler. On the other hand, if I try to write and flush

[2016-02-22 14:56] normanmaurer commented on #3746
Fixed by https://github.com/netty/netty/pull/4865

[2016-02-22 14:56] #3746 closed

[2016-02-22 18:55] normanmaurer commented on #4889
You should update to latest 4.1 or 4.0 release. Works as expected there:

[code]

[2016-02-22 18:55] #4889 closed

[2016-02-22 19:02] normanmaurer commented on #4890
@maseev I think what you explained make sense. If you want to have the invoker be used then you should call `ctx.channel().writeAndFlush(...)`. This will dispatch the write via the TailContext and so ensure the invoker is used.

[2016-02-22 19:02] #4890 closed

[2016-02-22 19:31] Scottmitch commented on #4780
@blucas - Were you ever able to repro on your new PR https://github.com/netty/netty/pull/4831 after you rebased?

[2016-02-23 02:05] f-zhao opened #4891 "Getting more done in GitHub with ZenHub"
Hola! @f-zhao has created a [ZenHub](http://www.zenhub.io) account for the **netty** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account. Once y

[2016-02-23 09:57] trustin opened #4892 "Consider making Snappy class public"
Maybe useful for users who want to use Snappy compression without handlers? (like Base64 in Netty)

https://groups.google.com/d/topic/netty/I8-M02b2ghg/discussion

[2016-02-23 10:01] normanmaurer commented on #4892
@trustin will take care.

[2016-02-23 10:03] trustin commented on #4892
Thanks, @normanmaurer

[2016-02-23 10:14] trustin commented on #4386
`decodeLast()` is called to give a decoder a chance to perform the last task like creating a new message from a cumulation buffer or releasing resources.

`decodeLast()` is a sort of `finally` block, so it must be invoked regardless if the cumulation buffer is empty or not.

The default behavior of `decodeLast()` is currently to delegate to `decode()` and thus it will drive `decode()` into the sit

[2016-02-23 12:07] GotoFinal opened #4893 "What happened to netty 5.x?"
I can't find any code for netty 5.x, no new snapshot for long time, there is no master branch in repository.

I just found this:
https://github.com/netty/netty/tree/master_deprecated

Were I can find any information about 5.x? is it already abandoned? if yes, then why?
And why I can find any information about this on wiki/webpage?

[2016-02-23 13:10] buchgr commented on #4893
see https://github.com/netty/netty/issues/4466

[2016-02-23 13:37] normanmaurer commented on #4893
@buchgr thanks for stepping in.

[2016-02-23 13:37] #4893 closed

[2016-02-23 13:37] normanmaurer commented on #4872
@Karry @trustin I think we can now close this ?

[2016-02-23 15:19] trustin commented on #4872
@normanmaurer I guess not because the part about encoding and decoding a DNS record is not done.

[2016-02-23 23:58] Scottmitch commented on #4867
@maseev - Just a quick glance again but the approach seems similar to the previous approach. I would avoid using `unsafe` unless you are sure you know what you are doing. It is not guaranteed to be thread safe so you must take care in the threading model (your threading model and netty's) when using it.

[2016-02-23 23:59] #4891 closed

[2016-02-24 01:30] maseev commented on #4867
@Scottmitch - with a threading model I described, it's guaranteed that all write and flush operations are going to happen from the single thread. But it turns out that `unsafe().flush()` can be delayed ([here](https://github.com/netty/netty/blob/43ebbc3fa065155fa67732b0cbd7c12843b0f3f7/transport/src/main/java/io/netty/channel/nio/AbstractNioChannel.java#L304) and [here](https://github.com/netty/ne

[2016-02-24 02:35] trustin commented on #1247
@Qix- I'm not sure what Netty version you are using, but our API has been changed a lot since then. If your comment is about other handler classes than what are mentioned here, please let me know what classes you were referring to. It would be even better if you file a separate issue against 4.1.

[2016-02-24 02:39] trustin commented on #4665
@slandelle Sorry for a late reply. Thanks for great questions!

According to the manpage:

[code]

Seems like we need to read the 'ndots' option to determine whether to append the domain.

[code]

[2016-02-24 04:03] #4867 closed

[2016-02-24 06:35] ttashi commented on #327
I am seeing that too with Java 8 and Netty 3.10.5.Final

[2016-02-24 15:21] slandelle commented on #4665
@trustin I agree

So, for `doResolveUncached`:

[code]

For `doResolveAllUncached`, the question is: should we do the same and only perform path based search when absolute search wasn't successful?

Regarding implementation, this will probably involve some fun with recursive Promises and callbacks.

I can help reviewing, but I won't have time to contribute this myself before April, sorry.

[2016-02-24 18:40] nhnFreespirit commented on #4869
the ctx is the one representing the Http2 connection.

[2016-02-24 21:12] idelpivnitskiy commented on #4201
@normanmaurer Looks like it was resolved by PR #4579 and may be closed

[2016-02-25 02:49] windie commented on #3689
This one can be closed

[2016-02-25 04:11] scramjet opened #4895 "setAutoRead (false) does not work from inside channelRead ()?"
Hello, I have some Netty logic that is acting essentially as an HTTP proxy. After establishing an incoming HTTP connection with a client, in the channelRead () call that receives the client's `HttpRequest` message, I open an outgoing HTTP connection to a backend service. Just before opening the outgoing connection I `setAutoRead (false)` on the client channel to delay reading the HTTP request body

[2016-02-25 04:22] Scottmitch commented on #3689
thanks @windie !

[2016-02-25 04:22] #3689 closed

[2016-02-25 04:27] Scottmitch commented on #4895
What transport are you using (NIO, EPOLL) and do you set a custom `RecvByteBufAllocator`?

[2016-02-25 04:29] youngm commented on #3689
@windie Yes Thanks!

[2016-02-25 04:46] Scottmitch commented on #4386
sounds reasonable to me. this behavior may extend into codecs too (`HttpObjectDecoder`).

[2016-02-25 05:01] scramjet commented on #4895
NIO, no other customisations

[2016-02-25 05:07] Scottmitch commented on #4869
@nhnFreespirit - I'm going to need more info to help debug this one. Have you been able to reproduce, and can you provide a reproducer, you can send via email or other means to keep confidential if necessary.

[2016-02-25 05:24] Scottmitch commented on #4895
@scramjet - Sounds like this is reliably reproducible? If so could you either:

1. Provide a reproducer. OR:
2. Put a breakpoint on [AbstractNioByteChannel.java#L143](https://github.com/netty/netty/blob/netty-4.0.34.Final/transport/src/main/java/io/netty/channel/nio/AbstractNioByteChannel.java#L143) after the first read occurs and describe the behavior (what is the value of `config.isAutoRead()`,

[2016-02-25 05:47] scramjet commented on #4895
Yes, it is reproducible.

Because this is Clojure, debugging at the Java level is going to be tricky (and I really don't fancy rewriting the relevant logic in Java). I'll have a play with hooking into the process with jdb, and if that doesn't work I'll find another way.

Thanks,

Matt.

[2016-02-25 06:23] normanmaurer commented on #4386
Let me take care

[2016-02-25 09:07] blucas commented on #4780
@Scottmitch - I didn't try. I figured the CI would reliably fail the build.

[2016-02-25 16:24] JuKu opened #4897 "Netty 4.0.33.Final: java.io.IOException: An established connection was aborted by the software in your host machine"
I get the following exception on netty server:
`java.io.IOException: Eine bestehende Verbindung wurde softwaregesteuert
durch den Hostcomputer abgebrochen
	at sun.nio.ch.SocketDispatcher.read0(Native Method)
	at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:43)
	at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
	at sun.nio.ch.IOUtil.read(IOUtil.java:192)
	at sun.nio.ch.SocketChan

[2016-02-25 16:45] vietj opened #4898 "io.netty.handler.codec.http.multipart.HttpPostMultipartRequestDecoder unwraped UnsupportedCharsetException"
- Netty 4.1.0.CR3
- Decode a POST multipart request
- Reproduce : submit a form with a content type having an invalid charset (see below)

[code]

line 858 of `HttpPostMultipartRequestDecoder` catch `IOException` but it will throw `UnsupportedCharsetException ` that is unchecked.

[2016-02-26 00:21] trustin commented on #4665
Yeah, I think we should do the same. The only difference between `doResolveUncached` and `doResolveAllUncached` is that `doResolveUncached` chooses only one record from the result.

[2016-02-26 00:21] trustin commented on #4665
.. and thanks for trying to help. I really appreciate it. No worries!

[2016-02-26 02:21] balsukrishna opened #4899 "Design for updating shared State across channels"
Using netty 5.

I have an application where my channel handlers need to update some shared state. Since netty is not thread safe across event loops, May I know how to do this one.

option 1: Is ```Synchronized```  advisable within eventloop? Any impact on performance. My application typically handles < 1000 concurrent connections

option 2:  From my understanding of Event loop, If I use single wor

[2016-02-26 07:53] slandelle commented on #4665
If this can wait a few months, I'll be able to tackle it. So swamped atm...

[2016-02-26 12:58] #4892 closed

[2016-02-26 13:00] normanmaurer commented on #4899
@balsukrishna this is for issues and not for questions. Please use stack overflow.

That said you can use synchronized, how much it impact your performance is something you need to find out via profiler.

[2016-02-26 13:00] #4899 closed

[2016-02-27 06:51] koyadume opened #4903 "Remove 5.x references from documentation"
On netty.io I can see that there is a user guide for version 5.x but I don't see any branch for this version in this git repository. Which branch contains code for 5.x version?

[2016-02-27 07:28] bk1te commented on #4903
https://github.com/netty/netty/issues/4893

[2016-02-27 13:30] jiang2015 opened #4904 "netty jdk 1.8 window x86_64 compile error"
netty jdk 1.8 window x86_64  compile error message is :

F:\workspace\netty-4.1>java -version
java version "1.8.0_31"
Java(TM) SE Runtime Environment (build 1.8.0_31-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.31-b07, mixed mode)

F:\workspace\netty-4.1>mvn clean install -Dmaven.test.skip
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the eff

[2016-02-27 13:44] darionyaphet commented on #4904
maybe `mvn clean install -DskipTests` ?

[2016-02-27 20:07] tbcs opened #4906 "missing channelRegistered(...) invocation on first channel handler when added via pipeline.addFirst(...)"
Inserting channel handlers into an empty pipeline yields different results depending on the method used for insertion.  When `pipeline.addLast(handlers...)` is used all handlers receive the channel registered event.  However, when `pipeline.addFirst(handlers...)` is used, then `channelRegistered(...)` is not invoked on the _first_ handler (subsequent handlers _do_ receive the event).

The followin

[2016-02-27 20:35] tbcs commented on #4906
I added the test case to [this branch](https://github.com/tbcs/netty/tree/issue_4906) for convenient assessment.

[2016-02-27 21:18] Scottmitch commented on #4906
thanks for reporting @tbcs - What version of netty are you using?

[2016-02-27 22:29] Scottmitch commented on #4906
@tbcs - I think there may be an issue, but not where you expect. The `// FAIL` behavior you indicate is actually expected behavior. What you are doing is saying starting from the `firstContext()`'s perspective fire an event. This will basically pass the event to the next context in the pipeline. If you want to ensure all handlers in the pipeline get the event use `pipeline().fireChannelRegistered(

[2016-02-27 22:31] Scottmitch commented on #4906
@tbcs - Do I have permission to use / modify your unit test in a PR?

[2016-02-27 23:24] Scottmitch commented on #4903
Thanks @bk1te.

We should clean up the docs and remove references to 5.x

[2016-02-28 00:44] tbcs commented on #4906
@Scottmitch - Thanks for looking into this.  The issue could be on my side, maybe I just misunderstood the API.

Originally I encountered the problem in a project building on [RxNetty](https://github.com/ReactiveX/RxNetty), using epoll channels.  In the tests I made an attempt to isolate the issue, that's why I used `EmbeddedChannel`.  The source of my troubles could be the way `channelRegistered`

[2016-02-28 07:28] jiang2015 commented on #4904
i have deal with this problem，use maven 3.3.9  maven project problem

[2016-02-28 07:28] #4904 closed

[2016-02-28 08:25] cnapagoda opened #4909 "Build warning message due to missing paxexam version"
Netty version: 4.1.0.CR4-SNAPSHOT

Context:
I have noticed below warning message[1] when building netty project.

[1].
[WARNING] Some problems were encountered while building the effective model for io.netty:netty-testsuite-osgi:jar:4.1.0.CR4-SNAPSHOT
[WARNING] 'build.plugins.plugin.version' for org.ops4j.pax.exam:maven-paxexam-plugin is missing. @ io.netty:netty-testsuite-osgi:[unknown-version],

[2016-02-28 08:35] cnapagoda commented on #4909
Sent a PR[1] to fix this.

[1]. https://github.com/netty/netty/pull/4910

[2016-02-28 22:40] JuKu commented on #4897
On Client side i get the following error message:
`
1013 [nioEventLoopGroup-2-1] DEBUG io.netty.channel.DefaultChannelPipeline  - Discarded inbound message ProxyClientMessage(SlicedAbstractByteBuf(ridx: 0, widx: 22, cap: 22/22, unwrapped: UnpooledUnsafeDirectByteBuf(ridx: 37, widx: 37, cap: 1024))) that reached at the tail of the pipeline. Please check your pipeline configuration.
`

Encoder and D

[2016-02-29 01:21] ejona86 opened #4913 "h2childchan: Allow clients to create new streams"
This is a bit of a mess, sorry. There's a lot of options available, none of which are obviously correct.

There are two basic approaches: use a message or use a method.

## On the parent:

(This is assuming Http2MultiplexCodec has been split in two (#4914): one part that does conversion to Http2Frame objects, let's call it Http2FrameCodec, and one that Multiplexes to child channels)

For the child

[2016-02-29 01:31] ejona86 opened #4914 "h2childchan: Split Http2MultiplexCodec in two"
Http2MultiplexCodec currently does two things: mapping the existing h2 API to frames and managing the child channels.

It would be better if the two parts were separated. This would allow less-coupled development of the HTTP/2 handlers (flow control could be its own handler, for instance) and allow applications to insert themselves between all streams and the codec, which permits custom logic and

[2016-02-29 01:38] ejona86 commented on #4914
I forgot to mention that there is a cost to this: extra object allocation. Today we are able to use direct method calls for things like flow control; that would be forced to stop. We end up needing to create many more short-lived messages, like sending a WINDOW_UPDATE to the application when data has been written (even though no WINDOW_UPDATE was received; I'll discuss more about flow control late

[2016-02-29 08:18] normanmaurer commented on #4909
Fixed by https://github.com/netty/netty/pull/4910

[2016-02-29 08:18] #4909 closed

[2016-02-29 12:55] windpiger opened #4915 "writeAndFlush lost packet but operationComplete is true"
I use keep-alive tcp connect between client and server, but when the client  re-connect to the server, during the re-connect time,the server do not receive the packet from the client ,but the client operationComplete is true, how does it happen? operationComplete method called does not mean the packet has successfully send to the server?

channel.writeAndFlush(msg).addListener(new ChannelFutureLis

[2016-02-29 16:57] Scottmitch commented on #4915
The future should complete when `msg` has been flushed to the underlying OS, or if a failure occurred before this could happen.

The sequence of events is not clear. Can you clarify and/or provide a reproducer? For example which peer initiates a close, if/when does the other peer receive a `channelInactive`, and which socket is being used to send the data that is not being received as expected (th

[2016-02-29 16:59] Scottmitch commented on #4897
@JuKu - Thanks for reaching out. Can you provide a reproducer?

[2016-02-29 17:28] Scottmitch commented on #3667
reminder https://github.com/netty/netty/pull/4503#discussion_r54444640: as part of the outbound flow controller work we should fix the interaction with `ChannelOutboundBuffer` so we don't have to complete promises before they are actually written in we are not in the correct event loop.

[2016-03-01 03:12] mosesn opened #4916 "sharp edges in netty-http2"
The write and read APIs in the netty-http2 module are difficult to reason about or discover, because they're significantly different.  It seems like the main entrypoint for the API is the HttptoHttp2ConnectHandlerBuilder, which takes FrameListener for reading, and uses io.netty.http messages for the write API.

It's unclear how to write Http2 messages with Http2ConnectHandlerBuilder, even though i

[2016-03-01 04:09] Scottmitch commented on #4916
You may want to start with a [Http2ConnectionHandlerBuilder](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandlerBuilder.java), build it to get a [Http2ConnectionHandler](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java), and put it in the pipeline. The read ev

[2016-03-01 04:22] ejona86 commented on #3667
@Scottmitch, the poor interaction with `ChannelOutboundBuffer` is the "No premature child promise completion (in child's doWrite)" in the checklist above. Feel free to reword it :)

[2016-03-01 05:00] mosesn commented on #4916
Thanks @Scottmitch.  So if I'm writing a client, I should manage streams myself?  With the encoder, am I supposed to use Http2FrameWriter to write?  I was looking at the helloworld example for inspiration, but the client seemed to use the HttpToHttp2ConnectHandler, so I was a little confused.  Is the client example only showing off how to use the `*HttpToHttp2*` classes, or is that the recommended

[2016-03-01 13:27] Rexota opened #4917 "Socket unregistered immediately after registering in Android"
Delete please. My mistake.

[2016-03-01 13:46] erimatnor opened #4918 "OpenSSL provider does not work with TLSv1.1 and TLSv1.0"
Not sure this is an issue with Netty, but I have been struggling to get Netty's OpenSSL context to allow clients to connect with protocols other than TLSv1.2. Although TLSv1.2 works well for most clients, we need to support older clients that only support TLSv1.1 or TLSv1.0 (e.g., older Android versions). If I configure Netty with the JDK SSL provider, then the earlier TLS protocol versions are av

[2016-03-01 13:56] #4917 closed

[2016-03-01 16:36] Scottmitch commented on #4918
This should be fixed by https://github.com/netty/netty-tcnative/pull/119. Can you try with Fork15-SNAPSHOT and verify this resolves the issue?

[2016-03-01 16:43] Scottmitch commented on #4916
The server demonstrates the "raw http/2" use case and the client demonstrates the "http/1.x conversion layer" user case. You can use either method on either peer (both support client and server).

This PR is a great start but I think we still will have a ways to go until it is ready for prime time.

This is the preferred outcome. After we have all the features, tested to a reasonable extent, and e

[2016-03-01 16:48] Scottmitch commented on #3667
@ejona86 - I see. Thanks. I just added a snippet about `ChannelOutboundBuffer` for more context.

[2016-03-01 18:31] guidomedina commented on #3534
Why not make 4.1 Java 7? That way you gradually go through all relevant JDKs

[2016-03-01 18:34] guidomedina commented on #3534
And IMHO it is easy for projects and will be required to move to at least JDK due to lack of support from Oracle for anything less than JDK 7

[2016-03-01 18:38] slandelle commented on #3534
@guidomedina Appart from possible usage in companies that employ the Netty core developers, the only reason I can see is Android.

[2016-03-01 18:48] guidomedina commented on #3534
I mean, I'm using Java 8 and haven't seen any problem so far, but jumping from JDK 6 to 8 might be culture breaking for some companies and contributors (I don't mind TBH)

And style will change from JDK 6 to 7, also performance, just replacing JDK 6 with 7 is do-able without any hassle as far as my experience goes, I have migrated a couple of projects that have lots of legacy code from 6 to 7.

If

[2016-03-01 19:15] mosesn commented on #4916
@Scottmitch thanks for all the help!  I think we're going to try to build our new features against #4503 as it comes together.  Really glad to see that we're close to a more idiomatic implementation, thanks!  Is there a slack / gitter / irc where I can hang out to see how I can help?

[2016-03-02 06:14] Scottmitch commented on #4916
We try to keep our technical discussion in the issues here on github. After #4503 gets pulled in we will work with @ejona86 to see how/if work can be divided up.

[2016-03-02 07:18] mosesn commented on #4916
:+1: keep me in mind, I'm happy to pitch in.  Thanks again for all your help.

[2016-03-02 07:18] #4916 closed

[2016-03-02 07:43] yjdwbj opened #4921 "when i use 5.0.0.Alpha2 on my project ,happen this error.how about this happend,and how can i do it"
I made a project base on netty5 ,When my server connections reached 1.6 million collapsed.here is  the source code https://github.com/yjdwbj/netty-p2p-srv

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007f359f69077f, pid=28348, tid=139868084287232
#
# JRE version: OpenJDK Runtime Environment (7.0_91-b02) (build 1.7.0_91-b02)
# Java VM: OpenJDK 6

[2016-03-02 08:36] normanmaurer commented on #4921
Please switch to 4.1.0.CR3 as 5.0 is not maintained atm.

[2016-03-02 08:36] #4921 closed

[2016-03-02 09:05] slandelle opened #4922 "Extend Atomic* instead of using Atomic*FieldUpdater"
Scala people (cc @viktorklang) had the same concern as you regarding memory footprint of `Atomic*` fields and initially went with an `Atomic*FieldUpdater` for the `scala.concurrent.Future` design.

In Scala 2.12, they came up with a nice idea: extending `Atomic*` (see [code here](https://github.com/scala/scala/blob/2.12.x/src/library/scala/concurrent/impl/Promise.scala#L183) and [story here](https

[2016-03-02 09:23] normanmaurer commented on #4922
@slandelle this will only work for things that are not public tho as otherwise it will be exposed to the user.

[2016-03-02 09:40] slandelle commented on #4922
@normanmaurer You're right, sadly.

[2016-03-02 09:52] slandelle commented on #4922
`HashedWheelTimer` maybe?

[2016-03-02 09:55] slandelle commented on #4922
And then wait for JDK 8u76: http://shipilev.net/blog/2015/faster-atomic-fu/#_conclusion_and_parting_thoughts

[2016-03-02 10:44] normanmaurer commented on #4922
@slandelle even for `HashedWheelTimer` there is not much we can do ....

[2016-03-02 10:49] #4922 closed

[2016-03-02 10:49] slandelle commented on #4922
Nervermind

[2016-03-02 12:14] zergood opened #4923 "deregister().sync() strange behaviour"
Hello!

I am new to netty and have a problem with a channel deregister method. I need to deregister a channel after http parsing complete and register it to another event loop. Channel derigstration/registration takes place in another thread not in the channel's evenloop and this thread is blocked forever by `ctx.deregister.sync()` method.

netty version: 4.0.34

I've made a sample illustrating my

[2016-03-02 13:41] hakvroot commented on #4918
I have encountered the same issue as @erimatnor, also with Netty 4.1.CR3 + netty-tcnative-boringssl-static (@ linux-x86_64). I can still reproduce the issue with Fork15-SNAPSHOT; connecting with a non TLSv1.2 protocol results in

    io.netty.handler.codec.DecoderException: javax.net.ssl.SSLHandshakeException: error:10000103:SSL routines:OPENSSL_internal:UNSUPPORTED_PROTOCOL

[2016-03-02 13:50] johnou commented on #4923
@zergood would you please try and reproduce with the 4.0 branch / 4.0.35 snapshot?

[2016-03-02 14:23] zergood commented on #4923
It is fixed in 4.0.35 snapshot. @johnou thanks for the quick reply!

[2016-03-02 14:40] bwzhang2011 commented on #3910
@normanmaurer, take a look at https://github.com/jemalloc/jemalloc/releases/tag/4.1.0, what about netty plan change according to new jemalloc version

[2016-03-02 14:42] #4923 closed

[2016-03-02 15:05] johnou commented on #4923
@normanmaurer :+1:

[2016-03-02 15:30] ttashi commented on #3534
Hey Guys I am seeing a lot more gc activity with ning-async client 1.7.19 thats using netty 3.6.6.Final after upgrading to JDK 8 from 7. Do any of you guys have thought on this. It happens mostly on larger responses.

[2016-03-02 15:35] slandelle commented on #3534
@ttashi (disclaimer: I'm the AHC dev) Latest AHC1 is 1.9.33, you REALLY should upgrade. Then, if you have questions on AHC, please ask on [our mailing list](https://groups.google.com/forum/#!forum/asynchttpclient).

[2016-03-02 17:23] JuKu opened #4924 "[Question] Netty 4.0.34 send messages parallel"
Hi,

If 2 messages will be sended to client, will they be sended parallel, or does netty wait, that first message has received client?

`//send big message with 100MB of data, takes a while
ctx.writeAndFlush(message1);

//send message with 1 KB of data
ctx.writeAndFlush(message2);`

Why message2 isnt received before message1?

[2016-03-02 17:36] fredericBregier commented on #4924
Please use http://stackoverflow.com/questions/tagged/netty for such questions.

Now on your question: if this is the same channel (client side) used, then the messages are ordered as the program said, so message1 first, message2 second. If not, how could you manage your protocol ?

[2016-03-02 19:23] #4924 closed

[2016-03-02 20:49] mosesn opened #4927 "race between ChannelFuture satisfaction and fireChannelActive in nio/oio"
When you call Bootstrap#connect or Channel#connect, we get a ChannelFuture back.  However, using that Future to start serving traffic is dangerous, because we satisfy that future before we ChannelPipeline#fireChannelActive in [nio][0] and [nio][1].  If we do initialization in ChannelInboundHandler#channelActive, we might start writing to the channel before initialization has finished.

In other Ch