[2020-09-21 13:27] #10502 closed

[2020-09-21 13:29] normanmaurer commented on #10436
@ejona86 @carl-mastrangelo can you have a look ?

[2020-09-21 18:47] fredericBregier commented on #10508
@normanmaurer Thanks!
For me, it's fine as is.
If I'm correct, changing the number of items tracked through `io.netty.leakDetection.targetRecords` will not change every access to be checked but just limit the number of retained items ?

I believe that one could set specific values for `io.netty.leakDetection.samplingInterval` (default being 128 to a small value (still power of 2, such as 16 to red

[2020-09-22 00:06] divijvaidya commented on #10515
@normanmaurer #10510 does not address the scenario described in the issue. That PR simply ensures that the resources (executor threads) and the scheduled timer is cleared if channel is closed.

This issue discusses a very different problem i.e. the handshake process does not provide a terminal event. I have provided two suggestions at the end of the description. I would be happy to implement once

[2020-09-22 08:30] zentol commented on #10508
Our problem isn't that PARANOID is slower than other modes, that's fine and expected, but that due to _some change that impacts leak detection_ our test is 100x slower in 4.1.50 than before.

I would just like to understand what has changed; if the leak detection was made slower in general, then that's fine, but I'm worried that something else has changed that indirectly causes leak detection to b

[2020-09-22 09:08] prgitpr opened #10598 "What's the use of addToVariablesToRemove() in FastThreadLocal"
### Expected behavior
I just want to the use of   addToVariablesToRemove(), and the use of   variablesToRemoveIndex  in FastThreadLocal.
the index is already  as a  identity  in FastThreadLocal. what's the use of create a IdentityHashMap for FastThreadLocal

private static void addToVariablesToRemove(InternalThreadLocalMap threadLocalMap, FastThreadLocal<?> variable) {
        Object v = threadLoc

[2020-09-22 09:09] #10598 closed

[2020-09-22 09:23] prgitpr opened #10599 "What's the use of function addToVariablesToRemove() in FastLocalThread"
### Expected behavior

I just what to know the use of function addToVariablesToRemove() in FastLocalThread , I think  variable index can as a identity of FastLocalThread.

/*
 private static void addToVariablesToRemove(InternalThreadLocalMap threadLocalMap, FastThreadLocal<?> variable) {

        Object v = threadLocalMap.indexedVariable(variablesToRemoveIndex);

        Set<FastThreadLocal<?>> va

[2020-09-22 23:43] collinsmith opened #10602 "Using ByteBuf as a wrapper for an InputStream which uses a ByteBuf as a buffer"
I've been using `ByteBuf` for file I/O in a project I'm working on, and I've been toying around with the idea of using a `ByteBuf` as a wrapper for an `InputStream`. Since my `InputStream` implementation already uses a `ByteBuf` as a buffer, I thought it may be more elegant if I can write a custom `ByteBuf` implementation which uses that buffer directly (with maybe an intermediary cache for across

[2020-09-23 03:49] fenik17 commented on #10602
[ByteBufInputStream](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/ByteBufInputStream.java)?

[2020-09-23 04:59] collinsmith commented on #10602
I want to use a ByteBuf as an interface for an InputStream (which in my case happens to use a ByteBuf as a buffer), not the other way around.

[2020-09-23 07:15] chrisvest commented on #10602
It's somewhat of an awkward fit, since ByteBufs can freely change their read and write indexes, and access data by absolute offset. This is a conceptual difference between streams and buffers, which might bite you down the road as your code evolves. But if your use case is narrow enough to only need features that are easily implemented on top of an `InputStream` then you can certainly give it a tr

[2020-09-23 07:28] collinsmith commented on #10602
That's more or less what I thought I'd hear. I like the API that `ByteBuf` provides for reading data, but in a couple codecs, it's not very feasible to load the entire data stream as a `ByteBuf` all at once, so I was going to end up doing a lot of `ByteBuf#writeBytes(InputStream,int)` which would be a waste if my `InputStream` implementation already has a `ByteBuf` being used as a buffer. I wanted

[2020-09-23 07:28] #10602 closed

[2020-09-23 15:58] dmpnv opened #10604 "ClientCookieEncoder encode cookie unnecessary stripTrailingSeparator"
### Expected behavior
the cookie should be encoded as expected
name=value

### Actual behavior
the result string is missing two last characters
name=val

### Steps to reproduce
ClientCookieEncoder encoder;
... skip new encoder initialization
String result = encoder.encode(new DefaultCookie("name", "value"));

### Netty version
4.1

### JVM version (e.g. `java -version`)
jdk-11

### OS version (e.g

[2020-09-23 16:18] slandelle commented on #10604
Couldn't reproduce. Please provide a **full sample**.

[2020-09-24 03:56] chukun1308 opened #10605 "HashedWheelTimer#HashedWheelTimer()Initialize"
### the comment has a little problem, see logger.warn("Configured tickDuration %d smaller then %d, using 1ms.",...);

### I think the author want to say : logger.warn("Configured tickDuration %d smaller than %d, using 1ns.",...);

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### netty-all-4.1.32.Final

### JVM version (e.g. `java -version`)

### OS version (e.

[2020-09-24 13:30] normanmaurer commented on #10605
@chukun1308 no this is correct... It compared and checks if < 1ms and if not set it to 1ms

[2020-09-24 13:30] #10605 closed

[2020-09-24 13:40] jiangguilong2000 opened #10607 "Websocket handshaker failed for sec-websocket-version can't be recognized"
### Expected behavior
Request's Header:

Host: game.weplayen.com
onnection: Upgrade
Fragma: no-cache
ache-Control: no-cache
Upgrade: websocket
0rigin: https:/fres.weplaycn.com
Sec-WebSocket-Version: 13
Accept-Encoding: gzip, deflate
Accept-Language: zh-CH,zh;q-0.8,en-US ; q-0.6,en;q-0.5;q-0.4
Sec-WebSocket一Key: g2VPrctBwjppDsfDGi dBoA—
Sec-WebSocket-Extensions: permessage-deflate; client_max_windo

[2020-09-24 13:59] normanmaurer commented on #10607
@jiangguilong2000 this is bug with the other library as the RFC clearly state that header names are **not** case sensitive.

[2020-09-24 14:12] jiangguilong2000 commented on #10607
as ur opinion,this code is not right:
[](https://github.com/netty/netty/blob/a4276e8dffd42ea7b990e6707c11c2c2037d2d82/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/WebSocketServerHandshakerFactory.java#L131)

[2020-09-24 14:15] slandelle commented on #10607
@jiangguilong2000 Nah. HttpHeaders#get is case insensitive.

[2020-09-24 18:31] divijvaidya opened #10608 "OpenSslHandler should allow modification of SSLHandshake timeout"
### Expected behavior
I want to modify the [SSL Handshake timeout](https://netty.io/4.1/api/io/netty/handler/ssl/SslHandler.html#setHandshakeTimeout-long-java.util.concurrent.TimeUnit-) defined in [SSLHandler](https://netty.io/4.1/api/io/netty/handler/ssl/SslHandler.html). In my pipeline, SSLHandler is added (optionally) by the OptionalSslHandler.

### Actual behavior
[OptionalSslHandler](https://

[2020-09-25 06:44] normanmaurer commented on #10608
@divijvaidya you can override `newSslHandler` and apply this there. Thats why it is protected

[2020-09-25 06:44] #10608 closed

[2020-09-25 10:43] chendifan opened #10611 "support "CCM" cipher suites"
### Expected behavior
support cipher suites which use CCM as bulk cipher.

### Actual behavior
we found that CCM is not included in available suites of OpenSsl(from netty-tcnative).

### Steps to reproduce

[code]

results are:

[code]

### Netty version
up-to-date snapshot, also exists in recently release - 4.1.52.Final

### JVM version
jdk1.8.0_261

### OS version
Windows 10 Professional build 1

[2020-09-25 10:47] normanmaurer commented on #10611
it may take a bit for me to investigate ... if you already have an idea how to fix this I would be happy to review a pr.

[2020-09-25 15:24] swoky commented on #10579
@normanmaurer  Actually i am using netty as the crawler ,
the problem now is about the SSL Fingerprints ,  see [https://github.com/salesforce/ja3](url)  ,
so i want to change the Extension part randomly,
such as the supportedCurves , supportedPoints,  etc

[2020-09-25 15:31] chendifan commented on #10611
it's not that a bug of regex but because openssl is not support "TLS_AES_128_CCM_8_SHA256" and "TLS_AES_128_CCM_SHA256" yet.

use `openssl ciphers ALL` we'll see none of the above two exists.

Not a bug, let me close it.

[2020-09-25 15:31] #10611 closed

[2020-09-25 21:29] takhir-atamuratov commented on #9419
I had the same issue, because there were keep_alive true and I had not close channels, after (client) leave the system. I solve it by change keep_alive to false and close all clients channel when they left the system. You have to check your application, may be you too does not close the channels.

[2020-09-26 12:18] matteobertozzi opened #10614 "UnorderedThreadPoolEventExecutor#scheduleAtFixedRate not working as expected"
### Expected behavior
The runnable passed to scheduleAtFixedRate() should run multiple times, not just once.

### Actual behavior
using UnorderedThreadPoolEventExecutor the runnable is executed just once, using directly the ScheduledThreadPoolExecutor or DefaultEventExecutorGroup the task is executed at fixed rate as expected

### Minimal yet complete reproducer code
[code]

### Netty version
4.1.

[2020-09-28 00:33] perezd opened #10616 "native-image compilation of epoll transport fails"
### Expected behavior
My small repro compiles as a native image and works as expected if I use Nio* family of transports. My expectation was that switching to epoll transport would similarly work.

### Actual behavior
If I switch to epoll (linux-x86_64) I get a compilation error:

[code]

### Minimal yet complete reproducer code (or URL to code)

Here's a repro: https://github.com/perezd/netty-epo

[2020-09-28 08:11] chrisvest commented on #10616
Can you add instructions for building and running your repro?

[2020-09-28 16:03] perezd commented on #10616
Sorry yes, updated comment.

[2020-09-29 14:42] chrisvest commented on #10616
@perezd How do you make the repro use a Netty version that's built and installed into the local `~/.m2/` repository?

[2020-09-29 17:38] dmpnv commented on #10604
this test code should reproduce the wrong behavior:

`package io.netty.handler.codec.http.cookie;`
[code]

[ERROR] testEncodingSingleClientCookie(io.netty.handler.codec.http.cookie.ClientCookieEncoderTest)  Time elapsed: 0.234 s  <<< FAILURE!
org.junit.ComparisonFailure: expected:<myCookie=myVal[ue]> but was:<myCookie=myVal[]>

[2020-09-29 17:40] perezd commented on #10616
This would work, if you add the jars to the BUILD file:
https://docs.bazel.build/versions/master/be/java.html#java_import

Then just changes `deps` to point to that new target and it should work.

[2020-09-29 17:54] ayushsomani11 commented on #2648
@normanmaurer Can you please help ways to configure multiple buffers?

[2020-09-29 19:28] slandelle commented on #10604
Still can't reproduce with Netty 4.1.51. You only mention you're using 4.1. If you're running an old version, you should upgrade.

[2020-09-30 02:32] Qix- opened #10622 "Any io_uring performance tests after all of the work that has been done?"
I'm not an active (anymore) Netty user but Netty is the largest project I've seen so far that has incorporated io_uring support.

However, several individuals have called into question the _actual_ increases in efficiency, as seen over at https://github.com/axboe/liburing/issues/189 and https://github.com/frevib/io_uring-echo-server/issues/8. Simply put, io_uring appears to be slower than epoll in

[2020-09-30 04:00] franz1981 commented on #10622
Hi @Qix- ,

I'm going to answer you by using your own last comment on https://github.com/axboe/liburing/issues/189#issuecomment-701119442:

Part of a complete scientific process, if we're talking about performance engineering and not the "classic" SW engineering, is to understand and investigate what's happening on the test rig in order to correctly interpret results: similar to physics or any oth

[2020-09-30 04:15] Qix- commented on #10622
I'm not sure what you mean here. The inventors of io_uring claim "free performance" over epoll. I'm asking if Netty has seen any such "free" performance gains by switching to the io_uring implementation.

We did. Please look at the thread again. Following the exact instructions from the performance benchmarks, they are claiming 68% increase (they were claiming 99% increase prior to realizing there

[2020-09-30 04:34] franz1981 commented on #10622
Yes, but I'm not sure any of the Netty dev is the io_uring inventor, hence I'm not sure makes sense to post a comment about their claims here.

Yes, but it's not running on Netty, so I'm not sure this is the *appropriate* place
I see the usage of the word *they* pretty evident in your comment, but none of such *they* is here on this project: I still think any of your previous comment isn't relevan

[2020-09-30 05:02] Qix- commented on #10622
@franz1981 Are you here to provide data or argue with me? I'm not looking for fights.

If you check the slew of recent io_uring pull requests, you can see that Netty has an interest in supporting the new set of syscalls. I'm simply asking if there are benchmarks available for Netty applications to compare the differences, to see how io_uring impacts performance.

Huh? I've not made _any_ claims ab

[2020-09-30 05:19] franz1981 commented on #10622
Good to hear it, me too :)

Despite that; I personally think isn't appropriate to propose claims of others (not belonging to this project) as the engine to guide your questions: I cannot say if is a cultural difference here or just personal taste, but I'm sure it could be avoided while exposing your problem; it's just not friendly with both Netty devs and io_uring ones.

AFAIK nope, as said, but s

[2020-09-30 05:38] franz1981 commented on #10622
@Qix-
I've just changed the label of your question to help others to find this and possibly paste any results :+1:

[2020-09-30 07:59] doom369 commented on #10622
@Qix- netty doesn't ship io_uring yet in it's builds, also it's actively developed right now. So it's very unlikely we gonna see some real-world benchmarks soon. I'm personally eager to try it as well.

[2020-09-30 08:22] normanmaurer commented on #10622
@Qix- all I can say for now is that we see some significant performance improvements once the connection count increases. I verified this by two different tools ... `tcpkali` and the `rust_echo_bench`.  We talking about 100% perf win when using `tcpkali` as client and even more when using `rust_echo_bench` here. That said this is for a throughput benchmark and I still need to do some latency bench

[2020-09-30 11:24] Qix- commented on #10622
@normanmaurer Thank you, this is exactly what I was hoping for. Gives me a jumping off point to look into it myself.

[2020-09-30 11:24] #10622 closed

[2020-09-30 14:13] normanmaurer commented on #10622
@Qix- no problem... I hope we can improve these further in the future

[2020-09-30 14:37] Qix- commented on #10622
It's hard to stomache claims that a magical new low-level feature gives us more than a few percentages of speedup. That's why the heavy skepticism. We've seen this before in the kernel world and we'll see it again. I think healthy skepticism of a new, experimental feature is just that - healthy. :)

[2020-09-30 15:47] pcarrier commented on #10622
@Qix- A small change to the characteristics of a system can have a huge impact on its consumers. For example, in Linux, exposing a vDSO allowed processes to read the current system time through roughly a register (with the right clock source, eg no virtualization) instead of a system call; because the previous time was mostly due to the overhead of a system call and not the actual work, it can abs

[2020-09-30 15:57] franz1981 commented on #10622
@pcarrier @Qix- to not mention that JNI cost: that's why saving both can change dramatically results and that's why applying io_uring on Netty is the same then, for example, doing it on Rust or on C.

[2020-09-30 16:54] njhill commented on #10622
@normanmaurer the results looks great, that's awesome. Out of curiosity how do the numbers look for netty-native ET epoll rather than jdk epoll?

Also are there any places in netty epoll impl where we could also use Unsafe to avoid some JNI, or do we have to cross the boundary regardless everywhere that JNI that's used in that case? guessing no or you would have already done that...

Would just be

[2020-09-30 22:15] valdo404 commented on #3778
So what would be the requirements and the design of such a feature ? How can one begin to contribute on such a task ?

[2020-10-01 10:14] valerauko commented on #3778
I'm putting together a dirty proof of concept. Hopefully I can put up a PR in a few weeks and solicit some feedback

[2020-10-02 13:30] mostroverkhov commented on #10436
@normanmaurer It turned out netty's http2 headers validation is basically a "plug" because It accounts only for small subset of what's stated explicitly in specification [8.1.1.2](https://tools.ietf.org/html/rfc7540#section-8.1.2.2) and [8.1.1.3](https://tools.ietf.org/html/rfc7540#section-8.1.2.3). Because netty's validation checks are far from being exhaustive, and also are blocker for any webso

[2020-10-02 14:26] mostroverkhov opened #10633 "http2: headers validation is non-exhaustive, allows requests with completely empty headers"
### Expected behavior
If netty's http2 headers validation is enabled, headers are validated exhaustively as described in [spec](https://tools.ietf.org/html/rfc7540#section-8.1.2).

### Actual behavior

Only tiny subset from [8.1.2](https://tools.ietf.org/html/rfc7540#section-8.1.2) is accounted.

Looking at [HpackDecoder](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/h

[2020-10-03 08:28] hyperxpro opened #10634 "SSLEngine Close called again by Http2ConnectionHandler"
### Expected behavior
If Channel is closed due to an exception, then `ctx.channel().close();` call is made. This closes SSLEngine also.

### Actual behavior
`Http2ConnectionHandler` calls for SSLEngine Close even after it's already closed and tries to send `GOAWAY` frame.

### Steps to reproduce
Establish connection with HTTP/2, close the connection from client forcefully to cause an exception, an

[2020-10-03 08:29] hyperxpro commented on #10634
Stacktrace:
[code]

[2020-10-03 17:42] manolvalchev commented on #10475
It turns out Netty's [ProxyHandler](https://github.com/netty/netty/blob/0c3eae34ec25203e22d3fa6a678a11a936f9c8b4/handler-proxy/src/main/java/io/netty/handler/proxy/ProxyHandler.java) is written with the _wrong_ assumption that every proxy (in general) offers _tunneling_ option with a dedicated protocol-specific handshake based on a <ins>single</ins> request/response mechanism. In case no initial m

[2020-10-03 18:41] saralpa commented on #10426
Hey, Is there any solution provided for this?

[2020-10-03 18:43] saralpa commented on #10437
Facing same issue.. How you got it solve?

[2020-10-04 12:19] hyperxpro commented on #4073
I am working on this for my Load Balancer and I also need this feature. I will do PR soon. Just set `boolean` to `true` in `InboundHttp2ToHttpAdapter` and it'll convert Http/2 frames to HttpObjects (HttpMessage and HttpContent) instead of FullHttpMessage.

[2020-10-04 17:58] hyperxpro commented on #4073
Finally, after 5 years, this feature is coming. :D

@normanmaurer  @Scottmitch PTAL #10636

[2020-10-04 18:24] hyperxpro commented on #2646
It's on my list now. Coming soon... :)

[2020-10-04 21:04] jnorthrup commented on #3778
I've sat down to transcribe QUIC rfc's to code a couple of times over the years and it seems to contain a few rabbit-holes that exceed the initial scope estimates.

[2020-10-05 09:44] nicolasreeves commented on #6096
There is no need to catch Throwables you can't handle in order to do error clean up. The following pattern can be used

boolean success = false;

try {
  doStuff();
  success = true;
}
finally {
  if (! success) {
    cleanUp();
  }
}

[2020-10-05 14:15] prgitpr commented on #9481
ha~
the code show some NON IO Task  must run ,even io Ratio ==100
 if (ioRatio == 100) {
                    try {
                        if (strategy > 0) {
                            processSelectedKeys();
                        }
                    } finally {
                        // Ensure we always run tasks.
                        ranTasks = runAllTasks();
                    }

[2020-10-05 18:39] setu123 commented on #9266
Having same issue with Netty 4.1.31.Final. @SuganyaRajendran , were you able to resolve this issue?

[2020-10-05 20:08] philsttr opened #10639 "Provide access to HTTP response status and headers when error occurs during websocket upgrade"
I would like access to the HTTP response status and headers when an error response is returned from the server during websocket upgrade.

Currently, when the websocket upgrade response indicates the upgrade failed, netty throws a `WebSocketHandshakeException` with a message indicating the problem.  However, the exception does not provide access to the HTTP response status/headers.

https://github.

[2020-10-06 08:58] davidgfolch commented on #6891
Hi,

I'm having same issue with a project:

- tomcat 8.5
- java / spring-boot 2.2.6
- infinispan-spring-remote-starter
  - hodrot client (uses netty internally)

The SpringRemoteCacheManager.stop() is calling nativeCacheManager.getChannelFactory.destory() but there are still some theads not closing on context undeployment:

[code]

[2020-10-06 09:06] amizurov commented on #10639
@philsttr hi i think this is related to https://github.com/netty/netty/issues/10277, i'll try to do PR at my suggestion.

[2020-10-06 11:54] gerdriesselmann opened #10642 "io.netty.util.IllegalReferenceCountException on HTTP response without headers"
We reproducible get reference count exceptions when downloading https://tagm.tchibo.de/robots.txt

This URL is special as it does not provide any HTTP response headers at all

[code]
Maybe related to #9882, which however occurs randomly on large files, and vanishes on retry.

### Expected behavior

Netty will fetch the URL like browsers do

### Actual behavior

Exception is thrown

### Steps to re

[2020-10-06 13:57] prgitpr commented on #10614
hi~  I not sure UnorderedThreadPoolEventExecutor#scheduleAtFixedRate should work as you expected ,but as you expected ,you can change the code as I already commit.

[2020-10-07 01:47] #10599 closed

[2020-10-07 09:54] artem-smotrakov opened #10649 "Better hash algorithm in FingerprintTrustManagerFactory"
`FingerprintTrustManagerFactory` checks if a certificate is trusted by comparing its SHA-1 hash to a list of pre-configured ones:

https://github.com/netty/netty/blob/0cde4d9cb4d19ddc0ecafc5be7c5f7c781a1f6e9/handler/src/main/java/io/netty/handler/ssl/util/FingerprintTrustManagerFactory.java#L85

Unfortunately, nowadays SHA-1 is considered insecure. The issue was reported by [LGTM](https://lgtm.com

[2020-10-07 12:25] hyperxpro commented on #10649
SHA-512 is an overkill and not useful for this purpose. SHA-256 or SHA-384 is the way to go.

[2020-10-08 00:34] aspcompiler opened #10655 "Wonder whether order of fireSniCompletionEvent and onLookupComplete should be switched"
https://github.com/netty/netty/blob/77effdc4da76cb967b9c214b0682b742e90b4203/handler/src/main/java/io/netty/handler/ssl/AbstractSniHandler.java#L131-L132

Currently, fireSniCompletionEvent runs before onLookupComplete. If I save the lookup result in onLookupComplete, events triggered by SniCompletionEvent will not see the effects. Wonder whether fireSniCompletionEvent should run after onLookupComp

[2020-10-08 09:03] amizurov commented on #10642
@gerdriesselmann Hi could you please share more info as @hyperxpro said, because sample bellow works properly
and throw exception:
`DefaultFullHttpResponse(decodeResult: failure(java.lang.IllegalArgumentException: invalid version format: USER-AGENT:), version: HTTP/1.0, content: UnpooledByteBufAllocator$InstrumentedUnpooledUnsafeHeapByteBuf(freed))
HTTP/1.0 999 Unknown`

[code]

[2020-10-08 09:11] hyperxpro commented on #10642
@amizurov I got the same error so asked to show code. Haha.

[2020-10-08 10:06] #10582 closed

[2020-10-08 10:17] ka11i0 commented on #10634
Hello. Could you provide complete reproduce code?? I'm having trouble reproducing your error with the code you provided.

[2020-10-08 10:26] hyperxpro commented on #10634
1. Start HTTP/2 Server
2. Connect Client to Server
3. Forcefully close the connection so that you get: `java.io.IOException: An established connection was aborted by the software in your host machine`.
4. Since the channel is already closed, `Http2ConnectionHandler` will try to send `GOAWAY` but everything is closed. `Http2ConnectionHandler` should not send `GOAWAY` is the channel is closed.

[2020-10-08 13:12] CarlOsterberg opened #10657 "No p2p node network implementation in examples"
I have noticed upon scouring through the examples folder that there is no p2p examples, but there seems to be support for it in netty. A simple implementation with a node acting as server and client, meaning it should handle outgoing and inbound communication should be implementable.

[2020-10-08 16:17] vamsiganji opened #10660 "NIOSocketChannel consuming heap"
### Expected behavior

### Actual behavior

We have 5 NIOSocketChannel sessions occupying 12GB of heap out of 24 GB. One of them 3 GB

### Steps to reproduce

Not sure how to reproduce, but the issue keeps happening every 2 weeks

![image](https://user-images.githubusercontent.com/72225830/95485763-2b209c80-0960-11eb-8f7c-b29694ac0fd4.png)

### Minimal yet complete reproducer code (or URL to code)

[2020-10-08 18:01] hyperxpro commented on #10657
We love contributions. You can do a PR.

[2020-10-09 02:18] shannonbay commented on #8544
I have a suggestion how this can probably be achieved in current and older versions of netty.

The basic idea is to define a single 'front-end' pipeline to handle the real socket and I/O  including encode/decode.  Then distinct 'back-end' pipelines will be invoked for various related protocols (or even separate 'sessions' for protocols where the application layer can run independent sessions over

[2020-10-09 06:53] rafmichalak84 opened #10661 "Illegal reflective access by io.netty.util.internal.ReflectionUtil to DirectByteBuffer"
### Expected behavior

### Actual behavior
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by io.netty.util.internal.ReflectionUtil (file:/Users/<user>/.m2/repository/io/netty/netty-all/4.1.52.Final/netty-all-4.1.52.Final.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of io.netty.uti

[2020-10-09 07:48] hyperxpro commented on #10661
You can safely ignore the warning.

[2020-10-09 09:53] chrisvest commented on #10661
Netty uses reflection in order to support, and have good performance, on a large range of Java versions.
You can silence the warnings by running java with a `--illegal-access=permit` (or `--illegal-access=deny`) flag.
This is safe (for Netty) because we have fall-back code paths for all the places.
If something breaks when you use those flags, then that's a bug that should be reported separately.

[2020-10-09 10:07] chrisvest commented on #10660
Your Netty version is 3 years old. Try upgrading it to 4.1.52.Final and see if the problem persists.

[2020-10-09 11:32] vamsiganji commented on #10660
Thanks for the reply, we have already deployed our product in the production and see the issue there . Can you please confirm if this issue is fixed in the latest library? Updating the library in production is a very long process

[2020-10-09 11:42] chrisvest commented on #10660
It can't confirm that it's fixed because it's not clear what the cause is.

[2020-10-09 12:57] artem-smotrakov opened #10669 "Enable CodeQL or LGTM scans for pull requests"
GitHub now offers code scanning that is based on CodeQL (the same engine that is used in LGTM.com). Shortly, that's a static analysis tool that is able to catch various issues including security ones. Once enabled for pull requests, it would help with catching issues earlier.

The scan may be run via [GitHub Actions](https://docs.github.com/en/free-pro-team@latest/github/finding-security-vulnerabi

[2020-10-09 13:12] vamsiganji commented on #10660
Is there a way we can enable some debugs in netty to get more information when this happens again ?

[2020-10-09 19:00] ejona86 opened #10670 "http2: wrong Last-Stream-Id for connection error during header parsing"
### Expected behavior

A channel error occurring during HEADERS decoding triggers a GOAWAY that includes the stream id including the stream for the header being processed.

### Actual behavior

Streams are allocated within `DefaultHttp2ConnectionDecoder.onHeadersRead()`. If a channel error occurs during header parsing within `DefaultHttp2FrameReader`, `DefaultHttp2ConnectionDecoder.onHeadersRead()

[2020-10-10 08:51] zxf-thingsmatrix opened #10671 "Is this a mistake in io_uring branch?"
![image](https://user-images.githubusercontent.com/65008815/95650833-d2483400-0b18-11eb-8425-43fb9756fc95.png)

[2020-10-11 07:28] franz1981 opened #10672 "IOUringCompletionQueue::process batch CQE copy"
Right now IOUringCompletionQueue::process is calling an always returing `true` IOUringEventLoop::handle: I've recently worked on something "similar" for libaio (see https://github.com/franz1981/activemq-artemis-native-1/blob/less_jni_work/src/main/java/org/apache/activemq/artemis/nativo/jlibaio/AioRing.java#L163) and I see that we could perform additional batch copies of CQEs (2 copyMemory in case

[2020-10-11 08:51] normanmaurer commented on #10671
Good catch... https://github.com/netty/netty/pull/10674

[2020-10-11 09:15] valerauko commented on #3778
Yeah it feels it's still way too experimental at this point. Just getting a curl version to compile for testing was a challenge.

[2020-10-11 14:58] jnorthrup commented on #3778
I'm hand-waving here, but utilizing a kotlin-lang port of golang's QUIC seems like the better impedence match for netty than porting the chromium/c++ codebase to java directly.   i don't say this out of preference for kotlin, or the expectation that it would be ready for production, but i think it would be the shortest path to proving a correct impl.

[2020-10-11 15:07] normanmaurer commented on #3778
@jnorthrup what you mean with kotlin-JVM port here ?

[2020-10-12 08:15] #10671 closed

[2020-10-12 09:48] normanmaurer commented on #10660
your best bet is to check in the heap dump to see where the memory is consumed and what holds the reference to it.

[2020-10-12 10:19] artem-smotrakov commented on #10649
@trustin @normanmaurer What do you think?

[2020-10-12 11:45] chrisvest commented on #10649
As far as I understand how `FingerprintTrustManagerFactory` is meant to be used, I think it's better to deprecate it, and add a new implementation that uses a stronger hash function, or allow the hash function to be configured. Maybe the configurable implementation can be extracted into a new super-class of `FingerprintTrustManagerFactory`.

[2020-10-12 15:04] hyperxpro commented on #10660
@vamsiganji  2 GB memory consumption under load full or normally? Can you give brief information about the load?

[2020-10-12 15:13] vamsiganji commented on #10660
@hyperxpro when NIO occupies 12 GB of heap we see the problem with the application. Total of 5 NIO sessions( 3 GB - 1 GB each)  occupy 12 GB in this case. In a normal situation, these should not go over 100 MB of heap space.

We have a total of 24GB assigned to the process.

[2020-10-12 16:32] Rom1kz opened #10678 "STOMP StompSubframeDecoder threws exception while processing PING (empty frame) from client"
### Expected behavior
expected to process `PING` frames to check the client is still active

### Actual behavior
when empty frame (just with \n symbol) is received `StompSubframeDecoder.decode` threws `IndexOutOfBoundsException`

[code]
function `skipControlCharacters` has no readable bytes check of the `buffer`

### Steps to reproduce
build a STOMP server using netty STOMP handlers

### Netty ver

[2020-10-12 16:38] normanmaurer commented on #10678
@Rom1kz are you interested in providing a PR with a fix and unit test ?

[2020-10-12 16:48] Rom1kz commented on #10678
i don't think i have skills to solve this issue properly

[2020-10-13 06:28] ErkiHallasoo commented on #7431
Any workaround for this problem, when pkcs11 tokens are used for TLS?

[2020-10-13 08:10] joreilly opened #10682 "Error running on Android 9"
We were successfully using Ktor/Netty server (v 4.1.51.Final) on Android 8 but when we try to run on Android 9 we're getting

[code]

Is there any known workaround for this?

[2020-10-13 08:21] joreilly commented on #10682
Actually, those same log messages appear when using Android 8.....but nonetheless still crashing when using Android 9 for some reason.

[2020-10-13 08:35] amizurov commented on #10678
@Rom1kz, could you please provide simple reproducer, because we use the same empty frame ('\n') for heart-beating and everything work properly.

[2020-10-13 08:46] normanmaurer commented on #10682
@joreilly any crash log ?

[2020-10-13 08:53] joreilly commented on #10682
@normanmaurer Just got this now...

[code]

[2020-10-13 12:13] normanmaurer commented on #10670
@ejona86 this is the best I can think of as well... I guess this is "good enough" ?

[2020-10-13 12:14] normanmaurer commented on #10660
Without looking at the whole heapdump I can not tell you what is wrong... it should be visible in the heapdump what the problem is

[2020-10-13 12:15] normanmaurer commented on #10649
I agree with @chrisvest here...

[2020-10-13 12:18] normanmaurer commented on #10607
Closing as this is a not an netty issue

[2020-10-13 12:18] #10607 closed

[2020-10-13 12:20] joreilly commented on #10682
@normanmaurer it's native crash.....just looking to get hold of traces now.  In general though, are there any known issues running on Android 9?

[2020-10-13 12:23] normanmaurer commented on #10682
I am not aware of anything specific... that said we just use the "NIO implementation" of android so if it crashes chances are big its an android bug.

[2020-10-13 12:57] trustin commented on #10649
I don't see a reason to introduce a new `TrustManagerFactory` implementation class. We could deprecate the public constructors in favor of builders and static factory methods. e.g.

[code]

The public constructors could call the internal constructor that passes the message digest function, e.g.

[code]

We could also consider implementing more versatile `TrustManagerFactory` by extracting the veri

[2020-10-13 13:16] artem-smotrakov commented on #10649
I like the idea with a builder and deprecating only the public constructor suggested by @trustin

[code]

If no objections, I'll implement this logic then.

[2020-10-13 13:42] vamsiganji commented on #10660
@normanmaurer would it be possible for you to take a quick look at the heap if we can give you access to MAT ?

[2020-10-14 03:11] maoling commented on #7319
@murad-mirzabalaev please join the discussion of [ZOOKEEPER-3940](https://issues.apache.org/jira/browse/ZOOKEEPER-3940)

[2020-10-14 09:09] #10614 closed

[2020-10-14 09:56] normanmaurer commented on #10661
@rafmichalak84 this is very strange as it should not try to do so by default...

Did you by any chance specify:

`-Dio.netty.tryReflectionSetAccessible=true`?

[2020-10-14 10:19] normanmaurer commented on #6125
@xavs please open a new issue if you think there is a bug

[2020-10-14 10:22] normanmaurer commented on #10660
sorry but I don't have the time atm... It should be quite easy to spot what exactly takes up so much space....

[2020-10-14 10:23] normanmaurer commented on #10642
@gerdriesselmann ping ^^

[2020-10-14 10:23] normanmaurer commented on #10655
@aspcompiler what exactly you want to save ?

[2020-10-14 10:33] vamsiganji commented on #10660
Thanks for the reply. From what i see EPollSelectorImpl is the object consuming memory. As i drill down this object i see more and more instances of EPollSelectorImpl, some thing like a recursion. Please check the below image

![image](https://user-images.githubusercontent.com/72225830/95977670-2425de00-0de7-11eb-8f75-e9aa975f1573.png)

[2020-10-14 10:34] hyperxpro commented on #10660
Did you tried upgrading to Netty 4.1.53.Final?

[2020-10-14 10:37] vamsiganji commented on #10660
@hyperxpro we are having this issue in production environment in one of our customers. So the update to the library can happen only in the next release which will take time. How ever we want to find out the root cause of this issue and confirm if this is fixed in 4.1.53 version.

[2020-10-14 11:13] normanmaurer commented on #10660
While there seems to be multiple selectors it seems like all of these are different instances (at least from a quick look).  I would check what is stored in the NioSocketChannel itself for example ... it may be that some handler in the pipeline of the channel does hold up a lot of memory for example.

Beside this it could also be a JDK bug ... looking at the version you are using I would suggest u

[2020-10-14 14:29] suntianji123 opened #10685 "There are some problems here. If the following code is not added to this place, a page will not be used again.PoolSubpage.free()"
![R0LTCGOX 6V0DT~C80~D2VR](https://user-images.githubusercontent.com/34296859/96003341-b7edbd80-0e6c-11eb-85d0-036f94c89347.png)
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2020-10-14 14:31] normanmaurer commented on #10685
Can you open a PR with the fix and if possible a unit test ?

[2020-10-14 15:24] normanmaurer commented on #10655
@aspcompiler ok got it.... Can you create a PR with the change ?

[2020-10-15 02:47] KaimingWan opened #10687 "Netty's select native method not fetch data from socket recv buffer when reconnection is done too frequently"
Here come a strange case. My application(server) use netty to fetch data from remote node(client) and I found sometime the server fetch data from remote is very slow after reconnection. The server's select operation cost much time. Although the socket receive buffer have data, the select operation don't response to it.

My running environment:

openjdk version "1.8.0_232"
Mac 10.15.4 (By the way,

[2020-10-15 08:11] normanmaurer commented on #10655
@aspcompiler PTAL https://github.com/netty/netty/pull/10688

[2020-10-15 08:23] normanmaurer commented on #10685
@suntianji123 also I think there are other changes that needs to be done in PoolChunk.

[2020-10-15 08:37] normanmaurer commented on #10685
Actually I think it is already handled correctly in the latest netty release as if `PoolSubpage.free(...)` returns false we will take care of it.

[2020-10-15 15:49] aspcompiler commented on #10655
@normanmaurer  #10688 looks good. Thank you!

[2020-10-15 19:01] #10655 closed

[2020-10-15 20:42] JLLeitschuh commented on #10059
Hey Netty Team,

Has there been any discussion around this security issue? Part of me is tempted to consider that the ability to disable the request splitting checks a vulnerability in-itself, potentially worthy of a seperate CVE? IE. Should Netty have a CVE for even allowing you to disable these checks and have a version after-which users can't disable these checks?

[2020-10-16 06:50] normanmaurer commented on #10685
Let me close this as I think its a none issue... Please re-open if you still think there is an issue in the latest 4.1 branch / release

[2020-10-16 06:50] #10685 closed

[2020-10-16 06:51] normanmaurer commented on #10687
Are you sure it really has received the data ? Check with Wireshark if this is really the case. Depending on how small the data is you may also want to experiment with `TCP_NODELAY`.

Let me close this tho as this is an issue tracker.

[2020-10-16 06:51] #10687 closed

[2020-10-16 07:02] normanmaurer commented on #10669
Good idea.... see https://github.com/netty/netty/pull/10696

[2020-10-16 13:39] hitchan opened #10702 "Cannot connect to docker.sock. Invalid Argument/Address Family Not Supported."
### Expected Behavior
When attempting to connect to /var/run/docker.sock using a DomainSocketAddress as described in the [documentation](https://projectreactor.io/docs/netty/snapshot/reference/index.html#_unix_domain_sockets_4). As well as having the proper permissions to read/write to the socket file. The connection should be successful.

### Actual behavior
Attempts to connect to the socket resu

[2020-10-16 16:25] 88250 commented on #10281
I also encountered this problem and look forward to fixing it, thank you.

[2020-10-16 19:26] doom369 commented on #10281
@88250 I fixed it in own code by extending the **HttpPostMultipartRequestDecoder** and overriding the behavior, however it would be better to fix within the initial decoder of course.

[2020-10-16 20:32] benjaminroux commented on #10678
@Rom1kz
I've actually just submitted a PR for that but I hadn't seen that issue.
https://github.com/netty/netty/pull/10695

Heartbeat messages would now trigger a StompFrame with the command HEARTBEAT (not a real STOMP command).

[2020-10-17 15:45] hitchan commented on #10702
Turns out my dependency was not using the snapshot, issue resolved.

[2020-10-17 15:45] #10702 closed

[2020-10-18 12:25] #10669 closed

[2020-10-18 13:31] franz1981 commented on #10672
Probably this one could be saved by using a recent pr I've sent on io uring

[2020-10-18 13:31] #10672 closed

[2020-10-18 20:48] fbnz156 commented on #3778
I've been successfully using QUIC in a real-time non-web application for several months now (currently draft-29). It's not exactly experimental anymore - it works, it's got provable performance benefits, and Java is _still_ sat out in the rain on this one with not a single server implementation ([protocol7/quincy](https://github.com/protocol7/quincy) is nowhere near complete and seems to be a dead

[2020-10-19 20:24] vamsiganji commented on #10660
@normanmaurer Could this be related to

 https://issues.redhat.com/browse/XNIO-172?page=com.atlassian.streams.streams-jira-plugin%3Aactivity-stream-issue-tab ?

[2020-10-20 07:57] silloy commented on #9803
@jcohen I hava the same question, and remove the WebSocketServerCompressionHandler is good, compressing individual messages on an as-needed basis,  I want to do how you realise it?

[2020-10-20 10:30] vamsiganji commented on #10660
@normanmaurer We do see the below stack traces when the issue happens. I know this is quite old of an issue, but can you please help to see if this related to https://github.com/netty/netty/pull/565 ?

java.lang.Thread.State: RUNNABLE
        at sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)
        at sun.nio.ch.EPollArrayWrapper.poll(EPollArrayWrapper.java:269)
        at sun.nio.ch.EPoll

[2020-10-20 12:05] zhengdehui opened #10713 "Different behavoius between ByteBufs returned by PooledUnsafeDirectByteBuf.slice().retain() and PooledUnsafeDirectByteBuf.retainedSlice()"
### Expected behavior
try this test case
[code]
The only difference between slice1 and slice2 is `slice1` is returned by `retainedSlice()` and `slice2` is returned by `slice(0, 512).retain()`
I was expecting the behavious of `release()` and `refCnt()` should be the same between slice1 and slice2, but it's not, see test case comments above.

Furthermore, slice1 is sharing the same refCnt with buf1

[2020-10-20 15:16] ejona86 commented on #10670
I think it will be good enough. I'll work on a fix after I'm back in the office on the 26th.

[2020-10-20 16:07] jcohen commented on #9803
My messages are not particularly large, so I've just done without compressing them for the time being.

[2020-10-21 01:54] suntianji123 opened #10715 "I think the traversal of the refqueue of the memory leak detector should be implemented using a daemon thread similar to ObjectCleaner"
private void reportLeak() {
        //如果不支持记录错误级别日志 清理掉引用queue
        if (!logger.isErrorEnabled()) {
            //清理掉refQueue中所有的引用对象
            clearRefQueue();
            return;
        }

        // 当对象T被gc回收后，追踪器添加到refQueue中
        for (;;) {
            //获取追踪器
            @SuppressWarnings("unchecked")
            DefaultResourceLeak ref = (DefaultResourceLeak) refQueue.poll();

[2020-10-21 08:45] normanmaurer commented on #10715
We don't want to introduce another `Thread` here. Why you think the current implementation is not sufficient ?

[2020-10-21 08:49] suntianji123 commented on #10715
Zhège fāngfǎ de for xúnhuán zhǐ néng chǔlǐ zhīqián de zhuīzōng qì zuìhòu yīgè tiānjiā dào duìliè de zhuīzōng qì bù huì bèi chǔlǐ
39/5000
The for loop of this method can only process the previous tracker. The last tracker added to the queue will not be processed.

[2020-10-21 15:30] jorgebo10 opened #10717 "Eclipse mat memory leak on PoolChunk"
Hi,

Eclipse mat is reporting a suspicious memory leak on io.netty.buffer.PoolChunk . Just wanted to check if this is normal behavior and whether  should i  worry.

Thanks,
Jorge

[heapdump-1603222350462.hprof.zip](https://github.com/netty/netty/files/5416989/heapdump-1603222350462.hprof.zip)

### Netty version
4.1.51-final

### JVM version (e.g. `java -version`)
openjdk version "14.0.1" 2020-04-1

[2020-10-21 19:13] abhowmik commented on #5225
I have a similar issue but not sure if the codec is a problem but I do get the same error
mvn dependency:tree | grep netty
[INFO] +- io.jooby:jooby-netty:jar:2.9.1:compile
[INFO] |  +- io.netty:netty-handler:jar:4.1.45.Final:compile
[INFO] |  |  +- io.netty:netty-common:jar:4.1.45.Final:compile
[INFO] |  |  +- io.netty:netty-buffer:jar:4.1.45.Final:compile
[INFO] |  |  +- io.netty:netty-transport:

[2020-10-22 07:12] normanmaurer commented on #10717
Thats normal... netty is using memory pooling by default and memory is allocated in chunks (which we use to slice out data). By default a chunk is 16mb.

[2020-10-22 07:12] #10717 closed

[2020-10-22 07:12] normanmaurer commented on #10670
ok cool... ping me once I should review some code

[2020-10-22 07:14] normanmaurer commented on #10660
I don't think so...  Like I said I am sure some of the handlers in the pipeline for example hold up on  lot of memory . Inspect the heap dump and you will find it.

[2020-10-22 10:13] vamsiganji commented on #10660
@normanmaurer Thanks for the reply. I looked at the heapdump i dont see any handler holding up the memory. All i see is many objects of EPollSelectorImpl . I am really stuck here

![image](https://user-images.githubusercontent.com/72225830/96857966-a8064880-142d-11eb-8749-e12dffabdca0.png)

[2020-10-22 11:53] forest606 commented on #10293
Is there any ideas? It happens very frequently in my app production environment.

[2020-10-22 15:13] imeszaros opened #10720 "SSL problem with >= 4.1.52"
We're using Netty with [Jooby](https://github.com/jooby-project/jooby). We have a PKCS12 certstore to provide the cert-chain and private key. This worked fine with Jooby 2.9.0 (Netty 4.1.50), but with Jooby 2.9.1 (Netty 4.1.52) it fails like this when an HTTPS request is issued:

[code]

I checked and it works fine with Jooby 2.9.1 and with **Netty forcibly downgraded to 4.1.51** so this may be an

[2020-10-22 15:24] normanmaurer commented on #10720
Can you show how you configure the SslContextBuilder ?

[2020-10-22 16:06] hamdiallam commented on #7130
Hey @normanmaurer, can you elaborate on what you mean by using the HttpClientCodec with the HttpObjectAggregator? Both handlers are in the channel pipeline and the same problem arises. The HttpObectAggregator will throw the exception when it sees the header

[2020-10-22 16:10] imeszaros commented on #10720
Jooby first creates a `javax.net.ssl.SSLContext` [here](https://github.com/jooby-project/jooby/blob/2.x/jooby/src/main/java/io/jooby/internal/SslPkcs12Provider.java), then before passing it to Netty it wraps it with `io.netty.handler.ssl.JdkSslContext` [here](https://github.com/jooby-project/jooby/blob/2f4d2ed6063595e482b8898111ceea933307e168/modules/jooby-netty/src/main/java/io/jooby/netty/Netty.

[2020-10-23 01:25] skychengit opened #10722 "pro"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2020-10-23 04:23] hyperxpro commented on #10722
????????????????????????????

What do you mean?

[2020-10-23 04:40] togetsukyo opened #10723 "AbstractUnsafe.write() should use `safeRelease` instead of `release` when exception thrown"
There are two ways for proactively detecting potential leaks and release a leaked `msg` when calling `channel.write(msg)`.
1. Add `try...catch...` around all the custom handlers, and release the `msg` in `catch...` clause. The downside of this is that we need to modify all the handlers. Also we could not do this to some library handlers like `HttpObjectEncoder`.
2. Add a promise listener to the `C

[2020-10-23 06:20] #10722 closed

[2020-10-23 06:23] normanmaurer commented on #10723
@togetsukyo I think I don't agree with this... honestly saying I think a user should only call `release` if they know a reference count should be decremented. If you call `write` you basically transfer the ownership of the message and can be sure you don't need to decrement the reference count yourself. You only would need to call `release()` if you before called `retain()`.

That said I think you

[2020-10-23 06:41] togetsukyo commented on #10723
@normanmaurer Thanks for the response!

What's the recommended way to proactively prevent `msg` from LEAK? In the time when developing new features, it would be easy to forget to handle exception cases, and `msg` might leak. We can add promise listeners to log the exception message, but not responsible for releasing the `msg`. Sometimes the exception is not serious and we may not need to rollback

[2020-10-23 07:25] AldirchEugene opened #10724 "My netty server reported an error 'io.netty.handler.codec.DecoderException: java.lang.IndexOutOfBoundsException: index: 16384, length: -14771 (expected: range(0, 8192))'. Can you tell me why? thank you"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2020-10-23 08:09] hyperxpro commented on #10724
More details needed and please use issue template.

[2020-10-23 12:22] normanmaurer commented on #10723
@togetsukyo usually what I suggest is to run your CI with paranoid leak detection level enabled and fix the issues that are reported.

[2020-10-23 12:23] normanmaurer commented on #10723
@togetsukyo FYI https://github.com/netty/netty/pull/10726

[2020-10-23 13:24] fantow opened #10727 "This should be a more accurate exception or a type judgment mechanism when method get a wrong parameter"
### Expected behavior
IMHO，we should add some confirmation mechanism to ensure the useful method SingleThreadEventExecutor.shutdownGracefully(long quietPeriod, long timeout, TimeUnit unit) running in a right way or ensure the exception of Timeunit parameter can be correctly represented.

![Netty_2](https://user-images.githubusercontent.com/18530950/97008670-b52e4f00-1575-11eb-8846-befcb1ea0429.png

[2020-10-23 13:27] normanmaurer commented on #10724
Usually this means you tried to read more data then what is readable in the buffer.

[2020-10-23 13:27] #10724 closed

[2020-10-23 13:28] normanmaurer commented on #10727
I am not sure what you are suggesting but I am happy to review a pr

[2020-10-23 13:32] fantow commented on #10727
I think the easiest way is providing a more accurate exception description,rather than just throw a NPE.

[2020-10-23 13:33] normanmaurer commented on #10727
honestly I think a NPE does exactly tell you what is wrong here.

[2020-10-23 13:33] normanmaurer commented on #10715
sure but it will be processed "at some point". So this should be good enough.

[2020-10-23 13:34] normanmaurer commented on #10661
@rafmichalak84 ping... ^^

[2020-10-23 13:36] fantow commented on #10727
Okay,I will close this issue.Thank you for your answer.

[2020-10-23 13:36] normanmaurer commented on #10720
@imeszaros thanks a lot... can you share a reproducer ?

[2020-10-23 13:38] #10727 closed

[2020-10-23 15:03] imeszaros commented on #10720
I could not reproduce the issue with the built in or a custom self-signed certificate. Maybe it depends on the contents of the PKCS12 file.

Our file contains the following:
- a root CA
- an intermediate CA
- a certificate issued for our domain
- private key for the certificate (2048 bit)

Which properties of the above should I check to be able to identify the issue?

[2020-10-23 20:41] Bennett-Lynch opened #10728 "Consider treating null as "none" in ChannelPipeline#add(..) functionality"
When adding handlers to a pipeline using the varargs methods, if Netty encounters a handler that is null, it will cease the insertion logic:

https://github.com/netty/netty/blob/1ca7d5db8167f904395d879b8851eb35d6f596f3/transport/src/main/java/io/netty/channel/DefaultChannelPipeline.java#L374-L382

I propose that it would be more intuitive to use `continue` here, rather than `break`.

This would al

[2020-10-24 02:51] yhc19850706 opened #10729 "Execute ChannelFuture writeAndFlush(Object msg) method timeout ,channel=NioSocketChannel"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
          Netty version=4.0.39

### JVM version (e.g. `java -version`)
      JVM version= 1.8.0_261
### OS version (e.g. `uname -a`)
      windows10
in javaNSQClient(https://github.com/brainlag/JavaNSQClient) project ,use  netty 4.0.39, producer.produce()

[2020-10-24 07:00] hyperxpro commented on #10729
4.0.X reached EOL. Upgrade to Netty 4.1.53.Final and see if the issue still persists.

[2020-10-24 07:06] normanmaurer commented on #10720
Can you try explicit setting the protocol to TLSv1.2 ?

[2020-10-24 07:20] normanmaurer commented on #10729
As @hyperxpro said...

[2020-10-24 07:20] #10729 closed

[2020-10-24 12:29] normanmaurer commented on #10728
yeah sounds a good idea...can you do a PR against master ?

[2020-10-24 12:31] normanmaurer commented on #10682
@joreilly ping

[2020-10-24 12:31] normanmaurer commented on #10642
Let me close this as @gerdriesselmann did not come back to us. Please reopen if you still think there is an issue.

[2020-10-24 12:31] #10642 closed

[2020-10-24 12:38] normanmaurer commented on #10634
This is expected... we only try to write the go away if the channel is still active. that said it is possible that while we try to process pending writes in the `SslHandler` we will close the `SSLEngine` and so will fail all the remaining pending writes.

[2020-10-24 12:38] #10634 closed

[2020-10-24 12:41] #10277 closed

[2020-10-24 13:40] joreilly commented on #10682
@normanmaurer sorry, meant to report back here.....so this is being run as part of ktor setup and if I switch to `wait = true` (with associated change to threading) then it works fine....not sure why this is happening on Android 9 and not 8.

[code]

[2020-10-25 10:02] xiaoliang-wang opened #10730 "Failed to execute goal org.apache.maven.plugins:maven-antrun-plugin:1.8:run (build-native-lib) on project netty-transport-native-unix-common: An Ant BuildException has occured: exec returned: 2"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-antrun-plugin:1.8:run (build-native-lib) on project netty-transport-native-unix-common: An Ant BuildException has occured: exec returned: 2
[ERROR] around Ant part ...<exec resolveexecutable="true" failonerror="true" executable="make">... @ 4:71 in /Users/wangxiaoliang/github/netty/transport-native-unix-common/target/antrun/build-main.x

[2020-10-25 11:59] imeszaros commented on #10720
@normanmaurer Your suggestion was really helpful, thanks.

I tried it with TLSv1.2 forced, and it worked. I did some research and it turned out that older JDK releases had some problems with TLS 1.3 (https://webtide.com/openjdk-11-and-tls-1-3-issues/, https://jira.atlassian.com/browse/BSERV-12374, https://stackoverflow.com/questions/60955206/java-11-sslhandshakeexception-with-tls-1-3-how-do-i-reve

[2020-10-25 11:59] #10720 closed

[2020-10-26 05:34] franz1981 opened #10731 "Implement SWAR indexOf byte search"
Currently Netty uses an expensive (GC-wise too) `ByteBufUtil::indexOf` implementation based on `ByteProcessor.IndexOfProcessor`  to save bound-checks to happen: this could be changed into what @richardstartin has implemented on https://richardstartin.github.io/posts/finding-bytes.

Same could be applied to `ByteBuf::indexOf` that's *not* using `ByteBufUtil::indexOf`(!!!)
@normanmaurer  Any idea wh

[2020-10-26 05:37] franz1981 commented on #10731
@normanmaurer While having fun implementing this I've found something odd while adding this test to by adding this test to `AbstractByteBufTest`:
[code]
See the test results:
![image](https://user-images.githubusercontent.com/13125299/97137221-99819f00-1755-11eb-89e7-4755c1c8feef.png)

I don't think is expect or I'm not correctly using the `setXXXLE` methods...

[2020-10-26 12:02] #10723 closed

[2020-10-26 13:16] normanmaurer commented on #10730
Please include the full output

[2020-10-26 13:17] normanmaurer commented on #10682
@joreilly I guess you want to open a issue in ktor then... I have no idea what the project is doing under the hood

[2020-10-26 13:17] #10682 closed

[2020-10-26 13:17] normanmaurer commented on #10661
I will close this one for now again... Please reopen once you have more infos to provide

[2020-10-26 13:17] #10661 closed

[2020-10-26 13:19] chrisvest commented on #10713
Yeah, looks like there's a bug in how the pooled buffers are maintaining their reference counts. Pooled and unrolled buffers should behave the same, and `retainedSlice()` should be equivalent to `slice().retain()`.

I think it would be a bug in the integrators code. Releasing more than you acquired/retain is just wrong use of reference counting.
I see the appeal of having the second `slice2.releas

[2020-10-26 13:21] normanmaurer commented on #10660
If you can provide me with the heap dump I can have a look this week. You can sent the link to norman dot maurer at googlemmail dot com

[2020-10-26 13:22] normanmaurer commented on #10715
Closing this as I think it works as expected

[2020-10-26 13:22] #10715 closed

[2020-10-26 13:22] normanmaurer commented on #10657
@CarlOsterberg like @hyperxpro said... We love PRs. That said you may find something useful in the `hexproxy` example.

[2020-10-26 13:22] #10657 closed

[2020-10-26 13:23] normanmaurer commented on #10616
I think this was fixed ?

[2020-10-26 13:23] normanmaurer commented on #10616
/cc @chrisvest

[2020-10-26 13:24] normanmaurer commented on #10604
I will close this one for now... @dmpnv please reopen if you can still reproduce with the latest netty release of the 4.1 branch.

[2020-10-26 13:24] #10604 closed

[2020-10-26 13:24] #10590 closed

[2020-10-26 13:25] normanmaurer commented on #10550
I will close this as @alkakumari42 never responded...

[2020-10-26 13:25] #10550 closed

[2020-10-26 13:29] #10649 closed

[2020-10-26 14:16] chrisvest commented on #10713
Turns out this happens because for pooled buffers, we also pool the buffers we use for slices. This means the slices must maintain independent reference counts in order to know when to return to the pool.

This should not have any impact on the behaviour as long as retain/acquires and releases are paired up correctly.
I wonder if we might just consider this an implementation detail that leaks thro

[2020-10-26 14:27] chrisvest commented on #5225
@abhowmik

That, or you could upgrade all of them to 4.1.52.

[2020-10-26 14:43] chrisvest commented on #10293
There's not a lot to go on, here. If you can investigate in your environments and deployments to narrow it down, it would be helpful. The stack trace that @piitw posted has also been scrambled or anonymised somehow, so that doesn't provide much insight. The number of retransmissions in the tcp dump, and how long it takes for the handshake to progress, also looks suspicious.

[2020-10-26 14:57] chrisvest commented on #7130
@hamdiallam You place the `HttpClientCodec` before the `HttpObjectAggregator` in the channel pipeline. The `HttpObjectAggregator` javadocs has an example.

[2020-10-26 15:06] normanmaurer commented on #10579
@swoky as @hyperxpro said you may be able to modify the `ByteBuf`. Thats the only way I can think of atm.

[2020-10-26 15:06] #10579 closed

[2020-10-26 15:31] hyperxpro commented on #10731
Possible to do Draft PR?

[2020-10-26 15:37] franz1981 commented on #10731
@hyperxpro
Already done on a private branch: need first to understand what's the problem with LE/BE order first!

[2020-10-26 16:06] chrisvest commented on #10713
We've had a discussion about this, and concluded that the exact value of the `refCnt` is implementation defined, except when it is zero which means the thing has been closed or deallocated.

We'd like to make this more consistent and predictable, but that would be for Netty 5. In Netty 4 we'll keep it like this. The important thing is that things are correctly deallocated when reference increments

[2020-10-26 16:06] #10713 closed

[2020-10-26 19:20] chrisvest commented on #10731
@franz1981 I don't get any test failures when I run all the `AbstractByteBufTest`. Both `master` and `4.1` branches pass. Maybe you have some local changes somewhere.

[2020-10-26 20:32] franz1981 commented on #10731
@chrisvest you should add the test I've linked on https://github.com/netty/netty/issues/10731#issuecomment-716315268

[2020-10-26 21:55] suyambuganesh commented on #5828
I think this issue can be closed. Check the issue https://github.com/netty/netty/issues/6750

[2020-10-27 14:51] normanmaurer commented on #5828
You are right

[2020-10-27 14:51] #5828 closed

[2020-10-28 08:17] CodingOX commented on #10437
same issue...

[2020-10-28 08:21] normanmaurer commented on #10437
If you think there is a leak please open an issue with the leak report.

[2020-10-28 08:27] CodingOX opened #10739 "Use Websocket , Memeory Leak Notice"
### Actual behavior
Sometimes show logs.
[code]

### Netty version
4.1.52 Final

### JVM version (e.g. `java -version`)
openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.8+10)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.8+10, mixed mode)

### OS version (e.g. `uname -a`)
Mac OS X 10.15.7 19H

[2020-10-28 08:28] normanmaurer commented on #10739
Sow the handler that handles the `WebSocketFrame`... This is a handler you implemented.

[2020-10-28 08:49] CodingOX commented on #10739
My `WebsocketFrame` hanlder code，Some business codes omitted.
[code]

[2020-10-28 08:50] hyperxpro commented on #10739
`val body = frame.retain().text()`

If you call `retain` then you've to release it.

[2020-10-28 08:58] normanmaurer commented on #10739
As @hyperxpro said... imho the whole `retain()` call makes no sense in your use case

[2020-10-28 08:58] #10739 closed

[2020-10-28 09:01] CodingOX commented on #10739
Thanks a lot...

[2020-10-28 09:01] CodingOX commented on #10739
Thanks a lot...

[2020-10-28 10:06] hyperxpro opened #10742 "HttpToHttp2ConnectionHandler incapable of handling multiple stream"
### Expected behavior
`HttpToHttp2ConnectionHandler` should convert multiple HTTP/1.x objects to HTTP/2 frames with correct stream Id.

### Actual behavior
`HttpToHttp2ConnectionHandler` is only capable of handling 1 HTTP/1.x object stream at 1 time.

This line stores Stream ID from HttpMessage into `private int currentStreamId;`.
https://github.com/netty/netty/blob/fe5a9f3e32433109d0276dffc10ba8e

[2020-10-28 10:09] hyperxpro commented on #10742
The solution is a new HttpContent class which contains Stream ID. Like this:
https://github.com/netty/netty/blob/390d1376988bc0982e0ca48c1e02400953694d1e/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2TranslatedHttpContent.java

`HttpToHttp2ConnectionHandler` take Stream ID directly from `DefaultHttp2TranslatedHttpContent` instead of relying on previously stored Stream ID.
http

[2020-10-29 13:58] chrisvest commented on #10616
I get the following error, which I don't understand, when I run the reproducer build with a 4.1.54.Final-SNAPSHOT version of Netty:

[code]

These are the changes I made to the reproducer repo in order to get it sort-of building with custom jar files:

[code]

[2020-10-29 14:09] hyperxpro opened #10748 "Http2FrameCodec#onPushPromiseRead Support"
### Expected behavior
`Http2FrameCodec#onPushPromiseRead` should be supported.

### Actual behavior
`Http2FrameCodec#onPushPromiseRead` is not yet supported. We cannot handle Push Promise Read. The stream is completely ignored.

https://github.com/netty/netty/blob/e9b28e76a366dadaf6da4375c503f670ec3e3ae4/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2FrameCodec.java#L626

### Steps to

[2020-10-29 14:10] hyperxpro commented on #10748
I think we need to add a custom frame to handle Push Promise Read.

@normanmaurer WDYT?

[2020-10-29 14:12] hyperxpro commented on #10748
Maybe something like this.

[code]

[2020-10-29 14:31] heixiaoma opened #10749 "ErrorDataDecoderException"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
 4.1.53.Final
### JVM version (e.g. `java -version`)
java8
### OS version (e.g. `uname -a`)
win10

POST data

{
    "drugResult": "=5%"
}

 new HttpPostRequestDecoder(FACTORY, req);

io.netty.handler.codec.http.multipart.HttpPostRequestDecoder$ErrorDataDe

[2020-10-29 14:38] heixiaoma commented on #10749
content-type = application/json

[2020-10-29 16:26] hyperxpro commented on #10749
Please include more details.

[2020-10-30 00:55] Bennett-Lynch commented on #10731
Nice article. Maybe @richardstartin would be interested, since he mentioned Netty specifically.

[2020-10-30 02:38] heixiaoma commented on #10749
Hello, I submit JSON data with playload. When JSON data contains =%, there will be an exception

And issue https://github.com/netty/netty/issues/6898 The problem is similar, but it is judged that the bug is not closed. I try to look at other people's open source web code and find that stable frameworks use their own decoders. It should be noted that there are some problems with the httppostrequest

[2020-10-30 02:44] heixiaoma commented on #10749
Can httppostrequest decoder be used only for standard decoding, and the data of playload cannot be decoded?

[2020-10-30 03:20] vasantteja commented on #10748
Can I help on this?

[2020-10-30 05:01] hyperxpro commented on #10748
Yes, but first we need to figure out the best way to notify Handler about Push Promise Read.

[2020-10-30 05:09] hyperxpro commented on #8539
@rkapsi Any updates?

[2020-10-30 05:11] hyperxpro commented on #8539
Also, we need a way to notify `SslHandler` that TLS was established using the Early Data method. Because there are some weaknesses to this. Maybe something like `SslHandler#isEarlyData` would do the job.

[2020-10-30 05:12] hyperxpro commented on #8537
@slandelle Are you still handling this or I should go ahead? I have a somewhat working prototype of this with Mozilla Root CA DB.

[2020-10-30 06:13] suntianji123 opened #10752 "HttpUtil.setTransferEncodingChunked:No. 347 should add a flashback array code, otherwise it will change the order of the original attribute values in the linked list"
![11](https://user-images.githubusercontent.com/34296859/97667170-3deb4480-1aba-11eb-9797-c0d072bcc218.png)

[2020-10-30 07:08] hyperxpro commented on #10749
`HttpPostRequestDecoder` is meant for decoding HTTP Post from `ByteBuf`. It'll decode the entire HTTP Post Message not specifically payload. To decode JSON payload from HTTP Post, you need custom decoders.

[2020-10-30 07:15] heixiaoma commented on #10749
OK, thank you for your help. I'll adjust my program

[2020-10-30 07:15] #10749 closed

[2020-10-30 10:30] normanmaurer commented on #10752
This seems to be not valid... we make a copy of the values

[2020-10-30 10:30] #10752 closed

[2020-10-30 10:35] suntianji123 commented on #10752
Changed the order of the original linked list nodes，
Wrong order

[2020-10-30 10:43] hyperxpro commented on #10752
HTTP RFC does not enforce ordering AFAIK.

[2020-10-30 13:33] normanmaurer commented on #10678
Fixes by https://github.com/netty/netty/pull/10695

[2020-10-30 15:10] chrisvest opened #10757 "Migrating to JUnit 5"
I propose that we start migrating the test suite for Netty 5 (the `master` branch) to JUnit 5.

JUnit 5 is more expressive, extensible, and composable in many ways, and it's better able to run tests in parallel.
It can also directly run JUnit 4 tests, using the vintage engine, which means we can do this in small steps; there's no need to migrate all tests all at once.

Once the JUnit 5 infrastruct

[2020-10-30 18:02] jameskleeh opened #10759 "AbstractMemoryHttpData#renameTo corrupts the data"
### Expected behavior
AbstractMemoryHttpData#renameTo produces a file that has the same checksum as the input

### Actual behavior
AbstractMemoryHttpData#renameTo corrupts the resulting file, however it does have the same size

### Steps to reproduce
Call AbstractMemoryHttpData#renameTo with a memory file with multiple parts (composite byte buf)

### Minimal yet complete reproducer code (or URL to

[2020-10-30 18:22] fredericBregier commented on #10759
Might be related to #10623 where an old bug were found:
- when the buffer exceed 1MB, `discardReadBytes` is called to remove old part of memory
- but the way it is done, especially when using in memory, it could change the real bytes associated (if at least 1 HttpData is already found before this call is made)
The issue and associated fix should clear this old bug (very rare so difficult to find o

[2020-10-30 20:16] Bennett-Lynch commented on #10757
Is there any reason that JUnit 5 cannot be added to Netty 4.1?

Considering test artifacts are not exported as part of the build process, it doesn't seem like it should pose a compatibility issue.

[2020-10-30 20:23] normanmaurer commented on #10757
The testsuite is exposed so we can consume it . That said I would not consider this API

[2020-10-31 20:09] hyperxpro opened #10761 "Http2FrameCodec should send WINDOW_UPDATE early"
### Expected behavior
Http2FrameCodec should send `WINDOW_UPDATE` before window size is exhausted (early).

### Actual behavior
Http2FrameCodec sends `WINDOW_UPDATE` after the stream has timed out by HTTP/2 server and Reset Frame is sent by HTTP/2 Server.

### Steps to reproduce
Set Initial Window size of 10000 and fetch content from HTTP/2 server of more than 10000 bytes. Reading of Data frames w

[2020-10-31 20:11] hyperxpro commented on #10761
![Screenshot (5)](https://user-images.githubusercontent.com/24762260/97789003-3c696b80-1be3-11eb-9276-d8964262c86d.png)

Pcap File Link: https://drive.google.com/file/d/1F6ErZ-aNfHgjMeStpg8wBhZk3fK8wzs-/view?usp=sharing

[2020-10-31 20:11] hyperxpro commented on #10761
I tried fetching www.google.com using Http2FrameCodec based Netty HTTP/2 Client.

[2020-11-01 06:52] hyperxpro commented on #10761
Yes, we can send a manual WINDOW_UPDATE frame but we should have an automated way of doing it too. Maybe Http2FrameCodec can have a constructor option to enable auto increment of window size?

[2020-11-02 06:43] amizurov commented on #10639
@philsttr Could you please check fix and close issue if everything is ok.

[2020-11-02 08:04] skychengit commented on #10722
protobuf-java version too low ,whit grpc (3.0) Are not compatible

[2020-11-02 08:04] skychengit commented on #10722
with grpc (3.0) Are not compatible

[2020-11-02 18:36] hyperxpro commented on #10761
Alright, the problem is in `DefaultHttp2LocalFlowController`. I need to properly adjust Window update Ratio. Will open PR soon.

[2020-11-02 18:36] #10761 closed

[2020-11-02 21:45] philsttr commented on #10639
Fixed in #10646

[2020-11-02 21:45] #10639 closed

[2020-11-03 17:43] JLLeitschuh opened #10768 "Please open a security advisory"
Hello Netty Team,

I'd like to privately disclose a security vulnerability in netty.

Would you be willing to open an advisory here so we can discuss the details?

https://github.com/netty/netty/security/advisories

Cheers,
Jonathan Leitschuh

[2020-11-03 20:10] normanmaurer commented on #10768
@JLLeitschuh can you just follow what is outline here: https://github.com/netty/netty/blob/4.1/SECURITY.md ?

[2020-11-03 20:11] #10728 closed

[2020-11-03 23:09] hyandell opened #10772 "Incorrect license id in NOTICE.txt"
The NOTICE.txt file ends with:

[code]

This license is the Apple Public Source License 2.0, not the Apache License 2.0.

---

[2020-11-04 01:57] ejona86 commented on #10670
I don't see a good way to update `incrementExpectedStreamId()` from `DefaultHttp2FramReader`. It can't call the listener to do it and when an exception is thrown the caller doesn't know which frame it was processing nor the streamid for it.

Again, "I don't see a good way." But I see several variations via exceptions:
1. Http2ConnectionHandler is pessimistic and treats all connection errors with S

[2020-11-04 07:21] hyperxpro commented on #10772
Thanks for reporting. #10773 PR will fix this.

[2020-11-04 07:23] normanmaurer commented on #10772
@hyandell doh! Thanks for catching this.

[2020-11-04 08:24] normanmaurer commented on #10670
I think I would go for 1) to keep it simple... 2) doesn't sound too bad as well.

[2020-11-04 09:30] chrisvest commented on #10757
JUnit 5 is now enabled in both the `4.1` branch and the `master` branch.

[2020-11-04 09:40] #10772 closed

[2020-11-04 15:51] normanmaurer commented on #10525
@ejona86 any ideas about this one ?

[2020-11-05 08:07] #10670 closed

[2020-11-05 15:48] JLLeitschuh commented on #10768
Hey @normanmaurer,

Your SECURITY.md links to a google group that I can't access. And it doesn't convey what email to send information to, so currently, no, I can't. I'd like if we could perform disclosure via the GitHub Security Advisories, so if we could skip the step of reporting via email, that would be nice for me, but I'm happy to use email initially if required.

[2020-11-05 17:06] normanmaurer commented on #10768
Please use the group.... you can just sent an email there: netty-security@googlegroups.com

[2020-11-05 19:04] JLLeitschuh commented on #10768
Okay, will do! 😀

[2020-11-05 20:13] ejona86 commented on #10525
That `IllegalArgumentException` is quite cryptic, but looking at the code it should have said: "Cannot add an element that is already in the queue." I'll note that it looks like there is a very deep hierarchy of streams, such that it is effectively a linked list. I think the browser is providing a very strict dependency order.

There appears to be a clearly matched [poll](https://github.com/netty/

[2020-11-06 06:53] oxplay2 opened #10777 "suggestion: netty/example/objectecho inform about missing "implements Serializable" on client side"
Hello,

as new user i wanted to try Objectecho "Example", and was confused when i sent **Serializable Object** that were **containing** an **"non-serializable" Object** as some depth field(that i didnt notice earlier), it was not sent at all, and i received no information at all. It took me time to debug and notice that one of its fields was an object that didnt implement Serializable.

Thats why

[2020-11-06 10:16] thomasmey opened #10779 "question for mulitpart name and filename (MemoryFileUpload)"
Hi,

one question regarding the name and filename that is being passed to the MemoryFileUpload.

My selfmade fuzzer insert a randomly generated string, i.e. full unicode into the name and filename of multipart/data.
are there any restrictions regarding the content of the name and filename?
what happens when the name/filename contains characters like "; (i.e. characters being used in creating conte

[2020-11-06 16:26] matildasmeds opened #10781 "Question about multiple TCP ports in the same service"
We are looking into how to expose multiple TCP ports using Netty, because we need different handling pipelines based on message source.

We see following implementations in the wild:
* Create one ServerBootstrap for each port. This solution has some overhead (not known how much), and separate thread pools for each ServerBootstrap.
* Bind each port to the same ServerBootstrap. With this option it m

[2020-11-06 16:35] normanmaurer commented on #10781
You should use multiple bootstraps but use the same EventLoopGroups for these. This way you share the thread pools.

[2020-11-06 16:38] matildasmeds commented on #10781
Great! On code level this is straight-forward to setup. Based on docs we just weren't sure if it is "supported" in a sense. Thank you for the prompt response. :100:

[2020-11-06 16:43] matildasmeds commented on #10781
Would you use the same EventLoopGroup for both boss & worker threads, or separate?
In case of separate, how many boss threads per bootstrap?

[2020-11-06 17:13] matildasmeds commented on #10781
Copying the answer from Twitter here (in case someone finds the issue and needs this info)
"This depends on what you do etc… attach a profiler to pick the right one. Usually I would start with using the same group for boss and worker"
Closing issue. Thanks! 💯 🎉

[2020-11-06 17:13] #10781 closed

[2020-11-06 17:43] travishaagen opened #10782 "Websocket checkStartsWith doesn't work as expected"
### Expected behavior

The websocket `checkStartsWith` (#10583) feature should support all of the following URLs:

- /
- /?param
- /subPath
- /subPath?param

### Actual behavior

No matter whether you set it to true/false it only supports the websocket path itself with:

- /
- /?param

### Steps to reproduce

Modify the websocket server example to set this config param?

### Minimal yet complete r

[2020-11-06 17:59] travishaagen commented on #10782
As a workaround, I seem to be able to overwrite the URI before the handshake: `req.setUri("/");`

[2020-11-07 10:42] hyperxpro commented on #10777
Enable `DEBUG` log level.

[2020-11-07 12:15] oxplay2 commented on #10777
if you mean:

p.addLast(new LoggingHandler(LogLevel.DEBUG));

do not help. No information is printed. **(using non-serialized object - that dont work)**

--------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------
**BELOW IS WORKING CASE, BUT PROBABLY FOUND SOME new BUG**:

[2020-11-07 12:34] oxplay2 commented on #10777
**Also next issue i have** (i still write in this github issue, since mayeb its all related)

why, sometimes, it write "CHANNEL is active", while it is not executing "channelActive" in ServerHandler(ChannelInboundHandlerAdapter) i have for it.

like i have:

[code]

but anyway in 50% of run, i dont see println and ctx is not setup.(my warning message)

[2020-11-09 10:21] 24king commented on #1706
use epoll + SO_REUSEPORT is okey, but (srcIp, srcPort, targetId, targetPort) is the same
so you need to process datagram with another threads

[2020-11-11 06:56] Ech0Fan opened #10791 "ByteBuf#setBytes(xxx) cause JVM crash"
### Expected behavior

[code]
this code is expecting a NPE

### Actual behavior

JVM crashed after calling `PlatformDependent.copyMemory(src, srcIndex, addr, length)`.
Maybe we should check whether the `byte[] ` is null?

https://github.com/netty/netty/blob/944a0205862e32f1020647bbf4ef4eca5587446e/buffer/src/main/java/io/netty/buffer/PooledUnsafeDirectByteBuf.java#L198-L201
https://github.com/nett

[2020-11-11 06:58] nimit95 commented on #8936
What was the issue here?

[2020-11-11 07:15] franz1981 commented on #10791
It makes sense!
prs are welcome: we love contributions :)

[2020-11-11 09:43] Ech0Fan commented on #10791
Ok, I'll try :)

[2020-11-11 13:25] slandelle opened #10792 "WebSocketClientExtensionHandler doesn't check if extensions are already present in sec-websocket-extensions header"
### Expected behavior

Netty verifies that extensions are not already present in sec-websocket-extensions header before appending them.

### Actual behavior

Netty doesn't check, possibly resulting in duplicated values.

### Steps to reproduce

Just read existing code: https://github.com/netty/netty/blob/netty-4.1.54.Final/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/extensions/

[2020-11-11 13:25] slandelle commented on #10792
Will provide a PR, probably next week.

[2020-11-11 16:01] almson opened #10794 "[Feature] Splitting a pipeline"
I'm wondering if there is a canonical way to be able to split a pipeline and forward the same message to multiple handler pipelines. I wrote a class that tries to do this, but I feel like I'm fighting against Netty's architecture. I've thoroughly tested using a single instance of this class, but I haven't yet tried nesting them (making a tree).

An alternative is to forego Netty's pipeline functio

[2020-11-11 20:16] jvican commented on #9278
@graemerocher I'm also running into this issue. I'm not sure I fully understand why this `NoSuchMethodException` is being thrown and why it's fine to ignore it. In a vert.x based application I compiled with graalvm native, I'm getting hundreds of these reflective errors when starting up because I have the `io.netty` level set to `FINE`.

Are these errors expected? I'm using `4.1.49` so the netty v

[2020-11-12 10:18] gavenpeng opened #10796 "Epolleventloop taskQueue is full and the thread is block block with epollwait epollwait at epollWaitNoTimerChange and nextWakeupNanos is -1"
We have a problem with netty at host network is use full, the epolleventloop tastqueue is full  lead to can't submit task to taskqueue,throw RejectedExecutionException we dump the heap find the block eventloop is block with epollwait at
epollWaitNoTimerChange ,but the nextWakeupNanos value is -1, because of this, the wakeup operate after the submit task
is not exec :

if (!inEventLoop && nextWakeu

[2020-11-13 22:48] ArjanSchouten opened #10797 "Netty on GraalVM with substitutions not fully working as expected"
### Expected behavior
The `NetUtilSubstitutions` implement a set InetAddress, Inet4Address and Inet6Address dummy implementation.

### Actual behavior
See logging with exceptions below. I expect no exceptions related to netty.

### Steps to reproduce
Have a running docker engine since it uses the buildpacks from spring.
[code]
### Minimal yet complete reproducer code (or URL to code)
See steps to

[2020-11-14 10:20] ggndnn commented on #10192
To run with `paranoid` is helpful to find out the leak point. The leak log above only shows the parent byte buffer's records, there may be some derived buffers' records (by duplicate, slice or retain) not be recorded under current detection level.

[2020-11-15 02:40] njhill commented on #10796
@gavenpeng any chance you could provide a reproducer? It should not be possible for the event loop to get stuck in this state, all I can think of is that a write syscall failed somehow. Your race condition suggestion isn't correct - if the write happens prior to the epoll_wait then it will just wake immediately.

Circumstantially I wonder if it's somehow related to your use of a bounded task queue

[2020-11-15 03:08] MrLawrenc commented on #10599
What's the reason

[2020-11-15 03:58] #4715 closed

[2020-11-15 11:16] lp9937 opened #10798 "JDK 11 & Netty 4.1.45: PlatformDependent0$6 cannot access class"
java.lang.UnsupportedOperationException: Reflective setAccessible(true) disabled
	at io.netty.util.internal.ReflectionUtil.trySetAccessible(ReflectionUtil.java:31) ~[netty-common-4.1.53.Final.jar:4.1.53.Final]
	at io.netty.util.internal.PlatformDependent0$4.run(PlatformDependent0.java:238) ~[netty-common-4.1.53.Final.jar:4.1.53.Final]
	at java.base/java.security.AccessController.doPrivileged(Nativ

[2020-11-15 12:13] rpuch commented on #10797
Hi @ArjanSchouten.

I tried to build your project and reproduced the problem. (Stangely enough, the build downloads GraalVM 20.2.0 on each run, aren't you aware of a way to make it cache the downloaded file? The download is pretty slow).

To be honest, I'm not an expert in GraalVM (nor its Native Builder feature). Anyway, it seems strange that any field store could be possible because `NetUtil.LOC

[2020-11-15 12:15] rpuch commented on #10797
#10630 was actually authored to make the changes described in the stackoverflow post obsolete. The solutions differ n details, because access to Netty code allowed to avoid using set-and-store strategy and just use setter. So, ideally, having #10630 included in Netty, one doesn't need any modifications suggested in the stackoverflow post.

[2020-11-15 12:16] rpuch commented on #10797
BTW, why do you believe that https://github.com/spring-projects-experimental/spring-graalvm-native/issues/184 has any relation to this one?

[2020-11-15 13:18] rpuch commented on #10797
Ok, I think I see what causes the problem.

The 3 fields (LOCALHOST4, LOCALHOST6, LOCALHOST) are only written in `NetUtil` static initialization block.

When `NetUtil` gets initialized at build time, the initialization block does not get initialized at runtime, so the initialization block does not run (at runtime), and the field is only accessed with reads. Getters on substitutions are enough.

Bu

[2020-11-15 13:37] rpuch commented on #10797
@ArjanSchouten could you please check Netty built from #10799 to see whether it fixes the problem for you?

[2020-11-16 06:22] gavenpeng commented on #10796
thanks at @njhill ,we use the default reject handler and use a bound task queue, i  self understand the epoll wait at et mode
not wake immediately if the ready buffer no channge event if write happens prior to the epoll_wait ，if not so,the epoll event loop can't block at epoll wait always,this is my understand please help

[2020-11-16 08:01] #10791 closed

[2020-11-16 08:21] normanmaurer commented on #10798
That's expected and is just logged at debug level. Netty will still work as expected

[2020-11-16 08:21] #10798 closed

[2020-11-16 08:33] terrarier2111 opened #10800 "Netty is randomly throwing exceptions"
### Expected behavior
Netty is behaving normal, and not throw exceptions.

### Actual behavior
Netty is randomly throwing the following exceptions during the program execution.
My guess is that it happens when netty tries to write to a channel and fails somehow .
Here are the exceptions thrown from netty:

Nov 16, 2020 9:23:08 AM io.netty.util.internal.PromiseNotificationUtil tryFailure
WARNING: F

[2020-11-16 08:53] Ech0Fan opened #10801 "Considering supporting http2 chunked input"
In Http1, we can use a `ChunkedWriteHandler`  to write a `HttpChunkedInput`,  but we can only use the `Http2DataWriter#writeData(xx)` to write a `ByteBuf` instance in Http2.

Considering supporting `writeChunked(xx)` or a unity class (probably implemetated by `Http2RemoteFlowController#isWritable()` and `Http2RemoteFlowController$Listener#writabilityChanged(stream)`) for writing a large data strea

[2020-11-16 10:28] sdeleuze commented on #10797
FYI this change broke native Netty support in Spring Boot 2.4.0. I will adapt our support accordingly.

@rpuch Thanks for working on a fix, but looking at the changes in #10630, I understand the problem you are trying to solve but maybe we should take a step back on why those changes are needed.

@normanmaurer Just to give more context, as you know GraalVM native started its life with build time i

[2020-11-16 10:54] #10800 closed

[2020-11-16 14:14] njhill commented on #10796
@gavenpeng I don't think your hypothesis is correct, that's not how epoll ET works. There will still be a new edge when the write increments the eventfd and a subsequent epoll_wait will consume this and wake immediately.

Could you provide some example code which reproduces the issue?

[2020-11-16 14:23] XjCyan1de opened #10802 "ByteToMessageDecoder#decodeLast throwing NPE"
### Expected behavior
Not throwing NPE

### Actual behavior
Throwing NPE

### Steps to reproduce
Very rare exception, can't reproduce

### Minimal yet complete reproducer code (or URL to code)
none

### Netty version
4.1.54.Final

### JVM version (e.g. `java -version`)
openjdk version "14.0.1" 2020-04-14

### OS version (e.g. `uname -a`)
Linux vm147733.local 4.19.0-8-cloud-amd64 #1 SMP Debian 4.19

[2020-11-17 06:36] skyguard1 commented on #10802
This is a very accidental situation. There is a ByteBuf object of cumulation in io.netty.handler.codec.ByteToMessageDecoder. Before calling io.netty.handler.codec.ByteToMessageDecoder.decodeLast method, io.netty.handler.codec.ByteToMessageDecoder #channelInputClosed(io.netty.channel.ChannelHandlerContext, java.util.List<java.lang.Object>) did a non-null check:
`void channelInputClosed(ChannelHandl

[2020-11-17 08:57] XjCyan1de opened #10804 "Http2Exception: Frame length: 5263945 exceeds maximum: 16384"
### Expected behavior
Not throwing exception

### Actual behavior
Throwing Http2Exception

### Steps to reproduce
Can't reproduce, occur randomly

### Minimal yet complete reproducer code (or URL to code)
none

### Netty version
4.1.54.Final

### JVM version (e.g. `java -version`)
openjdk version "14.0.1" 2020-04-14

### OS version (e.g. `uname -a`)
Linux vm147733.local 4.19.0-8-cloud-amd64 #1 SMP

[2020-11-17 13:17] hyperxpro commented on #10804
Increase the maximum frame size in `HttpSettings`.

[2020-11-17 15:42] martinfurmanski opened #10805 "Performance regression in buffer pool"
### Expected behavior
Same performance as previous patch version 4.1.51 which on my machine was:
11,778 ± 1,185 ops/us

### Actual behavior
4,946 ± 0,143 ops/us

### Steps to reproduce
Run with JMH something like:

[code]

### Minimal yet complete reproducer code (or URL to code)
see above

### Netty version
4.1.52

### JVM version (e.g. `java -version`)
openjdk version "11.0.7" 2020-04-14
OpenJDK

[2020-11-17 15:43] martinfurmanski commented on #10805
I suspect this to be the cause: https://github.com/netty/netty/pull/10267

[2020-11-17 15:43] normanmaurer commented on #10805
Can you please share a full benchmark ?

[2020-11-17 15:55] martinfurmanski commented on #10805
@normanmaurer So above is basically the full thing, but it depends on how full you want it. I am working within a framework wrapping JMH itself, so I don't have like a clean project. This is the entire method though and the framework shouldn't be doing anything weird, but it attaches the async profiler and I can attach two flame graphs which I have gotten as output.

[code]

This is just part of a

[2020-11-17 16:12] superalb21234 opened #10806 "Vulnerability: Man-in-the-Middle (MitM)"
### Expected behavior

### Actual behavior
netty-handler is vulnerable to man-in-the-middle attacks. The library uses an SSLEngine that does not verify certificate hostnames when establishing connections with clients by default. This allows an attacker to potentially intercept and modify network traffic in a successful man-in-the-middle attack.

### Steps to reproduce

### Minimal yet complete rep

[2020-11-17 16:15] superalb21234 commented on #10806
is there a possible future fix for this vulnerability issue?
FYI: using veracode platform to find some vulnerabilities in the application

[2020-11-17 19:39] hyperxpro commented on #10805
Duplicate of #10362  #9930.

This issue will not be fixed in Netty 4.1.X. It's already scheduled for Netty 5.X in #8537.

[2020-11-17 19:39] hyperxpro commented on #10806
Duplicate of #10362  #9930.

This issue will not be fixed in Netty 4.1.X. It's already scheduled for Netty 5.X in #8537.

[2020-11-18 07:31] gavenpeng commented on #10796
thanks @njhill we test epoll wait after write operator can wake immediately, you are right,but i don't understand why is block at epollwait lead to can't exec the task in task queue ,i could try reproduces the issue ,i will response you if have result

[2020-11-18 09:01] XjCyan1de commented on #10804
This is not a solution to the problem, why do clients send such large frames? Even though the window size is much smaller?

[2020-11-18 10:13] chrisvest commented on #10779
@thomasmey Hi Thomas. Do you think you could create a self-contained automated test for this? The parsing in this area is kind of complicated, and from [reading](https://tools.ietf.org/html/rfc7578#section-4.2) [the](https://tools.ietf.org/html/rfc2183#section-2.3) [specs](https://tools.ietf.org/html/rfc5987) it's not really clear to me how it should be handled.

[2020-11-18 10:35] hyperxpro commented on #10804
There seems to be some confusion. Window size is different and frame size is different thing. If your window size is 2048 but you send frame of 4096 bytes then it'll result in failure.

The reason you're getting this exception is because your client has setting of 16384 but you're sending 5263945.

[2020-11-18 11:28] chrisvest commented on #10782
@Doyuni Can you take a look?

[2020-11-18 12:26] hyperxpro commented on #10801
I will see this for sure.

[2020-11-18 13:00] chrisvest commented on #10777
This should help: https://github.com/netty/netty/pull/10807

[2020-11-19 00:15] Doyuni commented on #10782
@chrisvest Ok, I'll check this.

[2020-11-19 00:36] Doyuni commented on #10782
@travishaagen

I understand that if set websocket path "/test", expect below URLs to pass right?
- /test
- /test?param
- /test/subPath
- /test/subPath?param

[2020-11-19 06:15] XjCyan1de commented on #10804
i don't sending 5263945, client it is.

[2020-11-19 06:47] hyperxpro commented on #10804
So you're running an HTTP/2 server and some unknown client is sending you that frame. Am I right?

[2020-11-19 07:07] normanmaurer commented on #10805
@chrisvest @franz1981 can you have a look at this ?

[2020-11-19 07:07] normanmaurer commented on #10806
Yes as stated we will change this in netty 5.

[2020-11-19 07:07] #10806 closed

[2020-11-19 07:09] normanmaurer commented on #10802
Let me have a look.

[2020-11-19 07:09] normanmaurer commented on #10759
@jameskleeh can you check ?

[2020-11-19 07:10] #10777 closed

[2020-11-19 10:36] chrisvest commented on #10599
It's used for tracking all thread local variables created in any given thread, so that a thread can bulk-remove all of its thread-local variables.

[2020-11-19 12:50] chrisvest commented on #10805
@martinfurmanski Please attach the flame graphs you have.

[2020-11-19 12:56] MrLawrenc commented on #10599
why not delete the threadLocalMap?this can also achieve the purpose of deleting all
why use SetFromMap instead of list.I do not understand.
hope you can answer

[2020-11-19 14:12] XjCyan1de commented on #10804
Right, i'm a HTTP/2 proxy for clients

[2020-11-19 14:59] hyperxpro commented on #10804
Try configuring `Http2Settings` because when the client connects to server, both exchange settings with each other. It should help.

[2020-11-19 16:48] gerdriesselmann commented on #10642
Sorry for not coming back, I somehow lost track of this.

Just for the record: I wrote myself a client to test this: https://github.com/gerdriesselmann/netty-http-client, and also could not reproduce.

Further investigation lead me to think it has something to do with the AsyncHttpClient (AHC) library we use as a wrapper around Netty. I however did not manage to pin-point exactly what part of AHC

[2020-11-19 21:15] krytarowski opened #10809 "NetBSD support"
### Expected behavior

Build and work on NetBSD.

### Actual behavior

Not working on NetBSD.

### Steps to reproduce

Try to build in pkgsrc-wip with these build rules:

https://wip.pkgsrc.org/cgi-bin/gitweb.cgi?p=pkgsrc-wip.git;a=commitdiff;h=216b86d9ff25fb21af74d56ca1f45afe87031aab

Package is called 'java-netty'.

The package is inspired by FreeBSD's ports package for the same software.

### M

[2020-11-20 16:42] travishaagen commented on #10782
@Doyuni : Yes. I haven't tested the latest Netty release either. Thx :)

[2020-11-20 16:43] vjovanov commented on #10797
The GraalVM Native Image team is preparing a PR that will revert build-time initialization for Netty. By aggregating all the issues and request that we get due to this feature, it is clear to us that the default setting should be run time (the same as GraalVM): the maintenance overhead far outweighs the startup performance benefits.

Projects that want to keep build-time initialization for `netty`

[2020-11-20 18:55] #10804 closed

[2020-11-22 15:58] franz1981 commented on #10805
@martinfurmanski any news about the flamegraphs?

[2020-11-22 16:02] franz1981 commented on #10805
@martinfurmanski I strongly suggest to add a Black hole::consumeCpu(token)
With a token params (0, 10, 20, 30) to mimic some usage of the buffer content (you can even cycle all buffer bytes collecting a sum int but is not that reproducible/tunable probably) and jaboid to ust hammer the atomic operations (that's unrealistic and not healthy, giving how cache coherency protocols works).

[2020-11-23 06:36] henrychv opened #10813 "UnsupportedOperationException thrown on macos with KQueue in 4.1.54.Final with io.netty.noUnsafe set to true"
We updated our spring boot project to version 2.3.6.RELEASE which uses netty 4.1.54.Final and now exceptions like the one below are thrown.

When we override version of netty dependencies to 4.1.53.Final in our project, everything works again. (Works also when noUnsafe set to false or when nio is used instead of kqueue).

### Expected behavior
Result is returned from rest api calls.

### Actual be

[2020-11-23 07:05] normanmaurer commented on #10813
Yes thats a bug... Let me fix it asap.

[2020-11-23 07:52] normanmaurer commented on #10813
Fixed https://github.com/netty/netty/pull/10814

[2020-11-23 10:24] normanmaurer commented on #10809
@krytarowski thanks for the report but this will not be good enough IMHO as you just remove the C bindings but it may still be called from the java layer. Consider opening a PR with the changes and we can work from there to get it fixed.

[2020-11-23 11:16] krytarowski commented on #10809
@normanmaurer OK, I'm not a java developer so I need assistance.

[2020-11-23 11:16] Doyuni commented on #10782
@travishaagen
I wrote test code and ran the tests on the above example. All tests were performed normally.
You can test them with the latest version.
Thanks :)

[2020-11-23 13:01] Ech0Fan commented on #10801
sorry, is there any conclusion?

[2020-11-23 13:04] martinfurmanski commented on #10805
Apologies for the delay. I've fallen ill, but I should be back in business in a couple of days.

this is just a single thread though

[2020-11-23 14:24] franz1981 commented on #10805
@martinfurmanski

And you think that atomic primitives knows that? :)

[2020-11-23 16:37] martinfurmanski commented on #10805
@franz1981 You mentioned cache coherence which would imply that you are reasoning about some sort of effect between cores and that it would be relevant for the analysis here. Since this is a single thread on a single core there will be no effect to talk about.

[2020-11-23 16:48] franz1981 commented on #10805
@martinfurmanski

That's not correct. The atomic primitives of Java are being translated, depending on the primitive and the CPU architecture in memory barriers that cause some cache effects that cannot be ignored even on single threaded cases (please take a look at https://shipilev.net/blog/2014/nanotrusting-nanotime/ on the `incrVolatile` benchmark and how/why BlackHole::consumeCPU is being used

[2020-11-23 16:56] hyperxpro commented on #10801
HTTP/2 has chunked data frames already. Do you want some sort of automatic chunking of a big `ByteBuf` or `RandomFileAccess`?

[2020-11-23 18:02] martinfurmanski commented on #10805
I'm afraid I will have to opt-out of engaging on that particular topic further.

[2020-11-23 18:09] franz1981 commented on #10805
It's fine, I reiterate https://github.com/netty/netty/issues/10805#issuecomment-730354776 and we can modify the bench to make it more similar to actual prod code by using consume CPU tokens as JMH parameters as suggested

[2020-11-23 18:20] martinfurmanski commented on #10805
I've uploaded the flame graphs here:
https://raw.githubusercontent.com/martinfurmanski/netty-flame-graphs/master/alloc_free_32k/Netty-4.1.51-Final.svg
https://raw.githubusercontent.com/martinfurmanski/netty-flame-graphs/master/alloc_free_32k/Netty-4.1.52-Final.svg

I'd suggest to zoom in on alloc and free parts separately. For example if you look at PoolArena.allocate in separation you will find t

[2020-11-23 19:18] franz1981 commented on #10805
Search `PoolThreadCache` on both flamegraph and it seems the spot to check...
`4.1.51`
![image](https://user-images.githubusercontent.com/13125299/100005287-fca03900-2dc8-11eb-9f7f-c67e6b0913f5.png)
`4.1.52`
![image](https://user-images.githubusercontent.com/13125299/100005331-117ccc80-2dc9-11eb-8a45-52e3900bd17f.png)

[2020-11-23 19:20] franz1981 commented on #10805
It's nice to see how ThreadLocal is stressed differently from both cases too :)

[2020-11-23 19:37] franz1981 commented on #10805
I see that the new version isn't using any `MemoryRegionCache` and that means that won't benefit from caching.

[2020-11-23 19:58] franz1981 commented on #10805
@yuanrw is it expected that 32K sized allocations won't benefit from normal sized caches? If not, we probably have a trivially fixable bug :)

[2020-11-23 20:32] franz1981 commented on #10805
@martinfurmanski If you set  a lower `io.netty.allocator.maxCachedBufferCapacity` value the 32K I'm sure the performance should be similar. Indexing on normal caches seems the key here

[2020-11-23 22:39] Ech0Fan commented on #10801
Yes, just something like the `ChunkedInput` for writing a large file.

[2020-11-24 01:17] wushengju commented on #7748
By Run brew install autoconf automake libtool to install some tools  does not work also

[2020-11-24 10:00] valerauko opened #10816 "Cannot write/flush HTTP/2 with voidPromise"
### Expected behavior
Can `write` / `writeAndFlush` frames that may close the stream from a HTTP/2 context

### Actual behavior
`Http2ConnectionHandler#closeStream` tries to `addListener` to the future even if it's void. If void, that will fail.

### Steps to reproduce
`writeAndFlush` a Http2DataFrame to the context with Http2FrameCodec present

### Minimal yet complete reproducer code (or URL to

[2020-11-24 10:49] normanmaurer commented on #10802
This should be fixed by https://github.com/netty/netty/pull/10817... Interesting enough this bug exists forever :)

[2020-11-24 13:08] #10802 closed

[2020-11-24 19:18] ArjanSchouten commented on #10797
Thanks all. It's working fine since I use the new version of spring-graalvm-native.

[2020-11-24 19:18] #10797 closed

[2020-11-24 19:29] ArjanSchouten commented on #10797
I believe spring graalvm native implemented some workarounds. Something still needs to be fixed I guess.
Things are either tracked by @vjovanov or @sdeleuze and https://github.com/netty/netty/pull/10799 is also still open. If you feel that this is the issue that keeps track of the things that still need to be done to get rid of the workarounds I can reopen the issue (or someone else can do).

[2020-11-24 22:36] camron-johnson opened #10820 "Whitespace Header Value Decoding Failure"
### Expected behavior

Netty should successfully decode a header field value beginning with a character that Java considers [isWhitespace](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Character.html#isWhitespace(char)) but is not either a space(0x20) or horizontal tab(0x09). According to [RFC 7230 Section 3.2](https://tools.ietf.org/html/rfc7230#section-3.2), there can be

[2020-11-24 23:44] patel-bhavik opened #10821 "ArrayIndexOutOfBoundsException With PooledByteBufAllocator Recycler implementaion"
### Issue Description

While trying to write an HttpMessage using HTTP1 with HttpClientCodec i.e HttpObjectEncoder, Netty is throwing an ArrayIndexOutOfBounds Exception while trying to allocate buffer for headers. Exception seems to be happening in the  PooledByteBufAllocator Recycler Implementation.

[code]

A new buffer is being allocated in Encoder here - https://github.com/netty/netty/blob/ee3

[2020-11-24 23:53] jakobmoellersap opened #10822 "ALPN Support not disabled correctly when running with BCFIPS (BC JSSE FIPS Mode) 1.0.10 on JDK 11 (9+)"
Forgive me for any formal mistakes or if I missed something major, usually I am travelling a bit further upwards in the stack.

### Expected behavior

Disable ALPN and HTTP/2 Support without throwing an error message that the AlpnSslUtils Class cannot be initialized. This is expected in this case, as the Security Provider does not support ALPN in FIPS Mode yet but can still be run in JDK 11 (e.g.

[2020-11-25 07:36] zglslyg opened #10823 "DatagramPacket.recipient() of NioDatagramChannel doesn't return the actual destination IP (multicast address)"
### Expected behavior
get the actual multicast address like : 234.2.1.4
### Actual behavior
get the app is bound to like: 192.168.1.101
### Steps to reproduce
--
### Minimal yet complete reproducer code (or URL to code)
...
 private class MulticastHandler extends SimpleChannelInboundHandler<DatagramPacket> {
        @Override
        protected void channelRead0(ChannelHandlerContext ctx, DatagramP

[2020-11-25 07:57] hyperxpro commented on #10801
@Ech0Fan It's on my TO-DO list. But super busy these days so I'll tackle this a little later.

[2020-11-25 09:36] normanmaurer commented on #10821
Is this reproducible for you ?

[2020-11-25 09:44] normanmaurer commented on #10820
After rechecking the RFC I think there is a problem in how we implement the logic here but I think what you expect is not correct as well.

This is how a header is defined:

[code]

[code]
So while I think its invalid to throw because of invalid separator, the code-points you listed (and also what you used in the unit test) is not allowed as a header value.

[2020-11-25 09:48] normanmaurer commented on #10805
I will have a look.

[2020-11-25 11:27] IgorAlelekov opened #10824 "IndexOutOfBoundsException in HttpPostMultipartRequestDecoder.offer() when Netty updated 4.1.49 -> 4.1.54"
### Expected behavior
No Exception thrown

### Actual behavior
Exception thrown in ServerHandler
java.lang.IndexOutOfBoundsException: writerIndex(178) + minWritableBytes(178) exceeds maxCapacity(178): UnpooledSlicedByteBuf(ridx: 178, widx: 178, cap: 178/178, unwrapped: CompositeByteBuf(ridx: 0, widx: 178, cap: 178, components=1))
	at io.netty.buffer.AbstractByteBuf.ensureWritable0(AbstractByteBuf.

[2020-11-25 11:31] IgorAlelekov commented on #10824
[test.zip](https://github.com/netty/netty/files/5596363/test.zip)

[2020-11-25 11:31] #10824 closed

[2020-11-25 11:37] normanmaurer commented on #10805
I think I have a fix... Just running the testsuite and some benchmarks

[2020-11-25 11:42] doom369 commented on #10824
@IgorAlelekov looks like the same as https://github.com/netty/netty/issues/10281. I have to override `HttpPostMultipartRequestDecoder` in order to fix it.

[2020-11-25 11:51] IgorAlelekov commented on #10824
Thanks, @doom369, could you please to share your own fix as workaround?

[2020-11-25 12:32] yuanrw commented on #10805
Sorry for late reply. It seems like we have a problem in PoolThreadCache.createNormalCaches().
`int arraySize = Math.max(1, log2(max / area.pageSize) + 1);`
arraySize is unsuitable in the new version.

[2020-11-25 12:35] normanmaurer commented on #10805
Yes + there is another issue . I will open a PR in the next hour

[2020-11-25 13:13] normanmaurer commented on #10822
@jakobmoellersap could you share a full running example that shows this ?  Like putting the code somewhere and create a docker file that will just run this one ?

[2020-11-25 14:05] #10805 closed

[2020-11-25 14:08] normanmaurer commented on #10805
Thanks again to everyone involved here...

[2020-11-25 14:22] normanmaurer commented on #10821
Also I wonder if there was another exception before this as well .

[2020-11-25 15:50] jakobmoellersap commented on #10822
Sure I will work a little example out over the weekend :)

[2020-11-25 19:34] patel-bhavik commented on #10821
We are not able to reproduce this behavior. There was no other exception thrown before this.

[2020-11-26 05:35] rishika728 commented on #10411
@normanmaurer , is there some way possible to find which handler in the channel pipeline triggered the read() ? The exception stack trace simply reports the `EpollEventLoop.processReady()` as the trigger point, but doesn't mention anything about the caller/trigger handler. Does the`EpollEvent` have any useful information that could be used to decipher the trigger handler class ?

[code]

[2020-11-26 08:43] IgorAlelekov commented on #10281
@doom369 , looks like that the same fix should be done in HttpPostStandardRequestDecoder as well

[2020-11-26 09:30] doom369 commented on #10281
@IgorAlelekov yes,

[code]

[code]

[2020-11-26 09:47] normanmaurer commented on #3778
The work for QUIC is happening here and I think we are very close for a release: https://github.com/netty/netty-incubator-codec-quic

[2020-11-26 09:47] #3778 closed

[2020-11-26 09:48] normanmaurer commented on #9194
The work for QUIC is happening here and I think we are very close for a release: https://github.com/netty/netty-incubator-codec-quic

[2020-11-26 09:48] normanmaurer commented on #8544
See  https://github.com/netty/netty-incubator-codec-quic for the quic work

[2020-11-26 10:24] normanmaurer commented on #10782
So I am correct that we can close this one ?

[2020-11-26 13:16] travishaagen commented on #10782
Apologies for the delay. Please give me a chance to verify on Monday, after the US holiday.

[2020-11-26 15:05] normanmaurer commented on #10730
Closing as I got no response from the reporter

[2020-11-26 15:05] #10730 closed

[2020-11-27 03:15] ouyangxiaochen opened #10828 "io.netty.channel.DefaultFileRegion.transferTo throws EOPNOTSUPP (java.io.IOException: Operation not Supported)"
Expected behavior
Host A send a file stream to Host B successfully

Actual behavior
Got an IOException：Operation not Supported
ERROR org.apache.spark.network.server.TransportRequestHandler: Error sending result StreamResponse{streamId=/jars/spark-examples_2.11-2.2.1.jar, byteCount=1992533, body=FileSegmentManagedBuffer{file=/opt/spark/examples/jars/spark-examples_2.11-2.2.1.jar, offset=0, length=1

[2020-11-27 15:31] normanmaurer commented on #10828
This exception is thrown from the JDK itself, so there is nothing we can do about it.

[2020-11-27 15:31] #10828 closed

[2020-11-28 14:14] avodonosov opened #10829 "Application fails to fetch dependencies for offline builds (mvn dependency:go-offline) due to ${os.detected.name}-${os.detected.arch} not resolved"
### Expected behavior
Applications that depend on netty should be able to use maven-dependency-plugin go-offline operation to fetch all dependencies for offline builds

### Actual behavior

The below error happens (mvn -X flag is used to include also the maven stack trace):

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:3.1.2:go-offline (default-cli) on project re

[2020-11-30 03:56] valerauko commented on #10816
@normanmaurer I wrapped the `addListener` call in a try-catch to extract the stacktrace:

[code]

[2020-11-30 14:53] travishaagen commented on #10782
Verified fix with `4.1.54.Final` release. Thank you for taking a look @Doyuni

[2020-11-30 14:53] #10782 closed

[2020-11-30 21:13] camron-johnson commented on #10820
I see, thanks for pointing this out. How do you think the characters provided should be handled?

[2020-11-30 21:21] chrisvest commented on #10829
I use Maven 3.6.3 and this works for me on the latest `4.1` branch.

[2020-11-30 21:34] earce opened #10830 "Condition present in AbstractNioByteChannel triggering a websocket disconnect."
### Expected behavior

No explicit expectation but I am looking to understand Netty behavior.

### Actual behavior

`AbstractNioByteChannel.java` triggers a disconnect.

In particular why is the condition present on line 156 [AbstractNioByteChannel.java](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/nio/AbstractNioByteChannel.java#L156) a trigger for a close?

##

[2020-11-30 21:35] earce commented on #10830
@chrisvest opened an issue https://github.com/netty/netty/commit/99c85ef4f55d098cab482da0955ef3f05617758e#commitcomment-44674478, thanks for the heads up

[2020-11-30 23:34] sasconsul commented on #10032
Can the recommended logging level be set in the jHipster generated files?

[2020-12-01 07:44] normanmaurer commented on #10032
I have no idea about jHipster... Ask on their Mailinglist / issue tracker

[2020-12-01 07:46] normanmaurer commented on #10830
Because -1 means EOF https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/nio/channels/SocketChannel.html#read(java.nio.ByteBuffer)

[2020-12-01 07:46] #10830 closed

[2020-12-01 08:27] doom369 commented on #10032
@normanmaurer those errors are posted, again and again, maybe it would make sense to remove the stack traces and just provide a meaningful message instead?

[2020-12-01 17:24] scruz-denodo commented on #6891
Hi,
I uploaded a repository with steps for reproducing the issue:
https://github.com/scruz-denodo/netty-thread-local-issue

It contains two ways for checking the problem.
- Only with Netty.
- Netty + Tomcat for seeing the log error.

Some comments:
- It seems that InternalThreadLocalMap is attached as ThreadLocal to the thread that executes the _connect_ on the client side:
[code]
- The threadloca

[2020-12-01 17:33] jameskleeh commented on #10759
@normanmaurer That is in fact the issue. What release is this scheduled to be included in?. I also discovered that `HttpPostMultipartRequestDecoder` does not honor the javadoc of `setDiscardThreshold`:

[code]

Setting it to 0 does not disable the behavior:

[code]

[2020-12-01 20:00] slandelle opened #10831 "Cope with non-ASCII chars in HTTP headers"
### Expected behavior

Netty can be used to implement the same behavior as browsers and curl wrt `Location` header containing non-ASCII chars.

From [RFC7230](https://tools.ietf.org/html/rfc7230#section-3.2.4):

   ISO-8859-1 charset [ISO-8859-1], supporting other charsets only
   through use of [RFC2047] encoding.  In practice, most HTTP header
   field values use only a subset of the US-ASCII ch

[2020-12-01 20:16] msilva123 commented on #9768
Hi, is there a workaround for this issue?

[2020-12-02 09:11] #10816 closed

[2020-12-02 09:21] normanmaurer commented on #9768
Let me have a look... Sorry I totally lost track of this one

[2020-12-02 22:26] #10353 closed

[2020-12-03 04:44] sms0070 commented on #9419
Is there any update on this?
I'm getting this issue with 4.1.48.Final as well.

[2020-12-03 08:37] normanmaurer commented on #10353
@jwils so did you solve this ?

[2020-12-03 09:47] chenvsdhf55 commented on #10724
问题解决了吗？

[2020-12-03 10:00] git-chenjiqing opened #10833 "netty 接收超过1024字节的数据"
### Expected behavior
单包数据读取大于1024
### Actual behavior

### Steps to reproduce
read单包大小超过1024
### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.2.Final
### JVM version (e.g. `java -version`)
java8
### OS version (e.g. `uname -a`)
win10

[2020-12-03 10:04] normanmaurer commented on #10833
Please use English ... and also include the full stacktrace

[2020-12-03 10:51] violetagg opened #10834 "AnnotatedConnectException: Connection refused: localhost/127.0.1.1:37655"
When there are more than one entries for localhost in `/etc/hosts`, connection is refused.
This happens only when using `DnsAddressResolverGroup`. If `DefaultAddressResolverGroup` is used there is no problem with connection establishment.

[code]

If `127.0.0.1` is first then there is no problem

[code]

Original issue https://github.com/reactor/reactor-netty/issues/1405

### Expected behavior
Con

[2020-12-03 10:59] hyperxpro opened #10835 "Channel#writeAndFlush method costly"
### Expected behavior
Since Netty is asynchronous and all I/O events are handled by EventLoop, there should be the minimal cost of calling `Channel#writeAndFlush`.

### Actual behavior
However, for 1.2M writes, `Channel#writeAndFlush` is taking 26,925 ms.

### Steps to reproduce
Just do lots of write and flush.

### Minimal yet complete reproducer code (or URL to code)
N/A

### Netty version
4.1.5

[2020-12-03 10:59] hyperxpro commented on #10835
![Screenshot (59)](https://user-images.githubusercontent.com/24762260/101001078-ac716580-3584-11eb-8523-815f2dea6fdd.png)

Also, I'm wondering, why Recycler is on fire?

[2020-12-03 11:26] hyperxpro commented on #10835
Btw, Netty Epoll is matching head to head with HAProxy performance. :D

[2020-12-03 11:47] normanmaurer commented on #10835
`writeAndFlush(...)` will walk the pipeline of handlers so its expected that it needs to do some work. That said what I see in your profile doesn't look crazy at all.  Recycler is used for pool a lot of different things. So This sounds about right as well.

[2020-12-03 12:46] single-wolf commented on #10834
That seems none of Netty`s business, cause just connect 127.0.0.1:37655 successfully but not 127.0.1.1:37655

[2020-12-03 14:49] theakshaypilania opened #10837 "Blocking call found with Spring Webflux and r2dbc-mysql driver."
### Overview
Hi,
So I am using Spring Webflux 5.3.1(which internally uses Netty) and I am integrating it with a MySql R2DBC driver(r2dbc-mysql) to make a reactive application.
It works fine and everything looks good.
But when I tried to use BlockHound(a tool created by the Spring team to detect blocking calls), to make sure that my API is non-blocking end-to-end but it shows that there is a blocki

[2020-12-03 15:43] normanmaurer commented on #10834
@violetagg can you connect to the service via telnet on `127.0.1.1` ?

[2020-12-03 15:58] hyperxpro commented on #10835
Sounds fair enough but:
1. I only have 1 Handler in the pipeline. And `channelRead` is just calls `writeAndFlush` into `DownstreamChannel`.

2. I'd love to know a little more about the object pooling mechanism. Because after 1.2M writes and reads, it has created 800k Instances. Is this normal? Also, can I tune it to optimize it for high throughput?

I'm pushing Netty hard and it's super strong ind

[2020-12-03 16:38] violetagg commented on #10834
[code]

[2020-12-03 16:47] johnou commented on #10835
@hyperxpro what are you doing with the write and flush promise? If nothing you may consider passing in voidPromise().

[2020-12-03 16:50] hyperxpro commented on #10835
I do nothing with the returned `ChannelFuture`. `voidPromise` creates a new instance too? And how does using it will affect performance?

[2020-12-03 17:08] jwils commented on #10353
Hey Norm Kind of, We worked around it by hacking in the updated http cookie code back to our version. I believe there is still some race condition and we can't upgrade our version of netty until we figure out the root cause. I haven't been able to find the time to get a reproducible example, and I've moved on to other projects. Closed it so you didn't have the pending ticket without enough details

[2020-12-03 17:15] violetagg opened #10838 "Check for valid status codes should be done in CloseWebSocketFrame instead of WebSocketCloseStatus"
According to the specification https://tools.ietf.org/html/rfc6455#section-7.4

[code]

I want to use `WebSocketCloseStatus` in the applications in order to indicate that the
connection was closed abnormally.

I do not intent to send `CloseWebSocketFrame` with such `WebSocketCloseStatus` (with 1006 status code).

However the current implementation checks the validity of the status codes in `WebSoc

[2020-12-03 17:34] johnou commented on #10835
@hyperxpro like this

[code]

[2020-12-03 17:36] hyperxpro commented on #10835
Traffic is not being sent with `voidPromise`. ;/

[2020-12-03 17:38] johnou commented on #10835
oh side note, this will break write idle timeout with IdleStateHandler.

[2020-12-03 17:39] johnou commented on #10835
then your channel pipeline might rely on it..?

[2020-12-03 17:41] hyperxpro commented on #10835
I had IdleStateHandler but removed it. Nothing in my pipeline relies on `writeAndFlush` AFAIK.

Would you mind talking look? https://github.com/shieldblaze/ExpressGateway/tree/main/protocol-tcp/src/main/java/com/shieldblaze/expressgateway/protocol/tcp

[2020-12-03 18:02] hyperxpro commented on #10835
Man this thing is going beyond 2M Instances ;/ and then GC kicks in and freeze.

[2020-12-03 19:36] hyperxpro commented on #10835
Okay, I got `voidPromise` working but no difference in object creation and flush time. Throughout is almost near HAProxy and NGINX levels.

Just worried about those big Recyclers now.

[2020-12-03 19:39] normanmaurer commented on #10835
I wonder if you are just writing to fast and so stuff pills up. Are you handling writability at all ?

[2020-12-04 01:38] git-chenjiqing commented on #10833
Hello, thank you for your reply
I'm using netty to read data,However, the size of a single packet exceeds 1024.
So I get the following exception

[2020-12-04 01:45] AldirchEugene commented on #10724
thank you so much

[2020-12-04 02:36] earce commented on #10830
@normanmaurer thanks for the quick response, is that EOF indicative of the server having sent a close/shutdown hook?

[2020-12-04 03:42] hyperxpro commented on #10835
Yes, I'm benchmarking so lots of writes. I am not handling writability because it's an L4 Load Balancer and I push data down to the backend server as soon as I read it.

[2020-12-04 05:01] franz1981 commented on #10835
@hyperxpro

That doesn't mean that data would actually being flushed ASAP as you expect anyway...
I suggest to use some other tool (nudge nudge async-profiler) to get the over-all picture (per-thread?) of cpu and alloc(ation) side.

As a general rule of thumb, if Recycler are hanling burst of allocation/releases across threads is quite normal they cost a bit: that's something that could (and is ni

[2020-12-04 05:29] hyperxpro commented on #10835
@franz1981 Here is the branch where I'm testing: https://github.com/shieldblaze/ExpressGateway/tree/prof/protocol-tcp/src/main/java/com/shieldblaze/expressgateway/protocol/tcp

I'm going to deploy and test on Google Cloud VM and also test IO_URING performance. I don't have the async-profiler and looks like it's not available for Windows.

Just wondering, even when using `voidPromise` I can see `De

[2020-12-04 06:05] wangzihaogithub commented on #10353
I had exactly the same situation, please don't close this issue

[2020-12-04 06:12] normanmaurer commented on #10835
@hyperxpro no matter what you do you need to keep `writability` in mind if you write something like a proxy. Otherwise you risk to blow up memory.

For proxy like applications it is usually good enough to stop reading when there is too much stuff in the outbound channel and  turn out reading again once the channel become readable again.

[2020-12-04 06:14] wangzihaogithub commented on #10353
In non-IO thread processing, must be able to reproduce.

[2020-12-04 06:39] normanmaurer commented on #10833
@git-chenjiqing you need to check first if there is enough data to read. Remember netty is non blocking so it will push bytes through the pipeline as it sees it. You may need to implement your own `ByteToMessageDecoder` to buffer data until there is enough to be read

[2020-12-04 06:39] #10833 closed

[2020-12-04 08:56] xiaoxipanda commented on #10493
You can reference cassandra implement.

[Message#Dispatcher](https://github.com/apache/cassandra/blob/cassandra-3.11.9/src/java/org/apache/cassandra/transport/Message.java)

[2020-12-04 09:50] violetagg commented on #10838
Also  for `CloseWebSocketFrame` constructors where you can provide directly `int` for the status code, I see that the status code is check when sending the frame, but isn't it better to check it when constructing `CloseWebSocketFrame`?

`new CloseWebSocketFrame(1006, "Abnormal closure")`

[code]

[2020-12-04 10:53] chrisvest commented on #10837
We tell block hound to permit blocking calls in `SSLEngine.wrap`: https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/Hidden.java#L108-L112

Does block hound also bark when you use a different `SSLEngine`, like `ReferenceCountedOpenSslEngine`?

[2020-12-04 11:19] violetagg commented on #10837
@chrisvest Isn't it related to `unwrap` and not `wrap`

[code]

[2020-12-04 12:26] hyperxpro commented on #10835
IO_URING on Fire. Free 5x performance improvement over Epoll. 🔥🔥🔥🔥

![Screenshot (62)](https://user-images.githubusercontent.com/24762260/101163565-c8930680-3659-11eb-8b11-6c90b7c09cba.png)

[2020-12-04 12:27] hyperxpro commented on #10835
I'll take care of this for sure. But for now, I'm debugging every single call and Netty is just working perfectly.

[2020-12-04 12:34] chrisvest commented on #10837
@violetagg Oh, right. I misread it.

[2020-12-04 14:11] hyperxpro commented on #10835
I'm closing this now. Switching to IO_URING did decrease access time and increased throughput.

Thanks to everyone for suggestions and their efforts. :)

[2020-12-04 14:11] #10835 closed

[2020-12-04 14:49] normanmaurer commented on #10835
@hyperxpro if you have any perf numbers to share (before and later) in terms of thoughtput please let us know

[2020-12-04 14:51] normanmaurer commented on #10837
@violetagg are you interested in providing a PR ?

[2020-12-04 14:52] violetagg commented on #10837
ok

[2020-12-05 11:50] wangzihaogithub commented on #10353
hi,  I found the problem and fixed it. Can you help with the merging.  thanks.

[2020-12-06 17:17] hyperxpro commented on #10835
[code]

My kernel is hacked a little bit so not vanilla but even on the vanilla kernel, people should be able to get good results.

[2020-12-06 17:19] hyperxpro commented on #10835
Unfortunately, Epoll TCP Splice vs Read and Write makes no difference. Don't know why. ;/

[2020-12-06 23:06] avodonosov commented on #10829
@chrisvest , redisson [uses](https://github.com/redisson/redisson/blob/b12cf1bd7732aae06287b1398ea46f2436e62694/pom.xml#L131) version 4.1.54.Final.

Note that I run go-offline on on netty itself, but on an application that uses netty - redisson.

Fails for me with maven 3.6.3 (and on 3.3.9 the same way).

I don't know if that netty's fault, maven-dependency-plugin fault or os-maven-plugin fault.

[2020-12-07 05:39] wangzihaogithub commented on #10796
If your current thread is a worker thread,  then any write and flush operations you do during this time will not take effect.  IO Tasks (WriteTask , FlushTask) or selecct() are performed only when your current event loop runs out.

Did you execute write or flush multiple times on the EventLoop thread?

[2020-12-07 05:40] wangzihaogithub commented on #10796
readFinsh -> runAllTask() -> writeTask, FlushTask

[2020-12-07 07:06] #10837 closed

[2020-12-07 10:20] chrisvest commented on #10829
@avodonosov I just checked out redisson and ran `mvn clean install -DskipTests && mvn dependency:go-offline` with Java 8 and Maven 3.6.3, and it worked. However, if I override the version of the dependency plugin as in the reproducer steps, then it fails. So it turns out I'm getting a different version of the dependency plug-in by default: `org.apache.maven.plugins:maven-dependency-plugin:2.8:go-o

[2020-12-07 12:20] #10838 closed

[2020-12-08 09:44] franz1981 opened #10849 "ByteBuf should not enlarge in power of 2"
ByteBuf should increase capacity using a golden ration eg 1.5 a-la ArrayList, instead of using the next power of 2 capacity to reduce the wasted space.

[2020-12-08 20:29] sameerathangudu commented on #9803
Where is this configurable ? cc @normanmaurer

[2020-12-09 08:44] normanmaurer commented on #10820
@camron-johnson I think it still should throw because of header validation. But it should indicate that these are not valid for header values.

[2020-12-09 14:42] doom369 opened #10851 "Netty Threads consume 100% of the CPU after update to the latest version"
Hello, after the update:

netty 4.1.54.Final -> 4.1.55.Final
boring ssl 2.0.34.Final -> 2.0.35.Final

During one of the test cases with file upload, we found netty epoll threads start consuming 100% of the CPU.
Stack trace:

[code]

I'll continue to investigate, however, maybe you have some clues.

openjdk version "11.0.9.1" 2020-11-04

[2020-12-09 16:29] hyperxpro commented on #10851
Can you share the code to reproduce?

[2020-12-09 16:31] hyperxpro commented on #10849
Sounds good.

Just 1 question, when the capacity is increased, does `ByteBuf` allocate memory at the same time or its lazy allocation?

[2020-12-09 18:31] jameskleeh commented on #10851
Experiencing this as well

In this code:

[code]

`newOffset` bounces between 9 and 4

The unencoded chunk is:

[code]

Delimiter is `--c2b0cb9ac1cf7cc7`

Offset is `0`

I think the issue is `newOffset = posFirstChar + offset;` should be `newOffset = posFirstChar + newOffset;`

[2020-12-09 19:45] fredericBregier commented on #10851
@jameskleeh You might be right ! Sorry for that...
Could you check the Junit test with this change?

[2020-12-10 15:20] santdelv opened #10856 "netty-transport-native-kqueue-4.1.52.Final-osx-x86_64 jar (and all previous versions) have a wrong Bundle-NativeCode on the manifest file"
### Expected behavior
The value should be:
Bundle-NativeCode: META-INF/native/libnetty_transport_native_kqueue_x8
 6_64.jnilib; osname=MacOSX; processor=x86_64

### Actual behavior
The value is:
Bundle-NativeCode: META-INF/native/libnetty_transport_native_kqueue_x8
 6_64.jnilib; osname=MacOSX, processor=x86_64"

### Steps to reproduce
check the MANIFEST.MF in the netty-transport-native-kqueue-4.1.

[2020-12-10 17:13] elharo opened #10857 "InternalLoggerFactory catches Throwable"
[code]

This risks catching way more than this code is prepared to handle; for instance, out of memory errors or null pointer exceptions. It also interferes with some of our static analysis tools, which is how we noticed over this.

 It's safer if this code catches more specific exceptions, probably `NoClassDefFoundError` in these cases. `java.lang.LinkageError` and `java.lang.ReflectiveOperationE

[2020-12-10 17:14] normanmaurer commented on #10857
We love prs

[2020-12-10 18:02] bxqgit commented on #10851
Same here! 100% CPU on 4.1.55, but same code works fine on 4.1.54! 🤷🏻‍♂️

[2020-12-11 02:04] tanzheng231 opened #10859 "java.io.IOException: Connection timed out"
### Expected behavior
Hi！
java.io.IOException: Connection timed out

When the above exception occurred, I called channel.close() or channel.writeAndFlush(new CloseWebSocketFrame()).addListener(ChannelFutureListener.CLOSE)
, But I use: "netstat -antp | grep 8011" to view the connection status: ESTABLISHED
![image](https://user-images.githubusercontent.com/29850270/101852269-3b3f3d00-3b98-11eb-9969-

[2020-12-11 13:15] #10851 closed

[2020-12-12 06:13] brucelwl opened #10861 "EncoderException hidden when sending"
I used the ``marshalling`` serialization tool, but because the class ``UserInfo`` did not implements ``Serializable``, the client threw an exception when sending data. However, the exception was hidden, and there was no exception on the console. As a result, I did not know the cause of any exception

The second:
according to my understanding, any exception should be handled by ``io.netty.channel.C

[2020-12-12 09:49] #10859 closed

[2020-12-12 13:14] WhiteTrashLord opened #10862 "Improve documentation about supported Redis Protocol specification version"
I tried to find out if the Netty Redis codec supports the version 3 of the RESP protocol. I couldn't find any information about it.
I guess that at the moment Netty only supports RESP2. Maybe you can add the supported versions to RedisDecoder.java or other documents?

[2020-12-12 15:11] junzhli opened #10863 "Memory leak on handling https connections"
### Expected behavior
No memory leak happened

### Actual behavior
Memory leak happened

### Steps to reproduce
To cause memory leak --> Use jdk-compiant ssl handler (e.g. conscrypt -> up to tls 1.3, jdk default security provider -> up to tls 1.2...) - non alpn supported ssl context

- conscrypt
set dependency in build.gradle - `org.conscrypt:conscrypt-openjdk:2.5.1:[use osdetector.classifier to s

[2020-12-12 16:52] hyperxpro commented on #10863
I don't see any memory leak in this. Conscrypt is general purpose security provider. However, tcnative Boringssl is optimised for Netty TLS.

[2020-12-12 17:12] junzhli commented on #10863
Are these memory usages of two cases normal for non optimized ssl handlers (jdk compliant)? I would opt to use non tcnative ones as there is no obvious way to build tcnative for android platform. Or is it possible to build tcnative for android? Thanks!

[2020-12-13 11:49] pendula95 commented on #4950
Although this seems to be fixed this quite does not work for us. We are using a loading balance with KeepAlive which receives traffic via VIP address. Than it is routed to individual hosts via Direct Routing. Direct Routing works by replacing the target MAC in a package addressed to the loadbalancer to its virtual / loadbalancer IP with the MAC of the designated target server and re-sending it. Th

[2020-12-13 18:04] hyperxpro commented on #10863
These values are fairly normal. I'm not sure about the Android build of tcnative.

[2020-12-14 13:12] basalt79 opened #10864 "QueryStringEncoder ignores Fragment"
### Expected behavior
Fragment is handled correctly
### Actual behavior
Query parameters are attached at the end without checking the existence of fragment
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
https://github.com/basalt79/netty_QueryStringEncoder/blob/main/src/test/java/com/aigner/FragmentTest.java#L18
### Netty version
4.1.55.Final

### JVM version (e.g

[2020-12-15 08:04] normanmaurer commented on #10863
Like stated above this seems to be no memory leak just higher memory usage than what you may have expected. There is not much we can do as we have no control over the JDK implementation / conscrypt.

[2020-12-15 08:04] #10863 closed

[2020-12-15 08:18] normanmaurer commented on #10856
Thanks for the report... This should be fixed by https://github.com/netty/netty/pull/10865

[2020-12-15 08:19] normanmaurer commented on #10861
This is only true for inbound exceptions. Outbound bound operations (like write) will fail the promise only by default.

[2020-12-15 08:19] #10861 closed

[2020-12-15 10:29] junzhli commented on #10863
After a few hours of experiments, I finally ends up using tcnative in Netty server running on Android. I am sure that tcnative should be compiled into android armv8 native library (aarch64-android)! It's really a big breakthrough! Thanks for all your supports and troubleshooting

[2020-12-15 10:48] brucelwl commented on #10861
OK, we don't discuss inbound exceptions, but please run my demo. The client sends data to the server, but the service can't receive it. It doesn't prompt any exceptions, which is very unfriendly。

In fact, the client has already had a serialization exception。
It is hoped that netty can output the exception stack information when the listener is not registered

![image](https://user-images.githubus

[2020-12-15 11:47] #10856 closed

[2020-12-15 11:48] normanmaurer commented on #10864
@basalt79 we love PRs... Would you be interested to write a PR with a test-case + fix ?

[2020-12-15 13:34] normanmaurer commented on #10857
@elharo PTAL https://github.com/netty/netty/pull/10866

[2020-12-15 20:20] Bennett-Lynch opened #10868 "HttpServerKeepAliveHandler does not account for some self-defined response body lengths"
`HttpServerKeepAliveHandler` has logic to close a connection if a response does not have a self-defined body length:

https://github.com/netty/netty/blob/e8b5aeddef6f342e5e8ca1e03092c7b278da2915/codec-http/src/main/java/io/netty/handler/codec/http/HttpServerKeepAliveHandler.java#L74-L75

This logic correctly accounts for many self-defined body lengths:

https://github.com/netty/netty/blob/e8b5aedd

[2020-12-16 04:37] medusar commented on #9284
So.. is there any update for this issue?

[2020-12-16 07:45] #10857 closed

[2020-12-16 13:56] henrychv commented on #10813
Unfortunately the reported problem is still there even with 4.1.55. I tried 4.1.55 with 2.3.6 and 2.4.1, still same behaviour:

Caused by: java.lang.UnsupportedOperationException: null
	at io.netty.buffer.UnpooledDirectByteBuf.memoryAddress(UnpooledDirectByteBuf.java:196) ~[netty-buffer-4.1.55.Final.jar:4.1.55.Final]
	at io.netty.buffer.SwappedByteBuf.memoryAddress(SwappedByteBuf.java:987) ~[netty

[2020-12-16 14:56] xiao-ma-nong opened #10869 "有人使用springcloud alibaba集成过netty吗？？？"
我集成的无法访问

[2020-12-16 15:06] normanmaurer commented on #10813
@henrychv doh! We missed another place :/

[2020-12-16 15:07] normanmaurer commented on #10813
@henrychv  https://github.com/netty/netty/pull/10870

[2020-12-16 17:03] chrisvest commented on #10869
Please use English. And try asking your cloud provider first, until you're able to narrow the problem down to something Netty specific.

[2020-12-16 17:03] #10869 closed

[2020-12-16 19:46] #10813 closed

[2020-12-17 02:11] xiao-ma-nong commented on #10869
原文：
不好意思，原本以为你们会中文或者使用中文翻译...
是这样的
项目大体结构

springboot 2.3.4
springcloud Hoxton.SR8
springcloud alibaba  2.2.3.RELEASE
netty 4.1.50.Final

其他普通的http请求都是走 springcloud gateway的
netty 绑定的IP：端口是无法访问，当然啦也可以走网关，也不可以走网关
如果没有走网关那就直接 ip：服务端口即可访问，我使用webscoket无法进行访问
走了网关 不知道是不是http或者其他的原因是报错 URL404

translation：

Sorry, I thought you could speak Chinese or use Chinese translation... It’s the general structure

[2020-12-17 02:52] klboke opened #10873 "Netty FileDescriptor throws this exception [readAddress(..) failed: Connection reset by peer]"
### Expected behavior
I googled this question and found a lot of similar questions, but none of them is consistent with the exception message we encountered. The answer is similar to the link reset caused by the server not being closed properly, but I still want to get more accurate answer. Or have more people encountered readAddress(..) failed?
### Actual behavior
The grpc client finally threw th

[2020-12-17 12:16] mrksngl opened #10875 "Behavior of JDKZlibDecoder depends on segmentation of data"
I have a `JDKZlibDecoder(ZlibWrapper.GZIP, true)` in the pipeline, i.e. `decompressConcatenated = true` inside the decoder.

GZIP "objects" are sent back-to-back but data may be split as of TCP segmentation.

### Expected behavior
After one GZIP object is done, a second one should be decoded, no matter how data is fed from previous stages in the pipeline.

### Actual behavior
Works most often as e

[2020-12-17 13:31] normanmaurer commented on #10875
@mrksngl are you interested in providing a PR with a fix and test case ?

[2020-12-17 13:44] mrksngl commented on #10875
@normanmaurer
I'm not very used to netty, so I don't know how to get this artificial segmentation into an automated test case, at least not how to do it elegantly ;)

[2020-12-17 17:57] VLoye commented on #9419
I have the same issue.
I run a http server application with netty, and F5 detect if the listener port is alive through using tcp three-way handshake.I found than it would cause file description increase constantly and its growth rate is is consistent with the detection frequency of F5.

[2020-12-18 07:06] #9284 closed

[2020-12-18 09:50] normanmaurer commented on #10829
LEt me close this for now

[2020-12-18 09:50] #10829 closed

[2020-12-19 20:21] BenyahyaF45 commented on #8261
![Captureh](https://user-images.githubusercontent.com/62762887/102698760-143fd580-4240-11eb-99b2-c9d93c9a001b.PNG)
Any Help Plz!

[2020-12-20 11:32] hyperxpro commented on #10873
This is perfectly normal when the client doesn't close the TCP connection in a proper way.

[2020-12-20 12:23] delegacy opened #10878 "mvn package failure complaining libnetty_tcnative.jnilib is missing"
### Expected behavior

`mvn package` success

### Actual behavior

[code]

### Steps to reproduce

`mvn package` with `3e8e52725b` (HEAD at this moment) on mac

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

[code]

### OS version (e.g. `uname -a`)

[code]

---

Firstly, I guessed it is caused by the wrong condition introduced

[2020-12-20 14:09] hisener commented on #10834
Thanks, @violetagg. I've also added the test case to [the repo](https://github.com/hisener/playground/blob/master/spring-webclient-connection-failure-test/src/test/java/com/github/hisener/spring/webclient/WebClientTest.java#L83). Do you have some time to have a look at this issue? @normanmaurer

[code]
https://travis-ci.com/github/hisener/playground/builds/209949385#L1163-L1169

[2020-12-21 13:43] 4ntoine commented on #10029
Will it be as easy as creating "build.gradle" file with cmake/autotools build configuration?

[2020-12-21 13:44] 4ntoine commented on #5813
I'd love to try gRPC as JNI replacement: gRPC service on C++ side and client on Java side. Some details https://stackoverflow.com/questions/65389428/how-to-connect-to-grpc-c-inprocesschannel-not-from-c

[2020-12-22 05:52] 4ntoine commented on #5813
@hbli were you able to build it for Android?

[2020-12-22 07:07] ajaygeorge commented on #10433
@normanmaurer , Answering the questions you had about this issue.

yup.

------

That is indeed our analysis as well. https://github.com/prestodb/drift/issues/15 mentions about the failing test and same suspected commit.

The way we are using this is something like this. from [ResponseOrderingHandler](https://github.com/prestodb/drift/blob/master/drift-transport-netty/src/main/java/com/facebook/dr

[2020-12-22 11:30] 4ntoine commented on #5813
JIC trying to do it here: https://github.com/4ntoine/netty/tree/epoll-android

[2020-12-22 11:30] 4ntoine commented on #10029
JIC trying to do it here: https://github.com/4ntoine/netty/tree/epoll-android

[2020-12-22 13:11] 4ntoine commented on #10029
now [works](https://github.com/4ntoine/JniBenchmarking/blob/a056d4030fc0d9841c48d62f6209b2ca773a18d5/rpc/src/androidTest/java/com/eyeo/ctu/rpc/AndroidRpcTest.kt#L166) for me, [MR](https://github.com/netty/netty/pull/10881 )

[2020-12-22 13:11] 4ntoine commented on #5813
now [works](https://github.com/4ntoine/JniBenchmarking/blob/a056d4030fc0d9841c48d62f6209b2ca773a18d5/rpc/src/androidTest/java/com/eyeo/ctu/rpc/AndroidRpcTest.kt#L166) for me, [MR](https://github.com/netty/netty/pull/10881 )

[2020-12-23 06:48] Zhoutzzz opened #10885 "Same code, different version, FileUpload failed."
### Expected behavior
FileUpload success.
### Actual behavior
In 'netty-all-4.1.52.Final' version,  can't upload 5Mb image when I use this code:
[code]

throw a IndexOutOfBoundsException
[code]

**this question won't happen in 'netty-all 4.1.10.Final'.**
**Maybe this question don't belong netty's bug, I just wanna konw why this happen, and if I only use '4.1.52.Final' version, how can i resolve th

[2020-12-23 10:07] normanmaurer commented on #10878
can you try `mvn clean install` ?

[2020-12-23 12:03] delegacy commented on #10878
`mvn clean install`  does not work either. (the same error)

[code]

I just wanted to run `mvn test` at the beginning. 😭 (following https://netty.io/wiki/developer-guide.html)
Then, I met MDEP-98 issue and tried `mvn package` as the recommended workaround [here](https://github.com/netty/netty/issues/7101).

These are all files in the directory.
[code]

[2020-12-23 12:11] normanmaurer commented on #10878
This is 4.1 branch ?

[2020-12-23 12:27] delegacy commented on #10878
Yes, I'm trying to run it on 4.1 branch.

[2020-12-23 13:22] violetagg opened #10887 "Could not find netty-transport-native-epoll-4.1.57.Final-SNAPSHOT-linux-x86_64.jar"
With the recent changes for Netty SNAPSHOTS deployment, the message below is thrown when one tries to build using Netty SNAPSHOTS

[code]

The `oss.sonatype.org` currently contains these artifacts. The SNAPSHOTS upload contains either `linux-x86_64` or `linux-aarch_64`:

[code]

[code]

### Expected behavior
To be able to build using Netty SNAPSHOTS

### Actual behavior
Could not find netty-transp

[2020-12-23 13:55] normanmaurer commented on #10887
@violetagg I wonder how we can archive this as we need to build on different platforms. Any idea ?

[2020-12-23 14:17] violetagg commented on #10887
@normanmaurer I didn't have such issue till now, but is it possible to build first the artifacts and then to upload them all?

On the link below it is described how to deploy many files with different classifiers. Will this help?
http://maven.apache.org/plugins/maven-deploy-plugin/examples/deploying-with-classifiers.html

[2020-12-23 15:00] normanmaurer commented on #10887
@violetagg thats because we didn't deploy these artefacts as snapshot until now... I will investigate. Thanks!

[2020-12-24 03:24] angelyouyou opened #10891 "DatagramPacket.recipient() can not return the actual destination IP with NIO model, but the IP the app is bound to."
I'm using NIO on an application that is listening on all available interfaces (0.0.0.0). When I try to get the actual UDP packet destination IP, DatagramPacket.recipient() returns 0:0:0:0:0:0:0:0 and not the real packet destination IP. It seems to always return the IP the app is bound to.

Please, let me know if you need some extra information.

OS: Windows10 2020H2
Netty version: 4.1.55.Final

I

[2020-12-24 04:05] mikroskeem opened #10892 "Suggestion: make HAProxyMessage#decodeHeader methods public"
I'm implementing a PROXY protocol support for UDP server, but for that I would need an access to [HAProxyMessage#decodeHeader(ByteBuf)](https://github.com/netty/netty/blob/4.1/codec-haproxy/src/main/java/io/netty/handler/codec/haproxy/HAProxyMessage.java#L125) and [HAProxyMessage#decodeHeader(String)](https://github.com/netty/netty/blob/4.1/codec-haproxy/src/main/java/io/netty/handler/codec/haprox

[2020-12-24 06:36] normanmaurer commented on #10891
It’s not supported by NIO

[2020-12-24 06:36] #10891 closed

[2020-12-24 09:03] Sanford2020 opened #10894 "Leak"
LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
Created at:
	io.netty.buffer.AbstractByteBufAllocator.compositeDirectBuffer(AbstractByteBufAllocator.java:223)
	io.netty.buffer.AbstractByteBufAllocator.compositeBuffer(AbstractByteBufAllocator.java:201)
	io.netty.handler.codec.

[2020-12-24 09:27] normanmaurer commented on #10894
@Sanford2020 you most likely missed to call `release()` once you consumed the ByteBuf.

[2020-12-24 11:00] #10887 closed

[2020-12-24 11:00] normanmaurer commented on #10887
@violetagg This should be fixed now... https://github.com/netty/netty/pull/10893

[2020-12-24 14:46] violetagg commented on #10887
@normanmaurer Thanks a lot. My build is green again :)
Happy holidays!

[2020-12-24 20:26] #10894 closed

[2020-12-24 20:27] normanmaurer commented on #10892
We love PRs...

[2020-12-24 20:31] mikroskeem commented on #10892
Sure, will open one to address this.

[2020-12-25 08:27] alalag1 opened #10895 "Seems graalvm native image could not pick up native-image.properties"
### Expected behavior

 I use netty to build a simple echo HTTP server and add the `native-image-maven-plugin` for building a native image.

[code]

### Actual behavior

`mvn clean package` got error

[code]

### Steps to reproduce

see above

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.56.Final
### JVM version (e.g. `java -version`)
1.8.0_275
### OS version (e

[2020-12-25 09:37] ZzxyNn opened #10896 "When subpage.elemSize == 8192, the free subpage operation is not work"
### Actual behavior
allocate N * 8192 subpage, free part of them, but subpage still esixt in two-way linked list

### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version
4.1.52
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)

[2020-12-25 10:27] normanmaurer commented on #10896
@ZzxyNn are you interested in providing a PR (with a fix and maybe also a test case) ?

[2020-12-25 15:14] milkywhut opened #10897 "java.lang.OutOfMemoryError: Direct buffer memory"
Hi! We use spring cloud gateway and write some custom web filters. We've catch an error java.lang.OutOfMemoryError: Direct buffer memory and see some memory leaks with help of jvm option -Dio.netty.leakDetection.level=advanced.

Our jvm options:

[code]
[code]

During that pod's RAM overflows that leads to pod's restart.

Example of our filter:
[code]

![image](https://user-images.githubuserconten

[2020-12-26 09:36] ZzxyNn commented on #10896
`      int oneLength = 16,twoLength = 256;
        // int elemSize = 4096; // normal
        int elemSize = 8192; // unnormal
        ByteBuf[] ones = new ByteBuf[oneLength];
        ByteBuf[] twos = new ByteBuf[twoLength];
        //allocate
        for (int i = 0; i < oneLength; i++) {
            ones[i] = ByteBufAllocator.DEFAULT.buffer(elemSize, Integer.MAX_VALUE);
        }
        for (int

[2020-12-26 09:37] ZzxyNn commented on #10896
`      int oneLength = 16,twoLength = 256;
        // int elemSize = 4096; // normal
        int elemSize = 8192; // unnormal
        ByteBuf[] ones = new ByteBuf[oneLength];
        ByteBuf[] twos = new ByteBuf[twoLength];
        //allocate
        for (int i = 0; i < oneLength; i++) {
            ones[i] = ByteBufAllocator.DEFAULT.buffer(elemSize, Integer.MAX_VALUE);
        }
        for (int

[2020-12-27 07:48] chhsiao90 opened #10898 "TLS handshake failed while accessing https://geo.ngtv.io/locate"
### Expected behavior
TLS handshake should succeed, server should send response.

### Actual behavior
TLS handshake failed.

### Steps to reproduce
* Update the url of [HttpSnoopClient](https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/http/snoop/HttpSnoopClient.java) to https://geo.ngtv.io/locate
* Run HttpSnoopClient

### Minimal yet complete reproducer code (or URL

[2020-12-27 09:21] normanmaurer commented on #10896
Please open a PR with a fix if you know how to solve this... We love contributions.

[2020-12-27 09:44] normanmaurer commented on #10897
Please open in the reactor repo...From your logs it seems like you miss to release buffers. I am not sure if this usually needs to be done by the user of project-reactor or if it should be done under the hood by it. /cc @violetagg

[2020-12-27 09:44] #10897 closed

[2020-12-27 09:45] normanmaurer commented on #10873
Yes this means that the remote peer did close without a proper TCP shutdown.

[2020-12-27 09:45] #10873 closed

[2020-12-27 09:45] normanmaurer commented on #10885
Can you please try 4.1.56.Final ?

[2020-12-27 09:45] normanmaurer commented on #10864
/cc @slandelle

[2020-12-27 09:46] normanmaurer commented on #10822
@jakobmoellersap any update ?

[2020-12-27 09:46] normanmaurer commented on #10821
I was not able to spot any bug yet :/

[2020-12-27 10:04] hyperxpro commented on #10898
Can you dump packets with `PcapWriteHandler`?

[2020-12-27 10:31] chhsiao90 commented on #10898
Thanks for the advise, just dump the packets [dump.pcap.gz](https://github.com/netty/netty/files/5744408/dump.pcap.gz)

[2020-12-27 10:38] hyperxpro commented on #10898
Checked.

You're sending TLS 1.0 request (SNI is also missing). That could be the reason behind the failure in Handshake. Enable TLSv1.2 and TLSv1.3 in `SslContextBuilder`.

[2020-12-27 10:39] chhsiao90 commented on #10898
I guessed it's caused by that we use TLSv1.0 in the client hello with the extension supported_versions contains TLSv1.2 and TLSv1.3. But the website failed to select the correct TLS version from the extension.

Maybe we should update the TLS version to TLSv1.2 instead of TLSv1 by default.

[2020-12-27 10:41] hyperxpro commented on #10898
You can override it easily though.

[2020-12-27 10:45] basalt79 commented on #10864
hi @normanmaurer  and @slandelle

so looks like also existing parameters are not handled correctly
Because the Encoder is not using the Decoder to check for any existing parameters.
It just append to whatever string is passed.
https://github.com/basalt79/netty_QueryStringEncoder/blob/main/src/test/java/com/aigner/QueryStringEncoderTest.java#L12

so maybe the `QueryStringEncoder` and `QueryStringDe

[2020-12-27 10:48] slandelle commented on #10864
Netty's QueryStringEncoder/QueryStringDecoder are very basic and are just toys for simple use cases.

Most people are not aware that RFC3936 is actually very complex, eg reserved chars are actually not the same in path and in query params, path segments, fragments... For example, lots of people use `java.net.URLEncoder` for encoding anything while as its javadoc states, it's used `for converting a

[2020-12-27 10:50] chhsiao90 commented on #10898
It looks like the client hello still sent TLSv1 while I only enable protocols `TLSv1.2` and `TLSv1.3`, it only affects the supported_versions extension.

I will check the root cause. Thanks for your comment! It's helpful.

[2020-12-27 11:42] chhsiao90 commented on #10898
BTW, jdk ssl engine send correct TLS version (TLSv1.2), but still got failure ([dump.pcap.gz](https://github.com/netty/netty/files/5744491/dump.pcap.gz)). So there might be two issues here.

I will also check native openssl too.

[2020-12-27 12:27] chenshun00 commented on #10885
@normanmaurer
try it , 4.1.52.Final and 4.1.56.Final both fail. but 4.1.25.Final success.

@Zhoutzzz
please remove `decoder.offer((HttpContent) msg);` , offer twice lead this error.

[2020-12-27 13:30] #10748 closed

[2020-12-28 06:19] ZzxyNn commented on #10896
i have no idea yet....but you sure its a problem?

[2020-12-28 08:17] basalt79 commented on #10864
Hi @normanmaurer and @slandelle, its fine for me, now I am aware of the provided functionality so i will use it in this regards.
So from my point of view, this issue can be closed.

[2020-12-28 08:22] #10864 closed

[2020-12-28 09:50] Zhoutzzz commented on #10885
@chenshun00
tks, i found the next invoke is here:
[code]
This problem has been bothering me for a long time, thank you again for solving my problem and this issus can be close

[2020-12-28 11:57] #10885 closed

[2020-12-28 14:17] eltydari commented on #8537
Is this still being worked on? What's the status?

[2020-12-28 14:21] hyperxpro commented on #8537
I have done it on my latest project.

Here is a quick snippet:
[code]

[2020-12-28 23:30] ihudedi opened #10901 "OpenSslX509TrustManagerWrapper - java.security.NoSuchProviderException: no such provider: SunJSSE"
Hi,
In OpenSslX509TrustManagerWrapper you specify hard coded SunJSSE provider.
In case I don't have this provider ( I am using BCJSSE)
I am getting the following error:
2020-12-28 23:23:10,101 DEBUG [ForkJoinPool.commonPool-worker-3] (OpenSslX509TrustManagerWrapper:97) -  Unable to access wrapped TrustManager
java.security.NoSuchProviderException: no such provider: SunJSSE
               at sun.se

[2020-12-29 07:52] violetagg commented on #10897
@milkywhut I would recommend you to open issue in Spring Cloud Gateway/Reactor Netty repository.

[2020-12-29 08:14] normanmaurer commented on #10901
This is expected and the reason why it is only logged via `debug`. Does the log show up more then once ?

[2020-12-29 14:49] nightfurytoothlesss opened #10903 "Suitable JDK for netty version 4.1.50.Final and above"
### Explanation

I am working on a maven project which uses netty version  4.1.50.Final and I am encountering some PORT unavailability errors related to http2, which I am guessing is due to the JDK I am using. I used openjdk8 on ubuntu: bionic 64 bit x86 machine. Probably it lacks netty http2 libraries.
[code]
Can you please suggest some jdk8 that can work successfully with netty 4.1.50.Final and

[2020-12-29 16:02] ihudedi commented on #10901
Hi @normanmaurer
No it print only once.
Thanks,
Itay

[2020-12-29 18:23] rishika728 commented on #10411
@normanmaurer, any ideas w.r.t the last few updates.

[2020-12-30 02:46] brucelwl commented on #5460
This looks like the same problem, and it's fixed https://github.com/netty/netty/pull/9555

[2020-12-30 03:42] MotaLi opened #10904 "macOS Big Sur,netty-transport-native-unix-common BUILD FAILURE"
### Expected behavior
BUILD SUCCESS
### Actual behavior
[ERROR] Failed to execute goal org.fusesource.hawtjni:maven-hawtjni-plugin:1.14:build (build-native-lib) on project netty-transport-native-unix-common: build failed: org.apache.maven.plugin.MojoExecutionException: Requested download does not exist.: Failure to find io.netty:netty-transport-native-unix-common:zip:native-src:4.1.57.Final-SNAPSH

[2020-12-30 04:19] MotaLi commented on #10904
reinstall CLI  and follow this 7748[https://github.com/netty/netty/issues/7748](url)

[2020-12-30 04:21] #10904 closed

[2020-12-31 04:10] Neustradamus opened #10905 "Please update Bouncy Castle"
Please update Bouncy Castle
- https://www.bouncycastle.org/
- https://www.bouncycastle.org/releasenotes.html
- http://www.bouncycastle.org/latest_releases.html
- https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=bouncy%20castle
- https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=bouncycastle
- https://www.cvedetails.com/vulnerability-list/vendor_id-7637/Bouncycastle.html

[2021-01-01 17:03] bdsilva commented on #10102
I am facing a similar issue. Can you please describe what and how you would retain the reference? I am trying to simply write a ResponseFilter and do this line
`requestBody = ((DefaultFullHttpRequest) httpRequest).content().toString(CharsetUtil.UTF_8);`

`io.netty.util.IllegalReferenceCountException: refCnt: 0
	at io.netty.buffer.AbstractByteBuf.ensureAccessible(AbstractByteBuf.java:1490) ~[netty-

[2021-01-01 18:31] #10905 closed

[2021-01-01 22:30] Neustradamus commented on #10905
@hyperxpro: Thanks :)

[2021-01-02 06:46] hyperxpro commented on #10903
You're trying to bind on a port that is already being used by some other service/program. So this is expected and normal.

Netty works perfectly with Java 8. I am using Netty in production with Java 15 and it works like charm. You can use Amazon Corretto JDK if you're not willing to pay for Oracle JDK.

[2021-01-02 07:22] #10903 closed

[2021-01-03 02:43] chhsiao90 commented on #10898
Root cause found that server requires SNI extension, issue fixed after providing the sni extension in the client hello.

[2021-01-03 02:43] #10898 closed

[2021-01-03 19:33] xxDark opened #10907 "Flush is not always invoked on non-eventloop thread."
### Expected behavior
Outbound buffer is flushed

### Actual behavior
Part of the data in outbound buffer is not flushed

### Steps to reproduce
Invoke `writeAndFlush` on non-eventloop thread.
`ch.writeAndFlush(data).addListener(ChannelFutureListener.CLOSE);`

### Netty version
4.1.56.Final

I don't know if this is intended behaviour or not, but outbound buffer is not flushed due to this check:
ht

[2021-01-03 19:46] normanmaurer commented on #10907
@xxDark do you have a reproducer ? how big is the data and what type is it ?

[2021-01-03 19:53] xxDark commented on #10907
The code I'm talking about is:
https://github.com/SpigotMC/BungeeCord/blob/c987ee199d3ec93ce13469deefb1e2787d97147c/proxy/src/main/java/net/md_5/bungee/netty/ChannelWrapper.java#L83

The packet is: https://github.com/SpigotMC/BungeeCord/blob/master/protocol/src/main/java/net/md_5/bungee/protocol/packet/Kick.java
It is encoded into byte buffer, that is a size of about 200-400 bytes.

[2021-01-03 19:54] xxDark commented on #10907
I see that default message estimator will count the size of `Kick` packet as 8 bytes, so `8 | Integer.MIN_VALUE` is -2147483640

[2021-01-03 19:55] normanmaurer commented on #10907
@xxDark which means it should flush, no ?

https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/AbstractChannelHandlerContext.java#L1071

[2021-01-03 19:56] xxDark commented on #10907
Hm, sorry, my bad.
However, I'm still curious of why that might happen.
Is there any way to diagnostic that?

[2021-01-03 19:57] xxDark commented on #10907
I suspect that listener gets notified before channel is flushed. Is that may be the case?

[2021-01-03 19:58] normanmaurer commented on #10907
it could only be notified if the Channel is closed while the write is not complete yet or when the write fails or when the write completes.

[2021-01-03 20:01] xxDark commented on #10907
Alright then, will diagnostic that on my side. Thanks for assistance.

[2021-01-03 20:01] #10907 closed

[2021-01-03 20:09] Neustradamus commented on #10905
@hyperxpro, @normanmaurer: Thanks :)

[2021-01-04 01:21] srinidhibashyam opened #10908 "NullPointerException while accessing a readable slice of CompositeByteBuf after discarding some bytes"
### Expected behavior

After skipping and discarding some bytes using `skipBytes()` and `discardSomeReadBytes()` functions in a `CompositeByteBuf`, the readable bytes in the buffer should still be accessible.

### Actual behavior
Throws NullPointerException.

[code]

### Steps to reproduce

1. Allocate a container using CompositeByteBuf
2. Fill it with a segment
3. Retain a slice of payload from t

[2021-01-04 06:46] trustin opened #10909 "`Socket.isIPv6Preferred()` may return an incorrect value"
### Expected behavior

`io.netty.channel.unix.Socket.isIPv6Preferred()` returns `true` on a Linux system with IPv6 support, even if a user attempted to initialize io_uring support.

### Actual behavior

`false` is returned even on a Linux system with IPv6 support when both `Epoll` and `IOUring` are loaded.

It seems like the secondly loaded library 'reverts' the initialization performed by the fir

[2021-01-04 07:01] trustin commented on #10909
Possible workarounds for this issue at the moment are:

- Do not load both epoll and io_uring transport; or
- Call `Socket.initialize(NetUtil.isIPv4StackPreferred())` reflectively with the `setAccessible(true)` trick.

I'm currently using the second workaround because Armeria currently tries to detect all available native transports upfront.

[2021-01-04 08:05] normanmaurer commented on #10909
Fixed by https://github.com/netty/netty-incubator-transport-io_uring/pull/31 and https://github.com/netty/netty/pull/10876

[2021-01-04 08:16] trustin commented on #10909
Oh, that's awesome :smile:

[2021-01-04 15:32] nightfurytoothlesss commented on #10903
@hyperxpro
Thank you for the response. Actually, my package was using an older netty version, and only after updating the netty version to 4.1.50.Final, that I am getting this issue.
Just curious to know that do latest netty versions use PORT 9443 ??

[2021-01-04 15:56] hyperxpro commented on #10903
Netty does not use any port by itself unless you configure it.

[2021-01-04 15:57] hyperxpro commented on #10903
You should check which program/service is using 9443 Port and close it in order to use 9443 in Netty,

[2021-01-04 18:31] brestmoor commented on #10717
Hi, currently I am also analysing a heap dump which is 1.1GB, and 512MBs of it are io.netty.buffer.PoolChunk instances (32 instances). Is it working as designed? We are running Wildfly 15.0.1 on Java 11.
That's what it looks like in MAT:
![image](https://user-images.githubusercontent.com/17832444/103566975-3d5c9900-4ec3-11eb-83a8-fbd5f6bd2c8b.png)

[2021-01-04 19:10] franz1981 commented on #10717
@brestmoor it should be fine, it depends by the available cores (32 looks as 16 " 2 that sounds similar to the available cores * 2, just a guess)

[2021-01-04 23:31] njhill commented on #10908
@srinidhibashyam I don't think byte discarding is intended to be used in conjunction with derived buffers (slices/duplicates) since it moves things around in the underlying buffer without derived buffers' knowledge. There should probably be a check to disallow those operations if the buffer's ref count is > 1 (as it would be in your case), and I recall some discussion about that a very long time a

[2021-01-05 00:33] bryce-anderson opened #10911 "Broken SslEngine [set|get]EnabledCipherSuites behavior"
### Expected behavior

The resultant `SslEngine` instances would obey the contract set forth in the Java docs [here](https://docs.oracle.com/javase/7/docs/api/javax/net/ssl/SSLEngine.html#getEnabledCipherSuites()).

### Actual behavior

When we set the supported ciphers to a single v1.2 suite we see that TLSv1.3 ciphers are present in the supported ciphers. Specifically, we see supported ciphers s

[2021-01-05 07:22] #10909 closed

[2021-01-06 15:44] lmhmhl opened #10912 "Translation the guide to chinese version"
It's seems that there is no chinese version guide, I can volunteer to translate the guide in chinese to break the chinese user reading barrier.

[2021-01-07 03:43] ctlove0523 opened #10913 "Is it possible to close connection when server receive SYN from client?"
I have a tcp server and i want to control concurrency of establish connection between client to my server,like one second only process 100 establish connection request,the 101 request will be refused.So I need close connection in second step of 3-way-handshake.
![](https://camo.githubusercontent.com/9fa277572eb26f706f221812d4fb67f03b9e654a4a2b94ea8abcfb1ae95bef8b/687474703a2f2f75706c6f61642e77696b

[2021-01-07 09:00] hyperxpro commented on #10913
I have this feature in a private source branch because my application requires low-level info. You can't get into like `SYN` received in Netty because it makes no sense for a normal application.

For Connection RateLimiter, checkout https://github.com/shieldblaze/ExpressGateway/blob/main/security/src/main/java/com/shieldblaze/expressgateway/security/NACL.java

[2021-01-08 06:30] andrewvo148 opened #10914 "Wrong the comment for the remove method on FastThreadLocal class."
https://github.com/netty/netty/blob/0dc246eb129796313b58c1dbdd674aa289f72cad/common/src/main/java/io/netty/util/concurrent/FastThreadLocal.java#L234

[2021-01-08 08:22] chrisvest commented on #10914
What's wrong about it?

[2021-01-08 09:51] andrewvo148 commented on #10914
`    /**
     * Sets the value to uninitialized; a proceeding call to get() will trigger a call to initialValue().
     */
    public final void remove() {
        remove(InternalThreadLocalMap.getIfSet());
    }`

The remove() method call to getIfSet() not call to get().

[2021-01-08 09:57] chrisvest commented on #10914
What it's meant to say is that after you've called `remove()`, if you then call `get()`, you'll get a new `initialValue()` out.

[2021-01-08 10:00] andrewvo148 commented on #10914
@chrisvest,
I got it. I think to more meant should change the word `proceeding` by other words.

[2021-01-08 18:20] aiannucci commented on #10569
I can confirm this problem also impacts kqueue, is there any prospect of signing the binary as part of the build process in a future release?

[2021-01-08 22:45] SanjayVas opened #10916 "TLS with EdDSA private keys not supported with OpenSSL"
Despite the fact that OpenSSL supports EdDSA with the ed25519 and ed448 algorithms as of 1.1.1 (and BoringSSL for even longer), Netty fails when using these algorithms.

From the stack trace below, it appears that Netty does try the `EdDSA` Java private key type for the `ECDHE_ECDSA` auth method. EdDSA is supported with that auth method in [TLS 1.3](https://tools.ietf.org/html/rfc8446) and with an

[2021-01-10 22:20] ujhazib opened #10918 ""Shut down by issue" executors are not cleaned up, is this some kind of a missing feature?"
I have been debugging a fairly rare issue in our production system which is based on spring boot reactor and uses amongst others, Lettuce and Netty. Sometimes we see that we start to get a fairly small rate, but stable error rate increases on certain Lettuce calls.

Where I got my investigation is the following: Some usual error comes on a Mono and a rather unusual situation happens because as it

[2021-01-11 07:17] normanmaurer commented on #10911
I guess that comes from the fact that `BoringSSL` has no notion to explict disable TLS1.3 ciphers and only either allow to enable it or disable TLS1.3 all together. Let me have a look tho

[2021-01-11 08:20] jakobmoellersap commented on #10822
Unfortunately I was not able to provide an update due to time constraints.

I can however reference
[code]

As being the culprit. What if I am running on JVM 11 but inject something different than Oracle SSL (like Bouncy Castle) into the Classpath? Then what happens is that there will be a throwable because Bouncy Castle does not support ALPN in FIPS Mode yet. So whenever there is an issue here, w

[2021-01-11 08:35] normanmaurer commented on #10822
@jakobmoellersap just to clarify... what you would expect to happen ? I mean shouldn't it just not support ALPN in this case here then ? Isn't that what you are after ?

[2021-01-11 08:39] normanmaurer commented on #10911
@bryce-anderson thanks for the test... I think I have a fix... Will open a PR soonish

[2021-01-11 08:39] normanmaurer commented on #10916
Will have a look... thanks!

[2021-01-11 09:52] normanmaurer commented on #10911
@bryce-anderson PTAL https://github.com/netty/netty/pull/10919

[2021-01-11 10:11] ujhazib commented on #10918
It came to my knowledge, that this certain onErrorDropped induced exception though is fixed from a certain reactor version:
https://github.com/reactor/reactor-core/releases/tag/v3.4.0?fbclid=IwAR0t73ArcwxX3MpIDlhB4Q-rXpd0ROHRo7VGhrHo37izBSmP82WzoeCyavg

[2021-01-11 11:17] normanmaurer commented on #10916
Also not supported at the moment in Conscrypt: https://github.com/google/conscrypt/issues/829

[2021-01-11 11:32] normanmaurer commented on #10916
Related to http://openjdk.java.net/jeps/339

[2021-01-11 20:56] Sigty commented on #8261
Add this propertie for your custom services:

eureka.instance.prefer-ip-address=true

[2021-01-12 01:37] hnuwangchao opened #10921 "Netty SSL issue"
### Expected behavior: add ssl based on the Netty

### Actual behavior:The Server send the "Certification Request", but the Netty Client do not send the certification(in Wireshark, the Certificates Length = 0)

### Netty version:4.1.36

### JVM version: openjdk 11.0.9.1

[2021-01-12 05:59] normanmaurer commented on #10921
This netty version is very old... please upgrade to the latest and provide more details

[2021-01-12 06:00] normanmaurer commented on #10901
So like I said this is expected... Lets close this

[2021-01-12 06:00] #10901 closed

[2021-01-12 07:21] hnuwangchao commented on #10921
Frist, Thanks for your reply:
As your suggestion, I have upgraded the Netty Version to 4.1.56, Unfortunately, I still encounter the same error; 　Specifically, I use Netty as the client to upload data to the server, and I use packet capture analysis software(Wireshark) to find that the client did not send the client's certificate to the server, resulting in the disconnection of TSL connection. I am

[2021-01-12 08:32] doom369 opened #10922 "IndexOutOfBoundsException in the SniHandler for the specific clients"
After adding `SniHandler` to the pipeline I'm getting IndexOutOfBoundsException errors for some clients:

[code]

It doesn't necessarily mean that's this is `SniHandler` bug, it could be a wrong TLS header, however, I'm don't have enough knowledge here to make conclusions. Is that expected behavior for the `SniHandler`?

Netty version: 4.1.56.Final
netty-tcnative-boringssl-static: 2.0.35.Final

[2021-01-12 08:35] normanmaurer commented on #10922
Nope... will have a look

[2021-01-12 08:52] jakobmoellersap commented on #10822
So my expectation would be that either the Utils class has a case to not load - just in case ALPN is not supported or at least not throw the log message in case the ALPN support is disabled.

I think the SSLContext can be queried to check for this and if it indeed does come back with a value that does not contain ALPN, the issue should be solved by not invoking the log message but just skipping in

[2021-01-12 09:00] normanmaurer commented on #10822
@jakobmoellersap can you tell me how `SSLContext` can be queried ?

[2021-01-12 13:56] Patrick5455 opened #10924 "NoSuchMethodError : `Exception in thread "_(:3」∠)_" java.lang.NoSuchMethodError: io.netty.channel.SingleThreadEventLoop.<init>(Lio/netty/channel/EventLoopGroup;Ljava/util/concurrent/Executor;ZLjava/util/Queue;Ljava/util/Queue;Lio/netty/util/concurrent/RejectedExecutionHandler;)V`"
### Expected behavior
I am using the blade-frameowrk  [https://github.com/lets-blade/blade](url) which uses netty at its core. When I run blade, it is exepcted to start without throwing errors,

### Actual behavior
When I start the application, I get this error from netty and I have spent the past 3 days trying to debug the issue now.
Here is an image of the error I get when I try to debug the pro

[2021-01-12 14:07] normanmaurer commented on #10924
This looks like you have multiple netty-* versions on the classpath. Ensure you only have one.

[2021-01-12 14:16] Patrick5455 commented on #10924
Thanks @normanmaurer
these are my nety versons
![Uploading netty_versions.png…]()

[2021-01-12 14:21] normanmaurer commented on #10924
remove all versions which are not 4.1.49. You may need to add some exclusions to your pom.xml. That said this is not a netty problem but related how you configure your build.

[2021-01-12 14:21] #10924 closed

[2021-01-12 14:22] Patrick5455 commented on #10924
Alright thanks.

[2021-01-12 16:16] drstevens commented on #2132
@hyperxpro Did you make any progress on this?

@normanmaurer do you have any thoughts on @ttonelli's question  https://github.com/netty/netty/issues/2132#issuecomment-218486387? Presumably, we wouldn't want to change the behavior of existing consumers of `HttpContentEncoder` as described by the OP's suggestion.

We're going to have to implement request encoding support ourselves. We'll see if we a

[2021-01-12 17:48] violetagg opened #10925 "Blocking call in UnixResolverDnsServerAddressStreamProvider.parse"
### Expected behavior

No blocking calls reported by BlockHound

### Actual behavior

The exception below appears when BlockHound is installed

[code]

### Netty version

4.1.57.Final

### JVM version (e.g. `java -version`)

JDK 8

### OS version (e.g. `uname -a`)

MacOS

[2021-01-12 22:17] matteobertozzi opened #10926 "4.1.57 could not load a native library: netty_transport_native_unix_linux aarch_64/x86_64"
### Expected behavior
Epoll.isAvailable() should return true, since it's available

### Actual behavior
using 4.1.57 Epoll.isAvailable() is returning false since netty_transport_native_unix could not be loaded with 4.1.56 there is no problem. I can reproduce the result on both x86 and aarch64
[code]
[code]

### Steps to reproduce
 - simple main app with Epoll.isAvailable()
 - build with 4.1.56 epo

[2021-01-12 22:33] njhill commented on #10926
I see the same issue when upgrading to 4.1.47.Final.

[2021-01-13 06:35] hnuwangchao opened #10927 "whether Netty supports mutually authentication now on Android platform?"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2021-01-13 08:07] normanmaurer commented on #10927
This is a bug tracker... Questions should be asked on stack overflow. But yeah it should just work.

[2021-01-13 08:07] #10927 closed

[2021-01-13 15:14] duke-bartholomew opened #10929 "mqtt-codec: negative packet-ids"
### Behavior
It looks like it's not possible to create an mqtt message (with packetId) through the provided _builder classes_ in `io.netty.handler.codec.mqtt.MqttMessageBuilders`

The reason why this is happening is because the internal representation of the packetId (in `PubAckBuilder`, `SubAckBuilder` and `UnsubAckBuilder`) is a `short`, not an `int`.
So this means that whatever value >32767 is

[2021-01-13 15:25] duke-bartholomew commented on #10929
When refactoring the `MqttMessageBuilders` class to take an `int` as packetId, it works.
I used this unit-test code to test:
[code]

[2021-01-13 17:53] #10926 closed

[2021-01-13 18:35] mdaloia opened #10931 "[macOS] libnetty_transport_native_kqueue_x86_64.jnilib not signed"
The artifact produced by https://github.com/netty/netty/tree/4.1/transport-native-kqueue includes a `libnetty_transport_native_kqueue_x86_64.jnilib` file not signed. This prevents Notarization **[1] [2]**.

**Related issue**: https://github.com/netty/netty/issues/10569

### Expected behavior
Library codesigned.

### Actual behavior
Not signed.

Testing the signing returns this:
[code]

The side ef

[2021-01-14 06:18] #10913 closed

[2021-01-14 08:17] normanmaurer commented on #10925
@violetagg can you provide a PR ?

[2021-01-14 08:30] violetagg commented on #10925
@normanmaurer I was thinking for allowing blocking calls when loading `etcResolverFiles`, is that what you are thinking also?

[2021-01-14 08:32] normanmaurer commented on #10925
This sounds good

[2021-01-14 08:46] flongjce opened #10934 "Does Netty EpollChannelOption.IP_TRANSPARENT support Android?"

[2021-01-14 10:50] hyperxpro commented on #10921
`ch.pipeline().addLast(sslContext.newHandler(ch.alloc()));` > Add host and port for SNI extension and try again.

[2021-01-14 12:19] hnuwangchao commented on #10921
Thanks for your reply, however, it still also cannot work well. By using the packet capture analysis software(Wireshark), I can find the handshake process, the problem is that the sever send the certificates request, but the Netty client do not send the  certificates to server(the length of  certificates= 0, in the Wireshark).

[2021-01-14 17:27] #10925 closed

[2021-01-14 18:37] adlakhab opened #10937 "NoSuchMethodError: 'int io.netty.util.internal.StringUtil.indexOfWhiteSpace(java.lang.CharSequence, int)'"
### Expected behavior
The method exists and there should be no exception.

### Actual behavior
NoSuchMethodError is thrown.

### Steps to reproduce
Import com.eatthepath.pushy and initialize ApnsClient.
Stacktrace:

java.lang.NoSuchMethodError: 'int io.netty.util.internal.StringUtil.indexOfWhiteSpace(java.lang.CharSequence, int)'
	at io.netty.resolver.dns.UnixResolverDnsServerAddressStreamProvider

[2021-01-14 18:37] #10937 closed

[2021-01-14 18:38] kodbe opened #10938 "NoSuchMethodError: 'int io.netty.util.internal.StringUtil.indexOfWhiteSpace(java.lang.CharSequence, int)'"
### Expected behavior
The method exists and there should be no exception.

### Actual behavior
NoSuchMethodError is thrown.

### Steps to reproduce
Import com.eatthepath.pushy and initialize ApnsClient.
Stacktrace:

java.lang.NoSuchMethodError: 'int io.netty.util.internal.StringUtil.indexOfWhiteSpace(java.lang.CharSequence, int)'
	at io.netty.resolver.dns.UnixResolverDnsServerAddressStreamProvider

[2021-01-14 18:58] normanmaurer commented on #10938
This looks like a dependency missmatch. Ensure you don't have multiple versions of netty on the classpath.

[2021-01-14 19:03] adlakhab commented on #10938
Thanks @normanmaurer I deleted ~/.m2/repository/io/netty and did a fresh install with this dependency:

    <dependency>
      <groupId>io.netty</groupId>
      <artifactId>netty-all</artifactId>
      <version>4.1.58.Final</version>
    </dependency>

But I'm still getting the same error.

[2021-01-14 19:05] kodbe commented on #10938
Thanks @normanmaurer I deleted ~/.m2/repository/io/netty and did a fresh install with the following dependency:

   <dependency>
      <groupId>io.netty</groupId>
      <artifactId>netty-all</artifactId>
      <version>4.1.58.Final</version>
    </dependency>

But I'm still getting the same error.

[2021-01-14 19:06] normanmaurer commented on #10938
Check the dependency tree of your app.

[2021-01-14 22:52] kodbe commented on #10938
Upgrading firebase-admin sdk to version 7.1.0 fixed this problem

[2021-01-14 22:52] #10938 closed

[2021-01-15 07:34] x-huihui opened #10939 "do we need more than a single thread for boss group?"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2021-01-15 07:47] normanmaurer commented on #10939
Please use stack overflow for questions... This is a bug-tracker.

[2021-01-15 07:47] #10939 closed

[2021-01-15 09:14] ShaoxiongTang opened #10940 "EpollDomainUnsafe may cause memory leak"
### Expected behavior
Out of memory

### Actual behavior
![image](https://user-images.githubusercontent.com/7252486/104705472-e8d3dc00-5754-11eb-9b42-c7ded3d0180b.png)
![image](https://user-images.githubusercontent.com/7252486/104705610-13be3000-5755-11eb-87fc-d8d0c814ca66.png)

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e

[2021-01-15 09:18] normanmaurer commented on #10940
This is just where you allocated the buffer... Please check the full leak report. It should give you a hint where you missed to release the buffer.

[2021-01-15 09:18] #10940 closed

[2021-01-15 09:33] atropnikov opened #10941 "NullPointerException while processing http2 Priority Frame"
### Expected behavior

No NPE

### Actual behavior

`java.lang.NullPointerException: null
    at io.netty.handler.codec.http2.Http2FrameCodec$FrameListener.requireStream(Http2FrameCodec.java:679)
    at io.netty.handler.codec.http2.Http2FrameCodec$FrameListener.onPriorityRead(Http2FrameCodec.java:661)
    at io.netty.handler.codec.http2.Http2FrameListenerDecorator.onPriorityRead(Http2FrameListener

[2021-01-15 09:47] normanmaurer commented on #10941
@atropnikov would be interesting to know what streamId this is... Can you provide the info ?

[2021-01-15 09:57] normanmaurer commented on #10922
@doom369 This looks a malformed Handshake as we check the "length" up front and so we should never have any problems to access needed data.

[2021-01-15 10:50] ShaoxiongTang commented on #10940
@normanmaurer
Full leak report shown below,  call stack all contained in netty；Have you seen related issue before?

netty version:4.1.45.Final
java version: 1.8.0_152-b211

ERROR LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
#1:
	io.netty.handler.codec.ByteToMessageDecoder.

[2021-01-15 10:52] normanmaurer commented on #10940
This does not contain everything:

[code]
Try to set `-Dio.netty.leakDetection.targetRecords=32`

[2021-01-15 11:03] #10914 closed

[2021-01-15 11:24] normanmaurer commented on #10941
I think this should be fixed by https://github.com/netty/netty/pull/10943

[2021-01-15 11:26] normanmaurer commented on #10934
Unfortunally I have no idea as we do not provide native builds for android at all.

[2021-01-15 11:26] #10934 closed

[2021-01-15 12:52] normanmaurer commented on #10878
I can't reproduce this when running `./mvnw clean package` :/

[2021-01-15 12:55] normanmaurer commented on #10823
We only return what is retuned by the OS / JDK. There is nothing we can do here.

[2021-01-15 12:55] #10823 closed

[2021-01-15 12:56] normanmaurer commented on #10792
@slandelle any update ?

[2021-01-15 14:09] #10731 closed

[2021-01-15 15:49] machao23 commented on #9882
@ahnuljz We ran into the similar issue, how did you resolve that ?

[2021-01-15 17:16] delegacy commented on #10878
I see. It's strange. 🤔

This [mvn.log](https://raw.githubusercontent.com/delegacy/netty/temp/mvn/mvn.log) might be helpful for further investigation. (Retried with OpenJDK 1.8.0_275 to follow How to build section in README.md)

If I knew where `libnetty_tcnative.jnilib` should come from, I could debug more for myself.

[2021-01-15 17:20] atropnikov commented on #10941
[code]

[2021-01-15 17:21] normanmaurer commented on #10941
@atropnikov thanks ... I suspect this should be fixed by: https://github.com/netty/netty/pull/10943

Is it possible for you to verify ?

[2021-01-15 17:29] atropnikov commented on #10941
Yes, we will try to verify soon.

[2021-01-15 17:32] normanmaurer commented on #10941
Keep me posted

[2021-01-16 02:23] hyperxpro commented on #10921
Is the server requesting Mutual TLS?

[2021-01-18 07:22] normanmaurer commented on #10875
ok... let me have a look.

[2021-01-18 09:02] marchlqq opened #10947 "Android Netty发送超时的问题"
netty version：3.6.6

## 问题现象：
一般情况，通过 netty 建立长连接以后，在网络正常的情况下收发消息是正常的。
但是，有不少用户，发送链接出去一会后，长达8-60s，以及更多时间，都收不到响应。

## 分析
1、用户网络正常，netty调用发送代码，耗时正常，2-4ms不等
2、抓包也显示，用户网络正常，收发均正常
3、暂时服务器、网络层的抓包无法分析
4、用户重新登录正常，但是还是很容易出现超时，一般是正常3-4条tcp请求之后，开始超时；
5、用户重新打开手机，会恢复正常。

解决思路：
1、用户netty 有数据未释放，暂时看不出哪里，希望大佬可以提出哪里存在问题，没释放；
2、netty使用上，存在问题，感觉同1，
3、网络服务器抓包，看是否有包的正常，目前提供不了数据，可能大家也不好帮忙

## 发送代码
netty 通过 channelFutur

[2021-01-18 09:04] normanmaurer commented on #10947
Use English please... also netty 3.x is EOL forever. Please upgrade to 4.1

[2021-01-18 09:54] normanmaurer commented on #10875
@mrksngl this should be fixed by https://github.com/netty/netty/pull/10948

[2021-01-18 10:23] #10947 closed

[2021-01-18 10:25] marchlqq commented on #10947
If my client is updated to 4.1, does the server need to be updated?

[2021-01-18 10:26] normanmaurer commented on #10947
no

[2021-01-18 10:27] marchlqq commented on #10947
Thank you verymuch

[2021-01-18 10:30] normanmaurer commented on #10921
Like @hyperxpro said.. I suspect the server does not request mutual TLS... We have various tests for mTLS and all pass. Let me close this one for now.

[2021-01-18 10:30] #10921 closed

[2021-01-18 13:02] #10875 closed

[2021-01-18 13:11] #10941 closed

[2021-01-19 02:49] Gene1994 opened #10949 "Why method void processSelectedKey(SelectionKey k, NioTask<SelectableChannel> task) in NioEventLoop be static?"
in NioEventLoop.java
line 673 private void processSelectedKey(SelectionKey k, AbstractNioChannel ch)
line 726 private static void processSelectedKey(SelectionKey k, NioTask<SelectableChannel> task)
why the below method be static?

### Netty version
4.1
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)

[2021-01-19 05:45] kaiseiyouse opened #10950 "Multiple files have hardcoded passwords, encryption keys. Software is relatively easy to reverse engineer, so attackers could gain access to those secrets. - reported by MobSF"
### Expected behavior
MobSF should not report this issue.

### Actual behavior
io.netty.handler.ssl.OpenSsl

Multiple files have hardcoded passwords, encryption keys. Software is relatively easy to reverse engineer, so attackers could gain access to those secrets. - reported by MobSF
![image](https://user-images.githubusercontent.com/9845747/104992553-440b1480-5a5c-11eb-9abe-d43b454982f9.png)

###

[2021-01-19 07:21] kaiseiyouse commented on #10950
@slandelle can you help explain, thx

[2021-01-19 07:27] normanmaurer commented on #10950
@kaiseiyouse these are only used to probe for some functionality and so will never be used in the "running" program. So these are "false positives"

[2021-01-19 08:39] chrisvest commented on #10949
The second one does not need access to the event loop object or its state, but the first one does.

[2021-01-19 08:39] #10949 closed

[2021-01-19 11:27] kaiseiyouse commented on #10950
thanks normanmaurer!

[2021-01-19 16:59] slandelle commented on #10792
@normanmaurer PTAL #10951

[2021-01-20 03:22] Gene1994 commented on #10949
@chrisvest I know why first method is non-static. but idk why the second method is static? beacuse it is used frequently?

[2021-01-20 06:24] slandelle commented on #10949
Because it doesn’t depend on any instance state. More of a convention / coding style.

[2021-01-20 06:41] Gene1994 commented on #10949
ok. thank you.

[2021-01-20 11:10] lizhanhui opened #10952 "refCnt after retainedSlice and slice"
### Expected behavior
AbstractByteBuf has the following implementation
<code>
    public ByteBuf retainedSlice() {
        return this.slice().retain();
    }
</code>

refCnt of parent ByteBuf and the sliced one should keep consistency with ByteBuf.slice().retain()

### Actual behavior

They are inconsistent.

### Steps to reproduce

See the re-preroducer code

### Minimal yet complete reproducer

[2021-01-21 10:11] chrisvest commented on #10952
The javadocs do not say that they must have the same reference counts, so this behaviour is within spec. As long as you pair up retains and releases, they will behave the same.

[2021-01-21 13:05] #10950 closed

[2021-01-21 13:40] #10929 closed

[2021-01-22 07:16] #10792 closed

[2021-01-23 12:21] huangqiangxiong opened #10957 "SslMasterKeyHandler.WiresharkSslMasterKeyHandler key log feature failure with TLSv1.3 (exception throws)"
Hi, @daschl @fzakaria could you help to locate the bug about master key log feature with TLSv1.3?

### Expected behavior

Exporting secret likes:

[code]

### Actual behavior

Throw exception:
[code]

This bug also causes https://github.com/grpc/grpc-java/pull/7724 merge (that is for https://github.com/grpc/grpc-java/issues/7199) to be reverted.

### Steps to reproduce

Enable TLS (default is TLS1

[2021-01-23 14:31] chrisvest commented on #10952
Duplicate of #10713

[2021-01-23 14:31] #10952 closed

[2021-01-25 06:44] ZeddYu opened #10959 "How to report a security related issue"
Hi. I found a security related issue. And I also read the security policy.

please do not use our public issue tracker
but report it to [the dedicated private Google Group](https://groups.google.com/d/forum/netty-security).

But I can't access the dedicated private Google Group. How can I report?

[2021-01-25 06:55] normanmaurer commented on #10959
Send an email there ... we will reply

[2021-01-25 06:58] #10959 closed

[2021-01-25 07:02] ZeddYu commented on #10959
New to using google group. Thank you.

[2021-01-25 13:26] normanmaurer commented on #10892
@mikroskeem any update ? I plan to cut a new release soon.

[2021-01-25 18:34] mikroskeem commented on #10892
Right.

This needs bit more planning and doing than I expected at first place, so this probably won't end up in a new release.

[2021-01-26 03:04] ati46 opened #10962 "Does HashedWheelTimer have a monitoring function"
I use HashedWheelTimer to implement part of the business. I would like to ask if there is a monitoring function, and I can get the tasks that have not been executed in the current HashedWheelTimer.

[2021-01-26 05:42] kaiseiyouse opened #10963 "App creates temp file. Sensitive information should never be written into a temp file. - reported by MobSF"
### Expected behavior
MobSF should not report this issue.

### Actual behavior
![image](https://user-images.githubusercontent.com/9845747/105805003-0c601780-5fdc-11eb-896e-56deed6e7b2e.png)

It appears that a .dynlib or .jnilib file is being written out to temporary storage. Please confirm whether or not the library file may contain sensitive information.  - reported by MobSF

### Steps to reprodu

[2021-01-26 07:49] franz1981 opened #10964 "inlining depth effects on indexOf"
https://github.com/netty/netty/pull/10737 has introduced a smarter way to search for a byte into an array stream, but similarly to other methods on `ByteBuf` it can still get some megamorphic behaviour (due to the `ByteBuf` hierarchy) or can just fail to inline whatever `PlatformDependent` method used to access the underline memory, due to call stack depth.

https://github.com/netty/netty/pull/103

[2021-01-26 10:42] ZiWee commented on #9703
i have the same

have u resolved it？ i also met
[code]

[2021-01-26 13:12] chrisvest commented on #10962
Is this different from `pendingTimeouts()`?

[2021-01-26 13:16] chrisvest commented on #10963
That's native code we use for interfacing with openssl and the like. No sensitive info in there.

[2021-01-26 13:49] #10963 closed

[2021-01-27 03:02] ati46 commented on #10962
I know pendingTimeouts(), but it can’t meet my needs. I want to know the details of the remaining tasks.
@chrisvest

[2021-01-27 07:47] nuo-promise commented on #8503
@windyrjc thank you!

[2021-01-27 10:30] hyperxpro commented on #10962
How about extending `HashedWheelTimer` and add your custom metrics?

[2021-01-28 08:55] normanmaurer commented on #10962
So if this is not what you are looking for than no it doesn't.. Please use stack overflow for questions in the future.

[2021-01-28 08:55] #10962 closed

[2021-01-28 08:56] normanmaurer commented on #10878
it should be included in the netty-tcnative artefact.

[2021-01-28 10:00] #10911 closed

[2021-01-28 12:37] machao23 opened #10972 "IllegalReferenceCountException occured during encoding"
I found some `IllegalReferenceCountException` during encoding, here is the exception stack:
[code]
From what I understand from the source code,  the entire process regarding this exception is following:
`MessageToMessageEncoder.encode()` failed and released the byte buffer, then in the finally block the buffer is released again which causes IllegalReferenceCountException
https://github.com/netty/n

[2021-01-28 14:18] danielflower opened #10973 "OutOfDirectMemoryError for large uploads using HttpPostMultipartRequestDecoder"
### Expected behavior

With a `HttpDataFactory` that has `useDisk=true`, I thought files of any size could potentially be uploaded.

### Actual behavior

Example error from below unit test:

[code]

### Steps to reproduce

Set `-Xmx64m` and run below unit test.

### Minimal yet complete reproducer code (or URL to code)

[code]

### Netty version

Tested on `4.1.56` and `4.1.58`.

### JVM version (

[2021-01-29 07:14] violetgo opened #10974 "PemReader"
### Expected behavior

hi , I have a few confuse. it seem PemRead.java have not close InputStream at `readPrivateKey` and `readContent method` ?
https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/PemReader.java

why neety don't close it ?
Are they not make open file leak?

 if i use SslContextBuilder for build ssl `SslContextBuilder forServer(InputStream keyCertChai

[2021-01-29 07:41] thinkerou opened #10975 "Any updates and plans about netty5?"
as title, thanks!

[2021-01-29 08:39] normanmaurer commented on #10974
Yes at the moment we expect you to call close... That said I can't think of a good reason why we shouldn't call close here one we consumed the stream. I will open a PR to change this

[2021-01-29 08:43] franz1981 commented on #10973
@fredericBregier  It could be related to https://github.com/netty/netty/pull/10623 given that right now file isn't written until a delimiter is found?

[2021-01-29 08:45] normanmaurer commented on #10973
I think so too... I think we should never the commit in question for now as while it fixes some "perf issues" when running in with paranoid leak detection I don't think it has any other benefits in real world use-cases. @fredericBregier WDYT ?

[2021-01-29 08:48] normanmaurer commented on #10972
For me it looks more like you passed the same `ReferenceCounted` object to `write` without `retain` it first.

[2021-01-29 08:58] machao23 commented on #10972
@normanmaurer But I noticed `HttpObjectEncoder.encode` retains the msg.
https://github.com/netty/netty/blob/abd5a7d922dadc24bcfc6f3f34802d7de115445d/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectEncoder.java#L137

[2021-01-29 08:59] normanmaurer commented on #10972
Yes it needs to retain it as the super class calls `release`. So Something like this for example would happen if you write the same `HttpContext` two times without retaining it.

[2021-01-29 09:00] normanmaurer commented on #10974
Should be fixed by https://github.com/netty/netty/pull/10976

[2021-01-29 09:05] machao23 commented on #10972
@normanmaurer You mean the `HttpObjectEncoder` calls `release` after `retain` ? Could you tell me where it calls the `release` ?

[2021-01-29 09:11] normanmaurer commented on #10972
https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/MessageToMessageEncoder.java#L91

[2021-01-29 09:15] machao23 commented on #10972
@normanmaurer Yes, I see it calls `ReferenceCountUtil.release` in `finally` block.
So if exception occurs before `encodeAndRetain`, the  `ReferenceCountUtil.release`  would throw the `IllegalReferenceCountException`, right?

[2021-01-29 09:17] normanmaurer commented on #10972
no.. as in this case the message would not be put in `out`.

[2021-01-29 09:19] machao23 commented on #10972
@normanmaurer I'm confused that. I see the `cast` not `out` pass into the `ReferenceCountUtil.release`.

[2021-01-29 09:29] ljevik opened #10977 "Querying ENUM DNS over TCP doesn't work"
### Expected behavior
Valid ANSWER is returned

### Actual behavior
DefaultDnsResponse(8625, QUERY(0), Refused(5)) is returned

### Steps to reproduce
1. We are resolving ENUM information for phone numbers over TCP.
2. There is a proxy server installed behind ha-proxy (port 10053), which is able to forward ENUM queries to our providers.
3. Example query (last 6 digits are replaced with X):
[code]

[2021-01-29 11:08] hyperxpro commented on #10977
It's hard to reproduce without some testing server.

[2021-01-29 13:53] ljevik commented on #10977
Which options do I have to trace this? So far even though I've added `.handler(new LoggingHandler(LogLevel.TRACE))` there is no output in console.

[2021-01-29 13:54] hyperxpro commented on #10977
Use `PcapWriteHandler` and upload the `pcap` file.

[2021-01-29 14:10] ljevik commented on #10977
OK, also, if it helps, here is the tcp dump from the host:
**dig command:**
[code]

**netty:**
[code]

[2021-01-29 14:28] ljevik commented on #10977
Here is the pcap file (had to use "txt" extention, because github didn't allow to upload it with "pcap"):
[dump.txt](https://github.com/netty/netty/files/5894339/dump.txt)

[2021-01-29 14:32] normanmaurer opened #10978 "Make SslContextBuilder more "extensible""
At the moment we have a few things on various `SslContext` implementations that can only be configured by "casting". I think it would be better to introduce something like `ChannelOption` but for `SslContext` and so allow easier configuration and also changing things without breaking others.

So I think we should introduce `SslContextOption` which follows the pattern of `ChannelOption` and add som

[2021-01-29 14:32] normanmaurer commented on #10978
/cc @slandelle @chrisvest @bryce-anderson WDYT ?

[2021-01-29 14:33] normanmaurer commented on #10978
Something like would also allow us to make it easier to setup key logging etc when using BoringSSL and so on.

[2021-01-29 16:01] wenlongkang opened #10979 "io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory"
server broadcast messages to 1600 clients and the I log out the direct buffer ，the direct buffer keep growing, cause an io.netty.util.internal.OutOfDirectMemoryError exception. when the server stop send messages to client the direct buffer  not released.

### Actual behavior
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 520093696, max: 5