[2015-06-25 08:23] normanmaurer commented on #3911
@bobwenx could you try to use netty 4.1.0.Beta6-SNAPSHOT ? This may be fixed by:
https://github.com/netty/netty/commit/49643fb5b12fc8426cc8d5cf98adb55687961770

[2015-06-25 08:25] normanmaurer commented on #3904
What about taking a heap dump ?

[2015-06-25 08:25] ashish-tyagi commented on #3913
Hi @normanmaurer,

Can you please give me the link of PR which fixes this issue. We will try with 4.0.29.Final. However, given that this problem does not produce always, if the problem does not produce for a few days with 4.0.29-Final, there will still remain a doubt if the problem has been fixed or if the problem has not just produced again. Thanks!

[2015-06-25 08:26] normanmaurer commented on #3902
@jroper sounds good. I would for sure be happy to review.

[2015-06-25 08:29] normanmaurer commented on #3913
@ashish-tyagi Seems like we changed to not add a ChannelFutureListener when a VoidChannelPromise is used here: https://github.com/netty/netty/commit/275e2f0b3689a2f560a4e6c70c1f8929ee16beb7#diff-cfab6ab9111be41b2f39beb8d154e79fR540

In your heap dump all the references are because of adding listener when a VoidChannelPromise is used.

[2015-06-25 08:46] ashish-tyagi commented on #3913
Hi @normanmaurer,

I think this should fix the issue. There is another concern related to this. There were 1048576 listeners attached to 1 NioChannel. This means that AbstractUnsage.close() would have been called 1048576 times for one channel. Is not that too big a number? I think that points to another bug.

[2015-06-25 09:29] normanmaurer commented on #3913
@ashish-tyagi yes it is a big number... I wonder how this can happen.

[2015-06-25 10:53] ashish-tyagi commented on #3913
We are going to try with 4.0.29-Final. Will update this thread with our findings. Thanks @normanmaurer !

[2015-06-25 12:18] grgvineet commented on #3904
Not getting an exception, but still a thread goes wild with too much cpu usage and garbage collection. Here is the link for heap dump https://drive.google.com/file/d/0B7UrqqDErPX4djZ2Mzl3NGNnLTA/view?usp=sharing.
Here are the images showing threads in Android Device Manager
![thread1](https://cloud.githubusercontent.com/assets/6297036/8354028/39dc2010-1b62-11e5-9f42-e9ce00b770a5.png)
![thread2](ht

[2015-06-25 19:07] Scottmitch commented on #3852
@louiscryan - Thanks for the update. It seemed the PR which coalesced data was assuming this change would rectify some of the degradation it introduced for larger payload sizes. Do we need to take any follow-up action to correct this?

[2015-06-25 19:48] louiscryan commented on #3852
No, the degradation for larger payload was caused by using a payload
ByteBuf that was too large to be allocated out of the pool. I don't think
there is any followup specific to HTTP2 here. The appropraite fix has been
made in the GRPC benchmarks https://github.com/grpc/grpc-java/pull/563

On Thu, Jun 25, 2015 at 12:08 PM, Scott Mitchell <notifications@github.com>
wrote:

[2015-06-25 21:11] Scottmitch commented on #3852
@louiscryan - I'm not sure how reducing the payload size by itself would mitigate an issue, just seems like we are taking a different data point, maybe you should also add another size for what was `JUMBO`?  I recall you saying there was some extra copy operations going on in the benchmarks?  I could see may if the benchmarks were somehow copying the now bigger payloads that may cause some overhea

[2015-06-25 21:51] louiscryan opened #3914 "Data frame coalescing in HTTP2 breaks with LocalChannel"
In DefaultHttp2ConnectionEncoder.FlowControlledData the use of discardReadComponents on completion of the write promise causes the slices read out of CompositeByteBuf to have invalid indices.

For local channel the write promise is completed before the received buffer is read.

Fix forthcoming

[2015-06-26 09:25] bobwenx commented on #3911
i will try `4.1.0.Beta6-SNAPSHOT` at this weekend. If there is any progress, i will update it here.

[2015-06-26 09:28] normanmaurer commented on #3911
Thanks!

[2015-06-26 19:37] louiscryan opened #3915 "FixedCompositeByteBuf is broken copying bytes to direct buffers"
@normanmaurer @trustin

In methods like

public ByteBuf getBytes(int index, ByteBuf dst, int dstIndex, int length) {

it uses

int localLength = Math.min(length, s.capacity() - (index - adjustment));

instead of

int localLength = Math.min(length, s.readableBytes() - (index - adjustment));

This looks like a rough copy and paste from CompositeByteBuf but unlike CompositeByteBuf it does not slice()

[2015-06-26 19:41] normanmaurer commented on #3915
@louiscryan sounds like a bug... would you mind creating a PR with fix + unit test?

[2015-06-26 19:46] louiscryan commented on #3915
already in progress... :)

[2015-06-26 19:46] normanmaurer commented on #3915
@louiscryan yay :) Ping me once ready for review

[2015-06-26 20:24] nmittler opened #3916 "Utility method for efficient access to NIO buffers"
The `SslHandler` has an optimization efficiently returning the underlying NIO buffers: https://github.com/netty/netty/blob/dec53cff86f9144c16ae446662bd4ea6e13e0a6d/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L605

This code seems rather generic and could be used in other places.

The one piece that may not be generic is the way we force a copy into a direct buffer when using OpenSSL

[2015-06-27 14:56] mp911de opened #3919 "Client performance/scalability: Multi-threaded write to one channel vs. multiple channels"
Hi there,
I'm dealing with netty client scalability with multiple connections. I maintain lettuce, a Redis client.

**TL;DR**
Why does effective performance not scale (linear) to the connection count?

**Environment/Use-Case**
- Client using Nio with shared event loop group
- Small messages (about 30 bytes) with a flush aver each message
- A small number of concurrent connections (4 connections)

[2015-06-27 15:46] WhiteTrashLord opened #3920 "Mistake on http://netty.io/"
Downloads -> 4.0.29.Final 23-Jul-2015

must be 4.0.29.Final 23-Jun-2015

[2015-06-27 15:50] normanmaurer commented on #3920
Doh! Will fix!

[2015-06-27 19:33] #3915 closed

[2015-06-27 19:33] normanmaurer commented on #3915
Cherry-picked, thanks!

[2015-06-27 19:51] normanmaurer commented on #3908
@grgvineet If the remote peer just dies the only way to detect is by writing data or try to read data.

[2015-06-27 19:51] #3908 closed

[2015-06-27 19:53] normanmaurer commented on #3900
@SutarSuhas code snippets would help. Also do you use the OpenSSL bindings or not ?

[2015-06-27 19:53] normanmaurer commented on #3895
@ejona86 I will close for now... Please re-open if you think there is an issue :)

[2015-06-27 19:54] normanmaurer commented on #3824
@fantayeneh are you still working on this ?

[2015-06-27 19:57] normanmaurer commented on #3920
Deployed a fixed website :) Thanks for reporting.

[2015-06-27 19:57] #3920 closed

[2015-06-27 20:00] normanmaurer commented on #3904
@grgvineet could you try to move to PooledByteBufAllocator ?

[2015-06-27 20:33] normanmaurer commented on #3919
@mp911de thanks for the report, and no you not scared me at least =P I'm a bit busy today but will check in detail at latest on monday.

[2015-06-27 20:49] grgvineet commented on #3904
Still getting this.
Could be somehow related to Security Provider ?
![thread3](https://cloud.githubusercontent.com/assets/6297036/8393766/ff56423c-1d3b-11e5-94e2-1d5bb2c793a5.png)

[2015-06-28 11:37] jroper commented on #3902
Ok, so I'm ready for a firest review of the publisher approach.  You can also review the publisher if you like, though the more important thing at this stage is the approach.  You can read the relevant javadocs here:

https://github.com/typesafehub/netty-reactive-streams/blob/master/src/main/java/com/typesafe/netty/HandlerPublisher.java

So, `HandlerPublisher` is similar to `SimpleInboundChannelHa

[2015-06-28 11:57] jroper commented on #3902
I just tried out using removing the handler as a mechanism, the reason it doesn't work is that removing the handler is always done synchronously, while publishing a read event may be done asynchronously, that means you can't publish a read event and then remove the handler, because the handler may be removed before it receives the read event, and so the read event will be lost.

I'm wondering if u

[2015-06-28 21:58] grgvineet commented on #3904
Seems like something within Android, from its security provider is creating problem for Netty. Updated security provider and everything is working fine. Android does not use java's security provider, instead it uses conscrypt[1], an open ssl based java provider. Can you look into the matter and provide support for it, means for an older version of it. Netty is fine for new version.

[1]https://con

[2015-06-29 06:16] steven-gao commented on #3338
thank you to scottmitch,the problem is solved,the reason is that client version not correct!

[2015-06-29 06:16] #3338 closed

[2015-06-29 08:00] jroper opened #3921 "EmbeddedChannel constructor throws IllegalStateException"
On Netty 4.0.29, when I try to construct an `EmbeddedChannel`, I get an `IllegalStateException`:

[code]

I'm not sure what the problem is, it first registers the event loop, this is usually an asynchronous operation so adding the handler straight after would usually be a race condition, but the implementation of the `EmbeddedEventLoop` register looks like it should be synchronous, so it looks lik

[2015-06-29 08:06] jroper commented on #3921
I misread the code, I thought it was adding the handlers after registering with the event loop, but it's actually adding the handlers before registering with the event loop, which is clearly not allowed.

[2015-06-29 08:06] normanmaurer commented on #3921
@jroper can you show me the code you use ?

[2015-06-29 08:11] jroper commented on #3921
Sorry, I just noticed... the problem is that my `handlerAdded` callback is throwing an exception, and firing that exception is failing due to no event loop.  Up to you if you think this should be handled better, if not, just close this issue.

[2015-06-29 09:51] normanmaurer commented on #3921
@jroper it's a bug... Let me fix it.

[2015-06-29 10:41] normanmaurer commented on #3919
@mp911de could you also share the code that uses SocketChannel directly ?

[2015-06-29 10:46] normanmaurer commented on #3919
@mp911de I did some quick tests and if I use an EventLoopGroup with only one thread, using multiple connections + PooledByteBufAllocator using multiple connections out performs a single connection here.

[2015-06-29 10:50] mp911de commented on #3919
[code]

[2015-06-29 10:53] mp911de commented on #3919
A single-threaded EventLoopGroup performs about 2x faster, I got same results for single and multiple connections

[2015-06-29 11:02] normanmaurer commented on #3919
@mp911de thanks... I will check but I suspect it is how we handle writes from outside the EventLoop in Netty. If you write from outside the EventLoop we basically need to wakeup the Selector everytime you call Channel.writeAndFlush(...). This is needed as the we need to ensure we do the actual write from inside the EventLoop and so have your ChannelHandlers inbound and outbound methods called by t

[2015-06-29 11:06] mp911de commented on #3919
I'll change my code to use the event loop as executor instead of the external ThreadPoolExecutor

[2015-06-29 11:10] normanmaurer commented on #3919
@mp911de let me know how it works out!

[2015-06-29 11:17] normanmaurer commented on #3919
@mp911de also another good optimation would be to not call writeAndFlush(...) everytime but call write(...) a few times and then flush. This will ensure you do a gathering write if possible and so safe sys calls.

[2015-06-29 11:17] mp911de commented on #3919
Some 15-18% improvement (from 250K to 295K ops/sec). A single-threaded EventLoopGroup is still faster.

[2015-06-29 11:19] normanmaurer commented on #3919
@mp911de you need to ensure that the channels that are contained in one Dispatcher are on the same EventLoop

[2015-06-29 11:20] mp911de commented on #3919
@normanmaurer That's my Idea from yesterday (https://github.com/mp911de/lettuce/issues/92). Using the full client achieves a boost to about 800K ops/sec instead of (100 to 150K ops/sec), but these are different numbers compared to the very slim test code, which I provided.

[2015-06-29 11:30] mp911de commented on #3919
@normanmaurer Talking about http://stackoverflow.com/questions/22559272/netty-4-channel-eventloop-mapping-in-the-nioeventloopgroup / https://github.com/netty/netty/issues/1230 ? I tried also a single-threaded EventLoopGroup per channel, but similar performance than a shared EventLoopGroup with multiple threads.

[2015-06-29 14:19] 0mok opened #3922 "`OpenSslServerContext.setTicketKeys` does not works in 3.x"
There are invalid check arguments in 'OpenSslServerContext.setTicketKeys'.

[code]

[2015-06-29 19:39] nmittler commented on #3916
@normanmaurer gentle ping ;)

I think this should be an easy one. I'd be happy to put together a CL.  WDYT?

[2015-06-29 19:40] normanmaurer commented on #3916
@nmittler let me think a bit about it... (till tomorrow ;)).

[2015-06-29 22:52] Scottmitch commented on #3922
@0mok - Should this be closed?

[2015-06-29 22:56] alvinlin123 opened #3924 "Can we return HTTP 400 upon malformed HTTP request?"
This is related to https://github.com/playframework/playframework/issues/4077.

I searched the issues in github and couldn't find any related issue.

We are using netty 2.6 and we found that if today we send an invalid http request like this `curl http://my.netty.host.com/oh I have space` netty will just throw IllegalArgumentException and close connection.

I am wondering why not just return 400 i

[2015-06-29 22:57] Scottmitch commented on #3916
@nmittler - I think I created an issue or 2 when stumbling across this code

https://github.com/netty/netty/issues/3306
https://github.com/netty/netty/issues/3358

So short term may be to pull this optimization out...but longer term I think it would be nice to have an interface which accommodates use cases more nicely.

[2015-06-29 23:54] 0mok commented on #3922
Yes.

[2015-06-29 23:54] #3922 closed

[2015-06-30 10:07] normanmaurer commented on #3924
@alvinlin123 I think we only throw the exception and closing the connection is actually done by the play framework implementation when an exception is catched. I'm not sure what exact version play uses though

[2015-06-30 10:07] normanmaurer commented on #3913
@ashish-tyagi any update ?

[2015-06-30 10:07] normanmaurer commented on #3910
I will try to god this over the next weeks :)

[2015-06-30 10:10] normanmaurer commented on #3911
@bobwenx any update ?

[2015-06-30 11:29] bobwenx commented on #3911
Hi @normanmaurer, Sorry for the late reply :)

i already using `4.1.0.Beta6-SNAPSHOT` in my environment at last weekend, and right now, it works fine without problems!

[code]

[2015-06-30 11:31] normanmaurer commented on #3911
@bobwenx let us wait a few days and if it still looks good close this as fixed :) Will ping you again on the end of week.

[2015-06-30 11:51] ashish-tyagi commented on #3913
Hi @normanmaurer

As this problem produces only in our prod setup, we are waiting for the new service to go in production. That would take one more week.

If you want, you can close this issue. I will still update it with the findings. Thanks!

[2015-06-30 12:35] darshansundaresh opened #3925 "DatagramChannel joingroup throws ClosedChannelException on Windows"
Netty version:4.0.30.Final

Context:
Trying to get an netty application to join a multicast group over udp throws a ClosedChannelException on windows. This however works on OSX. Sample code below.

    public class UDPMulticastTest {

        public void start() throws Exception{
            EventLoopGroup group=new NioEventLoopGroup();
            ChannelGroup allChannels=new DefaultChannelGroup(

[2015-06-30 14:51] nmittler commented on #3916
@Scottmitch awesome! ... glad you're already thinking about this :). What are the potential roadblocks to making the API changes less long-term? I'd be happy to help brainstorm.

[2015-06-30 16:29] alvinlin123 commented on #3924
Yes, looking deeper it looks like Netty just forward the exception to the next upstream. This is non issue then. Resolving. Thanks for replying.

[2015-06-30 16:52] alvinlin123 commented on #3924
Actually, now I think about it upon unable to parse the HTTP request, wound't it make more sense to throw some kind of special exception instead of IllegalArgumentException?  We are using Netty 3.6 by the way. Netty do throw TooLongFrameException if the first line is too long, then I think it follows that Netty should throw, say, InvalidMessageFormatException, if it can't parse the Http message?

[2015-06-30 20:24] kkuehl commented on #3761
Here is an example dig result
$ dig -x 97.74.197.162

; <<>> DiG 9.10.2-RedHat-9.10.2-1.fc22 <<>> -x 97.74.197.162
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 39610
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4000
;; QUESTION SECTION:
;162.197.74.97.in-addr.arpa.	IN	PTR

[2015-06-30 22:45] Scottmitch commented on #3916
@nmittler - I would need to re-engage and get myself back up to speed. I spent a small amount of time thinking about the problem, but mostly just documented it.  If you have spent some cycles feel free to comment on existing issues and/or close/consolidate existing issues.  Just a quick glance back my mindset is to have an API that doesn't require special usage depending on underlying buffer count

[2015-06-30 23:32] trustin commented on #3761
@kkuehl What you got is a `ByteBuf`. You need to decode it by yourself. Just doing `toString()` won't do that.

[2015-07-01 08:12] Apache9 opened #3927 "FileRegion support in HTTP/2"
I'm currently working on [HDFS-7966 New Data Transfer Protocol via HTTP/2](https://issues.apache.org/jira/browse/HDFS-7966).

The code is based on netty and we find that the data frame only accepts ByteBuf as its content so we can not use FileRegion to send block data.

I know that one can not use FileRegion if there is an SslHandler in the pipeline, but netty still supports clear text HTTP/2 prot

[2015-07-01 08:23] trustin commented on #3924
I think it's better upgrading in the long run.  `HttpObject` (the supertype of `HttpMessage` and `HttpContent`) has the `decoderResult()` property that tells you when decoding fails.  Since 4, Netty does not throw an exception on a decoding failure but emits a partial message with the information about the failure, so you can handle the decoding failure more gracefully.

With Netty 3, you don't ha

[2015-07-01 14:48] nmittler commented on #3927
The entire HTTP/2 stack (as was the case for SPDY) is `ByteBuf` based.  I'm not sure how we could support `FileRegion` without significant refactoring.  Or did you have some ideas?

[2015-07-01 16:02] jwboardman commented on #2474
I also noticed that HttpStaticFileServer wasn't setting the transfer encoding to chunked in the case of SSL, so I added that to mine just before the initial ctx.write(response) like this:

[code]

Unfortunately it didn't fix the issue, but it does seem to me that this should be there.

[2015-07-01 16:54] nmittler commented on #3358
@trustin @Scottmitch will `Stream` be able to support use cases such as `SslHandler` that require NIO `ByteBuffer`?

[2015-07-01 17:04] nmittler commented on #3916
@Scottmitch @normanmaurer @trustin @louiscryan interesting thing, we have a bunch of classes that have similar use cases:

[PendingWriteQueue](https://github.com/netty/netty/blob/ed4a89082bb29b9e7d869c5d25d6b9ea8fc9d25b/transport/src/main/java/io/netty/channel/PendingWriteQueue.java)
[CompositeByteBuf](https://github.com/netty/netty/blob/ed4a89082bb29b9e7d869c5d25d6b9ea8fc9d25b/buffer/src/main/jav

[2015-07-01 18:19] ensirius commented on #2936
I am sorry, but i must open this issue again. Because every time i need read or write string i fell pain.
[code]

[2015-07-01 21:57] Scottmitch commented on #2936
@ensirius - Basically what you want is a [StringEncoder](https://github.com/netty/netty/blob/master/codec/src/main/java/io/netty/handler/codec/string/StringEncoder.java) that first writes the length (and a corresponding `StringDecoder`)?  If so would you be interested in submitting a PR? Sounds like you have done most of the work already....might as well get credit :)

[2015-07-01 22:06] ensirius commented on #2936
@Scottmitch If i corretcly understand, it's convert whole ByteBuf to String. This is not what i want. my packet read looks something like that:
[code]

I can write PR, but i am not sure that i can write good java doc

[2015-07-01 22:32] lukehutch commented on #2474
The full recipe you need is pretty complex, because HttpChunkedInput writes a LastHttpContent but DefaultFileRegion doesn't. This is what I have currently:

    RandomAccessFile fileToServe = null;
    try {
        // Create new RandomAccessFile (which allows us to find file length etc.)
        long lastModifiedEpochSeconds = theFile.lastModified() / 1000;
        fileToServe = new RandomAccessF

[2015-07-01 22:47] Scottmitch commented on #2936
@ensirius - I'm still not entirely sure what you want and how to generalize it, would you mind submitting a PR so I can better understand. We can help with the javadocs if necessary.

[2015-07-01 22:52] Scottmitch commented on #2474
@WhiteTrashLord @lukehutch - Thanks for the details!

@normanmaurer - would you mind taking a closer look?

[2015-07-01 22:58] ensirius commented on #2936
https://github.com/ensirius/netty/commit/8ffd9bf6f4fa0bb08cbead2cea2d9cd255012407

[2015-07-01 23:04] lukehutch commented on #2474
You're welcome. You can see my complete working HTTP server here, in case it's helpful: https://github.com/lukehutch/gribbit/blob/master/src/gribbit/request/handler/HttpRequestHandler.java

[2015-07-02 01:45] jwboardman commented on #2474
Super helpful, thank you so much for sharing!

[2015-07-02 03:17] lukehutch commented on #2474
@jwboardman : Good catch, I'm not sure of the answer to that, and don't have the time to test it right now, but I would love to hear the answer to that question. I updated my code to set the header, thanks for pointing it out. It's probable if you set Content-Length but don't sent Transfer-Encoding (which is what I was doing), then you'll get corrupted content, because there will be a "\r\n" inser

[2015-07-02 03:28] lukehutch commented on #2474
PS when I say "my complete working HTTP server", actually, based on @jwboardman's comment, I'm guessing my code is actually still not working in the case of file sending, pending having this bug fixed. (i.e. don't look to my code to try to figure out why file sending is not working for you, since I hit the same problem, and Norman hasn't commented yet).

[2015-07-02 03:30] jwboardman commented on #2474
@lukehutch no problem, I'm glad I was able to help since you've helped so much with your code!

[2015-07-02 04:50] bobwenx commented on #2474
the `DefaultFileRegion` and `ChunkedWriteHandler/HttpChunkedInput` will close `RandomAccessFile` automatically.

[2015-07-02 05:51] normanmaurer commented on #2936
@ensirius like @Scottmitch said this is really just an encoder / decoder and not really specific to ByteBuf, so I would like to not add it to it. I guess we could add it to ByteBufUtils. @Scottmitch @trustin WDYT ?

[2015-07-02 08:03] jroper commented on #3902
Ok, I've now got this to a point where I'm happy that it's working and feature complete.  Both the publisher and subscriber TCKs pass.  I have made no attempt to optimise performance, however, the performance won't be bad, it is completely non blocking.  When a context is available (once `handlerAdded` is invoked), all events that didn't come from Netty are sent to the handlers context.  Prior to

[2015-07-02 14:29] welarson commented on #2474
@lukehutch Looking at your code real quick, shouldn't the write for HttpChunkedInput be a writeAndFlush?

    lastContentFuture = ctx.write(new HttpChunkedInput(
                new ChunkedFile(fileToServe, 0, fileLength, 1)),
                ctx.newProgressivePromise());

That could prevent the fire from being sent. That was a bug in the HttpStaticFileServer example that has been fixed recently.

[2015-07-02 14:58] normanmaurer commented on #2474
@welarson you are right... writeAndFlush is needed.

[2015-07-02 16:11] Scottmitch commented on #2936
@normanmaurer - Agreed, lets keep this out of `ByteBuf`.  I'm not against adding it to `ByteBufUtils` (`Charset` will have to be a parameter on the encode/decode side).

[2015-07-02 18:57] lukehutch commented on #2474
@welarson @normanmaurer thanks, my code was based on the old (buggy) version of HttpStaticFileServer. I believe this will solve the issue for me at least. One question though: I assumed that adding a ChannelFutureListener that calls future.channel().flush() was the right way to flush the channel asynchronously, but this bug was triggered because the ChannelFutureListener is not even invoked until

[2015-07-03 02:05] Apache9 commented on #3927
I could have a try to see if we can support it with acceptable modifications on the existing code.

Thanks.

[2015-07-03 04:23] Apache9 commented on #3927
I have developed a proof-of-concept(#3928). Two unknown problems:
1. FileRegion does not support slice, so I write an ugly split method...
2. All 'size's are int in the original code, but FileRegion's count could be long. I just cast the count to int in the POC implementation.

[2015-07-03 12:24] normanmaurer commented on #3899
Fixed

[2015-07-03 12:24] #3899 closed

[2015-07-03 14:14] fireinmyveins opened #3936 "Memory almost full with io.netty.util.Recycler$DefaultHandle instances"
My current server config :
######################
bossGroup = new NioEventLoopGroup(1);
        workerGroup = new NioEventLoopGroup(workerThreads); //which is 2

        try {
            ServerBootstrap b = new ServerBootstrap();
            b.group(bossGroup, workerGroup).channel(NioServerSocketChannel.class).childHandler(new ChannelInitializer<SocketChannel>() {
                @Override

[2015-07-03 16:42] bobwenx commented on #3936
try call `ByteBuf.release` to release buf?
[code]

[2015-07-03 17:34] ThomasLau opened #3937 "MqttDecoder.decodeAsciiString() may result in an npe."
hey,guys,currently i'm learning netty codec-mqtt,and i noticed these code:
[MqttDecoder line413](https://github.com/netty/netty/blob/master/codec-mqtt/src/main/java/io/netty/handler/codec/mqtt/MqttDecoder.java)

[code]

we can see from above that decodeString may "return new Result<String>(null, numberOfBytesConsumed);", and "final String s = result.value;" may lead s to a null value,as a result,

[2015-07-03 17:54] bobwenx commented on #3937
In most case, this will not happen, because MQTT message's payload can not exceeds `268,435,455`(256 MB).
the code just check range between 0 - Integer.MAX(2147483647).

see 2.2.3: http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html

if the client send a invalid MQTT message(without payload), then, i think throw exception is reasonable option.

[2015-07-03 18:35] ThomasLau commented on #3937
tks @bobwenx , ye,i can see that there is a range check before,however, i don't think here we throw an "exception",i think this exception is made by s.length() itself,but not a validation logic.

[2015-07-03 18:47] bobwenx commented on #3937
the `s.length()` call only happen in MqttDecoder, all private static `decodeXX` method only be invoke by `MqttDecoder.decode`.
so if any exception throws, it will be treat as decoding failure.
from the perspective of decoder, it's the same: the message is invalid.

[2015-07-04 04:17] ThomasLau commented on #3937
@bobwenx yes,that sounds reasonable,and does that mean we could take no care of any exception that caused by our code but not by illegal inputs,just because the call method will catch all exception?

i think,as you mentioned,in that scenario, we may throw an illegalinputexception or sth,before we use
 *s.length()*

[2015-07-04 10:53] allenzhu opened #3938 "Endless loop when ChannelOutboundBuffer.addFlush"
Hi, on Netty 4.0.25, i face a endless loop when `ChannelOutboundBuffer.addFlush`:

[code]

And cpu one core utility ratio 100%:

[code]

This cause the other task attach to this io thread can not execute at all, even client close the channel.

client side net state(Send-Q full):

[code]

server side net state(Recv-Q full):

[code]

Attach the process found that entry.next(id=2593) == itself(id=259

[2015-07-04 11:06] normanmaurer commented on #3938
Will investigate. Can you reproduce this easily? Also vould you upgrade to 4.0.29.Final and check if you still see the problem?

[2015-07-04 11:16] allenzhu commented on #3938
Yes, i can reproduce it. but it need run for a while and also i will try 4.0.29.Final

[2015-07-04 11:19] normanmaurer commented on #3938
If you could provide a simple reproducer it would help a lot

[2015-07-04 11:47] allenzhu commented on #3938
reproduce step are:
1. start broker.
2. start five consumer to pull message (high throughput), after a while this happen.(The main change code as shown previously. The other part can see this: https://github.com/alibaba/RocketMQ/tree/master/rocketmq-remoting/src/main/java/com/alibaba/rocketmq/remoting)

[2015-07-04 15:50] zhenyu-zhou opened #3939 "Congestion control in Netty"
Hello,

I'm trying to understand congestion control in Floodlight, which implements Netty to handle its control channel. I find that if I burst to send more than around 1000 pkt-in, pkts begin to loss. I have asked the Floodlight people but they said they did not make this control by default and suggested me to look into Netty. Therefore I'm wondering whether there is such mechanism in Netty (wher

[2015-07-04 16:01] ThomasLau commented on #3936
i think this is mainly how jvm woks,jvm will recycled heap space after gc,but wont give it back to os.
here is another detail topic http://stackoverflow.com/questions/4952568/is-there-a-way-to-lower-java-heap-when-not-in-use

[2015-07-04 19:36] bobwenx commented on #3911
Hi @normanmaurer, right now, native-epoll transport works fine.

But i have another question about `OpenSslEngine.OpenSslSession`'s object life cycle.
In my server, i took a JVM heap dump during night, and at that moment, the server have about `4500+` TCP/SSL connection established.
And the heap dump shows that channel-related objects exactly matched the count of established TCP connection.

![ima

[2015-07-04 19:57] normanmaurer commented on #3911
Thats interesting. Let me check the heap dump

[2015-07-05 05:42] bobwenx commented on #3911
The init code of  `OpenSSLEngine`:
[code]

Are `SSLContext.setSessionCacheSize(ctx, sessionCacheSize)` will enable object cache of  `OpenSslEngine.session`?

[2015-07-05 07:22] ThomasLau commented on #3938
wow,it's strange here,i think the only chance that tailEntry.next=itself is when it is assinged to a value:
[code]
entry.next is null here.i guess this endless loop may be caused by another exception.

[2015-07-05 07:55] allenzhu commented on #3938
yeah, it looks like that, or maybe concurrently operate the data structure somewhere but i didn't find it.
And i try 4.0.29.Final version to run the application for more than 15 hours, it doesn't reproduce util now.

[2015-07-05 07:59] normanmaurer commented on #3938
Keep us posted when you can reproduce it .

[2015-07-05 08:10] allenzhu commented on #3938
Ok, by the way the usage of migrating channel from one EventLoopGroup to another is suitable?
Are there some traps about it ?

[2015-07-05 14:31] icecooly opened #3940 "netty-all-5.0.0.Alpha2 have memory leak?"
i am using netty-all-5.0.0.Alpha2

have such test
client:
ExecutorService service=Executors.newFixedThreadPool(10,new ContainerThreadFactory("TestGameServerClient"));
for(int i=0;i<1;i++){
        	TestGameServerClient client=new TestGameServerClient(host, port);
        	service.execute(client);
}
 @Override
    public void run() {
    	while(true){
        	if(isConnected){
        		write("{}\n

[2015-07-05 14:33] icecooly commented on #3940
jmap -histo 2446

[2015-07-06 06:54] jroper commented on #3667
+1

Child handlers seem to me to be the perfect level to do this at, since they support the bidirectional flow of data and back pressure, and would allow HTTP1 applications to use HTTP2 with only a small amount of modification - nesting the channel initialiser for their app another pipeline deeper.  I'm actually surprised this wasn't done from the outset.

If done right, this would allow the reuse

[2015-07-06 07:39] fireinmyveins commented on #3936
i'm not concerned with the max heap size, what worries me is that the used heap contains ~250 MB of "?useless?" objects.

[2015-07-06 12:33] allenzhu commented on #3938
@normanmaurer i reproduce it with 4.0.29.Final.
The same phenomenon as before. One cpu core util ratio 100%.

[2015-07-06 16:35] nmittler commented on #3358
I think @Scottmitch's idea of a `forEachComponent` (or maybe `forEachNioBuffer`) method seems like a reasonable approach in that it would support nested `CompositeByteBuf`s reasonablly well. We'd have to take a closer look at each usage of NIO buffers in Netty to see if this API would be sufficient in all cases.

Also, it's not clear how the `Stream` abstraction simplifies access to the underlying

[2015-07-06 17:29] ejona86 commented on #3667
@jroper, having the HTTP/2 data objects extend the equivalent HttpObject turned out to be cause problems, almost entirely due to how headers are done differently in HTTP/2 via Http2Headers. Converting to/from the HTTP/1 headers is possible, but not free. Thus, it seemed that HTTP/2 having its own objects and only convert when an application adds a special converting handler was appropriate.

[2015-07-06 18:59] nmittler opened #3941 "Memory leak in SslHandler with ALPN"
gRPC has a report of a memory leak related to ALPN: https://github.com/grpc/grpc-java/issues/598

Looking at the [SslHandler code](https://github.com/netty/netty/blob/dec53cff86f9144c16ae446662bd4ea6e13e0a6d/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L406), it looks like we close the `SslEngine` in `disconnect` and `close`.  I'm wondering if we have a missing event handler here. II

[2015-07-06 19:04] nmittler commented on #3916
@Scottmitch I'm going to close this as a duplicate of #3306. We can continue discussion there and in #3358.

[2015-07-06 19:04] #3916 closed

[2015-07-06 19:08] normanmaurer commented on #3941
@nmittler I think it should be correct:

https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L699
https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L1279

Here it calls closeInbound() and closeOutbound() which should cleanup stuff or I'm missing something ?

[2015-07-06 19:23] nmittler commented on #3941
@normanmaurer ah, I missed that - yeah, that should do it :/.

[2015-07-06 19:31] normanmaurer commented on #3667
@ejona86 but would the idea of do stuff with child channels and ChannelHandler apply ? I kind of like the idea to not need to "learn" another api :)

[2015-07-06 20:29] nmittler commented on #3941
Closing this as it doesn't look like it's a Netty issue afterall.

[2015-07-06 20:29] #3941 closed

[2015-07-06 21:10] jroper commented on #3667
That surprises me because as the HTTP 2 spec states, HTTP 2 only changes the wire protocol, not the semantics of HTTP messages. And it was certainly the intention of the HTTP 2 spec authors that HTTP 2 should, to existing HTTP 1.1 apps, be a transparent upgrade. If there's something wrong with Netty's HTTP 1 data modeling that prevents it from being used with HTTP 2, then that is probably somethin

[2015-07-06 22:04] ejona86 commented on #3667
@normanmaurer, I thought the entire point of this issue was to do stuff in child channels and use ChannelHanlders, so I didn't reply to that part. It seemed like a continuation of the +1.

@jroper, it is true that HTTP/2 only changes the wire protocol. However, Netty works _with_ the wire protocol (like in the Matrix :-P) and tries to have very high efficiency. So in the HTTP/2 implementation ther

[2015-07-07 02:24] jroper commented on #3667
@ejona86 That makes sense - indeed many wire level concerns do flow into application code when using Netty.

Perhaps this deserves a new issue - but - I can see there is some existing conversion logic, however it converts to/from `FullHttpMessage`.  When we put Play on top of HTTP/2, for example, we won't be able to use this, since Play must not buffer the full body because Play bodies are potenti

[2015-07-07 04:16] mingfai commented on #3462
i think i can't provide more information on this issue. thx for your help.

[2015-07-07 04:16] #3462 closed

[2015-07-07 06:03] trustin commented on #3884
/cc @jestan

[2015-07-07 06:40] normanmaurer commented on #3896
Fixed by https://github.com/netty/netty/pull/3930

[2015-07-07 06:40] #3896 closed

[2015-07-07 07:05] darshansundaresh commented on #3925
Found the problem to be in binding to a multicast address before joining the group, which for some reason does not work on windows. Had to update the  bootstrap.bind to use a wildcard address.

[2015-07-07 07:05] #3925 closed

[2015-07-07 07:06] normanmaurer commented on #3921
Fixed by https://github.com/netty/netty/pull/3935

[2015-07-07 07:06] #3921 closed

[2015-07-07 07:21] normanmaurer commented on #3780
Fixed by https://github.com/netty/netty/pull/3931

[2015-07-07 07:21] #3780 closed

[2015-07-07 07:44] normanmaurer commented on #3925
@darshansundaresh thanks for the info!

[2015-07-07 08:32] erimatnor opened #3943 "DNS resolver does not optimize text-format IP address queries"
Netty's DNS resolver seems to send DNS queries for any text-based hostname without first checking if the hostname is already a text-format IP address (e.g., "127.0.0.1" or "0.0.0.0"). Some DNS servers do not resolve such hostnames, causing failures. Ideally, Netty's DNS resolver should also check/parse the local /etc/hosts to avoid unnecessary lookups of well-known static hostnames (e.g., "localho

[2015-07-07 09:00] blucas opened #3944 "HTTP/2 IllegalReferenceCountException"
Netty Version: 5.0.0.Alpha3-SNAPSHOT

Hi guys,

While trying out the HTTP/2 functionality, I came across this error.  It seems as though the handler is trying to free a ```ByteBuf``` when it has already been freed (I don't know what has already freed it).  This error happens quite often, so should be easy to reproduce?  I'm guessing you could just add a guard clause to only free the ```ByteBuf```

[2015-07-07 09:15] blucas opened #3945 "Http2ConnectionHandler breaks channelReadComplete pipeline notification"
Netty Version: 5.0.0-Alpha3-SNAPSHOT

Hi guys,

```Http2ConnectionHandler``` overrides ```channelReadComplete(...)``` [here](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L421) but fails to pass notification further down the pipeline by calling ```super.channelReadComplete(...)``` or ```ctx.fireChannelReadComplete(...)

[2015-07-07 09:29] blucas opened #3946 "HttpToHttp2ConnectionHandler does not support converting from Http(Message|Content) to Http2 frames"
Is there a reason why ```HttpToHttp2ConnectionHandler``` does not support converting from ```Http(Message|Content)``` to Http2 frames?  Is there something that the handler requires that it cannot retrieve?  Or some data missing from ```Http(Message|Content)``` that is required?

My use case is that I have an ```HttpContentCompressor``` further down the pipeline, which ends up creating ```HttpMessa

[2015-07-07 09:40] normanmaurer commented on #3945
@blucas makes sense. We love PRs as you know ;)

[2015-07-07 14:21] nmittler commented on #3667
@jroper The translation layer between HTTP/2 and HTTP/1.x is given by a combination of [HttpToHttp2ConnectionHandler](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/HttpToHttp2ConnectionHandler.java) and [InboundHttp2ToHttpAdapter](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/InboundHttp2ToHttpA

[2015-07-07 14:26] nmittler commented on #3944
@louiscryan I suspect this may be related to frame coalescing. Could you take a look?

@blucas I noticed you're using native epoll ... do you also see this with an NIO channel?

[2015-07-07 14:31] nmittler commented on #3946
/cc @Scottmitch

Looks like `HttpToHttp2ConnectionHandler` currently requires `FullHttpMessage`.  I don't recall whether or not there was a reason that it couldn't take `HttpMessage` or `HttpContent`.  Contributions are always welcome :)

[2015-07-07 14:32] nmittler commented on #3945
+1 to PRs :)

[2015-07-07 15:15] normanmaurer commented on #3945
Let me fix this.

[2015-07-07 19:19] Scottmitch commented on #3916
@nmittler SGTM

[2015-07-07 22:29] jroper commented on #3667
@nmittler yes I saw that, but the problem is, it buffers the entire body into FullHttpMessage objects, so is not suitable for large body handling, and is unable to send bodies that don't fit in memory.

[2015-07-07 22:34] nmittler commented on #3667
@jroper FYI this just came up in #3946

[2015-07-08 02:21] danyalov opened #3954 "Blocking in Netty 4?"
is there any way to run some code or method in blocking mode in netty's client side? I want to implement user login logic and I can't know how I can send user data to server and send other data only if login success.
this is my stackoveflow thread
http://stackoverflow.com/questions/31280898/check-login-in-blocking-mode-in-netty

[2015-07-08 04:22] normanmaurer commented on #3954
This fir bugs not questions

[2015-07-08 04:22] #3954 closed

[2015-07-08 06:09] normanmaurer commented on #3945
Fixed by https://github.com/netty/netty/pull/3948#issuecomment-119327866

[2015-07-08 06:09] #3945 closed

[2015-07-08 10:56] normanmaurer commented on #3938
@allenzhu and it only happens if you move from one EventLoop to another ?

[2015-07-08 18:02] Scottmitch commented on #3946
I think the main driver was HTTP generally has no proper framing and no stream concept. Without building higher level abstractions it is difficult to correlate one `HttpContent` with a particular stream.  `FullHttpMessage` provides the accumulation of all data and definitively associates all HTTP objects with a stream ID.

We may be able to create some kind of interface which combines `HttpMessage

[2015-07-08 18:35] justinjhendrick opened #3960 "New and Noteworthy missing puml file"
The first image in the "Simplified channel state model" section is missing on http://netty.io/wiki/new-and-noteworthy-in-4.0.html

[2015-07-08 19:25] blucas commented on #3946
I'm more than willing to help out with this.  As I've stated previously, I have already implemented a rough draft that caters for my scenario.

@Scottmitch addressing the lack of a streaming concept, could we take the same approach used in the SPDY handlers by tracking the current stream ID? (see [here](https://github.com/netty/netty/blob/master/codec-http/src/main/java/io/netty/handler/codec/spdy

[2015-07-09 00:05] icecooly commented on #3940
i found the problem   when i use netty-all-5.0.0.Alpha1 is ok .  so  it is netty-all-5.0.0.Alpha2 bug

[2015-07-09 01:14] Scottmitch commented on #3946
Yes I think that is inline with what I was thinking.

Yes if we are ignoring trailing headers then that is a bug.  The HTTP/2 codec should support this just by doing a `writeHeaders(..)` call. We should just take care to end the stream at the appropriate time.

[2015-07-09 04:31] normanmaurer commented on #3946
Sounds good. Any takers?

[2015-07-09 04:33] normanmaurer commented on #3940
Can you provide a simple reproducer and a heapdump?

[2015-07-09 06:03] icecooly commented on #3940
how can i emai my test project to u

[2015-07-09 06:13] normanmaurer commented on #3940
@icecooly norman dot maurer at googlemail dot com

[2015-07-09 08:20] blucas commented on #3946
I can give this a shot tonight.  I'll let you know how I get on.

[2015-07-09 10:08] normanmaurer opened #3962 "Regression in codec-http 4.1.0.Beta4 and later"
Regression caused by this commit:

https://github.com/netty/netty/commit/50e06442c3f2753c9b2a506f68ea70273b829e21

Before commit:

[code]

After commit:
[code]

[2015-07-09 11:05] normanmaurer commented on #3962
![screen shot 2015-07-09 at 12 31 11](https://cloud.githubusercontent.com/assets/439362/8593779/1627822a-263b-11e5-9936-9c8c1fb5d525.png)

Seems like the new header implementation is the problem... Will investigate

/cc @trustin @Scottmitch

[2015-07-09 12:14] normanmaurer commented on #3962
@Scottmitch @trustin I hacked together a version of 4.1.0.Beta6-SNAPSHOT that used the old DefaultHttpHeaders again and with it we are fast enough. I think we need to investigate what to do. While  revert the change for HTTP sounds fine at the first place I wonder if we need to investigate why the new implementation is so slow first as it may be used by others as well. WDYT ?

[2015-07-09 14:09] Scottmitch commented on #3962
@normanmaurer I anticipate @buchgr header improvement PR will rectify this. I have some follow up plans to investigate after these are pulled in too.

[2015-07-09 14:22] Scottmitch commented on #3962
@normanmaurer - can you run the benchmark with PR https://github.com/netty/netty/pull/3681?

[2015-07-09 14:25] normanmaurer commented on #3962
Yep will do

[2015-07-09 16:02] nmittler opened #3964 "Merge PendingWriteQueue and CoalescingBufferQueue"
The use cases for these two classes overlap significantly.  We should try to merge the requirements into a single class (or at least a common base class).

[2015-07-09 16:04] nmittler commented on #3964
One important point is that `PendingWriteQueue` allows for non-`ByteBuf` entries as well.

@normanmaurer Why do we estimate the [size of a `FileRegion`](https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/channel/DefaultMessageSizeEstimator.java#L43) to be zero?

[2015-07-09 16:25] normanmaurer commented on #3962
@Scottmitch its better but still by far not in the same ball park compared to the old header impl:

[code]

[2015-07-09 18:01] louiscryan opened #3966 "Make FrameWriter responsible for chunking writes by the frame size limit"
@Scottmitch @nmittler

Currently the DefaultHttp2ConnectionEncoder.FlowControlledData is responsible for chunking writes by the flow-control limit as well as by max frame size.

Moving the chunking by frame-size into the frame writer allows it to be more efficient by allocating fewer buffers for the frame-prefix

[2015-07-09 18:34] nmittler commented on #3966
+1

@louiscryan are you working on a PR for this?

[2015-07-09 18:53] allenzhu commented on #3938
Yeah, @normanmaurer i found a problem that will broke the rule of serial execute per one Channel when moving from one EventLoop to another.
childHandler init as follows:

    .childHandler(new ChannelInitializer<SocketChannel>() {
    	@Override
    	public void initChannel(SocketChannel ch) throws Exception {
    	    ch.pipeline().addLast(
		defaultEventExecutorGroup, //
		new NettyEncoder(), //

[2015-07-09 19:04] buchgr commented on #3962
talked with @normanmaurer . working on it....

[2015-07-09 20:02] louiscryan commented on #3966
Not yet but its on my todo list.

[2015-07-09 20:10] mingyu89 opened #3967 "NullPointerException in PendingWriteQueue"
Netty Version: 4.0.27.final

Hi. When there're network outages, sometimes on server side we saw handler's exceptionCaught was called with a NullPointerException in PendingWriteQueue.
@trustin  Is it a race condition between adding SslHandler and closing channel?
Thanks.

[code]

[2015-07-09 20:13] normanmaurer commented on #3967
That's strange... let me check

[2015-07-09 20:33] nmittler opened #3968 "SslHandler does not support FileRegion"
I suspect that means that FileRegions would leak through unencrypted.

@normanmaurer is that right?

[2015-07-09 20:37] normanmaurer commented on #3968
Yes it does not support FileRegion as the whole point of using a FileRegion is to not transfer stuff to the user-space. I guess what we could do is just copy it to a ByteBuf.

[2015-07-09 20:47] normanmaurer commented on #3967
@mingyu89 thanks for reporting.. I think I know what the problem is and I'm working on a fix.

[2015-07-09 20:53] mingyu89 commented on #3967
@normanmaurer Thank you!

[2015-07-09 20:56] nmittler commented on #3968
@normanmaurer I think failing if `SslHandler` receives a `FileRegion` may also be a reasonable (and simpler) change.  WDYT?

[2015-07-09 21:04] normanmaurer commented on #3968
@nmittler maybe... But I guess I could make the other work as well which would make it easier for the user... Let me check

[2015-07-09 22:09] nmittler commented on #3964
Note that any work here is pending the completion of a generic reader API (#3965)

[2015-07-10 00:20] icecooly commented on #3940
already send mail to u,  thx

[2015-07-10 00:34] Apache9 commented on #3964
@nmittler The comments of `MessageSizeEstimator` says

So it is reasonable to give `FileRegion` a zero size since it only stores some offsets in memory.

[2015-07-10 05:09] normanmaurer commented on #3964
@nmittler exactly what @Apache9 said :)

[2015-07-10 09:49] normanmaurer commented on #3962
@nmittler FYI as you asked for a new release... I think this is a blocker which we really need to fix first.

[2015-07-10 14:33] nmittler commented on #3964
@Apache9 @normanmaurer ah, that makes sense ... missed that comment.  Thanks!

[2015-07-10 14:36] nmittler commented on #3962
@normanmaurer Yeah, agreed. Maybe I can entice @buchgr with :beers: :)

[2015-07-10 15:25] normanmaurer commented on #3962
Good plan!

[2015-07-10 17:43] buchgr commented on #3962
@nmittler oh you know me :smile:. will work on it this weekend.

[2015-07-10 18:20] buchgr opened #3970 "Have (Int,Long,Char,...)ObjectMap implement Map interface."
I just noticed that Netty's primitive hash map implementations don't implement the JDK's `Map` interface. I think they would be much more useful if they did.

[2015-07-10 18:47] buchgr commented on #3970
Just do something like this:

[code]

That way one can use this as a normal `Map` and all those `IntObjectMap`, `LongObjectMap` interfaces can be deleted.

@nmittler @normanmaurer

[2015-07-10 18:55] normanmaurer commented on #3970
@buchgr the problem is that this will add extra boxing.

[2015-07-10 19:21] nmittler commented on #3970
I think it would be fine if there were boxing methods in addition to the existing non-boxing methods.

[2015-07-10 19:23] buchgr commented on #3970
@normanmaurer No it doesn't in my example above ?

[2015-07-10 19:26] normanmaurer commented on #3970
@nmittler @buchgr right if we keep both it would be fine

[2015-07-10 19:37] buchgr commented on #3970
@normanmaurer @nmittler I think we should do it before 4.1 is released. Map implementation would be much more elegant and useful. We should also get rid of the custom interfaces. WDYT?

[2015-07-10 19:50] nmittler commented on #3970
@buchgr Absolutely, I can't wait to review the PR that you put together without any help from us whatsoever! :stuck_out_tongue_winking_eye:

[2015-07-10 20:05] normanmaurer commented on #3970
lol

[2015-07-10 20:56] buchgr commented on #3970
@nmittler well I would really love to do that, but most unfortunately my hands are tied due to the nice folks at legal :-).

However, to our rescue I do know a great and highly motivated dev at Google who would be perfect for the job *wink* *wink*! And you know ... I am a nice guy, so I am happy to with extreme care and in most detail review and comment on every line of that sweet PR :laughing:

[2015-07-11 05:30] dmk23 commented on #3534
Netty 5 aside, is Netty 4.x fully tested/ready for JDK 8?

[2015-07-11 05:33] normanmaurer commented on #3534
Yes you can use netty 4.x with java8

[2015-07-11 05:51] dmk23 opened #3971 "DNS datagram buffer insufficient sizing"
In running big DNS resolution loads with logging turned on I'm seeing lots of errors that seem to imply the datagram buffer gets cut off at 512 bytes. Below are a few examples.

Is this something that could be fixed by configuring within 4.1-beta5 or has to wait for new release?

[code]

[2015-07-11 06:26] dmk23 opened #3972 "DNS query ID space exhaustion"
In running big DNS resolution loads with very high parallellism and logging turned on I'm running into query ID space exhaustion (logged messages below).

As I've reviewed the Netty DNS code, I see there is a hard limit of 65536 queries max (in reality a lot less because there would be too many collisions to obtain an ID even with less concurrency).

Wouldn't it make sense to replace the AtomicRef

[2015-07-11 06:56] dmk23 opened #3973 "DNS response exception handling"
In running big DNS resolution loads with logging turned on I'm running into insufficient ability to handle exceptions in DNS responses. Apparently in many cases DNS servers respond to the wrong question or make other errors (see example logged warnings below).

The real problem in each of these cases is that right now it seems not possible to retrieve the original DnsQuestion from the DnsResponse

[2015-07-11 07:07] dmk23 opened #3974 "DNS buffer leaks"
In running big DNS resolution loads with logging turned on I've run into buffer leak warnings. With paranoid detection mode turned on I've generated the following stack traces. Not quite sure what is going on here, so just reporting it for review.

[code]

[2015-07-11 07:14] dmk23 commented on #3804
Additional note here, linking this to https://github.com/netty/netty/issues/3973

That other issue suggests that sometimes some DNS servers *DO* include A records in MX queries (see examples), however Netty treats such responses as errors to warn about.

I think such warnings should probably be removed (or be made configurable) at least in cases when at least one of the answers matches the origina

[2015-07-11 07:47] normanmaurer commented on #3974
Can you show us your custom handlers?

[2015-07-11 07:49] dmk23 commented on #3974
No custom handlers here, just using stock 4.1-beta5 DNS resolver...

[2015-07-11 11:16] blucas commented on #3946
Hey guys,

Sorry its taken so long... [here it is](https://github.com/netty/netty/pull/3975)

[2015-07-11 16:05] normanmaurer commented on #3974
Can you try with 4.1.0.Beta6-SNAPSHOT as well?

[2015-07-11 20:28] dmk23 commented on #3974
I'd gladly try it. What is the best way to incorporate a snapshot dependency into Maven build?

Additionally, I'd like to note that the buffer leak might be a side effect of improper error handling from the other issues I've reported for the same run (https://github.com/netty/netty/issues/3971, https://github.com/netty/netty/issues/3972, https://github.com/netty/netty/issues/3973)

[2015-07-12 05:19] dmk23 commented on #3973
**UPDATE:** I was able to partially solve the problem of accessing the original DnsQuestion from the listener by creating my own map of futures to questions:

[code]

Using identity hashmap works so far, but seems like a bad hack. Ideally the future object should be able to provide proper equals / hashCode (with caching) to allow real hashmaps. Identity maps in addition to greater chance of equals

[2015-07-12 05:42] dmk23 opened #3976 "DNS status codes not visible to the query future's listener"
I decided to gather a clearer picture of what is causing failed DNS resolutions by calculating the counts of each DnsResponseCode in the query listener.

To my surprise I found that the only status code visible in the listener (after ```future.sync().getNow()```) is NOERROR. Everything else causes an exception (usually UnknownHostException or "query ID space exhausted") without returning an actual

[2015-07-12 06:07] dmk23 commented on #3976
One more note. Even if we try to use the current API and process UnknownHostException we can quickly see that this is not very user friendly. Essentially we are forced to parse this text messages, all while Netty wastes CPU cycles and piles up heap garbage creating it:

[code]
In many cases we could reasonably accept the first NXDomain as the valid answer since it would normally come from the upst

[2015-07-12 07:19] trustin commented on #3971
That's interesting. `DnsNameResolver` by default uses a 4096-byte buffer to receive a datagram packet.  Are you sure you did not call `DnsNameResolver.setMaxPayloadSize(512)` or the server actually sent a truncated response?

[2015-07-12 07:21] trustin commented on #3971
If the server sent a truncated response, `DnsNameResolver` should not attempt to decode it but just fail with a better explanation, though.

[2015-07-12 07:49] dmk23 commented on #3971
I did not set the payload size. Not sure if the servers are sending the truncated responses or they get truncated somewhere along the way in Netty. Here is my resolver config:

[code]

This issue is probably highly interrelated with the other ones I've just reported. As far as error handling there are many open issues to consider: https://github.com/netty/netty/issues/created_by/dmk23

[2015-07-12 08:29] trustin commented on #3976
I agree that some status codes should be treated as success. Besides `NXDOMAIN`, what would you consider successful by default?

[2015-07-12 08:30] trustin commented on #3976
I'm also going to add a dedicated exception for DNS queries so that we can retrieve the necessary information more easily.

[2015-07-12 08:37] dmk23 commented on #3976
I am not sure dedicated exception is the best way to go. Exception can only transmit text, while advanced user would want to look at the DNS responses "as is" and decide what to do with them. I'd suggest an option to disable all exceptions / warnings and just pass all responses "as is" to the listener.

The scheme of passing back all the errors would mean there is always just one resolution attemp

[2015-07-12 08:41] dmk23 commented on #3976
I should add that the retrial strategy for high-volume DNS resolution is non-trivial. If you have too few resolvers you are going to run into rate limits very quickly. But if you have too many resolvers some % of them will misbehave from time to time and you have to keep track of that.

That's why it is important to have full control over what responses to retry and how....

[2015-07-12 09:14] trustin commented on #3976
We can add a property to an exception so you can access the information you need in a machine friendly way. But I agree with you that `query()` should raise an exception only when it really failed to get a response.  As a result, `query()` will not retry as long as a server responds and you'll have to implement retry mechanism by yourself.

Sounds good?

[2015-07-12 09:28] dmk23 commented on #3974
I found your 4.1.0.Beta6-SNAPSHOT repo and set it up for all our builds. Here is an example leak:

[code]

The leaks have become more rare though, but we've been changing many things in our application code. They might be related to the other issues I've reported...

[2015-07-12 09:39] dmk23 commented on #3976
I am still not sure why it is necessary to always wrap every non-NOERROR response in an exception. As it stands DNS resolver already generates lots of GC.

Why not just have a lightweight config option that would simply pass all raw responses (even FORMERR) to the user? Yes, it should generate the exception only if there is no response, e.g. a timeout. It probably should not pre-generate any text

[2015-07-12 09:46] trustin commented on #3976
Well, maybe I was unclear. What I said is to make `query()` does not fail the promise unless it really failed (timeout, I/O error).

[2015-07-12 09:58] ganskef opened #3978 "Expiration date of io.netty.handler.ssl.util.SelfSignedCertificate fails with iOS 8"
iOS 8 (tested with 8.1.3) revokes certificates with expiration date set to the maximum possible value in X.509 specification: 9999-12-31 23:59:59.
[code]
@forestofrain has investigated the maximum date Mon, 24 Jan 6084 02:07:59 GMT. (see: ganskef/LittleProxy-mitm#6) I'm wondering, it could be a bug at Apple, but I've no idea, how to file an issue there.

Please consider to use an other expiration

[2015-07-12 10:44] trustin commented on #3976
See #3979 and let me know what you think.

[2015-07-12 10:48] trustin commented on #3973
Netty does not notify the future of the query when it receives the response with mismatching (or invalid number of) question(s).  So, you don't really need to worry about those warning messages, and `response.question().equals(yourOriginalQuestion)` should always return `true`.  If you encountered such a case, please let me know.

[2015-07-12 10:51] trustin commented on #3972
I didn't expect people to produce such amount of load obviously. Let me get the query ID allocation done on per-server basis rather than on per-resolver basis.

[2015-07-13 08:48] ganskef opened #3981 "Typo: wrong incident URL in the News page for Netty 4.0.29.Final released"
Please use (#3784) instead of (#3794) for [#3784] Support hostname verification when using OpenSSLEngine.

http://netty.io/news/2015/06/23/4-0-29-Final.html

[2015-07-13 09:49] mspavan052 opened #3982 "Netty Pooled Buffer Caching from different threads"
Hi,

     In our application we are using the netty 4.0.27, its a simple client and server program.
        Client
                 i) Application thread will create the netty Bytebuf and update the request to it
                ii) Then the same application will call channelHandlerContext.writeAndFlush(ByteBuf)
               iii) When receive the messages it will be given to the application & ap

[2015-07-13 09:51] normanmaurer commented on #3982
@mspavan052 Upgrade to netty 4.0.29.Final and it will work even for your use-case :)

https://github.com/netty/netty/commit/f765053ae740e300a6b696840d7dfe5de32afeb3

[2015-07-13 09:51] #3982 closed

[2015-07-13 09:54] mspavan052 commented on #3982
Thanks for the quick response, Can you please let me know what is the change

[2015-07-13 09:55] normanmaurer commented on #3982
@mspavan052 see my above comment... I linked the commit sha there. Just click on it.

[2015-07-13 10:49] ywengineer commented on #3982
@normanmaurer this commit will be merged to 5.0.0-Alpha2 at what time?

[2015-07-13 11:16] normanmaurer commented on #3982
@ywengineer it is also in master already.

[2015-07-13 11:57] normanmaurer commented on #3981
Added both links

[2015-07-13 11:57] #3981 closed

[2015-07-13 13:33] Tylerian opened #3983 "Epoll support for SCTP?"
Hello,
SCTP currently has NIO and OIO implementations, but is not implemented with Epoll.
So... Is there any future plan to support SCTP with epoll?

Many Thanks

[2015-07-13 17:12] nmittler commented on #3970
*sigh* ... I guess that would be "googly" of me :/

[2015-07-13 22:01] nmittler commented on #3970
@buchgr I've thrown together #3984 ... I await my free beer! ;)

[2015-07-14 01:43] buchgr commented on #3970
@nmittler I ll make it a pitcher boss :laughing:

[2015-07-14 01:53] brettwooldridge commented on #3892
I am curious about this as well.

SSLyze reports;
[code]

[2015-07-14 04:33] dmk23 commented on #3972
Thanks. If you want to keep an array structure, perhaps it could be a configurable setting? In either case it should be possible to get the originally submitted DnsQuestion in the listener.

[2015-07-14 04:34] dmk23 commented on #3973
I think I'd still like to receive these messages - along with the original DnsQuestion. Most of them FORMERR and I'd want to do stats on which resolvers do that the most... Right now FORMERR simply causes logged warnings and are not returned to the application anywhere.

[2015-07-14 04:38] dmk23 commented on #3976
I'd like to test it out - at the moment Beta6-SNAPSHOT still does not return errors.

Let me know when there is something I can fully evaluate - it is hard for me to figure out what's going on just by looking at the pull request. Ideally incorporating my last couple comments...

[2015-07-14 05:35] 9612jhf opened #3985 "4.0.27"

[2015-07-14 05:50] #3985 closed

[2015-07-14 06:13] trustin commented on #3976
It's just a pull request at the moment, so we did not deploy it as a snapshot. Will deploy a snapshot once it is merged.

[2015-07-14 06:17] trustin commented on #3973
I missed the fact a response with FORMERR can have no question. Let me fix it in the pull request.

[2015-07-14 06:22] dmk23 commented on #3973
I believe that may not be the only code that could drop the question. In any case, even if the question is present the server could be lying or be misconfigured reporting it back wrong.

That's why it is important to always return to listener the original question asked, not just rely on the kindness of the resolver to always correctly repeat it back to us...

[2015-07-14 06:51] trustin commented on #3973
You can always get the original question in your listener this way:

[code]

[2015-07-14 06:58] dmk23 commented on #3973
Not at the moment in BETA5, but yes ```DnsResponse.question()``` should be the way to go

Also correct me if I'm wrong but the listener signature is different in BETA5 ```Future<AddressedEnvelope<DnsResponse, InetSocketAddress>>``` . I suggest keeping the AddressedEnvelope since that would be the way to figure out which resolver caused what error.

[2015-07-14 07:48] trustin commented on #3973
You are right - it has to be `Future<AddressedEnvelope<DnsResponse, InetSocketAddress>>`.

[2015-07-14 07:56] mspavan052 commented on #3982
@normanmaurer Why io.netty.util.Recycler.DefaultHandle<T> is still based on the Threadlocal i.e.,
Object pool is happening at the single thread level, So we will get same problem as were facing in the Buffer.

Now we used 4.0.29 as suggested by you, now i can see the Buffers are reused its one great change But number of io.netty.util.Recycler.DefaultHandle<T> is very high and may be this is the re

[2015-07-14 12:12] ashish-tyagi commented on #3913
The issue does not seem to produce any longer. Closing this. Thanks!

[2015-07-14 12:12] #3913 closed

[2015-07-14 12:27] normanmaurer commented on #3913
@ashish-tyagi thanks!

[2015-07-14 12:37] normanmaurer commented on #3983
@Tylerian not at the moment.. that said we love contributions

[2015-07-14 13:32] virtman commented on #3892
I got it to when runned for first time, but never again.
Try the switch --resum_rate to check it with 100 tries which are more closer to real world result.
There I got zero hits..
You can check the same with google, there is success rate 100%

[2015-07-14 13:36] normanmaurer commented on #3892
@virtman so all good ?

[2015-07-14 13:45] virtman commented on #3892
Unfortunally absolutely not good, PARTIALLY SUPPORTED is not meant to be supported. Do not let you irritate by 3 succeed tries.
If you run with 100 tries (Try --resum_rate) you see NOT SUPPORTED ;) is that good? No.. Just make please proper tests by your self and compare results with other ssl servers like google etc..
Just to see real results when comparing.

[2015-07-14 15:19] nmittler commented on #3970
+1 :)

[2015-07-14 17:42] alvinlin123 commented on #3924
I think upgrading makes sense, but that's probably going to take some time with our production servers.

Is Netty 3 in maintenance only mode? Is making fix to Netty 3 not possible now? I may be wrong, but catching http messge decoding error and throwing a new specialize exception should be a straight-forward and non-breaking change right?

[2015-07-14 18:49] justinjhendrick opened #3986 "Website is offline: Error 522"
This link https://netty.io/4.0/api/io/netty/channel/Channel.html brings me to [this error page](http://imgur.com/UNZjlj3)

[2015-07-15 07:07] normanmaurer opened #3987 "Disable RC4 by default when using SslContext"
See also: http://www.oracle.com/technetwork/java/javase/8u51-relnotes-2587590.html

[2015-07-15 18:34] fratboy opened #3988 "FixedChannelPool does not count acquired channels precisely"
Netty version: 4.0.10.Beta5

Context:
When queued `AcquireTask` fails, `decrementAndRunTaskQueue()` method could throw assertion error.

Steps to reproduct:
1. Call `FixedChannelPool.acquire` enough to make some `AcquireTask`s be queued.
2. Close server channel abrubtly to make `AcquireTask` fail.
3. AssertionError can be produced.
[code]

Opinion:
- Set a flag `acquired` in `AcquireListener` and

[2015-07-15 19:03] normanmaurer opened #3989 "Resource leak in CoalescingBufferQueue"
@louiscryan @nmittler  could you check ?

[code]

[2015-07-15 21:31] louiscryan commented on #3989
Looking....

[2015-07-15 21:50] louiscryan commented on #3989
Test was a little profligate in that it did not release the composite buffers removed from the queue. This is a failing of the test and not the queue itself. Consumers of the queue are required to ensure that the buffers they take out of the queue are ultimately released.

[2015-07-15 22:02] normanmaurer commented on #3989
@louiscryan could you do a PR to fix the test :) ?

[2015-07-15 22:06] louiscryan commented on #3989
PR already created :)

[2015-07-15 23:43] Scottmitch commented on #3988
@fratboy - Thanks for reporting!

@normanmaurer - Assigned to you for now.

[2015-07-15 23:47] Scottmitch commented on #3987
+1

[2015-07-16 09:11] allenzhu commented on #3938
@normanmaurer, is this a problem or my usage is wrong ?

[2015-07-16 09:25] normanmaurer commented on #3938
@allenzhu sorry but I had no time yet to have a deeper look.

[2015-07-16 17:30] Scottmitch commented on #3966
@louiscryan - Can you expand on this a bit more? By `frame-prefix` do you mean the header portion of the frame?

[2015-07-16 17:41] Scottmitch commented on #3978
@ganskef - Have you observed this behavior with just the simulator, or does the phone also exhibit this behavior?

[2015-07-16 18:48] louiscryan commented on #3966
Yes, say we are going to write N bytes in X sized frames. Then we need to write

N/X frame headers of size X and possibly one N % X sized frame. Today we do separate allocations for each of these headers when for any write we should have a max of 2.

[2015-07-16 19:51] normanmaurer commented on #3989
Fixed by f608a139cfdb0a62ba84d5b006c6351d92578083

[2015-07-16 19:51] #3989 closed

[2015-07-16 21:44] Scottmitch commented on #3783
Took a while but PR #3864 should resolve this.

[2015-07-16 21:44] #3783 closed

[2015-07-16 22:11] nmittler commented on #3783
Yay! :)

[2015-07-16 23:37] justinjhendrick opened #3997 "Documentation: wrong class mentioned in setter"
{@link ByteBufAllocator} -> {@link MessageSizeEstimator} on
https://github.com/netty/netty/blob/4.0/transport/src/main/java/io/netty/channel/ChannelConfig.java#L248

this effects 4.0, 4.1, and master branches

[2015-07-17 00:24] Scottmitch opened #3998 "HTTP/2 non flow controlled frames ingest limits"
Flow control allows us to limit the amount of data we ingest for flow controlled frames.  However for frames that are not subject to flow control we do not have any such limits for the amount of data we ingest. Should we have some controls or limits for the amount of data we ingest for non flow controlled frames?  For example a simplistic peer (or many peers) that has a large amount of send bandwi

[2015-07-17 00:28] Scottmitch commented on #3998
@ejona86 - You previously pointed out (https://github.com/netty/netty/issues/3783#issuecomment-105704927) that `auto_read` must be on, but I'm wondering what other options we have to protect against traffic from control frames.  I guess limiting what we read, or potentially closing the connection are the 2 options that come to mind. WDYT?

[2015-07-17 00:39] Scottmitch commented on #3966
@louiscryan - Thought so :) So you will just take care to call `retain(N/X)` before writing the header buffer representing the X sized frames (and make sure you call `write` `N/X` times...or possibly `release` if you encounter failures)

[2015-07-17 00:40] Scottmitch commented on #3997
@justinjhendrick - Thanks for pointing this out.  Also feel free to submit a PR and get credit for fixing :)

[2015-07-17 02:55] ejona86 commented on #3998
@Scottmitch, hmm... Okay, let me think through this aloud.

If we have a pretty full write queue (of control messages), let's say we stop reading. This isn't discernible from the HTTP/2 semantic level because anything we sent would be queued anyway. So it would only impact the peer's ability to send on the TCP connection.

However, there could still be sent frames en route to the peer, including s

[2015-07-17 09:07] allenzhu commented on #3938
@normanmaurer fine, take a look when you are free :)

[2015-07-17 19:35] #3967 closed

[2015-07-17 19:59] Scottmitch opened #4001 "PrimitiveCollections should apply for all "scripted" types"
Currently the PrimitiveCollections class has an implementation of `EmptyMap` and `UnmodifiableMap` only for the `int` variant of the primitive map.  These objects should be templatized like the other primitive map types.

[2015-07-17 19:59] Scottmitch commented on #4001
@nmittler - FYI :)

https://github.com/netty/netty/pull/3984#discussion_r34911766

[2015-07-17 20:01] Scottmitch commented on #3998
@normanmaurer - Any thoughts?

[2015-07-17 22:07] justinjhendrick commented on #3997
@Scottmitch, I would but my company wants to review any open source before we contribute. So, something small like this wouldn't be worth the time necessary for a review.

[2015-07-17 22:08] normanmaurer commented on #3997
No worries I will fix it

[2015-07-18 11:52] gitai opened #4002 "4.0.30.Final-SNAPSHOT - Test Errors"
Executing ‘mvn test’ in 4.0 branch root results with 1 error:

Mac OS 10.10.4 / JDK 8u45 / Maven 3.3.3 / Git 2.3.2

Tests run: 1, Failures: 0, Errors: 1, Skipped: 0

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] Netty .............................................. SUCCESS [01:56 min]
[INFO] Netty/Common .......................

[2015-07-18 12:29] normanmaurer commented on #4002
Try

mvn clean install

[2015-07-18 14:11] gitai commented on #4002
Thanks. Look OK now.. 'mvn clean install' completed without errors so as a subsequent 'mvn test'
though I checked out a branch of netty-4.0.29.Final tag beforehand and 'mvn test' worked right out of the box…

[2015-07-18 14:17] #4002 closed

[2015-07-18 15:47] codevelop commented on #3986
Why don't you trying another method?

[2015-07-19 00:06] trustin commented on #3986
Oh, we didn't know we supported https. Could you try http?

[2015-07-19 16:12] normanmaurer commented on #3997
Fixed by https://github.com/netty/netty/pull/4003

[2015-07-19 16:12] #3997 closed

[2015-07-19 17:57] mfulgo commented on #3311
This is was also fixed in the 3.10 branch, as of version 3.10.2.Final.  I'm pretty sure it was fixed by https://github.com/netty/netty/commit/452df0454d34fdd5e0022f40c20ad7c45e7f1895

[2015-07-20 02:08] trustin commented on #3311
That's great. Thanks for following-up, @mfulgo

[2015-07-20 02:26] longlong524 opened #4004 "Use Netty 5.0.0.Alpha2 as proxyserver failed！"
I am developing a proxies manager server with netty 5.0.0.Alpha2-SNAPSHOT named beastkeeper, you can see it as a proxy server. And the server's initChannel method code:

    protected void initChannel(Channel ch) throws Exception {

					 ChannelPipeline pipeline = ch.pipeline();

				        pipeline.addLast( new HttpRequestDecoder());

				       pipeline.addLast("aggregator", new HttpObjectAggr

[2015-07-20 02:39] longlong524 opened #4005 "Netty 5.0.0.Alpha2-SNAPSHOT can't parse http response with no header"
I want to test proxy's https tunneling protocol.
I write a simple httpclient with 5.0.0.Alpha2-SNAPSHOT like this:
[code]

and I send a connect request to a proxy 97.77.104.22:80(you can get a free  proxy from http://cn-proxy.com/) like this
[code]

But netty cann't  get the response until more than 120 seconds.
The response is :
[code]
I think the reason is there is no header.

[2015-07-20 12:51] normanmaurer commented on #3988
@fratboy thanks... fix in the works.

[2015-07-20 20:03] normanmaurer commented on #3944
@louiscryan so is this fixed ?

[2015-07-20 20:05] louiscryan commented on #3944
Yup. Feel free to mark closed.

[2015-07-20 20:06] normanmaurer commented on #3944
Thanks... fixed

[2015-07-20 20:06] #3944 closed

[2015-07-21 01:18] fratboy commented on #3988
@normanmaurer My pleasure.

[2015-07-21 09:16] normanmaurer opened #4008 "Fix cookie encoding when maxAge is greater than 24 days"
https://github.com/netty/netty/commit/6e2d2ce9983b0e4926b3e0bd0419cffe19e36349

[2015-07-21 09:16] #4008 closed

[2015-07-21 09:17] normanmaurer opened #4009 "Fix invalid check arguments in 'OpenSslServerContext.setTicketKeys'"
https://github.com/netty/netty/commit/de07ce9d4a7d604787f44f7865980faaca93bbca

[2015-07-21 09:17] #4009 closed

[2015-07-21 13:39] dop251 opened #4010 "HttpPostRequestDecoder.cleanString() puts "32" instead of " ""
Netty version: current master (3d6819623efc2f634009094ac8cf6a362fd3c2c1)

Steps to reproduce:

Use the following test case:
[code]

The reason is that HttpConstants.SP is of byte type, so instead of `sb.append(HttpConstants.SP)` it should be `sb.append((char) HttpConstants.SP))`

[2015-07-21 13:50] normanmaurer commented on #4010
Maybe submit a PR?

[2015-07-21 15:07] gitai opened #4012 "Consider changing ServerBootstrap configuration interface"
I think ServerBootstrap  public interface for EventLoop configuration is somewhat verbose/vague.
The method named 'group' by itself  does not convey much about the passed in EventLoops relationships (group for what purpose?, how?) and it would be very difficult to capture their intrinsic interaction with a short verb. I suggest keeping the “explanation” separate from the configuration interface.

[2015-07-21 16:48] normanmaurer commented on #3988
@fratboy could you verify https://github.com/netty/netty/pull/4016 ?

[2015-07-21 17:36] fratboy commented on #3988
@normanmaurer It's exactly same with my patch in my project. It works perfect.

[2015-07-21 18:45] blucas commented on #3946
Closing this issue now that the pull request has been cherry-picked into master (3ec02bf) and 4.1 (57d28dd)

[2015-07-21 18:45] #3946 closed

[2015-07-21 20:28] Scottmitch commented on #3988
@fratboy - Thanks for the report and verification!

[2015-07-21 20:28] #3988 closed

[2015-07-22 01:39] Scottmitch opened #4017 "CompositeByteBuf leak detector design pattern different from other ByteBuf implementations"
The `CompositeByteBuf` implementation has a `ResourceLeak` member variable and other `ByteBuf` implementations rely on the `ByteBufAllocator` (particularly `AbstractByteBufAllocator`) to wrap the object and provide simple/advanced levels of leak detection.  Is there a reason why `CompositeByteBuf` needs to be different? On the surface it seems like the preferred approach is have `CompositeByteBuf`

[2015-07-22 01:39] Scottmitch commented on #4017
@normanmaurer @trustin - Any thoughts?

[2015-07-22 10:54] trustin opened #4018 "Consider using code-generation for header-map implementations"
As shown in #3962 and #3681, our attempts to generalize textual multi-value map have caused troubles such as memory consumption and performance regression.

The thing is, the `*Headers` implementations don't really need to share the type hierarchy nor have to be compatible with each other. i.e. `StompHeaders` is not an `HttpHeaders`. `HttpHeaders` is not an `Http2Headers`. (Well, we sometimes conv

[2015-07-22 11:31] #3987 closed

[2015-07-22 11:32] #3968 closed

[2015-07-22 14:06] nmittler commented on #4017
+1 thanks for creating @Scottmitch

[2015-07-22 17:46] buchgr commented on #4018
My understanding is that the performance regression is not inherent to generalizing the map implementation - that is to my knowledge the class hierarchy doesn't introduce noticeable overhead. The problem is that the implementation as is merged right now in 4.1 and master is just not good. However, I also think that the the whole headers are still very much over engineered and overly abstract and t

[2015-07-22 22:52] #3970 closed

[2015-07-22 22:57] trustin commented on #4018
@buchgr No worries. This is just an exploratory discussion issue to understand what people think about it. We will have to try this option if we can't fix #3962 with our current design.

I'm very fine with your PR. My (and @normanmaurer's) concern is to make sure we get rid of the regressions in #3962. If we can achieve that without losing all the nice stuff, then it would be amazing. So, let's ge

[2015-07-22 23:53] buchgr commented on #4018
@trustin this are the perf numbers with my PR https://github.com/netty/netty/issues/3962#issuecomment-120058035 . It's ~15% slower than 4.0. Looking at the profiler snapshot, shows the `TreeMap` to account for most of the time spend in the headers. So I think moving forward, the question will be whether we can just plug in the 4.0 implementation as a `Map` into my PR and get the same performance o

[2015-07-23 16:15] senatorov opened #4019 "long hashCode = ThreadLocalRandom.current().nextLong();"
Hi I found that in AbstractChannel as hash code. Is it really unique? Like uuid?

[2015-07-23 19:23] gitai commented on #4012
+ additional control for manually overriding default instance allocations

eventLoops(NioEventLoop.class, 2, NioEventLoop.class, 2)  // for instanceCount (2 dispatcher / 2 workers).

I think "thread counts"  should be omitted as they are an implementation detail of a higher level abstraction.

[2015-07-24 08:56] chrisprobst opened #4020 "ChannelGroup has race-condition"
Hi,

the ChannelGroup doc says:

[code]

But, this is _not_ thread-safe in my opinion, you could leak client channels:

[code]

I know, its only using 1 thread, but it demonstrates the race condition:
[code]

If the channel group is closed, after the client channel has been registered, the client channel is not closed properly.

Do I miss something ? This sounds quite severe for me.

[2015-07-24 09:07] normanmaurer commented on #3656
@gtomassi I think this was fixed... Please reopen if you still see the issue

[2015-07-24 09:07] #3656 closed

[2015-07-24 09:08] chrisprobst commented on #4020
The only solution to this bug would be to dispose the ChannelGroup, so once a CG is closed, it remains closed and every new add()-invocation results in closing the channel.

The only other solution is to synchronize on the CG which would be bad.

[2015-07-24 22:20] burtonator opened #4022 "Implement IP_FREEBIND and Any-IP in native JNI base epoll"
It would be really nice to have netty support IP_FREEBIND and Any-IP.

Essentially it allows you to bind() to any IP address, even if it's not associated with an Interface.

I was thinking this could be really helpful in ipv6 setups whereby you just setup your webserver on a subnet with 16k IPs and then when you want to deploy a new webapp, you just give it one of those IPs.

The problem is that y

[2015-07-25 02:52] Scottmitch commented on #3962
@trustin @buchgr @normanmaurer - I am working on rectifying the performance issues. I attempted to adapt the old DefaultHttpHeaders from 4.0 to the `Map` interface and use in #3681 but the perf metrics as reported by @normanmaurer were not satisfactory.  I have been seeing promising results by making the DefaultHeaders implementation based upon the implementation in of DefaultHttpHeaders in 4.0.

[2015-07-25 02:55] Scottmitch commented on #4018
@trustin @buchgr - See https://github.com/netty/netty/issues/3962#issuecomment-124791458 as it relates to this discussion.  Not to say we couldn't get better performance with a code-generation approach but I also don't think the performance problems are caused by the shared interface / implementation.  Lets re-evaluate this issue if other attempts fail to rectify performance....or if after that we

[2015-07-25 03:05] Scottmitch commented on #4022
@burtonator - Thanks for reaching out! Sounds like a useful feature. I'll put this on the todo list but if you get around to it before we do please feel free to submit a PR.

[2015-07-25 04:38] normanmaurer commented on #4022
Thanks will check once i have a fee cycles

[2015-07-25 19:56] ioanbsu opened #4023 "FixedChannelPool does not properly counts the acquiredChannelCount"
Steps to reproduce:
1) create FixedChannelPool with maxConnections=1
[code]
2) Request channel from FixedChannelPool
3) Make request through channel and once done release it
4) Kill the connection while channel is in pool.
5) Request channel from the pool. Since connection is not healthy anymore it will close the channel and right after that will try to acquire new channel. But acquiredChannelCoun

[2015-07-26 15:53] gitai opened #4024 "Consider refactoring io.netty.handler.codec to separate ‘jar’ artifacts."
Currently, io.netty.handler.codec java package includes different types of codecs for different purposes (e.g compression/optional 3rd-party serialization/shared codec infrastructure/helpers)  all bundled within the same ‘jar’ artifact: ‘netty-codec’. Not all netty use-cases require or make use of these. Consider separating these codecs out to individual ‘jars’ by their functional purpose. This wi

[2015-07-26 18:30] ioanbsu commented on #4023
Please review pull request: https://github.com/netty/netty/pull/4027

[2015-07-26 20:19] normanmaurer commented on #4023
Will do tomorrow!

[2015-07-27 09:25] normanmaurer commented on #4019
No it is not 100% unique, just as any other hashCode.

[2015-07-27 09:25] #4019 closed

[2015-07-27 09:34] normanmaurer commented on #4010
Let me fix this

[2015-07-27 09:35] normanmaurer commented on #4017
@Scottmitch +1

[2015-07-27 09:44] trustin commented on #4017
@Scottmitch +1

[2015-07-27 11:57] dop251 commented on #4010
Apologies, could not get to creating a PR. I think there is another bug, this method should not be used to clear uploaded file names, because it replaces commas which is a valid character for a file name. I'll probably open another issue...

[2015-07-27 13:43] FeiWongReed commented on #3886
Guys, could you just disable manifest copying?..

[2015-07-27 13:56] nmittler commented on #3962
@Scottmitch awesome! Looking forward to seeing the numbers!

[2015-07-27 13:59] #4001 closed

[2015-07-27 16:01] gitai opened #4028 "Need ability to U Turn at a given ChannelInboundHandlerAdapter"
I would like to build a handler that will co-exist with other handlers in the pipeline but will only process selected messages. My understanding is that events always propagate to the next handler and I would like to avoid this for specific messages. I don’t want to remove handlers or close the connection; simply put I want to instruct the pipeline to consider the previous handler as the ‘head’ fo

[2015-07-27 16:53] NiteshKant commented on #4028
Any message only goes to the next handler in the pipeline if done so explicitly via `ChannelHandlerContext.fireXXX()` methods. So, if any handler, in its `channelRead()` method does not call `ChannelHandlerContext.fireChannelRead()` for any received message, it is deemed to be terminally consumed by that handler.

[2015-07-27 17:25] gitai commented on #4028
Thanks. I now see it in ByteToMessageDecoder ...

But what about write? Correct me if I'm wrong, If I call it on the current ChannelHandlerContext the write will be handled by the "next" Handler but I would like to avoid this for the case where the "next" handler is also an Outbound handler and is of no relevance to the current handler response.

[2015-07-27 18:14] gitai commented on #4028
I have yet to delve into the internals but glimpsing through AbstractChannelHandlerContext it seems that any write operation takes into account the configured executer assigned to the next outbound handler, so I presume that if an EventExecuterGroup is configured for a successive handler then any write event triggered from the current handler to the next (outbound) handler would be dispatched outs

[2015-07-27 23:07] NiteshKant commented on #4028
_DISCLAIMER: The following is my opinion based on my usage of netty._

In general having a handler be aware of the pipeline configuration (i.e. who is next and whether it can handle a message) isn't a good idea. Instead the handler itself should decide whether to process a message or just pass it through (when not applicable). So, if the handler chain is:

[code]

and Handler can only handle messa

[2015-07-28 03:43] gtomassi commented on #3656
@normanmaurer Great to hear, will try with newer Netty and our same code as soon as we get the opportunity and let you know otherwise. Thanks in advance..

[2015-07-28 04:49] ioanbsu commented on #4023
Applied all the changes to satisfy #4027 pull requests comments.
Unfortunately I somehow closed my original pull request. Probably because I tried to do force push so my commits are squashed..

I had to create new pull request that contains all my original changes and changes that were suggested by @normanmaurer  in my original pull request.
Please review https://github.com/netty/netty/pull/4029

[2015-07-28 08:10] oikomi commented on #3338
hi @steven-gao   can you expain more more details?  thanks

[2015-07-28 09:54] gitai commented on #4028
Just to make sure we're on the same page. I’m referring to netty 4.0.30. I have no idea how things work in other versions.

This is orthogonal to my requirement for early "bail out" which in general should not have any impact on a successor handler as no “output” is handed over. I argue that a complete traversal of all channel handlers even from a given point is too strict.

Per your previous comm

[2015-07-28 10:27] gitai commented on #4028
BTW. My understanding of the behavior where a call to write() is invoked on the “next” ChannelHandlerContext is based on the explanation in “Netty In Action” book (Page. 91) which does not make a distinction between Inbound or Outbound ChannelHandler. If by “next” means next Outbound Handler “backwards” (effectively skipping all successor configured handlers) than there is no issue. I'll start loo

[2015-07-28 13:03] tomaszc opened #4030 "XmlFrameDecoder is corrupt"
Netty Version: 4.1.0.Beta4

Context:
When writing TCP client which exchanges XML messages with server I've encountered an error in XmlFrameDecoder. Given not full XML element, decoder will output not valid XML.

Steps to reproduce:
1. BUG - Decode invalid XML: `'<a><b/></'` - decoder will put it to output list and it will update readerIndex in input byteBuff
2. OK - Decode invalid XML: `'<a><b/>'`

[2015-07-28 13:30] gitai commented on #4028
Ahh.. I should have looked into what findContextOutbound does in AbstractChannelHandlerContext

So calling 'write' on a channel handler context would traverse the context chain looking for the first channel handler context that *precedes* it and can also handle outbound events.

Here is sample console application which shows this logic, it may be useful when explaining this to others.

Output:

In

[2015-07-28 13:50] gitai commented on #4028
Having said that I’m still concerned about possible handler execution model dependency regardless if it’s “previous” or “next” because what it means that in order to skip processing messages in channel handlers configured with an event executer group the skip logic would need to be performed outside the eventloop... might be better to let channel handler implementers determine when to go off the e

[2015-07-28 16:13] fratboy opened #4031 "FixedChannelPool doesn't decrease acquiredChannelCount when timeout occurs"
Netty version: 4.0.10.Beta5

Context:
When we use `FixedChannelPool` with `AcquireTimeoutAction.NEW`, if timeout occurs, `acquiredChannelCount` increases forever.

Steps to reproduce:
1. Create `FixedChannelPool` with `AcquireTimeoutAction.NEW`
2. Shutdown client network to simulate timeout
3. `acquiredChannelCount` increases forever

Opinion:
- When timeout occurs call `task.acquired()` before de

[2015-07-28 16:50] normanmaurer commented on #4030
Can you also test with 4.1.0.Beta6-SNAPSHOT just to be sure it is not fixed already ?

[2015-07-28 19:39] normanmaurer commented on #4022
@burtonator please check https://github.com/netty/netty/pull/4034

[2015-07-28 19:52] normanmaurer commented on #4010
@dop251 can you check https://github.com/netty/netty/pull/4036 ?

[2015-07-28 19:55] tomaszc commented on #4030
I've just checked newest commit on branch 4.1 (94f65ed7ff214de3fc9680d80a5ec2d2fe2aaf48) and the problem still exists.

The problem is in line 115, below comment *'found </, decrementing openBracketsCount'*. IMHO additional validation should be added there to check if closing bracket '>' is available in ByteBuf. I'll have to fix it, my application is broken beacouse of this bug - I'll create pull

[2015-07-28 20:26] gitai commented on #4028
I'm closing this issue since it's ultimately a matter of usage (Thanks @NiteshKant  for the feedback)

[2015-07-28 20:27] #4028 closed

[2015-07-28 20:29] gitai commented on #4012
No apparent interest.

[2015-07-28 20:29] #4012 closed

[2015-07-29 01:14] Scottmitch opened #4037 "Headers, AsciiString, ByteString discussion"
A few items I would like to open up for discussion / investigation:

1. Does it make sense to use `String` instead of `ByteString` for HTTP/2 header names? The perception that the.  HTTP/2 headers don't need case insensitive comparisons and thus can use regular equals/hashCode, and these methods are intrinsic for `String`.
2. Can we remove the requirement that `ByteString` be able to track offset/

[2015-07-29 01:15] Scottmitch commented on #4037
@trustin @normanmaurer  - @buchgr and I were discussing the above topics today.  Can you please comment on the above or list any other thoughts you may have on this topic?

[2015-07-29 01:41] taojiaenx opened #4040 "VoidPromise and others leak in 4.0.30.Final in my push server"
Netty version: 4.0.30Final
Context:
I have been working on a push Server and I am testing the memory leak.
I use Netty to receive user request and send a result to user.

$ java -version
java version "1.7.0_51"
Java(TM) SE Runtime Environment (build 1.7.0_51-b13)
Java HotSpot(TM) 64-Bit Server VM (build 24.51-b03, mixed mode)

 jvm argument:

-Xmx128M

Operating system:
win7 64bit
the client and t

[2015-07-29 02:09] Scottmitch commented on #4017
@nmittler - Looks like we have our answer :)  I'll take the assignment for now so it doesn't get dropped...feel free to take it though.

[2015-07-29 02:33] buchgr commented on #4037
Thanks for writing this up Scott.

One thing I would like to add is that an empty AsciiString object uses up `40 bytes`, while an empty String object uses `24 bytes`. So at least for headers, there won't be memory savings. More likely `AsciiString` will use up more memory.

[2015-07-29 03:28] dozer47528 commented on #3982
This is a bug or just a performance issue?
My application will allocate and deallocate in different thread.
The application continuously eating memory, and I can't find the root case.

[2015-07-29 05:36] Scottmitch commented on #3886
@normanmaurer - I'm also not familiar with OSGi.

@FeiWongReed - Would you mind submitting a PR to remedy the issue (I don't think many Netty devs have OSGi experience)?  Maybe it will be easier for you and @ChristianSchwarz to discuss the pain points.

[2015-07-29 06:07] tomaszc commented on #4030
@normanmaurer BTW - last version of netty on Maven central is 4.1.0.Beta4, isn't this some oversight?

[2015-07-29 06:08] normanmaurer commented on #4030
@tomaszc I can see Beta5 in maven central as well:
http://repo1.maven.org/maven2/io/netty/netty-all/4.1.0.Beta5/

[2015-07-29 07:52] tomaszc commented on #4030
@normanmaurer you're right, it is there, my mistake (morning without coffe ;) )

Meanwhile I've found additional error in XmlFrameDecoder:

StepsToReproduce:
Configure XmlFrameDecoder in your Channel Pipeline and send XML message with more than two root XML elements: `<a><b/><a><a><b/><a><a><b/><a>'.
First decoder output will be proper: `<a><b/><a>`.
Second decoder output will be corrupt: `<a><b/>

[2015-07-29 09:23] jorcasso opened #4041 "Add support for "session present" flag in io.netty.handler.codec.mqtt.MqttConnAckVariableHeader"
Netty version: 4.1.0.Beta5

Context:
I'm implementing an MQTT broker based on netty using the classes from the package io.netty.handler.codec.mqtt, in the version 3.1.1 of the MQTT protocol it has been added a new flag in the variable header of the CONNACK message called "session present": http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718035, it would be great if that f

[2015-07-29 10:01] normanmaurer commented on #4041
We love contributions. Maybe care to submit a PR?

[2015-07-29 12:09] flozano commented on #4041
@normanmaurer I tried to do it in PR. https://github.com/netty/netty/pull/4042

but I am not sure if it's OK to do it against 4.1 (the branch we're using) or if I should do it against master and you guys (or me?) take care of the cherry-pick

Also I just noticed now that I didn't format the commit properly, but it's so trivial I'm not sure it's worth it...

[2015-07-29 12:26] tomaszc commented on #4030
Pull request with bugfix was created, hope it pass your verification

[2015-07-29 12:57] dop251 commented on #4010
Looks good to me, except I would change ";" (which is allowed in a file name) to ":" (which isn't) in the test case, so that when it's fixed properly the test case doesn't break.

[2015-07-29 13:22] WhiteTrashLord opened #4044 "Java 9 and sun.misc.Unsafe"
I just read that Oracle wants to change the access of sun.misc.Unsafe in Java 9.
When you want to use it, you must set a new flag for the JVM.

What does this mean for Netty? Will you try to get rid of all Unsafe usages?
I don't think that I will have any problems to set this flag in the future.

[2015-07-29 14:57] FeiWongReed commented on #3886
Ok, here is pull request: https://github.com/netty/netty/pull/4045

I think that I solved problem at all. For now main jars have correct osgi manifests and source jars have eclipse-specific manifests.

[2015-07-29 15:29] Scottmitch commented on #3886
@FeiWongReed - Thanks!  Lets move the detailed discussion to the PR.

[2015-07-29 15:31] Scottmitch commented on #4041
@flozano - Thanks for the PR! Doing against 4.1 should be fine. We will take care of cherry-picking into other branches.

[2015-07-29 20:14] buchgr commented on #4044
Java 9 is more than a year out and it adds VarHandles which will be able to make up for Unsafe usage in Netty http://openjdk.java.net/jeps/193

[2015-07-29 20:35] normanmaurer commented on #4044
@buchgr must disagree VarHandles will not be able to act as full Unsafe replacement ;) But we will see ...

[2015-07-29 22:11] buchgr commented on #4044
@normanmaurer You are right. It doesn't replace every bit of functionality of `Unsafe`, but what I was trying to say is that I think it can replace Netty's usage of Unsafe.

AFAIK the most important and critical use of Unsafe in Netty is the allocator? With var handle you can still get off heap access to a direct byte buffer, so that should be fine.

Obviously you know Netty a lot better than me.

[2015-07-30 03:26] buchgr opened #4048 "Reduce hash collisions in protocol headers."
After re-introducing the 4.0 protocol headers in #4038, we see a lot of hash collisions [1]. There is room for improvement. We should look into it :-).

[1] https://drive.google.com/folderview?id=0B9onSiVGZDlVfjlDZTNEVEhoSjNDQk50WjVpanR2SFdZY1pHYy16OHM2dmM5T2NaOWl1RWs&usp=drive_web

[2015-07-30 04:39] Scottmitch commented on #4048
Thanks for reporting this @buchgr.

The actual hash algorithms may not be the problem, but instead the mapping of hash code to array index.

The word document structures are as follows:
`<array index> = <number of collisions> [<hash code>=<header name>, ...]`

[2015-07-30 04:57] Scottmitch commented on #4048
Also looking at the header names...`cookie:` header name has a `:` at the end. This should be removed in future tests.  I removed it in the benchmark.

[2015-07-30 05:08] buchgr commented on #4048
aka the hash function ;-)

[2015-07-30 05:31] Scottmitch commented on #4048
Poor choice of words considering I was attempting to clarify terminology.  My intention was that the `hashCode()` methods (corrected in original comments) are likely not be the problem because there were 0 observed collisions in the tests so far (unless they are supposed to be equivalent because case insensitive hash code is used).  However the `index` function (i.e. ``entries[index(hashCode(objec

[2015-07-30 05:57] #4031 closed

[2015-07-30 06:15] #4030 closed

[2015-07-30 07:46] normanmaurer commented on #4041
@flozano thanks.. Adjusted commit message and cherry-picked into 4.1(a91e64850505938cfe3a2079e1ac2c247df6532b)  and master (6ff66fe967ed1aa45f2e87d263463f35c959b5cf).

[2015-07-30 07:46] #4041 closed

[2015-07-30 09:00] trustin commented on #3655
Sounds good to me as long as API usability stays fine. (IIUC there should be no API usability problem with your proposal.)

[2015-07-30 12:10] maheshbabu1907 opened #4050 "Netty Inconsistent results for Asynchronous requests"
Hi Everyone,

I am new to Netty and I am using Netty-4.0.30 version. I am writting a small application which sends some messages from client socket to server socket and expects a response back from server.
I am sending asynchronus requests to a server socket from a range of client sockets. But in few scenarios the time taken to complete/receive responses from server for the entire range of client

[2015-07-30 17:38] buchgr commented on #4048
`hashfn := index(hashCode(object))`.

Anyways, the JDK's HashMap uses `sun.misc.Hashing.stringHash32(String)` for Strings. It's also available for `byte[]`, so we can do that for AsciiString and ByteString. It's worth a try I think. If it helps we can hide it in `PlatformDependent`. //cc @trustin @normanmaurer

[2015-07-30 17:39] #3600 closed

[2015-07-30 17:59] normanmaurer commented on #4048
Sounds good!

[2015-07-30 18:59] normanmaurer commented on #4022
Fixed by https://github.com/netty/netty/pull/4034

[2015-07-30 18:59] #4022 closed

[2015-07-30 19:26] Scottmitch commented on #4048
@buchgr - With the current class hierarchy and usage pattern we have to have an algorithm that is compatible between ByteString and AsciiString considering case insensitive values.  Is there a way to accomplish this using `sun.misc.Hashing.stringHash32(String)`?

Even if we could decouple ByteString and AsciiString the same would still be true for AsciiString (or at least what ever hash algorithm

[2015-07-30 19:53] Scottmitch commented on #3655
This should be mostly addressed by https://github.com/netty/netty/pull/4038. @nmittler - You may want to have a look.

[2015-07-30 20:12] Scottmitch commented on #4037
One of the "extra" fields in `AsciiString` is caching the `toString()` result.  However if we remove this we could experience pain in 4.1 due to how the `HttpHeaders` interface is based on `String` instead of `CharSequence`.  Because the `HttpHeaders` interface is based on `String` most of the operations are still exposed in terms of `String`, and this means now that `AsciiString` exists we can ex

[2015-07-30 20:21] buchgr commented on #4048
@Scottmitch Let me do some tests to see if it is any better first. If it is, I ll come up with a proposal of how to integrate it. Will require some work, but nothing super hard I think.

[2015-07-30 20:30] Scottmitch commented on #4048
@buchgr - SGTM! Thanks!

[2015-07-30 21:23] buchgr commented on #3655
I think Nathan is on vacation #EastCoastBaby #StalkingTheMitOnFacebook

[2015-07-31 11:55] blucas opened #4052 "HTTP/2 FlowController and flushing"
Netty Version: 5.0.0.Alpha3-SNAPSHOT (latest from master).

Issue:
When my server sends a larger HTTP response to a client (chrome), the client receives most of the response and then hangs.  Once the connection is closed, the client receives the rest of the response and completes processing.

I think the problem stems from the ```FlowController``` which writes frames out and respects ```channelWri

[2015-07-31 11:55] blucas commented on #4052
@Scottmitch @nmittler - Tagging you guys in this for your feedback.

[2015-08-02 09:29] blucas opened #4053 "SpdyHttpDecoder fails to decode SpdyFrame to HttpRequest"
Netty Version: 5.0.0.Alpha3-SNAPSHOT (latest master)

Issue:
When the ```SpdyHttpDecoder``` attempts to decode a SPDY Frame into a ```FullHttpRequest``` a ```NullPointerException``` is thrown on [this line](https://github.com/netty/netty/blob/master/codec-http/src/main/java/io/netty/handler/codec/spdy/SpdyHttpDecoder.java#L353).

The reason is that the call to ```headers.getAndConvert(METHOD)``` r

[2015-08-02 09:44] clienthax commented on #2302
Thats it, just keep bumping that milestone.

[2015-08-02 11:41] blucas commented on #4053
I've just finished writing a unit test to better explain the issue.  Maybe this has something to do with the fact that ```DefaultSpdyHeaders``` uses a ```LinkedHashMap``` implementation while ```DefaultHttpHeaders``` uses a ```TreeMap```?

[code]

[2015-08-02 15:37] Scottmitch commented on #4053
Thanks for reporting this issue and the unit test @blucas!  It is indeed because of the different map implementation. The `String` and `AsciiString` keys have different hash algorithms and thus the lookup in the LinkedHashMap fails (the equals are likely different too).  I believe this issue will disappear after PR https://github.com/netty/netty/pull/4038 is pulled in.

It would be appreciated if

[2015-08-02 15:47] Scottmitch commented on #4052
@blucas - Thanks again for reporting this issue. A reproducer would be appreciated :)

You can send the repro here:
scott dot k dot mitch1 at gmail dot com

[2015-08-02 15:54] Scottmitch commented on #4052
@blucas - You mention you are overriding `channelReadComplete`.  Can you confirm that [Http2ConnectionHandler.channelReadComplete](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L431) is still being called?

[2015-08-02 16:05] Scottmitch commented on #4040
@taojiaenx - Can you provide a bit more detail as to why you think there is a leak, and why you feel this leak is in Netty?  For example have you forced a GC and traced GC roots?

[2015-08-03 08:17] blucas commented on #4052
@Scottmitch - I'll send you the reproducer tonight.  ```channelReadComplete``` is calling ```super.channelReadComplete``` so should be executing ```Http2ConnectionHandler.channelReadComplete```.  I also think it may make a slight difference if you are using Epoll or NIO.  In production I use Epoll.  I know those two vary slightly in their processing logic.

[2015-08-03 08:18] blucas commented on #4053
@Scottmitch - I'll create a pull request for these later this week.  I'm glad to hear this is already fixed in an existing PR :+1:

[2015-08-03 15:02] gfrison opened #4055 "using HttpProxyHandler netty open connection on proxied host"
[code]

I would expect that at 'connect' no connection is opened at 'proxied' (and no proxyed host name is resolved) because everything should pass through the proxy.

How can I avoid it?

Thank you,

[2015-08-03 17:55] romanman opened #4056 "reuse for nioEventLoopGroup Thread"
Guys would you consider it as a good strategy
to try and reuse threads behind `nioEventLoopGroup`
for server with a lot of connect/disconnect scenarios ?

Thanks in advance.

[2015-08-03 18:56] Scottmitch commented on #4056
@romanman - Thanks for reaching out. Please post questions on stackoverflow (more likely others will see and benefit from the answer). Github is for reporting issues/bugs and feature requests. Feel free to post a link to the stackoverflow question in this case, but in the future stick to stackoverflow for questions.

[2015-08-03 18:56] #4056 closed

[2015-08-03 18:59] Scottmitch commented on #4052
@blucas - There *should not* be a difference in terms of your programming for EPOLL an NIO. If this is the case there is likely an issue we need to take a look at.  Can you confirm if you are observing different behaviour in this case?

[2015-08-03 19:20] blucas commented on #4052
@Scottmitch - Reproducer sent via email, please let me know if you get it.

Regarding EPOLL vs NIO, I haven't noticed a difference.  I only mention it because I've seen in the past that the EPOLL and NIO transports aren't always interchangeable (as an example, I believe attempting to disable auto read within an application handler has no effect in EPOLL ET mode).  When I have a bit more time, I wi

[2015-08-03 19:45] Scottmitch commented on #4052
@blucas - Responded to your email. Looks like a bug. Expect a follow up PR :)

Thanks for clarifying. In this specific case the difference is expected behaviour.

[2015-08-03 19:57] romanman commented on #4056
@Scottmitch : sorry for the mess, here it is:
http://stackoverflow.com/questions/31795715/reuse-for-eventloopgroup

[2015-08-03 19:59] ganskef commented on #3978
Sorry for delay, I've missed your question. I've reproduced it with an iPad mini with iOS 8.1.3. It works well after fixing the proxy application. Please have a look at ganskef/LittleProxy-mitm#6.

[2015-08-03 21:20] Scottmitch opened #4057 "HttpObjectAggregator 100-continue behavior"
[HttpObjectAggregator](https://github.com/netty/netty/blob/4.0/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectAggregator.java#L131) automatically responds with a `100-continue`.  The sending of the `100-continue` should be sensitive to the `Content-Length` header and respond with a `417` as defined in [RFC 7231, 5.1.1](https://tools.ietf.org/html/rfc7231#section-5.1.1) if the `maxC

[2015-08-03 21:20] Scottmitch commented on #4057
@trustin - Commit 57dc0b3b added a `TODO` statement which relates to this issue. Any thoughts?

[2015-08-03 22:04] Scottmitch opened #4058 "HttpObjectAggregator 100-continue auto response"
[HttpObjectAggregator](https://github.com/netty/netty/blob/4.0/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectAggregator.java#L131) automatically responds with a `100-continue`.  This may be problematic in the proxy use case.  A proxy may just want to delegate the decision to the next server and forward the request.

https://tools.ietf.org/html/rfc7231#section-5.1.1:
[code]

[2015-08-03 22:04] Scottmitch commented on #4057
I have a PR pending for this.

[2015-08-03 22:33] Scottmitch commented on #4058
After more investigation this is not an issue

The HttpObjectAggregator is designed to produce 1 HttpObject as a result of 1 request/response. If we don't send back a 100-continue then it would need to produce 2 objects. What does the first object look like (all the headers), and then what does the second object look like (no headers, but there is still a path, method, etc...).

[2015-08-03 22:33] #4058 closed

[2015-08-04 00:24] grgvineet commented on #3904
As mentioned earlier, the problem only occurs on Android 4.2 and less. By hacking into netty code with some print statements I found out that the problem is similar to a problem[1] in restlet framework. Can we fix it within netty?

[1] https://github.com/restlet/restlet-framework-java/issues/852

[2015-08-04 01:26] Scottmitch opened #4059 "SocketChannel input/output closed behavior"
It is possible for a SocketChannel to have its input and output closed. When in this state is it possible that the FD is not cleaned up by the OS until an explicit `channel.close()` is called (this is the case on mac).  The socket is observed to be in the CLOSED state until the process is terminated.  The question is there anything useful that can be done on a SocketChannel after the input and out

[2015-08-04 01:27] Scottmitch commented on #4059
@normanmaurer @ejona86 @nmittler - FYI.

[2015-08-04 01:30] Scottmitch commented on #3904
@grgvineet - This seems like a duplicate of https://github.com/netty/netty/issues/3692. WDYT?

[2015-08-04 11:01] tramchamploo commented on #2465
Also focus on this. So what's the conclusion?

[2015-08-04 14:05] rkapsi opened #4060 "Ability to associate attributes with HttpMessages/HttpObjects"
It'd be great if it was possible to associate attributes with HttpMessages (possibly HttpObjects). and effectively make it very easy to implement things such as HTTP request scopes.

I'm currently using a ChannelHandler that creates + fires a "context" user event object for each newly read HttpMessage but that approach has some maintainability problems.

[2015-08-04 16:03] Scottmitch commented on #4060
@rkapsi - We love pull requests :) Although if you plan on adding new interfaces to existing interfaces I think this would have to be targeted at 4.1.

[2015-08-04 16:57] normanmaurer commented on #4060
@rkapsi @Scottmitch honestly I think this should be not part of the Http* pojos in the core. If you really want to do this you can just write your own implementation of the interface and do it there.

[2015-08-04 17:12] rkapsi commented on #4060
That's a lot to implement though. It'd probably end up being a bunch of wrapper classes that delegate to pojos that HttpObjectDecoder created. I get cold shivers from that.

One thing I've been thinking is if HttpHeaders wouldn't call toString() on header values. It'd be quite elegant and natural for passing values around.

[2015-08-04 17:55] Scottmitch commented on #3884
@jestan - Any objections to me removing this code?

[2015-08-04 20:32] grgvineet commented on #3904
I think so, but is this solvable like restlet people solved it, if it does not impact non-android usage ?

[2015-08-04 20:52] Scottmitch commented on #3904
@grgvineet - There may be a work around, but I think the root cause was identified as a defect in android. I think when @alexzk1 tried a work around he just ran into more issues. If you would like to submit a PR we could review it and see if the impact is low enough for cases which don't require the work around.

[2015-08-04 21:36] Scottmitch commented on #3565
@cloudbow - Have you stopped seeing this issue, and were you able to find a root cause?

[2015-08-05 13:25] rkosegi opened #4063 "Unable to decode response from buggy web server implementation"
I'm using HttpClientCodec to get screen from IP camera.
It seems that camera has buggy web server as Netty fail to decode response.

[code]

Here are response headers from same camera using "curl -v"
[code]

Obviously there is missing "Date:" prefix in header on 3rd line.
Question here is, if it is possible to use lax parsing of response or ignore parsing errors at all.
I recognize this as problem

[2015-08-05 13:50] rkapsi commented on #4060
... But that would be hacky. I'm personally leaning towards something analogous to `HttpServletRequest#setAttribute(...)`.

[2015-08-05 13:58] rkapsi commented on #4060
@Scottmitch @normanmaurer I'm happy to iterate on it. We use Netty with non-aggregated HttpMessages and with many ChannelHandlers. One thing that is consistently missing is the ability to share information on a per-request level.

[2015-08-05 14:33] allnash opened #4064 "Error using Netty SPDY with jdk1.8"
java.lang.ExceptionInInitializerError:
     io.netty.handler.ssl.JdkSslContext.toNegotiator(JdkSslContext.java:232)
     io.netty.handler.ssl.JdkSslServerContext.<init>(JdkSslServerContext.java:161)
     io.netty.handler.ssl.SslContext.newServerContextInternal(SslContext.java:399)
     io.netty.handler.ssl.SslContextBuilder.build(SslContextBuilder.java:219)

Java code
 // Configure SSL.
        Se

[2015-08-05 14:33] rkapsi opened #4065 "NPE in DnsNameResolver in conjunction with a negative caching policy"
There is a NPE in the DnsNameResolver if a negative caching policy is being used and the hostname doesn't resolve.

See attached unit test (feel free to copy it).

Netty: 4.1-Beta6-SNAPSHOT

[code]

[code]

[2015-08-05 15:17] Scottmitch commented on #4064
@allnash - Does your full exception look something like this:

[code]

If so you are attempting to use the java ssl provider and you should reference `https://wiki.eclipse.org/Jetty/Feature/NPN` for how to configure your bootclaspath.  Please let me know if this fixes your issue.

[2015-08-05 15:28] Scottmitch commented on #4065
@trustin - I will assign to you for now.

[2015-08-05 15:35] Scottmitch commented on #4060
@normanmaurer - I think the difficulty with creating your own implementation of the interfaces is the codec will not use these objects and as @rkapsi said you must wrap everywhere. Seems like a common problem to have to associate user data with requests/responses?  For example in HTTP/2 we have a per stream map where users can store objects.

I see value in this but I don't fully understand @norma

[2015-08-05 15:48] Scottmitch commented on #4063
@rkosegi - Thanks for reaching out! Please use stackoverflow for questions about Netty as users are more likely to see the questions / responses there. Github is for reporting Netty errors / feature requests. In this case feel free to reply with the link to the stackoverflow question here (I will answer), but in the future please start with stackoverflow for questions.

[2015-08-05 15:48] #4063 closed

[2015-08-05 16:27] merlimat opened #4066 "PooledDuplicatedByteBuf instances are not always recycled"
PooledDuplicatedByteBuf and PooledSlicedByteBuf are instantiated from a Recycler object when when `duplicate()` or `slice()` methods are called on a pooled buffer.
However theses objects are only recycled if the call to `release()` them is triggering the wrapped buffer to deallocate, otherwise the objects will be GCed together with the DefaultHandle instances allocated to track them.

Eg:
[code]

[2015-08-05 16:48] Unisay opened #4067 "Force-closing a channel whose registration task was not accepted by an event loop"
Sometimes Netty terminates connection abruptly with this stacktrace:
[code]
I am at Ubuntu 14.10, Java build 1.8.0_51-b16

[2015-08-05 18:16] Scottmitch commented on #4067
@Unisay - A channel is attempted to be registered to an event loop that has been shutdown, thus the registration fails and the channel is closed. I take it that you are requesting that this behavior (channel is closed) changes? If so, do you have any suggestions. If not can you explain the issue?

Why is the event loop being shutdown?

[2015-08-05 18:41] allnash commented on #4064
Ok I'll give it a try.

Thanks,
Nash

Sent from my iPhone

[2015-08-05 18:56] Scottmitch commented on #4066
I guess one of the issues is the `PooledDuplicatedByteBuf` and `PooledSlicedByteBuf` share a reference count with the wrapped buffer. Because this is the case we can not be sure when a release call to a duplicated or sliced buffer is made that is safe to recycle the object (what if retain is called on the dup)? We could add an additional reference count in `AbstractDerivedByteBuf` to know when it

[2015-08-05 20:37] nathantippy opened #4068 "Dependency on sun packages should be removed sooner rather than later."
This is a key issue for compact profiles and may be a significant issue in Java 9.  By eliminating this dependency now (early) netty will be in a great position to grow its community when Java 9 is released.  This dependency also limits the number embedded deployments where netty could be used.

The goal should be to get netty to run out of the box under either compact2 or compact1 profile.

[2015-08-06 01:13] jroper commented on #3902
A further update on this, I've ported Play to use this (in a branch at the moment because some other things need to be done first), and our tests are passing.  It won't be too long before we get this into Play's master branch, and then it'll be run by our performance test infrastructure, which should be interesting.

[2015-08-06 01:20] Scottmitch commented on #4044
http://mail.openjdk.java.net/pipermail/jigsaw-dev/2015-August/004433.html

Looks like current proposal for Unsafe and Cleaner is to keep them around for java9.

[2015-08-06 01:23] Scottmitch commented on #4068
This seems related to https://github.com/netty/netty/issues/4044.  Should we continue discussion there or do you have specific dependencies you are concerned about?

[2015-08-06 01:34] Scottmitch commented on #4068
Here are some modules that appear to use sun imports (other than `Unsafe` and `Cleaner`):
- transport-sctp
- resolver-dns
- common - PlatformDependent.java and PlatformDependent0.java need more investigation
- handler - OpenJdkSelfSignedCertGenerator.java
- transport - NioEventLoop.java

[2015-08-06 05:20] merlimat commented on #4066
I was trying the approach you describe by making `AbstractDerivedByteBuf` to inherit from `AbstractReferenceCountedByteBuf`, the only problem is that starting the `refCnt` from 1 might not be correct, because if I do:
[code]

I'll try to put the `refCnt` logic into `AbstractDerivedByteBuf` and handle the start from 0 case.

[2015-08-06 05:52] Scottmitch commented on #4066
@merlimat - What is your expectation for the example you gave? You retained the `dup` so you should have to call `release` 2 times right?  I think care just needs to be taken to ensure the retain/release also gets properly distributed to the wrapped buffer.

[2015-08-06 07:28] Unisay commented on #4067
@Scottmitch
Unfortunately I have only rough idea of what is "channel registration" and "event loop".

In my integration tests I use mockserver-netty. For every test (sequentially) I start and stop mockserver (which starts-stops netty). Sometimes start happens just after it has been stopped. I can provide more detailed logs of netty a bit later.

[2015-08-06 09:04] taojiaenx commented on #4040
I think may be this is the problem of my code and I just want to know how this happen, I will provider with the graph of class latter.

[2015-08-06 15:04] taojiaenx commented on #4040
this is the heap
![image](https://cloud.githubusercontent.com/assets/7163099/9114759/14c7f040-3c8e-11e5-87cc-6edc8442cc19.png)
there is no out going reference.
when I test the client will send a message to the server then close the connection immdiatly, and there are a lot of clients do this operation at the same time.
I thick those code may cause the leak
this code is in a class which is the son

[2015-08-06 15:55] taojiaenx commented on #4040
sorry ignore this, found the bug, sorry

[2015-08-06 15:55] #4040 closed

[2015-08-06 17:16] Scottmitch commented on #4040
@taojiaenx - Glad you found it. Care to share what the root cause was?

[2015-08-06 19:14] justinjhendrick commented on #3986
http works

[2015-08-07 12:31] gavelino opened #4069 "Netty Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-07 17:41] Scottmitch commented on #4069
(a) Yes. Lets just say we all hope here that neither of them get hit by a truck.

(b) Netty would suffer.

(c) Netty does have docs. The project is used by other projects and organizations who presumably have have a vested interest in Netty being maintained.

Are your calculations sensitive to time? For example can you derive TF for the last `n` months?

[2015-08-07 17:41] #4069 closed

[2015-08-08 01:19] trustin opened #4070 "Merging a pull request instead of cherry-picking"
I see no problem merging a pull request as long as the pull request is properly rebased and squashed. It also means we can use the 'Merge pull request' button and 'Delete the merged branch' button in the Github pull request page, which is super convenient. What do you think?

[2015-08-08 01:19] trustin commented on #4070
/cc @normanmaurer @Scottmitch @buchgr @nmittler

[2015-08-08 01:43] Scottmitch commented on #4070
@trustin - I prefer to cherry picking for the following reasons:

1. We often have to put PR changes into multiple branches, and I think this means you will have to use command line most of the time anyways.
2. Keeps log cleaner, doesn't get cluttered up with merge branches.

I'm not against merging, but are there other positives besides convenience?

[2015-08-08 05:14] trustin commented on #4070
I think you are right. We use command line to work on more than one
branch almost always, there is not much merit of using web UI and
introducing merge commits.

[2015-08-08 05:54] merlimat opened #4071 "MemoryRegionCache$Entry objects are not recycled"
Netty Version: 4.0.30.Final

MemoryRegionCache$Entry instances are allocated from a Recycler but not recycled when done using them, leading to a lot of GCed objects.

[2015-08-08 10:06] normanmaurer commented on #4070
+1 to use cherry-pick

[2015-08-08 11:37] md-5 commented on #4070
cherry pick gets my vote.

[2015-08-09 11:00] blucas commented on #4053
Hey scott, I was going to create a PR for this today, but could not find a ```io.netty.handler.codec.http.DefaultHttpHeadersTest``` in master.  Should I just create one?

[2015-08-09 11:02] blucas commented on #4052
Hey scott, any update on this?  If it is something pretty simple to fix, I have a few spare cycles and don't mind chipping in if need be.

[2015-08-09 13:55] #4070 closed

[2015-08-09 16:54] Scottmitch commented on #4052
@blucas I have a PR waiting approval. It should be simple but should make it through the process by mid week.

[2015-08-09 17:01] Scottmitch commented on #4053
@blucas https://github.com/netty/netty/blob/master/codec-http/src/test/java/io/netty/handler/codec/http/DefaultHttpHeadersTest.java exists in master so just use this. The SPDY test may not exist and you can just create a file for that.

[2015-08-10 19:29] #4071 closed

[2015-08-10 20:17] matthpl opened #4073 "incoming Http2 to Http conversion behavior"
I am considering building a proxy server using Netty with Spdy3.1 and Http2. I have some questions about Http2 to Http conversion.

For [InboundHttp2ToHttpAdapter](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/InboundHttp2ToHttpAdapter.java), it aggregates HEADERS frame and DATA frames to produce a FullHttpMessage. I am wondering the reason of doing

[2015-08-10 21:31] erimatnor opened #4074 "DNS: DnsNameResolver doesn't read /etc/hosts"
Being able to resolve hosts from /etc/hosts would be useful and probably the expected behavior for many. Preferably, it would monitor the file for changes too.

[2015-08-11 01:21] Scottmitch commented on #4073
The initial motivation behind this was "simplicity" w.r.t `Full*` objects defining the stream id and lifetime in 1 object (request payload was small / empty).  Since this was originally contributed it has not received much work because of direct usage of the HTTP/2 interfaces.  I would like to update the code to work with non `Full*` objects but I don't think I will have cycles for this any time s

[2015-08-11 04:47] normanmaurer commented on #4073
Yep that would be nice!

[2015-08-11 20:22] nmittler commented on #4017
@Scottmitch FYI this isn't a super high priority item for us ... I'm probably not going to pick it up any time soon.

[2015-08-11 20:30] nmittler commented on #3655
@buchgr thanks for the stalking :)

@Scottmitch I took a quick scan ... LGTM

[2015-08-11 20:33] nmittler commented on #4052
@blucas thanks for reporting!

@Scottmitch Just ping me on the PR when it's ready.

[2015-08-12 04:37] normanmaurer commented on #4023
Fixed by #4076

[2015-08-12 04:37] #4023 closed

[2015-08-12 05:47] ioanbsu opened #4077 "SimpleChannelPool/FixedChannelPool: Don't put unhealthy channel back to the pool on release"
Currently it is *required* to release channel to the channel pool for ```FixedChannelPool```.
Failure to release a channel may cause that ```FixedChannelPool.acquiredChannelCount``` becomes equal or bigger then ```FixedChannelPool.maxConnections```. So basically it means that we have to release back all the channels even those ones that are not *healthy*, and when channel is released it simply put

[2015-08-12 12:58] ronenhamias commented on #2465
is there any actual resolution / recommendation to this issue?

[2015-08-12 13:00] lkoszanski commented on #2465
Sent from my BlackBerry 10 smartphone on the Bell network.                                                                                                                                                                                                                From: ronenhamiasSent: Wednesday, August 12, 2015 08:58To: netty/nettyReply To: netty/nettySubject: Re: [netty] Netty  NioEventLoop se

[2015-08-12 15:53] matthpl commented on #4073
It is very difficult to associate a HttpMessage and its HttpContent chunks, once they are converted from Http2 frames to http1.1 chunks.

Correct me if I am wrong. From my understanding, streams are FIFO and each stream is handled by separate thread.  No two streams would share the same handler within the same thread at the same time. Therefore, if we have a handler to convert a Http2 frames(for e

[2015-08-12 18:01] gavelino commented on #4069
Hi @Scottmitch ,

thanks for the answer. Currently, our approach is not sensitive to time. It calculates the TF for the entire repository history. But, we intend to implement this functionality.

[2015-08-12 18:54] normanmaurer commented on #4069
@Scottmitch thanks for taking care of this while I was on vacation :)

[2015-08-12 20:54] gjesse opened #4079 "IllegalStateException seen when "Expect: 100-continue" header used"
Netty version: 4.0.29.Final,  4.0.30.Final

I am using netty to power an http server along with the rxNetty library.

I am seeing this issue after upgrading from 4.0.28 to 4.0.30.Final  - When I submit a request that includes an "Expect: 100-continue header", I end up getting 2 response attempts for a single request, and an IllegalStateException on the second response from this line:

https://gith

[2015-08-12 20:57] normanmaurer commented on #4079
Let me check

[2015-08-12 21:52] Scottmitch commented on #4073
Not sure I understand the context here.  FIFO relative to what?

The http2 codec currently assuming all operations are on the IO thread.

Just to clarify the current code base
HTTP/2 -> HTTP/1.x is handled by [InboundHttp2ToHttpAdapter](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/InboundHttp2ToHttpAdapter.java) (already supports non `Full*` HTT

[2015-08-12 21:58] Scottmitch commented on #4079
@gjesse - I haven't looked at this issue in detail but PR https://github.com/netty/netty/pull/4083 seems to address similar concerns. Would you mind trying this PR?

[2015-08-12 22:07] Scottmitch commented on #4077
@normanmaurer - I recall discussing this when we originally reviewed the pool.  I think your rational was since we have to check the health anyways when we pull out of the pool, and the health check may be expensive (may include RTT), we wanted to minimize the number of health checks done. WDYT?

[2015-08-12 22:09] yawkat opened #4085 "Support abstract domain sockets using epoll on linux"
Version: 5.0.0.Alpha2

Context:
I am trying to write a client for dbus on linux and need to support abstract domain sockets to properly connect to the native dbus servers.

It is currently not possible to create an abstract domain socket using the epoll selector. While creating normal domain sockets works fine, an attempt to prepend a `\0` to open an abstract socket leads to an IOException when bi

[2015-08-12 22:14] Scottmitch commented on #4052
@blucas @nmittler - See https://github.com/netty/netty/pull/4084

[2015-08-12 22:49] gjesse commented on #4079
@Scottmitch, It's certainly in the same area - not sure if it addresses my concerns but I will try it out and see what happens

[2015-08-13 06:16] normanmaurer commented on #4085
@yawkat can you tell me what you mean with "abstract domain socket" ?

[2015-08-13 06:19] normanmaurer commented on #3902
@jroper awesome! Let us know once you have the results

[2015-08-13 06:30] yawkat commented on #4085
See [this man page](http://man7.org/linux/man-pages/man7/unix.7.html). Basically, domain socket names allow `\0` bytes in them, and on linux, a domain socket starting with `\0` does not appear in the file system and is called abstract.

[socat](http://linux.die.net/man/1/socat) supports these through a special `ABSTRACT` address family. [dbus](http://dbus.freedesktop.org/doc/dbus-specification.htm

[2015-08-13 06:35] normanmaurer commented on #4077
@Scottmitch yep that was my argument, I may been wrong here and we should kind of make this configurable. WDYT ?

[2015-08-13 07:56] normanmaurer commented on #4079
@Scottmitch @gjesse its not related... Working on a fix as we speak

[2015-08-13 14:55] Scottmitch commented on #4077
@normanmaurer yes. As this issue describes I think there is value in having the option to check up front too.

[2015-08-13 16:44] Scottmitch commented on #4052
@blucas - #4084 has been merged. Please re-open if this does not address the issue you observed.

Thanks for reporting!

[2015-08-13 16:44] #4052 closed

[2015-08-13 18:53] yawkat opened #4087 "Removing ByteToMessageCodec from pipeline does not post remaining bytes to channel"
Netty Version: 5.0.0.Alpha2

Context:
I have a line-based protocol that upgrades to a binary protocol. After removing the line decoder (extending ByteToMessageCodec) during the upgrade, I lost buffered data from the line decoder.

Removing a ByteToMessageDecoder from a channel pipeline will fire the buffered bytes in that decoder into the channel to make them available to other channel handlers. R

[2015-08-13 18:58] normanmaurer commented on #4087
@yawkat sounds like a bug... looking into it now.

[2015-08-13 19:01] yawkat commented on #4087
I *think* delegating `channelInactive` and `handlerRemoved` to the decoder should fix it if that helps.

[2015-08-13 19:16] normanmaurer commented on #4087
@yawkat yep something like that... working on it :)

[2015-08-13 19:38] Scottmitch commented on #4064
@allnash - I'll close this for now. Please re-open if there is still an issue.

[2015-08-13 19:38] #4064 closed

[2015-08-13 23:29] Scottmitch commented on #4005
@longlong524 - Sorry I missed this. Are you still experiencing this issue? Can you try again with 5.0.0.Alpha3?  Do you have a reproducer?

[2015-08-14 05:26] normanmaurer commented on #4085
@yawkat so I guess using 'GetStringChars' would be right here... I'm correct ?

[2015-08-14 05:38] yawkat commented on #4085
Wouldn't that return an array of 16-bit numbers? Casting that to 8 bit would just give you lots of 0s.

I'm guessing the right way would either be decoding it as ascii or passing through the byte array directly instead of the string. Also need to replace the string operations because they rely on a trailing 0.

[2015-08-14 05:39] normanmaurer commented on #4085
@yawkat good point.

[2015-08-14 08:49] molele2 opened #4090 "netty java.lang.UnsupportedOperationException: libsctp.so.1: cannot open shared object file: No such file or directory"
I try netty-all-4.0.30.Final.jar netty-all-4.0.25.Final.jar  for storm test,The test have some error:

21966 [Thread-15] ERROR org.apache.storm.zookeeper.server.NIOServerCnxnFactory - Thread Thread[Thread-15,5,main] died
io.netty.channel.ChannelException: Unable to create Channel from class class io.netty.channel.sctp.nio.NioSctpServerChannel
	at io.netty.bootstrap.AbstractBootstrap$BootstrapChann

[2015-08-14 15:14] Scottmitch commented on #4090
Do you have libsctp.so in you LD_LIBRARY_PATH or LD_PRELOAD environment variables?

[2015-08-14 19:18] #4010 closed

[2015-08-14 19:21] normanmaurer commented on #4090
@molele2 I guess you have not installed the correct libraries ?

Check the Getting started here:
http://openjdk.java.net/projects/sctp/html/gettingstarted.html

[2015-08-14 19:21] #4090 closed

[2015-08-14 19:21] normanmaurer commented on #4090
if you still have issues please reopen

[2015-08-14 19:22] normanmaurer commented on #4068
@nathantippy I think these are "optional"... I'm missing something ?

[2015-08-14 20:11] rkapsi opened #4091 "Epoll HttpServer ClosedChannelException death spiral"
There appears to be something like a ClosedChannelException death spiral in conjunction with chunked HTTP POSTs and Epoll.

It starts if there is a ChannelHandler that throws an Exception and an another ChannelHandler that catches it and attempts to close the Channel. The server will then spin for a bit throwing ClosedChannelExceptions.

The same test using NIO doesn't exhibit this behavior.

[cod

[2015-08-14 20:19] normanmaurer commented on #4091
@rkapsi thx will check

[2015-08-14 21:42] Scottmitch commented on #4091
@normanmaurer - I got this one.

[2015-08-14 21:53] rkapsi commented on #4091
Interesting, if I run that test from the CLI it's eventually starting to spew these ones...

[code]

[2015-08-14 22:04] Scottmitch commented on #4091
@rkapsi - Thanks. Will check. Can I take some of your code you posted and morph it into a unit test?

[2015-08-14 22:08] rkapsi commented on #4091
@Scottmitch yes, feel free.

The readAddress() exceptions are possibly a result of me adding a finally block to that test (because I've been turning it also in an unit test on my end).

[code]

[2015-08-14 23:40] Scottmitch commented on #4091
@rkapsi - Thanks. I have a PR pending approval. I will ping you when I push it upstream and have you verify the changes.

[2015-08-15 21:45] yawkat commented on #4085
Okay, had nothing else to do so I tried my hand on a fix: #4092

[2015-08-16 04:02] mubarak opened #4093 "Out of memory: Resource leak detector is going recursive"
Netty version: 4.1.0-Beta5

Context:
I encountered OOM and heap dump shows `ResourceLeakDetector` is going recursive and retains 99% of heap. We use 8 GB as max heap size with PooledByteBuf. Please find the screenshots. I can share the heap dump (if needed)

$ java -version
java version "1.8.0_31"
Java(TM) SE Runtime Environment (build 1.8.0_31-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.31-b

[2015-08-16 13:03] chrisprobst commented on #4020
Can really nobody prove or disprove this statement ?

[2015-08-16 14:49] grgvineet commented on #3904
There is a method named "setHandshakeSuccessIfStillHandshaking" in SslHandler to fix this issue tha SSLEngine is directly going to NOT_HANDSHAKING instead of FINISHED. But it is not working since the loop in wrapNonAppData cannot break because on calling wrap, even though bytesConsumed is zero, bytesProduced is 21. So it is encrypting empty buffer. The loop only breaks when bytesProduces is zero w

[2015-08-16 17:45] rkapsi commented on #4060
@Scottmitch @normanmaurer so what are your thoughts about this? The wrapping is my least favorite option. It's inefficient and would lead to an awkward parallel type system.

One idea could be to change `HttpRequestDecoder` and its cousins to use something like a customizable `HttpRequestFactory`. The `HttpRequestDecoder` already has a factory method for `HttpRequest` and we'd need something simil

[2015-08-16 18:04] normanmaurer commented on #4085
Fixed by https://github.com/netty/netty/pull/4092

[2015-08-16 18:04] #4085 closed

[2015-08-17 01:51] stuartwdouglas opened #4095 "HttpObjectDecoder#isContentAlwaysEmpty does not handle upgrade responses correctly"
I ran into the following when testing Undertow HTTP2 interop via upgrade. This method contains the following:

            // Correctly handle return codes of 1xx.
            //
            // See:
            //     - http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html Section 4.4
            //     - https://github.com/netty/netty/issues/222
            if (code >= 100 && code < 200) {

[2015-08-17 05:07] normanmaurer commented on #4095
@stuartwdouglas could you link me to the code you used for testing?

[2015-08-17 05:38] stuartwdouglas commented on #4095
https://github.com/undertow-io/undertow/commit/c44b8239e2bca6e246616b1369433e3ed85e477e
This is based on the http2 client example in the netty repo

If you remove the sec-websocket-accept header the test fails. I think a more correct approach to detect Hixie 76 would be to check for the presence of Sec-WebSocket-Key1 and Sec-WebSocket-Key2 headers.

[2015-08-17 06:11] normanmaurer commented on #4095
Thanks will check!

[2015-08-17 06:58] pylight opened #4096 "Netty 4.x User Guide - Architectural Overview missing?"
Hi,
I'm new to Netty and started reading the 4.x user documentation (since this is the current stable version). In the "Getting Started" section, is stated: "If you prefer top-down approach in learning something, you might want to start from Chapter 2, Architectural Overview and get back here."
Unfortunately there's no second chapter in the documentation? This was pretty confusing for me as a entr

[2015-08-17 07:59] blucas commented on #4053
Closing this as the issue is now fixed and the unit tests have been merged.

[2015-08-17 07:59] #4053 closed

[2015-08-17 08:11] zhaosoap commented on #4096
Hi,
I also new in Netty. I prefer to study with partners. We can help each other if you are interested .
You can contact via Wechat . My id is zhaosoap.

Soap

Sent from my iPhone

[2015-08-17 13:48] rkapsi commented on #4060
Nah, that's not going to work very well with `HttpObjectAggregator`.

[2015-08-17 13:58] normanmaurer commented on #4060
@rkapsi @Scottmitch the concern I have with adding the possibility to expose something like an attribute map in the "pojos" is that this has not much to do with the protocol itself. IMHO the pojos that represent the messages should be very light-weight and not carry any extra stuff that is not part of the protocol itself.

@trustin WDYT?

[2015-08-17 13:58] normanmaurer commented on #4093
@mubarak could you share the heap dump ?

[2015-08-17 14:02] normanmaurer commented on #4020
@chrisprobst I'm not sure I understand the actual problem... Can you show a unit test that demonstrate the issue ?

[2015-08-17 14:04] normanmaurer commented on #4050
@maheshbabu1907 please use stack overflow for questions, this is for bug-reports only.

[2015-08-17 14:04] #4050 closed

[2015-08-17 14:04] #3986 closed

[2015-08-17 14:06] normanmaurer commented on #3962
I think we can close this now

[2015-08-17 14:06] #3962 closed

[2015-08-17 14:32] rkapsi commented on #4060
I'd argue "request scopes" and "session scopes" are higher level aspects of the HTTP protocol and my primary (only) motivation for this. Right now there's only "connection scope" (`ChannelHandlerContext` and `Channel`) which isn't very useful in the context of HTTP.

In my case, the downstream "client" is a Proxy/Load Balancer that uses connection pooling. The `#remoteAddress()` is meaningless and

[2015-08-17 15:20] chrisprobst commented on #4020
I'm actually on holiday (small laptop, no ide, no real internet etc.), but I will try to explain the problem.

- Status-quo:
 - Doc suggests closing ServerChannel + ChildChannels by using a ChannelGroup
 - Doc suggests adding ChildChannels to the ChannelGroup in their corresponding channelActive method
 - Docs says, this is enough to close everything

- Problem lies between accepting a channel and

[2015-08-17 15:48] Scottmitch commented on #3904
@grgvineet - Cool. Do you feel as though this is a generic fix, and if so would you mind submitting a PR?

[2015-08-17 17:16] Scottmitch commented on #4053
@blucas - Thanks for reporting, verifying the a fix, and providing the unit tests!

[2015-08-17 22:06] mubarak commented on #4093
@normanmaurer You can download the heap dump from https://drive.google.com/file/d/0BwPlSk8lfXo9WWZUNm4walFObVk/view?usp=sharing

[2015-08-17 22:44] Scottmitch commented on #4077
Fixed by https://github.com/netty/netty/pull/4078

[2015-08-17 22:44] #4077 closed

[2015-08-18 03:43] trustin commented on #4077
@Scottmitch Please make sure not to introduce a build breakage when you cherry-pick into 4.0 and 4.1

[2015-08-18 03:53] trustin commented on #4060
`HttpRequest/ResponseDecoder` already has an overridable `create*Message()` which allows you to use a custom message type. The problem is that `HttpObjectAggregator` does not allow @rkapsi to use a custom message type. We could add some protected method with default implementation and then all should be well?

[2015-08-18 05:09] trustin commented on #4020
@chrisprobst I agree this is a race condition. I didn't think deep on how we can fix this, but the easiest workaround is to shut down the event loop, which closes every single channel it manages.

[2015-08-18 05:26] Scottmitch commented on #4077
@trustin - I'm sorry. Will be more careful in the future. Thanks for cleaning up after my mess.

[2015-08-18 05:27] trustin commented on #4077
@Scottmitch No worries. I make the same mistake over and over. :-)

[2015-08-18 07:16] chrisprobst commented on #4020
Hi Trustin,

maybe we should consider creating a ChannelGroup, which remains closed. So every channel, which adds itself after the ChannelGroup has been closed, will also be closed during adding.

[2015-08-18 09:34] trustin commented on #4065
@rkapsi I've just pushed a major update related with `DnsNameResolver` which might fix this issue as well as other known issues. Could you please try again with the latest snapshot build?

[2015-08-18 09:46] trustin commented on #4065
@rkapsi I have just added a new test case for negative cache: ad0b7ca56db391248c95ff2c0e24793cc3a4d9d5 and it seems to work fine now.

[2015-08-18 09:56] trustin commented on #4074
Perhaps we could write new `NameResolver` implementations:

- `HostsFileNameResolver` that resolves host names from /etc/hosts and monitors its changes.
- `CombinedNameResolver` that tries one or more resolvers - `new CombinedNameResolver(new HostsFileNameResolver(), new DnsNameResolver())`
- ... and preferably a utility class that simplifies construction and composition of the resolvers, like:

[2015-08-18 09:59] trustin commented on #4074
Please refer to this page for the location of the host file for different OSes: https://en.wikipedia.org/wiki/Hosts_(file) (whoa!)

[2015-08-18 10:12] trustin commented on #4020
@chrisprobst That sounds like a good idea IMHO. Care to sign the [ICLA](http://netty.io/s/icla) and sending us a PR?  What do you think @normanmaurer ?

[2015-08-18 10:47] chrisprobst commented on #4020
I believe, I've already done die signing, but I'm not sure. Can I check this ?

About the PR: I could do the change when I'm back from my holiday ;) But maybe it's too close, after holiday I'm in Russia for a few days. Mid September sounds realistic.

The only problem is, that using this technique, the channel group will not be Lock-Free anymore, because IHMO we would need a Lock, since adding to

[2015-08-18 13:27] rkapsi commented on #4060
@trustin The challenge is that a request's scope spans from `HttpRequest`, `HttpContent` to `LastHttpContent`. My suggestion would be to add create methods for the latter two objects as well and possibly even pull that stuff into a factory if braking API isn't a problem.

As for the `HttpObjectAggregator`, yes that would work.

[2015-08-18 17:09] chrisprobst commented on #4020
Hey @trustin @normanmaurer ,

I've just thought about it a bit deeper. I think the ChannelGroup is not the best spot for solving this race condition. A closed ChannelGroup is messier than I first thought, how should other methods react to a closed state ?

Maybe we should follow the path of less resistance - just change the doc, so nobody will do the same mistake as me.

We could just enhance the

[2015-08-18 21:43] rkapsi commented on #4065
@trustin the attached Unit Test (see above) is now failing with:

[code]

[2015-08-19 02:58] trustin commented on #4065
#4099 should solve this problem fundamentally. Please review.

[2015-08-19 05:34] #4065 closed

[2015-08-19 09:12] BlueIceQ opened #4100 "missing io.netty.util.collection package in master branch"
hi:
    I git clone netty，and I find in master branch have no io.netty.util.collection package,but it used in other class.
![aaa](https://cloud.githubusercontent.com/assets/3064438/9352641/7a86d3ae-4695-11e5-9f9e-aa9cdaa474b1.jpg)

[2015-08-19 09:17] normanmaurer commented on #4100
These classes are generated by maven.

run "mvn clean package"

[2015-08-19 09:17] #4100 closed

[2015-08-19 09:54] BlueIceQ commented on #4100
first: mvn clean
![image](https://cloud.githubusercontent.com/assets/3064438/9353478/34e464aa-469b-11e5-90d2-e34f9aee5f1d.png)

but it has some exception:
/Library/Java/JavaVirtualMachines/jdk1.7.0_79.jdk/Contents/Home/bin/java "-Dmaven.home=/Applications/IntelliJ IDEA 14.app/Contents/plugins/maven/lib/maven3" "-Dclassworlds.conf=/Applications/IntelliJ IDEA 14.app/Contents/plugins/maven/lib/maven3

[2015-08-19 10:01] normanmaurer commented on #4100
You need to use at least maven 3.2.1.

[2015-08-19 13:12] trustin commented on #4100
Upgrading to os-maven-plugin 1.3.0.Final might solve the problem with low Maven versions, FYI

[2015-08-19 14:53] chrisprobst commented on #4020
Ok, to keep it simple:

[code]

This should be enough. Don't know if you @normanmaurer  @trustin  agree with style and stuff..

Regards,
Chris

[2015-08-19 20:20] normanmaurer commented on #3904
Fixed by https://github.com/netty/netty/pull/4101

[2015-08-19 20:20] #3904 closed

[2015-08-19 20:27] Scottmitch commented on #3904
Thanks @grgvineet !

[2015-08-20 02:59] BlueIceQ commented on #4100
Thanks!

[2015-08-20 03:04] BlueIceQ commented on #4100
![image](https://cloud.githubusercontent.com/assets/3064438/9374687/f8faba62-472a-11e5-97b6-0eeebc20c517.png)

pom.xml have some errors, how can i do?

[2015-08-20 03:31] trustin commented on #4100
It's safe to ignore it.

[2015-08-20 03:44] wumo opened #4110 "Internal MpscLinkedQueue hangs on high frequency operations"
Netty version: 4.0.30.Final

Context: when I write some benchmark codes to compare MpscLinkedQueue impmented in Netty internal with the one in JCTools, I find MpscLinkedQueue in Netty hangs on high frequency operations(add/peek/poll).

code to reproduce:
[code]

Microsoft Windows [Version 10.0.10240]
(c) 2015 Microsoft Corporation. All rights reserved.

C:\Users\wumo>java -version
java version "1.

[2015-08-20 04:07] BlueIceQ commented on #4100
Thanks!

[2015-08-20 07:00] lik001 commented on #2560
@normanmaurer  Could you give a example of using DefaultChannelHandlerInvoker relating to hartprince's codes?

[2015-08-20 07:50] grgvineet opened #4116 "Decryption failed or bad mac record in Android 5.0"
Netty version : from 4.0.26 onwards

Context : SSL client from Android device

While using SSL client in Android 5.0, an exception is thrown stating that decryption failed or bad mac record. The issue is only with Android 5.0 and not with any other version. It might be a bug in internal library of Android, but this exception is only encountered from Netty 4.0.26 onwards. For versions earlier than

[2015-08-20 09:09] wumo commented on #4110
The thread dumps shows below:
[code]
3 of the 4 threads are running on peekNode(MpscLinkedQueue.java) method. maybe the peekNode() has some problem.

[2015-08-20 09:33] normanmaurer commented on #4110
@trustin will you check or should I take care ?

[2015-08-20 16:59] normanmaurer commented on #4116
@grgvineet will check

[2015-08-20 20:11] #4091 closed

[2015-08-21 02:30] Scottmitch opened #4118 "LocalChannel sequencing issue leading to HTTP/2 unit test failure"
There is a sequencing issue in LocalChannel that is resulting in a unit test failure as picked up on the CI server [Http2ConnectionRoundtripTest.noMoreStreamIdsShouldSendGoAway](https://garage.netty.io/teamcity/viewLog.html?buildId=593&tab=buildResultsDiv&buildTypeId=netty_build_oraclejdk7).

I have a PR pending approval.

[2015-08-21 04:00] #3886 closed

[2015-08-21 04:21] trustin commented on #4110
@normanmaurer Please take care. Stuck with other stuff at the moment.

[2015-08-21 05:13] trustin commented on #4020
@chrisprobst Yeah, you've signed the ICLA on 4/30/2015 0:56:11. Thanks for the heads up.

Re: The proposed change - LGTM. You are gonna incorporate the change into DefaultChannelFutureGroup, right?

[2015-08-21 05:28] trustin commented on #4040
Gentle ping to @taojiaenx. We are curious to know what the root cause was.

[2015-08-21 05:35] trustin commented on #3565
Please reopen when more information is available.

[2015-08-21 05:35] #3565 closed

[2015-08-21 05:35] trustin commented on #3884
@Scottmitch Please go ahead. We can't wait forever.

[2015-08-21 05:38] trustin commented on #4057
IIRC this has been resolved in 4.1 via the introduction of `MessageAggregator`.

[2015-08-21 05:40] trustin commented on #4055
It should connect to `proxy:8080` rather than `proxied:443` as you said. Do you observe a different behavior?

[2015-08-21 05:48] trustin commented on #2302
![bad taste to bad taste](https://cloud.githubusercontent.com/assets/173918/9402078/b539fe0c-4813-11e5-8e2e-9be76ef65009.png)

[2015-08-21 05:52] #4095 closed

[2015-08-21 06:01] normanmaurer commented on #4110
@trustin will do... this sounds like a critical bug.

[2015-08-21 06:09] #4079 closed

[2015-08-21 06:49] mubarak commented on #4093
@normanmaurer did you get a chance to take a look at heap dump? thanks for the help

[2015-08-21 07:39] normanmaurer commented on #4093
@mubarak sorry not yet... Will try today.

[2015-08-21 08:50] gfrison commented on #4055
Hello,

I see that it connects correctly to the proxy but at the end it open a direct connection to the proxied, without sending anything, but since the proxied is not mapped I got a DNS error (UnresolvedAddressException), this is why I noticed this behaviour.
Is there something I could do for avoiding this problem?

Thank you,

[2015-08-21 09:10] chrisprobst commented on #4020
@trustin Hi, I'm confused. Why the DefaultChannelFutureGroup? I'm not sure how to do fix the RC there.
IMHO, we have 2 choices. Change the DefaultChannelGroup (bad, because for compatibility), or create a new ChannelGroup based on the DefaultChannelGroup and let it be closable only once.

[2015-08-21 10:20] normanmaurer commented on #4093
@mubarak what resource leak detection level you use ?

[2015-08-21 12:54] trustin commented on #4020
Ugh, I meant incorporating the change into `DefaultChannelGroup`.

[2015-08-21 12:57] chrisprobst commented on #4020
I certainly would, but it would change the semantics of the DefaultChannelGroup. You couldn't reuse a ChannelGroup after it is closed.

_Is this expected ?_

[2015-08-21 13:03] trustin commented on #4020
If that's the only way to solve the race condition, I think that's fine. To be honest, I haven't thought people would reuse it.

[2015-08-21 13:06] chrisprobst commented on #4020
IMHO its the only option, if you want to be lock-free. Something like a reset button would definitely require locks. And a locked channel group... meh. We could add a specification parameter at construction time like (stay closed) other similar.

I will prepare a pull request with the changes (including doc).

[2015-08-21 16:22] Scottmitch commented on #4057
@trustin - Oops forgot to close this. This was fixed by https://github.com/netty/netty/pull/4083 for 4.0 and https://github.com/netty/netty/pull/4089 for 4.1 / master.  The `MessageAggregator` still did not handle this condition prior to #4089.

[2015-08-21 16:22] #4057 closed

[2015-08-21 16:23] Scottmitch commented on #3884
@trustin - Will do :)

[2015-08-21 16:41] #4087 closed

[2015-08-21 16:53] trustin opened #4120 "HttpUtil and HttpHeaderUtil naming and consolidation"
Now I see two `HttpUtil` classes in our source tree; one in codec.http and the other in codec.http2.

Would it be better renaming `http2.HttpUtil` to `Http2Util` to be less confusing?

I also see `HttpHeaderUtil` in codec.http which may be better getting merged into `HttpUtil`. Does it make sense, or is it better as it is?

/cc @Scottmitch @nmittler @normanmaurer

[2015-08-21 17:05] mubarak commented on #4093
@normanmaurer we do use `-Dio.netty.leakDetectionLevel=paranoid`

[2015-08-21 17:07] normanmaurer commented on #4093
@mubarak that is most likely the problem... Try to reduce this by using the default.

[2015-08-21 17:45] Scottmitch commented on #4120
@trustin -
`http2.HttpUtil` is named this way because it is all HTTP/1.x specific stuff. I'm not sure if we should change this.
`http.HttpHeaderUtils` is very specific to headers with the exception of 2 methods: `encodeAscii0` (why don't we use `ByteBufUtil.writeAscii`) and `c2b` which is private and only used by `encodeAscii0`.
`http.HttpUtil` - I recently added this for a few URI methods (becaus

[2015-08-21 17:51] Scottmitch commented on #3655
I will close this for now. #4038 addresses most of the issue...if there are other specific suggestions lets track in a new issue.

[2015-08-21 17:51] #3655 closed

[2015-08-21 17:51] Scottmitch commented on #4018
@trustin @buchgr - I think the performance issue has been addressed. Is there still interest in this, or should we close it?

/cc @normanmaurer

[2015-08-21 17:54] normanmaurer commented on #4018
I think we can close

[2015-08-21 18:02] buchgr commented on #4018
no interest into looking into this :smile: . I vote for closing ;-).

[2015-08-21 18:02] buchgr commented on #3655
thanks! great work @Scottmitch

[2015-08-21 18:02] Scottmitch opened #4121 "HttpHeaders 4.1 deprecation and consistency with master"
The master branch has a unified class hierarchy for headers.  When this work was back-ported (PR https://github.com/netty/netty/pull/3074) we agreed to change APIs for everything but HttpHeaders/DefaultHttpHeaders (see https://github.com/netty/netty/pull/2908#issuecomment-59883796) for backwards compatibility reasons.  Recently some major rework was done to rectify performance issues, and the disc

[2015-08-21 18:03] Scottmitch commented on #4018
Me too. that seems like a majority. Feel free to re-open if you want to take this on @trustin :)

[2015-08-21 18:03] #4018 closed

[2015-08-21 20:11] idelpivnitskiy opened #4124 "[HTTP/2] outbound frames doesn't send to the kept clients"
[Aerogear WebPush Server](https://github.com/aerogear/aerogear-webpush-server) is an implementation of the [WebPush Protocol](http://tools.ietf.org/html/draft-thomson-webpush-http2-02) specification and it's built atop netty-codec-http2.

The problem is in [section 6](http://tools.ietf.org/html/draft-thomson-webpush-http2-02#section-6) of WebPush Protocol.
WebPush Server [saves a client context](h

[2015-08-21 21:20] Scottmitch commented on #4124
Hey @idelpivnitskiy - I commented on your PR https://github.com/aerogear/aerogear-webpush-server/pull/15. Would you be able to describe the problem in terms of the HTTP/2 spec, or where you are seeing unexpected behavior from Netty?  I'm a bit strapped for time :(

@danbev - can you help do a bit more digging?  Seems like you are the primary contributor to the aerogear project.

[2015-08-21 21:50] mubarak commented on #4093
@normanmaurer its been running quite with `-Dio.netty.leakDetectionLevel=simple`

Any idea when will 4.1 Beta6 will be released? we are using 4.1 Beta5 and seems like some important fixes are committed after Beta5.

[2015-08-21 23:48] CodingFabian opened #4125 "Netty Handler-proxy could use a factory"
Dear Netty people,

adding Proxy support to a netty client is really easy. However I needed this piece of code. Do you think that this is common and should be part of netty? Feel free to take it :-)

PS: the use case is clear, right? Many tools will expose proxy settings as configuration, so everybody needs to parse it then somehow

    public class ProxyFactory {

      public static ProxyHandler

[2015-08-22 01:01] trustin commented on #4018
Same here. Great that it turned ou we didn't have to go this route!

[2015-08-22 01:20] trustin commented on #4120
Thanks for explanation about `http2.HttpUtil`. How about:

- merging HttpHeaderUtils to HttpUtil
- renaming http2.HttpUtil to HttpConversionUtil then?

[2015-08-22 01:21] trustin commented on #4120
Re: `encodeAscii0()` - it's there because we couldn't find a better place IIRC. `ByteBufUtil` could be a better place if anyone is interested in using it though.

[2015-08-22 01:23] trustin commented on #4125
Yeah, such a factory method would be useful for sure. Care to send a pull request?

[2015-08-22 01:53] trustin commented on #4121
The original policy was the semantic versioning, as detailed in http://semver.org/ I thought it's too strict about deprecation and the removal of the deprecated API, so I changed the deprecation policy, but the basic principle remains same. e.g. 4.1.x JAR should be a drop-in replacement of 4.0.x JAR as long as a user did not use the deprecated API, did not use our API in an unusual way, and did no

[2015-08-22 02:01] trustin commented on #4028
Thank you very much for the discussion, @NiteshKant. Obviously I am too busy these days.

[2015-08-22 03:35] idelpivnitskiy commented on #4124
@Scottmitch I've debugged it and found out the reason of the problem. After that I had tracked changes of 4.1.0.Beta5 version and I understood, that it is not a bug :) Apologize for the noise!

For the version 4.1.0.Beta5, according to #3712, I need to call `client.ctx.flush()` after all writes to the channel:
https://github.com/idelpivnitskiy/aerogear-webpush-server/blob/4.1.0.Beta6-SNAPSHOT/serv

[2015-08-22 04:18] normanmaurer commented on #4121
+1

[2015-08-22 05:19] normanmaurer commented on #4125
+1

[2015-08-22 06:04] danbev commented on #4124
Sounds like the issue might have been solved already. If not, let me know
and I'll be happy to help out. Will be more active now after a few weeks of
catching up with everything.

fredag 21 augusti 2015 skrev Scott Mitchell <notifications@github.com>:

[2015-08-22 09:07] CodingFabian commented on #4125
ok, cool I will beautify and document this and send a PR

[2015-08-22 09:12] normanmaurer commented on #4125
<3

[2015-08-22 14:21] Scottmitch commented on #4121
`SpdyHeaders` changed. As you said I think this is no longer experimental any more?  Does the fact that no one has complained mean anything?

This sounds reasonable. The documentation approach was to deprecate, and indicate rational (new methods were linked when existed, or an indication that it will no longer be supported in future releases). See [HttpHeaders](https://github.com/netty/netty/blob/

[2015-08-22 14:48] Scottmitch commented on #4124
Yes writes now require explicit flush calls (for performance / separation of concerns).  Http2ConnectionHandler has a few trigger points that trigger flushes behind the scenes:
[readComplete](https://github.com/netty/netty/blob/master/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L469)
[writabilityChanged](https://github.com/netty/netty/blob/master/codec-http2/

[2015-08-22 14:48] #4124 closed

[2015-08-22 14:51] Scottmitch commented on #4120
@trustin - That sounds good. I will pull together a PR.

@nmittler - Any objection?

[2015-08-22 15:31] Scottmitch commented on #4120
@trustin - It looks like there is a "duplicate" copy of `encodeAscii0` in 4.1 in [HttpHeaders](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpHeaders.java#L1160) introduced by 7f57c5ed that is not doing the `?` character substitution. I have removed this to make sure everyone is using the `encodeAscii0` in `HttpUtil` (which looks what 4.0 is doing)

[2015-08-22 15:37] Scottmitch commented on #4120
@normanmaurer ^^ WDYT about the `?` character substitution?

[2015-08-23 05:47] trustin commented on #4120
@Scottmitch I think we need `?` substitution whenever we convert a string into an ASCII string. If we didn't do that anywhere, it sounds like a bug to me.

[2015-08-23 18:54] ninja- opened #4127 "epoll - random timeouts"
this has been an issue for years and so far no one investigated....

there's an issue that connections do not get channelInactive() called after someone quits or they timeout or even worse, the connection stays forever and cannot be closed!

it CAN be reproduced every time

the application related is https://github.com/SpigotMC/BungeeCord with an epoll switch - the behaviour change is clearly visi

[2015-08-23 19:07] ninja- commented on #4127
checking if backporting 22cea8a2cc7c3082478f214876e8d06161307c59 fixes the problem

[2015-08-23 20:43] ninja- commented on #4127
a normal session, doing a server ping:

[pid  6100] 22:45:04 accept4(71, {sa_family=AF_INET, sin_port=htons(49905), sin_addr=inet_addr("89.77.136.139")}, [16], SOCK_CLOEXEC|SOCK_NONBLOCK) = 72
Process 6172 attached
[pid  6100] 22:45:04 accept4(71, 0x755d901252a0, [128], SOCK_CLOEXEC|SOCK_NONBLOCK) = -1 EAGAIN (Resource temporarily unavailable)
[pid  6172] 22:45:04 close(73)          = 0
22:45:04 [

[2015-08-23 20:46] ninja- commented on #4127
a broken close() example() (starting EXACTLY when I close my connection client-side)

 Process 6696 attached
[pid  6696] 22:46:21 close(72Process 6751 attached
 <unfinished ...>
[pid  6751] 22:46:32 --- SIGSEGV {si_signo=SIGSEGV, si_code=SEGV_MAPERR, si_addr=0x8} ---
[pid  6751] 22:46:32 close(72)          = 0
[pid  6093] 22:46:42 close(72)          = 0
[pid  6093] 22:46:42 close(72)          = 0

[2015-08-23 21:02] ninja- commented on #4127
the syscalls are looking quite the same without epoll but close() never hangs!

[2015-08-23 21:28] ninja- commented on #4127
a more detailed trace(exactly when quitting)

23:28:30 [INFO] Command not found

[pid 10465] 23:28:40 close(72
23:28:49 [INFO] Command not found

 <unfinished ...>
[pid 10517] 23:28:56 close(72)          = 0

[pid 10465] 23:29:04 <... close resumed> ) = 0

[pid 10465] 23:29:04 +++ exited with 0 +++
Process 10591 attached
23:29:04 [INFO] channelInactive: [id: 0x3f672170

23:29:04 [INFO] [Player] ->

[2015-08-23 21:48] ninja- commented on #4127
@normanmaurer disabling so_reuseaddr has reduced the probability of a bugged connection by 80%. I think I am on a right track :)

[2015-08-23 22:55] ninja- commented on #4127
[FIX] The problem can be fixed by disabling SO_LINGER

[img]http://memeorama.com/wp-content/uploads/2012/02/FEELS-GOOD-MAN-GOAT-300x225.jpg[/img]

[2015-08-23 23:33] ninja- commented on #4127
[FIX] The problem has been identified and fixed to match NIO behaviour!

https://github.com/ninja-/netty/commit/5795c866c6d2462eff175306c039e9a5e163e279

[2015-08-23 23:43] trustin commented on #4127
@normanmaurer Could you take a look?

[2015-08-24 03:08] normanmaurer commented on #4127
Yes will do

[2015-08-24 03:25] normanmaurer commented on #4127
@ninja- can you tell me what config options your app use related to SO_LINGER ?

[2015-08-24 03:29] ninja- commented on #4127
@normanmaurer haven't used SO_LINGER but it would get overrided anyway since I used IP_TOS and it triggers setTrafficClass which incorrectly passes it's value as a so_linger value it makes 0 sense and is clearly a bug

[2015-08-24 03:38] ninja- commented on #4127
ok @normanmaurer I know where this is going haha look closely at this piece of code what a coincidence  :D

[2015-08-24 03:39] ninja- commented on #4127
https://github.com/ninja-/netty/blob/5795c866c6d2462eff175306c039e9a5e163e279/transport-native-epoll/src/main/c/io_netty_channel_epoll_Native.c#L1219

these two functions are "just" swapped :laughing:

[2015-08-24 13:15] normanmaurer commented on #4127
@ninja- thanks!

[2015-08-24 13:41] rkapsi opened #4130 "No new nightly builds since August 8?"
It appears there haven't been any new nightly builds since August 8. Is that intentional?

http://clinker.netty.io/nexus/content/repositories/snapshots/io/netty/netty-all/4.1.0.Beta6-SNAPSHOT/

[2015-08-24 14:48] nmittler commented on #4120
@Scottmitch @trustin this SGTM

[2015-08-24 20:50] rkapsi opened #4131 "PlatformDependent.throwException() with null argument takes down the JVM"
I'm not sure if it's a bug or feature but it's certainly not easy to debug.

Netty 4.1.0-Beta6-SNAPSHOT

[code]

[2015-08-24 22:25] Scottmitch commented on #4131
@rkapsi - Is `PlatformDependent.throwException(null)` called from Netty code, and if so do you know where from?

[2015-08-24 22:29] Scottmitch commented on #4130
That may be right around the time the new build system showed up https://garage.netty.io/teamcity/overview.html.  @trustin - any ideas?

[2015-08-24 22:30] rkapsi commented on #4131
@Scottmitch no, not from Netty code. It was some code I wrote and one can argue it was my own fault (given the nature of that class) but I wish it'd have failed more gracefully.

[2015-08-24 22:30] Scottmitch commented on #4120
@trustin - Standby for PR with fix.

[2015-08-24 23:26] Scottmitch commented on #4131
@rkapsi - Humm I guess at least in the case of unsafe we should ensure the language specification is honored:

http://docs.oracle.com/javase/specs/jls/se8/html/jls-14.html#jls-14.18

@trustin @normanmaurer - WDYT?

[2015-08-24 23:38] Scottmitch commented on #4131
I have a PR pending for this.

[2015-08-25 03:18] trustin commented on #4131
+1. Thanks for taking care.

[2015-08-25 03:29] ninja- opened #4133 "CompositeByteBuf.getBytes() [toComponentIndex()] slow?"
Am I correct that there is a noticeable overhead?
Is there a room for improvement?

What I am trying to do is balance between trying to do stuff 100% zerocopy and ability to grow the packet buffer in _some_ cases before sending it back.
(the use case is that at decoder level a buf is created: CompositeByteBuf[a slice from input stream, a new small buffer] and I am evaluating whether this is a perf

[2015-08-25 03:35] trustin commented on #4133
Yes, it's slow, mainly because it performs a binary search to find the right component.  Maybe we could improve its performance to some extent, but it's probably better just staying away from it when you need to access the content of the buffer.

Alternatively, you could get the component from the composite buffer and access it in lieu of accessing the composite buffer. This will remove the binary

[2015-08-25 03:37] trustin commented on #4130
Yes, Clinker has been acquired by CloudBees and they are shutting down their services. We are now publishing our nightly builds to oss.sonatype.org only. Sorry for your inconvenience. Let me update the web stie.

[2015-08-25 03:37] #4130 closed

[2015-08-25 03:42] ninja- commented on #4133
(updated description)

@trustin I started from a decoder that always did in.copy() looking for possible improvement. As I mentioned in updated description I sometimes need to grow the buffer. Is in.copy() that bad[the input is a slice from a frame decoder]?

I am asking because it feels like everything I do to the app, rewriting it to use best conventions etc., all the decoders encoders buffers, u

[2015-08-25 03:50] caipanjin commented on #3319
I got the same problem, is there any solution for it?

[2015-08-25 03:51] Scottmitch commented on #4133
@ninja- - What type of profiling have you done? If you can share the results of profiling your application we may be able to see what the netty hot spots are. A few questions:

- `all the decoders encoders buffers` - what do you mean by this?
- When you say `doesn't impact the CPU usage at all`, do you mean you are consistently saturated?  By using EPOLL does your throughput (or other metrics chan

[2015-08-25 03:59] ninja- commented on #4133
@Scottmitch I turned the profiler on today and I am currently waiting for load(players) to come, but the CompositeByteBuf.getBytes() is clearly a one [in.copy() vs CompositeByteBuf.getBytes() - what would create less load in total?]

Maybe not profiling but looking at process cpu usage with the same count of active connections. It didn't quite change after optimizing to the max all the decoders, e

[2015-08-25 04:14] Scottmitch commented on #3319
@caipanjin @lumone - Any chance you have a reproducer? What version of Netty, java, are you using NIO or epoll, SSL, etc..?

@jiangguilong2000 - Sorry we haven't been able to nail this down.  Have you tried updating your version of Netty?

[2015-08-25 04:38] Scottmitch commented on #3319
need I add some code as channel.isWritable() before channel.writeAndFlush(msg) ?

@jiangguilong2000 - If the channel is not writable (depending on the transport mechanism) this can mean the peer is not reading fast enough for the amount of data you are generating.  A side effect of not checking `isWritable` can be memory pressure.  You can get notified of state changes via [channelWritabilityChang

[2015-08-25 05:01] Scottmitch commented on #4133
Just curious what profiler are you using, and do you have a way to simulate player load?

You mean that the kernel is using a higher percentage of CPU than user space?

So you have some custom JNI code somewhere in the mix?  What does the interface look like over the JNI boundary (are you passing pointers to direct buffers, or copying data)?

I think in general we should re-evaluate after you have

[2015-08-25 05:08] ninja- commented on #4133
@Scottmitch

1.visualvm over jmx but I am struggling to get anything useful from it...
2.probably. in this theory the overhead of the proxy application is really small and the 200-300% process cpu is created primarily from read/write syscalls.
3. regarding jni - yes, that's direct buffers + zerocopy. I have recently removed cipher from the pipeline anyway so it's not that relevant.
https://github.

[2015-08-25 05:21] caipanjin commented on #3319
@Scottmitch I use Netty 4.0.24.Final. OpenJDK 1.7.0_09-icedtea. I just use NIO and use StringDecoder and StringEncoder.
I think maybe this issue may  be related to
https://github.com/netty/netty/pull/3203

[2015-08-25 05:28] caipanjin commented on #3319
I use jmap -histo:live to check the heap info, and it print as follows:
   1:       1698512      108704768  io.netty.channel.ChannelOutboundBuffer$Entry
   2:       3327974      106495168  io.netty.util.Recycler$DefaultHandle
   3:       1629446       65177840  io.netty.channel.AbstractChannelHandlerContext$WriteAndFlushTask
   4:        105105       17184336  [Lio.netty.util.Recycler$DefaultHandl

[2015-08-25 05:29] Scottmitch commented on #4133
@ninja-

If you are using Oracle's JVM try [mission control](http://www.oracle.com/technetwork/java/javaseproducts/mission-control/java-mission-control-1998576.html). Much easier to remotely profile.

I'm not a JNI expert but according to the [JNI spec](https://docs.oracle.com/javase/1.5.0/docs/guide/jni/spec/functions.html#wp9502) for `GetByteArrayElements` says: `the returned array may be a copy

[2015-08-25 05:42] ninja- commented on #4133
@Scottmitch don't worry about GetByteArrayElements, it's used only when cipher is initiated to load the key.
https://github.com/SpigotMC/BungeeCord/blob/master/native/src/main/java/net/md_5/bungee/jni/cipher/NativeCipher.java#L38 <- native cipher logic with a proof of being zerocopy and direct buffers

regarding the profiler Scott, I have kinda confirmed my theory. The proxy's logic is such a tiny

[2015-08-25 05:45] normanmaurer commented on #3319
Let me have a look

[2015-08-25 06:04] normanmaurer commented on #3319
@jiangguilong2000 did you upgrade netty as there was a fix that is part of netty 4.0.25.Final

[2015-08-25 06:34] lumone commented on #3319
I can't remember what the context was for reproducing this or what I did to unstuck myself but FWIW I'm using 4.0.25.Final, OpenJDK Runtime Environment (IcedTea 2.5.5) (7u79-2.5.5-0ubuntu0.14.04.2) and NIO.

[2015-08-25 06:37] Scottmitch commented on #4133
@ninja- - Would you mind sharing a screen shot of your results?

[2015-08-25 06:40] Scottmitch commented on #4133
Have you tried mission control like I suggested https://github.com/netty/netty/issues/4133#issuecomment-134481898? Overhead is much smaller than visualvm and easier to run remotely.  There is even a getting started video on the site I linked.

[2015-08-25 06:41] Scottmitch commented on #3319
@caipanjin - As you indicated there was a PR that went into 4.0.25.Final related to this issue. Can you try to update and report back?

[2015-08-25 06:41] Scottmitch commented on #3319
@lumone - Thanks for your feedback.  When you originally reported the issue where you using an older version of Netty?

[2015-08-25 06:48] jiangguilong2000 commented on #3319
@Scottmitch @normanmaurer I use the version about netty-all-4.0.26.Final

[2015-08-25 06:55] lumone commented on #3319
Hmmm .. I'm fairly certain I was using 4.0.25 as stat'ing the file reveals:
*Change: 2015-03-26 18:22:30.569115408 +0200*
I think I upgraded to the stated OpenJDK version upon dealing with this issue as it's stat reveals the same date as my initial comment:
*Change: 2015-04-23 09:50:49.593794850 +0200*
I'm fairly certain it was reproduceable in both JDK versions.

[2015-08-25 06:57] ninja- commented on #4133
@Scottmich I'll try mission control but I am having some problems with jmx roles. I need to find out which role would work because readwrite doesn't.

[2015-08-25 07:40] ninja- commented on #4133
@Scottmitch I reminded myself of a great tool to fully simulate the load. I'll try to get some data today, without testing on production. Then we can evaluate if there is _any_ point in optimizing bungee internals because if every part of logic is a tiny bit of what read/write takes, there's none. (to repeat the question, are read/write syscalls making the actual load?)

[2015-08-25 08:33] caipanjin commented on #3319
I update the Netty version to 4.0.30.Final and test again. After running for a while and disconnecting all the clients.jmap -histo:live shows as follows:
 num     #instances         #bytes  class name
----------------------------------------------
   1:       4159160      166366400  io.netty.channel.AbstractChannelHandlerContext$WriteAndFlushTask
   2:       4159184      133093888  io.netty.util.R

[2015-08-25 09:13] normanmaurer commented on #3319
@caipanjin this looks more like you are just writing to fast, which means faster as the clients can handle it. You need to ensure you stop writing once isWritable() returns false and start again once it returns true.

[2015-08-25 09:37] caipanjin commented on #3319
@normanmaurer Is that means calling channel.writeAndFlush(msg) directly is not correct to avoid this situation? BTW, is calling the same method in ChannelHandlerContext needs to do the same thing?

[2015-08-25 10:40] caipanjin commented on #3319
@normanmaurer I close all the clients and just let one client connect to the server and the server is not write very fast.I thought in this situation the channel should be writable.However，the count of WriteAndFlushTask and DefaultHandle in heap is still increased . I don't know if I have described the problem clearly.Here is the heap info below:

run the first time:
 num     #instances         #b

[2015-08-25 13:24] ninja- opened #4134 "io.netty.channel.ChannelOutboundBuffer$Entry weird behaviour"
Is it possible that a netty upgrade could cause these to start leaking? the netty leak detector doesn't show anything(paranoid mode), the refcnt on these 'leaked' buffers is 0. The only handle is at the Recycler.

[code]

+ the RES of process 6gb and constantly growing

[2015-08-25 13:26] normanmaurer commented on #4134
@ninja- upgrading from which version ? Also could you provide the heap dump for inspection ?

[2015-08-25 13:28] ninja- commented on #4134
@normanmaurer I had problems loading smaller heap dumps and this one would take around 10gb...is there a better way to istolate the issue?

4.0.24.Final, without thinking about it I increased the version to .30

[2015-08-25 13:32] normanmaurer commented on #4134
@ninja- if you could provide a small reproduce it would help. I'm not sure if it's an issue at all without more details. We start pooling Entry with netty 4.0.22.Final:

https://github.com/netty/netty/issues/2693

So I think I would need more infos or a reproducer to look into it.

[2015-08-25 13:34] ninja- commented on #4134
but why would you pool 4m buffers? before afaik after I removed players and forced gc the memory usage was down to just 10M without any buffers. Now it holds to ~ 1 GB in such test.

[2015-08-25 13:36] normanmaurer commented on #4134
@ninja- like I said it may be a bug.... the problem is without a reproducer / more infos it is hard for me to even get an idea where to look. What for example could help is have your upgrade version by version and let me know in which version it starts.

Would this be possible ?

[2015-08-25 13:37] ninja- commented on #4134
yes I'll try to reproduce it without getting it on production. is there any useful debugging option for the recycler?

[2015-08-25 13:40] normanmaurer commented on #4134
@ninja- you could try to use `-Dio.netty.recycler.maxCapacity=10000` for example. This should set the maximal capacity for each thread to 10000.

How many threads are you using that do allocations of buffers ?

[2015-08-25 13:41] ninja- commented on #4134
the thread count is default, 2*cpu, I'll try the maxcapacity option

[2015-08-25 13:42] normanmaurer commented on #4134
@ninja- how many cores we are talking here ?

[2015-08-25 13:44] ninja- commented on #4134
6-cores 12 with ht

[2015-08-25 13:47] normanmaurer commented on #4134
which means the max could be:

12 (cores) * 2 *  262144 (this is the default capacity per thread of the recycler elements)  = 6291456

[2015-08-25 13:48] ninja- commented on #4134
soo it's not a bug? but clearly a change in behaviour that I don't like because the resources are shared with other apps

[2015-08-25 13:51] normanmaurer commented on #4134
Yeah I think so... Can you try the system property and let me know if this help?

[2015-08-25 13:53] ninja- commented on #4134
it would take a while to get it on production because I don't want to restart. But I'll let you know the result.

[2015-08-25 16:46] Scottmitch commented on #4133
Before we optimize anything lets focus on the profiler results. Please provide a FlightRecorder file or something similar so we can help.

Profiling native methods and system call execution time in java can be tricky, and some tools don't support this or require explicit configuration to enable it.

[2015-08-25 19:11] normanmaurer commented on #4110
Sorry was very busy over the last days. Will try to work on it tomorrow first

[2015-08-26 05:39] ninja- commented on #4134
@normanmaurer ok I got the setting on production we'll see if it helps

[2015-08-26 05:51] ninja- commented on #4134
@normanmaurer could you tell me if doing setAutoRead(false) before closing a channel could cause this leak(so it would mean it's my fault)?

currently I...
1. downgraded netty on prod. system 1
2. added maxcapacity on prod system 2

[2015-08-26 05:58] normanmaurer commented on #4134
@ninja- no it can not cause a leak.

[2015-08-26 06:00] ninja- commented on #4134
ok now I checked what exactly is ChannelOutboundBuffer$Entry. it's a buffer scheduled to be written to outbound channel but never kinda written?

[2015-08-26 06:01] normanmaurer commented on #4134
@ninja- yes... it is what was written via `channel.write(...)` but was not "flushed" out of the socket yet.

[2015-08-26 06:05] ninja- commented on #4134
clearly a regression  from netty4-final24 :( I think I would have a clear confirmation within a next hour or so(comparing two systems). I am working on a traffic simulator to test it outside of prod.

[2015-08-26 06:14] Scottmitch commented on #4134
@ninja- - Can you describe you scenario more and perhaps provide a reproducer?  I don't see much info we can use to help debug the issue.

- What are the trigger points in your application where you call `flush`? This could be a `writeAndFlush` call too.
- Are you taking into account `channel.isWritable()`? Based on your description it may be the case that the peer you are writing to is either not

[2015-08-26 06:16] ninja- commented on #4134
@Scottmich the problem started happening after netty upgrade, flush() is called
1. before closing the channel
2. when writing a packet always writeAndFlush is used (a packet is not written if channel.isWritable() returns false, and the "water marks" are set)

and it stays after all clients have disconnected...

[2015-08-26 06:35] caipanjin commented on #4134
It seems that Recycler didn't recycle the DefaultHandle even though the channel has been closed.I have the similar problem maybe related to it: https://github.com/netty/netty/issues/3319

[2015-08-26 06:37] normanmaurer commented on #4134
@ninja- we are not saying its not a bug I just try to get a better idea where to look and a reproducer would help a lot as I was not able to reproduce the problem here.

[2015-08-26 06:38] ninja- commented on #4134
@caipanjin I don't think the reason is https://github.com/netty/netty/commit/a9fda3c8e0b20a1a3da0353c033cb57be7ad49b2 because it is since final25 and we both had "this" problem on final24 and final30

[2015-08-26 06:39] ninja- commented on #4134
RELATED: #3166

[2015-08-26 06:45] normanmaurer commented on #4134
@ninja- I'm not sure this is related...

[2015-08-26 06:52] caipanjin commented on #4134
@caipanjin We also found this problem when we use final24, and we have tried to update to final30. So I thought this is related.

[2015-08-26 07:13] ninja- commented on #4134
@normanmaurer I created a testcase package on pc: bungee, spigot, snakebot. Now I am trying to push the ChannelOutboundBuffer count but it can't reach more than 10...

[2015-08-26 07:52] ninja- commented on #4134
@normanmaurer so I am running 100 bots and the $Entry count isn't increasing, it's still less than 10...where could the problem be?

[2015-08-26 07:53] normanmaurer commented on #4134
@ninja- I don't know that is why I'm struggling to help here :(

Maybe it only happens when the remote peer dies or is slow. Just guessing here though

[2015-08-26 08:04] ninja- commented on #4134
@normanmaurer good news it seems like I isolated the case :) it 'keeps' them when a remote peer joins and I see it increases and stays after this. where do we go from there?

[2015-08-26 08:05] normanmaurer commented on #4134
@ninja- what you mean with remote peer joins ?

[2015-08-26 08:13] ninja- commented on #4134
@normanmaurer hm I am working to make this reproducable every time but it seems a bit random. :( I got it to 1000 5 minutes ago(stressing with slow peers + 100 bots) but now it's hard to increase.

[2015-08-26 08:22] ninja- commented on #4134
hell @normanmaurer after long tries it triggered going to infinity by itself...
once triggered, it would I think leak one for every send packet _for a triggered connection_

  40:           203          12992  io.netty.channel.ChannelOutboundBuffer
   4:        212588       13605632  io.netty.channel.ChannelOutboundBuffer$Entry
   3:        425286       13609152  io.netty.util.Recycler$DefaultHand

[2015-08-26 08:25] normanmaurer commented on #4134
@ninja- I'm really trying to help here but I'm not sure I understand what exactly you did to have it triggered. Can't you share your reproducer and tell me how I can run it myself ?

[2015-08-26 08:33] ninja- commented on #4134
@normanmaurer sure I can share the package, thanks for all your help :)
the package consists of

1. bungeecord
2. spigot instance
3. snakebot
4. configurations for all these apps
4. a script which prints current $Entry count from jmap every second

(I'll mail you the stuff)
but it needs a Minecraft client to connect to the snakebot. I would guess you don't have the game bought? In that case I'll t

[2015-08-26 08:42] normanmaurer commented on #4110
@wumo actually this is a bug in our javadocs. peek() MUST only be used by a single consumer to work correctly. Let me fix it.

The only methods that are safe to call from multiple threads are:
 - offer(...), add(...), addAll(...), isEmpty()

[2015-08-26 08:43] normanmaurer commented on #4134
@ninja- I don't have minecraft and never played it actually ;)

[2015-08-26 08:44] ninja- commented on #4134
@normanmaurer yeah that's why I am working to isolate the problem so it doesn't need a client to test :(

[2015-08-26 09:11] ninja- commented on #4134
I feel that what I reproduced on .24 was a bug that @trustin fixed in .25.
The problem was occuring both on .24 and on .30 on production and I am struggling to reproduce _something_ in testing env while on netty .30

[2015-08-26 09:23] ninja- commented on #4134
@normanmaurer let's _assume_ there is no such problem in .30 and just the default max cache is too big ?

[2015-08-26 09:25] normanmaurer commented on #4134
@ninja- too big is a matter of taste I guess but yeah maybe we should use something smaller as default. @trustin WDYT ?

[2015-08-26 09:27] ninja- commented on #4134
@normanmaurer it's just that I liked to System.gc() my bungee when it's empty and this way I always got it back to 10MB of memory used. something changed between the versions so that it doesn't allow me to do it this way. Assuming .24 allowed me to purge the caches with gc but had an infinity bug and .30 doesn't have an infinity bug but doesn't allow to purge the caches.

[2015-08-26 09:32] ninja- commented on #4134
Related - #3166

[2015-08-26 09:33] ninja- commented on #4134
@normanmaurer @tea-dragon left us a hint at #3166 wdyt ?

[2015-08-26 09:35] normanmaurer commented on #4134
@ninja- I would like to know first if adjust the system property had any impact at all in the memory usage.  I'm talking about "-Dio.netty.recycler.maxCapacity=somenumber"

[2015-08-26 09:37] ninja- commented on #4134
@normanmaurer hm I think it did, example: this server
maxCapacity: 5000, 24 threads, pretty sure this one was running with netty .30

   7:         60820        3892480  io.netty.channel.ChannelOutboundBuffer$Entry

[2015-08-26 09:52] ninja- commented on #4134
but still...why ChannelOutboundBuffer$Entry and no other parts of code that are using the recycler? what is so special about it?

[2015-08-26 10:34] ninja- commented on #3166
@trustin do you think there is still something related in Recycler to be fixed since you guys are bumping the milestone?

[2015-08-26 10:50] wumo commented on #4110
@normanmaurer well, that would explain it. Thx!

[2015-08-26 11:06] trustin commented on #3166
@ninja- I believe we have addressed this issue in #3203 and a9fda3c8e0b20a1a3da0353c033cb57be7ad49b2. I'm not sure this is the problem you are experiencing, though, because I didn't follow the discussion between you and @normanmaurer. Maybe @normanmaurer can answer better than I.

@tea-dragon Do you still experience this issue?

[2015-08-26 11:09] ninja- commented on #3166
@trustin personally I am fine with the current state of the recycler in .30, the only thing I am wondering about is what did increase _the need for buffers at the same time_ growing the recycler in .30. could it be because I recently added tcp_nodelay? (not considering it a bug, but I am tweaking down the maximum recycler's amount so it would stay clean when the proxy is empty)

[2015-08-26 11:10] trustin commented on #4134
@ninja- TCP_NODELAY is on by default in Netty 4: https://github.com/netty/netty/blob/4.0/transport/src/main/java/io/netty/channel/socket/DefaultSocketChannelConfig.java#L52

[2015-08-26 11:13] ninja- commented on #4134
@trustin oh :\ no idea why it needed so much buffers at the same time, then

[2015-08-26 11:30] ninja- commented on #4133
@trustin could you make it so writing a CompositeByteBuf doesn't call #getBytes() but just writes each of it's components ? I could do it at the app level(creating another wrapper and then encoder) but this improvement sounds sane.

[2015-08-26 11:35] bobwenx commented on #4127
i get same exception on `4.1.0.Beta6`:

[code]

[2015-08-26 11:42] ninja- commented on #4127
maybe, it's possibly but this bug too.
don't use 4.1 or 5.0 they are "abounded" and behind 4.0 with fixes

[2015-08-26 13:39] Iceee commented on #3166
@ninja- I'm not sure updating netty will fix this since it's a netty implementation issue on BungeeCord's side. Along with the changes I made above, I also updated to the latest netty. I don't remember that fixing the issue on its own.

[2015-08-26 13:52] ninja- commented on #3166
@Iceee yes, your patch didn't fix the problem by itself. It's fixed in netty .25+ while upstream bungee keeps using .24

[2015-08-26 14:32] Iceee commented on #3166
@ninja- I'm not sure updating netty alone will fix this since it's a netty implementation issue on BungeeCord's side. Along with the changes I made above, I also updated to the latest netty. I don't remember that fixing the issue on its own.

There may be a netty bug in regards to recycling entries on closed connections, but this issue specifically stems from BungeeCord not properly implementing n

[2015-08-26 16:17] ninja- commented on #3166
@Iceee there wasn't any error in bungee's implementation. your patch in fact did nothing and didn't stop the infinity bug from eating majority of ram when randomly triggered so there was no difference

[2015-08-26 16:24] Iceee commented on #3166
@ninja- Actually, it fixed everyone's problem as you can read in the issue!

[2015-08-26 17:19] Scottmitch commented on #4127
@ninja- - We apply bug fixes to all branches that are applicable. If you have a specific instance where you are seeing bad behavior in 4.1+ that is not observable in 4.0 please report it and we will work with you to address it.

[2015-08-26 17:21] Scottmitch commented on #4127
@bobwenx - Can you please open another issue and describe your configuration (java version, uname -a, ...), your use-case, what you feel is the Netty bug, and preferably provide a reproducer?

[2015-08-26 17:39] normanmaurer commented on #4127
@ninja- will commit fix soon.

[2015-08-26 17:39] Scottmitch commented on #3166
@Iceee @ninja- - There should be some bound on data that is written when the channel is not writable (as Iceee/BungeeCord@1a997bf appears to do). However it looks like your are dropping data in this case (not sure if this is a problem for you), and also leaking buffers (write will call `release` on the buffer, but since you are not writing it `release` will not be called).  So it seems like you ne

[2015-08-26 17:54] normanmaurer commented on #4110
@wuma let me fix the javadocs

[2015-08-26 19:36] isbo opened #4135 "SslHandshakeCompletionEvent not fired for all ssl handlers"
Our server serves SSL connections on two different ports (4433 and 4435 in the logs below). We initialize netty OpenSsl SslContext for each with separate certs/keys/etc. However, it seems that the SslHandshakeCompletionEvent event is fired for channels associated with only one of the contexts - specifically the one that was initialized last. This behavior doesn't line up with the documentation of

[2015-08-26 20:03] Scottmitch commented on #4066
@merlimat - After further review I don't think the `RECYCLE` mechanism provides any benefit in the majority of cases.  Currently the "derived" buffer will only ever be recycled if the release call is made on the "derived" object, and the "wrapped" buffer ends up being "fully released" (aka refcount goes to 0).  From my experience this is not the common use case and thus the "derived" buffers will

[2015-08-26 20:27] Scottmitch commented on #4066
Closing as we no longer pool derived buffers as of https://github.com/netty/netty/pull/4138

[2015-08-26 20:27] #4066 closed

[2015-08-26 20:37] normanmaurer commented on #4135
Thats very strange... Coukd you try upgrading netty and if you still see the issue share a reproducer?

[2015-08-26 22:07] isbo commented on #4135
upgrade to 4.0.30.Final? or higher?

[2015-08-26 22:29] Scottmitch commented on #4135
@isbo - 4.0.30.Final is the latest release for 4.0.  I suggest starting there.

netty-tcnative also has a newer version [netty-tcnative : 1.1.33.Fork5](http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty-tcnative%7C1.1.33.Fork5%7Cjar). Is it possible for you to updated to this too?

[2015-08-26 22:45] ninja- commented on #3166
@Iceee well I remember @md-5 comment about the patch that it only reduced leak's severity and not fixed it...sure it's a good thing to have this check along with Recycler fix and that's what I personally did.

@Scottmitch it's interesting what you say about release() but I am pretty sure it _couldn't_ leak a buffer via refcnt in any case. have you seen HandlerBoss#channelRead?

Regarding data drop

[2015-08-26 23:22] isbo commented on #4135
I upgraded to 4.0.30.Final and  netty-tcnative : 1.1.33.Fork5. Still seeing the same behavior.

Also noticed a new exception in the logs - which probably is a separate issue:
Caused by: java.lang.NoSuchMethodError: org.apache.tomcat.jni.SSL.clearError()V
        at io.netty.handler.ssl.OpenSslEngine.shutdown(OpenSslEngine.java:263)
        at io.netty.handler.ssl.OpenSslEngine.closeInbound(OpenSsl

[2015-08-26 23:38] tea-dragon commented on #4134
Netty doesn't consolidate pending writes. So threads a, b, ..n all quickly make writes to some socket(s). Either it's already maxed it's bandwidth, or the writing thread(s) don't own the socket and the thread that does is busy. Meanwhile these writes will queue up in these entries.

Properly written code will eventually respect water marks, detect the build up, and back off. However, netty decides

[2015-08-26 23:51] merlimat commented on #4066
Sounds good. Thanks!

[2015-08-26 23:59] ninja- commented on #4134
@tea-dragon regarding the part about greed it seems to be adressed (the part when a "trigger" made it go to infinity). it's still greedy and annoying but not to a point that could crash the application as far as I checked. I tweaked default value for maxRecyclerSomething to stop the greed and I am 100% happy with it.

[2015-08-27 00:02] tea-dragon commented on #4134
I have found the need to greatly lower many default netty settings (arena
sizes etc), so that doesn't surprise me.

On Wed, Aug 26, 2015, 20:00 ninja- <notifications@github.com> wrote:

[2015-08-27 00:46] jazdw opened #4145 "Using finalize() to release ByteBufs"
Java calls finalize() when garbage collection of an object occurs. Is there any reason we shouldn't use this functionality to free ByteBufs?

[2015-08-27 01:11] Scottmitch commented on #4135
@isbo - `clearError()` was added by https://github.com/netty/netty-tcnative/commit/7d603d9b1f322d37a6b00eb8c9213d13fcd7d776 which should be in 1.1.33.Fork3 (and later).

[2015-08-27 01:30] Scottmitch commented on #3166
@ninja- - No. My leak assessment is based upon the `write` method modified by Iceee/BungeeCord@1a997bf in isolation. The contract for the `write(Object o)` method appears to assume ownership / release responsibility of the parameter. This method provides no return status or indication if the write was actually done so I'm not sure how a caller of this method could reliably know if a write was done

[2015-08-27 01:39] Scottmitch commented on #4134
@ninja- - Do you feel this issue can be closed?

[2015-08-27 01:50] ninja- commented on #4134
I think yes, I am testing these settings on production for next 24h but I am pretty sure the greed will go away.

[2015-08-27 01:54] ninja- commented on #3166
@Scottmitch I would assume that write() would release the object even if it _denied_ the channel write (that would be a good api design for this case, checking futures for every write would be an overhead). But there shouldn't be _currently_ such a case given isWritable() check, right?

[2015-08-27 02:34] isbo commented on #4135
Thanks for noticing that - turns out I only upgraded the .so but not the jar. Fixed and the error went away.