[2019-01-15 14:51] skonx commented on #6891
Hi guys.

I've implemented the `ServletContextListener` :

Using `io.netty.util.internal.InternalThreadLocalMap` or `io.grpc.netty.shaded.io.netty.util.internal.InternalThreadLocalMap` and deploying / shuting down the webapp I get the same error 👍

[2019-01-15 14:54] normanmaurer commented on #6891
@skonx could you come up with a small self-containing reproducer that I can use ?

[2019-01-15 14:55] skonx commented on #6891
https://github.com/trendev/firestore-issue

[2019-01-15 15:01] normanmaurer commented on #6891
@skonx I am looking for a reproducer that just uses netty

[2019-01-15 15:08] skonx commented on #6891
well I'm using netty through firebase sdk...

[2019-01-16 03:47] xiaozaiyuji opened #8722 "Netty encoder decoder"
### Expected behavior
As we all know,netty is a effective tool to nio ,but I faced a problem make me crazy.I want write a netty program to support mqtt,websocket,stomp ,but I found this decoder and encoder is different.but I did not know the them deply.So I have to check files to find how to sovle this problem.
I think as netty support all this procotol,why netty not to combine all this like mqtt,

[2019-01-16 10:08] #8700 closed

[2019-01-16 10:12] normanmaurer commented on #8722
Please use stackoverflow for questions. This is a bug tracker.

[2019-01-16 10:12] #8722 closed

[2019-01-16 10:13] normanmaurer commented on #8697
@jchambers let me close this one as there is nothing we can do about this. Please re-open if you believe there is anything we should / can do tho.

[2019-01-16 10:13] #8697 closed

[2019-01-16 10:30] normanmaurer commented on #8707
And @carl-mastrangelo

[2019-01-16 14:55] normanmaurer commented on #8707
Still not sure yet how this happens :/

[2019-01-17 04:32] pradeepKumar32 commented on #8717
@normanmaurer This is no way to reproduce this as this is happening only to me,
So wanted to know if i have understood the error properly and the thought process for debugging, because this is something out of the ordinary.

Let me ask you this, from the logs what i get is the connection is falling back to HTTP/1.1 due to which the First frame is not settings and we are seeing this error. Is this

[2019-01-17 10:09] normanmaurer commented on #8675
@Zeymo did you see my comment... From what I read in this issue it looks more like a bug in how you handle fragmentation.

[2019-01-17 11:19] normanmaurer commented on #8707
@rkapsi ok I think I found the problem... writing a reproducer now.

[2019-01-17 11:23] Zeymo commented on #8675
sorry for hang , handle fragmentation after sslHandler  which wire work correct for long time in production. now, I have more important thing to resolve then this issue so I will close it and mayebe reopen in some future time . Thank for ur time ：）

[2019-01-17 11:23] #8675 closed

[2019-01-17 14:33] normanmaurer commented on #8707
@rkapsi PTAL https://github.com/netty/netty/pull/8726

[2019-01-17 19:58] yulianoifa-mobius opened #8727 "Allow IP_FREEBIND option for UDP epoll"
### Expected behavior
while adding IP_FREEBIND option to boostrap it should work with EpollDatagramChannel
### Actual behavior
notification is logged that IP_FREEBIND is unknown option for this type of channel
### Steps to reproduce
set EpollChannelOption.IP_FREEBIND to true on ConnectionlessBootstrap

### Minimal yet complete reproducer code (or URL to code)
group = new EpollEventLoopGroup(poolSi

[2019-01-17 20:12] yulianoifa-mobius commented on #7347
Please see BC and Netty based DTLS Implementation
https://github.com/mobius-software-ltd/java-dtls

[2019-01-17 20:12] yulianoifa-mobius commented on #7960
Please see BC and Netty based DTLS Implementation
https://github.com/mobius-software-ltd/java-dtls

[2019-01-18 04:16] jameskleeh commented on #8655
@normanmaurer Just checking in. I'd love to submit a PR for this functionality

[2019-01-18 09:15] normanmaurer commented on #8261
@mrniko sorry it took me so long to come back to you. I just tried to reproduce it with the code and config you provided but no luck :(

[code]

I used the same dns config that you attached. This in on Xubuntu. Any idea ?

[2019-01-18 09:15] normanmaurer commented on #8261
Also @johnjaylward

[2019-01-18 09:16] normanmaurer commented on #8261
This was on latest 4.1 branch btw.

[2019-01-18 09:20] mrniko commented on #8261
@normanmaurer

Thanks for taking the time!

Could you try exactly the same code I use? without using DnsNameResolverBuilder.

[2019-01-18 09:39] normanmaurer commented on #8261
@mrniko I did... same result :/

[2019-01-18 09:42] mrniko commented on #8261
@normanmaurer

I run it on windows 10

[2019-01-18 09:50] normanmaurer commented on #8261
@mrniko unfortunately I have no access to windows. Can you try to reproduce on a linux vm ?

[2019-01-18 09:55] normanmaurer commented on #8261
@mrniko maybe you could capture a dump with Wireshark that includes the queries ? Best would be if you adjust it to only to one resolveAll(...) call.

[2019-01-18 10:52] UKreher opened #8730 "Netty causing StreamCorruptedException when using different Java versions"
This is somewhat a follow-up of #1148: Not being aware that Netty requires the same Java version on client and on server side, we were quite surprised to get a `StreamCorruptedException` when using different Java versions. In our scenario we cannot ensure that all communicating Java processes use the same version; even the vendor may differ.
The solution is rather simple: Use copies of `ObjectEnco

[2019-01-18 12:15] normanmaurer commented on #8261
@mrniko also even if I can not reproduce by now I would be happy to review a PR that fix the problem for you.

[2019-01-18 13:38] normanmaurer commented on #8261
@mrniko also can you test removing `                .resolvedAddressTypes(ResolvedAddressTypes.IPV4_ONLY);` ?

[2019-01-18 13:40] mrniko commented on #8261
@normanmaurer

Issue came back if I comment out this code `.resolvedAddressTypes(ResolvedAddressTypes.IPV4_ONLY);`

[2019-01-18 13:42] normanmaurer commented on #8261
@mrniko ok cool... With #8731 the problem is gone also when `.resolvedAddressTypes(ResolvedAddressTypes.IPV4_ONLY)` is NOT used (at least for me). Can you try it out ?

[2019-01-18 13:45] mrniko commented on #8261
Everything works fine with group object:

[code]
and doesn't work if group object is follow:

[code]

[2019-01-18 13:46] mrniko commented on #8261
Do you have netty-all.jar for the latest version?

[2019-01-18 13:47] normanmaurer commented on #8261
@mrniko let me build one for you with the pr included... one sec

[2019-01-18 13:52] normanmaurer commented on #8261
@mrniko https://drive.google.com/open?id=1wMQhGbXPpp9NajvOei-_RTSJqInQGWi_ please try with this jar and report back.

[2019-01-18 13:53] mrniko commented on #8261
@normanmaurer

This page by this link reports 404

[2019-01-18 13:54] normanmaurer commented on #8261
@mrniko just fixed the link... please try again

[2019-01-18 13:59] mrniko commented on #8261
@normanmaurer

Now it works. Thank you!

[2019-01-18 14:00] normanmaurer commented on #8261
@mrniko the code or the link, or both ? ;)

[2019-01-18 14:00] mrniko commented on #8261
@normanmaurer

Both :)

[2019-01-18 14:01] normanmaurer commented on #8261
Yeah :) ... Please note in the PR as well...

[2019-01-18 20:06] #8261 closed

[2019-01-18 22:33] Bennett-Lynch commented on #8429
@normanmaurer I would like to re-open this issue, as I believe that the current implementation of making users manually inject `ChannelFutureListener.FIRE_EXCEPTION_ON_FAILURE` to writes is still cumbersome, and problematic in more complex pipelines that might have writes triggered by multiple sources.

The `MessageToMessageEncoder` fix was helpful, but I am still encountering use cases where I wo

[2019-01-19 02:44] raner commented on #3656
This issue may have resurfaced again with Netty 4.1.22, though I can't be sure that it was ever actually fixed. We keep running into a scenario where our application becomes extremely slow and shows very high latency. During these scenarios we noticed that, despite generously configured thread pools, the number of CPU threads suddenly starts stagnating at a certain plateau level, and we seemingly

[2019-01-19 13:01] #8707 closed

[2019-01-19 22:19] KowalczykBartek opened #8736 "HttpObjectDecoder ignores HTTP trailer header."
### Behavior
When I was writing test for https://github.com/netty/netty/pull/8721 in **io.netty.handler.codec.http.HttpContentDecoderTest** I encountered a problem with parsing trailer header using HttpObjectDecoder.
HttpObjectDecoder is not able to handle following byte sequence
[code]
but is able to deal with that
[code]
After small debugging session, I noticed that HttpObjectDecoder is actually

[2019-01-20 03:49] luoxn28 opened #8737 "If an exception occurs on ByteToMessageDecoder.channelRead"
If an exception occurs on `ByteToMessageDecoder.channelRead()` method，should `cumulation` be release？and not invoke `fireChannelRead()`? Looking forward to your reply, thanks.
[code]

[2019-01-20 19:56] seamlik commented on #8011
Will be supported by [Firefox 65](https://bugzilla.mozilla.org/show_bug.cgi?id=1434137).

[2019-01-21 06:43] normanmaurer commented on #8727
@yulianoifa-mobius thanks a lot for the patch :)

[2019-01-21 06:46] #8727 closed

[2019-01-21 06:47] normanmaurer commented on #8737
@luoxn28 no.. we want to continue decoding. The `cumulation` is released once the handler is removed (which happens also when the channel is closed).

[2019-01-21 06:47] #8737 closed

[2019-01-21 07:39] amizurov commented on #8702
Interesting thoughts about this situation: https://github.com/faye/permessage-deflate-node/wiki/Denial-of-service-caused-by-invalid-windowBits-parameter-passed-to-zlib.createDeflateRaw()
 For examples on Jetty server this is is not supported:
[code]

[2019-01-21 22:38] kachayev commented on #6706
This issue is kinda old... but I hit the same problem pretty recently. @slandelle thanks for the tests, they were really helpful. Talking about this code...

That's because `DefaultFileRegion` bypasses `ChunkedWriteHandler` completely (as any other non-chunked input). Typically `DefaultFileRegion` would be handled by your OS, that's why it works.

In all other cases, to "fix" the problem we need t

[2019-01-21 22:59] raner commented on #3656
@normanmaurer do you have any additional suggestions what we could do to debug this problem or can you re-open the issue?

[2019-01-22 05:33] ldclakmal opened #8742 "HTTP/2 failures when netty update from 4.1.22.Final to 4.1.23.Final"
### Description
We are updating the netty version of https://github.com/wso2/transport-http from **4.1.19.Final** to **4.1.33.Final**. But when updating we noticed that HTTP/2 related test cases are failing. It has happened when updating from **4.1.22.Final** to **4.1.23.Final**.

Further, we noticed that in netty version _4.1.22.Final_, when client side upgrading the UPGRADE_ISSUED and UPGRADE_SU

[2019-01-22 05:57] normanmaurer commented on #8742
Can you share a reproducer ?

[2019-01-22 07:15] liupc opened #8743 "Add logs for allocating large bytebuf in PooledByteBufAllocator"
### Expected behavior
Print logs for allocating large bytebuf in PooledByteBufAllocator, because many applications may care about the memory consumption, and want's to know more info about the memory allocation in case of OOM(for instance, Direct Memory OOM).
### Actual behavior
No logs
### Steps to reproduce
NA
### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version
4.1

[2019-01-22 09:53] normanmaurer commented on #3656
@raner can you please upgrade to the latest 4.1.33.Final and see if you still see it ?

[2019-01-22 10:19] #8743 closed

[2019-01-22 13:57] YangruiEmma commented on #8712
@trustin Could you give me some suggestions? Please >.< Thank you very much!!!

[2019-01-22 14:01] mystdeim commented on #8439
+1

[2019-01-22 18:18] raner commented on #3656
@normanmaurer sure we'll do that. I won't be able to give you immediate feedback, though, as this problem does not occur very frequently (it happened twice in the last 4 months).
In the meantime, do you have any suggestions what else we could do to debug this? For example, what are the known reasons for significant delays when closing a connection?

[2019-01-22 18:40] paul-hammant commented on #8439
Perhaps we need to set a bounty for this :)

[2019-01-22 19:44] lukehutch commented on #8439
@normanmaurer I have no idea how much work would be involved in this. Can you or one of the other Netty developers please give a few quick pointers to where to find the threading code in Netty, and what might be involved in switching to a fibers threading model? (No guarantees I will have time to work on this, but I do want to learn about fibers in a deep way, and this could be a good way to accom

[2019-01-23 02:50] zyb2013 opened #8765 "memory leak"
![image](https://user-images.githubusercontent.com/5093114/51579503-26058a80-1efc-11e9-9f52-f6856f3f5a22.png)
![image](https://user-images.githubusercontent.com/5093114/51579511-3158b600-1efc-11e9-8415-2cde0818680a.png)
In first picture,the code have no surround with try..catch.If here occurs RuntimeException,does it mean msg will not be released?

[2019-01-23 02:53] medusar commented on #8439
Great proposal !

[2019-01-23 05:48] lkmxsxd commented on #8317
I also encountered the same problem in the 4.1.33 final version, Netty Usedmemory dows not down when sending large HTTP messages.

java version
"1.8.0_191"

Netty version
4.1.33 Final

OS
windows10 x64 8G

[2019-01-23 06:52] normanmaurer commented on #8439
@lukehutch  the threading code would be in the `EventExecutor` / `EventLoop` implementations.  As what exactly would be needed to be changed, I have no idea yet.

[2019-01-23 06:57] normanmaurer commented on #8765
@zyb2013 you are right we are not consistent here... I wonder which implementation is more correct tho.

@ejona86 @carl-mastrangelo @trustin WDYT ?

[2019-01-23 06:57] normanmaurer commented on #8765
And @Scottmitch

[2019-01-23 07:00] normanmaurer commented on #8261
@hlms I have no idea how exactly redission uses it so you will need to ask there.

[2019-01-23 07:08] normanmaurer commented on #3656
@raner my suspect would be a blocked EventLoop or a ChannelOutboundHandler that messes up the close call. An other problems could be a very large SO_LINGER setting

[2019-01-23 07:52] lkmxsxd commented on #8317
test case https://github.com/lkmxsxd/netty-test.git

[2019-01-23 08:11] normanmaurer commented on #8317
@lkmxsxd that is not surprising as you use the `PooledByteBufAllocator`(its the default) which will keep the memory in the pool after it is used... If you don't want this you can use the `UnpooledByteBufAllocator` by setting it on the bootstrap

[2019-01-23 08:17] winflex opened #8766 "Why replace handler of bootstrap in SimpleChannelPool?"
[code]
Here the original handler is replaced. I can see that it's for calling handler.channelCreated(ch), but in this way, how do I initialize channel's pipeline? Maybe I can do this in ChannelPoolHandler.channelCreated(), but it feels strange to do that since we always do:
[code]
 So why don't call handler.channelCreated(ch) in SimpleChannelPool.notifyConnect like this:
[code]

[2019-01-23 12:16] Scottmitch commented on #8765
Since `isNotValidPromise` may throw, and doesn't take ownership of (or even know about) the `msg` we should be catching and releasing in `writeAndFlush`.

We could also consider moving the cleanup code into the `write(Object, boolean, ChannelPromise)` method which is called by both of these methods.

[2019-01-23 18:01] estaban opened #8770 "Garbage generated in EpollDatagramChannel"
I am developing a high performance UDP client on Linux using Netty 4.1 with native transport, and DatagramSocketAddress objects are the main source of allocations in the JVM. The native code EpollDatagramChannel creates a DatagramSocketAddress object for each received UDP datagram: https://github.com/netty/netty/blob/fa8f967852c04fd99ae15ee2bd1047595a97417e/transport-native-unix-common/src/main/c/

[2019-01-23 18:08] normanmaurer commented on #8770
Sounds good... want to provide a PR?

[2019-01-23 18:15] estaban commented on #8770
I don't think I will have time to work on that in the next few weeks, I will post an update on that thread if I find some time.

[2019-01-23 18:16] xj524598 opened #8771 "IdleStateHandler using observeOutput can not work on FileRegion"
### Expected behavior
when we use IdleStateHandler and set writerIdleTimeNanos >0 and  in the mean time we send fileRgion
,i hope it would not trigger userEventTriggered method.
### Actual behavior
actually, IdleStateHandler  always   trigger userEventTriggered method.
### Steps to reproduce
just send fileRegon And set writerIdleTimeNanos >0 or allIdleTimeNanos>0, it would reproduce

### Minimal y

[2019-01-23 18:18] Mr00Anderson commented on #8704
What's wrong specifically with those two features that they need to be changed? The issue list is 383 at the time of writing this.

What is the current way to bind multiple IPS with netty? Would be useful information to share if some netty users done use multiple ips. Though I have a feeling how I would if, but that's simply a thin layer of code to write onto of netty.

Netty alone is pretty balan

[2019-01-23 18:31] Mr00Anderson commented on #8655
@jameskleeh I had to parse through all of the file and memory code too. I do incremental library and asset updating and file sending has been a PITA.

Specifically with file streaming using nettys classes. I think your ideas sound good. Last year I ended up having to seperate out and have a Session.class to wrap multiple TCP and UDPs commecions up per player so that I have a seperate channel for b

[2019-01-23 18:38] Mr00Anderson commented on #8540
My only concern but I have not checked into it much yet, the effects of peformance due to unsafe removale and off heap/direct buffers. I rely likely as many do on those peformance points.

[2019-01-23 19:08] normanmaurer commented on #8514
This should be complete

[2019-01-23 19:08] #8514 closed

[2019-01-23 20:19] rkapsi opened #8772 "HttpObjectAggregator w/ isStartMessage: Bug or Feature?"
Let's say you want to be very selective when and if to aggregate HttpRequests and Responses. Say you want to only aggregate responses with a content-type of application/json. Naturally I went with this:

[code]

... but it will not work due to the following two conditions

1) isContentMessage returns true for any HttpContent

https://github.com/netty/netty/blob/00afb19d7a37de21b35ce4f6cb3fa7f74809

[2019-01-24 00:42] estaban commented on #8770
When the fix is out and validated, would it be an option to backport it to Netty 4.0, or is development over for that version?

[2019-01-24 02:31] carryxyh opened #8774 "HashedWheelTimer"
Hi, community.

Recently there was a discussion in the dubbo community. We introduced netty's hashedWheelTimer to make some optimizations, but some people have doubts about using HashedWheelTimer. The doubt is that we found that netty itself does not use HashedWheelTimer, so I would like to ask why netty is no longer The reason for using HashedWheelTimer. Can someone answer?

[2019-01-24 02:49] happyer opened #8775 "correct handler exception"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-01-24 03:14] #8771 closed

[2019-01-24 06:43] #8765 closed

[2019-01-24 11:37] normanmaurer commented on #8774
@carryxyh just because we usually want to be on the same thread as the `EventLoop` of the Channel. that said there is nothing wrong about the `HashedWheelTimer`.

[2019-01-24 11:37] #8774 closed

[2019-01-24 17:09] ejona86 commented on #8429
This is generally necessary. While I agree it isn't obvious to new users, any time you get it wrong is a recipe for weird things to happen.

Although I'm also not quite sure why writing to the Channel would break things in this particular case; it would eventually go through the current Handler's ctx either way.

If you need it between ever handler, then I'm not sure how FIRE_EXCEPTION_ON_FAILURE

[2019-01-25 07:53] normanmaurer commented on #8770
@estaban this ship has sailed. 4.0.x is EOL for a long time.

[2019-01-25 07:54] normanmaurer commented on #8772
@rkapsi hmmm good question. For me it sounds more like a bug. WDYT ?

[2019-01-25 11:52] normanmaurer commented on #8766
Yes you do it in `ChannelPoolHandler`. Not sure what the problem is ... Can you give more details ?

[2019-01-25 15:51] rkapsi commented on #8772
@normanmaurer same, I'll create a PR

[2019-01-25 16:13] duaicxx opened #8782 "Read the source code : The problem with waiters in DefaultPromise ."
The waiters in DefaultPromise use synchronized(this) when they operate, and use decWaiters immediately after using incWaiters. Waiters are not always between 1 and 0. What is the meaning of this?

[2019-01-25 18:45] Bennett-Lynch commented on #8429
@ejona86 My concern is that I'm essentially *required* to write to the tail of the pipeline every time.  And there are valid use cases where you don't *always* want to write to the tail end of the pipeline.  A simple encoder-like handler would be one.

If I have a pipeline like so:

`{Socket} - [ A ] - [ B ] - [ C ] - [ D ]`

Where `A` is the first inbound handler, and `D` is the tail.

Assume tha

[2019-01-26 00:41] prayagupd commented on #6221
Increasing JVM heap from 96M (on 700M machine) to 96*3MB (2100M) is working for me. At least temporarily.

[code]

[2019-01-26 02:46] ejona86 commented on #8429
Okay. I see what you were meaning now. In any case a "ChannelOption for FIRE_EXCEPTION_ON_FAILURE" wouldn't fix this behavior; the Channel has just as hard of a time managing the future failure as you are having now.

The only idea I have would be for {ctx, channel, pipeline}.newPromise() to return a promise with the listener already added. The main way to "break" that behavior would be to constru

[2019-01-26 07:15] ejona86 commented on #6891
The problem with calling InternalThreadLocalMap.destroy (or the public API FastThreadLocal.destroy()) is that it only clears _the current thread_. Some of this was discussed way back in 2014 https://github.com/netty/netty/pull/2578#issuecomment-46335248. Setting the ThreadLocal to `null` would _help_ the problem, which destroy() did before https://github.com/netty/netty/pull/5012/files#r56949296 (

[2019-01-27 01:31] thinkerou opened #8787 "mvn compile fails on netty-transport-native-kqueue"
### Expected behavior
compile successful.

### Actual behavior
compile fails.
[code]

### Steps to reproduce
run `mvn clean compile` command.

### Minimal yet complete reproducer code (or URL to code)
N.

### Netty version
master branch.

### JVM version (e.g. `java -version`)
[code]

### OS version (e.g. `uname -a`)
[code]

[2019-01-28 06:04] huqingkang opened #8791 "netty Multicast mode cannot communicate before different hosts,All multicast configurations were tried and all known possibilities analyzed,Failure to fix, is it a bug?ask for help!"
### Expected behavior
multicast Communication between hosts is possible
### Actual behavior
Multicast mode failed to communicate between different hosts
### Steps to reproduce
Open two computers, multicast mode,A computer is used to send messages, A computer is used to  receive message
### Minimal yet complete reproducer code (or URL to code)
receive:
public void MulticastInit() {
InetSocketAddres

[2019-01-28 07:51] huqingkang commented on #7557
I also had a problem with netty multicast mode not being able to communicate between hosts

[2019-01-28 08:33] trondarild-lode-tobiassen-heidelberg commented on #7557
I still have not had a chance to test EPOLL on a linux box but I am sure the advice is correct. Thus I want to close this issue. But the new comment stops me. hukinqang: Are you trying on windows? If so your answer may lie in testing with a linux host and Epoll SO_TIMEOUT.

[2019-01-28 16:01] normanmaurer commented on #7756
@raner / @kiril-me if you are interested you may want to contribute a PR against master which is Java8+ now.

[2019-01-28 17:21] kiril-me commented on #7756
I can work on that.

[2019-01-28 19:19] normanmaurer commented on #8782
sorry I dont get what you are asking for... maybe link to the code and give some example what you think should be changed ?

[2019-01-29 07:10] huqingkang commented on #7557
Hello, my question is about the multicast mode communication of the multi-host unit. I have submitted the details of the corresponding question. It doesn't conflict with your problem. You can end this problem.

[2019-01-29 07:11] #7557 closed

[2019-01-29 11:40] zhengdehui opened #8795 "Unnecessary Execution of notifyListenersNow"
### Expected behavior
When canceling a `DefaultPromise`, should not schedule task when this is no listener for the DefaultPromise

### Actual behavior
When canceling a `DefaultPromise`, a task is scheduled and executed even this is no listener for DefaultPromise, which causes 2% CPU cost in our scenario

### Steps to reproduce

schedule tasks using eventLoop and cancel the `ScheduledFutureTask`
[c

[2019-01-29 12:45] aimozg opened #8796 "AppendableCharSequence.subSequence throws instead of returning empty subsequence"
I am writing message decoder using as a base approach of `HttpRequestDecoder` (`ByteBuf -> AppendableCharSequence`) and encountered following problem:
`AppendableCharSequence.subSequence(int start, int end);` violates the `CharSequence` interface contract when `start == end`.

### Expected behavior
Return an empty sequence, as specified in `CharSequence.subSequence` doc:

### Actual behavior
`Ille

[2019-01-29 12:49] normanmaurer commented on #8796
@aimozg sounds like a bug... Can you submit a PR with a test and fix ?

[2019-01-29 12:50] normanmaurer commented on #8795
@zhengdehui sounds like something we could optimize... I will try to have a look or if you have a fix in mind please let me know and submit a PR :)

[2019-01-29 13:10] aimozg commented on #8796
@normanmaurer I'd rather someone more experienced with netty internals do it, really.
I'm unsure how to fix it -
1) Just return an min-size empty ASC?
2) Allow 0-size in constructors? (Is that used somewhere)
3) Something else?

quick-and-dirty 1) would be
[code]

[2019-01-29 14:18] duaicxx commented on #8782
There is no place to understand, just don't understand why the author did this, and it bothered me. The waiters variable in DefaultPromise has the current lock for his operation. This means that the waiters can only be 1 and 0. Is that true? Thank you very much for your answer.

[2019-01-29 14:20] normanmaurer commented on #8796
@aimozg please check https://github.com/netty/netty/pull/8798 ... That said you should not use this class as its in the "internal" package and so may be removed / changed etc without notice.

[2019-01-29 14:26] normanmaurer commented on #8782
@duaicxx not sure I correctly understand your question but even it has the current lock others can obtain it once it executed `wait(...)`. See also https://docs.oracle.com/javase/7/docs/api/java/lang/Object.html#wait()

[2019-01-29 15:04] zhengdehui commented on #8795
@normanmaurer Actually I was thinking of this way too, by checking the `listeners != null`. However there seems to be a concurrency issue that the cancel() method could be called by another thread and it may not get the latest value of the `listeners` since listeners is not `volatile`. But I am not sure whether it is a good idea to make the listeners volatile to increase the cost of cancel()

[2019-01-29 15:06] normanmaurer commented on #8795
@zhengdehui from what I see there can't be any concurrency issue here as listeners is only invoked from within the `synchronized` block and if another thread will add a listener in the meantime it will schedule a task if needed.

[2019-01-29 15:11] zhengdehui commented on #8795
@normanmaurer From #8797 listeners is used outside `synchronized` block

[code]

[2019-01-29 15:15] normanmaurer commented on #8795
@zhengdehui huh ? The whole method os synchronised so why you think it is outside of the scope here ?

[2019-01-29 15:20] zhengdehui commented on #8795
@normanmaurer oh, sorry,,,, I missed the `synchronized` in the method name line. I think it will solve the problem, will test in our env and give you feedback

[2019-01-30 00:03] weiguovmware opened #8801 "NativeIoException: readAddress(..) failed: Connection timed out"
I'm facing an exception from Netty. My tests restarted the client and server throw out the netty exception.

io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection timed out
     at io.netty.channel.unix.Errors.newIOException(Errors.java:122) ~[netty-all-4.1.27.Final.jar:4.1.27.Final]
     at io.netty.channel.unix.Errors.ioResult(Errors.java:146) ~[netty-all-4.1.27.Fina

[2019-01-30 02:18] huqingkang commented on #8791
Hi, I have a question on the netty project.Is about the netty framework multi - host multicast communication problem.This has been bothering me for more than two months.Please check it. @normanmaurer ,thanks.

[2019-01-30 03:07] suhao50142 opened #8802 "http short connection server can not use up cpu and memory"
### Expected behavior
20k-50k concurrent connections

### Actual behavior
From ab(concurrent 10k):
Requests per second: 8k-10k/sec(mean)

my server cpu and memory just have been used a little
From TOP(60GBmemory 8core):
 id cpu(s) 70-80% （the part not used）
cpu 90-110% 0.1-0.5 mem%

i had remove the concurrent connections limit

### Steps to reproduce
i just use HttpServerCodec and ChannelInboundH

[2019-01-30 07:58] duaicxx commented on #8782
@normanmaurer

[2019-01-30 08:05] duaicxx commented on #8782
Well, this is the case, but the waiters do the subtraction before releasing the lock, which means that the waiters get the lock plus 1 minus 1 when the lock is released, so the waiters always switch between 1 and 0. The problem is only I don't borrow when I read the source code. I don't know if I missed the idea of the author doing this, so I raised this question. Thank you very much for your answ

[2019-01-30 08:32] johnou commented on #8782
@duaicxx if you have a shared DefaultPromise multiple threads may invoke await and subsequently wait() putting the thread into WAITING state, at this point waiters can increase all the way up to Short.MAX_VALUE.. when the promise is fulfilled (success or failure) all waiting threads will be notified and finally decrement the waiters value.

[2019-01-30 08:38] kezhenxu94 commented on #8782
@duaicxx As @johnou explained, and I slightly add a ASCII picture to show this more intuitively.
[code]

[2019-01-30 08:45] #8796 closed

[2019-01-30 08:51] normanmaurer commented on #8782
as @johnou and @kezhenxu94 said... closing

[2019-01-30 08:51] #8782 closed

[2019-01-30 08:52] normanmaurer commented on #8730
@UKreher yep this is a limitation. Would you willing to do a PR with an improvement for the java docs ?

[2019-01-30 12:32] normanmaurer commented on #8795
@zhengdehui thanks... please let me know once you had a chance

[2019-01-30 12:39] normanmaurer opened #8810 "[Netty 5] Introduce EventExecutorHandler"
Now that we have removed the ability to specify an `EventExecutor` when adding handlers to the `ChannelPipeline` we need to provide some replacement functionality.

This is a followup of https://github.com/netty/netty/pull/8778 and related to https://github.com/netty/netty/issues/8512

[2019-01-30 12:40] normanmaurer commented on #8810
Some more thoughts about the needed features were discussed here:

https://github.com/netty/netty/pull/8778#issuecomment-458120435

[2019-01-30 13:53] jesty commented on #8017
Hello, we are using 4.0.56 and analyzing the threads with Eclipse Memory Analyzer Tool we have the scenario in the attached screenshot. Is it the same issue?
![thread_from_mat](https://user-images.githubusercontent.com/41215/51985717-d5af9f00-249e-11e9-9250-727e940c9112.PNG)

[2019-01-30 14:03] normanmaurer commented on #8017
@jesty no... this class only existed in 4.1.

[2019-01-30 14:12] jesty commented on #8017
ok, thanks.

[2019-01-30 15:09] johnou opened #8814 "Memory footprint increase after upgrading to 4.1.32.Final"
### Expected behavior

Memory footprint is more or less consistent.

### Actual behavior

Substantial memory footprint increase after updating from 4.1.30.Final to 4.1.32.Final.

### Steps to reproduce

Working on it..

### Minimal yet complete reproducer code (or URL to code)

Working on it..

### Netty version

4.1.32.Final and 4.1.33.Final show a large memory footprint increase compared to 4.1.

[2019-01-30 15:13] johnou commented on #8814
![screenshot from 2019-01-30 16-11-59](https://user-images.githubusercontent.com/323497/51990716-eb769180-24a9-11e9-844f-b31ded59a3db.png)

[2019-01-30 15:15] normanmaurer commented on #8814
@johnou is it direct memory or heap ?

[2019-01-30 15:16] johnou commented on #8814
@normanmaurer I believe it's direct memory / off-heap because it doesn't seem to be visible in the heap graphs.

[2019-01-30 15:17] johnou commented on #8814
I have also disabled the allocator and that doesn't seem to help.. not sure where to look next.

[code]

[2019-01-30 15:25] normanmaurer commented on #8814
hmm... Can you describe a bit what "native parts" you are using ? Like do you use the native epoll transport. If yes what parts of it. native SSL etc

[2019-01-30 15:26] normanmaurer commented on #8814
@johnou also even if its native memory you may be able to spot something when looking at heap dumps as we may retain more "heap allocated containers" that wrap the native memory.

[2019-01-30 15:32] johnou commented on #8814
netty-transport-native-epoll + netty-tcnative-boringssl-static.

There's a combination of client and server application logic using Netty epoll eg. Redisson which uses the event loop (epoll) and dns resolver. Socket server which uses epoll and SSL (io.netty.handler.ssl.SslHandler).

[2019-01-30 15:34] johnou commented on #8814
Good point on the container objects, I will try and compare the smaller objects this time in the good / bad build heap dumps.

[2019-01-30 16:36] estaban commented on #8770
@normanmaurer Thanks for the fix, it is much simpler than the one I proposed. When I looked into that option, I was concerned about race conditions between connect calls (potentially several of them?) and reads (using the cached address), but I missed that they are all done on the event loop thread, so that should not be a problem.

Firing a ByteBuf when reading UDP datagrams would be a great idea

[2019-01-30 17:15] johnou commented on #8814
@normanmaurer it's epoll.

[2019-01-30 17:18] normanmaurer commented on #8814
@johnou what exactly in epoll ? And why you say so ?

[2019-01-30 17:18] johnou commented on #8814
![screenshot from 2019-01-30 18-15-58](https://user-images.githubusercontent.com/323497/51999629-7dd36100-24bb-11e9-853d-248585596c2d.png)

[2019-01-30 17:21] johnou commented on #8814
working on finding that out now, just got back from picking up the kid.

[2019-01-30 17:34] normanmaurer commented on #8814
@johnou i am confused ... doesn’t it look like the memory goes up when disabled ?

[2019-01-30 17:35] johnou commented on #8814
@normanmaurer that's memory available.

[2019-01-30 17:37] normanmaurer commented on #8814
Got it.. how much more memory or takes compared to 4.1.30 ?

[2019-01-30 17:39] johnou commented on #8814
Looks like it was 200-300 meg between five JVMs.

[2019-01-30 17:47] normanmaurer commented on #8814
@johnou and what size is normal ? Also can you also upgrade to 4.1.31.Final and see how it goes. Just to make it easier to find the culprit .

[2019-01-30 18:34] Bennett-Lynch commented on #8429
@ejona86 The ask isn't so much to magically auto-install a listener, but to simply offer a channel option that will revert the behavior back to how it used to behave in Netty 3: https://github.com/netty/netty/pull/8448

[2019-01-30 18:44] johnou commented on #8814
In general the memory footprint between epoll and nio is huge in 4.1.33.Final (more than double), 1860G free memory with nio vs 780M with epoll. I will see how it compares with 4.1.31.Final now.

[2019-01-30 18:45] johnou commented on #8814
![screenshot from 2019-01-30 19-44-37](https://user-images.githubusercontent.com/323497/52004518-8fbb0100-24c7-11e9-9df3-bbf13da4612e.png)

[2019-01-30 19:12] weiguovmware commented on #8801
Hi Norman,

I saw some cases that connection established then throw out this exception around 25s.

I'm wondering what's the time limitation of the readAddress() message. Also the "forcibility" closed is from the client side? Is there any TCP message or state changes triggered the readAddress() time out?

Thanks

[2019-01-30 19:36] johnou commented on #8814
@normanmaurer yep I just finished deploying a build with 4.1.31.Final, building 4.1.32.Final right now. Will post here when I have the results.

[2019-01-30 20:18] normanmaurer commented on #8814
@johnou thx

[2019-01-30 20:21] njhill commented on #8259
@normanmaurer thoughts on this given latest changes to `master`? Maybe there is still value in non-API-breaking java 8 version which can be a drop-in upgrade for most folks?

[2019-01-30 20:33] johnou commented on #8814
@normanmaurer after further investigation of dependencies and creating canary builds I have finally narrowed it down to DnsAddressResolverGroup constructed by Redisson..

[code]
vs

[code]

I'm not 100% sure why the workaround class was created in the first place cc @mrniko but now that it has been removed there's a substantial memory footprint increase with epoll..

[2019-01-30 20:39] johnou commented on #8814
![screenshot from 2019-01-30 21-33-44](https://user-images.githubusercontent.com/323497/52011025-38249180-24d7-11e9-9eb0-e413805735b1.png)

[2019-01-30 20:40] normanmaurer commented on #8814
@johnou I am not sure I understand what you are saying here... So are you saying it is caused by how redisson uses netty ? Also what code snipped is the good one ? the first or the second ? Did you also upgrade redisson as part of this ?

[2019-01-31 02:17] njhill opened #8817 "[Netty 5] Proposal: Strongly-typed ChannelHandlers"
It could be nice to allow `ChannelHandler`s to advertise the message types they process. There would be a consumes/produces pair for each of inbound and outbound (i.e. two for uni-directional handlers and four for "duplex" ones).

The "consumes" type would be either "unspecified" (the default) or a message superclass (e.g. `ByteBuf.class`). The "produces" type would be "unspecified" (the default),

[2019-01-31 02:51] njhill commented on #8511
@normanmaurer is this obsolete in light of #8778?

Related to this and #8156, I had another idea w.r.t. the pipeline manipulation API design, i.e. how best to reference handlers after they are added. Why not have all the `addX`/`replace` methods return the new handler context, and move all of the `addBefore`, `addAfter`, `replace`, `remove` methods from the pipeline to the context?

I think this w

[2019-01-31 06:20] #7756 closed

[2019-01-31 06:21] normanmaurer commented on #7756
@kiril-me thanks a lot for all the help!

[2019-01-31 07:47] RoganDawes commented on #8511
I quite like this approach to the problem of the Cartesian product of methods on ChannelPipeline.

One existing method that this approach does not seem to support is ```ch.pipeline().addLast(handler1, handler2, handler3);```
Which context would you return from such a method?

I think it would be reasonable, though, to require migration to ```ch.pipeline().addLast(handler1).addAfter(handler2).addAf

[2019-01-31 07:56] #8795 closed

[2019-01-31 08:03] normanmaurer commented on #8511
@nicktrav I like your idea. That said we may still want to return a `Future` (not sure about this yet).

@RoganDawes I think we should just not support the "varargs" anymore to fix the problem. About how this would look like when we return futures, I think we would allow to chain calls via some lambdas.

[2019-01-31 08:08] normanmaurer commented on #8817
@njhill I need to think more about this in general but I wonder how this would work in "practice" with a dynamic pipeline. How would you guarantee that removal of a handler / adding a handler would not violate this ?

[2019-01-31 08:14] njhill commented on #8511
I hadn't considered that variation but that could either return the final context or if that might not be very intuitive then maybe just the pipeline as it does now.

This may need more thought since the implicit head and tail contexts are currently private/inaccessible I think.

I think your distaste here is related to returning a future rather than this latest proposal, i.e. something similar wo

[2019-01-31 08:16] normanmaurer commented on #8511
ups @njhill yep... wrong nick 👍

[2019-01-31 08:33] normanmaurer commented on #8814
@njhill yeah I wonder if we should try to minimise this a bit. Or at least provide some sort of system property. WDYT ?

[2019-01-31 09:54] johnou commented on #8814
@normanmaurer I'm going to rerun deploys today, with the original library versions we noticed problems with in production.

[2019-01-31 10:11] johnou commented on #8814
It's also worth noting that we continuously run DNS lookups which are essentially not cached because the TTL is so low (AWS ElastiCache failover) using netty-dns w/ epoll event loop.

[2019-01-31 11:17] flycat0112 opened #8823 "CompositeByteBuf pointless operation"
### Netty version
5.0.0.Alpha2

There is a lot of pointless operation  in the source code,

[code]

[2019-01-31 11:57] johnou commented on #8814
I reproduced the memory footprint increase with Netty 4.1.32.Final, no problems with 4.1.31.Final. All using same version of Redisson with epoll enabled.

![screenshot from 2019-01-31 12-52-35](https://user-images.githubusercontent.com/323497/52052779-c17ba880-2557-11e9-915b-e2a034a00b98.png)

[2019-01-31 12:00] mrniko commented on #8814
@johnou

Same for 4.1.33.Final?

[2019-01-31 13:36] johnou commented on #8814
@mrniko yes same for 4.1.33.Final.

[2019-01-31 13:40] johnou commented on #8814
@njhill based on the test deploys this morning I believe something was changed in 4.1.32.Final wrt netty-dns / epoll.

[2019-01-31 13:54] normanmaurer commented on #8814
@johnou thanks for all the details.

I have a suspect what's going on. Could you try to revert this commit: https://github.com/netty/netty/commit/d728a72e745d840da397e287ab9c59f810cdadb4 and see if it changes anything ?

I suspect this performance optimisation (to use sendmmsg when using the epoll transport) may now have the effect of lazy init `NativeDatagramPacketArray` which was not done before

[2019-01-31 14:33] johnou commented on #8814
@normanmaurer I'll give it a go now.

One thing I noticed is that io.netty.channel.unix.IovArray#IovArray allocates a direct ByteBuffer up front and never deallocates, wouldn't it make more sense if IovArray used the PooledByteBufAllocator and gave back the memory to the pool _after_ a write?

[2019-01-31 14:42] normanmaurer commented on #8814
@normanmaurer probably not as it would be a very big allocation and so may be costly.

[2019-01-31 14:43] johnou commented on #8814
@normanmaurer d728a72e745d840da397e287ab9c59f810cdadb4 doesn't revert cleanly, newDnsQueryLifecycleObserver is missing.

[2019-01-31 14:48] normanmaurer commented on #8814
@johnou if you need any help let me know and I will push a branch with this

[2019-01-31 14:51] johnou commented on #8814
I think there may have been intermediate commits or a force push, tests are running now. I checked out the 4.1.33 tag, reverted d728a72 but there were compiler errors.

[code]

[2019-01-31 14:52] normanmaurer commented on #8814
@johnou ok cool.. let me know once you have the result.

[2019-01-31 15:16] johnou commented on #8814
@normanmaurer nailed it, d728a72 is the culprit.

[2019-01-31 15:18] normanmaurer commented on #8814
@njhill happy if you have a good idea here ;)

[2019-01-31 15:52] ejona86 commented on #8511
Note that @njhill's suggestion is pretty similar to using `ctx` instead of `name` in the relative ChannelPipeline APIs.

So instead of:
[code]

It would be
[code]

And cases like remove()/replace() could remove most of their various overloads and just rely on `ctx`. (And yes, we could also change the return value to be a `ctx`.)

I point this out because it keeps the APIs on ChannelPipeline for mo

[2019-01-31 17:45] njhill commented on #8511
That's true, I guess the main advantage is that it allows more elegant constructs such as:
[code]
rather than
[code]
but I agree there may be a tradeoff of being slightly less intuitive w.r.t. where to "find" these functions.

This was also in my mind, but something I'm not actually sure of - you probably know better than me and maybe @normanmaurer could also weigh in... but is it really true that

[2019-01-31 20:04] normanmaurer commented on #8814
Alright stay tuned... working on a fix.

[2019-01-31 20:41] normanmaurer commented on #8814
@johnou https://github.com/netty/netty/pull/8825 could you try the fix and let me know if it fixes the problems you are seeing :)

[2019-02-01 02:34] DATuan91 commented on #8823
@flycat0112  I don't think this version (5.0.0.Alpha2) is maintained anymore. Currently, most development effort goes to 4.1.x branch. You should switch to 4.1.x

[2019-02-01 03:05] flycat0112 commented on #8823
Thanks you too，but this varsion (4.1.33.Final) still has that problem. I don't know the point about this operation (type short & 0xffff) .

[2019-02-01 03:17] flycat0112 commented on #8823
thanks you too, I know the point about this operation(type short & 0xffff).

[2019-02-02 06:10] #8814 closed

[2019-02-02 08:41] tyagihas commented on #6891
I'm also using Firebase SDK and facing an issue in different situation. I think the root cause is the same.

I run a long running thread which sleeps a certain interval and retrieves + updates entries in Firestore. I observe memory usage goes up after every iteration. Does this mean it is not recommended using Firestore (+ Netty) with long running threads?

[2019-02-02 11:04] dmitrii1971 opened #8838 "[Netty 5] Proposal: Use Deflater::deflate(ByteBuffer) ZlibEndcoder implementation"
### Netty version
netty-all-4.1.29.Final

### Expected behavior
Being able to compress `ByteBuf`s without transferring them into a byte array.

### Actual behavior
Currently `ZlibEncode`r encode copies `ByteBuf`'s content into a newly created array if the `ByteBuf` is not backed by a byte array. Since JDK 11 we have `java.util.zip.Defalter::deflate​(ByteBuffer)` which judging by the [implementatio

[2019-02-03 23:53] kachayev opened #8841 "Websocket handlers to support handshake timeout"
The same way `SslHandler` provides `handshakeTimeoutMillis` setting... On the application level, it makes sense to limit the time we need to move from `HANDSHAKE_ISSUED` to `HANDSHAKE_COMPLETE` states when upgrading to WebSockets. If there are no objections to introducing this functionality out of the box, I'll do a PR.

[2019-02-04 07:54] normanmaurer commented on #8841
@kachayev sounds like a good idea... :)

[2019-02-04 08:57] #8772 closed

[2019-02-04 13:02] normanmaurer commented on #8838
@dmitrii1971 sounds good...

[2019-02-05 17:39] rahuls6 commented on #5313
We still see this issue in 4.1.33. Any updates on this ?

[2019-02-06 09:10] arukshani opened #8846 "When more than one connection header is present in h2c upgrade request, upgrade fails"
### Expected behavior
$subject occurs, with this change https://github.com/netty/netty/pull/7824. (@bryce-anderson and @normanmaurer )

Now that more than one connection header is allowed with this https://github.com/netty/netty/pull/7824,
 line https://github.com/netty/netty/blob/737519314153f9146eaf532cd4e945a621cf3fa5/codec-http/src/main/java/io/netty/handler/codec/http/HttpServerUpgradeHandler

[2019-02-06 12:12] normanmaurer commented on #8846
@arukshani sounds about right... Are you interested in providing a PR to fix it ? /cc @bryce-anderson

[2019-02-06 12:18] arukshani commented on #8846
Yup. Will send a PR with the fix @normanmaurer

[2019-02-06 20:15] amizurov opened #8849 "WARN KQueueEventLoop - events[[1, 88, -1]]=[[1, 88, -1], {}] had no channel!"
### Expected behavior
No warning ``2019-02-06 23:05:16.068 [KQueueEventLoopGroup-2-2] WARN  i.n.channel.kqueue.KQueueEventLoop - events[[1, 88, -1]]=[[1, 88, -1], {}] had no channel!``
### Actual behavior
Unexpected warning when client application kill -9 or reset peer
``2019-02-06 23:05:16.068 [KQueueEventLoopGroup-2-2] WARN  i.n.channel.kqueue.KQueueEventLoop - events[[1, 88, -1]]=[[1, 88, -1],

[2019-02-06 20:17] amizurov commented on #8849
Hi, @normanmaurer I think it's related with Fix ClassCastException and native crash when using kqueue transport. (#8665)

[2019-02-07 08:18] normanmaurer commented on #8849
will check

[2019-02-07 08:40] normanmaurer commented on #8742
@ldclakmal ping ... or this related to: https://github.com/netty/netty/pull/8848 ?

[2019-02-07 10:12] amizurov commented on #8849
Thanks a lot. If you need additional info, ping me.

[2019-02-07 10:43] johnou commented on #5313
@rahuls6 can you provide a reproducer?

[2019-02-07 12:06] ldclakmal commented on #8742
@normanmaurer Yes, this issue is related to #8848.

[2019-02-07 12:28] chunaidong opened #8853 "java.io.ioexception:the remote host forcibly closed an existing connection"
io.grpc.netty.shaded.io.grpc.netty.NettyServerTransport notifyTerminated
信息: Transport failed
java.io.IOException: the remote host forcibly closed an existing connection
	at sun.nio.ch.SocketDispatcher.read0(Native Method)
	at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:43)
	at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
	at sun.nio.ch.IOUtil.read(IOUtil.java:192)
	at sun.ni

[2019-02-07 12:29] chunaidong commented on #8853
win10   jdk8 netty-4.1.30.final

[2019-02-07 13:16] amizurov commented on #8853
Hi, @chunaidong. Sorry could you give more information, you think it's a bug ?

[2019-02-07 13:20] chunaidong commented on #8853
@amizurov  when I stop client,the message will show in the server console,I think it's unfriendly message

[2019-02-07 13:27] normanmaurer commented on #8853
@chijoungso thats not a bug as your closed the connection forcible. If this should be logged or not is up to the user of the library which is grpc in this case tho. That said I can not see anything wrong with what they do.

[2019-02-07 13:27] #8853 closed

[2019-02-07 13:32] normanmaurer commented on #8849
@amizurov hmm how does your code reproduce this ? Where do you interrupt the socket ?

[2019-02-07 13:45] chunaidong commented on #8853
@normanmaurer ok. I got it, Thanks

[2019-02-07 15:38] amizurov commented on #8849
@normanmaurer Sorry if not clear, in this example I simple kill -9 client in 4.1.32 it's work fine, but in 4.1.33 I got a ``WARN ..  had no channel!```. I'll tried make reproducer with reset by peer exception, that I got on production system.

[2019-02-07 15:38] slandelle opened #8854 "[Netty 5] Consider dropping NPN"
NPN has been superseeded by ALPN.

Discussion was initiated in #8794 and it was decided it was too soon to drop NPN yet and we should revisit this decision once Netty 5 is drawing near.

[2019-02-07 17:15] marcban opened #8855 "Support semicolon as a normal character in URI (no longer a parameter separator)"
### Expected result
According to the 2014 W3C Recommendation, semicolon is now illegal as a parameter separator in a http URI.
`?foo=bar;baz` means the parameter `foo` will have the value `bar;baz`

see https://www.w3.org/TR/2014/REC-html5-20141028/forms.html#url-encoded-form-data
(thanks to https://stackoverflow.com/questions/3481664/semicolon-as-url-query-separator)

### Current result
The URI d

[2019-02-07 19:18] normanmaurer commented on #8855
@slandelle WDYT ?

[2019-02-07 20:11] slandelle commented on #8855
👍 I've been parsing URIs this way (HTML5's form-url-encoded) for many years in both AHC and Gatling and I don't recall anyone ever complaining that semi-colon wasn't interpreted as a parameter separator.

[2019-02-08 00:53] kachayev commented on #8849
I'm working on introducing KQueue transport support to the Aleph library, and I can confirm that with `4.1.33.Final` such warnings happen pretty randomly, hard to tell what is the root cause.

[code]

[2019-02-08 11:28] marcban commented on #8855
Note also that when encoding an URL with java URI.tostring(), semicolons are _not_ encoded, so the client has extra replaces to do before sending the request

[2019-02-10 07:22] jameskleeh commented on #8655
@normanmaurer Following up on this issue, hoping to get some sort of response

[2019-02-10 11:27] amizurov opened #8857 "Failed test DatagramUnicastTest#testSimpleSendWithConnect 4.1.34.Final-SNAPSHOT"
### Expected behavior
Test is work properly

### Actual behavior
Test failed:
[code]

### Steps to reproduce
Run DatagramUnicastTest#testSimpleSendWithConnect

### Netty version
4.1.34.Final-SNAPSHOT

### JVM version (e.g. `java -version`)
java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)

### OS version

[2019-02-10 15:28] normanmaurer commented on #8857
Can you reproduce this all the time or is it a flaky test ?

[2019-02-10 16:19] amizurov commented on #8857
This is test fails on my machine all the time

[2019-02-10 16:38] normanmaurer commented on #8857
Hmm strange works here

[2019-02-10 16:54] amizurov commented on #8857
In this suite ``testSimpleSendWithConnect 2 of 4`` first ``WrapType NONE`` passed then second type ``DUP`` stuck and never happened:  ``assertTrue(clientLatch.await(10, TimeUnit.SECONDS))``.

[2019-02-11 08:47] #7862 closed

[2019-02-11 10:16] amizurov commented on #5643
Hi guys, We are interested in this feature in Netty and can provide helps if it's needed. @sunng87, @normanmaurer,   @Scottmitch Can we continue working on existing pull request or create new ?

[2019-02-11 13:05] kevemueller opened #8860 "Feature request: SSH codec"
To whom it may concern,
I am wondering why there is no first class SSH codec available for netty. I am aware of jSCH, mina-sshd and termd as useable SSH implementations, but despite mina-sshd offering a netty wrapper the programming model is very different from pure netty.
Is there any specific reason why this was left out? Is there interest in addressing this?

Cheers,

Keve

[2019-02-11 13:14] normanmaurer commented on #8860
@kevemueller there are currently no plans to add this to netty itself. That said there is no reason why you could not implement something like this by yourself and host it in your own repository.

[2019-02-11 14:09] mld-ger opened #8861 "Cause Exception is Swallowed when ChannelOperationsHandler#channelRead throws"
I had the case that my application throwed an IllegalStateException when ChannelOperationsHandler#channelRead was invoked. The Exception is caught by
[code]
(ChannelOperationsHandler:163)

But the Throwable is never printed since ReferenceCountUtil#safeRelease is invoked without passing the original error.
This behavior is unexpected because the Exception that gets thrown in the end does not refle

[2019-02-11 14:49] normanmaurer commented on #8861
@mid-ger Netty does not contain any class Called `ChannelOperationsHandler`.

[2019-02-11 15:11] kachayev commented on #8861
I think the issue refers to `reactor-netty` project. @mld-ger right?

[2019-02-11 15:26] mld-ger commented on #8861
You're absolutely right @kachayev. I got confused by the stacktrace. I'll open an issue there.

[2019-02-11 16:11] #8861 closed

[2019-02-11 17:52] vietj commented on #8860
there is one SSH adapter available in Apache SSHD https://github.com/apache/mina-sshd/tree/master/sshd-netty

it's not a codec but it remains very easy to use and does all the heavy lifting for you.

[2019-02-12 12:34] kevemueller commented on #8860
Hi @normanmaurer, thanks for the heads-up. I fully understand that netty is perfectly suitable as a building block for a ssh client/server stack. I was just wondering why nobody ever did this, despite its clear advantages. I understand that you prefer not to have this in netty (core).

Hi @vietj, yes I am aware of Apache Mina SSHD and your work of linking it against a netty backbone. I am currentl

[2019-02-12 16:02] normanmaurer opened #8862 "Provide more information with the ClosedChannelException when fail operation with it"
If we close a Channel because of a failed write we should store the "original" exception in the `ClosedChannelException` that will be used to fail further operations to make it easier to understand why the Channel was closed before.

This came up yesterday in a discussion with @Scottmitch @ejona86 @carl-mastrangelo .

[2019-02-12 16:05] #8846 closed

[2019-02-12 16:06] ejona86 commented on #8862
+1

[2019-02-13 05:39] ldclakmal commented on #8742
The issue is fixed with #8848. Hence closing the issue.

[2019-02-13 05:39] #8742 closed

[2019-02-13 15:07] amizurov commented on #8857
@normanmaurer I don't now how, but after last sync with Netty upstream everything work properly ))) Maybe problem was in my environment.

[2019-02-13 15:07] #8857 closed

[2019-02-13 19:15] #8860 closed

[2019-02-14 10:57] mikomarrache commented on #8698
@normanmaurer

I'm seeing this behavior some time (a few hours, maybe more - I'm investigating) after the application is started.

I'm sure it's not related to the flush since I only call `writeAndFlush`.

I also strongly doubt that the remote peer doesn't read fast enough since, after establishing the connection and a few initialization messages, I only send small ping messages every 30 seconds.

[2019-02-14 11:08] mikomarrache commented on #8698
@normanmaurer

FYI, I'm not using the `Bootstrap.connect()` method as usual but I do the following:

[code]

I don't think that's related but just in case...

[2019-02-14 11:38] mikomarrache commented on #8698
I have multiple environments that have exactly the same application. The only difference is the number of `Channel`s created by the application (and therefore the number of read/write operations handled by the `EventLoop`). The problematic environment is the one with 200 `Channel`s while the other environments manage not more than 60 `Channel`s. Therefore, I'm tend to think the issue is related to

[2019-02-15 02:34] georgeOsdDev opened #8868 "DefaultFileRegion.transferTo with invalid count may cause hang"
### Expected behavior

`DefaultFileRegion.transferTo` will end successfully or throws Exception.

### Actual behavior

Thread will be hang and CPU usage increase to 100%

### Steps to reproduce

Initialize `DefaultFileRegion` with `count` larger than the actual `FileChannel ` size.

[code]

### Minimal yet complete reproducer code (or URL to code)

https://github.com/netty/netty/blob/4.1/example/s

[2019-02-15 10:46] tianzhenjiu opened #8869 "in websocket handshake"
When the websocket handshake, your http header is all lowercase. If the Sec-WebSocket-Key is also lowercase, it will return 400.

[2019-02-15 21:13] #8862 closed

[2019-02-16 01:04] #8801 closed

[2019-02-16 01:20] normanmaurer commented on #8868
@georgeOsdDev what you suggest we should do here ? You are saying we should check in the constructor that you do not construct something "invalid" ?

[2019-02-16 05:39] efimovandr commented on #8238
Got similar problem. Commented on commit which causes the issue: https://github.com/netty/netty/commit/583fc272f26373ff5f51c0871d9730370cd39a3e#commitcomment-32343726

[2019-02-17 11:40] ankitshubham97 opened #8871 "Could not find TLS ALPN provider; no working netty-tcnative, Conscrypt, or Jetty NPN/ALPN available"
Please answer these questions before submitting your issue.

### What version of gRPC are you using?
1.13.1

### What did you expect to see?
The jar should be running fine.

I am using java 8 to build an executable jar. Below is the java version:
[code]
I am using gradle 3.4.1 to generate the jar as follows:
`/opt/gradle-3.4.1/bin/gradle jar -Dorg.gradle.java.home=/usr/lib/jvm/java-1.8.0-openjdk-a

[2019-02-17 21:14] SplotyCode opened #8872 "http: netty does not upgrade to https"
### Expected behavior
Netty handles the HTTP response or upgrades it to https
### Actual behavior
Netty handles to https requests fine but fails on http request eg resets connection (upgrade-Insecure-Requests
1 does not change anything)
### Steps to reproduce
Netty pipeline with SSLHandler, HttpRequestDecoder, HttpObjectAggregator, HttpResponseEncoder and HttpContentCompressor

### Minimal yet com

[2019-02-18 06:07] georgeOsdDev commented on #8868
I'm not sure to check `count` in the constructor.
`sun.nio.ch.FileChannelImpl` does not throws Exception even if `count ` is larger than real file size.
https://docs.oracle.com/javase/8/docs/api/java/nio/channels/FileChannel.html#transferTo-long-long-java.nio.channels.WritableByteChannel-

---
When CPU usage increase, It seems `NioSocketChannel.doWrite` is called repeatedly. So it seems to be a ma

[2019-02-18 07:08] normanmaurer commented on #8871
@ankitshubham97 we do not provide any pre-build version of netty-tcnative for AIX. You will need to compile it yourself.

[2019-02-18 07:09] normanmaurer commented on #8872
Please provide more details.... Like how exactly you test it, what exception, what you expect etc.

[2019-02-18 07:49] ankitshubham97 commented on #8871
@normanmaurer Could you tell how this can be done? Any guide/source where I can look up how to do it? I would appreciate any help.

[2019-02-18 07:56] normanmaurer commented on #8871
@ankitshubham97 https://netty.io/wiki/forked-tomcat-native.html#wiki-h2-6

[2019-02-18 08:18] ankitshubham97 commented on #8871
By the way, is there any option other than netty-tcnative that can be used in my use case? Are you aware of some? I would appreciate any help.

[2019-02-18 08:24] normanmaurer commented on #8871
@ankitshubham97 you will need to ask on the GRPC mailing list.

[2019-02-18 08:37] onethehappy opened #8873 "objectcleaner cpu 100%"
### Expected behavior

### Actual behavior
below is the result of "ps -mp 2633 -o THREAD,tid,time | sort -rn"

![cpu](https://user-images.githubusercontent.com/9351329/52937856-2ed26a80-339b-11e9-9062-8de3fe8e7f02.jpeg)

below is the relust of "jstat -gcutil 2633 1000 100":
![webwxgetmsgimg](https://user-images.githubusercontent.com/9351329/52938224-1dd62900-339c-11e9-924c-486e96ab23ae.jpeg)

the

[2019-02-18 08:45] normanmaurer commented on #8873
Yes this is a know bug and was fixed a long time ago (4.1.23.final is quite old). Please upgrade to latest version of Netty

[2019-02-18 08:45] #8873 closed

[2019-02-18 15:15] SplotyCode commented on #8872
No exceptions. I just added the ssl handler to a project and if I access with https I don't get redirected the requests with http are just not handled

[2019-02-19 03:53] huang-wd opened #8874 "access"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-02-19 07:45] amizurov commented on #8874
Hi, @huang-wd Could you please provides more information or close this is issue if it's mistake.

[2019-02-19 07:47] amizurov commented on #8869
Hi, @tianzhenjiu Could you please provide WebSocket upgrade request, because ``WebSocketServerHandshaker13`` can throw exception if this header is absent
[code]

[2019-02-19 11:37] pmlopes commented on #8530
Hi all, the `sameSite` attribute is now available and handled by most of the browsers and we start to see security scanners looking up for the attribute on code bases. IMHO I think this feature should be re-prioritized to the 4.1.x series and should not wait for the 5.x series (unless the 5.x is nearby).

Is there a way I could help on adding the attribute to 4.1 or you guys believe /(have strong

[2019-02-19 12:36] slandelle commented on #8530
The problem is API and binary compatibility. As long as Netty uses strict SEMVER, this can only go in Netty 5.

[2019-02-19 13:42] khodayar commented on #8337
I have the same problem, grpc-java 1.16.0 didn't solve the issue

[2019-02-19 15:25] lutovich opened #8875 "ChunkedWriteHandler does not close successful ChunkedInputs"
### Expected behavior
`ChunkedWriteHandler` invokes `ChunkedInput#close()` after the input is fully consumed and `ChunkedInput#isEndOfInput()` returns `true.`

### Actual behavior
`ChunkedInput#close()` is not invoked when the input completes successfully. This can result in resource leaks when the input is based on an external resource, like a file handle.

### Steps to reproduce

Run the attache

[2019-02-19 15:31] normanmaurer commented on #8875
@lutovich fix looks good. Please submit a PR :)

[2019-02-19 15:50] lutovich commented on #8875
@normanmaurer done, thank you.

[2019-02-20 08:13] #8874 closed

[2019-02-21 12:51] asafm opened #8878 "Possible LEAK using 4.1.24.Final"
### Expected behavior
No "LEAK" messages printed

### Actual behavior
The following ERROR log is printed:
[code]
### Steps to reproduce

I don't have yet a reproducible project yet. My Netty server is receiving traffic from both HTTP and TCP.

What I wanted to get is some hints to try to focus on specific area in the server.
Do you think this exception shows it's not a buffer I create, thus it's a

[2019-02-22 01:25] philsttr opened #8879 "KeyManagerFactory not supported when using openssl 1.0.2 at runtime"
PR #368 was supposed to enable KeyManagerFactory when the dynamically linked netty-tcnative binary is used with openssl 1.0.2 at runtime, but I'm finding that it is still not working for me.

### Expected behavior

KeyManagerFactory is supported when using the dynamically linked netty-tcnative binary with openssl 1.0.2 at runtime.

### Actual behavior

KeyManagerFactory is NOT supported when using

[2019-02-22 01:27] philsttr commented on #8879
Closing.  Meant to open this under netty-tcnative

[2019-02-22 01:27] #8879 closed

[2019-02-22 01:28] philsttr commented on #8879
https://github.com/netty/netty-tcnative/issues/434

[2019-02-22 10:13] m1schka opened #8880 "DNS Issue on Kubernetes (ndots=5 + search domain query)"
### Expected behavior
DNS Resolution works always

### Actual behavior
Some hosts are not resolving and keep getting DnsNameResolverTimeoutException.

[code]
The issue is not only relevant for cluster external dns entries, but also when querying `<service-name>`, which should resolve when using search path. using the FQDN `<service-name>.default.svc.cluster.local` makes the issue less noticable, e

[2019-02-22 11:01] normanmaurer commented on #8878
You most likely do not correctly release the buffer. Please turn on the paranoid leak detection and check the report there. It should give you a clue. Also you should upgrade as the version is really old.

Please reopen with more details if you still think its a netty issue

[2019-02-22 11:01] #8878 closed

[2019-02-22 12:57] normanmaurer commented on #8849
@amizurov @kachayev can you check https://github.com/netty/netty/pull/8881 ?

[2019-02-22 13:24] kachayev commented on #8849
@normanmaurer I'll check in a couple of hours.

p.s. One small thing, I think `test.log` was added by mistake.

[2019-02-22 13:28] normanmaurer commented on #8849
@kachayev ups yes... let me remove.

[2019-02-22 13:35] normanmaurer commented on #8868
Looking into it

[2019-02-22 20:25] kachayev commented on #8849
@normanmaurer Nice! Works on my end. I didn't have a strong reproducer but I saw quite a few WARN messages while running my tests. No I don't see any of those. Thanks.

[2019-02-22 23:26] SplotyCode commented on #8872
I really don't see an opertunity to allow https and redirect http to https.
In SSLHandler#decodeJdkCompatible directly calls setHandshakeFailure() both of the methods are private so there is no change to avoid that Http request are blocked by the SSLHandler

[2019-02-22 23:55] SplotyCode commented on #8872
OptionalSslHandler is the key here. After reading this https://github.com/netty/netty/pull/6438

[2019-02-22 23:55] #8872 closed

[2019-02-23 01:58] kachayev opened #8883 "Websocket client closing handshake to support "force close" after given timetout"
RFC455 defines that, generally, a WebSocket client should not close a TCP connection as far as a server is the one who's responsible for doing that. In practice, when I do not control the server, this might lead to connections leak if the server does not comply with the RFC.

[RFC455#7.1.1](https://tools.ietf.org/html/rfc6455#section-7.1.1) says

I suggest to add `forceCloseAfterMillis` option to

[2019-02-23 08:42] huqingkang commented on #8791
My question has been there for more than a month. Why hasn't anyone replied?
Please help me. Thanks a lot！ @adamv @sprsquish

[2019-02-23 09:11] mpfau commented on #7020
Is probably related to https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8219617

[2019-02-23 21:21] eaglerainbow commented on #8685
I think I found the root cause in a cache, which is on application level.

However, I also got indications that under high-load situation there is still a race condition (in 4.1.31), which could lead to the debug-leveled error message

[code]

which is raised by https://github.com/netty/netty/blob/9e5073960191d43dfa07277545f272da0c1f385a/transport/src/main/java/io/netty/channel/pool/SimpleChannelP

[2019-02-23 21:21] #8685 closed

[2019-02-24 20:09] amizurov commented on #8849
@normanmaurer Thanks, looks good. No more WARN messages on my side.

[2019-02-25 07:55] #8849 closed

[2019-02-25 09:51] kachayev opened #8884 "DNS query encoder emits potentially released buffer"
I don't have a reproducer, just spotted it reading the code [here](https://github.com/netty/netty/blob/d02b51965f6b4906ca1f8f9648c2eb801df7b94a/codec-dns/src/main/java/io/netty/handler/codec/dns/DatagramDnsQueryEncoder.java#L65-L76).

If an exception was thrown somewhere in `encodeHeader`, `encodeQuestions` or `encodeRecords` we release the buffer and still emit a new `DatagramPacket` with it. Har

[2019-02-25 09:55] normanmaurer commented on #8884
@kachayev huh ? Why would we emit a new DatagramPacket ? We will never reach the `out.add(...)` in this case. What I am missing ?

[2019-02-25 09:59] kachayev commented on #8884
Oh... Yeah, my bad. Misinterpreted it while debugging 🤦‍♂️

[2019-02-25 09:59] #8884 closed

[2019-02-25 10:00] normanmaurer commented on #8868
@georgeOsdDev PTAL https://github.com/netty/netty/pull/8885

[2019-02-25 14:50] oberlies commented on #614
Right, Windows doesn't support pipes, so they are implemented through a connection to the loopback device (see also this [wontfix JDK bug](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=6907260)).

I today also had the the problem that the PipeImpl constructor took several seconds on Windows, but an OS restart fixed the problem for me...

[2019-02-26 10:08] #8868 closed

[2019-02-26 16:21] normanmaurer commented on #8880
@m1schka let me know once you have a reproducer

[2019-02-26 16:21] normanmaurer commented on #8880
Also please try to update to latest Netty version and see if this still exists.

[2019-02-26 16:22] normanmaurer commented on #8869
@tianzhenjiu ping

[2019-02-26 20:01] normanmaurer commented on #8883
@kachayev this sounds good... Its also inline with what we do in SslHandler.

[2019-02-26 20:28] normanmaurer commented on #8855
@slandelle @marcban so I am a bit confused what should be done here... Anyone interested in a PR ?

[2019-02-26 20:47] kachayev commented on #8883
@normanmaurer I'll do a PR for WebSockets first, as I know this code quite well. Will check `SslHandler` later ;)

[2019-02-26 20:50] normanmaurer commented on #8883
Sorry maybe I was not clear here... we have this kind of code already in SslHandler. I just wanted to mention it as it may gives you some good examples

[2019-02-26 20:51] kachayev commented on #8883
Ah, okay! Now it's clear. I thought you meant that we need to do the same for SSL. Thanks!

[2019-02-26 20:56] marcban commented on #8855
For me the correction would only be to delete the `case ‘;’ :` on line 230 of QueryStringDecoder.java. But maybe there are tests to correct also. Never done a PR but I can try...

[2019-02-27 03:07] gfYaya opened #8892 "Why we need to reset the readingChunks =true in the Handler of http/upload examples?"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-02-27 03:19] gfYaya commented on #8892
I'm a green hand in netty, then I started to learn netty by the examples in the github.
Now I start the Http upload exersice by this demo: https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/http/upload/HttpUploadServerHandler.java.
From line 168 to 171,
if (readingChunks) {
                // Chunk version
                responseContent.append("Chunks: ");

[2019-02-27 03:22] gfYaya commented on #8892
Oh , I'm so sorry, The channel Handler is not thread safe. How to delete this issues?
I'm so sorry for that....
Sorry.

[2019-02-27 03:37] gfYaya commented on #8892
Because a ChannelHandler can belong to more than one ChannelPipeline, it can be
bound to multiple ChannelHandlerContext instances. A ChannelHandler intended
for this use must be annotated with @Sharable; otherwise, attempting to add it to
more than one ChannelPipeline will trigger an exception. Clearly, to be safe for use
with multiple concurrent channels (that is, connections), such a ChannelHand

[2019-02-27 06:05] xzzh999 commented on #8698
@normanmaurer
I have the same problem, just keep logging and CPU comes too high:
[code]

[2019-02-27 06:17] normanmaurer commented on #8698
@xzzh999 any reproducer ?

[2019-02-27 07:22] xzzh999 commented on #8698
@normanmaurer

use: io.netty: netty-all 4.1.24.Final

almost at the time of 1~2 hours after startup a pool but do nothing, here is the simple code snapshot:
[code]

[2019-02-27 07:29] normanmaurer commented on #8698
@xzzh999 so you not even serve any traffic ?

[2019-02-27 07:31] xzzh999 commented on #8698
@normanmaurer  very low traffic, there are about 20 remote endpoints, but only 2 are alive.

[2019-02-27 08:06] kevin70 commented on #3539
I had the same problem at `netty-4.1.31.Final`.

[code]

[2019-02-27 08:25] slandelle commented on #8855
I suppose you mean: if my server is Netty and uses `QueryStringDecoder`, I have to encode semicolons manually so `QueryStringDecoder` doesn't mess up with parsing, as URI.toString() won't encode them (which is expected).

This is a low hanging fruit so it would be a perfect ft for a first PR indeed :)

[2019-02-27 09:31] cemehehko opened #8893 "Can't find PingMessage class from javadoc example"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-02-27 10:34] normanmaurer commented on #8893
Which class exactly you are talking about and where exactly is it linked ?

[2019-02-27 10:36] normanmaurer commented on #8698
unfortunally I will need some kind of "full reproducer" that I can run.

[2019-02-27 11:26] normanmaurer commented on #8238
@mihalyr I think adding a new method (as long as its on a class and not interface) sounds good.

[2019-02-27 12:40] cemehehko commented on #8893
In class IdleStateHandler there are:
 * // Handler should handle the {@link IdleStateEvent} triggered by {@link IdleStateHandler}.
 * public class MyHandler extends {@link IdleStateAwareChannelHandler} {
 *
 *     {@code @Override}
 *     public void channelIdle({@link ChannelHandlerContext} ctx, {@link IdleStateEvent} e) {
 *         if (e.getState() == {@link IdleState}.READER_IDLE) {
 *

[2019-02-27 12:49] cemehehko commented on #8893
I've found IdleStateHandler is not only about WebSocket. It is my mistake. MyPingMessage or MyProtocolPingMessage name will be better.

[2019-02-27 13:18] RoganDawes opened #8894 "Netty SubChannelHandler"
Similar to #7484, I have a requirement to provide a Channel implementation for users to add their own handlers to, but I have my own handlers that need to retain their original positions in the overall data flow.

I chose to approach this by adding a SubChannelHandler to the primary ChannelPipeline, that contains a custom Channel implementation (SubChannel) that simply forwards traffic back on to

[2019-02-27 13:28] normanmaurer commented on #8894
I would be interested to see the code to better understand what you did and if it would be useful in general :)

[2019-02-27 13:40] kachayev commented on #8893
@normanmaurer Ref to the Javadoc in question: https://netty.io/4.1/api/index.html?io/netty/handler/timeout/IdleStateHandler.html

[2019-02-27 15:02] RoganDawes commented on #8894
Here is the commit where I add the code for my own project:

https://github.com/sensepost/mallet/commit/2d53fdae2ec229eded60830f32e69dda3adb961d

You can think of it as a way to "divert" messages onto a new Channel, and back on to the primary channel, if that helps. As mentioned, the motivation was to allow users to modify "their" pipeline as they wish, without affecting my own handlers in Mallet,

[2019-02-28 01:21] Bennett-Lynch opened #8897 "[Netty 5] Make HttpMethod an Enum"
Why is [HttpMethod](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpMethod.java) not an enum?

Is it so that it can be extended?  If so, is there any valid concern in not being able to extend it?

Making it an enum would make comparisons cleaner, possible input values more transparent, and allow it to be used in data structures like [EnumMap](https:

[2019-02-28 03:01] trustin commented on #8897
It is to support other HTTP-like protols like STOMP and RTSP. It is also useful to handle a non-standard method which is not defined in RFCs. For example, a user could add support for a new HTTP method like PATCH even before we add it to the list. (We already support PATCH, but it's just an example.)

However, I think using an enum has its own advantage, so I'm not against reconsidering this old d

[2019-02-28 03:43] Bennett-Lynch commented on #8897
Just to be pedantic, and to argue in favor of the enum approach, would it be fair to say that "HTTP-like" should not be an "HttpMethod"?

Understood on the RFC-extension case, though I'm not sure how legitimate of a concern that is.

I'm an enum-junky, and this has always been sort of a Netty API annoyance for me.

[2019-02-28 03:46] trustin commented on #8897
I agree with you that they'd better using `StompMethod` or `RtspMethod`. I think it's doable with some refactoring in 5. Didn't give much thought, but it's good time to make it happen.

[2019-02-28 07:23] doom369 commented on #8897
@Bennett-Lynch +1. I considered this too. However, from performance point of view this doesn't make any sense as `HttpMethod` does equals by reference and, in fact, uses `EnumMap` for lookups. Code still could be simplified a bit with enums.

[2019-02-28 07:37] slandelle commented on #8897
I’m strongly against enforcing a closed list of HTTP methods. I’ve been reported custom HTTP methods many times, eg Varnish’s PURGE https://varnish-cache.org/docs/trunk/users-guide/purging.html. One never know what users will come up with, all the more when this works fine with most common technologies, eg curl.

[2019-02-28 08:47] SplotyCode commented on #8897
What we could do is creating an interface named HttpMetod that has a getName() method and then an Enum named DefaultHttpMethod what implements HttpMetod.

If the request it a standard Http Method we could assign the enum and if not we create HttpMetod interface. If you like that design I could do a PR.

[2019-02-28 08:49] tommy-ham opened #8898 "Suspected that HttpToHttp2ConnectionHandler.java has a bug"
Hello, I'm using HttpToHttp2ConnectionHandler class to send responses to client in multi-threaded environment.

While reading the class, I have found that the currentStreamId was defined as a global variable.

I think that the variable should not be global because the write method on this handler might be called by multiple threads simultaneously so it cause the crash of the variable.

If the code

[2019-02-28 08:56] vietj commented on #8897
WebDav has specific HTTP methods too.

[2019-02-28 08:58] normanmaurer commented on #8898
The handler must not be shared between different Channels and so it is guaranteed that its methods are always executed by the same EventLoop which means by the same thread. If you trigger a write from outside of the EventLoop it will be dispatched on the EventLoop and so run on the right thread.

[2019-02-28 08:58] #8898 closed

[2019-02-28 09:28] tommy-ham commented on #8898
Thank you for your response and kindly explain.

I understood your explain. but I have a additional question related with this.
I think that if I use FullHttpResponse as parameter then your explain is right but If I use two message with HttpMessage and HttpContent seperately then the header frame and the data frame might have a different streamId each other.

Thank you.

[2019-02-28 17:34] marcban commented on #8855
1/ exactly!
2/ I have some docs to read first... :-)

[2019-02-28 20:13] #8875 closed

[2019-03-01 01:19] Bennett-Lynch commented on #8894
+1.  I've encountered the need for this use case on multiple occasions, where you want to expose the elegant concept of a Netty pipeline to library users, but still maintain full control of installing certain codecs at the beginning of the pipeline, or exception handlers at the end of the pipeline.

Imagine you're vending something like a Netty-backed HTTP server, and you want to allow users to de

[2019-03-01 09:51] pradeepKumar32 commented on #8717
i still have this issue can anyone help?

[2019-03-01 10:32] normanmaurer commented on #8717
How you setup your netty pipeline ?

[2019-03-01 14:29] normanmaurer commented on #8893
It's just an example of a class and not part of netty itself. So I think it is fine ?

[2019-03-01 14:29] #8893 closed

[2019-03-01 14:30] normanmaurer commented on #8880
@m1schka any update ?

[2019-03-01 14:36] normanmaurer commented on #8869
closing as no response from the reporter. @tianzhenjiu please reopen if you still think this is an issue.

[2019-03-01 14:36] #8869 closed

[2019-03-02 09:27] vincentfree commented on #8259
+1

[2019-03-02 09:29] vincentfree commented on #8439
+1

[2019-03-02 23:18] kachayev commented on #8880
@m1schka Actually, this might be the problem with `kube-dns` not with Netty. [Here](https://github.com/kubernetes/kubernetes/issues/45976) is a long discussion about performance problems with the default settings of search domains + ndots=5. Is this the case?

[2019-03-04 04:29] pavanrangain opened #8911 "Trustmanager with Openssl as provider getting netty.io certificate before the actual server certificate"
Hi team,
I am trying to use netty-tcnative with openssl as provider. For client connections we are trying to give a trustmanager factory to check the validity of server certificate (using thumbprint/custom trust store). This works but first time the trustmanager 'checkServerTrusted' method is always called with certificate whose issuer is netty.io. Even if we throw CertificateException this callba

[2019-03-04 07:44] normanmaurer commented on #8911
@pavanrangain this is expected... during init of the `SslContext` we invoke your `TrustManager` one time to do some verifications. This is only down when building the SslContext, so you should only see the `netty.io` cert one time (during the build of `SslContext`).

As a side note you should re-use the `SslContext` and not build a new one all the time.

[2019-03-04 07:44] #8911 closed

[2019-03-04 08:10] magnus-gustafsson opened #8912 "Handling slow clients / detecting idleness"
### Expected behavior
When using `IdleStateHandler` with `observeOutput=true` the `IdleStateEvent.WRITER_IDLE` or  `IdleStateEvent.ALL_IDLE` should not trigger because of slow clients.
This is same issue as in #6150.

### Actual behavior
The `IdleStateHandler` triggers `IdleStateEvent.WRITER_IDLE` or `IdleStateEvent.ALL_IDLE` even though Netty is still writing to the client socket.

### Steps to r

[2019-03-04 21:24] andreisilviudragnea opened #8915 "HttpContentDecompressor does not wait until the whole GZIP member is read before issuing a message"
A minimal example project reproducing this bug can be found here: https://github.com/andreisilviudragnea/reactor-webclient-netty-bug

The Spring `WebClient` sometimes hangs indefinitely because of a possible bug in the [`reactor-netty`](https://github.com/reactor/reactor-netty) and/or [`netty`](https://github.com/netty/netty) projects. The root of this bug is that the `channel.read()` call in [`Fl

[2019-03-04 21:25] andreisilviudragnea commented on #8915
Refering https://github.com/reactor/reactor-netty/issues/628 here.

[2019-03-05 03:11] jz499 opened #8916 "ava.lang.NoClassDefFoundError: Could not initialize class io.netty.util.internal.shaded.org.jctools.util.UnsafeRefArrayAccess"
I am trying to start a Spark Session but during the initialization process I'm consistently getting errors for netty, version 4.0.56 also exhibited the same behavior.

### Expected behavior
No Errors
### Actual behavior
java.lang.NoClassDefFoundError: Could not initialize class io.netty.util.internal.shaded.org.jctools.util.UnsafeRefArrayAccess  at io.netty.util.internal.shaded.org.jctools.queues.

[2019-03-05 08:02] normanmaurer commented on #8916
Please upgrade to the latest 4.1.x version and report back if this still happens.

[2019-03-05 08:04] normanmaurer commented on #8897
@Bennett-Lynch @trustin @doom369 WDYT about the concerns raised here ? I think with all this in mind it would be better to just keep it as it is.

[2019-03-05 08:07] normanmaurer commented on #8915
@andreisilviudragnea is there any way you could reproduce it with plain netty ? From a quick look I think what netty does is correct.

[2019-03-05 08:45] trustin commented on #8897
Yes. Valid concerns raised.

[2019-03-05 08:53] andreisilviudragnea commented on #8915
Sure, I will try to create a separate sample project using plain netty.

[2019-03-05 09:04] normanmaurer commented on #8894
@RoganDawes thanks... I will review it very soon. Sorry I am a bit busy atm :/

[2019-03-05 09:08] RoganDawes commented on #8894
No problem! I appreciate all that you do!

[2019-03-05 10:00] machao23 opened #8917 "OutOfMemory Error"
Netty application seems to gradually 'eat up' all memory and eventually out of memory. But Netty LEAK detection doesn't show anything.

This screenshot shows  the heap dump , and the load on product server is pretty low - 50req/sec, with ~40 active connections.
![image](https://user-images.githubusercontent.com/5095336/53795269-92988e00-3f6c-11e9-9fa0-f706e9cb752a.png)

And  found out too many poo

[2019-03-05 11:42] violetagg commented on #8915
@normanmaurer @andreisilviudragnea I created an HttpClient with plain Netty that makes a request to this server (https://github.com/andreisilviudragnea/reactor-webclient-netty-bug/blob/master/src/main/kotlin/com/example/server/Server.kt)

https://gist.github.com/violetagg/a56f3e67fd004571559bd87e9625912a

Important for this issue is that auto read is false

[2019-03-05 11:54] andreisilviudragnea commented on #8915
Thank you, @violetagg for the Netty example. Seems like the problem is still reproducible.

[2019-03-05 15:48] jz499 commented on #8916
I have upgraded to the latest build "netty-all-4.1.34.Final-20190305.083539-41", and I still get the same errors.

[2019-03-05 18:11] normanmaurer commented on #8916
this is strange... Seems like it is caused by `jctools`.

@nitsanw any idea:

[code]

[2019-03-05 18:48] Bennett-Lynch commented on #8897
Yes, I think enough valid concerns were raised.  Closing this out.  Thanks everyone for your feedback.

[2019-03-05 18:48] #8897 closed

[2019-03-05 21:25] Bennett-Lynch commented on #8543
I find this particularly interesting. Could someone elaborate on why this would be a feasible option now, as opposed to before? Removing the need for reference counting would be a huge win.

[2019-03-06 03:38] xaidanwang opened #8920 "spring and netty"
### I want to start the spring boot project after launching! Netty listens to other ports for network interaction.

### But when I start the project, I always report the error .The message as follows:
### Description:
An attempt was made to call the method io.netty.util.concurrent.DefaultEventExecutorGroup.<init>(ILjava/util/concurrent/ThreadFactory;)V but it does not exist. Its class, io.netty.ut

[2019-03-06 06:10] xaidanwang commented on #8920
I used redis in this project. ，my pom.xmd add this
 <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-data-redis</artifactId>
            <version>2.1.3.RELEASE</version>
        </dependency>
and application.yml configure
server:
  port: 9002
spring:
  application:
    name: sppc-ghost-slave
  redis:
    host: 192.168.48.138
    port:

[2019-03-06 06:33] pradeepKumar32 commented on #8717
final ChannelPipeline pipeline = channel.pipeline();
        pipeline.addLast(READ_TIMEOUT_HANDLER_NAME, new ReadTimeoutHandler(this.readTimeout));
        pipeline.addLast(WRITE_TIMEOUT_HANDLER_NAME, new WriteTimeoutHandler(this.writeTimeout));

        final SslHandler sslHandler = this.sslContext.newHandler(channel.alloc());
        sslHandler.handshakeFuture().addListener(new SSLHandshakeCompl

[2019-03-06 09:13] RoganDawes commented on #8894
A couple of implementation details that I thought I would mention.

The base SubChannel delegates 99% of its methods back to the parent Channel, for things like ChannelAttributes, etc. I then extended the SubChannel into DatagramSubChannel, DuplexSubChannel, etc to accommodate handlers that want to know more about the Channel that they have been added to. See https://github.com/sensepost/mallet/co

[2019-03-06 09:26] amizurov commented on #8920
@xaidanwang I think it's because you use two different version in your dependencies. Try to use one version 4.1.31.Final.

[2019-03-06 10:08] xaidanwang commented on #8920
thank you for your help，You are right.

[2019-03-06 10:09] #8920 closed

[2019-03-06 12:56] nitsanw commented on #8916
@jz499 This is very strange... Java refs are either 4b (compressed oops) or 8b, there's no other option AFAIK. Can you check if jctools can build cleanly on that machine?

[2019-03-06 14:57] normanmaurer commented on #8543
@normanmaurer mostly because the JVM did make multiple improvements in terms of GC. That said after some initial tests I am not really optimistic we can remove it :/

[2019-03-06 17:01] normanmaurer commented on #8915
@andreisilviudragnea @violetagg thanks a lot!

It should be fixed by https://github.com/netty/netty/pull/8922... PTAL

[2019-03-06 17:24] jz499 commented on #8916
I have tried several version of JCTools and netty but the problem still persists, I did find another reference online for this issue.  https://sourceforge.net/p/ikvm/mailman/message/35520859/
Please review the link it seems to be a valid root cause analysis.

[2019-03-06 17:48] nitsanw commented on #8916
The link is suggesting missing intrinsics, but these are established on 8u192 AFAIK. Can you build JCTools on the machine in question?

[2019-03-06 18:53] rkapsi commented on #8894
Regards going down the purely `SubChannelHandler` route. In my own endeavors I've found it to be not viable. I always try to stick to Netty APIs and design patterns and when people ask me I try to point them to the code, javadoc et. al.

The problem with the `SubChannelHandler` path is (if I understand it correctly) that one can always `ctx.pipeline()` or `ctx.channel().pripleine()` for example an

[2019-03-06 19:38] jz499 commented on #8916
Yes, I'm able to buid JCTools with 1 minor error.

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary for JCTools Parent 2.2-SNAPSHOT:
[INFO]
[INFO] JCTools Parent ..................................... SUCCESS [ 11.163 s]
[INFO] JCTools Build Tools ................................ SUCCESS [  8.035 s]
[INFO] Java Concurrency Tools Core Library ...

[2019-03-07 06:46] RoganDawes commented on #8894
Obviously, if you try hard enough, you can mess anything up, for example, using reflection, etc.

In my SubChannel implementation, you can get to the parent channel easily enough, via ```ctx.pipeline().channel().parent()```. However, an average, non-malicious handler will remain within the SubChannel pipeline if it uses any of the standard ```ctx.pipeline().add/remove*()``` methods.

But I think y

[2019-03-07 07:54] Nick-The-Uncharted commented on #7497
@normanmaurer I think @seiferff is trying to say that if we just close channel when channel being idle, it is possible that this channel is already acqured from channelPool and used by our bussniess-logic thread, and then the bussniess-logic will get a ClosedChannelException. So its best to let ChannelPool to provide a method which close the channel if it is not already acquired.

[2019-03-07 08:51] andreisilviudragnea commented on #8915
The fix look ok to me. By far the most interesting bug I have encountered so far. Happy I could help you with it :)

[2019-03-07 09:31] #8915 closed

[2019-03-07 10:53] Qk1hpys commented on #6956
spring-boot-starter-data-redis&spring-boot-starter-data-elasticsearch still getting this problem now. And setting `es.set.netty.runtime.available.processors=false` can not solve this problem,why?

[2019-03-07 11:42] normanmaurer commented on #6956
@jasontedor any idea ?

[2019-03-07 15:30] violetagg commented on #8915
@normanmaurer Thanks for the fix. Can you share when you expect the next Netty release so that we can update Spring Boot?

[2019-03-07 15:37] normanmaurer commented on #8915
Tomorrow or Monday

[2019-03-07 15:40] violetagg commented on #8915
@normanmaurer Great. Thanks a lot.

[2019-03-07 19:19] normanmaurer commented on #8791
@huqingkang can you try to run the multicast test that we have in netty and see if it works for you ?
https://github.com/netty/netty/blob/4.1/testsuite/src/main/java/io/netty/testsuite/transport/socket/DatagramMulticastTest.java

[2019-03-07 19:22] normanmaurer commented on #8802
Please use stack overflow for questions . This is a bug tracker

[2019-03-07 19:22] #8802 closed

[2019-03-07 19:23] normanmaurer commented on #8917
Did you try to run with paranoid / advanced leak detection ?

[2019-03-07 21:09] kimec commented on #8915
Would it be possible to hit this issue even for non-gzipped content if the payload is sufficiently small (say < 60 bytes) and Transfer-encoding: chunked is used?

[2019-03-07 21:12] normanmaurer commented on #8915
I don’t think so

[2019-03-07 21:21] kimec commented on #8915
@normanmaurer I see, thank you.

[2019-03-08 16:38] chunhodong opened #8925 "Why do we really need multiple netty boss threads"
In single ServerBootStrap,  What's the effect of increasing boss thread?

[2019-03-08 19:20] normanmaurer commented on #8925
@chunhodong in the future please use stack overflow for questions as this is an issue tracker.

Anyway let me answer this one quickly... It only makes sense to use more than 1 when you bind multiple times (to different ports) or re-use it between different `ServerBootStrap`. Often it is good enough to just use the same group for boss and worker

[2019-03-08 19:20] #8925 closed

[2019-03-09 06:36] Nick-The-Uncharted opened #8926 "IdleStateHandler may close channel in use."
### Expected behavior
Any channel brrowed from channelPool should not be closed by ourselves.
### Actual behavior
According to the [example usage of IdleStateHandler](https://netty.io/4.0/api/io/netty/handler/timeout/IdleStateHandler.html) , we can just call ctx.close if the  IdleStateEvent was triggered, but this channel may just be brrowed from channelPool by another thread, if we close it that

[2019-03-09 20:43] normanmaurer commented on #8926
That is expected... You will need to remove the `IdleStateHandler` from the Channel before put it back.

[2019-03-09 20:43] #8926 closed

[2019-03-09 20:44] normanmaurer commented on #8766
Closing due no response and its not clear what the problem is

[2019-03-09 20:44] #8766 closed

[2019-03-09 20:45] normanmaurer commented on #8655
Sorry I still had no time to think about all of this but let me state that I am not super happy with the whole multipart code and I think we should consider a big rewrite

[2019-03-10 08:06] shivendra-kumar opened #8927 "Netty threads taking huge amount of heap space"
We are facing an issue in production where netty threads take hug amount of heap leading to lots of Full GCs. We are using Redisson- java client which uses Netty.

We noticed netty threads used by redisson consumed 12GB of total 16GB of allocated heap space in one application and 8GB out of 16 GB on another application . One observation i have made is that netty threads had created around 275,000

[2019-03-10 08:17] normanmaurer commented on #8927
Which version of netty? Also I think I will need the heap dump to analyze this :(

[2019-03-10 08:32] shivendra-kumar commented on #8927
Netty version is 4.1.25. Heap dump is very large around 30 Gbs. Also this issue persists even after multiple system restarts. I can share screenshots of specifc areas if that can help.

[2019-03-10 08:42] normanmaurer commented on #8927
That’s a very old netty version. Please upgrade to the latest first and let me know if the problem still persist

[2019-03-10 10:26] shivendra-kumar commented on #8927
Is there a reported issue of memory consumption in Netty - 4.1.25? If yes, can you please share the link?

[2019-03-10 15:37] normanmaurer commented on #8927
@shivendra-kumar we removed the `ObjectCleaner` as it had some problems. So yes it could been fixed already.

[2019-03-11 00:04] ninja- commented on #8927
have you been live reloading your app frequently while it's running?

[2019-03-11 02:08] Nick-The-Uncharted commented on #8926
@normanmaurer It's make senses if we are just using IdleStateHandler to detect response timeout (In fact, if our protocol has something like requestId, we dont need to wait for response before sending next request, and response of next request may come before first response, rendering the timeout of first response useless). But I am trying to use IdleStateHandler to save server resources, closing

[2019-03-11 03:06] tracyis opened #8928 "java.lang.VerifyError: io/netty/handler/codec/protobuf/ProtobufDecoder"
I tried use netty on Android 4.4, but it doesn't work

here is the log

[code]

initial code

[code]

[2019-03-11 03:13] shivendra-kumar commented on #8927
No we don't use live reloading. We just deployed the application and let users use it for a day. By the end of the day netty memory consumption reaches almost 80-90% of the total allocated heap.

[2019-03-11 07:41] normanmaurer commented on #8928
@tracyis this looks more like an android issue (may how you setup the project) then Netty. Are you sure you have the correct protobuf version on the class path ?

[2019-03-11 07:53] huqingkang commented on #8791
Thank you. It's settled today

[2019-03-11 07:54] #8791 closed

[2019-03-11 08:04] shivendra-kumar commented on #8927
Simulated it locally now attaching the heap dump.

[2019-03-11 08:44] tracyis commented on #8928
I checked out it may be a problem caused by multidex support to Android 5.0 or lower version.

[2019-03-11 09:37] normanmaurer commented on #8928
@tracyis yeah this looks more like a android / runtime / dependency problem then netty. Let me close this issue and please re-open if you still think its netty

[2019-03-11 09:37] #8928 closed

[2019-03-11 17:04] RaphaelDiana opened #8930 "ll future"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-03-11 17:07] #8930 closed

[2019-03-11 19:57] RoganDawes commented on #8894
@normanmaurer I was re-reading this issue too (https://github.com/netty/netty/pull/8778#issuecomment-458491166), and saw your comment about a child pipeline. To be honest, I have no real need for a new Channel implementation, but that was the only way I could see to get that "child pipeline" you mention.
If you have a better approach, I'd be happy to see it!
You did make me take a look at simply r

[2019-03-12 08:31] normanmaurer commented on #8927
@shivendra-kumar like I said please upgrade netty and report back. `ObjectCleaner` was removed due various issues.

[2019-03-12 09:24] shivendra-kumar commented on #8927
Attaching Heap Dump Screenshots
![netty1](https://user-images.githubusercontent.com/38030846/54188870-a6954000-44d6-11e9-907b-5ee5e6ed1de4.png)
![netty2](https://user-images.githubusercontent.com/38030846/54188871-a6954000-44d6-11e9-8c2c-1cfb59d5a7d3.png)

[2019-03-12 09:42] normanmaurer commented on #8927
@shivendra-kumar again please upgrade first and then re-run.

[2019-03-13 00:07] rpandar opened #8935 "Netty 2.0.22 bound to openssl 1.0.0"
Does netty support latest versions of ssl - 1.0.2 / 1.1.1 ? Here's the error is see when attempting to use it dynamically with version 1.0.2 installed on my box ( Linux x86_64)

-bash-4.2$ java -jar target/test-1.0-SNAPSHOT.jar -verbose
starting execution
Exception in thread "main" java.lang.UnsatisfiedLinkError: /scratch/opensslpoc/nettyJar/META-INF/native/libnetty_tcnative.so: /lib64/libssl.so.1

[2019-03-13 09:10] pradeepKumar32 commented on #8717
So we are using Http2ConnectionHandler and as found in this - https://github.com/netty/netty/issues/4197  . It directly connects over http2.
And by default in apache for h2 protocol, direct http2 is turned of by default.
Had to set `H2Direct on` then it started working

[2019-03-13 09:10] #8717 closed

[2019-03-13 15:42] Chenfengldw opened #8936 "Run cloned code and get error "java.lang.NoClassDefFoundError: io/netty/channel/EventLoopGroup""
1 git clone the repo; add Native transport dependencies to pom.xml.
2 "mvn clean package" under "netty/" and "netty/example/" path
3 cd example/
4 run "java -cp target/classes io.netty.example.echo.EchoServer"
5 get error

### Netty version
4.1
### JVM version (e.g. `java -version`)

java version "1.8.0_201"
Java(TM) SE Runtime Environment (build 1.8.0_201-b09)
Java HotSpot(TM) 64-Bit Server VM (b

[2019-03-13 21:14] 68CodingMonkeys opened #8937 "AbstractEpollServerChannel:86 Exception gives no information"
### Expected behavior
channelPromise.setFailure(new UnsupportedOperationException("server channel can not issue connect"));
### Actual behavior
channelPromise.setFailure(new UnsupportedOperationException());

### Steps to reproduce
EpollEventLoopGroup grp        = null;
grp = new EpollEventLoopGroup();
DomainSocketAddress socketAddress = new DomainSocketAddress( "/tmp/TerryPratchett" );

Bootstrap

[2019-03-14 19:07] kavehg opened #8938 "Investigating some local build failures"
FYI, I came across these local build failures recently when building on Ubuntu and Win7. Stack traces below
Some of these were discussed in #6666 and #2889 previously. Will update here as I check further

target (mvn version) | Windows 7 | Ubuntu
------------ | ------------- | -------------
install (3.6) | DnsNameResolverTest | BUILD SUCCESS
package (3.6) | DnsNameResolverTest | OsgiBundleTest: te

[2019-03-15 00:03] animageofmine commented on #6096
@jasontedor

We observed a fatal issue in production cluster where all data nodes died. The stack trace looks similar, so wondering if this is related. I posted my observations here:

https://discuss.elastic.co/t/all-data-nodes-died-on-the-cluster/172443/3

Would you mind peeking at the issue when you get a chance?

[2019-03-15 01:25] loganrosen opened #8940 "Add support for binding to NetworkInterface in Bootstrap"
`Bootstrap` allows you to set a `localAddress` for outbound TCP connections, either via the `Bootstrap.localAddress(localAddress)` or `Bootstrap.connect(remoteAddress, localAddress)` methods. This works well if you want to bind to just one IP address on an interface.

However, I am in a situation where a network interface has both IPv4 and IPv6 addresses, and I want to bind to one or the other bas

[2019-03-15 08:53] lh44 opened #8942 "With OPENSSL as SSL provider, no alert message is sent after TLS handshake failure"
### Expected behavior
We have a secured netty server and client implementations and we currently use OPENSSL as the SSL provider. During the TLS handshake, when the server produces an expired certificate, the client should send a TCP alert message(21) to notify about the certificate expiry to the server before sending a TCP FIN/RST.
This behavior exists when the SSL provider is JDK.

Wireshark tra

[2019-03-15 12:29] nitsanw commented on #8916
Sorry, I'm baffled as to why @jz499 would be able to run the build on the same machine and not hit this issue. The master JCTools now reports the ref size:
https://github.com/JCTools/JCTools/blob/81f135fa32ea53f1511114bb6dfdc87d1730b8a1/jctools-core/src/main/java/org/jctools/util/UnsafeRefArrayAccess.java#L51

Perhaps try with that version.

[2019-03-15 13:28] m1schka commented on #8880
sorry for the delay.

@normanmaurer it's hard for me to write a reproducer since I'm not directly using netty but vert.x. any help is appreciated.

It still occurs like ~1-2 times per day but significantly less after changing to FQDN for kubernetes services (i.e using `.<namespace>.svc.cluster.local`).

@kachayev I'm not using kube-dns but coredns. I'm aware of issues with kube-dns. Also I don't u

[2019-03-15 13:42] m1schka commented on #8880
I'm closing this issue until I've got a full picture on this issue. also watching https://github.com/weaveworks/weave/issues/3287 in the meantime

[2019-03-15 13:42] #8880 closed

[2019-03-15 17:04] rkapsi commented on #7987
If there is any interest in tracking this, Amazon's CloudFront is HTTP/1.0 (sadface).

[2019-03-15 18:55] jz499 commented on #8916
Is there a netty build with this new/modified jctool?

[2019-03-16 03:37] jz499 commented on #8916
It seems to be a problem with IKVM rather than netty (see link below)

https://stackoverflow.com/questions/50518771/netty-exceptionininitializererror

[2019-03-17 11:16] #8936 closed

[2019-03-17 14:22] Microsamp commented on #3778
Is someone currently working on this?

[2019-03-17 17:16] normanmaurer commented on #3778
Not that I am aware of

[2019-03-17 17:25] kachayev commented on #3778
@Microsamp I did some experiments with QUIC transport but that is far from being ready to review. Are you looking for QUIC itself or for some specific protocols on top of it, e.g. HTTP/3?

[2019-03-17 23:01] Microsamp commented on #3778
Basically i would love to "upgrade" my REST APIs, but QUIC for binary transmission would also fit.
Sometimes I think about writing an implementation for netty with some kolleagues, but I'm lacking time and experience with UDP...

[2019-03-17 23:36] jnorthrup commented on #3778
@see also https://fenrirproject.org/Fenrir/Fenrir_Project/wikis/home

On Mon, Mar 18, 2019 at 7:02 AM Microsamp <notifications@github.com> wrote:

[2019-03-18 03:27] sarowar-cse commented on #3778
@Microsamp Working group is still working on adoption of QUIC as http/3 and I remember reading somewhere it'll be late 2019 to finalize the standards. There's a IETF meeting in November. Hope we'll get something out of that meeting.
Current adoptions of QUIC protocol might vary from implementation to implementation. You'll find a nice list of implementations is [here](https://github.com/quicwg/bas

[2019-03-18 08:40] normanmaurer commented on #8942
Let me have a look.

[2019-03-18 10:57] normanmaurer commented on #8942
@lh44 should be fixed https://github.com/netty/netty/pull/8949

[2019-03-18 13:10] normanmaurer commented on #8940
@loganrosen so just to clarify... the interface is configured to have ipv4 and ipv6 addresses ?

[2019-03-18 15:49] lh44 commented on #8942
Thanks a lot, @normanmaurer!

[2019-03-18 17:42] #8942 closed

[2019-03-18 23:24] ajaycj opened #8950 "General SSLEngine problem"
Hello, I am seeing an weird behaviour when code is deployed to nodes and I am unable to reproduce it on my local. Unsure if huge number of call causing the issue or the handler that isnt catching the exception.
This is a web service that accepts client certificates to auth and act accordingly. This behaviour is not causing an issue, but would love to see a decent logging without all the exceptions

[2019-03-19 07:32] hongdaliu opened #8951 "how netty unbind a port immediately,"
### I bind many ports when start netty programmer, sometimes i want to unbind the port whitch i passed parameter  , but i don't konw how to do it, is anyone helps me to solve this program. thanks

### I also want to send reqeusts through http(s) server, i konw https need to add HttpProxyHandler in pipeline, but http uris don't works!

### Steps to reproduce

### Minimal yet complete reproducer cod

[2019-03-19 07:46] normanmaurer commented on #8951
Please use stack overflow for questions. This is a issue tracker.

[2019-03-19 07:46] #8951 closed

[2019-03-19 07:53] hongdaliu commented on #8951
hello

[2019-03-19 09:39] lh44 commented on #8942
@normanmaurer, does it make sense to extend this behavior to the server context as well?

[2019-03-19 09:55] normanmaurer commented on #8942
For Server it already works as expected

[2019-03-19 11:07] normanmaurer commented on #8950
There is nothing wrong with this... this is throw if the certificate is not valid that is present by the remote peer. If this should be logged or not is a question for the Vert.x devs. Please ask / or open an issue there.

/cc @vietj

[2019-03-19 11:07] #8950 closed

[2019-03-19 11:08] normanmaurer commented on #8937
Honestly I think it is just fine ... `UnsupportedOperationException` is quite clear imho.

[2019-03-19 11:08] #8937 closed

[2019-03-19 13:05] normanmaurer commented on #8935
Please upgrade to latest netty / netty-tcnative version. This should work with 1.0.2

[2019-03-19 13:05] #8935 closed

[2019-03-19 13:13] normanmaurer commented on #7586
I think we did this now:

https://github.com/netty/netty/commit/14ef469f3170842fdf6e3f41c745017fcd9679e4

[2019-03-19 13:13] #7586 closed

[2019-03-19 13:29] rkapsi opened #8953 "Thoughts on auto reading and read()"
The auto read flag can be tricky to use in a large/complex Netty application that is spread over dozens of handlers and where some handlers need to halt I/O for local state reasons but they do so by fighting over a flag that exists in the global state of the Channel. This can result in a situation where auto reading gets erroneously turned off or on while one handler in the pipeline is not ready y

[2019-03-19 13:59] kamenik opened #8954 "Add Automatic-Module-Name to MANIFEST.MF in 4.0.x branch"
Could you please add Automatic-Module-Name row to MANIFEST.MF even to 4.0.x branch? There is the issue with keyword native in jar name.

[2019-03-19 14:39] normanmaurer commented on #8954
@kamenik 4.0.x is EOL so there will be no new release. Use 4.1.x

[2019-03-19 14:39] #8954 closed

[2019-03-20 11:02] normanmaurer commented on #8604
As I mentioned in the PR I think this fix is not "correct" Please provide a reproducer and we can fix it tho. Closing it for now

[2019-03-20 11:02] #8604 closed

[2019-03-20 14:31] olpaw opened #8959 "Add native-image options and substitutions to netty artifacts for OOTB GraalVM native-image support"
As described in https://medium.com/graalvm/simplifying-native-image-generation-with-maven-plugin-and-embeddable-configuration-d5b283b92f57 (see _Composable native-image.properties_) GraalVM native-image building supports embedding native-image configuration options and substitutions right into jar-files.

Currently when Netty is used in the context of building an image, configuration options and s

[2019-03-20 14:34] 68CodingMonkeys commented on #8937
Ok fine with that but please answer me one question:

WHERE is that documented?

[2019-03-20 14:37] normanmaurer commented on #8959
Are you interested in providing a PR?

[2019-03-20 15:59] kavehg commented on #8938
The `DnsNameResolverTest` failures on Windows 7 appear to be due to resource contention on the single surefire process that runs the tests in the `resolver-dns` module.

Can be addressed in two ways:

1. Making memory changes to the surefire plugin configuration by adjusting the `<argLine>` with heap increases (/pom.xml)
2. Allowing the surefire plugin to launch more than one process per module to

[2019-03-20 20:51] pmlopes commented on #8959
The bare minimum 3 needed for any vertx app or the netty examples is here: https://github.com/pmlopes/vertx-starter/blob/develop/templates/graal-nativeimage/src/main/java/SVMSubstitutions.java

If you want I can help with this, just let me know which package would best and module.

[2019-03-20 23:37] nzhenry opened #8962 "netty-resolver-dns "Got bad packet: bad label type""
I have built a simple DNS proxy server using the Netty DNS resolver library. [See the code here.](https://github.com/nzhenry/dns-proxy)

It works for most queries but not all. For example, when I try to query the A records for "www.apple.com" using nslookup or dig, it fails intermittently with this error:
[code]
When it fails the debug log looks like this:
[code]
When it succeeds the log looks lik

[2019-03-21 07:59] ZhuWeiyang commented on #8575
I have also encountered this problem when using Netty 4.1.31.Final. However, it does not occurs on some old versions like 4.1.13.Final.
I compare the two versions and try to find out the difference. The issue may be enrolled by https://github.com/netty/netty/commit/2b4f6677917cbe4121c2b748ba7002f8ba4bb8b5.
I've made some comments on this commit.

[2019-03-21 09:33] SharpMan commented on #8685
@eaglerainbow
Something closes the channel twice before it finishes releasing the first call.
What was the fix done on the previous issue ?

[2019-03-21 10:05] olpaw commented on #8959
Obviously the vertx specific parts in SVMSubstitutions.java would need to be removed before adding it to the Netty codebase (e.g. with classname `io.netty.native.Feature`). Also using `@AutomaticFeature` is problematic. Better make it a regular feature and use
[code]
in `META-INF/native-image/io.netty/netty-all/native-image.properties`.

Even better, instead of using `RuntimeReflection.register` c

[2019-03-21 10:21] pmlopes commented on #8959
@olpaw yes the link I posted was an example, the vertx one should not be in netty of course, but in vert.x. Basically they are the same you also use on netty plot demo.

[2019-03-21 11:32] pmlopes commented on #8959
@olpaw could you review this before I open a pull request? https://github.com/pmlopes/netty/commit/26b8a14cfa61d9ae33f31a80beda8be8a685536d

@normanmaurer I am facing an issue with check style that does not recognize the copyright comment on the property files, could you peek at the commit above and let me know how I should format it? or just point me to some example (which i could not find on my

[2019-03-21 19:58] eaglerainbow commented on #8685
@SharpMan

Well, there is little asking to close it (at least how far I am able to overlook all this complex stuff). I have more the impression that the system "thinks" that (due an error?) the connection has to be closed. But this is mainly just guess-work from my side now.

That's a little more complex, but I'll try to summarize it as much as possible:
* Promregator (the client where netty is ru

[2019-03-22 09:56] trustin opened #8968 "Update Checkstyle to 8.18+"
.. because of potential vulnerability during the build. See: https://nvd.nist.gov/vuln/detail/CVE-2019-9658 and https://github.com/checkstyle/checkstyle/issues/6474

[2019-03-24 21:33] SplotyCode opened #8975 "Get current backlog and timedout connection counter"
We can set the max backlog but we can not get the current backlog size.
Netty also don't report when a connection is not handled because of the backlog.

I think this information is necessary for basic Metrics.

[2019-03-25 07:26] normanmaurer commented on #8975
There is no way for netty to know if there is a connection not handled because of the backlog as it is done by the kernel.

[2019-03-25 07:26] #8975 closed

[2019-03-25 07:26] normanmaurer commented on #8917
Please re-open with more infos once you can provide these if you still think this is a netty issue

[2019-03-25 07:26] #8917 closed

[2019-03-25 07:34] normanmaurer commented on #8892
Fixed here https://github.com/netty/netty/pull/8976

[2019-03-25 09:30] zhanfffmmm opened #8977 "serialize to SocketChannel"
hello
   Please help me
   my project detail code has [map <String,SocketChannel> map = new ConcurrentHashMap<String,SocketChannel>()],so I want to this code to replace in Memory server. it do not work when the Memory server serialize to SocketChannel to byte.how  can I do?can you suggest to me some way?

[2019-03-25 19:54] #8892 closed

[2019-03-25 19:56] normanmaurer commented on #8977
This is an issue tracker, please use stackoverflow for questions

[2019-03-25 19:56] #8977 closed

[2019-03-26 00:41] zhanfffmmm commented on #8977
thank you

[2019-03-26 01:47] loganrosen commented on #8940
@normanmaurer Correct. This is the code we're currently using to get the IPv4 and IPv6 addresses for the interface, in case it's useful:
[code]

[2019-03-26 02:21] NickleHuang opened #8978 "some question about object pool recycle"
i can't understand why recycle use strong reference stack to recycle object, sometimes lots of threads will cause memory error, i think should use soft reference instead of it, What do you think？

[2019-03-26 03:37] gfYaya commented on #8892
Thank you very much for your reply, normanmaurer .

[2019-03-26 07:32] normanmaurer commented on #8940
@loganrosen ok got it... let me think about it :)

[2019-03-26 07:32] normanmaurer commented on #8978
@NickleHuang what specific you think should be a `SoftReference` here ? Maybe you can provide a PR to show your idea ?

[2019-03-26 08:18] normanmaurer commented on #8968
working on it

[2019-03-26 08:19] trustin commented on #8968
Thanks, @normanmaurer

[2019-03-26 11:15] NickleHuang commented on #8978
@normanmaurer
I think that should keep the Stack in the Recycle object SoftReference object make it, I learned that you are using this Stack object to an object pool to reduce YGC, but do they have a problem: a large number of threads can cause full gc until the JVM crash, mostly don't know how parameters can adjust the size of the pool, there are a lot of people don't know why can lead to a crash

[2019-03-26 11:21] normanmaurer commented on #8978
@belliottsmith /cc

[2019-03-26 11:49] belliottsmith commented on #8978
This looks a lot like what [PR #8052](https://github.com/netty/netty/pull/8052) is trying to achieve, so probably better to discuss it there.

[2019-03-26 13:07] NickleHuang commented on #8978
@belliottsmith I looked at the link you gave me, but I didn't find the final solution.It is up to the user to specify whether to use the object pool or not

[2019-03-26 13:21] #8968 closed

[2019-03-26 19:46] normanmaurer commented on #8940
PTAL https://github.com/netty/netty/pull/8982

[2019-03-27 07:57] liuhaozzu opened #8983 "limit the access permissions of io.netty.channel.ChannelOption#newInstance"
### Expected behavior
#### limit the access of io.netty.channel.ChannelOption#newInstance from public to private.
now this method is public and will throw Excepiton when recreate a constant. It's better to use io.netty.channel.ChannelOption#valueOf(java.lang.String), it's much safer and easy to use.
### Actual behavior
now this method is public and will throw Excepiton when recreate a constant.
##

[2019-03-27 09:32] normanmaurer commented on #8983
I think this is expected and by design... that said I think we could deprecate it as we also dont use it at all in Netty... @trustin thoughts ?

[2019-03-27 09:59] whstywh opened #8984 "How does netty NioDatagramChannel get socket objects?"
I would use the extends NioDatagramChannel to call javaChannel().socket() to get the DatagramSocket object, but NioDatagramChannel is final.

[2019-03-27 10:32] medusar commented on #8509
what can i do if i'd like to shutdownInput in netty 4.1 ?

[2019-03-27 18:10] normanmaurer commented on #8984
You should not.. Why you need this ?

[2019-03-27 20:32] localstorm opened #8986 "Non-configurable epoll timeout"
After reviewing the internals of Netty 4 implementation it appears to me that if someone wants to offload heavy-lifting processing to a thread other than Netty IO thread they are running into the following issue:

Depending on what's going on on the same or other socket channel handled by the same thread and whether there are any tasks to execute any time soon, IO thread might decide to enter bloc

[2019-03-27 21:52] ninja- commented on #8986
Interesting observation. Are you sure you were able to see this in practice?
IIRC sending a task to eventloop will produce a wakeup event

The pattern you linked on stackoverflow is the best way to go.

Yes that's intentional to keep everything in sync. We already use write(...) syscall in nonblocking mode which is best option available.

[2019-03-27 22:11] localstorm commented on #8986
Interesting, so you basically say that in order to unblock epoll there is a special file descriptor which is always in the epoll list which other threads are writing into to wake it up.

Makes sense, I will take a look more into it, thank you for explaining.

[2019-03-27 22:11] #8986 closed

[2019-03-28 02:01] whstywh commented on #8984
I am trying to use the built-in VpnService in Android to capture traffic and send it to a remote server. I am trying to use Netty, but it seems that I have come to an impasse.

In order to send data from the phone to the server I need to call Protect() on the socket otherwise all the data I transmit will just be looped back into the VpnService. However I am not sure if it’s possible to get a hold

[2019-03-28 07:17] normanmaurer commented on #8984
@whstywh I see...

What you can do is to create a `NioDatagramChannel` from an existing `DatagramChannel` by passing it into the constructor. I think this should allow you to do what you want:

https://github.com/netty/netty/blob/netty-4.1.34.Final/transport/src/main/java/io/netty/channel/socket/nio/NioDatagramChannel.java#L147

[2019-03-28 07:17] #8984 closed

[2019-03-28 11:33] #8276 closed

[2019-03-28 15:11] RoganDawes commented on #8894
An additional rationale to provide ones own HeadContext is to avoid double-reading. i.e. current HeadContext calls ```readIfIsAutoRead()``` from ```channelActive()``` and ```channelReadComplete()```, which ends up triggering duplicate calls to ```read()```.
If I could provide my own ```HeadContext``` implementation, I could simply allow those ```read()``` invocations to be triggered by the parent

[2019-03-28 15:20] RoganDawes commented on #8894
Although, on further reflection, it may make sense to have an additional ```Channel``` implementation, because a common idiom is something like ```ctx.channel().pipeline()```, which would be a different thing to ```ctx.pipeline()```, and would allow unwitting escape from the child pipeline.
That said, I don't find ```ctx.channel().pipeline()``` anywhere in the netty code itself, so maybe my fears

[2019-03-28 20:20] jianjin opened #8989 "Big latency gap for both internal and remote Netty Events."
I run into a latency issue. So I turn the LoggingHandler on and see something like this:

* Case 1:

[code]

This two events REGISTERED and CONNECT should happen almost at the same time, right? Just Logically, one by one. I can not explain why it has a 35ms delay. There is no GC happened at that time. And the system alomost no load.

* Case 2:
[code]

Between Connect and Active, there is a 80ms la

[2019-03-29 11:08] tonyskulk commented on #3539
I have the same problem with **netty-4.1.33.Final**:

io.netty.channel.unix.Errors$NativeIoException: syscall:read(..) failed: Connection reset by peer

[2019-03-29 18:11] #8989 closed

[2019-03-31 13:45] sheunglaili commented on #8871
I met this issue as well. Turns out that if you are using intelij 32 bit version, it won't find a netty 64 bit library. Try using the 64bit version of intelij

[2019-04-01 06:48] normanmaurer commented on #8927
Closing as no response from reporter for almost 3 weeks. Please re-open if you still think there is any issue.

[2019-04-01 06:48] #8927 closed

[2019-04-01 06:49] normanmaurer commented on #8916
@jz499 btw as workaround you may want to use `-Dio.netty.noUnsafe=true` and see if this works for you

[2019-04-01 06:51] normanmaurer commented on #8712
Please upgrade to latest version and check again. I suspect you need to trigger a flush() again

[2019-04-01 06:54] normanmaurer commented on #8508
Ok let's close this as it seems the community would like to keep it.

[2019-04-01 06:54] #8508 closed

[2019-04-01 09:06] normanmaurer commented on #8529
I am not strong on this... @vietj @smaldini @slandelle @mosesn @vkostyukov WDYT ?

[2019-04-01 09:13] slandelle commented on #8529
I'm the one who suggested this, I'm still for in favor of it. I have never met an AsyncHttpClient user who was still using a draft version. Stable spec was release end of 2011.

[2019-04-01 11:34] liuhaozzu commented on #8983
yes, marking it as @Deprecated is also helpful for the new netty users.

[2019-04-01 11:47] normanmaurer commented on #8521
Let me work on this and throw `CompletionException` as `CompletableFuture` does.

[2019-04-01 11:56] rubensayshi opened #8993 "bind takes 5 seconds on osx, maybe related to logback-classic version"
I'm running into some weird interaction between `logback-classic` and netty which is cause netty to take 5 seconds extra to bind when using a version of `logback-classic` equal to or higher than `1.1.10`.

The difference in time taken is always 5 seconds and feels like some sort of sleep ...

Unfortunately I'm not familiar enough with either project to figure out why... :/
`5000` does appear multi

[2019-04-01 12:00] normanmaurer commented on #8993
@rubensayshi can you please provide a full reproducer example which contains all dependencies.

[2019-04-01 12:23] rubensayshi commented on #8993
@normanmaurer yea, I'll make a seperate repo, having a hard time reproducing it again ... (bit of a java newbie)

[2019-04-01 13:27] rubensayshi commented on #8993
https://github.com/rubensayshi/netty-logback-5s

I can reproduce the 5 second delay, but I can't seem to reproduce a scenario where the delay isn't there for earlier versions of logback, so it might have a different cause ...

[2019-04-01 14:01] SplotyCode commented on #8993
There are many issues were users complain about a bind delay. But I think it is knew to osx

[2019-04-01 15:23] georgeyanev opened #8994 "SO_REUSEADDR socket option not available for SCTP"
There is no possibility to set the SO_REUSEADDR socket option for a SctpServerChannel.
Is that on purpose or it is a bug?

[2019-04-01 15:35] #8994 closed

[2019-04-01 19:08] normanmaurer commented on #8962
I suspect it has to do with the maximal datagram packet size. Try to use `new FixedRecvByteBufAllocator(4096)` when you bootstrap your server.

[2019-04-01 21:20] nzhenry commented on #8962
I tried this:
[code]
No luck. Tried 8192 as well.

[2019-04-01 21:32] DanielBauman88 opened #8998 "Netty does not allow for configuring key store type"
### Expected behavior
I expect netty to allow me to specify configuration for the key store type to use.
### Actual behavior
Netty uses the default key store:
https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslContext.java#L1038
https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslContext.java#L1146
### Netty version
4.1
### JVM v

[2019-04-01 21:48] SplotyCode commented on #8912
I mean the idleStateHandler triggers when a channel has not performed a read or write action([in the doc](https://netty.io/4.0/api/io/netty/handler/timeout/IdleStateHandler.html))!

You specify that when the channel is not read for 10 seconds then trigger and in the client, you only read all 10 seconds (without subtracting the delay that it took). Of curse it will trigger the IdleStarthandler I me

[2019-04-01 21:58] SplotyCode commented on #8998
Seems correct. I will make a PR tomorrow if no else wants/will do it

[2019-04-02 00:22] omarkilani opened #8999 "Issue with Linux kernel 5.0.x and epoll"
I’m not confident in the exact culprit for this issue, but wanted to add it here in case someone else hits it and decides to Google.

There’s something wrong with netty and kernels 5.0 through 5.0.3 (haven’t tested 5.0.4 or 5.0.5 but the Changelogs don’t seem applicable).

I’m not sure if this is a JDK issue but I tried OpenJDK 11 and 12.

Basically, on 5.0.x I see a lot of extra WRITABILITY_CHANG

[2019-04-02 04:56] normanmaurer commented on #8999
Can you show me how you bootstrap your channel ?

[2019-04-02 05:08] omarkilani commented on #8999
Hi Norman,

Sure:

https://github.com/unfiltered/unfiltered/blob/0.10.x/netty-server/src/main/scala/Server.scala#L110

[2019-04-02 05:27] normanmaurer commented on #8999
Can you try to use EpollServerSocketChannel and EpollEventLoopGroup and let me know how it works out ?

[2019-04-02 05:29] magnus-gustafsson commented on #8912
The underlying socket is still being used, the client is still receiving data. Therefor the idelState should not be triggered.
If you check my gist you can verify this your self. You can also use tcpdump to verify this behavior.

[2019-04-02 09:40] rubensayshi commented on #8993
yea, I actually can't reproduce it on ubuntu ...

[2019-04-02 14:13] DanielBauman88 commented on #8998
Thank you!

[2019-04-02 14:17] normanmaurer commented on #8998
@SplotyCode thanks a lot... will review once done

[2019-04-02 17:04] omarkilani commented on #8999
Will do.

I added support for native transports to unfiltered:

https://github.com/unfiltered/unfiltered/pull/440

Will test it in some real apps soon.

[2019-04-02 19:02] normanmaurer commented on #8523
PTAL https://github.com/netty/netty/pull/9004

[2019-04-02 19:36] normanmaurer commented on #8993
@rubensayshi I think this is related to https://thoeni.io/post/macos-sierra-java/ and so nothing to do with netty. Can you check ?

[2019-04-02 23:16] omarkilani commented on #8999
Hi Norman,

Amazingly, I was able to repro this with a smallish unfiltered example.

One interesting thing to note is that I could repro it with HTTP keepalive off. With it on it doesn't trigger whatever the issue is.

Anyway, with native transports it works either way. So I'm not sure what that says. Are you interested in the repro case if it uses scala/unfiltered, or should I work on a "netty on

[2019-04-03 00:02] marcosfilho commented on #8337
I have the same issue running grpc-java 1.18.0

[2019-04-03 07:50] rubensayshi commented on #8993
yes, it actually is!

[2019-04-03 07:50] #8993 closed

[2019-04-03 08:59] qeesung commented on #8912
I reproduced the issue, I found that if the client's message processing speed is very slow (TCP window size is 0), it will trigger multiple Idle messages.

By looking at the source code, I found that if the client's processing speed was very slow, `IdleStateHandler` would trigger an Idle event to notify the user to avoid an `OutOfMemoryError` error .

But actually in my tests, if I encounter a slo

[2019-04-03 15:04] qeesung opened #9005 "Finer grained ChannelOutboundBuffer total pending write byte size changes."
`ChannelOutboundBuffer`  total pending write byte size decreases only when entry is removed from the flush list. But if a large Entry has been flushing slowly (for some reason, the network speed is slow, or the client processing speed is too slow to cause the TCP sliding window to be zero), then the total pending write byte size of `ChannelOutboundBuffer` is always unchanged when entry is flushing

[2019-04-03 15:41] qeesung commented on #8912
When using `IdleStateHandler` with `observeOutput=true`,  `IdleStateHandler` detects the output data changes by executing method `hasOutputChanged`

[code]
I noticed that `ChannelOutboundBuffer` total pending write bytes size will remain unchanged when flushing a large byte buffer entry. It doesn't change until all buffer data in entry is flushed into channel, so when IdleStateChannel encounters a

[2019-04-03 16:59] omarkilani commented on #8999
Just for my own notes, this is still broken in 5.0.5. I'm going to test on 5.0.6.

Is it fair to say that if it works with native transports we can rule out an issue in netty and it's more likely some JDK issue?

[2019-04-04 07:02] normanmaurer commented on #9005
@qiaodaimadelaowang this actually by design as until we wrote the full message we can not release it and so can not give the memory back to the pool. This helps to prevent OOME.

#8912  will need another "fix", I will have a look soon.

[2019-04-04 07:02] #9005 closed

[2019-04-04 07:04] normanmaurer commented on #8999
@omarkilani yes I would say so.

[2019-04-04 07:25] doom369 opened #9007 "OOM when uploading large files"
I was recently guarding our app with security checks and decided to limit the size of the http request. After this I found that server dies with OOM when I try to upload few large files.

In my test I:

- Run the server;
- Upload 3 times the same file with 1.4GB size;
- Server throws exceptions below;

[code]

Profiles result after 3 uploads:

[code]

Server eats 8 GB after 3 tries.

The main diff

[2019-04-04 07:32] normanmaurer commented on #9007
@doom369 I wonder if you can also run this with paranoid leak detection.

[2019-04-04 07:33] doom369 commented on #9007
I tried - no luck. No leaks.

[2019-04-04 07:34] qeesung commented on #9005
@normanmaurer  Ok, I noticed that each flush entry has a progress field (although the progress will only be updated if the promise of entry is instance of `ChannelProgressivePromise`). How about fixing #8912 by adding a check on entry's progress to the [IdleStateHandler. hasOutputChanged](https://github.com/netty/netty/blob/52411233d322c10687c03e99279cadbceec2b9f4/handler/src/main/java/io/netty/ha

[2019-04-04 07:35] normanmaurer commented on #9007
@doom369 just to be sure I not misunderstood you...

The server that did NOT OOME did have `Integer.MAX_VALUE` and the one that did had a value of `5242880 ` ?

[2019-04-04 07:37] doom369 commented on #9007
@normanmaurer correct. Flow that discard the upload due to large request size has OOM.

[2019-04-04 07:40] normanmaurer commented on #9007
@doom369 can you also show me the rest of the pipeline ?

[2019-04-04 07:43] doom369 commented on #9007
@normanmaurer my bad regarding leaks. I had turned off logging in other place. I see the leak now.

[code]

[2019-04-04 08:19] doom369 commented on #9007
@normanmaurer please ignore for now. It could be a bug in my handler due to changed flow introduced by request limit.

[2019-04-04 08:28] normanmaurer commented on #9007
@doom369 ok... keep me posted

[2019-04-04 08:54] shivendra-kumar commented on #8927
@normanmaurer Sorry for the super late response.  Upgarding netty did certainly help as the above issue is not coming anymore

[2019-04-04 09:17] normanmaurer commented on #8927
@shivendra-kumar thanks a lot for confirming :)

[2019-04-04 09:31] normanmaurer commented on #9007
@doom369 from the log it looks like you missed to release in `HttpStaticFile `.

[2019-04-04 10:32] doom369 commented on #9007
@normanmaurer yes, you are right. But what I don't get is why in case of large file size next handler  receives `DefaultHttpContent` chunks. My understanding was that in case of large file `HttpObjectAggregator` with return `FullHttpResponse TOO_LARGE`, however, seems like even in that case `DefaultHttpContent` are still received by next handler. So file is partially uploaded. Is that expected?

[2019-04-04 10:32] normanmaurer commented on #9007
@doom369 no this is not expected...

[2019-04-04 10:40] doom369 commented on #9007
@normanmaurer ok, I have one suggestion, but this could be just a guess.

`HttpObjectAggregator.handleOversizedMessage` has next code

[code]

`TOO_LARGE` is sent. That's correct.
However, `ctx.pipeline().get(HttpObjectDecoder.class)` always returns null.
I thinks this could be because I use `HttpServerCodec` in my pipeline and not `HttpRequestDecoder`. I didn't find a code that adds `HttpRequestD

[2019-04-04 12:05] normanmaurer commented on #9007
@doom369 yep this looks not correct... let me check

[2019-04-04 12:22] normanmaurer commented on #9007
@doom369 hmm while this code has a bug (as you pointed out) I don't get why you would receive more `HttpContent` instances for the request in the next handler as we should drop these on the floor as far as I see.

[2019-04-04 12:30] doom369 commented on #9007
@normanmaurer I believe browser start sending file chunks. Also, one detail - after I dropped file to the browser and 413 response in browser ~4 seconds are passed. During this periods server and browser consumes CPU a lot.

could you please point me to code you are refferring to?

[2019-04-04 12:47] normanmaurer commented on #9007
@doom369 https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/MessageAggregator.java#L277 ... That said from reading the code I think we need to also set `currentMessage = null` here:

https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/MessageAggregator.java#L294

WDYT ?

[2019-04-04 12:53] doom369 commented on #9007
@normanmaurer it is null due to this method https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/MessageAggregator.java#L400

[2019-04-04 13:17] normanmaurer commented on #9007
@doom369 true... so I am not sure why you would see more content :/

[2019-04-04 13:59] doom369 commented on #9007
@normanmaurer according to the debug it comes from:

`HttpObjectAggregator.MessageToMessageDecoder.channelRead()` finallly block:

[code]

And `out` is not empty because of this commit https://github.com/netty/netty/pull/8793/files where `MessageAggregator.acceptInboundMessage` method was changed.

[2019-04-04 14:01] normanmaurer commented on #9007
Interesting.... @rkapsi mind having a look ?

[2019-04-04 14:07] normanmaurer commented on #9007
@doom369 @rkapsi from a quick look I think this line must be removed:

https://github.com/netty/netty/pull/8793/files#diff-0522c090d2ed17d5b357324a06ace7a9R403

[2019-04-04 14:20] normanmaurer commented on #9007
@doom369 could you do the change and test it ?

[2019-04-04 14:38] doom369 commented on #9007
@normanmaurer tried the fix. Now file upload dropped instantly, however I don't get 413 error in the browser, just broken connection. Maybe not related, but it is hard to tell right now.

[2019-04-04 20:55] Bennett-Lynch opened #9012 "[Netty 5] Revisit HttpObjectDecoder.createInvalidMessage()"
I was poking around the `HttpObjectDecoder` internals recently and was surprised to see this behavior:

https://github.com/netty/netty/blob/ad928c19eb58578a3d30cd6eec1b2fa71d757d22/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectDecoder.java#L213-L214

https://github.com/netty/netty/blob/ad928c19eb58578a3d30cd6eec1b2fa71d757d22/codec-http/src/main/java/io/netty/handler/codec/http/Ht

[2019-04-04 21:30] doom369 commented on #9012
Hm. Nice catch. Saw this bad-request, after trying https://github.com/netty/netty/issues/9007#issuecomment-479911896 fix.

[2019-04-05 06:19] daschl opened #9013 "KQueue NativeIoException when profiling with JFR"
### Expected behavior

The following behavior is puzzling me to even look where to start debugging.

When using a combination Kqueue event loops and running a JFR recording on the running program, suddenly this error appears:

[code]

The interesting piece is I can start my workload fine and it runs for minutes, but as soon as I start a JFR this error pops up in the logs and doesn't go away. Any i

[2019-04-05 07:36] normanmaurer commented on #9013
No idea... that said we just discovered the same lately but had no time yet to investigate .

[2019-04-05 07:37] daschl commented on #9013
Okay, let me know if I can be of help debugging/verifying this somehow @normanmaurer

[2019-04-05 07:40] normanmaurer commented on #9013
Will do... /cc @idelpivnitskiy @jayv

[2019-04-05 07:43] normanmaurer commented on #9007
@doom369 what happens if you revert https://github.com/netty/netty/pull/8793 ? Do you get the 413 error ?

[2019-04-05 10:09] #8983 closed

[2019-04-05 12:45] violette opened #9016 "Illegal reflective access using Netty with openjdk-11 (docker + vertx 3.6.0)"
Hi all! I'll open that issue, I hope you guys could fix it ;) Tell me if you need more details.
Enjoy,

### Expected behavior
No warning about illegal reflective access

### Actual behavior

[code]
### Steps to reproduce

The application I used is based on vertx-web 3.6.0. When docker images starts up, the warnings are displayed.

### Netty version
4.1.30.Final.jar

### JVM version (e.g. `java -ve

[2019-04-05 13:08] normanmaurer commented on #9016
@violette this is fixed in the latest netty release. Please upgrade.

[2019-04-05 13:08] #9016 closed

[2019-04-05 13:17] violette commented on #9016
@normanmaurer  This comes from the vertx-web 3.6.0 which embeds Netty 4.1.30Final. Thank you!

[2019-04-05 14:03] normanmaurer commented on #9016
@violette vertx will need to upgrade then.

[2019-04-05 14:47] normanmaurer commented on #9013
@daschl just tried to replicate but no luck :/ Any special recording you did ? can you give me a step by step reproducer ?

[2019-04-05 15:00] daschl commented on #9013
Yes will try, the way I stumbled over this was by perf testing the new Couchbase SDK - will ping you if I can isolate it further

[2019-04-05 15:06] jayv commented on #9013
I have a reproducer @normanmaurer

[2019-04-05 22:25] fzakaria opened #9018 "SelfSignedCertificate fails with FIPS enabled causing OpenSsl to fail"
### Expected behavior

For compliance reasons, we have BouncyCastle FIPS mode enabled and use Netty's OpenSSL bindings for TLS termination.

I've noticed that Netty is failing to startup correctly since within `OpenSsl.java` static constructor it creates a `SelfSignedCertificate` with **1024** bits -- as such it is failing to create a KeyManagerFactory.

FIPS 140-2 encryption requires the key leng

[2019-04-06 05:20] normanmaurer commented on #9018
Sounds good 👌

[2019-04-08 16:31] kavehg commented on #8938
Had a chance to look at the failed DNS tests again and they appear to be caused by sporadic local DNS failures .. closing this for now

[2019-04-08 16:31] #8938 closed

[2019-04-08 18:08] #9018 closed

[2019-04-08 19:09] #9007 closed

[2019-04-09 08:30] normanmaurer commented on #9013
@jayv @daschl looking into it now

[2019-04-09 09:37] sdeleuze commented on #8959
Thanks for contributing the PR @pmlopes! I guess https://github.com/netty/netty/issues/8192 can be closed as a duplicate in favor of that one ?

[2019-04-09 19:20] normanmaurer commented on #9013
@daschl https://github.com/netty/netty/pull/9023 PTAL

[2019-04-09 19:30] daschl commented on #9013
@normanmaurer well get this patch tested tomorrow. I'm curious, did you figure out how JFR triggers this? Or is this a side effect of something else slowing down with the JFR profiling

[2019-04-09 19:31] normanmaurer commented on #9013
it basically interrupts from time to time the native call  which then produces the EINTR

[2019-04-10 05:09] normanmaurer commented on #9013
@daschl can you also test https://github.com/netty/netty/pull/9024 ?

[2019-04-10 05:11] normanmaurer commented on #9013
Also I have an idea for an unit test... working on it as we speak

[2019-04-10 05:15] #8521 closed

[2019-04-10 07:55] YangruiEmma commented on #8712
@normanmaurer Thanks! I have got reasons about  the two main questions that mentioned in this issue

Indeed, it is due to 4.0.21, the phenomenon just happen in 4.0.21 and never happen again when server upgrade to 4.0.24.
But why 4.0.21 cause Recv-Q backlog, I still don't know.

Because the default pool direct memory(64k) in ByteBufUtil, #7704 have updated to 0.
The UnpooledUnsafeDirectByteBuf of n

[2019-04-10 09:32] #9013 closed

[2019-04-10 13:25] #8883 closed

[2019-04-10 13:32] #8517 closed

[2019-04-10 13:32] normanmaurer commented on #8999
@omarkilani any update ?

[2019-04-10 13:38] normanmaurer commented on #8810
will start to work on this now

[2019-04-10 14:09] normanmaurer commented on #8999
@carl-mastrangelo @ejona86 @vkostyukov did you hear of anything like this in your env ?

[2019-04-10 14:41] omarkilani commented on #8999
I had to pause my research into this but 5.0.6 made the problem much more frequent.

I’ll test 5.0.7 today. I’ll close this if it’s taking up your brain space. It’s a very weird sort of issue, but I did manage to pcap it in production so I’m trying to study the wireshark output.

Happy to share that with you once I make sure there’s no customer data in it.

[2019-04-10 14:42] normanmaurer commented on #8999
@omarkilani would be interested

[2019-04-10 16:59] ejona86 commented on #8999
I've not seen anything similar to this in our environment, but we aren't running Linux 5.0 and we aren't running OpenJDK 11... I am aware of one binary that would be using OpenJDK 11+grpc, but it still wouldn't be running on Linux 5.0.

[2019-04-11 06:07] pcperera opened #9026 "isActive() returns true after syncing the disconnect() of server socket channel"
### Expected behavior
Upon invoking disconnect().sync() on NioServerSocketChannel, isActive() should return **false**.

### Actual behavior
isActive() returns **true** while isOpen() and isRegistered() returns **false**.

### Steps to reproduce

- Bind NioServerSocketChannel

- Print isActive(), isOpen(), isRegistered() state of the channel.

- disconnect().sync() server socket channel

- Print is

[2019-04-11 07:48] zbkpointer opened #9028 "Using class EmbeddedChannel test codec : invoking writeOutbound() method then invoking readOutbound()"
When I use class **EmbeddedChannel** to test the correctness of **LengthFieldBasedFrameDecoder** and **LengthFieldPrepender**  in custom protocol with ProtoBuf，I expect to  get all data by encoding . Firstly, I invoke the method **ch.writeOutbound()** to add my message object. Second , I  invoke the method **ch.readOutbound()** to get the **ByteBuf**. I expect get the ByteBuf that combines the len

[2019-04-11 08:35] ratcashdev commented on #7392
@anuragw could you please point me to the class/package that deals with off-loading tasks to various threads? Would `MultithreadEventExecutorGroup` be a right place to start?

[2019-04-11 08:59] RoganDawes commented on #8894
Thinking about the above further, the one significant place where ```ctx.channel().pipeline()``` is used is in ```ChannelInitializer```, albeit in a roundabout way.
```ChannelPipeline``` calls ```ChannelInitializer.handlerAdded(ctx)```, which calls ```initChannel(ctx.channel())```.
The common idiom inside ```initChannel(ch)``` is then something like:
[code]
In other words, the ```<channelHandler>`

[2019-04-11 12:29] normanmaurer commented on #9026
Thanks for reporting... This is a bug and should be fixed here: https://github.com/netty/netty/pull/9030

[2019-04-11 12:59] normanmaurer commented on #9028
@zbkpointer it works as expected as it produces two buffers. If you want to have both buffers merged you will need to call `readOutbound()` in a loop and merge these buffers.

[2019-04-11 12:59] #9028 closed

[2019-04-11 14:02] normanmaurer commented on #8999
@omarkilani I just talked with @franz1981 and he mentioned that maybe it is related to edge vs level triggered. NIO uses level triggered while our native epoll transport uses edge triggered by default. Could you try to switch to level triggered for epoll and see if you see the same effect ? Would be interesting to see the outcome :)

`bs.option(EpollChannelOptions.EPOLL_MODE, EpollMode.LEVEL_TRIGG

[2019-04-11 17:03] #9026 closed

[2019-04-11 17:14] Mr00Anderson opened #9031 "Typo Documentation - MessageSizeEstimator.class"
https://github.com/netty/netty/blob/00afb19d7a37de21b35ce4f6cb3fa7f74809f2ab/transport/src/main/java/io/netty/channel/MessageSizeEstimator.java#L19

"Responsible to estimate size of a message. The size represent how much memory the message will ca. reserve in memory."

I was going through the source and trying to determine where MessageSizeEstimator.class is used and what "ca" in the documentation

[2019-04-11 18:56] normanmaurer commented on #9031
@Mr00Anderson ca. == approximately  . So yep PRs welcome

[2019-04-11 19:26] sureshkrishnamoorthy opened #9032 "Cryptographic Issue"
Software quality and security analysis tool (Veracode) reports an error "Improper Validation of Certificate with Host Mismatch (CWE ID 297)(1 flaw)" in
https://github.com/netty/netty/blob/netty-4.1.34.Final/handler/src/main/java/io/netty/handler/ssl/OpenSslX509TrustManagerWrapper.java
Description : The failure to validate host-specific certificate data may mean that, while the certificate read was

[2019-04-11 19:43] normanmaurer commented on #9032
Sorry but you will have to provide more details.

[2019-04-12 03:13] jameskleeh commented on #7210
Just hit this today on 4.1.30

[2019-04-12 04:11] Fsstyle commented on #6891
useless

[2019-04-12 08:04] vikashsingh009 opened #9035 "Unexpected exception in the selector loop. java.lang.ArrayIndexOutOfBoundsException"
### Expected behavior
I have  used RocketMq Client  which  is  java  based used  IKVM  8.1  to  convert to  dll,
should sending  and  recieving  message
### Actual behavior
its  show  this  Warn  and  after  that  Not  able  to  Recieve Rocket Mq  consumer  Message

WARN io.netty.channel.nio.NioEventLoop - Unexpected exception in the selector loop.
java.lang.ArrayIndexOutOfBoundsException
	at io.n

[2019-04-12 08:59] ratcashdev opened #9036 "CPU thrash and slow response time on low number of Websocket connections"
### Expected behavior
any operation like `channel.write(new TextWebSocketFrame(data));` should ideally take only a couple of microsecs at best.

### Actual behavior
response times exceeding 10 seconds. Suddenly all available CPUs (32 cores) utilized 100%, even though there is only a single websocket connection.
LOGS of the sample app - see the "SLOW SEND" line:
[code]

### Steps to reproduce
compi

[2019-04-12 09:04] normanmaurer commented on #9035
@nitsanw any idea ?

[2019-04-12 09:26] ratcashdev commented on #9036
I've realized that the slow response is caused by a FULL GC event as the OLD GEN with this code grows rapidly and does not seem to be released. Please advice how to avoid this.

[2019-04-12 12:28] nitsanw commented on #9035
There’s no array access, so there should be no AIOOB Exception. This is not something one of the JVMs I test on would do. Can you provide a reproducer?

[2019-04-12 12:54] vikashsingh009 commented on #9035
I  have  tested  with  RocketMQ  Server Client  Mode here  is  the  steps

1)  download RocketMq server  from http://mirrors.estointernet.in/apache/rocketmq/4.5.0/rocketmq-all-4.5.0-bin-release.zip
2)   > Start nameserver:

 # cd /opt/rocketmq/bin
 # ./mqnamesrv &

 or

 # cd /opt/rocketmq
 # nohup sh bin/mqnamesrv &

--------------------------------------------------------------------------------

[2019-04-12 14:03] sureshkrishnamoorthy commented on #9032
Veracode vulnerability analysis reports vulnerability at line no 69 in OpenSslX509TrustManagerWrapper.java  ie
`

                            context.init(null, new TrustManager[] {
                                                    new X509TrustManager() {
                            @Override
                            public void checkClientTrusted(X509Certificate[] x509Certificates, String s

[2019-04-12 16:42] rgmz commented on #5070
I am still experiencing this issue in Vert.x 3.7.0 / Netty 4.1.30.Final :(.

[2019-04-12 17:04] qeesung commented on #8962
I tried to reproduce the problem.  This seems to be a bug in `DatagramDnsResponseDecoder`, if the server receives the compressed DNS response and decodes it, it will be found that if the compression pointer is included in the `RADATA` of `ANSWER SECTION`, this problem will occur.

The reason is that `DatagramDnsResponseDecoder` does not decompress the compression pointer contained in `RADATA` of `

[2019-04-12 17:16] #9031 closed

[2019-04-12 17:46] normanmaurer commented on #9032
@sureshkrishnamoorthy this is not a "valid report" as this is only used to test if a wrapper is applied and is never used to actual verify certificates at the end.

That said I can make this go away easily. Let me do this to make things "easier" for you.

[2019-04-12 17:50] normanmaurer commented on #9032
@sureshkrishnamoorthy fixed by https://github.com/netty/netty/pull/9041

[2019-04-12 17:52] nitsanw commented on #9035
Hi @vikashsingh009, I don't have a windows environment to test this with. IKVM has had issues with JCTools before, e.g.:
https://sourceforge.net/p/ikvm/mailman/message/35520859/

I understand the error you see is in the process using the dll produced by IKVM, I am not familiar with the IKVM project, you may need to seek help there. @normanmaurer perhaps we can add some JVM detection to use the ato

[2019-04-12 18:03] normanmaurer commented on #9035
@nitsanw sounds like an idea...

@vikashsingh009 can you tell me what `java.vm.name` system property tell you on this system ?

[2019-04-12 18:05] normanmaurer commented on #9035
So looks like this:

[code]
https://sourceforge.net/p/ikvm/mailman/message/19032390/

Maybe we should just "disable" sun.misc.Unsafe usage all together

[2019-04-12 18:21] vikashsingh009 commented on #9035
Thanks if that the case i have to build netty from source?

On Fri, Apr 12, 2019, 11:36 PM Norman Maurer <notifications@github.com>
wrote:

[2019-04-12 18:33] normanmaurer commented on #9035
Should be fixed by https://github.com/netty/netty/pull/9042

[2019-04-12 18:33] normanmaurer commented on #8916
Should be fixed by https://github.com/netty/netty/pull/9042 for now

[2019-04-12 19:36] #9032 closed

[2019-04-12 20:41] #9035 closed

[2019-04-13 07:10] vikashsingh009 commented on #9035
Thanks  for  info but  i  am  still  getting  Error here  is  the  steps i  did

1)  Build  netty Master  branch
2) used  this  to  put  in  Maven Local  repo
mvn install:install-file -Dfile=netty-all-4.1.35.Final.jar  -DgroupId=io.netty -DartifactId=netty-all -Dversion=4.1.35.Final    -Dpackaging=jar -DgeneratePom=true

3)  changed RocketMq  Netty Jar  from here https://github.com/apache/rocketmq

[2019-04-13 07:39] normanmaurer commented on #9035
It must be the 4.1 branch

[2019-04-13 07:46] sureshkrishnamoorthy commented on #9032
@normanmaurer  Thank you so much for quick response and action.  Do we have the release date for 4.1.35.Final version ?

[2019-04-13 07:53] vikashsingh009 commented on #9035
yes  my  mistake yes i have  used  4.1  branch  Only,  if  i  see above  attached log  i  am  not  getting  any  Logs  Realted  to  IKVM  like   this  line  on  PlatformDependent

logger.debug("sun.misc.Unsafe: unavailable (IKVM.NET)");

is  somewhere  ikVM  envirnament  not  detected

[2019-04-13 08:05] normanmaurer commented on #9035
Seems so... can you print out system properties and include them here ?

[2019-04-13 12:44] vikashsingh009 commented on #9035
@normanmaurer @nitsanw thanks  for  your  great  support now  i  can  able  to  send  and  recieve Message  without  intruption  its  great  help  in  hunting  down  issue

[2019-04-13 16:29] normanmaurer commented on #9035
So my change did work at the end ?

[2019-04-13 16:50] vikashsingh009 commented on #9035
Yes its a awesome

On Sat, Apr 13, 2019, 10:00 PM Norman Maurer <notifications@github.com>
wrote:

[2019-04-14 02:05] omarkilani commented on #8999
I tested 5.0.7 and it's still broken. However, I've narrowed the issue down to 7 kernel commits.

So I'm going to revert each one and recompile and retest.

[2019-04-14 05:11] normanmaurer commented on #8999
Nice! Keep us posted

[2019-04-15 07:10] fudaohui commented on #6029
lvs tcp_check cause this question

[2019-04-15 08:51] fuyou001 opened #9049 "how to config Netty DefaultMessageSizeEstimator unknownSize"
### Expected behavior
Netty server write  msgData to client,but client process slowly,so we use WRITE_BUFFER_HIGH_WATER_MARK ,and set WRITE_BUFFER_HIGH_WATER_MARK to 16MB

### Actual behavior
but ChannelOutboundBuffer  totalPendingSize value is 13,864,807,459
### Steps to reproduce
1. start server,push big data to client,eg write 1MB data to client every 50ms
2. client thread sleep
3. then dump JV

[2019-04-15 11:53] mertaksu opened #9052 "Different response messages are merging while read from netty server"
I have a netty client application. This app is connecting to a port and retrieving tcp response. When i read respose under load some response messages are concatenating. My request and response messages have a unique transaction key. I am following it for my business logic;

**Actual**: 000010690013200000101PMAX      567F      0000000000 1554092081842400

[2019-04-15 14:31] xdx54321 opened #9054 "the length of clientId in MQTT 3.1 should not be forced to set between 1 and 23 characters"
in method
[code]
there are these code
[code]
the code restrict the _clientId_ length must not exceed _MAX_CLIENT_ID_LENGTH_(it has been set to 23),
but according to the CONNECT message of [MQTT 3.1](http://public.dhe.ibm.com/software/dw/webservices/ws-mqtt/mqtt-v3r1.html#connect) it can exceed 23 characters.

[2019-04-15 17:03] Bennett-Lynch commented on #9012
@trustin Any thoughts/opinions on this?

[2019-04-15 17:34] ejona86 opened #9056 "handler-proxy shouldn't include concrete implementations?"
Today I noticed that gRPC has a dependency on netty-codec-socks. Investigating why, I discovered it was because of handler-proxy.

It looks like handler-proxy is an unnecessary nexus of dependencies. For Netty 5 we may consider reorganizing. The HTTP proxy should live in codec-http. The socks proxy should live in codec-socks. It would be easy for codec-http and codec-socks to depend on handler-pro

[2019-04-15 17:36] ejona86 opened #9057 "[Netty 5] Remove cruft from common?"
This is not an "official" Netty 5 item.

Because of #9056 I poked briefly in netty-common. I noticed HashedWheelTimer is a public API and thought that was probably a mistake. And then I realized HashedWheelTimer is not used anywhere within Netty. Should it be removed?

Give that was literally the first class I checked, are there other such cleanups that would be good?

[2019-04-15 17:36] Sevenops commented on #8439
You can check this repo https://github.com/Sevenops/NettyFiberBenchmarks

[2019-04-15 18:31] lukehutch commented on #8439
@Sevenops thanks for the link. I'm surprised the benchmarks are worse with fibers, since they should be strictly more efficient. I guess there is still some optimization work to do.

[2019-04-15 18:40] Sevenops commented on #8439
Using fibers for event loop isn't correct usage of fibers but it's performing better than normal threads.
MongoDB benchmarks weren't correct so i've deleted them for now.
I got 80k req/sec with scheduling fiber for every read and it's still good because you can write in sync way.
For future i'll add mysql benchmark with correct usage of  fibers.

[2019-04-15 18:53] paul-hammant commented on #8439
Cool. What would an unloaded backend look like in benchmarks?  Like /endpoints/calculator/1/addTo/1

[2019-04-15 19:29] njhill commented on #9057
Related: https://netty.io/wiki/using-as-a-generic-library.html#hashed-wheel-timer and https://github.com/netty/netty/issues/8774#issuecomment-457166577

[2019-04-16 07:37] normanmaurer commented on #9036
@ratcashdev you need to apply some sort of back-pressure here. For example you may need to stop writing when `Channel.isWritable()` returns `false` and start again once it returns `true` again.

You can get notified about changes on Chanel writability change by implement `ChannelInboundHandler.channelWritabilityChanged(...)`.

[2019-04-16 07:40] fredericBregier commented on #9036
To add to @normanmaurer comment, you may also, but after his recommendation since he is fully right, to limit the memory pressure. If I understand correctly, you want to send the very same `TextWebSocketFrame(data)`. Maybe using `retainedDuplicate()` by creating only one such object could help...

[2019-04-16 09:07] TangPinJia opened #9061 "Unable to integrate this project into android studio using gradle"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-04-16 11:43] ratcashdev commented on #9036
@normanmaurer Thank you for the advice. So calling `channel.flush()` when `isWritable==false` is not doing backpressure automatically? I thought (likely incorrectly) that flush is a blocking operation. Is the following snippet better (not calling flush directly, assuming that it will be done automatically by the system)?
[code]

[2019-04-16 11:46] normanmaurer commented on #9036
@ratcashdev no its not a blocking operation….. If you would like to block until it is flushed you could use something like this:

[code]

Just note that you must never do this within an `EventLoop` thread.

[2019-04-16 11:46] #9036 closed

[2019-04-16 11:47] normanmaurer commented on #9036
And no flush() will never be called automatically ;)

[2019-04-16 12:06] ratcashdev commented on #9036
Got it. Can I call `sync()` from an external thread that is the source of the data to be written?

[2019-04-16 12:12] normanmaurer commented on #9036
yes

[2019-04-16 12:19] normanmaurer commented on #9052
This is a question and I answered it on stack overflow:

https://stackoverflow.com/questions/55688912/different-response-messages-are-merging-while-read-from-netty-server

[2019-04-16 12:19] #9052 closed

[2019-04-16 12:21] ratcashdev commented on #9036
Thank you very much. Tested & works.

[2019-04-16 15:23] kwart opened #9064 "OpenSslX509TrustManagerWrapper in netty-handler is not Java 6 compatible"
Netty 4.y should work on Java 6, it's not the case of the `OpenSslX509TrustManagerWrapper` which fails to load the class:

[code]

The problem is rooted in using `javax.net.ssl.X509ExtendedTrustManager` which was introduced in Java 7.

The netty-handler versions with the issue: 4.1.31 - 4.1.34 (current)

[2019-04-16 15:34] normanmaurer commented on #9064
@kwart hmmm will need to check... you are interested in providing a PR ?

[2019-04-16 17:28] normanmaurer commented on #9064
@kwart fixed in https://github.com/netty/netty/pull/9065

[2019-04-16 17:40] omarkilani commented on #8999
Just an update on this. I was able to make nginx fail in a similar way using epoll, so I’m going to close this.

My hunch on the cause is this commit (or the ones surrounding it, but they’re all interdependent so it’s not really possible to revert just one):

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?h=v5.1-rc5&id=c5a282e9635e9c7382821565083db5d260085e3e

The issue

[2019-04-16 17:40] #8999 closed

[2019-04-16 17:48] kwart commented on #9064
You're too fast :+1: :) I'll check the PR in our tests. Thanks.

[2019-04-16 18:08] normanmaurer commented on #9064
@kwart let me know once you know the outcome as I plan to release a new version tomorrow ;)

[2019-04-16 18:54] vasily802 commented on #7243
How can this be fixed on a mac?

[2019-04-16 20:17] kwart commented on #9064
All our TLS tests passed on Java 6 with the fix. Well done!

[2019-04-17 02:01] maxskywalker opened #9067 "which version of netty can work stably in the jdk1.6 environment"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-04-17 06:16] #9064 closed

[2019-04-17 20:36] normanmaurer commented on #9067
4.1.35.Final

[2019-04-17 20:36] #9067 closed

[2019-04-17 20:36] normanmaurer commented on #9061
This is more a question... please use stackoverflow

[2019-04-17 20:36] #9061 closed

[2019-04-18 00:47] omarkilani commented on #8575
FWIW this breaks our (unfiltered) tests and I’m not sure we can do anything on our end to fix it.

[2019-04-18 01:36] TangPinJia commented on #9061
I downloaded it and used it as a file.
Thank you for your reply.

------------------ 原始邮件 ------------------
发件人: "Norman Maurer"<notifications@github.com>;
发送时间: 2019年4月18日(星期四) 凌晨4:38
收件人: "netty/netty"<netty@noreply.github.com>;
抄送: "1070022846"<1070022846@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [netty/netty]  Unable to integrate this project into androidstudio using gradle (#9061

[2019-04-18 12:54] normanmaurer commented on #9054
@xdx54321 PRs welcome :)

[2019-04-18 13:38] m1schka commented on #8880
disabling ipv6 seems to fix this issue

[2019-04-18 19:23] Sevenops commented on #8439
I've added mysql benchmark for fiber version i couldn't get jasync-sql working for netty benchmark.
You can use jar in lib folder to run with fibers it's modified version of mariadb java driver.

[2019-04-18 22:15] Sevenops commented on #8439
I have made changes to mongodb driver to work with fibers and fibers works slightly better in this case.

[2019-04-18 22:50] lukehutch commented on #8439
@Sevenops Nice work. Can you please provide a description of the changes that have been needed so far to convert these libraries to use fibers?

[2019-04-18 23:08] Sevenops commented on #8439
I've added them now https://github.com/Sevenops/NettyFiberBenchmarks/tree/master/patches
If you want to make libraries fiber friendly run java loom with  -Djdk.tracePinnedThreads=full option so it'll give error about where is fiber couldn't yield and you can make them fiber friendly.

[2019-04-18 23:15] lukehutch commented on #8439
Thanks, I took a look at the patches. But then what is needed to have an executor use fibers rather than threads? And why does wrapping a method with `RentrantLock` make it more fiber-friendly? Is that because `RentrantLock` is itself fiber-friendly, whereas the API calls that it wraps are not fiber-friendly?

[2019-04-18 23:48] Sevenops commented on #8439
Afaik most of the java.util.concurrent is fiber friendly but synchronized isn't and you need to change them. In repo there is a java file called FiberPerTaskExecutor you can use it example :
`new NioEventLoopGroup(8,new FiberPerTaskExecutor(new FiberFactory()));`

[2019-04-18 23:56] lukehutch commented on #8439
@Sevenops So there's no way for a future JVM version to cause `synchronized` to yield?

[2019-04-19 00:00] Sevenops commented on #8439
Probably no but i'm not sure you should ask at loom-dev@openjdk.java.net
I believe after loom is ready library creators will update their codes for loom.

[2019-04-19 02:58] Buffer2Disk opened #9076 "[Netty 4]how to close different port properly in one application?"
### Expected behavior
i use different bootstrap to bind different port in one netty application,like this below
`for(int port : ports){
     serverBootstrap.bind(server, port).sync();
}`

now i need to close some ports , so how can i achieve that ?
i have tried two different ways to close port ：

1.
one port use one eventLoopGroup , and   close  their own  eventLoopGroup
`eventLoopGroup.shutdownGr

[2019-04-19 03:30] Buffer2Disk commented on #9076
now , i tried
`channelFuture.channel().close().sync();`
it works fine ,  emmmmm

[2019-04-19 06:12] xiaoheng1 opened #9077 "Can we replace LIVE_SET in ObjectCleaner with AtomicInteger?"
The role of LIVE_SET is simply to determine if there is a value, then can we use AtomicInteger instead of this part of the work to reduce the use of space?

[2019-04-19 06:42] johnou commented on #9077
iirc ObjectCleaner is no longer in use in the latest 4.1, update your version of Netty if you are experiencing problems with high memory.

[2019-04-19 06:57] xiaoheng1 commented on #9077
Understand, thank you!

[2019-04-19 06:57] #9077 closed

[2019-04-19 09:22] nexxxxxxx opened #9079 "[netty 4] why netty must modify "multipart request" to "chunked"?"
I want to send "multipart request"(in other words, Content-Type = multipart/form-data),
but I don't want this request to be chunked

how can I do this? thanks!

[2019-04-19 13:26] zhikaiwu commented on #8644
me too

[2019-04-19 19:46] SplotyCode commented on #9076
`channelFuture.channel().close().sync();` gets the channel, closes it and waits until it is closed.

`channelFuture.channel().closeFuture().sync();` gets the channel and WAITS until it is closed without closing it.

`eventLoopGroup.shutdownGracefully().sync()` shutdownGracefully() is very cautious it takes a lot of time (because of a quiet Period) so why don't you just remove the sync() if you nee

[2019-04-20 05:02] Buffer2Disk commented on #9076
thanks for your reply , i don't quiet understand what does it mean
 'gets the channel and WAITS until it is closed without closing it.'

especially 'without closing it'

[2019-04-20 17:15] SplotyCode commented on #9076
`channelFuture.sync()` waits until the server is started and `channelFuture.channel().closeFuture().sync()` waits untel it is closed but it dosent close itself.

Okay, for example, you have your main thread that calls `channelFuture.channel().closeFuture().sync()` so your main threads waits until is closed now you close the channel from a channelHandler(other thread) and your main thread will work

[2019-04-21 01:37] joseflaviojr commented on #7549
Creating thousands of connections with the shutdownGracefully default does not let the JVM breathe to release the ports. If I give a rest every 1000 connections using Thread.sleep (1000) the problem is healed, but I'd rather use the deprecated action shutdownGracefully (0, 0, TimeUnit.MILLISECONDS). And if you want to be sure of the closing, use shutdownGracefully...sync().

[2019-04-22 13:51] medusar opened #9083 "Netty LengthFieldPrepender causes memory leak"
### Expected behavior
no memory leak detected
### Actual behavior
memory leak detected, and output error log:
[code]
### Steps to reproduce
Sorry, my codes are not available now,  codes in `LengthFieldPrepender`:
[code]
i think the `ByteBuf` allocated above should be released, am i right ?

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.34.Final
### JVM version (e

[2019-04-22 13:54] normanmaurer commented on #9083
No you are wrong... the next handler must release the buffer. My guess is you forgot to call release() in your handler

[2019-04-22 14:02] medusar commented on #9083
em... I am working to figure it out, i will update soon..

[2019-04-22 14:33] medusar commented on #9083
My Codes are like this:
[code]
The only place i do with ByteBuf is `MyDecoder` and `MyEncoder`, in other classes, so it is really strange, and i can't reproduce now,  the error happened about 3 hours ago, when i was doing some pressure tests...

[2019-04-22 16:49] franz1981 commented on #8533
Just thinking loud: It would be great to allow injecting specialized I/O scheduler policies (a-la https://www.scylladb.com/2018/04/19/scylla-i-o-scheduler-3/) accessible on user-level with a mechanism similar to what Netty already deliver with the writeabilityChange event/isWriteable query, to avoid I/O submissions to block or allocate native space on kernel-side, depending on the filesystem used.

[2019-04-22 18:45] njhill commented on #9083
@medusar couple of comments on your example:
- You shouldn't sleep in the event loop - this could cause some unexpected behaviour
- What's the reason for overriding `ChannelDuplexHandler.write()`? Right now this could leak if any pooled non-`Packet` messages are encountered. You should at least have an `else { ReferenceCountUtil.release(msg); }`.

[2019-04-23 02:39] #9054 closed

[2019-04-23 06:18] medusar commented on #9083
@njhill Thank you for your advice.
- The code i provide is just for demonstration.
- The reason for overriding `ChannelDuplexHandler.write()` is that i will do some extra work, for example, msg compressing and  encrypting. I will  add `ReferenceCountUtil.release(msg);` and try again.

[2019-04-23 10:19] medusar commented on #9083
Let me close this, i will update when i figure something out..

[2019-04-23 10:19] #9083 closed

[2019-04-23 10:20] medusar commented on #9079
@reenWYJ Maybe you need to provide some more information about your need.

[2019-04-23 14:53] clebertsuconic commented on #8533
a few years ago, I tried to contribute this codebase into netty, at the time it did not make much sense since there was only a single place where the native bits could land on:

https://github.com/apache/activemq-artemis-native

perhaps we could take a fresh look into what datastax has, and merge the concepts, and perhaps do a new thing using netty schedulers to perform the writes

[2019-04-24 05:58] shenzhou-6 opened #9087 "[Netty 4]about HttpContentDecompressor DataFormatException: incorrect header check"
When I use HttpContentDecompressor to decode deflate

Because the data I requested is Raw DEFLATE stream only (no header and no footer), which is ZlibWrapper.NONE

But I didn't find that netty has any place to deal with it.

Version: netty-codec-http-4.1.30.Final

[2019-04-24 06:13] cocowolf opened #9088 "The QUIC protocol is developing very well, maybe it's time to implement it."
### The QUIC protocol is developing very well, maybe it's time to implement it.

[2019-04-24 06:27] shenzhou-6 commented on #9087
sorry,I was wrong I find   set strict=false

[2019-04-24 06:27] #9087 closed

[2019-04-24 17:14] ratcashdev commented on #9036
@normanmaurer one last clarification.
With regards to your comment in https://github.com/netty/netty/issues/3919#issuecomment-116608472 does it mean, that if we call write&Flush in a loop the selector will be woken up N times, although it would be enough to call it just once (assuming that once it is alive, it will check all the channels) for any of the (full) buffers, e.g. something like this:
[c

[2019-04-24 20:13] dyorgio commented on #5936
You can supress this error (Caused by client closing connection between comunication) by implementing method exceptionCaught in your Handler:
[code]

[2019-04-25 01:32] god8816 opened #9089 "the problem of netty dropping?"
1: network environment： 4G mobile card
2: gateway environment： Linux
3: problem:
The gateway has 7000 long links of industrial control. If 2000 industrial control units are added to the gateway, more than 2000 industrial control units will be offline and then continue to be online.（网关有7000台工控长链接，在加入2000台工控，会导致大于2000台工控下线，然后在持续上线。）

[2019-04-25 11:19] hyperxpro opened #9091 "DNS over HTTPS (DoH) and DNS Over TLS (DoT) Support"
Any Plans To Support DNS over HTTPS (DoH) or DNS over TLS (DoT) in Netty?

DoH: https://tools.ietf.org/html/rfc8484
DoT: https://tools.ietf.org/html/rfc7858

[2019-04-25 11:24] magnus-gustafsson commented on #8912
Hi,
I just rerun the test I attached to this issue with netty-all:4.1.35.Final and this bug has not been fixed in #9020

If the server writes a response that has an `ByteBuf` that is larger then what the client can download in the `IdleStateHandler` idle timeout, it will trigger the timeout.

[2019-04-26 04:09] luckyyuandm commented on #5070
The problem is that the WebSocketClientHandshaker put ws-decoder（ws-encoder）  in the wrong place in the ChannelPipeline. The WebSocketClientHandshaker find the position where the ws-decoder（ws-encoder）was put in the ChannelPipeline by locating the first io.netty.handler.codec.http.HttpClientCodec. details ：https://github.com/netty/netty/issues/5201#issue-152789771
workaround：rewrite HttpProxyHandl

[2019-04-26 13:40] daschl opened #9092 "EmbeddedChannel Close Regression with 4.1.35.Final"
In one of my unit tests I have code like:

[code]

To simulate a failing channel close. This worked great up until 4.1.34.Final, but in the latest version 4.1.35.Final this test failed.

Turns out when I debug into it, the close method of the `ChannelOutboundHandlerAdapter` is never called on `channel.disconnect()` and as a result my assertions fail since the channel close completes successfully i

[2019-04-26 13:53] normanmaurer commented on #9092
Nope will look into it next week.

Does it work when calling channel.close() ?

[2019-04-26 13:56] daschl commented on #9092
Yes, when calling `channel.close()` my handler is triggered, when calling `channel.disconnect()` it is not.

[2019-04-26 14:00] normanmaurer commented on #9092
Ok thanks will check but not before Monday. Feel free to investigate in the meantime if you have cycles

[2019-04-26 14:01] daschl commented on #9092
@normanmaurer no rush. won't have time to dig into it before next week either - let's sync up then.

[2019-04-27 06:04] xiaoheng1 opened #9097 "The isValidIpV6Address method of the NetUtil class determines that ::0:0:0:0:FFFF:255.255.255.255 is a valid IpV6 address. Is it reasonable?"
The isValidIpV6Address method of the NetUtil class determines that ::0:0:0:0:FFFF:255.255.255.255 is a valid IpV6 address. Is it reasonable?

@Test
    public void test006() throws UnknownHostException {
        System.out.println(NetUtil.isValidIpV6Address("::0:0:0:0:FFFF:255.255.255.255"));
    }

but the result is true.

i see https://tools.ietf.org/html/rfc5952#section-4

4.2.1.  Shorten as Mu

[2019-04-27 10:21] AlanBateman commented on #6105
@normanmaurer Did you ever get a chance to try the select methods that run an action to consume the selected key? It would be nice if the hack on the Selector implementation internals could go away before java.base is fully encapsulated.

[2019-04-27 10:46] njhill commented on #9092
@normanmaurer @daschl see #9098

[2019-04-28 08:36] xiaoheng1 opened #9099 "The public int lastIndexOf(CharSequence string) method of the AsciiString class always returns -1"
public int lastIndexOf(CharSequence string) {
        // Use count instead of count - 1 so lastIndexOf("") answers count
        return lastIndexOf(string, length());
    }

@Test
    public void test004(){
        byte[] bytes = new byte[]{1,2,3,4,5,6,7,8,9,10};
        AsciiString ascii = new AsciiString(bytes, 0, 10, false);
        int b = ascii.lastIndexOf("6");
        System.out.println(b);

[2019-04-28 08:41] #9092 closed

[2019-04-28 12:01] iamkisly commented on #5430
Is anyone working on this problem? This is a serious omission that UDP runs in one stream.

[2019-04-28 13:18] jxl4650152 commented on #9099
- Which version do you use?
- -1 means no substring found.
- 6 in array _bytes_ of your method _test004()_ is a byte which will be interpreted \u0006 in AsciiString, while "6" is a string  whose ascii value is \u0036.
- `byte[] bytes =  new byte['1', '2', '3', '4', '5', '6', '7', '8', '9'] ` may be what you want.

[2019-04-28 15:57] normanmaurer commented on #5430
Usually people just use the native transport and REUSEPORT to bind multiple times to the same port to fix this

[2019-04-28 16:33] iamkisly commented on #5430
I use dotNetty port and everything is bad there.

[2019-04-29 01:04] xiaoheng1 commented on #9099
1. i use netty-4.1.34 version.
2.Based on your comments, I added a test case：
@Test
    public void test005(){
        AsciiString ascii = new AsciiString("12345678910");
        int b = ascii.lastIndexOf("6");
        System.out.println(b);

    }
But the result is still -1, this is not what I expected.In my opinion, this should return 5.

I looked at the source code,

public int lastIndexOf(Char

[2019-04-29 01:24] qeesung commented on #9099
@xiaoheng1 You're right. I also checked the source code. This should be an issue, I will do PR later.

[2019-04-29 01:40] xiaoheng1 commented on #9099
OK,  Thanks!

[2019-04-29 03:56] njhill commented on #9088
@cocowolf thank you for the offer! We'll be happy to review the submission.

[2019-04-29 06:39] #8959 closed

[2019-04-29 06:40] normanmaurer commented on #8192
Fixed by https://github.com/netty/netty/pull/8963

[2019-04-29 06:40] #8192 closed

[2019-04-29 07:15] njhill commented on #9099
Thanks @xiaoheng1, have opened #9103 to address this.

[2019-04-29 07:47] xiaoheng1 commented on #9099
OK, Thanks!

[2019-04-29 10:38] konsultaner opened #9104 "refCnt() is 1 but internally 2?"
I found a memory leak in my software and wanted to fix it. The problem is, that I'm not shure where the `refCnt` really is:

![image](https://user-images.githubusercontent.com/2699538/56890887-02ae2680-6a7b-11e9-90d6-240317bdf86a.png)

if i realease the `byteBufMessage` after adding the message to the list object, I get an error that the refcnt already is 0.

my inbound stack:
SSLHandler -> Websoc

[2019-04-29 12:00] belliottsmith opened #9105 "Support pluggable EventLoop task queue"
The default task queue used by EPoll and NIO EventLoop implementations is provided by JCTools, and while it is efficient it has some undesirable properties.  Specifically, it is not non-blocking, and can lead to the EventLoop busy-spinning waiting for a task that may not be provided promptly because the offering thread's execution has been suspended by the operating system.  This is a rare scenari

[2019-04-29 12:02] normanmaurer commented on #9105
@nitsanw FYI...

[2019-04-29 12:18] franz1981 commented on #9105
AFAIK the only misbehaviours could happen by using offer of a single-producer JCTools queue or just relaxedPoll instead of poll.
The first one seems not the case here, while on consumer side just using a mix of relaxedPoll()/drain() with poll()/isEmpty() is enough to guarantee strict empty recognition a-la CLQ.
IMO just using poll() could be a simple fix that would force a JCTools queue to use the

[2019-04-29 12:27] belliottsmith commented on #9105
@franz1981 I'm afraid I don't quite follow what you're saying, but we currently _do_ use `poll()` and this has the problems I describe.

However, I have just taken another look at `wakeup()`, and since we _always_ perform a `compareAndSet`, we actually could use `relaxedPoll` to solve the busy-spin issue.  However, we probably _shouldn't_ be doing an unconditional `compareAndSet`, since this is co

[2019-04-29 12:35] normanmaurer commented on #9105
@belliottsmith when you say we should guard you think of doing something like this:

[code]
?

[2019-04-29 12:36] franz1981 commented on #9105
@belliottsmith

The poll() always return null if there is no pending offering and the only spinning I'm aware of in JCTools is while awaiting the message slot to be filled by the producer (because JCTools offer happen in 2 stages: producer sequence increment AND message slot fill).
If the event loop logic fall into a spinning i don't see how it can be related to JCTools unless:

1. the queue used

[2019-04-29 13:12] normanmaurer commented on #9104
enable paranoid leak detection and it should give you some clues:

https://netty.io/wiki/reference-counted-objects.html#troubleshooting-buffer-leaks

[2019-04-29 13:12] normanmaurer commented on #9089
sorry but without any more details it is impossible to give you any help.

[2019-04-29 13:12] #9089 closed

[2019-04-29 13:13] normanmaurer commented on #9091
No no plans at all atm. That said we are happy to review contributions

[2019-04-29 13:13] #9091 closed

[2019-04-29 13:14] normanmaurer commented on #9049
Just configure your own instance of `DefaultMessageSizeEstimator` when bootstrap the server / client.

[2019-04-29 13:14] #9049 closed

[2019-04-29 13:16] normanmaurer commented on #9097
@xiaoheng1 are you saying it should only return true if you pass in `::FFFF:255.255.255.255` ?

[2019-04-29 13:17] #9076 closed

[2019-04-29 13:17] normanmaurer commented on #9079
Yeah without more infos we can not help.. please reopen when you can provide more.

[2019-04-29 13:17] #9079 closed

[2019-04-29 13:19] #8916 closed

[2019-04-29 13:20] normanmaurer commented on #9088
as @njhill pointed out we are happy to review contributions. While QUIC is defiantly something I would love to add I had no cycles yet to even thinking about any details :/

[2019-04-29 13:20] #9088 closed

[2019-04-29 13:22] belliottsmith commented on #9105
@normanmaurer right

[2019-04-29 13:23] belliottsmith commented on #9105
@franz1981 the two stages are not atomic, and a thread can be suspended by the operating system in between these two steps

[2019-04-29 13:24] franz1981 commented on #9105
@belliottsmith Correct: that means that you would likely to see a spin into the queue::poll call: that's the issue you're seeing?

[2019-04-29 13:24] normanmaurer commented on #9105
@belliottsmith I think I would even argue that we may not need the CAS at all and could just use a volatile. At worse we would call `wakeup` multiple times. That said maybe just add a `get` before is good enough as a failed CAS should be at least cheaper then an extra selector wakeup. WDYT ?

[2019-04-29 13:43] belliottsmith commented on #9105
@normanmaurer I think the get + CAS is probably safest for now, the problem being the negotiation between the consumer resetting it to `false` before going to sleep, and a producer seeing the `true` before this happens and failing to prevent it going to sleep.  It _would_ be possible to avoid a CAS here, but it would require a bit more complex surgery and thought to modify all of the places we act

[2019-04-29 14:02] xiaoheng1 commented on #9097
@normanmaurer Yes, I saw https://tools.ietf.org/html/rfc5952#section-4.
Its section 4.2.1. says it should be as short as possible.
The specific description is as follows:
The use of the symbol "::" MUST be used to its maximum capability.
   For example, 2001:db8:0:0:0:0:2:1 must be shortened to 2001:db8::2:1.
   Likewise, 2001:db8::0:1 is not acceptable, because the symbol "::"
   could have been

[2019-04-29 14:25] jz499 commented on #8916
Versions 4.1.35.Final and 4.1.36.Final resolved the netty errors I had back in March. I'm now able to build my project successfully. Thank You.

[2019-04-29 14:33] fenik17 commented on #9097
This is only recomendation for representation. Netty must accept any legitimate [RFC4291] format.
And "::0:0:0:0:FFFF:255.255.255.255" is a legitimate format.

[2019-04-29 14:47] normanmaurer commented on #9097
As @fenik17 said...

[2019-04-29 14:47] #9097 closed

[2019-04-29 15:38] konsultaner commented on #9104
@normanmaurer paranoid leak detection is enabled. I just don't get why the the same object has 2 different refCnt?

[2019-04-29 15:45] normanmaurer commented on #9104
@konsultaner because `CompositeByteBuf` is a container of multiple `ByteBuf` ?

[2019-04-29 15:57] konsultaner commented on #9104
@normanmaurer sorry, I don't want to be enoying, I just don't get it. All 3 Components also have a refCnt of 2.
![image](https://user-images.githubusercontent.com/2699538/56909245-2b98e080-6aa8-11e9-9980-206a9a586a60.png)

[2019-04-29 16:03] #9104 closed

[2019-04-29 16:08] njhill commented on #9104
@konsultaner the raw value of the internal `refCnt` field itself is not the actual ref count, as warned by the [comment](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/AbstractReferenceCountedByteBuf.java#L44) next to it:
[code]
The mapping is described here: https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/ReferenceCountUpdater.java

[2019-04-29 17:21] james-r-smith commented on #5313
I am still having this issue with my client socket connection. The disconnection is triggered from REST API. I will try to provide as much as I can. If more information is needed to track this, I can try to provide a small program as well. I'm hoping this can be caught. 🤞

### Bootstrap configuration

[code]

### Disconnection logic

[code]

### Reconnection logic

[code]

### Stack trace

[code]

[2019-04-29 18:53] normanmaurer commented on #5313
@james-r-smith this means you already shutdown the `EventLoopGroup`.

[2019-04-29 20:42] james-r-smith commented on #5313
@normanmaurer, okay. So, where I see it happening is when I successfully connect, which then calls `reconnectOnClose(future);` in `ReconnectListener`. So, I notice now that my method tries to reconnect on close `bootstrap.connect().addListener(this);`. This could be a problem when the `EventLoopGroup` is already closed. Makes sense. Any way I can do a check on the `EventLoopGroup` within that lamb

[2019-04-30 05:52] #8940 closed

[2019-04-30 06:42] sysulincn opened #9110 "java.io.IOException: Transport endpoint is not connected"
### Actual behavior

After running for some time, my application log down an exception:
[code]
after this exception(I guess), remote applications cannot connect to the specific port, and
`netstat -alnp | grep $listeningPort` showed nothing, i.e. netty was not listening
`jstack` showed that netty nioEventLoop was still waiting for incoming connection
[code]

### Minimal yet complete reproducer code

[2019-04-30 08:46] xiaoheng1 commented on #9097
@fenik17 @normanmaurer Understand, thanks!

[2019-04-30 13:52] konsultaner commented on #9104
@njhill Thank you very much. Its not trivial to have everything leak free. Helped me a lot!

[2019-04-30 16:32] franz1981 opened #9112 "(Nio)EventLoop is triggering unnecessary wakeup(s)"
In order to test the impact of https://github.com/netty/netty/pull/9109 I have found an unexpected behaviour on NioEventLoop.
To reproduce it is necessary to run a modified BurstCostExecutorsBenchmark with NioEventLoop burstLength = 1 , work = 0 on NioEventLoop:
[code]
The `Blackhole.consumeCPU(100)` is enough to force an awaken selector to go to sleep and I was expecting to pay the full cost of a

[2019-04-30 20:02] franz1981 commented on #9112
@njhill wdyt? I know you are interested into learning how the event logic work so if you have any thoughts on that please share :)

[2019-05-01 09:37] vietj opened #9113 "KQueueEventLoop might unregister active channels due to domain socket file descriptor reuse"
### Expected behavior
The current `KQueueEventLoop` implementation does not unregister active channels when domain socket file descriptor are reused.

### Actual behavior
The current `KQueueEventLoop` implementation does not process concurrent domain socket channel registration/unregistration in the order they actual happen since unregistration are delated by an event loop task scheduling. When a

[2019-05-01 14:54] TristanPerry opened #9115 "Http2ClientUpgradeCodec makes invalid HTTP1 request (hence http2.helloworld.client example fails for h2c mode)"
### Expected behavior

The `io.netty.example.http2.helloworld.client.Http2Client` example should work in the h2c (HTTP2 cleartext - non-TLS) mode, which is the default for this example unless you set a `-Dssl` VM param.

### Actual behavior

The initial h2c upgrade (HTTP 1 request with `upgrade: h2c` header) does not contain a `host` header due to this missing in the `Http2ClientUpgradeCodec.setUp

[2019-05-02 12:48] franz1981 commented on #9112
I have found the relevant behaviour, but given that is a concurrent mechanism is not that easy to reproduce it:

1. NioEventLoop is gone to select(timeout)  and wakenUp = false (with old wakenUp = false)
2. a task's offer happen: wakenUp succeed to false -> true and selector::wakeup() is called on the offering thread
3. select(timeout) will exit due to the wakeup (== true) or hasTask == true
4. wa

[2019-05-02 20:33] njhill commented on #9112
@franz1981 I am interested but it will need to look at it closely for a bit to absorb what's going on myself too. From a quick read of your analysis though it sounds right and I assume is behaving as intended. If so I guess the question is more whether the mechanics are optimal w.r.t. balancing the various signalling costs, when taking into account "real life" workloads.

[2019-05-05 15:00] AlanBateman commented on #8697
Here's the JDK issue to track adding documentation, via implementation note, on this issue:
  https://bugs.openjdk.java.net/browse/JDK-8207045

The behavior when closing a channel registered with a Selecor has always been platform specific so you've never been guaranteed to be able to re-bind until the channel is flushed from the Selector.

[2019-05-06 06:01] guss77 commented on #2465
I have the same issue, I think, with Netty 4.1.19, on Java 11 (I tried both OpenJDK and Amazon Corretto, both behave the same) - after running for about 24 hours, CPU usage starts climbing up with more and more CPU time spent in `EPoll.wait`:

[code]

The first line is the last line of `ps` output showing Java threads sorted (ascending) by CPU time - the `14.9` number is the average CPU utilizatio

[2019-05-06 06:13] guss77 commented on #2465
BTW - the Netty workaround of rebuilding the selector never triggers, even when the threshold is set very low. I expect to see warnings in the logs such as "Selector.select() returned prematurely" (https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/nio/NioEventLoop.java#L851) but I see none of that.

[2019-05-06 06:14] franz1981 commented on #2465
Not sure, but it could be related to https://github.com/netty/netty/issues/9112

[2019-05-06 09:39] guss77 commented on #2465
@franz1981 I'm not sure I understand correctly the situation in issue #9112, but it seems to me that the issue there is that the event loop doesn't spend enough time in `EPoll.wait()` (it wakes up too often), where is my issue that it spends way too much time in `EPoll.wait()`

[Here is a snapshot of visualvm showing my app with all the high CPU threads](https://imgur.com/CGQOY2c) are spinning on

[2019-05-06 09:48] franz1981 commented on #2465
@guss77
Have you tried with https://github.com/jvm-profiling-tools/async-profiler using `-XX:+UnlockDiagnosticVMOptions -XX:+DebugNonSafepoints`?
It would give you a more realistic view of where time is spent then VisualVM

[2019-05-06 13:20] fbasar commented on #6813
io.netty.channel.DefaultChannelPipeline - An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
java.lang.OutOfMemoryError: Direct buffer memory
	at java.base/java.nio.Bits.reserveMemory(Bits.java:175)
	at java.base/java.nio.DirectByteBuffer.<init>(DirectByteBuffer.java:118)
	at java.base/ja

[2019-05-06 13:20] normanmaurer opened #9127 "DnsNameResolver should try TCP as fallback if response is truncated"
If the returned response is truncated we should try to do a DNS query via TCP to receive the full response.

See also https://tools.ietf.org/html/rfc7766

[2019-05-06 13:50] arukshani opened #9128 "Need clarification regarding eventloop task execution order"
### Actual behavior
We have a HTTP/2 client and a server written in netty and the scenario is a proxy, where when the httpcontent is received from the inbound handler(client/upstream), it passes that content to the  downstream respond call.

Logic is similar to the following. When the content is received it calls the firstMethod(). Then when the stream becomes not writable for downstream, it stops

[2019-05-07 08:50] RoganDawes opened #9131 "ApplicationProtocolNegotiationHandler loses its place in the context too soon"
### Expected behavior
[code]
should work, similarly to how a ```ChannelInitializer``` works.

### Actual behavior
An exception is thrown on all "relative" pipeline operations, because the ApplicationProtocolNegotiationHandler instance has already been removed from the pipeline BEFORE ```configurePipeline()``` is called:

[code]

Compare that to Channelinitializer:

[code]

Note that the comment re

[2019-05-07 08:54] RoganDawes commented on #9131
Since ```ApplicationProtocolNegotiationHandler``` is just conceptually a special case of a ```Channelinitializer```, similar logic should be used when invoking ```configurePipeline()```, and patterns possible in ```ChannelInitializer``` should also be possible in ```ApplicationProtocolNegotiationHandler```. The only real difference is that the invocation is not triggered by the handler being added

[2019-05-07 08:57] normanmaurer commented on #9131
@RoganDawes sounds like a bug... are you interested in providing a PR ?

[2019-05-07 10:32] RoganDawes commented on #9131
Will do.

On Tue, 07 May 2019 at 10:59 Norman Maurer <notifications@github.com> wrote:

[2019-05-07 13:11] RoganDawes commented on #8894
Provided a first pass PR, I'm sure it will have to change somewhat. For example, there is now a SubChannelHandler implementation in the io.netty.channel package, which I don't suppose is all that clean! Was not sure where else to put it, though!

[2019-05-07 13:31] guss77 commented on #2465
@franz1981 Here is the output of the async profiler running 5 minutes on a machine a bit early in its load cycle, with top showing about 25% CPU spent on the Java service with load average at about 0.6 for the 2 core system.

[service load profiling report.txt](https://github.com/netty/netty/files/3152772/service.load.profiling.report.txt)

According to the profiler, about 6% of CPU time is spent

[2019-05-07 19:41] normanmaurer commented on #9113
@vietj sorry I had to revert your PR as it lead to build failures locally. I will need to dig into this but I have no time atm :/

[2019-05-07 20:56] davydotcom opened #9134 "WebSocketClientHandshaker13 Invalid Handshake"
### Expected behavior

Origin Header should be sent on handshake

### Actual behavior

Sec-WebSocket-Origin Header is sent instead which is not a client handshake but rather a server to client origin handshake per the Specification

[2019-05-08 00:34] Bennett-Lynch opened #9135 "[Netty 5] ChannelOptions are cumbersome to use for less experienced users"
`ChannelOption`s feel cumbersome to use for less experienced users...

Firstly, when configuring a `ServerBootstrap`, it's not clear which `ChannelOption`s are applicable to the parent options and which are applicable to the child options.

Say I want to enable `EpollChannelOption.TCP_QUICKACK`.  I'm not sure if this is configured via the parent or child options.  Why should I have to guess?  Shou

[2019-05-08 07:10] normanmaurer commented on #9134
@davydotcom do you have a reproducer ?

[2019-05-08 07:26] franz1981 commented on #2465
@guss77
Sorry, I haven't mentioned to use the flamegraph visualization instead, with many threads/long running calls I think that make much easier to spot weird behaviours.
If posssible, try
```$ profiler.sh -d 10 -e cpu -t -f  /tmp/select.svg <pid of your application>```
The `-t` arg allow to collect traces per-thread, while if you omit it, the per-thread traces will be merged (making easier to a

[2019-05-08 10:15] normanmaurer commented on #9110
Please upgrade to latest netty version (4.1.36.Final) + java version and see if the problem still persists.

[2019-05-08 11:17] davydotcom commented on #9134
Use websocket client in netty in any way and it’s very easily reproduced code is wrong in handshaker

Sent from my iPhone