[2019-05-08 15:26] vietj commented on #9113
ok, I think another option to fix it would be sure that the event arrive in the correct order, i.e an unregister does not happen after a register

[2019-05-08 15:27] vietj commented on #9113
I believe at least what could be changed for now is the fact that registering a channel with an existing descriptor would thrown an IllegalStateException to have proper failure when this happen

[2019-05-09 03:28] KeyFang commented on #7993
What is the solution to this problem?

[2019-05-09 05:25] nelsnelson commented on #4348
I still see this error when using Google Chrome only.

[code]

This does not happen when sending an empty string over a websocket connection in Firefox.

My impression is that this is occurring because Google Chrome appears to be doing compression weirdly for small byte messages.

Can we please have Netty handle this Chrome weirdness?

[2019-05-09 05:31] normanmaurer commented on #4348
Please provide a full reproducer

[2019-05-09 13:05] davydotcom opened #9138 "WebSocket Client Received ByteBuf Looping Over Itself"
### Expected behavior
Consistent read of data from web socket stream.

### Actual behavior

Netty WebSocketClient is being used to connect and translate NoVNC WebSocket Proxy back to standard VNC for the apache guacamole project.

Handshaker is customized temporarily to deal with a bug with Connection:Upgrade header being lowercase in netty even though some proxies are not following spec and requi

[2019-05-09 13:12] davydotcom commented on #9138
I should mention this works fine on OpenStacks NoVNC Proxy as well as Vmware ESXI Direct WMKS Proxy. This is proven code that has been in production for over a year. Issue seems to be specific to VCD. My only guess is maybe the VCD Proxy for WebMKS is sending a 0byte packet which confuses the Channel but i am unsure.

[2019-05-09 13:31] davydotcom commented on #9138
Actually something odd. When putting LoggingInterceptor before teh SSL Context I get a read of 1996B but after it says its 4000+ bytes

[code]

[2019-05-09 13:37] davydotcom commented on #9138
screenshot of wireshark packet that corresponds with this one...
https://bertram.d.pr/ZMIWB6

[2019-05-09 14:56] polarctos opened #9140 "Boringssl TLS handshake ignores servers cipher suite preference even if preferLocalCipherSuites is set"
### Expected behavior
The JDK SSL provider `SslProvider.JDK` correctly prioritizes the cipher suites configured on the server side (if configured at server) if one RSA and one ECC signed certificate are used for the same endpoint.
This same prioritization behavior is also expected from the `SslProvider.OPENSSL`.

The server preference is set via: `sslHandler.engine().getSSLParameters().setUseCiphe

[2019-05-09 19:23] normanmaurer commented on #9140
@polarctos just so I get this right you configure it with dual cert (like EC and RSA) ? If so this is not surprising as BoringSSL does currently not support this :/

https://bugs.chromium.org/p/boringssl/issues/detail?id=249

[2019-05-09 19:25] normanmaurer commented on #9140
/cc @davidben

[2019-05-09 19:56] davydotcom commented on #9138
Upon farther investigation, It appears there is a buffer leak bug in vcloud director 8.x.

When switching from binary protocol to uint8utf8 it does not occur. Sorry for the time.

[2019-05-09 19:56] #9138 closed

[2019-05-09 19:59] polarctos commented on #9140
@normanmaurer Thanks for the link to the handling in BoringSSL.

However as far as I debugged it, the certificate selection actually currently happens in the JDK part of the TLS handling, also when the `SslProvider.OPENSSL` is used.
The keystore contains two aliases, thus the non caching KeyManager is chosen and for every handshake the suitable certificates are selected in the [X509KeyManagerImpl]

[2019-05-10 05:29] #8998 closed

[2019-05-10 05:43] normanmaurer commented on #9140
@polarctos Yep we hook in the java `KeyManager` but the "problem" is still the same... BoringSSL need to fix this first before we can support it. If you change to use `netty-tcnative` you will see it will work (using openssl).

[2019-05-10 11:15] normanmaurer commented on #9135
@Bennett-Lynch I see your point that said it is not really much different to `SocketOption` in the JDK. Let me think about what we could do here. Also honestly there is no good default as it really depends on your use-case. Also I think it is better to not try to apply stuff by default as imho we should be as close as possible to the "default" behaviour of the OS / JDK:

[2019-05-10 11:17] normanmaurer commented on #9128
If you call `execute(...)` it does not matter if you are on the same thread or not we always will put it in the queue. If you need to execute directly you should just check if you are on the EventLoop or not and if so execute directly and not use `execute`.

[2019-05-10 11:17] #9128 closed

[2019-05-10 11:18] normanmaurer commented on #8698
@xzzh999 ping

[2019-05-10 13:15] arukshani commented on #9128
Got it. Thanks @normanmaurer

[2019-05-10 15:45] polarctos commented on #9140
@normanmaurer When using OpenSSL with `netty-tcnative` instead of BoringSSL it actually works and the correct cipher suite is selected!

So until it is fixed in BoringSSL it won't work with that dependency. Thanks for the clarification.

[2019-05-11 18:41] LoveraSantiago opened #9144 "Version Branch 4.1 - Does not compile."
### Expected behavior - compile code

### Actual behavior -claim error compilation

### Steps to reproduce - checkout version 4.1 and try to compile

### Minimal yet complete reproducer code (or URL to code)

### Netty version git branch 4.1

### JVM version (e.g. `java -version`) - 1.8

### OS version (e.g. `uname -a`) - windows

On version of Branch 4.0 on package "common/src/main/java/io/netty/

[2019-05-11 22:47] renannprado commented on #7817
I know it's just a warning, but I tried to use the JVM parameter with version `4.1.31` of Netty and Java11 and nothing changes.

[2019-05-12 10:53] #9140 closed

[2019-05-13 05:03] #9099 closed

[2019-05-13 10:06] amizurov commented on #9144
Hi @LoveraSantiago, this is autogenerate collection. Run this  `mvn compile -pl common -am`

[2019-05-13 10:39] LoveraSantiago commented on #9144
Thanks @amizurov .

[2019-05-13 10:39] #9144 closed

[2019-05-13 11:49] #9131 closed

[2019-05-13 18:27] rkapsi opened #9147 "SslContextBuilder is failing with Not supported using BoringSSL"
TCN w/ BoringSSL fails with the following error. The change was introduced with https://github.com/netty/netty-tcnative/commit/913df47adc07c9b8b083cdb92789356d3e864e55 but I'm not sure it's supposed to happen with `SslContextBuilder#keyManager(file, file, pass)`?!

[code]

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

[2019-05-13 18:31] normanmaurer commented on #9147
@rkapsi what Netty version and tcnative version ?

[2019-05-13 18:32] rkapsi commented on #9147
@normanmaurer 2.0.25.Final (in this case the `netty-tcnative-boringssl-static` for `osx-x86_64` from Maven Central)

[2019-05-13 18:33] normanmaurer commented on #9147
and which netty version @rkapsi ?

[2019-05-13 18:33] rkapsi commented on #9147
`netty-all-4.1.36.Final`

[2019-05-13 18:34] normanmaurer commented on #9147
ah sorry... stupid me. I did not see it :( . Let me check.

[2019-05-13 18:36] normanmaurer commented on #9147
@rkapsi do you use `io.netty.handler.ssl.openssl.useKeyManagerFactory=false` by any chance ?

[2019-05-13 18:44] rkapsi commented on #9147
:eek: I do

[code]

[2019-05-13 18:45] normanmaurer commented on #9147
@rkapsi I see... Can you remove this and see if it fixes your problem ? I think it should.... In the meantime let me come up with a fix.

[2019-05-13 19:04] rkapsi commented on #9147
@normanmaurer confirm, appear to fix it.

[2019-05-14 12:35] normanmaurer commented on #9147
@rkapsi after thinking a bit more about it I lean to just remove support for the system property. It was only present to allow easy switching to not using `KeyManagerFactory` when we introduce the feature at some point to give the user a chance to disable it if there is a bug. This should not be needed anymore at all as the feature is stable.

WDYT ?

[2019-05-14 13:36] normanmaurer commented on #9113
@vietj PTAL at https://github.com/netty/netty/pull/9149 for a proper fix. Thanks again for the initial code :)

[2019-05-14 16:00] rkapsi commented on #9147
@normanmaurer SGTM

[2019-05-14 18:17] guss77 commented on #2465
@franz1981, sorry it took to long to get back to you: I had to implement some automatic logic to get a capture from a live server, then wait for it to misbehave. And possibly all the required switches make the server behave better? Anyway, please see attached flame graph
[flame.svg.gz](https://github.com/netty/netty/files/3179219/flame.svg.gz)

[2019-05-14 21:30] adriantodt opened #9150 "Failed to decode Websocket Frame due to size being too big on Java 12+"
### Expected behavior
Hi, I'm using a Netty-based Websocket Client [Catnip](https://github.com/mewna/catnip), which relies on Vert.x to connect to a WebSocket-based Service [Discord](https://discordapp.com).
On Java 11 and before, it connected just fine to the websocket.

### Actual behavior
On Java 12 (and also latest 13-ea builds), it errors with the following:

[code]

The full log is: https://

[2019-05-14 21:31] adriantodt commented on #9150
(Accidentally send an incomplete message, sorry. Filling the rest of it right now.)

[2019-05-16 06:44] be-hase opened #9151 "Change ReadTimeoutException and WriteTimeoutException to non-singleton class"
### Request

Change ReadTimeoutException and WriteTimeoutException to non-singleton class.

### Reason

OOME is occurred by increasing suppressedExceptions because other libraries call `Throwable#addSuppressed` for ReadTimeoutExeption.

For example, please see reactor-core's code.
https://github.com/reactor/reactor-core/blob/master/reactor-core/src/main/java/reactor/core/publisher/BlockingSingleSu

[2019-05-16 06:50] be-hase commented on #9151
Ah, sorry. I was wrong. OS version is this.

[code]

[2019-05-16 08:42] normanmaurer commented on #9151
@be-hase that is a good bug report... There are other instances that need to be fixed... let we work on a PR.

[2019-05-16 08:52] be-hase commented on #9151
@normanmaurer
Thank you for your quick response. :)

[2019-05-16 10:11] normanmaurer commented on #9150
This looks like a JDK bug imho...

[2019-05-16 12:19] normanmaurer commented on #9151
@be-hase PTAL https://github.com/netty/netty/pull/9152

[2019-05-16 20:59] adriantodt commented on #9150
Tried reproducing with more JDKs available. Got the same exception for ZuluVM and OracleJDK on the same Ubuntu
[code]
[code]

[2019-05-17 08:14] jorcasso opened #9153 "Behavior of HttpObjectAggregator with too large request"
I'm implementing a HTTP server with netty 4.1.33, the pipeline looks like this:
[code]

I have observed that when a request arrives with a larger `Content-Length` than configured in `HttpObjectAggregator`, the aggregator itself returns a 413 error response and `MyRequestHandler` receives a `FullHttpRequest` with unsuccessful decoder result, the error in the decoder result is:

[code]

That error i

[2019-05-17 08:32] PaniniGelato opened #9154 "[question]how to set LocalAddress for Channel?"
My bootstrap code:
[code]

My handler code:
[code]

Running with netty-4.0.56,  it prints:
[code]

After upgrade to netty-4.1.36, it prints:
[code]

The localAddress should be 11.1.2.3 in my case

I've tried `bootstrap.localaddress("11.1.2.3", randomPort())`, but not work

Are there any Options or APIs to set LocalAddress for all Channel?

[2019-05-17 08:38] normanmaurer commented on #9154
@PaniniGelato this should work... if it does not its a bug. I will have a look.

[2019-05-17 09:38] qeesung commented on #9154
@PaniniGelato I can't reproduce this problem locally. Would you please provide more detailed, reproducible code snippets?

[2019-05-17 11:13] PaniniGelato commented on #9154
The server endpoints are written in cpp, I am not able to provide them.

In my case,  everything runs good with Netty-4.0.56,  but failed with "connection reset by peer" exception while trying to call writeAndFlush() after upgrade to 4.1.36

I dont change any codes, except the version, the only difference I can tell is the LocalAddress of Channels, and the connect part seems OK

I'll try provide t

[2019-05-17 11:33] doom369 commented on #9153
@jorcasso this is no longer in case with https://github.com/netty/netty/pull/9017/files. Please try to switch to the latest netty version.

[2019-05-17 18:24] jorcasso commented on #9153
Thanks for answering @doom369. Sorry, I should have checked first the last version of netty. However, it seems that pull has not been released, as I can reproduce the same behavior with version 4.1.36, and in the source code I can not find those changes. It's like that pull request was dropped for some reason.

[2019-05-17 18:26] normanmaurer commented on #9153
@jorcasso you are right we somehow missed to cherry-pick it into 4.1 :( ... Let me do it

[2019-05-17 18:31] normanmaurer commented on #9153
Here we go https://github.com/netty/netty/pull/9156

[2019-05-17 18:36] normanmaurer commented on #9150
@adriantodt like I said I think it is a JDK bug... could your provide SSL debug logs as requested here:

http://mail.openjdk.java.net/pipermail/security-dev/2019-May/019900.html

[2019-05-17 18:36] #9127 closed

[2019-05-17 19:18] normanmaurer commented on #9153
I just merged the change into 4.1

[2019-05-17 19:20] normanmaurer commented on #9153
So should be fixed in 4.1.37.Final once released

[2019-05-17 19:20] #9153 closed

[2019-05-17 19:24] adriantodt commented on #9150
Executed the code with the debug properties as asked, got this log: https://hasteb.in/ucalevob.makefile

[2019-05-17 19:30] jorcasso commented on #9153
Thanks @normanmaurer

[2019-05-17 20:16] normanmaurer commented on #9150
@adriantodt thanks a lot!

[2019-05-17 20:23] #9151 closed

[2019-05-18 09:04] PaniniGelato commented on #9154
Running with netty-StringEncoder is OK,  looks like my legacy encoder/decoder dont work with 4.1.x

Trying to re-write them...thanks for help anyway

[2019-05-18 17:41] normanmaurer commented on #9154
So can we close this one ?

[2019-05-19 05:53] danielflower opened #9158 "CompressorHttp2ConnectionEncoder wrongly recompresses already compressed data"
From my understanding, the way to get `CompressorHttp2ConnectionEncoder` to compress something is to set the `content-encoding` to a value like `gzip`, and then the response will be gzipped.

However, sometimes you want to send back already compressed data, in which case the `content-encoding` will be `gzip` but you do not want `CompressorHttp2ConnectionEncoder` to compress it. Using `identity` do

[2019-05-19 17:03] #9154 closed

[2019-05-19 21:24] fabienrenaud opened #9159 "codec-memcache: copy, duplicate, replace not copying full request/response metadata"
### Expected behavior

Calling `copy()`, `duplicate()` or `replace()` on `FullBinaryMemcacheResponse` or `FullBinaryMemcacheRequest` instances should copy status, opCode, etc. that are defined in `AbstractBinaryMemcacheMessage`.

### Actual behavior

Calling these methods do not copy the data and status, opCode etc. get lost upon calling these methods.

### Steps to reproduce

1. Create a `Default

[2019-05-19 23:40] fabienrenaud commented on #9159
PR submitted: https://github.com/netty/netty/pull/9160

[2019-05-20 09:27] normanmaurer commented on #9147
@rkapsi https://github.com/netty/netty/pull/9162 PTAL

[2019-05-21 06:38] DeclanWang commented on #7319
this stack traces information on debug level actually confuse me

[2019-05-21 06:54] franz1981 commented on #2465
@guss77 Looking at the flames it seems to me that is selectNow your most expensive NioEventLoop call:
![image](https://user-images.githubusercontent.com/13125299/58072909-738bbe80-7ba1-11e9-9ce8-0330b0161fee.png)

And, looking to the code, NioEventLoop::select will call selectNow only if a specific deadline has been hit or if there are tasks to be executed: I'm not sure in which case you've fallen

[2019-05-21 08:12] guss77 commented on #2465
@franz1981 - I'm not sure how to do that.

There are a few scheduled tasks in the system (a handful - around 6 different types), which are mostly  daily schedules using `EventLoop.scheduleAtFixedRate()`, and a couple of timers that are set up in as part of some type of requests processing and are very short lived one-off timers.

So I doubt there's a lot of calls in the `hasTasks()` branch. But ho

[2019-05-21 11:19] agrawalrahul0305 opened #9163 "JVM warnings running Netty 3.6.6.Final on Java 11"
### Expected behavior
No Warnings from JVM
### Actual behavior
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.jboss.netty.util.internal.ByteBufferUtil (file:.m2/repository/io/netty/netty/3.6.6.Final/netty-3.6.6.Final.jar) to method java.nio.DirectByteBuffer.cleaner()
WARNING: Please consider reporting this to the maintainers of org.jboss.nett

[2019-05-21 11:32] normanmaurer commented on #9163
@agrawalrahul0305 netty 3.x is EOL for years and so is not maintained anymore. You should upgrade to 4.1.x.

[2019-05-21 11:32] #9163 closed

[2019-05-21 11:45] agrawalrahul0305 commented on #9163
@normanmaurer i tried upgrading to 4.1.6.Final but i get below error after that.

Caused by: java.lang.NoClassDefFoundError: org/jboss/netty/channel/ChannelFutureListener

[2019-05-21 11:46] normanmaurer commented on #9163
@agrawalrahul0305 yes because it is a major version bump... you will need to adjust the code-base to move from 3.x to 4.1.x.

[2019-05-21 11:58] agrawalrahul0305 commented on #9163
Thanks.

[2019-05-21 12:14] baijianhua opened #9164 "ctx.writeAndFlush throws BlockingOperationException even channel handler is in separate EventExecutorGroup"
### Expected behavior
BlockingOperationException only need to be thrown when calling await inside IO thread

### Actual behavior
This is exception is thrown even when doing this:
[code]
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.36
### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-05-21 12:57] WhiteTrashLord opened #9165 "Socks5ProxyHandler swallows first 2 bytes"
I did some tests with Socks5ProxyHandler. I am using netty-4.1.36.Final.

My Initializer code looks like this:
    	   ch.pipeline().addLast(new Socks5ProxyHandler(new InetSocketAddress("127.0.0.1", 1080), "user", "password"));
      ch.pipeline().addLast( new ProxyHandler());

The first 2 bytes are missing in the message in the class ProxyHandler.
If I remove the Socks5ProxyHandler, the message i

[2019-05-21 13:01] #9165 closed

[2019-05-21 18:09] normanmaurer commented on #9158
@ejona86 WDYT ?

[2019-05-21 18:20] ejona86 commented on #9158
This is the sort of thing h2childchan solves, as each response is able to make an independent decision.

For `CompressorHttp2ConnectionEncoder` we could have a `Http2Connection.PropertyKey` which has the power to inhibit the compression. It would be set by the application and observed by `CompressorHttp2ConnectionEncoder`. Most other ideas I have are obviously hacks.

[2019-05-22 05:58] baijianhua commented on #9164
Can this method in DefaultChannelPromise.java
`
protected void checkDeadLock() {
        if (channel().isRegistered()) {
            super.checkDeadLock();
        }
}
`

be changed to
protected void checkDeadLock() {
        if (channel().isRegistered() && channel().eventLoop() == executor()) {
            super.checkDeadLock();
        }
}

[2019-05-22 06:05] medusar commented on #9164
why do you need to block? you can add a listener to the ChannelFuture.

[2019-05-22 06:37] normanmaurer commented on #9164
@baijianhua it makes no sense to call `p.wait()` in a `ChannelHandler` that uses the same `EventExecutor` as the `ChannelPromise`.

[2019-05-22 06:40] #9147 closed

[2019-05-22 09:05] #9159 closed

[2019-05-22 09:47] baijianhua commented on #9164
@medusar

Using listener makes the code ugly.  the use case of writeAndFlush().await is I'm encoding msg to a list of small messages and send them later in IO thread.

[2019-05-22 09:50] baijianhua commented on #9164
@normanmaurer If I do not call await, there should be no guarantee that previous operation is done successfully, if previous operation is not success, then I would cancel remained steps.

[2019-05-22 10:04] #9113 closed

[2019-05-22 12:25] qeesung commented on #9164
No blocking operation should be included in EventLoop because EventLoop is single-threaded and can cause deadlocks if blocked. As an alternative, adding a listener or await future in a custom thread pool is a reasonable solution

[2019-05-22 12:33] baijianhua commented on #9164
@qeesung
I'm using DefaultEventExecutorGroup, it  extends MultithreadEventExecutorGroup

[2019-05-22 12:48] qeesung commented on #9164
Although EventGroup is multi-threaded, Channel is registered as a thread in EventGroup after it is created, so asynchronous writeAndFlush and synchronous await operations are in the same thread. Blockage of await causes writeAndFlush to never be executed.

The thread that calls the await method is the IO thread.

[2019-05-22 16:44] fabienrenaud opened #9173 "Support ByteBufHolder#slice method"
The [ByteBufHolder](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/ByteBufHolder.java#L23) interface provides the `copy()` method but not the copy-free equivalent one `slice()`.
Unless there is a reason `ByteBufHolder` should not not provide  `slice()` and `retainedSlice()`, these should be added.

[2019-05-22 16:46] rnd4222 commented on #8011
Given that it is [no longer a draft](https://datatracker.ietf.org/doc/rfc8441/), is there any chances it would be implemented in netty?

[2019-05-22 16:49] normanmaurer commented on #8011
@rnd4222 we love contributions... so if you feel you have the cycles go ahead. I am not sure when I will have time to look into it.

[2019-05-22 17:08] franz1981 commented on #9173
I suppose that these same functionalities could be implemented as composition of existing ones eg
`new DefaultByteBufHolder(holder.content().slice())` or  `new DefaultByteBufHolder(holder.content().retainedSlice()) `.
While adding other public methods to `ByteBufHolder` would chage a public API:
[code]

[2019-05-22 17:14] franz1981 commented on #2465
@guss77
I would run `jstack -F` with `-XX:+UnlockDiagnosticVMOptions -XX:+DebugNonSafepoints` to check which line of code is being hit but the issue.

The scheluded tasks are being handled while computing `selectDeadLineNanos`, not on `hasTasks` (although it seems more natural), so *maybe* we would find that they are the reason of this weird behaviour.
I've run both Epoll and NIO idle event loops

[2019-05-22 22:25] guss77 commented on #2465
@franz1981, thanks, I'll try that the next time I catch a server misbehaves.

Regarding reproduction: the problem, and the weird thing - as I've noted a while above - I have several different applications with almost identical stacks (web services with different APIs on top of Vert.x+Netty+Corretto JVM+Ubuntu 18.04) and only this one service is misbehaving.

[2019-05-23 01:13] baijianhua commented on #9164
@qeesung
I'm not sure if I understood you correctly. but from the code I'm using, channel's eventloop is in different thread than my business executor. So there is not dead lock. await in business executor, will be notified later by channel's event loop thread.

here is the kotlin code after I modified the DefaultChannelPromise.java
[code]

[2019-05-23 02:07] xiaoheng1 opened #9176 "NioSocketChannel#protected void doWrite(ChannelOutboundBuffer in) throws Exception method maybe should not be set in writeSpinCount=0 is OP_WRITE."
NioSocketChannel#protected void doWrite(ChannelOutboundBuffer in) throws Exception method maybe should not be set in writeSpinCount=0 is OP_WRITE.

I use netty4.1.34

I see the NioSocketChannel#protected void doWrite(ChannelOutboundBuffer in) throws Exception method.

[code]

when writeSpinCount=0，just process --writeSpinCount.At this point, it is possible that the underlying buffer may still be w

[2019-05-23 02:38] qeesung commented on #9164
@baijianhua Sorry, I didn't notice that you put the Handler in a thread separate from the I/O Thread.
I think it is necessary to detect in `ChannelPromise` (`ChannelFuture`) whether the current thread and the thread bound to the channel are the same thread.

[2019-05-23 02:45] baijianhua commented on #9164
@qeesung thank you. so it make sense to add this change?

[2019-05-23 03:11] qeesung commented on #9164
@normanmaurer When adding a Handler, specifying an `ExecutorGroup` that is different from the childGroup, then all I/O-related tasks in this Handler (such as wirte, bind) will be submitted to the childGroup, in other words, `ChannelFuture.await` Will not cause a deadlock, because the execution of the task associated with the promise and the wait for the promise are in separate threads.

Do you thi

[2019-05-23 06:27] normanmaurer commented on #9173
I think we could add it to netty 5...

[2019-05-23 06:29] normanmaurer commented on #9176
@xiaoheng1 I think I don't understand what you suggest here... Can you maybe show a diff ?

[2019-05-23 06:29] franz1981 commented on #9173
@normanmaurer +100 for Netty 5 :)

[2019-05-23 06:30] normanmaurer commented on #9164
@qeesung I think it is still necessary as you could still end up with a deadlock if another handler that is in from of the handler and uses the same `EventExecutorGroup` will delay the notification of the promise.

[2019-05-23 07:25] xiaoheng1 commented on #9176
@normanmaurer My problem is that when writeSpinCount is configured to 0, when writing data from ChannelOutboundBuffer to Channel, executing incompleteWrite(writeSpinCount < 0) will set OP_WRITE. In fact, the underlying BUF may not be full. The opinion is whether it should be judged when writeSpinCount is 0, for example, modified to:

[code]

[2019-05-23 11:59] normanmaurer commented on #9176
@xiaoheng1 writeSpinCount can not be 0 it must be >= 1 as we not allow to set a value < 1. What I am missing here ?

[2019-05-23 12:14] xiaoheng1 commented on #9176
@normanmaurer Sorry, I ignored a checkPositive(writeSpinCount, "writeSpinCount") in the DefaultChannelConfig#setWriteSpinCount method; I was negligent, sorry. you are right!
By the way, can incompleteWrite(writeSpinCount < 0) be modified to incompleteWrite(true)?

[2019-05-23 12:16] normanmaurer commented on #9176
@xiaoheng1 I don think so... we only want to set it to true if we used all our writeSpinCount credits otherwise we have written everything.

[2019-05-23 12:23] xiaoheng1 commented on #9176
@normanmaurer But in my opinion, the last writeSpinCount is always >=0, so writeSpinCount < 0 returns false.

[2019-05-23 12:47] AnnieCattice opened #9178 "what kind of conditions will cause channeFuture got this info ?"
`DatagramPacket datagramPacket = new DatagramPacket(response, msg.sender());
		ChannelFuture future = ctx.writeAndFlush(datagramPacket);
		logger.info("future info:{}", JSON.toJSONString(future));`

when i run this code on docker container , my udp client cannot get server's response.

 i try to print ChannelFuture info and got the following result:
future info:{"cancellable":true,"cancelled":fals

[2019-05-23 12:49] normanmaurer commented on #9178
The Future is not completed yet... Add the logger to a ChannelFutureListener or block on the ChannelFuture to ensure it is complete when the logging happens.

[2019-05-23 12:49] #9178 closed

[2019-05-23 13:50] qeesung commented on #9164
@normanmaurer I see. Thank you

[2019-05-23 13:54] #9164 closed

[2019-05-23 14:09] qeesung commented on #9164
@baijianhua As @normanmaurer said, If the same `EventGroupExecutor` is bound to different handlers on the same Pipeline, calling await can cause deadlock, although the thread calling await and the IO thread are not the same thread.

Like the following

[code]

Instead, I recommend adding listener, or await it it in a custom thread (pool).

[2019-05-23 18:56] normanmaurer commented on #9176
@xiaoheng1 it can be negative as we subtract `WRITE_STATUS_SNDBUF_FULL` (which is `Integer.MAX_VALUE`) in some cases.

Do you see any issues in your application or you just found this by inspecting the code ?

[2019-05-23 18:57] normanmaurer commented on #9110
Let me close this and please reopen if you still think it is an issue after upgrading

[2019-05-23 18:57] #9110 closed

[2019-05-23 23:26] tbrooks8 opened #9181 "Allow controlled copying to direct byte buffers prior to channel write"
Currently netty will attempt to copy heap bytes to implementation specific byte representations in `filterOutboundMessage`. For the most common TCP and UDP implementations (`NioSocketChannel` and `NioDatagramChannel`) this means allocating a direct buffer from the alloctor (or thread local recycler) prior to the message being queued with the outbound channel buffer. This only happens if the direct

[2019-05-24 01:17] xiaoheng1 commented on #9176
@normanmaurer Understand, thank you! i just found this by inspecting the code.

[2019-05-24 01:42] tbrooks8 opened #9182 "Allow configuration of direct byte buffer cleaner"
Currently netty routes all attempts to deallocate a direct byte buffers through `PlatformDependent` which uses a static `Cleaner` to free the buffer. The `Cleaner` will only be available if netty has access to unsafe (obviously because the method to free the buffer is from unsafe). This restriction is a serious one which causes issues with using Netty in an environment without unsafe (Elasticsearc

[2019-05-24 01:42] tbrooks8 commented on #9182
I opened #9182 as a proof of concept for how this might work.

[2019-05-24 02:10] #9176 closed

[2019-05-24 07:18] normanmaurer commented on #9182
@tbrooks8 can you point me to the code in Lucene that does the same ? Just interested to see it :)

[2019-05-24 07:48] DitaWilke commented on #8710
Seems to be fixed in version 4.1.35.

[2019-05-24 07:48] #8710 closed

[2019-05-24 15:02] tbrooks8 commented on #9182
@normanmaurer

https://github.com/apache/lucene-solr/blob/master/lucene/core/src/java/org/apache/lucene/store/MMapDirectory.java#L319

[2019-05-25 16:55] fabienrenaud commented on #9173
PR adding slice and retainedSlice to codec-memcache (against master): https://github.com/netty/netty/pull/9179

[2019-05-26 05:14] xzzh999 commented on #8698
@normanmaurer

Sorry for the late reply...

I found some memory leak of release the bytebuf message at the read callback function, after i fixed this leak, it seems ```the CPU is getting normal```. Though its still print the follow messages:
[code]

I'm not sure if this associated...

[2019-05-26 07:57] normanmaurer commented on #8698
@xzzh999 this log should still not show up usually... how often you see this ?

[2019-05-27 01:31] xzzh999 commented on #8698
@normanmaurer

about 20~30 min

[2019-05-27 09:15] shatestest commented on #7319
Hi , finally what is the solution ? I am using but still getting same error ...what is the solution for this error :

[2019-05-27 14:02] #9115 closed

[2019-05-27 22:10] johnou commented on #7319
The stacktrace is essential for debugging native library loading problems (especially when Netty is shaded).

[2019-05-28 15:58] venkatesh010 commented on #8537
How to avoid hostname verification while using Netty httpclient?
Need suggestions
Is there any way to have something like NoopHostnameVerifier configured for it?

[2019-05-28 16:23] bradical commented on #9150
I believe I may be running into the same issue with a failing ChaCha cipher. I read through: http://mail.openjdk.java.net/pipermail/security-dev/2019-May/019900.html but does anyone know if a bug report was ever filed? Also, was any workaround ever found such as disabling the use of that cipher?

In my case, I'm using:

- OpenJDK 12.0.1
- `-Djdk.tls.client.protocols=TLSv1,TLSv1.1,TLSv1.2`

and see

[2019-05-29 03:19] lechiefe opened #9193 "Sporadic exception on DnsNameResolver"
### Resolves the dns responses consistently without issues

### Periodically throws the following exception:
[code]
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
[code]

### And here is the MxDnsRecordClass:
[code]
### Netty version
4.1.36
### JVM version (e.g. `java -version`)
11
### OS version (e.g. `uname -a`)
Windows 10

[2019-05-29 04:45] lechiefe commented on #9193
I was able to reproduce this with simpler code as well:
[code]

[2019-05-29 09:24] cocowolf opened #9194 "Do you have plans to support the IETF's QUIC protocol?"
Hi
The IETF organization has split google's QUIC protocol into two protocols, QUIC and HTTP3.
QUIC is the perfect solution for lockstep games.Do you have plans to support the IETF's QUIC protocol?

Thanks!

[2019-05-29 09:26] normanmaurer commented on #9194
Yes... see https://github.com/netty/netty/issues/3778

[2019-05-29 09:26] #9194 closed

[2019-05-29 11:04] cocowolf commented on #3778
Here, someone is doing
https://github.com/protocol7/quincy

[2019-05-29 13:01] adriantodt commented on #9150
cc http://mail.openjdk.java.net/pipermail/security-dev/2019-May/019956.html

Information that might be useful:
- I'm getting the ShortBufferException on a websocket connection (that's kinda obvious on the log tho)
- the server sends JSON of easily 1 MB in size each
- there is a [event flowchart for the websocket I'm trying to connect](https://s.gus.host/flowchart.png), if that's any useful

[2019-05-29 13:17] bradical commented on #9150
Interesting. We're definitely seeing a pretty large response from the server as well in our case.

Is disabling that specific cipher an option for you? We ended supplementing our `java.security` file with:

[code]

[2019-05-29 17:13] xiangwangcheng opened #9197 "The method toString() of MqttSubscribePayload throw ArrayIndexOutOfBoundsException"
### Expected behavior
print MqttSubscribePayload correctly
### Actual behavior
ArrayIndexOutOfBoundsException was thrown
### Steps to reproduce
new a MqttSubscribePayload which has no topicSubscriptions(size of List<MqttTopicSubscription> is 0)

Though the MqttSubscribePayload couldn't be empty in MQTT protocol. There also some cases like unit test that should cover this situation.
So, I think the

[2019-05-29 17:51] SplotyCode commented on #9197
I could provide a PR. You can use set Length instead of delete in String Builder btw

[2019-05-29 18:07] mrkk commented on #6813
why was the issue closed?

[2019-05-29 19:06] adriantodt commented on #9150
This worked as a workaround by now. Managed to connect to the websocket and get to working state. Apparently everything boils down to the faulty TLSv1.3 implementation -.-

[2019-05-29 19:07] normanmaurer commented on #9150
I will update here once I hear back from OpenJDK folks.

[2019-05-29 19:54] normanmaurer commented on #9197
@SplotyCode please if you have time :)

[2019-05-29 20:18] bradical commented on #9150
Glad to hear that worked for you. Thanks @timreilly for the suggestion there.

Thanks @normanmaurer!

[2019-05-29 20:36] brandond commented on #6813
Because it's hard to reproduce under controlled circumstances and easy to work around by just not using the tcnative openssl bindings.

[2019-05-29 21:03] ntherrien opened #9199 "Question: how to use MessageToMessage encoder on UDP pipeline"
### Expected behavior
I thought I could encode SIP Messages on UDP the same way I had done for the Decoder:
public class SipUdpClientInitializer extends ChannelInitializer<DatagramChannel> {

    @Override
    public void initChannel(DatagramChannel ch) throws Exception {
        ChannelPipeline pipeline = ch.pipeline();

        // and then business logic.
        pipeline.addLast(new DatagramPac

[2019-05-30 01:57] junyanlai commented on #2308
哇

[2019-05-30 04:46] venkatesh010 commented on #8537
Solved it by configuring SSLEngine to avoid hostname matching while creating HttpClient

Consider:

[code]

[2019-05-30 04:54] normanmaurer commented on #9199
@ntherrien please show you `SipMessageEncoder`

[2019-05-30 05:45] normanmaurer commented on #9193
Will have a look over the next days.

[2019-05-30 09:12] xiangwangcheng commented on #9197
@SplotyCode Thanks for your suggestion, it's much better.

[2019-05-30 10:36] ntherrien commented on #9199
@normanmaurer done. Added SipMessageEncoder to question.

[2019-05-30 13:41] sameerhr84 opened #9200 "SSL with Proxy(using ProxyHandler) failing"
How can I use SSL and proxy handler together while creating a pipeline.
I am doing a POC to create a proxy for https using mqtt client and netty

ProxyHandler proxyHandler = new HttpProxyHandler(proxyAddr);
 channel.pipeline()
            .addFirst(SSL_HANDLER_NAME, createSslHandler(channel, sslConfig));
channel.pipeline()
            .addLast("proxyServerHandler", proxyHandler);

### Expected beh

[2019-05-30 15:52] shevah opened #9201 "HAProxyMessage memory leak due unreleased TLVs"
`HAProxyMessage` isn't a `ReferencedCounted` object.
A component consuming an `HAProxyMessage` object and not passing it further might not release it, while it should be released as it contains a list of TLVs created in the static function `readNextTLV`:

https://github.com/netty/netty/blob/00afb19d7a37de21b35ce4f6cb3fa7f74809f2ab/codec-haproxy/src/main/java/io/netty/handler/codec/haproxy/HAProxyM

[2019-05-30 17:56] normanmaurer commented on #9201
@shevah yes this sounds like a bug... Would you be willing to create a PR to fix it ?

[2019-05-30 18:18] shevah commented on #9201
Yes

[2019-05-31 01:58] qeesung commented on #9199
@ntherrien Maybe you should add sender information to `DatagramPacket`, otherwise the message will be filtered out by `DatagramPacketEncoder`.
[code]

[2019-05-31 04:46] #9197 closed

[2019-05-31 05:06] lechiefe commented on #9193
I wanted to give a bit more information. This has been very difficult to debug, since it is completely unpredictable; however, for what its worth, I have not been able to replicate it since setting the following 2 settings:
[code]
This does not mean that it is decisively fixed yet, since the issue does not manifest itself all the time, but it is a good sign.

[2019-05-31 05:45] #8841 closed

[2019-05-31 07:44] shevah commented on #9201
Yes

On Thu, May 30, 2019, 20:58 Norman Maurer <notifications@github.com> wrote:

[2019-05-31 10:56] ntherrien commented on #9199
@queesung    I forgot to indicate that the encode method is never called by the pipeline. The NioDatagramChannel is getting the Envelope object from the application code sending a message out.    It seems like the NioDatagramChannel does not support encoders on the pipeline.

The Netty Examples have only one example using UDP and that example does not have any encoder in the pipeline.

That being

[2019-05-31 10:56] ntherrien commented on #9199
BTW: when i said "application code" I really meant the SipUdpClient's send method.

[2019-05-31 11:49] qeesung commented on #9199
@ntherrien Because the message is filtered out by `DatagramPacketEncoder`, so the encode method is never called by the pipeline.  You can check the source code of `DatagramPacketEncoder ` and you will find:

![image](https://user-images.githubusercontent.com/5669272/58704035-37e0c800-83dd-11e9-9c0d-6ea8fe43eb7f.png)

[2019-05-31 11:56] normanmaurer commented on #9199
@ntherrien as @ntherrien said... that said I think it should be valid to have a have a `null` sender. Let me do a PR.

[2019-05-31 12:04] ntherrien commented on #9199
@qeesung thanks for the tip. It gave me an investigation path...

I just dont know how I can obtain a sender address...   I am writing client code and wanted to send the UDP packet from an ephemeral port as such:
new DatagramPacket(byteBuf, recipient)

The sender part has always been optional when writing udp code by hand. Why does Netty require a sender? What address am I going to put in there?

[2019-05-31 12:06] normanmaurer commented on #9199
@ntherrien yeah just put "something in there", it does not matter.. In generally it should support `null` and I will fix this.

[2019-05-31 12:08] normanmaurer commented on #9199
See https://github.com/netty/netty/pull/9204

[2019-05-31 12:13] ntherrien commented on #9199
I can confirm it now works with the write instruction set to a dummy sender socketaddress:
channel.writeAndFlush(new DefaultAddressedEnvelope<>(sipMessage, socketAddress, new InetSocketAddress(0))).sync();

Encoder gets called and everything else!

Thanks much for your support in this matter, I appreciate it and must say i really love the Netty pipeline system. Makes it easy to break down networki

[2019-05-31 12:13] #9199 closed

[2019-05-31 12:38] slandelle opened #9205 "WebSocketClientHandshaker13 doesn't work with HTTP proxies over clear HTTP"
### Expected behavior

When talking with an HTTP proxy over clear HTTP, a user agent should sent requests with an **absolute** url.

### Actual behavior

`WebSocketClientHandshaker13::newHandshakeRequest` generates a request with [relative url](https://github.com/netty/netty/blob/netty-4.1.36.Final/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/WebSocketClientHandshaker13.java#L16

[2019-05-31 12:40] normanmaurer commented on #9205
@slandelle will you provide a PR ?

[2019-05-31 12:45] slandelle commented on #9205
FYI, it's currently very hard to workaround this issue by subclassing WebSocketClientHandshaker13: `expectedChallengeResponseString` is private, `WebSocketUtil` is package private.

I would love to contribute a fix but I'd like your opinion:

* is this too much of a corner case so we should move WebSocketClientHandshaker13's url computation into a protected method so usr can subclass?
* or should

[2019-05-31 12:46] normanmaurer commented on #9205
@slandelle will it be a problem to always use the relative url ?

[2019-05-31 12:52] slandelle commented on #9205
@normanmaurer Absolutely, most server implementations will rightfully blow up because of the malformed request. The only case you use absolute urls is with HTTP proxy over clear HTTP.

[2019-05-31 12:54] normanmaurer commented on #9205
hmm I see... I am not sure what is better (protected vs static method). WDYT ?

[2019-05-31 13:00] slandelle commented on #9205
I'd say to go with the additional parameter/constructors/factory for Netty 4.1.

But this really needs to be cleaned up for Netty 5: drop early specs, make single constructor package protected and introduce a Builder a la `DnsNameResolverBuilder`.

WDYT?

[2019-05-31 13:01] normanmaurer commented on #9205
@slandelle sounds fine to me...

[2019-05-31 16:45] qeesung commented on #9193
@lechiefe I tried many times locally, but I couldn't reproduce the problem.

[2019-05-31 21:23] voidzcy opened #9207 "Http2ConnectionHandler#goAway should not initiate channel graceful shutdown"
Introduced by #9094, in  [Http2ConnectionHanlder](https://github.com/netty/netty/blob/ec69da9afb8388c9ff7e25b2a6bc78c9bf91fb07/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L842), when there is no active stream, doing GO_AWAY with error code NO_ERROR will immediately shut down the channel once the GO_AWAY frame is sent. This breaks higher layer implementation's

[2019-05-31 22:26] lifeinwild opened #9208 "readComplete when handlerRemoved"
### Expected behavior
dont call fireChannelReadComplete
call fireHandlerRemoved or nothing

### Actual behavior
call fireChannelReadComplete

https://github.com/netty/netty/blob/a33200ca38990b88315a48637e5ac5da398b100d/codec/src/main/java/io/netty/handler/codec/ByteToMessageDecoder.java
line 255

### Steps to reproduce
handler is removed in port unification
https://netty.io/4.1/xref/io/netty/examp

[2019-06-01 00:58] lechiefe commented on #9193
I believe it, that is why I pointed out that the issue is sporadic and is hard to reproduce. Because of its nature, I believe that it is cause by a certain response from a remote dns server. Like I mentioned above, it seems to go away if I apply those settings, the first one specifically mentions that setting it to true might cause some dns providers to send a broken response. If that is correct,

[2019-06-01 05:22] qeesung commented on #9193
Would you please tell me what DNS server address you are using? I tried `@8.8.8.8` and `@ns1.google.com`, `@114.114.114.114`, I can't reproduce this problem.  By the way, the code I tested is here : https://gist.github.com/qeesung/7b5d5a42e7d8b97597d2baf55a83b43b

[2019-06-01 06:08] lifeinwild opened #9210 "stop responding halfway"
I'm a beginner at Netty, so I don't know if this is my mistake or Netty problem.

### Expected behavior
don't stop responding halfway.

### Actual behavior
Netty stop responding by Thread.sleep() in channelReadComplete().
Of course, it will be the same as processing that takes time other than Thread.sleep ().

### Steps to reproduce
copy the reproducer to your IDE, auto import fix, and run it.

##

[2019-06-01 06:45] lifeinwild commented on #9208
There are two problems.
If you make "byte[] big" smaller or remove the line of Thread.sleep (1000 * 5), you can send all the data.
Even in this case, channelReadComplete () may be called on the client side even though reception has not been completed. But eventually the client receives all the data.
If you increase "byte[] big" or put the line of Thread.sleep (1000 * 5), the client side will not r

[2019-06-01 06:46] lifeinwild commented on #9210
There are two problems.
If you make "byte[] big" smaller or remove the line of Thread.sleep (1000 * 5), you can send all the data.
Even in this case, channelReadComplete () may be called on the client side even though reception has not been completed. But eventually the client receives all the data.
If you increase "byte[] big" or put the line of Thread.sleep (1000 * 5), the client side will not r

[2019-06-01 09:02] qeesung commented on #9210
You shouldn't do any blocking in the IO thread, otherwise it will block the IO operation.

Why can the client receive all the data when writing a small amount of data, but only part of the data when writing a lot of data?

This is because TCP has a local buffer queue and sliding window. If a small amount of data is written, the data can be put into the buffer queue of the kernel at one time (the s

[2019-06-01 09:02] qeesung commented on #9210
You shouldn't do any blocking in the IO thread, otherwise it will block the IO operation.

Why can the client receive all the data when writing a small amount of data, but only part of the data when writing a lot of data?

This is because TCP has a local buffer queue and sliding window. If a small amount of data is written, the data can be put into the buffer queue of the kernel at one time (the s

[2019-06-01 09:26] qeesung commented on #9208
There is no `fireHandlerXXX` method in `ChannelHandlerContext`, only `fireChannelXXX` method. If you want to propagate handler Removed event, you can try `fireUserEventTriggered`.

[2019-06-01 20:09] jchambers opened #9212 "UDP ports may remain open after calling RoundRobinDnsAddressResolverGroup#close()"
In Netty 4.1.36 (and several versions prior), we've found that UDP ports can "leak" when using multiple `RoundRobinDnsAddressResolverGroup` instances. Please let me begin by acknowledging that I may be missing something important about how `RoundRobinDnsAddressResolverGroup` is _supposed_ to be used, but I _think_ this might be a bug.

### Expected behavior

When calling `RoundRobinDnsAddressResol

[2019-06-02 00:34] lifeinwild commented on #9210
Thank you for your reply. Very easy to understand.

The line in the code that a ChunkedStream is not received is simply my mistake. I think this is because there is no ChunkedWriteHandler in the pipeline.

The problem was solved.

[2019-06-02 00:34] #9210 closed

[2019-06-02 06:25] lifeinwild commented on #9208
My understanding of channelReadComplete () may not be sufficient.

If it is a valid specification that channelReadComplete () is called when deleting a handler in port unification, close this issue.
The behavior was unexpected just for me.

[2019-06-02 10:38] EliyahuStern opened #9213 "kqueue channel getPeerCredentials does not return PID"
Calling KQueueDomainSocketChannel#peerCredentials returns PeerCredentials with PID field not set.

The reason for that is given in the following note:
https://github.com/netty/netty/blob/ec69da9afb8388c9ff7e25b2a6bc78c9bf91fb07/transport-native-kqueue/src/main/c/netty_kqueue_bsdsocket.c#L162

but the above note is not necessarily true. It is also possible to get the peer PID using get_sock_opts wi

[2019-06-02 14:49] jchambers commented on #9212
Simplifying further, it turns out we don't actually need to try to resolve anything to demonstrate this issue; just getting a resolver will do the trick:

[code]

[2019-06-02 18:06] njhill commented on #9208
Thanks @lifeinwild, I think you're right that it would be better for the removal not to trigger this unless the handler is mid-read. I see that @normanmaurer has opened #9211 to address it.

[2019-06-02 18:23] jchambers commented on #9212
I've opened #9214 as a potential fix for this issue.

[2019-06-03 03:38] ro9er opened #9215 "A question about allLeaks in DefaultResourceLeak"
Hi community
   Recently I have gone through the code of ResourceLeakDetector and I have a question. In my opinion, the `allLeaks` set is the key to determine whether a leak exist. If the method `dispose` invoke `allLeaks.remove` before `close`, then netty will find a leak.
  My question is, why we use a set (based on ConcurrentHashMap) to do the check, we can just use an AtomicFieldUpdate or Atom

[2019-06-03 06:52] mp911de opened #9216 "NotSslRecordException with Java 11 JDK SSLProvider"
### Expected behavior

SSL handshake succeeds.

### Actual behavior

When using Java 11+ with TLS 1.3, SSL negotiation fails with:

[code]

The reported byte sequence is always different, but always the last 8 byte of the first received SSL handshake packet.

Full traffic (`LoggingHandler`): https://gist.github.com/mp911de/33e9d19332ac77b5b73e7d7d3f56c5f8

Full traffic (Wireshark): [r2dbc-mssql-tl

[2019-06-03 06:54] normanmaurer commented on #9216
@mp911de I am correct that this is only with JDK SSL implementation and NOT with netty-tcnative ? Also could you test with java8 as well ?

[2019-06-03 06:57] normanmaurer commented on #9213
@EliyahuStern would you be interested to submit a pr ?

[2019-06-03 07:01] normanmaurer commented on #9215
@ro9er please submit a pr if you think it can be improved... I will have a look :)

[2019-06-03 07:38] mp911de commented on #9216
I tested the setup with the JDK implementation only so far. Here are test results with tcnative and Java 8/Java 11:

* BoringSSL Java 8 (default config): works
* JDK SSL Java 8 (default config): works
* BoringSSL Java 11 (default config): works
* BoringSSL Java 11 TLSv1.3: remote peer closed (server failure)
* JDK SSL Java 11 (default config): NotSslRecordException
* JDK SSL Java 11 TLSv1.3: remot

[2019-06-03 09:16] ro9er commented on #9215
Ok, I have submit a pr and please have a look.
Thanks for your help and looking forward for your reply!

[2019-06-03 09:35] normanmaurer commented on #9193
@lechiefe I suspect your problem is that you use use the "opt record" which tells the remote peer that you support datagram packets up to 4096 bytes (by default) and you sometimes get truncated datagrams. You can try to use a different `maxPayloadSize` to set a smaller limit if you encounter problems.

[2019-06-03 18:01] EliyahuStern commented on #9213
@normanmaurer sure, just created https://github.com/netty/netty/pull/9219

[2019-06-03 18:08] redbrain opened #9220 "Raw File Output using FileChannel to write inbound/outbound traffic to session files"
Hi, I have used netty to rewrite all networking in a large legacy application, and just want to say i love this project so much its made everything unit-testable etc.

But i was unable to find an approach to add to my pipeline to write inbound traffic to a inbound.dat or an outbound.dat respectively just writing the raw bytes to file.

Ideally i wanted to do this:

[code]

I am happy to try and im

[2019-06-04 06:08] maseev opened #9222 "[Proposal] Consider using coveralls.io to collect code coverage information"
I noticed that Netty is using a Jacoco Maven plugin for collecting test coverage data.
I think It would be great if Netty could integrate with [Coveralls](https://coveralls.io) and share its code coverage data on the README page as well as on every PR it receives.
The integration with Coveralls and Jenkins is quite simple. Here's a [Maven plugin](https://github.com/trautonen/coveralls-maven-plugin

[2019-06-04 12:13] #9212 closed

[2019-06-04 12:15] #9213 closed

[2019-06-04 17:25] normanmaurer commented on #9220
@redbrain there is nothing build in into netty. Keep in mind that file IO may block so you should off-load this to another thread.

[2019-06-04 17:25] #9220 closed

[2019-06-04 17:26] normanmaurer commented on #9215
As explained in the PR the `Set` is needed.... closing.

[2019-06-04 17:26] #9215 closed

[2019-06-04 17:26] normanmaurer commented on #9208
Yes I did fix it... closing

[2019-06-04 17:26] #9208 closed

[2019-06-04 20:06] tbrooks8 commented on #9181
Closing as I think extending SocketChannel directly gives me the functionality that I need.

[2019-06-04 20:06] #9181 closed

[2019-06-04 20:14] carl-mastrangelo commented on #9207
Is there any chance a fix for this could go into the 4.1.37 cut?

[2019-06-04 23:42] normanmaurer commented on #9207
@carl-mastrangelo yes we definitely want to "fix" this before.

[2019-06-05 09:39] jalajjjkumar commented on #2532
I have the same issue could you please fix it
[hs_err_pid6123.log](https://github.com/netty/netty/files/3256499/hs_err_pid6123.log)

[2019-06-06 01:03] mtuchkov opened #9225 "AsciiString.of("/foo).lastIndexOf("/") returns -1"
### Expected behavior
AsciiString.of("/foo").lastIndexOf("/") = 0

### Actual behavior
AsciiString.of("/foo").lastIndexOf("/") = -1

### Netty version
4.1.36.Final

### JVM version (e.g. `java -version`)
java version "11.0.3" 2019-04-16 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.3+12-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.3+12-LTS, mixed mode)

### OS version (e.g. `unam

[2019-06-06 01:22] qeesung commented on #9225
Duplicate of #9099

[2019-06-06 01:25] njhill commented on #9225
@mtuchkov @qeesung is right, already fixed in 4.1.37.Final (yet to be released).

[2019-06-06 01:25] #9225 closed

[2019-06-06 03:55] liewmanchoi commented on #8125
Could you please use English in INTERNATIONAL COMMUNITY?

[2019-06-06 03:55] liewmanchoi commented on #8125
Could you please use English in INTERNATIONAL COMMUNITY?

[2019-06-06 15:52] Scottmitch commented on #9207
please review https://github.com/netty/netty/pull/9227

[2019-06-06 16:56] ryanoneill opened #9228 "Support Setting Parent Channel for EmbeddedChannel"
### Expected behavior

It would be beneficial for testing the effects of Netty multiplexed protocols (i.e. HTTP/2) on generic functionality if `EmbeddedChannel` had the capability for setting a parent `Channel`. There are situations where the child `Channel` and `ChannelPipeline` is processing a message, yet the desired information is actually contained within the parent `Channel` that is responsi

[2019-06-06 17:17] normanmaurer commented on #9228
@ryanoneill sounds good... want to do a pr ?

[2019-06-06 17:19] ryanoneill commented on #9228
Would like to, I just need to find the time. It might be a few weeks before I could do it. What do you think?

[2019-06-06 17:34] lechiefe commented on #9193
@normanmaurer My apologies for the delay, it may be the case, you obviously understand the infrastructure better than myself. I also suspected that that was the case, however while stepping though the code, on a rare occasion that I was able to catch an erroneous request in execution, the isTruncated flag was not set. Is my understanding correct that the current release does not support truncated

[2019-06-06 17:35] lechiefe commented on #9193
@qeesung Yes, I can, I will have some time to look at the issue again this weekend, I will update this when I have the info. Thank you for looking into this, you guys do amazing work!

[2019-06-06 18:35] Bennett-Lynch opened #9229 "Make ResourceLeakDetector also emit recent access records for IllegalReferenceCountException"
Netty's `ResourceLeakDetector` does an excellent job of exposing "recent access records" (stack traces) to help diagnose the source of a leak.

I wonder, could `ResourceLeakDetector` (or `LeakAwareByteBuf`) also emit recent access records in the opposite case... of throwing an `IllegalReferenceCountException: refCnt: 0`?

E.g.,

[code]

Currently, there's no troubleshooting information attached to

[2019-06-07 00:44] #9207 closed

[2019-06-07 01:03] normanmaurer commented on #9207
@carl-mastrangelo @voidzcy @ejona86 can you test with the latest snapshot and verify this fixes the issue in GRPC ?

[2019-06-07 01:04] normanmaurer commented on #9229
@Bennett-Lynch I like the idea... That said I think I would create a special `IllegalReferenceCountException` which holds the extra details I guess... WDYT ?

[2019-06-07 02:58] carl-mastrangelo commented on #9207
@normanmaurer I'll work with @voidzcy    to try it out tomorrow.

[2019-06-07 03:29] normanmaurer commented on #9207
Thanks a lot !

[2019-06-07 17:31] Bennett-Lynch commented on #9229
@normanmaurer Agree that attaching it to the exception itself is probably better.  Not sure if it'd be cleaner to just update the message / causal chain of `IllegalReferenceCountException` itself or to create a new subclass though.

[2019-06-07 17:43] normanmaurer commented on #9229
I guess I would sub-class

[2019-06-07 21:55] voidzcy commented on #9207
@normanmaurer I just pulled `4.1.37.Final-SNAPSHOT/	Fri Jun 07 21:05:54 UTC 2019` to build gRPC and it succeeded.

[2019-06-07 21:56] normanmaurer commented on #9207
@voidzcy thanks a lot for verify the fix :)

[2019-06-07 23:01] #9205 closed

[2019-06-07 23:52] normanmaurer commented on #9228
@ryanoneill just had a few minutes and so did it... PTAL https://github.com/netty/netty/pull/9230

[2019-06-07 23:53] normanmaurer commented on #9193
@lechiefe no it will have no truncated flag set as you told it via the OPT record that you can read 4096 bytes. It will set the truncated flag if the response would be bigger then 4096 bytes in this case

[2019-06-07 23:57] normanmaurer commented on #9216
@mp911de what happens if you "force" non TLS1.3 ciphers and so also TLS1.2 ?

[2019-06-08 07:25] violetagg opened #9231 "SSL error when server SslContext with startTls=true and handler uses ctx.writeAndFlush"
This issue is related to https://github.com/reactor/reactor-netty/issues/757

### Expected behavior
When requesting the server to receive the expected content ("Hello World")

### Actual behavior
`curl: (56) LibreSSL SSL_read: error:1404C10B:SSL routines:ST_OK:wrong version number, errno 0`

When `startTls=true` for the SslContext on the server and sending response with `ctx.writeAndFlush(...)` th

[2019-06-08 12:51] Ravipatel401 commented on #7319
Hey Guys,

**Tying to identifying this issues from last 4 days but found the perfect solution that is just checked when**
###  Experiment 1. :- Java 8 32bit with eclipse 32 bit :---- **Failed to load any of the given libraries: [netty_tcnative_windows_x86_32, netty_tcnative_x86_32, netty_tcnative]**
**Experiment 2.:- Java 8 64bit  with Eclipse Luna 64 bit 👍 :- Worked Without Error.**

Thanks

[2019-06-08 14:23] mp911de commented on #9216
JDK 11 SSL
* SSLv2Hello: Works
* SSLv3: Works
* TLSv1: NotSslRecordException
* TLSv1.1: NotSslRecordException
* TLSv1.2: NotSslRecordException
* DTLSv1.0: Works
* DTLSv1.2: Works

[2019-06-08 16:11] #9228 closed

[2019-06-08 16:32] #9222 closed

[2019-06-10 01:43] lord-i-will opened #9232 "Very high context switching of netty-3.10.6.Final"
### Expected behavior
Low context switching.
### Actual behavior
Very high interruption and context switching.
![image](https://user-images.githubusercontent.com/14847104/59167454-ef0adb00-8b63-11e9-8840-47369bf361da.png)

### Steps to reproduce
Reference: https://stackoverflow.com/questions/56491729/big-data-transmission-flume-avro-source-netty-server-epoll-cause-lots-of-contex
### Minimal yet co

[2019-06-10 01:49] lord-i-will commented on #9232
@trustin @normanmaurer Could you please have a look at my problem?

[2019-06-10 02:19] DATuan91 commented on #9232
@lord-i-will Version 3.10.6 is obsolete and no longer supported by now. Moreover, version 3.x has a lot of gc and memory management issues. I think you should really consider upgrade to 4.1.x

[2019-06-10 10:47] Buffer2Disk opened #9233 "How to init dns resolver for bootstrap?"
### Expected behavior
i want customize dns server for bootstrap to resolve domain , separate from the default dns server ,then how can i init AbstractAddressResolver  for google dns 8.8.8.8?

`bootstrap.resolver(new AbstractAddressResolver<>())`
### Netty version
netty 4
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)
centos 7

[2019-06-10 17:12] ga92yup opened #9234 "Conversion from ByteBuf to byte[] returns different length arrays for same data"
Hi,

I am experiencing a behavior I would like to explain:
I am reading the same data from my local machine and in a network application as part of adding some code to Apache Pulsar.
The data is in ByteBuf format and needs to be converted to byte[] for further computation.
When reading the data locally, I use:
byte[] msgArray =   buf.array();
The network code is as follows:
               if(msg.h

[2019-06-11 01:49] qeesung commented on #9233
You can specify DNS server when sending query requests:
[code]

[2019-06-11 01:57] qeesung commented on #9234
I guess your server (client) didn't receive the complete data, maybe only 62290 bytes of data. Maybe you can try to assemble multiple message fragments in custom `Decoder`

[2019-06-11 02:30] #9232 closed

[2019-06-11 03:48] Buffer2Disk commented on #9233
hi , i'm not quite undertand what does it mean **resolver** ?
because i want bind dns server to **Bootstrap** , so each connection can use my own dns server

[2019-06-11 11:35] johnou commented on #9182
classgraph had some extra checks which I'm not sure would apply to Netty.. https://github.com/classgraph/classgraph/blob/a873e317452d711c04855905e527b07923108dbe/src/main/java/nonapi/io/github/classgraph/utils/FileUtils.java#L609

[code]

[2019-06-11 14:28] ga92yup commented on #9234
Thanks a lot for your reply!

[2019-06-11 16:42] normanmaurer commented on #9234
Also be sure you take `readerIndex`, `arrayOffset` and `readableBytes` into account when acting on the backing array.

[2019-06-11 16:42] #9234 closed

[2019-06-13 06:57] ScottShen-Syd opened #9237 "TimeoutException"
OS: Centos 7.4.1708
Java:  1.8.0_151
Netty:  4.1.36

Shouldn't that the FixedChannelPool.AcquireTimeoutAction.FAIL throws io.netty.handler.timeout.TimeoutException? However, tested it throws java.util.concurrent.TimeoutException instead

-- Test Code --
try
{
     Future< Channel > fc = fixedChannelPool.acquire().sync();
}
catch( Exception e )
{
    if( e instanceof java.util.concurrent.TimeoutExc

[2019-06-13 12:55] mbigger opened #9238 "JdkZlibDecoder and JdkZlibEncoder"
### Expected behavior
JdkZlibDecoder and JdkZlibEncoder can work all the time

### Actual behavior
JdkZlibDecoder and JdkZlibEncoder can only work once

### Steps to reproduce
run the demo project,  use  tcp tools send some message.

### Minimal yet complete reproducer code (or URL to code)

[project url ](https://gitee.com/mbigger/java-netty/tree/master/src/main/java/com/mbigger/netty/ch8)

[code

[2019-06-14 11:01] xiaoheng1 opened #9241 "How should FlowControlHandler be used?"
i use netty4.1.34.

I see FlowControlHandler source code. and i give a example about how to use FlowControlHandler.

[code]

However, I found that when ctx.channel().config().setAutoRead(false) is called, the channel cancels the OP_READ event, then msg will not be stored in the FlowControlHandler's queue. Therefore, the queue property in FlowControlHandler is useful ?

In my opinion, the channel s

[2019-06-14 14:42] qeesung commented on #9241
You should explicitly call `ctx.read()` to read data. Ensures that only one message per `read()` is sent downstream

[2019-06-15 01:00] xiaoheng1 commented on #9241
@qeesung I understand what you mean, by the way, what is the role of the queue in FlowControlHandler?

[2019-06-16 02:50] tanzheng231 opened #9243 "hello! netty websocket Memory leak ,please take a look!!"
### Expected behavior

2019-06-16 11:50:11.095 [nioEventLoopGroup-5-6] ERROR io.netty.util.ResourceLeakDetector - [ResourceLeakDetector.java:317] - LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
#1:
	Hint: 'DefaultChannelPipeline$HeadContext#0' will handle the message from th

[2019-06-16 02:53] tanzheng231 commented on #9243
2019-06-15 19:02:18.610 [nioEventLoopGroup-5-1] ERROR io.netty.util.ResourceLeakDetector - [ResourceLeakDetector.java:317] - LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
Created at:
        io.netty.buffer.PooledByteBufAllocator.newDirectBuffer(PooledByteBufAllocator.java:3

[2019-06-16 06:08] normanmaurer commented on #9243
Show your pipeline setup and your custom handlers. Seems like you miss to call release()

[2019-06-16 06:13] tanzheng231 commented on #9243
![image](https://user-images.githubusercontent.com/29850270/59560205-b75ad200-9040-11e9-8ce1-24e903d696e1.png)
  This is my code,
I have called release()

[2019-06-16 06:18] normanmaurer commented on #9243
@tanzheng231 I don't think this is all your code that matters... Show me your ChannelInboundHandler* implementations

[2019-06-16 06:23] tanzheng231 commented on #9243
[HttpServerHandler.txt](https://github.com/netty/netty/files/3293881/HttpServerHandler.txt)
[WebSocketServerHandler.txt](https://github.com/netty/netty/files/3293882/WebSocketServerHandler.txt)
This is the implementation of http and websocket

[2019-06-17 01:09] tanzheng231 commented on #9243
I think the throughput is too large, causing the memory outside the heap to overflow, so I can't get released.

[2019-06-17 08:56] unoexperto commented on #5860
Guys, could you please suggest if there connection between this change and https://github.com/AsyncHttpClient/async-http-client/issues/1645 ?

[2019-06-17 09:31] johnou commented on #9243
@tanzheng231 please provide a full reproducer project.

[2019-06-17 10:18] normanmaurer commented on #9237
This is by design... the transport jar has no dependencies on handler

[2019-06-17 10:18] #9237 closed

[2019-06-17 10:18] normanmaurer commented on #9233
the resolver itself is only used when using connect, and so only on the client side.

[2019-06-17 10:18] #9233 closed

[2019-06-17 10:20] normanmaurer commented on #9231
Thanks will have a look.

[2019-06-17 10:30] tanzheng231 commented on #9243
This is my code, please see, thank you
"https://drive.google.com/open?id=1LYPt-vzsxwjJJWfIfRdRVopgKPo1MUXb"

[2019-06-17 12:05] normanmaurer commented on #9231
@violetagg why do you use STARTTLS btw ? This seems to be not right and most likely the problem. I guess the sequencing may just vary a bit in so it works "by chance"...

[2019-06-17 12:15] normanmaurer commented on #9229
@Bennett-Lynch want to come up with a pr ?

[2019-06-17 13:52] Fernthedev opened #9246 "[Feature] Flutter compability?"
Not really an issue, but would there be any support or ways to use Flutter client with a netty server. If not, then what would you suggest would be the best way for a developer to accomplish this. I've already tried using protobuf but with netty's implementation of protobuf it adds extra bytes which I don't know how to interpret in dart (The extra bytes show how long the protobuf message is). Curr

[2019-06-17 16:05] localstorm opened #9248 "Delays getting client accepted [troubleshooting advice needed]"
Hi,

My system is built using two Netty-based applications where one is serving inbound requests coming at high rate and occasionally speaking to the second one for extra data. What we have seen although rather rarely (which makes it difficult to repro) is the following:

First application is getting steady high request rate and everything is working fine. Second application is getting requests fr

[2019-06-17 16:15] localstorm commented on #9248
What is also interesting here is that when it happens other threads of the Second application are also likely to show the same issue. So we hit this in batches of 5-10 connections at approximately the same time. They see client coming and going away after receiving a few request bytes a long after actual client gave up on them

[2019-06-17 18:26] normanmaurer commented on #9241
@xiaoheng1 if you call `read()` you may receive multiple `channelRead(...)` invocations. This `queue` helps to ensure you only receive one per `read()` call.

[2019-06-17 18:26] #9241 closed

[2019-06-18 06:50] DATuan91 commented on #9248
Can you show the config of server and client bootstrap @localstorm.?
Anyway, this issue is rather vague, but you could try do the following:

- Add an interval ping/ polling mechanic to keep connection alive
- Try tweaking ChannelOption.SO_KEEPALIVE, ChannelOption.ALLOW_HALF_CLOSURE, ChannelOption.SO_LINGER or ChannelOption.TCP_NODELAY. Maybe other config from io.netty.channel.ChannelOption might

[2019-06-18 07:23] DATuan91 commented on #9243
@tanzheng231 This is pretty obivous, do you remember to release the content of webSocketFrame on your webSocketEndpoint?

![image](https://user-images.githubusercontent.com/12621212/59660041-c91faf00-91d1-11e9-9029-f6dfef200e3e.png)

[2019-06-18 07:38] #8148 closed

[2019-06-18 08:05] #8295 closed

[2019-06-18 08:18] tanzheng231 commented on #9243
{"module_":"functionPush","moduleData_":{"operationAuthority":"N","isSignControlPPT":false}}

[2019-06-18 10:36] akhil-yalagonda commented on #8871
@sheunglaili do you know how to make it work on a 32-bit machine?

[2019-06-18 11:32] tanzheng231 commented on #9243
Quote this run project
"-Dio.netty.leakDetectionLevel=advanced"
At present, there is no memory leak prompt, but under the stress test, the memory will not go down, even if the websocket is disconnected, it will not be released.
probably　10,000 throughput per second

![image](https://user-images.githubusercontent.com/29850270/59678629-896fbc00-91ff-11e9-82bc-db0ab41ec3f7.png)

[2019-06-18 12:03] shevah opened #9253 "PooledByteBufAllocator doesn't decrease usedDirectMemory upon ByteBuf release"
Consider

[code]

Why is `usedDirectMemory` changes in the first test but not in the second one?

### Minimal yet complete reproducer code (or URL to code)
[netty-usedDirectMemoty](https://github.com/shevah/netty-usedDirectMemoty)

### Netty version
4.1.36

[2019-06-18 12:57] johnou commented on #9243
use paranoid, not advanced.

[2019-06-18 14:08] normanmaurer commented on #8871
@akhil-yalagonda you will need to build netty-tcnative on a 32bit system. We are currently not doing this

[2019-06-18 14:08] #8871 closed

[2019-06-18 14:18] shallowinggg opened #9255 "Why class AbstractReferenceCountedByteBuf in Netty-4.1.34 use even refCnt?"
When I see Netty-4.1.34 source code, I find that class AbstractReferenceCountedByteBuf's field *refCnt* use even number, but in previous version, it's not, what's the benefit to do this?

    // even => "real" refcount is (refCnt >>> 1); odd => "real" refcount is 0
    private volatile int refCnt = 2;

    // get real refCnt
    private static int realRefCnt(int rawCnt) {
        return (rawCnt &

[2019-06-18 14:31] amizurov commented on #9243
Hi @tanzheng231 i think that the root cause in this snippet of code:
PushWebSocket.class
[code]
You don't handle possible errors during write to user and  (`textWebSocketFrame1`) don't released.

[2019-06-18 21:17] trevorwhitney commented on #9231
@normanmaurer you are correct that using STARTTLS was incorrect. Removing that fixes our problem. However, I'm curious about this only working in the "plain netty" implementation in the example code "by chance". Could you elaborate on that? Out of 1000 requests, the "plain netty" implementation passes 100% of the time, while the "reactor netty" implementation fails 100% of the time.

[2019-06-18 23:06] njhill commented on #9255
@shallowinggg this is part of an internal optimization to reduce concurrent ref counting overhead while ensuring that that the count can only reach zero once. You should not notice any difference if using the public methods.

[2019-06-19 00:21] mbigger commented on #9238
can anyone help me?

[2019-06-19 01:25] tanzheng231 commented on #9243
u.getSession.sendText()-->
![image](https://user-images.githubusercontent.com/29850270/59730232-2bc98700-9274-11e9-8da6-e2255a435206.png)
Have been released

[2019-06-19 01:29] tanzheng231 commented on #9243
Hi!@amizurov
u.getSession.sendText()-->Session
![image](https://user-images.githubusercontent.com/29850270/59730232-2bc98700-9274-11e9-8da6-e2255a435206.png)
Have been released

[2019-06-19 02:01] tanzheng231 commented on #9243
Hi@johnou
use paranoid
"
"logback-1" #34 daemon prio=5 os_prio=0 tid=0x00007fa48c008800 nid=0x2533 waiting on condition [0x00007fa4d45f7000]
   java.lang.Thread.State: WAITING (parking)
        at sun.misc.Unsafe.park(Native Method)
        - parking to wait for  <0x00000006c867b840> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)
        at java.util.concurrent.locks.Loc

[2019-06-19 04:23] shallowinggg commented on #9255
@njhill I know what you say, and I want to know what is the principle of this optimization too, please explain how it works. Thank you!

[2019-06-19 06:54] single-wolf commented on #9255
In previous version it do all operation in while(CAS) loop and that is work correctly
`retain() compareAndSet(this, refCnt, refCnt + 1)`
`release() compareAndSet(this, refCnt, refCnt - 1)`
then its modified at 83a19d565064ee36998eb94f946e5a4264001065 though i dont think thats more efficient XD. that cause some issues #8563 and now even&odd is solution

[2019-06-19 08:40] #9255 closed

[2019-06-19 09:07] normanmaurer commented on #9253
I suspect the first allocation is too big to be pooled and so is allocated as a "unpooled" buffer and so once you released it will return the direct memory to the system directly. The second is small enough to end up in the pool itself and so will remain there and no be freed.

[2019-06-19 09:07] #9253 closed

[2019-06-19 09:13] normanmaurer commented on #9238
@mbigger usually encoder / decoder should only call `finish()` when either the channel is about to be closed or if we read a gzip footer. Not sure what exactly you are doing here or what data you receive / send.

[2019-06-19 18:10] fvasily opened #9256 "Http2ConnectionHandler channelWritabilityChanged & other H2 related questions"
Hi,
Recently I've been trying to use Http2 implementation in Netty and came across a few issues/questions.

## What I'm trying to do
Using Http2 I'd like to send `DATA` frames without using any of the Http1. Basically I would like to establish a single stream and send `DATA` frames back and forth.

## channelWritabilityChangedSignal
As I tried to change the returned `DATA` frame size I quickly arr

[2019-06-19 18:52] normanmaurer commented on #9256
@carl-mastrangelo @ejona86 can you have a look ?

[2019-06-19 22:22] ursaj opened #9257 "WebSocketProtocolHandler does NOT support autoRead=false"
### Expected behavior
WebSockets inbound flow could be controlled manually with autoRead=false

### Actual behavior
Inbound flow hangs on the first ping or pong message from the client.

### Steps to reproduce
Disable autoRead on the channel.
Request the next inbound message from the channel.
Send from the client two frames: ping and text.

**Expected:** my handler receives text frame.
**Actual:**

[2019-06-20 08:23] benitocm opened #9261 "Advice for configuration with high rate of small messages"
We have developed a service running in a virtual linux box (3.10.0-957.el7.x86_64 #1 SMP Thu Oct 4 20:48:51 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux, 8 vcpus 16 GBytes)  with Java 8 , Spring Boot 2.1.5 using Reactor, Reactor and Netty (4.1.36.Final.jar) . The service exposes a websocket end-point where the clients devices send a high rate of websocket small messages  (around 40 bytes per message).

[2019-06-21 12:13] Nashatyrev commented on #3887
Still the ussie (feature) in `4.1.36` :(

[2019-06-21 13:33] apascenko commented on #8530
FYI: Google Chrome [announced](https://www.chromestatus.com/feature/5088147346030592) changes in the default behavior: cookies without explicitly specified SameSite attribute will be treated by default as SameSite=Lax instead of SameSite=None. So far it looks like it won't be enabled earlier than the end of this year, but it makes the need for the new feature more urgent, since many of the existin

[2019-06-21 21:29] SuganyaRajendran opened #9266 "Netty SSL handshake timeout intermittently"
I have netty server that uses bogus certificate. Below is the code that I used,

[code]

SSL handshake is success 3 out 10 times, and it fails remaining time with below error.

[code]

I have enabled `javax.net.debug` to `all` to enable debug logs. For success request, I see initial ClientHello, ServerHello, Key/Certificate exchange, etc. For failed request, I see only below stack trace with above

[2019-06-23 21:30] vietj opened #9269 "HttpPostRequestEncoder will overwrite the original filename when switching to mixed mode"
### Expected behavior
The `HttpPostRequestEncoder` preserves the original filename of file uploads sharing the same name encoded in mixed mode.

### Actual behavior
The `HttpPostRequestEncoder` overwrites the original filename of file uploads sharing the same name encoded in mixed mode when it rewrites the multipart body header of the previous file.

### Steps to reproduce
Use an `HttpPostRequestE

[2019-06-24 07:07] #9257 closed

[2019-06-24 07:47] hban opened #9271 "readCharSequence(0) is inconsistent"
`readCharSequence(0, charset)` returns different results for `EmptyByteBuf` than for other types of buffers.

### Expected behavior

`readCharSequence(0, charset)` to always return empty string.

### Actual behavior

[code]

### Netty version

4.1.36

[2019-06-24 08:17] normanmaurer commented on #9271
@hban thanks a lot that is a bug...

[2019-06-24 08:36] normanmaurer commented on #9271
@hban thanks for reporting... Fix https://github.com/netty/netty/pull/9272

[2019-06-24 08:38] #9201 closed

[2019-06-24 08:40] #9269 closed

[2019-06-24 08:42] normanmaurer commented on #9261
There is not way to give an guidance without know more about the system... Also you may want to attach a profiler etc. In general if all the messages are small you may also want to experiment with `TCP_NO_DELAY` settings.

[2019-06-24 08:42] #9261 closed

[2019-06-24 08:43] normanmaurer commented on #9243
Like others say please run in "paranoid". I am pretty sure you have a leak somewhere

[2019-06-24 08:45] normanmaurer commented on #9231
@trevorwhitney so how starttls works in netty is that once you do the first "flush" it switches to "encrypted mode". So I suspect in netty we receive a `channelReadComplete` before `channelRead` and so we already switched to encryption mode while in project-reactor this is not the case. While there is not anything wrong with the "extra" `channelReadComplete` in the case of netty I think general sp

[2019-06-24 08:45] #9231 closed

[2019-06-24 08:46] normanmaurer commented on #9246
I think you would need to write your own decoder / encoder for this.

[2019-06-24 08:46] #9246 closed

[2019-06-24 14:19] vietj commented on #7868
I think this issue can be closed because of https://github.com/netty/netty/pull/9270 @normanmaurer

[2019-06-24 14:20] #7868 closed

[2019-06-24 15:34] ilopmar opened #9278 "Micronaut Graal native-images doesn't work anymore with Netty 4.1.35+"
### Expected behavior

I'm trying to upgrade Micronaut to use Netty 4.1.35 or later and it should be possible to build Micronaut GraalVM native-images with that Netty version.
I know that Netty introduced Graal support in 4.1.36 but it uses the old approach, meaning that it's compatible with Graal pre-19.0.0 version. I was hoping to send a PR here to upgrade Netty to support Graal 19.0.0 (and 19.0

[2019-06-24 15:51] trevorwhitney commented on #9231
@normanmaurer thanks for the explanation, that clears it up!

[2019-06-24 17:14] graemerocher commented on #9278
The issue is that on this line

https://github.com/netty/netty/commit/8f7ef1cabb5442584e56a9e79bcb9696bc572a94#diff-006d8822b20e6bcf0e9f5f2470153807R166

The call to retrieve the method is returning `null` on GraalVM. The issue has a knock on effect as previous versions of Netty allows handlers to not be registered for reflection, but since the change all handlers used by netty have to be register

[2019-06-24 17:15] normanmaurer commented on #9278
@graemerocher sure we can add a null check but still I wonder if this is even "valid" to return null in terms of API. Shouldn't you better throw an exception if you can not find the method (for whatever reason).

[2019-06-24 17:16] normanmaurer commented on #9278
@graemerocher also please feel free to send a PR for the extra null check.

[2019-06-24 17:21] graemerocher commented on #9278
Will do thanks

[2019-06-24 19:09] #9271 closed

[2019-06-24 19:24] normanmaurer commented on #9278
@graemerocher <3

[2019-06-25 11:42] belliottsmith opened #9281 "Lz4FrameEncoder (and other compressors) Acknowledge Writes Too Early"
Expected behaviour: The promise for a write should be completed only once the write makes it to the network

Actual behaviour: Buffering encoders that extend `MessageToByteEncoder`, most notably Lz4FrameEncoder and other compressors, will notify the promise before the frame containing the message reaches the network.

This behaviour is triggered by `MessageToByteEncoder.write` which is designed fo

[2019-06-25 11:45] belliottsmith commented on #9281
Unfortunately resolving this issue is less trivial than we might hope, as each buffering `MessageToByteEncoder` needs to be updated.  We probably want to introduce a `MessageToBufferedByteEncoder` or some such, that also buffers promises for all messages in a given buffer.  This will mean updating a lot of classes that extend `MessageToByteEncoder`.

Note that the `SslHandler` effectively already

[2019-06-25 12:45] #9278 closed

[2019-06-25 12:47] graemerocher commented on #9278
Thanks!

[2019-06-25 13:20] croudet commented on #9238
Shouldn't the `JdkZlibDecoder` be first in the pipeline, at least before `DelimiterBasedFrameDecoder`?

[2019-06-25 14:21] normanmaurer commented on #9266
without more infos it is hard to say anything... are you sure you not block the EventLoop somehow ?

[2019-06-25 14:22] normanmaurer commented on #9216
@mp911de is there any way to reproduce this locally without azure ?

[2019-06-25 20:04] normanmaurer commented on #8962
@qeesung can you provide a focused fix for the issue without changing the whole class hierarchy etc and breaking the API or is this not possible at all ?

[2019-06-26 01:21] qeesung commented on #8962
@normanmaurer Okay, I'll give it a try. :-)

[2019-06-26 07:25] Trenson opened #9283 "Does netty support open a connection with prior knowledge?"
### Expected behavior
Netty support open a connection with prior knowledge, for the server is Rust-h2, which handshake by  prior knowledge.
### Actual behavior
Server is Rust-h2, which handshake by  prior knowledge. But my client is written by java-netty, my client can't handshake with the server.
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

[2019-06-26 07:27] normanmaurer commented on #9283
@Trenson do you are talking about client side ?

[2019-06-26 07:49] jiangxinlingdu opened #9284 "About FastThreadLocal Cache line padding ????"
// Cache line padding (must be public)
    // With CompressedOops enabled, an instance of this class should occupy at least 128 bytes.
    public long rp1, rp2, rp3, rp4, rp5, rp6, rp7, rp8, rp9;

why use 9 nums long
![TIM图片20190626155119](https://user-images.githubusercontent.com/6373972/60161478-44b0da00-982a-11e9-9b20-11b8c2838cec.png)

[2019-06-26 07:53] johnou commented on #9284
@jiangxinlingdu what's the problem?

[2019-06-26 07:56] jiangxinlingdu commented on #9284
why use  public long rp1, rp2, rp3, rp4, rp5, rp6, rp7, rp8, rp9;  not
public long rp1, rp2, rp3, rp4, rp5, rp6, rp7, rp8;

I figured out why I figured out 136.  not 128  why not To remove a long？？？？？

[2019-06-26 07:57] franz1981 commented on #9284
@jiangxinlingdu  you can use https://plugins.jetbrains.com/plugin/10953-jol-java-object-layout and check it out how it is the layout with your case too :+1:

[2019-06-26 08:00] mp911de commented on #9216
No, I haven't found a reproducer without Azure yet. I can provide you with an instance if that works for you.

[2019-06-26 08:03] jiangxinlingdu commented on #9284
I'll try

[2019-06-26 08:14] normanmaurer commented on #8962
@qeesung thanks a lot

[2019-06-26 08:32] franz1981 commented on #9284
@jiangxinlingdu @johnou I see other issues instead: if the purpose of the padding was to protect from false sharing the internal fields `InternalThreadLocalMap`from the rest of the heap it won't work without COOPS and 64 bit JDK ie

With COOPS 64 bit, 8 bytes aligned:
[code]
Without CCOPS 64 bit, 8 bytes aligned:
[code]
In the latter case `cleanerFlags` is likely to sugger false sharing if surroun

[2019-06-26 08:35] normanmaurer commented on #9284
@franz1981 want to do a PR to fix all of this ?

[2019-06-26 08:39] franz1981 commented on #9284
@normanmaurer Sure bud: let me take some time to figure it out the original purpose and real effects of the padding too (maybe searching on the original PR that has introduced it) :+1:

[2019-06-26 09:14] jiangxinlingdu commented on #9284
@franz1981
Your meaning  all Cache line padding  additional additions are required 8 bytes

[2019-06-26 09:16] jiangxinlingdu commented on #9284
cache line size is 64 meaning Instance size: 72 bytes

cache line size is 128meaning Instance size: 136 bytes

[2019-06-26 09:31] franz1981 commented on #9284
@jiangxinlingdu

Exactly, to be 100% no false sharing could happen...but the point is it worths?
That's what I want to now: having + 128 bytes (due to padding) on each thread local instance is not a small footprint...so I would like to be sure that it wasn't a premature optimization (maybe not)

[2019-06-26 21:30] njhill commented on #9281
@belliottsmith interesting finding :) It does look like a mis-use of `MessageToByteEncoder`, which doesn't contain much logic to begin with. I like your idea of introducing a new `MessageToBufferedByteEncoder` (`BufferingMessageToByteEncoder`?) - hopefully it could be a non-breaking addition if it extended `MessageToByteEncoder`.

It could have an alternative `encode` method (`bufferedEncode`?) wh

[2019-06-26 21:57] njhill commented on #9105
@belliottsmith @normanmaurer I think this can be closed now that #9247 is merged?

[2019-06-27 06:15] benitocm commented on #9261
Hi,

What we have seen is that under load we have around 40% system CPU and 40% user CPU and we are wondering if we can do something at netty configuration side. What information would you need to be able to provide some guidance?

Thanks

[2019-06-27 07:03] normanmaurer commented on #9105
@njhill yes!

[2019-06-27 07:03] #9105 closed

[2019-06-27 07:05] normanmaurer commented on #9261
well a cpu profiler snapshot for example... that said even with this I dont know enough about your exact workload pattern most likely.

[2019-06-27 07:10] normanmaurer commented on #9281
@njhill yes it is a bug and yes I think we should have a new base-class that extends `MessageToByteEncoder` for this. This way we can hopefully implement it without breaking the API (which we can't for 4.1).

[2019-06-27 07:10] normanmaurer commented on #9281
@belliottsmith thanks for bringing this up.

[2019-06-27 07:13] belliottsmith commented on #9281
This is definitely a bug - sorry if I should have labelled it as such at filing (not sure I have the rights to do so though)

Agreed that we should extend `MessageToByteEncoder`

A more "correct" fix would be to standardise the buffering encoders on a class that can handle the buffering for them.  But something like what you propose is certainly easier and less invasive.  I'll take a look at rustl

[2019-06-27 09:46] krajcsovszkig-ms opened #9291 "Close future completes before the pipeline is cleaned up"
_I will submit a PR for this issue as soon as I can. See also https://stackoverflow.com/q/56752343_

### Expected behavior
The future returned by the various close methods and the channel's closeFuture() is completed successfully once the channel is closed and the pipeline is cleaned up - all handlers have received channelInactive, channelUnregistered and handlerRemoved.

### Actual behavior
The f

[2019-06-27 12:00] normanmaurer commented on #9291
@ejona86 @carl-mastrangelo @njhill @franz1981 @trustin @mosesn  how do others feel about this ?

[2019-06-27 14:00] richturner commented on #7147
Firstly great project and apologies for the following rant but after a few days of battling this I thought it good to share my experiences/frustrations.

Using existing `encoders` and `decoders` with `UDP` seems to be impossible...I have a user configurable chain of `encoders` and `decoders` to deal with whatever POJOs the user wants to send receive, this works well for connection based pipelines

[2019-06-27 14:10] richturner commented on #7147
Is it safe to assume a `DatagramChannel` is single threaded (saw this mentioned in another issue) so the packet origin could be extracted in the first `decoder` stored and then used when the message gets to the end of the pipeline?

[2019-06-27 14:31] belliottsmith commented on #9281
Hmm, so taking a closer look at the other encoder implementations, this looks to only affect `Lz4FrameEncoder`, as none of the others seem to not explicitly buffer - they simply encode a block large enough to contain the input message.  So this might be simpler than we thought - I might keep it simple and just override the necessary methods in `MessageToByteEncoder` in only `Lz4FrameEncoder`

[2019-06-27 14:32] normanmaurer commented on #9281
@belliottsmith SGTM

[2019-06-27 16:47] njhill commented on #9281
@belliottsmith I think at least `Bzip2Encoder` is similarly affected? I agree that it would be nicer to abstract/consolidate equivalent buffering logic but in the bzip2 case at least, the buffering happens within a separate "block compressor". Having just an aggregate promise in the superclass which is passed to write only when `encode...` returns true seems like it would be very simple and addres

[2019-06-27 23:17] carl-mastrangelo commented on #9291
Thoughts:

* This would probably be a behavior change, and we don't know if anyone is depending on this behavior for netty4.
* My expectation is the channel.isOpen() MUST return false by the time any listeners on the close future are run.
* If channelInactive is not propagated for some reason in a handler, other handlers may not see it anyway.   I don't think it's a strict requirement that you see

[2019-06-28 00:17] ejona86 commented on #9291
"all handlers have received" is not possible, since handlers dictate once they forward. Although handlerRemoved could be guaranteed.

close doesn't really exist on the channel pipeline; it's related to open, which also doesn't exist.

As a general rule, Netty completes futures before triggering pipeline events. And I think that's the general issue. The closeFuture completes as soon as the FD is cl

[2019-06-28 00:40] localstorm commented on #9248
Ops, missed your response. We don't have a connection to maintain with keepalive or pings. Connection is closed every time server responds. But sometimes server doesn't get ChannelPipeline created before client times out, which is something we still don't understand.

Unfortunately, I don't think TRACE is an option here, we'll fill our disks very quickly.

**Do you think we might want to try playi

[2019-06-28 00:43] localstorm commented on #9248
Actually, maybe TRACE is possible, I'll come back with what I found.

[2019-06-28 01:10] trustin commented on #9291
IIRC, in Netty, futures are fulfilled immediately when its associated network event occurred, before an event is triggered to a pipeline. I'd like to keep it consistent rather than special-casing a close future.

[2019-06-28 07:13] normanmaurer commented on #9248
Also you may want to attach profiler to see if you block the EventLoop

[2019-06-28 08:01] Nealsony commented on #5430
#1706: Multi threaded behavior with UDP server does not seem to work
#7557: Only single channel for netty on udp
It is highly recommended to resolve this issue.
I have tried many ways for this.But no one is what i like.
especially when i use UDP multicast or anycast...
now i uset a customize poolmap to achieve UDP anycast.

[2019-06-28 08:02] Nealsony commented on #5430
It is highly recommended to resolve this issue.
I have tried many ways for this.But no one is what i like.
especially when i use UDP multicast or anycast...
now i use a customize poolmap to achieve UDP anycast.

[2019-06-28 08:39] anuraaga opened #9293 "SSLContextBuilder should accept Iterable parameters too"
### Expected behavior

It is possible to pass parameters like SSL providers to `SslContextBuilder` without having to convert iterables to arrays, which is tedious.

### Actual behavior

Need to convert to arrays, except for the `ciphers` method.

Wanted to run this by everyone - if the API change makes sense I'd be happy to send a PR. Accepting `Iterable` would make the class easier to use and als

[2019-06-28 09:43] krajcsovszkig-ms commented on #9291
Thanks for the input!

I'd argue that the breaking change shouldn't affect users (who would want to rely on the pipeline still being intact and seemingly active after closing it?), but I agree that we shouldn't break the consistency of behavior.

Do you have an idea what else could be done to allow me to wait for the pipeline to be cleaned up, without changing the normal event flow or making break

[2019-06-28 10:26] normanmaurer commented on #9291
@trustin so we are talking about `closeFuture() `here so I think the point is not really valid :)

The problem in general is that the user can add handlers to the pipeline even after the Channel was closed.

@krajcsovszkig-ms yes firing `channelInactive` from `deregister()` is a problem as in Netty 4.x it is valid to deregister and register a channel again without closing it.

[2019-06-28 10:26] himanshumps commented on #7733
Any update on this issue. I am also facing the similar issues. While under load, the SSL starts taking time and the responses are delayed.

[2019-06-28 10:28] normanmaurer commented on #7733
not sure what to say here .. Generally speaking connection reset is "harmless" as it just means that the remote peer did close the connection in an "non-clean" way.

[2019-06-28 10:52] doom369 opened #9294 "Proposal: Decrease ChannelHandlerAdapter memory footprint by removing "boolean added" field"
Motivation:

`ChannelHandlerAdapter.added` field is used only to detect the duplicate handler within the pipeline when handler is added. This is actually "nice to have" check, but not a must and it has a  price.
Our pipelines in average have ~25 handlers. Holding this field brings additional ~100-200 bytes (depends on JVM) of the memory overhead per pipeline.

Solution 1:

The simplest solution wo

[2019-06-28 12:28] qeesung commented on #9294
`ChannelHandlerAdapter.added` is used to avoid adding a non-shared handler instance to multiple pipelines, and each handler instance should have an `added` filed to detect whether it has been added or not.

Solution 1:
If there are many channel connections, or pipelines, traversing handlers can cause serious performance problems.

Solution 2:
I don't quite understand this solution. How do we save

[2019-06-28 14:15] TristanPerry opened #9296 "No way of having a HTTP2 proxy with a single (outbound/client) TCP connection?"
### Overview

I am working on a Netty-powered HTTP2 proxy, meaning that the server will accept HTTP2 frames and forward them on to an outbound 'node', receiving the responses and sending them back to the original 'client'. Until a `GOAWAY` frame is received, you would expect just a single inbound TCP connection (from the client) and a single outbound TCP connection (to the node) to be open. Hopefu

[2019-06-28 14:36] stampy88 opened #9297 "Streaming large response affects other requests"
### Expected behavior
Hi, I am using Netty as an HTTP Server. Since the last step in our pipeline may take a while, we have an configured an `EventLoopGroup` which is used on the call to `pipeline.addLast(group, ...)`. We are expecting any large responses (10 MBs or more) that are written as HTTP Chunks not to interfere with other requests, but that is not what we are seeing.
### Actual behavior
A

[2019-06-28 14:50] doom369 commented on #9294
Exactly, that's why it doesn't worth the overhead. Especially, for static pipelines.

I would say, it depends on pipeline usage.

[code]

[2019-06-28 15:05] qeesung commented on #9297
Because the for loop make CPU very busy
[code]

[2019-06-28 15:07] stampy88 commented on #9297
Even if you throw a sleep in there it suffers from the same issue

[2019-06-28 15:11] stampy88 commented on #9297
@qeesung I put this in

[code]

and it shows the issue too.

[2019-06-28 15:16] qeesung commented on #9297
Because when netty receives a request, it distributes the request to the thread in the group according to the Round-Robin algorithm, so if the Ping request is allocated to the thread that is processing the chunk request in the for loop, the Ping request will be blocked.

You can try to send a new Ping request when the ping.sh script is blocked, and the Ping request sent later will respond.

[2019-06-28 15:18] stampy88 commented on #9297
But I thought the addition of the `p.addLast(group, new HangingServerHandler());` should prevent the IO thread from hanging. I understand that if I were to just to an `p.addLast(new HangingServerHandler());` I would be pinning that one thread until it is done.

[2019-06-28 15:31] qeesung commented on #9297
Because Hanging Server Handler can only be executed in a group with two worker threads, once the worker thread is blocked, subsequent arrival requests will be blocked in the worker thread of the group. Here the IO thread is not blocked (in other words, it can read and send data anyway), but the execution thread of handler is blocked, which means that HTTP requests cannot be processed.

[2019-06-28 15:39] stampy88 commented on #9297
I think it just clicked. That the worker thread group (not IO Threads) is treated the same way as the other Event groups when dispatching request: it just round robins. I was thinking that this type of event group was used more like a traditional thread pool where it uses the next available thread. Is that accurate? And if so, is there an implementation that works more like a traditional thread po

[2019-06-28 15:57] qeesung commented on #9297
Yes, at present, group only distributes tasks to worker threads in Round-Robin way. You can create a traditional thread pool outside of netty, then move busy code into your own thread pool that using custom scheduling strategy.

[2019-06-28 15:58] normanmaurer commented on #9297
like @qeesung said or use `UnorderedThreadPoolExecutor`. That said you need to ensure you write stuff back in the correct order as otherwise you will get into trouble.

[2019-06-28 16:26] stampy88 commented on #9297
Thanks guys. I was thinking in a Netty 3 mindset with that "handler" event loop group, and that is where that problem was. Appreciate the quick responses.

[2019-06-28 16:32] stampy88 commented on #9297
one quick question @normanmaurer, @qeesung : was there a reason that something like `OrderedMemoryAwareThreadPoolExecutor` wasn't added?

[2019-06-29 02:52] KevinBlandy opened #9300 "Wrong websocket status code"
### Overview
I am trying to send a message larger than `maxFrameSize` to the server.However, the status code in the client close event is not `WebSocketCloseStatus.MESSAGE_TOO_BIG`
### Client
[code]
#### ClonseEvent
![image](https://user-images.githubusercontent.com/17979625/60378684-976fd900-9a58-11e9-9418-32b641c5f8cc.png)

### Server
[code]
#### Debug Info
![image](https://user-images.githubuse

[2019-06-29 02:58] qeesung commented on #9297
@stampy88 I think because of the addition of `OrderedEventExecutor` in Netty 4, when creating Pipeline, every `HandlerContext` is bound to an `EventExecutor` (either an event loop or an explicitly specified group), which ensures that all events in the same channel are processed sequentially in the same thread and there will be no thread-safe problem in handler. I'm not very sure.

[2019-06-29 03:21] xiaoheng1 opened #9301 "ByteBufUtil.prettyHexDump may have a problem when calculating the initial capacity of StringBuilder"
i use netty4.1.34

source code in netty4.1.34

[code]

in my opinion, rows = length / 16 + (length & 15 == 0? 0 : 1) + 4;

if  int rows = length / 16 + (length % 15 == 0? 0 : 1) + 4;
when length = 0 or length = 15, length % 15 always 0，this is wrong.

[2019-06-29 04:03] hongdaliu opened #9302 "HttpProxyHandler does not work with http url !!! https works fine"

[2019-06-29 04:56] qeesung commented on #9301
This should be an issue. The way to find the remainder is either `length % 16` or `length & 15`. `length & 15` performs better.

[2019-06-29 06:15] xiaoheng1 commented on #9301
@qeesung yes，i think so.

[2019-06-29 06:33] normanmaurer commented on #9301
PR welcome

[2019-06-29 06:38] xiaoheng1 commented on #9301
@normanmaurer Ok, I will submit a PR.

[2019-06-29 06:41] franz1981 commented on #9301
@qeesung

I'm not that sure: last time I've checked length % 16, the JIT, given that 16 is constant, is able to perform the same optimization you'll perform by hand. Please check the assembly or perform a benchmark to be sure of it

[2019-06-29 06:50] normanmaurer commented on #9300
@ursaj can you have look ?

[2019-06-29 06:52] fugui commented on #8279
We are using netty on ARM64v8.   and waiting this very important feature.

[2019-06-29 07:17] qeesung commented on #9301
@franz1981 I will check it more deeply. :-)

[2019-06-29 07:18] SplotyCode commented on #9301
I am pretty sure that HashMap uses &. As the HashMap is very optimized I think & might be faster

[2019-06-29 07:33] qeesung commented on #9301
I found the code in the JDK7 source code
https://github.com/openjdk-mirror/jdk7u-jdk/blob/f4d80957e89a19a29bb9f9807d2a28351ed7f7df/src/share/classes/java/util/HashMap.java#L272-L277

[2019-06-29 07:57] SplotyCode commented on #9301
Maby they also used this method because length may not be constant?

[2019-06-29 08:05] franz1981 commented on #9301
@SplotyCode @qeesung The JVM doesn't trust final (non static) fields unless for specific internal java util (invoke) classes ie length cannot be assumed (from the JIR) as constant on both `ArrayDeque` and `IdentityHashMap` or other impls need to use the "clever" mask bit-trick.
`prettyHexDump` is hardcoding as constant 16 so this kind of trick is not needed and should be avoided as "premature" opt

[2019-06-29 15:59] xiaoheng1 opened #9305 "ByteBufInputStream.read() may have a problem"
i use netty4.1.34

souce code:

[code]
In my opinion, the buffer.isReadable() method should not be used here to judge, but the available() method should be used. Because ByteBufInputStream is passed in length when constructing, so if the buffer.isReadable() method is used here If judged, it may exceed the limit of length, which is unreasonable.

[2019-06-29 16:55] normanmaurer commented on #9305
@xiaoheng1 good point... are you willing to open a PR ?

[2019-06-29 17:18] xiaoheng1 commented on #9305
@normanmaurer I am glad to，i will open a PR.

[2019-06-29 17:42] xiaoheng1 commented on #9305
#

[2019-06-29 17:44] xiaoheng1 commented on #9305
#Fix public int read() throws IOException method exceeds the limit of length

[2019-06-29 17:45] xiaoheng1 commented on #9305
#9306 Fix public int read() throws IOException method exceeds the limit of length

[2019-06-30 00:48] john01dav opened #9308 "Documentation Usability Problems (probably trivial to fix)"
I recently found out about this API and it appears to be excellent, but I am having a major issue with navigating the documentation for the 4.x version. I found [this](https://github.com/netty/netty/wiki/User-guide-for-4.x) URL that seems to have a good getting started tutorial, but it lacks more detailed information (eg. how to use the built-in HTTP API). It also mentioned that there is a chapter

[2019-06-30 09:37] qeesung commented on #8962
@normanmaurer The reason for this problem is that rdata of DNS record cannot be parsed correctly when it contains compressed pointers. Generally, compression pointers are included only when rdata type is text type, such as `NS`, `CNAME` type. In other words, rdata can be parsed correctly only if Dns record type is known in advance.

In the original implementation, `DnsRecord` has only three subcla

[2019-06-30 09:43] normanmaurer commented on #8962
@qeesung for 4.1 I think we should do 1) for master we can check 2)

[2019-06-30 09:45] qeesung commented on #8962
@normanmaurer Okay, I'll submit a new PR for 1)

[2019-06-30 12:11] brucelwl opened #9309 "Set the number of receiving threads to 2, but only one seems to be working"
Set the number of receiving threads to 2, but only one seems to be working. Maybe I didn't understand the principle. Please give me some advice.

[2019-06-30 12:57] qeesung commented on #9309
Could you please provide code that can reproduce?

[2019-06-30 13:08] brucelwl commented on #9309
@qeesung  How do I make sure that both threads set up here are working? I found that only one thread is working through source debugging
![image](https://user-images.githubusercontent.com/13413715/60397009-df871c80-9b7a-11e9-9dbb-bebf2b5b260e.png)

[2019-06-30 14:48] qeesung commented on #9309
Although it's not clear what your purpose is, if you want all threads of `acceptGroup` to be running, you can register multiple channels into `acceptGroup`. Like the following:

[code]

[2019-06-30 15:00] brucelwl commented on #9309
@qeesung I want two threads to listen for client connections at the same time and use the same port. But your example needs to open multiple ports. One of netty's threading models is that there are multiple receiving threads and multiple working threads.

[2019-06-30 15:19] normanmaurer commented on #9309
If you only call bind one time it will only use one thread to accept connections as there is only one ServerChannel. That said the accepted connections will be distributed across the threads. If you want to accept with multiple threads on the same port you need to use SO_REUSEADDR and call bind multiple times

[2019-06-30 15:19] #9309 closed

[2019-06-30 17:01] brucelwl commented on #9309
@normanmaurer I set up reuse as you said and called bind () twice, but there may be two problems, one of which is that serverchannel is closed, and the other is that the port is being used.
![image](https://user-images.githubusercontent.com/13413715/60399723-9abfad80-9b9b-11e9-9efc-58ed94a7846f.png)
![image](https://user-images.githubusercontent.com/13413715/60399727-b3c85e80-9b9b-11e9-8cbf-29b0f6

[2019-06-30 17:07] normanmaurer commented on #9309
This only works with the native wool transport

[2019-06-30 17:22] brucelwl commented on #9309
@normanmaurer
That is to say, if i use NioEventLoopGroup or EpollEventLoopGruop, the receiving thread can only use one. Multithreading does not work, does it?

[2019-07-01 00:16] ursaj commented on #9300
hi, @normanmaurer

as I remember - there is still a bug with handlers ordering and violation exceptions handling in `WebSocket08FrameDecoder.protocolViolation()`:

        if (ctx.channel().isActive() && config.closeOnProtocolViolation()) {
            ...
            ctx.writeAndFlush(closeMessage).addListener(ChannelFutureListener.CLOSE);
        }
        throw ex;
    }

Close message is NOT a

[2019-07-01 02:16] qeesung commented on #9309
@brucelwl After you enable SO_REUSEADDR option, you should specify the IP address when binding, otherwise, address conflict exception will be thrown.
Like the following:

[code]
Use the following command to check the connection in the `LISTEN` state
[code]

[2019-07-01 02:21] brucelwl commented on #9309
@qeesung This is not a good solution. My case is to open two threads. If I open n threads, I need to set n IP addresses on the same machine.

[2019-07-01 02:51] qeesung commented on #9309
as @normanmaurer  said, this should not work in netty

[2019-07-01 02:54] brucelwl commented on #9309
@qeesung So how to understand netty's multi-threaded receiving connection, multi-threaded read-write threading model

[2019-07-01 06:35] #9301 closed

[2019-07-01 06:37] normanmaurer commented on #9302
@hongdaliu please provide some re-producer code

[2019-07-01 06:40] normanmaurer commented on #9294
@doom369 this will only work if `identityHashMap` is static and shared across threads or made ThreadLocal so it will work at some point...

Honestly I think there are others things that or more important / provide more value in 4.x. For master we can revisit this of course.

[2019-07-01 06:41] normanmaurer commented on #9294
also you should check with JOL if it really saves anything. We may just be lucky and have it padded the right way.

[2019-07-01 06:42] normanmaurer commented on #9293
@anuraaga this sounds like a good idea... I think we may also want to support varargs ... Maybe you want to provide an PR ?

[2019-07-01 06:44] slandelle commented on #9302
I personally never expected clear HttpProxyHandler to support clear HTTP. The current implementation is intended for HTTP tunneling, hence with a preflight CONNECT request.
Clear HTTP proxy is simply a matter of connecting to the proxy instead of the target host and using a full url for the request instead of a relative one. Not sure it’s worth having a handler for this.

[2019-07-01 09:09] doom369 commented on #9294
I checked with JOL before the ticket.
Ok, I close for now, still think this should be handled with property in order to avoid unnecessary overhead.

[2019-07-01 09:09] #9294 closed

[2019-07-01 11:25] amizurov commented on #9300
@ursaj Hi, if I right understood you, when `closeOnProtocolViolation(false)` is set then throws exception and we should manually handle `DecoderException` and close channel  in properly way ?  Maybe we can change `ctx.writeAndFlash(..)` to ctx.channel().writeAndFlush() in ` protocolViolation(ChannelHandlerContext ctx, ByteBuf in, CorruptedWebSocketFrameException ex)` this is add some overhead but

[2019-07-01 13:57] #9305 closed

[2019-07-01 15:21] TristanPerry commented on #9296
It was option 1 after all - I was incorrectly assuming that a new `Channel` was needed each time that `Http2StreamChannelBootstrap`/`Http2StreamChannel` was used; I hadn't realised that the latter classes are more like wrappers and thus an existing `Channel` can be used for them.

[2019-07-01 15:21] #9296 closed

[2019-07-01 18:38] #7285 closed

[2019-07-01 19:23] njhill commented on #9294
Just for reference, we had some related discussion here: https://github.com/netty/netty/pull/8957#discussion_r267496330

[2019-07-02 03:34] bright60 opened #9313 "RuleBasedIpFilter can not work correctly when remoteAddress is not in IpFilterRule."
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-07-02 03:43] bright60 commented on #9313
I find out about RuleBasedIpFilter API only works correctly when remoteAddress is in IpFilterRule, if remoteAddress is not in IpFilterRule, it always returns true, this means the connection will be accepted by default. Should we change the last statement to return false?

The following code snippets are from RuleBasedIpFilter.

    @Override
    protected boolean accept(ChannelHandlerContext ctx,

[2019-07-02 04:45] qeesung commented on #9313
As javadoc said: If no rules are provided, all connections will be accepted.
If you want to customize the filter logic, you can inherit `RuleBasedIpFilter` or `AbstractRemoteAddressFilter` and override the `accept` method.

[2019-07-02 06:03] bright60 commented on #9313
yes, that's the what I did. However the logic of filter is misleading in RuleBasedIpFilter.

[2019-07-02 07:26] zl7261 commented on #9284
https://tech.meituan.com/2016/11/18/disruptor.html if you can read chinese.

This code for compute optimize for memory sharing.

In java,the Long type is 8 bytes, but when you load a Long data, your cpu(x64) will load 64 bytes as minium data,cpu's cache has min unit as 64 bytes in x64 cpu.

In many time,you can ignore it,cause it's not a bug.

[2019-07-02 07:33] jiangxinlingdu commented on #9284
@zl7261 I have read，but why use public long rp1, rp2, rp3, rp4, rp5, rp6, rp7, rp8, rp9; not
public long rp1, rp2, rp3, rp4, rp5, rp6, rp7, rp8;

I figured out why I figured out 136. not 128 why not To remove a long？？？？？

[2019-07-02 13:02] normanmaurer commented on #9313
@bright60 like @qeesung said it is documented exactly like this in the javadocs. We can not just change it as it would break other peoples code.

[2019-07-02 13:02] #9313 closed

[2019-07-02 15:27] ursaj commented on #9300
it will solve handlers ordering problem. however `ctx.channel().writeAndFlush()` is not something expected by upper (business-logic) handlers. it would bring side-effects on existing code.

[2019-07-02 17:38] #8962 closed

[2019-07-02 21:59] ljnelson opened #9314 "NullPointerException at line 179 in Http2MultiplexHandler.java"
Hello; thanks for a great project.

In accordance with the [upgrade advice found on the wiki](https://netty.io/news/2019/06/28/4-1-37-Final.html), I introduced the usage of `Http2MultiplexHandler` in my codebase.

I now get this in my logs when I issue a request that upgrades from HTTP to HTTP/2 (via `curl --http2`):

[code]

I'm happy to try to provide more details.  I'm sure I'm doing something

[2019-07-02 22:06] ljnelson commented on #9314
My code looks like this:

[code]
This code worked fine using the deprecated `Http2MultiplexCodecBuilder` class, i.e. the ["old" code style referenced in the wiki](https://netty.io/news/2019/06/28/4-1-37-Final.html).

[2019-07-03 02:33] mrgaoang commented on #5447
I had run mvn clean install and  ( cd common && mvn clean install)  but these two classes still not found

[2019-07-03 03:59] stone99 opened #9315 "netty-codec-http WebSocketFrameAggregator bug"
![image](https://user-images.githubusercontent.com/8908278/60562297-948f2400-9d89-11e9-8f6f-433f089aaefc.png)

multi frames aggregate in one frame。 cannot get the correct data。

[2019-07-03 04:08] qeesung commented on #9315
How does your client send messages? Could you please provide code that can be reproduced?

[2019-07-03 04:36] sparkcai opened #9316 "ByteToMessageDecoder leak ?"
jdk:1.8.0_202
netty:4.1.36.Final
os: CentOS Linux release 7.6.1810 (Core)
I'm not familiar with netty technology,but i observed follow message rarely.

2019-06-30 19:23:04.468 [reactor-http-epoll-1] ERROR io.netty.util.ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent acc

[2019-07-03 04:58] qeesung commented on #9316
Could you please provide code that can be reproduced?

[2019-07-03 05:44] sparkcai commented on #9316
this occurred sporadic in spring cloud gateway.   I haven't changed anything

[2019-07-03 05:54] normanmaurer commented on #9316
I am pretty sure you forgot to either call `release()` or spring cloud gateway did not call it. Please open an issue in spring cloud gateway project.

[2019-07-03 06:23] normanmaurer commented on #9314
@ljnelson this looks like a bug... let me investigate and fix it.

[2019-07-03 07:05] normanmaurer commented on #9314
@ljnelson thanks for reporting... fixed by https://github.com/netty/netty/pull/9318

[2019-07-03 07:15] BlackHe commented on #7319
my project also find this problem , I set log level to 'INFO' , but I want to know this is why? and how to solve the trouble

[2019-07-03 08:15] vidhyashankarpaysafe commented on #1133
Is this Feature merged? If so why is this issue still open?

[2019-07-03 09:39] zl7261 commented on #9284
Sorry,I don't see your issue detail at first.
This code also make me comfused.
Waiting for netty's official answer.

[2019-07-03 09:45] johnou commented on #9284
If I had to guess the class was probably refactored and the padding wasn't recalculated.

[2019-07-03 10:08] jiangxinlingdu commented on #9284
sure？？？ It would be great if that were true, but is it?

[2019-07-03 11:08] hilaryfrank commented on #8271
Hi I @normanmaurer , I have a question. Why don't we change the global index(UnpaddedInternalThreadLocalMap.nextIndex) to thread scope.
In this case , every InternalThreadLocalMap instance has an individual nextIndex. That means every thread has an individual nextIndex. That will make sure every FastThreadLocal instance has a unique index in a thread and InternalThreadLocalMap.indexedVariables doe

[2019-07-03 11:35] #9316 closed

[2019-07-03 12:09] hilaryfrank commented on #9284
I have checked the code in old version and found that the size of InternalThreadLocalMap is 128Bytes in version 4.0.33. And now in latest code in github the size of InternalThreadLocalMap is 136. And the reason is that some has added two parameters: cleanerFlags (in class InternalThreadLocalMap) and arrayList (in parent class UnpaddedInternalThreadLocalMap).
In my view, the contributors has pushed

[2019-07-03 12:16] franz1981 commented on #9284
@hilaryfrank I've already commented about it on https://github.com/netty/netty/issues/9284#issuecomment-505776892

The thing is: why the padding was needed? And why only on one side? :)

[2019-07-03 12:19] jiangxinlingdu commented on #9284
My doubt is solved by you, thank you!!!

[2019-07-03 12:22] normanmaurer commented on #9284
@franz1981 yep... I am not even sure it is needed at all. I would need to see a benchmark that it really matters at all. If we need padding then we should have it on both sides.

[2019-07-03 12:27] jiangxinlingdu commented on #9284
Waiting for netty's official answer.

[2019-07-03 12:28] franz1981 commented on #9284
@normanmaurer Totally agree...the thing is that such bench is not simplebecause we need to be sure to have some "noisy neighbours" around the padded instance and that GC won't move things all around...

[2019-07-03 12:41] graemerocher opened #9319 "NullPointerException in FlowControlHandler"
The following change in 4.1.37 causes a NPE in `FlowControlHandler`:

https://github.com/netty/netty/commit/2c99fc0f1290c65685c5036fdc9884921823ad7d#diff-bb753cb6291385d58a60bc0f59d5402d

The NPE stack:

[code]

### Expected behavior

FlowControlHandler should not fail with a NPE.

### Actual behavior

FlowControlHandler sometimes fails with a NPE

### Steps to reproduce

Hard to come up with a re

[2019-07-03 12:48] jiangxinlingdu commented on #9284
why should have it on both sides and why not only on one side??????

[2019-07-03 12:49] jiangxinlingdu commented on #9284
@franz1981  I see somedemo use on one side.

why should have it on both sides and why not only on one side??????

[2019-07-03 12:53] normanmaurer commented on #9319
Alright I think I know what is going on... writing a unit test now.

[2019-07-03 12:53] franz1981 commented on #9284
@jiangxinlingdu

That's a secret.....
Just joking...the reason is strictly related to the motivation of the original padding.
The padding usually is needed to avoid false sharing (please search over google what it is ;) )
and the Java heap in a real production system is filled of many instances (and not only...!)
that could mutate, invalidating the cache lines where the thread local map fields are

[2019-07-03 12:57] jiangxinlingdu commented on #9284
@franz1981   thanks！！！

[2019-07-03 13:09] jiangxinlingdu commented on #9284
@franz1981 in cause a instance has attribute :
long p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16

when access p6 attribute the cache line  is begin from p6 p7 ……………………
or p6 in middle ,the cache line is begin from p4 p5 p6 p7………………

how to understand ？？？？

[2019-07-03 13:23] franz1981 commented on #9284
@jiangxinlingdu you won't know :)
It depends on the alignment of the instance: if the instance is alligend to cache line boundaries, you can exactly know which fields is falling is which cache line, but given that we don't know (AFAIK java instances are being alligned to 16/8 bytes boundaries) you need to compute the padding by assuming the worst case scenario.

[2019-07-03 17:55] #9319 closed

[2019-07-03 18:24] njhill opened #9322 "Possible further simplification to HpackHuffmanDecoder"
Moved from #9317, this is really just a small follow-on suggestion for @carl-mastrangelo's great improvement in #9307.

The `flags` instance field and some of the few bit ops can be avoided. This partly exploits the sparsity of the bits in each table "row":

[code]
Here is a commit containing the change: https://github.com/netty/netty/commit/a2db9b1f3679f4aa4e91ec6ada34848673398b51

[2019-07-03 18:54] njhill commented on #9322
@carl-mastrangelo @normanmaurer for your consideration... I don't think there's a significant performance benefit.

[2019-07-03 20:24] fvasily commented on #9256
Hello,
Any updates on that? I'd imagine pretty much everybody who's generating a modest load should be affected by the same issue

[2019-07-03 20:36] carl-mastrangelo commented on #9322
One comment, but otherwise LGTM.    Want to make PR?

[2019-07-03 20:40] carl-mastrangelo opened #9323 "[Netty 5] Feature request: Pipeline.addHandler should return the context"
A pattern I see occasionally involves adding a handler to a pipeline, issuing a write, and then trying to remove it.   The methods on the Channel Pipeline return themselves, but don't have any way of returning the context of recently added handler.  It would be nice if the ChannelHandlerContext was returned, for easy removal later.

[2019-07-03 21:11] njhill commented on #9323
@carl-mastrangelo some related discussion in this issue: https://github.com/netty/netty/issues/8511#issuecomment-459195152

[2019-07-04 00:46] jiangxinlingdu commented on #9284
@franz1981  3Q

[2019-07-04 01:56] hilaryfrank commented on #8271
Hi @normanmaurer , I have a question. Why don't we change the global index(UnpaddedInternalThreadLocalMap.nextIndex) to thread scope.
In this case , every InternalThreadLocalMap instance has an individual nextIndex. That means every thread has an individual nextIndex. That will make sure every FastThreadLocal instance has a unique index in a thread and InternalThreadLocalMap.indexedVariables doesn

[2019-07-04 02:40] stone99 commented on #9315
sorry, I can't provide the code. The client was written by c/c++ and does not send the unreadable sigin，this can be added by netty-codec-http.this bug happens when the network is unstable. I guess the aggregator does not work correctly. hope this can help you.

[2019-07-04 06:32] #9314 closed

[2019-07-04 08:46] zonghaishang opened #9324 "Is there a plan to support the golang language?"
Is there a plan to support the golang language?

[2019-07-04 08:47] normanmaurer commented on #9324
This project is for the JVM , so no

[2019-07-04 08:47] #9324 closed

[2019-07-04 09:05] trustin commented on #1133
Yes, long time ago. I don't remember why it is still open anymore. It's probably a good idea to open a new one if a follow-up is necessary. Thanks for pinging.

[2019-07-04 09:05] #1133 closed

[2019-07-04 11:35] nichoding opened #9325 "Do I need to call Bytebuf.release() when using ProtobufVarint32LengthFieldPrepender"
### Netty version
4.1.37
### JVM version (e.g. `java -version`)
openjdk version "1.8.0_171"
### OS version (e.g. `uname -a`)
GNU/Linux

Today I upgraded the version of netty from 4.0 to 4.1.
The following prompt appears in the console:
LEAK: ByteBuf.release() was not called before it's garbage-collected...
After reviewing the documentation, I learned that I need to manually call release() to relea

[2019-07-04 12:17] normanmaurer commented on #9325
Please show the full log

[2019-07-04 12:47] xiaoheng1 opened #9326 "The CompositeByteBuf of the CompositeByteBuf class (ByteBufAllocator alloc, boolean direct, int maxNumComponents, ByteBuf... buffers) does not verify that buffers have a length of 0."
i use netty 4.1.34.

the source code in the CompositeByteBuf class：

[code]

test case1：
[code]
error info:
java.lang.AssertionError
	at io.netty.buffer.CompositeByteBuf.shiftComps(CompositeByteBuf.java:2257)
	at io.netty.buffer.CompositeByteBuf.addComponents0(CompositeByteBuf.java:375)
	at io.netty.buffer.CompositeByteBuf.<init>(CompositeByteBuf.java:98)
	at io.netty.buffer.CompositeByteBuf.<init

[2019-07-04 12:48] normanmaurer commented on #9326
This was fixed ... Please update to latest Netty release (4.1.37.Final)

[2019-07-04 12:48] #9326 closed

[2019-07-04 12:50] xiaoheng1 commented on #9326
ok，thanks!

[2019-07-04 13:57] nichoding commented on #9325
@normanmaurer
FYI.
 2019-07-04 17:02:55.831 ERROR [client-netty-worker-17-thread-3][io.netty.util.ResourceLeakDetector]- LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
Created at:
	io.netty.buffer.PooledByteBufAllocator.newDirectBuffer(PooledByteBufAllocator.java:349)
	io.net

[2019-07-04 15:02] opver opened #9327 "what is HashedWheelTimer waitForNextTick function mean?"
in  waitForNextTick  function of HashedWheelTimer class, what is following code mean:

final long currentTime = System.nanoTime() - startTime;
                long sleepTimeMs = (deadline - currentTime + 999999) / 1000000;

                if (sleepTimeMs <= 0) {
                   if (currentTime == Long.MIN_VALUE) {
                        return -Long.MAX_VALUE;
                    } else {

[2019-07-05 01:31] nichoding commented on #9325
@normanmaurer
public void initChannel(SocketChannel ch) {
							ch.pipeline().addLast(new IdleStateHandler(60L, 0, 0, TimeUnit.SECONDS));
							ch.pipeline().addLast(new ClientIdleStateTrigger());
							ch.pipeline().addLast(new ProtobufVarint32FrameDecoder());
							ch.pipeline().addLast(new ProtobufVarint32LengthFieldPrepender());
							ch.pipeline().addLast(new ClientTcpSocketServerHandler

[2019-07-05 01:48] nichoding commented on #9325
The reason why I upgraded the version is because there is a connection leak when using 4.0. There are some features, such as "too many open files" , CLOSE_WAIT states. I also saw some people in the forum asking similar questions. Some of the answers are upgraded versions. Does 4.0 really have this problem?

[2019-07-05 02:10] hilaryfrank opened #9328 "Can we change the global index(UnpaddedInternalThreadLocalMap.nextIndex) to thread scope in FastThreadLocal?"
@coinary1 ah ok... yeah its an optimisation as this allows us to ensure we never have a clash without doing any heavy locking etc.

_Originally posted by @normanmaurer in https://github.com/netty/netty/issues/8271#issuecomment-419892698_

As it was discussed in the issue 8271（above）, the InternalThreadLocalMap will waste memory(space).
But I have a question. Why don't we change the global index(Un

[2019-07-05 03:58] PanTang123 opened #9329 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-07-05 03:59] #9329 closed

[2019-07-05 04:00] PanTang123 opened #9330 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
### Netty version netty-all-4.1.36.Final

### JVM version jdk 1.8

![image](https://user-images.githubusercontent.com/32662068/60697348-6726af80-9f1c-11e9-8b5d-ac8060296911.png)

![image](https://user-images.githubusercontent.com/32662068/60697364-802f6080-9f1c-11e9-9080-b9522a556301.png)

[2019-07-05 08:28] normanmaurer commented on #9330
This is expected as you call `readBytes` which will allocate a new `ByteBuf` and copies the bytes into it. Because of this you are responsible to call `bodyBytes.release()`.

That said I think what you want to use here is `readSlice(...)` which will just slice out some parts of the `ByteBuf` without a memory copy. In this case you also don't need to call release() as it shares the same underlying

[2019-07-05 08:28] #9330 closed

[2019-07-05 08:31] normanmaurer commented on #9325
Well 4.0 is EOL but I know people use it in prod without problems.

From the log you are posted it looks more like you missed to call release in your `ClientTcpSocketServerHandler`

[2019-07-05 08:32] normanmaurer commented on #9328
@hilaryfrank please open a PR with the code changes you suggest. It is hard for me to follow your thoughts here.

[2019-07-05 08:32] #9328 closed

[2019-07-05 10:11] nichoding commented on #9325
@normanmaurer
Thanks,
I have called release when Inbound，do I need call release when Outbound.
I know netty framework will release if I do not use ProtobufVarint32LengthFieldPrepender.
What about using ProtobufVarint32LengthFieldPrepender?I nocited that this release method is not called in this class.

[2019-07-05 10:12] normanmaurer commented on #9325
no you should not need to call release for outbound as long as you pass the object.

[2019-07-05 10:26] nichoding commented on #9325
protected void encode(ChannelHandlerContext ctx, ByteBuf msg, ByteBuf out)
			throws Exception {
		int bodyLen = msg.readableBytes();
		int headerLen = computeRawVarint32Size(bodyLen);
		out.ensureWritable(headerLen + bodyLen);
		writeRawVarint32(out, bodyLen);
		out.writeBytes(msg, msg.readerIndex(), bodyLen);
	}
These are code of ProtobufVarint32LengthFieldPrepender. I noticed that it passes obj

[2019-07-05 11:27] normanmaurer commented on #9325
@nichoding look at the base class of it ... it handles the releasing.

[2019-07-05 11:27] #9325 closed

[2019-07-05 13:06] nichoding commented on #9325
Aha.Got it,thanks a lot!!! @normanmaurer

[2019-07-05 13:07] nichoding commented on #9325
BTW, does 4.0 really have the connection leak problem...

[2019-07-05 15:52] normanmaurer commented on #9302
Ah now I understand... so yes this is expected as @slandelle already noted above.

[2019-07-05 15:52] #9302 closed

[2019-07-05 15:53] normanmaurer commented on #9297
What @qeesung said

[2019-07-05 15:53] #9297 closed

[2019-07-06 07:57] normanmaurer commented on #9315
@stone99 sorry but without more informations its impossible to help

[2019-07-06 07:58] normanmaurer commented on #9238
@mbigger did you see the comment of @croudet ?

[2019-07-06 10:01] Ravipatel401 commented on #7319
@BlackHe Can you Share details about Version of jdk ,jre(Java)and OS version  using now?

[2019-07-07 03:25] mbigger commented on #9238
@normanmaurer @croudet Thanks so much for your help，sorry for comment so later.

my promblem is about `JdkZlibDecoder` and `JdkZlibEncoder`, in order to simple it, the following example is just about `JdkZlibEncoder`:

my tpc client is like following:

[code]

The code of `DelimiterEncoder ` is simple, just print the words `writeBytes`:
[code]

every time i run the client, the console is ouput, as

[2019-07-07 07:53] WhiteTrashLord opened #9334 "HttpRequestDecoder writes automatically"
I am using Netty 4.1.37.Final.
My pipeline looks like this:
	 p.addLast("decoder", new HttpRequestDecoder());
    	 p.addLast("encoder", new HttpResponseEncoder());

Auto_Read is set to false.
I noticed that the ChannelInboundHandler will read objects like LastHttpContent and DefaultHttpContent automatically even before I call a new read on the channel.
Is this behaviour intended or a bug?

[2019-07-07 19:04] njhill commented on #9322
@carl-mastrangelo @normanmaurer see #9335

[2019-07-08 06:33] 875279177 opened #9337 "socks5 to http/ https proxy . like <polipo> or <golang gost>"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-07-08 07:00] 875279177 commented on #9337
client(s5) -> server(s5 proxy) -> server(s5 proxy{to http}) - > server(http proxy)   ->target site

[2019-07-08 08:16] Trenson commented on #9283
Yes, client side.

[2019-07-08 10:04] #9322 closed

[2019-07-08 10:09] normanmaurer commented on #9334
@WhiteTrashLord yes that is expected... one `ctx.read()` may produce more then one element as of today.

[2019-07-08 10:09] #9334 closed

[2019-07-08 10:15] normanmaurer commented on #9327
I think it is very well explained here:

https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/HashedWheelTimer.java#L552

Basically `MIN_VALUE` has a special meaning so we need to convert it if it happens to be `currentTime`

[2019-07-08 10:15] #9327 closed

[2019-07-08 19:51] kawang108 opened #9341 "ChannelFuture vs Multiple Handlers"
Hi netty community,

I'm building a man-in-the-middle http proxy where the proxy accepts a client's SSL connection and then creates a separate SSL connection with the server. I don't want to start reading & forwarding the data from client to server until the two connections are successfully established.

Currently I have a single handler that executes a series of 3 steps: accept client's TCP conne

[2019-07-09 08:31] cmadsen opened #9342 "java.lang.ClassCastException: io.netty.buffer.PooledUnsafeDirectByteBuf cannot be cast to [Ljava.lang.Object;"
### Expected behavior
The following test runs with out errors. The test case works using e.g. netty 4.0.25.

### Actual behavior
Test fails with:

[code]

### Steps to reproduce
Run the test case.

### Minimal yet complete reproducer code (or URL to code)

[code]

### Netty version
4.1.37

### JVM version (e.g. `java -version`)
java version "1.8.0_112"
Java(TM) SE Runtime Environment (build 1.8.0_

[2019-07-09 11:06] amizurov commented on #9342
I think on JAVA 1.7 compiler target it will be work and looks like: `channel.writeInbound(new Object[]{channel.readOutbound()});`, but on JAVA 1.8 this is replaced to: `channel.writeInbound((Object[])channel.readOutbound());`

[2019-07-09 12:21] doom369 opened #9345 "Netty still uses heap buffers while preferDirect is true"
Before https://github.com/netty/netty/pull/9167/files I thought that heap buffers within our app is normal. Now, it seems to be another issue.
With 4.1.37.Final I still see heap buffers usage. In logs I found this instances:

`DefaultFullHttpResponse(decodeResult: success, version: HTTP/1.1, content: UnpooledByteBufAllocator$InstrumentedUnpooledUnsafeHeapByteBuf(ridx: 0, widx: 0, cap: 0))`

Look l

[2019-07-09 13:25] normanmaurer commented on #9345
@doom369 I think using `Unpooled.EMPTY_BUFFER` would break a lot of apps as people expect that they can just call `content().writeBytes(...)` etc.

[2019-07-09 14:10] xiaoheng1 opened #9346 "The getInt method of the AbstractUnsafeSwappedByteBuf class is inconsistent with the result returned by the readInt method"
i use netty4.1.34

test case:

[code]

In my opinion, the results returned by these two methods should be equal.

[2019-07-09 14:23] doom369 commented on #9345
@normanmaurer Hm. Ok. What about `Unpooled`? Shouldn't default `ByteBufAllocator.DEFAULT` used here instead?

[2019-07-09 14:33] amizurov commented on #9346
Assertion must be like this:
[code]

See docs `ByteBuf#readInt()`

[2019-07-09 14:37] xiaoheng1 commented on #9346
@amizurov understand, thanks!

[2019-07-09 14:38] #9346 closed

[2019-07-10 09:05] 875279177 commented on #9337
.I find golang gost  polipo . but's want it

[2019-07-10 10:02] #8663 closed

[2019-07-10 10:09] doom369 commented on #9345
I investigated a bit further. In our particular use case heap byte buffer is allocated when websocket handshake is performed. Where DefaultFullHttpRequest is created with:

[code]

So it seems to me like a bug. I understand that we can't change it to `Unpooled.EMPTY_BUFFER` due to back compatibility, however we can at least replace Unpooled.buffer(0) with `ByteBufAllocator.DEFAULT.buffer(0)` so at

[2019-07-10 10:11] normanmaurer commented on #9345
@doom369 this sound ok to me... that said can you point me to the code where the `DefaultFullHttpRequest` is created ?

[2019-07-10 10:11] doom369 commented on #9345
`WebSocketClientHandshaker13.newHandshakeRequest()`, line 217

[2019-07-11 00:00] njhill opened #9349 "Epoll question: Why level-triggered?"
I was wondering what the reason is for supporting/exposing level-triggered mode in the epoll transport? As far as I understand, ET versus LT is somewhat of an implementation choice/detail that's beneath the existing netty abstractions, evidenced by the fact that epoll is interchangeable with the java NIO transport.

I found some references to certain features not supported in ET mode, such as auto

[2019-07-11 10:57] cmadsen commented on #9342
So is this expected behaviour, ie just switching from netty 4.0.25 to 4.1.37 will result in a java.lang.ClassCastException: io.netty.buffer.PooledUnsafeDirectByteBuf in the above test case?

[2019-07-11 11:00] Umang-Goel opened #9350 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
### Expected behavior
No leak
### Actual behavior
[code]

### Steps to reproduce
It is happening randomly.
Flags used to launch jvm:
-Xmx256m
-XX:MaxDirectMemorySize=256m

We are also getting below logs:
[code]

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)
`Java(TM) SE Runtime Environment (build 8.0.5.26 - pap6480sr5fp26-20181

[2019-07-11 11:04] normanmaurer commented on #9350
@Umang-Goel from the log it seems like your `NettyServerHandler` does not correctly call `release()` on the `ReferenceCounted` objects it receives.

[2019-07-11 11:13] normanmaurer commented on #9342
@cmadsen unfortunately yes ...

[2019-07-11 11:39] Umang-Goel commented on #9350
@normanmaurer  We are not explicitly using `NettyServerHandler` anywhere in the codebase. Though we are using grpc and following are the classes which are being used:
[code]

Do you have any idea which of these might be using the NettyServerHandler?

Also, is there any way that we can explicitly use io.netty.util.ReferenceCountUtil.release() to fix the issue?

[2019-07-11 11:42] normanmaurer commented on #9350
@Umang-Goel then open a GRPC issue... /cc @carl-mastrangelo @ejona86

[2019-07-11 12:17] #9342 closed

[2019-07-11 14:45] emlittleworth opened #9351 "NullPointerException in HttpPostRequestEncoder encodeNextChunkUrlEncoded"
### Expected behavior
No `NullPointerException`.

### Actual behavior
When given a certain input size, the `encodeNextChunkUrlEncoded` throws a `NullPointerException` in the following line
[code]
because the `currentBuffer` is null (which was set to the `delimiter` which was null). There seems to have been a similar issue in the past: https://github.com/netty/netty/issues/5478.

### Steps to repro

[2019-07-11 14:51] normanmaurer commented on #9351
@emlittleworth what exact Netty version ?

[2019-07-11 14:52] normanmaurer commented on #9351
Also can you please provide the full stack trace.

[2019-07-11 14:56] emlittleworth commented on #9351
Hi, sure it's 4.1.35.
[code]

[2019-07-11 14:57] normanmaurer commented on #9351
@emlittleworth I see.. interested to provide a PR to fix it ?

[2019-07-11 15:04] emlittleworth commented on #9351
Sure, I'll return `null` for this case.

[2019-07-11 17:34] ejona86 commented on #9350
Yeah, please open an issue on grpc/grpc-java repository. You can reference this one. There are some ways for interceptors to cause this and there's also the bug https://github.com/grpc/grpc-java/issues/5576 that could trigger this as well. There will need to be some back-and-forth to figure out where the issue is.

[2019-07-11 21:02] Bennett-Lynch opened #9353 "[Netty 5] Lambda-friendly future listeners"
Java 8, which introduced lambdas, allows for the following code:

[code]

to become:

[code]

However, this requires adding a type declaration to the lambda parameter, e.g., `(ChannelFutureListener)`.

Given the prominence of `ChannelFutureListener`, would it be worth adding a method signature to `ChannelFuture` that explicitly supports `ChannelFutureListener`?

Perhaps it would actually be worth

[2019-07-11 21:06] Bennett-Lynch commented on #9229
@normanmaurer Have this on my backlog (need to dig into the leak detector details which I'm not deeply familiar with), but would welcome anyone else who wants to try contributing it.

[2019-07-11 21:32] njhill commented on #9349
@normanmaurer looking back at #3346, it sounds like the original reason for introducing LT was that "a messagesPerRead limit can not be enforced correctly, as we need to consume everything from the channel when notified", but is that really the case? I don't follow why using ET implies we need to consume everything (or is it possible that was a prior misconception)?

Digging some more I saw that t

[2019-07-11 23:57] metalvins commented on #5235
Hello @floragunncom @normanmaurer ,
I am seeing a similar issue to this one, but the openssl version is different. However, I use similar setup Netty 3 with SSL handler built on Netty 4.
@floragunncom Can you please share what the issue was and how you resolved it?
Was it related to the discrepancy between the Netty version and SSLHandler Netty version?
@normanmaurer any additional info related to

[2019-07-12 01:57] merryhe1990 opened #9355 "java.net.SocketException: recvfrom failed: ETIMEDOUT (Connection timed out)"
### Expected behavior
work well

### Actual behavior

Appeared after about 12 hours of running on Android 7.0,it work well on android 6.0,After quitting the application, it still can't work, and the system restart can work normally.

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
client code:
       if (!isConnect) {
                isConnecting = true;

[2019-07-12 05:54] jiangxinlingdu opened #9356 "Why PoolThreadLocalCache class initialValue method use synchronized ???"
[code]
I  think that's  unnecessary， initialValue method use synchronized ???

[2019-07-12 05:55] Umang-Goel commented on #9350
Thanks all for your input. As suggested, I've opened the issue on grpc/grpc-java

[2019-07-12 06:11] normanmaurer commented on #9350
@Umang-Goel can you just add a reference to the issue here so we can close this one ?

[2019-07-12 06:16] normanmaurer commented on #9356
It's needed because of the usage of `leastUsedArea` and so the access of the areas. That said we can also minimise the scope. Let me do a pr.

[2019-07-12 06:19] Umang-Goel commented on #9350
Sure, I've updated the comment.

[2019-07-12 06:19] jiangxinlingdu commented on #9356
@normanmaurer  I see. Thank you

[2019-07-12 06:20] normanmaurer commented on #9356
after inspecting the code more closely I think you are right... We can just remove it all together.. Thanks!

[2019-07-12 06:23] #9350 closed

[2019-07-12 06:23] normanmaurer commented on #9356
@jiangxinlingdu thanks a lot! https://github.com/netty/netty/pull/9357

[2019-07-12 06:28] jiangxinlingdu commented on #9356
@normanmaurer，https://github.com/netty/netty/issues/9284 About FastThreadLocal Cache line padding  I haven't figured it out yet， hope you can explain.  Thank you

[2019-07-12 06:56] #9356 closed

[2019-07-12 07:27] normanmaurer commented on #9353
@Bennett-Lynch yeah... That said I think we may want to cleanup all of this a bit for Netty 5. See https://github.com/netty/netty/milestone/195

[2019-07-12 07:27] normanmaurer commented on #9300
I agree with @ursaj here... calling `ctx.channel().writeAndFlush(...)` may produce problems.

[2019-07-12 10:05] #9134 closed

[2019-07-12 17:31] normanmaurer commented on #9349
@njhill I think in general there is really no need anymore to support LT. All should work also with ET. That said I think we can not just remove it from 4.1 but can for master.

[2019-07-12 18:01] njhill commented on #9349
Thanks @normanmaurer

Are you sure? :) isn't it more an implementation detail tied to how we handle notifications internally and so shouldn't affect the semantics from users' pov? I.e. I'm not sure it even makes sense to say that it's "supported" or not since it's not a visible feature as such. Of course the config option would remain but we could just document the fact that was now obsolete and d

[2019-07-12 18:21] normanmaurer commented on #9349
@njhill that's fair enough... I guess at the end we could just have the user set it and do nothing ;)

[2019-07-12 19:18] normanmaurer commented on #9341
I think what you describe is what I would do... Just ensure that both connections are using the same EventLoop to reduce latency introduced by hopping between threads.

[2019-07-12 19:34] normanmaurer commented on #9283
@Trenson I am confused... Basically it should do this as soon as you add the Http2ConnectionHandler to the pipeline and the channel becomes active. What is the problem ?

[2019-07-13 03:43] carl-mastrangelo opened #9362 "Shutdown race in EpollEventLoop"
In 4.1.38, there is an fd race in EpollEventLoop.  The loop thread, while trying to shutdown, closes the eventFd.    The outside thread that calls shutdownGracefully, tries to wake up the loop to notice that it wants it to shutdown.   There is a race where the wakeup() call can write to an eventfd that has been closed already, resulting in the possibility of writing to the wrong fd.

The sequence

[2019-07-13 05:33] normanmaurer commented on #9362
Hmm is this only in the last release ? Using a synchronized sounds like not a good idea

[2019-07-13 05:41] carl-mastrangelo commented on #9362
Not just in last release, but I noticed it while cleaning up races in gRPC.

Are you open to busy polling in shutdown?

[2019-07-13 05:44] normanmaurer commented on #9362
Yes this sounds like a better idea

[2019-07-13 15:20] leotu opened #9365 "DefaultDnsRecordDecoder failed"
Cannot found a good way to reproduct it

[code]

### Netty version
4.1.37.Final

### JVM version (e.g. `java -version`)
Java SE 8 [1.8.0_212]

### OS version (e.g. `uname -a`)
Mac OS 10.13.6

[2019-07-14 10:12] yclnycl opened #9367 "about channelActive current ctx send msg question"
my english is bad sorry
### Expected behavior
my class extends SimpleChannelInboundHandler<FullHttpRequest>, use channelActive method send msg to current ctx
### Actual behavior
In fact nothing happened, i use addListener ChannelFutureListener current ctx.writeAndFlush result, channelFuture.isSuccess() is false, see channelFuture.cause() tip 'unsupported message type: TextWebSocketFrame',See the i

[2019-07-14 10:19] SplotyCode commented on #9367
Can I see your pipeline?

[2019-07-14 10:47] yclnycl commented on #9367
i think my ph is no problem
[code]

[2019-07-14 10:53] yclnycl commented on #9367
I found an article, [Netty Websocket服务端出现unsupported message type: TextWebSocketFrame](http://www.chenjianjx.com/myblog/entry/netty-websocket%E6%9C%8D%E5%8A%A1%E7%AB%AF%E5%87%BA%E7%8E%B0unsupported-message-type-textwebsocketframe) but this chinese, in this article has two ways,please see it

[2019-07-14 10:56] yclnycl commented on #9367
I don't know if this is the reason, but he is exactly the same as my situation

[2019-07-14 13:42] yclnycl commented on #9367
sorry i found ways,use userEventTriggered Judge HANDSHAKE_COMPLETE ok

[2019-07-14 13:42] #9367 closed

[2019-07-15 10:50] gogym opened #9371 "How to use both SSL and protobuf."
How to use both SSL and protobuf. If you use SSL with protobuf. Unable to decode.
error:
io.netty.handler.codec.DecoderException: com.google.protobuf.InvalidProtocolBufferException$InvalidWireTypeException: Protocol message tag had invalid wire type.

ask for help

`@Override
	public void initChannel(SocketChannel ch) throws Exception {
		ChannelPipeline pipeline = ch.pipeline();

		SslHandler ssl

[2019-07-15 18:13] ejona86 commented on #9362
Can we continue polling until the event loop successfully sets wakenUp to 1, after which point it closes the fds? If the event loop sets wakenUp to 1, then wakeup()'s getAndSet will become a "noop."

[2019-07-15 21:36] carl-mastrangelo commented on #9362
@ejona86 We can't because wakeup may have already won the race, but not yet written to the fd.

I thought about this more over the weekend, and I can't see a way to do with without both an "enter" and "exit" atomic op.  The loop doesn't know if there is an in-progress or upcoming write to the fd.

[2019-07-15 23:03] ejona86 commented on #9362
We know when we lose the race as wakeup will be 1. In that case we wait on the eventfd for the event we know is coming and then we "try again." Except we could choose not to set wakeup to 0, so I guess we just leave wakeup as-is and are now safe to close the eventfd.

Note that means that wakeup then becomes "load bearing." Before it was an optimization. Now it is critical and must not use eventfd

[2019-07-16 07:34] zonghaishang opened #9373 "Where is the memory of direct buffer allocated by netty, kernel space or user space?"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-07-16 07:42] franz1981 commented on #9373
If/when Netty allocates off-heap memory it relies on the system allocator, so it is like calling malloc/new on it. I don't understand what do you mean with user/kernel? Is the usual operating system virtual memory machinery.

[2019-07-16 07:53] lovlyhao opened #9374 "bit"
How Netty Writes a Bit Past, Now Business Requirements

[2019-07-16 10:45] medusar commented on #9243
Ping...
Did you solve your problems?

[2019-07-16 11:18] tanzheng231 commented on #9243
Memory leak using  "paranoid"  But I have to do the release operation

[2019-07-16 11:22] tanzheng231 commented on #9243
No!use "paranoid" ,stress test memory leak

[2019-07-16 11:29] #9351 closed

[2019-07-16 11:44] zonghaishang commented on #9373
@franz1981 I want to know if the direct memory is in the kernel buffer.
I read this article： https://www.linuxjournal.com/article/6345?page=0,0

[2019-07-16 12:27] franz1981 commented on #9373
Is always user space AFAIK

[2019-07-16 14:11] bgorriz commented on #5201
I am getting this error when trying to use a websocket through a compnay proxy. Any hints on how it can be fixed??

[2019-07-16 15:40] normanmaurer commented on #9373
as @franz1981  said

[2019-07-16 15:40] #9373 closed

[2019-07-16 15:40] normanmaurer commented on #9374
This is a issue tracker... Closing

[2019-07-16 15:40] #9374 closed

[2019-07-16 15:41] normanmaurer commented on #9365
I am pretty sure that is related to a truncated datagram packet which can alway happen.

[2019-07-16 15:42] #9341 closed

[2019-07-16 15:49] aygalinc commented on #8279
Hi @rhenwood-arm do you have start some work around this topic ? I'm also interested to provide cross compilation for arm v7 32 bit architecture.

[2019-07-16 17:11] bryce-anderson opened #9375 "NullPointerException in AbstractHttp2StreamChannel"
### Expected behavior
No NPE's

### Actual behavior
NPE's

### Netty version
4.1.37-Final.

I don't have a clean repro for this, it's showing up in tests that I'm running to upgrade Netty in finagle. A representitive stack trace looks like this:
[code]
I suspect that we're getting a `close` call triggered by a `doRead` and that is causing the `inboundBuffer` field to be `null` just in time for the

[2019-07-16 17:14] rhenwood-arm commented on #8279
Hi,

I don't have time to work on this currently, but I will ask to see if I can get some help...

[2019-07-16 17:15] normanmaurer commented on #9375
@bryce-anderson yeah this sounds plausible... I guess we should just add an extra null check. Want to do a PR ?

[2019-07-16 17:16] normanmaurer commented on #9375
@bryce-anderson also what version you upgrade from ?

[2019-07-16 17:20] bryce-anderson commented on #9375
4.1.25-Final.

[2019-07-16 17:21] normanmaurer commented on #9375
@bryce-anderson ok that is quite a step :)

[2019-07-16 17:22] bryce-anderson commented on #9375
I'm sorry, 4.1.35-Final. (I'll correct above)

[2019-07-16 17:23] rhenwood-arm commented on #8279
It looks like the EPEL 6 repository would need to be added to the release requirement to at least provide the GCC cross compilers for AArch64 and Armv7.

@normanmaurer would you be amenable to that?

[2019-07-16 17:23] normanmaurer commented on #9375
interesting... I didn't expect any changes here that could cause this... Can you try to upgrade one release at a time to understand where this regression happened.

[2019-07-16 17:24] normanmaurer commented on #8279
@rhenwood-arm sounds fair :)

[2019-07-16 17:24] bryce-anderson commented on #9375
Sure, I can take a swing at it. There was a regression in 4.1.36 that made us skip that upgrade but it was related to H2 session shutdown behavior so I think we can see if this NPE surfaces without worrying about it.

[2019-07-16 17:25] normanmaurer commented on #9375
@bryce-anderson thanks a lot... keep me posted.

[2019-07-16 17:31] bryce-anderson commented on #9375
Seems to have been introduced between 4.1.36 and 4.1.37. Likely this phab: https://github.com/netty/netty/commit/307efbe49c6c71664250e06200123c0ae3e1ec4a#diff-8c9a7d1d9b0fdb6c5aef2794d05a9f88

Before the split we never null'ed out `inboundBuffer`, after it was moved to AbstractHttp2StreamChannel we null out `inboundBuffer` on close.

[2019-07-16 17:41] normanmaurer commented on #9375
@bryce-anderson doh... want to provide a fix ?

[2019-07-16 17:44] bryce-anderson commented on #9375
Np.

[2019-07-16 18:02] netty-issue opened #9376 "Netty on Android: DnsNameResolverTimeoutException"
### Expected behavior
When running the following code in an AsyncTask on Android, a DnsNameResolverTimeoutException is thrown. However when I run it on a desktop Java VM, it works fine.

        EventLoopGroup group = new NioEventLoopGroup();
        try {
            DnsNameResolver resolver = new DnsNameResolverBuilder(group.next())
                    .channelType(NioDatagramChannel.class)

[2019-07-16 18:05] kawang108 commented on #9341
@normanmaurer thanks for much for your response!

[2019-07-16 19:30] normanmaurer commented on #9375
@bryce-anderson  np == yes ;) ? If not I will have a look.

[2019-07-16 19:47] bryce-anderson commented on #9375
I'll take it. I hope to have something up this afternoon.

[2019-07-16 20:06] normanmaurer commented on #9355
This version of Netty is super old... please upgrade and report back

[2019-07-16 20:06] #9355 closed

[2019-07-17 03:33] gogym commented on #9371
Is there anyone who can help me?

[2019-07-17 03:43] bright60 opened #9380 "delay"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-07-17 03:44] medusar commented on #9243
Yes, sometimes it is really difficult to find the problem ...

[2019-07-17 03:53] medusar opened #9381 "Netty direct memory never shrink after growing bigger"
### Expected behavior

Netty direct memory usage shrink after no connection was established.

### Actual behavior

Direct memory usage is still high after connections are released.

### Steps to reproduce

Log out `PooledByteBufAllocator.DEFAULT.metric()`  every 15 seconds.  Establish some connections and send and receive a few data. Check the log.

After a few hours, the log still shows that dire

[2019-07-17 05:18] #9380 closed

[2019-07-17 06:44] llm163520 opened #9383 "netty-codec-stomp server and client for stomp.js example"
### Expected behavior

### Actual behavior

### Steps to reproduce
server: stomp codec
ChannelPipeline pipeline = ch.pipeline();
pipeline.addLast("decoder", new StompSubframeDecoder());
pipeline.addLast("encoder", new StompSubframeEncoder());
pipeline.addLast("aggregator", new StompSubframeAggregator(65536));
pipeline.addLast("handler", new StompServerHandler());
client: stomp.js,html
var stompCli

[2019-07-17 07:01] llm163520 commented on #9383
![1563345998(1)](https://user-images.githubusercontent.com/22343834/61354029-c03efd80-a8a3-11e9-93fa-5bbbd8c2e5f3.jpg)

[2019-07-17 07:02] llm163520 commented on #9383
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>并发测试连接数</title>
</head>
<body>
<div>当前并发个数为: <span id="successnum">0</span></div>
<div>当前错误个数为: <span id="errornum">0</span></div>
<div id="allUser">

</div>
<script src="sockjs.min.js"></script>
<script src="stomp.min.js"></script>
<script type="text/javascript">
    var successnum = 0, errornum = 0;
    //new WebSocket

[2019-07-17 07:44] normanmaurer commented on #9381
That may be alright... memory is pooled and released after some time. If you don't want to use the pool as you care more about memory usage you can use `UnpooledByteBufAllocator`.

[2019-07-17 07:44] #9381 closed

[2019-07-17 07:47] normanmaurer commented on #9371
imho it should just work... can you share a full reproducer ?

[2019-07-17 11:27] PasinduTennage commented on #111
Are there any docs explaining how to use the SEDA version with netty 4?

[2019-07-17 11:56] normanmaurer commented on #9293
@anuraaga interested in doing a pr ?

[2019-07-17 12:40] normanmaurer commented on #9281
Another problem with the current implementation is that it does not correctly update the channel writability as it not uses `PendingWriteQueue` or `AbstractCoalescingBufferQueue` :/

[2019-07-17 13:08] UmarJarushi commented on #5896
hi @FurmigaHumana ,
We are facing the same issue of high CPU with Netty version 4.1.31.Final
Do you know if there exists a higher netty version since 4.0.40 that does not have this issue ?
thanks,

[2019-07-17 13:20] normanmaurer commented on #5896
@FurmigaHumana that is very strange.. please open a new issue with more details (after upgrading to latest 4.1.x version)

[2019-07-17 13:36] normanmaurer commented on #9376
I am not an android expert... This means that you did not receive a dns response within 5000 ms... Is it even allowed to use UDP on android to random servers ?

[2019-07-17 13:54] anuraaga commented on #9293
Yup - sorry for the delay have had some stuff lately but will be able to get to this by next week.

[2019-07-17 14:34] normanmaurer commented on #9300
@KevinBlandy @ursaj @amizurov I think this should be fixed by https://github.com/netty/netty/pull/9386. Please verify

[2019-07-17 14:41] UmarJarushi commented on #5896
@normanmaurer have you treated this issue in one of the latest minor versions [4.1.32.Final - 4.1.37.Final] ?

[2019-07-17 16:25] FurmigaHumana commented on #5896
This thread is very old, I've been keeping my netty version updated ever since but never managed to save some resources, so I accepted it is a cpu intensive thing and adapted my budged to fit it.

Netty handling only connections eats more cpu than the entire logic of the software which is kind of a little game so nothing cheap to run.. but still.

Some time ago I changed most of my netty dependant

[2019-07-17 17:00] normanmaurer commented on #5896
@FurmigaHumana this does not sound right... there must be something wrong with either how you use Netty or something else. Please also note that have something shown up as used CPU may be misleading as many profilers get confused when something is waiting in native code (as epollWait0(...)) does.

You may need to profile with async-profiler or something similar.

[2019-07-17 18:12] #9375 closed

[2019-07-17 18:12] #9337 closed

[2019-07-17 18:19] normanmaurer commented on #9283
I will close this for now... @Trenson please re-open if you have more questions.

[2019-07-17 18:32] #9283 closed

[2019-07-17 19:09] amizurov commented on #9383
Hi llm163520, please add before stomp decoder/ encoder `WebSocketServerProtocolHandler`

[2019-07-17 19:18] bryce-anderson opened #9387 "Seeing HttpDataFrame's (and maybe others) getting out of order in AbstractHttp2StreamChannel"
### Expected behavior

All stream header and data frames being pushed down the stream pipeline in the order received.

### Actual behavior

Some frames are pushed down the pipeline while messages are still in the internal `inboundBuffer`.

### Netty version

4.1.35.Final and 4.1.37.Final, likely others as well.

[2019-07-17 19:20] bryce-anderson commented on #9387
When I put the following snipped at the head of the `doRead0` method [here](https://github.com/netty/netty/blob/netty-4.1.37.Final/codec-http2/src/main/java/io/netty/handler/codec/http2/AbstractHttp2StreamChannel.java#L843)
[code]
and run a throughput test that sends exactly 10 KB of data I see log entries like this:
[code]

[2019-07-17 19:32] bryce-anderson commented on #9387
Other notable observation: this only happens when autoRead is disabled. Somewhere along the way I believe we're corrupting the read state machine and hitting the assert [here](https://github.com/netty/netty/blob/netty-4.1.37.Final/codec-http2/src/main/java/io/netty/handler/codec/http2/AbstractHttp2StreamChannel.java#L531). If we add that assert block as a `&&` to the `if` statement above eg
[code]

[2019-07-17 22:11] carl-mastrangelo commented on #9362
losing the race means that wakenUp will be 1, but since the eventfd is in non-blocking mode, we would have to poll it until it returns eagain.  I dislike the idea of making close *required* to read from the fd, so I changed the logic to be a tri-state.

[2019-07-18 00:04] bryce-anderson commented on #9387
The core problem is that if you're in the `IN_PROGRESS` state, do to say a `read()` call with data in the queue, your handler calls `ctx.read()`, you transition to the `REQUESTED` state. However, the loop can terminate [here](https://github.com/netty/netty/blob/netty-4.1.37.Final/codec-http2/src/main/java/io/netty/handler/codec/http2/AbstractHttp2StreamChannel.java#L785) (especially if we're not s

[2019-07-18 01:02] bryce-anderson commented on #9387
My diff will take a bit more work. We have the same problem if `.read()` is called multiple times within a `.fireChannelReadComplete()` call.

[2019-07-18 01:17] gogym commented on #9371
The problem has been solved. Thank you.

[2019-07-18 01:18] gogym commented on #9371
@normanmaurer The problem has been solved. Thank you.

[2019-07-18 01:18] #9371 closed

[2019-07-18 02:20] bryce-anderson commented on #9387
This is a commit looks like it fixes it but the state machine is kinda out of control at this point. https://github.com/bryce-anderson/netty/commit/9b8d7053ee516da4a08e648dfcd4417728fdff53

[2019-07-18 05:33] normanmaurer commented on #9387
@bryce-anderson thanks a lot... I will check if I can come up with something based on this today

[2019-07-18 06:21] #9300 closed

[2019-07-18 09:14] arunim29 commented on #9216
Hi, I am facing the issue even when using JDK 8. I raised a ticket with microsoft regarding this. So, they asked for the network traces. I sent them two network traces.
![image](https://user-images.githubusercontent.com/53040069/61444829-cdbebb00-a969-11e9-8022-ec8e759f85ed.png)
This trace was captured when using JDBC for connecting to azure SQL db.

The analysis is -:
This three messages are show

[2019-07-18 09:27] normanmaurer commented on #9216
@mp911de yes please ... I have no way how to reproduce :/

[2019-07-18 10:20] mp911de commented on #9216
I forwarded you a reproducer including the server coordinates via mail.

[2019-07-18 11:08] normanmaurer commented on #9387
@bryce-anderson PTAL https://github.com/netty/netty/pull/9389

[2019-07-18 11:51] amizurov commented on #9300
@normanmaurer Thanks, work fine on our project.

[2019-07-18 12:50] mp911de commented on #9216
The problem happens entirely in the library, not an netty issue. The actual cause is packet fragmentation and improper packet aggregation.

For some reason, it kept working in most Java 8 scenarios, therefore, I was blinded by a relation to the used Java runtime version.

[2019-07-18 12:50] #9216 closed

[2019-07-18 12:50] mp911de commented on #9216
Thanks @normanmaurer for your help and your time.

[2019-07-18 14:43] gutaoaining commented on #5447
io.netty.internal.tcnative.SSL class not found, what should I do

[2019-07-19 01:28] llm163520 commented on #9383
Hi @amizurov

Thansk you!

add before and after stomp decoder/ encoder WebSocketServerProtocolHandler try, But it didn't solve!

.childHandler(new ChannelInitializer<NioSocketChannel>() {
                    @Override
                    protected void initChannel(NioSocketChannel ch) throws Exception {
                        ChannelPipeline pipeline = ch.pipeline();
                        pipel

[2019-07-19 02:12] mrgaoang commented on #5447
I have solved this problem ，（cd common && mvn clean install） it works ,but you need Refresh your project and reimport all maven project

[2019-07-19 07:45] amizurov commented on #9383
First of all you need set you primary transport (e.t. websocket) after that you configure sub protocol (e.t. stomp) but this is only codec without any logic that you need to implement.
This is simple example:
[code]

[2019-07-21 07:09] johnou commented on #5447
@gutaoaining for starters hijacking other issues especially when they are not related is frowned upon, if io.netty.internal.tcnative.SSL is not on your classpath it means you have not bundled the netty-tcnative jar with your application.

[2019-07-21 18:58] #9387 closed

[2019-07-21 21:31] javadba commented on #7672
Question: this was applied to the Azure/V2 branch. Does it apply to the main as well? This issue (or something similar)  is being seen in apache spark various 2.X versions.  Reference:   Spark user mailing lists:

http://apache-spark-user-list.1001560.n3.nabble.com/NoSuchMethodError-org-apache-spark-network-util-AbstractFileRegion-transferred-td35858.html

 and also SOF: https://stackoverflow.com/

[2019-07-22 07:24] medusar commented on #5447
@Scottmitch Do you have some wiki or instructions about how to build and develop the project? There are so many profiles in the project and it takes time for users to figure out.

[2019-07-22 16:49] normanmaurer commented on #5447
@medusar not sure what to tell you ... just use the "default" profile and it will be fine ?

`./mvnw clean package`

[2019-07-22 18:42] bryce-anderson opened #9395 "Commit 306299323cd seems to have broken finagle tests"
### Expected behavior

Using the 4.1.38.Final-SNAPSHOT would not break out internal tests

### Actual behavior

Tests broken

### Steps to reproduce

Checkout commit 306299323cd (or later) and run the finagle tests.

### Netty version

Snapshot SHA 306299323cd.

I don't yet know why it's broken, it could be finagle depending on a bug, but I wanted to file a ticket to let you know so if we need a f

[2019-07-22 19:10] normanmaurer commented on #9395
That’s interesting... keep me posted

[2019-07-22 19:32] normanmaurer commented on #9395
@bryce-anderson btw as this was only some cleanup we can also revert the commit while trying to figure out what's wrong. WDYT ?

[2019-07-22 20:21] bryce-anderson commented on #9395
Let me try master with this reverted and we can go from there.

[2019-07-22 20:22] normanmaurer commented on #9395
thanks ...

[2019-07-22 20:36] bryce-anderson commented on #9395
Revert does fix it. It's a small enough diff that we might be able to sort it out pretty quick. Do you want to wait until tomorrow before reverting to give me a few hours to check how to fix it? The revert isn't 100% clean.

[2019-07-22 21:08] normanmaurer commented on #9395
Yeah sounds good

[2019-07-22 22:39] bryce-anderson commented on #9395
Added some comments to the commit.
https://github.com/netty/netty/commit/306299323cd47fed6d15767291a3d52e48d16786#r34402442

[2019-07-23 02:56] medusar commented on #5447
@normanmaurer it works, thank you.

[2019-07-23 04:56] ankurdhama commented on #7693
I think there should still be a break inside the if block. If you do:
[code]
Then, `headers.get("A")` will return "a", ideally it should return "b".

[2019-07-23 05:35] normanmaurer commented on #7693
@ankurdhama I dont think so... IMHO it should return the first header value.

[2019-07-23 07:31] mouseDH commented on #8317
@normanmaurer @lkmxsxd I have a same problem.when I specify Allocator by `PooledByteBufAllocator.DEFAULT` and assign 2 thread to bossgroup by `NioEventLoopGroup`,assign 24 thread to workgroup by  `NioEventLoopGroup`. after my server run, I send servral request and keep connectting during a period of time. there will be a exception.
`io.netty.util.internal.OutOfDirectMemoryError: failed to allocate

[2019-07-23 19:05] #9395 closed

[2019-07-24 06:49] F4k3rzZ commented on #7552
@chrisdutz what's your status this? I had the same idea for a couple of days now. I am willing to help to develop this feature.

[2019-07-24 08:12] darklynx commented on #8893
I agree with @cemehehko that `MyPingMessage` would be less confusing

[2019-07-24 08:17] normanmaurer commented on #8893
@darklynx if you feel strongly about it please open a PR

[2019-07-24 08:37] darklynx commented on #8893
Thanks, I'll do so.

I just fell into the same trap as @cemehehko and had to google for `PingMessage` class, since it look so tempting to reuse the example logic :)

[2019-07-24 11:34] A-Willems opened #9399 "Connect timeout does not always work"
### Expected behavior
We configure our Bootstrap with ChannelOption.CONNECT_TIMEOUT_MILLIS to set the connect timeout to 2 seconds. We expect, that after 2 seconds the connect attempt will be canceled, e.g. due to a firewall blocking the connection attempt.

### Actual behavior
In most cases the timeout works as expected, however in some environments it does not work. After running our application

[2019-07-24 11:42] normanmaurer commented on #9399
@A-Willems this is completely expected... if you block the EventLoop all bets are off. You MUST never block the EventLoop.

[2019-07-24 11:43] normanmaurer commented on #9399
All connect attempts done by Netty are non-blocking.

[2019-07-25 06:16] A-Willems commented on #9399
Thank you for the reply. I think I found the weak spot in our code.

[2019-07-25 06:16] #9399 closed

[2019-07-25 12:49] TristanPerry commented on #7599
Just in-case anyone finds this from Google (or elsewhere), codegists.com is dead however the mentioned example is available in [jprante/netty-http](https://github.com/jprante/netty-http).

[2019-07-26 10:02] bright60 opened #9401 "Message read is blocked when sending request in channelRead0() with new thread"
Hello all,

I am sending the request from client to server repeatly after client logins to server, the problem is the client can't receive message during client's request, all response messages in client are received after request complete,  what's the problem of my code?  Thank you so much!

Here is the logic:

1. in channelActive(): client send login message to server when client connect to serv

[2019-07-27 07:27] jxncsq opened #9403 "How to filter client by ip before tcp connection established?"
Hello all,
I see tcp server can use IpFilterRuleHandler as a whitelist to control access from client by IP. But before handler work, tcp connection has already established. Is there any way to do filter before connection established.

[2019-07-27 07:33] normanmaurer commented on #9403
That needs to happen on the kernel level. Use something like iptables

[2019-07-27 07:33] #9403 closed

[2019-07-27 15:46] VectorJin commented on #8503
Have you solved this problem

[2019-07-29 05:23] paul-hammant commented on #8439
Early Access Loom Builds for community feedback - https://mail.openjdk.java.net/pipermail/loom-dev/2019-July/000633.html

[2019-07-29 09:50] wangx1949 commented on #7437
@normanmaurer

[2019-07-29 09:53] wangx1949 opened #9407 "About netty4 multithreading codec"
@normanmaurer
In netty4, Can io thread visible property "name" ? Property "name" is not **volatile**.

According to my understanding of happens-before, Property "name" may be in the CPU cache and not in main memory.

[code]

[2019-07-29 13:05] GautamaBuddha opened #9408 "Basic Auth doesn't work"
DefaultHeaders class calculates same index for `Authorization` and `accept` headers.
NettyRequestFactory on the first step adds `Authorization` header after that is set `accept` to the same position in `entries` array.

![image](https://user-images.githubusercontent.com/1217820/62050755-929a7280-b21a-11e9-8586-014392c1f6ad.png)
![image](https://user-images.githubusercontent.com/1217820/62050765-96

[2019-07-29 16:26] j-white opened #9412 "[Enhancement Request] Expose DnsCache size"
We're using Netty v4.1.37 for asynchronous DNS resolution.

I would like view and keep track of cache statistics, particularly the size of the cache (num elements), but this isn't currently exposed via any public methods.

[2019-07-30 07:23] dsreddy2384 opened #9413 "failed to create a child event loop, Too many open files"
### Expected behavior
Same code works on seperate jvm, so i expect it to create the connections to redis
### Actual behavior
Exception thrown - failed to create a child event loop, Too many open files
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.13
### JVM version (e.g. `java -version`)
java version "1.8.0_211"
Java(TM) SE Runtime Environ

[2019-07-30 18:45] DiegoBravo commented on #8311
I had the same issue. Looks like a JVM issue related with the openssl pkcs8 algorithm used. See the comment
https://github.com/kaikramer/keystore-explorer/issues/79#issuecomment-287918175
Not a netty issue at all.

[2019-07-30 20:25] normanmaurer commented on #9408
Can you provide a unit test that shows the problem ?

[2019-07-31 07:45] slandelle commented on #9408
There’s something very suspicious here. You have « accept » in minor case as expected from constants from HttpHeaderNames but « Authorization » with a capital A?!
Have you forked AHC or Netty?

Are you sure you’re not modifying DefaultHttpHeaders instant from another thread?

[2019-07-31 09:31] normanmaurer commented on #9412
Why not just write your own DnsCache which expose this ?

[2019-07-31 23:36] tbrooks8 commented on #9182
Closing as the related PR is closed.

[2019-07-31 23:36] #9182 closed

[2019-08-01 00:14] Bennett-Lynch commented on #9353
Thanks, Norman.

If I can sneak one more feature request in here, I'd also like to see `onSuccess()` and `onFailure()` convenience listeners added.  E.g.,

[code]

would become:

[code]

And `ChannelFutureListener.CLOSE_ON_FAILURE` could be deprecated in favor of:

[code]

[2019-08-01 11:52] amizurov commented on #9407
I think this is will be work, because - synchronization actions. Also i can be wrong because talking about JMM is very difficult ))

[2019-08-02 10:05] Dimezis opened #9418 "Thread pool for Netty Threads [Question]"
I'm setting up a gRPC server based on Netty (netty-4.1.38). According to all docs/papers I've found, Netty has 3 types of threads:
Boss, Worker, and Application Executor.
I've set up a server with thread pools for all of them (thread number = 1 just for test).

[code]

But when I run the server and connect with the client, I see some extra "Netty Threads" apart from those 3 expected (Boss, Worker,

[2019-08-02 12:56] ninja- commented on #9418
What's your stack? I bet it's something like your database client ;)

[2019-08-02 13:03] Dimezis commented on #9418
Rx-gRPC (https://github.com/salesforce/reactive-grpc) -> Java gRPC  -> Netty.
That's it, no db, and the setup is extremely simple so far, not deployed anywhere, only testing on localhost.

[2019-08-02 13:08] nichoding opened #9419 "Too many open files"
uname -a
Linux toutiaopre 3.10.0-693.2.2.el7.x86_64 #1 SMP Tue Sep 12 22:26:13 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

java -version
openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-b10)
OpenJDK 64-Bit Server VM (build 25.171-b10, mixed mode)

netty version
netty-all-4.0.30.Final.jar
netty-all-4.1.37.Final.jar

ulimit -n
65535

We have two similar online services based on

[2019-08-02 13:13] ninja- commented on #9418
Keep in mind looking for pattern might not be a direct find cause there are functions like this https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/concurrent/DefaultThreadFactory.java#L95 in libraries that build the actual name...you might need to dig deeper

[2019-08-02 13:19] ninja- commented on #9418
I did some digging for you and can't find anything that can spawn this as well. can you share more code?

[2019-08-02 13:49] Dimezis commented on #9418
Thanks! TBH there's not much to share.

Server's setup is dead simple. If I don't set up those pools, these threads are spawned as well.

[code]
The rest is my code inside of services, which is Rx only and operates on Rx Schedulers.

Nothing too special

[code]

[2019-08-02 13:54] ninja- commented on #9418
I'd say if netty maintainers were to join in, they'd ask for a minimum reproducer example(a repo) anyway, so if you can provide one I can dig it out for you

[2019-08-02 13:57] Dimezis commented on #9418
Yeah will make one on the weekend, just thought it's something more or less common

[2019-08-02 14:02] ninja- commented on #9419
what's your normal online and what's holding references to these NioSocketChannels you think should be released?

[2019-08-02 14:42] andredasilvapinto opened #9420 "HAProxyMessage leak"
### Expected behavior
No errors

### Actual behavior
[code]

### Steps to reproduce
I wasn't able to reproduce it locally but I see these error ocassionally on a production server.

### Netty version
4.1.37.Final

This was not happening with 4.1.31.Final

### JVM version (e.g. `java -version`)
[code]

### OS version (e.g. `uname -a`)
[code]

[2019-08-02 14:49] andredasilvapinto commented on #9420
Probably related to https://github.com/netty/netty/pull/9250

[2019-08-02 15:22] nichoding commented on #9419
Thanks!@ninja
My mormal online is about 400 to 800.

There‘s no other class holding NioSocketChannels’s references except ClientSession.

This does not seem to be a connection attack because Non Established connection grows very slowly.
From the beginning of the problem to reach system limit, it usually takes several days.
I noticed that the error file descriptors are not established-connection ye

[2019-08-02 15:45] ninja- commented on #9419
you have 600 ClientSessions and 5000 Channels so that doesn't make much sense to me?

[2019-08-02 15:51] ninja- commented on #9419
ok I now see you have highlighted the difference between a good channel and a bugged-out unregistered channel. but it's very important to know the gc roots of these buggy channels because if we can point out that they are in ArrayList in EventLoop or something, that's a start.

[2019-08-02 15:57] ninja- commented on #9419
also, keep in mind this can be just as well a leak from unclosed db connections if driver uses netty, or a http client etc. we can't be sure at this point these are sockets from your game server

[2019-08-02 16:00] ninja- commented on #9419
on a second look at these screenshots, if I understand correctly, these objects(both) are trash anyway without gc roots so they would be removed at next GC

[2019-08-02 16:04] ninja- commented on #9407
It will work correctly although I am not sure how to word the explanation 😄

[2019-08-02 16:07] ninja- commented on #9413
https://docs.oracle.com/cd/E19455-01/806-1075/msgs-2152/index.html

[2019-08-02 16:13] nichoding commented on #9419
Thanks @ninja-
I have checked the gc roots,I rememberd the buggy channels are in ArrayList in EventLoop.
Since we are not working hours now, I will confirm this again tomorrow.
In my application,netty is only used to process game client messages.

[2019-08-02 16:18] nichoding commented on #9419
[https://test-yaoji-ddz.oss-cn-hangzhou.aliyuncs.com/dsh/netty/7163.bin.tar.gz
](url)
this is the heapdump

[2019-08-02 16:36] ninja- commented on #9419
I had a look. It looks to me like you are having very big backpressure/cpu usage? problems.
The gc roots of these bugged channels are coming from WriteAndFlushTasks inside EventLoop.
These WriteAndFlushTasks have grown to like 5MB in heap just of them which I think is a hell lot.
It's not like they would be insta removed when channel is dead, because EventLoop tasks are a linked list, so they woul

[2019-08-02 16:46] ninja- commented on #9418
Also you can try this trick: put a breakpoint in Thread constructor or Thread#start or somewhere there and you'll know where it's spawned. If the stacktrace is trash, just look more deeply in stack variables to find what it's related to.

[2019-08-02 16:50] nichoding commented on #9419
Thanks! @ninja-
Your explanation makes sense.
Cpu load was in very low level.
I have a question, are these buggy channels established?
If not, I could not send any message.

[2019-08-02 16:56] ninja- commented on #9419
I am not 100% sure on the problem here but for now use a few tips:
- switch NIO backend to EPOLL
- try to batch your writes if possible, so a few write() and one flush()
- use PooledAllocator because I see you are using unpooled

[2019-08-02 17:02] nichoding commented on #9419
ok.
Thank you for your suggestion, I will try it tomorrow.
Now that the online production environment is happening, I just got a few screenshots.
![2](https://user-images.githubusercontent.com/3257824/62386365-38870d80-b58a-11e9-8e67-0a8c08863576.png)

![3](https://user-images.githubusercontent.com/3257824/62386388-48065680-b58a-11e9-8755-001892ce3204.png)

[2019-08-02 17:07] nichoding commented on #9419
@ninja-
NON_ESTABLISHED are buggy channel file descriptors.

[2019-08-02 17:14] ninja- commented on #9419
And how do you check if it's NON_ESTABLISHED cause that doesn't sound like a Linux socket state. What is on netstat?

[2019-08-02 17:23] nichoding commented on #9419
![5](https://user-images.githubusercontent.com/3257824/62387442-2fe40680-b58d-11e9-8d55-9b2b2eade5bd.png)

[2019-08-02 17:33] nichoding commented on #9419
[root@toutiaopre ~]# netstat -an | awk '/^tcp/ {++y[$NF]} END {for(w in y) print w, y[w]}'
LISTEN 34
CLOSE_WAIT 51
ESTABLISHED 397
FIN_WAIT1 4
FIN_WAIT2 1
TIME_WAIT 32

CLOSE_WAIT connections disappear when timeout.

[2019-08-02 17:33] ninja- commented on #9419
Also get rid of so_keepalive. Doesnt it bump the default timeout to 2 hours?

[2019-08-02 17:34] nichoding commented on #9419
lsof result like this:
java    7163 root 1041u     sock                0,7       0t0 55912330 protocol: TCP
java    7163 root 1042u     sock                0,7       0t0 56110643 protocol: TCP
java    7163 root 1043u     sock                0,7       0t0 56056825 protocol: TCP
java    7163 root 1044u     sock                0,7       0t0 56053716 protocol: TCP
java    7163 root 1045u     sock

[2019-08-02 17:38] nichoding commented on #9419
It can't be found in netstat after two hours timeout.
But also can be seen in lsof,like 'java 7163 root 1041u sock 0,7 0t0 55912330 protocol: TCP'

[2019-08-02 17:44] ninja- commented on #9419
Just remove it

[2019-08-02 17:46] nichoding commented on #9419
@ninja-
remove?
I don't understand what you mean.

[2019-08-02 17:47] nichoding commented on #9419
these file descriptor exists  because of unreleased channels.

[2019-08-02 17:51] ninja- commented on #9419
Remove so keepalive

[2019-08-02 17:51] fabienrenaud commented on #8259
Anything holding this up?

I am looking at some contention issues right now in `AddressResolverGroup` and would like to submit a patch to replace the synchronized map with a `ConcurrentMap#computeIfAbsent`... and I am sure there are other classes in the project that would benefit.

Let's do it!

[2019-08-02 18:00] nichoding commented on #9419
ok!
Thank you for your advice.I appreciate it very much.

[2019-08-02 18:09] dsreddy2384 commented on #9413
We have discovered the issue with swap memory was not capped on the server, after  capping the memory it is resolved.

[2019-08-02 18:09] #9413 closed

[2019-08-02 21:26] njhill commented on #9418
@Dimezis is your client running in the same process? Seems likely it would be that if so. Can see from the stack that `KQueueEventLoop` is being used, which means it must be explicitly be configured somewhere separately. If not then something must be running another instance of netty in the same jvm as @ninja- suggested.

[2019-08-02 21:29] ninja- commented on #9418
@njhill it's not our KQueueEventLoop, it's standard NioEventLoop and Oracle's KQueue

[2019-08-02 21:36] njhill commented on #9418
@ninja- ah yes you're right of course! But my client question still applies :)

[2019-08-03 04:56] lovlyhao opened #9421 "ctx.channel().writeAndFlush"
![image](https://user-images.githubusercontent.com/30038949/62407599-7bc69800-b5ed-11e9-82ab-a642aa6da4b2.png)

Without task business logic, what output time interval is 1 second, sometimes 10 milliseconds. Where is the wrong configuration? Call method ctx. writeAndFlush

[2019-08-03 11:09] huyechao opened #9422 "LengthFieldPrepender.encode"
### Why in the LengthFieldPrepender, memory copy must occur once for write length,I think I can provide a way to write the length to the specified position.

@Override
    protected void encode(ChannelHandlerContext ctx, ByteBuf msg, ByteBuf out) throws Exception {
        int length = msg.readableBytes() + lengthAdjustment;
        if (lengthIncludesLengthFieldLength) {
            length += leng

[2019-08-03 11:34] normanmaurer commented on #9422
Please open a PR if you think you can provide an improvement with a good change

[2019-08-03 12:18] huyechao commented on #9422
ok，thank you

[2019-08-03 12:21] #9422 closed

[2019-08-03 17:17] Dimezis commented on #9418
Alright, mystery solved :) Thank you guys for help!
So in my case it was a Lightstreamer library, totally forgot about it, and actually had no idea it uses Netty.

[2019-08-03 17:17] #9418 closed

[2019-08-03 17:47] fabienrenaud opened #9426 "AbstractBoostrap: consider making options/attrs immutable or CopyOnWrite data structures"
In `AbstractBoostrap`, `options` and `attrs` are `LinkedHashMap` that are synchronized on for every read, copy/clone, write operation.
When a lot of connections are triggered concurrently on the same bootstrap instance, the synchronized blocks lead to contention, Netty IO threads get blocked, and performance may be severely degraded.

We should consider rewriting these options/attrs data structure

[2019-08-05 07:46] aukhatov opened #9428 "How can I write a log outgoing a raw HTTP Requests?"
Hello guys!
I have a little trouble. I need to write a log outgoing HTTP Requests. These requests produced by Netty http-client.

### Netty version
4.1.36
### JVM version (e.g. `java -version`)
OpenJDK 11.0.3
### OS version (e.g. `uname -a`)
Linux Ubuntu 18.04

[2019-08-05 07:56] medusar commented on #9419
mark

[2019-08-05 11:14] SmileChen518 opened #9429 "Sending an empty String like "" causes an error"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2019-08-05 11:16] SmileChen518 commented on #9429
Netty 4.1.32

Client (browser):
`ws.send("")`
Server log:
`io.netty.handler.codec.DecoderException: io.netty.handler.codec.CodecException: cannot read uncompressed buffer
	at io.netty.handler.codec.MessageToMessageDecoder.channelRead(MessageToMessageDecoder.java:98)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext.java:362)
	at io.netty.channel.Abs

[2019-08-05 19:46] Bennett-Lynch opened #9430 "HTTP/1 Persistent Connections (Keep-Alive, Connection Reuse)"
I would like to see better native support in Netty for HTTP/1 [persistent connections](https://en.wikipedia.org/wiki/HTTP_persistent_connection) and [pipelining](https://en.wikipedia.org/wiki/HTTP_pipelining).

I'm creating this issue to:
1. See if others agree that the current support is lacking.
2. Solicit feedback and ideas on how to better support it (both in terms of implementation and how it

[2019-08-06 15:34] andredasilvapinto commented on #9420
After reading through the docs more carefully and checking the execution path, I believe this actually means that I now need to relese the HAProxyMessage object in my ChannelInboundHandlerAdapter (added after HAProxyMessageDecoder in the pipeline).

I've done that and now I no longer see the exception.

Please let me know if this is the correct path, or if there is something broken in the HAProxyM

[2019-08-06 15:45] normanmaurer commented on #9420
This is correct

[2019-08-06 15:55] andredasilvapinto commented on #9420
Thanks.

[2019-08-06 15:55] #9420 closed

[2019-08-06 18:11] Bennett-Lynch commented on #9430
@ejona86 Would be curious to hear your opinion on this since you helped drive https://github.com/netty/netty/issues/3667 for HTTP/2 child channels.

[2019-08-06 19:54] Bennett-Lynch opened #9432 "Http2FrameCodec & Http2MultiplexHandler race condition"
I am experiencing what appears to be a race condition as part of trying to migrate HTTP/2 client code from `Http2MultiplexCodec` to `Http2FrameCodec`/`Http2MultiplexHandler`, as was introduced/recommended in Netty 4.1.37.

As per the [release notes](https://netty.io/news/2019/06/28/4-1-37-Final.html), we are recommended to change:
[code]
to:
[code]

My client code is written in an event-driven fas

[2019-08-06 20:37] ninja- commented on #9419
@nichoding I am really curious if that fix worked for you 🤔

[2019-08-07 03:58] yongqiwu opened #9433 "Recycler gives same object mutiple times if it's recycled in different threads concurrently"
Netty version: 4.1.39.Final-SNAPSHOT

If an object is concurrently recycled mutiple times, recycler.get() will return the same object mutiple times afterwards.

i.e. this test below will not pass:

[code]

[2019-08-07 04:12] yongqiwu commented on #9433
Any fix i could come up with increase synchronization/visiblity and thus hurt performance :(

[2019-08-07 04:31] njhill commented on #9433
@yongqiwu you are only meant to call `recycle()` once on each object obtained from the recycler, so I'm not sure this is a valid concern. There are checks for multiple recycles but these are best-effort so as not to incur additional sync overhead.

[2019-08-07 05:23] yongqiwu commented on #9433
@njhill Got it, thanks! Then I think it'd be better if this peace of information was commented/documented.

[2019-08-07 08:54] GeXin666 opened #9434 "WebSocket08FrameEncoder Code redundancy"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.29
### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

protected void encode(ChannelHandlerContext ctx, WebSocketFrame msg, List<Object> out)

int maskLength = maskPayload ? 4 : 0;
          //Has made a judgment length is less t

[2019-08-07 09:31] normanmaurer commented on #9434
Please open a PR

[2019-08-07 16:22] j-white commented on #9412
Size is already there, so I figured it would be easy to expose.

We've ran into some other limitations with the cache though, so we'll end up rolling our own anyways.

[2019-08-07 16:22] #9412 closed

[2019-08-07 16:22] #9433 closed

[2019-08-07 20:04] amizurov commented on #9428
Hi, could you please provide more information. Usually you can use log4j2 or logback, or any other loggers.

[2019-08-07 20:24] aukhatov commented on #9428
Hi @amizurov
I use logback.

[2019-08-08 09:39] amizurov commented on #9428
Try to pipeline.addFirst("logger", new io.netty.handler.logging.LoggingHandler()) to your pipeline.

[2019-08-08 12:20] aukhatov commented on #9428
What is a `pipeline`?

[2019-08-08 14:35] amizurov commented on #9428
Could you please share piece of code and which is http-client you use ?

[2019-08-08 14:55] marci74 commented on #9134
We use Netty through Vert.x for an application. For some of our websocket tests we modify the "origin" header of the client requests. This does not work anymore due to the changes here. Maybe you can change the behaviour and set the "origin" header only if it is not already present?

[2019-08-08 17:00] Bennett-Lynch commented on #9430
Seems related to https://github.com/netty/netty/issues/4060 but I think that issue still deserves a better solution.

@rkapsi any thoughts here?  Are you content with your ability to store request-scoped attributes?

[2019-08-08 21:36] marci74 commented on #9134
Resolved in #9435. Sorry for the duplicate comment.

[2019-08-09 03:42] fuzhengwei commented on #4466
netty demo for 4.1
https://bugstack.cn/index.php/category/netty%E4%B8%93%E9%A2%98/

[2019-08-11 07:14] normanmaurer commented on #9421
Please use stackoverflow for questions

[2019-08-11 07:14] #9421 closed

[2019-08-11 07:15] normanmaurer commented on #9426
@fabienrenaud there is no need to preserve ordering... I would be happy to review a pr for this.

[2019-08-12 07:35] normanmaurer commented on #9432
@Bennett-Lynch https://github.com/netty/netty/pull/9442 PTAL

[2019-08-12 11:12] petrbouda opened #9444 "io.netty.handler.ssl.SslContext javadoc mistake"
Javadoc contains:

 // In your ChannelInitializer:
 ChannelPipeline p = channel.pipeline();
 SslContext sslCtx = SslContextBuilder.forServer(...).build();
 p.addLast("ssl", sslCtx.newHandler(channel.alloc()));

I suppose it supposed to be **addFirst**

[2019-08-12 11:22] normanmaurer commented on #9444
@petrbouda actually both is just fine and if you add it as first or last really depends on your use-case.

[2019-08-12 11:22] #9444 closed

[2019-08-12 11:32] petrbouda commented on #9444
Aah OK, sorry for this non-relevant issue :)

[2019-08-12 13:51] normanmaurer commented on #9407
Yes this will work because of memory barriers provided by the underlying implementations. The important bit is that you will "NOT" modify the `USer` after you called write / encode.

[2019-08-12 13:51] #9407 closed

[2019-08-13 03:20] cs1991 opened #9445 "My Android App，show this log-----"""
### Netty version  above netty-all:4.1.9.Final

### JVM version   1.8

2019-08-13 10:18:27.224 [pool-7-thread-1] DEBUG i.n.c.MultithreadEventLoopGroup - -Dio.netty.eventLoopThreads: 8
2019-08-13 10:18:27.368 [pool-7-thread-1] DEBUG io.netty.channel.nio.NioEventLoop - -Dio.netty.noKeySetOptimization: false
2019-08-13 10:18:27.369 [pool-7-thread-1] DEBUG io.netty.channel.nio.NioEventLoop - -Dio.nett

[2019-08-13 03:50] finger92 commented on #3656
did you solve this problem?

[2019-08-13 03:55] xqfu opened #9446 "An information leakage from AbstractBootstrap to log"
Netty version 4.1.19.Final
JVM version 1.8.0_191

In io.netty.bootstrap.AbstractBootstrap,

    private static void setChannelOption(
            Channel channel, ChannelOption<?> option, Object value, InternalLogger logger) {

        try {
            if (!channel.config().setOption((ChannelOption<Object>) option, value)) {
                logger.warn("Unknown channel option '{}' for channel '{}

[2019-08-13 04:06] xqfu opened #9447 "An information leakage from AbstractChannel to log"
Netty version 4.1.19.Final
JVM version 1.8.0_191

In io.netty.channel.AbstractChannel,

        public final void bind(final SocketAddress localAddress, final ChannelPromise promise) {
            ......
            if (Boolean.TRUE.equals(config().getOption(ChannelOption.SO_BROADCAST)) &&
                localAddress instanceof InetSocketAddress &&
                !((InetSocketAddress) localAddre

[2019-08-13 04:07] xqfu opened #9448 "An information leakage from DefaultChannelId to log"
In io.netty.channel.DefaultChannelId,

    static {
        .......
                logger.warn("-Dio.netty.processId: {} (malformed)", customProcessId);
        .......
    }
    private static int defaultProcessId() {
        .......
        if (pid < 0) {
            pid = PlatformDependent.threadLocalRandom().nextInt();
            logger.warn("Failed to find the current process ID from '{}';

[2019-08-13 04:11] xqfu opened #9449 "An information leakage from SingleThreadEventExecutor to log"
Netty version 4.1.19.Final
JVM version 1.8.0_191

In io.netty.util.concurrent.SingleThreadEventExecutor,

    private void doStartThread() {
        assert thread == null;
        executor.execute(new Runnable() {
            @Override
            public void run() {
				......
                            if (!taskQueue.isEmpty()) {
                                logger.warn(

[2019-08-13 04:19] medusar commented on #9446
The `logger.warn` method will check log level internally. And i don't think it has anything to do with sensitive information.

[2019-08-13 04:22] medusar commented on #9429
It seems that something is wrong with your codec handlers, would you please show use your codes about `ChannelIntializer` ?

[2019-08-13 04:24] xqfu opened #9450 "An information leakage from PlatformDependent to log"
Netty version 4.1.19.Final
JVM version 1.8.0_191

In io.netty.util.internal.PlatformDependent,

	static {
		......
		        logger.debug("-Dio.netty.maxDirectMemory: {} bytes", maxDirectMemory);
		......
        logger.debug("-Dio.netty.uninitializedArrayAllocationThreshold: {}", UNINITIALIZED_ARRAY_ALLOCATION_THRESHOLD);
	}
    private static long maxDirectMemory0() {
		......
        if (maxDir

[2019-08-13 04:25] medusar commented on #9445
You can change your log level to `info` to see if these error logs still exist, error logs in debug mode sometimes do not matter.

[2019-08-13 04:27] xqfu opened #9451 "An information leakage from PromiseNotificationUtil to log"
Netty version 4.1.19.Final
JVM version 1.8.0_191

In io.netty.util.internal.PromiseNotificationUtil,

    public static void tryCancel(Promise<?> p, InternalLogger logger) {
        if (!p.cancel(false) && logger != null) {
            Throwable err = p.cause();
            if (err == null) {
                logger.warn("Failed to cancel promise because it has succeeded already: {}", p);

[2019-08-13 04:28] xqfu opened #9452 "An information leakage from ThreadLocalRandom to log"
Netty version 4.1.19.Final
JVM version 1.8.0_191

In io.netty.util.internal.ThreadLocalRandom,

    public static long getInitialSeedUniquifier() {
		......
	                    logger.warn(
                            "Failed to generate a seed from SecureRandom within {} seconds. " +
                            "Not enough entropy?", timeoutSeconds
                    );
		......
	}

    private