[2018-03-30 07:37] Bhashinee commented on #7817
When I set that to false I get this error,

[code]

[2018-03-30 08:19] sstong123 commented on #7818
why it's "teesstt "not "test "or "t**t**eesstt"

[2018-03-30 10:26] johnou commented on #7817
it's not an error, it's a debug message, change your logger level to something else apart from debug eg. info or warn.

[2018-03-30 12:24] xpromache opened #7819 "promise already done caused by ChunkedWriteHandler writing the same (non chunked) message twice"
Hello,

I get an exception "promise already done" apparently caused by the ChunkedWriteHandler which is called twice for the same message, one from my flush and the other time from the channelWritabilityChanged.

Not sure if the ChunkedWriteHandler.doFlush method is supposed to be called twice in the same write but it looks to work ok when it's called twice and the message is ChunkedInput.

Maybe

[2018-03-30 12:29] normanmaurer commented on #7819
Yes this sounds good.... can you provide a PR?

[2018-03-30 13:16] sfomp commented on #7812
ok, thank you very very much!

[2018-03-30 13:18] ikurovsky opened #7820 "JsonObjectDecoder to better handle streaming data"
### Description
There seems to be a long running issue with several iterations of fixes for streaming of different types of JSON data:
- The [6156](https://github.com/netty/netty/issues/6156) was the original issue which made the internal index reset together with resetting the decoder state, but it did not cover the case with streaming arrays.
- The [6969](https://github.com/netty/netty/issues/69

[2018-03-30 16:11] kevinherron commented on #6565
@normanmaurer is there a particular minimum Netty version you want me to use?

[2018-03-30 16:33] johnou commented on #6565
@kevinherron go for 4.1.22.

[2018-03-30 16:59] kevinherron commented on #6565
It doesn't appear to be fixed... still a bunch of Netty classes showing up in JProfiler after unloading the module.

[HPROF before unloading the module](https://www.dropbox.com/s/fodandm2xe3zmdy/before-unload.hprof?dl=0)
[HPROF after unloading the module and a GC run](https://www.dropbox.com/s/ipvnogfa7hwsp1j/after-unload.hprof?dl=0)

The only class provided by the PoC module is `com.kevinherron.G

[2018-03-30 17:32] #7819 closed

[2018-03-30 17:45] normanmaurer commented on #6565
@kevinherron could you create a small reproducer and explain how to run it ?

[2018-03-30 20:23] bryce-anderson opened #7823 "HttpClientUpgradeHandler may clobber existing connection headers"
### Expected behavior
`Connection` headers on a request that goes through the `HttpClientUpgradeHandler` should be preserved.

### Actual behavior
They are clobbered by the `Connection: Upgrade` header.

### Minimal yet complete reproducer code (or URL to code)
Test case for `HttpClientUpgradeHandlerTest`:
[code]

### Netty version
branch 4.1, SHA 5ebee9426f05b0, March 27.

### JVM version (e.g. `

[2018-03-30 20:27] bryce-anderson commented on #7823
The problem is pretty simple, it is that we're using `.set(CONNECTION, value)` [here](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpClientUpgradeHandler.java#L280) where we should probably be using `.add(CONNECTION, value)`.

I'll open a PR, and if it turns out I've misunderstood the spec, I'll close it. 😄

[2018-03-30 23:52] ejona86 opened #7825 "HpackEncoder limits header list size to 8K by default"
### Expected behavior
Sending a header list of arbitrary size would succeed, except when the receiver prohibits header list larger than a certain size.

RFC7540 defines SETTINGS_MAX_HEADER_LIST_SIZE's initial value to be unlimited.

### Actual behavior
If the receiver does not specify a maximum header list size in SETTINGS, Netty disallows header list sizes greater than 8K.

The problem seems to b

[2018-03-30 23:58] ejona86 commented on #7825
Looks like I can call `defaultHttp2HeadersEncoder.maxHeaderListSize(MAX_HEADER_LIST_SIZE)` to workaround this. If done immediately on creation, it looks like it won't collide with any received SETTINGS requesting a lower value.

[2018-03-31 05:00] M-AJ commented on #7808
Can we have a thread running at a fixed rate to prevent the wakeups? Configurable rate for unloading a queue? I don't mind giving up a few ms in ticks to get rid of this bottleneck. @normanmaurer

Thanks

[2018-03-31 09:02] DickLoong opened #7828 "There is a memory leak when continuely create ChannelGroup to broadcast message."
### Expected behavior
When I was doing benchmark to compare the performance between MINA and Netty,I found that if I use ChannelGroup  to broadcast messages,the ChannelGroup will not be detroyed .This issue could be shown by Eclipse Memory Analyse Tools.
### Minimal yet complete reproducer code (or URL to code)
1.import project zipped in attachment with  Eclipse;
2.run NettyTestServer first then T

[2018-03-31 18:08] Scottmitch opened #7829 "Improve Timer Wakeup for Native Transports"
from https://github.com/netty/netty/pull/7816#discussion_r178171275

This topic comes up in frequently enough that I usually forget the answer .... "why do we need to have a max wakeup time of 1 second instead of unbounded" for the EventLoop implementations. IIRC the answer is when we schedule tasks we don't check if the new time results in a sooner deadline than the previous wakeup on the EventLo

[2018-03-31 18:26] Scottmitch commented on #7829
@carl-mastrangelo

Right. Your PR https://github.com/netty/netty/pull/7816 will reduce the number of calls for `epoll_wait`, and this change would effectively pull arming the timer outside of the `epoll_wait` call. So the resolution of this issue may result in more calls to `timerfd_settime` after your PR is merged, compared to the state before your PR my guess is for most use cases it will be a n

[2018-04-01 17:59] #7823 closed

[2018-04-01 18:10] normanmaurer commented on #7828
@DickLoong maybe I am missing something but how should he ever be released... you adding the
`DefaultChannelGroup` to a static instance of `ConcurrentLinkedQueue` and never remove it.

All of this is done in `EchoLogic_Netty`.

Also on a unrelated note please upgrade to a more recent version of netty. I will close this one now... Please reopen if you still think there is an issue.

[2018-04-01 18:10] #7828 closed

[2018-04-01 18:52] Scottmitch opened #7833 "Consider removing executeAfterEventLoopIteration"
executeAfterEventLoopIteration is an `Unstable` API and doesn't appear to be used in Netty, can we remove it? This will remove an additional queue, simplify some control flow logic, and leave less work each event loop run. IIRC executeAfterEventLoopIteration was added [1] when we were exploring a more automated flush approach when writing inside / outside the event loop. I think the work stopped b

[2018-04-01 22:34] NiteshKant commented on #7833
@Scottmitch yeah there hasn't been any progress on the auto-flush work and it isn't yet clear whether similar strategy can be applied without this (or similar) hook. It also doesn't look like there is any sort of agreement on whether we want to pursue the auto-flush changes. So, yes I agree lets remove this API and we can revisit if/when we want to resume the auto-flush work.

Here are the related

[2018-04-02 02:45] DickLoong commented on #7828
it's my fault for leaving some test code which try to fix this issue ,sorry..
well this issue would still apear if you remove line 20 and 51 of EchoTest_Netty,
and when i run the project replacing netty 4.1.6 to 4.1.22,my pc crashed.

[2018-04-02 02:48] DickLoong commented on #7828
it's my fault for leaving some test code which try to fix this issue ,sorry..
well this issue would still apear if you remove line 20 and 51 of EchoTest_Netty,
and when i run the project replacing netty 4.1.6 to 4.1.22,my pc crashed.
@normanmaurer

[2018-04-02 13:35] fishjam commented on #7814
Maybe I found the reason, please confirm it.
- Reason:
   - same MixedAttribute instance saved both in DefaultHttpDataFactory.requestFileDeleteMap and HttpPostMultipartRequestDecoder.bodyListHttpData
   - when call HttpPostMultipartRequestDecoder.destroy,  it will release data in requestFileDeleteMap by cleanFiles(), and release data in bodyListHttpData.
   - call stack:
[code]

  Code in HttpPost

[2018-04-02 14:15] fishjam commented on #7814
It seems that there exist #7689

[2018-04-02 16:04] amizurov commented on #7818
@sstong123, on my environment work properly, input: test -> output: test

[2018-04-03 03:08] Scottmitch commented on #7833
Thanks @NiteshKant. The resolution to https://github.com/netty/netty/issues/7829 has some overlap with this issue so I will wait until after that issue is resolved before taking action here.

[2018-04-03 03:11] Scottmitch commented on #7829
@M-AJ - #7808 doesn't provide the complete context for me to judge if this will have any impact for your use case. However you can try out PR https://github.com/netty/netty/pull/7834 now and let me know 🥇.

[2018-04-03 03:17] M-AJ commented on #7829
I will try it out tonight and see how it goes!

[2018-04-03 11:40] rvansa opened #7835 "Grammar parser generator"
Hi,

in Infinispan project we use Netty on server side to parse the (home-grown) Hot Rod (binary) protocol. I've found that a hand-written decoder (based on ByteToMessageDecoder) for this protocol uses suboptimal practices and allocates more than necessary (e.g. parsing methods returning `Optional`s etc.). Therefore I've decided to describe the protocol in an [abstract grammar](https://github.com/

[2018-04-03 12:26] iamybj opened #7836 "Netty Websocket version 13 broken."
I test netty code as follows:
`
        if(HttpUtil.is100ContinueExpected(request)) {
            send100Continue(ctx);
        }
`
but I found it doest not work.
websocket 13 headers changed:

[{"Host":"localhost:8888"},{"Connection":"Upgrade"},{"Pragma":"no-cache"},{"Cache-Control":"no-cache"},{"Upgrade":"websocket"},{"Origin":"http://localhost:8888"},{"Sec-WebSocket-Version":"13"},{"User-Agent"

[2018-04-03 13:07] amizurov opened #7837 "CorsHandler do writeAndFlush in override ChannelHandlerContext#write method"
Do not really understand, why in `CorsHandler` invoked writeAndFlash ? It's strange side effect.
### Actual behavior

https://github.com/netty/netty/blob/473f6a6edb8353728ea8e711ac8241ddc21adf08/codec-http/src/main/java/io/netty/handler/codec/http/cors/CorsHandler.java#L198-L209
### Steps to reproduce
Add `CorsHandler` to pipeline then write response in your own handler, response flushed automatic

[2018-04-03 13:32] amizurov commented on #7836
Hi, @iamybj you can look example, maybe you missed some handlershttps://github.com/netty/netty/blob/473f6a6edb8353728ea8e711ac8241ddc21adf08/example/src/main/java/io/netty/example/http/websocketx/server/WebSocketServer.java#L48

[2018-04-03 14:09] Vampire opened #7838 "Document Jigsaw requirements"
When using netty in a modular context, you need to add
- `requires jdk.unsupported` to your module descriptor or `--add-modules jdk.unsupported` to the Java call in a `javapackager` downstripped JRE and
- `--add-opens java.base/java.nio=netty.common` and
- `--add-opens java.base/jdk.internal.misc=netty.common` to the Java call no matter whether downstripped JRE or full JRE

for the `java.nio.*`, `

[2018-04-03 15:16] fishjam commented on #7814
I have debugged the [upload demo](https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/http/upload), after fix some bug, it seems that can fix the IllegalReferenceCountException or leak issue.
  - call factory.removeHttpDataFromClean(request, data); in HttpPostMultipartRequestDecoder.next and HttpPostStandardRequestDecoder.next.
  - add following code in HttpPostStandardR

[2018-04-03 16:42] normanmaurer commented on #7837
@amizurov its a bug :(

Fixed https://github.com/netty/netty/pull/7839

[2018-04-03 19:11] #7837 closed

[2018-04-03 19:15] normanmaurer commented on #7833
Removing is fine by me...

[2018-04-03 23:51] Scottmitch opened #7840 "ScheduledFutureTask#delayNanos doesn't return negative values"
ScheduledFutureTask#delayNanos doesn't return negative values [1], but it looks like the `Delayed` allows negative values to represent "the delay has elapsed". Do we always need to limit to positive values, and can we remove some computation here?

It looks like NioEventLoop may be depending upon the non-negative values [2].

[1] https://github.com/netty/netty/blob/4.1/common/src/main/java/io/nett

[2018-04-04 00:11] Scottmitch commented on #7840
/cc @carl-mastrangelo

[2018-04-04 06:12] amizurov commented on #7837
@normanmaurer Thanks a lot, It's really quickly as well as Netty :)

[2018-04-04 15:47] kevinherron commented on #6565
@normanmaurer last year I emailed you instructions, but they may have been blocked because of the attachment.

I've updated the README file of the repro repo to include full instructions to run: https://github.com/kevinherron/netty-leak

[2018-04-05 03:37] davidmoten opened #7842 "netty-dev-tools dependency not built early enough"
### Expected behavior
When I clone the repository and call `mvn clean install` it should complete without error.

### Actual behavior
`netty-common` build fails because `netty-dev-tools` has not been built yet.

### Steps to reproduce

as above

### Minimal yet complete reproducer code (or URL to code)
as above

### Netty version
4.1.24.Final-SNAPSHOT

### JVM version (e.g. `java -version`)
1.8.0_

[2018-04-05 05:58] #7820 closed

[2018-04-05 13:58] ikurovsky commented on #7722
@ManuelPivotal Should be fixed by #7820

[2018-04-05 16:40] oHao opened #7845 "the code in Netty.docs does not run as described in the document."
there is the doc http://netty.io/wiki/user-guide-for-4.x.html and the code：
[code]
on the part of EchoServer.
it makes that the data server received not return to the client.
I try to call the method flush() in channelReadComplete(ctx) and it works as I expect.
I guess its time to update the doc.
### Netty version
4.1.22.Final
### JVM version (e.g. `java -version`)
1.9
### OS version (e.g. `uname

[2018-04-05 17:43] #7722 closed

[2018-04-05 22:21] bryce-anderson opened #7847 "Http2ConnectionHandler doesn't set the correct header state for streams generated from upgrades"
### Expected behavior

When stream 1 is created from a h2c upgrade, the resultant stream should signal that it has sent the headers for the client, and that it has received the headers for the server.

### Actual behavior

The stream state doesn't acknowledge that the request headers have been sent/received.

### Minimal yet complete reproducer code (or URL to code)
Add the following test cases to

[2018-04-06 03:30] LosAngelesHK opened #7849 "Memory leakage when accepting the SCTP connection under particular message flow"
### Expected behavior
Should be no memory leak as usual when accepting the SCTP connection.

### Actual behavior
Memory leak is found when accepting the SCTP connection under particular message flow.

### Steps to reproduce
1. Start the SCTP server application which is using Netty library
2. Start the SCTP client which is sending the SCTP messages using raw socket
3. Client sends SCTP-INIT
4. Serv

[2018-04-06 06:27] normanmaurer commented on #7849
Can you please try with 4.1.23.Final and if the problem still exists provide a reproducer that I can run ?

[2018-04-06 07:50] redmusic27 opened #7850 "Logo design offer"
Hello, sir. I want to offer something to you, do you need a new logo for your project? if you want i can make it to you

[2018-04-06 09:48] paul-hammant opened #7851 "New NullInternalLogger implementation of InternalLogger wished for?"
To fit the NullObject pattern, `NullInternalLogger` would be great.  It should extend `AbstractInternalLogger` for expedience, but otherwise be totally benign in operation.

It is possible to make one dynamically with the Null factory from https://proxytoys.github.io/toys.html, but who wants to slurp one more shaded cglib into your uber-jar solution?

[2018-04-06 10:14] LosAngelesHK commented on #7849
Thanks for your reply. I have tested 4.1.23.Final and the problem is still existed. Attached is the client program to reproduce the high cpu usage and memory leak problem.

1. Re-compile the client program:
# make clean
# make

2. Add an iptables rule into the server which is executing the client program:
# iptables -A INPUT -p sctp --sport 3868 --dport $(CLIENT_PROGRAM_SOURCE_PORT) --chunk-types

[2018-04-06 14:29] WhiteTrashLord opened #7852 "Website download not working"
When I try to download the the new Netty release, the download for 4.1 is not working.

https://dl.bintray.com/netty/downloads/netty-4.1.23.Final.tar.bz2   will ask for authentication.

Please check and fix :)

[2018-04-06 14:51] normanmaurer commented on #7852
Fixed

[2018-04-06 14:51] #7852 closed

[2018-04-06 17:49] JLofgren commented on #7825
I've created a demo of this bug here: https://github.com/JLofgren/demo-grpc-java-bug-4284

Locally I have built netty initializing the max header size in HpackEncoder to MAX_HEADER_LIST_SIZE and shown that this solves the issue. I am working on a PR, but am having some issues dotting all the i's of your PR process.

[2018-04-06 18:11] JLofgren commented on #7101
What is the workaround for this?  I am trying to submit a PR to netty and getting this error when trying to run 'mvn test' on the root - as is in the checklist for submitting a PR.

[2018-04-06 18:12] normanmaurer commented on #7101
@JLofgren try `mvn clean package`

[2018-04-06 18:43] JLofgren commented on #7101
@normanmaurer Thanks, that worked!

[2018-04-06 21:46] CodingFabian opened #7854 "java.lang.NoSuchMethodError with 4.1.23"
java.lang.NoSuchMethodError: io.netty.handler.codec.http2.Http2ConnectionEncoder.writePing(Lio/netty/channel/ChannelHandlerContext;ZLio/netty/buffer/ByteBuf;Lio/netty/channel/ChannelPromise;)Lio/netty/channel/ChannelFuture;

no stack trace, is that a non backwards compatible change?

[2018-04-06 21:47] CodingFabian commented on #7854
Will check if i can get a stacktrace and figure out where this comes from

[2018-04-06 21:54] slandelle commented on #7854
Http2ConnectionEncoder is flagged as @UnstableAPI so breaking changes can happen anytime.

https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionEncoder.java#L27

[2018-04-06 21:58] CodingFabian commented on #7854
yeah found that-  thanks for checking with me

[2018-04-06 21:58] #7854 closed

[2018-04-07 22:31] bradforj287 opened #7855 "Intermittent freeze in LocalServerChannel with AUTO_READ=false"
### Overview
I am new to Netty.

I built a HTTP1.1 proxy server modeling the implementation after the HexDumpProxy example from the official Netty examples. The strategy used was to use AUTO_READ=false and have the handlers read and write 1 message at a time to solve for back pressure.

In the simple case, everything works fine.

I then introduced a LocalServerChannel in the middle. The first hand

[2018-04-09 02:48] thiennguyen1308 opened #7856 "Can't get websocket IP address through amazon ELB"
### Expected behavior
Hi, I use netty for websocket, and I want to get IP address from client.
### Actual behavior
When I use ELB load balancer, the only IP that I can get is IP of ELB machine, how can I get real ip from client ?
I saw that someone use this, but  I can only get WebSocketFrame object, can I get header of Http Websocket Upgrade request ?

`  @Override
    public void channelRead0(Ch

[2018-04-09 06:49] albertok commented on #7850
The current logo is pretty sweet already.

![alt text](http://design.jboss.org/netty/logo/final/netty_logo_600px.png)

[2018-04-09 06:53] redmusic27 commented on #7850
Oke no problem sir. Thanks

[2018-04-09 09:30] iamybj commented on #7836
ok, I think some books and docs are out of date.

[2018-04-09 09:41] normanmaurer commented on #7856
You will need to put the handler in front of your upgrade handler. Please show your pipeline confidence.g

[2018-04-09 09:42] normanmaurer commented on #7851
@paul-hammant why not just use SLF4j with noop binding ?

[2018-04-09 09:42] normanmaurer commented on #7850
I think we are good for now... Thanks for the offer tho.

[2018-04-09 09:42] #7850 closed

[2018-04-09 11:16] Mahdihp opened #7857 "what is "readerIndex" in ByteBuf?"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-04-09 15:35] johnou commented on #7857
Bytebuf maintains two indexes to simplify the API (no need to flip the buffer). In future use stackoverflow.com for questions.

[2018-04-09 20:19] QAZThe opened #7859 "When is SocketChannel closed is netty 3.10?"
I dont know the internal system of netty so I came here for help.

I have two different systems with the same amount of load. In one of the system, I am seeing like a few SocketChannel close calls per day while the other has like 100 calls per day.

This issue stats when the close method below is called from line 93 of [NioWorker class](https://github.com/netty/netty/blob/3.10/src/main/java/org/jb

[2018-04-10 08:37] #7842 closed

[2018-04-10 08:37] normanmaurer commented on #7842
@davidmoten thanks for reporting

[2018-04-10 08:43] normanmaurer commented on #7859
@QAZThe Sorry but netty 3.x is EOL for a long time. Please upgrade to a newer version.  That said this happens when either `read(...)` returns an error or EOF.

[2018-04-10 08:43] #7859 closed

[2018-04-10 09:56] amizurov commented on #7856
@thiennguyen1308 I think your balancer should add 'X-Forwarded-For' header and then you can get real ip in your own handler before websocket upgrade.

[2018-04-10 10:04] thiennguyen1308 commented on #7856
@normanmaurer Thank for your instruction, I have already get client IP now. 👍

[2018-04-10 10:04] thiennguyen1308 commented on #7856
@amizurov  Yup, it's enabled by default.

[2018-04-10 10:05] #7856 closed

[2018-04-10 10:16] normanmaurer commented on #7849
@LosAngelesHK can you also please upgrade to a more recent java version ? Your java version is super old. Please let me know once done and let me know if the problem still persist.

[2018-04-10 21:42] Bennett-Lynch opened #7860 "HTTP2 Multiplex API support for unknown/custom frames"
### Expected behavior

The HTTP/2 spec explicitly permits extension of the protocol in the form of new frame types:
http://httpwg.org/specs/rfc7540.html#rfc.section.5.5

I would like/expect to be able to write/read custom frame types using the HTTP2 Multiplex API.  That is, if I write a Http2StreamFrame to a child channel with e.g., `frameType == (byte) 20`, I would be able to read the frame on th

[2018-04-11 08:06] #7785 closed

[2018-04-11 13:12] sbernard31 opened #7862 "[Question] Custom TrustManager and performance impact ?"
If I want to define a custom behavior to validate certificate, I should implement a custom X509TrustManager, right ?

Now imagine, that my TrustManager needs to do some "slow" operation like calling a micro service or maybe doing some OCSP check. As TrustManager is a sync API, I ask my self how would this impact netty "performance".

I know that Netty is design for Better throughput, lower latency

[2018-04-11 14:36] normanmaurer commented on #7862
That would be very bad as you would block the EventLoop. So to make it short don’t do it

[2018-04-11 14:46] sbernard31 commented on #7862
Ok ok, but checking certificate using OCSP for example is not so eccentric and this could take time, So where should I do this kind of check if this is not in TrustManager ?

Thx again :)

[2018-04-11 15:26] johnou commented on #7862
@sbernard31 try extending Netty's OCSP.

https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/ocsp/OcspServerExample.java

[2018-04-11 15:55] sbernard31 commented on #7862
@johnou, maybe I missed something, but this is an example about how doing OCSP request, right ?
But my question is more about where to plug the OCSP validation in a server. The natural way seems to use a custom TrustManager, but as I suspected this could be an issue if OCSP request take too many time as TrustManager is a sync API.

Does it could make sense to add a new async API like TrustManager

[2018-04-12 01:26] lusong64 commented on #7599
hi @Bennett-Lynch and @normanmaurer

I am struggling to write a client based on Http2MultiplexCodec too. Basically, I tried to modify the example/http2/client/Http2ClientInitializer. Here is how I added the Http2MultiplexCodec:

`Http2ClientUpgradeCodec upgradeCodec = new Http2ClientUpgradeCodec(
        Http2MultiplexCodecBuilder
            .forClient(new SimpleChannelHandler())
            .fra

[2018-04-12 08:14] LosAngelesHK commented on #7849
@normanmaurer Thanks for the reply. I have tested my application with JDK-8u162, but the same problem is still occurred.

[2018-04-12 11:03] Stefan-Weber opened #7863 "ArrayIndexOutOfBoundsException in AsciiString().indexOf()"
### Actual behavior
Calling the method indexOf() in a special case throws ArrayIndexOutOfBoundsException.

java.lang.ArrayIndexOutOfBoundsException: 6
	at io.netty.util.AsciiString.indexOf(AsciiString.java:693)
	at ByteBufsTests.indexOfSuccess(ByteBufsTests.java:46)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorI

[2018-04-12 13:02] normanmaurer commented on #7863
@Stefan-Weber yes thanks... working on a patch

[2018-04-12 19:06] #7863 closed

[2018-04-12 19:19] normanmaurer commented on #7860
@Bennett-Lynch PTAL https://github.com/netty/netty/pull/7867

[2018-04-12 19:25] normanmaurer commented on #7788
So how can we move forward here ?

[2018-04-12 19:25] normanmaurer commented on #7741
Please create a pr to show the idea as I not fully understand what the problem is or what is proposed

[2018-04-12 19:27] normanmaurer commented on #7669
Closing this as there was not response at all

[2018-04-12 19:27] #7669 closed

[2018-04-12 19:28] normanmaurer commented on #7654
@jo-kin ping

[2018-04-12 19:28] normanmaurer commented on #7593
@electrum ping

[2018-04-12 19:31] normanmaurer commented on #7508
I will check out code base.

[2018-04-12 19:31] normanmaurer commented on #7456
Let me close this for now as I think we are not planing to support this in the future.

[2018-04-12 19:31] #7456 closed

[2018-04-12 19:33] normanmaurer commented on #7192
@takeseem can you provide a pr ? I am not sure what exactly the problem is

[2018-04-12 19:35] normanmaurer commented on #6767
Closing as no feedback was provided for a year

[2018-04-12 19:35] #6767 closed

[2018-04-12 19:35] normanmaurer commented on #6732
Will close as there was no respond for a year

[2018-04-12 19:35] #6732 closed

[2018-04-12 19:36] normanmaurer commented on #6645
Will close as there was no respond for a year... Please reopen if you still think there is an issue

[2018-04-12 19:36] #6645 closed

[2018-04-12 20:14] normanmaurer commented on #6125
Let me close this for now and please reopen if you still think there is an issue.

[2018-04-12 20:14] #6125 closed

[2018-04-13 01:00] electrum commented on #7593
Sorry for not following up. I can put up a PR within a few days. Our use case is that our unit tests were sufficient to trigger leaks, but no one noticed because the tests still pass (just a message in the log that no one sees).

[2018-04-13 04:25] jameskleeh opened #7868 "HttpPostRequestEncoder creates an invalid body"
### Expected behavior
The request is formed correctly

### Actual behavior
The line of the body starting the mixed part has duplicate boundaries.

<img width="849" alt="screen shot 2018-04-13 at 12 21 52 am" src="https://user-images.githubusercontent.com/1583789/38716883-2f3164f2-3eb1-11e8-9f02-afdaaa802d20.png">

### Steps to reproduce
Submit a request with 2 parts containing the same name in Enc

[2018-04-13 04:49] jameskleeh commented on #7868
In this test, if you move the attribute to be after the files, the problem can be reproduced

https://github.com/netty/netty/blob/4.1/codec-http/src/test/java/io/netty/handler/codec/http/multipart/HttpPostRequestEncoderTest.java#L144

[2018-04-13 05:50] #7860 closed

[2018-04-13 05:51] normanmaurer commented on #7860
Fixed..

[2018-04-13 07:30] rvansa commented on #7835
@normanmaurer OK. I am a bit hesitant to call this a 'project' given its size; hosting under netty organization would give that a tad more discoverability. But I undestand your view.

[2018-04-13 08:37] sbernard31 commented on #7862
@normanmaurer thx for the answer. Should I close the issue ?

Is there plan about introduce a way to do that later ? (I can open an issue/improvement If you want ?)

[2018-04-13 11:45] normanmaurer commented on #7508
@Scottmitch checked and we are good... This is only needed when you call java methods from JNI which we only do for accessing the limit and position of ByteBuffer (and only if we can not access the fields directly). These will never throw and so we are safe.

[2018-04-13 11:45] #7508 closed

[2018-04-13 13:34] ExIngus opened #7869 "EndOfDataDecoderException in HttpPostStandardRequestDecoder"
### Netty version
4.1.23.Final

### JVM version (e.g. `java -version`)
1.8.0_162

### OS version (e.g. `uname -a`)
windows 10

An exception when processing a POST request, if there is no CRLF at the end.
Content-Type:  application/x-www-form-urlencoded
CRLF
param=123456789

[PostTest.java.txt](https://github.com/netty/netty/files/1907517/PostTest.java.txt)

[2018-04-13 14:09] normanmaurer commented on #7849
@LosAngelesHK can you prove a heap dump  as well?

[2018-04-13 14:31] JLofgren commented on #7616
I am also having issues building. In various environments I get various build errors.  Even using the docker process I get one error when building in Linux Mint 18.3, and a different error when building in CentOS 7. And BTW, they are both different errors than @laosijikaichele is getting.

[2018-04-13 14:36] normanmaurer commented on #7616
@JLofgren I only tested it on macOS so far and this works (at least for me...)

[2018-04-13 14:41] JLofgren commented on #7616
What linux distro(s) are known to work?

[2018-04-13 14:42] normanmaurer commented on #7616
@JLofgren like I said I only used it on macOS so far.

[2018-04-13 14:44] JLofgren commented on #7616
Do you build natively in MacOS or using the docker build process?

[2018-04-13 14:52] normanmaurer commented on #7616
Both

[2018-04-13 15:33] Bennett-Lynch commented on #7860
Thanks for the quick fix!

[2018-04-13 15:40] normanmaurer commented on #7860
Np

[2018-04-13 23:10] lusong64 commented on #7599
Never mind. I found an example.

[2018-04-16 06:05] kubuzetto opened #7871 "Add support for IP_TRANSPARENT socket option for UDP connections"
Push request at #6835 does not include 'transparent proxy' mode for UDP. setOption() function in EpollDatagramChannelConfig should include IP_TRANSPARENT option.

[2018-04-16 06:05] normanmaurer commented on #7871
@kubuzetto PRs welcome

[2018-04-16 06:28] M-AJ commented on #7829
What's the maven artifact id for this build?

[2018-04-16 10:02] normanmaurer commented on #7849
@LosAngelesHK also please provide the server part as well

[2018-04-16 10:02] #7835 closed

[2018-04-16 10:02] normanmaurer commented on #7818
Can not reproduce either.. All works as expected

[2018-04-16 10:09] ExIngus commented on #7869
Instead of hasNest() next() I use getBodyHttpDatas(), in which there is no error.

[2018-04-16 13:01] ostronom commented on #6228
This issue is closed, but I'm running into it with 4.1.21.Final.

Connection fails with this exception (with loglevel 7 for some reason), and after that -- no exception are thrown (connection looks like alive), but no data can be sent through it -- data is silently swallowed.

[2018-04-16 13:38] normanmaurer commented on #7855
@bradforj287 started to investigate... I think its a concurrency bug as if you use an NIOEventLoopGroup with 1 thread it all works. Can you confirm ?

[2018-04-16 15:08] bradforj287 commented on #7855
Confirmed. Using 1 thread appears to make ServerMainBroken work

[2018-04-16 16:07] kevinherron commented on #6565
@normanmaurer do you need anything else?

[2018-04-17 07:05] #7825 closed

[2018-04-17 07:07] #7871 closed

[2018-04-17 07:07] normanmaurer commented on #7871
Fixed via https://github.com/netty/netty/pull/7872

[2018-04-17 09:09] CodingFabian opened #7873 "NoopAddressResolverGroup immutability?"
I am looking at a memory leak problem and was wondering if NoopAddressResolverGroup is working as intended.
We have multiple Bootstrap instances, which all do something like this:
[code]
Now what happens is that for each Bootstrap (3 in the following picture) there is one key value pair added to the resolvers HashMap.

Is that intended? the NoopAddressResolver does not need the executor? it could

[2018-04-17 09:53] jo-kin commented on #7654
@normanmaurer Sorry, my idea to support netty stranded at Legal Affairs. Additinally R&D did not want to open a bug ticket for the described behaviour of  IBM's JVM due to just opening a IBM Service Request is not for free. Mainframe has it's own rules and nothing is cheap there...

The only suggestion i can do is to offer an example how io.netty.util.internal.PlatformDependent.maxDirectMemory0()

[2018-04-17 10:17] normanmaurer commented on #7855
@bradforj287 can you please verify if https://github.com/netty/netty/pull/7874 fixes your problem ? I am working on a unit test in the meantime.

[2018-04-17 22:59] stevenschlansker commented on #6837
[ This comment was originally on the other issue, but as this is the actual project, I'll comment here ]

This is quite frustrating -- a developer brought in testcontainers, which brings in netty, which exposes this issue and he broke the build on some of our developers' machines. We're now forced to choose between upgrading our hardware or using Netty...

I will echo the request that publishing a

[2018-04-18 06:51] johnou commented on #2668
@normanmaurer probably makes sense just to close this issue as it was opened against 5.0.0.Alpha2.

[2018-04-18 09:03] timboudreau commented on #2668
The same problem exists in 4.x.  Please don't.

[2018-04-18 15:46] pvub opened #7876 "Random disconnects on websocket"
Our app is using Vertx 3.5.0 with netty 4.0.15. Often, we see websockets disconnect randomly. There were no exceptions thrown at the time of disconnect, but we see a consistent pattern in how it happens. I enabled debug logging on one of the servers and were able to capture the events during disconnect.

Here is a sequence:

2018-04-13 13:58:31.701 | DEBUG | LoggingHandler | vert.x-eventloop-threa

[2018-04-19 00:11] syermakov opened #7877 "Eternal loop in Recycler.WeakOrderQueue.Head#run() that blocks ObjectCleaner thread and causes OOM."
Hi,

looks like in commit 6eb9674bf5ded128cb230a31987f14816b7f1886 there is a problem that causes an eternal loop in `Recycler.WeakOrderQueue.Head#run()`:
[code]
should be
[code]
Note `head = link.next` vs `head = head.next`

### Expected behavior

Recycler.WeakOrderQueue.Head#run() should not block forever.

### Actual behavior

Recycler.WeakOrderQueue.Head#run() falls into an eternal loop and bl

[2018-04-19 05:50] normanmaurer commented on #7877
@syermakov OMG... looking. Thanks for reporting

[2018-04-19 07:39] #7855 closed

[2018-04-19 07:39] normanmaurer commented on #7855
Fixed by https://github.com/netty/netty/pull/7874

[2018-04-19 07:40] #7877 closed

[2018-04-19 07:41] normanmaurer commented on #7877
Fixed by https://github.com/netty/netty/pull/7878

[2018-04-19 07:41] normanmaurer commented on #7873
Let me close this as I think all if ok... if not please re-open with more details

[2018-04-19 07:41] #7873 closed

[2018-04-19 16:59] stevenschlansker commented on #6837
Ah, in case anyone else gets frustrated by this -- the problem is that the `docker-java` library is inappropriately pulling in this kqueue transport, when it really doesn't need to.  So I'll work with the library maintainers to fix that...

[2018-04-19 18:59] normanmaurer commented on #7876
@pvub from the logs is quite hard (if not impossible) to tell but are you sure you keep the connection alive by sending ping frames ? `ClosedChannelException` sounds like the connection was closed by either you or the peer.

[2018-04-19 19:00] normanmaurer commented on #7759
Closing

[2018-04-19 19:00] #7759 closed

[2018-04-19 19:01] normanmaurer commented on #7753
@artgon ping

[2018-04-19 19:07] normanmaurer opened #7880 "LocalChannel / LocalServerChannel not respect ChannelOption. MAX_MESSAGES_PER_READ"
LocalChannel / LocalServerChannel not respect ChannelOption.MAX_MESSAGES_PER_READ and just keeps processing messages until there are no more present.

[2018-04-19 20:03] KowalczykBartek commented on #7880
@normanmaurer do you mean MAX_MESSAGES_PER_READ in netty-5.0.0.Alpha ?

[2018-04-19 20:04] normanmaurer commented on #7880
Ups yes https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/ChannelOption.java#L83

[2018-04-20 06:06] cai784921129 opened #7881 "How to close has been launch TCP server?"
### Expected behavior
How to close has been launch TCP server?

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version 4.1.23

### JVM version (e.g. `java -version`) 1.8

### OS version (e.g. `uname -a`)

[2018-04-20 06:08] normanmaurer commented on #7881
Use stack overflow for questions... This is a issue tracker

[2018-04-20 06:08] #7881 closed

[2018-04-20 10:10] leonchen83 commented on #6222
appeared once in netty-4.0.53

JDK SSLEngine

java version "1.8.0_152"
Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.152-b16, mixed mode)

[2018-04-20 10:18] leonchen83 commented on #6222
seems this exception appeared which choose `HMAC` family cipher suits to decrypt data

[2018-04-20 19:11] youngss56 commented on #5936
hi, how did you resolve the issue? how did you know it's Load Balance caused it? I am getting the same message

[2018-04-20 22:00] artgon commented on #7753
Hey, sorry dropped the ball on this.

Context: we retry proxying requests if they fail for whatever reason

What we found is with SSL requests, the bytebufs get forcefully cleared whereas plaintext requests we can retry with the same bytebufs. Our workaround was to manually cache and repopulate the body bytebufs for SSL retries: https://github.com/Netflix/zuul/blob/2.1/zuul-core/src/main/java/com/

[2018-04-21 07:15] mrniko opened #7882 "AddressResolver.resolveAll doesn't return consistent result"
### Expected behavior
AddressResolver.resolveAll always returns full list of ips.

### Actual behavior
AddressResolver.resolveAll returns some part of full list ips.

### Steps to reproduce
`dev.myredis.com` host has two ips: 127.0.0.2, 127.0.0.3.
I guess AddressResolver.resolveAll should always return these two ips, but it's not true on practice if DnsAddressResolverGroup object shared between mu

[2018-04-24 06:57] normanmaurer commented on #7882
@mrniko can you share a query that I can retry here to reproduce it ?

[2018-04-24 06:58] normanmaurer commented on #7868
@jameskleeh sorry I am currently super busy but you may want to provide a fix via PR if you can and I will be happy to review.

[2018-04-24 07:02] normanmaurer commented on #7753
@artgon I am still not sure I understand your problem... when you say "cleared" you mean it is override (like filled with zeros) or just that the readerIndex is adjusted ? If its the later then generally speaking you need to create a duplicate of the `ByteBuf` before you send it down the pipeline if you want to ensure you will be able to retry it as otherwise the indices may be changed etc.

[2018-04-24 07:09] mrniko commented on #7882
I used http://maradns.samiam.org/ to reproduce that. You can find its config attached to this message.
[maradns-config.zip](https://github.com/netty/netty/files/1941275/maradns-config.zip)

[2018-04-24 07:18] normanmaurer commented on #7882
@mrniko I was looking for a query that I can run against a dns server that shows this behaviour :)

[2018-04-24 07:37] normanmaurer commented on #7654
@jo-kin PTAL https://github.com/netty/netty/pull/7886

[2018-04-24 07:49] mrniko commented on #7882
sorry, I can't help here

[2018-04-24 09:15] normanmaurer commented on #7365
fixed by https://github.com/netty/netty/pull/7402

[2018-04-24 09:15] #7365 closed

[2018-04-24 09:30] normanmaurer commented on #7056
Didn't see this for a very long time... Let me close it for now

[2018-04-24 09:30] #7056 closed

[2018-04-24 13:00] normanmaurer commented on #7219
Closing as no further details provided

[2018-04-24 13:00] #7219 closed

[2018-04-24 13:01] normanmaurer commented on #7170
I agree with @dschobel I think both are fine... Let me close this issue and please adjust your test.

[2018-04-24 13:01] #7170 closed

[2018-04-24 13:26] #6166 closed

[2018-04-24 13:26] normanmaurer commented on #6035
We didnt see this for a long time. Let me close it

[2018-04-24 13:26] #6035 closed

[2018-04-24 13:27] normanmaurer commented on #5928
I think this was fixed... Please re-open if this is not the case

[2018-04-24 13:27] #5928 closed

[2018-04-24 13:28] normanmaurer commented on #5772
I think we can close this for now as the performance was "ok" when we merged it.

[2018-04-24 13:28] #5772 closed

[2018-04-24 13:29] normanmaurer commented on #4868
Let me close this for now... @nhnFreespirit if you still see issues please re-open

[2018-04-24 13:29] #4868 closed

[2018-04-24 13:44] normanmaurer commented on #2345
After checking this old issue again I think it works like expected. Let me close it (sorry for the long delay)

[2018-04-24 13:44] #2345 closed

[2018-04-24 13:47] normanmaurer commented on #2471
I just re-read the docs and I think its clearly stated now what is needed. So this seems to be fixed.

[2018-04-24 13:47] #2471 closed

[2018-04-24 14:05] normanmaurer commented on #3897
Let me close this... I think for now we want to keep it final

[2018-04-24 14:05] #3897 closed

[2018-04-24 14:07] normanmaurer commented on #3835
I think we can just close this for now and re-open later if we think it worth it.

[2018-04-24 14:07] #3835 closed

[2018-04-24 14:08] normanmaurer commented on #3799
Thats definitely something we want to do.. Anyway let me close this as there is no netty 5 for now.

[2018-04-24 14:08] #3799 closed

[2018-04-24 14:09] normanmaurer commented on #3559
Let me close this as it had no activity for a long time... Please re-open if you still think there is an issue

[2018-04-24 14:09] #3559 closed

[2018-04-24 14:12] normanmaurer commented on #4068
I think we can close this now as netty works on java9 as it falls-back to non sun classes.

[2018-04-24 14:12] #4068 closed

[2018-04-24 14:16] normanmaurer commented on #4286
Let me close this as there was no activity for a long time and as stated I think we fixed it

[2018-04-24 14:16] #4286 closed

[2018-04-24 14:17] normanmaurer commented on #4312
I think we fixed this earlier this year ... Let me close it. Please re-open if you still think there is an issue

[2018-04-24 14:17] #4312 closed

[2018-04-24 16:34] Sahasrara commented on #7719
That seems to me like either poor design or a bug.  The documentation, to me, seemed to suggest that write pushes it all the way to the end of the pipeline, and flush pushes it out.  Now you're saying that because of how the NioEventLoops are designed, write is non-deterministic in how it pushes messages down the pipeline.  I'm also not the first person to run into this.  I know of at least one ot

[2018-04-24 16:54] normanmaurer commented on #7882
@mrniko I have an idea... can you actual disable the cache by using a `NoopDnsCache` and let me know if you still see the issue ?

[2018-04-24 20:29] pvub commented on #7876
@normanmaurer Is there anything else I can do to assist in debugging this issue?

[2018-04-24 22:12] ejona86 opened #7887 "HpackDecoder's maxHeaderListSizeGoAway kills stream unnecessarily"
Consider this a bit of a TODO for myself, although @Scottmitch or @normanmaurer may have opinions about avoiding killing the connection in this case.

### Expected behavior

Sending too large of headers would not unnecessarily kill the connection.

### Actual behavior

When maxHeaderListSizeGoAway is exceeded, HpackDecoder will throw a connection error, killing the entire connection.

[code]

Note

[2018-04-25 01:14] nicmunroe opened #7888 "HttpResponseEncoder does not treat status 205 as a content-is-always-empty response"
### Expected behavior
RFC 2616 (https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2.6) states that responses with HTTP status code 205 should never return a payload: `The response MUST NOT include an entity`.

Additionally, the RFC 7230 section on content-length (https://tools.ietf.org/html/rfc7230#section-3.3.2) does not call out 205 responses as being in the allowed-to-lie-about-cont

[2018-04-25 03:11] nicmunroe commented on #7888
Also verified the same behavior on Netty 4.1.24.Final.

[2018-04-25 11:52] mrniko commented on #7882
@normanmaurer How do I define it? DnsAddressResolverGroup doesn't expose any method to do it.

[2018-04-25 13:35] normanmaurer commented on #7888
@nicmunroe PTAL https://github.com/netty/netty/pull/7891

[2018-04-25 14:01] normanmaurer commented on #7876
Unfortunately no without more debug logs and seeing the code.

[2018-04-25 21:35] artgon commented on #7753
Yeah that's essentially what we're doing but it gets tricky with chunked bodies. So what we did is just buffer it and cache before we feed down into the Netty handler.

The behavior I observed was that the ByteBufs were still there but were all zeroed out. It seems like this only happens in the SSLHander though, not the regular HTTP handlers.

[2018-04-26 05:58] #7880 closed

[2018-04-26 06:00] #4950 closed

[2018-04-26 06:04] normanmaurer commented on #7749
Fixed by https://github.com/netty/netty/pull/7793

[2018-04-26 06:04] #7749 closed

[2018-04-26 08:59] normanmaurer commented on #7849
@LosAngelesHK ping

[2018-04-26 11:12] mpolonio commented on #4950
Thanks a lot

[2018-04-26 19:49] Bennett-Lynch commented on #7860
@normanmaurer Were you able to confirm a corresponding inbound read from the outbound writeUnknownFrame() unit test you added?  I'm unable to detect a read on either the connection or child channel pipeline, and I'm having trouble pinpointing where it might be getting lost in the codecs.

[2018-04-26 19:51] normanmaurer commented on #7860
In my simple unit test it seemed to work... that said maybe there is a bug somewhere. Please re-open this issue if you think there may be one and I will try to find some time to check

[2018-04-27 00:56] rschmitt opened #7892 "Reference counting bug in GO_AWAY frame processing"
### Expected behavior

The server should be able to process a `GO_AWAY` frame from the client without throwing an `IllegalReferenceCountException`.

### Actual behavior

I get an `IllegalReferenceCountException`, as described below.

### Steps to reproduce

Here's what happens when the client (which in my case is nghttp) sends a `GOAWAY` frame, along with the `refCnt` of the `ByteBuf` instance at

[2018-04-27 03:29] LoveCtrip commented on #4466
ok

[2018-04-27 09:35] xiaoqiangCai opened #7893 "Bug in the method of onRemoval of the final instance variable threadLocal of Recycle"
### source code
private final FastThreadLocal<Stack<T>> threadLocal = new FastThreadLocal<Stack<T>>() {
        @Override
        protected Stack<T> initialValue() {
            return new Stack<T>(Recycler.this, Thread.currentThread(), maxCapacityPerThread, maxSharedCapacityFactor,
                    ratioMask, maxDelayedQueuesPerThread);
        }

        @Override
        protected void onRem

[2018-04-27 09:38] normanmaurer commented on #7893
@xiaoqiangCai actually I think the code is correct as e can only "safely" call the method if the Thread matches. If it not matches it will be handled by the nature of `WeakHashMap`.

Can you explain why you think it is wrong?

[2018-04-27 09:39] normanmaurer commented on #7892
@rschmitt you are right... I will come up with a PR shortly.

[2018-04-27 09:44] normanmaurer commented on #7892
@rschmitt PTAL https://github.com/netty/netty/pull/7894

[2018-04-27 10:04] xiaoqiangCai commented on #7893
Sorry, it's my fault. I think wrongly the method of onRemoval will only be invoked by cleanup task however we could invoke  initiatively 'remove' method of FastThreadlocal to release more quickly.

[2018-04-27 10:05] #7893 closed

[2018-04-27 15:29] bradforj287 commented on #7855
i confirmed that the fix in 4.1.24.Final fixes the issue. Thanks!

[2018-04-27 16:48] bradforj287 opened #7896 "Resolving a ChannelPromise with a return value?"
There appears to be no way to resolve a ChannelPromise with a return value. Is this a feature that would make sense to implement? Is there a way to do this that I have missed?

I have a use case where I need to perform an infrequent async operation on each channel and would like  a return value passed with the completion of that operation. I wrote a stack overflow post about this:

https://stackov

[2018-04-27 18:04] rschmitt opened #7897 "maxConcurrentStreams is not enforced by servers"
### Expected behavior

When an `Http2MultiplexCodec` is created with `maxConcurrentStreams` set to N, any subsequent calls to `http2MultiplexCodec.connection().numActiveStreams()` should report a value no greater than N; clients should receive `RST_STREAM` errors for any streams they attempt to create beyond that limit.

### Actual behavior

In my case (where N=2), I recently observed the followin

[2018-04-27 18:38] rschmitt commented on #7897
Experimenting a bit more, I've noticed that this is somewhat easier to reproduce using h2c Prior Knowledge, although I can also reproduce it using h2 over TLS negotiated with ALPN. It also seems easier to reproduce when hitting a server running on localhost, rather than a remote server.

[2018-04-27 22:19] dschobel opened #7898 "NPE in Http2FrameCodec after stream reset"
### Expected behavior
No NPEs after a host resets a stream.

### Actual behavior
When a host sends an RST to its peer, it deregisters that stream id after the RST has been written. If it sees additional frames on that deregistered stream and the stream id == 1 (`HTTP_UPGRADE_STREAM_ID`) it will NPE on `stream.getProperty` in [this line](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/

[2018-04-27 22:37] dschobel commented on #7898
The fix should be a one-liner null test. Happy to get a PR up.

[2018-04-28 09:03] cy6erGn0m commented on #4527
@ejona86 What do you think about my initial commit? It still doesn't cover MultiplexCodec that I am going to fix as well

[2018-04-28 11:04] normanmaurer commented on #7896
I answered here:

https://stackoverflow.com/a/50075821/1074097

[2018-04-28 11:04] #7896 closed

[2018-04-28 12:04] raulk commented on #6899
Would this be a good first issue for new Netty contributor? If yes, @normanmaurer could you give a little bit of guidance of what you'd expect?

[2018-04-28 15:58] Sammers21 commented on #6285
@normanmaurer ping?

[2018-04-28 20:04] #7892 closed

[2018-04-30 06:39] #6418 closed

[2018-04-30 10:22] caorong opened #7901 "Netty Client concurrent issue when close FixedChannelPool"
I use Netty as A tcp Client, use FixedChannelPool as channelPool.

when Close client，some time will cause follow exception

### Expected behavior

no exception

### Actual behavior

[code]

### Steps to reproduce

my client code

[code]

my netty client runs well after init(), but when call `close()`，maybe cause `rejectedExecution` Exception， and this exception is not appear every time when call `

[2018-04-30 18:58] jsachania commented on #4055
Is there a way to exclude URLs from going through proxy? I have HttpProxyHandler and NoopNameResolver for all URLs. Typically we set $no_proxy to exclude URLs.

[2018-05-01 00:32] jsachania opened #7902 "ProxyHandler - Option to exclude URLs"
### Expected behavior
There is a common use case to exclude URLs ($no_proxy env var) from going through proxy. I was looking to extend HttpProxyHandler but the class is marked as final. Is there a suggested way to handle it?

### Netty version
4.1

[2018-05-01 22:26] rkapsi commented on #7862
To chime in here in regards OCSP. Normally it's the client that does the validation. The server fetches it out-of-band from the CA's OCSP responder server and caches it for up to the TTL that is configured in CA's response (I believe 10 days is the max). That is something you wouldn't want to do inline during the handshake.

As for the client side. If you were to write a Netty based SSL client and

[2018-05-02 11:01] #7898 closed

[2018-05-02 12:57] amotech-tm commented on #5070
Hi - I have the same problem with vertx 3.5.1 / netty 4.1.19.Final
Are there any plans to fix this ?
Best regards
Thomas

[2018-05-03 09:25] #7888 closed

[2018-05-03 13:31] normanmaurer commented on #7902
Not that I know of... Could you easily archive it if the class would be not final ?

[2018-05-03 13:54] normanmaurer commented on #7882
@mrniko actually I think I was wrong and this needs a bit more work. I am looking into fixing it as we speak.

[2018-05-03 13:58] normanmaurer commented on #7897
Also any thoughts @ejona86 ?

[2018-05-03 14:36] ejona86 commented on #7897
This is likely due to the setting changes not taking effect until the SETTINGS ACK comes back. That's a fairly sane behavior, however I do agree that at other times you want a different behavior or you want to limit the behavior.

For example, let's say at one point the server is overloaded and wants to shed load for a few seconds. It could (on some existing streams) set MAX_CONCURRENT_STREAMS=0 (

[2018-05-03 19:39] pvub commented on #7876
@normanmaurer Application code will not add much to debugging as its written on top of vert.x. I am not as familiar with the architecture of netty, so was looking for help with how to proceed with debugging this further.

[2018-05-03 21:10] jsachania commented on #7902
I don't think so. Even the`ProxyHandler#connect` is final. I am not sure making these extendable would be sufficient.

[2018-05-04 07:26] normanmaurer commented on #7882
@mrniko now for real... Can you check https://github.com/netty/netty/pull/7906. I think this will fix it as I could not reproduce it anymore with the pr pulled in.

[2018-05-04 12:19] #7882 closed

[2018-05-04 12:57] mrniko commented on #7882
Thanks for your work! I tested it against default_dns_cache_fix. I don't see the issue anymore, but a new one - `java.net.UnknownHostException: failed to resolve 'dev.myredis.com' after 2 queries `. This problem is arise if DnsAddressResolverGroup object shared between multiple threads. Have a look at attached log [error.txt](https://github.com/netty/netty/files/1974469/error.txt)

[2018-05-04 12:59] normanmaurer commented on #7882
@mrniko I think you just close the channel to early. Use a `CountDownLatch` and only shutdown stuff after all queries returned.

[2018-05-04 13:02] mrniko commented on #7882
No, this won't happen if I comment out `resolver.close();` line

[2018-05-04 13:03] normanmaurer commented on #7882
@mrniko please show me the code you use... I tested it to resolve multiple different hostnames (like for example "web.de") and it always returns the same results.

[2018-05-04 13:03] mrniko commented on #7882
the code is at `Minimal yet complete reproducer code (or URL to code)` section

[2018-05-04 13:09] normanmaurer commented on #7882
yes I did and could not reproduce... Can you reproduce with query for example `web.de`

[2018-05-04 13:18] normanmaurer commented on #7882
Basically what I ask you is to change the code to:

[code]

[2018-05-04 13:39] mrniko commented on #7882
@normanmaurer OK. Thanks for the clarification!

[2018-05-04 15:51] mosesn opened #7908 "http/2 message aggregation"
HTTP/1.1 supplies HttpObjectAggregator, which makes it easy to speak HTTP/1.1, since the entire message is in one piece.  There's no analog in the HTTP/2 Http2Frame API.  Does it make sense for netty to supply one, or should users roll our own buffering and aggregation?  Are there any plans to make an H2 object aggregator as is available for the H1 model?

[2018-05-04 15:53] normanmaurer commented on #7908
@mosesn What typo of frame would this produce ?

[2018-05-04 16:11] bryce-anderson commented on #7908
Good question. Either the h2 model could be more like the h1 model (unlikely to be what we want) or the h2 aggregator could at least aggregate the body of a stream into one big body.

Another way to frame it is, "what _should_ people be doing if they want aggregation?" Should they do it themselves? Should they use the downgrade-to-http1 tools and use the http1 aggregation?

I think what @mosesn is

[2018-05-04 17:26] cwginac opened #7910 "Incorrect Exception Description"
This function in AbstractChannelBuffer.java:

    public void writerIndex(int writerIndex) {
        if (writerIndex < readerIndex || writerIndex > capacity()) {
            throw new IndexOutOfBoundsException("Invalid readerIndex: "
                    + readerIndex + " - Maximum is " + writerIndex);
        }
        this.writerIndex = writerIndex;
    }

gives an incorrect IndexOutOfBoundsExcep

[2018-05-04 17:28] cwginac commented on #7910
Sorry, this is in 3.10 branch (specifically using 3.10.6).

[2018-05-04 17:33] normanmaurer commented on #7910
3.x is EOL since at least 1,5 years so I think we can just close this ?

[2018-05-04 18:10] normanmaurer commented on #7908
@bryce-anderson the question is if people only care about these semantics why not just use the HTTP2 -> HTTP1 conversation handlers we provide ? This way you can easily also aggregate stuff.

[2018-05-04 18:57] normanmaurer commented on #7908
@bryce-anderson maybe the solution would be to not copy the headers but create a wrapper around the headers that an map from http2 headers to http1 headers and vice-versa ?

[2018-05-04 19:36] bryce-anderson commented on #7908
@normanmaurer, that's a reasonable suggestion, we'll probably explore that.

[2018-05-04 19:52] bryce-anderson commented on #7908
I just wanted get a definitive answer to the original question so we can close this: it sounds like there aren't plans to build aggregation of H2 messages directly, correct?

[2018-05-04 20:55] normanmaurer commented on #7908
Correct... at least not for now. I think using the conversation layer is the better answer here. Patches welcome to improve performance of course

[2018-05-04 23:27] jprante commented on #4527
@cy6erGn0m Would love to see Http2MultiplexCodec push promise receive (but also send) support. Can't use it on client side when connecting to a  HTTP/2 server with push promises.

[2018-05-05 06:34] normanmaurer commented on #4527
@jprante @cy6erGn0m Will take a look today.

[2018-05-06 18:11] #7910 closed

[2018-05-06 18:13] normanmaurer commented on #7887
I think what you said @ejona86 makes sense... want to do a pr ?

[2018-05-06 18:15] normanmaurer commented on #7771
Let me close this as I think its just logging as @carl-mastrangelo pointed out. Please re-open if you think there is anything we need to do tho.

[2018-05-06 18:15] #7771 closed

[2018-05-06 18:17] normanmaurer commented on #7753
`zeroed out` sound like a bug. It should only affect the reader / writerIndex but not the content when written to the `SslHandler`. Any simple way for me to reproduce ?

[2018-05-06 20:04] ejona86 commented on #7887
I worked on the change last night :) but didn't send it out because I was investigating further changes. Sent it out now.

[2018-05-07 06:49] mcfongtw commented on #7617
Hi, is this fix included in any 4.1.x release yet?

[2018-05-07 07:02] fenik17 commented on #7617
@mcfongtw yep. since 4.1.21.

[2018-05-07 07:42] mcfongtw commented on #7617
Thanks. @fenik17

[2018-05-07 07:45] echokk11 opened #7913 "The number of threads has exploded"
### Expected behavior

### Actual behavior
The number of threads has exploded, server is hangup at last. But CPU is fine.

### Steps to reproduce
run for a while

### Minimal yet complete reproducer code (or URL to code)
lots of thread info like this
[code]
### Netty version
4.1.22.Final

### JVM version (e.g. `java -version`)
java version "1.7.0_79"
### OS version (e.g. `uname -a`)
centos 7
Linux

[2018-05-07 07:49] normanmaurer commented on #7913
@echokk11 sorry but you will have to give a bit more details about what you expect and what you see. Also some code would help to understand what you are doing. The stacktrace you showed basically only means that the Selector waits for IO to process (which is expected)

[2018-05-07 08:07] normanmaurer commented on #7753
@artgon I can not reproduce... Here is a test-case. https://github.com/netty/netty/pull/7914.

[2018-05-07 13:12] normanmaurer commented on #4527
@cy6erGn0m can you open this as a PR as it will make review a lot easier.

[2018-05-07 17:53] artgon commented on #7753
Hmm yeah, that test seems to rule out the issue. Let me dig deeper here and see if I can find the cause.

[2018-05-07 18:08] normanmaurer commented on #7753
@artgon I will merge the unit test in the meantime... more tests FTW ;) Let me know when you find out what exactly is going on. I will close the issue in the meantime (so please reopen if you still think there is a problem).

[2018-05-07 18:09] normanmaurer opened #7915 "DnsNameResolver.resolveAll(...) does not always follow CNAMEs"
At the moment if you do a resolveAll and at least one A / AAAA record is present we will not follow any CNAMEs that are also present. I wonder if this is bug or a "feature". I would have expected to have CNAMEs followed as well honestly.

[2018-05-07 18:09] normanmaurer commented on #7915
@slandelle @trustin @Scottmitch @carl-mastrangelo @ejona86 @mosesn Any thoughts on this ?

[2018-05-07 18:10] #7753 closed

[2018-05-07 18:39] normanmaurer commented on #7915
Also related to this the JDK always seems to follow the CNAME here.

[2018-05-07 18:40] mosesn commented on #7915
Yeah, I would copy whatever InetAddress.resolveAllByName does.  I think that's the most intuitive.  If folks need to have a resolveAll that doesn't follow CNAMEs we can add a new API.

[2018-05-08 03:09] trustin commented on #7915
+1 for having the same behavior with OpenJDK. Not sure if we need an option for customizing it.

[2018-05-08 14:31] #7908 closed

[2018-05-08 22:06] johnou commented on #7876
@pvub look into updating Netty, latest 4.0.x is 4.0.56.Final but that was the last release of the 4.0 tree, so I would advise updating to latest 4.1.x.

[2018-05-08 22:16] pvub commented on #7876
@johnou My App is written on top of Vert.x 3.5.0. So, not sure if it is feasible to upgrade to 4.1.x.

[2018-05-09 02:43] r13ljj commented on #7289
@normanmaurer  I also meet this problem, i just want to find the reason what is memory problem with linux kernel. Do you have any good Suggestions?

[2018-05-09 07:43] johnou commented on #7876
@pvub Vert.x 3.5.1 comes with Netty 4.1.19.Final :+1:

[2018-05-09 11:48] #7915 closed

[2018-05-09 13:54] pvub commented on #7876
@normanmaurer Unfortunately Vert.x 3.5.1 doesn't include support for 'permessage-deflate' compression. My App was built off a branch off 3.5.0 with support for pm-deflate. I'll have to try porting that change over to 3.5.1. I'll try upgrading.

[2018-05-10 01:51] zekaryu opened #7924 "what does PageRun/PoolSubpage mean？"
In comment of io.netty.buffer.PooledChunk  class，the first comment description said：

` ** Description of algorithm for PageRun/PoolSubpage allocation from PoolChunk**`

I just don't get the meaning of “PageRun/PoolSubpage”，can anyone tell me how to understand it

[2018-05-10 07:58] wlwinston commented on #3035
@zhanggang807 这个主要是因为IE传输URL时，会采用ISO8859-1编码格式传输，需要在服务端进行一次转码才可以获取到正确的中文。Chrome会把URL先encoding一下，所以没关系

[2018-05-10 08:35] johnou commented on #7020
@normanmaurer I started by pulling out all the handshake related code from ReferenceCountedOpenSslEngine into it's own class then realised that runDelegatedTasks will anyway block until the delegated task returns, even if we use another thread pool that would still block the event loop.. did you have something else in mind?

[2018-05-10 08:42] johnou commented on #7020
Wouldn't it make more sense modifying io.netty.handler.ssl.SslHandler#handshake to execute in another thread pool and then set the promise allowing the connection to proceed without blocking the event loop.

[2018-05-10 08:44] johnou commented on #7020
Or better yet.. why not just create a second event loop and when handshake completes, move the channel to another event loop.

[2018-05-10 08:46] johnou commented on #7020
[code]

[2018-05-10 09:18] johnou commented on #7020
@anshuman-osc would you please try with another event loop and see if that helps?

[2018-05-10 09:37] anshuman-osc commented on #7020
In the linked SO thread (see the issue description) it was suggested that
registering/deregistering was hacky business, which may not be supported in
future.

On 10 May 2018 7:19:12 pm Johno Crawford <notifications@github.com> wrote:

[2018-05-10 09:47] johnou commented on #7020
@normanmaurer we heavily rely on registering/deregistering channels, specifically chat rooms, consider that 60 people are in a room, when an incoming message needs to be sent to all players the remote message comes in (from outside the event loop) then needs to write to every single channel waking up each individual event loop, what I've done is taken all the event loops and put them in a helper c

[2018-05-11 19:16] normanmaurer commented on #7924
I think your best bet is to read the jemalloc white paper:

https://www.bsdcan.org/2006/papers/jemalloc.pdf

[2018-05-11 19:16] #7924 closed

[2018-05-11 23:06] ejona86 commented on #7915
Note that InetAddress.resolveAllByName is OS-defined behavior, not JDK.

[2018-05-12 03:01] zekaryu commented on #7924
OK, thank you

[2018-05-12 03:43] cstancu opened #7928 "Why is the maven.compiler.target set to 1.6?"
Hi, I have a simple question. While playing around with building the Netty integration tests from source I noticed that the [maven.compiler.target is set at 1.6](https://github.com/netty/netty/blob/cff87de44cfaa4544360715dc83e5ad1aa2c0bd7/pom.xml#L180)?
[code]

 What is the reason for that? Is this a strong requirement for Netty? Thank you!

[2018-05-12 05:14] normanmaurer commented on #7928
It’s what we supported for a long time but will change in the next major release. We just can not do this in a bugfix release

[2018-05-12 05:14] #7928 closed

[2018-05-12 09:19] ldclakmal opened #7930 "Proxy rules doesn't get applied while connecting through Netty"
### Description
It is observed that some rules applied thorough a proxy is not supported by Netty because of the HTTP CONNECT request is sent initially.

### Steps to reproduce
Setup the following proxy with the given rules and send a GET request to http://abc.com/foo/bar/1.

Proxy - Squid
Rule - Block destination URL http://abc.com/foo/bar/1

#### Expected behaviour
It is expected to **block** ht

[2018-05-12 22:40] cstancu commented on #7928
And another related question: would it be possible to release the integration tests on maven? What I mean by integration tests is code under `src/test` packages, e.g., [the Netty transport tests.](https://github.com/netty/netty/tree/4.1/transport/src/test/java/io/netty). The reason I am asking for this is that I work on the [GraalVM/SubstrateVM project](https://github.com/oracle/graal/tree/master/

[2018-05-13 06:29] JasonHuangHuster opened #7931 "when using udp NioDatagramChannel , the process will takes tens of thousand of file Descriptor"
### Expected behavior

when using udp NioDatagramChannel , the process will takes tens of thousand of file Descriptor

### Actual behavior

in normal udp situation , every message will takes a fd , and close method should called on the socket to free the fd after msg was send . my process takes 20k fds , and they are ocopied by udp .

### Steps to reproduce

### Minimal yet complete reproducer cod

[2018-05-13 06:36] normanmaurer commented on #7931
Please upgrade to a recent version and report back. The version you are using is very old. Also please provide a reproducer

[2018-05-14 06:54] ldclakmal commented on #7930
I tested with Netty version **4.1.24.Final** as well. But the issue is still there.
Following is a abstract code of the Netty pipeline.

[code]

This is a Wireshark screenshot when I access blocked URL from Firefox.
![image](https://user-images.githubusercontent.com/9639050/39981803-bd9fe570-576f-11e8-9eb6-c76fdc922697.png)

This is a Wireshark screenshot when I access blocked URL from HTTP client

[2018-05-14 07:09] slandelle commented on #7930
@ldclakma HttpProxyHandler currently only supports HTTP tunneling, hence performing an initial CONNECT request. This mechanism is standardly used for HTTPS and WebSockets. Usually, it's not used for clear HTTP and it seems Squid doesn't support it. Just connect to your proxy and send a request with an absolute url.

[2018-05-14 09:35] ldclakmal commented on #7930
@slandelle Following is a Wireshark screenshot when I send request with and absolute URL. But also doesn't get blocked. So, is that due to CONNECT request initially sent or a bug of squid?

![image](https://user-images.githubusercontent.com/9639050/39989533-df1d218c-5787-11e8-907f-29d2959cff37.png)

[2018-05-14 09:44] slandelle commented on #7930
Don't use HttpProxyHandler. Just connect to your proxy and send a request with an absolute url.

[2018-05-14 10:12] ldclakmal commented on #7930
Thank you for the response.

[2018-05-14 17:51] dschobel opened #7935 "Can't disable SSLv2 in SSLEngine"
### Expected behavior

`SSLContext` / `SSLEngine` should allow applications to opt-out of SSLv2.

### Actual behavior

`SSLEngine` enables SSLv2.

### Steps to reproduce

[code]

### Netty version
4.1.25.Final

### JVM version (e.g. `java -version`)
1.8.0_45-b14

### OS version (e.g. `uname -a`)
OS X 10.13.4

[2018-05-14 17:52] normanmaurer commented on #7935
@dschobel do you use the native impl or the JDK impl ? Also if you use the native impl what flavour of it :) ?

[2018-05-14 18:04] dschobel commented on #7935
this is using netty-tcnative-boringssl-static version 2.0.8.Final

[2018-05-14 18:08] normanmaurer commented on #7935
@dschobel interesting...  can you also verify with netty-tcnative (non static one) ? I ill need to dig into it a bit more I guess .

[2018-05-14 19:20] dschobel commented on #7935
same issue with netty-tcnative.

netty 4.1.16.Final + tcnative 2.0.8.Final do the right thing so we at least have a starting point for a bisect, I can give it a shot later this week if you don't find anything in the mean time.

[2018-05-15 02:03] sungjk opened #7936 "Growing number of NioEventLoopGroup threads"
I know that the number of threads in the worker group does not exceed the specified number(20). But being created new threads for new connection handling, it does not seem to be removed when the connection is closed. And it occurs OOM cause thread count continues to increase.

### Expected behavior
Does not exceed the specified number(20).

### Actual behavior
[JMX results are confusing.](https://

[2018-05-15 06:44] johnou commented on #7936
@sungjk would you please provide a full reproducer?

[2018-05-15 07:34] sungjk commented on #7936
@johnou which extent of reproducer? This is all the code associated with bootstrapping.

[2018-05-15 07:49] jozefbalga opened #7938 "CodecOutputList does not implement java.util.list.add(int index, E element) correctly"
### Expected behavior
When an element is added to the beginning of CodecOutputList, the remaining elements should be shifted to the right, see https://docs.oracle.com/javase/8/docs/api/java/util/List.html#add-int-E-
### Actual behavior
The new element is added to the correct position, but the remaining elements are modified.
### Steps to reproduce
Create a new CodecOutputList, add integer 1, then

[2018-05-15 08:14] slandelle commented on #7936
@sungjk Your code is weird. What you call "client" uses server-side code (`ServerBootstrap`, `NioServerSocketChannel`). The most likely reason for ending up with tons of threads is that you're creating tons of Bootstraps (which is wrong) and not shutting them down (which is wrong too), hence @johnou asking you for an actionable reproducer.

[2018-05-15 08:40] sungjk commented on #7936
Heres is
[code]

[2018-05-15 08:58] normanmaurer commented on #7936
@sungjk maybe I just not understand your question but with this you will endup with 4 * cores EventLoops and so threads. These threads will never be shutdown until you shutdown the groups. This is expected.

[2018-05-15 08:59] normanmaurer commented on #7938
@jozefbalga thanks.... working on a fix.

[2018-05-15 09:35] normanmaurer commented on #7935
@dschobel hmm are you really sure netty-tcnative does the same ? What openssl version you are using and compile it against ?

[2018-05-15 09:35] normanmaurer commented on #7938
@jozefbalga PTAL https://github.com/netty/netty/pull/7939

[2018-05-15 11:18] sungjk commented on #7936
@normanmaurer I am sorry that the question is not clear. There are currently 4 cpu cores in use, but there are hundreds of live thread counts seen in JMX monitoring, so I do not know why.

[2018-05-15 11:28] normanmaurer commented on #7936
Can you share a heap and thread-dump ?

[2018-05-15 12:01] sungjk commented on #7936
It is different from the JMX result attached to the body of the artifact.
[threaddump.txt](https://github.com/netty/netty/files/2004829/threaddump.txt)
[heapdump-1526384673369.hprof.zip](https://github.com/netty/netty/files/2004830/heapdump-1526384673369.hprof.zip)

[2018-05-15 12:56] normanmaurer commented on #7935
@dschobel PTAL https://github.com/netty/netty/pull/7940 ... to make it short its a false-positive and if you use s_client it should not report SSLv2.

[2018-05-15 16:33] lqbilbo commented on #3166
Thanks!I have solved the problem of large size in oldgen by the issue

[2018-05-15 17:41] #7938 closed

[2018-05-15 17:42] normanmaurer commented on #7938
Fixed by https://github.com/netty/netty/pull/7939

[2018-05-15 17:58] Bennett-Lynch commented on #7860
@normanmaurer I'm hesitant to re-open as I might be doing something wrong.

When trying to write the following to a client's Http2 multiplex child channel:
[code]
I get the following error:
[code]

So I cloned `DefaultHttp2UnknownFrame` just to implement `Http2StreamFrame`.  The write on the client side then succeeds.  The server then fails to read the frame with the following error:
[code]

I'm a

[2018-05-16 06:56] scottsue opened #7944 "channelWritabilityChanged called multiple times"
### Expected behavior
When we have slow consumers, the channelWritabilityChanged method will be called.  Upon inspecting the channel writable state, we can check to see if we are going into a writable -> non-writable (aka slow consumer), or non-writable -> writable (aka coming out of a slow consumer back into normal) state.

### Actual behavior
What we're seeing is that netty sometimes calls the c

[2018-05-16 17:50] bryce-anderson opened #7947 "No way to get a Http2StreamChannel for a client h2c upgrade stream via Http2MultiplexCodec"
### Expected behavior
When using the `Http2MultiplexCodec` on a client after a h2c upgrade is performed, I expect to be able to get a handle on the `Http2StreamChannel` associated with the upgrade request when using the `Http2MultiplexCodec`.

### Actual behavior
There is no public API for surfacing a `Http2StreamChannel` that resulted from the client request.

### Netty version
Branch 4.1 (as of

[2018-05-16 18:06] normanmaurer commented on #7947
@bryce-anderson basically you are asking to get access to stream 1 (upgrade stream) ?

[2018-05-16 18:06] bryce-anderson commented on #7947
@normanmaurer, yes, specifically as a client since I wasn't clear on that.

[2018-05-16 19:06] bryce-anderson commented on #7947
@normanmaurer, I think the implementation of `Http2StreamChannel` in the private class `DefaultHttp2StreamChannel` inside the `Http2MultiplexCodec` and I don't see a way to surface it (outside of reflection magic).

I'm more than happy to work on a PR presuming @ejona86 or someone else more versed doesn't point me to an API I missed. I'll start on it tomorrow unless someone intervenes.

[2018-05-16 19:32] bryce-anderson commented on #7947
@ejona86, I'm not sure what you mean. I don't want to use the `Http2FrameStream`, I want to use the child channels in the `Http2MultiplexCodec`, and I think they are all implementations of the `Http2StreamChannel`, which is what you get from the `Http2StreamChannelBootstrap`. Unfortunately you can't get the `Http2StreamChannel` for the upgrade stream since it was created for you by the upgrade mec

[2018-05-16 19:36] ejona86 commented on #7947
You can't get _any_ of the channels created for you. That's true for any inbound request. Instead, you can specify the handler that will be installed in the pipeline for that channel. If you need to interact with that channel, then you coordinate with your handler. That's standard Netty for incoming connections.

What am I missing?

[2018-05-16 20:18] bryce-anderson commented on #7947
I'm talking about a client side usage of `Http2MultiplexCodec` when doing a h2c upgrade. How should I be using it for the request that resulted in the upgrade? In a way, I did create that channel via my HTTP/1.x upgrade request, but it is not like streams 3+ where it begins as a h2 stream from birth.

[2018-05-16 20:31] dschobel commented on #7935
@normanmaurer

[code]

tested against the nightly snapshots, looks like  #7940 did the trick, thanks

[2018-05-16 20:59] ejona86 commented on #7947
Ah, I see. _Client-side._ And you did say client in the issue title.

I only did server-side for this before. Client side looks more complicated API-wise, because we don't know whether we'll be speaking HTTP/1 or HTTP/2. The current upgrade API is call-back based, where you provide a Handler that will be used when appropriate.

It's a bit hard for me to see how this all works, because the current

[2018-05-16 21:18] bryce-anderson commented on #7947
Sorry for the confusion about using this client side.

An awkward part of the 'flow-past' solution is that you can't manage response backpressure for the upgraded stream in the normal Netty manner since if you turn off auto-read or you stall the whole h2 session.

My first inclination is to mange this via a richer event model where if the Http2MultiplexCodec gets installed due to a h2c upgrade, th

[2018-05-16 21:45] ejona86 commented on #7947
Ah... flow control. Of course. So axe the HTTP/1 conversion idea.

This is sort of fine, but it is timing sensitive ("racy"). If any handler in the pipeline delayed that event, then frames could begin appearing in the childchan before the transition has started.

I think simply passing in a "stream-1 HTTP/2 handler" to use if upgrade succeeds would be more straight-forward, and more in line with t

[2018-05-17 15:52] bryce-anderson commented on #7947
@ejona86, you're right, the racy nature of pushing messages down that new child stream channel could be tricky and it's not really the same pattern used elsewhere. I like the idea of providing an upgrade initializer/handler.

I'd like to get this sorted out sooner than later so we can start using the `Http2MultiplexCodec` in our client, so I'm happy to take a run at this unless someone else feels

[2018-05-17 16:16] ejona86 commented on #7947
@bryce-anderson, go for it. I couldn't work on it soon and the upgrade handler seems good enough to me.

[2018-05-17 16:28] normanmaurer commented on #7947
👍 sounds good to me

[2018-05-17 18:43] normanmaurer commented on #7944
I suspect this is a matter of the channel become writable again before we were able to fire the event. That said these events are harmless

[2018-05-18 01:36] scottsue commented on #7944
Hi Norman thanks.  Ok if this is expected, I'll need to manage the state of the connection outside of netty.  From our applications perspective, we listen to these events to perform certain logic, dropping events, blocking threads whilst flushing data, etc.  Are these events something that I can rely on to perform this 'critical' logic? Or are these events supposed to be only used for more informa

[2018-05-18 01:53] #7913 closed

[2018-05-18 07:48] normanmaurer commented on #7935
@dschobel awesome... Thanks for verifying it :)

[2018-05-18 07:50] normanmaurer commented on #7913
@echokk11 so did you find the problem ?

[2018-05-18 07:50] normanmaurer commented on #7913
or you think there is no problem at all ?

[2018-05-18 10:14] valodzka commented on #5070
@normanmaurer  any particular reason why 387bb09f9a97c4c2e6a3c461bed0666f5cd59277 is not merged? Any plans to do it?

[2018-05-18 14:05] echokk11 commented on #7913
Not yet.sorry to trouble you , maybe it is my own problem. I am trying my best to find it out.

[2018-05-18 18:42] nicktrav opened #7954 "PongWebSocketFrames are inaccessible in handlers downstream of a WebSocketClientProtocolHandler"
This is probably more of a question / request rather than a bug, as it looks like this was a deliberate decision ([source](https://github.com/netty/netty/blob/netty-4.1.25.Final/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/WebSocketProtocolHandler.java#L32-L35)).

The use-case is a handler being able to assert that a pong frame was received from a Netty-based proxy server.

###

[2018-05-18 18:45] normanmaurer commented on #7954
@nicktrav actually I think the idea was that usually PONG frames should be dropped on the floor. That said I would argue that is not the best thing to do "magically" and it may be better to let the user decide to drop it or not. So maybe we should not do this ?

[2018-05-18 18:51] nicktrav commented on #7954
Yeah, that would be awesome for us. Principle of least surprise, etc, etc.

I might take a crack at this one, if that's cool? I was thinking I'd just remove those lines so the frames are propagated, and I'll add a couple tests for it in the server and client handler subclasses. Wdyt?

[2018-05-18 18:57] normanmaurer commented on #7954
yeah... please :)

[2018-05-18 19:18] normanmaurer commented on #7936
@sungjk I can not tell you how and why but you create 48 NioEventLoopGroup instances and each of these hold 8 EventLoops. This explains why you see so many threads...

![screen shot 2018-05-18 at 21 15 54](https://user-images.githubusercontent.com/439362/40253668-e7f8e0fa-5ae0-11e8-92dd-6348fe199220.png)

![screen shot 2018-05-18 at 21 17 02](https://user-images.githubusercontent.com/439362/402536

[2018-05-18 19:18] #7936 closed

[2018-05-18 20:16] normanmaurer commented on #7851
Let me close this now now... Please provide more infos if you are still think its something that should be done

[2018-05-18 20:16] #7851 closed

[2018-05-18 20:17] normanmaurer commented on #7818
Let me close this and please provide a reproducer if you still think there is an issue

[2018-05-18 20:17] #7818 closed

[2018-05-18 20:18] normanmaurer commented on #7744
@slaskawi Let me close this. If you still think there is an issue please re-open.

[2018-05-18 20:18] #7744 closed

[2018-05-18 20:26] normanmaurer commented on #7192
Let me close this ... please re-open with more infos if you think there is an issue

[2018-05-18 20:26] #7192 closed

[2018-05-18 20:29] normanmaurer commented on #7071
Sorry but there is nothing we can do without more infos. Please reopen if you still see the issues with the latest netty version

[2018-05-18 20:29] #7071 closed

[2018-05-18 20:33] normanmaurer commented on #6580
Sorry but without anymore infos I need to close this issue. Please upgrade to the latest version and reopen if you still see the issue.

[2018-05-18 20:33] #6580 closed

[2018-05-18 20:52] normanmaurer commented on #7944
@scottsue just to clarify it may be that you see multiple notifications for the same writability state (kind of like spurious wakeups) but you should never be NOT notified. So I would say there may be false-positives but never be any missed events. So I think these events should still be useful for your use case ?

[2018-05-18 20:53] normanmaurer commented on #2240
Let me just close this for now as there are no plans to change anything regarding to this.

[2018-05-18 20:53] #2240 closed

[2018-05-18 21:30] normanmaurer commented on #6794
Let me close this ... Please reopen if you still think there is an issue after upgrading to latest version.

[2018-05-18 21:30] #6794 closed

[2018-05-18 21:31] normanmaurer commented on #6664
@vietj I will close this for now as there was no more activity. Please re-open if you still think there is an issue and provide more infos.

[2018-05-18 21:33] normanmaurer commented on #6255
We basically detect if ipv4 or ipv6 is preferred and decide based on this (just like the JDK does).

[2018-05-18 21:33] #6255 closed

[2018-05-18 21:35] normanmaurer commented on #5723
Let me close this as there was no more followup from the reporter. Please reopen if you still think there is an issue after upgrading to latest version and provide more infos

[2018-05-18 21:35] #5723 closed

[2018-05-18 21:38] normanmaurer commented on #5278
Let me close this as its very old and there was no more followup.

[2018-05-18 21:38] #5278 closed

[2018-05-18 21:38] normanmaurer commented on #5278
Let me close this as its very old and there was no more followup.

[2018-05-18 21:41] normanmaurer commented on #4199
This issue is very old... Let me close it as its also more a question then an issue.

[2018-05-18 21:41] #4199 closed

[2018-05-18 21:42] normanmaurer commented on #3762
I think we are not consider OIO as performance critical and focus on nio and native transports. Let me close this as won't fix.

[2018-05-18 21:42] #3762 closed

[2018-05-18 21:43] normanmaurer commented on #3423
Let me close this as we have not the bandwidth to maintain translations. Sorry

[2018-05-18 21:43] #3423 closed

[2018-05-18 21:44] normanmaurer commented on #3179
Let me close this. Its not clear if this is reproducible or even still exists. We can re-open if its reported again .

[2018-05-18 21:44] #3179 closed

[2018-05-19 02:05] idelpivnitskiy commented on #6899
Hi @raulk,
It definitely could be, because I started my contributions to netty from compression codecs.
You should choose a java library which does compression/decompression (one of mentioned above or another) and use it for implementation of `ByteToMessageDecoder` and `MessageToByteEncoder`.
You could use this PRs as examples:
https://github.com/netty/netty/pull/2654
https://github.com/netty/nett

[2018-05-19 03:39] mosesn commented on #7346
@normanmaurer I don't know, we are having trouble updating to latest netty, and we've disabled NPN on the client-side.

[2018-05-19 05:41] normanmaurer commented on #7346
Ok... anything I can help with to resolve the trouble ? What trouble you have ?

[2018-05-19 06:31] #7887 closed

[2018-05-21 01:50] scottsue commented on #7944
Thanks @normanmaurer for the clarification

[2018-05-21 01:50] #7944 closed

[2018-05-21 01:50] JasonHuangHuster commented on #7931
this fd leak is not caused by netty io ,  this issue could be closed , tks for your help ! :D

[2018-05-21 01:50] #7931 closed

[2018-05-21 07:27] #7930 closed

[2018-05-21 07:27] doom369 commented on #7954
@normanmaurer wouldn't this cause regression? Maybe making `decode` method of `WebSocketServerProtocolHandler` public would be enough, so users can override this behavior?

[2018-05-21 07:29] normanmaurer commented on #7954
@doom369 I think we should just do what @trustin suggested in the PR and make it configurable and use the old behaviour as default.

[2018-05-21 10:12] amizurov commented on #7954
@nicktrav , @normanmaurer In our case we extend ``WebSocketServerProtocolHandler`` and override decode() for handling pong and close frames, but we can add some handler before ``WebSocketServerProtocolHandler`` and listen all web socket frames. Maybe in downstream handler anybody want listen close frame ???

[2018-05-21 14:28] timyates opened #7957 "OpenSSL server has a lower throughput than JDK SSL with larger responses"
### Expected behavior

I expected the native OpenSSL provider to be faster than the JDK provider, no matter what the size of the response payload is.

### Actual behavior

A Netty server using the JDK SSL provider is faster for any payload (I have tested 1MB up, and see the same results)

The results below are from running on an `i3.xlarge` EC2 box running `Amazon Linux AMI 2018.03.0`, but I have

[2018-05-21 14:28] timyates commented on #7957
CC: @ldaley

[2018-05-21 15:05] normanmaurer commented on #7957
Are you sure you use the same ciphers ?

[2018-05-21 16:02] timyates commented on #7957
I thought they were the same...

Looking again with wireshark output when running the JDK SSL version, I get (in the Server Hello)

But with the OpenSSL version, I get:

[2018-05-21 17:20] normanmaurer commented on #7957
@timyates please set the used cipher to the same (via the SslContextBuilder) and re-run. TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 is not supported by Java8 so no-wonder you see different ones.

[2018-05-21 17:22] #7901 closed, assigned to normanmaurer

[2018-05-21 19:01] timyates commented on #7957
Cool, I've [set both](https://github.com/timyates/netty-openssl-perf-test/commit/8e54451fe9c09c8414b9666d11ceff2d498aefd9) to use `TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA`, and will return with results once it's finished profiling 👍

[2018-05-21 20:37] timyates commented on #7957
Specifying the cipher seems to have solved it 🤯

Is there a way to decide on a cipher, or collection of them?  I found the [table here](https://docs.oracle.com/javase/8/docs/technotes/guides/security/SunProviders.html#SupportedCipherSuites) which by trial and error I ended up with `TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA` as also working with both the JDK and OpenSSL.

Results for the record:

### `TLS

[2018-05-21 21:44] Tagar opened #7959 "JXRay: Reference Chains for Bad Primitive Arrays: big overhead from netty"
We started looking at YARN NodeManager GC issues and most impact comes
according to http://www.jxray.com/ comes from netty with a huge portion of buffers being all zeros:

"The problem is that Netty has various buffers managed by netty.
They may be too big, so a big portion of them stays unused, containing only zeroes"

### Expected behavior
Allocated buffers' sized accordingly to workload.

### A

[2018-05-22 07:06] slandelle commented on #7959
You're using a very outdated version. Only the 4.1 train is currently maintained.
Then, Netty 4.0 introduced new memory management mechanism and it's likely that the problem you mention has been fixed.
You need to upgrade to latest 4.1 and then report back if issue still exists.

[2018-05-22 08:17] normanmaurer commented on #7959
@Tagar beside what @slandelle said this is kind expected as the PoolChunk is part of the `PooledByteBufAllocator` and so the memory is pooled. You may want to adjust the settings for `PooledByteBufAllocator` and use settings that better match your requirement / expectations.

There is really nothing wrong here.

[2018-05-22 08:17] #7959 closed

[2018-05-22 08:59] normanmaurer commented on #7957
@timyates hmm I think we not provide anything atm. But let me add something that allows to find ciphers that work for all.

[2018-05-22 09:55] MarkVilkel opened #7960 "DTLS in Netty"
I'm using netty 4.1.25.

Is it possible somehow to use the same io.netty.handler.ssl.SslHandler instance for NioDatagramChannel, having NioServerSocketChannel between the same client and the server?

I mean the situation when a client app has secured connection with a server via NioServerSocketChannel. And then the same client decides to exchange messages with the same server via NioDatagramChanne

[2018-05-22 10:45] timyates commented on #7957
Cool, thanks again!

Can you think of a reason why jMeter negotiated a cipher with OpenSSL that Java does not support? 🤔

No worries if not, I'll do some digging 👍

[2018-05-22 10:47] normanmaurer commented on #7957
@timyates maybe you use Java 9 or higher on the system you run JMeter on ?

[2018-05-22 13:28] normanmaurer commented on #7957
Also let me close this issue.

[2018-05-22 13:28] #7957 closed

[2018-05-22 18:40] normanmaurer commented on #7960
@MarkVilkel I dont think so... sorry

[2018-05-22 18:40] #7960 closed

[2018-05-23 10:41] buchgr opened #7962 "HttpClientCodec emits LastHttpContent if content-length=0"
The `HttpClientCodec` emits a `EmptyLastHttpContent` message if the HTTP/1.1 response is empty and a `Content-Length: 0` header being present: https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectDecoder.java#L255. In HTTP/1.1 I would expect `LastHttpContent` to only be emitted for chunked encoding. WDYT?

[2018-05-23 10:47] vietj commented on #7962
@buchgr I think it's expected, unless the first message `HttpResponse` is updated and changed to `FullHttpResponse`: the application using this handler will always expect to receive a `LastHttpMessage` as part of the messages emitted by this handler.

[2018-05-23 11:30] buchgr commented on #7962
makes sense. thanks :-)

[2018-05-23 11:30] #7962 closed

[2018-05-23 17:19] jpfourny commented on #7654
FYI, I am able to reproduce this issue on Windows with the latest IBM Java 8 JRE. Setting '-XX:MaxDirectMemorySize=512M' works around the problem, however. I am running Spark 2.2, which ships with Netty-all-4.0.43.Final. It does not appear to be specific to Z/OS.

[2018-05-23 18:07] Bennett-Lynch opened #7963 "Http2MultiplexCodec.handlerRemoved() throws Exception on Channel#close()"
_Let me preface this by saying that I'm not convinced this is a bug with Netty and I might be doing something wrong based on my understanding of how to close channels with `Http2MultiplexCodec`._

### Expected behavior

Closing a channel with Http2MultiplexCodec and all idle streams should not throw an exception.

### Actual behavior

Closing a channel with Http2MultiplexCodec and all idle streams

[2018-05-23 18:12] normanmaurer commented on #7963
Before I start to investigate can you upgrade to 4.1.25.Final and see if you still see it ?

[2018-05-23 18:20] Bennett-Lynch commented on #7963
Just ran it with 4.1.25.Final and it did not throw any exceptions.

Sorry for the false alarm, didn't realize there was a recent fix in this area.

Thanks for the quick fix. ;)

[2018-05-23 18:20] #7963 closed

[2018-05-23 18:22] Bennett-Lynch commented on #7963
For reference: https://github.com/netty/netty/pull/7894

[2018-05-23 18:27] normanmaurer commented on #7963
@Bennett-Lynch no worries... thanks for testing :)

[2018-05-23 18:44] jpfourny commented on #7654
Here are the relevant sys props:

java.vendor=IBM Corporation,
java.vendor.url=http://www.ibm.com/,
java.vm.vendor=IBM Corporation,
java.vm.name=IBM J9 VM,
java.vm.specification.name=Java Virtual Machine Specification,
java.vm.specification.vendor=Oracle Corporation,
java.vm.info=JRE 1.8.0 Windows 10 amd64-64 Compressed References 20170812_360168 (JIT enabled, AOT enabled)
J9VM - R28_20170812_0201

[2018-05-23 19:08] jpfourny commented on #7654
According to IBM docs:

There is no hard limit, until -XX:MaxDirectMemorySize is specified on command line. It will keep allocating until the process hits whatever limits are set by the kernel on the process. This is probably a dangerous default policy, IMHO.

Having Netty enforce a reasonable default limit on direct memory allocation is still a good idea - you just have to pick a value by some ot

[2018-05-23 20:47] normanmaurer commented on #7654
BTW PRs are always welcome

[2018-05-24 00:25] ewie opened #7964 "DefaultHttpResponse does not implement equals and hashCode to cover response status"
### Expected behavior
Two DefaultHttpResponse instances with different response status should not be considered equal. Headers and HTTP version are already covered in DefaultHttpMessage. DefaultFullHttpResponse also covers content and trailing headers. I would assume the response status is considered as well.

### Actual behavior
Response status is ignored by equals and hashCode. DefaultHttpRespon

[2018-05-24 05:52] normanmaurer commented on #7964
sounds like a bug to me... looking now

[2018-05-24 08:35] normanmaurer commented on #7897
@rschmitt what do you think about the suggestion of @ejona86

[2018-05-24 13:16] normanmaurer commented on #7654
@jpfourny could you verify: https://github.com/netty/netty/pull/7966 ?

[2018-05-24 18:13] #7964 closed

[2018-05-24 18:13] normanmaurer commented on #7964
@ewie thanks for reporting, fixed by https://github.com/netty/netty/pull/7965

[2018-05-24 18:27] #7954 closed

[2018-05-24 22:02] Bennett-Lynch opened #7969 "Make Http2UnknownFrame extend Http2StreamFrame rather than Http2Frame"
This is a follow-up issue regarding: https://github.com/netty/netty/issues/7860

### Expected behavior

Writing an `Http2UnknownFrame` to a child channel will be written to the parent channel and underlying HTTP/2 connection via `Http2MultiplexCodec`.

When `Http2MultiplexCodec` reads an `Http2UnknownFrame`, it will be propagated to the correct child channel.

### Actual behavior

`Http2MultiplexC

[2018-05-24 23:12] carl-mastrangelo opened #7970 "NioEventLoop has too low MAX_SCHEDULED_DAYS"
### Expected behavior
Create a scheduled task with some reasonable, arbitrary delay.

### Actual behavior

`NioEventLoop.validateScheduled`   throws an illegal argument exception when passing a delay of greater than 3 years.

### Netty version
4.1.25

A user of gRPC noticed that when passing a really big deadline, the above exception was thrown.  The deadline in question was 100 years, which, whil

[2018-05-25 05:18] normanmaurer commented on #7970
This sounds like a better solution then throwing... let me work on a fix

[2018-05-25 05:33] jo-kin commented on #7654
To complete this i just add the System.properties from Java running on a Z-System with z/OS 2.2:

 - - - - - - - - - - - - - - - - - - - - - - - - - - -
 -    Welcome to  Unix System Services of            -
 -          z / O S   Version 2 Release 2            -
 - - - - - - - - - - - - - - - - - - - - - - - - - - -

$ java -version
java version "1.7.0"
Java(TM) SE Runtime Environment (build pmz31

[2018-05-25 09:50] chongbo2013 opened #7971 "How to implement utp protocol based on netty"
please help me。thank u

[2018-05-25 12:11] xpromache commented on #7647
Hello,

I found this issue and I'm interested to have a decoder for "multipart/related" HTTP bodies similar with this one:
https://cloud.google.com/storage/docs/json_api/v1/how-tos/multipart-upload

@fredericBregier the RFC 1867 specifies how form based upload works (i.e. use the multipart/form-data).

What @arukshani is hinting at is that all "multipart/*" content types work in a similar fashion

[2018-05-25 12:35] #7654 closed

[2018-05-25 16:44] fredericBregier commented on #7647
@xpromache  Why not ? If possible, well, it will allows to make more things ! ;-)

You can propose something of course ;-)
Pay attention however to ascending compatibility and to preserve the overall contract in the codec. But I'm quite sure, doing some rework on internal classes could help to have at most 2 codec sharing a lot, at most 1 only...

[2018-05-26 03:10] nicktrav opened #7973 "WebsocketClientHandshaker can fail if multiple X-Websocket-Key headers are present on the upgrade request"
### Expected behavior

A websockets handshake should not fail if a `X-Websockets-Key` header exists in the custom headers passed to the handshaker.

### Actual behavior

The handshake fails if the server picks the incorrect key on which to compute its challenge response (as opposed to the key that is set by the `WebsocketsClientHandshaker`).

### Steps to reproduce

Use the `WebsocketsClientHandsh

[2018-05-26 03:16] nicktrav commented on #7973
One way to fix this could be to add the custom headers _first_, and the call `HttpHeaders#set` for each of the websocket-specific headers. It would require some re-ordering of calls in `WebSocketClientHandshaker13#newHandshakeRequest` (and variants).

One downside to this approach is that is would overwrite any header values that are present. I don't know if that's an issue though, as there should

[2018-05-26 05:02] normanmaurer commented on #7973
I think I would go with the first approach

[2018-05-27 17:14] normanmaurer commented on #7971
Sorry but this is an issue tracker... please use stack overflow, that said you will need to at least invest a bit more time to try read-up on stuff before asking I would say.

[2018-05-27 17:14] #7971 closed

[2018-05-27 17:19] normanmaurer commented on #7969
@Bennett-Lynch let it extend `Http2StreamFrame` sounds like the correct thing to do. Would you be interested in proving a PR ?

I think I would leave the `isEndStream` as it is and just use the `Http2Flags` for it.

[2018-05-27 17:20] normanmaurer commented on #7845
Hmm that's strange... Both should just work fine. Are you sure about this and can you check what the future of the write tells you after it was completed ?

[2018-05-27 17:21] normanmaurer commented on #7849
@LosAngelesHK ping

[2018-05-28 04:01] #7689 closed

[2018-05-28 05:15] normanmaurer commented on #7969
@Bennett-Lynch I had a bit time this morning so I just did it myself and adding unit tests:

https://github.com/netty/netty/pull/7976

PTAL

[2018-05-28 06:05] zekaryu opened #7977 "[QUESTION] about the toHandle(int bitmapIdx) method of PoolSubpage"
private long toHandle(int bitmapIdx) {
        return 0x4000000000000000L | (long) bitmapIdx << 32 | memoryMapIdx;
    }

When I study the code, at first I just cant figure out what is “ 0x4000000000000000L”  here for ??
Then I googled it, someone explained that it is used to help distinguish whether the init operation is for subpage or not:

    void initBuf(PooledByteBuf<T> buf, long handle, int

[2018-05-28 08:49] tommwang opened #7978 "exceptioncaught closing 1 channel will effect other channels when a client connects multiple servers"
### Expected behavior
only current channel be closed when exceptioncaught
### Actual behavior
others channel lost but checking isactive is true
### Steps to reproduce
there is a client, connecting to multiple servers with different IP and same port. when 1 channel has Exception, handler will go into exceptioncaught method, ctx.close(). then current channel will be closed. that is correct. but othe

[2018-05-28 08:50] normanmaurer commented on #7978
@tommwang 5.0.2 is super old.. Use 4.1.25.Final and test again. Also you need to at least give us some code to reproduce this.

[2018-05-28 09:00] normanmaurer commented on #7616
@laosijikaichele Please try to use docker-compose as explained in our docs now. I tested it on linux and macOS and it "just works". Please reopen if you still see issues.

[2018-05-28 09:00] #7616 closed

[2018-05-28 18:08] Bennett-Lynch commented on #7969
Thanks, @normanmaurer -- change looks good to me.

Fine with using `Http2Flags` for detecting `isEndStream`, but may I ask your reasoning for it?  Maintaining a consistent interface across frame types seems more ideal, but I realize these UnknownFrames are a bit of an edge case.

[2018-05-28 19:20] normanmaurer commented on #7969
@Bennett-Lynch because its redundant as it exists in the flags already (and you can have other flags as well).

[2018-05-29 00:50] tommwang commented on #7978
@normanmaurer thanks, that is an old project using netty_5.2, anyway we will try latest version 4 or 5_alpha3

[2018-05-29 05:27] #7969 closed

[2018-05-29 07:04] mazijun104 opened #7982 "use FixedChannelPool get channel happen BlockingOperationException"
Exception:

io.netty.util.concurrent.BlockingOperationException: DefaultPromise@329e2ef8(incomplete)
	at io.netty.util.concurrent.DefaultPromise.checkDeadLock(DefaultPromise.java:391) ~[netty-all-4.1.19.Final.jar:4.1.19.Final]
	at io.netty.util.concurrent.DefaultPromise.await0(DefaultPromise.java:587) ~[netty-all-4.1.19.Final.jar:4.1.19.Final]
	at io.netty.util.concurrent.DefaultPromise.await(Defa

[2018-05-29 07:09] mazijun104 commented on #7982
netty version  4.1.19.Final

[2018-05-29 14:01] hiteshkotian opened #7983 "Application crashing with memory leaks"
### Actual behavior
I have an application that I built with netty version 4.0.40.Final. The application seems to be crashing every hour and when I analyzed the dump file, it looks like most of the leaks are happening because of "io.netty.util.concurrent.SingleThreadEventExecutor". Can someone please help me out with this?

### Netty version
4.0.40.Final

### JVM version (e.g. `java -version`)
IBM

[2018-05-29 14:03] normanmaurer commented on #7983
What you mean by leaks ? Why it crashes ? Also can you share the dump ?

[2018-05-29 16:09] Scottmitch commented on #7788
When I get time I can re-visit this issue and come up with a fix.

[2018-05-30 09:11] #7970 closed

[2018-05-30 11:51] hiteshkotian commented on #7983
Actually I can't delete th

[2018-05-30 12:10] hiteshkotian commented on #7983
@normanmaurer : Sorry I was told I can't share the heap dumps. But I think I might have figured out where the problem could be.

Is it ok if I get back to you in a few days? If I can still replicate the issue I will write up a sample program which will emulate the issue so that it would be easier for you to check.

[2018-05-30 12:13] normanmaurer commented on #7983
Sounds good

[2018-05-30 13:38] normanmaurer opened #7987 "Consider dropping HTTP/1.0 support in next major"
This came up in an offline discussion with @Scottmitch . We may want to consider dropping support for HTTP/1.0 in the next major release and so simplify some code.

This is basically just a starting point for discussions.

[2018-05-30 13:40] normanmaurer commented on #7987
@vietj @slandelle @mosesn @trustin @carl-mastrangelo @ejona86 @dschobel @vkostyukov @smaldini @rkapsi @lukaszx0 @nicktrav WDYT ?

[2018-05-30 13:42] slandelle commented on #7987
Already voted 👍

[2018-05-30 17:52] #7973 closed

[2018-05-30 17:59] lukaszx0 commented on #7987
In general I'm all for it!

However, this might be an issue for some people who have to support exotic software/hardware deployments like F5 HW LB which uses http/1.0 for health checking etc. Not sure how significant / important this issue is for wider community - in most cases, those systems should be easily migrate-able to http/1.1 and I think for us it wouldn't be a problem (might be as easy as

[2018-05-30 18:25] normanmaurer opened #7988 "NPE in testsuite logged when using Conscrypt."
Saw this during the build:

[code]

Most interesting is this:

[code]

I wonder if this is just a bug in conscrypt ?

[2018-05-30 18:26] normanmaurer commented on #7988
@ejona86 @carl-mastrangelo @nmittler who would be the best to ping on your end ?

[2018-05-30 20:01] carl-mastrangelo commented on #7988
+ @flooey

[2018-05-30 20:01] normanmaurer commented on #7741
ping.

[2018-05-30 20:04] normanmaurer commented on #7593
@electrum yeah sure I would be interested in a PR if its general useful :)

[2018-05-30 20:06] normanmaurer commented on #7538
sorry I can not reproduce... Please update to latest version and verify again. If you still thing there is an issue please re-open

[2018-05-30 20:06] #7538 closed

[2018-05-30 20:06] normanmaurer commented on #7431
@ejona86 @carl-mastrangelo any idea what to do wit this one?

[2018-05-30 20:07] normanmaurer commented on #7443
@ldaley I totally lost track of this one. Can you verify if you still see the issue with netty 4.1.25.Final ?

[2018-05-30 22:30] trustin commented on #7987
I think we should keep the HTTP/1.0 support as long as:

- it does not affect the API design or complexity of HTTP/1.1 and HTTP/2 too much.
- it does not affect the performance of HTTP/1.1 or HTTP/2 negatively too much.

Does it? It would be nice if you could list some detailed reasonings behind this proposal.

As @lukaszx0 mentioned already, I also recently saw some LBs still send health check re

[2018-05-30 23:22] henrik-lindqvist opened #7990 "CharSequenceValueConverter.convertToByte works differently for AsciiString vs String"
### Netty version
4.1

Looking at function CharSequenceValueConverter.convertToByte (CharSequence):
https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/CharSequenceValueConverter.java#L79

For AsciiString it takes the first byte, but for any other kind of CharSequence it parse the number value of the entire sequence, i.e. using Byte.parseByte(). This is surely not ex

[2018-05-31 03:48] hc-codersatlas commented on #7987
Besides load balancers, proxies would be the other possibility causing issues. Having said that... it's time to move on. If we're always stuck for legacy reasons the baggage will keep growing.

[2018-05-31 05:46] normanmaurer commented on #7987
@Scottmitch can you give some more context here ?

[2018-05-31 05:53] normanmaurer commented on #7990
@henrik-lindqvist yes this sounds like a bug...

@carl-mastrangelo @ejona86 @Scottmitch @trustin What you think is the correct behaviour here ?

[2018-05-31 07:39] vietj commented on #7987
@normanmaurer perhaps it could be possible to make an HTTP/1.0 adapter to put in front of the HTTP/1.1 or HTTP/2 codecs ?

[2018-05-31 09:50] fingthinking opened #7992 "Can it be optimized with 'nextIndex' in InternalThreadLocalMap"
**English is so bad, Just look at it**

When I new FastThreadLocal, I get a `index` assigned by InternalThreadLocalMap to indicate the location of the object stored in the InternalThreadLocalMap. If index is already more than 32, each InternalThreadLocalMap will assign a 32 location size Object[] when generation, then the Object[] will not be used. I hope to be able to generate index generation fr

[2018-05-31 09:58] flooey commented on #7988
Yep, that's probably just a bug in Conscrypt.  Can you tell me what you're doing to trigger that?

[2018-05-31 10:30] flooey commented on #7988
Nevermind, I see through the stack trace that this is due to calling `wrap()` on a closed SSLEngine.  That obviously shouldn't throw NPE.  I've uploaded a fix for review.

[2018-05-31 10:36] normanmaurer commented on #7988
@flooey would you mind adding a link to it here so we can keep track and upgrade once this is included in a release ?

[2018-05-31 10:39] normanmaurer commented on #7988
Thanks... left a comment there

[2018-05-31 15:13] Scottmitch commented on #7987
@normanmaurer - I wanted to see if there was any strong resistance to the "drop HTTP/1.0" idea after revisiting our `codec-http` in the context of reviewing the HTTP/1.x RFCs [1][2][3][4]. Here are some motivations points to drop HTTP/1.0 from my perspective:

- When we do development we are primarily targeting HTTP/1.x semantics [4]. There is a risk that we will break (or ignore) HTTP/1.0 semanti

[2018-05-31 15:21] Scottmitch commented on #7990
I agree there is inconsistency here, and it is not just with `convertToByte` but also with other `convertTo` methods that have a special case for `AsciiString`. The `AsciiString` special case was done for performance reasons, but I think it is more correct to consider the entire value during conversion. We can keep the performance optimization and enforce a max length check too if we want.

We sho

[2018-05-31 15:54] mkreider329 opened #7993 "Exception: unexpected message type: DefaultHttpRequest with Netty 4.1.25"
Netty version 4.1.25.Final

When running a longevity test with the Spring Cloud Gateway using https, the following exception is thrown after about an hour or so:
io.netty.handler.codec.EncoderException: java.lang.IllegalStateException: unexpected message type: DefaultHttpRequest
The full stack trace is below.

The error is consistently reproducible with this sample Spring Cloud Gateway project, al

[2018-05-31 17:49] hiteshkotian commented on #7983
@normanmaurer: I think I have a memory leak issue because the code I'm working on has a scheduled task running using quartz, which essentially does a bunch of cleanups.
I know I can create such sceduled tasks using netty right?

For that would you suggest using the event loop of the parent loop group?

So essentially here is the code snippet I have:
`public void startServer () {
   // .... other c

[2018-05-31 19:06] flooey commented on #7988
Okay, this should be fixed at head.  I expect to make our next release on Monday.

[2018-05-31 19:14] normanmaurer commented on #7988
Thanks... would be nice if you could just comment here once done

[2018-05-31 20:28] ejona86 commented on #7987
Are we talking about dropping sending of HTTP/1.0 or receiving of HTTP/1.0? I have no issue for dropping sending support for HTTP/1.0. It sounds like the proposal is dropping receiving support. I'm confused about the benefits we'd see by dropping receiving support.

The vast majority of HTTP/1.1 is additive, and so HTTP/1.0 clients and servers will ignore it. The cases that's not the case, the HTT

[2018-05-31 21:54] carl-mastrangelo commented on #7990
My own 2cents: Delete it, or return null.   I don't think there is a reasonable default behavior.  Also, there is hardly anyone using this method, except `getByteAndRemove`, which is itself seldomly used.  Poking around on github's search shows no users.

ValueConverter makes no claims about what subclasses _should_ do, so who can say what will happen?  Further, if I had an instance of type ValueC

[2018-05-31 22:06] henrik-lindqvist commented on #7990
To be consistent with convertByte is should parse the number, not use the first byte. See:
https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/CharSequenceValueConverter.java#L74

[2018-06-01 08:34] normanmaurer commented on #7990
@henrik-lindqvist PTAL https://github.com/netty/netty/pull/7994

[2018-06-01 09:34] normanmaurer commented on #7993
This looks like you missed to send a `LastHttpContent` before start a new request via `DefaultHttpRequest`. This an error done by the user of netty, which may be either spring or project-rejector here I guess ? /cc @smaldini

[2018-06-01 09:36] normanmaurer commented on #7992
@fingthinking sorry I think I not really get what you propose... Also I wonder if optimisations really matter here as its only done when a new FastThreadLocal is created imho.

[2018-06-01 09:45] tommwang commented on #7978
Tried v4, issue has not been resolved.
Just noted here.

[2018-06-01 09:45] #7978 closed

[2018-06-01 10:06] normanmaurer commented on #7978
@tommwang thanks

[2018-06-01 11:48] normanmaurer commented on #7983
@hiteshkotian generally speaking yes you can do this but you will need to be sure you not block in the Runnable as otherwise you will block an EventLoop

[2018-06-01 11:48] #7983 closed

[2018-06-01 12:19] mkreider329 commented on #7993
This error only happens about 1 in million requests. In other words, about a million calls to the microservice are successful before this error occurs. It has happened anywhere from the first few minutes to a couple of hours into the test run, but it fails eventually. My guess is that there is some kind of threading bug.

With Netty 4.1.24.Final, the test never lasts more than a few minutes before

[2018-06-01 12:27] mkreider329 commented on #7993
I didn't mean to close this.

[2018-06-01 12:27] normanmaurer commented on #7993
Again I think the bug must be in either project-reactor or spring.

[2018-06-01 12:43] mkreider329 commented on #7993
OK thanks, I'll focus there.

[2018-06-01 14:46] xuezhongde commented on #7992
when a new FastThreadLocal is created, it would be hold a indexedVariables (default, Object[] array = new Object[32];).
but now if the FastThreadLocal's index (index = InternalThreadLocalMap.nextVariableIndex()) was great than 32, we must expand the indexedVariable.
because the ahead position of the indexedVariable can not be used(@see InternalThreadLocalMap#setIndexedVariable).
his(@fingthinking

[2018-06-01 16:26] srdo opened #7995 "Possible to add option to throw AssertionError if buffer leak is detected?"
The page on reference counted objects (https://netty.io/wiki/reference-counted-objects.html) mentions that it is good practice to run tests at PARANOID leak detection level, and then fail the build if the test logs contain "LEAK:".

I was wondering if it could make sense to add another option for the leak detection level, that would cause ResourceLeakDetector to throw an AssertionError if a leak i

[2018-06-01 18:45] hiteshkotian commented on #7983
cool. Thanks for the info! this will be of great help for us.

[2018-06-01 19:15] #7990 closed

[2018-06-02 11:37] fingthinking commented on #7992
@normanmaurer thank you, I have realized the mistake of my idea. Thanks again.

[2018-06-02 11:37] #7992 closed

[2018-06-02 14:19] sekharsa82 opened #7997 "Receiving CloseWebSocketFrame for every 6 to 9 minutes"
Hi,
We are receiving CloseWebSocketFrame request from netty api for every 6 to 9 minutes. Here is the actual frame received.
CloseWebSocketFrame(data: PooledUnsafeDirectByteBuf(ridx: 0, widx: 2, cap: 2))

We are new to netty, could some one explain what it means and possible fix we need to apply in netty client.

Best Regards

[2018-06-02 15:26] jchambers opened #7998 "Deprecate passwords for private keys in SslContextBuilder?"
I've been pulling on some threads related to private keys and key passwords, especially as they relate to `SslContextBuilder`. I'm thinking—and am happy to be wrong about this—that once you have a [`PrivateKey`](https://docs.oracle.com/javase/8/docs/api/java/security/PrivateKey.html) instance, it is for sure decrypted, and you don't need a password for it. With that in mind, I'm a little confused

[2018-06-02 15:36] jchambers commented on #5430
Not the biggest priority, but I'd love to see `ChannelPipeline` turn into `ChannelPipeline extends Pipeline<ChannelHandler>`. I've definitely bumped into a few cases where a pipeline pattern would be perfect for the problem I'm facing. Activating/deactivating objects from an object pool certainly comes to mind.

[2018-06-02 15:38] jchambers commented on #5430
For that matter, generalizing [`ChannelPool`](http://netty.io/4.1/api/io/netty/channel/pool/ChannelPool.html) would be awesome: #4625

[2018-06-03 01:44] trustin commented on #5430
Replacing InternetProtocolFamily with StandardProtocolFamily (JDK)?

[2018-06-04 09:01] vivek-konnect opened #8000 "Threads blocked with IN_NATIVE state inside Netty"
### Expected behavior
All the threads managed by Netty need to co-run to complete all Network I/O initiated from multiple application threads that use Netty.

### Actual behavior
We noticed that the system is unable to move further (i.e, JVM Hang) to process new resource creation requests via HTTP RESTful API, as all such calls ended up not having threads to be used to complete the request.

Acros

[2018-06-04 09:48] amizurov commented on #7997
Hi @sekharsa82 , ``CloseWebSocketFrame`` meaning that server or client decide start close transport handshake, any endpoint that received a close frame must respond with the same frame and content. After that, the server closes the connection.

[2018-06-04 10:01] johnou commented on #8000
Would you check your Netty version again, Netty 3.10.6 would use the org.jboss.netty package, not io.netty.

[2018-06-04 16:28] yueki1993 commented on #7741
i am now busy, so i will make a PR soon

[2018-06-04 17:01] normanmaurer commented on #7995
@srdo I am not sure if this would actually work as it will be processed by the GC threads. That said you can easily test this by implementing your own `ResourceLeakDetectorFactory` which will provide a `ResourceLeakDetector` that will not log but do throw the error as you suggested.

Let me know how this works out.

[2018-06-04 17:06] normanmaurer commented on #8000
@vivek-konnect like @johnou already said the thread-dump shows Netty 4.x and not 3.x (also note that 3.x is EOL for a long time). That said have threads stuck in  `io.netty.channel.epoll.Native.epollWait0 ` is normal as it just tells you that there is no IO to handle at the moment and we wait for the Kernel / OS to wakeup and tell us we need to process some IO events. Why you think there is an iss

[2018-06-04 18:40] #7988 closed

[2018-06-04 20:50] rschmitt commented on #7897
@normanmaurer We can implement this at the application level, but the current behavior feels like a CVE waiting to happen. I think that it should at least be possible to opt in to strict limiting of stream concurrency (even if that isn't the default behavior) without having to implement it manually.

[2018-06-04 23:05] vsabella opened #8002 "Http2CodecUtil.java - emptyPingBuf() is no longer needed (as writePing takes a long)"
https://github.com/netty/netty/blob/b192bf12ad2af92bba0f32c9d3127b1192e54670/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2CodecUtil.java#L177

In https://github.com/netty/netty/commit/501662a77f8166382eefd18a8620983d27f59d4a - emptyPing data changed to long (instead of buffer data)

This should be updated.

[2018-06-05 03:32] vivek-konnect commented on #8000
We will reconfirm the Netty version.

We think there is definitely issue because we have more than 1/3rd of the threads in the production system are locked up in IN_NATIVE state (precisely 207 threads out of 750 threads)  and the production system freezes.  Two incidents of such a freeze both point to this same Jstrack Thread Trace.

Are there some other things we can continously monitor in produc

[2018-06-05 03:41] vivek-konnect commented on #8000
From within Karaf of OpenDaylight Controller, the version is showing up for us as 3.10.6.Final.
opendaylight-user@root>bundle:list | grep Netty
214 | Active   |  80 | 3.10.6.Final                       | Netty
opendaylight-user@root>

Is there a better way to confirm the version of the Netty.jar?
Shall we do:
unzip -p netty.jar META-INF/MANIFEST.MF

[2018-06-05 04:40] hc-codersatlas opened #8003 "Unaligned intrinsics in Java 9"
Java 9 introduced intrinsics for ByteBuffer.put* / ByteBuffer.get*, which is provided by jdk.internal.misc.Unsafe unaligned get/set functions. Can this be added to the current unsafe implementation to improve performance?

[2018-06-05 06:00] a173030685 opened #8004 "After the netty client disconnects from the network, how does the server immediately sense?"
My side, deliberately disconnected from the client, hoping to allow the server to immediately detect the client has been off the net, is there any way? How to achieve the code?
I don't want to judge by heartbeat, because this method is not real-time. For example, I set it to 50 seconds. He must wait 50 seconds to know. If someone just pushes the message within 50 seconds, the server will think it

[2018-06-05 06:55] vivek-konnect commented on #8000
We got the required information..

 Two versions of Netty are being run under our Karaf container but the one our software uses is 4.0.37.Final

Can you please advise further?

opendaylight-user@root>bundle:list | grep -i netty
165 | Active   |  80 | 4.0.37.Final                       | Netty/Buffer
166 | Active   |  80 | 4.0.37.Final                       | Netty/Common
167 | Active   |  80 | 4.0

[2018-06-05 08:04] mazijun104 commented on #7982
Thank you for your answer

[2018-06-05 09:21] echooy opened #8006 "how implement a secure shell v2.0?"
### *`base ssh2 protocol`*

[2018-06-05 15:31] oHao commented on #7845
emm。。 well， i will check it

[2018-06-05 15:44] rkapsi opened #8007 "Promises of shutdown EventExecutors may cause leaks"
I noticed this when our application was shutting down and it's not critical for us but it could be a problem if EventExecutors are being torn down on some ongoing basis.

Promises of EventExecutors that have been shutdown will "lie" that values/exceptions were set successfully and there is no way for the caller to know that it actually failed.

### Expected behavior

### Actual behavior

### Steps

[2018-06-05 17:08] amizurov commented on #8004
Hi @a173030685. In most of cases you need write your own `ping/pong`, `heartbeating` handler for detecting unresponsive clients, but  some times (exception: connecection reset by peer) you may immediate detect problem with channel. Also remember that `TCP` protocol keep alive your connection and have guarantee delivery. For example if write to channel message and after 60s (it's depend on OS) if t

[2018-06-05 17:49] normanmaurer commented on #8004
Exactly what @amizurov said...

[2018-06-05 17:49] #8004 closed

[2018-06-05 17:49] normanmaurer commented on #8006
This is not an issue / bug report but a question. Closing

[2018-06-05 17:49] #8006 closed

[2018-06-05 17:50] normanmaurer commented on #8003
@hc-codersatlas unfortunately not at the moment. Once we change the JDK version we use for compiling we may be able to do this.

[2018-06-05 17:51] normanmaurer commented on #8002
@vsabella I guess we should just remove it completely.

@carl-mastrangelo @ejona86 @Scottmitch thoughts ?

[2018-06-06 15:33] normanmaurer commented on #8002
Also @mosesn @bryce-anderson WDYT ?

[2018-06-06 15:39] bryce-anderson commented on #8002
Looks like dead code to me and `Http2CodecUtil` is still tagged `@UnstableApi` so removing it seems like the right move.

[2018-06-06 20:43] srdo opened #8008 "Order between channelActive invocation on server, and channel being active on client?"
Hi,

We have a test on Netty 3.x that starts up a server and client, and verify that they can talk to each other. The server keeps a list of all connected channels in a ChannelGroup, and adds new channels as channelConnected is called.

The test waits for the client channel to be open, and also waits for all channels in the server's ChannelGroup to be connected.

We're migrating to Netty 4, and th

[2018-06-06 21:18] normanmaurer commented on #8008
@srdo can you show some code ?

[2018-06-06 21:20] normanmaurer commented on #8002
@bryce-anderson sounds good... Will try to find time to write a patch or if you want you could also if you have time 👍

[2018-06-06 21:28] bryce-anderson commented on #8002
I can take it. Unless it is actually in use it should be trivial to remove.

[2018-06-06 21:46] srdo commented on #8008
Yes. The flaky test is here https://github.com/srdo/storm/blob/3a52302cfc985263c60548c8f4b284a99d0ebb56/storm-core/test/jvm/org/apache/storm/messaging/netty/NettyTest.java#L178.

The waitUntilReady method is waiting for the single channel in the client to be active https://github.com/srdo/storm/blob/3a52302cfc985263c60548c8f4b284a99d0ebb56/storm-client/src/jvm/org/apache/storm/messaging/netty/Clie

[2018-06-06 22:15] normanmaurer commented on #8002
Thanks that would be awesome

[2018-06-07 08:20] NickNYU commented on #6798
Hi @ShawnZK, may I ask if you have already send a PR?
Because currently I'm trying to leverage this handler's feature to smooth my traffic, however, a health checker will try to connect my binding port every (maybe) 10ms.

Seeing your comment, I was worrying about the same phase

## Netty Version
4.0.36.Final

## Java Version
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_12

[2018-06-07 18:57] rkapsi commented on #7987
Just a heads up, @giancu and I can confirm that some exotic HW may use HTTP/1.0 but that is easy to change. But digging through some our access logs I do see 1.0 clients from services such as New Relic, Pingdom et. al.

[2018-06-07 22:53] #8002 closed

[2018-06-07 22:53] normanmaurer commented on #8002
Thanks @bryce-anderson

[2018-06-07 22:54] normanmaurer commented on #8008
@srdo I will try to find some time and check it soon. Sorry quite busy atm

[2018-06-07 22:56] normanmaurer commented on #8000
@vivek-konnect again I think there is nothing wrong with have threads sitting in this state... Its expected if there is no IO ready to be handled atm. The number of threads really depends on how many `*EventLoopGroup`s you have but that's up to you.

[2018-06-07 22:58] normanmaurer commented on #7997
@amizurov it may just happen because the remote peer thinks the connection did idle for too long and so want to close it. Thats when it will send the `CloseWebSocketFrame`. You may be able to prevent this by sending `PingWebSocketFrame`s in a regular basis.

[2018-06-07 22:58] #7997 closed

[2018-06-07 22:59] normanmaurer commented on #7993
@smaldini This may be some issue in Project reactor... So pinging you here.

[2018-06-07 22:59] #7993 closed

[2018-06-07 23:01] #7947 closed

[2018-06-08 05:55] srdo commented on #8008
Thank you.

[2018-06-08 06:13] SantoshNesaragi opened #8010 "Failed to submit a listener notification task. Event loop shut down? while Shutting down Etcd4j Netty client"
Defined two camel routes to perform ETCD CRUD operation while shutting down Etcd4j Netty client i am getting

 ERROR   --- [entExecutor-1-1] i.n.u.c.D.rejectedExecution              : Failed to submit a listener notification task. Event loop shut down?

java.util.concurrent.RejectedExecutionException: event executor terminated
	at io.netty.util.concurrent.SingleThreadEventExecutor.reject(SingleThr

[2018-06-08 07:02] hc-codersatlas opened #8011 "Websocket over HTTP2"
Hi, as per https://www.chromestatus.com/feature/6251293127475200 (think Firefox is looking into this too) is an enhancements to have Websockets served over HTTP2. Can this feature please be implemented?

https://tools.ietf.org/id/draft-mcmanus-httpbis-h2-websockets-00.html

Extracting the justification:

A server offering both HTTP/1.1 and WebSocket services can do so from the same instance and sa

[2018-06-08 10:38] BigGitWorld opened #8012 "How can I receive .pem file sent by a client written by C language?"
I have a client that is written by C language and send certificate file as a .pem file to netty server.
How can I receive that and convert to .jks in the server?
I received this error in the exceptionCaught method:

Closing Netty channel,
cause=javax.net.ssl.SSLException: Received fatal alert: unknown_ca, errorMessage=javax.net.ssl.SSLException: Received fatal alert: unknown_ca

thank you...

[2018-06-08 11:09] jianyuanzh opened #8013 "netty dns resolving performance sometimes decreased greatly"
### Expected behavior
We have used netty dns resolver as our product's dns resolver. And from the metrics monitored by our monitoring tool, we have about 130+ resolving per seconds:
![image](https://user-images.githubusercontent.com/12515529/41154799-e653c120-6b4d-11e8-8851-92d0626757b7.png)
And normally the resolving performance is great, and it is about 50ms per resolving.
![image](https://user-

[2018-06-08 16:10] normanmaurer commented on #8013
Can you provide some more details... Like can you share a heap dump and thread-dump on when this happens before you bounce the service ?

[2018-06-08 16:12] normanmaurer commented on #8010
From the stack trace it looks like you shutdown the `EventLoopGroup` that is used by the `resolver` before the resolver itself. You will need to flip the ordering here.

[2018-06-08 16:12] #8010 closed

[2018-06-08 18:06] normanmaurer commented on #8008
@srdo I think what you are seeing comes from the fact that we always complete the promise before we call the corresponding event callback. Which means for example that the future returned by `connect` will be notified before `channelActive` is called.

Does this make sense ?

[2018-06-08 18:11] srdo commented on #8008
@normanmaurer Yes, that makes sense. Thanks. We can work around it in the test by sending a message to the server and waiting for it to respond before running the rest of the test, since at that point the server is guaranteed to have run channelActive.

I don't know if there's a reason to make a change to Netty? The only case I can think of where the order of these events matters is when someone s

[2018-06-08 18:22] normanmaurer commented on #8008
@srdo ok cool.... Let me close this one then.

[2018-06-08 18:22] #8008 closed

[2018-06-09 09:48] jianyuanzh commented on #8013
@normanmaurer  will do this next time this happens again.

[2018-06-11 15:34] johnou commented on #8013
Are you also monitoring the JVM heap? Sounds like you might be seeing delays during full GC collection.

[2018-06-11 18:23] klk- commented on #6341
The merged fixes allow you to get the bytes used by a ByteBufAllocator.  This is fine if you have created your own allocator and have a reference to it.  But if you also have 3rd party libraries using Netty direct memory, you cannot use these metrics to track that usage.

So it seems like exposing the global direct memory counter from PlatformDependent would still be useful.

[2018-06-12 06:24] re-thc opened #8016 "Techempower benchmark issues"
Hi, does anyone maintain the [Techempower benchmark](https://www.techempower.com/benchmarks/#section=data-r16&hw=ph&test=plaintext) code from Netty? I noticed a huge difference (relatively) from the current round (and last).

Looking at the [Github repo ](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Java/netty) it seems that some of the startup options, e.g. io.netty.t

[2018-06-12 07:19] doom369 commented on #8016
@hc-codersatlas I did few improvements about 9 months ago. I don't see any updates since then. The only netty version is updated.

[2018-06-12 15:30] porunov commented on #6956
I am getting this exception with Elasticsearch java Transport client v. 6.2.4 if I don't set the system property:
`es.set.netty.runtime.available.processors=false`.

[2018-06-12 21:24] jasontedor opened #8017 "Object cleaner implementation detail leaks"
This is a follow on to the discussion in #8014. The problem here is that the object cleaner thread is considered an internal implementation detail yet its details can leak.

In Elasticearch, we have a thread leak control that detects threads created by a test suite but are not stopped at the end of the test suite. This is part of broader detection in our test framework for leaked resources of any

[2018-06-12 22:32] bryce-anderson opened #8018 "Http2MultiplexCodec.DefaultHttp2StreamChannel.Http2ChannelUnsafe has a different order of close events than other channel implementation"
The `HttpObjectAggregator`, when it encounters a too-large-message, [does the following](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectAggregator.java#L281) when handling a too large response:
[code]
The tail of the pipeline gets an `exceptionCaught` event before receiving a `channelInactive` event because channel deregistration is always do

[2018-06-12 22:33] bryce-anderson commented on #8018
Presuming I haven't messed this up, I'd love to get this fixed before 4.1.26 since it would make it really difficult to use symmetric pipelines for our HTTP/2 and HTTP/1.x clients.

[2018-06-12 22:33] normanmaurer commented on #8018
This sounds like a bug... interested in working on a PR?

[2018-06-12 22:36] bryce-anderson commented on #8018
Absolutely, just wanted confirmation that I wasn't just using it wrong. 😄

[2018-06-12 22:38] bryce-anderson commented on #8018
Just to be clear, I think the deferred close operations is what we want, correct? I could see it going the other way: technically the `ctx.close` was called first, but the operation is asynchronous so it seem like legal behavior to defer the events.

[2018-06-12 22:40] normanmaurer commented on #8018
Yes just as for normal channels

[2018-06-12 23:22] normanmaurer commented on #8017
@mosesn @bryce-anderson @ejona86 @carl-mastrangelo @trustin I would be interested in your take related to this one...

[2018-06-12 23:33] carl-mastrangelo commented on #8017
Some ideas: maybe the ThreadFactory for the cleaner can be provided by the user?

[2018-06-12 23:51] ejona86 commented on #8017
Has this become an issue now because Recycler was converted to use ObjectCleaner to remove the finalizer? It doesn't sound like this is a case of FastThreadLocal needing

Unfortunately there is no limit to the amount of time the thread may remain alive, because it requires a GC to be able to exit.

Brainstorm:
* Use Java's Cleaner when it is available. This avoids the thread creation. Unfortunatel

[2018-06-13 00:40] normanmaurer commented on #8012
Please use stack overflow for questions, this is an issue tracker. Also in stack overflow you should give some more details about what exactly you try to archive and how your pipeline looks like etc.

[2018-06-13 00:40] #8012 closed

[2018-06-13 00:42] normanmaurer commented on #7995
@srdo ping

[2018-06-13 02:15] jasontedor commented on #8017
It is not the recycler, we disable that in our default configuration and if we disable it in our tests it still fails thread leak control. Instead I think that it is from the fast thread locals.

[2018-06-13 15:01] srdo commented on #7995
@normanmaurer Sorry, haven't had time yet to work on this. As far as I can tell, the log lines are coming from the event loop threads (thrown when a reference counted object is allocated), so the difficulty would be in getting the exception from there to the thread running a given unit test.

I'll hopefully get some time soon to look at this.

[2018-06-13 18:17] normanmaurer commented on #8018
@bryce-anderson I think at some point it did extend it but I changed it (my memory may be wrong here) because something was not needed and did not even work then extending the `AbstractChannel`. If I am not wrong this was related to the `ChannelOutboundBuffer`.

[2018-06-13 18:19] normanmaurer commented on #8011
@hc-codersatlas we love contributions that said its a draft 00 so maybe a bit early for it.

[2018-06-13 18:56] lmagyar89 opened #8020 "Potential Thread-safe issue on io.netty.channel.AbstractChannel"
At first glance, within class `io.netty.channel.AbstractChannel` field `closeInitiated` should be volatile.

[2018-06-13 18:58] normanmaurer commented on #8020
@lmagyar89 I don't think so as it is only accessed from `close` which will only be called from within the `EventLoop` thread.

[2018-06-13 18:58] #8020 closed

[2018-06-13 19:01] normanmaurer commented on #8000
Let me close this as I think its not an actual issue (if its an issue then its one because you or the library you are using is creating to many `EventLoop`s). Please re-open if you still think there is an issue and provide more info why you think so.

[2018-06-13 19:01] #8000 closed

[2018-06-13 23:01] borconi commented on #5975
@jrudolph  - I know it's not nice to comment on an ancient closed topic especially when it's off-topic, but I will like to say a BIG TANK YOU. Your findings and description solved my 2 days no-sleep pain with SSLEngine, where the unconsumed data was copied back in the src, leaving my implementation hanging and waiting for more data. You are a life saver, so again a big THANKS!

[2018-06-14 04:49] hc-codersatlas opened #8023 "Math.random usage in Websocket code"
Hi, minor issue, but consistency / performance reasons WebSocketUtil and related handshakers make use of Math.random instead of ThreadLocalRandom. Math.random is pretty slow...

[2018-06-14 06:21] normanmaurer commented on #8023
@hc-codersatlas PRs welcome...

[2018-06-14 07:14] hc-codersatlas commented on #8023
Sure, but have a question about that part of the code in WebSocketUtil (and a few other files):

`    static int randomNumber(int minimum, int maximum) {
        return (int) (Math.random() * maximum + minimum);
}`

Is this correct? Assuming Math.random() produces 0.9999 (for convenience let's say 1.0) - the result exceeds the maximum value, i.e. 1.0 * maximum + minimum > maximum.

[2018-06-14 16:45] hc-codersatlas commented on #8017
FastThreadLocal does use Cleaner. Not sure if I understand it all correctly, but isn't there a cyclic dependency between FastThreadLocal / InternalThreadLocalMap and Cleaner? Meaning the Cleaner task / thread for FastThreadLocal / InternalThreadLocalMap will never actually complete.

[2018-06-15 01:35] shorea opened #8025 "HTTP/2 - Race Condition with RST_STREAM"
### Expected behavior
When a RST_STREAM is sent to the remote, any future incoming DATA frames should be ignored.

### Actual behavior
Sometimes an error is thrown instead. (See https://github.com/grpc/grpc-java/issues/3548)

### Steps to reproduce
Send a RST_STREAM frame to a remote endpoint.

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.23.Final

### JVM versi

[2018-06-15 06:03] #8018 closed

[2018-06-15 06:04] normanmaurer commented on #8018
@bryce-anderson thanks for the PR and yes I agree we should see if we can make `AbstractChannel` useable for it in the next major release.

[2018-06-15 09:18] normanmaurer commented on #8025
@carl-mastrangelo @bryce-anderson @mosesn @ejona86 @Scottmitch thoughts ?

[2018-06-15 09:34] jianyuanzh commented on #8013
@johnou , yes, we also monitors JVM heap. All memory usage, GC metrics were all OK around that time:
![image](https://user-images.githubusercontent.com/12515529/41461333-0277533e-70c2-11e8-807e-aeee2e982c49.png)
![image](https://user-images.githubusercontent.com/12515529/41461362-16b0f9d6-70c2-11e8-8142-23a467c6aaf1.png)
![image](https://user-images.githubusercontent.com/12515529/41461401-2e78ffc8

[2018-06-15 15:45] ejona86 commented on #8025
Ignoring the frames may be most appropriate. I think this broke several years ago when old streams became no longer retained.

[2018-06-15 15:47] bryce-anderson commented on #8025
I've seen the log entries described in https://github.com/grpc/grpc-java/issues/3548 as well. The race condition is intrinsic to the protocol: there is no way for a peer to send a RST and ensure that there are not DATA (or other frames) already in flight. The docs at the origin of the exception [here](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/De

[2018-06-15 17:20] mosesn commented on #8025
@bryce-anderson this isn't necessarily a bad remote peer–they might not have received the RST before sending the DATA frame, so I think we should just ignore them.  telling the difference between a bad-actor remote peer and an honest-mistake remote peer seems too hard.

[2018-06-15 18:14] bryce-anderson commented on #8025
@mosesn, it's not even necessarily an 'honest mistake', there is no way to prevent the race.

Ignoring the messages is fine outside of the case where the peer tries to initiate an out-of-order stream. In that case ignoring the frame may cause the peer to hang unless they decide to reset the illegal stream themselves. From the perspective of _this_ session, it's probably still fine to ignore this c

[2018-06-15 19:07] shorea commented on #8025
Thanks for the input guys! I'm working on a testing a potential fix and will open a PR soon.

[2018-06-15 22:55] shorea commented on #8025
@normanmaurer, assuming I get a PR accepted for this issue would it be possible to do a release of Netty early next week to get it incorporated? We are trying to get this issue fixed for a new product launch.

[2018-06-16 03:34] xttam opened #8027 "HTTP 1.1 Pipelining Support"
I need to send multiple async requests to a rest server through the same connection and get them executed in FIFO order, I think HTTP 1.1 pipelining is just perfect for this.

Do Netty or any HTTP wrapper client around Netty support this? There are some related comments on this on other issues but I couldn't find any example or test case.

[2018-06-16 09:10] normanmaurer commented on #8025
@shorea yep... sounds good. We wanted to do a Netty release anyway :)

[2018-06-16 19:03] normanmaurer commented on #8027
Sure netty let you do this... Its just matter of sending multiple requests and not wait for the response before send the next one.

[2018-06-16 19:03] #8027 closed

[2018-06-17 05:13] danielflower commented on #7814
I'm also not calling `HttpData.release()` so for now I'm using this workaround:

    multipartRequestDecoder.getBodyHttpDatas().clear();
    multipartRequestDecoder.destroy();

Maybe this is related to the unusual way I'm creating the decoder, which is to construct it from a stream (because of reasons).

    multipartRequestDecoder = new HttpPostMultipartRequestDecoder(request);
    byte[] buffer

[2018-06-17 07:03] khuranakaran opened #8030 "E/Multipart ERROR: error => com.android.volley.NoConnectionError: java.net.SocketException: Connection reset"
Trying to upload a .mp3 as large as 100mb. While trying to upload a file <10mb everything works fine. But when trying to upload a big file volley throws this error E/Multipart ERROR: error => com.android.volley.NoConnectionError: java.net.SocketException: Connection reset.

[2018-06-17 14:36] srdo commented on #7995
@normanmaurer I had a chance to try this out, by throwing an AssertionError from https://github.com/netty/netty/blob/a8549b138d2dcf64539fe4707c18fb1a3003e06f/common/src/main/java/io/netty/util/ResourceLeakDetector.java#L310 and https://github.com/netty/netty/blob/a8549b138d2dcf64539fe4707c18fb1a3003e06f/common/src/main/java/io/netty/util/ResourceLeakDetector.java#L321

I modified one of our Channe

[2018-06-17 16:21] kingluo commented on #7374
Do not work! I cannot see the images too. @normanmaurer could you replace them with other stable url? Is it github issue?

[2018-06-17 23:00] xttam commented on #8027
I know it's a matter of sending multiple requests and then reading each response as they come, but what about the channel implementation? I'm trying to avoid implementing everything myself and I'm not very familiar with Netty, but it seems it doesn't come with a fully fledged http client, does it?

I've tried doing this on some wrappers like [AsyncHttpClient](https://github.com/AsyncHttpClient/asy

[2018-06-18 06:39] xttam opened #8032 "Reusing DefaultFullHttpRequest"
I'm doing the following, which basically creates one POST request, sets its body, `writesAndFlush` a `retainedDuplicate` of it, changes its body and `writesAndFlush` another `retainedDuplicate` of it.

I haven't run this example in particular but I've seen in other cases all requests gets executed with the correct content length in each case, but with the same body except for the last bytes. It lo

[2018-06-18 10:00] normanmaurer commented on #8032
@xttam This is expected as you call `writeBytes()` while the first may not be completely written. Both `ByteBuf` which are the content share the same storage. If you want to replace the content you should use `request.copy(...)`.

[2018-06-18 11:44] #8032 closed

[2018-06-18 11:45] normanmaurer commented on #8030
connection reset just means that the remote peer did close the connection. There is nothing we can do here. Maybe its done by a load-balancer in between or by the peer itself.

[2018-06-18 11:45] #8030 closed

[2018-06-18 11:46] normanmaurer commented on #8023
looks like a bug to me... PR with fix and test welcome :)

[2018-06-18 14:22] normanmaurer commented on #7346
@mosesn <3 thanks for closing the loop.

[2018-06-18 14:24] mosesn commented on #7346
Ah, to clarify, the issue around draining was what made it so we couldn't upgrade–I haven't had a chance to check if NPN clients work with current netty yet.

[2018-06-18 15:19] mosesn commented on #8027
@xttam the core API is something like

[code]

If you want to talk to a remote peer that supports pipelining, you then send a new request immediately after.

[code]

The difficulty with pipelining then becomes matching sent requests with received responses.

As you've mentioned, netty doesn't come with a fully fledged http client.  Netty is intended to be a layer that more batteries-included libra

[2018-06-18 17:22] xttam commented on #8032
Got it, thought `duplicate` would actually `copy` it. Thanks.

[2018-06-19 19:37] Scottmitch commented on #7987
I would like to consider both as part of the discussion. Since we support client/server it gets interesting for proxy type use cases if we only support one direction.

I was referring to the following "MUST NOT" [1]. Netty's `DefaultHttpHeaders` (and `DefaultHttp2Headers`) does not enforce this rule. For HTTP/1.x we have [CombinedHttpHeaders](https://github.com/netty/netty/blob/4.1/codec-http/src/

[2018-06-20 01:51] ejona86 commented on #7987
This answer from 2016 was interesting: https://stackoverflow.com/a/40076230/4690866.
It made me take a look at my own personal logs for robots.txt. I found more HTTP/1.0 clients: Python's urllib (pre-3.1?). Some robots, including archive.org (three I've not heard of before, some others have empty or fake UA...)

There is the "unless" in that part quoted. That is really important. In no way does th

[2018-06-20 20:42] Scottmitch commented on #7987
So here is the part in question...

   header field is defined as a comma-separated list

IIUC you're interpretation of the statement is:
- it is fine to write `name: foo\r\nname:bar` on the wire as long as the values are logically understood to be equivalent to a CSV list `foo, bar`

An alternative interpretation is:
- `name: foo\r\nname:bar` is not valid and should instead be represented as `nam

[2018-06-20 22:39] bryce-anderson opened #8041 "Http2MultiplexCodec in client mode can trigger a GOAWAY if it creates a stream after getting a GOAWAY"
### Expected behavior

When a client attempts to utilize a new stream channel using Http2MultiplexCodec _after_ receiving a GOAWAY, the client will gracefully fail the stream channel with an exception that signifies the stream wasn't processed, perhaps such a RST_STREAM(REFUSED_STREAM).

### Actual behavior

When a client attempts to create a new stream channel using Http2MultiplexCodec _after_ re

[2018-06-20 23:05] bryce-anderson commented on #8041
A simple solution might be to add something like
[code]
[here](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2MultiplexCodec.java#L1102) in the write method of the `Http2MultiplexCodec.DefaultHttp2StreamChannel.Http2ChannelUnsafe`.

[2018-06-20 23:28] bryce-anderson commented on #8041
And I'm happy to work on this once we have a consensus on direction.

[2018-06-21 09:00] Bhashinee opened #8042 "Error - DefaultChannelPromise@239e883d(failure: java.lang.UnsupportedOperationException: unsupported message type: DefaultLastHttpContent (expected: ByteBuf, FileRegion))"
### Expected behavior
I am in the process of creating a proxy server using netty.
In the proxy server, once a request comes from a client,
1.) It decodes the request
2.) Extract the back-end url which client wants to connect
3.) Then create a channel to the back-end url
4.) Write and flush the HTTP request
5.) Write and flush Last http content.

### Actual behavior
When I try to do writeAndFlush(m

[2018-06-21 13:35] Scottmitch commented on #8041
Can you clarify exactly what is being sent to the server? If the connection is being hard-shutdown that sounds like a problem, but sending a GO_AWAY and initiating local graceful close isn't necessarily a problem IIUC (this just prevents the server from pushing any streams). The rational accompanied with the GO_AWAY is a bit awkward from the perspective of the server and is somewhat leaking client

[2018-06-21 16:02] bryce-anderson commented on #8041
This is causing an issue as the client sends a GOAWAY and closes the connection on flush. The exception is generated in the [`DefaultHttp2ConnectionEncoder`](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionEncoder.java#L166) which passes it to the lifecycle manager [here](https://github.com/netty/netty/blob/4.1/codec-http2/src/ma

[2018-06-21 17:13] bryce-anderson opened #8043 "Invalid HTTP2 pseudo-headers kill the session instead of being treated as malformed"
### Expected behavior

When a peer receives invalid pseudo headers the request or response should be treated as malformed as prescribed in section [8.1.2.1](https://http2.github.io/http2-spec/#rfc.section.8.1.2.1). This entails a stream level PROTOCOL_ERROR as described in section [8.1.2.6](https://http2.github.io/http2-spec/#rfc.section.8.1.2.6)

### Actual behavior

The [HpackDecoder](https://gi

[2018-06-21 20:10] bryce-anderson commented on #8043
This is causing minor issues for us migrating to version of Netty that included the commit associated with PR https://github.com/netty/netty/pull/7500. Those problems include killing connections in production (relatively infrequent, but happens enough to be noticed) and some failing tests. We can work around it by validating headers before they are sent to the peer or disabling validation but idea

[2018-06-21 20:11] normanmaurer commented on #8043
@Scottmitch @ejona86 any comments ?

[2018-06-21 20:29] ejona86 commented on #8017
I just got bit by something similar. In our internal tests we prevent certain types of tests from making threads to make them more reliable and make sure they run quickly. But using `EmbeddedChannel` creates a `Thread` because the `DefaultChannelPipeline` uses a `FastThreadLocal` for generating a name. This specific problem _could_ be handled by deferring an `ObjectCleaner.register()` until the `F

[2018-06-21 21:16] mosesn commented on #8043
@bryce-anderson just to double check, the spec says we should send an RST?  I agree that seems reasonable.

[2018-06-21 21:23] bryce-anderson commented on #8043
@mosesn, that's my interpretation of http2 spec section [8.1.2.6](https://http2.github.io/http2-spec/#rfc.section.8.1.2.6):

I think you noted in your review of the patch that introduced validation that tearing down the connection is pretty heavy handed. 😄

[2018-06-22 07:22] mikomarrache opened #8044 "Ability to retrieve SO_ORIGINAL_DST when using Netty with iptables REDIRECT"
Hi,

I'm building a transparent TCP proxy with Netty and I'm looking for a way to retrieve the original destination IP + port after they have been overwritten with iptables.

There is a socket option SO_ORIGINAL_DST but I can't find a way to access it using the Netty API.

Any idea?

Thanks,
Mickael

[2018-06-22 07:28] mikomarrache commented on #8044
Thanks for your fast answer.

In the meantime, would it be possible to use JNI in order to retrieve this option?

Is the file descriptor accessible somehow?

[2018-06-22 11:32] normanmaurer commented on #8044
@mikomarrache you can access it via `fd()` method when using the native epoll transport.

[2018-06-22 12:51] brade1314 opened #8045 "HttpPostRequestDecoder: LEAK: ByteBuf.release() was not called before it's garbage-collected"
### Expected behavior
Get form request attribute  and ByteBuf would be released.
### Actual behavior
Throw a exception for LEAK: ByteBuf.release();
when user ReferenceCountUtil.release(req),and nother exception :
 io.netty.util.IllegalReferenceCountException: refCnt: 0, increment: 1

### Steps to reproduce
The post content type is form-data.
Start HTTP/2 server and send it  with advanced leak dete

[2018-06-22 14:46] ejona86 commented on #8043
Stream-level PROTOCOL_ERROR seems good.

[2018-06-22 14:53] normanmaurer commented on #8043
+1

[2018-06-22 15:01] bryce-anderson commented on #8043
I'm happy to work on this and I think we have two options.

1. We can leave validation in the HPACK decoder but move it to the end of the decode phase: we need to completely decode the headers to keep the HPACK state consistent.
2. We can move it clear out of the HPACK decoder (it's not really a HPACK concern) and change the API to specify if the headers belong to a request, response, or trailers.

[2018-06-22 15:23] normanmaurer commented on #8043
1) sounds good to me... @ejona86 @carl-mastrangelo @Scottmitch agree ?

[2018-06-22 17:47] bryce-anderson commented on #8041
@Scottmitch, do you have any more suggestions/opinions? I'd like to get this into 4.1.26 if at all possible, which I believe is knocking at the door. That said, I think it's more desirable to be correct than released earlier. 😄

[2018-06-22 18:03] carl-mastrangelo commented on #8043
SGTM as well.

[2018-06-22 18:56] vkostyukov commented on #8017
If (explicitly) shutting down a cleaner thread is a reasonable short-term solution to mitigate this, maybe just storing a static reference to a "currently running thread" from within `ObjectCleaner` is enough?

I totally agree, though, that it's a long-term solution should probably allow users to opt-out from running cleaners threads in their tests/apps.

[2018-06-22 19:11] Scottmitch commented on #8043
(1) sgtm.

[2018-06-22 19:29] normanmaurer commented on #8017
Sorry I was busy with some other things at work so I had no time to think about this yet.... I will think a bit about this over the next days and then hopefully find a good solution next week (crossing fingers). That said I am not sure yet how to handle this atm as without the cleaner we may leak direct memory.

[2018-06-23 07:01] zhaojigang opened #8049 "why: final SelectionKey selectionKey = this.selectionKey;"
It's a not an issue. Instead, I'm asking for help.

![image](https://user-images.githubusercontent.com/14085645/41806690-8d3743f6-76f5-11e8-9389-8b4062c50bd0.png)

I cant understand why adding this row：final SelectionKey selectionKey = this.selectionKey;
because i think when i change the inner selectionKey， and the outer selectionKey will change together.

Hope you could give a hand. Really apprec

[2018-06-23 12:22] kachayev commented on #7101
@normanmaurer as it happens quite often... (I've caught this yesterday myself trying to submit a PR) I would suggest you mention this issue (or workaround for it) here: https://github.com/netty/netty/wiki/Developer-guide - this would definitely safe hole lot of hours for submitters

[2018-06-25 09:33] normanmaurer commented on #8049
@zhaojigang its because selectionKey is volatile and so may change in between + its "expensive" to access it.

[2018-06-25 09:33] #8049 closed

[2018-06-25 12:43] normanmaurer commented on #8023
Fixed by https://github.com/netty/netty/pull/8048

[2018-06-25 12:43] #8023 closed

[2018-06-25 13:01] jianyuanzh commented on #8013
@normanmaurer , We observed this issue again today. And this time we get more details.

Some DNS resolve task failed with the exception "query ID space exhausted". From netty code, we know this happens when there is too much DNS concurrency.  The workaround for fixing this is either "renew a netty dns resolver" or clear the related cache in memory.

Here is the statistic for `DnsQueryContextManage

[2018-06-25 15:29] jianyuanzh commented on #8013
I did not dump the heap this time. But I can still see the cache size keep increasing slowly.  I will try to take a dump tomorrow.

[2018-06-25 16:43] jianyuanzh commented on #8013
@normanmaurer , The root cause should be the DNS server did not respond to the query at all.

I compared the increasing items with the network packages and verified that the un-released items had no related response.

See given example, the 2987 item is added in the cache around 09:13 and cannot be released. From the related 3 minutes tcpdump data, I can see the 2987 query request but no related r

[2018-06-25 18:41] kingluo opened #8055 "Does findContextOutbound need synchronized?"
The `findContextOutbound()` would access the context linked list, while the list may be modified, e.g. `addLast()`, so does it need synchronized?

[2018-06-25 18:44] normanmaurer commented on #8055
@kingluo nope as the nodes are volatile.

[2018-06-25 18:44] #8055 closed

[2018-06-25 18:57] normanmaurer commented on #8013
@jianyuanzh hmm... the query should have been timeout after 5 seconds by default. Can you show me how you configure your `DnsNameResolver` ?

[2018-06-25 21:32] bryce-anderson commented on #8041
I went ahead and opened PR https://github.com/netty/netty/pull/8057 with what feels like the right thing to do based on our usage of the old Http2 API, namely that we had to handle ensuring a GOAWAY hadn't been issued already ourselves. I put it up eagerly so that it has a chance of getting into Netty 4.1.26 if it's the right thing to do, but I'm happy to throw that away if we can come to a decisi

[2018-06-26 02:19] jianyuanzh commented on #8013
@normanmaurer , yes, there is the timeout , but the timeout handler will not try remove the context if the promise is canceled. And the promise in memory is under canceled status.

[code]

[2018-06-26 05:47] normanmaurer commented on #8013
@jianyuanzh ah this makes sense then... Can you check https://github.com/netty/netty/pull/8058 ?

[2018-06-26 11:53] #8043 closed

[2018-06-26 11:53] normanmaurer commented on #8043
@bryce-anderson thanks for the fix

[2018-06-27 04:12] hc-codersatlas commented on #8016
@doom369 was the JDK version updated between the 2 benchmarks? In Java 9 onwards reflection and unsafe might need some --add-opens for it to perform well. Might be other options worth investigating.

[2018-06-27 07:04] doom369 commented on #8016
@hc-codersatlas yes, they also updated JDK from Java 8 to Java 10.

[2018-06-27 07:29] jast90 opened #8060 "Is there BinaryWebSocketFrame to/from MqttMessage codec?"
### Expected behavior
I want using netty implement MQTT over WebSocket?
ChannelInitializer as follow:
[code]
But i find I need BinaryWebSocketFrame to/from MqttMessage codec.
### Netty version
4.1.22
### JVM version (e.g. `java -version`)
java version "1.8.0_05"
Java(TM) SE Runtime Environment (build 1.8.0_05-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.5-b02, mixed mode)
### OS version (e.g.

[2018-06-27 07:39] normanmaurer commented on #8060
@jast90 there is not... you will need to implement it yourself.

[2018-06-27 07:39] #8060 closed

[2018-06-27 07:49] CpuChencl opened #8061 "netty sever exception"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-06-27 07:49] CpuChencl commented on #8061
java.io.IOException: Connection timed out
        at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
        at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
        at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
        at sun.nio.ch.IOUtil.read(IOUtil.java:192)
        at sun.nio.ch.SocketChannelImpl.read(SocketChannelImpl.java:380)
        at io.netty.buffer.PooledUn

[2018-06-27 08:08] normanmaurer commented on #8061
Sorry but you will need to provide more infos.

[2018-06-27 08:21] #8013 closed

[2018-06-27 08:21] normanmaurer commented on #8013
Fix was merged into 4.1

[2018-06-27 08:21] CpuChencl commented on #8061
I create a netty server application,and another netty client application.At begining,the client could communication with the server,after a while,an exception occurred in the server,and client can't accept message from server.But server is not disconect.

[2018-06-27 08:40] WilliamShoww opened #8063 "which is branch have 5.0.0.Alpha2 resource code?"
I want to read this resource code. Code demo use 5.0.0.Alpha2 version,but I don't know how pull this version code.

[2018-06-27 08:42] normanmaurer commented on #8063
You should not use it... Use 4.1.x as 5.0.0* was deprecated and is dead for now.

If you really want to checkout the tag you can use `git checkout netty-5.0.0.Alpha2`.

[2018-06-27 08:42] #8063 closed

[2018-06-27 09:52] shengqr opened #8065 "get exception DefaultChannelPromise@72f53755(incomplete) when using netty client to visit web side with WSS protocol"
### Expected behavior
WSS protocol handshake success
### Actual behavior
io.netty.util.concurrent.BlockingOperationException: DefaultChannelPromise@72f53755(incomplete)
	at io.netty.util.concurrent.DefaultPromise.checkDeadLock(DefaultPromise.java:391)
	at io.netty.channel.DefaultChannelPromise.checkDeadLock(DefaultChannelPromise.java:157)
	at io.netty.util.concurrent.DefaultPromise.await(DefaultPr

[2018-06-27 09:55] normanmaurer commented on #8065
That's expected you call `sync()` in the `EventLoop`. This is not allowed as this would lead to a dead-lock.

You used `f = handshaker.handshake(ctx.channel()).sync();`. You should use a `FutureListener`.

[2018-06-27 09:55] #8065 closed

[2018-06-27 09:57] shengqr commented on #8065
thank you very much for replay so fast, I try it

[2018-06-27 09:59] shengqr commented on #8065
I remove call sync(), it not throw exception now, but it handshake failed yet

[2018-06-27 10:01] shengqr commented on #8065
how to use ssl handler right in client ?  ssl handler is ok in my code?

[2018-06-27 10:05] shengqr commented on #8065
I add a FutureListener to handshake,  i get exception:

[2018-06-27 10:05] shengqr commented on #8065
java.nio.channels.ClosedChannelException
	at io.netty.handler.ssl.SslHandler.channelInactive(...)(Unknown Source)

[2018-06-27 12:32] carryxyh opened #8066 "Is isFlushPending necessary when flush ?"
Before NioSocketChannel call `flush0`, it will call `io.netty.channel.nio.AbstractNioChannel.AbstractNioUnsafe#isFlushPending` method.

Is here `isFlushPending` necessary?
In my oponion, all the write and flush will be done with `NioEventLoop`(single thread).
In whick case, `isFlushPending` will return true before `io.netty.channel.AbstractChannel.AbstractUnsafe#flush0` method is called ?

[2018-06-27 12:35] normanmaurer commented on #8066
@carryxyh its an optimisation... if we already registered with the Selector to be notified when the Channel becomes writable there is no need to try to write it to the underlying fd at all as the write will also not succeed. Once the Channel becomes writable again we will try to writer everything to the underlying fd.

[2018-06-27 12:35] #8066 closed

[2018-06-27 13:46] kachayev commented on #7902
@jsachania Introducing this functionality to `ProxyHandler` might violate the contract at least twice: `ProxyConnectionEvent` (someone in the pipeline might be waiting to get either this event or exception about connection failure) and `connectFuture` (same here, this will be never released or released w/o actual connection which might "confuse" other handlers in the pipeline). Is there a chance y

[2018-06-27 15:09] Scottmitch commented on #8041
Sorry was AFK for the past few days ...

Good point. We would need to avoid violating the protocol. Failing the promise should be sufficient.

Another good point. I agree that forcing a GO_AWAY doesn't make much sense in this scenario.

In general I think we should make the fix in the interface API which is responsible for the core H2 logic instead of fragmenting the logic. The exception path in t

[2018-06-27 15:57] bryce-anderson commented on #8041
Failing the promise on such a failed write should be sufficient to get the behavior I want and will work for all APIs. We can fail the promise for both API's either in the `Http2FrameCodec` or in the `DefaultHttp2ConnectionEncoder`. If we modify the `Endpoint.incrementAndGetNextStreamId()` method to consider received GOAWAY's it will fail the promise in `Http2FrameCodec` which feels pretty good.

[2018-06-27 17:15] mosesn opened #8068 "Http2Headers pseudoheader setting methods incorrectly documented"
Here in the docs it says the setter sets the header conditionally, but it seems to actually be unconditional.

[Docs][0]:

[code]

[Implementation][1]:
[code]

One of these is wrong, but I don't know which one it is.

[0]: https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2Headers.java#L138-L141
[1]: https://github.com/netty/netty/blob/4.1/codec-htt

[2018-06-27 17:20] Scottmitch commented on #8041
See PR https://github.com/netty/netty/pull/8069 for my proposal. I think the change in `Http2ConnectionHandler` is useful either way bcz as you pointed out we may end up inadvertently sending a RST on a stream that never existed which would kill the connection.

Can you clarify this suggestion. It isn't clear how `incrementAndGetNextStreamId` would be changed (e.g. would it throw, would it know ab

[2018-06-27 17:33] bryce-anderson commented on #8041
@Scottmitch, see https://github.com/netty/netty/pull/8067 for what I mean by changing `incrementAndGetNextStreamId()`. It already has the semantics of returning negative values to signal that a stream id couldn't be assigned and this is extended to cover the case that a GOAWAY has been issued by the peer.

A quick skim of your PR looks like it would probably accomplish the same goal. It would have

[2018-06-27 18:29] jsachania commented on #7902
@kachayev I ended up creating a separate channel for handling http proxy which has ProxyHandler configured.

[2018-06-27 19:14] kachayev commented on #7902
@jsachania Cool! That's pretty much what I've talked about :)

[2018-06-27 19:17] normanmaurer commented on #7902
let me close this

[2018-06-27 19:17] #7902 closed

[2018-06-27 21:06] kachayev commented on #7902
Would be nice to have this mentioned somewhere in the documentation... I've been working with code for quite some time, so let me check what can be done here.

[2018-06-28 02:13] kingluo opened #8071 "Does ssl or http compression done in I/O thread?"
As known, the netty 4.0 requires the channel pipeline get executed in single I/O thread, and one I/O thread may serve many channels concurrently, so it's bad to block the I/O thread.

So what about ssl and compression codec handlers? They're CPU consumption. Do they get executed in I/O thread? If not, then it turns to pay thread context-switch overhead (because write() must be delegated to I/O thr

[2018-06-28 04:51] hc-codersatlas opened #8072 "Add TcpQuickAck Support"
See https://bugs.openjdk.java.net/browse/JDK-8145635 - it's in Java 10.

jdk.net.ExtendedSocketOption (instead of StandardSocketOption is where it is)

For consistency as it's already in the native Epoll module.

[2018-06-28 06:15] #8017 closed

[2018-06-28 06:18] normanmaurer commented on #8017
@jasontedor this should be resolved by https://github.com/netty/netty/pull/8064 and https://github.com/netty/netty/pull/8062. To make it short we do not use the `ObjectCleaner` anymore.  We may looking into using `Cleaner` once we use Java9+ as minimum  (whenever this happens is another question, and will not happen before a major version bump).

[2018-06-28 06:53] normanmaurer commented on #7902
@kachayev PRs welcome of course :)

[2018-06-28 13:30] leventov opened #8077 "Potential issue with File.length()"
https://github.com/netty/netty/blob/ecc238bea5987fb7e71710230c923ab6a6dba37a/codec-http/src/main/java/io/netty/handler/codec/http/multipart/AbstractDiskHttpData.java#L199-L209

Setting size silently to 0 in case of I/O error at the line 205 is probably not what this method needs. Same might apply to other uses of `File.length()` in the project, as well as `File.lastModified()`.

[2018-06-28 13:58] leventov opened #8078 "Avoid creating FileInputStream and FileOutputStream for obtaining FileChannel"
There are multiple places in the production code of the project, e. g. in `ChunkedNioFile`, where `FileInputStream` or `FileOutputStream` are created solely to obtain a `FileChannel` from them. Until Netty projects bumps the compatibility level to Java 7 (where `FileChannel.open()` methods were added), it's better to obtain a FileChannel by means of creating a `RandomAccessFile`, because the latte

[2018-06-28 14:21] kingluo opened #8079 "Does ByteBuf need to be allocated and released in same thread (IO or non-IO)?"
Normally, the `ByteBuf` is allocated and released in the same IO thread.

But what about other cases?
* allocate in IO thread, release in different IO thread
* allocate in non-IO thread, release in IO thread
* allocate in IO thread, release in non-IO thread
* allocate in non-IO thread, release in different non-IO thread

Is there some official clarification about this topic?

[2018-06-29 01:50] yu199195 opened #8081 "netty io.netty.util.internal.OutOfDirectMemoryError"
this is error:
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 100663303, max: 104857600)
	at io.netty.util.internal.PlatformDependent.incrementMemoryCounter(PlatformDependent.java:640) ~[netty-common-4.1.24.Final.jar!/:4.1.24.Final]
	at io.netty.util.internal.PlatformDependent.allocateDirectNoCleaner(PlatformDependent.java:594) ~[netty-co

[2018-06-29 02:03] yu199195 opened #8082 "if OutOfDirectMemoryError . netty Circular output log Blow up the server disk"
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 16777223, max: 20971520)
	at io.netty.util.internal.PlatformDependent.incrementMemoryCounter(PlatformDependent.java:640) ~[netty-common-4.1.25.Final.jar:4.1.25.Final]
	at io.netty.util.internal.PlatformDependent.allocateDirectNoCleaner(PlatformDependent.java:594) ~[netty-common-4.1.25.Final.j

[2018-06-29 02:07] yu199195 commented on #8082
i set  -Dio.netty.maxDirectMemory=20971520

[2018-06-29 04:49] wsrspirit opened #8083 "how to make FixedChannelPool Multiplex"
I hava a problem using FixedChannelPool, I read the code, and I know if where is 4 channels in channelpool, named A B C D, that I `acquire` one, if it is A, then B C D channels in `deque`.
What I want is that I get A and the other can also get A before I call `release`. I can find out which thread use this channel to send tcp msg by a seq num (I think is more efficient to reuse channel and create

[2018-06-29 05:40] hc-codersatlas commented on #8078
Same goes for BufferedReader instances - same finalize problem. It's used in DNS and some other modules.

[2018-06-29 06:12] normanmaurer commented on #8083
@wsrspirit you will need to implement your own `ChannelPool`, sorry.

[2018-06-29 06:12] #8083 closed

[2018-06-29 06:14] normanmaurer commented on #8082
@yu199195 its exactly what the exception tells you. The amount of memory you try to allocate (or in this case the `PooledByteBufAllocator` is large then the limit that you used. 20mb is really to low when using pooling. If you have such a tight memory constraint you should use the `UnpooledByteBufAllocator`, which can be done during bootstrap via `ChannelOptions.ALLOCATOR`.

[2018-06-29 06:14] #8082 closed

[2018-06-29 06:15] normanmaurer commented on #8082
and it fills the disk because it throws exceptions and you log it ;)

[2018-06-29 06:17] normanmaurer commented on #8081
See https://github.com/netty/netty/issues/8082 ...

You may need to adjust the configuration of `PooledByteBufAllocator` depending on how many `EventLoop`s you use etc.

[2018-06-29 06:17] #8081 closed

[2018-06-29 06:19] normanmaurer commented on #8071
@kingluo everything is done in the `EventLoop` (IO-Thread) by default in netty. If you need to do long-running computation or blocking work you will need to dispatch it to another `Thread`. If this is needed or not highly depends on your application tho. There are plenty of use-cases where this is never needed at all.

So just to make it clear, sure as soon as you need to dispatch from the `EventL

[2018-06-29 06:19] #8071 closed

[2018-06-29 06:21] normanmaurer commented on #8079
Allocation and releasing of a buffer is a thread-safe operation. Every other operation on the buffer is not thread-safe.

[2018-06-29 06:21] #8079 closed

[2018-06-29 06:21] normanmaurer commented on #8068
@Scottmitch @trustin  thoughts ?

[2018-06-29 06:21] yu199195 commented on #8082
@normanmaurer  now  i set -Dio.netty.maxDirectMemory=20971520 for test
i alos set -Dio.netty.maxDirectMemory=2g
but also happe OutOfDirectMemoryError.
in my debug , in PlatformDependent.java   this DIRECT_MEMORY_LIMIT attr  It will only add up, not decrease why？If so, the size of the Settings will be full。。

[2018-06-29 06:22] normanmaurer commented on #8082
It will be decreased once the memory is given back.... I suspect it is still in use by the `PooledByteBufAllocator`.

[2018-06-29 06:23] yu199195 commented on #8081
i find netty use DIRECT_MEMORY_COUNTER To count the memory out of the heap
in the PlatformDependent.java 101 line.
i try debug ,It just adds up ,it doesn't decrease. why?
As the number of requests increases, It will definitely exceed the size of the memory outside the heap.
its netty bug?

[2018-06-29 06:23] yu199195 commented on #8081
@normanmaurer i find netty use DIRECT_MEMORY_COUNTER To count the memory out of the heap
in the PlatformDependent.java 101 line.
i try debug ,It just adds up ,it doesn't decrease. why?
As the number of requests increases, It will definitely exceed the size of the memory outside the heap.
its netty bug?

[2018-06-29 06:28] yu199195 commented on #8082
now i use netty4.1.25，but No matter how much memory I set outside the heap, it will overflow
I found it by debugging DIRECT_MEMORY_LIMIT  not be decreased。。

[2018-06-29 06:29] normanmaurer commented on #8082
The first 16 MB per `PoolArena` is never given back as we expect it will be reused frequently (just as in jemalloc). By default you will use 2 * cores PoolArena when using the `PooledByteBufAllocator`. The rest will be returned as soon as there is no more usage in the 16MB chunk.

You can adjust the number of used `PoolArena`s either via a System property (check `PooledByteBufAllocator` or the con

[2018-06-29 06:29] normanmaurer commented on #8082
Again if you have tight memory limits you may be better of using `UnpooledByteBufAllocator` which will return memory directly once `ByteBuf.release()` is called and its reference count is 0.

[2018-06-29 06:34] yu199195 commented on #8082
thanks，i know what you mean，using UnpooledByteBufAllocator 。。
but now  i set  -Dio.netty.maxDirectMemory=4g ，The same mistake will happen ，I don't know where the leak happened

[2018-06-29 06:36] normanmaurer commented on #8082
@yu199195 enable paranoid leak detection and check if there is anything logged. You may forgot to release buffers somewhere:

http://netty.io/wiki/reference-counted-objects.html#wiki-h2-10

[2018-06-29 06:53] yu199195 commented on #8082
let my try。。I'm a little confused ，In a request, DIRECT_MEMORY_COUNTER accumulate
for example ：
 if (DIRECT_MEMORY_COUNTER != null) {
            for (;;) {
                long usedMemory = DIRECT_MEMORY_COUNTER.get();
                long newUsedMemory = usedMemory + capacity;
                if (newUsedMemory > DIRECT_MEMORY_LIMIT) {
                    throw new OutOfDirectMemoryError("failed

[2018-06-29 07:03] wsrspirit commented on #8083
I think maybe change `SimpleChannelPool` so it can easy to extend to do so, give me some advice?

[2018-06-29 07:13] normanmaurer commented on #8083
@wsrspirit sorry but I am currently too busy to look into it myself. If you will find out that we need some changed feel free to submit a PR tho

[2018-06-29 09:39] kingluo commented on #8079
I just saw some posts which said buffer releasing on other thread may bring issues. Is there some threadlocal design which would cause memory leak when we release buffer in other thread? Or those posts are outdated for current netty version?

[2018-06-29 09:43] normanmaurer commented on #8079
@kingluo there are no issues, this is done in lot of use-cases. You just need to ensure you not use it anymore after it.

[2018-06-29 09:44] kingluo commented on #8071
@normanmaurer Yes, it's ideal to finish all tasks within the same IO thread. But I think in most cases, for server app, the business logic should use third party libraries, and cannot only depend on the sockets bound to the IO thread.

Obviously, the ssl and http compression is good case to use a lot of CPU, which may block the IO thread, more or less. So how do you consider it?

[2018-06-29 09:46] normanmaurer commented on #8071
@kingluo in my experience doing SSL in the IO thread is fine. Compression depends a bit on the algorithm. There are multiple solution here. Either use more IO threads or offload the compression.

[2018-06-29 09:58] kingluo commented on #8071
@normanmaurer It's hard to take any solution.
More IO threads should be fine, as long as netty could apply some work-stealing logic on the event dispatching. Think that when one thread get blocking, other threads could steal the tasks on it and eliminates the impact. And it should be better that the thread pool could be dynamically sized.
On the other hand, if we move compression to independent ex

[2018-06-29 17:58] bryce-anderson commented on #8041
This is fixed now, though we've unfortunately hit the situation where the client will send a RST_STREAM(cancel) on an idle stream. I have a couple PRs up, any of which should fix it https://github.com/netty/netty/pull/8067, https://github.com/netty/netty/pull/8086, though the fallout is different for each.

[2018-06-29 20:11] bryce-anderson opened #8087 "Issuing a hard GOAWAY after issuing a graceful GOAWAY kills to channel before we can flush the hard GOAWAY"
### Expected behavior

If a session is draining and find cause to forcibly close the connection, it would flush another GOAWAY with the cause.

### Actual behavior

The connection is severed. This is caused by [this line](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L648) returning a satisfied future that didn't come fro

[2018-06-29 20:14] bryce-anderson commented on #8087
fwiw, I think this is pretty minor. The simple solution might be to flush yet another GOAWAY presuming the `lastStreamKnownByPeer` hasn't changed. If the first GOAWAY was also a hard GOAWAY we might end up with a partial flush of the second but that seems okay.

[2018-06-30 04:56] hc-codersatlas commented on #8072
Looks good. Can close once it's merged. Thanks!

[2018-06-30 07:49] aman28061994 opened #8088 "Require suggestion for creating the server bootstrap"
### Is it a good practice to bind ever port to same server bootstrap or create different bootstrap for every port.

### netty version: ### ### ### ### [4.1.25]

[2018-06-30 16:01] rkapsi opened #8089 "Compatibly of TCN 2.0.12 with Netty 4.1.25? Mutual TLS is maybe broken?"
I don't have much info about it at the moment and won't be able to investigate it for the next two weeks but upgrading TCN (OpenSSL) from 2.0.10 to 2.0.12 seems to break something. On the first glance it's mutual TLS but I'm not sure (i.e. could be all TLS).

I'll be able to provide more info when I'm back.

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet comple

[2018-06-30 16:13] normanmaurer commented on #8089
It’s not compatible... 4.1.26.Final will be the first that is

[2018-06-30 19:32] johnou commented on #8089
@normanmaurer picked a date for 4.1.26.Final?

[2018-07-01 20:23] cchantep opened #8090 "Fails to load native library when shading Netty epoll or kqueue (osx or linux)"
### Expected behavior

With shaded Netty libraries, succeed to call `foo.io.netty.channel.epoll.Epoll.ensureAvailability()` (with `foo.` being the package prefix) or `foo.io.netty.channel.kqueue.KQueue.ensureAvailability()` without `Exception`.

### Actual behavior

When calling the `.ensureAvailability()` or directly loading a Netty native lib, then an `UnsatisfiedLinkError` is thrown with root c

[2018-07-01 20:35] normanmaurer commented on #8090
@Scottmitch can you check as you setup our usage of it if I remember correctly.

[2018-07-01 21:10] cchantep commented on #8090
I'm wondering whether the `packagePrefix` should be used when calling [`env->GetMethodID(..)`](https://github.com/netty/netty/blob/4.1/transport-native-unix-common/src/main/c/netty_unix_socket.c#L1025)? As classes from netty-transport-native-unix-common are shaded along with kqueue or epoll? To look for something like `"(Ljava/lang/String;IILfoo/io/netty/channel/unix/DatagramSocketAddress;)V"` ?

[2018-07-02 03:13] Quantriple commented on #7518
朋友 mvn clean我使用了  还是没用  求教

[2018-07-02 04:34] johnou commented on #7518
@Quantriple did you call `compile` as well?

[2018-07-02 04:58] Quantriple commented on #7518
@johnou   thx  mvn clean  then install          perfect

[2018-07-02 10:59] normanmaurer commented on #8088
This is an issue tracker ... please use stack overflow the next time.

You can re-use the same bootstrap but it really depends on what you try to achieve. If you want to use different handlers etc you usually create one bootstrap per config.

[2018-07-02 10:59] #8088 closed

[2018-07-02 12:07] normanmaurer commented on #8089
Let me close this as stated its because its not compatible.

[2018-07-02 12:07] #8089 closed

[2018-07-02 12:22] normanmaurer commented on #8090
@cchantep btw is it still working after this is thrown or not ?

[2018-07-02 13:33] normanmaurer commented on #8090
@cchantep I did some more digging and you are right... This was "broken" by https://github.com/netty/netty/commit/b818852cdb0ee56ce3cf939e2faa538d519baabd. Which is most likely also the reason why we did not see it yet as this was only in the last release. I tried to modify your reproducer to use a snapshot version to verify a fix but did not manager to do so. Could you please try the PR https://g

[2018-07-02 14:35] cchantep commented on #8090
Thx @normanmaurer, I will try the reproducer with your branch.

[2018-07-02 17:18] cchantep commented on #8090
It seems OK with the reproducer, will confirm it with the original project. Thx.

[2018-07-02 19:50] normanmaurer commented on #8090
@cchantep please report back once done.

[2018-07-02 20:03] cchantep commented on #8090
Thx @normanmaurer , I can confirm it's ok after your fix.

[2018-07-02 20:30] Lewik opened #8092 "AbstractChannelHandlerContext CPU 100%"
Netty used in spring integration application.
After some time cpu goes to 100% and application stop handling messages from queue (amqp and stomp)

Application inside docker

jstack of "hanged" thread
[code]

### Netty version
4.1.25
### JVM version (e.g. `java -version`)
openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-1~deb9u1-b11)
OpenJDK 64-Bit Server VM (build

[2018-07-03 05:10] #8090 closed

[2018-07-03 08:31] liuhea opened #8093 "failed to load the required native library"
[code]
### Expected behavior
     Caused by: java.lang.IllegalArgumentException: Failed to load any of the given libraries: [netty_tcnative_linux_aarch_64, netty_tcnative_linux_aarch_64_fedora, netty_tcnative]

### Netty version
    implementation group: 'io.netty', name: 'netty-handler', version: '4.1.15.Final'
    implementation group: 'io.netty', name: 'netty-tcnative-boringssl-static', version

[2018-07-03 08:33] normanmaurer commented on #8093
We do not ship native libraries for aarch_64 so you can not use it there

[2018-07-03 08:33] #8093 closed

[2018-07-03 12:19] wanlxp opened #8094 "NetworkInterface.getNetworkInterfaces() Blocked"
### Expected behavior
Get network interfaces and return

### Actual behavior
The code block here, the thread can't continue, i use jstack, the thread is always here, but the thread state is runable:
"init_context_comm_t0" #14 daemon prio=5 os_prio=0 tid=0x00007f5fdc889800 nid=0x27 in Object.wait() [0x00007f5fd7ffc000]
   java.lang.Thread.State: RUNNABLE
  at io.netty.util.NetUtil.<clinit>(NetUtil.

[2018-07-03 13:21] kingluo opened #8095 "Where's the codes to ensure single-threading model when addlast() with EventExecutorGroup?"
The netty 4.0 wiki said:

But I cannot find codes to implement such logic. The context's executor seems `final` and set in constructor, and it seems that all `EventExecutorGroup` sub-classes do not ensure such single-threading restriction.

[2018-07-03 16:31] njhill opened #8097 "Misleading native transports doc?"
The [native transports wiki page](https://netty.io/wiki/native-transports.html#using-the-linux-native-transport) suggests using the `os-maven-plugin` maven plugin to configure the classifier of e.g. the `netty-transport-native-epoll` dependency.

But this will substitute the os name and arch based on the _build_ environment, which would typically be arbitrary/variable (e.g. a CI platform, local wo

[2018-07-03 21:03] doom369 opened #8098 "Proposal: introduce isWritable() method for ChannelHandlerContext"
Very often I have to use next code pattern:

`ctx.channel().isWritable()`

It would be very convenient to introduce the same method for the `ChannelHandlerContext`:

`ctx.isWritable()`

WDYT?

[2018-07-03 21:30] artgon commented on #7599
Just wanted to bump this, is there an example for the new client API that someone can point me to?

[2018-07-04 07:07] liuhea commented on #8093
can you help me? netty client runing android, i need add sslContext to verify Certification, what can I do ?　

[2018-07-04 07:19] normanmaurer commented on #8093
Just use SslProvider.JDK

[2018-07-04 07:29] liuhea commented on #8093
Server implement the feature by the way of SslProvider.OPENSSL, and java clinet can do it , why android client can't do it ?I am very troubled　and if i remove sslCtx ,my code run good.

[2018-07-04 09:02] cchantep opened #8100 "Snapshot publication for native library"
### Expected behavior

Snapshot version of kqueue available at Sonatype snapshot.

### Actual behavior

For 4.1.26.Final-SNAPSHOT, the kqueue artifact with classifier `osx-x86_64` is not published (the one with the `META-INF/native`), whereas it seems ok for epoll.

### Steps to reproduce

`sbt update`

### Minimal yet complete reproducer code (or URL to code)

https://github.com/cchantep/netty-na

[2018-07-05 02:22] liuhea opened #8101 "failed to initialize the client-side SSL context"
### Expected behavior

### Actual behavior

07-05 10:10:53.396 17821-17821/com.example.administrator.testnetty E/MainActivity: failed to initialize the client-side SSL context

### Steps to reproduce

[code]
### Minimal yet complete reproducer code (or URL to code)

### Netty version
    implementation files('src/libs/netty-all-4.1.15.Final.jar')
    implementation files('src/libs/netty-tcnative-2

[2018-07-05 08:17] bentech opened #8102 "IdleStateHandler fails after NTP update"
### Expected behavior
If system time changes IdleStateHandler shouldn't break

### Actual behavior
If the time advances forward IdleStateHandler stops timing out

### Steps to reproduce
Set system time a month prior before start and change back to correct time

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.14.Final

### JVM version (e.g. `java -version`)
1.8.0_13

[2018-07-05 08:48] #8102 closed

[2018-07-06 09:02] felixunivers opened #8103 "Netty - PooledByteBufAllocator and Unpooled.wrappedBuffer method - potential bug?"
After allocating some direct buffers and trying them to be combined into a wrapped buffer,
the referenced initial buffers become unusable / freed. Example:

        ByteBufAllocator pbba = PooledByteBufAllocator.DEFAULT;
        BUFFERS.add(0, pbba.directBuffer(32, 32));      // buffer of fixed size  32 bytes - header 1
        BUFFERS.add(1, pbba.directBuffer(128, 128));    // buffer of fixed siz

[2018-07-06 22:40] bryce-anderson commented on #8041
https://github.com/netty/netty/pull/8086 has been merged, so I think this can be closed.

[2018-07-06 22:40] #8041 closed

[2018-07-07 11:51] WhiteTrashLord opened #8104 "Getting the size of an object like DefaultHttpRequest is very difficult"
I just noticed that classes like DefaultHttpRequest or DefaultHttpResponse have no easy method which returns the size of this object in bytes. For me this would be very useful. And probably also for some other people. For example some people might want to block too big requests.

Maybe this can be changed in the next version of Netty?

[2018-07-07 12:07] doom369 commented on #8104
You can do that with  `public HttpObjectAggregator(int maxContentLength);`

Also in HTTP you can use `HttpUtil.getContentLength(HttpMessage message, long defaultValue)` that will give you `content-length` header.

[2018-07-07 18:33] normanmaurer commented on #8101
you should remove `netty-tcnative-2.0.7.Final-linux-x86_64.jar` from your class path... Also please include all the stack traces.

[2018-07-07 18:34] normanmaurer commented on #8098
I think I would only do it if there is any notion of have different writability states per `ChannelHandlerContext` otherwise you could basically say this for most `Channel` methods.

[2018-07-07 18:37] normanmaurer commented on #8094
@wanlxp can you please provide a full-reproducer using the latest netty release. I think this was fixed here:

https://github.com/netty/netty/commit/f921ea344e2117eb6398daaf903f0df272b916fe

This is included in 4.0.54.Final and later. See also https://github.com/netty/netty/issues/7458

[2018-07-07 18:37] #8094 closed

[2018-07-07 18:37] normanmaurer commented on #8094
Please re-open if you still see the issue after upgrading.

[2018-07-07 18:42] normanmaurer commented on #8095
Its done here: https://github.com/netty/netty/blob/netty-4.1.25.Final/transport/src/main/java/io/netty/channel/DefaultChannelPipeline.java#L123

[2018-07-07 18:42] #8095 closed

[2018-07-07 18:43] normanmaurer commented on #8092
This looks more like a project reactor bug that will consume a lot of cpu while try to drain some queue... @smaldini FYI..

I will close this for now. Please report to project reactor and re-open if you have an evidence its a netty bug.

[2018-07-07 18:43] #8092 closed

[2018-07-07 18:49] Lewik commented on #8092
@normanmaurer Ok, thank you. This bug appears with Spring 5. But with Spring 4 all OK.

[2018-07-07 18:57] normanmaurer commented on #8103
@felixunivers I am not sure if I correctly understand the problem but if I understood it correctly you are surprised that calling `Unpooled.wrappedBuffer(...)` with an "empty buffer" will release the "empty buffer" right away.  I think this works as "designed" as once you call this method the ownership is transferred and in this case it will just release the buffer directly as its empty.

I can se

[2018-07-07 19:16] normanmaurer commented on #8103
@felixunivers so actually after thinking a bit more about it and reading our java docs again I think it works as expected... Changing it would be surprising to people that expect it to work like documented.

That said we just deprecated these methods in favour of using `Unpooled.wrappedUnmodifiableBuffer(...)`. The new method will work exactly how you expected.

WDYT?

[2018-07-07 19:19] normanmaurer commented on #8103
See also https://github.com/netty/netty/pull/8040 and https://github.com/netty/netty/pull/8096

[2018-07-09 00:08] apimastery opened #8107 "Log4J2 Auto-detection"
Not sure if I'm missing something...

[#5047](https://github.com/netty/netty/pull/5047) added Log4J2LoggerFactory and Log4J2Logger. It appears that Log4J2 auto-detection in InternalLoggerFactory wasn't added?
https://github.com/netty/netty/blob/fef462c04333950201ddbfd505c0af730a0c2ffd/common/src/main/java/io/netty/util/internal/logging/InternalLoggerFactory.java#L39

Cheers!

[2018-07-09 12:32] liuhea commented on #8101
use netty4.1.25 reslove my crash problems.

[2018-07-09 12:32] #8101 closed

[2018-07-09 12:42] normanmaurer commented on #8107
@apimastery good catch... See https://github.com/netty/netty/pull/8109

[2018-07-09 13:09] normanmaurer commented on #8078
@leventov good catch... Check https://github.com/netty/netty/pull/8110

[2018-07-10 02:49] atcurtis opened #8112 "Calculation for len is incorrect."
https://github.com/netty/netty/blob/6afab517b04e4aaf0c70e68e3b2888c06129197c/common/src/main/java/io/netty/util/AsciiString.java#L725

Example:

    AsciiString foo = AsciiString.of("This is a test");

    int i1 = foo.indexOf(' ', 0);

    int i2 = foo.indexOf(' ', i1 + 1);

    int i3 = foo.indexOf(' ', i2 + 1);

    Assert.assertTrue(i3 > 0);
    Assert.assertTrue(i3 + 1 < foo.length());

    i

[2018-07-10 02:55] atcurtis commented on #8112
Last worked in 4.1.22.Final

[2018-07-10 08:14] bojanv55 opened #8114 "ChannelException should be IOException?"
### Expected behavior

ChannelException extends IOException

### Actual behavior

ChannelException extends RuntimeException

Is this by design, or there was some problem with treating this as checked exception?

[2018-07-10 10:00] doom369 opened #8117 "IllegalArgumentException in EpollEventLoop.closeAll() method when stopping the server"
netty.version - 4.1.25.Final
boring.ssl.version - 2.0.8.Final

[code]

[2018-07-10 10:30] normanmaurer commented on #8117
Interesting... This means `IntObjectHashMap.size()` must have returned -1... Not sure yet how this could happen

[2018-07-10 10:42] doom369 commented on #8117
@normanmaurer yeah, same conclusion. I see only one possibility `IntObjectHashMap.removeAt()` was called somewhere. Also this issue appeared only with default java 10 GC - G1. When using parallel GC no errors.

[2018-07-10 10:43] normanmaurer commented on #8117
@doom369 is it reproducible ?

[2018-07-10 10:44] doom369 commented on #8117
@normanmaurer nope, as this was a single production server where I ran G1 by mistake :).

[2018-07-10 15:40] WhiteTrashLord commented on #8104
There are cases when you don't want to use HttpObjectAggregator.

But I think it would be a good idea to add another parameter for HttpObjectAggregator which can set the maximum Requestheadersize.

Sometimes the header content-length might be missing.
It would make things easier for me if objects which don't use a ByteBuf would store the size in bytes.

[2018-07-10 15:53] LuminousLoreBloom opened #8120 "Provide way to get non AnnotatedExceptions."
AbstractChannel wraps various exceptions into an annotated version: https://github.com/netty/netty/blob/aa8bdb5d6b7f89d56712c2d177c27857a17d79cd/transport/src/main/java/io/netty/channel/AbstractChannel.java#L1021

I am using a system to send this exception as a message inside a ChannelFutureListener to a client, but the annotated exception appends the remote address to the message. I do not want t

[2018-07-11 04:17] hc-codersatlas opened #8122 "Only apply copyMemoy safepoint for java <= 8"
Hi, as per https://bugs.openjdk.java.net/browse/JDK-8149596 (and the source code of Java.nio.Bits) safepoint polling is no longer required (or rather it shouldn't be done). It's included as part of Unsafe.copyMemory.

Can we add a check to PlatformDependent where this occurs for java version <= 8 so we don't essentially do safepoint polling twice?

Thanks.

[2018-07-11 06:53] shufanhao commented on #7699
@DonnyDarkoRabbit which solution fix your issue, I also hit this issue.
`018-07-11 04:51:57.377  WARN 27 --- [ntLoopGroup-3-1] io.netty.channel.DefaultChannelPipeline  : An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.

io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 1

[2018-07-11 09:19] #8107 closed

[2018-07-11 09:21] #8112 closed

[2018-07-11 11:11] normanmaurer commented on #8122
sounds good.

[2018-07-11 12:52] monkey1993 opened #8125 "different thread in netty"
### Expected behavior
oh，at first i am not in English
i just want to know why thread not in event loop ,the WriteBufferWaterMark not use!
en, yes, in chinese
我就想知道为什么在我自己的线程中，不是netty的线程中，可以绕过WriteBufferWaterMark发送超过指定长度的消息，出于什么原因这样设计
### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
`private void write(Object msg, boolean flush, ChannelPromise p

[2018-07-11 13:59] doom369 opened #8127 "Memory leak in the latest netty version when executing tests"
I just updated to the latest netty version (4.1.26.Final, boring.ssl  2.0.12.Final) and my test run had crashed due to OutOfMemoryError.
I have a special test set with 200 tests. Every test starts the server and at the end of test stops it. Before tests were executed just fine. With the latest version on 100-th test, my RAM of 32 GBs is out.

I haven't dig into it yet, just let you know. Probably