[2018-10-18 09:02] doribd commented on #8285
to restore this - i am generating http2 requests (with ssl), in a small load it works ok, but when i increase the load, i am getting this error.
Please do not close the issue, see the attached exception :

`2018-10-18 11:58:41.660 ERROR 27782 --- [server-epoll-44] io.netty.util.ResourceLeakDetector       : LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wi

[2018-10-18 11:44] doribd commented on #8285
i attached it below - have a look

[2018-10-18 13:17] normanmaurer commented on #8400
@atcurtis thanks for reporting... Should be fixed by https://github.com/netty/netty/pull/8403. PTAL

[2018-10-18 19:31] doribd commented on #8285
shared

[2018-10-19 06:05] #8400 closed

[2018-10-19 09:35] lutovich commented on #8398
Thanks, @normanmaurer. I created a PR.

[2018-10-19 11:42] wilkinsona commented on #8348
Unfortunately, I'm still seeing the hang with 4.1.31.Final-SNAPSHOT. The log output produced by the test that hangs:

[code]

I realise this isn't much to go on. I'll see if I can set up an environment where I can more easily attach a debugger and see exactly what's happening.

[2018-10-19 14:36] wilkinsona commented on #8348
I am doubting myself now. I have setup an Ubuntu VM and, while the test still hangs, I am not seeing the `io.netty.channel.ChannelException`. Please disregard the above for the time being at least. I still suspect that the hang is due to something that's changed in Netty as it does not occur with 4.1.29.Final but I don't yet know what the cause is.

[2018-10-19 14:54] wilkinsona commented on #8348
Ok, I've recreated the `io.netty.channel.ChannelException` with the debugger attached using 4.1.31.Final-SNAPSHOT. When it happens, `EpollEventLoop.epollWait(boolean)` calls `Native.epollWait(FileDescriptor, EpollEventArray, FileDescriptor, int, int)` passing in `-1` for both `timeoutSec` and `timeoutNs`. That points to #7816 again as it introduced the branch that results in `-1` being used.

[2018-10-19 15:06] normanmaurer commented on #8348
@carl-mastrangelo can you take a look ?

[2018-10-19 19:35] carl-mastrangelo commented on #8348
@normanmaurer I can take a look, but i'm in a crunch time for the next few days.  I'll put it on my todo

[2018-10-19 20:51] las1991 opened #8411 "Composite addComponent or addComponents"
@Test
    public void testAddComponent() {
        CompositeByteBuf compositeByteBuf = Unpooled.compositeBuffer();
        compositeByteBuf.writeByte(1);

        ByteBuf byteBuf = Unpooled.buffer(1);
        byteBuf.writeByte(2);
        compositeByteBuf.addComponent(true, byteBuf);
        compositeByteBuf.addComponent(true, byteBuf);
        byteBuf.release();

        compositeByteBuf.writeByt

[2018-10-21 14:56] WhiteTrashLord opened #8419 "channel.localAddress() returns a wrong value in some cases"
I am using Netty 4.1.30.
In my Netty application I only bind the IP 127.0.0.1. In an initializer I call channel.localAddress() for this channel. Most of the times the return value is the expected /127.0.0.1. But sometimes I also see 0.0.0.0/0.0.0.0 for the local address. Is this a bug? I think I have this problem only on Windows when I can't use Epoll but I am not very sure about it. Maybe it has

[2018-10-21 15:18] normanmaurer commented on #8419
Are you sure channelActive was called yet ?

[2018-10-21 22:35] WhiteTrashLord commented on #8419
Yes, the channel should be active. The application is very similar to the example HexDumpProxy.
The channel.localAddress() is called on the inboundChannel in the Initializer for the class HexDumpProxyBackendHandler. I added the Initializer class.

[2018-10-22 21:00] WhiteTrashLord commented on #8419
Will the local address of a channel which is no longer active bet set to 0.0.0.0/0.0.0.0?
After some changes in the code I no longer see this problem. I will reopen this issue in case I see it again.

[2018-10-22 21:00] #8419 closed

[2018-10-23 09:51] wenweihu86 opened #8424 "EpollArrayWrapper.epollCtl IOException:File exists"
<img width="1120" alt="2018-10-23 17 51 36" src="https://user-images.githubusercontent.com/2144079/47352455-7fd39a00-d6ec-11e8-8229-29fc6de43509.png">

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.15.Final
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)
Linux

[2018-10-23 15:16] normanmaurer commented on #8424
@wenweihu86 this version is super wild... please upgrade and report back. Also please not that its thrown by the jdk itself and not netty so you may want to upgrade java as well.

[2018-10-23 15:16] #8424 closed

[2018-10-23 20:35] njhill commented on #8411
@las1991 the problem is that adding a component to a composite buffer is not the same as writing data to it. When you write the first byte, the buffer contains no components and has no capacity, and therefore implicitly adds some capacity by creating an initial internal `ByteBuf` with a default minimum size of 64 bytes. When you subsequently add the single-byte buffer components, these are appende

[2018-10-23 21:05] rschmitt commented on #8185
@normanmaurer @Scottmitch Any news? The APIs seem fairly stable ever since the Builder APIs were added (and the corresponding constructors encapsulated), despite some internal churn within the implementation of multiplexing.

[2018-10-23 21:52] normanmaurer commented on #8411
@las1991 @njhill I think what should happen is that if you call `addComponent(true...)` and there is already a ByteBuf in there that still has space it should basically "slice" the already existing ByteBuf in the composite before adding the component.

Is it clear what I have in mind ?

[2018-10-23 22:54] njhill commented on #8411
@normanmaurer so you are proposing that semantics of `increaseWriterIndex` = `true` should be "insert at writerIndex and move writerIndex to end of inserted buffer", is that correct? This would be a relative-index equivalent of the new method I was proposing.

Some potential problems with this I can see:
- Current semantics of all the non-cIndex versions of `addComponent(...)` is to add the new co

[2018-10-23 22:59] almson opened #8426 "Kill finalizers (or, fix premature finalization)"
`Object.finalize` is now (as of Java 9) deprecated. finalize got a perhaps undeservedly bad rap, and it's not a terribly useful method regardless. But whether by accident or malice, finalize became practically unusable around Java 8 when the JIT decided it was perfectly ok to let objects get finalized while *execution is still inside the last call to one of their methods.* So, it is time to say go

[2018-10-24 00:36] plorenz opened #8427 "Netty NIO websocket thread stall under heavy load"
### Expected behavior
When writing to a channel, the channel should eventually be emptied
### Actual behavior
We have a netty based application which is something like a gateway. It has N websockets writing to another application. When under heavy load we sometimes see websocket channels go into not writable state and not come out.

At a rough approximation, the code looks something like
[code]
No

[2018-10-24 01:03] ysde commented on #3559
Hi, has this netty oom problem been fixed ?

Thank you

[2018-10-24 02:34] teddie-lee commented on #8125
楼主你的意思是不是在业务线程中调用writeAndFlush()方法触发WATER_MARK变化所需的数据量比在NioEventLoop线程中所需的数据量要大得多？

[2018-10-24 02:45] houbic commented on #8310
Yes, because it adds the hooks always but not release if my program doesn't quit

[2018-10-24 03:10] houbic commented on #8310
@johnou Any setting in netty for this please? Use DiskAttribute.deleteOnExitTemporaryFile = false when my program to run?

[2018-10-24 05:28] monkey1993 commented on #8125
@teddie-lee 我的意思是，如果不在Netty线程的时候，使用ctx.write()可以写入任意多的数据，完全可以绕过WATER_MARK。因为，在执行的时候，会先检测是否是netty的线程。如果是netty的线程，没有任何问题。如果不是netty的线程，则会先构造一个task，然后，等到ctx.flash()才会真的发送到客户端。在这个过程中，WATER_MARK，完全被绕过去了。唉，遗憾的是我并没有成功的和netty的开发人员解释清楚...

[2018-10-24 05:36] teddie-lee commented on #8125
但实际上并没有绕开，在将数据放入OutBoundBuffer前仍然会先检测数据的长度。只不过由于此时你的数据类型如果不属于ByteBuf, ByteBufHolder, FileRegion中的任意一种的话，会默认数据长度为8 + 48 = 56。远小于默认WATER_MARK高水位线65536。而且我认为WATER_MARK只是起到一个标识的作用，实际中就算过了高水位线系统也不会禁止数据的发送。

[2018-10-24 05:42] monkey1993 commented on #8125
那是在什么时候检测的呢？`WriteTask.newInstance(next, m, promise);`，构造这个任务的时候并没有检测...

[2018-10-24 05:45] monkey1993 commented on #8125
private void incrementPendingOutboundBytes(long size, boolean invokeLater) {
        if (size == 0) {
            return;
        }

        long newWriteBufferSize = TOTAL_PENDING_SIZE_UPDATER.addAndGet(this, size);
        if (newWriteBufferSize > channel.config().getWriteBufferHighWaterMark()) {
            setUnwritable(invokeLater);
        }
    }

检测 WATER_MARK 我打断点，只有在netty自己的线程中才会检测，在非net

[2018-10-24 05:52] monkey1993 commented on #8125
@teddie-lee 其实我比较好奇的是，如果检测到了，但是netty依然将它发送到了客户端，不是应该程序手动处理吗？就像他们给的实例代码。

[2018-10-24 05:55] monkey1993 commented on #8125
@teddie-lee 这个东西，本来的目的不是为了在网络出现波动的时候，可以由程序控制数据的发送量以及频率么，如果在非netty线程中就不让控制了吗？

[2018-10-24 05:58] monkey1993 commented on #8125
@teddie-lee 啊，看到了你说的 ByteBuf, ByteBufHolder, FileRegion 这三种，如果不是就会返回8+48，这里是我的问题...

[2018-10-24 07:59] las1991 commented on #8411
@normanmaurer yes , it will solve the problem , but it would produce much slice component when call write() and addComponent() Interlaced .

[2018-10-24 16:44] plorenz commented on #8427
Here's an example of the websocket channels becoming writable again after having been unwritable and stopping the flow of data.

[code]
The times are all very similar, around 2166000ms, which is around 36 minutes.

[2018-10-24 18:17] plorenz commented on #8427
Adding `((NioUnsafe)currentChannel.unsafe()).forceFlush();` didn't have any effect.
I also tried using EPoll insteadof Nio, and also the same issue there.

[2018-10-24 20:26] Bennett-Lynch opened #8429 "ChannelOption for FIRE_EXCEPTION_ON_FAILURE?"
I want to be able to react to *any* outbound channel failure.

I can add a handler to the tail of my pipeline that will call `promise.addListener(ChannelFutureListener.FIRE_EXCEPTION_ON_FAILURE)` for every outbound event, but this is not sufficient.

Specifically, in the case of a `MessageToMessageEncoder` that outputs more than one object, new promises are created for all but the last object:
htt

[2018-10-25 15:50] normanmaurer commented on #8429
@Bennett-Lynch that's a good question.. I like the idea of the `ChannelOption` but I would need to investigate if this is easily doable without breaking any API (I suspect it should be doable).

[2018-10-25 15:52] normanmaurer commented on #8427
Thats very strange...  So you say that you can basically see that there are still pending bytes in the ChannelOutboundBuffer when it happens ? How many of these are "flushed" ?

[2018-10-25 16:09] bryce-anderson opened #8430 "[Netty 5]: Remove the HttpObjectDecoder `maxChunkSize` parameter in Netty 5.x"
This is a cleanup request for Netty 5.x. The family of HTTP codecs passes a parameter called `maxChunkSize` to `HttpObjectDecoder` which limits the size of chunks that decoder will emit. Note that this doesn't cause the HTTP dispatch to switch from a `FullHttpMessage` to a regular message or to avoid buffering data, it only means that any already buffered content data may be split into smaller mes

[2018-10-25 17:18] njhill commented on #8411
Looks like this isn't the first time this has been debated :) https://github.com/netty/netty/issues/1196#issuecomment-33870603, but maybe the existing-writer-index confusion wasn't fully considered at the later time that the boolean param was introduced.

[2018-10-26 07:12] tianshaokai opened #8432 "Compile failure"
![image](https://user-images.githubusercontent.com/6706496/47550349-90288680-d931-11e8-990a-8aadca8966b3.png)

[2018-10-26 21:22] Feri73 opened #8433 "Maven Cannot Download Dependency"
On my Windows 10 64bit machine maven cannot download org.conscrypt:netty-tcnative:jar:2.0.18.Final dependency.
Java version: 1.8.0_191

Am I missing anything?

[2018-10-26 22:42] bryce-anderson opened #8434 "HTTP/2 MultiplexCodec sends a RST_STREAM if the HEADERS fail to write due to HPACK issue"
### Expected behavior

If the stream fails to write the headers due to a HPACK issue such as being larger than the MAX_HEADER_LIST_SIZE it should not send a RST_STREAM frame.

### Actual behavior

Sends a RST_STREAM frame.

There is a test for this sort of behavior [here](https://github.com/netty/netty/blob/1cc692dd7de54bfffa05813a90b14670b4eb50d1/codec-http2/src/test/java/io/netty/handler/codec/h

[2018-10-27 00:03] normanmaurer commented on #8434
@ejona86 @Scottmitch @carl-mastrangelo thoughts ?

[2018-10-27 00:08] normanmaurer commented on #8432
Closing due non info provided.

[2018-10-27 00:08] #8432 closed

[2018-10-28 00:21] paul-hammant opened #8439 "Netty branch/module for early access Loom compatibility"
It would be great if work were started for Java fibers (Project Loom).

There's https://github.com/petrbouda/jlhttp-server-on-fibers/ which seems like a benchmarkable comparison for a minimal HTTP server with and without Fibers. There's also https://github.com/forax/loom-fiber showing deliberate experiments with Fibers and continuations.

It'd be great if there were a branch-by-abstraction techniq

[2018-10-29 15:36] rongflag opened #8440 "Java and C++ communicate through HEX array."
### Expected behavior
C++ sends hex array to Java, Java parse.
### Actual behavior
Java parse hex array by default into 10 hexadecimal array. Because of the relationship between byte scopes, some 16 systems will be crossed.java unable to parse.
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
server:
  ServerBootstrap b = new ServerBootstrap();
	            b.group

[2018-10-29 17:03] wilkinsona commented on #8348
@normanmaurer Is it worth opening a separate issue for the on-going problem or perhaps re-opening this one?

[2018-10-29 17:09] normanmaurer commented on #8348
@wilkinsona I would open a new one as the error itself is gone (I was also not able to reproduce yet :( ).

[2018-10-29 18:56] ejona86 commented on #8434
While I agree that we shouldn't be sending RST_STREAM if the headers frame fails, I think "first frame" may be an over-simplification. At the very least, that would not be true for server-side. It took me hours to convince myself that https://github.com/netty/netty/pull/8332 was "correct." This feels like another time-sink.

My original plan for the new H2 API was that Netty internals would be int

[2018-10-29 19:09] vkostyukov commented on #8430
For the reference, this is us unsetting the limit in Finagle: https://github.com/twitter/finagle/commit/990c8650366e5374ea062c753a4628c5971fc40e

[2018-10-29 19:53] normanmaurer commented on #8430
@bryce-anderson @vkostyukov agree... @Scottmitch also told me at some point he wanted to remove it.

[2018-10-30 06:27] njhill opened #8442 "Custom cipher list with BoringSSL breaks in 4.1.31.Final"
### Expected behavior

TLS continues to work in 4.1.31.Final when providing an explicit list of ciphers via `SslContextBuilder.ciphers(...)`.

### Actual behavior

After upgrading, my `SslContextBuilder.build()` throws:

[code]

It looks like this is due to changes in #8293, in particular [this](https://github.com/netty/netty/blob/netty-4.1.31.Final/handler/src/main/java/io/netty/handler/ssl/Ciphe

[2018-10-30 06:41] normanmaurer commented on #8442
And this did not throw before ? I wonder why as I think the check was always there or I am missing something ?

[2018-10-30 06:44] normanmaurer commented on #8442
Seems like before we only did the check in ReferenceCountedSslEngine. I just wonder what is more correct as it could also be surprising to configure something and then have Netty partial ignore it

[2018-10-30 06:52] normanmaurer commented on #8442
@njhill actually yeah let’s just do what you proposed as this should give the least surprises to people. Will change and do a release after it

[2018-10-30 07:03] normanmaurer commented on #8442
@njhill actually no... I think it works as expected now as this is consistent across SSLEngine implementations now:

[code]

This now pass with all SSLEngine implementations we test (JDK, netty-tcnative, netty-tcnative-boringssl-static, conscrypt). WDYT ?

[2018-10-30 08:20] rongflag commented on #8440
[code]

[2018-10-30 08:20] #8440 closed

[2018-10-30 10:02] wilkinsona opened #8444 "epoll_wait fails with "timerfd_settime() failed: Invalid argument" due to tv_sec and tv_nsec being -1"
### Expected behavior

epoll_wait works as it did in 4.1.29

### Actual behavior

epoll_wait fails when the optimisation added in #7816 is used. `timerfd_settime()` is called with the following `itimerspec`:

[code]

This is a continuation of the problem reported in #8348.

By my reading of the code, `timerfd_settime` shouldn't be called when both `tvSec` and `tvNsec` are -1. That makes me suspect

[2018-10-30 12:02] slandelle commented on #8334
What I want to achieve is to have one single `DnsNameResolver` (for performance) but have each Gatling virtual users have their own `DnsCache`. A typical use case is dealing with an elastic architecture where new records are added to the DNS server under load so new incoming users would resolve the new IPs while the former ones would stick to the original ones until ttl.

I looked at wrapping a `D

[2018-10-30 13:28] normanmaurer opened #8446 "Add support for recvmmsg"
We should add support for recvmmsg when using our native transport

[2018-10-30 13:49] normanmaurer commented on #8433
thee is no org.conscrypt netty-tcnative. its io.netty

[2018-10-30 13:49] #8433 closed

[2018-10-30 14:08] normanmaurer commented on #8444
@wilkinsona I have no idea what is going on... I was not able to reproduce with an isolated test-case that will pass in -1:

https://github.com/netty/netty/pull/8447

Are you sure that there is not somehow a different native lib on the class path ?

[2018-10-30 14:39] wilkinsona commented on #8444
I'm as sure as I can be, but there must be something strange going on as I've been unable to reproduce the problem whenever I try to isolate it. I've got things set up in my Ubuntu VM so that I can build Netty, including the epoll transport, from source. I'm going to try and add some caveman debugging to see if I can figure out what's going on. I haven't been able to glean much via gdb.

[2018-10-30 15:19] njhill commented on #8442
Thanks @normanmaurer and sorry for leaving you hanging, I was debugging late and open this right before I fell asleep :)

To answer your questions - yes it worked before with openssl (boringssl) and still works with the JDK provider (since the ciphers are valid in that case).

Now I understand more what's going on I agree the new behaviour seems reasonable, however my code actually does this:
[cod

[2018-10-30 15:28] normanmaurer commented on #8444
Thanks... let me known if there is anything I can do

[2018-10-30 15:36] wilkinsona commented on #8444
Well, this is embarrassing. Your suspicion that there was a different native lib on the class path was exactly right.  Sorry. Micrometer's Statd module shades Netty but leaves the native `/META-INF/native/libnetty_transport_native_epoll_x86_64.so` in its default location. That one's first on the classpath so it's found and loaded by `NativeLibraryLoader`.

[2018-10-30 15:36] #8444 closed

[2018-10-30 16:14] normanmaurer commented on #8444
@wilkinsona doh! Thanks for closing the loop on this, this makes sense. At least we have one more unit test now :)

[2018-10-30 16:58] normanmaurer commented on #8442
As discussed works as expected

[2018-10-30 16:58] #8442 closed

[2018-10-30 18:42] normanmaurer commented on #8434
@ejona86 good point

[2018-10-30 18:48] normanmaurer commented on #8334
@slandelle let me think about it... I think you would also need to pass in a `AuthoritativeDnsServerCache` no ?

[2018-10-30 19:02] normanmaurer commented on #8427
@plorenz ^^

[2018-10-30 19:02] normanmaurer commented on #8382
Sorry I don't get it I think...

[2018-10-30 20:37] slandelle commented on #8334
Indeed

[2018-10-30 21:09] plorenz commented on #8427
Hi @normanmaurer, apologies for the slow response. Couple of discoveries since I last posted.

1. The minimal test case I put together to try and reproduce this doesn't fail in the way described above. I've tried to complicate it in various ways to get it closer to the case that does fail, but haven't found it yet.
2. The case where we were seeing this in production turned out to a misinterpretati

[2018-10-30 21:09] #8427 closed

[2018-10-31 01:53] dgutzeit commented on #3778
The whole ecosystem around QUIC is much more mature now, seems like a good time to put some effort in it, on top of  Netty. https://github.com/quicwg/base-drafts/wiki/Implementations

[2018-10-31 08:15] normanmaurer commented on #8429
@Bennett-Lynch https://github.com/netty/netty/pull/8448 PTAL

[2018-10-31 08:21] normanmaurer commented on #3778
This is definitely something I would love to see but I have no cycles atm. That said I would be more then happy to review contributions related to this

[2018-10-31 09:23] cube7410 opened #8449 "netty RxtxChannel writeAndFlush delay times"
I made a serial communication program using **netty 5.0.0.Alpha2**  and **Java 1.8.**
when using this program to write data to serial, a long delay time occurs(about 1 ~ 2 seconds)

this is my source code

**1. SerialConnect.java**
[code]
 **2. SerialChannelInitializer.java**
[code]
**3. SerialReadTimeoutHandler**
[code]
**(console)**
[code]

what did i miss?

[2018-10-31 11:41] amizurov commented on #8390
Is ```MessageToMessageEncoder<T>``` not suitable for this situation ?

[2018-10-31 17:10] bryce-anderson commented on #8434
That's right, for a server, a RST is still necessary if the first response headers fail to write.

So what is a way forward on this? The `HpackEncoder` throws a synchronous `StreamException` which feels like the right channel to deal with this. The problem is that we can't throw it out of the `FrameWriter.writeHeaders` method and thus it must go in the promise. The `DefaultHttp2ConnectionEncoder`

[2018-11-01 07:45] normanmaurer commented on #8449
you will need to tune the `RxtxChannelOption.WAIT_TIME` and `RxtxChannelOption.READ_TIMEOUT` params. That said you should also use 4.1.x. Also `RXTX` was deprecated and will be removed in the next major version.

[2018-11-01 07:45] #8449 closed

[2018-11-01 08:53] cube7410 commented on #8449
thank for your help! i know it will be removed in the next version, but i was very urgent.... now we have changed the version and are using another channel instead of RxtxChannel.

I'm using Google Translate and I can not express well, but I really appreciate it.

[2018-11-01 16:15] ivanangelov opened #8453 "Memory leak in Netty proxy server using two different EventLoopGroups"
We have a situation with the Netty framework and think that you could help us with it.

**Scenario:**
I have a backend application running on tomcat. On a get request, the application server generates a 30MB file and returns a response which contains it.

I create a proxy server using the Netty framework. The idea is that when a client (browser/Postman) makes a request to the application, the requ

[2018-11-01 18:05] Bhashinee opened #8455 "Netty SSL Handler does not fail the SSL handshake even if the certificate is expired."
### Expected behavior
SSL handshake should fail if the certificate is expired.

### Actual behavior
SSL handshake does not fail even if the server sends an expired certificate to the client.

### Steps to reproduce
I have a client which uses netty SSL handler. I have used this site to test my SSL client.
https://badssl.com/

I have imported the certificate of  https://expired.badssl.com/ into my t

[2018-11-01 18:22] kedarw commented on #5070
Hi, I am also facing same issue. Is there plan to merge fix in any of upcoming releases?

Also others who faced same issue, found way to get around? Can you please describe what you did? Thanks in advance.

Just for reference exception I saw:

[code]

[2018-11-01 19:48] wojtas626 commented on #5070
@kedarw I found a workaround: https://github.com/TakahikoKawasaki/nv-websocket-client
This is websocket client library supporting wss and proxy. I replaced vertx websocket client with this. Works in production :)

[2018-11-02 05:38] wenweihu86 opened #8456 "happened refCnt exception when called channel.writeAndFlush().awaitUninterruptibly()"
### Expected behavior
send success or failed, but not refCnt Exception.
### Actual behavior
WARN  io.netty.channel.ChannelOutboundBuffer - Failed to mark a promise as success because it has failed already: DefaultChannelPromise@51bf6f4d(failure: io.netty.handler.codec.EncoderException: io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1), unnotified cause:
io.netty.handler.codec.

[2018-11-02 05:39] wenweihu86 commented on #8456
my client handler extends SimpleChannelInboundHandler, and not release byte buf

[2018-11-02 07:12] #7695 closed

[2018-11-02 07:13] normanmaurer commented on #8456
Please show your handler code

[2018-11-02 07:14] normanmaurer commented on #8455
@Bhashinee I suspect your configuration of `SSLContext` is not correct. Netty itself just does what the `SSLEngine` tells it to do. So there is really nothing we can do here. For how to probably configure your SSLEngine please refer to the documentation on it

[2018-11-02 07:14] #8455 closed

[2018-11-02 07:16] normanmaurer commented on #8310
@houbic yes...

Closing the issue as there is a way to control it.

[2018-11-02 07:16] #8310 closed

[2018-11-02 08:13] normanmaurer commented on #8453
I would need to see the code but that said it should work even with PooledByteBufAllocator. Maybe you should try to run with the higher LeakDetector level (like paranoid) to understand if there are any leaks.

[2018-11-02 09:04] johnou commented on #8455
Why are you creating a client SSL engine with `setUseClientMode(false)`?

you might consider an approach like this

[code]

[2018-11-02 12:34] ivanangelov commented on #8453
The code can be found here: https://github.com/ivanangelov/netty-proxy-server

If you want you can download the code and test the different scenarios.
I also reproduced the issue with Netty 4.1.31.Final.

I run the ProxyServer with the following VM arguments:
 -Xmx256m -XX:MaxDirectMemorySize=256m

When I run the code with LeakDetector level paranoid (-Dio.netty.leakDetectionLevel=paranoid) the is

[2018-11-02 14:36] Bhashinee commented on #8455
Thank you very much for the responses. I tested it with the HttpSnoopClient which is given as an http example client.

SnoopClient class
[code]
I set the SNI parameters for the ssl engine in HttpSnoopClientInitializer.
HttpSnoopClientInitializer

[code]

This should fail the SSL handshake because the certificate is expired. But the SSL handshake does not fail.

[2018-11-02 14:45] johnou commented on #8455
for SNI better if you swap out `SslHandler x = sslCtx.newHandler(ch.alloc());` with `SslHandler x = sslCtx.newHandler(ch.alloc(), "expired.badssl.com", 443);`

[2018-11-02 15:23] doom369 opened #8458 "java.lang.IllegalArgumentException: TLSv1.3 when trying to perform https request to Facebook"
Not sure this is the netty issue as TLS should be disabled by default as read in the release notes. But maybe it is not. Stack:

[code]

Happens on our QA when the user tries to login via facebook.

[code]

[code]

The request is performed with async-http-client (async http client uses 4.1.30 version, could be a reason.). FYI @slandelle

[2018-11-02 15:28] doom369 commented on #8458
@normanmaurer ok, I'll try to enable TLS 1.3 for now as quick fix.

[2018-11-02 15:30] normanmaurer commented on #8458
This will only work with java11 tho and not sure if it will Workman general

[2018-11-02 15:31] normanmaurer commented on #8458
MaBe the easiest would be to just use 4.1.31 there as well

[2018-11-02 15:49] doom369 commented on #8458
@normanmaurer yeap. Exclusions helped.

[2018-11-02 15:49] #8458 closed

[2018-11-02 17:39] kedarw commented on #5070
Thanks @wojtas626, appreciate your help. I will try nv-websocket-client.

[2018-11-03 01:42] Bhashinee commented on #8455
@johnou Thank you very much for that information. It is easier than what I did. :)
However, shouldn't this SSL handshake need to be failed as it is an expired certificate?

[2018-11-03 09:36] #8429 closed

[2018-11-04 01:23] zhangyungen opened #8460 "io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 7449083911, max: 7460618240)"
### Expected behavior
normal  running

and i had  boot config

 -Dio.netty.leakDetectionLevel=advanced -Dio.netty.noPreferDirect=true -Dio.netty.allocator.type=unpooled -Dio.netty.maxDirectMemory=16G

### Actual behavior
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 7449083911, max: 7460618240)

detail

io.netty.util.internal.OutOfDirect

[2018-11-04 07:04] Sudheerkumar commented on #6933
Hi, I have JDK 9 and took the latest sample from the developer blog. Still I get a Connection Timed Out error.  Do I have to update anything ?

[2018-11-05 01:46] Bhashinee opened #8461 "Netty SSL Handler does not fail the SSL handshake even if the certificate is expired"
### Expected behavior
SSL handshake should fail if the certificate is expired.

### Steps to reproduce
I have a client which uses netty SSL handler. I have used this site to test my SSL client.
https://badssl.com/
I tested it with the HttpSnoopClient which is given as an HTTP example client in Netty. I exported the certificate of https://expired.badssl.com/ and used it for building the SslContext.

[2018-11-05 07:26] #8460 closed, assigned to nobody

[2018-11-05 12:19] carryxyh opened #8462 "A question about DefaultResourceLeak's constructor"
Hi, community
In the constructor of DefaultResourceLeak, I see this sentence: It's important that we not store a reference to the referent as this would disallow it from be collected via the WeakReference.

However, allLeaks.put(this, LeakEntry.INSTANCE); put 'this' as the key, which will cause the relationship of allLeaks -> DefaultResourceLeak to always exist, which does not match the descriptio

[2018-11-05 12:33] JStroom opened #8463 "Java 11: javax.net.ssl.SSLException not 'swallowed' when log level is set to Debug"
### Expected behavior
No "javax.net.ssl.SSLException: closing inbound before receiving peer's close_notify" is thrown when running a netty application with Java 11 and log level set to debug.

### Actual behavior
The following exception is logged with Java 11 and netty in log level debug:
SSLEngine.closeInbound() raised an exception.
javax.net.ssl.SSLException: closing inbound before receiving pee

[2018-11-05 12:40] carryxyh commented on #8462
[code]

The code means that no matter which sentence I delete or doc it, I get the same result (print true)

[2018-11-05 12:42] normanmaurer commented on #8463
@JStroom I think we should also keep the old `contains` check but also add the new one.

Are you interested in doing a PR ?

[2018-11-05 13:31] rkapsi commented on #8461
What happens if you change

[code]
... to ...

[code]

Conceptually though, an expired certificate doesn't mean it can no longer be used. It only means that it cannot be implicitly trusted and it boils down to business logic how you want to handle it. Same deal as with self-signed certificates et al.

[2018-11-05 13:56] JStroom commented on #8463
@normanmaurer Sounds like a plan to keep the old contains and add a new one for Java 11.
Sure, I'm interested in doing a PR. I'll follow the developer guideline and submit the PR later this week.

[2018-11-05 14:42] normanmaurer commented on #8463
@JStroom thanks!

[2018-11-05 20:16] normanmaurer commented on #8462
@carryxyh the comment is correct...

[code]

The referent is the Object that is passed into the constructor here (and not `this`).

[2018-11-05 20:16] #8462 closed

[2018-11-06 01:56] carryxyh commented on #8462
Thank you for your reply.
After I got home last night, I thought about this problem and I understand it. As you said, I understand the reference as 'this', but it should actually be Object.
Thank you.

[2018-11-06 03:48] bjsuo opened #8466 "HttpPostRequestDecoder has ResourceLeak"
### error
 ERROR io.netty.util.ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.
io/wiki/reference-counted-objects.html for more information.
Recent access records:
#1:
        io.netty.buffer.AdvancedLeakAwareByteBuf.copy(AdvancedLeakAwareByteBuf.java:700)
        io.netty.handler.codec.http.multipart.HttpPostStandardRequestDecoder.pars

[2018-11-06 06:18] zzy1fd commented on #8179
How can we solve this problem

[2018-11-06 10:21] normanmaurer commented on #8461
@Bhashinee just implement your own `TrustManagerFactory` or not specify the cert when building ? Doesn't `sslCtx = SslContextBuilder.forClient().build()` give you exactly what you are asking for ?

[2018-11-06 15:37] Bhashinee commented on #8461
@normanmaurer  @rkapsi  Thank you very much for the information. :)
I was looking for a way to achieve that with a given certificate so that the SSL handshake will only happen if the given certificate is valid.

[2018-11-06 17:54] ejona86 commented on #8434
I was suggesting swallowing the message in the old API, not in Http2MultiplexCodec. That should resolve most races.

[2018-11-07 11:16] wenweihu86 opened #8474 "bytebuf reference count bug?"
### Expected behavior
    private int addComponent0(boolean increaseWriterIndex, int cIndex, ByteBuf buffer) {
        assert buffer != null;
        boolean wasAdded = false;
        try {
            checkComponentIndex(cIndex);

            int readableBytes = buffer.readableBytes();

            // No need to consolidate - just add a component to the list.
            @SuppressWarnings("deprec

[2018-11-07 11:17] normanmaurer commented on #8474
@wenweihu86 can you please add a unit test that shows the problem ?

[2018-11-07 12:25] vietj opened #8475 "NioEventLoop task execution might throw UnsupportedOperationException on shutdown"
### Expected behavior
Execution instead throws `RejectedExecutionException`.

### Actual behavior
There is a racy `UnsupportedOperationException` instead because the task removal is delegated to `MpscChunkedArrayQueue` that does not support removal. This happens with `SingleThreadEventExecutor` that overrides the `newTaskQueue` to return an MPSC queue instead of the `LinkedBlockingQueue` returned

[2018-11-07 12:55] wenweihu86 commented on #8474
@normanmaurer unit test can not recurrent the problem.
it has very small probability to happen under large pressure test.

[2018-11-07 12:57] normanmaurer commented on #8474
@wenweihu86 then you will need to give me more details... I dont understand what the problem is.

[2018-11-07 13:31] normanmaurer commented on #8475
@vietj thanks! Will provide a fix soon.

[2018-11-07 20:59] rkapsi opened #8477 "SSLSession#getCipherSuite() returns SSL_NULL_WITH_NULL_NULL with TLS 1.3"
I have a `FutureListener` which I'm adding to `SslHandler#handshakeFuture()` with the purpose gathering statistics on TLS protocols and ciphers. Something like this:

[code]

It appears the reported cipher suite as returned by `SSLSession#getCipherSuite()` remains `SSL_NULL_WITH_NULL_NULL` in conjunction with TLS 1.3. It works fine with TLS 1.2 and the handshake itself is fine otherwise.

### Expe

[2018-11-07 21:01] normanmaurer commented on #8477
@rkapsi which netty-tcnative artifact ?

[2018-11-07 21:03] rkapsi commented on #8477
@normanmaurer ah yes, a custom static build (Linux) from 2.0.19 (this [commit](https://github.com/netty/netty-tcnative/commit/9406285cbd942938a91239293dfb87fe0def4146) to be exact)

[2018-11-07 21:04] normanmaurer commented on #8477
@rkapsi against openssl or BoringSSL ?

[2018-11-07 21:04] rkapsi commented on #8477
openssl

[2018-11-07 21:08] rkapsi commented on #8477
... just gave a spin with BoringSSL (built from same commit), appears to work as expected.

[2018-11-07 21:09] normanmaurer commented on #8477
hmm interesting

[2018-11-08 02:06] wenweihu86 commented on #8474
my code is as following:
ByteBuf outBuf = Unpooled.wrappedBuffer(headerBuf, metaBuf, bodyBuf);
ctx.channel.writeAndFlush(outBuf);

and then it throws exception at this line:
CompositeByteBuf.java:285

the exception is
io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1

[2018-11-08 05:34] njhill commented on #8474
@wenweihu86 could you provide a bit more detail than that.. specifically
- how are headerBuf, metaBuf, bodyBuf created, do more than one of them derive from a common buffer?
- are any of them or any buffer they are derived from used in any way after being wrapped?
- a more complete stacktrace of the exception

[2018-11-08 06:09] wenweihu86 commented on #8474
@njhill headerBuf, metaBuf, bodyBuf is created as following:
ByteBuf headerBuf = Unpooled.buffer(12);
ByteBuf metaBuf = Unpooled.wrappedBuffer(new byte[128]);
ByteBuf bodyBuf = Unpooled.wrappedBuffer(new byte[256]);
ByteBuf outBuf = Unpooled.wrappedBuffer(headerBuf, metaBuf, bodyBuf);
ctx.channel.writeAndFlush(outBuf);

outBuf may be send multi times when need to retry rpc request.
originally, i f

[2018-11-08 06:32] njhill commented on #8474
@wenweihu86 so it sounds like you found the source of the issue and have now resolved it (writing multiple times without retaining), is that correct?

I can't see how that could happen given the code example you provided. It is likely you are referring to some different code where you wrap the same buffer(s) more than once without retaining them first.

[2018-11-08 07:30] normanmaurer commented on #8477
@rkapsi what exact openssl version this is ?

[2018-11-08 07:33] wenweihu86 commented on #8474
@njhill Yes, I have solved the problem.
But I just don't know why it crashed at that line, maybe as your said reason.

[2018-11-08 07:40] normanmaurer commented on #8474
closing

[2018-11-08 07:40] #8474 closed

[2018-11-08 09:27] jasonSuzhow opened #8478 "My Android App netty-all-4.1.23.Final.jar change to 4.1.31.Final.jar and show this wrong, just show this log"
this is the log:::::::::::
`I: Rejecting re-init on previously-failed class java.lang.Class<io.netty.util.internal.logging.Log4J2Logger>: java.lang.NoClassDefFoundError: Failed resolution of: Lorg/apache/logging/log4j/spi/ExtendedLoggerWrapper;
I:     at io.netty.util.internal.logging.InternalLoggerFactory io.netty.util.internal.logging.InternalLoggerFactory.newDefaultFactory(java.lang.String) (In

[2018-11-08 09:29] normanmaurer commented on #8478
@jasonSuzhow are you sure you use the correct log4j2 version ?

[2018-11-08 09:34] jasonSuzhow commented on #8478
My peoject don't configure this log4j2, and i dont know how to change this.
![image](https://user-images.githubusercontent.com/13963143/48190029-8add2a00-e37c-11e8-82d4-6b25ccbf7001.png)
i searched my project, just find this

[2018-11-08 15:23] rkapsi commented on #8477
`OpenSSL 1.1.1  11 Sep 2018`

https://github.com/netty/netty-tcnative/blob/master/pom.xml#L72-L75

[2018-11-08 15:39] rkapsi commented on #8477
Here's a repro...

[code]
[code]

[2018-11-08 15:50] normanmaurer commented on #8477
Will check

[2018-11-08 17:03] Gerrrr commented on #8152
It looks like the issue is still present in 4.0.

I ran the tests from https://github.com/netty/netty/pull/8153/files#diff-21be031058403699535d72fa9ea7548fR242 against 4.0 (https://github.com/Gerrrr/netty/commit/69cefda98abf6afe7eaf35b7b0db0e95e28a7f19) and got are two failures:

[code]

[2018-11-08 17:41] johnou commented on #8152
@Gerrrr 4.0 is EOL, try updating to 4.1.

[2018-11-08 19:15] tbrooks8 opened #8479 "SSLHandler can fail if writes occur before `channelActive` fired"
### Expected behavior

Attempting to write to a channel with an SslHandler when the `channel.writeable.isWritable()` returns true should be allowed.

### Actual behavior

If you attempt to write to a channel with an `SslHandler` prior to `channelActive` being called you can hit an assertion. In particular - if you write to a channel it forces some handshaking (through flush calls) to occur. If the

[2018-11-08 19:19] bryce-anderson opened #8480 "Http2StreamFrameToHttpObjectCodec is marked @Sharable but is mutated by channel specific state"
### Expected behavior

The `Http2StreamFrameToHttpObjectCodec` is either _not_ `@Sharable` _or_ it doesn't mutate its `scheme` field when added to a pipeline as it currently does [here](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2StreamFrameToHttpObjectCodec.java#L221).

### Netty version

4.1 as of SHA 8a24df88a4ff55.

[2018-11-08 19:53] normanmaurer commented on #8480
@bryce-anderson ouch... yes this is not good :( That said I suspect there will most likely not a lot of problems in real world use-cases as you either use SSL or not for all Channel (sharing between different parent Channels seems very unlikely).

That said we should fix. I guess an attribute on the parent channel should do.

[2018-11-08 19:55] normanmaurer commented on #8479
@tbrooks8 thanks... I will try to find some time to fix this or if you are interested in providing a PR I am happy to review as well :)

[2018-11-08 20:21] bryce-anderson commented on #8480
I also don't think it's a serious problem. In Finagle we simply make one per-channel. The only reason I found this is what I was about to cache instances of these and happened to notice that the `scheme` field was mutated after construction.

I'll put up a patch.

[2018-11-09 01:42] tbrooks8 commented on #8479
I might have time tomorrow to put together a PR. I'll let you know.

[2018-11-09 01:56] strongmanwj opened #8483 "some problems with netty debug log"
### Expected behavior
netty can print rigth debug log with its parameter.
### Actual behavior
can not print its parameter.
[DEBUG][2018-11-08 16:26:58,872][io.netty.util.internal.logging.InternalLoggerFactory]Using SLF4J as the default logging framework
[DEBUG][2018-11-08 16:26:58,882][io.netty.channel.MultithreadEventLoopGroup]-Dio.netty.eventLoopThreads: {}
[DEBUG][2018-11-08 16:26:58,913][io.ne

[2018-11-09 07:51] normanmaurer commented on #8477
@rkapsi ok I found the problem... let me work on a fix.

[2018-11-09 14:21] normanmaurer commented on #8479
Should be fixed by https://github.com/netty/netty/pull/8486

[2018-11-09 15:02] arukshani opened #8488 "Disable direct buffer usage and enable only heap buffers"
### Actual behavior
I have disabled the direct buffer usage with the following properties. But it seems somehow netty still uses direct buffer with `DefaultMaxMessagesRecvByteBufAllocator`.
[code]
 Is there a way to completely disable direct buffer usage and enable only heap buffers so that instead of  the following`OutOfDirectMemoryError` I can get a heap dump?

`
[2018-11-09 19:50:06,484] ERROR

[2018-11-09 15:31] normanmaurer commented on #8488
@arukshani the problem is for some stuff you will still need direct memory. That said I guess for what you want to do it would be good enough to extend `AbstractByteBufAllocator` and be sure that `ioBuffer(...)` will call `heapBuffer(...)`

[2018-11-09 17:31] #8488 closed

[2018-11-09 18:56] normanmaurer commented on #8213
Closing as no follow up provided

[2018-11-09 18:56] #8213 closed

[2018-11-09 18:56] normanmaurer commented on #8199
@selop any more updates ?

[2018-11-09 18:58] normanmaurer commented on #8104
honestly I think this is not something we want to change. IF you need it you can implement it by yourself.

[2018-11-09 18:58] #8104 closed

[2018-11-09 18:59] normanmaurer commented on #8045
You need to call `destroy()` on the decoder.

[2018-11-09 18:59] #8045 closed

[2018-11-09 19:00] normanmaurer commented on #7788
@Scottmitch can you share your thinking here so maybe someone else can pick it up ?

[2018-11-09 19:01] normanmaurer commented on #7590
I will close this due no followup.

[2018-11-09 19:01] #7590 closed

[2018-11-09 19:06] normanmaurer commented on #7552
@chrisdutz do you have any update or should we close this ?

[2018-11-09 19:06] normanmaurer commented on #7443
@ldaley ping... can you verify with latest release ?

[2018-11-09 19:07] normanmaurer commented on #7346
@mosesn should we close this or what now ?

[2018-11-09 19:09] normanmaurer commented on #6649
Sorry but I still get what the issue is ... Please re-open with more details if you still think there is any issue

[2018-11-09 19:09] #6649 closed

[2018-11-09 19:10] normanmaurer commented on #6133
I will close this as we did not receive any reports like this for a long time, so I assume we fixed it.

[2018-11-09 19:10] #6133 closed

[2018-11-09 19:11] normanmaurer commented on #7231
I will close this as we did not receive any reports like this for a long time, so I assume we fixed it.

[2018-11-09 19:11] #7231 closed

[2018-11-09 19:11] normanmaurer commented on #5522
@CodingFabian are you still interested in fixing this ?

[2018-11-09 19:12] normanmaurer commented on #5334
Let me close this... I think we now have enough metrics for all our `ByteBufAllocator` implementations and also for our `EventLoop` implementations (both can be called from any thread now).

[2018-11-09 19:12] #5334 closed

[2018-11-09 19:13] normanmaurer commented on #5334
Please re-open if you can think of anything that is missing

[2018-11-09 19:13] normanmaurer commented on #4833
I think we fixed this a long time ago... Closing

[2018-11-09 19:13] #4833 closed

[2018-11-09 20:21] chrisdutz commented on #7552
Still working on it. Has just recently become higher priority for us at the PLC4X project. However I am asking a little finding out what's essential and what's not

[2018-11-10 02:00] Feri73 opened #8489 "testsuit-shading does not have dependency on netty.util.internal but uses it. build fails"
### Expected behavior
be able to build testsuit-shading !
### Actual behavior
[code]
### Steps to reproduce
try to build test-suit using mvn install or using "rebuild project" in intellij
### Netty version
4.1.32.Final-SNAPSHOT
### JVM version
1.8
### OS version
Windows 10

[2018-11-10 17:03] normanmaurer commented on #8489
Ah yeah... that's be cause its windows. Let me fix this.

[2018-11-10 17:20] normanmaurer commented on #8489
@Feri73 please check https://github.com/netty/netty/pull/8491

[2018-11-11 06:25] normanmaurer opened #8493 "Handshake timeout may never be scheduled if handshake starts via a flush"
Reported by @tbrooks8:

A client (like my case) initiates the handshake in a flush call. The client hello message is generated and flushed. The SSLEngine now returns a handshake status of NEED_UNWRAP.

The channelActive call happens, since the handshake status is not HandshakeStatus.NOT_HANDSHAKING (line 1740), the method returns immediately without scheduling a timeout. There is now no timeout fo

[2018-11-11 06:45] normanmaurer commented on #8493
The same is also true when `starttls` is used.

[2018-11-12 13:19] normanmaurer commented on #8478
So you say you don not include log4j at all ?

[2018-11-12 13:29] selop commented on #8199
@normanmaurer Sorry about the late reply. The problem could be that we have a Bouncycastle in the chain which also needs updates. I could not get a timeslot to further investigate this in the last couple of weeks.

[2018-11-12 13:32] normanmaurer commented on #8269
Closing as we do not plan to add something like this

[2018-11-12 13:32] #8269 closed

[2018-11-12 16:26] rkapsi opened #8495 "Some new leak/reference counting busted in 4.1.32"
I don't have much info yet and no local repro. I basically attempted to open up TLS 1.3 to a broader audience within our corp network and I started instantly getting `IllegalReferenceCountException` being thrown and and ERRORs from the `ResourceLeakDetector`. I don't think it's related to TLS 1.3 though.

1. I started out with your [ssl_cipher](https://github.com/netty/netty/pull/8485) branch. Bro

[2018-11-12 16:30] normanmaurer commented on #8495
@rkapsi so just to clarify... this only happens with 4.1.32.Final-SNAPSHOT correct ?

[2018-11-12 16:31] rkapsi commented on #8495
Correct, but I built the JAR myself instead of pulling it from maven central.

[2018-11-12 16:33] normanmaurer commented on #8495
@rkapsi I wonder what happens if you revert: 6563f23a9b72e0efa3b3ededd3bc2ee9911f7402 ?

[2018-11-12 16:34] normanmaurer commented on #8495
If this does not help my guess would be 44cca1a26f5c395420111fafa122bed5aeecfeb7 . Could you try both ?

[2018-11-12 16:54] rkapsi commented on #8495
It's not 6563f23, trying the other change now.

[2018-11-12 17:33] rkapsi commented on #8495
And it's also not 44cca1a. To summarize, reverting 6563f23 has no effect (error is present) and 44cca1a is good (no error).

... going to bisect that range.

[2018-11-12 18:10] normanmaurer commented on #8495
My bet is on this one now https://github.com/netty/netty/commit/10539f4dc738c48e8d63c46b72ca32906d7f40ec

[2018-11-12 18:14] normanmaurer commented on #8495
Thanks and let me know once you find anything

[2018-11-12 18:44] rkapsi commented on #8495
Bisect says...

[code]

[2018-11-12 19:10] Feri73 opened #8496 "Why dependencies to common and buffer are transitive?"
Many of the modules use common and buffer directly (for example by defining a variable of a type declared in buffer module). However, they do not have explicit dependency to these modules (in maven) and the jars are added because of transitivity of dependencies. What is the reason? Isn't it a good practice to explicitly define these kind of dependencies?

[2018-11-12 19:59] #8489 closed

[2018-11-12 20:17] normanmaurer commented on #8495
@rkapsi thanks will check... @njhill FYI

[2018-11-12 20:54] normanmaurer commented on #8496
Yes you are right. We love PRs

[2018-11-12 21:20] ruslan-belinskyy commented on #7733
Have the same issue for VertX 3.5.4 running on top of Netty 4.1.31.Final when loading application via Apache JMeter.
It's second project where i have this issue, luckily this time in test and not in PROD.

`15:56:09.048 [vert.x-eventloop-thread-0] DEBUG io.netty.handler.ssl.SslHandler - [id: 0xa0974742, L:/127.0.0.1:9443 - R:/127.0.0.1:61219] Swallowing a harmless 'connection reset by peer / broke

[2018-11-12 21:36] njhill commented on #8495
Current hypothesis is that the problem is with the unwrapping optimization done specifically in the `PooledSlicedByteBuf` case. I think there may be ref-counting behaviour not properly preserved. I will try to do simple repro based on this and if it _is_ the problem then an easy worst-case fix is just to remove this `else if` block: https://github.com/netty/netty/blob/88e4817cefb4b4d092e4f6a12f059

[2018-11-12 23:10] njhill commented on #8495
@normanmaurer @rkapsi PTAL at #8497

[2018-11-13 05:43] pez1420 opened #8498 "java.lang.NoClassDefFoundError: io/netty/bootstrap/FailedChannel"
### Expected behavior

### Actual behavior
[code]
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4..1.25.final

### JVM version (e.g. `java -version`)
Java HotSpot(TM) 64-Bit Server VM (build 24.75-b04, mixed mode)

### OS version (e.g. `uname -a`)
Linux hz-bd-gw-199-137-181 3.10.0-862.11.6.el7.x86_64 #1 SMP Tue Aug 14 21:49:04 UTC 2018 x86_64

[2018-11-13 06:31] normanmaurer commented on #8498
Seems like you have a mix of different netty versions on your class path. Please ensure you use only one version for 4.x

[2018-11-13 06:31] #8498 closed

[2018-11-13 06:54] pez1420 commented on #8498
I am sure just only one netty version on my class path.

[2018-11-13 06:59] normanmaurer commented on #8498
@pez1420 there is definitely something wrong with your class path:

https://github.com/netty/netty/blob/netty-4.1.25.Final/transport/src/main/java/io/netty/bootstrap/FailedChannel.java

[2018-11-13 07:21] Andremoniy opened #8499 "AbstractChannel swallows potential errors by ignoring throwable"
### Expected behavior

AbstractChannel::localAddress() & AbstractChannel::remoteAddress() should not ignore and silently skip errors happened during their invocation.

### Actual behavior

AbstractChannel::localAddress() & AbstractChannel::remoteAddress() both contain such a block of code:

`
            } catch (Throwable t) {
                // Sometimes fails on a closed socket in Windows.

[2018-11-13 07:24] Andremoniy opened #8501 "In case of connection issue channel.remoteAddress() returns null"
### Expected behavior

It should return the request address, which is correctly passed into the `AnnotatedConnectionException`:

`
        protected final Throwable annotateConnectException(Throwable cause, SocketAddress remoteAddress) {
...
}
`

### Actual behavior

It returns `null` when trying to get it from the channel on receiving an exception.

### Steps to reproduce

### Minimal yet complet

[2018-11-13 07:33] MrSummer33 opened #8503 "Netty/Transport/Native/Unix/Common build failure"
### Expected behavior
build success
### Actual behavior
an ant BuildException has occured
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.26.Final-SNAPSHO
### JVM version (e.g. `java -version`)
jdk 1.8
### OS version (e.g. `uname -a`)
mac

[2018-11-13 07:34] MrSummer33 commented on #8503
***the exception log***
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-antrun-plugin:1.8:run (build-native-lib) on project netty-transport-native-unix-common: An Ant BuildException has occured: exec returned: 1
[ERROR] around Ant part ...<exec resolveexecutable="true" failonerror="true" executable="make">... @ 4:71 in /Users/xiaxi/Documents/MrSummer33/netty/transport-native-unix-com

[2018-11-13 07:43] rohitsahay2000 commented on #327
Facing the same. Is this resolved?

[2018-11-13 07:53] Andremoniy commented on #8501
This is not actually a bug, because the spec states that the method returns `null` if the channel is not connected:

But could be an improvement because it is useful to have this information in some error handlers.

[2018-11-13 08:56] #8501 closed

[2018-11-13 10:13] Andremoniy opened #8504 "Expose requestedRemoteAddress in the Channel interface (improvement)"
### Expected behavior

Most part of Channel abstract implementations contain `requestedRemoteAddress` object variable, which might be useful for debug purposes. When channel fails to connect in certain circumstances we lose information about what has been requested connect to.

### Actual behavior

`Channel` interface should expose `requestedRemoteAddress()` getter method

### Steps to reproduce

[2018-11-13 12:22] #8504 closed

[2018-11-13 13:24] normanmaurer opened #8506 "[Netty 5] Operation / event ordering"
In general events are processed immediately in the `Channel/ChannelPipeline` if we are on the `EventLoop` thread, and they are processed later on the `EventLoop` if we are not. This creates ordering issues when operating inside and outside the `EventLoop`.
The problem with “fixing” it is that we will pay a high-price even if such a “fix” is not needed for some cases. There are multiple different i

[2018-11-13 13:25] normanmaurer opened #8507 "[Netty 5] Semantics of error propagation for outbound events"
In general outbound exceptions are propagated through a `Future`. However this is not always the case. For example `flush()` and `read()` may throw an exception but they don't currently return a Future. So if an exception is thrown it maybe propagated through the `ChannelPipeline`, but this is typically only for inbound events. Throwing an exception from `flush()` may occur if a handler queues wri

[2018-11-13 13:26] normanmaurer opened #8508 "[Netty 5] AttributeMap removal"
We want to remove the `AttributeMap` and also the `attr(...)` method from the `Channel` / `ChannelHandlerContext`.

There are two possibilities for this:
 * provide another way to map things to a `Channel`. How exactly this is done is not clear yet, but perhaps the extensibility improvements will allow for wrapping the `Channel`, or state can be kept in a `ChannelHandler`.
 * Just don't offer a re

[2018-11-13 13:27] normanmaurer opened #8509 "[Netty 5] Half Closure"
Half closure is not exposed as a first class citizen in the channel APIs. This leads to inconsistent, and often buggy code, related to handling half closed state. Should we make half closed a more first class concept in the new APIs? This concepts exists in most modern full duplex protocols, and may be simulated via the methods returning the same value otherwise. The confusion is compounded becaus

[2018-11-13 13:28] normanmaurer opened #8510 "[Netty 5] OIO Transport removal"
This transport is unique because it uses Java's blocking IO (`java.io` / `java.net`) under the hood. However it is not clear if this transport is actually useful so it should be removed.

The same would be true for all transports that sub-class OIO.

[2018-11-13 13:30] normanmaurer opened #8511 "[Netty5] ChannelPipeline mutating methods signature"
All the methods that mutate the `ChannelPipeline` are currently “synchronous”. This means all manipulation of the pipeline must complete before modifier methods return, and the`ChannelPipeline` implementation must therefore account for concurrency. All of the interaction with the `ChannelPipeline` is inside the `EventLoop` and we can therefore delay modification until we are in the `EventLoop`. Th

[2018-11-13 13:30] normanmaurer opened #8512 "[Netty 5] ChannelHandler execution"
ChannelPipeline `add*(...)` / `replace(...)` support using a different `EventExecutor` for a `ChannelHandler`. This complicates the propagation of events through the `ChannelPipeline` and adds some additional overhead. We would like to propose removing this from the core and instead introduce a `ChannelHandler` which can offload to another EventLoop if necessary.
We want to remove the “feature” of

[2018-11-13 13:31] normanmaurer opened #8513 "[Netty 5] EventLoop and Channel contract"
At the moment it’s possible to have a `Channel` in Netty that is not registered / assigned to an `EventLoop` until `register(...)` is called. This is suboptimal as if the `Channel` is not registered it is also not possible to do anything useful with a `ChannelFuture` that belongs to the `Channel`. We should think about if we should have the `EventLoop` as a constructor argument of a `Channel` and

[2018-11-13 13:35] normanmaurer opened #8514 "[Netty 5] EventLoop(Group) / EventExecutor(Group) extensibility"
The `EventLoop` and `Channel` implementations are very tightly coupled, and the `EventLoop` also has some factory methods internally which don't facilitate wrapping. We should make sure the ?`EventLoop` and `EventExecutor` APIs support wrapping so users can maintain metrics and otherwise extend the capability of existing implementations.
Extending event loops such as `EpollEventLoop` would allow a

[2018-11-13 13:36] normanmaurer opened #8515 "[Netty 5] Future Generics cleanup / simplification"
The generic type parameters for `Future`s should be investigated and fixed. For example the generic parameter on `GenericFutureListener` are overly complicated and make effective usage of the generic parameters difficult without a subtype of `Future`.

[2018-11-13 13:38] normanmaurer opened #8516 "[Netty 5] ChannelFuture type"
This special type of Future is associated with a `Channel`. However it is not always necessary to have this association and we may be able to remove this type entirely to simplify the type hierarchy. One specific complication with this is the `Bootstrap` has to return a `ChannelFuture`, but it may not have a `Channel` if the operation fails.

We proposed a complete removal of `ChannelFuture` in th

[2018-11-13 13:40] normanmaurer opened #8517 "[Netty 5] DefaultChannelPromise / DefaultPromise threading"
`DefaultPromise` requires an `EventExecutor` which provides the thread to notify listeners on. `DefaultPromise` currently accounts for the `EventExecutor` being able to change during its lifetime. This complicates the implementation of `DefaultPromise` and in many cases would violate assumptions of the listeners if the thread did change. If we are able to drop support for Channel deregister/re-reg

[2018-11-13 13:40] normanmaurer commented on #8517
This depends on #8513

[2018-11-13 13:41] normanmaurer opened #8518 "[Netty 5] VoidChannelPromise / VoidPromise abstraction"
This class exists to reduce the overhead of listener notification and maintaining the collections to maintain listeners. However the implementation is viral in that it often requires specific knowledge of the `VoidChannelPromise` type in order to avoid exceptions being thrown in code paths which attempt to add listeners (via `isVoid` and `unVoid` on the `ChannelFuture`|`ChannelPromise`] API).
We w

[2018-11-13 13:42] normanmaurer opened #8519 "[Netty 5] ProgressiveChannelPromise / ProgressivePromise"
This special case implementation of `ProgressivePromise` requires the implementations responsible for completing the promise to have knowledge of this class to provide value. It also requires that the implementations are able to provide intermediate status while the work is being done. It is assumed this `Promise` type is not widely used and is not widely supported throughout the core of Netty. We

[2018-11-13 13:43] normanmaurer opened #8520 "[Netty 5] Netty Future should not extend java.util.concurrent.Future"
Netty’s `Future` interface extends `java.util.concurrent.Future`. This requires implementing some methods which are more prevalent in blocking applications (e.g. `get(..)`), and also brings some semantics that we may want to avoid (e.g. https://github.com/netty/netty/issues/7712 ).

Nettys `Future` should not extend `java.util.concurrent.Future` and not provide a means to block. We will provide a

[2018-11-13 13:44] normanmaurer opened #8521 "[Netty 5] DefaultPromise may throw checked exceptions that are not advertised"
At the moment all `sync*` methods that are implemented by `DefaultPromise` may throw checked exceptions which are not adviced. This is bad for multiple reasons. We should just wrap the checked exceptions with a `RuntimeException`.

[2018-11-13 13:44] normanmaurer opened #8522 "[Netty 5]: Promise should not extend Future"
Netty’s `Promise` currently extends Netty’s `Future` interface. A common practice is to separate concerns between the `Promise` (writer view) and the `Future` (reader view). The `Promise` can have a method which provides the `Future` view of that `Promise`, but doesn’t necessarily have to extend `Future`.

We want to change this to match what is often done by have these separate interfaces but all

[2018-11-13 13:45] normanmaurer opened #8523 "[Netty 5] More composable Future API"
Netty’s `Future` API has an `addListener` method which is the primary means of asynchronous notification. However this API is not composable and can lead to manually moving/aggregating/manipulating data. For example providing a `map` API to transform data from one type to another, and also methods like `onSuccess` and `onFailure` which allows `Future`s to be chained and results to be modified alon

[2018-11-13 13:46] normanmaurer opened #8524 "[Netty 5] Future cancellation"
Cancellation on the `Future` API has different meanings for different use cases. For example in I/O at some point we disable cancellation, and often have conditional checks spread throughout the code to check if a `Future` is still cancellable. However for scheduled operations cancellation may always be valid. Cancellation creates complexity in the I/O path and may not even make sense for ordered

[2018-11-13 13:46] slandelle commented on #8508
@normanmaurer Why? What's the issue?

[2018-11-13 13:48] normanmaurer commented on #8508
@slandelle the API is sometimes hard to use and not really gives a lot of advantages over just store the state in the ChannelHandler itself or use a `Map<ChannelId, Whatever>`.

[2018-11-13 13:49] normanmaurer opened #8525 "[Netty 5] Decoder/Encoder API"
`MessageToMessage` and `ByteToMessage` `encoder`/`decoder` require using an intermediate `List` to put results into. This intermediate list adds overhead (memory/CPU) which grows as the number of objects increases. This overhead can be avoided by directly propagating events through the `ChannelPipeline`.

We will remove the intermediate `List`, and rely upon lower level queues that are already in

[2018-11-13 13:49] normanmaurer opened #8526 "[Netty 5] HttpClientCodec (and other Codec classes) cleanup / removal"
The `*Codec` classes often provide a lightweight wrapper around the `Encoder`/`Decoder` for the current protocol.
We will remove the `*Codec` classes in cases where the main purpose is just to insert `encoder`/`decoder`.

[2018-11-13 13:50] normanmaurer opened #8527 "[Netty 5] ChannelOutboundHandler and exceptionCaught"
Outbound errors are typically propagated through the `Future` corresponding to the outbound error (with the exception of `flush()`/`read()`). However the `ChannelOutboundHandler` has an `exceptionCaught` method because it extends `ChannelHandler` which also has `exceptionCaught`.

`exceptionCaught` will be removed from `ChannelOutboundHandler`, which means we will move the method from `ChannelHand

[2018-11-13 13:52] normanmaurer opened #8528 "[Netty 5] HttpHeaders should extend Headers instead of Iterable"
As the heading says..

[2018-11-13 13:53] normanmaurer opened #8529 "[Netty 5] Drop support for WebSocket drafts"
Netty contains support for early websockets drafts but we should only support the final rfc

[2018-11-13 13:54] normanmaurer opened #8530 "[Netty 5] HTTP Cookies"
We should investigate a few changes to the `Cookies` API:

* Support Cookies with the same name as described in RFC-6265 (section 4.2.2)
* Investigate support of the SameSite attribute ( https://tools.ietf.org/html/draft-west-first-party-cookies-07 )

[2018-11-13 13:56] slandelle commented on #8508
@normanmaurer I agree that `AttributeMap` is not useful for `ChannelHandler`.

But I tend to disagree for `Channel`.

I use `AttributeMap` on `Channel` to store concurrent HTTP/2 streams count. Using a global map would actually make things more complicated: I would have to deal with concurrency and clean up (when channel gets closed so I don't leak memory).

[2018-11-13 13:58] slandelle commented on #8530
I can help with those :)

[2018-11-13 14:00] normanmaurer commented on #8508
@slandelle thats a good feedback :) What about providing something like `ChannelLocal` that we had in Netty 3 ?https://github.com/netty/netty/blob/3.10/src/main/java/org/jboss/netty/channel/ChannelLocal.java

[2018-11-13 14:03] normanmaurer opened #8531 "[Netty 5] FileRegion API"
Currently the `FileRegion` provides a way to transfer data to a `WritableByteChannel`. However this API is difficult to extend for JNI based transports and currently relies upon a `DefaultFileRegion` and reflection in JNI to get the file descriptor.

We will make the `FileRegion` API more friendly to JNI transports and more extensible. This includes investigating exposing the file descriptor in th

[2018-11-13 14:04] normanmaurer opened #8532 "[Netty 5] File EventLoop registration"
Files are currently handled differently than sockets. `ChunkedWriteHandler` is used to read files in chunks but doesn't pay any attention if data is available to read because there is no selector registration. We should unify the way `EventLoop`s handle files, and other file descriptor based entities. We should also investigate the same unification for writing data to files.

There are a few thing

[2018-11-13 14:05] normanmaurer opened #8533 "[Netty 5] Asynchronous File I/O"
Depending upon the OS implementation the standard system calls for FDs may result in blocking when those FDs are backed by on disk files (even if the FD is in non-blocking mode). Some OSes offer an asynchronous file API to avoid these issues and we should investigate using this in our native transports.

Datastax has async file code in a Netty fork and is eager to contribute it back to Netty core

[2018-11-13 14:07] normanmaurer opened #8534 "[Netty 5] ByteBuf should be an interface"
`ByteBuf` is currently an abstract class with no state. `CompositeByteBuf` is a concrete class and could be made to have no state. Before java 1.8 this allowed for evolving the interface over time, but java 1.8 provides support for default methods on interfaces. Having both of these classes be interfaces would make it easier to mock/wrap these classes and ensure all required methods are being impl

[2018-11-13 14:07] normanmaurer opened #8535 "[Netty 5] Remove mark indices support from ByteBuf"
`ByteBuf` supports “marker indexes”. The intended use case for these is if a speculative operation (e.g. decode) is in process the user can “mark” and interface and refer to it later if the operation isn’t successful (e.g. not enough data). However this is rarely used in practice,
requires extra memory to maintain, and introduces complexity in the state management for derived/pooled buffer initial

[2018-11-13 14:08] normanmaurer opened #8536 "[Netty 5] Default PooledByteBufAllocator configuration"
Default memory per chunk that the arena allocates is 16MB. We allocate 2 times number of arenas for direct and for heap buffers. This can be a large amount of memory for applications that may not need it. We should consider reducing the default values to reduce the initial memory footprint, and applications can tune the allocator if they need more chunks.

[2018-11-13 14:09] normanmaurer opened #8537 "[Netty 5] Enable hostname verification by default"
Not having hostname verification enabled can leave folks vulnerable to accepting certificates which are cryptographically valid, but may not be the intended peer.

[2018-11-13 14:10] normanmaurer opened #8538 "[Netty 5] Revisit SslContext"
We should revisit SslContext because:
* It has for backwards compatibility reasons grown a very strange inheritance.
* Allow different tcnative implementations to coexist.

[2018-11-13 14:11] normanmaurer opened #8539 "[Netty 5] Early data for TLSv1.3"
TLSv1.3 supports the concept of early data. We should add support for it.

[2018-11-13 14:13] normanmaurer opened #8540 "[Netty 5] Use Java11 as minimum Java version"
Netty 5 will move to Java 11 as minimum.

This is driven by the fact that we assume that the development of Netty 5 will take some time and for people that can not switch to Java11 there will still be support for netty 4.1.

[2018-11-13 14:15] normanmaurer opened #8541 "[Netty 5] Project Structure and Artifacts"
ee ​https://gist.github.com/Scottmitch/2ca3950f646c071952b868eb8cad5c56​ for more context in general

In general this includes multiple things which are kind of related:
- Versioning
 * We would like to follow SemVer more strictly. The goal is to more
effectively communicate when changes may be necessary to adapt changes, while also allowing us to break APIs more quickly. This may require breaking

[2018-11-13 14:16] slandelle commented on #8508
@normanmaurer Isn't ChannelLocal what was replaced by AttributeMap in Netty 4? I guess it was dropped/replaced for a reason. Maybe listener overhead?

The API could be simplified for sure, but I like the feature :)

[2018-11-13 14:16] normanmaurer opened #8542 "[Netty 5] Finalizer vs Cleaner vs ReferenceCounted"
We should investigate all usages of `Finalizer` and transition them to `Cleaner` or `ReferenceCounted`.

[2018-11-13 14:17] normanmaurer commented on #8542
This somewhat depends on #8540

[2018-11-13 14:18] slandelle commented on #8537
I can do this one.

[2018-11-13 14:20] normanmaurer opened #8543 "[Netty 5] Revisit ReferenceCounted"
We currently make heavy use of `ReferenceCounted` with netty. This especially true for our `ByteBuf` abstraction. We should revisit and see if this is still needed or if for example using the new `Cleaner` will be just good enough. Using reference counted APIs is hard and is especially confusing for people that dont have C background.

That said we need to ensure the performance hit (if any) that

[2018-11-13 14:21] normanmaurer commented on #8508
@slandelle yep it was... The reason was basically be cause @trustin and myself felt that it should be part of the `Channel` itself. That said I am not convinced of it anymore and it comes with a cost.

[2018-11-13 14:22] normanmaurer opened #8544 "[Netty 5] Transport/Protocol Multiplexing"
Some transports/protocols would benefit from being able to process events on multiple threads. For example some `UDP` based protocols (e.g. `QUIC`) naturally break down into divisible frames which we may be able to multiplex onto different threads. This concept doesn't exist as a first class citizen in Netty and is something we can support in the future.

[2018-11-13 14:23] normanmaurer opened #8545 "[Netty 5] Throwable handling"
Netty is an asynchronous framework, and often communicates status via `Future`s. Netty also has `ReferenceCounted` objects and must take care to release local memory. For these reasons Netty frequently catches `Throwable` objects in order to cleanup and make sure asynchronous control flow is correct. However we should consider propagating some of these exceptions (e.g. Error, OOM) when possible.

[2018-11-13 14:28] normanmaurer opened #8546 "[Netty 5] Visibility / Metrics"
Some visibility may be accomplished via Extensibility however there may also be visibility which is not easily inferred via Extensibility. Do we want to have something like a “Metrics SPI” for these events? Do we take another dependency? Should it be push/pull (see github discussion )?

More investigation is needed but we agreed that it would be nice to not bring in another dependency to the core.

[2018-11-13 14:28] normanmaurer opened #8547 "[Netty 5] Static configuration"
Netty uses static configuration, typically controlled via system properties, in many “lower level” classes. This can make configuration of Netty difficult to control from a programmatic stand point and also difficult to test. This is especially true if an application has multiple transitive dependencies on Netty and wants different behavior from each.

Where possible we should not use static confi

[2018-11-13 14:29] normanmaurer opened #8548 "[Netty 5] Is AsciiString still useful ?"
JDK 9+ includes JEP 254 Compact String which can use a `byte[]` instead of a char[] as the backing storage for `String` in some situations. The primary reason for introducing `AsciiString` was to reduce memory for storage of headers. We should investigate if `String` can now be used instead. We would likely have to wrap `String` to be able to override the `hashCode` algorithm to be case insensitiv

[2018-11-13 14:30] normanmaurer opened #8549 "[Netty 5] ChannelPool removal"
We will consider removing the ChannelPool and related implementations. It is often the case that having protocol knowledge can result in more effective pooling and `ChannelPool` currently doesn’t have this knowledge. This responsibility is assumed to be implemented at layers higher in the stack than Netty.

[2018-11-13 14:31] normanmaurer opened #8550 "[Netty 5] Compression/Decompression API"
We should investigate if we can make the API be usable without a `ChannelHandler` and so make it more general purpose.
We would like to remove `EmbeddedChannel` from the compression/decompression APIs.

[2018-11-13 14:32] normanmaurer opened #8551 "[Netty 5] DnsResolver"
Netty’s asynchronous DNS resolver APIs have organically grown over the lifetime of Netty 4.1 and continue to be unstable. The scope has increased from the original design to including but not limited to EDNS, redirects, IPv4 and IPv6 preferences, caching name servers, retry, parsing /etc/hosts and system configuration, observing query lifecycle events for visibility / load balancing. We should rev

[2018-11-13 14:32] s1monw commented on #8545
is this going to happen before the next bali trip?

[2018-11-13 14:33] s1monw commented on #8545
❤️

[2018-11-13 14:33] normanmaurer commented on #8545
@s1monw depends on when I will go to Bali next ;) Currently nothing is scheduled 🤣

[2018-11-13 14:34] normanmaurer opened #8552 "[Netty 5] Stabilize HTTP2 API"
We should remove the "old" HTTP2 API and make the new (Child channels) the only HTTP2 API. Beside this we should ensure we are able to remove the `@Unstable` annotation from the HTTP2 API.

[2018-11-13 15:30] johnou commented on #8535
@normanmaurer so if you had some code like this that reads ahead when decoding

[code]

I guess one could do something like this..

[code]

[2018-11-13 15:33] normanmaurer commented on #8535
@johnou yes or just store the original readerIndex and set it again if needed.

[2018-11-13 15:43] rkapsi commented on #8539
Is there anything special that needs to happen other than using Session Tickets (or IDs) in conjunction with TLS 1.3? I'm speaking in terms of server side, a client might require some extra work.

[2018-11-13 15:51] rkapsi commented on #8508
Alternatively use composition over inheritance and don't extend Channel from AttributeMap.

[2018-11-13 15:52] johnou commented on #8508
@normanmaurer you don't foresee any performance hit with `Map<ChannelId, Whatever>` vs a session object stored directly in the channel which can easily be referenced every read?

[2018-11-13 15:53] normanmaurer commented on #8508
@johnou I am not convinced that this is the right thing to use for every read. For every read you should store the state directly in the ChannelHandler IMHO.

[2018-11-13 16:18] johnou commented on #8508
@normanmaurer now I'm wondering why I didn't implement it with a ChannelHandler in the first place :wink:

[2018-11-13 16:39] johnou commented on #8514
This is particularly interesting to me, I have gone to a great deal of effort to lower overhead (writing only from the correct eventloop) with our server application, I wrote up a small explanation here https://github.com/netty/netty/issues/7020#issuecomment-388007409

[2018-11-13 17:38] rohitsahay2000 opened #8553 "High CPU Usage with NioEventLoopGroup"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-11-13 18:22] #8493 closed

[2018-11-13 18:23] ijuma commented on #8534
Also need to verify that performance doesn't suffer from using `invokeinterface` instead of `invokevirtual`.

[2018-11-13 18:29] rkapsi commented on #8524
What about scenarios as the following. Some heavyweight side task we want to execute on a dedicated but potentially constrained thread pool. Kind of embracing eventual consistency here. If a hypothetical client remains connected then it'll eventually produce the value. If a client disconnects though then we'd like to cancel the Future.

[code]

[2018-11-13 18:33] normanmaurer commented on #8524
I think there is nothing that stops you from this as long as you hold a reference to the `Promise`. The important is that `Future` should be "read-only".

[2018-11-13 18:35] doom369 commented on #8508
I use both approaches, channel attributes, and `ChannelHandler` state. Attributes are more user-friendly and simpler in terms of usage and implementation. However, when I need maximum performance, I chose `ChannelHandler`. I vote for @rkapsi proposal. Less inheritance - less footprint for every channel object, while API is still there.

[2018-11-13 18:38] nicmunroe opened #8554 "StringIndexOutOfBoundsException thrown by HttpPostRequestDecoder.splitHeaderContentType() when Content-Type header starts with a semicolon"
### Expected behavior
I'm not sure what the desired behavior should be for `HttpPostRequestDecoder.splitHeaderContentType()` when it finds a Content-Type header that starts with a semicolon, but I'm assuming `StringIndexOutOfBoundsException` is not intentional.

### Actual behavior
`HttpPostRequestDecoder.splitHeaderContentType()` throws a `StringIndexOutOfBoundsException` when it parses a Content

[2018-11-13 18:44] rkapsi commented on #8524
ACK. But I wonder if in terms of API it's valid for a consumer to be able to signal that they're no longer interested in the future computation.

[2018-11-13 18:46] normanmaurer commented on #8524
@rkapsi in future computation yes... thats why I said `We will not support cancellation for I/O operations, but we will support cancellation for scheduled operations.`

[2018-11-13 18:47] normanmaurer commented on #8554
@nicmunroe yeah this looks like a bug... Can you provide a fix ?

[2018-11-13 18:50] normanmaurer commented on #8524
@rkapsi yes

[2018-11-13 19:36] smaldini commented on #8540
Bold but interesting choice ! Java 11 is far from mainstream but it is all relative to 5.0 timeline as well so I am not too worried. We can still evaluate by then if we really needed any Java 9-11 API to achieve what we want. It seems that Finalizer/Cleaner/RefCounted might be one.

I believe the non Java 8 API tho will be pretty limited but if that happens, I wonder if we should have a 4.2 both i

[2018-11-13 19:38] normanmaurer commented on #8540
@smaldini sounds fair enough... That said I can at least think of two things that are interesting for us which are both not in Java8.

* Compact string to maybe replace `AsciiString` :
https://github.com/netty/netty/issues/8548
* Cleaner to replace `finalize()` as these are for example not supported on substrate VM :
https://github.com/netty/netty/issues/8542

[2018-11-13 19:39] normanmaurer commented on #8548
Depends on https://github.com/netty/netty/issues/8540

[2018-11-13 19:40] Bennett-Lynch commented on #8548
As part of this, can we also re-evaluate API's that return a `CharSequence` rather than a `String`?

I think `CharSequence` should be the preferred input type, but `String` should be the only return type.

`String` is the de facto string representation used throughout most of Java, and I sometimes have to write cumbersome logic like this:

[code]

[2018-11-13 19:42] normanmaurer commented on #8548
@Bennett-Lynch I guess it depends... Creating String is not always cheap so we need to verify when it makes sense or not. That said with compact strings it may be more feasible.

[2018-11-13 19:54] vietj commented on #8508
@normanmaurer we use it to store the SNI host name on the server with an SNI handler override, so it is attached to the channel

[2018-11-13 19:55] normanmaurer commented on #8508
@vietj can you show me the code ?

[2018-11-13 19:56] #8495 closed

[2018-11-13 19:56] normanmaurer commented on #8495
Thanks a lot!

[2018-11-13 19:59] Bennett-Lynch commented on #8526
Why?

[2018-11-13 20:01] smaldini commented on #8540
Yeah so we need to look at AsciiString vs String but that seems like a small price to pay to keep compat if it was the only thing. That's up for debate tho.
About `finalize()` I would hope we could get away without using them. Implicit behavior depending on non deterministic GC behavior seems dangerous enough that maybe the best way would be to require explicit releasing. However doable it seems t

[2018-11-13 20:02] normanmaurer commented on #8526
@Bennett-Lynch just because its less code to maintain and it not adds a lot of value.  That said I am all ears to other opinions here.

[2018-11-13 20:02] vietj commented on #8508
- https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/net/impl/SslHandshakeCompletionHandler.java#L40
- https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/net/impl/ConnectionBase.java#L319

@normanmaurer

[2018-11-13 20:03] Bennett-Lynch commented on #8523
Is there any consideration of using Java's `CompletableFuture` exclusively?

I actually prefer Netty's `Future` in a lot of cases (less verbose, more readable error checking), but there's still something to be said for standardization.

[2018-11-13 20:05] normanmaurer commented on #8523
@Bennett-Lynch I must say I am not the biggest fan of `CompletableFuture` and `CompletationStage` for various reasons. Also I think our "execution" guarantees are much more restrictive. That said I think it would be good to allow to get a `CompletationStage` from a netty Future for easier interrupt.

[2018-11-13 20:09] vietj commented on #8526
the `HttpServerCodec` maintains state with the `queue` field.

that being said in Vert.x we don't use it because we allow the response to specify whether to specify whether the content is always empty or not.

[2018-11-13 20:10] normanmaurer commented on #8526
@vietj yes thats why I said `We will remove the *Codec classes in cases where the main purpose is just to insert encoder/decoder.`. We will need to review in case by case basis if there is a good reason to have it or not.

[2018-11-13 21:16] vietj commented on #8526
@normanmaurer you got me, I'll pay more attention next time :-)

[2018-11-14 03:30] pez1420 commented on #8498
I also had imported  **rxneety** in my project, which depends on **netty-transport**.Hence, it caused class confliction.

[2018-11-14 03:30] pez1420 commented on #8498
@normanmaurer  I also had imported rxneety in my project, which depends on netty-transport.Hence, it caused class confliction.

[2018-11-14 05:03] rohitsahay2000 commented on #8553
[thread_dump.zip](https://github.com/netty/netty/files/2579247/thread_dump.zip)
Have attached thread dump taken over 3 days. You can see the constant increase in the number of eventloopgroups.

For eventloop creation
`eventLoopGroup = new NioEventLoopGroup();`

For closing:
eventLoopGroup.shutdownGracefully().addListener(new GenericFutureListener() {

                            @Override

[2018-11-14 07:17] #8434 closed

[2018-11-14 07:49] #8477 closed

[2018-11-14 07:57] carryxyh commented on #7101
Hi, all

Same problem.
Personally think this way is not very friendly to developers. A better way is to directly execute examples such as echo client and echo server after downloading the source code. Instead of doing some other things before executing.
What do u think about it?

[2018-11-14 08:02] normanmaurer commented on #8498
@pez1420 makes sense...

[2018-11-14 08:02] normanmaurer commented on #8553
I am pretty sure you not shutdown in all cases or continue creating new ones.

[2018-11-14 15:22] rkapsi commented on #8524
Just a little snag, ScheduledFuture don't have a ScheduledPromise counterpart. One of the things I like about the Future/Promise API is that one has great control over the callback Thread.

If the existing ScheduledFuture is kept as is without a ScheduledPromise counterpart then all scheduled things trying to accomplish what my little sample code shows will require some synchronized handoff from t

[2018-11-14 17:05] kevinoliver commented on #8541
fwiw i get a 404 for the link above: https://gist.github.com/Scottmitch/2ca3950f646c071952b868eb8cad5c56%E2%80%8B

[2018-11-14 17:30] ejona86 commented on #8540
Java 11 may be a bit too aggressive for gRPC to use it soon, as we may need to support "the last two LTS releases." That would mean it'd be 3 years from now before gRPC could use Netty 5. Our support timelines are still a bit up-in-the-air, though.

@smaldini, #8052 will likely resolve the `Recycler` issue. But I don't think we could remove all usages, for example, leak detector. Although maybe we

[2018-11-14 19:11] yschimke commented on #4466
![image](https://user-images.githubusercontent.com/231923/48506294-ff164280-e840-11e8-82f1-3f22d4a118bb.png)

https://github.com/netty/netty/projects/1

[2018-11-14 19:43] Bennett-Lynch commented on #8526
I might need to see the actual proposed change list, but I'd just like to call out that the convenience afforded to users should at least be considered before throwing out `*Codec`s.  Convenience in terms of readability, simplicity, etc.  As a Netty user, I want to be able to just install a `HttpClientCodec`, rather than both `HttpResponseDecoder` and `HttpRequestEncoder`.  If the maintainability

[2018-11-14 19:47] Bennett-Lynch commented on #8508
I would push back against possibility #2.  I think maintaining state across a Channel is an incredibly common and valid use case, and Netty ought to provide some native support for that.

[2018-11-14 19:49] normanmaurer commented on #8508
@Bennett-Lynch @vietj thanks for your suggestions so far.

[2018-11-14 19:51] normanmaurer commented on #8526
@Bennett-Lynch fair enough and we will take this for sure into account.

[2018-11-14 23:00] vkostyukov commented on #8536
👍

We [override these in Finagle](https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/Netty4Init.scala#L30-L60) for the very same reason.

[2018-11-14 23:05] vkostyukov commented on #8298
@normanmaurer Maybe we can include this ticket into the Netty 5 roadmap? We'll have more room for maneuver there and, perhaps can actually support RFC7230 out of the box.

[2018-11-14 23:07] vkostyukov commented on #8277
@normanmaurer What do you think about having a N5 ticket about either throwing an exception or accepting `tickDurationMs` param?

[2018-11-14 23:22] nicmunroe commented on #8554
Possibly - I'm working through CLA issues to make sure I'm cleared to contribute.

[2018-11-15 02:30] chengenzhao commented on #8533
[jlink / jmod / modularized jar](https://openjdk.java.net/jeps/261) would be suitable for these os-specific requirements
including iocp(win), epoll(linux) and kqueue(mac)
Maybe its time to create a true netty-native project

[2018-11-15 06:19] #8475 closed

[2018-11-15 06:21] normanmaurer commented on #8554
Thanks a lot !

[2018-11-15 06:21] normanmaurer commented on #8277
Sounds good

[2018-11-15 06:22] normanmaurer commented on #8298
Done

[2018-11-15 09:52] amizurov commented on #8554
@normanmaurer @nicmunroe Hi guys , ```Content-Type = media-type``` follows from RFC:
```media-type = type "/" subtype *( OWS ";" OWS parameter )```
        ```type  = token```
       ``` subtype  = token```
I think starting content-type value with ';' is not correct, and we should handle this like "unsupported media type".

[2018-11-15 09:55] shubhamgoyal297 commented on #8172
@jianglai have you found any solution?

[2018-11-15 10:09] rohitsahay2000 commented on #8553
The first thing that i did was to check the number of shutdowns versus the number of creations of event loop groups. And they exactly match. Any workarounds you suggest?

[2018-11-15 10:31] normanmaurer commented on #8554
Sounds good to me @amizurov ... @nicmunroe WDYT ?

[2018-11-15 13:32] psxbmbb opened #8559 "The difference between netty3 and netty4 default threads"
Can anyone tell me why the worker thread in netty3 defaults is core+1 but netty4 is core*2?
Many thanks.

[2018-11-15 15:32] jianglai commented on #8172
@shubhamgoyal297 unfortunately no. I think your best choice is to write your own logging handler.

[2018-11-15 15:33] normanmaurer commented on #8172
@jianglai @shubhamgoyal297 isn't it just as easy as extending the `LoggingHandler` and override the format* methods ?

[2018-11-15 16:36] jianglai commented on #8172
Yes that's that I meant by "writing your own logging handler" :)

[2018-11-15 19:01] nicmunroe commented on #8554
The relevant RFC sections (I'm assuming you're referring to RFC 7231 [Section 3.1.1.5](https://tools.ietf.org/html/rfc7231#section-3.1.1.5) and [Section 3.1.1.1](https://tools.ietf.org/html/rfc7231#section-3.1.1.1)) don't specify that you must respond with an error when encountering invalid content-type. In fact when talking about Content-Type in section 3.1.1.5 it says:

It goes on to say this is

[2018-11-15 20:22] merlimat opened #8563 "[Question] Possible race condition on AbstractReferenceCounted"
I'm investigating an issue with a custom object that inherit from `AbstractReferenceCounted` and looking at the code I got one doubt.

My expectation is that after calling `retain()`, if I didn't get an exception, the object should be guaranteed not to be deallocated.

Looking at the retain and release methods:

https://github.com/netty/netty/blob/00afb19d7a37de21b35ce4f6cb3fa7f74809f2ab/common/sr

[2018-11-15 20:36] normanmaurer commented on #8563
@carl-mastrangelo PTAL

[2018-11-15 21:34] carl-mastrangelo commented on #8563
@merlimat yes, but at least one thread does see an exception.  This was mentioned on the original PR.  Also, IIRC, the quiescent state still ends up at the same ref count of zero.

I don't think it's really a recoverable scenario.   The Linux Kernel uses CAS and makes sure all `retain` calls starting from 0 stay at 0, and all `release` calls from INT_MAX stay at INT_MAX.    Netty could copy this i

[2018-11-15 21:48] merlimat commented on #8563
(I hadn't actually checked the PR description for that change)

Yes, in my above example T-1 will get exception but T-2 will not.

The problem is that I have no way to validate that my object is still valid after calling `retain()`. Eg: we might have ByteBuf pointing to garbage data or leading to NPEs.

Sure, this only happens with 3+ threads but I don't see a workaround to it.

[2018-11-15 21:54] carl-mastrangelo commented on #8563
A reasonable alternative is to call `System.exit` on getting a ref count exception.

[2018-11-15 22:01] merlimat commented on #8563
Take this code for example:
 * This is a cache of entries
 * The cache keeps 1 ref count to always keep the entry valid.
 * Whenever we try to get 1 entry out of the cache, we retain() the entry so that if it's being evicted we either get it or we get an exception

https://github.com/apache/pulsar/blob/579e0dc74039c081301662e5fd55209c1a4abe5c/managed-ledger/src/main/java/org/apache/bookkeeper/mled

[2018-11-15 22:13] njhill commented on #8563
@merlimat the scenario you described doesn't sound right to me. I think there should be no problems of this kind if you are only releasing/retaining a single ref at a time (as is most common and looks like the case for you here).

Thread-3 should not see `oldRef==1` in step 5, it should see `oldRef==0` or possibly `oldRef==-1`, since T-2's rollback is incrementing from -1 back to 0.

[2018-11-15 22:15] carl-mastrangelo commented on #8563
From my reading, that code isn't valid.   Catching and discarding throwable is going to cause problems anyways.   ReferenceCounted doesn't really say what should happen in the event of errors, likely because different implementations might want different behavior.

It's hard to see this as a bug when there isn't expected behavior.   Ensuring that every retain/release throws upon reaching an invali

[2018-11-15 22:17] merlimat commented on #8563
I can certainly fix that by having a different `AbstractReferenceCounted` base class, though my concern is that this will still apply to `ByteBuf` instances coming from a pool, where I cannot asses whether the buffer is pointing to valid data or not.

[2018-11-15 22:23] carl-mastrangelo commented on #8563
Looking more thoroughly at that code, it seems the issue is that adding/remove values from the cache, and retain/releasing them is not done atomically.   If it were the case, you could use wrapper objects to do the ref counting and not have to extend or override the Value objects.

[2018-11-15 22:33] merlimat commented on #8563
@carl-mastrangelo would it work to have some system property to control which implementation is being used?

[2018-11-15 22:47] carl-mastrangelo commented on #8563
@merlimat I'm reluctant to make it configuration based, because that tends to not play well in Netty is shaded.   It could work, though I can't make that call.

[2018-11-16 06:13] merlimat commented on #8563
Would it make sense to have option for both strict and relaxed semantic in `ReferenceCounted` interface?

Eg:
 * `void retain()`  -> requires the object to have `refCnt >= 1`, otherwise undefined behavior
 * `boolean tryRetain()` -> return true if it was able to keep the object alive, false otherwise (and no exception)

[2018-11-16 08:15] pez1420 opened #8565 "Why Netty4 **boss thread** was dead?"
### Expected behavior

### Actual behavior
 Api Gateway of network IO model of our company was implemented by Netty4.1.25. Now, We used **Jmeter** that is a performance testing tool to  run a 90K concurrent users test, and then linux kenel parameter of  **Max Open Files(ulimit -n)** is modified  to 10K.

Boss threads and Worker threads configuration:
+ **Boss threadpools** have just only one threa

[2018-11-16 09:32] #8463 closed

[2018-11-16 09:37] amizurov commented on #8554
@nicmunroe Thanks for your thoughts.

For clarity, i meant that ``content-type`` value starting with **';'** is incorrect.  And I think when we expect the concrete ``media-type``: (application/json, multipart/form-data ... etc) we should handle request like a ```400 Bad Request``` and responding to client with reason: "unsupported media type" for example.

This is make sense to the client side to

[2018-11-16 11:36] normanmaurer commented on #8563
@merlimat @carl-mastrangelo I think I have an idea how to fix this which will still give good performance in the happy path. Stay tuned.

[2018-11-16 12:56] qinliujie opened #8566 "NioEventLoop selector crash and can't recover"
### Expected behavior

[code]

NioEventLoop can recover from exception or rebuild  a new selector

### Actual behavior

NioEventLoop dead totally

### Steps to reproduce

Can't reproduce this case,but we can mock;

see below code

[code]

notice that,`(selectStrategy.calculateStrategy(selectNowSupplier, hasTasks())`  can throw an exception every loop;

now we look at `selectNowSupplier`,

[code]

[2018-11-16 13:56] normanmaurer commented on #8563
never mind this does not work :(

@carl-mastrangelo I think we need to revert 83a19d5 as it clearly breaks what we is documented in the  api docs :( I tried to come-up with a way to at least retain some of the performance wins but did not find any good way that still guarantee correct semantics in all cases.

[2018-11-16 15:05] tjake opened #8567 "Allow adjusting the sampling rate of ResourceLeakDetector v2"
Hi!

Same request as #1970.

We have a highly cpu bound netty workload and we see the stacktrace generated by leak sampling takes ~1% of the flamegraph.  I'd really like to be able to adjust this to 0.1%.

It would be a very [small change](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/ResourceLeakDetector.java#L129)

[2018-11-16 15:06] normanmaurer commented on #8567
@tjake system property is good enough ?

[2018-11-16 15:07] tjake commented on #8567
Yeah :+1:

[2018-11-16 15:07] normanmaurer commented on #8567
@tjake can you submit a pr ?

[2018-11-16 15:08] tjake commented on #8567
will do!

[2018-11-16 15:08] normanmaurer commented on #8567
@tjake <3

[2018-11-16 15:12] normanmaurer commented on #8563
@carl-mastrangelo just to be more clear I think we need to guarantee that once an object was released (which means `release(...)` returned true) all other calls to `release(....)` and `retain(...)` must throw.

[2018-11-16 16:20] #8499 closed

[2018-11-16 16:58] normanmaurer commented on #8566
@qinliujie Please check https://github.com/netty/netty/pull/8569

[2018-11-16 17:13] rkapsi opened #8570 "NPE in SSLContext#clearOptions()"
I wanted to see what happens if I attempt to fiddle with the context's `OpenSslSessionContext` (e.g. setting session tickets) if the `SslContext` gets free'd or something else as there are no guards against it.

Seems it's NPE'ing which may or may not a good way of handling it.

### Expected behavior

### Actual behavior

[code]

### Steps to reproduce

### Minimal yet complete reproducer code (or

[2018-11-16 17:14] normanmaurer commented on #8570
@rkapsi yep that is exactly how we wanted to handle it :) So I would say "works as expected"

[2018-11-16 17:18] rkapsi commented on #8570
Closing, works as expected.

[2018-11-16 17:18] #8570 closed

[2018-11-17 01:05] SharpMan commented on #8540
I would have understood choosing JDK10 for Http/2 feature,s but you guys went straight from the goal of **Java 8 to 11** ?
Did the community had any word on this ?
Although , Java11 does support tls1.3, I think the project will go through the longest ever unstable version.

[2018-11-17 01:45] nicmunroe commented on #8554
That's the thing though - at this point in the code there's no concrete media-type expectation. It's just "parse content-type into an array of multipart stuff and return empty if you can't parse it", or "is this multipart?". This isn't the portion of code where you say "I *expect* this to be multipart, and you should fail with a 400 for me if it's not".

There may be a spot in the code where that

[2018-11-17 04:16] pez1420 commented on #8565
@normanmaurer

[2018-11-17 07:32] normanmaurer commented on #8540
@SharpMan none of the things here is written in stone and just suggestions. We would love to hear suggestions from the community

[2018-11-18 06:32] cooooderr opened #8571 "Testsuite throws "leader premature close""
When trying to build netty 4.1.32.Final-SNAPSHOT on windows 10, testsuite fails because something throws an exception with message "leader premature close".

[2018-11-18 06:53] Retrumek opened #8572 "Memory leak"
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 5033164800, max: 5048893440)
	at io.netty.util.internal.PlatformDependent.incrementMemoryCounter(PlatformDependent.java:652)
	at io.netty.util.internal.PlatformDependent.allocateDirectNoCleaner(PlatformDependent.java:606)
	at io.netty.buffer.PoolArena$DirectArena.allocateDirect(PoolArena.java

[2018-11-19 06:41] #8566 closed

[2018-11-19 15:50] rkapsi commented on #8539
Adding link to this [SSL_read_early_data](https://www.openssl.org/docs/man1.1.1/man3/SSL_read_early_data.html) for future reference.

[2018-11-19 18:04] njhill commented on #8563
@carl-mastrangelo @normanmaurer not sure this is of interest but I thought of a way to retain roughly half of the speedup and address _most_ of the race condition problems, see 0c0e092e8588d5c6729080b5ae7345e041470616. Apologies if this is just the same as your already-dismissed idea.

In particular this guarantees @normanmaurer's above requirement in all cases and also ensures there can never be

[2018-11-19 18:54] normanmaurer commented on #8563
@njhill will need to check in detail. In the meantime PTAL https://github.com/netty/netty/pull/8574

[2018-11-20 09:15] amizurov commented on #8554
@nicmunroe My point of view is how to do this method more informative if it make sense. If no, then you are right - ```isMultipart("bad content") -> false```.

[2018-11-20 09:59] ssserj opened #8575 "Unexpected IllegalReferenceCountException on decode multipart request"
### Actual behavior
[code]

### Steps to reproduce
[code]
Decoder will produce IllegalReferenceCountException.

### Netty version
4.1.31.Final

### JVM version (e.g. `java -version`)
java version "1.8.0_161"

### OS version (e.g. `uname -a`)
Linux

[2018-11-20 10:32] normanmaurer commented on #8567
This was fixed by #8574

[2018-11-20 10:32] #8567 closed

[2018-11-20 10:35] normanmaurer commented on #8565
@pez1420

It should only happen when you shutdown the `NioEventLoop`. You may want to adjust the netty log level to debug for `NioEventLoop` to see if anything is logged.

See above.

How do I implement and degisn the boss/worker thread monitoring in netty4?

[2018-11-20 10:36] normanmaurer commented on #8572
This means you used all the direct memory that is set as a limit. This may be because of a buffer leak but also may be because you are writing faster then the remote peer reads (for example). Without more informations there is nothing I can help you with.

[2018-11-20 10:38] normanmaurer commented on #8553
@rohitsahay2000 the only thing I can tell you from the thread dumps is that there are many `NioEventLoop`s that are not shutdown. Are you sure the `shutdownGracefully()` really completes ?

Also just generally I wonder why you create and shutdown so many groups. Normally you create one group at the start and re-use it during the life-time of the whole app.

[2018-11-20 10:43] normanmaurer commented on #8559
Actually it is also core * 2 in netty3:

https://github.com/netty/netty/blob/3.10/src/main/java/org/jboss/netty/channel/socket/nio/SelectorUtil.java#L31

That said what is a good value depends highly on your application.

[2018-11-20 10:43] #8559 closed

[2018-11-20 10:46] normanmaurer opened #8576 "Remove ReferenceCounted.release(int) and retain(int)"
Usually people just use `release()` or `retain()` but we also have overloads that take an `int` as argument. Having these overloads make the guards against overflow a lot harder and more complex. We should just remove these to simplify.

[2018-11-20 10:47] normanmaurer commented on #8563
@njhill @merlimat @carl-mastrangelo also somewhat related to this issue: https://github.com/netty/netty/issues/8576

[2018-11-20 11:14] normanmaurer commented on #8496
@Feri73 ^^

[2018-11-20 14:19] imrimt commented on #6956
Still getting this exception with Elasticsearch 6.4.2 as well. Setting the system property like @porunov mentioned above fixes the issue -- however, this is indeed a hack that could be avoid by checking for existing value before setting the # of processors in the transport client's initialization.

[2018-11-20 14:58] normanmaurer commented on #8503
Please try latest 4.1 branch.

[2018-11-20 15:21] normanmaurer commented on #8537
@slandelle sounds like a plan... thanks a lot. I just created the master branch which will be the basis for netty 5.

[2018-11-20 15:32] normanmaurer commented on #8576
FYI @ejona86 @carl-mastrangelo @njhill @trustin

[2018-11-20 15:36] ejona86 commented on #8535
Worst-case here would could have an API that returns a "mark object" (with the saved index) that could then be "restored". But doing it manually is likely okay.

[2018-11-20 15:50] ejona86 commented on #8516
I'm trying to remember the details of this. [gRPC does use](https://github.com/grpc/grpc-java/blob/v1.16.0/netty/src/main/java/io/grpc/netty/NettyClientTransport.java#L251) the "bootstrap returns a ChannelFuture" to discover what the Channel is before it has started. But we also go out of our way to detect the "failed to create case."

I think I remember now. We discussed splitting bootstrap creat

[2018-11-20 15:54] normanmaurer commented on #8516
@ejona86 yes kind of... a Channel should always be constructed with an `EventLoop` and register(...) should just register for IO (like register on an `Selector`).

So I think in this case bootstrap would return a `Future<Channel>`.

Does this make thinks more clear ?

[2018-11-20 16:04] ejona86 commented on #8511
I think this interacts with #8156.

[2018-11-20 16:14] ejona86 commented on #8506
Specifically for the first point, a continuation of the idea is to split the API into "things that are thread-safe" and "things that aren't thread-safe". Thread-safe things would always use the event loop queue. Non-thread-safe things would get to choose whether they directly execute or not (for example, in certain interactions we'll need to use the queue to avoid stack exhaustion). But in either

[2018-11-20 16:18] normanmaurer commented on #8575
@ssserj yes this looks like a bug... are you interested in providing a fix ?

[2018-11-20 16:18] ejona86 commented on #8516
`Future<Channel>` isn't enough, as we need to know the `Channel` before `registration()` is 100% complete. (The EventLoop selection needs to have been done, but not the `channelRegistered()` notifications). We need to know the `Channel` synchronously. So just some way to get the `Channel` reference without waiting for `channelRegistered()` notification to complete.

[2018-11-20 16:19] normanmaurer commented on #8516
@ejona86 got it... this should be easy to do.

[2018-11-20 16:49] ejona86 commented on #8576
@normanmaurer, which guards are you talking about? I don't see much that would be simplified in `AbstractReferenceCounted`. Although maybe they don't exist because they would be too complicated.

[2018-11-20 16:50] normanmaurer commented on #8576
@ejona86 mostly related to overflow / underflow. Check
https://github.com/netty/netty/issues/8563 for more details :)

[2018-11-20 17:03] ejona86 commented on #8576
@normanmaurer, I didn't see anything special in #8563 that related to the `int` param. Everything there looked like it could happen even when using `1`.

[2018-11-20 17:14] rohitsahay2000 commented on #8553
Are you sure the shutdownGracefully() really completes ?
--> I can only call this method for shutting down the event loop group gracefully. Anything else you suggest to shutdown the event loop group and monitor the completes?

Also just generally I wonder why you create and shutdown so many groups. Normally you create one group at the start and re-use it during the life-time of the whole app.
-->

[2018-11-20 18:55] ejona86 commented on #8576
Limiting the `int` to `MAX_INT / 16` or even `100` doesn't seem like it would be a problem.

Note: I'm not really against this, but the rational didn't quite make sense to me. I'd agree the API is unlikely to be all that necessary.

[2018-11-20 19:17] normanmaurer commented on #8576
@ejona86 yeah... that said I think we should really just remove it if we do not need it.

[2018-11-20 19:56] anshuamit7 opened #8581 "Required suggestion regarding My netty server performance"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-11-20 20:19] normanmaurer commented on #8581
This is an issue tracker... closing

[2018-11-20 20:19] #8581 closed

[2018-11-20 20:21] anshuamit7 opened #8584 "Required suggestion regarding Performance of my server implemented through netty 4.1.16 jar"
Java version - jdk 8, OS 64 bit

Created a server with the help of netty 4.1.16 jar. Defined 2 boss and 8 worker thread and 100 Handler thread, You can see code by open below link.

![image](https://user-images.githubusercontent.com/45212598/48799609-a279c280-ed2d-11e8-8ba9-f56f222056b4.png)

Problem is that i am not getting performance with this configuration. my server is only serves the request

[2018-11-20 20:43] anshuamit7 commented on #8584
Thanks Norman for quick reply.

[2018-11-20 20:43] Feri73 commented on #8496
I got this and will send a pull request addressing this and one other issue as soon as I can get the build work on windows.

[2018-11-20 20:58] njhill commented on #8576
My thinking exactly matches @ejona86's ... i.e. I'm not against this change but not sure that it will help "solve" the concurrency issues at hand apart from reducing the likelihood of race conditions occurring.

If retain uses an optimistic add, it's always possible for there to be N concurrent `retain(1)`s to cause the same problem as a `retain(N)` (though unlikely of course!)

[2018-11-20 22:12] slandelle commented on #8537
@normanmaurer I would need to add a new `enableHostnameVerification` parameter to the different SslContext implementations constructor. There are some many deprecated ones that it's a bit complicated. Could we first remove them?

[2018-11-21 00:32] trustin commented on #8576
A user might just want to release two or more times. Why should a user call `release()` n times when there is `release(n)`?

[2018-11-21 00:33] trustin commented on #8576
At least we should implement it as `for (int i = 0; i < n; i++) release();`

[2018-11-21 00:45] trustin commented on #8508
I find the ability to attach an arbitrary object to a `Channel` very useful in practice, especially when I do not wish to introduce tight coupling between handlers or when there's stateful information that do not belong to any handlers. The `AttributeMap` API is somewhat ugly although it serves my needs well.

[2018-11-21 00:48] trustin commented on #8523
My experience with `CompletionStage` was pretty good. How about implementing `CompletionStage`  with strict execution guarantee, rather than maintaining a large set of methods by ourselves?

[2018-11-21 00:53] trustin commented on #8541
A few ideas:

- My impression is that we need a switch to a better build tool to make all these proposed changes happen without pain.
- To make independent versioning work, we need to provide a BOM. However, our users may still have hard time figuring out what's going on once version conflict occurs.
  - We'll need a BOM regardless we introduce independent versioning anyway because it's useful.

[2018-11-21 00:55] trustin commented on #8534
We need to keep the number of `ByteBuf` implementations that actually show up during runtime as small as possible. Maybe some test-time test?

[2018-11-21 00:59] trustin commented on #8552
.. and also making sure the HTTP/2 codecs, flow controllers, low-level protocol handlers such as violation detector are available for those who want to assemble the protocol pipeline by themselves?

[2018-11-21 01:02] trustin commented on #8547
It'd be nice to keep the system properties for the 'default of defaults', though, i.e. what would be the default values if a user didn't specify anything?

[2018-11-21 01:04] njhill commented on #8576
@trustin my example was just to illustrate how limiting the size can't in itself help to eliminate this kind of race condition, I wasn't suggesting it as an approach! If muli-release/retain is kept then I guess keeping it atomic would probably be better.

[2018-11-21 01:05] trustin commented on #8546
Micrometer was good enough to me. Metric collection is a way more complex topic than logging in terms of API space, so I'd leave it to a third party library. I'd also be happy to see Netty pull SLF4J in as one and only logging API because it's now de facto.

[2018-11-21 01:10] trustin commented on #8532
@clebertsuconic proposed moving his AIO work to Netty but we did not have bandwidth for doing that at that time. Perhaps it's time to listen to his experience?

[2018-11-21 01:13] trustin commented on #8531
Maybe related or not - I'm curious if there was any research done in the area of sending a file under a TLS connection recently. We may need to consider the interaction between this and `SslEngine`.

[2018-11-21 01:13] trustin commented on #8530
You are the king of cookies, @slandelle :-)

[2018-11-21 01:15] trustin commented on #8529
Sounds good to me, but I'm curious if it reduces how much of complexity in terms of public API. If it doesn't change much perhaps we can leave them in the dark corner for backward compatibility's sake?

[2018-11-21 01:20] trustin commented on #8517
It'd still be nice if we provide a way to suspend a channel from being handled by its event loop temporarily, so that a user can take the full control of the channel when he or she wants to do something really low-level.

[2018-11-21 05:45] normanmaurer commented on #8517
@trustin yep that is the plan... It should just be impossible to change the `EventLoop` but register / deregister / register on the same EventLoop should be possible.  When saying register / deregister I am talking about handling IO, `eventLoop()` should always return the `EventLoop` tho.

[2018-11-21 07:30] normanmaurer commented on #8534
@trustin what you mean with test-time test ?

[2018-11-21 08:42] vietj commented on #8531
Also with HTTP/2 handler would be good to be investigated

[2018-11-21 08:45] vietj commented on #8532
we hit an issue recently in Vert.x with very large FileRegion that won't notify the `IdleStateHandler` because the `ChannelOutboundBuffer` will see it as a single entry (the workaround is to chunk ourselves in fixed size regions).

[2018-11-21 09:17] vietj commented on #8534
@trustin do you mean for jit efficiency ?

[2018-11-21 11:00] trustin commented on #8534
Yes. To remove the chance of megamorphic invocations.

Running some test traffic and see if the limited number of `ByteBuf` implementations are passed to handlers? Just an idea though.

[2018-11-21 11:44] carryxyh opened #8585 "A little doubt about the EPOLL WAIT method."
Hi, community,

The netty_epoll_native_epollWait0 method uses timerfd to control the timeout. But epoll_wait can specify the wait time directly in the parameters. Why don't we use epoll_wait directly instead of timerfd?

code like this:

[code]

[2018-11-21 11:45] normanmaurer commented on #8585
@carryxyh because timerfd allows for nanoseconds ;)

[2018-11-21 11:45] #8585 closed

[2018-11-21 11:47] carryxyh commented on #8585
Thx a lot :)
Very fast response speed!

[2018-11-21 12:21] carryxyh opened #8586 "A question about EPOLLBUSYWAIT."
I am very sorry that I have just submitted an issue.

When do we currently call io.netty.channel.epoll.EpollEventLoop#epollBusyWait? Code:

`Int strategy = selectStrategy.calculateStrategy(selectNowSupplier, hasTasks());`

It will be executed when strategy = -3. But for now, it only returns -1 or a number greater than or equal to 0. Will not return -3.

Is this place a problem I understand or is i

[2018-11-21 12:32] normanmaurer commented on #8513
Starting to work on this as other tasks depend on this as.well.

[2018-11-21 13:42] hepin1989 commented on #8520
Built on top of https://docs.oracle.com/javase/9/docs/api/java/util/concurrent/Flow.html ?

[2018-11-21 13:48] hepin1989 commented on #8523
I like to see a more functional API like https://github.com/vavr-io/vavr/blob/master/vavr/src/main/java/io/vavr/concurrent/Future.java . One thing I'm not that like `CompletionStage` is that the nearly all methods are renamed. the `map` became `thenApply` and `thenApplyAsync` :(.

[2018-11-21 13:58] hepin1989 commented on #8524
`Task` ,`Promise` and `Future`

[2018-11-21 13:58] clebertsuconic commented on #8532
I would gladly help here.

There are other options also now we could include as part of native work beyond aio.

[2018-11-21 15:57] Satyan1611 commented on #1236
Hi  @normanmaurer, is this fix available in 4.1.31? as I observed the same round robin behavior in 4.1.31 version.

[2018-11-21 17:43] Satyan1611 commented on #1236
Hi  @normanmaurer @trustin,  as I understand from this thread, the channelpipeline blocking has been fixed but the default way of choosing the next thread from EventExecutorGroup is still the round robin way. Kindly let me know if there is any way to pick the idle thread from the EventExecutorGroup instead of the round robin way.

[2018-11-21 21:52] ssserj commented on #8575
@normanmaurer I still don’t known how to fix it. I need investigate problem, find proper fix and prepare PR. I’ll try..

[2018-11-21 21:56] nicmunroe commented on #8554
That's fair. I have no problem with making this method more informative in principal. I'd just prefer a separate issue if there's a desire to make more sweeping functional changes, as adjusting method signatures and such is going to have a ripple effect and end up touching a bunch of code. Instead, at least for this issue, I'd like to just make a targeted fix for the `StringIndexOutOfBoundsExcepti

[2018-11-22 07:44] amizurov commented on #8554
No problem, do that

[2018-11-22 08:21] zhanfffmmm opened #8588 "udt of netty 4.x is remove？"
I want to use to udt of netty 4.x, but  heard that netty 5 does not support UDT. udt of netty 4.x is remove？

[2018-11-22 09:06] johnou commented on #8588
It is deprecated in 4.x, see https://github.com/netty/netty/pull/8578 for the reason(s).

[2018-11-22 09:39] normanmaurer commented on #8588
as @johnou said... its deprecated and will be removed.

[2018-11-22 09:39] #8588 closed

[2018-11-22 12:37] slandelle opened #8589 "ProxyHandler causes excessive hostname resolution"
`ProxyHandler` expects the connect to be performed against the target remote address so it can buffer it to compute the CONNECT request and propagate the connect event with he proxy address.

This logic is broken as:
* it causes `Bootstrap#connect` to resolve the remote address, which is completely useless
* in some cases, only the proxy itself is capable of resolving the target address, not the c

[2018-11-22 21:04] ninja- commented on #8534
yeah, it _was_ an interface before and the reason one of you changed it to be abstract class was performance...

[2018-11-22 22:52] slandelle commented on #8589
OK, so the trick is to force a `NoopAddressResolverGroup` on the `Bootstrap` so it doesn't try to resolve the remoteAddress. Sorry for the noise.

[2018-11-22 22:52] #8589 closed

[2018-11-23 00:39] zhanfffmmm commented on #8588
@johnou @normanmaurer  thanks, I see.

[2018-11-23 06:42] chenjinying1988 commented on #8478
@jasonSuzhow Have you solved it yet?

[2018-11-23 16:04] mangeleski commented on #6891
Hi, we have a similar problem, Do we have any good solution when integrating with the Spring 5?
FastThreadLocal.removeAll();
InternalThreadLocalMap.destroy();

Didn't resolve the stacked threads.
Thanks.

[2018-11-23 16:30] misaa2 commented on #6891
Any update on this.
We have similar problem integrated this with spring 5.

[2018-11-23 17:18] johnou commented on #6891
@misaa2 please provide a sample project with instructions on how to reproduce and we can take a look.

[2018-11-24 03:19] luyuekai commented on #6891
I  have no solutions yet,sorry~

[2018-11-25 09:59] winterbe commented on #8540
@SharpMan HTTP Client has changed from JDK 10 to 11. In Java 10 it was only available from `jdk.incubator` package. You shouldn’t build a library on top of that API.

[2018-11-25 10:49] johnou commented on #8540
@SharpMan I think you'll also find Netty 4.x is Java 6 :)

[2018-11-26 10:39] johnou commented on #8478
@jasonSuzhow you can set it like this..

[code]

[2018-11-26 10:42] johnou commented on #8478
https://static.javadoc.io/io.netty/netty-common/4.1.31.Final/io/netty/util/internal/logging/InternalLoggerFactory.html

[2018-11-26 11:12] normanmaurer commented on #8382
Closing as no followup

[2018-11-26 11:12] #8382 closed

[2018-11-26 12:13] CiaranMcCann commented on #8172
Have the same issue, would be great to have it added as optional output from the debug logs.

[2018-11-26 12:57] normanmaurer commented on #8483
Should be fixed by #8595

[2018-11-26 13:17] normanmaurer commented on #8209
@rschmitt sorry I don't get it... can you give some more details ?

[2018-11-26 19:38] normanmaurer commented on #8571
@cooooderr actually I think the test only works on Linux / BSD. Is this the only one that fails ?

[2018-11-26 19:40] normanmaurer commented on #8461
Like I said you can implement your own `TrustManagerFactory` if you need a custom behaviour.

[2018-11-26 19:40] #8461 closed

[2018-11-26 19:41] normanmaurer commented on #8439
I think there are currently not plans to do any experiments by the core devs. That said I would be happy to review any code if someone from the community steps up.

[2018-11-26 19:42] normanmaurer commented on #8401
I think what happens is actually what we should happen (at least that is what I think we wanted to archive). Maybe we need to clarify the docs a git tho.

@trustin WDYT ?

[2018-11-26 19:44] normanmaurer commented on #8345
its impossible to test what exactly the issue is without looking at the code / profiler / heap dump.

[2018-11-27 10:44] #8483 closed

[2018-11-27 15:30] Scottmitch opened #8601 "[Netty 5] ByteBuf methods to respect reader/writer indexes"
`ByteBuf` has some `get*` methods which do not respect the reader/writer indexes, and instead only respect the capacity of the buffer. This may result in accessing uninitialized memory and lead to unexpected results. I would propose that by default we have methods respect the reader/writer indexes and only if necessary expand the `ByteBuf` API to include methods which ignore the reader/writer inde

[2018-11-27 15:30] Scottmitch commented on #8601
/cc @trustin @normanmaurer @ejona86

[2018-11-27 17:56] rkapsi commented on #8539
To give a little update. The TCN side is pretty straight forward. BoringSSL uses a slightly different API than OpenSSL but I believe Boring's API can be "massaged" to emulate the OpenSSL API/behavior. I have that stuff compiling and hypothetically working.

Now, SSLEngine#wrap/unwrap is where the skeletons lie. I'm afraid none of the state and logic flow hold in the context of early data. It'll ta

[2018-11-27 18:27] carl-mastrangelo opened #8602 "[Netty 5] Revisit AbstractReferenceCounted"
If #8543 results in ReferenceCounted remaining on the public API, we should put in some verbiage for what implementations are expected to do.

For other C++ programs, the pattern I see is that retaining an object is a memory order relaxed atomic increment, and released is an acq-rel decrement. (with a minor optimization of a relaxed decrement if it knows it's not the last one).

I believe that dec

[2018-11-27 21:23] cooooderr commented on #8571
Yes

[2018-11-28 02:57] jasonSuzhow commented on #8478
Thanks, I solved it

[2018-11-28 02:59] jasonSuzhow commented on #8478
Yeah, The solution is @johnou's answer

[2018-11-28 02:59] jasonSuzhow commented on #8478
Yeah, The solution is @johnou's answer

[2018-11-28 03:00] #8478 closed

[2018-11-28 03:30] yao-qingdong opened #8604 "Example HttpStaticFileServerHandler: raf is not closed."
Recently I use this HttpStaticFileServerHandler as file server, but I can't download mp4 file correctly. Then I found raf is not closed.

There is a issue mention about it: https://github.com/netty/netty/issues/2235, but it seems don't fix it.

I asked about it at stackoverflow: https://stackoverflow.com/questions/53500128/netty-httpstaticfileserverhandler-problem/53511572#53511572

Here is my cha

[2018-11-28 05:59] normanmaurer commented on #8604
@yqd1992 want to do a PR and submit it to receive contribution?

[2018-11-28 07:42] johnou commented on #8478
@normanmaurer slf4j in Netty 5?

[2018-11-28 07:56] yqd1992 commented on #8604
I think it's need to be fixed. There is no use to create a pull request for me, it's a small change.

[2018-11-28 07:57] normanmaurer commented on #8604
oh ok... I will fix it then. I thought you may want to receive the contribution.

[2018-11-28 09:11] strongmanwj opened #8605 "netty sslHandler performance problem: CPU 100%"
### Expected behavior
nettt sslHandler has high performance. cpu is normal.
### Actual behavior
1 performance test  and when TPS exceed 2300 tps( 2300 client  online per second and 10s later offline  and  repeatedly ), almost all client online request failed . When it is 2300 tps,  ssl is ok but cpu come to 95%-99%
2 error in log:
handshake  time out.
ssl failed and  then client connect request fa

[2018-11-28 09:32] normanmaurer commented on #8605
You can use one of these to cache the key material and so reduce the CPU used to parse the keys / certificates:

https://github.com/netty/netty/blob/netty-4.1.31.Final/handler/src/main/java/io/netty/handler/ssl/OpenSslX509KeyManagerFactory.java
https://github.com/netty/netty/blob/netty-4.1.31.Final/handler/src/main/java/io/netty/handler/ssl/OpenSslCachingX509KeyManagerFactory.java

[2018-11-28 09:35] johnou commented on #8605
You might also want to consider the log level for the code here

``
at com.huawei.ulc.channelserver.service.DeviceManager.putDevice(DeviceManager.java:82)
at com.huawei.ulc.channelserver.service.ConnectReqMsgProcessor.processMsg(ConnectReqMsgProcessor.java:82)
``

it's producing a stacktrace in the provided thread dump and can be very expensive if it occurs often.

[2018-11-28 09:54] strongmanwj commented on #8605
yes @johnou
i have delete it . 3Q

@normanmaurer
thank you very much .
by the way, i  also use TrustManagerFactory. But i can not find better class instead of it .  Is There？

[2018-11-28 10:22] normanmaurer commented on #8605
@strongmanwj nothing special for `TrustmanagerFactory` is needed.

[2018-11-29 02:37] 391861737 opened #8607 "Could it be possible to make the `WebSocketClientHandshaker` reusable without creating a new instance of it ?"
Hi all.
### Expected behavior
It might rather be an improvement than an issue that the boolean flag `io.netty.handler.codec.http.websocketx.WebSocketClientHandshaker#handshakeComplete` could be set to `false` again while starting a re-connecting process, so that we do not need to create a new instance of a sepcific `WebSocketClientHandshaker` again.
### Actual behavior
It does not do what was ment

[2018-11-29 03:00] LiangKongRong opened #8608 "Out of Direct Memory because of IdleStateHandler"
### Expected behavior
When I use netty as a server, I use IdleStateHandler to keep heartbeat for each client. When a lot of clients connected the server should works fine.

### Actual behavior
When a lot of clients connected, the server raised OutOfDirectMemoryError.

### Steps to reproduce
1. Create instance of IdleStateHandler to make readeridle time bigger than 0.
      new IdleStateHandler(60,

[2018-11-29 08:02] c890402 opened #8609 "OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memor"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-11-29 08:21] amizurov commented on #8608
@LiangKongRong HI, Do you use ```IdleStateHandler``` in shared mode or create new instance per channel ?

[2018-11-29 10:33] normanmaurer commented on #8609
Closing... there is not enough infos here

[2018-11-29 10:33] #8609 closed

[2018-11-29 10:33] #8605 closed

[2018-11-29 19:37] carl-mastrangelo opened #8610 "Resource leak detector should use Reservoir Sampling"
### Expected behavior
All `record()` calls on a ResourceLeakTracker should have an equal probability of being recorded.  The exact number of records to record should be configurable

### Actual behavior
`record()` calls that happen earlier in time have a much higher chance of being recorded.

### Notes

I mainly am getting my thoughts down here, so that I don't forget them.  With [Reservoir Sampli

[2018-11-30 00:33] rschmitt commented on #8209
I've put together a repro case. First, the server code:

[code]

This is a swallow server that supports HTTP/1.1 and HTTP/2 requests over cleartext. Start this server by simply running the main method (I put the code in testsuite-http2), and then run the following console commands:

[code]

The first command creates a decent size file to use as input to the server. The second command POSTs the fil

[2018-11-30 09:34] rohitsahay2000 commented on #8553
Hi @normanmaurer , Did some more profiling. I have a event loop group of 100 threads. Seeing lot of threads going in awaiting state before CPU going more than 100% and app becomes unresponsive. Example
`Name: nioEventLoopGroup-2-11
State: RUNNABLE
Total blocked: 129  Total waited: 95

Stack trace:
sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)
sun.nio.ch.EPollArrayWrapper.poll(EPollArrayWra

[2018-11-30 14:24] normanmaurer commented on #8608
@LiangKongRong like @amizurov suggested this sounds more like a missusage. Can you you confirm how you use it ?

[2018-11-30 14:43] normanmaurer commented on #8209
@rschmitt I just checked and your fix makes a lot of sense. Are you interested in proving a PR with a fix? Just one nit... I would use `queue.isEmpty()`.

[2018-11-30 17:10] ejona86 commented on #8601
+1

[2018-11-30 19:55] nicktrav opened #8613 "Allocating an unpooled CompositeBuffer of size 1 throws an IllegalArgumentException"
### Expected behavior

Allocating a new composite buffer with max components equal to 1 via `Unpooled.compositeBuffer` allocates a new `CompositeBuffer` instance.

### Actual behavior

As of `4.1.32.Final`, this method will now throw an `IllegalStateException`, indicating that the argument must be greater than or equal to two:

[code]

This is firing in one of our tests. We should fix our code to

[2018-11-30 19:57] normanmaurer commented on #8613
@nicktrav yep that sounds like a bug... are you interested in creating a PR with a fix + unit test ?

[2018-11-30 20:00] nicktrav commented on #8613
Sure thing, can do. Is this fix as simple as reverting the precondition check in the constructor? I can probably just unwind what was changed in the breaking commit tbh.

[2018-11-30 20:01] normanmaurer commented on #8613
@nicktrav yeah I think its just the precondition check... Sorry I should have spotted this when reviewing

[2018-11-30 20:06] rschmitt commented on #8209
@normanmaurer I disagree that this is the appropriate fix; it's more of a workaround, or an illustration of the problem. I'm pretty sure that `Http2MultiplexCodec` is violating the contract of `read`/`channelReadComplete`. Implementing the above change to `FlowControlHandler` could theoretically result in an infinite recursion.

[2018-11-30 20:20] normanmaurer commented on #8209
@rschmitt ah sorry.. seems I misunderstood you. I will try to have a look soon if you not beat me here.

[2018-12-01 06:45] DATuan91 commented on #8575
@ssserj @normanmaurer Hi, could I ask for the state of this, as we sometimes also encounter this in our production server?

[2018-12-01 08:54] atcurtis opened #8615 "ChannelInitializer prematurely removed when context has EventExecutor."
### Expected behavior

For it to work.

### Actual behavior

[code]

### Steps to reproduce

Run attached code.

### Minimal yet complete reproducer code (or URL to code)

[code]

### Netty version

4.1.22.Final

### JVM version (e.g. `java -version`)

java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

##

[2018-12-01 09:07] atcurtis commented on #8615
user fail... doesn't quite repo the problem I found. closing for now,

[2018-12-01 09:07] #8615 closed

[2018-12-01 09:28] atcurtis opened #8616 "ChannelInitializer.initChannel() executed more than once when used with context executor"
### Expected behavior

Expected ChannelInitializer.initChannel() to be executed one.

### Actual behavior

A subsequent execution causes exception to be thrown because it can't find itself or remove itself again.

[code]

### Steps to reproduce

See repro code below.

### Minimal yet complete reproducer code (or URL to code)

[code]

### Netty version

4.1.22.Final

### JVM version (e.g. `java -ve

[2018-12-01 09:33] normanmaurer commented on #8616
@atcurtis can you please try netty 4.1.32.Final and let me know if the same problem happens there as well? I think I remember that we fixed something related to this at some point.

Please let me know if after the upgrade the problem still persists.

[2018-12-01 09:47] #6473 closed

[2018-12-01 11:29] trustin commented on #8601
+1

[2018-12-02 01:43] arukshani commented on #8345
A heap dump is not getting created since it goes OutOfDirectMemoryError. But as you suggested in https://github.com/netty/netty/issues/8488 we disabled the direct memory usage as well as the pooled buffer usage and got a heap dump. Please find the attached heap dump.
[heap-dump.hprof.zip](https://github.com/netty/netty/files/2636498/heap-dump.hprof.zip)

We suspect this is due to not handling back

[2018-12-03 10:14] normanmaurer commented on #8613
@njhill @nicktrav  Yeah I think failing for <= 0 makes sense and we should still allow 1 just to not break people.

[2018-12-03 15:22] normanmaurer commented on #8209
@rschmitt PTAL https://github.com/netty/netty/pull/8617

[2018-12-03 16:48] nicktrav commented on #8613
Sounds good. I'll try and work up a patch today.

[2018-12-03 20:08] atcurtis commented on #8616
I have tried with 4.1.32.Final and it fails exactly the same except with slightly different line numbers:
[code]

[2018-12-03 20:32] normanmaurer commented on #8616
I will have a look

[2018-12-04 10:14] hlms commented on #8261
@normanmaurer , @trustin , @johnjaylward ,

We bumped into this issue.

Would vote for this approach:

[2018-12-04 10:47] DATuan91 commented on #8575
Thank you, @ssserj. Because I'm not familiar with netty codebase so I couldn't find a proper fix myself.

[2018-12-04 11:35] carryxyh commented on #8586
Somebody here?
:0

[2018-12-04 14:36] normanmaurer commented on #8586
You can use your own `SelectStrategy` implementation.

[2018-12-04 14:39] normanmaurer commented on #8616
@atcurtis check https://github.com/netty/netty/pull/8620

[2018-12-04 15:55] normanmaurer commented on #8525
Let me do this tomorrow.

[2018-12-04 17:37] ejona86 commented on #8553
@rohitsahay2000, I think you are discussing two different things: 1) high CPU usage and 2) old event loops not shutting down.

I don't think (2) is an "issue" or at least it is working as intended. Netty creates new threads pretty aggressively and doesn't really shut them down until the end. (And when shutting down an event loop, it even creates any threads that hadn't been created earlier!)

(1)

[2018-12-04 17:40] ejona86 commented on #8553
@rohitsahay2000, could you also provide `uname -a`?

[2018-12-04 17:48] juliuskrah commented on #1578
I am also getting this error after having the application run for about 2 months

[code]

How do I prevent the application from opening multiple connections that don't close?

Below are the relevant parts of the code that is running:

[code]

I don't think `ulimit` is the solution here as some resources are not freed up. I only get this error after the application has run for a few months, after w

[2018-12-05 02:38] Cacle opened #8623 "How to integrate the lcm with netty"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-12-05 02:52] carryxyh commented on #8586
thank you for your reply.
Maybe I should try to customize my own SelectStrategy.

[2018-12-05 02:52] #8586 closed

[2018-12-05 07:14] erhsh opened #8624 "if the http header size more then 8192(8k)， what is the correct way to do. and if I can change the max size to 16k?"
https://github.com/netty/netty/blob/b8a3394f9b9e5abba80a26335f762795ee07b877/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectDecoder.java#L825

[2018-12-05 07:28] strongmanwj opened #8625 "Help： LEAK: ByteBuf.release() was not called before it's garbage-collected"
### Expected behavior
No leak
### Actual behavior
1. when  server  processed devliery msg，many leaks happened
2 some  log ，many are duplicate：
2018-12-05 14:44:13 518[ERROR][ResourceLeakDetector.java-311][nioEventLoopGroup-3-3]-LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
#

[2018-12-05 07:40] normanmaurer commented on #8625
Yes you need to release the ByteBuf once you are done with it.  Also please use proper markdown to format the code so its readable.

[2018-12-05 07:42] #8613 closed

[2018-12-05 08:08] strongmanwj commented on #8625
ok.  fixed it.
Can you pls tell that what the probable problem is in the above code? i am lost.
Thanks.

[2018-12-05 08:12] normanmaurer commented on #8625
@strongmanwj I can not tell you without look at the whole code. But from the leak-report it seems like you do not correctly release the buffer that is used by `UlcDecoder` as input.

[2018-12-05 08:35] strongmanwj commented on #8625
@normanmaurer
Thanks.
 Last problem:
ByteBuf A is a class member of Class BMsg, and when invoking writeAndflush(BMsg), need to realease A ?

[2018-12-05 09:37] strongmanwj commented on #8625
solved.
Thanks.

[2018-12-05 09:37] #8625 closed

[2018-12-05 11:56] normanmaurer commented on #8623
This is a bug tracker... please ask questions on stack overflow.

[2018-12-05 11:56] #8623 closed

[2018-12-05 11:57] normanmaurer commented on #8624
This is a bug tracker please ask questions on stack overflow.

[2018-12-05 11:57] #8624 closed

[2018-12-05 17:00] ejona86 commented on #8553
An easy way to see which threads are using CPU is to use `top` and type shift-H. That shows all threads. Thread ids in `jstack` are hex, so you will need to convert the thread id to hex to compare to `jstack` output.

http://www.boxjar.com/using-top-and-jstack-to-find-the-java-thread-that-is-hogging-the-cpu/ is an example walkthrough.

[2018-12-05 18:30] #8616 closed

[2018-12-06 02:39] kwang108 opened #8627 "What happens to messages after exceptionCaught"
For ChannelInboundHandler, if an exception is thrown in channelRead, do I need to manually release the message?

[2018-12-06 05:42] jameskleeh opened #8628 "HttpPostMultipartRequestDecoder fails to release bodyListHttpData on destroy()"
### Expected behavior
The HttpPostMultipartRequestDecoder should release the bodyListHttpData instances

### Actual behavior
It doesn't

### Steps to reproduce
This has to do with how the loop is written to loop through the `bodyListHttpData`.

https://github.com/netty/netty/blob/8331248671b9c0ea07cf8dbdfa5d8d2f89fdf459/codec-http/src/main/java/io/netty/handler/codec/http/multipart/HttpPostMultipa

[2018-12-06 08:01] #8496 closed

[2018-12-06 08:04] normanmaurer commented on #8627
@kwang108 yes...

[2018-12-06 08:04] #8627 closed

[2018-12-06 08:04] #8563 closed

[2018-12-06 08:06] normanmaurer commented on #8571
Got it ... this makes sense. Let me add some code to skip this test on windows

[2018-12-06 09:11] hepin1989 commented on #8525
@normanmaurer That's fine, this new design reduces the GC overhead.

[2018-12-06 11:00] rohitsahay2000 commented on #8553
Attaching
1. Screenshot of the process with high CPU. (top -pXXXX)
<img width="527" alt="processwithhighcpu" src="https://user-images.githubusercontent.com/32896980/49580118-32497e80-f974-11e8-8894-ff9a6e77781f.png">

2. Screenshot of all the threads for that process (shift -H result)

<img width="619" alt="threadsfortheprocess" src="https://user-images.githubusercontent.com/32896980/49580133-3b3a

[2018-12-06 12:47] medusar opened #8630 "Is there any plan to support monitoring queue size of EventLoopGroup?"
### Expected behavior
Although it is clear that we should never block a thread in the EventLoopGroup, sometimes you will have to invoke some RPC methods or query something from a redis server, this blocks your thread. I can avoid this by make these time costing calls executed in a separate thread pool, but by doing this way, it will result in more context switches.  But if i invoke time costing me

[2018-12-06 13:00] medusar opened #8631 "Is it ok to discard all the related tasks when a connection is closed ?"
### Expected behavior

I have come to this case, I have a Handler which invokes RPC calls, and i have used a separate EventLoopGroup for the Handler, but RPC call takes time, and when there are too many requests, all the thread in the EventLoopGroup will be blocked, waiting for RPC responses, so new tasks will be added into the queue.
Till now it is normal, but when a connection is closed, those R

[2018-12-06 15:31] medusar commented on #8630
@normanmaurer i will try, thanks

[2018-12-06 19:43] normanmaurer commented on #8572
Closing due lack of details

[2018-12-06 19:43] #8572 closed

[2018-12-06 19:43] #8571 closed

[2018-12-07 07:36] wjkhappy14 commented on #1835
参数		值	说明
ConnectTimeout 	 CONNECT_TIMEOUT
WriteSpinCount	WRITE_SPIN_COUNT
WriteBufferHighWaterMark	WRITE_BUFFER_HIGH_WATER_MARK
WriteBufferLowWaterMark	WRITE_BUFFER_LOW_WATER_MARK
AllowHalfClosure	ALLOW_HALF_CLOSURE
AutoRead	AUTO_READ
SoBroadcast	SO_BROADCAST
SoKeepalive	SO_KEEPALIVE
SoSndbuf	SO_SNDBUF
SoRcvbuf	SO_RCVBUF
SoReuseaddr	SO_REUSEADDR
SoReuseport	SO_REUSEPORT
SoLinger	SO_LINGER
SoBacklo

[2018-12-07 08:48] normanmaurer commented on #8607
I think we should just keep it as it is. I dont see big benefits here.

[2018-12-07 08:48] #8607 closed

[2018-12-07 08:49] normanmaurer commented on #8553
These stacks look like you are just producing a lot of data that needs to be send. There is nothing we can do about it.

[2018-12-07 08:50] normanmaurer commented on #8553
That said you may want to try to use `EpollDatagramChannel` as it supports using `sendmmsg` which will help to reduce the syscalls.

[2018-12-07 19:09] normanmaurer commented on #8631
This is an issue tracker... Please use stack overflow for questions.

[2018-12-07 19:09] #8631 closed

[2018-12-07 19:10] normanmaurer commented on #8565
Closing as no followup... also please upgrade to latest netty release

[2018-12-07 19:10] #8565 closed

[2018-12-07 19:11] normanmaurer commented on #8430
@bryce-anderson want to do a PR against the master branch ?

[2018-12-07 19:13] normanmaurer commented on #8140
We fixed another possibility for false-positives in 4.1.30.Final. Please upgrade and report back if you still see the issues.

[2018-12-07 19:13] #8140 closed

[2018-12-07 19:14] normanmaurer commented on #8068
@ejona86 want to do a PR ?

[2018-12-07 19:15] normanmaurer commented on #7845
Closing as no feedback

[2018-12-07 19:15] #7845 closed

[2018-12-07 19:16] normanmaurer commented on #7486
Sorry I still dont get it... Please provide a PR with the changes you would like to see and we can continue discuss there.

[2018-12-07 19:16] #7486 closed

[2018-12-07 19:18] normanmaurer commented on #6810
I think you can do as @slovdahl said... Please re-open if this not works

[2018-12-07 19:18] #6810 closed

[2018-12-07 19:19] normanmaurer commented on #6755
Didn't see this for a long time... Let's close it

[2018-12-07 19:19] #6755 closed

[2018-12-07 19:22] jameskleeh commented on #8628
Turns out my assumptions about this were wrong and the issue is indeed somewhere else. Will raise a new issue

[2018-12-07 19:22] #8628 closed

[2018-12-07 19:31] jameskleeh opened #8640 "Question: Why is MemoryFileUpload is not released by DefaultHttpDataFactory?"
### Expected behavior
I expect any MemoryFileUploads to be released when any of the cleanAll methods are called

### Actual behavior
Mixed and Disk uploads are cleaned, but memory isn't. This seems intentional as the same logic is applied to attributes.

The upload/attributes are never added to the list that gets iterated over when cleaning

https://github.com/netty/netty/blob/4.1/codec-http/src/m

[2018-12-07 19:47] bryce-anderson commented on #8430
@normanmaurer, I'll take this one, probably early next week.

[2018-12-07 19:48] normanmaurer commented on #8430
@bryce-anderson thanks a lot!

[2018-12-07 20:46] jameskleeh opened #8641 "CompositeByteBuf.Component freeIfNecessary always frees"
### Expected behavior
The `freeIfNecessary` method should only release if the ref count > 0

### Actual behavior
The `freeIfNecessary` method always releases

I would like to be able to free any given component of a composite byte buffer myself, with release being called on the whole buffer only releasing the components that were not previously released. The method name indicates to me that is wha

[2018-12-08 01:08] njhill commented on #8641
@jameskleeh the `Component` class is private/internal to `CompositeByteBuf` and I think this method behaves as intended. I acknowledge the name is misleading and I think we should change it to just `free()`, but this is only to make the internal logic clearer, not because it's an API method. I suggest `free()` rather than `release()` to avoid any confusion with the public `release()` methods.

`Co

[2018-12-08 04:02] DATuan91 commented on #2887
@normanmaurer @trustin This issues is duplicated with [Netty 4.x User Guide - Architectural Overview missing?](https://github.com/netty/netty/issues/4096) I think we should keep only one of them.

[2018-12-08 04:05] DATuan91 commented on #3919
@normanmaurer As author already agreed, you should close this issue

[2018-12-08 04:19] DATuan91 commented on #7814
@ExIngus This issue seem same to this [Unexpected IllegalReferenceCountException on decode multipart request](https://github.com/netty/netty/issues/8575)

[2018-12-08 04:20] DATuan91 commented on #8259
+1 from us!

[2018-12-08 04:43] DATuan91 commented on #7557
@trondarild-lode-tobiassen-heidelberg This issue is the same as [Multi threaded behavior with UDP server does not seem to work (4.0.6.Final)](https://github.com/netty/netty/issues/1706)

[2018-12-08 05:40] #3919 closed

[2018-12-08 05:58] bjsuo commented on #8466
DATuan91 thanks!

[2018-12-08 05:58] #8466 closed

[2018-12-08 06:59] ardikars opened #8642 "Convert ByteBuffer to ByteBuf."
Is it possible convert direct ByteBuffer to direct ByteBuf without copying native buffer it self?

[2018-12-08 07:01] normanmaurer commented on #8642
Yes... Unpooled.wrappedBuffer(...)

[2018-12-08 07:01] #8642 closed

[2018-12-09 00:02] samaitra commented on #8604
@normanmaurer I have raised PR https://github.com/netty/netty/pull/8643 for the fix. Please let me know if you have any feedback.

[2018-12-09 10:51] gs88pansh opened #8644 "why add selector.wakeup() after select(wakenUp.getAndSet(false)) ?"
I'm sorry that I don't understand why do `selector.wakeUp()` again in the NioEventLoop.java.
[code]
the author explained that in the first situation, maybe (I think) if the external thread call `execute(task)` method and then set the `wakenUp` to `true` when the internal thread runs between the `wakenUp.set(false)` and  `selector.select(timeOut)`, the `selector.select(timeOut)` will return immedia

[2018-12-10 03:53] LiangKongRong commented on #8608
Thanks @amizurov , new instance per channel.

Thanks @normanmaurer .

We use IdleStateHandler when connecting request recieved. The code is something like `ctx.channel().pipeline().addFirst(new IdleStateHandler(600, 0,0)) ;` in the channelRead0() method of a sub class of SimpleChannelInboundHandler. When 160K clients connected, normally the instance number of
 ReaderIdleTimeoutTask should be 160K

[2018-12-10 06:33] jameskleeh commented on #8641
@njhill Thanks for the explanation! I think it would be good to enforce the ownership of those components in code by returning a bytebuf that prevents the user from releasing it directly

[2018-12-10 06:33] #8641 closed

[2018-12-10 08:19] medusar commented on #8631
@normanmaurer Sorry, i just thought maybe it would also be a proposal ~

[2018-12-11 02:18] wjkhappy14 commented on #1077
An existing connection was forcibly closed by the remote host
远程主机强迫关闭了一个现有的连接

[2018-12-11 13:01] #8535 closed

[2018-12-11 19:32] johnou commented on #7817
@marcelolfilho pass it into the JVM with the -D switch or use System.setProperty before initialising Netty.

[2018-12-12 06:46] normanmaurer commented on #8608
@LiangKongRong are you sure this issue is still present in 4.1.32.Final which is the latest version of netty that was released ?.

`initialize(..)` and `destroy(...)` should never be called concurrently and always from the same thread. So I don't see why you would need an atomic here.

[2018-12-12 09:37] normanmaurer commented on #7833
done

[2018-12-12 09:37] #7833 closed

[2018-12-12 13:07] LiangKongRong commented on #8608
@normanmaurer We add a new IdleStateHandler() in channelActive(ChannelHandlerContext ctx) method of  another handler, I am not sure if it was misused. I see most code add handlers in ChannelInitializer. I will check this in version 4.1.32.Final later. Thanks.

[2018-12-13 01:50] stevenzyang commented on #2132
Looks like HttpContentEncoder encodes requests now. This should be closed.

[2018-12-13 03:34] LiangKongRong commented on #8608
@normanmaurer I found the root cause of Out Of Direct Memory. We send BinaryWebSocketFrame by writeAndFlush() of a nio channel in my thread, and direct memory allocated in this thread. But when the message sent out, the direct memory cached inside the netty event loop thread. Direct memory exhaust when a lot of direct memory allocated in my thread and cached in netty event loop thread. I fixed my

[2018-12-13 04:25] Zeymo opened #8652 "How to disable sslhandler compose data to chunk"
In some Intelligent hardware，it has small buffer and memory so server should split big data to small chunks , e.g
[code]

under **Tls** pipleline is like below
[code]

https://github.com/netty/netty/blob/d17bd5e16071b70787399118acc0aa0ea3da7ac2/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L1926-L1930

`SslHandler` buffer queue in order to reduce overhead to compose upstream datas, it

[2018-12-13 05:34] normanmaurer commented on #2132
You are right

[2018-12-13 05:57] slandelle commented on #2132
Really? In which commit was this implemented? I missed the change and can’t find the commit (on my phone).

[2018-12-13 06:00] normanmaurer commented on #2132
Oh sorry I am wrong... compression is still  not supported. Should drink more coffee @slandelle

[2018-12-13 10:12] mrniko opened #8654 "NoClassDefFoundError on Android platform"
### Expected behavior

No exception

### Actual behavior

Exception arise during invocation DnsServerAddressStreamProviders.platformDefault method in Android application:
[code]
### Steps to reproduce

execute `DnsServerAddressStreamProviders.platformDefault` method

### Netty version

4.1.31.Final

[2018-12-13 11:34] Zeymo commented on #8652
SslHanlder#setWrapDataSize will make it

[2018-12-13 11:34] #8652 closed

[2018-12-13 14:16] enesunal commented on #7319
Setting log level to debug for my project doesn't mean I set it to debug for libraries. Please exclude the stack traces when you're releasing for production. It's the default log level(debug) for almost any developer who tries to make things works, these stacktraces just make initial development **harder**. If it's important, you can even print a warning explaining the issue.

[2018-12-13 15:13] artash commented on #1759
Nobody mentioned [FlushConsolidationHandler](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/flush/FlushConsolidationHandler.java) yet. Looks like it's designed to solve the same problem @stepancheg ?

[2018-12-13 17:46] jameskleeh opened #8655 "Suggestion: Improvements to attribute/file handling"
Currently it is cumbersome to read and release attributes and uploads a chunk at a time. To do so at all requires knowledge of how the internal structures work. In addition, it's currently impossible to handle files larger than 2GB in memory without doing what I'm about to describe. To give you an understanding of the difficulty, assume you want to read and close a chunk of data at a time for a `F

[2018-12-13 19:19] normanmaurer commented on #8654
@mrniko thanks for reporting... should be fixed by https://github.com/netty/netty/pull/8656

[2018-12-14 08:20] konsultaner opened #8657 "certificate error with elliptic curve"
I got a new certificate by global sign that uses [ecc](https://support.globalsign.com/customer/portal/articles/1994347-ecc). I get the following error. How do I enable ecc support? Is this netty related or do I need to update java with something?

[code]

This error might be related to #8149

### Netty version
4.1.20

### JVM version (e.g. `java -version`)
openjdk version "1.8.0_91"
OpenJDK Runtim

[2018-12-14 08:33] konsultaner commented on #8657
I could send you the key as email. I would like to use it in production and github is not the right place share a private key 😅

[2018-12-14 09:11] hlms commented on #8261
Any idea when this will be fixed?

[2018-12-14 09:13] normanmaurer commented on #8657
Cant I just use openssl to generate a self-signed one that reproduce it somehow ?

[2018-12-14 10:10] #6036 closed

[2018-12-14 11:46] yosephadane opened #8659 "this error is makes me crazy "java.lang.NoClassDefFoundError: io/netty/channel/socket/nio/NioSocketChannel ""
[code]

[2018-12-14 13:37] johnou commented on #8608
@amizurov if you want the read timeout to be per channel it cannot be shared because the handler has a state.

[2018-12-14 15:20] normanmaurer commented on #8659
@ejona86

[2018-12-14 17:51] fzakaria opened #8663 "Allow easier TLS debugging by Wireshark"
Debugging SSL/TLS connections through Wireshark is a pain -- if the cipher used involves Diffie-Hellman then it is essentially impossible unless you can have the client dump out the master key [1]

It would be a great addition to allow Netty to dump the _master key_ for the TLS session, especially in a format that Wireshark can read such as NSS key log format [2]

The scenario in which this would

[2018-12-14 20:31] #8654 closed

[2018-12-14 23:31] ejona86 commented on #8659
I have no clue how NioSocketChannel could be missing. It seems you would have to manually exclude some netty dependencies. Are you using Maven? If so, could you try running `mvn dependency:tree` and share any parts of the hierarchy below an io.grpc dependency (that is to mean, any things that grpc depends on)?

[2018-12-14 23:40] ninja- commented on #8659
to me it seems like you need to include and shade netty manually in your project

[2018-12-15 00:02] ejona86 commented on #8659
Yes, using `grpc-netty-shaded` instead of `grpc-netty` should also resolve this issue.

[2018-12-15 15:20] franz1981 commented on #8602
And wdyt about providing an implementaion with only relaxed reference counting ops ie no full barriers: most thread-per-core arch would benefit by it.

[2018-12-16 05:52] jamesdbloom commented on #6596
I am also seeing this problem.  If I add a 2 second sleep to prevent the JVM from stopping after stopping Netty the issue goes away proving this is not at all related to dependencies, as follows:

Errors:

[code]

No error:

[code]

[2018-12-16 06:00] jamesdbloom commented on #6596
Perhaps the issue is that there are interactions to remove thread local variables after the thread has attempted to be stopped and as the JVM is existing, the issue seems to come from the finally block in the following code in FastThreadLocalRunnable:

[code]

as follows:

[code]

[2018-12-16 13:33] normanmaurer commented on #6596
@jamesdbloom let me have a look.

[2018-12-16 16:08] normanmaurer commented on #6596
@jamesdbloom could you verify if this fixes it: https://github.com/netty/netty/pull/8666 ?

[2018-12-17 07:57] amizurov commented on #8608
@johnou, sorry the message above to me ?

[2018-12-17 08:19] amizurov commented on #8608
@normanmaurer If I correct understand that different between execution in eventLoop and in separate thread that we create ``WriteAndFlushTask.newInstance(next, m, promise);`` and reserved memory for this task``ctx.pipeline.incrementPendingOutboundBytes(task.size);`` so this is can change channel writability, maybe this is root of problem ?

[2018-12-17 08:46] johnou commented on #8608
@amizurov I was just pointing out that if you want to d/c clients that stop writing to the socket a new IdleStateHandler is required per session to detect this.

[2018-12-18 01:14] weiguoOU opened #8669 "Where will the request been cached if Netty Channel isWritable() return false"
I'm implementing the back pressure for the sender which continuously sending data to the netty. From the netty channel API, I saw the isWritable() queue the requests if return false. Could I know where will the request be queued? in heap or direct memory. What's the queue size. In what case, it will cause the out of direct memory issue?

isWritable():
"Returns true if and only if the I/O thread wi

[2018-12-18 06:26] yosephadane opened #8670 "i want to do integration coverage test using jacoco and eclimma in eclipse but it is working only for unit test when i see in the path "target/site" folder please i have five testchase and the integration test is run remotely to my ftp server"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-12-18 14:40] fmazoyer commented on #8261
@trustin Hi, I confirm that we can see the same behaviour on Centos7

[2018-12-19 08:24] Zeymo opened #8673 "Communication with FreeORTS"

[2018-12-19 08:24] Zeymo opened #8674 "Communication with FreeORTs"

[2018-12-19 08:25] #8673 closed, assigned to nobody

[2018-12-19 08:25] #8674 closed, assigned to nobody

[2018-12-19 09:02] Zeymo opened #8675 "SslProvider.OPENSSL and SslProvider.JDK perform different under same cipher"
Client communicate ssl record with SslProvider.OPENSSL and SslProvider.JDK both both success with same cipher

In order to support tlsv1.3,we upgrade netty 4.1.15.Final to 4.1.32.Final

client platform:
[code]
server platform: jdk1.8.0_181
[code]

+ netty 4.1.15-Final (SslProvider.JDK)
handshake : TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
behavior :success

+ netty 4.1.32-Final (SslProvider.JDK)
handshak

[2018-12-19 09:06] normanmaurer commented on #8675
@Zeymo what protocol version are you using ? Also can you provide a reproducer ?

[2018-12-19 09:18] Zeymo commented on #8675
@normanmaurer TLS1.2
reproducer is difficult , because client is Intelligent hardware for isv
for now , I just have server log some detail

SslProvider.OPENSSL

[code]

SslProvider.JDK
[code]

in order to compare ,we set custom ciphers
[code]

I will report more detail later

[2018-12-19 10:40] ZooDoz commented on #8553
i find the same question. only 8 threads ,when cpu high , it won't fall.

[2018-12-19 13:49] Zeymo commented on #8675
when occur error under SslProvider.OPENSSL also print leak info
[code]

[2018-12-19 16:04] jameskleeh commented on #8655
@normanmaurer Any thoughts on the above?

[2018-12-19 19:34] sdeleuze commented on #8192
Any chance to see that one part of Netty 5 ?

[2018-12-19 19:35] normanmaurer commented on #8192
@sdeleuze this sounds like a good idea to me... would you be interested in submitting a PR against the master branch ?

[2018-12-19 22:21] carl-mastrangelo commented on #8602
@franz1981 that would definitely be useful, the increment mode could be reduced to plain rather than opaque.    In the past I have made just a dummy class to do this:

[code]

Java doesn't have standard way of doing this.

[2018-12-19 22:35] mingyu89 opened #8676 "Race condition between adding and removing SslHandler causing NPE"
We are seeing the same issue as in ticket https://github.com/netty/netty/issues/6536 on version 4.1.28.
The variable `pendingUnencryptedWrites` in SslHandler is initialized in method "handlerAdded" if the following sequence of event happens, we will hit this NPE :

1. connect channel
2. add handler to channel
3. disconnect channel
4. call `SslHandler.handlerRemoved0` from disconnecting channel. Th

[2018-12-20 03:38] bigbang555 commented on #8252
I find the cause why the problem happen.
In my project,I config the ssl,but some requests send by http.So errors occur

[2018-12-20 03:45] medusar commented on #8553
@rohitsahay2000 I have some suggestions for you

- check if the outbound bandwidth is enough, if it is not enough, CPU will be high sometimes.
- check if your CPU cores are balanced well with your internet card, you may need [this:](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/performance_tuning_guide/s-cpu-irq)
- check the interrupts for each CPU core, if they are

[2018-12-20 06:38] #8430 closed

[2018-12-20 06:42] normanmaurer commented on #8669
@weiguoOU the queue itself is in the heap, but if the queued data is using direct memory or not depends on the data itself. The Queue is unbound but netty will notify you with `isWritable()` and `channelWritabilityChanged` when you queue to much data.

[2018-12-20 06:42] #8669 closed

[2018-12-20 06:53] normanmaurer commented on #8252
again if someone is doing http and not https on a port where SSL is used there is not much we can do about.

[2018-12-20 06:59] normanmaurer commented on #8676
@mingyu89 I wonder how this can happen... `handlerRemoved0` should never be called until `handlerAdded` was called. Do you call these methods by yourself ? how do you add the SslHandler to the pipeline ? Can you show the code how you bootstrap it ?

[2018-12-21 06:44] medusar commented on #1759
@artash `FlushConsolidationHandler` is new to me, but it will hold the flushes only if it is `readInprogress`:

`if (readInprogess) {
            // If there is still a read in compress we are sure we will see a channelReadComplete(...) call. Thus
            // we only need to flush if we reach the explicitFlushAfterFlushes limit.
            if (++flushPendingCount == explicitFlushAfterFlushes)

[2018-12-21 06:46] medusar commented on #1759
LGTM, thanks

[2018-12-21 07:56] normanmaurer commented on #8670
This sounds more like a question for the jacoco devs or eclipse devs

[2018-12-21 07:56] #8670 closed

[2018-12-21 07:56] normanmaurer commented on #8657
@konsultaner ^^

[2018-12-21 07:57] normanmaurer commented on #8655
Sorry I had no time yet to check in detail. Will hopefully be able to come back to you soon.

[2018-12-21 08:18] konsultaner commented on #8657
@normanmaurer sorry, I didn't create any of those. I'm still having problems with other people involved to give you material to work on this issue. As soon as I have everything I will post it here.

[2018-12-21 08:37] rel1ve opened #8679 "High CPU usage with OioEventLoopGroup on Android 6.0 in my embedded device"
### Expected behavior
I use netty running on USB-HID based embedded device. After channel (extends OioByteStreamChannel) is connected, while idle for reading or writing, CPU usage should be very low, expected less than 1%.

### Actual behavior
Actually CPU usage is at least 30%.

### Steps to reproduce
I debug with AS profiler, and found ThreadPerChannelEventLoop.run() cost much cpu time. Can I ad

[2018-12-21 09:12] konsultaner commented on #8657
@normanmaurer  this is the old cert: [cert.zip](https://github.com/netty/netty/files/2702188/cert.zip)

I will send you the password as email.

[2018-12-21 09:34] medusar commented on #8508
Attaching an object to a Channel is very useful, for example, if you want some object to have the same lifetime with a channel, attaching the object to a channel is the best choice, otherwise you will have to save the object somewhere else and add a listener for the event, which introduces thread safety issues.

[2018-12-21 10:06] #6596 closed

[2018-12-21 17:20] mingyu89 commented on #8676
@normanmaurer Thank you for looking at it.
The SslHandler isn't added to the pipeline during server bootstrap. After the connection is established, client will start to send requests to server. At some point the client may decide to start to use TLS and (stop sending any other request and) send a certain request telling the server to add SslHandler.
After receiving the request, server will :
[code

[2018-12-22 03:04] strongmanwj opened #8682 "Help：new ServerSocketChannel"
### Expected behavior
**Now  our server is based on Netty‘s  epoll. But now we need to get better performance, we got a new TCPIP protocal  stack  lib which has been greatly optimized  and provide the same interface as  linux socket posix interface  and epoll interface.  So i want to know if can i use new lib to replace  libnetty_transport_native_epoll_x86_64.so in netty ?
Where can i get libnetty

[2018-12-22 07:39] normanmaurer commented on #8676
@mingyu89 actually I think I know what happens here... Let me come up with a fix.

[2018-12-22 20:19] normanmaurer commented on #8676
@mingyu89 https://github.com/netty/netty/pull/8684 PTAL

[2018-12-22 20:20] normanmaurer commented on #6536
@yogeshvedpathak https://github.com/netty/netty/pull/8684 PTAL

[2018-12-22 20:53] eaglerainbow opened #8685 "Behavior of Netty on Hanging Remotely-closed Proxy Connection"
In https://github.com/promregator/promregator/issues/83 I am currently struggling with outbound HTTP connections which use HttpProxyHandler. Scenario is as following:

* Promregator is a client application which uses https://github.com/cloudfoundry/cf-java-client
* cf-java-client in turn is using netty for making outbound TCP HTTP connections.
* In the scenario, an HTTP proxy must be used to reach

[2018-12-22 23:13] SharpMan commented on #8540
So everyone has to deal with commercial licenses 👏

[JDK 9 Issues ](https://github.com/netty/netty/issues?utf8=%E2%9C%93&q=is%3Aissue+java+9)
[JDK 10 Issues](https://github.com/netty/netty/issues?utf8=%E2%9C%93&q=is%3Aissue+java+10)

Netty has to complete solving issues related to previous JDK versions in order to aim for the new java version. All the feature are mentioned on the Netty 5 report wi

[2018-12-24 07:06] jamesdbloom commented on #6596
@normanmaurer I have no effective way to confirm id this fixes the issue unless this fix is available in a SNAPSHOT version.  Do you know if that is the case?

[2018-12-24 07:40] normanmaurer commented on #6596
@jamesdbloom 4.1.33.Final-SNAPSHOT contains it

[2018-12-24 08:52] jamesdbloom commented on #6596
I still get the following errors:

[code]

I am producing this by using the MockServer project maven plugin.  If the maven build stops when Netty is running (which has been started by the plugin) then this error is produced.  I have also seen similar errors in other scenarios, however those are much harder to reliable produce.

If you run the following command you can reproduce this error.   Howev

[2018-12-24 08:57] normanmaurer commented on #6596
@jamesdbloom thanks for the reproducer ... I will have a look

[2018-12-25 17:38] tomocrafter opened #8686 "What the correct way to close the udp server"
### Expected behavior
How can I close the server?

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
latest

### JVM version (e.g. `java -version`)
1.8

### OS version (e.g. `uname -a`)

[2018-12-25 21:09] SharpMan commented on #8685
I doubt this is a Netty issue. As you mentioned in the parent issue

This is the main reason I can think of. Your clients running that has timed out may have issues when being called to be closed/timed-out (Probably an error is thrown  and is not being caught, an inaccurate buffer is miss-handled, or the connection might be marked closed but it's not) .
I suggest you debug the client class and che

[2018-12-25 21:32] normanmaurer commented on #8686
call `channel.close()`

[2018-12-25 21:32] #8686 closed

[2018-12-25 21:33] normanmaurer commented on #8682
this is a bug tracker ... please only use it to report bugs. All the native code is included in */src/main/c.

[2018-12-25 21:33] #8682 closed

[2018-12-25 21:35] normanmaurer commented on #8679
You may need to create your own EventLoop implementation to do this or something similar. There is no API provided for this kind of stuff

[2018-12-25 21:35] #8679 closed

[2018-12-25 21:57] normanmaurer commented on #6596
@jamesdbloom after looking at your code I wonder if there is anything we can do here... You call `shutdownGracefully()` in a shutdown hook and so the JVM will start unload classes once all methods complete...

You may want to try adding `GlobalEventExecutor.INSTANCE.awaitInactivity(5, TimeUnit.SECONDS)` as last call in the shutdown hook and let me know if it helped.

[2018-12-26 00:15] eaglerainbow commented on #8685
Thanks for the response!
In the meantime I could determine that netty isn't pooling connections actively (using a keep-alive technique). Each time a connection is made freshly (see also the "PCAP trace section" below).

Debugging is quite tricky: I already tried to do it - and my limited knowledge about netty also isn't helping here either. Moreover, all the coding is in reactor style, so you have

[2018-12-26 01:56] slggamerTrue opened #8687 "Dead Loop in DNS resolver"
### Problem
There is a dead loop in DnsResolveContext.onExpectedResponse when there is a loop in the CNAMES
![image](https://user-images.githubusercontent.com/20608396/50428555-8ac8c780-08f3-11e9-908c-5ea0c8cf1d6a.png)

We found this problem because one DNS meet the problem
![image](https://user-images.githubusercontent.com/20608396/50428579-ca8faf00-08f3-11e9-829c-8927ebf72baf.png)

### Steps to

[2018-12-26 10:05] normanmaurer commented on #8687
@slggamerTrue thanks for reporting. Let me come up with a unit test and fix.

[2018-12-26 14:10] jamesdbloom commented on #6596
I realised I could solve the issue in the reproducer above by removing the shutdown hook.  This may have been the cause of all the issues I've seen.  It may be that calling `shutdownGracefully()` during shutdown is causing the exception.  It is not clear to me why this is causing a `NoClassDefFoundError` but perhaps some static code execution is failing resulting in this error.

[2018-12-26 17:09] gMan1990 opened #8688 "PromiseNotificationUtil#tryFailure bug, I think~"
https://github.com/netty/netty/blob/66ccd1483a9f0c18b707711558c7bbea8bfc73da/common/src/main/java/io/netty/util/internal/PromiseNotificationUtil.java#L64
[code]
if ```p.tryFailure(cause)``` return true, then nothing output to ```logger```, so the ```Throwable cause``` is missing.

[code]

[2018-12-26 20:42] eaglerainbow commented on #8685
Over the course of the day, I did some more debugging. I summarized my findings in
* https://github.com/promregator/promregator/issues/83#issuecomment-449968919 and
* https://github.com/promregator/promregator/issues/83#issuecomment-450022986

@SharpMan I would be greatful if you could read my analysis there and give me some hints, perhaps what else I could do to enable some more logging - as said

[2018-12-27 03:17] YellowBlade opened #8689 "Why use 'if (hasTasks() && wakenUp.compareAndSet(false, true))' in NioEventLoop.java"
### Netty version
4.1.33
I'm sorry but I don't understand why use `if (hasTasks() && wakenUp.compareAndSet(false, true))` in NioEventLoop.java.
[code]

 If the external thread calls execute(task) to add tasks,'wakenUp' will be true.Internal thread will fail to call `wakenUp.compareAndSet(false, true)` and it will still be blocked in  `selector.select(timeoutMillis)` until the timeoutMillis comes.

[2018-12-27 05:30] #8689 closed

[2018-12-27 07:35] wenweihu86 opened #8690 "how to make Bootstrap single instance?"
### Expected behavior
make Bootstrap single instance

### Actual behavior
if a module has to connect to two cluster servers, and has different connect timeout for different cluster,
I can only create two bootstrap since connect_timeout is set on Bootstrap.
creating Bootstrap is time consuming, so I want to create single instance of Bootstrap for all servers.

### Steps to reproduce
no

### Minimal

[2018-12-27 07:49] normanmaurer commented on #8687
@slggamerTrue can you test https://github.com/netty/netty/pull/8691 ?

[2018-12-27 07:57] normanmaurer commented on #8690
@wenweihu86 just create a new instance as you do at the moment. You should only use the same `Bootstrap` if the config is the same.

[2018-12-27 07:57] #8690 closed

[2018-12-27 07:58] normanmaurer commented on #8688
@gMan1990 I am not sure I understand you... if `tryFailure` returns true we could notify the promise and so the failure is visible there. So I think all works as designed.

[2018-12-27 07:58] #8688 closed

[2018-12-27 07:59] normanmaurer commented on #8675
Are you sure you handle fragmentation correctly ?

[2018-12-27 08:03] normanmaurer commented on #6596
@jamesdbloom yeah... I am not sure what exactly is causing it but it seems like it is a result of the class loader to already unloading stuff while we still use it.

[2018-12-27 08:35] slggamerTrue commented on #8687
Thanks @normanmaurer. The fix is perfect. Looking forward to the new release.

[2018-12-27 08:40] normanmaurer commented on #8687
@slggamerTrue thanks for checking and reporting

[2018-12-27 09:40] LiangKongRong commented on #8608
@normanmaurer Merry Christmas. I am sorry, most of the instances of io.netty.util.concurrent.ScheduledFutureTask is unreachable, I use JVisualVM tool inside JDK before it cannot identify reachable/uncheachable state. I used another tool (Eclipse MAT), the number of reachable instances is normal. But I have another question: It seems schedule new task in IdleStateHandler by method schedule() instea

[2018-12-27 09:40] #8608 closed

[2018-12-27 13:11] normanmaurer commented on #8657
I think this due your openjdk version you use. Please use a more recent version.

There are also multiple bug-reports against RHEL / centos related to this. Like: https://bugzilla.redhat.com/show_bug.cgi?id=1245810

Please report back one you did the upgrade and re-open if you still have the problem.

[code]

Is thrown because the JDK does not support EC.

[2018-12-27 13:11] #8657 closed

[2018-12-27 13:56] normanmaurer commented on #8608
@LiangKongRong I am happy to review a PR ... Please provide one if you think you can improve it.

[2018-12-27 15:21] jchambers commented on #1759
Yeah—does the job for me, too. https://github.com/relayrides/pushy/pull/657 has some before-and-after benchmarks, if anybody's curious.

[2018-12-27 16:13] normanmaurer commented on #1759
Let me close this

[2018-12-27 16:13] #1759 closed

[2018-12-28 02:49] Zeymo commented on #8675
use SslProvider.JDK work correctly under same code space

it happened communication with Intelligent hardware and I will check another client (e.g. mac or moble) soon

[2018-12-28 04:59] angn opened #8692 "HTTP/2 stream initialization fails on incoming preface of max concurrent stream = 1"
### Expected behavior
No error.

### Actual behavior
IllegalStateException is fired.

### Steps to reproduce
This error happens with hosts that sends a preface with max concurrent stream = 1, which was `api.development.push.apple.com` in my case.
Digging the code, I found `frameStreamToInitialize` is not null opposed to the assertion at https://github.com/netty/netty/blob/netty-4.1.29.Final/codec-

[2018-12-28 11:31] yosephadane opened #8693 "i was doing an integration test that do sent request to my server and the server will process the database and response the actual data and finally deleted the data form the database so i can re-test with a new session but my server is remembering the deleted data and give me this error:"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)
2018-12-28 14:18:48,384 786366 [http-nio-8080-exec-5] INFO  com.dventus.server.processor.AddProcessor  -
 Request recieved {"operation":"ADD","objType":"SUBSTATION","payload":{"subs

[2018-12-28 13:39] normanmaurer commented on #8692
@angn thanks for reporting. I have a fix here... Just working on a unit test now.

[2018-12-28 14:13] sdeleuze commented on #8192
No sure to have the bandwidth for now, but if that changes I will.

[2018-12-28 14:21] normanmaurer commented on #8692
@angn PTAL https://github.com/netty/netty/pull/8694

[2018-12-28 18:18] normanmaurer commented on #8675
@Zeymo it doesn't matter if JDK works correctly here if you do not handle fragmentation as you can not make any assumption about this. How do you handler fragmentation of your data ?

[2018-12-28 18:39] normanmaurer commented on #7977
Yeah you are right.

[2018-12-28 18:39] #7977 closed

[2018-12-28 19:07] rohitsahay2000 commented on #8553
Strange ! You can put a disclaimer that high data usage is not advisable while using netty. I thought a issue is closed only when a resolution is provided not when "nothing can be done" and there is an existing bug.

[2018-12-28 19:12] normanmaurer commented on #8553
Sure high data usage is supported but what you show is basically the overhead of sending data via UDP. At least this is what the stack trace is showing and as this is a syscall there is nothing we can do about this. The only thing you could do is to try to batch these. If you can share a reproducer that allows us to observe the same "problem" I am more then happy to have a look. But without seeing

[2018-12-29 08:12] zhanfffmmm opened #8695 "serialize"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-12-29 08:12] #8695 closed

[2018-12-29 14:38] wenweihu86 commented on #8690
@normanmaurer since connect_timeout_ms is set in the Bootstrap, so different cluster server should have different Bootstrap instance. But Bootstrap instantiation is time consuming.
could you please upgrade netty to make connect_timeout_ms to be set out side of Bootstrap？

[2018-12-29 14:40] wenweihu86 opened #8696 "how to set connect_timeout_ms outside of Bootstrap？"
Expected behavior
since connect_timeout_ms is set in the Bootstrap, so different cluster server should have different Bootstrap instance. But Bootstrap instantiation is time consuming.
could you please upgrade netty to make connect_timeout_ms to be set out side of Bootstrap？
so that I can make Bootstrap single instance.

Actual behavior
if a module has to connect to two cluster servers, and has di

[2018-12-29 14:46] normanmaurer commented on #8696
Creating a Bootstrap is cheap... why you think it’s time consuming?

[2018-12-30 01:48] jchambers opened #8697 "Channel#close() can succeed before port is unbound under Java 11"
### Expected behavior

When a server channel bound to a port is closed, the `Future` returned by `serverChannel.close()` should succeed only after the port to which the channel is bound has been released.

### Actual behavior

Under Java 11, it appears that it's possible for the `Future` returned by `serverChannel.close()` to succeed before the port has been released.

### Minimal yet complete rep

[2018-12-30 04:10] wenweihu86 commented on #8696
Creating a Bootstrap need to create io threads, this is time consuming on real time.
If we can creating single bootstrap instance at start time, it will be more faster.
To do this, it just need to add connect_timeout_ms parameter for Bootstrap.connect function.

[2018-12-30 06:04] normanmaurer commented on #8696
That’s not correct you can reuse the same EventLoopGroup across different Bootstrap instances. That’s one of the reasons why it’s cheap to create new instances

[2018-12-30 07:38] normanmaurer commented on #8697
@jchambers will have a look but this may be a JDK "bug" as we just call `close()` on the JDK `Channel` and only notify the future once the call is done.

[2018-12-30 09:18] mikomarrache opened #8698 "Selector.select() returned prematurely 512 times in a row"
I'm using Netty 4.1.32 and I see the following very very often in the logs:

[code]

I assume I'm doing something wrong since it's logged as a warning.

My app is running on CentOS 7.

[2018-12-30 15:21] jchambers commented on #8697
I figured that might be the case. I'll see if I can reproduce the problem at the JDK level.

[2018-12-30 15:45] jchambers commented on #8697
Hm. I hate to say it, but the ultra-minimal test case does _not_ reproduce the problem at the JDK level:

[code]

I've also tried variations with calls to `accept()` for good measure, and those all seem fine, too.

[2018-12-30 16:05] normanmaurer commented on #8697
Can you also try to configure the channel as non blocking and add it to a selector ?

[2018-12-30 16:34] jchambers commented on #8697
Ah—good call. I can, indeed, reproduce the problem by registering the channel with a selector:

[code]

It's _mostly_ fine under Java 8/9 (and presumably others). I say _mostly_ because, if we continue to use `while (true)`, we'll eventually hit a limit on file descriptors. We can work around that by stopping after some finite number of iterations, but that feels like cheating to me (especially be

[2018-12-30 17:58] normanmaurer commented on #8697
What happens if you cancel the registration before closing the channel ? I would suspect you will see the same behaviour as with Netty

[2019-01-01 01:47] wyzssw commented on #3988
Why `pendingAcquireCount` use int not AtomicInteger ? @normanmaurer @fratboy

[2019-01-01 07:09] normanmaurer commented on #3988
@wyzssw because everything is done from the same Thread (EventLoop)

[2019-01-01 07:41] mikomarrache commented on #8698
I made 2 changes that solved the issues:

1. I release the `ReferenceCounted` (in my case, a `DatagramPacket`) as early as possible. This is clear to me that it has an impact on the direct memory used at any point of time.

2. I have a single `Channel` receiving `DatagramPackets`. The pipeline of this `Channel `consists of a single handler that dispatches processing of every `DatagramPacket` to an

[2019-01-01 12:39] wyzssw commented on #3988
@normanmaurer I get it, thanks

[2019-01-02 17:23] kachayev opened #8700 "ChunkedWriteHandler may report a failed write as a successful one"
### Expected behavior

If the writing of the last chunk of the chunked input message failed, the corresponding promise should be failed with an appropriate exception.

### Actual behavior

`operationComplete` callback [reports success](https://github.com/netty/netty/blob/fa84e2b3af45ec7fd47909eff0aa7d2be5a54972/handler/src/main/java/io/netty/handler/stream/ChunkedWriteHandler.java#L268) with no ch

[2019-01-02 20:16] mingyu89 commented on #8676
@normanmaurer Thank you!

[2019-01-03 07:05] mikomarrache commented on #8698
After running a few days, I got the `OutOfDirectMemoryError` again but not the selector's issue.

I suspected the possibility that I'm writing too fast and indeed, using `Channel.isWritable()`, I see that the channels are very very often in a non-writable state.

What can be the cause?

[2019-01-04 09:26] riyafa opened #8702 "max_window_bits is inclusive of 8 for WebSocket permessage-deflate compression"
### Expected behavior
It should be possible to have the window size for permessage-deflate  compression as 8 according to the spec: https://tools.ietf.org/html/draft-ietf-hybi-permessage-compression-13#section-8.1.2

### Actual behavior
Though it is allowed the encoding of a WebSocket frame when the window size is 8 fails:
[code]
### Steps to reproduce
Create a client implementation as in the foll

[2019-01-04 09:37] riyafa commented on #8702
This is because of the following check in `JZlibEncoder`:
https://github.com/netty/netty/blob/fa84e2b3af45ec7fd47909eff0aa7d2be5a54972/codec/src/main/java/io/netty/handler/codec/compression/JZlibEncoder.java#L120-L124

That because of a similar check in jzlib:
https://github.com/ymnk/jzlib/blob/a21be20213d66eff15904d925e9b721956a01ef7/src/main/java/com/jcraft/jzlib/Deflater.java#L109-L111

But the

[2019-01-04 15:57] rylox opened #8703 "Netty won't load OpenSsl"
### Expected behavior
should work
### Actual behavior
I followed the official guide on the wiki on how to install the tomcat fork and minded the the required version.
### Gradle file
[code]
### Stacktrace
[code]
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version
4.1.31.Final (Note : Changing to 4.1.32.Final didn't change anything)
### JVM ver

[2019-01-04 17:50] kachayev commented on #8700
Another related question. When using `HttpChunkedInput` with `ChunkedWriteHandler`, `lastHttpContent` would be written/flushed even in case write promise is already reported as a failed one. We rely on `endOfInput` being `true` after `closeInput` was called, which doesn't work for  `HttpChunkedInput`.

[2019-01-04 22:45] RaviH commented on #6810
Hi @normanmaurer , @slovdahl ,

I was pointed to this thread from https://github.com/lettuce-io/lettuce-core/issues/951

Does anyone know how to use proposed solution in lettuce?

[2019-01-05 18:11] WhiteTrashLord opened #8704 "Netty 5 wish list"
Maybe we can use this issue to discuss all the changes we want to see in Netty 5 :)

This is a copy from an old issue from me:

"I did some tests with the example HttpStaticFileServer.
I downloaded a file and canceled the connection before completion.
In order to better handle such an abort, I have 2 ideas:

Adding a new method to ChannelProgressiveFutureListener

operationCanceled(ChannelProgress

[2019-01-07 02:53] yushaohang commented on #656
@Scottmitch I know the reason is that the program can't find sec-wbesockt-key, but I have no idea why it can't be found. I guess that's probably why HTTP headers are too large

[2019-01-07 08:14] zhangxingping commented on #6950
what's your solution of "Error [io.netty.channel.unix.Errors$NativeIoException: syscall:write(..) failed: "

[2019-01-07 08:14] zhangxingping commented on #6950
unhapply

[2019-01-07 11:04] FDU-SE-LAB opened #8706 "Your project netty/netty is using buggy third-party libraries [WARNING]"
Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.

We have attached the buggy third-party libraries and corresponding jira issue links below for you to have mo

[2019-01-07 18:11] skonx commented on #6891
Hi @johnou.
We have the same problem running Firestore on a Java EE container (Payara) or using Spring.
I can set an exemple (using docker and payara) if you need.

[2019-01-07 18:54] rkapsi opened #8707 "OOME in SslHandlerCoalescingBufferQueue w/ H2"
I have opened similar/same tickets (see #7659 and #8265) before but ended up closing them as they appeared to be user errors. It happens very rarely and trying to add instrumentation could be tricky. We see maybe 1 occurrence once or maybe even only every other week across a "large" (relatively speaking) fleet of Netty servers.

The theory was that flush is being called on a closed connection for

[2019-01-07 21:22] rkapsi commented on #8703
I think you're missing the `<classifier>${os.detected.classifier}</classifier>` stuff from the instructions in the wiki.

[code]

[2019-01-07 21:31] johnou commented on #6891
@skonx :+1: please do.

[2019-01-08 07:15] ViktorValkov opened #8708 "netty-all java 11 support"
Are you planning to release a netty-all version which is compatible with Java 11? If yes, when do you expect this will happen?
The jdeps report is complaining for:

netty-all.jar -> JDK removed internal API netty-all.jar -> java.base netty-all.jar -> jdk.unsupported io.netty.util.internal.PlatformDependent0 -> sun.misc.Cleaner JDK internal API (JDK removed internal API) io.netty.util.internal.Plat

[2019-01-08 09:10] laiwenqiang commented on #8644
do you have the answer ？I am confused too.

[2019-01-08 10:21] fmazoyer commented on #8261
Hello,

if it's any help, we worked this pb around by extending original Netty Client and retrieving its original Bootstrap object, setting resolver to 'null'.

By doing so,  Netty will eventually use io.netty.resolver.DefaultNameResolver, and so /etc/resolv.conf for DNS name resolutions.

[code]

[2019-01-08 13:39] mrniko commented on #8261
@fmazoyer

The problem is that `io.netty.resolver.DefaultNameResolver` executes name lookup and blocks the caller thread

[2019-01-08 15:09] pratikpparikh commented on #8259
+1 from us too!

[2019-01-09 07:57] DitaWilke opened #8710 "Downloading large files with Firefox stops at 0 bytes when download folder selection is displayed."
### Expected behavior
If you are trying to download a file using Firefox, the download should start after you select the download folder.
### Actual behavior
Everything seems to be working the first time. If you download a file again, the folder selector opens as expected, but the download remains permanently at 0 bytes.
### Steps to reproduce
* Start the https://github.com/netty/netty/blob/master

[2019-01-09 18:03] skonx commented on #6891
Hi @johnou.
I've opened a [github](https://github.com/trendev/firestore-issue) rep with the minimal requirement.
I cannot provide a docker configuration yet.
Hope your familiar with Glassfish / Payara otherwise I will create a dockerfile.

[2019-01-10 11:47] ViktorValkov commented on #8708
@normanmaurer @jchambers ?

[2019-01-10 14:06] jchambers commented on #8708
Sorry, @ViktorValkov; I'm an external contributor, just like you. This really isn't my territory.

[2019-01-11 05:39] YangruiEmma opened #8712 "Both Send-Q of client-side and Recv-Q of server-side are in hang state"
The problem is similar with [6525](https://github.com/netty/netty/issues/6525), but it happens occasionally. I don't know why the server-side Recv-Q in hang state, I checked netty io threads, all are RUNNABLE state.

### Expected behavior
No direct memory leak; Send-Q and Recv-Q not in hang state.

### Actual behavior
1. Direct memory of client-side is leak and it keeps growth.
2. A lot of Entry t

[2019-01-11 14:36] YangruiEmma commented on #8712
@NiteshKant Could you give me some suggestions ? Thank you very much!!

[2019-01-11 21:37] rkapsi commented on #8707
Looks like I have kept many of the memory dumps. Looking at the stack traces I either see what I already posted or this:

[code]

Since both variants are hovering around `DefaultHttp2RemoteFlowController$FlowState.writeAllocatedBytes(DefaultHttp2RemoteFlowController.java:361)` I wonder if it could be this while loop.

https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handl

[2019-01-11 21:37] rkapsi commented on #8707
![screenshot from 2019-01-11 16-34-21](https://user-images.githubusercontent.com/191635/51060851-32feb180-15bf-11e9-8a75-599787f2476e.png)

[2019-01-12 01:20] chengenzhao commented on #8259
+1 from us too

[2019-01-12 01:20] chengenzhao commented on #8439
+1 loom is awesome and projects like vert.x could start working on java version CoroutineVerticle and Fiber based Worker thread pool etc.

[2019-01-12 13:11] skonx commented on #6891
Hi @johnou.
How can I help?

[2019-01-13 06:33] tuohai666 opened #8714 "Does netty-all contains netty-transport-native-epoll or not?"
I've learned how to using the linux native transport from here: https://netty.io/wiki/native-transports.html
It tells me **the native transport is not part of the Netty core, you need to pull the netty-transport-native-epoll as a dependency in your Maven pom.xml:**

![image](https://user-images.githubusercontent.com/24643893/51082379-c27f9e00-1740-11e9-9b03-7a3a0f118885.png)

My questions are:
1.

[2019-01-13 11:53] johnou commented on #6891
@skonx try adding in this..

[code]

[2019-01-13 16:06] normanmaurer commented on #8708
Netty 4.1.30.Final and later works on java11 without problems.

[2019-01-13 16:06] #8708 closed

[2019-01-13 20:51] skonx commented on #6891
Thanks. I will test this tip on Tuesday morning on the code I’ve provided.

[2019-01-13 22:46] jchambers commented on #8697
I suspect you're right.

I've had a busier-than-expected couple of weeks and haven't been able to follow up yet. I'm really sorry for the delay! I'll be out next week, too, but hope to verify as soon as I'm back. Thanks for your patience.

[2019-01-13 23:48] njhill commented on #8714
@tuohai666 netty-all _does_ currently contain epoll and kqueue, with their corresponding classifiers. There's no need to include them as separately as described in the wiki page or your example above.

I actually posed a related question in https://github.com/netty/netty/issues/8097 a little while back, which didn't get any responses.

[2019-01-14 01:13] tuohai666 commented on #8714
Thanks a lot! Could you show me the wiki page? I didn't find the corresponding information from https://netty.io/wiki/native-transports.html

[2019-01-14 06:42] normanmaurer commented on #8697
@jchambers no worries... happy to help. I also just returned from vacation and so try to process my backlog as well 😢

[2019-01-14 07:17] normanmaurer commented on #6891
@skonx let us know once done

[2019-01-14 07:17] #8687 closed

[2019-01-14 07:19] #8676 closed

[2019-01-14 08:41] normanmaurer commented on #8703
@rylox yes as @rkapsi said... use the correct classifier.

[2019-01-14 08:41] #8703 closed

[2019-01-14 08:58] tuohai666 commented on #8714
@njhill Thanks for your respond.

[2019-01-14 08:58] #8714 closed

[2019-01-14 09:47] normanmaurer commented on #8700
@kachayev yes this is a bug... would you mind open a PR with a fix ?

[2019-01-14 10:41] kachayev commented on #8700
@normanmaurer Sure! Will do shortly.

[2019-01-14 10:49] normanmaurer commented on #8707
@rkapsi thanks ... looking into it as we speak.

[2019-01-14 11:39] lukehutch commented on #8439
At Oracle Code ONE 2018, Michael Reinhart demonstrated massive improvements in scalability, throughput and latency skew by switching a network server from `java.lang.Thread` to Loom -- up to an order of magnitude improvement across multiple metrics in some cases. This is definitely something worth doing, with massive potential benefits to Netty and Vert.x.

[2019-01-14 12:33] normanmaurer commented on #8439
@lukehutch as said before its something we are interested in in general but not a high priority atm. Contributions welcome of course

[2019-01-14 12:34] normanmaurer commented on #8707
@ejona86 please have a look as well.

[2019-01-14 12:40] pradeepKumar32 opened #8717 "Netty HTTP/2 configuration with apache"
### Expected behavior
Apache httpd has to accept and service the HTTP/2 request originating from server.

Server ( OKHttp/Netty Library) --> Apache httpd ( HTTP2) --> Service 1

Note : Using a self signed certificate in httpd and have added the same to the java truststore in the Server

### Actual behavior
1) We have used this setup with OKHttp library and it works fine
2) How ever with netty libr

[2019-01-14 13:34] normanmaurer commented on #8261
I will have a look again this week. Sorry been super busy lately.

[2019-01-14 13:34] normanmaurer commented on #8644
@trustin mind having a look ? This code was added by you a long time ago.

[2019-01-14 13:58] normanmaurer commented on #8707
@rkapsi I think you are on something here... I think what happens here is that `FlowControlledData.write(...)` returns early as `queuedData` is `0` and its not `endOfStream` while `size()` still returns a positive value and so `write(...)` will be called forever. WDYT ?

[2019-01-14 15:20] rkapsi commented on #8707
@normanmaurer yes, that sounds plausible and the heap dump(s) confirm the values.

![screenshot from 2019-01-14 10-14-10](https://user-images.githubusercontent.com/191635/51121655-f06aee00-17e5-11e9-8f8d-38e4b2af5cf4.png)

[2019-01-14 15:57] normanmaurer commented on #8707
@rkapsi now I just need to understand how this happens 😢

[2019-01-14 19:07] normanmaurer commented on #8717
@pradeepKumar32 please provide some way to reproduce the error and also try the latest netty release. 4.1.25.Final is quite old.

[2019-01-14 19:11] #8513 closed

[2019-01-15 09:18] XiaLeon commented on #6220
Hi @maybhi
I met this same issue, have you solved this issue now ? If you have resolved it, can you please tell me the solution? Thanks a lot !

[2019-01-15 12:22] eolivelli commented on #8522
Do you have considered CompletableFuture or at least CompletionStage?

[2019-01-15 12:57] normanmaurer commented on #8522
@eolivelli yes... Honestly I am not a big fan of these. That said I think we should allow to convert between our type and these easily

[2019-01-15 13:01] eolivelli commented on #8522
The best would be not to need to have a memory allocation but this would imply that Netty Promise/Future extend CompletableFuture, and this will be tricky and I guess not feasible at all.

[2019-01-15 13:08] normanmaurer commented on #8522
@eolivelli yeah not sure if this would be possible. That said with https://github.com/netty/netty/pull/8680 you would be able to extend `SingleThreadEventLoop` and so  override the implementation of promise / future that is used.