[2017-03-09 06:50] normanmaurer commented on #6523
@wolvever nope there is nothing atm

[2017-03-09 06:50] #6523 closed

[2017-03-09 07:05] fangqiao commented on #6522
Thanks. It worked when I tried Nio.

But I am curious why I can use Epoll before I upgrade Elasticsearch Java client to 5.2.2? It worked with Epoll very well and was deployed to production with no problems at all.

[2017-03-09 07:10] normanmaurer commented on #6522
@fangqiao from what I understand elastic search has a very tight securitymanager config these days. @jasontedor any idea ?

[2017-03-09 07:59] ddwolf commented on #6499
@Scottmitch hi, I was debugging this problems days, now I probably found that, this is nothing about bazel, because When I use mvn test , I got hanged too. just because maven's surefire plugin has a block of code forcibly invoke Runtime.getRuntime.halt( exitCode ) 30 seconds later after the tests passed , here is the code from [ForkedBlocker:L245](https://github.com/apache/maven-surefire/blob/mast

[2017-03-09 08:01] Scottmitch commented on #6508
When building the `SslContext` on the server side you are using the certificate for the `CA` [1] and the key for the `server` [2]. These don't match and I would expect the handshake to fail. You should be using the server's key with the server's certificate chain (including a certificate that can be tracked back to something trusted by the peer).

[1] https://github.com/ClarkHobbie/ssltest/blob/ma

[2017-03-09 08:01] #6508 closed

[2017-03-09 08:15] Scottmitch opened #6524 "EventLoop Executor visibility"
The EventLoop implements the `Executor` interface and tries to balance IO events with `Runnable`s submitted to the `Executor`. If these two items are not balanced this could add latency to requests and potentially reduce throughput. We should provide more visibility into this balance. Here are some metrics that may be useful:
- How long does each Runnable take to become executed / complete.
- How

[2017-03-09 08:28] Scottmitch commented on #6511
yes please a Netty only reproducer would be helpful ... lot of moving parts in this example. I'm not even sure how to change the `EventLoopGroup`.

[2017-03-09 08:35] normanmaurer commented on #6524
@Scottmitch I wonder if it would be maybe good enough to let the user inject something like this:

[code]

This way the user could just decorate the stuff if needed and do all the accounting there. WDYT ?

[2017-03-09 08:36] normanmaurer commented on #6524
Well this would only work for the use case of #6498 tho.

[2017-03-09 08:44] zmyer opened #6525 "Increasing packet in recv-q that received real-time messages from server-side"
### Expected behavior

### Actual behavior
The problem is that unexpectedly at client-side , increasing packet in recv-q that received real-time messages from server-side.But client-side canot receive any message, it seem like hang state. my run env: 20 send threads and 5 receive threads
### Steps to reproduce
`public NettyClient(Integer threadNum) {
        if (threadNum == null || threadNum < 0)

[2017-03-09 08:54] Scottmitch commented on #6524
@normanmaurer - I haven't thought about it too much but yah that may work for the first bullet.

[2017-03-09 09:23] Scottmitch commented on #6525
Can you provide a complete and minimal code reproducer? What does `lsof -Tsfq -P -n -p <pid>` look like for the FD in question on the client & server side?

[2017-03-09 09:52] meier-christoph commented on #6437
@Scottmitch - I ran the sample again with the changes you requested (I also added a log for `UNSAFE.arrayBaseOffset(byte[].class)` just in case).

The run was successfull and did complete without errors.

[code]

[http2-client-jdk6.txt](https://github.com/netty/netty/files/830386/http2-client-jdk6.txt)
[http2-server-jdk6.txt](https://github.com/netty/netty/files/830387/http2-server-jdk6.txt)

[2017-03-09 10:15] normanmaurer commented on #6507
Fixed by https://github.com/netty/netty/pull/6518

[2017-03-09 10:15] #6507 closed

[2017-03-09 13:59] askiros commented on #6454
It looks like an Mac OSX issue (resolution of the local host must happens inside java.lang.management.RuntimeMXBean#getName() causing the delay). The [StackOverflow](http://stackoverflow.com/questions/39636792/sbt-test-extremely-slow-on-macos-sierra/39698914#39698914) solution remove the delay.

[2017-03-09 15:42] mylyed opened #6528 "where is the io.netty.util.collection package?"
netty team：
    sorry, i don't compile the git-> master project
    reason-> IDE can't find the package->io.netty.util.collection
   the netty-common project don't have the package
   somebody can help me?

[2017-03-09 15:43] normanmaurer commented on #6528
these are generated while building the project. Run `mvn clean compile` in the common module.

[2017-03-09 15:43] #6528 closed

[2017-03-09 15:47] mylyed commented on #6528
@normanmaurer  tks

[2017-03-09 17:09] rstoyanchev commented on #6511
Okay [another sample](https://github.com/rstoyanchev/netty-6511) with Reactor Netty (since it reflects how we use Netty) and also plain Netty for comparison. I've explicitly configured the EventLoopGroup so you can see how to change it.

With Reactor Netty channelIactive fires for epoll only. With plain Netty it fires for both epoll and nio. However if `autoRead=false` the results are the same, it

[2017-03-09 17:18] Scottmitch commented on #6437
Thanks ... interesting ... if `byteArrayIndexScale == 1` then I don't think we are using `Unsafe` incorrectly. However by removing the usage of `Unsafe ` in this case mitigating the issue seems to point to unexpected behavior from `Unsafe `. Since IBM's J9 JRE 1.6.0 is the only VM we have observed to have this issue it makes me suspicious of this VM. We could remove `Unsafe` in this specific case,

[2017-03-09 17:56] meier-christoph commented on #6437
@Scottmitch - I added the index to the logs instead of debugging it, seems to be the first char after the `:` ?

[code]
https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/DefaultHttpHeaders.java#L411

[code]

[http2-client-jdk6.txt](https://github.com/netty/netty/files/831857/http2-client-jdk6.txt)
[http2-server-jdk6.txt](https://github.com/netty/netty/fil

[2017-03-09 18:22] #6520 closed

[2017-03-09 18:28] Scottmitch opened #6531 "Investigate DefaultHttp2RemoteFlowController directly calling"
Continuation of https://github.com/netty/netty/issues/6520 ...

DefaultHttp2RemoteFlowController directly calls `writePendingBytes()` in a few places [1][2]. We should investigate if these are still necessary. They may not be necessary because writing pending bytes is generally the responsibility of `flush()` [3]. Since `Http2ConnectionHandler` calls `flush` in `channelReadComplete` [4] this may c

[2017-03-09 18:28] Scottmitch commented on #6531
@ejona86 - FYI

[2017-03-09 18:51] Scottmitch commented on #6437
thanks. this adds to the theory that the issue is related to `Unsafe`. the value at index 11 is ascii code `48` which is ascii character `0` ... these byte arrays are obtained without using `Unsafe`.

Can you also add the following to see the contents when `Unsafe` is used.

[code]

[2017-03-09 20:00] normanmaurer commented on #6482
Fixed by https://github.com/netty/netty/pull/6530

[2017-03-09 20:00] #6482 closed

[2017-03-09 23:50] ejona86 commented on #6531
Delaying the writing of bytes increases responsiveness. If there is a PING following a SETTINGS(INITIAL_WINDOW_SIZE=$veryHigh) then it would be convenient to send the PING ack before the DATA. Similarly, if there is a RST_STREAM following the SETTINGS, then delaying allows avoiding writing useless bytes.

Those aren't too important (i.e., rare), so I wouldn't go out of my way to support it. Howeve

[2017-03-10 08:57] meier-christoph commented on #6437
@Scottmitch - new logs with byteAt

[code]

[http2-client-jdk6.txt](https://github.com/netty/netty/files/833385/http2-client-jdk6.txt)
[http2-server-jdk6.txt](https://github.com/netty/netty/files/833384/http2-server-jdk6.txt)

[2017-03-10 14:14] CodingFabian commented on #6516
closed in 4.1.9

[2017-03-10 14:14] #6516 closed

[2017-03-11 14:45] ductrungcnt opened #6532 "Meet a problem when using netty with http POST method(Decode body, headers mistake or incorrect)"
Hi!

I using netty version 4.1.4 --> 4.1.9 and meet a problem when i try decode body and headers. it is mistake or incorrect albeit with small in number. I do not know how to fix it. below code i using netty:

### body mistake or incorrect
/?id=9faf008486456ï¿½ï¿½Oï¿½ï¿½8ï¿½ï¿½ï¿½
     ï¿½ï¿½Rkï¿½A@ï¿½eï¿½ï¿½&ï¿½^Oï¿½2ï¿½ï¿½ï¿½ï¿½/uï¿½mkï¿½ï¿½,ï¿½ï¿½G×žï¿½'ï¿½ï¿½ï¿½ï¿½×¸ï¿½Wï¿½<q(ï¿½ï¿½U\k

#

[2017-03-11 21:44] Scottmitch commented on #6437
@meier-christoph - Thanks. Just to confirm you have never been able to reproduce this with IBM's J9 JVM versions JRE 1.7.0 or 1.8.0, correct? The values obtained from unsafe are clearly not what we would expect and if the issue is isolated to J9 JRE 1.6.0 then I would recommend the following:

- Report an issue to IBM
- Disable unsafe when running on this JVM (`-Dio.netty.noUnsafe=true`)

If there

[2017-03-12 05:56] zld406504302 opened #6533 "Memory maybe leak"
### Expected behavior
Memory should be decrease  after client received all message completely
### Actual behavior
But Memory not be decrease until I closed client.
### Steps to reproduce
 * unzip the attachment
 * run BankingServer class
 * run BankingClient class
 * look into os memory
### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.0.45.Final
### JVM version (e.g.

[2017-03-12 15:44] denisgaebler opened #6535 "HTTP2 Channel between BIGENDIAN and LITTLEENDIAN platform does not work"
### Expected behavior
Fix HTTP2 codec to be endianess save.

### Actual behavior
On ByteBuf some methods use endianess dependent methods like buf.writeInt or buf.writeMedium where in other places of the same class readUnsignedint(buf) or other endianess save methods or used (that were implemented in Http2CodecUtil.java).

### Steps to reproduce
Just try to connect a big endian and a little endian

[2017-03-12 20:48] denisgaebler commented on #6535
This is the Exception. It seams there is a need to agree, that binary fields need to be treated with the same endianess on both ends of a Channel, lets say always Little Endian, otherwise the other end is confused.

Caused by: io.netty.handler.codec.http2.Http2Exception: Invalid frame length 1024.
	at io.netty.handler.codec.http2.Http2Exception.connectionError(Http2Exception.java:85)
	at io.netty.

[2017-03-12 21:29] denisgaebler commented on #6535
Maybe the problem is in this line of code of DefaultHttp2FrameReader.java in package io.netty.handler.codec.http2 of netty/codec-http2
// Read the header and prepare the unmarshaller to read the frame.
payloadLength = in.readUnsignedMedium();
Needs likely be changed to readUnsignedMediumLE();

[2017-03-13 09:13] meier-christoph commented on #6437
@Scottmitch - None of the other JVMs we use were able to reproduce this issue.

However, I got an other message when using different combinations of jvms together.

[code]

This should probably be moved to a different ticket but still, there are only 3 combinations working as expected.

 \ | server jvm6 | server jvm7 | server jvm8
-- | -- | -- | --
| __client jvm6__ | F | F | T |
| __client jvm7__

[2017-03-13 13:41] denisgaebler commented on #6535
I found another piece of code which is not endianess save in Http2CodecUtil.java

    static void writeFrameHeaderInternal(ByteBuf out, int payloadLength, byte ty
pe,
            Http2Flags flags, int streamId) {
        out.writeMedium(payloadLength);
        out.writeByte(type);
        out.writeByte(flags.value());
        out.writeInt(streamId);
    }

The writeMedium and writeInt depend on Pl

[2017-03-13 14:52] yogeshvedpathak opened #6536 "SSLHandler handleRemoved called before handlerAdded"
I am getting following stack trace when a connection terminates. I think the null pointer exception is originated because `pendingUnencryptedWrites` is null at link `415`. This could happen when `handleRemoved` is called before the `handleAdded`

2017-03-10 00:04:12.063 WARN  [nioEventLoopGroup-3-5] io.netty.channel.DefaultChannelPipeline - An exceptionCaught() event was fired, and it reached at t

[2017-03-13 15:32] johnou commented on #6536
@yogeshvedpathak would be nice if you could provide more information, reproducer would be a huge help.

[2017-03-13 15:36] normanmaurer commented on #6536
Is there no stack for the NPE?

[2017-03-13 15:46] yogeshvedpathak commented on #6536
Unfortunately there is no stack trace for NPE (i was surprised by that that.) From the other logs from our application i can tell that thi happens right after connection termination. So my best guess is that NPE is coming from pendingUnencryptedWrites being null.

[2017-03-13 15:50] normanmaurer commented on #6536
Could you upgrade to latest netty version and see if it still happens?

[2017-03-13 17:30] johnou commented on #6536
@yogeshvedpathak you might also consider adding ```-XX:-OmitStackTraceInFastThrow``` to your JVM args.

[2017-03-13 18:38] CodingFabian opened #6538 "SelectedSelectionKeySet uses unnecessary Memory"
Forgive me for not knowing, but what does SelectedSelectionKeySet do and why does it need t reserve a 1024 element array?

<img width="471" alt="screen shot 2017-03-13 at 19 35 33" src="https://cloud.githubusercontent.com/assets/176132/23869755/692b64d8-0824-11e7-8d83-df9d1f2c4db6.png">
<img width="678" alt="screen shot 2017-03-13 at 19 35 08" src="https://cloud.githubusercontent.com/assets/176132

[2017-03-13 18:39] CodingFabian commented on #6538
if its "works as designed" i am also fine with this, but I thought its worth pointing out, maybe it is really a leftover or bug of sorts?

[2017-03-14 00:01] normanmaurer commented on #6538
@CodingFabian @Scottmitch changed this to only need one array anymore in the latest release. We still start with 1024 array length tho which I think is reasonable.

[2017-03-14 00:01] #6538 closed

[2017-03-14 06:35] CodingFabian commented on #6538
thanks. yeah this was still 4.1.8

[2017-03-14 10:28] cosmingodeanu opened #6540 "Memory leak on jboss wildfly 9.0.1"
We migrated our application from jboss 7.1.1 to 9.0.1 and without changing our code relating to the infinispan interaction we experience a slow memory leak over the course of a month. JProfiler and VisualVM showed us io.netty.buffer.PoolThreadCache$MemoryRegionCache$Entry had the biggest memory size with ~500MB and a 21 million instance count.
We upgraded the netty module in the jboss and infinisp

[2017-03-14 16:11] nipunarora opened #6541 "Netty Outbound channel buffer does not fill up/blocks?"
http://stackoverflow.com/questions/42750075/understanding-netty-channel-buffers-and-watermarks/42759921#42759921

### Expected behavior
writeandflush() operations in netty are non-blocking. Once the os tcp buffer is full, the outbound channel buffer should fill up. This should mean that the channel should eventually become unwritable() and the bytes till unwritable should decrease

### Actual beha

[2017-03-14 16:12] normanmaurer commented on #6541
Please provide a full reproducer we can run as we have unit tests for what you try to do and these pass.

[2017-03-14 16:38] nipunarora commented on #6541
I have updated the reproducing steps with everything included (server and client). This should make re-creating my observations easier. I can add snapshots as well if required.

[2017-03-14 16:49] Underbalanced commented on #6541
@nipunarora The Netty Proxy should not block ever just because the server is blocking. If I understand everything right with Netty the Proxy will keep writing out regardless of the server end unless you throttle control it yourself. Once the data leaves "Netty" its up to the OS to manage the write out and the other end to manage a overfilling buffer.   @normanmaurer Is this a correct statement?

[2017-03-14 16:53] rkapsi opened #6542 "Ability to pass along attributes via SslContext"
This is related to the #6158 OCSP pull request.

The #6158 PR is demonstrating the most simple way of obtaining and dealing with OCSP stapling but it gets a bit more complicated in practice. In particular when you look at how `SniHandler` and `AsyncMapping` work (which we use).

1. `AsyncMapping` returns `Future<SslContext>`
2. `SniHandler` uses `Future<SslContext>` to construct `SslEngine` + `Ssl

[2017-03-14 18:00] nipunarora commented on #6541
@Underbalanced - I understand what you are saying. I have also been told by other users that once the OS buffer is full netty does not write to the OS, but rather to the outbound channel buffer, eventually making the channel "not writeable" (i.e. isWriteable flag becomes true). However, my observation is different as I have detailed above, and I do not observe either of these behaviors happening.

[2017-03-14 18:05] nipunarora commented on #6541
@normanmaurer  -btw. I am only using writeandflush() function in my implementation. If my understanding is correct write(), write should write to the outbound buffer, and flush() should flush the outbound buffer to os. What @Underbalanced  is saying is with writeandflush() essentially data should be flushed to os on each call and should never block? This should also mean that the tcp buffer betwee

[2017-03-14 19:18] CodingFabian commented on #6535
aha, thanks for digging this up, we were suspecting something like this in #6437 already

[2017-03-15 13:52] normanmaurer commented on #6535
@Scottmitch @nmittler @ejona86 could someone of you have a look ?

[2017-03-15 14:44] denisgaebler commented on #6535
When I managed to make it work, I replaced the writeInt method with the existing writeUnsignedInt method from Http2CodecUtil und for readMedium and writeMedium I added two new methods to Http2CodecUtil like:

    public static void writeUnsignedIntMedium(long value, ByteBuf out) {
        out.writeByte((int) (value >> 16 & 0xFF));
        out.writeByte((int) (value >> 8 & 0xFF));
        out.write

[2017-03-16 07:31] chhsiao90 opened #6545 "Bootstrap a EmbeddedChannel failed"
I found EmbeddedChannel  will registered itself in its constructor at [EmbeddedChannel.java#L178](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/embedded/EmbeddedChannel.java#L178).
And Bootstrap connect will try register channel after create it and found it had been registered and throw exception [AbstractBootstrap.java#L332](https://github.com/netty/netty/blob/4

[2017-03-16 09:27] Aegeaner opened #6546 "When sending partial sync command by the RedisClient, Got RedisCodecException: Unknown RedisMessageType: 13"
### Expected behavior
Get normal redis sync backlog after the "FULLRESYNC $runid $offset" response or the "CONTINUE" response.

### Actual behavior

[code]

### Steps to reproduce

[code]

### Minimal yet complete reproducer code (or URL to code)
Example class: io.netty.example.redis.RedisClient

### Netty version
4.1.9.Final

### JVM version (e.g. `java -version`)
java version "1.8.0_112"
Java(TM

[2017-03-16 12:58] suemi994 opened #6547 "cannot determine the type of the type parameter 'I' in MessageToMessageEncoder when define a generic encoder"
### Expected behavior

The Client use my self-define encoder inherited from MessageToMessageEncoder.

### Actual behavior

It report the error "can't determine I in MessageToMessageEncoder" in TypeParameterMatcher

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

First, I define a generic type coder as follow

[code]

Then I use it in a client

[code]

It report t

[2017-03-16 15:51] shumy commented on #5987
Hello I'm using netty version 4.1.8.Final on Apache Felix and still suffer from the same problem!
lb:
0|Active     |    0|System Bundle (5.4.0)|5.4.0
    1|Active     |    1|Guava: Google Core Libraries for Java (18.0.0)|18.0.0
    2|Active     |    1|Jackson-annotations (2.7.0)|2.7.0
    3|Active     |    1|Jackson-core (2.7.4)|2.7.4
    4|Active     |    1|jackson-databind (2.7.4)|2.7.4
    5|Ac

[2017-03-16 16:02] johnou commented on #5987
@shumy please open a new issue with an updated stacktrace.

[2017-03-16 16:06] normanmaurer commented on #5987
@shumy also a reproducer would be nice.

[2017-03-16 16:17] shumy opened #6548 "Unable to initialize PlatformDependent0 (Netty 4.1.8.Final)"
### Expected behavior
No errors

### Actual behavior
java.lang.NoClassDefFoundError: Could not initialize class io.netty.util.internal.PlatformDependent0
io.netty.common[io.netty.channel.DefaultChannelId] : Could not invoke Process.myPid(); not Android?
java.lang.ClassNotFoundException: android/os/Process

### Steps to reproduce
On Ubuntu 16:
git clone https://github.com/shumy/leffe-wg
cd leffe-wg

[2017-03-16 16:23] shumy commented on #5987
New issue #6548

[2017-03-16 16:34] johnou commented on #6548
@shumy those exceptions are debug level logger statements, changing your log level to info or warn should do the trick.

[2017-03-16 16:36] johnou commented on #6548
you could optionally set ```-Dio.netty.processId=$$``` when starting the JVM if you want to prevent Netty from trying to determine the process pid.

[2017-03-16 16:40] shumy commented on #6548
I thought this was affecting vertx behavior, because I'm unable to receive a response from port 9191.

[2017-03-16 17:47] sschepens opened #6549 "HttpServerKeepAliveHandler closes connection on 204 response"
### Expected behavior

Netty Http Server responds 204 without body, maintaining the connection open.

### Actual behavior

`HttpServerKeepAliveHandler` closes the connection unless the response is `Informational` or has `Content-Length` set, but 204 responses are not Informational but should not carry a `Content-Length` header [rfc](https://tools.ietf.org/html/rfc7230#section-3.3.2).
[code]
A cond

[2017-03-16 18:32] Underbalanced commented on #6545
That is because Embedded Channels initialize a internal EventLoopGroup.

Here is the source code for embedded channel.
[EmbededChannel.java](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/embedded/EmbeddedChannel.java)

[2017-03-16 18:39] Underbalanced commented on #6547
Not sure why this is happening but try using the constructor of MessageToMessageEncoder.java it should fix this.

`protected  MessageToMessageEncoder(Class<? extends I> outboundMessageType)`
Create a new instance

I.E.
[code]

`                          .addLast(new JsonEncoder<JsonRequest>(JsonRequest.class))`

Link to the class API
[MessageToMessageEncoder.java](http://netty.io/4.1/api/io/netty/

[2017-03-17 01:11] ninja- opened #6550 "Last packets discarded in edge-triggered epoll(again?)"
### Expected behavior

Hi,
After a little break I am having trouble again with last packets being discarded and it seriously looks like a netty bug(again?) that may be a regression after updating netty after a year of 4.1 updates, but I am unable to tell for sure.

I am using edge-triggered epoll and I am running a custom proxy application for a game
(still the same one that I've been targeting wi

[2017-03-17 01:15] ninja- commented on #6550
Here's a class I am using that I am using to get a "callback" after a batch have been flushed, it might be a source of the bug the class looks legit to me.

[code]

[2017-03-17 01:28] ninja- commented on #6550
Also I recalled that I am using the following patch to squash the writes but it may be a dead code(at least I wasn't able to get it to work properly so epoll's writeMultiple wouldn't be called 90% of the time, and it still is)

[code]

[2017-03-17 01:53] johnou commented on #6550
cc @Scottmitch

[2017-03-17 03:09] ninja- commented on #6550
Also, I have this code in main handler...but I don't think it could cause problems

[code]

[2017-03-17 03:50] ninja- commented on #6550
ah I remembered why I left the comment about using void promises only...otherwise it gets ignored.
(I needed to check netty's source, because I though the promise would be called after flush and not get attached to the write call)

So that part of the problem should be fixed by removing TrafficFlushMarker before kick, my mistake.

I am still not sure about the part with the server<->proxy kicks no

[2017-03-17 08:17] johnou commented on #6547
It's happening because I is not an actual type and the class needs to be passed in for it to know, above usage is correct.

[2017-03-17 11:03] shumy commented on #6548
Also, from the Netty logs I'm receiving requests, but nothing comes out:

[code]

[2017-03-17 13:26] shumy commented on #6548
OK, I found the solution myself, and this will probably be a problem on Java 9.
Seems that "sun.misc.Unsafe" is not optional in OSGi, Apache Felix!!

Just added the dependency "com.diffplug.osgi:com.diffplug.osgi.extension.sun.misc:0.0.0", this will provide the "sun.misc.Unsafe".

[2017-03-17 14:48] johnou commented on #6548
@shumy at least it should be marked optional https://github.com/netty/netty/blob/4.1/pom.xml#L857 is there a problem with the Import-Package?

[2017-03-17 15:01] shumy commented on #6548
I mean... optional or not in the manifest, if I do not expose the "sun.misc" in the OSGi container it will not work. Vert.x responses don't get out. No errors thrown!

[2017-03-17 21:28] vkostyukov opened #6551 "Http2StreamChannel doesn't inherit config of the parent channel"
# Problem

As you probably aware, Finagle is a bit special when it comes to Netty 4 usage. For example, we neither use pooling nor prefer direct buffers at the moment. We're getting close to the pooled/direct utopia, but we're not there yet.

That said, Finagle's HTTP/2 pipelines are unpooled and yet we've discovered that inbound messages on the server-side are pooled in some cases. Turns out, `Ht

[2017-03-18 02:53] normanmaurer commented on #6551
@vkostyukov this is a bug... Please open a PR FTW :)

[2017-03-19 15:17] #6452 closed

[2017-03-19 20:08] maseev commented on #6533
@zld406504302 Looks like the link to a zip archive you've attached is malformed. It would be much convenient to have a GitHub repository with code that reproduces the problem.

[2017-03-19 21:33] orangy commented on #2545
I have the same issue, but with 4.1.9.Final
I've noticed something weird with `SslHandler`, in `channelInactive` it calls `notifyClosePromise` which calls `fireUserEventTriggered` and thus schedules new task in the queue, which prevents graceful shutdown to exit immediately, it sleeps for 100ms and then waits some time on select before actually exiting.

[2017-03-20 04:48] vkostyukov commented on #6551
Thanks @normanmaurer! I'm on it!

[2017-03-20 16:22] Underbalanced commented on #6547
So have you resolved this because this isn't a issue. If so please close.

[2017-03-20 16:22] Underbalanced commented on #6545
So have you resolved this because this isn't a issue. If so please close.

[2017-03-20 16:40] ninja- commented on #6550
@normanmaurer any ideas this time?

[2017-03-20 16:46] normanmaurer commented on #6550
@Scottmitch can you please take a look

[2017-03-20 20:41] ninja- commented on #6540
That does not look like a memory leak it's netty's Recycler cache.

[2017-03-20 23:37] chhsiao90 commented on #6545
@Underbalanced - Thanks for the comment and sorry for the lately reply.

I think I had no big problem about this, there is many ways to bypass it when writing unit test.
Just have this issue for some discussion.

I know that EmbeddedChannel would create a EmbeddedEventLoop, and register itself into that loop that I had point out at my first comment.
Just curious that if we can bootstrap an Embedde

[2017-03-21 03:31] loststarsXD opened #6555 "codec-mysql"
Is there any planning to support codec-mysql?

[2017-03-21 04:05] normanmaurer commented on #6555
No plans atm

[2017-03-21 04:05] #6555 closed

[2017-03-21 07:33] ninja- commented on #6550
Duplicate of recently fixed #6303 @Scottmitch? :)

[2017-03-21 08:29] cosmingodeanu commented on #6540
Hello, is there any way to limit this cache? because it just seems to grow continuously  would an option like -Dio.netty.recycler.maxCapacity.default help?

[2017-03-21 11:26] johnou commented on #6550
@ninja- try 4.1.9.Final, it was released 10th of March.

[2017-03-21 13:34] ninja- commented on #6550
Yes, it probably fixes the #6303 which is nice. The other half of the problem still remains though :/

[2017-03-21 13:50] jasontedor commented on #6540
You can set the system property `io.netty.recycler.maxCapacityPerThread` to `0` (i.e., start Java with the option `-Dio.netty.recycler.maxCapacityPerThread=0`) to disable the cache.

[2017-03-21 13:51] normanmaurer commented on #6550
Please open another bug with only the remaining problem explained

[2017-03-21 19:51] ninja- opened #6557 "Last written packet not being delivered (epoll)"
### Expected behavior

The packet is always delivered and the connection is closed with FIN or FIN+RST?, when using this piece of code:
[code]

### Actual behavior

There's a 10% chance this code will race and will result with connection reset for the client.
A working so-far workaround is to add a listener that waits 50ms before calling channel.close().

### Steps to reproduce
...?

### Minimal y

[2017-03-21 19:52] #6550 closed

[2017-03-22 10:49] ninja- commented on #6557
I just confirmed this on latest Netty 4.19-FINAL

internal exception: java.io.ioexception: an existing connection was forcibly closed by remote

[2017-03-22 11:01] #6547 closed

[2017-03-22 11:01] ninja- commented on #6557
That's seriously interesting :o I just tested it with Wireshark.

The packet IS delivered(flags PSH+ACK). Soon after there's a RST+ACK packet. The client still gets "forcibly closed by remote" before the packet is handled. Why is that?

[2017-03-22 11:05] ninja- commented on #6557
On a case where it's received correctly(the ratio I see now is more like 40% race, 60% not racing) the sequence is:

SERVER -> CLIENT(PSH+ACK): kick packet
CLIENT -> SERVER: FIN+ACK
SERVER->CLIENT: RST+ACK

[2017-03-22 11:14] ninja- commented on #6557
When I kick myself on a legit server there is no RST anywhere, there's FIN. Clearly something wrong on the netty side.

[2017-03-22 11:18] ninja- commented on #6557
I checked whether I am overriding SO_LINGER with 0 which could create this problem according to this http://stackoverflow.com/a/8764491 but I see no mention of this in my codebase.

[2017-03-22 11:58] ninja- commented on #6557
I found a unit test for this bug, but somehow it's still passing

![](https://vderp.net/s/xkE3v_chrome_2017-03-22_12-58-21.png)

[2017-03-22 14:27] rkapsi opened #6559 "DnsNameResolver fails for some hostnames"
The following test is failing for me as of Netty 4.1.9.Final. To be exact, it fails most of the time and succeeds once every dozen of runs. I've tested setting the DNS servers explicitly (e.g. just 8.8.8.8:53) but that hasn't made a difference.

It seems to be specific to certain hostnames (a few examples are included in the test) and more "normal" hostnames such as netty.io, google.com, apple.com

[2017-03-22 14:35] normanmaurer commented on #6559
Have you tried to increase some number of allowed queries ?

[2017-03-22 14:41] rkapsi commented on #6559
@normanmaurer via `maxQueriesPerResolve(...)`? That had no effect but... I've just changed `maxPayloadSize()` from the default value of 4kb to 10kb and that seems to fix it.

[2017-03-22 14:50] rkapsi commented on #6559
Actually, I take that back. The results flip flop.

[2017-03-22 15:11] rkapsi commented on #6559
But setting `resolvedAddressTypes(ResolvedAddressTypes.IPV4_ONLY)` seems to fix it (default value is IPV4_PREFERRED)

[2017-03-23 07:28] ninja- commented on #6557
According to this comment this may be a problem with calls to shutdown(...)?
http://stackoverflow.com/a/8875362

[2017-03-23 17:22] ninja- opened #6560 "Unneeded call to writev(...) when writing just 1 buffer"
### Expected behavior

When writing epoll data and there is just one buffer in outbound buffer, write(...) syscall should be used.

### Actual behavior

For some reason writev(...) is called with iovcount = 1 every time.

[code]

With the args being: file descriptor, {[buffer bytes, buffer size]}, buffer count(= 1)

### Steps to reproduce

Should reproduce on every epoll server.

### Minimal yet c

[2017-03-23 17:26] ninja- commented on #6560
I can't spot a logical mistake in piece of code https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/channel/epoll/AbstractEpollStreamChannel.java#L468

[2017-03-23 17:40] ninja- commented on #6560
The logic fail may be here:
what do you think @normanmaurer?

https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/channel/epoll/AbstractEpollStreamChannel.java#L458

here using in.size() (counting flushed+unflushed messages ?)

https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/channel/epoll/AbstractEpollStreamChannel.java#L527

[2017-03-23 19:33] lewisd32 opened #6561 "Some characters decoded by QueryStringDecoder are not encoded by QueryStringEncoder"
### Expected behavior

When a path is decoded by `QueryStringDecoder`, encoding it with `QueryStringEncoder` should result in the original path again.

### Actual behavior

Since #5590, `%0d` and `%0a` (and probably others) in the query string are now decoded, to `\r` and `\n` respectively. However, `QueryStringEncoder` does not re-encode these characters.

### Steps to reproduce

See reproducer c

[2017-03-24 03:27] zmyer opened #6562 "netty.handler.codec.DecoderException: java.lang.OutOfMemoryError: Java heap space"
### Expected behavior

### Actual behavior
was thrown by a user handler's exceptionCaught() method while handling the following exception:
io.netty.handler.codec.DecoderException: java.lang.OutOfMemoryError: Java heap space
        at io.netty.handler.codec.ByteToMessageDecoder.callDecode(ByteToMessageDecoder.java:442) [netty-all-4.1.6.Final.jar:4.1.
6.Final]
        at io.netty.handler.codec.Byte

[2017-03-24 04:14] normanmaurer commented on #6562
@zmyer not sure what you expect but this basically means you ran out of heap space. So take a heap dump and see what takes too much space and either fix this or increase the heap space if its expected

[2017-03-24 04:14] #6562 closed

[2017-03-24 04:21] normanmaurer commented on #6560
I will check soon, just super busy atm

[2017-03-24 04:22] normanmaurer commented on #6559
interesting... I will have a look soon

[2017-03-24 04:26] #6551 closed

[2017-03-24 04:27] normanmaurer commented on #6551
Fixed by https://github.com/netty/netty/pull/6552

[2017-03-24 05:12] #6545 closed

[2017-03-24 07:29] fenik17 commented on #6561
IIUC, encoded CRLF [`%0d%0a`] can be passed with http params, but should not be encoded into the URL path (at least to prevent a "CRLF Injection" / "HTTP Response Splitting" attacks).
Perhaps we should modify the `QueryStringDecoder` so that it doesn't consider the CR/LF as part of the URL path.

And I didn't quite understand yours use case of the `QueryStringEncoder` for redirects..

[2017-03-24 09:33] trustin opened #6564 "When the number of pending unencrypted bytes is high, SslHandler tries to allocate a huge outNet buffer."
### Expected behavior

When a user attempts to write a large buffer (e.g. 1GB) via SslHandler, SslHandler should not attempt to allocate an outNet buffer that's as large as the buffer given by the user, because

- We may not be able to flush fast enough to deallocate it soon.
- A user may get an OOME when under backpressure due to double memory allocation.
- It's inefficient to allocate a direct b

[2017-03-24 09:35] trustin commented on #6564
I believe [this](https://github.com/netty/netty/commit/53fc69390130f7a5a33d454a59ad214f6b4176f5#diff-cfd417915faad637e4278b54adafd9baL1609) is related. /cc @Scottmitch

[2017-03-24 09:45] cosmingodeanu commented on #6540
Thank you Jason, that option did the trick.

[2017-03-24 09:52] trustin commented on #6564
A workaround is probably for a user to split the large buffer into multiple 16KiB ones, although I didn't try yet.

[2017-03-24 13:52] normanmaurer commented on #6564
@trustin let me check. That said don't you think we will have the same problem even when split the buffer as the "flush" will not happen until we processed everything in the `pendingWrites` queue ?

[2017-03-24 15:08] kevinherron opened #6565 "Netty causes ClassLoader leak in container environments"
I'm running Netty in a container-like environment where modules can be loaded and unloaded. Unloading a module that has used Netty causes the ClassLoader to be leaked.

I'm able to reproduce with this minimal example (running in the container environment, obviously):

[code]

I've tried shutting down as many global looking Netty resources as I could find but it still leaks. I've uploaded a JProfil

[2017-03-24 15:10] normanmaurer commented on #6565
@kevinherron can you try calling `FastThreadLocal.removeAll()` as last method before complete the shutdown method ?

[2017-03-24 15:16] kevinherron commented on #6565
@normanmaurer I added that and tested again, still leaks.

[2017-03-24 17:05] kevinoliver opened #6566 "LoggingHandler does not override channelReadComplete or channelWritabilityChanged"
### Expected behavior

`io.netty.handler.logging.LoggingHandler` logs when these events happen.

### Actual behavior

Because these methods are not overridden in `LoggingHandler`, no logging happens.

### Steps to reproduce

(I think this is self-explanatory)

### Minimal yet complete reproducer code (or URL to code)

(I think this is self-explanatory)

### Netty version

4.1.9

### JVM version (e

[2017-03-24 17:41] normanmaurer commented on #6566
Sounds good... PR for the win and glory

[2017-03-24 18:29] lewisd32 commented on #6561
I see. That does make some sense.

I'll try to explain our use case for `QueryStringEncoder`. We're not actually using it right now, but while trying to find a workaround for this "bug" (maybe not but?) I tried using it.

All the resources our Netty-using-server serves are expected to have a trailing `/`, for purposes of simplifying the use of relative URLs in the HTML content. To ensure this, any

[2017-03-24 20:29] kevinoliver commented on #6566
cool. opened https://github.com/netty/netty/pull/6567 to fix this.

[2017-03-25 02:59] trustin commented on #6564
@normanmaurer That's a good question. To be precise, I guess it has to be a one large buffer. I wrote a large buffer on HTTP/1 and HTTP/2 connection and the problem occurred only on HTTP/1 which is likely due to HTTP/2's automatic segmentation.

[2017-03-25 16:17] ninja- commented on #6557
Yeah so adding channel.shutdownOutput() before channel.close() makes it work properly....Now it's sending FIN. This should be the default behaviour. I can come up with a PR...

[2017-03-25 16:34] dantewang commented on #6181
既然是为了检测内存泄露，应该是每产生一个直接内存（堆外内存）时，就应该加入到引用链中进行跟踪，为了考虑性能问题，可以没创建113个时，再调用reportLeak方法。

When level of resource leak detector is SIMPLE, and the default detection frequency is 113, why does it only create DefaultResourceLeak for every 113th created direct buffer, instead of creating DefaultResourceLeak for every direct buffer while only reportLeak on the 113th direct buffer creation?

@Scottmitch A si

[2017-03-25 16:38] hepin1989 commented on #6181
You change change to sample everything,but that will have huge impact.

[2017-03-26 00:16] normanmaurer commented on #6564
@trustin most likely this is due the fact that such a large buffer will be allocated from outside the pool.

[2017-03-26 15:08] fenik17 commented on #6561
You easily can redirect to `/foo/?bar=`. But `path` (`/foo/`) can't contain `\r` or `\n` - it's wrong `path` anyway. However, in the params this is entirely acceptable:

[code]

But not in the `path`. Where do you get them from? )
Optionally, you can filtering wrong paths or crop to CR/LF.

[2017-03-26 18:41] lewisd32 commented on #6561
Yeah, I can see how that would work. I'm not worried about them in the query string right now though, just the path.
I realize these requests are probably bots or scans, but I'd like to be able to return 400 rather than 500. I'm not sure how to accomplish that right now without explicit checks for `\r` or `\n` in the request, which definitely isn't the right way.

Prior to #5590, our code would su

[2017-03-26 18:53] floragunncom opened #6571 "SSLHandler slow"
### Expected behavior
Minimal SSL overhead (max 5-10 %) with Java SSL.
OpenSSL fails with "io.netty.util.internal.OutOfDirectMemoryError", will open separate issue

### Actual behavior
Pure Java SSL > 3 times slower than without SSL

### Steps to reproduce
Run the provided code

### Minimal yet complete reproducer code (or URL to code)
https://github.com/floragunncom/netty-memleak/tree/bigsslslow

[2017-03-26 19:01] floragunncom opened #6572 "SslHandler fails io.netty.util.internal.OutOfDirectMemoryError when used with OpenSSL"
### Expected behavior
No errors when run netty with SslHandler+OpenSSL and sample data size of 20 mb.

### Actual behavior
OpenSSL fails with "io.netty.util.internal.OutOfDirectMemoryError", see https://gist.github.com/floragunncom/c9e46f1e80c047d093995979c8b0fcbc
It works with reduced amount data (on my machine it seems failing above 8 or 9 mb)
Java SSL works in every case

### Steps to reproduce

[2017-03-26 19:04] floragunncom commented on #6571
maybe related to https://github.com/netty/netty/issues/6139

[2017-03-27 05:46] normanmaurer commented on #6572
@floragunncom please share the full stacktrace

[2017-03-27 05:50] normanmaurer commented on #6536
As noted please upgrade to latest version and re-open if you still see the issue with more details

[2017-03-27 05:50] #6536 closed

[2017-03-27 05:50] normanmaurer commented on #6533
@zld406504302 please reopen with more details

[2017-03-27 05:50] #6533 closed

[2017-03-27 06:21] normanmaurer commented on #6560
@ninja- this can happen when multiple write loops are needed to write all buffers and the cnt goes down to 1:

https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/channel/epoll/AbstractEpollStreamChannel.java#L344

This should not happen very frequently I think it not really does any harm. Otherwise we would need to add an extra branch which will be expected on ev

[2017-03-27 06:26] normanmaurer commented on #6557
@ninja- did you read: http://m.blog.csdn.net/article/details?id=29864509 ?

I think what you describe may be expected. Did you check the nio transport and see if it acts the same ? (it should).

[2017-03-27 07:08] fenik17 commented on #6561
If you want just to add a slash at the end of any paths, maybe don't need to decode/encode query? How about something like this:
[code]

Alternatively, you may provide a PR to improve `QueryStringDecoder` and `QueryStringEncoder` so they return a custom exception (e.g. `MalformedURLException`), catch this in your code to return 400 for bad request.

Or forking / override QueryStringDecoder/QuerySt

[2017-03-27 07:38] ninja- commented on #6560
@normanmaurer I can't see a single write(...) call in the logs, so it's very frequent

[2017-03-27 07:56] floragunncom commented on #6572
(see also link mentioned above)

<pre>
Your session is protected by TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 cipher suite.
Peer certificates length: 1
20:56:25.495 [nioEventLoopGroup-4-1] DEBUG io.netty.handler.ssl.SslHandler - [id: 0xd1f0a988, L:/127.0.0.1:8992 - R:/127.0.0.1:65131] HANDSHAKEN: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
20:56:25.496 [nioEventLoopGroup-5-1] DEBUG io.netty.handler.ssl.SslH

[2017-03-27 11:27] tomasherman opened #6573 "Netty DNS resolver ignores provided DNS server address"
### Expected behavior
In netty 4.1.8.Final, following code works fine. However, in 4.1.9 it does not send the request to provided address and sends it to default name server stream instead.

[code]

If you run this code with netty 4.1.9 in debug mode, you can see it's sending requests to system resolvers.

I suspect the problem is the `doResolveUncached` in `DnsNameResolver` where you check whethe

[2017-03-27 12:32] normanmaurer commented on #6573
@Scottmitch can you please check as this was introduced by your change in 54c9ecf682eeafaaf7c826903c60f1c783b84dea . I think @tomasherman is correct that we should ensure we not override the name servers set by the user in this case.

[2017-03-27 12:36] normanmaurer commented on #6572
@floragunncom I think this is expected as you write faster then the remote peer can read.

You should use `sync()` here https://github.com/floragunncom/netty-memleak/blob/bigsslslow/src/main/java/io/netty/example/securechat/SecureChatClient.java#L76 . Remember all writes are non-blocking. That said we should try to no allocate to big buffers in `SslHandler` to make allocating more efficient when t

[2017-03-27 18:18] floragunncom commented on #6572
But why is it working with Java SSL and only failing with OpenSSL?

[2017-03-27 18:31] floragunncom commented on #6572
I also tried with `.sync()` but same exception. Also changing `ChannelOption.ALLOCATOR` to `UnpooledByteBufAllocator` does not help.

[2017-03-27 18:59] Erik-OShaughnessy opened #6574 "IllegalArgumentException for "address" in newDirectBuffer"
### Observed behavior

Running any Apache Spark job results in an IllegalArgumentException.

[code]

### Steps to reproduce

The crash can be reproduced by running the Apache Spark SparkPi example:

`$ $SPARK_HOME/bin/run-example SparkPi`

### Netty version
4.0.43.Final

### JVM version (e.g. `java -version`)
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSp

[2017-03-27 19:01] normanmaurer commented on #6574
Sounds good! Would you like to do a PR?

[2017-03-27 19:02] Erik-OShaughnessy commented on #6574
This will be my first, so I'll need some hand holding?

[2017-03-27 19:05] normanmaurer commented on #6574
Sure thing... just ensure you sign or icla and use our commit message template:

https://netty.io/s/icla
http://netty.io/wiki/writing-a-commit-message.html

[2017-03-27 19:05] normanmaurer commented on #6574
Let me know if there is any issue doing a or and if so I will just pick it up and fix myself

[2017-03-27 19:09] Scottmitch commented on #6573
temporary workaround: Use [NoopDnsServerAddressStreamProvider](https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/NoopDnsServerAddressStreamProvider.java#L22).

There is currently an issue with the APIs. `nameServerAddresses` (e.g. [DnsServerAddresses](https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/DnsServerAddresses.j

[2017-03-27 19:09] Erik-OShaughnessy commented on #6574
I just got a note from a common friend, Paul, and I think that I will forego the glory of the PR in favor of this getting fixed in a timely manner :) It will take a very long time for my legal to sign off on contributions and I would rather this got fixed rather than languish.

Thank you for offering to fix this, I will take you up on your offer!

[2017-03-27 20:52] tomasherman commented on #6573
i think the #2 makes sense ... i think having to configure two things in order to set dns server will be confusing

[2017-03-28 02:10] Scottmitch commented on #2545
@orangy - Can you clarify where (starting in `notifyClosePromise`) the `Runnable` is queued on the `EventLoop`? If we are on the event loop (which I would expect we should be when being notified of `channelInactive`) then I wouldn't expect anything to be queued.

[2017-03-28 02:20] Scottmitch commented on #6542
The SslContext object current maintains a reference to the supported protocols [1]. Does it make sense to do something similar for OCSP? I'm not sure because of its "optional nature", but I'm also not sure if we need to support a generic map structure. How many other items do you envision needing (is it more than just the `OCSP_KEY` you illustrate above)?

[1] https://github.com/netty/netty/blob/4

[2017-03-28 02:22] Scottmitch commented on #6532
could you please submit a link to a GitHub repo that includes a full reproducer? This would mean include the client that reproduces, or instructions with a commonly available client (e.g browser/curl).

[2017-03-28 02:37] Scottmitch commented on #6541
In general Netty will attempt to write to the OS when you call `flush()`. If the OS cannot accept the amount of bytes provided then Netty will set a flag on the selector message to be notified when more data can be written. When the OS write call is unable to accept more data any Netty `write` calls will be queued (in the `ChannelOutboundBuffer`). The writability of the channel will change depende

[2017-03-28 03:33] ductrungcnt commented on #6532
could you please review the code below has any problems?
I frequently have problems with Android 5.1.1, 4.1.2, 4.4.2 and 6.0.1. My client is Android only

Thanks!
`
//
protected static String postToServer(String url, Map<String, String> valuePairs) {

        HttpURLConnection conn = null;
        try {
            conn = (HttpURLConnection) new URL(url).openConnection();
            HttpURLConnec

[2017-03-28 06:01] normanmaurer commented on #6573
@Scottmitch yep go with [2].

[2017-03-28 06:29] normanmaurer commented on #6574
@Erik-OShaughnessy https://github.com/netty/netty/pull/6575 PTAL

[2017-03-28 07:49] orangy commented on #2545
I've caused it to terminate unsafely and then got a `RejectedExecutionException` to get the exact stack trace. Is it what you are looking for?
[code]

[2017-03-28 08:17] trustin opened #6576 "ByteBuf does not have access methods for little endian floats and doubles"
### Expected behavior

`ByteBuf` has `get/read/set/writeFloatLE()` and `get/read/set/writeDoubleLE()`.

### Actual behavior

`ByteBuf` does not have the little endian variant of float/double access methods.

### Netty version

4.0.x and 4.1.x

[2017-03-28 08:17] trustin commented on #6576
Probably not a good idea to add these methods to 4.1 but probably we could in 4.2+

[2017-03-28 08:19] normanmaurer commented on #6576
@trustin I guess we still could as `ByteBuf` is an abstract class and just implement them directly there. We then could implement these in an optimized way in the sub-classes. WDYT ?

[2017-03-28 08:23] trustin commented on #6576
Sounds good to me as long as we put some noticeable note in the announcement. :-)

[2017-03-28 08:24] normanmaurer commented on #6576
@trustin want to take a crack on this or should I do ?

[2017-03-28 08:25] trustin commented on #6576
Will find some time this week since this isn't an urgent one. :-)

[2017-03-28 08:30] normanmaurer commented on #6576
@trustin ok cool :)

[2017-03-28 10:08] normanmaurer commented on #6565
@kevinherron can you provide me with something that I can easily run to reproduce ?

[2017-03-28 10:09] normanmaurer commented on #6565
@kevinherron also can you please share a standard dump that can be opened with an OSS tool ?

[2017-03-28 15:05] rkapsi commented on #6542
Nice, I see that you added the protocols just recently. :+1:

It doesn't have to be generic map structure. If you're cool with adding an interface we can get away with something like this:

[code]

The important thing and why it's mutable and returns a Future is that there are a few strategies for obtaining staples and more importantly managing them. A push based approach is simpler but possibly n

[2017-03-28 15:38] Scottmitch commented on #2545
@orangy - Would you mind opening another issue? Can you provide this stack trace and also explain how your are initializing the pipeline. It looks like the even loop is processing the channel inactive and then one of your channel handlers has specified a different executor to execute on.

[2017-03-28 16:03] Erik-OShaughnessy commented on #6574
I've reviewed the proposed fix, it looks good to me. Thank you.

[2017-03-28 17:08] Scottmitch opened #6577 "HTTP/2 unit test LocalChannel ByteBuf leak"
Leak observed on the CI servers while building PR #6000

CI build:
https://garage.netty.io/teamcity/viewLog.html?buildId=18539&buildTypeId=pulls_netty&tab=buildLog

Related:
https://github.com/netty/netty/issues/5850

[code]

[2017-03-28 18:02] umermansoor commented on #1759
How about flushing only when writer is idle? [IdleStateHandler](https://netty.io/4.0/api/io/netty/handler/timeout/IdleStateHandler.html)

e.g. application only writes to the channel:

` write1, write2, write3,...`

After say 500ms (or whatever latency is preferred), IdleStateHandler fires a writer idle event at which point the flush happens:

`[writer idle event] flush`

Not sure if there's an ove

[2017-03-28 18:45] nhnFreespirit opened #6578 "Strange pauses before handling Http2 Header Frames in 4.1.9"
After upgrading From Netty 4.1.8 to 4.1.9 we are seeing strange pauses in our TSL HTTP/2 server, specifically it seems to have long (several seconds) pause before processing header frames in some cases.

I have bisected this with a local build of Netty, and that pointed to this commit as being the cause https://github.com/netty/netty/commit/6353c229fd11c6e6306011d55993775f7685d122

I do not have m

[2017-03-28 18:47] nhnFreespirit commented on #6578
I should probably add that the current version of the server is using the "old" Netty HTTP/2 API to build our pipeline.

[2017-03-28 18:53] normanmaurer commented on #6578
@Scottmitch can you please have a look ?

[2017-03-28 23:10] guillaumecle opened #6579 "Expose the hpack decoder"
Hello,

grpc is using the hpack decoder in [GrpcHttp2HeadersDecoder](https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/netty/GrpcHttp2HeadersDecoder.java) and in netty 4.1.9.Final its visibility has been [changed to private](https://github.com/zer0se7en/netty/pull/2/commits/f9001b9fc07a71a9d6eaf0462470416780302107).
This is preventing grpc to be used with netty 4.1.9.Final

[2017-03-29 04:39] Lomad opened #6580 "OutOfDirectMemoryError"
### Actual behavior:
Here is the error log infomation,generally,because of the setting of DirectMemory
WARN  io.netty.channel.DefaultChannelPipeline - An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
io.netty.handler.codec.DecoderException: io.netty.util.internal.OutOfDirectMemoryError:

[2017-03-29 05:14] normanmaurer commented on #6579
@nmittler @ejona86 can we get around this without exposing it again ?

[2017-03-29 05:40] trustin commented on #6572
Probably a duplicate of #6564

[2017-03-29 05:57] fenik17 commented on #6580
Try upgrade to latest Netty version. After a 4.1.5 there were many fixes.

[2017-03-29 06:39] Lomad commented on #6580
Ikoe who had the same problem had tried 4.1.8,but nothing was changed. Ikoe also tried limited or disabled the Recycler,and it had no noticable effect on this problem.
I will try again,thanks you.

[2017-03-29 06:39] Lomad commented on #6580
@fenik17

[2017-03-29 07:07] fenik17 commented on #6580
If this is the same as #6343, for why you opened a new issue?

[2017-03-29 13:15] rkapsi commented on #6542
Actually, I'm not sure about that snippet either. I think it carries too much biz logic weight and it's possibly awkward API-wise.

It'd be nice if `SslContext` was an interface (or had one). That way it'd be safe to "bastardize" it and make it do whatever the user likes. It being an abstract class subjects the user to runtime breakage which puts me at unease of using the delegate pattern (hence t

[2017-03-29 15:13] nmittler commented on #6579
I'll defer to @ejona86 and @carl-mastrangelo

[2017-03-29 15:25] kevinherron commented on #6565
@normanmaurer [here's a dump in hprof format](https://www.dropbox.com/s/zaxzltkz6gtrwym/netty-leak.hprof?dl=0)

Can I email you instructions for setting up an environment to reproduce? It should take less than 5 minutes from downloading the software to reproducing.

[2017-03-29 15:27] normanmaurer commented on #6565
@kevinherron norman dot maurer at googlemail dot com ;)

[2017-03-29 18:37] Scottmitch commented on #6578
@nhnFreespirit - Are you doing renegotiations, and is this pause related to handshake/setup time? Or does this pause occur after the handshake is setup and you are sending application data?

[2017-03-29 20:36] normanmaurer commented on #6574
Fixed by https://github.com/netty/netty/pull/6575

[2017-03-29 20:36] #6574 closed

[2017-03-30 00:06] vkostyukov opened #6583 "MessageAggregator doesn't manage read flow (auto-read is disabled)"
### Expected behavior

This was discovered in Finagle's [HTTP proxy support handler](https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/proxy/HttpProxyConnectHandler.scala#L103-L106).

Calling `ctx.read()` (when auto-read is disabled) in any handler placed right after the [`MessageAggregator`](https://github.com/netty/netty/blob/4.1/codec/src/m

[2017-03-30 00:45] Underbalanced commented on #6541
@Scottmitch As I understand his issue as I originally answered it on stackoverflow...

He is writing a pass through proxy that logs to a 3rd server for logging. When I answered his question I advised him to just open a connection to 3rd server just like the second, but write only to it. The third server is not attached to the proxy in the same VM instance. Hence the problem he needs to solve is wr

[2017-03-30 01:39] fsareshwala commented on #6578
@Scottmitch I looked at this problem briefly today with Wireshark and it looks like the pause is after the handshake is complete and application data has started being sent. I am currently working on decrypting the data being sent back and forth between our client and server so that I can see where exactly things are getting blocked. I should have more information regarding that tomorrow.

[2017-03-30 02:43] nipunarora commented on #6541
@Scottmitch - What @Underbalanced said is correct, he has described is my overall problem which I asked in stack overflow and he provided me the answer. I do indeed need to write my own policy on dropping data, which needs to based on the outbound write channel becoming "unwritable". This issue is about the fact that I did not observe the channel becoming "unwritable".

 Hence while my overall pro

[2017-03-30 04:59] Scottmitch commented on #6535
The intention is that by default ByteBuf's memory is in Network Byte Order (big endian). Methods on the ByteBuf interface without the `LE` suffix should be represented in memory as big endian. I found some bugs in the ByteBuf code which handles reading/writing primitives and fixed them in PR https://github.com/netty/netty/pull/6582.

There are also some unnecessary methods in codec-http2 which are

[2017-03-30 11:06] artem-v commented on #1759
Easiest way to implement batching is when you have _reading_ and _writing_ channels registered on the same netty thread. Then you could catch a point when read operations have been completed on _all_ channels, and then flush all _dirty_ channels. I.e. approach looks like this:
- setup thread local collection for channels that shall be flushed.
- on all channels setup outbound channel handler with

[2017-03-30 12:05] normanmaurer commented on #6583
@vkostyukov yes this is a bug. Can you please submit a pr ?

[2017-03-30 12:17] normanmaurer commented on #6583
@vkostyukov maybe let me also think about if we can fix this in a more generic way so it "just works" for all handlers.

[2017-03-30 13:32] thiaguten opened #6585 "ReadTimeoutHandler configuration improvement"
## Expected behavior

In my project, I want to use Java 8 API class java.time.Duration to configure the ReadTimeoutHandler in the pipeline.

[code]

## Actual behavior

The ReadTimeoutHandler has a constructor, [ReadTimeoutHandler(int timeoutSeconds)](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/timeout/ReadTimeoutHandler.java#L71), with a int value as parameter,

[2017-03-30 13:41] fenik17 commented on #6585
Why not just cast long to int?
`new ReadTimeoutHandler((int) timeout);`

[2017-03-30 13:49] thiaguten commented on #6585
Yes, that is a possibility too. But why not change int to long in the constructor? I want to understand why an int was used.

[2017-03-30 14:10] fenik17 commented on #6585
Maybe because it's enough for the seconds? :) Honestly I don't see the problem. Also you can successfully use a pure `long` with `TimeUnit.SECONDS` as second param...

[2017-03-30 14:13] normanmaurer commented on #6585
@thiaguten as @fenik17 said, so let me close this one

[2017-03-30 14:13] #6585 closed

[2017-03-30 14:28] normanmaurer commented on #6583
@vkostyukov so yes just do a PR for now. I may be able to come up with a more general solution but not sure yet and it may take some time.

[2017-03-30 14:49] kevinherron commented on #6565
@normanmaurer did you get my email?

[2017-03-30 14:50] normanmaurer commented on #6565
@kevinherron yes but had no time yet :(

[2017-03-30 15:01] kevinherron commented on #6565
@normanmaurer ok that's no problem; I just wanted to make sure it arrived.

[2017-03-30 15:25] slandelle commented on #6565
It's not (or not only) a ClassLoader leak.
The `io.netty.util.concurrent.GlobalEventExecutor` singleton is still up (along with a `FastThreadLocalThread` instance).

[2017-03-30 15:28] kevinherron commented on #6565
@slandelle right... that's what leads to the ClassLoader leaking, is that there's a handful of Netty bits still running or referenced that I can't figure out how to shut down.

[2017-03-30 15:48] slandelle commented on #6565
Could be Finalizers.
Could be some Netty resources being cached ThreadLocals while they are being loaded from a global thread that the unloaded module doesn't own.

[2017-03-30 15:55] vkostyukov commented on #6583
Thanks @normanmaurer! I think fixing it in `MessageAggregator` will be generic enough since it will also fix `HttpObjectMessageAggretator`, `WebSocketFrameAggregator`, `AbstractMemcacheObjectAggregator`, `RedisBulkStringAggregator`, etc.

Working on a fix and a test.

[2017-03-30 16:09] ninja- commented on #6560
@normanmaurer are you able to reproduce ?

[2017-03-30 16:11] normanmaurer commented on #6560
Had no time yet... a reproducer and details how you debugged this will help

[2017-03-30 16:12] ninja- commented on #6560
Sure thing, I'll prepare a reproducer that will show the problem with strace.

[2017-03-30 16:39] lewisd32 commented on #6561
I've just found out that this:
`curl -I http://localhost/%0d%0a%09a:b`
when using the path from `QueryStringDecoder` as part of the `Location` header (in order to do a relative redirect) results in:
[code]
This was introduced by #5590. Prior to #5590, the same request would result in:
[code]
It seems to me like #5590 increased the potential for "CRLF Injection" / "HTTP Response Splitting" attacks

[2017-03-30 21:24] Scottmitch commented on #6578
@fsareshwala - Thanks for the update. Keep me posted. It would be nice to keep some of this optimization but if necessary we can also revert it.

[2017-03-30 22:03] Underbalanced commented on #6541
@nipunarora

- This is because of referenced counting [Reference Counting](https://netty.io/wiki/reference-counted-objects.html). The overall ByteBuf is a holder of either some segment of a heap or direct buffer that internally has reference counting. Using direct memory provide less memory copies as the memory is directly with the OS and should be enabled by default if your OS allows it. Getting

[2017-03-30 22:11] Scottmitch commented on #6557
@ninja- - Before you come up with a PR to change behavior can you submit a stand alone unit test which demonstrates the issue. If this is just a matter of calling shutdown can this be done at the application layer if your application requires this behavior?

[2017-03-30 22:36] nmittler commented on #6579
I just chatted with @carl-mastrangelo offline and this is blocking them from migrating to 4.1.9.Final.  Easiest thing would be to just expose it.

@Scottmitch any objections?

[2017-03-30 22:38] carl-mastrangelo commented on #6579
FYI: we (gRPC Team) don't mind too much working around breaking method signatures and moving code.  We accept that the HTTP/2 API is unstable.

[2017-03-30 22:45] Scottmitch commented on #6546
Redis documentation is typically very clear. However I cannot find any documentation on the expected structure of the `FULLRESYNC` response (other than https://redis.io/topics/replication). Based upon this documentation it seems like this is a redis-to-redis command:

The response to this command doesn't follow the same structure as described in https://redis.io/topics/protocol. Here is the respon

[2017-03-30 23:09] Scottmitch commented on #6549
see https://github.com/netty/netty/pull/6587

[2017-03-30 23:13] Scottmitch commented on #6548
We (the Netty project maintainers) don't have much experience with OSGi and rely upon the community to drive these changes. So PRs are welcome if there are issue with OSGi. Please update to Netty 4.1.9 and submit a PR if its still broken.

[2017-03-30 23:16] Scottmitch commented on #6559
@rkapsi - Also note that as of 4.1.9 we respect the system DNS configuration and use this over provided hostnames. The ambiguity will be resolved soon as part of https://github.com/netty/netty/issues/6573. However is it possible you are using unexpected DNS servers?

[2017-03-31 00:03] Scottmitch commented on #6573
see https://github.com/netty/netty/pull/6588

[2017-03-31 00:28] Scottmitch commented on #6181
The different levels of sampling exist because the leak detection comes with an overhead. Creating objects is not free, and can be expensive if additional objects are allocated for every network read/write. If we are not going to report leaks then there is no sense in create the object and incurring the object allocation overhead and increasing GC pressure.

If you have a lower overhead alternativ

[2017-03-31 00:28] #6181 closed

[2017-03-31 00:31] Scottmitch commented on #6571
@floragunncom - Are you writing large amounts of data? If so please try https://github.com/netty/netty/pull/6569.

[2017-03-31 00:36] Scottmitch commented on #6532
This is not a complete reproducer. Please re-open when you are able to provide a complete, self contained, and minimal reproducer as requested in https://github.com/netty/netty/issues/6532#issuecomment-289642926. I don't have adequate information to debug at this point.

[2017-03-31 00:36] #6532 closed

[2017-03-31 01:16] Scottmitch commented on #6542
Can you elaborate on your concerns with using delegation? Is it primarily a general concern of "what if someone adds a method that I should override in the future, or overrides something they don't today and changes behavior"? It would be good to understand the specific concerns (you also mentioned reference counting was complicating things). Ideally we could avoid adding a new API, but maybe this

[2017-03-31 01:19] Scottmitch commented on #6565
ideally we can provide a reasonably centralized place to cleanup/unload static state.

[2017-03-31 03:01] Aegeaner commented on #6546
The PING command is sent by the slave.
When the slave try to sync with the master, it will periodly send PING command to master every second.
See: [https://redis.io/topics/replication](https://redis.io/topics/replication)

[2017-03-31 05:52] normanmaurer commented on #6578
@Scottmitch +1

[2017-03-31 05:55] normanmaurer commented on #6564
Fixed b https://github.com/netty/netty/pull/6569

[2017-03-31 05:55] #6564 closed

[2017-03-31 06:09] normanmaurer commented on #6347
@yschimke fixed by https://github.com/netty/netty/pull/6590 . Please check

[2017-03-31 07:47] fenik17 commented on #6561
You're right. I think it makes sense to fix the `QueryStringDecoder` so that it be consistent with `QueryStringEncoder`. This will be a change in behavior, but can prevent a potential attack vector and make classes behavior more consistent.

@normanmaurer @Scottmitch @trustin - what do you think about it?

[2017-03-31 13:35] rkapsi commented on #6559
@normanmaurer @Scottmitch I have tried setting `nameServerAddresses()` explicitly to 8.8.8.8 but that didn't make a difference (unless that's what you mean with system DNS being used over provided).

Here's a more complete test. Notice that the IPv6 tests are expected to fail (the test doesn't check for it though). The IPv4 tests are supposed to succeed and most importantly... The `testResolveDefa

[2017-03-31 14:23] floragunncom commented on #6571
@Scottmitch #6569 ist not the problem here i think because pure Java SSL is also slow

[2017-03-31 14:28] floragunncom commented on #6571
@Scottmitch @normanmaurer What is the expected max. overhead of using SSL in terms of data throughput with recent Java 8 on modern hardware?

[2017-03-31 14:42] rkapsi commented on #6542
Yes that would be my primary concern of using delegation that non-abstract methods get added and the user won't know about it until things start failing at runtime.

The other problem is that... `SslContext` itself is trivial (easy delegate) but actual implementations such as `ReferenceCountedOpenSslContext` are a bit more complex and my delegate (that extends `SslContext`) now needs to be super a

[2017-03-31 15:23] thiaguten commented on #6585
@normanmaurer @fenik17 No problem. Thanks! :)

[2017-03-31 17:51] #6579 closed

[2017-03-31 18:18] Scottmitch opened #6591 "Avoid exposing HPACK classes"
HPACK is an internal detail of HTTP/2 and if possible it would be nice to avoid exposing this in the public interface of the codec-http2. Recently PR https://github.com/netty/netty/pull/6589 exposed `HpackDecoder` for extensibility reasons. In this particular case the extensibility point seemed to be focused on creating a different type of `Http2Headers` object than `DefaultHttp2Headers`. I would

[2017-03-31 18:19] Scottmitch commented on #6591
@carl-mastrangelo @nmittler - I would like to propose reverting https://github.com/netty/netty/pull/6589 and instead submit a new PR which makes the necessary changes to `DefaultHttp2HeadersDecoder`. WDYT?

[2017-03-31 19:04] ejona86 commented on #5952
I think I've triggered this in 4.1.8 as well and didn't see problems. But I will note that since `SETTINGS_MAX_HEADER_LIST_SIZE` is advisory, I was actually surprised that netty enforced it locally. Bugs with HPACK error handling should be fixed, but if this _specific_ problem resurfaces it could be solved by removing the outbound check.

[2017-03-31 19:43] Scottmitch commented on #6546
It seems like you provided a high level summary of my response https://github.com/netty/netty/issues/6546#issuecomment-290566465.

To clarify my response ... `codec-redis` is and implementation of the client protocol described in https://redis.io/topics/protocol. The command structure between master/slaves (e.g. `PSYNC`) is not supported by `codec-redis`.

[2017-03-31 19:46] carl-mastrangelo commented on #6591
@Scottmitch I think the reason for that file was to make unsafe assumptions gRPC can safely make.

[2017-03-31 19:50] Scottmitch commented on #6591
@carl-mastrangelo - Just to be sure I understand you...

GrpcHttp2HeadersDecoder?

Can you clarify your thoughts on my suggestion above? Extending `DefaultHttp2HeadersDecoder` seems like a cleaner approach and will reduce duplication. Do you agree, and do you have concerns (e.g. performance, functionality missing, etc...)?

[2017-03-31 19:59] carl-mastrangelo commented on #6591
The `decodeHeaders` forces construction of DefaultHttp2Headers, which is what we want to avoid.  If there was an overload for the construction of the Http2Headers object that is populated, that would work too.

[2017-03-31 21:24] ejona86 commented on #6591
@Scottmitch, your suggestion sounds fine. The main objective was just to override `DefaultHttp2Headers`. That is easy to accomplish in other ways (factory, or overriding a construction method). From what I can tell, that would allow avoiding `HpackDecoder` without any regression.

[2017-03-31 22:26] vkostyukov commented on #6583
So I was playing with the implementation today and it turns out it's not that easy to do.

Because `MesasgeAggregator` is an inbound handler, there is no way to intercept a read request from one of the next handlers, which I planned to use as a predicate whether or not start managing the read-flow (think about it this way: there is no need to keep reading if nobody asked us to). We could probably

[2017-03-31 22:30] #6573 closed

[2017-03-31 22:33] Scottmitch commented on #6559
@rkapsi - https://github.com/netty/netty/issues/6573#issuecomment-289554271 communicates what I was getting after. Let me know if you accounted for this and we are on the same page. Note that this ambiguity has been resolved via PR https://github.com/netty/netty/pull/6588.

[2017-03-31 22:34] vkostyukov commented on #6583
Another option would be just changing `MessageAggregator` to be a duplex channel handler but that's a public API change.

[2017-03-31 22:58] Scottmitch commented on #6535
@denisgaebler - These fixes have been merged. Please try with 4.1 HEAD and report back.

[2017-03-31 23:02] Scottmitch commented on #6437
@meier-christoph - Interesting. The timeout does seem like a different (although maybe related) issue. Would you mind opening another issue for this?

[2017-03-31 23:02] Scottmitch commented on #6535
@CodingFabian - fyi. could you also see if behavior has changed?

[2017-04-01 00:02] nepthar opened #6593 "AbstractHttp2ConnectionHandlerBuilder doesn't set maxHeaderListSize or maxFrameSize on writer"
### Expected behavior

All of the settings from `AbstractHttp2ConnectionHandlerBuilder's` `initialSettings` should get propagated to both its `Http2FrameReader` and `Http2FrameWriter` in the `buildFromConnection` method. Thus, when the client sets a `maxHeaderListSize` and attempts to send a message with headers larger than that, the client should refuse to send the request with a `HeaderListSizeE

[2017-04-01 00:28] Scottmitch commented on #6559
Can you clarify what your expectations are for this particular domain (`crawl-66-249-64-1.googlebot.com`) for an AAAA lookup? This lookup returns an SOA record, but using the name-server and treating it like a redirect provides the same results.

Original query:
[code]

If I try the same query using `ns2.google.com.` I get the same results (no answers):

[code]

To contrast if I try wikipedia's DN

[2017-04-01 00:34] Scottmitch commented on #6571
PR #6569 only applies to the OpenSSL based engine, which is why I suggested trying this. However it looks like the OpenSSL memory issue is being tracked in https://github.com/netty/netty/issues/6572.

The maximum overhead may depend upon a few things ... hardware support for encryption primitives, cipher used, etc... The Java SSLEngine is known to be slow and introduce relatively high amounts of o

[2017-04-01 00:40] Scottmitch commented on #6542
Do you have a proposal to introduce a interface(s) that will not break APIs?

Wouldn't you also need to have special interfaces/implementations for the different types because they support different methods?

[2017-04-01 00:41] #6549 closed

[2017-04-01 00:48] Scottmitch commented on #6591
Yes this is my suggestion.

Thanks for the feedback @carl-mastrangelo @ejona86 ... it sounds like we are on the same page. Let me move ahead with this approach. @carl-mastrangelo - I will ping you on the PR so you can make sure you have the necessary extension points in gRPC.

[2017-04-01 02:33] fsareshwala commented on #6578
I have a bit more information to share. We were able to decrypt the data going being transferred between our services and see this in Wireshark:

[code]

[2017-04-01 02:46] fsareshwala commented on #6578
I have a bit more information to share. We were able to decrypt the data going being transferred between our services.

In the Wireshark trace below, we have two services communicating with each other. The netty server is listening on port `8443` and the ssl client is using port `55507`. Packet 75 is where the client sends its request. It receives no response from the netty server for about 9 seco

[2017-04-01 03:05] sshntt opened #6595 "Why does DelimiterBasedFrameDecoder discards buffer if delimiter is not found ?"
I am looking at the code for the DelimiterBasedFrameDecoder in netty 4.1. My understanding is, if packets with the specified delimiter have not arrived, minDelim will be null which means that even though the frame does not exceed the defined maxFrameLength, the buffer is discarded.

Is my understanding correct ? Or am I missing something ?

[2017-04-01 09:57] sshntt opened #6596 "Netty producing exception when server is killed"
### Expected behavior
I have used to following code to handle server shutdown:
[code]

It should shutdown without any exceptions

### Actual behavior
Sometimes the server shutsdown with the following exception:

[code]

### Netty version
4.1.9.Final

### JVM version (e.g. `java -version`)
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server

[2017-04-01 09:59] fenik17 commented on #6595
No... You can debug this test:

[code]

A first call of the `readInbound()` return `null`. But a second call return "TestLine", which means that "Test" in the buffer has not been discarded.

[2017-04-02 23:42] m0wfo commented on #2646
Am interested in this having done a lot of HTTP caching RFC-reading and cursing at Apache HC lately; I'm guessing sharing between channels is probably desirable, e.g. for connection-pooling?

[2017-04-03 07:31] johnou commented on #6596
@sshntt can you provide a full listing of the Netty jars on your classpath? It sounds as though you may have multiple versions which are not binary compatible. Consider checking out the netty-bom artifact.

[2017-04-03 15:23] rkapsi commented on #6542
The name `SslContext` is unfortunately taken and we can't rename/move the existing class without breaking things for ppl. (including me) who extend the class. But let's assume we extract an interface of `SslContext` with all its public methods.

[code]

That should work without breaking the API?!

[2017-04-03 15:38] Scottmitch commented on #6583
@vkostyukov - Can we use a similar strategy as [ByteToMessageDecoder](https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/ByteToMessageDecoder.java#L304)? `MessageAggregator` would essentially track if anything was added to `out` in `channelRead`, and check/reset that state in `channelReadComplete`.

[2017-04-03 15:43] Scottmitch commented on #6593
@nepthar - The expected behavior for the initial settings set in `AbstractHttp2ConnectionHandlerBuilder` is they get sent to the peer upon establishing the connection, and applied once the peer acknowledges those settings. If this is not occurring please create a unit test which demonstrates your issue.

[2017-04-03 15:46] Scottmitch commented on #6578
thanks for the update @fsareshwala. I'm assuming there a missing headers frame before packet 75?

[2017-04-03 16:42] vkostyukov commented on #6583
Oh I like it @Scottmitch! Thans a lot! Going to try this out.

[2017-04-03 17:02] Scottmitch commented on #6561
IIUC there are 2 questions raised in this issue:
1. Should `QueryStringDecoder` (or somewhere) validate URL contents.
2. Should `QueryStringDecoder`'s decode operation be symmetric with `QueryStringEncoder`'s encode operation w.r.t. the URI.

For (1) - As the class name indicates `QueryString*` is primarily focused on the query string. These classes currently don't make any guarantees about saniti

[2017-04-03 17:10] nepthar commented on #6593
Okay, thanks, will do.

[2017-04-03 18:19] #6591 closed

[2017-04-03 18:21] carl-mastrangelo commented on #6591
We are keen to start using this change; @normanmaurer is there an ETA for 4.1.10 ?

[2017-04-03 18:40] Scottmitch commented on #6542
Just to clarify the issue seems to be two fold.

1. Not having interfaces leaves a chance for your delegate to miss public methods which should be overridden.
2. `SslContext`'s type hierarchy is relatively deep and different types support different public methods. In order to effectively wrap you must know the concrete type and use the correct wrapping type.

Having the interfaces solves problem (

[2017-04-03 18:41] Scottmitch commented on #6591
should be in the next couple weeks.

[2017-04-03 19:51] rkapsi commented on #6542
Correct regards 1 and 2. It doesn't solve (2) but it's IMHO more favorable to use interfaces than classes due to Java's lack of multiple inheritance.

Technically speaking, my delegate is currently broken because it's only extending and overriding `SslContext` and implements the `ReferenceCounted` interface to accommodate JDK and OPENSSL.

With that said and I'm still +1 on favoring interfaces. I

[2017-04-03 23:10] Scottmitch commented on #6542
I'm not necessarily against Interfaces and if we could break APIs (or starting from scratch) it would be an easier decision. I just wanted to explore alternatives and understand the motivation before supporting a new set of interfaces. My primary hesitations would be additional maintenance overhead (relatively minimal I hope), extra interfaces which may confuse folks given the current concrete cla

[2017-04-04 05:13] guillaumecle commented on #6579
Thanks everyone for working on this. I'm really existed to try this when released.

[2017-04-04 07:51] trustin opened #6600 "DnsNameResolver regression for IPv4-only domains"
### Steps to reproduce

We have a domain which yields the following `dig` result for an `AAAA` question:

[code]

... and the following response for an `A` question:

[code]

When the response for the `AAAA` question is received sooner than that of the `A` question, a user will see `UnknownHostException("Unable to find correct name server for some.internal.domain.com")`, even if the DNS server wil

[2017-04-04 07:52] trustin commented on #6600
@normanmaurer PTAL

[2017-04-04 07:59] trustin commented on #6600
IIRC, you don't really need to fail the promise, because it will be failed when 1) no queries are in progress anymore and 2) no valid result is available. You can just return (or add some trace and return).

[2017-04-04 10:24] trustin opened #6602 "Exception message of 'connection refused' is confusing"
### Expected behavior

`syscall:getsockopt(...) failed: ` does not appear in the exception message or something more helpful appears.

### Actual behavior

`syscall:getsockopt(...) failed: ` appears in the exception message.

### Steps to reproduce

Attempt to connect to a unbound port, then you'll get the following exception:

[code]

This gives a user an impression that the connection attempt fa

[2017-04-04 12:25] rkapsi commented on #6542
+1, I'm also in favor of the supplier approach and would solve my problems elegantly. I'll take a stab at it and see where it goes.

[2017-04-04 15:34] Spikhalskiy commented on #6602
Related: https://github.com/netty/netty/issues/5839

[2017-04-04 23:37] Scottmitch commented on #6579
@guillaumecle - Just to clarify your end goal is just to use gRPC after it has consumed a new version of Netty, not necessarily directly using the HPACK classes, correct?

I would like to avoid exposing HPACK if possible (see https://github.com/netty/netty/issues/6591)

[2017-04-04 23:52] guillaumecle commented on #6579
Correct, especially use cloud-bigtable-client after it has consumed new versions of gRPC and Netty.

[2017-04-05 03:39] trustin opened #6606 "ByteBufAllocator.ioBuffer() of dubious value?"
Currently, `ByteBufAllocator.buffer()` allocates a direct buffer if:

- `sun.misc.Unsafe` is available and
- `io.netty.noPreferDirect` system property is set to true.

`ByteBufAllocator.ioBuffer()` differes from `buffer()` only in that it does not respect the `io.netty.noPreferDirect`.

I'm not sure if it makes sense not to respect `io.netty.noPreferDirect` for `ioBuffer()`. Should we probably jus

[2017-04-05 04:02] sshntt commented on #6596
@johnou My dependencies on pom.xml is as below:

[code]
I looked for conflicts using the "Maven Helper" plugin in IntelliJ and did not find any in the netty jars.

Let me know if anymore information is required.

[2017-04-05 04:06] sshntt commented on #6595
Thanks !

[2017-04-05 04:06] #6595 closed

[2017-04-05 05:00] fenik17 commented on #6596
Try use `mvn dependency:tree` to determine the troubles with dependencies. Perhaps, the Netty version from dependency `google-cloud-datastore` -> 'grpc' -> 'netty' is older then 4.1.9.

[2017-04-05 07:12] Aegeaner commented on #6546
yeah that's the cause of this issue.

[2017-04-05 07:29] denisgaebler commented on #6535
Hi,

I can do the test, however, I have used Hyperledger when I found the problem. Is there an easier testcase that I can execute?

[2017-04-05 08:40] johnou commented on #6596
@sshntt you could try something like this..

[code]

[2017-04-05 08:43] johnou commented on #6596
@fenik17 yep it's pulling in 4.1.6

![nettypom](https://cloud.githubusercontent.com/assets/323497/24697137/547d5a76-19ec-11e7-90d1-a88fa08351fc.png)

[2017-04-05 11:51] fenik17 commented on #6561
@Scottmitch thanks for the detailed answer! As seen, RFC doesn't clarify whether to sanitize the url path.. But, what is your opinion on this issue? See [related commit in the CURL](https://github.com/curl/curl/commit/75ca568fa1c19de4c5358fed246686de8467c238).

[2017-04-05 15:34] Scottmitch commented on #6535
I would prefer you run what ever scenario lead to your discovery of this issue. If you are unable to build the software on your own I would suggest waiting for the next release.

[2017-04-05 15:38] Scottmitch commented on #6577
from https://github.com/netty/netty/pull/6601#issuecomment-291454620

<details><pre><code>
[09:17:00] :		 [io.netty:netty-codec-http2] 09:17:00.076 [main] ERROR io.netty.util.ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
[09:17:00] :		 [io.netty:netty-codec-http2] Recent acc

[2017-04-05 15:45] Scottmitch commented on #6559
Possibly related: https://github.com/netty/netty/issues/6600. Although it is unclear to me (based upon the above unit test in https://github.com/netty/netty/issues/6559#issuecomment-290713440) if the expectation is we should also some how obtain AAAA records.

[2017-04-05 16:59] nhw76 opened #6607 "4.1.9 breaks epoll selector rebuild"
The following commit appears to break the epoll selector rebuild logic in rebuildSelector():

https://github.com/netty/netty/commit/795f318c3c11ec0520e7acd963ad4b310c287c20

If the logic is fired by an excessive number of premature returns, you will hit an exception like this:

[code]

Looks like a case of replacing the selector member with the unwrappedSelector() method may have been missed?

[2017-04-05 17:32] Scottmitch commented on #6607
see #6608

[2017-04-05 18:11] fsareshwala commented on #6578
@Scottmitch I think so. Those packets are the only http2 packets being sent back and forth. Here's a screenshot of Wireshark so you can see what exactly I see.

<img width="1680" alt="screen shot 2017-04-05 at 11 10 29 am" src="https://cloud.githubusercontent.com/assets/212864/24719994/8ec5942e-19f0-11e7-8efe-5ac156ef2776.png">

In my opinion, I think we should revert this commit and investigate i

[2017-04-05 20:27] rkapsi commented on #6559
@Scottmitch I'm expecting `AAAA` to fail and `A` to succeed for `crawl-66-249-64-1.googlebot.com`.

In the context of `DnsNameResolver` I'm expecting it to resolve to an IP address when I'm using a default configuration for it. That's how it used to be before `ResolvedAddressTypes` was introduced. To put it differently, I'm expecting it to behave like JDK's own InetAddress and resolve to a IP addr

[2017-04-05 20:33] rkapsi commented on #6559
I think this and #6600 are the same

[2017-04-05 21:50] Scottmitch commented on #6559
@rkapsi - Thanks for clarifying and confirming. Let me close this issue for now. Please reopen if PR https://github.com/netty/netty/pull/6601 doesn't resolve the issue.

[2017-04-05 21:50] #6559 closed

[2017-04-05 22:00] Scottmitch commented on #6602
The pattern for native exceptions typically follows the following pattern:

`<jni method which failed> failed: <rational>[: additional info]`

`getsockopt` with parameter `SO_ERROR` is used to detect a connection failure for a socket in non-blocking mode.

Are you suggesting varying from the format above (completely removing `getsockopt`), or perhaps adding additional context (e.g. `SO_ERROR`)?

[2017-04-05 22:17] Scottmitch commented on #6546
As described this is not supported by `codec-redis`, and is expected behavior. Feel free to submit a PR to support the redis-server protocol if you are interested.

[2017-04-05 22:17] #6546 closed

[2017-04-06 00:25] Scottmitch commented on #6578
@fsareshwala - Reverting sounds good to me but are you able to provide a reproducer? I would like to understand what scenario causes the issue and hopefully fix the root cause.

I will list out the message sequence below and please provide more details so I can try to replicate the scenario:

packet # | direction of packet | description and questions
--|--|--
63 | server -> client | SETTINGS (can

[2017-04-06 00:45] Underbalanced commented on #6606
I was wondering the same thing. The only instance I can think that this is important is for client applications where the user may want to be overridden. However I support clean up.

[2017-04-06 02:33] Scottmitch commented on #6577
During CI build of PR https://github.com/netty/netty/pull/6608

https://garage.netty.io/teamcity/viewLog.html?buildId=18911&buildTypeId=pulls_netty&guest=1

[code]

[2017-04-06 02:35] #6607 closed

[2017-04-06 02:35] Scottmitch commented on #6607
please re-open if PR #6608 didn't fix the issue

[2017-04-06 07:29] LoLogan opened #6609 "For Netty Server, the writeAndFlush method not send data after the second called ?"
After the writeAndFlush mehtod was called in the netty server(ChannelFuture' isSuccess() method returns true ),  the client just received only one message

For example :  The Server sends 'Logan' and 'hello', but the client just receives 'Logan' and never never gets the second message
[code]
So I used the WireShake tool to get the tcp packages, but I found

Step 1. server ----> 'Logan'    ----> cl

[2017-04-06 08:27] LoLogan commented on #6609
I get it.
 f.addListener(ChannelFutureListener.CLOSE); must be deleted

[2017-04-06 09:38] fenik17 commented on #6096
Relates #466.

[2017-04-06 09:57] s1monw commented on #466
I couldn't agree more on this.... please don't call `System.exit` yourself rather don't catch throwable all apps can do the `System.exit` call in their code or handle it in different ways ie. log stuff or whatever

[2017-04-06 09:57] s1monw commented on #6096
ping

[2017-04-06 12:45] alkemist opened #6610 "DecoderException: javax.net.ssl.SSLException: Received fatal alert: certificate_unknown with 4.1.7"
### Expected behavior

No DecoderException on server emitted if client rejects HTTPS connection, as per 4.1.6.

### Actual behavior

This is emitted through the pipeline …

[code]

The exact same code does not emit this exception with Netty 4.1.6.

AFAICT, all that is happening is that the client is failing the https handshake (which is what I expect in this case). I expect that the channel is clo

[2017-04-06 12:45] alkemist commented on #6610
Before I go through putting a reproducer together, was this a “fix” that was introduced in 4.1.7? i.e. is this new intended behaviour?

[2017-04-06 15:15] risenberg opened #6611 "SslHandler closes TCP connection before sending an alert on certificate check failure"
I have a netty server with certificate check performed by TLS SSL engine. A client with a certificate signed by an unknown CA tries to connect to server, and the server just closes the connection without sending a proper SSL alert - I see it in wireshark.
My server is configured like that:
[code]
Looks like the problem is in `SslUtils::notifyHandshakeFailure` - it closes the channel context withou

[2017-04-06 15:41] Scottmitch commented on #466
I'm going to close this issue as a duplicate of https://github.com/netty/netty/issues/6096. https://github.com/netty/netty/issues/6096#issuecomment-264574221 includes more up to date and I think more concrete discussion on a path forward.

[2017-04-06 15:41] #466 closed

[2017-04-06 16:17] konsultaner commented on #6139
I went deep down into the socket classes of java to find the issue about the read buffer. I had the channel options set to 50MB receive buffer. At the lowest java level where the [FileDescriptor](https://docs.oracle.com/javase/7/docs/api/java/io/FileDescriptor.html) is writing data to the bytebuffer. Java has allocated a bytebuffer with 50MB of size and wants to read just a bit less then that. But

[2017-04-06 16:22] snazy commented on #6320
OpenSSL 1.1.0e cannot be used in netty-tcnative, because SSL_set_state no longer exists in OpenSSL since 1.1.0 (https://github.com/netty/netty-tcnative/issues/263).
Given that OpenSSL 1.1.1 (hopefully) supports TLS 1.3, it seems worth to remove usage of SSL_set_state.

[2017-04-06 23:15] mosesn opened #6612 "Http2Codec closing streams prematurely"
### Expected behavior

The stream isn't closed until after the response is sent.

### Actual behavior

The stream is sometimes closed prematurely.

I can only reproduce in an integration test for now, just wanted to file a ticket in case anyone else was seeing it.  Will keep digging into it.

I'm still not 100% sure whether it's in my stuff or not, so please don't investigate yet unless you're see

[2017-04-07 00:58] Scottmitch commented on #6577
From PR https://github.com/netty/netty/pull/6614

[2017-04-07 00:59] #6600 closed

[2017-04-07 09:03] zmyer opened #6617 "DefaultEventExecutorGroup owns thread count is Incorrect"
### Expected behavior

### Actual behavior
This is a strange question：
when I Set(10 threads):
`this.workerGroup = new DefaultEventExecutorGroup(10,
            ThreadUtils.newGenericThreadFactory("NettyClientWorkerThreads"));`

but result is（there are only 3 threads）:
"NettyClientWorkerThreads_3" #44 prio=5 os_prio=31 tid=0x00007febd2305000 nid=0x9003 waiting on condition [0x0000700003126000]
"Ne

[2017-04-07 09:10] kennylbj opened #6618 "Maven build failure on MacOX Sierra 10.12.4"
### Expected behavior
Building successful in command line using command "mvn clean package -DskipTests".
### Actual behavior
Current netty is ok to build, but we will occur build failure if we clone a new netty project.

Failure while building Netty/Handler module.
Here is the error output:

[ERROR] Failed to execute goal on project netty-handler: Could not resolve dependencies for project io.nett

[2017-04-07 10:30] johnou commented on #6096
wrt guarding from exceptions such as linkageerrors etc. would the following approach still be frowned upon?

[code]

[2017-04-07 13:33] chhsiao90 commented on #6618
Hi @kennylbj ,
It's caused by https://github.com/netty/netty/commit/4bcfa07a7 that used the latest snapshot version of netty-tcnative. And the [nightly build](https://oss.sonatype.org/content/repositories/snapshots/io/netty/netty-tcnative/2.0.1.Final-SNAPSHOT/) didn't contains the build for MacOS...

So the solution might be build latest netty-tcnative by ourselves or maybe we should wait for nett

[2017-04-07 13:46] kennylbj commented on #6618
thanks! @chhsiao90

[2017-04-07 13:49] chhsiao90 commented on #6618
I'm also stuck at this as an OSX user 😆

[2017-04-07 13:56] kennylbj commented on #6618
waiting for update    XD

[2017-04-07 14:38] nename0 commented on #6320
I don't know if this helps, but this is how apache tcnative does the renegotiation (in an older version): https://github.com/apache/tomcat-native/blob/043f95087f712595598901b7c5f915ca5fbf86d5/native/src/sslnetwork.c#L650
In the trunk they removed the `SSL_set_state` call completely: https://github.com/apache/tomcat-native/blob/trunk/native/src/sslnetwork.c#L632

[2017-04-07 18:07] Scottmitch commented on #6618
If you want to build locally please add a snapshot repo to your build. We will release tcnative in the next week or so and that should no longer be necessary.

[2017-04-07 18:35] nebhale commented on #5478
For those interested here is a test case that reproduces on `4.1.8.Final`

[code]

[2017-04-07 19:58] fsareshwala commented on #6578
@Scottmitch I am working on getting a reproducer up for you but I have some things I need to take care of first internally at Twitter. This is still an important task for me so I will get back to it as soon as I can. Just wanted to you let you know :).

[2017-04-08 01:31] kennylbj commented on #6618
thanks @Scottmitch

[2017-04-09 10:53] zqureshi commented on #6612
I am seeing this with a raw TCP `ChannelHandler` too. Trying to build a simplified test case.

[2017-04-10 11:16] leogomes commented on #5943
@rkapsi @normanmaurer Any progress on this? Would external help be welcome :) ?

[2017-04-10 12:32] rkapsi commented on #5943
@leogomes it's done. I think the only thing that hasn't happened yet is a new tcnative release.

https://github.com/netty/netty-tcnative/commit/1e77375fd0b74b214c8b578b6b358e972ae2fec2

https://github.com/netty/netty/commit/077a1988b9c96b5f3e5693a3bb1b2e118992f3a8

[2017-04-11 09:19] fenik17 commented on #6596
related to #4671

[2017-04-11 12:22] trollheim opened #6620 "Base64 decoder can handle buffers larger or equal to 715827883 bytes"
for byte buffers larger than 715827882 bytes this code
ByteBuf bb = Unpooled.buffer(size);
Base64.decode(bb, 0, size);
throws exception
Exception in thread "main" java.lang.IllegalArgumentException: initialCapacity: -536870911 (expectd: 0+)

It is happening  because line 120 in  io.netty.handler.codec.base64.Base64 class, `int len43 = len * 4 / 3;` can cause integer overflow for values larger than

[2017-04-11 12:24] normanmaurer commented on #6620
Can you please open a or with a fix? Even better when containing a unit test

[2017-04-11 14:01] durigon opened #6621 "WeightedFairQueueByteDistributor may not write all pending bytes when testing HTTP/2 with Chrome."
### Expected behavior
WeightedFairQueueByteDistributor write all pending bytes when testing HTTP/2 with Chrome.

### Actual behavior
WeightedFairQueueByteDistributor does not respond to all images when testing with Chrome, finally Chrome can not display for some images.
On the contrary, All images were displayed when testing Firefox.

### Steps to reproduce
1. Run the HTTP / 2 Tiles example(io.net

[2017-04-11 15:18] ninja- opened #6622 "VoidChannelPromise eats exceptions..."
### Expected behavior

[code]

when writing a packet with a void promise, an exception should be thrown on failure.

### Actual behavior
the exception is eaten and it's not forwarded to the channel pipeline

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
This is CLEARLY a Bug.
in this function https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/net

[2017-04-11 17:37] ninja- commented on #6622
[code]

[2017-04-12 01:34] ninja- commented on #6557
@Scottmitch maybe it's a client-side bug? I remember a netty bug that caused connection resets to be processed before processing incoming data. The client is using some version of netty 4 out of 2015 I think (which is the build date of the game client...) so that's something I don't 100% control.

Anyway, I added a delay and I am happy enough with this code:

[code]

[2017-04-12 01:39] FreCap opened #6624 "Why MessageAggregator sets a final maxContentSize and newContinueResponse/isContentLengthInvalid abstract?"
### Problem
I want to be able to set a different contentLength for each request without having to rewrite the MessageAggregator.

It seems like if the MessageAggregator was a little bit more generic, it could serve this purpose, but then it locks you in making the maxContentLength field and getter final private. Furthermore, the maxContentLength is used directly through no getters in the decode me

[2017-04-12 23:44] StinkySandwich commented on #2333
I still have this same issue in 4.0.45.Final

[2017-04-12 23:51] johnou commented on #2333
@StinkySandwich kindly open a new issue with a fresh stacktrace and reproducer.

[2017-04-13 00:33] durigon commented on #6621
If you change WeightedFairQueueByteDistributor to UniformStreamByteDistributor, UniformStreamByteDistributor writes all pending bytes when testing HTTP/2 with Chrome.

[2017-04-14 00:58] nicmunroe opened #6625 "Does flushing guarantee a reference count decrease?"
Apologies if this is covered in documentation somewhere. I've looked around in Netty docs, javadocs, and done some google searching and couldn't find anything definitive. If documentation for this does exist then point me at it and I should be able to self-serve. If no docs exist covering this question then I guess this issue would represent my request to add docs covering it.

So here's the quest

[2017-04-14 03:41] ninja- commented on #6625
Hi nicmunroe,
the reference count is guaranted to be eventually decreased especially when either
1) the message is fully written to underlying socket (can take take some time under high load, it's not always happening on the first write(..) syscall )
2) the channel is suddeny closed, and the "buffered" not-yet-written messages are also released
3) exceptions happen, at least in most cases

What co

[2017-04-14 03:51] zvinlong opened #6626 "http sliced chunk request error(in class HttpPostRequestEncoder)"
### Expected behavior
http sliced chunk request ok;
### Actual behavior
throw exception and http chunk request fail and timeout!
[code]
### Steps to reproduce(fixed)
io.netty.handler.codec.http.multipart.HttpPostRequestEncoder;
[code]
### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.9
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)
all

[2017-04-14 04:16] nicmunroe commented on #6625
@ninja- Thanks for the response. That is encouraging - I want it to be the case that flush could never fail in a way that leaves dangling reference counts, at least not without a way to be notified of such a failure so I could release them myself, but given the way the code is structured and without a documented guarantee it made me want to double check here to be safe. For example this code in `A

[2017-04-14 04:21] ninja- commented on #6625
@nicmunroe at the code path you pasted there is nothing to fail. the message will be forwarded to the channel pipeline consisting of multiple handlers and it's each handler's responsibility to always call .release(), even in case of exception.
You can see an example here: https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/MessageToMessageDecoder.java#L89

[2017-04-14 05:44] nicmunroe commented on #6625
@ninja- that's good general advice for inbound messages, and I understand it. But in this case since it's outbound, I'm not supposed to be releasing in my code. From what I understand, on outbound stuff it's the job of the Netty handler to release it as stated [here](http://netty.io/wiki/reference-counted-objects.html#user-content-outbound-messages) in the "Outbound messages" section of the refere

[2017-04-14 15:33] ninja- commented on #6625
flush() is not doing much by itself, majority of the job is done by write() which is passing the message via each of the encoders.

so as someone with deep knowledge of that area of Netty code I can confirm that there's no real-life scenario that would cause Channel.flush() to fail to release() a refrence counted object that had been written to the channel...:P

[2017-04-14 17:22] nicmunroe commented on #6625
Perfect, thank you! Sorry for hammering on it - I don't think I did a good job of explaining myself. And thanks for the quick replies!

[2017-04-14 17:22] #6625 closed

[2017-04-14 17:24] ninja- commented on #6625
Always happy to help 😄

[2017-04-14 23:58] dapengzhang0 opened #6627 "Some ScheduledExecutorServices like AbstractScheduledEventExecutor break the contract of the interface"
### Expected behavior
As the javadoc of `ScheduledExecutorServices` stated:

[code]

### Actual behavior
For passing a negative delay, `AbstractScheduledEventExecutor#schedule` throws
`IllegalArgumentException`

### Netty version
4.1.3 Final

[2017-04-15 03:40] normanmaurer commented on #6627
Sounds like a bug.... let me fix it

[2017-04-15 16:13] normanmaurer commented on #6611
@risenberg please update to latest netty version and report back if the issue still exists as I think we fixed it

[2017-04-15 16:24] normanmaurer commented on #6621
@nmittler @ejona86 can you check ?

[2017-04-15 16:25] #6609 closed

[2017-04-15 16:25] normanmaurer commented on #6606
@trustin sounds good.

[2017-04-15 16:25] normanmaurer commented on #6593
@nepthar so you thing there is an issue or can we close this ?

[2017-04-15 20:28] nepthar commented on #6593
I haven't had time to repro, so feel free to close. I'll re-open if/when I
whip up a test case.

On Sat, Apr 15, 2017 at 09:26 Norman Maurer <notifications@github.com>
wrote:

--
Sent from my Nokia 3310

[2017-04-16 02:06] qiaodaimadelaowang opened #6628 "Could not find artifact io.netty:netty-tcnative:jar:osx-x86_64:2.0.1.Final-SNAPSHOT"
### Expected behavior
mvn -s ~/.m2/settings_default.xml package is ok.

### Actual behavior
Could not find artifact io.netty:netty-tcnative:jar:osx-x86_64:2.0.1.Final-SNAPSHOT

### Steps to reproduce
1.git clone https://github.com/netty/netty.git
2.mvn -s ~/.m2/settings_default.xml package

### Minimal yet complete reproducer code (or URL to code)

### Netty version
latest source code on 4.1 branc

[2017-04-16 19:22] floragunncom commented on #6564
Will this be fixed with 4.1.10 ?

[2017-04-16 19:47] floragunncom commented on #6572
I can confirm that this issue is fixed in current 4.1 branch, hopefully the fix will be shipped with 4.1.10

[2017-04-16 19:47] #6572 closed

[2017-04-16 20:02] floragunncom commented on #6571
With 4.1.10.Final-SNAPSHOT (and fixed #6572) i get now some measurements:

* No ssl -> 482 ms
* Java SSL -> 5000 ms
* OpenSSL -> 1392 ms
* OpenSSL Refcount -> 1482 ms

OpenSSL is 3 times slower than without ssl (but > 3 times faster than Java SSL)

So OpenSSL add an overhead of approx. 300% to SSL communication. Seems way to much for me?

[2017-04-17 03:05] KBCode opened #6630 "netty-all-4.0.21.Final Error while read(...): Connection reset by peer"
### Expected behavior
service throw exception
09:55:29.907 [epollEventLoopGroup-5-3] INFO com.*.**.PrintServerHandler - 719724627--/49.66.21.64:15264==>open
09:56:41.584 [epollEventLoopGroup-5-3] ERROR com.*.**.PrintServerHandler - /49.66.21.64:15264
java.io.IOException: Error while read(...): Connection reset by peer
	at io.netty.channel.epoll.Native.readAddress(Native Method) ~[netty-all-4.0.21.

[2017-04-17 05:46] normanmaurer commented on #6628
Fixed... we now also deploy the OS X snapshot version

[2017-04-17 05:46] #6628 closed

[2017-04-17 05:47] normanmaurer commented on #6618
Fixed... we now also deploy the OS X version

[2017-04-17 05:47] #6618 closed

[2017-04-17 05:48] normanmaurer commented on #6602
@trustin ^^... So i think the error is "correct"

[2017-04-17 05:48] normanmaurer commented on #6593
Ok closing for now. Please re-open if you still think this is an issue

[2017-04-17 05:48] #6593 closed

[2017-04-17 05:49] #6611 closed

[2017-04-17 05:50] normanmaurer commented on #6373
@nika-begiashvili can you please test with latest 4.1 branch and re-open if the issue still exists ?

[2017-04-17 05:50] #6373 closed

[2017-04-17 07:02] qiaodaimadelaowang commented on #6628
Which remote repository will upload? Is it only sonatype-nexus?

[2017-04-17 07:10] normanmaurer commented on #6628
https://oss.sonatype.org/content/repositories/snapshots/io/netty/netty-tcnative/2.0.1.Final-SNAPSHOT/

We will release a final version this week tho

[2017-04-17 10:15] normanmaurer commented on #6564
Yes

[2017-04-17 10:15] normanmaurer commented on #6572
Yes it will

[2017-04-17 11:17] maseev commented on #6630
An exception like this `java.io.IOException: Connection reset by peer` means that a client closed the connection abruptly.
Very often it means that the server sent something to the client which caused the client to close the connection (a message protocol error, for example).

It would be great to have some code that reproduces this problem. You can also try to upgrade to the latest stable version

[2017-04-17 12:52] mkarasik commented on #4950
Do you have any plans to addrtess this?

[2017-04-17 17:39] normanmaurer commented on #6583
Fixed by https://github.com/netty/netty/pull/6604 .. @vkostyukov thanks!

[2017-04-17 17:39] #6583 closed

[2017-04-17 17:47] normanmaurer commented on #4950
Sorry but I had no cycles yet to do this and its not very high on my to do list. That said we love contributions.

[2017-04-17 19:50] ninja- commented on #6622
@normanmaurer could you take a look at this patch :)

[2017-04-17 22:08] ejona86 commented on #6621
@normanmaurer, I reproduced the hang on master. And it does appear `UniformStreamByteDistributor` doesn't have the same failure. I can't reproduce the problem on v4.1.8, but I can on v4.1.9, which is interesting because nothing really changed in either the weighted distributor or the remote flow controller.

[2017-04-17 22:37] ejona86 commented on #6621
I'm mistaken. Commit 3482651 happened between the two and have verified it introduced the bug. That should help in figuring out what's broken.

[2017-04-18 04:47] normanmaurer commented on #6626
@zvinlong Please check https://github.com/netty/netty/pull/6631

[2017-04-18 04:49] JasonHuangHuster opened #6632 "Netty-all-4.0.25 java.lang.NoClassDefFoundError: Could not initialize class io.netty.util.internal.PlatformDependent"
### Expected behavior

My Server can't startup ,because of  NoClassDefFoundError , PlatformDependent specific

### Actual behavior

java.lang.NoClassDefFoundError: Could not initialize class io.netty.util.internal.PlatformDependent

### Steps to reproduce

`1) Error injecting constructor, java.lang.NoClassDefFoundError: Could not initialize class io.netty.util.internal.PlatformDependent
  at com.t

[2017-04-18 04:50] normanmaurer commented on #6632
@JasonHuangHuster please upgrade to latest netty 4.0 release and report back if the issue still exists (with updated stacktrace).

[2017-04-18 04:50] #6632 closed

[2017-04-18 05:16] normanmaurer commented on #6627
@dapengzhang0 PTAL https://github.com/netty/netty/pull/6633

[2017-04-18 05:33] normanmaurer commented on #6617
The threads are started in a lazy fashion. If you will have call `group.next().execute(...)` 10 times you will see all of them.

[2017-04-18 05:33] #6617 closed

[2017-04-18 05:42] JasonHuangHuster commented on #6632
tks for your reply ,` PlatformDependent `related error is gone , but another one shows up . i have upgraded to netty-all-4.0.45.final    :(

2017-04-18 13:39:24,093 [ERROR]PropertiesProcessorService(54) init failed, GetLiveCalendar=com.tencent.userCenter.processor.GetLiveCalendar
com.google.inject.ProvisionException: Guice provision errors:

1) Error injecting constructor, java.lang.NoClassDefFoun

[2017-04-18 05:55] normanmaurer commented on #6622
@ninja- yes this is clearly a bug... Your fix is not 100 % correct as it not handles all the cases tho. Please check https://github.com/netty/netty/pull/6634 for a full fix.  Thanks for reporting!

[2017-04-18 06:55] normanmaurer commented on #6621
@ejona86 so you will take a look ?

[2017-04-18 07:00] yschimke commented on #6347
As commented on the other issue, this worked for me

[2017-04-18 07:01] yschimke commented on #6347
should have just commented...

[2017-04-18 07:05] normanmaurer commented on #6621
Also @Scottmitch ....

[2017-04-18 09:03] ninja- commented on #6622
Thanks! Would you mind explaining which case I would miss with my version of the fix :)?

[2017-04-18 09:06] normanmaurer commented on #6622
@ninja- the problem in the ChannelOutboundBuffer and also it would not start at the head of the pipeline

[2017-04-18 09:09] ninja- commented on #6622
I've been pretty confident that I chose the function that starts propagation at the head...But OK thanks :)

[2017-04-18 10:24] fenik17 commented on #6632
It looks like #6596 and #4671.

[2017-04-18 11:40] normanmaurer commented on #6578
@fsareshwala any update ?

@Scottmitch what you think about reverting for now and cut a release this week ? We should continue to investigate tho.

[2017-04-18 11:43] KBCode commented on #6630
io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: No route to host
at io.netty.channel.unix.Errors.newIOException(Errors.java:117) ~[netty-all-4.1.9.Final.jar:4.1.9.Final]
at io.netty.channel.unix.Errors.ioResult(Errors.java:138) ~[netty-all-4.1.9.Final.jar:4.1.9.Final]
at io.netty.channel.unix.FileDescriptor.readAddress(FileDescriptor.java:175) ~[netty-all-4.1.9.Final.jar:4.

[2017-04-18 12:00] FullDarkness19 opened #6637 "Error with my BungeeCord"
### Expected behavior
Bungeecord starts without an error
### Actual behavior
bungeecord throws an error at start ( One warning and one severe )
### Steps to reproduce
Download BungeeCord again and restart my VPS
### Minimal yet complete reproducer code (or URL to code)

07:49:53 [SEVERE] Apr 18, 2017 7:49:53 AM io.netty.util.internal.MacAddressUtil defaultMachineId
WARNING: Failed to find a usable

[2017-04-18 12:23] maseev commented on #6630
I might be wrong, but are you sure that your client is able to parse the message which your server is trying to send? It looks like you lose your connection in the middle of the protocol interaction. It also looks like you decided to use Unix sockets instead.

Is it possible to get a minimal reproducer for your problem? Or at least can you provide some information about the server and the client?

[2017-04-18 12:38] KBCode commented on #6630
of course, client is able to parse the message.
 when the client connects the server, sends a heartbeat message to server,  when  the server read the message throw exception. but Not necessarily appear.

[2017-04-18 14:46] maseev commented on #6630
Here, have a look:

Server:
[code]

Client:
[code]

So, when the client sends a message when it connects to the server. The server reads the message and prints it out. This is pretty much what your application is doing (at least that's what your description tells us).

[2017-04-18 16:14] ejona86 commented on #6621
@normanmaurer, yeah, I'll still investigate more. I don't get much work done on Tuesdays, so tomorrow is when I'll probably be able to get back to it.

[2017-04-18 16:50] sshntt commented on #6596
Hi,
Here is some new information about when the above error message is generated.
Currently I am doing manual deployments. I build the jar on another machine and copy the jar from that machine to this. Once I have copied the new JAR, I kill the running server process using kill -2 and it produces the mentioned error in the issue.

If I kill the process before I copy the new JAR or if I kill the pr

[2017-04-18 18:47] fsareshwala commented on #6578
@normanmaurer I haven't had a chance to look at writing a reproducer. I'm backed up with some things internally here. I hope to get back to this soon but I think it's a good idea to revert for now and then try to address this.

[2017-04-18 20:31] cstancu opened #6640 "Include JCTools sources for shaded classes in the sources jar"
Is it possible to include the original sources for the shaded JCTools classes? This would be useful for debugging purposes. Even if I add the JCTools sources jar to the classpath eclipse doesn't pick them up because the path inside the jar doesn't match.

I am currently working with vert.x, which depends on netty-4.1.8.

Related issue: #4960 Use shaded dependency on JCTools instead of copy and pas

[2017-04-18 20:37] nan-xiao-advicecoach opened #6641 "Memory Leak (4.1.9-final)"
### Expected behavior
stable memory
### Actual behavior
memory leak
### Steps to reproduce
use HttpPostMultipartRequestDecoder to decode requests, and add pressure to the server
### Minimal yet complete reproducer code (or URL to code)
n/a (I can try to write up a test if necessary)
### Netty version
4.1.9-final
### JVM version (e.g. `java -version`)
openjdk version "1.8.0_111"
OpenJDK Runtime Env

[2017-04-18 20:43] nan-xiao-advicecoach commented on #6641
Hi,

I'm getting leak messages as below:

2017-04-18 12:53:45 ERROR ResourceLeakDetector:171 - LEAK: ByteBuf.release() was not called befor
e it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more inform
ation.
Recent access records: 3
#3:
        io.netty.buffer.AdvancedLeakAwareCompositeByteBuf.copy(AdvancedLeakAwareCompositeByteBuf.
java:680)
        io.netty.h

[2017-04-18 20:48] nan-xiao-advicecoach commented on #6641
also, I did do a decoder.destroy() in the finally block of the caller, if this is what referred by the comment.

[2017-04-18 21:14] nan-xiao-advicecoach commented on #6641
Solved: by adding ReferenceCountUtil.release(request) in the finally block as well.

[2017-04-18 21:14] #6641 closed

[2017-04-19 01:07] KBCode commented on #6630
Thank you so much for your assistance.
Because the program is a problem in the production environment, the situation is somewhat complicated, I carefully analyze.

[2017-04-19 05:28] trustin commented on #6602
It would have been less confusing if it were `finishConnect() failed: Connection refused` in my opinion. If a user is interested in which system call caused the failure, he or she can check the message of the cause: `Caused by: io.netty.channel.unix.Errors$NativeConnectException: syscall:getsockopt(..) failed: Connection refused`

[2017-04-19 05:29] normanmaurer commented on #6602
@trustin so you are talking just about the log message ?

[2017-04-19 05:29] trustin commented on #6602
So, ideally, I would expect the stack trace look like this:

[code]

[2017-04-19 05:32] trustin commented on #6602
I'm saying the fact that syscall getsocketopt() has been failed is an implementation detail and AnnotatedConnectException doesn't need to show it to a user to misunderstand.

[2017-04-19 05:33] normanmaurer commented on #6640
@cstancu if you can point me to how to do this yes :)

[2017-04-19 06:57] maseev commented on #6630
It's very hard to say what went wrong. Server code looks OK to me. I would check any logs on the client side, just in case.

[2017-04-19 08:27] chhsiao90 commented on #6577
I think this might related to #6639.
Here is my findings.

I think the test have memory leak problem might be [HttpToHttp2ConnectionHandlerTest.java#L319-L334](https://github.com/netty/netty/blob/4.1/codec-http2/src/test/java/io/netty/handler/codec/http2/HttpToHttp2ConnectionHandlerTest.java#L319-L334).
And maybe other tests had similar problems.

It happens when server channel fire his first chan

[2017-04-19 09:25] normanmaurer commented on #6577
@chhsiao90 yes I think so too.  Let me close this one as fixed by https://github.com/netty/netty/pull/6639

[2017-04-19 09:25] #6577 closed

[2017-04-19 09:35] normanmaurer commented on #6622
Fixed by https://github.com/netty/netty/pull/6634

[2017-04-19 09:35] #6622 closed

[2017-04-19 09:40] normanmaurer commented on #6627
Fixed by https://github.com/netty/netty/pull/6633

[2017-04-19 09:40] #6627 closed

[2017-04-19 09:43] normanmaurer commented on #6626
Fixed by https://github.com/netty/netty/pull/6631

[2017-04-19 09:43] #6626 closed

[2017-04-19 10:13] normanmaurer commented on #6637
This is harmless and will be fixed in the next release.

[2017-04-19 10:13] #6637 closed

[2017-04-19 10:24] normanmaurer commented on #6347
Fixed by https://github.com/netty/netty/pull/6590

[2017-04-19 10:24] #6347 closed

[2017-04-19 10:25] normanmaurer commented on #6571
@floragunncom I am not sure what is the expected overhead of SSL. I guess it also really depends on the cipher etc. Did you check what kind of overhead you for example see with a C app ?

[2017-04-19 10:26] normanmaurer commented on #6566
Fixed by https://github.com/netty/netty/pull/6567

[2017-04-19 10:26] #6566 closed

[2017-04-19 10:27] normanmaurer commented on #6560
@ninja- any news on the reproducer ?

[2017-04-19 10:28] normanmaurer commented on #6535
@denisgaebler any update ?

[2017-04-19 10:28] normanmaurer commented on #6548
@shumy ^^ . Could you provide a PR ?

[2017-04-19 10:55] ninja- commented on #6560
It should reproduce on every epoll server-client demo and you can see the writev calls on strace...Do you need a 100% automated one?

[2017-04-19 11:26] FullDarkness19 commented on #6637
Do you have a solution to this problem waiting for the update because my bungeecord dont work when i launched it.

[2017-04-19 11:49] normanmaurer commented on #6637
@FullDarkness19 you should report it in the boungeecord issue tracker then as this one is just a `WARNING` which will not prevent an application to work.

[2017-04-19 12:03] normanmaurer commented on #6610
@alkemist I think the new behaviour is correct as we missed before to always flush out pending data (with the alert) before.

[2017-04-19 12:03] #6610 closed

[2017-04-19 12:15] normanmaurer commented on #6612
@mosesn any update ?

[2017-04-19 14:31] Underbalanced commented on #6596
@sshntt Side question. You killing the application rather then a clean exit, wouldn't this create memory leaks for you because of the direct memory allocated from the OS if you or the JVM defaults to using direct memory?

[2017-04-19 15:04] denisgaebler commented on #6535
Hi Norman,

basically I have asked for an easier (http2 netty only) testcase because I have trouble building the hyperledger project, since there are lots of changes and my original testcase does not work anymore.
I will give it another try tomorrow and let you know.

[2017-04-19 17:15] FelixMarcus opened #6645 "CORSHandler closing WebSocket Connection"
Using Netty 4.1.9.Final, Java 8

We have one Netty pipeline processing both websocket and http connections on the same port filtering through SimpleChannelInboundHandler entensions. We can send both websocket and http requests and they are separately and correctly processed and responded to.

This works fine until we add a CorsHandler to the pipeline (for the http requests). Then, all WS connectio

[2017-04-19 17:37] Scottmitch commented on #6578
I haven't had cycles to look into this either. I'm fine with reverting however I don't want to discourage producing a reproducer.

[2017-04-19 18:09] mosesn commented on #6612
@normanmaurer I think it's something we're doing wrong . . . we're working on a fix now, will see if we can still reproduce after our fix.  we were writing stream ids out of order, which might have made it look like this.

[2017-04-19 18:10] normanmaurer commented on #6612
@mosesn ok cool... please keep us posted

[2017-04-19 18:29] vkedia opened #6646 "SIGILL on OSX when using io.netty:netty-tcnative-boringssl-static:1.1.33.Fork26"
### Actual behavior
We got a SIGILL while using a client (Google Cloud Spanner Client) that depends on io.netty:netty-tcnative-boringssl-static:1.1.33.Fork26 . SIGILL seems to come from the native tcnative library.
Here is the error report and the stack trace of the relevant thread:
[code]

[code]

To me this seems like an incorrect version of the native library is somehow being used. We looked at

[2017-04-20 03:41] joyyiwei opened #6649 "The role of wakenUp and oldWakenUp variables in NioEventLoop class"
NioEventLoop wakenUp and oldWakenUp seemingly useless, because the hasTasks () method has been able to meet the needs of

[2017-04-20 03:41] normanmaurer commented on #6649
Please write in english...

[2017-04-20 03:43] joyyiwei commented on #6649
This problem is bothering me, can you help me to explain it?

[2017-04-20 05:47] johnou commented on #6649
@joyyiwei did you read through the code comments? https://github.com/netty/netty/blob/0692bf1b6a6764dee22132630bef7ee2f850771e/transport/src/main/java/io/netty/channel/nio/NioEventLoop.java#L410-L436 if you think you're able to improve it please feel free to create a pull request with an optimized version + benchmarks.

[2017-04-20 05:50] normanmaurer commented on #6646
hmmm... Seems like it "dies" in `CRYPTO_memcmp+0xb0 ` which comes from boringssl. @davidben any idea ?

[2017-04-20 06:44] joyyiwei commented on #6649
@johnou yes ,but I think hasTasks () this method can also be done to repair the external thread to wake up again, whether it is left to do the expansion, the two variables

[2017-04-20 12:57] davidben commented on #6646
Does macOS trigger SIGILL only on an actual illegal instruction or is it also for things like segfaults? `CRYPTO_memcmp` isn't written in assembly or anything, but maybe the compiler did something.

You all produce precompiled things right? How would I get a copy of libnetty-tcnative-osx-x86_641800715405814754196.dylib to see what instructions are at those addresses? (Sorry, I am totally unfamilia

[2017-04-20 14:28] johnou commented on #6560
@ninja- well you did offer to provide a reproducer to show the problem with strace ;)

[2017-04-21 01:57] cstancu commented on #6640
The maven-shade plugin has two parameters: `createSourcesJar` and `shadeSourcesContent` which should do just that. I tried adding:

`<createSourcesJar>true</createSourcesJar>`
`<shadeSourcesContent>true</shadeSourcesContent>`
in
`netty/common/pom.xml` (since I only care about netty-common right now)

at line 103, inside the `<configuration></configuration>` just after `</relocations>` and run `mvn

[2017-04-21 06:21] normanmaurer commented on #6620
Fixed by https://github.com/netty/netty/pull/6643

[2017-04-21 06:21] #6620 closed

[2017-04-21 11:15] maseev commented on #6630
@KBCode any news?

[2017-04-21 15:45] herberteuler opened #6652 "Misleading comment in `ServerBootstrap`"
The mechanism of registering handlers seems to have been changed since #5566 has been fixed, making [this](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/bootstrap/ServerBootstrap.java#L178) comment misleading.

I did not have time to inspect the whole history, but the user's `initChannel` is now not called after the current invocation returns. As an evidence, the code pa

[2017-04-21 16:30] mkw commented on #3063
I also observed this XXX and YYY both consume exceptions.  My simple fix is just to override exceptionCaught with:

[code]

Before this fixed, I get a closed channel with no explanation:
[code]

After the fix, I get a clear stack trace showing the error:
[code]

I got this because compression was, in some cases _increasing_ the size of the message, and I was creating messages with sizes exactly eq

[2017-04-21 17:49] normanmaurer commented on #6640
@cstancu seems like its a known maven plugin bug ?

https://issues.apache.org/jira/browse/MSHADE-252

[2017-04-21 18:21] Underbalanced commented on #6652
@herberteuler Would you be able to make the changes and put in a PR if what you say is accurate? Contributions are welcome!

[2017-04-21 20:31] jasontedor opened #6653 "Increase scope of forbidden APIs usage"
The work in #6224 introduced the usage of forbidden APIs to prevent using methods that should not be used from being used. Forbidden APIs has bundled signatures for deprecated methods, system out, and unsafe methods. This issue is to track issue towards enabling these.

[2017-04-21 22:15] ejona86 commented on #6621
I tracked the problem down to an interaction with `maxStateOnlySize`. A high value (~195) does not trigger the bug. A medium value seems to trigger it less. And 1 triggers it very quickly. 0 doesn't have any issue.

I also know that the streamableBytes on many streams is incorrectly 0. I think this was caused by child/pseudoTimeQueue tree corruption, because it seems there were large trees that we

[2017-04-21 22:36] Scottmitch commented on #6621
thanks for looking into this @ejona86 ... this does seem like a bug but maybe in other areas too ... I can take a stab at a PR

[2017-04-21 22:59] Scottmitch commented on #6621
good find ... after looking a bit more it seems to be the only place where this bug occurs. We should be able to share code with [1] too. Also I need to review when we prematurely exit if the parent's state object cannot be found ... I'm concerned we may not write to the child stream if it is in the active state ... I need to investigate more.

[1] https://github.com/netty/netty/blob/4.1/codec-htt

[2017-04-22 01:36] herberteuler commented on #6652
Alright, so I have investigated further and found that it was `ChannelInitializer` that was changed to make this comment inaccurate. The change was introduced by 26aa348, in which `initChannel` was also invoked from `handlerAdded` to ensure the correct order. I will create a pull request soon.

[2017-04-22 15:27] #6621 closed

[2017-04-22 17:08] doom369 opened #6657 "IpSubnetFilterRule throws ClassCastException when non expected IP version comes"
### Expected behavior

No error. `IpSubnetFilterRule.match` returns false.

### Actual behavior

`IpSubnetFilterRule.match` throws `ClassCastException`.

### Steps to reproduce

[code]

### Minimal yet complete reproducer code (or URL to code)

[code]

### Netty version

4.1.9-Final

[2017-04-22 17:20] Scottmitch commented on #6621
Just to close the loop ... we are OK here. The state only map is just used when there is no stream object. If there is a stream object we keep track of the priority in the stream and so it is OK to bail out early if no state exists for the parent stream and we don't track any "priority only state" ... because it will not impact the priority. I will add a unit test to demonstrate the behavior is co

[2017-04-23 06:30] normanmaurer commented on #6657
Fixed by https://github.com/netty/netty/pull/6658

[2017-04-23 06:30] #6657 closed

[2017-04-23 09:07] doom369 commented on #6222
Not reproduced in 4.1.9.

[2017-04-23 09:07] #6222 closed

[2017-04-23 09:10] doom369 commented on #6218
I did many changes to own server too so for now issue is not reproducible for 4.1.9. Closing for now.

[2017-04-23 09:10] #6218 closed

[2017-04-23 09:16] normanmaurer commented on #6222
@doom369 thanks for the update :)

[2017-04-23 17:57] floragunncom commented on #6571
I started with creating a simple java program which transfer bytes over simple plain sockets (non-ssl socket vs. ssl sockets). SSL is approx 100% slower than without. This also not really what i expected but its a lot faster compared to the netty tests.

Results:
<pre>
Mac14,1
4 x 2,7 GHz Intel Core i5

OS: Mac OS X x86_64 10.10.5
Java Version: 1.8.0_131 Oracle Corporation
JVM Impl.: 25.131-b11 Or

[2017-04-23 18:07] normanmaurer commented on #6571
@floragunncom I will have a look tomorrow.

[2017-04-23 19:03] normanmaurer commented on #6602
@trustin want to submit a pr ?

[2017-04-23 19:04] normanmaurer commented on #6578
@fsareshwala @nhnFreespirit I will revert the commit in question for now but can you please continue working on a reproducer ?

[2017-04-23 19:12] normanmaurer commented on #6578
Reverted via 4.1 (7f3b75a5091dcd6d882102fdb92daa6931e02c30) and 4.0 (a9ff2936c5cfa1481f98e562ee2291ec2248d136)

[2017-04-24 01:22] cstancu commented on #6640
@normanmaurer that issue you mention might be related but it doesn't exhibit the exact same symptoms as what I am encountering. I cannot get any sources to be added under the `shaded` package in the sources jar. That issue mentions that the shade plugin "will blindly shade all the source files, including those that are excluded form shading by relocation rules", which tells me that in that case it

[2017-04-24 07:34] normanmaurer commented on #6571
@floragunncom please note that your different Main* classes do different things in terms of how these are echo back data. You should build your server on top of the `EchoServer` if you want to compare it. I hacked up something very quickly here and actually the perf is even better in netty compares to just use plain sockets (I still used java sockets for the client side tho to make it easier to co

[2017-04-24 08:29] denisgaebler commented on #6535
Hi,

unfortunatly I cannot test it with Hyperledger, because it uses grpc-netty:
https://github.com/grpc/grpc-java/tree/master/netty/src/main/java/io/grpc/netty

Which has hard coded gone classes with 4.10:
import io.netty.handler.codec.http2.internal.hpack.Decoder;

So I will open a ticket with netty and continue.

Thanks.

[2017-04-24 08:33] denisgaebler opened #6660 "GrpcHttp2HeadersDecoder uses netty internal classes and fails with netty 4.1.10"
### Expected behavior
Due to an endianess bug in netty I have to use the fixed version netty 4.1.10
Unfortunatly GrpcHttp2HeadersDecoder references:
import io.netty.handler.codec.http2.internal.hpack.Decoder;
which is gone with netty 4.1.10

### Actual behavior
Execution fails with:
Exception in thread "grpc-default-executor-1" java.lang.NoClassDefFoundError: io/netty/handler/codec/http2/internal/

[2017-04-24 08:35] #6660 closed

[2017-04-24 11:31] huigesv123 opened #6661 "Websocket use ssl failed Error in connection establishment: net::ERR_CONNECTION_CLOSED"
this is code in my server

`public class WebsocketInitializer extends
		ChannelInitializer<SocketChannel> implements Constant{

    private String tlsMode;

    private static final String CA_JKS_PATH = "smartcloud.jks";

    public WebsocketInitializer(String TLS_MODE) {
    	tlsMode = TLS_MODE;
    }

	@Override
	protected void initChannel(SocketChannel ch) throws Exception {

		ChannelPipeline

[2017-04-24 12:15] floragunncom commented on #6571
@normanmaurer I think you got me wrong. Its not about the absolute figures, its about the ratio between SSL and nonSSL figures. So i'am not comparing netty vs. the plain socket impl, i compare the ratio between SSL/nonssl for netty and the ratio between SSL/nonssl for plain socket.

Netty: Java SSL ist about 6 times slower than without SSL
Plain Socket: Java SSL is about two times slower than with

[2017-04-24 14:05] mkw opened #6663 "WebSocket compression can increase data size, even when this exceeds max frame size"
### Expected behavior

"Compressing" WebSocket frames with `io.netty.handler.codec.http.websocketx.extensions.compression.WebSocketServerCompressionHandler` will never increase packet size because, otherwise, there is no way to know when data that is "compressed" to a larger size that will exceed the max frame size.

### Actual behavior

"Compressing" WebSocket frames with `io.netty.handler.codec.

[2017-04-24 16:29] vietj opened #6664 "Using an X509TrustManager with OPEN_SSL engine bypass hostname verification"
### Expected behavior

Using an `X509TrustManager` with `OPEN_SSL` engine should perform hostname verification.

### Actual behavior

With JDK engine, when an X509TrustManager is passed in the `SslContextBuilder`, the returned `X509TrustManager` is wrapped by an `X509ExtendedTrustManager` that performs hostname verification, for instance here is a verification failure trace:

[code]

When using th

[2017-04-24 16:34] MarcMagnin opened #6665 "UnsatisfiedLinkError: how to shade native"
### Expected behavior
Uses Channel from gRPC with Unix Domain Sockets

### Actual behavior
Throwable is launched:
[code]
### Steps to reproduce
[code]

### Netty version
4.1.8
### gRPC version
1.2.0

### JVM version (e.g. `java -version`)
java version "1.8.0_111"
Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.111-b14, mixed mode)

### OS version (

[2017-04-24 17:05] normanmaurer commented on #6664
@vietj would have been nice if it would be a netty only unit test :)

[2017-04-24 17:15] fsareshwala commented on #6578
@normanmaurer Thank you! I plan to continue working on getting a reproducer together as soon as I can.

[2017-04-24 17:22] rkapsi opened #6666 "Possible Maven 3.5.0 problems ahead"
My distro (Arch Linux) has upgraded to Maven 3.5.0 and Netty's build doesn't work with it. It appears to be the surefire plugin.

https://maven.apache.org/docs/3.5.0/release-notes.html

### Actual behavior

[code]

### Netty version

`HEAD` of `4.1` branch

### OS version (e.g. `uname -a`)

[code]

[2017-04-24 17:29] MarcMagnin commented on #4800
Hi,

My netty dependencies are (gradle project):
`compile 'io.netty:netty-all:4.1.8.Final'`
`compile 'io.netty:netty-transport-native-epoll:4.1.8.Final:linux-x86_64'`

I'm shading `io.netty` to `io.netty.shadednetty` using shadow plugin and setting `System.setProperty("io.netty.packagePrefix", "io.netty.shadednetty");`

I've rename `libnetty-transport-native-epoll.so` to `libio-netty-shadednetty-n

[2017-04-24 17:29] johnou commented on #6665
@MarcMagnin check out the io.netty.packagePrefix system property.

[2017-04-24 17:29] johnou commented on #6665
https://github.com/netty/netty/commit/075a54af3e607c20eeaf7809a2a08602abd5d735

[2017-04-24 17:34] MarcMagnin commented on #6665
Cheers, I've been looking at https://github.com/netty/netty/issues/4800 but I can't get this to work yet.

[2017-04-24 17:36] normanmaurer commented on #6578
Thx

[2017-04-24 19:46] MarcMagnin commented on #6665
all good,
With `relocate 'io.netty', 'shade.io.netty'`, it needed a `System.setProperty("shade.io.netty.packagePrefix", "shade.");` and a rename of `META-INF/native/lib-netty-transport-native-epoll.so` to `META-INF/native/libshade-netty-transport-native-epoll.so`

[2017-04-24 19:46] #6665 closed

[2017-04-24 19:46] MarcMagnin commented on #4800
all good,
With `relocate 'io.netty', 'shade.io.netty'`, it needed a `System.setProperty("shade.io.netty.packagePrefix", "shade.");` and a rename of `META-INF/native/lib-netty-transport-native-epoll.so` to `META-INF/native/libshade-netty-transport-native-epoll.so`

[2017-04-24 20:32] vietj commented on #6664
ah, I can convert it to pure Netty, I used Vert.x for setting up the server faster, but the important part is in Netty. I'll update it of course Norman, I just focused on providing something quickly :-)

[2017-04-24 20:46] vietj commented on #6664
updated with only netty code in the reproducer

[2017-04-25 00:06] EclecticEngineer opened #6668 "SSLHandler ByteBuf.release() was not called before it's garbage-collected"
### Expected behavior
no memory leak

### Actual behavior
Over the course of a few weeks the memory used on the machine goes up by about 1% per day. I added -Dio.netty.leakDetection.level=advanced and restarted and immediately saw a message about a leak that looks like it's occurring in the SslHandler. Most are in SslHandler.toByteBuffer, but one is in SslHandler.allocate. If the problem could be

[2017-04-25 00:45] Scottmitch commented on #6665
Sorry for the delay ... but sounds like you got it. You need to set the system property and relocate the native library to match (to be sure we load the "correct" native library instead of potentially some other library).

[2017-04-25 02:39] trustin commented on #6602
Sure. Just need to find some time...(sad)

[2017-04-25 02:58] yuyijq opened #6669 "Add update method to HashedWheelTimer Timeout"
Add update method to HashedWheelTimer Timeout, so we can reuse Timeout object many times ,avoid new objects.
`
Timeout t = timer.newTimeout(task, 10, TimeUnit.Seconds);
`
If I want to delay this timeout, I must cancel this timeout, if Timeout has an update method, we can do it like this:
`
t.update(10, TimeUnit.Seconds);
`

[2017-04-25 03:39] chongyangxue commented on #1759
I build a message counter and a timer to do flush.
e.g When write 1000 message and every 3 seconds, make a force  flush.
Looking for better way to do this.

[2017-04-25 03:57] alkemist commented on #6610
@normanmaurer this isn't the most useful behaviour for a Netty user. I can't imagine many cases where a server implementor wants to treat this as an error. Moreover, I can't see any way as a server implementor to prevent this exception from happening. The only thing I can do is catch, inspect (i.e. look at type and message), and ignore.

Seems like it would be better for the SslHandler to emit a u

[2017-04-25 05:59] normanmaurer commented on #6669
No we not support this and I think its not worth it in general

[2017-04-25 05:59] #6669 closed

[2017-04-25 06:00] normanmaurer commented on #6668
@EclecticEngineer You most likely forgot to call "release()" in your ChannelHandler.channelRead(...) method. So please reopen if you think this is not the case and share your handler code

[2017-04-25 06:00] #6668 closed

[2017-04-25 06:01] normanmaurer commented on #6661
Without more debug info its impossible to help. Anything propagated to `exceptionCaught(...)` ?

[2017-04-25 06:08] normanmaurer commented on #6610
@alkemist actually we do both. If you can submit a test-case for me I will have a further look tho.

[2017-04-25 06:09] normanmaurer commented on #6664
@vietj there is still vert.x code for the server. Can you change this as well ?

[2017-04-25 06:10] normanmaurer commented on #6646
@davidben just unpack http://repo1.maven.org/maven2/io/netty/netty-tcnative-boringssl-static/2.0.1.Final/netty-tcnative-boringssl-static-2.0.1.Final.jar . you will find these in the "META-INF/native folder

[2017-04-25 06:16] vietj commented on #6664
ah just look at the unit test `TheTest`, not the "Main" class, sorry for confusion.

[2017-04-25 06:17] vietj commented on #6664
I had open ssl classloading issues when running the main in Intellij so I moved all to a unit test with tcnative as scope test and it worked

[2017-04-25 06:18] normanmaurer commented on #6664
@vietj ah ok... thx will check

[2017-04-25 06:47] alkemist commented on #6610
@normanmaurer if that's the case, then I can't see any benefit in the exception; only hassle.

Would the test case be for avoiding the exception?

[2017-04-25 07:04] normanmaurer commented on #6610
@alkemist its just how we do it in general... if a handshake fails we fire "SslHandshakeCompleteEvent" which will contain the exception and also the exception. This is what we do for all cases, we can't change this as it would be a breaking change.

Yes I am asking for a testcase that will trigger the exception

[2017-04-25 07:17] alkemist commented on #6610
@normanmaurer I think we are talking past each other on one point. I'm not saying anything should change regarding `SslHandshakeCompleteEvent`. What I am advocating for is returning to the 4.15 behaviour were this scenario does not cause an exception to be propagated through the handler pipeline that requires some kind of user action to avoid log noise.

Will provide a test case.

[2017-04-25 07:24] MarkVilkel commented on #6317
Sorry for late answer, not yet.

[2017-04-25 07:26] normanmaurer commented on #6610
@alkemist the problem was that in 4.1.5 we not even triggered the event which is a bug.

[2017-04-25 07:36] MarcMagnin commented on #6665
No worries. Basically I was stuck because of the most nightmarish problem: I was setting `System.setProperty("shade.io.netty.packagePrefix", "shade");` instead of `System.setProperty("shade.io.netty.packagePrefix", "shade.");`.
This type of issue took days of my life already : )

[2017-04-25 07:48] huigesv123 commented on #6661
in WebSocketServerProtocolHandler exceptionCaught method, I got a error -->" Client/Server mode not yet set" @normanmaurer

[2017-04-25 07:53] normanmaurer commented on #6661
Please show me the stacktrace

[2017-04-25 08:13] huigesv123 commented on #6661
I have changed my ca cert in my jks file and "engine.setUseClientMode(false);" ,then fix it.

However, i have a problem. The exceptionCaught  of WebSocketServerProtocolHandler class does not fireException to next handler.......so I can not find problem before.....

[2017-04-25 09:29] johnou commented on #6665
@MarcMagnin feel free to contribute to the wiki, you might save others!

[2017-04-25 11:58] slandelle commented on #4778
(just scanning issues) Should this be closed as fixed by #6321?

[2017-04-25 12:04] normanmaurer commented on #4778
yes!

[2017-04-25 12:04] #4778 closed

[2017-04-25 12:14] slandelle commented on #6666
@rkapsi Can you run with -X to provide more debug logs? Have you tried upgrading maven-surefire-plugin to 2.20?

[2017-04-25 13:55] rkapsi commented on #6666
@slandelle here's the output. 2.19.1 and 2.20 both fail (but slightly differently).

[code]

With surefire 2.19.1

[code]

With surefire 2.20

[code]

[2017-04-25 14:02] slandelle commented on #6666
[code]

Have you checked for dump files?
Also, as the failing JVM involves "jetty-alpn-agent", have you checked that you don't have a broken maven download and `/home/rkapsi/.m2/repository/org/mortbay/jetty/alpn/jetty-alpn-agent/2.0.6/jetty-alpn-agent-2.0.6.jar` is not corrupted (try decompressing it)?

[2017-04-25 14:08] rkapsi commented on #6666
The JAR is ok. It unzips w/o errors and all the hashes line up. Looking for dump files...

[code]

[2017-04-25 14:21] rkapsi commented on #6666
Nothing that looks like a dump file of some sorts (looked in commons/target for example).

[2017-04-25 18:49] normanmaurer commented on #6661
@huigesv123 can you provide a full reproducer ?

[2017-04-25 22:39] Scottmitch commented on #6578
That is the plan. Please do provide a reproducer when you are able.

[2017-04-25 23:21] vkostyukov opened #6671 "ProxyHandler.connectFuture and its execution order"
As you probably aware, Finagle has adopted `ProxyHandler` in its Netty 4 implementation (see [Netty4ProxyConnectHandler](https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/proxy/Netty4ProxyConnectHandler.scala)) and it works just great for us, besides one quite surprising behavior its API exposes.

We've recently discovered that `ProxyHandler.c

[2017-04-26 01:10] qiaodaimadelaowang commented on #6628
At this time ,the final version is not release.

[2017-04-26 03:30] #6661 closed

[2017-04-26 05:53] normanmaurer commented on #6671
let me fix it by notify the promise after removal :)

[2017-04-26 06:10] normanmaurer commented on #6628
@qiaodaimadelaowang it is... Why you say otherwise ?

http://repo1.maven.org/maven2/io/netty/netty-tcnative/2.0.1.Final/

[2017-04-26 06:11] normanmaurer commented on #6640
@cstancu its because netty core aims to be zero dependency.

[2017-04-26 06:21] normanmaurer commented on #6671
@vkostyukov please check https://github.com/netty/netty/pull/6672

[2017-04-26 08:34] zvinlong opened #6673 "netty client get RST from server"
### Expected behavior

### Actual behavior
netty http client get RST from server.But apache http client request is ok;

tcpdump is：
client ->[S] server
client <-[S] server
client ->[ack] server
client ->[P] server
client <-[R] server

I confirm the data package is ok.But I don't know why server return RST,and how netty to deal with RST(just deal as read).

### Steps to reproduce

### Minimal yet c

[2017-04-26 09:14] normanmaurer commented on #6673
@zvinlong if you get an RST you will see an `IOException()` which will have a message like "connection reset".

[2017-04-26 09:29] snicoll opened #6674 "Netty BOM inherit from parent and its own dependency management"
A BOM was recently added in #5994 but is not valid.

A BOM should only expose dependency management for the artifacts that the project produces (so in this case, netty artifacts). It should not have an opinion about third party dependencies (otherwise including that BOM in a project potentially overrides decisions that were made about them).

One way to fix that would be to stop inheriting from `n

[2017-04-26 09:44] zvinlong commented on #6673
I know that and i sure get IOException with msg like "connection reset by peer".
But I need to success to finish this request althought I got a RST.Because I can use apache httpClient to reach that.
There is three success scenes in  apache httpClient:
1、no RST return by  server;
2、client get RST but resend a SEW tcp package to finish request with another tcp request;
3、get F tcp status before rece

[2017-04-26 09:46] johnou commented on #6674
I'll fix this as it was my doing.

[2017-04-26 09:59] johnou commented on #6674
@snicoll by removing the reference to the parent the version of the bom artifact is no longer updated when the version is bumped via Maven plugins, I will check into this soon.

[2017-04-26 10:13] unoexperto commented on #6228
I'm on `4.1.9.Final` and still getting this error. I use Netty via http://mvnrepository.com/artifact/org.asynchttpclient/async-http-client/2.1.0-alpha12

[2017-04-26 10:24] johnou commented on #6228
@unoexperto please create a new issue with all information to your case, reproducer would be fantastic.

[2017-04-26 10:52] unoexperto commented on #6228
@johnou It's unlikely I'm gonna be able to do that (and I saw at least 3 other tickets about this error). It happens only after 8-10 hours of constant work of the code. If you tell me how I can collect necessary information when exception occurs I'll do that.

[2017-04-26 11:03] snicoll commented on #6674
@johnou you can use the `oss-parent` (you'll have to add a few more details to the pom so that you can publish it to Maven central anyway).

[2017-04-26 18:54] guillaumecle commented on #6579
We are really eager to consume this fix, any idea of when Netty 4.1.10.Final will be released?

[2017-04-26 18:55] normanmaurer commented on #6579
@guillaumecle end of this week.

[2017-04-27 02:33] Scottmitch commented on #6228
@maybhi - As @johnou said it is difficult to diagnose the issue without a reproducer. Please reproducer that we can run locally so we can see what is actually going on.

[2017-04-27 02:42] Scottmitch commented on #4778
yip all good now ... just missing some features :)

[2017-04-27 03:05] Scottmitch commented on #5943
Since these PRs have been merged lets close this issue. This feature should be available in the next release. Good stuff @rkapsi.

[2017-04-27 03:05] #5943 closed

[2017-04-27 03:09] Scottmitch commented on #6557
@ninja- - We have had some bugs in this area in the past, and a lot has changed since 2015 so it is possible the older client code is contributing. Let me close this for now and if you are able to provide a unit test which demonstrates the issue we will fix it.

[2017-04-27 03:09] #6557 closed

[2017-04-27 03:10] Scottmitch commented on #4671
No updates. PRs are welcome. The way netty-all is built will change with #6000 as well ... maybe worth revisiting after this.

[2017-04-27 03:12] Scottmitch commented on #6630
Please update to the latest version of Netty (a lot of bugs have been fixed in the EPOLL transport). If the issue still persists please re-open and provide a complete/minimal reproducer.

[2017-04-27 03:12] #6630 closed

[2017-04-27 03:21] Scottmitch commented on #6139
Hey @konsultaner sorry this is still plaguing you. Unfortunately I don't have time to dig in ATM. I'm not sure if the ssldemo above is already reproducing this issue and minimal (only includes what is required to reproduce), but if you could provide this perhaps someone from the community can take a peek.

[2017-04-27 03:23] Scottmitch commented on #6535
thanks for the update. Let me close this issue for now. Please re-open if 4.10 doesn't solve this issue.

[2017-04-27 03:23] #6535 closed

[2017-04-27 08:26] johnou commented on #6630
@maseev your case might be related to https://github.com/netty/netty/issues/6419

[2017-04-27 08:40] slandelle commented on #6202
I suspect that you're not sending a LastHttpContent after your ChunkedFile, so your payload is not terminated.

[code]

@normanmaurer WDYT?

[2017-04-27 08:53] mrsWangxing commented on #6202
Until now I also didn't find the real reason。Later, I changed a kind of writing, it can work normally,I do not know why.My guess is that the original writing  can not work well in netty4 environment.

[2017-04-27 08:53] #6202 closed

[2017-04-27 09:58] johnou commented on #6674
@jasontedor I see that the recent artifact you contributed (netty-dev-tools) uses oss-parent instead of netty-parent, do you know if the artifact version for netty-dev-tools will be incremented as part of the release / deploy cycle? At least with my local tests using versions:set -DnewVersion=.. it is not updated.

[2017-04-27 09:59] johnou commented on #6674
to answer myself I believe the answer is yes, just tested with the following.. mvn --batch-mode release:update-versions -DdevelopmentVersion=4.1.11.Final-SNAPSHOT

[2017-04-27 11:37] snicoll opened #6677 "Netty bom does not provide dependency management for `netty-all`"
The netty BOM should provide dependency management for all netty artifacts. I don't see `netty-all` in the list. Can you please add it?

[2017-04-27 11:39] jasontedor commented on #6674
Yes, you got it.

[2017-04-27 12:56] normanmaurer commented on #6671
Fixed by https://github.com/netty/netty/pull/6672

[2017-04-27 12:56] #6671 closed

[2017-04-27 15:06] mkw opened #6678 "Improve warning when native libraries extracted to volume with `noexec` set"
### Expected behavior

A Docker-version of our application suddenly failed to work when the `--tmpfs` flag was added to the Docker run command.  Digging into the cause resulted in a surprise that this causes Docker to mount the temp directory with `noexec`; the Netty stack trace (below) does clearly report the `failed to map segment from shared object` error, but this is a bit ambiguous to anyone

[2017-04-27 17:34] #6156 closed

[2017-04-27 17:35] normanmaurer commented on #6156
Fixed by https://github.com/netty/netty/pull/6157

[2017-04-27 17:40] normanmaurer commented on #6674
Fixed by https://github.com/netty/netty/pull/6676

[2017-04-27 17:40] #6674 closed

[2017-04-27 17:41] normanmaurer commented on #6677
Fixed by https://github.com/netty/netty/pull/6676

[2017-04-27 17:41] #6677 closed

[2017-04-27 18:37] Scottmitch commented on #6664
The OpenSSL engine didn't support hostname verification before 4.1.9.Final [1]

[1] https://github.com/netty/netty/commit/d8e6fbb9c3656663f41797a15f38bb25fdcab834

[2017-04-27 18:41] Scottmitch commented on #6664
You must also use netty-tcnative 2.0.0.Final [1] and OpenSSL 1.0.2+ (or boring ssl)

Since we build against 1.0.1 the dynamically linked netty-tcnative in maven central will not support this feature ... but it looks like you are want to use the statically linked BoringSSL so you should be fine.

[1] https://github.com/netty/netty-tcnative/commit/df8f3b1ffb40da35fdbdb818c4e63335939c19d5

[2017-04-27 18:44] normanmaurer commented on #6664
I will investigate soon... Just need to find some time

[2017-04-27 18:47] vietj commented on #6664
@Scottmitch can you explain why it works with file Key/Cert and OpenSSL ?

[2017-04-27 21:21] doom369 opened #6679 "Netty and Java 9 builds"
Hello everybody.

I saw that you already did some preparations for Java 9, that will be released in 3 months.
So my question is - do you have any plans for building Netty with Java 9 and releasing it to maven central?

Or for now recommended way is to use SNAPSHOTs from your CI? I'm asking cause wasn't able to use  Netty from maven central with Java 9.

[2017-04-27 22:36] Scottmitch commented on #6664
You have a `Main.java` and a `TheTest.java` in your reproducer. I only looked at `TheTest.java`.
Prior to Netty 4.1.9.Final and netty-tcnative 2.0.0 while using the OpenSSL there was no association between calling `SSLParamaters#setEndpointIdentificationAlgorithm` and Netty instructing OpenSSL of the expected hostname to validate. However the JDK's SSLEngineImpl would validate the hostname. So tha

[2017-04-27 22:39] Scottmitch commented on #6602
@trustin - thanks for clarifying. your suggestion sgtm.

[2017-04-27 22:45] Scottmitch commented on #6678
I'm all for making exception messages more informative, however my preference is to avoid doing inspection of exception messages. Inspecting the string portion of exceptions is fragile and subject to fail.

[2017-04-27 22:51] Scottmitch commented on #6606
Why would `ioBuffer` return a heap buffer? I would assume most/all IO destinations would ultimately require a direct buffer anyways, no?

[2017-04-27 23:16] Scottmitch commented on #6624
Making the `MessageAggregator` a bit more generic sgtm. However are you using `MessageAggregator` directly, or using one of its subclasses? Would the intention be to create 2 different variants of the current classes that extend `MessageAggregator` (e.g. `HttpObjectAggregator`, etc..)? This seems heavy from the class hierarchy perspective. Also we would have to maintain some more state for the "ma

[2017-04-27 23:34] vkostyukov opened #6681 "Metrics for HashedWheelTimer"
Netty's `HashedWheelTimer` is great but it's really hard to observe it's state given it's all private. Historically, we've been using reflection to get access to timer's private fields and expose some primitive metrics like "number of pending tasks".

Would you be open to introducing `HashedWheelTimer.pendingTasks` as the first step towards better observability story for Netty timers? I'm not sure

[2017-04-27 23:55] vkostyukov commented on #6671
Thanks a lot, @normanmaurer for such a quick turn around!

[2017-04-28 05:36] normanmaurer commented on #6679
@doom369 there are no plans... Why you could not use netty with Java9 ?

[2017-04-28 05:36] normanmaurer commented on #6606
@Scottmitch for example if you use the OIO transport it is preferred to use a heap buffer as you write / read into byte arrays.

[2017-04-28 05:37] normanmaurer commented on #6681
@vkostyukov sounds good to me.

[2017-04-28 05:37] normanmaurer commented on #6671
@vkostyukov np... thanks for reporting ! :)

[2017-04-28 06:18] Scottmitch commented on #6606
I see. If the primary differentiator is the transport (which the allocator has no knowledge of anyways) we should get rid of these methods (deprecate them).

[2017-04-28 06:45] vkostyukov commented on #6681
Thanks, @normanmaurer! I opened #6682, please take a look.

[2017-04-28 06:46] vietj commented on #6664
here is the validation with OpenSSL and Key/Cert:

[code]

[2017-04-28 07:23] Scottmitch commented on #6664
`TheTest.java` while using `SslProvider.OPENSSL` on the client successfully completes the handshake, but while using `SslProvider.JDK` the handshake fails. It is still not clear to me what the issue is. Are you suggesting we should change how things are done for OpenSSL to mimic the way things are done in the JDK? Is host name verification not working correctly when using SslProvider.OPENSSL with

[2017-04-28 08:42] doom369 commented on #6679
@normanmaurer

[code]

[2017-04-28 08:51] normanmaurer commented on #6679
Yeah that's because you use SelfSignedCertificate which used Java internal apis. Just not use it and you are ok

[2017-04-28 08:55] slandelle commented on #6679
or provide BouncyCastle, right?

[2017-04-28 08:57] doom369 commented on #6679
Mmm. Sure, I can rewrite this. However, it doesn't seem like correct way of solving this. Shouldn't netty just include correct modules in order to make it work?

I also see other issues, however, they not critical. Is that planned to be fixed?

[code]

[code]

[code]

[2017-04-28 08:59] JatinderSingh opened #6683 "native binary for DPDK"
Some networking frameworks have got a significant boost in throughput using http://dpdk.org/
https://en.wikipedia.org/wiki/Data_Plane_Development_Kit. Will using above library for driver based optimizations improve throughput of netty as well? What changes would be needed for this?

[2017-04-28 09:08] normanmaurer commented on #6606
+1

[2017-04-28 10:06] qiaodaimadelaowang commented on #6628
Sorry，I find it.

[2017-04-28 10:06] qiaodaimadelaowang commented on #6628
Sorry.

[2017-04-28 10:08] qiaodaimadelaowang commented on #6628
Final version in http://repo1.maven.org/maven2/io/netty/netty-tcnative/
and SNAPSHOT in https://oss.sonatype.org/content/repositories/snapshots/io/netty/netty-tcnative ?

[2017-04-28 10:53] normanmaurer commented on #6628
Yes

[2017-04-28 14:01] mkw commented on #6678
Well, I agree with that.  Unfortunately, the only non-message-parsing (not calling these better) solutions that I know of are:

1. Invoking "mount" and parsing the results
2. Attempting to read the mount information off the filesystem
3. Lots of reflection to get to and invoke `sun.fs.nio.UnixMountEntry#getOption(String)`

I have a patch doing number 3 in the list above that I'll submit as a PR in

[2017-04-28 15:51] normanmaurer commented on #6678
@mkw I would prefer to not use reflection if possible as this will fail on java9 :(

[2017-04-28 16:25] mkw commented on #6678
Doh!  I literally just pushed a reflective version with a comment indicating that `--add-opens java.base/sun.nio.fs=...` is required for Java 9.  Would you prefer message parsing?  That's certainly simpler, but does depend on the message from the Kernel not changing (and I can't easily test it on anything but a handful of linux flavors).

[2017-04-28 16:27] normanmaurer commented on #6678
@mkw maybe its ok if we just try to do it and "silently" fail if we can not do the reflection hack. Kind of best-effort.

[2017-04-28 16:34] mkw commented on #6678
Definitely a best-effort warning.  I'm locally testing suppressing the stack trace from the `java.lang.reflect.InaccessibleObjectException` exception and instead suggesting the `--add-opens java.base/sun.nio.fs=...` flag if initialization fails.  This will only happen 1 on startup, and it's logged at debug.  Will push once I confirm that it works.

[2017-04-29 15:22] sshntt commented on #6596
@Underbalanced I am sending a shutdown signal to the process using kill -2 command which in turn executes the stop() method mentioned in beginning. This is where I am stopping the server and releasing resources back. Am I missing something there ?

[2017-04-29 22:38] onesimpledot opened #6686 "SegFault Epoll"
### Expected behavior
no segfault on EpollEventLoopGroup#shutdownGracefully()
### Actual behavior
segfault on EpollEventLoopGroup#shutdownGracefully()
https://pastebin.com/hcSc6f5N
### Steps to reproduce
EpollEventLoopGroup#shutdownGracefully()
### Minimal yet complete reproducer code (or URL to code)
https://pastebin.com/nS6dsbK3
### Netty version
4.1.8.Final
### JVM version (e.g. `java -version`

[2017-04-30 13:04] ninja- commented on #6686
This is not a segfault in epoll but in libzip as you can see. It's probably caused by you replacing the jar without shutting down the app first.

[2017-04-30 16:15] davidben commented on #6646
Thanks! http://repo1.maven.org/maven2/io/netty/netty-tcnative-boringssl-static/1.1.33.Fork26/netty-tcnative-boringssl-static-1.1.33.Fork26-osx-x86_64.jar but yeah, that matches the stack trace.

Looks like the compiler is actually vectorizing that loop and sticking a `pmovzxbd` instruction in there. Huh. If you're getting a `SIGILL`, I'm guessing `netty-tcnative-boringssl-static-1.1.33.Fork26-osx-

[2017-04-30 16:36] davidben commented on #6646
Ah, looks like `clang` (on a Mac at least) will just assume SSE 4.1 is available by default.

[2017-05-01 16:15] mkw commented on #3063
I want to improve this -- the silent close bit our project twice, once when it was 100% our own fault caused by a mis-configuration between client and server and a silent close only for large messages and once because of #6663.  I see 2 easy and one harder solution, and I am not at all sure which one makes most sense:

1. (trivial) Add a simple warn (or info?) message when the close happens, parti

[2017-05-01 17:03] rkapsi opened #6687 "SslContextBuilder no longer raising an SSLException"
I have a canary unit test for OPENSSL that is checking for a SSLException being thrown if an attempt is being made to construct an SslContext with valid but mismatching PrivateKey/Certificate.

Please note that the JDK provider doesn't raise a Exception and the new outcome of my canary test could be interpreted either as a bug or feature.

### Expected behavior

[code]

### Actual behavior

No exc

[2017-05-01 17:39] normanmaurer commented on #3063
I think 2) would be fine @mkw . Thanks!

[2017-05-01 19:46] mkw commented on #6663
I'd like to fix this.  Options for fixing:

1. (trivial) Throw an exception on incompressible data and kill the connection.  This is crude, but the connection already dies with a max frame size exception if it's at the boundary, anyway, so at minimum, this would make the failure happen on the sending side, which has more opportunity to prevent it.
2. Making the WebSocket encoders reject frames tha

[2017-05-01 20:45] mskaric opened #6689 "HttpContentCompressor.beginEncode"
There is a problem in condition. Please remove ! sign.

### Expected behavior

String contentEncoding = headers.headers().get(HttpHeaderNames.CONTENT_ENCODING);
        if (contentEncoding != null &&
            HttpHeaderValues.IDENTITY.contentEqualsIgnoreCase(contentEncoding)) {
            return null;
        }

### Actual behavior

String contentEncoding = headers.headers().get(HttpHeaderName

[2017-05-01 20:46] normanmaurer commented on #6689
Can you please open a PR and add a unit-test as well ?

On 1. May 2017 at 13:45:41, mskaric (notifications@github.com) wrote:

There is a problem in condition. Please remove ! sign.
Expected behavior

String contentEncoding =
headers.headers().get(HttpHeaderNames.CONTENT_ENCODING);
if (contentEncoding != null &&
HttpHeaderValues.IDENTITY.contentEqualsIgnoreCase(contentEncoding)) {
return null;
}
A

[2017-05-01 20:56] mskaric commented on #6689
Unfortunately I really have no time to delve into that :). I just wanted to
help. I made this code to go around the problem and now it works as
expected. Hopefully you don't mind.
Setting identity should turn off the compression e.g. return null.

public class WebContentCompressor extends HttpContentCompressor{

    @Override
    protected Result beginEncode(HttpResponse headers, String
acceptEnco

[2017-05-01 22:03] jprante commented on #6646
Reporter states `OSX` which seems not up-to-date with current macOS Sierra, and macOS Sierra requires SSE 4.1.

[2017-05-01 22:25] vkedia commented on #6646
Thanks for looking into this. I will find out what hardware was this.

[2017-05-01 22:26] vkedia commented on #6646
Do you know if there is a way to check on the machine, if SSE 4.1 is available?

[2017-05-02 03:11] #6681 closed

[2017-05-02 03:14] normanmaurer commented on #6681
Fixed by https://github.com/netty/netty/pull/6682

[2017-05-02 03:32] normanmaurer commented on #6689
@mskaric PTAL https://github.com/netty/netty/pull/6690

[2017-05-02 13:24] jadbaz commented on #1759
I have written [here](https://gist.github.com/jadbaz/47d98da0ead2e71659f343b14ef05de6) a ChannelOutboundHandler that implements a queuing system to avoid flooding the socket and to optimize its usage.
It uses the same event listener process as the [DiscardClientHandler example](http://netty.io/4.1/xref/io/netty/example/discard/DiscardClientHandler.html).

In theory, this should never exhaust the s

[2017-05-02 15:45] dlmarion commented on #6428
Any particular reason this keeps getting kicked down the road?

[2017-05-02 15:47] normanmaurer commented on #6428
@dlmarion actually I missed to just close it. You should use https://github.com/netty/netty/issues/6510

[2017-05-02 15:50] normanmaurer commented on #6428
Yes

[2017-05-02 15:50] #6428 closed

[2017-05-02 15:50] dlmarion commented on #6428
Thx.

[2017-05-02 15:52] normanmaurer commented on #6683
@JatinderSingh as far as I know you will need to write a new jni based transport for this. So its non-trivial. That said contributions welcome

[2017-05-02 15:52] #6683 closed

[2017-05-02 15:53] normanmaurer commented on #6663
I guess 1) is good enough ?

[2017-05-02 15:54] normanmaurer commented on #6649
@trustin you wrote this... can you comment ?

[2017-05-02 22:36] #6652 closed

[2017-05-02 22:37] normanmaurer commented on #6652
Fixed by https://github.com/netty/netty/pull/6656#pullrequestreview-35908160

[2017-05-03 01:01] cz279708573 opened #6693 "java.io.IOException: Connection timed out"
I have about 40 applications , each connected to others with long connection.
just like: application A as a client connect to applicationB and application B as a client connect to applicaitionA.so each application may have 39 clients and 1 server.
After the connections build succeede and worked well,  several hours later or more (this happens randomly)
" java.io.IOException: Connection timed out "

[2017-05-03 06:51] amizurov commented on #4448
Hi, everyone i agree with @LionelCons. The STOMP support in Netty looks very experimental, I also would like to use STOMP via WebSockets, but with the current implementation of StompSubframeEncoder this is not very convenient, because the encoder returns ByteBuff to pipeline.

[2017-05-03 08:00] wangjia184 opened #6694 "IncompatibleClassChangeError after upgrading to netty 4.1.10.Final"
I have the following code works fine in netty 4.1.9.Final
[code]
But after upgrading to netty 4.1.10.Final, it failes with IncompatibleClassChangeError

[code]

Am I doing something wrong or it is a bug?

[2017-05-03 08:10] johnou commented on #6694
@wangjia184 did you also update tcnative?

[2017-05-03 08:13] wangjia184 commented on #6694
Yes, that is the cause. Thanks for figure out.  This issue can be closed

[2017-05-03 08:13] #6694 closed

[2017-05-03 09:50] mskaric opened #6695 "io.netty.handler.codec.EncoderException: MessageToMessageCodec$1 must produce at least one message."
I'm not sure whether this is an error or normal behavior. But i am sure that the error message is misleading.
### Expected behavior
No error
### Actual behavior
io.netty.handler.codec.EncoderException: MessageToMessageCodec$1 must produce at least one message.
### Steps to reproduce
try to write empty string only like this:
ctx.write(new DefaultHttpContent(Unpooled.copiedBuffer("", CharsetUtil.UTF

[2017-05-03 10:47] normanmaurer commented on #6695
Can you also show your codec impl or share which included codec was used?

[2017-05-03 13:10] mskaric commented on #6695
Of course I can Norman. That is the least I can do.
The problem shows itself when I use chunked transfer e.g. I don't use content-length header.
I think the problem is because 0 length chunk should be the last chunk.
My workaround is to check whether business layer is sending 0 length chunk and ignore it completely but I think this solution should be implemented in HttpResponseEncoder class.

 Cha

[2017-05-03 13:19] mskaric commented on #6695
This is the solution I am using:

public void write(ByteBuf buf) {
        **if(buf.writerIndex()==buf.readerIndex())
            return;**
        if (writeResponse) {
            ctx.write(response);
            writeResponse = false;
        }
        ctx.write(new DefaultHttpContent(buf), ctx.voidPromise());
    }

[2017-05-03 16:53] #2448 closed

[2017-05-03 16:53] #4231 closed

[2017-05-03 17:55] normanmaurer commented on #6689
Fixed via https://github.com/netty/netty/pull/6690

[2017-05-03 17:55] #6689 closed

[2017-05-03 20:29] normanmaurer commented on #3063
Fixed by https://github.com/netty/netty/pull/6688

[2017-05-03 20:29] #3063 closed

[2017-05-03 20:57] doom369 opened #6698 "HttpServerKeepAliveHandler throws java.lang.IllegalStateException: void future"
### Expected behavior

No error when I do `ctx.writeAndFlush(msg, ctx.voidPromise());` where msg is with header "Connection:close".

### Actual behavior

HttpServerKeepAliveHandler throws IllegalStateException exception.

### Steps to reproduce

Use `ctx.writeAndFlush(msg, ctx.voidPromise());` where msg is `DefaultFullHttpResponse` with header "Connection:close".

[code]

### Netty version

4.1.10

[2017-05-03 21:01] Scottmitch commented on #6686
@onesimpledot - can you please create a simple git repo with a maven/gradle file which reproduces? There are some dependencies on unknown code `me.onesimpledot.` the easier it is to reproduce the more likely we will be able to diagnose the issue.

[2017-05-03 22:30] Scottmitch commented on #6687
This exception will be raised if you don't have a version of OpenSSL which provides the necessary methods to support the KeyManager interface. You can also simulate this behavior with `-Dio.netty.handler.ssl.openssl.useKeyManagerFactory=false`. Is it possible that your tests were running with an older version of openssl (`<0x10002000`), or if you were previously using the tcnative jar from maven c

[2017-05-04 00:25] jchambers opened #6700 "SNIServerName class not found when creating SslHandler after upgrading to Netty 4.1.10/netty-tcnative 2.0.1 under Java 7"
Using Java 7, Netty 4.1.9, and netty-tcnative 2.0.0, the following code works just fine:

[code]

After upgrading to Netty 4.1.10/netty-tcnative 2.0.1, though, it fails under Java 7 with the following stack trace:

[code]

Everything is fine with Netty 4.1.10/netty-tcnative 2.0.1 under Java 8, or when using `SslProvider.JDK` under Java 7.

[2017-05-04 00:27] normanmaurer commented on #6700
@jchambers will check ... thanks!

[2017-05-04 13:54] FelixMarcus commented on #6645
Further investigation has revealed the source of the problem.

Websocket protocol requires a handshake message be sent back to the client. This message is sent by the WebSocketServerProtocolHandshakeHandler and its constituents up the pipeline from the base to the source, passing through the entire pipeline to the transport point (not as originally believed by the poster from the point where the p

[2017-05-04 15:00] normanmaurer commented on #6700
Please check https://github.com/netty/netty/pull/6703

[2017-05-04 21:09] normanmaurer commented on #6698
Fixed by #6699

[2017-05-04 21:09] #6698 closed

[2017-05-05 12:05] CodingFabian opened #6705 "http2 - Stream does not exist - under load"
Running on latest netty 4.1.10:

I create a netty http/2 client along these lines:
[code]

and then pump requests through it
[code]

This works fine most of the time. But sometimes we encounter:
[code]

I was now able to produce a "load test" that can more or less reliably trigger the problem.

it seems for me that there is a race condition somewhere. potentially increasing the currentStreamId alr

[2017-05-05 12:13] CodingFabian commented on #6705
The problem possibly lies in
io.netty.handler.codec.http2.HttpToHttp2ConnectionHandler.write(ChannelHandlerContext, Object, ChannelPromise)

where currentStreamId is assigned from getStreamId(httpMsg.headers());
when this is invoked twice before further down the HttpContent is written the currentStreamId changes.

Also
io.netty.handler.codec.http2.DefaultHttp2Connection.DefaultEndpoint.incrementAn

[2017-05-05 12:28] CodingFabian commented on #6705
Trying to manually manage the stream ids is not much better:

[code]

[code]

[2017-05-05 12:35] CodingFabian commented on #6705
DefaultHttp2Connection.streamMap also does not seem to be threadsafe.

[2017-05-05 12:50] CodingFabian commented on #6705
Ok, closing this as user error
It is
        throw streamError(streamId, REFUSED_STREAM, "Maximum active streams violated for this endpoint.");
Under load. somehow the exception is swallowed so i did not see them.

[2017-05-05 12:56] CodingFabian commented on #6705
Maybe there is still some value.
Apparently this stream error is caught and handled:
io.netty.handler.codec.http2.Http2ConnectionHandler.onStreamError(ChannelHandlerContext, Throwable, StreamException)

but never printed/thrown to the user (aka me)

[2017-05-05 12:56] #6705 closed

[2017-05-05 13:19] CodingFabian commented on #6705
should anybody find this issue. there is actually a netty setting which can prevent this:
encoderEnforceMaxConcurrentStreams(true)

it feels like it should be default true, or the non-default behaviour should be more robust.

[2017-05-05 15:23] slandelle opened #6706 "Can't get server response while uploading with ChunkedInput"
### Expected behavior

When a request is invalid (eg missing auth header), a server will immediately send a response without waiting for the full request body, all the more during a large upload. It will then usually close the socket.

In this case, a Netty client should be able to read this response so it can react based on the information in there (eg www-authenticate header).

### Actual behavi

[2017-05-05 21:56] #6700 closed

[2017-05-05 21:56] normanmaurer commented on #6666
@rkapsi will check shortly

[2017-05-06 00:52] sudheeshkatkam opened #6709 "SslHandler does not work with little endian buffers"
### Expected behavior
SslHandler to work regardless of LE or BE buffers
### Actual behavior
SslHandler uses [SslUtils#getEncryptedPacketLength](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslUtils.java#L123) which does not work with little endian buffers.

Looks like the issue was fixed in [16750ff](https://github.com/netty/netty/commit/16750ffc2802e6098e624d

[2017-05-08 01:06] ninja- commented on #6560
@normanmaurer @johnou I did some debugging now. The problem is that my app is using EMPTY_BUFFER for control flow to know when data has been written. I tried to get rid of it but I can't.. The empty buffer is removed at IovArray.add level. So msgCount is always 2 and iovArray.count() is always 1. Are you fine with adding a second if in doWriteMultiple which - as I tested - will fix the problem?

[2017-05-08 02:09] stkkk opened #6712 "StringDecoder Sticky bag problem"
The server uses netty，but the client doesn't use netty,
Whether the server can overcome the sticky bag problem by using StringDecoder,
if not , what should i do？

[2017-05-08 02:20] #6693 closed

[2017-05-08 02:26] normanmaurer commented on #6560
@ninja- I see this makes sense then. While I think adding another branch will most likely not hurt I would like to understand why you even care. Can you explain why this matters for you ?

[2017-05-08 02:27] normanmaurer commented on #6712
@stkkk can you explain what exact issues you see ? I don't understand what you try to explain in the issue.

[2017-05-08 02:31] normanmaurer commented on #6709
@sudheeshkatkam will check... thanks!

[2017-05-08 02:46] stkkk commented on #6712
@normanmaurer
I was using netty to create a TCP server,  but the calling client does not use netty,
Will there be a sticky question on my writing?
If so, how to deal with

here is the code:
                       ServerBootstrap server = new ServerBootstrap();
			server.group(bossGroup, workerGroup);
			server.channel(NioServerSocketChannel.class);
			server.option(ChannelOption.SO_BACKLOG, 1024);

[2017-05-08 02:52] normanmaurer commented on #6712
@stkkk I am still no sure why you asking for. What does "sticky question" mean here ? Its just bytes at the end so it not matters if your other peer is using netty or not.

[2017-05-08 02:52] #6712 closed

[2017-05-08 03:01] ninja- commented on #6560
writev does memcpy for every piece of data...the CPU usage ratio for my proxy app is 2;1 or 3:1 - writev:read. So writev calls take 2x or 3x as much as the read calls. The CPU usage of other components is marginal compared to what write/read takes. I suspect changing writev with write could reduce cpu usage.

[2017-05-08 03:03] normanmaurer commented on #6560
@ninja- usually writev should have not much overhead when implemented in the kernel for the device (which should be the case for network io). So I am not expecting any gains here, especially as its only one buffer and so there will be not much to copy (if it needs to copy at all). Can you just test it locally and see if it really improves things ? My guess is it will not at all.

[2017-05-08 03:05] ninja- commented on #6560
From your experience would that ratio of read to write CPU usage be normal?

[2017-05-08 03:09] normanmaurer commented on #6560
@ninja- this is something that complete depends on what you do in your app. So there is no "general correct" answer to it.

[2017-05-08 03:11] ninja- commented on #6560
Let's assume that the app is proxying every packet from client to backend and from backend to client while squashing pending packets to a single buffer so there is always 1 buffer to write. That's very close to how I use it.

[2017-05-08 03:13] normanmaurer commented on #6560
@ninja- very close is not good enough ... I would need to check the code etc and analyse it. It may be that for example the remote peer is not able to read fast enough which at the end may produce more write calls etc. If you are sure it will improve things why not just patch it and try it yourself ? Again I would be surprised if it really makes a difference but I will be happy to proven wrong.

[2017-05-08 03:15] ninja- commented on #6560
I'll test that within a few days and let you know :) For remote peer not reading fast enough there's backpressure protection used...read() is not called until last batch of packets have been fully written

[2017-05-08 03:17] normanmaurer commented on #6560
@ninja- the back pressure you talk about will not really make a difference here as it could be that you will be notified again that the remote peer channel became writable and so try to write again which may result again in a partial write. In this case having more writes then reads make perfect sense

[2017-05-08 03:18] ninja- commented on #6560
it would make sense to compare number of invocations for writev and read though to know this, but I can't currently do this via VisualVM. Maybe I can count this via strace.

[2017-05-08 03:23] ninja- commented on #6560
my guess is that partial writes probably happen close to never

[2017-05-08 03:24] normanmaurer commented on #6560
@ninja- again please take the time to debug / trace / profile. Guesses are not very useful when it comes to "performance work".

[2017-05-08 03:57] normanmaurer commented on #6709
@sudheeshkatkam PTAL https://github.com/netty/netty/pull/6713

[2017-05-08 04:28] caoli5288 opened #6714 "EventLoopGroup with java-thread-affinity use only one cpu"
### Expected behavior
I add java-thread-affinity code followed [here](http://netty.io/wiki/thread-affinity.html). I think this will make thread launch and bind to each core of my server but not.

### Actual behavior
![](https://cloud.githubusercontent.com/assets/3120587/25790054/588da402-33e8-11e7-96c3-143af455976e.png)

### Steps to reproduce
new NioEventLoopGroup with AffinityThreadFactory.

###

[2017-05-08 04:49] normanmaurer commented on #6714
@caoli5288 NioEventLoopGroups will be started in a lazy fashion. Are you sure all of them are started yet ? If this still not helps you may want to ask the maintainer of `java-thread-affinity` as we only "delegate" to it.

[2017-05-08 05:00] caoli5288 commented on #6714
About 200+ connection handled while I take this screenshot so all thread must be launched:/
I'll open a issue in java-thread-affinity. THX

[2017-05-08 12:44] caoli5288 commented on #2381
I try this library with netty-4.1.9 but all threads in eventloopgroup locked on the same core. Any one got expected behavior?

[2017-05-08 12:46] maseev commented on #2381
How did you determine that all threads are locked on the same CPU core?

[2017-05-08 12:47] caoli5288 commented on #2381
@maseev See this screenshot. ![](https://cloud.githubusercontent.com/assets/3120587/25790054/588da402-33e8-11e7-96c3-143af455976e.png)

[2017-05-08 12:49] maseev commented on #2381
What version of the java-thread-affinity library are you using?

[2017-05-08 12:52] caoli5288 commented on #2381
@maseev maven's newest version 3.0.6

[2017-05-08 13:03] caoli5288 commented on #2381
@maseev Do you have any idea?

[2017-05-08 13:42] maseev commented on #2381
@caoli5288 Here's a simple [project](https://github.com/maseev/echo) that can help you with your problem, I suppose.
That's how it looks like starting a server with 2 worker threads and connect two clients:

![selection_002](https://cloud.githubusercontent.com/assets/3434800/25806725/60ebe8e8-342e-11e7-9d71-2d3cf20b33a9.png)
![selection_001](https://cloud.githubusercontent.com/assets/3434800/25806

[2017-05-08 15:19] caoli5288 commented on #2381
@maseev Yes. I have read this http://netty.io/wiki/thread-affinity.html. My code like
[code]
![qq 20170508231451](https://cloud.githubusercontent.com/assets/3120587/25810949/37705be6-3444-11e7-9f90-fecb18baa905.png)

But all threads use same core. :/

[2017-05-08 15:25] maseev commented on #2381
@caoli5288 Try to build and run this echo project I mentioned earlier. I bet you'll be able to use more than 1 CPU core. Otherwise, it's kinda difficult to say why your application is using only one core without a minimal reproducer. Did you isolate your CPU cores by any chance?

[2017-05-08 15:38] caoli5288 commented on #2381
@maseev It's [BungeeCord](https://github.com/SpigotMC/BungeeCord). I try to add thread-affinity to this project and got this issue.

[2017-05-08 16:08] maseev commented on #2381
@caoli5288 Well, again, it's hard to say what went wrong without looking at your code. It would be also great to have a look at the `isolcpus` parameter in your `grub.conf' file.

I have no trouble whatsoever running this code on my laptop or on the server machine. It would be great to have a minimal reproducer of your problem. You can also point to your version of BungeeCord where you implemented

[2017-05-08 17:14] rkapsi commented on #6687
Running the test with `-Dio.netty.handler.ssl.openssl.useKeyManagerFactory=false` does raise the exception.

I'm pretty sure I've been running w/ OpenSSL 1.0.2.

[2017-05-08 17:44] rkapsi opened #6716 "OpenSsl.java line 143 creates file and doesn't delete it"
The OpenSsl class at line [143](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/OpenSsl.java#L143) creates a SelfSignedCertificate but doesn't delete it once it's done with it.

### Expected behavior

File getting deleted once it's done with it

### Actual behavior

File may or may not getting deleted depending on if `File#deleteOnExit()` gets triggered.

### Ste

[2017-05-08 17:45] normanmaurer commented on #6716
@rkapsi good catch. Let me fix this very quickly.

[2017-05-08 17:57] rkapsi opened #6717 "The value of the SNI extension is ASCII encoded but Netty uses UTF-8"
The value of the SNI extension is ASCII encoded but Netty's SNI code tries to decode the `byte[]` as UTF-8.

The was flagged by @fenik17 in this https://github.com/netty/netty/pull/6623#discussion_r111070719

https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/AbstractSniHandler.java#L188

https://tools.ietf.org/html/rfc6066#page-6

   as understood by the client.  T

[2017-05-08 18:00] normanmaurer commented on #6716
@rkapsi fixed by https://github.com/netty/netty/pull/6718

[2017-05-08 18:04] normanmaurer commented on #6717
@rkapsi sounds good (do it as the RFC). You want to do a PR or should I put it on my back burner ?

[2017-05-08 18:07] rkapsi commented on #6717
Sounds good, inbound PR shortly

[2017-05-08 18:10] normanmaurer commented on #6717
<3

[2017-05-08 20:00] rkapsi commented on #6687
@Scottmitch on further thought, what is the benefit of using KeyManagerFactory over straight `SslContext#setKeyMaterial(...)`? It seems the KeyManagerFactory is a bit more costly as it needs to create a KeyStore and do a SPI lookup.

As far as I can tell, the `SslContext#setKeyMaterial(...)` was the old default and my canary test is indirectly telling me that the default has changed and I now need

[2017-05-08 20:42] caoli5288 commented on #2381
@maseev No `isolcpus` set yet and newest bungeecord git version I used. You are a minecraft player? :-?
I extends the `ThreadFactory` and let it log which cpu the thread assigning to. then log shown threads assigning diff cpus but server load still under a same cpu core. What?

[2017-05-08 20:56] maseev commented on #2381
Alright. So, this is not a misconfiguration problem in the `isolcpus` section, I suppose.

No, I'm not, unfortunately.

I think it would be better if you could upload your version of this project with the affinity feature implemented and tell us how to build and test it.
Otherwise, it's kinda difficult to guess what's actually going on.

[2017-05-08 21:20] caoli5288 commented on #2381
@maseev https://github.com/caoli5288/bungee/ It is a minecraft server clust proxy so you need setup some minecraft server to test it. :/

[2017-05-08 21:52] caoli5288 commented on #2381
@maseev I see you just let worker group under thread-affinity but I use a mixed group. is this the reason?

[2017-05-08 22:16] sudheeshkatkam commented on #6709
LGTM!

[2017-05-09 01:45] caoli5288 commented on #2381
@maseev Use ·AffinityThreadFactory· in only worker group got balanced cpu usage. Once it is applied to the boss group, cpu load will focus on the first boss thread. Puzzling.

[2017-05-09 03:48] fangqiao opened #6722 "Unable to create Channel from class class io.netty.channel.socket.nio.NioServerSocketChannel"
Hi,

I am using Netty as basis of a REST service in production, which talks to Elasticsearch backend.

My whole environment works very well with ES5.3. Now I am trying to upgrade ES to ES5.4.

When I try to start the REST service, the messages below are shown:

io.netty.channel.ChannelException: Unable to create Channel from class class io.netty.channel.socket.nio.NioServerSocketChannel
	at io.net

[2017-05-09 05:40] normanmaurer commented on #6687
@rkapsi the advantage is that its a "drop-in" replacement for the JDK implementation, which uses the KeyManagerFactory. Thats it 👍

[2017-05-09 06:04] normanmaurer commented on #6722
@fangqiao yes as you can see you have 4.0 and 4.1 in your dependencies. You need to big one of these.

[2017-05-09 06:04] #6722 closed

[2017-05-09 06:12] fangqiao commented on #6722
Do you mean this jar netty-transport-native-epoll-4.0.45.Final-linux-x86_64.jar? It is provided by Elasticsearch. I did a search and found out this page : http://netty.io/wiki/native-transports.html#wiki-h2-2 about "Using the native transport". Do you mean I should compile against 4.1.9?

I will give it a try. Thanks.

[2017-05-09 06:13] normanmaurer commented on #6722
@fangqiao yes ... you will need to use the same version and not mix stuff up

[2017-05-09 09:15] maseev commented on #2381
@caoli5288

No, I don't think so. I've just checked it and it works as expected. When you use a single event loop group instance it just means that you'll be sharing threads from this group for accepting new connections and handling already connected clients.

In my case, when I use only one event loop group, I can only bind a single worker thread to the CPU core because I have only two physical c

[2017-05-09 10:09] devpage opened #6724 "netty4-setautoreadfalse-with-epoll-transport"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
http://stackoverflow.com/questions/43646038/netty4-setautoreadfalse-with-epoll-transport
### Netty version
4.1.9
### JVM version (e.g. `java -version`)
1.8.x
### OS version (e.g. `uname -a`)
linux

I am using Netty 4.1.9 with Epoll transport. I have a test case to pause net

[2017-05-09 10:09] normanmaurer commented on #6716
Fixed by https://github.com/netty/netty/pull/6718

[2017-05-09 10:09] #6716 closed

[2017-05-10 09:08] trustin opened #6729 "Potential buffer leak in HttpObjectEncoder"
4.1.10.Final. According to the commit history, `HttpObjectEncoder` did not change since December last year (4.1.7), so I'm not really sure it's a problem, but saw this:

[code]

According to the access records, something happened before writing all headers into the buffer allocated by `HttpObjectEncoder`, and is lost probably due to an exception. I couldn't find what the exception which may have c

[2017-05-10 12:50] alobodzki opened #6730 "Cookie decoder stopped throwing exception on malformed cookie name"
We want to switch from 4.0 to 4.1, but with 4.1 cookie decoding changed and on illegal characters cookie decoding procedure doesn't throw exception anymore. The piece of code that was throwing exception was in `io.netty.handler.codec.http.cookie.DefaultCookie#DefaultCookie`.

### Expected behavior
When a cookie contains illegal characters in name/value cookie decoder could, based on some parameter

[2017-05-10 12:58] slandelle commented on #6730
Could you please provide an example where behavior has changed? `ServerCookieDecoderTest#testRejectCookieValueWithSemicolon` is exactly the same on the [4.0](https://github.com/netty/netty/blob/4.0/codec-http/src/test/java/io/netty/handler/codec/http/cookie/ServerCookieDecoderTest.java#L180-L184) and [4.1](https://github.com/netty/netty/blob/4.1/codec-http/src/test/java/io/netty/handler/codec/http

[2017-05-10 13:12] slandelle commented on #6730
IMHO, spamming exceptions because a counterpart you have no control over is sending invalid data is a good way to hurt performance/be DDoS'ed. So I think the current behavior is the best default.

Then, I guess adding a System property to bring the behavior you want is possible. But is it really worth it? I'm not convinced, but that's for the Netty guys to decide :)

Note that you can get the info

[2017-05-10 14:31] alobodzki commented on #6730
@slandelle Valid points, I agree, but we want to fail fast. The functionality is already there, `io.netty.handler.codec.http.cookie.CookieEncoder#validateCookie` is doing what we could use for decoder. The test that would reproduce what we are doing:

[code]

It will throw exception in netty-4.0.29.Final, newer versions have a validation in
We generally were using validation in `io.netty.handler.c

[2017-05-10 14:39] slandelle commented on #6730
Can't you just use the information that the expected cookie is missing?

[2017-05-10 14:45] alobodzki commented on #6730
Our app is doing proxying, we don't know which cookie is required and which one is optional.

[2017-05-10 23:00] yusuftor opened #6732 "Stack Overflow issue"
I'm using netty-tcnative in spring boot to work with a framework called [Pushy](https://github.com/relayrides/pushy). For some reason when I run this on my server it produces a stack overflow. I initially filed a bug report with Pushy, but they said it's likely to either be an issue with netty or spring boot, and suggested I file a bug report here. My bug report over there can be found [here](http

[2017-05-11 12:37] rkapsi commented on #6687
:+1: make sense. Closing this ticket.

[2017-05-11 12:37] #6687 closed

[2017-05-12 07:32] maseev commented on #6714
This ticket is probably related to this one - #2381. Not sure if this related, but it appears that Java-Thread-Affinity library has some issues working on some RedHat versions of Linux according to this [ticket](https://github.com/OpenHFT/Java-Thread-Affinity/issues/10).

[2017-05-12 08:25] songxin1990 commented on #3534
Ask a question,which version Netty will support lambda expression?

[2017-05-12 08:36] trustin opened #6736 "Incorrect UnixResolverDnsServerAddressStreamProvider"
### Minimal yet complete reproducer code (or URL to code)

[code]

### Expected behavior

`UnixResolverDnsServerAddressStreamProvider.nameServerAddressStream()` should not return `null`.

The expected behavior of `DnsNameResolver` is to try `somehost.` and then `somehost.linecorp.local.`

### Actual behavior

Attempting to resolve a host will trigger a NPE:

[code]
### Netty version

4.1.11

### W

[2017-05-12 08:49] normanmaurer commented on #6736
@trustin can you submit a pr with a fix ?

[2017-05-12 08:52] trustin commented on #6736
Can't promise it at the moment because of busyness... 😢

[2017-05-12 11:40] kghost opened #6737 "Support DGRAM unix domain socket"
Currently only STREAM unix domian socket is supported, it would better to support DGRAM unix domain socket.

[2017-05-12 11:52] normanmaurer commented on #6737
@kghost we love contribution.s

[2017-05-12 12:20] kghost commented on #6737
Looking into it

[2017-05-12 13:00] wilkinsona opened #6738 "Missing netty-transport-native-* entries in the bom can lead to mismatched versions"
### Expected behavior

Netty's bom provides dependency management for all of Netty's modules, thereby ensuring that a consistent version is used.

### Actual behavior

Netty's bom does not include dependency management for:

- `netty-transport-native-epoll`
- `netty-transport-native-kqueue`
- `netty-transport-native-unix-common`

This can lead to mismatched version of Netty's modules when using th

[2017-05-12 13:29] rkapsi opened #6739 "Handle missing version in HTTP request line (a.k.a HTTP/0.9)"
I don't know if it's worth pursuing but I came yesterday across a network appliance that seemed to perform malformed HTTP based health checks against our Netty application.

The HTTP requests looked like this `GET /\r\n` without the version and [HttpVersion line 63](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpVersion.java#L63) was throwing Excep

[2017-05-12 13:38] normanmaurer commented on #6739
Oh my.... let me see if we can easily fix this 😂

[2017-05-12 22:04] normanmaurer commented on #6738
@wilkinsona PTAL https://github.com/netty/netty/pull/6740

[2017-05-13 01:04] jhrussell opened #6741 "kqueue bootstrap 'Failed to set channel option 'IP_TOS'' (4.1.11.Final)"
Running into an error trying to set IP_TOS while using the new kqueue native transport.  This works for both NIO and EPOLL transports.  And by works, I mean at the very least it doesn't throw any errors.

### Expected behavior
No errors.  Perhaps even setting channel option IP_TOS.

### Actual behavior
Warning/exception thrown.  The channel appears to be bootstrapped okay otherwise.

### Steps to

[2017-05-13 03:39] zaneLou opened #6742 "Support Protocol Buffers v3.x.x?"
hi, I found netty support protocol buf 2.6.1 version . how about v3.x.x?

[2017-05-13 06:12] normanmaurer commented on #6741
Will check... thanks for reporting

[2017-05-13 13:47] cdancy opened #6743 "Windows named pipe support?"
Thought I seen work surrounding this but can't seem to find anything.

[2017-05-13 16:43] normanmaurer commented on #6743
There is currently no support and As far as I know no one is working on it.

[2017-05-13 16:43] #6743 closed

[2017-05-15 18:43] croudet opened #6745 "QueryStringDecoder does not decode correctly path part with '+' (plus) sign in it"
### Expected behavior
'+' is a valid char for path part of URI, it should not be replaced by space.

### Actual behavior

'+' is replaced with space.

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version
 4.1.11
### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)
Any

[2017-05-15 19:10] fenik17 commented on #6745
See https://www.w3.org/TR/html401/interact/forms.html#h-17.13.4.1

And [Javadoc for QueryStringDecoder](https://github.com/netty/netty/blob/d675febf07d14d4dff82471829f974369705655a/codec-http/src/main/java/io/netty/handler/codec/http/QueryStringDecoder.java#L44) says that:

[2017-05-15 19:21] croudet commented on #6745
I am talking about the path part of an URL.
See grammar in  https://www.w3.org/Addressing/URL/url-spec.txt

[code]

[2017-05-15 19:23] fenik17 commented on #6730
hm.. A logic based on exception handling mostly works slowly. Why not just check for null?
[code]

[2017-05-15 19:39] fenik17 commented on #6745
@croudet yes, you are right. It's a bug..