[2020-02-14 08:57] normanmaurer commented on #10029
No it does not...

[2020-02-14 08:57] #10029 closed

[2020-02-14 09:03] normanmaurer commented on #10025
@hyperxpro not sure if it is really needed. Maybe just add another constructor ?

[2020-02-14 10:47] normanmaurer commented on #8161
@slandelle an extra field to `DefaultCookie` should be fine imho...

[2020-02-14 10:58] slandelle commented on #8161
Cool.
On vacation atm, will come up with a PR next week, except if someone is in a hurry and want to give it a shot.

[2020-02-15 17:04] kyze8439690 commented on #2693
I have meet this issue, I try to disable AUTO_READ, and manually trigger read() operation by my self, and this issue disappear, Java heap memory consumption is quite stable.

[2020-02-15 17:59] calvinit opened #10032 "JDK 11 & Netty 4.1.45: PlatformDependent0$6 cannot access class jdk.internal.misc.Unsafe (in module java.base) because module java.base does not export jdk.internal.misc to unnamed module..."
### Expected behavior
Startup normally, not throws an exception (debug level).

### Actual behavior
Startup throws an exception (debug level).

### Steps to reproduce
Startup throws an exception (debug level).

### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version:
4.1.45.Final

### JVM version (e.g. `java -version`)
java version "11.0.6" 2020-01-14 LTS
Java(TM) SE Run

[2020-02-15 23:00] johnou commented on #10032
Set the log level for io.netty to warn or info.

[2020-02-16 10:15] kyze8439690 opened #10034 "Additional DNS Record decode failed"
### Netty version
4.1.45.Final
### JVM version (e.g. `java -version`)
Java1.8
### OS version (e.g. `uname -a`)
Android 9.0

I am running `dig www.baidu.com` command on Termux(which is a terminal app on android platform), and use `DefaultDnsRecordDecoder` to decode it, and it will fail when name is `.`. Throw exception like below:

[code]

And I captured to dns query packet using wireshark, which c

[2020-02-16 23:55] partheinstein commented on #9768
I tried setting `-Dio.netty.allocator.numHeapArenas=0` but it doesn't seem to work, probably because of [this](https://github.com/netty/netty/blob/07149729cc4c629200a0ca8f8e63f54ee05601c8/buffer/src/main/java/io/netty/buffer/PooledByteBufAllocator.java#L100) (number of chunks cannot be zero).

[code]

[code]

The retained size remained the same despite the JVM property.

However setting channel's

[2020-02-17 05:09] ssennath92 commented on #9866
I am getting 400 bad request on giving invalid fold.

[2020-02-17 05:11] ssennath92 commented on #9866
Can HTTP smuggling be solved by disabling the reuse of back-end connections

[2020-02-17 05:11] ssennath92 commented on #9866
Can HTTP request smuggling be solved by disabling the reuse of back-end connections

[2020-02-17 06:47] rushsky518 opened #10035 "question about ChannelOutboundBuffer"
ChannelOutboundBuffer#addMessage may be called in multi threads. And there is no sync mechanism.

[2020-02-17 08:24] normanmaurer commented on #10035
@rushsky518 this method is only ever called from the `EventLoop` which means there is no concurrent access

[2020-02-17 08:24] #10035 closed

[2020-02-17 08:29] jano7 commented on #5201
@gopal229 Could you provide a code snippet?

[2020-02-17 08:37] gopal229 commented on #5201
@jano7  Here is the code change.  Just remove the HttpClientCodec and add HttpResonseDecoder, HttpRequestEncoder to the channel pipeline
-        channelPipeline.addLast("http", new HttpClientCodec());
+        channelPipeline.addLast("decoder", new HttpResponseDecoder());
+        channelPipeline.addLast("encoder", new HttpRequestEncoder());

[2020-02-17 09:12] Joker1995 opened #10036 "Where is the defined method called "mask" in AbstractChannelHandlerContext?"
Question:
The  AbstractChannelHandlerContext is a abstract class,and it don't has the method called "mask" inside,and it don't has a decleared superclass.But it used a method called "mask" in its constructor.
Is that something wrong?
[code]
Maybe there should be "ChannelHandlerMask.mask(xxx)"

Netty Version:4.1.44.Final-SNAPSHOT

[2020-02-17 09:14] normanmaurer commented on #10036
mask(...) is a static import

[2020-02-17 09:14] #10036 closed

[2020-02-17 09:56] zairi-mohamed commented on #9882
We have the same issue using spring-boot-starter-reactor-netty 2.2.4.RELEASE.
However, it occurs only on large data fetch.
Do you have any idea about next release date of a bug free version ?

[2020-02-17 10:40] normanmaurer commented on #10032
@calvinit thats just a debug log and gives you the details on why an optimisation can not be applied. That said netty itself will function as designed anyway.

[2020-02-17 10:40] #10032 closed

[2020-02-17 10:47] normanmaurer commented on #10034
@kyze8439690 this looks like an android bug as in OpenJDK 8 it is correctly handled:

https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/master/jdk/src/share/classes/java/net/IDN.java#L116
https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/master/jdk/src/share/classes/java/net/IDN.java#L442
https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/master/jdk/src/share/classes/java/net/IDN.java#L450

That

[2020-02-17 11:19] dvlato commented on #8161
Hi,  as per @normanmaurer comment in  https://github.com/HotelsDotCom/styx/pull/607#issuecomment-586278932,  I have pushed some changes into my fork with the same kind of fix we added for the SameSite attribute.

Our changes to netty did not include any checks regarding whether the value of SameSite attribute is valid or not (so not checking anywhere if it is equal to Lax | Strict | None) as it se

[2020-02-17 12:32] normanmaurer commented on #10034
Yep this is a bug in android 9:

https://android.googlesource.com/platform/libcore/+/refs/tags/android-9.0.0_r53/ojluni/src/main/java/java/net/IDN.java#109

But was fixed in android 10:

https://android.googlesource.com/platform/libcore/+/refs/tags/android-10.0.0_r29/ojluni/src/main/java/java/net/IDN.java#109

[2020-02-17 13:25] normanmaurer commented on #10034
For a workaround see https://github.com/netty/netty/pull/10039

[2020-02-17 13:29] kyze8439690 commented on #10034
Thank you so much, I will look into it

[2020-02-17 18:53] normanmaurer commented on #10026
@creamsoup @njhill any takers ?

[2020-02-17 23:40] karolsteve commented on #9784
I get the same issue. this is my decoder. please need help @normanmaurer
[code]

[2020-02-18 04:46] carl-mastrangelo opened #10041 "TLSv1.3 can fail with HTTP/2 and Session Tickets Enabled"
### Netty version
4.1.45 + TCNative 2.0.28

### JVM version (e.g. `java -version`)
Java 1.8

### OS version (e.g. `uname -a`)
Linux / Mac

### Repro

The steps to reproduce this are fairly difficult, and I don't know enough of the OpenSSL API, but I can give the manual steps I took to get here.  Netflix is trying to enable TLSv1.3 on some of its servers, but it results in some corrupted SSL connec

[2020-02-18 06:01] ali-bagheri opened #10042 "OutOfMemoryError: Java heap space"
### Netty version
4.1.44

### JVM version
10

### OS version
Ubuntu 18

Hi, I use netty for chat server. after 8 to 9 hours work, my server crash.

Received message:

io.netty.bootstrap.ServerBootstrap$ServerBootstrapAcceptor forceClose
WARNING: Failed to register an accepted channel: [FAILED toString()]
java.lang.OutOfMemoryError: Java heap space

[2020-02-18 08:18] amizurov commented on #10042
@ali-bagheri , Hi could you please provide more details, currently I'm only see that server cannot accepts new connection because not enough memory.

[2020-02-18 09:38] ali-bagheri commented on #10042
Tanks. I am sorry, I have not time for that. I must migrate to another library/framework. :(

[2020-02-18 09:38] #10042 closed

[2020-02-18 11:34] limited107 opened #10043 "In Connection Provider Document, Different Fields Has Same Description (DEFAULT_POOL_MAX_CONNECTIONS and DEFAULT_POOL_ACQUIRE_TIMEOUT)"
I wonder two different fields has same description.
https://projectreactor.io/docs/netty/release/api/reactor/netty/resources/ConnectionProvider.html

### Expected behavior

They have same description as below.
 if -1 will never wait to acquire before opening a new connection in an unbounded fashion.

### Actual behavior

DEFAULT_POOL_MAX_CONNECTIONS
[code]

DEFAULT_POOL_ACQUIRE_TIMEOUT
[code]

###

[2020-02-18 11:55] #10043 closed

[2020-02-18 12:27] hyperxpro commented on #10025
I will do a pull request soon.

[2020-02-18 12:27] #10025 closed

[2020-02-18 14:05] #10034 closed

[2020-02-18 14:17] normanmaurer commented on #10041
@carl-mastrangelo thanks a lot of the detailed description... I will look into it.

[2020-02-18 15:18] kyze8439690 opened #10045 "NetworkInterface.getByInetAddress() return null on Android platform"
### Netty version
4.1.45.Final
### JVM version (e.g. `java -version`)
Java1.8
### OS version (e.g. `uname -a`)
Android 9.0

Exception stack:
[code]

Info: According to Android official document, `NetworkInterface.getByInetAddress()` may return null if there is no network interface with the specified IP address.

https://developer.android.com/reference/java/net/NetworkInterface.html#getByInetAddres

[2020-02-18 15:33] normanmaurer commented on #10045
I am a bit confused as this is calling `NetworkInterface.getInetAddresses()` which should `never` return `null`. What I am missing ?

[2020-02-18 15:34] normanmaurer commented on #10045
I mean we can add an extra null check but I am not sure why this would happen in the first place.

[2020-02-18 15:55] normanmaurer commented on #10041
@carl-mastrangelo is this netty-tcnative-boringssl-static ?

[2020-02-18 16:07] carl-mastrangelo commented on #10041
@normanmaurer yes.  I haven't tried with the dynamic artifacts.

[2020-02-18 16:11] getsurfboard commented on #10045
I don't know the cause of this crash either. This is a small crash of an online app. I can not reproduce it. Maybe it is asynchronous issue? BTW, according to JDK document, `NetworkInterface.getInetAddresses()` may return null too.

https://docs.oracle.com/javase/8/docs/api/java/net/NetworkInterface.html#getByInetAddress-java.net.InetAddress-

[2020-02-18 16:12] normanmaurer commented on #10045
@getsurfboard nope it does not... you linked to the wrong Javadoc:

https://docs.oracle.com/javase/8/docs/api/java/net/NetworkInterface.html#getInetAddresses--

[2020-02-18 16:16] normanmaurer commented on #10041
@carl-mastrangelo ok cool... Thanks for verifying...

@davidben we use `SSL_max_seal_overhead` to calculate the maximal overhead for encrypting. Does this not include what is needed for the session tickets here ? Or do we need to add some extra call ?

[2020-02-18 16:24] kyze8439690 commented on #10045
Sorry, my bad. I think it is an android-specific issue, until now the crash rate is not very high. I will pay attention to it.  Thanks.

[2020-02-18 16:25] normanmaurer commented on #10045
I mean its not a big deal to add a null check but even after looking at the source I can not see why it may return null :/

[2020-02-18 16:46] kyze8439690 commented on #10045
The world of Android is very fragmented and it is not surprising to find any inconsistencies 😄

[2020-02-18 17:58] Bennett-Lynch opened #10046 "[Netty 4] Unable to decorate EventLoop or Channel to inject ThreadLocal context"
I would like to be able to decorate the behavior of either `EventLoop`, `Channel`, or `ChannelPipeline` so that I can inject `ThreadLocal`-specific context when an `EventLoop` switches to servicing a new `Channel`.

For example, Log4j2 has the concept of a [`ThreadContext`](https://logging.apache.org/log4j/2.x/manual/thread-context.html) (aka "MDC"), which is a `ThreadLocal<>` `Stack` or `Map` tha

[2020-02-19 03:17] davidben commented on #10041
Ah yeah, we should probably be incorporating any of the pending handshake bytes into that. I didn't get to looking at this today, but I'll poke at it tomorrow. (Mostly I need to check whether anything else uses `SSL_max_seal_overhead` and would want the current behavior.)

Note this will mean that `SSL_max_seal_overhead` will change over the course of the connection, depending on what random incid

[2020-02-19 03:19] davidben commented on #10041
(This probably changed for you because we used to send NewSessionTicket during the server handshake, but now we defer it to the next `SSL_write`. Depending on the sizes of tickets, sizes of transport buffers, and exact I/O patterns, sending it eagerly could result in deadlocks or spurious TCP resets and we wanted to surprising behaviors or random cliffs like that.)

[2020-02-19 05:41] normanmaurer commented on #10041
@davidben yes this would be fine :) please ping me once you have a fix and I will see how we can adopt it. Unfortunately we tracking the chromium-stable branch so it may take some time before we can use it :(

[2020-02-19 07:23] ratcashdev commented on #1461
@normanmaurer looking at safeDuplicate and the write methods on the ChannelGroup.
If the initial/original object is a kind of buffer, shouldn't we release it after sending to the whole group? Becuase, afaik we only release the duplicates inside the `send()`

[2020-02-19 17:58] Hardeolar19 commented on #10021
To write to and read data from the input channel, we can use Java classes Scanner or BufferReader. Both allows for the ability to read user input from the command line.

[2020-02-19 18:17] carl-mastrangelo commented on #10041
@davidben It looks like `SSL_write` is designed to return -1 when the buffer is not big enough.   I think there is *another* bug here, because a subsequent write seems to lose bytes.

Put another way, It seems like the code is design to handle this case, but isn't.

[2020-02-19 19:03] davidben commented on #10041
Netty does a number of odd things with assumptions about write overheads in order to implement the SSLEngine API, which is probably where the dropping of data comes from.

(Really the API Netty wants isn't SSL_write or BIOs in the first place but alas we've yet to have the time to build the BIO-less API.)

[2020-02-19 19:04] davidben commented on #10041
(We quite extensibly test things assuming a single-byte write buffer so it would be quite surprising if data was getting dropped in BoringSSL.)

[2020-02-19 23:33] carl-mastrangelo commented on #10041
If that's the case, this issue is 2 bugs:

1.  Netty is calling SSL methods out of order, resulting in some dropped bytes.
2. BoringSSL needs to return the ticket-adjusted size for SSL_max_seal_overhead.

Fixing the BoringSSL issue will mask the first one.

[2020-02-20 09:22] Mahendra-9 opened #10047 "RTSP response (DefaultHttpResponse) with RTSP decoder doesn't read SDP values"
### Expected behavior
When DESCRIBE RTSP request is sent the response has headers and SDP values. As per RTSP specification below is an example

C->S: DESCRIBE rtsp://example.com/media.mp4 RTSP/1.0
      CSeq: 2

S->C: RTSP/1.0 200 OK
      CSeq: 2
      Content-Base: rtsp://example.com/media.mp4
      Content-Type: application/sdp
      Content-Length: 460

      m=video 0 RTP/AVP 96
      a=cont

[2020-02-20 10:45] kiranmaiem commented on #10015
@normanmaurer  , We are also waiting for this fix, Can you please share the tentative date for 4.1.46 Final Release?

[2020-02-21 03:25] Matrix6677 opened #10049 "boostrap connect metting ClosedChannelException in multi-thread, but well in single-thread"
### Expected behavior
boostrap connect can work in multi-thread.
### Actual behavior
got `ClosedChannelException` from `future.cause()` after invoking `bootstrap.connect` in multi-thread, but it can work well in single thread. i check my code carefully, there is no any man-made `channel.close` or `ctx.close` calling.
### Steps to reproduce
#### 1. junit test
[code]
#### 2. test result

if i remove

[2020-02-21 04:08] #10049 closed

[2020-02-21 11:33] CremboC opened #10051 "Failure to run a service that uses a Netty library having built it with Graal native-image"
### Expected behavior
Ability to build and run a service using Netty with GraalVM [native-image](https://www.graalvm.org/docs/reference-manual/native-image/).

### Actual behavior
It seems like Netty already has some support for GraalVM, but there still some issues. I can't find any reference to this error below, so maybe I'm doing something wrong! Any ideas would be greatly appreciated.

Failure

[2020-02-21 19:15] carl-mastrangelo commented on #10041
cc: @ kyagna

[2020-02-21 19:43] moderakh opened #10052 "Client side connections share source port even when SO_REUSEPORT is not configured"
### Expected behavior
Client side connections shouldn't share the same source port when `SO_REUSEPORT` is not explicitly set.

### Actual behavior

We have a client side TCP based protocol implemented using netty 4.1.45.Final.
running the application on "Linux 5.0.0-1032-azure #34-Ubuntu SMP Mon Feb 10 19:37:25 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux"

We are not setting `SO_REUSEPORT` explicitly.

[2020-02-22 01:58] JLLeitschuh commented on #9861
Is there any plan to backport this to 3.x? There are certain libraries still out there coupled to the 3.x package naming structure so if this fix isn't backported, they will be forever vulnerable.

[2020-02-23 08:23] hyperxpro commented on #10041
I know this my question is out the frame but I couldn't find any answer of it.

How to enable Session Tickets?

[2020-02-23 16:51] hyperxpro opened #10054 "How to make sure Netty Zero-Copy is working?"
I am working on a TCP/UDP Load Balancer and I want zero-copy support for it because the Load Balancer will receive data and just forward it to the backend servers.

I want to make sure Netty is using its zero-copy feature but not sure how to check it. Is there any way?

### Netty version
4.1.45.Final

### JVM version (e.g. `java -version`)
11.0.5

### OS version (e.g. `uname -a`)
CentOS 8

[2020-02-23 20:50] jchambers commented on #5432
@Scottmitch Several years and several projects later, I do have a suggestion.

The pattern I find myself settling on more and more is attaching a "channel ready" promise to channels as an attribute via a custom `ChannelFactory` and then having listeners at varying stages of the pipeline `tryFail` when something goes wrong and a final step that does `trySuccess` after everything is done.

It seems

[2020-02-24 05:02] kiranmaiem commented on #10015
Hi @normanmaurer , Can you please share the tentative release date for 4.1.46. We have a product release this week and we are dependent on this fix.

[2020-02-24 08:22] normanmaurer commented on #10015
@kiranmaiem this week.

[2020-02-24 09:13] normanmaurer commented on #9861
@JLLeitschuh sorry but no backport will be done ... netty 3.x is EOL for many years and if projects did not update yet they may have a reason to do now.

[2020-02-24 09:26] normanmaurer commented on #10041
@hyperxpro https://github.com/netty/netty/blob/netty-4.1.45.Final/handler/src/main/java/io/netty/handler/ssl/OpenSslSessionContext.java#L98

[2020-02-24 14:08] normanmaurer commented on #10052
@moderakh netty itself does not do anything here if you dont specify it. This means whatever you see here is the default behaviour of the OS / Kernel you are running.

[2020-02-24 14:08] #10052 closed

[2020-02-24 14:08] normanmaurer commented on #10045
@kyze8439690 let me just add a null check... It doesn't hurt us and if it helps you it can't hurt either :)

[2020-02-24 14:11] kyze8439690 commented on #10045
Thanks, I appreciate it

[2020-02-24 14:14] normanmaurer commented on #10041
@davidben is there a "maximum" number of bytes per SessionTicket that we can reserve here ?

[2020-02-24 14:23] normanmaurer commented on #10045
@kyze8439690 see https://github.com/netty/netty/pull/10056

[2020-02-24 14:33] Lukasa commented on #10041
I think reserving a maximum number of bytes here is unwise. The problem that has to be addressed is that Netty is assuming a behaviour from BoringSSL that doesn't match what it actually does.

Netty seems to be assuming that `SSL_write` will write only the TLS record encapsulating the application data, and nothing else. Based on what @davidben has said above, that's not true: it will _also_ potent

[2020-02-24 18:22] normanmaurer commented on #10041
@Lukasa @davidben I think the "real problem" is that for whatever reason we seem to "loose" data. Netty should just try to expand the buffer if it not fits in and try again. But something is not working as expected here in this case :/

[2020-02-24 19:03] moderakh commented on #10052
@normanmaurer I tested this on vanilla Ubuntu as well (without azure customization):
Linux parallels-Parallels-Virtual-Platform 4.15.0-88-generic #88-Ubuntu SMP Tue Feb 11 20:11:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
same behaviour, source port is reused without explicitly setting SO_REUSEPORT..

I don't find any documentation on this behaviour to be default for Ubuntu. Any idea which Linux di

[2020-02-24 19:20] JLLeitschuh opened #10059 "[SECURITY] I Keep Finding Netty HTTP Request/Response Splitting Vulnerabilities in OSS"
Hi Netty Team,

I've recently been doing security research directly focused on HTTP Response Splitting vulnerabilities due to a misuse of Netty by disabling header validation by passing `false` to any of these constructors:

 - [DefaultFullHttpResponse](https://netty.io/4.0/api/io/netty/handler/codec/http/DefaultFullHttpResponse.html#DefaultFullHttpResponse-io.netty.handler.codec.http.HttpVersion-

[2020-02-24 19:42] ninja- commented on #10059
that would be my bet, people don't want to use CPU time for validating everything when they control other backend services that could supply the "bad" data

maybe doing a benchmark with and without verification disabled could be a good way to start?

[2020-02-24 19:56] Bennett-Lynch commented on #10059
I think one of the primary reasons that some users/applications may choose to disable `validateHeaders` is the extremely binary nature of it. It's either on or off, and it brings a plethora of validation that may be scary to introduce to a production environment. (Request desync'ing should be even more scary, of course, but that may not be an obvious risk to some users.)

For example, maybe I don'

[2020-02-25 08:34] #10045 closed

[2020-02-25 13:01] vibin22 commented on #9930
Thanks for the response.

[2020-02-25 13:01] #9930 closed

[2020-02-25 15:13] zhenjunMa commented on #10054
In my opinion, `zero-copy` is only used in file transfer.
i think you just need a proxy that send whatever it received,  you can get `ByteBuf` by the client channel and just write this buf to server.

[2020-02-25 20:06] normanmaurer commented on #10041
@carl-mastrangelo ok good news is that I can reproduce it... Now the **fun** begins. Will keep you posted .

[2020-02-25 20:15] hyperxpro commented on #10054
File Transfer? How?

[2020-02-25 20:16] hyperxpro commented on #10054
Aren't Zero-Copy for Data Packets?

[2020-02-25 20:33] hyperxpro commented on #10054
I am targeting 'Kernel Bypass' with Zero-Copy of Netty.

[2020-02-26 01:03] zhenjunMa commented on #10054
yes, i know your case, but i don't think you can achieve the goal by netty
or i just don't know this feature in netty.

[2020-02-26 09:29] hyperxpro commented on #10054
@normanmaurer You've any idea about Kernel Bypass Zero-Copy in Netty?

[2020-02-26 10:04] normanmaurer commented on #10054
We dont support user-space tcp stack in netty. We will support io_uring tho in the future for sure.

[2020-02-26 12:20] hyperxpro commented on #10054
Cool! So io_uring coming in Netty 5?

[2020-02-26 13:40] normanmaurer commented on #10041
@davidben @Lukasa @carl-mastrangelo ok update here... it is a netty bug and I have a fix ready, just working on a unit test now. So no surprise here, BoringSSL works as expected :)

[2020-02-26 15:06] normanmaurer commented on #10041
Fixed by https://github.com/netty/netty/pull/10063 ...

[2020-02-27 07:49] #10041 closed

[2020-02-27 07:52] normanmaurer commented on #10041
@davidben we fixed a bug in netty that solves the problem for us but I would still be interested to hear if you have any plans to adjust `SSL_max_seal_overhead` to include the tickets etc.

[2020-02-27 09:56] kiranmaiem commented on #10015
@normanmaurer , any tentative date for the release? We want to release our software with netty 4.1.46 version.

[2020-02-27 10:15] normanmaurer commented on #10015
Tomorrow or monday

[2020-02-27 10:17] kiranmaiem commented on #10015
thanks

[2020-02-27 16:15] carl-mastrangelo commented on #10041
@normanmaurer thanks!

[2020-02-27 18:33] rhenwood-arm opened #10064 "Multi-platform and Project Panama"
Hi Folks,

I've talking to @dwhite-marvell who cares about cross platform Java and shared the details of Project Panama:
https://openjdk.java.net/projects/panama/

I recognize that this project has plenty in the backlog already, but I wanted to connect these two items (netty, with it's multi-platform native implementation and Panama, an initiative to build a better native interface) as this is a l

[2020-02-27 20:13] gromovadarya90 opened #10065 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:39] normanmaurer commented on #10026
Here we go https://github.com/netty/netty/pull/10066

[2020-02-28 06:06] #10026 closed

[2020-02-29 06:30] atcurtis opened #10067 "HttpContentCompressor doesn't work when put on an alternate EventExecutor"
### Expected behavior

The following isn't expected to mangle or lose the response content:

    pipeline.addLast(eventExecutor, new HttpContentCompressor());

### Actual behavior

The content may be mangled or completely lost.

### Steps to reproduce

`                        .addLast(compressorGroup, new HttpContentCompressor())`

### Minimal yet complete reproducer code (or URL to code)

https:

[2020-02-29 18:30] djelinski opened #10070 "AssertionError in ScheduledFutureTask"
[code]
Happens relatively frequently ever since we upgraded our application from 4.1.42 to 4.1.45. This is caused by JVM returning the same nanoTime value on consecutive calls. In debugger I found that value returned by nanoTime was exactly equal to deadlineNanos.

Fix is pretty simple: change the check in ScheduledFutureTask.java:112 or the one in AbstractScheduledEventExecutor.java:130 so they a

[2020-02-29 20:30] normanmaurer commented on #10070
@djelinski interested in doing a PR ?

[2020-03-01 15:53] bryce-anderson opened #10072 "AbstractHttp2StreamChannel fails to flush window update under certain read patterns"
### Expected behavior

Window updates get flushed by `AbstractHttp2StreamChannel`.

### Actual behavior

Under certain conditions that doesn't happen.

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
I have a test case that is really ugly and should probably be condensed but it illustrates the issue. I've annotated it with values observed with a debugger during it

[2020-03-02 00:52] bryce-anderson commented on #10072
And I'm happy to work on a patch once I get a 👍 that someone else agrees this is a problem.

[2020-03-02 07:48] normanmaurer commented on #10072
@bryce-anderson yes this sounds like a bug.

[2020-03-02 07:49] normanmaurer commented on #10072
so yep please work on a fix @bryce-anderson :)

[2020-03-02 14:02] normanmaurer commented on #10051
please ensure you use the latest netty release and re-open if you still see issues.

[2020-03-02 14:03] normanmaurer commented on #9884
@ejona86 ^^any update ?

[2020-03-02 15:00] slandelle commented on #9884
We're most likely the only one to do that (load testing) :P

[2020-03-02 22:00] fzakaria opened #10076 "Offer mechanism to select most appropriate transport (native)"
A common pattern I've seen across many libraries using Netty is to select the "best" EventLoop; where an attempt to use the native EventLoop transport is available.

[code]

It might be good to offer these factories as part of netty-transport

[2020-03-03 09:42] #10067 closed

[2020-03-03 10:33] carl-mastrangelo opened #10078 "Clarify Docs on handlerRemoved"
In the latest master branch, PR https://github.com/netty/netty/pull/9970 updates channel handlers to not be able to interact with the pipeline via the removed context.  The docs for this seem to indicate that upon getting this event, the context can't be used any more:

[code]

However, it seems that this is not correct, as the context can be used while in the process of removal.   In `DefaultChan

[2020-03-03 10:37] dbolkensteyn commented on #6096
Yet another use case: Running Netty through gRPC in a container, I would expect the process to end and thus allow the container to automatically restart upon `java.lang.OutOfMemory` errors, however it remained stuck instead:

[code]

[2020-03-03 11:17] normanmaurer commented on #10078
@carl-mastrangelo so I understand you correct that we should update the docs to clarify the context can still be used within the method but not after the method returns ?

[2020-03-03 12:06] johnou commented on #6096
I don't think your expectations are realistic, instead you may intercept the OOM exception and attempt to shutdown your application by implementing exceptionCaught.

[2020-03-03 13:34] #10070 closed

[2020-03-03 19:27] carl-mastrangelo commented on #10078
@normanmaurer yes.   As it stands, the docs on the method imply that the context has been removed, which is not the case.  I think it's reasonable to say that the ctx cannot be used after handlerRemoved has returned.

One other clarification: is it allowed to add a handler with the same name within a handlerRemoved() call?

[2020-03-04 00:37] Bennett-Lynch commented on #10076
Agree with the motivation, but one thing to consider here is that it may be dangerous for some use cases to fall-back onto something like `NioEventLoopGroup`. Some use cases may prefer to fail outright if one of the preferred native transports could not be found. So we may want to consider offering some type of "require native transport" form, possibly in addition to some type of "get me the best

[2020-03-04 00:53] njhill commented on #10076
See #9764, #6873, #7302, #8901 :-)

[2020-03-04 09:32] karthik-dusk opened #10083 "The App uses an insecure Random Number Generator."
### Expected behavior

MobSF should not report any issue saying that, these below classes are using insecure-random-number-generator.

io\netty\handler\ssl\util\ThreadLocalInsecureRandom.java
io\netty\util\internal\PlatformDependent.java
io\netty\util\internal\ThreadLocalRandom.java

### Actual behavior
MobSF is reporting any issue saying that, these below classes are using insecure-random-number-

[2020-03-04 09:36] slandelle commented on #10083
That's a MobSF issue that reports a false positive, not a Netty one.

[2020-03-04 09:50] #10072 closed

[2020-03-04 09:55] karthik-dusk commented on #10083
Aah ..! This MobSF is freaking me out.
Thank you Landelle.

[2020-03-04 11:48] dbolkensteyn commented on #6096
Thank you for the tip @johnou !

I've done some further testing and indeed most of the time the application can recover successfully in the presence of out of memory errors, and so it getting stuck seems to be the exception rather than the rule. This observation is consistent with related StackOverflow discussions [1](https://stackoverflow.com/questions/3058198/can-the-jvm-recover-from-an-outofmem

[2020-03-05 10:55] zlm0125 opened #10087 "IllegalCharsetNameException when decode FILENAME_ENCODED in HttpPostMultipartRequestDecoder"
Motivation:

     I am receiving a mutlipart/form_data upload from postman. The filename contains Chinese. Like this:
`
----------------------------010035469288815278521975
Content-Disposition: form-data; name="filename1"; filename="空.txt"; filename*="UTF-8''%E7%A9%BA.txt"
Content-Type: text/plain

----------------------------010035469288815278521975--
`
But when get the InterfaceHttpData with Htt

[2020-03-05 10:59] normanmaurer commented on #10087
@zlm0125 can you please provide a PR with a fix and unit test ? That would be perfect :)

[2020-03-05 11:16] zlm0125 commented on #10087
ok, I will provide a PR and some UT. I expect to resolve soon.

[2020-03-05 17:25] rustberry opened #10088 "GSoC 2020 Proposal"
Hello everyone! This is Zejin Xu from Beijing China, finishing 4th year at China University of Mining and Technology as an undergraduate.

I read the book *Netty in Action* last year and learned to utilize Netty as the underlying transport for my [tiny RPC framework](https://github.com/rustberry/berry-rpc), which helped me get my internship. It is exciting to see Netty in this year’s GSoC. When I

[2020-03-06 07:47] karthik-dusk opened #10090 "MD5 is a weak hash known to have hash collisions - Reported by MobSF"
### Expected behavior
MobSF should not report this issue that, "MD5 is a weak hash known to have hash collisions."

### Actual behavior
MobSF is reporting this issue that, "MD5 is a weak hash known to have hash collisions."
![Capture](https://user-images.githubusercontent.com/5618488/76063009-d0c7f380-5fac-11ea-88c8-24f2e02d94c2.PNG)

### Steps to reproduce
Include Netty library in any android pro

[2020-03-06 07:58] slandelle commented on #10090
False positive again. WebSocket spec requires MD5 usage here. Not used for crypto.

[2020-03-06 08:04] karthik-dusk commented on #10090
Thank you for the response Landelle.

[2020-03-06 08:04] #10090 closed

[2020-03-06 09:34] #10087 closed

[2020-03-06 10:02] #10054 closed

[2020-03-06 10:03] normanmaurer commented on #10046
@Bennett-Lynch at some point I tried to allow this kind of things with netty 4.1 but failed. If you can come up with something that works I am happy to review.

[2020-03-06 11:33] normanmaurer commented on #10076
@njhill @Bennett-Lynch @fzakaria PTAL https://github.com/netty/netty/pull/10091

[2020-03-06 22:45] ntherrien commented on #8008
@normanmaurer, about what you said about the connectFuture being notified before the handler's channelActive, could you explain why it is the case? I wrote code thinking the "completed" future would be the very last thing to be notified (ie: can start sending stuff right away via handlers) but I can see the handlers are not yet ready to start sending because they haven't been activated yet...

[2020-03-07 13:56] tlunter commented on #8530
@slandelle Chrome is now rolling out the change to cookies with regards to SameSite changing from defaulting to `None` to defaulting to `Lax`. I can understand cookies of the same name potentially being backwards incompatible, but how is parsing the cookie structure to include SameSite or not backwards incompatible? The changes to the encoder/decoder seem like they should be minimal to have an add

[2020-03-07 14:08] slandelle commented on #8530
@tlunter see #10050

[2020-03-08 13:59] normanmaurer commented on #8008
@ntherrien this was done to give the user a chance to for example add handlers to the pipeline in the connect future listener and still receive the `channelActive` event.

[2020-03-10 12:42] FTTF-git opened #10096 "What is the actual effect of SelectorTuple and SelectedSelectionKeySetSelector ?"
After https://github.com/netty/netty/issues/2363 fixed, What is the actual effect of SelectorTuple and SelectedSelectionKeySetSelector ?

[2020-03-10 14:20] #10096 closed

[2020-03-10 14:36] paulo-maia commented on #7220
Still getting this error with version 4.1.45.Final...

[2020-03-10 15:37] kshchepanovskyi opened #10098 "LengthFieldBasedFrameDecoder fails with TooLongFrameException"
After upgrading netty to 4.1.45 LengthFieldBasedFrameDecoder fails to decode frame with `TooLongFrameException` (some integration tests in my project started to fail). Issue is not reproducible with 4.1.44.

`LengthFieldBasedFrameDecoder` extends `ByteToMessageDecoder` so I ended up blaming https://github.com/netty/netty/pull/9891.
Internally it looks like `LengthFieldBasedFrameDecoder#decode` is

[2020-03-10 16:08] normanmaurer commented on #10098
@kshchepanovskyi can you provide a reproducer ?

[2020-03-10 16:29] seedeed opened #10099 "Question about HashedWheelTimer in netty"
HashedWheelTimer in netty is an awesome timer optimized for approximated I/O timeout scheduling. But in our business project, I had seen a lot of use cases about HashedWheelTimer as below:
[code]
In order not to block the HashedWheelTimer's worker thread, we must make all our real business code run in a business Executor (an instance of java.util.concurrent.Executor) but not in the implemention of

[2020-03-10 18:53] normanmaurer commented on #10098
/cc @njhill

[2020-03-10 19:01] njhill commented on #10098
@normanmaurer you beat me to asking for the reproducer... but I will try to take a look in the meantime anyhow.

@kshchepanovskyi maybe you could also just confirm which type of cumulator you are using here - presumably it's the default `MERGE_CUMULATOR` i.e. you're not explicitly setting `COMPOSITE_CUMULATOR`?

[2020-03-11 07:29] kshchepanovskyi commented on #10098
@normanmaurer Working on it.

[2020-03-11 12:42] ntherrien commented on #8008
@normanmaurer and anyone encountering problems related to the order in which listeners are being notified, here is a solution that works well: queueing work on the event loop:
[code]

putting the work on the group loop will ensure the handler's channelActive listener will be call before this is executed.

[2020-03-11 15:12] miaojingyuan commented on #8503
I have this problem too.Have you solved this?

[2020-03-11 15:22] miaojingyuan commented on #8503
I solved the problem.Execute the command 'cd 'your java home/include/darwin''(I use the mac,if you use linux,directory darwin should be linux). and check wheather the file  jni.h exist,if not,copy the file jni.h from the path 'your java home/include' to darwin directory.

[2020-03-11 22:27] dennylee opened #10101 "WebSocketClientHandshaker13 header key "Host" doesn't take custom header"
### Information
I'm trying to do a load test using Gatling, which uses netty to make the request.  The load test is focused on websockets against AWS cloudfront.  So, the websocket will go through cloudfront then forwards to the actual host sitting behind cloudfront.  We've been told that we need to pass header key "Host" and the actual hostname as the value.  However, WebSocketClientHandshaker13

[2020-03-11 22:28] dennylee commented on #10101
So my question is.
Is there a way to inject my own websocket client handshaker which will contain a fix.  Or am I doing something wrong here.

[2020-03-12 08:48] #8161 closed

[2020-03-12 09:32] normanmaurer commented on #10099
@seedeed honestly I think if the user wants to do this it should be up to the user to just do it by him / herself.

[2020-03-12 09:32] #10099 closed

[2020-03-12 14:21] pjmike opened #10102 "io.netty.util.IllegalReferenceCountException: refCnt: 0"
Firstly，I set FullHttpRequest to the attribute of channel，when I get the FullHttpRequest from the channel' attribute somethere，it's ok.

However，when I convey the channel to thread pool thread，I get the FullHttpRequest from the channel，then I print out the FullHttpRequest，an error occurred :

[code]
the part of source code about thread pool:
[code]
the part of code about  getting FullhttpRequest
[

[2020-03-12 14:24] normanmaurer commented on #10102
You probably need to retain the reference as you are writing out the same request to the Channel and so it will be released.

[2020-03-12 14:24] #10102 closed

[2020-03-12 16:34] normanmaurer commented on #5201
After thinking more about all of this I realised there is a very simple workaround.

PTAL:
https://github.com/netty/netty/pull/10103

[2020-03-12 16:43] normanmaurer commented on #10101
@dennylee sounds like a bug... I think we should only set the `Host` header if it is not already set.

[2020-03-12 19:25] #10101 closed

[2020-03-13 09:47] normanmaurer commented on #10047
@Mahendra-9 can you please just submit a PR with a unit test... maybe even a PR to fix it ?

[2020-03-13 09:51] normanmaurer commented on #9961
Would it be possible to provide a unit test for this ? also can you reproduce without the IdleStateHandler in the pipeline ?

[2020-03-13 10:03] normanmaurer commented on #9927
sorry but without more informations there is nothing we can do.. This basically just means you are trying to write to a `Channel` that was closed before.

[2020-03-13 10:03] #9927 closed

[2020-03-13 10:05] normanmaurer commented on #9926
After reading the stack overflow entry it seems like this is just a miss use of HTTP. Closing

[2020-03-13 10:05] #9926 closed

[2020-03-13 10:06] normanmaurer commented on #9859
Sorry but without more details we can't help... Closing

[2020-03-13 10:06] #9859 closed

[2020-03-13 10:07] normanmaurer commented on #9723
@carl-mastrangelo are you still interested in this or should we just close it ?

[2020-03-13 10:07] normanmaurer commented on #9689
I wonder if there is a way to run something like this as a GitHub action ... Is macOS supported there ?

[2020-03-13 11:04] violetagg commented on #9689
@normanmaurer take a look here https://github.com/reactor/reactor-netty/blob/master/.github/workflows/check_netty_snapshots.yml

[2020-03-13 11:06] normanmaurer commented on #9689
@violetagg interesting... is there any way to ensure the right compiler etc is present on macOS ?

[2020-03-13 11:20] violetagg commented on #9689
@normanmaurer here is what they provide https://github.com/actions/starter-workflows/tree/master/ci

[2020-03-14 18:33] carl-mastrangelo commented on #9723
@normanmaurer it can be closed.

[2020-03-14 18:33] #9723 closed

[2020-03-15 08:58] blindpirate opened #10109 "Unexpected exception in Bootstrap.doResolveAndConnect0 leaks SocketChannel"
### Context

During the investigation of https://github.com/vert-x3/vertx-web/issues/1055 , it seems that unexpected exception thrown at https://github.com/netty/netty/blob/56055f4404fbebeb6403165d352d62330a1bf81d/transport/src/main/java/io/netty/bootstrap/Bootstrap.java#L192 causes leaking  `SocketChannel`.

The leaked `SocketChannel` is opened via

[code]

When `IllegalStateException` is thrown

[2020-03-16 08:20] normanmaurer commented on #10088
Sorry for the late response...

At the moment we use a self-hosted Jenkins installation that uses docker to run the jobs (see the docker files). For the task we basically look just for a way to run a set of benchmarks via CI and somehow build up report about values that changed since the last run and which changes were applied. This for example would include numbers like allocations, GC CPU time,

[2020-03-16 10:38] #5201 closed

[2020-03-16 11:05] thunderbird opened #10111 "HttpObjectDecoder should limit number of control chars"
Veracode / sourceclear registered vulnerability:

netty-codec-http is vulnerable to denial of service (DoS) attacks. These attacks are possible because it does not respect the limit on max http header size. This is caused because control characters are indefinitely skipped and the parsing never end

Details:
https://www.sourceclear.com/vulnerability-database/security/sca/vulnerability/sid-3108

[2020-03-16 12:37] #10109 closed

[2020-03-16 13:47] blindpirate commented on #10109
Thanks @normanmaurer !

[2020-03-17 03:27] asdf2014 commented on #8503
@miaojingyuan Even if I find the `jni.h` file in the `/Library/Java/JavaVirtualMachines/jdk-13.0.1.jdk/Contents/Home/include/` directory, I still encounter this error...

[2020-03-17 03:28] asdf2014 commented on #8503
@normanmaurer PTAL.

[2020-03-17 08:43] normanmaurer commented on #8503
@asdf2014 please show me the full build output and what `JAVA_HOME` is set too.

[2020-03-17 09:15] normanmaurer commented on #9945
@JulyJunWu @Cybermaxke I wonder why you would create a lot of these ?

[2020-03-17 09:16] #10111 closed

[2020-03-17 10:12] karthik-dusk commented on #10083
I want to repoen this issue. I checked the source code of these class, Netty is using Random (Insecure) from the package "import java.util.Random;"

[2020-03-17 10:20] slandelle commented on #10083
Those classes are not used for cryptography so there's no need to use a SecureRandom and pay the extra performance penalty. It's used for example for generating self signed certificates, multipart delimiter and WebSocket challenges.

You should reach out to MobSF so they whitelist those classes. It's a MobSF issue.

[2020-03-17 11:34] #10083 closed

[2020-03-17 12:30] #9945 closed

[2020-03-17 13:50] normanmaurer commented on #10098
@kshchepanovskyi did you find out anything yet ?

[2020-03-17 14:44] asdf2014 commented on #8503
@normanmaurer Sure, please click on the following details to see the build output. And yes, the `JAVA_HOME` is also set.

[code]

<details>
[code]
</details>

[2020-03-17 14:47] normanmaurer commented on #8503
@asdf2014 and `/Library/Java/JavaVirtualMachines/jdk-13.0.1.jdk/Contents/Home` includes jni.h ?

[2020-03-17 14:48] asdf2014 commented on #8503
@normanmaurer Yep

[code]

[2020-03-17 16:47] fabienrenaud opened #10113 "HttpContentEncoder#isPassthru is given the wrong parameter"
Line [141](https://github.com/netty/netty/blob/0992718f87bf0f0c23660489b1f7e697a24f2a4b/codec-http/src/main/java/io/netty/handler/codec/http/HttpContentEncoder.java#L141):
[code]

Implementation of `isPassThru` (line [244-248](https://github.com/netty/netty/blob/0992718f87bf0f0c23660489b1f7e697a24f2a4b/codec-http/src/main/java/io/netty/handler/codec/http/HttpContentEncoder.java#L244)):
[code]
The

[2020-03-17 16:47] yzhang90 opened #10114 "mvn test failed on netty-transport-native-epoll"
Running `mvn test` under the root directory on the branch 4.1 gives the following error:
[code]
However, `mvn clean package` succeed.

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)
openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-8u242-b

[2020-03-17 16:58] fabienrenaud commented on #10113
Nevermind, I see the hack now:
https://github.com/netty/netty/blob/0992718f87bf0f0c23660489b1f7e697a24f2a4b/codec-http/src/main/java/io/netty/handler/codec/http/HttpContentEncoder.java#L95

[2020-03-17 16:58] #10113 closed

[2020-03-17 19:32] hyperxpro commented on #10114
Too less information to debug. Send entire mvn test log.

[2020-03-17 22:57] yzhang90 commented on #10114
@hyperxpro here is the whole log
[mvn.log](https://github.com/netty/netty/files/4346163/mvn.log)
Thanks.

[2020-03-18 08:11] Marti2203 opened #10116 "GSoC 2020 Proposal - Add io_uring based transposrt"
Hello, I am a first year student from the Technical University of Eindhoven and I saw this task. I have seen the capabilties of Netty and the things it can do and I am interested in finally using the documentation I have been reading for Linux in my spare time for something useful.

I have a lot experience with java and working with C and have used Interoperability solutions (JNI, P/Invoke)  for s

[2020-03-18 10:28] ninja- commented on #10116
I am looking forward to it :)

[2020-03-18 11:12] Marti2203 commented on #10116
Quick question- What should I submit as a pdf of the proposal?

[2020-03-18 13:44] normanmaurer commented on #10116
@Marti2203 You should out-line a "milestone" plan with different sub-tasks and explain what each of the sub-tasks include and how long you expect it to take.  You may want to consider using either google docs or a PR with markdown so we can discuss directly on the proposal itself.

[2020-03-18 14:14] Marti2203 commented on #10116
Okay, perfect. I will prepare one in the next day or two as I would like to invest some time of the internals of Netty.

[2020-03-18 15:22] vietj commented on #9632
we have a similar concern reported in our tracker that sporadically fails and the error seems to be related to the presence of the OPT record in the server response: https://github.com/eclipse-vertx/vert.x/issues/3150

[2020-03-18 16:02] karthik-dusk commented on #10083
Hi @slandelle , this is just for my understanding,
Is this package "import io.netty.handler.ssl.SslContext" and the above false positive(above 3 classed) are anyway related?

Please help me understand.

[2020-03-18 16:05] karthik-dusk commented on #10090
Hi @slandelle ,
![md5](https://user-images.githubusercontent.com/5618488/76981196-3da19d00-6960-11ea-97b6-cd309effa581.png)
How is the variable named MD5 linked with actual MD5 hash?

Thanks for your time @slandelle .

[2020-03-19 08:49] hyperxpro commented on #10114
Surprisingly I couldn't find anything.

@normanmaurer Can you help?

[2020-03-19 09:11] Marti2203 commented on #10116
Hello, this is my [first draft in Google Notes](https://docs.google.com/document/d/1hHSfuveVRMenTaAC7whln_qZ1eytwR7AWb7NyxTvYrs/edit?usp=sharing)

[2020-03-19 09:35] acai420 commented on #9383
hi @llm163520 , Has this issue's problem been solved?

[2020-03-19 10:27] asanglard opened #10119 "Multiple call to exceptionCaught since 4.1.23 in case of Ssl Handshake Failure"
### Expected behavior
Before release 4.1.23, there was only ONE call to exceptionCaught method when an ssl handshake failure occurs

### Actual behavior
Since release 4.1.23, exceptionCaught method is called twice. Looking in the stacktrace:
- it is called a first time, and it is related to the fireChannelRead method of the SslHandler,
- it is called a second time, and it is related to the fireCha

[2020-03-19 10:39] hyperxpro commented on #10116
@Marti2203 Will io_uring be dependent on another C library to make its API calls?

[2020-03-19 10:54] llm163520 commented on #9383
No, I replaced the components;
vertx

[2020-03-19 11:13] amizurov commented on #9383
@acai420 @llm163520 Guys a `netty-codec-stomp` is not implementation of STOMP server it just codec that allow you to decode/encode stomp frames.

[2020-03-19 11:34] Marti2203 commented on #10116
I know of liburing, I think that may be the only such dependency, but it depends on the maintainers of the project - I can try to go without it and directly communicate with the kernel.

[2020-03-19 11:41] normanmaurer commented on #10116
@Marti2203 I strongly prefer to NOT use liburing. We should just use the kernel API directly.

[2020-03-19 11:46] Marti2203 commented on #10116
Okay, not a problem for me.

[2020-03-19 12:37] hyperxpro commented on #10116
I also have the same opinion. We're going to invest lots of time on io_uring and using third-party dependency might not seem much beneficial apart from the ease in development.

Coming back to performance, do we have plans for zero-copy or something similar to reduce copies? #10054

[2020-03-19 12:47] Marti2203 commented on #10116
Well, the goal of io_uring is to have almost no copies that are in kernel space and user space - have a memory mapped area where the application and the kernel write data. I will focus on making as few copies as possible, if given the opportunity to work on the proposal.

[2020-03-19 13:16] hyperxpro commented on #10116
If you've space for testing people, count me in. I'll happy to work on performance and benchmark side.

[2020-03-19 14:56] hyperxpro commented on #10083
No, they are not.

[2020-03-19 16:54] kshchepanovskyi commented on #10098
Sorry, didn't get to it yet. Hopefully I'll find some time on a weekend.

[2020-03-19 21:01] idelpivnitskiy commented on #8548
@normanmaurer In ServiceTalk, we have a similar class [AsciiBuffer](https://github.com/apple/servicetalk/blob/master/servicetalk-http-api/src/main/java/io/servicetalk/http/api/AsciiBuffer.java), that implements `CharSequence` interface. But in ServiceTalk motivation is different: we do that to avoid copying of the header names and values (we can do that because we do not use pooled memory) and to

[2020-03-19 23:38] NikhilCollooru opened #10120 "High latency in PoolArena.allocateNormal()"
### Expected behavior
We expect netty to take less than 20ms to finish PoolArena.allocateNormal() call.

### Actual behavior
We are observing ~100ms wall time (~5ms CPU time) latency spike in PooArena.allocateNormal() calls. From debugging we see that most time is spent in allocating newChunk . The following is the time it took to allocate newChunk() and the stack trace at that point. I added our

[2020-03-20 00:13] NikhilCollooru commented on #10120
@normanmaurer  Please share your suggestions.

[2020-03-20 01:31] acai420 commented on #9383
OK，thinks all

[2020-03-20 08:01] normanmaurer commented on #10120
@NikhilCollooru most likely you want to adjust the settings of `PooledByteBufAllocator` to allow bigger sizes to be cached.

[2020-03-20 17:39] rustberry commented on #10088
Hi Norman, never mind, thanks for the information! These days I have gone through and roughly understood the Docker part of CI process. Next I will try to come up with runnable demos of some of the regression tests.

[2020-03-21 06:07] eager opened #10122 "ReplayingDecoderByteBuf#copy returns copy of underlying buffer, losing replay-ability"
### Expected behavior

`ReplayingDecoderByteBuf#copy(int index, int length)` should maintain the special replay-ability of the buffer, or the docs should note that the copy does not retain the replay behavior.

### Actual behavior

If an in-bounds `index + length` is specified, the underlying buffer is copied and returned, leading to surprising errors in replaying decoders that use the copy.

###

[2020-03-21 08:48] netudima opened #10123 "Optimize log2 in PoolThreadCache"
Optimize log2 in PoolThreadCache

Currently io.netty.buffer.PoolThreadCache uses log2 implementation based on a shift loop.
It is not a most efficient way:
https://gist.github.com/netudima/e1e8206bf58ff0ab6e2d637a4362bfc2
[code]

It looks like for the current versions of JDK using Integer.numberOfLeadingZeros (intrinsic) is an optimal approach.

Note: PoolChunk also has log2 but it is already impl

[2020-03-21 09:05] franz1981 commented on #10123
Hi!
I agree that the approach using the instrinsic is to be preferred, but I'm curious about the impact: do we have benchmark that could measure the benefit of replacing it on `PoolThreadCache` that mimic a real case usage?

[2020-03-21 09:47] liubin192837 opened #10124 "When see Content-Length>0, how get SDP data(Content) with sever( seems #10047, not all same)?"
### Expected behavior
When ANNOUNCE RTSP request is sent with client, server can't get SDP data:
C>S:
[code]

### Actual behavior
Can see Content-Length=474, can get the really data(SDP-data):
[code]

### Steps to reproduce
Sent ANNOUNCE  with SDP data.

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.47
### JVM version (e.g. `java -version`)
8
### OS version (e.g.

[2020-03-21 10:11] BobenHome commented on #5987
I run netty4.1.42 under jdk11.0.6 and reports java.lang.UnsupportedOperationException: sun.misc.Unsafe unavailable, I don't know how to solve it?

[2020-03-22 07:46] boot-vue opened #10125 "FullHttpRequest how to get query params"
[code]

netty as server , listen on 8080....

[code]
I can get query string by request.uri() , it like <code>http://ip.sb?name=xxx </code>

but https , I can't  get it
[code]

request.uri() return <code>ip.sb:443</code>, not contains query params,  and I don't find how to get it

[2020-03-22 08:14] slandelle commented on #10125
This has nothing to do with Netty. In your second request, you’re using your Netty server as a proxy to perform tunneling. In this case, the user-agent must send a CONNECT request with only the target host and pory. This is what you see. See https://en.m.wikipedia.org/wiki/HTTP_tunnel

[2020-03-22 08:21] hyperxpro commented on #10125
Here is my code.

[code]
Outputs:
Using FullHttpRequest: https://ip.sb?name=xxx
Using URI: name=xxx

[2020-03-22 08:22] hyperxpro commented on #10125
Try using java.net.URI for parsing URI.

[2020-03-22 08:30] hyperxpro commented on #10125
It's not a Netty problem. cURL is not sending query string with the request, Here is my code:

[code]
Output:
FullHTTPRequest:https://ip.sb?name=xxx

[2020-03-22 08:31] hyperxpro commented on #10125
It's not a Netty problem. cURL is not sending query string with the request, Here is my code:

[code]
Output:
FullHTTPRequest: https://ip.sb?name=xxx

[2020-03-22 09:20] boot-vue commented on #10125
thanks,  I konwn how to handle it.  It's more complicated than I thought.

[2020-03-22 09:20] #10125 closed

[2020-03-22 12:08] netudima commented on #10123
Originally I noticed the log2 method in a async profiler cpu framegraph for an application, it is reported as 3% of Context.flush method and 0.4% of total.
Prepared a test with Allocator: https://gist.github.com/netudima/7984e90458c40fde00e0b6fec6d192f8

Loop based:
[code]

numberOfLeadingZeros based:
[code]
numberOfLeadingZeros is a bit faster.
The difference is not so large because io.netty.buff

[2020-03-22 12:42] franz1981 commented on #10123
I suggest to minim some real usage of it by changing https://gist.github.com/netudima/7984e90458c40fde00e0b6fec6d192f8#file-nettyallocatorbenchmark-java-L53 into:
[code]
Not super good, would be even better to use a `final static long DUTY_TOKENS` to be set with a sys property, but it's ok anyway. Try this with different values of dutyTokens and let me know if it makes a big difference.

Tip: bewa

[2020-03-22 13:17] doom369 commented on #10123
[code]

@franz1981 it actually could be simplified to:

`return buf.release();` with replacing the `state.value` to `@param`.

[2020-03-22 15:29] lukago opened #10126 "GsoC Proposal"
Hi! I'd like to take part in Netty Project during GSoC.
I have strong JVM background, some C and linux networking too so I think i can fit.
Here is my proposal for io_uring but other submitted topics with metrics are fine for me as well.
[GsoC proposal draft on Google Docs](https://docs.google.com/document/d/1TnW2Ar2AOXZQ7G2U3mQ6rvouJkymJZwxXfdcpZ7ZfRc/edit?usp=sharing)

Let me know what do you th

[2020-03-22 16:28] franz1981 commented on #10123
@doom369 yep, my point was more related to validate the improvement against some more realistic behaviour ie with some cpu activity between each alloc-release.
Looping n times summing bytes read from the buffer would have been ok too, but is more prone to cache misses depending on the arena configuration, size of caches etc etc: consumeCPU tends to be more deterministic if tokens are not too few..

[2020-03-22 18:59] hyperxpro commented on #10126
Isn't it better to separate Epoll and IO_URING?

[2020-03-22 19:08] franz1981 commented on #10123
Anyway, feel free to send the PR "regardless" the result of the bench (hopefully positive): it's something that makes sense to change :+1:

[2020-03-22 19:29] netudima commented on #10123
Thank you for the feedback and the tip.
The results of the bench: https://gist.github.com/netudima/787176639eac62ae8e4ab8430f95e883

Loop:
[code]

LeadingZeroes:
[code]
I will send a PR soon.

[2020-03-22 21:08] netudima commented on #10123
PR: https://github.com/netty/netty/issues/10123

[2020-03-23 08:10] NikhilCollooru commented on #10120
@normanmaurer i increased the
io.netty.allocator.maxCachedBufferCapacity = 16MB and
io.netty.allocator.normalCacheSize = 512

It improved a little, but i still see some spikes.  I also see ~100ms for the ``PooledByteBuf<T> buf = newByteBuf(maxCapacity);``  call in PoolArena.java.

Am i adjusting the params correctly ? Please let me know.

[2020-03-23 08:26] franz1981 commented on #10120
@NikhilCollooru Please can you try with `async-profiler` (https://github.com/jvm-profiling-tools/async-profiler) too or using `perf`?
With both, please rememeber to add `-XX:+UnlockDiagnosticVMOptions -XX:+DebugNonSafepoints` to your JVM args

[2020-03-23 08:31] NikhilCollooru commented on #10120
@franz1981 thanks for quick reply !. Before I proceed, what are we trying to find through this profiling ?
I have used async profiler before. So we are interested in CPU usage profile or Alloc profile ?

[2020-03-23 08:32] franz1981 commented on #10120
@NikhilCollooru We actually don't know what to find, it can be either lock, cpu and lock ones IMO

[2020-03-23 08:33] franz1981 commented on #10120
@NikhilCollooru So my suggestion is to try with these 3 events and possible (unless you have 1 billion of threads, using `-t`

[2020-03-23 11:05] carryxyh commented on #10122
I believe this is a wrong use. We must throw the exception in `decode`, otherwise the `decoder` will not work properly...

[2020-03-23 11:08] normanmaurer commented on #10122
@eager I think what it does is correct... `copy` will just return a copy of the `ByteBuf` and it is not guaranteed that the buffer type is the same as before. This is generally true for `ByteBuf`.

[2020-03-23 12:36] StVl commented on #9927
@normanmaurer  hi!

when i try to do that:
` private val client: WebClient = Webclient.builder().baseUrl(config.url).httpProxyConnector(config.proxyHost, config.proxyPort).build() `

` fun serverToServer(checkBody: String) = client
    .post()
    .uri("...")
    .bodyValue(Body(checkBody, password))
    .retrieve()
    .bodyToMono<String>()
    .map{ mapper.readValue(it, SomeBody::class.java)} `

[2020-03-23 12:37] StVl commented on #9927
@shakarelic  did you find response for your question ?

[2020-03-23 18:01] KhaledEmaraDev opened #10131 "GSoC 2020 Proposal"
Hi,

I'm Khaled from Egypt. I'm interested in participating this year in GSoC. I have been trying to reach you for quite sometime, but I though the project was dead. No one answers the mailing list, gitter, nor the IRC room.

I'm keen on the `io_uring` transport project as I'm looking to hone my kernel skills through userland projects. I also like to work with networks.

If you'd be kind enough to

[2020-03-23 20:11] johnou commented on #10126
@normanmaurer looks like there are three different GsoC proposals for io_uring :)

[2020-03-24 04:48] hyperxpro commented on #10126
That's good to be honest, at one time when there were no proposals, I actually thought @normanmaurer has to do all heavy lifting for work again to add io_uring.

[2020-03-24 06:42] NikhilCollooru commented on #10120
@franz1981 I did not find anything significant in the profiler runs. :(
Netty showed up only in lock profile and that too in ``channelRead`` of various  handlers like expected.

But like I said before i see the ~100ms+  for ``PooledByteBuf<T> buf = newByteBuf(maxCapacity);`` call in`` PoolArena.java``.

I had set
``io.netty.allocator.maxCachedBufferCapacity`` = 16MB and
``io.netty.allocator.normal

[2020-03-24 07:11] franz1981 commented on #10120
That seems strange: have you tried to raise the frequency to 1000 Hz?
The wall clock time measured was after the allocation path being hot? Without any clue about what's going on is difficult to improve things

[2020-03-24 07:48] NikhilCollooru commented on #10120
@franz1981 I understand. In order to give you more context I have sent you an email with the aync profiles and my netty logs. If possible, can you please have a look at them. I really appreciate your help ! Thanks in advance !

[2020-03-24 09:31] normanmaurer commented on #10119
@asanglard the reason for this is that when we close the channel we try to drain to call `unwrap` one last time to ensure we completely drain every alert that is left in the engine. So while it is not "pretty" I am note sure its a big deal to report the exception two times in some cases. For example if you use the `OPENSSL` provider there will be only one exception.

[2020-03-24 10:13] #10123 closed

[2020-03-24 13:52] asanglard commented on #10119
@normanmaurer You are right for `OPENSSL` provider, there is only one exception raised.

This behaviour with `JDK` provider may be a "big deal" in case that the application (that use netty) triggers business logic when exceptionCaught method is called. In case that this business logic is not idempotent, it may affect the service.

In our case, we track, thanks to the exceptionCaught  method, unsuc

[2020-03-24 20:24] lukago commented on #10126
@hyperxpro yep its probably better approach, i tought at first we can do somethink like epoll will just try to use io_uring if thats posibble, but making it separate gives us more flexibility with this.

@normanmaurer i updated docs a bit accoring to your comments

[2020-03-25 07:50] hyperxpro commented on #10126
Remove Epoll out of the picture completely.

[2020-03-25 07:53] normanmaurer commented on #10126
@lukago I will have a look... that said I would first keep epoll and concentrate on the rest. Once this is sorted we can still check if we also should remove the rest of epoll.

[2020-03-25 09:41] normanmaurer commented on #10119
@asanglard got it... Let me see what I can do.

[2020-03-25 12:58] normanmaurer commented on #10119
@asanglard PTAL https://github.com/netty/netty/pull/10134

[2020-03-25 13:05] normanmaurer commented on #10114
nothing in there that is useful... Can you run with `-e` ?

[2020-03-25 17:34] geoffreyblake commented on #8279
Any progress on this?  This seems to build fine on an AWS a1 machine running RHEL8.  Getting the binaries for aarch64 released would be helpful for people wanting to run Hadoop/Spark etc on Arm machines.

[2020-03-25 20:19] grishasht opened #10135 "GSoC 2020"
As for now, I’m a student of Kyiv Polytechnical Institute, 4 course, Computer science.
I started my career from successfully passing the Java external course of a big European company.
At the moment I’m a Java software engineer at another big European company with 7 months of commercial experience. Besides a job I’m engaged in studying, keeping my best and developing new skills.

Well, so what can

[2020-03-26 05:00] kev1n11 commented on #7995
I'd also like to add automatic detection in all integration tests.

@normanmaurer I can see that `ByteBuf` for example uses the default instance, how can I _link_ my implementation of `ResourceLeakDetectorFactory`?
[code]

Also it does not look like there's an option to plug into other `ResourceLeakDetector`s?

[2020-03-26 07:20] ratcashdev commented on #3857
I think I am running into this with `java-11-openjdk-11.0.6.10-1.el7_7.x86_64` and `Linux  3.10.0-957.27.2.el7.x86_64 #1 SMP Mon Jul 29 17:46:05 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`
the CPU utilization is howevering around 50% with an idle server, and the stack trace shows for all `nioEventLoopGroup` threads this:
[code]

[2020-03-26 08:12] #10119 closed

[2020-03-26 08:22] normanmaurer commented on #10119
This was fixed

[2020-03-26 09:06] yechao4j opened #10137 "Can't get somaxconn"
When i start Springcloud gateway in 'Alibaba Cloud Elastic Compute Service', i found
[code]
Send-Q is 0, but `somaxconn` is 262144
[code]
Is anything problem with server?
netty version is 4.1.38.Final, reactor-netty 0.8.10, core 3.2.11

[2020-03-26 09:13] yechao4j commented on #10137
And another question, how to enable Netty debug log level?

[2020-03-26 09:24] johnou commented on #10137
somaxconn has nothing to do with the send and receive queue of your socket, I suggest reading the manual again? you can enable debug log level by setting DEBUG level for the package io.netty

[2020-03-26 10:41] yechao4j commented on #10137
@johnou  if Send-Q is 0, in my environment the Ngnix in front of gateway will connect timeout, error log below
[code]
If i increase somaxconn to 128, it will be ok. Why you say it is nothing to do with the send queue?
And where's the manual, i need to check it.
Thanks.

[2020-03-26 11:34] johnou commented on #10137
this is a bug tracker, not a support forum, use your preferred search engine to look up what those terms mean. If you need to change the so_backlog in your Netty server look up the option ChannelOption.SO_BACKLOG.

[2020-03-26 11:41] yechao4j commented on #10137
OK，i understand.  Thanks

[2020-03-27 09:55] #10137 closed

[2020-03-27 10:02] normanmaurer commented on #10131
@KhaledEmaraDev can you give me the rights to put comments on the doc ?

[2020-03-27 10:02] normanmaurer commented on #10135
You will need to write a proposal for the specific task you want to pick up for GSOC.

[2020-03-27 11:28] hyperxpro opened #10138 "DoH Support"
I am planning to add DoH Support. Should I use [dnsjava](https://github.com/dnsjava/dnsjava) DNS library or Netty DNS classes?

P.S- dnsjava seems more matured and stable.

[2020-03-27 14:23] dev-ritik opened #10139 "GSoC 2020 Proposal - Implement event loop telemetry"
Hello Everyone,

I'm a third-year undergrad at Indian Institute of Technology, Roorkee. I successfully participated in GSoC last year. This year I am looking forward to contributing to Netty.

[Here](https://docs.google.com/document/d/1Z4qJS5GfII1Z9UbTfJKgIn9uEUKHq4rJ9-jYDBLG6l0/edit?usp=sharing) is my proposal for the topic, **Implement event loop telemetry**. I have added all other details in it

[2020-03-27 14:52] hyperxpro commented on #10139
Seems good.

How are you planning to implement those metrics counter into Netty? During Server bootstrapping or some different approach?

[2020-03-27 14:57] franz1981 commented on #10139
@dev-ritik Consider https://github.com/netty/netty/pull/9080 in the mix, although very basic :)

[2020-03-27 17:46] shashank-shark opened #10140 "GSoC Idea Proposal 2020 - Implement event loop telemetry"
# GSoC Idea Proposal 2020 -  *Implement event loop telemetry*

Hello community I am Shashank J, a final year student pursuing the course of Computer Science and Engineering at Sai Vidya Institute of Technology (VTU) -  Bangalore and a follower of Pieter Hintjens.

I have strong knowledge on Java and good knowledge about AMQP, Asynchronous messaging / networking libraries (**ZeroMQ**), Zero-Copy, M

[2020-03-27 18:45] KhaledEmaraDev commented on #10131
@normanmaurer Yeah sorry. Though I already enabled comments for sharing. You can do it now.

[2020-03-27 19:58] eager commented on #10122
@carryxyh that make sense.

@normanmaurer that also makes sense. Since `ReplayingDecoderByteBuf` has its special behavior, does it make sense to update the docs to note that the behavior won’t be present in the copy?

[2020-03-27 20:46] 1Jo1 opened #10142 "GSoC 2020 Proposal"
Hey, I'm Josef. I'm studying Software Engineering. I'm interested in joining the Google Summer of Code. The netty io_uring proposal is interesting for me as I implemented multiple netty and JNI projects last year. [GsoC proposal draft](https://docs.google.com/document/d/1JwfnmUbLy4-7Q7In9Be-8elOhj75M9cX1whWG2xMTuY/edit?usp=sharing)

[2020-03-28 05:10] llm163520 commented on #9383
for error:
![image](https://user-images.githubusercontent.com/22343834/77815296-94dc0600-70f4-11ea-81a9-25c715e477e9.png)

javascript plugins by stomp.js
javascript connection example
var stompClient = Stomp.client("ws://127.0.0.1:8083/ws");
            stompClient.connect('admin', '123456', function(frame){

                console.log('Connected:' + frame);

            }, function(){

[2020-03-28 05:19] llm163520 opened #10143 "netty-codec-stomp server and client for stomp.js example"
Relation https://github.com/netty/netty/issues/9383
Server sample error still exists

[2020-03-28 05:20] llm163520 commented on #9383
Server sample error still exists

[2020-03-28 05:20] #10143 closed

[2020-03-28 06:10] hyperxpro commented on #10142
`the minimum supported Kernel version would have to be 5.7.`

5.7 Kernel is not out yet. Fix it.

[2020-03-28 07:08] 1Jo1 commented on #10142
yeah I know it is not yet released, IORING_FEAT_FAST_POLL will be released in Linux Kernel 5.7, IORING_FEAT_FAST_POLL, it would be interesting to use it, the benchmark is very impressed
compare to epoll https://twitter.com/josefgrieb/status/1239238240823099393

[2020-03-28 07:17] 1Jo1 commented on #10142
we can also start with Linux kernel 5.6, we add some ifdef to check if it's available

[2020-03-28 07:25] hyperxpro commented on #10142
According to me, It's too early to use Kernel 5.6 or upcoming 5.7. Current LTS: 5.4.

So 'NO' from my side on this proposal,

[2020-03-28 07:26] hyperxpro commented on #10142
Let's see what others say about this.

cc @normanmaurer @franz1981

[2020-03-28 10:09] Halooooooo opened #10144 "I want to build a gateway using netty"
I am a netty beginner，
I copied Netty's code on techempower and received it as a service.
And pressure test, the performance is about 150k tps，
Then I looked at Netty's Proxy example. I wrote the code to send the request myself, and implemented the connection pool of the Channel, but the performance was not ideal.
How should I optimize my code,thx
### Expected behavior
the performance is about 150

[2020-03-28 13:29] hyperxpro commented on #10144
What exactly is Gateway? HTTP Gateway? Network Gateway?

And what exactly you want to do?

[2020-03-28 13:31] hyperxpro commented on #10140
JVM Communication is a nice way but much data can it extract from Netty?

[2020-03-28 15:05] grishasht commented on #10135
Great! Will be done

[2020-03-28 15:12] martinanderssondotcom commented on #4096
It's not just the architectural overview that is missing. At the bottom of the [4.1 user guide](https://netty.io/wiki/user-guide-for-4.x.html#summary) we read this:

But there are no links and I haven't been able to find the "upcoming chapters". So they seem to be missing (in addition to the missing architectural overview for Netty 4.x).

Since it has soon been five years since this issue was open

[2020-03-28 19:23] normanmaurer commented on #10142
I think we can support different things here and just ifdef to enable or disable depending on the kernel.

[2020-03-28 19:28] normanmaurer commented on #10138
Nettys implementation is fully async so I would use it...

[2020-03-28 19:28] #10138 closed

[2020-03-28 19:28] normanmaurer commented on #10122
@eager I am happy to review any PR to improve docs etc. Please submit a PR if you think we should clarify.

[2020-03-28 19:28] #10122 closed

[2020-03-28 19:29] normanmaurer commented on #10144
Please use stack overflow for questions... this is an issue tracker.

[2020-03-28 19:29] #10144 closed

[2020-03-28 19:33] hyperxpro commented on #10138
I was actually talking about #9091. I want to do a pull request to DoH support. Are Netty DNS classes stable enough? I saw `Unstable` annotation on DNS classes.

[2020-03-28 19:34] normanmaurer commented on #10138
@hyperxpro yes

[2020-03-29 02:32] shashank-shark commented on #10140
Yes, with JVM IPCs using a memory mapped file we can retrieve about 10~14 million messages per second and with average latency in less than 100 nano seconds.

I am planning to benchmark on **raw** bytes as most of the time is spent in serializing and deserilizing the message. I believe benchmarking on the messages after serializing  / deserilizing could provide extra overhead which will give us an

[2020-03-29 03:00] shashank-shark commented on #10140
On different methods like **RMI**, **TCP/IP** communication without any persistence I found that inter process communication (JVMs) with a memory mapped file performs significantly faster and is more memory efficient. @hyperxpro What is your idea on this ?

[2020-03-29 05:59] Yuvraj1108 opened #10145 "GSOC 2020 Proposal - Regression Testsuite"
Hello everyone,

I am Yuvraj, a sophomore undergrad in Computer Science & Engineering from Indian Institute Of Technology, Goa.
I am looking forward to contributing to Netty this year in GSOC 2020 for the project: Regression testsuite.

[Here](https://docs.google.com/document/d/1YMeEsS_9EUbu0AYExSFHvLR-6C8sMKF1CwrlHV5T7cY/edit?usp=sharing) is my first draft proposal.

Please provide your feedback

[2020-03-29 07:32] franz1981 commented on #10140
@shashank-shark Aeron Is currently using the IPC strategy (https://github.com/real-logic/aeron/wiki/Monitoring-and-Debugging#counters) to expose counters, but requires Unsafe in order to perform atomic operations over the underline bytes of MappesByteBuffer.

[2020-03-29 12:25] dev-ritik commented on #10139
I think this could be done using some interfaces. Custom implementations, as required, can be added to various EventLoops and EventLoopGroups or their superclasses. Users can decide while Server bootstrapping if they want to observe those counters or not.

[2020-03-29 12:39] hyperxpro commented on #10140
Did you benchmark these numbers?

[2020-03-29 12:44] franz1981 commented on #10140
@hyperxpro i won't focus on the perf of such mechanisms (others has already demonstrated the effectiveness of them, see my previous comment about it) but on which kind of benefits and cost it brings if compared to other mechanisms.

[2020-03-29 13:25] amizurov commented on #9383
Hi, in my example was not defined `subProtocols` I added "v11.stomp".
[code]
I checked this via https://raw.githubusercontent.com/jmesnil/stomp-websocket/master/lib/stomp.js.

@normanmaurer WDYT, do we need additional example `STOMP Over WebSocket` (e.g. chat) ?

[2020-03-29 13:36] normanmaurer commented on #9383
@amizurov PRs welcome

[2020-03-29 14:10] amizurov commented on #9383
OK, maybe it can be useful for people who want to use STOMP and Netty on server side.

[2020-03-29 14:27] llm163520 commented on #9383
The problem has already been solved, thanks!

[2020-03-29 15:21] shashank-shark commented on #10140
@franz1981 yes the points that you've listed are crucial when dealing with IPCs and multithreaded environments. Using **Unsafe** is the best way to modify an object in memory with less cost.

Adding to the first point, here I would try to use a different atomic counter for different events and let the thread allocated for this event in a handler update the counter atomically(1) using Unsafe and th

[2020-03-29 15:30] franz1981 commented on #10140
@shashank-shark The problem I see with this approach is that in order to work (without considering the new VarHandle methods on next jdk that will introduce it) is that it needs Unsafe to work fine: it means Android and IBM platfoem won't work (maybe :P). Netty features IMHO should aim to be available for most possible platforms (see how PlatformDependent works) and hence an approach that work jus

[2020-03-29 15:31] llm163520 commented on #9383
An exception is thrown when the client connects to the server and responds
![image](https://user-images.githubusercontent.com/22343834/77853200-66a21780-7215-11ea-95de-a929c5e1de29.png)
![image](https://user-images.githubusercontent.com/22343834/77853193-5db14600-7215-11ea-922c-960c35862bc1.png)

[2020-03-29 15:35] llm163520 commented on #9383
code files
https://github.com/stomp-js/stompjs
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>WebSocket</title>
</head>
<body onload="disconnect()">
    <noscript>
        <h2 style="color:#ff0000">貌似你的浏览器不支持websocket</h2>
    </noscript>
    <div>
        <div>
            <button id="connect" onclick="connect()">connect</button>
            <button id="disconnect"  onclick="discon

[2020-03-30 03:08] Yuvraj1108 commented on #10145
Please provide a review as only two days are left for the final submission.
Your feedback is highly valuable for me and will help me to modify my proposal.

[2020-03-30 03:44] shashank-shark commented on #10140
Yes using Unsafe is not much fruitful as Unsafe is already deprecated in JDK 11 and is available in `jdk.unsupported` module and even I doubt that Unsafe won't be supported in future by many JDK vendors out there.
The solution I was able to think of was to determine the JDK version at runtime and then move on to implement the counters. Here are the versions with the plan of implementation.

| JDK

[2020-03-30 03:47] shashank-shark commented on #10140
Yes, these numbers could be number of :

1. Threads.
2. Channels.
3. Events.
4. Iterations (depending on use case).

[2020-03-30 08:12] normanmaurer commented on #10088
Please share the proposal via google docs once you have it written so we can have a look.

[2020-03-30 08:23] Yuvraj1108 commented on #10145
Hi,

Please provide your valuable feedback as it will help me a lot to modify my proposal.

Thanks

[2020-03-30 08:24] normanmaurer commented on #10135
Please share the proposal up-front so we can provide some feedback and help you...

[2020-03-30 08:41] rustberry commented on #10088
Thanks for the reminder, I'm working on it.

[2020-03-30 08:57] lukago commented on #10126
Unfortunately I will not participate

[2020-03-30 08:57] #10126 closed

[2020-03-30 12:06] yuanrw commented on #3910
Hi, I have some ideas. There are some inspirations from  jemalloc 4.
1. Split chunk into runs which are multiple of page size rather than power of 2 of page size. It can greatly reduce internal fragments. Use pairing heaps to manage runs (each heap manage the same size of runs), so that we always get a run with smaller id first to avoid dispersedly using runs.
2. Make cache size in PooledThreadCac

[2020-03-30 12:15] normanmaurer commented on #3910
@yuanrw would love to review a PR :)

[2020-03-30 17:53] Yuvraj1108 commented on #10145
Hi,

Please provide a feedback before the final hour. Your feedback is highly valuable to me.

Thanks

[2020-03-30 18:21] hiejulia opened #10149 "GSoC 2020 Proposal"
#Hi,

I take part in GSoC 2020. I am last year student of Bachelor of Information Technology at Haaga-Helia University of Applied Science in Finland.

I have draft submitted proposal for all projects, not detailed since it seems to me that all projects are interesting and good to learn. I will add more in details, break down tasks into small tasks, architecture, and tools, research how to implemen

[2020-03-30 19:41] JLLeitschuh commented on #10059
Here's another vulnerability that I couldn't disclose at the time but is now public.

https://github.com/micronaut-projects/micronaut-core/security/advisories/GHSA-694p-xrhg-x3wm

[2020-03-31 09:31] karolsteve commented on #9419
I have the same issue

[2020-03-31 14:17] rustberry commented on #10088
Hi, this is my draft of GSoC proposal, sorry to have finished it just before DDL... [Link to proposal - Add Regression Testsuite to Netty](https://docs.google.com/document/d/10hd2eGR1T3IFeJSD18L6_t6x41StI966ojPLM-DD5bM/edit?usp=sharing)

Please leave your comments, your feedback is valuable to me.

Thanks.

[2020-03-31 15:34] danilo-ambrosio opened #10153 "[NioServerSocketChannel] Requests hanging on Heroku"
We've been testing NioServerSocketChannel on [vlingo-wire](https://github.com/vlingo/vlingo-wire/issues/28) to solve a well-known issue regarding JDK `EPoolSelector`.  The problem was solved on AWS and local environment alike (both on Ubuntu). However, my requests, on Heroku, still hang infinitely. I'm using a simple GET request to test the REST API.

Has anyone already experienced something like

[2020-03-31 17:58] #10149 closed

[2020-03-31 22:47] gautamkct opened #10154 "Unable to wrap SSLEngine of type sun.security.ssl.SSLEngineImpl"
I am working with Spring boot project and while starting application i am getting following exception. Followed few links as well to resolve but same issue,

[code]

Spring boot Gradle File

[code]

[2020-04-01 05:39] normanmaurer commented on #10154
@gautamkct can you please update to the latest Netty version and let me know if you still see the problem ? 4.1.31 is quite old

[2020-04-01 05:44] gautamkct commented on #10154
@normanmaurer   Thanks for prompt response however i can see below exception in newer version as well.Please suggest

java.lang.RuntimeException: Unable to wrap SSLEngine of type sun.security.ssl.SSLEngineImpl
	at io.netty.handler.ssl.JdkAlpnApplicationProtocolNegotiator$AlpnWrapper.wrapSslEngine(JdkAlpnApplicationProtocolNegotiator.java:144) ~[netty-handler-4.1.45.Final.jar:4.1.45.Final]

[2020-04-01 06:35] slandelle commented on #10154
What is your JDK version?

[2020-04-01 06:36] gautamkct commented on #10154
@slandelle JDK version is jdk 1.8.0_171

[2020-04-01 06:38] normanmaurer commented on #10154
@gautamkct ALPN is only supported in Java9 or if you use conscrypt as your provider or have the jetty alpn stuff on the class path.

[2020-04-01 06:43] gautamkct commented on #10154
@normanmaurer  - Thanks once again. Have already added below dependecy

[2020-04-01 06:54] normanmaurer commented on #10154
@gautamkct as far as I know this is not enough... you will also need to tell it to use it.

[2020-04-01 07:16] gautamkct commented on #10154
@normanmaurer - is it possible for you to provide some pointer for this or any reference link.

[2020-04-01 07:33] normanmaurer commented on #10153
Sorry without any more details its impossible to help. You will need to also share your server code etc.

[2020-04-01 07:36] johnou commented on #10154
@gautamkct depends on your usecase, here is a simple example.. https://github.com/google/conscrypt/blob/8e79804715c18c19c1f3a56fd20f66fce6feb060/testing/src/main/java/org/conscrypt/TestUtils.java#L204

[2020-04-01 07:37] normanmaurer commented on #10154
Let me close this as its not a netty issue.

[2020-04-01 07:37] #10154 closed

[2020-04-01 11:13] normanmaurer commented on #9540
Alright.... working on it.

[2020-04-01 12:16] yuanrw commented on #3910
- [ ] Add more size classes. Update Chunk structure. Update PooledByteBufAllocator.
- [ ] Introduce low water for PoolThreadCache, make cache size dynamic.
- [ ] Add more performance tests, includes multi-threaded/single-threaded benchmark, memory usage benchmark.

[2020-04-01 13:26] danilo-ambrosio commented on #10153
Thanks for the quick reply @normanmaurer.

That's fine. I will add all the information you need. Please take look at  [NettyServerChannelActor](https://github.com/vlingo/vlingo-wire/blob/master/src/main/java/io/vlingo/wire/fdx/bidirectional/netty/server/NettyServerChannelActor.java) class which is responsible to run `io.netty.bootstrap.ServerBootstrap`.

All the related code is under this package

[2020-04-01 13:27] johnou commented on #9540
@normanmaurer april fools? :)

[2020-04-01 18:27] BenD10 opened #10158 "SslHandler handshake timeout occurs even after removal from pipeline"
### Expected behavior
When an SslHandler that has a handshake timeout set is removed from the pipeline, no exceptions are thrown.

### Actual behavior
When an SslHandler that has a handshake timeout set is removed from the pipeline, `javax.net.ssl.SSLException: handshake timed out` is thrown.

### Steps to reproduce
1. Create a new pipeline and add a SslHandler with an SSLEngine set to server mode

[2020-04-01 18:41] normanmaurer commented on #10158
@BenD10 this makes sense... please provide a PR with a testcase included 👌

[2020-04-02 06:09] emptywalker opened #10159 "Android: When i disconnect usb from Mac，netty throw IOException ”java.io.IOException: Software caused connection abort“"
I use netty as service on Android, it's fine when my device connect Mac with usb,  when i disconnect usb from Mac, netty handle caught a IOException as title.

### Expected behavior
when disconnect usb from Mac, netty can work fine!

### Minimal yet complete reproducer code
[code]
### Netty version
`io.netty:netty-all:4.1.37.Final`

### JVM version
[code]

### OS version
`Andoird  API 29`

### IOE

[2020-04-02 07:08] normanmaurer commented on #10159
I think this is more an android question

[2020-04-02 07:13] emptywalker commented on #10159
Has anyone had the same problem? can give me some debug advices?

[2020-04-02 08:49] hyperxpro commented on #10159
Don't have Mac but tested this on Windows PC and Laptop, no exception here.

[2020-04-02 13:40] normanmaurer commented on #10158
@BenD10 actually its a bit more complicated then that... will open a PR asap

[2020-04-02 13:43] normanmaurer commented on #10158
@BenD10 PTAL https://github.com/netty/netty/pull/10161

[2020-04-03 00:04] BenD10 commented on #10158
Looks awesome, thanks @normanmaurer!

[2020-04-03 03:22] llm163520 commented on #9383
ok, thanks！

[2020-04-03 03:22] #9383 closed

[2020-04-03 06:45] #10158 closed

[2020-04-03 18:34] jrhee17 opened #10164 "Consider adding support for HAProxyMessageEncoder"
**Subject**
Consider adding support for `HAProxyMessageEncoder`

**Motivation**
I am working on a [project](https://github.com/line/armeria) which offers server-side PROXY protocol support (using netty `HaProxyMessageDecoder` 💯 )

All works fine, but we have some limitations:

1) Sometimes, clients may want to pass an arbitrary source, destination address directly without using a haproxy server.

[2020-04-03 19:16] normanmaurer commented on #10164
@jrhee17 sure this sounds like something useful. Please provide a PR and I will review it :)

[2020-04-03 19:48] xxDark opened #10165 "AbstractChannelHandlerContext eats performance"
### Expected behavior
`AbstractChannelHandlerContext` should not reduce performance when exception is caught

### Actual behavior
Performance is highly reduced if too much exceptions occur

### Steps to reproduce
Popular Minecraft proxy BungeeCord suffers because of that problem during too much junk sent to the proxy.

### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty vers

[2020-04-03 19:50] xxDark commented on #10165
Invoking `AbstractChannelHandlerContext#invokeExceptionCaught` directly resolved that issue, but thati's probably not the right way to deal with the problem.

[2020-04-04 15:19] L1yp opened #10167 "I am not sure what you really try to do here... But calling sleep(60000) in the `EventExecutor` will block the IO thread. That should never be done as you will basically pause all the IO"
I am not sure what you really try to do here... But calling sleep(60000) in the `EventExecutor` will block the IO thread. That should never be done as you will basically pause all the IO

_Originally posted by @normanmaurer in https://github.com/netty/netty/issues/5713#issuecomment-240319489_

netty-http-server-demo
https://netty.io/4.0/xref/io/netty/example/http/snoop/HttpSnoopServerHandler.html#

[2020-04-04 16:54] #10167 closed

[2020-04-04 17:21] rajcspsg opened #10168 "io.netty.handler.codec.compression.DecompressionException: Unsupported compression method 0 in the GZIP header"
### Expected behavior

I'm expecting `HttpDecompressor` to decompress the payload correctly when the request payload is compresssed with gzip.

### Actual behavior

I'm getting the below exception -

[code]

### Steps to reproduce

[code]

The request payload '�VP*I-.QR�R0T���-!' is Gzip compression of string `"{ \"test\" : 1 }"` using below logic -

[code]

### Minimal yet complete reproducer cod

[2020-04-04 19:50] Yuvraj1108 commented on #10145
Hi,

I am still open to discussing my proposal. Please provide me with feedback on the same.

Thanks,
Yuvraj

[2020-04-04 22:24] hyperxpro commented on #10168
Not Netty bug.

You can't take bytes and send directly like that using cURL.

[2020-04-06 16:08] rajcspsg commented on #10168
@hyperxpro what should be the correct way to compress the payload?

[2020-04-06 16:59] hyperxpro commented on #10168
Your way of compressing is correct but you're sending compressed data in a wrong way.

[2020-04-06 17:47] rajcspsg commented on #10168
Any example of how to send the compressed data correctly?

[2020-04-06 20:00] hyperxpro commented on #10168
[code]

[2020-04-06 20:01] hyperxpro commented on #10168
Replace `compressedData` byte array with your compressed data byte array.

[2020-04-06 21:22] rajcspsg commented on #10168
Thanks @hyperxpro

I made it work with below code as well

[code]

[2020-04-06 21:22] #10168 closed

[2020-04-06 21:40] slandelle commented on #10168
This won't work, see #2132.

`HttpContentDecompressor` extends `HttpContentDecoder` that currently only decodes `HttpRequest`s and `HttpContentCompressor` extends `HttpContentEncoder` that currently only encodes `HttpResponse`s.

In short: Netty only support compressing server side and decompressing client side.

[2020-04-06 21:45] hyperxpro commented on #2132
6 years and still labeled as `Feature`.

Any plans for this?

[2020-04-07 07:01] normanmaurer commented on #2132
@hyperxpro I am happy to review any PRs...

[2020-04-07 13:22] hyperxpro commented on #10165
#Off-topic

Does Minecraft use TCP?

[2020-04-07 14:11] xxDark commented on #10165
yes

[2020-04-08 01:14] #10159 closed

[2020-04-08 07:45] hyperxpro opened #10172 "TLSv1.3 Wrong Cipher Negotiation"
### Expected behavior
Use TLSv1.3 Cipher TLS_AES_256_GCM_SHA384

### Actual behavior
Using TLSv1.3 Cipher TLS_AES_128_GCM_SHA256

### Steps to reproduce
Client:
[code]

Server:
[code]

### Minimal yet complete reproducer code (or URL to code)
https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/echo

### Netty version
4.1.48.Final

### JVM version (e.g. `java -version`)
o

[2020-04-08 07:50] hyperxpro commented on #10172
On TLSv1.2, everything works perfectly.
Server:
[code]

Client:
[code]

HANDSHAKEN: TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384

[2020-04-08 07:52] normanmaurer commented on #10172
@hyperxpro is this with `SslProvider.JDK` or `SslProvider.OPENSSL` ?

[2020-04-08 07:52] hyperxpro commented on #10172
Didn't specified SslProvider.

[2020-04-08 07:54] normanmaurer commented on #10172
@hyperxpro can you explicit try with both ?

[2020-04-08 08:00] hyperxpro commented on #10172
OpenSSL:

Server:
[code]

Client:
[code]

HANDSHAKEN: TLS_AES_128_GCM_SHA256

JDK:
[code]

Client:
[code]

HANDSHAKEN: TLS_AES_256_GCM_SHA384

[2020-04-08 08:02] LessTalk opened #10173 "keep netty !!!"
I'm in my android project use netty 4.1.45 and i only use mqtt socket function so i need a cut proguard

[2020-04-08 08:03] hyperxpro commented on #10173
Explain in more detail.

[2020-04-08 09:49] normanmaurer commented on #10172
@hyperxpro do you use netty-tcnative-boringssl-static ?

[2020-04-08 09:50] hyperxpro commented on #10172
Yes

[2020-04-08 09:54] normanmaurer commented on #10172
@hyperxpro ok this makes sense... BoringSSL does not allow to configure the cipher explicit and so will select what it things in the best:

https://github.com/netty/netty-tcnative/blob/netty-tcnative-parent-2.0.30.Final/openssl-dynamic/src/main/c/sslcontext.c#L492

And the selection in BoringSSL:

https://boringssl.googlesource.com/boringssl/+/refs/heads/chromium-stable/ssl/handshake_client.cc#234

[2020-04-08 09:54] #10172 closed

[2020-04-08 09:59] normanmaurer commented on #10165
@xxDark I have a hard time to understand what you suggest here... Can you explain in more detail what you think the problem is ?

[2020-04-08 09:59] normanmaurer commented on #10164
@jrhee17 please let me know once you have a PR ...

[2020-04-08 10:48] xxDark commented on #10165
Each titme exception is caught, `AbstractChannelHandlerContext` checks if it is thrown in `exceptionCaught` method, which generates JVM stack trace, and copies it. Both of these operations eats performance.

[2020-04-08 11:13] slandelle commented on #10165
@normanmaurer I think the point is about `inExceptionCaught` that calls `Throwable#getStackTrace()` and hence creates a copy of the StackTrace.

If it's really not possible to do not do such stacktrace inspection (eg use a ThreadLocal), one easy optimization would be to use `StackWalker` in Java 9+.

@xxDark Then, Exceptions are supposed to be exceptional, not a standard flow control mechanism. If

[2020-04-08 12:27] normanmaurer commented on #10165
@slandelle I see...

I think will looking into this and thinking about it I found a bug in the current implementation:

[code]

This currently fails which I think is just not right as `exceptionCaught(...)` should still be called here for the second handler. WDYT @slandelle ?

[2020-04-08 12:51] normanmaurer commented on #10165
Also @trustin @Scottmitch

[2020-04-08 13:13] xxDark commented on #10165
Thrown exceptions are `DecoderException`s, so I can't do really much about that.
Currently I'm cathing all incoming exceptions from client -> server and shutdown channel immediately.

[2020-04-08 13:43] franz1981 commented on #10165
@normanmaurer Not a good practice, but maybe `-XX:-StackTraceInThrowable` can help here (them) :)

[2020-04-08 14:10] jrhee17 commented on #10164
Apologies for the delay -- I was drafting a POC on the client-side library to get a better idea on how this encoder will be used. The PR has been opened 🍀

[2020-04-08 14:29] atorr0 commented on #327
Hi all,

The epoll bug is a well-known one with Java NIO framework, that _seems_ fixed in NIO2.

I hope Netty not having to delve into JNI/JNA/etc. to fix it, but in this case maybe you can even improve it.

More info on #2515

[2020-04-10 06:57] LessTalk commented on #10173
this is my code
-keepclasseswithmembers class io.netty.** { # netty
    *;
}
but i only keep critical code i only use mqtt function

[2020-04-10 07:19] hyperxpro commented on #10173
So you're using Proguard Obfuscator to shrink size of your app.

If you only want MQTT functions then import `codec-mqtt`, `handler` and `buffer`.

Please use Stackoverflow for these types of question.

[2020-04-10 07:20] hyperxpro commented on #10173
@normanmaurer I think we can close this since it's not a Netty bug/problem.

[2020-04-10 14:43] hecenjie opened #10179 "maxCount may be ineffective in some cases"
There is a following segment in `ChannelOutboundBuffer#nioBuffers(int maxCount, long maxBytes)`:
[code]
The last conditional statement means the loop ends when the `maxCount` limit is reached. However, the method `ChannelOutboundBuffer#nioBuffers(ChannelOutboundBuffer.Entry, ByteBuf, ByteBuffer[], int, int)` will be called before checking that, in which `nioBufferCount` may be incremented more tha

[2020-04-10 15:28] gnarea opened #10181 "Workaround to use Netty 4.1 with TLS on Android"
We need to run a gRPC server on Android so we're planning to use Netty for that. Everything seems to work, but we had to change the following:

https://github.com/netty/netty/blob/2b14775446f3f3937ddd6eb6bd7b22686810908f/handler/src/main/java/io/netty/handler/ssl/Conscrypt.java#L59

Because `PlatformDependent.javaVersion() >= 8` won't be true on Android.

Like I've said, things seem to work based

[2020-04-10 15:36] gnarea commented on #8199
See also  #10181

[2020-04-10 15:55] normanmaurer commented on #10181
I think @ejona86 @nmittler did mention that Conscrypt only works on Java8 in general. This may be special for Android tho.. So yep I would be happy to review and merge a PR which special case Android @gnarea

[2020-04-10 16:42] ejona86 commented on #10181
I think we've been able to run Conscrypt with Java 7. I see Conscrypt itself is building with Java 7 bytecode for OpenJDK. It might have been Java 6 that was the problem child, since that was before SSLParameters.setEndpointIdentificationAlgorithm().

Java version checks on Android tend to be "wrong," since Android is simultaneously Java 6, 7, 8, 9, etc depending on which APIs you care about.

[2020-04-10 16:56] ejona86 commented on #10181
Conscrypt [claims Java 7 support](https://github.com/google/conscrypt#download). Only recent changes were to drop Java 6. Java 6 support [was added in 2017](https://github.com/google/conscrypt/commit/401f1c4645f5ec715516ee9674c662448d115e66).

It looks like [this is the source](https://github.com/netty/netty/commit/c4832cd9d989788f32dc1321d3e4c72bffa3587a) of the java 8 check.

[2020-04-10 17:16] gnarea commented on #10181
Thanks for looking into this @normanmaurer and @ejona86! @sdsantos has put a PR together in #10182.

[2020-04-10 23:22] hyperxpro commented on #10114
@yzhang90 Updates?

[2020-04-11 10:12] hyperxpro commented on #2132
@slandelle You wanna try for PR or I should?

[2020-04-11 11:38] GeXin666 opened #10183 "MessageToMessageDecoder has a bug？"
### Expected behavior

### Actual behavior
if ctx.fireChannelRead has throw some execption
the code out.recycle() was not call, Whether the resource is leaked？

`for (int i = 0; i < size; i ++) {
      ctx.fireChannelRead(out.getUnsafe(i));
}
out.recycle();
`
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
MessageToMessageDecoder
`@Override
    public void channel

[2020-04-12 03:02] #10179 closed

[2020-04-13 01:38] ninja- commented on #10165
nice find

[2020-04-13 12:03] LessTalk commented on #10173
thanks

[2020-04-13 12:03] #10173 closed

[2020-04-14 06:53] Neustradamus opened #10184 "Please update Bouncy Castle"
Please update Bouncy Castle
- https://www.bouncycastle.org/
- https://www.bouncycastle.org/releasenotes.html
- http://www.bouncycastle.org/latest_releases.html
- https://www.cvedetails.com/vulnerability-list/vendor_id-7637/Bouncycastle.html

[2020-04-14 07:37] normanmaurer commented on #10184
@Neustradamus we love PRs... The said bouncy castle is an optional dependency anyway

[2020-04-14 07:55] Neustradamus commented on #10184
@normanmaurer: Thanks for your comment!

You can see here in the code:
- https://github.com/search?q=org%3Anetty+bouncycastle&type=Code

[2020-04-14 07:58] Neustradamus commented on #10184
@normanmaurer: Thanks for your comment!

You can see here in the code:
- https://github.com/netty/netty/search?q=bouncycastle&unscoped_q=bouncycastle

I see "1.54", please look previous links.

[2020-04-14 09:20] #10181 closed

[2020-04-14 09:21] normanmaurer commented on #10183
This method should never throw... that said I think it can't hurt to just put it in a finally block

[2020-04-14 09:45] GeXin666 commented on #10183
I see. Thank you so much for your response.

[2020-04-14 09:45] #10183 closed

[2020-04-14 12:23] #10184 closed

[2020-04-14 12:24] lidavidm opened #10187 "Epoll initialization can deadlock if done simultaneously with SSLContext"
### Expected behavior

Initializing Epoll concurrently with SSLContext will not deadlock.

### Actual behavior

Initializing Epoll concurrently with SSLContext can deadlock. This is very similar to #7458. That fixes a deadlock inside `netty_unix_socket.c`. The deadlock here is in `netty_linux_socket.c`.

What seems to happen is the following:

1. Thread 1 loads Netty epoll, which locks Runtime.cla

[2020-04-14 12:33] normanmaurer commented on #10187
@lidavidm hmm... `findClass(...)` should never produce a deadlock. Can you please update to the latest netty version and try again ?

[2020-04-14 14:23] lidavidm commented on #10187
Let me try to get a minimal reproduction and get the GDB stack trace as well. There was definitely a deadlock inside the native initializer, but it's hard to reproduce. For us, explicitly forcing all static initializers to run before we actually started the app stopped the deadlock from occurring.

[2020-04-14 14:33] lidavidm commented on #10187
Okay, time for some debugger shennanigans.

[code]

Run this inside an IDE, then set breakpoints at the following places:

`ClassLoader.class` on the `load0` call

[code]

`IOUtil.class` on the `doPrivileged` and `loadLibrary` call

[code]

Whichever breakpoint triggers first, resume the other thread only. Once both threads are at their breakpoints, first step the Netty thread, then step the IOUti

[2020-04-14 15:10] lidavidm commented on #10187
@normanmaurer here is the stack trace from GDB:

[code]

It seems `FindClass` does acquire a lock.

[2020-04-14 19:53] VaughnVernon commented on #10153
Hi @normanmaurer This is where we are right now. I am amazed that no one else seems to have had this problem with Netty on Heroku. There are all kinds of Heroku H15 errors using various other socket APIs.

https://stackoverflow.com/questions/61215854/heroku-h15-errors-using-java-nio-directly-and-netty

[2020-04-15 04:38] nicktrav opened #10189 "AbstractNioByteChannel allocates direct memory when noPreferDirect is true"
I was digging into an issue where we are seeing native memory allocation even in the case where we explicitly disable it and are just using boring old Nio. I see what appear to be 16MB chunks allocated from the direct arenas.

### Expected behavior

Using the Nio transport does not result in the use of off-heap / native memory.

### Actual behavior

Observed native memory allocations.

### Steps t

[2020-04-15 08:21] #9914 closed

[2020-04-15 11:57] johnou commented on #10187
@lidavidm can you repro this with latest openjdk8?

[2020-04-15 12:06] lidavidm commented on #10187
@johnou no, I am not. I had to change the reproduction to use `Files.newByteChannel` instead of `SSLContext.getDefault` to hit the same breakpoints, and the breakpoint in `ClassLoader` is different:

[code]

I also forgot some details above for reproducing on JDK 11 - make the breakpoint in `ClassLoader` conditional on `this.name.indexOf("epoll") > -1`, and set breakpoints to pause only the thread

[2020-04-15 12:08] normanmaurer commented on #10187
@lidavidm @johnou there is also this https://bugs.openjdk.java.net/browse/JDK-8231584 .... I wonder if its related

[2020-04-15 12:11] lidavidm commented on #10187
Yeah, in JDK8, it looks like `System.loadLibrary` doesn't hold the `Runtime` lock.

[code]

[2020-04-15 12:11] lidavidm commented on #10187
(This is from stopping it in the debugger - both threads proceed normally once unpaused.)

[2020-04-15 12:14] lidavidm commented on #10187
Ah! So it seems this would be fixed by 11.0.7. https://bugs.openjdk.java.net/browse/JDK-8235261

AdoptOpenJDK will have builds ready soon, I can test those as well.

[2020-04-15 12:15] lidavidm commented on #10187
For my edification, how is this different than #7458? It seems to me they have the same underlying cause.

[2020-04-15 12:24] normanmaurer commented on #10187
@lidavidm at the end it is not I think... So #7458 only partly was fixed before I guess.

[2020-04-15 12:25] normanmaurer commented on #10187
@lidavidm let me know once you tested .

[2020-04-15 12:36] lidavidm commented on #10187
Unfortunately, the issue is still there :(  I just tested Azul's builds of OpenJDK 11.

[code]

This time, it deadlocks because even though we aren't locking Runtime, ClassLoader internally synchronizes a Map of loaded libraries to prevent double-loading.

JStack:

[code]

GDB:

[code]
Azul appears to have some symbols - so we can clearly see we're waiting on a class initializer (though unfortunat

[2020-04-15 12:38] normanmaurer commented on #10187
@lidavidm hmm... not sure what I can do about it :/

[2020-04-15 12:45] lidavidm commented on #10187
Would it make sense for Netty (in Java) to "touch" IOUtil somehow to force it to be loaded, before loading Netty's JNI library?

[2020-04-15 12:45] lidavidm commented on #10187
That is the workaround we resorted to - not pretty, but it works in practice.

[2020-04-15 12:48] normanmaurer commented on #10187
@lidavidm yeah I guess that is the best we can do... Let me come up with a pr.

[2020-04-15 12:57] johnou commented on #10187
@lidavidm since it's not fixed in 11.0.7 can you reach out to the openjdk devs on the mailing list?

[2020-04-15 13:14] lidavidm commented on #10187
Now that I look more closely, the JDK bug report is not quite what we are doing: we have a deadlock between findClass and loadLibrary, not findLibrary and loadLibrary. As in, here, we have somewhat of a circular dependency between two classes. Is this still worth reaching out to the mailing list about, or would it be considered user error? Though it does still seem to be a regression from JDK8.

[2020-04-15 13:16] normanmaurer commented on #10187
@lidavidm can you check https://github.com/netty/netty/pull/10190 ?

[2020-04-15 13:16] lidavidm commented on #10187
I will give it a test, thank you!

[2020-04-15 15:40] johnou commented on #10187
@lidavidm thanks for such a detailed bug report.

[2020-04-15 15:42] nicktrav commented on #10189
Re-reading this again now with fresh eyes, it seems like this is by design, and the Nio channel wants to convert into a direct buffer in the outbound direction.

Comment still stands about the behavior being surprising - disabling the direct memory preference resulted in direct memory still being allocated.

[2020-04-15 22:08] lidavidm commented on #10187
Thank you both for the quick response and suggestions!

[2020-04-16 02:29] jliu1970 opened #10191 "io.netty.handler.codec.CodecException: invalid WebSocket Extension handshake for "permessage-deflate; server_no_context_takeover; client_no_context_takeover""
### Expected behavior
Connection established successfully
### Actual behavior
io.netty.handler.codec.CodecException: invalid WebSocket Extension handshake for "permessage-deflate; server_no_context_takeover; client_no_context_takeover"
	at io.netty.handler.codec.http.websocketx.extensions.WebSocketClientExtensionHandler.channelRead(WebSocketClientExtensionHandler.java:110)
	at io.netty.channel.Abs

[2020-04-16 06:41] #10187 closed

[2020-04-16 07:35] #10164 closed

[2020-04-16 07:40] fabienrenaud opened #10192 "LEAK between HttpRequestDecoder and HttpObjectAggregator in pipeline"
### Expected behavior

No ByteBuf leak from early Netty pipeline.

### Actual behavior

Leak detected in advanced detected mode:
[code]

Notes:
 * `HttpRequestDecoder` is the last "touched" call. If the request had passed it, a `Server.HttpObjectAggregator` access would be in the trace.
 * This happens "very rarely" but does happen consistently after some time. With the leak detector configured to

[2020-04-16 16:18] jliu1970 commented on #10191
please help to advise. Thanks, Jimmy

[2020-04-16 18:02] zzmao opened #10193 "HTTP2 performance on client side"
### Background:
We are trying to adopt Netty based http2(SSL) to our [project](https://github.com/linkedin/ambry).
The use case is: a router connects many data nodes and send/receive requests.
The router is a Netty http2 based client and data nodes are netty http2 based servers.

The initial implementation is [done](https://github.com/linkedin/ambry/blob/master/ambry-network/src/main/java/com/gith

[2020-04-16 23:53] zzmao commented on #10193
Added a stream channel handler before `Http2StreamFrameToHttpObjectCodec` to measure the time from request send out to first frame received.
[code]

It turns out the time from request send out to first frame received is very small.
The time from the first frame received to all frames aggregated to a HttpObject is big.

Going to investigate why frames to http object aggregation takes such a long ti

[2020-04-17 13:00] szegedi opened #10194 "CompositeByteBuf.addComponent doesn't guard agaist overflow"
### Expected behavior

`CompositeByteBuf.addComponent` should throw an exception when adding a component overflows the maximum size of the buffer (`Integer.MAX_VALUE`).

### Actual behavior

Both `writableBytes` and/or `readableBytes` (depending on setting for `increaseWriterIndex`) as well as `capacity` overflow into negative numbers.

### Steps to reproduce

Run the reproducer in scala. Use a hi

[2020-04-17 13:02] normanmaurer commented on #10194
@szegedi sounds like a bug... would you be interested to provide a PR ?

[2020-04-17 13:18] szegedi commented on #10194
I can try. Seems to me like calling `AbstractByteBuf.checkIndex` from `CompositeByteBuf.addComponent0` is the right solution.

[2020-04-17 13:37] normanmaurer commented on #10191
@amizurov can you help ?

[2020-04-17 13:41] normanmaurer commented on #10192
Can you run with `paranoid` ?

[2020-04-17 13:44] #10165 closed

[2020-04-17 13:48] amizurov commented on #10191
@normanmaurer yes, I'll try to help soon.

[2020-04-17 13:48] jliu1970 commented on #10191
Thanks, @normanmaurer !

[2020-04-17 13:59] jliu1970 commented on #10191
Thanks, @amizurov

[2020-04-17 15:08] amizurov commented on #10191
@jliu1970 Hi, Did you play with this variables and set them to `true` ? https://github.com/netty/netty/blob/37948bc9debb3646150365e21da5d38342bbb3c5/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/extensions/compression/PerMessageDeflateServerExtensionHandshaker.java#L133-L134

[2020-04-17 15:54] jliu1970 commented on #10191
Thanks so much for the advice, Andrey.
I haven't tried that. I am very new to Netty and here is my understanding of overwrite the default serverNoContext and clientNoContext setting:

create a child class of WebSocketClientExtensionHandler, in the constructor, use the new instance of PerMessageDeflateClientExtensionHandshaker that has the serverNoContext and clientNoContext set to true. Add the ne

[2020-04-17 16:44] fabienrenaud commented on #10192
No I can't. From what i read about the leak detector, `paranoid` would just give a better sense of frequency, but the stack trace would be just the same.

[2020-04-17 17:36] jliu1970 commented on #10191
Please comment, @amizurov

[2020-04-17 18:42] amizurov commented on #10191
For clarification, I meant that if you did not change the source code(I wrote above) and just played with examples so such exception: ```io.netty.handler.codec.CodecException: invalid WebSocket Extension handshake for "permessage-deflate; server_no_context_takeover; client_no_context_takeover" ```should not happened.

Could you please provide reproducer client and server.

[2020-04-17 18:53] jliu1970 commented on #10191
Thanks for the response, @amizurov . I did not change the source code.

The source client code is the one that I posted in the initial question. However, the server code was from a third party software that I don't have access to.

Thanks
Jimmy

[2020-04-17 19:06] amizurov commented on #10191
Hmm looks like your third party server send in handshake response extensions (permessage-deflate; server_no_context_takeover; client_no_context_takeover) even if client is not requested it.

@jliu1970 Could you please create your own CompressionHandler and enabled (client_no_context_takeover, server_no_context_takeover) e.g:
[code]

[2020-04-17 19:50] zzmao commented on #10193
Did a single 150KB GET test.
It looks like netty break data to 16KB frame by default:

[code]

Need to change this config.

[2020-04-17 21:14] jliu1970 commented on #10191
Thanks so much for the advise, @amizurov . I will proceed as you suggested and let you know.
Have a nice weekend,
Jimmy

[2020-04-19 12:09] luanmenglei opened #10195 "io.netty.channel.unix.errors$nativeioexception"
### Expected behavior
Player connect to another server
### Actual behavior
Throw io.netty.channel.unix.errors$nativeioexception
### Steps to reproduce
This is a random error
### Minimal yet complete reproducer code (or URL to code)
I'm using waterfall(A Minecraft server bridge) https://github.com/PaperMC/Waterfall
### Netty version
4.1.48.Final
### JVM version (e.g. `java -version`)
java version "

[2020-04-19 12:57] luanmenglei commented on #10195
I put this issue in the wrong place, sorry

[2020-04-19 12:58] #10195 closed

[2020-04-20 01:16] jliu1970 commented on #10191
Thanks so much, @amizurov. The solution worked for me 👍

[2020-04-20 01:16] #10191 closed

[2020-04-20 06:19] ninja- commented on #10193
I dont know netty http stack well but isn't 16k socket read buffer size?

[2020-04-20 06:47] zzmao commented on #10193
@ninja- socket buffer is configurable. I changed it to 1MB in my test.
After some reading, it looks like frame is determined by WINDOW_SIZE.  Then I tried to set WINDOW_SIZE to 1MB, but frame size is limited to 64KB for some reason.
[code]

[2020-04-20 11:58] normanmaurer commented on #10194
@szegedi https://github.com/netty/netty/pull/10197 PTAL

[2020-04-20 20:06] grishasht commented on #10135
Sorry for the late response

So, this proposal must be mine? Or can I choose some issues from the list?

[2020-04-21 01:59] ninja- commented on #10193
Where exactly is the WINDOW_SIZE variable? I don't see anything in netty code after searching for that const

[2020-04-21 06:46] normanmaurer commented on #10135
@grishasht sorry but its too late now... The submission deadline for GSOC is over.

[2020-04-21 06:46] #10135 closed

[2020-04-21 10:04] #10194 closed

[2020-04-21 10:17] normanmaurer commented on #10192
@fabienrenaud nope the stack traces would include not just release and retain but also other operations which would make things more clear

[2020-04-21 14:50] hexstia opened #10199 "How to writeandflush() send data directly to the remote end instead of through the channeloutboundbuffer"
When I send small byte data through netty, data merging occurs. The receiving end needs to wait a long time to receive a large data block that has been merged. I don't want to have merged data, and I need to send it in real time。
How can I do it? Thank you for telling me

[2020-04-21 16:48] fabienrenaud opened #10200 "HttpPostRequestDecoder: copy-free implementation"
`HttpPostRequestDecoder` decoder implementations (`HttpPostStandardRequestDecoder` and `HttpPostMultipartRequestDecoder`) both do a full copy of the `ByteBuf` before decoding.

[code]

https://github.com/netty/netty/blob/dcbfe17eeb588a8ba2acb95800776526d01cc5a2/codec-http/src/main/java/io/netty/handler/codec/http/multipart/HttpPostStandardRequestDecoder.java#L283
https://github.com/netty/netty/blo

[2020-04-21 22:23] zzmao commented on #10193
@ninja-
Here is a start point:

[code]

[2020-04-21 22:27] zzmao commented on #10193
Update:
I thought window size is not honored, but by looking at netty code:
Window size is considered but it's masked by WriteBufferHighWaterMark(min of window size and WriteBufferHighWaterMark). WriteBufferHighWaterMark default value is 64KB.
After setting WriteBufferHighWaterMark to a higher number, I can see a large frame being sent.
Based on the code, I think Netty deliberately did this for so

[2020-04-21 23:06] ninja- commented on #10193
Did you get a better performance after changing that?

[2020-04-22 04:24] landon30 commented on #8439
1. [Loom Early-Access](http://jdk.java.net/loom/) build on jdk15. and i guess the GA release will be in jdk17,2021,next jdk lts.
2. we can try kotlin coroutine with vertx.
3. loom is the ulimate concurrency solution

[2020-04-22 07:44] RoganDawes commented on #10199
`writeAndFlush()` should put the data on the wire, that's what the `Flush` part means. Check with tcpdump exactly what is going on, perhaps?

[2020-04-22 10:54] normanmaurer commented on #10199
also depending on the pattern you may want to experiment with `TCP_NO_DELAY`

[2020-04-22 10:54] #10199 closed

[2020-04-22 10:56] #5070 closed

[2020-04-22 11:03] hexstia commented on #10199
I've tried TCP? Nodely, but I can't

[2020-04-22 11:07] hexstia commented on #10199
I try to read the netty source code and find that there is a do while and LinkedList in addflush() in the channeloutboundbuffer, and then the real write of DoWrite. I don't know if it's the reason here. I guess it's because of outboundbuffer that I can't write data in time. Instead, aggregate small data blocks and send them

[2020-04-22 17:31] szegedi commented on #10194
@normanmaurer thanks for the super-quick turnaround on this one!

[2020-04-22 19:46] fabienrenaud opened #10202 "DNS Resolver - Honor etc/resolv.conf options timeout, rotate and attempts"
[/etc/resolv.conf](https://linux.die.net/man/5/resolv.conf) options support `timeout`, `rotate` and `attempts` but the [UnixResolverDnsServerAddressStreamProvider](https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/UnixResolverDnsServerAddressStreamProvider.java#L292) ignores these options.

These should be parsed and used accordingly to their documented behav

[2020-04-22 19:52] fabienrenaud opened #10203 "DNS Resolver - Lazy update expired DNS records"
The current [DefaultDnsCache](https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/DefaultDnsCache.java) eagerly clear expired DNS cache entries, forcing the resolver to hit the DNS servers for new ones.

Given the current implementation of [DnsNameResolver](https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/DnsNameResolver.

[2020-04-23 02:58] jiemar opened #10204 "can netty take over jvm's memory allocation when new a object?"
### Expected behavior
when new a object , jvm will allocate memory at heap, it cause  gc overhead.
As we know, netty  manages a memory pool. netty can allocate and deallocate memory when using ByteBuf.
Could netty take over jvm's default behavior of allocate memory when new object?
when new a object, netty allocate memory at pool.
when object is release ,  netty gets the memory returned to pool.

[2020-04-23 03:05] carryxyh commented on #10204
I believe this is impossible and meaningless.

[2020-04-23 03:34] jiemar commented on #10204
i believe it is meaningful considering long live objects. Ehcache、MapDB、Chronicle Map can do this, but they don't have memory pool concept at off-heap

[2020-04-23 03:44] jiemar commented on #10204
i believe it is meaningful considering long live objects. Ehcache、MapDB、Chronicle Map can do this by allocating an object 's memory at off-heap, but they don't have memory pool concept at off-heap

[2020-04-23 06:07] normanmaurer commented on #10204
Its impossible

[2020-04-23 06:07] #10204 closed

[2020-04-23 06:46] normanmaurer commented on #10202
@fabienrenaud we love contributions :) So if you are interested maybe you want to provide a PR

[2020-04-23 06:48] normanmaurer commented on #10194
@szegedi no problem ... happy to help. Would love to hear more about how faunadb uses netty :)

[2020-04-23 06:53] timandy opened #10205 "Improve performance of Unpooled.copiedBuffer from CharSequence and char[]"
Hi, there. As we known `ByteBufUtil.wirteUtf8()` is faster than `ByteBufUtil.encodeString()` when the charset is `UTF-8`.
So, If we add some code in `Unpooled.copiedBuffer(CharSequence string, Charset charset)`  method to predicate the `charset` is `UTF-8` or not. If true call `ByteBufUtil.writeUtf8` method . This will improve the perf evident

Affected methods:

[2020-04-23 06:56] normanmaurer commented on #10205
@timandy we love contributions... PRs welcome

[2020-04-23 07:26] timandy commented on #10205
[code]
[code]

[2020-04-23 09:23] timandy commented on #10205
If use heap buffer, the perf is better.

[code]

[2020-04-23 09:28] normanmaurer commented on #10203
@fabienrenaud PRs welcome... That said you still will need to bound the cache somehow.

[2020-04-23 09:56] timandy commented on #10205
@normanmaurer  Ok, I will make a PR latter.

[2020-04-23 10:03] normanmaurer commented on #10205
@timandy don't worry... I have it almost done here :)

[2020-04-23 10:28] szegedi commented on #10194
In one word: heavily 😄. All of network communication is async I/O based on Netty socket channel handler pipelines. We use the ByteBuf API pervasively too even outside of immediate domain of networking (disk I/O, internal transformations). It's a nice (consistent, comprehensive, easy to understand) API to manipulate byte-based data, and if we're smart about it then we also minimize copying when it'

[2020-04-23 10:43] normanmaurer commented on #10205
@timandy https://github.com/netty/netty/pull/10206 PTAL

[2020-04-23 11:58] #8279 closed

[2020-04-23 15:47] #10205 closed

[2020-04-24 05:42] fabienrenaud commented on #10202
PR: https://github.com/netty/netty/pull/10207

[2020-04-24 12:27] timandy commented on #10046
try add
`
ThreadContext.put("channelId", channel.id().asShortText());
try {
    // Service channel...
} finally {
    ThreadContext.remove("channelId");
}
`
to channelRead method of your business handler

[2020-04-24 17:38] rekalov opened #10214 "Identifying security related exceptions on failed TLS handshake"
Hi,

Is there a reliable way to distinguish security related exceptions from the rest (transport etc) in unsuccessful `SslHandshakeCompletionEvent`?

We'd like to block further re-connections to locations presenting invalid/unmatched certificates, but not honest handshake communication errors and timeouts.
In other words if the protocol appears to have proceeded without any erroneous behaviour, bu

[2020-04-25 01:43] apa7 opened #10216 "Not support for SSLV2"
Does not support the  protocol-sslv2, breakpoint debugging found that byte [0] is not 22 but -128.
In other words, byte [0] =-128 cannot be accurately identified as SSL2hello.

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.48
### JVM version (e.g. `java -version`)
jdk11
windows  sslv2 protocol

[2020-04-25 08:32] hyperxpro commented on #10216
AFAIK, SSLv2 is not supported. OpenSSL also dropped its support long ago.

[2020-04-25 20:46] fabienrenaud commented on #10203
@normanmaurer I created a draft PR for the change. Looking for early feedback at this point.

I'm introducing a concept of hard/soft expiry for the cached DNS entries controlled by a `gracePeriodTtl` configurable at the cache and DnsNameResolverBuilder level.

Questions:
 - How does this approach look like to you?
 - Would it be okay to merge `ExpirableDnsCacheEntry` and `DnsCacheEntry` interfaces

[2020-04-26 18:45] hyperxpro commented on #10214
Nice idea but there is no reliable way yet to get detailed information about TLS failures.

[2020-04-27 10:50] igor-lukyanov opened #10220 "Netty stops closing sockets and starts burning 100% CPU"
We develop a pretty high-loaded proxy service based on netty (≈15-20k simultaneous open sockets per process). We encountered a bug when under some rare circumstances netty starts to burn 100% CPU and stops closing sockets, twice during last month and on different hosts.

Stacktrace of the stuck thread
[code]

### Expected behavior
Normally lsof -i -a -n -p gives zero sockets in CLOSE_WAIT state.

[2020-04-27 11:54] normanmaurer commented on #10220
@igor-lukyanov thats interesting... do you have a full thread-dump ? How did you "detect" that the included thread-dump is the one to blame ?

[2020-04-27 11:55] normanmaurer commented on #10216
@apa7 this is expected... if I understand what you asking for correctly

[2020-04-27 11:55] #10216 closed

[2020-04-27 12:27] igor-lukyanov commented on #10220
@normanmaurer Using htop, it was the thread eating 100% CPU.
I called jstack multiple times and the call stack of this thread was the same, so it was apparently stuck in an infinite loop somewhere inside DnsResolveContext.internalResolve.
[jstack.txt](https://github.com/netty/netty/files/4539548/jstack.txt)

[2020-04-27 12:39] normanmaurer commented on #10220
@igor-lukyanov perfect... let me dig in...

[2020-04-27 13:16] normanmaurer commented on #10220
@igor-lukyanov ok I think I know what the problem is... stay tuned.

[2020-04-27 14:23] normanmaurer commented on #10220
@igor-lukyanov https://github.com/netty/netty/pull/10221 PTAL

[2020-04-27 16:47] igor-lukyanov commented on #10220
@normanmaurer thank you for the instant solution.

[2020-04-27 16:47] #10220 closed

[2020-04-28 06:10] zzmao commented on #10193
@ninja-  Get some numbers just now!

I changed maxFrameSize, window size, Netty recv buffer and OS TCP max_rmem to 1MB.
These change reduced GET P95 latency to 30ms from 1000ms+!

With these changes, CPU usage go up to 35% from 5%.

[2020-04-28 07:28] #10202 closed

[2020-04-28 10:11] ppluck opened #10224 "FixedChannelPool pool.acquire().syncUninterruptibly().get() blocked for ever"
### Expected behavior
       expect can get the connection
### Actual behavior
      wait for ever.  blocked.  The problem happened in  DefaultPromise.awaitUninterruptibly(), Line number 274  (wait());  The same problem happened in DefaultPromise.await().
### Steps to reproduce
    env : http://127.0.0.1/test.txt  can access
    FixedChannelPool  or  SimpleChannelPool has the same problem.
    no

[2020-04-28 10:15] ppluck commented on #10224
Who can help me? Thank you.

[2020-04-28 12:30] ninja- commented on #10193
That much difference is surprising to me...I wonder if there isn't some bug involved...

[2020-04-28 12:33] ninja- commented on #10193
Maybe it's worth profiling both versions to see where the time goes?

[2020-04-28 15:16] normanmaurer commented on #10203
@fabienrenaud I left comments on the PR #10218

[2020-04-28 16:30] zzmao commented on #10193
It's also surprise to me, but same behavior was noticed in our original Java socket based implementation.

Do you have any suggestion on how to profiling?

[2020-04-29 01:21] fabienrenaud commented on #8838
PR: https://github.com/netty/netty/pull/10228

[2020-04-29 02:55] ppluck commented on #10224
This problem has been solved.
The cause is :
netty 4.1.49  : When the ChannelPoolHandler(Implementation class).channelcreated method is called, the ChannelPoolHandler(Implementation class).channelacquired method will be called.
netty  :  When the ChannelPoolHandler(Implementation class).channelcreated method is called, the ChannelPoolHandler(Implementation class).channelacquired method will not be

[2020-04-29 02:55] #10224 closed

[2020-04-29 07:45] jiemar opened #10230 "what would happenned when pooled memory's remaining size is not enough"
PooledByteBufAllocator.newDirectBuffer(initialCapacity, maxCapacity)

if the remaining size of memory pool is below initialCapacity, what would happend when i call the method?
it will blocked the caller until the memory pool 's remaining size turns ok, or throw an oom?

does it mean  i need to keep a atomlong variable to calculate all the bytebufs i have allocated and
the sum size must below off-h

[2020-04-29 10:10] zhenjunMa commented on #10230
in my idea:
1. throw OOM
you can read codes in class: `DirectArena`  method: `allocateDirect`

2. how to avoid the OOM is just like java, if you get an OOM error,
first you should check your code, maybe it has memory leak problem
second you must add the memory size use `-Dio.netty.maxDirectMemory`

[2020-04-29 11:22] zhousiliang163 commented on #9954
How did you solve the problem？

[2020-04-29 16:25] hyperxpro commented on #8539
Is this in milestone for 5.0.0.Final?

[2020-04-29 17:48] manikantag opened #10233 "Documentation: Architectural Overview of 4.1 is liked to 3.8 version"
I'm going through 4.1 user guide (https://netty.io/wiki/user-guide-for-4.x.html), but 'Chapter 2, Architectural Overview' link is taking me to https://netty.io/3.8/guide/#architecture which is for 3.8 version.

Is the link broken or 3.8 guide still holds good for 4.1? At least the package names and few class names seems outdated. Thanks.

_I did some search and found these related ones: https://gi

[2020-04-30 07:54] raghavb1979 commented on #9768
Hello I am also facing a similar issue when took a heap dump and checked in the eclipse MAT it is showing the leak as io.netty.buffer.PoolChunk ( 54.28%) occupied. Is there any way to trace this problem? Does this problem will get solved by defining -Dio.netty.allocator.numHeapArenas=0?
Please let me know.

[2020-04-30 10:17] iamtakingiteasy opened #10235 "Server http cookie Max-Age=0 RFC6265; EID3430"
### Expected behavior
When using strict mode of ServerCookieEncoder, Max-Age=0 should not be part of the encoded header value as per https://www.rfc-editor.org/errata/eid3430

### Actual behavior
Max-Age=0 added even in strict mode.

### Steps to reproduce
1. create cookie, set max-age to 0
2. encode it using strict server cookie encoder

### Minimal yet complete reproducer code (or URL to code)

[2020-04-30 10:50] normanmaurer commented on #10235
@slandelle can you have a look ?

[2020-04-30 10:56] slandelle commented on #10235
Status of errata Errata 3430 is Rejected.

[2020-04-30 11:07] slandelle commented on #10235
I really wonder about this.
AFAIK, sending a Set-Cookie header with a max-age <=0 or an expires date in the past is a very common way for servers to have the user-agent forcefully revoke cookies, typically on graceful log out.

[2020-04-30 14:28] iamtakingiteasy commented on #10235
Errata itself is rejected because it proposes to change format from

to

Which is not correct, as it makes impossible to send, say Max-Age=5.

But still, underlying RFC states Max-Age as starting from non-zero digit, and note in mentioned errata highlights that, also reminding  to be strict when sending and permissive when receiving.

The fact most user agents (receivers) are permitting zero-value

[2020-04-30 14:33] iamtakingiteasy commented on #10235
Besides, Max-Age=0 even with Expires set in the past can cause issues with at least for some of chromium builds as per old bug https://bugs.chromium.org/p/chromium/issues/detail?id=416800 and this matrix https://inikulin.github.io/cookie-compat/

[2020-04-30 15:22] ninja- commented on #10193
YourKit profiler maybe if that's what you are asking

[2020-04-30 16:10] xxDark opened #10236 "Utf8Validator should not trigger on private use area"
### Expected behavior
Utf8Validator does not threat UTF-8 private use characters as invalid

### Actual behavior
Invalid UTF-8 exception is thrown

### Steps to reproduce
Pass any private use character to Utf8Validator, checks will fail

### Minimal yet complete reproducer code (or URL to code)
See steps to reproduce

### Netty version
4.1.49.Final

Edit: see https://en.wikipedia.org/wiki/Private_

[2020-04-30 16:28] #10236 closed

[2020-04-30 16:29] xxDark commented on #10236
Will close that until we investigate.

[2020-04-30 20:14] slandelle commented on #10235
When it comes to cookies, browsers first implement things, and then new behavior becomes official and turned into an RFC update. RFC6265 sadly lags behind, see for example how things happened for `SameSite`.

Your compatibility matrix shows forcefully expiring a cookie with a max-age <=0 is a feature supported in Safari 9 (current is 13), Chrome 49 (current is 81) and FireFox 44 (current is 75).
T

[2020-05-01 07:04] Nineee opened #10238 "http request json data contains '=' will appear io.netty.handler.codec.http.multipart.HttpPostRequestDecoder$ErrorDataDecoderException: java.io.IOException: Unable to create temporary file"
### http request exception

### json data contains '=' will apperr

### Netty 4.1.48

### JVM version (e.g. `java -version`)

 io.netty.handler.codec.http.multipart.HttpPostRequestDecoder$ErrorDataDecoderException: java.io.IOException: Unable to create temporary file

[2020-05-01 07:24] zenios opened #10239 "Native.epollWait0 block and high cpu"
Hi All

I am using netty (4.1.48.Final) with vertx and on random intervals i get very high cpu spikes and the following error messages

[code]

These two logs happened at a a time were the system was more or less idle

Some more info

[code]

Any idea what could be causing this blocks or some hints on how to investigate what is happening?

Thanks

[2020-05-01 10:06] timandy opened #10240 "Failed to mark a promise as failure"
### Exception stacktrace
 17:46:00.505 [] [work-6-5] WARN  i.n.channel.ChannelOutboundBuffer - Failed to mark a promise as failure because it has failed already: DefaultChannelPromise@7caeb396(failure: io.netty.handler.codec.http.websocketx.WebSocketHandshakeException: send close frame timed out), unnotified cause: io.netty.handler.codec.http.websocketx.WebSocketHandshakeException: send close fram

[2020-05-01 10:53] timandy commented on #10240
By the way , Some `channnel.close()` may be called in the business thread pool which type is DefaultEventExecutorGroup.

[2020-05-01 13:33] amilcar-andrade commented on #9540
@normanmaurer small question for you. Is Happy Eyeball's support going to be in the `4.1.49` released or that would be in the 5.0.0 one? Thanks in advance.

[2020-05-01 13:43] runzhiwang opened #10241 "Why EventLoopGroup takes 1 second to awaitTermination ?"
Netty version 4.1.48.Final

EventLoopGroup cost one second to finish awaitTermination, Could someone explain me the reason ?

The close order is:
1. EventLoopGroup::close
2. EventLoopGroup::awaitTermination(5000, TimeUnit.MILLISECONDS);

[2020-05-01 16:28] ninja- commented on #10241
AFAIK it was hardcoded value to kill everything if something isn't properly cleaned up first. maybe you need to shutdown listening channels as well?

[2020-05-01 16:30] ninja- commented on #10239
epollWait always shows up as consuming majority of the cpu or stacktrace and that means nothing.
you should start by digging deeper, for example by using a profiler

[2020-05-01 17:31] zenios commented on #10239
The problem here is not the high cpu usage but why its blocking the event loop. In the second stack trace it takes more than 20 s for the eventloop to unblock

Is this a case of a spinning selector?

p.s: I assume the high cpu usage is the consequence of the block and not an issue as such

[2020-05-01 19:15] ninja- commented on #10239
I don't think that's accurate. Probably vertx BlockedThreadChecker returns some garbage data.

[2020-05-02 01:34] runzhiwang commented on #10241
@ninja- Thanks for response. I'm not sure I have closed everything. If you do not mind, could you help review my code [closeImpl](https://github.com/apache/incubator-ratis/blob/master/ratis-netty/src/main/java/org/apache/ratis/netty/server/NettyRpcService.java#L145).

[2020-05-02 16:29] atalasuibm opened #10243 "Setting jdk.tls.client.protocols system property to TLSv1.2 not working in netty 4.1.48"
We are using the Redisson client, which uses netty to connect to a Redis server. With netty 4.1.42.Final, everything worked fine. But after upgrading to netty 4.1.48.Final, TLSv1 ClientHello is sent and therefore not able to connect to the server. Tried specifying TLSv1.2 by setting jdk.tls.client.protocols system property, but netty doesn't seem to be honoring it. The latest version that worked i

[2020-05-03 01:24] atalasuibm commented on #10243
Turns out that this happens with IBM JSSE2 Provider. By default, TLSv1 is enabled. To enable TLS V1.0, V1.1, and V1.2, the com.ibm.jsse2.overrideDefaultTLS system property needs to be set to true.

[2020-05-03 01:24] #10243 closed

[2020-05-03 04:10] windyrjc commented on #8503
@asdf2014 find your netty-trasport-native-unix-common/pom.xml file.In mac profile find "CFLAGS" env and add these two directory like this:
 <env key="CFLAGS" value="-O3 -Werror -Wno-attributes -fPIC -fno-omit-frame-pointer -Wunused-variable -fvisibility=hidden -I/Library/Java/JavaVirtualMachines/jdk1.8.0_172.jdk/Contents/Home/include -I/Library/Java/JavaVirtualMachines/jdk1.8.0_172.jdk/Contents/Ho

[2020-05-04 05:23] aishwaryabk opened #10244 "Feature request: to publish binary for PowerPC ppc64le architecture"
###  **Expected Behaviour**

Publish a binary for PowerPC ppc64le architecture

### **Current Behaviour**

No binary available

[2020-05-04 05:50] hyperxpro commented on #10244
You can build binary by yourself.

[2020-05-04 09:52] aishwaryabk commented on #10244
@hyperxpro Actually, we are hoping for official binaries to set up CI for Power.

[2020-05-04 11:03] hyperxpro commented on #10244
TBH, there is no difference in binary if you build by yourself. ppc64le architecture is not as popular as amd64 or arm so chances of official build is fairly low.

[2020-05-04 18:39] rdicroce opened #10245 "NPE in CompositeByteBuf when reading from channel"
### Expected behavior
There should not be a NullPointerException.

### Actual behavior
A NullPointerException occurs:
[code]

### Steps to reproduce
Not entirely clear. A coworker discovered that this happens sometimes with very high throughput. After scrutinizing the code a bit, I suspect this is a regression introduced by #8939. The only way a NPE could occur at line 893 is if the components arr

[2020-05-04 18:47] rdicroce commented on #10245
Coworker reports that this NPE does not occur anymore after downgrading Netty to 4.1.34.Final, which is the last version before #8939.

[2020-05-04 19:31] hyperxpro commented on #10245
High throughput in sense of Bandwidth or Connections?

[2020-05-04 19:33] rdicroce commented on #10245
Bandwidth. AIUI he had a simulator running that only created one connection but was sending messages constantly.

[2020-05-04 19:35] njhill commented on #10245
@rdicroce sorry about this. Your analysis looks correct to me and this appears to be an oversight. WCBB instances need to be unwrapped here. I will provide a fix asap.

One way to work-around in the meantime would be to run with `-Dio.netty.leakDetection.level=disabled`

[2020-05-04 23:08] kireet opened #10246 "StackOverflowError during DnsResolution"
### Expected behavior
The DNS resolution should succeed.
### Actual behavior
A stack overflow error occurs:

[code]

### Steps to reproduce
unfortunately i am not able to provide reproduction steps.

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.43.Final

### JVM version (e.g. `java -version`)
1.8.0_212-b10

### OS version (e.g. `uname -a`)
Linux 3.10.0-514.26.2.

[2020-05-04 23:08] kireet commented on #10246
The repeating `DnsResolveContext$4.cache` was confusing for me. I don't see how this line could call itself.

[2020-05-05 03:04] njhill commented on #10245
@rdicroce @normanmaurer please see #10247

[2020-05-05 07:11] normanmaurer commented on #10246
@kireet please update to the latest netty version to ensure this problem still exists. Also please provide a more detailed stack trace.

[2020-05-05 07:22] normanmaurer commented on #10240
Yep that is a bug... looking into it

[2020-05-05 09:21] normanmaurer commented on #10241
You can use `EventLoopGroup.shutdownGracefully(...)` and pass in the amount of timeout

[2020-05-05 09:21] #10241 closed

[2020-05-05 09:22] normanmaurer commented on #10239
Please report this to `vertx`. It is expected that this method may block for a long period of time.

[2020-05-05 09:22] #10239 closed

[2020-05-05 09:23] normanmaurer commented on #10230
it throws.

[2020-05-05 09:23] #10230 closed

[2020-05-05 09:24] normanmaurer commented on #10145
Let's close this... the students were selected for GSOC

[2020-05-05 09:24] #10145 closed

[2020-05-05 09:24] normanmaurer commented on #10142
Let's close this... the students were selected for GSOC

[2020-05-05 09:25] normanmaurer commented on #10140
Let's close this... the students were selected for GSOC

[2020-05-05 09:25] #10140 closed

[2020-05-05 09:25] normanmaurer commented on #10131
Let's close this... the students were selected for GSOC

[2020-05-05 09:25] #10131 closed

[2020-05-05 09:25] normanmaurer commented on #10139
Let's close this... the students were selected for GSOC

[2020-05-05 09:25] #10139 closed

[2020-05-05 09:26] normanmaurer commented on #10116
Let's close this... the students were selected for GSOC

[2020-05-05 09:26] #10116 closed

[2020-05-05 09:26] normanmaurer commented on #10088
Let's close this... the students were selected for GSOC

[2020-05-05 09:26] #10088 closed

[2020-05-05 11:56] #10245 closed

[2020-05-06 08:32] louxiu opened #10251 "WeakOrderQueue.transfer is 1st Hot Method"
### Expected behavior
4.1.44.Final should work same as 4.0.49.Final(WeakOrderQueue#transfer)
Hot threads and methods in 4.0.49
![WeChatWorkScreenshot_d5769c74-31b4-42a2-abe5-2f288a4ec14f](https://user-images.githubusercontent.com/925154/81154179-3ee16480-8fb6-11ea-95cc-f6ca842fd9c0.png)

### Actual behavior
4.0.49.Final works better than 4.1.44.Final
Hot threads and methods in 4.1.44
![WeChatWorkS

[2020-05-06 08:36] normanmaurer commented on #10251
@louxiu please update to latest 4.1.x release first and report back if you still think there is a problem.

[2020-05-06 08:37] louxiu commented on #10251
This commit(71860e5b94dbc665fdb8d279d3780d6fe1c618ea) in 4.1.x will reduce the effective of recycle object. After disable drop in WeakOrderQueue. The problem seems disappear.

![WeChatWorkScreenshot_159e5dbf-6f96-496e-aa12-016bc84eec6a](https://user-images.githubusercontent.com/925154/81155433-83b9cb00-8fb7-11ea-96d5-6cb32ef8433a.png)

![WeChatWorkScreenshot_e92cc6c2-52a7-486d-92ff-b4e0cd4956a7](h

[2020-05-06 08:42] normanmaurer commented on #10251
@louxiu I happy to review a PR... that said I think you could just adjust the `ratioMask` ?

[2020-05-06 08:50] louxiu commented on #10251
I also tried `-Dio.netty.recycler.ratio=1` or `-Dio.netty.recycler.ratio=2`, but without luck.

Hot method with `-Dio.netty.recycler.ratio=1`
![WeChatWorkScreenshot_30a3fd88-af79-4f8f-b9ec-fa62a7f5410a](https://user-images.githubusercontent.com/925154/81157129-3f2f2f00-8fb9-11ea-9b02-67ed18f89b6d.png)

Hot method with `-Dio.netty.recycler.ratio=2` or 4
![WeChatWorkScreenshot_bcf9e8cc-5f94-4b98-920

[2020-05-06 08:51] louxiu commented on #10251
Tried that, but without luck. It's quite weird.

[2020-05-06 08:54] louxiu commented on #10251
After spent a lot time, add an option to disable drop in `WeakOrderQueue` is the only solution I could do. I am glad to create a PR. Do you think it is an acceptable change? @normanmaurer

[2020-05-06 11:37] louxiu commented on #10251
Stress test with latest version(4.1.49.Final), the problem still exists.
![WeChatWorkScreenshot_f3f700b3-73a8-474f-9ce9-ea06957dd5f9](https://user-images.githubusercontent.com/925154/81172487-e7042700-8fd0-11ea-88f5-f39751a96e11.png)

[2020-05-06 11:45] praveens4all opened #10252 "not clearing heap memory - threads allocated and not releasing netty latest version"
### Expected behavior
Heap memory should clear after processing messages
### Actual behavior
Keep piling up memory not releasing my threads still serving for network messages for checking connections.
### Steps to reproduce
keep checking network connectivity and processing messages.
![image](https://user-images.githubusercontent.com/19388738/81173023-a63fea00-8f9f-11ea-8d0e-24dce0738d98.png)

###

[2020-05-06 12:09] franz1981 commented on #10251
@louxiu Just to be 100% that's the problem (as it seems) can you profile it by using https://github.com/jvm-profiling-tools/async-profiler and adding `-XX:UnlockDiagnosticVMOptions -XX:DebugNonSafepoints` to the jvm configuration? JFR is ok as well as long as you add the same JVM args

[2020-05-06 16:00] amizurov commented on #10252
@praveens4all Hi by default Netty uses the PooledByteBufAllocator which can cache an allocated buffer to reusing.

[2020-05-07 05:49] louxiu commented on #10251
Ok, I will try it later

[2020-05-07 06:11] #10240 closed

[2020-05-07 06:58] ajaygeorge opened #10254 "Implementing Write Throttling / Back pressure"
This is more of a design question on what is the correct way to implement _Write Throttling / Back pressure_, so that we don't continue writing to a channel when `isWritable` flag returns false.
I have added the High and Low WaterMarks to control when exactly this flag should return false.

looking at @normanmaurer 's answer on [SO](https://stackoverflow.com/a/19721250/628943) for this issue :

Wh

[2020-05-07 08:31] normanmaurer commented on #10251
@louxiu even now that your PR is merged I would be interested in this...

[2020-05-07 08:53] louxiu commented on #10251
I will try @franz1981 's suggest.

PS: We upgrade to 4.1.x to use `recvmmsg` feature(Context switch decreased), `FixedRecvByteBufAllocator` set as 5 * MTU as previous's test. I should set it as 1 MTU to avoid its affect.

[2020-05-07 08:58] normanmaurer commented on #10251
@louxiu I dont understand your statement for `MTU`. If you think there should be something changed please open a PR.

[2020-05-07 13:07] pbetkier opened #10257 "Blockhound detects a blocking call inside GlobalEventExecutor#addTask"
### Expected behavior
No blocking calls detected by BlockHound.

### Actual behavior

I observe the same problem originally reported by @62mkv in https://github.com/reactor/reactor-netty/issues/1086:

Occasionally, BlockHound-enabled Spring Boot (w/WebFlux) test suite fails to complete correctly because of such exception w/ the following trace:

[code]

reactor-netty maintainer @violetagg suggeste

[2020-05-07 13:10] normanmaurer commented on #10257
@pbetkier are you interested in providing a PR ?

[2020-05-07 13:11] pbetkier commented on #10257
sure

[2020-05-07 13:11] normanmaurer commented on #10257
@pbetkier cool... please ping me once done and I will review

[2020-05-07 17:21] pbetkier commented on #10257
I have trouble simulating the blocking call in the unit tests (`NettyBlockHoundIntegrationTest`).

In my WebFlux application test suite the blocking call appears when `SingleThreadEventExecutor` is shut down and [sets `terminationFuture`](https://github.com/netty/netty/blob/363c4ecc7f2f2ec0d499ceae17c23ada5d0b0765/common/src/main/java/io/netty/util/concurrent/SingleThreadEventExecutor.java#L1051).

[2020-05-07 17:39] ajaygeorge commented on #10254
@normanmaurer , wondering if you have any ideas around this.?

[2020-05-08 04:32] 62mkv commented on #10257
hi @pbetkier not sure if this counts as "in tests" (in the sense you're asking for), but for us it manifests as follows:

[code]

[2020-05-08 04:35] asdf2014 opened #10260 "ZlibDecoder report LEAK"
### Expected behavior

### Actual behavior

[code]

### Steps to reproduce

[code]

### Minimal yet complete reproducer code (or URL to code)

### Netty version

4.1.47.Final

### JVM version (e.g. `java -version`)

1.8.0_77-b03

### OS version (e.g. `uname -a`)

Linux x86_64 GNU/Linux

[2020-05-08 06:13] normanmaurer commented on #10260
@asdf2014 can you reproduce this ?

[2020-05-08 06:14] normanmaurer commented on #10257
@pbetkier I will need to look into how to write a test... At worse we could just merge the fix first and then do a followup for the PR. WDYT ?

[2020-05-08 06:18] asdf2014 commented on #10260
@normanmaurer Yep, when we send some gzip format data to the Netty server, this problem will be reproduced in about half an hour. The method of request is roughly as follows:

[code]

[2020-05-08 06:22] asdf2014 commented on #10260
@normanmaurer BTW, do I need to add the `-Dio.netty.leakDetection.level=PARANOID` parameter to get more detailed leak information?

[2020-05-08 06:44] normanmaurer commented on #10260
@asdf2014 do you think you could provide some sample server I can run which shows the problem ?

[2020-05-08 06:52] asdf2014 commented on #10260
@normanmaurer I am so sorry, our server cluster is not allowed to be open to the outside..

[2020-05-08 06:56] asdf2014 commented on #10260
@normanmaurer FYI, my the custom Handler extends SimpleChannelInboundHandler, and its automatic release mechanism is also in effect. It is unlikely that the LEAK caused by the custom Handler.

[2020-05-08 08:06] xiaozaiyuji opened #10261 "why stomp.js can not get the message body"
### Expected behavior
Expect the stomp.js can use netty stomp send a messge to a topic and other stomp.js can receive the message.
### Actual behavior
when Iuse netty stomp send a messge to a topic and other stomp.js  receive the message,I found the stomp.js client can not recevice the message the message body is empty. In the web brower network console chosse ws you will find the message is split

[2020-05-08 08:07] asdf2014 commented on #10260
@normanmaurer Do you have any idea? I guess it should be that the decompressed `ByteBuf` instance created in `io.netty.handler.codec.compression.JdkZlibDecoder.decode` has never had a chance to be released.

[2020-05-08 11:36] sasikala1591 commented on #8269
Hi, Tried the above solution. Please let me know if the proxy host & port and destination host & port are the same.

[2020-05-08 14:39] tlf30 commented on #344
For those needing object encoding and decoding over udp running into this issue of needing a channel per client, using the code posted above for the server (https://github.com/Shevchik/UdpServerSocketChannel) coupled with
https://github.com/apache/camel/blob/master/components/camel-netty/src/main/java/org/apache/camel/component/netty/codec/DatagramPacketObjectDecoder.java
on the client for the dec

[2020-05-08 15:05] pbetkier commented on #10257
I've created a PR, verified it solves my problem after `mvn install` and using the SNAPSHOT version in my project.

[2020-05-08 16:16] hk-ng commented on #10254
You get notification from event loop in channelWritabilityChanged by implementing ChannelInboundHandler:

[https://netty.io/4.1/api/io/netty/channel/ChannelInboundHandler.html#channelWritabilityChanged-io.netty.channel.ChannelHandlerContext-](https://netty.io/4.1/api/io/netty/channel/ChannelInboundHandler.html#channelWritabilityChanged-io.netty.channel.ChannelHandlerContext-)

[2020-05-08 16:18] hk-ng commented on #10254
How about writing your own queue instead? You are not support to do anything blocking in the event loop.

[2020-05-08 16:44] ajaygeorge commented on #10254
@hk-ng . Thanks for taking a look. ! This is something I considered.
This queue/buffer will have to be a bounded blocking queue since if it is unbounded we run into the same issue as continuing to write when the write flag is false and exhausting the memory. It has to be a blocking queue as well, else we will have to start dropping the requests on the floor when the queue is full or sending an err

[2020-05-09 05:02] hk-ng commented on #10254
If the event loop is blocked, Netty will stop sending or receiving from socket.
In the example above, it causes a dead lock because Netty will not be able to send anything when the event loop is blocked.

[2020-05-09 09:06] johnou commented on #10254
@ajaygeorge try taking a look at https://github.com/netty/netty/pull/6662/files

[2020-05-09 11:42] martin-traverse opened #10264 "DNS resolver - default server addresses contain stale entries"
Hi,

I think I've found an issue in the way the default set of name servers is populated, affecting Windows 10 / JDK 11. When moving a machine between networks, in some cases stale DNS servers (i.e. servers from a network the machine is no longer connected to) can be picked up by the JNDI bootstrap mechanism. If one of the stale entries is first in the list it can stop name resolution from working

[2020-05-10 06:40] heixiaoma opened #10268 "JDK13 UnsupportedOperationException-->HttpMethod.valueOf(“GET”);"
### Expected behavior

### Actual behavior
public class TestWebApp {
    public static void main(String[] args) {
        HttpMethod get = HttpMethod.valueOf("GET");
    }
}
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

2020/05/10 14:37:20 DEBUG [              main ] i.n.u.i.l.InternalLoggerFactory : Using SLF4J as the default logging framework
2020/05/10 14:37

[2020-05-10 06:51] slandelle commented on #10268
Those are just DEBUG logs when initializing Netty internals, not an issue.

[2020-05-10 07:02] heixiaoma commented on #10268
Yes. This error occurs when debugging a project. I don't know how to avoid it

[2020-05-10 07:06] slandelle commented on #10268
Again, there's no error, those are **DEBUG** logs, not ERROR ones.
If you don't want to see them, properly configure your logging framework, typically [slf4j](http://www.slf4j.org/) + a backend such as [logback](http://logback.qos.ch/).

[2020-05-10 07:09] heixiaoma commented on #10268
Thank you for your reply. The debug log is not the error log. It's OK to configure one

[2020-05-10 21:11] hakdogan commented on #6309
Hi.

I'm trying to modularize a simple vertx project which only depends on vert.x core dependency.

I've compiled the project and create a modular jar. I'm getting the following message when I run the jar with the command

[code]

So the verticle deployment is failed.

mylib folder contains

* vertx-core-3.9.0.jar
* netty-buffer-4.1.48.Final.jar
* netty-common-4.1.48.Final.jar
* netty-resolver-4.1

[2020-05-11 04:59] rishika728 opened #10271 "HTTP Header/Initial line limits imposed in HTTP 1"
For HTTP 1.1 Requests, Netty uses HttpRequestDecoder https://github.com/netty/netty/blob/00afb19d7a37de21b35ce4f6cb3fa7f74809f2ab/codec-http/src/main/java/io/netty/handler/codec/http/HttpRequestDecoder.java for decoding requests. This takes in the configurable parameters for max header size and max initial line size. Both of these configurations are applied separately to both the headers and Initi

[2020-05-11 06:21] initialflame commented on #2132
We are now in Production and our Users have big models - we are shoked, that the .compress(true) is not working so easy as described.

Is somebody working on PR?

[2020-05-11 06:25] slandelle commented on #2132
@hyperxpro I really don’t have time for for working on such PR atm, sorry. Feel free to give it shoot.

[2020-05-11 06:44] normanmaurer commented on #2132
@initialflame this is an OSS project, so if there is a feature you need that is not implemented just create a PR for it. We are always happy to review code-contributions.

[2020-05-11 06:51] #10257 closed

[2020-05-11 10:07] hyperxpro commented on #2132
I will do PR for this along with Brotli compression/decompression support. It's on my project board just having little low priority.

[2020-05-11 11:42] praveens4all commented on #10252
Okay, Thank you for response, In my application i wont reuse any messages, processing messages were huge and making out of memory because Old Generation GC filled up my entire RAM. Is there any way to clear or use another buffer ? Pls advise.

[2020-05-11 13:16] amizurov commented on #10252
You can try `UnpooledByteBufAllocator`
[code]
See if it is suitable for your case, since now Netty will not be able to reuse buffers and will allocate them every time, which can lead to frequent GC.

[2020-05-11 13:21] normanmaurer commented on #10252
Also alternative you can configure the `PooledByteBufAllocator` to only pool direct memory

[2020-05-11 13:21] #10252 closed

[2020-05-11 13:24] normanmaurer commented on #10264
@martin-traverse I happy to review a PR with a fix... I have no windows dev environment to troubleshoot this :/

[2020-05-11 13:24] normanmaurer commented on #10251
@louxiu ping... any update ?

[2020-05-11 14:39] normanmaurer commented on #10260
I am looking.... didn't spot an error yet tho

[2020-05-11 14:47] normanmaurer commented on #10260
@asdf2014 are there any more records (stacks) when this happens ?

[2020-05-11 15:54] hakdogan commented on #6309
I found the reason for the deployment failure is the lack of netty-handle dependency but still the simple server example not working.

[2020-05-11 19:27] ajaygeorge commented on #10254
Thanks @johnou . Looking at that PR , it seems like trustin had some concerns over the implementation which I believe was the reason why it was not merged.
As the PR description suggests this for implementing back-pressure to stop reading from a socket.

In my case, the backpressure handling is needed for writes to a remote peer (not running netty) from a local client (running netty)

[2020-05-12 01:44] #9238 closed

[2020-05-12 03:41] asdf2014 commented on #10260
@normanmaurer Thanks for your help! I found the problem, because in the custom handler, the exception of the thread pool submission failure was not considered, which caused the reference count of the decompressed `ByteBuf` instance not to be released. Thanks again for your kind help, I will close this issue.

[2020-05-12 03:42] #10260 closed

[2020-05-12 05:06] normanmaurer commented on #10260
So the error was in your code at the end ?

[2020-05-12 06:40] amizurov commented on #10261
Hi, I take a look

[2020-05-12 06:41] asdf2014 commented on #10260
@normanmaurer It's embarrassing, but it is.

[2020-05-12 06:44] normanmaurer commented on #10260
@asdf2014 no worries :) Thanks for closing the loop.

[2020-05-12 07:05] asdf2014 commented on #10260
@normanmaurer You are welcome. Thanks again :D

[2020-05-12 13:14] louxiu commented on #10251
@normanmaurer Sorry for late reply. Busy doing other work before and will get time on this tomorrow.

[2020-05-12 15:59] jsvd commented on #9961
For us [this change](https://github.com/netty/netty/pull/10069/files#diff-5d5eb2c10e26184226a4f493481bcf87R930-R935) between .46 and .47 solved the issue, as [we used a separate executor](https://github.com/logstash-plugins/logstash-input-beats/blob/master/src/main/java/org/logstash/beats/Server.java#L125) for the IdleStateHandler.

[2020-05-12 16:19] normanmaurer commented on #10251
@louxiu don't worry... just wanted to ensure we dont forget :)

[2020-05-12 19:52] Bennett-Lynch commented on #10046
Appreciate the suggestion, but this only works for very trivial use cases. It would not work, for example, on future completions. I am looking for something more deterministic.

[2020-05-12 21:12] Fetsivalen opened #10277 "[Improvement] Add Http status as a separate field in exception on not 101 HTTP response code during web socket handshake"
### Reason
In my project (built on top of Spring Cloud Gateway https://github.com/spring-cloud/spring-cloud-gateway) to be able to properly proxy HTTP response (on not 101 Http response code) from the backend server to the client, I need to extract actual Http Status code. For now, it could be done only by parsing the exception's message.
To simplify such use cases I'd like to introduce the sub-cl

[2020-05-12 22:08] Bennett-Lynch opened #10278 "[Netty 5] AttributeMap should be iterable"
[`AttributeMap`](https://netty.io/4.1/api/io/netty/util/AttributeMap.html) currently only offers two methods:
* `attr(AttributeKey<T> key)`
* `hasAttr(AttributeKey<T> key)`

If it is going to continue to be supported (https://github.com/netty/netty/issues/8508), it would be nice if it provided functionality more resembling that of the `Map` interface. At the very least, it would be helpful to be a

[2020-05-13 07:15] #10251 closed

[2020-05-13 09:42] amizurov commented on #10277
So, what if we extend the current exception to `ClientWebSocketHandshakeException` and add `HttpResponse` field and `ServerWebSocketHandshakeException` with `HttpRequest` field and provide additional hint `AbortingType` like INVALID_RESPONSE_STATUS, INVALID_CONNECTION_HEADER,... and other by https://tools.ietf.org/html/rfc6455#section-4.2.2. WDYT @normanmaurer, @slandelle ?

[2020-05-13 09:46] normanmaurer commented on #10277
@amizurov I am a bit hesitant as this may also put the burden of reference counting on the user.

[2020-05-13 09:59] amizurov commented on #10277
I mean only `DefaultHttpResponse` and `DefaultHttpRequest` without body, in most of case it will be enough.

[2020-05-13 13:12] louxiu commented on #10251
Jvm args

    nohup java -Xmx8g -Xms8g -Xloggc:/home/shared/log/gc.log.`date +%Y-%m-%d-%H-%M` \
    -XX:+PreserveFramePointer \
    -XX:+PrintGCDateStamps -XX:+UseG1GC -XX:MaxGCPauseMillis=200 \
    -XX:MetaspaceSize=128m -XX:-OmitStackTraceInFastThrow -XX:+PrintGCDetails -verbose:gc \
    -jar -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.a

[2020-05-13 13:20] franz1981 commented on #10251
@louxiu Beware JFR need -XX:UnlockDiagnosticVMOptions -XX:DebugNonSafepoints

[2020-05-13 13:36] louxiu commented on #10251
Two jfrs: es.with.ratio=4.delayedQueue=2.2020-05-13-20_50_07.jfr and  es.with.ratio=8.2020-05-13-20_40_36.jfr
[jfrs.zip](https://github.com/netty/netty/files/4622216/Archive.zip)

[2020-05-13 13:37] louxiu commented on #10251
Restress with `-XX:+UnlockDiagnosticVMOptions -XX:+DebugNonSafepoints`, but didn't notice much difference in jfr

[2020-05-13 13:48] doom369 opened #10281 "Error in Upload tests after updating netty 4.1.49 -> 4.1.50 (HttpPostMultipartRequestDecoder regression)"
Haven't dig into it yet, however I saw there were 3 different PRs changes in `HttpPostMultipartRequestDecoder`.

[code]

Look like related to this code in `HttpPostMultipartRequestDecoder`:

[code]

comment for `buf.retainedSlice()` is not true, when first chunk is last chunk in case of `AggregatedFullHttpRequest`.

Could be reproduced with regular Upload example and added additional handler:
`pip

[2020-05-13 14:09] franz1981 commented on #10251
@louxiu using `-XX:+UnlockDiagnosticVMOptions -XX:+DebugNonSafepoints` is useful when inlined methods are the most costy ones: if it won't make any difference "maybe" is that they are not the most costy one, but the flags should be there to make sure it's the case

[2020-05-13 14:18] asdf2014 opened #10282 "If the request contains a string of millions of lengths, and if the request is sent at a very high rate, will it cause an io.netty.util.internal.OutOfDirectMemoryError exception?"
If the request contains a string of millions of lengths, and if the request is sent at a very high rate, will it cause an `io.netty.util.internal.OutOfDirectMemoryError` exception?

BTW, I have tried many times and have not found the LEAK log..

### Expected behavior

Netty service runs steadily without reporting OOM exceptions.

### Actual behavior

[code]

### Steps to reproduce

Many requests c

[2020-05-13 16:35] fabienrenaud opened #10284 "HttpPostStandardRequestDecoder not decoding `+` to whitespaces"
The new `UrlDecoder` in `HttpPostStandardRequestDecoder` does not convert `+` to whitespaces, which `QueryStringDecoder.decodeComponent` used to do.
https://github.com/netty/netty/pull/10209/files#diff-99f86aa293d9977ca3a310e1488d31c1R713

[2020-05-13 16:46] fabienrenaud commented on #10281
@doom369 Can you provide your full channel pipeline?

[2020-05-13 16:49] Entea opened #10286 "Memory allocation in a loop that leads to a crash"
Hello! Thanks everyone for maintaining such a great project!

We've been using netty (via grpc-java) and have seen multiple failures of services. The failure pattern is always the same: under moderate traffic of only 1 tcp connection and 2 streams (via haproxy, but that's another story) grpc-server starts filling up direct memory and old-gen and service crumbles within few minutes.

The heap dump

[2020-05-13 17:34] sanjaypujare opened #10288 "useTasks should be set or settable per ReferenceCountedOpenSslContext"
### Expected behavior
Each `ReferenceCountedOpenSslContext` instance have its own setting for UseTasks
### Actual behavior
Currently `USE_TASKS` is a global set from the system property `"io.netty.handler.ssl.openssl.useTasks"` so all `ReferenceCountedOpenSslContext` instances are forced to use that one value.
### Steps to reproduce
No steps needed. Just from reading the code.
### Minimal yet comp

[2020-05-13 17:39] sanjaypujare commented on #10288
cc @ejona86

I see 2 options:
1) provide an explicit setter in `SslContextBuilder` and the value is then plumbed down to where it is used in `ReferenceCountedOpenSslContext`.
2) `SslContextBuilder` will have some logic to automatically set this value (say if a custom `TrustManagerFactory` was used) and it will be plumbed down similar to (1) above.

For backward compatibility the system property `"

[2020-05-13 17:51] ejona86 commented on #10288
For some gRPC work, we need to implement a TrustManager that will do blocking RPCs as part of the verification. We believe that means we need `useTasks=true`. But as a library, we aren't in a position to change a global system property. We'd like a way to enable useTasks=true for us, without changing the behavior of other Netty users in the same process.

[2020-05-13 17:54] normanmaurer commented on #10288
@ejona86 please note that this will only work for netty-tcnative-boringssl-static for this use-case as only boringssl provides the needed hooks.

Would it be enough to expose a setter in `ReferenceCountedOpenSslContext` ?

[2020-05-13 18:03] Fetsivalen commented on #10277
From my perspective it will be sufficient just to bypass a separate field in exception the information which is already present in it's exception message, just to avoid parsing strings.
But I agree with @amizurov  that whole meta-information (like headers) will cover more use cases.
From other perspective I don't find similar tickets here, and not sure whether someone need any information, which i

[2020-05-13 18:08] sanjaypujare commented on #10288
it works at least for me: if the returned value from `SslContextBuilder.build` is a `ReferenceCountedOpenSslContext` then we call this setter for our case.

[2020-05-13 18:09] ejona86 commented on #10288
`ReferenceCountedOpenSslContext` looks like it is returned by the `SslContextBuilder`. Yeah, that would work. A bit strange to mutate the SslContext, but I can see how that would be easy and work. That sounds quite fair. To configure would be an instanceof+cast+set.

Since gRPC allows passing an SslContext during configuration, I think that would work for our internal-to-gRPC use case (which @sanj

[2020-05-13 18:27] doom369 commented on #10281
@fabienrenaud sure, you can reproduce it with `HttpUploadServerHandler`:

[code]

[2020-05-13 18:58] normanmaurer commented on #10288
It will call it on the Eventloop

Yep a PR would be awesome. Let’s do a setter for now. That said we may want to switch the default to true soon

[2020-05-13 19:14] sanjaypujare commented on #10288
The current `SSLContext.setUseTasks(ctx, USE_TASKS);` call is in the constructor. With the setter approach I will call it again (with possibly a different value) which I assume is okay? Also the setter will allow the caller to set it to false even if "io.netty.handler.ssl.openssl.useTasks" system property is set to true.

[2020-05-13 19:39] normanmaurer commented on #10288
Yep that’s fine

[2020-05-14 03:38] asdf2014 commented on #10282
@normanmaurer PTAL. Even if `-Dio.netty.leakDetection.level=advanced` and `-Dio.netty.leakDetectio.maxRecords=10` were added to increase the leak detection level, no LEAK logs were found..

[2020-05-14 03:50] sandyKamath commented on #7101
I am using ant with ivy and not maven.
Any idea of how can I proceed.
ant build is failing to get netty-transport-native-epoll-4.1.48.Final-linux-x86_64.jar

[2020-05-14 04:17] asdf2014 commented on #10282
@normanmaurer FYI, I increased the `-XX:MaxDirectMemorySize` parameter, and after running the program for a long time, only one LEAK message appeared, as follows:

[code]

[2020-05-14 05:42] normanmaurer commented on #10282
@asdf2014 what is decoder here ?

[2020-05-14 06:24] asdf2014 commented on #10282
@normanmaurer The decoder is [WordSplitter](https://github.com/opentsdb/opentsdb/blob/master/src/tsd/WordSplitter.java).

[2020-05-14 07:28] normanmaurer commented on #10282
@asdf2014 are you sure this is the right one as it used netty 3... ?

[2020-05-14 07:30] #10284 closed

[2020-05-14 07:41] asdf2014 commented on #10282
@normanmaurer Most of the logic is the same, except that we use `ByteToMessageDecoder` instead of `OneToOneDecoder` to adapt to Netty 4.

[2020-05-14 08:10] normanmaurer commented on #10282
@asdf2014 please share the code...

[2020-05-14 08:23] johnou commented on #10282
Anyway sounds like you need to implement some batching or stream logic, it shouldn't OOM unless you are writing faster than you can process or you really are trying to allocate a single string instance that big.. you might consider working with the data at bye array or even better bytebuf level.

[2020-05-14 08:30] rovarga opened #10290 "netty-transport-native-epoll for aarch64 is missing from netty-bom"
### Expected behavior
linux-aarch64 version declaration is available from netty-bom import

### Actual behavior
Version declaration is not present

### Steps to reproduce
Pull netty declarations via netty-bom import, attempt to reference linux-aarch64 netty-transport-native-epoll

### Minimal yet complete reproducer code (or URL to code)
https://git.opendaylight.org/gerrit/c/odlparent/+/89743

###

[2020-05-14 08:39] normanmaurer commented on #10290
@rovarga sounds like a bug... would you be interested in providing a PR ?

[2020-05-14 08:42] rovarga commented on #10290
@normanmaurer yup, along with a safety check forthcoming.

[2020-05-14 09:03] hyperxpro commented on #6899
I'd like to add support for Brotli. Is it fine to use third-party dependency?

[2020-05-14 09:13] normanmaurer commented on #6899
@hyperxpro as long as its optional yes.

[2020-05-14 09:15] asdf2014 commented on #10282
@normanmaurer Sorry I can't.. @johnou Thanks for your comment. Indeed, it may be because the speed of accepting the request is too fast. After lowering the maxContentLength parameter of HttpObjectAggregator, many requests with too large Content-Length will be rejected, and indeed the OOM exception is no longer reported. Yep, I am also considering whether it can be processed at the byte array or By

[2020-05-14 09:57] piitw opened #10293 "Android client connection timeout"
Both the client and the server use netty. The client is an Android device, and occasionally a connection timeout occurs.have you had a similar problem, or help analyze the cause of the problem.
thank you very much.

### Expected behavior
client runs stably

### Actual behavior
this problem occurs occasionally on the client

[code]

### Steps to reproduce
Unable to reproduce, But it happens frequen

[2020-05-14 09:59] normanmaurer commented on #10286
@Entea PTAL https://github.com/netty/netty/pull/10294

[2020-05-14 12:06] normanmaurer commented on #10282
@asdf2014 sorry without seeing the code I can not help much I guess.

[2020-05-14 12:06] #10268 closed

[2020-05-14 12:08] normanmaurer commented on #10254
@ajaygeorge basically you need to stop writing unit the channel becomes writable again. You will be notified once the writability state of the `Channel` changes via the `ChannelInboundHandler.channelWritabilityChanged(...)` callback. Once this happens you can start writing again. How you propagate this though your application / framework, is up to you. Just never block the event loop.

[2020-05-14 12:08] #10254 closed

[2020-05-14 12:09] normanmaurer commented on #10214
@rekalov I think the closest you could do is to check if the cause is an `SslHandshakeException` and if so what kinds of exception it wraps

[2020-05-14 12:09] #10214 closed

[2020-05-14 12:37] hyperxpro opened #10297 "DNS Recursor"
Right now, Netty has DNS Resolver which resolves Hostname using some DNS Recursor (Upstream). Wouldn't it be great if we implement a full-fledged DNS Recursor in Netty?

[2020-05-14 12:51] asdf2014 commented on #10282
@normanmaurer It does not matter, you have helped a lot, thank you for taking the time to help follow up this issue, thank you very much.

[2020-05-14 12:52] rekalov commented on #10214
thanks @normanmaurer

[2020-05-14 15:40] idelpivnitskiy commented on #6899
@hyperxpro and as long as its license allows it (compatible with Apache 2.0)

[2020-05-14 21:20] Bennett-Lynch opened #10298 "Server-side NotYetConnectedException"
I am investigating a very strange and intermittent failure observed in Netty where an `EpollSocketChannel`-based server will encounter a `NotYetConnectedException` when apparently trying to interact with its client:

[code]

https://github.com/netty/netty/blob/91a7f49f0daa38f657d31b6d6335606bcf380f26/transport-native-unix-common/src/main/java/io/netty/channel/unix/Errors.java#L170-L172

It occurs

[2020-05-15 07:51] #10286 closed

[2020-05-15 08:04] #10288 closed

[2020-05-15 08:12] #10290 closed

[2020-05-15 18:54] mostroverkhov opened #10300 "Http2ConnectionHandler: opt out from sending initial settings before channelActive(ctx)"
### Expected behavior

have an option to send http2 preface and settings frame on `channelActive` callback, after `handlerAdded` chain returns so other handlers are given chance to modify `initialSettings`

### Actual behavior

preface and settings are sent before `Http2ConnectionHandler`'s own `handlerAdded` returns

### Steps to reproduce

https://github.com/netty/netty/blob/bdbf68f9881b7187c0da

[2020-05-16 06:30] mostroverkhov opened #10302 "Http2ConnectionHandler: Http2Settings used by preface, and ones exposed through decoder().localSettings() are different instances"
### Expected behavior

Http2Settings returned by public Http2ConnectionHandler.decoder().localSettings() are used for sending preface

### Actual behavior

Above are different instances so options added through public API are ignored

### Steps to reproduce

https://github.com/netty/netty/blob/bdbf68f9881b7187c0da45d5b45f32f92fe5efaa/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2Conn

[2020-05-16 12:32] yeryomenkom commented on #9243
@tanzheng231 did you solve this problem?

[2020-05-18 07:58] shakarelic commented on #9927
no,no time for chattering now,i add  cache and reduce requests

[2020-05-18 11:48] xxDark commented on #8259
@normanmaurer any updates on dropping JDK versions less than 1.8? Would like to see Netty get rid of `java.lang.reflect.Method` usage, and switch to method handles and other non-`legacy` stuff.

[2020-05-18 14:44] normanmaurer commented on #10298
@Bennett-Lynch interesting... I will check once I have a few cycles

[2020-05-18 16:58] kareemadel opened #10306 "NioSocketChannel.writeAndFlush().addListener() callback sometimes called before the message is written/flushed"
I have a netty client that used a NioSocketChannel to send/receive messages to/from a server, the pipeline has only two outbound handlers, WebSocketClientCompressionHandler and HttpClientCodec handler.
The code that writes to the channel is something like

[code]

### Expected behavior
The add listener callback to be executed after the message is written and flushed
### Actual behavior
Sometimes,

[2020-05-18 18:13] karthik-dusk opened #10307 "Not able to make connection to the server which supports TLS1.2 only"
### Expected behavior
Should be able to connect to the server

### Actual behavior

`WampClient.State newState`
says connecting

### Steps to reproduce
[code]

### Minimal yet complete reproducer code (or URL to code)
Updated above

### Netty version
4.1.48

### JVM version (e.g. `java -version`)
1.8

### OS version (e.g. `uname -a`)
Android-21

[2020-05-18 18:16] karthik-dusk commented on #10307
NettyWampConnectionConfig object
![Capture](https://user-images.githubusercontent.com/5618488/82246041-a063e480-9961-11ea-93c5-c0b13c71d56b.PNG)

[2020-05-18 19:12] hyperxpro commented on #10307
This is clearly not a Netty bug.

[2020-05-18 19:27] karthik-dusk commented on #10307
But I am using all netty APIs.

[2020-05-18 19:28] karthik-dusk commented on #10307
It works fine with TLS1.1 but failing to connect TLS1.2

[2020-05-18 19:29] hyperxpro commented on #10307
Can you show `SslContext` builder code?

[2020-05-18 19:29] karthik-dusk commented on #10307
What else could be the problem .?

[2020-05-18 19:30] hyperxpro commented on #10307
`SslContext` not configured properly.

[2020-05-18 19:32] karthik-dusk commented on #10307
I have attached the screenshot of SslContext instance

[2020-05-18 19:32] karthik-dusk commented on #10307
Here

[2020-05-18 19:33] hyperxpro commented on #10307
What cipher suites are enabled?

[2020-05-18 19:36] karthik-dusk commented on #10307
I will get back to you on these .. tomorrow pls

[2020-05-19 02:29] gaoyn-cn commented on #741
any update? we hava got this issue on ibm jdk

java.lang.ArrayIndexOutOfBoundsException: null
    at java.util.concurrent.CopyOnWriteArrayList.get(CopyOnWriteArrayList.java:399) ~[?:1.8.0]
    at java.util.concurrent.CopyOnWriteArrayList.get(CopyOnWriteArrayList.java:408) ~[?:1.8.0]
    at com.alibaba.druid.filter.FilterChainImpl.nextFilter(FilterChainImpl.java:421) ~[druid-1.1.5.jar:1.1.5]

[2020-05-19 03:59] karthik-dusk commented on #10307
here it is ..
![Capture1](https://user-images.githubusercontent.com/5618488/82283139-22c8c480-99b3-11ea-9075-632286651c7b.PNG)

[2020-05-19 08:12] normanmaurer commented on #10302
/cc @ejona86 @carl-mastrangelo @Scottmitch can you have a look ?

[2020-05-19 08:15] normanmaurer commented on #10306
@kareemadel this can happen if the same content of the buffer is duplicated and retained for example. Don't do this.

[2020-05-19 08:15] #10306 closed

[2020-05-19 11:58] hyperxpro commented on #10307
And you show server `SslContext` builder?

[2020-05-19 15:14] kareemadel commented on #10306
@normanmaurer I'm not reusing the buffer, I allocate new buffer for each message
[code]

[2020-05-19 19:38] sandorvasas commented on #7220
4.1.50.Final throwing this

[2020-05-19 19:52] kareemadel commented on #10306
@normanmaurer the underlying buffer allocator is pooled though, do you think that could be the problem? This is how I initialize the buffer allocator.

[code]

[2020-05-20 04:14] wplzw opened #10308 "readableBytes"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2020-05-20 04:16] wplzw commented on #10308
why value of buffer.readableBytes()  less than readableBytes(4) would throw REPLAY

[2020-05-20 04:21] hyperxpro commented on #10308
Can you please elaborate?

[2020-05-20 04:31] wplzw commented on #10308
thanks for you response,I have got it，thank you again!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Aayush Atharva"<notifications@github.com&gt;;
发送时间: 2020年5月20日(星期三) 中午12:21
收件人: "netty/netty"<netty@noreply.github.com&gt;;
抄送: "危飘林"<1977334800@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [netty/netty] readableBytes (#10308)

Can you please elaborate?

—
You are rece

[2020-05-20 04:38] #10308 closed

[2020-05-20 05:24] karthik-dusk commented on #10307
Got it fixed @hyperxpro , The problem is not at all related to Netty and it is also not related to sslContext properties.

I was facing this issue because of the org's firewall was blocking the connection and events.

So, closing this issue. And, thank you so much for spending your valuable time on this issue. I appreciate that.

[2020-05-20 05:24] #10307 closed

[2020-05-20 08:07] louxiu commented on #10251
@normanmaurer @franz1981 The problem is `Stack#scavengeSome` loop `WeakOrderQueue`  list to collect recyclable object. It needs to iterate all `WeakOrderQueue`  even there is no recyclable object available(In our case, one thread has 64 delayed queue).

Option "-Dio.netty.recycler.ratio=8 -Dio.netty.recycler.delayedQueue.ratio=0" and "-Dio.netty.recycler.ratio=4 -Dio.netty.recycler.delayedQueue.ra

[2020-05-20 09:38] normanmaurer commented on #10251
@louxiu so just so I understand correct... There are a lot of "empty" `WeakOrderQueue` and the problem is the iteration of 64 links ?

[2020-05-20 09:52] louxiu commented on #10251
Yes. Currently we disable drop ratio. It's seems that only drop ratio above some threshold, it will be a problem. Not sure wether there is an easy way(or worth to optimize) to avoid loop "empty" `WeakOrderQueue` list.

[2020-05-20 12:04] praveens4all commented on #10252
Sorry for late reply.....Please provide me example how to do that, i did not configure any explicitly.

Still my GC filledup..

![Capture](https://user-images.githubusercontent.com/19388738/82444011-d066d100-9aa2-11ea-8309-21984d2ad54b.JPG)

[2020-05-20 13:59] amizurov commented on #10252
e.g. via system properties `-Dio.netty.allocator.numHeapArenas=0`

[2020-05-20 21:20] praveens4all opened #10310 "heap memory still an issue - buffer not releasing memory."
my application - netty server needs to run continuously with out closing client connection and keep serving messages 24/7.

#https://github.com/netty/netty/issues/10252#issue-613256739
Thank you for reply @amizurov  @normanmaurer

if i try
public class Handler extends ChannelInboundHandlerAdapter {
 @Override
    public void channelRead(ChannelHandlerContext ctx, Object msg) throws Exception {
//p

[2020-05-20 21:24] praveens4all commented on #10310
![Capture](https://user-images.githubusercontent.com/19388738/82498924-10ed3b80-9af1-11ea-9656-9ab0f0e05fc9.JPG)

[2020-05-20 21:36] praveens4all commented on #10252
Thank you for reply @amizurov

I have tried,
 .childOption(ChannelOption.ALLOCATOR, UnpooledByteBufAllocator.DEFAULT); still no change in memory.

as i explained, my requirement server and client runs 24/7 never disconnects keep processing messages.

if i use system property -Dio.netty.allocator.numHeapArenas=0 then can i revert UnpooledByteBufAllocator changes ? still need to use UnpooledByteBufA

[2020-05-20 21:46] amizurov commented on #10252
No, you can remove ‘UnpooledByteBufAllocator’ and use default pooled allocator with disabled heap arena, like @normanmaurer suggested.

[2020-05-20 21:51] praveens4all commented on #10252
okay, Thank you, will try and update you tomorrow.

[2020-05-21 09:42] praveens4all commented on #10252
Still no changes in memory, i have added vm argument.
how can i verify properties reflected or not ?

i debug my ByteToMessageDecoder , SimpleChannelInboundHandler, MessageToByteEncoder ..seems releasing buffer code not triggering, because my connection still active.

[2020-05-21 10:02] asdf2014 commented on #10282
Hi, @normanmaurer . I am so glad to tell you that this problem has been solved by limiting the number of active channels. As mentioned by @johnou, the speed of writing data from Netty is faster than the speed we can process in the back-end program, which cause the direct memory couldn't be released in time, resulting in OOM exceptions. Thank you both for following up this issue, thank you very muc

[2020-05-21 10:37] hyperxpro commented on #10310
`ChannelFutureListener.CLOSE` is indeed for closing client connection. You should use `PooledByteBufAllocator` if you don't want GC to handle buffers.

[2020-05-21 13:20] praveens4all commented on #10310
Thank you for reply, i am using PooledByteBufAllocator still my old generation G1 old memory keeps growing.

![image](https://user-images.githubusercontent.com/19388738/82563049-a252c100-9b76-11ea-98ef-3d574e022c68.png)

[2020-05-21 13:25] hyperxpro commented on #10310
Can you show debug logs of Netty?

[2020-05-21 15:05] ilopmar opened #10311 "Error with application/x-www-form-urlencoded request in Micronaut after upgrading to 4.1.50.Final"
After upgrading Micronaut to Netty `4.1.50.Final` a few tests are failing with the same behavior. All of them pass when using `4.1.49.Final`.

The test creates a POJO and send a `POST` `application/x-www-form-urlencoded` request. In the controller action the same POJO is send back to the client.

### Expected behavior

The POJO is received in the controller action exactly as it is sent.

### Actua

[2020-05-21 15:34] amizurov commented on #10311
Hi @ilopmar I think this is related to https://github.com/netty/netty/pull/10285, could you please check ?

[2020-05-21 15:43] ilopmar commented on #10311
I've tried with `4.1.51.Final-SNAPSHOT` and it works. Thank you very much!

[2020-05-21 15:43] #10311 closed

[2020-05-21 15:59] amizurov commented on #10310
Also could you please provide your pipeline and handler where you process messages.

[2020-05-21 16:22] praveens4all commented on #10310
Please find my server class looks like :

@Component
@Scope(value = ConfigurableBeanFactory.SCOPE_SINGLETON)
@Slf4j
public class Server {

    @Autowired
    private Handler handler;

    @Autowired
    private Encoder encoder;

    private EventLoopGroup bossGroup;
    private EventLoopGroup workerGroup;
    private EventExecutorGroup group;

    private Collection<Channel> channels;

    public

[2020-05-22 11:06] SplotyCode opened #10312 "EpollEventLoop.wakeup takes mutch longer with new netty versions"
While upgrading from netty 4.0.23 to 4.1.49 we experienced a much higher CPU consumption when sending data. We have 300-400 connections open and the server sends a few hundred small packets per second to every client.

After the upgrade, our main threads (that sends the packets using the method below) seem to 'hang' here: https://imgur.com/a/VMo9szT.

We send the packets like this:
[code]
We are u

[2020-05-22 12:48] hyperxpro commented on #10312
4.0.23 was released in August 2014 and 4.1.49 was released in April 2020. In 6 years, lots of things changed so higher CPU consumption is in 4.1.49 compared to 4.0.23 is pretty obvious.

Can't say if there is a problem in 4.1.49 or recent version until you post some benchmarks of both 4.0.23 and 4.1.49.

[2020-05-23 05:39] njhill commented on #10312
@SplotyCode a few questions:
- Do you know whether overall performance (latency etc) was better or worse despite the CPU increase?
- How about the rate of wakeups relative to rate of messages?
- Are you able to compare the performance with `NioEventLoop`?
- In your example code above, why do you schedule the writeAndFlush on the event loop? It can be called from outside the EL

One hunch is that i

[2020-05-23 10:10] SplotyCode commented on #10312
I don't really get that. With that logic netty 3 would be the fastest version. I mean sure there are new features but I don't get why it would be so much higher. The profiler picture is from one hotspot and we have other hotspots all ending in wakeup. So independent of the versions it is unexpected to spend so long on wakeup right?

Now that I think about it, it was unbelievably rude to instantly

[2020-05-23 10:15] SplotyCode commented on #10312
I now have information about wakeups relative to the rate of messages.
Since profilers use a lot of CPU we can not run them very long. In one hotspot EpollEventLoop#wakeup was called around 60k times. And 100% of these calls were delegated to Native#eventFdWrite. This is unexpected behavior right?

[2020-05-24 22:00] njhill commented on #10312
Not really, it just means many tasks are submitted from outside the EL each of which must have completed prior to the next being submitted. This is consistent with my hypothesis above. Experimenting with the `Thread.yield()` suggestion might give more clues. How many other threads are submitting these tasks? An alternative would be to limit the rate that flush is called, per number of writes or nu

[2020-05-25 09:01] itlidaye opened #10315 "How to solve the problem of frequent memory broadcast and memory overflow?"
How to solve the problem of frequent memory broadcast and memory overflow?
`
 protected void channelRead0(ChannelHandlerContext ctx, Object msg) throws Exception {
        //logger.info("channelRead0 {}",msg);
        try {
            SocketIO.sendMessage(msg);
        }finally {

        }

    }

public class SocketIO {

    private static final Set<Channel> CHANNEL_GROUP= new ConcurrentHashSet

[2020-05-25 09:06] zhenjunMa commented on #10315
[code]

[2020-05-25 09:46] itlidaye commented on #10315
This is not needed

[2020-05-25 10:19] itlidaye commented on #10252
What is this tool?

[2020-05-25 10:34] praveens4all commented on #10252
dynatrace

[2020-05-25 10:36] praveens4all commented on #10310
Any update pls ..still am facing memory issue - out of memory if we process high volumes of messages without disconnecting client.

[2020-05-25 10:46] hyperxpro commented on #10310
The problem is in GC itself. I should not say problem but that's how old GC works. Different GCs have different ways of cleaning.

[2020-05-25 10:57] praveens4all commented on #10310
Thanks for reply, I have tried concurrent-mark-sweep and now busy testing G1. same issue.

If i disconnect client from netty server (network listner close) clearing memory but we cant disconnect - messages processing all the time.

[2020-05-25 11:01] Tancen opened #10316 "How does detect a channel disconnect on server side?"
I need to do some clean operation if a connection disconnected, But I don't found any way to handle the disconnected event, Anybody help? Thanks.

[2020-05-25 11:02] hyperxpro commented on #10310
Try `System.gc();`

[2020-05-25 11:04] itlidaye commented on #10252
Has the problem been solved?

[2020-05-25 11:08] praveens4all commented on #10252
No still we facing outofmemory - due to old generation space filled up with netty buffer i think..not clearing buffer.

[2020-05-25 11:11] praveens4all commented on #10310
ok, pls advise what time of operation  i should call this? meaning Handler, Encoder classes finally blocks ? And importantly netty still holding buffer thread - i think that wont help releasing memory...i will try and update.

[2020-05-25 11:13] hyperxpro commented on #10310
First, see if `System.gc();` works. You can call it whenever you feel now you need to free up memory. `System.gc();` doesn't guarantee successful garbage collection but if you call it, it'll look for objects which are ready to be collected. So call when you've processed X amount of objects.

Many people argue calling `System.gc();` is bad but in my opinion, call it whenever you really feel the nee

[2020-05-25 11:16] amizurov commented on #10316
Hi, see https://github.com/netty/netty/blob/0375e6e01b0b6412c2369a8d3e2a990f41a9edfa/transport/src/main/java/io/netty/channel/ChannelHandler.java#L189

[2020-05-25 11:32] sbrannen opened #10317 "SelfSignedCertificate fails on JDK 15 ea build 24"
### Expected behavior

`SelfSignedCertificate` should work with JDK 15 ea builds.

### Actual behavior

`SelfSignedCertificate` works in previous JDK 15 ea builds but starts failing with the following stack trace in the Spring Framework test suite.

[code]

### Steps to reproduce

I don't have a _minimal yet complete reproducer_, but this happens locally on Mac OS and on the Linux-based CI server

[2020-05-25 11:33] zhenjunMa commented on #10316
@amizurov

`handlerRemoved ` is right? i think it should be `channelInactive`

io.netty.channel.ChannelInboundHandler
[code]

[2020-05-25 11:42] SplotyCode commented on #10310
A System.gc() might help in specific cases to reduce the memory but it should NEVER prevent OutOfMemoryErrors. OutOfMemoryErrors is the last thing the JVM throws meaning it tried all thinks to get free memory (Including full GC event).

How do you know that the problem is caused by Netty btw?
I believe you should make a memory snapshot (heap dump) and analyze witch Classes have the most instances.

[2020-05-25 11:47] hyperxpro commented on #10317
I haven't tested Netty on Java 15 but my best guess is: Java 15 removed `sun.security.x509` package. You can still generate a Self-Signed certificate using BouncyCastle by adding it to the classpath.

[2020-05-25 11:49] yuanrw commented on #10310
Agree. Also could you check your log to see if there is memory leak? @praveens4all

[2020-05-25 11:56] praveens4all commented on #10310
if i add below statement after message processed (ctx.writeAndFlush()) method.
ChannelFuture future = ctx.writeAndFlush(nmm);
future.addListener(ChannelFutureListener.CLOSE);
memory looks fine and performance also good.

But my requirement i should not close client connection (client is external system)

[2020-05-25 12:05] amizurov commented on #10316
@zhenjunMa Thanks thought about it but sent the wrong link.

[2020-05-25 12:20] hyperxpro commented on #10310
WWWWWWHHHHHHHYYYYYYYYYYYYYYYYY you using `future.addListener(ChannelFutureListener.CLOSE);` when YYYYYYYYOOOOOOOOUUUUUUUUU don't want to close connection?

[2020-05-25 12:35] sbrannen commented on #10317
Yeah, https://bugs.openjdk.java.net/browse/JDK-8241039 is linked from [JDK 15 ea build 16](https://jdk.java.net/15/release-notes).

I guess we'll try adding BouncyCastle to see if that solves the issue for us.

[2020-05-25 13:42] normanmaurer commented on #10315
Actually the `release(msg)` is needed as `retain(msg)` is called before

[2020-05-25 13:43] normanmaurer commented on #10317
Yep this makes sense... @sbrannen let me close this and you can re-open if you still see the issue with bouncy castle on the classpath

[2020-05-25 13:43] #10317 closed

[2020-05-25 13:44] #10316 closed

[2020-05-25 14:01] normanmaurer commented on #10252
I think you will need to share more code and also ensure there are no buffer leaks detected.

[2020-05-25 15:24] itlidaye commented on #10315
Thank you, this can solve the problem of memory overflow

[2020-05-25 15:31] sbrannen commented on #10317
Indeed, adding a dependency on `org.bouncycastle:bcpkix-jdk15on:1.65` has solved the problem for us.

Cheers!

[2020-05-26 02:38] zhenjunMa commented on #10310
To summarize:

@praveens4all 's problem is when only call
[code]
the JVM heap size will be growing by time，maybe lead to OOM?

but when change the code to
[code]
the JVM heap size will be fine.

this seems very tricky,  so  as @SplotyCode says,  dump the heap snapshot or
when it growing just call
[code]
see which Class have the most instances

[2020-05-26 02:39] itlidaye commented on #10315
@normanmaurer

            ReferenceCountUtil.release(msg);
            for (Channel channel : CHANNEL_GROUP) {
                ReferenceCountUtil.retain(msg);
                channel.writeAndFlush(msg);
            }

io.netty.util.IllegalReferenceCountException: refCnt: 0, increment: 1
	at io.netty.util.internal.ReferenceCountUpdater.retain0(ReferenceCountUpdater.java:123)
	at io.netty.util.inte

[2020-05-26 03:35] Tancen commented on #10316
'channelInactive' and 'handlerRemoved' both not work in my test.

NettyServerHandler.java
[code]

NettyServer.java
[code]

When I click the 'disconnect' button to disconnect the connection via client program, 'handlerRemoved' and 'channelInactive' are not be print.

In Wireshark,  these  frames be captured :
![image](https://user-images.githubusercontent.com/3649637/82857647-2f659380-9f44-11ea-958

[2020-05-26 04:40] Tancen commented on #10316
I made a wrong things.

b.group(bossGroup, workerGroup)
                    .channel(NioServerSocketChannel.class)
                    .option(ChannelOption.SO_BACKLOG, 100)
                    .childOption(ChannelOption.SO_KEEPALIVE, true)
                    .handler(**_new NettyServerHandler()_**)

change to  **_new LoggingHandler(LogLevel.INFO)_** it's worked

[2020-05-26 07:13] praveens4all commented on #10310
I was explaining scenario, i am not using it.

[2020-05-26 07:16] praveens4all commented on #10310
if i use System.gc() worst performance, please find monitor tool below,

![image](https://user-images.githubusercontent.com/19388738/82871231-87df6580-9f31-11ea-9279-184d8698cb78.png)

[2020-05-26 07:21] hyperxpro commented on #10310
I hope you're not calling `System.gc();` after writing every message.

[2020-05-26 07:52] praveens4all commented on #10310
i did called after message. my observation is no change in garbage collection. IF that works i thought of changing that.

[2020-05-26 07:53] praveens4all commented on #10310
trying this option lets see

[2020-05-26 12:08] eolivelli opened #10318 "Error while generating self-signed certificate on JDK15-EA"
### Expected behavior
Netty is able to generate a self-signed certificate with io.netty.handler.ssl.util.SelfSignedCertificate

### Actual behavior

[code]

### Steps to reproduce
Just run HerdDB Network module tests.
a simple
`new io.netty.handler.ssl.util.SelfSignedCertificate()`
should be enough

### Minimal yet complete reproducer code (or URL to code)
`new io.netty.handler.ssl.util.SelfSigned

[2020-05-26 14:05] bsideup commented on #3485
@Scottmitch @normanmaurer would you join the conversation if we make another reincarnation of https://github.com/reactive-streams/reactive-streams-jvm/issues/268 ? I guess it may also be relevant for ServiceTalk.

[2020-05-27 01:06] gaol opened #10320 "More values other than chunked defined in Transfer-Encoding header leads to decode failure"
According to https://tools.ietf.org/html/rfc7230#page-29, people can specify multiple values for `Transfer-Encoding` HTTP header,  like: `Transfer-Encoding: gzip, chunked`, but Netty does not recognize it as a chunked request in this case.

### Expected behavior
There is no exception in server, and client should get the server response.

### Actual behavior
Exception found in server:

[code]
And t

[2020-05-27 08:39] hyperxpro commented on #10318
Duplicate of #10317

[2020-05-27 08:40] #10318 closed

[2020-05-27 09:01] eolivelli commented on #10318
@hyperxpro thank you. I missed that one

[2020-05-27 09:18] tanzheng231 commented on #9243
yes!

[2020-05-27 09:18] #9243 closed

[2020-05-27 09:28] normanmaurer commented on #9243
@tanzheng231 want to share how you solved it so others may benefit as well ?

[2020-05-27 09:33] WTFGEDelphia opened #10322 "Netty 3.10.6.Final nullSession jdk8u252"
error messages:
java.lang.NoSuchFieldError: nullSession

![image](https://user-images.githubusercontent.com/36285660/83002801-0d513b80-a040-11ea-9898-e5301ac370f1.png)

[2020-05-27 09:36] tanzheng231 commented on #9243
if (this.isOpen() && this.isWrite()) {
                channel.writeAndFlush(bytes);
            }
Judgment writable  and set ChannelOption.WRITE_BUFFER_WATER_MARK

[2020-05-27 10:12] hyperxpro commented on #10322
AKAIK, Netty 3 reached EOL. Consider upgrading to latest versions.

[2020-05-27 10:22] WTFGEDelphia commented on #10322
but we use akka-2.5.23 , the dependency of config version is 3.10.6.Final

[2020-05-27 10:29] hyperxpro commented on #10322
Now this is a problem because excluding Akka Netty 3 dependency and adding Netty 4.1.X dependency won't work in 1 shot.