[2016-03-02 20:52] normanmaurer commented on #4927
@mosesn usually you do your init stuff in `handlerAdded(...)` that said we should make it consistent. Let me look into it

[2016-03-02 20:59] mosesn commented on #4927
@normanmaurer hmm, this might be our fault then.  I'll look around what we're doing too and see if we can simplify any of this so that the order doesn't matter.

[2016-03-02 21:15] mosesn commented on #4927
I tried making it consistent where the promise is satisfied after fireChannelActive, and it seems to [pass tests][0].

[0]: https://github.com/mosesn/netty/tree/mnakamura/channel-active-race

[2016-03-02 21:26] mosesn commented on #4927
@normanmaurer could I rewrite finagle's [ChannelHandlerStats][0] to do initialization in handlerAdded?  It seems more natural to be in channelActive.

[0]: https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/channel/ChannelStatsHandler.scala#L55-L64

[2016-03-02 23:19] Scottmitch commented on #4918
@hakvroot - Did you also update Netty's tcnative dependency and rebuild Netty? Netty makes direct usage of public static variables from tcnative.

[2016-03-03 06:41] povman commented on #3044
I'm running into this one too. Qt's URL building functions don't encode `;` because technically they aren't required to do that if you are using `&` as query parameter separator. Thus netty receives a URL like `http://localhost/query/?a=hello;world&b=123` and interprets it as having 3 parameters where only 2 were intended by the client.

I think there needs to be a way to configure the query param

[2016-03-03 10:20] hakvroot commented on #4918
@Scottmitch Good call, I did not. After recompiling Netty with the latest tcnative snapshot I can happily announce it works like a charm. Thanks!

For the future - are there plans to prevent the constants from being inlined?

[2016-03-03 10:22] slandelle commented on #3044
I agree that `;` is a legit query character, as explained in [RFC3986](http://tools.ietf.org/html/rfc3986#section-3.4) and that Netty is buggy here.

Then, as the developper of an HTTP client, I constantly face broken servers that don't properly implement RFC3986, and users who have no idea about what they're doing.

A typical example of the latter is the reporter of the bug @povman mentioned. Thi

[2016-03-03 10:37] normanmaurer commented on #4927
@trustin I think there was a reason why we always notify the future first before firing the event through the pipeline. Can you remember ?

[2016-03-03 10:45] trustin commented on #4927
@normanmaurer I think it's just a consistency thing. Always notify future first and then pipeline.

[2016-03-03 11:04] normanmaurer commented on #4927
@trustin also wasn't it because otherwise the close future could be notified before the connect future if a client directly close ?

[2016-03-03 11:06] trustin commented on #4904
Yep, it happens with old Maven versions.

[2016-03-03 11:14] trustin commented on #4927
@normanmaurer Yeah it could be. Also, `ChannelFutureListener`s are always notified from an event loop thread while the handlers in a pipeline can be invoked from non-event-loop-thread, which makes timing pretty nasty.

[2016-03-03 11:21] trustin commented on #4898
Hey @vietj, how's it going? :-)
It obviously looks like a bug. Care to submit a quick PR?

[2016-03-03 11:27] #4201 closed

[2016-03-03 11:27] trustin commented on #4201
Thanks for pinging, @idelpivnitskiy :-)

[2016-03-03 13:47] vietj commented on #4898
no problem, will do

[2016-03-03 14:19] normanmaurer commented on #4331
Fixed by https://github.com/netty/netty/pull/4894

[2016-03-03 14:20] normanmaurer commented on #4915
@windpiger the future is notified once the syscall success. This not means that it was transmitted and received by the remote peer. For this you will need to implement some kind of acknowledge into your protocol.

[2016-03-03 14:20] #4915 closed

[2016-03-03 14:27] harbulot opened #4929 "Adding ability to use more standard JSSE options when using JdkSslContext"
(Please note the case difference between `SSLContext` and `SslContext` when reading this.)

I was trying to pass various SSL/TLS settings (checking the host name, setting a client certificate and a custom trust store) when using a `JdkSslClientContext` with Netty 4.0.29, when I realised it was actually quite difficult to pass an existing `javax.net.ssl.SSLContext` to the existing classes (`JdkSslC

[2016-03-03 14:39] slandelle commented on #4929
As a workaround, you can specify protocols, cipher suites and algorithm downstream, on each `SSLEngine` you get from `SslContext.newEngine`, before passing them to a `SslHandler`.

[2016-03-03 14:48] slandelle commented on #4929
Usually, you don't override the existing parameters, you "edit" them by getting a copy of the current ones, change what you want and set them back. So, instead of passing a value, I suggest passing a function/SAM interface.

[2016-03-03 15:29] harbulot commented on #4929
@slandelle Regarding the workaround, this is indeed possible, but it would certainly be better to address the problems upstream instead of having to tweak each library that uses Netty (a number of which don't fully expose useful SSL settings unfortunately).

I think there's a use for both. From an `SSLContext`/`SSLParameters` point of view, it would still make sense to be able to set the `SSLParam

[2016-03-03 15:50] slandelle commented on #4929
If you have a SAM, you can decide to ignore the existing input and return a fresh instance instead.

[2016-03-03 17:17] normanmaurer commented on #4927
@trustin agree... we should just make it consistent which means always notify the future first. I will check if this is the case.

@mosesn I'm not sure what the problem is with moving the "instancing" of the object into `handlerAdded` and just update stuff in channelActive.

[2016-03-03 17:25] Scottmitch opened #4930 "rational for fireExceptionCaught when an IOException will close the connection anyways"
To avoid letting exceptions flow through to the end of the pipeline and go unhanded one approach is to insert an inbound channel handler to the end of the pipeline which simply closes the connection if any unexpected exceptions are caught. In the case of the codec-http2 there is some logic which must be done when a channel is closed (send GO_AWAY and graceful shutdown). codec-http2 attempts to dis

[2016-03-03 17:25] Scottmitch commented on #4930
@trustin @normanmaurer @nmittler @ejona86 - WDYT?

[2016-03-03 17:30] mosesn commented on #4927
@normanmaurer hmm, can channelActive be called more than once on a single ChannelHandler?  If that's the case, I might want to also do resetting in channelActive, which can mean that we miss writes if we do

[code]

whatever statistics we collected because of the write will immediately be discarded because of the reset.

[2016-03-03 17:32] mosesn commented on #4927
@normanmaurer @trustin can you run into the same problem in reverse, if folks make channelInactive trigger before channelActive?  Or is there a strict preorder on active => inactive?

[2016-03-03 17:53] Scottmitch commented on #4918
@hakvroot - No plans ATM. Feel free to open an issue though.

@erimatnor - I will close this for now. If rebuilding does not resolve your issue please re-open.

[2016-03-03 17:53] #4918 closed

[2016-03-03 17:55] Scottmitch commented on #4927
@trustin - Unless its a "late listener" :) See https://github.com/netty/netty/issues/4506

[2016-03-03 18:10] yborovikov commented on #3044
While `;` is indeed legitimate (doesn't need to be percent-encoded) in query part of URI - so is `&`. Both are allowed in query part but have special meaning (as name value pair delimiters), according to this [W3C recommendation](https://www.w3.org/TR/1999/REC-html401-19991224/appendix/notes.html#h-B.2.2), whether we like it or not.

Closing this particular issue as a duplicate of https://github.c

[2016-03-03 18:10] #3044 closed

[2016-03-03 19:25] povman commented on #3044
My suggestion was to make this behaviour configurable. Not all standards-compliant clients will encode the semicolon, and Netty should allow this behaviour.

[2016-03-03 21:35] albertvaka commented on #4824
Same problem here. What JDK is Netty targetting? Android support for Java>6 is limited.

[2016-03-03 22:59] mosesn commented on #4927
So based on my understanding of "correct" behavior, it looks like there's a bug in the example code for the [http2 client][0].  It does the http2 handshake in `channelActive`, which we know isn't safe unless you've agreed not to write yet.  It looks like this is pretty subtle.  Maybe I should document that the ChannelPromise means that the connection is open, but that fireChannelActive might not h

[2016-03-03 23:22] mosesn commented on #4927
Oh, I see, it doesn't matter because we block on the upgrade in the http client.  I think I'm getting the hang of this.  If we want to do something on connect, and make sure that we don't write until after that has finished, we make that explicit in our code, like in SslHandler?  So basically the onus is on the developer to enforce the order that they need.

[2016-03-04 02:28] Scottmitch commented on #4824
@nmnhero - Ping.

[2016-03-04 04:29] trustin commented on #4916
@Scottmitch Thanks for answering the questions!

[2016-03-04 07:32] normanmaurer commented on #4771
@serphacker ping

[2016-03-04 09:48] normanmaurer commented on #3172
Fixed by https://github.com/netty/netty/pull/4931

[2016-03-04 09:48] #3172 closed

[2016-03-04 10:52] wahisoufiane opened #4932 "Connection stay in CLOSE_WAIT"
Hi,

I'm using netty 3.10.1, to communicate with devices (GPS), and in a certain time, connection are not closed (netty didn't call close connection) and leave CLOSE_WAIT status. Here is a wireshark capture for a case of it:

![tshark](https://cloud.githubusercontent.com/assets/3135044/13525134/1b09497c-e1f7-11e5-9312-e51c541aa023.png)

As you can see, the server didn't send FIN to device.

[2016-03-04 19:20] mosesn commented on #4927
So we were talking about whether to put logic into hanging things off of the connect ChannelFuture or putting them in channelActive–it seems like they do basically the same thing.  Is the purpose of the redundancy to provide flexibility for handler implementors?

[2016-03-04 23:15] jonas-ren opened #4935 "Netty 4.1.0.CR1: DNS resolver accepts invalid FQDN with label length > 63 octet"
According to https://tools.ietf.org/html/rfc1035 (section 2.3.1), the length of a label in domain name should be 63 octets or less. However, Netty DNS resolver accepts invalid domain name with label greater than 63, and actually send out DNS query with the invalid name.

So the final outcome of such query depends on the underlying resolver. During my tests, I sometimes see FormErr returned. In oth

[2016-03-04 23:34] ejona86 opened #4936 "NetUtil can prevent using Netty due to SecurityManager denial"
@carl-mastrangelo and I recently encountered a regression when upgrading to 4.1.0-CR3 due to a51e2c87, with the same error as #3680 ("Unable to create Channel from class" caused by a `NoClassDefFoundError`). The exception was surprisingly unhelpful; we don't know why Java failed to include the additional cause.

After digging in deeper, we found the problem was due to a `SecurityException` being t

[2016-03-04 23:44] jonas-ren opened #4937 "Netty 4.1.0.CR1: DNS resolver do not treat non-ASCII characters correctly"
When resolving a domain name containing non-ASCII characters, Netty would send out DNS query but reject the response because the DnsQuestion doesn't match.

For example, when resolving www.äüöß.com, I'm getting:
[code]

Looks like it's caused by a difference in encoding. I think the resolver should either validate the input domain name based on http://www.ietf.org/rfc/rfc1738.txt, or just fix the

[2016-03-05 00:32] ejona86 commented on #4930
For gRPC we need to know why the channel was closed. Even with the current state, it is very easy to lose the shutdown reason and only have `ClosedChannelException`, which is useless. If you remove the `fireExceptionCaught`, then there won't be any semi-centralized place for us to record why the channel shut down.

Just failing the futures doesn't work well because there are so many places writes

[2016-03-05 00:58] Scottmitch commented on #4930
Thanks for the feedback @ejona86.

Agreed I think keeping the current `fireExceptionCaught` behavior makes sense.

We still need to process the future to close the channel in the happy path case. However reducing the log level to debug seems like a good approach in this situation.  Since I *broke* this let me submit a PR.

[2016-03-05 01:23] Scottmitch commented on #4936
@ejona86 - Good find ... seems like a bug. You went through all the work to find it ... do you want to submit the patch and get credit for the fix too?

https://docs.oracle.com/javase/7/docs/api/java/security/AccessController.html#doPrivileged(java.security.PrivilegedAction)

[2016-03-05 01:25] #4930 closed

[2016-03-05 01:42] jonas-ren commented on #4935
Encounter another unexpected exception when sending a DNS query with the domain name being "A" repeated 512 times. Interesting that it's not always reproducible even with the same input.
<code>
04 Mar 2016 17:38:15,638 [WARN] (dns-response-handler-0) io.netty.resolver.dns.DnsNameResolver: [id: 0xb0bb7b97, /0:0:0:0:0:0:0:0:56265] Unexpected exception:
io.netty.handler.codec.DecoderException: java.l

[2016-03-05 01:53] ejona86 commented on #4936
Sure. I'll send a PR

[2016-03-05 06:01] windie commented on #4932
Did you call `close` in your codes?

[2016-03-05 06:02] windie commented on #4937
Could you try 4.1.0CR3? I cannot reproduce this error in the latest version.

[2016-03-05 08:52] wahisoufiane commented on #4932
I did this code :

[code]

[2016-03-05 23:49] ejona86 opened #4941 "h2childchan: Implement outbound flow control"
The child channel needs to send its writes to the parent channel, where they may be buffered. This sort of behavior is special for our use-case and so `ChannelOutboundBuffer` gets in the way, in multiple ways. We will either need to enhance the API of `ChannelOutboundBuffer` (which is safe in 4.1 since it is a concrete class) or we will need to replace `ChannelOutboundBuffer` with something of our

[2016-03-06 00:05] ejona86 opened #4942 "HTTP/2 onStreamActive called before handlerAdded when upgrading from HTTP/1.1"
`Http2ServerUpgradeCodec.prepareUpgradeResponse()` triggers `Http2ConnectionHandler.onHttpServerUpgrade()` which creates the stream. But that executes before `Http2ServerUpgradeCodec.upgradeTo()` which is what adds the http/2 handler to the pipeline. Receiving events before being added to the pipeline easily requires doing hacks in a `Http2Connection.Listener` in order to process the `onStreamActi

[2016-03-06 00:08] ejona86 opened #4943 "h2childchan: GoAwayFrame requires duplicate() for each receiver"
Because of the ByteBuf, whose readIndex is mutable, GoAwayFrame must be duplicated for each receiver. It's probably a better idea to use a byte[] instead, or there may be a different way to deliver the frame to applications.

[2016-03-06 18:30] jonas-ren commented on #4937
Tried with 4.1.0.CR3 and still got the same thing. I tested with multiple DNS resolvers (local resolver, google DNS and OpenDNS) and all got the same result.

Perhaps it's platform dependent? I'm running on Mac OS X 10.11.

[2016-03-07 02:19] trustin commented on #4771
Should be fixed by #4946

[2016-03-07 02:22] trustin commented on #4628
Fixed via https://github.com/netty/netty-website/commit/07cf35126115f5b37fd8404fe88e1022642d83c0 and https://github.com/netty/netty-website/commit/07cf35126115f5b37fd8404fe88e1022642d83c0

[2016-03-07 02:22] #4628 closed

[2016-03-07 08:34] trustin commented on #4937
Shouldn't we convert it to IDN?

[2016-03-07 08:37] yjdwbj opened #4947 "when i use netty-all-4.1.0.CR3 on my project ,happen this error.how about this happend,and how can i do it"
I make a ssl socket server base on netty-4.1.0.CR3,with a lot of connections (20k<).

[code]

[2016-03-07 08:41] trustin commented on #4935
Could be fixed together with #4937

[2016-03-07 08:53] trustin commented on #4898
@vietj Thanks!

[2016-03-07 08:57] W12S12E12 commented on #4937
https://github.com/curl/curl/blob/master/CHANGES.0

[2016-03-07 09:45] W12S12E12 commented on #4898
https://github.com/zcourts/higgs

[2016-03-07 10:53] normanmaurer commented on #4937
@trustin +1

[2016-03-07 11:00] normanmaurer commented on #4947
@yjdwbj this looks like a jdk bug. Try to update your java version and if you still see it open an issue in the openjdk project.

Basically this gives the hind that the GC crashed the JVM.
[code]

[2016-03-07 11:00] #4947 closed

[2016-03-07 11:01] normanmaurer commented on #4903
@trustin should I take care to update the site ?

[2016-03-07 11:52] trustin commented on #4903
@normanmaurer Yes, please. Good time to test whether the fix I pushed works for you.

[2016-03-07 11:58] hepin1989 commented on #4903
How about the milestone of `5.0.0` ?

[2016-03-07 12:49] trustin commented on #4903
@hepin1989 Removed 5.0.0.Final, closed 5.0.0.Alpha3, removed milestone from unresolved 5.0 issues.

[2016-03-07 13:57] mpolonio opened #4950 "DatagramPacket.recipient() doesn't return the actual destination IP, but the IP the app is bound to"
I'm using epoll (on previous versions of my app I was using NIO and I think the behaviour is the same) on an application that is listening on all available interfaces (0.0.0.0). When I try to get the actual UDP packet destination IP, DatagramPacket.recipient() returns 0.0.0.0 and not the real packet destination IP. It seems to always return the IP the app is bound to.

Please, let me know if you n

[2016-03-07 15:08] normanmaurer commented on #4950
Will check...

[2016-03-07 15:12] #4771 closed

[2016-03-07 18:24] normanmaurer commented on #4937
@trustin I wonder what you think where with should use `IDN.toASCII(...)` in the `DefaultDnsRecordDecoder` ? Or just in the `equals(...)` method ?

[2016-03-07 18:38] Scottmitch commented on #4628
thanks @trustin !

[2016-03-07 18:44] Scottmitch commented on #4942
@ejona86 - Do you plan to submit a PR for this?

To clarify, this issue should be limited to the upgrade stream (id: 1), correct?

[2016-03-08 01:55] windie commented on #4950
Looks like netty cannot get the udp destination address. See:

http://developerweb.net/viewtopic.php?id=4342
http://developerweb.net/viewtopic.php?id=4169

[2016-03-08 02:18] ejona86 commented on #4942
I wasn't planning on sending a PR for this, at least soon. It doesn't bother me too much, now that I have an easy workaround in place and understand what is going on.

I hadn't thought of it, but I guess the fix for this may be hard after the Netty 4.1 release? I've not looked into what the best fix would look like.

[2016-03-08 02:21] trustin commented on #4937
@normanmaurer How about validating and converting the input when creating a `DefaultDnsQuestion` or `AbstractDnsRecord`?

[2016-03-08 02:28] Scottmitch commented on #4942
Yes some of the upgrade code lives in codec-http.

[2016-03-08 08:17] omanhom opened #4953 "Netty4.0.24 LengthFieldBasedFrameDecoder has a bug?"
In my project, I use netty4.0.24, but run for a period of time, the program will occasionally appear decode exception，here's my screenshot:
![image](https://cloud.githubusercontent.com/assets/13151762/13595412/035617ea-e546-11e5-8852-420efde7be82.png)

![image](https://cloud.githubusercontent.com/assets/13151762/13595519/f47f8200-e546-11e5-8457-12b15f8f4b2e.png)

![image](https://cloud.githubuserc

[2016-03-08 08:36] johnou commented on #4932
@wahisoufiane how have you configured your IdleStateHandler?

[2016-03-08 08:54] mpolonio commented on #4950
Thanks Windie for your comments. I think I have a better understanding of the problem now. IP_PKTINFO socket option should be set, in order to get the ancillary message with required extra information (Destination IP and more) available.
Java doesn't seem to provide any API to set this socket option, but I've searched this repo and epoll sockets seem to be created with C code (https://github.com/n

[2016-03-08 09:01] normanmaurer commented on #4950
@mpolonio yep I think I can make it work for native transport. Stay tuned.

[2016-03-08 09:06] wahisoufiane commented on #4932
of course I did it, I add in my pipeline :
`pipeline.addLast("idleHandler", new IdleStateHandler(GlobalTimer.getTimer(), resetDelay, 0, 0));`

and also, in the last pipe, I add a class who extends from  `IdleStateAwareChannelHandler ` it is where I call channelIdle(... like I said before.

[2016-03-08 14:03] normanmaurer commented on #4953
@omanhom could you please upgrade to netty 4.0.34.Final and let me know if you still see the problem ?

[2016-03-08 21:31] albertvaka commented on #3534
Is there any need to jump to Java 8 (ie: better performance, obvious way to improve the code...)? It will mean that Android developers won't be able to update to Netty 5, so unless there is an urge to change I honestly believe it's better to stick to Java 7 for now.

[2016-03-08 21:54] slandelle commented on #3534
@albertvaka As the developper of a Netty based HTTP client (AsyncHttpClient), I'd be very curious to know what Android developers would use Netty for? Specific protocol clients?

On AsyncHttpClient, I barely had any Android users, so I finally made the move of dropping JDK6, then JDK7 support. With JDK8, I can use things like ConcurrentHashMap#computeIfAbsent.

IMHO, Android is a different beast t

[2016-03-08 22:31] albertvaka commented on #3534
I'm using Netty to have an abstract, event-based API on top of SSL sockets (on Android). Because, at least as of now, the project tagline is "an event-driven asynchronous network application framework" and not "Netty shines on the server side".

Jokes aside, there are bug reports in this same issue tracker from Android users, and even comments on this thread, so there is definitely a percentage of

[2016-03-08 22:49] slandelle commented on #3534
The ones I see:
* `AbstractChannelPoolMap` and `DefaultDnsCache` would benefit from `computeIfAbsent`
* Client side HTTPS security could be enabled by default with SSLParameters.html#setEndpointIdentificationAlgorithm, see #4929
* Less need for hacks and fallbacks in `PlateformDependent`. For example, Netty currently has to ship a fork on JSR166. And I wonder how much extra pain Java 9 support wil

[2016-03-09 05:18] junchaowu opened #4954 "Android support on netty 5.x"
As far as I know, it doesn't support Android on 5.x version right now. Have you planned to add it on road map?

[2016-03-09 05:19] junchaowu commented on #4954
``request failed due to: Unable to create Channel from class class io.netty.channel.socket.nio.NioSocketChannel``

[2016-03-09 10:41] johnou commented on #4954
@junchaowu see #4466

[2016-03-09 19:34] junchaowu commented on #4954
in that case do I need to change my project back to use 4.x version or I can stick with 5.x for netty? Which way you recommend?

[2016-03-09 19:37] normanmaurer commented on #4954
Use 4.0 or 4.1

[2016-03-09 19:37] junchaowu commented on #4466
For existing 5.x user, do you recommend to change back to use 4.x  or I can still use 5.x? What's the recommend way now

[2016-03-09 19:44] normanmaurer commented on #4466
Use 4.0 or 4.1

[2016-03-09 19:49] ShanniLi commented on #4466
@normanmaurer this change will break TChannel-JAVA and all TChannel-JAVA users.

[2016-03-09 20:04] normanmaurer commented on #4466
@ShanniLi again just use netty 4.0 which works on android

[2016-03-09 20:10] normanmaurer commented on #4466
@ShanniLi 5.0 was alpha so you should expect breakage.

[2016-03-09 21:09] vietj commented on #4898
see https://github.com/netty/netty/pull/4956

[2016-03-09 22:08] junchaowu commented on #4954
Does 4.1 release on Fed 2016 support Android?

[2016-03-09 23:24] PunKeel commented on #1873
Hello,
The link is now dead ... :(

Any chance you still have your "solution" ?

Best regards!

[2016-03-10 05:28] normanmaurer commented on #4954
Yes it should

[2016-03-10 07:48] BorisKourt opened #4957 "[WebSocket] o.netty.handler.codec.CorruptedFrameException: RSV != 0 and no extension negotiated, RSV:5"
Hello,

I am getting the following:

[code]

From this request:

[code]

I stumbled on this issue from searching: https://github.com/netty/netty/issues/2953 But it doesn't look like it fits, as there are no Extensions specified in the request?

I am trying to establish a WebSocket connection via the following Arduino/esp8266 library: https://github.com/Links2004/arduinoWebSockets

This has stumped

[2016-03-10 10:11] #4954 closed

[2016-03-10 10:12] normanmaurer commented on #4953
Please re-open if you still think there is any issue after upgrading.

[2016-03-10 10:12] #4953 closed

[2016-03-10 10:33] normanmaurer commented on #4937
@trustin working on a fix.

[2016-03-10 12:47] omanhom commented on #4953
the cause of the problem is found, it is the client's business logic problem.so sorry!!

[2016-03-10 13:11] normanmaurer commented on #4936
@ejona86 let me take this over from you...

[2016-03-10 13:53] normanmaurer commented on #4957
@BorisKourt You should configure your `WebSocketServerHandshakerFactory` to allow extensions. It is a constructor param (default to false).

[2016-03-10 13:53] #4957 closed

[2016-03-10 13:54] normanmaurer commented on #4927
@mosesn yes... Basically it allows to handle everything in a handler.

[2016-03-10 14:20] rkapsi opened #4958 "Let OpenSslContext implement ReferenceCounted?"
Hello,

would it make sense to let the `OpenSslContext` class implement the `ReferenceCounted` interface?

We have a dynamic and unbound set of OpenSslContext that are concurrently in use and it would be great if we can release the native resources in a timely manner. We're currently using a wrapper object that extends SslContext, implements ReferenceCounted and gets passed into the SniHandler.

S

[2016-03-10 15:32] guidomedina opened #4959 "Linked queues GC nepotism issue"
@Scottmitch @nitsanw

There has been an issue reported, re-produced and fixed for the Linked queues that were originally copied from JCtools:

**Issue and discussion:** https://github.com/akka/akka/issues/19216#issuecomment-194798879

This can be resolved by #4960

[2016-03-10 15:34] nitsanw opened #4960 "Use shaded dependency on JCTools instead of copy and paste"
I thought this was not the case, but it appears Netty is using a C&P dependency model. This has some serious flaws, which is why versioned dependencies are the standard in Java for some time now...

[2016-03-10 15:35] nitsanw commented on #4960
Happy to PR a build change if that helps.

[2016-03-10 16:02] guidomedina commented on #4959
This can be resolved by #4960

[2016-03-10 17:11] wahisoufiane commented on #4932
Hi again,

I did a Log in netty to find out why it didn't close connection, and I found that timeout call `fireChannelIdle `but it is like the runnable in pipeline are not called. (wich means `channelIdle `is not called)

[2016-03-10 17:18] normanmaurer commented on #4932
Not sure I understand correctly. Can you give more details?

[2016-03-10 17:27] wahisoufiane commented on #4932
[code]

and the log I get is:

[code]
knowing that the timeout I give is 60 second, and after that log I have CLOSE_WAIT status, till i stop my app. but in the normal case I have:

[code]

[2016-03-10 17:35] normanmaurer commented on #4898
Fixed by https://github.com/netty/netty/pull/4956

[2016-03-10 17:35] #4898 closed

[2016-03-10 18:36] jonas-ren commented on #4937
Found another related issue. If the domain name in DNS question has trailing dot, the resolver would also complain "Received a mismatching DNS response", because the question section in received DNS response doesn't have trailing dot.

[2016-03-11 02:41] Scottmitch commented on #4960
@nitsanw - Copy/paste is for sure not ideal. I'm guessing ( @normanmaurer ? ) some of the rational for cpy/paste was to use Netty's `PlatformDependent` to isolate unsafe access ... I'm not sure if this is necessary anymore (looks like there is non-unsafe versions of queues in JCTools). Assuming there are no obstacles (compatibility, java6 support, etc...) I'm in favor of pulling in a shaded JCTool

[2016-03-11 04:44] ejona86 commented on #4936
@normanmaurer, fine with me. Enjoy :)

[2016-03-11 13:38] rkapsi commented on #4470
Closing this issue because it's superseded by 4958.

And the AsyncMapper change was addressed in 4473 (works great btw).

[2016-03-11 13:38] #4470 closed

[2016-03-11 15:47] nitsanw commented on #4960
none that I know of, JCTools is supports JDK6. I believe the Netty copies are unmodified (beyond formatting etc).

[2016-03-11 16:20] wolftobias opened #4962 "HttpObjectAggregator till max message size"
I`m facing the problem that I get a HttpMessage object and a LastHttpContent object message from HttpRequestDecoder/HttpResponseEncoder and we forward these message to the destination as a kind of proxy server. But then the HttpMessage and LastHttpContent objects are send each in new tcp frames, which is not what I want. They are small enough to fit in one tcp packet.
When I use the HttpObjectAggr

[2016-03-11 17:34] JavaHelper commented on #87
Could someone please guide on this issue http://stackoverflow.com/questions/35523664/java-util-concurrent-executionexception-org-apache-catalina-lifecycleexception/35923065#35923065 ?

[2016-03-11 17:42] normanmaurer commented on #4962
No there is not but you can just build such a handler by yourself

[2016-03-11 17:42] #4962 closed

[2016-03-12 11:27] wahisoufiane commented on #4932
I went little deeper in the code, and found something that helped me but not sure that is the best solution, or if it would generate some problems somewhere.

I changed the AbstractNioChannelSink.execute(Runnable task) function from:

[code]
To:

[code]

Like it is not override, so it will execute the channelIdle immediatly.

I don't know why the IOThread is full and get the channelIdle thread wai

[2016-03-12 16:04] guidomedina commented on #4960
@Scottmitch

There isn't any obstacle that I can see in using PlatformDependent class (I looked at its source code) + JCtools as what it does is to return either a non-blocking queue if it supports Unsafe or its best JDK counterpart.

@nitsanw but it can't be version 1.1, it has to have the fixes you added lately.

[2016-03-12 16:05] guidomedina commented on #4960
@Scottmitch @nitsanw in fact, PlatformDependent is a convenient class as you can fallback to JCtools atomic version if Unsafe is not supported.

[2016-03-12 17:37] mosesn opened #4970 "http client request encoding"
It seems like it's legal for clients to encode their requests, and if the server doesn't support the content encoding they can reply with a 415.  This is not easy to add with the HttpContentEncoder, because it uses the Accept-Encoding request header to decide what the client can accept.

Maybe it would make sense to add an optional constructor argument to HttpContentEncoder that lets you specify w

[2016-03-12 18:27] nitsanw commented on #4960
I would think starting with 1.1 to work out the build kinks would be fine. Moving to 1.2 when released (next few days I hope) will close #4959

[2016-03-13 02:36] ejona86 opened #4971 "Change HttpServerUpgradeHandler.UpgradeCodec to allow aborting upgrade"
I noticed that `Http2ServerUpgradeCodec.prepareUpgradeResponse()` [doesn't quite have the right behavior](https://github.com/netty/netty/blob/43ebbc3fa065155fa67732b0cbd7c12843b0f3f7/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ServerUpgradeCodec.java#L95), since failures in the UPGRADE protocol generally abort the upgrade instead of responding with an error. Primarily:

That said,

[2016-03-13 02:36] ejona86 opened #4972 "Remove misleading argument from HttpServerUpgradeHandler.UpgradeCodec.upgradeTo"
`upgradeTo()` is currently passed `upgradeResponse`, but it doesn't appear like it can do anything useful with it since the response has already been sent. In addition, the [`upgradeTo()` documentation](https://github.com/netty/netty/blob/43ebbc3fa065155fa67732b0cbd7c12843b0f3f7/codec-http/src/main/java/io/netty/handler/codec/http/HttpServerUpgradeHandler.java#L75) is sort of misleading as it seem

[2016-03-13 02:38] ejona86 commented on #4942
It appears like it is mostly a bug in `Http2ServerUpgradeCodec.prepareUpgradeResponse()`. I think things would work if `connectionHandler.onHttpServerUpgrade(settings)` was simply moved to `upgradeTo()` after `connectionHandler` is added to the pipeline.

A similar fix should probably be made to `Http2ClientUpgradeCodec.upgradeTo()` to call `onHttpClientUpgrade()` after the `connectionHandler` is

[2016-03-14 07:59] normanmaurer commented on #4829
Fixed by https://github.com/netty/netty/pull/4974

[2016-03-14 07:59] #4829 closed

[2016-03-14 08:01] trustin commented on #4509
@normanmaurer Not fixed yet. Wanted to discuss the expected behavior.

[2016-03-14 08:03] normanmaurer commented on #4509
@trustin sounds good (what you proposed)

[2016-03-14 08:05] slandelle commented on #4509
Related to #4528?

[2016-03-14 08:23] trustin commented on #4778
@Scottmitch Sorry it's taking longer than expected. Trying to reduce my backlog ..

[2016-03-14 11:11] normanmaurer commented on #4936
Fixed by https://github.com/netty/netty/pull/4977#issuecomment-196245202

[2016-03-14 11:11] #4936 closed

[2016-03-14 11:19] normanmaurer commented on #4972
@ejona86 agree... let me take care of it.

[2016-03-14 13:01] normanmaurer commented on #4971
Let me take care.

[2016-03-14 13:19] #4927 closed

[2016-03-14 14:41] andrewharmellaw opened #4981 "Instrumented Netty"
We'd like to use Netty in our Apache Camel app, but we're using Jetty for now as it has a [Codahale-Metrics-instrumented version.](https://dropwizard.github.io/metrics/3.1.0/manual/jetty/).

I'm happy to contribute this code to the project, but wanted (before embarking on the task) to check there was an appetite for this, and to see if anyone could provide a list of the classes, and instrumentatio

[2016-03-14 14:48] wahisoufiane opened #4982 "AbstractNioSelector.run doesn't read taskQueue in realTime"
Hi,

in the netty 3.10 version, I met a problem in adding task to the taskQueue by registering it, but the task aren't found directly, it take a while (like 250 seconds) then the processTaskQueue() called from run() method found my tasks.

this code :

[code]

and in the log I found this result :

[code]

[2016-03-14 14:53] andrewharmellaw commented on #4981
Apologies, I just saw this: https://github.com/netty/netty/issues/922  Does that mean this has been resolved and we're just missing the documentation?

[2016-03-14 18:49] Scottmitch commented on #4778
@trustin - No problem. Let me know if you need any more info when you get around to it.

[2016-03-14 19:36] normanmaurer commented on #4981
@andrewharmellaw no it was not resolved... We did not really come to an "agreement" on how and what to instrument.

[2016-03-14 19:43] normanmaurer commented on #4958
@rkapsi I think we could do this. That said we would still need a finalizer for the `OpenSslEngine` itself as we never know what the user will do with it (or will use it at all after creating).

[2016-03-14 20:36] rkapsi commented on #4958
@normanmaurer Correct. It's meant to be an optimization for folks who don't want to wait for the GC. The finalizer will still run but potentially do nothing.

[2016-03-15 08:17] andrewharmellaw commented on #4981
Thanks for your reply @normanmaurer . Is this something there is an appetite to pick up again?  As I said, I'd be willing to contribute this (though I'm not au-fait with the Netty architecture so would need a few pointers as to what to instrument and in what way.)

[2016-03-15 12:03] nitsanw commented on #4960
@Scottmitch JCTools 1.2 released. Let me know if anything else is required

[2016-03-15 14:19] normanmaurer commented on #4937
@jonas-ren can you check https://github.com/netty/netty/pull/4979 if it fixes all your problems ?

[2016-03-15 15:16] doom369 opened #4985 "[Improvement] SniHandler doesn't support mutual ssl."
Hello. I changed domain name on production system. And I found that netty allows easily handle such cases with SniHandler. But the problem is SniHandler doesn't allow to use mutual ssl contexts because of this code :

[code]

I fixed that for myself with :

[code]

Where `isMutualSSL` is a flag that I pass on SniHandler creation.
I could easily do PR in few days.

WDYT?

[2016-03-15 15:18] normanmaurer commented on #4985
@doom369 you can just specify this stuff when building the `SslContext` via `SslContextBuilder`. Does this not work ?

[2016-03-15 15:19] doom369 commented on #4985
@normanmaurer Didn't know about that. Let me check.

[2016-03-15 15:24] normanmaurer commented on #4985
@doom369 https://github.com/netty/netty/blob/4.0/handler/src/main/java/io/netty/handler/ssl/SslContextBuilder.java#L380 . Please close the issue if it works.

[2016-03-15 15:28] doom369 commented on #4985
@normanmaurer nice! Works perfectly. Thank you! When I wrote this code there was no such thing =). Anyway I think it would nice to add SniHandler example for noobs like me. I'll prepare PR in few days.

[2016-03-15 15:28] #4985 closed

[2016-03-15 15:28] normanmaurer commented on #4985
@doom369 awesome... thanks!

[2016-03-15 15:34] normanmaurer commented on #4982
@wahisoufiane are you sure you not block the IO thread somehow ?

[2016-03-15 15:35] normanmaurer commented on #4897
Please reopen if you still see an issue and once you have more details / reproducer

[2016-03-15 15:35] #4897 closed

[2016-03-15 15:36] normanmaurer commented on #4895
@scramjet any updates ?

[2016-03-15 15:39] wahisoufiane commented on #4982
I stop mysql service to generate the problem, but in the real case in the
server, there is no blocked IO Thread, everything went correctly till a
certain point when this problem occur.

What took my attention is why the taskQueue variable are full, but seen
like empty in the processQueue in the same time?!!

On Tue, Mar 15, 2016 at 3:35 PM, Norman Maurer <notifications@github.com>
wrote:

--
*Souf

[2016-03-15 15:40] normanmaurer commented on #4982
@wahisoufiane I'm not sure I understand... can you maybe provide a failing unit test or so ?

[2016-03-15 15:52] wahisoufiane commented on #4982
I'm sorry I don't have any unit test, but I can clarify the situation
better.

In the AbstractNioSelector we have registerTask and we have an infinit loop
in the run() method.
We have a field collection of runnable named taskQueue.
When we call registerTask, we add a runnable to taskQueue.
The infinite loop (run()) call processQueue() and run the tasks on the
taskQueue.
Normally and logically, whe

[2016-03-15 17:43] normanmaurer commented on #4982
@wahisoufiane I'm not sure if you "debugging" code is correct as between the `System.out.println(...)` and the poll the task me be added. So you will see `0` but the poll will actually be able to to see the element.

[2016-03-15 20:50] wahisoufiane commented on #4982
No I'm sure the poll didn't find anything because when I put breakpoint,
the task returned by the poll is null and didn't continue the loop it break
it.
Le 15 mars 2016 17:44, "Norman Maurer" <notifications@github.com> a écrit :

[2016-03-15 23:38] jroper commented on #3902
Hi all,

So, netty-reactive-streams is now in Play 2.5.0, and is stable, performs well, being used in production, and we're quite happy with it.

The question is where to next.  I don't have any problem continuing to maintain it, that said, I think it'd be a great feature to have as a module in the main netty repo, people wanting to use reactive streams with Netty will probably be much happier con

[2016-03-16 02:09] windie commented on #1350
This one can be closed now.

[2016-03-16 07:56] tiecai commented on #4903
@trustin  When the next version of 5.0.0 will be released? Thanks.

[2016-03-16 08:03] normanmaurer commented on #4903
@tiecai nothing planed yet as we not even working on 5.0 atm. Please use 4.0 or 4.1

[2016-03-16 08:42] tiecai commented on #4903
@normanmaurer  Understand. Thank you!

[2016-03-16 10:58] normanmaurer opened #4993 "Invalid handling of trailing dots in DnsNameResolver"
@jonas-ren:
[code]

[2016-03-16 10:58] normanmaurer commented on #4993
For a possible fix see:

https://github.com/netty/netty/pull/4979#issuecomment-196975935

[2016-03-16 10:58] normanmaurer commented on #4937
Created a follow-up as https://github.com/netty/netty/issues/4993

[2016-03-16 10:58] #4937 closed

[2016-03-16 10:58] normanmaurer commented on #4935
Fixed

[2016-03-16 10:58] #4935 closed

[2016-03-16 11:21] #1350 closed

[2016-03-16 11:21] trustin commented on #1350
@windie Thanks for the heads up!

[2016-03-16 15:24] normanmaurer commented on #4993
Working on a fix...

[2016-03-16 16:19] tbcs opened #4994 "ChannelInitializer prevents propagation of channelRegistered event"
If I understand Netty's event handling correctly, in general it doesn't (shouldn't?) matter whether a channel handler was added to the pipeline via `addFirst` or `addLast`, the rules of event propagation are the same.  This is not the case though when the pipeline is modified within `ChannelInitializer::initChannel`.  `ChannelInitializer` is implemented as a handler, it's part of the pipeline when

[2016-03-16 16:31] tbcs commented on #4906
I understand that there seems to be an issue with `EmbeddedChannel`'s handling of the pipeline.  However, I intended to report a different, unrelated issue.  I went back to check whether the behavior I experienced is specific to RxNetty and I can confirm that it is not.  After writing another test case I see now that the issue is specific to channel initialization, more specifically the way `Chann

[2016-03-16 19:28] #4182 closed

[2016-03-16 19:28] normanmaurer commented on #4182
Fixed by https://github.com/netty/netty/pull/4986

[2016-03-16 19:39] normanmaurer commented on #4906
@tbcs thanks a lot!

[2016-03-16 21:54] JuKu commented on #4897
I could fix the problem now and currently, i couldnt reproduce the bug.

-----Original-Nachricht-----

Betreff: Re: [netty] Netty 4.0.33.Final: java.io.IOException: An
established connection was aborted by the software in your host machine
(#4897)

Datum: 2016-03-16T05:09:58+0100

Von: "Norman Maurer" <notifications@github.com>

An: "netty/netty" <netty@noreply.github.com>

Closed #4897 <https://g

[2016-03-17 05:26] scramjet commented on #4895
Hi Norman,

sorry, no update yet. I'm right in the middle of things, and for now I've added a temporary buffer as a workaround.

I'll set up an IntelliJ project and put a breakpoint in the suggested location when I get some time.

[2016-03-17 06:16] Scottmitch commented on #4906
@tbcs - Yip looks like 2 separate issues.

[2016-03-17 06:48] Scottmitch commented on #4960
@nitsanw - Thanks for the heads up!

@normanmaurer - This seems like a good thing todo ... wdyt?

[2016-03-17 07:28] normanmaurer commented on #4897
How you fixed it?

[2016-03-17 09:50] normanmaurer commented on #4972
Fixed by https://github.com/netty/netty/pull/4989

[2016-03-17 09:50] #4972 closed

[2016-03-17 17:00] normanmaurer commented on #4960
Let me have a look tomorrow

[2016-03-17 17:05] guidomedina commented on #4959
Closing as this is being discussed at #4960

[2016-03-17 17:05] #4959 closed

[2016-03-18 02:53] JuKu commented on #4897
I have rewrite the networking code.

So i currently dont know, how i can reproduce the bug.

-----Original-Nachricht-----

Betreff: Re: [netty] Netty 4.0.33.Final: java.io.IOException: An
established connection was aborted by the software in your host machine
(#4897)

Datum: 2016-03-17T08:29:53+0100

Von: "Norman Maurer" <notifications@github.com>

An: "netty/netty" <netty@noreply.github.com>

How

[2016-03-18 05:32] AshwinJay commented on #4892
Thank you very much!

[2016-03-18 09:09] normanmaurer commented on #4897
Let me close this for now then... Please reopen once you know more and still think it is a netty bug.

[2016-03-18 13:58] slandelle opened #4999 "DefaultCookie's own name validation doesn't conform to RFC6265"
`io.netty.handler.codec.http.cookie.DefaultCookie` does its own validation on the name characters.

This check has 2 issues:
* it doesn't conform to RFC6265, eg seperators such as `@` are allowed
* it's redundant with the checks performed in CookieEncoder/Decoder in STRICT mode (those are RFC6265 compliant)

IMO, we should remove it and let the encoders/decoders do the job.

[2016-03-18 14:05] normanmaurer commented on #4999
Sounds good

[2016-03-18 14:09] slandelle commented on #4999
If you want a distinct PR, I'll wait for the current one to get merged. Otherwise, I can simply amend.

[2016-03-18 16:01] normanmaurer commented on #4999
@slandelle Just merged it... Please do another PR with a test :)

[2016-03-18 16:02] normanmaurer commented on #4971
Fixed

[2016-03-18 16:02] #4971 closed

[2016-03-20 00:54] doom369 opened #5009 "Netty crashes VM on Raspberry PI 3"
Hello. In my project I'm distributing my server as jar file for my users. One of them reported crash for Rapsberry PI 3. (But is works fine with rasp pi 2). Netty 4.0.33

[code]

[code]

[code]

Should I change netty default buffers type to fix it?

[2016-03-20 13:36] buchgr commented on #5009
is this error always reproducable on Raspberry Pi 3 and never on version 2?

[2016-03-20 13:39] normanmaurer commented on #5009
Already fixed

https://github.com/netty/netty/commit/c161e526b9c426b147ae0c95473781263396ecd2

[2016-03-20 13:39] #5009 closed

[2016-03-20 13:43] buchgr commented on #5009
@normanmaurer ahh makes sense ... I was looking at current 4.0 branch and couldn't find any errors :-).

[2016-03-21 09:51] danbev opened #5010 "Teamcity build: Should the target for building be 'install' instead of 'clean validate'"
When a pull request is build it looks like the Maven goals [clean validate](https://garage.netty.io/teamcity/viewLog.html?buildId=6758&buildTypeId=pulls_netty&tab=buildLog#_focus=106) are executed. We have added a new codec named codec-sockjs which is [failing](https://garage.netty.io/teamcity/viewLog.html?buildId=6758&buildTypeId=pulls_netty&guest=1) because this is not yet available in a sonatyp

[2016-03-21 21:45] AlexSylka commented on #327
I have similar problems. About 5000 I/O workers created and cpu 80%. Looks like problem in sun.nio.ch.SelectorImpl.select()
<img width="1440" alt="screen shot 2016-03-21 at 11 40 16 pm" src="https://cloud.githubusercontent.com/assets/1628459/13935237/f59d90aa-efbe-11e5-9d7f-663776a19d52.png">

[2016-03-21 22:20] AlexSylka commented on #3857
looks like i have the same bug. I am using java 8. Don't know if it's related somehow to jdk defects.
<img width="1440" alt="screen shot 2016-03-21 at 11 40 16 pm" src="https://cloud.githubusercontent.com/assets/1628459/13936048/a8d69988-efc3-11e5-98ba-85bfc4fb2033.png">

[2016-03-22 07:17] mikomarrache commented on #1706
The approach of creating only one Channel and dispatching incoming UDP packets to a pool of worker threads may be problematic. I wrote a UDP server this way and I get poor performance in terms of average response time. I'm not sure what the bottleneck is. However, I just realized that only one thread handles the IO events on the single Channel since only one socket is created (i.e. only one Channe

[2016-03-22 09:58] ssimd opened #5013 "Minor typo in DefaultStompFrame.toString()"
Hi,

in current Netty 4.1.x, the DefaultStompFrame.toString() method writes a different class name (Default**Full**StompFrame)  than it actually is... I think it's a minor typo, however for new users of the Stomp codec it's confusing when you cannot locate the class at first.

https://github.com/netty/netty/blob/4.1/codec-stomp/src/main/java/io/netty/handler/codec/stomp/DefaultStompFrame.java#L97

[2016-03-22 11:31] normanmaurer commented on #4993
Fixed

[2016-03-22 11:31] #4993 closed

[2016-03-22 11:32] #4999 closed

[2016-03-22 11:33] normanmaurer commented on #5013
Thanks for reporting. I will take care.

[2016-03-22 11:50] normanmaurer commented on #5010
@danbev I think the problem would be that it would install stuff locally that is not yet merged and may be picked up on other runs. Or I`m missing something ?

[2016-03-22 14:45] danbev commented on #5010
What I'm seeing is that this is a new maven module/project named codec-sockjs, which is not available in any Sonatype snapshot repository yet. The build is currently failing for this reason from what I can see. Does that make sense?

Not sure how I can get the build server to complete as it will not get passed this stage.

[2016-03-22 14:49] rkapsi opened #5014 "IOOBE in DefaultDnsRecordDecoder#decodeName"
Netty 4.1.0-CR4/Final-SNAPSHOT

I'm opening a PR for a Unit Test shortly.

[code]

[2016-03-22 15:02] normanmaurer commented on #5010
@trustin any idea ?

[2016-03-22 15:41] AlexSylka commented on #592
I have high cpu load and 5000 IO Workers

[2016-03-22 20:32] normanmaurer commented on #5014
working on a fix

[2016-03-22 21:13] eun-ice commented on #5010
Maybe maven just tries to check for new versions of snapshot dependencies.

You could try using "mvn -o clean validate" or disabling snapshots from sonatype alltogether

[code]

[2016-03-23 00:14] trustin commented on #5010
Unless the final goal is package or install, Maven tries to fetch the snapshot JARs from the repository and that will cause the problem @danbev reported.

There are two ways to solve the problem: 1) deploy snapshot JARs more frequently (e.g. for each commit) or 2) do not run `mvn clean validate` but just `mvn clean package`

The reason why I ran `mvn clean validate` first and then `mvn package` is

[2016-03-23 00:16] trustin commented on #5010
Another PR build problem I wanna solve with this issue is to reject building a PR with diverged commits. This would be very useful when a user chose a wrong merge target when creating a PR.

[2016-03-23 01:26] jonas-ren commented on #4993
Thanks for fixing this!

[2016-03-23 05:59] trustin commented on #3902
I didn't really have a chance to take a close look yet. However, a quick look makes me like the simplicity of reactive stream and your implementation.

@normanmaurer, @nmittler, @Scottmitch - could you review his work and let me know what you think? (pulling reactive stream in, streaming HTTP content using reactive stream, etc)

[2016-03-23 07:36] danbev commented on #5010
That sounds like a good idea to me and would work around this issue. Perhaps the running of tests could be deferred to speed things up a little so that checkstyle issues could be found early in the process, and then have an explicit run of the tests. Some thing like
[code]
Not sure if that is doable with the TeamCity server configuration. I looked around but could not find where the actual configu

[2016-03-23 09:48] #5013 closed

[2016-03-23 10:45] normanmaurer commented on #4418
Fixed by https://github.com/netty/netty/pull/5012

[2016-03-23 10:45] #4418 closed

[2016-03-23 12:47] eun-ice opened #5028 "Race condition in MessageToMessageEncoder if ch.write(..) is called from channelWritabilityChanged"
Hi,

I triggered a race condition by calling ctx.channel().write(...) from channelWritabilityChanged.

One can argue if it's a bug or expected behavior, but since I think it is very hard to track down for new netty users it should be fixed or the user should be warned in documentation of channelWritabilityChanged.

Assuming your handler calls write in "channelWritabilityChanged" e.g. like:

[code]

[2016-03-23 17:01] normanmaurer commented on #5028
@eun-ice sounds good... let me see where we could do this in a more general way.

[2016-03-23 17:52] normanmaurer opened #5029 "EpollChannelOption.TCP_QUICKACK is set as an Integer"
Should be a Boolean.

Reported here:
https://github.com/netty/netty-tcnative/issues/128

[2016-03-23 20:19] normanmaurer commented on #5028
@eun-ice I need to think a bit more about this and how to solve this. I will let you know once I have something to show.

[2016-03-23 20:55] ramtg opened #5031 "HandlerException:syscall:read(...)() failed: Connection reset by peer"
I upgraded my server app from netty 4.0.34 to 4.0.35  and after a few hours started noticing exceptions when tcp socket clients attempted to connect to my app.

I rolled it back to 4.0.34 and restartedand haven't seen those exceptions yet over the last
18 hours.

Not sure whether it has anything remotely to do with 4.0.35 .

Any hints on what I might be doing wrong, will be much appreciated.

Than

[2016-03-23 20:59] eun-ice commented on #5028
@normanmaurer thank you, since I have a workaround it is not very urgent for me.

[2016-03-23 21:01] normanmaurer commented on #5031
@ramtg thanks for reporting... @Scottmitch PTAL

[2016-03-23 21:05] Scottmitch commented on #5031
@ramtg - Are your clients also built on top of Netty, or are the clients out of your control?

[2016-03-23 21:16] normanmaurer commented on #5031
@ramtg also if you would have an easy way to reproduce it would be helpful

[2016-03-23 21:18] Scottmitch commented on #5031
@ramtg - If you can't provide a reproducer ... can you provide a TCP dump of when the issue occurs with the relevant packets? The sequence of TCP events would also be very helpful.

[2016-03-23 21:18] ramtg commented on #5031
@Scottmitch  Most of my clients are written in 'C',  but even my Netty based test clients were having their connections dropped.   Unfortunately I didn't have a chance to do a wireshark capture.

[2016-03-23 21:25] normanmaurer commented on #5031
will have a look

[2016-03-23 21:32] #5029 closed

[2016-03-23 21:51] Scottmitch commented on #5031
@ramtg - What is the value of SO_LINGER on these clients?

[2016-03-23 23:16] ramtg commented on #5031
@Scottmitch  The Connection Reset by peer issue occurred on all types of connections including Netty based test clients. and I did not have SO_LINGER set on my Netty based tester client socket.

[2016-03-24 04:14] hbyscpp opened #5032 "operationComplete never call"
hi normanmaurer,

sometimes  operationComplete never call

code is like below:
     ChannelFuture writeFuture = ch.writeAndFlush(req);
		writeFuture.addListener(new ChannelFutureListener() {
			@Override
			public void operationComplete(ChannelFuture future)
					throws Exception {
				if (future.isCancelled()) {
					 System.out.println("cancel");
					return;
				}
				if (future.cause() != null

[2016-03-24 06:33] normanmaurer commented on #5031
@ramtg could you try using NIO and let us know if you see the same (would be interested in 4.0.34 and 4.0.35)

[2016-03-24 07:17] nitsanw commented on #4960
Any news? anything I can do to help?

[2016-03-24 07:23] Scottmitch opened #5033 "https://github.com/netty/netty/commit/acbca192bd93b2691c86c5cec06e4fc1f15d6a05 Typo"
https://github.com/netty/netty/commit/acbca192bd93b2691c86c5cec06e4fc1f15d6a05 introduced a typo where `setsockopt` should be `getsockopt` at [netty_unix_socket.c#L303]
(https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/c/netty_unix_socket.c#L303)

[2016-03-24 07:24] Scottmitch commented on #5033
@normanmaurer - should be a quick fix can you take care?

[2016-03-24 07:51] normanmaurer commented on #5033
Yep

[2016-03-24 07:53] normanmaurer commented on #4960
No news yet just to busy atm. But will try to pick it up next week

[2016-03-24 12:51] normanmaurer commented on #5014
Fixed by https://github.com/netty/netty/pull/5017

[2016-03-24 12:51] #5014 closed

[2016-03-24 14:28] wallellen opened #5034 "http://netty.io/wiki/developer-guide.html lost its content"
![image](https://cloud.githubusercontent.com/assets/5259908/14019860/a294fc24-f20f-11e5-83d4-69e7be33c45f.png)

[2016-03-24 15:23] normanmaurer commented on #5031
@ramtg ok I think I know whats going on... stay tuned.

[2016-03-24 15:26] normanmaurer commented on #5033
Fixed by https://github.com/netty/netty/pull/5035

[2016-03-24 15:26] #5033 closed

[2016-03-24 17:59] johnou commented on #5031
@normanmaurer would you please confirm whether or not this issue is epoll only?

[2016-03-24 18:13] normanmaurer commented on #5031
@johnou yes epoll only.

[2016-03-24 19:52] normanmaurer commented on #5032
@hbyscpp can you share a full reproducer ?

[2016-03-25 00:02] ssheng opened #5037 "Netty 4.1.0.Final Release Date"
We're considering moving to Netty 4.1.0 for the newly added HTTP/2 codec classes. We noticed that it is still at version .CR4, do you anticipate backward incompatible interfaces with .Final version. When is the planned release date? Thanks!

[2016-03-25 02:48] nezen opened #5038 "How to connect to multiple sever at the same time via netty?"
I'm working on an android app which connects to multiple sever at the same time. And I code like this:

`
public class TestThread extends Thread{

    private static final List<String> hosts = new ArrayList<>();

    private static final int PORT = 1234;

    public TestThread(){
        hosts.add("192.168.8.101");
        hosts.add("192.168.8.102");
        hosts.add("192.168.8.103");
    }

[2016-03-25 08:03] normanmaurer commented on #5037
@ssheng http2 and dns codec will remain experimental even in 4.1.0.Final. This is not because we thing the code not works but because we may want to break the API later on without a need for a major release.

We not have a fixed release date but aim for the end of this month.

Hope this helps

[2016-03-25 08:03] #5037 closed

[2016-03-25 08:05] normanmaurer commented on #5038
Nope you should instance the EventLoopGroup and Bootstrap only one time and pass the remoteAddress to the connect method.

[2016-03-25 08:05] #5038 closed

[2016-03-25 09:37] vicky22291 opened #5040 "Netty vs Nginx: Pros and Cons based on Performance, Memory Management, Memory Footprint"
Question: What are the Pros and Cons of Nginx and Netty for using building a Proxy Server.

Elaborating the problem:

We are trying to implement a proxy server (forward or reverse proxy) which is placed in front of a service and takes care of good practices that can be applied on our services.

So we are evaluating different solutions that are available in the market mainly Nginx and Netty. So whe

[2016-03-25 09:56] normanmaurer commented on #5040
I think @burtonator saw the same in the past. Maybe he can share more infos

[2016-03-25 11:56] doom369 opened #5041 "Problems with SSLv3 and TLSv1 after updating to 4.0.35"
Hello. I was using netty 4.0.33 with openSSL and epoll and moved to 4.0.35. After that I got few problems with my SSL clients.

First problem is that all Android clients with Android version 4.0.x stopped working (not netty clients, vanilla sockets). On such clients I get

[code]

on server :
`
Reason : javax.net.ssl.SSLHandshakeException: error:1408A10B:SSL routines:SSL3_GET_CLIENT_HELLO:wrong ve

[2016-03-25 11:59] johnou commented on #5041
@doom369 see https://github.com/netty/netty-tcnative/commit/c9e7cde8d5bd52e338637a08c76ac284aff44683#commitcomment-16793242

[2016-03-25 12:08] doom369 commented on #5041
@johnou Thanks! So I should rebuild netty 4.0.35 with fork-15?

[2016-03-25 12:09] johnou commented on #5041
@doom369 yep, I found rebuilding netty-handler was enough.

[2016-03-25 12:09] normanmaurer commented on #5041
Yes this would fix it

[2016-03-25 12:39] doom369 commented on #5041
I'm getting

I suppose this because I builded netty fully? not only handlers

[2016-03-25 12:43] johnou commented on #5041
@doom369 without knowing more details about your build environment it's hard to say, but you should be able to exclude netty-transport-native-epoll from the parent pom locally and run the mvn package / install goal with skipTests=true to save some time.

[2016-03-25 12:47] johnou commented on #5041
Just came to mind that now Norman has updated the tcnative dependency in the Netty project you can grab a snapshot of the handler jar from TC.

https://garage.netty.io/teamcity/repository/download/netty_nightly/6935:id/handler/target/netty-handler-4.0.36.Final-SNAPSHOT.jar

[2016-03-25 12:48] doom369 commented on #5041
Ok. My my suggestion was correct. So I did next :

[code]

[code]

Where 4.0.36.Final-SNAPSHOT is locally build of netty with fork-15 and it is working!

Thank you for super fast response. I really appreciate this!

[2016-03-25 12:48] #5041 closed

[2016-03-25 17:19] carl-mastrangelo opened #5043 "OpenSSL from renamed library"
When initializing openssl, the io.netty.handler.ssl.OpenSsl class tries to load the library "netty-tcnative".  Our (gRPC) current use of this works, but we also have some code that takes all C++ compiled code and compiles it into a single shared object.  When openssl is compiled this way, the OpenSsl class cannot load  "netty-tcnative" since it has been compiled into another library which is loade

[2016-03-25 17:25] normanmaurer commented on #5043
Can you libk me to how the Library thing allows it?

[2016-03-25 17:28] carl-mastrangelo commented on #5043
Sure:

https://github.com/netty/netty-tcnative/blob/1.1.33/openssl-dynamic/src/main/java/org/apache/tomcat/jni/Library.java#L76

Using that special name (which OpenSsl is doing) bypasses calling System.loadLibrary

[2016-03-25 17:35] Scottmitch commented on #5041
@doom369 - Sorry for the inconvenience. We will push out a new release soon to correct this, and other issues.

[2016-03-25 17:37] normanmaurer commented on #5043
Will have a look

[2016-03-25 17:40] doom369 commented on #5041
@Scottmitch not a problem I catched this on QA envirnoment =).

[2016-03-25 17:51] nhnFreespirit commented on #4869
Hi @Scottmitch, sorry for the long silence. Have been on leave and a few other more urgent projects came up.

I have upgraded to 4.1.0.CR4 and I am still seeing this (or at least a very similar, as the backtrace is slightly different) issue. (The upgrade did solve a number of other issues I was seeing, so yay you guys! :)  )

The current stacktrace I'm seeing is the following:

[code]

after calli

[2016-03-25 17:55] Scottmitch commented on #5040
@vicky22291 - I don't have much experience with Nginx, but I have also heard positive things about it.

Interesting comparison ... would you be able to share some numbers, and what version of Netty/Nginx you are using? Are you doing SSL ... if so which SSL provider are you using for Netty (OpenSSL I'm assuming)?

[2016-03-25 18:18] burtonator commented on #5040
Thanks @normanmaurer  ... If you are having GC issues the problem is with the way Java handles direct buffers (it's basically broken - I can explain at length if necessary).  You can move to Jetty buffer pooling (enabled via system property) and it should fix the issue.

Also you should checkout our noxy project:

https://github.com/spinn3r/noxy

we haven't yet put it into production but will in t

[2016-03-25 18:19] normanmaurer commented on #5040
@burtonator I guess you mean Netty buffer pooling and NOT Jetty, right ?

[2016-03-25 18:29] burtonator commented on #5040
mea maxima culpa.

Correct.. I meant netty.  We use jetty for some stuff internally (usually super simple stuff) and sometimes I transpose their names.

[2016-03-25 18:59] Scottmitch commented on #4869
Yes this is generally true of most codecs. However the HTTP/2 codec currently is a bit of a black sheep and currently does not follow this convention because the API directly exposes a `Http2FrameWriter` interface to write with, and a `Http2FrameListener` to read from.  There is a PR https://github.com/netty/netty/pull/4503 which moves the API to conform with the typical codec API, but it is not q

[2016-03-25 19:09] Scottmitch commented on #5033
thanks @normanmaurer !

[2016-03-25 19:13] Scottmitch commented on #5034
@trustin @normanmaurer - Can you take a look?

[2016-03-25 19:20] normanmaurer commented on #5034
@Scottmitch yep...

[2016-03-25 19:28] normanmaurer commented on #5034
Fixed

[2016-03-25 19:28] #5034 closed

[2016-03-25 22:45] ssheng commented on #5037
@normanmaurer thanks.

[2016-03-25 23:29] wmorgan commented on #5040
@vicky22291 we're in the process of benchmarking our netty-based proxy (https://github.com/BuoyantIO/linkerd) against nginx. Will post results when we have them.

[2016-03-26 03:14] ohmygodlin opened #5045 "websocket server sample does not work for netty-example-4.0.35.Final-sources"
Directly run http/websocketx/server sample in netty-example-4.0.35.Final-sources would get "socket is closed" error. Then i try to modify:
1. WebSocketServerInitializer.java add websocket handler：
        pipeline.addLast(new WebSocketIndexPageHandler(WEBSOCKET_PATH));
        **pipeline.addLast(new WebSocketServerProtocolHandler(WEBSOCKET_PATH));**
        pipeline.addLast(new WebSocketFrameHandl

[2016-03-26 03:42] nezen opened #5046 "can I use EventLoop for a general purpose?"
according to the doc,

I'm wondering if I can use it for a general purpose. For example, I want to check whether my client  receives a specific data within a definite duration right after connected to a server.

Here is my code:

`
@Override

    public void channelActive(final ChannelHandlerContext ctx) {
        final EventLoop loop = ctx.channel().eventLoop();
        loop.schedule(new Callable

[2016-03-26 03:50] nezen commented on #5046
btw, if the Callable is a long-duration task or blocks, will something terrible happen?

[2016-03-26 06:27] windie commented on #3321
This one can be closed.

[2016-03-26 06:30] windie commented on #2189
Is it resolved by #4713?

[2016-03-26 07:04] normanmaurer commented on #5031
@ramtg can you test https://github.com/netty/netty/pull/5048 ?

[2016-03-26 07:07] normanmaurer commented on #2189
Yes... @windie thanks!

[2016-03-26 07:07] #2189 closed

[2016-03-26 07:08] normanmaurer commented on #3321
@windie thanks for pinging... :)

[2016-03-26 07:08] #3321 closed

[2016-03-26 07:09] normanmaurer commented on #5040
@wmorgan thanks this will be very useful :)

[2016-03-27 12:58] guidomedina commented on #4960
@normanmaurer @nitsanw

I have a branch with this migration done but I got stuck with the shade part please feel free to re-use/look at this commit:

https://github.com/guidomedina/netty/commit/7d1a621e8af4344fe18a910cdd5c7cb372390ad5

[2016-03-27 14:36] johnou commented on #4960
@guidomedina something like this https://github.com/johnou/netty/commit/d977f65e4e496fa81c6ca94992d7e5f97232da6c

I will create a PR later today.

[2016-03-27 14:40] guidomedina commented on #4960
@johnou excellent, it was easier than what I thought, I was too overwhelmed by netty-modules and netty-all but thanks to you guys with deep knowledge of Netty poms this is done.

[2016-03-27 14:41] guidomedina commented on #4960
@johnou minor thing, I think shade latest version is 2.4.3 according to https://maven.apache.org/plugins/maven-shade-plugin/usage.html

[2016-03-27 14:44] johnou commented on #4960
Alright, I will bump the version in my branch, test then squash / create a PR in a few hours. Cool thing with maven-shade-plugin is it should automatically create a dependency reduced pom for the common module so it will stay "zero dependency".

[2016-03-27 15:54] johnou commented on #4960
https://github.com/netty/netty/pull/5051

[2016-03-27 18:21] normanmaurer commented on #4637
Done by https://github.com/netty/netty/pull/4663

[2016-03-27 18:21] #4637 closed

[2016-03-27 22:22] jchambers opened #5052 "Netty-tcnative with statically-linked boringssl uber-jar won't load"
I created a simple project to try out the new statically-linked netty-tcnative uber-jar, and was surprised to discover that things weren't working as expected. Here are my dependencies (I chose `netty-codec-http2` for similarity with another project I'm working on):

[code]

…and here's the app:

[code]

When I run it under OS X (I'm afraid I don't have other environments handy right now), I get t

[2016-03-28 04:08] panchenko commented on #5052
Looking on the file sizes in http://search.maven.org/#artifactdetails%7Cio.netty%7Cnetty-tcnative-boringssl-static%7C1.1.33.Fork15%7Cjar - looks like uberjar is not there.

[2016-03-28 11:43] SummerWish opened #5053 "EmbeddedChannel instance should not share the same ID"
In current implementation, all `EmbeddedChannel` instances have the same id, which prevents them to be added to the `ChannelGroup`. This makes it impossible to test the "broadcast" scenario implemented by `ChannelGroup`.

[2016-03-28 16:15] Scottmitch commented on #5052
@nmittler @normanmaurer - WDYT?

[2016-03-28 16:20] normanmaurer commented on #5052
We did not release an uber jar yet. Wilk do this the first time for Fork16

[2016-03-28 16:20] #5052 closed

[2016-03-28 16:29] jchambers commented on #5052
Well, that explains everything ;)

Thanks, and sorry for the bogus bug report.

[2016-03-28 16:38] Scottmitch commented on #5046
Please ask questions on stackoverflow. Github is to report bugs or request features.

"general purpose" may be a bit strong. In a typical Netty application each I/O thread is responsible for handling many sockets, and so blocking one of these threads could impact/delay processing for each of these sockets. You are free to execute/schedule runnable tasks on the EventLoop thread but just be aware it

[2016-03-28 16:38] #5046 closed

[2016-03-28 16:47] Scottmitch commented on #5045
@ohmygodlin - Can you elaborate and explicitly list how you start the client/server and what frames you send? The client and the server example seem to talk to each other (see below), and the web browser works as a client too.

Client
[code]

Server
[code]

[2016-03-28 17:44] carl-mastrangelo commented on #5043
Some possible ideas:

* Loading org.apache.tomcat.jni.SSL in the static init block of OpenSsl could speculatively try initializing the class

[2016-03-29 01:53] ohmygodlin commented on #5045
i import netty-all-4.0.35.Final-sources.jar into eclipse as war (i could create a new Java project, then only include websoecket server source, but i think this way is the same, and fast). Then select ejbModule->io.netty.example->http->websocketx->server->WebSocketServer.java. Right click the main method, then run as Java Application. Then showing in the eclipse console:
Mar. 29, 2016 9:46:02 am i

[2016-03-29 05:58] trustin commented on #5034
Out of curiosity, what happened?

[2016-03-29 06:05] normanmaurer commented on #5034
Someone renamed the page 👎

[2016-03-29 09:30] normanmaurer commented on #5053
@SummerWis You can inject your own `ChannelId` for this case:

https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/embedded/EmbeddedChannel.java#L82

[2016-03-29 09:30] #5053 closed

[2016-03-29 09:38] normanmaurer commented on #5040
@wmorgan one thing which may be a problem here tho... Isn't finagle and so (linkerd) still using netty 3.x ?

[2016-03-29 10:11] SummerWish commented on #5053
Thank you! But I found that this method does not exist in netty 5.0.0.Alpha2. Any workarounds?

[2016-03-29 10:12] normanmaurer commented on #5053
@SummerWish nope... you should switch to latest 4.1.0.CRx release anyway as the 5.0.x release series was deprecated and we will not do any more releases there in the near future.

[2016-03-29 10:15] SummerWish commented on #5053
Got it, thanks :-)

[2016-03-29 12:28] #5031 closed

[2016-03-29 16:33] Scottmitch commented on #5045
@normanmaurer - It does look like the backport of (68bbd4e9669aab4c29dcc1d23ef331aaa2aee333) from 4.1 as (2e6544fc0e2581f96652be02d86e777e8e0493bc) into 4.0 may have been incomplete.  The [pipeline.addLast(new WebSocketServerProtocolHandler(WEBSOCKET_PATH, null, true));](https://github.com/netty/netty/commit/68bbd4e9669aab4c29dcc1d23ef331aaa2aee333#diff-8763764a23aff44c7b88bfe6e98357e0R48) line lo

[2016-03-29 16:42] normanmaurer commented on #5045
Will check

[2016-03-29 23:19] ashleymercer opened #5054 "IpV4Subnet.contains() always returns true for single-address subnets (3.10.4)"
I may have this wrong (since I'm fairly new to network programming) but my understanding is that a /32 CIDR block represents a single IP address, so I would expect an IpV4Subnet instance with this range to only match that exact IP - but, for example

new IpV4Subnet("1.1.1.1/32").contains("10.0.16.64")

both return true (at least in the version I tested, netty-3.10.4) The same is true for an IpV4Su

[2016-03-29 23:30] ramtg commented on #5031
@normanmaurer  Is a snapshot including this change, available on a maven repo ?

[2016-03-30 01:23] Scottmitch commented on #5031
should be in snapshot yes.

https://oss.sonatype.org/content/repositories/snapshots/io/netty/netty-transport-native-epoll/4.0.36.Final-SNAPSHOT/

[2016-03-30 01:46] ohmygodlin commented on #5045
i want to use the websocket server function, since netty-4.0.35.Final.tar.bz2 ‐ 21-Mar-2016 is the Stable, Recommended version. So do you suggest me to choose 4.1 version?

[2016-03-30 07:21] pmlopes opened #5058 "JVM crash on Raspberry Pi3 (cross-post from vertx-web)"
See: vert-x3/vertx-web#346

Netty version: 4.0.33.Final

Problem:
[code]

Result: JVM crash

[2016-03-30 07:31] johnou commented on #5058
@pmlopes try 4.0.35+

https://github.com/netty/netty/pull/4845

[2016-03-30 07:45] slandelle opened #5059 "FileRegion#transfered is a typo"
Correct spelling is `transferred`.

I know it's an API and it can't be easily fixed, by my eyes ache every time I see this.
`Referer` 2.0.

[2016-03-30 08:00] wallellen commented on #5034
thanks

[2016-03-30 08:31] normanmaurer commented on #5045
@Scottmitch Doh! Good catch, fixed by 949bfdf8c532e23c0925f08e4c0d9662857c0e3c . Shame on me :(

@ohmygodlin you can just use the version you used as the defect is only in the example. Current 4.0 branch has the fix already.

[2016-03-30 08:31] #5045 closed

[2016-03-30 08:58] normanmaurer commented on #5058
Duplicate of #4845 closing.

[2016-03-30 08:58] #5058 closed

[2016-03-30 08:58] normanmaurer commented on #5054
checking...

[2016-03-30 10:51] ohmygodlin commented on #5045
one more question, if i want to just use websocket server function. could i just import netty-codec-http-4.0.35.Final.jar, not import netty-all-4.0.35.Final.jar?

[2016-03-30 10:58] dimitarg commented on #4918
For future reference, works out of the box with 4.1.0-CR5, is broken on CR4

[2016-03-30 11:31] normanmaurer commented on #5045
@ohmygodlin if you also import its dependencies,yes.

[2016-03-30 11:39] normanmaurer commented on #4918
@dimitarg thanks for pinging... Yes this is fixed in CR5 and will also be in 4.0.36.Final

[2016-03-30 12:07] normanmaurer commented on #5054
Verified that the issue not exists in 4.x. Looking into 3.10.x now.

[2016-03-30 12:08] normanmaurer commented on #4903
was done

[2016-03-30 12:08] #4903 closed

[2016-03-30 12:09] normanmaurer commented on #4547
@trustin did this happened again ? If not can we close this ?

[2016-03-30 12:09] normanmaurer commented on #4509
@trustin was this fixed ?

[2016-03-30 12:10] normanmaurer commented on #4386
was fixed

[2016-03-30 12:10] #4386 closed

[2016-03-30 12:12] normanmaurer commented on #3702
@trustin WDYT ?

[2016-03-30 15:48] normanmaurer commented on #4981
@andrewharmellaw sorry for the late response but we would love to add some thing like instrumentation. @Scottmitch @nmittler @trustin agree ?

[2016-03-30 22:15] Scottmitch commented on #4981
@andrewharmellaw @normanmaurer - Yes sounds good to me ... I this it would be good to discuss overall approach / API before digging into the implementation for this one.

[2016-03-31 02:41] ohmygodlin commented on #5045
1. Is there any docs to tell what is dependencies for netty-codec-http-4.0.35.Final.jar?
2. since i still use 4.0.35, so according to your comments. i still need the 2 steps i list in my description?
**ctx.fireChannelRead(req.retain());**
and
**pipeline.addLast(new WebSocketServerProtocolHandler(WEBSOCKET_PATH, null, true));**
Right?

[2016-03-31 02:45] ohmygodlin commented on #5045
Oh, just notice you put pipeline.addLast(new WebSocketServerProtocolHandler(WEBSOCKET_PATH, null, true));
in front of the
pipeline.addLast(new WebSocketIndexPageHandler(WEBSOCKET_PATH));
that works.
Please Ignore my question 2. So is there any docs to tell what is dependencies for netty-codec-http-4.0.35.Final.jar?

[2016-03-31 04:30] danbev commented on #5010
@trustin I'd be happy to try out your suggestion (nr 2) if you don't have the spare cycles at the moment. If so, could you give me the permissions required on the build server?

[2016-03-31 05:29] trustin commented on #5010
@danbev I've just updated the TeamCity settings so that it runs `mvn -DskipTests clean package` first and then `mvn package`. Thanks for a great idea!

[2016-03-31 05:29] #5010 closed

[2016-03-31 05:37] danbev commented on #5010
@trustin Awesome, thanks for that!

[2016-03-31 07:27] normanmaurer commented on #4994
Fixed by https://github.com/netty/netty/pull/4995

[2016-03-31 07:27] #4994 closed

[2016-03-31 08:43] doom369 commented on #5040
@wmorgan waiting for benchmarks. Please share as soon as you get some results.

[2016-03-31 11:45] andrewharmellaw commented on #4981
Sounds great guys. I've not put a great deal of thought into this, but the idea was to echo what you get with the metrics-intstrumented netty.  Thats from a consumer perspective however - the internals will likely be wildly different.  Please let me know how I can help / contribute in this discussion.

[2016-03-31 11:48] normanmaurer commented on #3806
Fixed by https://github.com/netty/netty/pull/5060

[2016-03-31 11:48] #3806 closed

[2016-03-31 15:14] mpolonio commented on #4950
Hi @normanmaurer, did you have the time to take a closer look on the issue?

[2016-03-31 15:14] normanmaurer commented on #4950
@mpolonio not yet... sorry super busy and not high priority atm :(

[2016-03-31 19:42] Scottmitch commented on #4942
@ejona86 @trustin - FYI I have moved this to 4.1.1 for now as it doesn't seem like this is too urgent.

[2016-03-31 19:42] Scottmitch commented on #4438
moved to 4.1.1

[2016-03-31 19:43] Scottmitch commented on #4429
@trustin @ifesdjeen - can you comment on the progress for the second part of this issue?

[2016-03-31 19:45] Scottmitch commented on #3927
@Apache9 @nmittler - There doesn't seem to be much movement on this issue recently ... I'll move this to 4.1.1 for now

[2016-03-31 19:46] Scottmitch commented on #2807
@nmittler - I think the current approach we have is adequate ... please reopen if you feel there is work left to do here

[2016-03-31 19:46] #2807 closed

[2016-03-31 19:48] Scottmitch commented on #4210
@trustin @nmittler - Any interest in fixing this for 4.1.0?

[2016-03-31 20:33] normanmaurer commented on #4665
@slandelle final is very close (within 1 week I would say) you have time or we want to move it to 4.1.1.Final ?

[2016-03-31 20:35] normanmaurer commented on #2422
@trustin do we want to "fix this" for 4.1.0.Final or not ?

[2016-03-31 20:59] slandelle commented on #4665
@normanmaurer Sorry, I really don't have time for this one atm. It's still on my radar, but I really don't know when I'll find time to work on this. So, yes, please remove from 4.1.0.

[2016-04-01 01:56] trustin commented on #4547
Not a Netty issue but a user problem related with Tomcat class loaders.

[2016-04-01 01:56] #4547 closed

[2016-04-01 02:00] trustin commented on #5059
Oh, damn.

[2016-04-01 02:14] Apache9 commented on #3927
Sorry about this...
I tried in #4611 and @nmittler thought it is better to have a common interface for `ByteBuf` and `FileRegion` whose index is int based. I explained the difficulty and haven't seen any progress after that...

[2016-04-01 06:28] normanmaurer commented on #3335
@trustin I think we can close this as won't fix ?

[2016-04-01 09:11] jorcasso opened #5062 "Can not use MqttEncoder"
Netty version: 4.1.0.CR5

Context:
I found that as of this commit https://github.com/netty/netty/commit/269677820df53b1b26cc17f772049cd6b7e88c9b the contructor of the `MqttEncoder` class becomes private and the only way to get an instance of this class is using the static attribute `MqttEncoder.INSTANCE`, however this handler is not marked as `Sharable`, so I can not use it in different pipelines.

[2016-04-01 09:12] normanmaurer commented on #5062
@jorcasso doh! my failure. Will fix it.

[2016-04-01 09:15] jorcasso commented on #5062
thanks!

[2016-04-01 09:49] normanmaurer commented on #5062
Fix in here: https://github.com/netty/netty/pull/5063

[2016-04-01 12:34] normanmaurer commented on #5028
@eun-ice I think I have a fix... stay tuned

[2016-04-01 12:49] eun-ice commented on #5028
Thank you!

[2016-04-01 12:49] normanmaurer commented on #5062
Fixed https://github.com/netty/netty/pull/5063

[2016-04-01 12:49] #5062 closed

[2016-04-01 12:52] buchgr commented on #4547
@trustin interesting. do you know what the issue was exactly? I would be interested, in what can make a final field null?

[2016-04-01 14:39] nmittler commented on #3927
@Apache9 @Scottmitch apologies guys .. I haven't had the bandwidth to get back to this and probably won't any time soon.

If someone else would want to take this on, the original interface that I sketched out for `ReadableObject` seems like reasonable start (#3965 and #3969). It will require some work, but I don't think it's incredibly hard. The main changes would be:

- Use int-based indices rath

[2016-04-01 17:23] Scottmitch commented on #3927
@nmittler - Sounds good. I agree the last bullet may be less important and may have unintended consequences ... benchmarking needed on this one.

[2016-04-01 17:44] ifesdjeen commented on #4429
@Scottmitch sorry I've been quite busy lately, couldn't finish it. Is it still releavant for me to try and do it or you've already taken over?

[2016-04-01 17:49] Scottmitch commented on #4429
@ifesdjeen - If you have bandwidth please feel free to tackle this. If not let me know (I haven't taken any action on this).

[2016-04-01 19:29] Scottmitch opened #5065 "MesssageToMessageEncoder promise handling"
[MessageToMessageEncoder](https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/MessageToMessageEncoder.java#L118) iterates through a loop and potentially allocates a new promise for each write. The paramter `promise` only represents the status of the last write operation. This makes the assumption that  the underlying transport is ordered and if any of the preceding w

[2016-04-01 19:29] Scottmitch commented on #5065
@normanmaurer @trustin - WDYT?

[2016-04-01 22:54] rkapsi opened #5066 "ApplicationProtocolNegotiationHandler doesn't work with SniHandler"
Netty 4.1.0.Final-SNAPSHOT

The `ApplicationProtocolNegotiationHandler` is expecting the `SslHandler` to be present at pipeline construction time (see `#handlerAdded(...)`) and consequently fails with the `SniHandler` because it's adding it at a later point in time.

[code]

IMHO that whole block of code can be moved into `userEventTriggered()`

[code]

[2016-04-01 23:12] Scottmitch commented on #5066
thanks for reporting @rkapsi - let me take care

[2016-04-02 10:48] Apache9 commented on #3927
https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/socket/nio/NioSocketChannel.java#L261

This method is optimized for `ByteBuf` only writes. If we introduce a `SlicedReadableObject` and a `CompositeReadableObject`, I think it is really difficult to find out whether we only have `ByteBuf` in the object? There are also other optimizations for `ByteBuf` in our code.

An

[2016-04-02 13:39] rkapsi commented on #4895
@scramjet @normanmaurer @Scottmitch - I'm reading a bit in the tea leafs here but I believe the described behavior can be explained by stuff that is happening in the `HttpObjectDecoder` on lines 231-232 or 251-252 (easy case) and generally (let's say line 279) if there is enough input available to emit multiple events.

My understanding of `setAutoRead()` has always been that ChannelHandlers are f

[2016-04-02 17:02] ejona86 commented on #4941
I investigated using user-defined writability for changing the writability state. It basically would require duplicating the buffer size logic from `ChannelOutboundBuffer` and would ideally consist of overriding `AbstractChannel.filterOutboundMessage` to be informed when new messages before flush(). I think it would be mostly safe from reentrancy concerns.

It seems fairly straight-forward to add

[2016-04-03 00:25] scramjet commented on #4895
Hi Roger, that sounds totally plausible and reasonable. And thanks very much for looking into it.

It sounds like the temporary buffer I've added in my handler is effectively using solution number 2, which I'm fine with for now. If it comes up again, I'll look into a more reusable solution.

Cheers,

Matthew.

[2016-04-03 00:26] #4895 closed

[2016-04-03 18:15] Scottmitch opened #5069 "Make NIO and EPOLL autoReadClear consistent"
[AbstractNioChannel readPending](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/nio/AbstractNioChannel.java#L64) is volatile because it is directly set when [autoRead is cleared](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/socket/nio/NioSocketChannel.java#L364). The EPOLL transport takes an alternative approach and avoids the n

[2016-04-03 18:17] Scottmitch commented on #5069
If the EPOLL approach is acceptable this would be preferred as it would remove a volatile which is written to frequently in the event loop. The only hesitation is that [AbstractNioChannel](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/nio/AbstractNioChannel.java#L133) exposes `readPending` with protected accessor methods ... however I'm not sure if anyone should

[2016-04-03 18:27] Scottmitch commented on #5069
This was discovered during investigation in https://github.com/netty/netty/pull/5067 and removing a volatile will become more important as the call frequency to `setReadPending` will increase (if the changes in this PR are "correct").

[2016-04-04 06:59] normanmaurer commented on #5069
@Scottmitch I would agree that the EPOLL approach is "ok". @trustin WDYT ?

[2016-04-04 09:26] ranadeeptujala commented on #327
hi
My netty server crashing very often please find the thread dump below
        at sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)
        at sun.nio.ch.EPollArrayWrapper.poll(EPollArrayWrapper.java:269)
        at sun.nio.ch.EPollSelectorImpl.doSelect(EPollSelectorImpl.java:79)
        at sun.nio.ch.SelectorImpl.lockAndDoSelect(SelectorImpl.java:87)
        - locked <0x00000000d093b9a0> (a

[2016-04-04 11:52] vitaliy-kuzmich opened #5070 "io.netty.handler.codec.CorruptedFrameException: RSV != 0 and no extension negotiated, RSV:1"
Hello, I have this exception, at 4.1.0.CR6 but at 4.1.0.Beta8 works well. What I did wrong? Currently I am using custom Handshaker, with 13 version (WebSocketClientHandshaker13) .

[code]

I tried to set "allowExtensions"  but then with

[code]

reproduce: try to connect to lightstreamer server. via  wss

[2016-04-04 18:26] c4milo opened #5076 "Build process on OS X does not work"
[code]

$ env | grep C*FLAGS
LDFLAGS=-L/usr/local/opt/openssl/lib
CPPFLAGS=-I/usr/local/opt/openssl/include

$ brew install openssl
Warning: openssl-1.0.2g already installed

[2016-04-04 18:27] #5076 closed

[2016-04-04 18:27] c4milo commented on #5076
Wrong place, sorry.

[2016-04-04 21:30] vkostyukov opened #5078 "SslHandler and extra work on handshakeFuture"
This is mostly a discussion, not an issue so I apologies if I used the wrong channel for that. But there is something I'm trying to do and I'm not 100% sure there is an API for this in Netty (`SslHandler`) so I decided to open this question and discuss a possible solution (or being told that there is already a way to do that and shamefully disappear).

I'm trying to run a simple validation (`SSLSe

[2016-04-05 07:03] #5066 closed

[2016-04-05 07:11] normanmaurer commented on #5066
Fixed by https://github.com/netty/netty/pull/5077

[2016-04-05 07:13] normanmaurer commented on #5078
@vkostyukov so just to put it very simple you want to have the write futures failed with the ssl exception that are still queued in the SslHandler ?

[2016-04-05 08:15] vitaliy-kuzmich commented on #5070
just tried 4.1.0.CR1, it also does not works. What is the changes in frames between 4.1.0.Beta8 and  4.1.0.CR1 ?

[2016-04-05 09:15] demonti commented on #1706
As the 5.x development branch is gone, is there any chance that this problem will be addressed in a foreseeable future?

[2016-04-05 10:43] vitaliy-kuzmich commented on #5070
upd: wss does not working with proxies. But worked before.

[2016-04-05 11:17] normanmaurer commented on #5070
@vitaliy-kuzmich can you give us a reproducer ?

[2016-04-05 12:07] #3095 closed

[2016-04-05 13:07] normanmaurer commented on #5059
Fixed by https://github.com/netty/netty/pull/5071

[2016-04-05 13:07] #5059 closed

[2016-04-05 13:31] normanmaurer commented on #5078
@vkostyukov ah I think I now understand better what you want to do... I think what you could do is actually return your own ChannelPromise to and full-fill it or fail it.

Something like:
[code]

[2016-04-05 17:07] rkapsi opened #5082 "Channel (EPOLL) gets closed before response is consumed #2"
Netty 4.1.0.Final-SNAPSHOT

I have an unit test which I originally created for #3709 and it has started failing as of 04/04/16 (Monday). It's possible that it's related to #5061 (got merged on Friday and we pulled the latest nightly on Monday).

I'm still looking but the summary of the unit test looks like this:

1. Netty HTTP client
2. Auto-Reading is turned off
3. A handler that calls `ctx#read(

[2016-04-05 17:08] normanmaurer commented on #5082
@rkapsi can you check if https://github.com/netty/netty/pull/5067 fixes it ?

[2016-04-05 17:14] rkapsi commented on #5082
Checking...

[2016-04-05 17:34] rkapsi commented on #5082
@normanmaurer nope, the problems seems actually more persistent.

[2016-04-05 17:34] normanmaurer commented on #5082
@Scottmitch can you check ?

[2016-04-05 17:38] Scottmitch commented on #5082
yes will check

[2016-04-05 17:39] rkapsi commented on #5082
I can probably turn my test into a self-contained standalone version if needed.

[2016-04-05 17:47] normanmaurer commented on #5082
@rkapsi that would help a lot !

[2016-04-05 17:54] vkostyukov commented on #5078
Thanks @normanmaurer! This is pretty close to what I meant. Even though I was thinking of different relation, your example inspired me for an idea I think should work.

The reason I opened an issue is that I was thinking we can provide a method on `SslHandler` that fails an underlying pending writes (i.e., calls `pendingUnencryptedWrites.removeAndFailAll `). But I agree, it's doable w/o it, by kee

[2016-04-05 17:54] #5078 closed

[2016-04-05 18:02] Scottmitch commented on #5082
yes please :+1:

[2016-04-05 18:25] normanmaurer commented on #5078
@vkostyukov no worries buddy. Happy to help

[2016-04-05 18:25] normanmaurer commented on #5078
@vkostyukov also this tweet was not related to you question ;)

[2016-04-05 18:30] rkapsi commented on #5082
@normanmaurer @Scottmitch please see https://github.com/Squarespace/netty-issue-5082

[2016-04-05 19:05] Scottmitch commented on #5082
@rkapsi - thanks! looking now.

[2016-04-05 20:12] zhangkun83 opened #5084 "DefaultThreadFactory should stick to the thread group where it was constructed"
We (gRPC) encountered a bug that was triggered by https://github.com/grpc/grpc-java/commit/d927180a63ac2df4fae0082b51d51e3836771bb1. After that commit, event loop threads are created per task by `NioEventLoopGroup`, and inherits the thread group of the caller, which in our case is an application-provided request-scope thread. Things go south when the application tries to manipulate (e.g., interrup

[2016-04-05 20:17] normanmaurer commented on #5084
@zhangkun83 sounds good. Thanks!

[2016-04-05 20:19] normanmaurer commented on #5084
@zhangkun83 please ensure you sign our icla: http://netty.io/s/icla and use our commit message template http://netty.io/wiki/writing-a-commit-message.html when doing the pr :)

[2016-04-05 20:27] buchgr commented on #5084
@zhangkun83 good catch!

[2016-04-05 20:48] Scottmitch commented on #5082
@rkapsi - Thanks again for the unit test! I found the issue:

- The initial read for the channel never gets done because by the time it executes the channel is not active [1]
- The channel is not active because it is closed [2] due to a RDHUP event we receive.
- We call epollInReady before we close [3] but return early because `readPending == false` [4].

I pushed some new code to #5067 to address

[2016-04-05 20:58] Scottmitch commented on #5082
looks like github is experiencing some issues https://status.github.com/ ... doesn't look like the push operation made it to github's servers...

[2016-04-06 00:32] Scottmitch commented on #4895
@scramjet - Just wanted to clarify the expected behavior of `autoRead` ...

`autoRead` is used to determine if when the current read loop finishes, if we should keep the `read` operation set on the select mechanisms (epoll, nio's epoll, etc...). How much the read loop can read per event loop wake up is controlled via [RecvByteBufAllocator](https://github.com/netty/netty/blob/4.1/transport/src/main

[2016-04-06 04:17] trustin commented on #3449
Should be fixed by #5087

[2016-04-06 05:03] trustin opened #5088 "Prepend `(experimental)` to the package summary of experimental modules"
.. so we can pull the cool stuff in early (HTTP/2, SMTP and Redis) and give some room for polishing the API (Memcache)

Let's prepend `(experimental)` to the package summary. e.g:

    (experimental)  Handlers for sending and receiving HTTP/2 frames.

The list of experimental modules I can think of right now:

- codec-dns
- codec-http2
- codec-memcache
- codec-redis
- codec-smtp
- resolver-dns

Pl

[2016-04-06 06:07] normanmaurer commented on #5088
Sounds good... Maybe beta would be better :)

[2016-04-06 06:14] hellocrest opened #5091 "Some MsgEchoServer's problem"
hi,
  I'm a netty beginner,and when I git clone source code and run some examples,I found some problem in the next classes.
`io.netty.example.udt.echo.message.MsgEchoClient <br/>io.netty.example.udt.echo.message.MsgEchoServer`
  When I run the server and then run client,it'll always print some message like this "13:35:32.524 [connect-2-1] INFO  i.n.handler.logging.LoggingHandler - [id: 0x3846a69c,

[2016-04-06 07:10] #5082 closed

[2016-04-06 07:13] trustin commented on #5088
Let me do a spin-off doclet project meanwhile. :-)

[2016-04-06 08:14] buchgr commented on #5088
In gRPC we are using the `ExperimentalApi` annotation for that. Might be easier to spot for developers? Or maybe have the whole packages under `io.netty.experimental.`?

I am not sure if people read the package description, especially when pulling in `netty-all`?

https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/ExperimentalApi.java

[2016-04-06 08:23] trustin commented on #5088
I'll write a Javadoc doclet that manipulates the generated Javadoc so every type description has a warning. :-)

[2016-04-06 08:31] buchgr commented on #5088
@trustin good idea! Does that transform the source code javadoc or only the generated HTML?

[2016-04-06 08:53] trustin commented on #5088
@buchgr Only the generated HTML. Like what I did with APIviz doclet.

[2016-04-06 08:53] normanmaurer commented on #5028
Fixed by https://github.com/netty/netty/pull/5075

[2016-04-06 10:57] eun-ice commented on #5028
thank you!

[2016-04-06 10:57] trustin commented on #5088
My mind is fighting against itself between doing it right and just getting this s**t done. Don't expect this to be done any time soon, folks. :-)

[2016-04-06 11:39] vitaliy-kuzmich commented on #5070
https://github.com/vitaliy-kuzmich/reproducer5070
to fix:
cut HttpProxyHandler handler from WSInitializer or change netty version to 4.1.0.Beta8 in pom.xml

[2016-04-06 11:51] buchgr commented on #5088
@trustin hmm :) But when using an annotation it will be in source code and generated HTML e.g. http://www.grpc.io/grpc-java/javadoc/io/grpc/Compressor.html ... no?

[2016-04-06 12:00] normanmaurer commented on #5088
@trustin I think what @buchgr suggests makes a lot of sense :)

[2016-04-06 12:11] trustin commented on #5088
Yeah, it's just boring to annotate all public classes. :-)

[2016-04-06 12:13] trustin commented on #5088
So.. I guess the discussion is over and we can move on to adding annotations.

[2016-04-06 12:13] normanmaurer commented on #5088
@trustin I agree but I guess only doing it on the package may be not good enough as people may miss it.

[2016-04-06 12:14] trustin commented on #5088
I thought it's about doing it on all public classes on experimental modules?

[2016-04-06 12:15] normanmaurer commented on #5088
not sure this is needed or not... maybe doing it on the package-info.java would be good enough ? @buchgr @Scottmitch @trustin WDYT ?

[2016-04-06 12:32] buchgr commented on #5088
I was thinking about adding the annotation to all public classes and adding some text (like @trustin suggested) to the `package-info.java`. I am suggesting this cause I personally don't recall ever looking at `package-info.java` and hardly ever at the HTML javadoc. I mostly just add a dependency to my build system, and start using it / reading docs in the source. Maybe that's just me, 'cause I am

[2016-04-06 13:17] normanmaurer commented on #5088
@buchgr you are volunteer for a PR ;) ?

[2016-04-06 13:52] buchgr commented on #5088
@normanmaurer good try :stuck_out_tongue_winking_eye:

[2016-04-06 16:23] Scottmitch commented on #5088
maybe start out with a high level "this module is experimental" notice in release notes and comment on package-info ... and at the discretion of each module they can either just rip the band-aid off and make the entire module non-experimental at once ... or put annotations at the individual class level if necessary. Maintaining the annotations on all of these public classes from the start seems li

[2016-04-06 16:52] normanmaurer commented on #5088
@buchgr damn it 😆

[2016-04-06 18:36] Scottmitch commented on #5091
@hellocrest - Can you pull the latest code, rebuild, run from the command line, and paste what you see? The client will send a message to the server, the server will echo it back, and then the client will also echo back what it reads ... so its basically an endless loop of sending back and forth (not just a single message). So if you look something like wireshark or tcpdump on local host you shoul

[2016-04-06 19:20] #5084 closed

[2016-04-06 19:26] plx927 opened #5092 "how Understanding Cause of NullPointerException in Java NIO Socket Channel"
Can anyone explain why this is happening? My code is below. Before the thread containing the run method is created I ensure the key.isAcceptable() is true.
`ExecutorService pool = Executors.newFixedPool(5);`
`pool.execute(new Runnable(){ ServerSocketChannel ssc = (ServerSocketChannel) key.channel(); sc = ssc.accept();})`
**why ssc.accepet is null?**

[2016-04-06 19:32] #5069 closed

[2016-04-06 19:34] normanmaurer commented on #5092
@plx927 this is the issue tracker for netty and not a java user group.

[2016-04-06 19:34] #5092 closed

[2016-04-07 03:23] scramjet commented on #4895
@Scottmitch I appreciate you taking the time to detail that. Yes, now that it's been pointed out, it's obvious why an intermediate codec might generate several messages for a single read. With that in mind, the solution I have is perfectly acceptable, and I see that a solution is in the works to address this more generally.

Thanks again,

Matthew.

[2016-04-07 04:31] #2736 closed

[2016-04-07 04:41] hellocrest commented on #5091
@Scottmitch  thank you,I'll try.And paste the log later.

[2016-04-07 07:12] Janmm14 opened #5093 "ByteToMessageDecoder uses a heap buffer forcefully on handlerRemoved"
The [```ByteToMessageDecoder```](https://github.com/netty/netty/blob/4.0/codec/src/main/java/io/netty/handler/codec/ByteToMessageDecoder.java#L215) uses [```ByteBuf.readBytes(int)```](https://github.com/netty/netty/blob/4.0/buffer/src/main/java/io/netty/buffer/AbstractByteBuf.java#L670-L682), which is using a heap buffer forcefully without being able to change it.

I suggest the buffer should be a

[2016-04-07 07:14] normanmaurer commented on #5093
@Janmm14 let me check and fix it :) Thanks for the report.

[2016-04-07 08:00] hellocrest commented on #5091
I've read the code,and I think I've known the reason,thank you. @Scottmitch

[2016-04-07 08:00] #5091 closed

[2016-04-07 08:12] Janmm14 commented on #5093
Probably one even does not have to copy the buffer and its the handler removed method when the handler is not going to be used again.
Btw. its not known whether this is the bug which caused SpigotMC/BungeeCord#1717.

[2016-04-07 08:13] normanmaurer commented on #5093
@Janmm14 its needs to be copied as other handlers in the pipeline may want to handle the remaining bytes.

[2016-04-07 09:05] Janmm14 commented on #5093
@normanmaurer Yes, but if you have it like this:
[code]
it seems to work and the ```buf``` is also released (only tested in bungeecord).

[2016-04-07 09:09] normanmaurer commented on #5093
Yes this may work most of the times but we never really know what the internal buffer is so its safer to copy it. For example we never want the ReplayingBuffer to escape the handler.

So better do a copy here, which is not a big deal as it only happens one time (when the handler is removed)

[2016-04-07 12:34] slaskawi opened #5095 "SNIHandler should allow using SSLContext (instead of SslContext)"
Hi!

In Infinispan we would need to support SNI for Hotrod server. However this issue is not as easy as it would seem...

Because our server has been built on the top of Wildfly, [the only thing we can get from it, is initialized SSLContext](https://github.com/infinispan/infinispan/blob/ea7849ad3c07e2d3b297b2a02050fafe25ca20c6/server/integration/endpoint/src/main/java/org/infinispan/server/endpoin

[2016-04-07 12:44] normanmaurer commented on #5070
@vitaliy-kuzmich what I'm expected to see when it works ?

[2016-04-07 13:04] normanmaurer commented on #5095
@slandelle it is possible if you just write your own `SniHandler`. ;) Joke aside, let me see if I can somehow make it more "extensible".

[2016-04-07 14:41] trustin opened #5097 "Http2Exception: Cannot create stream 1 since this endpoint has received a GOAWAY frame with last stream id 0"
I recently got the following exception:

    io.netty.handler.codec.http2.Http2Exception: Cannot create stream 1 since this endpoint has
    received a GOAWAY frame with last stream id 0

It doesn't seem to make sense to me because

- the stream 1 is the upgrade stream, so there's no chance of receiving a GOAWAY frame before its creation, and
- there's no stream 0 by definition.

Any clues? /cc @S

[2016-04-07 15:08] normanmaurer commented on #5097
@trustin just to clarify, what vrrsion of netty ? I think we fixed something like this before

[2016-04-07 15:28] anuraaga commented on #5097
Sorry to jump in, but it was my server so I can answer that. It was Netty 4.1.0CR3 (via armeria 0.12.2). FWIW, we've used this in many API servers/clients already with no issues so were surprised to see this after adding to yet another API server.

If it's already fixed in CR5 that'd be great news :)

[2016-04-07 15:33] normanmaurer commented on #5097
Hmm i think there was no such fix after CR3 😩

[2016-04-07 15:43] normanmaurer commented on #5032
Please reopen with more info

[2016-04-07 15:43] #5032 closed

[2016-04-07 15:45] normanmaurer commented on #4929
@harbulot let me work on this

[2016-04-07 15:46] normanmaurer commented on #5095
also related to #4929

[2016-04-07 15:47] normanmaurer commented on #4869
Let me close this for now and if you still think there is an issue reopen it.

[2016-04-07 15:47] #4869 closed

[2016-04-07 15:59] normanmaurer commented on #4698
Closing this for now... if there is still a problem please reopen with more details

[2016-04-07 15:59] #4698 closed

[2016-04-07 16:02] normanmaurer commented on #4617
@trustin I just rechecked and I copied the html :( Not sure why it still shows the old ones.

[2016-04-07 16:03] normanmaurer commented on #4471
@stepancheg sorry for the late response. So you want it to pool max of X memory and after this just allocate unpooled memory?

[2016-04-07 16:03] normanmaurer commented on #4426
Totally forgot about this... Will check .

[2016-04-07 16:04] normanmaurer commented on #4356
Will look into it.

[2016-04-07 16:07] normanmaurer commented on #4356
Just checked and this was fixed already. Please reopen if you still see the problem

[2016-04-07 16:07] #4356 closed

[2016-04-07 16:08] freels commented on #4356
Thanks, will do.

[2016-04-07 16:28] rkapsi opened #5099 "Server doesn't receive a channelInactive() from its client"
Netty 4.1.0.Final-SNAPSHOT

Server doesn't receive a channelInactive() from its client after it's turning off auto reading (server turns off auto reading) and the client disconnects.

I've opened a PR #5098 with an Unit Test which demonstrates the problem.

[2016-04-07 16:30] vitaliy-kuzmich commented on #5070
@normanmaurer "CloseWebSocketFrame Cannot continue due to an unexpected error" it is mean then WS parsed well....

[2016-04-07 16:44] normanmaurer commented on #5070
@vitaliy-kuzmich did you also try to test it by have the proxy (little-proxy) and your code run in two different JVMs ? As maybe the little-proxy is prepared to take the latest CR releases in terms of changes.

[2016-04-07 16:52] vitaliy-kuzmich commented on #5070
firstly I got this error at external proxy service... I found that same error occures with little-proxy also, so I used it to reproduce and exclude external services which is easier.

[2016-04-07 16:53] vitaliy-kuzmich commented on #5070
no I did not test it on different JVMs.

[2016-04-07 16:56] Scottmitch commented on #5097
A goaway will be sent automatically when the connection is closed [here](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L418) (also if an error is detect in the pipeline this may result in the connection being closed [here](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2

[2016-04-07 17:04] normanmaurer commented on #5070
@vitaliy-kuzmich ah ok... thanks!

[2016-04-07 17:06] normanmaurer opened #5100 "HTTP2 leak reported"
This was reported on the CI:

[code]

[2016-04-07 17:07] Scottmitch commented on #5097
@trustin @anuraaga - Can you verify that a GOAWAY is being received, and identify the root cause as to why it is being sent (channel closed, channel error, etc...)?

[2016-04-07 17:11] normanmaurer commented on #5070
@vitaliy-kuzmich just checked and I can not reproduce with latest code from 4.1 branch. Can you try with 4.1.0.Final-SNAPSHOT and check if you can not reproduce anymore as well ?

[2016-04-07 17:31] normanmaurer commented on #5070
hmm something is still wrong. let me investigate

[2016-04-07 17:34] Scottmitch commented on #5099
thanks for reporting @rkapsi !

[2016-04-07 17:37] anuraaga commented on #5097
Any tips on what to look for? I'll dig around but not sure if I'll come up with anything as it's difficult to repro. On the client we were seeing session establishment timeouts, which seem like the server never responded, and response timeouts, which seem like the server did connect but then never got back to it. There were no response timeouts on the server though, just that goaway exception.

Fo

[2016-04-07 17:43] normanmaurer commented on #5070
@vitaliy-kuzmich ok I know whats going on.... let me think about a way to fix it.

[2016-04-07 17:45] vitaliy-kuzmich commented on #5070
@ngocdaothanh that is interesting. What is going on there?

[2016-04-07 17:46] slaskawi commented on #5095
@normanmaurer ekhem ekhem I'm planning to write a temporary one :D But that's something I won't tell my kids when I'm old...

Looking forward to remove it once we upgrade to `4.1.0` :)

[2016-04-07 17:47] normanmaurer commented on #5095
@slaskawi stay tuned I may be able to get something for 4.0 as well :)

[2016-04-07 17:48] slaskawi commented on #5095
Great! Thanks!

[2016-04-07 18:53] normanmaurer commented on #5070
@vitaliy-kuzmich basically the HttpClientCodec of HttpProxyHandler is removed by mistake.

[2016-04-07 19:12] normanmaurer commented on #4135
Let me close this and please reopen if you think this is still an issue and can provide more details

[2016-04-07 19:12] #4135 closed

[2016-04-07 19:13] normanmaurer commented on #4004
Please try latest version and reopen if you still have issues

[2016-04-07 19:13] #4004 closed

[2016-04-07 19:15] normanmaurer commented on #3500
As there is no master anymore we can close this

[2016-04-07 19:15] #3500 closed

[2016-04-07 19:15] normanmaurer commented on #3335
Let us close this as won`t fix.

[2016-04-07 19:15] #3335 closed

[2016-04-07 19:16] normanmaurer commented on #3193
Thanks for let us know... Closing now

[2016-04-07 19:16] #3193 closed

[2016-04-07 19:17] normanmaurer commented on #2840
Please try again with latest release and let us know if you still see it.

[2016-04-07 19:17] #2840 closed

[2016-04-07 19:18] normanmaurer commented on #1811
This was done.

[2016-04-07 19:18] #1811 closed

[2016-04-08 00:57] Scottmitch commented on #5097
@anuraaga - Can you clarify where the exception reported in this issue was observed (on the client or the server)?

Any GOAWAY frames being sent/received with [Last-Stream-ID](https://tools.ietf.org/html/rfc7540#section-6.8) of `0`. If so what is the `Error Code` and is there any content in the `Additional Debug Data`?  I'm not sure what tools access you have at your disposal however here are some

[2016-04-08 01:33] Scottmitch commented on #5100
thanks for reporting @normanmaurer

[2016-04-08 01:41] Scottmitch commented on #5100
the buffer was written by codec-http2, and makes it into LocalChannel's `inboundBuffer` queue. Assuming this leak originates while `InboundHttp2ToHttpAdapterTest` is executing it looks like the channels are closed ... may be good to double check `LocalChannel.doClose` when there are items in the queue either get sent to the peer or are released.

[2016-04-08 02:05] trustin commented on #5097
We currently have difficulties in reproducing the problem.

Looking from the code, the exception message occurs only when `goAwayReceived()` returns `true`. `goAwayReceived()` returns only when `goAwayReceived(lastKnownStream, errorCode, debugData)

[2016-04-08 02:17] trustin commented on #5097
What I don't understand is why sending a response triggers the attempt to create a stream 1. It should exist already, because it's created on successful upgrade.

[2016-04-08 03:27] gxzcds opened #5102 "why netty 5 have no any update so long time"
our team developing depend on netty 5, but netty 5 did't publish stable release. so, we want to know when the netty 5 will publish  stable release.

[2016-04-08 03:32] Scottmitch commented on #5102
The branch that was Netty 5 has been deprecated. See https://github.com/netty/netty/issues/4466

[2016-04-08 03:32] #5102 closed

[2016-04-08 04:09] Scottmitch commented on #5097
yes this is strange ... just a sanity check can you verify/answer the following:

1. you are actually doing an upgrade in this scenario (IIRC the HTTP/2 codec doesn't prevent you from creating/operating on a stream with ID 1 ... in general this ID is subject to the same rules as all other streams).
2. How are you managing/creating stream IDs?
3. You are using `Http2ServerUpgradeCodec` and `Http2Cl

[2016-04-08 05:23] normanmaurer commented on #5099
Closing as "not a bug". See #5098

[2016-04-08 05:23] #5099 closed

[2016-04-08 06:06] trustin commented on #5097
1. Yes. The exception looks like it happened when sending the response to the upgrade request.
2. We just use the same stream ID the client sent. The client starts at the stream ID 3 after successful upgrade.
3. Yes.

[2016-04-08 06:33] trustin commented on #5097
We also sometimes saw this:

[code]

[2016-04-08 06:34] trustin commented on #5097
It could mean that the remote stream might have been closed for an unknown reason before sending a response.

[2016-04-08 12:29] flozano opened #5104 "All worker threads waiting for addBefore task to finish"
Netty 4.1.0.CR6
JDK 1.8.0_20
Linux 2.6.32-431.el6.x86_64

The EventLoopGroup size is 2.
In our code we try to add an idleStateHandler

[code]

And, since upgraded to CR6, quickly all the threads are locked like this:

[code]

It doesn't reproduce in the previous netty version we used (4.1.0.Beta8).

[2016-04-08 12:43] normanmaurer commented on #5104
@flozano can you show me the code where you add the handler ?

[2016-04-08 12:48] flozano commented on #5104
Sure, here it is:
[code]
[code]

[2016-04-08 12:49] normanmaurer commented on #5104
@flozano quick question. Is this done from the EventLoop thread or not ?

[2016-04-08 12:56] normanmaurer commented on #5104
also was the "ChannelHandlerConstant.MQTT_DECODER_HANDLER_NAME" added with a custom ChannelHandlerInvoker or EventExecutorGroup.

[2016-04-08 12:59] normanmaurer commented on #5104
@flozano also when you say these are locked are these never recover ?

[2016-04-08 12:59] flozano commented on #5104
Yes, the full stack-trace shows `setIdle` as invoked in threads `mqtt-netty-worker-3-1` and `mqtt-netty-worker-3-2.`, which are the NioEventLoopGroup threads:
[code]

the `` was added in the ChannelInitializer as:
[code]
so nothing special there either.

[2016-04-08 13:00] flozano commented on #5104
Yeah, no recovery in sight, the server gets fully locked.

[2016-04-08 13:02] flozano commented on #5104
This is full stack-trace of one of the locked threads:
[code]

[2016-04-08 13:02] normanmaurer commented on #5104
@flozano I tried to reproduce here but no luck with a unit test. Any way I can reproduce this easily ?

[2016-04-08 13:06] flozano commented on #5104
We haven't isolated the issue yet I'm afraid, we can try

[2016-04-08 13:14] jorcasso commented on #5104
I found that the issue occurs as of version 4.1.0.CR3, in version 4.1.0.CR2 it is working fine.

[2016-04-08 13:15] normanmaurer commented on #5104
@flozano from the stack trace may it be possible that while the thread is an EventLoop thread it may be possible that the addBefore(...) call is done in an EventLoop that not belongs to the Channel and so it's pipeline ?

[2016-04-08 13:22] jorcasso commented on #5104
We have only one eventLoop instance in the server for the worker threads, so I think is not possible that the Channel belongs to another one.

[2016-04-08 13:23] normanmaurer commented on #5104
@johnou this is strange as the posted stack can only happen when the pipeline operation is executed from outside the EventLoop that belongs to it. And from what @flozano said you have 2 threads.

[2016-04-08 13:25] normanmaurer commented on #5104
I think I can reproduce it here...

[2016-04-08 13:49] normanmaurer commented on #5104
@flozano can you try to alter the code to:

[code]

[2016-04-08 13:57] jorcasso commented on #5104
@normanmaurer with that modification the issue does not reproduce

[2016-04-08 14:00] normanmaurer commented on #5104
@jorcasso ok that is what I expected... So let me think of a good way to fix it. On a related not writing concurrent code is hard :(

[2016-04-08 16:33] flozano commented on #5104
cool, thanks. With this condition, is it safe to use CR6 if we only modify the pipeline by submitting stuff to `channel.eventLoop().execute(`?

[2016-04-08 16:44] normanmaurer commented on #5104
Yep

[2016-04-08 17:10] Scottmitch commented on #5097
Interesting. This means you try to create a `odd` stream ID on the server's Endponit (see [here](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2Connection.java#L1106)). Do you see this error on the client or server (please clarify this when posting new info)?

This goes back to my question 2 above `How are you managing/creating stream IDs

[2016-04-08 17:57] carl-mastrangelo commented on #5043
Friendly ping @nmittler & @normanmaurer

[2016-04-08 18:30] nmittler commented on #5043
@carl-mastrangelo Jetty's solution seems reasonable to me.

@normanmaurer WDYT?

[2016-04-08 20:05] Scottmitch commented on #5040
@wmorgan - Ping. How is the bench marking coming?

[2016-04-08 20:51] normanmaurer commented on #5043
What is Jetty's solution?

[2016-04-08 23:19] ejona86 opened #5106 "Consider pinning versions for netty internal dependencies"
Since Netty includes an unstable internal package users should not mix versions of components (say, netty-codec-http-4.1.0 and netty-common-4.1.1). If versions are mixed then random things can break. For example, HttpHeaders uses `io.netty.util.internal.StringUtil` but `StringUtil` may have different methods or behavior in the new version. The problem only arises for artifacts that use internal cl

[2016-04-09 00:15] Janmm14 commented on #5093
I'm sorry for all these commit references.

[2016-04-09 04:36] anuraaga commented on #5097
＞  Do you see this error on the client or server (

The stream related error there and in the original message are on the server. The client only sees timeouts, presumably because the server is ignoring it.

[2016-04-09 05:17] normanmaurer commented on #5095
@slachiewicz Please check https://github.com/netty/netty/pull/5113

[2016-04-09 17:09] normanmaurer commented on #5095
You can now create a `JdkSslContext` from a pre-configured `SSLContext`. See https://github.com/netty/netty/pull/5113

[2016-04-09 17:09] #5095 closed

[2016-04-09 17:09] normanmaurer commented on #4929
You can now create a `JdkSslContext` from a pre-configured `SSLContext`. See https://github.com/netty/netty/pull/5113

[2016-04-09 17:09] #4929 closed

[2016-04-09 17:21] normanmaurer commented on #5093
Fixed

[2016-04-09 17:21] #5093 closed

[2016-04-09 17:22] normanmaurer commented on #4530
Please test again with latest 3.10.x release and reopen if you still see the issue.

[2016-04-09 17:22] #4530 closed

[2016-04-09 18:32] normanmaurer commented on #5028
Reopen... as there seems to be a problem with the fix

[2016-04-09 20:21] ozgurunc commented on #327
Hi have like this problem,

10.137.25.36.3869               10.133.142.93.3868               32768      0 102400      0  17/17  CLOSED

last pid:  8340;  load avg:  1.06,  1.05,  1.03;       up 3+07:02:58                                   23:16:48
82 processes: 80 sleeping, 2 on cpu
CPU states: 73.8% idle, 21.3% user,  4.9% kernel,  0.0% iowait,  0.0% swap
Memory: 4095M phys mem, 853M free mem, 16

[2016-04-10 11:51] slaskawi commented on #5095
@normanmaurer Perfect! Thanks a lot! I'll check it right away. Could you tell me what is the ETA for 4.0.37 (so at least I have a rough idea how this fits into our calendar).

[2016-04-10 19:27] stepancheg commented on #4471
Yes, I think so. Isn't it how `PooledByteBufAllocator` works now?

[2016-04-11 07:54] ozgurunc opened #5118 "High Cpu Usage when the sctp socket connection is hanged with the CLOSED state"
Hi,

We are using the sctp server client future. When client or server get shutdown ack from peer or one of the sctp interface down socket state is hanged with the closed state and cpu usage increased for that threads.

netty-all-4.0.28.Final.jar
jdk1.7.0_79
SunOS v2ap1 5.10 Generic_150401-22 i86pc i386 i86pc

10.136.53.67.3869               10.133.142.28.3868               32768      0 102400

[2016-04-11 09:52] MilosFabian opened #5119 "netty-transport-native-epoll-*-linux-x86_64.jar is not OSGi bundle"
Hello,
basically, reopening https://github.com/netty/netty/issues/3781
I am working on OpenDaylight project and we would like use netty-transport-native-epoll due to the TCP MD5 signature support. Currently we are using Netty version 4.0.33.Final and bumping to 4.0.36.Final right now.
Unfortunately, netty-transport-native-epoll-*-linux-x86_64.jar is not a bundle and since the OpenDaylight is runni

[2016-04-11 09:53] normanmaurer commented on #5119
@MilosFabian we love PRs.. so maybe you can provide one as I don't have any good OSGI knowledge :(

[2016-04-11 12:01] marcuslinke commented on #4231
@normanmaurer I need unix domain socket support for MacOS. Whats the current state for this now? I saw PR of @Scottmitch but I'm not sure what is needed beside this.

[2016-04-11 12:12] normanmaurer commented on #4231
Its a high priority for us atm. You would need to write a jni based transport that supports kqueue for it. This will be not a small task

[2016-04-11 13:30] guidomedina commented on #5054
Hi @normanmaurer I would like to know if there are any plans to fix this soon as I would like to see 3.10.6.Final released as soon as it is humanly possible.

[2016-04-11 13:37] normanmaurer commented on #5054
I had no time yet... If you want help submit a PR 👍

[2016-04-11 15:54] talbs1986 opened #5120 "SSLHandler OutOfMemory - Direct buffer"
Hi ,

we are keep having direct memory buffer issues with netty 4.0.x .
in the below stack you can see us using version 36 but it happens for 33 as well.

we use netty as our network layer to receive websocket frames from the client app,
as you can see below, our pipeline is basic ssl , http and our handler.
in the handler we release every frame we receive. we do not use ByteBuffer.directAlocate()

[2016-04-11 16:03] Scottmitch commented on #4231
*not* high priority?

[2016-04-11 16:07] Scottmitch commented on #5120
Can you provide a heap dump while you are in this state?

Also are you able to reproduce in a controlled environment and/or run with a [higher leak detector level](http://netty.io/wiki/reference-counted-objects.html#leak-detection-levels)?

[2016-04-11 16:08] normanmaurer commented on #4231
Ups yes NOT high priority . Somehow lost a word here...

[2016-04-11 16:09] normanmaurer commented on #5120
Drom the stack it looks like you may write to fast and not take Channel.isWritable() into account

[2016-04-11 16:10] Scottmitch commented on #5118
@ozgurunc - Can you provide a reproducer for this issue?

[2016-04-11 16:14] Scottmitch commented on #4231
@marcuslinke - The non linux specific stuff has been decoupled in the code, but since we don't have multiple native transport implementations yet the packaging/distribution part of the problem also needs to be solved (in addition to implementing kqueue).

[2016-04-11 16:14] nmittler commented on #5043
@normanmaurer Jetty's solution is to initialize the library with a String "provided". We could do something similar, possibly using a system property.  Although I'm thinking we may not even need it ... perhaps we just try to load the library and if it fails we immediately just try to initialize the library. See the solution proposed in #5121.

[2016-04-11 16:18] Scottmitch commented on #5097
@anuraaga - Thanks for confirming. This makes me more interested in the stream ID creation code. This means the local endpoint was used to try to create an invalid stream ID as opposed to receiving a message which lead to stream ID creation. @trustin - Can you comment?

[2016-04-11 17:26] ozgurunc commented on #5118
Thanks for the reply. Yes i can. if sctp interface down then sctp socket connection state change with the close and that thread cpu usage increased when interafe up again accepted new connection and established. Closed state hanged and cpu usage alloocated by that thread.

[2016-04-11 17:27] normanmaurer commented on #5118
@ozgurunc a unit test or so would be super nice :)

[2016-04-11 17:35] ozgurunc commented on #5118
Before the Sctp Interface Up and running
# netstat -an | grep 3869
      *.3869                    0.0.0.0                          32768      0 102400      0  32/32  LISTEN
10.136.25.36.3869               10.133.142.93.3868               32768      0 102400      0  17/17  ESTABLISHED

root@vsmlcat1 # prstat
   PID USERNAME  SIZE   RSS STATE  PRI NICE      TIME  CPU PROCESS/NLWP
     4878 server 2

[2016-04-11 18:28] #5043 closed

[2016-04-11 18:31] ozgurunc commented on #5118
I can laso provide dtrace out puts. it can be related with solaris arch?
/dstack
dtrace: script '/dstack' matched 473 probes
CPU     ID                    FUNCTION:NAME
  3  63931                         :tick-5s
  gtime                                                             0
  yield                                                             0
  nanosleep

[2016-04-11 18:32] carl-mastrangelo opened #5122 "Allow Netty-epoll use from preloaded System library"
In the same vein as #5043, it would be really useful if there was some way to use Netty's epoll without it doing the library initialization itself.   The fix would be pretty much the same as here: 379ad2c02ed0c0ae9f94e4081e3f910ece6380b7

cc: @nmittler

[2016-04-11 18:55] nmittler commented on #5122
This one may be a little trickier because the current implementation of [Native](https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/channel/epoll/Native.java#L60) assumes that it will throw if the library fails to load, rather than just printing out a debug message and proceeding

Is there some way of determining if the symbols have actually been loaded?

@norman

[2016-04-11 19:09] Scottmitch commented on #5122
@nmittler - is trying to call a native method and getting a [UnsatisfiedLinkError](https://docs.oracle.com/javase/7/docs/api/java/lang/UnsatisfiedLinkError.html) sufficient for what you need?

[2016-04-11 19:18] Scottmitch commented on #5118
@ozgurunc - A reproducer in the form of a unit test will help us narrow in on the issue.

[2016-04-11 19:27] marcuslinke commented on #4231
@normanmaurer Lost the most important word... ;-) @Scottmitch Thanks for clarifying!

So could one of you check http://eradman.com/posts/kqueue-tcp.html as guideline for the native implementation please?

[2016-04-11 19:29] talbs1986 commented on #5120
thanks for the quick replies ! :D

@Scottmitch
unfortunately we cannot reproduce it in controlled environment, we tried "bombing" the network layer with messages but that doesnt seem to do the trick.
we have added the netty LeakDetector=advanced flag now and waiting for it to happen again .. :/
when it will ill post the results.

@normanmaurer
no we do not use the isWritable, should it matter ?
im

[2016-04-11 19:42] carl-mastrangelo commented on #5122
@Scottmitch  That would probably  be good enough.  It looks like there are some side-effect free methods in Native.java like `offsetofEpollData()`.

[2016-04-11 19:48] Scottmitch commented on #5122
@carl-mastrangelo - We can also add a side effect free method for this purpose (e.g. `initialize`, `isLinked`, etc...) to be more explicit.

[2016-04-11 19:52] Scottmitch commented on #5120
@talbs1986 - Yes. An extreme example to demonstrate when not taking this into account can cause problems: What if your peer just writes data, and never reads? The more typical example is you have a mismatch in bandwidth and your server generates data much faster than your peer reads that data. Either way the solution will depend on what your use case will tolerate but some form of back pressure sh

[2016-04-11 20:08] Scottmitch commented on #4231
I took a quick glance and the basics seem to be there (create an FD and register it with kqueue). We should have most of the "generic unix socket/FD" stuff already coded. I think the EPOLL module should provide a good basic structure and just using the [kqueue](https://www.freebsd.org/cgi/man.cgi?query=kqueue&sektion=2) mechanisms instead of `transport-native-epoll` will be a good start. There wil

[2016-04-11 20:17] normanmaurer commented on #5122
@carl-mastrangelo @Scottmitch I think using `offsetofEpollData()` should be good enough for now.

[2016-04-12 05:26] normanmaurer commented on #5088
@trustin @buchgr @Scottmitch  I will take care

[2016-04-12 07:33] MilosFabian commented on #5119
Alright, I will work on it :)

[2016-04-12 08:21] normanmaurer commented on #5119
Thanks ❤️!

[2016-04-12 08:36] talbs1986 commented on #5120
@Scottmitch
thanks for the explanation, however farther reviewing our code , i do see a use of isWritable() , but it happens not exactly before the actual ctx writeAndFlush and if returns false then we only write to a log file , which we do not find any trace of this log line.
i.e
[code]

[2016-04-12 11:36] louxiu opened #5124 "Why don't update `streamableBytes` when `pendingBytes` is changed?"
Hi all, I just looked https://github.com/netty/netty/commit/96f9b0b91ba63c1f6232c6acca4358afe01fbb7f and I don't understand this line.

Why don't update `streamableBytes` when `pendingBytes` is changed?

Please help. Thanks

[2016-04-12 12:29] ozgurunc commented on #5118
I think this issue is related with the Solaris platforms. When i perform that on linux client and server get back internal error and cpu usage not increase. Most probably Solaris case run into this case because of the hanging of Closed state. I will try to get support from solaris for that.

B.R

10.137.53.67.3869 10.133.143.60.3868 32768 0 102400 0 17/17 CLOSED

$ ./jdk1.7.0_79/bin/java -jar /hom

[2016-04-12 12:52] purpleknightleo opened #5125 "deregister and re-register, ClosedChannelException is thrown"
Hi,
   I'm doing a project on middle-ware for distributed database, and I want to use Netty as client connecting to MySQL reading data. But a problem gets me stuck for such a long time so I have to ask for help. The scenario is as below:
1. Netty dispatches SQL query to MySQL;
   1. MySQL returns a bunch of resultset which might be very large so I have to prevent it from OOM;
   2. When the data r

[2016-04-12 15:25] normanmaurer commented on #5095
Within 3 weeks I would say.

[2016-04-12 15:25] normanmaurer commented on #5124
@Scottmitch @nmittler PTAL

[2016-04-12 15:43] nmittler commented on #5124
I don't recall why it's separate ... I suspect that it could be combined.  If you feel like changing it, throw together a PR :)

[2016-04-12 15:43] #5124 closed

[2016-04-12 17:27] normanmaurer commented on #4472
You can do this now via the metrics that it expose per arena and cache

[2016-04-12 17:27] #4472 closed

[2016-04-12 17:29] Scottmitch commented on #5124
To clarify ... the call to `decrementFlowControlWindow` directly after the line you mentioned currently takes care of updating the `streamableBytes`, and we don't do it on the line you mentioned to avoid doing it twice.

[2016-04-12 17:36] Scottmitch opened #5127 "ByteBuf Leak HttpResponseDecoderTest.testWebSocketResponseWithDataFollowing"
[code]

[2016-04-12 17:37] normanmaurer commented on #5127
@Scottmitch fixed via https://github.com/netty/netty/commit/718bf2fa459fd6f79a3c06d835faa180ef9604a1

[2016-04-12 17:37] #5127 closed

[2016-04-12 17:45] Scottmitch commented on #5125
Can you provide some details as to why you say the `SelectionKey` is "set invalid", and what state is it in? Also is it possible to provide a reproducer for this scenario?

Sounds like this can be accomplished using a combination of primitives provided by Netty, and deregister/register could potentially be avoided:
- [channelWritabilityChanged](https://github.com/netty/netty/blob/4.1/transport/src

[2016-04-12 17:49] Scottmitch commented on #5127
thanks @normanmaurer !

[2016-04-12 17:52] Scottmitch commented on #5118
@ozgurunc - Thanks for the info. I will close this now, if you find it is attributed to Netty please re-open.

[2016-04-12 17:52] #5118 closed

[2016-04-12 18:09] #5122 closed

[2016-04-12 19:10] normanmaurer commented on #1926
Replaces by #5088

[2016-04-12 19:10] #1926 closed

[2016-04-12 19:11] normanmaurer commented on #3319
Let me close this and please re-open with more infos if you still thing there is an issue

[2016-04-12 19:11] #3319 closed

[2016-04-12 19:12] normanmaurer commented on #3919
@mp911de can we close this now with respect to #4952 ?

[2016-04-12 19:13] normanmaurer commented on #4116
So let me close this... If you still think there is an issue please reopen

[2016-04-12 19:13] #4116 closed

[2016-04-12 20:30] mp911de commented on #3919
Yes, thank you
Norman Maurer <notifications@github.com> schrieb am Di., 12. Apr. 2016 um
21:13:

[2016-04-12 21:11] m3ltaw4y commented on #4116
I am still having this problem.  I am currently using 4.0.25.Final as a work around it is the last working version.  This issue still exists in all tested versions up to and including 4.0.36.Final

[2016-04-13 00:41] Scottmitch commented on #4116
@m3ltaw4y - Please provide a reproducer and instructions on how to setup and run it. Assume we are not familiar with Android or Android simulators.

[2016-04-13 01:39] louxiu commented on #5124
Oh, I see. Thanks

[2016-04-13 02:21] purpleknightleo commented on #5125
First thanks very much for your in-time reply.
The reason I say the SelectionKey is set invalid is when debugging the program goes into the following logic in NioEventLoop:
[code]
channel close is triggered because of the invalidity of the SelectionKey, that's what I saw.

Actually, I just want to control the flow of the incoming data, so I deregister the channel from eventloop when overflow and r

[2016-04-13 08:00] talbs1986 commented on #5120
update:
the same exception has happened last night , leakDetector was set to advanced but not nothing got printed by the logger.

[2016-04-13 08:14] normanmaurer commented on #4426
@krzyk sorry again for the late response but I just tried this with latest 4.0 branch I can not reproduce. I ran the test in a loop 100 times. One thing I noticed and I needed to fix in your test is that the creation of the `PipedInputStream` must happen in the constructor as otherwise you may get an error when try to write into `out` before `input()` is called.

[2016-04-13 08:14] #4426 closed

[2016-04-13 21:31] m3ltaw4y commented on #4116
I've added some more detail to my previous post, if you get stuck somewhere let me know what isn't working-
https://github.com/m3ltaw4y/MyGdxGame
To get it to work:

1. Download and install android studio
2. File-Open The folder of MyGdxGame
3. I've added a desktop executable.  Run desktop-1.0.jar You should just be able to double click it (or run it from a command line if you'd like to see the ou

[2016-04-13 23:53] Scottmitch commented on #4116
@normanmaurer - mind taking a look?

[2016-04-13 23:58] Scottmitch commented on #5120
@talbs1986 - Please provide a heap dump while in this condition. Since it sounds as though you have no back pressure mechanism is the amount of `ChannelOutboundBuffer$Entry` objects abnormally high?

[2016-04-14 00:23] Scottmitch commented on #5125
What is the state of the Channel and the associated selector at this point? The SelectionKey will not be valid under the following circumstances:

     * its channel is closed, or its selector is closed.

The SelectionKey is [cancelled on deregister](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/nio/AbstractNioChannel.java#L419) and an new SelectionKey is created

[2016-04-14 06:13] purpleknightleo commented on #5125
Yes, I really appreciate your sincere help on my problem. And glad to tell you it's been solved with your constructive suggestions.
I have dived deeply into the autoRead paradigm and found it's what I'm looking for. Actually here in my scenario I just want to control the incoming flow rate, and set autoRead is enough(remove the OP_READ and add it back later) , and it works. On the other hand, the

[2016-04-14 07:32] #4836 closed

[2016-04-14 16:34] Scottmitch opened #5147 "HTTP/2 Http2ConnectionHandler Leak"
Discovered in CI build for PR https://github.com/netty/netty/pull/5001

https://garage.netty.io/teamcity/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=7684#_focus=18547
[code]

[2016-04-14 16:45] normanmaurer commented on #5147
Fixed by https://github.com/netty/netty/commit/7c734fcf7387eec804e52deb1c61c50a61b67601

[2016-04-14 17:13] Scottmitch commented on #5125
@purpleknightleo - Let me reopen this issue and I think you uncovered a bug. Would you mind keeping your current code base around so you can verify a PR I will submit?

[2016-04-14 20:53] maseev commented on #568
Sorry for bringing up the old topic. I couldn't find a ```io.netty.selectTimeout``` parameter in the Netty's source code. So, it doesn't seem to be working if I set it. Did you guys remove the possibility to configure the select's timeout or there's another way to do that?

[2016-04-14 21:18] ejona86 opened #5149 "Leak for GO_AWAY with debugData due to exception"
It appears [this ByteBuf](https://github.com/netty/netty/blob/netty-4.1.0.CR7/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L698) is not released. There is a release for it [in processGoAwayResult](https://github.com/netty/netty/blob/netty-4.1.0.CR7/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L739), but that release is for

[2016-04-15 00:31] trustin commented on #5097
Seems like the server took too long to respond to the upgrade request and the client sent GOAWAY and closed the connection before getting the upgrade response due to timeout. i.e. not a bug.

Thanks for trying to help, @Scottmitch !

[2016-04-15 00:31] #5097 closed

[2016-04-15 02:20] Scottmitch commented on #5097
@trustin - Glad you figured it out. Can you explain if the invalid stream ID exception was related to this or caused by a different issue?

[code]

[2016-04-15 05:41] maseev commented on #568
Oh, it seems that I can specify custom selector provider according to this https://github.com/netty/netty/pull/4955. Could find this in the documentation, though :(

[2016-04-15 07:25] fsiegrist opened #5150 "Missing OSGi header Bundle-NativeCode in netty-tcnative"
The MANIFEST.MF of netty-tcnative-1.1.33.Fork15-[os-classifier].jar does not contain the `Bundle-NativeCode` header. Thus when running in an OSGi context (e.g. apache-felix), the bundle does not know the path to its native library (META-INF/native/...). As a result, the `NativeLibraryLoader` (in netty-common) cannot load the native library, because the call to `loader.getResource("META-INF/native/

[2016-04-15 12:37] ifesdjeen opened #5151 "DefaultChannelGroup has Executor, but relies on EventExecutor when closing channels"
Hi,

`DefaultChannelGroup` has it's own `Executor`, although, when `Channel` is closed in `DefaultChannelGroup::close`, it relies on `EventExecutor` from the `Channel` itself.

I understand that it might be very well by design (since `Channel` already has it's own executor), just wanted to point it out (after finding a couple of issues that are related to closing the worker in parallel or out of o

[2016-04-15 20:38] maseev opened #5152 "Throughput is low even with batching"
Hi, guys.

I created a simple client-server [app](https://github.com/maseev/clientserver) that sole purpose is to transfer 200 bytes messages as fast as possible between the client and the server.

During the tests, it turned out that the throughput isn't that high as I expected (about 20-30 Mb/sec on read/write), even though I call ```flush``` method on every 100th message:

![selection_001](http

[2016-04-15 20:59] johnou commented on #5152
Try context.write(msg, context.voidPromise());

[2016-04-16 05:31] maseev commented on #5152
@johnou, no luck. Throughput is still very low. The funny this is, I've got another application which is using Java NIO directly and does the same thing - reads data from the client, batches it and then sends it back to the client. For some reasons, it performs much better:

![screen](https://cloud.githubusercontent.com/assets/3434800/14579316/37c5a98e-03c6-11e6-8302-f44d2a3c4b13.png)

[2016-04-16 06:53] purpleknightleo commented on #5125
Ok, no problem. The versions I tried include 4.0.32/33/35, I don't know if it has been fixed in later version. As I mentioned, my need should be done with autoRead, but I think deregister/re-register can also satisfy though It's too heavy-weight.
I don't really know what you want me to do now, keep code base around so to verify a PR? Could you plz explain? I'm a newbie in github and open-source pr

[2016-04-16 11:15] matty opened #5154 "Little Endian"
I can't seem to find the right way to set incoming bytes as little endian for the byte order. I am using "LengthFieldBasedFrameDecoder" but I believe the bytes received are big endian, so the bytes are incorrect and the length of the message is read incorrectly.

Is this a missing feature or do I need to do it another way? (add another decoder to re order the bytes first?)

[2016-04-16 11:36] johnou commented on #5154
By default LengthFieldBasedFrameDecoder is big endian. You can set the byte order when creating the decoder.

http://netty.io/4.0/api/io/netty/handler/codec/LengthFieldBasedFrameDecoder.html#LengthFieldBasedFrameDecoder(java.nio.ByteOrder,%20int,%20int,%20int,%20int,%20int,%20boolean)

[2016-04-16 11:40] matty commented on #5154
Oh! I must have missed that, couldn't find documentation anywhere. Is there a way to set the client bytebufs to little endian by default on any received data? or is the data that is received further down the pipeline ordered little endian as the LengthFieldBasedFrameDecoder is first in the pipeline?

[2016-04-16 12:03] johnou commented on #5154
Data received after LengthFieldBasedFrameDecoder should be little endian (if that is what you set in the constructor).

[2016-04-16 12:46] ninja- commented on #5152
@maseev I can give you some quick tips from my experience in similiar kind of netty apps...
1. use epoll (for example, there's a cool feature that writes all pending buffers in one syscall instead of N write(...) calls)
2. try not touching these if there's no clear improvement

        .childOption(ChannelOption.WRITE_BUFFER_HIGH_WATER_MARK, HIGH_WATERMARK)
        .childOption(ChannelOption.WRITE

[2016-04-16 13:55] matty commented on #5154
It appears that it needed re ordering again, solved that issue now anyway. I have another query. If say I receive some data but half the data is encrypted, using the LengthFieldBasedFrameDecoder works for the first read by the second it errors because the data comes back as "454056334" (or some ridiculous length).

Setting auto read to false after the first read doesn't work because the data is al

[2016-04-16 14:00] maseev commented on #5152
@ninja-, to be honest, I haven't noticed any significant improvements related to throughput.

[2016-04-16 14:44] wangyu4882 opened #5155 "add "protected" for methods ”checkWaitReadTime“ and “informReadOperation”"
We have to add "protected" for methods ”checkWaitReadTime“ and “informReadOperation”
in ”AbstractTrafficShapingHandler“.
Or nobody can override them outside the package "io.netty.handler.traffic"

[2016-04-16 16:19] ninja- commented on #5152
It doesn't look like you have proper batching because I don't see any message splitter. It's batching them randomly whenever piece of tcp data appears

[2016-04-16 16:30] maseev commented on #5152
Here's a message [splitter](https://github.com/maseev/clientserver/blob/master/src/main/java/io/github/maseev/server/nio/Server.java#L55). And here's message [batching](https://github.com/maseev/clientserver/blob/master/src/main/java/io/github/maseev/server/nio/Server.java#L79). If I remember correctly, ```ctx.write()``` doesn't send data to the wire right away. You have to call ```ctx.flush()```

[2016-04-16 17:42] #5154 closed

[2016-04-16 17:49] matty opened #5156 "Little Endian support"
I can't seem to find how to get proper support for little endian with Netty. The "MessageToByteEncoder" writing to "ByteBuf out" the out ByteBuf is a big endian.

Is this possible? How do I set all bytebufs to be little endian?

[2016-04-16 17:56] matty commented on #5156
I've created an custom allocator using

[code]

Is this the only way?

[2016-04-16 20:50] erbenmo commented on #1759
another suggestion, if you want to batch multiple pending writes in a single flush, it would be good to have a config which controls the maximum number of writes in a batch.

[2016-04-16 21:07] stepancheg commented on #1759
@erbenmo

Maybe it would be good, but it does not solve the problem.

[2016-04-17 01:50] trustin commented on #5156
Which version are you using? Since 4.1, `order(...)` has been deprecated. You can use `get/set/read/write...LE()` methods.

[2016-04-17 09:32] matty commented on #5156
I am using 4.0.*, So in 4.1 the order doesn't need to be set anymore? Just use write..LE, read..LE?

[2016-04-17 13:22] Zpetkov opened #5157 "JsonObjectDecoder does not handle escaped backslash"
I've noticed the JsonObjectDecoder checks end of value string by looking at the previous char and if its the escape char \ then it's not the end of string if the current char is double quote. This is not correct.

Let's send the json object with key "key" and value "something\" , it is serialized as this:

{"key":"something\\\"}

The decoder will not decode this since the last double quote is  aft

[2016-04-17 23:40] trustin commented on #5156
Yes.

[2016-04-18 05:49] buchgr commented on #5157
@Zpetkov the 5.x branch has been deprecated and is no longer supported. However, the issue also exists in 4.1. I ll take care of this.

[2016-04-18 10:43] user467x opened #5159 "ChunkedWriteHandler blocks with ChunkedStream input"
Netty Version: 5.0.0.Alpha3-20151217

Hello,
I have a use case where backend process streams have to pass through to http clients. It happens that netty ChunkedWriteHandler blocks in case the chunked size is bigger than the stream length.

I include the ChunkedWriteHandler dynamically into pipeline:

[code]

I could track down the issue and have now following workaround:

[code]

Is this a solutio

[2016-04-18 13:07] trustin opened #5160 "Allow to choose what information to include in HTTP/2 GOAWAY frame's debugData"
Related: line/armeria#145

It seems like the debugData in our HTTP/2 GOAWAY frame includes only the exception message. It is sometimes not enough because some exceptions do not have a message. It would be at least very useful if debugData contains the type of the exception as well. That is, we should use `String.valueOf(exception)` instead of `exception.getMessage()`.

Also, in some cases, an `Htt

[2016-04-18 13:08] trustin commented on #5160
/cc @Scottmitch @nmittler

[2016-04-18 14:09] nmittler commented on #5160
Would sending a stacktrace meet your needs in general?  If so, it would seem that we could just have 2 implementations:

1) what we do today (doesn't leak internals of the server.  Should probably be the default)
2) debugging stacktrace

[2016-04-18 23:03] alugowski opened #5161 "EpollEventLoopGroup missing Executor-based constructor"
EpollEventLoop is sold as a drop-in replacement for NioEventLoop (at least on Linux), but EpollEventLoopGroup only has the ThreadFactory-based constructor, not the Executor-based constructor that NioEventLoopGroup also includes.

[2016-04-19 02:25] trustin commented on #5160
plus the type name of the exception?

[2016-04-19 11:28] matty commented on #5156
Ok, thanks. I'll close this issue now as this has been cleared up.

[2016-04-19 11:28] #5156 closed

[2016-04-19 15:55] ruskotron opened #5162 "Confusing Thread dump including MpscLinkedQueue"
Netty version: 4.0.34.Final

Context:
I have an application based on the proxy example (two channels joined on the same event loop) and *sometimes* it seems as though the downstream connect blocks until another upstream packet comes in (in my case upstream client times out and sends a TCP/FIN).

Something that may or may not be related is how Bootstrap submits the final connect operation as a OneT

[2016-04-19 16:47] Scottmitch commented on #5160
@trustin @nmittler - Agreed we should not dump a stacktrace by default. Including the type name of the exception sgtm.

[2016-04-19 16:53] Scottmitch commented on #5161
thanks for reporting @alugowski

[2016-04-19 16:55] #5162 closed

[2016-04-19 16:56] ruskotron commented on #5162
:facepalm: realised it was debugger invoking `size` within current frame

[2016-04-19 17:01] nmittler commented on #5160
@Scottmitch @trustin one other thing to consider: we may want the strategy selection to be per-request.  If sitting behind a proxy, we may get a mix of requests - only some of which allow the full stack trace (e.g. a magic header is added by the proxy if it was determined the request to be safe).

[2016-04-19 17:39] Scottmitch commented on #5160
@nmittler - This sounds potentially useful, maybe we make a method which generates the debug data overridable and make sure it has the necessary information (streamId, exceptions, etc...)? The application can then implement w/e logic they want.

[2016-04-19 17:56] nmittler commented on #5160
@Scottmitch probably just allowing a user to provide a strategy when creating the pipeline should be sufficient.  We can provide 2 simple (non-request-based) implementations for stacktraces or no stacktraces. The application developers can write their own that uses these based on some trigger (e.g. magic header).

[2016-04-19 19:00] Scottmitch commented on #5160
Default strategies not based on stream specific data sound good to me. I guess I was confused about the `we may want the strategy selection to be per-request.` because the issue is discussing GO_AWAY (a particular request would change the behavior for the entire connection ... last request wins?). I was thinking the type of policy you mentioned (magic header) may be more applicable to a RST_STREAM

[2016-04-19 19:40] nmittler commented on #5160
yes that's true ... GO_AWAY is for the entire connection, so I guess my comment about stream-specific strategy doesn't really apply.

[2016-04-20 01:44] trustin commented on #5162
no worries. thanks for a detailed report. :smile:

[2016-04-20 07:05] talbs1986 commented on #5120
Closing.

seems like @Scottmitch  were right , it was due to back pressure, the issue was easily reproduced after adding Therad.sleep(10_000) for each received message on the client side.

noticed that using channel.isWritable() is not the correct approach for us , as the channel might not be writable but it wont cause the OutOfMemory error when trying to write and the message still needs to be se

[2016-04-20 07:05] #5120 closed

[2016-04-20 17:15] Scottmitch commented on #5159
Invoking flush can be controlled at the application level by using `channel.flush()`, `ctx.flush()`, or even `channel.writeAndFlush()`. Typically applications avoid calling `writeAndFlush` (or flushing with every write) and instead flush at some point after multiple writes are done to take advantage of gather writes. I don't think it makes sense to have the behavior described above in `ChunkedWrit

[2016-04-20 17:15] #5159 closed

[2016-04-20 17:41] Scottmitch commented on #5152
@maseev - Hey thanks for reaching out. I don't really have time to dig in right now however the flushing strategy in the [Server](https://github.com/maseev/clientserver/blob/master/src/main/java/io/github/maseev/server/nio/Server.java) does seem like it could use some investigation. A few observations:

It looks like you are doing all your writes in the event loop. Typically a "reasonable" flushin

[2016-04-20 18:02] Scottmitch commented on #5125
Sorry for the confusion...

I would still recommend going the `autoRead` and controlling when you call `read`. I would like you to run your code which caused you to create this issue against https://github.com/netty/netty/pull/5167 to verify this PR fixes the original issue.

[2016-04-20 18:18] Scottmitch commented on #5150
@fsiegrist - sounds like a packaging issue in tcnative. issue moved to https://github.com/netty/netty-tcnative/issues/135.

[2016-04-20 18:18] #5150 closed

[2016-04-20 18:22] Scottmitch opened #5168 "EPOLL OSGi header Bundle-NativeCode"
Prompted by https://github.com/netty/netty/issues/5150

The transport-native-epoll module also does not generate the `Bundle-NativeCode` header in the `MANIFEST.MF`

[2016-04-20 18:31] Scottmitch commented on #5149
@ejona86 - Here are the points of interest for this buffer:

1. [Allocation](https://github.com/netty/netty/blob/netty-4.1.0.CR7/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L698) - `refcnt = 1`
2. [Retain](https://github.com/netty/netty/blob/netty-4.1.0.CR7/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L650) - `refcnt = 2`

[2016-04-20 18:37] maseev commented on #5152
@Scottmitch - I played with RecvByteBufAllocator a little bit. Used the [adaptive](https://github.com/netty/netty/blob/83c349ffa94d3992c4ee511d3625afc0c97c12bb/transport/src/main/java/io/netty/channel/AdaptiveRecvByteBufAllocator.java) one with the following parameters:

[code]

Also, I removed all batching logic and now I simply call ```ctx.flush()``` in ```channelReadComplete``` method. It doesn

[2016-04-20 18:53] Scottmitch commented on #5152
What type of behavior do you see when you run your client against the [EchoServer](https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/echo)?

@maseev - What are you using for [maxMessagesPerRead](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/DefaultMaxMessagesRecvByteBufAllocator.java#L42)? Typically this is set to 16 for most channel

[2016-04-20 19:24] maseev commented on #5152
In terms of throughput - it's pretty much the same as my server application:

![selection_001](https://cloud.githubusercontent.com/assets/3434800/14687268/6e91f18e-075e-11e6-8ce2-38f2ccdd04bd.png)

Well, I set 100 for this property. It didn't make any significant impact in terms of throughput.

[Here](https://github.com/maseev/clientserver) you are. In this particular use case, I'm trying to achie

[2016-04-20 20:32] maseev commented on #5152
@Scottmitch The first thing that came to my mind - increasing TCP receive/send buffers, but this didn't work out. Then I thought about high and low watermarks but changing these parameters did almost nothing. Disabling Nagle's algorithm was a pretty obvious trick that almost anybody does when writing a client-server application. The only thing that I'm thinking is implementing batching on the clie

[2016-04-20 20:40] Scottmitch commented on #5152
@maseev - Try running the echo examples in the following configuration. Let me know what throughput you observe. This should demonstrate that higher throughput is possible (just with the default configuration).

[code]

[code]

Yip max performance is almost always a context sensitive ... typically there is no silver bullet here.

[2016-04-20 20:46] Scottmitch commented on #5147
thanks @normanmaurer

[2016-04-20 20:46] #5147 closed

[2016-04-20 20:55] maseev commented on #5152
Well, the throughput is awesome:

![selection_003](https://cloud.githubusercontent.com/assets/3434800/14690033/e01c621e-076b-11e6-90c5-76d7f82afad7.png)

[2016-04-20 21:21] trask commented on #5149
Hi @Scottmitch, I originally reported this issue to the gRPC project.  I updated from CR3 to CR7 last week and have not seen this issue since.

[2016-04-20 21:22] maseev commented on #5152
@Scottmitch I'm just curious, is there any difference in writing to a channel a big chunk of data like I did in the previous example (10Mb ByteBuf) and writing a bunch of small ByteBuffers with total size = 10Mb?
Because it's the only difference I see in this application.

[2016-04-20 21:23] Scottmitch commented on #5149
@trask - great thanks for the confirmation. I was just reading the issue on gRPC and was going to ping you for a status update :smile:

What is the probability you would have seen the leak by now (e.g. do you have a reliable way to reproduce, or did it previously always happen every X hours)?

[2016-04-20 21:28] trask commented on #5149
I was seeing it fairly often during travis ci builds (maybe one out of ten builds).  I've run maybe 100 builds since updating to CR7 just to try to repro, and haven't seen it once.

[2016-04-20 21:41] ninja- commented on #5152
@maseev yes the difference could be quite big because then flush would have to flush them one by one in NIO case...you can try writing to your internal buffer and only flush the one when channel is flushed. But I doubt it could have a big impact on performance.

[2016-04-20 21:43] Scottmitch commented on #5152
@maseev - Yip writing smaller chunks can involve more object allocation, queuing, looping, and in general requires more work.  There is also a configuration which is designed to prevent any single channel from consuming too many resources on the write side called `getWriteSpinCount` (see its use in NIO [here](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/nio/Abst

[2016-04-20 21:46] Scottmitch commented on #5149
thanks @trask. I think this particular leak has been solved but let me get @ejona86's thoughts in case he sees something that I do not...

[2016-04-20 22:10] ejona86 commented on #5149
Doh, @Scottmitch I think you're right. Things look fine on master, and I just can't count correctly. So then we do believe the issue was already fixed.

[2016-04-20 22:10] #5149 closed

[2016-04-21 15:34] #5161 closed

[2016-04-21 16:27] maseev commented on #5152
@Scottmitch, @ninja- I was actually talking about the way how multiple writes are combined before they get flushed. Netty calls [SocketChannelImpl.write(ByteBuffer[])](http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/6-b14/sun/nio/ch/SocketChannelImpl.java#369) which calls [IOUtils.write](http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/6-b14/sun/nio/ch/

[2016-04-21 16:34] trustin commented on #5152
I wonder if `PooledByteBufAllocator` is being used. If you are using 4.0, `UnpooledByteBufAllocator` is the default allocator, and you'd better using the pooled one.

[2016-04-21 16:35] trustin commented on #5152
Never mind. Looked into your repository and it seems to use the pooled one.

[2016-04-21 17:49] Scottmitch commented on #5152
Yip that is true NIO will attempt to do gathering writes if [NioSocketChannel](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/socket/nio/NioSocketChannel.java#L305) is in use.

Setting the [RecvByteBufAllocator](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/ChannelConfig.java#L178) is how you control how much is read.  See the in

[2016-04-21 18:51] maseev commented on #5152
Setting a custom AdaptiveRecvByteBufAllocator did the trick. Well, kind of:

![selection_006](https://cloud.githubusercontent.com/assets/3434800/14720600/0beb093c-0824-11e6-8b5a-1435f9e307fd.png)

Now server reads more data per socket read invocation, but the time gap between two read operations has increased dramatically.

[2016-04-21 21:26] Scottmitch commented on #5152
@maseev - This feels more like a configuration / performance tweaking exercise at the moment. Please feel free to re-open if you think this may actually be related to a Netty issue ... we try to keep github focused to issues and feature requests.

[2016-04-21 21:26] #5152 closed

[2016-04-22 03:29] maseev commented on #5152
@Scottmitch Never mind. Thanks for your help guys. If you curious, these time gaps are actually related to the GC pauses. I think I need to profile my application more carefully.

[2016-04-22 05:40] purpleknightleo commented on #5125
@Scottmitch Sorry to tell you your fix doesn't solve my previous issue, and I think the code logic you changed has a problem. You try to judge whether the channel is still registered to the eventloop by:
[code]
But in my case, when I set one thread in NioEventLoopGroup, and two clients connect to my middleware, the final result is one client succeeds and the other dies due to the reason you have k

[2016-04-22 08:39] victornoel opened #5170 "Add in SslContext a factory to create a SslHandler with startTls"
Hi,

Before 4.1 is released, I have a small request for improvement.

When using the SslHandler facilities of netty I got confused because there is no way to use the SslContext to create a SslHandler with startTls enabled.

It would make sense to mirror the constructors of SslHandler with the newHandler methods of SslContext.

And also, wa can add a builder method to enable it in SslContextBuilder

[2016-04-22 12:25] wanganran opened #5171 "NioDatagramChannel can only run under JDK 7+"
Hi,

My Netty version is 4.0.35.Final. I found that `io.netty.channel.socket.nio.NioDatagramChannelConfig` imports `java.nio.channels.NetworkChannel` which is new in JDK 7.

This will cause `NioDatagramChannel` unusable in Android where its Dalvik VM is under Java 1.6. A temporary solution is using `OioDatagramChannel` instead.

How to reproduce:

Just import Netty to an Android app (my Android ve

[2016-04-23 05:42] Scottmitch commented on #5125
@purpleknightleo - Thanks for reporting back. The issue is that the eventloop and isRegistered will not be updated until the next event loop run. Let me think about this a bit. If you could provide a unit test which reproduces the behavior that would be much appreciated ... seems non-trivial to get into this state.

[2016-04-23 18:21] Scottmitch commented on #5171
@wanganran - Thanks for reporting.

@trustin - Looks like this was introduced in https://github.com/netty/netty/commit/ada61d4985571f5406ea6158b02755d51392ebff . Can you take care?

[2016-04-23 18:33] Scottmitch commented on #5170
sounds reasonable @victornoel ... are you interested in submitting a PR?

[2016-04-23 18:35] Scottmitch commented on #5168
This is a possible duplicate of https://github.com/netty/netty/issues/5119 ... however I'm not sure what the scope of that issue is ... @MilosFabian WDYT?

[2016-04-23 18:37] Scottmitch commented on #5040
I'll close this now as it is an interesting topic no issue or feature request came out of it.

[2016-04-23 18:37] #5040 closed

[2016-04-23 20:54] victornoel commented on #5170
Good idea, I will work on it, should be easy. Any important things to know in term of process? It's my first contribution to netty.

[2016-04-24 06:48] purpleknightleo commented on #5125
Ok, after I try the newer version, I will give you a replay ASAP. Thanks.

[2016-04-24 06:50] purpleknightleo commented on #5125
Ok, after I try the newer version, I will give you a replay ASAP. Thanks.

[2016-04-24 06:50] purpleknightleo commented on #5125
Ok, after I try the newer version, I will give you a replay ASAP. Thanks.

[2016-04-25 07:17] CodingFabian opened #5173 "FingerprintTrustManagerFactory javadoc note cryptic"
the javadoc says:

"Never use this {@link TrustManagerFactory} in production unless you are sure exactly what you are doing with it."

I was actually sure that in order to prevent MITM attacks, I want to pin the serverside certificates to a list of well known fingerprints. I do not want to accept other certificates.

So I think I know what I am doing, but this note made me feel uneasy. Why is it f

[2016-04-25 08:21] trustin commented on #5173
It only checks the fingerprint. It does not traverse the certificate chain at all. Theoretically, there's a chance where an attacker can forge a certificate with identical fingerprint, although it's not going to be very easy.

I agree that it needs better documentation though. Would you be interested in sending us a PR?

[2016-04-25 08:27] victornoel commented on #5170
Actually it's not a so obvious change: if we want to change SslContextBuilder, it means we need to add a startTls member to SslContext (and thus modify all the subclasses constructors…). If not the parameter can simply be passed to newHandler() but then it's can't be in the builder…

I'm not sure which is best… @Scottmitch ? :)

[2016-04-25 08:30] CodingFabian commented on #5173
Ah ok, it makes sense to point that out. Will make a PR to improve docs.

[2016-04-25 09:25] trustin commented on #5173
Thanks a lot, @CodingFabian !

[2016-04-25 10:50] nitsanw commented on #4960
Any progress on this?

[2016-04-25 12:36] normanmaurer commented on #4960
Will look into it once back from vacation

[2016-04-25 15:15] rkapsi opened #5174 "Expose Bootstrap getter methods and add some additional ones"
The `Bootstrap` class (applies also to `AbstractBootstrap` and `ServerBootstrap`) has a few package private getter methods and some things such as `#attr()` and `#options()` aren't exposed at all. I'd argue there should be public getter methods for all of them.

Background: Our application is written in Java but we use Clojure as a configuration language (instead of XML, JSON, YAML) to skip the ob

[2016-04-25 16:34] Scottmitch commented on #5170
@victornoel - I don't think they are mutually exclusive but just a matter if we need to support both. Here is how I see supporting both would work...
- In terms of adding a member variable to SslContext ... you can just modify the constructors which are not deprecated, and pass `false` from the deprecated constructors to replicate the existing behavior.
- The existing `newHandler` methods can use

[2016-04-25 16:58] Scottmitch commented on #5174
the underlying storage is currently exposed by `options` and `attr` and there is synchronization that must be applied when dealing with these collections. I'm guessing they are not exposed so the storage can be directly exposed and its assumed users of the interface "play nice" with synchronization and modifiability. We should consider these factors before making changes to these interfaces.

[2016-04-25 23:24] vrozov opened #5175 "SocketChannel.shutdownInput()?"
Is there a way to shutdownInput? I see that there is SocketChannel.shutdownOutput(), but no shutdownInput().

[2016-04-26 00:58] ssheng opened #5176 "Http2Stream Equivalent of ChannelConfig#setAutoRead"
Our reactive stream implementation on HTTP/1.1 relies on turning on/off auto read on the ChannelConfig to enforce back pressure on the sender. With HTTP/2 flow control, this is ideally specified on the stream level. I wonder what is the best practice for enabling this?

[2016-04-26 02:40] purpleknightleo commented on #5125
Sorry again, your fix still can't  solve my problem and sorry for not offering the unit test for some reason.
[code]
From you fixed code, I think since you said "isRegistered() will not be updated until the next event loop run", the !ch.isRegistered() judgement is of no use. On the other hand, ch.selectionKey() != k, why this? ch is got from k.attachment(), so I think these two objects are linked

[2016-04-26 08:47] victornoel commented on #5170
Here it is :)

[2016-04-26 14:31] michaelwq commented on #3023
Hi, are there any ways to write a pure netty rest support without any frameworks like restExpress?

[2016-04-27 03:44] trustin opened #5179 "DNS name resolution queries should not be sent while the same query is in progress already."
When you attempt to make a lot of connection attempts to the same target host at the same time and our DNS resolver does not have a record for it in the cache, the DNS resolver will send as many DNS queries as the number of connection attempts.

As a result, DNS server will reject or drop the requests, making the name resolution attempt fail.

To fix this, we could keep the list of name resolution

[2016-04-27 05:18] trustin commented on #5179
This is the patch I wrote for [Armeria](https://github.com/line/armeria):

https://github.com/line/armeria/pull/155/files

As shown in the PR above, we could write a decorating `NameResolver` that works for all `NameResolver` implementations. However, I'm not sure what the name of that class would be. Any suggestions?

[2016-04-27 05:25] trustin commented on #5179
/cc @slandelle

[2016-04-27 05:26] daschl commented on #4146
Putting this in here since it got bumped a few times: Looks like we hit this or a similar issue in a Couchbase Java SDK deployment as well. Looks like the capacity was "ignored" and the recycler grew out of bounds. Disabling the recycler fixed the issue (workaround `
-Dcom.couchbase.client.deps.io.netty.recycler.maxCapacity=0`).

[2016-04-27 06:24] normanmaurer commented on #4146
Which version?

[2016-04-27 06:31] daschl commented on #4146
A slightly older version of the Java SDK which depends on netty 4.0.32

[2016-04-27 07:06] dschobel opened #5180 "Should HttpServerCodec issue 100 continue responses when there's no HttpObjectAggregator in the pipeline?"
A http server pipeline with both HttpServerCodec and HttpObjectAggregator installed will do the right thing for requests with 'expect: 100 continue' headers but removing the object aggregator leaves users rolling their own handling as seen in [netty's http server hello world example]( https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/http/helloworld/HttpHelloWorldServe

[2016-04-27 07:35] normanmaurer commented on #5179
InflightDnsNameResolver ? Not sure its the best name though

[2016-04-27 09:12] pdwinkel commented on #3297
Using 4.1.0-CR7:

[code]

Can not reproduce it, but seeing it almost weekly ;-(

[2016-04-27 10:49] pdwinkel commented on #3297
Well, I can 'reproduce' it by starting my server and wait. The NPE happens normally within 10 minutes after start of server. After 10 minutes restart server and wait again...

The NPE happend the fourth time I started my server.

[2016-04-27 11:24] normanmaurer commented on #3297
Can you share your server?

[2016-04-27 14:36] pdwinkel commented on #3297
I just created a test program which give the same NPE:
[code]
I'll make a zip file and pm it to you

[2016-04-27 15:11] rkapsi commented on #5180
It depends on the use-case and would have to be a configurable option. We're using Netty to implement something like a proxy server and it'd be fatal if HttpServerCodec would start issuing 100s on its own.

[2016-04-27 21:41] carl-mastrangelo opened #5181 "Request: Create a 4.1.0 CR8"
Would it be possible to get another release candidate?   There are some changes gRPC would like to use (namely the native library loading changes).

[2016-04-27 22:48] alexlehm opened #5182 "HostsFileParser tries to resolve hostnames as case-sensitive"
Netty version: 4.1.0.CR7

Context:
I am implementing a mail client in vert.x, which uses netty as network library, when trying to connect to LOCALHOST in upper case, the dns client gives an UnknownHostException.
The regular behaviour of the /etc/hosts resolution should be match the hostnames case insensitive

Steps to reproduce:
run the following unit test:
https://gist.github.com/alexlehm/e921fca

[2016-04-27 23:22] normanmaurer commented on #5181
My plan was to cut final next week once back from vacation. Is this good enough?

[2016-04-27 23:24] carl-mastrangelo commented on #5181
Sure, just eventually.  I didn't know how long it would be before one was released (it looked like you guys were doing one a week).

[2016-04-28 00:16] Scottmitch commented on #5125
The `AbstractNioChannel.selecitonKey` is re-assigned under a few conditions ... one of these is when the channel is registered. This was added in case the channel is re-registered to the same EventLoop but an "old selection key" is being processed (and is now inactive) ... this should not result in the channel being closed.

In summary I can't reproduce the issue you are experiencing so I'm includ

[2016-04-28 00:42] Scottmitch commented on #5180
@dschobel - The `HttpObjectAggregator` is designed to give users a "simple" `FullHttpMessage` in the pipeline, and has some knowledge of the `maxRequestSize`. If `HttpObjectAggregator` can infer the body size from the headers it can make an informed decision and accept/reject the continue request, and if it cannot infer the body size it will enforce `maxRequestSize` as data is read. `HttpServerCod

[2016-04-28 00:50] Scottmitch commented on #5175
At the moment not through this interface. What type of socket channel are you dealing with as there is likely a way to do it using an implementation of this interface.

[2016-04-28 09:02] donieh opened #5183 "Server HTTP can not accept the post request JSON parameters"
http server

       ServerBootstrap bootstrap = new ServerBootstrap();
                    bootstrap.group(bossGroup, workerGroup);
                    bootstrap.channel(NioServerSocketChannel.class);
                    bootstrap.childOption(ChannelOption.ALLOCATOR, PooledByteBufAllocator.DEFAULT);
                    bootstrap.childHandler(new ChannelInitializer<SocketChannel>() {

[2016-04-28 09:23] sunrenjie opened #5184 "Example RedisClient fails on repeated GET operation with non-existing key"
### Symptom

Run the client io.netty.example.redis.RedisClient against a redis server, issue the command "GET nonexisting" ("nonexisting" can be any key not present in the redis server) twice and exceptions are thrown (error messages at the bottom).

### My analysis
At the begining io.netty.handler.codec.MessageAggregator#decode(), currentMessage is not null as expected for the second GET command,

[2016-04-28 15:42] vrozov commented on #5175
NioSocketChannel, EpollSocketChannel or OioSocketChannel

[2016-04-28 17:33] Scottmitch commented on #5175
I see you want it all ... stand by for a PR.

[2016-04-28 20:48] pdwinkel commented on #3297
I sent the zip file to your gmail account

[2016-04-28 21:05] NiteshKant opened #5185 "Infinite loop with late listeners notification"
##### Netty Version

Tested with 4.1-CR7 but I think it exists in 4.0 too.

##### Context

I came across this while upgrading [RxNetty](https://github.com/ReactiveX/RxNetty) to netty 4.1-CR7. One of the tests happen to have a more convoluted form of the test specified in this issue.

##### Problem

This [code](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/concurrent/De

[2016-04-28 22:03] dschobel commented on #5180
@Scottmitch yep, a `HttpServerCodec` application without `HttpObjectAggregator` doesn't have enough information to intelligently reject/accept based on headers but by ignoring the header we're not changing the outcome for clients, when netty is acting as an origin server we're only delaying the request which leaves application writers having to include some boiler plate as in the hello world examp

[2016-04-28 23:08] normanmaurer commented on #3297
Will check soon

[2016-04-29 01:37] carl-mastrangelo opened #5186 "HTTP2 Frame Decoder Bug"
While debugging an apparent hang, I discovered what I believe the be a bug in the [DefaultHttp2FrameReader.readFrame](https://github.com/netty/netty/blob/5b5925065796471c2d00ad53d8aaff888f24b752/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameReader.java#L129 ).

The sequence of events that can cause this is as follows:
1. C: Send Headers
2. C: Send Data
3. S: Receive Heade

[2016-04-29 01:49] Scottmitch commented on #5186
@carl-mastrangelo - Thanks for the detailed report! Seems like settings the state to `ERROR` in [DefaultHttp2FrameReader](https://github.com/netty/netty/blob/5b5925065796471c2d00ad53d8aaff888f24b752/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameReader.java#L161) is a bit aggressive for stream errors. I would need to investigate more but I wonder if we even need the `State

[2016-04-29 02:03] ejona86 commented on #5186
The sequence of events is a bit hard to read. In short, a client resets a stream but the server has frames in-route for that stream, when those frames are then received by the client the bug is triggered.

[2016-04-29 02:42] jongyeol commented on #5184
Oh.. I'll check it soon.

[2016-04-29 02:43] Scottmitch commented on #5184
Thanks @jongyeol !

[2016-04-29 05:26] Scottmitch commented on #5186
pr pending

[2016-04-29 07:14] lizuojing commented on #2361
It happens when i run my app for about two hours.I search many messages but all of them are not work.Can you tell me why it happens.

[2016-04-29 07:30] lizuojing commented on #639
@Amitunreal  I also get this Exception when i run my application for about two hours. I am try a  few times and then i get  the same exception.I want to know whether your solution is working,and whether you finally solve the problem.how to do it?

[2016-04-29 07:46] sunrenjie commented on #5184
Hi,

there may be more problems regarding representing null strings that I discovered while trying to create a patch for it for fun (I'm basically a student on it :) ). In io.netty.handler.codec.MessageAggregator#decode(), we have this line:

`CompositeByteBuf content = (CompositeByteBuf) currentMessage.content();`

That means currentMessage, returned from beginAggregation() method of the derived

[2016-04-29 08:00] sunrenjie commented on #5184
Some nits on command line I/O handling of empty string values that I'd rather not open a new issue. @jongyeol @Scottmitch

Below both redis-cli and RedisClient are running against the same redis server.

With redis-cli:
$ redis-cli
127.0.0.1:6379> set a ""
OK
127.0.0.1:6379> get a
""

With example RedisClient:
Enter Redis commands (quit to end)
get a

set b ''
OK
get b
''

Again with redis-cli:
$

[2016-04-29 11:09] slandelle commented on #5182
Should be pretty easy to contribute a fix :)

[2016-04-29 17:18] buchgr commented on #5186
@Scottmitch thanks!

[2016-04-29 19:11] alexlehm commented on #5182
Included the unit test in the pr and added the fix for the issue
https://github.com/netty/netty/pull/5189
I am not sure if this change would require the cla to be signed, if so, this will take some time since I have to apply for clearance to participate in the project first.

[2016-04-30 00:46] Scottmitch opened #5190 "Redis Buffer Leak"
RedisDecoder calls `ByteBuf.retain()` and the next line may throw an exception, but the buffer is never released [1]. More investigation is needed in this class whenever retain is called to ensure it is either written or released.

[1] https://github.com/netty/netty/blob/4.1/codec-redis/src/main/java/io/netty/handler/codec/redis/RedisDecoder.java#L208

[2016-04-30 00:46] Scottmitch commented on #5190
@jongyeol - FYI

[2016-04-30 02:23] Scottmitch commented on #5185
@NiteshKant - Thanks for reporting! This kinda a "known limitation" identified last time this was patched up https://github.com/netty/netty/issues/4395#issuecomment-153491183 for ImmediateExecutor ... however let me see if I can generalize this approach ... especially because it occurs with a Netty executor (EmbeddedEventLoop)

[2016-04-30 08:32] jongyeol commented on #5190
I'll check it soon too.

[2016-04-30 08:59] jongyeol commented on #5184
@sunrenjie , First of all, thank you for reporting this. And, your opinions are right. I reviewed codes and I realized we don't need to seperate header and contents for null or empty bulk string, and pushed the PR #5193 for this. And, about second one, I have no idea for setting empty bulk string and I think this is not urgent because this is "an example usage for `codec-redis`". So, if you have s

[2016-04-30 17:41] #5186 closed

[2016-05-01 14:20] sunrenjie commented on #5184
@jongyeol After taking a closer look at, I agree that the second one is not urgent. Just like it for being so lean and just working.

[2016-05-01 18:27] normanmaurer commented on #5184
Fixed by https://github.com/netty/netty/pull/5193

[2016-05-01 18:27] #5184 closed

[2016-05-01 18:27] normanmaurer commented on #5179
@trustin WDYT ?

[2016-05-01 18:55] slandelle commented on #5179
FlyingQueriesAwareDnsNameResolver ? Pro is that such name will make Spring people jealous ;-)

[2016-05-01 22:00] slandelle commented on #5179
InProgressAware?

[2016-05-01 23:42] TiREX69 opened #5194 "Create sub pipelines"
Hello, I use UDP and I want to do a separate object for each new connection.

![visualization](http://i.imgur.com/ieEjLNH.jpg)

[2016-05-02 04:40] normanmaurer commented on #5194
Its not possible

[2016-05-02 04:40] #5194 closed

[2016-05-02 09:13] TiREX69 commented on #5194
@normanmaurer or it is possible to create a separate pipeline for each new connection in udp?

[2016-05-02 11:54] normanmaurer commented on #5176
@Scottmitch @nmittler @louiscryan anyone ? ;)

[2016-05-02 11:55] normanmaurer commented on #5173
@CodingFabian any progress here ?

[2016-05-02 11:56] normanmaurer commented on #5171
will take care

[2016-05-02 12:36] CodingFabian commented on #5173
woops, forgot. coming

[2016-05-02 12:44] normanmaurer commented on #5173
@CodingFabian 😍

[2016-05-02 12:53] normanmaurer commented on #3297
Ok I know what is wrong.... let me work on a fix

[2016-05-02 14:00] nmittler commented on #5176
Control of inbound flow control in HTTP/2 can be done in a couple of places:

1) First, the callback for [Http2FrameListener.onDataRead](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2FrameListener.java#L41) allows you to immediately "consume" some amount of the inbound data. This effectively gives those bytes back to flow control to allow it to

[2016-05-02 15:51] Scottmitch commented on #5183
@donieh - Can you clarify the issue you are observing from Netty's perspective? Specifically what are you expecting to get from Netty that is not happening? What is `httpServerHandler`

[2016-05-02 16:28] Scottmitch commented on #5180
It seems a bit strange to have the 100 continue maintained in 2 places. `HttpServerCodec` and `HttpObjectAggregator` can exist in the pipeline at the same time so it may be a confusing to have the logic duplicated in the pipeline.

IIUC the intention is not focused on being origin/proxy friendly but more that if `HttpObjectAggregator` didn't handle 100-continue the server may not make progress. Us

[2016-05-02 20:39] rkapsi opened #5197 "Bug in AbstractMemcacheObjectEncoder with FullMemcacheMessage(s)"
Netty 4.1.0-SNAPSHOT

There is a bug in [AbstractMemcacheObjectEncoder](https://github.com/netty/netty/blob/4.1/codec-memcache/src/main/java/io/netty/handler/codec/memcache/AbstractMemcacheObjectEncoder.java) on line 48.

The `encode()` method returns and the `FullBinaryMemcacheRequest|Response` `content()` gets never written.

[2016-05-02 21:18] Scottmitch commented on #5197
@rkapsi - Thanks for reporting!

[2016-05-02 21:25] #5197 closed

[2016-05-02 21:25] Scottmitch commented on #5197
Trivial fix to revert a commit see .. 9ed2f01853d82940b42c795eb541046872c3086b

If issue still persists please re-open.

[2016-05-02 23:51] ylgrgyq opened #5198 "Leak in DefaultHttp2FrameWriter"
The original issue is from here: https://github.com/relayrides/pushy/issues/275

In [`io.netty.handler.codec.http2.DefaultHttp2FrameWriter`.](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameWriter.java) there's a method `writeData`. We pass a `ByteBuf` parameter  into this method as the payload of a frame to be sent and from the comme

[2016-05-03 00:44] mosesn opened #5199 "http/2 message => http/1.1 message adapter for the new http/2 api"
## problem

http/2 and http/1.1 have similar protocols, and it's useful to be able to implement a single server against a single interface.  There's an injection from http/1.1 messages to http/2 ones, so it makes sense to make folks program against http/1.1 and upgrade them under the hood.

## proposed solution

a `MessageToMessageDecoder<Http2StreamFrame>` which turns every kind of `Http2StreamFr

[2016-05-03 01:00] Scottmitch commented on #5198
if there is no exception then the buffer will be written to the underlying channel, which is responsible for releasing the buffer. If there is an exception we *may* need to release the buffer. so I think we are good as is. What is the motivation for this issue (code inspection, buffer leak tools, etc..?)? If you have buffer leak report can you provide it plz?

The reason for this was prior to comm

[2016-05-03 01:25] jchambers commented on #5198
I'll hope @ylgrgyq will pardon me for butting in here ;)

The details are in https://github.com/relayrides/pushy/issues/275, but we spotted some infrequent leak reports using paranoid leak detection. The report is in the linked issue, but for convenience, here's a copy:

[code]

Cheers!

[2016-05-03 02:24] Scottmitch commented on #5198
@jchambers - Thanks for the additional info. Can you confirm what version of Netty this leak was observed in? Also are you able to reproduce?

[2016-05-03 02:27] ylgrgyq commented on #5198
@Scottmitch Thanks a lot for your reply.

The client method for creating this leaked buffer is the `write` method in [ApnsClientHandler](https://github.com/relayrides/pushy/blob/master/src/main/java/com/relayrides/pushy/apns/ApnsClientHandler.java). `ApnsClientHandler` inherit class `io.netty.handler.codec.http2.Http2ConnectionHandler` and override it's `write` method.

I changed line 219 of `Apns

[2016-05-03 02:37] Scottmitch commented on #5198
@ylgrgyq - Thanks. Few more questions:

- Are connections being closed in this scenario?
  - Are you changing the [gracefulShutdown](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/AbstractHttp2ConnectionHandlerBuilder.java#L142) timeout?
  - Is it possible to verify if some streams are still open after the connection's graceful shutdown time has expi

[2016-05-03 03:14] ylgrgyq commented on #5198
Yes. It seems connections are being closed in this scenario. Because every time I got a lot of logs like:
[code]
There's a high probability the leak report will follow. By the way, I changed `-Dio.netty.leakDetection.level` to `paranoid`.

Yes. I changed it to a really long time which is 100 seconds.

I'll try to verify this as soon as possible.

Sorry. I don't make myself clear enough. I said "I

[2016-05-03 03:15] jchambers commented on #5198
I hate to nit pick word choice, but to be clear, I can't reproduce the issue in *unit tests*. At least, not yet ;)

[2016-05-03 05:49] normanmaurer commented on #5173
Fixed by https://github.com/netty/netty/pull/5195

[2016-05-03 05:49] #5173 closed

[2016-05-03 07:16] ylgrgyq commented on #5198
As for `DefaultHttp2Connection.close`, I remember that I got this log several seconds before the leak report above.
[code]
Does it means that [`close` method in `Http2Connection`](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2Connection.java#L305) failed to close all of the active streams, and this is the reason why the leak occur?

[2016-05-03 07:17] normanmaurer commented on #5198
@ylgrgyq this is helpful... let me check :)

[2016-05-03 07:18] ylgrgyq commented on #5198
Thanks a lot.

[2016-05-03 08:12] normanmaurer commented on #5198
@nmittler @Scottmitch any idea how the NPE can happen ? I had a look and can not see how this is possible :(

[2016-05-03 08:34] normanmaurer commented on #5190
Let me fix it.

[2016-05-03 09:44] normanmaurer commented on #5179
@trustin also we can just make it package private for now and find a good name later if we feel we not have a good one atm.

[2016-05-03 10:02] trustin commented on #5179
Alright. Let me cook some tomorrow.

[2016-05-03 13:38] daschl commented on #4146
@normanmaurer any idea what that can be?

[2016-05-03 13:44] ninja- commented on #4146
@daschl that seems like normmal behaviour unless your APP started crashing ?

[2016-05-03 13:47] daschl commented on #4146
@ninja- I wouldn't consider it normal behaviour if the "maxCapacity" setting is ignored and it just keeps growing and growing?

[2016-05-03 14:22] nmittler commented on #5198
@Scottmitch there may be a bug in the new close logic.  When you iterate over streams, you check `allowModifications` but you never change the state of that flag: https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2Connection.java#L138.

IIUC, calling `stream.close()` could result in > 0 streams actually being removed while you're iterating, t

[2016-05-03 14:23] normanmaurer commented on #4146
@daschl so only `maxCapacity = 0` helped ?

[2016-05-03 14:24] daschl commented on #4146
yes, the customer applied that as a workaround and the issue vanished.

[2016-05-03 14:24] normanmaurer commented on #4146
Ok will have a look .

[2016-05-03 14:35] caillette opened #5201 "WebSocket upgrade wrecks HttpProxyHandler"
Short story: `WebSocketClientHandshaker` reorganizes the Pipeline after receiving the upgrade from the server. If there is an `HttpProxyHandler` in the Pipeline, it has installed its own `HttpClientCodec` which gets wrecked by `WebSocketClientHandshaker`.

I used a handcrafted configuration which was easy to hack to see where the problem is. Since proxies don't support `ws://` I used `wss://` all

[2016-05-03 15:05] steven-aerts opened #5202 "HttpPostRequest throws IllegalArgumentException (empty name) on invalid encoded form parameters"
Netty version: 4.0.33.Final, 4.1.0.Final-SNAPSHOT

Context:
When the HttpPostRequest decoder receives an invalid structured `application/x-www-form-urlencoded` data, it throws an `IllegalArgumentException` while I think it should throw a `ErrorDataDecoderException`.

This behavior crashes for example vert.x as it [only catches](https://github.com/eclipse/vert.x/blob/2363b3e46fe964643be048e75807a31

[2016-05-03 16:16] Scottmitch commented on #5198
@nmittler - Yes you are right ... I also think there may be another issue ... standby for a PR.

@ylgrgyq - Very helpful ... If/when I submit a PR would you mind verifying if the leak/exception goes away?

[2016-05-03 16:49] ejona86 commented on #5199
I've added this to the checklist in #3667. What you've proposed sounds good.

GOAWAY and RST_STREAM can simply be ignored since the channel will closed automatically (they are propagated for additional information to those that want it; HTTP/1 doesn't want it). Stream ID should always be null on a child channel (at least for now), so there should be nothing to handle there either.

[2016-05-03 22:16] ssheng commented on #5176
@nmittler Thanks.

[2016-05-03 22:16] #5176 closed

[2016-05-03 22:17] windie commented on #5171
I think NioDatagramChannel should report an error: https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/socket/nio/NioDatagramChannel.java#L104

[2016-05-03 23:08] Scottmitch commented on #5199
Not sure if this is covered somewhere or is understood but just to clarify on the following....

A HEADERS frame with EOS doesn't necessarily mean the headers are trailers. This frame could just be the first HEADERS frame and there are no DATA frames to follow.

[2016-05-03 23:09] ylgrgyq commented on #5198
@Scottmitch No problem, I'll try to verify it at that time.

[2016-05-04 01:42] mosesn commented on #5199
OK, that's good to know.  So that would be converted to a FullHttpRequest with an empty content body?

[2016-05-04 12:04] #5157 closed

[2016-05-04 12:05] normanmaurer commented on #5157
Fixed by https://github.com/netty/netty/pull/5203

[2016-05-04 12:06] normanmaurer commented on #5202
Let me fix it.

[2016-05-04 15:00] nmittler commented on #5176
@ssheng agreed ... once we switch over to child channels, I suspect this will become more natural (i.e. Netty-like).

[2016-05-04 17:28] esfomeado opened #5208 "java.lang.UnsupportedOperationException: direct buffer"
Hi,

I'm having the following problem on netty **4.1.0.CR7**:
java.lang.UnsupportedOperationException: direct buffer
at io.netty.buffer.PooledUnsafeDirectByteBuf.array(PooledUnsafeDirectByteBuf.java:343)
	at io.netty.buffer.SwappedByteBuf.array(SwappedByteBuf.java:916)

With this code (works fine on other versions):
`return new String(msg.readBytes(strLength).array());`

msg is a ByteBuf

[2016-05-04 17:34] normanmaurer commented on #5208
That is because its a direct buffer and so `hasArray()` returns false. This is expected as stated in the javadocs

[2016-05-04 17:34] #5208 closed

[2016-05-04 18:26] dschobel commented on #5180
That's fair but I think tolerable since it will be a (small I think) burden on the codec maintainers vs the benefit to the server writers of not timing out their clients expect-continue timer or copying boiler plate.

I think the complexity will amount to:

[code]

and the object aggregator doesn't need to be touched.

If the goal is to be tolerant of dodgey clients that wait forever for the 100 C

[2016-05-04 19:18] normanmaurer commented on #5202
Fixed by https://github.com/netty/netty/pull/5209

[2016-05-04 19:18] #5202 closed

[2016-05-04 19:55] steven-aerts commented on #5202
Marvellous, thanks.

[2016-05-04 21:31] ssheng commented on #5176
@nmittler Thanks for the response. Sounds like child channels won't be part of the 4.1 final release. Do we have a target? Is there an opportunity to get involved?

[2016-05-05 13:55] MilosFabian commented on #5168
@Scottmitch I do not think so...in #5119 - the project is not packed as a bundle at all

[2016-05-05 14:58] nmittler commented on #5176
@ejona86 and @buchgr may have more regarding the timeline for child channels.

[2016-05-05 15:09] JuKu opened #5215 "Question: When is ChannelInboundHandlerAdapter channelActive called?"
Hi,

I am using Netty 4.0.34.Final and an ChannelInboundHandlerAdapter, but sometimes the channel is changing his state very often, for example:

INACTIVE
ACTIVE
INACTIVE
ACTIVE

and so on.
Whats the cause? Is it an Bug or an feature?

[2016-05-05 15:17] normanmaurer commented on #5215
That woukd be a bug. It should only go to active and the inactive once.

Can you give more details or even a reproducer?

[2016-05-05 17:24] ejona86 commented on #5176
@ssheng no timelines as of yet. There's a lot to do still to get feature parity. Much of the work isn't too hard, but some important pieces still need some in-depth decisions made (like outbound flow control). Inbound flow control is already mostly implemented for `Http2MultiplexCodec`/`AbstractHttp2StreamChannel`, although I won't say I've tested disabling auto read (it looks like `DefaultMaxMess

[2016-05-05 18:44] nayato opened #5216 "wrong huge deallocation counting in PoolArena.free"
right now there's `deallocationsHuge.decrement();`
should be `deallocationsHuge.increment();`

[2016-05-05 18:52] normanmaurer commented on #5216
@nayato you are right... let me fix it.

[2016-05-06 02:46] liutaohua opened #5217 "netty 4.0.36.Final client receive duplicate message"
my netty server like:
[code]
and then , my client will recive like " 0,375,376,377,377..........."

[2016-05-06 03:18] liutaohua commented on #5217
i use `CaptureEncoder extends MessageToByteEncoder<Object>` to encode my data,
in debug model i can see ` encode` method recive duplicate message .

[2016-05-06 03:34] liutaohua commented on #5217
Thread[pool-1-thread-x]
[code]
Thread[nioEventLoopGroup-2-2]
[code]

maybe this?

[2016-05-06 03:53] liutaohua commented on #5217
@normanmaurer can you help me ?

[2016-05-06 05:46] normanmaurer commented on #5190
Fixed by https://github.com/netty/netty/pull/5211

[2016-05-06 05:46] #5190 closed

[2016-05-06 06:01] normanmaurer commented on #3297
Fixed by https://github.com/netty/netty/pull/5212

[2016-05-06 06:01] #3297 closed

[2016-05-06 06:05] normanmaurer commented on #5171
Fixed by https://github.com/netty/netty/pull/5210

[2016-05-06 06:05] #5171 closed

[2016-05-06 07:56] tomaszszlek commented on #2597
Hi, In my opinion at least declare "throws Exception" for sync signature will work for me as it adds significant information to API. If you can add it in some major release it would be nice.

[2016-05-06 14:20] rkapsi opened #5218 "OpenSslContext#toBIO(PrivateKey) should zero the underlying byte[]"
This is something that was brought up by our Security Engineers. The `OpenSslContext#toBIO(PrivateKey)` method shouldn't just `release()` the ByteBuf but explicitly fill the underlying byte[] with 0 before nulling the reference.

Right now it's creating 3 copies of the PrivateKey that will be lingering in memory for an unknown amount of time.

[2016-05-06 14:21] normanmaurer commented on #5218
@rkapsi sure let me take care.

[2016-05-06 14:31] normanmaurer commented on #5218
@rkapsi that said I`m not sure why zero out the ByteBuf will buy you as the PrivateKey itself is still in memory until GC-ed.

[2016-05-06 14:39] rkapsi commented on #5218
@normanmaurer yea that is also a problem but it is external to Netty.

In our case, we roll our own PrivateKey implementation (we get pre-encoded bytes from somewhere and just pass them thru) and there is a `destroy()` method we can call.

For people who go the more traditional route it's a problem. You can use reflection to get the let's say RSAPrivateKey's underlying BigInteger and then use refl

[2016-05-06 14:51] normanmaurer commented on #5201
@caillette I wonder if we would need to do something similar for all other handlers that it will try to remove or replace. WDYT ?

[2016-05-06 15:46] normanmaurer commented on #5201
@caillette also this should fix it as well:

https://github.com/netty/netty/pull/5142

Not sure its the best solution tho ....

[2016-05-06 18:32] normanmaurer commented on #5179
any news ?

[2016-05-06 18:34] normanmaurer commented on #4399
Let me close this for now... if you still think there is an issue please re-open

[2016-05-06 18:34] #4399 closed

[2016-05-06 18:35] normanmaurer commented on #4276
I don`t think this is a bug but more a question... please use stack overflow for questions

[2016-05-06 18:35] #4276 closed

[2016-05-06 18:35] normanmaurer commented on #4204
@jestan did you fix this ?

[2016-05-06 18:36] normanmaurer commented on #3940
Let me close this... master branch is dead

[2016-05-06 18:36] #3940 closed

[2016-05-06 18:38] normanmaurer commented on #3487
Let me close this for now

[2016-05-06 18:38] #3487 closed

[2016-05-06 18:39] normanmaurer commented on #3391
Did not see this for a long time now... Let me close it

[2016-05-06 18:39] #3391 closed

[2016-05-06 18:41] normanmaurer commented on #1944
Let me close this...

[2016-05-06 18:41] #1944 closed

[2016-05-06 19:16] normanmaurer commented on #3892
@virtman @brettwooldridge I am not sure about the JDK SSLEngine implementation but it works out of the box when you use our OpenSSLEngine implementation

[2016-05-06 19:18] normanmaurer commented on #5217
Hard to say without see your encoder and decoder

[2016-05-06 19:43] normanmaurer commented on #5218
Fixed by https://github.com/netty/netty/pull/5220... PTAL @rkapsi

[2016-05-06 19:46] normanmaurer commented on #5216
Fixed https://github.com/netty/netty/pull/5219

[2016-05-06 19:46] #5216 closed

[2016-05-06 21:27] Scottmitch commented on #3391
@normanmaurer - should we add a timeout on this test? I saw some snags when I was reworking the DefaultPromise implementation (https://github.com/netty/netty/pull/5221) ... but I expected some snags while in development and knew where to look.

[2016-05-06 23:51] Scottmitch commented on #5180
@dschobel - It is not ideal for one handler to look for another handler's presence in the pipeline ... kinda breaks the boundaries between handlers. What about creating some sort of `HttpContinueRequestHandler` which can intercept the "expect continue" request and call some overridable method which by default just responds with 100 continue. This way the user would have to explicitly add this into

[2016-05-07 00:51] dschobel commented on #5180
@Scottmitch that definitely works, it's the solution we arrived at for finagle where the handler is conditionally installed depending on whether chunk aggregation is configured.

[code]

that's already less boilerplate so I'm happy with that if inspecting the pipeline is a non-starter and bundling aggregation as part of a new handler that manages the codec is too big of a change.