[2017-05-16 08:13] #6673 closed

[2017-05-16 10:06] alobodzki commented on #6730
@fenik17 @slandelle I would prefere not to use exceptions, but with null check approach we loose an info on which cookie was malformed. I can survive this scenario though, I would log the whole header and let developers figure it out form there, but that cookieStr can contain multiple cookies, some of them can be ok, some of them not and then we don't know.

The interface to CookieDecoder returns

[2017-05-16 10:59] slandelle commented on #6730
Looks like someone wants a Validation monad :)
You could introduce a new `parse` method on both decoders that returns a `ParseResult` that would contain valid results and failure details.

[2017-05-16 15:35] ninja- commented on #6730
it's ok to use exceptions if you disable stacktrace gathering. See https://github.com/SpigotMC/BungeeCord/blob/master/proxy/src/main/java/net/md_5/bungee/connection/CancelSendSignal.java for example...

[2017-05-16 15:43] ankitLu opened #6746 "Netty 4.1 Facing thread Leak issue"
### Thread count checked through below command should be minimal
 ps -u |grep <PID>| wc -l

### Thread count starts from 41 initially, reaches to 200 within minutes and eventually jvm is not able to support new connections. Total client connections initially are 20, but client tries to reconnect after connection reset.
Also there is a load balancer continuously querying TCP port for active state,

[2017-05-17 05:00] BlessedL commented on #6602
Greetings All,
 I am currently encountering the mentioned Exception using the netty-transport-native-epoll. Can you tell me why I am encountering this error and how I can fix it. Thank you in advane!

[2017-05-17 05:44] normanmaurer commented on #6602
@BlessedL this means that the remote peer did not accept the connection request. You most likely used the wrong ip or port.

[2017-05-17 05:51] BlessedL commented on #6602
Thank you Norman, but I doubled checked and it appears I'm using the right ip and port. I even verified it by using nio instead of epoll for both client and server and it worked. Funny thing is. If the server uses netty-transport-native-epoll the client can not connect, but if the server uses nio the client can connect regardless if the client uses epoll or nio. Any other insights?

[2017-05-17 05:53] normanmaurer commented on #6602
@BlessedL what does `netstat -tulpen` shows ? Is the port and ip correct listed there ?

[2017-05-17 06:02] BlessedL commented on #6602
ah, I see! Thank you Norman! when testing and debugging another issue, I had used another port.  I had multiple connections and did not change the port for one of the connections.

[2017-05-17 06:02] BlessedL commented on #6602
It is working now!

[2017-05-17 19:00] Scottmitch commented on #6705
@CodingFabian - `encoderEnforceMaxConcurrentStreams` was not made the default at the time because it introduces overhead which may not be necessary depending on the use case. do you have a suggestion to make this more visible? would firing an exception up the pipeline make things more visible or adding logging to `resetUnknownStream` ?

[2017-05-17 20:34] CodingFabian commented on #6705
yes either of that @Scottmitch - as you can see from this ticket history it took me a while to realize whats going on.

[2017-05-17 20:58] Scottmitch commented on #6705
I'm fine with logging an exception in this method. Would you be interested in submitting a PR?

[2017-05-17 21:05] Scottmitch commented on #6724
Please provide the test case. In general we should re-register and read any pending data. I assume you have tried with `EpollMode` LEVEL_TRIGGERED and EDGE_TRIGGERED?

Possibly related:
https://github.com/netty/netty/issues/6173
https://github.com/netty/netty/issues/6303

[2017-05-17 23:34] Scottmitch commented on #6736
The behavior of modifying the hostname should be provided at a higher layer (e.g. [DnsNameResolverContext.java](https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/DnsNameResolverContext.java#L141)). However `UnixResolverDnsServerAddressStreamProvider` default value when no match was found needs some work.

[2017-05-18 00:14] Scottmitch commented on #6736
See PR https://github.com/netty/netty/pull/6748

[2017-05-18 02:22] lizhanhui commented on #6746
[code]

This line is obviously buggy. You need to reuse `group` instead of creating new instance for each connection.

[2017-05-18 02:34] Scottmitch commented on #6746
thanks @lizhanhui .. let me close this for now as this doesn't seem to be a Netty issue.

[2017-05-18 02:34] #6746 closed

[2017-05-18 02:35] Scottmitch commented on #6729
@trustin - if you can reproduce please increase `io.netty.leakDetection.maxRecords` as suggested and report back with the leak trace  ... we may not have the complete picture here.

[2017-05-18 02:38] Scottmitch commented on #3534
You are free to use lambda expressions in your application if you use jdk8+, however in the Netty code base we are stuck supporting jdk6+.

[2017-05-18 02:39] Scottmitch commented on #6737
Can you provide some justification for this statement? Why is it "better"?

[2017-05-18 03:43] trustin commented on #6729
It was in the header encoding loop, so increasing `maxRecords` might not help much here.

It seems like the leak is gone after fixing some other leak which triggered OOME. So, my guess is that somehow an exception (OOME?) was triggered while encoding the headers and that triggered the leak reported in this issue.

Let me close this issue and file a new one when I see this again. Thanks for taking

[2017-05-18 03:43] #6729 closed

[2017-05-18 04:14] oakad opened #6750 "codec.mqtt: wrong password and willMessage field types in MqttConnectPayload/MqttEncoder (should be byte[])"
In the present implementation of MqttConnectPayload/MqttEncoder, willMessage and password fields are  strings. However, spec (3.1.3.5) clearly mandates that the password filed should support arbitrary binary data:

Same for willMessage (3.1.3.3):

Thus, the relevant field and encoder bits must treat the password and willMessage fields as byte[] or ByteBuf (the former is probably enough).

This has

[2017-05-18 05:08] #6738 closed

[2017-05-18 05:19] normanmaurer commented on #6709
Fixed by https://github.com/netty/netty/pull/6713

[2017-05-18 05:19] #6709 closed

[2017-05-18 10:41] ankitLu commented on #6746
hi @lizhanhui
Thanks for your time. As you recommended, I tried reusing the group. But this is not helping, as the thread count is still increasing with pace.

###Code
` final EventExecutorGroup group = new DefaultEventExecutorGroup(20);

                    private class MySocketInitialiser extends ChannelInitializer<SocketChannel> {
                        @Override
                        publi

[2017-05-18 14:52] demonti commented on #1706
Any update on this issue? Any (coarse) time frame? I unfortunately have a project where I am using a self-made NIO-based code which eagerly waits for replacement due to some performance issues. I need to answer ten- to hundred-thousand requests per second received via a single or a very few number of UDP sockets, originating from a large set of clients.

At some point in time I need to decide whet

[2017-05-18 14:56] normanmaurer commented on #1706
@demonti can't you use the native epoll or kqueue transport and use SO_REUSEPORT ?

[2017-05-18 15:09] demonti commented on #1706
@normanmaurer I have read the suggestions above, but it sounds like a kind of hack for an actually solvable problem (within Netty). While I would not exclude such an approach, it is definitely not my favourite one.

[2017-05-18 15:37] floragunncom opened #6752 "Backward- and forward compatibility"
Is netty a.b.x supposed to be API and ABI backward compatible with a.b.y where x>y ?
(In other words: If i have a application compiled against netty 4.1.0 will this work with, say, netty 4.1.99)

And also the other way around: Is netty a.b.y supposed to be API and ABI forward compatible with a.b.x where x>y ?
(In other words: If i have a application compiled against netty 4.1.99 will this applicat

[2017-05-18 17:39] floragunncom commented on #6571
@normanmaurer any idea how we can proceed here?

[2017-05-18 18:10] Scottmitch commented on #6571
@floragunncom - There are a few PRs pending which may impact the performance of the SslHandler. Please try the following PRs https://github.com/netty/netty/pull/6365 https://github.com/netty/netty/pull/6720.

I very briefly looked at the code and the server does a writeAndFlush of 5 bytes on every read to every channel [1]. Each TLS packet will have at least this much overhead (and more overhead a

[2017-05-18 18:26] #6741 closed

[2017-05-18 18:40] doom369 opened #6754 "Instances of ResourceLeakDetector are created even io.netty.leakDetection.level is disabled"
### Expected behavior

No instances of `ResourceLeakDetector` when used `ResourceLeakDetector.setLevel(ResourceLeakDetector.Level.DISABLED);`.

### Actual behavior

Few instances of `ResourceLeakDetector` are still created.

### Steps to reproduce

Set `ResourceLeakDetector.setLevel(ResourceLeakDetector.Level.DISABLED);` on start.

Case 1:
Create `new HashedWheelTimer()`.
Field initialized:

[code

[2017-05-18 21:30] Scottmitch opened #6755 "SslHandlerTest#testCompositeBufSizeEstimationGuaranteesSynchronousWrite failure"
Encountered while building PR https://github.com/netty/netty/pull/6493 on CI servers.

https://garage.netty.io/teamcity/viewLog.html?buildId=20267&buildTypeId=pulls_netty&tab=buildLog#_focus=40344

[code]

[2017-05-18 21:46] Scottmitch commented on #6754
The level is allowed to change dynamically via `ResourceLeakDetector#setLevel`. So it will not be trivial to eliminate this allocation. What is the problem with allocating instances of `ResourceLeakDetector` in this case?

[2017-05-18 21:49] Scottmitch commented on #6742
Please submit a PR if this feature is important for you.

[2017-05-18 22:15] #6736 closed

[2017-05-18 22:20] Scottmitch commented on #6752
We generally stick to semantic versioning so API compatibility should be preserved. There are exceptions about unstable packages, internal APIs, API bugs, etc...

[2017-05-18 22:28] Scottmitch commented on #4448
Netty is an OpenSource project @LionelCons @amizurov. If these features are important to you please submit PRs to improve/fix. If the PR is large in scope I recommend creating an issue detailing the issues and your approach to fix them first to avoid spending effort in something that cannot be supported easily.

[2017-05-18 23:58] Scottmitch commented on #6645
Is it possible to put the `CorsHandler` in the pipeline after the handshake has completed?

[2017-05-19 05:44] normanmaurer commented on #6754
@doom369 as @Scottmitch said ....

[2017-05-19 05:49] normanmaurer commented on #6752
@floragunncom just to make it more clear... using for example 4.1.11 for an app that was compiled against 4.1.0 will work. If the app was compiled against 4.1.11 it may not work to use 4.1.0 due missing features.

[2017-05-19 05:50] #6752 closed

[2017-05-19 06:03] doom369 commented on #6754
@Scottmitch no problem. Just seems a bit wrong. I looked through code, yeap, seems like fix wouldn't be easy. Let's close as minor issue.

[2017-05-19 06:03] #6754 closed

[2017-05-19 07:42] shuzhongling opened #6757 "ChannelOption.WRITE_BUFFER_WATER_MARK is not recognize at version 4.1.11.Final"
### Expected behavior
i want to limit the write buffer size, then i try to use WRITE_BUFFER_HIGH_WATER_MARK.  but the tip message tell me that the this option is deprecated,  so i use the WRITE_BUFFER_WATER_MARK
### Actual behavior
when i run the program, it turn out a error.
java.lang.NoSuchFieldError: WRITE_BUFFER_WATER_MARK

### Steps to reproduce
when i compile , it is all ok.  but when i run

[2017-05-19 07:48] normanmaurer commented on #6757
@shuzhongling works here without any problems. Are you sure you not have multiple versions of netty on your class path ?

[2017-05-19 08:38] shuzhongling commented on #6757
@normanmaurer
thanks,
 the cause maybe because i use netty with spring boot and spring cloud.  the pom file i use  like below.
[code]
when i remove the dependence of spring-cloud-starter-feign, it is ok.
but when i add the dependence of spring-cloud-starter-feign, it will turn out the error
java.lang.NoSuchFieldError: WRITE_BUFFER_WATER_MARK
maybe spring-cloud-starter-feign depends on a low versio

[2017-05-19 08:40] normanmaurer commented on #6757
@shuzhongling most likely... try to exclude it.

[2017-05-19 08:40] #6757 closed

[2017-05-19 08:43] slandelle commented on #6706
@normanmaurer Gentle ping. Do you have any idea how I could achieve expected behavior?

[2017-05-19 09:26] shuzhongling commented on #6757
@normanmaurer
thanks a lot, i have change the pom file as below.
[code]
now it work well.
but i wonder what relationship is between  netty-buffer, netty-codec... and the netty-all?
the spring-cloud-feign dosn't depends on netty-all,  but it depends on the six netty artifact.

[2017-05-19 09:27] normanmaurer commented on #6757
@shuzhongling netty-all is basically "merging" all the netty artifacts.

[2017-05-19 13:18] 897902334 opened #6758 "objective-c (iOS) How to use it？"
### Expected behavior
How does the IOS language use it to develop programs？？
### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1final
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)
macbook pro

[2017-05-19 13:28] normanmaurer commented on #6758
@897902334 not at all ? It is only usable with Java

[2017-05-19 13:28] #6758 closed

[2017-05-19 15:22] vietj opened #6761 "HttpObjectEncoder#isContentAlwaysEmpty cannot be overridden by subclasses"
### Expected behavior

the `HttpObjectEncoder#isContentAlwaysEmpty()` method is package private, so subclasses can change its behavior. Currently Vert.x has a subclass extending `HttpObjectEncoder `.

### Actual behavior

the `HttpObjectEncoder#isContentAlwaysEmpty()` method is package private

### Steps to reproduce

n/a

### Minimal yet complete reproducer code (or URL to code)

n/a

### Netty v

[2017-05-19 15:23] normanmaurer commented on #6761
@vietj so you say it is package private and it should be not package-private ? Whats your use-case ?

[2017-05-19 15:32] vietj commented on #6761
my use case is to not send content in a response to HEAD, Vert.x has a special subclass (that you actually created) of `HttpObjectEncoder` that forces the usage of direct buffers, so we cannot use the `HttpServerCodec`.

Another motivation is that we might want to handle the HEAD check with a custom implementation of `HttpMessage` and not use an a FIFO queue of HttpMessage like in `HttpServerCodec

[2017-05-19 18:17] Scottmitch commented on #6750
are you interested in submitting a PR to correct this issue?

[2017-05-19 19:47] fenik17 commented on #6745
A `QueryStringDecoder` also  doesn't cut a `fragment` from query string (as prescribed by [RFC 3986](http://www.faqs.org/rfcs/rfc3986.html))
[code]
in output
[code]
@normanmaurer @Scottmitch @trustin WDYT? I can provide a PR to fixing both issues.

[2017-05-19 22:10] Scottmitch commented on #6745
@fenik17 +1 for a PR ... thanks!

[2017-05-19 22:12] #6717 closed

[2017-05-20 03:31] 897902334 opened #6762 "Do you have a stable Android client and Javaweb server project using the Netty framework?"
### Expected behavior
Do you have a stable Android client and Javaweb server project using the Netty framework?
### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1x
### JVM version (e.g. `java -version`)
1.7x
### OS version (e.g. `uname -a`)
Win10

[2017-05-20 06:59] normanmaurer commented on #6745
@fenik yes please 👍

[2017-05-20 07:46] normanmaurer commented on #6762
This is for issues not for questions. Please use stackoverflow

[2017-05-20 07:46] #6762 closed

[2017-05-20 09:06] llname opened #6763 "Diffie-Hellman group smaller than 2048 bits (tls-dh-prime-under-2048-bits)"
### Expected behavior
tls-dh-prime-2048-bits
### Actual behavior
Diffie-Hellman group smaller than 2048 bits (tls-dh-prime-under-2048-bits)
### Steps to reproduce
### Minimal yet complete reproducer code (or URL to code)
### Netty version
4.0.27.Final
### JVM version (e.g. `java -version`)
jdk_8u121
### OS version (e.g. `uname -a`)
Linux 3.10.0-229.x.x86_64

[2017-05-22 02:32] 897902334 opened #6765 "How to use the Netty4 implementation, multiple clients log in, and how does the server implement notification multiple clients to update the list of online users?"
### Expected behavior
How to use the Netty4 implementation, multiple clients log in, and how does the server implement notification multiple clients to update the list of online users?
### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1x
### JVM version (e.g. `java -version`)
1.7
### OS version (e.g. `uname -a`)
win10

[2017-05-22 05:31] normanmaurer commented on #6765
This is an issue tracker and not a user-forum. Please use stack overflow if you have specific questions

[2017-05-22 05:31] #6765 closed

[2017-05-22 09:22] FelixMarcus commented on #6645
A runtime insertion? That is a workaround, yes.

Given that we could be getting either a WS connection (No ```CorsHandler``` needed) or an HTTP connection (```CorsHandler``` definitely needed), then we could have an additional helper after the codec that inserts the ```CorsHandler``` depending on the instance type. Similar to what we've implemented in the meantime.

Doesn't solve the actual bug th

[2017-05-22 13:54] CodingMartin opened #6767 "java.net.SocketException: recvfrom failed: ECONNRESET (Connection reset by peer)"
## An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the  last handler in the pipeline did not handle the exception.
###                                                                             java.net.SocketException: recvfrom failed: ###
 ECONNRESET (Connection reset by peer)

[2017-05-22 13:57] jyemin commented on #6679
As the maintainer of a widely-used [library](https://github.com/mongodb/mongo-java-driver) that has an optional dependency on Netty, it would be helpful if a Netty release was published that defines the module names that will be used by Netty in Java 9.  That would allow downstream libraries to create their own modules that reliably depend on Netty modules.

See https://www.slf4j.org/faq.html#chan

[2017-05-22 18:14] rkapsi opened #6768 "Adding handlers to a closed Channel's pipeline"
It appears the a ChannelPipeline will happily add a handler to a closed Channel's pipeline and will call `handlerAdded(...)` but will not call `handlerRemoved(...)` or blow up in some other way to let the caller know that things aren't in a good state.

Just wondering if there wouldn't be edge cases where we'd potentially leak resources (e.g. `SslHandler#handlerRemoved0(...)` which is supposed to

[2017-05-22 19:54] Scottmitch commented on #6767
Can you describe your issue, and the expected behavior. Connection reset may occur and even be expected in various scenarios.

[2017-05-22 19:57] Scottmitch commented on #6763
Can you provide more context, and some example code? How are you configuring your SslContext, what SslProvider are you using, etc...?

[2017-05-22 19:58] normanmaurer commented on #6768
@rkapsi will check

[2017-05-22 20:32] fenik17 commented on #6745
Found one more problem: a charset does not work as intended...
Code
[code]
return
[code]
I'll try to fix this too.

[2017-05-22 22:06] Scottmitch commented on #6645
Can you provide more context why you think this is a bug? The loose coupling with higher level logic that controls the pipeline contents seems like a feature. What if the handshake happens after the CorsHandler removes itself?

[2017-05-22 22:08] Scottmitch commented on #6768
thanks for reporting @rkapsi ... sounds like a bug to me

[2017-05-23 06:00] trustin opened #6770 "Channel.Unsafe.closeForcibly() fails for EpollSocketChannel if not registered to event loop"
### Expected behavior

`Channel.Unsafe.closeForcibly()` should close the connection immediately even if the channel is not registered to an event loop.

### Actual behavior

The connection is closed, but an exception is accompanied.
[code]

### Steps to reproduce

Accept an incoming connection from an epoll server socket and close the accepted connection using `Channel.Unsafe.closeForcibly()` befo

[2017-05-23 06:03] normanmaurer commented on #6770
@trustin does it fail with nio as well or only epoll ?

[2017-05-23 06:07] trustin commented on #6770
Epoll only. By the way, the connection seems to be closed because `socket.close()` is in the `finally` block. It raises an exception while trying to deregister.

[2017-05-23 06:10] normanmaurer commented on #6770
@trustin will check

[2017-05-23 06:12] trustin commented on #6770
Thanks, @normanmaurer !

[2017-05-23 13:27] normanmaurer commented on #6768
@Scottmitch @rkapsi I wonder what you think is the better option here. Throw an exception when calling add or just remove it directly after it is added automatically ? I guess 1) is better. WDYT ?

[2017-05-23 13:36] rkapsi commented on #6768
I'd go with Exception as well.

[2017-05-23 14:38] maseev opened #6773 "[Proposal] Keep information about the class/method that released the buffer"
From time to time you get this notorious `IllegalReferenceCountException` which basically means that you released the same buffer twice.

It can be a real pain in the neck to track down the method which released this particular buffer.
It's especially painful if you have a quite large pipeline and you're juggling with `ByteBuf` instances back and forth.

The exception itself tells only two things:

[2017-05-23 17:07] normanmaurer commented on #6768
@Scottmitch sounds good to you as well ?

[2017-05-23 17:10] Scottmitch commented on #6768
Exception should be fine (static exception?), hopefully we have been diligent in handling exceptions in cases where ReferenceCounted things are added to the pipeline :sweat_smile:

[2017-05-23 17:15] normanmaurer commented on #6768
@Scottmitch I think non static exception is better as I not expect this to be thrown often and it will be better to have some context

[2017-05-23 18:01] normanmaurer commented on #6745
Cool thx

[2017-05-23 19:01] normanmaurer commented on #6768
I will take care

[2017-05-23 21:36] NiteshKant commented on #6773
@maseev it looks like you are looking for the feature provided by `io.netty.util.ResourceLeakDetector`? [This wiki page](http://netty.io/wiki/reference-counted-objects.html#troubleshooting-buffer-leaks) details how to use it. Or am I missing something in your proposal?

[2017-05-23 22:40] Scottmitch commented on #6770
To clarify ... the issue is an exception is thrown, not that the channel isn't closed, correct?

[2017-05-23 22:43] Scottmitch commented on #6770
We need to deregister the channel to ensure the state of the EventLoop is correctly updated. Seems safe to ignore (or not generate) an expiation if the EventLoop is null in this case.

[2017-05-23 22:47] Scottmitch commented on #6770
just saw @normanmaurer's PR ... seems like we are on the same page 👍

[2017-05-23 23:45] trustin commented on #6770
Yes.

[2017-05-23 23:47] Scottmitch commented on #6773
This request sounds different than `io.netty.util.ResourceLeakDetector`. Instead of detecting things that aren't released (what `io.netty.util.ResourceLeakDetector` tries to do) this is requesting tracking call stack information when a buffer is actually released to help debug "double release" scenarios.

As you indicated I think the challenge here is balancing overhead introduced by the additiona

[2017-05-24 04:41] maseev commented on #6773
This feature can be implemented the same way as the memory leak detection subsystem. You pass a `-Dio.netty.leakDetection.level` option with the desired level and instead of receiving simple `PooledSlicedBuf` you start receiving `AdvancedLeakAwareByteBuf` instances.
But the end users won't notice any differences because they primarily work with a `ByteBuf` class. The similar approach can be used t

[2017-05-24 05:43] AshwinJay opened #6776 "ByteBuf's retainedSlice affects refCnt based on the ByteBufAllocator used"
### Expected behavior
`ByteBufAllocator.retainedSlice()` affects `refCnt()` inconsistently between `UnpooledByteBufAllocator` and `PooledByteBufAllocator`. This causes tests to break where reference counts of the bytebufs are being verified for leaks and tested against various allocators.

### Actual behavior
Here, `bb2 = bb1.retainedSlice()`. See attached JUnit test to reproduce the issue.
[code]

[2017-05-24 09:46] normanmaurer commented on #6770
@trustin ok le mt merge

[2017-05-24 12:18] normanmaurer commented on #6770
Fixed by https://github.com/netty/netty/pull/6772

[2017-05-24 12:18] #6770 closed

[2017-05-24 12:56] FelixMarcus commented on #6645
Sorry Scott, should have been clearer.

When I refer to a bug, I mean that the CorsHandler is throwing a NullPointerException that is being swallowed silently and is closing the handshake connection before it leaves the server pipeline. This is unexpected behaviour, it seems, whether the designers believe the `CorsHandler `and `WebSocketHandshakeHandler ` should be coexisting or not.

From my poin

[2017-05-24 13:09] normanmaurer commented on #6645
Can you show us the stacktrace of the NPE?

[2017-05-24 17:48] Scottmitch commented on #6773
Hum I don't have cycles to think too deeply about this problem but it would be nice to avoid introducing another layer of object allocations/wrapping and work out how this interacts with the leak detection layer. I don't see why having both on (leak detection and double release) simultaneously would logically be a problem ... more a question of how its implemented. I wonder if enhancing the leak d

[2017-05-24 19:01] AlexanderShniperson opened #6778 "Impossible to use Netty with Protobuf Lite"
### Expected behavior
project should run without any errors

### Actual behavior
runtime exeption ClassNotFoundException: com.google.protobuf.ExtensionRegistry
ProtobufDecoder have missed class definition at method:
public ProtobufDecoder(MessageLite prototype, ExtensionRegistry extensionRegistry)

### Steps to reproduce
implement the dependency to protobuf-lite:3.0.1

### Minimal yet complete rep

[2017-05-24 21:25] NiteshKant commented on #6776
Looks like the cause of this behavior is that `PooledByteBuf.retainedSlice()` always has the ref count as 1. Potentially due to [this line](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/AbstractPooledDerivedByteBuf.java#L66).

It looks like a bug to me. @Scottmitch may have a better idea whether it is as expected or not.

[2017-05-25 01:05] Scottmitch commented on #6776
The fact that reference count behavior is different between allocators for `retained*` operations is not a bug, and is intentional behavior. The API contract of `ByteBuf` does not say anything about reference counts of derived buffers being shared with there parent. We take advantage of this in the case of `PooledByteBufAllocator` to maintain a pool of derived buffers. If you want to validate refe

[2017-05-25 01:06] #6776 closed

[2017-05-25 01:16] Scottmitch commented on #6645
Swallowing a NPE sounds undesirable. If you could submit a unit test for this that would be great. I'm still not clear on the approach and the amount of coupling required. Are you are suggesting another handler todo the orchestration or is this something the Cors handler can do in isolation,  without prematurely removing itself in situations other than the one you describe?

[2017-05-25 01:36] maseev commented on #6773
This is probably the only way it can be implemented so that users could use this two features at the same time. At least, this is the only way I could come up with. Or it can be implemented as a separate feature (not an enhancement of the memory leak detection feature). But in this case, Netty would need to check what features are enabled and throw an exception if these two features were turned on

[2017-05-25 10:02] jprante commented on #6739
You really want to implement HTTP/0.9 from the era of before 1996, when almost no web browser worked correctly?

For example, Chrome removed HTTP/0.9 https://developers.google.com/web/updates/2016/09/chrome-54-deprecations#http09_deprecated

Please think twice before opening a can of worms.

[2017-05-25 14:01] rkapsi commented on #6739
Maybe augment [HttpVersion line 63](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/HttpVersion.java#L63) from throwing `IllegalArgumentException("text is empty")` to `IllegalArgumentException("text is empty, possibly HTTP/0.9")` and call it a day.

The confusing thing about this issue was that Netty was sending these `HttpRequestDecoder#createInvalidMe

[2017-05-25 15:10] normanmaurer commented on #6739
Sounds good... want to do a pr?

[2017-05-25 15:19] rkapsi commented on #6739
@normanmaurer sure, consider it done. :)

[2017-05-25 15:35] normanmaurer commented on #6739
👌

[2017-05-25 18:44] leopinho commented on #6695
I have the same problem when running websocket Netty 4.1 sample. After the handshake - as it doesn't return any data in the http response body - only headers
https://netty.io/4.1/xref/io/netty/example/http/websocketx/server/package-summary.html

[2017-05-25 18:58] leopinho commented on #6695
Netty 4.1.11 source code:

io.netty.handler.codec.EncoderException: MessageEncoder must produce at least one message.
	at io.netty.handler.codec.MessageToMessageEncoder.write(MessageToMessageEncoder.java:98)
        ...
	at io.netty.channel.AbstractChannel.writeAndFlush(AbstractChannel.java:296)
	at io.netty.handler.codec.http.websocketx.WebSocketServerHandshaker.handshake(WebSocketServerHandshake

[2017-05-25 23:45] fenik17 commented on #6745
Check please #6781.

[2017-05-26 05:12] normanmaurer commented on #6695
So you run just the sample and see this? Can you tell me the exact steps how to repro?

[2017-05-26 05:52] #6739 closed

[2017-05-26 05:53] normanmaurer commented on #6739
Fixed by https://github.com/netty/netty/pull/6780

[2017-05-26 05:55] maseev commented on #6773
Is there an extension point in Netty I could use to implement this functionality by any chance?

[2017-05-26 08:26] vietj commented on #6761
any news about this ?

[2017-05-26 09:39] Shorttail opened #6782 "GlobalEventExecutor short lived threads"
### Expected behavior
NioEventLoopGroup uses the thread pool it has been given.

### Actual behavior
A new thread is spawned every second, with a one second lifetime, named globalEventExecutor-1-x.

### Steps to reproduce
Start a server from a ServerBootstrap with a `new NioEventLoopGroup(1)` or `new NioEventLoopGroup(1, Executors.newSingleThreadExecutor())` as the group.

### Minimal yet complete

[2017-05-26 11:22] normanmaurer commented on #6761
Can you just create a PR for this change ?

On 26. May 2017 at 10:26:16, Julien Viet (notifications@github.com) wrote:

isContentAlwaysEmpty

[2017-05-26 11:45] vietj commented on #6761
sure I will

[2017-05-26 16:18] NSProgrammer opened #6784 "Netty force encodes already encoded responses"
### Expected behavior

Brotli content passes through with Content-Encoding being untouched

### Actual behavior

Content-Encoding changed to gzip and already encoded content (in brotli) encoded again with gzip

### Steps to reproduce

1) Encode response with Brotli
2) Set Content-Encoding to "br"

### Netty version

4.1.11

[2017-05-26 16:20] normanmaurer commented on #6784
Can you provide a reproducer / testcase?

[2017-05-26 16:22] NSProgrammer commented on #6784
Here's a unit test

https://github.com/netty/netty/pull/6785/commits/efebcc327ccb61876fb7e70c1ee7cf3ce65a6525

[2017-05-26 17:22] JanakiramanChandrasekran opened #6786 "java.nio.channels.ClosedChannelException"
Getting java.nio.channels.ClosedChannelException when calling the backend service in ssl way. When i connect through http of 8443, its working. Can you explain whats the issue and how to fix this?

  SslContextFactory sslContextFactory = new SslContextFactory();
        sslContextFactory.setKeyStorePath(keyStore);
        sslContextFactory.setKeyStorePassword("changeit");
        SSLEngineFactory

[2017-05-27 06:27] #6784 closed

[2017-05-28 12:37] fenik17 commented on #6745
There is one more question.. Why QueryStringDecoder treat double percent `%%` as escaping of the percent character? I could not find it in the RFC.. An URLDecoder from JDK throw an exception on a string containing `%%`.
Commit 1f1b8d83259398f236bc4bb99676243192f6dedd.
@tsuna can you clarify this, please?

[2017-05-28 18:04] tsuna commented on #6745
I don't remember why I added this.  Seems like it was intentional since there is a test case that specifically verifies this behavior, but it does look weird to me too now.

[2017-05-28 21:37] fenik17 commented on #6745
@tsuna thanks. I think we need to fix this too, for a more accurate match of [javadoc](http://netty.io/4.1/api/io/netty/handler/codec/http/QueryStringDecoder.html#decodeComponent-java.lang.String-java.nio.charset.Charset-):

I'm updated a PR.

[2017-05-28 21:55] fenik17 commented on #6745
related https://issues.apache.org/jira/browse/HDFS-7816 ...

[2017-05-29 06:06] kiransunkari commented on #5936
@honyee   how  did you solve this problem , the same problem arised in the production for us

[2017-05-29 10:17] philrykoff commented on #5070
RSV 4 seems to be connected to another issue: https://github.com/netty/netty/issues/5837.

[2017-05-29 10:21] philrykoff commented on #5070
I can reproduce this issue (wss over proxy => CorruptedFrameException: RSV != 0 and no extension negotiated, RSV:1) with VertX 3.3.3 which uses netty 4.1.5.Final.

From the comments, it looks like @normanmaurer has resolved the issue - but it is still open. Will this be merged or should it already be fixed?

[2017-05-29 10:38] fenik17 commented on #5070
Obviously, the fix was included in a later version [than 4.1.5](http://netty.io/news/2016/08/29/4-0-41-Final-4-1-5-Final.html).

[2017-05-29 11:07] wojciechkumon commented on #5070
I'm facing "io.netty.handler.codec.CorruptedFrameException: RSV != 0 and no extension negotiated, RSV:1" (vertx 3.4.1, wss over proxy), can I do anything or should I just wait for new version?

[2017-05-29 11:15] philrykoff commented on #5070
VertX 3.4.1 (which is the latest release of VertX) uses netty 4.1.8.Final (released Jan 2017).

It actually looks like the corresponding pull request https://github.com/netty/netty/pull/5329 was never merged.

[2017-05-29 11:25] wojciechkumon commented on #5070
Any chance to merge it and use in next release?

[2017-05-29 22:35] rkapsi opened #6789 "Native leak as of switch from TCN 2.0.0 to 2.0.1"
I've been trying to switch from Netty 4.1.9.Final w/ netty-tcnative 2.0.0 to 4.1.10.Final (actually 4.1.11 at this point) and netty-tcnative 2.0.1 but have run into something that appears to be a native memory leak.

I have git bisect'd it down to this 4bcfa07a7d8baae64998c97d4e35e3333dbbd727 commit. I don't think it's this change per se but that's when the TCN 2.0.0 to 2.0.1 switch happened.

Now

[2017-05-30 00:08] jchambers commented on #4625
I took an [initial stab](https://github.com/netty/netty/compare/4.1...jchambers:async_object_pool) at a generic, asynchronous object pool for funsies. I took Trustin's initial suggestion pretty literally, but found that performance wasn't quite where I hoped; with a single consumer thread performing acquire/release operations as fast as it can, I hit about 50,000 operations/second.

The strategy f

[2017-05-30 04:41] normanmaurer commented on #6789
Would it still be possible to get a heapdump? Any way to reproduce easily?

[2017-05-30 05:44] normanmaurer commented on #6789
@rkapsi another thing that strikes me as odd is that netty-tcnative should make no difference in how the native memory allocation are restricted. Did you try to set the leak detection to paranoid ?

[2017-05-30 09:21] normanmaurer commented on #6789
@rkapsi also just to clarify if you move one commit before https://github.com/netty/netty/commit/4bcfa07a7d8baae64998c97d4e35e3333dbbd727 all works and once you use https://github.com/netty/netty/commit/4bcfa07a7d8baae64998c97d4e35e3333dbbd727 it fails ?

[2017-05-30 09:23] normanmaurer commented on #6786
@JanakiramanChandrasekran as this is related to rxnetty I think you should ask on the tracker there.

[2017-05-30 09:23] #6786 closed

[2017-05-30 09:24] normanmaurer commented on #6763
@llname please re-open with more details and update your netty version to the latest one if you still think its an issue

[2017-05-30 09:24] #6763 closed

[2017-05-30 09:24] normanmaurer commented on #6732
@yusuftor can you provide a project which triggers this ?

[2017-05-30 09:25] normanmaurer commented on #6714
Let me close this for now as it seems to be a know "bug" in java-thread-affinity as @maseev pointed out

[2017-05-30 09:25] #6714 closed

[2017-05-30 09:26] normanmaurer commented on #6686
@onesimpledot please provide a reproducer if you still think this is a netty bug. Closing for now

[2017-05-30 09:26] #6686 closed

[2017-05-30 09:26] normanmaurer commented on #6663
@mkw ^^

[2017-05-30 09:28] normanmaurer commented on #6560
Closing this for now...  Please open again once you did the profiling andthink its really an issue

[2017-05-30 09:28] #6560 closed

[2017-05-30 09:28] normanmaurer commented on #6437
@meier-christoph ping

[2017-05-30 09:29] normanmaurer commented on #6509
Let me close this for now... We can re-evolate once we start working on next major version

[2017-05-30 09:29] #6509 closed

[2017-05-30 09:30] normanmaurer commented on #6405
@wangjianwen I will close this now as there is lack of feedback. If you still think there is an issue please add more details and re-open

[2017-05-30 09:30] #6405 closed

[2017-05-30 09:30] normanmaurer commented on #6296
@carl-mastrangelo I will close this for now. Please re-open if you still think there is an issue

[2017-05-30 09:30] #6296 closed

[2017-05-30 09:31] normanmaurer commented on #6272
@mosesn @Scottmitch can we close this one ?

[2017-05-30 09:31] normanmaurer commented on #6208
ok closing this now as fixed by #6157

[2017-05-30 09:31] #6208 closed

[2017-05-30 09:38] normanmaurer commented on #5646
I think because of maintainance we will not do this...

[2017-05-30 09:38] #5646 closed

[2017-05-30 09:53] normanmaurer commented on #6782
@Shorttail I can not reproduce... anything else I need to do beside starting the server ?

[2017-05-30 12:01] yusuftor commented on #6732
@normanmaurer Hi, yes I can provide a project. The code is private and hosted on bitbucket though as it's used for my company's app. Do you have a bitbucket email address? I can give you access to it.

[2017-05-30 13:08] rkapsi commented on #6789
@normanmaurer

regard heapdump: unfortunately no because of the PKI material it contains. I can share screenshots and numbers if you're interested in specific classes/objects but from what I've seen there is nothing really sicking out. I've also used YourKit's diff functionality to compare heap dumps of good and bad versions and they're pretty much the same in terms of JVM heap. I should also emph

[2017-05-30 17:23] rkapsi opened #6791 "io.netty.internal.tcnative.* classes bundled with netty-all JAR"
I believe none of the `io.netty.internal.tcnative.*` classes is supposed to be bundled with the netty-all JAR but they are...

[code]
... causing classpath problems if one is trying to use the netty-all JAR along with a custom TCN build.

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version

[2017-05-30 17:24] normanmaurer commented on #6791
@rkapsi will check

[2017-05-30 17:32] Scottmitch commented on #6789
@rkapsi - I took a glance at the diff between 2.0.0 and 2.0.1 and I think I found a leak. Can you verify that https://github.com/netty/netty-tcnative/pull/276 fixes your issue?

[2017-05-30 17:38] Scottmitch commented on #6778
We currently don't support proto 3.x (see https://github.com/netty/netty/issues/6742). Please submit a PR if this is important to you.

[2017-05-30 18:28] meier-christoph commented on #6437
@normanmaurer still here but not much time available, the hack with no unsafe worked for us and we didn't push it any further

[2017-05-30 19:12] Scottmitch commented on #6773
You may be able to create your own ByteBufAllocator and provide additional info as necessary.

[2017-05-30 19:14] normanmaurer commented on #6791
@rkapsi Please check https://github.com/netty/netty/pull/6793

[2017-05-30 21:20] floragunncom commented on #6571
Maybe related to https://github.com/netty/netty/issues/3318

[2017-05-30 22:24] Scottmitch commented on #6789
Fixed by https://github.com/netty/netty-tcnative/pull/276

[2017-05-30 22:24] #6789 closed

[2017-05-30 22:24] Scottmitch commented on #6789
Fix will be included in netty-tcnative 2.0.2

[2017-05-30 22:54] Scottmitch commented on #6272
IIUC ... @mosesn please re-open if I missed something

[2017-05-30 22:54] #6272 closed

[2017-05-30 22:56] Scottmitch commented on #6732
it would be preferable if there was a standalone (minimal to reproduce) project on GitHub (or publicly visible) which demonstrates the issue.

[2017-05-30 23:10] Scottmitch commented on #6571
@floragunncom - Please update your example and try the PRs as requested above. The smaller the size of each plaintext `write` the larger the overhead will be for TLS.

[2017-05-31 01:53] maseev commented on #6773
Should I submit a PR or you folks are not interested in such feature?

[2017-05-31 02:05] Shorttail commented on #6782
@normanmaurer I'm trying to reproduce it on a smaller scale, but I'm having trouble. Meanwhile, when is the GlobalEventExecutor supposed to be active?

[2017-05-31 05:26] normanmaurer commented on #6773
Yeah you can submit one.... if or if not it will be merged at the end depends of course

[2017-05-31 05:36] #6761 closed

[2017-05-31 05:36] normanmaurer commented on #6761
Fixed by https://github.com/netty/netty/pull/6788

[2017-05-31 05:39] #6791 closed

[2017-05-31 05:47] normanmaurer commented on #6768
Fixed by https://github.com/netty/netty/pull/6774

[2017-05-31 05:57] MadhuMalluri commented on #2341
Could you please let us know the issue that you faced? I am receiving similar error with my application

[2017-05-31 11:09] likaiwalkman opened #6794 "Leaked Connection handling"
### Expected behavior
        connections = right handled requests + abrupt connections
### Actual behavior
       connections = right handled requests + abrupt connections +1
### Steps to reproduce
       I used netty as http client, then I launched 1000 requests, in ChannelFuture(got from connect)'s handler
       it tells me 975 of them connected, 25 connection failed.
       When I got full an

[2017-05-31 11:45] normanmaurer commented on #6794
Please upgrade to latest netty version and five more informations. Also a reproducer is welcome

[2017-05-31 11:45] normanmaurer commented on #6782
@Shorttail it should mainly run when the EventLoop is terminated

[2017-05-31 12:07] veffen opened #6795 "JdkSslServer/ClientContext TLS protocol causes TLSv1 protocol only with IBM JVMs"
### Expected behavior

JdkSslServer/ClientContext should optionally allow to specify the PROTOCOL instead ot setting it hard-wired

### Actual behavior

JdkSslServer/ClientContext set the ssl protocol hard wired:

            static final String PROTOCOL = "TLS";

            SSLContext ctx = SSLContext.getInstance(PROTOCOL);

Setting TLS as protocol on IBM JVMs causes the IBM JSSE to set TLSv1 as

[2017-05-31 13:42] rkapsi opened #6796 "Recent commit breaks Mutual TLS"
Commit f20063d26b640cb4121e092b5a3a0bb4c0a10eb5 appears to break Mutual TLS in the sense that the connection just hangs. There're no Exceptions as far as I can tell and the only failure I'm getting is when the events in [SslHandler#channelInactive(...)](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L898) fire.

Interestingly, the problem occurs

[2017-05-31 13:45] normanmaurer commented on #6796
@rkapsi thanks for reporting.... I will have a look but if we can not borrow it down it may be the easiest to just revert the change. @Scottmitch WDYT?

[2017-05-31 13:47] grational commented on #1133
Please release this feature if possible: for what it is worth, this will avoid a massive rewriting of our microservices (our servers are currently migrating beyond a proxy). Thank you!

[2017-05-31 14:16] johnou commented on #6796
@rkapsi apologies for the hijack :stuck_out_tongue_winking_eye: @normanmaurer how's it looking time wise for the next tcnative / netty release to address the SSL fixes in particular the memory leak?

[2017-05-31 14:16] nitinlodhe commented on #4310
Hi Team - I am facing similar issue - raised it under
https://github.com/LogNet/grpc-spring-boot-starter/issues/42

Can you please guide me on this ?

[2017-05-31 14:18] nitinlodhe commented on #4310
I am using <version>1.3.0</version>

[2017-05-31 15:04] normanmaurer commented on #6796
@johnou very soon. That said the leak will only affect people who are creating and destroying `*OpenSslContext`objects very frequently. That should be very rare ;)

[2017-05-31 16:45] slandelle commented on #6796
Well, I am :)

[2017-05-31 20:23] Scottmitch commented on #6796
Thanks for reporting @rkapsi ... This interface is a bit fragile and I wouldn't expect calling `wrap` again to generate more data (considering the engine said it needed a unwrap). Do you see the same behavior with the JDK ssl provider, and would you be able to report some debug info on the status of the subsequent call to unwrap (see below). I want to make sure the issue isn't in the OpenSslEngine

[2017-05-31 20:51] Scottmitch opened #6797 "QueryStringDecoder and ByteBufUtil decoding hex string duplication"
QueryStringDecoder has methods which deal with decoding hex into bytes (e.g. `decodeHexByte`, `decodeHexNibble`) and `ByteBufUtil` has `decodeHexDump`. Can we share code between these two classes?

[2017-05-31 21:03] Scottmitch commented on #6795
Please specify your desired protocol on the SSLEngine, or update your Netty version and specify it on the `SslContextBuilder#protocols(...)` [1]. It is not clear there is any issue in Netty ... please provide a complete reproducer if you think there is an issue in Netty.

[1] https://github.com/netty/netty/blob/4.0/handler/src/main/java/io/netty/handler/ssl/SslContextBuilder.java#L409

[2017-05-31 21:03] #6795 closed

[2017-05-31 21:38] rkapsi commented on #6796
@Scottmitch I'll test JDK and the patch tomorrow.

[2017-06-01 03:36] ShawnZK opened #6798 "GlobalChannelTrafficShapingHandler causes CPU 100% while creating sockets at high speed"
### Expected behavior
No much influence to CPU usage.

### Actual behavior
100% CPU usage while creating/destroying sockets at speed of ~1000 per second.

### Background
We're trying to build a push platform with Netty.

The server holds around 150K keep-alive TCP connections and _**GlobalChannelTrafficShapingHandler**_ is added.

During the stress test, we created TCP connections by _**new Socket

[2017-06-01 05:30] likaiwalkman commented on #6794
this scenerio appears not regularly, when i got a way to make it occur regularly, i will create a git repo including detaled test case.

[2017-06-01 07:55] herusdianto opened #6799 "How to synchronous read response from server"
### Expected
Send command:
A
Response read:
AAAAA

Send command:
B
Response read:
BBBBB

### Actual Response
Send command:
A
Response read:
AAAAABBB

Send command:
B
Response read:
BB

### Netty Version
4.1.11.Final

### Java Version
openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-0ubuntu1.16.04.2-b11)
OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode

### O

[2017-06-01 13:02] rkapsi commented on #6796
@Scottmitch here are the results:

4.1.12-SNAPSHOT + OPENSSL: doesn't work
4.1.12-SNAPSHOT + JDK: works

4.1.12-HEAD w/ patch + OPENSSL: works

[code]

4.1.12-HEAD w/ patch + JDK: works

[code]

[2017-06-01 13:49] rkapsi commented on #6796
I should note that this is our Netty app (acting as client) trying to connect to something like Tomcat, Jetty using mutual TLS.

[2017-06-01 14:05] jknack opened #6800 "HttpPostMultipartRequestDecoder ignores content-type attribute for simple parts (no fileupload)"
### Expected behavior

Netty should not ignores content-type attribute for parts that are not file uploads.

### Actual behavior

Content-type isn't present in Attribute/HttpData/InterfaceHttpData

### Steps to reproduce

    curl -X POST -F "example={};type=application/json" http://localhost:8080

### Minimal yet complete reproducer code (or URL to code)

### Netty version
 - 4.1.11.Final

### Pr

[2017-06-01 14:26] normanmaurer commented on #6800
@jknack we can not add methods to Attribute as its an interface. That said if you want to do a PR we are happy review

[2017-06-01 14:43] jknack commented on #6800
I mean add the methods there and implement them in sub-classes :)

I'm happy to send a PR, if you are Ok with the proposed solution or let me know what else should do to fix it.

[2017-06-01 14:46] normanmaurer commented on #6800
@jknack the problem is that its an public interface so people could have implemented it, such we can not add methods.

[2017-06-01 14:47] jknack commented on #6800
perfect, were then?

[2017-06-01 17:23] Scottmitch commented on #6796
thanks @rkapsi ... so looks like the behavior of OpenSslEngine is not consistent with the JDK engine ... let me investigate. @normanmaurer - if this is holding up a release let me know and I can revert and work out alternative means of investigation.

[2017-06-01 22:32] Sammers21 opened #6802 "Not specified field in MQTT codec"
### Expected behavior
According to the [MQTT 3.1.1 spec](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/csprd02/mqtt-v3.1.1-csprd02.html), the variable header must not have a messageId in the variable header when publishing PUBLISH packet. It must have only these two: Topic Name and Packet Identifier.

### Actual behavior
In io.netty.handler.codec.mqtt.MqttPublishVariableHeader there are two fields a

[2017-06-01 22:43] Scottmitch commented on #6796
@rkapsi - I may have found a contributing factor contributing to the inconstant behavior in the OpenSslEngine ... can you run OpenSslEngine with PR https://github.com/netty/netty/pull/6803 and report the same log statements back?

[2017-06-01 23:13] Scottmitch commented on #6798
@fredericBregier - can you comment on this?

[2017-06-01 23:17] Scottmitch commented on #6799
Netty reads bytes from the network as they are available and supports a channel pipeline where you can decode these bytes. If your application needs to separate these messages you can insert a handler into the channel pipeline with knowledge of your application protocol. You can also create a custom `RecvByteBufAllocator` for more fine grained control over what data is read.

[2017-06-01 23:38] Scottmitch commented on #6802
@mousom - ping (for reference see [1])

@Sammers21 - You can see how PUBLISH is encoded here [2]. Do you think there is an issue with this?

[1] http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/csprd02/mqtt-v3.1.1-csprd02.html#_Toc385349775
[2] https://github.com/netty/netty/blob/4.1/codec-mqtt/src/main/java/io/netty/handler/codec/mqtt/MqttEncoder.java#L298

[2017-06-02 03:30] alexandnpu commented on #5707
Today I came to the similar stacktrace as yours. After some debugging, I found that it is due to the mismatch between your eventloop type and bootstrap channel type. You can try to give it a check.

Hope it helps.

[2017-06-02 05:15] normanmaurer commented on #6799
Closing as this is not an issue

[2017-06-02 05:15] #6799 closed

[2017-06-02 08:40] lsqlebai opened #6804 "JDKZlibEncoder or JDKZlibDecoder can't work correct with large data"
### Expected behavior
work
### Actual behavior
decode error(protobuf decode error)
### Steps to reproduce
i have 2 server. and them communicate with tcp.
and the pipeline init code double with them.
when the send data > 16000 byte (maybe less). the decode side can't correct decode (protobuf decode error).
### Minimal yet complete reproducer code (or URL to code)
decode error code:
Code:

        C

[2017-06-02 08:42] Sammers21 commented on #6802
@Scottmitch, After reading how to PUBLISH packet encodes I would assume that messageId in code is the same as Packet Identifier in spec. Maybe it would be better to rename messageId field into packetId?
Can I create PR?

[2017-06-02 09:15] normanmaurer commented on #6804
@lsqlebai can you please provide a full reproducer ? Also please update to latest netty version just to be sure.

[2017-06-02 09:30] lsqlebai commented on #6804
sorry the netty version is 4.1.6.Final

[2017-06-02 09:33] lsqlebai commented on #6804
@normanmaurer What would you want? my project is so large. maybe i can give u a demo when i free.

[2017-06-02 09:37] normanmaurer commented on #6804
@lsqlebai I want you to upgrade to latest 4.1. version and try again if it happens. If it still happens provide me some way to reproduce.

[2017-06-02 09:39] normanmaurer commented on #6802
@Sammers21 I think we can not rename interface methods as we otherwise would break user-code or you talking about something else ?

[2017-06-02 09:57] Sammers21 commented on #6802
@normanmaurer, yes, you are right, renaming of one of the fields would break user code. But in my point of view, fields should are named in the same way as it in a protocol otherwise it can be tricky for new users to understand what the field really mean.

[2017-06-02 09:59] zhou0061223 opened #6805 "java.net.SocketException: recvfrom failed: ETIMEDOUT (Connection timed out)"
FATAL EXCEPTION: nioEventLoopGroup-11-1
                                                                  Process: com.yuncun.smart, PID: 13783
                                                                  java.net.SocketException: recvfrom failed: ETIMEDOUT (Connection timed out)
                                                                      at libcore.io.IoBridge.maybeThrowAfterRecvfr

[2017-06-02 10:08] zhou0061223 commented on #6805
I try call the  Channel.close()  and then reconnect  sucess and it working normal

[2017-06-02 11:58] rkapsi commented on #6796
@Scottmitch here are the results for #6803

openssl_wrap_status w/ OPENSSL: works

[code]

openssl_wrap_status w/ JDK: works

[code]

[2017-06-02 14:41] Scottmitch commented on #6578
Note that https://github.com/netty/netty/pull/6803 may be released to this PR. After the next Netty release I would like to verify if we can now pull this optimization back in ... @fsareshwala would you run your original scenario again at this point to verify things still function as expected (I'll open a PR and ping you when ready)?

[2017-06-02 14:47] #6796 closed

[2017-06-02 14:49] Scottmitch commented on #6796
@rkapsi - Please re-open if PR https://github.com/netty/netty/pull/6803 didn't completely solve the issue.

[2017-06-02 16:14] Underbalanced commented on #6794
What threading and thread count are you using? I have had some issues that match your numbers when using 1 boss thread only, every 3rd connection would not complete.

[2017-06-02 16:21] Scottmitch commented on #6802
If you want to submit a PR to correct naming you can deprecate the existing accessors and refer to the new accessors (if you think its worth it).

[2017-06-02 16:23] Scottmitch commented on #6804
Ideally folks that file issues will provide a minimal/complete (so we can run it, but don't have to understand your entire application logic) ... the easier it is to reproduce the more likely we will be able to figure out the issue (assuming its a Netty issue) and fix it.

[2017-06-02 16:25] Scottmitch commented on #6805
Please update to the latest version of Netty, and provide a minimal yet complete way for us to reproduce the issue.

[2017-06-02 16:36] Scottmitch commented on #6578
@fsareshwala @nhnFreespirit - Can you please evaluate PR https://github.com/netty/netty/pull/6806 and report back if this issue still occurs?

[2017-06-02 17:23] Sammers21 commented on #6802
@Scottmitch , I have marked the old method with @deprecated  and opened PR. Check it out.

[2017-06-02 17:42] maseev commented on #6773
I will stick with [this](https://github.com/netty/netty/issues/6773#issuecomment-304978695) approach.

[2017-06-02 19:21] bryce-anderson opened #6808 "HttpContentCompressor/HttpContentEncoder should reset the content-length header for FullHttpMessages"
### Expected behavior
When the `HttpContentEncoder` is tasked with compressing a full `HttpMessage` that already contains a `Content-Length` header it should perform the compression and _adjust_ the `Content-Length`.

### Actual behavior
All messages compressed result in `Transfer-Encoding: Chunked` and don't have a `Content-Length` header.

### Minimal yet complete reproducer code (or URL to code

[2017-06-02 19:22] bryce-anderson commented on #6808
This appears to be a very deliberate behavior, but I don't see a reason other than for implementation convenience. I'm happy to take a look at this if you're willing to accept a patch.

[2017-06-02 22:25] Scottmitch commented on #6808
IIUC it was done out of convenience (not required ... chunked should be "semantically correct" in either case so no need for a specialization). However a PR to adjust `content-length` if full object sgtm.

[2017-06-02 22:26] likaiwalkman commented on #6794
I also used one boss thread, so you mean the reason is due to boss thread is not enough?
But I think no matter what happens, no matter what configuration you take, the API should go smoothly.Every request should have an end to tell final phased result -- final success or connection failed or half failed.

[2017-06-03 00:43] daemas opened #6810 "Cannot use slf4j's MDC with Netty"
### Expected behavior
Ability to use [Mapped Diagnostic Context (MDC)](https://logback.qos.ch/manual/mdc.html) after some tuning of NioEventLoopGroup.

### Actual behavior
Unable to subclass NioEventLoop (as it is a final class) to override execute(), submit() and schedule...() methods to save current MDC values into a Runnable/Callable, to restore them on the target thread.

### Netty version
4.0

[2017-06-03 16:55] bryce-anderson commented on #6808
@Scottmitch thanks for the quick reply. I've opened a PR, #6809, that preserves the `content-length` header for full responses.

[2017-06-03 17:29] Underbalanced commented on #6794
@likaiwalkman I am unsure if it is related. Would you add an extra thread to the boass thread group to see if it solves the problem?

[2017-06-03 19:17] nickwongdev commented on #6666
I'm new, but it seems to me like the problem might be dependency on ${env.JAVA_HOME}. They made a lot of changes to JAVA_HOME, and maybe this variable is no longer set?

https://issues.apache.org/jira/browse/MNG-6003

[2017-06-03 20:14] rkapsi commented on #6666
I had `JAVA_HOME` not set but doing so appears to make no difference. It's failing with the same error...

![screenshot from 2017-06-03 16-10-43](https://cloud.githubusercontent.com/assets/191635/26756728/46511172-4877-11e7-888a-f119ed7a1522.png)

... but given surefire is trying to execute `/bin/sh -c <bla bla bla>` it's entirely possible that the spawned env isn't properly setup.

[2017-06-04 06:08] likaiwalkman commented on #6794
I got the reason.Increase extra threads won't help.
The reason is due to too many request burst into os exceeding os's max file descriptor limit.
so I got exception saying"**too many open files**".
The code I run can be found in package singleport of my forked repo:
[](https://github.com/likaiwalkman/netty-in-action/blob/master/src/main/java/com/victor/client/api/singleport/HttpClientToSinglePort.

[2017-06-04 06:12] likaiwalkman commented on #6794
The final result are telling when "open too many files"exception is thrown, no event will be watched in the ChannelFuture's callback handler, exception happens when connect method is invoking.
Could all connect events be processed in ChannelFuture's callback handler? @normanmaurer
I will appreciate it if in that case.

[2017-06-04 08:33] lsqlebai commented on #6804
@Scottmitch @normanmaurer i wrote a demo, how can i give you? by email or???

[2017-06-04 08:42] evgenijvorobey opened #6812 "impossible to restore the order of parameters after using QueryStringDecoder"
### Expected behavior
Order of parameters at query string doesn't change

### Actual behavior
After using such classes as QueryStringDecoder the order of query string parameters changes

if any external library uses you decoder they will have a structure that will break the order of parameters
before:    param1=1&param2=2&param1=3
after:       param1=1&param1=3&param2=2

Is it so neccessary to use

[2017-06-04 12:24] floragunncom commented on #6789
will netty-tcnative 2.0.2 work with netty 4.1.11 ?

[2017-06-04 12:26] floragunncom opened #6813 "java.lang.OutOfMemoryError: Direct buffer memory (with tcnative)"
### Expected behavior
No java.lang.OutOfMemoryError

### Actual behavior

<pre>
[2017-06-02T11:00:00,021][WARN ][c.f.s.h.SearchGuardHttpServerTransport] [GtfsfZB] caught exception while handling client http traffic, closing connection [id: 0x23038e55, L:/172.16.0.1:9200 - R:/172.16.0.1:40464]
java.lang.OutOfMemoryError: Direct buffer memory
	at java.nio.Bits.reserveMemory(Bits.java:693) ~[?:1.8.0_

[2017-06-04 12:27] floragunncom commented on #6813
maybe related to https://github.com/netty/netty/issues/6789

[2017-06-04 14:02] rkapsi commented on #6813
@floragunncom does your Netty app create and destroy a lot of SslContext instances? The leak in #6789 is a bit of native memory that gets allocated when a SslContext gets created and then not freed when it gets Garbage Collected by the JVM.

[2017-06-04 15:23] kiransunkari commented on #6029
@craigw, iam also facing the same problem when I deployed in azure, how you solved the problem

[2017-06-04 15:33] craigw commented on #6029
@kirunsunkari I think you meant to tag @craigwu9 not me.

[2017-06-04 16:01] kiransunkari commented on #6029
@craigwu sry

[2017-06-04 16:17] floragunncom commented on #6813
no, its not creating a lot of SslContext instances, so seems unrelated to #6789

[2017-06-05 02:16] Shorttail commented on #6782
It would appear I was completely wrong. The setup with `new NioEventLoopGroup(2, Executors.newSingleThreadExecutor())` blocked somewhere internally and the Netty servers were never accepting clients. Setting the number of threads to 1 still yields the constant thread starting behavior.

@normanmaurer When you say the EventLoop is terminated, what does that mean? What event loop? Could I accidental

[2017-06-05 02:43] likaiwalkman commented on #6794
I launched 10000 requests, as I mentioned above, I changed the limit of open files number--**kern.maxfilesperproc=20480**.
I didn't catch exception again where connect method is invoked.
BUT, another thing happens: the **error** log count to 8846, **Ok** log count to 2208, they accumulated to 10854, though the **conns** log count to 9750.
10854 > 9750!!!
error:   printed where exceptionCaught is i

[2017-06-05 03:58] Shorttail commented on #6782
I found the culprit. Calling `ChannelGroup#writeAndFlush()` is what spawns all the extra threads. Replacing it with manually looping over clients removed the thread spam.

Is there a way to use `ChannelGroup` letting the same thread execute whatever it's executing instead of the `GlobalEventExecutor`?

[2017-06-05 04:04] #6782 closed

[2017-06-05 08:51] lsqlebai commented on #6804
@Scottmitch @normanmaurer would u please try this code:[https://github.com/lsqlebai/testzlib](url)

[2017-06-05 15:53] ejsfreitas opened #6815 "ChannelFuture stop awaitUninterruptibly causing deadlocks"
### Netty version
4.0.32.Final

### JVM version
1.7.0_80

### OS version
Red Hat Enterprise Linux Server release 6.7

I found a issue very similar with https://github.com/netty/netty/issues/3662 but using version 4.0.32.
I'm doing a awaitUninterruptibly and the thread hangs forever.

[code]
This happended on a production system and we were not able to gather alot of information.
We had some TCP is

[2017-06-05 16:32] Scottmitch commented on #6789
@floragunncom - Yes. IIRC we didn't remove/modify existing method signatures.

[2017-06-05 20:21] #6802 closed

[2017-06-05 20:31] Scottmitch commented on #6812
can you provide a link to the RFC which states the order of query params with independent names is significant? I didn't see anything in https://tools.ietf.org/html/rfc3986#section-3.4 which indicates there is any ordering requirements.

[2017-06-05 20:36] Scottmitch commented on #6813
- Can you provide a minimal/complete reproducer?
- Can you implement a [ByteBufAllocatorMetric.java](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/ByteBufAllocatorMetric.java#L18) and describe the consumption of memory over time (e.g. every X seconds)
- Do you set `io.netty.maxDirectMemory` or `-XX:MaxDirectMemorySize` and if so to what value(s)?
- Did your applicati

[2017-06-05 22:42] Scottmitch commented on #6804
I took a brief look. It seems like the issue is in this case the `JdkZlibDecoder` happens to break the decode up into 2 buffers and the `JZlibDecoder` decodes into a single buffer, and the `ProtobufDecoder#decoder` assumes all content is in the same `ByteBuf`. See https://github.com/netty/netty/pull/6816 for a PR which makes the two decoders consistent.

[2017-06-05 22:49] Scottmitch commented on #6815
There were some concurrency related fixes made to DefaultPromise in newer releases [1]. Please update to the latest Netty version and report back if you are able to collect more info.

[1] https://github.com/netty/netty/commit/c9a29c493b5380c187a87e8fd34cd66da98a43b4
[2] https://github.com/netty/netty/commit/453b9589885dfd1441c31a0436abb30694cdb49c

[2017-06-06 08:19] fenik17 commented on #6812
@evgenijvorobey what is your purpose of using a `QueryStringDecoder`? If you want to get original query string, just use `QueryStringDecoder.uri()`.

[2017-06-06 08:39] ramahmoo opened #6818 "Netty sends TCP-RST instead of TCP-FIN"
### Expected behavior
We are using netty for our Https server. We have a case where a client sends a Https Request and uses an Invalid Certificate for SSL Handshake. Server should send a Handshake Failure TLS Alert with 3-state TCP-FIN packet

### Actual behavior
Server sends a Handshake Failure TLS Alert but instead of TCP-FIN server sends a TCP-RST. The Server TCP-RST acts destructively because

[2017-06-06 09:17] evgenijvorobey commented on #6812
@fenik17, but i want to use Decoder but also to have possibility to restore the order of parameters.
@Scottmitch, i think that the decision to depend from order or not should depends from developers.

i found this when i looked through the [browsermob](https://github.com/lightbody/browsermob-proxy) code. i use it as proxy and found that the order of parameters will change if i use proxy. And if th

[2017-06-06 11:57] yaud opened #6819 "PoolThreadCaches aren't getting freed?"
### Expected behavior
PoolThreadCache should be freed when thread it is bound to terminates.

### Actual behavior
We observed off-heap memory leak in our application that is run in Spark 1.6.2 on Amazon EMR 4.8.0.
Analyzing driver's heap dump I noticed that PoolThreadLocalCache's caches counter doesn't decrease which makes me thinking that PoolThreadCache is not getting freed:
![image](https://clo

[2017-06-06 13:23] Hema-Chandra opened #6820 "Creating a session in Netty like in Mina"
I am new to Github and also to Netty. I am currently using netty 4.1.11. I also worked slightly with Mina package. In Mina whenever a client gets connected to a Server automatically a session is created. Is there anyway doing the same in Netty? I am working in Stocking market.As a result I need to connect to the Exchange market and get the data. For this I need to create a session. Is there anyway

[2017-06-06 13:52] normanmaurer commented on #6820
@Hema-Chandra what is a Session in mina ?

[2017-06-06 14:16] Hema-Chandra commented on #6820
Every time a client connects to the server, a new session is created on the server, and will be kept in memory until the client is disconnected. If you are using MINA on the client side, everytime you conect to a server, a session will be created on the client too.

A session is used to store persistent informations about the connection, plus any kind of information the client or the server might

[2017-06-06 14:21] normanmaurer commented on #6820
I guess `Channel.attr(...)` is what you are looking for to store stuff and then you would just use Channel.* or ChannelHandlerContext.* operations for write etc

[2017-06-06 14:21] #6820 closed

[2017-06-06 14:35] Hema-Chandra commented on #6820
Sorry, I didn't get you. Can you please provide an example. I have been searching for this from past 9 days

[2017-06-06 15:47] Scottmitch commented on #6818
Can you clarify what you mean here?

[2017-06-06 15:53] Scottmitch commented on #6812
Can you clarify what exactly is "broken"? What depends upon the order or query parameters and why can't you use `QueryStringDecoder.uri()` for your use case?

If there is no requirement to preserve order defined in any RFC your application shouldn't depend upon a 3rd party library providing this functionality. If you want/need this behavior (and it is not defined in an RFC) I suggest you implement

[2017-06-06 16:04] Scottmitch commented on #6819
4.0.29.Final is relatively old ([2015-06-23 04:44](https://repo1.maven.org/maven2/io/netty/netty-all/4.0.29.Final/)). Can you update to the latest Netty version? Also you may want to experiment with [io.netty.allocator.useCacheForAllThreads](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/PooledByteBufAllocator.java#L114) system property. This can limit the pool thread

[2017-06-06 16:17] ramahmoo commented on #6818
Netty server is sending TCP RST immediately after sending previous TLS Alert packet i.e it didnt wait for any acknowlegement of previous packet from receiver. So there is no guarrantee that receiver had received TLS alert or not.

[2017-06-06 16:18] Scottmitch commented on #6818
Why would TCP not deliver these packets in order?

[2017-06-06 17:13] normanmaurer commented on #6812
What @Scottmitch said

[2017-06-06 17:51] ramahmoo commented on #6818
It is not about order, Netty is not following 3/4 state TCP protocol after sending TLS Alert. It should not terminate the connection with TCP RST instead it should do gracefully with TCP FIN.

[2017-06-06 18:28] yaud commented on #6819
@Scottmitch unfortunately, I can not upgrade to a newer version of Netty as Spark on EMR comes bundled with it.
Also that property is not available in 4.0.29.Final.

[2017-06-06 18:29] normanmaurer commented on #6819
Then maybe you should create an issue in spark ?

On 6. June 2017 at 20:28:25, Yauheni Audzeichyk (notifications@github.com)
wrote:

@Scottmitch <https://github.com/scottmitch> unfortunately, I can not
upgrade to a newer version of Netty as Spark on EMR comes bundled with it.
Also that property is not available in 4.0.29.Final.

—
You are receiving this because you are subscribed to this thread.
R

[2017-06-06 18:31] normanmaurer commented on #6813
Also did you "stop" writing when the Channel become non writable ?

[2017-06-06 18:32] evgenijvorobey commented on #6812
1. `QueryStringDecoder.uri()` - why do you suggest me to use this method? as i can see from code:
[code]
this will return me query without any changes. So it is better to remove this Decoder at all.

2. I will try to explain the issue that i found:

Some days ago i found call that have the following parameters in query string: ad.=&name=nameValue&.ad=&a.=&name=nameValue&.a=&.....
after using brows

[2017-06-06 18:53] Scottmitch commented on #6818
I asked about ordering because IIUC you are saying that TCP will not deliver the TLS alert before the TCP RST?

Can you provide a reproducer unit test which demonstrates this issue? For example I run [SSLEngineTest#testMutualAuthInvalidIntermediateCAFailWithRequiredClientAuth](https://github.com/netty/netty/blob/4.1/handler/src/test/java/io/netty/handler/ssl/SSLEngineTest.java#L516) which should r

[2017-06-06 19:25] Scottmitch commented on #6812
I would expect a proxy should preserve the semantics of the protocol. This doesn't necessarily mean what comes in is exactly what goes out.

I will close this issue now. If you find a spot in the HTTP related RFCs which describes the behavior you request please re-open and provide a link.

[2017-06-06 19:25] #6812 closed

[2017-06-06 20:17] normanmaurer commented on #6808
fixed by https://github.com/netty/netty/pull/6809

[2017-06-06 20:17] #6808 closed

[2017-06-06 21:18] #6804 closed

[2017-06-07 01:10] ramahmoo commented on #6818
Actually this problem was reported as a bug by our customer. The complete wireshark trace does not show any receiver ack but only a sender TCP RST. If i run such a failed mutual auth with both client and server on windows machine then i see exactly same wireshark as you attached but if run it with server on linux and client on windows then i see the reported problem.

[2017-06-07 03:34] laosijikaichele opened #6824 "The import io.netty.util.collection cannot be resolved"
### Steps to reproduce
download zip source from https://github.com/netty/netty/archive/netty-4.1.11.Final.zip
### Minimal yet complete reproducer code (or URL to code)
import to eclipse, get error:**The import io.netty.util.collection cannot be resolved**
![image](https://user-images.githubusercontent.com/29225782/26861213-0220d5c2-4b75-11e7-8334-fa28b6d080bd.png)
I searched the source files, not

[2017-06-07 03:54] normanmaurer commented on #6824
These are generated during build, run:

mvn clean package

[2017-06-07 03:55] #6824 closed

[2017-06-07 06:43] yaud commented on #6819
@normanmaurer that was my initial thought. However, after reviewing Spark's sources I didn't find anything suspicious. They just create an instance of PooledByteBufAllocator and use it to bootstrap Netty channel.
I understand that I should try upgrading either Netty or Spark but it is not feasible in my case. Spark itself gives a little of control on this piece - I tried setting spark.shuffle.io.p

[2017-06-07 15:47] Scottmitch commented on #6818
Are you using the NIO transport or the EPOLL transport on linux (see http://netty.io/wiki/native-transports.html)?

[2017-06-07 15:48] Scottmitch commented on #6818
Also I still don't understand why is sending RST an issue in this case ... can you clarify?

[2017-06-07 16:07] Scottmitch commented on #6819
The issue may not be in spark, but in the older Netty version it is using. Many things have changed since the Netty 4.0.29.Final. Please work with the spark folks to update if you want support from the Netty community.

[2017-06-07 16:27] #6797 closed

[2017-06-07 20:54] zsxwing commented on #6819
I think this is probably #5833

By the way, Spark already updated to 4.0.43.Final on master branch.

[2017-06-08 02:07] ramahmoo commented on #6818
we are not using any native transport.

[2017-06-08 02:21] zhaopeizhi commented on #5278
I have recently encountered the same problem. I didn't use the Netty framework, but I have referred Netty's approach to solving this problem, that is, the rebuildSelector method.

It seems that this method does not work. Selector.select() function does not block and returns immediately. Also, rebuild the selector can not fix the problem.

After I restart the application, this problem may be hidden

[2017-06-08 06:58] yaud commented on #6819
@Scottmitch @zsxwing thanks! Fix for [#5833](https://github.com/netty/netty/issues/5833) is already included in Netty 4.0.42.Final which is used by Spark 2.1.0 so I ported our application to the latest Spark 2.1.1 and gave it a try. It's been running for 18 hours so far without any obvious off-heap leak.

Closing this thread as it looks like the latest Spark doesn't suffer from this issue anymore.

[2017-06-08 06:58] #6819 closed

[2017-06-08 07:35] normanmaurer commented on #6819
@yaud @zsxwing thanks a lot!

[2017-06-08 11:39] fian46 opened #6831 "FixedChannelPool throw java.lang.IllegalStateException: Channel is unhealthy not offering it back to pool"
Hi, i am trying to write some TCP stuff with FixedChannelPool. The documentation says i have to return any channel that borrow from pool even if the channel already dead, but when i do return the channel, FixedChannelPool throw java.lang.IllegalStateException: Channel is unhealthy not offering it back to pool.
Is this bug ?
if i don't release the channel to FixedChannelPool its never give any conn

[2017-06-08 13:51] QazPolma opened #6832 "Netty buffer options/childOptions speed impact"
Choosing option/childOption "incorrectly" for send/receive buffer in ServerBootstrap has a huge impact on speed. This is best seen when there is a significant latency(~300ms).
If I choose ServerBootstrap.childOption(ChannelOption.SO_SNDBUF,...) and/or ServerBootstrap.option(ChannelOption.SO_RCVBUF,...) it cuts the speed significantly for respective transfer direction.
If I reverse the option/child

[2017-06-08 17:48] normanmaurer commented on #6768
Reopen this one

[2017-06-08 18:05] Scottmitch commented on #6819
@yaud - great thanks for closing the loop!

[2017-06-08 18:23] Scottmitch commented on #6832
Can you please provide a reproducer?
What transport type are you using (NIO, EPOLL, KQUEUE)?
What network transport type are you using (TCP, UDP, etc..)?

[2017-06-09 08:48] QazPolma commented on #6832
Can I point to stackoverflow for reproducer? Code from the orginal [post](https://stackoverflow.com/questions/41463493/netty-serverbootstrap-option-or-childoption-and-its-buffer-size-impact-on-speed)
1. Take "ObjectEchoServerHandler.java" and "ObjectEchoServer.java"
2. Use the following 'args' parameters: {"sendToClient", "option", "1"}

Transport type NIO
Network transport type TCP

[2017-06-09 09:00] louxiu opened #6834 "Use of SCHEDULE_PURGE_INTERVAL"
I think the name of [SCHEDULE_PURGE_INTERVAL](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/concurrent/SingleThreadEventExecutor.java#L835) is misleading and I also doubt that whether `SCHEDULE_PURGE_INTERVAL` should be return if there is no scheduled task. Why not return a `MAX` value? Please take a look. @normanmaurer

[2017-06-09 20:26] marcuslinke opened #6837 "Symbol not found: _clock_gettime when using kqueue native transport on MacOS 10.11.6"
Tried  to use netty-transport-native-kqueue on MacOS 10.11.6 and got the following:

[code]

### Netty version
4.1.12.Final

### JVM version (e.g. `java -version`)
java version "1.7.0_80"

### OS version (e.g. `uname -a`)
MacOS 10.11.6 (El Capitan)

[2017-06-10 05:12] normanmaurer commented on #6837
Yes the transport only works on MacOS Sierra+

[2017-06-10 06:23] marcuslinke commented on #6837
@normanmaurer Is there any chance to get this compatible with El Capitan?

[2017-06-10 08:34] marcuslinke commented on #6837
I'm not a C developer but maybe this could be fixed by a simmilar workaround as described in https://github.com/pocoproject/poco/issues/1453?

[2017-06-11 08:27] marcuslinke commented on #6837
Also found this: https://github.com/jordansissel/xdotool/commit/9bc31403b95826d9fd8d6540c459ee862b2ac127

@normanmaurer @Scottmitch Would it be an accepted workaraound?

[2017-06-11 08:55] normanmaurer commented on #6837
@marcuslinke I will check next week when I have a few cycles. Stay tuned

[2017-06-11 12:19] eolivelli opened #6839 "Add a simple way to fallback to Nio if Epoll is not avaiable"
This is just a wish, Netty is exciting but I would like to make it more "confortable"

### Expected behavior
Actually there is some boilerplate code to write down if you want to use Epoll and fallback to Nio if Epoll is not available.
I would like to have some Netty-provided facility to boot with Epoll but automatically falls back to Nio

Examples:
you have to create a EpollEventLoopGroup and fall

[2017-06-11 12:32] fenik17 commented on #6745
@normanmaurer close this?

[2017-06-12 05:54] normanmaurer commented on #6834
@louxiu because we want to check again in `SCHEDULE_PURGE_INTERVAL` if there are some canceled scheduled tasks that we need to purge

[2017-06-12 05:56] louxiu commented on #6834
got it. Thanks

[2017-06-12 05:56] #6834 closed

[2017-06-12 07:54] asafm opened #6841 "Failed to use EpollEventLoopGroup in Alpine"
### Expected behavior
Can create a Netty based server using EpollEventLoopGroup in Alpine

### Actual behavior
Exception in debug:
[code]

### Steps to reproduce
This line of code fails ```new EpollEventLoopGroup(1)```

### Minimal yet complete reproducer code (or URL to code)
```new EpollEventLoopGroup(1)```

### Netty version
4.0.47.Final

Gradle dependencies used:
[code]

### JVM version (e.g.

[2017-06-12 07:56] normanmaurer commented on #6841
@asafm alpine is currently not supported as we depend on glibc here.

[2017-06-12 07:56] #6841 closed

[2017-06-12 08:54] niranjan-kachhawa opened #6842 "Netty IdleStateHandler doesn't work if bytes stuck in ReplayingDecoder"
### Expected behavior
It should close the channel after given expiry time in IdleStateHandler.

### Actual behavior
Doesn't close the channel if ByteBuf processing stuck in ReplayingDecoder

### Steps to reproduce
1. Given a string which have three fields : MacId, task, content but if we provide only MacId and Task then ReplayingDecoder hangs till he didn't received another chunk.

### Minimal yet

[2017-06-12 09:12] normanmaurer commented on #6831
@fian46 please check https://github.com/netty/netty/pull/6843

[2017-06-12 10:38] jacek- opened #6844 "DNS resolution in a Java Docker container fails"
Netty version: `4.1.12.Final`
Docker image: `openjdk:8-jre`

Context:
Running DNS resolution in a Java docker container fails. DNS resolution should complete successfully and return the IP address of the sibling docker container. Instead it throws the following exception:

    Exception in thread "main" java.util.concurrent.ExecutionException: java.net.UnknownHostException: failed to resolve 'reco

[2017-06-12 18:01] normanmaurer opened #6846 "Reconsider growing strategy in HpackHuffmanDecoder"
At the moment we just increase my intialCapacity but it may make sense to double it up to a certain size:

https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/HpackHuffmanDecoder.java#L237

[2017-06-12 18:07] Scottmitch commented on #6846
thanks for reporting @normanmaurer! My guess is this will have a measurable impact if the initial size is too small (currently defaults to 32).

[2017-06-12 18:24] normanmaurer commented on #6846
@Scottmitch agree... I would say we should double up to 512 bytes . WDYT ? I can do a pr

[2017-06-12 23:39] Scottmitch commented on #6837
Note that this is a duplicate of https://github.com/Scottmitch/netty/pull/1#issuecomment-290704233 and there is additional context explained there.

TLDR - transport-native-kqueue should compile against 10.11 but the artifacts we publish are built on 10.12 and we do not support linking to older macOS versions.

[2017-06-12 23:42] #6837 closed

[2017-06-13 00:12] Scottmitch commented on #6846
It will depend upon the use case but can we derive a guess from https://github.com/http2/http_samples or some other sample size? We can start with 512 or 1024 and refine later if you don't have much cycles to investigate.

[2017-06-13 00:50] Scottmitch commented on #6832
- `ObjectEchoServerHandler` writes a message in channelRead, and then adds a new listener which will send the same message again. There are a few instances with this:
  - the future will not be notified until the OS accepts all of the bytes ... it is expected that the time will increase as the OS buffers are reduced
  - if `msg` is reference counted (e.g. `ByteBuf`) then you will end up using a re

[2017-06-13 01:11] Scottmitch commented on #6839
PR are always welcome. Just keep in mind we can't break existing public APIs.

[2017-06-13 01:12] Scottmitch commented on #6745
fixed by https://github.com/netty/netty/pull/6781

[2017-06-13 01:12] #6745 closed

[2017-06-13 01:20] Scottmitch commented on #6842
are you interested in submitting a PR? I'm not sure who uses the ReplayingDecoder (/cc @trustin)

[2017-06-13 01:28] trustin commented on #6842
A user should place the `IdleStateHandler` before a decoder. This can happen to any decoder when `IdleStateHandler` is placed after the decoder. i.e. not a bug

[2017-06-13 01:37] Scottmitch commented on #6844
Can you describe in detail how this is done and what OS is running in the container? Assume we are not familiar with docker or your setup.

- Is this a unix based host? If so what is the contents of `/etc/resolv.conf` and `/etc/resolver`?
- Can you include a Wireshark dump of the DNS lookup done by the call to `InetAddress.getByName` and the call to `res.resolve`?

[2017-06-13 05:37] normanmaurer commented on #6842
@trustin +1 ... Let me just add this to the java docs

[2017-06-13 05:40] niranjan-kachhawa commented on #6842
@trustin  that's correct. This solved my issue. Thanks :)

[2017-06-13 05:40] #6842 closed

[2017-06-13 05:51] normanmaurer commented on #6842
@niranjan-kachhawa @trustin @Scottmitch FYI https://github.com/netty/netty/pull/6848

[2017-06-13 05:53] normanmaurer commented on #6846
@Scottmitch good idea... let me check

[2017-06-13 07:59] wilkinsona opened #6849 "4.1.12.Final bom uses 4.1.12.Final-SNAPSHOT for the version of netty-transport-unix-common"
### Expected behavior

The bom provides consistent versions for all of Netty's modules

### Actual behavior

netty-transport-unix-common is using a different (and snapshot) version

### Steps to reproduce

Import the bom and try to resolve netty-transport-unix-common from Maven Central

### Minimal yet complete reproducer code (or URL to code)

N/A

### Netty version

4.1.12.Final

### JVM version

[2017-06-13 08:50] wilkinsona commented on #6849
And now I've noticed that the module name's incorrect. I believe it should be `netty-transport-native-unix-common`. Sorry, if that's the case, I should have spotted it when reviewing https://github.com/netty/netty/pull/6740.

[2017-06-13 11:40] snicoll opened #6852 "Netty bom does not provide dependency management for netty-transport-native-epoll"
### Expected behavior

The bom provides consistent versions for all of Netty's modules

### Actual behavior

No dependency management for ` io.netty:netty-transport-native-epoll` is available, leading to a potential mismatch

### Steps to reproduce

Import the bom and try to resolve `netty-transport-native-epoll` without a version.

### Minimal yet complete reproducer code (or URL to code)

N/A

#

[2017-06-13 13:47] normanmaurer commented on #6849
Fixed by https://github.com/netty/netty/pull/6851

[2017-06-13 13:47] #6849 closed

[2017-06-13 15:55] Scottmitch commented on #6841
PRs are welcome if you can make the JNI code more cross platform ... of course it must still work on existing platforms

[2017-06-13 16:10] Scottmitch commented on #6852
Are you interested in submitting a PR?

[2017-06-13 16:10] Scottmitch commented on #6852
Oh I see PR https://github.com/netty/netty/pull/6853 now ... thanks!

[2017-06-13 16:49] #6750 closed

[2017-06-13 16:49] normanmaurer commented on #6750
Fixed by https://github.com/netty/netty/pull/681

[2017-06-13 16:52] normanmaurer commented on #6831
Fixed by https://github.com/netty/netty/pull/6843

[2017-06-13 16:52] #6831 closed

[2017-06-13 22:04] ashkanpaya88 commented on #6548
I get the same stack trace error on 4.1.11.Final

D 06-13 21:44:57.355 pool-1-thread-1 i.n.u.i.l.InternalLoggerFactory:71 |::] Using SLF4J as the default logging framework
D 06-13 21:44:57.363 pool-1-thread-1 i.n.u.i.PlatformDependent0:76 |::] -Dio.netty.noUnsafe: false
D 06-13 21:44:57.366 pool-1-thread-1 i.n.u.i.PlatformDependent0:71 |::] sun.misc.Unsafe.theUnsafe: available
D 06-13 21:44:57.366

[2017-06-13 23:06] Scottmitch commented on #6561
sgtm ... lets close.

[2017-06-13 23:06] #6561 closed

[2017-06-13 23:12] Scottmitch commented on #6548
@ashkanpaya88 - this doesn't look like the same stack trace to me. Please file a new issue with the relevant information (platform type / OS, etc..)

[2017-06-13 23:37] Scottmitch commented on #6571
I will close this issue for now as there are issues as identified above and suggestions made to improve the measurement. Feel free to re-open after the suggested approaches have been implemented and please report the specific impact and direction taken.

[2017-06-13 23:37] #6571 closed

[2017-06-13 23:42] ashkanpaya88 opened #6855 "java.lang.ClassNotFoundException: jdk.internal.misc.Unsafe"
### Expected behavior: No stack trace regarding this class

### Actual behavior:

[code]

### Steps to reproduce

We were using netty 4.0.x branch for long time and once we switch to 4.1.x, this stack trace appeared.

### Netty version: 4.1.11.Final

### Netty tcnative version: 2.0.1.Final

### JVM version (e.g. `java -version`)

openjdk version "1.8.0_121"
OpenJDK Runtime Environment (build 1.8.0

[2017-06-13 23:43] ashkanpaya88 commented on #6548
Sure, filed it here: https://github.com/netty/netty/issues/6855

[2017-06-14 01:29] ywu123 commented on #6454
Hi, I'm experiencing similar issue with netty 4.1.12, on macOS sierra, when binding to the loopback using ServerBootstrap.  After a few debugging, this seems to be related to ``defaultProcessId()`` in ``DefaultChannelId``, which takes longer than expected.

[2017-06-14 05:27] trustin commented on #4312
IIRC, channelReadComplete() was propagated regardless whether a decoder triggered channelRead() or not because there's no good place for a user handler to call ctx.read() when only a partial message has been received. Looking from the current ByteToMessageDecoder.channelReadComplete(), it seems to call ctx.read() automatically when autoRead is off, so there's no reason to propagate channelReadComp

[2017-06-14 05:28] trustin commented on #4312
So.. I'd say it's a cruft from the past.

[2017-06-14 05:53] normanmaurer commented on #4312
@trustin @Scottmitch yep.. Let me fix this

[2017-06-14 06:15] normanmaurer commented on #6855
@ashkanpaya88 ah this was fixed recently and is harmless:
https://github.com/netty/netty/commit/0ee49e6d668bd100320003b7d6b287bc289db28f

Upgrade to 4.1.12.Final and you will not see it anymore

[2017-06-14 06:15] #6855 closed

[2017-06-14 09:39] normanmaurer commented on #4312
@scf37 please check https://github.com/netty/netty/pull/6856

[2017-06-14 09:45] shumy commented on #6548
@normanmaurer PR? I didn't change anything on the Netty project, I just exposed the sun.misc package to the OSGi container.

[2017-06-14 09:46] asafm commented on #6841
After reading Norman tweets on coding in C and JNI, I'll just switch back
to Ubuntu :)
On Tue, 13 Jun 2017 at 18:56 Scott Mitchell <notifications@github.com>
wrote:

[2017-06-14 10:18] normanmaurer commented on #6841
@asafm lol all these fans 😆

[2017-06-14 10:52] normanmaurer commented on #6846
@Scottmitch here you go https://github.com/netty/netty/pull/6857. I think I will have not much time to long into it in more detail so I just used 1024 for now

[2017-06-14 13:00] scf37 commented on #4312
Hi guys, unfortunately so much time have passed I don't really understand changes and tests.

Initial issue was to make `channelReadComplete` under HttpRequestDecoder to behave according to javadoc:
`Invoked when the last message read by the current read operation has been consumed by channelRead`

Example:
- calling read(), upstream TCP handler reads byte array containing http request and part of

[2017-06-14 17:42] Scottmitch commented on #6846
1024 sounds like a good start to me ... we can revise/improve later if necessary.

[2017-06-14 18:10] Scottmitch commented on #6841
don't let @normanmaurer scare you ... C/JNI can be "fun" 😉

[2017-06-14 18:12] Scottmitch commented on #6454
Let me close this issue for now as I think with PR https://github.com/netty/netty/pull/6592 we should no longer require JDK DNS resolution as part of codec-dns's initialization

[2017-06-14 18:12] #6454 closed

[2017-06-14 18:27] normanmaurer commented on #6852
Fixed by https://github.com/netty/netty/pull/6853

[2017-06-14 18:27] #6852 closed

[2017-06-15 04:57] normanmaurer commented on #6846
Fixed by https://github.com/netty/netty/pull/6857

[2017-06-15 04:57] #6846 closed

[2017-06-15 11:28] QazPolma commented on #6832
Thank you for pointers on the implementation. I only fiddled with the methods until it started exibiting the same weird behaviour as the personal project, so did not put more effort.

The only reason I think that send buffer values are not applied is because when I set `ServerBootstrap.option(ChannelOption.SO_SNDBUF, 64 * 1024)` in `ObjectEchoServer` I get the following warning:

This warning does

[2017-06-15 13:56] jacek- commented on #6844
Hi,

Sorry for the delay. A minimal `docker-compose.yml` might be:

    version: "3"
    services:
      netty-host:
        image: openjdk:8-jre
        command: /bin/bash
        stdin_open: true
      recomp-hdb:
        image: openjdk:8-jre
        command: /bin/bash
        stdin_open: true

Given that you can start the composition like:

Use option `-d` to run containers in background, so yo

[2017-06-15 14:24] doom369 opened #6860 "Proposal: make SslHandler creation consistent with all other handlers"
Right now SslHandler creation look like this:

`pipeline.addLast(sslCtx.newHandler(ch.alloc()));`

However, it differs from the creation of all other handlers:

[code]

Shouldn't `SslHanlder` follow the same pattern:

`pipeline.addLast(new SslHandler(sslCtx));`

WDYT?

Not a big deal, but consistency is always good.

[2017-06-15 20:15] manish-striim commented on #5361
Hi Guys,

we are running into some Netty conflict issue...Can any of you please offer some guidance on how to resolve that?
https://discuss.elastic.co/t/netty-dependency-issue-with-elasticsearch-5-4/89120

Really appreciate your help!

Thanks,
Manish

[2017-06-15 21:33] ashkanpaya88 commented on #6855
Great, thank you!

[2017-06-15 23:03] Scottmitch commented on #5361
Netty 3 and Netty 4 are in different name spaces and therefore shouldn't conflict. I recommend you consume with the elastic search folks.

[2017-06-18 12:00] Cloud-Dragon opened #6863 "proxy not work when use ssl"
### Expected behavior
I am trying to implement like proxy , but a little difference. I get inbound bytebuf from server and change it into hex,the  another client get the hex string and change it into bytebuf ,write and flush it using a netty client.but can not get response. It is interesting when I debug with proxy example. Two ports was used for ssl handshark.

### Actual behavior

### Steps to r

[2017-06-18 13:14] Cloud-Dragon opened #6864 "why initial twice when proxy https in proxy example"
Run proxy example in netty source code, It is so wired that two ports are created to initial https connection.

_Netty version4.1.12-Final
java -version 1.8.0_101
OS version  win 10_

[2017-06-19 09:17] llname commented on #6763
SSL：TLSv1.2 TLS_DHE_RSA_WITH_AES_
io.netty.handler

[2017-06-19 09:42] songxin1990 opened #6865 "netty4.1.9.Final openjdk8 connection refused"
I use circleci to build my project:
https://circleci.com/gh/songxin1990/brave/4
When using openjdk8,it occurs something like this:
![buildresult](https://user-images.githubusercontent.com/6946828/27224949-74981a28-52ca-11e7-94c6-c4dd3bdffa08.png)

After i modifed circle.yml to oraclejdk8,all the test past and none error happend.
https://circleci.com/gh/songxin1990/brave/7

**So,there must be somet

[2017-06-19 11:22] johnou commented on #6763
Stab in the dark.. http://www.oracle.com/technetwork/java/javase/downloads/jce8-download-2133166.html

[2017-06-20 02:06] songxin1990 commented on #6865
@hepin1989  can you give me a hand?

[2017-06-20 06:12] louxiu opened #6870 "ByteBuf which contatins multi direct buffers(eg. CompositeByteBuf) needs no extra copy before send"
### Expected behavior
ByteBuf which contains multi direct buffers(eg. CompositeByteBuf) needs no extra copy in `filterOutboundMessage`. Related commit https://github.com/netty/netty/pull/6825

### Actual behavior
Extra copy is made with function `UnixChannelUtil#isBufferCopyNeededForWrite`

### Netty version
4.0.48

[2017-06-20 09:49] ramahmoo commented on #6818
Please see the following to understand why is sending RST an issue
https://docs.oracle.com/javase/8/docs/technotes/guides/net/articles/connection_release.html

[2017-06-20 23:51] Scottmitch commented on #4787
@normanmaurer - I think this was fixed?

[2017-06-20 23:53] Scottmitch commented on #4787
We did fix a leak related to LocalChannel in the HTTP/2 unit tests, but I'm not sure that will be applicable to gRPC. Because this issue is relatively old I will close it now ... please re-open this issue after updating to the most recent Netty version.

[2017-06-20 23:53] #4787 closed

[2017-06-21 01:12] Scottmitch commented on #6818
I understand the general differences between FIN and RST ... what I would like todo is understand how you are ensuring all application data has been sent/received before either peer closes.

Can you please update to the latest 4.1.x release (currently 4.1.12) and see if you are still able to reproduce?

Can you provide a reproducer to be sure we can running the same scenario as you. Please specify

[2017-06-21 01:28] Scottmitch commented on #6865
please isolate your issue into a unit test so we can take a look without digesting all of brave. also update to the latest Netty release (currently 4.1.12).

[2017-06-21 01:35] tomeara-quora opened #6880 "ttuubjge"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2017-06-21 01:36] #6880 closed

[2017-06-21 01:51] greenlaw110 commented on #4460
Kind of the similar issue happening on undertow:
https://stackoverflow.com/questions/44665552/undertow-xnio-i-o-thread-consistently-eat-cpu

[2017-06-21 02:01] Scottmitch commented on #6844
I wasn't able to reproduce ... please advise. I'm running Docker on MacOS 10.12.5.

#### pom.xml
[code]

#### DnsRepro.java

[code]

#### stdout
[code]

[2017-06-21 02:19] llname commented on #6763
YES，I have installed @johnou

[2017-06-21 05:56] johnou commented on #6763
As Scott mentioned please provide example client server code.

[2017-06-21 11:20] normanmaurer commented on #4787
@Scottmitch yeah I think this is fixed

[2017-06-21 13:36] jacek- commented on #6844
That's strange... I've copied and pasted your pom and code, built the jar, copied it to a newly started docker composition and it crashed as previously:

    root@0f7ab08fc39b:/# ping recomp-hdb
    PING recomp-hdb (172.20.0.3): 56 data bytes
    64 bytes from 172.20.0.3: icmp_seq=0 ttl=64 time=0.096 ms
    64 bytes from 172.20.0.3: icmp_seq=1 ttl=64 time=0.090 ms
    ^C--- recomp-hdb ping statist

[2017-06-21 18:35] rschmitt opened #6881 "HTTP/2 Prior Knowledge does not appear to work with Http2Codec and Http2ServerDowngrader"
### Expected behavior

The `CleartextHttp2ServerUpgradeHandler` should work with both HTTP Upgrade and Prior Knowledge when downgrading HTTP/2 requests internally.

### Actual behavior

HTTP Upgrade works, but not Prior Knowledge. In the latter case, nghttp reports: `(last_stream_id=0, error_code=PROTOCOL_ERROR(0x01), opaque_data(96)=[HTTP/2 client preface string missing or corrupt. Hex dump for r

[2017-06-21 19:32] normanmaurer commented on #6881
@Scottmitch can you take a look ?

[2017-06-21 21:03] Scottmitch commented on #6844
I was able to reproduce the issue on a Linux VM inside a docker container. See PR #6885 for a fix.

[2017-06-22 07:06] #6844 closed

[2017-06-22 09:46] jacek- commented on #6844
Thanks, I passed the details to Vertx team. Cheers, Jacek

[2017-06-22 10:16] craigwu9 commented on #6029
@kiransunkari no good solution yet, just ignore it and log to a specific log file.

[2017-06-23 03:21] luyuekai opened #6891 "io.netty.util.internal.InternalThreadLocalMap,memory leak"
### Expected behavior
No memory leaks occur
### Actual behavior
undeploy my web application.
### Steps to reproduce
I use elasticsearch jar  and it contains netty. when I close the ESClient in the  contextDestroyed, the Glassfish logs show severe error, as follows.
### Minimal yet complete reproducer code (or URL to code)
The web application [/service_generic_log] created a ThreadLocal with key of

[2017-06-23 08:57] lothbrok72 opened #6894 "channelInactive() not getting called when ctx.close() is called on the ChannelHandlerContext"
### Expected behavior
channelInactive() gets called when ctx.close() is called on the ChannelHandlerContext

### Actual behavior
channelInactive() does not get called when ctx.close() is called on the ChannelHandlerContext.

### Steps to reproduce
We have a test where we write invalid xml to a test channel. ctx.close() is called within exceptionCaught() and I would expect channelInactive to fire.

[2017-06-23 09:27] normanmaurer commented on #6894
@lothbrok72 can you come up with a test-case please ?

[2017-06-23 10:02] lothbrok72 commented on #6894
@normanmaurer Our current test case (Invalid XML file, should cause a connection exception and connection close)
- We write a file containing invalid xml to an EmbeddedChannel
- call poll() on the CollectingListener
- check that a connectionError has been thrown
- check that the connection has been closed i.e. channelInactive was called.

I can provide more code of out test setup if required.

Als

[2017-06-23 10:28] normanmaurer commented on #6894
So this happens with EmbeddedChannel correct? Like the ChannelHandler is in the pipeline of an EmbeddedChannel?

[2017-06-23 10:41] lothbrok72 commented on #6894
Yes it is an EmbeddedChannel:

    @Before
    public void before() {
        listener = new CollectingListener();
        sync = new SyncStreamRestart();
        Debugger debugger = new ConsoleDebugger();
        EventExecutorGroup listenerExecutor = ImmediateEventExecutor.INSTANCE;
        XmppPipeline xmppPipeline = new XmppPipeline(listener, sync, listenerExecutor, debugger);
        channel =

[2017-06-23 10:51] normanmaurer commented on #6894
@lothbrok72 can you also show me the `XmppPipeline` class ?

[2017-06-23 11:00] lothbrok72 commented on #6894
@normanmaurer of course:

public class XmppPipeline extends ChannelInitializer<Channel> {

    private final ConnectionListener eventListener;
    private final Debugger debugger;
    private final SyncStreamRestart sync;
    private final EventExecutorGroup listenerThreadPool;

    public XmppPipeline(ConnectionListener eventListener, SyncStreamRestart sync, EventExecutorGroup listenerExector) {

[2017-06-23 11:02] normanmaurer commented on #6894
Can I also see `XmppEventDispatcher `  :)

[2017-06-23 11:07] lothbrok72 commented on #6894
Here you go:

class XmppEventDispatcher extends ChannelInboundHandlerAdapter {

    private static final Logger LOG = MchLoggerFactory.getLogger(XmppEventDispatcher.class);

    private final ConnectionListener connectionListener;

    /**
     * @param connectionListener Listener to dispatch events to. If null, no events will be dispatched.
     */
    public XmppEventDispatcher(ConnectionListene

[2017-06-23 12:39] normanmaurer commented on #6894
@lothbrok72 please check https://github.com/netty/netty/pull/6897. This fixes the problem

[2017-06-23 13:45] zyhui98 opened #6898 "HttpPostRequestDecoder decode json error contains =and%"
### Expected behavior
decode right

### Actual behavior
io.netty.handler.codec.http.multipart.HttpPostRequestDecoder$ErrorDataDecoderException: Bad string: '%"}'

### Steps to reproduce
`

		LastHttpContent content = new DefaultLastHttpContent(
				Unpooled.copiedBuffer("{\"currentPage\":1,\"pageSize\":10,\"token\":\"9897c020356401a027bbd0df8ac40921\",\"reportItemName\":\"dfdfdfd =%\"}",
						Cha

[2017-06-23 14:54] fenik17 commented on #6898
I think, yours HTTP POST request is incorrect.. Looks like [testFormEncodeIncorrect](https://github.com/netty/netty/blob/0bc30a123e88bc7b038e0c260937581097a903f7/codec-http/src/test/java/io/netty/handler/codec/http/multipart/HttpPostRequestDecoderTest.java#L479).
This is variant works fine:

[code]

[2017-06-23 15:08] fenik17 commented on #6898
If you don't want to use `multipart/form-data` content type, and want use `application/x-www-form-urlencoded` instead, you should encode query params and values (e.g. through `QueryStringEncoder` or `URLEncoder`).

[2017-06-23 15:23] lothbrok72 commented on #6894
Great, thank you @normanmaurer

[2017-06-23 17:16] Scottmitch opened #6899 "Support Brotli"
We currently don't support Brotli decompression/compression but this would be a useful feature and we should add support for it.

[2017-06-23 17:17] Scottmitch commented on #6899
@NSProgrammer - You opened in issue in the past which mentioned Brotli [1]. Do you have support for it and would you be interested in submitting this to Netty?

[1] https://github.com/netty/netty/issues/6784

[2017-06-23 18:55] slandelle commented on #6899
@Scottmitch I was under the impression that Brotli was slow on compressing and fast on decompressing, so the typical use case was to compress offline and serve already compressed content, not compress on the fly. I guess that's what @NSProgrammer was trying to achieve.

I'm not sure it's worth trying to support on the server/compression side. On the contrary, it could be interesting to support on

[2017-06-23 20:36] Scottmitch commented on #6899
I clarified the title. The intention was to investigate supporting Brotli decompression/compression and not just compression.

However these things generally depend upon the content being compressed and the configuration of the compressor. Certain configuration levels of Brotli can actually provide a favorable throughput/compression ratio compared to gzip [1]. As always the advise would be "benchm

[2017-06-24 00:04] Scottmitch commented on #6891
Netty 3.x is EOL and no long supported. Please upgrade to Netty 4.1 and report back if the issue still persists.

[2017-06-24 00:19] jasontedor commented on #6891
That's not Netty 3, you can tell from the package name in the report.

[2017-06-24 00:30] Scottmitch commented on #6891
thanks @jasontedor I see the `io.netty.util` now ... knee jerk reaction for seeing netty-3.10.6 in the version description.

[2017-06-24 00:33] Scottmitch commented on #6891
@luyuekai  please provide a heap dump and/or a minimal reproducer.

[2017-06-24 03:11] NSProgrammer commented on #6899
I'm going to defer to Ben Leib for Netty integration convos (I can't find his github account to @ mention him).

I will say that we've measured a bunch and do think that with the 12 levels of compression for brotli that some of those levels are efficient enough to run on-demand in servers with native code (Java implementations just can't hack it).   There are definitely diminishing returns on smal

[2017-06-24 08:40] byzy opened #6901 "ClassNotFoundException: jdk.internal.misc.Unsafe"
### Netty 4.1.11.Final

### JVM version 1.7

### OS version Linux debian8 3.16.0-4-amd64 1 SMP Debian 3.16.43-2 (2017-04-30) x86_64 GNU/Linux

[code]
how will not find jdk.internal.misc.Unsafe class

[2017-06-24 08:46] normanmaurer commented on #6901
Fixed in 4.1.12

[2017-06-24 16:34] luyuekai commented on #6891
The  Netty is used in the thirty library(elasticsearch)， when I  call the function in elasticsearch to close its client, the exception will be thrown. And I have opened an issue about  it.
 https://github.com/elastic/elasticsearch/issues/25327  @Scottmitch  Thanks a lot!

[2017-06-24 16:43] luyuekai commented on #6891
Of course , I can ignore it for the moment. There is only little influence in my project. I want to know what makes this exception. Thanks again!

[2017-06-24 17:14] niranjan-kachhawa commented on #6839
I think there is a method to check if Epoll is available or not : `Epoll.isAvailable()`

[2017-06-25 04:30] Scottmitch commented on #6901
@byzy - Please update to 4.1.12. If the issue has not been fixed please re-open with new stack trace info.

[2017-06-25 04:30] #6901 closed

[2017-06-25 21:10] saamalik commented on #6841
Not probably _officially_ supported, but you can install the proper _glibc_ in Alpine:
[code]

Tested it with Playframework/Netty and it works good! However, most of us who're using _Alpine_ are doing so in _Docker_ containers (where the docker host VM is Linux--even on a Mac). Turns out that the performance difference between using _native_ and _jdk_ on Linux was very marginally in favor of nativ

[2017-06-25 23:27] saamalik commented on #6841
So actually it turns out that _netty_ with the _native_ transport is running perfectly fine in the latest alpine (3.6). This is without installing _glibc_ above and just using the default _musl_ libc. I have to do some more testing, but looks okay.

[2017-06-26 03:41] songxin1990 commented on #6865
@Scottmitch  Ok,I will first try to use 4.1.12,then write a standalone unit test

[2017-06-26 08:28] floragunncom commented on #6813
The error ist still there with 4.1.12 and tcnative 2.0.3 - will start investigating this now a bit more deeper. Its definitively related to the amount of data which is transferred. For small datasets it works well but if amount of data increases it fails.

[2017-06-26 20:52] ninja- opened #6905 "EventLoop selector poorly balances cpu usage on cpu cores"
Hi,

I've been thinking about how the EventLoop selector currently works for long-lived connections.
If we have an event loop group, the choosen eventloop for new connection is eventloops[counter++ % count].
If people start disconnecting, reconnecting etc...it can quickly get unbalanced and make CPU usage heavier than it should be...(over 100% usage of one core)
I think it may be the cause of some

[2017-06-26 21:05] bgleib commented on #6899
(Ben Leib here)

We have implemented both Brotli and Zstandard compression of on-demand REST API responses, but we ended up doing it at a higher level in the stack. This was faster for me largely just due to my being less familiarity with Netty code, but also because as @NSProgrammer mentions the Java implementation was too slow and pulling the JNI implementation into Netty looked iffy.

FWIW we h

[2017-06-26 22:44] Scottmitch commented on #6905
We currently don't keep a "number of connections per EventLoop" count, and I'm not sure we want/need this the core of Netty. I would recommend looking at `EventExecutorChooserFactory`. Unfortunately wrapping/extending implementations of `EventLoopGroup` and `EventLoop` can be challenging (see https://github.com/netty/netty/pull/4819).

[2017-06-26 22:46] Scottmitch commented on #6899
thanks @bfritz ... is there any interest in doing this at the Netty level and making a PR contribution?

[2017-06-26 23:05] ninja- commented on #6905
EpollEventLoopGroup has a map with channels, so it's epollEventLoop.channels.size();
It's hard to do even with reflection, because the EpollEventLoop class is final, so I'd have to do this at netty level.
EpollEventLoopGroup -> override next() -> iterate over each EpollEventLoop and choose the one with the last active channels

[2017-06-26 23:43] ninja- commented on #6905
Here's a ready POC, I am about to test it now.

[code]

[2017-06-27 05:29] yschimke commented on #2838
FWIW - this might have value https://tools.ietf.org/html/rfc7858

Specification for DNS over Transport Layer Security (TLS)

[2017-06-27 06:06] normanmaurer commented on #6905
@ninja- there is no need to do it in such a way. Just implement your own `EventExecutorChooserFactory` that keeps track of registered `Channel`s and based on this choose the `EventLoop`.

[2017-06-27 06:07] normanmaurer commented on #6870
This was merged

[2017-06-27 06:07] #6870 closed

[2017-06-27 06:08] normanmaurer commented on #6863
@Cloud-Dragon please provide some more details or a runnable reproducer. Without this it is hard to help

[2017-06-27 06:10] normanmaurer commented on #5430
Adjust ProtobufDecoder constructor: https://github.com/netty/netty/pull/6902

[2017-06-27 07:57] qwangseu opened #6906 "Exception occours if client sends reset frame while the server is sending headers"
when I use netty http2 to build a server, exception will occour if the client sents a reset frame to the server while the server is sending headers (netty version is 4.1.8.final),
[code]

https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2ConnectionEncoder.java#L156
when the server receives reset frame  it will remove the stream from the stre

[2017-06-27 08:02] twjitm commented on #6906
so do I,   How  are you to solve it?

[2017-06-27 08:50] normanmaurer commented on #6906
@ejona86 @nmittler @Scottmitch PTAL...

[2017-06-27 14:21] Scottmitch commented on #5430
### Investigate
- It is a common that users will either setup their pipeline once in a `ChannelInitializer` or potentially do a handshake and then the `ChannelPipeline` will not be modified after this point when the majority of data is exchanged. If `ChannelPipeline` (or some utility) supported making the  `ChannelPipeline` "read only" we may be able to use a data structure more friendly to iterat

[2017-06-27 16:25] testn opened #6909 "Typo? EpollSocketChannelConfig.setTcpKeepCntl"
https://github.com/netty/netty/blob/3cc405296310643bccddc8c81998c97f25b3201c/transport-native-epoll/src/main/java/io/netty/channel/epoll/EpollSocketChannelConfig.java#L420

shouldn't it be called setTcpKeepCnt?

[2017-06-27 16:31] johnou commented on #6909
yep but it's public so it cannot be changed until the next major version.

[2017-06-27 16:33] Scottmitch commented on #6906
It looks like we are sending GO_AWAY in this scenario ... can you confirm this @qwangseu? If so this is a bug.

[2017-06-27 16:34] normanmaurer commented on #6909
It can not be changed but we can add a new method and deprecate the old one... let me do in a few minutes

[2017-06-27 17:09] normanmaurer commented on #6909
Fixed by https://github.com/netty/netty/pull/6910. Please check

[2017-06-28 01:10] Zeymo commented on #6906
The same to me . I occurs when http2-client send RSTFrame(maybe time-out) as @qwangseu say

I seems http2-server must maintain stream **status** (like `create`,`done`) , when receive  _RSTFrame_ server must change **status** locked to `done` and don't remove from map until server write trailer which alway responsed according to the **status** ,then remove stream .This delete action can and must on

[2017-06-28 01:57] qwangseu commented on #6906
The client sends a request to the server but the server dose not response immediately，so the client sends a reset frame when timeout,  if then the server response the request, it will trigger the exception because the stream has been deleted from the streamMap and the netty will try to create a new stream。
https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/htt

[2017-06-28 02:47] Scottmitch commented on #6906
@qwangseu - yes I understand the sequence of events ... I was just confirming that the issue is there is a GO_AWAY being sent.

[2017-06-28 05:50] normanmaurer commented on #6909
Fixed by https://github.com/netty/netty/pull/6910

[2017-06-28 05:50] #6909 closed

[2017-06-28 05:51] qwangseu commented on #6906
It seems like that the modification can resolve this problem.

[2017-06-28 06:02] twjitm opened #6917 "how learn this netty"
i come china ,i am college student，i   lately learn this netty ,but i have issues,i holp anyone boss give suggests.thinks .

[2017-06-28 06:04] normanmaurer commented on #6917
@twjitm this is an issue tracker and not a mailinglist. Please check the links on https://netty.io

[2017-06-28 06:04] #6917 closed

[2017-06-28 07:56] johnwonder commented on #1731
i have this issue now ,

[2017-06-28 10:21] floragunncom commented on #6813
seem `-XX:+DisableExplicitGC` is causing the trouble (https://stackoverflow.com/questions/32912702/impact-of-setting-xxdisableexplicitgc-when-nio-direct-buffers-are-used) ... report back soon

[2017-06-28 10:35] gavenpeng opened #6919 "Netty 4.1.19 http encode header cost too many time reach 10ms"
### Expected behavior
I use netty send http request ,find cost too much time ,I  add log for the follower,found too many time is cost encode header part
### Actual behavior
[28 18:33:59,778 INFO ] [ioNioEventLoopGroup-Southgate-1-15] http.HttpObjectEncoder - Finish encode request initial line .......
[28 18:33:59,789 INFO ] [ioNioEventLoopGroup-Southgate-1-15] http.HttpObjectEncoder - Finish encod

[2017-06-28 10:43] normanmaurer commented on #6919
@gavenpeng if you have any idea howto improve let us know...

[2017-06-28 10:45] slandelle commented on #6919
Several comments:
* Never use `System. currentTimeMillis()` for measuring short durations: it's a wall clock that can drift and can be updated any time by NTP. With a fixed version of your sample using `System. nanoTime()`, I have a cost of 3ms.
* If you want to build microbenchmarks, use [JMH](http://openjdk.java.net/projects/code-tools/jmh/)

[2017-06-28 12:54] HyakYegoryaln opened #6920 "VCS problem"
Failed for the root '"Name" {instance id=24, parent internal id=4, parent id=citymobil_driver_android_CitymobilDriverAndroidDevelopment, description: "ssh://git@gitlab..."}: ssh://git@gitlab... Wrong passphrase for selected SSH key

[2017-06-28 12:55] normanmaurer commented on #6920
Not sure what this report is all about ?

[2017-06-28 13:13] slandelle commented on #6919
It looks to me most of the time spent in your sample is spent in initial class loading. On my machine, cost is down to 0.07 ms after first iteration.

[2017-06-28 16:06] #6906 closed

[2017-06-28 16:09] Scottmitch commented on #6905
We don't want to rely upon an implementation detail of `EpollEventLoop`, nor expose this detail. The other `EventLoop` implementations don't have a map, and we may eventually remove this map from `EpollEventLoop` in the future.

[2017-06-28 17:53] anton-tsiatsko opened #6921 "java.lang.IndexOutOfBoundsException: at org.jboss.netty.buffer.CompositeChannelBuffer.componentId(CompositeChannelBuffer.java:710)"
Hi Guys,
Can you please take a look at the following issue.

Im using Avro with Netty-server  for.  After updating version of avro 1.7.7 to 1.8.2 -> I'm getting error on server-side:

2017-06-28 10:30:00 INFO  NettyServer:171 - [id: 0xd7d41dd9, /10.0.2.15:44260 => /10.0.2.15:65123] OPEN
2017-06-28 10:30:00 INFO  NettyServer:171 - [id: 0xd7d41dd9, /10.0.2.15:44260 => /10.0.2.15:65123] BOUND: /10.0.

[2017-06-28 18:29] normanmaurer commented on #6921
@anton-tsiatsko hard to say but netty 3.x is EOL for a long time...

[2017-06-28 18:29] #6920 closed

[2017-06-28 18:30] normanmaurer commented on #6905
Exactly... Let me close this as I think it should be possible to implement something just on top of `EventExecutorChooserFactory` if needed.

[2017-06-28 18:30] #6905 closed

[2017-06-28 18:30] normanmaurer commented on #6898
As @fenik17  said... Let me close this

[2017-06-28 18:30] #6898 closed

[2017-06-28 20:49] ninja- commented on #6905
@normanmaurer  just fyi I tested the above code and it works perfectly. I just needed to change the lists to lazy-initialize as it's called inside constructor.

[2017-06-28 21:16] adleong commented on #3643
Hi @nmittler,

I believe that I'm running into this problem on netty-4.1.10.final.  The problem seems to be that we receive a RST_STREAM from the client as we're about to write a HEADERS frame to that stream.  Since the stream no longer exists, we attempt to create it which causes the `stream is not correct for server connection` error.

https://github.com/netty/netty/commit/ab925abc7db806ead57f8d

[2017-06-28 21:42] Scottmitch commented on #3643
Possibly related: https://github.com/netty/netty/pull/6916

[2017-06-28 22:09] adleong commented on #3643
@Scottmitch ah, yes, I think that's it!

[2017-06-28 22:39] fenik17 commented on #6919
@slandelle even `nanoTime` is not always good: https://shipilev.net/blog/2014/nanotrusting-nanotime/ ))

[2017-06-28 22:44] slandelle commented on #6919
@fenik17 I know, but that's the best we have :)

[2017-06-29 02:04] Scottmitch commented on #6905
Not that a better balancing scheme wouldn't be useful in some situations but I don't think it needs to be baked into the core if it can be accomplished via extensibility points.

[2017-06-29 02:22] Scottmitch commented on #6921
As @normanmaurer said 3.x is EOL. Please update or file an issue with avro to update and report back if a similar issue occurs.

[2017-06-29 02:22] #6921 closed

[2017-06-29 03:22] jianyuanzh opened #6925 "netty-all:4.1.12.Final resolve with IPV4_PREFERRED cannot resolve IPv6 addresses"
### Expected behavior
I have a dns configured with IPv6 address only. When construct the netty dns resolver, I choose IPV4_PREFERRED mode. From the comments, with this configure, resolver should be able to resolve out IPv6 address.

### Actual behavior
But the created resolver cannot resolve the dns which only has IPv6 address.

### Steps to reproduce
[code]

Notice, the domain here is not a real

[2017-06-29 05:06] betaxer opened #6926 "netty Dns resolver can not work properly with two dns servers when one of the dns server cannot work"
### Expected behavior
My device is configured with two dns servers:
[code]
Here, the 10.130.10.7 is a dead dns server, and with this configure, InetAddress.getByName() can resolve dns. I expect the netty resolver can work too.
### Actual behavior
But exactly, the netty resolver cannot work with this configure.

### Steps to reproduce
Add an invalid dns server to the dns server list. Or, specify Mu

[2017-06-29 08:03] ramahmoo commented on #6818
Application data is not a problem. The problem TCP protocol data.
I can try with 4.1.12. We are interested only on linux as written on this issue description.

I tried and here are my findings:

Http Protocol is handled by Netty.

This problem is reported by Customer when SSLHandshake failed, it is the Netty SslHandler which is closing the socket, so netty has to consume data from a socket before

[2017-06-29 10:05] normanmaurer commented on #6925
@slandelle can you have a look as you added this ?

[2017-06-29 10:09] slandelle commented on #6925
Sure. Travelling atm. Will have a look this weekend.

[2017-06-29 10:10] normanmaurer commented on #6925
@slandelle <3 Thanks buddy!

[2017-06-29 10:10] normanmaurer commented on #6926
@betaxer dead server means it will not respond at all ?

[2017-06-29 10:18] Scottmitch commented on #6925
Don't we have unit tests to cover this case (away from computer)?

[2017-06-29 10:18] normanmaurer commented on #6925
@Scottmitch I thought so... but maybe there is something wrong...

[2017-06-29 10:21] Scottmitch commented on #6926
Can you send a tcpdump or wireshark of the JDK resolution and Netty's resolution to clarify?

[2017-06-29 10:44] Scottmitch commented on #6818
You implied you were only seeing unexpected behavior when the client was on windows in https://github.com/netty/netty/issues/6818#issuecomment-306657202. Please clarify the scenario and provide a complete/minimal reproducer. Assume we know nothing about your use case or environment.

The SslHandler is decoupled from the protocol layer. If there is data pending to read on the local endpoint the sen

[2017-06-29 11:59] ramahmoo commented on #6818
The client on windows could be any Https client, has nothing to do with Netty. We are interested only how our Netty Based Https Server behaves. I already wrote in issue description the details about environment.

Reproducing the behavior is as follows:
- Setup a Netty Based Https Server and run it Linux machine, listening at certain port. Make sure that Server Keystore Certificate is trustable by

[2017-06-29 17:33] normanmaurer commented on #6919
Please reopen once you have a proper jmh benchmark ...

[2017-06-29 17:33] #6919 closed

[2017-06-30 06:21] txf7337 opened #6929 "lose data when send 100000 of syslog per second by UDP"
### Expected behavior
receive all of syslog
### Actual behavior
lose syslog when first time to receive
### Steps to reproduce
start app and use tool send data by udp
### Minimal yet complete reproducer code (or URL to code)
    private void initUDPServer() {
        final EventLoopGroup group;
        final Class<? extends DatagramChannel> datagramChannelClass;
        if (Epoll.isAvailable()) {

[2017-06-30 06:27] txf7337 commented on #6929
I try to use FixedRecvByteBufAllocator(65536) or set allocator.pageSize/marOrder/numDirectArenas,but not work

[2017-06-30 08:10] ramahmoo commented on #6818
Tried in an extended NioSocketChannel class the following,
[code]
Now can see the wireshark with graceful close.  This was just a dirty try.
Made test with two different clients and can see the result shown in wireshark snapshot
![image](https://user-images.githubusercontent.com/16151092/27726802-2ce054ea-5d7c-11e7-9448-f4915d3b40db.png)

[2017-06-30 08:36] normanmaurer commented on #6818
@ramahmoo did you just try to call `SocketChannel.shutdownOutput()` ?

[2017-06-30 09:11] ramahmoo commented on #6818
@normanmaurer shutdownOutput0(); is doing the same. Calling shutdownOutput() only also gives the positive results.

But it is a half close. See at end of
[https://docs.oracle.com/javase/8/docs/technotes/guides/net/articles/connection_release.html](https://docs.oracle.com/javase/8/docs/technotes/guides/net/articles/connection_release.html)
After calling shutdownOutput() the socket can be closed wit

[2017-06-30 11:02] dengly opened #6930 "LEAK: ByteBuf.release()"
### Expected behavior
[code]

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
netty-all-4.1.9.Final

### JVM version (e.g. `java -version`)
jdk-7u80-linux-x64

### OS version (e.g. `uname -a`)
centos 6.8

[2017-06-30 11:48] normanmaurer commented on #6930
From the log it looks like you missed to call release() on the object in your `RestfulServiceHandler`.

[2017-06-30 11:48] #6930 closed

[2017-06-30 22:20] abhijith-prabhakar opened #6931 "StackOverflowerror while using Netty v4.1.5+ with Spring"
Please follow this thread to get more info
http://activemq.2283324.n4.nabble.com/Artemis-v2-1-Spring-MessageListener-Netty-StackOverflow-td4728139.html

### Minimal yet complete reproducer code (or URL to code)
Since this is happening only on Solaris can't give a test code.

### Netty version
4.1.5+

### JVM version (e.g. `java -version`)
JDK8u121

### OS version (e.g. `uname -a`)
SunOS myhost 5.1

[2017-07-01 07:48] songxin1990 commented on #6865
holyshit,I  used a window's openjdk8 ,all the unit test passed.
then write a junit test with circle to build it, successed.
so it's not the openjdk8's problem.

[2017-07-01 07:49] #6865 closed

[2017-07-01 09:11] Bogdan55 opened #6932 "JVM version (e.g. java -version )"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2017-07-02 05:27] rschmitt opened #6933 "Netty 4.1 should support ALPN on JDK9"
This is obviously a known issue, but it's worth tracking. It may also be tricky to pull this off while compiling against JDK6; in particular, invoking `SSLEngine#setHandshakeApplicationProtocolSelector` requires passing a `BiFunction` implementation. I see a few ways of accomplishing this, assuming that calling this method turns out to be necessary:

1. Take advantage of [JEP 238](http://openjdk.j

[2017-07-02 08:42] floragunncom commented on #6813
After removing from the command line flags `-XX:+DisableExplicitGC` the `java.lang.OutOfMemoryError: Direct buffer memory`seems to be gone.

But unfortunately this is not really an option for us because in production we have no control over the JVM flags and so we have to deal with `-XX:+DisableExplicitGC`

`io.netty.maxDirectMemory` is not set explicitly and -XX:MaxDirectMemorySize is as much as

[2017-07-02 09:29] floragunncom commented on #6813
Pls download https://bintray.com/floragunncom/files/download_file?file_path=netty%2Fnetty-6813-1.tar.gz and extract it.

If you are on osx just run `bin/elasticsearch` and wait a few seconds than run in another terminal `./load_sampledata.sh` unitl you see a `java.lang.OutOfMemoryError: Direct buffer memory` in your first console (normally after one or two times).

If you are on linux look in `plu

[2017-07-02 14:18] Donaldhan opened #6934 "java.lang.AbstractMethodError: java.nio.channels.SocketChannel.bind"
my os is win10, jdk is 1.7.0.17,netty is 4.1.12. I try run the  MsgEchoServer/Client example in udt package,
then  MsgEchoServer is started, when start the MsgEchoClient,get this errror:

[INFO ] 2017-07-02 21:57:25 io.netty.handler.logging.LoggingHandler [id: 0xdf676102] REGISTERED
[INFO ] 2017-07-02 21:57:25 io.netty.handler.logging.LoggingHandler [id: 0xdf676102] CONNECT: /192.168.32.129:10020

[2017-07-02 22:02] fenik17 commented on #6934
Maybe related for #6146.

[2017-07-02 22:14] fenik17 commented on #6934
@Donaldhan just guessing.. Сan you decompile `SocketChannelUDT` class file from yours local jar file `barchart-udt-bundle-2.3.0.jar`? If there is no method `bind(final SocketAddress localAddress)`, maybe library builded for java 6.

[2017-07-03 02:19] Donaldhan commented on #6934
@fenik17
decompile result:
[code]
the bind method  exists

[2017-07-03 03:10] Donaldhan commented on #6934
i run the UDTClientServerConnectionTest in package testsuit, is right , but the test demo is to Verify UDT connect/disconnect life cycle with  UDT Byte Stream mode, no the UDT Message Flow.

and from NioUdtMessageConnectorChannel  source, is Deprecated, and  no longer maintained and will be removed, why remove in netty 4.1.12 ? the #6146 is in 20170120, and SocketUtils is commit , then
netty 4.1.1

[2017-07-03 03:58] dengly commented on #6930
Must each call release() on the bytebuf calss?

[2017-07-03 04:37] normanmaurer commented on #6930
Yes.

[2017-07-03 06:12] fenik17 commented on #6934
@tbrooks8 can you look?

[2017-07-03 08:27] betaxer commented on #6926
Hi, @Scottmitch , I have uploaded a wireshark capture files for both InetAddres.getByName and our netty dns resolve.
For JDK dns resolve, it will query both dns servers, but netty will query only one of the two dns server for every url

[dns_resolve.zip](https://github.com/netty/netty/files/1118894/dns_resolve.zip)

[2017-07-03 12:22] ramahmoo commented on #6818
@normanmaurer Is someone working on this?

[2017-07-03 12:41] ninja- commented on #6818
what client are you testing with?

[2017-07-03 13:21] ramahmoo commented on #6818
I tested with two clients: 1). Jmeter(as client) and  Apache Https Client
You can test with any other client.

[2017-07-03 14:09] mbukosky commented on #6931
+1

[2017-07-03 16:06] #6932 closed

[2017-07-03 16:42] Scottmitch commented on #6929
please provide a complete/minimal reproducer and explain all steps required to reproduce.

[2017-07-03 16:59] chhsiao90 commented on #6881
I think I can take a look for this issue!

[2017-07-03 17:08] normanmaurer commented on #6881
@chhsiao90 <3... That would be awesome.

[2017-07-03 20:13] yawkat opened #6936 "Binary incompatibility with netty 4.0.*"
Continuing the [discussion on the commit that broke this](https://github.com/netty/netty/commit/9a7a85dbe54f8ec7cddef8721f720feaeb7a16c9#commitcomment-22894711).

### Expected behavior
Code compiled against netty 4.0.* should run fine with a later runtime.

### Actual behavior
Classes compiled against 4.0.* methods using `ByteBufProcessor` produce `NoSuchMethodError`s since they were migrated to `

[2017-07-03 23:07] Scottmitch commented on #6926
@betaxer - There were a few issues. See PR https://github.com/netty/netty/pull/6937. However using `MultiDnsServerAddressStreamProvider` will not give you the expected results. You should use something like `SequentialDnsServerAddressStreamProvider`. `DnsServerAddressStreamProvider` is expected to return the `DnsServerAddressStream` which should be used for a query, and only a single one will be u

[2017-07-03 23:19] Scottmitch commented on #6936
This is expected. We have not historically guaranteed binary compatibility [1]. Please recompile.

[1] http://netty.io/wiki/new-and-noteworthy-in-4.1.html#tldr

[2017-07-03 23:27] Scottmitch commented on #6931
If I'm following the SO thread correctly the diagnosis seems to imply that the issue lies with the usage of `PlatformDependent.newConcurrentHashMap` [1]? Can you produce a unit test involving this collection (or any other minimal reproducer) which fails unexpectedly on your platform? I don't even see any Netty methods in the stack traces you provided.

Note that [PlatformDependent.newConcurrentHas

[2017-07-04 05:52] slandelle commented on #6931
@abhijith-prabhakar Your stacktrace doesn't look like an infinite loop. Isn't it just that stack size is too small? Have you tried increasing Xss?

[2017-07-04 05:56] dengly commented on #6930
thanks

[2017-07-04 06:42] yawkat commented on #6936
That makes using libraries using netty (such as the mongo java driver, vert.x, apparently even spring) much more difficult. Can you add a more visible note on your website saying so then? It can be very difficult recompiling libraries for a project because there is a version conflict (that's how I found the issue in the first place).

[2017-07-04 06:49] krzys6301 opened #6938 "An existing connection was forcibly closed by the remote host #6426"
### Expected behavior
the exception not thrown

### Actual behavior
throws IOException that the remote hos is forcibly closing connections:

java.io.IOException: An existing connection was forcibly closed by the remote host
    at sun.nio.ch.SocketDispatcher.read0(Native Method)
    at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:43)
    at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.j

[2017-07-04 08:00] txf7337 commented on #6929
the tool is writed by language c, and not mine.
is somewhere alloc memory not fast,so rewrited and no error log

[2017-07-04 10:17] betaxer commented on #6926
@Scottmitch , thanks. Using MultiDnsServerAddressStreamProvider works for me as a workaround.

[2017-07-04 15:05] senthilec566 commented on #327
Looks like in recent version netty also has same issue !

OS :
Ubuntu 14.04.5 LTS (GNU/Linux 3.13.0-121-generic x86_64)

Java:
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

CPU Usage:
ps -o '%cpu,%mem' -p 2023
%CPU %MEM
 287  7.9

Netty Version:
<netty-version>4.1.12.Final</netty-version>

jstack

 "

[2017-07-04 15:46] senthilec566 commented on #327
@normanmaurer - is this issue still exist in 4.X ??

[2017-07-04 16:02] doom369 commented on #327
@senthilec566 are you sure you have 4.1.12.Final? These lines numbers don't seem to be from 4.1.12.Final.

[2017-07-04 16:46] senthilec566 commented on #327
@doom369  -  Yes , doubled checked the jar ..

cat pom.properties
#Created by Apache Maven 3.3.9
version=4.1.12.Final
groupId=io.netty
artifactId=netty-all

ps -o '%cpu,%mem' -p 6696
%CPU %MEM
 449  8.2

epollEventLoopGroup-3-13" #25 prio=10 os_prio=0 tid=0x00007fcc3804e800 nid=0x1a6a runnable [0x00007fcc42dcb000]
   java.lang.Thread.State: RUNNABLE
	at io.netty.channel.epoll.Native.epollWait0(Nat

[2017-07-04 16:48] normanmaurer commented on #327
Can you please attach a profiler snapshot ?

[2017-07-04 21:50] tbrooks8 commented on #6934
This is the same case as the `NioUdtByteConnectorChannel`. SocketChannelUDT does not have the java 7 `bind()` method. It will need the same thing [workaround](https://github.com/netty/netty/blob/4.1/transport-udt/src/main/java/io/netty/channel/udt/nio/NioUdtByteConnectorChannel.java#L198) as `NioUdtByteConnectorChannel`.

It has a `bind` method with an identical signature. But it was compiled for

[2017-07-04 22:30] fenik17 commented on #6934
@tbrooks8 thanks!

@Donaldhan I think it will help: #6940.

[2017-07-04 22:34] fenik17 commented on #6934
Note that udt transport is deprecated atm: #6471

[2017-07-05 04:43] Donaldhan commented on #6934
@fenik17
@tbrooks8
thanks

[2017-07-05 05:36] normanmaurer commented on #6934
Fixed by https://github.com/netty/netty/pull/6940

[2017-07-05 05:36] #6934 closed

[2017-07-05 06:38] normanmaurer commented on #6864
@Cloud-Dragon most likely there are two connections made. Please log how often `channelActive` is called or use something like wireshark / tcp dump

[2017-07-05 06:38] #6864 closed

[2017-07-05 06:40] normanmaurer commented on #6832
@QazPolma this log did not show up in earlier releases as that was a bug that was fixed. You want to set it on the child Channel via `childOption(...)`

[2017-07-05 06:46] normanmaurer commented on #6818
@Scottmitch @trustin I wonder if we should use a combination of `closeOutput()` and `close()` if the `Channel` is of instance of `SocketChannel`. Or add an `ChannelOption` that will tell the `SocketChannel` impl if `Unsafe.close()` should only call `close()` or `closeOutput()` and `close()`.

[2017-07-05 07:00] senthilec566 commented on #327
<img width="1230" alt="screen shot 2017-07-05 at 12 29 29 pm" src="https://user-images.githubusercontent.com/1868931/27852655-a2162140-617d-11e7-98f2-107c8f96e82e.png">

@normanmaurer  - Attached SS for your reference ...

[2017-07-05 07:03] normanmaurer commented on #327
@senthilec566 can you attach a jmh / your kit profile ?

[2017-07-05 07:59] senthilec566 commented on #327
[snapshot.zip](https://github.com/netty/netty/files/1123885/snapshot.zip)

Attaching YourKit SnapShot.. Hope this helps!

[2017-07-05 09:07] senthilec566 commented on #327
Dead Lock :-(..

Potential deadlock: frozen threads found

It seems that the following threads have not changed their stack for more than 10 seconds.
These threads are possibly (but not necessarily!) in a deadlock or hung.

epollEventLoopGroup-2-1 <--- Frozen for at least 58m 12s
io.netty.channel.epoll.Native.epollWait0(int, long, int, int) Native.java (native)
io.netty.channel.epoll.Native.epollW

[2017-07-05 09:08] senthilec566 commented on #327
@normanmaurer  - Any work around for this ? Should i try old version of Netty  ??

[2017-07-05 09:26] slandelle commented on #6925
I've tried to reproduce, with no luck so far:
* modify `TestDnsServer` so it doesn't return A records (remove [those lines](https://github.com/netty/netty/blob/4.1/resolver-dns/src/test/java/io/netty/resolver/dns/TestDnsServer.java#L277-L279))
* run `mvn -Dtest=DnsNameResolverTest#testResolveAorAAAA test` on `resolver-dns` module

=> test passes

I don't have a real world IPv6 only domain at hand,

[2017-07-05 13:08] chhsiao90 commented on #6881
Here is my finding, I think it's a little hard to be fixed.

#### For Conclusion
Currently, ```CleartextHttp2ServerUpgradeHandler``` cannot work well with ```Http2Codec```.

#### How CleartextHttp2ServerUpgradeHandler Works
```CleartextHttp2ServerUpgradeHandler``` will peek the first 24 bytes to see that it's HTTP2 preface or not, and then it will remove it from the pipeline so that the inbound by

[2017-07-05 13:11] #6926 closed

[2017-07-05 14:24] abhijith-prabhakar commented on #6931
Is there any preferred way to give a test case?  I am thinking of just giving a vagrant file and write a simple spring boot app to replicate.

@slandelle The memory is 2G which I thought should be sufficient.  I do see infitine loop trying to load same class.  May be I am missing something.

@Scottmitch  It is starting from `io.netty.util.AttributeKey.valueOf()` [1]  method.

[1] https://github.co

[2017-07-05 14:40] Scottmitch commented on #6929
In general please be more specific about your description. We are not aware of any context that you operate in nor the conditions which lead to this issue.

What tool are you talking about, and why do we need the source code for this tool?

In Netty or in this tool?

Does this mean you resolved the issue and we can close this?

[2017-07-05 14:43] slandelle commented on #6931
This is your total heap size. It has nothing to do with your stack size, which is controlled by the Xss JVM option.

Where do you see that? It looks to me your Thread was able to reach `ZipCoder` but then hit your configured Xss.

Try increasing your Xss.

[2017-07-05 15:46] Scottmitch commented on #6818
@ramahmoo - From a server perspective sending a RST sounds like expected behavior when there is unread data pending. I would expect the RST packet to be properly sequenced and delivered in order relative to the TLS alert. The client should be able to read this alert regardless of how the connection is closed (or not closed). Your initial Wireshark screenshot seems to demonstrate the ordering of ev

[2017-07-05 15:55] Scottmitch commented on #6931
If it is self contained you can paste it in this issue. If not just create a minimal java project, put it on GitHub, and provide a link in this issue. However before you do this please try increasing [Xss](https://docs.oracle.com/javase/8/docs/technotes/tools/windows/java.html) as recommended by @slandelle ... looks like most of the stack trace is in the class loader.

[2017-07-05 16:21] Scottmitch commented on #6938
Can you please translate the exception to English?

Possibly unrelated but the way you use `ThreadLocal` in `TimeClientHandler` doesn't seem right. There may be multiple instances of `TimeClientHandler` per thread.

Your backlog is 128 ... how do you control back pressure for accepting new sockets? It could be that you are creating connections faster than the server can keep up.

[2017-07-05 17:58] krzys6301 commented on #6938
The exception in english is: An existing connection was forcibly closed by the remote host
When i've changed the BACKLOG from 128 to 65536 the exception still occured.
I understand that I could create the connections faster than the server could accept, but the exception is about "existing connection was forcibly closed by the remote host". What this BACKLOG option is for? I found nothing about it

[2017-07-05 18:03] Scottmitch opened #6946 "SslHandlerTest#testCompositeBufSizeEstimationGuaranteesSynchronousWrite failure"
Discovered while building PR https://github.com/netty/netty/pull/6944.

https://garage.netty.io/teamcity/viewLog.html?buildId=21865&buildTypeId=pulls_netty&tab=buildLog#_focus=39163
[code]

[2017-07-05 18:07] Scottmitch commented on #6946
Commits were added to increase visibility for this issue:

4.1 (4d51eca21) 4.0 (1902cd4b1)

[2017-07-05 18:10] normanmaurer commented on #6946
Thanks

[2017-07-05 20:46] kevinoliver opened #6947 "HashedWheelTimer does not always respect maxPendingTimeouts"
### Expected behavior

HashedWheelTimer should respect the `maxPendingTimeouts` parameter.

### Actual behavior

When the value is unlimited (e.g. `<= 0`), users can still hit an `java.lang.IllegalStateException: Queue full` from the underlying Queue which comes from `PlatformDependent.newMpscQueue()` in the constructor.

### Steps to reproduce

Create a HashedWheelTimer with unlimited `maxPending

[2017-07-05 20:47] kevinoliver commented on #6947
I think we can address this, at least partially, by delaying creation of the MPSC queue and passing it the `maxPendingTimeouts` parameter for its `maxCapacity`. Though it looks like even that isn't always going to work...

Happy to work on a PR here if you are interested.

[2017-07-05 20:51] Scottmitch commented on #6938
Im away from the computer but checkout http://www.linuxjournal.com/files/linuxjournal.com/linuxjournal/articles/023/2333/2333s2.html for more info on the backlog. Make sure there are not OS limits which prevent/limit the value your are setting in the application. Use something like lsof (not sure what this would be on windows) to see socket parameters.

[2017-07-05 22:02] johnou commented on #6947
@Scottmitch addressed with https://github.com/netty/netty/pull/6295 right?

[2017-07-05 23:24] rschmitt commented on #6881
Are you saying that the inbound bytes are getting forwarded to `Http2Codec`, even though it has been removed from the pipeline?

[2017-07-06 00:37] Scottmitch commented on #6947
Once #6295 is pulled in we should be able to leverage the queue limits and unlimited queue size in `HashWheelTimer` ... hopefully we can get rid of `pendingTimeouts` in `HashWheelTimer` at this time.

[2017-07-06 01:18] chhsiao90 commented on #6881
Yes, that's what I mean!

[2017-07-06 01:32] rschmitt commented on #6881
It sounds like there's a much deeper design issue here. Why does Netty allow a Handler to pass an event via its `ChannelHandlerContext` when that Handler is no longer present in the pipeline and therefore does not have a defined position in that pipeline? After all, the `ChannelHandlerContext` represents a Handler's association with a pipeline--shouldn't it throw an `IllegalStateException` as soon

[2017-07-06 06:44] spyff opened #6948 "Exception when io.netty.channel.unix.FileDescriptor constructor called"
### Expected behavior
A io.netty.channel.unix.FileDescriptor object created successfully from a unix like integer file descriptor ID

### Actual behavior
Throws exception instead
[code]

### Steps to reproduce
1. Create a project with the source code from below.
2. Compile and run it.

### Minimal yet complete reproducer code (or URL to code)
Main.java:
[code]

pom.xml
[code]

### Netty version
4.

[2017-07-06 08:21] senthilec566 commented on #327
@normanmaurer   - Any findings ? Meantime i will try other version of netty ..

[2017-07-06 14:03] Scottmitch commented on #6948
You must load the 'Epoll' class which will load the JNI library on Linux. Use [Epoll.iSAvailable](https://github.com/netty/netty/blob/4.1/transport-native-epoll/src/main/java/io/netty/channel/epoll/Epoll.java#L66) to attempted to load the JNI libraries and determine if the load was successful.

[2017-07-06 14:05] #6948 closed

[2017-07-06 14:11] gotev commented on #5208
If you use kotlin you can make an extension and use that instead
[code]

[2017-07-06 14:14] Scottmitch commented on #327
@senthilec566 - your issue is using the Epoll JNI transport but this issue was opened against the NIO transport. Can you open another issue?

Also what is your usage pattern look like? Do you have sockets being opened/closed constantly or just a few that are active? If you take successive snapshots (e..g 20 ish) do you see the stack trace change? Seeing the stack trace at epillWait is not necessar

[2017-07-06 14:38] abhijith-prabhakar commented on #6931
It worked when we increases Xss to 1024 from 256.  Thanks for the quick help.  Will close this issue if you guys are fine with it.

[2017-07-06 14:41] normanmaurer commented on #6931
Thanks closing :)

[2017-07-06 14:41] #6931 closed

[2017-07-06 14:54] Tipsyume opened #6949 "pthread_create (1040KB stack) failed: Out of memory"
### Expected behavior
 my program  throw "pthread_create (1040KB stack) failed: Out of memory" exception when it's run in mWorkerGroup.shutdownGracefully() ,here is my code:
` mWorkerGroup = new NioEventLoopGroup(0, Executors.newFixedThreadPool(5));
        try {
            Bootstrap mBootstrap = new Bootstrap();
            mBootstrap.group(mWorkerGroup)
                    .channel(NioSocketCha

[2017-07-06 17:11] kevinoliver commented on #6947
sounds good to me. thanks @johnou and @Scottmitch

[2017-07-06 20:38] dschobel opened #6950 "Unhandled exception in native epoll: io.netty.channel.unix.Errors$NativeIoException: syscall:read"
a service running netty 4.1.12 and using native epoll transport sees the following in its logs:

[code]

that's on CentOs 7.3.1611 + java 1.8.0_131

We don't have a repro and it shows up intermittently.

[2017-07-06 20:49] fenik17 opened #6951 "Writing to released ByteBuf"
What is the concept of checking the possibility of accessing to `ByteBuf`?

Probably a bug. A `writeCharSequence` (`setCharSequence`) can allow writing to released buffer:
[code]
With an `UnpooledHeapByteBuf` this code leads to `IllegalReferenceCountException` due to call  `ensureAccessible()` in the `capacity()`. IIUC this done only to prevent NPE for released buffed. Perhaps it's better to rewri

[2017-07-07 09:55] normanmaurer commented on #6950
@dschobel which class is logging this ? Connect-reset is quite usual, from what I can tell its not something within netty itself that logs this:

[code]

[2017-07-07 09:56] normanmaurer commented on #6949
@Tipsyume this means that you ran out of memory so you may need to increase the memory settings for the app .

[2017-07-07 09:56] #6949 closed

[2017-07-07 12:58] chhsiao90 commented on #6881
@rschmitt - I address a PR to fix this issue! PTAL

[2017-07-07 14:27] Scottmitch commented on #6951
We should check the ref count before writing to the underlying storage. Typically method use [checIndex](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/AbstractByteBuf.java#L1346) to accomplish this. I'm AFK but can look in more detail later.

[2017-07-07 14:49] normanmaurer commented on #6951
That's a bug... looking now

[2017-07-07 15:29] Tipsyume commented on #6949
@normanmaurer actually i'm settings  android:largeHeap="true" in AndroidManifest.xml,but it's still happen yet.

[2017-07-07 15:33] normanmaurer commented on #6949
I have no idea about android but this error tells you you are running out of memory. Maybe take an heap dump and inspect what's in there

[2017-07-07 15:42] normanmaurer commented on #6951
Ok I have a fix... stay tuned

[2017-07-07 15:45] normanmaurer commented on #6951
@fenik17 please check https://github.com/netty/netty/pull/6953

[2017-07-07 15:47] normanmaurer commented on #6947
@Scottmitch +1

[2017-07-07 18:41] fenik17 commented on #6951
@normanmaurer #6953 this is OK. Thanks! But what about this:

IMHO, this is not fine.. For example:
[code]
I think only `write` methods should increase capacity.

[2017-07-07 18:52] fenik17 commented on #6951
Although, if fix it now, someone's code can breaks...

[2017-07-07 20:26] dschobel commented on #6950
@normanmaurer yeah the first log line is from our [last line exception handler](https://github.com/twitter/finagle/blob/develop/finagle-netty4/src/main/scala/com/twitter/finagle/netty4/channel/ChannelExceptionHandler.scala#L38-L56) that finagle installs. It seems strange that given the same pipeline we'd see socket read errors caught at different handlers just by varying the transport implementati

[2017-07-07 20:55] vkostyukov commented on #6947
@Scottmitch Why getting rid of `pendingTimeouts`? These are quite useful as a visibility point into a timer. Finagle uses them to report Timer statistics to the users.

[2017-07-08 00:29] Scottmitch commented on #6950
To clarify this issue revolves around seeing different behavior from the NIO transport (not seeing connection reset) and Epoll (seeing connection reset)? Connection reset typically is the result of your peer sending a RST (set SO_LINGER to 0 and close to send RST) which depends upon your peer and may occur in the wild.

[2017-07-08 06:54] normanmaurer commented on #6951
@fenik17 let me investigate later today. Need to finish some other stuff first.

[2017-07-09 19:54] balteo opened #6956 "Issue with NettyRuntime$AvailableProcessorsHolder: number of available processors"
### Actual behavior
Exception is thrown when both Redis/lettuce & Elasticsearch clients try to set number of available processors on netty.

### Stacktrace

[code]

### Netty version
4.1.12.Final

### JVM version (e.g. `java -version`)
java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.102-b14, mixed mode)

### OS version (e.g

[2017-07-09 20:03] jasontedor commented on #6956
This is not a Netty problem. You either need to ensure in your application that the Elasticsearch client is initialized first, or set the system property `es.set.netty.runtime.available.processors` to `false` so that the client does not try to set the number of processors when the client initializes.

[2017-07-09 20:53] #6956 closed

[2017-07-10 05:28] rschmitt commented on #6881
@normanmaurer Can you provide any insight as to whether this may represent a bug in `replace` and/or the behavior of a `ChannelHandlerContext` after it has been removed from a pipeline?

[2017-07-10 06:37] normanmaurer commented on #6881
@rschmitt sorry I am quite busy atm... Generally speaking I would love to change the contract to throw an `IllegalStateException` if someone tries to do operations after the handler was removed from the pipeline. That said I think this may break user-code and so is a breaking change so it can not be done in a non major release :/

[2017-07-10 09:09] normanmaurer commented on #6951
@fenik17 you are correct and this is a bug. I have fixed it here: https://github.com/netty/netty/pull/6957. I think its fine to change it here as it is clearly a bug and we can just mention it in the release note to give more visibility.

[2017-07-10 10:12] molele2 opened #6958 "Hi,guys I have some question I'd like to ask you"
Questions about the high concurrent response of netty，What should I settings  Or  How to do?

[2017-07-10 10:17] fenik17 commented on #6951
@normanmaurer good. Thanks!

[2017-07-10 10:26] fenik17 commented on #6958
For questions use SO, please: https://stackoverflow.com/questions/tagged/netty

[2017-07-10 10:54] #6958 closed

[2017-07-10 12:18] wolftobias commented on #6818
This issue is also affecting our server implementation using TLS. A TCP FIN should always answered with an TCP FIN from other party. If the peer is sending a TCP FIN and we (netty) are answering with a TCP RST doesn`n make sense.

[2017-07-10 16:17] dschobel commented on #6950
@Scottmitch the RST happens in both cases but with the Epoll transport it's happening at a different point in our pipeline. I'll do some more testing using the SO_LINGER trick

[2017-07-10 16:56] dschobel commented on #6950
turns out it was our exception mapping code not being aware of the new exception types from Epoll. sorry for the false alarm

[2017-07-10 16:56] #6950 closed

[2017-07-10 16:59] normanmaurer commented on #6950
No worries thanks for the update 👍

[2017-07-10 17:30] rschmitt commented on #6881
Right, it would have to be done as an opt-in change. Maybe something like:

1. Define a system property (`io.netty.channel.ChannelHandlerContext.enforcePipelineMembership` or something)
2. Throw an `IllegalStateException` when the above property is set
3. When the above property is not set, log an error the first time this illegal state is detected
4. Run all of Netty's tests with the `enforcePipe

[2017-07-10 18:02] floragunncom commented on #6813
@Scottmitch @normanmaurer ping

[2017-07-10 19:03] Scottmitch commented on #6950
+1 ... thanks @dschobel !

[2017-07-10 19:11] Scottmitch commented on #6818
Can you link to a TCP RFC or TLS RFC which backs up these assertions?

[2017-07-10 19:32] #5951 closed

[2017-07-10 20:15] Scottmitch commented on #6947
I was AFK at the time but I was referring to the member variable and not the public method. My preference would be to rely upon the queue implementation to enforce the limits and then just use the queue's `size()` method. However it seems like the semantics in `HashedWheelTimer` don't lend themselves toward removal of `pendingTimeouts`.

[2017-07-10 20:18] Scottmitch commented on #6947
@kevinoliver - Now that https://github.com/netty/netty/pull/6295 has been pulled in ... and `HashedWheelTimer` already uses `PlatformDependent.newMpscQueue()` (unbounded queue), and we enforce the limit via `pendingTimeouts` ... is there any more action required to close this issue?

[2017-07-10 21:21] kevinoliver commented on #6947
@Scottmitch nothing else needed from my end. thank you!

[2017-07-10 21:21] #6947 closed

[2017-07-10 22:37] floragunncom commented on #6813
Looks like java/nio/Bits.java itself calls System.gc() [OpenJDK source](http://hg.openjdk.java.net/jdk8u/jdk8u-dev/jdk/file/4a1e42601d61/src/share/classes/java/nio/Bits.java#l649) which will
in case of a present  `-XX:+DisableExplicitGC` flag just do nothing and so it appears that the direct buffers did not get garbage collected fast enough.

Curious is that i never hit this before tcnative 2.0.0.

[2017-07-10 23:46] tdyas commented on #6936
This causes Spark to break if netty 4.1 shows up on the classpath. See https://issues.apache.org/jira/browse/SPARK-19552. Why does Netty not follow semantic versioning? Most developers expect compatibility between minor version changes.

[2017-07-11 00:30] Scottmitch commented on #6936
Historically it has been a balance between having enough features/changes which justify the overhead of maintaining another major version branch while still "mostly" adhering to semantic versioning. Netty major versions tend to have a long life time and create nontrivial amount of maintenance. Perhaps we could be more strict about ABI compatibility and release major versions more frequently (and d

[2017-07-11 05:52] slandelle commented on #2105
@pschichtel IMHO, such code is not completely right (I do similar things in AHC API and I'm considering fixing it). If you return a `CompletableFuture`, people might expect `cancel` to work, while there's no way it would cancel the underlying Netty future. Returning `CompletionStage` instead would work, then.

[2017-07-11 05:53] normanmaurer commented on #6813
Do you use the unpooled allocator ? Also this sounds a bit like you not correctly call ByteBuf.release() all the time. Did you try enabling the leak detector with a higher level (sorry not on the computer ATM)

[2017-07-11 06:16] dimitarg commented on #2105
The adapter / wrapper is the general approach most netty-based frameworks take, but it has a couple of problems
- The threading semantics are hard to get right since there's a mismatch between the two models
- Unnecessary object allocation
- In some cases unnecessary context switching.

It will be awesome if one can provide a module with static methods `map()`, `flatMap()`, `unit() / fork()`; then

[2017-07-11 06:57] yawkat commented on #6936
Maybe a deprecation strategy like [guava's](https://github.com/google/guava/wiki/PhilosophyExplained#iteration) would be reasonable. This particular ABI change was fairly unnecessary in my opinion, but I can see how *some* deprecation system is needed.

[2017-07-11 07:31] ramahmoo commented on #6818
**3.5.  Closing a Connection**
[https://tools.ietf.org/html/rfc793#section-3.5](https://tools.ietf.org/html/rfc793#section-3.5)

[2017-07-11 08:09] floragunncom commented on #6813
Leak detector does not report any leaks (tried also in paranoid mode). I tried unpooled and pooled as well, no difference.

[2017-07-11 09:30] twjitm opened #6960 "Unable to create Channel from class class io.netty.channel.socket.nio.NioServerSocketChannel at"
D:\Java\jdk1.8.0_91\bin\java "-javaagent:D:\Program Files\JetBrains\IntelliJ IDEA 2017.1.1\lib\idea_rt.jar=64641:D:\Program Files\JetBrains\IntelliJ IDEA 2017.1.1\bin" -Dfile.encoding=UTF-8 -classpath D:\Java\jdk1.8.0_91\jre\lib\charsets.jar;D:\Java\jdk1.8.0_91\jre\lib\deploy.jar;D:\Java\jdk1.8.0_91\jre\lib\ext\access-bridge-32.jar;D:\Java\jdk1.8.0_91\jre\lib\ext\cldrdata.jar;D:\Java\jdk1.8.0_91\j

[2017-07-11 09:43] normanmaurer commented on #6960
Please give us the full stacktrace and more info about netty version , JVM version , OS etc

[2017-07-11 09:49] fenik17 commented on #6960
5.0.0.Alpha1 is outdated.

[2017-07-11 10:07] twjitm commented on #6960
@normanmaurer  ,My computer operating system is win7 64 bit, and I use the netty version number is 5,

[2017-07-11 10:08] twjitm commented on #6960
@fenik17  What versions do you use now? mogul

[2017-07-11 10:17] fenik17 commented on #6960
The latest version is 4.1.13.

[2017-07-11 10:21] twjitm commented on #6960
@fenik17 ，I come from China, Download netty4.1.13 strenuous

[2017-07-11 13:02] yawkat commented on #6936
Thinking further about it, that might be a bit much, especially with the more subtle behavioral changes in the API. Hard to say.

[2017-07-11 15:47] Scottmitch commented on #6936
Another aspect of the problem is the Netty project has become a large conglomeration of relatively independent modules all versioned together. This makes inclusion of Netty simpler and management is all in a single place, but makes the threshold for a major version bump higher. An alternative is to break the Netty project up and independently version modules/projects. This will allow us to make mo

[2017-07-11 15:48] Scottmitch commented on #6960
5.0 has been abandoned for a long time. Please use 4.1 as suggested, and re-open if you are still experiencing issues. I would recommend following one of the [examples](https://github.com/netty/netty/tree/4.1/example) to get started.

[2017-07-11 15:48] #6960 closed

[2017-07-11 16:06] Scottmitch commented on #6818
Please review https://tools.ietf.org/html/rfc1122#section-4.2.2.13.

            CLOSE call while received data is still pending in TCP, or
            if new data is received after CLOSE is called, its TCP
            SHOULD send a RST to show that data was lost.

The RFC allows/encourages a RST to be sent in this scenario. Note that Netty does not implement the TCP protocol. If there are issues

[2017-07-11 16:35] Scottmitch commented on #6813
The OpenJDK invokes `System.gc()` during direct ByteBuffer allocation to provide a hint and hope for timely reclamation of directly memory by the GC (because these allocations are off heap). Using a properly tuned pooled allocator should reduce/remove the need to call ByteBuffer for allocations, and we even try to bypass the ByteBuffer allocation path for performance reasons by default (controlled

[2017-07-11 16:44] amosbird opened #6961 "[question] does netty support fixed size of heap buffer pool?"
so that we can specify the total amount of heap memory a pool can use. Also providing customized strategies used to wait for enough memory.

[2017-07-11 20:36] floragunncom commented on #6813
Unsafe is disabled (-Dio.netty.noUnsafe=true), so this evaluates to
<pre>
USE_DIRECT_BUFFER_NO_CLEANER = false;
DIRECT_MEMORY_COUNTER = null;
</pre>
and so it looks like `io.netty.maxDirectMemory` has therefore no effect.

I check the allocator bucket size. Regarding the overall memory: It worked pretty well with pre tcnative 2.0.0 so i assume the memory is enough and i think the bucket size too,

[2017-07-11 22:00] ejona86 opened #6963 "-Dio.netty.packagePrefix should not be required when shading"
### Expected behavior

A library may use shading transparently to the user and would be able to be combined with other libraries that also use Netty. Similarly, an application should be able to use shading transparently to the user.

### Actual behavior

The shader has to choose whether to rename the native components of epoll and tcnative. If they are renamed, then `-Dio.netty.packagePrefix` must

[2017-07-12 00:26] Scottmitch commented on #6813
Yip I see that. Can you ensure your example runs on linux (I'm more familiar with diagnostic tools here)? I tried putting the linux tcnative jar in the same directory as the OSX jar but I am still getting an exception when starting. Please advise.

[code]

[code]

[2017-07-12 00:50] Scottmitch commented on #6963
Something like the first approach sounds good. The assumption is this is currently done at a higher level to keep the shading logic (of the java code, and rename/move of the JNI library) in a single layer but moving it into Netty sounds good to me. I will need to validate this works as expected but assuming it does I'm OK with removing `io.netty.packagePrefix` (@normanmaurer may not be though).

T

[2017-07-12 01:36] twjitm commented on #6960
@Scottmitch  I think so.I have solved the problem and thank you for your answer

[2017-07-12 08:12] floragunncom commented on #6813
@Scottmitch just remove the OSX tcnative jar (you may not have two tcnative jars in the classpath)

[2017-07-12 16:43] ejona86 commented on #6963
I'm not too picky as to the solution, as long as it can be transparent to the user. While it is possible to set `io.netty.packagePrefix` via code, that can be hard/strange for a library and is not guaranteed to be permitted. It also means that every transitive user of Netty may end up needing that logic in code (not just shading configuration).

Ah, that's a good point; I got so tied up with libra

[2017-07-12 16:55] Scottmitch commented on #6963
@ejona86 - We are on the same page. +1 for moving this logic into Netty and not relying on a system property.

[2017-07-12 20:00] carl-mastrangelo opened #6966 "Netty DNS Tests fail with custom search domain"
### Expected behavior
tests pass
### Actual behavior
tests fail
### Steps to reproduce
Add this to `/etc/resolv.conf`:

[code]

and run tests

### Netty version
4.1

output:

[code]

Notice the floop domain added in the log messages.

[2017-07-12 20:45] Scottmitch commented on #6966
Are you also setting the value of `ndots` in `/etc/resolv.conf`? The default value is 1 but based upon `secondDnsServerShouldBeUsedBeforeCNAMEFirstServerNotStarted`'s result it looks like `netty.io` had the search domain appended ... which would mean `ndots == 0`.

[2017-07-12 20:47] carl-mastrangelo commented on #6966
options ndots:2

is what I have

[2017-07-12 20:49] Scottmitch commented on #6966
yip makes sense ... I corrected the conditional above. Let me be more explicit about setting this in our unit tests.

[2017-07-12 20:55] Scottmitch commented on #6966
Please verify PR https://github.com/netty/netty/pull/6967

[2017-07-12 22:50] #6966 closed

[2017-07-13 00:13] Scottmitch commented on #6813
I tried this and it doesn't work. I've also tried removing the tcnative jar completely and same error.

[2017-07-13 07:37] floragunncom commented on #6813
Sorry, will double check and provide a out of the box working example for ubuntu

[2017-07-13 17:09] Scottmitch commented on #6961
The heap memory is limited in the typical way for a java application (e.g. `-Xms` and `-Xmx`).

No. ByteBufAllocator is synchronous (e.g. `ByteBuf b = allocator.heapBuffer()`) so there is nothing "built in" that you can rely upon to delay the result if there isn't enough memory. This would have to be built on top at a higher level. This is the same semantics as the `new` operator.

[2017-07-13 17:09] #6961 closed

[2017-07-13 21:43] floragunncom commented on #6813
@Scottmitch here is one which should work OOTB with ubuntu (as long openssl and libapr1 is installed)
https://bintray.com/floragunncom/files/download_file?file_path=n3%2Fnetty-6813-ubuntu3.tar.gz

I have this also running on an aws ec2 instance and i'am happy to mail the ssh key to you if you like to test it there.

[2017-07-13 22:02] nayato opened #6968 "TlsReadTest tests are misleading"
Tests rely on channel having AutoRead = false and verify that read was issued through setting readIssued. In reality read method is called during construction of EmbeddedChannel - because AutoRead is true at this time, before AutoRead is set to false in test.

[2017-07-14 00:45] uuttxtgyf commented on #5038
same sample code please. @nezen

[2017-07-14 08:00] violetagg opened #6969 "CorruptedFrameException when streaming Json array over multiple writes"
### Expected behavior
One should be able to stream Json array over multiple writes

### Actual behavior
The exception is thrown
[code]

### Steps to reproduce
The test case linked to this issue reproduces the exception above.
This commit https://github.com/netty/netty/commit/231e6a5b7d92a7455b5c64f8e4a71a6fcc73cfd1 is the cause for the problem.
If I comment the `reset` invocation the scenario is w

[2017-07-14 08:10] nezen commented on #5038
Hi @uuttxtgyf , it's been a long time, but I hope this will help:

        NioEventLoopGroup nioEventLoopGroup = new NioEventLoopGroup();
        Bootstrap bootstrap = configureBootstrap(new Bootstrap(), nioEventLoopGroup);

        Iterator<String> iter = hosts.iterator();
        while (iter.hasNext()) {
            final String host = iter.next();
            CustomChannelInboundHandler handler

[2017-07-14 09:21] maseev commented on #6683
Sorry for bringing up this closed issue. What would be the best way to implement a new native transport for Netty? I mean, if I needed to implement a new type of transport which would use, let's say, [DPDK](http://www.dpdk.org/) or [FD](https://fd.io/), what would be the best way to integrate one of these libraries with Netty? Any recommendations?

[2017-07-14 11:20] normanmaurer commented on #6683
Just write a new Transport as what we have done with the Linux epoll transport. Not sure I get what you are asking for

[2017-07-14 15:12] Scottmitch commented on #6683
transport-native-kqueue and transport-native-epoll are good places to start looking at what is involved.

[2017-07-14 15:13] Scottmitch commented on #6969
Are you interested in submitting a PR to fix this issue?

[2017-07-14 22:43] md-5 commented on #6607
https://hub.spigotmc.org/jira/browse/SPIGOT-3418
User is suggesting this issue is there in 4.1.13

[2017-07-15 06:31] uuttxtgyf commented on #5038
two kind of different  Server can use different ChannelInitializer ？can use one Bootstrap？
thanks very match！@nezen

[2017-07-15 15:22] normanmaurer commented on #6607
Let me check

[2017-07-15 16:45] normanmaurer commented on #6607
@md-5 it is fixed in 4.1.13 and to prove this I added a unit-test. Please check:
https://github.com/netty/netty/pull/6971

[2017-07-16 01:05] md-5 commented on #6607
Hmm thanks for looking, this is strange.
It is an isolated report so far, I can only think maybe the user ended up with a different Netty version than the one we bundled.

[2017-07-16 01:44] md-5 commented on #6607
Apologies @normanmaurer , looks like a packaging error on our behalf caused the incorrect version to be used.

Thanks for looking anyway

[2017-07-16 20:00] normanmaurer commented on #6607
No worries... more unit tests FTW

[2017-07-17 06:40] rschmitt commented on #6933
I forgot the most obvious solution, which is to create a `java.lang.reflect.Proxy` from a simple `InvocationHandler` that delegates to `ProtocolSelector#select`. This is much simpler than defining a class directly from an ASM-produced `byte[]`, but I don't know what the performance implications are.

[2017-07-17 08:43] #6969 closed

[2017-07-17 08:43] normanmaurer commented on #6969
Fixed by https://github.com/netty/netty/pull/6970

[2017-07-17 08:45] normanmaurer commented on #6963
@ejona86 sorry late to party due slacking during vacation =P +1 (1 sounds good.

[2017-07-17 08:45] normanmaurer commented on #6968
@nayato can you submit a pr with something that you think makes things more clear ?

[2017-07-17 08:46] normanmaurer commented on #6933
@rschmitt not yet and it may take some time before I have cycles to spend here.

[2017-07-17 08:48] johnou commented on #6933
@rschmitt maybe you could create a POC with a JMH benchmark?

[2017-07-17 10:50] normanmaurer commented on #2105
@dimitarg actually it is quite easy... All the notifications happens in the `EventExecutor` thread that is used by the `Future`.

[2017-07-17 13:27] MartyIX opened #6977 "Question: Is it necessary to remove listeners in Netty 4.1?"
I have the following simple code:

[code]

There is also `removeListener` method for `ChannelFuture`. However, I was unable to find information if it is necessary to remove listeners by hand (i.e. to explicitly call `removeListener` method) or not. I ask because I don't want to create memory leaks in my program. It would be very helpful if there was a note in Netty's source code.

### Netty versio

[2017-07-17 13:35] normanmaurer commented on #6977
This is an issue tracker so please use StackOverflow the next time for questions...

That said no you not need to remove a listener by hand. This method exists if you want to remove it after it was added by the future was not notified yet.

[2017-07-17 13:35] #6977 closed

[2017-07-17 17:36] ejona86 commented on #6963
I'll send out a PR then using the "Semi-readable implicit" approach then. Truth be told, @normanmaurer, you didn't slow down the PR at all :smile:.

Unless someone says otherwise, I'll keep `io.netty.packagePrefix` for the moment to 1) give time for users to try the implicit method and find issues and 2) ease migration from the system property. If things work out and it is redundant then it is eas

[2017-07-17 18:21] normanmaurer commented on #6963
@ejona86 sounds good... go ahead :)

[2017-07-17 18:29] johnou commented on #6963
@ejona86 is that maybe something we could use the unstable api annotation for?

[2017-07-17 18:54] Scottmitch commented on #6813
I ran some diagnostics with jemalloc/jeprof and I didn't see any smoking gun at the malloc level. It looks like most of the memory sits with malloc. `updatewindow`, `init`, and `readCEN` retain some memory too but the memory doesn't appear to change as `-XX:MaxDirectMemorySize` is increased. As you said in https://github.com/netty/netty/issues/6813#issuecomment-314563713 you are disabling unsafe s

[2017-07-17 19:35] rschmitt commented on #6933
@johnou Actually, I think I see a way to go through the `MethodHandle` API instead, which should combine the performance of the ASM approach with the encapsulation properties of the Proxy approach. (The ASM approach requires a `setAccessible(true)` call so that `defineClass` can be invoked.)

[2017-07-17 19:55] ejona86 commented on #6963
@johnou, not really, since there isn't an explicit API.

[2017-07-17 19:57] rschmitt commented on #6933
Actually, the ASM approach could work nicely on Java 9 via this public method: http://download.java.net/java/jdk9/docs/api/java/lang/invoke/MethodHandles.Lookup.html#defineClass-byte:A-

[2017-07-17 20:08] johnou commented on #2105
@slandelle please give me a heads up if / when you change that, we use it extensively in our project.

The important thing to remember is that the thread the cf returns on may be one of the Netty event loop threads therefore the thenXAsync methods come in handy if you are required to perform blocking io with the response.

[2017-07-17 20:49] rkapsi commented on #6813
I don't know if it's relevant/useful but we happen to use `-XX:+UseConcMarkSweepGC` as well and in my experience it's very easy to make it OOME with direct memory. It's sometimes not compelled to collect.

Just ran into it with an unrelated project (HTTPS+netty-tcnative) where I thought I could get away with not calling `#release()`.

[code]

[2017-07-17 22:22] tsachev opened #6979 "bom still uses snapshot for netty-transport-native-unix-common version"
### Expected behavior
released bom should not contain snapshot versions
### Actual behavior
it still has snapshot version
### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)
see
http://repo1.maven.org/maven2/io/netty/netty-bom/4.1.13.Final/netty-bom-4.1.13.Final.pom
and
http://repo1.maven.org/maven2/io/netty/netty-bom/4.0.49.Final/netty-bom-4.0.49.Final.pom
### Netty

[2017-07-17 23:07] Scottmitch commented on #6813
A reason why you may not experience the same behavior when using the JDK SSL provider is that the JDK SSL engine doesn't require a copy at the application level to wrap heap buffers [1].

[1] https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L922

[2017-07-17 23:25] Scottmitch commented on #6813
As stated in https://github.com/netty/netty/issues/6813#issuecomment-314269834 and https://bugs.openjdk.java.net/browse/JDK-8142537 I don't think you can rely upon the GC to collect direct memory if `-XX:+DisableExplicitGC` is enabled. Relying on upon `ByteBuffer.allocateDirect`'s memory enforcement which depends upon explicit GC hints is being defeated by disabling the explicit GC hints. Unless t

[2017-07-17 23:25] #6813 closed

[2017-07-18 01:02] tosilu opened #6980 "why compile error"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2017-07-18 01:02] tosilu commented on #6980
[ERROR] Failed to execute goal de.thetaphi:forbiddenapis:2.2:check (check-forbidden-apis) on project netty-common: IO problem while reading files with API signatures. C:\Users\dimeng\netty\common\target\dev-tools\forbidden\signatures.txt (系统找不到指定的路径。) -> [Help 1]

[2017-07-18 01:06] Scottmitch commented on #6980
Please provide more details. What version of Netty, maven, java, OS, etc...

[2017-07-18 01:12] tosilu commented on #6980
os:win7 Netty4.1 java8
C:\Users\dimeng>mvn --v
Apache Maven 3.2.1 (ea8b2b07643dbb1b84b6d16e1f08391b666bc1e9; 2014-02-15T01:37:52+08:00)
Maven home: D:\apache-maven-3.2.1
Java version: 1.8.0_102, vendor: Oracle Corporation
Java home: F:\car_hire_jdk1.8.0_102\jre
Default locale: zh_CN, platform encoding: GBK
OS name: "windows 7", version: "6.1", arch: "amd64", family: "dos"
C:\Users\dimeng>

[2017-07-18 01:50] tosilu commented on #6980
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Detecting the operating system and CPU architecture
[INFO] ------------------------------------------------------------------------
[INFO] os.detected.name: windows
[INFO] os.detected.arch: x86_64
[INFO] os.detected.version: 6.1
[INFO] os.detected.version.major: 6
[INFO] os.detect

[2017-07-18 03:37] shixiaoxiang commented on #4686
In the use of netty tcp communication, I in the handler channelRead0 () method out of the current channel, and then into the redis, and then removed from the redis, the generated object isRegister attribute is true, but in essence, this Channel is not registered, I will be used when the error: channel is not registered, this property is private, I can not change, cancel the registration and displa

[2017-07-18 05:12] Scottmitch commented on #6980
What is the contents of the file `C:\Users\dimeng\netty\common\target\dev-tools\forbidden\signatures.txt` and does it match [1]?

There is also a new version of the `forbiddenapis` plugin, can you try version 2.3 [2]?

[1] https://github.com/netty/netty/blob/4.1/dev-tools/src/main/resources/forbidden/signatures.txt
[2] https://github.com/netty/netty/blob/4.1/pom.xml#L1292

[2017-07-18 06:08] normanmaurer commented on #6979
@tsachev will investigate later today.

[2017-07-18 06:28] tosilu commented on #6980
thank you for your help! It's all fixed. but what does it 【java.lang.Runtime#availableProcessors() @ use NettyRuntime#availableProcessors() 】mean?

[2017-07-18 06:33] normanmaurer commented on #6980
@tosilu what fixed it ? It means we use `java.lang.Runtime#availableProcessors()` which is fine in this case.

[2017-07-18 06:44] tosilu commented on #6980
nothing, I get it, thank you !

[2017-07-18 06:44] #6980 closed

[2017-07-18 07:05] Scottmitch commented on #6968
@nayato - please check if https://github.com/netty/netty/pull/6982 is what you had in mind.

[2017-07-18 07:09] Scottmitch commented on #6980
It is a way to restrict some API usage in our code. In this case we want our code to generally prefer `NettyRuntime#availableProcessors()` instead of directly using `java.lang.Runtime#availableProcessors()`

There was a compile error, and it sounds like there is no longer a compile error. Can you clarify what changed. We don't have the same environment you are building on so we would like to make

[2017-07-18 08:06] maseev opened #6983 "Speed up the CI pipeline"
I'm not sure if this is the best place to ask this kind of question. Have you thought about speeding up the current CI pipeline? It looks like that it takes [about an hour and a half](https://garage.netty.io/teamcity/viewLog.html?buildId=22194&buildTypeId=pulls_netty&guest=1) to build the project and run all tests.

Have you thought about running your unit-tests in parallel? If I'm not mistaken, M

[2017-07-18 10:26] ppatierno opened #6984 "MQTT unknown message type isn't handled as decoding error"
### Expected behavior

When there is an MQTT decoding error, an invalidMessage is created and a DecodeResult with failure and related cause exception is filled with right information so that the user application can see what's the problem. It should happens in any step in the decoding phase.

### Actual behavior

It doesn't work if the problem is in the fixed header with a not valid MQTT message t

[2017-07-18 14:17] #6984 closed

[2017-07-18 14:17] normanmaurer commented on #6984
Fixed by https://github.com/netty/netty/pull/6985

[2017-07-18 18:31] normanmaurer commented on #6979
Please check https://github.com/netty/netty/pull/6989

[2017-07-19 02:13] Scottmitch commented on #6983
We have discussed it before offline ... our builds on CI take way too long. We enable a good deal of extra debugging (e.g. resource leak detection) when building on CI which bumps test time up. It hasn't been that high of a priority because PRs mostly build in the background but any speed up or parallelization would be greatly appreciated. A change to gradle would be worth discussing the approach

[2017-07-19 02:22] Scottmitch commented on #4686
@normanmaurer - I will close this for now ... please re-open if this is we didn't actually resolve this.

[2017-07-19 02:22] #4686 closed

[2017-07-19 03:07] maseev commented on #6983
Well, enabling parallel test execution should be a pretty straightforward task. And yeah, I agree that migrating to Gradle is a big move that must be considered very thoroughly. Let me enable parallel task execution in my local build and see how it goes. If everything is alright I'll submit a PR. Running unit tests in parallel should improve CI build that's for sure.

[2017-07-19 07:33] normanmaurer commented on #6968
@nayato does https://github.com/netty/netty/pull/6987 work for you ?

[2017-07-19 08:48] Apache9 commented on #3927
Come back to this recently as I found that the multiplex HTTP/2 codec is almost down and we actually face a problem that in our company the HBase cluster may create new connections to DN very fast and DN fails to accept quick enough which causes backlog overflow and lead to a 3 seconds timeout.

The optimized checksum verification on DBB in HDFS is JNI based, so it is important to reduce the numbe

[2017-07-19 12:34] normanmaurer commented on #6979
Fixed by https://github.com/netty/netty/pull/6989

[2017-07-19 12:34] #6979 closed

[2017-07-19 12:39] #5478 closed

[2017-07-19 12:58] normanmaurer commented on #5478
Fixed by https://github.com/netty/netty/pull/6991

[2017-07-19 13:38] wolftobias commented on #6818
I don`t think is a TCP issue, netty is implementing the process of communication and there is the issue.

[2017-07-19 15:45] Scottmitch commented on #3927
@Apache9 - I don't have cycles to spare at the moment but this is something we should eventually support in h2. I'm not sure if it makes sense just to add a `writeData` overload which takes a `FileChannel` (instead of `ByteBuf`) but it maybe interesting to explore this option (instead of worrying about unifying the 2 interfaces).

[2017-07-19 15:55] Scottmitch commented on #6818
Netty doesn't implement TCP and therefore doesn't explicitly send a TCP RST nor a TCP FIN. Netty calls `close` and the underlying TCP stack determines what is "appropriate". What is appropriate may vary depending on the underlying implementation of TCP (the RFC allows some wiggle room with the `SHOULD` language https://github.com/netty/netty/issues/6818#issuecomment-314493013).

Netty may attempt

[2017-07-19 17:44] normanmaurer commented on #6968
Fixed by https://github.com/netty/netty/pull/6987

[2017-07-19 17:44] #6968 closed

[2017-07-19 20:19] carl-mastrangelo opened #6993 "Netty Epoll fails in IPv6 only environment"
https://github.com/netty/netty/blob/83de77fbe5385130ba9afc666fecbe9b59bd8032/transport-native-unix-common/src/main/c/netty_unix_socket.c#L198

In this code, it tries to set dual stack sockets, but fails when running in an IPv6 only environment.  Such an environment exists in Google by blocking all IPv4 functionality in the kernel in order to prove code is IPv6 compatible.

cc: @pmarks-net

[2017-07-20 01:26] #6993 closed

[2017-07-20 01:38] #6963 closed

[2017-07-20 05:36] zyhui98 commented on #6898
ok，I Know，thank fenik17

[2017-07-20 07:16] normanmaurer commented on #6993
@Scottmitch please remember to set the milestone when you close issues so it is listed for the correct version.

[2017-07-20 08:58] MartyIX opened #6998 "Websocket example and WebSocketHandshakeException"
Hi,

Websocket example contains the following code:

        if (!handshaker.isHandshakeComplete()) {
            handshaker.finishHandshake(ch, (FullHttpResponse) msg);
            System.out.println("WebSocket Client connected!");
            handshakeFuture.setSuccess();
            return;
        }

(https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/http/websocket

[2017-07-20 09:53] normanmaurer commented on #6998
@MartyIX yes... Can you please open a PR with a fix ?

[2017-07-20 10:18] MartyIX commented on #6998
Yes, https://github.com/netty/netty/pull/6999

[2017-07-20 13:46] maseev commented on #6983
When I run `mvn test` according to this [checklist](http://netty.io/wiki/developer-guide.html#checklist) I get the following error message:

[code]

I'm not sure this is an expected behavior.

[2017-07-20 14:12] Scottmitch commented on #6983
You get this error without making any changes? Its possible if you are trying to enable parallel execution that we have a bug in our maven files where the goals (and dependencies/sequencing between then) are not setup correctly.

[2017-07-20 14:22] maseev commented on #6983
No. I just ran `mvn test` on the latest `4.1` branch and got this error.

[2017-07-20 14:32] Scottmitch commented on #6983
I would need to investigate ... can you list details about your environment (maven version, java, OS, etc...). Please try running `mvn clean install -DskipTests` at the root project level.

[2017-07-20 14:32] maseev commented on #6983
Ran once again and got this error:

[code]

[2017-07-20 14:41] Scottmitch opened #7001 "HttpPostRequestEncoderTest failures introduced by 08748344d852a07011be6e74bb5ddc6dcf221c45"
After commit 08748344d852a07011be6e74bb5ddc6dcf221c45 some tests in `HttpPostRequestEncoderTest` are now failing.

  HttpPostRequestEncoderTest.testDataIsMultipleOfChunkSize2:412->checkNextChunkSize:423 Chunk is not 8096 bytes expected:<8096> but was:<8094>

  HttpPostRequestEncoderTest.testDataIsMultipleOfChunkSize1:390->checkNextChunkSize:423 Chunk is not 8096 bytes expected:<8096> but was:<8093

[2017-07-20 14:42] Scottmitch commented on #6983
These tests appear to be unreliable due to a recent commit. See https://github.com/netty/netty/issues/7001 and try to work around (ignore) this issue until we fix it.

[2017-07-20 14:42] Scottmitch commented on #7001
/cc @violetagg

[2017-07-20 14:44] normanmaurer commented on #7001
@Scottmitch strange not failing here :( Will investigate

[2017-07-20 14:47] violetagg commented on #7001
@Scottmitch I tested yesterday on my local machine and they were ok + the PR voter also passed with all tests green. I'll also check again.

[2017-07-20 15:12] maseev commented on #6983
Ran `mvn clean install -DskipTests`, got the same error:

[code]

Here are the details about my environment if this still makes sense:

[code]

[2017-07-20 16:45] maseev commented on #6983
Updated Maven and Java:

[code]

Still no luck. The strange thing is that now Maven passes when I run `mvn clean install -DskipTests`, but fails with the same error:

[code]

when I run `mvn test`:

[code]

I'm not entirely sure whether it's my environment or something else. I wonder how the tests pass without any problems on CI :hushed:

[2017-07-20 19:55] violetagg commented on #7001
I'm not able to reproduce this failure neither on Mac nor Ubuntu
===
maven 3.3.9

java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

Linux bosh-lite 4.2.0-36-generic #42~14.04.1-Ubuntu SMP Fri May 13 17:27:22 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
===
maven 3.3.9

java version "1.8.0_141"
Java(TM) SE Run

[2017-07-20 19:57] ejona86 opened #7002 "ReadOnlyBufferException regression due to "SslHandler aggregation of plaintext data on write""
### Actual behavior

gRPC is now seeing a `ReadOnlyBufferException`:

[code]

### Steps to reproduce

[code]

### Netty version

4.1.13 and commit f7b3cae work fine. But it is broken the "next" commit 24263c2b (86e653e), "SslHandler aggregation of plaintext data on write". It is still present on master at commit f23b2fc25, although I need to revert 43ae974 due to an unrelated cipher issue (and I a

[2017-07-20 20:09] normanmaurer commented on #7002
Will have a Look tomorrow

[2017-07-21 00:25] Scottmitch commented on #7002
@ejona86 - Yip I got this ... accumulation doesn't account for read only buffers.

[2017-07-21 01:25] Scottmitch commented on #7002
Actually I don't think its SslHandler's fault ... see PR #7004.

[2017-07-21 05:38] normanmaurer commented on #6998
Fixes by https://github.com/netty/netty/pull/6999 . @MartyIX thanks

[2017-07-21 05:38] #6998 closed

[2017-07-21 05:50] normanmaurer commented on #6951
Fixed by https://github.com/netty/netty/pull/6953

[2017-07-21 05:50] #6951 closed

[2017-07-21 06:25] normanmaurer commented on #7001
Fixed in https://github.com/netty/netty/pull/7005.

[2017-07-21 06:53] normanmaurer commented on #7002
@Scottmitch thanks!

[2017-07-21 11:22] PaulANichols opened #7006 "ChannelFuture.awaitUninterruptibly() never returns"
### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version
3.6.10

### JVM version
jdk1.8.0_60

### OS version
Linux CentOS 6.8

I raised this on Stack Overflow a few days ago (https://stackoverflow.com/questions/45147052/nettys-channelfuture-awaituninterruptibly-never-returns), but no response yet, maybe I should have raised it here instead?

We are using Netty 3.6.10 to m

[2017-07-21 12:27] normanmaurer commented on #7006
No it must be volatile as it is only accessed and modified in a `synchronized(this)` block. This is good enough...

3.6.10 is super old and also 3.x is EOL, please upgrade to a recent version of netty and reopen if the issue still exists.

[2017-07-21 12:27] #7006 closed

[2017-07-21 12:29] normanmaurer commented on #7001
Fixed by https://github.com/netty/netty/pull/7005

[2017-07-21 12:29] #7001 closed

[2017-07-22 02:18] carl-mastrangelo opened #7009 "EpollSocketChannel lacks a way to add custom behavior"
### Expected behavior
Something akin to NioSocketChannel being non-final.  I would like a way to set custom socket options on epoll channels, but both EpollSocketChannel and EpollSocketChannelConfig are final.  The options themselves are proprietary, so I don't think adding them to said classes is possible.

### Actual behavior
Unable to add custom socket options

### Minimal yet complete reproduc

[2017-07-22 02:57] Scottmitch commented on #7009
Can you describe what you want todo? I guess you could do the following:

- Load your own JNI library
- get the FD from the channel via `fd.intValue()`
- call `setsockopt` in your JNI library

Currently each socket option has its own JNI method (e.g. `setIpFreeBind`, etc..) and we don't expose `setsockopt` at the java level so it seems like you would have to add some additional JNI methods anyways

[2017-07-22 03:02] carl-mastrangelo commented on #7009
In my case, the socket option needs to be set before the initial connection.  If it is set after, it has no effect.

[2017-07-22 03:03] Scottmitch commented on #6983
What do you mean "maven passes"? You list and error `Failed to execute...` after this statement.

[2017-07-22 03:20] maseev commented on #6983
I mean that `mvn clean install -DskipTests` passes without any errors, but then fails when I run `mvn test` with this error message:

[code]

[2017-07-22 05:13] amarky opened #7010 "where is the io.netty.util.collection package"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2017-07-22 07:51] johnou commented on #7010
These are generated during build, run:

mvn clean package

[2017-07-22 10:21] normanmaurer commented on #6983
Even with 4.1? Or just with this branch?

[2017-07-22 10:24] maseev commented on #6983
I've been trying to build Netty and run all tests on the 4.1 branch so far.

[2017-07-22 10:40] #7010 closed

[2017-07-22 14:19] maseev commented on #6983
OK, `mvn install` passes without any errors. According to CI's build log it firstly calls `mvn clean install -DskipTests` and then `mvn install`.

[2017-07-22 15:45] #7002 closed

[2017-07-23 14:19] Sammers21 opened #7012 "small Default max message size in MqttDecoder"
### Expected behavior
According to [MQTT 3.1.1 spec, section 2.2.3](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/csprd02/mqtt-v3.1.1-csprd02.html#_Toc385349759), MQTT packets size can take up to 268 435 455 bytes. I think this value should be a default.

### Actual behavior
The current default value of MQTT packet to decode is 8092.

[2017-07-23 20:11] Sammers21 opened #7014 "NioEventLoopGroup vs EpollEventLoopGroup on Linux performance"
I would like to know is there any difference in performance between NioEventLoopGroup and EpollEventLoopGroup on Linux platform. I know that EpollEventLoopGroup should perform better by is there any real tests?

[2017-07-24 02:28] spccold commented on #7014
[Why native epoll support is introduced in Netty?](https://stackoverflow.com/questions/23465401/why-native-epoll-support-is-introduced-in-netty)

[2017-07-24 05:50] fovecifer commented on #6459
Hi @normanmaurer Could you explain more details about the design(PromiseCombiner is not thread-safe)?
I found that the sub-promises of PromiseCombiner could fired in different threads, and all sub-promise share the same listener in PromiseCombiner, I think this is a race condition.

[2017-07-24 06:24] #7014 closed

[2017-07-24 06:25] normanmaurer commented on #7014
@Sammers21 see the link @spccold provided.

[2017-07-24 06:32] normanmaurer commented on #6459
@fovecifer you are right... we should either put a guard in place to ensure all the `Promise` / `Future` us the same `EventExecutor` or make it thread-safe.

@Scottmitch @nmittler ^^ WDYT ?

[2017-07-24 06:36] normanmaurer commented on #7009
@carl-mastrangelo what about just expose a way to set custom socket opts ? Basically just allow to pass something to `setsockopt` directly

[2017-07-24 06:50] fovecifer commented on #6459
@normanmaurer   Thanks for your help!

In my opinion, ensure all Promise/Future use same EventExecutor is not good option,
it is difficult to make all Promise/Future using same thread
and this will hurt the "concurrency"

In my code, I use a "spinlock" to fix it and try to avoid context switches

[2017-07-24 08:03] loststarsXD commented on #6459
@fovecifer I agree with you. An option with CLH queues is a good choice.

[2017-07-24 10:44] Apache9 commented on #3927
@Scottmitch Need suggestions on API design. As we should also be able to combine `ByteBuf`s and `FileRegion` s in a data frame, we need to provide a new `writeData` method other than the `ByteBuf` one and `FileRegion` one.

In the POC of #4611 , I introduced a `ReadableCollection` class which can be constructed with multiple `ByteBuf`s and `FileRegion`s and added a new `writeData` method for it in

[2017-07-24 17:17] carl-mastrangelo commented on #7009
That would be great.  If it's alright with you, I can send a patch.

[2017-07-24 18:34] ninja- commented on #7009
why not add the missing socket opts to netty channel options enum? are you using some custom options based on kernel patches?

[2017-07-24 18:44] normanmaurer commented on #7009
@ninja- yes it is custom as @carl-mastrangelo stated in the issue ;)

[2017-07-24 18:44] normanmaurer commented on #7009
@Scottmitch WDYT about this: https://github.com/netty/netty/issues/7009#issuecomment-317331976

[2017-07-25 02:38] Scottmitch commented on #7014
with performance its usually best to evaluate based upon your work load ... and then let us know what you find :)

[2017-07-25 02:54] Scottmitch commented on #6459
the class wasn't meant to be thread safe and was intended to be simple/performant for use on the same EventLoop (defect -> feature request?). The class will need work to be thread safe as there is a few areas of disconnected state. Futures may change the event loop they notify on different threads to make things interesting.

[2017-07-25 03:35] Apache9 commented on #3927
OK, for multiplex codec the users need to use a data frame object to carry a data frame... FWIW, we need something to store the mixed `ByteBuf`s and `FileRegion`s. Let me see if we can make the new class HTTP/2 only.

Thanks.

[2017-07-25 07:13] Sammers21 commented on #7014
Are there any benchmarks? I want to see numbers. I that EpollEventLoopGroup perform better but the question is it worth it.

[2017-07-25 08:53] #7012 closed

[2017-07-25 09:03] johnou commented on #7014
@Sammers21 I think @Scottmitch was suggesting that you create your own metrics try both and see how they compare because performance will vary depending on the type of workload / application. Bonus points if you can come back here with the results!

[2017-07-25 09:33] anshuman-osc opened #7020 "Concurrent SSL Handshakes cause IO threads to stay busy for long time"
### Expected behavior
Existing connections should not be impacted and should continue to exchange messages if new connections are added

### Actual behavior
If there are a few thousand connections to the server, and then we get a burst of say another few thousand connections, these new SSL handshakes keep the worker threads busy for a long time, which causes the existing connections to start timin

[2017-07-25 15:36] dschobel opened #7021 "ipv6 support test in netty_unix_socket.c misses some cases"
We ran into a problem with the native epoll transport on [Aurora](https://aurora.apache.org/) when ipv6 networking is disabled where [the test to determine if ipv6 is supported](https://github.com/netty/netty/blob/4.1/transport-native-unix-common/src/main/c/netty_unix_socket.c#L179-L188) successfully created a ipv6 socket but all connections to it fail because, as mentioned, ipv6 networking is dis

[2017-07-25 15:45] normanmaurer commented on #7021
@dschobel can you give some more details how it fails ?

[2017-07-25 16:20] dschobel commented on #7021
sure, so the test linked above returns AF_INET6 because it can create the socket. when it comes time to connect though, the connection fails with `connect: Cannot assign requested address`