[2018-01-02 20:55] Scottmitch commented on #7557
IIUC this is now a duplicate of https://github.com/netty/netty/issues/1706. Netty doesn't support any multiplexing/demultiplexing per channel and generally assumes a single thread per channel.

[2018-01-02 21:26] Scottmitch commented on #7553
In general we try to keep changes in Netty that explicitly compensate for peers who do not follow RFCs to a minimum. I would suggest modifying your pipeline to translate the custom `Content-Type` into the expected `Content-Encoding` header before It gets to `HttpContentDecoder`.

[2018-01-02 21:35] asarkar commented on #7553
Ok, how do I do that? I’m new to Netty and on top of that using Spring WebClient. Can you point me to an example?

[2018-01-02 21:44] nicktrav commented on #7557
I've run into the exact issue recently. Fwiw - it is obviated if you happen to use the epoll transport with SO_REUSEPORT set to true on Linux.

However, utilisation of all the threads is provisional on you sending datagrams from clients with different (source IP, source port) combinations which can be a gotchya when testing / benchmarking.

NIO and OIO are limited to a single thread. Not sure if t

[2018-01-02 21:55] trondarild-lode-tobiassen-heidelberg commented on #7557
OK. So I need to set option so_reuseport (even though the primary use
case for this is multicasting) AND use linux. I use win7 ...

I got to save up for a new machine I guess.

Thanks for your effort in this.

On 02.01.2018 22:45, Nick Travers wrote:

[2018-01-02 22:57] asarkar commented on #7553
I came up with the following:

[code]

[2018-01-03 00:11] Scottmitch commented on #7553
Seems a bit fragile due to the code duplication but I will close this for now because I think there are more preferred ways to work around the client issue than modifying code in Netty.

[2018-01-03 00:11] #7553 closed

[2018-01-03 01:21] RikkiGibson commented on #7548
Thanks for the context and suggestion to try building the sources for FreeBSD.

[2018-01-03 01:21] #7548 closed

[2018-01-03 07:17] chrisdutz commented on #7552
Ok. This was what I found out too. Also that kqueue seems to be a copy of epoll (out the other way around). Right now I'm working myself through the details, trying to create a Netty transport in the Apache PLC4X (incubating) project. As soon as that's done I think I'll move that to a pull request for Netty and switch to the Netty version as soon as that's become a part of Netty.

[2018-01-03 08:34] asarkar commented on #7553
@Scottmitch If you don't say, how will I know what the preferred ways are? you commented that the code I posted is fragile, but didn't offer an alternative. I'm not getting any help here :(

[2018-01-03 10:13] Zhangjk2012 opened #7560 "Why netty does not use log4j2 to record internal logs"
in my project, I just only use Log4j which version is 2.10.0. when i ran my project,  I found that netty used the JdkLogger.

the source code is:
[code]

[2018-01-03 10:23] trondarild-lode-tobiassen-heidelberg commented on #7557
I realise SO_REUSEPORT is not an "ChannelOption" in netty. How do you
set it?

On 02.01.2018 22:45, Nick Travers wrote:

[2018-01-03 10:25] johnou commented on #7560
@Zhangjk2012 use the slf4j logging facade with the log4j2 adapter.

[2018-01-03 16:13] amizurov opened #7561 "StompFrame.copy() does not copy headers"
### Expected behavior
Call stompFrame.copy() do copies of content and headers.

### Actual behavior
After call stompFrame.copy() only content was copy.

### Minimal yet complete reproducer code (or URL to code)

 `StompFrame stompFrame = new DefaultStompFrame(StompCommand.CONNECT);`
 `stompFrame.headers().set(StompHeaders.HOST, "localhost");`
 `StompFrame copyFrame = stompFrame.copy();`
 `Assert.a

[2018-01-03 19:26] nicktrav commented on #7557
@trondarild-lode-tobiassen-heidelberg - that option is available to the Epoll and Kqueue transports.

For example, epoll on Linux:
[code]

or KQueue on BSD / macOS:
[code]

[2018-01-03 19:44] trondarild-lode-tobiassen-heidelberg commented on #7557
Thanks a lot!

On 03.01.2018 20:28, Nick Travers wrote:

[2018-01-03 20:32] trondarild-lode-tobiassen-heidelberg commented on #7557
I guess Epoll applies to Android as well?

On 03.01.2018 20:28, Nick Travers wrote:

[2018-01-03 23:31] Scottmitch commented on #7553
An alternative was offered in https://github.com/netty/netty/issues/7553#issuecomment-354879331

[2018-01-04 02:11] Zhangjk2012 commented on #7560
because i found the io.netty.util.internal.logging package has a Log4J2LoggerFactory class and the class has no `Deprecated` annotated . so i thought netty will use log4j2 logging the logs when my project used log4j2 .

[2018-01-04 02:19] Scottmitch commented on #5430
- InternalLoggerFactory. Is the internal logging facade still necessary or can we just pick an existing SPI (e.g `slf4j`, `log4j2`, etc...) and rely upon pre-existing adapters?

[2018-01-04 02:24] Scottmitch commented on #7560
I don't know the history behind why `InternalLogger*` classes were introduced but the intention is to provide an abstraction internal to Netty so we can avoid a dependency on any specific logging api/facade from being wide spread throughout the Netty code base. Whether or not it is necessary any more is debatable and something worth re-visiting as part of the next major release (see https://github

[2018-01-04 02:24] #7560 closed

[2018-01-04 02:38] Scottmitch commented on #7552
Yes there is a large amount of overlap. We have not yet attempted to consolidate more code between these two transports because there were "enough" actual differences and unfortunately the class hierarchy is meaningful in both cases.

For raw sockets would you need to implement an entirely new selector mechanisms (and associated transport/event loop), or would this just be another channel type in

[2018-01-04 07:09] chrisdutz commented on #7552
I have no idea on what I would need. Right now I'm working on this with very little as I'm still on holidays, but when I'm back at work next week, I'll greatly increase the efforts.

Right now I'm trying to find out what the different parts are, what they do, why they are needed and what I would need. Unfortunately there is very little documentation so it's a little tricky.

Right now I think all

[2018-01-04 07:46] trustin commented on #5430
At the time of the introduction of `InternalLoggerFactory`, SLF4J was not the dominant logging API yet and I hoped no additional dependencies. It's probably OK to ditch `InternalLoggerFactory` now?

[2018-01-04 10:35] asarkar commented on #7553
Perhaps it's my inexperience with Netty, but I was under the impression that the implementation I posted was in fact, adding a header. After seeing your comment, I created the following that I'm now adding before `HttpContentDecompressor`. Is this what you suggested?

[code]

[2018-01-04 13:23] seiferff commented on #7497
@normanmaurer  can you show more code for example ?  I can not understand .

[2018-01-04 17:49] rschmitt commented on #7550
Thanks for the information! Is this documented anywhere?

[2018-01-04 19:08] Scottmitch commented on #7553
In general yes the approach is to create a ChannelHandler, and insert it in the pipeline in-between `HttpCodec` and `HttpContentDecompressor`. I don't understand why you are iterating the headers, and I don't see where you are using `Content-Type` header value so that `Content-Encoding` is set correctly. I would expect something like:

check if `headers.get(HttpHeaderNames.CONTENT_TYPE)` is `appli

[2018-01-04 19:28] Scottmitch commented on #7552
Yes this is not a very common area for folks to tread in. If you develop any useful documentation along the way, PRs are welcome.

I haven't investigated, but I'm hopeful raw socket will just be a new channel type in epoll/kqueue, and will not require its own full transport. I would expect some additions to `transport-native-unix-common` for the raw socket operations.

[2018-01-04 19:46] asarkar commented on #7553
Got it, thanks.

I set the `Content-Encoding = gzip` so that `HttpContentDecompressor` works, and the `Content-Type = application/json` so that Spring decoder later parses the JSON. If I remove `Content-Type`, Spring won't know it's JSON.

I made the code generic, such that it can overwrite any header passed in by the caller, not just two.

[2018-01-04 23:29] sprsquish opened #7565 "Wrapped direct ByteBufs do not respect the position of the underlying buffer"
### Expected behavior

If I create a MappedByteBuffer then change it's position and limit then wrap that buffer, the ByteBuf should respect that position/offset.

### Actual behavior

`ReadOnlyUnsafeDirectByteBuf` does not respect the position of the underlying MappedByteBuffer and will start at the base address rather than the position.

### Steps to reproduce

[code]

### Minimal yet complete re

[2018-01-05 01:58] asarkar opened #7566 "JdkZlibDecoder ignores everything but first GZIP stream, non-compliant with RFC 1952"
### Expected behavior
gzip content is fully consumed
### Actual behavior
gzip content is partially consumed
### Steps to reproduce
n/a
### Minimal yet complete reproducer code (or URL to code)
n/a
### Netty version
4.1.17
### JVM version (e.g. `java -version`)
n/a
### OS version (e.g. `uname -a`)
n/a

I'm using Spring WebClient to read a large (12 million records) gzipped response. I've set up the

[2018-01-05 04:29] DATuan91 commented on #5430
#1706
#7557
Plan to address multithreaded UDP issues?

[2018-01-05 05:02] ztkmkoo commented on #7549
[code]
I found if i create multiple EventLoopGroup cause this error.

[2018-01-05 05:23] ztkmkoo commented on #7549
Ref issue [EventLoopException at client side on load #639](https://github.com/netty/netty/issues/639)

`trustin`

[2018-01-05 06:37] ztkmkoo commented on #7549
Eventually(?) Error was throwed here.

[code]

In my local pc(windows)
at some limit,
WindowsSelectorProvider cannot open selector.

[2018-01-05 07:05] 20140103 opened #7568 "No field threadProperties in"
### Expected behavior
gzip content is fully consumed
### Actual behavior
gzip content is fully consumed
### Steps to reproduce
n/a
### Minimal yet complete reproducer code (or URL to code)
public ChannelFuture start() throws InterruptedException {
        workerGroup = new NioEventLoopGroup();

        Bootstrap bootstrap = new Bootstrap();
        bootstrap.group(workerGroup)
                .cha

[2018-01-05 08:31] ztkmkoo commented on #7549
![image](https://user-images.githubusercontent.com/26991409/34601170-1a96a094-f23e-11e7-9f0c-897188daa8b1.png)

It my code `Call Stack`.

[2018-01-05 09:58] normanmaurer commented on #7568
Seems like a Netty Version mixup... ensure you either only have 4.0.x or 4.1.x on the classpath

[2018-01-05 10:02] litangyu commented on #7546
@normanmaurer I think the exception is the problem of Netty.

[code]

Because,I tried to create a server-side SSLServerSocket using the native SSLContext. And the mistake was not found again. But I don't know exactly where it went wrong, and I haven't found the code that could go wrong.

I use that code to create the SSLServerSocket and it work good.
[code]

[2018-01-05 10:26] litangyu commented on #7546
@normanmaurer  I upload my test app [MITMProxy-for-Android](https://github.com/litangyu/MITMProxy-for-Android). It using Netty as the base framework to create a proxy server. And listening port 9999 on Android Device.It mainly uses intermediate man attacks to capture traffic.

[2018-01-05 16:25] sunrenjie opened #7569 "Possible (trivial) improvement on SelectedSelectionKeySet"
### Expected behavior
https://github.com/netty/netty/blob/795f318c3c11ec0520e7acd963ad4b310c287c20/transport/src/main/java/io/netty/channel/nio/SelectedSelectionKeySet.java
If we are idle and last select does not add any SelectionKey, then the array behind SelectedSelectionKeySet is not touched (size==0) at all and reset() shall essentially be noop.

While optimizing reset() here may not bring abo

[2018-01-06 05:53] yschimke commented on #7566
Quite a lot of relevant discussion on the OkHttp issue that is linked to above https://github.com/square/okhttp/issues/3759

[2018-01-08 04:48] asarkar commented on #6545
@chhsiao90 I'm also trying to unit test the same class. What did you end up doing?

[2018-01-08 09:53] golimarrrr opened #7570 "Does netty honor -DsocksProxyHost and -DsocksProxyPort?"
I'm running an application that uses Netty (v3.10.6.Final), and don't have the source code so I thought I could use the -DsocksProxyHost and -DsocksProxyPort args for the JVM, to make the connections go through a running SOCKS server and reach some final machines
### Expected behavior
I expected the application to try to connect to the SOCKS server address/port
### Actual behavior
The application

[2018-01-08 09:57] chhsiao90 commented on #6545
hi @asarkar -EmbeddedChannel was used in unit test for my case, so I use some mock library to prevent the bootstrapping of an EmbeddedChannel..

[2018-01-08 10:00] asarkar commented on #6545
@chhsiao90 Hmm. I could get bootstrap working in unit test so I took it out using a factory class. It's cleaner design, but still bothering me. Netty has good examples, but sadly no accompanying unit testing samples.

Here my learning project: https://github.com/asarkar/kotlin/tree/master/netty-learning/joke-proxy

[2018-01-08 12:16] normanmaurer commented on #7570
As you already found out it’s not supported... also 3.x is EOL

[2018-01-08 12:36] golimarrrr commented on #7570
Ok, thought that the JVM did the tunneling (i.e. that you don't need to support it on your application)

[2018-01-09 04:32] oakad opened #7571 "Attribute should support "computeIfAbsent" method"
An useful pattern in channel attributes is an optional attribute, which is created only if needed, to the tune:

[code]
Clearly, such a pattern results in unnecessary allocations of `UsefulObject`s, which are immediately discarded.

Thus, it will be most helpful if `Attribute` supported an atomic `computeIfAbsent` method, taking a functionally compatible interface as an argument.

[code]

[2018-01-09 07:17] chhsiao90 commented on #6545
@asarkar - agreed! that's what I'm doing too, create a channel factory instead of using bootstrap directly. And writing unit test is always hard....

[2018-01-09 18:08] asarkar commented on #7566
It has been established in https://github.com/square/okhttp/issues/3759 that this is a bug and non-compliant behavior with [RFC 1952[https://tools.ietf.org/html/rfc1952)

[2018-01-09 20:20] madgnome commented on #2646
I'll have a go at this since there hasn't been much progress.

Plan of attack:

- Implement caching as a `ChannelDuplexHandler`. Outbound will shortcircuit and return cache value (if request can be served from cache and cache entry available). Inbound will response with appropriate cache header to the cache
- Ideally the handler should work with HTTP/2 as well.
- Have a generic `CacheStorage` inte

[2018-01-09 21:51] AlexLaviolette commented on #6509
Any update on this? More relevant now with the disclosure of [spectre/meltdown](https://www.chromium.org/Home/chromium-security/ssca)

[2018-01-09 21:59] slandelle commented on #6509
It seems that FireFox 58 will be supporting it too: https://github.com/mozilla/http-observatory/issues/64#issuecomment-348821473

But sadly, that doesn't change the API breakage problem :(

[2018-01-10 04:33] sunrenjie commented on #7569
Such idleness shall be rare. :)

[2018-01-10 04:33] #7569 closed

[2018-01-10 06:20] krischung opened #7574 "sometimes IllegalReferenceCountException is thrown in IdleStateHandler"
### Expected behavior
No Exception should be thrown
### Actual behavior
[code]
### Steps to reproduce
We use netty to developing a tcp socket server to be a pub/sub platform.
Client A -> Server decode and store package content in a new ByteBuf object (Unpooled.buffer())
Server forward this new ByteBuf object to Client B and Client C.

### Minimal yet complete reproducer code (or URL to code)
Here

[2018-01-10 09:12] krischung commented on #7574
https://github.com/netty/netty/issues/1353
I found a similar issue.
We need to use retain() for increase reference count of Unpooled buffer.
So close it.

[2018-01-10 09:12] #7574 closed

[2018-01-10 21:29] sschepens commented on #7515
@merlimat any progress on this? we're affected when trying to use `pulsar-client` on netty greater than 4.1.12

[2018-01-11 10:17] merlimat commented on #7515
I found that it is related to the `DoubleByteBuf` class we're using. `DoubleByteBuf` is a read-only wrapper to hold 2 ByteBufs. It's less expensive that a `CompositeByteBuf` because it doesn't need to keep a list of buffer and also the object itself is recyclable.

The error only happens (starting from 4.1.13) when using direct buffers. I have a minimal client that reproduce the problem: https://g

[2018-01-11 14:57] sschepens commented on #7515
@merlimat I think Pulsar's `DoubleByteBuf` is not playing well with native transports, I managed to fix this, but I don't know if it's the right fix, i created a pr https://github.com/apache/incubator-pulsar/pull/1056

[2018-01-11 15:36] sschepens commented on #7515
@normanmaurer @merlimat I found the breaking change in netty, though the change seems OK, it's bad behavior of `DoubleByteBuf` that's causing the issue.

`UnixChannelUtil` changed its `isBufferCopyNeededForWrite` logic from:
[code]
To:
[code]

Pulsar's `DoubleByteBuf` always returns `false` to `hasMemoryAddress()` but returns `true` to `isDirect` if it's components are direct, therefore, netty is

[2018-01-11 18:03] merlimat commented on #7515
nice finding @sschepens. Closing this issue since it's clear the problem is on our side :)

[2018-01-11 18:03] #7515 closed

[2018-01-12 01:58] normanmaurer commented on #7515
Thanks a lot !

[2018-01-12 03:04] mossen commented on #7477
@carl-mastrangelo Thanks to pull me in by your mentioning 👍

[2018-01-13 04:35] laosijikaichele opened #7576 "why set Thread.MAX_PRIORITY as default priority level on NioEventLoopGroup thread?"
Actually this is a question, normally we set thread level as `Thread.NORM_PRIORITY`. but I see when doing `new NioEventLoopGroup()`, netty will create threads with `MAX_PRIORITY`, why is that?

[2018-01-13 09:21] normanmaurer commented on #7546
So you figured it out ?

[2018-01-13 22:05] asarkar commented on #7566
@normanmaurer @yschimke Please review my MR.

[2018-01-14 06:34] asarkar opened #7578 "Making contributions should be easier"
### Expected behavior
Someone intending to contribute should be able to set up their development environment quickly and easily.

### Actual behavior
Development environment [setup](http://netty.io/wiki/setting-up-development-environment.html) requires several manual steps:
- Local Maven installation is required.
- Git line-ending manual configuration is required.

[2018-01-14 07:32] laosijikaichele commented on #7560
reason and discussion can be found here: https://github.com/netty/netty/issues/64

[2018-01-14 12:37] normanmaurer commented on #7576
@laosijikaichele You can change this by either use your own `Executor` or `ThreadFactory` when create the `NioEventLoopGroup`. Its just the default that netty uses when you not specify it yourself as we consider the IO the most "important" work to do.

[2018-01-14 12:37] #7576 closed

[2018-01-14 12:39] normanmaurer commented on #7571
@oakad This will be a breaking change as it will change the `Attribute` interface. This will have to wait until the next major version or until we switch to using java8 and so can use default methods.

[2018-01-14 12:39] #7570 closed

[2018-01-14 12:40] normanmaurer commented on #7568
Please do what I suggested and re-open if you still see the issue

[2018-01-14 12:40] #7568 closed

[2018-01-14 13:02] normanmaurer commented on #7565
@sprsquish PTAL https://github.com/netty/netty/pull/7580 this should fix it. And thanks for the test code :)

[2018-01-14 21:54] asarkar opened #7581 "Compile against Java 8"
### Expected behavior
Produced bytecode is targeted for Java 8. It is almost 4 years since Java 8 was released, and more than a decade since Java 6 was released. I don't want to make this ticket into "new features in Java 7 and 8", since there are millions of posts/articles on that, but the benefits are obvious.

Extreme affinity for backward compatibility is progress killer. Java `Thread` class s

[2018-01-14 22:18] fenik17 commented on #7581
This is in the plans: #5430

[2018-01-15 08:23] normanmaurer commented on #7581
Yep netty 5... I will start to kick of discussions for the next major version in the next few weeks.

[2018-01-15 08:36] normanmaurer commented on #7548
@RikkiGibson let me know if it worked :)

[2018-01-15 08:39] normanmaurer commented on #7497
[code]

[2018-01-15 08:39] #7497 closed

[2018-01-15 08:40] normanmaurer commented on #7553
@asarkar so can we close this issue ?

[2018-01-15 08:41] normanmaurer commented on #2646
Sounds good in general. Will need to see some code tho ;)

[2018-01-15 08:42] normanmaurer commented on #7477
Thanks for closing the loop

[2018-01-15 08:45] asarkar commented on #7553
@normanmaurer Is your take on this the same as Scott's? I'm not sure why having a way for clients to look at other headers can't be entertained? Yes, it may not be 100% compliant with the RFC, but the client would knowingly make that decision, and it doesn't make Netty non-compliant.

[2018-01-15 09:01] slandelle commented on #2646
FYI, there's a ongoing discussion about introducing non shared caching in AHC: https://github.com/AsyncHttpClient/async-http-client/issues/1427

There's a lot of material in Play! to pick ideas from.

[2018-01-15 10:13] slandelle opened #7582 "HTTP decoders should directly decode a Full object when body is empty."
### Expected behavior

(original idea of @vietj)

Netty should be optimized for HTTP requests without a body, which is the most common use case.

Netty should be able to detect such empty body and let users process such request in one single event loop run.

### Actual behavior

User code has to process 2 events (`HttpResponse` and `LastHttpContent#EMPTY_LAST_CONTENT`) or having to resort to `Http

[2018-01-15 12:02] johnou opened #7583 "io.netty.resolver.dns.DnsNameResolver#doResolveCached race condition"
### Expected behavior

No exception.

### Actual behavior

[code]

### Steps to reproduce

No reproducer.

### Minimal yet complete reproducer code (or URL to code)

n/a

### Netty version

4.1.19.Final

### JVM version (e.g. `java -version`)

java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

### OS vers

[2018-01-15 12:06] johnou commented on #7583
Some notes..

Might make more sense for io.netty.resolver.dns.DefaultDnsCache#get to return something like this to avoid concurrency issues with the list..

[code]
otherwise we probably need to add a double check in the sync block to  io.netty.resolver.dns.DnsNameResolver#doResolveAllCached and io.netty.resolver.dns.DnsNameResolver#doResolveCached..

[code]

[2018-01-15 12:07] johnou commented on #7583
cc @mrniko

[2018-01-15 12:09] mrniko commented on #7583
Seems it's a netty related bug? do you use 4.1.19 version?

[2018-01-15 12:10] johnou commented on #7528
@normanmaurer shall we close this in favour of https://github.com/netty/netty/pull/7551? In the long run I think https://gist.github.com/johnou/b15c98dc34090f445068a787f40d69e8 would make more sense for LengthFieldPrepender but that might require waiting for the next major release.

[2018-01-15 13:22] normanmaurer commented on #7583
Fixed by https://github.com/netty/netty/pull/7584... return a new `ArrayList` will produce too much GC :(

[2018-01-15 13:23] johnou commented on #7583
@normanmaurer yeah figured as much, that's why I also mentioned the double check on the size in the sync block.

[2018-01-15 13:38] johnou commented on #7583
@normanmaurer thanks for the quick response!

[2018-01-15 14:23] normanmaurer commented on #7583
That said I think we may want to do something smarter in the long run. But I think the fix is ok for now.

[2018-01-15 14:41] normanmaurer commented on #7581
Let me close it as it is already contained in #5430

[2018-01-15 14:41] #7581 closed

[2018-01-16 01:27] asarkar opened #7585 "Provide a Docker image for reproducible builds"
### Expected behavior
Developer can build on any platform using a Docker image without having to install additional native packages. Simply cloning the repo and following an one-liner build command should be enough.

We should provide a fully-configured Docker image, and also configure the TeamCity CI to use it (I hope it has support for Docker). That way, every build will be reproducible without

[2018-01-16 08:26] wxyjuly commented on #4466
come on , waiting for next time updated

[2018-01-16 10:44] ppalaga opened #7586 "Check/enforce backwards compatibility for patch releases"
### Expected behavior

Patch releases of the same major.minor version should follow strict rules that will guarantee that for any _x_, _y_ and _z_ , any code compiled against netty _x.y.z_ will have no API compatibility issues to run with _x.y.z+1_

This is something @normanmaurer and @Scottmitch seem to be implying in https://github.com/netty/netty/issues/6752 and perhaps also elsewhere.

### Act

[2018-01-16 10:48] slandelle commented on #7586
@ppalaga This class is annotated [@UnstableApi](https://github.com/netty/netty/blob/e074df2ae6501d99921543369198c53e4d99ed1b/resolver-dns/src/main/java/io/netty/resolver/dns/DnsAddressResolverGroup.java#L42) to advertise that it is still in incubation and subject to changes.

[2018-01-16 10:58] ppalaga commented on #7586
I wonder do you have checks in place guaranteeing that stable parts do not depend on parts marked as @UnstableApi?

Do you offer a distro that has the @UnstableApi parts stripped away? If not, would such distro be possible in theory at least?

[2018-01-16 11:39] normanmaurer commented on #7583
@johnou please check https://github.com/netty/netty/pull/7587 ... I think this is a more proper fix

[2018-01-16 13:02] ivankelly opened #7588 "Netty NOTICE doesn't cover Apache Harmony's notice"
... which is required by the ASLv2.

https://www.apache.org/licenses/LICENSE-2.0 (section 4d.)

[2018-01-16 13:07] normanmaurer commented on #7588
@ivankelly ups... this most be an oversight... you want to do a PR ?

[2018-01-16 13:14] ivankelly commented on #7588
Can do, though it would probably be better for the person who originally pulled the harmony code to do so, so that you know what to bubble up. The original change was by @trustin (https://github.com/netty/netty/commit/681d46). From what I can tell it came from one of the last harmony releases, but I'm just guessing.

[2018-01-16 13:30] lkoe commented on #6343
@Viyond no real conclusion. In the end we tweaked some parameters to make the immediate exception go away in our environments.

We set those JVM params: `-XX:MaxDirectMemorySize=1G -Dio.netty.allocator.pageSize=8192 -Dio.netty.allocator.maxOrder=10`
In my (limited) understanding this results to 8 MB of reserved direct memory per allocated buffer, thus fitting 128 buffers in 1G of direct memory. Th

[2018-01-16 13:56] johnou commented on #7588
@ivankelly what do you mean by it doesn't cover the notice?

[2018-01-16 14:02] ivankelly commented on #7588
From ASLv2 4d
[code]

Apache harmony has a NOTICE file (as all ASF projects have), and as such this must be included as a readable copy in the derivative work (netty).

[2018-01-16 14:29] trustin commented on #7588
@ivankelly Does this mean this issue will be resolved once we add Harmony's NOTICE file somewhere in our repository? Do we also need to include that file in JAR files?

[2018-01-16 14:50] metlos commented on #7586
If you decide to go ahead with adding the API checks to Netty build, I'm more than happy to help out with that...

[2018-01-16 15:20] ivankelly commented on #7588
@trustin I don't think you need, nor should, pull in the whole notice file. From ASLv2 4d, "excluding those notices that do not pertain to any part of the Derivative Works". The parts you pulled into AsciiString seem to be only from java.lang.String, which is code which IBM contributed to harmony, but they assigned copyright to ASF when they did so. I had to dig into this when getting our own NOTI

[2018-01-16 15:20] ivankelly commented on #7588
@trustin but this also depends on where you pulled the harmony code from. Do you remember?

[2018-01-16 15:39] trustin commented on #7588
@ivankelly I think I pulled it in from the official repository. It was a very long time ago, though. Looking into the NOTICE file at: http://svn.apache.org/viewvc/harmony/enhanced/java/trunk/NOTICE?view=markup

Yes, that's correct.

I'm not really sure how our 'partial NOTICE file' has to look like, then. What about this:

[code]

.. or should I remove the IBM part since IBM assigned copyright to

[2018-01-16 15:55] pravinkumarb84 opened #7589 "Failed to get SSL certificates"
I am trying to modify the URI, path of a request in my customer filter, but i am getting "Failed to get SSL certificates" exception. This works fine when i am running the application as http service but when i run it as https, this fails.

Please advice on how to handle this issue.

My code:

ServerHttpRequest request =
exchange
.getRequest()
.mutate()
.uri(URI.create(exchange.getRequest().getURI(

[2018-01-16 15:56] normanmaurer commented on #7589
@pravinkumarb84 you need to open this issue in spring as the exception comes from spring and not netty.

[2018-01-16 15:56] #7589 closed

[2018-01-16 17:12] ivankelly commented on #7588
@trustin AFAIK, regarding the code pulled in, the IBM lines are not needed.

why do you say that the first 6 lines are redundant? It's informing the end user that the project contains code which is copyrighted to the ASF

[2018-01-16 18:21] normanmaurer commented on #7565
Fixed by https://github.com/netty/netty/pull/7580

[2018-01-16 18:21] #7565 closed

[2018-01-16 18:34] Scottmitch commented on #7588
Note that AsciiString has been reworked (IIUC it was removed and brought back) since its original introduction in Netty. @trustin - can you verify if the attribution is still necessary?

[2018-01-17 03:43] Zhangjk2012 commented on #7560
@laosijikaichele ths a lot

[2018-01-17 05:11] #7566 closed

[2018-01-17 05:19] normanmaurer commented on #7566
Merged... @asarkar thanks a lot!

[2018-01-17 06:49] asarkar commented on #7566
@normanmaurer what version will this fix go in, and when will be that available on Maven Central?

[2018-01-17 09:21] ivankelly commented on #7588
@Scottmitch possibly, though the latest asciistring code contains some methods which are strikingly similar to harmony, so i think the need for attribution still stands.

[2018-01-17 09:58] pyr opened #7590 "Should negative content-length headers be treated as bad requests?"
### Expected behavior

I'm on the fence on the expected behavior. The HTTP RFC mandates that when
`content-length` exists, it should be a positive integer or zero, as evidenced in [https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.13].

### Actual behavior

When netty's `HttpObjectDecoder` encounters a negative `content-length` header, it assumes that no content length has
been specifi

[2018-01-17 12:12] trustin commented on #7588
Because we mentioned that in our NOTICE.txt file although it's not verbatim. I can add it anyway, though. Will send a PR this week.

[2018-01-17 12:15] ivankelly commented on #7588
Are you sure? I don't see it.

[2018-01-17 13:32] jshans40 opened #7592 "Netty Support MPEG-DASH?"
I am trying to make a real-time broadcasting application.
Does Netty support MPEG-DASH?

[2018-01-17 14:36] #6511 closed

[2018-01-17 15:47] #7592 closed

[2018-01-17 17:58] normanmaurer commented on #7566
@asarkar once we release... most likely end of the week or early next week.

[2018-01-17 21:40] trustin commented on #7588
@ivankelly https://github.com/netty/netty/blob/4.1/NOTICE.txt#L61 It's just an implicit mention, so let me just make it clear by adding the file.

[2018-01-17 22:15] Scottmitch commented on #7588
@ivankelly - out of curiosity can you point out which methods?

[2018-01-17 22:27] electrum opened #7593 "Add fatal level for leak detector"
It would be helpful to have a `FATAL` level that is the same as `PARANOID` but does a `System.exit(1)` for use in integration tests. The Maven Surefire plugin doesn't have a facility to fail the build based on test output, so this would allow it to work easily out-of-the-box.

[2018-01-18 10:01] ivankelly commented on #7588
@trustin ah, ya, i think that's a little too implicit :)

[2018-01-18 10:08] ivankelly commented on #7588
@Scottmitch
one is "int indexOf(CharSequence subString, int start)"

From apache-harmony-6.0-src-r991881 String.java:
[code]

From AsciiString.java:
[code]

The comments are a giveaway

[2018-01-18 10:13] johnou commented on #7588
tbh it looks like the code was rewritten (with flow changes and improvements) the comments could easily be rewritten too if that's a problem.

[2018-01-18 10:14] ivankelly commented on #7588
@johnou It's still a derivative work.

[2018-01-18 15:08] normanmaurer commented on #7593
@electrum may want to provide a PR ?

[2018-01-18 15:24] normanmaurer commented on #7585
Fixed by https://github.com/netty/netty/pull/7594 ... @asarkar PTAL

[2018-01-18 15:52] normanmaurer commented on #7586
@ppalaga no we not have any checks in place that "stable" parts not depend on "unstable" parts. The unstable parts are mainly meant to be something that may change over time and you can not depend on its API to be stable for now.

[2018-01-18 15:53] normanmaurer commented on #5430
* Attribute should support "computeIfAbsent" method : https://github.com/netty/netty/issues/7571

[2018-01-18 15:53] normanmaurer commented on #7571
Closing this and adding it to https://github.com/netty/netty/issues/5430

[2018-01-18 15:53] #7571 closed

[2018-01-18 15:54] normanmaurer commented on #7549
This has to do with system-limits. You may need to raise some of them or not create so many instances. There is nothing we can do about it

[2018-01-18 15:54] #7549 closed

[2018-01-18 16:30] metlos commented on #7586
I'm not sure to what extent you follow semantic versioning (different projects have different policies for what they allow in different version number increments), but I'm just throwing this here in case you were interested what revapi found between 4.1.0.Final and 4.1.19.Final of the netty-resolver-dns (and anything it transitively exposes in the API): https://diff.revapi.org/?groupId=io.netty&ar

[2018-01-18 16:41] ppalaga commented on #7586
@normanmaurer thanks for the answer. As you may well suspect, my questions are motivated by the following: In large projects that aggregate multiple third party libs (think WildFly or Apache Camel) some of those libs happen to depend on netty. They may naturally choose to compile against various microversions of netty. With this @unstableapi thing, Netty upgrades in the aggregating project thus be

[2018-01-18 19:35] Scottmitch commented on #7588
we should make what ever attribution to Harmony (despite the rework) is required in the NOTICE file.

@trustin - can you take care?

[2018-01-18 20:02] normanmaurer commented on #7588
👍

[2018-01-18 23:26] Bennett-Lynch opened #7595 "Understanding the Http2MultiplexCodec API"
I'm playing around with `Http2MultiplexCodec` for the first time and trying to understand the design/API behind it.

`Http2MultiplexCodecBuilder` requires a `ChannelHandler`.  I was hoping that, similar to `ServerBootstrap#childHandler()`, I could offer it a `ChannelInitializer<SocketChannel>`, in which I declare any arbitrary number of inbound/outbound `ChannelHandler`s for my child channel's pip

[2018-01-18 23:37] Bennett-Lynch commented on #7595
Figured out my problem... was declaring a `ChannelInitializer<SocketChannel>`, when I should have just been declaring a `ChannelInitializer<Channel>`.  Changing it to that allowed it to behave as expected.

[2018-01-18 23:37] #7595 closed

[2018-01-19 04:49] nibuen commented on #7556
Possibly a different ticket, but also to note with Android API 26+ assuming java 6 for Android is no longer true.  For example NIO Datagram Channels are supported now assuming Android developer targets/uses that minimum version, but with isAndroid() check in class makes it not avaliable on Android and unit tests.

[2018-01-19 14:38] KowalczykBartek commented on #7593
I am willing to do this (easy picking ;D) but - can you @electrum tell what is scenario for this failing Maven Surefire plugin ? how I can reproduce this ?

[2018-01-19 18:54] Bennett-Lynch opened #7599 "Writing an Http2 client with Http2MultiplexCodec"
I'm trying to write an Http2 client using the new `Http2MultiplexCodec` API, and I'm struggling a bit, especially since there's still [no client example](https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/http2/helloworld) using thew new API.

Since it's still lacking some documentation, here's my understanding of the API -- please correct me if anything's wrong:

- You

[2018-01-19 18:59] Bennett-Lynch commented on #7599
Just noticed that part of the problem might be that the new API is not specifying the stream ID using `ExtensionHeaderNames.STREAM_ID` -- which I'm currently relying on.  A working example would help a lot of this header is not being used anymore.

[2018-01-20 03:52] #7412 closed

[2018-01-20 09:53] slandelle commented on #5430
* Decide what to do with `ChannelOption#AUTO_CLOSE`. Will it be removed? Will it be kept and hence should be un-deprecated in 4.1?

[2018-01-20 11:15] doom369 commented on #5430
My 5 cents if you don't mind:

- similar to other handlers style for the ssl handler creation (`new SslHandler(sslCtx)` instead of `sslCtx.newHandler()`);
- Alternative to `ctx.write(msg, ctx.voidPromise())`, maybe something like `ctx.writeVoid(msg)`;
- Replace `CharsetUtil` constants with `StandardCharsets`;
- Consider removal/switch of `AsciiString` to `String` for Java 9 and above (requires ben

[2018-01-22 06:58] #7583 closed

[2018-01-22 11:28] Mahdihp opened #7602 "Using Netty to Android to Create Instance Messenger :"
Using Netty to Android to Create Instance Messenger : What's the way ?

[2018-01-22 12:38] normanmaurer commented on #7602
This is an issue tracker... use stack overflow for questions.

[2018-01-22 12:38] #7602 closed

[2018-01-22 13:20] cy6erGn0m opened #7603 "HTTP/2 Http2MultiplexCodec/Http2FrameCodec push promise support"
Currently it looks like there is no way to start a new stream via push promise. So for now I do the following:

[code]

[2018-01-22 13:23] slandelle commented on #5430
Consider dropping initial WebSocket drafts support and only support latest revision.
At the very least, share classes instead of copy-pasting: `WebSocketClientHandshaker07`/`WebSocketClientHandshaker08`/`WebSocketClientHandshaker13` and `WebSocketServerHandshaker07`/`WebSocketServerHandshaker08`/`WebSocketServerHandshaker13`

[2018-01-22 18:01] mingslogar opened #7605 "MultithreadEventExecutorGroup unsafe constructor"
### Expected behavior
`io.netty.util.concurrent.MultithreadEventExecutorGroup#MultithreadEventExecutorGroup(int, java.util.concurrent.Executor, io.netty.util.concurrent.EventExecutorChooserFactory, java.lang.Object...)`

See https://stackoverflow.com/a/15327631/2179987 -- a constructor should never call a method that is not private and/or final.

In this case, we're calling `newChild`, a function

[2018-01-22 19:03] normanmaurer commented on #7585
Fixed by https://github.com/netty/netty/pull/7594

[2018-01-22 19:03] #7585 closed

[2018-01-22 23:34] Scottmitch commented on #7556
@bsideup - Netty has a (bad?) habit of using static state for configuration, which can make testing challenging. However I would prefer to avoid a file based approach which brings in new conventions and dependencies to initialization (which may block) if it can be avoided. If we need to add a programatic way to override the value and your project wants to drive this value based upon a configuratio

[2018-01-22 23:48] Scottmitch commented on #7599
Yes you will need to use `Http2StreamChannelBootstrap`. Until we get around to adding an example you can see usages of this class in [Http2MultiplexCodecTest](https://github.com/netty/netty/blob/4.1/codec-http2/src/test/java/io/netty/handler/codec/http2/Http2MultiplexCodecTest.java#L200).

For outbound streams the stream IDs are assigned by the codec at the appropriate time behind the scenes (e.g.

[2018-01-23 00:07] bryce-anderson opened #7607 "Http2MultiplexCodec leaks ping payloads"
### Expected behavior

The payload of a PingFrame would be released or passed somewhere into the application for consumption.

### Actual behavior

It appears that `Http2PingFrame`s are dropped on the floor in the [`Http2MultiplexCodec.onHttp2Frame`](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2MultiplexCodec.java#L219) method.

### Steps to r

[2018-01-23 00:30] bryce-anderson commented on #7607
Test case
[code]
 posted [here](https://github.com/bryce-anderson/netty/commit/37cdcd4defa853e5b9883c9bbea60e91a72ac5c6#diff-da759abb652d5db65698f9baf72b9ed2) results in
[code]

[2018-01-23 00:33] bryce-anderson commented on #7607
If I can get someone to sanity check this the fix is trivial, and I'm happy to do it.

[2018-01-23 01:33] Scottmitch commented on #7599
The initial settings can be set in [Http2FrameCodecBuilder](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2FrameCodecBuilder.java#L61-L64). You don't necessarily have to wait for the settings like in this example. However you should wait for the `Http2ConnectionPrefaceAndSettingsFrameWrittenEvent` user event on the client side before you start w

[2018-01-23 02:10] Scottmitch commented on #7578
Were the docs not clear/complete/correct, and was there any place that was particularly challenging. Do you have any suggestions on how to improve this process?

[2018-01-23 02:16] Scottmitch commented on #7607
Your assessment seems correct to me. It has been a while but I think the though process at the time was "we aren't sure if the user will need to care about ping (or ping ack) yet so lets drop it". However we retain the `ByteBuf` so that approach is inconsistent. My vote would be to propagate this through the parent channel's pipeline (as a channel read) so the user has visibility into it (instead

[2018-01-23 03:03] Scottmitch commented on #5430
I think we need to keep it in order to ensure we are able to read data in the event the peer has closed its end of the socket and we detect the closure on a write operation before we yet attempted to read (there maybe data pending to read).

[2018-01-23 03:06] Scottmitch commented on #5430
thanks @doom369 ... we have discussed this numerous time and looks like I forgot to put this on the list!

[2018-01-23 03:11] bryce-anderson commented on #7607
Note that users can also intercept these messages via wrapping the `FrameListener`, although that's a bit intricate to setup.

[2018-01-23 03:25] Scottmitch commented on #7607
`codec-http2` currently has two flavors of APIs:
- `Http2ConnectionHandler` and `FrameListener` - the initial API, lots of hours/usage on this code, low object allocation, not canonical Netty design (extensibility via the channel pipeline is challenging)
- `Http2FrameCodec` and `Http2MultiplexCodec` - new API design which is more canonical Netty, more object allocation, not as much hours/usage (th

[2018-01-23 08:11] litangyu commented on #7546
It's still not clear.
I'm try create a other project. And the project work good. So maybe i will figured it out when another time.

[2018-01-23 08:24] laosijikaichele opened #7609 "should add java-doc for method DefaultPromise#cancel(boolean mayInterruptIfRunning)"
### Expected behavior
implementation of method `io.netty.util.concurrent.DefaultPromise#cancel(boolean mayInterruptIfRunning)` actually ignored the param `mayInterruptIfRunning`.
so it need to make a comment like following:
(this comment is copied from `java.util.concurrent.CompletableFuture#cancel`):

the other method `io.netty.util.concurrent.CompleteFuture#cancel` may do the same too.
### Actua

[2018-01-23 10:36] normanmaurer commented on #7590
@ejona86 @Scottmitch @carl-mastrangelo WDYT ?

[2018-01-23 10:38] normanmaurer commented on #7607
I think what @Scottmitch proposes makes sense here. @bryce-anderson please go ahead and implement it or let us know if you have no time and we should do once we have cycles.

[2018-01-23 10:40] normanmaurer commented on #7609
@laosijikaichele PRs welcome... that said I am not sure if we need anything here as `mayInterruptIfRunning` already signals that it may interrupt or not.

[2018-01-23 11:05] velikanov commented on #5936
@honyee you know what I want to write here :)

[2018-01-23 11:33] doom369 opened #7611 "Regression for file upload handler after updating from 4.1.19 to 4.1.20"
After netty update 4.1.19 -> 4.1.20. Some of my upload tests start to fail. With next exception

[code]

One more:

[code]

Source code of handler - https://github.com/blynkkk/blynk-server/blob/master/server/http-core/src/main/java/cc/blynk/core/http/handlers/UploadHandler.java

Look like regression was introduced with - https://github.com/netty/netty/pull/7527 (just a guess).

I'm not sure is tha

[2018-01-23 15:47] bryce-anderson commented on #7607
PR submitted. https://github.com/netty/netty/pull/7612

I suppose having a downstream handler gives the user a vector for sending and receiving pings so propagating unhandled frames downstream seems right to me too unless you have plans to offer a first class API for pings.

[2018-01-23 16:32] laosijikaichele opened #7613 "tests in error under netty-transport module"
### Expected behavior
run `mvn test` under netty/transport, should finish successfully.
### Actual behavior

  NioSocketChannelTest.testChannelReRegisterReadDifferentEventLoop:167->testChannelReRegisterRead:233->Object.wait:502->Object.wait:-2 » TestTimedOut
  NioSocketChannelTest.testChannelReRegisterReadSameEventLoop:162->testChannelReRegisterRead:233->Object.wait:502->Object.wait:-2 » TestTimed

[2018-01-23 16:55] Scottmitch commented on #7613
Seems like the `testChannelReRegister*` tests failed before the connection was established.
- can you increase [the timeouts](https://github.com/netty/netty/blob/4.1/transport/src/test/java/io/netty/channel/nio/NioSocketChannelTest.java#L160) (e.g. to 10 seconds) and run again?
- does this failure happen consistently or sporadically?
- is your machine particularly busy while running the tests?

[2018-01-23 17:06] Scottmitch commented on #7607
The API would be object propagation through the pipeline (just like most other Netty codecs) so I think we are good here.

[2018-01-23 17:09] ejona86 commented on #7607
It seems there's a general problem with Http2MultiplexCodec: it should either release or propagate unknown types. That's what #7612 does. So I'm good with that PR.

However, I don't think we actually want to propagate PINGs, or at least in that way.

I'd suggest two options:
1. Don't propagate inbound PINGs. Instead, let an outbound PING have a Future that will be completed when the PING ACK arriv

[2018-01-23 17:52] Scottmitch commented on #7607
This is not consistent with Netty APIs which typically don't cater to request/response based APIs and instead rely upon the pipeline to propagate data. Since one of the primary goals of the child channel API is to be consistent/canonical with Netty I would suggest we stick with the pipeline approach. Higher layers can build a promise based notification system if that is desired.

The primary motiv

[2018-01-23 17:55] laosijikaichele commented on #7613
@Scottmitch
- I increased timeout to 10 seconds, run 3 times, same errors still occurred.
- I revert the timeout to 3 seconds, run 3 times, same errors still occurred.
- My machine is not busy during running the tests:short time 80% CPU usage before run into NioSocketChannelTest. after NioSocketChannelTest begin running, the CPU usage is pretty low(about 20%).

[2018-01-23 17:57] normanmaurer commented on #7613
@laosijikaichele very strange I am using macOS as well and all just works.

[2018-01-23 18:04] laosijikaichele commented on #7613
@normanmaurer  my macOS installed the following security update several days ago: https://support.apple.com/en-us/HT208397,
does this matter?

[2018-01-23 18:13] laosijikaichele commented on #7609
I am setting up the netty development environment, after that, I will try a PR for this doc issue. :)

[2018-01-23 18:35] Bennett-Lynch commented on #7599
Thanks, slowly working my way through this.

I tried inserting a `ChannelInboundHandlerAdapter` after `Http2MultiplexCodec` (_forClient_) that overrides `userEventTriggered` and checks for `evt instanceof Http2ConnectionPrefaceAndSettingsFrameWrittenEvent` -- this does not seem to be reached.

Also, on an unrelated note, I seem to be having an issue with multiple threads attempting to call `Http2S

[2018-01-23 20:10] jaymode opened #7614 "ThrowableUtil should work without needing reflection permissions"
### Expected behavior
Netty works with a security manager without needing "java.lang.RuntimePermission" "accessDeclaredMembers". The `ThrowableUtil` class should be able to function without the `addSuppressed` method being available.

### Actual behavior
In a environment with a security manager, Netty initialization fails due to the use of [`getDeclaredMethod`](https://github.com/netty/netty/blob/

[2018-01-23 20:21] normanmaurer commented on #7614
I don’t have a lot of experience with security managers, maybe you can provide a or to fix it ?

[2018-01-23 21:50] jaymode commented on #7614
Sure, I opened #7615

[2018-01-24 06:40] laosijikaichele opened #7616 "mvn test failed under netty docker environment"
### Expected behavior
`mvn test` should run successfully in docker environment
### Actual behavior
`mvn test` failed with many failures and errors
 the failure occurred in `handler` module:

console log is attached here:
[netty-docker-mvn-test-console.log](https://github.com/netty/netty/files/1658801/netty-docker-mvn-test-console.log)

### Steps to reproduce
- git clone netty 4.1 branch code
- go

[2018-01-24 06:41] normanmaurer commented on #7616
Again I can not reproduce :( I can build Netty within docker and it’s exactly how the releases are done as well

[2018-01-24 07:27] normanmaurer commented on #7614
@jaymode awesome!

[2018-01-24 08:18] laosijikaichele commented on #7616
@normanmaurer , I switched to google cloud instance with following env:

**Docker version**

**OS version (e.g. uname -a)**

**then do the same docker setting up steps, after run `mvn clean compile` inside docker, got following errors:**
[netty-docker-in-GCP-mvn-compile-console.log](https://github.com/netty/netty/files/1659067/netty-docker-in-GCP-mvn-compile-console.log)

[2018-01-24 08:20] normanmaurer commented on #7616
hmm... I dont see the compile error in the output. Can you add `-X` when you run the `mvn` command ?

Also not sure it really matters but can you try `mvn clean package`

[2018-01-24 08:24] normanmaurer commented on #7614
@jaymode also I would be more then happy to build up some knowledge when it comes to security manager. Can you provide and good resources to get started with ?

[2018-01-24 08:30] laosijikaichele commented on #7616
@normanmaurer  I run `mvn clean package -X`, the errors in output is attached here:
[netty-docker-in-GCP-mvn-clean-package-console.log](https://github.com/netty/netty/files/1659095/netty-docker-in-GCP-mvn-clean-package-console.log)

[2018-01-24 08:32] normanmaurer commented on #7616
Hm... are you sure you have a clean checkout of the 4.1 branch ? what sha are you on ?

[2018-01-24 08:47] laosijikaichele commented on #7616
this is the cmd histrory I set up netty docker env in GCP instance(I delete some wrong typing cmds):

[2018-01-24 09:41] normanmaurer commented on #7605
@mingslogar I wonder how this error can happen tho as it needs to be implemented. Can you give a reproducer ?

[2018-01-24 09:41] normanmaurer commented on #7613
I have the same installed and it just works. Maybe its a firewall ?

[2018-01-24 10:25] hank-whu opened #7617 "ObjectCleanerThread not be closed"
### Netty version
4.1.20.Final

### JVM version (e.g. `java -version`)
9.0.1

### OS version (e.g. `uname -a`)
Windows 10

Non-finished threads:

Thread[DestroyJavaVM,5,main]

Thread[ObjectCleanerThread,1,main]
  at java.base@9.0.1/java.lang.Object.wait(Native Method)
  at java.base@9.0.1/java.lang.ref.ReferenceQueue.remove(ReferenceQueue.java:151)
  at app//io.netty.util.internal.ObjectCleaner$1.

[2018-01-24 10:27] normanmaurer commented on #7617
@hank-whu it should be after 10 seconds maximum if there are no more references: https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/ObjectCleaner.java#L52

Are you sure there are no more references hold ?

[2018-01-24 13:03] amizurov commented on #7613
On my laptop MacOs 10.12.6 (16G1212) its work properly to.

[2018-01-24 13:19] laosijikaichele commented on #7613
@amizurov I think there must be some dependencies/config affect the `mvn test`. I am switching to docker env and try to make it running.

[2018-01-24 13:19] #7613 closed

[2018-01-24 14:59] johnou commented on #7617
@normanmaurer why isn't there a break in the loop if the thread is interrupted? wouldn't that indicate the application is shutting down?

[2018-01-24 15:01] normanmaurer commented on #7617
@johnou I think it should still cary on cleanup until there are no more references as otherwise we may leak direct memory etc. It should only exit once the `LIVE_SET` is empty imho.

[2018-01-24 15:17] johnou commented on #7617
@normanmaurer then how about a daemon thread? Allowing the JVM process to terminate in a timely manner.

[2018-01-24 15:19] normanmaurer commented on #7617
@johnou we decided against a daemon thread to make harder guarantees about cleanup. If it would be a deamon thread we may leak direct memory for example when someone hot-deploy stuff.

Also /cc @Scottmitch , as both of us had the discussion :)

[2018-01-24 16:35] matteobertozzi opened #7620 "HttpPostMultipartRequestDecoder.splitMultipartHeader() String index out of range: -1 with empty Content-Type"
Parsing a multi-part request with an empty content type header: e.g. "Content-Type: "
will produce a java.lang.StringIndexOutOfBoundsException: String index out of range: -1

[code]

[2018-01-24 17:54] matteobertozzi commented on #7620
[code]

[code]

[2018-01-24 17:55] normanmaurer commented on #7620
Maybe you can provide a unit test and fix ?

2018-01-24 18:54 GMT+01:00 Matteo Bertozzi <notifications@github.com>:

[2018-01-24 18:37] matteobertozzi commented on #7620
https://gist.github.com/matteobertozzi/86e1b7d5f4205beee243897050a47069

[2018-01-24 18:39] normanmaurer commented on #7620
@matteobertozzi can you open a PR against 4.1 ?

[2018-01-25 00:07] ejona86 commented on #7607
There was another reason I was doing it: to manage allocating of PING ids. The payload is frequently an ID to keep easier track of what the ACKs mean. Coordinating the allocation is a bit of a problem since there are multiple handlers (including the HTTP/2 code itself) that may need to send them. Normally in Netty there's no need for coordination.

Wait... it's a logger.debug... that's completely

[2018-01-25 04:00] Scottmitch commented on #7607
Agreed `ByteBuf` currently has a high constant overhead and is bloated for small payloads (which is exacerbated by duplication/wrapping). Good point about the payload size. Even if its a few hundred bytes (GOAWAY debug information) it is likely a rare occurrence and may not be worth the extra complexity. I think the main selling point would be consistency, but I agree it doesn't seem worth it. @no

[2018-01-25 04:07] Scottmitch commented on #7613
@laosijikaichele - can you please provide some rational as to why you closed the issue. Was the issue resolved, and if so how?

[2018-01-25 04:25] laosijikaichele commented on #7613
@Scottmitch from this issue https://github.com/netty/netty/issues/7585 , I need to install additional packages on my macOS, I can not do this for some security reason. So I switched to netty-docker env and try to make it running in docker, but I still got `mvn` failed under the docker env, please refer this issue https://github.com/netty/netty/issues/7616.

[2018-01-25 04:52] Scottmitch commented on #7439
@normanmaurer - let’s pick a date. Is 3/1/18 good enough?

[2018-01-25 05:02] Scottmitch commented on #7617
Yes we considered daemon but decided against it. Although I would expect most OSes we run on will clean up process resources after the process dies we can’t be sure of this. Since we allocate native resources outside the scope of the JVM the more conservative approach is to go non daemon. The mitigation factor was to have a timeout on the poll. This may cause issues if some of the jvm shutdown pro

[2018-01-25 06:51] normanmaurer commented on #7439
Yes... I will do and write an announcement as well

[2018-01-25 06:58] slandelle commented on #5430
Improve Cookie API, including #7210 and #6509 (which should be re-opened). In the future, Java 8 default methods will definitively help supporting new cookie attributes without breaking API.

[2018-01-25 07:50] hank-whu commented on #7617
@normanmaurer
shoud i wait 10 seconds after shutdown the EventLoopGroup ?
it doesn't seem like a good way.
can add a "shutdown(long mills)" method to ObjectCleanerThread ?

[2018-01-25 08:01] normanmaurer commented on #7617
@hank-whu it may take up to 10 seconds... That said you can tune this with a system property:

https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/ObjectCleaner.java#L36

[2018-01-25 08:27] johnou commented on #7617
@normanmaurer it can actually stop the jvm from terminating, I'll post more details shortly.

[2018-01-25 08:30] normanmaurer commented on #7617
Thx...

[2018-01-25 08:37] zcc1234567 opened #7625 "worldclock lost data and server handler like blocked"
netty 4.1.20.final
when I use example worldlock for test ,client send 1000 locations data ,but server only received 361 data。There is no exception and server still running,just like blocked。

[2018-01-25 08:42] normanmaurer commented on #7625
this version is very old... please update to latest version.

[2018-01-25 08:46] normanmaurer commented on #7611
@doom369 is it possible to have a netty only reproducer ?

[2018-01-25 08:55] zcc1234567 commented on #7625
really? The latest version is netty-5.0.0.Alpha2,change to Alpha version?

[2018-01-25 08:56] normanmaurer commented on #7625
ah sorry... I did some how read it as `4.0.20` :( So I will need more infos then what you provide to understand whats going on.

[2018-01-25 09:00] doom369 commented on #7611
Sure. Will provide a bit later when I have time.

[2018-01-25 09:05] zcc1234567 commented on #7625
Don't care 。I just edit the client code ,
for (int i = 0;i < 1000; i++) {
            Locations.Builder builder = Locations.newBuilder();

            for (String c : cities) {
                String[] components = DELIM.split(c);
                builder.addLocation(Location.newBuilder().
                        setContinent(Continent.valueOf(components[0].toUpperCase())).

[2018-01-25 09:11] zcc1234567 commented on #7625
I also want to know ,if use ProtobufVarint32FrameDecoder ,Sticky package will never happen.

[2018-01-25 09:17] zcc1234567 commented on #7625
Is there something else need I provide?

[2018-01-25 09:32] hank-whu commented on #7617
Ensure all threads are closed, "wait some time" is the only way.
I think this is not very good.
I need a method to ensure all threads are closed.

[2018-01-25 10:52] johnou commented on #7617
@normanmaurer I would expect something like this to exit gracefully without an explicit System.exit call.

[code]

[2018-01-25 11:14] johnou commented on #7625
@zcc1234567 a small project with full source code that demonstrates the problem would be helpful in diagnosing the problem.

[2018-01-25 13:00] normanmaurer commented on #7617
@hank-whu @johnou https://github.com/netty/netty/pull/7627 PTAL

[2018-01-25 13:06] normanmaurer commented on #7620
Fixed by https://github.com/netty/netty/pull/7622

[2018-01-25 13:06] #7620 closed

[2018-01-25 18:12] ejona86 commented on #7607
No... :''( . If one child channel reads the ByteBuf, then the readerIndex will be changed for all the child channels. So only the first reader gets to see what's inside, unless all readers make sure to avoid updating the readerIndex.

[2018-01-25 18:56] #7614 closed

[2018-01-25 21:26] #7607 closed

[2018-01-25 21:28] mosesn opened #7628 "closing an http/2 stream a second time throws an exception"
h/t to @vkostyukov for finding this issue.  I'm just the messenger!

### Expected behavior

Closing an http/2 stream a second time should not have a performance impact

### Actual behavior

We found this stack trace when we ran the java async-profiler.

[code]

- Netty's internal (server-side) logic closes the stream via [closeForcibly](https://github.com/netty/netty/blob/911b2acc5086415d762a20506

[2018-01-25 21:29] Scottmitch commented on #7607
So there are 2 concerns:

- reference counting. we should be able to manage via `retain`/`release`.
- reader/writer indexes. we should be able to use `duplicate()`/`slice()`.

Does this make sense? This is the design of the `ByteBuf` API and not necessarily new here. Not saying its what we want todo, but its an option IIUC.

[2018-01-25 21:30] mosesn commented on #7628
I think we can fix this by using a different type of promise rather than a void promise.

[2018-01-25 21:32] Scottmitch opened #7629 "HTTP/2 Use of ByteBuf for frames with small content"
Currently `Http2PingFrame` and `Http2GoAwayFrame` are backed by a `ByteBuf`. This was done for consistency reasons but increases the complexity for sharing/reusing these objects. Since is it assumed the payload size for these frames is typically small (<100 bytes) should we instead just use a `byte[]` for these frames to simplify the APIs?

[2018-01-25 21:32] Scottmitch commented on #7629
/cc @ejona86 @normanmaurer @carl-mastrangelo

[2018-01-25 21:33] Scottmitch commented on #7607
lets continue discussion in https://github.com/netty/netty/issues/7629

[2018-01-25 21:35] KowalczykBartek commented on #6663
is this true ? there is no such guarantee when using DEFLATE algorithm, although, I am not experts, just read this
https://www.zlib.net/feldspar.html
http://blog.chenshuo.com/2014/05/incompressible-zlibdeflate-data.html

Second thing, I divided into code, and as much as I understand, behavior that you described is actually proper :) because when you write data without compression, and that data ex

[2018-01-25 21:39] bryce-anderson commented on #7629
For the PING frame it's arguable that you could even use a `long` since the size is exactly 8 bytes and the values are often going to be id's or timestamps, but a `byte[]` is definitely better than a `ByteBuf`. As @ejona86 noted, GOAWAY is less clear as the content doesn't have a size limit other than MAX_FRAME_SIZE, yet they are likely to be small, and allocating a new GOAWAY frame per HTTP/2 ses

[2018-01-25 21:40] ejona86 commented on #7629
PING can use `long` as well. Since it is generally an ID and it is fixed-length, `long` isn't really strange to work with.

Taken from https://github.com/netty/netty/issues/7607#issuecomment-360606631:

`duplicate()` works. That's [what we do today](https://github.com/netty/netty/blob/911b2ac/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2MultiplexCodec.java#L326). However, we need to

[2018-01-25 21:43] ejona86 commented on #7629
To be clear: in this discussion I am trying to optimize the _experience_, not performance. Any talk about performance from me is mainly to point out that `ByteBuf` really doesn't provide us much in these cases.

[2018-01-25 22:06] Scottmitch commented on #7629
+1 if its just 64 bits. Not sure why we also don't do this in the "lower level" API....

I'm in agreement here. Any one have objections to this change?

[2018-01-26 00:15] Scottmitch commented on #7617
@johnou - interesting example! interesting implication of having the main thread running the `main` method is objects referenced from here may not be GC'ed, or at least not detectable by the application.

[2018-01-26 01:42] normanmaurer commented on #7628
Will have a look

[2018-01-26 03:27] carl-mastrangelo commented on #7629
SGTM

[2018-01-26 03:45] zcc1234567 commented on #7625
@johnou ，When I tried another way to send data ，this problem does not happened.I will try my best to find why first.

[2018-01-26 04:26] laosijikaichele opened #7630 "method `io.netty.handler.codec.http2.Http2ConnectionHandler#flush` not compatible with previous version"
After upgraded netty from 4.1.6 to 4.1.20, the following code can not compile:

may be is because of this commit: https://github.com/netty/netty/commit/74f24a5c19f8f351e9c6a7a84bdd9fbcc7a07ada

[2018-01-26 05:04] normanmaurer commented on #7630
What you mean with can not Compile ? It compiles here and on the CI without any problems... if you talk about that the method signature changes then it’s ok as the class is marked as unstable

[2018-01-26 05:27] laosijikaichele commented on #7630
sorry I did not notice the @UnstableApi annotation.
`not compile`  means when I run `mvn compile`  on the code above, it failed with error:`can not throw io.netty.handler.codec.http2.Http2Exception`.
anyway, this is OK because @UnstableApi annotation. I will adjust my own code and close this issue.
Sorry for my mindless.

[2018-01-26 05:27] #7630 closed

[2018-01-26 05:56] ygche commented on #5354
here it is:
http://docs.jboss.org/netty/3.1/guide/html/architecture.html

[2018-01-26 07:15] #7578 closed

[2018-01-26 07:24] normanmaurer commented on #7578
Fixed by https://github.com/netty/netty/pull/7579

[2018-01-26 07:28] normanmaurer commented on #7617
Fixed by https://github.com/netty/netty/pull/7627

[2018-01-26 07:28] #7617 closed

[2018-01-26 07:31] normanmaurer commented on #7561
Fixed by https://github.com/netty/netty/pull/7562

[2018-01-26 07:31] #7561 closed

[2018-01-26 08:13] normanmaurer commented on #7628
@mosesn @vkostyukov thanks a lot... This should fix it https://github.com/netty/netty/pull/7631. Keep the reports coming ;)

[2018-01-26 15:39] johnou commented on #7588
@trustin poke

[2018-01-26 19:01] bryce-anderson opened #7638 "The Http2MultiplexCodec StreamChannel will fire channelInactive without the channel.isOpen method reporting false"
### Expected behavior

When part of a HTTP/2 `StreamChannel` the `StreamChannel.isOpen()` method should report `false` within a call to a `ChannelInboundHandler`s `channelInactive` method.

### Actual behavior

Within the `channelInactive` method, `ctx.channel().isOpen() == true`

### Minimal yet complete reproducer code (or URL to code)

Within the `Http2MultiplexCodecTest:
[code]

Result:
java.l

[2018-01-26 19:01] bryce-anderson commented on #7638
See the discussion in https://github.com/netty/netty/pull/7631 for more details including a possible solution.

[2018-01-26 19:02] normanmaurer commented on #7638
@bryce-anderson thanks a lot! I will fix it :)

[2018-01-26 19:31] carl-mastrangelo opened #7639 "Http2ConnectionHandler shutsdown channel too early when using SSL"
### Expected behavior
Connection read related failures should be noticed before buffered writes.

### Actual behavior
Channel is closed by failing buffered writes too earl

### Steps to reproduce.
https://github.com/grpc/grpc-java/issues/3991

In this issue, gRPC is adding an SSL handler followed by an Http2ConnectionHandler.   When added, the Http2ConnectionHandler writes the preface which is buf

[2018-01-26 19:38] normanmaurer commented on #7638
@bryce-anderson PTAL https://github.com/netty/netty/pull/7640

[2018-01-26 20:25] bryce-anderson opened #7641 "The Promise passed to a StreamChannel.close(..) call will report channel().isOpen() == true in its listeners"
### Expected behavior

When the promise is completed, it's channel should report being closed in the handler.

### Actual behavior

The channel still reports open.

### Minimal yet complete reproducer code (or URL to code)
Test case added to `Http2MultiplexCodecTest`:
[code]

### Netty version
4.1

### JVM version (e.g. `java -version`)
openjdk version "1.8.0_152"

### OS version (e.g. `uname -a`)

[2018-01-26 20:28] bryce-anderson commented on #7641
See https://github.com/netty/netty/pull/7640 for the discussion. The solution is to change the order of promise satisfaction [here](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2MultiplexCodec.java#L893) as `ch.isClose()` is predicated on the state of the `StreamChannel`s `closePromise` [here](https://github.com/netty/netty/blob/4.1/codec-http2

[2018-01-26 20:31] bryce-anderson commented on #7641
Btw, I'm happy to contribute a fix for this. We make heavy use of Netty and are building out on these new API's so I'd personally love to get more involved. That said, fft just fix it if you think its expedient.

[2018-01-26 20:40] ejona86 commented on #7639
I brought up that other things related to this handling _may_ also be putting things on the event loop (or putting them there dependent of the reentrancy counter), such that the channel.close() still happens before they are processed. I didn't look into it at all.

[2018-01-26 20:56] normanmaurer commented on #7641
Sounds good 👌 that said I think you should not re-order the promises but use an extra volatile boolean that is updated before any of the promises is notified. This way the notifications of the promises is also consistent with AbstractChannel and so other transports...

So please provide a PR with the suggestion I made 👍

[2018-01-26 21:10] bryce-anderson commented on #7641
Awesome. I'll work on it once https://github.com/netty/netty/pull/7640 and https://github.com/netty/netty/pull/7631 have merged since they will certainly conflict.

[2018-01-26 21:36] bryce-anderson commented on #7641
Actually, I need some clarification: it looks to me like `AbstractChannel` actually closes the `closeFuture` _before_ the passed `promise` in the `doClose0` method [here](https://github.com/netty/netty/blob/4.1/transport/src/main/java/io/netty/channel/AbstractChannel.java#L761) so reversing the order of promise completion seems like the right thing to do.

This can be demonstrated with the followi

[2018-01-27 02:28] Scottmitch commented on #7641
just catching up ... see https://github.com/netty/netty/pull/7643 ... but as you mentioned there are a bunch of PRs touching the same area at the moment. My suggestion would be to do the following:

1. @normanmaurer - resolve https://github.com/netty/netty/pull/7631#discussion_r164259753 ... since the intention of this PR was to make things more consistent with AbstractChannel anyways.
2. I will r

[2018-01-27 02:44] bryce-anderson commented on #7641
sgtm. Thanks @Scottmitch.

[2018-01-27 07:49] normanmaurer commented on #7641
@bryce-anderson you are right... I should not write suggestions from my phone ;)

[2018-01-27 08:00] normanmaurer commented on #7641
Fixed...

[2018-01-27 08:00] #7641 closed

[2018-01-27 08:01] normanmaurer commented on #7638
Fixed

[2018-01-27 08:01] #7638 closed

[2018-01-27 08:02] normanmaurer commented on #7603
Will have a look....

[2018-01-27 09:08] kashike opened #7644 "netty-all artifact missing automatic-module-name"
The `netty-all` artifact doesn't have a `Automatic-Module-Name` defined in the manifest like the rest of the projects do, resulting in `requires netty.all`.

[2018-01-27 09:34] normanmaurer commented on #7644
Can you provide a pr for a fix ?

[2018-01-27 09:49] kashike commented on #7644
#7645

[2018-01-27 11:07] doom369 commented on #7611
@normanmaurer problem was in line `data.release();` of this section:

[code]

Seems like due to a bug in previous netty versions (I didn't know it was a bug) I was releasing upload parts manually. With fix this is not necessary anymore.

[2018-01-27 11:07] #7611 closed

[2018-01-27 15:19] bryce-anderson commented on #7641
@normanmaurer no worries, and thanks again!

[2018-01-27 19:32] #7644 closed

[2018-01-28 16:52] Tagar commented on #2616
Happens on RHEL 7.4 too (3.10.0-693.2.2.el7.x86_64)

[2018-01-28 18:10] #7628 closed

[2018-01-29 05:58] arukshani opened #7647 "HttpPostRequestEncoder's finalizeRequest method overrides "multipart/mixed" to "multipart/form-data""
Is there a way for me to create a multipart request of type "multipart/mixed" instead of multipart/form-data?

Eg:

`      HttpRequest request = new DefaultFullHttpRequest(HttpVersion.HTTP_1_1, HttpMethod.POST, "/");
        HttpPostRequestEncoder encoder = new HttpPostRequestEncoder(dataFactory, request, true);
        request.headers().add(HttpHeaderNames.CONTENT_TYPE,
        HttpHeaderValues.M

[2018-01-29 07:44] niancheng commented on #4466
mark

[2018-01-29 08:39] normanmaurer commented on #7629
I am not sure ... but I kind of feel its good to be consistent even if it may be a bit more effort . At the moment its easy to just check if `ByteBufHolder` is implemented and if so be sure the frame holds some kind of content. This is not true anymore if we change it. Also while the memory overhead used by the ByteBuf may be "huge" compared to the actual data we could argue that this is not a pro

[2018-01-29 10:30] normanmaurer commented on #7609
Fixed by https://github.com/netty/netty/pull/7624

[2018-01-29 10:30] #7609 closed

[2018-01-29 12:37] trustin commented on #7629
+1 - way better than byte[8]

I think it's better keeping `ByteBuf` in this case given that it can be arbitrarily large, especially in case where it contains some debugging info such as stack trace when using HTTP/2 internally.

[2018-01-29 13:05] normanmaurer commented on #7599
@Bennett-Lynch can you show some reproducer for the `CloseChannelException` ?

Also the exact code you used for the client where you dont receive `Http2ConnectionPrefaceAndSettingsFrameWrittenEvent ` will help

[2018-01-29 13:05] normanmaurer commented on #7605
@mingslogar ping

[2018-01-29 13:06] normanmaurer commented on #7593
@electrum ping

[2018-01-29 13:06] normanmaurer commented on #7590
@trustin any idea ?

[2018-01-29 13:08] normanmaurer commented on #7410
Thanks... let me close this as its not an issue but just some "information"

[2018-01-29 13:09] trustin commented on #7590
A more robust behavior would be to produce a zero-length message with failed `DecoderResult`?

[2018-01-29 13:10] normanmaurer commented on #7603
@cy6erGn0m I wonder if you have a good solution in mind in terms of API... Maybe we should add a method to `HttpStreamChannel` that allows to create a new `HttpStreamChannel` by sending a `PUSH_PROMISE` with is "tied" to the `HttpStreamChannel` itself. For the `HttpFrameCodec` it should be not too hard to do as we just need to expose a new Frame type and allow to write it.

also @ejona86 @trustin

[2018-01-29 13:11] normanmaurer commented on #7603
Another thing we could do is change `Http2StreamChannelBootstrap ` to detect if the `Channel` that is used to construct is of type `Http2StreamChannel` and if so write a `PUSH_PROMISE` when calling `open(...)`.

[2018-01-29 13:37] #7410 closed

[2018-01-29 13:38] normanmaurer commented on #7528
I think we can close this for now but yeah in the next major release we should address this in general

[2018-01-29 13:38] #7528 closed

[2018-01-29 13:39] normanmaurer commented on #7439
Let me close this issue for now as we all agree.... I also mentioned it briefly in the last release announcement.

http://netty.io/news/2018/01/22/4-0-55-Final-4-1-20-Final.html

[2018-01-29 13:39] #7439 closed

[2018-01-29 13:40] normanmaurer commented on #7254
I think we should just not try to use reflection when using java9 for now as this scares people and there is not much we can do anyway.

[2018-01-29 14:34] normanmaurer commented on #7254
@doom369 https://github.com/netty/netty/pull/7650 PTAL

[2018-01-29 14:42] pyr commented on #7590
@trustin you mean using the existing `/bad-request` DecoderResult mechanism? If so I can look into providing this.

[2018-01-29 16:45] ejona86 commented on #7590
[Section 4.4](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.4) is might shed more light:

I wanted to find where this was documented in httpbis though. It seems [RFC 7230so§3.3.3](https://tools.ietf.org/html/rfc7230#section-3.3.3) is close. But it isn't as specific.

[2018-01-29 17:20] Scottmitch commented on #7629
+1. Since the data is not bounded, and it is consistent with how Netty represents data almost everywhere else this is a compelling argument for me. Even though it maybe more "effort" to consume/use `ByteBuf`, and the memory overhead for small payloads may be higher, I would prefer to keep it as is.

[2018-01-29 18:11] ejona86 opened #7651 "h2childchan: Notify all streams on GOAWAY?"
So that streams can eagerly shut down.

Discussion pulled starting from https://github.com/netty/netty/pull/7635#issuecomment-361297708:

@ejona86:

@Scottmitch:

@ejona86:

[2018-01-29 18:12] ejona86 commented on #7651
GOAWAY just stops new streams, but the connection could remain "working" for hours afterward. So _normally_ streams shouldn't care.

But with long-lived streams, it could be very helpful and reduce the cost caused by old streams that simply haven't migrated to a new connection. We don't provide this in gRPC today, but grpc/grpc-java#3689 is a mention of the idea.

My initial thought is that GOAWAY

[2018-01-29 18:52] normanmaurer commented on #7629
@Scottmitch should I work on a PR ?

[2018-01-29 19:42] Scottmitch commented on #7629
@normanmaurer - sure for the ping content as `long`. thanks!

[2018-01-29 21:28] ejona86 commented on #7629
It's guaranteed to be less than 16k, or rather, less than the maximum frame size. But yes, that is a noticeable size.

Sounds fine. Let's keep goaway as-is.

----

Aside: it's a little bit of a shame that it isn't defined to be string data, since it generally _is_ character data and code is commonly assuming it is ascii/text and "hoping for the best." If it was clearly a string we could store it a

[2018-01-29 22:26] Scottmitch commented on #7651
Understood this is a valid use case, and it is the "long lived stream" I had in mind. In cases where streams are long lived, and may prevent a graceful shutdown from completing, perhaps the child channel can pre-emptivley be closed and a new stream (on another connection) can be opened (depending upon the application protocol, etc..). This may facilitate a much faster graceful shutdown than waitin

[2018-01-29 22:32] Scottmitch commented on #7629
Agreed. ~16MB with current definition of `SETTINGS_MAX_FRAME_SIZE`.

[2018-01-30 03:37] Scottmitch commented on #7639
netty's pipeline model, decoupling of components, and async notification/callbacks tend to lead to these ordering/sequence issues. The "best effort" way to resolve this is as you stated "execute on event loop and run code later". This doesn't guarantee the issue will be resolved, because as you stated other areas maybe using the same strategy in a loosely coupled manner. When ever this strategy co

[2018-01-30 10:23] #7588 closed

[2018-01-30 10:45] normanmaurer commented on #7629
@Scottmitch @ejona86 @carl-mastrangelo @bryce-anderson @trustin just to clarify, we want to change it to long (ping) all the way through the API ? So also for `FrameListener`, `Http2FrameWriter` etc... Correct ?

[2018-01-30 11:14] normanmaurer commented on #7647
@fredericBregier any idea ?

[2018-01-30 11:16] normanmaurer commented on #7516
@sufiand ping

[2018-01-30 11:16] normanmaurer commented on #7431
@shank9918 ping

[2018-01-30 11:30] normanmaurer commented on #7254
Fixed by https://github.com/netty/netty/pull/7650

[2018-01-30 11:30] #7254 closed

[2018-01-30 12:08] jo-kin opened #7654 "Determination of MAX_DIRECT_MEMORY in io.netty.util.internal.PlatformDependent fails on z/OS"
### Expected behavior
 MAX_DIRECT_MEMORY, which controls later behaviour of Netty , should be initialized with correct value.

### Actual behavior
On z/OS netty initializes this value with 64M, even the direct accessible memory is actually unbounded.

Reason is the way, how the IBM Java VM administrates direct memory.
The Windows- or Linux-based VMs report the correct final value asking the corres

[2018-01-30 12:37] slandelle opened #7655 "Provide a way to disable cipher suites filtering"
### Expected behavior

There should be a way to have client side `SslContext` work against any website, regardless of security.

### Actual behavior

Supported ciphers are filtered against a hard coded whitelist (`SslUtils#DEFAULT_CIPHER_SUITES`).

I wonder if the whitelist way is a good thing. Wouldn't it filter out modern ciphers that would be introduced in JDK updates? Properly maintaining this

[2018-01-30 14:58] normanmaurer commented on #7329
@jakubjanecek https://github.com/netty/netty/pull/7656 for a possible fix.

[2018-01-30 15:31] bryce-anderson commented on #7629
@normanmaurer, that would be my preference.

[2018-01-30 15:55] mosesn opened #7657 "upgrade requests should support streaming"
### Expected behavior

Upgrade requests and responses should continue propagating chunks immediately.

### Actual behavior

Http{Server,Client}UpgradeHandler both extend HttpObjectAggregator, and aren't streamed properly.

### Considerations

h2c is the only protocol I know which can have a request body in the upgrade request, so I'm going to target a solution to this.  The difficulty is that in t

[2018-01-30 22:08] ejona86 commented on #7629
I don't have an opinion for the old API.

[2018-01-30 23:18] rkapsi opened #7659 "SslHandlerCoalescingBufferQueue's ArrayDeque with 58M elements"
I don't have much info (yet) and seems to be very rare but I managed to grab a memory dump this time. It seems there is a scenario where that `bufAndListenerPairs` can grow way bigger than it's ever supposed to.

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

4.1.19

### JVM version (e.g. `java -vers

[2018-01-31 06:25] normanmaurer commented on #7659
@rkapsi are these buffers all empty ?

[2018-01-31 07:17] teaey opened #7660 "io.netty.handler.codec.http.HttpContentCompressor need compress threshold"
### Expected behavior
the response body is compressed, when the response body exceeds the threshold
### Actual behavior
no threshold can be set
### Steps to reproduce
-
### Minimal yet complete reproducer code (or URL to code)
-
### Netty version
4.1.16.Final
### JVM version (e.g. `java -version`)
java 1.8
### OS version (e.g. `uname -a`)
-

[2018-01-31 07:51] normanmaurer commented on #7660
@teaey we will need some more details etc to be able to fix this. Can you give some more or share some code ?

[2018-01-31 08:19] trustin commented on #7629
+1 for changing all.

[2018-01-31 08:20] teaey commented on #7660
@normanmaurer  Please see : https://github.com/teaey/netty/commit/1cf24675c9e90d29d799e6184a9da13a2984a0f9

[2018-01-31 08:22] normanmaurer commented on #7660
@teaey looks useful... yeah please open a PR and I will comment there. Thanks!

[2018-01-31 08:26] teaey commented on #7660
@normanmaurer  Done

[2018-01-31 08:39] normanmaurer commented on #7654
@jo-kin I have no access to z/OS . Would you be interested to submit a PR ?

[2018-01-31 09:37] slandelle commented on #7617
Hi @normanmaurer Any ETA for the next release? This issue is hurting us pretty badly :(

[2018-01-31 09:38] normanmaurer commented on #7617
Hopefully tomorrow, latest Friday.

[2018-01-31 09:40] slandelle commented on #7655
Would you be interested in a PR that would introduce a System prop that would disable filtering?

[2018-01-31 09:41] slandelle commented on #7617
Wow, great, you rock!

[2018-01-31 09:52] hepin1989 commented on #7660
@normanmaurer ，I suggested he to make a PR, he is sitting beside me now.

[2018-01-31 09:53] normanmaurer commented on #7660
@hepin1989 awesome :) Thanks @teaey

[2018-01-31 10:16] pyr commented on #7590
@ejona86 This isn't true when transfer-encoding is set to chunked, since a content-length cannot be provided in this case.

[2018-01-31 11:04] doom369 opened #7662 "Proposal: add removeIfExists() method to ChannelPipeline"
In some cases, I have to remove the handler from the pipeline that may exist or may not exists in the pipeline. However, current Netty `remove()` implementation always throws `NoSuchElementException` that requires construction like this:

[code]

this could be simplified with:

`pipeline.removeIfExists(LetsEncryptHandler.class);`

WDYT?

[2018-01-31 12:18] jamiemchow commented on #1759
i have the same problem

[2018-01-31 13:29] pli2014 commented on #7660
@teaey  I enjoy this enhancement, good job.

[2018-01-31 13:40] normanmaurer commented on #7329
Fixed by https://github.com/netty/netty/pull/7656

[2018-01-31 13:40] #7329 closed

[2018-01-31 14:26] pli2014 commented on #7660
This one is a little less obvious and there are two components. For starters, if you’re compressing files that are smaller than the MTU size of a TCP packet, you’re wasting your time. 1500 bytes is the MTU size for the internet since that is the largest size allowed at the network layer. If you take a file that is 1300 bytes and compress it to 800 bytes, it’s still transmitted in that same 1500 by

[2018-01-31 14:29] normanmaurer commented on #7660
@pli2014 I think we should keep 0 as default value to not change behaviour.

[2018-01-31 14:35] ejona86 commented on #7603
This seems like a duplicate of #4527.

[2018-01-31 14:35] pli2014 commented on #7660
@normanmaurer  using this default value in constructor method or comment this explanation with variable.  I propose this for other users.

[2018-01-31 14:36] normanmaurer commented on #7603
You are right @ejona86 let me close this one.

[2018-01-31 14:36] #7603 closed

[2018-01-31 14:43] ejona86 commented on #7590
@pyr, what is "this"?

I quoted this part of the spec:

So although the Content-Length MUST NOT be sent in that case, the server MUST ignore it if it is there.

[2018-01-31 14:52] hepin1989 commented on #7660
Maybe we could introduce a static constant field as a suggested value?

[2018-01-31 14:55] normanmaurer commented on #7660
@hepin1989 @pli2014 I think we should not suggest anything as what makes sense highly depends... for example even if you use smaller buffers as the mtu size it may make sense if you do a gathering write.

[2018-01-31 14:56] teaey commented on #7660
Let the user decide how to use it.

[2018-01-31 14:57] kirillkh opened #7665 "MqttDecoder incorrectly discards error codes in SubAck messsages"
### Expected behavior
The QoS returned from the broker can be 0, 1, 2 or 0x80. 0x80 means an error occurred.

### Actual behavior
MqttDecoder.decodeSubackPayload() discards error code 0x80 when it performs bitwise AND with 0x03.

### Netty version
Latest git

I think the fix is as simple as changing this line:
`int qos = buffer.readUnsignedByte() & 0x03;`
into this:
`int qos = buffer.readUnsignedB

[2018-01-31 14:59] normanmaurer commented on #7665
Please open a PR with a unit test

[2018-01-31 15:03] kirillkh commented on #7665
I'm not working with Netty's source code, I'm looking at it in debugger from Vert.x MQTT. Could you do this please?

[2018-01-31 15:51] rkapsi commented on #7659
@normanmaurer confirm, it's full of instances of `EmptyByteBuf`

[2018-01-31 15:58] rkapsi commented on #7659
And it's a HTTP/2 connection

[2018-01-31 16:00] normanmaurer commented on #7659
So nothing else then empty buffers ?

[2018-01-31 16:08] rkapsi commented on #7659
One `PooledUnsafeDirectByteBuf` at index=0 and the rest is `EmptyByteBuf`.

![screenshot from 2018-01-31 11-02-46](https://user-images.githubusercontent.com/191635/35633179-9c3b617e-0676-11e8-81ca-388957219019.png)

The `EmptyByteBuf` is a singleton but it's 29M times present in the ArrayDeque.

![screenshot from 2018-01-31 11-03-02](https://user-images.githubusercontent.com/191635/35633211-acc078

[2018-01-31 16:12] rkapsi commented on #7659
Here's the stack of `HttpsWorkerThread-3`...

[code]

[2018-01-31 18:17] ejona86 commented on #7639
Based on grpc/grpc-java#4016, this _may_ be a regression introduced in netty 4.1.17. It is possible the regression is in gRPC instead of Netty, because I've not checked that just changing Netty introduces the problem, but given the Netty churn around that time and our research already it seems likely it was a Netty regression.

[2018-01-31 18:57] normanmaurer commented on #7659
@rkapsi from the stacktrace it looks like the problem is the following.

1) You call flush() which will triggered SslHandler.flush()
2) SslHandler.flush() calls wrap(..) which will fail the promise of the write and so notify its listener
3) Your added listener will call fireExceptionCaught(...)
4) This will end up in one of your ChannelHandlers that will call flush() again.
5) This flush() will re

[2018-01-31 19:12] normanmaurer commented on #7659
@rkapsi so I think you could fix this by not call `writeAndFlush` when you receive either an `SSLException` or an `ClosedChannelException`. You may even want to not do it on an `IOException` in general which would cover both cases.

[2018-01-31 19:25] rkapsi commented on #7659
This seems possible. I'm looking...

[2018-01-31 19:27] normanmaurer commented on #7659
@rkapsi keep me posted.

[2018-01-31 21:44] fredericBregier commented on #7647
@normanmaurer If I'm correct, the initial codec only supports the following:

    /**
     * If multipart, there could be internal multiparts (mixed) to the global
     * multipart. Only one level is allowed.
     */
     private String multipartMixedBoundary;

**So something like multipart/form where within one level of multipart/mixed might be included.**

Saying into another way, the global hea

[2018-01-31 22:01] Scottmitch commented on #7639
see https://github.com/netty/netty/pull/7667

[2018-01-31 22:19] fredericBregier commented on #7647
@normanmaurer  Note that this is from Decoder. In Encoder, the multipart is designed as follow:

         * Logic:
         * if not Attribute:
         *      add Data to body list
         *      if (duringMixedMode)
         *          add endmixedmultipart delimiter
         *          currentFileUpload = null
         *          duringMixedMode = false;
         *      add multipart delimiter

[2018-01-31 22:23] Scottmitch commented on #7659
based upon the stack trace above @normanmaurer's analysis https://github.com/netty/netty/issues/7659#issuecomment-362033937 makes sense (infinite loop by way of future callbacks). However the number of buffers seems high without more context. Does this seems reasonable (e.g. how many buffers are written as a result of an exception, how long has the application been running). If you are just writin

[2018-02-01 00:28] LiamHaworth opened #7668 "HttpProxyHandler should use/allow hostname in initial CONNECT request"
### Expected behavior

The `HttpProxyHandler` should include the hostname of the requested site in it's initial `CONNECT` request.

The hostname of the requested site is usually required by some proxies to apply ACLs (e.g. Squid)

### Actual behavior

The `HttpProxyHandler` sends the resolved IP address of the requested host

### Steps to reproduce

Add `HttpProxyHandler` to the pipeline

### Mini

[2018-02-01 03:22] arukshani commented on #7647
@fredericBregier
This statement which you mention "the global header cannot be multipart/mixed, only multipart/form-data"

Is this a netty restriction? I cannot find any such restriction imposed by MIME specification.

According to the spec all "multipart" types must use an identical syntax whether they be multipart/form-data, multipart/mixed, multipart/new-sub-type.  So the decoder will be able t

[2018-02-01 03:41] yangzhongj opened #7669 "whether lastExecutionTime >= deadline changed lastExecutionTime - deadline >= 0，just because of the possibility of numerical overflow"
https://github.com/netty/netty/blob/95b9b0af5ca986e07cd48730a1d935af6beee301/common/src/main/java/io/netty/util/concurrent/SingleThreadEventExecutor.java#L412

[2018-02-01 04:10] LiamHaworth commented on #7668
This may be a duplicate of #4526, going to test the suggested changes from the ticket and will update this one if it works

[2018-02-01 05:12] LiamHaworth commented on #7668
Suggestions from #4526 proved successful, closing ticket

[2018-02-01 05:12] #7668 closed

[2018-02-01 05:36] johnduxx opened #7670 "too many file descriptor created after running a week"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-02-01 06:42] RikkiGibson opened #7672 "Writing a read-only direct ByteBuffer to channel fails with native transport"
### Expected behavior
I can take a direct ByteBuffer where `isReadOnly()` is true, such as the return value of `asReadOnlyBuffer()` or a MappedBuffer with `MapMode.READ_ONLY`, pass it to `Unpooled.wrappedBuffer(ByteBuffer)`, and write it to the channel.

### Actual behavior
Works with NIO transport. When using kqueue or epoll native transport, writing to the channel fails due to UnsupportedOperati

[2018-02-01 06:45] normanmaurer commented on #7672
Will check

[2018-02-01 07:02] normanmaurer commented on #7659
@Scottmitch we will never See a stackoverflow in this case as we protect against it in DefaultPromise

[2018-02-01 07:08] RikkiGibson commented on #7672
I tried implementing memoryAddress() and hasMemoryAddress() members in ReadOnlyUnsafeDirectByteBuf.java and I think that fixed it. I can send a PR with a test for this if desired.

[2018-02-01 07:11] Scottmitch commented on #7659
good point! I forgot we did that in DefaultPromise. Any ideas on the large number of entries?

[2018-02-01 07:17] Scottmitch commented on #7672
@normanmaurer - https://github.com/netty/netty/commit/7922757575b942d5de5f38d3566857f70b9b4ce6 seems like we missed applying this patch to the duplicate code :(.

@RikkiGibson - PR sgtm! Make sure you sign the CLA https://netty.io/wiki/developer-guide.html.

[2018-02-01 07:20] Scottmitch commented on #7670
Please upgrade to the latest version of 4.1, and provide a isolated/minimal reproducer if the problem persists.

[2018-02-01 07:25] Scottmitch commented on #7629
+1 for changing it all lets take advantage of `UnstableApi` while we still can :)

[2018-02-01 07:56] normanmaurer commented on #7659
The only thing I can think of is that write is called multiple times before a flush.

[2018-02-01 08:14] normanmaurer commented on #7669
Sorry can you add some more details I am not sure I understand the report :(

[2018-02-01 08:26] normanmaurer commented on #7672
@RikkiGibson yes please :) We love PRs.

[2018-02-01 08:27] normanmaurer commented on #7639
I think @Scottmitch s patch makes perfect sense.

[2018-02-01 09:21] johnduxx commented on #7670
Exception in thread "Thread-24" java.lang.UnsatisfiedLinkError: failed to load the required native library
        at io.netty.handler.ssl.OpenSsl.ensureAvailability(OpenSsl.java:327)
        at io.netty.handler.ssl.ReferenceCountedOpenSslContext.<init>(ReferenceCountedOpenSslContext.java:202)
        at io.netty.handler.ssl.OpenSslContext.<init>(OpenSslContext.java:43)
        at io.netty.handler

[2018-02-01 09:21] normanmaurer commented on #7670
@johnduxx did you also update the netty-tcnative version you are using to 2.0.7.Final ?

[2018-02-01 09:35] johnduxx commented on #7670
actually i was using netty-tcnative-openssl-static-1.1.33.Fork18-SNAPSHOT-linux-x86_64.jar but i did not find any update of it.
can you suggest which should i use openssl-static or dynamic version?

[2018-02-01 09:41] slandelle commented on #7655
So actually, a way better way to implement this would be to have a `CipherSuiteFilter` that, on contrary to `IdentityCipherSuiteFilter`, falls back to `supportedCiphers` instead of `defaultCiphers` when `ciphers` is null (ie when user didn't explicitly pass a set of ciphers).
It would be more convenient than having users duplicate Netty code for computing `supportedCiphers` for both JDK and OpenSS

[2018-02-01 10:54] slandelle opened #7673 "JdkSslContext produces invalid supported ciphers"
### Expected behavior

JdkSslContext should produce valid ciphers that are actually supported by the platform.
Typically, it should be possible to use them in a custom `CipherSuiteFilter` to configure a `SSLEngine`.

### Actual behavior

Netty 4.1.13.Final introduced a workaround for IBM certs naming scheme.
This workaround is based on IBM's statement:

This statement is wrong and transformed name

[2018-02-01 11:03] normanmaurer commented on #7673
@slandelle are you sure this was introduced in 4.1.20 ?

[2018-02-01 11:29] slandelle commented on #7673
@normanmaurer This renaming was introduced in 449befa0034e2cf77b3033f62d4f2153cef5a1d7 which is tagged as 4.1.20.

[2018-02-01 11:37] slandelle commented on #7673
By bad, I didn't get what those tags meant in the GH interface. I guess it's from 4.1.13.

[2018-02-01 11:40] slandelle commented on #7673
I guess this went unnoticed as `SslUtils#DEFAULT_CIPHER_SUITES` only contains names prefixed with TLS.

[2018-02-01 13:21] dingrui37 opened #7675 "Question: How to solve the java.lang.AbstractMethodError exception?"
Hi all, when I use gRPC in karaf environment, it always throw an exception(AbstractMethodError), can someone help me or give me some advice, thanks.

About `AbstractMethodError` exception:(https://docs.oracle.com/javase/7/docs/api/java/lang/AbstractMethodError.html)
Thrown when an application tries to call an abstract method. Normally, this error is caught by the compiler; **this error can only oc

[2018-02-01 13:23] slandelle commented on #7675
You're mixing Netty modules with different/incompatible version:

[code]

You must keep all of them aligned (4.1.16 everywhere), eg with some dependencyManagement config in maven.

[2018-02-01 13:38] johnou commented on #7675
Or the Netty BOM :tada:

[2018-02-01 14:54] johnou commented on #7673
cc @Scottmitch @rkapsi

[2018-02-01 16:42] Scottmitch commented on #7673
http://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html#ciphersuites

Arg. I guess the names aren't quite interchangeable. See https://github.com/netty/netty/pull/7677

[2018-02-01 16:49] Scottmitch commented on #7655
Yes this should be achievable via a `CipherSuiteFilter`. I don't think we should change the current behavior of `IdentityCipherSuiteFilter`, but what about creation of a new filter with this new behavior?

[2018-02-01 16:50] slandelle commented on #7655
Yes, that's exactly what I meant. Sorry if I wasn't clear...

[2018-02-01 17:22] Scottmitch commented on #7655
Sure. It doesn't have to be part of Netty, but if you think it is useful for others then feel free to submit a PR.

[2018-02-01 17:24] slandelle commented on #7655
Will do later tonight

[2018-02-01 17:26] #7639 closed

[2018-02-01 17:34] #7673 closed

[2018-02-01 18:28] #7675 closed

[2018-02-01 18:46] normanmaurer commented on #7672
@RikkiGibson as we want to do another release ASAP I just fixed it myself. Can you check https://github.com/netty/netty/pull/7678 ?

[2018-02-01 19:28] normanmaurer commented on #7665
@kirillkh can you at least point me to the right RFC section ?

[2018-02-01 19:32] kirillkh commented on #7665
@normanmaurer http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Figure_3.26_-

[2018-02-01 20:34] johnou commented on #7670
2.0.7.Final

[2018-02-01 20:34] RikkiGibson commented on #7672
Done. Looks good!

[2018-02-02 05:04] dingrui37 commented on #7675
Thanks @slandelle @johnou I have solved the problem. This problem is caused by parent in my pom.xml, it pollutes netty modules with different/incompatible version. After I use `dependencyManagement ` to to manage versions explicitly, it works.

[2018-02-02 06:30] johnduxx commented on #7670
... 12 more
        Suppressed: java.lang.UnsatisfiedLinkError: could not load a native library: netty_tcnative
                at io.netty.util.internal.NativeLibraryLoader.load(NativeLibraryLoader.java:205)
                at io.netty.util.internal.NativeLibraryLoader.loadFirstAvailable(NativeLibraryLoader.java:85)
                ... 10 more
        Caused by: java.io.FileNotFoundException: MET

[2018-02-02 06:32] normanmaurer commented on #7672
Fixed by https://github.com/netty/netty/pull/7678

[2018-02-02 06:32] #7672 closed

[2018-02-02 08:45] normanmaurer commented on #7556
Related to https://github.com/netty/netty/pull/7679

[2018-02-02 15:27] jo-kin commented on #7654
@normanmaurer Already thought so, too. Currently I try to persuade my employer to get involved with Netty development. It's obvious, that I am not the owner of the used mainframe...
Give me some time, please.

[2018-02-02 15:42] laosijikaichele commented on #7616
@normanmaurer  I record the process as a video:
https://www.youtube.com/watch?v=1Z3Yz6uEVA0
Is there any step wrong?

[2018-02-02 15:54] rkapsi commented on #7659
The class in question looks about like this. There is a check if the Channel is active and there is a `ChannelFutureListener.CLOSE` on the write future. I guess it's possible for `exceptionCaught(...)` to go on recursively and the listener not fireing as everything is on the I/O thread.

Looking at the memory dump I see the Channel being still open and the exception likely a `javax.net.ssl.SSLExce

[2018-02-02 16:07] normanmaurer commented on #7659
@rkapsi so you are saying that you added the `cause instanceof...` just now ?

[2018-02-02 16:28] rkapsi commented on #7659
It was there before but `SSLException` and `ClosedChannelException` were not covered correctly.

[2018-02-02 16:30] Scottmitch commented on #7670
These exceptions do not necessarily indicate a problem, only that netty_tcnative cannot be found in the `java.library.path` directory ... which is common. We try to load tcnative from `java.library.path` before unpacking it from the jar. You should eventually see [Successfully loaded the library](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/NativeLibraryLoade

[2018-02-02 16:30] Scottmitch commented on #7659
@rkapsi - Can you confirm that adding the additional exceptions resolves this issue? Do you think there is any additional action required in Netty?

[2018-02-02 16:38] rkapsi commented on #7659
I think we can file it under user error for now.

[2018-02-02 16:47] Scottmitch commented on #7659
@rkapsi - thanks for confirming ... please close the issue once you are satisfied there is no further action required.

[2018-02-02 17:50] normanmaurer commented on #7659
@rkapsi <3 Thanks

[2018-02-03 01:09] johnduxx commented on #7670
i am trying to create a generator of the issue but it is slightly tough as i run the server for 3-4 weeks in a commercial environment.

I am sharing the source of working handler, if you able to suggest me

import java.util.Iterator;
import java.util.List;
import java.util.Map;
import java.util.Map.Entry;
import io.netty.util.AttributeKey;
import org.apache.log4j.*;
import org.json.JSONException;

[2018-02-03 02:48] Scottmitch commented on #7670
This doesn't give the complete picture but the following line looks interesting:

[code]

- You are cacheing channels, and do you take care to close them before they are GCed? How do you manage the lifetime of these `Channels`?
- What transport are you using (NIO, EPOLL, KQUEUE)?
- What type of file descriptors are leaking on your server, and what state are they in (e.g. `lsof`, `netstat`, info fr

[2018-02-03 05:30] johnduxx commented on #7670
@Scottmitch

you have raised a very good point

but will it @Override
	public void channelInactive(ChannelHandlerContext ctx)
	{
		try
		{
			Session session = ctx.attr(SESSION).get();
			if (session != null) {

			}
			else {

			}
			ctx.close();

		}
		catch(Exception ex) {
			logger.fatal("error", ex);
		}
	}

not close all connection??

I am maintaining a session timeout and removing channel

[2018-02-03 14:29] fredericBregier commented on #7647
RFC 1867 specifies that only multipart/form-data with within eventually multipart/mixed (see 3.3). See second example in chapter 6.

RFC 7578 (sorry for the wrong number previously) :
I quote already the chapter 4.3 which says "[RFC2388] suggested that multiple files for a single form field be transmitted using a nested "multipart/mixed" part.  This usage is deprecated." and the Appendix A which s

[2018-02-03 23:02] albertok commented on #7662
This would be very nice to have.
I've been using:
`if (pipeline.names.contains("someHandler")`

[2018-02-04 02:48] mseitner opened #7686 "Redis codec doesn't support inline commands"
### Expected behavior
RedisDecoder and RedisEncoder are able to handle [RESP inline commands](https://redis.io/topics/protocol#inline-commands).

### Actual behavior
Inline command support is not implemented. Trying to decode an inline command leads to `RedisCodecException: Unknown RedisMessageType: <decimal code of first character>`.

### Netty version
4.1.20

[2018-02-04 13:57] andymacau853 commented on #7430
oh yes, sorry my mistake

[2018-02-05 07:55] #7665 closed

[2018-02-05 07:55] normanmaurer commented on #7665
Fixed by https://github.com/netty/netty/pull/7685

[2018-02-05 09:09] luastar opened #7689 "4.1.20 HttpPostMultipartRequestDecoder destroy duplicate"
### Netty version
4.1.20

###
when use HttpPostMultipartRequestDecoder.destroy=>cleanFiles，it will call factory(DefaultHttpDataFactory).cleanRequestHttpData，and call data.release()【in netty 4.1.19 is data.delete()】 but at the end of destroy call data.release() again。
then get a Exception
java.lang.IllegalStateException: HttpPostMultipartRequestDecoder was destroyed already

[2018-02-05 09:19] doom369 commented on #7689
@luastar did you use Netty upload example? Could be same issue as I had - https://github.com/netty/netty/issues/7611

[2018-02-05 10:24] normanmaurer commented on #7629
ok will do.

[2018-02-05 11:00] normanmaurer commented on #7629
See https://github.com/netty/netty/pull/7690.

[2018-02-05 16:08] rkapsi commented on #7659
Closing as it's likely a user error.

[2018-02-05 16:08] #7659 closed

[2018-02-05 16:10] johnou commented on #7689
@doom369 does the upload example need to be fixed?

[2018-02-05 16:28] doom369 commented on #7689
@johnou probably yes. `data.release();` from `readHttpDataChunkByChunk()` of `HttpUploadServerHandler` should be removed. Need to check it. I haven't chance to check.

[2018-02-05 16:28] sindhuvaidy commented on #7583
@normanmaurer : We are still experiencing this issue in netty 4.1.20 version.

[2018-02-05 16:53] Scottmitch commented on #7583
@sindhuvaidy - This is expected. The fix is included in 4.1.21. Please upgrade.

[2018-02-05 17:23] comtel2000 opened #7692 "JVM destroy seems to be broken with 4.1.20.Final"
### Expected behavior
JVM must shutdown after close the EventLoopGroup

### Actual behavior
since 4.1.20.Final the VM cleanup/shutdown hangs
all previous netty versions are shutdown the VM as expected
Sometimes there is a:
`Exception in thread "Thread-2" java.lang.IncompatibleClassChangeError`

### Steps to reproduce
- start test Sample
- check if JVM still runs

### Minimal yet complete reproduce

[2018-02-05 17:23] fabienrenaud opened #7693 "HttpHeaders::get - missing break"
### Expected behavior

Code should exit loop as soon as header matches input string.

### Actual behavior

Code loops through all headers, always. When header name is present more than once, the last value is returned instead of the first.

### Steps to reproduce

Read the code:
[code]

https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/DefaultHeaders.java#L127

Not

[2018-02-05 17:26] slandelle commented on #7692
This has already been reported as #7617 and fix has been shipped in 4.1.21 that was released today.

[2018-02-05 17:58] comtel2000 commented on #7692
fixed, thx

[2018-02-05 17:58] #7692 closed

[2018-02-05 19:28] normanmaurer commented on #7693
@fabienrenaud can you provide a PR with fix and unit test ?

[2018-02-05 20:48] ngocdaothanh commented on #7692
Thanks. Can you publish that news to the Netty home page?

[2018-02-05 20:50] normanmaurer commented on #7692
On my to do list for tomorrow.... ran out of time today

[2018-02-05 20:56] fabienrenaud commented on #7693
Nvm. Implementation actually hashes headers by keys so the iteration is per-header and not for all headers.
Implementation is fine.
Closing.

[2018-02-05 20:56] #7693 closed

[2018-02-06 02:18] raomuyang opened #7694 "Why can't I shutdown the Netty Server or Netty Client ？"
### Expected behavior
I have launched a netty server and establish a connection with it via netty client. The client sends a message to the server, while the server will feedback and close context (Channel), when the client got a message from the server, it will close channel and shutdown EventLoopGroup, and then exit the program.

### Actual behavior
However, all the channel was closed, but the E

[2018-02-06 03:19] raomuyang commented on #7694
May be not EventLoopGroup blocked the main thread,
[code]

2018-02-06 11:17:09
Full thread dump Java HotSpot(TM) 64-Bit Server VM (25.121-b13 mixed mode):

"Attach Listener" #15 daemon prio=9 os_prio=31 tid=0x00007fd4cb8e1000 nid=0x1307 waiting on condition [0x0000000000000000]
   java.lang.Thread.State: RUNNABLE

   Locked ownable synchronizers:
        - None

"DestroyJavaVM" #13 prio=5 os_prio=

[2018-02-06 03:46] raomuyang commented on #7694
https://github.com/netty/netty/issues/7617

[2018-02-06 03:51] raomuyang commented on #7694
https://github.com/netty/netty/commit/548125865ac4dd9baad318e0bc0b91c14483714d

 ：）

[2018-02-06 03:52] #7694 closed

[2018-02-07 11:57] IgorAlelekov opened #7695 "IllegalReferenceCountException"
Running the io.netty.example.http.upload.HttpUploadServer example the io.netty.util.IllegalReferenceCountException is thrown, please see the trace below

### Netty version
4.1.21

### JVM version (e.g. `java -version`)
1.8.131

### OS version (e.g. `uname -a`)
win10

2018 2:48:00 PM io.netty.example.http.upload.HttpUploadServerHandler exceptionCaught
WARNING:
io.netty.util.IllegalReferenceCountExc

[2018-02-07 12:38] #7655 closed

[2018-02-07 12:38] normanmaurer commented on #7655
Fixed by https://github.com/netty/netty/pull/7691

[2018-02-07 17:37] mingslogar commented on #7605
@normanmaurer Hey, sorry for the long delay. Had some unexpected medical issues that kept me offline for a while.

Looking online, it appears that the specific runtime issue that I encountered was due to some Maven versioning conflicts causing an error when loading the child class. I wish I could give you a code sample, but I don't have the bandwidth right now to reconstruct our codebase from two

[2018-02-07 23:23] KowalczykBartek commented on #6418
Pong @normanmaurer  https://github.com/netty/netty/pull/7697

[2018-02-08 09:24] normanmaurer commented on #7629
Fixed by https://github.com/netty/netty/pull/7690

[2018-02-08 09:24] #7629 closed

[2018-02-08 18:40] ohumbel commented on #6679
If I run:
`jdeps --jdk-internals -cp ./netty-handler-4.1.21.Final.jar`, I get a bunch of `sun.security.*` related warnings:

[code]

So this is - IMHO - not only a question what your users do, but also a question what you provide.
The last line suggests that there are replacements since JDK 1.4 (but I am not a security expert).

Please let me know how you plan to deal with this.

[2018-02-08 18:42] normanmaurer commented on #6679
@ohumbel this is just an utility that allows to create a self-signed cert and is normally not used by end-users. I think this is just fine ?

[2018-02-08 18:51] ohumbel commented on #6679
@normanmaurer Hi Norman, many thanks for the speedy answer!

I am getting rid of such dependencies as much as I can. Currently I try to prevent `jython` from illegal accesses. On this way I also ran `jdeps` on `jython-standalone.jar`, which bundles (using `jarjar`) your `netty-handler`. So the netty warnings appear there.

If you were able to replace the `sun.security.*` stuff, this would be great

[2018-02-08 18:57] normanmaurer commented on #6679
@ohumbel We could try to replace these but I am not sure if there a any good public replacements. Its not a high priority imho. That said we love PRs if you want to work on it :)

[2018-02-08 18:58] normanmaurer commented on #7654
@jo-kin thanks keep me posted.

[2018-02-08 21:30] ohumbel commented on #6679
Fair enough 😄 - no promises though...

My thoughts are that people will run `jdeps` against all their `.jar` files as soon as they consider moving to Java `>= 9`. That is the reason I'd like to clean up `jython` first.

[2018-02-08 23:27] DonnyDarkoRabbit opened #7699 "io.netty.util.internal.OutOfDirectMemoryError"
### Actual behavior
**io.netty.util.internal.OutOfDirectMemoryError** - failed to allocate 16777216 byte(s) of direct memory (used: 3456106503, max: 3464495104) 200 B (0%) n/a

### Netty version
4.1.16.Final

### JVM version (e.g. `java -version`)
1.8.0_152

### OS version (e.g. `uname -a`)
Linux

![1](https://user-images.githubusercontent.com/33770107/36004093-9551543a-0d39-11e8-9c28-f878b78becd6

[2018-02-09 07:24] normanmaurer commented on #7699
@DonnyDarkoRabbit like the exception says you are using the maximum of configured direct memory. Why this happens is impossible to tell without more informations. It could be misconfiguration, writing to fast etc. You will need to provide more infos.

The thread dump you are showing just shows that there was an exception happening and you did not handle it in one of you `ChannelInboundHandler` so

[2018-02-09 07:25] normanmaurer commented on #7699
Also please upgrade to latest netty release (4.1.21.Final).

[2018-02-09 09:13] alokhan commented on #3657
Hi,

I have the same issue and I wonder if it is not caused by characters "[" and "]" in my Json objects.

Reading this code:

``

[2018-02-09 10:09] johnou commented on #3657
@alokhan what would help is creating a unit test which demonstrates what payload fails when being decoded by JsonObjectDecoder.

[2018-02-09 11:13] normanmaurer commented on #7669
@yangzhongj ping

[2018-02-09 13:54] DonnyDarkoRabbit commented on #7699
Im using the following arguments
-server
-XX:MaxDirectMemorySize=3304m
-XX+UseConcMarkSweepGC
-XX:PermSize=128m
-XX:MaxPermSize=128m
-XX:+PrintGC
-XX:+PrintGCDetails
-XX:+PrintGCDateStamps
-Xloggc:gcdetails.log

and

-**Dio.netty.recycler.maxCapacity**=0
-**Dio.netty.recycler.maxCapacity.default**=0

# initial Java Heap Size
wrapper.java.initmemory=3560

# Maximum Java Heap Size (in MB)
wrapper.ja

[2018-02-09 13:56] normanmaurer commented on #7699
@DonnyDarkoRabbit seems like you used all your "allowed" direct memory. You will need to find out why... I can only guess without more infos, and my first guess would be either you not correctly releasing `ByteBuf`s or you are writing to fast without taking care of back pressure.

[2018-02-09 14:02] DonnyDarkoRabbit commented on #7699
Firstly, I found in one of my handlers I use
**ChannelInboundHandlerAdapter** instead of **SimpleChannelInboundHandler** and I do not release the channelRead msg object.

Secondly, I use Unpooled.copiedBuffer & Unpooled.wrappedBuffer that I'm not releasing.
eg. `ctx.writeAndFlush(Unpooled.copiedBuffer(XML, CharsetUtil.UTF_8));`

Do these count as memory leaks?

[2018-02-09 14:05] normanmaurer commented on #7699
The first yes if its a `ReferenceCounted` object the second not if you pass it to `write` or `writeAndFlush`

[2018-02-09 14:44] normanmaurer commented on #7556
Should be fixed by https://github.com/netty/netty/pull/7679

[2018-02-09 14:44] #7556 closed

[2018-02-10 02:23] Scottmitch commented on #7699
See http://netty.io/wiki/reference-counted-objects.html for more info on reference counting.

[2018-02-10 15:23] DonnyDarkoRabbit commented on #7699
I have a few concerns here

@Scottmitch

_Since Netty version 4, the life cycle of certain objects are managed by their reference counts, so that Netty can return them (or their shared resources) to an **object pool** (or an object allocator) as soon as it is not used anymore..._

So what is the point on reference counting Unpooled buffers?

@normanmaurer

Does ChannelInboundHandlerAdapter automat

[2018-02-11 09:20] hananaharonof opened #7706 "Client fails to follow 301 relative location redirection"
Hi,

URL https://www.ynet.co.il returns 301 with Location header of "/home/0,7340,L-8,00.html". MonoHttpClientResponse#74 calls getRemoteAddress on the returned relative location, which fails with NPE.

According to https://en.wikipedia.org/wiki/HTTP_location relative location should be supported.

Netty version: 0.7.3

[2018-02-11 09:46] #7706 closed

[2018-02-11 14:13] laosijikaichele opened #7707 "method `io.netty.util.concurrent.DefaultPromise#isSuccess/isDone` need to be improved?"
### Expected behavior
should print either four `true` or four `false`.

### Actual behavior

### Steps to reproduce
run the following reproduce code.
### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version
4.1.21
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)
MacOS

I know this is kind of hack code, but it seems that the DefaultPromise class

[2018-02-12 08:15] mdindoffer opened #7708 "Lack of Immediate-state futures"
Netty's ChannelFutures are a weaker versions of Guava's ListenableFutures. However, they do lack immediately-complete implementations such as Guava's [ImmediateCancelledFuture](https://google.github.io/guava/releases/23.0/api/docs/com/google/common/util/concurrent/Futures.html#immediateCancelledFuture--) and [ImmediateFailedFuture](https://google.github.io/guava/releases/23.0/api/docs/com/google/c

[2018-02-12 08:41] laosijikaichele commented on #7423
Throw an exception in catch block of method `io.netty.util.concurrent.DefaultPromise#safeExecute` will resolve it?

[code]

[2018-02-12 08:55] slandelle commented on #7708
What about `new DefaultPromise<T>(ImmediateEventExecutor.INSTANCE).setFailure()`?

[2018-02-12 16:41] Scottmitch commented on #7699
1. We may not use the JDK's default allocation mechanisms for performance reasons. This means you may leak direct memory if you are not properly releasing.
2. If you are conditionally releasing based upon what allocator you start with ... it will be difficult later to switch between pooled/unpooled allocators.

All `ByteBuf` objects are reference counted. Anything that implements [ReferenceCounted

[2018-02-12 17:02] Scottmitch commented on #7708
As you mentioned we do have `newSucceededFuture` and `newFailedFuture` [1], however the notification is tied to an EventLoop.  So if you wanted the notification to always be on the calling thread you should use `ImmediateEventExecutor.INSTANCE` as suggested above (https://github.com/netty/netty/issues/7708#issuecomment-364861505). Unfortunately the current APIs don't allow for overriding of the `E

[2018-02-12 17:40] Scottmitch commented on #7439
FYI 4.0 is EOL. The previous release was the "last" release see http://netty.io/news/2018/01/22/4-0-55-Final-4-1-20-Final.html

[2018-02-12 22:24] #7707 closed

[2018-02-13 00:17] jkinkead opened #7710 "DefaultHeaders does not correctly implement interface"
### Expected behavior

One-argument convert-and-get methods (`get{Byte,Double,Float,Int,Long,Short}`) should return `null` when invoked on a header that can't be converted, per the documentation (e.g. [for `getInt(String)`](https://github.com/netty/netty/blob/4f982be91e6d61c7c7a9d8d63115e0ebe65b2774/codec/src/main/java/io/netty/handler/codec/Headers.java#L175-L176)).

Similarly, two-argument conve

[2018-02-13 02:11] DonnyDarkoRabbit commented on #7699
Very useful information, **thank you** both!

How about running **2** server **bootstraps** in the same process? How does this affect memory, buffers, pools etc?

because **once a week** (even in the first day) I get a very **strange garbage collection behavior** that stays between **80%-99%** at **heap** usage, trying to do **stop the world gc** again and again... and **java is freezing until I c

[2018-02-13 02:18] laosijikaichele opened #7712 "method `io.netty.util.concurrent.DefaultPromise#cancel` violates contrast?"
### Expected behavior
According the contrast from method `java.util.concurrent.Future#cancel` :

the console should print `true`
### Actual behavior
console print `false`
### Steps to reproduce
please use following reproducer code
### Minimal yet complete reproducer code (or URL to code)
[code]
### Netty version
4.1.21
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)
Mac

[2018-02-13 05:24] mrniko opened #7713 "DnsMessage.release() was not called before it's garbage-collected"
**Used version**

Netty 4.1.21.Final

**Expected behavior**

No exception.

**Actual behavior**
[code]

[2018-02-13 05:24] mrniko commented on #7713
@johnou PTAL

[2018-02-13 08:13] normanmaurer commented on #7710
Fixed by https://github.com/netty/netty/pull/7715

[2018-02-13 08:13] normanmaurer commented on #7710
@jkinkead please check https://github.com/netty/netty/pull/7715

[2018-02-13 12:55] DonnyDarkoRabbit opened #7716 "Dual server netty bootstrap related to (heap memory) garbage collection freezing"
### Actual behavior
Stop The World Garbage Collection **Loop** freezes the process for minutes until I connect to the second (server) netty bootstrap that runs in the same process.

### Netty version
4.1.16.Final

### JVM version (e.g. java -version)
1.8.0_152

### OS version (e.g. uname -a)
Linux

How about running **2** server **bootstraps** in the same process? How does this affect memory, buff

[2018-02-13 15:58] DonnyDarkoRabbit commented on #7716
**1st Bootstrap**
[code]
[code]
[code]

**2nd Bootstrap**
[code]

[code]

[2018-02-13 17:11] johnou commented on #7713
@mrniko bit tapped out on GDPR work right now but thanks for the heads up!

[2018-02-13 19:15] jkinkead commented on #7710
Awesome, thanks for the quick fix! It looks good barring other reviewer's comment (should catch `RuntimeException`).

It might be worth adding docs to [the converter interface](https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/ValueConverter.java) for the exceptions.

[2018-02-13 20:11] Bennett-Lynch commented on #7599
Sorry for the slow response.  I spent some time trying to create a minimal/complete/verifiable example, and I was able to successfully recognize the `Http2ConnectionPrefaceAndSettingsFrameWrittenEvent` and bootstrap multiple new `Http2StreamChannel`s simultaneously -- so something's wrong somewhere in my specific application logic.  I'll spend some time debugging it.

Closing this out, thanks for

[2018-02-13 20:11] #7599 closed

[2018-02-13 21:24] jkinkead opened #7717 "DefaultHttp2Headers has inconsistent handling of `getBoolean`."
### Expected behavior

`getBoolean` should have clearly-documented semantics, and they should be consistent.

`getBoolean` should return the same truth value for the same string value, regardless of the underlying type.

### Actual behavior

`AsciiString` values use a [null-byte-check](https://github.com/netty/netty/blob/4f982be91e6d61c7c7a9d8d63115e0ebe65b2774/common/src/main/java/io/netty/util/A

[2018-02-14 02:39] Sahasrara opened #7719 "NioEventLoop doesn't always wake up when there are scheduled tasks"
### Expected behavior
NioEventLoop should never wait when a task is available to run.

### Actual behavior
We're seeing an intermittent delay in execution when submitting tasks to the NioEventLoopGroup.

### Steps to reproduce
It's very difficult to reproduce this consistently.  Our pipeline is configured as described in this question:
https://stackoverflow.com/questions/48713193/write-in-netty-no

[2018-02-14 07:19] normanmaurer commented on #7719
Will lease upgrade to latest version first and let us know if the issue is still present. Also did you check if you EventLoop is maybe blocked ?

[2018-02-14 07:36] normanmaurer commented on #7710
Fixed by https://github.com/netty/netty/pull/7715

[2018-02-14 07:36] #7710 closed

[2018-02-14 07:37] normanmaurer commented on #7710
I will also update the interface with some docs.

[2018-02-14 14:04] normanmaurer commented on #7713
@johnou is it from your code ?

[2018-02-14 14:15] johnou commented on #7713
@normanmaurer no :)

[2018-02-14 14:16] normanmaurer commented on #7713
@mrniko can you share code to reproduce ?

[2018-02-14 15:32] mrniko commented on #7713
I'm unable to reproduce it. Issue reported by company which uses Redisson.

I use DNS resolver in this class:
https://github.com/redisson/redisson/blob/09b2724c44567035c8806bfe4a79bdf355c816b8/redisson/src/main/java/org/redisson/connection/DNSMonitor.java

Here is the point where `DnsAddressResolverGroup` is created:
https://github.com/redisson/redisson/blob/387ed744b8bb49a49f9cd41adfd500c4592d202

[2018-02-14 19:31] Sahasrara commented on #7719
Sure thing!  I just upgraded to the latest code and am still seeing the issue.  I believe what's happening is exactly what's described in the comment [here](https://github.com/netty/netty/commit/f44f3e7926f1676315ae86d0f18bdd9b95681d9f#diff-5a0bcc32d9866d6c36a3358082cc5f44L654).

The pipeline has no blocking calls and the latency presents itself at random handlers at random intervals.  I _really_

[2018-02-14 22:58] ManuelPivotal opened #7722 "JsonPbjectDecoder 4.1.21.Final"
### Expected behavior
Send a set of JSON objects, for example 20 big json objects of 1300 bytes each, using netcat and a file

### Actual behavior
if a JSON object is between 2 buffers, the decoding stops.

### Steps to reproduce
Create a set of 20 json objects of size 1300 bytes each, write a server using the JsObjectDecoder, only the first 10 will arrive and nothing else on this channel

### Min

[2018-02-15 01:27] Scottmitch commented on #7719
Can you provide a complete/minimal reproducer?

[2018-02-15 04:10] Sahasrara commented on #7719
I'll try to get an example soon.  I'm on-call at work so I don't have much time, but maybe once I've finished my rotation.

[2018-02-15 04:46] laosijikaichele commented on #7712
friendly pinging...
@normanmaurer @trustin @Scottmitch

[2018-02-15 07:38] normanmaurer commented on #7717
Fixed by https://github.com/netty/netty/pull/7720

[2018-02-15 07:38] #7717 closed

[2018-02-15 08:13] normanmaurer commented on #7722
@ManuelPivotal can you just open a PR with the fix + test case ?

[2018-02-15 08:14] normanmaurer commented on #7716
Sorry no idea... you will have to provide more infos like GC logs / heap dumps etc.

[2018-02-15 08:15] normanmaurer commented on #7712
@laosijikaichele yes I think you are right but there is not much we can do without breaking users until we do a new major release.  Let me add it to the todo list.

[2018-02-15 08:16] normanmaurer commented on #5430
DefaultPromise.cancel(...) violates contract of java.util.concurrent.Future:

https://github.com/netty/netty/issues/7712

[2018-02-15 08:16] normanmaurer commented on #7712
https://github.com/netty/netty/issues/5430#issuecomment-365854227

[2018-02-15 08:17] normanmaurer commented on #7708
Let me close this for now... Please re-open if the suggestion by @slandelle / @Scottmitch not works for you

[2018-02-15 08:17] #7708 closed

[2018-02-15 08:19] normanmaurer commented on #5430
MultiThreadEventExecutorGroup should not call abstract method in constructor (same is true for other classes in netty): https://github.com/netty/netty/issues/7605

[2018-02-15 08:19] normanmaurer commented on #7605
Let me add it to the "next-major" version TODO List: https://github.com/netty/netty/issues/5430#issuecomment-365854774

[2018-02-15 10:17] jo-kin commented on #7699
@normanmaurer 6 days ago you mentioned here

Already in issue #6221 the problem was caused by

Is is possible to explain your comment a little deeper?
If i'm right, Netty in NIO-mode tries to offer a "unlimited" layer above a actually limited layer (socket, network).  Netty uses DirectMemory to buffer performance differences between both layers. Means "writing to fast" that the buffer capacity in

[2018-02-15 10:35] normanmaurer commented on #7699
@jo-kin yes... you may try writing faster then the remote peer accepts.... You can check `Channel.isWritable()` to see if it is writable atm. `ChannelInboundHandler.channelWritabilityChanged(...)` will be triggered whenever the writability state of the `Channel`  changes

[2018-02-15 12:03] ManuelPivotal commented on #7722
sure, what is a PR :-) ?

[2018-02-15 12:06] normanmaurer commented on #7722
@ManuelPivotal https://help.github.com/articles/about-pull-requests/ :) Basically do the change and submit it so we can pull it in

[2018-02-15 12:15] ManuelPivotal commented on #7722
I see. As it was not working, I took the JsonObjectDecoder and integrated it in my project to debug it locally, I have not changed the original class. I can pull and change it if you want, while adding a test case

[2018-02-15 12:19] normanmaurer commented on #7722
yes please

[2018-02-15 17:23] jo-kin commented on #7699
@normanmaurer Thanks a lot.  I was caught exactly in that trap. A writing delay with isWritable() is the solution for my io.netty.util.internal.OutOfDirectMemoryError-Problem.

[2018-02-15 17:35] normanmaurer commented on #7699
@jo-kin thanks... please close the issue then :)

[2018-02-15 18:35] DonnyDarkoRabbit commented on #7699
I opened this issue :)) I 've done several changes to fix this error that I will be able to confirm by tomorrow.

[2018-02-15 19:19] DonnyDarkoRabbit commented on #7716
@normanmaurer Thank you !
Our server is pretty **healthy** online **for weeks**, serving thousands of connections. But then **unexpectedly** heap usage goes high and garbage collection **stops working effectively**.

I have created a schedule that performs System.gc() when heap usage >= 85%
![5d26c50a1af6a468089ff3f6b17d529dced10c2e26eb811148 pimgpsh_fullsize_distr](https://user-images.githubuserc

[2018-02-16 00:48] jianglai opened #7724 "SSL connection not closed properly after handshake failure in v4.1.21"
### Expected behavior
When SSL handshake fails, the connection is closed.

### Actual behavior
Even though the SSL engine is closed, the connection itself is not closed.

### Steps to reproduce
See below.

### Minimal yet complete reproducer code (or URL to code)
Run the demo code [here](https://github.com/jianglai/netty-bug/blob/master/src/main/java/test/Main.java). The program hangs and "Channel

[2018-02-16 06:54] normanmaurer commented on #7724
@jianglai thanks I will check.

[2018-02-16 08:06] normanmaurer commented on #7724
@jianglai should be fixed by https://github.com/netty/netty/pull/7727.

[2018-02-16 13:51] jianglai commented on #7724
Thanks for the quick turnaround!

[2018-02-16 13:52] normanmaurer commented on #7724
@jianglai no problem... would be nice if you can verify the fix

[2018-02-16 16:28] Scottmitch commented on #7724
fixed by #7727

[2018-02-16 16:28] #7724 closed

[2018-02-16 17:54] jianglai commented on #7724
Confirmed that with 4.1.22.Final-SNAPSHOT, the demo code works as intended.

Thanks!

[2018-02-16 18:33] normanmaurer commented on #7724
@jianglai thanks a lot !

[2018-02-17 18:49] DonnyDarkoRabbit commented on #7699
back pressure control seems like solved the issue for me too. thanks!!

[2018-02-17 18:49] #7699 closed

[2018-02-18 08:35] blucas opened #7729 "Downloading large file halts during transfer"
### Expected behavior
When downloading a large file (50MB) from a netty based server, I expect to receive the entire file and that the download does not halt during the transfer.

### Actual behavior
Download of file halts during the transfer. Transfer eventually terminates due to idle timeout.

### Steps to reproduce
1. Setup a Netty HTTP server using Epoll Edge Triggered
2. Set the low water mar

[2018-02-18 08:41] doom369 commented on #7729
Have the same issue. Increasing chunk size from 8kto 128k fixes the issue.

[2018-02-18 12:12] bedlimate commented on #2558
@normanmaurer  I meet the same problem.
**mvn -version**:
Apache Maven 3.5.2 (138edd61fd100ec658bfa2d307c43b76940a5d7d; 2017-10-18T15:58:13+08:00)
Maven home: /usr/share/maven
Java version: 1.8.0_161, vendor: Oracle Corporation
Java home: /usr/local/lib/jdk1.8.0_161/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "4.13.0-32-generic", arch: "amd64", family: "unix"

Af

[2018-02-18 16:27] Scottmitch commented on #7729
thanks for reporting. Can you clarify how you are writing the file? Are you using `FileRegion` or do you cache the file in memory and write `ByteBuf`s? Do you have an `SslHandler` in the pipeline?

[2018-02-18 16:36] doom369 commented on #7729
@Scottmitch I was using default Netty Static File example.

SslHandler is present and this part is used:

[code]

Yes. Adding progress listener show that server sends every time the random number of chunks (40-60% of the file). Tested both via browser and curl.

[2018-02-18 16:53] Scottmitch commented on #7729
@doom369 - Can you list the precise steps you used to reproduce using the "Netty Static File example" (I'm assuming `HttpStaticFileServer`)? What file did you download, did you change any code, what browser were you using, what transport are you able to reproduce with?

[2018-02-18 17:23] doom369 commented on #7729
@Scottmitch correct. I used handler from `HttpStaticFileServer` (just handler). My server also users epoll along with openssl. Browser chrome. I'll try to cut off some minimal reproducer when I have some time.

[2018-02-19 10:43] KowalczykBartek commented on #7716
small off-topic, but instead of System.GC you can use CMSInitiatingOccupancyFraction flag to kicks in CMS in appropriate moment

[2018-02-19 16:59] konsultaner opened #7732 "ByteBuf.slice can only take int for the length value"
I want to chunk a ByteBuf into large slices. I cannot do it because the

[code]
 obviously limits it to `Integer.MAX_VALUE`. I need Long values. Can I just simply use a CompositeBuffer to compensate my problem or should I just never slice with such big values for some reason? If so, what is the reason?

[2018-02-19 19:16] azagniotov opened #7733 "SSL exceptions under a high request load"
### Expected behavior
No SSL related exceptions under a high load
### Actual berhavior

This is a repost from an issue I raised with the Vert.x team for visibility: https://github.com/vert-x3/vertx-web/issues/843 But, it seemed more appropriate to ask here, since I am observing Netty related SSL exceptions:

#### Context
I have a service based on Vert.x which uses Netty version listed below. I am

[2018-02-19 22:20] Scottmitch commented on #7729
@blucas - reproducer was very helpful to narrow in on the issue!

[2018-02-20 00:09] DonnyDarkoRabbit commented on #7716
This is not netty's fault, I finally found a serious leak in my code that is huge. I'm sorry for this...

[2018-02-20 00:09] #7716 closed

[2018-02-20 10:41] #7729 closed

[2018-02-20 11:06] normanmaurer commented on #7713
I think this was fixed by https://github.com/netty/netty/pull/7734

[2018-02-20 11:06] #7713 closed

[2018-02-20 11:07] normanmaurer commented on #7732
@konsultaner thats because arrays are only addressable via "int" and the `ByteBuf` may be backed by an byte[]. So you are currently limited by Integer.MAX_VALUE.

[2018-02-20 11:07] #7732 closed

[2018-02-20 11:08] normanmaurer commented on #7719
@Sahasrara thanks ... let us know once you have something :)

[2018-02-20 11:08] mrniko commented on #7713
Let's see. Thank you!

[2018-02-20 13:55] simonbasle opened #7736 "SimpleChannelPool: add a way to notify ChannelPoolHandler of only effectively useable created channels"
### Expected behavior
`ChannelPoolHandler#channelCreated` gets called with a `Channel` that is actually usable.

### Actual behavior
`ChannelPoolHandler#channelCreated` gets called as soon as the `Bootstrap` has registered the `Channel` (`ChannelInitializer` called) but *before* it has connected (`SimpleChannelPool#connectChannel`). As a result, the created `Channel` might turn unusable (eg. becau

[2018-02-20 17:35] blucas commented on #7729
@Scottmitch - You're welcome! Glad it helped!

[2018-02-20 19:33] ManuelPivotal commented on #7722
Ok, sorry for the delay.
I wrote a small test locally which is in JsonObjectDecoderTest
I fails, unless you change in JsonObjectDecoder.java, decode() method
`
        if (this.idx > in.readerIndex() && lastReaderIndex != in.readerIndex()) {
            this.idx = in.readerIndex();
            if (state == ST_DECODING_ARRAY_STREAM) {
                insideString = false;
                openBraces

[2018-02-21 06:10] Sahasrara commented on #7719
OK i finally went off-call and had a second to try to reproduce this in a simple pipeline.

https://github.com/Sahasrara/NettyBug

For me this seems to reproduce it even without running the 800 threads so maybe you can comment that part out.  I just run nc -lk localhost 9999 and then startup main.

Let me know what you see.

[2018-02-21 14:43] doom369 commented on #7733
What exactly client you are using? It could be the client issue as well.

[2018-02-21 22:09] mosesn opened #7740 "HttpServerUpgrader should add the new handler before removing the old"
There's a potential race condition in the netty HTTP server upgrade path.  The client sends an upgrade request, the server responds with a 101, and then the client sends another message.  If the server has partially read this message before it does the upgrade, then it will propagate the bytes, but if this happens *before* the replacement happens, then we can be in a sticky situations.

In the HTT

[2018-02-22 04:33] yueki1993 opened #7741 "Handle websocket client handshake responses"
WebSocket client handshake response data should also be re-fired after handshaking.

I want to handle websocket client handshake responses (i.e., response headers), but the responses will not be re-fired after handshaking.
So, if we want to handle them, we need to insert a channel handler that handles FullHttpResponse and verify response messages in the same way as what `io.netty.handler.codec.htt

[2018-02-22 07:33] yueki1993 opened #7742 "WebSocket server handshaker should be injectable."
While a websocket *client* handshaker can be injected in `WebSocketClientProtocolHandler`, a websocket server handshaker cannot in `WebSocketServerProtocolHandler`.
Is it ok to make it injectable? I will create a PR if there's no problem.

[2018-02-22 11:57] slaskawi opened #7744 "HTTP/2 example hangs on other methods than GET with JDK9 HttpClient"
### Expected behavior

JDK9 introduces new HTTP client with `TLS/ALPN` and `HTTP/2` support. I noticed that when using this client, HTTP/2 requests hang when using any other method than `GET`.

### Actual behavior

The server should send proper response to the client

### Steps to reproduce

1. Start `Http2Server` from the examples with SSL.
2. Use the following client code (it's a little but dirt

[2018-02-22 12:30] debashisdeb commented on #5936
HOW DID YOU 😄

[2018-02-23 08:07] normanmaurer commented on #7740
@mosesn I am a bit busy atm so cant check in the next days (most likely). Do you want to talk a stab on fixing it by yourself ?

[2018-02-23 11:47] mosesn commented on #7740
Yep, happy to take a stab at it, as long as it sounds like a reasonable idea.

[2018-02-23 18:12] normanmaurer commented on #7740
@mosesn yes I think this sounds reasonable.

[2018-02-25 15:36] normanmaurer commented on #7722
@ManuelPivotal thanks but can you please follow the steps explained here:

https://help.github.com/articles/about-pull-requests/

This will help us to consume the fix in a correct way and also attribute it to you.

[2018-02-25 15:39] normanmaurer commented on #7719
@Sahasrara shouldn't you call `writeAndFlush` here?

https://github.com/Sahasrara/NettyBug/blob/master/src/main/java/com/sahasrara/frown/FrownTown.java#L73

maybe I just miss what you try to show us...

[2018-02-25 15:44] #7660 closed

[2018-02-25 15:44] normanmaurer commented on #7660
Merged...

[2018-02-25 19:00] Sahasrara commented on #7719
My understand is that write() will flush a message down the pipeline, and flush will flush all pending messages out to the socket.  Is that not true?

If I switch to write and flush I'm sure it will work, but that's not the point.  This is just an example of the problem, and the example has no purpose other than to illustrate the issue.  If I just wanted to send strings over the wire, I'd remove t

[2018-02-26 11:32] lovepoem opened #7748 "Macos , in transport-native-kqueue module, mvn install fail in source code"
### Expected behavior
When download and  install the source code with maven, expect to find is appear `install success`

### Actual behavior
It occur a error
`Requested download does not exist.: Failure to find io.netty:netty-transport-native-kqueue:zip:native-src:4.1.23.Final-SNAPSHOT in https://oss.sonatype.org/content/repositories/snapshots`

[code]

### Steps to reproduce
[code]
### Minimal ye

[2018-02-26 12:00] kachayev opened #7749 "Proposal: DnsAddressResolverGroup to use injectable DnsNameResolverBuilder"
### Expected behavior

It should be possible to create `DnsAddressResolverGroup` having `DnsNameResolverBuilder` ready-to-go.

### Actual behavior

Right now, if I want setup custom settings for `DnsAddressResolver` I need to sub-class `DnsAddressResolverGroup` and override `newNameResolver` [method](https://github.com/netty/netty/blob/06dcca1dbcc048b6ce7d954e4ecdf1d3ed6af034/resolver-dns/src/main

[2018-02-26 15:59] slandelle commented on #6706
Actually, from [RFC7230](https://tools.ietf.org/html/rfc7230#section-6.5):

How can this be implemented with Netty? Any advice would be greatly appreciated.

[2018-02-27 01:04] ldaley opened #7752 "IovArray.add(ByteBuf) throws if buffer is a composite of a single direct buffer"
### Expected behavior

Not throwing unhandled `UnsupportedOperationException`.

### Actual behavior

Method throws unhandled `UnsupportedOperationException` which causes channel write operations to fail.

### Steps to reproduce

The problem is here: https://github.com/netty/netty/blob/4.1/transport-native-unix-common/src/main/java/io/netty/channel/unix/IovArray.java#L96

If `buf` is a `FixedCompos

[2018-02-27 03:17] normanmaurer commented on #6706
@slandelle what exactly you want to implement here ? Like stopping to write ?

[2018-02-27 07:31] slandelle commented on #6706
I would like to be able to read the early HTTP response the servers sends before the SYN. Here's another example with some Wireshark dumps: https://groups.google.com/forum/#!topic/asynchttpclient/hGbinqPLHi0

[2018-02-27 19:45] artgon opened #7753 "Retrying requests with SSLEngine ByteBufs"
I'm not sure if this is a bug or a feature but just wanted some clarification on the functionality here:

When send a POST body over SSL and then want to retry that request, the ByteBufs are forcibly cleared (I think here: https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/ReferenceCountedOpenSslEngine.java#L796), so on a retry it sends a series of EmptyByteBufs.

T

[2018-02-27 23:37] r-joshi opened #7754 "Feature Request: ability to set/get ResourceLeakDetector's targetRecords programmatically"
### Description

Currently ResourceLeakDetector's leak detection target records number can be set as a JVM option: io.netty.leakDetection.targetRecords. Would it be possible to provide a programmatic way to set this, i.e., a setter method:

ResourceLeakDetector.setTargetRecords(int)

This is similar to how the leak detection level can be set using a JVM option as well as using a setter.

Also a ge

[2018-02-28 10:06] lovepoem commented on #7748
I resolve it now.
After reading the logs, I find the reason:because some tools needed are not installed
1、automake
[code]
then I run `brew install automake`

2、libtool
[code]

then I run `brew install libtool`

Now it is success

[2018-02-28 10:14] #7748 closed

[2018-03-01 00:03] raner opened #7756 "@Sharable should also support @Target(ElementType.TYPE_USE)"
### Expected behavior
`@Sharable` should also be usable with anonymous inner types, so that it is no longer necessary to make named classes (top-level or nested) for sharable handlers. Since Java 8, this is possible with the new `ElementType` `TYPE_USE`.
The practical problem here is that either (a) Netty would have to, at some point, *require* Java 8 (don't think that's the case yet), or (b) an a

[2018-03-01 02:42] mingxing47 opened #7757 "how to run benchmarkserver in https protocol?"
### Expected behavior
I run the example in netty/example/src/main/java/io/netty/example/http/websocketx/benchmarkserver/ path.
I want to start the example in https protocol.
### Actual behavior
The console shows that:
Open your web browser and navigate to http://127.0.0.1:8080/
but what I want is
Open your web browser and navigate to https://127.0.0.1:8443/

### Steps to reproduce
I have debuged t

[2018-03-01 07:41] MarkVilkel commented on #6317
Hi!
I've found the problem in my code.
Sorry and thanks for the help!

[2018-03-01 07:41] #6317 closed

[2018-03-01 08:00] MarkVilkel opened #7758 "Handshake failed on netty 4.1.21 running under Android 5.0"
Hi!
I've got an exception on Android 5.0 with netty 4.1.21:

[code]
So Android app is unable to establish ssl connection.

I have had the same error when we were using mina library, however I've solved it by adding:
[code]
like it was suggested by Internets in org.apache.mina.filter.support.SSLHandler.unwrap0() method:
[code]

As I understand this is Android problem, described here https://issuetr

[2018-03-01 09:15] normanmaurer commented on #7758
@MarkVilkel yes I think so... let me check

[2018-03-01 10:58] BoaNeo commented on #2465
I came here from a Google search on NioEventLoop CPU usage because I just found that my completely idle Java process using Netty 4.1.12, with no active connections, is using 25% CPU (one core completely blocked).

I have 13 nioeventloop threads like the one below, all identical except for the "- lock" lines (All 39 of these are unique, so I guess no indication of deadlock(?)):

"nioEventLoopGroup-

[2018-03-01 11:29] johnou commented on #2465
@BoaNeo please try updating to the latest Netty release and Java then report back if problems persist.

[2018-03-01 13:22] kiril-me commented on #7756
Yes, this is the excellent feature. Also, I would like to have ElementType.TYPE_PARAMETER as well.

The main problem that netty currently support Java 6.

[2018-03-01 14:26] BoaNeo commented on #2465
Thx, I'll try that, but unfortunately it happens at random so it will probably be gone after a restart even if the underlying issue is not.

[2018-03-01 14:44] jprante opened #7759 "ObjectCleanerThread leaking"
### Expected behavior

After using Netty, all Netty threads should terminate. This is the behavior of Netty 4.1.19. But ObjectCleanerThread leaks since 4.1.20.

### Actual behavior

ObjectCleanerThread only terminates when JVM terminates.

### Steps to reproduce

1. Start to use Netty (NettyRuntime.setAvailableProcessors, EventLoopGroup etc.)
2. Use Netty
3. Stop using Netty by eventLoopGroup.shut

[2018-03-01 14:47] ivankelly opened #7760 "HashedWheelTimer doesn't handle very large values"
### Expected behavior
If I set a timeout with Long.MAX_VALUE (effectively trying to disable it), it should never run.

### Actual behavior
It runs. It runs a lot.

### Steps to reproduce
[code]

### Netty version

Behaviour observed in 4.1.21.Final
Tested on 4.1 branch from January 2 (062d9269120bac0064408025b78788613d41d36d)

### JVM version (e.g. `java -version`)

openjdk version "1.8.0_151"
Ope

[2018-03-02 01:44] normanmaurer commented on #7756
This makes perfect sense and we are planing to start work on the next major version of netty very soon which will hopefully be able to fix this.

Stay tuned, I will start a proposal for all of this soon.

[2018-03-02 01:54] normanmaurer commented on #7759
@jprante thats most likely because you used the `PooledByteBufAllocator.DEFAULT` and so a reference is still be hold to it. Because of this the cleaner thread is still alive as there is still allocated memory that was not collected.

[2018-03-02 01:55] normanmaurer commented on #7760
@ivankelly this sounds clearly like a bug... Let me check as soon as I have a few cycles or if you like you could also try to provide a PR .

[2018-03-02 02:50] ashutoshvsingh commented on #62
what is the best way to disable this malloc from happening inside of Netty. We are running IMAP server in netty and under high load we are seeing JVM getting killed because it is using too much memory. It seems that there is a leak in the way memory is either not collected properly or we are flooding ourselves reading from clients and not being able to flush. Either way we would like not to use th

[2018-03-02 02:52] normanmaurer commented on #62
@ashutoshvsingh you should check via a heap dump whats going on and enable leak-detection. You may not correctly release buffers back to the pool

[2018-03-02 02:56] normanmaurer commented on #7758
@MarkVilkel  https://github.com/netty/netty/pull/7761 PTAL if this fixed it

[2018-03-02 02:57] ashutoshvsingh commented on #62
I just want to disable the malloc. We are seeing this only when we are using this for certain load where the proxy we are writing to is slow. How do I disable this malloc. I can take GC.

[2018-03-02 02:58] normanmaurer commented on #62
@ashutoshvsingh if this is only happening on slow writing you may write to fast ? Please open a new issue and explain what exactly you want to do and what the issue is. I think I may not fully understand the issue yet.

[2018-03-02 03:14] ashutoshvsingh opened #7762 "Memory Leak detected when Channel Writes are not flushed fast enough"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### 4.1.4

### Java(TM) SE Runtime Environment (build 1.8.0_131-b11)

### Red Hat Enterprise Linux Server release 6.7 (Santiago)

We are seeing the Resident memory of the JVM running Netty (IMAP server) is growing to a point where we are running out of heap on the machine

[2018-03-02 03:15] ashutoshvsingh commented on #62
just opened the issue.

On Thu, Mar 1, 2018 at 6:59 PM, Norman Maurer <notifications@github.com>
wrote:

[2018-03-02 07:49] Sahasrara opened #7764 "Calling ctx.close() in write() will hang forever"
### Expected behavior
It's possible I missed some documentation, but this seems strange.  If I call ctx.close() in a handler's write() method, I'd expect the channel to close.

### Actual behavior
The channel hangs open indefinitely.

### Steps to reproduce
Run: nc -lk 9999
Run: the java program below

### Minimal yet complete reproducer code (or URL to code)
`public class NeverGiveUpNeverCloseCha

[2018-03-02 07:50] Sahasrara commented on #7764
Maybe I missed some vital documentation, but this behavior seems odd to me.

[2018-03-02 08:05] johnou commented on #7764
@Sahasrara try with 4.1.22.Final

[2018-03-02 08:22] Sahasrara commented on #7764
Same result

[2018-03-02 08:41] ivankelly commented on #7760
@normanmaurer I had a quick look. The logic looks sound. If I get more time, I'll look again. It's going to be something to do with something being added to turn it negative.

[2018-03-02 08:47] normanmaurer commented on #7760
@ivankelly yep sounds like it... looking now

[2018-03-02 08:49] normanmaurer commented on #7760
@ivankelly ok I know whats wrong... writing a fix now

[2018-03-02 08:49] ivankelly commented on #7760
:+1:

[2018-03-02 09:02] normanmaurer commented on #7760
@ivankelly https://github.com/netty/netty/pull/7765

[2018-03-02 09:04] johnou commented on #7759
@jprante that said in 4.1.21 the thread is daemon, so it shouldn't stop your JVM from exiting https://github.com/netty/netty/pull/7627.

[2018-03-02 09:10] normanmaurer commented on #7764
@Sahasrara I will check as soon as I have a few cycles

[2018-03-02 09:12] kiril-me commented on #7764
I got the same results on the latest build. The eventLoop doesn't exit.

[2018-03-02 09:18] normanmaurer commented on #7764
@kiril-me I am a bit confused... I think this issue is about the `Channel` which is not closed.

That said I think this is expected in the example code as the `promise` in the write is never notified.

@Sahasrara the problem is this:

[code]

Here the `promise` is never failed and so of-course the `ChannelFuture` returned by `writeAndFlush` is never notified. If you would either failed the promise

[2018-03-02 09:18] #7764 closed

[2018-03-02 09:18] normanmaurer commented on #7764
@Sahasrara I closed this as I think this is an usage error

[2018-03-02 09:50] MarkVilkel commented on #7758
@normanmaurer thank you for a quick fix.
We've tested d0b43d1 on Android 5.0 - works fine.
Waiting this fix in the next netty version.

[2018-03-02 10:20] johnou commented on #7758
@MarkVilkel do you see this problem with a Android 5.0 client talking SSL with a Netty server eg. standalone java app, or using Netty inside an Android application on 5.0?

[2018-03-02 10:43] MarkVilkel commented on #7758
@johnou we have an android application with netty client inside it connecting to netty transport server. Problem appeared only on Android 5.0

[2018-03-02 11:57] #7758 closed

[2018-03-02 12:16] slaskawi opened #7766 "HTTP/2 with TLS is broken since 4.1.10"
### Expected behavior

When invoking curl against the HTTP/2 server located in `io.netty.example.http2.helloworld.server` I always get `NSS error -5938 (PR_END_OF_FILE_ERROR)` and the following exception on Netty side:

[code]

It is worth to mention that this happen in JDK8. With JDK9 it works correctly. It is also worth to mention that a plain text upgrade to HTTP/2 works correctly.

### Actual

[2018-03-02 12:17] slaskawi commented on #7766
I think this might be related with https://github.com/netty/netty/issues/7744 in some way.

[2018-03-02 12:44] slaskawi commented on #7766
After looking a bit more into code I think I understand what's going on:
* In `JdkAlpnApplicationProtocolNegotiator`, `ConscryptAlpnSslEngine.isAvailable()` returns `true`. So we are assuming that we can use Conscrypt ALPN.
* Then in `AlpnWrapper#wrapSslEngine` we try to wrap the engine but it turned out that this is pure JDK SSLEngine, not Conscrypt. That's why we're observing the exception.

The

[2018-03-02 12:45] normanmaurer commented on #7766
Let me look into it

[2018-03-02 12:49] slaskawi commented on #7766
We also noticed similar failures in Infinispan, after migrating to `4.1.21`. However we are using a [custom SSLEngine](https://github.com/infinispan/infinispan/blob/master/server/core/src/main/java/io/netty/handler/ssl/ALPNHackSSLEngine.java). So I think in that case we would need also a custom ALPN Negotiator... or switch to Conscrypt...

[2018-03-02 12:50] normanmaurer commented on #7766
@slaskawi do you have a stacktrace ?

[2018-03-02 12:52] slaskawi commented on #7766
@normanmaurer From Infinispan - unfortunately no. I was looking into it a while ago in a completely dirty workspace. As for the `HTTP2Server` - yes, it's in ticket description but let me repaste it:

[code]

[2018-03-02 13:12] konsultaner opened #7767 "Netty using WebSocker08Frames after WebSocket version 13 handshake"
I have noticed a weired behavior that is not explainable to me:

[code]

The handshake was `WebSocket version 13` but the decoder is a `WebSocket08FrameDecoder `

### Steps to reproduce

This is my pipe
[code]
I connected WampSharp to the WebSocketServer and also created an [issue there](https://github.com/Code-Sharp/WampSharp/issues/240)

### Netty version
4.1.20

### JVM version (e.g. `java -ver

[2018-03-02 13:21] slandelle commented on #7767
`WebSocket13FrameDecoder` extends `WebSocket08FrameDecoder` and you're just seeing some logs from the parent class, see https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/WebSocket08FrameDecoder.java#L87

[2018-03-02 13:27] konsultaner commented on #7767
@slandelle Thanks! But thats really confusing

[2018-03-02 13:27] #7767 closed

[2018-03-02 17:44] Sahasrara commented on #7764
Oh ok, so if you want to close a channel you have to mark the future as succeeded or failed then I guess.  That must be the part I missed.  So if you want to close the channel from exceptionCaught, you HAVE to fireExceptionCaught().  You can't just call ctx.close().  Is that right?

[2018-03-02 22:04] Sammers21 commented on #6285
Is a work still in progress? I am interested in working on it and implement as soon as possible.

[2018-03-02 22:04] Sammers21 commented on #6285
@normanmaurer, what do you think?

[2018-03-03 11:00] normanmaurer commented on #7766
@slaskawi hmm works for me from within the netty project. Can you please list the exact steps you did ?

[2018-03-03 13:39] #6773 closed

[2018-03-03 22:30] sumitchawla commented on #6343
Is there a tool which can print what all is allocated on Direct Memory? For My case with 1 G DirectMemory, I am getting similar exception.   I am using above settings ` -Dio.netty.allocator.pageSize=8192 -Dio.netty.allocator.maxOrder=10',  and when i obtain a heap dump,  I see just 30 instances of `io.netty.buffer.PooledUnsafeDirectByteBuf`.

[code]

My machine has 32 cores.

[2018-03-03 23:00] #7760 closed

[2018-03-04 04:09] normanmaurer commented on #7757
You will need to use "-Dssl" or set the property by yourself before starting it.

[2018-03-04 04:09] #7757 closed

[2018-03-04 06:46] Bhashinee opened #7768 "Running tests in java 9 causes jdk.internal.misc.Unsafe exception."
We have used netty 4.1.19.Final version in our project. We recently moved to java 9. We have a test which uses netty's DefaultChannelGroup.

`ChannelGroup allChannels = new DefaultChannelGroup(GlobalEventExecutor.INSTANCE)`

When running that test case we get the following error,

[code]

### Steps to reproduce

Add following line in a main method and run in java 9.

[code]

### Netty version
4.1.

[2018-03-04 13:24] normanmaurer commented on #7768
Upgrade to latest Netty version as it was fixed there

[2018-03-04 13:24] #7768 closed

[2018-03-05 01:03] jprante commented on #7759
I have several integration tests on a single JVM where I need to restart Netty completey, including PooledByteBufAllocator.DEFAULT usage. A JVM exit is not possible.

How can I kill the thread?

[2018-03-05 02:49] mingxing47 commented on #7757
thank you! I manged it by setting the property by myself.
Another question is, I want to use it in a dynamic way when I received a http request , I want to establish a ws channel , and when I received a https request, I want to establish a wss channel instead.
How should I manage it?

[2018-03-05 02:53] mingxing47 commented on #7757
now I create a method to get the property , like here:
[code]
and I establish the websocket connection blow:
[code]
I don't think it's a good way to solve this question , but I can't come up with a good solution.

[2018-03-05 06:09] johnou commented on #7759
Run your tests with the leak detector level set to paranoid to try and find the leaking bytebuf(s).

[2018-03-05 07:53] Bhashinee opened #7769 "Creating DefaultChannelGroup gives 'Reflective setAccessible(true) disabled' error"
When executing the code under the 'Steps to reproduce' section in java 9 gives following error.
[code]

### Steps to reproduce
Run following code in java 9.
[code]
### Netty version
4.1.22.Final

### JVM version (e.g. `java -version`)
java version "9.0.4"
Java(TM) SE Runtime Environment (build 9.0.4+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.4+11, mixed mode)

### OS version (e.g. `uname -a`

[2018-03-05 09:52] johnou commented on #7757
@mingxing47 maybe check out io.netty.handler.ssl.OptionalSslHandler or the portunification example https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/portunification

[2018-03-05 12:34] maseev commented on #7196
I managed to create a very similar "pipeline" which is completely independent of Netty in order to test this particular use case which I described earlier.
I did this because implementing the approach I mentioned in my first message in Netty would take me quite a long time.

Here are the benchmark results:
[code]

As you can see, the performance gain is rather marginal (11%) compared to an amount

[2018-03-05 12:34] #7196 closed

[2018-03-05 19:35] kiril-me commented on #7196
Can you share the code?

[2018-03-05 20:32] kiril-me commented on #7769
@Bhashinee this is Java9 related issue. You should export jdk.internal.misc:
java --add-exports java.base/jdk.internal.misc=ALL-UNNAMED ...

[2018-03-06 05:37] maseev commented on #7196
@kiril-me [here](https://github.com/maseev/netty-pipeline-benchmark) you go.

[2018-03-06 05:55] jnorthrup commented on #3778
bumping... there's committees, teams, rfc's, and golang impl's now.

[2018-03-06 10:19] chrisdutz commented on #7199
Hi,

I'm part of the Apache PLC4X (incubating) (http://plc4x.apache.org) project and we're currently implementing more and more industrial protocols (mainly ip based, but not exclusively). The Modbus protocol is now the first protocol we are implementing where the TCP version is just another layer on top of the old serial protocol. My first idea was to simply use Netty RxTxChannel and now read tha

[2018-03-06 12:48] slaskawi commented on #7766
@normanmaurer Ok, I think I know what happened...

The issue exists on tag `netty-4.1.10.Final` but is not present on `netty-4.1.22.Final` and `HEAD` of course. I guess it has been fixed somewhere down the road. Sorry for confusion and thanks for checking it!

[2018-03-06 12:48] #7766 closed

[2018-03-06 15:52] normanmaurer commented on #7766
Thanks for checking :)

[2018-03-06 18:36] normanmaurer commented on #7199
@chrisdutz I guess the answer would be to implement your own `Channel` or fork what we have and maintain it. We just have not the expertise and time to maintain it anymore.

[2018-03-06 21:51] opendof opened #7771 "NioEvengLoopGroup constructor throws NoSuchMethodException on Android"
NioEventLoopGroup constructor fails fatally throwing NoSuchMethodException:

this.eventLoopGroup = new NioEventLoopGroup(0, factory);

sun.misc.Unsafe.copyMemory: unavailable
java.lang.NoSuchMethodException: copyMemory [class java.lang.Object, long, class java.lang.Object, long, long]
 at java.lang.Class.getMethod(Class.java:624)
 at java.lang.Class.getDeclaredMethod(Class.java:586)
 at io.netty.u

[2018-03-06 21:55] normanmaurer commented on #7771
@carl-mastrangelo can you check... seems like your android detection code changes does not work on (all) android versions ?

[2018-03-06 21:57] normanmaurer commented on #7771
@opendof as a workaround you should be able to force disabling of android:

`-Dio.netty.noUnsafe=true`

[2018-03-06 22:23] carl-mastrangelo commented on #7771
@opendof can you print out `System.getProperty("java.vm.name")`   ?

[2018-03-06 22:26] opendof commented on #7771
java.vm.name: Dalvik

[2018-03-06 22:30] carl-mastrangelo commented on #7771
That means that somehow you are not able to rad this property on classload.

Let me think about this.    It should always be set.

[2018-03-07 02:27] carl-mastrangelo commented on #7771
I didn't notice at first glance, but the problem is:

```at io.netty.util.internal.PlatformDependent.isAndroid(PlatformDependent.java:208)```

In the process of checked if something is android, it tries to init the class.  That said, It looks like you just noticed the log statement, not an exception.   The code should still work despite being noisy right?

[2018-03-07 05:26] normanmaurer commented on #3778
Thee is currently no plan to work on this. That said if a someone from the community wants to do it I am more then happy to review code

[2018-03-07 17:20] opendof commented on #7771
Through the debug log, I can see that PlatformDependent0.isAndorid0() is returning true

[2018-03-07 17:46] opendof commented on #7771
I believe you are correct. The could should still work despite being noisy (my code isn't working, but this doesn't appear to be the cause).

[2018-03-07 17:49] carl-mastrangelo commented on #7771
@opendof In Android 7.0 and higher, the JDK used is the same one from OpenJDK, so the Unsafe class would actually work.   It would be nice if later android versions could use it.

[2018-03-08 04:12] azagniotov commented on #7733
@doom369 I am using Gatling (`https://gatling.io`)

[2018-03-08 05:25] slandelle commented on #7733
Hence Netty on client side too. The connection reset by peer happened +200ms after the handshake failure so I doubt it’s the cause. Can you reproduce will the JDK provider instead of OpenSSL?

[2018-03-08 07:42] mingxing47 opened #7772 "pom error when I import netty into eclipse"
### Actual behavior
When I import netty (https://github.com/netty/netty.git) into eclipse, the pom shows errors.
for example here:
Missing artifact io.netty:netty-tcnative:jar:${os.detected.classifier}:2.0.7.Final
Plugin execution not covered by lifecycle configuration: org.apache.maven.plugins:maven-dependency-plugin:2.10:unpack-dependencies (execution: unpack, phase: generate-sources)
…

the sum

[2018-03-08 07:50] mingxing47 commented on #7772
I'm sorry I find the solution here:
Set up Eclipse with M2E and Java 7/8
Ensure to use the 64-bit version of Eclipse.
Download os-maven-plugin and put it into <ECLIPSE_INSTALLATION_DIR>/plugins (Eclipse 4.5) or <ECLIPSE_INSTALLATION_DIR>/dropins (Eclipse 4.6) directory to work around the problem where m2e does not evaluate an extension specified in our pom.xml. (Unlike its name, it's both a Maven

[2018-03-08 09:53] jprante commented on #7759
Gotcha. I think this issue can be closed.

Probably a small note in the documentation can be helpful to look for pooled byte buffer leaks when the cleaner thread keeps hanging around.

https://github.com/netty/netty/wiki/New-and-noteworthy-in-4.0

[2018-03-08 15:33] jprante commented on #7759
Sorry, I have to come back.

I can not find my ByteBufs are leaking, and I find no problems with `PooledByteBufAllocator.DEFAULT`.

I am running with leak detector on "paranoid" and it does not report anything.

But the "ObjectCleanerThread" is still running and does not terminate.

The test consists of a simple Netty-based HTTP client. Starting the client, and shutting it down completely after is

[2018-03-09 15:50] cchantep commented on #7482
Hi @normanmaurer , I don't think that's related to `EmbeddedChannel`, but resuming to work on the Netty migration for ReactiveMongo, I see the following log when running a test.

[code]

After `Recent access records:` there is no details.

[2018-03-10 08:34] normanmaurer commented on #7769
@Bhashinee this is expected and just a debug statement... This tells you we could not do some "optimizations" due jigsaw. You will need to do what @kiril-me said and may also need to specify the following system property to tell netty to try using reflective access: "-Dio.netty.tryReflectionSetAccessible=true"

[2018-03-10 08:34] #7769 closed

[2018-03-10 09:14] normanmaurer commented on #7752
@ldaley sorry took me a while due travelling / meetings etc.

https://github.com/netty/netty/pull/7773

[2018-03-10 09:17] ldaley commented on #7752
@normanmaurer no problem sir. Appreciated all the same.

[2018-03-10 09:29] normanmaurer commented on #7752
And https://github.com/netty/netty/pull/7774

[2018-03-10 09:29] zhoujie0101 opened #7775 "TooLongFrameException only throw one time in DelimiterBasedFrameDecoder"
Hi, i am a new netty user, when i read DelimiterBasedFrameDecoder source code(branch 4.1.x), in decode(ChannelHandlerContext ctx, ByteBuf buffer) method, if minDelim never found and because discardingTooLongFrame is init to false, first time discardingTooLongFrame is assigned to true and throw TooLongFrameException, but second time source code as below:
// Still discarding the buffer since a delim

[2018-03-11 13:33] ikatraev opened #7776 "Could not find artifact io.netty:netty-transport-native-kqueue:zip:native-src:4.1.22.Final in central (https://repo.maven.apache.org/maven2)"
I am trying to build netty (*master* and *netty-4.1.22.Final*) using maven version 3.5 using the following commands:

    mvn clean -U
    mvn install -U

Got the following build error:

    [INFO] --- maven-hawtjni-plugin:1.14:build (build-native-lib) @ netty-transport-native-kqueue ---
    Downloading: https://repo.maven.apache.org/maven2/io/netty/netty-transport-native-kqueue/4.1.22.Final/netty

[2018-03-12 02:57] lovepoem commented on #7776
I think you issue is similar with what i met .  https://github.com/netty/netty/issues/7748

[2018-03-12 15:59] lovepoem commented on #7748
Run `brew install autoconf automake libtool` to install some tools

[2018-03-12 19:30] Mahdihp opened #7777 "How to send Hex number with Netty"
How to send Hex number with Netty?
0x78
0x0d
0x0a

[2018-03-12 20:19] ikatraev commented on #7776
Yes. It does fix the issue.
@lovepoem thanks a lot

[2018-03-12 20:20] #7776 closed

[2018-03-13 00:26] mosesn commented on #7657
By the way, on the client-side the responses are actually OK, because it only aggregates the 101 response.  It should only be requests that we're worrying about.

[2018-03-13 07:51] normanmaurer commented on #7752
Fixed

[2018-03-13 07:51] #7752 closed

[2018-03-13 18:02] bmwcmw commented on #7733
I have the same issue with exactly same dependencies.
In my case we have to keep using OpenSSL provider since some ciphers and features such as cache are not supported by the JDK provider.

[2018-03-14 10:13] konsultaner commented on #6343
@normanmaurer Could this issue have something to do with an unreleased slice of that incoming byteBuf?

[code]

[2018-03-14 10:17] normanmaurer commented on #6343
@konsultaner actually you would need to call `byteBuf.retainedSlice(...)` here to ensure you retain the buffer as it will be released once decode completes.

[2018-03-14 15:04] normanmaurer commented on #7775
@zhoujie0101 no its not a bug... We only want to throw it one time and then its up to the user to handle it. Most of the times the correct thing is just log it and close the `Channel`

[2018-03-14 15:04] #7775 closed

[2018-03-14 15:05] normanmaurer commented on #7771
@carl-mastrangelo let me know once you have an idea how to "fix it".

[2018-03-14 15:07] normanmaurer commented on #7762
Sorry for the slow response as I was travelling. There is really nothing we can do about it as even without the `PooledByteBufAllocator` you will run into trouble as the GC can not free the memory. You really need to ensure you stop writing (which in this case could be done by stop reading) once you are not able to flush out data fast enough.

[2018-03-14 15:07] #7762 closed

[2018-03-14 15:07] normanmaurer commented on #7744
@slaskawi so can this be closed as https://github.com/netty/netty/issues/7766 was closed ?

[2018-03-14 17:23] konsultaner opened #7779 "How to release a broadcasted byteBuf"
I use a `MessageToMessageDecoder<WebSocketFrame>` an a `ByteToMessageDecoder` where I take the retained `byteBuf`. The `byteBuf` has a reference count of `2`. My code has to do the final release to set the reference count to `0`, but I don't know how in my scenario.

I wand to broadcast that `byteBuf` to multiple channels. What I tried was:

[code]

[code]

[code]

I have no real idea where to sta

[2018-03-14 18:30] Mahdihp commented on #7777
Can you give us an example?
Please.

[2018-03-14 18:44] johnou commented on #7777
@Mahdihp I think you should concentrate on sending / writing a byte array of data, hex is just a representation of data.

[2018-03-14 18:47] Mahdihp commented on #7777
Hex data for
is GPS  Tracking .

[2018-03-14 18:56] johnou commented on #7777
Try searching the internet for examples / tutorials on how to convert hex data into byte arrays.

[2018-03-14 20:41] carl-mastrangelo commented on #7771
If I am not mistaken, this is only printed out if debug logging is turned on.   I think the solution is to turn off debug logging.

[2018-03-14 21:16] ashutoshvsingh commented on #7762
Hi Norman,
Thanks, that is what we did. We check if the channel is writeable and only
then read from the client. This fixed the memory leak.
Ash

On Wed, Mar 14, 2018 at 8:07 AM, Norman Maurer <notifications@github.com>
wrote:

[2018-03-15 05:59] trustin opened #7781 "ResourceLeakDetector does not retain the initial record"
### Expected behavior

The leak report printed by `ResourceLeakDetector` retains the stack trace of the moment the buffer was created.

### Actual behavior

The record with `Created at:` heading is not actually the creation record, e.g.

[code]

### Steps to reproduce

Not sure, but probably write an app that generates a lot of access records and leak?

### Minimal yet complete reproducer code (or

[2018-03-15 07:29] konsultaner commented on #7779
One more question. Is there a way to zero copy a ByteBuf. I want to receive a slice of a byteBuf but with its indepandent refCount, but it should not copy the underlying direct memory. It should have its own reservation somehow. Something like `ByteBuf.copy` but as zero copy.

[2018-03-15 08:31] johnou commented on #7779
@konsultaner have you seen io.netty.channel.group.DefaultChannelGroup?

[2018-03-15 09:03] konsultaner commented on #7779
@johnou I do, but does it make a difference? I decided to not use it, because I have different conditions to broadcast. I didn't build a separate channel matcher, but I could if this is the solution.

At the moment it seems like the `MessageToMessageDecoder<WebSocketFrame>` pushes independent `byteBuf` messages to my broad caster where as the `ByteToMessageDecoder` pushes only slices. If I now rel

[2018-03-15 09:05] normanmaurer commented on #7781
Will have a look

[2018-03-15 09:09] normanmaurer commented on #7779
@konsultaner so you need to do it exactly as `DefaultChannelGroup` does. Which basically means you need to duplicate and retain it before passing it to `writeAndFlush`.

[2018-03-15 09:20] normanmaurer commented on #7779
@konsultaner I think what you want is `ByteBuf.retainedSlice`.

[2018-03-15 09:27] Xiaoyulalala commented on #7733
Hi @azagniotov, I have the same problem, have u solved this problem? Can u give me some suggestions?

[2018-03-15 09:33] konsultaner commented on #7779
@normanmaurer Thanks! I think I got it

[2018-03-15 09:33] #7779 closed

[2018-03-15 10:24] normanmaurer commented on #7781
@trustin please check the PR.

[2018-03-15 10:54] pantolomin opened #7783 "Sent Messages order is lost if using the IO Thread (NIOEventLoop)"
Hi,
Got an ordering problem when using the IOThread directly rather than going to the Thread pool. The reason we use the IOThread is that we have so little to do before forwarding to an ActorSystem that we spare ourselves an extra context switch for every price that enters in the system (that's a lot). But from time to time, we send a reply while being in this IOThread and it conflicts with other

[2018-03-15 11:20] normanmaurer commented on #7783
@pantolomin yeah its expected... We are looking into this "limitation" as part of the next major release of netty. The only way to "fix" this is to enforce some external ordering atm.

[2018-03-15 11:44] pantolomin commented on #7783
Well currently, as a workaround, we change Thread if we detect that we are in the IOThread when sending a message.
Wouldn't it be possible to make the "AbstractChannelHandlerContext.write" method protected instead of "private" and override it in "TailContext" ?

[2018-03-16 06:32] azagniotov commented on #7733
@Xiaoyulalala I have not solved this. Sorry

[2018-03-16 06:37] azagniotov commented on #7733
Hi @slandelle ,

Thank you for your reply. I can attempt reproducing it with JDK provider, but generally speaking we have to keep using OpenSSL provider. So even if using JDK provider produces good results, dropping OpenSSL is not an option.

[2018-03-16 07:24] #7781 closed

[2018-03-16 17:10] gustavonalle opened #7785 "Enable different Cors rules per origin"
### Expected behavior

It'd be nice to configure the CorsHandler so that I can specify a different set of permissions based on the Origin.

Example, if origin is http://localhost:8080/ I'd like to allow all methods and auth, but for a certain external Url I'd like to be stricter and limit it for GET only.

### Actual behavior

Current the CorsHandler is configured with a single CorsConfig object t

[2018-03-17 09:23] dklempner opened #7788 "epoll(7) man page is wrong in the presence of signals"
EpollRecvByteAllocatorStreamingHandle.maybeMoreDataToRead references the epoll man page, specifically the section that states:

Unfortunately this documentation is incorrect. read/recv/recvmsg/etc can return early when receiving from a socket if the read is interrupted by a signal. When that happens the read will return whatever data had already been accumulated, with a positive value and no EINTR

[2018-03-17 17:16] sgammon opened #7789 "Native-epoll 32-bit artifact"
I would like to humbly request that Netty include a 32-bit artifact for native epoll support.

Specifically, I am trying to use a 32-bit JDK in a container environment (Docker), where a small heap (<2gb) is acceptable, to host a Netty-based service in epoll-supporting Linux.

I know this issue has been raised before in #5813, but perhaps this use case - micro-services in containers - was not consi

[2018-03-17 17:47] jox opened #7790 "Infinite Selector rebuild loop of death."
I'm experiencing an issue that has been reported about before. None of the reports are giving me any hints though. (e.g. #2426 and #2616)

The problem: I'm starting a Websocket server with ServerBootstrap bound to the wifi IP address on Android. As soon the wifi connection changes or wifi is disabled completely, the log will be flooded with the following two messages, repeated about 100 times per

[2018-03-17 18:50] carl-mastrangelo commented on #7788
As @dklempner said, we think this is due to the loop not handling signals correctly.     Also, from reading the code, it seems like the epoll loop may not handing spurious epoll edges correctly, since the read() loop in the [FileDescriptor](https://github.com/netty/netty/blob/af2f343648f4cb3deca5314174e0e579f9fec846/transport-native-unix-common/src/main/c/netty_unix_filedescriptor.c#L57) does not

[2018-03-18 12:10] normanmaurer commented on #7788
@dklempner @carl-mastrangelo just to ensure I understand it correctly this is only a problem because we use edge-triggered and not level-triggered correct ?

I will need to investigate but if any of you could provide a pr to fix it I would be really happy to review it ;)

[2018-03-18 12:10] normanmaurer commented on #7788
Also /cc @Scottmitch

[2018-03-18 13:03] zhoujie0101 commented on #7775
got it，thanks

[2018-03-19 05:55] tpthaler commented on #6891
I am getting this same issue via spring boot include (it's including version 4.1.22.Final)...

19-Mar-2018 00:49:03.526 SEVERE [RMI TCP Connection(8)-127.0.0.1] org.apache.catalina.loader.WebappClassLoaderBase.checkThreadLocalMapForLeaks The web application [hello] created a ThreadLocal with key of type [java.lang.ThreadLocal] (value [java.lang.ThreadLocal@66c3c1a5]) and a value of type [io.netty.

[2018-03-19 08:18] normanmaurer commented on #7790
Thats interesting... @carl-mastrangelo @ejona86 maybe you have some contacts we can loop in ? Generally speaking I think this should not happen as it woke-up the selector without reporting any events that need to be handled.

[2018-03-19 08:20] normanmaurer commented on #7789
@sgammon honestly I think we are currently not interested in shipping a 32bit version as well as it will also make the whole release process more complicated. I would guess the way how to do it is just to follow the usually build instruction but on a 32 bit system. Let me know if you have more questions.

[2018-03-19 08:20] #7789 closed

[2018-03-19 08:21] normanmaurer commented on #7772
Sorry but I think this is more an eclipse question then a netty one. All the developers use IntelliJ so I am not sure if anyone is a great help here. So let me close this here.

[2018-03-19 08:21] #7772 closed

[2018-03-19 08:23] normanmaurer commented on #7771
@opendof ^^ thoughts ?

[2018-03-19 08:24] Mahdihp opened #7792 "How to Upgrade Netty 3.10.6.Final to 4.1.22.Final ?"
How to Upgrade Netty 3.10.6.Final to 4.1.22.Final ?

[2018-03-19 08:26] johnou commented on #6891
@tpthaler try something like this..

[code]

[2018-03-19 08:28] johnou commented on #7792
http://netty.io/wiki/new-and-noteworthy-in-4.0.html
http://netty.io/wiki/user-guide-for-4.x.html

[2018-03-19 08:30] #7792 closed

[2018-03-19 08:55] normanmaurer commented on #7657
@mosesn this sound reasonable to me... @carl-mastrangelo @ejona86 WDYT ?

[2018-03-19 09:04] trustin opened #7794 "DnsNameResolverContext.resolve(Promise) may skip the first search domain"
I'm not sure I understood the logic clearly, but for example when ndot is 1 and search list is `[ 'foo.com', 'bar.com' ]`, the resolve requests for `some.host` would be:

- `some.host.` (queries first because ndot of `some.host` is >= 1.)
- `some.host.foo.com.` (with the first suffix in the search list)
- `some.host.bar.com.` (with the last suffix in the search list)

However, `DnsNameResolverCont

[2018-03-19 09:14] trustin commented on #7794
@shyiko @normanmaurer PTAL

[2018-03-19 09:17] trustin commented on #7794
If anyone confirms this is a bug, let me send a PR.

[2018-03-19 09:32] trustin opened #7795 "Expose DnsNameResolverContext (or something equivalent to it) to users"
A user may want to reuse the logic related with search list enumeration, retries and error handling in his or her resolver implementations. For example, a user could extend or customize `DnsNameResolverContext` to implement DNS-based service discovery that retrieves [SRV records](https://en.wikipedia.org/wiki/SRV_record), while respecting the global resolver configuration (`/etc/resolv.conf`). Cur

[2018-03-19 11:09] normanmaurer commented on #7794
@trustin hmm this sounds not right to me... @shyiko WDYT ?

[2018-03-19 13:07] normanmaurer commented on #7785
@gustavonalle PRs welcome

[2018-03-19 13:43] gustavonalle commented on #7785
Working on it

[2018-03-19 17:27] ejona86 commented on #7657
How is it that _responses_ can't be streamed?

Streaming the upgrade _request_ is not great, because the client's request is sent in HTTP/1's format and thus there's no multiplexing. This is mentioned in [§3.2 of RFC 7540](http://httpwg.org/specs/rfc7540.html#rfc.section.3.2):

I'd strongly encourage the client to issue a trash OPTIONS request to negotiate HTTP/2 if the initial request is large or

[2018-03-19 17:29] ejona86 commented on #7790
CC @ericgribkoff

[2018-03-19 18:29] shyiko commented on #7794
[code]
so it looks like everything is as it should be.

[2018-03-19 19:43] RoganDawes commented on #7255
I'm still seeing this problem in 4.1.22.Final, which appears to have all the abovementioned fixes in place. I'm using the default NIO channel implementation, and am seeing thousands of these events fired when I shutdown the input.

[2018-03-19 19:46] normanmaurer commented on #7255
hmm interesting... @Scottmitch Can you have a look ?

[2018-03-20 00:56] trustin commented on #7794
@shyiko You are correct. I misread the code. :sweat_smile:

[2018-03-20 00:56] #7794 closed

[2018-03-20 00:59] trustin commented on #7795
and does it sound good? :-)

[2018-03-21 11:15] trustin commented on #7795
I'll start to work on this if there's no objection.

[2018-03-21 19:26] Scottmitch commented on #7255
See https://github.com/netty/netty/pull/7801

[2018-03-21 20:33] ericgribkoff commented on #7790
This is reproducible on Android 8 for me as well. `selector.select()` returns immediately with OP_ACCEPT on the selected key set, then invoking `accept()` triggers an "Invalid argument" IOException from native code, and this just repeats indefinitely. I'm following up with some Android system folks about this, will update here if I get any additional information.

[2018-03-22 00:39] dklempner commented on #7788
@normanmaurer Right, if you used level triggering this would be a nonissue.

The downside is that level triggering tends to require a fair bit of epoll_ctl, especially if you're writing to a socket and the socket buffer fills. Careful use of EPOLL_ONESHOT might avoid that, but EPOLL_ONESHOT applies to the entire fd and not just for readability/writability.

For the EPOLLET case: if you primarily c

[2018-03-22 16:58] CodingFabian opened #7804 "Transferring a ByteBuf to Outputstream without duplicating memory"
(running io.netty.buffer:4.1.21.Final)

I have a Java Output stream (java.io.OutputStream) I want to incrementally copy a ByteBuffer too.

The byte buffer is off heap and big.
I naively used:
    public abstract ByteBuf getBytes(int index, OutputStream out, int length) throws IOException;

assuming that it would copy all the data to the output stream.

It does, but to do so it copies the whole nat

[2018-03-22 17:02] normanmaurer commented on #7804
You are right...
Want to do a pr?

[2018-03-22 17:05] CodingFabian commented on #7804
Doing a userspace fix for my immediate need right now.
The question for a netty internal implementation would be how big that buffer should be. right now its full size, so it can do that in one pass.
The typical buffer size is 8k. do we want this configurable (yet another method overload?)

[2018-03-22 17:13] normanmaurer commented on #7804
I think just using 8k (or less if the ByteBuf is smaller ) is ok for now

[2018-03-22 19:53] normanmaurer commented on #7790
@ericgribkoff thanks a lot! Also let us know if there is any workaround we can add in the meantime (I suspect there is none tho :( ).

[2018-03-22 22:05] carl-mastrangelo commented on #7790
@normanmaurer From reading the code, I don't think it makes sense to continue trying to accept on the socket.   You get back EINVAL   which means it isn't listening anymore.

@jox : any reason you aren't listening on all addresses?  That would probably be more stable.

[2018-03-23 07:12] normanmaurer commented on #7790
I wonder if this can work around the problem here: https://github.com/netty/netty/pull/7806.

@carl-mastrangelo the idea of continue reading here is that we also may get a `ENFILE` from which you can recover. That said I hope  https://github.com/netty/netty/pull/7806 will "workaround" the issue. Please check

[2018-03-23 07:13] normanmaurer commented on #7790
@jox can you test #7806 ?

[2018-03-23 16:58] carl-mastrangelo commented on #7790
@normanmaurer one possibility is to map the error message back to the errno, since OpenJDK directly uses the message from `strerror_r`.  This isn't a great solution, but it's feasible.

[2018-03-25 06:28] M-AJ opened #7808 "Event loop bottleneck"
Hello,

Is there any way to optimize and fix lag on event loop execution? I'm sending a rapid amount of packets to hundreds of clients in a "tick" that runs every 50ms and I receive these timings:

![image](https://user-images.githubusercontent.com/20144818/37872314-07ea4694-2fba-11e8-9751-80d57d7d3352.png)

![image](https://user-images.githubusercontent.com/20144818/37872315-0e61d51e-2fba-11e8-89

[2018-03-27 07:41] normanmaurer commented on #7808
I think there is no way for us to speedup the wakeup of the eventloop. As we really only call `eventfd_write` here.

[2018-03-27 07:46] #7686 closed

[2018-03-27 09:25] javisst commented on #6343
We had the same issue for months now together with the async MongoDB driver and with activated SSL.
The issue only occurred while bulk operations on MongoDB driver. The JVM settings

finally helped. Thank you very much!

I attached my stack trace. In case you're interested I can provide you with a sample project.

`2018-03-26T17:08:00.29+0200 [APP/PROC/WEB/0] OUT org.springframework.dao.InvalidDat

[2018-03-27 13:02] zhaojigang opened #7809 "A small problem in the thread model of netty"
Suppose the server has two CPU, and workerGroup has two EventLoop,
and two channel are registered on each EventLoop.

If the two channel on the first EventLoop is busy, and the two channel on the second EventLoop are free.

At this point, we only use one CPU, the other is idle, isn't it a waste?(By default, a EventLoop is handled with a thread)

I am a Chinese, my English is poor.

[2018-03-28 07:06] normanmaurer commented on #7809
Well its a trade-off.... Context switching is not for free either. The model netty uses is a very popular model in terms of thread to event loop mapping (that you can also find in node.js for example). Usually over time you will have Channels spread across `EventLoop` s and so have a more balanced usage of resources.

[2018-03-28 07:06] #7809 closed

[2018-03-28 07:06] #7808 closed

[2018-03-28 07:40] mingxing47 commented on #7772
Thank you all the same! When I switch my IDE from eclipse to IntelliJ, the question is solved.
I'm sorry to ask this question to waste your time, thx~

[2018-03-28 08:23] slovdahl commented on #6810
I would also like to set MDC for `EventLoopGroup` threads. I haven't done any extensive testing nor studied `io.netty.util.concurrent.DefaultThreadFactory` in detail, but shouldn't it be doable by using a custom `ThreadFactory` that creates threads using something like this?
[code]

This, of course, under the assumption that all threads created by an `EventLoopGroup` should have the same MDC.

[2018-03-28 08:50] sfomp opened #7812 "Netty4.0.28 mem leak for "io.netty.channel.ChannelOutboundBuffer""
hi,
I found there are too many  ChannelOutboundBuffer  objects in my server application.
there are 400000  long-connections keep between the phone and my server.
![image](https://user-images.githubusercontent.com/6062964/38017441-a37103d6-32a4-11e8-931f-154681447d85.png)

![image](https://user-images.githubusercontent.com/6062964/38020304-70243b6c-32ac-11e8-87a2-0ea50d997e02.png)

i didn't check c

[2018-03-28 11:00] ExIngus opened #7814 "IllegalReferenceCountException in HttpPostMultipartRequestDecoder."
### Netty version
4.1.22.Final

### JVM version (e.g. `java -version`)
1.8.0_162

### OS version (e.g. `uname -a`)
windows 10

The error is observed in versions 4.1.20-4.1.22

[code]
When you call decoder.destroy () MixedAttribute.release () for objects is performed 2 times.

[PostTest.zip](https://github.com/netty/netty/files/1855660/PostTest.zip)

[code]

[2018-03-28 11:09] doom369 commented on #7814
https://github.com/netty/netty/pull/7696

[2018-03-28 11:13] ExIngus commented on #7814
I do not call manually HttpData.release ().

[2018-03-28 11:16] doom369 commented on #7814
Are you sure? Please post the full sketch. Or minimal reproducer.

[2018-03-28 11:18] ExIngus commented on #7814
Test in error in the attached archive to the first message. (PostTest.zip)

[2018-03-28 11:58] zhaojigang commented on #7809
thanks!

[2018-03-28 17:54] normanmaurer commented on #7740
Fixed by https://github.com/netty/netty/pull/7807 (hopefully)

[2018-03-28 17:54] #7740 closed

[2018-03-28 18:52] normanmaurer commented on #7812
These are `ChannelOutboundBuffer.Entry` objects which are not unique per connection. So all of these could also be related to one Channel. All in all this sounds like a typical "not implemented back-pressure / writing to fast" case.  And yes there watermark is per Channel

[2018-03-28 18:52] #7812 closed

[2018-03-28 18:53] normanmaurer commented on #7790
I hope this was fixed by #7806 . If not please re-open

[2018-03-28 18:53] #7790 closed

[2018-03-28 18:56] normanmaurer commented on #7722
@ManuelPivotal did you see my answer ?

[2018-03-28 18:56] normanmaurer commented on #7654
@jo-kin any updates ?

[2018-03-28 18:57] normanmaurer commented on #7616
I still can not reproduce... it just works here :(

[2018-03-28 18:58] normanmaurer commented on #7546
Let me close this for now then... please reopen if the issue still happens or if you have more details

[2018-03-28 18:58] #7546 closed

[2018-03-28 18:59] normanmaurer commented on #7343
This was fixed

[2018-03-28 18:59] #7343 closed

[2018-03-28 18:59] #7255 closed

[2018-03-28 19:00] normanmaurer commented on #7164
Let me just close this for now... I think there is no high-demand

[2018-03-28 19:00] #7164 closed

[2018-03-28 19:01] normanmaurer commented on #7112
I will close this for now... please reopen if you still see issues

[2018-03-28 19:01] #7112 closed

[2018-03-28 19:01] normanmaurer commented on #7062
Didnt see this for a long time... Let me close this for now

[2018-03-28 19:01] #7062 closed

[2018-03-28 19:02] normanmaurer commented on #6938
I will close this for now due lack of response. Please re-open if you still think there is anything wrong in netty

[2018-03-28 19:02] #6938 closed

[2018-03-28 19:03] normanmaurer commented on #6724
I will close this for now due lack of response. Please re-open if you still think there is anything wrong in netty

[2018-03-28 19:03] #6724 closed

[2018-03-28 19:04] normanmaurer commented on #6565
@kevinherron is this issue still present ? I suspect I fixed it

[2018-03-28 19:05] #6343 closed

[2018-03-28 19:06] normanmaurer commented on #6179
At the end we decided we dont want to catch and rethrow.

[2018-03-28 19:06] #6179 closed

[2018-03-28 19:06] normanmaurer commented on #6048
I did not see this for a long time... let me close it

[2018-03-28 19:06] #6048 closed

[2018-03-28 19:07] normanmaurer commented on #5871
At the moment we do not plan to add it.... So let me close it

[2018-03-28 19:07] #5871 closed

[2018-03-28 19:09] kevinherron commented on #6565
@normanmaurer funny timing... I've got a backlog card for upgrading Netty to latest and testing using the proof of concept I developed. I'll let you know soon.

[2018-03-28 19:12] normanmaurer commented on #3237
I think we missed to close this one

[2018-03-28 19:12] #3237 closed

[2018-03-28 19:12] normanmaurer commented on #3182
Yep I think it is related to profiling... let me close this

[2018-03-28 19:12] #3182 closed

[2018-03-28 19:13] normanmaurer commented on #3138
Did not see this for a long time... let me close it

[2018-03-28 19:13] #3138 closed

[2018-03-28 19:13] normanmaurer commented on #3054
the udt transport was deprecated so I will just close this

[2018-03-28 19:13] #3054 closed

[2018-03-28 19:17] normanmaurer commented on #3862
I will close this for now due lack of response. Please re-open if you still think there is anything wrong in netty

[2018-03-28 19:17] #3862 closed

[2018-03-28 19:18] normanmaurer commented on #3937
I agree... I think we can just close it

[2018-03-28 19:18] #3937 closed

[2018-03-28 19:22] normanmaurer commented on #4832
I think it is fine as it is... @carl-mastrangelo please reopen if you not agree

[2018-03-28 19:22] #4832 closed

[2018-03-28 19:28] normanmaurer commented on #7252
Ler me close this for now...

[2018-03-28 19:28] #7252 closed

[2018-03-28 19:51] mosesn commented on #7657
@ejona86 In our case, it's acceptable to occasionally never unblock the connection, since we can fail back to HTTP/1.1 and establish other new connections.

We're also investigating the OPTIONS approach, but many of our HTTP services don't support OPTIONS correctly, and we're concerned that it will drop their perceived success rates.

You're right, responses can be streamed.  The 101 response is a

[2018-03-28 20:22] ejona86 commented on #7657
So I guess that means you make multiple connections initially until HTTP/2 is established, at which point you start multiplexing. And "HTTP/2 is established" means handshake complete and the request completed sending.

That seems like it would work, except with the possibility of any self-imposed client connection limits. And with increased number of connections.

You can do a `GET /` or `HEAD /`

[2018-03-29 06:43] nquoctuan commented on #2465
@BoaNeo
I get same issue, and not really sure about netty. It is java 1.8.0_91-b14 and playframewok 2.5.3 (with netty 4.0).

Do you have any solution for this issue?

`"lettuce-nioEventLoop-3-1" #17 daemon prio=5 os_prio=0 tid=0x00007f393899e800 nid=0x212b runnable [0x00007f3922270000]
   java.lang.Thread.State: RUNNABLE
	at sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)
	at sun.nio.ch.EPol

[2018-03-29 10:49] #7804 closed

[2018-03-29 13:12] ManuelPivotal commented on #7722
Yep
Thanks for reminding me, I will do this in the coming days.

Best,
Manuel

From: Norman Maurer [mailto:notifications@github.com]
Sent: Wednesday, March 28, 2018 7:57 PM
To: netty/netty
Cc: Meyer, Manuel; Mention
Subject: Re: [netty/netty] JsonPbjectDecoder 4.1.21.Final (#7722)

@ManuelPivotal<https://github.com/ManuelPivotal> did you see my answer ?

—
You are receiving this because you were m

[2018-03-29 14:49] sfomp commented on #7812
thanks!
It is not necessary to set the water buffer mark in 4.1.20 Final version ? i saw this option is marked as "@Deprecated" like belowing picture . Whether it is a new feature after 4.0.28Final version.
![image](https://user-images.githubusercontent.com/6062964/38095424-0a55ab70-33a3-11e8-894a-d12844bafdce.png)
@normanmaurer

[2018-03-29 14:52] normanmaurer commented on #7812
@sfomp as you can see in the javadocs you should use `ChannelOption.WRITER_BUFFER_MARK`:

https://netty.io/4.1/api/io/netty/channel/ChannelOption.html#WRITE_BUFFER_HIGH_WATER_MARK

[2018-03-29 15:16] normanmaurer commented on #7759
@jprante the problem is once you used `PooledByteBufAllocator.DEFAULT` the thread can only exists once the JVM terminates as there is a static instance of PooledByteBufAllocator.

[2018-03-29 16:14] mosesn commented on #7657
@ejona86 my suspicion is that most of our servers will return 4XX for anything that's not whitelisted.  Finagle doesn't provide special support for any of those.

[2018-03-29 20:01] #7795 closed

[2018-03-30 04:06] Bhashinee opened #7817 "Illegal reflective access warnings when running Netty with Java 9"
### Expected behavior
Run without warnings.

### Actual behavior

I get following warning,

[code]
I specified this system property,
` -Dio.netty.tryReflectionSetAccessible=true`

 Found that this has been fixed in 4.1.21.Final version according to this [link](https://netty.io/news/2018/02/05/4-0-56-Final-4-1-21-Final.html). But when I upgraded netty version to 4.1.22.Final, I still get the same w

[2018-03-30 06:10] sstong123 opened #7818 "characters output twice"
### Expected behavior
characters output once.

### Actual behavior
output twice

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

1.downoald the [echo sever code](http://netty.io/4.1/xref/io/netty/example/echo/package-summary.html)
2.run the EchoServer.java ;
3.use cmd tool and run:  telnet localhost 8007
4.when connected input ‘’test” in the cmd wind,will find th

[2018-03-30 06:21] johnou commented on #7817
-Dio.netty.tryReflectionSetAccessible=false

[2018-03-30 06:47] johnou commented on #7818
Telnet echoes input as you type it as well as the received data so the output you observe is correct.