[2020-05-27 11:39] WTFGEDelphia commented on #10322
I find some java Bug :
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8230977
so how to fixed the problem in netty 3.10.6.Final ?

[2020-05-27 14:22] hyperxpro commented on #10322
Netty 3 is no longer maintained. So if there is a problem in Netty 3.10.6.Final. we can't do anything.

[2020-05-27 15:46] IgorAlelekov opened #10324 "HttpPostRequestDecoder exception"
### Expected behavior

### Actual behavior
HttpPostRequestDecoder exception

### Steps to reproduce
1. Add few lines to the Netty io.netty.example.http.helloworld.HttpHelloWorldServerHandler:
....
    @Override
    public void channelRead0(ChannelHandlerContext ctx, HttpObject msg) {
        if (msg instanceof HttpRequest) {
            HttpRequest req = (HttpRequest) msg;
// Lines to add:
if (req

[2020-05-27 15:50] IgorAlelekov commented on #10324
[request.txt](https://github.com/netty/netty/files/4689911/request.txt)

[2020-05-28 02:29] zhenjunMa commented on #10324
change the code:
![image](https://user-images.githubusercontent.com/28104581/83091505-e7727800-a0cd-11ea-9868-932c723bc5c5.png)
the result:
![image](https://user-images.githubusercontent.com/28104581/83091557-ff49fc00-a0cd-11ea-8db8-fdd275294703.png)

nothing happend...

[2020-05-28 04:40] IgorAlelekov commented on #10324
Hi zhenjunMa, the result depends on the request content.
Could you please repeat the test with the **attached** request

[2020-05-28 05:12] IgorAlelekov commented on #10324
Hi, actually I added one more line. Please add it to the HttpHelloWorldServerInitializer:
....
    p.addLast(new HttpServerCodec());
// Line to add:
p.addLast(new HttpObjectAggregator(10000));
// End

[2020-05-29 06:48] heixiaoma opened #10328 "HttpPostRequestDecoder$ErrorDataDecoderException Caused by: java.io.IOException: Unable to create temporary file"
### Expected behavior

### Actual behavior
new DefaultHttpDataFactory(true);

When the mode is true, it will write to the disk, and when the data is "requetTpl":\"id=2c928bb062c41aad", it will report an error. At present, it seems to be an internal string interception problem. Hope the official website can fix it

http raw request data   Test Data "requetTpl":\"id=2c928bb062c41aad"

### Steps to r

[2020-05-29 12:15] amizurov commented on #10281
Hi, I think the main problem here that we received `AggregatedFullHttpMessage` but our example `HttpUploadServerHandler` doesn't handle it correctly and invokes `offer(..)` twice firstly in constructor and then when handle chunks. Sow what if we add a guardian to `HttpPostMultipartRequestDecoder` for avoid incorrect behavior :
[code]
and also try to fix our example to support `HttpObjectAggregator

[2020-05-30 09:27] zhenjunMa commented on #10315
@itlidaye
you should call release() at last  like what i said above

[2020-05-30 14:58] zhenjunMa commented on #10324
I reproduce the exception, to summarize

case:

1. use `HttpPostRequestDecoder` after `HttpObjectAggregator`
2. request `content-type` is `application/json` or `text/plain`
3. the param contains some special charactors such as `xxx=%value`

reason:

 in HTTP `application/json` or `text/plain` only send one single string as param, not key-value , but `HttpPostStandardRequestDecoder` in `HttpPostReq

[2020-05-30 23:37] zhenjunMa commented on #10328
how to reproduce this exception? i can't get....

[2020-05-31 02:07] heixiaoma commented on #10328
private static final HttpDataFactory HTTP_DATA_FACTORY = new DefaultHttpDataFactory(true);
HttpPostRequestDecoder decoder = new HttpPostRequestDecoder(HTTP_DATA_FACTORY, req);

HTTP raw post request mode  Test Data "requetTpl":"id=2c928bb062c41aad"

[2020-05-31 09:32] fredericBregier commented on #10324
Maybe a dumb question, but HttpPostxxxRequestDecoder are for form decoding, meaning that passing a body with no "form" representation could not probably decode your parameters?
I didn't get if your example is to try to pass as body a JSON (so not decodable as a form, except if itself in a form attribute), or to even simpler pass a simple body with content as var=something (or whatever other form)

[2020-05-31 09:35] fredericBregier commented on #10328
Maybe a dumb question: is your POST a form value format?

      Content-Disposition: form-data; name="{NOM}"[CRLF]
     [CRLF]
     {VALEUR}

Because if not, HttpPostxxxRequestDecoder is not intend for something else than standard form mode... ?

[2020-05-31 10:28] heixiaoma commented on #10328
Not form key value mode

[2020-05-31 15:34] heixiaoma commented on #10328
Error is caused by temporary file name interception during disk caching

[2020-05-31 15:36] heixiaoma commented on #10328
C:\Users\hxm\AppData\Local\Temp\Attr_7403181982031682126_{  "pid": "CDAA2BD5-8BED-478

It can be found in the log that there is a problem in the name truncation of this temporary file

[2020-06-01 06:53] mostroverkhov commented on #10300
@normanmaurer currently there is no way to modify/intercept Htt2SettingsFrame outside of `Http2ConnectionHandler` because preface is sent as soon as its `handlerAdded` is called.
This is quite different from inbound frames - they all can be intercepted by `connectionHandler.decoder().frameListener(Listener)` accessible by other handlers on pipeline.

[2020-06-01 06:59] mostroverkhov commented on #10302
@normanmaurer I can resort to reflection for accessing actual [settings](https://github.com/netty/netty/blob/bdbf68f9881b7187c0da45d5b45f32f92fe5efaa/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2ConnectionHandler.java#L362) sent in preface, though this is will take effect only when #10300 gets resolution - is this intended behavior?

[2020-06-01 14:29] fredericBregier commented on #10328
As I wrote, HttpPostRequestDecoder is intended to decode form post, not regular content out of content-disposition form.
So it is quite normal that it messed up the name since it cannot find it...
You probably want to write some special handling for that, directly using ByteBuf writing to a file...

[2020-06-01 16:53] ejona86 commented on #10302
No, I don't think `Http2ConnectionHandler.decoder().localSettings()` is likely appropriate for changing the initial settings. In general the encoder/decoder need to be notified when the settings change, so allowing "random" mutation outside of their knowledge would just cause "bad things" to happen.

Instead, pass the initial settings in the [constructor](https://github.com/netty/netty/blob/bdbf68

[2020-06-01 17:46] mostroverkhov commented on #10302
@ejona86 e.g. for https://tools.ietf.org/html/rfc8441 one needs `SETTINGS_ENABLE_CONNECT_PROTOCOL SETTINGS` parameter set on server settings - what is suggested "clean" way of doing that for if implemented outside of netty (without forcing users to set parameter on http2's builders)

[2020-06-01 18:09] mostroverkhov commented on #10302
what I mean is asking users to put `initialSettings().put(SETTINGS_ENABLE_CONNECT_PROTOCOL, (Long) 1L);` on their builders is not cleanest solution (one also needs to know 0xcode of parameter), or builders can be extended with `enableHttp2WebSocket()` option - despite there is no support for that inside netty itself?

[2020-06-02 02:49] jzdayz opened #10332 "Version 4.1.50 build source error"
### Expected behavior
build success
### Actual behavior
build error
### Steps to reproduce
1. git clone
2. cd netty
3. git checkout tags/netty-4.1.50.Final -b netty-4.1.50
4. mvn -T 1C clean package -DskipTests
### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.50
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)
mac os 10.15.4

### error log

[2020-06-02 07:13] kireet commented on #10246
hello, the problem still occurs with 4.1.50:

[code]

Unfortunately, the bottom of the stack was lost as the stack trace depth was too large (it's line 509 all the way down). I'll try to set the java option so full stack traces are always printed.

But I am not sure how line 509 keeps calling itself directly repeatedly?

[2020-06-02 08:23] boicehuang opened #10334 "Support for Circuit Breaker to prevent OOM error"
@trustin  @normanmaurer
Hi, I am a user of Elasticsearch which uses Netty in the network layer. Currently, if we are sending high volumes of messages to Netty in elasticsearch in a very short time, faster than it can process, heap memory would be filled with Netty buffer and causes an OOM error before messages reach Elasticsearch.

Elasticsearch provides a [Circuit Breaker](https://www.elastic.co/

[2020-06-02 08:29] normanmaurer commented on #10334
Limit the amount of messages read can easily be archived by stop reading. This cane be done by toggle `AUTO_READ` to false until the application is ready to accept messages again. There is nothing special here needed by netty.

[2020-06-02 08:44] boicehuang commented on #10334
Thanks for your comment, @normanmaurer. Is there any way to limit the amount of Chunk?

[2020-06-02 09:12] normanmaurer commented on #10334
@boicehuang if toggling AUTO_READ was done too late then you must toggle it earlier. There is not much more that we can do here... Either you need to stop writing if the Channel is not writable and continue writing once it becomes writable again or you need to stop reading if you accept data faster then you can process it. Most of the times you want to do a mix of both.

[2020-06-02 12:09] zhenjunMa commented on #10334
maybe use `AUTO_READ ` to  limit used memory by READ
use `WriteBufferWaterMark` to limit used memory by WRITE

[2020-06-02 12:29] #10320 closed

[2020-06-02 13:14] normanmaurer commented on #10246
@kireet PTAL https://github.com/netty/netty/pull/10337

[2020-06-02 14:13] normanmaurer commented on #10322
netty 3 is EOL for years so there is not much we can do.

[2020-06-02 14:13] #10322 closed

[2020-06-02 14:14] normanmaurer commented on #10235
@slandelle so just to ensure I did get it... you say all is good and we should just close this one ?

[2020-06-02 14:18] slandelle commented on #10235
@normanmaurer Yes

[2020-06-02 14:20] normanmaurer commented on #10235
ok lets close it then...

[2020-06-02 14:20] #10235 closed

[2020-06-02 14:20] normanmaurer commented on #10334
Let me close this one for now

[2020-06-02 14:20] #10334 closed

[2020-06-02 14:20] boicehuang commented on #10334
Thanks, @normanmaurer.  I understood and still had a question.
By toggling AUTO_READ, we can put a limit on bulk data requests to prevent used memory from growing up.  But is it possible or any way to not restrict cluster coordination requests, such as vote/join requests, to keep nodes always connected and cluster intact while rejecting bulk data requests at the same time?

[2020-06-02 14:27] normanmaurer commented on #10334
@boicehuang you need to ask on the elastic search project for this. Netty is just the framework used for networking and how they use it and how they implement safe-guards is up to them.

[2020-06-02 14:57] ejona86 commented on #10302
@mostroverkhov, why is that solution dismissed?

That seems completely separate from the issue filed. The issue filed was that you couldn't change the initial settings using the Http2Settings API. Now you _don't_ want to use the existing Http2Settings API?

I don't see it as unreasonable to require you to know the hexcode for the setting, given you are implementing the HTTP/2 extension. But it see

[2020-06-02 16:06] mostroverkhov commented on #10302
To clarify crux of the problem - I can't change Http2Settings outside of Http2ConnectionHandler (from `http2WebSocketHandler` present in pipeline) for 2 reasons:

* only public API for settings I am aware of - `Http2ConnectionHandler.decoder().localSettings()` - returns new instance of settings, not the instance actually sent in [preface](https://github.com/netty/netty/blob/bdbf68f9881b7187c0da45d

[2020-06-02 20:15] ejona86 commented on #10302
I referenced _two_ public APIs, the Http2ConnectionHandler constructor and its builder. If you are using the http/2 multiplexing codec, then it is also available on Http2MultiplexCodecBuilder. So we should be clear the issue is _not_ the lack of public APIs.

Okay, so the issue isn't "it isn't possible" but instead "it has usability issues."

So it is possible for `Http2WebSocketHandler` to _verif

[2020-06-03 07:58] GeXin666 opened #10338 "DelimiterBasedFrameDecoder Is this a bug？"
### Netty version
4.1.49

DelimiterBasedFrameDecoder code segment

`if (minDelim != null) {
            int minDelimLength = minDelim.capacity();
            ByteBuf frame;

            if (discardingTooLongFrame) {
                // We've just finished discarding a very large frame.
                // Go back to the initial state.
                discardingTooLongFrame = false;
                b

[2020-06-04 07:31] jnorkus commented on #10181
@gnarea Could you please share a code snippet on how you got TSL to work on a gRPC server using Netty? I would very much appreciate as I'm currently struggling to find the correct approach.

I'm currently trying to use the `JdkSslContext`.

[2020-06-04 08:17] gnarea commented on #10181
Hi @jnorkus! Check this out: https://github.com/relaycorp/relaynet-courier-android/blob/d686bb2768470fa139fa64ef3bb9697519160cee/app/src/main/java/tech/relaycorp/cogrpc/server/CogRPCServer.kt#L52

[2020-06-04 15:57] #10246 closed

[2020-06-04 17:14] #10261 closed

[2020-06-04 18:54] mostroverkhov commented on #10302
The question was how to modify `Http2Settings` *after* `Http2ConnectionHandler` is created, but *before* settings are sent.

Anyways, I will do what was suggested - set settings parameters when server `Http2ConnectionHandler` is created. Particularly, for [rcf8441](https://tools.ietf.org/html/rfc8441) that means roughly `initialSettings().put(SETTINGS_ENABLE_CONNECT_PROTOCOL, (Long) 1L);` for `Htt

[2020-06-04 18:54] #10302 closed

[2020-06-04 18:55] mostroverkhov commented on #10300
answered on #10302

[2020-06-04 18:55] #10300 closed

[2020-06-05 01:27] lly7690 opened #10340 "Android:Using Netty & Websocket way,cause many exceptions"
![image](https://user-images.githubusercontent.com/17976067/83826453-84589500-a70e-11ea-9201-17038f26cedc.png)
![image](https://user-images.githubusercontent.com/17976067/83826470-8f132a00-a70e-11ea-9bc7-63528fede2ba.png)
![image](https://user-images.githubusercontent.com/17976067/83826478-92a6b100-a70e-11ea-80cc-4f614cdc2739.png)
![image](https://user-images.githubusercontent.com/17976067/8382648

[2020-06-05 01:28] lly7690 commented on #10340
it will happen when i connected after 30s

[2020-06-05 01:29] lly7690 commented on #10340
it will disconnected when i connected after 30s

[2020-06-05 01:30] lly7690 commented on #10340
![image](https://user-images.githubusercontent.com/17976067/83826732-33956c00-a70f-11ea-8a9b-65ecf52ce352.png)

![image](https://user-images.githubusercontent.com/17976067/83826712-28dad700-a70f-11ea-80c9-10f7df1b337e.png)

[2020-06-05 01:32] lly7690 commented on #10340
![image](https://user-images.githubusercontent.com/17976067/83826813-73f4ea00-a70f-11ea-8aa1-4d301672db39.png)

1 io.netty.util.internal.ObjectUtil.checkNotNull(ObjectUtil.java:33)
--
2 io.netty.handler.codec.DefaultHeaders.setObject(DefaultHeaders.java:479)
3 io.netty.handler.codec.http.DefaultHttpHeaders.set(DefaultHttpHeaders.java:183)
4 io.netty.handler.codec.http.websocketx.WebSocketClientHan

[2020-06-05 01:34] lly7690 commented on #10340
![image](https://user-images.githubusercontent.com/17976067/83826914-b6b6c200-a70f-11ea-8047-cdef0da64691.png)
![image](https://user-images.githubusercontent.com/17976067/83826928-be766680-a70f-11ea-969d-f5aabd96375b.png)

[2020-06-05 01:35] lly7690 commented on #10340
![image](https://user-images.githubusercontent.com/17976067/83826963-d0580980-a70f-11ea-99f7-381c488847df.png)
![image](https://user-images.githubusercontent.com/17976067/83826980-d6e68100-a70f-11ea-9542-01792aca6fa8.png)

[2020-06-05 01:36] lly7690 commented on #10340
![image](https://user-images.githubusercontent.com/17976067/83826999-e239ac80-a70f-11ea-8248-f226af860ba0.png)
![image](https://user-images.githubusercontent.com/17976067/83827087-05fcf280-a710-11ea-9a46-e3611004694d.png)

[2020-06-05 01:36] lly7690 commented on #10340
![image](https://user-images.githubusercontent.com/17976067/83827109-10b78780-a710-11ea-839a-82f3be0de42c.png)
![image](https://user-images.githubusercontent.com/17976067/83827119-18772c00-a710-11ea-8c78-822e378f0112.png)

[2020-06-05 01:37] lly7690 commented on #10340
![image](https://user-images.githubusercontent.com/17976067/83827125-1f05a380-a710-11ea-9de6-7c5769d7bd28.png)
![image](https://user-images.githubusercontent.com/17976067/83827132-24fb8480-a710-11ea-96e9-06e3622d7964.png)

[2020-06-05 05:31] jzdayz commented on #10332
https://github.com/netty/netty/issues/7748

[2020-06-05 05:31] #10332 closed

[2020-06-05 16:23] hartmut27 commented on #7319
as stated [here](https://github.com/netty/netty/issues/8263) it's a "loading strategy until succeed"  tagged with `DEBUG` log messages, for me this explains why this is needed, it has the character of an "false positive", and switching away from DEBUG log level or suppressing this message by means of the log library could work as a work-around

[2020-06-06 07:08] lly7690 opened #10341 "Android:when i use Philippines globe 4G network to connect by netty websocket to my server with cdn,i can not connect,but i can connect well when i use china 4G network in china"
Android:when i use Philippines globe 4G network to connect by netty websocket to my server with cdn,i can not connect,but i can connect well when i use china 4G network in china ,and if i use Philippines globe 4G network to connect by okhttp websocket to my server with cdn,i can connect,and well in china,so,what's the problem in netty websocket client?

[2020-06-06 10:33] hyperxpro commented on #10341
Netty WebSockets Client is perfect. Most likely it's your ISP issue.

[2020-06-06 10:48] lly7690 commented on #10341
netty websocket can not connect,but okhttp is well,what is the problem?

[2020-06-06 10:49] hyperxpro commented on #10341
Test Netty locally first before testing on the outside networks.

[2020-06-06 10:50] lly7690 commented on #10341
local is ok

[2020-06-06 10:50] lly7690 commented on #10341
only not work under Philippines globe 4G

[2020-06-06 10:51] lly7690 commented on #10341
with netty websocket client

[2020-06-06 10:51] lly7690 commented on #10341
only can not connect under Philippines globe 4G with netty websocket client

[2020-06-06 10:51] hyperxpro commented on #10341
Use Wireshark to capture packets and debug.

[2020-06-06 10:53] lly7690 commented on #10341
from what point to debug?

[2020-06-06 10:53] lly7690 commented on #10341
i mean when i capture the packets what should i do to debug

[2020-06-06 10:54] hyperxpro commented on #10341
Netty WebSocket Client to WebSocket Server. Make sure packets arrive correctly on the server.

Run Wireshark on both machines.

[2020-06-06 10:55] lly7690 commented on #10341
the connect packets?

[2020-06-06 10:57] hyperxpro commented on #10341
Run Wireshark on Client and Server and make sure all packets which are sent from Client arrive on Server correctly.

[2020-06-06 10:57] lly7690 commented on #10341
but not connected .??

[2020-06-06 10:58] lly7690 commented on #10341
not connected, how to send?

[2020-06-06 10:58] hyperxpro commented on #10341
If Netty Client is not connecting then it's your network-level issue.

[2020-06-06 10:59] hyperxpro commented on #10341
Or you didn't configure Netty properly.

[2020-06-06 10:59] lly7690 commented on #10341
but okhttp websocket client works well

[2020-06-06 10:59] hyperxpro commented on #10341
Then the problem is in your Netty code.

[2020-06-06 11:00] lly7690 commented on #10341
but i can connect when i use china 4g with netty in china

[2020-06-06 11:01] hyperxpro commented on #10341
Now it's network-level issue again. lol

[2020-06-06 11:02] lly7690 commented on #10341
........but why okhttp websocket client can connect?

[2020-06-06 11:06] hyperxpro commented on #10341
Debugging everything from start to end will give all information.

As far as you're concerned that there is a bug in Netty WebSockets Clients, well it's not. You already mentioned Netty works on `China 4G` network but not `Philippines globe 4G`, so the only thing you can do is debug at network-level.

[2020-06-06 11:08] lly7690 commented on #10341
..

[2020-06-06 14:08] hyperxpro opened #10342 "How to handle `javax.net.ssl.SSLHandshakeException` during ALPN Negotiation?"
### Expected behavior

I am trying to handle `javax.net.ssl.SSLHandshakeException` in `ApplicationProtocolNegotiationHandler`.

Here is the code:
[code]

I am able to print Throwable message but exception is still getting thrown with full stack trace, Am I doing it wrong?

### Netty version
4.1.50.Final
### JVM version (e.g. `java -version`)
openjdk version "11.0.5" 2019-10-15 LTS

### OS version

[2020-06-08 03:20] lly7690 commented on #10341
what is network-level?

[2020-06-08 08:18] normanmaurer commented on #10342
@hyperxpro sorry I dont understand the question / problem... Can you give some more details on what happens and what you expect ?

[2020-06-08 08:18] normanmaurer commented on #10338
@GeXin666 can you provide a unit test ?

[2020-06-08 08:30] normanmaurer commented on #10340
Please add more details and explain what happens and what you would expect. Without this I can't help

[2020-06-08 08:31] normanmaurer commented on #10328
@fredericBregier so can we close this ?

[2020-06-08 08:33] #10328 closed

[2020-06-08 08:34] normanmaurer commented on #10310
Let me close this for now and you can reopen if the problem still exist and add more debug info

[2020-06-08 08:34] #10310 closed

[2020-06-08 08:36] normanmaurer commented on #10282
Closing this

[2020-06-08 08:36] #10282 closed

[2020-06-08 08:38] normanmaurer commented on #10189
@nicktrav like you already found out this is expected as this is just a preference but some parts still explicit ask for direct memory and so will allocate direct memory.

[2020-06-08 08:38] #10189 closed

[2020-06-08 09:19] amizurov commented on #10341
Hi, @lly7690 please provide your websocket upgrade request and response or exception that you client received. Maybe you have some problem with origin header and CORS policy.

[2020-06-08 09:23] lly7690 commented on #10341
TIME:2020-06-08  15:03:26.552
APPLICATION_ID:com.yilian.yesim
VERSION_CODE:103
VERSION_NAME:1.1.0.6
BUILD_TYPE:dev
BRAND:HUAWEI
MODEL:VOG-AL00
RELEASE:10
SDK:29
EXCEPTION:Software  caused  connection  abort
STACK_TRACE:java.io.IOException:  Software  caused  connection  abort
at  sun.nio.ch.FileDispatcherImpl.read0(Native  Method)
at  sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:43)
at

[2020-06-08 09:25] lly7690 commented on #10341
enough?

[2020-06-08 09:26] lly7690 commented on #10341
okhttp i'll provide wait a minute

[2020-06-08 09:28] lly7690 commented on #10341
![image](https://user-images.githubusercontent.com/17976067/84014729-63fa3600-a9ad-11ea-8072-294b4ef5813b.png)
![image](https://user-images.githubusercontent.com/17976067/84014755-6a88ad80-a9ad-11ea-9289-288e6bbe76c8.png)
![image](https://user-images.githubusercontent.com/17976067/84014770-6fe5f800-a9ad-11ea-88f3-9f6c53bae167.png)

[2020-06-08 09:37] lly7690 commented on #10341
first is Overview,second is request,third is response

[2020-06-08 10:01] lly7690 commented on #10341
@amizurov hi?

[2020-06-08 10:03] amizurov commented on #10341
Also provide Netty version please, because since 4.1.37 you can configure and handle handshakeTimeout see `WebSocketClientProtocolHandshakeHandler`. However only one difference between OkHttp and Netty i see is origin header try set to empty String for Netty.

[2020-06-08 10:08] lly7690 commented on #10341
how to set?

[2020-06-08 10:09] lly7690 commented on #10341
new WebSocketClientHandler(WebSocketClientHandshakerFactory.newHandshaker(uri, WebSocketVersion.V13, null, true
                                , new DefaultHttpHeaders())

[2020-06-08 10:09] lly7690 commented on #10341
then ?

[2020-06-08 10:09] lly7690 commented on #10341
@amizurov

[2020-06-08 10:12] amizurov commented on #10341
pass to `WebSocketClientHandler` custom headers with ORIGIN:
[code]

[2020-06-08 10:14] lly7690 commented on #10341
thanks trying

[2020-06-08 10:15] lly7690 commented on #10341
still exists

[2020-06-08 10:15] lly7690 commented on #10341
the origin header

[2020-06-08 10:19] lly7690 commented on #10341
remove not works but set works

[2020-06-08 10:20] lly7690 commented on #10341
but origin is "" now ，never mind?

[2020-06-08 10:20] lly7690 commented on #10341
@amizurov

[2020-06-08 10:24] lly7690 commented on #10341
tested,still can not connect

[2020-06-08 10:24] lly7690 commented on #10341
@amizurov

[2020-06-08 10:36] amizurov commented on #10341
Sorry could clarify when work and when not works ?

[2020-06-08 11:05] lly7690 commented on #10341
still not works after set origin empty string

[2020-06-08 11:08] lly7690 commented on #10341
@amizurov

[2020-06-08 11:12] lly7690 commented on #10341
@amizurov when is it u there?please let me know so I can communicate with u tomorrow me here

[2020-06-08 11:28] amizurov commented on #10341
Looks strange, we can try remove origin header at all. But also could you check that your server received a websocket upgrade request, also timeout in one minutes it's a lot.

[2020-06-08 11:33] lly7690 commented on #10341
remove method not works,server can not receive request,lost through cdn speed up

[2020-06-08 11:36] lly7690 commented on #10341
@amizurov

[2020-06-08 11:47] amizurov commented on #10341
You can and additional handler to you pipeline before WebSocketClientHandshaker13 and intercept outbound websocket upgrade request and remove this header.

[2020-06-08 12:17] lly7690 commented on #10341
ok i'll try it tomorrow me here,thanks anyway

[2020-06-08 15:55] hyperxpro commented on #10342
Lemme explain in simple terms:

I am getting `SSLHandshakeException` (as expected) but when I try to handle them in `exceptionCaught` or `handshakeFailure`, the exception still reaches the end of the pipeline and I getting this:
[code]

How to I catch `SSLHandshakeException` properly and avoid the above warning from `DefaultChannelPipeline`?

[2020-06-08 16:05] normanmaurer commented on #10342
Can you share the code ?

[2020-06-08 16:11] hyperxpro commented on #10342
[code]

[code]

[2020-06-09 01:20] lly7690 commented on #10341
could you write a sample to remove "origin" header please?

[2020-06-09 01:20] lly7690 commented on #10341
@amizurov

[2020-06-09 02:21] lly7690 commented on #10341
could you give me android netty websocket demo to test conecttion?

[2020-06-09 02:21] lly7690 commented on #10341
@amizurov

[2020-06-09 05:36] #10338 closed

[2020-06-09 05:46] lly7690 commented on #10341
@amizurov hi?

[2020-06-09 05:47] lly7690 commented on #10341
@hyperxpro hi, here?

[2020-06-09 07:19] amizurov commented on #10341
@lly7690 hi try connect to test echo server https://www.websocket.org/echo.html, just for check is it problem with network provider or something else.

[2020-06-09 07:26] hyperxpro commented on #10341
There are like 100s of reason for this issue. Without doing network-level debug, it's next to impossible to resolve.

[2020-06-09 07:26] hyperxpro commented on #10341
@lly7690 Are you using TLS + WebSocket?

[2020-06-09 07:28] lly7690 commented on #10341
no tls

[2020-06-09 07:29] hyperxpro commented on #10341
Use `SelfSignedCertificate` and use TLS v1.2 or v1.3 and try.

[2020-06-09 07:34] lly7690 commented on #10341
can not connect to wss://echo.websocket.org

[2020-06-09 07:35] hyperxpro commented on #10341
110% confirmed, network problem.

[2020-06-09 13:22] HonestMan123 opened #10343 "How do I determine if I sent successfully"
future.isSuccess() return success when I was disconnected from the network

[code]
### Netty version
4.1.48.Final
### JVM version (e.g. `java -version`)
1.8.0_151
### OS version (e.g. `uname -a`)
Android 7.0

[2020-06-09 15:19] amizurov commented on #10343
Hi, future.isSuccess() mean only successful flash to socket it doesn't mean that any data was delivered to client. You need implement your own ping-pong, heart-beating mechanism to detect problem with network communication.

[2020-06-10 00:19] HonestMan123 commented on #10343
ok，thank you

[2020-06-10 00:19] #10343 closed

[2020-06-10 07:44] hutchig commented on #7748
I also issued 'brew install ninja' and 'brew install cmake'

[2020-06-11 14:48] carbotaniuman opened #10346 "WebSocketServerProtocolHandshakeHandler private"
I want to override this class, but I cannot. Use case is overriding `isNotWebSocketPath` to check for upgrade request to handle both WS and HTTP on same server and path.

[2020-06-11 16:18] praveens4all opened #10347 "worker threads creating per connection not considering input 500"
### Expected behavior
create more worker threads and high performance
### Actual behavior
created only 1 worker thread per connection giving low performance - most of txns timeout due to late response
### Steps to reproduce
my application static connection (client-server) high volumes of transactions.

### Minimal yet complete reproducer code (or URL to code)
      private EventLoopGroup bossGroup

[2020-06-11 17:43] sukawanth opened #10348 "netty doesnt handle 1k request in one connection"
We are using spring cloud gateway as a HTTP2 proxy, with reactor netty to receive request and uses "Spring WebClient + reactor Jetty" to forward the request to the other hop.

We are sending 4k requests over four connections to proxy. Sometimes only header Frame is sent to jetty client but it fails to receive the request content.

We are running the proxy in a Kubernetes environment with 4VCPU and

[2020-06-11 18:09] #10346 closed

[2020-06-11 22:20] praveens4all commented on #10347
previously i was with netty 3.X version,

 ChannelFactory factory = new NioServerSocketChannelFactory(new NioServerBossPool(Executors.newCachedThreadPool(), 4, ThreadNameDeterminer.CURRENT),
                new NioWorkerPool(Executors.newCachedThreadPool(),50, ThreadNameDeterminer.CURRENT));

        ServerBootstrap bootstrap = new ServerBootstrap(factory);

        bootstrap.setPipelineFactory(()

[2020-06-12 07:22] amizurov commented on #10348
Hi,  Gateway doesn't use Netty directly it build on top of another Spring components (gateway - spring (web server/client) - reactor-netty - netty) there are a lot of components in this chain that can influence the correct behavior. Did you create an issue on Gateway project ?

[2020-06-12 07:26] amizurov commented on #10347
Hmm, why you use `Executors.newCachedThreadPool()` for boss and worker threads instead of Netty default thread factory ?

[2020-06-12 07:27] johnou commented on #10348
@subbarao did you configure your Netty server with two separate event loops? io.netty.bootstrap.ServerBootstrap#group(io.netty.channel.EventLoopGroup, io.netty.channel.EventLoopGroup)

[code]

[2020-06-12 07:48] praveens4all commented on #10347
Hi @amizurov  thank you for reply.
I have tried with out Executors, with default threadfactory.
 private EventLoopGroup bossGroup = new NioEventLoopGroup(4, new DefaultThreadFactory("boss", true));
       private EventLoopGroup  workerGroup  workerGroup = new NioEventLoopGroup(50, new DefaultThreadFactory("worker", true));

same result, Only created 4 threads :(

[2020-06-12 08:29] amizurov commented on #10347
Sorry, maybe i missed something only 4 threads for what ? And why you need a lot of threads, on our application only 1 worker thread it handle about 10k event per second and every thing fine.

[2020-06-12 08:59] praveens4all commented on #10347
Hi @amizurov My application current performance 23 TPS (txns per second), netty server receive txn executes business logic, calls webservice, insert data in database completing txn. (if we monitor per transaction taking only 120 milli seconds). we did network packet analysis understand that netty read/write taking longer than executing business logic..not sure.

If we process 10k transaction no ti

[2020-06-12 13:48] hyperxpro commented on #10348
The title doesn't look good to me. We built our Load Balancer on top of Netty and doing 10M connections is a piece of cake for us now. So I'm pretty sure Netty is stopping you from 1k request in 1 connection, must be something else.

[2020-06-12 14:00] sukawanth commented on #10348
@amizurov  Yes I have raised an issue on the reactor netty also.

[2020-06-12 14:02] sukawanth commented on #10348
@hyperxpro so the issue is not with the number of connection, it works fine if we test the same load on 32 connections or more. Its about the number of requests that each connection can handle with a configured latency of 2sec.

[2020-06-12 14:03] hyperxpro commented on #10348
Which OS you testing it on?

[2020-06-12 14:09] sukawanth commented on #10348
@hyperxpro As i mentioned it is running on K8S cluster and reactor-netty is running on top of netty.
K8S version -v1.13.2
Reactor version(s) used: 0.9.5.RELEASE
JVM version (javar -version): open jdk 14
OS and version (eg uname -a): Linux 4.1.12-112.16.4.el7uek.x86_64

[2020-06-12 14:11] hyperxpro commented on #10348
Sorry I didn't check that. Have you tuned underlying OS networking?

[2020-06-12 14:41] amizurov commented on #10347
praveens4all  Could you please share your encoder/decoder and what the payload size of events ?

[2020-06-12 17:53] sukawanth commented on #10348
@hyperxpro Since it runs on Linux it uses the native epoll and reactor netty sitting on top of it. We did some configurations like allocating LoopResources and increasing the number of worker and selector threads, but nothing seems to help.

Since It is a kubernetes cluster we don't have that much access since the cluster is shared by many parties and we dont have permissions for it. Is there any

[2020-06-13 09:10] hyperxpro commented on #10347
Better pass your business login on ExecutorsService instead of increasing Worker threads.

[2020-06-13 20:50] praveens4all commented on #10347
Decoder :

@Scope(ConfigurableBeanFactory.SCOPE_PROTOTYPE)
@Component
@Slf4j
public class Decoder extends ByteToMessageDecoder {

    @Override
    protected void decode(ChannelHandlerContext ctx, ByteBuf byteBuf, List<Object> out) throws Exception {

        log.debug("readable bytes {} , readerindex {}",byteBuf.readableBytes(), byteBuf.readerIndex());

        try{

            if (!byteBuf.isRe

[2020-06-13 20:56] praveens4all commented on #10347
Thank you for reply, Please advise/provide example...I am not sure how to use - currently application using decoder, handler and encoder..how executorservice works which logic do i need to move ?

I am extending my classes ByteToMessageDecoder, SimpleChannelInboundHandler and MessageToByteEncoder<Object>

[2020-06-14 14:17] hyperxpro commented on #10347
Lemme try to understand in more detail.

Your business logic works on `SimpleChannelInboundHandler` or `ByteToMessageDecoder and MessageToByteEncoder`?

[2020-06-14 16:33] praveens4all commented on #10347
Hi let me explain,
Decoder - decode bytes to msg (java object)
Handler - excutes business logic
Encoder - encodes from object to byte[]
Most of business logic/calling thirdparty services/database operations from handler class.

[2020-06-14 18:47] hyperxpro commented on #10347
Just pass your task to `ExecutorService` as soon as you receive data at `Handler`.

[code]

[2020-06-15 15:06] praveens4all commented on #10347
Thank you for reply @hyperxpro Appreciated.

I have applied following changes in my handler class,

[code]

Looks promising in my local build...let me test with high volumes of msgs and update you.

**I am using newFixedThreadPool is this effective in performance OR do i need to consider alternative thread pool ?, please advise.**

_As per my understanding with netty configuration for Handler (bus

[2020-06-15 15:17] hyperxpro commented on #10347
The problem is not the number of threads, you can spawn Million threads running at the same time (depending on the hardware of course) provided you use threads efficiently. Don't create threads for small operations (e.g. 5 seconds) and destroy it immediately, reuse them.

Use `ExecutorService#newCachedThreadPool` keeps the thread alive for 60 Seconds which is good if you've reasonable amount of th

[2020-06-16 01:57] dzou commented on #10051
Encountered the same error, also trying to use `grpc-netty-shaded`.

[2020-06-16 05:43] kaladhar-mummadi opened #10350 "Channel message buffer is not cleared when both Content-Length and Transfer-Encoding headers are missing in requests."
https://github.com/netty/netty/blob/4dc6764d7b6cee4bd788b35c1a8ef36e7e3be05f/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectDecoder.java#L251
Scenario:
Let's say I make two requests one after the other using the same connection with the body, but without `Content-Length` and `Transfer-Encoding` headers.

### Expected behavior
When there is no `Content-Length` header in the request,

[2020-06-16 08:29] ffiredom opened #10351 "DiskAttribute may cause memory leak"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.15.Final
### JVM version (e.g. `java -version`)
1.8.0_181
### OS version (e.g. `uname -a`)
mac os 10.14.5
I use netty as the http server. When the post request body data received by the server is greater than 16k, netty will use DiskAttribute, which w

[2020-06-16 21:56] johnou commented on #10342
@hyperxpro how about the full stacktrace logged in the DefaultChannelPipeline warn statement?

[2020-06-17 06:04] VLoye commented on #10192
Hi, I encountered the same problem. Then I found that In the ByteToMessageDecoder , field cumulation's refCnt is not zero after called released, is it a problem?
![image](https://user-images.githubusercontent.com/26847931/84861336-5cb8e380-b0a3-11ea-975c-68d64946e6a6.png)

[2020-06-17 07:41] jakubkluz commented on #9882
We have same issue as @m-zai  on our components. The exception occurs randomly on large data fetch.

[2020-06-17 13:17] praveens4all commented on #10347
Thank you performance improved but still timeouts out of 15k msgs 69 timeouts..if i look at failed ones which are taking socketconnect taking longer...am not sure..
what to check how to fix socket time cosuming...
![image](https://user-images.githubusercontent.com/19388738/84902778-8bd45280-b0ad-11ea-86ae-bc08c50d7b22.png)
and otherone
![image](https://user-images.githubusercontent.com/19388738/84

[2020-06-17 13:37] hyperxpro commented on #10347
I think it has more to do with network layer not Netty itself. Are you performing tests over local network?

[2020-06-17 15:44] praveens4all commented on #10347
Thanks for reply, No not in local environment, will check with network team.

`    ExecutorService executorService = new ThreadPoolExecutor(2500, 5000, 300L, TimeUnit.SECONDS, new LinkedBlockingQueue<>())`

creating only 2500 threads (core threads) not increasing - my understanding grow upto 5000. please advise am i missing something. thx.

[2020-06-17 16:31] hyperxpro commented on #10347
Core Threads count is the minimum number of threads that will be available forever in that ExecutorService. Adjust according to your needs.

[2020-06-17 19:32] oleg-sta opened #10352 "Multithreading for WorkerGroup doesn't work"
Hi, please check the issue, not sure if the behaviour is expected.

### Expected behavior
When workergroup created with multiple number of thread it is expected that handling will be parallel as written in the https://netty.io/4.1/api/io/netty/channel/ChannelPipeline.html

### Actual behavior
handling in serial. In the logs we see that messages handled on by one with 1 second interval

Is it issue

[2020-06-17 20:20] hyperxpro commented on #10351
`4.1.15.Final` was released around 3 years and Netty received numerous till now, Can you check if this issue happens with `4.1.50.Final` too?

[2020-06-17 20:22] hyperxpro commented on #10342
Sorry I didn't understand. Are you talking about the full stacktrace of the Exception?

[2020-06-17 22:53] jwils opened #10353 "Netty Pipeline processes flush operation out of order"
During an attempted upgrade of netty we ran into an issue starting in version 4.1.35 it appears that sometimes channel.flush() ends up getting processed before a channel.write() even when called after the write(). These actions happen on a thread outside the netty pipeline.

Calling channel.writeAndFlush() seems to fix the issue, but not sure what else might be impacted.

### Expected behavior

on

[2020-06-18 02:44] zhenjunMa commented on #10352
`ChannelPipeline addLast(EventExecutorGroup group, ChannelHandler... handlers)`
means when server get a connection, it will pick one worker from the group and `bind` this worker to this connection to process follow up data.
not means pick one worker every time when a connection get a request.

[2020-06-18 05:09] normanmaurer commented on #10352
@oleg-sta as @zhenjunMa said... the reason for this is that most protocols need some sort of ordering which can't be guaranteed if we just pick a new thread for each message. That said you can archive what you want by using the `UnorderedThreadPoolEventExecutor` when adding a handler to the pipeline

[2020-06-18 05:09] #10352 closed

[2020-06-18 05:15] normanmaurer commented on #10342
@hyperxpro yes

[2020-06-18 05:45] oleg-sta commented on #10352
Maybe an example in the documentation should be changed: https://netty.io/4.1/api/io/netty/channel/ChannelPipeline.html?

[2020-06-18 05:47] VLoye opened #10354 "HttpPostRequestDecoder cause memory leak"
### Description
Hi, when I post a multipart/form-data request to Netty Server，I found that the rss of the netty server process continues to increase. Finally throw the exception : **failed to allocate 31418588 byte(s) of direct memory ...**
Also it would throw an **OutOfDirectMemoryError** in the log.
I got the following information by setting jvm options: -Dio.netty.leakDector.level=PARANOID

###

[2020-06-18 09:34] VLoye commented on #10354
It seems that create a new bytebuf by **buffer.copy()** and then do not called the release of  the new bytebuf.
[code]

[2020-06-18 11:45] praveens4all commented on #10347
Big Thank you @hyperxpro @amizurov  for responses and various solutions, Appreciated.
My application Thread issues sorted. closing issue.

[2020-06-18 11:49] hyperxpro commented on #10347
@praveens4all Close it if you're done. Controls are in your hand :-D.

[2020-06-18 16:58] zzmao commented on #9542
HI @nizarm @normanmaurer ,

We are using Netty 4.1.42.Final, but we see the following exception twice in a month:

[code]

The related code is:
[code]

Since our code creates brand new SimpleChannelPool, Is it possible that that a SimpleChannelPool was garbage collected, then a new SimpleChannelPool is created at the same memory space and hit this already in use exception?

[2020-06-18 18:26] hyperxpro commented on #10342
[code]

Any idea how to handle this exception and prevent stack trace?

P.S-The exception is expected but I just wanna handle it.

[2020-06-18 19:07] johnou commented on #10342
you are handling it, that's from your handler. I was asking for the stacktrace logged from DefaultChannelPipeline which you said you couldn't prevent..?

[2020-06-18 19:12] hyperxpro commented on #10342
Mhmm, I think I'm confused. My main goal is, I don't want this stack trace to be thrown. Is there any way except disabling logger?

[2020-06-18 19:28] cgtz commented on #9542
I see that this change is rolled back with #9760 and the `AttributeKey` is static once again in netty 4.1.44+. I guess the assumption with the static key is that there is exactly one `SimpleChannelPool` per channel but the member variable version would have allowed multiple pool instances to be attached to one channel (with the downside of the potential memory leak described in #9760?

[2020-06-19 08:59] tomek113 commented on #8537
Is fix for this issues still on the roadmap? BlackDuck reports this as vulnerability in the latest release of netty.

[2020-06-20 08:24] aikar commented on #10353
Feels pretty expected, as all this does is invoke 2 schedules to the event loop, and each can end up on a different thread.

If you want to send many writes and a single flush, you should jump into the event loop first then send it all on the same thread.

[2020-06-21 02:39] yuanrw commented on #10354
Could you possibly post your handlers?

[2020-06-21 06:17] pengzhengfa opened #10358 "A little bit of advice"
Can you write official documents more perfectly? Some core documents seem to be missing

[2020-06-21 12:35] VLoye commented on #10354
[code]

[2020-06-21 14:06] ona993 commented on #10358
Wow, that's rude

[2020-06-22 02:40] pengzhengfa commented on #10358
Too much, too much

[2020-06-22 07:34] normanmaurer commented on #10354
@VLoye good catch... Should be fixed by https://github.com/netty/netty/pull/10360

[2020-06-22 11:54] #10354 closed

[2020-06-22 12:32] normanmaurer commented on #10353
@aikar are there any `ChannelHandler`s added to the `ChannelPipeline` with a `EventExecutor` ? Also are the operations on the `Channel` (`write` and `flush`) be done from the same calling `Thread` ?

[2020-06-22 12:33] normanmaurer commented on #10358
If you think there is anything to improve (and yes I am sure there is plenty to improve) open a PR with the improvements. This is an OSS project and so contributions are mostly welcome

[2020-06-22 12:33] #10358 closed

[2020-06-22 12:49] normanmaurer commented on #10342
@hyperxpro can you also show me how your `SslContext` is build ?

[2020-06-22 13:01] bmamorbor opened #10362 "Synopsys BlackDuck v2020.4.2 finds Medium vulnerability in io.netty:netty-all:4.1.50.Final"
### Expected behavior
No security issues.
### Actual behavior
BDSA-2018-4022 MEDIUM (score 4.9) https://blackduck.opentext.net/api/vulnerabilities/BDSA-2018-4022

Netty does not verify the hostname when establishing connections with clients which allows a potential attacker to forge a certificate and pose as the intended peer. An attacker can leverage this flaw by crafting a a cryptographically va

[2020-06-22 13:36] normanmaurer commented on #10342
Ok I think I see what happens here ... And yep I agree this is very confusing. Let me see how I can fix this best.

[2020-06-22 13:43] hyperxpro commented on #10342
[code]

Lemme try to make it more clear: Whenever an `SSLHandshakeException` happens, it reaches directly `DefaultChannelPipeline` and we get `WARN` log like this with Stacktrace:
[code]

So is there any way to prevent this? Because handling the exception at ALPN Handler has no effect, it still throws Stacktrace.
[code]

[2020-06-22 13:50] hyperxpro commented on #10362
Hostname verification can be turned on manually, however, in Netty 4.1, it is disabled by default. It'll be enabled by default from Netty 5 #8537.

Duplicate of #9930.

[2020-06-22 13:51] hyperxpro commented on #10362
And the URL is broken.

[2020-06-22 14:07] aikar commented on #10353
@normanmaurer im not the one with the issue :) That's @jwils

Unless my understanding of calling .flush() separately does have some magic that would ensure it gets on the same event loop thread.

[2020-06-22 14:26] normanmaurer commented on #10342
@johnou @hyperxpro PTAL https://github.com/netty/netty/pull/10363

[2020-06-22 14:51] jwils commented on #10353
@normanmaurer Some channels are added with EventExecutors. The operations on the channel are all called from a single thread.

My understanding is we could optimize this by trying to put all the calls on the event executor, but I'd expect actions on the pipeline to be executed in order, regardless of where they are called from. My understanding is that each channel has only 1 executor thread that

[2020-06-22 16:50] v891 opened #10365 "reactor.core.Exceptions$ReactiveException: io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection timed out"
Hi All. I am getting this exception occasionally, not sure what is causing the issue. The exception is being thrown 15 minutes after the actual WebService call was made, server app is up running when the exception is occurred. Any help would be appreciated.

reactor.core.Exceptions$ReactiveException: io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection timed out
--
 

[2020-06-22 21:58] BehzadArabi opened #10366 "create SslHandler for mqtt protocol"
Hi,
I'm creating an mqtt client via netty for my customer in android,
My client should support SSL otherwise the mqtt server will deny the my requests
I found a port of netty for microsoft .net
https://github.com/Azure/DotNetty/blob/dev/src/DotNetty.Handlers/Tls/TlsHandler.cs
is there any similar code available for java?

[2020-06-23 02:13] yuuuuuy opened #10367 "Whether it can better handle bad message"
https://github.com/netty/netty/blob/48938e2d99d51c8226f60b045b9a7a4520ed65da/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectDecoder.java#L378
_When my device sends data frequently, illegal characters occasionally appear in the HTTP header.
However, after the user-defined handler is notified for the first time, the data received by the connection will not be processed and the next h

[2020-06-23 07:34] normanmaurer commented on #10366
Not that I am aware of .... we only have the `SslHandler`

[2020-06-23 07:34] #10366 closed

[2020-06-23 08:13] thunderbird opened #10369 "SRCCLR-SID-22277"
I have SRCCLR-SID-22277 being flagged up by a veracode / sourceclear scan for vulnerability to man in the middle attacks: https://sca.analysiscenter.veracode.com/vulnerability-database/security/sca/vulnerability/sid-22277/summary

Details are not great, but I'm making sure this is registered here as I've found no reference. Looks like the bug is down to netty handler not using a SSL Engine that do

[2020-06-23 11:54] AnveshMora opened #10370 "SSL Handshake is not happening from the pipeline while doing reconnection to servers"
### Expected behavior
If any connection excpetion using bootstrap object to connect to the server, expectation is it should SSL handshake.
### Actual behavior
It's skipping the SSL handshake and failing with UnknownMessage type expected(ByteBuf):
[code]
### Steps to reproduce
1. While Main Connection
[code]

2. Having Channel Future handler for implementing re-try logic in step 1:
[code]
Expectati

[2020-06-23 12:04] AnveshMora commented on #10370
I tried multiple time to format the code, seems like I'm not able wrap the code inside the quotes.

Problem I'm facing is the something like this :
1. in Main class, I'll try to connect to a server and attach Channel Listener for future actions.
2. If Connection establishes successfully, SSL Handshake is done without any problem.
3. But if Connection in Step 1 fails, I'll try to connect to same or

[2020-06-23 14:42] bmamorbor commented on #10362
I've attached: BlackDuck_BDSA-2018-4022.pdf
[BlackDuck_BDSA-2018-4022.pdf](https://github.com/netty/netty/files/4820084/BlackDuck_BDSA-2018-4022.pdf)

[2020-06-23 14:46] hyperxpro commented on #10362
Not a problem, already mentioned above.

[2020-06-23 14:58] hyperxpro commented on #10369
Duplicate of #10362 #9930

[2020-06-23 18:57] smaldini commented on #10365
You might want to ask first on https://github.com/reactor/reactor-netty, please share your code snippet as well

[2020-06-24 03:40] AnveshMora opened #10371 "ProtobufVarint32FrameDecoder is not annotated shareable but documentation says otherwise"
### Expected behavior
Should be able to remove or add to pipeline dynamically
### Actual behavior
Fails with below exception:
[code]
### Steps to reproduce
1. Main class(Client) to connect to a server and use channel future listener to attach to bootstrap connect
2. Make sure server is down fails to connect to server for the first time
3. Make Channel future listner used in step 1 to connect to sa

[2020-06-24 06:42] #10342 closed

[2020-06-24 10:50] AnveshMora commented on #10370
Fixed this issue, Culprit here is "ProtobufVarint32FrameDecoder " and it's parent Class "ByteToMessageDecoder". "ByteToMessageDecoder" make sure it's child classes are not shareable.

Because above classes are not shareable, every time code try to reconnect using boostrap, initializer class fails to add handlers in pipeline results in "ctx.close()" and no handlers.

I've did work-around of adding

[2020-06-24 10:50] #10370 closed

[2020-06-24 10:51] AnveshMora commented on #10371
I've addressed 10370, by making  "ProtobufVarint32FrameDecoder " and it's parent Class "ByteToMessageDecoder". "ByteToMessageDecoder" shareable.

Because above classes are not shareable, every time code try to reconnect using boostrap, initializer class fails to add handlers in pipeline results in "ctx.close()" and no handlers.

Considering this scenario, we might have to make ByteToMessageDecoder

[2020-06-24 15:35] bmamorbor commented on #10362
Now I've got two BlackDuck servers reporting this issue as a Medium level issue. Is anyone else able to run a BlackDuck 2020.4.2 (using CVSS 3.1) to see this issue? Thanks.

[2020-06-25 09:16] voidzcy opened #10374 "X509TrustManager with OPEN_SSL provider is not wrapped with hostname verification if Conscrypt is inserted in the first place"
This is an edge case for the fix of #6664.

When Conscrypt is inserted as the first security provider while OPEN_SSL is specified in building `SslContext`, hostname verification is not performed.

#8307 adds the `OpenSslX509TrustManagerWrapper` that tries to wrap an X509TrustManager with JDK's hostname verification logic (a.k.a., [AbstractKeyManagerWrapper](http://hg.openjdk.java.net/jdk8u/jdk8u/j

[2020-06-25 09:20] normanmaurer commented on #10374
@voidzcy are you interested in providing a fix ?

[2020-06-25 13:43] normanmaurer commented on #10374
@voidzcy see https://github.com/netty/netty/pull/10375... PTAL

[2020-06-25 13:53] michael-simons opened #10376 "Upgrade to JC Tools 3.0 changes queue behavior when compiled natively on GraalVM."
The upgrade to JC Tools 3.0 from 4.1.45 to 4.1.46 changes queue behavior when compiled natively on GraalVM.

For Netty 4.1.45 we used the following substitution in the Neo4j Java Driver

[code]

to force Netty to not use JC Tools Mscp queues. This is the same substitution that Quarkus uses (see https://github.com/quarkusio/quarkus/blob/0513ad94fd93f4ac377b796521a03dd3a52a156b/extensions/netty/runt

[2020-06-25 14:02] franz1981 commented on #10376
Hi, just a qq: why not use `https://github.com/JCTools/JCTools/blob/master/jctools-core/src/main/java/org/jctools/queues/atomic/MpscChunkedAtomicArrayQueue.java` that is just using j.c.u. plain AtomicXXX classes that should be already accounted in the substitutions (hopefully)?

[2020-06-25 14:05] cescoffier commented on #10376
Thanks @michael-simons for the ping! Yes, we will have to update the native configuration for Netty when we update.

[2020-06-25 14:06] cescoffier commented on #10376
... we already using 4.1.49, so it needs to be updated.

[2020-06-25 14:07] michael-simons commented on #10376
Hi @franz1981. Thanks for chiming in.

I was there as well in my research and found this piece of code in Netty: https://github.com/netty/netty/blob/8c5b72aaf02e7f349a9972dd9179b449b5a6067b/common/src/main/java/io/netty/util/internal/PlatformDependent.java#L894-L937

I think that should actually already do this. We also set `io.netty.noUnsafe=true` in our image config, but for whatever reason, it

[2020-06-25 14:07] michael-simons commented on #10376
I think so, yes!

[2020-06-25 14:47] franz1981 commented on #10376
@michael-simons
I'm surprised that `io.netty.noUnsafe` isn't working as expected TBH: what debug logs says re
`16:35:43.491 [main] DEBUG io.netty.util.internal.PlatformDependent - org.jctools-core.MpscChunkedArrayQueue: unavailable`?

let me know if forcing with this
[code]
I see too that the original code
[code]
isn't "right": `MpscGrowableAtomicArrayQueue` and `MpscChunkedArrayQueue` behave diff

[2020-06-25 15:23] franz1981 commented on #10376
@michael-simons OOps, I've missed the

[2020-06-25 18:38] #10374 closed

[2020-06-25 20:09] michael-simons commented on #10376
I hope that didn’t came across ignorant. Should not be. I use it only through Netty. But I’ll see that I create a reproducer for pure JCtools.

[2020-06-25 23:00] Bennett-Lynch commented on #10298
I'm closing this out for now since I have a little more data showing some of the original assumptions to be incorrect. I still suspect there is an issue here with Netty's Epoll implementation and I will create a separate issue once I have more details.

[2020-06-25 23:00] #10298 closed

[2020-06-26 06:48] michael-simons commented on #10376
It seems that something just doesn't care about me setting `-Dio.netty.noUnsafe=true` in the `native-image.properties`

After fiddling around to get JDK logging out of Graal, I see:

[code]

[2020-06-26 23:03] ijuma commented on #10006
Is it happening as part of GSOC still @normanmaurer?

[2020-06-27 12:21] trustin opened #10378 "`ResourceLeakDetectorFactory.newResourceLeakDetector(Class, int)` ignores sampling interval."
### Expected behavior

`ResourceLeakDetectorFactory.newResourceLeakDetector(Class, int)` should use the second parameter as the sampling interval of the newly created `ResourceLeakDetector`.

### Actual behavior

`ResourceLeakDetector.SAMPLING_INTERVAL` is used, i.e. cannot customize the sampling interval without using the deprecated `newResourceLeakDetector(Class, int, long)`.

### Netty version

[2020-06-28 02:54] melowYX opened #10379 "class ByteToMessageDecoder‘s method callDecode fall into a dead cycle"
My coder is inherited from ByteToMessageDecoder , I need to deal with a message: determine the next message length according to the content in a fixed interval of the message,so I will use the readablebytes() to determine whether there is enough data.If there is not so much data, I will use the resetReaderIndex() and wait for the next trigger.code just like:

[code]

If it is a normal message, but

[2020-06-28 06:25] normanmaurer commented on #10379
@melowYX can you share a reproducer using `EmbeddedChannel` and your decoder ?

[2020-06-28 06:27] normanmaurer commented on #10371
@AnveshMora These are not sharable by design as these keep state... You will need to create a new instance of these everytime you create a new Channel.

I am also not seeing how the documentation could be misleading here in `ProtobufVarint32FrameDecoder`.

[2020-06-28 06:28] normanmaurer commented on #10370
Like mention in #10371 you will need to create a new instance of these handlers as these share state. So what you see here is expected

[2020-06-29 02:28] melowYX commented on #10379
For some reason I can't give you the detailed code, this is the simplified processing code

[code]

This code will not exit in the while loop in class ByteToMessageDecoder‘s method callDecode.You will see the “123” printed over and over again. This could easily lead to an attack on my system

[2020-06-29 03:12] zhenjunMa commented on #10379
[code]

[2020-06-29 03:23] melowYX commented on #10379
I konw the reason，but i want netty to process it(in.markReaderIndex()). my code just read the data and send to next handler

[2020-06-29 04:36] #10379 closed

[2020-06-29 07:11] normanmaurer commented on #10378
@trustin time for a PR ;)

[2020-06-29 07:59] gustavonalle opened #10381 "CORS Handler blocks requests from the same origin"
The CorsHandler is returning 403 for requests that are coming from the same origin. Consider this POST request captured from a browser:

[code]

It was produced by a fetch javascript request loaded from the domain ```http://console-default.apps-crc.testing``` going to ```http://console-default.apps-crc.testing/rest/v2/caches```, so it's from the same origin.

The ```CorsHandler```, in the method `

[2020-06-29 08:18] AnveshMora commented on #10371
@normanmaurer , That makes sense. I missed that. Btw what kind of state information is stored as part
`ProtobufVarint32FrameDecoder`

[2020-06-29 08:32] normanmaurer commented on #10371
@AnveshMora the received bytes as we may receive fragemented packets etc

[2020-06-29 08:32] #10371 closed

[2020-06-29 11:32] gustavonalle commented on #10381
You can find a reproducer and the fix in the related PR

[2020-06-30 18:49] violetagg opened #10384 "Blocking call in ReferenceCountedOpenSslClientContext$ExtendedTrustManagerVerifyCallback"
### Expected behavior
No blocking calls reported by BlockHound

### Actual behavior
The exception below appears when BlockHound is installed

[code]

The issue is related to https://github.com/reactor/reactor-netty/issues/1148

### Minimal yet complete reproducer code (or URL to code)
Run the test from the Netty fork below with profiles `java11` and `boringssl`

`mvn -Dtest=io.netty.util.internal.

[2020-07-01 02:59] #10367 closed

[2020-07-01 08:12] normanmaurer opened #10385 "Porting WritePCAPHandler to Netty"
SwiftNIO ships a very interesting handler that allows to dump bytes as PCAP files while these travel the pipeline. This is super useful for debugging. We should port it to Netty:

https://github.com/apple/swift-nio-extras/blob/master/Sources/NIOExtras/WritePCAPHandler.swift

[2020-07-01 08:13] normanmaurer commented on #10385
/cc @weissi @Lukasa FYI

[2020-07-01 08:24] #10378 closed

[2020-07-01 19:32] ashok003 commented on #9266
@SuganyaRajendran , were you able to resolve this issue?

[2020-07-02 06:22] normanmaurer commented on #10384
/cc @bsideup

[2020-07-02 06:36] bsideup commented on #10384
@normanmaurer well, it does read the file internally :) Consider either pre-loading it or adding `io.netty.handler.ssl.ReferenceCountedOpenSslClientContext$ExtendedTrustManagerVerifyCallback.verify` to the list of allowed methods

[2020-07-02 07:38] normanmaurer commented on #10006
@ijuma yes! .... See https://github.com/netty/netty/issues/10142

[2020-07-02 07:38] #10006 closed

[2020-07-02 07:42] normanmaurer commented on #10384
@bsideup adding this extra method sounds like good enough... @bsideup @violetagg want to do a PR ?

[2020-07-02 08:01] violetagg commented on #10384
Yep sure

[2020-07-02 11:04] hyperxpro commented on #10385
Will the handler dump packets received on Netty directly or dumping will happen after packets are decoded?

Example: If I want to dump TLS packets using the handler, will it be possible? I don't wanna dump content decrypted from those TLS packets.

[2020-07-02 11:24] johnou commented on #10385
@hyperxpro depends where you put the handler in the pipeline :)

[2020-07-02 14:37] hyperxpro commented on #10385
@johnou Makes sense!

[2020-07-03 18:08] gustavonalle opened #10390 "StreamException in CORS Pre-flight with HTTP/2"
### Expected behavior

CORS Pre-flights requests correctly handled by the ```CorsHandler``` with a HTTP/2 pipeline

### Actual behavior

Client hangs, exception is thrown by Netty:
[code]

The client is ```OkHttp``` and it prints the following exchange:
[code]

### Steps to reproduce

I have a server pipeline which has the main components like the following:

[code]

The pipeline works fine untill

[2020-07-06 07:08] #10384 closed

[2020-07-06 07:59] gustavonalle commented on #10390
I found the problem: ```CorsHandler```, during pre-flight requests (basically an  ```OPTIONS``` with some headers), writes
the ```HttpResponse``` directly to the pipeline, preventing ```MyCustomHandler``` to be called. ```MyCustomHandler```, in the setup described above, sets the ```x-http2-stream-id``` from the request into the response, and this work is not done by the CorsHandler.

[2020-07-06 08:23] normanmaurer commented on #10390
@gustavonalle not sure I understand... can you give some more details here ? From what I understood this could be solved by putting your handler in front of it ?

[2020-07-06 08:38] gustavonalle commented on #10390
Not quite, since my handler doesn't handle OPTION request, responding with forbidden, and preventing the CorsHandler to handle the pre-flight. What I can try is to extract this behaviour of copying the ```x-http2-stream-id``` into a separate handler and put it in front of both CorsHandler and MyCustomHandler.

So I guess this is not a bug: it is rather a side effect of my particular setup of using

[2020-07-06 11:30] nitsanw commented on #10376
@michael-simons @franz1981 WRT
"I'm surprised that io.netty.noUnsafe isn't working as expected"

If the program is AOT compiled the flag should be set during the build, the runtime value will be ignored IIUC. Is that the case here?

[2020-07-06 11:33] devesh-shetty commented on #10385
👋
Could I tackle this?

[2020-07-06 11:34] normanmaurer commented on #10385
@devesh-shetty sure thing ... Let me know if you have any specific question. Basically it is just about porting the SwiftNIO code to Java :)

[2020-07-06 11:37] hyperxpro commented on #10385
Will we be writing our own Pcap Writer or some third party library?

[2020-07-06 11:39] devesh-shetty commented on #10385
Thanks @normanmaurer - will ask questions if I'm puzzled about something.

[2020-07-06 11:41] normanmaurer commented on #10385
@hyperxpro I think we can write our own... Looking at the SwiftNIO code it seems like this shouldn't be too much work for our use-case.

[2020-07-06 12:28] #10390 closed

[2020-07-06 15:57] normanmaurer commented on #10351
@ffiredom also we love PRs

[2020-07-07 07:28] nongchangzhu opened #10393 "After using this LengthFieldBasedFrameDecoder, it leads to Chinese garbled"
### Expected behavior

{"name":"nana","age":"18","counts":"1","counts2":{"lala":"我是中国人"}}

### Actual behavior

{"name":"nana","age":"18","counts":"1","counts2":{"lala":"我是�}

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

//public class Decoder extends ByteToMessageDecoder {
public class Decoder extends LengthFieldBasedFrameDecoder {

	private int HEADER_SIZE =

[2020-07-07 09:23] hcl78184889 opened #10394 "The number of TCP connections is increasing."
![85951174-f336b000-b993-11ea-9a42-ff0b0f7c90f0](https://user-images.githubusercontent.com/6574953/86758956-cad74180-c076-11ea-9a53-fe929f4ad0a3.png)

When using a sample Webclient to retrive a remote restful API, the number of TCP connections is not increasing unless restart.

Netty 4.1.50

java 1.8

centos 6.9

[2020-07-07 09:25] normanmaurer commented on #10394
sorry but you will need to provide more details to receive help.

[2020-07-07 09:32] hcl78184889 commented on #10394
When using spring cloud gateway, it happens. I think this bug's root cause is not Gateway, when using a sample Webclient to retrive a remote restful API, this happens.

The dependency netty version is 4.1.50

The test code:

@RestController
@Slf4j
public class WebClientController {

    @Autowired
    private WebClient.Builder webClientBuilder;

    @PostMapping(value = "/wb")
    public Mono<Stri

[2020-07-07 09:36] normanmaurer commented on #10394
You will need to provide a reproducer if you think there is any issue... Without this we really can't help. Also keep in mind that Netty itself mostly provide codecs everything else is handled by the user of Netty.

[2020-07-07 09:39] hcl78184889 commented on #10394
OK, thanks

[2020-07-07 09:41] violetagg commented on #10394
@hcl78184889 Please update Reactor Netty to version 0.9.9.RELEASE there was a regression related to opened FDs.
Spring Gateway and WebClient do not use Netty directly.

[2020-07-07 09:43] hcl78184889 commented on #10394
OK,thinks

[2020-07-07 10:06] normanmaurer commented on #10394
let me close this one then

[2020-07-07 10:06] #10394 closed

[2020-07-07 12:07] zhenjunMa commented on #10393
[code]

[2020-07-08 01:22] nongchangzhu commented on #10393
even if this "StandardCharsets.UTF_8" is added, it is still garbled，

I have tested it and it is related to this line of code: "in = (ByteBuf) super.decode(ctx,in)"

[2020-07-08 01:29] nongchangzhu commented on #10393
even if this "StandardCharsets.UTF_8" is added, it is still garbled，

I have tested it and it is related to this line of code: "in = (ByteBuf) super.decode(ctx,in)"

[2020-07-08 05:57] #10393 closed

[2020-07-09 14:50] floating-cat opened #10397 "Possible memory leak in ReferenceCountedOpenSslClientContext#ExtendedTrustManagerVerifyCallback"
I have a netty app, and I saw memory increased slowly when running. Then I dumped that app and found there is 2700+ `ReferenceCountedOpenSslClientContext#ExtendedTrustManagerVerifyCallback` instances in my app. The instances of this class increase gradually.

![2020-07-09_22-24](https://user-images.githubusercontent.com/6748077/87052084-facb4400-c232-11ea-9bd0-a42b91d7b9f0.png)

This line https://

[2020-07-10 03:17] YW767486516 opened #10398 "milo-netty-wheel-timer Question"
Hi,
When I use JCONSOLE to check the thread, I find that the waiting number of milo-netty-wheel-timer has been increasing, and the speed is very fast. Could it affect my program?

`Name: milo-netty-wheel-timer
Status: TIMED_WAITING
Total blocked: 0, total waited: 913,277,651

Stack trace:
java.base@11.0.4/java.lang.Thread.sleep(Native Method)
app//io.netty.util.HashedWheelTimer$Worker.waitForNextT

[2020-07-10 09:01] normanmaurer commented on #10397
That is expected... You are using `SslProvider.OPENSSL_REFCNT` which means you are responsible for calling `release()` once you don't need the `ReferenceCountedOpenSslContext` anymore. Most of the times people want to use `SslProvider.OPENSSL` and let the finaliser clean up stuff later on.

That said there is also another thing you should fix. Usually you should build one `SslContext` object and r

[2020-07-10 09:01] #10397 closed

[2020-07-10 09:02] normanmaurer commented on #10398
Please provide more details on who is creating the timer + a reproducer

[2020-07-10 09:22] YW767486516 commented on #10398
`import io.netty.channel.Channel;
import io.netty.channel.ChannelDuplexHandler;
import io.netty.channel.ChannelHandlerContext;
import org.springframework.web.bind.annotation.ControllerAdvice;
import org.springframework.web.bind.annotation.ResponseBody;

@ControllerAdvice
@ResponseBody
public class OpcUaException extends ChannelDuplexHandler {

    @Override
    public void exceptionCaught(ChannelH

[2020-07-10 09:31] YW767486516 commented on #10398
I searched the code, only netty is directly referenced here. After I commented the code, the problem also exists.

[2020-07-10 09:43] YW767486516 commented on #10398
`    public UaStackClientConfig build() {
        Preconditions.checkNotNull(endpoint, "endpoint must be non-null");

        if (executor == null) {
            executor = Stack.sharedExecutor();
        }
        if (eventLoop == null) {
            eventLoop = Stack.sharedEventLoop();
        }
        if (wheelTimer == null) {
            **wheelTimer = Stack.sharedWheelTimer();**
        }

[2020-07-10 10:22] normanmaurer commented on #10398
I am really not sure what you are asking about here... So `HashedWheelTimer` will basically block for some amount of time and then process the next slot of the wheel. This will be done in an endless loop so its expected that you have wait time.

[2020-07-10 14:29] floating-cat commented on #10397
I saw the below documentation in the `SslContext` source code so I misunderstood that I don't need to release anything manually:

[code]

Really thanks for the reply and that `SslContext` reuse tip.

[2020-07-12 19:16] praveens4all commented on #10347
@hyperxpro
please advise even I have added separate thread pool for business logic.. Netty i/o thread waiting for thread to finish process and not running parallel.. Running sequential.. Slow response time..

If I look at my thread pool different thread number serving for different msg but sequential order not running parallel..

Sample code
@ChannelHandler.Sharable
@Component
@Slf4j
public class

[2020-07-12 19:43] hyperxpro commented on #10347
Haha, looks cute.

`Future#get` is a blocking call so you're blocking Netty there.

Use this:
[code]

[2020-07-13 16:36] praveens4all commented on #10347
Thank you Very much @hyperxpro
lot  of improvement with performance. i can see 32 (messages per second) compare to 15 (messages per second) earlier with 100 thread pool even i made 150 threads count no difference..seems netty boss single thread (i/o) supports maximum..is there any other place i can change to improve...my expectation is 50 messages per second.

[2020-07-13 16:39] hyperxpro commented on #10347
Without looking at code and understanding what you doing, it's impossible for me to suggest something.

[2020-07-13 16:40] praveens4all commented on #10347
business logic I am calling third party service for appending response ( which is taking 0.40 milliseconds)..not much logic just passing request for service and appending response.

[2020-07-13 16:43] hyperxpro commented on #10347
Boss Threads: NUMBER OF CPU THREADS / 2
Worker Threads: NUMBER OF CPU THREADS x 2

[2020-07-13 16:44] praveens4all commented on #10347
my current config,
bossGroup = new EpollEventLoopGroup(4, Executors.newCachedThreadPool());
  workerGroup = new EpollEventLoopGroup(12, Executors.newCachedThreadPool());

[2020-07-13 16:45] hyperxpro commented on #10347
bossGroup = new EpollEventLoopGroup(4);
workerGroup = new EpollEventLoopGroup(12);

[2020-07-13 16:46] hyperxpro commented on #10347
Try this:
bossGroup = new EpollEventLoopGroup(4);
workerGroup = new EpollEventLoopGroup(12);

[2020-07-13 16:49] praveens4all commented on #10347
still same single boss thread doing read/write..

as per netty documentation listening port tightly couple with boss thread..am listening 8080 port so single thread serving even though 4 boss threads created

https://netty.io/wiki/new-and-noteworthy-in-5.0.html

In Netty 4.x each EventLoop is tightly coupled with a fixed thread that executes all I/O events of its registered Channels and any tasks

[2020-07-13 16:53] hyperxpro commented on #10347
What do you mean by 32 messages per second? Is Netty only receiving 32 HTTP messages per second?

[2020-07-13 16:57] praveens4all commented on #10347
I am using dynatrace to monitor TPS (transactions per second) - its TCP messages processing 32 per second.

[2020-07-13 16:59] hyperxpro commented on #10347
You have a problem with your code. Netty is doing its job as expected.

[2020-07-13 17:00] hyperxpro commented on #10347
Maybe I can help if you contact me via email because I don't feel this is the right place to discuss about something which is not a Netty issue.

[2020-07-13 17:02] praveens4all commented on #10347
sure, please provide me email. Thanks.

[2020-07-13 17:02] #10347 closed

[2020-07-13 17:02] hyperxpro commented on #10347
Check my profile.

[2020-07-13 23:32] benjaminp opened #10402 "binding an ipv6 address on an epoll channel when ipv6 is disabled "succeeds""
### Expected behavior
Trying to bind an IPv6 address if IPv6 is disable on the system should fail.

### Actual behavior

The program silently binds the wrong port.

### Steps to reproduce

Run the code below after `sysctl net.ipv6.conf.all.disable_ipv6=0`. When nio is used, the program fails with an expected exception:
[code]
When epoll is enabled, the program binds IPv4 `0.0.0.1`!

### Minimal ye

[2020-07-13 23:41] andrericos commented on #5796
It has already been fixed in #10111 , hasn't it?

[2020-07-14 00:54] murad-mirzabalaev commented on #7319
**Env**:

OS: `CentOS Linux release 7.7.1908 (Core)`

[code]
**ClassPath**:
[code]
**Stacktrace**: fragment of zookeeper log

[code]

[code]

[2020-07-14 03:13] idelpivnitskiy commented on #5796
Yep, #10111 fixed this issue. Now decoder stops with `TooLongFrameException`. Thanks, @andrericos!

[2020-07-14 03:13] #5796 closed

[2020-07-14 05:59] normanmaurer commented on #10402
This sounds unexpected... I will try to have a look soon. That said if you have time and want to contribute I am happy to review a PR as well

[2020-07-14 17:47] shashanka981 opened #10404 "io.netty.ByteBuf writeBytes(java.nio.ByteBuffer src) APIclarification"
This is a question, not an issue

I wanted to know how many memory copies are involved in the below writeBytes API from io.netty.buffer.ByteBuf Interface. Will the data gets copied to an intermediate byte array before getting transferred to Bytebuf ? or will the data directly gets copied from backing array of nio.ByteBuffer to ByteBuf ? or will it depend on type of nio.ByteBuffer supplied or type

[2020-07-14 18:05] normanmaurer commented on #10404
@shashanka981 it totally depends on the implementation. That said we try to reduce the number of memory copies as much as possible in Netty.

[2020-07-14 18:05] #10404 closed

[2020-07-14 18:06] normanmaurer commented on #10353
@jwils I see... is the code OSS by any chance and so I could have a look ?

[2020-07-14 18:07] normanmaurer commented on #10350
@kaladhar-mummadi are you interested in providing a PR with a tentative fix ?

[2020-07-14 18:08] jwils commented on #10353
Unfortunately it's not and it's a tangled mess. I haven't reproduced it in sharable code. Can you clarify though, the expected behavior is that a flush will happen after the writes regardless of what thread calls them? I can spend some more time trying to reproduce.

[2020-07-14 18:10] kaladhar-mummadi commented on #10350
@normanmaurer I was trying to make sure this is a bug in the first place.
Also interested in discussing possible solutions..

[2020-07-14 18:13] normanmaurer commented on #10353
@jwils if the method returns before you call the other this is general speaking true. There is one possible gotcha here... Even if you call a method from outside the `EventLoop` but you are currently call another method in the `EventLoop` then the method call done within the `EventLoop` will happen first.

[2020-07-15 06:33] github-big-cheng opened #10406 "Netty Client"
I create this project(https://github.com/github-big-cheng/netty-protostuff.git) when I learning Netty,
I want to code a utility class NettyClient, it can work for http, rpc with a few config,
it will build a pool with org.apache.commons.commons-pool2 when accecpt a  new group of host and port,
but when i using a threadPool with 10 threads to run it, it does not work well.
I think it's my misuse to

[2020-07-15 08:16] hyperxpro commented on #10406
Why are you using Netty `5.0.0.Alpha2`?

[2020-07-15 08:53] paul-lysak commented on #6285
@normanmaurer - Are there any plans to get MQTT v5 support eventually? The spec is officially released more than a year ago and is being widely adopted (https://en.wikipedia.org/wiki/Comparison_of_MQTT_implementations#Protocol_support).
I can pick where @andsel  has left and do the changes to meet your standards. Should I create a new issue to track it or you can re-open this one?

One thing I was

[2020-07-15 09:44] github-big-cheng commented on #10406
It's that version unstable? which version should I take? I'm new to learn Netty, and hope to use it in my work usefully

[2020-07-15 09:50] normanmaurer commented on #10406
4.1.51.Final...

[2020-07-15 09:51] github-big-cheng commented on #10406
I will try it, thanks a lot~

[2020-07-15 12:46] amizurov commented on #10406
@github-big-cheng Hi one of the more likely reasons you didn’t add it to the pipeline. This is code `client.channel.pipeline().get(NettyClientByteBufHandler.class)` will try to found any handler which is represented by `NettyClientByteBufHandler.class` otherwise return `null`.

[2020-07-15 14:46] meteorcloudy commented on #10402
@normanmaurer
I tried to work around this in Bazel by checking `NetUtil.isIpV4StackPreferred()` as suggested by @benjaminp , but it didn't work for me. It still returned `false` in my docker container where ipv6 is disabled (net.ipv6.conf.all.disable_ipv6 = 1).

Is there any other way to check ipv6 availability in netty?

[2020-07-15 15:29] doom369 commented on #10281
@amizurov could you please make PR, I'm not sure I got the idea.

[2020-07-15 18:42] meteorcloudy commented on #10402
`io.netty.channel.unix.Socket.isIPv6Preferred()` returned `true` in a docker container where `net.ipv6.conf.all.disable_ipv6 = 1`, maybe this implies the issue is in the JNI library?

[2020-07-15 18:53] meteorcloudy commented on #10402
Looks like related issue is https://github.com/netty/netty/issues/7021

[2020-07-15 19:07] tmsimont commented on #9673
Out of curiosity, what motivated the revert for this? I see "more thoughts" are cited but why? To me it seemed like the argument in this commit message was pretty compelling https://github.com/netty/netty/commit/19a46338595beba0ae3854a6346ec6f2ec73a0b9

For context, I ran into this bug when performing a minor upgrade, too.

[2020-07-15 19:33] #3910 closed

[2020-07-15 19:55] jwils commented on #10353
Okay that is was I assumed. Just checking based on @aikar's comment.

I am not able to reproduce and the app has many querks so I am not sure what pipeline config causes the issue. I can try next week to see if I can recreate

[2020-07-16 01:18] github-big-cheng commented on #10406
I had added to a `new NettyClientByteBufHandler()` pipeline already...

`
        this.bootstrap = new Bootstrap();
        this.bootstrap.group(WORKER_GROUP)
                    .channel(NioSocketChannel.class)
                    .option(ChannelOption.SO_KEEPALIVE, true)
                    .option(ChannelOption.CONNECT_TIMEOUT_MILLIS, 3000)
                    .handler(new ChannelInitializer()

[2020-07-16 01:47] github-big-cheng commented on #10406
I generate a new `NettyClientPool` (it created by commons-pool2) when accept a new group of host,port and handlers,when a same sign `NettyConfig` accept,
the `NettyConfig` is like this:
`String host;`
`int port;`
`ChannelHandler[] handlers;`
`public int hashCode(){return host+port+handlers;}`
my `NettyCLientPool` will return a `NettyClient` for net work, and `NettyClient`  is about work like this:

[2020-07-16 10:07] normanmaurer commented on #10402
@meteorcloudy @benjaminp I can't reproduce this with latest 4.1 release in a vm (I am using parallels) after running `sudo sysctl net.ipv6.conf.all.disable_ipv6=1`

It fails with:

[code]

Which I think is what you are after. Can you provide a reproducer docker image ?

[2020-07-16 10:21] meteorcloudy commented on #10402
@normanmaurer
The docker image can be found here: https://github.com/bazelbuild/bazel/issues/11756#issuecomment-657722457

I haven't tried to reproduce with the lastet netty release, the version I was using is 4.1.34

[2020-07-16 10:24] meteorcloudy commented on #10402
Just confirmed the issue still exists with 4.1.51

[2020-07-16 10:26] normanmaurer commented on #10402
@meteorcloudy can you provide a docker image that just contains Netty and the test code that fails without bazel etc?

[2020-07-16 10:50] meteorcloudy commented on #10402
You can just login to the docker container and run:
[code]

[2020-07-16 10:52] meteorcloudy commented on #10402
[code]

[2020-07-16 15:31] tmsimont commented on #9673
This feels more wrong the more I look into it.

The current state, in which the bug fix is reverted, sets the Origin header to the target `webSocketURL`

That is flat out wrong.

`HTTP Origin`
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin

`webSocketURL`

It seems that the bug was introduced to hack in a fix for CORS requests. The hack was a breaking change that truly makes no s

[2020-07-16 17:47] normanmaurer commented on #10402
I had no time to dig further into this today... Will try to pick up tomorrow again

[2020-07-16 19:53] Bennett-Lynch opened #10411 "Epoll client channel throws NotYetConnectedException on connect failure"
I am observing a intermittent failure case where a client using the `EpollSocketChannel` transport will have a `NotYetConnectedException` raised on its pipeline as part of a connection attempt failing.

### Expected behavior

Connection failures will result in the `connect()` future failing and not invoke any handlers in the channel pipeline.

### Actual behavior

`NotYetConnectedException` is som

[2020-07-17 02:35] skyguard1 opened #10413 "io.netty.handler.ssl.Conscrypt.isConscryptEngine(SSLEngine engine) may throw the NullPointerException"
### Expected behavior
not throw the NullPointerException
### Actual behavior
may throw the NullPointerException
### Steps to reproduce
  In io.netty.handler.ssl.Conscrypt.loadIsConscryptEngine(),there is the code which try to get ClassLoader

[code]
  and there is a Method object
  ` private static final Method IS_CONSCRYPT_SSLENGINE = loadIsConscryptEngine();`
  and the io.netty.handler.ssl.Consc

[2020-07-17 05:17] normanmaurer commented on #10413
@skyguard1 as It calls `isAvailable()` before calling this method there is no risk in reality. That said I think an extra `null` check can't hurt for readability and to ensure we not produce a regression at some point. So sure PRs welcome

[2020-07-17 05:35] skyguard1 commented on #10413
Yes, you could do without fixing the problem, but you need to do a non-null check when someone else calls the method,thanks for you apply

[2020-07-17 06:46] farsunset opened #10414 "Shard a great example for use netty"
[https://github.com/farsunset/hoxin-im](https://github.com/farsunset/hoxin-im)

[http://farsunset.com](http://farsunset.com)

[2020-07-17 06:47] #10414 closed

[2020-07-17 07:38] normanmaurer commented on #10402
@benjaminp @meteorcloudy thanks for the reproducer... This should be fixed by https://github.com/netty/netty/pull/10415

[2020-07-17 09:00] mostroverkhov opened #10416 "Http2: writing valid PRIORITY frame fails with misleading error message"
### Expected behavior
* Writing valid PRIORITY frame with `streamDependency=0` succeeds
*  PRIORITY frame validation message contains actual cause of error

### Actual behavior
Writing PRIORITY frame with `streamDependency=0`
[code]

fails with misleading error message

[code]
caused by [DefaultHttp2FrameWriter](https://github.com/netty/netty/blob/28e1fbd366602d8f4b50921afb2c9d5e41b94a2d/codec-htt

[2020-07-17 13:04] astei opened #10417 "ByteToMessageDecoder continues to fire channelRead even though channel is closed"
### Expected behavior

After closing the channel, `ByteToMessageDecoder` stops decoding (or allows me to stop decoding) and no more messages are sent downstream.

### Actual behavior

`ByteToMessageDecoder` continues to decode messages even though the user explicitly closed the channel. This can cause elevated CPU usage in some cases and allows for denial of service.

See SpigotMC/BungeeCord#2908

[2020-07-17 14:54] amizurov commented on #10281
Yes, I'll try to do it next week

[2020-07-17 20:55] ursaj commented on #9673
I agree with @tmsimont .Reasoning like "this needs more thoughts" feels really disappointing. To such extend that I've just lost my passion to discuss or contribute anything.

Adding something or removing something to project is ok. Even if its buggy. But double standards in change management feel disrespectful to contributors.

Just a thought.

[2020-07-17 21:10] normanmaurer commented on #9673
I fully understand and I am really sorry about that. I am currently OOO but will try to pick this up again once back.

[2020-07-17 22:59] tmsimont commented on #9673
Since everyone is busy allow me to review the history here...

It looks like this `Origin` header has had a rough history:
* The ORIGIN used to be totally absent from all but v0 handshake... see https://github.com/netty/netty/commit/16be36a55fded330a92a4869e127b6b7249c6d13#diff-ffbbdb8352c6101b19ebd7c08d125bca
* Initially, the only version of the handshake (`v0`) was allowing custom headers to ove

[2020-07-19 06:09] zhenjunMa commented on #10417
when you close the channel,  the remain data still held by `ByteToMessageDecoder` , it must
call `decode` to let user process the data， if you just want to drop these data, you can see this

[code]

[2020-07-20 07:39] wuhui-coder commented on #8503
thank you, test pass

[2020-07-20 08:46] wuhui-coder commented on #8503
@windyrjc thank you, Linux or MAC may require additional installations, as you can see [https://netty.io/wiki/native-transports.html](url)

[2020-07-20 08:48] wuhui-coder commented on #8503
@windyrjc thank you. Linux or MAC may require additional installations, as you can see [](https://netty.io/wiki/native-transports.html)

[2020-07-20 08:49] wuhui-coder commented on #8503
@windyrjc thank you, Linux or MAC may require additional installations, as you can see [](https://netty.io/wiki/native-transports.html)

[2020-07-20 08:50] wuhui-coder commented on #8503
@windyrjc thank you, Linux or MAC may require additional installations, as you can see [https://netty.io/wiki/native-transports.html](https://netty.io/wiki/native-transports.html)

[2020-07-20 14:04] huchaogithup opened #10419 "Can add a function that Retrieving original destination from iptables after REDIRECT with netty “SO_ORIGINAL_DST ”"
I want to use this as a transparent proxy, where my original plan is to use iptables with a REDIRECT rule forward all connections to my application proxy.

[2020-07-20 16:42] kireet opened #10420 "OutOfMemoryError on Dns Resolution"
I recently upgraded to 4.1.51 to pull in a fix for #10246. However, now I get an OutOfMemory issue that seems related to the same code? We have been running netty for a few months with no OOM issues until now. I plan to downgrade netty back to 4.1.50 for now.

![heap dump](https://user-images.githubusercontent.com/1395755/87963075-04438000-ca6d-11ea-8edd-c76f17c1cf5d.png)

### Expected behavior
dn

[2020-07-20 16:48] normanmaurer commented on #10420
Can you share the heapdump?

[2020-07-20 16:51] kireet commented on #10420
is there a way i could share it privately with you? it's also pretty big, about 1GB bzipped.

[2020-07-20 16:54] normanmaurer commented on #10420
Google drive ? norman.maurer@googlemail.com

[2020-07-20 17:24] kireet commented on #10420
ok, i uploaded it and shared it with you.

[2020-07-21 15:48] xxDark opened #10421 "Netty does not set correct ByteBuffer capacity"
### Expected behavior
Capacities  of NIO buffer and Netty's buffer are the same

### Actual behavior
Capacities are diefferent

### Steps to reproduce
See code snippet below

### Minimal yet complete reproducer code (or URL to code)
[code]

### Netty version
4.1.51.Final

[2020-07-21 16:17] xxDark commented on #10421
See https://github.com/luben/zstd-jni/blob/3d16e515253a0b6941810ab3ee4055201ca9ff54/src/main/native/jni_fast_zstd.c#L468 to understand the use case.

[2020-07-21 22:27] hyperxpro commented on #10419
I did this last year and far as I can remember, Netty was receiving original source and destination IP and Port. I had `EpollChannelOption.IP_TRANSPARENT` enabled.

[2020-07-22 01:06] huchaogithup commented on #10419
I configure this feature whit EpollChannelOption.IP_TRANSPARENT enabled. How do I get it original source and destination IP and Port when  TCP connect？

[2020-07-22 01:10] huchaogithup commented on #10419
there is demo
i```
ptables -t nat -A OUTPUT -p tcp -j REDIRECT  --to-ports 12345
iptables -t nat -A PREROUTING -p tcp -j REDIRECT  --to-ports 12345
[code]

[2020-07-22 02:17] little-pan commented on #10421
According to netty api doc, the method nioBuffer() of ByteBuf only confirms that this NIO buffer content is the readable content of the ByteBuf, doesn't define the capacity of the NIO buffer.

[2020-07-22 22:19] hyperxpro commented on #10419
Not sure but try this command:
[code]

[2020-07-22 22:20] hyperxpro commented on #10419
This will forward traffic received on TCP:443 to 127.0.0.1:9110/TCP using Transparent Proxy.

[2020-07-23 01:33] quaff opened #10423 "DefaultEventExecutorChooserFactory is not strict round-robin if executors length is not power of two"
### Expected behavior
[GenericEventExecutorChooser.next()](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/concurrent/DefaultEventExecutorChooserFactory.java#L70) will act as strict round-robin

### Actual behavior
If idx is reaching Integer.MAX_VALUE, it will turn round

### Steps to reproduce
[code]
[code]

[2020-07-23 02:05] huchaogithup commented on #10419
The problem has been solved. Thank you.but I still hope that netty can adapt a function Retrieving original destination through the DNAT  instead of TPROXY in the future

[2020-07-23 03:22] wuxiansen opened #10424 "HTTP form-data OutOfDirectMemoryError"
### Expected behavior
release buffer

### Actual behavior
no release

[code]

### Steps to reproduce
Netty Main
[code]

HttpServerChannelInitializer.java
[code]

HttpRequestHandler.java
[code]

Request.java
[code]

### Minimal yet complete reproducer code (or URL to code)
AbstractDiskHttpData.java

`ByteBuffer byteBuffer = buffer.nioBufferCount() == 1 ? buffer.nioBuffer() : buffer.copy().nioBuffer

[2020-07-23 07:11] github-big-cheng commented on #10406
May I  found some help here ?...

[2020-07-23 11:13] Zeymo commented on #10424
@wuxiansen Fix by https://github.com/netty/netty/pull/10360

[2020-07-24 08:51] zentol opened #10425 "DIskFileUpload misbehaves if addContent is called multiple times"
### Expected behavior

Calling `DiskFileUpload#addContent()` multiple times appends the contents of the ByteBufs to the file.

Furthermore, the ByteBuf readerIndex is advanced by the number of bytes written.

### Actual behavior

On each call, the content of the ByteBuf is written to the start of the file. This renders the DiskFileUpload unusable for larger files.
The ByteBuf readerindex is not ad

[2020-07-24 17:23] #10421 closed

[2020-07-25 03:06] wuxiansen commented on #10424
👌

[2020-07-25 03:06] #10424 closed

[2020-07-25 09:32] hackeryard opened #10426 "Memory leak when set maxPendingTasks=100"
### Expected behavior
I am writing a simple udp server, and want to limit the reading queue of DefaultEventExecutorGroup which do the time-consuming task, the expected behavior is when I set small maxPendingTasks, like 100, or 1000, and do stress test to send 60,000 qps, the DefaultEventExecutorGroup reject the request, and lead no memory leak.
### Actual behavior
direct memory leak. To debug it,

[2020-07-26 19:06] rpuch commented on #10051
As a work-around: `-Dio.netty.noUnsafe=true` added at run time (that is, if your built application is called `app`, it is `./app -Dio.netty.noUnsafe=true`) seems to solve the problem.

Please note that it compleletely disables the usage of `Unsafe` by Netty. I'm not sure what this means (probably, some performance penalty).

Kudos to @johnou

[2020-07-27 09:08] junhao521 opened #10429 "Send queue backlog causes memory leak"
### Expected behavior
i am writing a simple http proxy server, there is no problem with proxy operations, but when i transfer a big file (like download a 10G file),  will causes OOM
### Actual behavior
i try to debug it and monitor the memory, when download a big file, the proxy-client will constantly write chunk data of the file to proxy-server,  when the proxy-server cannot process the chunk dat

[2020-07-27 15:39] ybjoony opened #10430 "Netty-codec-http 4.1.51 still fails veracode with SID-3108"
### Expected behavior
Pass veracode(thought it was fixed in #10111), but looks like it was not
### Actual behavior
Fails veracode
![image](https://user-images.githubusercontent.com/1686996/88561499-7d0e8300-cffd-11ea-958e-493b31c0a808.png)

### Steps to reproduce
build a project with
     <dependency>
      <groupId>com.azure</groupId>
      <artifactId>azure-security-keyvault-secrets</artifactId>

[2020-07-27 23:42] hyperxpro commented on #10406
Tried with newer version of Netty?

[2020-07-28 01:24] github-big-cheng commented on #10406
umm... I had tried with 4.1.51.Final, 5.0.0.Alpha1,5.0.0.Alpha2
There are some screenshot about it...
Sincerely hope to get some help, all the best wishes!

<img width="600" alt="66ab7a53545bd319a41c8db9ed71751" src="https://user-images.githubusercontent.com/20948229/88608335-1e581080-d0b4-11ea-90cc-8563a5a871fa.png">
<img width="542" alt="3c2dd6db983113037b51c2543992ec2" src="https://user-images.

[2020-07-28 01:29] hyperxpro commented on #10406
Use blocking operation because by the time you fetch it, sometime the value is present and sometimes it's null. So block or use listeners.

[2020-07-28 08:28] lmh1986 opened #10431 "How to configure ALPN On Android Device （Netty Http2 Server）"
background:
We are trying to use the Netty server based on http2 (SSL) to our Android project, and we plan to run the server on the Android device.Use this device as a routing node for other terminals in the LAN. We have implemented ssl in the current situation, but we have encountered problems with the ALPN configuration.

I have referenced a lot of information about Http2 ALPN on google, but alm

[2020-07-28 14:44] hyperxpro commented on #10431
Did you take a look at HTTP/2 Examples?

[2020-07-28 21:08] afernandez opened #10433 "DriftNettyServerConfig with assumeClientsSupportOutOfOrderResponses=false is processing requests out of order"
### Summary
When ```DriftNettyServerConfig``` is configured with ```assumeClientsSupportOutOfOrderResponses = false`` then writing 2 messages should cause polling for the 2nd message to return null instead of an object.

This is causing unit test failures in the Drift project of Presto, see https://github.com/prestodb/drift/issues/15, and happens after changing the Netty version to >= 4.1.38

See

[2020-07-29 01:30] github-big-cheng commented on #10406
It more detail about it?Thanks a lot

[2020-07-29 01:36] lmh1986 commented on #10431
Yes. That's the first things i had done , but when i config the sslcontext and run the server on android device ,i got the alpn issue. I sure that this issue come from Http2ServerInitializer-->configureSsl-->sslCtx.newHandler(ch.alloc()).

I then searched Google for a lot of information about the alpn configuration and how it works on android devices, but I couldn't find anything of value, so I ha

[2020-07-29 08:21] astei commented on #10417
@zhenjunMa We are currently using a variation on this solution but it's not ideal.

[2020-07-29 11:33] hackeryard commented on #10426
Any information is welcome.

[2020-07-29 18:13] Surajsdalvi commented on #10365
Any update on this? how we can fix this issue?

[2020-07-30 06:37] wuxiansen opened #10434 "OutOfDirectMemoryError causes CPU 100% and fd is full"
### Expected behavior
Release connection

### Actual behavior
Always occupy the connection

### Steps to reproduce
see [# 10424](https://github.com/netty/netty/issues/10424) OOM Exception , OOM  in netty 4.1.51.Final Fix，but OOM problem  caused this problem.  Should need to be fixed, because the next OOM will appear again .

### Minimal yet complete reproducer code (or URL to code)

Gave me some t

[2020-07-30 09:30] ninja- commented on #10434
I don't think netty was ever intended to properly recover from OutOfMemoryError...it would be a nice addition but hard to recover from errors in every random place.

[2020-07-30 11:48] ThierrySquirrel opened #10435 "HttpClient Connection Reuse"
### Expected behavior

When httpclient sends a request, the parameter header carries keep alive (httpserver does not close the connection), and then sends requests many times without creating a new connection

### Actual behavior

Httpclient add HttpobjectAggregator cannot receive fullhttpresponse,

Remove HttpObjectAggregator,
Only the first response received HttpResponse（HttpObject ）After that,

[2020-07-30 15:50] mostroverkhov commented on #8011
for @hc-codersatlas and others interested in topic - recently I've experimented with rfc8441, and sharing results on https://github.com/jauntsdn/netty-websocket-http2

[2020-07-30 16:24] mostroverkhov opened #10436 "Http2: server rejects request with valid :protocol pseudo header"
### Expected behavior

Server accepts request  with `:protocol` pseudo header (defined in [RFC8441](https://tools.ietf.org/html/rfc8441#section-4)) , if its initial settings contain SETTINGS_ENABLE_CONNECT_PROTOCOL SETTINGS=1.

### Actual behavior
Request is rejected
[code]
Suboptimal workaround is configuring server's `Http2ConnectionHandler` with `http2Builder.validateHeaders(false)`

### Steps

[2020-07-30 21:30] kireet commented on #10420
does it look like a fix for this will make it into the next release?

[2020-07-30 21:35] morvael opened #10437 "Memory leak"
Can't see my packet/class in the stacktrace, so it must be internal problem of Netty.

# Actual behavior
SEVERE: LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
Created at:
        io.netty.buffer.PooledByteBufAllocator.newDirectBuffer(PooledByteBufAllocator.java:363)

[2020-07-30 22:22] morvael commented on #10437
Perhaps it's my fault.

[2020-07-30 22:22] #10437 closed

[2020-07-31 08:18] slandelle opened #10439 "When available, TLSv1.3 should be enabled by default"
### Expected behavior

TLSv1.3 is enabled as long as long as the SSLEngine supports it.
This is very surprising that Netty actually disables it by default and requires users to explicitly enable it.

### Actual behavior

TLSv1.3 support was introduced almost 2 years ago but was disabled by default in both [JdkSslContext](https://github.com/netty/netty/commit/0ddc62cec0b4715ae37cef0e6a9f8c79d42d74e

[2020-07-31 10:17] Sneezry opened #10440 "JMX support"
I learnt from https://github.com/netty/netty/issues/6523, until 2017, there is no JMX metrics available for Netty.

May I confirm the recent state of metrics? Any update about metrics? If no, is there any plan to support to expose metrics to JMX?

Thanks.

[2020-07-31 12:50] thineagle opened #10441 "ChannelFuture hangs in connect().sync()"
### Expected behavior
when i use connect.sync() , a lot of thread is on wating state
`   java.lang.Thread.State: WAITING (on object monitor)
	at java.lang.Object.wait(Native Method)
	at java.lang.Object.wait(Object.java:502)
	at io.netty.util.concurrent.DefaultPromise.await(DefaultPromise.java:221)
	- locked <0x0000000764482828> (a io.netty.bootstrap.AbstractBootstrap$PendingRegistrationPromise)

[2020-08-01 04:47] FastInvite2k2 commented on #10423
How can it be fixed?

[2020-08-01 07:10] yesheng1112 opened #10446 "Failed to execute goal org.fusesource.hawtjni:maven-hawtjni-plugin:1.14:build (build-native-lib) on project netty-transport-native-kqueue: build failed: org.apache.maven.plugin.MojoExecutionException: ./configure failed with exit code: 1"
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary for Netty 4.1.51.Final:
[INFO]
[INFO] Netty/Dev-Tools .................................... SUCCESS [  0.597 s]
[INFO] Netty .............................................. SUCCESS [  2.460 s]
[INFO] Netty/Common ....................................... SUCCESS [  5.825 s]
[INFO] Netty/Buffer ......

[2020-08-01 08:14] hyperxpro commented on #10441
Can you show us the Netty bootstrap code?

[2020-08-01 08:23] hyperxpro commented on #10446
Show logs

[2020-08-01 08:24] hyperxpro commented on #10431
Show me `SslContextBuilder` code

[2020-08-01 11:15] wagnerluis1982 commented on #10423
There is no perfect solution.

Since Java integers are always unsigned at overflow we have [2147483647, -2147483648, -2147483647], which makes the repetition. If we treat the integer as unsigned we won't have a repetition, but we still will have a skip (that occurs from -1 to 0).

So, if we need a perfect round robin, the only way I can see is to update `idx` atomically with a expression (availabl

[2020-08-01 13:07] thineagle commented on #10441
the code like this

`private static final EventLoopGroup  group = new NioEventLoopGroup(17);
private Channel channel = null;

private void start() throws Exception {

		Bootstrap b = new Bootstrap();
		b.group(group)
		.channel(NioSocketChannel.class)
		.option(ChannelOption.TCP_NODELAY, true)
		.option(ChannelOption.SO_KEEPALIVE, true)
		.handler(new ChannelInitializer<SocketChannel>() {

			@Ove

[2020-08-01 13:10] thineagle commented on #10441
``private static final EventLoopGroup  group = new NioEventLoopGroup(17);

private void start() throws Exception {
		Bootstrap b = new Bootstrap();
		b.group(group)
		.channel(NioSocketChannel.class)
		.option(ChannelOption.TCP_NODELAY, true)
		.option(ChannelOption.SO_KEEPALIVE, true)
		.handler(new ChannelInitializer<SocketChannel>() {

			@Override
			protected void initChannel(SocketChannel ch

[2020-08-01 13:11] thineagle commented on #10441
`	private void start() throws Exception {

		Bootstrap b = new Bootstrap();
		b.group(group)
		.channel(NioSocketChannel.class)
		.option(ChannelOption.TCP_NODELAY, true)
		.option(ChannelOption.SO_KEEPALIVE, true)
		.handler(new ChannelInitializer<SocketChannel>() {

			@Override
			protected void initChannel(SocketChannel ch) throws Exception {

				if (handlers != null && handlers.length > 0) {

[2020-08-01 19:26] hyperxpro commented on #10441
Looks like there is a problem with the remote host. Did you checked remote host?

[2020-08-02 02:32] thineagle commented on #10441
the remote host is normal.
and if the remote host is down, we can not connect the remote host, default 63s second should have a exception ， but the thread is hangs forever.  connect().sync will create a new thread to notify  the connect thread the connected state . what condition will lead the notify thread can not work?

[2020-08-02 03:22] kojilin opened #10447 "DnsNameResolver may have LEAK ByteBuf after cancelling the returned future"
### Expected behavior
Without LEAK log.

### Actual behavior

[code]

### Steps to reproduce

[code]

Will have LEAK log after GC.run or wait a while.

### Minimal yet complete reproducer code (or URL to code)

As Above.

### Netty version

`4.1.50.Final`

### JVM version (e.g. `java -version`)

[code]

### OS version (e.g. `uname -a`)

[code]
and a little different log but also have same result i

[2020-08-02 03:26] kojilin commented on #10447
Should release when resolveContext can't propagate the result to the caller?

no dot ended query will go through below line
https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/DnsResolveContext.java#L219

both dot ended and no dot ended will have this line in the stacktrace.
https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dn

[2020-08-02 04:00] lmh1986 commented on #10431
Hi hyperxpro, this is SslContextBuilder's code and it also refer from HTTP/2 Examples.
![image](https://user-images.githubusercontent.com/4550759/89115101-c572e880-d4b6-11ea-9462-ffd5abbaa806.png)

and once i use following code to configure ssl , ALPN exceptions must appear.
![image](https://user-images.githubusercontent.com/4550759/89115124-f0f5d300-d4b6-11ea-965b-81f8da794f66.png)

I have no ide

[2020-08-02 05:15] danielflower opened #10449 "FileUpload.get() created by a HttpPostMultipartRequestDecoder returns incomplete array on 4.1.51"
### Expected behavior

UploadFile.get() should return the full byte array uploaded.

### Actual behavior

It appears that although `fileUpload.length()` returns the correct value, the byte array from `get()` returns only a partial array.

### Steps to reproduce

Create a `HttpPostMultipartRequestDecoder` and call offer at least twice with some request form data. The test below passes on 4.1.50 but

[2020-08-02 07:41] thineagle commented on #10441
i found that,  if the client NioEventLoopGroup's some thread is running forever, the connect somtimes will hangs forever.  how the nio group thread selected?  have any suggestion to avoid this ?

[2020-08-02 16:44] normanmaurer commented on #10439
@slandelle I think you are right and we should enable it by default these days depending on if it is enabled by default for the JDK implementation as well. I will have a look next week or if you want you can also take a stab @slandelle

[2020-08-02 16:45] normanmaurer commented on #10436
@ejona86 @bryce-anderson @carl-mastrangelo @slandelle  can you have a look ?

[2020-08-02 16:46] normanmaurer commented on #10420
@kireet I will have a look next week as I was out for vacation

[2020-08-03 01:09] quaff commented on #10423
Here is my solution, please review.
[code]

[2020-08-03 02:37] wuxiansen commented on #10434
yeah, recovering from OutOfMemoryError is a bit difficult

netty will creates a new receive buffer to read all inbound data .

[2020-08-03 03:19] wuxiansen commented on #10434
yeah,  recovery from Outofmemoryerror is difficult.

I've only found out that "AbstractNioByteChannel.java#read" OutOfMemoryError causes the pipeline read event to be blocked. If many requests are in the request, many scokets will be occupied(socket).
[code]

In each channel read implementation, netty creates a new receive buffer to read all inbound data when it enters the read event, in this case

[2020-08-03 05:58] #10447 closed

[2020-08-03 09:08] fredericBregier commented on #10449
@normanmaurer Might it be linked to recent changes, such as in https://github.com/netty/netty/blob/c4754cf7b890e7169b2438567fa2f881728715ed/codec-http/src/main/java/io/netty/handler/codec/http/multipart/AbstractDiskHttpData.java#L167

I saw a few days ago a remark on the possibility that this call might not write all buffer to filechannel (not getting the real number of bytes written) and that the

[2020-08-03 09:25] fredericBregier commented on #10425
@normanmaurer It might be the root cause of bad behavior in reading (get()) later on.
But I believe that the proposal is not enough: one might need to do a `while loop` around the two added lines in order to ensure all the buffer is written (and therefore size will be coherent). Something like:

      -                buffer.getBytes(buffer.readerIndex(), fileChannel, fileChannel.position(), local

[2020-08-03 12:06] hyperxpro opened #10452 "Netty Webpage Fault [Not Code]"
[Netty Adopters](https://netty.io/wiki/adopters.html) page has an `EpollServer` example in the bottom which I should not be there as per my knowledge.

Screenshot attached.

![Netty](https://user-images.githubusercontent.com/24762260/89180546-9c824e80-d5af-11ea-8573-705881b9d958.png)

[2020-08-03 12:06] hyperxpro commented on #10452
@normanmaurer Please have a look

[2020-08-03 17:49] #10051 closed

[2020-08-03 21:33] carl-mastrangelo commented on #10436
This might be reasonable to support with the Http2ConnectionHandler, but not from the Multiplex handler.    Netty /is/ compliant with [RFC 7540](https://tools.ietf.org/html/rfc7540#section-8.1.2.1)  which states:

[2020-08-03 21:52] ejona86 commented on #10436
It looks like the problem is that Netty does not support RFC 8441 for bootstrapping websockets. This [code in the sample](https://github.com/jauntsdn/netty-websocket-http2/blob/c7f9799608f9cb29fef93a2f6b5252cb8a2b6192/netty-websocket-http2/src/main/java/com/jauntsdn/netty/handler/codec/http2/websocketx/Http2WebSocketServerHandler.java#L64-L66) is invalid:

[code]

When you send SETTINGS_ENABLE_CON

[2020-08-04 01:27] afernandez commented on #10433
Hi, @trustin ,  @normanmaurer , just checking if this was on your radar to see if it's indeed a bug and introduced in v. 4.1.38. Thank you

[2020-08-04 07:23] amizurov commented on #10277
Hi, guys added some related links according this discussion

- #4528 (i think this is first mention about problem)

- https://github.com/spring-cloud/spring-cloud-gateway/issues/1884 (similar to our case)

[2020-08-04 09:37] amizurov commented on #10446
Hi, @yesheng1112 check that you installed `brew install autoconf automake libtool`

[2020-08-04 12:13] mostroverkhov commented on #10436
It is valid as soon as channel pipeline contains rfc8441 websocket-over-http2 handlers. Repository linked in the issue implements rfc8441, and having parameter SETTINGS_ENABLE_CONNECT_PROTOCOL SETTINGS=1 is required by that spec for server to advertise websocket-over-http2 support.

In this particular case system *does* understand `:protocol` because It is an [implementation](https://github.com/ja

[2020-08-04 15:03] ejona86 commented on #10436
No, it is not. Because RFC 8441 also requires accepting the `:protocol` header, which the code does not do.

The "system" includes HpackDecoder, which obviously does _not_ support RFC 8441.

This isn't a case of "I made Netty support RFC 8441" but rather "I want to make Netty support RFC 8441." This is a feature request to figure out how Netty can allow supporting RFC 8441.

That's actually _requi

[2020-08-04 19:58] amizurov commented on #10449
Hi, guys could you please check fix.

[2020-08-05 01:02] LifeIsStrange commented on #8552
Any update? HTTP3 is going to be released :/

[2020-08-05 04:12] #10441 closed

[2020-08-05 06:28] pveentjer commented on #7748
Can the classes RingBuffer/Event etc be made public? So that these classes can be used without using the rest of the Netty infrastructure.

[2020-08-05 21:35] Bennett-Lynch commented on #10452
All netty.io/wiki pages apparently:

https://netty.io/wiki/writing-a-commit-message.html

[2020-08-05 21:39] hyperxpro commented on #10452
Yeah, I know that. But I found `EpollServer` example at
![Screenshot (103)](https://user-images.githubusercontent.com/24762260/89466882-3dc8fa80-d792-11ea-8f0a-4517ee655f73.png)
 the bottom of https://netty.io/wiki/writing-a-commit-message.html also. Interesting,

[2020-08-05 21:43] hyperxpro commented on #10452
It looks like `EpollServer` example is pretty much everywhere on the website at the bottom.

[2020-08-05 21:45] Bennett-Lynch commented on #10452
Whatever is generating the HTML content for `<div id="wiki-footer" class="mt-5 mb-0 wiki-footer gollum-markdown-content">` is including it somehow.

[2020-08-05 21:49] hyperxpro commented on #10452
I checked Revisions of Wiki pages and looks like someone added it for no reason. Maybe we should put restrictions on who can edit Wiki pages.

[2020-08-06 03:44] LosAngelesHK opened #10455 "SCTP channel issue in RHEL 8.2"
![SCTP-Packet-Trace](https://user-images.githubusercontent.com/13230148/89488931-dcc61480-d7db-11ea-82d1-8c038f032c7a.jpg)
### Expected behavior
When the SCTP connection is established successfully, channelRegistered() method and channelActive() method of channel inbound handler should be invoked in the SCTP server application.

### Actual behavior
When the SCTP connection is established successfu

[2020-08-07 11:53] #10449 closed

[2020-08-07 13:01] kamalthakur1 opened #10458 "export keying material from tls connection"
### Problem Statement

I am trying to export the shared keying material that is established during the creation of a TLS connection between the two endpoints.
OpenSSL has the functions SSL_export_keying_material() and SSL_export_keying_material_early() which enable an application to use some of this keying material for its own purposes in accordance with RFC5705 (for TLSv1.2 and below) or RFC8446

[2020-08-07 13:05] normanmaurer commented on #10458
We only have `SslMasterKeyHandler` but I am not sure if this is what you are looking for.

[2020-08-08 03:13] trajano commented on #6891
This appears when using GRPC which uses Netty as well.  As noted by @ejona86  https://github.com/grpc/grpc-java/issues/6692

[2020-08-08 11:36] fredericBregier commented on #10425
Probably to be closed since #10449 #10453

[2020-08-09 10:28] violetagg opened #10460 "Specified EventLoop in DnsNameResolverBuilder is not used at runtime"
### Expected behavior
Specified `EventLoop` in `DnsNameResolverBuilder` is used at runtime

### Actual behavior
Specified `EventLoop` in `DnsNameResolverBuilder` is NOT used at runtime

### Steps to reproduce
Scenario 1. Run the provided example below, you will see that the resolver and the client use one and the same `EventLoop`
Scenario 2. Run the provided example below with `-DuseKQueue` and kq

[2020-08-10 07:17] normanmaurer commented on #10440
You are right hat there is nothing shipped as part of netty. That said you can add such instrumentation easily by yourself for most parts. Like adding a `ChannelHandler` that publish metrics etc

[2020-08-10 07:17] #10440 closed

[2020-08-10 07:18] normanmaurer commented on #10458
@kamalthakur1 that said we love contributions. So if you feel a strong need for this feature consider providing a PR

[2020-08-10 07:18] #10458 closed

[2020-08-10 07:19] normanmaurer commented on #10446
Please do what @amizurov said and if the issue still exists re-open with more details

[2020-08-10 07:19] #10446 closed

[2020-08-10 07:20] normanmaurer commented on #10435
Sorry but I done get what you try to say... Also netty only decodes / encodes. All the other logic is in your usage.

[2020-08-10 07:20] normanmaurer commented on #10433
I will have a look this week. So yes on my radar

[2020-08-10 07:21] normanmaurer commented on #10431
Sorry I have no idea about android... maybe @ejona86 knows ?

[2020-08-10 07:23] normanmaurer commented on #10426
Will have a look

[2020-08-10 07:39] normanmaurer commented on #10420
@kireet is this somehow easy for you to reproduce ?

[2020-08-10 07:56] #10425 closed

[2020-08-10 08:01] ThierrySquirrel commented on #10435
OK, I see. Thank you for your help

[2020-08-10 08:25] #10435 closed

[2020-08-10 08:41] c-s-t-z opened #10461 "OOM problem using PooledByteBufAllocator.DEFAULT.heapBuffer"
I have used the ByteBuf object (using PooledByteBufAllocator.DEFAULT.heapBuffer to apply in the A thread) and released it (released in thread B), but this situation still occurs;I checked some information on the Internet, saying that there are cross-line applications/releases that cause memory leaks, but there are different opinions on the Internet; I want to get help from @normanmaurer;what is th

[2020-08-10 08:54] paplorinc commented on #10449
This affected us as well (is still working properly with `4.1.50.Final`), when can we expect `4.1.52.Final`?

[2020-08-10 09:13] normanmaurer commented on #10449
@paplorinc I think next week

[2020-08-10 09:58] paplorinc commented on #10449
Thanks @normanmaurer

[2020-08-10 12:05] normanmaurer commented on #10439
Fixed https://github.com/netty/netty/pull/10451

[2020-08-10 12:05] #10439 closed

[2020-08-10 13:37] ursaj opened #10464 "Broken FlowControlHandler when auto-read is disabled (caused by #10326)"
### Expected behavior (v.4.1.44)

In my handler:

    ctx.read()
        readComplete(ctx) // when no messages in network
            ctx.read() // multiple messages arrived simultaneously
                channelRead(ctx, msg) // single message
                // no more calls for channelRead or readComplete

### Expected behavior (v.4.1.51+)

In my handler:

    ctx.read()
        readComplete(ct

[2020-08-10 14:02] normanmaurer commented on #10464
@ursaj so do you say that this is a regression?

[2020-08-10 14:29] #10402 closed

[2020-08-10 14:38] normanmaurer commented on #10426
@hackeryard can you also log the stack of when it is rejected ?

[2020-08-10 14:48] ejona86 commented on #10431
Jetty's ALPN boot is only for OpenJDK; it isn't possible to use it on Android (there is no `-Xbootclasspath`). Using it compile-time does nothing; it is supposed to be used at runtime.

Android uses Conscrypt. But there's three different Conscrypt instances: the one provided as part of the OS (on non-ancient devices), the one provided by Google Play Services Dynamic Security Provider (and thus sho

[2020-08-10 14:51] normanmaurer commented on #10455
@LosAngelesHK can you also reproduce this with prior JDK versions ?

[2020-08-10 14:51] normanmaurer commented on #10436
@ejona86 @mostroverkhov so I am a bit lost here... what do you propose to moving forward here ?

[2020-08-10 15:09] ejona86 commented on #10436
Netty probably needs direct support of the `:protocol` header. It is unclear whether we have an option to enable that support or whether we do it implicitly based on the SETTINGS.

[2020-08-10 21:35] ursaj commented on #10464
exactly

[2020-08-10 22:15] hackeryard commented on #10426
@normanmaurer Thanks for reply. I overrive the reject handler of DefaultEventExecutorGroup, so there is no log, but netty report the direct memory leak problem between the task is rejected.

Here is reject handler:
[code]

Here is netty leak detector:
[code]

[2020-08-10 22:17] kireet commented on #10420
we reverted back to the previous netty version that produces tons of logs. i assume they are related, but i can't reproduce either issue reliably. the logs problem only happens every 2-3 weeks on a quite busy server. 😕

i checked the host (ns2.bitgest.es) from the heap dump and doing a resolve on it doesn't seem to trigger any problems.

[2020-08-11 02:38] lmh1986 commented on #10431
@ejona86

Thanks for your important answer. I believe this information will be of great help to my problems which I have meet. At this moment,I had took the alternative and switch to the HTTP1.1 scenario for the time being. Once I finish the urgent matters at hand, I will go back to study using Conscrypt to realize ALPN scheme according to the information you provided. Thanks again for your help !

[2020-08-11 05:18] normanmaurer commented on #10464
@ursaj got it... sounds like we better revert this one. thanks for the report

[2020-08-11 05:29] normanmaurer commented on #10420
@kireet yeah I was not able to reproduce it as well. I will continue to debug and see if I somehow can. That said I think I will revert the Stackoverflow "fix" for now as it seems that the real reason is not really fixed which at the end then cause an OOME as we not overflow now anymore. Agree ?

[2020-08-11 05:31] normanmaurer commented on #10420
@kireet also one more question... you don't use a custom `*Cache` for the resolver, right ?

[2020-08-11 05:56] LosAngelesHK commented on #10455
Yes, JDK 8 and JDK 11 also have the same issue and behaviour

[2020-08-11 06:08] c-s-t-z commented on #10461
I did not find the LEAK keyword in the log; there is no breakthrough now. For this problem, I hope to get help, thank you very much

[2020-08-11 06:44] normanmaurer commented on #10431
I think we can close this for now

[2020-08-11 06:44] #10431 closed

[2020-08-11 06:50] normanmaurer commented on #10461
Please upgrade your netty version first... The version you are using is years old...

[2020-08-11 06:55] #10464 closed

[2020-08-11 07:10] normanmaurer commented on #10464
Done...

[2020-08-11 07:37] normanmaurer commented on #10455
@LosAngelesHK did you verify that it works with "stock" JDK implementation ? We basically just delegate to the JDK implementation

[2020-08-11 07:39] normanmaurer commented on #10423
@chrisvest can you have a look please ?

[2020-08-11 07:40] normanmaurer commented on #10417
Like @zhenjunMa said this is expected as otherwise you may would loose data.

[2020-08-11 07:40] #10417 closed

[2020-08-11 07:41] normanmaurer commented on #10416
@ejona86 can you have a look ?

[2020-08-11 08:48] c-s-t-z commented on #10461
Thank you for your reply. I will update the netty version first in the follow-up. If there is a problem, I am troubleshooting feedback, thank you very much.

[2020-08-11 08:59] chrisvest commented on #10423
We can either change the counter to a long, which won't overflow for hundreds of years, or we can reset the sequence whenever the max value is reached.

[2020-08-11 09:01] normanmaurer commented on #10423
yeah lets just use a long @chrisvest  that should be good enough...

[2020-08-11 10:34] LosAngelesHK commented on #10455
@normanmaurer Sorry, I do not fully understand your question. What is your meaning of "stock" JDK implementation? BTW, the SCTP server application works normally using JDK 8/14 under the RHEL 6 & RHEL 7 environment

[2020-08-11 12:34] normanmaurer commented on #10420
@kireet can you try to resolve `ns2.bitgest.es.` and `ns1.bitgest.es.` on your system using the same name servers that are used by netty using either `dig` or `nslookup` and let me know what the outcome is ? I think I have a suspect for the OOME.

[2020-08-11 14:51] ejona86 commented on #10416
I'll send out a PR.

The `verifyStreamId()` check for `streamDependency` should be a `verifyStreamOrConnectionId()`:
https://github.com/netty/netty/blob/f58223982ce8d9ed056c3d127972222966d0ebd1/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameWriter.java#L273-L277

The mislabled error seems to be a bug in the verify function, in that it ignores `argumentName`:
https://github

[2020-08-11 17:46] kireet commented on #10420
[code]

it's been awhile though, this info could have changed.

we do use a slightly customized cache, here is the code:

[code]

[2020-08-11 18:17] normanmaurer commented on #10420
@kireet interesting... these resolve for me as well now. Earlier today they didn't tho....

[2020-08-11 18:53] #10423 closed

[2020-08-11 19:00] #10413 closed

[2020-08-11 20:50] #10416 closed

[2020-08-12 06:19] c-s-t-z commented on #10461
@normanmaurer
Thank you for your reply, I am still quite curious, where did the problem occur during my use of this version; could you please tell me the reason for the problem?

[2020-08-12 06:29] c-s-t-z commented on #10461
Is it a bug in the netty version itself or a problem with my use, I am worried that this problem will still exist after upgrading to 4.1.5X.Final, thank you @normanmaurer for your patient and professional reply.thank you very much.

[2020-08-12 07:23] normanmaurer commented on #10429
This most likely caused by `new HttpObjectAggregator(Integer.MAX_VALUE)` which will cause the whole request to be buffered in memory before it will be proxied.

[2020-08-12 07:23] #10429 closed

[2020-08-12 07:32] hyperxpro commented on #10461
It could be `Netty 4.1.6.Final` issue, but not sure. That's why you should upgrade to `Netty 4.1.51.Final` and see if the issue still persists.

[2020-08-12 09:21] normanmaurer commented on #10420
@kireet ok I know what happens... Just need to think a bit about how to solve this in a proper way. stay tuned

[2020-08-12 14:04] manolvalchev opened #10475 "Netty enforce HTTP proxy to support HTTP CONNECT method"
### Expected behavior
In case of HTTP protocol, the client request is sent as is, without sending the initial message with HTTP CONNECT method.

#### Background

Source: https://tools.ietf.org/html/rfc2616#section-9.9

Source: https://tools.ietf.org/html/rfc7231#section-4.3.6

#### Request
No every HTTP proxy supports being a transparent tunnelling proxy. Therefore, Netty as a library shall either

[2020-08-13 03:27] fanshanhong opened #10477 "In ChannelHandlerContext.java, the description about AttributeKey may not accurate"
In ChannelHandlerContext.java, line 81 , the description about AttributeKey following:

 * For example, the following handler will have as many independent {@link AttributeKey}s
 * as how many times it is added to pipelines, regardless if it is added to the
 * same pipeline multiple times or added to different pipelines multiple times

[code]

above description is contradict with the the document

[2020-08-13 07:35] normanmaurer commented on #10420
@kireet https://github.com/netty/netty/pull/10478 PTAL...

That said I will create another PR as well as there is also another related issue

[2020-08-13 08:14] #10434 closed

[2020-08-13 09:26] normanmaurer commented on #10420
actually scratch that... #10478 is all we need

[2020-08-13 09:52] normanmaurer commented on #10460
Yep that is a bug...

[2020-08-13 10:29] normanmaurer commented on #10460
@violetagg PTAL https://github.com/netty/netty/pull/10479

[2020-08-13 10:46] LosAngelesHK commented on #10455
@normanmaurer I have tried to compile and execute the SCTP server application using Oracle JDK 8 and Oracle JDK 14 in RHEL 8 environment, however both have the same issue and behaviour as OpenJDK

[2020-08-13 11:58] normanmaurer commented on #10475
@manolvalchev do you have any proposal how to "fix" this ?

[2020-08-13 11:59] normanmaurer commented on #10455
@LosAngelesHK honestly I have no idea ... We just use the SCTP implementation provided by the JDK. So I guess the best would be to open an issue in the openjdk issue tracker

[2020-08-13 12:00] normanmaurer commented on #10433
@afernandez so basically you say you can reproduce this starting 4.1.38.Final (and also in the latest release) right ?

[2020-08-13 12:03] #10398 closed

[2020-08-13 12:03] normanmaurer commented on #10398
closing as no response

[2020-08-13 12:04] normanmaurer commented on #10353
@jwils any updates ?

[2020-08-13 12:07] normanmaurer commented on #10365
@v891 can you reproduce this easily ?

[2020-08-13 12:39] normanmaurer commented on #10411
On my to do list for tomorrow....

[2020-08-13 18:30] #10460 closed

[2020-08-14 08:22] Mahdihp opened #10482 "Implementation JavaScript?"
Is there an implementation for Client JavaScript?

[2020-08-14 08:33] normanmaurer commented on #10482
I am not sure what you asking for honestly... netty is just a network framework

[2020-08-14 08:33] #10482 closed

[2020-08-14 08:35] sourabhsparkala commented on #10362
Any plans of down-porting this automatic default behavior to Netty `4.1.x`

[2020-08-14 08:38] hyperxpro commented on #10362
No plans AFAIK. Also, it's not a vulnerability. Just mis-configuration in my opinion.

[2020-08-14 08:45] thomas-br commented on #10475
Maybe the `ProxyProvider` on `tcpClient.proxy(proxy -> ... )` could receive options to specify whether the tunneling with HTTP CONNECT should be used or plain/normal proxying.

Not sure yet what needs to be changed then in the [HttpProxyHandler](https://github.com/netty/netty/blob/0c3eae34ec25203e22d3fa6a678a11a936f9c8b4/handler-proxy/src/main/java/io/netty/handler/proxy/HttpProxyHandler.java#L165

[2020-08-14 09:04] violetagg commented on #10475
@thomas-br The configuration above is Reactor Netty specific and should be discussed in Reactor Netty project when/if there is an extension to the current HttpProxyHandler provided by Netty

[2020-08-14 09:08] manolvalchev commented on #10475
@normanmaurer, Usually, such a decision is taken based on the URL protocol scheme, e.g. ```http``` -> no usage of CONNECT method; ```https``` -> with usage of CONNECT method. Another option would be to offer configuration parameter, so that the consumer of the library (on the fly, not static for the library) decide whether HTTP CONNECT to be used or not - at the end, the consumer of the proxy know

[2020-08-14 09:23] thomas-br commented on #10475
@violetagg Agree. But despite the configuration capabilities offered by Reactor Netty, shouldn't both proxy behaviors be offered by the `HttpProxyHandler` of netty? Because as @manolvalchev stated, the current implementations only supports the proxy tunneling.

[2020-08-14 10:14] kachayev commented on #10475
If there's no need to establish tunnel when connecting to the proxy, the `HttpProxyHandler` would be probably an overkill: no need to create and send initial message, wait for the response, decode it and handle issues as it goes, as well as no need to stash writes before CONNECT response is processed. The only significant difference compared to generic HTTP when not using CONNECT:
* connection sho

[2020-08-14 12:35] slandelle commented on #10475
DNS resolve should be disabled

Also, request url must be absolute instead of relative to domain root.

[2020-08-14 14:02] normanmaurer commented on #10455
Or maybe it is related to the running kernel ?

[2020-08-14 14:11] #10420 closed

[2020-08-15 04:55] Mahdihp commented on #10482
Can be used in js or web page?
send request socket to server?

[2020-08-17 07:14] hyperxpro opened #10484 "DatagramPacket is not sent if InetSocketAddress is unresolved"
### Expected behavior
Netty should send DatagramPacket if the host is IP address.

### Actual behavior
Netty does not send DatagramPacket if InetSocketAddress is created using `#createUnresolved(String host, int port)` and the host is an IP address.

We can send the packet to an IP address because IP address does not need any kind of resolution.

### Steps to reproduce
Just create InetSocketAddres

[2020-08-18 04:14] Bennett-Lynch commented on #6818
@ramahmoo Apologies for digging up a 3 year-old issue, but what solution did you ultimately settle on here?

I agree with @Scottmitch and others that sending a RST when there is data remaining on the server's receive queue is both A) correct from a TCP perspective and B) outside of Netty's control. However, this behavior is often undesirable because the RST may discard the remote peer's TCP buffer

[2020-08-18 08:31] johnou commented on #6818
While it may not be related to the original report pay attention if you are running your application behind an AWS NLB https://medium.com/tenable-techblog/lessons-from-aws-nlb-timeouts-5028a8f65dda

[2020-08-18 10:40] normanmaurer commented on #10484
@hyperxpro you have a stack trace for the failed write ?

[2020-08-18 11:30] normanmaurer commented on #10484
actually that is expected and exactly what java.io and java.nio does.

[2020-08-18 11:30] #10484 closed

[2020-08-18 11:40] normanmaurer commented on #10433
@afernandez ^^

[2020-08-18 12:03] normanmaurer commented on #10433
I suspect the change in behaviour was introduced by https://github.com/netty/netty/commit/6b6475fb565551c36f372fe37683d98df6674161 ... But to better understand if this is a bug or not I would need to get some more details about what you try to do.  Can you give some more pointers in what you try to do with your code and how you do it ? Like for example point me to the right places in your code ?

[2020-08-18 12:07] normanmaurer commented on #10433
Also I tried to run the test but it failed as the snapshot was missing:

[code]

Do I need to add some snapshot repository ?

[2020-08-18 12:21] violetagg opened #10485 "Ability to change the logger and level used by DnsNameResolverBuilder#traceEnabled"
### Expected behavior
Ability to change the logger and level used by `DnsNameResolverBuilder#traceEnabled`

### Actual behavior
When `DnsNameResolverBuilder#traceEnabled` is enabled, it uses always the logger and level below
https://github.com/netty/netty/blob/46cb4015ff25ff2dd3d0dede5c3185ac498e56b0/resolver-dns/src/main/java/io/netty/resolver/dns/TraceDnsQueryLifeCycleObserverFactory.java#L26-L2

[2020-08-18 13:10] himanshumps commented on #7733
We are also seeing the similar issue. Under load SSL handshake start taking time even while using openssl

[2020-08-18 13:51] hyperxpro commented on #10484
I see, my bad. Sorry!

[2020-08-18 15:27] paul-lysak commented on #10114
I have the same issue - tests failing in `Netty/Transport/Native/Epoll`.

**JVM**

[code]

**OS**

[code]

This is the test that fails: ` EpollDatagramMulticastTest.testMulticast` and this is `io.netty.channel.epoll.EpollDatagramMulticastTest.txt` file content:
[code]

This is the fresh code from branch `4.1`. I've installed all the libs requested in https://netty.io/wiki/setting-up-development-en

[2020-08-19 06:22] mostroverkhov commented on #10436
@normanmaurer Looking at ejona86's suggestions

I read them as a hint to have headers validation pluggable, with rfc7540 as default, and optional rfc8441 (that is also part of this project).

I am happy with any solution which allows using netty's http2 handlers for websocket-over-http2, and seems there are no significant blockers other than `:protocol` pseudo-header validation issue.

[2020-08-19 08:41] chrisvest commented on #10485
It's not clear to me why you want to change the log level, and if you want to change it to TRACE or INFO, or some other level? Log levels are normally hard-coded on the usage site, and the current code follows that convention.

This setting is about whether or not logging is enabled. Detail configuration of how logging works is something we'd prefer to leave to the logging framework.

[2020-08-19 08:59] violetagg commented on #10485
@chrisvest The use case is the following: Reactor Netty wants to expose this as a configuration so that the user can decide which logger and what level to use. With the current approach the user sees that the tracing is enabled but needs to know the exact logger and level that are needed (which are not from Reactor Netty but from a library that Reactor Netty uses)

[2020-08-19 09:44] #10369 closed

[2020-08-19 09:56] chrisvest commented on #10485
But that's the case with all logging in Netty, isn't it? Well, almost I suppose. The logging implementation that is used everywhere is discovered at runtime, and the level is always hard coded, with the exception of `LoggingHandler` and `Http2FrameLogger`. With that in mind I think the second approach makes the most sense: expose some clean-up version of `TraceDnsQueryLifeCycleObserverFactory`, an

[2020-08-19 10:04] normanmaurer commented on #10477
@fanshanhong nice catch... seems like we missed updating the docs: https://github.com/netty/netty/pull/10487

[2020-08-19 10:18] violetagg commented on #10485
Yes I agree from my point of view it is like `LoggingHandler`, I can add this handler to the pipeline. The same is with `TraceDnsQueryLifeCycleObserverFactory` I can add it to the configuration.

[2020-08-19 10:18] normanmaurer commented on #10461
Let me close this for now and please reopen if you still see issues after upgrading

[2020-08-19 10:18] #10461 closed

[2020-08-19 10:19] normanmaurer commented on #10452
Seems like this was fixed by the last deploy of the website

[2020-08-19 10:19] #10452 closed

[2020-08-19 10:25] normanmaurer commented on #10411
alright... it took me a bit more then expected but I am looking at this as we speak.

[2020-08-19 11:30] zyb2013 opened #10489 "The problem of choose a thread?"
`public final class DefaultEventExecutorChooserFactory implements EventExecutorChooserFactory {

    public static final DefaultEventExecutorChooserFactory INSTANCE = new DefaultEventExecutorChooserFactory();

    private DefaultEventExecutorChooserFactory() { }

    @SuppressWarnings("unchecked")
    @Override
    public EventExecutorChooser newChooser(EventExecutor[] executors) {
        if (isP

[2020-08-19 12:18] normanmaurer commented on #10489
@zyb2013 Thats the whole point of making it pluggable. By default it will just use round-robin but you can implement your own that may take into account how many tasks are queued etc.

[2020-08-19 12:18] #10489 closed

[2020-08-19 13:37] normanmaurer commented on #10411
@Bennett-Lynch so I did look into it a bit today and honestly I still have no idea what exactly happens. I mean we could "hide" the error by checking `isOpen()` but this still does not feel right to me as I would like to understand why it happens in the first place.

So this can only happen if the FD is closed before the connect(...) is actually executed which means something must have called `clo

[2020-08-19 15:01] hyperxpro commented on #10430
Can you point to specific part of code?

[2020-08-19 15:02] hyperxpro commented on #10406
Take a look at my code:
[code]

[2020-08-19 15:03] hyperxpro commented on #10406
And then block like this:
[code]

[2020-08-19 15:08] hyperxpro commented on #10452
How about adding some restrictions on Wiki so only selected people can change it?

[2020-08-19 15:13] #10477 closed

[2020-08-19 18:22] #10485 closed

[2020-08-19 20:03] Bennett-Lynch commented on #10411
Thanks a bunch for taking a look, @normanmaurer. Agree on not just hiding it. Likewise, I have considered placing an `isOpen()` check in my own pipeline before trying to handle this exception, but that also does not feel right.

Are we sure this is always the case? See [here](https://stackoverflow.com/questions/900042/what-causes-the-enotconn-error/902964#902964) for other potential explanations o

[2020-08-20 01:06] github-big-cheng commented on #10406
thanks very much!~~ I'll try it as soon as I can~

[2020-08-20 02:57] fanshanhong commented on #10477
wow, thanks for your answer, i can understand the AttributeKey better.

[2020-08-20 06:34] normanmaurer commented on #10411
Yes I am pretty sure in this case as you can see from your stack trace `connect` (sys call) is never called which means the socket was never connected in the first place.

connectFuture.cancel(true);

Actually this is interesting as I think this could lead up to the situation where we may race and close the channel in between which in this case would just close the FD.

Also as a side note even if

[2020-08-20 09:19] thomas-br commented on #10475
@kachayev What do you suggest to continue on this one to get to a suitable solution, maybe similar as in the Aleph framework you showed?
Would that be offering a second non-CONNECT handler which then can be selected in [reactor-netty](https://github.com/reactor/reactor-netty/blob/fbce9325c2da531e1877b6ada84eaf74db3c40fd/reactor-netty-core/src/main/java/reactor/netty/transport/ProxyProvider.java#L1

[2020-08-20 13:40] hyperxpro commented on #10385
@normanmaurer I got some free time so thought I should give it a shot. I took a look at the SwiftNIO code and it writes TCP Flags too (FIN, ACK, SYN, etc). I'm wondering how we'll be able to do that with Java? I mean, we can't look at TCP Packet Flags without some Pcap library, AFAIK. Can you help me here?

[2020-08-20 17:43] Bennett-Lynch commented on #10411
I wonder if `cancel(true)` would make this more racy than `cancel(false)`? Again, I don't think this is being triggered, but I will try to confirm this with 100% confidence. I will need to await some recent changes to be rolled out before validating.

Understood, as far as I can tell this is not the case though.

I would probably be more likely to be able to apply custom git diffs/patches rather t

[2020-08-20 18:25] kachayev commented on #10475
@thomas-br honestly, I've never worked with `reactor-netty` :) From what I see in `ProxyProvider` code, it seems more than reasonable to add new configuration `tunnel` and when it is set to `false` and `type` = `HTTP`, choose another handler [here](https://github.com/reactor/reactor-netty/blob/fbce9325c2da531e1877b6ada84eaf74db3c40fd/reactor-netty-core/src/main/java/reactor/netty/transport/ProxyPr

[2020-08-20 18:33] kachayev commented on #10475
After some investigation, turned out I was wrong on this:

* DNS resolve should be disabled

In some networks the name resolution is expected to happen on the client rather than on the proxy (typically with custom DNS resolvers or in networks like Tor).

[2020-08-20 20:19] Lukasa commented on #10385
The SwiftNIO one makes them up. 😉

[2020-08-20 20:58] normanmaurer commented on #10385
@hyperxpro as @Lukasa said... these are just "dummy values".

[2020-08-20 21:39] hyperxpro commented on #10385
Alright. PR incoming next week! :D

[2020-08-21 04:14] zzmao opened #10493 "How to tune Netty to reduce writeAndFlush time"
### Expected behavior
We are developing a Netty based HTTP2 server to replace exiting Java socket based server.
We expect Netty + HTTP2 can give us better performance/latency.

### Actual behavior
However, in a recent performance test, where multiple clients send large amount of GET requests to server, Netty+HTTP/2 behaved worse than socket implementation.

We tried one request per http/2 connecti

[2020-08-21 05:48] hyperxpro commented on #10493
When you use `writeAndFlush`, it'll push data down regardless of size. So call `write` and when you've a reasonable size, call `flush`.

[2020-08-21 05:59] zzmao commented on #10493
@hyperxpro  Thanks!  I noticed this before from [here](http://normanmaurer.me/presentations/2014-facebook-eng-netty/slides.html)

However, we only have one chunk of data and we want to send it out ASAP, so we called `writeAndFlush`.

[2020-08-21 06:58] medusar commented on #10493
You can use `FlushConsolidationHandler` to reduce `flush` calls.

[2020-08-21 06:59] normanmaurer commented on #10493
Its really impossible to give any guidance without more details and profiling data. All we can do at the moment is basically guess

[2020-08-21 07:10] chrisvest commented on #10493
Is the socket version also implementing HTTP2?

[2020-08-21 07:55] wuxiansen commented on #10351
I think the issue may be solved, because 4.1.49.Final sets deleteOnExit = false  [# 10146](https://github.com/netty/netty/pull/10146),

 and releasing HttpPostRequestDecoder will clean up the temporary resources of the current session

[code]

[2020-08-22 05:14] aspcompiler opened #10496 "Is SniHandler vulnerable to partial Client Hello message attack?"
Suppose an attacker send a partial Client Hello message and leave the connection open, would SniHandler wait indefinitely for the remaining part of the message?

I was looking for a timeout that would close the connection if the remaining part of the message does not arrive within a timeout limit, but I did not find one in the class hierarchy.

Just to ensure that I did not miss anything.

### Net

[2020-08-24 09:13] hyperxpro commented on #10385
PTAL #10498

[2020-08-24 11:19] github-big-cheng commented on #10406
@hyperxpro
Thanks a lot!~ I had resolve it !!!!
I use `client.channel.attr(NETTY_CLIENT_REQUEST).set(byteBuf);`   and used override method `channelActive  ctx.writeAndFlush(byteBuf)` to instead of of `client.channel.ctx.writeAndFlush(byteBuf)` .
Thank you again for all kind helps !
There are some codes, hope can help some other peoples...
`// set request
            ByteBuf byteBuf = Unpooled.copi

[2020-08-24 11:19] #10406 closed

[2020-08-25 15:01] vietj opened #10499 "DnsNameResolver configured with a rotational DNS server selection will increment stream index by 2 instead of 1"
### Expected behavior

DnsNameResolver configured with a rotational server stream should use all items (preferably sequentially)

### Actual behavior

DnsNameResolver configured with a rotational server stream increment by 2 instead of 1. This is due to this bug fix https://github.com/netty/netty/commit/68105b257d915d8a0cb7b2acd9061661666537b6#diff-6107a6de600a6f941beb29f082976653 that will delega

[2020-08-25 16:05] Bennett-Lynch commented on #10496
I don't think any of the codec-level handlers enforce timeouts. You are expected to use an `IdleStateHandler` to define and enforce your own timeouts, if needed.

[2020-08-25 17:24] qerub opened #10501 "UnsupportedOperationException with NonStickyEventExecutorGroup"
Netty version: 4.1.45

While investigating an application issue I came across an interesting exception:

[code]

The code in question looks like this:

https://github.com/netty/netty/blob/338e1a991c5d15695bd654a7b8d2bd4008e868ae/common/src/main/java/io/netty/util/concurrent/NonStickyEventExecutorGroup.java#L338-L344

The call to `remove` will always fail because `tasks` is a `PlatformDependent.new

[2020-08-25 17:33] qerub commented on #10496
I haven't looked at the details, but maybe `SslHandler`'s `setHandshakeTimeout` might come in handy: https://netty.io/4.1/api/io/netty/handler/ssl/SslHandler.html#setHandshakeTimeout-long-java.util.concurrent.TimeUnit-

[2020-08-25 17:57] aspcompiler commented on #10496
I am not sure if IdleStateHandler is granular enough. I can use IdleStateHandler to close the connection if no traffic for sometime after the handshake. "setHandshakeTimeout" is closer to what I need as it enforce that the handshake completes within a limit. It seems that we need another level of timeout to enforce that all packets of a message received within a limit.

[2020-08-25 18:39] ancwrd1 opened #10502 "TLS handshake succeeds before custom trust manager factory checks the certificate"
### Expected behavior
It worked fine in Netty 4.1.19. We have a Netty server which creates a TCP channel with a custom SslContext and a custom trust manager factory (derived from SimpleTrustManagerFactory).
This trust manager factory makes a decision on whether to trust a certificate of the connecting peer or not.
If the certificate is not trusted the CertificateException is thrown and handshake p

[2020-08-25 19:14] normanmaurer commented on #10502
This will be hard to debug without a reproducer :( You have tcnative on the class path ?

[2020-08-25 19:27] hyperxpro commented on #10502
Also, try upgrading to `Netty 4.1.51.Final` version and give it a shot and see because `Netty 4.1.19.Final` is way too old (December 2017 release).

[2020-08-25 20:28] ancwrd1 commented on #10502
This actually happens in 4.1.51.Final.
In the older version 4.1.19.Final it works fine as expected.
I will try to make a minimal reproduction case.

[2020-08-25 21:36] ancwrd1 commented on #10502
Ok, I have managed to reproduce it using a "securechat" example from netty sources.
The conclusion is that this issue happens when using a newer TLS v1.3.

Here is a modified "securechat" sources attached. It waits for 10 sec in the trust manager factory and then throws an exception.
When attempting to connect to this app using openssl there are different outputs depending on the TLS protocol vers

[2020-08-25 21:44] ancwrd1 commented on #10502
Some additional information:

We have a Netty client application which registers a handshake listener like this:

[code]

So what happens is that this future always succeeds even though the handshake is not technically done yet.

[2020-08-26 10:44] normanmaurer commented on #10501
will have a look...

[2020-08-26 12:08] hyperxpro commented on #10502
I tried reproducing with `io.netty:netty-all:4.1.51.Final` with the source code you attached. Unfortunately, it works as expected. Netty closed the connection after the `Bad Certificate` exception.

[code]

[2020-08-26 12:18] hyperxpro commented on #10502
Reproduced finally.

[code]

My observation: Netty is waiting 10 seconds for `MyTrustManagerFactory`. When `MyTrustManagerFactory` throws an error, Netty marks the channel active somehow and closes the connection. I tried fetching TLS protocol and cipher suite just to know if TLS handshake was negotiated but `Connected, TLS Protocol: NONE, Cipher: SSL_NULL_WITH_NULL_NULL`. So the TLS handshake was

[2020-08-26 12:20] ancwrd1 commented on #10502
Yes but the problem is that the client receives OK handshake before it times out with 10 seconds and throws an exception.
I have provided a code fragment from netty client.
The handshake future succeeds even though the server throws CertificateException

[2020-08-26 12:38] normanmaurer commented on #10501
@qerub honestly I think we should just remove the `tasks.remove(...)` call here. WDYT ?

[2020-08-26 12:41] ancwrd1 commented on #10502
Also worth noting that this only happens with TLS 1.3

[2020-08-26 14:04] qerub commented on #10501
@normanmaurer: I unfortunately don't fully grasp all the state transitions and thread intertwinings of this code, but I think that `tasks.remove(command)` doesn't make sense (and should be removed as you suggest) since there's no connection between the `command` and `executor.execute(this)` failing (the `command` is executed via `safeExecute` and has been dequeued so it won't affect later executio

[2020-08-26 14:08] francisoliverlee opened #10504 "[Question] how does netty process reset command ?"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### description
client would do handshaking with jdbc server every 2 seconds  to check whether it is  alive. then send reset command to close tcp, but there are a lot of closed-connections hold by jdbc server.
i wander how netty do with reset command.

![image](https://use

[2020-08-26 15:49] hyperxpro commented on #10504
Netty Handler will receive exception about connection closed by the host and it'll be treated as a normal connection close.

[2020-08-26 15:50] hyperxpro commented on #10504
And I hope you mean RST, not FIN.

[2020-08-26 15:50] #10504 closed

[2020-08-27 02:20] LosAngelesHK commented on #10455
@normanmaurer I found that there is a difference in the behaviour of "com.sun.nio.sctp.SctpChannel" between RHEL 7 and RHEL 8. Its method association() always returns null in RHEL 8 while RHEL 7 is not. ttAs I know, the method association() of "NioSctpChannel" in Netty is also invoking the same method of "com.sun.nio.sctp.SctpChannel". Is such behavioural difference related to the issue without ch

[2020-08-27 06:07] normanmaurer commented on #10455
hmm... that's interesting. this explains it as a channel is only treaded as active when `association() != null`.

[2020-08-27 06:15] alkakumari42 commented on #7439
Hi Team,

I am working with Apache Drill Project. Till now we have been using Netty 4.0.48.Final. And, now while upgrading Netty from 4.0.x.Final to 4.1.x.Final below error is coming while running the project.
Error - Details: java.lang.AbstractMethodError: io.netty.buffer.ByteBuf.touch(Ljava/lang/Object;)Lio/netty/buffer/ByteBuf;

Can someone suggest the possible changes/changelist in Netty 4.1.x

[2020-08-27 06:17] normanmaurer commented on #7439
@alkakumari42 are you sure you not bring in another version of netty ? This looks like a version mismatch honestly.

[2020-08-27 06:21] normanmaurer commented on #10433
@afernandez ping... sorry but I need some help here to help you :)

[2020-08-27 06:22] #10501 closed

[2020-08-27 06:41] alkakumari42 commented on #7439
@normanmaurer Thanks for replying. I don't think I am using 2 different versions of Netty together. If you don't mind have a look of the jars that I am actually using in my classpath. Maybe there is some jar that also need up-gradation with Netty.

antlr-runtime-3.5.2.jar
commons-lang3-3.3.2.jar
commons-logging-1.2.jar
commons-codec-1.10.jar
protobuf-java-3.6.1.jar
jackson-annotations-2.10.1.jar
j

[2020-08-27 06:43] normanmaurer commented on #7439
@alkakumari42 this looks ok... as long as none of the jar's include netty itself in the jar. Can you please open a new issue and add the full error stack etc there ?

[2020-08-27 06:53] LosAngelesHK commented on #10455
@normanmaurer I have just tried an experiment. Create a dummy Association object and return it in the association() method of class "NioSctpChannel". channelActive() method is invoked successfully in the SCTP server application.

[2020-08-27 07:12] alkakumari42 commented on #7439
@normanmaurer Actually there is 2 aspect of this issue.

1.) That I have discussed earlier - Here I build Apache Drill opensource project with Netty 4.0.48.Final but, using 4.1.x.Final in my classpath.
(Only below error is coming - No stackTrace)
Error Details : org.apache.drill.exec.rpc.RpcException: java.lang.AbstractMethodError: io.netty.buffer.ByteBuf.touch(Ljava/lang/Object;)Lio/netty/buffer/

[2020-08-27 07:24] normanmaurer commented on #7439
@alkakumari42 ah yeah... Unfortunally we did break the `IntObjectMap` API (and missed it) which means you will need to adjust the code to match the new signature.

[2020-08-27 08:53] zentol opened #10508 "HttpPostMultipartRequestDecoder performance regression"
### Expected behavior

#10226 improves performance.

### Actual behavior

The decoder is now at least 100x slower than before iff it is offered a direct buffer.

If the decoder is offered a direct buffer it now creates a bunch of 64b direct buffers during parsing, where before it always used heap buffers.
Using a `PooledByteBufAllocator` that prefers direct buffers did not solve the issue.
Using a

[2020-08-27 10:34] lygoing commented on #7487
Is there a solution? I also encountered a similar situation

[2020-08-27 11:24] alkakumari42 commented on #7439
Hi @normanmaurer , Could you share the changelist no for the same?
I got IntObjectMap.java in 4.0 but, the same is not implemented in 4.1. Instead it's implemented as template.
It will be great if you could share the issue no.

[2020-08-27 13:51] fredericBregier commented on #10508
My 2 cents:
First change:
- Before, it was a `copy` which limits the max,
- now is a `buf.alloc.buffer(...).writeByte(buf)`  => Pooled buffer using the original ByteBufAllocator from the `buf`

Second change, which is probably the one you point out:
- Before (2 places): `Unpooled.buffer(64)` (Unpooled implicit)
- After (same): `undecodedChunk.alloc().heapBuffer(64)`

This should use the ByteBufAll

[2020-08-27 14:39] lygoing commented on #7487
[code]

is OK.

[2020-08-27 14:50] johnou commented on #7439
https://github.com/netty/netty/pull/3576/files

It's generated when you run the compile mojo (generate-sources).

[2020-08-28 12:11] KaimingWan opened #10512 "Is one netty's channel map to a tcp connection and a socket port?"
Another question is that can I parallel send data in multi thread over a single tcp connection? If the answer is yes,let's see the case. The first send request from client are blocked in server caused by some code bug. Can other thread's callback listener receive their response successfully?

[2020-08-28 12:53] hyperxpro commented on #10512
You should consider [Stackoverflow - Netty](https://stackoverflow.com/questions/tagged/netty) for questions.

Coming to your question, if you've 4 workers and 1 worker is blocked for some reason. Let's say, heavy processing or something, the other 4 workers will handle the traffic. However, you should not block Netty workers.

[2020-08-28 13:04] KaimingWan commented on #10512
@hyperxpro Thanks for your remind. I will move the question to stackoverflow. As what you said, netty server can process multi client thread's request in parallel. How netty ensure their order?

[2020-08-28 13:08] hyperxpro commented on #10512
Netty doesn't use threads. It's event-loop based.

[2020-08-28 18:52] divijvaidya opened #10515 "Netty should always provide a terminal event for WebSocket Handshake"
I have a client implementation which uses SSL Handler with `WebSocketClientProtocolHandshakeHandler`. If SSL handshake fails for some reason, it leads to channel close which deactivates/deregisters the WebSocket handler. The client implementation has a WebSocket connection initialization logic that is performing a sync wait for either `ClientHandshakeStateEvent.HANDSHAKE_TIMEOUT` or `ClientHandsha

[2020-08-28 22:37] fredericBregier commented on #10508
@zentol I tried to reproduce using only Netty, but I can't get the numbers you've got.

Could you have a reproducer code with Netty only (almost a Junit or simple example)?
What kind of data are you sending (which forms and numbers)?
And to be sure, your tests shows that Direct buffers are not ok, while Heap buffers are ?
Thanks

[2020-08-29 07:43] paplorinc commented on #10449
Hey @normanmaurer, any update on when this fix will be released?

[2020-08-29 11:06] github-big-cheng opened #10516 "whick highest version is support for jdk1.7"
### Expected behavior

When I upload a big file (more than 100 kb), the `FileUpload.getFile()` return a size of 16 kb File on jdk1.7, but it's ok on jdk1.8
so I want to know what's the highest `Netty` version supported for jdk1.7 ?
So kind of you all! Thanks .

### Actual behavior

### Steps to reproduce

with url http://127.0.0.1/version/add to upload a big file

### Minimal yet complete reproduc

[2020-08-29 11:08] github-big-cheng commented on #10516
I'm so sorry ! It wasn't described clearly, I used 4.1.51.Final on jdk1.7, it doesn't works. but  4.1.10.Final can fixed it (1.7).
So I want a version can works on jdk 1.7 .
Thanks...

[2020-08-29 11:11] hyperxpro commented on #10516
Netty is working fine up to Java 15 right now.

[2020-08-29 12:37] github-big-cheng commented on #10516
Threre are some old programs used jdk 1.7 ,  and  the jave version can't be upgraded.
So I want a version can run Netty fine up on jdk 1.7.
May I get a better version ? Thanks...

[2020-08-29 12:57] johnou commented on #10516
@github-big-cheng sounds like a regression, is an exception thrown?

[2020-08-29 15:17] hyperxpro commented on #10516
4.1.X versions are perfect for Java 1.7.

[2020-08-29 16:52] johnou commented on #10516
@github-big-cheng looks like a regression which is fixed in the next release https://github.com/netty/netty/issues/10449

[2020-08-29 19:53] normanmaurer commented on #10449
@paplorinc sorry it took longer then expected but within the next week.

[2020-08-30 14:08] github-big-cheng commented on #10516
Does it means it will be fixed in 4.1.52.Final ?

[2020-08-30 17:14] normanmaurer commented on #10516
It should just work with any 4.1.x release. If that’s not the case please provide a stacktrace etc

[2020-08-31 01:43] github-big-cheng commented on #10516
there are some pictures about my problem.
Is threre any different configs in version 4.1.51.Final ?
<img width="966" alt="e43ffc5ae3d4be3e176826fed3fa792" src="https://user-images.githubusercontent.com/20948229/91675246-4254b900-eb6e-11ea-93b4-a1c361b64c34.png">
<img width="966" alt="1b48a32eeff393e78d571fe8d5aa6e1" src="https://user-images.githubusercontent.com/20948229/91675250-44b71300-eb6e-11e

[2020-08-31 03:40] LosAngelesHK commented on #10455
@normanmaurer After further testing the behaviour of "com.sun.nio.sctp.SctpChannel", I found that its association() method would NOT return null if I invoke SctpChannel.receive() method first. However, I think it may violate the mechanism of channel establishment in Netty framework ( channelRegistered() -> channelActive() -> channelRead() ). Do you have any idea about fixing the issue?

Attached i

[2020-08-31 05:59] harshmah opened #10519 "[Question] How to configure max no of connection in Netty server?"
### Expected behavior
I am new to Netty world. In my project, we are using Netty along with WebFlux. I come from Tomcat world.  My question is in Netty, how can we can limit no of threads (like in Tomcat have setting max-thread)? Is this configurable? If yes, please refer me some doc. Thanks

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

##

[2020-08-31 06:18] violetagg commented on #10519
@harshmah Spring WebFlux uses Reactor Netty and not Netty directly. Use https://gitter.im/reactor/reactor-netty for questions related to Reactor Netty.

[2020-08-31 07:12] #10499 closed

[2020-08-31 07:29] hyperxpro commented on #10519
AFAIK, no way to specify number of maximum connection but I can add this functionality. We can define maximum connection, maximum connections per minute (rate limit thing), etc.

What you say @normanmaurer ?

[2020-09-01 11:21] johnou commented on #10516
@github-big-cheng please try 4.1.52 when it is released.

[2020-09-01 19:58] pschichtel opened #10524 "CAN networking"
I'm the main developer of the [JavaCAN](https://github.com/pschichtel/JavaCAN) project. The library, in its current stable release, implements Java's Selector using a epoll via JNI, but that API is very restrictive in how it can be extended with many parts of the API hardwired to the existing TCP and UDP channels. It's hard to implement the a Selector and SelectableChannel while correctly using ep

[2020-09-02 00:43] github-big-cheng commented on #10516
Thanks a lot, looking forward for 4.1.52.released.

[2020-09-02 00:43] #10516 closed

[2020-09-02 01:04] carl-mastrangelo opened #10525 "Invalid Argument Exception in WeightedFairQueueByteDistributor"
I tracked down a bug which causes clients to fail several requests when visiting our Netty HTTP/2 server from Chome.  Typically the Chrome Dev Tools page shows some requests failed due to the connection being closed early.  It seemingly only happened when coming from the browser.   It additionally only seems to happen for very new connections, longer lived connections don exhibit the problem.  Las

[2020-09-02 01:25] carl-mastrangelo commented on #10525
A side note: It appears Http2FrameCodec doesn't offer a way to change out the stream distributor to the Uniform one, which would allow us to work around this bug.   Any objections to a PR to allow this to be set?

[2020-09-02 05:05] mostroverkhov commented on #10525
For workaround with `4.1.51` one can

[code]

[2020-09-02 06:33] fredericBregier commented on #10508
@zentol Note that I used 4.1.51 and I can't reproduce the issue you raised...

[2020-09-02 06:55] normanmaurer commented on #10525
@carl-mastrangelo sure a "nicer" way of changing it would be good as well.

[2020-09-02 19:34] normanmaurer commented on #10519
Like @violetagg said... this is not a netty question

[2020-09-02 19:34] #10519 closed

[2020-09-02 19:35] #10512 closed

[2020-09-02 19:36] normanmaurer commented on #10455
@LosAngelesHK not really ... Imho this is either a CentOS bug or a JDK bug.

[2020-09-03 04:08] poekmorgan commented on #10455
@LosAngelesHK

Sorry to step in. I read through this case. it sounds like the problem happens when running SCTP transport on Netty in kernel 4.x?

And, the JDK "com.sun.nio.sctp.SctpChannel" is working in kernel 2.6 or 3.x, but not in 4.x. is there any JDK function call can settle the problem?

@normanmaurer , netty "NioSctpChannel" likely calls the "com.sun.nio.sctp.SctpChannel" to establish the

[2020-09-03 07:07] fredericBregier commented on #10508
@zentol I tried another time, but the numbers I've got are almost the same whatever the allocation:
- PooledHeap, PooledDirect, PooledBuffer (from undecodedChunked
- UnpooledHeap, UnpooledDirect, UnpooledBuffer

I've tried both 1000 chunks for big data (64KB each) so 1000 decoded vars or 1000 chunks for small data (4KB each but 16 times so still chunks of 64KB each) so 16000 decoded vars, and the

[2020-09-03 10:39] LosAngelesHK commented on #10455
@normanmaurer @poekmorgan

Yes.

Actually, I have already contacted Red Hat about this issue and they replied me that invoking SctpChannel.receive() method could be a workaround (Demonstrated in above reply with the sample client/server program "TestSctpCliSvrNew.zip"). As a result, I have tried to modify the code in "NioSctpChannel" as below:

    @Override
    public Association association() {

[2020-09-03 12:43] pgrabowski commented on #10455
We're having similar issue but with Netty SCTP client not getting notification that SCTP association was created.
This is also RHEL 8.2 and JDK 8 from Oracle.
For us downgrading kernel to version from RHEL 8.0 solved this issue.
We are currently trying to pin point release where issue was introduced.

[2020-09-03 12:55] poekmorgan commented on #10455
@normanmaurer do you think there is something that Netty can help?

[2020-09-03 13:38] pgrabowski commented on #10455
Yes, for my case. I tried kernel 4.18.0-147.8.1.el8_1.x86_64 and it is also working.

[2020-09-03 19:41] mostroverkhov commented on #10436
@normanmaurer @ejona86 I have made few changes related to this on https://github.com/mostroverkhov/netty/tree/header-validators just to start things going.

`AbstractHttp2ConnectionHandlerBuilder` is extended with protected `validateHeaders(Http2HeadersValidationType http2HeadersValidationType)`. Method is exposed on `Http2FrameCodecBuilder` and `Http2ConnectionBuilder`.
Public `Http2HeadersValida

[2020-09-04 01:41] LosAngelesHK commented on #10455
@pgrabowski Actually, I have tried to compile and execute my SCTP server application with JDK 8, JDK 11, JDK 13 and JDK 14 in RHEL 8.2. All trials have the same issue that SCTP channel is blocked at channelRegistered() state.

[2020-09-04 05:22] CalvinKirs opened #10531 "EpollSocketChannel cannot be cast to NioSocketChannel"
Sep 04, 2020 4:56:48 AM io.netty.channel.ChannelInitializer exceptionCaught
WARNING: Failed to initialize a channel. Closing: [id: 0x11c90191, L:/127.0.0.1:12346 - R:/127.0.0.1:56476]
java.lang.ClassCastException: io.netty.channel.epoll.EpollSocketChannel cannot be cast to io.netty.channel.socket.nio.NioSocketChannel

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1

[2020-09-04 06:55] pgrabowski commented on #10455
Try downgrading kernel to 4.18.0-147.8.1.el8_1.x86_64. yum -y install kernel-modules-extra-4.18.0-147.8.1.el8_1.x86_64 and reboot choosing correct kernel in grub

[2020-09-04 07:20] pgrabowski commented on #10455
@LosAngelesHK I did a test and confirm that your code works on old version of kernel.

`
[root@sdp-rhinoref01 TestSctpCliSvr]# uname -a
Linux sdp-rhinoref01 4.18.0-147.8.1.el8_1.x86_64 #1 SMP Wed Feb 26 03:08:15 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
[root@sdp-rhinoref01 TestSctpCliSvr]# cat /etc/redhat-release
Red Hat Enterprise Linux release 8.2 (Ootpa)
[root@sdp-rhinoref01 TestSctpCliSvr]# jav

[2020-09-04 10:07] wind-clothes opened #10532 "About io.netty.util.Recycler object pool object recycling"
### Actual behavior
Hello, when will the objects in the Netty object pool (io.netty.util.Recycler) be recycled by the JVM gc, because there are a large number of
io.netty.util.Recycler$DefaultHandle[] io.netty.util.Recycler$WeakOrderQueue$Link
### Netty version
4.1.39-Final
### JVM version (e.g. `java -version`)
1.8.0_191

[2020-09-04 10:20] ninja- commented on #10532
These will not be recycled because that's a cache.
How large is your JVM heap and what % is occupied by recycler?
There are java properties to tune the recycler but there's a large chance you don't need to do this.

[2020-09-04 10:26] wind-clothes commented on #10532
@ninja-
What I understand is the weak reference used by the Netty object pool. Will it be fully recycled in a Young GC or Full GC?

[2020-09-04 10:49] Shevchik commented on #10532
WeakOrderQueue is weak itself, not the objects it references, and will GCed when the thread that used the cache will be GCed.

[2020-09-04 11:03] wind-clothes commented on #10532
@Shevchik
Thanks for your answer, when will the following objects be recycled by gc:
io.netty.util.Recycler $ DefaultHandle []
io.netty.util .Recycler $ WeakOrderQueue $ Link

[2020-09-04 11:28] hyperxpro commented on #10531
You cannot cast `EpollSocketChannel` to `NioSocketChannel` and it's perfectly normal. The bug is in your code. Not Netty Issue,

[2020-09-04 11:56] CalvinKirs commented on #10531
Thx, this is my problem

[2020-09-04 11:56] #10531 closed

[2020-09-04 12:30] Shevchik commented on #10532
When the recycler itself will be GCed.

[2020-09-04 15:25] iirekm opened #10534 "Honor `-DsocksProxyHost/socksProxyPort` and `ProxySelector.setDefault(...)`"
### Expected behavior

Almost every Java library (except Netty and Netty-based libraries) accepts those by default.
This makes it easy to modify proxy settings, even when I don't have access to all source code.

### Actual behavior

Netty requires manual proxy setup in code. Not all libraries using Netty are proxy-aware, and I don't have access to all source code.

[2020-09-04 15:45] hyperxpro commented on #10534
Alright. I will do a PR for this.

[2020-09-04 15:47] hyperxpro commented on #10534
Ignore my previous reply regarding PR. Deleted though.

Where you want Netty to honor those configurations?

[2020-09-04 16:12] iirekm commented on #10534
Netty supports client proxy setup only in `initChannel` as shown here: https://stackoverflow.com/questions/35119032/how-to-use-socks4-5-proxy-handlers-in-netty-client-4-1 (`p.addLast(new Socks4ProxyHandler(new InetSocketAddress("149.202.68.167", 37678)))`)

It would be great if Netty somehow added this line automatically when `-DsocksProxyHost/Port/ProxySelector.setDefault(...)` is present.
Otherw

[2020-09-04 17:04] hyperxpro commented on #10534
I will tackle this

[2020-09-04 20:17] hyperxpro commented on #10534
@iirekm PTAL #10535

[2020-09-05 16:05] thisIBaby opened #10536 "I deployed the Netty service in Tomcat"
I deployed the Netty service in Tomcat. The server receives the data normally, but the client cannot receive the data. It is normal for a Netty client not running in Tomcat to receive data
### JVM version (e.g. `java -version`)e
java 1.8  Tomcat8.57
### OS version (e.g. `uname -a`)
win7

[2020-09-05 19:32] hyperxpro commented on #10536
More details needed.

[2020-09-06 02:53] thisIBaby commented on #10536
This is how I respond to the data to the client

`private void OnoffLoad(NetMessage nms, ChannelHandlerContext ctx) {
		if (StringUtils.isNotEmpty( nms.getContent().toString() )) {

			ctx.writeAndFlush(JSON.toJSONString(new NetMessage("",PacketType.ONOFF_LOAD_COMMIT, null)) + "$_$");
		}
	}`
The client sent data into this method without any errors,  ctx. writeAndFlush also performs normally.
Howe

[2020-09-06 03:05] thisIBaby commented on #10536
My project environment
`<dependencies>
			<dependency>
				<groupId>org.springframework.boot</groupId>
				<artifactId>spring-boot-dependencies</artifactId>
				<version>2.1.0.RELEASE</version>
				<type>pom</type>
				<scope>import</scope>
				<exclusions>
					<exclusion>
						<groupId>org.springframework.boot</groupId>
                    	<artifactId>spring-boot-starter-tomcat</artifactId>

[2020-09-06 05:33] hyperxpro commented on #10536
An error is being thrown but you're not catching it. You need a Listener for that.
Try this:

[code]

[2020-09-06 05:42] thisIBaby commented on #10536
Thank you. The problem has been solved.

[2020-09-06 05:42] #10536 closed

[2020-09-06 06:07] hyperxpro commented on #10536
Make sure to write ByteBuf not just any object.

:)

[2020-09-07 06:01] Delostik opened #10537 "Netty 4.1.16.Final Could not initialize class io.netty.channel.epoll.Native"
I use brpc(a rpc framework) with netty 4.1.16.Final to create epoll event loop, but see following error:
[code]

It seems that the shaded package was loaded but cannot load native library.
And I unpackage the jar
[code]

### Netty version
4.1.16.Final

### JVM version (e.g. `java -version`)
[code]

### OS version (e.g. `uname -a`)
` Linux 1b97d8fc550b 4.19.76-linuxkit #1 SMP Thu Oct 17 19:31:58 UT

[2020-09-07 06:02] hyperxpro commented on #10537
Try upgrading to `4.1.51.Final` and see if issue persists.

[2020-09-07 13:01] Delostik commented on #10537
Okay I will try later. But is there any way to make 4.1.16.Final available? I'm gonna provide an sdk, internal specification may not take effect.

[2020-09-07 14:35] hyperxpro commented on #10537
Here is the error: `Caused by: java.lang.NoClassDefFoundError: Could not initialize class io.netty.channel.epoll.Native`. Are all modules present?

[2020-09-07 14:57] martin-traverse commented on #8259
+1

We're running Java 11 in production now, with some legacy Hadoop stuff stuck on Java 8. I'm fairly sure our security team would knock down a suggestion to run anything on Java 7!

[2020-09-07 22:58] peter-petrov opened #10545 "leak-bytebuf-release-was-not-called"
Hello all! Sorry for writing here informally!

Where can I possibly get some support/guidance about this question?
https://stackoverflow.com/questions/63741540/leak-bytebuf-release-was-not-called-how-do-we-solve-this
I really hope someone from the netty contributors to chime in.
Many thanks in advance!

### Expected behavior
No leak

### Actual behavior
Leak

### Steps to reproduce
Hard to tell, I

[2020-09-08 00:56] tzy123321 commented on #9284
so cool

[2020-09-08 06:44] hyperxpro commented on #10545
Check my latest comment on your question.

[2020-09-08 08:02] wuxiansen commented on #10351
If DeleteOnExitHook is in the open state and the program runs for a long time, the DeleteOnExitHook file keeps increasing.

In fact, temporary files are also cleaned up when HttpData releases resources, but the records in DeleteOnExitHook will only be cleaned up when the application is stopped.

HttpPostStandardRequestDecoder.java
[code]

AbstractHttpData.java
[code]

I re-customized a DeleteOnExi

[2020-09-08 16:17] alkakumari42 opened #10550 "Waited 10000 milliseconds for org.apache.drill.shaded.guava.com.google.common.util.concurrent.SettableFuture@6c2d4cc6[status=PENDING]"
Hi, I have upgraded Netty jar from 4.0.48.Final to 4.1.50.Final. I have made the required code changes. After running my drill project with the new Netty version Plain connection without SSL is working. While not able to connect to drillbit with enabling SSL .
Below error is coming (without stack trace)
Waited 10000 milliseconds for org.apache.drill.shaded.guava.com.google.common.util.concurrent.S

[2020-09-09 06:11] hyperxpro commented on #10550
Show `SslContext` code.

[2020-09-09 07:13] github-big-cheng opened #10553 "Some new issues about FileUpload in 4.1.52.Final"
### Expected behavior
I had a program to upgrade all servers. users upload file like *.war,*.exe, and My program will send file to targer server and restart it.
Now, I found some issue in 4.1.52.Final. When the war file upload, I called shell move it to tomcat'webapps and restart it, but it doesn't run well, the exception is `java.util.zip.ZipException: invalid LOC header (bad signature)` .
I chan

[2020-09-09 07:52] alkakumari42 commented on #10550
Hi,
 SslContext code is the same as of io.netty.handler.ssl.SslContext.java. Do you want me to show this code?

[2020-09-09 07:53] hyperxpro commented on #10550
The builder code I mean. Show.

[2020-09-09 08:56] chrisvest commented on #10553
Can you narrow down the version range, like, does it work in 4.1.51 for instance? The reproducer you linked does not look minimal.

[2020-09-09 09:05] github-big-cheng commented on #10553
In 4.1.51.Final also has a issue [#10516](url:https://github.com/netty/netty/issues/10516) , I will try more version lower version as soon as posible, hope can help you soon

[2020-09-09 09:23] normanmaurer commented on #10545
closing

[2020-09-09 09:23] #10545 closed

[2020-09-09 09:24] normanmaurer commented on #10525
@carl-mastrangelo did you want to todo a PR ?

[2020-09-09 09:25] github-big-cheng commented on #10553
The newest version is 4.1.49.Final. Hope can help you...

[2020-09-09 09:29] normanmaurer commented on #10553
@github-big-cheng so to clarify ... 4.1.49.Final is the newest that is working ?

[2020-09-09 09:31] github-big-cheng commented on #10553
yes

[2020-09-09 10:12] peter-petrov commented on #10545
Thanks, guys. I will troubleshoot further from here on. Now I don't really think it's an issue in netty, probably the issue is in our app-level code.

[2020-09-09 12:51] chenzhiguo commented on #3778
Any continue?

[2020-09-09 19:55] pgrabowski commented on #10455
FYI there will be a fix in Red Hat Linux kernel for this issue.

[2020-09-09 22:59] poekmorgan commented on #10455
Doesn't look like there is a change on kernel. Or, I am confused? sorry, I am not familiar on it

[2020-09-10 01:59] LosAngelesHK commented on #10455
@pgrabowski Thanks for your information. In your issue report, it stated that "Issue is gone when one of IP addresses is removed from dispatcher.list". Could you provide more details about this solution?

[2020-09-10 02:54] #10532 closed

[2020-09-10 05:37] balajit123 commented on #9882
I do have the same issue when fetch a large data. I encountered this while upgrading my application from spring-boot 2.1.16-RELEASE to spring-boot 2.3.3-RELEASE which uses io.netty:netty-common:4.1.51.Final. I didn't encounter this issue on the version prior to upgrade.

[2020-09-10 08:27] pgrabowski commented on #10455
New kernel package is not yet officially released by Red Hat, test version is working as expected. You just need to wait.

I assume you are referring to Kamailio issue:) I think there is a difference in how Java and Kamailio handle SCTP association events received from Linux kernel so this solution is not applicable for Java. This is fix from upstream https://lkml.org/lkml/2020/6/9/972

[2020-09-10 10:43] sealte opened #10562 "Cannot access 'MqttSubscriptionOption.RetainedHandlingPolicy' in 4.1.52.Final"
### Expected behavior
when i do 'new MqttSubscriptionOption(MqttQoS.AT_LEAST_ONCE, true, true, MqttSubscriptionOption.RetainedHandlingPolicy.SEND_AT_SUBSCRIBE_IF_NOT_YET_EXISTS)',

'MqttSubscriptionOption.RetainedHandlingPolicy' should be accessable

### Actual behavior

but 'MqttSubscriptionOption.RetainedHandlingPolicy' cannot be access in 4.1.52.Final

### Steps to reproduce

MqttMessageBuilder

[2020-09-10 12:17] quantshayan opened #10564 "Where to report/inquire for netty security issues"
I can't disclose much here, but can anyone from core dev team let me know where to report/inquire for security issues ?

Thanks

[2020-09-10 12:21] normanmaurer commented on #10564
Use netty-security@googlegroups.com

[2020-09-10 13:18] normanmaurer commented on #10562
@paul-lysak  can you have a look ?

[2020-09-10 13:20] paul-lysak commented on #10562
Ok, will take a look tomorrow.

[2020-09-10 13:54] paul-lysak commented on #10562
Actually, done today: https://github.com/netty/netty/pull/10565/files

[2020-09-10 15:06] poekmorgan commented on #10455
it sounds like a good news.

[2020-09-11 01:21] poekmorgan commented on #10455
@pgrabowski are you saying that you have tested with the new kernel?

[2020-09-11 06:00] Delostik commented on #10537
yes, libraries were found in the shaded jar

[2020-09-11 06:32] #10562 closed

[2020-09-11 13:16] RaulGuo opened #10567 "Why is read() method defined in ChannelOutboundHandler rather than ChannelInboundHandler"
As far as I understand, ChannelInboundHandler should be used to handle IO inbound event, while ChannelOutboundHandler should be used to handle outbound event. And that is confirmed by the Java doc of ChannelHandler

ChannelInboundHandler to handle inbound I/O events, and ChannelOutboundHandler to handle outbound I/O operations.

So, I can surely understand that write() is an outbound event so it s

[2020-09-11 14:05] pgrabowski commented on #10455
Yes, I have tested a kernel with mentioned commit added on top. Official release should happen before RHEL 8.3.

[2020-09-11 14:06] #10385 closed

[2020-09-11 22:43] carl-mastrangelo commented on #10525
@normanmaurer I don't have a fix for the IAE, it's somewhat beyond me.  I also took a stab at updating AbstractHttp2ConnectionHandlerBuilder, but it too is much more complex than I thought.   I'm going to renege for now since it turned out to be more work than expected.

[2020-09-12 18:38] hyperxpro commented on #6832
@normanmaurer I think we should support `SO_SNDBUF` in `ServerBootstrap`. Setting it like this `ctx.channel().config().setOption(ChannelOption.SO_SNDBUF, 2147483647);` works but might not be the best solution.

[2020-09-13 06:36] hyperxpro commented on #10567
For reading data from Outbound Channel.

[2020-09-13 07:09] RaulGuo commented on #10567
@hyperxpro Thank you for your reply, you mean the read() method will be a call back method when the Outbound Channel is beging readed, right? And I saw that in ChannelInboundHandler, there are two method related to read:

[code]
So, let's assume we have an inbound channel A and an outbound Channel B, and A read data from B, then the Inbound Handler of Channel A will have its channelRead and channe

[2020-09-13 07:15] normanmaurer commented on #10567
read() signals we want to read something. This means as soon as some data can be read we will do so and dispatch it via channelRead(...)

[2020-09-14 06:43] ahnuljz commented on #9882
We  have the same issue under springboot 2.3.3.RELEASE+springCloud gateway+netty-common:4.1.51.Final. Unfortuntely, it happends randomly and it's hard to reappear.

[2020-09-14 06:53] ahnuljz commented on #9882
The exception stacks are record as below:

`09-14 13:09:40.300 nacos [reactor-http-epoll-3] INFO  c.y.t.g.f.LoggerRecorderGlobalFilter - >>>>>>>
request url: /product/uni/getCategories
method: POST
header { Host:ta.yebenkj.com,X-Client-IP:36.63.179.178,X-Real-IP:36.63.179.178,X-Forwarded-For:36.63.179.178,X-Forwarded-Port:443,X-Forwarded-Proto:https,Connection:close,Content-Length:42,Sec-Fetch-Mod

[2020-09-14 06:58] normanmaurer commented on #9882
@ahnuljz this looks more like you try to write the same `ByteBuf` multiple times without retaining it. This may be a spring-boot issue /cc @violetagg

[2020-09-14 07:13] ahnuljz commented on #9882
thanks a lot!  I will turn to spring-boot community for help.

[2020-09-14 07:31] liamsharp opened #10569 "libio_grpc_netty_shaded_netty_tcnative_osx_x86_64"
### Expected behavior
The file grpc-netty-shaded-1.31.1.jar/META-INF/native/libio_grpc_netty_shaded_netty_tcnative_osx_x86_64.jnilib being signed.

### Actual behavior
That it's not signed.

### Steps to reproduce
Submit a package to Apple for Notarization containing grpc-netty-shaded-1.31.1.jar. The Notarization process will fail, with the following being reported:

    {
      "severity": "error

[2020-09-14 07:36] violetagg commented on #9882
@ahnuljz Yep please do so

[2020-09-14 09:06] hyperxpro commented on #10569
That's gRPC shaded Netty. We can't do anything. Ask gRPC folks to sign the binary built from shaded Netty.

[2020-09-14 09:07] zentol commented on #10508
@fredericBregier I did not test it with 4.1.51 due to #10425. I will check whether the issue persists in 4.1.52, and if so try to create a reproducer.

[2020-09-14 10:05] #10567 closed

[2020-09-14 10:05] #10564 closed

[2020-09-14 10:06] normanmaurer commented on #10537
Please upgrade to latest netty release and provide all the error logs.

[2020-09-14 10:07] normanmaurer commented on #10496
just put the `IdleStateHandler` in front of the `SniHandler` that will do the trick.

[2020-09-14 10:07] #10496 closed

[2020-09-14 10:08] normanmaurer commented on #10455
Let me close this one as it seems like it is a kernel bug and will be addressed

[2020-09-14 10:08] #10455 closed

[2020-09-14 10:08] #10419 closed

[2020-09-14 10:28] liamsharp commented on #10569
Hi @hyperxpro no problem, can you point me in the right direction to do that? I was sent here after raising https://github.com/grpc/grpc-java/issues/7404

[2020-09-14 11:07] pgrabowski commented on #10455
Sorry for late reply. I wasn't able to retest it yet with bug fix kernel but this is my assumption that this was issue introduced in kernel for RHEL 8.2.

[2020-09-14 13:03] zentol commented on #10508
Ok, I think I got closer to the problem.

I wrote a reproducing test, which ran fast in 4.1.49 and slow in 4.1.50, but when I moved it into a separate project it suddenly ran fast either way.
I then noticed that the test we used so far also uses a `ResourceLeakDetector` set to `PARANOID`. If I set the level to `ADVANCED` it runs quickly with both versions, but `PARANOID` appears to slow things dow

[2020-09-14 13:59] fredericBregier commented on #10508
@zentol Effctively, with PARANOID level set, chunks are quite high consuming time, while other levels are quite quickier. On my tests (same than before, based on 4.1.52):  whatever the pooled/unpooled heap/direct buffers
- No detector: 225 to 230ms
- Simple: 229 to 233ms
- Advanced; 228 to 245ms
- Paranoid:  147.000ms
So yes, there is a hug gap using Paranoid (almost x600). Maybe you can stay in a

[2020-09-14 14:02] fredericBregier commented on #10508
@normanmaurer However I have a question for you, do you think this kind of gap is normal ?
I do know that Paranoid is not for Production, but maybe it is so huge that it could not be usable. Note however that I used Paranoid level for a long time is all my tests and did not found any issue about on my side.

[2020-09-14 14:19] hyperxpro opened #10572 "DatagramPacket Being Garbage Collected"
### Expected behavior
DatagramPacket Being Garbage Collected

### Actual behavior
I store DatagramPackets into Arraylist as Backlog while DatagramChannel is established. Everything works well with a small number of PPS. As soon as I start to fire 1M PPS, GC starts collecting DatagramPackets from Arraylist and sometime even when Packets are being written into Channel `writeAndFlush`.

[code]

### S

[2020-09-14 14:21] hyperxpro commented on #10572
Also, why do I need to call `ByteBuf.release` when I actually want to write the packet? This is weird.

[2020-09-14 14:23] normanmaurer commented on #10572
Show me the code for `UpstreamHandler`.

[2020-09-14 14:23] hyperxpro commented on #10572
[code]

[2020-09-14 14:23] hyperxpro commented on #10572
[code]

[2020-09-14 14:30] normanmaurer commented on #10572
So I have no time to look into all of the code but from a quick look there seems to be a few problematic things:

* when channelFuture is failed you just clear the array without releasing everything that is stored in it first. This will cause a memory leak if there is anything in there at this point in time.
* Are you sure that `EventLoopUtils.CHILD.next()` will always return the same `EventLoop`

[2020-09-14 14:32] hyperxpro commented on #10572
Alright. Lemme try to debug more and see. Will keep you updated. Thanks. :)

[2020-09-14 15:20] hyperxpro commented on #10572
Your point 1: Fixed it.
Your point 2: We'll access ArrayList only once because we're just writing the pending backlog packets.
Your point 3: Yes, that can cause an issue but I've plans to implement in the future. For now, All connections are long-lived and don't disconnect. So we're good not now.

Code workflow:

Packets Arrive -> Already Connected? -> Write Packet Directly Into DatagramChannel
Pa

[2020-09-14 16:06] ejona86 commented on #10569
The file is simply a renamed copy of the Netty file. If Netty signed the jnilib, then it would seem that gRPC's renaming would also be signed. From what I can tell, it appears signing is stable across renames.

[2020-09-14 18:12] hyperxpro commented on #10572
@normanmaurer What do these mean?

[code]

[2020-09-14 18:45] hyperxpro commented on #10572
Issue solved with `ConcurrentLinkedQueue` instead of `ArrayList`.

Though, I'm still getting this: `[nioEventLoopGroup-3-7] DEBUG i.n.c.n.NioEventLoop - Selector.select() returned prematurely 3 times in a row for Selector io.netty.channel.nio.SelectedSelectionKeySetSelector@1a6efb4c`.

Please explain that when you're free. @normanmaurer

[2020-09-15 05:13] ntomoya opened #10574 "Obsolete line folding in HTTP headers enables CRLF injection on Internet Explorer"
### Expected behavior
The validator for HTTP header should follow RFC 7230 and will solve this issue. (https://tools.ietf.org/html/rfc7230#section-3.2.4)

multiple lines by preceding each extra line with at least one space
or horizontal tab (obs-fold).  This specification deprecates such
line folding except within the message/http media type
(Section 8.3.1).  A sender MUST NOT generate a message t

[2020-09-15 07:35] RaulGuo commented on #10567
@normanmaurer So, the read() method will be invoked when current channel is prepared to be readed? maybe renaming the function to sth else, like readable() will be more easy to understand.

[2020-09-15 08:42] liamsharp commented on #10569
@ejona86 Can you point me at the right project to raise the issue?

[2020-09-15 08:43] normanmaurer commented on #10569
@liamsharp I think this one is the right...

[2020-09-15 09:42] zentol commented on #10508
Using Advanced would be workaround we would go for, but this runtime increase on Paranoid does not seem normal. It was perfectly fine to use Paranoid in earlier versions, and it would be unfortunate to weaken our tests now with never versions. :/

[2020-09-15 12:59] normanmaurer commented on #10572
there is a bug in the windows implementation of Selector and we workaround it.

[2020-09-15 12:59] #10572 closed

[2020-09-15 13:02] normanmaurer commented on #10574
@ntomoya so you talk about the validation when encoding headers ?

[2020-09-15 14:38] #10351 closed

[2020-09-15 14:47] ntomoya commented on #10574
@normanmaurer yes, validation on encoding headers is insufficient for IE.

[2020-09-15 15:23] ejona86 commented on #10569
@liamsharp, technically https://github.com/netty/netty-tcnative may be a slightly better place, but this problem probably impacts kqueue as well.

I've not found a good way to check whether a jnilib is signed from Linux (since I don't have access to a Mac). But I didn't find any codesign invocation in Netty and this seems like something where if we codesigned one binary we would probably be codesi

[2020-09-15 22:14] xavs commented on #6125
I think I am experiencing a similar issue.

[2020-09-16 02:26] swoky opened #10579 "is there any way to customize ssl ClientHello message ?"
i am using netty as the http client ,
and  SslProvider  is  OPENSSL ,
i want to modify the Extension part ,
so is there any way to customize ssl ClientHello message ?

### Expected behavior

support a handler to customize the ClientHello message before handshake.

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
4.1.50
### JV

[2020-09-16 03:25] ntomoya commented on #10574
To be more precisely, the example below throws an error,
[code]
[code]
but this one is executed with no error.
[code]

[2020-09-16 06:11] liucyu commented on #5892
good job !

[2020-09-16 09:56] Doyuni opened #10582 "Add validation check about websocket path"
### Expected behavior

If I add WebSocketServerProtocolHandler like below,
[code]
I expected :
 `/websocket/a` : return true
 `/websocketabc` : return false
 `/websocket?name=doyuni` : return true

### Actual behavior

But it return true on all above case.

I don't want this handler to pass `/websocketabc` through.

### Steps to reproduce

Just modify one method like below code.

### Minimal yet c

[2020-09-16 09:57] normanmaurer commented on #10582
@Doyuni please open a PR with the fix and a testcase-

[2020-09-16 09:58] Doyuni commented on #10582
Okay I got it.

[2020-09-17 14:12] hyperxpro commented on #10579
Add handler before SslHandler and modify the `ByteBuf` containing `ClientHello` message of TLS.

[2020-09-18 06:53] wbuilder282 commented on #7244
thanks! @johnou @carl-mastrangelo

[2020-09-18 07:00] hyperxpro opened #10587 "SslHandler should have option to enable / disable harmless exceptions"
### Expected behavior.
SslHandler should have an option of whether we want to swallow harmless exceptions or not.

### Actual behavior
SslHandler throws an exception in itself and we're unable to handle it.

### Steps to reproduce
Do anything which causes SslHandler to throw a swallow exception.

### Minimal yet complete reproducer code (or URL to code)
NONE

### Netty version
4.1.52.Final

### JV

[2020-09-18 07:00] hyperxpro commented on #10587
[code]

[2020-09-18 07:03] hyperxpro commented on #10587
Okay, I see:
[code]

But I think we should have some way to configure whether want to swallow or not.

[2020-09-18 07:07] johnou commented on #10587
Can you extend the handler and override ignoreException?

[2020-09-18 07:08] hyperxpro commented on #10587
If SslHandler is created by SniHandler then I can't.

[2020-09-18 07:19] violetagg commented on #10587
You should be able to provide your own SslHandler
https://github.com/netty/netty/blob/79a7c157a3e122872321844b73c4881e412dba77/handler/src/main/java/io/netty/handler/ssl/SniHandler.java#L150-L152

[2020-09-18 07:29] hyperxpro commented on #10587
Perfect! Thanks a lot @violetagg!

Hope this code will help someone else too in future. :)
[code]

[2020-09-18 07:29] #10587 closed

[2020-09-19 01:10] igiantpanda opened #10590 "A lot of log will be output and consumed a lot of CPU after network is disconnected on Android devices"
I have a trouble about netty when I use micronaut on Android. And I reported an issue to micronaut(https://github.com/micronaut-projects/micronaut-core/issues/4129). But they tell me that I should report the issue to netty.

### Expected behavior
Micronaut server stopped normally.

### Actual behavior
Micronaut server will be stopped, but a lot of log will be output. And this will take up a lot of

[2020-09-19 05:28] hyperxpro commented on #10590
Turn off logging for `io.netty.channel.nio.NioEventLoop`

[2020-09-19 07:47] grober82 commented on #10590
I hope that this is a joke. There must be a bug in Netty that causes these messages in the first place.

[2020-09-19 07:48] hyperxpro commented on #10590
There is no bug in Netty but in Java NIO. So apart from turn off logging, you can switch to Epoll mechanism. Else, no other option. :)

[2020-09-19 07:49] igiantpanda commented on #10590
I'm a beginner, could you tell me how to turn off logging for `io.netty.channel.nio.NioEventLoop`?
Thanks.

[2020-09-19 07:50] normanmaurer commented on #10590
I will have a look but this seems to be caused by a bug in the nio implementation of android as this should really never happen

[2020-09-19 08:51] hyperxpro commented on #10590
Depends on what logger you're using.

[2020-09-19 21:47] hussain-k1 opened #10592 "Caused by: java.lang.ClassNotFoundException: io.netty.util.concurrent.OrderedEventExecutor"
Having this Caused by: java.lang.ClassNotFoundException: io.netty.util.concurrent.OrderedEventExecutor
 error in when using Netty 4.1. Please suggest a work around, Thanks

[2020-09-20 06:39] hyperxpro commented on #10592
Missing dependencies.

[2020-09-21 03:32] igiantpanda commented on #10590
After I turn off logging for `io.netty.channel.nio.NioEventLoop`, I also found a lot of the follow exception. And the exception is existed before I turn off logging for `io.netty.channel.nio.NioEventLoop`.
And I tried to turn off logging for `io.netty.channel.DefaultChannelPipeline`, then the exception log will not output.
But the application still consumes a lot of CPU resource, even though I sto

[2020-09-21 08:19] sealte opened #10593 "java.lang.NoSuchMethodError: java.nio.ByteBuffer.limit(I)Ljava/nio/ByteBuffer"
### Expected behavior
No error is thrown.
### Actual behavior
The following error is thrown:

[code]

### Steps to reproduce
Run the provided reproducer code.
### Minimal yet complete reproducer code (or URL to code)
https://github.com/sealte/nety4152bug/blob/a7437dd15b023c5ba00c80e4a3821948949b60ba/src/test/java/com/example/netty4152bug/Netty4152BugApplicationTests.java#L15
### Netty version
4.1.

[2020-09-21 08:29] slandelle commented on #10593
Exactly. You can't compile Netty with Java 9+ and have it run with Java 8 because you would bind to a method that doesn't exist. Java is backward compatible (old code can run on new JVM), not forward compatible (the other way around).

Not exactly. Old Buffer methods are still there but ByteBuffer now overrides to return ByteBuffer instead of Buffer.

The only workaround would be to uglify the cod

[2020-09-21 08:32] normanmaurer commented on #10593
hmm... This is strange as we release netty from a docker container that uses java8. Are you sure this happens by just depend on the netty jar ?

[2020-09-21 08:32] johnou commented on #10593
@normanmaurer I think we can work around this by casting to java.nio.Buffer.

[2020-09-21 08:33] johnou commented on #10593
see https://github.com/classgraph/classgraph/commit/dbc97867416f81efcc633334a6a9cf27b699caac

[2020-09-21 08:34] slandelle commented on #10593
@sealte Did you recompile Netty yourself?

[2020-09-21 08:44] sealte commented on #10593
Sorry, my mistake.  I recompile Netty use JDK13 for [#10562](https://github.com/netty/netty/issues/10562).
This bug doesn't exists.

[2020-09-21 08:44] #10593 closed

[2020-09-21 13:22] normanmaurer commented on #10592
This means you don't have "netty-common" on the class path.

[2020-09-21 13:22] #10592 closed

[2020-09-21 13:23] normanmaurer commented on #10590
This is definitely an android bug. There is not much we can do unfortunally :/

[2020-09-21 13:23] normanmaurer commented on #10579
@swoky what exactly you want to modify there ?

[2020-09-21 13:24] normanmaurer commented on #10537
LEt me close this for now and please reopen if you still see issues after upgrading

[2020-09-21 13:24] #10537 closed

[2020-09-21 13:24] normanmaurer commented on #10515
This was fixed by #10510

[2020-09-21 13:24] #10515 closed

[2020-09-21 13:25] normanmaurer commented on #10508
sorry for the late reply... The problem with "paranoid" is that it basically creates one stack trace per `ByteBuf` access which can be very expensive. So these kind of performance drops can happen.

[2020-09-21 13:27] normanmaurer commented on #10502
Sorry for the late response... I missed this one. This is just how TLS1.3 works. In TLS1.3 the handshake is already considered complete when the trust manager is consulted.

See also:

https://stackoverflow.com/questions/62459802/tls-1-3-client-does-not-report-failed-handshake-when-client-certificate-verifica/62465859#62465859