[2017-01-18 17:59] doom369 commented on #6221
@normanmaurer OOM happens within 2 minutes of test. Maybe your instance far way and you don't create enough of burst load at the start? What stats.log shows during your test run? What network traffic does your test create?

I can provide you with access to test env. But I'll need you ssh rsa key for that.

[2017-01-18 18:00] doom369 commented on #6221
I can give you also build with boring-ssl so we make sure this not envirnoment.

[2017-01-18 18:01] normanmaurer commented on #6221
@doom369 alright... just sent me an email to norman dot maurer at googlemail dot com and I will respond with it. Also is it somehow possible for me to build the server jar by myself just so it would be easy to use custom netty jar etc.

[2017-01-18 18:05] normanmaurer commented on #6221
@doom369 actually I run it on localhost so it should be fast enough imho

[2017-01-18 18:13] normanmaurer commented on #6221
@doom369 also do you by any chance have the heap dump of https://github.com/netty/netty/issues/6221#issuecomment-273463935 ?

[2017-01-18 19:04] Scottmitch opened #6248 "Lz4FrameEncoder compression failure behavior"
If `Lz4FrameEncoder` encounters an error during compression the buffered content is left untouched and an exception is thrown [1]. Since Lz4 allows data to be sent "uncompressed" should we just send the data to the remote peer "uncompressed" so data is not lost?

Outstanding questions:
- Is it generally expected if we fail to compress then the data is generally "bad" and won't be useful to the pee

[2017-01-18 19:05] Scottmitch commented on #6248
@jasobrown @idelpivnitskiy - FYI

[2017-01-18 22:38] rkapsi opened #6249 "error:140D00CF:SSL routines:SSL_write:protocol is shutdown = memory leak?"
We're currently running a 4.1.7.Final-SNAPSHOT version of Netty that pre-dates the official 4.1.7.Final release (our SNAPSHOT is roughly from January 6, 2017).

We today attempted a release with 4.1.8.Final-SNAPSHOT and I've tried 4.1.7.Final as well. There is suddenly a large number of the following (new) Exceptions and the server runs out of memory quickly until Linux's oom_killer steps in and a

[2017-01-18 22:42] rkapsi commented on #6221
Interesting, any chance this is related to #6249

[2017-01-18 22:44] rkapsi commented on #6249
I forgot to mention that I tried to run it with `-Dio.netty.noPreferDirect=true"` and `-Dio.netty.allocator.type=unpooled"` which doesn't make a difference.

[2017-01-18 22:49] doom369 commented on #6249
@rkapsi you also need to turn openssl off in order to avoid leak. I think @normanmaurer will update us regarding those tickets soon.

[2017-01-18 22:54] rkapsi commented on #6249
In our case not really an option. Our product depends on it but I can thankfully continue using the working version of Netty in the meantime.

[2017-01-18 23:37] Scottmitch commented on #6246
PR https://github.com/netty/netty/pull/6042 was developed against 4.1 and merged into both 4.1 and 4.0 but was specifically target at `getSystemClassLoader`.  This issue is for `PlatformDependent.getClassLoader` which was not addressed ... let me investigate.

[2017-01-18 23:46] Scottmitch commented on #6246
@jesperpedersen - You also verified #6042 in https://github.com/netty/netty/pull/6042#issuecomment-261929942. Did your use case or something else change?

[2017-01-19 00:23] Scottmitch commented on #6249
@rkapsi - Can you try to run with https://github.com/netty/netty/pull/6238 ? There was a bug in the commit you referenced [removed a call to shutdown](https://github.com/netty/netty/commit/dd055c01c78c3a6ce5b9195890486a6e1ab072d2#diff-cfd417915faad637e4278b54adafd9baL551) in error.

[2017-01-19 00:24] rkapsi commented on #6249
@Scottmitch will do tomorrow first thing in the morning (NYC time).

[2017-01-19 02:37] #6210 closed

[2017-01-19 05:43] idelpivnitskiy commented on #6248
@Scottmitch good point, thanks!

I've checked the source code of lz4-java library, looks like most probable cause of `LZ4Exception` is not enough length of destination buffer/array: https://github.com/jpountz/lz4-java/search?q=throw+new+LZ4Exception&type=Code&utf8=%E2%9C%93

But we check it before call `compress` method: https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/

[2017-01-19 06:52] normanmaurer commented on #6249
@rkapsi the exception is fixed by https://github.com/netty/netty/pull/6238 ... Will have another PR this morning to test with.

[2017-01-19 07:38] normanmaurer commented on #6192
Fixed by https://github.com/netty/netty/pull/6235

[2017-01-19 07:38] #6192 closed

[2017-01-19 08:25] normanmaurer commented on #6221
With the help of @doom369 I was able to track down the change that is guilty for this "regression". https://github.com/netty/netty/pull/6252 should fix this. The commit message of https://github.com/netty/netty/pull/6252 should give you a better idea what happened, so I will not repeat it here  but to make it short its not a memory leak but just a change in how much memory is used when using our c

[2017-01-19 08:25] normanmaurer commented on #6249
@rkapsi PTAL at https://github.com/netty/netty/pull/6252 as well.

[2017-01-19 08:35] normanmaurer commented on #6227
its necessary as if the user used `ChannelInitializer` it will otherwise mess up the order. Here is the unit test:
https://github.com/netty/netty/commit/4638df20628a8987c8709f0f8e5f3679a914ce1a

[2017-01-19 08:35] #6227 closed

[2017-01-19 09:14] wangyuntao commented on #6227
Hi @normanmaurer , I changed the ServerBootstrap code back to the original one according to that commit, and both tests still passed.

[2017-01-19 12:22] doom369 commented on #6221
@normanmaurer checked again with your PR from scratch. Everything seems fine. Not reproducible anymore. All last tests I also run with `io.netty.leakDetection.level=disabled`. Static Boring SSL seems fine too with it.

[2017-01-19 12:48] normanmaurer commented on #6221
@doom369 thanks a lot !

[2017-01-19 12:48] normanmaurer commented on #6221
Let me re-open until the PR is merged.

[2017-01-19 13:28] jasobrown commented on #6248
I think it's impossible for a library, such as netty, to make that determination. All we can know is the compression failed, for some reason. It might be the data, it might an obscure edge case in the compression alg itself ("zip bombs" for example) - but we can't know. The best we can do, I think is to send the uncompressed data along, and if the receiver chokes on the data, then the app will nee

[2017-01-19 13:59] jesperpedersen commented on #6246
No, nothing changed other than we switched to Netty 4.1.

Netty 4.0.43 worked, and reverting back to Netty 4.1.4 also worked.

[2017-01-19 14:08] maybhi commented on #6228
@Scottmitch Please tell me why shoud we write ctx.flush(); in channelReadComplete method of server handler to avoid the error what we get?

[2017-01-19 14:11] johnou commented on #6228
@maybhi from the snippets you have provided it's hard to get context, would you please provide a full reproducer?

[2017-01-19 15:24] rkapsi commented on #6249
@normanmaurer confirm, this fixes the Exception. Stay tuned regards the memory problem. It appears #6252 **does not** fix it.

This is how one of our graphs looked like: https://i.imgsafe.org/0d77f1a4e6.png

I was wrong regards the SNAPSHOT version we use (the one that works). It's a build from January 9. I have a few more builds I can try.

[2017-01-19 15:40] normanmaurer commented on #6249
@rkapsi can I have a heap dump?

[2017-01-19 16:11] rkapsi commented on #6249
Unfortunately no. It contains sensitive PKI material. If you have a hunch, class names etc. then let me know. I can poke around and share screenshots and numbers.

I've just double checked #6252 with a second build. The leak persists. The graph from above show's Linux's free memory (e.g. the value that's shown in `top`). As you can see it drops from ~12GB down to almost nothing. Our JVM heap is co

[2017-01-19 16:21] normanmaurer commented on #6249
@rkapsi bummer... maybe ChannelOutboundBuffer.Entry instances. Would be interested to see what ByteBuf instances are in there and what there indices + capacity are.

[2017-01-19 16:21] normanmaurer commented on #6249
@rkapsi also if you can give me any idea which builds worked and which started to show this would help

[2017-01-19 16:39] Scottmitch commented on #6221
great work @normanmaurer !

+1 on the big thanks to @doom369 for the debug support!

[2017-01-19 16:50] rkapsi commented on #6249
https://i.imgsafe.org/0ed39effb0.png
https://i.imgsafe.org/0ed437aecf.png

OK: netty-all-4.1.7.Final-20170109.120749-87 (the version we use)
OK: netty-all-4.1.7.Final-20170110.120845-88
OK: netty-all-4.1.7.Final-20170111.122656-89 (last build I have)

So it's something after January 11. Going to cut releases from commits as next.

[2017-01-19 16:53] Scottmitch commented on #6248
I would also need to dig in to understand in more detail. However on first glance I suspect for our use case exceptions arise due to a bug in our code, compression library, or malicious/unexpected data. My main concern is about forwarding malicious data, but maybe it is OK to assume that is the peer's responsibility to handle.

[2017-01-19 16:53] normanmaurer commented on #6249
@rkapsi ok thanks... keep me posted

[2017-01-19 16:56] Scottmitch commented on #6246
To clarify ... your version of Netty changed? You verified on 4.x but you are now using 4.1, correct?

[2017-01-19 17:01] #6246 closed

[2017-01-19 17:02] rkapsi commented on #6249
I forgot to say, the second screenshot shows only one Entry/ByteBuf expanded but the values are the same for the others (max capacity and writer index are 65k).

[2017-01-19 17:04] normanmaurer commented on #6249
@rkapsi also can you tell me if its direct memory or heap memory that cause the problem ? And also what are the objects that take most space in the heap dump ?

[2017-01-19 17:09] jesperpedersen commented on #6246
I originally verified with the patch for 4.0, since we ere using that version at the time. We later moved to 4.1, which I now have verified. So correct.

[2017-01-19 17:11] rkapsi commented on #6249
By Object: https://i.imgsafe.org/0f22ec87c3.png
By Size: https://i.imgsafe.org/0f2335cb22.png

I'd be direct memory that causes the problem. Our JVM heap is configured to be 4GB and the dump file is only 2.3GB and YourKit says 1.8GB is effectively in use.

[2017-01-19 17:15] Scottmitch commented on #6246
thx for clarifying ... based on https://github.com/netty/netty/pull/6251#issuecomment-273782967 you should now also be able to use 4.1.

[2017-01-19 18:31] normanmaurer commented on #6212
Fixed by https://github.com/netty/netty/pull/6240

[2017-01-19 18:31] #6212 closed

[2017-01-19 18:42] #6209 closed

[2017-01-19 18:51] rkapsi commented on #6249
Alright, found the commit: https://github.com/netty/netty/commit/be8c16cd0c54f9013b539741bf2a1db13ddc0126

We do use mutual TLS but I don't quite understand what's happening there.

Memory usage after each deploy: https://i.imgsafe.org/109d30b4c9.png
Normal memory: https://i.imgsafe.org/109dd92c71.png
Bad memory: https://i.imgsafe.org/109d838047.png

[2017-01-19 18:52] normanmaurer commented on #6249
@rkapsi thanks a lot... Not sure how this could lead to this but I will have a look shortly!

[2017-01-19 19:15] normanmaurer commented on #6249
@rkapsi talking with @Scottmitch atm... @Scottmitch may be on something... will keep you posted

[2017-01-19 19:17] normanmaurer commented on #6249
@rkapsi also is it correct to assume that you create / destroy a lot of ReferenceCountedOpenSslServerContext instances ?

[2017-01-19 19:20] Scottmitch commented on #6249
@rkapsi - Thanks for the commit reference ... I think I found a potential leak https://github.com/netty/netty-tcnative/pull/220 .. I'm going to run Netty tests now but can you try this?

[2017-01-19 19:29] rkapsi commented on #6249
@normanmaurer yes we do. Possibly by the millions per day.

[2017-01-19 19:37] rkapsi commented on #6249
@Scottmitch excellent. Do you publish nightly SNAPSHOTs of tcnative anywhere? We depend on the linux-x86_64-fedora artifact and I have no easy way to build it.

[2017-01-19 19:38] normanmaurer commented on #6249
@rkapsi we do on oss.sonatype.org but not for PRs. Should I send you the jars via email ?

[2017-01-19 19:40] rkapsi commented on #6249
@normanmaurer ok, that works - rkapsi at geeemail dot com

[2017-01-19 20:02] Scottmitch commented on #6249
I will re-open until we verify there are no other issues.

[2017-01-19 20:02] normanmaurer commented on #6249
@Scottmitch shouldnt we wait until @rkapsi verified it before closing it ?

[2017-01-19 20:02] Scottmitch commented on #6249
(it closed automatically bcz the tcnative commit referenced this issue)

[2017-01-19 20:02] normanmaurer commented on #6249
lol... You beat me by a few secs ;)

[2017-01-19 20:08] normanmaurer commented on #6249
@rkapsi you have mail :)

[2017-01-19 20:30] normanmaurer commented on #6221
Fixed by https://github.com/netty/netty/pull/6252

[2017-01-19 21:06] rkapsi commented on #6249
Testing...

[2017-01-19 21:30] normanmaurer commented on #6249
Thx!

[2017-01-19 21:57] rkapsi commented on #6249
@normanmaurer @Scottmitch victory! thx gentleman.

[2017-01-19 23:49] brianatpurestorage opened #6255 "Question about name resolution IPv4 / IPv6 and reachability"
I can see that netty does do a resolve all when given a name to resolve. How does it currently decide which address to actually connect to?

Let's say we have:
root@c14-d38-lp1:~# host yahoo.com
yahoo.com has address 206.190.36.45
yahoo.com has address 98.139.183.24
yahoo.com has address 98.138.253.109
yahoo.com has IPv6 address 2001:4998:c:a06::2:4008
yahoo.com has IPv6 address 2001:4998:58:c02::

[2017-01-20 02:32] Scottmitch commented on #6249
great ... thanks for verifying!

Fixed by https://github.com/netty/netty-tcnative/pull/220

[2017-01-20 02:32] #6249 closed

[2017-01-20 05:31] normanmaurer commented on #6249
Awesome!

[2017-01-20 16:08] doom369 commented on #6249
@normanmaurer does adding tcnative-snapshot would be enough? Or I should also rebuild netty with it in order to apply this patch?

[2017-01-20 16:09] normanmaurer commented on #6249
@doom369 just the snapshot... That said I just released netty-tcnative-1.1.33.Fork26 which includes the fix. Just waiting for maven central to sync before update the version in netty.

[2017-01-20 16:10] doom369 commented on #6249
@normanmaurer thanks, super. As I just reproduced same behaviour on small prod instance.

[2017-01-20 16:54] normanmaurer commented on #6249
@doom369 already its on maven central now... See also: https://github.com/netty/netty/pull/6259

[2017-01-20 18:11] rkapsi commented on #6249
@normanmaurer FYI: I have now moved to 4.1.8-SNAPSHOT and Fork26. Things are good but that shutdown exception is still happening (but at a much lower velocity).

[code]

[code]

[2017-01-20 18:26] normanmaurer commented on #6249
@rkapsi can you tell me what commit the snapshot is on ?

[2017-01-20 18:30] rkapsi commented on #6249
That is the current/most recent nightly.

[code]

[2017-01-20 18:32] normanmaurer commented on #6249
@rkapsi hmm... I will have a look ( can you open a new issue with the stack please ?)

[2017-01-20 19:19] normanmaurer opened #6260 "javax.net.ssl.SSLException: error:140D00CF:SSL routines:SSL_write:protocol is shutdown"
[code]

Reported by @rkapsi in https://github.com/netty/netty/issues/6249#issuecomment-274139907

[2017-01-20 19:20] normanmaurer commented on #6249
@rkapsi I created it as https://github.com/netty/netty/issues/6260 ... will investigate

[2017-01-20 19:20] normanmaurer commented on #6260
Looking....

[2017-01-20 19:22] rkapsi opened #6261 "SSLException: error:140D00CF:SSL routines:SSL_write:protocol is shutdown #2"
It appears the the `protocol is shutdown` Exception is still present in 4.1.8.Final-SNAPSHOT.

[code]

[code]

[code]

[2017-01-20 19:23] normanmaurer commented on #6261
Duplicate of https://github.com/netty/netty/issues/6260 :) I was faster ;)

[2017-01-20 19:23] #6261 closed

[2017-01-20 19:24] rkapsi commented on #6261
Damn... Just as I was about tho hit the close button.

[code]

[2017-01-20 20:17] normanmaurer commented on #6260
@rkapsi do you have a more complete stacktrace for me ?

[2017-01-20 20:24] rkapsi commented on #6260
Sure... Here's one for H2

[code]

[2017-01-20 20:28] rkapsi commented on #6260
The common thing appears to be `channelInactive()` triggering a `flush()` which then throws.

[2017-01-20 20:43] normanmaurer commented on #6260
@rkapsi PTAL https://github.com/netty/netty/pull/6262 and if possible test the change. I am trying to write a unit test for it now.

[2017-01-20 23:02] ppatierno commented on #5828
@normanmaurer any news on that ? I'd like to provide my support but your idea is still not so clear to me :(

[2017-01-21 06:37] normanmaurer commented on #6260
fixed by https://github.com/netty/netty/pull/6262#issuecomment-274183090

[2017-01-21 06:37] #6260 closed

[2017-01-22 14:39] doom369 commented on #6221
@normanmaurer I was able to reproduce issue after 24 hour run on production. Please reopen ticket.

OpenSSL enabled, no any additional options.
No traffic spikes. Actually traffic was very low - 0.5 Mbps in and same out.
600 opened connection. 800 req/sec.
Instantly memory just started growing for now reason until OOM in logs.
No LEAK reports from netty.

[code]

This is screen of heap after OOM s

[2017-01-22 14:52] normanmaurer commented on #6221
Can a get a dump again?

[2017-01-22 14:55] doom369 commented on #6221
@normanmaurer sure. sent link via email.

[2017-01-22 14:59] normanmaurer commented on #6221
Thanks... also on which commit your are?

[2017-01-22 15:03] doom369 commented on #6221
@normanmaurer latest one. 907726988dec6841933afa18d70f07830097b56a

Yesterday pulled all changed and did build and deploy.

[2017-01-23 02:59] wangyuntao commented on #6227
@normanmaurer , please check it.

[2017-01-23 04:36] wangyuntao opened #6264 "Code suggestion about shutdownGracefully"
Here's the current [code](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/concurrent/SingleThreadEventExecutor.java#L557), and the following is a code snippet:

[code]

Would it be better to code like this?

[code]

[2017-01-23 11:54] isdom opened #6265 "Missing log placeholder for "-Dio.netty.allocator.useCacheForAllThreads" (io.netty.buffer.PooledByteBufAllocator)"
netty start log SHOULD output: -Dio.netty.allocator.useCacheForAllThreads true/false

BUT now start log output: -Dio.netty.allocator.useCacheForAllThreads, missing actual value

start any netty server or client with LOG Level : DEBUG

<img width="736" alt="2017-01-23 7 48 12" src="https://cloud.githubusercontent.com/assets/2010691/22202831/f5b4b2d4-e1a4-11e6-85d2-03440380b6f9.png">

netty-all-4.1.

[2017-01-23 12:12] fangqiao opened #6266 "4.1.6: Frequent Exception caught @ class io.netty.channel.unix.Errors$NativeIoException : syscall:read(...)() failed: Connection reset by peer"
I am using 4.1.6 as REST API service infrastructure.

During testing, Netty often reports this exception:

Exception caught @ class io.netty.channel.unix.Errors$NativeIoException : syscall:read(...)() failed: Connection reset by peer.

And the client current REST request seems to receive the response of an earlier REST request that has been returned successfully when this exception happens.

This

[2017-01-23 13:49] normanmaurer commented on #6265
@isdom yes... Want to open a PR to fix it ?

[2017-01-23 16:24] jasontedor commented on #6265
In Elasticsearch we use a [logger checker](https://github.com/elastic/elasticsearch/blob/d9a3ffcea077b0694275e91e71d2cd9cefea6090/test/logger-usage/src/main/java/org/elasticsearch/test/loggerusage/ESLoggerUsageChecker.java) to ensure that this never happens; we fail the build if the placeholders do not match the arguments.

[2017-01-23 16:35] igor-dmitriev commented on #6125
@Scottmitch I've increased the limit up to 20. I got much bigger logs, but I can't understand why the exception is occurred. Btw in some cases it shows me that memory leak in my code:

public class MessageWrapper{
 private FullHttpMessage fullHttpMessage;
 public MessageWrapper(FullHttpMessage fullHttpMessage) {
   this.fullHttpMessage = fullHttpMessage;
}

public String getContent(){
 return full

[2017-01-23 16:38] Scottmitch commented on #6264
please submit a PR if you this this is an improvement. I don't see `wakeup` taken into account.

[2017-01-23 16:42] Scottmitch commented on #6266
This means your peer has sent a `RST`. Can you describe what the Netty issue is?

[2017-01-23 17:52] Scottmitch commented on #6125
When/where do you release the `FullHttpMessage` which is contained in `MessageWrapper`? Generally objects which contain `ReferenceCounted` objects extend [ReferenceCounted](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/ReferenceCounted.java) them selves to delegate release/retain method calls. Have you read http://netty.io/wiki/reference-counted-objects.html? Just chan

[2017-01-23 19:54] igor-dmitriev commented on #6125
I don't release FullHttpMessage by myself, it releases by SimpleChannelInboundHandler:
try {
            if (acceptInboundMessage(msg)) {
                @SuppressWarnings("unchecked")
                I imsg = (I) msg;
                channelRead0(ctx, imsg);
            } else {
                release = false;
                ctx.fireChannelRead(msg);
            }
        } finally {

[2017-01-23 20:57] normanmaurer commented on #6221
@doom369 I did not have time yet to investigate in detail but seems like the dumps are not up anymore and i missed to download them in time as I was busy. Could you please reupload and ensure these not "timeout" ?

[2017-01-23 21:04] doom369 commented on #6221
@normanmaurer done, see your email.

[2017-01-23 21:18] normanmaurer commented on #6221
@doom369 will ping you tomorrow morning and see if we can find out whats wrong.

[2017-01-23 21:19] doom369 commented on #6221
Ok.Thanks for looking into it.

[2017-01-23 21:35] Scottmitch commented on #6125
It is difficult to determine how `MessageWrapper` is used, but is the intention for objects of type `MessageWrapper` to live outside the lifetime of this `SimpleChannelInboundHandler` call, and is the `MessageWrapper` directly passed through the pipeline?

I sympathize with your frustration as reference counting can be painful. Can you provide a complete leak trace? A leak trace that includes your

[2017-01-23 23:15] fangqiao commented on #6266
There was an old issue [3539](https://github.com/netty/netty/issues/3539) of similar problem. I thought the problem might have resurfaced. On the other hand, it might be the Nginx reverse proxy configuration problem. I am looking into it.

Thanks

[2017-01-24 00:15] Scottmitch commented on #6266
As far as I know the issue you referenced should still be resolved. If you are able to provide a reproducer that would help us track down the issue.

[2017-01-24 01:48] isdom commented on #6265
@normanmaurer I fell asleep...  next time I will try open a PR to fix simple issue.

[2017-01-24 03:13] wangyuntao commented on #6264
@Scottmitch Thank you  for  your advice, here is the PR #6267

[2017-01-24 07:41] normanmaurer commented on #6265
@isdom you can still do if you like :) We love contributions 👍

[2017-01-24 07:59] qierangtianxia commented on #6266
ok,i just look

[2017-01-24 10:18] isdom commented on #6265
thanks @normanmaurer ,  let me try...

[2017-01-24 18:43] GotoFinal opened #6269 "Direct buffers in java 9? Reflections on java classes fails on java 9."
I can't find anything in other issues, so I want to ask if there are any plans for implementing direct buffers in netty for java 9?
Currently it fails to get address field of direct byte buffer field due to java 9 modules that disallows for reflection usage on java classes (why they done that...).
https://github.com/netty/netty/blob/4f6ef695822253715dc75cd7355f3325505cae67/common/src/main/java/io/

[2017-01-24 18:48] igor-dmitriev commented on #6125
@Scottmitch got more logs, maybe it can help:
[code]

[2017-01-24 18:59] Scottmitch commented on #6125
The leak report doesn't look complete and jumps from `11` to `5`. Also you didn't answer my question from https://github.com/netty/netty/issues/6125#issuecomment-274624509

[2017-01-24 19:10] Scottmitch commented on #6269
thanks for bringing this up ... we will have to investigate in more detail.

[2017-01-24 19:39] mosesn opened #6272 "race condition in http/2 around connection preface"
### Expected behavior

h2 clients should buffer messages until after the connection preface has been sent

### Actual behavior

h2 will try to write http/2 frames before writing the connection preface.

### Steps to reproduce

Construct a netty pipeline, add an http2connectionhandler, call connect, then immediately try writing an http/2 message.

### Minimal yet complete reproducer code (or URL to

[2017-01-24 19:40] normanmaurer commented on #6272
@nmittler @Scottmitch PTAL

[2017-01-24 21:09] Scottmitch commented on #6272
Instead of queuing in the http/2 codec in practice we wait for the `channelActive` to flow through the pipeline before we start writing. Queuing at this level (if necessary) is currently the responsibility of a higher layer. If you want to contribute an encoder which queues frames until `channelActive` occurs that sounds reasonable.

[2017-01-24 23:21] Scottmitch commented on #6213
@exell-christopher - I will close this now. Please re-open if this is not completely fixed.

[2017-01-24 23:21] #6213 closed

[2017-01-25 00:05] mosesn commented on #6272
@Scottmitch this isn't a safe assumption to make in general, so in other channel handlers with this kind of requirement (like [TLS][0]) we enqueue it in the handler.  I think we should take the same action here.  I think it's a much better API.

[0]: https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L591-L598

[2017-01-25 01:59] GotoFinal commented on #6269
@Scottmitch
ok, with some help I found that
`--add-opens=java.base/java.nio=ALL-UNNAMED`
flag will work here, but so far I didn't find any runtime way.
But this is good enough for now.

[2017-01-25 07:02] #6265 closed

[2017-01-25 07:03] normanmaurer commented on #6265
Fixed by https://github.com/netty/netty/pull/6268

[2017-01-25 10:51] CodingFabian opened #6274 "DnsNameResolver leaks memory on error"
`resolver.query()` returns a future, which potentially can be in error state.

In that scenario a user cannot get hold of the DatagramDnsResponse to release it.

### Netty version
4.1.7

[code]

I know the description is rough, i am trying to extract a reproducer out of my app, but maybe this is sufficient for somebody to go:
oh yeah...

[2017-01-25 11:13] normanmaurer commented on #6274
@CodingFabian doh! Let me check

[2017-01-25 11:22] normanmaurer commented on #6274
@CodingFabian do you also have the stacktrace of the exception?

[2017-01-25 11:53] normanmaurer commented on #6274
I may have an idea tho ....

[2017-01-25 12:19] CodingFabian commented on #6274
[code]

for example results in:
[code]

[2017-01-25 12:23] igor-dmitriev commented on #6125
@Scottmitch I think those reports don't depend on each other.
This is how I MessageWrapper is used:

public void process(FullHttpMessage msg){
   wrapper = new MessageWrapper(msg);
   // handle the wrapper
}

I can't provide my code, it strictly prohibited. I keep the reference on FullHttpMessage after message is handled, I think maybe this is the issue, need to try remove it.

[2017-01-25 13:15] CodingFabian commented on #6274
I might have missed something, but this reproducer leaks memory for me:
[code]

[2017-01-25 13:15] CodingFabian commented on #6274
in this case my code never gets a releaseable object.

[2017-01-25 14:30] normanmaurer commented on #6274
@CodingFabian thanks will have a fix soon :)

[2017-01-25 14:44] normanmaurer commented on #6274
@CodingFabian actually in the code you provided it makes sense as `Future.get(..., TimeUnit)` will return a `TimeoutException` when it times out but NOT fail the original Future.  You should just call `Future.get()` and thats it.

[2017-01-25 14:56] CodingFabian commented on #6274
This alternative solution leaks even harder:
[code]

[code]

[code]

I have the feeling that releasing the buffers in failures is just not really working

[2017-01-25 15:05] mosesn commented on #6272
@Scottmitch I almost forgot–the reason I filed this ticket was because I found that it wasn't always triggered on channelActive, so right now I have to try to guess when the preface will be sent.  As an example, if I'm using ALPN to decide whether to install the http/2 connection handler or not, when I add the handler, channelActive has already been triggered, so instead it sends the connection pr

[2017-01-25 15:22] CodingFabian commented on #6274
and it also produces
[code]

I now the reproducer is a bit contrived, but we might be at something here

[2017-01-25 15:22] normanmaurer commented on #6274
@CodingFabian can not reproduce here... Can you test with latest 4.1 branch ?

[2017-01-25 15:44] CodingFabian commented on #6274
[code]
is the reproducer I am using on netty 4.1 head.
i run it with -Xms128m -Xmx128

it still grows native memory (watched via ps && /proc/pid/statm)

[2017-01-25 16:51] normanmaurer commented on #6274
looking...

[2017-01-25 17:22] CodingFabian commented on #6274
at the moment i can also pretty reliably reproduce
[code]

[2017-01-25 17:41] CodingFabian commented on #6274
maybe some idea:
`io.netty.resolver.dns.DnsQueryContext.onQueryWriteCompletion(ChannelFuture)``
this schedules a runnable to check the timeout by querying the promise.
but if i see it right, it never cancels the actual query that might be still going on? and worse if it returns an answer that will not be released?

[2017-01-25 18:25] normanmaurer commented on #6274
@CodingFabian the answer will be released as the release happens in the finally block or I am missing anything ?

[2017-01-25 19:39] normanmaurer commented on #6221
After chatting with @doom369 and analysing some heap dumps we found out the last problem is caused by missing back-pressure and so writing to fast to the slow peer.  So closing this now.

@doom369 please open a new issue if you think there is still an issue after adding back-pressure.

[2017-01-25 19:39] #6221 closed

[2017-01-26 08:43] normanmaurer commented on #6274
After more debugging and looking I can not see any leak in the resolver. Please re-open if you find one.

[2017-01-26 08:43] #6274 closed

[2017-01-26 08:44] CodingFabian commented on #6274
Thanks for your time, i will keep looking here. It is strange that it doesn't reproduce for you, while it reliably does for me. Guess we need to meet some day :)

[2017-01-26 12:25] slandelle opened #6281 "DnsNameResolverTest#testNonCachedResolve fails for localhost in IPv6 only network"
### Expected behavior

DnsNameResolverTest#testNonCachedResolve succeeds.

### Actual behavior

`DnsNameResolverTest#testNonCachedResolve` fails because it wants IPv4:

[code]

[code]

You can check [AsyncHttpClient's CI on Travis](https://travis-ci.org/AsyncHttpClient/async-http-client/builds/195491450#L1696).
Note that test code lines don't exactly match because I added some more logs as the `as

[2017-01-26 12:38] normanmaurer commented on #6281
@slandelle actually this is expected as you use `InternetProtocolFamily.IPv4`. Maybe we should add some assumeTrue to skip tests that need ipv4 while only ipv6 is present ?

[2017-01-26 12:48] slandelle commented on #6281
Check that `NetUtil.LOCALHOST4 != null`?

[2017-01-26 12:51] normanmaurer commented on #6281
@slandelle need to think about it... this will not work.

[2017-01-26 16:14] isdom opened #6282 "Incorrect allocations value for PoolArena (tiny / small / normal)"
I found some PoolArena allocations value was incorrect, more specifically is:

    long numTinyAllocations();
    long numSmallAllocations();
    long numNormalAllocations();

and

    long numNormalDeallocations();

When I alloc Pooled ByteBuf & and release all these Bufs,

### Expected behavior

PoolArena's Metric SHOULD meet the following conditions:
[code]
### Actual behavior

BUT now result:

[2017-01-26 17:35] flozano opened #6283 "4.1.7 PromiseCombiner not binary-compatible with previous version?"
After upgrading to netty 4.1.7 from 4.1.6, we're getting:
[code]
Probably related to https://github.com/netty/netty/commit/7c630feefc62b739afea123547165b9efb4281c0
 @jchambers ?

[2017-01-26 17:37] normanmaurer commented on #6283
@flozano @jchambers yes seems so... Could you open a PR which adds back the old methods as well ? and delegate to the new ones ? this should fix it.

[2017-01-26 17:41] normanmaurer commented on #6282
@isdom this is because of the caches... when you deallocate the buffers they will first end up in ThreadLocal caches. Only after these removed from the caches they are really deallocated. You can disable the caches to see it.

[2017-01-26 17:45] jchambers commented on #6283
Ugh… I'm really sorry. Not sure why this was okay in testing for me. I can open a pull request on Saturday if somebody doesn't beat me to the punch.

[2017-01-26 20:08] andsel opened #6285 "Support for MQTT v5"
Is there any planning to support MQTT v5 on netty-codec-mqtt? Do you need an hand.
Thanks.
 Andrea

[2017-01-26 20:09] normanmaurer commented on #6285
@andsel we love contributions. as far as I know no-one is working on it atm

[2017-01-26 20:12] andsel commented on #6285
Great @normanmaurer I'll start to implement, because I need into Moquette and I think it could be useful to others :-)

[2017-01-26 21:30] exell-christopher opened #6286 "Getting HTTP/2 Encoder/Decoder effectiveness stats out of netty?"
Internally we have been doing some investigation into the effectiveness of the HPACK Dynamic/Static Tables, and we're wondering what the best approach is to get that data out of netty.

In particular we'd need to export how often the static/dynamic indexes are used and for which header names, how often new headers are indexed and their names, and how many headers have been encoded/decoded.  The co

[2017-01-26 21:30] Scottmitch commented on #6272
Agreed the fragmentation is not ideal here. My assumption of what is involved here is object wrappers and queues.  I don't want to introduce "unconditional queuing" (always have a queue in the way) into the "low level API" to avoid this overhead. However if the queueing is "conditional" (only active before the preface is sent) or optional that sounds reasonable. This may be more easily accomplishe

[2017-01-26 21:37] Scottmitch commented on #6125
I can't help if I don't understand what is going on. Perhaps they are not important but I don't know until I see the info.

You are using `SimpleChannelInboundHandler` which will release all messages that it handles. Do you retain the message somewhere (your `process` method above does not). If not then you are saving a reference to an object that has been released which may lead to an IllegalRefe

[2017-01-26 22:29] Scottmitch opened #6287 "HTTP/2"
### Issue
`DefaultHttp2FrameEncoder` does not currently listen to failures from the futures returned by the `FrameWriter` it uses to encode frames. `DefaultHttp2FrameEncoder` makes assumptions that the `FrameWriter` will encode the frames and call `ctx.write(..)` with the encoded result in a synchronous manner. `DefaultHttp2FrameEncoder` also assumes the underlying transport is ordered and reliabl

[2017-01-26 22:30] Scottmitch commented on #6287
@normanmaurer - as discussed on https://github.com/netty/netty/pull/6284#discussion_r98070678

[2017-01-26 22:33] mosesn commented on #6272
Yeah, I was thinking of the conditional queueing.  I agree that unconditional queueing is also not great.

Oof, I always forget about the framewriter stuff in Http2ConnectionHandler.  Would you be open to changing HttpToHttp2ConnectionHandler to buffer?  Another option that would make this easier would be to at least have the Http2ConnectionHandler emit a `userEventTriggered` or expose a method we

[2017-01-27 00:43] Scottmitch commented on #6286
There is no good way to extract these types of metrics today, but it seems generally useful. We really only have [SensitivityDetector](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2HeadersEncoder.java#L73) to determine if a header should be considered sensitive (in HPACK terms) or not.

In terms of metrics collection we have had some general di

[2017-01-27 01:07] Scottmitch commented on #6272
Conditional and/or optional buffering here sgtm. Are you interested in submitting a PR?

+1

Yes the specification allows you to exchange frames before the initial settings have been received at the risk of you violating these not-yet-received SETTINGS and having streams RST or the connection shutdown. Some conservative endpoints may want to wait for the first settings frame to be received before

[2017-01-27 03:15] isdom commented on #6282
@normanmaurer  but I have already disable ThreadLocal caches by set JVM flag:
[code]
and Take a look at the following [test code](https://github.com/isdom/jocean-http/blob/88e15e8a3cecab118da550eaa991a9322035f99d/jocean-http/src/test/java/org/jocean/netty/buffer/PoolArenaTestCase.java):

[code]

I think PoolArena try to allocate tiny or small buffer, when PoolSubpage is empty( [head.next == head](

[2017-01-27 04:37] maseev commented on #5950
@svnp10 Hey, how is it going? It's been almost two weeks since we've heard from you last time. I'm just curious, have you been able to reproduce the problem?

[2017-01-27 07:26] normanmaurer commented on #6282
@isdom doh! You are right. Want to do a PR or should I take care ?

[2017-01-27 07:35] isdom commented on #6282
@normanmaurer OK，Let me try...

[2017-01-27 07:39] normanmaurer commented on #6282
@isdom ok cool... Would be nice if just would calculate if its tiny/small/normal allocation one time though and not need to do multiple times 👍

[2017-01-27 08:50] mosesn commented on #6272
OK, this isn't high priority for us, since we have something working, but I'll see if I can schedule some time for a PR for this.

[2017-01-29 01:32] jchambers commented on #6283
This should be fixed in #6292. Sorry for the trouble!

[2017-01-30 09:00] normanmaurer commented on #6283
Fixed by https://github.com/netty/netty/pull/6292

[2017-01-30 09:00] #6283 closed

[2017-01-30 09:34] #6282 closed

[2017-01-30 09:45] normanmaurer commented on #6282
Fixed by https://github.com/netty/netty/pull/6288

[2017-01-30 15:19] CodingFabian commented on #6274
maybe something interesting for this (and potentially other native memory leak issues)

https://bugs.openjdk.java.net/browse/JDK-8164293

The Hotspot compiler leaks memory. it can be worked around by turning TieredCompilation off:
-XX:-TieredCompilation

[2017-01-30 17:45] Scottmitch commented on #6274
@CodingFabian - Interesting! Thanks for a link to the JDK leak!

[2017-01-30 18:28] CodingFabian commented on #6274
https://bugs.openjdk.java.net/browse/JDK-8172319
has the TieredCompilation hint.
I was able to reproduce this with a plain 4 line loop.

[2017-01-30 22:28] Scottmitch commented on #6272
@mosesn - Adding a new user event shouldn't be too much effort. Let me take this and I ping on review.

[2017-01-30 23:01] carl-mastrangelo opened #6296 "Increase test flakiness in 4.1.8"
Relevant backtrace:
[code]

When trying out 4.1.8, we noticed that one of [our tests](https://github.com/grpc/grpc-java/blob/89bc2cd3b23d583387d104bb1ca6ec86ad9816be/testing/src/main/java/io/grpc/internal/testing/AbstractTransportTest.java#L190)  started failing about 70% of the time.  The test tries to see what happens if the HTTP/2 stream is cancelled early.  It appears that netty tries to look

[2017-01-31 00:11] Scottmitch commented on #6296
there were a few spots where we forgot to catch errors and now we handle them but I'm not sure that is impacting this scenario. Here is the sequence of events that I see when I run locally:

1. Client writeHeaders(streamId=3)
2. Server onRstStreamRead(streamId=3)
3. Client writeHeaders(streamId=5)
4. Server writeHeaders(streamId=3) ... BOOM

In step (2) we synchronously close the stream (@ [1]) wh

[2017-01-31 00:26] Scottmitch commented on #6296
Actually I'm not sure how practical this is. What would the expected behavior of Netty be?

- Drop the message ... the application thinks it sent something but in reality we just dropped it on the floor ... bad.
- Call some method additional API to figure out what todo ... requires extra APIs when the application can just check before hand if this is anticipated to be an issue (async code executio

[2017-01-31 00:42] mosesn commented on #6272
oh, awesome!  that would be really helpful 👍

[2017-01-31 01:59] mosesn commented on #5952
this seems to be fixed in 4.1.8, though I haven't looked into the exact mechanism.  anyway my test is no longer failing =).  I'm going to mark this as fixed, although y'all can reopen if you still have a problem with it.

[2017-01-31 01:59] #5952 closed

[2017-01-31 02:51] Scottmitch commented on #5952
Just some bookkeeping ... The "low level API" now explicitly checks for HPACK encoder errors (mainly because SETTINGS_MAX_HEADER_LIST_SIZE is exceeded) and this is enabled by default. This is a combination of https://github.com/netty/netty/pull/6230 and https://github.com/netty/netty/pull/6284. I'm not sure what your tests look like but it is possible these changes impacted the behavior you observ

[2017-01-31 18:50] jchambers opened #6298 "Announcing CAs with OpenSSL mutual auth causes extreme slowdown with paranoid leak detection"
After upgrading to Netty 4.1.8/netty-tcnative fork26, I've observed that [unit tests involving HTTP/2](https://github.com/relayrides/pushy/blob/v0.9.1/pushy/src/test/java/com/relayrides/pushy/apns/ApnsClientTest.java) have become extremely slow with `-Dio.netty.leakDetectionLevel=PARANOID`. Under Netty 4.1.6/tcnative fork24, tests would run in ~100ms with paranoid leak detection. Under Netty 4.1.8

[2017-01-31 18:52] normanmaurer commented on #6298
@jchambers that is sadly expected and the cause is explained here:

https://github.com/netty/netty/pull/6145#issuecomment-271899281

[2017-01-31 19:01] jchambers commented on #6298
Understood; should we leave this issue open for future consideration, or close it because the timeout is just a fact of life now?

[2017-01-31 19:02] normanmaurer commented on #6298
@jchambers maybe leave it open and just change the title to reflect why ?

[2017-01-31 19:13] jchambers commented on #6298
Sold. Thanks!

[2017-01-31 19:47] exell-christopher commented on #6286
I like the idea of the metrics being push not pull. In this particular case, how would one bind for the push events, given that the encoder and decoder are essentially hidden.

Spring has an implementation of this which is pseudo pub-sub, listeners register via the EventListener interface, and event publishers are registered via the ApplicationEventPublisher interface. What's nice is that it allow

[2017-01-31 21:49] Scottmitch commented on #6298
@normanmaurer - You mention in https://github.com/netty/netty/pull/6145#issuecomment-271899281 a factor may be because of the number of certificates we have in our tests ... do you think reducing the number will improve things?

[2017-01-31 21:51] Scottmitch commented on #6286
We can configure metrics listeners though builders or other publicly accessible areas if necessary.

[2017-02-01 18:34] #6206 closed

[2017-02-01 20:55] carl-mastrangelo commented on #6296
yes.

I think we can agree that the server trying to create a stream is not right.

Are there any unit tests in Netty for the behavior here?  I think it would be easier to talk about what should happen after we can definitely know that the existing behavior is intentional.

[2017-02-02 01:48] Scottmitch commented on #6296
I'm not sure what exactly you are looking for but if the line which leads to the stream being closed and removed from the stream map is commented out [1]. Then the following tests fail:

[code]

Do you have an alternative behavior in mind? For example delaying the close of the stream, or removal from the connection (`streamMap`)? If we do this couldn't we run into similar issues if we didn't "dela

[2017-02-02 07:37] alkemist opened #6303 "Bytes are dropped when using epoll and auto read = false when peer closes connection"
### Expected behavior

Received but not yet emitted bytes at time of peer connection close when using epoll edge triggered and `autoRead=false` should be emitted (i.e. behaviour as of 4.1.6).

### Actual behavior

As of 4.1.7, As soon as the remote peer disconnects, no further bytes will be emitted.

The problematic change is here: https://github.com/netty/netty/commit/631077c79391fde22afdb1e43d0f

[2017-02-02 07:37] alkemist commented on #6303
/cc @Scottmitch as you fixed #6173.

[2017-02-02 07:40] alkemist commented on #6303
I think this is likely to affect lots of people, and is also blocking a new release of Ratpack. Can you please also indicate when a resolution for this could be released (i.e. is there already a planned patch release? are there other open issues blocking a 4.1.9?), when it is actually resolved.

Thanks!

[2017-02-02 08:01] konsultaner commented on #6139
I know this is probably not the right place to ask question, but this issue seems to become something like a knowledge base for bytebuffers and SSL usage in netty ;) I have some further questions about zero copy that I placed on stack overflow. I would really appreciate an answer if possible.

http://stackoverflow.com/questions/41978934/how-do-i-correctly-work-with-bytetomessagecodec-encode-and-di

[2017-02-02 09:31] normanmaurer commented on #6303
@Scottmitch PTAL

[2017-02-02 19:09] micfra opened #6305 "Document available system properties"
The _Netty user guide_ should contain a short list along with some description of the available system properties  -Dio.netty.*.

A fast scan through the source showed they are spread all across the project resolved by using the io.netty.util.internal.SystemPropertyUtil.getXX(key) methods.

I'd like to help if somebody tells where the correct place in the wiki pages is.

[2017-02-02 19:46] Scottmitch commented on #6303
I'm on it ... will keep you posted when I have a fix. This will be fixed for 4.1.9.

[2017-02-02 19:57] normanmaurer commented on #6303
@alkemist as a workaround you could use NIO for now.

[2017-02-03 02:05] freevest opened #6307 "Wrong behavior of SocketChannel.bind(localAddress) and SocketChannel.getSocket().bind(localAddress)"
Sorry, I am wrong.

[2017-02-03 02:07] freevest commented on #6307
@Scottmitch

[2017-02-03 04:05] alkemist commented on #6303
Thanks @normanmaurer & @Scottmitch.

[2017-02-03 04:25] Snake1999 opened #6309 "'Can not initialize class PlatformDependent0' error in Java 9 with Jigsaw"
### Behavior
I'm trying to compile a project with java-9 armed Intellij IDEA (Intellij IDEA uses netty to connect to compile server). When compiling, an internal error thrown showing there is something wrong with netty.
Is it because of `sun.misc.Unsafe` deleted in Java 9?
http://fuzhizhantie.com/pastes/7324

IDEA 2017.3.4 uses `netty-all-4.1.5.Final`

### Java & OS version
[code]

[code]

[2017-02-03 06:45] #6307 closed

[2017-02-03 08:50] normanmaurer commented on #6281
@slandelle so the real problem here is that the HostFileParser will not correctly handle the case where the hosts file contain an entry for ipv4 and ipv6. It will only preserve the first found which is incorrect as it valid to have one for each.

Thinking about a way to fix this without api breakage ...

[2017-02-03 08:51] normanmaurer commented on #6305
@micfra I wonder if we should provide some kind of a registry for all of them that can be queried somehow just in case these change or new ones are added.

[2017-02-03 09:00] slandelle commented on #6281
Ouch, I missed that :(

Do you want me to help on this?
Shouldn't `HostsFileParser` be annotated `@UnstableApi`?

[2017-02-03 09:04] normanmaurer commented on #6281
@slandelle yes it should but we missed it so we can not easily breaking it...

[2017-02-03 09:05] slandelle commented on #6281
We could leave existing methods as is and deprecate them, and add new methods that would return a pair of Maps, one for IPv4 and one for IPv6. WDYT?

[2017-02-03 09:19] normanmaurer commented on #6281
@slandelle we can not add methods to interfaces that are public in a bug-fix release.

[2017-02-03 09:23] slandelle commented on #6281
@normanmaurer Interface? `HostsFileParser` is a final class, so no one can extend it without seriously hacking around.

The only way I see adding new methods there would be harmful is someone having some algorithm based on the number and order of methods fetched from reflection, and I fail to see why someone would do that. Am I missing something?

[2017-02-03 09:24] normanmaurer commented on #6281
@slandelle I am talking about the `HostNameResolver` that uses it here.

[2017-02-03 09:29] slandelle commented on #6281
@normanmaurer You probably mean `HostsFileEntriesResolver`. Yeah, got it.

We could introduce a new fixed interface with the new behavior, have `DefaultHostsFileEntriesResolver`, check type once in `DnsNameResolver` and downcast.

[2017-02-03 09:31] normanmaurer commented on #6281
@slandelle yeah maybe something like this... want to do a pr ?

[2017-02-03 09:33] slandelle commented on #6281
@normanmaurer Yep. Can't it wait for a few days? Release day on my side...

[2017-02-03 09:33] normanmaurer commented on #6281
sure

[2017-02-03 09:36] slandelle commented on #6281
great! stay tuned :)

[2017-02-03 11:48] konsultaner commented on #6139
I added the [ssl demo](https://github.com/netty/netty/files/659613/ssldemoEcho.zip) to demonstrate a slow file sending. In my project I finally found the major bottle neck. For some reason in the ssl demo the [channel.write](https://netty.io/4.1/xref/io/netty/channel/socket/nio/NioSocketChannel.html#412) sends the whole file in 4 iterations. For some reason my project sends the buffer in much more

[2017-02-03 13:37] normanmaurer commented on #5828
@ppatierno sorry I missed this... We need a new pojo to do this as we can not change the return type as I said before. And yes if it holds a ByteBuf it should extend ReferenceCounted or extend ByteBufHolder

[2017-02-03 20:26] Underbalanced commented on #6309
Related to #6309?

[2017-02-03 20:26] Underbalanced commented on #6269
Related to #6309?

[2017-02-03 21:22] slandelle commented on #6281
@normanmaurer Is it possible to make the `resolver` module depend on the `transport` one?

I'd like to introduce a new `InetAddress address(String inetHost, InternetProtocolFamily[] resolvedAddressTypes)` on `DefaultHostsFileEntriesResolver` but `InternetProtocolFamily` is currently not reachable :(

[2017-02-03 21:43] GotoFinal commented on #6309
@Underbalanced nope, this is old, and already fixed netty bug.
Not sure which one, probably this one?
https://github.com/netty/netty/issues/5987

@Snake1999 update your netty/intellij/report bug to intellij.
I manually updated netty version in intellij library files, as this was fixed in one of next netty version (4.1.6 or 7)
And I think it works fine in EAP of Intellij IDEA.

[2017-02-03 22:23] Scottmitch commented on #6305
For 5.0 I wonder if we should move away from system properties. Static state can be brittle, introduces many entry points for configuration, and can be difficult to reconcile if there are libraries which use Netty that want a certain configuration which may conflict with the end application's configuration.

[2017-02-04 02:07] Snake1999 commented on #6309
@GotoFinal Thank you, after updated to 4.1.7.Final my compiler works fine.

[2017-02-04 02:08] #6309 closed

[2017-02-04 02:16] Snake1999 commented on #6269
I also get this problem when trying to use `4.1.7-Final` at my project https://github.com/Nukkit/Nukkit. My project implements a custom UDP socket.
[code]

[2017-02-04 05:10] maseev commented on #6305
It would be cool to have a special property (like a flag) which if set to true would print all available properties in some human-readable way. It would be especially useful in the debugging and during the development process.

[2017-02-04 15:02] jchambers opened #6312 "Connections to SSL servers with untrusted client certificates succeed after upgrade to Netty 4.1.7"
After upgrading to Netty 4.1.7, I've observed that Netty SSL clients can connect to Netty SSL servers that require client authentication even if they present a certificate that is not trusted by the server.

### Steps to reproduce

1. Create an SSL server with an `SslHandler` that requires client authentication and a trust chain that contains a single root certificate.
2. Create an SSL client with

[2017-02-04 16:16] normanmaurer commented on #6312
So this happens with jdk and OpenSSL ?

[2017-02-04 16:27] ppatierno commented on #5828
@normanmaurer when you say "a new pojo" do you mean a new class instead of MqttConnectPayload which extend ReferenceCounter (or extend ByteBufHolder) and using ByteBuf for the willMessage field ? What about the MqttConnectMessage class which uses the MqttConnectPayload ?

[2017-02-04 17:33] jamisonhyatt commented on #6125
I believe I have also encountered this bug, but through [grpc-java](https://github.com/grpc/grpc-java)'s use of netty.  I have a small go app that is doing the load testing and makes the leak appear.  I will spend some time and modify the app to execute against one of the (examples)[https://github.com/grpc/grpc-java/tree/master/examples].

[2017-02-04 17:44] jchambers commented on #6312
Correct. It also happens across JDK versions: https://travis-ci.org/relayrides/pushy/builds/198243545

[2017-02-04 17:53] normanmaurer commented on #6312
Ok this Sounds Strange... let me investigate

[2017-02-05 10:41] slandelle commented on #6281
I have the feeling `InternetProtocolFamily` should sit in `commons` side to `NetUtils` :(

[2017-02-05 12:55] micfra commented on #6305
Its a matter what the project wants to support. I would suggest Configuration classes evaluating system properties first and use explicit values if present falling back to default values if necessary. So each component might document its properties configurable by system properties itself. Support for a kind of global properties is necessary as well (like io.netty.noUnsafe). You might thing about

[2017-02-05 19:33] Scottmitch commented on #6139
Are you sending to the same peer in both examples? How much data is accepted by the write to the OS is dependent on the local send buffer size, the peer's receive buffer size, and how fast the peer is reading data.

[2017-02-05 20:19] normanmaurer commented on #6281
@slandelle let me think about it... one thing is for sure, we can not move it :(

[2017-02-05 20:54] slandelle commented on #6281
I know :)
Anyway, it feels natural that resolving an address against a hosts file would take a parameter indicating which `InternetProtocolFamily`s the user wants/prefers.

IMO, it also means that `DnsNameResolver::DEFAULT_RESOLVE_ADDRESS_TYPES` should be a public API. FIY, in order to not duplicate this logic, I created a class in the `io.netty.resolver.dns` package that exposes it publicly. I wa

[2017-02-06 07:40] normanmaurer commented on #6312
@jchambers hmm... I have the same failure with 4.1.7.Final. Didn't you say it was "ok" with 4.1.7.Final ?

[code]
[code]

[2017-02-06 12:41] caillette opened #6316 "Add links to a serie of articles in Netty documentation"
Hi,

I suggest to add to Netty documentation a serie of articles I wrote about Netty. They are in French, but if you don't speak French then Google translate is your friend.

Netty (1/6)
https://groups.google.com/d/msg/techos/7OhdFbsHOjI/RZs1Ncs0EAAJ

Netty (2/6) : Modèle de programmation (programming model)
https://groups.google.com/d/msg/techos/BArGTlHcgu0/VKdJdz12EAAJ

Netty (3/6) : Recyclage d

[2017-02-06 13:34] MarkVilkel opened #6317 "OutOfDirectMemoryError still exists in netty 4.1.8 on Solaris"
I have client server application based on netty.
Starting with netty 4.1.7 server started to get OutOfDirectMemoryError.
The fix https://github.com/netty/netty/pull/6252 helped for Linuxes, but on Solaris problem still presented.

I have memory dump on hands. There are 46 java.nio.DirectByteBuffers x 16,777,216 bytes each. 736 Mb in total, this is too much I think.
There are two major paths from G

[2017-02-06 13:48] doom369 commented on #6317
Seems like back pressure issue I had. Do you have `channel.isWritable()` checks in your code?

[2017-02-06 14:00] MarkVilkel commented on #6317
Yes, but this check doesn't stop data sending.
It schedules a checker, which checks is data still processing on client side. If data is processing (even if slowly), server doesn't disconnect client.
Server settings for WRITE_BUFFER_HIGH_WATER_MARK = 50Kb, WRITE_BUFFER_LOW_WATER_MARK =  10Kb.
Clients connected to the server count is about 250.
So 250 x 50 Kb = 12,5 Mb.

Looks like I've got the prob

[2017-02-06 14:04] normanmaurer commented on #6317
@MarkVilkel yes... if you continue producing and the remote peer will not consume it you will run out of memory at some point in time.

[2017-02-06 14:06] MarkVilkel commented on #6317
No, I lied in previous comment (sorry about that, I have just reviewed my code). Server doesn't send any data if channel is not writable.

[2017-02-06 14:07] normanmaurer commented on #6317
@MarkVilkel can you share the heap-dump ? I suspect it does (which should be noticeable in the heap-dump by looking at `ChannelOutboundBuffer` instances and check if the writable field is 0 or 1).

[2017-02-06 15:02] MarkVilkel commented on #6317
@normanmaurer, I understand that this is impolite from my point to ask for the help like I do, but I can not provide heap dump. Sorry about that.
I've reviewed tens of ChannelOutboundBuffers, all of them have unwritable = 0. nioBufferSize values are rather small hundreds of bytes only.

[2017-02-06 18:29] normanmaurer commented on #6316
@caillette you can add them to http://netty.io/wiki/related-articles.html by yourself.

[2017-02-06 18:29] #6316 closed

[2017-02-06 18:38] ejona86 commented on #6296
Not entirely bad. This is already the semantics in presence of RST_STREAM. The problem is that it is unclear the problem is due to a race with RST_STREAM. Failing the future seems like it could be reasonable.

I don't understand why RST would be appropriate if the application is sending on a stream we think doesn't exist. I could understand "emulate receiving a RST".

[2017-02-06 18:50] jasontedor commented on #6312
I can't say what is going on here, but I investigated this, and we are not impacted by it.

That said, I think that the Netty project needs a responsible disclosure policy for issues like this. If there is any truth to this issue at all, it would have been better if it not be disclosed in the open until a fix is available and downstream projects have an opportunity to react.

I poked around the do

[2017-02-06 18:58] normanmaurer commented on #6312
@jasontedor we have `netty-security@googlegroups.com` for reporting security stuff, but I think you are right its not clearly communicated. So yes please open an issue and  will write it up.

[2017-02-06 19:07] jasontedor opened #6319 "Communicate responsible disclosure policy for security issues"
Due to Netty's position as the network layer for applications, premature disclosure of security issues could leave applications vulnerable without providing an opportunity for maintainers to address. The Netty project should formulate and clearly communicate a responsible disclosure policy for security issues. This should include a policy for how to handle issues that were not disclosed following

[2017-02-06 19:07] jasontedor commented on #6312
I opened #6319.

[2017-02-06 19:07] jchambers commented on #6312
Haven't had time to investigate further (but will soon!), but in the meantime, please accept my apologies for missing the disclosure policy.

[2017-02-06 19:09] normanmaurer commented on #6312
@jasontedor thanks..

@jchambers no worries its our fault to make it not clear enough. Let me know once you know more (even if you can just tell me it worked in version X but not working anymore after version Y).

[2017-02-06 19:15] normanmaurer commented on #6312
Also I will try to come-up with a reproducer with plain netty as well in the meantime.

[2017-02-06 19:31] normanmaurer commented on #6312
@jchambers also I were wondering how is your "test" different the one we have here:
https://github.com/netty/netty/blob/4.1/handler/src/test/java/io/netty/handler/ssl/SSLEngineTest.java#L501
https://github.com/netty/netty/blob/4.1/handler/src/test/java/io/netty/handler/ssl/SSLEngineTest.java#L486

[2017-02-06 19:46] Scottmitch opened #6320 "OpenSslEngine should not call SSL_set_state"
OpenSslEngine currently calls `SSL_set_state(SSL_ST_ACCEPT)` during the renegotiation process. The OpenSSL team has advised against this [1]. We should investigate and avoid calling `SSL_ST_ACCEPT` if possible.

[1] https://github.com/openssl/openssl/issues/2551#issuecomment-277644153

[2017-02-06 20:46] jchambers commented on #6312
I did, but you're correct: the problem appears to have crept in with 4.1.7.Final with both netty-tcnative fork25 and the JDK provider. I'll update the title and summary accordingly.

[2017-02-06 20:47] normanmaurer commented on #6312
@jchambers thx... looking into it.

[2017-02-06 20:48] normanmaurer commented on #6312
@jchambers also can you tell me how your test is different to what we have in netty ? Just so I can adjust it easily and have a pure netty reproducer.

[2017-02-06 20:59] jchambers commented on #6312
Not in detail yet (sorry—my life is like one contiguous meeting these days), but I agree that's the critical question. Off the top of my head and with an extremely fast read of the existing Netty tests:

- We're using an HTTP/2 pipeline, so we're passing [some fancy configuration to the SSL handler](https://github.com/relayrides/pushy/blob/v0.9.1/pushy/src/main/java/com/relayrides/pushy/apns/ApnsC

[2017-02-06 21:02] normanmaurer commented on #6312
Alright… as soon as you know let me know. I will try to find more in the meantime as well.

[2017-02-06 22:33] Scottmitch commented on #6281
IIRC the intention is that the entire dns package is unstable. I don't think we should invest much effort in preserving APIs if they are broken. If we forgot to put `@UnstableApi`in a PR lets fix the API and add this annotation.

[2017-02-07 00:21] Scottmitch commented on #6296
We should do this now right [1]? The code recently changed but we have been doing this for a while [2]. Is the issue that the error message is misleading? In this case we could check if the stream ID is for the remote endpoint and provide a more informative error message.

I agree. I wasn't suggesting it was appropriate. Just trying to follow the through process and probe for more information.

[1

[2017-02-07 00:23] bm3780 commented on #6312
Tested with [MutualSSLAuthServer](https://gist.github.com/bm3780/0fe9b73a32dfcd7b940054409c77e607) against 4.0.44 and 4.1.8 using openssl  _s_client_ with no issues.

1. Launch MutualSSLAuthServer with either JDK or OPENSSL provider
2. generate a dummy (untrusted by server) certificate
[code]
3. connect to server with openssl s_client using untrusted certificate
[code]
4. client will see SSL Alert

[2017-02-07 00:24] Scottmitch commented on #6319
+1

from @normanmaurer https://github.com/netty/netty/issues/6312#issuecomment-277777880:

We should document this clearly. Also we should make sure the appropriate devs have access so we have good coverage.

[2017-02-07 02:12] jchambers commented on #6312
I've made a mistake, and it *could* be that everything is working exactly as expected. It turns out that I was actually using `ClientAuth.OPTIONAL` instead of `ClientAuth.REQUIRE`, which changes the picture significantly. A better summary of the situation is now:

1. We tell our server that clients MAY authenticate.
2. A client presents an untrusted certificate to the server.
3. The server recogni

[2017-02-07 05:59] Scottmitch commented on #6319
We may want to update the GitHub issue template or contributor hint to include this info too.

[1] https://github.com/netty/netty/tree/4.1/.github

[2017-02-07 06:40] Scottmitch commented on #6312
@jchambers - Thanks for reporting back. I created a unit tests with the keys you referenced and the ssl configuration you referenced and I couldn't get a failure. Please refactor the below code to demonstrate the behavior you are seeing. I ran the below test and got the expected handshake failure OpenSSL 1.0.2.

SSLEngineTest.java
[code]

[2017-02-07 06:40] slandelle commented on #6281
👍 I fail to see why someone would expect this class in particular to be stable while all the others in the same module are.

[2017-02-07 06:44] normanmaurer commented on #6281
@slandelle @Scottmitch actually it's in the resolver module so not sure it's true tho

[2017-02-07 06:54] Scottmitch commented on #6281
the `resolver` module doesn't exist in `4.0` ... are you saying this module was intentionally not marked as `UnstableApi`? Much of this code was introduced late in a candidate release for `4.1` [1] ... I think it is more likely we just forgot to annotate the package, no?

[1] https://github.com/netty/netty/commit/8d4db050f36929430e6699eec640de8eab1f3df2

[2017-02-07 06:57] normanmaurer commented on #6281
Yes we most likely forgot that said I think we can not just do whatever we want now ;)

That said after a bit more of thoughts I think change from InetAddress to List<InetAdress> in this case should not affect people. At least chances are very small, so @slandelle go for it

[2017-02-07 07:03] slandelle commented on #6281
@normanmaurer Actually, what I had in mind was to still only return one single address, but add an array of protocol families array to tell the resolver which is preferred. WDYT?

[2017-02-07 07:34] Scottmitch commented on #6281
I understand however the `@UnstableApi` annotations are a nice indicator but they are easy to forget and are not foolproof. I don't think just because we forgot these annotations we should bind ourselves to this API being stable. My preference is to annotate these classes with `@UnstableApi` (as originally intended) if we can't find a good solution.

[2017-02-07 08:38] enginespot opened #6324 "lost brackets"
the failIfNecessary method [failFast](https://github.com/netty/netty/blob/eb7f751ba519cbcab47d640cd18757f09d077b55/codec/src/main/java/io/netty/handler/codec/LengthFieldBasedFrameDecoder.java#L471) always return true if there is no brackets
[code]
should changed to
[code]

[2017-02-07 08:44] normanmaurer commented on #6324
Can you provide a PR + unit test ?

[2017-02-07 09:32] konsultaner commented on #6139
No the slow example is another programm. I found out that the channel write has become faster after changing the buffer size but the [channel read](https://netty.io/4.1/xref/io/netty/channel/socket/nio/NioSocketChannel.html#364) hangs in a loop at:

[code]

This is called for 20 seconds and comes from the [NioEventLoop line 642](https://netty.io/4.1/xref/io/netty/channel/nio/NioEventLoop.html#642)

[2017-02-07 12:05] louxiu opened #6325 "bufferPool.direct.capacity(MBean) is incorrect when use unsafe"
### Expected behavior
`bufferPool.direct.capacity` shows the correct value that direct buffer allocated
### Actual behavior
`bufferPool.direct.capacity` shows incorrect value
### Steps to reproduce
Execute example below
### Minimal yet complete reproducer code (or URL to code)
    public static void main(String[] args) throws Exception {
        int size = 16777217;
        boolean noUnsafe = fals

[2017-02-07 13:06] normanmaurer commented on #6325
@louxiu this is expected. You can "fix" this by using '-Dio.netty.maxDirectMemory=0'

https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/PlatformDependent.java#L134

[2017-02-07 13:06] #6325 closed

[2017-02-07 15:18] evgeniynickolaev opened #6326 "netty.io site: Mixed content error"
Hello!
Google Chrome blocks some assets at netty.io due to mixed content.
So the markup is a bit broken.

[code]

[2017-02-07 15:19] evgeniynickolaev commented on #6326
Also it is not http anymore so the link in repository description doesn't work.

[2017-02-07 15:47] normanmaurer commented on #6312
@jchambers as @Scottmitch said I think everything works as expected (at least I could also not reproduce it). It correctly triggers an `exceptionCaught(...)` event and also fires the correct `SslHandshakeCompletionEvent`. Could you try to change the reproducer done by @Scottmitch so it fails ?

[2017-02-07 16:01] carl-mastrangelo commented on #6296
Hmm, even with a better error message, it still causes us to have to check if the stream exists first.  Ideally there shouldn't be any error message.  There isn't anything the server code can do differently, so why bother it with an exception?

[2017-02-07 16:17] jchambers commented on #6312
I'm working on it now.

[2017-02-07 16:23] slandelle opened #6328 "CorsConfigBuilder exposeHeaders and allowedRequestHeaders should accept CharSequence"
### Expected behavior

In Netty 4.1, `HttpHeaderNames` constants are `AsciiString`s. It should be possible to directly pass those constants to `CorsConfigBuilder` methods such as `exposeHeaders`, `allowedRequestHeaders`.

### Actual behavior

Those methods take `String`, so one has to convert and call `toString` on the `AsciiString`s.

### Netty version

4.1.8.Final

[2017-02-07 17:11] slandelle commented on #6328
I can provide a PR.

The question is: "can we use CharSequence all the way down, meaning having CorsConfig::exposedHeaders and CorsConfig:: allowedRequestHeaders return Set<CharSequence> instead of Set<String>?".

[2017-02-07 18:10] jchambers commented on #6312
I am *also* having a hard time reproducing the issue with a minimal test case. I'm still actively working on identifying what's different between the minimal and non-minimal cases, though.

FWIW, I took a brief detour to `git bisect` and confirmed that it was be8c16cd0c54f9013b539741bf2a1db13ddc0126 that introduced this new behavior.

[2017-02-07 18:15] Scottmitch commented on #6324
By "brackets" do you mean parentheses? Looks like the only change is the parenthesis around `(failFast && firstDetectionOfTooLongFrame)`.

[2017-02-07 18:17] normanmaurer commented on #6312
@jchambers this is strange as you said it also happens with JDK and this commit only touches OpenSSL .

[2017-02-07 18:21] enginespot commented on #6324
yes ，I think so

[2017-02-07 18:27] Scottmitch commented on #6324
as @normanmaurer said please submit a unit test demonstrating the issue. This conditional statement looks equivalent with or without the parentheses.

[2017-02-07 18:35] fenik17 commented on #6324
just a remark... expression
`!failFast || failFast && firstDetectionOfTooLongFrame`
can be simplified to
`!failFast || firstDetectionOfTooLongFrame`

[2017-02-07 18:35] enginespot commented on #6324
ok，tomorrow I will submit it

[2017-02-07 18:56] jchambers commented on #6312
Scratch that. I have a [minimal test case](https://gist.github.com/jchambers/3113072156d49b3106fc5f2634de96c7) working, though I have not yet adapted the test from @Scottmitch to reproduce the problem; will get to that ASAP.

@normanmaurer I think you're right about the OpenSSL/JDK thing; it looks like this has been the JDK behavior for a long time, but some configuration in my non-minimal test ca

[2017-02-07 18:58] normanmaurer commented on #6312
@jchambers got it... If I understand you correct the current behaviour may be the correct one now and the old was not. But will see soon after you adjusted the test case of @Scottmitch .

[2017-02-07 18:58] Scottmitch commented on #6324
@fenik17 +1 ... PRs welcome :)

[2017-02-07 19:59] Scottmitch commented on #6312
@jchambers - I extracted out your test case and I still get a failure. Am I missing something?

For JDK I see the following user event:
[code]

For OpenSSL I see the following user event:
[code]

The JDK `SSLEngineImpl` doesn't generate a `SSLHandshakeException` on the client side but the handshake still appears to fail.

SSLEngineTest.java
[code]

[2017-02-07 20:35] Scottmitch commented on #6296
If the stream is remote, and may have existed we could handle this case differently (stream error, don't send a GO_AWAY and don't send a RST). Currently it looks like we send a GO_AWAY in this condition which may be harsh considering scenarios described in this issue.

The server tried to write headers and this operation failed. IMHO we should not swallow this event and failing the promise is the

[2017-02-07 21:01] fenik17 commented on #6324
@Scottmitch no problem) #6329

[2017-02-07 21:16] jchambers commented on #6312
@Scottmitch Still actively working on it. I agree that handshakes are failing in your test and am still trying to figure out what's different between your test and mine. As a sanity check, though, do you agree that connections succeed in my test case with either the JDK provider or a native provider under 4.17+?

[2017-02-07 21:25] jchambers commented on #6312
…FWIW, at this point, I've jettisoned almost all optional `SslContext` configuration in both my test and yours (gist is updated) and made sure that the event loop group setup is the same in both tests, but continue to get different results.

[2017-02-07 21:40] loxal opened #6330 "Exception parsing hostname"
My corporate hostname is something “funny” like **MUCM29044565D** and when I launch my Spring Boot application, I get the following exception

[2017-02-07 21:42] jasontedor commented on #6330
I think that you're setting `io.netty.machineId` to your hostname and that's not right, it should look like a MAC address (or just don't set it all).

[2017-02-07 21:47] loxal commented on #6330
I am not setting anything explicitly. Apparently it’s the Spring Boot that uses some defaults that are wrong and come to light with my odd host name. So it looks rather like a Spring Boot issue that passes wrong values.

[2017-02-07 21:47] #6330 closed

[2017-02-07 22:19] loxal commented on #6330
Actually in the logs I see something like

…for some reason.

[2017-02-07 22:34] jasontedor commented on #6330
Again, that's because it's explicitly being set to an invalid value. That specific log message is only emitted if the system property `io.netty.machineId` is defined and can not be parsed as a MAC address. You have to find where that it is being done and stop it.

[2017-02-08 01:17] enginespot commented on #6324
@normanmaurer @Scottmitch  I think @fenik17 PRs is ok , so the bug can close now:)

[2017-02-08 02:42] Scottmitch commented on #6312
@jchambers - I am able to reproduce with your test case and I think I found the difference (copy/pasta):

[code]

The certs/keys you are using are also part of the equation. I see consistent behavior between JDK and OpenSSL engines which is with `ClientAuth.REQUIRE` they both fail the handshake (although the JDK doesn't use a `SSLHandshakeException` which seems like a JDK bug), and with `ClientAut

[2017-02-08 03:44] jchambers commented on #6312
Gooooood catch. Never thought to look there; is there a difference between setting those properties on the engine directly and using [`SslContextBuilder#forClient()`](http://netty.io/4.1/api/io/netty/handler/ssl/SslContextBuilder.html#forClient())?

In any case, I agree the behavior is now consistent. If that's all we're after, I'll happily close this ticket with my sincere apologies for both the

[2017-02-08 03:53] Scottmitch commented on #6312
There shouldn't be. At one time we didn't support all these fancy features in our APIs and on the OpenSslEngine, and these tests haven't been updated to use the new APIs.

I just wanted to be clear that I don't think there is a security related issue and no-one should panic. The behavior may have changed in OpenSslEngine, but it is now more consistent with JDK's SSLEngine.

However I am working on

[2017-02-08 05:41] fangqiao commented on #6266
I looked in to the problem. It looks it is indeed a nginx issue.

My nginx reverse proxy server is configured with two upstream REST service servers based o Netty. For convenience of testing, I shut down one instance of the REST service server. However the Nginx upstream still was configured with two upstream servers.

It seems it is this set up that caused the issue. After I turned the second RES

[2017-02-08 06:47] #6324 closed

[2017-02-08 06:48] normanmaurer commented on #6312
@jchambers thanks for reporting back :)

@Scottmitch nice find buddy ! But yeah I agree the behaviour is now consistent with the JDK which is what we want by default IMHO. Adding a new configuration option is fine tho.

[2017-02-08 08:49] Scottmitch commented on #6312
Also note that in my version of the test case the client actually elected not to send the certificate in this case. In the event that the Certificates list is of 0 length, OpenSSL doesn't call the certificate verification callback and completes the handshake (expected behavior):

<img width="299" alt="screen shot 2017-02-08 at 12 40 01 am" src="https://cloud.githubusercontent.com/assets/7562868/22

[2017-02-08 10:49] normanmaurer commented on #6266
Ok let me close this for now then

[2017-02-08 10:49] #6266 closed

[2017-02-08 10:49] normanmaurer commented on #6281
@slandelle sounds good.

[2017-02-08 14:35] slandelle commented on #6281
`transport` depends on `resolver` so I can't of course have the other way around 😭 😭 😭

[2017-02-08 14:36] errandir opened #6333 "@Sharable CombinedChannelDuplexHandler usage problems"
Netty version: 4.1.8.Final

@Sharable CombinedChannelDuplexHandler implementation shares ChannelHandlerContext among different connections. Problem could be reproduced with [this code](https://gist.github.com/errandir/af45f3559421e3d12ace556af3e4999b) _(compile and run with netty-all-4.1.8.Final.jar in classpath)_. Output will differ from time to time.

For example I get:
<pre>
io.netty.channel.Co

[2017-02-08 14:41] normanmaurer commented on #6333
@errandir `CombinedChannelDuplexHandler` implementation can't be `@Sharable` as it contains state. Let me ensure we throw an exception if someone tries to make a sub-class of `CombinedChannelDuplexHandler ` `@Sharable`.

Thanks for reporting

[2017-02-08 15:44] slandelle commented on #6281
PTAL #6334

[2017-02-08 16:03] errandir commented on #6333
@normanmaurer There is real lack of such exception and even `CombinedChannelDuplexHandler` comment.

[2017-02-08 16:09] normanmaurer commented on #6333
@errandir yep... will have a PR soon.

[2017-02-08 20:19] nmittler opened #6335 "Remove OpenSSLEngine unwrap restriction"
Creating this as a point of discussion. A caller of an `SSLEngine` should be able to pass a large buffer into `unwrap`, which it received from the network.

However, we currently have [this check](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/ReferenceCountedOpenSslEngine.java#L824) to make sure that the number of input bytes is <= a maximum packet size.

This

[2017-02-08 20:44] normanmaurer commented on #6335
@nmittler +1 ... Let me fix it.

[2017-02-08 21:53] rkapsi opened #6336 "NPE in CipherSuiteConverter.toJava(CipherSuiteConverter.java:281)"
Providing repro shortly but it's triggered by an Unit Test for the OCSP Stapling PR.

Basically... OpenSSL (native) is calling my OCSP callback (java) which throws for the sake of the test an Exception. Instead of bubbling up the Exceptions it's running into an unhandled (?) NPE and my purposely thrown Exception gets swallowed somewhere.

Netty 4.1.9.Final-SNAPSHOT

The NPE's stack looks like this

[2017-02-08 22:14] nmittler commented on #6335
@normanmaurer awesome, thanks! I think you just have to remove the check.

[2017-02-08 23:05] Scottmitch commented on #6312
@jchambers - I think we should close this issue. I will add unit tests to verify existing behavior, but from what I can tell everything is working as expected. Please reopen if you feel there is still an issue here.

[2017-02-08 23:05] #6312 closed

[2017-02-08 23:15] jchambers commented on #6312
Agreed. I went one further and made the title a lot less alarming, too.

Would you still like me to verify the certificates count thing? If so, can you clarify where you were looking?

[2017-02-09 00:36] Scottmitch commented on #6312
Yes. Use some network analyzer (tcpdump, Wireshark) to inspect the handshake data. Wireshark can actually analyze the packets and understands the SSL/TLS handshake and gives you a nice GUI (which is the screenshot above). What I want to verify is the ServerHello includes the `CertificateRequest` and the client's response includes an empty certificate list (list shown above). Under these conditions

[2017-02-09 03:10] Scottmitch commented on #6336
any idea what the parameter values are `static String toJava(String openSslCipherSuite, String protocol)`?

[2017-02-09 03:14] rkapsi commented on #6336
Will find out tomorrow morning.

[2017-02-09 03:22] Scottmitch commented on #6336
@rkapsi - Just realized you pushed your code so I can do it my self too :)

[code]

[2017-02-09 04:00] #6225 closed

[2017-02-09 05:43] normanmaurer commented on #6335
Yes and adding a Unit Test ;)

[2017-02-09 09:04] huangyiminghappy commented on #2465
by use nio,also meet the same question:
"$_NIOREACTOR-2-RW" #28 prio=5 os_prio=0 tid=0x00007f988c154800 nid=0x794e runnable [0x00007f98d011c000]
55531-   java.lang.Thread.State: RUNNABLE
55567-	at sun.nio.ch.EPollArrayWrapper.epollWait(Native Method)
55625-	at sun.nio.ch.EPollArrayWrapper.poll(EPollArrayWrapper.java:269)
55691-	at sun.nio.ch.EPollSelectorImpl.doSelect(EPollSelectorImpl.java:93)
55

[2017-02-09 09:30] slandelle commented on #6328
Answer my own question: no without breaking API (Java's Set is invariant).

[2017-02-09 11:27] johnou commented on #2408
@rzo12345 do you experience the same issue with Netty 4.x?

[2017-02-09 17:31] Scottmitch commented on #2408
I will close this for now. 5.0 was abandoned a while ago. Please open another issue if this problem exists on 4.1.x.

[2017-02-09 17:31] #2408 closed

[2017-02-09 17:33] Scottmitch commented on #6328
[AsciiString#toString()](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/AsciiString.java#L1152) caches the string conversion. So with these static methods you should only have to pay the price 1 time. Also with the string improvements in jdk9 we may investigate removing `AsciiString` when we can support jdk9.

[2017-02-09 17:34] slandelle commented on #6328
@Scottmitch Got it. Closing then, thanks!

[2017-02-09 17:36] slandelle commented on #6328
Actually, in terms of API, we could just make the `CorsConfigBuilder` accept `CharSequence` and call `toString` internally. WDYT?

[2017-02-09 17:38] Scottmitch commented on #6328
I haven't thought about it too much but the class is final so on the surface that seems reasonable.

[2017-02-09 17:44] slandelle commented on #6328
I'll send a PR later tonight.

[2017-02-09 18:07] normanmaurer commented on #6328
@slandelle cool.. Just ensure you also keep the old methods to preserve binary compatibility.

[2017-02-09 19:07] slandelle commented on #6328
@normanmaurer Well, I just plan to expand to super type in covariant position (`foo(String)` -> `foo(CharSequence)`), so it should be fine, shouldn't it?

[2017-02-09 19:09] normanmaurer commented on #6328
Nope this is not fine see also:

https://github.com/netty/netty/issues/6283

[2017-02-09 20:14] slandelle commented on #6328
Mmm, #6283 looks very different to me (at least from a types perspective).

`addAll(Future[])` (varargs are arrays) is NOT a generalization of `addAll(Promise[])`, event though `Promise` extends `Future` because arrays are invariant, not covariant.

My first guess was that it wasn't necessary in #6292 to restore `add(Promise)`.

Then, I'm not 100% sure of what happens in the Java bytecode, let me

[2017-02-09 20:16] slandelle commented on #6328
My bad, Java arrays are covariant.

[2017-02-09 20:29] slandelle commented on #6328
I stand corrected :)

[2017-02-09 20:50] slandelle commented on #6328
PR: #6340

[2017-02-10 00:16] maxcellent opened #6341 "feature request: expose read only property PlatformDependent.getDirectMemoryCounter"
We occasionally get OutOfDirectMemory error. It may indicates a real leak. But can also simply be so many connected clients.

From the code, I can see PlatformDependent.DIRECT_MEMORY_COUNTER is used as an internal counter, which is not currently exposed.

If we can have PlatformDependent.getDirectMemoryCounter to expose a read only attribute, then we can keep track of the number, and easier to mon

[2017-02-10 07:08] MarkVilkel commented on #6317
@normanmaurer,  @doom369
I've switched back transport to netty 4.0.42 and deployed on the same live environment under Solaris. Problem disappeared.

I'm going to prepare test environment with the same load as on live and will provide heap-dump a bit later.

[2017-02-10 08:19] lkoe opened #6343 "OutOfDirectMemoryError/large number of PooledUnsafeDirectByteBuf allocated"
We're using Netty via Apache Camel (camel-netty4). The component acts as server and is only supposed to read messages from clients.
Wenn starting our system a number of clients (around 20-25) connect to the TCP server. During that process we started to experience issues with available direct memory being exhausted quickly.

`[io.netty.util.internal.OutOfDirectMemoryError - failed to allocate 16777

[2017-02-10 13:39] #6328 closed

[2017-02-10 19:26] mp911de opened #6345 "Initialization of PlatformDependent0 fails on Java 9"
Initialization of `PlatformDependent0` fails on Java 9 in static initializer when calling `setAccessible(true)`.

[code]

### Expected behavior

Initialization should not fail without `--add-opens=java.base/java.nio=ALL-UNNAMED`

### Actual behavior

Class initialization fails with:

[code]
### Steps to reproduce

Trigger class initialization of `PlatformDependent0` or call to `PlatformDependent.g

[2017-02-11 03:26] Scottmitch commented on #6343
Please update to the latest Netty (4.1.8) and report back if you can still reproduce.

We retain the objects from a the `PooledByteBufAllocator` via the `Recycler` so that in itself is not necessarily an indication of a problem. You can use [-Dio.netty.recycler.maxCapacityPerThread](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/Recycler.java#L64) to tweak the limits or

[2017-02-11 10:52] yschimke opened #6347 "DnsNameResolver uses public dns servers in java 9"
I realise this is known, but it seems broken enough to deserve a tracking issue.

### Expected behavior

Should use system dns servers

### Actual behavior

Logs a warning "Default DNS servers: [/8.8.8.8:53, /8.8.4.4:53] (Google Public DNS as a fallback)"
Then uses the google servers.

n.b. It logs the warning even *if* you manually set the nameServerAddresses

        .nameServerAddresses(

[2017-02-11 11:09] yschimke commented on #6347
Somewhat related with Java 9 without these options I get

[code]

Because b.register() returns a failed ChannelFuture with null channel

[code]

[2017-02-11 13:26] normanmaurer commented on #6345
@mp911de thanks for reporting... let me fix this

[2017-02-11 13:26] normanmaurer commented on #6347
@yschimke thanks for reporting... working on a fix

[2017-02-11 14:05] normanmaurer commented on #6345
Started working on a fix... should have a PR soon

[2017-02-11 15:25] johnou commented on #6343
You can disable the recycler with `-Dio.netty.recycler.maxCapacity=0 -Dio.netty.recycler.maxCapacity.default=0`

[2017-02-11 18:38] Scottmitch opened #6348 "Accept zero length TLS/SSL records for"
### Expected behavior
Netty should be able to process zero length TLS records for application data. The SSLEngine should decide if the zero length record is invalid or not.

The TLSv1.2 RFC does allow for 0 length application data frames.

https://tools.ietf.org/html/rfc5246#section-6.2

   Alert, or ChangeCipherSpec content types.  Zero-length fragments of
   Application data MAY be sent as they

[2017-02-12 00:14] Scottmitch commented on #6341
Have you tried turning up the the [leak detector level](http://netty.io/wiki/reference-counted-objects.html#leak-detection-levels)?

We can add a getter here but note that this class is in an `internal` package and not part of Netty's public API (subject to change at any time).

[2017-02-12 20:27] maxcellent commented on #6341
@Scottmitch

Yes, but still getting Direct Memory OOM after all leaks are cleared. I believe there is a chance that we can only support that many concurrent connections with our limited direct memory (256m).  Would like to make it a reportable metrics so that we can monitor it on time series.

[2017-02-13 12:58] normanmaurer opened #6349 "Change default value of io.netty.maxDirectMemory ?"
We introduced `io.netty.maxDirectMemory` to allow creating a Direct ByteBuffer which not is allocated through `Bits.reserveMemory` as this method and the corresponding `Bits.unreserveMemory` were static synchronized. This reduced the overhead but also made it harder to monitor direct memory usage as these are not exported through JMX anymore by Java itself.

Since Java version 8u72 these methods a

[2017-02-13 16:17] mtaylor commented on #5828
@normanmaurer @ppatierno I also ran into this recently with MQTT protocol handler in Apache Artemis.  It'd be preferable if this was passed along as a buffer vs a UTF8 encoded string.  I'd expect that this may cause problems if the will message payload is not a well formed UTF8 string?

The MQTT spec says that the will message has no encoding only 2 byte length, the content could be anything, seri

[2017-02-13 20:20] Scottmitch commented on #6348
Address the TODOs in https://github.com/netty/netty/pull/6365

[2017-02-13 21:05] snazy commented on #6349
Yes, the methods are not (or no longer) synchronized. But IMO the real issue is in the implementation in {{Bits}} (forcing GC) and how the allocations are managed (linked list).

However, having some MXBean that allows people to get metrics about direct memory usage would be great.

[2017-02-13 21:36] Scottmitch commented on #6349
Sounds good in general. However didn't this allow use to use a `realloc` in a few places. Maybe worth benchmarking?

[2017-02-13 23:02] #6336 closed

[2017-02-13 23:03] nmittler commented on #6349
Agreed with @Scottmitch ... assuming benchmarks are good, SGTM.

[2017-02-13 23:16] Scottmitch opened #6371 "DefaultChannelId equals, hashCode, compareTo clarification"
`DefaultChannelId` chooses a hash as a random value in the constructor [1] and uses the `data` array in the comparison for `equals` [2]. This means that two `DefaultChannelId` could be `equal()` but have different `hashCode()` values which violates the interface contract of `Object#hashCode()`.

`DefaultChannelId#compareTo()` always returns `0` [3]. The violates a "strong recommendation" on the `C

[2017-02-13 23:16] Scottmitch commented on #6371
@trustin - Can you provide any insight on this?

[2017-02-13 23:48] CodingFabian commented on #6341
+1 from my side. I have no problems using an internal api for that.

[2017-02-13 23:53] Scottmitch commented on #6341
perhaps this will be unnecessary pending https://github.com/netty/netty/issues/6349

[2017-02-14 00:06] CodingFabian commented on #6371
@Scottmitch I think you are reading `Object#hashCode()` wrong. it is perfectly valid to produce the same hashCode when objects are unequal:

[code]

I agree on the problem with compareTo, is there any order we can impose on channelIds?

[2017-02-14 00:25] J-Ibarra opened #6372 "authentication and authorization"
Hello, sorry for this issue, but i need help, or maybe some tips:

i am use Netty for game server and client!

all found good!, but now i need integrate the login and the and protocol security!

Can i use Oauth2.0? I am familiar with working with oauth in php but in http requests, not if it can be integrated to tcp or udp!

for security I need buy a ssl certificated? in the example of securechat t

[2017-02-14 01:36] Scottmitch commented on #6371
Agreed. I over stated this and will correct the issue description.

[2017-02-14 01:42] #6303 closed

[2017-02-14 05:52] trustin commented on #6371
Two `DefaultChannelId` instances in the same VM can never be equal to each other. Having a random hash value doesn't matter therefore.

[2017-02-14 05:55] trustin commented on #6371
Oh, by the way, the `compareTo()` implementation is not correct obviously. It has to compare the underlying arrays.

[2017-02-14 05:57] trustin commented on #6371
If this assumption is broken, then obviously hashCode() implementation is broken. I can't find a counter-example, but I agree that the code is neither intuitive nor simple, so please feel free to make it straightforward.

[2017-02-14 07:33] normanmaurer commented on #6335
Fixed by https://github.com/netty/netty/pull/6350

[2017-02-14 07:33] #6335 closed

[2017-02-14 07:52] normanmaurer commented on #6349
@snazy I am more concerned about the static synchronized  which is gone now. I think it would "good enough" to just use the default JDK impl as default and if people really want to make use of this "optimisation" they are free to use it. This way the metrics which are exposed via JMX etc are at least correct.

@Scottmitch yeah we may be able to `realloc` in some places. That said I think as long a

[2017-02-14 07:53] normanmaurer commented on #6349
@trustin any comments ?

[2017-02-14 09:02] #6333 closed

[2017-02-14 09:03] normanmaurer commented on #6333
Fixed by #6352

[2017-02-14 09:22] normanmaurer commented on #6345
Fixed by https://github.com/netty/netty/pull/6356

[2017-02-14 09:22] #6345 closed

[2017-02-14 09:23] normanmaurer commented on #6341
@Scottmitch let me introduce something which will either return our number or the one used by the JDK based on the config.

[2017-02-14 10:28] nika-begiashvili opened #6373 "Websocket closes during HTTP 101 on java 1.6.x"
### Expected behavior
Websocket connection should be established
### Actual behavior
Websocket connection closes unexpectedly during upgrade protocol
### Steps to reproduce
use general var connection = new WebSocket('ws://127.0.0.1:8181');
### Minimal yet complete reproducer code (or URL to code)
[pastebin.com/5bvbaz1N](http://pastebin.com/5bvbaz1N)
### Netty version
4.1.x
### JVM version (e.g. `j

[2017-02-14 17:14] lkoe commented on #6343
I can observe the same behaviour using latest Netty (4.1.8). I also tested the Recycler options, but they had no noticable effect on my problem.

To reproduce the behaviour I created a small [test project](https://github.com/lkoe/netty-buffers-test).
It contains a JUnit test, which sets up a simple Netty TCP Server and then uses simple Socket connections to send message.

Running the "testMultiple

[2017-02-14 19:31] mosesn opened #6375 "netty https website points to non-https scripts"
### Expected behavior

https://netty.io/wiki/reference-counted-objects.html#wiki-h3-11 should be properly styled, but it's not because chrome doesn't load non-https scripts when you claim to be on https.

### Actual behavior

https://netty.io/wiki/reference-counted-objects.html#wiki-h3-11 looks unstyled in chrome

### Steps to reproduce

open https://netty.io/wiki/reference-counted-objects.html#wi

[2017-02-14 20:19] Scottmitch commented on #6371
thanks for clarifying @trustin ... not high priority but we will clean this up

[2017-02-14 20:32] Scottmitch commented on #6349
My only concern is if performance is impacted in a meaningful way. If there is impact and we still want to change the default then we should call out the change in the Release notes.

[2017-02-14 20:50] Scottmitch commented on #6343
thanks for reporting back and the reproducer @lkoe ... we will investigate and get back to you

[2017-02-14 20:58] Scottmitch commented on #6375
thanks @mosesn ... need to investigate more but looks like [bootstrap.min.js](https://github.com/netty/netty.github.com/blob/master/wiki/reference-counted-objects.html#L14) is a problem.

[2017-02-14 21:14] normanmaurer commented on #6375
I can take a look

[2017-02-15 01:57] jasontedor commented on #6371
I don't think that this can happen. The hash code is chosen at random, but the random value is used as the last four bytes of the data array that comprises the channel ID. The equals implementation here compares the arrays, so if two instances are equal, the arrays are equal. If the arrays are equal, the last four bytes are equal. If the last four bytes are equal, the random values that were compu

[2017-02-15 02:35] jasontedor commented on #6371
That said, I do think there should just be straightforward implementations here. I opened #6377.

[2017-02-15 05:11] Scottmitch commented on #6371
Agreed. Thanks for clarifying. I missed the hashCode being written into the array.

[2017-02-15 06:44] alkemist commented on #6303
@Scottmitch bad news, the problem persists. I built from the PR @ ae3365c4793cd8d3233875a8aa35fa20999c7c34.

How do you want to proceed? I can give you instructions to be able to run the test I'm running in IDEA against a 4.1.9-SNAPSHOT loaded from maven local.

[2017-02-15 07:40] normanmaurer commented on #6303
@alkemist yes please leave infos how to reproduce here.

[2017-02-15 10:37] alkemist commented on #6303
It's not pretty, but let's see how we go.

1. Checkout https://github.com/ratpack/ratpack/tree/netty-6303-repro
1. Ensure you have a `4.1.9-SNAPSHOT` installed in your local maven repo
1. in checkout, run `./gradlew idea`
1. Open the checkout dir in IDEA
1. In IDEA, Navigate to `HttpClientResponseStreamingSpec` and run `chunked responses are streamed reliably`

You'll see that the test “hangs” and

[2017-02-15 12:27] normanmaurer commented on #6373
@nika-begiashvili will have a look

[2017-02-15 12:30] normanmaurer commented on #6341
@CodingFabian @maxcellent btw you can already get the number of bytes used for heap / direct memory when you use the `PooledByteBufAllocator`.

There you can do:

[code]

[2017-02-15 12:40] normanmaurer commented on #6343
@lkoe this is most likely because of the default configuration of PooledByteBufAllocator which will create `cores * 2` number of `PoolArena` each of this arena will at the end at least have 16MB of allocated direct memory.  This is done to reduce lock-condition on the arena itself but also have a "high" memory overhead depending on your memory constraint. You can overwrite this by either specify i

[2017-02-15 16:52] CodingFabian opened #6384 "NetworkInterface.getNetworkInterfaces() can return null"
To my suprise NetworkInterface.getNetworkInterfaces() can return null:
[code]

(not sure where its "specified")

https://github.com/netty/netty/blob/42c035982093d6e08201af9572ea43c7cf269adf/common/src/main/java/io/netty/util/internal/MacAddressUtil.java#L55

https://github.com/netty/netty/blob/3344cd21acc61819c327976ed5281daa49b0c05e/common/src/main/java/io/netty/util/NetUtil.java#L166

[2017-02-15 16:56] CodingFabian commented on #6384
(derived from a bug report by a customer, not sure how they ended up having no network interfaces, also not sure if its relevant to use netty if you do not have network interfaces :))

[2017-02-15 17:16] Scottmitch opened #6385 "OpenSslEngine may fail to write alerts if BIO is full"
If, when attempting to send an alert, the write buffer is busy or BIO_write does not complete synchronously, there is no good way to tell the system to try again.

Once OpenSSL/BoringSSL provide a means to flush out pending alerts we should use it.

### Related
https://bugs.chromium.org/p/boringssl/issues/detail?id=130
https://github.com/openssl/openssl/issues/2638

### Minimal yet complete reprod

[2017-02-15 17:25] normanmaurer commented on #6385
Shoulder but a restriction into Netty for now which at  least disallow such values?

[2017-02-15 17:27] Scottmitch commented on #6385
@normanmaurer - We could limit the size of the non-application buffer, but I don't think this will help if the BIO happens to be full.

[2017-02-15 17:28] Scottmitch commented on #6385
Once this is fixed we should modify the OpenSslEngine unit tests to run with a size of 1 for the non-application buffer size. If we do that now tests will fail so we should wait.

[2017-02-15 17:30] johnou commented on #6385
@Scottmitch or ```@Parameterized.Parameters``` with app buff size 1 / default to cover both code paths?

[2017-02-15 17:49] normanmaurer commented on #6384
@CodingFabian let me fix this

[2017-02-15 18:16] TheCycoONE opened #6387 "allowMaskMismatch documentation issue"
Netty version 4.1.8.Final

The documentation for allowMaskMismatch on various websocketx classes reads as follows:
'Allows to loosen the masking requirement on received frames. When this is set to false then also frames which are not masked properly according to the standard will still be accepted.'

The actual usage of this flag is here: https://github.com/netty/netty/blob/eb7f751ba519cbcab47d640

[2017-02-15 18:32] normanmaurer commented on #6387
@TheCycoONE sounds good... Can you submit a PR ?

[2017-02-15 18:43] TheCycoONE commented on #6387
Sure.

[2017-02-15 18:45] Scottmitch commented on #6385
@johnou - I'm not quite sure on the specific implementation yet but that is the general idea.

[2017-02-15 18:48] normanmaurer commented on #6387
@TheCycoONE thanks!

[2017-02-15 18:51] normanmaurer commented on #6372
Please use stack overflow for questions. This is a issue tracker

[2017-02-15 18:51] #6372 closed

[2017-02-15 18:59] J-Ibarra commented on #6372
Ok, Sorry

[2017-02-15 19:47] normanmaurer commented on #5458
Fixed by https://github.com/netty/netty/pull/6379

[2017-02-15 19:47] #5458 closed

[2017-02-15 20:06] Scottmitch commented on #6303
@alkemist - thanks for the repro ... looking now.

[2017-02-15 20:16] jasontedor commented on #6371
I think this can be closed now?

[2017-02-15 20:19] #6371 closed

[2017-02-15 20:19] normanmaurer commented on #6371
done

[2017-02-16 00:13] Scottmitch commented on #6303
@alkemist - I believe I found the issue. Please verify https://github.com/netty/netty/pull/6391.

[2017-02-16 01:07] alkemist commented on #6303
@Scottmitch fix confirmed! Nice one.

[2017-02-16 01:49] Scottmitch commented on #6303
@alkemist - Great! Thanks for the reproducer ... makes life so much easier.

[2017-02-16 07:08] normanmaurer commented on #6384
Fixed by https://github.com/netty/netty/issues/6389

[2017-02-16 07:08] #6384 closed

[2017-02-16 12:54] jk-5 opened #6393 "HttpPostRequestDecoder for http2"
Trying to decode post bodies using the http2 api. The HttpPostRequestDecoder is built for http1.x only.
Most of the fields below are not really relevant for this issue. The point is that no equivalent of the HttpPostRequestDecoder exists for http2.

### Expected behavior
Able to decode post bodies using the HttpPostRequestDecoder, or an equivalent.

### Actual behavior
The HttpPostRequestDecoder a

[2017-02-16 16:04] #6387 closed

[2017-02-16 16:05] normanmaurer commented on #6387
Fixed by https://github.com/netty/netty/pull/6390

[2017-02-16 17:01] Scottmitch commented on #6393
codec-http2 supports a light weight compatibility layer to codec-http objects which allows you to use codec-http handlers in your pipeline. See [HttpToHttp2ConnectionHandler](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/HttpToHttp2ConnectionHandler.java) and [InboundHttp2ToHttpAdapter](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/ja

[2017-02-16 23:10] #6058 closed

[2017-02-17 07:07] #6264 closed

[2017-02-17 11:02] mckamps commented on #6062
@normanmaurer: together with pfpmeijers we have discovered what caused the leak in our environment.

The watcher thread does a Thread.sleep(1000), and in some rare conditions this sleep simply does not return. And then (after 12-80 hours) we have an entry list of 5000 and huge memory consumption.
The question is still why such a sleep could hang (and we are still chasing that), but it makes the wa

[2017-02-17 11:14] normanmaurer commented on #6062
@mckamps @pfpmeijers wow... I never encountered this before. I am afraid but even if we would remove `Thread.sleep(...)` here you may get into trouble in other areas as even the JDK itself uses `Thread.sleep(...)` in a lot of places. If this only happens on vmware (which seems to be the case) I think you will need to work with vmware to fix it.

As you can see its just a native method in Java:

ht

[2017-02-17 11:27] johnou commented on #6062
@mckamps @pfpmeijers is ntp configured on that machine? you might want to try date -s "`date`"
 to ensure it is not related to the leap second bug.

[2017-02-17 17:05] wangjianwen opened #6405 "What happen when received many reset frame from http2 server!"
We developed a http2 reserve proxy server based on netty.  In http2 proxy, we adapt long connection for connect proxy to http2 server. After http2 prxoy run some time,  from a certain point in time， the frame we received from http2  server  all are one head frame(endFlag=false)、 one reset frame(errorCode=8)  in some of EventExecutorGroup.  Then the proxy dose no work any way. What happen for this

[2017-02-17 18:46] Mineville opened #6406 "Bungeecord - Failed to find a usable hardware address"
### Expected behavior
Bungeecord starts without an error
### Actual behavior
bungeecord throws an error at start
### Steps to reproduce
restart bungeecord
### Minimal yet complete reproducer code (or URL to code)
io.netty.util.internal.MacAddressUtil defaultMachineId
WARNING: Failed to find a usable hardware address from the network interfaces;
### Netty version
latest
### JVM version (e.g. `java

[2017-02-17 19:01] johnou commented on #6406
That's a warning, not an error..?

[2017-02-17 19:05] Mineville commented on #6406
[SEVERE] Feb 16, 2017 7:57:58 PM io.netty.util.internal.MacAddressUtil defaultMachineId

It is working, no question. But it did not appear before upgrading and can not be positive anyways.

[2017-02-17 20:59] md-5 commented on #6406
Correct, it's a warning and there is no harm done - just ignore it, it's not causing issues.
I think it likely that this commit fixes it: https://github.com/netty/netty/commit/42c035982093d6e08201af9572ea43c7cf269adf which will be in 4.1.9

[2017-02-17 21:41] Scottmitch commented on #6405
Can you please provide a reproducer for this issue, describe the specific steps which result in this unexpected behavior, and what the expected behavior is?

[2017-02-18 10:01] mckamps commented on #6062
@normanmaurer Of course it would be best to fix the root cause, but I'm not sure yet if that is possible.
On the other hand: this `Thread.sleep(...)` is maybe more crucial than others - when this watcher thread remains asleep it will crash the application server.
BTW: may I assume that netty (and WildFly/EAP) is qualified in virtualized environments, or did I overlook some disclaimers?

@johnou Ye

[2017-02-18 12:23] okou19900722 commented on #1798
Netty3 also has this problem, not fixed

[2017-02-19 04:29] Scottmitch commented on #1798
Netty 3.x has been EOL for a while [1]. Please upgrade to 4.1 and report a new issue if the problem still exists.

[1] http://netty.io/news/2016/06/29/3-10-6-Final.html

[2017-02-19 06:48] wangjianwen commented on #6405
@Scottmitch , the http2 reserve proxy server we designed looks like the proxy , one of example in netty source code [(simple proxy)](https://github.com/netty/netty/tree/4.1/example/src/main/java/io/netty/example/proxy). It also includes ProxyFrontendHandler and ProxyBackendHandler. One difference is that we adopt a long connection strategy for connect proxy to http2 server. So we must init connect

[2017-02-19 16:53] johnou commented on #6349
@snazy don't forget that sleep.. :)

[code]

[2017-02-20 09:29] slandelle commented on #6281
@normanmaurer This issue can be closed since #6334 was merged.

[2017-02-20 09:29] #6281 closed

[2017-02-20 12:36] dizzzz commented on #6062
I found this:  http://bugs.java.com/bugdatabase/view_bug.do;jsessionid=c0af3bf36ff7fffffffffdbd3372166fe34d?bug_id=6311057

[2017-02-20 14:05] johnou commented on #6406
@Mineville would you please try with 4.1.9.SNAPSHOT?

[2017-02-20 15:18] yusufbulentavci opened #6418 "Http server parsing post parameters"
Parsing on disk
Http server parsing post parameters failed with "file exists already" error

### Steps to reproduce
Post empty value for a field

### Netty version
I am using 4.1.6.

### I RESOLVED IT WITH OVERRIDING AbstractDiskHttpData->setContent
    public void setContent(ByteBuf buffer) throws IOException {
        if (buffer == null) {
            throw new NullPointerException("buffer");

[2017-02-20 17:48] johnou opened #6419 "wrap() invoked when engine is already closed"
### Expected behavior

wrap() not invoked when engine is closed.

### Actual behavior

wrap() is invoked when engine is closed..

[code]

### Steps to reproduce

[code]

### Minimal yet complete reproducer code (or URL to code)

None yet.

### Netty version

4.1.8.Final

### JVM version (e.g. `java -version`)

java version "1.8.0_102"
Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
Java HotS

[2017-02-20 17:57] Scottmitch commented on #6419
thanks for reporting @johnou ... keep us posted if you have a repro and we will look in the mean time.

[2017-02-20 18:21] Scottmitch opened #6421 "Cleanup work around for JDK's SSLEngine not throwing SSLHandshakeException"
### Expected behavior
When a TLS/SSL handshake is failed it is expected that the SSLEngine will throw a [SSLHandshakeException](https://docs.oracle.com/javase/8/docs/api/javax/net/ssl/SSLHandshakeException.html). We have added some work arounds in unit tests to allow for non `SSLHandshakeException` so the unit tests will pass. We should remove these workarounds after the issue is addressed.

### A

[2017-02-20 18:21] Scottmitch commented on #6421
Related https://github.com/netty/netty/issues/6421

[2017-02-20 18:22] Scottmitch commented on #6421
@normanmaurer - please link the JDK issue here when it is created.

[2017-02-20 18:37] Scottmitch commented on #6405
`Http2FrameCodec` is experimental [1].

`DefaultHttp2ResetFrame` is designed to correlate to the `RST_STREAM` frame. Error code `8` means `CANCEL: Used by the endpoint to indicate that the stream is no longer needed.`. Without more details I will refer you to the RFC [2].

I don't know why you receive a data frame, and it is not clear why you think this is an issue. As previously requested please

[2017-02-20 19:00] Scottmitch commented on #5850
Observed while building PR https://github.com/netty/netty/pull/6417 more details at https://garage.netty.io/teamcity/viewLog.html?buildId=17155&buildTypeId=pulls_netty&guest=1

[code]

[2017-02-20 19:54] johnou commented on #6419
@Scottmitch sgtm, soon as 4.1.9.Final is out I'll deploy a canary build.

[2017-02-20 20:49] deepeshiworld opened #6423 "Broken Pipe exceptions netty 3.9."
### Expected behavior  - Should be working fine

### Actual behavior - Java.io.exception : Broken pipe

### Steps to reproduce

[code]
Total Number of threads - 2048

### Minimal yet complete reproducer code (or URL to code)

### Netty version - 3.9

### JVM version (e.g. `java -version`) - 1.7.65

### OS version (e.g. `uname -a`) - RHEL 7

[2017-02-20 20:52] md-5 commented on #6423
Stack trace? Is that the complete code?
Why are you using so many threads?

[2017-02-20 21:00] Scottmitch commented on #6423
Netty 3 is no longer supported [1]. Please update to 4.1 and report back if the issue still exists.

[1] http://netty.io/news/2016/06/29/3-10-6-Final.html

[2017-02-20 21:00] #6423 closed

[2017-02-20 21:04] deepeshiworld commented on #6423
@md-5
As we have very high TPS (80k per sec) so we have handled this way (suggest if there is any better way of doing with netty or something else)

StackTrace of Exception :
`java.io.IOException: Broken pipe
        at sun.nio.ch.FileDispatcherImpl.write0(Native Method)
        at sun.nio.ch.SocketDispatcher.write(SocketDispatcher.java:47)
        at sun.nio.ch.IOUtil.writeFromNativeBuffer(IOUtil

[2017-02-20 21:15] deepeshiworld commented on #6423
@Scottmitch  -

It would be really helpful if you could provide way to approach this problem or
is it a known/reported issue of netty 3.

Upgrading to netty 4.1 is big task (we are looking forward for this ) but it will take some time/effort to test it thoroughly.
For the time being, I want to stabilize my application so need your help in rectifying the issue.

Any help will be highly appreciable.

[2017-02-20 21:56] Scottmitch commented on #5850
PR https://github.com/netty/netty/issues/6422 hopefully addressed this. We can re-open later if not. We will have to be careful in other unit tests which have the same behavior (closing the EventLoop immediately without waiting to drain tasks).

[2017-02-20 21:56] #5850 closed

[2017-02-21 07:07] Scottmitch commented on #6419
I took a closer look and this exception originates from [1]. Can you explain why you think this is unexpected behavior?

[1] https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L664

[2017-02-21 08:54] johnou commented on #6419
@Scottmitch I was unsure which is why I didn't create the issue initially, so you are saying in my scenario (using async-http-client) the client establishes a connection with the server, ssl handshake completes and before the client has a chance to send the http request the connection is interrupted / closed? If so then I am happy to close this issue.

[2017-02-21 09:03] normanmaurer commented on #6418
@yusufbulentavci please open a PR with the proposed fix.

[2017-02-21 09:04] normanmaurer commented on #6393
Let me close this for now

[2017-02-21 09:04] #6393 closed

[2017-02-21 09:23] Scottmitch commented on #6419
This exception is generated if after a `wrap` the SSLEngine signifies the engine has closed. At this point we will fail all pending writes which have not yet been wrapped. This may happen during the handshake or also at other times, but I don't see any indication in this case of it being a problem. Yes please close if this makes sense and you don't have any additional information which would indic

[2017-02-21 09:44] #6419 closed

[2017-02-21 20:15] kuldeep992 opened #6426 "An existing connection was forcibly closed by the remote host"
### Expected behavior
Netty should not have thrown this error: `"An existing connection was forcibly closed by the remote host"`

### Steps to reproduce
I'm using Netty in our charting library where Netty is used for socket communication between our java and javascript code. It is used to send continuous real-time data and candle data to javascript. Initially, it works fine but after about 2 hours

[2017-02-21 20:40] mckamps commented on #6062
@dizzzz Yes, something like that could explain it, but this specific bug is fixed iJava 6, and we run a somewhat newer version (7u51).

[2017-02-21 21:10] dizzzz commented on #6062
@mckamps well related http://bugs.java.com/bugdatabase/view_bug.do?bug_id=6900441 is fixed in java8 ....

[2017-02-21 21:18] dlmarion opened #6428 "SSL Handshake failure closes connection disallowing a response"
It appears that the resolution to #5860 / #5880 in release 4.0.42 changed how a ssl handshake failure behaves. Previously, the SslHandler would call fireExceptionCaught() before setHandshakeFailure(). The order of the execution of these calls was reversed in one of these issues.

I was using the fireExceptionCaught() to send an HTTP redirect response back to the caller. Is there any way to do this

[2017-02-21 21:36] dlmarion commented on #6428
FWIW, the purpose of the HTTP redirect was to send the caller to an HTTPS address that would then return a HSTS header. If there is a pattern for doing this differently in Netty, please advise.

[2017-02-21 21:37] Scottmitch commented on #6426
Please update to the latest Netty version (4.1.8) and report back if you still think there is an issue.

based upon the limited information it sounds like your peer is sending a TCP RST. Please verify this with a packet analyzer (e.g. tcpdump, Wireshark, etc..). If this is the case then you need to figure out why your peer is closing the socket.

[2017-02-21 21:58] Scottmitch commented on #6428
There are currently at least 2 ways to be notified of a handshake failure:

1. [SslHandler#handshakeFuture](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslHandler.java#L491).
2. [SslHandshakeCompletionEvent](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslHandshakeCompletionEvent.java#L36) will be fired up the pipeline as

[2017-02-21 23:02] dlmarion commented on #6428
It appears that the client connection is closed before I have the ability to respond. Set HandshakeFailure closes the connection, then fireExceptionCaught gets called. I will look at the handshake future tomorrow when I get back in the office.

[2017-02-22 05:36] normanmaurer commented on #6428
@dlmarion hmm that should Born be the case. Please keep us posted

[2017-02-22 06:53] normanmaurer commented on #6062
@mckamps I am afraid but I still not think it makes sense to remove `Thread.sleep(...)` here. IMHO it sounds more like a JDK bug as @dizzzz suggested or linux / vmware bug. I am a bit shocked that you run 7u51 in prod tho, this is super old and EOL since a long time. Please upgrade your Java version and report back.

[2017-02-22 07:16] dizzzz commented on #6062
@normanmaurer  i'd like to suggest to create a github template for Issues, where reporters always should report Java version / OS / etc ... (helps us to understand) see [here ](https://github.com/blog/2111-issue-and-pull-request-templates ).

[2017-02-22 07:18] normanmaurer commented on #6062
@dizzzz actually we did add this after the issue was created ;) https://github.com/netty/netty/blob/4.1/CONTRIBUTING.md

[2017-02-22 13:16] zaffargachal commented on #327
@endlesstian - Did you find the solution of your problem. I am facing the same problem with Netty 4.1.0.CR7, Jdk 1.8. and almost 10k thread in tomcat. Tomcat became irresponsive

[2017-02-22 13:49] dlmarion commented on #6428
@normanmaurer Did you find what I was talking about, or do I need to build a test case?

[2017-02-22 13:50] normanmaurer commented on #6428
@dlmarion yep... stay tuned.

[2017-02-22 13:57] dlmarion commented on #6428
The code in  SslHandler looks like the following in version 4.0.41:

[code]

and looks like this in 4.0.44:

[code]
The call to `setHandshakeFailure()`  eventually calls `SslUtils.notifyHandshakeFailure` which ends up calling `ChannelHandlerContext.close()`. I think this is the issue that I am having. In earlier versions, my clients would get the HTTP redirect and in the latest version they don't.

[2017-02-22 13:57] dlmarion commented on #6428
Great, thanks.

[2017-02-22 13:59] dlmarion commented on #6428
FWIW, I think closing the connection on an SSL handshake failure might be the correct action here. But there also might be one or two allowable actions that could occur before the connection is closed. Implementing HTTP Strict Transport Security is one of them.

[2017-02-22 17:46] dschobel opened #6431 "content-aware leak detection for unpooled composite bytebufs"
I'm pondering a `CompositeByteBuf` implementation that makes leak detection depend not only on the `disableLeakDetector` param but also on whether the constituent buffers are leak-aware.

The problem I'm facing is that I want to ref-count + enable leak detection for direct bytebufs while still allowing unpooled heap bytebufs to leak. This works well enough with configuring the UnpooledByteBufAlloc

[2017-02-22 18:16] normanmaurer commented on #6431
@dschobel so you ask if we are interested in be able to create `CompositeByteBuf` which are not leak ware ?

[2017-02-22 18:36] dschobel commented on #6431
@normanmaurer kind of. The simplest thing to do would be to create a `CompositeByteBuf` that ignores the `disableLeakDetector` param and never wraps itself in the leak detection class. That works for us because we can reason about what kind of buffers we have in the application.

But what I'm proposing to upstream is a more general solution, a "smart" `CompositeByteBuf` that waits until it contain

[2017-02-22 19:02] dschobel commented on #6431
in code (sorry about the scala):

[code]

what I'm proposing is that `comp` in the example above looks at the components added via `addComponent` before deciding about leak tracking

[2017-02-22 19:58] normanmaurer commented on #6428
@dlmarion i wonder if the best would be not make it configurable if the connection should be closed or not... WDYT ? Also /cc @Scottmitch

[2017-02-22 20:04] dlmarion commented on #6428
That's fine. I'll just add code in my exceptionCaught method that closes the connection after my response is sent.

[2017-02-22 20:05] dlmarion commented on #6428
Another option would be for me to extend the SslHandler and implement a method that is called before you close the connection. This would allow me to send back a response, it would get flushed and closed by the Netty framework. This might be better in case others don't close the connection.

[2017-02-22 21:06] jhrussell opened #6435 "Support group cipher suites of equal preference"
BoringSSL implemented this in https://boringssl.googlesource.com/boringssl/+/858a88daf27975f67d9f63e18f95645be2886bfb
This allows a server consumer to specify multiple cipher suites at the same level of preference, so the server can enable SSL_OP_CIPHER_SERVER_PREFERENCE, but also take the client's preferences into account when selecting one of several ciphers that are all equally preferred.

###

[2017-02-23 01:54] nayato opened #6436 "Unpooled buffer acquired from pooled allocator may have .alloc() returning null"
### Expected behavior
- .alloc() returns allocator that buffer originated from. Backed by following behavior:
 - `allocator` field is reset on `deallocate()`.
 - `allocator` field is set properly in `initUnpooled()`
### Actual behavior
`.alloc()` returns null if buffer is initialized through `initUnpooled()` and was just created. It also may return wrong allocator if it was previously backed by ch

[2017-02-23 02:14] Scottmitch commented on #6062
Also we have https://github.com/netty/netty/blob/4.1/.github/ISSUE_TEMPLATE.md for GitHub integration ... this template was also added a few days after this issue was created.

[2017-02-23 03:23] Scottmitch commented on #6431
I'm not sure how generally useful this will be and I have concerns about the overhead associated with tacking this. Do you have a plan on how to implement this feature/change? Is this feature enabled at the allocator level ... so the allocator can be configured to return a "smart" `CompositeByteBuf` or the "existing" `CompositeByteBuf`?

[2017-02-23 03:28] D3Hunter opened #6437 "IllegalArgumentException on AIX J9 1.6 (20121024_126067) with example-http2 demo in netty source code"
### Expected behavior
this demo should run without exception
the demo runs correctly with environment below, but not on AIX  j9 1.6 with jvm version `J9VM - ```
20121024_126067`
[code]

### Actual behavior
[code]
**the `prohibited character` is `\0`** as it's invisible
### Steps to reproduce

use demo `io/netty/example/http2`  in `netty  source code`, i have change this demo to do `get `and `post`

[2017-02-23 04:26] dschobel commented on #6431
I don't think there's need to explicitly configure unless there are non-trivial performance implications in which case I'd say it's not worth doing. If there are major performance issues lurking, I don't see them. I think the implementation amounts to an instanceOf check in `addComponents` to test for leak aware components and a bit which holds the state for whether we're leak tracking or not.

In

[2017-02-23 05:13] Scottmitch commented on #6431
What is the expected behavior in the following situation:

[code]

Currently a `CompositeBuffer` is treated as just a regular buffer and leak detected in the same manner as any other buffer (w.r.t to leaks). It *may* not have any "direct memory" inside, but in many situations `CompositeBuffer` is passed to interfaces that accept `ByteBuf`. and the implementations of the interface should generally

[2017-02-23 05:24] normanmaurer commented on #6436
Good catch let me fix it

[2017-02-23 05:25] Scottmitch commented on #6437
Can you clarify what the issue is? It seems like you are setting the contents of `HOST` to contain a character that is not valid, and the client throws an exception indicating this. This seems like expected behavior.

You increment streamId in `doRequest` but this only impacts the method's local copy. Then you continue to use the `streamId` in the loop to call this method (which doesn't change). T

[2017-02-23 06:21] D3Hunter commented on #6437
@Scottmitch

this code works on platforms below, i have test it repeatly, but not on `AIX J9 1.6 (20121024_126067) `:
[code]

[2017-02-23 07:35] normanmaurer commented on #6428
@dlmarion I think this one should help your use-case and make it more flexible: https://github.com/netty/netty/pull/6438

[2017-02-23 10:01] normanmaurer commented on #6436
@nayato PTAL https://github.com/netty/netty/pull/6440

[2017-02-23 12:08] normanmaurer opened #6442 "Http2ConnectionRoundtripTest.flowControlProperlyChunksLargeMessage failure"
Happened during CI build:
[code]

https://garage.netty.io/teamcity/viewLog.html?buildId=17335&buildTypeId=pulls_netty&guest=1

[2017-02-23 13:45] normanmaurer commented on #6435
@jhrussell hmm... I think this will only work for boringssl tho correct ?

[2017-02-23 13:47] gustavonalle opened #6443 "Deadlock when starting server"
### Expected behavior

Server starts

### Actual behavior

Sometimes server hangs

### Steps to reproduce

This happens in the Infinispan test suite that starts and stops server dozens of times. There isn't a
reproducer at the moment

### Minimal yet complete reproducer code (or URL to code)

### Netty version

4.1.5.Final

### JVM version (e.g. `java -version`)
openjdk version "1.8.0_121"
### OS

[2017-02-23 13:48] normanmaurer commented on #6443
@gustavonalle can you try upgrade to netty 4.1.8.Final ? We updated the jctools version there.

Also /cc @nitsanw

[2017-02-23 13:49] gustavonalle commented on #6443
Will do, thanks @normanmaurer

[2017-02-23 13:51] normanmaurer commented on #6349
@snazy @Scottmitch IMHO if people really care about the last percent of performance they can still set the system property. In most cases there will be no difference IMHO as when using the `PooledByteBufAllocator` allocating / deallocating direct buffers is not really happen often. The only difference will be when realloc can be used but for this I have another idea how to address this by doing "c

[2017-02-23 13:52] normanmaurer commented on #6349
That said I think we should also expose the used memory in the allocator itself. But this is a different story that I will fix soon.

[2017-02-23 13:54] normanmaurer commented on #6443
Please report back

[2017-02-23 14:20] normanmaurer commented on #6349
See https://github.com/netty/netty/pull/6444

[2017-02-23 17:33] jhrussell commented on #6435
Right. Unless and until it makes its way to OpenSSL

[2017-02-23 17:49] Scottmitch commented on #6437
The code also "works" (minus the bug identified in https://github.com/netty/netty/issues/6437#issuecomment-281898223) on my machine. I don't see the exception you indicate and this is why I would like to know your exact environment when starting the application. For example what is the value of `HOST` and `PORT`? Can you provide a complete reproducer (which includes how you set all the variables)

[2017-02-23 18:09] Scottmitch commented on #6442
This test may have been unusually slow on this particular build. Here are times from this build:

https://garage.netty.io/teamcity/viewLog.html?buildId=17335&buildTypeId=pulls_netty&tab=testsInfo
[code]

Here are results from other builds:

https://garage.netty.io/teamcity/viewLog.html?buildId=16985&buildTypeId=pulls_netty&tab=testsInfo
[code]

https://garage.netty.io/teamcity/viewLog.html?buildId

[2017-02-23 18:15] normanmaurer commented on #6442
Yep... let me do

[2017-02-23 18:23] Scottmitch commented on #6442
@normanmaurer - thanks. consider making a define for the timeout value ... or just blocking with no timeout in each test and adding a timeout at the test level.

[2017-02-23 18:34] Scottmitch commented on #6349
@normanmaurer - System properties may not always be obvious and may not be the most discoverable knobs. This is especially true if there are layers of libraries on top of Netty. I would still like to know what the impacts of this change are. Also it still maybe useful to support something like https://github.com/netty/netty/issues/6341 to improve visibility when Netty's accounting is used instead

[2017-02-23 18:39] Scottmitch commented on #6435
@davidben - Any idea if this will be merged into OpenSSL?

[2017-02-23 18:43] jhrussell commented on #6435
I had seen this: https://github.com/openssl/openssl/issues/541

[2017-02-23 18:55] normanmaurer commented on #6436
Fixed by https://github.com/netty/netty/pull/6440

[2017-02-23 18:55] #6436 closed

[2017-02-23 20:01] normanmaurer commented on #6349
@Scottmitch I think I would still prefer to just have the "stats" on the `ByteBufAllocator` implementations and so not expose something in the internal package. WDYT ?

[2017-02-23 22:19] dlmarion commented on #6428
I didn't get a chance to test this today, I will try tomorrow. Thanks

[2017-02-23 22:55] Scottmitch commented on #6341
from https://github.com/netty/netty/issues/6349#issuecomment-282079611
me:

from https://github.com/netty/netty/issues/6349#issuecomment-282103917
@normanmaurer:

Agreed having to rely on an internal API is not preferred. As long as there is a reasonable way to get at the info that is a good start ... maybe https://github.com/netty/netty/issues/6341#issuecomment-279998604 is good enough but what a

[2017-02-24 02:12] davidben commented on #6435
@Scottmitch That's probably a question for OpenSSL folks.

[2017-02-24 03:29] D3Hunter commented on #6437
it only throw this exception on
[code]

it's on a machine of our client. i cannot reproduce this issue in my local environment either.

[2017-02-24 03:38] D3Hunter commented on #6437
I have describe all the information i know to reproduce this issue in the initial description.
can you be specific about  what `exact environment` is  except what has been described in the initial description.
@Scottmitch

[2017-02-24 03:48] D3Hunter commented on #6437
I guess it's a bug of `AIX J9 1.6 (20121024_126067)`, because `AIX J9 1.6 (20110203_074623)` and `AIX J9 1.7` works.

[2017-02-24 04:03] dschobel commented on #6431
I think it would have to be until someone calls .removeComponent on b1. By analogy consider that a composite buffer wrapping a direct buffer doesn't automatically release the direct component after reading all of its data (which is a bad idea since reader indices are mutable anyway).

 That's valid but I'd argue that's not the behavior of the unpooled byte buffer allocator today precisely because

[2017-02-24 04:57] Scottmitch commented on #6437
Which ever environment this reproduces in please add the following code and provide the results:

[code]

Also is it necessary to modify the client? Based upon the exception it seems like you should be able to reproduce this on the first request with an un-modified `Http2Client`.

[2017-02-24 05:27] Scottmitch commented on #6431
Reference count ownership is transferred to the `CompositeByteBuf` as soon as `add` is called [1]. [discardReadComponents](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/CompositeByteBuf.java#L1569), [discardReadBytes](https://github.com/netty/netty/blob/4.1/buffer/src/main/java/io/netty/buffer/CompositeByteBuf.java#L1605), and [discardSomeReadBytes](https://github.co

[2017-02-24 05:37] Scottmitch commented on #6435
@davidben - fair enough ... @jhrussell's link to openssl/openssl#541 answered my question ... seems like there is interest but no timeline yet.

[2017-02-24 06:03] dschobel commented on #6431
I think the bookkeeping needed to support the the discard* methods and nested `CompositeByteBufs` would largely looks like what exists for making ref-counts coherent in both cases.

Yep, we certainly could solve this with custom allocators but I wanted to see whether you were interested in the composite buf change.

Stepping back, I think the fundamental issue is the difference between the positio

[2017-02-24 06:52] D3Hunter commented on #6437
the thing is it only reproduce at some request, not all.
i put full log in my fork of `netty` project, check it out.
[netty client log](https://github.com/D3Hunter/netty/blob/4.1/issue-6437/netty_client.log)
[netty server log](https://github.com/D3Hunter/netty/blob/4.1/issue-6437/netty_server.log)

**PS:**
the full scenerio is we're using `grpc` to send messages, but we encounter `invalid byte seq

[2017-02-24 07:37] Scottmitch commented on #6437
I don't see the output in the log files I requested in https://github.com/netty/netty/issues/6437#issuecomment-282204393. Please add this and report back. I don't understand why this would only happen some times on the client for a variable whose content is fixed.

Can you provide a reproducer for the gRPC use case (/cc @nmittler)?

[2017-02-24 09:18] D3Hunter commented on #6437
right now i don't have chance to run anything on our client's environment, i'll supply more info when i have it.

[2017-02-24 09:37] CodingFabian commented on #6437
Thanks for bringing this up. We also have reports of an AIX user who says that http2 connection fails. We will get some version details and come up with a plan on how to debug it.
Right now my best quess is an encoding issue

[2017-02-24 09:38] normanmaurer commented on #6437
Do you know what endianness AIX uses there ?

2017-02-24 10:37 GMT+01:00 Fabian Lange <notifications@github.com>:

[2017-02-24 09:42] johnou commented on #6428
@dlmarion silly question but if the SSL handshake fails that means you are trying to send unencrypted data back to the client in order to tell it to do something? Doesn't sound super secure, couldn't you check for SSL handshake failure on the client side instead?

[2017-02-24 09:43] normanmaurer commented on #6428
@johnou in this situation I think its more about when the client not sends encrypted data put just send unencrypted.

[2017-02-24 09:51] johnou commented on #6428
@normanmaurer so maybe he could detect the protocol in a handler instead? we used to have something like that for backwards compatibility until all clients were updated to enforce SSL, something like this..

[code]

[2017-02-24 09:54] johnou commented on #5430
Make NioEventLoopGroup final? 😃

[2017-02-24 11:47] CodingFabian commented on #6437
So the client where we cannot connect using http2 uses:
 IBM J9 VM (build 2.8, JRE 1.8.0 AIX ppc64-64 Compressed References 20161013_322271 (JIT enabled, AOT enabled)

[2017-02-24 12:51] #6442 closed

[2017-02-24 12:52] normanmaurer commented on #6443
Let me close this for now and please re-open if you still think there is an issue

[2017-02-24 12:52] #6443 closed

[2017-02-24 12:54] normanmaurer commented on #6431
@dschobel generally speaking I think in a normal Netty app fail to release a buffer correctly should always reported as this makes it possible to basically switch from allocating heap to direct buffers and still be sure nothing leaks. So to make it short I am kind of thinking what you want to do may be fine for Finagle (as you know what you are doing etc) but not sure if this is really something t

[2017-02-24 13:05] normanmaurer commented on #6437
@Scottmitch @D3Hunter I wonder if this is maybe somehow also related to https://github.com/netty/netty/issues/6373 as this also uses Java6 when issues show up

[2017-02-24 13:12] normanmaurer opened #6450 "PooledByteBuf allocated from PooledByteBufAllocator should use "smart realloc""
We should implement our own sort of realloc when the capacity is changed for PooledByteBuf instances to possible eliminate memory copies. Basically what we could do is check if we could just "grow" the used memory of `PoolChunk` for the buffer to the right if the spot is not already used.

[2017-02-24 13:12] normanmaurer commented on #6450
I will look into it...

Also /cc @trustin as we spoke about this some time ago :)

[2017-02-24 14:00] normanmaurer commented on #6298
I think this can be closed now with these pulled in:

https://github.com/netty/netty/pull/6433
https://github.com/netty/netty/pull/6404

[2017-02-24 14:00] #6298 closed

[2017-02-24 14:01] normanmaurer commented on #6296
@carl-mastrangelo @Scottmitch any update here ?

[2017-02-24 14:02] normanmaurer commented on #6269
This can be closed now as we fixed it.

[2017-02-24 14:02] #6269 closed

[2017-02-24 14:03] normanmaurer commented on #6205
This can be closed as these are now merged:

#6433
#6404

[2017-02-24 14:03] #6205 closed

[2017-02-24 14:04] normanmaurer commented on #5944
I will close this for now... Please re-open with more infos if the problem still exists and you think its a netty bug

[2017-02-24 14:04] #5944 closed

[2017-02-24 14:05] normanmaurer commented on #6019
@ximyu ping

[2017-02-24 14:06] normanmaurer commented on #5857
@mosesn @nhnFreespirit @Scottmitch is this somehow related to https://github.com/netty/netty/pull/6430 ?

[2017-02-24 14:07] normanmaurer commented on #5522
@CodingFabian I think it was fixed can you re-test ?

[2017-02-24 14:09] normanmaurer commented on #5376
@mosesn is this still a problem ? Sorry I totally lost track :(

[2017-02-24 14:19] CodingFabian commented on #5522
I can make a task for next week, yes

[2017-02-24 17:03] dschobel commented on #6431
it's only dangerous if the implementation is buggy :)  in any event I'll fix it locally. thanks for discussion guys.

[2017-02-24 17:03] #6431 closed

[2017-02-24 17:35] nhnFreespirit commented on #5857
@normanmaurer yeah, same thing.

Because we never really heard back on this one, I went ahead and added an implementation to Finagle in https://github.com/twitter/finagle/commit/b46a3f96002da7a7d50d197b8907d968fc4640ca

Since it is basically just a Netty ChannelInboundHandlerAdapter I did plan on eventually pushing it upstream, but never got around to it.

[2017-02-24 17:47] Scottmitch commented on #6296
It is still not clear to me what action should be taken in Netty as a result of this.

[2017-02-24 17:55] mosesn commented on #5376
Yeah, I don't remember what broke anymore.  Probably changing it back would also be a breaking change at this point.

[2017-02-24 17:55] #5376 closed

[2017-02-24 18:07] normanmaurer commented on #5857
@nhnFreespirit sorry for not come back to you... So does the one in the PR work for you or any changes needed ?

[2017-02-24 18:21] nhnFreespirit commented on #5857
I added sone comments on the PR. Mainly I'd like to see handling of buffers containing a partial preface.

[2017-02-24 18:36] nitsanw commented on #6443
@gustavonalle @normanmaurer The NPE is very strange:
[code]
Looking at the relevant code for v1.2.1:
https://github.com/JCTools/JCTools/blob/v1.2.1/jctools-core/src/main/java/org/jctools/queues/MpscChunkedArrayQueue.java#L264

[code]
Does the shading somehow mangle line numbers?

[2017-02-24 19:04] Scottmitch opened #6452 "CombinedHttpHeaders does not trim optional white space between comma separated values"
### Expected behavior
The updated HTTP/1.x RFC allows for header values to be CSV and separated by `OWS` [1]. `CombinedHttpHeaders` should remove this `OWS` on insertion.

[1] https://tools.ietf.org/html/rfc7230#section-7

### Actual behavior
`CombinedHttpHeaders` doesn't account for the `OWS` and returns it back to the user as part of the value.

### Netty version
4.1.x

[2017-02-24 20:08] johnou commented on #6443
@nitsanw I thought the same thing when I checked from the jar..
![decompiler](https://cloud.githubusercontent.com/assets/323497/23319044/4dd8ef36-fad5-11e6-8746-b05448b61370.png)

[2017-02-24 21:44] Scottmitch commented on #6437
@CodingFabian - thanks.

@normanmaurer- in this case - ppc64 -> big endian and JRE 1.8 ... so not sure if it is specific to idk 1.6. They do have AIX and IBM J9 in common though.

@D3Hunter - Sounds good thanks. Keep us posted.

Also you listed the java version as:

[code]

and the OS version as:

[code]

Is it expected to have a Windows XP build of J9 running on AIX?

[2017-02-24 22:03] CodingFabian commented on #6437
Its possible my problem is different, but it also has http2 in common, which triggered my attention :)

[2017-02-25 00:08] dlmarion commented on #6428
So, I just tried building with the latest SNAPSHOT jar from https://oss.sonatype.org/content/repositories/snapshots/io/netty/netty-all/4.0.45.Final-SNAPSHOT/. Getting a compilation error, it appears the change isn't there or I have the wrong artifact:

[342,20] cannot find symbol
  symbol:   method setCloseOnHandshakeFailure(boolean)
  location: variable ssl of type io.netty.handler.ssl.SslHandler

[2017-02-25 09:33] nitsanw commented on #6443
@johnou yep... at this point I don't see a way to make sense of the error. There was an MPSC related issue fixed in the 2.0 release which may be related though:
https://github.com/JCTools/JCTools/issues/135
So worth updating and seeing if it helps.

[2017-02-25 12:36] johnou commented on #6443
@gustavonalle you'll want to pull in Netty 4.1.9 when released for the MPSC issue @nitsanw mentioned above, see https://github.com/netty/netty/pull/6399

[2017-02-25 13:22] yschimke opened #6454 "DnsNameResolver hangs for 5 seconds in InetAddress.getAllByName0 on Mac OSX"
### Expected behavior

DnsNameResolver constructor should be fast, anything slow offloaded until actually used.  Or a warning given that environment in badly configured.

This is an environmental problem, but raising because its a regression from java DNS which doesn't hang like this.

Feel free to close if you don't want to worry about it in Netty.

### Actual behavior

constructor hangs at progr

[2017-02-25 13:25] yschimke commented on #6454
The more I think about it, the more I realise it is

a) actually related to defaultProcessId
b) kind of funny that Netty DNS relies on built in java DNS

[2017-02-25 14:42] yschimke commented on #6454
Working around with

-Dio.netty.processId=$$

[2017-02-25 18:16] normanmaurer commented on #6454
WIll take a look

[2017-02-25 20:15] maxcellent commented on #6341
Thanks @normanmaurer, this is working quite well to me. Overall how expensive is this approach? As in:

1. how big list is directArenas likely to return?
2. PoolArea.numActiveBytes uses a synchronised for loop, is it likely to block other operations?

[2017-02-26 03:08] prayagupd opened #6457 "netty 3.5/3.6 - java.lang.ArrayIndexOutOfBoundsException during deflate compression"
### Expected behavior
I am using flume with netty to [write to file channel](https://github.com/netty/netty/blob/3.6/src/main/java/org/jboss/netty/channel/AbstractChannel.java#L248).

The code flow is, [AbstractChannel#write](https://github.com/netty/netty/blob/3.6/src/main/java/org/jboss/netty/channel/AbstractChannel.java#L248)

[code]

which delegates to [Channels#write](https://github.com/netty

[2017-02-26 07:28] slandelle commented on #6457
Netty 3 has reached end of line and is no longer maintained.
Please upgrade to Netty 4.1 and report back if issue still occurs.

[2017-02-26 07:30] slandelle commented on #5430
Remove JZlib based encoder/decoder and jzlib optional dependency. IMHO, those should be flagged as deprecated in Netty 4.1.

[2017-02-27 10:23] mrniko opened #6459 "PromiseCombiner is not thread-safe"
### Expected behavior
PromiseCombiner should be thread-safe
### Actual behavior
PromiseCombiner is not thread-safe
### Netty version
4.1.8

Current PromiseCombiner implementation can't be used in several threads concurrently, because its internal state is changed in non thread-safe manner.

[2017-02-27 10:24] normanmaurer commented on #6459
@mrniko this is expected.

[2017-02-27 10:36] normanmaurer commented on #6457
@prayagupd as @slandelle said 3.x is EOL and so not supported anymore.

[2017-02-27 10:36] #6457 closed

[2017-02-27 10:40] normanmaurer commented on #6341
@maxcellent it depends on the configuration. By default it uses 2 * cores number of arenas. It could block allocations.

[2017-02-27 11:20] normanmaurer commented on #6341
@maxcellent @CodingFabian @Scottmitch PTAL https://github.com/netty/netty/pull/6460

[2017-02-27 12:01] johnou opened #6461 "LengthFieldBasedFrameDecoder ByteBuf not released"
### Expected behavior

ByteBufs are released correctly.

### Actual behavior

ByteBuf not released before GC.

[code]

### Steps to reproduce

Send malformed length field header.

### Minimal yet complete reproducer code (or URL to code)

### Netty version

4.1.8

### JVM version (e.g. `java -version`)

n/a

### OS version (e.g. `uname -a`)

n/a

[2017-02-27 12:03] normanmaurer commented on #6461
@johnou can you provide a pr with fix and unit test ?

[2017-02-27 12:05] johnou commented on #6461
@normanmaurer we found this on staging by chance (detector set to advanced), running it again against test environment with detector set to paranoid but the leak report was incomplete, just restarting the server again as I type to get the full shebang.

[2017-02-27 12:12] johnou commented on #6461
@normanmaurer added resource leak stacktrace, I'll check this out after lunch.

[2017-02-27 13:18] johnou commented on #6461
[code]

[2017-02-27 13:23] mckamps commented on #6062
@normanmaurer We found that either upgrading our Java version or upgrading the kernel version would solve the problem. We'll do both :-)

[2017-02-27 13:23] johnou commented on #6461
There was a bug in the client which would may result in it writing "corrupt" data from a memorystream to the socket and the server trying to read a packet like this..

[code]

[2017-02-27 13:32] johnou commented on #6461
@normanmaurer I think this leak is actually caused by some debug code I wrote and pasted above (the decoded.readableBytes() < Short.BYTES check), I probably need to change it to something like this..

[code]

[2017-02-27 13:35] johnou commented on #6461
As the name suggests it is length so looks like this is a non Netty issue, wdyt?

[2017-02-27 13:46] normanmaurer commented on #6461
@johnou yes you missed the release, closing

[2017-02-27 13:46] #6461 closed

[2017-02-27 13:54] johnou commented on #6461
@normanmaurer thanks, sorry for the noise!

[2017-02-27 14:15] CodingFabian commented on #4644
Facing the same running Java 8 121 on mac

15:13:25.089 [accept-1-1] DEBUG com.barchart.udt.EpollUDT - ep 1 add [id: 0x301200db] DATAGRAM INIT bind=null:0 peer=null:0 ERROR
15:13:25.110 [accept-1-1] INFO  i.n.handler.logging.LoggingHandler - [id: 0xf09fdf65] REGISTERED
15:13:25.112 [accept-1-1] INFO  i.n.handler.logging.LoggingHandler - [id: 0xf09fdf65] BIND: 0.0.0.0/0.0.0.0:8007
15:13:25.114 [acc

[2017-02-27 14:19] normanmaurer commented on #4644
@CodingFabian I guess as the barchart library is not developed anymore the best we can do is to basically deprecate the whole transport.

@Scottmitch @nmittler @trustin WDYT ?

[2017-02-27 15:19] radut commented on #6426
I think is related with the WebSocketClientHandshakerX

headers.add(Names.HOST, wsURL.getHost() + ':' + wsPort);

I have pulled locally the source code, and removed : wsPort and my websocket connection works.

The Host Header must have only the domain name of the server, and not to include the port.

[2017-02-27 15:20] normanmaurer commented on #6426
@radut hmm is this by any chance ipv6 ?

[2017-02-27 15:21] radut commented on #6426
Sure, NO, ipV4 in my test.
It took us a lot of days to find this.

We are connecting to a wamp server using Netty wamp client.

[2017-02-27 15:22] normanmaurer commented on #6426
@radut can you tell me what exactly the host header contains when it not works ?

[2017-02-27 15:23] radut commented on #6426
Host: api-ws.xxxxx.com:80

was fix by using

Host: api-ws.xxxxx.com

which works,
PS : xxxxx.com does not exists, it was sanitized

[2017-02-27 15:25] radut commented on #6426
You could check this : http://www.websocket.org/echo.html
click connect,
network tab  and check for WS, request headers :

Host:us40.zopim.com

[2017-02-27 15:27] normanmaurer commented on #6426
@radut hmm... while the port is "optional" for the default port (80 / 443) it is definitely allowed to be added: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.23 . Sounds more like a bug in the server that you are trying to talk to. That said I think we could also detect if we need to add it or not and just not add it for port 80 and 443.

[2017-02-27 15:31] radut commented on #6426
I understand that it was put there for an purpose, but I debugged why an wamp 2 api works in browser and from the Jawampa+Netty, does not.
Found out this difference, that the browser does not send the port name.

In my opinion if the browser connects, sets headers like this, netty should expose an api to be able to do the same, by either letting Api overwrite host header with any value that user w

[2017-02-27 15:38] normanmaurer commented on #6426
@radut gimme a few minutes...

[2017-02-27 16:58] normanmaurer commented on #6426
@radut PTAL https://github.com/netty/netty/pull/6463

[2017-02-27 19:05] normanmaurer commented on #6349
Closing as won't fix

[2017-02-27 19:05] #6349 closed

[2017-02-27 19:12] normanmaurer commented on #6418
@yusufbulentavci ping

[2017-02-27 21:13] radut commented on #6426
However, I wonder if the owner of the issue could reproduce this. In our case this error was at handshake/connecting. I noticed now that he says something about after 2 hours.

[2017-02-27 21:45] trein commented on #4231
Hi guys.

Do you have any updates on this?

Thanks

[2017-02-27 22:00] rkapsi opened #6466 "Exception: bio is null via SSL#bioLengthByteBuffer"
Netty 4.1.9.Final-SNAPSHOT with netty-tcnative 2.0.0.Beta6

First and only time I've seen it so far. Happened on a H2 connection.

[code]

[2017-02-27 22:48] Scottmitch commented on #4231
@trein - PR #6000 decouples the linux specific stuff from the more generic unix stuff. The intention is to merge this PR after 4.1.9 is released.

It would be appreciated if you could run your use case against PR #6000 and provide feedback before it gets merged. The more milage on this new code the better!

[2017-02-27 22:49] Scottmitch commented on #5430
Enable hostname verification by default

[2017-02-27 23:15] rkapsi commented on #6466
Saw that Exception a few more times and it was not limited to H2. We eventually had to do a rollback to 4.1.8 and 1.1.33.Fork26 as we started getting reports of SSL not working correctly.

[2017-02-28 00:17] rkapsi commented on #6466
A common theme was that SSL connections wouldn't return any data or partial data.

[2017-02-28 01:30] Scottmitch commented on #4644
@normanmaurer - SGTM. Unless someone from the community wants to step up and take ownership.

[2017-02-28 02:55] Scottmitch commented on #6466
@rkapsi - Thanks for reporting!

[2017-02-28 06:22] normanmaurer commented on #6466
@rkapsi thanks a lot!

[2017-02-28 06:37] normanmaurer commented on #4644
@Scottmitch cool. Let me do a pr which mark it as `@deprecated` we can remove this annotation if someone pops up later.

[2017-02-28 07:22] kuldeep992 commented on #6426
Thanks for your points.
In my case, it doesn't look like a handshake issue because the connection is setup successfully and the problem occurs after, roughly around, 2 hours.

I tried Scottmitch's suggestion and updated the Netty version. Since then I'm waiting for the issue to reproduce. Looks like it is fixed now. I'll monitor it for further more days and update here with some more information i

[2017-02-28 07:36] yipanbo opened #6468 "hello! is there a jt808 codec?"
你好，netty是一个很强大的框架，但是我在网上找不到部标808（jt808）的解码器，我是netty新手，所以希望netty能出一个jt808的解码器，或者可以解析那种以标识头，标识尾来区分一条消息的解码器，谢谢！

Hello! i am a green hand in netty, is there a jt808 codec?  i don`t find the jt808 codec in network, so i hope there is a jt808 codec, or some codec can parse the message which begin with some letter (7e or other),and end up with some letter (7e or other), Thank you!

[2017-02-28 07:57] radut commented on #6426
@normanmaurer I also checked the source code for WebSocketClientHandshaker08,07 and 00 and they have only the host added, no port in "HOST" header.

[2017-02-28 08:32] blueswhisper commented on #6468
JT808协议场景太局限了，目测netty官方不会提供解析的。
[JT808协议解析样例](http://www.jianshu.com/p/c4cd52af5338)

[2017-02-28 08:40] yipanbo commented on #6468
@blueswhisper 还是希望能出一个，jt808的例子实在是太少了，网上好像也只有这一篇文章，还有个gps经理的一系列blog，但是都是收费的，强烈希望能出一个，毕竟用标识位标识一条消息也是一种方法，但是netty官网好像没有这种的解码器。

[2017-02-28 09:18] trustin commented on #4644
+1 for deprecation and removal.

[2017-02-28 09:58] likebean opened #6470 "can WeakHashMap DELAYED_RECYCLED in Recycler be GC?"
I read the recycler.java, I can not understand why DELAYED_RECYCLED declare as WeakHashMap ?for GC? if for GC purpose,the entry key in the WeakHashMap is Stack,which is Strong referenced by Thread's threadLocal,so I think the entries in the weakhashmap can not  GC，am I wrong?

thanks for reply.

[2017-02-28 12:57] normanmaurer commented on #6468
Nope there is none but you can write it by yourself extending for example `ByteToMessageDecoder`

[2017-02-28 12:57] #6468 closed

[2017-02-28 13:00] normanmaurer commented on #6470
@likebean not sure I understand your question but its basically to ensure we can collect these when threads die.

[2017-02-28 13:12] likebean commented on #6470
Our threads is in threadpool, and not die.if thread not die,will not GC?

[2017-02-28 13:19] normanmaurer commented on #6470
yeah as long as the threads are alive these will not be collected.

[2017-02-28 13:22] #6470 closed

[2017-02-28 13:28] normanmaurer commented on #6470
closing, please re-open if you think there is an issue

[2017-02-28 13:32] normanmaurer commented on #6317
@MarkVilkel any update ?

[2017-02-28 13:32] normanmaurer commented on #4644
See https://github.com/netty/netty/pull/6471

[2017-02-28 13:55] normanmaurer commented on #6375
@mosesn sorry for the long turn-around. Fixed by https://github.com/netty/netty-website/commit/5f015d8cb23433f807cf7ecbbdc348b5e4405bd1

[2017-02-28 13:55] #6375 closed

[2017-02-28 13:56] normanmaurer commented on #6326
sorry for the long turn-around. Fixed by https://github.com/netty/netty-website/commit/5f015d8cb23433f807cf7ecbbdc348b5e4405bd1

[2017-02-28 13:56] #6326 closed

[2017-02-28 13:56] normanmaurer commented on #6222
@doom369 ping

[2017-02-28 13:57] normanmaurer commented on #6154
@hylddd I will close this now as you did not come back to us. Please re-open with a reproducer when you sell think there is an issue

[2017-02-28 13:57] #6154 closed

[2017-02-28 13:58] normanmaurer commented on #6121
We increased the timeout. Let me close this for now

[2017-02-28 13:58] #6121 closed

[2017-02-28 13:59] normanmaurer commented on #6176
@adrian-w-liu I think it works as epected. If you still thing there is a bug please reopen with a reproducer / testcase.

[2017-02-28 13:59] #6176 closed

[2017-02-28 14:00] normanmaurer commented on #5920
@buchgr ping :)

[2017-02-28 14:00] normanmaurer commented on #5913
Did not see this for a long time. Let me close this

[2017-02-28 14:00] #5913 closed

[2017-02-28 14:01] normanmaurer commented on #5904
Let me close this for now as we saw the perf impact was really bad for Twitter :(

[2017-02-28 14:01] #5904 closed

[2017-02-28 14:02] normanmaurer commented on #5854
@igouss if you have a good suggestion please open an issue against netty-website.

[2017-02-28 14:02] #5854 closed

[2017-02-28 14:02] normanmaurer commented on #5696
I think this was fixed. Please reopen if you still think there is a problem

[2017-02-28 14:02] #5696 closed

[2017-02-28 14:03] normanmaurer commented on #5487
Let me close this. Please reopen if you see the same problem using netty 4.x only

[2017-02-28 14:03] #5487 closed

[2017-02-28 14:03] normanmaurer commented on #5396
@Scottmitch didnt you fix this ?

[2017-02-28 14:04] normanmaurer commented on #5299
I think we fixed many of the things suggested here. Please open a new issue if you think there are other places we should improve

[2017-02-28 14:04] #5299 closed

[2017-02-28 14:04] normanmaurer commented on #5180
@dschobel ping

[2017-02-28 14:05] normanmaurer commented on #5100
I think @Scottmitch fixed this lately. Let me close this for now

[2017-02-28 14:05] #5100 closed

[2017-02-28 14:05] normanmaurer commented on #4854
Did not see this for a long time. Closing

[2017-02-28 14:05] #4854 closed

[2017-02-28 14:06] normanmaurer commented on #4427
As this issue is super old let me close it and please reopen if you still think there is an issue with the current version of netty

[2017-02-28 14:06] #4427 closed

[2017-02-28 14:07] normanmaurer commented on #4311
Netty 3.x is end of life. So let me close this

[2017-02-28 14:07] #4311 closed

[2017-02-28 14:07] normanmaurer commented on #4152
@chrisprobst are you still interested in this ?

[2017-02-28 14:09] normanmaurer commented on #4146
I will close this as we did a lot of work there. @daschl if you still see issues please reopen

[2017-02-28 14:09] #4146 closed

[2017-02-28 14:09] normanmaurer commented on #4044
Yeah Unsafe will stick around in Java9 and we have a job that runs our test suite on java9. So closing this

[2017-02-28 14:09] #4044 closed

[2017-02-28 14:14] normanmaurer commented on #3722
We not support compression with OPENSSL

[2017-02-28 14:14] #3722 closed

[2017-02-28 14:16] normanmaurer commented on #6326
Sorry this is a better fix https://github.com/netty/netty-website/commit/6e8204733b96ce712f5f536404da53a295f47ea0

[2017-02-28 14:16] normanmaurer commented on #6375
This is a better fix https://github.com/netty/netty-website/commit/6e8204733b96ce712f5f536404da53a295f47ea0

[2017-02-28 14:19] normanmaurer commented on #3248
At the end we did not do this... so let me close it

[2017-02-28 14:19] #3248 closed

[2017-02-28 14:20] normanmaurer commented on #2637
I think we can close this as at the end we just used ints

[2017-02-28 14:20] #2637 closed

[2017-02-28 14:23] normanmaurer commented on #2247
I think we can just close this for now.

[2017-02-28 14:23] #2247 closed

[2017-02-28 14:26] normanmaurer commented on #81
I think we can close this for now as we added a lot of these

[2017-02-28 14:26] #81 closed

[2017-02-28 14:36] belliottsmith commented on #5299
So, apologies for not doing this as I suggested I would - shortly after this ticket, a bunch of others opened up that questioned the very existence of the Recycler, so I thought I'd let the dust settle there before digging in.  I then eventually forgot all about it.

Please do ping me again if in future you think these improvements are worth revisiting, and that they'll survive at least a few mont

[2017-02-28 14:41] slandelle commented on #81
@normanmaurer One day, I'd like to investigate Brotli and SDCH. No idea when :(

[2017-02-28 14:41] daschl commented on #4146
@normanmaurer sounds good, currently we run "stable" - if I'll see issues again I'll reopen with more info

[2017-02-28 16:37] CIsMe commented on #2447
Whether you have solved the problem.  There is an article about this problem.I suggest you take look.
url:http://blog.csdn.net/mrsunnycream/article/details/45046013

[2017-02-28 18:19] ddossot opened #6473 "CombinedHttpHeaders indiscriminately combines all headers"
### Expected behavior

`CombinedHttpHeaders` combines all headers per name, even if they shouldn't be combined, like for example the `Set-Cookie` header (per [RFC-7230, section 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2)). In fact, there's only a limited set of headers that can be combined (see this [SO thread](http://stackoverflow.com/a/29550711/387927)).

### Actual behavior

`Comb

[2017-02-28 19:51] Scottmitch commented on #6466
@rkapsi - Can you verify PR #6467?

[2017-02-28 20:01] #6466 closed

[2017-02-28 20:03] Scottmitch commented on #6466
@rkapsi - Please report back if this issue is not fixed, or there are other issues. I merged the PR because it seemed pretty clear what the cause and required fix was.

[2017-02-28 23:40] ktonga commented on #5696
you know which PR? so I can take a look.

[2017-03-01 00:03] prayagupd commented on #6457
Damn it. You are basically asking me to change the whole world, as [latest flume api](https://github.com/apache/flume/blob/flume-1.7/pom.xml#L1260) uses `netty 3.9.4`. No choice, back deflate encoding. Thanks guys.

[2017-03-01 01:07] Scottmitch commented on #6457
Releases are tagged (`netty-3.6.2.Final`) and development for the `3.x` releases is on the `3.x` branch. Note that there is no active development on the `3.x` branch and we generally do not do releases for `3.x`.

[2017-03-01 01:37] Scottmitch commented on #5396
@normanmaurer - I don't think so. I'll let @carl-mastrangelo comment more though.

[2017-03-01 01:39] Scottmitch commented on #4152
closing due to lack of interest ... please re-open if this is still valid.

[2017-03-01 01:39] #4152 closed

[2017-03-01 01:41] Scottmitch commented on #6473
thanks for reporting @ddossot !

[2017-03-01 02:52] yipanbo commented on #6468
@normanmaurer Thank you very much!

[2017-03-01 04:38] testn commented on #6454
adding system property

`-Djava.net.preferIPv4Stack=true`

should help avoid the problem

[2017-03-01 04:47] keshava88 opened #6476 "OpenSslEngine does not initialise peer certificates when TLS handshake fails"
### Expected behavior
In  a scenario where a TLS server makes a certificate request from the TLS client and TLS server fails to trust the client certificate, TLS handshake is expected to fail. This is ok. But the TLS server upon TLS handshake failure should be able to access peer certificate with  javax.net.ssl.SSLSession#getPeerCertificates() to perform some TLS server business (like alarming the

[2017-03-01 05:24] normanmaurer commented on #4644
Sorry to say but we will remove the udt transport as barchardt-udt is not supported anymore, so closing this https://github.com/netty/netty/pull/6471

[2017-03-01 05:24] #4644 closed

[2017-03-01 05:40] normanmaurer commented on #6473
@ddossot <3

[2017-03-01 06:05] normanmaurer commented on #6476
@keshava88 will check

[2017-03-01 07:09] normanmaurer commented on #6476
@keshava88 actually I think your assumption is not correct and it works as expected. Just change `                .sslProvider(SslProvider.OPENSSL)` to `sslProvider(SslProvider.JDK)` and you will see the exact same happens with JDK implementation. I am missing anything ?

[2017-03-01 09:54] normanmaurer commented on #5994
Fixed by https://github.com/netty/netty/pull/6412

[2017-03-01 09:54] #5994 closed

[2017-03-01 09:55] normanmaurer commented on #6406
As @md-5 said this should be fixed in current 4.1 branch. Closing

[2017-03-01 09:55] #6406 closed

[2017-03-01 09:57] normanmaurer commented on #6426
@radut so I merged the websockets thingy. @kuldeep992 please open a new issue with more infos if you still think this is a netty bug.

[2017-03-01 09:57] #6426 closed

[2017-03-01 14:55] keshava88 commented on #6476
@normanmaurer  Thanks for the response.
You are right, JDK SSL engine does the same thing.

But netty allows us a nice feature with which we can supply our own trust manager when SslProvider is JDK. With that we can supply a trust manager that uses the callback com.alcatel.netconf.api.x509certificates.CallHomeX509TrustManagerImpl#checkServerTrusted() to catch hold of the certificate in case the va

[2017-03-01 16:01] louxiu commented on #2447
@CIsMe I think the problem described by that article has already be fixed by https://github.com/netty/netty/pull/3833

[2017-03-01 17:07] testn opened #6479 "DnsResolver should be able to handle retry"
### Expected behavior
The original Java DNS uses getaddrinfo which retries 2 times by default. DnsResolver should have a mechanism to retry as well.

### Actual behavior
It does not seem to have a retry mechanism unless the DNS servers were specified multiple times.

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version
Netty 4.1.5

### JVM version (e

[2017-03-01 17:54] lukewhitt commented on #4231
Apologies if this is the wrong place but just wanted to add that I've run my use case against PR #6000 and found no problems what so ever. Everything compiled and all tests passed.

My use case is quite straight forward (create domain socket and listen for incoming messages) but works perfectly on my machine (MBP, macOS 10.12.3, Java 1.8.0_101).

Really appreciate the work you guys have put in to

[2017-03-01 17:56] normanmaurer commented on #6341
Fixed by https://github.com/netty/netty/pull/6460

[2017-03-01 17:56] #6341 closed

[2017-03-01 17:57] normanmaurer commented on #6476
@keshava88 yes please show me the code. That said our behaviour should be the same as the JDK impl.

[2017-03-01 18:53] doom369 commented on #6222
No update far. I switched back to openSSL. And no errors. I'll check on QA.

[2017-03-01 19:58] johnou commented on #6454
The current method of pulling the process id is a bit of a hack since it relies on VMManagementImpl.getVmId however this now seems to be the common way of obtaining it for a lot of projects < JDK9..

[code]

 Java 9 provides an API to pull the process id.

[code]

@normanmaurer not sure there is much that can be done apart from time how long it takes and issue a warn if it exceeds a threshold.. or

[2017-03-01 22:43] Scottmitch commented on #4231
Great news ... thanks for the update @lukewhitt!

[2017-03-01 22:48] Scottmitch commented on #6479
Please explain why [DnsNameResolverBuilder#maxQueriesPerResolve](https://github.com/netty/netty/blob/4.1/resolver-dns/src/main/java/io/netty/resolver/dns/DnsNameResolverBuilder.java#L230) doesn't satisfy your needs.

[2017-03-01 22:51] Scottmitch commented on #6476
You can do this if the SslProvider is OPENSSL too. Can you explain why the trust manager behavior should impact the behavior of the SSLEngine w.r.t to providing an SSLSession when the handshake has failed?

[2017-03-01 22:53] Scottmitch commented on #6222
@doom369 - Can you clarify what versions of Netty and netty-tcnative you are using?

[2017-03-01 22:56] doom369 commented on #6222
@Scottmitch The issue was in 4.1.7-Final and JDK SSL. I have and had no issues with tcnative.

[2017-03-01 23:13] rkapsi opened #6481 "SSL_read failed: OpenSSL error"
Netty 4.1.9-SNAPSHOT with netty-tcnative 2.0.0.Beta6

I'll try to provide a repro but I'm seeing the following error in our application when I upgrade to Netty 4.1.9-SNAPSHOT and netty-tcnative 2.0.0.Beta6.

From what I can tell, the SSL hanshake completes, I receive the HTTP request, I respond with `ctx.writeAndFlush(FullHttpResponse)`, I see the response data in curl but it cuts off randomly and

[2017-03-02 00:38] Scottmitch commented on #6481
What commit hash are you using?
What version of OpenSSL?
Is there anything interesting about the payload/scenario that you thing may help reproduce? For example do you have to repeat the request many times, pipelining, etc..?

[2017-03-02 00:44] Scottmitch commented on #6481
can you reproduce with a modified version of the [http hello world](https://github.com/netty/netty/blob/4.1/example/src/main/java/io/netty/example/http/helloworld/HttpHelloWorldServer.java) example?

[2017-03-02 00:53] Scottmitch commented on #6481
can you also include some verbose output from curl `-iv`.

Can you reproduce with `openssl s_client -host localhost -port 8443` (then enter `GET / HTTP/1.1` after the handshake)?

[2017-03-02 00:56] Scottmitch commented on #6222
Have you tried reproducing with 4.1.8?

[2017-03-02 02:40] loststarsXD commented on #5696
@ktonga Maybe, seperated websocket service is a better choice.

[2017-03-02 02:54] RobertWangCN commented on #6468
you can write a codec by yourself extending like me that writed a decoder for modbus,it could analyzed most of  manufacturer's protocols by characteristic

[2017-03-02 05:28] Scottmitch opened #6482 "HTTP/2 unit tests use deprecated Mockito APIs"
We should clean up the deprecated APIs that we use in the `codec-http2` unit tests, and investigate other modules for the same issue.

[code]

### Netty version
4.1.x

[2017-03-02 05:35] normanmaurer commented on #6482
I can take a stab on this

[2017-03-02 05:53] normanmaurer commented on #6481
@rkapsi also a big thank you for trying the SNAPSHOTS and provide feedback!

[2017-03-02 06:31] keshava88 commented on #6476
@Scottmitch I read from the javadoc that we cna supply a trust manager factory only if the ssl provider is JDK. See ![javadoc](https://cloud.githubusercontent.com/assets/1835123/23495628/dbd606ca-ff3f-11e6-81d6-31aeee1151c1.png)
@normanmaurer  working on the code patch.

[2017-03-02 06:33] Scottmitch commented on #6481
Also do you try to enable `SSL_MODE_ENABLE_PARTIAL_WRITE` for Netty?

[2017-03-02 06:43] normanmaurer commented on #6476
@keshava88 the javadoc is incorrect... This is not the case anymore since a long time. Let me fix it. Also please update to latest 4.1. release

[2017-03-02 07:03] normanmaurer commented on #6476
@keshava88 see https://github.com/netty/netty/pull/6484

[2017-03-02 07:48] testn commented on #6479
My bad.. I was looking for it in the wrong place. That should work.

[2017-03-02 07:48] #6479 closed

[2017-03-02 09:40] CodingFabian commented on #6437
I got more intel on this. The same problem with our http2 connection is reported by another customer
java version "1.8.0"
Java(TM) SE Runtime Environment (build pxp3280sr4fp1-20170215_01(SR4 FP1))
IBM J9 VM (build 2.8, JRE 1.8.0 Linux ppc-32 20170209_336038 (JIT enabled, AOT enabled)
J9VM - R28_20170209_0201_B336038
JIT - tr.r14.java.green_20170125_131456
GC - R28_20170209_0201_B336038
J9CL - 2017

[2017-03-02 10:15] yschimke commented on #6454
I'm approved at work for my own projects, Finagle, OkHttp but didn't ask for Netty.  I don't have that much spare time so it's not worth the CLA effort just for this fix.

[2017-03-02 10:19] yschimke commented on #6454
BTW I agree about the misconfiguration, I fixed this on my machine and also commented with a workaround.

Two things set off my spidey sense

1) its something that is affecting Netty performance for some # of Mac users/developers.  potentially this could impact some GUI client software run on end users Macs.
2) When you choose to use Netty DnsNameResolver and google public servers, having it block

[2017-03-02 15:32] rkapsi commented on #6481
Still trying to come up with a reproducer but I've narrowed it down to a commit.

[code]

So it's either d06990f43458e9ac7cea803269e83d072ada61f6 or 2.0.0.Beta2.

I do not enable `SSL_MODE_ENABLE_PARTIAL_WRITE`. Is that something new?

Other random blurbs: I'm working on something like a HTTP cache that uses CompositeByteBufs to aggregate the HttpContent's bytes. The first curl request succeeds (p

[2017-03-02 15:37] rkapsi commented on #6481
Here's how it looks like in curl: http://imgur.com/a/bPsSj

[2017-03-02 15:37] johnou commented on #6481
@rkapsi pro tip: you can drag drop images straight into the comment input.

[2017-03-02 15:47] Scottmitch commented on #6481
@rkapsi - Thanks for the info. d06990f43458e9ac7cea803269e83d072ada61f6 doesn't surprise me as there were big changes to tcnative and Netty's OpenSslEngine. There were also some followup commits to fix things on both sides, but if you are seeing the same behavior with this older code that is good to know.

[2017-03-02 15:49] Scottmitch commented on #6481
Not new ... but just trying to understand the use case. We may not properly support this flag yet (until PR https://github.com/netty/netty/pull/6365)

Also the image link you provided in https://github.com/netty/netty/issues/6481#issuecomment-283687492 gives a 404.

[2017-03-02 15:53] rkapsi commented on #6481
@Scottmitch uploaded the images straight into the ticket as per @johnou tip.

[2017-03-02 17:27] Scottmitch commented on #6437
Seems reasonable ... it would be nice to have a big endian CI server 😢

[2017-03-02 21:00] CodingFabian commented on #6437
I tried to setup a qemu based debian ppc, but failed getting either ibms or oracles jdk 8 running.

[2017-03-03 01:57] Scottmitch commented on #6437
I have run Netty builds on qemu with ppc x86 debian in the past ... but I was only able to emulate a single CPU and it is extremely slow ... not something we can use for CI builds.

[2017-03-03 02:40] andyyin opened #6489 "netty3.9.2 : netty do not write message, dump memory found DownStreamMessageEvent future's cause is StackOverFlowError，why do not write, just this one channel"
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or URL to code)

### Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2017-03-03 02:49] andyyin commented on #6489
![image](https://cloud.githubusercontent.com/assets/5555453/23536304/e42a94b6-fffe-11e6-9c85-d52444d696a8.png)
accumulate A lot of DownStreamMessageevent

[2017-03-03 03:53] Scottmitch commented on #6489
Netty 3.x is no longer supported [1]. Please update to Netty 4.1 if you want support.

[1] http://netty.io/news/2016/06/29/3-10-6-Final.html

[2017-03-03 03:53] #6489 closed

[2017-03-03 04:09] andyyin commented on #6489
thank you all the same

[2017-03-03 07:45] johnou commented on #6481
@Scottmitch is https://github.com/netty/netty/pull/6488 related?

[2017-03-03 08:19] Scottmitch commented on #6481
@johnou - Not in this specific case no. I plan to coordinate more with @rkapsi tomorrow and resolve this asap.

[2017-03-03 10:27] NoiZeR355 commented on #5366
How did you fixed it then for android?

[2017-03-03 14:02] rkapsi commented on #6481
[code]

[code]

[2017-03-03 14:05] normanmaurer commented on #6481
@rkapsi thanks!

[2017-03-03 14:05] johnou commented on #6481
@rkapsi you rock.

[2017-03-03 14:20] rkapsi commented on #6481
Running this code against 4.1.8 and 1.1.33.Fork26 or 007048dddda0eb922952f8b07ea2521d9a5eadef and 2.0.0.Beta1 works.

[2017-03-03 15:21] normanmaurer commented on #6481
@rkapsi looking atm... this has for sure something to do with the `CompositeByteBuf` handling.

[2017-03-03 16:04] rkapsi commented on #6481
@normanmaurer :+1:

That repro is representing the "HTTP response cache" scenario (doing my own `CompositeByteBuf` stuff) I was mentioning earlier in the thread. But our Netty server is also a client that is fetching data from an upstream server (using HTTP) and `HttpObjectDecoder` or rather `ByteToMessageDecoder` uses internally CompositeByteBufs for cumulation. Whether cumulation kicks in in tha

[2017-03-03 16:48] Scottmitch commented on #6481
thanks @rkapsi ... looking now.

[2017-03-03 21:32] Scottmitch commented on #6481
@rkapsi - Can you verify PR https://github.com/netty/netty/pull/6492?

[2017-03-03 22:18] rkapsi commented on #6481
@Scottmitch unfortunately negative. The reproducer is succeeding but our server is still failing. In particular when I use a Browser.

[2017-03-03 22:38] rkapsi commented on #6481
@Scottmitch it's working when I disable H2. I guess that is the difference between using curl and Browser.

CompositeByteBuf inside CompositeByteBuf? I recall Netty's H2 code doing its own round of aggregation.

[2017-03-04 05:00] johnou commented on #5430
Remove deprecated methods / classes.

Refactor / simplify pipeline, iirc there were some improvements in 5.0 that @trustin was sad to go and @normanmaurer wanted to change some things because they were overly complex to avoid race conditions.

Check for 5.0 TODOs eg. io.netty.channel.SimpleChannelInboundHandler#channelRead0
[code]

[2017-03-06 07:11] keshava88 commented on #6476
@normanmaurer So maybe i will try using my own trust manager factory instead.

[2017-03-06 07:25] normanmaurer commented on #6476
Yes... Let me close this

[2017-03-06 07:25] #6476 closed

[2017-03-06 10:13] dizzzz commented on #6062
Suggest to close issue.....

[2017-03-06 10:49] johnou commented on #6062
@dizzzz I take it that updating Java and / or Kernel solved the issue then?

[2017-03-06 12:58] ddwolf opened #6499 "using bazel to test spring-cloud-config-server got this error"
### Expected behavior
exit on demand
### Actual behavior
the system keep running on and on
### Steps to reproduce
using bazel0.4.4 to test spring-cloud-config-server

### Netty version
netty-all4.1.4
### JVM version (e.g. `java -version`)
1.8
### OS version (e.g. `uname -a`)
ubuntu 14.04

here is the output
[code]

and the thread dump
[code]

[2017-03-06 13:22] rkapsi commented on #6481
@Scottmitch commit 677f5e256bcf0aebcfd8bded186c49440f0aac92 appears to work. My tests on Friday were for 5b57fa0508babff04afccc82bdb5cef916b22270.

[2017-03-06 13:23] johnou commented on #6481
🎉

[2017-03-06 16:14] Scottmitch commented on #6481
@rkapsi - Thanks for verifying! Sorry about the multiple commits ... had to clean some stuff up along the way.

[2017-03-06 16:15] #6481 closed

[2017-03-06 17:05] Scottmitch commented on #5430
@johnou - Are you referring to https://github.com/netty/netty/issues/5430#issuecomment-230655058, or something else?

[2017-03-06 17:17] johnou commented on #5430
@Scottmitch referring to a couple of issues, one of them I _think_ was https://github.com/netty/netty/issues/4705 (Norman mentioned somewhere that by breaking API it would be much easier from a concurrency pov) aand https://github.com/netty/netty/issues/4466#issuecomment-155655251

[2017-03-06 17:31] Scottmitch commented on #6062
Please re-open or create a new issue if you think there is still a Netty issue.

[2017-03-06 17:31] #6062 closed

[2017-03-06 17:53] Scottmitch commented on #6499
Can you please clarify the following:

- What evaluation have you done to make you believe this is a Netty bug?
- Have you consulted with the folks that maintain `spring-cloud-config-server`?
- Why is `bazel0.4.4` necessary to reproduce?
- Specific steps on how can this be reproduced. Assume we know nothing about `bazel` or `spring-cloud-config-server`.

[2017-03-06 22:14] Scottmitch commented on #5430
### for consideration
EventLoopGroup APIs and implementations should be more friendly to extension and composability. There have been attempts to allow wrapping [1] and also requests to make related APIs non-final [2][3] but each have undesirable characteristics due to existing API / implementation limitations.

[1] https://github.com/netty/netty/pull/4819
[2] https://github.com/netty/netty/pull/6

[2017-03-07 02:02] ddwolf commented on #6499
actually, I am not quite sure it's Netty's problem, I just don't know how to fix this and where to find a solution, I've also filed a issue in bazel's repo too. may be you can close this for now.

[2017-03-07 02:10] Scottmitch commented on #6499
@ddwolf - I will close for now. Please re-open if you get more information to indicate a Netty issue and have the information requested in https://github.com/netty/netty/issues/6499#issuecomment-284476206.

[2017-03-07 02:10] #6499 closed

[2017-03-07 06:12] bglmmz commented on #2933
When will the 5.0 be released?

[2017-03-07 06:13] bglmmz commented on #2933
When will the 5.0 be released?

[2017-03-07 07:07] normanmaurer commented on #2933
@bglmmz no plans yet. Use 4.1.x

[2017-03-07 08:12] fenik17 commented on #5430
Also may be..
- Create the flexible configuration system to possibility customize a config source (from db, properties etc. - not only command line arguments). To avoid creating "hacks" like this #6224.
- Investigate issue #6096 to reduce the redundant `Throwable`s catching .

[2017-03-07 08:39] fenik17 opened #6503 "Typo in WebSocketServerExtension?"
Is it a typo [WebSocketServerExtension.new**Reponse**Data()](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/extensions/WebSocketServerExtension.java#L29)? `Reponse` instead of `Response`.
Sorry if it's normal. I'm not strong in the English )

[2017-03-07 09:34] CodingFabian commented on #6437
IBM offers open source contributers a programm to get access to a linux on power, maybe thats sufficient to reproduce and fix:
https://www-356.ibm.com/partnerworld/wps/servlet/ContentHandler/stg_com_sys_power-development-platform

I looked into the http2 codec, and i see that it decodes stuff forcing a little endian encoding. is that right?

[2017-03-07 09:37] normanmaurer commented on #6437
@CodingFabian can you point me to the code where it forces to little endian ?

[2017-03-07 09:40] CodingFabian commented on #6437
HPack decoding:
https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/HpackDecoder.java#L455

[2017-03-07 11:54] meshcow opened #6507 "UnorderedThreadPoolEventExecutor consumes 100% CPU when idle"
### Expected behavior
0% CPU consumption when idle
### Actual behavior
almost 100% CPU consumption when idle
### Steps to reproduce
After a submitted task has been successfully executed, all the available cores get busy with doing some stuff.
[code]
### Netty version
[code]
### OS and JVM versions
#### Linux
Linux 3.13.0-042stab120.3 x86_64 x86_64 x86_64 GNU/Linux
java version "1.8.0_112"
Java(TM)

[2017-03-07 12:25] normanmaurer commented on #6507
@meshcow will have a look soon

[2017-03-07 15:12] meier-christoph commented on #6437
Hi guys,
I can help with debugging and provide some logs.

$ cat /proc/version
Linux version 2.6.32-642.13.1.el6.ppc64 (mockbuild@ppc-030.build.eng.bos.redhat.com) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-17) (GCC) ) #1 SMP Wed Nov 23 16:02:25 EST 2016

$ java -version
java version "1.8.0"
Java(TM) SE Runtime Environment (build pxp3280sr4fp1-20170215_01(SR4 FP1))
IBM J9 VM (build 2.8, JRE 1.8.0

[2017-03-07 16:52] Scottmitch commented on #2933
Note that 5.0 as it existed a few years ago has been abandoned https://github.com/netty/netty/issues/4466.

[2017-03-07 16:56] Scottmitch commented on #6503
Looks like a typo to me. However since its an interface, and we can't use default methods bcz we support jdk6 ... I'm not really sure what we can do here.

[2017-03-07 17:20] Scottmitch commented on #6437
@CodingFabian - IIUC HPACK's integer representation is always "little endian" (see https://tools.ietf.org/html/rfc7541#section-5.1).

[2017-03-07 17:24] Scottmitch commented on #6437
@meier-christoph - Thanks for offering to help. I don't see the same exception that was originally reported in this issue ... are you seeing the same failure or any failure? Can you please fix the bug I identified above https://github.com/netty/netty/issues/6437#issuecomment-281898223 and also add the debug output in https://github.com/netty/netty/issues/6437#issuecomment-282204393 if you are able

[2017-03-07 17:26] CodingFabian commented on #6437
@Scottmitch @meier-christoph is using our software which uses netty and its loosing and reconnecting http2 connections on their ppc systems. He asked if he could help, and I said that we believe it is caused by the same problem. It might not hold, and we are actually making a debug build of our software which is currently potentially swallowingthe root cause.

[2017-03-07 19:07] meier-christoph commented on #6437
sorry my bad, I should have uploaded all files not just the jdk8

on jdk6 I think I have the expected error (L:356) and the logs requested are in there as well

on the other jdks it seems to work

[code]

[code]

[http2-server-jdk6.txt](https://github.com/netty/netty/files/825437/http2-server-jdk6.txt)
[http2-client-jdk6.txt](https://github.com/netty/netty/files/825438/http2-client-jdk6.txt)

and

[2017-03-07 19:29] ClarkHobbie opened #6508 "Invalid signature on ECDH server key exchange message"
### Expected behavior
Connection and echoing

### Actual behavior
Throws exception

### Steps to reproduce
Use the following commands to get the code:
git clone git@github.com:ClarkHobbie/ssltest.git
Follow steps in the README.md

### Minimal yet complete reproducer code (or URL to code)
https://github.com/ClarkHobbie/ssltest

### Netty version
4.1.6.Final

### JVM version (e.g. `java -version`)
j

[2017-03-07 19:31] normanmaurer commented on #6508
@ClarkHobbie can you please update to netty 4.1.9.Final-SNAPSHOT and let us know if the problem still persist ?

[2017-03-07 19:36] meier-christoph commented on #6437
I also tried the original client (io.netty.example.http2.helloworld.client.Http2Client) but could not reproduce the error.

[http2-server-jdk6-err.txt](https://github.com/netty/netty/files/825521/http2-server-jdk6-err.txt)
[http2-server-jdk6-out.txt](https://github.com/netty/netty/files/825522/http2-server-jdk6-out.txt)
[http2-client-jdk6-err.txt](https://github.com/netty/netty/files/825524/http2-

[2017-03-07 19:56] ClarkHobbie commented on #6508
This happend with netty-all-4.1.9.Final-20170302.120717-30.

[2017-03-07 20:10] Scottmitch commented on #6437
@meier-christoph - What does `PlatformDependent#hasUnsafe()` with the JDK6 configuration? If this returns `true` can you try to reproduce with `-Dio.netty.noUnsafe=true` as a JVM argument?

[2017-03-07 21:10] alunny opened #6509 "[feature request] add support for SameSite cookie attribute"
### Expected Behavior

Modern browsers support a new attribute `SameSite` on cookies, to mitigate CSRF attacks. From https://tools.ietf.org/html/draft-west-first-party-cookies-07

   which allows servers to assert that a cookie ought not to be sent
   along with cross-site requests.  This assertion allows user agents to
   mitigate the risk of cross-origin information leakage, and provides
   some

[2017-03-07 21:30] johnou commented on #6509
@alunny while the RFC is still draft I find it unlikely any getters/setters will be added, that said the class you linked to is actually an interface, you can implement it yourself or even extend DefaultCookie, SameSite would then need to be added in the toString method.

[2017-03-07 21:41] alunny commented on #6509
Thanks for the explanation @johnou - I'm using netty via finagle so the extension would be a bit convoluted (would need to extend ServerCookieEncoder also, as well as the finagle wrapper types). But I understand why you wouldn't want to add a draft attribute to the base interface.

[2017-03-07 21:42] Scottmitch commented on #6508
Can you list the explicit steps in sequence for how you generate the keystone and trust store? Running the `keytool –keystore serverkeystore –genkey –alias server -keyalg rsa -storepass whatever` command generates `Illegal option:  –keystore`.

Also you are blocking on the EventLoop thread when you read input from `stdin`, which will prevent the EventLoop from making progress. If you need to block

[2017-03-07 21:48] Scottmitch commented on #6508
Also it looks like you are trying to import the `ca-certificate.pem.txt` into the `serverkeystore`. Can you explain why you are doing this?

I would expect the client trust store should contain a list of trusted certificates (including `ca-certificate.pem.txt` in this example), and the server's keystore should the certificate chain including something that is trusted by the CA's certificate, and t

[2017-03-07 21:54] johnou commented on #6509
I said unlikely, didn't say it won't happen as I am not a maintainer and it isn't my place. Let's see what the others say.

[2017-03-07 21:59] slandelle commented on #6509
Not a maintainer either, but I know the answer for sure: Cookie is an API, and it's not possible to break it until next major release. I'm not aware of any ETA for that, but it should give ample time so see if this draft becomes popular and decide to support if if so.

[2017-03-07 23:07] rstoyanchev opened #6511 "Improve doc on detecting disconnected remote peers with long running connections"
I've found various bits and pieces but no conclusive summary. Apologies if I've missed anything.

For some context, consider a server writing an infinite stream of SSE events. If there is time between events when the server is not writing and the browser is closed, the server should find out to remove resources. On Linux with `EpollEventLoop` a "channelInactive" fires immediately but with `NioEven

[2017-03-08 06:03] fenik17 commented on #6503
May be just add `TODO` in the code now, and make this deprecated (with default method) after migrated to JDK 8?

[2017-03-08 06:05] normanmaurer commented on #6503
+1 can you do a pr?

[2017-03-08 06:18] fenik17 commented on #6503
done #6514

[2017-03-08 07:32] normanmaurer commented on #6509
Exactly what @slandelle said :)

[2017-03-08 09:29] meier-christoph commented on #6437
@Scottmitch it was indeed returning `true` but for all jdks not just jdk6

I ran the tests again (with the jvm argument) but could not reproduce the issue

[http2-client-jdk6.txt](https://github.com/netty/netty/files/827089/http2-client-jdk6.txt)
[http2-server-jdk6.txt](https://github.com/netty/netty/files/827090/http2-server-jdk6.txt)

[2017-03-08 13:45] CodingFabian commented on #6437
Got granted access by IBM to a Power8 system. But apparently they only run LE Linuxes. Will see if it provides any intel on the problem.

[2017-03-08 13:48] johnou commented on #6437
@CodingFabian bonus points if you can run the full Netty testsuite 😉

[2017-03-08 15:03] CodingFabian commented on #6437
Ill try :-)

The system is
´´´
[u0018404@sys-86064 ~]$ uname -a
Linux sys-86064 3.10.0-514.el7.ppc64le #1 SMP Wed Oct 19 11:27:06 EDT 2016 ppc64le ppc64le ppc64le GNU/Linux
[u0018404@sys-86064 ~]$ /home/u0018404/jdk/bin/java -version
java version "1.8.0"
Java(TM) SE Runtime Environment (build pxl6480sr4fp1-20170215_01(SR4 FP1))
IBM J9 VM (build 2.8, JRE 1.8.0 Linux ppc64le-64 Compressed References

[2017-03-08 15:12] normanmaurer commented on #6437
Just disable the enforcer plugin for now

[2017-03-08 15:23] CodingFabian commented on #6437
I was able to reproduce our issue with above ibm jdk, so its not endianness, as the vm is LE.
however it works using

/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.121-0.b13.el7_3.ppc64le/bin/java
openjdk version "1.8.0_121"
OpenJDK Runtime Environment (build 1.8.0_121-b13)
OpenJDK 64-Bit Server VM (build 25.121-b13, mixed mode)

so maybe it is indeed different, and possibly some ssl issues with the ibm j

[2017-03-08 15:52] CodingFabian commented on #6437
netty compile fails because there is no compatible tcnative. maybe i can comment that stuff out somehow

[2017-03-08 17:08] Scottmitch commented on #6437
@meier-christoph - It sounds like there may be a bug in our usage of `sun.misc.Unsafe` or in IBM's implementation on jdk6. `AsciiString` (which is the class we use to store header data in for codec-http2) uses unsafe to avoid some extra bounds checking [1]. Can you comment out these lines in `AsciiString`, keep unsafe enabled, and see if you are able to reproduce on jdk6?

We ignore `UNSAFE.arrayI

[2017-03-08 17:22] Scottmitch commented on #6437
PR https://github.com/netty/netty/pull/6515 will explicitly enforce the assumptions made about `UNSAFE.arrayIndexScale(byte[].class)`.

[2017-03-08 17:47] #6503 closed

[2017-03-08 18:14] ClarkHobbie commented on #6508
I have updated the README file to use -importcert instead of -import.  I have also included the motivation behind each step.

Please remember that the example comes with truststore and serverkeystore which have already undergone these steps: the instructions are there only if you want to recreate these files.

Regarding why I am trying to import ca-certificate.pem.txt:

I am trying to create a dis

[2017-03-08 18:27] CodingFabian opened #6516 "IBM J9 uses slightly different cipher names -> HTTP2.0 connection fails"
While investigating https://github.com/netty/netty/issues/6437, i found an interesting problem:
[code]

It turns out that netty qants the following http2 ciphers:
[code]

none of those is provided by J9
However J9 has those:
[code]
(Output from https://confluence.atlassian.com/stashkb/list-ciphers-used-by-jvm-679609085.html)

So all ciphers required by the http2 spec are actually present, but thei

[2017-03-08 18:35] CodingFabian commented on #6516
And confirmed, that adding the same names but with SSL works. I am going to open a PR, then we can discuss if this is the right thing to do :)

[2017-03-08 19:47] Scottmitch commented on #6508
This is not the issue. See https://github.com/netty/netty/issues/6508#issuecomment-284868914. The issue is `Illegal option: –keystore`.

In order to provide assistance all of the steps to reproduce the issue must be listed. In this case the generation of the certificates/keys are relevant.

Please answer my question from https://github.com/netty/netty/issues/6508#issuecomment-284870327 ... why ste

[2017-03-08 19:54] Scottmitch commented on #6516
Hmm it seems that the JSSE spec wants to treat the "TLS" and "SSL" prefix as interchangeable [1].

If the `SupportedCipherSuiteFilter` is used then hopefully adding both prefixes will not have any impact ... but we can verify with unit tests.

[1] http://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html

[2017-03-08 20:07] normanmaurer commented on #6507
@meshcow PTAL https://github.com/netty/netty/pull/6518

[2017-03-08 20:28] ClarkHobbie commented on #6508
To avoid the following error:

keytool error: java.lang.Exception: Failed to establish chain from reply

keytool wants the certificate authority to be installed before the server certificate.

[2017-03-08 20:33] Scottmitch commented on #6511
can you provide a means to reproduce this? I can think of why there might be a difference between `EPOLL` and `NIO` but in general they should behave the same.

[2017-03-08 20:36] Scottmitch commented on #6508
As described above I am unable to run the reproducer you provided. Please address the issues listed above and report back.

[2017-03-08 20:53] meshcow commented on #6507
looks good now!

[2017-03-08 21:08] rstoyanchev commented on #6511
There is a runnable [application here](https://github.com/bsideup/SPR-15306/blob/master/src/main/java/com/example/DemoApplication.java) you can run with `gradle bootRun` or from an IDE using the main class.

From the command line `curl -v http://localhost:8080/` and at any time after Ctrl+C. Only one event will be sent but the server keep logging events but not write due to the `distinctUntilChang

[2017-03-08 21:45] ClarkHobbie commented on #6508
Appologies regarding -import/-keystore issue, I misunderstood.

I took a look at the docs and according to http://docs.oracle.com/javase/8/docs/technotes/tools/unix/keytool.html -keystore is a valid option.

If creating the truststore and serverkeystore are causing problems, I can remove those steps from the README

I have modified SSLTest so that the user input does not block the EventLoop.

[2017-03-08 22:03] ClarkHobbie commented on #6508
I just noticed that the server side is now printing out the following:

Mar 08, 2017 2:48:30 PM io.netty.channel.DefaultChannelPipeline onUnhandledInboundException
WARNING: An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
io.netty.handler.codec.DecoderException: javax.net.ssl.SSLExcepti

[2017-03-08 22:40] Scottmitch commented on #6508
As discussed in https://github.com/netty/netty/issues/6508#issuecomment-285148114 ideally I want to be able to retrace your steps for how the certificates/keys are generated. This will help provide more context into the scenario. We have many unit tests and users which do successfully do handshakes and a known difference are your keys/certs.

[2017-03-09 00:09] ejona86 opened #6520 "http2: Compatibility issue: SETTINGS ACK may be reordered"
### Expected behavior

When receiving a SETTINGS frame, the ACK would be sent before any frames that make use of the new settings.

For example, say MAX_CONCURRENT_STREAMS=0 initially. When receiving a SETTINGS with MAX_CONCURRENT_STREAMS=1, the SETTINGS(ACK=true) would be sent before a HEADERS for a new stream. Similarly for INITIAL_WINDOW_SIZE increasing the window size; the SETTINGS(ACK=true) s

[2017-03-09 00:52] ejona86 commented on #6520
Reproduction:

I've used it to confirm (1) above resolves the problem (move `encoder.writeSettingsAck` earlier). In this reproduction, the client is sending a large message and misbehaves.

[code]

Server-side log (where client is misbehaving). You can see that it sends `RST_STREAM: streamId=3, errorCode=3` before the `SETTINGS: ack=true` is received.

[code]

[2017-03-09 01:50] ClarkHobbie commented on #6508
In order to generate truststore and serverkeystore using my instructions, you need to get a version of keytool that supports -keystore.  This should be included in java 8 which you can download from http://www.oracle.com/technetwork/java/javase/downloads/index-jsp-138363.html

Please note that the same files, truststore and serverkeystore, work without modification with core Java and mina.  See ht

[2017-03-09 02:43] Scottmitch commented on #6520
@ejona86 - Thanks for reporting! I have a unit test for this issue now and will submit a PR soon.

[2017-03-09 02:53] Scottmitch commented on #6520
@ejona86 - In terms of your 2nd suggestion I *think* we should be OK with the current setup because `Http2ConnectionHandler` forces a `flush()` in `channelReadComplete()` ... but lets handle that in a followup PR because I think the 1st suggestion is sufficient to fix this issue. any objections to this approach?

[2017-03-09 03:19] ejona86 commented on #6520
@Scottmitch, yeah, just doing (1) now sounds fine and is lower risk.

[2017-03-09 05:52] fangqiao opened #6522 "[error] (run-main-0) java.lang.IllegalStateException: failed to create a child event loop"
My startup's REST API services is based on Netty and use Elasticsearch's Java client API to connect to ES servers.

Es was 5.1.2 and now it is being upgraded to 5.2.0 so is the Java client API.

During upgrade testing, the REST API service can not be started. Error trace is as bellow.

The REST service is built with Scala 2.11.8, with SBT as the build tool. Help much appreciated as it is at beta t

[2017-03-09 06:36] Scottmitch commented on #6522
What cause trace (each `getCause()` until null) of this exception?

[2017-03-09 06:45] normanmaurer commented on #6522
@Scottmitch yeah its because he tries to use the native transport while `sun.misc.Unsafe` is not accessible.

@fangqiao please use the NIO transport if you can not use `sun.misc.Unsafe`. In 4.1.8.Final we throw a more meaningful error.

[2017-03-09 06:45] #6522 closed

[2017-03-09 06:46] Scottmitch commented on #6522
That is what I figured. Update Netty :)

[2017-03-09 06:50] wolvever opened #6523 "Is there any Netty metrics available"
Found this `https://mvnrepository.com/artifact/io.netty/netty-metrics-yammer` that haven't been updated since 2012.

Started netty/example application, didn't find any jmx metrics specific to netty using jconsole.

The latest discussion related seems to be `https://github.com/netty/netty/issues/4981`.

Didn't see any issue in milestone 4.1.8/4.1.9 mentioned about metrics.

Does that means Netty me